[2019-08-20 15:30] jrfastab commented on #8963
@tgraf emailed report had a set of iptables errors as well were these unrelated?

[2019-08-20 15:33] tgraf commented on #8963
@jrfastab I think they were unrelated.

[2019-08-20 16:35] jrfastab commented on #8963
I'm guessing minikube runs with ipv6 disabled by the output.

[2019-08-20 17:02] brb opened #8971 "NodePort BPF service cannot be reached when L7 policy is applied / L7 visibility is enabled"
A NodePort BPF service cannot be reached when:

- and L7 allow all policy is applied,
- and a request to the service is sent to a host which runs the service endpoint pod.

Sending the request to a host which SNATs the request and forwards it to the destination host works as expected.

The request (TCP SYN) enters the relevant TPROXY rule at the receiving host, and then disappears:

[code]

[2019-08-20 18:43] joestringer commented on #8960
Dropping backport label, that's now on the bugfix PR.

[2019-08-20 18:44] joestringer commented on #8960
Original problem wasn't that reverse NAT was occurring at the source pod per se (that logic is there, but it's not the logic that caused the issue), but rather that Cilium was still attempting to route / tail-call between endpoint BPF programs even in `--enable-endpoint-routes` mode. This caused the translation to occur in the context of the egress BPF program before routing rather than the ingres

[2019-08-20 21:05] danderson opened #8979 "Enable DSR for LoadBalancer traffic"
## Proposal / RFE

(filing this per request on Twitter, https://twitter.com/ciliumproject/status/1163916359878754306)

**Is your feature request related to a problem?**

LoadBalancer traffic on Kubernetes must currently choose between two not-great options. If you use `externalTrafficPolicy: Cluster`, the traffic gets SNATed and you lose client IP information. If you use `externalTrafficPolicy: Lo

[2019-08-20 21:05] borkmann opened #8980 "silence harmless warning about CILIUM_TRANSIENT_FORWARD on agent start"
It's a harmless warning and should not show up in the log:
[code]

[2019-08-20 21:07] danderson commented on #8979
I should add: the description above of how `externalTrafficPolicy` behaves is based on how kube-proxy implements it today. It's possible Cilium already does something smarter than this, I haven't had time to test-drive Cilium 1.6 and its "100% kube-proxy replacement" yet :)

[2019-08-20 22:24] joestringer opened #8982 "Cilium v1.6.0 fails to start on GKE cos_containerd images"
Cilium agent fails to start because it cannot configure transparent proxying iptables rules, likely due to a missing `xt_socket` kernel module (and friends `nf_socket_ipv4`, `nf_socket_ipv6`).

[code]

[2019-08-20 22:28] #8960 closed

[2019-08-20 22:31] #8963 closed

[2019-08-21 03:02] xiajidexue opened #8985 "Cilium pods are always in CrashLoopBackOff status"
Tools version:
![image](https://user-images.githubusercontent.com/6821543/63399744-10a9fd80-c404-11e9-9a11-6fceb585fe45.png)
---------------------------------
Results : Pods are always in CrashLookBakcOff status:
![image](https://user-images.githubusercontent.com/6821543/63400070-21a73e80-c405-11e9-92a4-64889b3f6800.png)

---------------------------------
Steps to reproduce:
1.  Enable CNI in Kube

[2019-08-21 07:08] joestringer commented on #8985
It looks like there is already a vxlan tunnel device on the node, but it must be removed before you start Cilium because Linux only allows one vxlan device to be configured at a time.

[2019-08-21 08:23] xiajidexue commented on #8985
@joestringer, much appreciated for your quick response, i will try it later :)

[2019-08-21 08:33] xiajidexue commented on #8985
@joestringer,  just verified and passed, thanks a lot for ur great help! it saves my time:)

[2019-08-21 08:33] #8985 closed

[2019-08-21 11:33] #8982 closed

[2019-08-21 15:14] ianvernon opened #8987 "move api-related code to `pkg/endpoint/api.go`"
Having smaller files makes committing to git easier when working on code. It also makes it easier to find code in the codebase.

See: https://github.com/cilium/cilium/pull/8976#discussion_r316138181

[2019-08-21 17:32] joestringer commented on #8982
Quote from slack regarding this issue on v1.6.0:

This will be addressed in v1.6.1.

[2019-08-21 17:38] joestringer opened #8990 "Cilium crashes with RTNETLINK answers: Address already in use"
Cilium can go into `CrashLoopBackoff` when deployed on a node that has previously (or currently) deployed other CNIs such as flannel, calico.

### Symptoms

A failure case for Cilium when another CNI has been deployed before is that Cilium will crash out with the following error in the logs:

[code]

### Explanation

This error comes from the kernel, which is trying to communicate that there is al

[2019-08-21 17:39] #8990 closed

[2019-08-21 18:19] ianvernon opened #8992 "endpoint: do not export majority of fields"
Exporting of fields results in implementation leakage, which occurs often for the Endpoint. To ensure that we are able to restructure the Endpoint package to be more maintainable, make its fields / a lot of the functionality for it private if possible. To do this, we need to do the following:

- [x] Have custom JSON Marshaler / Unmarshaler for Endpoint to ensure we don't break downgrade / upgrade

[2019-08-22 00:39] joestringer opened #8998 "L7 policy drops all traffic in GKE COS environments"
In GKE COS environments with cilium latest (affecting also v1.6.0), users have observed that when running through the [L7 HTTP Getting started guide](http://docs.cilium.io/en/stable/gettingstarted/http/), once the L7 policy is applied, traffic does not reach the destination; even the traffic which should be denied does not result in an L7 deny, it's just dropped instead as though it is not allowed

[2019-08-22 02:49] xiajidexue opened #9002 "Pod cannot be created without any exceptions after"
Tools Version:
![image](https://user-images.githubusercontent.com/6821543/63481970-abb8db00-c4c9-11e9-9296-4ebcb2fe430e.png)

Result: Deployment shown but without any pods and rs info

![image](https://user-images.githubusercontent.com/6821543/63483050-aa89ad00-c4cd-11e9-87be-3c0afa430c75.png)

Cilium agent log:
![image](https://user-images.githubusercontent.com/6821543/63482079-1ff37e80-c4ca-11e9

[2019-08-22 07:31] #8998 closed

[2019-08-22 08:48] #8476 closed

[2019-08-22 14:26] ianvernon opened #9007 "v1.6: fix case where we do not notify upon restore that endpoint has not been regenerated"
See https://github.com/cilium/cilium/pull/8972#discussion_r316605999

Not sure if this applies to v1.5 as well.

[2019-08-22 14:30] #8987 closed

[2019-08-22 14:42] ianvernon opened #9008 "DNS: replace callback with `EndpointLookup` interface"
See https://github.com/cilium/cilium/pull/8742#discussion_r316696933

[2019-08-22 17:07] ianvernon opened #9009 "documentation: add formatted release notes to the GitHub release"
We post these on the Slack, add them to the GitHub release too as they are more human-readable and are organized better.

[2019-08-22 23:07] joestringer opened #9017 "Fix extraneous warning messages for CEP synchronization of health endpoint"
### Summary

If the cilium-health endpoint is broken, then each time it is restarted a log shows up like this in the logs for the previous iteration of the health endpoint:

[code]

### Impact

Extraneous warning messages in the logs in some corner cases.

### Discussion

I'm not sure whether the health EP is successfully added into the k8s CEP in the first place, but clearly the `k8sPodName` abov

[2019-08-23 08:37] brb opened #9018 "kube-proxy-free: connect to multiple kube-apiservers"
Currently, for Kubernetes deployments w/o kube-proxy, we ask users to specify only one kube-apiserver non-virtual IP addr + port. This overrides the KUBE_SERVICE_{HOST,PORT} env vars of the cilium-agent pod, which makes cilium-agent's k8s client to connect to that particular kube-apiserver (see #8995 for this hack reasoning).

In the case of multi-master setup, cilium-agent won't be able to connec

[2019-08-23 12:49] daviddyball commented on #8820
I'm seeing this too on a `kops` provisioned `1.10.12` cluster @tgraf. I resolved it by editing the `cilium` `ClusterRole` and adding `componentstatuses` `list` and `get` privileges and it started working.

I'm trying to find out if `componentstatuses` is deprecated or perhaps moved to a different `apiGroup` in later versions of Kubernetes.

Granted we should upgrade our cluster to > `1.10.12`, so

[2019-08-23 14:17] nustiueudinastea commented on #504
Hi folks! Someone mentioned WireGuard higher in the comments and I would like to re-ask the question. Did you consider WireGuard as an alternative for IPsec? Perhaps at the moment it’s more difficult to implement since you can’t use a preshared key and wg is not merged in the kernel yet but it would be a very interesting alternative since it’s supposed to have better performance than IPsec. At 10g

[2019-08-23 14:37] tgraf commented on #8820
👍

We have replaced the call to `componentstatuses` to `namespaces` which is portable across all versions and not subjection to restrictions.

[2019-08-23 14:38] tgraf commented on #8820
Fixed by #8855

[2019-08-23 14:38] #8820 closed

[2019-08-23 14:55] brb commented on #8945
Managed to reproduce with `cilium monitor -D -v` being enabled. Anyway, it seems that TCP SYN sent from the client Pod (`10.10.1.86`) sent to `http://127.0.0.1:30453` via `bpf_sock` got unexpectedly SNAT'd by netfilter/iptables (`10.10.0.249` is the IP addr of the NodePort endpoint running on the other node):

[code]

Previously, the same Pod sent a request from the same source port to the NodePor

[2019-08-23 16:39] joestringer opened #9024 "Document all of the helm options"
It would be really helpful for users to have a single location that defines all of the possible helm values, and ideally have links to the configmap options to see the impact of those options.

If we could auto-generate these based upon the helm charts, then even better.

Maybe I'm missing this documentation, and if so please link it and close the issue.

[2019-08-23 16:41] joestringer commented on #9024
The options are defined here:

https://github.com/cilium/cilium/blob/master/install/kubernetes/cilium/values.yaml

We should be able to convert these into a sphinx format for the documentation website, for easier access.

[2019-08-23 17:16] ianvernon opened #9026 "v1.5.7 release"
- [x] Check that there are no outstanding issues / PR that block the release which have not been backported / addressed
- [x] Update GitHub project and create `v1.5.8` project
- [x] Update PRs / issues that were added to the `v1.5.7` project, but didn't make it into this release into the `v1.5.8` project
    - [x] Issues marked with `needs-backport/1.5`
    - [x] PRs marked with `needs-backport/1.

[2019-08-23 18:16] #9026 closed

[2019-08-23 20:41] ianvernon commented on #8372
@raybejjani you had mentioned this a while back - is this still a concern?

[2019-08-23 21:30] jrfastab commented on #7304
User request on #general we can fix up existing PR a bit and submit.

[2019-08-23 21:30] dsx commented on #7304
It would be nice to have IPsec keys to rotate automatically (and/or get created if none exists in config).

[2019-08-23 21:30] jrfastab commented on #7304
Automatically generating them seems like a nice addition IMO.

[2019-08-25 05:07] #6923 closed

[2019-08-25 08:02] #8671 closed

[2019-08-25 14:22] jedblack opened #9035 "Direct-routing mode documentation inaccurate"
Per this slack [thread](https://cilium.slack.com/archives/C53TG4J4R/p1566438387191500)

The "Notes" section detailing the IPv4 -vs- IPv6 limitations are not accurate.

Also, perhaps all the details shared in that slack thread should be detailed in the documentation.  It would be very helpful to understand the pros/cons of using Overlay -vs- Direct-Routing mode as it pertains to features & function

[2019-08-25 14:25] #8283 closed

[2019-08-26 12:24] raybejjani commented on #8775
This seems to have happened again on 1.6.
https://jenkins.cilium.io/view/Cilium-v1.6/job/cilium-v1.6-standard/93/testReport/junit/Suite-k8s-1/15/K8sIstioTest_Istio_Bookinfo_Demo_Tests_bookinfo_inter_service_connectivity/

From what I can tell, connectivity went away for a bit, and that caused coredns to restart. During this time, istio-policy failed DNS lookups and entered a backoff loop. coredns

[2019-08-26 12:29] raybejjani opened #9041 "CI: cilium-operator sometimes takes 5+ minutes to become ready in k8s 1.10 tests"
The 1.10 tests seem to take about 30 minutes longer than the 1.15 tests. It also runs net-next and so runs some more tests. In any case, there are clear gaps in the logs when bringing up cilium-operator (grep for "waiting for cilium-operator"). This happens in 1.15 but it is much less severe (a few seconds vs minutes).

[2019-08-26 12:33] raybejjani commented on #8819
https://jenkins.cilium.io/view/Cilium-v1.6/job/cilium-v1.6-standard/89/

[2019-08-26 13:57] raybejjani commented on #6728
https://jenkins.cilium.io/view/Cilium-v1.6/job/cilium-v1.6-standard/89/

[2019-08-26 15:23] krsna1729 opened #9042 "Support datapath of choice CNI chained with Cilium networking inside pod netns"
## Proposal / RFE

**Is your feature request related to a problem?**
No

**Describe the solution you'd like**
Ability to use other CNIs to plumb datapath (only) in which most/all stack processing happens within pod netns to exit the machine - ipvlan L2, macvlan, sriov, etc.,. In a way this can be thought of as making the current ipvlan logic, plus missing pieces, an option in CNI chaining framewor

[2019-08-26 16:24] brb commented on #8774
kubeadm can be ticked after https://github.com/kubernetes/website/pull/16002 has been merged.

[2019-08-26 16:32] tgraf commented on #8679
Likely background of this was 2 mutex + buffered channel problem

[2019-08-26 16:40] raybejjani commented on #9041
Running some sanity checks, it seems to be something between 1.10 and net-next
k8s 1.10 with not-net-next: doesn't happen
k8s 1.15 with net-next: doesn't happen
Disabling DatapathConfiguration tests: still happens

[2019-08-26 16:42] tgraf commented on #8816
Workaround merged via #8810. User has not seen this again.

[2019-08-26 16:50] tgraf commented on #9041
Theory: Could be related to the componentstatus related ping

[2019-08-26 20:48] joestringer opened #9046 "KVStore lock for identity gets stuck"
### Environment

- Cilium v1.5.7
- Dedicated etcd
- Recent upgrade of etcd

### Symptoms

User cannot deploy a pod with particular labels into the cluster. Kubectl describe shows "Failed create pod sandbox errors" where the CNI failed to create the endpoint due to context deadline exceeded:

[code]

Cilium status reports that etcd connectivity is fine:
[code]

Cilium logs report endpoint creation

[2019-08-26 20:54] joestringer opened #9047 "Document kvstore lock paths"
KVstore lock paths should be documented here so users can better understand how they are formatted:

http://docs.cilium.io/en/latest/kvstore/#identities

[2019-08-27 07:24] xiajidexue commented on #9002
Yes, the problem is still there. Pod cannot be created or deleted once the flag --allocate-node-cidrs   configured, but without obvious reasons. The pod with  Init:ErrImagePull status is a former one for a unavailable network, which does not matter with the flag adoption.

[2019-08-27 07:45] mohag commented on #4057
The 1.6 release notes mentions "[kvstore free operation](https://cilium.io/blog/2019/08/20/cilium-16/#kvstorefree)", which seems to fix this...

Some of the seemingly related PRs:
#8573
#8496
#8236
#8627

[2019-08-27 08:51] tgraf commented on #4057
@mohag Yes, thanks for pointing this out.

Fixed by #8573

[2019-08-27 08:51] #4057 closed

[2019-08-27 08:53] tgraf opened #9052 "Allow overwriting AWS instance limits via option"
See https://github.com/cilium/cilium/pull/9051#discussion_r317881279 for details

[2019-08-27 09:53] kenieevan commented on #5048
hello, guys, beside the trace/monitor method , is it possible to impelment a kernel module to traverse the bpf map, and do the filter, delete. Using this way, system call is avoided, and you can take rcu lock most of the time.

[2019-08-27 11:05] #8129 closed

[2019-08-27 15:51] ianvernon opened #9056 "endpointmanager refactoring follow-up"
Follow-up from: https://github.com/cilium/cilium/pull/9025#discussion_r317988088

* Can we decouple endpoint ID allocation from endpointmanager?
* Can we remove weird codepaths (endpointmanager --> endpoint --> endpointmanager) ?
* Is it safe to change how we update references in the endpointmanager by grabbing the endpoint lock for each field we are updating? (This brings to mind my question abou

[2019-08-27 18:19] raybejjani commented on #9041
This is now gone on master, since we updated to k8s 1.11 :/ it still happens on the 1.6 branch, however.

[2019-08-28 01:19] kenieevan commented on #5048
@joestringer thanks for your reply.   i did some experiement and find that  compared with ipvs+iptables SNAT, bpf  cps  is  140%  better.   our main concern is that LRU maybe not secure enough.  when there are a lot of new connection coming,  some long and idle connections may be evicted even they are not timeout.   I think the best solution maybe add timer entry in the bpf hash map, however there

[2019-08-28 15:30] raybejjani commented on #9041
I'll close this for now but I'll keep an eye out for it (I've definitely told everyone about it ;) )

[2019-08-28 15:30] #9041 closed

[2019-08-28 21:20] AlexsJones opened #9071 "Cilium Google GKE start up "Unable to delete Cilium iptables chain""
**what?**

Cilium inoperable whilst following GKE guide.

[code]

**How?**

`https://docs.cilium.io/en/stable/gettingstarted/k8s-install-gke/`

Following the above guide getting to this stage

[code]

When we take a deeper look

[code]

Looks like it's related back to our cilium pods not firing up.

Any suggestions welcome

---

Additional specific details here:

**Get all**

[code]

**Operator**

[2019-08-28 21:27] borkmann commented on #3077
Closing, veth has native XDP support upstream.

[2019-08-28 21:27] #3077 closed

[2019-08-29 06:17] #8980 closed

[2019-08-29 07:33] AlexsJones commented on #9071
Checking again this morning, I've restarted Cilium but it seems to be locking with some stateful behaviour.

[code]

When there seems to be an issue restarting the kubelet and subsequently the initial error I saw previously

[code]

[2019-08-29 08:35] brb opened #9076 "Support Service sessionAffinity"
Kubernetes allows to specify a session affinity for a Service: https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.15/#sessionaffinityconfig-v1-core. Currently, only `clientIP` is supported. This makes connections from a particular client to be routed to the same backend.

The implementation of the affinity in `kube-proxy` is based on the `recent` iptables module: https://github.com/k

[2019-08-29 09:16] brb commented on #9071
Thanks for the report.

Google GKE's Container-Optimized OS kernel is currently missing the `xt_socket` module, therefore you get the error when inserting the iptables rule using `-m socket`. The rule is going to be optional in the upcoming release v1.6.1: https://github.com/cilium/cilium/issues/8982. For now I would suggest to switch to the Ubuntu node image on GKE.

[2019-08-29 09:16] #9071 closed

[2019-08-29 10:36] brb commented on #504
@nustiueudinastea Yes, we have an issue for this: https://github.com/cilium/cilium/issues/7519.

[2019-08-29 16:07] ianvernon commented on #9007
Fixed by #9043

[2019-08-29 16:07] #9007 closed

[2019-08-29 23:58] joestringer opened #9083 "DNS matchpatterns only allow host name syntax, not full domain name syntax"
We have had user reports that they are attempting to use DNS policy in conjunction with domain names in their network that begin with an underscore (`_`).

Reviewing the `pkg/fqdn/matchpattern/matchpattern.go` code it appears that we have restricted users to the RFC1123 [host name syntax](https://tools.ietf.org/html/rfc1123#page-13) rather than the RFC2181 [DNS name syntax](https://tools.ietf.org/

[2019-08-30 00:23] joestringer commented on #9083
Should we really continue to limit the character set handled by the proxy given that we do not match more specifically on particular record types that could otherwise further restrict the character set that is allowed?

https://tools.ietf.org/html/rfc1123#page-79

                 string of labels each containing up to 63 8-bit octets,
                 separated by dots, and with a maximum total o

[2019-08-30 06:09] AlexsJones commented on #9071
Thanks I will switch and confirm

[2019-08-30 09:00] borkmann opened #9086 "v6 connectivity broken upon daemon restart due to failed neigh probes on router address"
While testing #9062, I noticed that v6 connectivity gets broken from time to time. Turns out that the reason is the following: 1) we start up the agent, 2) we create a container/pod, 3) in the latter we set a default route with ROUTER_IP. The container is doing neighbor solicitation requests to the ROUTER_IP once it neigh entry becomes stale and needs to be reprobed. 4) daemon restarts. Now the co

[2019-08-30 09:24] borkmann commented on #9086
Confirmed regression in 1.6.

[2019-08-30 09:40] borkmann commented on #9086
Regression caused by ae856dda43b4538e567190ec2db9f8a9c54e1c99

[2019-08-30 09:45] borkmann commented on #9086
Before (picks `2001:db8:5::1`):
[code]
[ restart ]
[code]

After ae856dd (`ROUTER_IP` is now random after every restart, the internal v4 one not):
[code]
[ restart ]
[code]

[2019-08-30 09:49] raybejjani opened #9087 "CI: K8sChaosTest Connectivity demo application Endpoint can still connect while Cilium is not running"
Previous, possibly related, issues: #6684 #3993 This one was different enough that I wanted to make a separate issue.

The test fails because ping times out to a deleted testds instance. `10.10.0.204` is `testds-d92w6` on `k8s1` and `testclient-g9g8w` is on `k8s2`. `10.10.0.250` is the cilium internal IP for `cilium-qsjq4` on `k8s1`.
Oddly, the pod with that IP isn't managed by either cilium and i

[2019-08-30 10:04] raybejjani commented on #9087
Oh, it failed to restore... and then we just delete it yolo. We also apparently just switch which ipv6 range we use? to f00d::a0a from f00d::1 ??????
[code]

[code]

[2019-08-30 12:49] tgraf opened #9088 "Enable proxy visibility without influencing policy"
When enabling proxy redirection, it currently requires a policy with L7 rules to be configured. This obviously has side effects as it enables default deny for applied endpoints.

Many use cases require L7 visibility without the side effect of affecting policy enforcement as well, i.e. enablement of L7 visibility should not change the default allow behavior of a pod and combination with additional

[2019-08-30 15:15] raybejjani commented on #9083
With ascii characters (but really any unicode since we're using go regexes) this is just a validation side limitation. The issue arises when the matchers we use are on arbitrary data and not on a subset of ascii. This might make the lookups faster if we end up with the right data structure but it is more complex.
In the no-limits case, what is the syntax we support? and how do we define the wildca

[2019-08-30 15:18] #9086 closed

[2019-08-30 15:24] borkmann opened #9093 "collectEvent: Ignoring unknown identity type '%!s(<nil>)': <nil>"
Seen on master (`Ignoring unknown identity type`). Used with plain docker plugin:
[code]

[2019-08-30 16:28] joestringer commented on #9083
One dimension to this is that the matchers must be able to be validly encoded in both JSON and YAML for the policy to be imported (I guess technically only JSON is required since we serve the policy as JSON but most users will configure it in YAML which we must then be able to render in JSON), related links..

https://tools.ietf.org/html/rfc7159#section-8
https://yaml.org/spec/1.2/spec.html#id2770

[2019-08-30 18:04] aanm commented on #9046
It doesn't seem to be Cilium related, will wait until we have more info.

[2019-08-30 18:29] joestringer commented on #9046
For any future users that hit this, it would be useful to also gather and share information from cilium pods using the following command:

[code]

If you wish to share these logs privately, please reach out to the developers on Slack with reference to this issue.

[2019-08-30 22:10] borkmann opened #9095 "make v6 + tunneling + ipsec cilium_host proper"
Out of scope from #9062 which addressed connectivity in general and node port support. But ipsec still needs follow-up for v6.

[2019-09-02 09:03] borkmann commented on #8865
[code]

[code]

[2019-09-02 09:20] borkmann opened #9099 "cilium status --verbose allocated addresses looks corrupted"
Seen in master:
[code]

[2019-09-02 09:23] borkmann commented on #8865
See `Blacklisting local route as no-alloc`, remapping v4 range to a non-overlapping one e.g. via `--ipv4-range 192.168.0.0/16` resolves the address allocation issue. Perhaps more intuitive error message would be desirable. Closing for now.

[2019-09-02 09:23] #8865 closed

[2019-09-02 09:39] borkmann opened #9100 "Cilium: can't update network policy, proxy disabled"
Seen on master, container cannot be created:
[code]
Agent is run as:
[code]
There's no policy installed.
[code]
Expectation would be that regeneration does not fail.

/cc @jrajahalme

[2019-09-02 09:48] borkmann commented on #9100
Workaround I have locally for the regeneration:
[code]

[2019-09-02 10:33] brb opened #9103 "cilium-health reports failed check due to Unavailabe IP addr of node"
Cilium v1.6.0.

A user reported on slack (https://cilium.slack.com/archives/C1MATJ5U5/p1566897812019400) that `cilium-health` reports a failed check due to a node being `Unavailable` (= an IP addr of the node is not known to the health daemon):

[code]

cilium-health periodically fetches the list of Cilium nodes via the GET to `/cluster/nodes`. It also sets a `clientID`, so that cilium-agent can r

[2019-09-02 12:48] aanm opened #9106 "k8s upstream tests broken"
upstream GH issue https://github.com/kubernetes/test-infra/issues/14165

[2019-09-02 13:40] AlexsJones commented on #9071
I can confirm Cilium runs on ubuntu GKE, however heapester and event-exporter are in crash loops

[2019-09-02 13:55] #9099 closed

[2019-09-02 22:49] #8363 closed

[2019-09-03 08:01] #8654 closed

[2019-09-03 08:48] brb commented on #9071
@AlexsJones Thanks for the update. The crash loops are probably due to a different issue.

[2019-09-03 08:50] #1376 closed

[2019-09-03 08:51] #716 closed

[2019-09-03 08:56] borkmann opened #9110 "cilium, lb: fix/improve backend selection"
https://cilium.slack.com/archives/C1MATJ5U5/p1567426411053100
- [x] prandom
- [x] tmo vis cmdline

[2019-09-03 09:43] lbernail opened #9112 "MTU issue when using "encrypt-node""
When we send packets at MTU size (or close to it) between 2 nodes with encrypt-node enabled they are dropped.

All tests on a host with jumbo frames enabled on the physical interface (MTU=9001)

Using a simple ping command I found out that the maximum size I can use is 8842 for ping which results in and ethernet payload of 8850 bytes and an encrypted payload of 8904 bytes
After 8843 (payload: 8851

[2019-09-03 11:12] borkmann commented on #9110
https://github.com/cilium/cilium/commit/c85648b24a089b2923aedc5c022017229edaeac4

[2019-09-03 13:14] brb opened #9115 "No rev-NAT xlation for service replies in CNI chaining"
A user reported that a pod was failing to connect to the kube-apiserver running on the other node. They are using Cilium with AWS-VPC CNI via the recently introduced CNI chaining (`--cni-chaining-mode=aws-cni`).

The relevant tcpdump output from the pod netns:

[code]

- `100.64.0.1:443` - ClusterIP of the kube-apiserver service.
-  `10.75.39.76` - the client pod IP addr.
-  `10.75.40.126` - the n

[2019-09-03 15:35] ianvernon commented on #9088
A few questions regarding the annotation - what constitutes a "configurable proxy" - would this be something like `io.cilium.annotation:80/HTTP`? is the "configurable" part of the proxy based off of the protocol used? Envoy is for HTTP + Golang extensions, Kafka is for the kafka proxy, and DNS is for the DNS proxy. Is this what you were envisioning, @tgraf ?

[2019-09-03 15:38] ianvernon commented on #9088
Things to investigate - lifecycle of an annotation - can we apply it per-deployment and have that annotation present on all pods launched by that deployment? This is simple to experiment with in a sandbox environment.

[2019-09-03 15:38] JrCs commented on #9018
Is it possible to use a vip (manage by an external LoadBalancer) for the kube-apiserver ?
In my case i use openstack as my cloud provider and use it's loadbalancer (haproxy) to proxy connections to the kube-apiserver to the kube-apiservers that are listen on the master nodes.

[2019-09-03 15:42] ianvernon commented on #9088
Need to consider the following combinations:

* Proxy visibility without policy imported
* Proxy visibility + policy enforcement

How does traffic direction come into play here?

[2019-09-03 15:43] brb commented on #9018
@JrCs If that VIP is reachable from hosts running Cilium, then yes. You can pass the VIP (and port) via the `global.k8sService{Host,Port}` params, see http://docs.cilium.io/en/v1.6/gettingstarted/kubeproxy-free/.

[2019-09-03 15:47] ianvernon commented on #9088
Something similar had previously been done with 'ingress visibility policy' - would be good to resurrect that code, which will not be implemented the same, but may provide us with useful insight into various use cases that need consideration.

[2019-09-03 17:10] brb opened #9116 "NodePort BPF does not work with MetalLB"
Reported by a user, that MetalLB in L2 mode doesn't work with the BPF NodePort.

AFAIK, MetalLB L2 responds to an ARP request for a virtual IP assigned to LB. So, a request to a service has a dstIP=the virtual IP which makes the request to bypass the BPF NodePort SVC lookup as it doesn't have an IP addr of a netdev running the NodePort BPF program.

We should probably introduce a flag which would

[2019-09-03 17:16] #8367 closed

[2019-09-03 17:33] joestringer opened #9117 "Regeneration of endpoint failed: unable to regenerate policy because PolicyMap synchronization failed"
### Summary

After Cilium has run in a cluster for some time, connectivity issues begin to appear from previously deployed endpoints to newly deployed endpoints, and from newly deployed endpoints to arbitrary other endpoints.

This issue typically occurs in environments where `cilium-operator` is not running, in conjunction with permissive network policies (for example, allowing connectivity to al

[2019-09-03 17:33] #9117 closed

[2019-09-03 17:53] joestringer commented on #9088
Be aware that https://github.com/cilium/cilium/issues/9083 could plausibly lead to DNS denies if we implement a simple redirect with DNS rules that allow `*`. That said it's pretty unlikely and dependent on FQDN schemes used within the cluster.

[2019-09-03 17:57] joestringer commented on #8440
This has been resolved in v1.6.0 with the helm templating work.

[2019-09-03 17:57] #8440 closed

[2019-09-03 17:59] joestringer commented on #5700
Resolved in latest dev VM images.

[2019-09-03 17:59] #5700 closed

[2019-09-03 18:03] #1997 closed

[2019-09-04 07:57] brb commented on #9116
Alternatively, we could create the mapping `LB VIP => backends` in the BPF SVC map, as the LB VIP should be known to cilium-agent: https://kubernetes.io/docs/tasks/access-application-cluster/create-external-load-balancer/#finding-your-ip-address. However, with this approach we would run into the same SNAT remote backend issue as ExternalIP did, because an LB port can be outside the NodePort range.

[2019-09-04 11:23] aanm opened #9123 "Chage status of container runtime "Container runtime is not ready""
Since we have disabled container runtime integration by default, a user might worry there's something wrong with his setup since `cilium status` displays "Container runtime is not ready" which should be changed to "Container runtime is disabled"

[2019-09-04 14:41] #9110 closed

[2019-09-04 17:42] gkze opened #9127 "Documentation: typo"
In https://cilium.readthedocs.io/en/stable/intro/#simple-networking, under the first bullet point, "Overlay", I believe the phrase is meant to be "Encapsulation-based virtual network spanning all hosts" rather than "Encapsulation based virtual network spawning all hosts".

[2019-09-04 18:53] jcrowthe commented on #9046
I'm able to replicate this again. After running the requested for loop, I get the following:
[code]

[2019-09-04 19:40] #9127 closed

[2019-09-05 05:53] brb commented on #9115
As a temporary workaround, users can disable BPF services by setting `disable-k8s-services: "true"` in the cilium-agent ConfigMap.

[2019-09-05 07:12] borkmann opened #9134 "Fix k8s upstream kubadm guide with Cilium"
It's still on old 1.4 release, this should be fixed to cover 1.6:

https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/create-cluster-kubeadm/#tabs-pod-install-4

[2019-09-05 07:14] #9134 closed

[2019-09-05 07:38] borkmann commented on #9134
(PR aready out via https://github.com/kubernetes/website/pull/16002)

[2019-09-05 08:51] borkmann commented on #8589
Link to official doc is here: https://cilium.readthedocs.io/en/stable/gettingstarted/k8s-install-kubeadm/

[2019-09-05 08:51] #8589 closed

[2019-09-05 10:45] aanm opened #9136 "Reuse client when doing http probing"
The client that should be reused is on line 246

https://github.com/cilium/cilium/blob/9a9aa413d4b8fde1c1efd14e373f75026383d437/pkg/health/server/prober.go#L235-L246

[2019-09-05 10:58] ArthurChiao commented on #9136
I've looked at this piece of code during investigation. But, won't this `client` be garbage-collected and its connection released after this function finishes? @aanm

[2019-09-05 11:52] aanm opened #9137 "Do not log error when unable to lock endpoint"
https://github.com/cilium/cilium/blob/88f3fd5f08c3ca5671cf401744f4f3c0ee56d7ba/pkg/endpoint/endpoint.go#L1517-L1520

[2019-09-05 11:56] aanm commented on #9136
@ArthurChiao it will but the `http.DefaultTransport` reuses connections already established so there's no point in creating a new client for each `httpProbe`

[2019-09-05 12:01] ArthurChiao commented on #9136
Yes, so this is an improvement, not the root cause of the increasing of `OpenFDs`, am I right?

[2019-09-05 12:02] aanm commented on #9136
@ArthurChiao it can be the root cause the increase of `OpenFDs` because they are not reused.

[2019-09-05 14:11] borkmann opened #9140 "fix nodeport strict mapping and check host local entries"

[2019-09-05 14:12] borkmann commented on #7750
brb recently tested ipvlan gsg for 1.6.

[2019-09-05 14:12] #7750 closed

[2019-09-05 15:20] joestringer commented on #9115
Related: https://github.com/cilium/cilium/pull/8978

[2019-09-06 06:27] #9106 closed

[2019-09-06 06:56] enzian opened #9145 "CoreDns Pods continuously killed by operator"
## Support

I pulled up an AKS cluster and installed Cilium using the Helm chart with `--set global.etcd.enabled=true --set global.etcd.managed=true`

ETCD operator and cluster comes up but the cilium operator keeps on killing the 'coredns' pods! Any Idea why this would be?

Here is the log of the cilium operator pod:

[code]
I also noticed, that the cilium daemon set get's removed! Which makes no

[2019-09-06 07:18] aanm commented on #9145
@enzian Like you said, cilium-operator is trying to delete pods to get them connected to Cilium. If you want to disable this behavior you can set use the following flag available in `cilium-operator`.
[code]

The fact that Cilium got removed it might mean a different issue. Do you have any logs / events with why cilium DaemonSet was removed? Thanks!

[2019-09-06 07:30] enzian commented on #9145
@aanm I just noticed that it was suddenly gone...

[2019-09-06 07:50] aanm opened #9147 "CiliumIdentities (in CRD) are never GC"
https://github.com/cilium/cilium/blob/32d6166f7f0dd4bf1fdbc5953c6d5ebe19b1c6d1/pkg/k8s/identitybackend/identity.go#L207-L209

[2019-09-06 11:47] #8360 closed

[2019-09-06 15:51] aanm commented on #9147
Fixed #9152

[2019-09-06 15:51] #9147 closed

[2019-09-07 18:43] #9123 closed

[2019-09-07 19:04] ianvernon commented on #8492
Not observed for some time, closing.

[2019-09-07 19:04] #8492 closed

[2019-09-08 09:53] #7853 closed

[2019-09-08 17:19] zez3 commented on #4159
+1

[2019-09-08 20:57] borancar commented on #8162
This seems to be already implemented in 9b5ba08f135d36297c6f9b35c7ae70bce7197fbc. Is this issue solely about backporting it to a previous version?

[2019-09-09 08:05] tgraf commented on #8510
This has been completed in 1.6

[2019-09-09 08:05] #8510 closed

[2019-09-09 15:02] ianvernon commented on #8967
Fixed-by #9142

[2019-09-09 15:02] #8967 closed

[2019-09-09 16:15] ianvernon commented on #8957
Fixed as we have rebased to Istio v1.2.5.

[2019-09-09 16:15] #8957 closed

[2019-09-09 16:34] tgraf opened #9165 "Local vs host identity"

[2019-09-09 16:35] tgraf opened #9166 "Ability to point Ginkgo against arbitrary k8s cluster"

[2019-09-09 16:35] tgraf opened #9167 "CI: Support for managed k8s:"
- EKS
- GKE
- minikube
- microk8s

Supporting issues:
Refactor CI container registry to allow remote test execution https://github.com/cilium/cilium/issues/9245
Add override scheme for common CI dev targets https://github.com/cilium/cilium/issues/9246

[2019-09-09 16:36] tgraf opened #9168 "Service load-balancing refactoring of go code"

[2019-09-09 16:38] tgraf opened #9169 "Go modules"

[2019-09-09 17:34] #9136 closed

[2019-09-09 18:09] #8378 closed

[2019-09-09 20:00] ianvernon opened #9171 "v1.6.1 release"
- [x] Check that there are no outstanding issues / PR that block the release which have not been backported / addressed
- [x] Update GitHub project and create `v1.6.2` project
- [x] Update PRs / issues that were added to the `v1.6.1` project, but didn't make it into this release into the `v1.6.2` project
    - [x] Issues marked with `needs-backport/1.6`
    - [x] PRs marked with `needs-backport/1.

[2019-09-09 20:19] ianvernon opened #9173 "v1.5.8 release"
- [x] Check that there are no outstanding issues / PR that block the release which have not been backported / addressed
- [x] Update GitHub project and create `v1.5.9` project
- [x] Update PRs / issues that were added to the `v1.5.9` project, but didn't make it into this release into the `v1.5.9` project
    - [x] Issues marked with `needs-backport/1.5`
    - [x] PRs marked with `needs-backport/1.

[2019-09-09 20:27] ianvernon opened #9175 "v1.4.8 Release"
- [x] Check that there are no outstanding issues / PR that block the release which have not been backported / addressed
- [x] Update GitHub project and create `v1.4.9` project
- [x] Update PRs / issues that were added to the `v1.4.9` project, but didn't make it into this release into the `v1.4.9` project
    - [x] Issues marked with `needs-backport/1.4`
    - [x] PRs marked with `needs-backport/1.

[2019-09-09 23:41] #9173 closed

[2019-09-09 23:43] #9175 closed

[2019-09-12 12:36] joestringer opened #9188 "Ensure that `e.ctCleaned` is propagated across restart to ensure that each endpoint's IPs aren't always scrubbed from conntrack upon startup"
A brief reading of `pkg/endpoint/bpf.go:runPreCompilationSteps()` seems to suggest that in conntrack local mode we may end up scrubbing the CT table for an endpoint upon restart, even if this is clearly not a brand new endpoint (because it has been restored).

[2019-09-12 15:12] bradfitz opened #9190 "Printf format problem in error message"
## Bug report

**General Information**

- Cilium 1.6.0
- Debian buster, Linux 4.19.0-5-amd64
- Kubernetes 1.15.3

[code]

**How to reproduce the issue**

1. Used kubeadm to create 6 node 1.15.3 cluster (3 control, 3 workers)
2. installed Cilium 1.6.0
3. installed MetalLB in BGP mode
4. went to deploy first service (moving things by hand from an old Kubernetes cluster)
5. noticed it was failing to

[2019-09-12 19:08] #9188 closed, assigned to joestringer

[2019-09-12 19:24] aanm opened #9192 "Update nodeport documentation without global.tag=v1.6.0"
https://docs.cilium.io/en/v1.6/gettingstarted/kubeproxy-free/

And possibly remove the note (or at least the mention of the GH PR)

[2019-09-13 07:40] brb commented on #9136
I think all instances of `client` will be GC'd, and thus the corresponding FDs will be closed.

[2019-09-13 09:59] #9192 closed

[2019-09-13 10:25] brb commented on #9018
As mentioned by @aanm in https://github.com/cilium/cilium/pull/9089#issuecomment-526646341, most of HA installations have an external LB which points to kube-apiserver instances. Therefore, this issue is not relevant at the moment.

If anyone has a non-standard HA architecture which might benefit from this issue, please comment it here. Otherwise, I'm closing the issue for now.

[2019-09-13 13:03] brb commented on #8979
@danderson Thanks for opening the issue.

We are currently discussing the DSR support, as this would significantly simplify the NodePort BPF implementation due to making the BPF SNAT obsolete in the case NodePort.

As we do not distribute conntrack entries among nodes, either tunneling or embedding a service ID into the IP header of a packet will be required which could be not feasible for IPv4.

[2019-09-13 14:30] joestringer opened #9200 "Support policies across all namespaces"
Sometimes there are situations where it would be convenient to have a way to configure a set of common hosts that everything can talk to (for example, DNS, or other common infrastructure), regardless of namespace. Currently the user must create one policy for each namespace of their app, and recreate the common policy pieces for every other policy.

This feature request is to track demand for allo

[2019-09-13 15:32] joestringer commented on #9088
Additional questions:

* Is it fine for this visibility policy to apply to all L3 peers or should there be an L3-dependent mechanism?
* When folding against a network policy that is l3-only or l3-dependent l4, will it result in a change to denial behaviour, ie should visibility policy also convert L4 denies into L7 denies, thereby providing visibility into L3/L4 policy rejections in addition to th

[2019-09-13 16:39] #8630 closed

[2019-09-14 17:34] ianvernon commented on #9200
We could support having annotations which remove the namespace selector if it is not explicitly set.

[2019-09-14 23:20] ianvernon opened #9202 "endpoint state should only be managed by one goroutine at a time"
Being able to reason about endpoint state / guarantees on event handling is basically impossible if multiple threads can update endpoint state at the same time.

[2019-09-15 07:24] olemarkus commented on #7111
This is something we are interested in as well. Perhaps something that works similar to calico's global network policies.

[2019-09-15 07:28] olemarkus commented on #7111
We do consider network policies trusted so it is more about having default egress rules for every namespace. They actually should be overrideable by regular namespace-local policies

[2019-09-16 03:04] darwin67 opened #9205 "Flakiness with operator and daemonset after rotation of masters"
# Bug report

**General Information**
In short, I start seeing scheduling issues with both the Cilium operator and the DaemonSet itself after doing a rotation of the masters. You can see the [thread][thread] for a little more context.

[thread]: https://cilium.slack.com/archives/C53TG4J4R/p1568243935050100

To provide a little more context, I was doing a red/black deployment of the k8s masters. 3

[2019-09-16 08:21] brb commented on #9116
As per https://twitter.com/bradfitz/status/1173379692377718785, it seems that Cilium w/o kube-proxy doesn't work with MetalLB in BGP mode either.

[2019-09-16 09:41] brb opened #9206 "Listen on port of NodePort BPF service"
Currently, nobody prevents a process on a host to bind to a port which is used by a NodePort svc. If this happens, then a traffic to such process will be hijacked by the NodePort BPF.

We should do `net.Listen()` from the agent to prevent from this. Also, as we currently do not separate UDP and TCP services, we should listen on both protos.

In addition, this would simplify an implementation of th

[2019-09-16 09:58] brb opened #9207 "Differentiate between UDP and TCP services"
Currently, we do not differentiate between UDP and TCP services both in the BPF datapath and cilium-agent which means that services of different L4 protocols with the same port number cannot co-exist.

Solving the issue should be thoroughly thought, as we don't want to break the ongoing connections.

[2019-09-16 16:37] joestringer commented on #9088
Answering my questions from the Cilium meeting today:

* Visibility policy will apply to all L3 peers for a given direction, port, protocol.
* L4 drop will not be converted to L7 deny when visibility is applied to traffic which is otherwise dropped.

Main target is that this L7 visibility will integrate on top of, for example, no policy; or regular L3 policy, without having any impact on enforceme

[2019-09-16 16:47] joestringer commented on #7111
Related: https://github.com/cilium/cilium/issues/9200

[2019-09-16 16:57] olemarkus commented on #9200
Very interested in this

[2019-09-16 23:24] genbit commented on #9115
The issue seems to be fixed in 1.6.1. The following test is reproducible in 1.6.0, but not 1.6.1:

The performed test:
- install cilium on EKS following https://cilium.readthedocs.io/en/stable/gettingstarted/k8s-install-eks/
- apply the CNP[1]
- run connectivity-check, that curls pods using ClusterIP:
```kubectl apply -f https://raw.githubusercontent.com/cilium/cilium/1.6.1/examples/kubernetes/con

[2019-09-17 00:50] aanm opened #9209 "L3 policy denied for a k8s network ipBlock where ipBlock belongs to podCIDR"
[code]
[code]
[code]
[code]
[code]

k8s policy spec does not say pod CIDR should not be set in this ipBlock

[code]

On a first glance, it looks easy to fix this bug, on policy import we check if the IP exists in the ipcache, if it does we allow based on ipcache's identity. If it does not we create a new CIDR identity. If a pod shows up with that IP, we add it to the list of allowed identities and

[2019-09-17 00:58] ianvernon commented on #9209
Nice find!

[2019-09-17 03:40] #7795 closed

[2019-09-17 08:40] joestringer commented on #9115
Thanks for the confirmation @genbit . Looks like it was addressed by #8978 .

[2019-09-17 08:40] #9115 closed

[2019-09-17 08:47] joestringer commented on #9115
Note to any users that hit this: After upgrade, application pods must be restarted (rejoined to CNI) for this fix to take effect for existing workloads.

[2019-09-17 10:38] brb opened #9212 "BPF map dump_interrupts should not be considerd as cilium_datapath_errors"
A user got confused by the following metric:

[code]

`dump_interrupts` happens when a BPF entry gets removed while dumping the map is in progress. This is not an error, thus we should move it to some other counter which doesn't have `error` in its name.

[2019-09-17 16:34] jrajahalme commented on #9100
@borkmann I think the disabling of the error return should be gated by `if !policy.HasRedirect()` so that an error would still be returned if there is a policy that requires a redirect.

[2019-09-17 18:09] brb commented on #9100
A user just reported that they hit the same issue with the following configuration:

[code]

https://cilium.slack.com/archives/C1MATJ5U5/p1568740546033500?thread_ts=1568738884.029500&cid=C1MATJ5U5

[2019-09-17 19:03] uablrek opened #9214 "For k8s dual-stack POD ipv6 addresses are not assigned from the configured CIDR"
## Bug report

I file this as a bug, but it is a bit unfair since k8s dual-stack is not release yet.

When using `cilium` in k8s dual-stack the ipv6 addresses for PODs seems to be taken from `f00d::b00:0:0:0/80` (`f00d::11.0.0.0:0:0:0/80`). While this works, that is not the configured range.

In k8s dual-stack the `kube-controller-manager` is configured with a 2-item array, for example;
[code]
In

[2019-09-17 20:06] darwin67 commented on #9205
If it helps, we were using Spinnaker for handling the rollouts of the kubernetes clusters.

[2019-09-18 06:19] aanm commented on #9214
I already have the patch on my side that fixes this. I was waiting for #9139 to be merged first.

[2019-09-18 12:53] #7087 closed

[2019-09-18 12:58] #8374 closed

[2019-09-18 12:59] borkmann commented on #7698
Closing.

[2019-09-18 13:18] brb commented on #9140
[code]

[2019-09-18 13:24] brb commented on #8740
As discussed offline: probe for the 1mio instructions feature and then increase the retries count.

[2019-09-18 14:03] aanm opened #9218 "Bump k8s version for nightly job"
It seems we are running nightly with k8s 1.12

[2019-09-18 14:33] aanm commented on #9100
to whomever will fix this. PTAL at https://github.com/cilium/cilium/pull/9157/files#r322510437

[2019-09-18 15:39] aanm opened #9220 "Decrease memory consumption of cilium endpoint list"

[2019-09-18 17:35] khenidak commented on #9214
we really didn't work on any CNI support for dualstack yet :-) it is coming in phase 3 (v1.17)

[2019-09-18 17:42] uablrek commented on #9214
But CNI-plugins with dual-stack support seem to work fine. So what is the K8s part in this? Is it not more a CNI-plugin problem. I think cilium and calico support for dual-stack enables more users.

[2019-09-18 17:49] khenidak commented on #9214
It was not in scope. If dualstack works fine for anything other than kubenet, then it was not due to work we have been testing or working on hence i can not trust it or advise deploying. I know it sounds silly, but we progress piece by piece, having CNI as part of our initial work would have over complicated things as we will have to have worked on too many fronts at the same time.

[2019-09-18 21:06] joestringer opened #9224 "CI log gathering is broken on master"
Fix the following issues in the Jenkins CI sysdump gathering:

* [ ] Runtime tests gather empty files (also affects eg `cmds.log` in k8s test runs)
* [x] K8s tests gather files with the following contents:
[code]

[2019-09-18 21:07] joestringer commented on #9224
Runtime example build: https://jenkins.cilium.io/job/cilium-ginkgo/job/cilium/job/master/3522/testReport/junit/(root)/Suite-runtime/RuntimeConnectivityInVethModeTest_Basic_Connectivity_test_Test_NAT46_connectivity_between_containers/

(Empty files)

K8s PR example: https://jenkins.cilium.io/job/Ginkgo-CI-Tests-Pipeline/8630/testReport/junit/Suite-k8s-1/11/K8sServicesTest_Checks_service_across_node

[2019-09-18 21:37] joestringer opened #9225 "Cannot configure datapath config for debug dynamically"
At runtime, after running `cilium config Debug=true`, the endpoints are not reconfigured to gather debug notifications at the datapath level; `cilium monitor -v` does not print any of the debug notifications.

Should this reconfigure each endpoint's configuration to enable this option?

[2019-09-18 21:37] joestringer commented on #9225
Note that there is also `cilium endpoint config xxx Debug=True`.

[2019-09-19 00:15] platten commented on #4016
Any chance SPIFFE support would be included in the 1.7 release?

[2019-09-19 02:47] joestringer opened #9226 "Static / mirror pods configured during node initialization may be unable to establish connectivity with other pods"
Cilium: master (1.7 dev cycle)

### Summary

[Static pods](https://kubernetes.io/docs/tasks/configure-pod-container/static-pod/) configured by kubelet during the initial Cilium bootstrap may race with the health endpoint to create and pin shared maps (in particular the CT map), leading to connectivity issues for that pod when policy is enabled. This issue is only known to occur when `--enable-endp

[2019-09-19 02:56] joestringer commented on #9226
Fixes we can work on:
* Ensure that `cilium-agent` creates and pins all globally shared maps before invoking the loader.
* Address race condition in iproute2.

[2019-09-19 06:54] tgraf commented on #4016
@platten Yes, @jrfastab has been doing the necessary investigation. It's currently under consideration.

[2019-09-19 10:23] uablrek opened #9228 "In K8s dual-stack traffic from an external source to a loadBalancerIP does not work"
## Bug report

In a K8s dual-stack cluster traffic from an external machine to an ipv6 `loadBalancerIp` does not work. Ipv6 to the very same `loadBalancerIp` works from a K8s cluster node. Ipv4 to a `loadBalancerIp` in the same system works from an external machine.

### Test setup

K8s >=1.16.0 must be setup with dual-stack enabled; https://kubernetes.io/docs/concepts/services-networking/dual-sta

[2019-09-19 10:32] uablrek commented on #9228
BTW I use [assign-lb-ip](https://github.com/Nordix/assign-lb-ip) to set the `loadBalancerIp` with;
[code]

[2019-09-19 11:23] uablrek commented on #9228
Ipv4 trace (working) in; [trace.txt](https://github.com/cilium/cilium/files/3630932/trace.txt)

[2019-09-19 11:27] uablrek commented on #9228
The interface used by k8s communication is `eth1`;
[code]

But the external ipv6 address `1000::1:c0a8:102/120` is hijacked also by `cilium_host`;
[code]
but with a different prefix /128.

[2019-09-19 13:49] jrfastab opened #9230 "encryption: document kernel requirements for various encrypt features"
Documentation does not state minimum required kernel versions for the various encryption modes. Basic encryption with default options works all the way back to 4.9 but advanced usage, such as encrypt-node with subnets, requires kernel helper calls that do not exist back that far.

Add some documentation to track these.

[2019-09-19 14:08] aanm commented on #9225
IMO, yes. It will be enabled for new created endpoints so why isn't configured for old endpoints? There's also this GH issue standing #8035 which is related

[2019-09-19 14:53] joestringer commented on #8035
Ah, interesting. So this option is trusted from the restore of old endpoints rather than regenerating the endpoints upon restore using the current daemon options.

[2019-09-19 14:53] #9214 closed

[2019-09-19 15:15] kekoav opened #9231 "Ability to customize ipv4AllocRange based on node IP"
## Proposal / RFE

**Is your feature request related to a problem?** Yes

The problem we have is the `ipv4AllocRange` selected overlaps with our VPC CIDR range when a node with the last octet in the IP address is the same as `10.x.0.0`. We use a `10.x.0.0` CIDR for our VPCs.

This causes a routing blackhole, and all packets are lost, especially when VXLAN is being used.

We can use the `--ipv4-ran

[2019-09-19 16:14] aanm commented on #9231
A workaround for this is to define a pod-cidr that does not colide with the VPC's CIDR. Unfortunately, this is not the case for EKS https://github.com/aws/containers-roadmap/issues/315

[2019-09-20 02:19] joestringer commented on #9226
iproute2 changes proposed upstream: https://patchwork.ozlabs.org/patch/1164973/

[2019-09-20 09:25] tgraf commented on #8817
Fixed via #9203

[2019-09-20 09:25] #8817 closed

[2019-09-20 11:38] enzian commented on #9145
so, here is what I tried recently: I dropped `--set global.etcd.enabled=true --set global.etcd.managed=true` which works quite fine when following [this guide](https://docs.cilium.io/en/v1.6/gettingstarted/k8s-install-aks/) once I scale the cluster up, all pods scheduled on another node fail to resolve DNS names and probe containers go into a crashloop becuase the health-check fails to connect to

[2019-09-20 20:07] brb commented on #8873
Additionally, we should remove bpf_netdev program once cilium-agent has been restarted with a different configuration.

[2019-09-20 20:16] aanm commented on #9145
@enzian I might need more info. Which pods are you referring now? Is it still related with the fact that CoreDNS pods are continuously killed by the operator?

[2019-09-20 21:41] joestringer opened #9242 "Add support for monitor aggregation on drops"
Add a map to the datapath that could track recently dropped flows, and use this to limit the number of drop notifications we send to userspace. This feature should be gated by some flag (could be a new `MONITOR_AGGREGATION` level, or an entirely new flag). The drop notification limits should be governed by time, the most obvious would be to just follow `CT_REPORT_INTERVAL`. The map should not be t

[2019-09-21 09:43] wsdlll opened #9244 "The performance of cilium-istio is not good"
## Support

linux version: 4.20.17-042017-generic
kubernetes version: v1.15.3
istio version: v1.2.5
cillium verion: v1.4 (i have try the 1.6.1, but not good)

I have try to use the guide in "https://docs.cilium.io/en/v1.5/gettingstarted/istio/" to test the perf of cilium-istio.

And there is the follow error happen when enable the sockmap.

Name                               Last success   Last er

[2019-09-21 13:26] raybejjani commented on #9167
Not complete, but https://github.com/cilium/cilium/pull/9189 is a start

[2019-09-21 13:39] raybejjani opened #9245 "Refactor CI container registry to allow remote test execution"
_This is mostly here for record-keeping. nebril may correct this ticket once it's clearer what is needed_

We currently run the docker container registry for tests inside k8s1, one of the test VMs. The tests themselves can take an arbitrary image source, however, and this means we can run CI on managed k8s but reuse the current CI infrastructure. In particular, this allows us to reuse the jenkins

[2019-09-21 16:42] raybejjani opened #9246 "Add override scheme for common CI dev targets"
We want to target various managed k8s platforms from the CI, but may also want to encode the setup to streamline developer iteration with common setups like:
- minikube
- microk8s
- EKS
- GKE

I'll also try to make it easy to encode overrides for arbitrary clusters, like the dev-vm, but I'm not sure how to do this without more yuckiness.

[2019-09-21 16:47] raybejjani commented on #9224
I'm not sure that it's related but when my tests have failed on EKS the run is stuck collecting logs forever. I don't remember if the log-gatherer stuff replaced everything but in case it's related...

[2019-09-21 16:59] aanm commented on #9244
@wsdlll sorry to hear that. Can you attach a cilium sysdump? https://cilium.readthedocs.io/en/v1.6/troubleshooting/?#automatic-diagnosis

[2019-09-22 06:57] bai opened #9247 "Cilium container crashes on start on kernel 5.3"
## Bug report

Cilium containers go into CrashLoop when started on recently released Kernel 5.3 with an error provided below. Same setup works on kernel `5.0.0-23-generic`, so my assumption is that it's related to changes in kernel 5.3.

[code]

**General Information**

- Cilium version: both `1.6.1` and `latest`
- Kernel version: `5.3.0-050300-generic`
- Orchestration system version in use: kubec

[2019-09-23 01:52] wsdlll commented on #9244
There are too many files in output .zip to find the useful information.

How can i find the problem?

Unable to sync EpToPolicy Map continue with Sockmap support: %!s(<nil>)

Is there a problem with the kernel version?
__________________

- apiVersion: cilium.io/v2
  kind: CiliumEndpoint
  metadata:
    creationTimestamp: "2019-09-21T09:10:50Z"
    generation: 1
    name: nginx-644479448b-s2f2c

[2019-09-23 02:15] evan2645 commented on #4016
@jrfastab please let me know if there's anything I can do to help. Happy to have a quick hangout or something to talk through it if that would be useful, just let me know!

[2019-09-23 06:00] enzian commented on #9145
I guess not, since I fixed that by fixing the template instruction [here](https://cilium.readthedocs.io/en/v1.6/gettingstarted/k8s-install-aks/#prepare-deploy-cilium) to actually set `--set global.nodeinit.enabled=true` and not `--set nodeinit.enabled=true`.

Gonna close this one and open a new issue

[2019-09-23 06:00] #9145 closed

[2019-09-23 06:43] enzian opened #9248 "Deployment to AKS fails"
## Support

I'm not sure if this is a bug or just a docs issue: I installed cilium on an AKS cluster following [this guide](https://cilium.readthedocs.io/en/v1.6/gettingstarted/k8s-install-aks/#installation-on-azure-aks) when I do this on a single-node cluster as described in the article, everything works when I deploy the connectivity sample. When I scale the cluster up, things change though! Now

[2019-09-23 07:13] aanm commented on #9248
@enzian which cilium version is it?

[2019-09-23 07:32] enzian commented on #9248
@aanm 1.6

[2019-09-23 07:39] aanm commented on #9248
@enzian `1.6.0` or `1.6.1`?

[2019-09-23 07:52] enzian commented on #9248
1.6.1

[2019-09-23 08:41] brb commented on #9247
Thanks for the report. I've just tried with the kernel 5.3.1 and it worked fine. Could you verify with 5.3.1?

[2019-09-23 09:30] bai commented on #9247
As per conversation on Slack with @borkmann: Reason is that the default k8s nodeport range is below the ephemeral port range (aka ip_local_port_range) so no NAT is needed in that case. What triggered it in your case is that you set the start below the default nodeport range.

In my case I set `ip_local_port_range` to 10000—65000 which overlaps with Kubernetes' default NodePort range.

[2019-09-23 09:30] #9247 closed

[2019-09-23 13:30] borkmann commented on #8557
@hichihara hichihara Tested with your kernel version, but works fine on my side (see below). Does upgrade to 1.5.8 help? Do you use a different clang version than shipped in our container?
[code]

[2019-09-23 15:28] ianvernon opened #9251 "Support v1.4.0 of Istio"

[2019-09-23 18:49] #9248 closed

[2019-09-23 19:07] ianvernon commented on #8162
@borancar you are right, closing.

[2019-09-23 19:07] #8162 closed

[2019-09-23 20:06] aanm commented on #9244
@wsdlll it would be helpful to us if you could provide the .zip cilium sysdump.

[2019-09-23 20:53] #8364 closed

[2019-09-23 22:56] #9226 closed

[2019-09-24 11:20] aanm opened #9260 "Cilium health endpoint should not be created in managed k8s"
Having a cilium-health endpoint created in managed k8s will make cilium-health to have an IP allocated from a pod CIDR created by Cilium. This causes 2 issues:

1) `cilium status` will always report that the reachability of endpoints is not possible, which is true since `cilium-health` endpoint does not belong to the CIDR allocated by the cloud provider.

2) Cilium will create node annotations wit

[2019-09-24 20:00] #8559 closed

[2019-09-25 01:47] wsdlll commented on #9244
This is the .zip cilium sysdump. Please check it.

[cilium-sysdump-20190923-092103.zip](https://github.com/cilium/cilium/files/3650162/cilium-sysdump-20190923-092103.zip)

[2019-09-25 15:13] #9171 closed

[2019-09-25 15:14] ianvernon opened #9269 "v1.6.2 Release"
- [x] Check that there are no outstanding issues / PR that block the release which have not been backported / addressed
- [x] Update GitHub project and create `v1.6.3` project
- [x] Update PRs / issues that were added to the `v1.6.2` project, but didn't make it into this release into the `v1.6.3` project
    - [x] Issues marked with `needs-backport/1.6`
    - [x] PRs marked with `needs-backport/1.

[2019-09-25 17:38] ianvernon opened #9272 "create issue template for releases"

[2019-09-25 17:39] ianvernon opened #9273 "add building of `docker-plugin` to `make docker-image` target"

[2019-09-25 19:52] joestringer opened #9276 "Open or create all maps from cilium-agent"
Currently (early v1.7 cycle), some of the global maps used by multiple BPF programs are opened/created from `cilium-agent` in the function below:

https://github.com/cilium/cilium/blob/d0f2435b4c423dbff571ad8bcf206c177a18eef9/daemon/datapath.go#L530-L533

But others (such as conntrack, or the global tail call map) are not.

Note that we must make sure that if any map is being created, its attribut

[2019-09-25 19:56] joestringer opened #9277 "Add visibility into the map ids used by particular programs"
We've had issues like #9226 which are caused by different programs having references to different copies of maps that are intended to be shared.

It'd be nice to add capability to `bpftool` that would allow us to find out cases like this, so we can for example compare the "CT map" in use by each program and make sure that every program refers to the same CT map.

When this bpftool feature is there

[2019-09-25 19:59] joestringer commented on #9277
There's some kind of visibility into map references from procfs already, but I think that this is tied to fds that are open from the process, so I'm not sure if we can use this once the loader has exited:

https://git.kernel.org/pub/scm/linux/kernel/git/torvalds/linux.git/tree/kernel/bpf/syscall.c#n389

[2019-09-25 20:34] joestringer commented on #7523
I believe that the integration was fixed it v1.6, however the CI testing continues to be broken.

[2019-09-26 09:06] aanm opened #9282 "CI: Suite-runtime.RuntimeLB With Containers validates service recovery on restart"
[code]

[code]

[code]

[62321914_RuntimeLB_With_Containers_validates_service_recovery_on_restart.zip](https://github.com/cilium/cilium/files/3656946/62321914_RuntimeLB_With_Containers_validates_service_recovery_on_restart.zip)

[2019-09-26 11:20] brb opened #9284 "kube-proxy NodePort externalTrafficPolicy=Local is broken"
@olemarkus has reported that the kube-proxy NodePort's `externalTrafficPolicy=Local` is broken on `v1.6`. By broken, we mean that the source IP addr gets SNAT'ed by the `cilium_host` IP addr instead of the original source IP addr being preserved.

The fix for `v1.5.7` - https://github.com/cilium/cilium/pull/8944 (not backported to `v1.6`).

[2019-09-26 11:39] brb commented on #9282
`BPF_MAP_LOOKUP_ELEM` failed with `EINVAL` invoked by `LookupElementFromPointers` (https://github.com/cilium/cilium/blob/master/pkg/bpf/bpf_linux.go#L142). Unfortunately, I can't see which BPF map corresponded to `fd=14`.

There are a few cases for `EINVAL` to be returned to the `BPF_MAP_LOOKUP_ELEM` syscall - https://github.com/torvalds/linux/blob/v4.9/kernel/bpf/syscall.c:

- The unused attribut

[2019-09-26 12:46] brb commented on #9282
Could be related: https://github.com/cilium/cilium/blob/886c2c82e7381cfb3f37b94c9d98caafe657afa1/pkg/maps/lbmap/ipv6.go#L325 has a wrong padding. `u32` is the correct one (I'm going to open a PR).

[2019-09-26 12:54] brb opened #9285 "kube-proxy ExternalIP service fails to apply rev NAT xlation"
Reported by a user:

Cilium: v1.6.0
Kernel: v4.14

[2019-09-26 13:38] ascendedco opened #9287 "Add ExceptName rule to support disallowing instead of allowing"
## Proposal

**Is your feature request related to a problem?**

No

**Describe the solution you'd like**

Domains can be allowed using the `toFQDNs` rule. A deny solution does not exist, however. Use case: Allow all ingress/egress **except** one or more domains.

See the following comment from @aanm on Slack:

EDIT: (Thomas)
I've changed the language a bit to be more neutral

I think denies should

[2019-09-26 16:16] joestringer commented on #9285
I would suggest upgrading to confirm that the bug is still present. We had already some fixes in 1.6.1/1.6.2 for this kind of issue.

[2019-09-26 16:59] joestringer commented on #9260
We have a community user running with Cilium EKS integration who would like to see the EKS mode actually allocate cilium-health endpoint IPs from the EKS IPAM module.

I think this raises two separate cases:
* For chaining modes we should likely just disable health endpoint per the logic above
* Otherwise if Cilium has IPAM logic enabled (via standard or CRD or ENI mode), it should allocate an IP

[2019-09-26 23:02] ianvernon commented on #9088
First PR with visibility applying only when policy enforcement does not apply is coming soon. I am writing an end-to-end test, after which it will be ready for review.

[2019-09-27 00:36] ArthurChiao commented on #9285
Thanks, then I will try `1.6.2` (later) and come back to report the result. @joestringer @brb

Could you list those commits related to this?  @joestringer

[2019-09-27 02:41] joestringer commented on #9285
It depends on the datapath configuration you have, but here's a couple of them:

https://github.com/cilium/cilium/pull/8975
https://github.com/cilium/cilium/pull/8978

[2019-09-27 03:13] ArthurChiao commented on #9285
Thanks. Our configurations:

1. `--enable-endpoint-routes=false` (using default configuration)
1.  Source pod has **no** ingress policy

[2019-09-27 11:02] brb opened #9292 "deadlock can occur if AllocatorEventChan buffer is full and attempts to allocate local CIDR identities are in flight"
A user reported that `cilium endpoint list` fails with a context deadline exceeded.

When looking into the agent logs, there are a few instances of:

[code]

From the gops stack traces:

[code]

From the cilium-agent logs I can see that the user has imported a few network policies (with FQDN) which could have triggered the latter regeneration.

Worth noting that a previous instance of the cilium-a

[2019-09-27 14:13] brb commented on #8700
A user reported that changing the ports does not trigger the service update too.

[2019-09-27 19:42] ianvernon commented on #9292
The root cause is that there is a deadlock due to a mutex being acquired in one goroutine, with that same goroutine trying to send to a buffered channel which is full, while another goroutine, which receives off of that buffered channel, also has logic to try to acquire the same lock which the goroutine which is trying to send on the buffered channel has already acquired. As a result, the buffered

[2019-09-27 21:49] joestringer opened #9297 "CI: K8sServicesTest Checks service across nodes Tests NodePort BPF Tests with direct routing"
https://jenkins.cilium.io/job/Cilium-PR-Ginkgo-Tests-Validated/15184/testReport/junit/Suite-k8s-1/11/K8sServicesTest_Checks_service_across_nodes_Tests_NodePort_BPF_Tests_with_direct_routing/

Found in a PR build, but the PR was unrelated to nodeport or datapath changes.

### Stacktrace
[code]
### Standard Output
[code]

### Standard Error
[code]

[f9f3a0c9_K8sServicesTest_Checks_service_across_nod

[2019-09-27 21:56] joestringer commented on #9224
`cmds.log` is still empty in k8s test runs. Everything else in k8s seems to be working correctly.

[2019-09-28 17:23] #8576 closed

[2019-09-28 18:43] HuxyUK opened #9298 "Bind VXLAN to secondary NIC/VLAN"
## Proposal / RFE

**Is your feature request related to a problem?**
No

**Describe the solution you'd like**
I'd like to be able to bind the VXLAN (encapsulated) network to a secondary network adapter i.e eth1

For reference, I'm setting up a k3s cluster that has a load balancer built-in. The encrypted API traffic flows on the public IP addresses, but I have a secondary private VLAN that I want t

[2019-09-28 20:23] #8311 closed

[2019-09-28 23:39] #7201 closed

[2019-09-29 05:35] rnsv commented on #4975
My existing cidr range for pods is 172.24.0.0/13.  I am using weave and want to test with cilium.  What should be the appropriate args that I need to pass to cilium-agent.

[2019-09-30 00:34] #8479 closed

[2019-09-30 09:38] #5196 closed

[2019-09-30 17:33] mrostecki commented on #9017
I did the same which was already done on update. https://github.com/cilium/cilium/blob/1233b1fa85eb1429dc3448d230eaef52016b7ef0/pkg/k8s/endpointsynchronizer/cep.go#L97-L107

Debug messages will still allow to investigate the issue deeper if we will want to.

[2019-09-30 18:02] borkmann opened #9301 "CI: Suite-runtime.RuntimeKVStoreTest Consul KVStore: Found a JoinEP: Failed to load tc filter: signal: terminated"
Seen on master from time to time: https://jenkins.cilium.io/job/cilium-ginkgo/job/cilium/job/master/3577/
[code]

[2019-09-30 18:04] #9292 closed

[2019-09-30 19:55] joestringer opened #9303 "Improve unit tests for conntrack lookup in BPF"
* [x] Merge initial framework PR #9304
* [x] Test the monitor notification behaviour with respect to new, established, closing, closed connection
  * [x] The first lookup should be monitored #9304
  * [x] Subsequent lookups within the timeout should not be monitored #9304
  * [x] After the monitor timeout has passed, a packet should be monitored #9304
  * [x] The first FIN in a direction should be

[2019-09-30 22:29] joestringer commented on #9285
@ArthurChiao were you able to reproduce the issue on v1.6.2?

Note that source pod ingress policy in the above cases caused packets to be dropped due to `POLICY_DENIED (L3)`; if no ingress policy applies at the source, then the packet will be passed with incorrect NAT which I would expect to lead to something like a RST issue (because the stack then receives a packet for a connection that it does

[2019-09-30 22:44] ArthurChiao commented on #9285
hi @joestringer , apologize for that, the verification of `1.6.2` will be delayed as we are on a 7-day national holiday. We could only check this when we back to work.

[2019-09-30 23:01] joestringer opened #9307 "Evaluate cilium/ebpf map API"
Evaluate the map API in https://github.com/cilium/ebpf for usage in Cilium.

There is some functionality in Cilium maps such as the controllers, or logging library dependencies, which would not be appropriate for merging into the ebpf library. We should be able to compose the ebpf.Map into a type under `pkg/bpf` that extends the library functionality for the pieces we currently have and need in Ci

[2019-09-30 23:55] joestringer opened #9308 "Fix BPF CT_REPORT_FLAGS variable size"
Cilium master (v1.7 cycle)

I noticed these warnings while compiling BPF programs:

[code]

I have the following option in my configmap:
[code]

[2019-10-01 14:02] #9017 closed

[2019-10-01 14:24] brb commented on #9284
The following rule SNATs a request:
[code]

[2019-10-01 15:10] #9052 closed

[2019-10-01 18:21] ianvernon commented on #8682
Fixed-by: https://github.com/cilium/cilium/pull/9025

[2019-10-01 18:21] #8682 closed

[2019-10-01 19:48] brichins commented on #8185
Any progress on this?  Anything I can do to move the ball forward?

[2019-10-01 20:00] #7926 closed

[2019-10-01 20:01] ianvernon commented on #1252
#8857 sleeps for two seconds to avoid most cases of this problem. A more detailed fix is outlined here: https://github.com/cilium/cilium/pull/8857#issuecomment-520020623

[2019-10-01 20:02] ianvernon commented on #3781
This hasn't been observed in a long time. Closing.

[2019-10-01 20:02] #3781 closed

[2019-10-01 20:03] ianvernon commented on #5526
Fixed by https://github.com/cilium/cilium/pull/9203

[2019-10-01 20:03] #5526 closed

[2019-10-01 20:04] ianvernon commented on #4722
We basically have this with the `EndpointPolicy` structure as well as the `L4PolicyMap` now containing the canonical representation of policy in a given traffic direction. Closing.

[2019-10-01 20:04] #4722 closed

[2019-10-01 20:06] ianvernon commented on #6587
This is stale, closing.

[2019-10-01 20:06] #6587 closed

[2019-10-01 20:07] ianvernon commented on #7216
We don't really need metrics for these things - it is possible that an Endpoint gets deleted and we try to acquire a lock for it after. This is fine; it is why we have the liveness check in locking. Closing.

[2019-10-01 20:07] #7216 closed

[2019-10-01 20:10] ianvernon commented on #5607
Closing, this is stale. Our Jenkins jobs run for all of our release branches now.

[2019-10-01 20:10] #5607 closed

[2019-10-02 00:37] ianvernon commented on #8897
Requirements for scalable CNP Status updates using the kvstore:

* We only use the kvstore if there is `Patch` capability in Kubernetes for CNP NodeStatus.
    - This is so we can directly update the resource in K8s from `cilium-operator` without having to do a `Get` first. This will halve the interactions with `kube-apiserver`, reducing the load put upon it.

Design proposal:

* CNP update is pus

[2019-10-02 13:34] mrostecki opened #9322 "/var/lib/cilium/bpf/init.sh failing and making pods not scheduling"
## Bug report

**General Information**

- Cilium version (run `cilium version`) 1.5.3
- Kernel version (run `uname -a`) 4.12.14-197.18.1
- Orchestration system version in use (e.g. `kubectl version`, Mesos, ...) Kubernetes 1.15.2

It might be specific to SUSE CaaSP...

**How to reproduce the issue**

1. Deploy Kubernetes cluster by https://github.com/SUSE/skuba
2. There is a chance that some pod t

[2019-10-02 13:50] brb commented on #9322
Are there any cilium-agent logs? `bpf/init.sh` has `set -x`, so there should be exact cmd, which failed, in the logs.

Also, v1.5.3 is quite ancient (v1.5.8 is the latest release from v1.5).

[2019-10-02 20:58] joestringer commented on #9301
New report: https://jenkins.cilium.io/job/Cilium-PR-Ginkgo-Tests-Validated/15236/

[test_results_Cilium-PR-Ginkgo-Tests-Validated_15236_BDD-Test-PR-runtime.zip](https://github.com/cilium/cilium/files/3683316/test_results_Cilium-PR-Ginkgo-Tests-Validated_15236_BDD-Test-PR-runtime.zip)

[2019-10-02 23:53] joestringer commented on #8424
I'm taking this on since I want a way to easily verify cgroup progs for some other work I'm doing.

[2019-10-03 01:20] joestringer opened #9326 "CI: Suite-k8s-1.16.K8sFQDNTest Restart Cilium validate that FQDN is still working: Test panicked"
### Stacktrace
[code]
### Standard Output
[code]
### Standard Error
[code]

[1de99819_K8sFQDNTest_Restart_Cilium_validate_that_FQDN_is_still_working (1).zip](https://github.com/cilium/cilium/files/3684076/1de99819_K8sFQDNTest_Restart_Cilium_validate_that_FQDN_is_still_working.1.zip)

[2019-10-03 01:20] joestringer commented on #9326
From test-output.log:

[code]

I wonder if the test assumes that there are items in the output from the json.

[2019-10-03 01:36] joestringer commented on #9301
From the Cilium logs pointed to from the issue description (tail, grepped to remove info and debug level):

[code]

[2019-10-03 01:38] joestringer commented on #9301
This can also occur in `Suite-runtime.RuntimePolicies L3/L4 Checks`:

https://jenkins.cilium.io/job/Cilium-PR-Ginkgo-Tests-Validated/15243/testReport/junit/(root)/Suite-runtime/RuntimePolicies_L3_L4_Checks/
[test_results_Cilium-PR-Ginkgo-Tests-Validated_15243_BDD-Test-PR-runtime.zip](https://github.com/cilium/cilium/files/3684109/test_results_Cilium-PR-Ginkgo-Tests-Validated_15243_BDD-Test-PR-runt

[2019-10-03 08:13] aanm commented on #8897
This shouldn't be required. We always use the kvstore regardless of the capabilities available.

By 'us' I assume `cilium-agent` and `cilium-operator`.

^ This should be the only condition.

^ we can ignore this

^ If the kvstore is not configured the `option.Config.K8sHandover` should not be considered, i.e., the handover does not happen.

Should be per-CNP, the global rate limiting already happe

[2019-10-03 14:01] aanm opened #9330 "CI: Checks that monitor aggregation restricts notifications"
## CI failure
[code]
https://jenkins.cilium.io/job/Cilium-PR-Ginkgo-Tests-Validated/15246/testReport/junit/Suite-k8s-1/11/K8sDatapathConfig_MonitorAggregation_Checks_that_monitor_aggregation_restricts_notifications/

[ad64b1fb_K8sDatapathConfig_MonitorAggregation_Checks_that_monitor_aggregation_restricts_notifications.zip](https://github.com/cilium/cilium/files/3686429/ad64b1fb_K8sDatapathConfig_M

[2019-10-03 14:29] aanm opened #9331 "Add namespace as part of external identifies of an endpoint"
Store pod and namespace name in the external identifiers of an endpoint.

https://github.com/cilium/cilium/blob/39dea0071d531e9c56cecf85ef26ccbb36682c5d/pkg/endpoint/api.go#L208

It will require changes in the API:
https://github.com/cilium/cilium/blob/39dea0071d531e9c56cecf85ef26ccbb36682c5d/api/v1/openapi.yaml#L841
https://github.com/cilium/cilium/blob/39dea0071d531e9c56cecf85ef26ccbb36682c5d/ap

[2019-10-03 17:01] brb opened #9333 "Race condition in sync-lb-maps-with-k8s-services controller"
Currently, the `sync-lb-maps-with-k8s-services` controller does the following:

1. Fetch list of services from `pkg/k8s.k8sServiceCache`.
2. Iterate over `pkg/service.Service` cache and remove those which cannot be found in the former list.

No lock is being held which would span over both steps. Therefore, a service added to `pkg/service.Service` after the 1st step will be removed.

Unfortunately

[2019-10-03 20:59] ianvernon commented on #9167
Based off of discussion in Slack, we should also decouple the requirement that we have nodes with specific names (k8s1 and k8s2), for instance - we should ideally be able to templatize this based off of state in the cluster, or be able to pick pods which are not running on the same node to test multinode connectivity.

Context: https://cilium.slack.com/archives/C7PE7V806/p1570133729028700

[2019-10-03 22:28] ianvernon opened #9337 "investigate wildcarding support for ToServices and ToFQDNs based rules"
Investigate whether we can remove the restrictions in the `IsLabelBased` function:

https://github.com/cilium/cilium/blob/f6d258028151a25494560c64959ae7d5c58bb8f8/pkg/policy/api/egress.go#L202-L207

[2019-10-03 22:51] ianvernon commented on #8897
My motivation here was not having to fetch the resource from K8s to update it if patching is not available. But, I think that measuring empirically is the way to go to see how much stress is put on the K8s apiserver in the current mode vs. in the kvstore mode, so I will unconditionally send to kvstore.

Do you mean ignoring the case entirely due to the fact that we will always send to kvstore rega

[2019-10-03 23:39] ianvernon commented on #8897
One thing I am unsure of is how we are going to pass the `Annotations` of the CNP as part of the value. This could create quite large values in the kvstore. Should this be of concern?

[2019-10-04 07:26] tgraf opened #9340 "Usage based FQDN cache management"
The FQDN cache is currently expired via a TTL. The downside of this is that the TTL needs to be sufficiently long to cover persistent and long-lived connections while being short enough to allow for rotation on short-lived connections for names with many backing IPs.

Optimize the FQDN cache by coupling it with the conntrack garbage collector and only expire entries no usage has been detected in t

[2019-10-04 16:07] #8595 closed

[2019-10-04 16:43] jrajahalme commented on #9301
@joestringer Another instance on L3/L4 Checks: https://jenkins.cilium.io/job/Cilium-PR-Ginkgo-Tests-Validated/15278/testReport/junit/(root)/Suite-runtime/RuntimePolicies_L3_L4_Checks/

[2019-10-04 16:56] ianvernon opened #9346 "JoinEP found in CI build"
Build link: https://jenkins.cilium.io/job/Cilium-PR-Ginkgo-Tests-Validated/15278/testReport/junit/(root)/Suite-runtime/RuntimePolicies_L3_L4_Checks/

[code]

[2019-10-04 17:11] genbit opened #9347 "Pod can not reach itself through clusterIP service in EKS chaining mode"
Connection from POD to itself through ClusteIP is not routable in Cilium EKS CNI chaining mode.
It works when trying EKS without Cilium

## Bug report

**General Information**

- Cilium version 1.6.2 and 1.6.1
- Kernel version Linux frontend-7976fcf949-q5br8 4.14.133-113.112.amzn2.x86_64 #1 SMP Tue Jul 30 18:29:50 UTC 2019 x86_64 GNU/Linux

- Orchestration system version in use
AWS EKS cluster, bu

[2019-10-04 17:18] joestringer commented on #9346
Looks like a duplicate of https://github.com/cilium/cilium/issues/9301 ?

[2019-10-04 17:19] #9346 closed

[2019-10-04 17:25] ianvernon commented on #9301
Could we add logic to our sig handler which waits for regenerations that are in flight to complete, or time out after some time?

[2019-10-04 18:12] joestringer commented on #9301
Or the signal handler could cancel the contexts for ongoing regenerations..?

[2019-10-04 22:22] aanm commented on #8897
@ianvernon if the kvstore is not configured there's not really any scalability issue with CNPs.

[2019-10-05 07:20] braudel commented on #1104
Hello, I am looking forward to try cillium on arm64-based clusters and found this ticket was closed last year. Are there any plans/blockers to get cillium built/supported on arm64?

[2019-10-05 10:24] #368 closed

[2019-10-07 08:29] brb commented on #8971
Just checked that it's still an issue. Might be related to https://github.com/cilium/cilium/issues/9284.

[2019-10-07 10:11] #9273 closed

[2019-10-07 10:28] aanm opened #9351 "Abstract kuber-api-server calls by using k8s stores"
Cilium agent uses k8s informers and stores to store k8s structures. We can use those stores to abstract the API calls made to kube-api-server. For example:

https://github.com/cilium/cilium/blob/3b3ecb11485b21fa1396d590dfb33f6881c8c7d2/daemon/state.go#L73

This will reduce significantly the number of calls made to the kube-api-server.

Feel free to ping me directly for guidance or more info

[2019-10-07 10:49] aanm commented on #8902
@willdeuschle just one thing to be clarified, in your `1.` you say that `Spec` and `Specs` should be deeply equaled, using the `SpecsEqual`. But isn't this the case already?

https://github.com/cilium/cilium/blob/fa2629c4e1c8009a65ba25c2e7dafc7b76b5e1ba/pkg/k8s/apis/cilium.io/v2/types.go#L170-L177

[2019-10-07 10:54] aanm commented on #9301
@joestringer I think that can easily be achieve, IIRC @ianvernon recently added a `aliveContext` in the endpoint structure that we could safely cancel before shutting down?

[2019-10-07 11:00] aanm commented on #8897
@ianvernon No, the full CNP is already a value in the etcd's PoV.

The key will be `cilium/state/cnpstatus/<cnp namespace>/<cnp name>/<node identifier>` for which it has the node lease attached to it.
The value will be the `CiliumNetworkPolicyNodeStatus` structure marshaled into JSON.

[2019-10-07 12:57] juanmanuel-tirado opened #9352 "Managed etcd on Azure"
## Support

I have provisioned an Azure cluster running Kubernetes 1.13.10. Following the how to install on [Azure](https://docs.cilium.io/en/v1.6/gettingstarted/k8s-install-aks/) guidelines, I can install Cilium latest version with no problems. However, I was unsuccessful installing a managed etcd version.

The guidelines to install on top of Azure does not mention how to install the etcd managed

[2019-10-07 16:09] willdeuschle commented on #8902
yes @aanm. I was trying to indicate that I first use the `SpecEquals`, but that is not always sufficient, so then I also need to check via number 2. It ends up being an OR of 1. and 2.

[2019-10-07 16:12] ianvernon commented on #9301
@ianvernon - double check between how we handled canceled contexts vs. timed out contexts (from Cilium Community Meeting)

[2019-10-07 17:23] joestringer commented on #9330
Looks like a test issue, the monitor log actually contains 3 + 2 notifications:

[code]

[2019-10-07 17:31] ianvernon opened #9354 "Explore combining IdentityManager with CachingIdentityAllocator"
https://github.com/cilium/cilium/pull/9066#discussion_r322297930

[2019-10-07 17:33] joestringer commented on #9330
Woops, wrong port. Hmm.

[code]

[2019-10-07 17:36] joestringer commented on #9330
OK, for whatever reason on this particular occasion it seems that the server decided to close the connection:

[code]

...which means that the 3-way close inverts the notifications as 2 egress and 3 ingress. Hmm.

We can either:
* Figure out why the server closed the connection this time (timing around service deletion?)
* Make the logic agnostic as to which direction the 3 vs 2 notifications occu

[2019-10-07 17:54] joestringer commented on #9330
Code link:

https://github.com/cilium/cilium/blob/bede1fea7e51bce25777f075a4374b2de6312199/test/k8sT/DatapathConfiguration.go#L129-L164

[2019-10-07 18:35] brandon-mcrae-hs commented on #9347
Experiencing the same issue with a service of type: `NodePort`.

---
* Cilium v1.6.2
* Linux version 4.15.0-1051-aws (buildd@lgw01-amd64-005) (gcc version 7.4.0 (Ubuntu 7.4.0-1ubuntu1~18.04.1))
* amazon-k8s-cni v1.5.3
[code]

[2019-10-07 21:32] ianvernon opened #9356 "endpoint: add function which wraps checks around skipping proxy redirection"
See https://github.com/cilium/cilium/pull/9210#discussion_r332169853

[2019-10-07 22:45] joestringer opened #9357 "CI: Figure out how to get reliable monitor output"
There's some rather elaborate usage of sleep being proposed in some tests to ensure that:
1. The monitor is in fact running before executing some test statements
1. That the monitor has in fact collected all of the notifications resulting from action in the test statements

Refer the PR comment here: https://github.com/cilium/cilium/pull/9210#discussion_r332225891

I think that this is because the

[2019-10-07 22:46] joestringer commented on #9357
This is also likely a cause behind the CI flake #9330.

[2019-10-07 22:52] joestringer commented on #9357
Do we have CI helpers that allow waiting until the monitor output has some expected content? That'd be nice for the second point in the issue description.

[2019-10-08 03:34] yongming opened #9361 "Any plan to remove CLANG/LLVM from Cilium Agent docker image?"
## Proposal: Remove CLANG/LLVM from Cilium Agent image, only deliver eBPF bytecode

I installed cilium 1.4.8, found clang/llvm and other relevant  bpf compiler tool chain are packaged in cilium agent image.
**Describe the solution you'd like**
Expects cilium can only deliver ebpf bytecode like go-ebpf to avoid having a runtime dependency.

[2019-10-08 04:16] ArthurChiao commented on #9285
@joestringer According to our tests, the problem still exists after upgrading to `v1.6.2`.

[2019-10-08 08:13] brb opened #9362 "Kubernetes Service CI tests for IPv6"
Currently, we don't have any Kubernetes Service tests for IPv6.

Adding such tests is relatively straightforward. However, we do not provision k8s with IPv6 enabled in any of the CI jobs. Perhaps we could dedicate one job to run with [k8s IPv4/IPv6 dual-stack](https://kubernetes.io/docs/concepts/services-networking/dual-stack/).

The tests should cover the existing IPv4 cases (ClusterIP, NodePort,

[2019-10-08 08:18] brb opened #9363 "Kubernetes Service tests for UDP"
Currently, we don't have any Kubernetes Service (`test/k8s/Services.go`) for UDP services. We should add an UDP equivalent for the existing TCP tests.

[2019-10-08 09:34] aanm commented on #9362
@brb @borkmann long story short it's not possible to configure k8s IPv4/IPv6 dual-stack with k8s 1.16 in our CI. There was a bug in k8s, fixed for 1.17, that makes kubelet panicking when using dual-stack with a CNI plugin. Also, because we have a constrain for the ipv6 CIDR range (`/112`) that is also a problem to run the k8s dual stack since there's a maximum limit that can be set in k8s controll

[2019-10-08 09:40] aanm commented on #9357
What about the filters that we have `--related-to=<endpoint ID>` + `grep` and so on? wouldn't that help to get a reliable monitor output?

[2019-10-08 09:42] aanm commented on #9361
@yongming This can be a possibility. Since cilium 1.5 that we have introduced bpf templates which does not require clang/llvm to compile bpf programs anymore. Currently clang/llvm are present because each different option setup in `cilium-agent` might require clang to compile a new bpf bytecode. Subsequent compilation are avoided wherever possible.

Is there any particular reason why you would wan

[2019-10-08 11:52] yongming commented on #9361
Docker image of Cilium agent size is about 622M (v1.4.8), LLVM/CLANG and other compiler relevant files occupy pretty much spaces. If only packaging necessary runtime libraries，the image size might be reduced greatly.

[2019-10-08 12:29] brb commented on #7061
A user reported similar instance of the problem - removing the annotation doesn't remove the registered remote endpoints.

I just checked that indeed kube-apiserver doesn't send any event when an annotation of a service changes.

[2019-10-08 15:19] ianvernon opened #9367 "v1.4.9 Release"
- [x] Check that there are no outstanding issues / PR that block the release which have not been backported / addressed
- [x] Update GitHub project and create `v1.4.10` project
- [x] Update PRs / issues that were added to the `v1.4.9` project, but didn't make it into this release into the `v1.4.10` project
    - [x] Issues marked with `needs-backport/1.4`
    - [x] PRs marked with `needs-backport/

[2019-10-08 15:19] ianvernon opened #9368 "v1.5.9 Release"
- [x] Check that there are no outstanding issues / PR that block the release which have not been backported / addressed
- [x] Update GitHub project and create `v1.5.10` project
- [x] Update PRs / issues that were added to the `v1.5.9` project, but didn't make it into this release into the `v1.5.10` project
    - [x] Issues marked with `needs-backport/1.5`
    - [x] PRs marked with `needs-backport/

[2019-10-08 15:20] ianvernon opened #9369 "v1.6.3 Release"
- [x] Check that there are no outstanding issues / PR that block the release which have not been backported / addressed
- [x] Update GitHub project and create `v1.6.4` project
- [x] Update PRs / issues that were added to the `v1.6.3` project, but didn't make it into this release into the `v1.6.4` project
    - [x] Issues marked with `needs-backport/1.6`
    - [x] PRs marked with `needs-backport/1.

[2019-10-08 17:15] #9367 closed

[2019-10-08 17:15] #9368 closed

[2019-10-08 17:19] #9269 closed

[2019-10-08 17:21] ianvernon opened #9374 "update kubespray to consume to cilium v1.6.5"
Currently it points to v1.5.5.

[2019-10-08 17:22] ianvernon opened #9375 "update kops to consume cilium v1.6.4"

[2019-10-08 17:23] ianvernon commented on #9369
Updates to downstream integrations are tracked by separate tickets now; closing this issue.

[2019-10-08 17:23] #9369 closed

[2019-10-08 17:52] joestringer commented on #9357
By "reliable", I mean with respect to timing of (1) startup of the monitor vs (2) running test traffic vs (3) stopping the monitor.

[2019-10-08 18:03] joestringer opened #9376 "Microk8s: Cilium CLI looks in the wrong path for BPF state"
With Cilium running on Microk8s:

[code]

It'd be good if we could somehow specify the path used for cilium state (in the microk8s case it's ` /var/snap/microk8s/current/var/run/cilium/`) so that CLI tools like this could natively work in the host namespace when running in microk8s.

Tasks:
* [ ] Add support for an environment variable that configures/overrides the cilium state path
* [ ] Use this

[2019-10-08 18:04] joestringer commented on #9376
Workaround if anyone hits this with existing releases: exec into the Cilium container and run the command. It will work.

[2019-10-08 18:05] joestringer commented on #9285
@ArthurChiao thanks for confirming.

Are you able to post an example of the `cilium monitor` output you see for this connection?

It would be helpful to have this with:
* Standard `cilium monitor` output, also
* Configure the relevant endpoint (or agent) in debug mode then get `cilium monitor -v` output.

For the `-v` case we are looking for full debug monitor output that would include statements

[2019-10-08 19:24] joestringer opened #9377 "Add `cilium node list` to bugtool"

[2019-10-08 23:42] joestringer commented on #8902
I don't think that `EndpointSelector` being "blank" (`nil`) is a valid setting. In Cilium we will call `r.Spec.Sanitize()` or `rule.Sanitize()` on each rule inside `r.Specs` to ensure that we get a valid, canonical form of the selector.

[2019-10-08 23:48] joestringer commented on #8902
It would be good to get example `pkg/checker/checker.DeepEqual()` comparison output between the different CNP objects to determine what is being considered different between the `Spec`/`Specs`/ in the different CNPs.

[2019-10-09 07:08] juanmanuel-tirado commented on #9352
Any ideas about this issue I can explore?

[2019-10-09 10:21] ArthurChiao commented on #9285
OK, I'll have a try. @joestringer

[2019-10-09 12:10] borkmann opened #9379 "cilium, prefilter: No map enabled for CIDR string"
Add LPM to prefilter, needs probe for get next key on LPM:
[code]

[2019-10-09 12:32] aanm commented on #9357
discussed offline

[2019-10-09 12:34] aanm commented on #9352
@juanmanuel-tirado Can you explain what are you trying to achieve by running etcd with aks?

[2019-10-09 12:37] juanmanuel-tirado commented on #9352
I want to set up a cluster mesh using cilium. As mentioned in the guidelines an etcd managed version is required for that.

[2019-10-09 15:07] borkmann opened #9382 "cilium, prefilter: cidr deletion currently broken"
Regression from #3478.

[2019-10-09 15:38] brb commented on #9347
In the CNI chaining mode, we disable `ENABLE_ROUTING` (https://github.com/cilium/cilium/blob/v1.6.3/bpf/bpf_lxc.c#L558-L576), so the hairpin request is being passed to stack instead of being redirected to itself (https://github.com/cilium/cilium/blob/v1.6.3/bpf/bpf_lxc.c#L602). AFAIK, the kernel should drop such request as it's going to be routed back to the device it came from. Therefore, we don'

[2019-10-09 17:10] #9379 closed

[2019-10-09 21:39] #8424 closed

[2019-10-10 04:07] ArthurChiao commented on #9285
# Environment

* Service A: endpoint `1217`, identity `38829`
* Service B: endpoint `229`, identity `27638`

where Service B has an External IP.

# Test Traffic

Telnet B's 15020 port from A:

[code]

# Cilium Monitor Captures

## Capture standard output

[code]

## Capture verbose output

[code]

# BPF Template

[code]

Real IPs and MACs have been replaced in the following output. If they are hel

[2019-10-10 06:34] #9382 closed

[2019-10-10 06:37] borkmann opened #9387 "test cases for cilium prefilter functionality"

[2019-10-10 10:49] aanm commented on #9352
@juanmanuel-tirado, Thomas is on PTO at the moment, I'll ping him WRT once he's back

[2019-10-10 16:35] joestringer commented on #9285
@ArthurChiao unfortunately the above output is missing some information:

* The grep is only including the outbound requests, but the reverse direction is also very important for understanding this issue. If the outbound SYN is fine but the SYN-ACK coming back from the destination is not fine, then this will result in an outbound RST. We see this in the output you posted above. However, we don't s

[2019-10-10 21:40] joestringer opened #9393 "cilium-cni should conditionally enable IPv6 inside containers"
These unconditional lines in the cilium-cni should probably enable or disable IPv6 based upon `ipv6IsEnabled()` instead of unconditionally enabling it:

https://github.com/cilium/cilium/blob/8f5d408b44bc888df2af5b6e8bfcd77215938ed6/plugins/cilium-cni/cilium-cni.go#L490-L492

Furthermore, this could likely be refactored into `configureIface()`.

[2019-10-10 21:41] ianvernon opened #9394 "policy: visibility policy does not handle `ANY` in annotation correctly"

[2019-10-10 23:08] ianvernon commented on #8897
Some thoughts I've had while auditing my code for potentially race-condition-y behavior (answer - there is some!) in https://github.com/cilium/cilium/pull/9384 with respect to the cilium-operator handling the CiliumNetworkPolicyNodeStatus updates. On the operator side, I have the key-value store watcher which watches for create / modify events for the keys (<prefix/namespace/name/nodeName --> mars

[2019-10-11 06:16] ArthurChiao commented on #9285
This is a little complicated than I expected, and looks like involving some changes to our running cluster. Let's discuss on slack later.  @joestringer

[2019-10-11 08:17] yongming opened #9397 "When the SOCK_OPS_MAP entry will be removed once enables sockops?"
## Support
In bpf/sockopf/bpf_sockops.c, there is code as below:
...
if (redirect_to_proxy(verdict)) {
		__be32 host_ip = IPV4_GATEWAY;
		key.dip4 = key.sip4;
		key.dport = key.sport;
		key.sip4 = host_ip;
		key.sport = verdict;

		**sock_hash_update(skops, &SOCK_OPS_MAP, &key, BPF_NOEXIST);**
It will add a new entry into sockhash, when the entry will be deleted, I didn't find any code on it.

[2019-10-11 08:29] #8740 closed

[2019-10-11 13:34] aanm commented on #9393
Sure this sounds a reasonable thing to do, we already have a helper function to check if IPv6 is enabled or not.

[2019-10-11 13:57] jrfastab commented on #9397
The entry is deleted by the kernel when the socket is closed.

[2019-10-11 13:57] #9397 closed

[2019-10-11 17:57] joestringer opened #9401 "Improve external etcd documentation wording"
The external etcd documentation is below:

http://docs.cilium.io/en/latest/gettingstarted/k8s-install-external-etcd/

* The requirements do not list having an external etcd available.
* The section `Configure the External Etcd` is actually for configuring Cilium, not etcd.

We should tidy this up to make it easier to understand for users.

[2019-10-11 22:04] joestringer opened #9402 "Unable to create map ... operation not permitted on some Ubuntu kernels with Cilium v1.6"
### Environment

* Ubuntu 18.04 (with later kernel 5.0)
* Kubernetes 1.15.0 / 1.16.0
* Cilium 1.6.3
* Following guide for [external etcd](https://cilium.readthedocs.io/en/stable/gettingstarted/k8s-install-external-etcd/)

### Symptoms

From slack thread:

[code]

[code]
...

### Common mitigations

* Some older kernels exhibit this problem. Update to the latest version for your distribution.
* Min

[2019-10-11 22:06] joestringer commented on #9402
Unrelated to the Slack report, I regularly run under microk8s with `linux-image-5.0.0-29-generic` and do not observe this behaviour.

Did something change/regress or was there another subtle change that was fixed by upgrade/reboot of the nodes?

[2019-10-11 23:05] danwent opened #9403 "Better handling of DNS -> IP mapping for mix of long and short-lived flows"
We believe there can be problems related to how we cache DNS -> IP mappings and how policy enforcement happens in scenarios were there are many such mappings for a single endpoint in a short amount of time.

Imagine that we have a scenario where:
1) Pod A creates a long-lived connection to www.foo.com, performing a DNS lookup, receiving IP-A and then having a long-lived TCP connection lasts 1+ min

[2019-10-13 23:20] mpeiffer commented on #9401
Hello! Could I work on making the documentation for the external etcd a little more clear?

[2019-10-14 01:27] ianvernon opened #9407 "CI: remove microscope functions from CI code"
Microscope isn't used anymore in the CI; remove the functions and invocations of them we do per-test.

[2019-10-14 08:31] brb commented on #9401
@mpeiffer Sure, thanks! I'm assigning you to the issue.

[2019-10-14 09:29] jaffcheng opened #9409 "ENI: Do not fill ciliumnodes with allocated podCIDRs in ENI mode"
In ENI mode, `spec.ipam.podCIDRs` of `ciliumnodes` is filled with CIDR allocated by cilium and it's never used. Remove `spec.ipam.podCIDRs` to avoid confusion with ENI IP addresses allocated by operator.

[2019-10-14 10:38] aanm opened #9410 "Add documentation to run cilium with a kubeconfig file"
https://github.com/cilium/cilium/pull/9089#pullrequestreview-282096204

[2019-10-14 11:43] aanm commented on #9402
@joestringer one other user reported this to me

[code]

[code]

[2019-10-14 11:53] aanm opened #9411 "Add slimmer Cilium image"
Now that we have bpf templates available in Cilium we could introduce a slimmer version of Cilium image which would only contain the cilium binaries.

- [ ] Templatize the base BPF programs (#9515)
- [ ] Create a new Dockerfile to make this available
- [ ] Add documentation describing the limitations for cilium slimmer image. For example, the inability to use all options available with `cilium end

[2019-10-14 14:41] ianvernon commented on #7655
@nebril @raybejjani this could be quite useful for the new kubectl-based CI. We'd still have to run it in an environment where `kubectl` and a `kubeconfig` are present, but would help us debug our tooling in the CI as well.

[2019-10-14 16:27] aanm commented on #9411
Joe will be looking if having the minimal requirement of kernel 4.19 + having endpoint with and without debug would be enough for an initial release of this image.

[2019-10-14 17:35] joestringer commented on #9403
I believe that this is the issue that @raybejjani mentioned that he was looking into during the Cilium community meeting today.

[2019-10-14 17:46] joestringer commented on #9285
@ArthurChiao sorry, I confirmed with @aanm that we don't support ExternalIP services in v1.6. There was an initial version in 1.6.0 but there were issues with it so we disabled it in v1.6.1. It's targeted for v1.7: #5293

[2019-10-14 18:18] #9347 closed

[2019-10-15 01:56] ArthurChiao commented on #9285
@joestringer Thanks for this info, then we'll workaround this problem by limiting ExternalIP services to `kube-proxy` enabled nodes.

[2019-10-15 08:29] brb commented on #9285
@ArthurChiao When you reported the issue on Slack, did you mean ExternalIP with or without kube-proxy? I'm wondering whether the issue title `kube-proxy ExternalIP service fails to apply rev NAT xlation` is wrong.

[2019-10-15 13:34] #8753 closed

[2019-10-15 16:11] ianvernon commented on #6510
@jeckhart sorry for letting this issue rot. We have support up until Istio 1.2 now which should work. I will close this in a few weeks if it receives no reply.

[2019-10-15 17:34] #8756 closed

[2019-10-16 02:29] ArthurChiao commented on #9285
@brb I mean **a Service with an ExternalIP** on normal Cilium nodes - no `kube-proxy` running on these nodes. Remove `kube-proxy` from the title seems fine.

[2019-10-16 08:13] brb commented on #9285
@ArthurChiao Thanks for the clarification. Then this issue is a duplicate of https://github.com/cilium/cilium/issues/5293.

[2019-10-16 08:13] #9285 closed

[2019-10-16 09:34] juanmanuel-tirado commented on #9352
I have continued exploring this issue. I comment some of my findings to help solving this issue.

I have enforced the mount of the bpfs in the host machine and checked that it is already working.

[code]

The cilium operator crashes because it cannot access the cilium-etcd-client service.
[code]

Something is going wrong with the coredns
[code]
I'm surprised the kube-api is not any longer accessib

[2019-10-16 09:35] brb opened #9421 "Use kubeadm in vagrant provisioning scripts for local development"
Currently, the vagrant provisioning script `contrib/vagrant/start.sh` does the manual installation of kubernetes which is spread among multiple files - https://github.com/cilium/cilium/tree/master/examples/kubernetes-ingress/scripts. Instead, we could use `kubeadm` to provision the kubernetes which would simplify the provisioning quite a lot.

[2019-10-16 11:01] aanm opened #9422 "Nodes lose connectivity after being teared down for > 15 min"
1) Stop node a)
2) Wait >15 min (15 min is the TTL for the lease in the kvstore)
3) Restart node a)
4) Verify the node can't connect to kube-dns, running on a different node, because coredns's node lost the route to reach node a).

Possible solutions:

1) Force key-value creation in etcd with `cilium-operator` for node a) based in k8s events. (I'm assuming we only do the creation of the key-value

[2019-10-16 11:28] jaffcheng opened #9424 "ENI: Automatically shrink IP pool via config option"
In ENI mode, cilium-operator won't shrink node IP address pool automatically. This may become a problem if the subnet size for PODs is limited. We could provide a config option to make cilium-operator shrink the pool size to desired value when API queue is free.

[2019-10-17 05:40] christianhuening commented on #9422
which version does this affect?

[2019-10-17 06:16] jaffcheng opened #9428 "ENI: Treat AWS subnet Name Tags as Tags as well"
Currently, the `Name` tag of AWS subnets are treated as Name field in `Subnet` struct:

https://github.com/cilium/cilium/blob/3d530b4ffd3c046059fc884e2991e6ba9e607ad9/pkg/aws/ec2/ec2.go#L284-L290

It should be treated as `Tags` as well, to allow selecting subent by specifying Name tag.

[2019-10-17 08:09] #9377 closed

[2019-10-17 09:08] enzian opened #9429 "Bootstrapping on AKS fails"
I already touched on this issue with @aanm:

When we bootstrap an AKS cluster according to [the installation guide](https://docs.cilium.io/en/latest/gettingstarted/k8s-install-aks/) the connectivity test fails because the containers on one node cannot reach containers on other nodes which causes the readiness check to fail:

[code]
and this is the corresponding pod list:
[code]
I deployed the 1.6.

[2019-10-17 10:47] aanm commented on #9421
It would yes but it would also make the deployment of self-build k8s more painful as well as the configuration of such components as their specific configuration is essential to test upcoming k8s versions.

[2019-10-17 10:48] aanm commented on #9422
@christianhuening all

[2019-10-17 11:33] #9422 closed

[2019-10-17 12:08] borkmann commented on #9402
Potentially related: https://github.com/iovisor/bpftrace/issues/853

There are some out-of-tree lockdown patches that downstream included, which could explain this issue as they were blocking entire bpf(2) syscall with EPERM.

[2019-10-17 15:24] brb commented on #9421
Can't you configure components with kubeadm?

[2019-10-17 18:05] #9394 closed

[2019-10-17 18:20] borkmann commented on #9362
As discussed deferred to k8s 1.17 release where this would then cover all CI.

[2019-10-17 23:13] ianvernon commented on #1564
This was completed as part of the release of `v1.6`: https://github.com/cilium/cilium/pull/8637

[2019-10-17 23:18] ianvernon commented on #6727
Closing, haven't seen this for a long time.

[2019-10-17 23:18] #6727 closed

[2019-10-17 23:19] ianvernon commented on #7105
We haven't observed this in months. Closing.

[2019-10-17 23:19] #7105 closed

[2019-10-17 23:21] ianvernon commented on #7317
We have added timeouts for the ginkgo tests themselves which are shorter than the Jenkins timeouts; this should be fixed now.

[2019-10-17 23:21] #7317 closed

[2019-10-18 11:35] #5367 closed

[2019-10-18 11:35] #9169 closed

[2019-10-18 12:28] jaffcheng opened #9446 "ENI: Node to pod connectivity issue"
**General Information**

- Cilium version: 1.6.2
- Orchestration system: self-managed k8s 1.13.2 on AWS EC2 instance
- Kernel 4.16.2, Centos 7.4.1708 with service NetworkManager started
- Configurations:
[code]
- Cluster description:
[code]

**How to reproduce the issue**

1. Create several pods on both nodes
2. Make sure the primary IP address of eth1 on node1 (192.168.1.2) is allocated to a pod

[2019-10-18 13:04] jaffcheng commented on #9446
Here is the cause based on my current investigation:
1. When eth1 is attached to node1 by operator, it is controlled by NetworkManager and gets its IP address 192.168.1.2 from dhcp and a direct route is generated
[code]
2. A pod gets the primary IP address of eth1 (192.168.1.2) and cilium-cni configures a route:
[code]
3. When I ping the pod on node2 (192.168.1.10), the ICMP request hits the direc

[2019-10-18 13:17] jaffcheng commented on #9446
Removing IP from eth1 and stopping dhcp (stop and disable NetworkManager in my case) solved the problem for me.
Would be ideal to fix this in cilium or add a note to docs if the solution makes sense.

[2019-10-18 14:22] borkmann opened #9451 "regression due to surpassing insns limit with nodeport on 4.19.57 aka pre 5.3"
Happens with both v4 and v6 enabled. Only with v4 it is not exposed.

[2019-10-18 15:41] #9428 closed

[2019-10-18 20:17] joestringer opened #9454 "`endpoint-x-regeneration-recovery` controllers always use endpointid 0"
Looks like this is mostly cosmetic, but makes it a bit more difficult to understand which pods are affected and being restored correctly.

[code]

Tasks:
* [ ] Set up tests for conditions where regeneration recovery is necessary
* [ ] Figure out how to get meaningful endpointids here

[2019-10-18 20:46] joestringer commented on #9451
`test/bpf/verifier-test.sh` is supposed to tell us this in CI ;) But I guess we only run these in the `runtime` tests VM (ie Linux `v4.9.x`).

[2019-10-18 20:52] ianvernon commented on #9454
Thanks for filing this!

The core problem here is that there are different parts of the daemon which update parts of the endpoint outside of endpoint creation. IMO the endpoint should be able to get an ID from some ID allocator outside of the endpointmanager, where it currently resides.

Whenever an endpoint is attempted to be created, and fails, we should be able to call `Delete` on that Endpoint

[2019-10-18 20:56] borkmann commented on #9451
Yeap, exactly the problem. We need something >= 4.19.57 and < 5.3 to make sure no new regressions slip in for BPF nodeport on any changes to bpf_netdev/lxc/etc. The net-next has the 1mio insn limit, so it's not visible there. :-/ Maybe we need a 3rd kernel in our CI?

[2019-10-18 20:59] joestringer commented on #9451
Ah, sigh..

[2019-10-18 21:59] danwent commented on #8815
we've now had multiple end-user reports that this issue can at least in some circumstances persist across many restarts of the cilium pod.   One user mentioned 15+ minutes.   Another mentioned ~8 restarts while still in CrashloopBackoff.

So it seems like fixing this is higher priority than when we believe it was just resulting in transient restarts that resolved on their own.

[2019-10-18 22:55] aanm opened #9458 "upgrade go-version library"
Note to self: use lessThan instead of constraints

[2019-10-19 03:36] jaffcheng commented on #9446
@tgraf

[2019-10-20 20:03] #8832 closed

[2019-10-21 00:32] jraby commented on #9260
I'm still testing cilium in a deployment with kube-router. Starting the health endpoint broke replaced the route for the node's podCIDR, rendering all pods unreachable (`Time to live exceeded`):

before:
[code]

after startup:
[code]

[2019-10-21 13:01] mlushpenko opened #9464 "AKS - ContainerCreating: postIpAMFailure range is full"
## Bug report

**General Information**

- Cilium version (run `cilium version`)
[code]
- Kernel version (run `uname -a`)
`feature.node.kubernetes.io/kernel-version.full=4.15.0-1059-azure`
- Orchestration system version in use (e.g. `kubectl version`, Mesos, ...)
AKS cluster
[code]
- Link to relevant artifacts (policies, deployments scripts, ...)
- Upload a system dump (run `curl -sLO
releases.cili

[2019-10-21 17:05] ianvernon opened #9470 "Documentation: create `clean` Makefile target"
This will remove the `_build` directory, which can sometimes contain stale data in spite of running `make render-docs` again.

[2019-10-21 17:29] dimm0 commented on #6320
Any estimate on fixing this?

[2019-10-21 21:36] ianvernon commented on #9088
Right now, the only way to tell if the proxy-visibility annotation is correctly plumbed is via doing `cilium bpf policy get <endpoint ID>`. It would be nice to specify via some user-facing API (`kubectl describe pod`, `cilium endpoint get`) that the visibility policy is implemented. One possibility is removing the visibility policy stuff from being done via annotations, and performed via a CRD ins

[2019-10-21 22:35] ianvernon commented on #3554
For those who may be hitting this from the documentation, most users are running K8s, which handles this via the K8s watcher for NetworkPolicy / CRDs; as such, we have closed this.

[2019-10-22 12:28] mlushpenko commented on #9464
I've noticed that we were missing `nodeiinit` daemonset but adding it didn't help. I've tested so far version 1.6.1, 1.6.2 and 1.6.3 and on new clusters (I've created 5-6 since yesterday), I am encountering some magic - `cilium` daemonset disappears atfer a few seconds.

It's super weird:
- ds is created
- cilium pods start
- afew successful container stratup both pods get termindated
- ds gets de

[2019-10-22 17:18] aanm commented on #7290
Fixed by #8719

[2019-10-22 17:18] #7290 closed

[2019-10-23 09:17] #9401 closed

[2019-10-23 09:57] borkmann opened #9482 "cilium_host: hw csum failure"
Reported via slack: https://cilium.slack.com/archives/C1MATJ5U5/p1571823875167100

[code]

[code]

[2019-10-23 12:35] ombre9 commented on #9429
We are facing the same issue, what are we missing?

[2019-10-23 12:39] #9260 closed

[2019-10-23 12:39] #8743 closed

[2019-10-23 15:26] willdeuschle commented on #8902
To follow up here - @joestringer and I determined that this was ultimately a difference between the submitted CNP and the sanitized version that was actually persisted. Specifically, a nil endpoint selector becomes

[code]

[2019-10-23 17:20] #9333 closed

[2019-10-23 18:22] #9458 closed

[2019-10-23 18:32] ianvernon commented on #6753
Package was removed, closing.

[2019-10-23 18:32] #6753 closed

[2019-10-23 21:06] joestringer commented on #9103
I've seen another community report with very similar behaviour. In this case we were able to get debug logs, as follows:
[code]

Here we see empty IPs being skipped, and most notably the `Node disappeared before result written` message which suggests that the node was deleted from the set of nodes in `cilium-health` even though that node continues to be up and available and responding to pings.

[2019-10-23 22:57] ianvernon commented on #7632
Fixed-by #9456

[2019-10-23 22:57] #7632 closed

[2019-10-24 16:20] joestringer commented on #9393
@mrostecki oh, that code is actually new and it actually fixes a related bug where ipv6 was not being disabled properly for health containers.

I don't follow your logic, this disables IPv6 if the options in Cilium disable IPv6.

[2019-10-24 18:15] ianvernon commented on #6640
These instructions are a bit too verbose to be added to the docs. Closing.

[2019-10-24 18:15] #6640 closed

[2019-10-24 19:54] #6616 closed

[2019-10-24 19:54] #9009 closed

[2019-10-24 21:29] ianvernon commented on #8372
This is inactive, closing.

[2019-10-24 21:29] #8372 closed

[2019-10-24 21:30] ianvernon commented on #8003
@brb are you still observing this? I did a lot of work around fixing up how we are handling SSH session timeouts in the CI a few months ago; this should be resolved.

[2019-10-24 21:40] mrostecki commented on #9393
OK, sorry, I'm dumb. I somehow assumed that this code is setting `disable_ipv6` sysctl as 0, not 1. Please disregard.

[2019-10-25 01:08] joestringer commented on #9393
No worries, we considered even using `sysctl.Enable(...disable_ipv6)`, which would have taken the confusion one step further!

[2019-10-25 12:00] Joseph-Irving opened #9502 "Enabling and then disabling k8s-services causes permanent connection timeouts on the node"
## Bug report

**General Information**
Enabling k8s-services in Cilium and then subsequently disabling k8s-services caused a variety of networking errors that could only be resolved by terminating all the nodes effected.
e.g from the k8s-metric-server
[code]

- Cilium version (run `cilium version`)
[code]
- Kernel version (run `uname -a`)
[code]
- Orchestration system version in use (e.g. `kubectl

[2019-10-25 12:18] #9220 closed

[2019-10-25 12:22] #9393 closed

[2019-10-25 15:21] #7509 closed

[2019-10-25 16:15] ianvernon commented on #7509
This was fixed by https://github.com/cilium/cilium/pull/9208

[2019-10-25 20:28] jraby opened #9503 "Add a way to disable cilium_host podCIDR route addition"
When initializing, cilium will create the `cilium_host` interface with an ip address within the node's podCIDR. It will then add a route for the podCIDR via this new interface (and keep adding that route back if it gets deleted).

This can be quite disruptive if trying to deploy cilium on a running cluster.
Namely, when running in `generic-veth` mode, cilium is not responsible for allocating inter

[2019-10-25 21:21] #8878 closed

[2019-10-25 22:04] ianvernon commented on #9301
The fix for this is to create a single context on the daemon side, from which we can create child contexts that are propagated down to Endpoints / controllers / things which should be 'stopped' upon agent termination. This was fixed in the following PRs:

* https://github.com/cilium/cilium/pull/9437
* https://github.com/cilium/cilium/pull/9489

[2019-10-25 22:04] #9301 closed

[2019-10-26 12:46] #8872 closed

[2019-10-26 17:09] bmcstdio commented on #1564
Could the chart be added to https://github.com/helm/charts or served from somewhere so that one can use plain `helm install` to install it (rather than downloading and extracting the tarball, and running `helm template` and `kubectl apply`)?

[2019-10-28 09:03] nailuenlue commented on #9429
Any updates on this? We're also facing the same issue.

[2019-10-28 09:10] brb commented on #8679
Didn't we discuss during the Cilium dev meeting some time ago, that we won't make `cilium status` to report deadlocks?

[2019-10-28 09:32] brb commented on #8003
I've just checked some test outputs of some test runs, and I don't see any `write ^C error: EOF` messages. Thanks.

[2019-10-28 09:32] #8003 closed

[2019-10-28 11:27] borkmann commented on #9482
Could not reproduce on Azure so far. Tested with non-SRIOV and SRIOV networking. Need more info.

[2019-10-28 13:02] aanm commented on #9421
I don't know.

[2019-10-28 13:04] brb commented on #9421
You can. See e.g. https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/control-plane-flags/.

[2019-10-28 13:13] #8679 closed

[2019-10-28 13:14] aanm commented on #9421
I don't see kubelet in there nor etcd in there for example.

[2019-10-28 13:24] brb commented on #9421
It's not listed there, but you can configure kubelet, see https://github.com/brb/cilium-without-netfilter/blob/master/setup-master.sh#L14. Not sure about etcd though.

[2019-10-28 13:28] EPinci commented on #9429
Its kind of very unreliable, sometimes the cluster works, sometimes it doesn't but, for the records, we just found out that for some reasons yet to be determined when cilium is not working on AKS, restarting the VMSS underneath the nodepool "fixes" things.
Some race condition, maybe?

[2019-10-28 14:35] aanm opened #9508 "Create backends for k8s LoadBalancer services"
Create Cluster and NodePort backends for Loadbalancer services

[2019-10-28 14:37] borkmann commented on #9508
(Reported from Brau in Cilium slack.)

[2019-10-28 16:04] mlushpenko commented on #9464
I had some issues with the newest version of helm, so now reverted to `2.14.3` and at least got some logs from cilium agent (still daemonset magically disappears), this is from kubernetes cluster `v1.15.3` on AKS:

[code]

Here is a complete manifest that I am deploying https://gist.github.com/mlushpenko/8818ef1badbf366abb3f24644c38b9cb

[2019-10-28 16:12] #9470 closed

[2019-10-28 16:19] braudel commented on #9508
When running k8s integrated with openstack and creating a service of the type LoadBalancer k8s talks to the openstack API to create a loadbalancer at the openstack level. This LB is set up to   loadbalance traffic into the NodePort ports associated to the service in k8s. Ie:

I) I have deployed k8s 1.15.3 using ubuntu bionic vms (kernel 5.3.0) , cillium 1.6.3 and deleted the kube-proxy daemonset.

[2019-10-28 16:25] brb commented on #9508
It might not be enough just to provision NodePort BPF services. We might need to create a BPF service for LoadBalancer (external) IP, so this depends on the ExternalIP feature.

[2019-10-28 16:38] ianvernon commented on #1564
@bmcstdio what would that mean for custom configuration of a given deployment of Cilium? We have extensive templating with our Helm configuration - I'm not sure how that would fit in by adding it to the `charts` repo. I am not saying it wouldn't work, but I don't have enough expertise in the area to be helpful.

[2019-10-28 16:44] braudel commented on #9508
Hi brb,

Not sure if I am missing something, but if requesting an svc of the type LoadBalancer creates the NodePort all should fall into place as at the openstack-level the loadbalancer is just trying to send traffic to the Nodes on the nodeport:

![image](https://user-images.githubusercontent.com/492997/67698344-18f15c80-f9a2-11e9-8d27-d9caa3bd25f5.png)

[2019-10-28 16:51] brb commented on #9508
Hi @braudel ,

Some loadbalancers (e.g. MetalLB in L2 mode, https://github.com/cilium/cilium/issues/9116) expect a node to handle requests with the destination IP addr = the LoadBalancer SVC external IP addr. So, to fix for all we need to fix https://github.com/cilium/cilium/pull/9092 first.

Anyway, your case should be fixed by https://github.com/cilium/cilium/pull/9510.

[2019-10-28 17:01] #9451 closed

[2019-10-28 22:16] joestringer commented on #9411
I run a 5.0 kernel here and these are the datapath options that I have for endpoints with a pretty standard set of install options:

[code]

The above looks pretty standard and easy to precompile against. Unfortunately it's a bit more nuanced than this because we also mix in the node configuration:

[code]

Here we have IP addresses, MAC addresses, MTU, device ifindexes. We would basically need to

[2019-10-28 22:31] joestringer opened #9515 "Templatize BPF base programs"
PR https://github.com/cilium/cilium/pull/7095 (Issue #6618) converted Cilium's endpoint header file into a template which could be used to compile a single ELF object for all endpoints, then at runtime copy the ELF file to a new location, substituting the templated fields such as IP addresses, MAC addresses, etc.

This issue tracks making similar changes for the node header file and base programs,

[2019-10-28 23:45] #9508 closed

[2019-10-29 01:34] nmcfaul commented on #9429
I'm seeing this in as well with AKS, right now it's a blocker in adopting cilium.

[2019-10-29 03:15] #3281 closed

[2019-10-29 03:15] #5444 closed

[2019-10-29 04:15] #1955 closed

[2019-10-29 08:45] bmcstdio commented on #1564
@ianvernon adding it to `helm/charts` basically means moving/copying/mirroring the `install/kubernetes/cilium` directory there, with the added benefit of a packaged version of that being served from somewhere (and hence `helm install cilium` working out of the box). Custom configuration would still be possible—it's actually the goal of this to enable that in an easier way, as we'd be eliminating t

[2019-10-29 08:59] #9503 closed

[2019-10-29 10:04] Robert-Stam commented on #8459
Both issues are addressed in 1.6 I tested with [1.6.3], so closing the issue.

[2019-10-29 10:04] #8459 closed

[2019-10-29 10:41] brb opened #9518 "Reject CNP with L7 rules when L7 proxy is disabled"
#9481 will prevent endpoint regeneration from failing when L7 proxy is disabled. This is non ideal, as it will let users to think that an L7 policy was enforced when the L7 proxy was not running.

To avoid this, we should log a warning in the endpoint regeneration, and also reject CNPs with L7 rules.

[2019-10-29 12:13] mlushpenko commented on #9464
Problem was due to `kubernetes.io/cluster-service: "true"` https://github.com/kubernetes/dashboard/issues/1849

[2019-10-29 14:25] #9140 closed

[2019-10-29 14:42] aanm commented on #9228
@uablrek sorry for the late reply, it seems you are running kube-proxy is that correct? Kube-proxy should handle these type of requests since you are not running Cilium with node-port.

[2019-10-29 14:58] aanm commented on #1564
@bmcstdio to sync with our release process, can you clarify the following?

- How long it would take to have `install/kubernetes/cilium` updated such as `helm install cilium` would be available once we release a new Cilium version?

- How feasible it is to specify a version with helm install?

Thanks!

[2019-10-29 16:39] uablrek commented on #9228
No worries, I am just testing CNI-plugins with K8s dual-stack. Cilium seem to work except for this case. I saw on slack that somebody had got K8s dual-stack running with Calico so I will make another try with Cilium as soon as I can. Thanks for your time.

[2019-10-29 17:08] joestringer commented on #8902
I was thinking about this, and figured that it's a bit weird conceptually to mix up sanitization and equality checks together; for one thing, this requires more effort to validate potentially both structures every time you check if they're equal.

I have a different proposal (already briefly discussed with @willdeuschle out-of-band): Maybe we can provide better rule constructor functions that will

[2019-10-29 21:43] Antiarchitect commented on #8722
Some logs from my case:
[code]

[2019-10-30 03:37] willdeuschle commented on #8902
After having thought about this for a little while and considered our own use cases, the bespoke constructors like `NewIngressWhitelist` are probably overworked. They would be convenient, but are likely not worth maintaining IMO.

That being said, I think the modification to `NewRule` that you're proposing would be great.

Right now, for all of my CNPs (because they are namespace-local and thus se

[2019-10-30 14:18] aanm commented on #8722
Can you check if you are mounting BPF filesystem?

https://docs.cilium.io/en/v1.6/kubernetes/requirements/#mounted-bpf-filesystem

[2019-10-30 15:06] lxnch opened #9525 "CiliumNetworkPolicy using toServices->k8sService fails to rediscover new endpoints behind service"
## Bug report

We have CNPs that whitelist egress traffic via `toServices - k8sService`. We notice that after we perform a cluster upgrade which changes the endpoints IPs behind the service (pod runs with host network), the policy does not update with the new endpoints ip's behind the serevice and starts dropping traffic.

**General Information**

- Cilium version
[code]
- Kernel version
[code]
-

[2019-10-30 20:18] aanm commented on #8722
usually it takes a couple minutes for status node to be updated by the prober. Make sure you are also using the last version as there was a bug in cilium with regarding this. Some nodes were not properly clean up after they were removed.

[2019-10-30 20:41] #8897 closed

[2019-10-30 20:45] Weil0ng opened #9527 "kubelet certificate missing when starting 2 worker nodes with Vagrant"
Trying to start vagrant with 2 k8s worker nodes fails withing current master branch:

Tried both `K8S=1 NWORKERS=2 contrib/vagrant/start.sh` and `NFS=1 K8S=1 NWORKERS=2 contrib/vagrant/start.sh`, both fail with same message for worker 2 (k8s3):

k8s3: ----- 03-install-kubernetes-worker.sh: main: Copying cilium certificates to /var/lib/cilium
    k8s3: ----- 03-install-kubernetes-worker.sh: main: C

[2019-10-30 21:13] ianvernon opened #9529 "operator: create context to pass down to functions which use context for graceful teardown"
See https://github.com/cilium/cilium/pull/9511#discussion_r340724583

[2019-10-30 21:42] aanm commented on #9527
@Weil0ng no you are not, it's only because `00-create-certs.sh` has the static node names in the file as we usually only setup up to 1 k8s worker node. If you want it to run 2 worker nodes you will need to apply the following patch. Feel free to submit a PR that makes the `00-create-certs.sh` more modular.

[code]

[2019-10-31 04:34] jaffcheng opened #9533 "ENI: stop operator from keeping attaching ENI to deleted instance"
**General Information**

- Cilium version 1.6.3
- Kernel version 4.16.2
- Orchestration system version in use K8S v1.13.2

**How to reproduce the issue**

1. Deploy `ipam: eni` mode cilium cluster on AWS EC2 instances
2. Add an instance to cilium cluster, use default value 8 for `Spec.ENI.pre-allocate`
3. Ensure ciliumnode resource is properly created by operator
4. Delete EC2 instance. But node a

[2019-10-31 10:08] Antiarchitect commented on #8722
Seems like I've had several issues at once. First of all my firewall rules didn't allow 10.32.0.0/12 - my internal CIDR as a source in some cases. And BPF wasn't mounted properly.
Thank you so much - I see perfect network connectivity for the first time.

[2019-10-31 14:04] juanmanuel-tirado commented on #9429
Something to do with  #9352 ?

[2019-11-01 09:12] Antiarchitect commented on #8722
Great docs change! Thank you so much once again!

[2019-11-01 18:26] #8953 closed

[2019-11-01 19:47] joestringer opened #9539 "Extraneous envoy warning log "Skipping unsupported runtime layer""
During a failure in PR #9491 I saw these `cilium-agent` logs complaining about some configuration of envoy:

[code]
...
[code]

What do these logs mean? Is there actually a configuration problem or does this occur in normal operation? If so, should they result in warnings in the `cilium-agent` logs?

https://jenkins.cilium.io/job/Cilium-PR-Ginkgo-Tests-Validated/15708/testReport/junit/Suite-k8s-1/

[2019-11-01 19:54] joestringer opened #9540 "CI: cilium pre-flight checks failed: controllers are failing: controller resolve-labels-default/app1-67cb96947b-9l8c5 failure 'pods "app1-67cb96947b-9l8c5" not found'"
## Summary

It is possible for a `resolve-labels-xxx/yyy` controller to be started, and never become successful, and hence forever fail in the `cilium-status`. The likely only remedy would be agent restart (not confirmed).

Likely regression from eb8df612c551cf0385eece4d625caf7f44c03344 (PR #9257), affects v1.6.

## CI failure

I saw this failure in the following CI tests for PR #9491 on master (v

[2019-11-01 19:56] joestringer commented on #9540
At a high level when I look at the particular error in this message, it looks to me like the `resolve-labels-xxx/yyy` controller should detect when the pod cannot be found, and shut down the controller gracefully.

[2019-11-01 19:57] joestringer commented on #9540
In the `Restart Cilium validate that FQDN is still working` CI sysdump `pods_status.txt`, I cannot find any `app1` pods which is consistent with the error message. Not sure how `cilium` missed the step where it should shut down this controller and stop trying to resolve its labels.

[2019-11-01 20:08] joestringer commented on #9540
Logs from the zip for the `cilium-2ql44` pod which match the containerID, endpointID or pod name that is involved in the controller complaint:

[code]

[2019-11-01 20:10] joestringer commented on #9540
Interestingly it seems like the pod was actually joined twice with different endpointIDs (which I infer by the fact that the endpoint was removed twice, with the same `k8sPodName` but different `endpointID`:

[code]

[2019-11-01 20:13] joestringer commented on #9540
Ah yes, when I strip the above logs down to exclude the `debug` logs, it is clear that there were two `New endpoint` events:

[code]

[2019-11-01 20:16] joestringer commented on #9540
Although there are weird things going on with the recreation of the endpoint which seems like it may have in fact been stopped on the system, there's still clearly a Cilium bug here: Despite the `Removed endpoint` log message for the endpoint, the corresponding `resolve-labels-xxx/yyy` controller is continuing to run. These do not have tied fates, but they should.

[2019-11-01 22:26] #8956 closed

[2019-11-03 03:14] #8371 closed

[2019-11-03 23:03] Antiarchitect opened #9543 "Cilium Helm Chart: Make prometheus.io/port configurable"
## Proposal / RFE

**Is your feature request related to a problem?** yep

When I tried to enable Prometheus metrics for cilium in my case it conflicted with rook.io cephcsi holding the same host port. I tried to handle this by myself by changing hardcoded 9090 to `{{ .Values.global.prometheus.port }}` that I created but found that there is no way to pass the new port value to the cilium-agent and

[2019-11-04 16:30] aanm opened #9546 "Simplify k8s external IPs control plane implementation"
Follow up on https://github.com/cilium/cilium/pull/9092#discussion_r342141502

Already simplified in PR 9092

[2019-11-04 16:31] aanm opened #9547 "Re-enable / re-write ipvlan+cni nodeport test"
It was disabled in #9447

[2019-11-04 17:20] #9518 closed

[2019-11-04 18:18] Weil0ng commented on #9527
Hi @aanm, thank you for the response! I have a local patch that moves cert generation to each worker instead of master, which solves the issue, will submit a PR when I get a chance soon.

[2019-11-04 18:49] tgraf opened #9548 "Use kubectl apply --force in upgrade test"
In order to prepare merging of #9519. The CI must use `--force` to kubectl apply so we can test the upgrade scenario when the DaemonSet is modified with obsolete labels being removed.

[2019-11-04 19:26] #9540 closed

[2019-11-05 00:50] #9340 closed

[2019-11-05 01:04] #9308 closed

[2019-11-05 08:28] #9424 closed

[2019-11-05 09:16] aanm opened #9550 "CI: Fix k8s upstream tests"

[2019-11-05 09:18] #9525 closed

[2019-11-05 15:49] #5223 closed

[2019-11-05 17:49] #9024 closed

[2019-11-05 19:24] danwent opened #9556 "Multiple issues installing Cilium on latest GKE with CoS 77 (rapid channel)"
## Bug report

**General Information**

Cilium 1.6.3, sysdump attached.

[cilium-sysdump-20191105-111420.zip](https://github.com/cilium/cilium/files/3810804/cilium-sysdump-20191105-111420.zip)

Main thing that seems to be new here is that Google CoS version is milestone 77, which includes a 4.19 kernel and potentially some other significant changes to the base image.  https://cloud.google.com/cont

[2019-11-05 19:26] danwent commented on #9556
Note:  I'm going to reproduce this on another cluster later today, as some of the other "infra pods" also seem to be unhealthy, so its possible this is just an unhealthy cluster overall.   Still, issue 1 would still seem to be something we need to address.

[2019-11-05 19:30] aanm commented on #9556
@danwent I see this in the `-previous`

[code]

[2019-11-05 20:35] aanm opened #9557 "cilium v1.5.5 does not release IP addresses with crio"
Environment:
* Cilium v1.5.5
* K8s v1.14
* CRIO v1.14.0
* runc

From CRIO logs:

[code]

[2019-11-05 20:38] danwent commented on #9556
@aanm , I tried creating a new cluster, and it is hanging/taking a very long time as well, which is what happened with the first cluster.    I suspect that the "rapid" channel for GKE may just be broken wtr the k8s-api-server.

 I suspect the cilium-node-init issue is probably real, but the general failure of Cilium to start may be just the fact that it is starting on a cluster that is a bit borke

[2019-11-05 20:49] aanm commented on #9556
no, the reason is that the certificate in the GKE's kube-apiserver is signed for `104.196.230.78 and 10.4.0.1` but in the cilium pod the kube-apiserver IP set is, for some reason, `10.4.16.1`

[2019-11-05 20:51] joestringer commented on #9557
It appears to be this error from the standard CNI plugin package:

https://github.com/cilium/cilium/blob/v1.5.5/vendor/github.com/containernetworking/cni/pkg/version/plugin.go#L100

[2019-11-05 22:04] glibsm opened #9558 "monitor: Reply packet have their source/destination information backwards"
Running a curl with L7 policy enabled generates the following output:

[code]

Even though the to/from 0 is shown correctly in the monitor output, the actual source and destination fields in the `LogRecord` struct are not correctly reversed.

Relevant code: https://github.com/cilium/cilium/blob/master/pkg/monitor/logrecord.go#L72

[2019-11-06 13:27] cblomart commented on #4159
+1

[2019-11-06 14:18] aanm commented on #8327
@bharaththiruveedula are you still working on this?

[2019-11-06 14:19] aanm commented on #9548
Fixed by https://github.com/cilium/cilium/pull/9552

[2019-11-06 14:19] #9548 closed

[2019-11-07 00:01] tom-hadlaw-hs opened #9571 "DaemonSet Pods scheduled onto new Nodes sometimes are not managed"
## Bug report

**General Information**

I am running Cilium in an EKS based Kubernetes cluster, using the AWS VPC CNI with CNI chaining. I have a DaemonSet resource which creates Pods that expose ports. While scaling in additional cluster nodes, we occasionally see newly scheduled DaemonSet pods without a corresponding CEP.

- Cilium version (run `cilium version`) v1.6.3
- Kernel version (run `una

[2019-11-07 00:34] joestringer opened #9572 "Potential master regression in cilium-operator with clustermesh"
A user reported on Slack that the operator would not start up, logs like this:

https://cilium.slack.com/archives/C53TG4J4R/p1573085478010800

[code]

I don't have timestamps for it.

When I suggested downgrading `operator` from `latest` to `1.6.3`, the operator started up fine.

[2019-11-07 01:26] joestringer commented on #9571
For GKE we have nodeinit logic to handle this case:

https://github.com/cilium/cilium/blob/62195fc1676e8bb865fe934a97711aa3bc313ee2/install/kubernetes/cilium/charts/nodeinit/templates/daemonset.yaml#L102-L111

Looks like we need similar functionality for EKS.

[2019-11-07 01:29] joestringer commented on #9571
OS: Ubuntu

[2019-11-07 01:33] joestringer commented on #9571
Also relevant, from the slack thread:

[2019-11-07 03:47] danwent commented on #9556
New sysdump below.

The issue with cilium-node-init seems to persist.

Issues with k8s api server connectivity seem a bit mixed.  With a new cluster, Cilium is able to access the K8s api server, but it seems that other pods are not able to reach k8s api server via the service clusterIP (Get https://10.3.240.1:443/api/v1/namespaces/kube-system/configmaps/extension-apiserver-authentication: dial tcp

[2019-11-07 04:08] danwent commented on #9556
Note:  I'm seeing the same timeouts to k8s service clusterIP even on GKE clusters that are 4.14.145+ kernel, not 4.19.

I've recently updated the GKE master + node versions in this cluster, so it may actually be about the shift from the 1.12.x or 1.13.x version I was running before to the 1.14 version I am now running.

[2019-11-07 14:24] diversario commented on #9572
I encountered this by following [the guide](http://docs.cilium.io/en/stable/gettingstarted/clustermesh/), after installing Cilium with managed etcd as described [here](http://docs.cilium.io/en/stable/gettingstarted/k8s-install-etcd-operator/#k8s-install-etcd-operator) – but instead of downloading a tarball I cloned the repo and ran `helm template` in the repo master branch at commit 94d62d66c925ab

[2019-11-07 18:08] aanm opened #9576 "Cilium keeps modified service ports in datapath"
Deploy Deployment:
[code]
Deploy service
[code]
Verify contents of service list, it should exist as expected:
[code]
Redeploy the same service without one of the ports
[code]
Verify the content of `cilium service list` is still the same. It shouldn't since port `80` is not mapping to anything anymore.
[code]

Affected versions:
- master (def2c9e06e91d330c3dfdfc9384e65c2ad39fccf)
- v1.4.0-v1.4.9
-

[2019-11-07 21:24] tom-hadlaw-hs commented on #9571
Just to mirror what I posted on Slack, I’ve been looking into how we could do something similar to the restartPods option (https://github.com/cilium/cilium/blob/v1.6/install/kubernetes/cilium/charts/nodeinit/templates/daemonset.yaml#L102-L111) that would work with EKS+AWS-CNI. It appears that the plugin allows you to request all the cni managed pods running on that node from its introspection API.

[2019-11-08 15:10] #8819 closed

[2019-11-08 19:05] #9576 closed

[2019-11-08 19:18] joestringer opened #9580 "Add support for policy "audit" mode vs "enforcing" mode"
Currently if you write policies in Cilium, you must get your policies correct the first time, otherwise you will start dropping traffic.

Various projects like SELinux have a notion of an "audit" mode where the policy is put in place, but traffic is not denied; rather, if any traffic *would* be denied, then audit logs are generated to inform the user that their current policy is not sufficient to

[2019-11-08 19:51] aanm commented on #9557
Fixed by https://github.com/cilium/cilium/pull/8184

[2019-11-08 19:51] #9557 closed

[2019-11-08 21:18] joestringer opened #9582 "Istio GSG doesn't work with microk8s"
Report from Slack:
https://cilium.slack.com/archives/C1MATJ5U5/p1573241185069700

Cilium 1.6
Following the guide: https://docs.cilium.io/en/v1.6/gettingstarted/istio/

The deployment status of Istio reported everything is fine at the end of Step 2 of the guide, ie Istio pods apparently are ready.

[2019-11-08 21:23] joestringer commented on #9582
From the same thread:

Might be worth double-checking whether there are any basic helm options that are different between the quick-install YAML vs. the options that microk8s uses that might impact this.

[2019-11-08 22:10] #9047 closed

[2019-11-08 22:28] danwent commented on #9580
A big +10 for this issue, as I've heard it mentioned by many users.

One idea would be to have an annotation on the CNP itself, with the implication that all endpoints that are selected by a CNP with that annotation are in warn mode.  A common case would be to have a default deny policy that selects all endpoints in the namespace, and if that policy had the annotation, it would just be audit mode.

[2019-11-09 16:35] #9002 closed

[2019-11-09 18:35] #8275 closed

[2019-11-09 21:25] Antiarchitect opened #9585 "Unreachable nodes. Prometheus metrics vs cilium-health"
## Support

I have a bit confused when trying to understand node reachability via two different instruments:
`./k8s-cilium-exec.sh cilium-health status --probe --succinct` tells me that all nodes can perfectly fine reach each other (true in all rows for all nodes) but prometheus metrics show me another picture:
Query: `cilium_unreachable_nodes{kubernetes_pod_name=~"cilium.*"}`
[code]
Which one sho

[2019-11-09 23:42] Antiarchitect commented on #9212
Having many of this (~400K) in my dashboard.

[2019-11-11 09:52] Joseph-Irving commented on #9502
I have reproduced this behaviour on cilium 1.6.3 using the same method

[2019-11-11 10:52] #9543 closed

[2019-11-11 13:34] aanm commented on #7111
@jimmyjones2 Isn't the proposal made in https://github.com/cilium/cilium/issues/7111#issuecomment-469009377 enough? There's also the cluster wide network policies proposal in #9200 which will be added in 1.7.0

[2019-11-11 14:14] aanm commented on #7404
@tgraf We have switched to CiliumNode. We need to do an apiserver call for this case since we are no longer watching for k8s node events.

[2019-11-11 14:15] #7404 closed

[2019-11-11 15:18] #9200 closed

[2019-11-11 16:05] christianhuening opened #9589 "Support Static Egress IP"
## Proposal / RFE

**Is your feature request related to a problem?**
We need to connect to a service external to our cluster, which requires a static source IP in subsequent requests for the same session. Since obviously our services are set up in an H/A we cannot provide this with pure Kubernetes. We do not have VMs available and want to stay with our pure Kubernetes based solution. Our setup fea

[2019-11-11 17:15] tgraf commented on #9100
Fixed by #9481

[2019-11-11 17:15] #9100 closed

[2019-11-11 17:25] tgraf commented on #8722
Not observing this anymore. Closing for now.

[2019-11-11 17:25] #8722 closed

[2019-11-11 20:00] jraby opened #9590 "cni chaining: cilium_host interface takes ip from podCIDR range even if cilium is not in charge of IPAM"
We just had a situation on a node where a pod was assigned the same ip address as the `cilium_host` interface, this caused network to be non functional for the pod in question since return packets for all its traffic was most likely delivered to the `cilium_host` interface.

Our CNI config is as follows:

[code]
cilium configmap:
[code]

Cilium master (ish) from last week.

It seems the `cilium_ho

[2019-11-11 21:39] genbit opened #9591 "Envoy crashes if proxy lib produces large record in access log"
We were working with Go extensions, with redis protocol, and found the following bug:

if redis proxylib produces long enough (17K symbols) messages in the envoy access log (see the attachment), envoy crashes with the following message:

[code]

Presumable it has something to do with:
https://github.com/cilium/cilium/blob/master/pkg/envoy/envoy.go#L282

I was not able to reproduce it for HTTP prot

[2019-11-11 23:03] genbit opened #9592 "Cilium L7 Visibility: provide status of intent and configured proxy"
User can annotate any pod and to enable new L7 protocol visibility (http://docs.cilium.io/en/latest/policy/visibility/), however there is no easy way to understand if:
* annotation was syntactically correct,
* got applied as indented, aka proxies were successfully setup for requested ports
* proxy is up and running (aka, didn't crash and traffic is being redirected through proxy)

Ideally we would

[2019-11-11 23:42] bradfitz commented on #9190
The printf format problem remains.

[2019-11-12 00:01] genbit opened #9593 "Cluster wide l7 protocol visibility"
I can enable DNS Proxy visibility using cluster-wide cilium network policy, however it will put all endpoints into default deny on egress and be a potentially disruptive change to my workloads.

Would be great if I can leverage L7 protocol visibility-only mode (http://docs.cilium.io/en/latest/policy/visibility) on a cluster-wide level, and just specify that all endpoints egress to 53 UDP is a DNS

[2019-11-12 10:36] #9087 closed

[2019-11-12 17:52] jrfastab commented on #9112
Resolved.
[code]

[2019-11-12 17:52] #9112 closed

[2019-11-12 18:23] joestringer commented on #7698
We're observing lots of these messages in production environments of various users on version v1.6.3:

[code]

[2019-11-12 19:03] joestringer opened #9599 "Pod that is destroyed while cilium-agent is down gets stuck attempting to restore"
Cilium v1.6.3

If an endpoint is deleted while `cilium-agent` is not running, then the state on the filesystem remains but the network links (and containers/pods) may disappear. The next time that Cilium starts up and restores the endpoints from the filesystem, Cilium constantly complaining in `cilium status` with a controller that is unhealthy:

[code]

This message continually repeats in the end

[2019-11-12 19:20] joestringer opened #9600 "Cilium warns about EPID_next restore failure"
Cilium v1.6.3

I noticed these log messages in a user report:
[code]

The `endpointID=2468_next` indicates to me that:
* The previous instance of Cilium was attempting to regenerate endpoint 2468
* Cilium restarted for some reason in the middle of regeneration
* The `2468_next` directory remained in the Cilium state directory
* On startup, Cilium attempts to restore endpoints from such directories

[2019-11-12 19:45] #9190 closed

[2019-11-12 21:49] borkmann commented on #9076
User bug report in Cilium slack: https://cilium.slack.com/archives/C1MATJ5U5/p1573561149107300

[2019-11-13 00:17] soumynathan opened #9603 "Compatibility issues seen in the kafka-v1.yaml file while trying to test the Getting Started with Istio guide"
## Bug report

**Documentation Bug**
Compatibility issues seen in the kafka-v1.yaml file while trying to test the Getting Started with Istio guide

**How to reproduce the issue**

1. Follow the instructions in the Getting Started using Istio guide.
2. The issue is seen while running this command.
[code]

**Here is the error seen:**
[code]

[2019-11-13 00:44] joestringer commented on #9599
More information:

I tried:
* Deploying a demo application
* Deploying Cilium without tolerations
* Tainting a node
* Deleting Cilium pods (so it's not redeployed)
* Deleting the demo app
* Removing the tolerations so that Cilium will redeploy/restore

In this case, upon restore, Cilium attempts to probe k8s to check that the pod is still alive, and because the resource was deleted, it reports:
[c

[2019-11-13 13:47] jaffcheng opened #9604 "ENI: aws/eni unit test fails sporadically due to race condition"
**How to reproduce the issue**

1. `cd cilium/pkg/aws/eni`
2. `while true;do go test ./... -count=1 >> /tmp/eni-test.result;sleep 1;done`

Most of the time the tests would succeed, but after running it for a while, test failure occurs.

[2019-11-13 13:59] jaffcheng commented on #9604
In order to make it closer to the root cause, I tested on commit `c831888f5e6426ca44086e762912c572340e45ec`, which excludes some recent relevant changes.
These are some of the test FAILs I have seen:
[code]

[2019-11-13 17:52] #9592 closed

[2019-11-13 20:36] swami-dvr commented on #9603
This change worked for me
[code]

[2019-11-13 20:37] swami-dvr commented on #9603
Let me submit a pull request with this change, if it is acceptable.

[2019-11-13 21:59] #4870 closed

[2019-11-14 10:59] #5293 closed

[2019-11-14 10:59] #9546 closed

[2019-11-14 11:27] #9407 closed

[2019-11-14 18:14] aanm opened #9613 "CI: Potential deadlock from xDS"
It seems the following test run got a potential deadlock:

https://jenkins.cilium.io/job/Cilium-PR-Ginkgo-Tests-K8s/2635/

possible reasons:
[code]

[code]

PR where the test was seen:
https://github.com/cilium/cilium/pull/9610

Full archive: (See logs from `test_results/111-/K8sServicesTest_Checks_service_across_nodes_with_L7_policy_Tests_NodePort_with_L7_Policy`)

[test_results_Cilium-PR-Ginkgo-

[2019-11-14 18:29] jrajahalme commented on #9613
Just based on the above it looks like Envoy is not responding with neither ACK nor NACK, which stalls the regeneration of the endpoint, which then blocks the deletion of the endpoint. The reason for Envoy not responding seems to be that the listener has been removed, which happens when the last redirect is removed.

It is possible that this is simply a race condition between xDS N/ACK and listener

[2019-11-14 21:15] jimmyjones2 commented on #7111
@aanm If I understand the docs of #9200 properly it would still allow a project admin to override/loosen the rules set by the cluster admin with a CiliumClusterwideNetworkPolicy?

[2019-11-14 21:17] aanm commented on #9599
PR https://github.com/cilium/cilium/pull/9586 should probably help with this...

[2019-11-14 21:37] aanm commented on #7111
@jimmyjones2 correct. So what you want is some sort of RBAC for the policy creation in the cluster?

[2019-11-14 22:35] joestringer commented on #7309
bpf_lb was removed in v1.7 dev cycle, closing.

[2019-11-14 22:35] #7309 closed

[2019-11-14 22:55] #9603 closed

[2019-11-14 23:13] joestringer commented on #7111
Another perspective, would it be sufficient to have an overriding blacklist of egress destinations that should never be allowed?

[2019-11-15 12:50] borkmann commented on #9076
Context: JrCs from slack: ```Seem to have "another" bug. I've update the sessionAffinity in the service (of type LB) to ClientIP, but the sticky session is not working. The traffic is always distribute to all the pods. [...] yes i use nodeport with external lb [...] do i just need to start kube-proxy without changing anything the values of the cilium 1.6.x deployment ? [...]```

[2019-11-15 20:56] joestringer opened #9620 "Support exposing services through multiple devices"
NodePort services are currently exposed through the native device which has the default route on the host or a user specified device. In tunneling mode, they are additionally exposed through the tunnel interface (`cilium_vxlan` or `cilium_geneve`). This issue tracks exposing services through multiple native devices.

[2019-11-15 21:20] michi-covalent opened #9622 "accesslog: DropReason field is not set"
I was trying to check the DropReason field for L7 log record, but it seems like the field is never set: https://github.com/cilium/cilium/blob/525eee50ccc1b942ac8d26956e49f8e61888e6f4/pkg/proxy/accesslog/record.go#L186

[2019-11-16 01:38] jrfastab opened #9624 "cilium: drop events should record actual error from bpf helpers"
Currently, when we get a drop event for some reason we encode a Cilium specific error code. This gives us where in Cilium datapath the error code but loses information about why the error happened if its a helper call for example we no longer know what in the helper failed making dbg difficult.

[2019-11-17 05:15] denverdino opened #9628 "Inconsistent clean-up scripts for the getting started guides"
**General Information**

- Cilium version 1.6.3

**How to reproduce the issue**

1. Clean-up scripts are missing in https://cilium.readthedocs.io/en/stable/gettingstarted/http/
2. ```minikube delete``` for clean up is not good for the samples

[2019-11-17 20:18] jimmyjones2 commented on #7111
@joestringer Yes, either a blacklist of disallowed addresses, or a whilelist of allowed addresses that can't be expanded

[2019-11-18 04:24] #9628 closed

[2019-11-18 13:59] arnoldpistorius opened #9631 "Round-Robin DNS records"
## Proposal / RFE

Round Robin DNS returns a list of ips instead of one. When using egress rule for a FQDN which has Round Robin DNS enabled it will not be able to reach the server (traffic is blocked).

Example response of DNS server for a record with Round Robin DNS:
[code]

Second time I execute the query there is a difference in order:
[code]
Solution would be that all resolved IPs are allowed

[2019-11-18 14:11] mrostecki commented on #7052
I can't reproduce this usue both on Cilium 1.6.3 and 1.5.9. I'm closing this issue.

[2019-11-18 14:12] #6510 closed

[2019-11-18 14:17] mrostecki commented on #9322
I can't reproduce anymore on newer versions, closing.

[2019-11-18 14:17] #9322 closed

[2019-11-18 14:23] raybejjani commented on #9631
@arnoldpistorius Could you include an example policy where this doesn't work? The current behaviour should accomplish what you suggest. Note that you do need to include L3 toFQDNs rules to allow the actual connection (https://cilium.readthedocs.io/en/latest/policy/language/#dns-based), and L7 DNS rules to allow the DNS lookups and provide the IPs used by the L3 rules (https://cilium.readthedocs.io

[2019-11-18 17:03] #9464 closed

[2019-11-19 15:04] #8373 closed

[2019-11-20 18:04] tgraf opened #9642 "Switch to HTTP based health checking"
Switching to HTTP based health checking will have several benefits:
 - Timeouts in accessing the Cilium API will be considered unhealthy
 - No leftover `cilium` client processes inside of the cilium pod

[2019-11-21 03:45] ungureanuvladvictor commented on #7770
Same happened at https://jenkins.cilium.io/job/Cilium-PR-Ginkgo-Tests-Validated/15915/testReport/junit/Suite-k8s-1/11/K8sDatapathConfig_IPv4Only_Check_connectivity_with_IPv6_disabled/.

[2019-11-21 07:37] arnoldpistorius commented on #9631
@raybejjani

Thanks for your reply. I had a couple of days off from work, so I was not able to respond faster.

It seems that the site nu.nl was redirecting to www.nu.nl and obviously that was blocked by the policy. I added a wildcard pattern to make it work.

[code]

[2019-11-21 07:37] #9631 closed

[2019-11-21 14:52] jaffcheng opened #9644 "eni: agent failed to restart after patching wrong value in ciliumnode"
## Bug report

**General Information**

- Cilium version 1.6.2
- Orchestration system version in use k8s 1.13.2

**How to reproduce the issue**

**1. start cilium-agent in `ipam:eni` mode, ciliumnode resource is created automatically
2. set random subnet-tags for this node**
[code]
The `subnet-tags` shown in describe ciliumnode:
[code]
**3. restart cilium-agent, cilium-agent exited with the follow

[2019-11-22 11:00] raybejjani commented on #9631
@arnoldpistorius No worries! One thing to point out is that the DNS mapping is pretty simple. If you have a CNAME record for www.nu.nl -> nu.nl the internal cache would store www.nu.nl -> IP of nu.nl.
What you have works perfectly fine, but in case you saw the other behaviour someday, that is why!

[2019-11-22 17:50] #9351 closed

[2019-11-22 21:45] joestringer opened #9651 "Runtime compilation failure on master / v1.7 cycle"
User was deploying Cilium `latest` via kops with kube-proxy free on kernel 4.19.67:

[code]

[code]

[code]

[logs.txt](https://github.com/cilium/cilium/files/3881558/logs.txt)

[2019-11-22 22:30] ltagliamonte-dd opened #9652 "Disable sockmap at runtime"
This FR is somewhat related to https://github.com/cilium/cilium/issues/6091
Would be nice to disable sockmap at runtime based on pod annotations, be able to disable this feature at runtime makes possible to debug network issues using tools like tcpdump.

[2019-11-23 03:25] ungureanuvladvictor commented on #9644
@jaffcheng I think the way you're updating the cn custom resource does not match the type of the `SubnetTags` field in the eni spec (https://github.com/cilium/cilium/blob/master/pkg/k8s/apis/cilium.io/v2/types.go#L806-L810). You can see that it is a `map[string]string`. With your `kubectl` you're making the `subnets-tags` field in the CiliumNode to be an array.

[2019-11-23 03:49] jrfastab commented on #9652
+1, we could do it based on policy or pod annotation whichever is nicer. But for tcpdump like support we can also add a cilium monitor style tap.

[2019-11-23 04:06] ltagliamonte-dd commented on #9652
Make tcpdump work also enables the use of other well-known troubleshooting tools like Wireshark, sysdig, etc...

[2019-11-23 04:18] jaffcheng commented on #9644
Thanks for pointing that out @ungureanuvladvictor , I just realized that and after patching the wrong value, cilium-agent prints right error logs immediately, which I missed because I have restarted cilium-agent:
[code]
After a restart, agent log only shows:
[code]
I think it would be easier to debug if cilium-agent prints the CRD validation error on restart.

[2019-11-23 04:52] ungureanuvladvictor commented on #9644
I agree with your point @jaffcheng but I suspect we can sidestep this problem entierly by having the k8s apiserver apply validation to the `ciliumnodes.cilium.io`. Without a lot of experience in this area I've found https://kubernetes.io/docs/tasks/access-kubernetes-api/custom-resources/custom-resource-definitions/#specifying-a-structural-schema and I suspect Cilium is already doing this for CNPs.

[2019-11-23 17:41] olemarkus commented on #7933
You can close this one now 😊

[2019-11-25 10:02] jaffcheng opened #9656 "eni: allow to select security groups by tags"
We can only select security groups by IDs currently. It would be friendlier for automation to allow to select it by tags.

[2019-11-25 15:06] carrodher commented on #1564
Hi, sorry for the delay I usually use an internal tool to manage GitHub notifications with some filters to only show those related to Bitnami repositories (or Helm charts), that is why I missed this one. Sorry.

As far as I know, the stable repository is not accepting new charts anymore, instead of that, the maintainers suggest you create your repository and it to the [Helm Hub](https://hub.helm.s

[2019-11-25 16:52] ltagliamonte-dd commented on #9652
@jrfastab thank you for the support of this feature, whatever come easier and doesn't re-deploy the pod i want to troubleshoot :)

[2019-11-25 17:00] #9600 closed

[2019-11-25 18:22] joestringer opened #9659 "Cilium API handler panicked at url /v1/identity/12345"
Cilium v1.6.3
Using etcd for identity propagation, not CRD.

[code]

[2019-11-25 18:23] joestringer commented on #9659
Digging around in the API handler for identity labels fetch, I found that PR https://github.com/cilium/cilium/pull/9138 makes a bunch of changes in this area. It is intended to clean up casting in conjunction with the kvstore, and it may inadvertently fix the issue.

[2019-11-25 19:11] joestringer commented on #9659
There were identity releases occurring 8 seconds prior to this log message, but unfortunately the identity number is not known, only the labels. So there's no way to determine whether they are related to this message or not.

[2019-11-25 20:09] #8310 closed

[2019-11-25 20:23] aanm opened #9660 "CI: Kubelet logs not gathered in CI sysdump"
It seems there are a couple of files that should contain the kubelet logs but the file is empty:

[code]

Faulty CI https://jenkins.cilium.io/job/Cilium-PR-Ginkgo-Tests-Validated/15915/testReport/junit/Suite-k8s-1/11/K8sDatapathConfig_IPv4Only_Check_connectivity_with_IPv6_disabled/

[2019-11-25 20:24] aanm commented on #9644
@ungureanuvladvictor yep, PR #9655 seems to be in the right track.

[2019-11-25 20:25] #7933 closed

[2019-11-25 21:15] joestringer commented on #7770
This latest failure is actually interesting and a bit different, I note that one of the endpoints gets into a `not-ready` state:

[code]

This is interesting for two reasons:
* The endpoint program load actually failed for some legitimate reason
* The log buffer is not big enough to hold the reason for that failure

[029d4f55_K8sDatapathConfig_IPv4Only_Check_connectivity_with_IPv6_disabled.zip](ht

[2019-11-25 21:47] joestringer commented on #7770
Something else I noticed in the above link/dump:

[code]

This could be a Linux 5.3 regression..?

[2019-11-25 22:59] borkmann opened #9663 "cilium, nodeport (?): syn/ack takes unexpected hairpin to stack"
Unclear whether issue is related to nodeport or not.

Roughly once in every ~30k connections (for all the others everything seems fine), I'm seeing a weird case when connecting to a nodeport service (backend is local to the node so no NAT involved).

I've been using a net-next kernel and removed my own tail call patching series since I first thought it may have been related to it, but seems it als

[2019-11-26 07:06] awprice commented on #7111
+1 I'm interested in something similar to Calico's GlobalNetworkPolicy that allows us to have cluster-wide egress deny policies.

[2019-11-26 12:23] aanm commented on #9604
[code]

[2019-11-26 15:27] brb commented on #9284
The issue was fixed by #9561. Will close the issue once I have added the integration tests.

[2019-11-26 18:30] tgraf commented on #7111
Yes, this seems to be a very common use case and ask. I think it makes sense to focus on this next.

We want to be careful not to introduce any sequential processing as it would harm performance. Reading through all of the comments above, the use case seems to be:

* Ability to define a set of IP blocks (CIDR + exceptions) that can't be reached under no circumstances.
* Ability to specify these ne

[2019-11-26 18:56] #9660 closed

[2019-11-26 19:22] joestringer opened #9671 "envoy: Using deprecated option 'envoy.api.v2.listener.Filter.config' ..."
Cilium master during v1.7 dev cycle.

I've seen these recently in CI runs, seems like we're using a couple of different deprecated APIs:

[code]

Do we need to rebase against some newer APIs or something? Will this be part of the upcoming Envoy version rebase?

[2019-11-26 21:52] awprice commented on #7111
@tgraf Thanks for the detailed explanation!

From my point of view, this option makes the most sense. Requiring a global allow-all rule to be configured makes this configuration more explicit and removes any doubt around the default behaviour.

Very much looking to this functionality!

[2019-11-26 22:59] borkmann commented on #9663
This is a race when the GC runs. For the local backend case we always create 2 separate CT entries in nodeport_lb4()  (https://github.com/cilium/cilium/blob/master/bpf/lib/nodeport.h#L703) and the 2nd one got deleted via agent's GC while the first one is still alive since lookup was done on ingress skb and thus timeout bumped. When the reply comes from the pod, the reply entry cannot be found and

[2019-11-26 23:44] joestringer commented on #7111
One idea I have which is kind of a mix of (1) and (2) above would be for the new blacklist policy to be a different "tier", enabled via a separate CRD. This `CiliumBlackholePolicies` structure would always deny traffic to the specified peers, and would have its own selection logic which does not interact with existing policies. As a separate CRD, I would imagine that RBAC could be handled independ

[2019-11-27 03:41] ungureanuvladvictor commented on #9533
@jaffcheng currently the ref owner of the CiliumOwner CR is set to be the k8s node and it relies on the fact that when the k8s node is deleted the CiliumNode will be as well.

How do you think the operator should behave in this scenario (EC2 VM being deleted from AWS but k8s node + CiliumNode still being in the APIServer)?

[2019-11-27 04:36] jaffcheng commented on #9604
Do we have a plan for `go test -race` in the future? I think it would be a good idea to detect and eliminate as many issues as possible early.

[2019-11-27 07:12] jaffcheng commented on #9533
@ungureanuvladvictor I think operator should stop trying to fulfill the IP deficit of deleted instances and log a warning. Currently operator doesn't check the existance of instance when calculating needed addresses. I have written a fix for this, but I found some sporadic unit test failure. see https://github.com/cilium/cilium/issues/9604
I'll send the fix latter today, and maybe we need to make

[2019-11-27 09:28] brb commented on #7698
@joestringer Do you have full log of cilium-agent?

[2019-11-27 09:58] Skarlso commented on #9572
No Cluster Mesh here, yet still the same issue with exactly the same log and cilium operator version.

Is there any word on this issue yet? Is it being investigated?

Cheers,
Gergely.

[2019-11-27 12:22] uablrek commented on #9228
This bug is still present in k8s v1.17.0-beta.1 and cilium 1.6.3.

[2019-11-27 13:53] cehoffman commented on #9116
Sorry if this doesn't add any knew information, but since there had been a few related MRs close to this issue I had hoped it might be working in the new RC.

I tried with 1.7.0-rc1 (no kube-proxy) and MetalLB 0.8.3 in L2 mode and had no luck. I see that traffic enters the node on the the load balancer IP and service port, but it doesn't appear to go anywhere.  I can access the service on the asso

[2019-11-27 13:56] brb commented on #9116
@cehoffman Thanks for reporting. Can you attach `kubectl get svc -o yaml` output for the LoadBalancer services?

With the ExternalIP feature being merged, fixing this issue should be trivial.

[2019-11-27 14:08] cehoffman commented on #9116
Sure, and I think I have an idea where things may be getting messed up. The nodes default devices share the network segment with the load balancer, so I think the line

`level=info msg="Blacklisting local route as no-alloc" route=192.168.1.0/24 subsys=ipam`

maybe indicative of why there is not a listener created.

[code]

[2019-11-27 14:11] brb commented on #9116
The problem is that we currently do not provision services with the `loadBalancerIP` field being set. I'm going to fix this soon.

[2019-11-27 14:28] cehoffman commented on #9116
Alright, look forward to that. Had hoped a temporary solution might be to just remove the field and take whatever IP metalLB gives out, but that didn't change the experience.

[2019-11-27 16:38] nebril opened #9678 "List of eks failing tests"
See https://github.com/cilium/cilium/pull/9682 for how to run these
See https://github.com/cilium/cilium/pull/9675 for fixups and hacks

- [ ] [Fail] K8sHealthTest [BeforeEach] checks cilium-health status between nodes
[TODO] Skip on eks because endpoint-endpoint probe won't work with chaining

- [ ] [Fail] K8sFQDNTest [BeforeEach] Restart Cilium validate that FQDN is still working
[TODO] Hardcode

[2019-11-27 18:50] cehoffman commented on #9482
Since this is on Azure and related to hardware checksums, this may be of interest. https://github.com/coreos/tectonic-installer/issues/1171#issuecomment-320018157

Basically it was discovered that some subset of VMs provisioned in azure (multiple data enters) have defects in the hardware checksum implementation. CoreOS at the time developed a test procedure to recreate VMs enough times to finally

[2019-11-27 19:00] joestringer opened #9680 "Support migration between tunnel mode and direct routing mode"
Ask from Cilium Slack:

I think this could work if a) I could setup a receive only vxlan interface on the new nodes, or b) I could convince the old nodes to send unencapsulated packets to new nodes.

I propose that this could be achieved through a two-phase process:
* Initially all nodes are configured in tunnel mode
* (new mode) Configure all nodes with tunnel receive but will use direct routing

[2019-11-27 19:37] Antiarchitect opened #9683 "v1.6.4 K8s dependency should be expanded to older versions in order to not scare people"
## Support

Please change v1.6.4 Release Notes in order to bump dependencies not only to K8s 1.16.3 but also 1.14.9 and 1.15.6. Was really scared of need to upgrade my cluster from 1.14.8

[2019-11-27 20:04] aanm commented on #9683
@Antiarchitect the golang dependencies are always updated to the latest version of kubernetes. What we usually update is the k8s versions tested in the CI for which that is missing in the release notes. However in the Cilium docs you can always find out which versions are supported by a particular Cilium release. https://docs.cilium.io/en/v1.6/kubernetes/compatibility/

[2019-11-27 20:12] aanm commented on #9683
Updated release note! Thanks for the feedback!

[2019-11-27 20:12] #9683 closed

[2019-11-27 20:59] jimmyjones2 commented on #7111
Can it be possible to define a blacklist with exceptions? An example usecase would be a cluster not allowed to access the internet for eg. regulatory reasons - blacklist 0/0, except corp network

[2019-11-27 21:55] joestringer commented on #7111
@jimmyjones2 I think that a "blacklist with exceptions" is the same as a "whitelist", isn't it? You can achieve this today with a whitelist that only allows the corp network CIDR.

[2019-11-27 22:25] borkmann opened #9684 "cilium service list is out of sync with cilium bpf lb list"
cilium bpf lb list  and cilium service list show backend-less service:
[code]
service list:
[code]

[2019-11-27 23:06] jrfastab commented on #9684
In above at least the service IP is in both lb and cilium but here is a case where that is not the case,
[code]
$ kubectl -n kube-system exec cilium-25spp -- cilium bpf lb list
SERVICE ADDRESS       BACKEND ADDRESS
10.96.0.10:9153       0.0.0.0:0 (4) [FLAGS: NONE]
                      10.217.1.188:9153 (4)
                      10.217.0.231:9153 (4)
10.110.96.174:10080   0.0.0.0:0 (6) [FLAGS: NON

[2019-11-27 23:29] jrfastab commented on #9684
Additionally once we get in this state I don't know how to get out of it, I think (if its not already done) we should be sync'ing the service list and bpf lb tables on restart but it seems not because cilium restart doesn't fix the problem.

[2019-11-27 23:31] jrfastab commented on #9684
Only work-around I've found is to do a node restart to clear the state.

[2019-11-27 23:39] joestringer opened #9686 "ENABLE_ROUTING set in Cilium v1.6.3 generic-veth chaining"
We observed an environment where the generic veth plugin was in use, but somehow the datapath ended up with `ENABLE_ROUTING` set to 1. This resulted in rewrite of destination MAC for outgoing traffic which the underlying CNI did not recognize and subsequently dropped the traffic.

Followed http://docs.cilium.io/en/stable/gettingstarted/cni-chaining-generic-veth/ to install Cilium v1.6.3.

[2019-11-27 23:47] jrfastab commented on #9684
Here is the yaml that was reproducing it,
[code]

[2019-11-27 23:48] jrfastab commented on #9684
And the diff from PR https://github.com/cilium/cilium/pull/9685
[code]

[2019-11-28 00:52] joestringer commented on #9686
Looking at the corresponding sysdump, the `ENABLE_ROUTING` appears to be defined only for the health endpoint, which in newer versions would not be enabled in CNI chaining mode.

[2019-11-28 09:37] brb commented on #9684
@jrfastab Can you attach the cilium-agent log?

[2019-11-28 09:56] borkmann commented on #9482
@cehoffman interesting, thanks a lot for the pointers, would also explain why in my own testing I couldn't trigger the issue!

[2019-11-28 10:57] #9663 closed

[2019-11-28 14:50] brb commented on #9651
Do you happen to know whether the user has configured `/proc/sys/net/ipv4/ip_local_port_range`?

I think we should move the NodePort `build_bug_on` checks to the daemon to make check failures more readable.

[2019-11-28 17:13] brb commented on #9116
@cehoffman Could you try the `cilium/cilium-dev:metallb-v0` image to test whether MetalLB works in your case? Thanks.

[2019-11-28 18:45] axsaucedo commented on #7785
@ianvernon we ran into this issue, the current fix seems to require configuration that is not consistent across non-cilium (faced this on digital ocean), is there an issue we could follow where this would be addressed to have consistency for this to be a directory?

[2019-11-28 21:19] #9644 closed

[2019-11-28 22:35] tgraf commented on #7111
Are you referring to being able to list blacklists in the form of `10.0.0.0/8` except for `[10.0.0.1, 10.1.1.2]`?

[2019-11-28 23:38] cehoffman commented on #9116
@brb happy to report that `cilium/cilium-dev:metallb-v0` results in routable traffic to the backend pods for the MetalLB IPs. Verified with no kube-proxy running and a full reboot of nodes to clear any state.

[2019-11-29 02:06] #8955 closed

[2019-11-29 11:23] brb commented on #9375
Opened PR to update to v1.6.4: https://github.com/kubernetes/kops/pull/8032.

[2019-11-30 04:51] cehoffman opened #9697 "Cilium agent fails (timeout) to sync kubernetes cache after restart"
## Support

I have cilium agent deployed through the 1.7.0-rc1 helm chart, the config is at the end. The first time the agent started on each of the nodes (with workload already there because flannel was providing the vxlan fabric) everything was fine. I rebooted the nodes to switch to complete cilium management of the network. Again everything is fine. When cilium restarts though on a node, it ne

[2019-11-30 05:15] cehoffman commented on #9697
After posting this I decided to try removing the overrides for apiserver host and port. The resulted in the pods all becoming ready, but that has the issue on restart the pods can't reach the apiserver because there has not been a route for the in cluster service setup yet.

[2019-11-30 19:44] #8700 closed

[2019-11-30 21:44] #9205 closed

[2019-12-01 00:58] ungureanuvladvictor commented on #9297
I think I've hit this via https://jenkins.cilium.io/job/Cilium-PR-Ginkgo-Tests-Validated/16030/. commit that triggered that build is https://github.com/cilium/cilium/pull/9699/commits/4ee4bab2a1c4d1dd518e260767c809fc46ee2e8f.

[2019-12-01 03:02] #8591 closed

[2019-12-01 06:02] HuxyUK commented on #9298
Hi, I'm still interested in this feature and think it has value.

[2019-12-02 05:42] cehoffman commented on #9697
Dug a bit more into this any my current opinion is that after restart during  a reconfigure the opened and working connection to the apiserver is somehow broken when using the public interface the points to an external load balancer for the apiservers. If I set the kubernetes host to be the kubernetes.default.svc domain, all works on cilium restart because that service endpoints use the private in

[2019-12-02 09:02] brb commented on #9697
Thanks for the issue. A few questions below:

1.Have you tried setting `KUBERNETES_SERVICE_HOST` to `192.168.1.253` instead of `k8s.hsv-a.ceh.im`?
2. Have you tried running in a clean environment, i.e. without flannel being previously installed?
3. Can you record pcaps with tcpdump for `cilium-agent -> LB` and `LB -> kube-apiserver`?

[2019-12-02 15:29] #9225 closed

[2019-12-02 17:19] aanm commented on #9613
Potentially fixed already #9635

[2019-12-02 17:19] #9613 closed

[2019-12-02 20:55] joestringer commented on #9686
Fixed in v1.6.4 with commits 94d62d66c925abd82a47bd3a6df46d5341529173  (master) / 5ca0b303881c1080b1ba54722cbfd8f9e917e9f5 (v1.6).

[2019-12-02 20:55] #9686 closed

[2019-12-02 21:02] joestringer commented on #9572
@Skarlso Do you have full reproduction instructions or a [sysdump](http://docs.cilium.io/en/latest/troubleshooting/#automatic-log-state-collection) ? In particular I'm curious how much of the environment you share with the reported details above.

I'm wondering if there's some change in the managed etcd handling that we've put in place on master which causes this, or if it's related to some change

[2019-12-02 21:29] joestringer commented on #7785
@axsaucedo Can you share exact error you faced and the Cilium DaemonSet in use in your environment? Also details about which base OS you are using, Cilium version, etc? What is the proper path for `/lib/modules` on that OS?

[2019-12-02 21:32] joestringer commented on #7698
@brb I can share it privately. Yes, `ZZZZ` is in that range.

[2019-12-02 21:39] joestringer commented on #9651
I doubt that the user manually configured this. IIRC @diversario hit this, here's the Slack link: https://cilium.slack.com/archives/CF1QABJCQ/p1574451336005800

[2019-12-03 06:38] cehoffman commented on #9697
Thanks for taking the time with this.

1. I had not tried straight IP, but on doing so the behavior is the same as using the DNS. The first iteration actually failed at TLS setup because I didn't have the IP in the certificate, but after resolving that it timeouts on waiting for resource sync.
2. I haven't tried from a completely from the ground up kubernetes, but all the nodes have been cycled to

[2019-12-03 07:13] cehoffman commented on #9697
I was attempting to get the LB->apiserver traffic in an isolated manner, and think the problem may lie with the LB in pfsense that I'm using. I created a simple haproxy instance on my laptop to front the apiservers and added my laptop IP as an identity to the apiserver certificate. I verified the proxy was working and then configured cilium to use it. Well everything worked this time, so I guess I

[2019-12-03 07:13] #9697 closed

[2019-12-03 07:36] ungureanuvladvictor commented on #9656
I have something WIP via https://github.com/cilium/cilium/tree/vladu/sec-groups-by-tags. Once it's ready I'll open a PR for it.

[2019-12-03 08:35] brb commented on #9697
Thanks for letting us know.

[2019-12-03 09:55] Aisuko commented on #9046
I hit same issue, I follow the document adress below. https://github.com/cilium/hubble/blob/master/Documentation/metrics.md
[code]

[2019-12-03 10:17] brb commented on #7698
The recent LB refactoring has fixed some race conditions (e.g. https://github.com/cilium/cilium/pull/9341) which could potentially explain the warning. However, it'd be difficult to backport some changes to v1.6 which is used by the user.

[2019-12-03 16:51] #9533 closed

[2019-12-03 22:31] tom-hadlaw-hs opened #13026 "Add ability to specify GRPC port and namespace to helm charts"
Currently to run hubble using a non standard GRPC port and namespace you need to generate the charts via helm and make the changes manually to the output. It would be helpful if these where exposed configuration variables.

[2019-12-04 00:49] #9242 closed

[2019-12-04 11:26] joestringer commented on #9046
@Aisuko the issue that you reported in the comment above is important to investigate, but it is not the same as the issue reported in the description.

[2019-12-04 11:27] joestringer commented on #7698
In that case, let's close this bug. We can reopen again or file a new issue if users observe logs like this after the v1.7 release.

[2019-12-04 11:27] #7698 closed

[2019-12-04 18:58] arzarif opened #9708 "Support for Service Topology Aware Hints"
Topology-Aware Hints

https://github.com/kubernetes/enhancements/tree/master/keps/sig-network/2433-topology-aware-hints

Stale:
####

Kubernetes/kube-proxy will be supporting service topology awareness (likely as a gated alpha feature) in its upcoming 1.17 release. Feature parity with their topology-aware service routing implementation would be ideal.

Linking associated KEP and PR for additional

[2019-12-04 19:21] #9116 closed

[2019-12-05 08:47] bingosummer opened #9710 "doc: the namespace is wrong when validating cilium installation with Azure CNI"
In https://docs.cilium.io/en/v1.6/gettingstarted/cni-chaining-azure-cni/#validate-the-installation, the namespace should be `cilium` instead of `kube-system`, because the `chaining.yaml` and the cilium release are in the namespace `cilium`.

https://docs.cilium.io/en/v1.6/gettingstarted/cni-chaining-aws-cni/ shares the validation step, whose namespace is `kube-system`.

[2019-12-05 09:53] joestringer commented on #9659
Not sure why I linked #9636, in context the comment seems to be entirely unrelated to this issue.

[2019-12-05 13:58] borkmann commented on #9710
Thanks for reporting @bingosummer ! Would you like to send a small PR for updating the ...
- https://docs.cilium.io/en/v1.6/gettingstarted/cni-chaining-azure-cni/
- https://docs.cilium.io/en/v1.6/gettingstarted/k8s-install-aks/

... to use `kubectl -n cilium get pods` in the validation step for both?

[2019-12-05 18:14] aanm opened #9716 "Add Jenkinsjob to test with golang race mode set"
Also suggested by https://github.com/cilium/cilium/issues/9604#issuecomment-558924564

A branch that has some work already started:

https://github.com/cilium/cilium/tree/wip-run-with-race-detector

[2019-12-05 18:17] aanm commented on #9228
@brb was this supposed to work in 1.6.3?

[2019-12-05 18:23] aanm commented on #9375
https://github.com/kubernetes/kops/pull/8022

[2019-12-05 18:32] aanm commented on #9046
@Aisuko can you please open new GitHub issue describing that problem? Thank you!

[2019-12-05 18:35] aanm commented on #9659
@joestringer do you have more info regarding this? A stacktrace? Can we add more debug messages into Cilium that allow us to easily find the issue in the future?

[2019-12-05 18:36] aanm commented on #9572
@joestringer Not that I'm aware of, @Skarlso a sysdump would be really useful in this case.

[2019-12-05 20:44] jimmyjones2 commented on #7111
@joestringer Yes, but some use cases need the whitelist applied globally, rather than trusting project admins, which I don't think it possible today?

[2019-12-05 20:44] jimmyjones2 commented on #7111
@tgraf Yes

[2019-12-06 02:15] tgraf opened #9718 "Make Cilium resilient against arbitrary OOM kills during endpoint regeneration"
When the Cilium pod is OOM killed during endpoint regeneration, `llvm` can leave behind partial state. It is likely that https://github.com/cilium/cilium/pull/9638 has already fixed a major cause for leaving state behind but we currently lack a test to validate correct behavior.

[2019-12-06 02:16] tgraf commented on #9599
@aanm @joestringer Did #9586 fix this?

[2019-12-06 03:18] Jianlin-lv opened #9719 "Compilation issue when building cilium-runtime"
## Bug report

**General Information**

Cilium version: Master

**How to reproduce the issue**
Running 'make docker-image-runtime'

 Compiling bpftool in Dockerfile.runtime will encounter the issue with following error:

``Auto-detecting` system features:
...                        libelf: [ on  ]
...                           bpf: [ on  ]

/bin/sh: 1: /tmp/linux/scripts/bpf_helpers_doc.py: not fo

[2019-12-06 05:55] Aisuko commented on #9046
Thanks, I will do it.

[2019-12-06 06:10] Aisuko opened #9721 "Unable to create endpoint: Put http:///var/run/cilium/cilium.sock/v1/endpoint/cilium-local:0: context deadline exceeded"
## Bug report

**General Information**

- Cilium version (run `cilium version`)

   * `cilium-1.7.0-rc1`

   * `cilium-1.6.4`

- Kernel version (run `uname -a`)

`Linux cont-30-rdc.sz.iquantex.com 4.18.0-80.11.2.el8_0.x86_64 #1 SMP Tue Sep 24 11:32:19 UTC 2019 x86_64 x86_64 x86_64 GNU/Linux`

- Orchestration system version in use (e.g. `kubectl version`, Mesos, ...)

`Client Version: version.Info{

[2019-12-06 07:52] zhangyongsu commented on #1104
update? AArch64 seems still not be supported yet.

[2019-12-06 08:38] joestringer commented on #9599
@tgraf As far as I'm aware, the original reporter of the bug has not yet tried a release of Cilium with #9586 in it to confirm.

[2019-12-06 08:41] joestringer commented on #9721
As far as I understand, the important distinguishing feature of this bug is this part here which is a verifier failure due to the program exceeding 128K instructions during verification on a RHEL 8 kernel `4.18.0-80.11.2.el8_0.x86_64`:

[code]

Source: https://github.com/cilium/hubble/issues/29

[2019-12-06 08:53] joestringer commented on #9659
There is a backtrace, I pinged you on Slack with deeper links.

The failure is actually on line 123 of identity.go where the `Identity` is dereferenced to fetch its `NumericIdentity`:

https://github.com/cilium/cilium/blob/e6233255ff3b9f30acdc445784413f9964612cb9/pkg/identity/identity.go#L117-L126

The weird part is that there's a nil check just before the dereference which apparently passes, so t

[2019-12-06 08:55] joestringer commented on #9659
Given the new information above, I now doubt that #9138 fixes the issue and expect that this bug is still present on master.

[2019-12-06 10:23] aanm commented on #9719
Fixed by https://github.com/cilium/cilium/pull/9715

[2019-12-06 10:23] #9719 closed

[2019-12-06 10:32] brb commented on #9228
@uablrek Can you please include `iptables-save -c` output?

@aanm No idea, haven't tried myself. It seems that the user is running with kube-proxy.

[2019-12-06 12:46] tgraf commented on #1104
@braudel @zhangyongsu There are no blockers but there is also nobody currently assigned to work on this. We are happy to support anybody working on this.

[2019-12-06 13:40] #9710 closed

[2019-12-06 14:21] Skarlso commented on #9572
Sheesh sorry this dropped off my radar. I think we reverted and went ahead. I'll try to gather some more information if I can.

[2019-12-06 16:32] #8662 closed

[2019-12-06 16:32] #8633 closed

[2019-12-08 20:53] #9277 closed

[2019-12-09 15:30] borkmann opened #9729 "nodeport w/o host reachable services for older kernels"
Add an option to run nodeport with regular veth based service lookup but with host reachable services disabled for kernels not supporting it. Aka let iptables in hostns do the rest.

[2019-12-09 16:09] #9656 closed

[2019-12-09 18:06] uablrek commented on #9228
Sorry for the late reply. Output inclused below.

**NOTE**: External traffic to the lb-address works for ipv4, and from traffic from a node to the lb-address also works. It is only when traffic to the ipv6 lb-address originates from outside the cluster that fails.

I have upgraded to K8s `v1.17.0-rc.1`.

* [ip6tables-save.txt](https://github.com/cilium/cilium/files/3941086/ip6tables-save.txt)
* [i

[2019-12-09 18:31] John-Moya opened #9730 "ENI: Cilium cannot attach ENIs when IP per ENI limit is less than spec.eni.pre-allocate"
## Bug report
When using amazon EKS and using T3.medium nodes with ENI mode, when cilium-operator creates the first ENI it attaches `limit` secondary IPs, where limit is the limit of IPs per ENI for the instance type (6 for t3.medium). This results in the ENI having `limit` secondary IPs + 1 primary IP, causing the ENI to fail to attach to the node.

### Cilium operator logs

[code]

**General Inf

[2019-12-09 22:58] aanm commented on #7111
@jimmyjones2 What kind of policy deny spec would make more sense for you to use? A "per direction traffic" 1) or a "per field" deny 2).

1)
[code]
2)
[code]

[2019-12-09 22:59] aanm commented on #7111
Also FYI @awprice and @olemarkus ^^^

[2019-12-10 03:27] alexgaganashvili commented on #9402
Same issue on Fedora 31 kernel version 5.3.14-300:

`level=error msg="Error while opening/creating BPF maps" error="Unable to create map /sys/fs/bpf/tc/globals/cilium_lxc: operation not permitted" subsys=daemon
level=fatal msg="Error while creating daemon" error="Unable to create map /sys/fs/bpf/tc/globals/cilium_lxc: operation not permitted" subsys=daemon`

[2019-12-10 08:55] ungureanuvladvictor commented on #8830
@tgraf I tried to repro this but I'm not unable to do it anymore. I scaled a deployment on my stack to more than 45 replicas which is the limit of an m5.2xl (excluding eth0 allocations). The operator assigned all the IPs to the ENIs and then logged once:

`level=warning msg="Instance is out of ENIs" allocated=4 instanceID=i-0b2c222593d8c4889 max=4 name=ip-192-168-14-23.ec2.internal subsys=eni`

Af

[2019-12-10 18:29] olemarkus commented on #7111
The feature we were looking for was actually #9200
We are not really _that_ interested in deny rules, but there may be cases where we'd like pods to be able to talk to anything on the internet, but nothing inside the cluster.

In this case, my preference is alternative 1.

[2019-12-10 19:22] huntermassey opened #9738 "ENI: Cannot set spec.eni.first-interface-index to 0 through CNI configuration"
## Bug report

Cannot configure in ENI mode the `spec.eni.first-interface-index` to 0 with CNI configuration file. Cilium will continue to create the ciliumnodes with first-interface-index set to 1 with the below configuration.

CNI configuration file
[code]

**General Information**

- Cilium version (run `cilium version`)
[code]

[2019-12-11 03:32] awprice commented on #7111
+1  to option 1.

[2019-12-11 13:07] #9284 closed

[2019-12-11 16:33] tgraf commented on #9659
@joestringer @aanm What are the next steps on this issue? Do we need more information?

[2019-12-11 16:52] aanm commented on #9599
Fixed and backported by https://github.com/cilium/cilium/pull/9551

[2019-12-11 16:52] #9599 closed

[2019-12-11 17:05] brb commented on #9228
@uablrek Thanks, but I don't see the `mconnect` svc being provisioned. Can you create it, and then provide the iptables-save outputs?

[2019-12-11 21:08] jimmyjones2 commented on #7111
Happy with option 1. I presume both the following would work?

Block cloud metadata service:

[code]

Block direct internet access:

[code]

[2019-12-12 06:58] uablrek commented on #9228
It is provisioned;
[code]
But a requirement for K8s dual-stack is kube-proxy in "ipvs" mode. Here is output from `ipvsadm -Ln`;
[ipvsadm.txt](https://github.com/cilium/cilium/files/3954265/ipvsadm.txt).

If I can find the time I will apply the PR for dual-stack support with mode "iptables" and rebuild K8s from "master" and test if there is a differnce today.

[2019-12-12 16:27] uablrek commented on #9228
I have tried with kube-proxy in mode=iptables and dual stack. The PR https://github.com/kubernetes/kubernetes/pull/82462 was applied on K8s "master";
[code]
The result is worse than with mode=ipvs. Now traffic originating from outside the cluster fails for both ipv6 and ipv4. Traffic to the external addresses but originating from a node inside the cluster still works for both ipv6 and ipv4.

Here

[2019-12-12 23:32] Starblade42 opened #9755 "When FQDN policy is applied, DNS A Records with more than 24 IPs time out"
# Bug Report
## Current Behavior
When the test record `deleteme.jhuff-k8s-04.ethos.adobe.net` has `25+` IP's in it, and I apply policy that uses FQDN DNS policy (even `rules.dns{'matchPattern':'*'}`, I get DNS lookup failure with TIMEOUT:

[code]

### If I delete ONE A record for the domain name (from 25 IPs to 24 IPs) , without changing the DNS policy, the name resolves just fine:
[code]

## Expe

[2019-12-13 09:53] fabianallendorf commented on #9429
We are experiencing the same problem even on AKS 1.15.5.
It works perfectly with only one node, but two or possibly more nodes will cause that problem.
Even if we freshly recreate the cluster starting with two nodes.

Luckily @EPinci restart "solution" helped al lot!

I did some research on our cluster and it seems that installing Ciliums CNI chaining might have something to do with it. A support

[2019-12-13 10:30] raybejjani commented on #9755
@Starblade42 Thanks for the comprehensive report! I suspect this is something with setting the truncated bit as the query returns when over TCP. Oddly, the daemon logs that it is responding to the original query.
I'll look into it further. Sorry for the inconvenience!

[2019-12-13 17:15] cgoudie commented on #9755
Could it have something to do with the udp packet size? I wonder if it's being fragmented in some environments.

[2019-12-14 00:33] alexgaganashvili commented on #9402
I am not seeing the errors after I powered off my VM and disabled Secure Boot in VM options.

[2019-12-14 00:41] #9307 closed

[2019-12-16 01:40] #9326 closed

[2019-12-16 08:39] #9730 closed

[2019-12-16 10:21] brb commented on #9228
@uablrek Thanks. Can you attach a sysdump (https://docs.cilium.io/en/v1.6/troubleshooting/#automatic-diagnosis)?

[2019-12-16 11:49] uablrek commented on #9228
* [cilium-sysdump-20191216-124512.zip](https://github.com/cilium/cilium/files/3967835/cilium-sysdump-20191216-124512.zip)

[2019-12-16 12:30] #9168 closed

[2019-12-16 12:56] brb commented on #9228
@uablrek Any idea who assigned `1000::1:c0a8:105` to `cilium_host` (maybe you can check `systemd-networkd` logs)? Can you try removing it, and see whether your test works?

[2019-12-16 13:01] uablrek commented on #9228
That would be `cri-o` working (correctly) in dual-stack mode. In dual-stack a POD in host namespace shall get both ipv4 and ipv6 addresses, and in case there are many options it shall be assigned the node addresses that K8s is using on the node.

I will try to find a way to "trick" cri-o to assign only ipv4, but I am unsure if I can.

[2019-12-16 13:58] brb commented on #9228
@uablrek Can you try running with other container runtime?

[2019-12-16 15:30] uablrek commented on #9228
Not easily, no. But I build cri-o locally so I think I can modify it.

[2019-12-16 15:47] daviddyball opened #9767 "Cluster Mesh with CRD Backend"
## Support

Hi, I can't find a definitive answer, but just wanted to know if Cluster mesh can be used with the CRD backend (e.g. no etcd deployed other than K8s control-planes).

Thanks,
DD

[2019-12-16 15:57] daviddyball commented on #9767
Closing. This was answered on Slack.

[code]

[2019-12-16 15:57] #9767 closed

[2019-12-16 23:06] #9337 closed

[2019-12-17 07:56] raybejjani commented on #9755
Finally had a chance to look at this more. @cgoudie, you are correct! It is hitting a fragmentation error between the proxy (aka the agent) and the pod. I think I know how/why this happens but I need to check more with folks more familiar with the datapath (and how it handles UDP).
[code]

[2019-12-17 09:16] tgraf opened #9773 "Replace Kafka proxy with Envoy implementation"
The Kafka parser is close to being merged into Envoy. Once it is in, we should remove the custom Kafka proxy with the Envoy implementation.

[2019-12-17 10:18] brb opened #9776 "Consider ipFamily field in Service object when running k8s in dual-stack mode"
For the semantics of the `ipFamily` field, see the docs: https://kubernetes.io/docs/concepts/services-networking/dual-stack/#services.

[2019-12-17 15:20] ungureanuvladvictor commented on #8830
@tgraf ping on ^^

[2019-12-17 15:26] tgraf commented on #8830
@ungureanuvladvictor OK, let's close it. Feel free to reopen when you see it again.

[2019-12-17 15:26] #8830 closed

[2019-12-17 16:13] joestringer opened #9779 "CI: Travis: fatal error: concurrent map iteration and map write in pkg/aws/eni"
Travis failure on master (v1.7 dev cycle):

https://travis-ci.com/cilium/cilium/builds/141416864?utm_medium=notification&utm_source=email

Consolidated stack traces using `contrib/scripts/consolidate_go_stacktrace.py`:

[code]

Possibly related to #9770 (/cc @ungureanuvladvictor)

[2019-12-17 16:57] ungureanuvladvictor commented on #9779
@joestringer took a look but I don't think it's related to my changes -- the change I introduce runs before the node manager starts and does not operate at all on that codepath.

I suspect this bug was always in the codebase.

[2019-12-17 17:02] joestringer commented on #9779
@ungureanuvladvictor thanks for taking a look. I guess we'll just have to figure this one out the old fashioned way.

[2019-12-17 21:02] #9738 closed

[2019-12-17 22:05] aanm commented on #8816
This issue is not fixed

[2019-12-17 22:05] aanm commented on #9659
probably related to https://github.com/cilium/cilium/issues/8816

[2019-12-17 22:08] aanm commented on #9402
@alexgaganashvili in your case it is most likely caused by SELinux cc @borkmann

[2019-12-17 22:10] alexgaganashvili commented on #9402
@aanm, selinux is set to Permissive. It's all good now though.

[2019-12-17 22:15] aanm commented on #9779
probably related with https://github.com/cilium/cilium/issues/9604

[2019-12-17 22:16] aanm commented on #9454
Fixed by https://github.com/cilium/cilium/pull/9551

[2019-12-17 22:17] #9454 closed

[2019-12-18 08:40] ombre9 commented on #9429
Try with the latest Cilium release, v1.6.5, it seems, it works fine with multiple nodes on AKS.

[2019-12-18 10:01] splushii opened #9784 "Request time out from container to other container using hostIP:hostPort on same host with portmap CNI chained"
## Bug report

**General Information**

- Cilium version (run `cilium version`)
[code]
- Kernel version (run `uname -a`)
[code]
- Orchestration system version in use (e.g. `kubectl version`, Mesos, ...)
[code]
- Link to relevant artifacts (policies, deployments scripts, ...)
- Upload a system dump (run `curl -sLO
releases.cilium.io/tools/cluster-diagnosis.zip &&
python cluster-diagnosis.zip sysdum