[2020-05-29 08:41] msiebuhr opened #11768 "Timestamps in cilium logs"
## Proposal / RFE

When debugging issues with Cilium, there is a general lack of timestamps in the logs, making it difficult to correlate what work you've done with new output from cilium. For example:

[code]

Less annoying (because I was usually watching it in a different terminal for "liveness"), `cilium monitor` also lacks timestamp:

[code]

[2020-05-29 08:43] aanm commented on #11768
@msiebuhr kubectl offers timestamps, try: `kubectl -n kube-system logs --timestamps cilium-684bc | tail -n 5`

[2020-05-29 08:46] msiebuhr commented on #11768
Indeed it does. No need to duplicate things, then.

[2020-05-29 08:46] #11768 closed

[2020-05-29 08:58] #11423 closed

[2020-05-29 09:05] #9920 closed

[2020-05-29 09:16] brb commented on #8945
Hit the loop again, this time with XDP:
[code]

[2020-05-29 11:57] errordeveloper commented on #11560
I think the test is compares number of allocations to `minAllocate` and expect and exact value, from reading the code I believe it shouldn't be `< minAllocate`.

https://github.com/cilium/cilium/blob/master/pkg/aws/eni/node_manager_test.go#L611-L614

https://github.com/cilium/cilium/blob/05daeef1c29a48928391cb1820c77752675d6bcd/pkg/aws/eni/node_manager_test.go#L627

I'll open a PR and we take it f

[2020-05-29 12:08] pchaigno commented on #11690
One more piece to the puzzle: that test has never failed on our CI pipeline with K8s 1.18 and Linux net-next since it was introduced (except for May 19 during the quay.io outage).

I'm going to disable it for the two other pipelines for now.

[2020-05-29 12:22] brb commented on #11724
OK, then we need to distinguish in the datapath between `LoadBalancer` and `externalIP` service types, and allow the translation of the former.

[2020-05-29 12:32] #11517 closed

[2020-05-29 13:24] travisghansen commented on #11724
@brb there is no such thing as `externalIP` type.

https://kubernetes.io/docs/concepts/services-networking/service/#external-ips

What is the difference jn logic you intend to implement regardless? IMO if traffic is originating from a node toward a known external IP (using that term very loosely) it should just work no?

[2020-05-29 13:31] #11698 closed

[2020-05-29 14:24] #11648 closed

[2020-05-29 15:39] travisghansen commented on #11724
I think I may understand the security implications/concerns. The idea being that IPs provisioned via `LoadBalancer` can be more trusted as cluster administrators would generally have more control over that vs users could put any arbitrary IP as an `externalIP`?

I understand now how that could potentially malicious as I hypothetically could hijack traffic destined to any arbitrary endpoint in any

[2020-05-29 16:49] joestringer opened #11778 "Policy audit mode represents policy deny verdicts as "action allow match none""
Cilium latest, v1.8 dev cycle (v1.8.0-rc1):

When enabling `--policy-audit-mode`, all policy verdict notifications for traffic that would otherwise be denied state `action allow match none`:

[code]

I expected it to say `action deny match none`. When `--policy-audit-mode=false` (default), the monitor verdicts will say `action deny match none`.

To be clear, the actual datapath forwarding behaviou

[2020-05-29 16:51] joestringer commented on #11778
/cc @ap4y who worked on this feature.

I had originally thought that if you look at this message by itself, it is a "policy verdict notification" and had thought of the policy verdict being purely based on netpol / CNP / CCNP. However the action here also takes into account the --policy-audit-mode flag, and so it also declares what the forwarding decision is for this traffic.

[2020-05-29 17:24] joestringer commented on #11743
By the way, one of the trickier parts of this is how to handle existing metrics. Is it OK to potentially break these metrics by addressing the lint errors? Or do we just add all of these to an exclude list?

We'll presumably also need to address the grafana side for our standard dashboards if we make any changes.

[2020-05-29 17:35] jrajahalme commented on #11313
@tgraf Mitigation in #11765 via allowing a single fail of allowed traffic out of each test run of 10 counts on the premise that the problem would be kube proxy node/host port related rather than due to Cilium directly. Rationale of applying this mitigation is that we still need to catch persistent traffic drops and policy regressions with node/host port. Would be nice to get an opinion on if this

[2020-05-29 17:55] aanm commented on #11743
Yes it is ok to brake as long we mention them in the upgrade guide.

[2020-05-29 18:27] aanm commented on #11365
Can't reproduce:

[issue-11365.zip](https://github.com/cilium/cilium/files/4703623/issue-11365.zip)

[2020-05-29 18:35] joestringer commented on #11778
Thinking from a higher-level perspective, If there are a series of notifications in `cilium monitor` and the first one says `action deny` but the subsequent notification *doesn't* say `xx drop` then that would be counterintuitive. So perhaps we should leave it as-is and suffice to state that it's the `match none` piece that tells you about the policy verdict match against the rules.

@ap4y thought

[2020-05-29 19:08] brichins commented on #8185
Looks like this was resolved with 1.7.  I just verified the problem is gone in this use case with cilium 1.7.4 and 1.8.0-rc1.  Thanks folks for fixing this.  Feel free to close this issue.

[2020-05-29 20:50] pchaigno opened #11785 "ipam: azure: Nil pointer dereference in IPAMSuite.TestIpamManyNodes"
https://travis-ci.com/github/cilium/cilium/jobs/341572460
[code]

[2020-05-29 21:22] christarazi commented on #11785
Looks like the panicking line is https://github.com/cilium/cilium/blob/138d556b95d45bb598fd1e04ae6d22eae72e1128/pkg/azure/ipam/node.go#L161

[2020-05-29 21:49] christarazi opened #11787 "Refactor Azure IPAM and ENI IPAM to deduplicate similar logic"
The logic inside these respective packages is essentially the same. The only difference is the cloud provider. We can probably refactor these packages to share common code, like https://github.com/cilium/cilium/pull/10089 has done. This could prevent bugs like https://github.com/cilium/cilium/pull/11786 attempts to fix (because the same issue doesn't exist in ENI) and PRs like https://github.com/c

[2020-05-29 21:51] christarazi commented on #11560
If this occurs again which is possible, see https://github.com/cilium/cilium/pull/11773#issuecomment-636153564 for more context.

[2020-05-29 21:58] jrajahalme commented on #11560
Here as well: https://travis-ci.com/github/cilium/cilium/jobs/341510221

[2020-05-29 22:56] #10278 closed

[2020-05-29 22:56] #10667 closed

[2020-05-29 22:56] #10856 closed

[2020-05-29 22:56] #11076 closed

[2020-05-29 22:56] #11645 closed

[2020-05-29 23:10] christarazi commented on #11560
Occurred in https://github.com/cilium/cilium/pull/11786: https://travis-ci.com/github/cilium/cilium/jobs/341598176

[2020-05-29 23:24] christarazi commented on #10442
Hit during backport https://github.com/cilium/cilium/pull/11766

[2020-05-29 23:30] joestringer opened #11788 "Read the docs adds "out of date warnings" to prior docs during RC cycle of next release"
We enabled readthedocs for the `v1.8` branch, and despite setting it as `active` + `hidden`, the v1.7 docs now add the message saying that the instructions are out-of-date, pointing users to the v1.8 instructions (which are for an RC):

https://docs.cilium.io/en/v1.7/

I note that the stable docs are actually fine in this regard, and point to the correct version (currently `v1.7.4`):

https://docs

[2020-05-29 23:46] ap4y commented on #11778
I think both `deny` and `allow` actions can be confusing.

- if we'll show `deny` we will expect users to infer that it was allowed due to audit mode from the other log messages and I think it won't be obvious to someone not familiar with this or only checking policy log message

- if we'll show `allow` we hide the actual policy decision but you can infer that policy was matched from `match` . I t

[2020-05-30 00:11] joestringer commented on #11778
I like the proposal to output `action: audit` in the policy verdict log. We can define what this means in documentation, to state that the actual behaviour will be to allow the traffic but only because audit mode is enabled; and to determine whether the traffic would otherwise be allowed/denied, the user should inspect the `match xxx` section, which if it says `match none` would result in drop; ot

[2020-05-30 01:34] joestringer commented on #11788
I marked the `v1.8` version as not active to mitigate this issue for now.

/cc @aanm

[2020-05-30 01:48] joestringer opened #11789 "Make Cilium list of devices clearly and consistently apply functionality across those devices"
Per discussion from sig-datapath 2020-05-20:

Goal: User-friendly
* Easy to explain
* Easy to observe
* Out-of-the-box for common cloud options
  * Use default route,
  * K8s node IP

Feature enablement per-device:
  * Host fw
    * Always enable if CLI flag specified
  * XDP
    * Only select devices with native XDP support
    * User must specify flag to enable feature, autodetect device
    * H

[2020-05-30 01:58] joestringer commented on #11742
Thanks for the report!

I believe that when Cilium is run on newer kernels (4.10 or later) this issue is mitigated by the use of an LRU (Least-Recently-Used) map which would allow newer connections to bump out older stale entries like this.

That said, I think that https://github.com/cilium/cilium/pull/11684 improves this one step by making it more likely that the datapath will trigger userspace t

[2020-05-30 03:26] maci0 commented on #4825
@mskrocki for some reason this will cause the module to be loaded though. does not happen when the kube-proxy image performs the check.

so for now I had to rename the ip_tables.ko.xz file to something else. otherwise the module will get loaded as soon as I start cilium

[2020-05-30 05:28] errordeveloper commented on #11560
I removed word 'mismatch' in my PR, so those errors are from an unrebased PR build, perhaps?

[2020-05-30 07:35] maci0 opened #11790 "setting io.cilium.proxy-visibility annotation causes LoadBalancer service to become inaccessible from other hosts"
[code]

after setting the annotation on the pods

[code]

it just hangs and times out

[code]

From the node host it still works:
[code]

cilium was installed like so:
[code]

The issue appears with version `1.8.0-rc2` as well.

[2020-05-30 11:56] myugan commented on #11483
@aanm me too have the same problem with @autumn0207 I already install all of requirements and when compiling shown the error like this:

[code]

[2020-05-30 11:59] pchaigno commented on #11483
@myugan Please make sure you are using LLVM/Clang >= 10.0.

[2020-05-30 13:02] myugan commented on #11483
Ok, solved! @pchaigno

[2020-05-30 13:27] #10607 closed

[2020-05-30 13:36] #11483 closed

[2020-05-30 13:36] myugan opened #11792 "Cilium cannot start daemon because msg="Command execution failed" cmd="[bpftool -j feature probe]" error="exit status 255""
**General Information**

- Cilium version : `1.7.2 f1c787ee6 2020-04-03T11:47:41-07:00 go version go1.13.9 linux/amd64`
- Kernel version : `4.15.0-101-generic`
- Docker version : `19.03.10`

**How to reproduce the issue**

1. Install cilium from source in Ubuntu server.
2. Start cilium service with `systemctl start cilium`
3. Cilium successfully started but show an error message like this:
[code]

[2020-05-30 15:28] pchaigno commented on #11792
You'll need to install the latest bpftool from kernel sources. I think Linus's tree should be okay, but bpf-next is preferred.

[2020-05-31 03:15] myugan commented on #11792
Just installed the latest bpftool from this post https://askubuntu.com/questions/1134896/ebpf-maps-how-to-update-using-bpftool-from-command-line but shown another error.

[code]

[2020-05-31 08:21] pchaigno commented on #11792
For that, I believe you need our fork of iproute2: https://github.com/cilium/iproute2.

I'd really recommend using our [Vagrant scripts](https://docs.cilium.io/en/latest/contributing/development/dev_setup/#vagrant-setup) for a quick working development setup.

[2020-05-31 09:44] myugan commented on #11792
Okay it installed then appear another one error:
[code]

[2020-05-31 10:28] pchaigno commented on #11792
@myugan These log lines don't show the error. It's probably a few lines below, toward the end of (or after) the `msg="+ ` log lines.

Any reason the Vagrant setup isn't an option for you?

[2020-05-31 10:36] myugan commented on #11792
Just edited the error message, the vagrant script is support on host to installing cilium natively?

[2020-05-31 10:41] pchaigno commented on #11792
:point_up: It looks like pieces are missing from the `tc` you installed.

No, it's going to install Cilium in Virtualbox VMs.

[2020-05-31 23:09] #10625 closed

[2020-06-01 04:42] myugan commented on #11792
It's done by following this https://stackoverflow.com/questions/59731096/how-to-get-xdp-program-into-kernel-with-iproute2 to check what i'm missing here and cilium can start daemon properly, thanks for helping @pchaigno.

[2020-06-01 07:18] pchaigno commented on #11792
You're welcome!

[2020-06-01 07:18] #11792 closed

[2020-06-01 14:01] errordeveloper commented on #11690
I'm able to reproduce this on GKE now.

[2020-06-01 14:56] pchaigno opened #11799 "Followups for host endpoint and firewall"
**Most items are not blocking. Please check the lists below. I'll remove the `priority/release-blocker` label once the blocking items have been backported.**

## Host endpoint

- [x] Move direct routing configs to `node_config.h`. #11594
- [ ] Add unit tests for `patchHostNetdevDatapath()` and `nullifyStringSubstitution()`.
- [x] Move last bit of `bpf_host` loading from `init.sh` to Golang. #11598

[2020-06-01 15:27] errordeveloper commented on #11690
Having reproduced this a few times, I've interrupted the tests and here's what I'm seeing.

First of all, Cilium pods are running happily. But having execed into one I found this:
[code]
Which seems okay to me (I have no idea if "Endpoints reachable" has to be true or false, assuming false doesn't mean end of the world).

I then tried to run the command that test run - `cilium-health status -o jso

[2020-06-01 16:11] joestringer commented on #10847
From Cilium meeting:

Hybrid mode is not default any more any way, so less of a concern for v1.8.

This missing feature requires DSR for tunneling mode, then we will resolve this dependency. Should be doable in Cilium v1.9 timeframe.

[2020-06-01 16:17] errordeveloper commented on #11699
I'm seeing this one right now on GKE, I'm testing master branch.

[2020-06-01 16:21] joestringer commented on #10987
Discussed during meeting, @borkmann can take a look or reach out on Slack to transfer to someone with more cycles.

[2020-06-01 16:31] rktidwell commented on #9680
I've been thinking about how to support something like this as well. Are you suggesting adding a third mode so that we have tunnel, direct, and "hybrid" mode (I don't have a better term)? That's my understanding of the proposal. I assume the idea is to minimize packet loss across the cluster when switching modes.

I'm brainstorming here, so bear with me. I'd love to explore this in more detail, I

[2020-06-01 17:13] #8185 closed

[2020-06-01 17:23] michi-covalent commented on #11699
i'll take a stub at the initial investigation

[2020-06-01 17:59] mskrocki commented on #4825
Cilium container has all the modules loaded for ip_tables and nf_tables, it only controls the links of iptables cmd (same as kube-proxy). Where are the modules present/loaded, root or container namespace?

Additionally, did you run this new version of cilium on a clean system, or just upgraded cilium?
Thing is, if you had old version of cilium that just directly wrote to ip_tables (not nf_tables),

[2020-06-01 18:11] michi-covalent commented on #11699
@errordeveloper is there some configuration i need to change on the gke cluster? i'm running:
[code]
but it looks like the test is getting skipped:
[code]

[2020-06-01 18:23] errordeveloper opened #11800 "operator: Follow-up Helm changes for specialised operator images"
#10972 stopped short of making changes to the Helm chart, but those will need to be made before 1.8 goes out of the door.

What needs to happen is that based on chose cloud-provider either of the images is selected:

- `quay.io/cilium/cilium-operator-aws`
- `quay.io/cilium/cilium-operator-azure`
- `quay.io/cilium/cilium-operator-generic`

I suppose if anyone wants classic `cilium/cilium-operator`,

[2020-06-01 18:24] errordeveloper commented on #11800
@seanmwinn if you think you can take a look at this, it would be great! I'd say that adding support for new images in the operator deployment template would be the start, we can discuss how we handle the classic image once there is a PR :)

[2020-06-01 18:59] errordeveloper commented on #11690
With @joestringer's help it's now understood that there is deadlock somewhere:

<details>

[code]

</details>

Also, each attempt to call `cilium endpoint list` results in 3 new gouroutines:
[code]

[2020-06-01 19:13] soumynathan commented on #11787
Please assign it to me. I can take up the work.

[2020-06-01 20:29] michi-covalent opened #11801 "cilium-health status: endpoint connectivity failure on GKE"
i'm following https://docs.cilium.io/en/latest/contributing/testing/e2e/#gke-experimental to run end-to-end tests on a gke cluster, but the tests are failing because of endpoint connectivity failure:

[code]
[cilium-sysdump-20200601-132540.zip](https://github.com/cilium/cilium/files/4713263/cilium-sysdump-20200601-132540.zip)

[2020-06-01 20:32] michi-covalent commented on #11699
i'm hitting https://github.com/cilium/cilium/issues/11801 on a gke cluster. i'll try reproducing this somewhere else.

[2020-06-01 20:33] errordeveloper commented on #11699
@michi-covalent ah, I forgot to mention, I I skipped that test, as I am trying to dbug it actually.

[2020-06-01 20:35] nicolerenee opened #11802 "Unable to ping node"
## Bug report

**General Information**

- Cilium version: `Daemon: 1.7.4 c7ee6d62b 2020-05-15T16:07:35+02:00 go version go1.13.10 linux/amd64`
- Kernel version `5.4.0-33-generic #37-Ubuntu SMP`
- Orchestration system version in use: Kubernetes 1.18.3

**How to reproduce the issue**

1. Install cilium in Kubeproxy-free deployment following [this guide](https://docs.cilium.io/en/stable/gettingstarte

[2020-06-01 20:47] waynr commented on #10846
@a7i :wave: I work on the DOKS team and happened to come across this issue when researching a stack trace similar to what you shared to support another customer with a similar issue on an older version of DOKS. I just wanted to let you know that our latest `1.14` release, `1.14.10-do.3`, now includes Cilium 1.7.3 which should resolve your issue.

We have also fixed the bug in our release process t

[2020-06-02 00:04] seanmwinn opened #11805 "Helm: Deprecate hubble-cli sub-chart"
Hubble-cli daemonset will not be released since the hubble binary is built into the cilium-agent container. Nuke the helm sub-chart for hubble-cli and references to it.

[2020-06-02 01:51] maci0 commented on #4825
Like I said, the kernel module is not even loaded before cilium starts. Therefore no legacy rules to flush as there are none. The moment cilium starts however it causes the module from the host systems /lib/modules/ to be loaded, even when it is blacklisted on the host's modprobe configuration.

[2020-06-02 02:01] maci0 commented on #4825
[code]

[code]

[code]

[code]

[code]

After the install

[code]

[code]

[code]

As you can see kube-proxy did not cause the module load. But the moment cilium starts it gets loaded.
After cilium starts the kube api becomes also becomes inaccessible.

The only way to work around so far is to rename the ip_tables module.ko.xz file to something else

[2020-06-02 02:04] jrajahalme opened #11807 "Cilium-operator podCIDR allocation causes traffic to dropped in iptables FORWARD chain"
Cilium-operator podCIDR allocation causes return traffic from host proxy accessed via (k8s 1.17) nodeport (for example) destined to another node to be dropped in iptables FORWARD chain.

This causes the CI fail, if the now-disabled test hitting this is enabled again (#11710).

Related: #11235

How to reproduce:

1. Cache vagrant box image off of master with default k8s version:
[code]
Remove the r

[2020-06-02 02:09] jrajahalme commented on #11235
Filed a new issue with a repro and root cause analysis: #11807

[2020-06-02 02:10] jrajahalme commented on #11235
Not sure if the tftp fail (#10118) is for the same reason.

[2020-06-02 06:58] joestringer commented on #9680
That was the idea behind this issue, yeah.

I'm curious if you have more details on this. To my knowledge, most users will already have a cluster topology in place, be it on-prem or via a managed service which provides strong direction as to which of the modes they will select. There can be a subsequent architecture decision that could drive desire to switch (potentially implying need for migratio

[2020-06-02 07:49] brb commented on #11724
In the datapath we treat it as a separate service type, as it has some security implications.

Yes, see: https://github.com/kubernetes/kubernetes/blob/master/pkg/proxy/iptables/proxier.go#L1092

We want to conform to k8s' kube-proxy which doesn't have such flag to reduce cluster's security. Also, there are more ways to access the same service from a cluster.

[2020-06-02 07:56] brb commented on #11790
@maci0 Can you paste `cilium status` output?

[2020-06-02 08:37] zbindenren opened #11809 "Warning Messages for 1.8.0-rc2: Unable to flush Cilium iptables chain"
## Bug report

**General Information**

- Cilium version:
[code]
- Kernel version:
[code]

- Orchestration system version in use:
[code]

**How to reproduce the issue**

On startup we get the following warning messages:

[code]

This only happens after a system reboot. If I delete the pod I do not have such warning messages.

[2020-06-02 09:03] asm76 opened #11810 "kube-proxy replacement: backend selected by multiple externalIPs / LoadBalancer VIPs problem"
## Bug report

**General Information**

- Cilium version (run `cilium version`)
[code]
- Kernel version (run `uname -a`)
[code]
- Orchestration system version in use (e.g. `kubectl version`, Mesos, ...)
[code]
- Link to relevant artifacts (policies, deployments scripts, ...)
[code]
- Upload a system dump (run `curl -sLO
https://github.com/cilium/cilium-sysdump/releases/latest/download/cilium-sysdu

[2020-06-02 09:14] #11563 closed

[2020-06-02 09:25] errordeveloper commented on #11690
According to @jrajahalme this could be could be a potential culprit:
[code]

[2020-06-02 09:59] brb commented on #11810
@asm76 Can you upload the sysdump?

[2020-06-02 10:10] asm76 commented on #11810
@brb, sure, sorry I forgot.
[cilium-sysdump-20200602-100721.zip](https://github.com/cilium/cilium/files/4716395/cilium-sysdump-20200602-100721.zip)

[2020-06-02 11:11] tgraf commented on #11807
On older versions of Kubernetes, these rules are less limited:
[code]

[2020-06-02 12:21] #10990 closed

[2020-06-02 12:21] errordeveloper opened #11820 "identity: deadlock with kvstore and identity-allocation-mode=crd"
As discovered in https://github.com/cilium/cilium/issues/11690, there appears to be a deadlock when `identity-allocation-mode=crd` is used in combination with kvstore. Personally I don't know if this combination of options should be permitted, just reporting this as a follow-up, as right now it's possible for user to set it up this way and `cilium-agent` will lock-up (https://github.com/cilium/cil

[2020-06-02 12:23] tgraf opened #11821 "k3s guide does not instruct to restarted unmanaged pods"
Similar too GKE and other guides, the k3s guide must instruct to restarted unmanaged pods which have been deployed before Cilium was first deployed.

https://docs.cilium.io/en/v1.7/gettingstarted/k8s-install-gke/#restart-unmanaged-pods

[2020-06-02 13:15] brb commented on #11215
The 1.8 release blocker is `Extend cilium status`.

[2020-06-02 13:27] #11809 closed

[2020-06-02 13:29] travisghansen commented on #11724
Not sure I follow the implications of the last comment. Does that mean this won’t be implemented?

As it stands in both kube-proxy and cilium the ‘security’ of the situation is useless as traffic blocks in some situations but not all.

As for following kube-proxy there are already lot’s of things cilium does that kube-proxy doesn’t (or I wouldn’t bother using the replacement). The advanced feature

[2020-06-02 13:41] brb commented on #11724
Could you explain why you want to access a svc via externalIP instead of LoadBalancer IP, ClusterIP or NodeIP + NodePort from inside a cluster?

[2020-06-02 13:55] travisghansen commented on #11724
Maybe I wasn’t clear. I’m only concerned about LB...and that is the original issue. I understand the security implications of external IP for sure.

I want services to be accessible from their globally recognizable (ie external) ip/dns entries by the cluster itself including nodes and pods running in the host networking namespace.

There are many examples. Right now I’m running an ingress controll

[2020-06-02 14:01] travisghansen commented on #11724
To be clear, the IP I’m using is the LB IP and the service does not define any externalIPs.

[2020-06-02 14:13] mrostecki commented on #11656
I think it's fixed by #11714?

[2020-06-02 14:52] aanm opened #11825 "potential deadlock in pkg/eni"
[code]

[2020-06-02 14:58] aanm commented on #11825
proposed fix:
[code]

[2020-06-02 14:58] brandshaide commented on #10979
@joestringer I'd like to work on this. Can you assign it to me?

[2020-06-02 15:57] nebril opened #11828 "cilium-cni gets deleted by delayed cni-uninstall.sh invocation"
## Bug report
**How to reproduce the issue**

1. edit quick-install.yaml:
  - increase `terminationGracePeriodSeconds` to `120`
  - change `preStop` command to ` command: ["sh", "-c", "sleep 60 && /cni-uninstall.sh"]`
  - apply quick-install.yaml
2 `kubectl apply -f install/kubernetes/quick-install.yaml`
3. wait for Cilium pods to be running
4. `kubectl delete ds cilium -n kube-system && kubectl a

[2020-06-02 16:50] aanm opened #11832 "DATA RACE in pkg/ipcache/ipcache.go"
[code]

[2020-06-02 16:50] tgraf commented on #11647
Duplicate of #11175

[2020-06-02 16:50] #11647 closed

[2020-06-02 17:07] mrostecki commented on #10496
@travisghansen Cilium already uses Envoy for L7 filtering. Currently, Cilium provides support for L7 protocols mostly through Go extensions for Envoy which are part of Cilium (inside `proxylib` dir): https://docs.cilium.io/en/v1.7/envoy/extensions/?highlight=r2d2

But Envoy API v3 adds its native network filters for several L7 protocols, which are listed here: https://www.envoyproxy.io/docs/envoy/

[2020-06-02 17:13] travisghansen commented on #10496
Ah cool. I’ll keep watching the space..

[2020-06-02 17:28] aanm opened #11836 "DATA RACE: pkg/node potentially caused by premature initialization of k8s watchers"
[code]

Commit sha that potentially introduced race: 05163ed608e54b2ca095cfa0ef849f57d8a94f91

[2020-06-02 19:32] borkmann commented on #11763
(Removing release blocker since not unique to 1.8. Needs to be fixed in any case, but can go into later minor releases as well.)

[2020-06-02 20:46] #10987 closed

[2020-06-02 20:48] jrajahalme commented on #11741
Seems the timeout increase has no effect:
[code]

time still reported as 4 seconds like before?

[2020-06-02 20:49] jrajahalme commented on #11741
Or, maybe waiting more does not help if the packets were lost? Should be retry after 5 secs instead?

[2020-06-02 21:07] #11805 closed

[2020-06-02 21:24] #11825 closed

[2020-06-02 21:33] borkmann commented on #11175
[...]

Current clang/llc shipped with latest already fixes it from compiler side.

[2020-06-02 21:51] #11581 closed

[2020-06-02 21:52] jedsalazar opened #11841 "sysdump utility should include a recent cache of Hubble data"
"Proposal"
Now that Hubble is becoming more ubiquitous, it's likely a good time to think about including a recent cache of Hubble data as part of a sysdump. During the assessment of a sysdump, it would be helpful to quickly gauge what traffic is being sent, particularly what is forwarded and dropped as indicated by Hubble. The fidelity of the output doesn't have to be rich, it could be close to wh

[2020-06-02 23:05] #11025 closed

[2020-06-02 23:48] joestringer commented on #11790
A [sysdump](https://docs.cilium.io/en/v1.7/troubleshooting/#automatic-log-state-collection) would also help to debug this issue.

[2020-06-02 23:56] ap4y commented on #11778
Thought it's worth posting for visibility that I have opened PR with the potential fix.

[2020-06-03 01:25] mskrocki commented on #4825
Could you try and run `iptables -L` inside one of the cilium pods?
The additional modules are loaded by cilium, which doesn't hurt, but probably could be conditioned in the code.
I suspect your system still has entries in the legacy iptables (created by previous version of cilium), which you should try and remove e.g. remove cilium from k8s, start cilium container directly with docker, from within

[2020-06-03 01:44] maci0 commented on #11790
[code]

[cilium-sysdump-20200602-214303.zip](https://github.com/cilium/cilium/files/4720555/cilium-sysdump-20200602-214303.zip)

[2020-06-03 01:59] varunmar opened #11844 "Use the generic-veth CNI handler instead of cilium when the CNI network name is unknown"
## Proposal to default unknown networks to the generic-veth plugin instead of the regular cilium handler.

### Background
Currently, when a CNI config file requests chaining to cilium-cni, the network name determines the type of handler that will be used. If one the "known" names is not used for the network, the full (ie, the same as the un-chained version) CNI handler is invoked.

### New Behavio

[2020-06-03 02:04] Jianlin-lv commented on #10677
After the #11685 patch was merged, I verified this problem on the latest code,
Repeatedly execute the `"make unit-tests TESTPKGS = pkg / aws / eni"` command for more than 12 hours without reproducing the issue;
Additionally, Travis-ci in the community has not had this issue recently.
I think it can be temporarily closed.
@pchaigno

[2020-06-03 05:25] #10677 closed

[2020-06-03 05:47] tklauser commented on #11778
Thanks @ap4y!

[2020-06-03 07:12] #10991 closed

[2020-06-03 07:44] #11235 closed

[2020-06-03 07:44] #11807 closed

[2020-06-03 07:58] aanm opened #11847 "CI: K8sServicesTest Checks service across nodes Tests NodePort BPF Tests with vxlan Tests NodePort with sessionAffinity from outside"
[code]
[cd82f5f1_K8sServicesTest_Checks_service_across_nodes_Tests_NodePort_BPF_Tests_with_vxlan_Tests_NodePort_with_sessionAffinity_from_outside.zip](https://github.com/cilium/cilium/files/4721765/cd82f5f1_K8sServicesTest_Checks_service_across_nodes_Tests_NodePort_BPF_Tests_with_vxlan_Tests_NodePort_with_sessionAffinity_from_outside.zip)

[2020-06-03 07:59] #11832 closed

[2020-06-03 08:01] aanm opened #11848 "CI: K8sFQDNTest BeforeAll failure (ginkgo DNS timeout)"
[code]

[808a676b_K8sFQDNTest_Validate_that_multiple_specs_are_working_correctly.zip](https://github.com/cilium/cilium/files/4721786/808a676b_K8sFQDNTest_Validate_that_multiple_specs_are_working_correctly.zip)

[2020-06-03 08:02] aanm opened #11849 "CI: K8sConformance Portmap Chaining Check connectivity-check compliance with portmap chaining"
[code]

[b92c71ed_K8sConformance_Portmap_Chaining_Check_connectivity-check_compliance_with_portmap_chaining.zip](https://github.com/cilium/cilium/files/4721789/b92c71ed_K8sConformance_Portmap_Chaining_Check_connectivity-check_compliance_with_portmap_chaining.zip)

[2020-06-03 08:35] pchaigno commented on #11849
The logs have a couple `Unable to restore endpoint` warnings that may be related:
[code]

I could find a only one other occurrence of this flake on master over the last 14 days: https://jenkins.cilium.io/job/Ginkgo-CI-Tests-k8s1.18-Pipeline/457/testReport/Suite-k8s-1/18/K8sConformance_Portmap_Chaining_Check_connectivity_check_compliance_with_portmap_chaining/. I did not go through all failures in

[2020-06-03 08:41] pchaigno commented on #11848
We probably want retries and/or make these resolutions optional:
https://github.com/cilium/cilium/blob/40b6f58af21aa16925cdd3d11e55951c66810386/test/k8sT/fqdn.go#L49-L68
We already have the IPs hardcoded above and they're quite stable. Probably okay to use if the resolutions fail.

[2020-06-03 09:24] maci0 commented on #4825
Like I said. It's impossible there are legacy rules as there is no ip_tables kernel module loaded on the host.

[code]

[2020-06-03 09:25] maci0 commented on #4825
[code]

[2020-06-03 09:26] maci0 commented on #4825
in any case. invoking `iptables` from within the container should not be allowed to load the kernel module, especially since it's blacklisted on the host

[2020-06-03 09:57] mrostecki commented on #11820
I think that CRD and kvstore should be mutually exclusive. @aanm, do you agree?

[2020-06-03 13:23] pchaigno opened #11862 "CI: Context deadline exceeded during BPF compilation"
We're seeing Runtime privileged unit tests fail once in a while with the following error message:
[code]
Seen in:
https://jenkins.cilium.io/job/Ginkgo-CI-Tests-runtime-Pipeline/413/testReport/(root)/Suite-runtime/RuntimePrivilegedUnitTests_Run_Tests/

[afd4e86e_RuntimePrivilegedUnitTests_Run_Tests.zip](https://github.com/cilium/cilium/files/4723492/afd4e86e_RuntimePrivilegedUnitTests_Run_Tests.zip

[2020-06-03 13:27] aanm commented on #11820
@mrostecki using a kvstore with CRD can be allowed AFAIK. Also I think the agent lock up due https://github.com/cilium/cilium/issues/11836

@errordeveloper is there a way to reproduce this issue?

[2020-06-03 13:34] errordeveloper commented on #11820
You can revert part of 6fe8d092a6796d36230a0e3480cd2a8472e1a6f0, i.e.:
[code]
And then focus on this particular test. I recall reproducing it on first attempt in GKE.

For the record, this is what I did:
[code]
I've used latest images at the time, cannot say exactly what those were, but in this case it shouldn't matter.

[2020-06-03 13:38] #11836 closed

[2020-06-03 14:39] gandro commented on #11785
I believe I just observed this again: https://travis-ci.com/github/cilium/cilium/jobs/343097019

The branch does contain commit b5ed91d924304acc7d07069bc3d11f91706302c7

[2020-06-03 14:57] Rolinh commented on #11228
Closing this issue as basic tests have been implemented as part of #11549

[2020-06-03 14:57] #11228 closed

[2020-06-03 15:01] Rolinh opened #11865 "hubble-relay: add CI test to check flows ordering"
Hubble Relay aggregates flows from multiple peers and orders them in chronological order before forwarding them over to the client that made the request. This feature should be tested as part of the hubble relay CI tests suite.

[2020-06-03 15:04] rolinh opened #11866 "hubble-relay: add CI test to ensure status is reported correctly"
The status gRPC call is not currently tested as part of the CI. A new test should be added to the Hubble Relay test suite to ensure this is covered.

[2020-06-03 16:40] aanm opened #11867 "CI: K8sServicesTest Checks service across nodes with L4 policy Tests NodePort with L4 Policy"
[code]

Assigning high priority because this was hit in the `test-missed-k8s` and those jobs are rarely executed so it might be a real bug and not a flake.
[3f7ee90a_K8sServicesTest_Checks_service_across_nodes_with_L4_policy_Tests_NodePort_with_L4_Policy.zip](https://github.com/cilium/cilium/files/4724777/3f7ee90a_K8sServicesTest_Checks_service_across_nodes_with_L4_policy_Tests_NodePort_with_L4_Po

[2020-06-03 16:59] aanm opened #11868 "helm global.eni=true does not set ipam: eni"
This does not seem correct to me, currently the https://docs.cilium.io/en/latest/gettingstarted/aws-eni/ guide has the option `global.eni` set but the `ipam` is set to `"cluster-pool"`. Is this intended?

[code]

[2020-06-03 17:03] christarazi commented on #11785
:thinking: Interesting, looking into it

[2020-06-03 17:41] #10309 closed

[2020-06-03 18:28] tgraf opened #11874 "Metrics are reporting unreachable nodes when Cilium starts up"
The connectivity health checking metrics are reporting unreachable nodes in the beginning of the bootstrapping process. This should be avoided to avoid spikes in the metric when new nodes are being added.

Core issue: We don’t have a difference between “unknown” / “unreachable”.

[2020-06-03 18:40] christarazi commented on #11785
Locally ran `go test ./pkg/azure/ipam -v -count 1` 700 times without failure.

[2020-06-03 18:43] joestringer commented on #11868
Sounds like a bug in the IPAM chart, it should be autoconfigured by `global.eni=true`.

[2020-06-03 19:09] christarazi commented on #11868
Looking into it. As Joe mentioned, it seems like we just need to set the `ipam` option when the user specifies ENI. This also seems to affect Azure as well.

[2020-06-03 20:07] christarazi commented on #11868
Taking a closer look, this was recently changed by https://github.com/cilium/cilium/pull/11725. It seems like in that PR, we want to the user to pass the IPAM as well into Helm.

This might just be a disagreement in the docs (probably accidentally forgotten) as you can see the [updated docs](https://docs.cilium.io/en/latest/gettingstarted/k8s-install-eks/?highlight=config.ipam#deploy-cilium) vs. [

[2020-06-03 20:17] #11828 closed

[2020-06-03 21:25] mskrocki commented on #4825
iptables modules are loaded by cilium: https://github.com/cilium/cilium/blob/master/pkg/datapath/iptables/iptables.go#L358
So, invoking iptables cmd doesn't load the modules.

Regardless, from the logs above it looks like the rules are created in the correct tables, with that, are you still experiencing connectivity problems?

[2020-06-03 22:29] jrajahalme commented on #11867
#11765 adds more debugging info in case this flakes again.

[2020-06-03 22:30] jrajahalme commented on #11867
#11819 (merged to master after this flake was seen) may affect this behavior.

[2020-06-03 22:36] jrajahalme commented on #11867
Its curious that 7 out of 10 tries succeed, and then the 8th fails. Both backends have served traffic so they are both functional. #11765 changes the test so that all 10 rounds are tried so that we'd know if the 9th and 10th round would succeed in a case like this.

[2020-06-04 01:37] maci0 commented on #11790
@joestringer @brb let me know if you need any other information

[2020-06-04 07:23] autumn0207 opened #11885 "How to use cilium_dbg()"
## Support

I want to use **cilium_dbg** function to log some info, but I can not get it by **cilium -D monitor**, can you help me?

[2020-06-04 08:18] aanm commented on #11320
Re-opening: https://jenkins.cilium.io/job/Cilium-PR-K8s-newest-kernel-4.9/560/testReport/junit/Suite-k8s-1/18/K8sDatapathConfig_MonitorAggregation_Checks_that_monitor_aggregation_restricts_notifications/

[2020-06-04 09:09] pchaigno commented on #11885
Did you try `cilium monitor -v`?

[2020-06-04 09:12] #10739 closed

[2020-06-04 09:12] #10693 closed

[2020-06-04 09:15] aanm commented on #11587
ping @Sh4d1

[2020-06-04 09:39] #11043 closed

[2020-06-04 09:39] #11751 closed

[2020-06-04 10:17] Sh4d1 commented on #11587
oops sorry didn't get the previous mention :sweat_smile:

So I create a bunch of cluster (with and without `enable-k8s-endpoint-slice: false`) and only one hit the issue after 1 or 2 weeks.

In the debug log I can see:
[code]

[2020-06-04 12:26] #11778 closed

[2020-06-04 12:27] #11821 closed

[2020-06-04 12:55] pchaigno commented on #11862
Another case in https://jenkins.cilium.io/job/Cilium-PR-Runtime-4.9/608/testReport/junit/(root)/Suite-runtime/RuntimeKVStoreTest_Consul_KVStore/
[test_results_Cilium-PR-Runtime-4.9_608_BDD-Test-PR.zip](https://github.com/cilium/cilium/files/4730119/test_results_Cilium-PR-Runtime-4.9_608_BDD-Test-PR.zip)

That build had the new `lscpu` output, so we know it's not the CPU frequency issue from Packet

[2020-06-04 16:30] pchaigno opened #11895 "CI: RuntimeKVStoreTest: Stopping cilium during Runtime tests"
`RuntimeKVStoreTest Consul KVStore` and `RuntimeKVStoreTest Etcd KVStore` are failing often with different error messages. The root cause, found in the logs, seems to be:
[code]

----

`RuntimeKVStoreTest Consul KVStore` usually fails with:
[code]
because the BPF compilation gets interrupted by Cilium stopping.
https://jenkins.cilium.io/job/cilium-ginkgo/job/cilium/job/master/4989/testReport/junit

[2020-06-04 16:34] pchaigno commented on #11895
Another case in https://jenkins.cilium.io/job/Cilium-PR-Runtime-4.9/608/testReport/junit/(root)/Suite-runtime/RuntimeKVStoreTest_Consul_KVStore/
[test_results_Cilium-PR-Runtime-4.9_608_BDD-Test-PR.zip](https://github.com/cilium/cilium/files/4730119/test_results_Cilium-PR-Runtime-4.9_608_BDD-Test-PR.zip)

That build had the new `lscpu` output, so we know it's not the CPU frequency issue from Packet

[2020-06-04 16:36] pchaigno commented on #11862
There were two issues here: (1) what looks like a timeout exceeded during BPF compilation in RuntimePrivilegedUnitTests, kept here; (2) a second issue in Runtime tests due to Cilium shutting down, moved to #11895.

The first issue might have been caused by Packet's CPU frequency bug, but we didn't have `lscpu` in the build output yet to confirm. If it happens again, we can check that. Since it mig

[2020-06-04 16:56] qmonnet commented on #11741
@jrajahalme I think you are right. The `time 4081ms` seems to indicate the duration for sending the packets (5 ICMP requests, one per second). The `-W 5` increases the timeout for the answer, but if the packet was dropped because the setup was not ready it doesn't really matter whether we wait for longer. We could instead wait longer between the attempts with the `-i` option (or send more requests

[2020-06-04 17:16] gandro commented on #11043
A user reported that this still occurs on a node which had the above commit applied. Reopening.

[2020-06-04 21:02] michi-covalent opened #11902 "generate another "quick-install" yaml file with experimental features enabled"
this came up in https://github.com/cilium/cilium/pull/11882#discussion_r435067999 and an offline discussion. the idea is to generate another yaml file like quick-install.yaml but experimental features (like hubble) enabled. this would make it easier for users to play around with new features.

related issue: https://github.com/cilium/cilium/issues/11151

[2020-06-04 21:10] b3a-dev opened #11903 "Validate guides for 1.8 release"
- **Managed k8s**
  - [x] [EKS](https://docs.cilium.io/en/latest/gettingstarted/k8s-install-eks/) (@tklauser ) ~#12078~ / #12098
  - [x] [GKE](https://docs.cilium.io/en/latest/gettingstarted/k8s-install-gke/) (@Rolinh ) ~#11960~ / ~#12087~
  - [x] [AKS](https://docs.cilium.io/en/latest/gettingstarted/k8s-install-aks/) (@gandro ) ~#12070~
    - ~Azure IPAM (@tgraf )~ (this is part of Azure Cloud be

[2020-06-04 22:22] jrajahalme commented on #11895
Also in #11901: https://jenkins.cilium.io/job/Cilium-PR-Runtime-4.9/620/testReport/junit/(root)/Suite-runtime/RuntimeKVStoreTest_Consul_KVStore/

Relevant Cilium logs:
[code]

[2020-06-05 01:00] joestringer opened #11910 "v1.6.9 release"
## Pre-release

- [x] Check that there are no [release blockers] for the targeted release version
- [x] Ensure that outstanding [backport PRs] are merged
- [x] Create a [new project] for the next release version
  - [x] Move any unresolved issues/PRs into the newly created release project
  - [Old project](https://github.com/cilium/cilium/projects/106)
  - [New project](https://github.com/cilium/c

[2020-06-05 01:00] joestringer opened #11911 "v1.7.5 release"
## Pre-release

- [x] Check that there are no [release blockers] for the targeted release version
- [x] Ensure that outstanding [backport PRs] are merged
- [x] Create a [new project] for the next release version
  - [Old project](https://github.com/cilium/cilium/projects/112)
  - [New Project](https://github.com/cilium/cilium/projects/116)
  - [x] Move any unresolved issues/PRs into the newly crea

[2020-06-05 02:16] maci0 commented on #4825
I see. I think that warrants opening another issue.

I think connectivity issues were just co-incidental because of this one https://github.com/cilium/cilium/issues/11790

[2020-06-05 06:48] varunmar opened #11914 "When Cilium handles K8s Nodeport services, IPTables sees packets that trigger invalid connection tracking state checks"
When Cilium is configured with
  tunnel: disabled
  enable-host-reachable-services: "true"
  enable-external-ips: "true"
  enable-node-port: "true"

AND
an IPTables rule of the form `-m conntrack --ctstate INVALID -j DROP`
exists, then a tcp handshake can not be completed for traffic from an external client addressed to a nodeport service delivered to a node hosting a backend pod.

We believe the

[2020-06-05 07:02] olemarkus commented on #10426
Think it is worth getting this documented. Ran into this myself.

[2020-06-05 07:47] Rolinh commented on #11903
Discussed offline with @b3a-dev :
- added Hubble/Hubble Relay (doc is not yet ready however) and assigned  to @errordeveloper
- unassigned @errordeveloper from Kata and assigned it to myself

[2020-06-05 08:22] aanm opened #11916 "Verify correctness of KVStore rate limiter"
It seems in some occasions the KVStore rate limiter was not working, verify its behavior with a unit test against etcd should be enough.

https://github.com/cilium/cilium/blob/3430980860e68dbb92d7f0faa79a49d09b6e6786/pkg/kvstore/etcd.go#L160-L166

[2020-06-05 08:47] brb commented on #11914
Thanks for the issue. The reasoning looks correct: `--ctage INVALID -j DROP` should be responsible for dropping the packets.

We can work around this by getting rid of `NO_REDIRECT`. This would make the request to bypass the stack (step 2.), and thus no netfilter CT entry should be created in your case. The PR is out (https://github.com/cilium/cilium/pull/11557), but it needs some troubleshooting

[2020-06-05 09:10] brb commented on #11724
This is going to be fixed once this issue is resolved.

Re accessing externalIPs from inside a cluster, please create a separate issue. Thanks.

[2020-06-05 09:20] brb commented on #11365
Can't reproduce on the dev VMs, but I could on GKE-on-prem. Perhaps worth checking GKE as well.

[2020-06-05 10:14] pchaigno commented on #11175
I have a fix for the program size issue (with `--debug` :tada:) and am now working through a complexity issue on `CILIUM_CALL_IPV6_FROM_LXC` in `bpf_overlay`. I'll see if adding some `relax_verifier()` calls is enough, but I might have to introduce new tail calls there otherwise.

[2020-06-05 10:59] b3a-dev commented on #11895
A couple more cases:

https://jenkins.cilium.io/job/cilium-ginkgo/job/cilium/job/master/5004/testReport/junit/(root)/Suite-runtime/RuntimeKVStoreTest_Consul_KVStore/

https://jenkins.cilium.io/job/cilium-ginkgo/job/cilium/job/master/5006/testReport/junit/(root)/Suite-runtime/RuntimeKVStoreTest_Consul_KVStore/

[2020-06-05 11:35] juergenthomann opened #11921 "Kubernetes service is not reachable from same host"
## Bug report

**General Information**

- Cilium version: 1.7.3
- Kernel version: 4.19.0-9-amd64 #1 SMP Debian 4.19.118-2 (2020-04-29) x86_64 GNU/Linux
- Orchestration system version in use: Kubernetes v1.18.2
- Upload a system dump: I have one, but due to company restrictions I can't upload it to a public place.

I have a service that has one endpoint in kubernetes and somehow pods on the same no

[2020-06-05 11:46] #11055 closed

[2020-06-05 12:23] nebril commented on #11903
PSA: all the links point to `latest` docs, to make sure that you are validating 1.8 docs, checkout `v1.8` branch locally and run `make live-preview` in `Documentation` dir.

[2020-06-05 13:39] nebril commented on #11903
Found one small issue in external etcd, fix here: https://github.com/cilium/cilium/pull/11922

[2020-06-05 13:42] travisghansen commented on #11724
Awesome! I have no desire for externalIP traffic personally.

[2020-06-05 13:47] travisghansen commented on #11724
I’ve got a test cluster ready to go when a test image is ready. I have a petty extensive set of tests to run through to ensure a bunch of different scenarios work as expected so I can run through all of those if it’s helpful.

[2020-06-05 13:53] brb commented on #11724
Cool, we will ping you once we have a fix.

[2020-06-05 15:25] brb commented on #11587
@Sh4d1 Can you check (maybe with the help of `kubectl -n kube-system get evets`) whether the kube-dns Service object was not removed?

[2020-06-05 15:28] aanm commented on #11921
@juergenthomann can you send privately over slack to myself or martynas? Thanks

[2020-06-05 15:52] brb commented on #11587
What's about Endpoint objects?

[2020-06-05 16:05] #11369 closed

[2020-06-05 16:05] #11868 closed

[2020-06-05 16:23] jrajahalme opened #11928 "CI: test-gke pipeline broken"
All tests fail due to:
[code]

Oddly enough, I don't get this error when I'm running ginkgo against a private GKE cluster.

https://jenkins.cilium.io/job/Cilium-PR-K8s-GKE/1669/

[2020-06-05 16:33] brb commented on #11587
Thanks. Can you attach the full cilium-agent log? If it contains sensitive info, then just ~30 lines above the svc deletion.

[2020-06-05 16:54] Sh4d1 commented on #11587
Full log is here https://easyupload.io/fcawuz (1M+ lines with debug :sweat_smile: )
`grep "definition change" -C 100` is here : https://gist.github.com/Sh4d1/b5585b1a284f665fd53e7a2ad0cfd593

[2020-06-05 17:35] #11094 closed

[2020-06-05 18:37] aanm opened #11932 "DATA RACE in pkg/endpoint.(*Endpoint).GetIdentity()"
[code]

Needs triage to assess how serious the bug is because to me it looks like `endpoint.SecurityIdentity` is not as protected as it should be.

[2020-06-05 18:40] glibsm commented on #11932
where did you see this race, CI run or locally?

[2020-06-05 18:45] aanm commented on #11932
CI run

[2020-06-05 18:53] glibsm commented on #11932
The bug itself is not serious, it can result in old/new value being assigned to a flow as endpoint is changing the id. There isn't much that can be done about this, as flows are constantly decoded

For fixing the race, it does look like there is a missing protection for get/set identity.

[2020-06-05 18:59] glibsm commented on #11932
A more functional way to fix this is to make sure all necessary values are read right away in https://github.com/cilium/cilium/blob/3d57190d73e0407865452bed93f1d4126e3235fd/pkg/hubble/parser/threefour/parser.go#L249

Otherwise it's a pointer and sub-sequent calls can be racy

[2020-06-06 04:03] #10678 closed

[2020-06-06 06:14] christarazi commented on #11895
Another case:

https://jenkins.cilium.io/job/Cilium-PR-Runtime-4.9/645/

[2020-06-06 09:05] aanm commented on #11810
@asm76 can you also paste `kubectl get endpointslice --all-namespaces -o yaml`?

[2020-06-07 12:41] tgraf commented on #11932
There are several places which are vulnerable, this is not Hubble specific:

* daemon/cmd/fqdn.go / notifyOnDNSMsg():

  LookupEndpointIDByIP(). No locking.

  --> Vulnerable

* pkg/datapath/linux/config/config.go / writeStaticData()

  e.owner.Datapath().WriteEndpointConfig -> WriteEndpointConfig() -> writeStaticData()

  The endpoint is locked

  --> Not vulnerable

* pkg/datapath/loader/templat

[2020-06-07 21:29] #10633 closed

[2020-06-08 05:53] pchaigno opened #11943 "CI: RuntimePrivilegedUnitTests: Panic in DNSProxyTestSuite"
https://jenkins.cilium.io/job/Cilium-PR-Runtime-4.9/652/testReport/(root)/Suite-runtime/RuntimePrivilegedUnitTests_Run_Tests/

[code]

[29c4edf5_RuntimePrivilegedUnitTests_Run_Tests.zip](https://github.com/cilium/cilium/files/4744109/29c4edf5_RuntimePrivilegedUnitTests_Run_Tests.zip)

[2020-06-08 07:36] asm76 commented on #11810
@aanm
[code]

[2020-06-08 07:54] aanm commented on #11810
@asm76 thank you. Can you replicate the issue when running with `enable-k8s-endpoint-slice: false` in Cilium's config map?

[2020-06-08 08:01] aanm commented on #11810
@asm76 you can change that setting in the configmap but you need to restart all cilium pods `kubectl delete pod -n kube-system -l k8s-app=cilium`

[2020-06-08 08:14] b3a-dev commented on #11895
Some more:
https://jenkins.cilium.io/job/Ginkgo-CI-Tests-runtime-Pipeline/428/
https://jenkins.cilium.io/job/Ginkgo-CI-Tests-runtime-Pipeline/431/
https://jenkins.cilium.io/job/Ginkgo-CI-Tests-runtime-Pipeline/436/
https://jenkins.cilium.io/job/cilium-ginkgo/job/cilium/job/master/5020/

[2020-06-08 08:16] asm76 commented on #11810
@aanm Yes, the same behavior
[code]

[2020-06-08 08:27] brb commented on #11810
From the tcpdump looks like a stale CT issue (TCP SYN ACK has the wrong src IP addr):
[code]

[2020-06-08 09:42] tgraf opened #11946 "Deadlock between ipcache GC and endpoint regeneration injecting ipcache entry via FQDN"
## Deadlock description

### Routine 1:

The following go routine holds the ipcache mutex while garbage collecting:

[code]

As part of this, `Reinitialize()` is called which will require the compilation mutex to be acquired.

### Routine 2

The following ongoing endpoint regeneration is holding the compilation lock and thus blocks Routine 1 from completing. It is itself blocked on the FQDN NameMa

[2020-06-08 09:49] pchaigno commented on #11895
Test disabled by #11945.

[2020-06-08 09:54] gandro opened #11948 "CI: K8sServicesTest Checks service across nodes Tests NodePort (kube-proxy) with externalTrafficPolicy=Local"
## CI failure

[code]

Observed in https://jenkins.cilium.io/job/Cilium-PR-Ginkgo-Tests-K8s/3175/testReport/junit/Suite-k8s-1/12/K8sServicesTest_Checks_service_across_nodes_Tests_NodePort__kube_proxy__with_externalTrafficPolicy_Local/

The tests were recently fixed in https://github.com/cilium/cilium/pull/11307 so this likely uncovered an issue with either the implementation or the test setup.

Ap

[2020-06-08 13:24] tklauser opened #11954 "CI: RuntimePolicies: Init Policy Default Drop Test With PolicyAuditMode tests ingress"
https://jenkins.cilium.io/job/Ginkgo-CI-Tests-runtime-Pipeline/430/testReport/junit/(root)/Suite-runtime/RuntimePolicies_Init_Policy_Default_Drop_Test_With_PolicyAuditMode_tests_ingress/

[code]

[19381a3f_RuntimePolicies_Init_Policy_Default_Drop_Test_With_PolicyAuditMode_tests_ingress.zip](https://github.com/cilium/cilium/files/4746174/19381a3f_RuntimePolicies_Init_Policy_Default_Drop_Test_With_P

[2020-06-08 13:25] tklauser commented on #11954
Another case:

https://jenkins.cilium.io/job/Ginkgo-CI-Tests-runtime-Pipeline/432/testReport/junit/(root)/Suite-runtime/RuntimePolicies_Init_Policy_Default_Drop_Test_With_PolicyAuditMode_tests_ingress/

[code]

[5f96c07b_RuntimePolicies_Init_Policy_Default_Drop_Test_With_PolicyAuditMode_tests_ingress.zip](https://github.com/cilium/cilium/files/4746183/5f96c07b_RuntimePolicies_Init_Policy_Default_D

[2020-06-08 13:26] tklauser commented on #11954
In both cases, `hubble_observe.txt` contains:

[code]

[2020-06-08 13:39] aanm opened #11955 "CI: TestEndpointAddNoLabels: metrics assertion failed"
[code]

[code]
@christarazi createEndpoint will regenerate the endpoint in the background so line 104 might fail depending on the machine load. I would suggest to add a function that waits until the metric with that particular value similar to:

https://github.com/cilium/cilium/blob/3c9c9709cf6a82da9060fa824119c24463e18c0a/pkg/kvstore/allocator/allocator_test.go#L174-L182

[2020-06-08 14:26] pchaigno opened #11956 "test: Use world IP closer to test VM"
A lot of our end-to-end tests expect to have a working connection to either `1.1.1.1` or `8.8.8.8` (or some other domain name).
[code]
These tests sometimes fail despite retries because of connectivity blips. Instead of relying on those IP addresses, we could use something closer to our VM, such as the host IP or an IP on [the mock world network](https://github.com/cilium/cilium/blob/c6e18f934a36b

[2020-06-08 14:40] #11932 closed

[2020-06-08 14:50] gandro commented on #11948
Correlation with the fixes from https://github.com/cilium/cilium/pull/11307 seem unlikely, since the failure happens in `testCurlFromPodInHostNetNS(httpURL, count, k8s1NodeName)` and _not_ in `testCurlFailFromPodInHostNetNS` (which was fixed in that PR).

[2020-06-08 14:56] gandro commented on #11948
[test_results_Cilium-PR-Ginkgo-Tests-K8s_3175_BDD-Test-k8s-1.12.zip](https://github.com/cilium/cilium/files/4746719/test_results_Cilium-PR-Ginkgo-Tests-K8s_3175_BDD-Test-k8s-1.12.zip)

[2020-06-08 15:00] gandro commented on #11948
kube-proxy in 1.12 does not seem to install forwarding rules for host traffic, only for 10.10.0.0/16 and 127.0.0.0/8:

bugtool-cilium-4qs4r/cmd/iptables-save--c.md
[code]

[2020-06-08 15:10] #11943 closed

[2020-06-08 15:15] tklauser commented on #11954
From the first case posted in the original report ([19381a3f_RuntimePolicies_Init_Policy_Default_Drop_Test_With_PolicyAuditMode_tests_ingress.zip](https://github.com/cilium/cilium/files/4746174/19381a3f_RuntimePolicies_Init_Policy_Default_Drop_Test_With_PolicyAuditMode_tests_ingress.zip)):

`hubble observe` seems to catch the event but it's associated with destination label `"reserved:init"` rathe

[2020-06-08 15:27] gandro commented on #11948
It looks like kube-proxy before 1.15 do not forward traffic from the local node via nodeport: https://github.com/kubernetes/kubernetes/pull/77523

[2020-06-08 15:36] borkmann opened #11959 "docs: gsg for XDP on gke/aws/azure"
add to getting started guide

[2020-06-08 15:40] tklauser commented on #11954
Looks like we're hitting something like this described in `It("tests ingress")` without `PolicyAuditMode`:

https://github.com/cilium/cilium/blob/a7cddb0ecdf59128e70d8dbd748ab00a1c9544f5/test/runtime/Policies.go#L1486-L1489

[2020-06-08 15:41] Rolinh commented on #11903
Encountered some issues with the GKE guide, fixes in #11960.

[2020-06-08 15:51] gandro commented on #11746
kube-proxy implements this since 1.15: kubernetes/kubernetes#77523

[2020-06-08 15:54] seanmwinn opened #11961 "Helm: Implement imagePullSecrets to support private repositories"
## Proposal / RFE

Implement support in the Helm charts for imagePullSecrets, a common method used by operators where they define their docker repository login credentials in a Kubernetes secret, and this key provides the name of the secret where this information is stored.

https://kubernetes.io/docs/tasks/configure-pod-container/pull-image-private-registry/

[2020-06-08 15:58] brb commented on #11948
Aha, we run kube-proxy in CI with 1.18, while kube-proxy replacement with 1.11.

[2020-06-08 16:01] seanmwinn opened #11962 "Helm: Implement per-container image, tag, and pull policy controls"
## Proposal / RFE

Implement support in the Helm charts for each container to independently specify image name, tag, and image pull policy which will control the sub-chart values. Implement defaults at the sub-chart level with the ability to override at the parent chart. This should be implemented for every container consistently:

[code]

[2020-06-08 16:09] seanmwinn opened #11963 "Helm: Implement per-container resource controls for CPU and Memory requests and limits"
## Proposal / RFE

Implement support for each sub-chart to configure resource requests and limits related to CPU and Memory independently for each cilium application. Implement defaults at the sub-chart level with the ability to override using the parent chart's values file. Leverage to-YAML to render the resources block directly in the template.

[2020-06-08 16:11] aanm commented on #11963
I'm on the fence WRT CPU & memory limits for Cilium as it is part of the infrastructure and the OS manages the memory in a better way.

[2020-06-08 16:12] christarazi commented on #11955
Working on fix, should have PR soon. Thanks for the pointer.

[2020-06-08 16:13] aanm opened #11964 "'bpf-map-dynamic-size-ratio' does not have any effect for new installations"
As we have default values in the `cilium-agent` for the bpf flags, for example the `bpf-ct-global-tcp-max`, `bpf-map-dynamic-size-ratio` won't have any effect as this flag is overwritten by the `bpf-ct-global-tcp-max`.

Perhaps we should remove the default values set for all `bpf-ct*` flags and leave it to the `bpf-map-dynamic-size-ratio`?

[2020-06-08 17:45] #11946 closed

[2020-06-08 18:13] uipo78 opened #11967 "revertReconfigureKubelet does not revert node-init's configuration in Azure"
## Bug report

**General Information**

- Cilium version (run `cilium version`): 1.7.4
- Kernel version (run `uname -a`): `Linux aks-akspool-26081535-vmss0000H6 4.15.0-1083-azure #93~16.04.1-Ubuntu SMP Thu May 7 18:39:44 UTC 2020 x86_64 Linux`
- Orchestration system version in use (e.g. `kubectl version`, Mesos, ...): `k8s 1.15.7`
- Upload a system dump (run `curl -sLO
https://github.com/cilium/ci

[2020-06-08 23:59] varunmar commented on #11914
It looks like we do want the ability to support IPTables even in cases where eBPF is handling the Kubernetes services. Getting rid of NO_REDIRECT would mean that no traffic (even not bound to k8s services) would skip over the netfilter hooks, correct?

An ideal solution would be for the un-dnat to happen at the same point in the linux stack that did the dnat. This probably requires some more state

[2020-06-09 02:15] maci0 commented on #11790
Experiencing the same issue on another cluster with NodePort services.

[2020-06-09 05:23] jrajahalme commented on #11928
kubedns container in kube-dns POD times out waiting for the API server to initialize `endpoint services`:
[code]

[2020-06-09 06:57] pchaigno opened #11972 "Setting devices without NodePort breaks multi-node connectivity"
Setting `--device` with the private iface seems to break multi-node connectivity in multiple scenarios. For example, commit 7dc74091e8b79b606268539754a31f41e5e3f96e implements that change in CI and https://jenkins.cilium.io/job/Cilium-PR-K8s-newest-kernel-4.9/654/testReport/ has the corresponding results. The following tests are failing:
[code]
I am able to reproduce locally, although the connecti

[2020-06-09 07:43] tklauser opened #11975 "CI: K8sPolicyTest Basic Test checks all kind of Kubernetes policies"
Seen in #11951

[code]

https://jenkins.cilium.io/job/Cilium-PR-Ginkgo-Tests-K8s/3180/

[b768e2c1_K8sPolicyTest_Basic_Test_checks_all_kind_of_Kubernetes_policies.zip](https://github.com/cilium/cilium/files/4750607/b768e2c1_K8sPolicyTest_Basic_Test_checks_all_kind_of_Kubernetes_policies.zip)

See https://github.com/cilium/cilium/pull/11951#issuecomment-640961448 for a first analysis.

[2020-06-09 08:20] #11948 closed

[2020-06-09 08:31] pchaigno opened #11976 "CI: Fetching command output from pods stuck for 40min"
When Cilium fails to start, the log collection spends 40 minutes on `Fetching command output from pods`. This happens in Jenkins CI, locally, and with the new smoke test in GitHub Actions.

The reason is that the log collection keeps trying (10 times) to retrieve information from the Cilium pods and waits for them 4 minutes each time. We should teach it to recognize the Cilium pods are persistentl

[2020-06-09 08:56] errordeveloper commented on #11820
We should confirm if this was fixed by #11950 or not.

[2020-06-09 10:46] pchaigno commented on #11972
It looks like `mode=vxlan` is not set properly when calling `init.sh` if several devices are set. I'm looking for the proper fix; probably won't take very long.

[2020-06-09 12:56] bpineau opened #11983 "Loss of connectivity during a violent agent restart: possibly during ebpf update?"
We had some cilium-agent OOM killed; they were running Cilium v1.6.4, on AWS, with Cilium CNI, no IPSec no CNP, no masquerade, no tunnel, without kube-proxy, on Linux 5.0.0.

We adjusted resources allocations since then. But in two occurrences, other applications running on the impacted nodes suffered connectivity issues until the agent recovered (ongoing tcp connections were dropped, and we saw a

[2020-06-09 13:16] aanm opened #11985 "CI: K8sServicesTest Checks service across nodes Tests NodePort BPF Tests with XDP, direct routing and DSR"
[code]

https://jenkins.cilium.io/job/Cilium-PR-K8s-oldest-net-next/685/testReport/junit/Suite-k8s-1/11/K8sServicesTest_Checks_service_across_nodes_Tests_NodePort_BPF_Tests_with_XDP__direct_routing_and_DSR/

[57de4b46_K8sServicesTest_Checks_service_across_nodes_Tests_NodePort_BPF_Tests_with_XDP,_direct_routing_and_DSR.zip](https://github.com/cilium/cilium/files/4752354/57de4b46_K8sServicesTest_Che

[2020-06-09 15:26] divialth commented on #10627
just encountered this problem. @internetionals did a great summery of the problem and the problem.
I am only commenting directly to make the stale bot happy...

[2020-06-09 16:03] pchaigno opened #11990 "CI: Travis: IsNil check in IPAMSuite.TestNodeManagerReleaseAddress"
Seen on master at https://travis-ci.com/github/cilium/cilium/jobs/346649993.
[code]

[2020-06-09 17:35] #11587 closed

[2020-06-09 17:35] #11921 closed

[2020-06-09 17:36] aanm commented on #11587
@Sh4d1 This issue is fixed in master and will be part of the 1.7.5 release in the next days. Thanks for reporting the bug.

[2020-06-09 17:36] aanm commented on #11921
@juergenthomann This issue is fixed in master and will be part of the 1.7.5 release in the next days. Thanks for reporting the bug.

[2020-06-09 17:41] christarazi opened #11994 "CI: Refactor curl / wget test helpers with retries"
It'd be nice if we have a test helper wrapper for `curl` and `wget` which has retries built in. These retries should only be applied to commands that are expected to be used for connection with the outside / world.

For example:

[code]

This would eliminate the need for one-off PRs like https://github.com/cilium/cilium/pull/11797 and https://github.com/cilium/cilium/pull/11993. These types of PRs

[2020-06-09 17:57] Sh4d1 commented on #11587
@aanm great thanks :tada: :smile:

[2020-06-09 18:19] pchaigno commented on #11972
#11980 wasn't enough to fix this issue after all. There are still three tests failing if I try to set the devices without NodePort (cf. https://github.com/cilium/cilium/pull/11969#issuecomment-641390006).

[2020-06-09 18:40] jrajahalme commented on #11767
@msiebuhr Thanks for the report. Bare port/protocol rule on port 53 (no `rules`) will allow the DNS traffic to go through; as you see there were no drops for port 53. The problem is that the `rules.dns` section is required to tell Cilium that it should apply DNS proxy on that traffic. DNS traffic can be carried on ports other than 53, so always intercepting traffic on port 53 is not desirable. The

[2020-06-09 18:59] msiebuhr commented on #11767
Thanks for the follow-up!

Just to make sure I get you right: The `toFQDN`-rules relies on the DNS _proxy_ (Just having DNS open is not enough.)?

I would definitely appreciate if the documentation spelt this out a bit clearer. Perhaps some logging to that effect. (I don't see schema-validation working, as it could be uploaded as two different K8s objects.)

[2020-06-09 20:40] #11151 closed

[2020-06-09 22:06] christarazi opened #11999 "Cilium MonitorAggregationLevel=medium still shows kubelet exec session traffic"
## Bug report

**General Information**

- 1.7.4
- (`master`) as well
- `Linux ip-192-168-31-155.us-east-2.compute.internal 4.14.177-139.254.amzn2.x86_64 #1 SMP Thu May 7 18:48:23 UTC 2020 x86_64 x86_64 x86_64 GNU/Linux`
- K8s 1.16 on EKS

**How to reproduce the issue**

1. Follow EKS / ENI instructions
2. Run `cilium monitor`
3. Observe that the output is bombarded with a continuous outpouring of

[2020-06-09 22:12] christarazi opened #12000 "Setting MonitorAggregationLevel=max via CLI when the previous value was `medium` doesn't reflect the change to `max`"
## Bug report

**General Information**

- 1.7.4
- (`master`) as well

**How to reproduce the issue**

1. Deploy Cilium in any environment
2. `cilium config`
3. `cilium config MonitorAggregationLevel=max`
4. Observe that `cilium config` doesn't reflect the updated level, due to https://github.com/cilium/cilium/blob/4673688c3fd82c4ecfab582b39aa381867bd69b5/pkg/option/monitor.go#L55

This is a minor

[2020-06-09 23:23] jrajahalme commented on #11955
Still failing (https://travis-ci.com/github/cilium/cilium/jobs/346843289):
[code]

[2020-06-09 23:24] jrajahalme commented on #11955
Endpoint is still waiting to be regenerated.

[2020-06-09 23:26] christarazi commented on #11955
If I recall correctly, the fix above waits for up to 10 seconds. It sounds like that's not enough? Do we know what a good timeout value would be?

[2020-06-10 02:39] christarazi commented on #11955
I was able to reproduce locally using docker with cpu usage limits, running in a loop, similar to this:

[code]

It only failed once in ~1500 runs...
It might be worth seeing how often we run into this flake before going in to bump the timeout value.

[2020-06-10 04:37] valas commented on #11914
We've discussed two possible solutions:
1. Mark NodePort (and similar) packets with an FWMARK. Then insert an IPtables rule to match on this FWMARK and bypass conntrack table (i.e. -A PREROUTING -m mark --mark BYPASS_MARK -j NOTRACK)

2. Keep the current ingress behavior. On egress:
* Extract connection state from conntrack.
* If packet is NodePort, skip "un-DNAT" in bpf_lxc, and mark the packet.

[2020-06-10 07:56] #11755 closed

[2020-06-10 10:31] #11656 closed

[2020-06-10 14:06] borkmann opened #12005 "cilium endpoint regenerate broken"
[code]
Agent log, looks like it's trying to generate a per-EP CT map:
[code]
Despite ConntrackLocal being disabled:
[code]

[2020-06-10 18:45] pchaigno opened #12012 "CI: Travis CI: make not found on aarch64"
The Travis CI aarch64 job is failing consistently, e.g., https://travis-ci.com/github/cilium/cilium/jobs/347223314.
[code]
On a quick look, this failure might have been introduced by #11803. The PR merged before that one didn't have the failure.
/cc @genbit

[2020-06-10 22:09] borkmann opened #12018 "Cilium 1.7 upgrade test issues with kube-proxy replacement as strict"
See also https://github.com/cilium/cilium/pull/11977#issuecomment-642284897 . Basically if we'd enable kube-proxy-replacement as strict, then upgrade test from 1.7.4 to master breaks on 1.7.4 image. There is v4+v6+debug+strict enabled. Needs fixing on 1.7 side or further investigation whether disabling debugging in BPF datapath gets it back to working state.

[2020-06-11 09:02] brb commented on #11790
The visibility via the L7 proxy should be using the same mechanism as regular L7 policies which is known to be not working with BPF NodePort (it is used to implement LoadBalancer type services too): https://github.com/cilium/cilium/issues/8971. For now, you could disable BPF NodePort by setting `--kube-proxy-replacement=partial` and `--enable-node-port=false`. I'm closing this issue in favor of #8

[2020-06-11 09:02] #11790 closed

[2020-06-11 11:29] #11964 closed

[2020-06-11 13:46] #11320 closed

[2020-06-11 14:30] #11250 closed

[2020-06-11 14:43] #11789 closed

[2020-06-11 17:40] gandro commented on #10929
I just observed this again in https://github.com/cilium/cilium/pull/12025

[2020-06-11 18:12] jcrowthe commented on #9708
We are definitely looking forward to this work. Where today we run node local DNS in a non-HA fashion, Service Topology would provide thorough HA.

[2020-06-11 19:32] brb commented on #10929
I hit it on 4.19 https://github.com/cilium/cilium/pull/12026#issuecomment-642884454.

[2020-06-11 22:04] joestringer commented on #12018
The original issue we were looking at was a complexity issue with specific datapath configurations on Cilium v1.7 dev versions, and we have a couple of ideas about how to address those.

After applying some fixes for the above, we also saw an apiserver connectivity issue that occurs shortly after downgrading to Cilium 1.7 with the corresponding PR. One angle that @borkmann and I discussed was to u

[2020-06-12 00:14] joestringer opened #12035 "Avoid building all operator images in CI"
See this comment:

https://github.com/cilium/cilium/pull/12029#issuecomment-642982429

The `Makefile.docker` changes in the PR above fix the operator image generation for the generic tag. This is done by forcing the build of all operator images in CI even when only one will be used. This issue tracks fixing up the CI scripts to only build the image that is necessary for the CI run.

[2020-06-12 00:33] joestringer opened #12036 "CI should not use `latest` tag to refer to development versions of cilium docker images"
As found out in this PR:
https://github.com/cilium/cilium/pull/12034

When preparing the docker images for testing in our current CI infrastructure, we tag them with `latest`. This is even the case if the current branch is `v1.8`. In the jenkins/vagrant infrastrructure, we explicitly build&tag cilium docker images with `latest` tag, and only cache these images in the local registry, and do not bui

[2020-06-12 01:09] joestringer commented on #10929
Given that we suddenly started seeing this again today, I think it'll be real interesting to look at the changes that went in during the last ~24h to see what could be causing it.

[2020-06-12 02:01] joestringer opened #12037 "Monitor test relies on dumping host endpoint debug messages"
It's not possible to reconfigure host endpoint datapath options because it has reserved labels and we disable it in the API:

[code]

This by itself is fine, but in PR #11977 we disable datapath debug mode by default, which means we can't turn it back on.

Combined with the RuntimeMonitor tests which iterate through *all* endpoints to make sure that debug mode outputs events for all endpoints, thi

[2020-06-12 02:23] #11800 closed

[2020-06-12 02:46] Jianlin-lv opened #12038 "CI: Travis failed on arm64: install for sphinx-rtd-theme-cilium error"
CI failure Link:
https://travis-ci.com/github/cilium/cilium/jobs/347778513#L562
https://travis-ci.com/github/cilium/cilium/jobs/347780455#L565

failed on arm64 build,

[code]

[2020-06-12 05:44] pchaigno commented on #10929
#11894 is the big candidate for reintroducing this as a side effect.

Given [last time's fix](https://github.com/cilium/cilium/issues/10929#issuecomment-614592125), I wouldn't be too surprised if these new flakes are caused by Packet's CPU frequency bug. We now have the `lscpu` output in Jenkins logs, so that should be easy to check.

[2020-06-12 06:27] joestringer commented on #12038
Perhaps we can consider disabling the docs build on arm64. I don't know the status of the new node.js dependency on arm64 platform.

[2020-06-12 07:00] pchaigno commented on #11972
Remaining issue is specific to IPSec: if we specify `--device` then we override `bpf_network` attached to the private interface with `bpf_host`. That also means we currently can't use the host firewall when IPSec is enabled.

#11969 will fix that.

[2020-06-12 07:30] joestringer commented on #10929
Is this the info you're after?
https://jenkins.cilium.io/job/Cilium-PR-Ginkgo-Tests-Kernel/2067/execution/node/130/log/

(From failure in #11977)

[2020-06-12 07:39] pchaigno commented on #10929
Yep. So not the CPU frequency bug :disappointed:

[2020-06-12 08:35] Jianlin-lv commented on #12038
Agree with you, I can help submit a patch to disable Doc building on ARM64

[2020-06-12 09:32] pchaigno commented on #10929
From Slack (found by Martynas):
On 4.19 this is no longer true:
https://github.com/cilium/cilium/blob/20fea0b9c593b9231cd44d56ee9a5f1bfed1a451/test/k8sT/Services.go#L546-L552
When `bpf_sock` is enabled, currently the case in 4.19 pipeline, even if kube-proxy is enabled, the packet has the backend's IP and port. To know if we're running with `bpf_sock`, we can check `hostReachableServices` in `cili

[2020-06-12 09:46] tklauser commented on #12038
Related to #12012?

[2020-06-12 09:52] tklauser opened #12042 "CI: RuntimePrivilegedUnitTests: timeout in DNSProxyTestSuite.TestRespondViaCorrectProtocol"
https://jenkins.cilium.io/job/Ginkgo-CI-Tests-runtime-Pipeline/451/

[code]

[18e22c6d_RuntimePrivilegedUnitTests_Run_Tests.zip](https://github.com/cilium/cilium/files/4770052/18e22c6d_RuntimePrivilegedUnitTests_Run_Tests.zip)

[2020-06-12 10:02] Jianlin-lv commented on #12038
yes,  I plan to revise it as follows

[code]

[2020-06-12 10:27] aanm commented on #6728
Seen again in https://github.com/cilium/cilium/pull/11368

https://jenkins.cilium.io/job/Cilium-PR-Ginkgo-Tests-Kernel/2048/

[1b063a65_K8sHealthTest_checks_cilium-health_status_between_nodes.zip](https://github.com/cilium/cilium/files/4770217/1b063a65_K8sHealthTest_checks_cilium-health_status_between_nodes.zip)

[2020-06-12 11:45] aanm opened #12044 "v1.7.5 release"
## Pre-release

- [ ] Create a [new project] for the next release version
- [ ] Add build targets for the new release on [Docker Hub]
  - All versions:
    - [cilium](https://hub.docker.com/repository/docker/cilium/cilium/builds/edit)
    - [operator](https://hub.docker.com/repository/docker/cilium/operator/builds/edit)
    - [docker-plugin](https://hub.docker.com/repository/docker/cilium/docker-p

[2020-06-12 11:46] aanm commented on #12044
duplicate of https://github.com/cilium/cilium/issues/11911

[2020-06-12 11:46] #12044 closed

[2020-06-12 12:26] #12012 closed

[2020-06-12 12:26] #12038 closed

[2020-06-12 12:43] aanm opened #12048 "v1.8.0-rc3 release"
## Pre-release

- [x] ~Create a [new project] for the next release version~
- [x] Add build targets for the new release on [Docker Hub]
  - All versions:
    - [cilium](https://hub.docker.com/repository/docker/cilium/cilium/builds/edit)
    - [operator](https://hub.docker.com/repository/docker/cilium/operator/builds/edit)
    - [docker-plugin](https://hub.docker.com/repository/docker/cilium/docker

[2020-06-12 13:36] #11911 closed

[2020-06-12 14:51] errordeveloper opened #12052 "CI/GKE: Kubernetes DNS did not become ready in time"
This one fails fairly consistently, see https://github.com/cilium/cilium/pull/11949.

[2020-06-12 14:52] errordeveloper opened #12053 "CI/GKE: cilium pre-flight checks failed"
This one failed consistently, see #11949.

[2020-06-12 16:33] joestringer opened #12057 "Include BPF FS mount status in sysdump output"
It would be helpful for later introspection if the status of BPF filesystem mounting was reported either through a new `cilium bpf fs show` command or directly in the `cilium status` output.

It should include the location of the BPF FS and whether Cilium specifically mounted the FS because the OS did not automatically provide it. (See the warning messages relating to BPFFS mounting that occur ear

[2020-06-12 18:16] jrajahalme commented on #11848
hit again: https://jenkins.cilium.io/view/PR/job/Cilium-PR-K8s-newest-kernel-4.9/734/testReport/junit/Suite-k8s-1/18/K8sFQDNTest_Restart_Cilium_validate_that_FQDN_is_still_working/

[2020-06-12 19:05] jrajahalme commented on #11848
This is a BeforeAll failure, not a fail in the "multiple specs" test, will edit the title.

[2020-06-12 19:07] jrajahalme commented on #11848
This is a DNS timeout from ginkgo itself, not subject to the DNS proxy, which is not even set up yet, and would not affect ginkgo anyway.

[2020-06-12 19:28] #12000 closed

[2020-06-12 21:09] Jean-Daniel commented on #6320
Looks like IPv6 masquerade still broken on 1.8.0 using BPF masquerade mode.

[2020-06-12 21:28] vladdy commented on #11556
Grabbing this one as I've started working on #10236 as well.

[2020-06-13 03:56] christarazi commented on #11955
Update on this bug:

Increasing the timeout won't fix the bug as there's some raciness / weirdness happening.

1) What I found is that this bug occurs with `-race` **92/100 runs**.
2) Without `-race` it occurs **2/100 times** on average, when the machine is under load (to simulate Travis conditions). (It is difficult to reproduce when the machine is free of load.)
3) When setting the env var `GOMA

[2020-06-13 19:25] Combustible opened #12063 "System reboot pulls new cilium/cilium:latest image, resulting in crashloopbackoff with wireguard interface"
## Bug report

**Summary**

One of my kubernetes nodes rebooted unexpectedly - which has in the past been fine/recoverable. Today though, it pulled a new cilium image (cilium/cilium:latest) because the ImagePullPolicy is Always, instead of IfNotPresent. This new image resulted in a crash loop for cilium, breaking my cluster until I figured out the image changed and I tagged the prior image and edi

[2020-06-14 18:15] #10506 closed

[2020-06-14 20:15] #10811 closed

[2020-06-15 06:34] tgraf commented on #11799
Given that the host firewall is introduced as a beta feature, we don't have to treat this as a release blocker. We can list the known limitations in the guide of the host firewall feature and backport the relevant fixes over time if appropriate.

[2020-06-15 08:06] rreinurm commented on #12063
In general `latest` tag is not recommended practice for production systems with the most of the docker images unless this is what you truly desire. You should pinpoint images to use minor and patch versions to avoid that issue. You can find references for that from several articles, for example https://docs.docker.com/develop/dev-best-practices

Additionally for reboot, the same issue can happen t

[2020-06-15 08:26] brb commented on #6320
The upcoming v1.8.0 won't support BPF masquerading for IPv6. The motivation for not adding it is that we assume that pod IPv6 addrs are globally routable.

[2020-06-15 09:02] Jean-Daniel commented on #6320
That's unfortunate.  I never saw a single Kubernetes installation document that advices to use globally routable addr for podCIDR.
And it make simple deployment far more complex, as you are now required to use BGP or something else to advertise each node podCIDR to the upstream routers.

[2020-06-15 09:18] brb commented on #12063
@Combustible you should really avoid using `latest` as recommended per https://kubernetes.io/docs/concepts/containers/images/#image-names. Anyway, I'm wondering how did you end up using `latest` considering that you specified `--version 1.7.0`.

Re wireguard: Do you use the wireguard tunnel for communication among k8s nodes?

[2020-06-15 10:47] aanm commented on #11741
hit in https://github.com/cilium/cilium/pull/12039

[2020-06-15 11:30] borkmann commented on #12018
Full explanation here: https://github.com/cilium/cilium/pull/12045/commits/c81e10fe69b59340b993d5b1963007c1ca0a542d

[2020-06-15 13:08] #10093 closed

[2020-06-15 14:00] pchaigno commented on #12018
Could that also explain failures on v1.7 (cf. #11126)? In particular, steps (ii) to (iv). Step (i) fixes a bug I introduced in v1.8 only. If so, we might want to backport.

[2020-06-15 14:22] brb commented on #6320
@Jean-Daniel Then what's the motivation to use IPv6 for pods? Underlying network?

[2020-06-15 14:49] gandro opened #12070 "cilium monitor broken on AKS 1.15 (engine 0.47)"
While testing the AKS guide, I discovered that `cilium monitor` does not work with Cilium 1.8@f3b474ad3. As soon as I start `cilium monitor` (or enable Hubble), the agent crashes with `failed to create perf ring for CPU 2: can't create perf event: can't create perf event: no such device`. The crash itself will be addressed in #12068, but  `cilium monitor` remains nonfunctional:

*cilium monitor do

[2020-06-15 15:06] borkmann opened #12072 "CI: WaitforPods broken with unknown flag: --field-selector via kubectl describe"
Potentially related: https://github.com/cilium/cilium/commit/a15ccd4cbee4529390e966a0c8a1dd06a225438c
[code]
Log output from up/downgrade test:
[code]

https://jenkins.cilium.io/job/Cilium-PR-K8s-oldest-net-next/800/testReport/junit/Suite-k8s-1/11/K8sUpdates_Tests_upgrade_and_downgrade_from_a_Cilium_stable_image_to_master/

[2020-06-15 15:14] borkmann opened #12073 "CI: test focus for 4.9/4.19 related kernels"
Currently only runs for net-next, but would be great to have a way to trigger it from GH comment for the other two. cc: @nebril

[2020-06-15 15:26] gandro commented on #12070
Seems like the node has 125 offline cpus:

[code]

[2020-06-15 15:31] brb commented on #12070
cilium/ebpf is ussing `possible` to determine # of CPUs. However, according to https://git.kernel.org/pub/scm/linux/kernel/git/torvalds/linux.git/tree/Documentation/ABI/testing/sysfs-devices-system-cpu:

[code]

[2020-06-15 16:25] #11902 closed

[2020-06-15 16:34] gandro commented on #11903
Hit #11428 while testing AKS as well. Does not look like a regression though, i.e. I can also see it in 1.7.5, therefore not a release blocker. I'm focusing on for now #12070

[2020-06-15 16:36] tklauser opened #12078 "Cilium pods in CrashLoopBackOff with EKS GSG on 1.8.0-rc3"
When following the [EKS GSG](https://docs.cilium.io/en/latest/gettingstarted/k8s-install-eks) instructions to validate Cilium 1.8.0-rc3 for #11903, the Cilium pods are crash looping with:

[code]

Complete logs: [cilium-rmkqv-logs.txt](https://github.com/cilium/cilium/files/4781651/cilium-rmkqv-logs.txt)

/cc @brb @tgraf

[2020-06-15 16:37] tklauser commented on #11903
Hit #12078 while testing the EKS GSG. Looks like another fallout from the `--devices` change?

[2020-06-15 16:39] tgraf opened #12079 "Upgrade guide does not guarantee backwards compatibility"
The upgrade instructions since 1.6 in the recommended path are causing non-backwards compatible changes to a deployment.

## 1.7 -> 1.8

1. Auto enabling dynamic BPF map sizes
[code]

2. Auto opt into cluster pool IPAM
[code]
3. Disabling CNP
[code]

## 1.6 -> 1.7

1. Remote node identities
[code]

2. Monitor aggregation difference:
[code]
vs
[code]

## 1.5 -> 1.6

1. Auto opt-in to CRD
2. Change

[2020-06-15 16:43] dimm0 commented on #6320
Being able to talk to IPV6-only sites outside of k8s

[2020-06-15 17:10] joestringer commented on #12079
What's your threshold for backwards compatibility? These options reduced the number of notifications from the BPF datapath to the userspace / monitor but they should not impact forwarding/routing/policy during upgrade or post-upgrade.

[2020-06-15 17:38] aanm commented on #12079
RFC for this hackity hack https://github.com/cilium/cilium/pull/12080

I also have another branch with a differen proposal which seems the be the "correct" way of solving but I would like Sean's input (on all proposals actually)
https://github.com/cilium/cilium/commit/d9472bc1058ac59e0ffdea488d0e14a34a7a75bd

[2020-06-15 18:14] joestringer commented on #11428
In the example:

[code]

I see an egress spec with 3 rules:
* toEndpoints + toPorts: "match on port 53 DNS traffic at L7 which is destined to the kube-dns pod and allow it all"
* toEndpoints + toPorts: "match on port 5353 DNS traffic at L7 which is destined to the openshift DNS pod and allow it all"
* toFQDNs: Match on requests to subdomains of google.com.

The quoted snippet of the docs:

The int

[2020-06-15 18:26] joestringer commented on #11428
The latest report from @gandro suggests that an issue remains in the way that the docs describe provisioning v1.8.0-rc3. Further investigation will be necessary to determine whether the nature of the issue is a bug in the Cilium code itself or whether the documentation for setting up in azure is not appropriately enabling some option that would allow this case to work.

[2020-06-15 19:02] tgraf commented on #12079
I haven't necessarily classified it much but listed the unintended behavioral changes. I'm not sure we made the conscious decision to change this during upgrades.

[2020-06-15 19:19] Jean-Daniel commented on #6320
Maybe there is something I miss, but actually I have a couple of pods I want to expose though IPv4 and IPv6 services (this is a dual stack Kubernetes). My Services have globally routable addresses that are advertises using MetalLB to the router.

Everything is working fine, but if I understand correctly, IPv6 services requires that underlying pods also have an IPv6 address. Of course, as my pods a

[2020-06-15 19:52] tgraf commented on #12079
This is something that could work:
[code]

Setting `disableCnpStatusUpdates` either in `values.yaml` or using `--set` will force the value. Otherwise it will default to `true` (to disable CNP) unless `config.upgradeCompatibility` is set.

[2020-06-15 20:24] pchaigno opened #12084 "bpf: Fix packet tracing for TO/FROM_NETWORK"
`bpf_host` should use `TRACE_{TO,FROM}_NETWORK` on native devices (`{to,from}-netdev`) and `TRACE_{TO,FROM}_HOST` on host devices (`{to,from}-host`). We also need to trace `TRACE_TO_NETWORK` packets on `bpf_network`.

[2020-06-15 21:34] jrajahalme commented on #12053
Like this?
[code]

[2020-06-15 22:04] jrajahalme commented on #12053
Connectivity test works when following https://docs.cilium.io/en/latest/gettingstarted/k8s-install-gke/:
[code]
cilium-health status:
[code]
So this must be a problem with the GKE helm options deployed by the CI in `test/helpers/kubectl.go`:
[code]

[2020-06-15 22:08] jrajahalme commented on #12053
For comparison, these are the helm options deployed via the https://docs.cilium.io/en/latest/gettingstarted/k8s-install-gke/:
[code]

[2020-06-15 22:13] jrajahalme commented on #12053
It's curious that set-up guide has "--set config.ipam=kubernetes" while the CI does not.

Also, set-up guide has "--set global.native-routing-cidr" while CI has "global.nativeRoutingCIDR". Looking at the Helm charts, "global.native-routing-cidr" seems wrong?

[2020-06-15 23:20] tgraf commented on #12079
Developing this further, we could provide version-specific new defaults with something like this:
[code]

It is possible but adds considerable complexity

[2020-06-16 00:33] christarazi commented on #11903
Transparent Encryption updates here: https://github.com/cilium/cilium/pull/12088

[2020-06-16 01:31] joestringer commented on #11903
For the BGP guides, my main focus was whether the guides fail to configure the relevant routing daemons to propagate routes because modulo the route propagation it's mostly just direct-routing which we're testing elsewhere regularly:

* Kube-router worked (configuration correct; peered successfully with a BIRD 1.x instance I ran in a network namespace; configured routes when in overlay mode).
  *

[2020-06-16 02:15] jrajahalme commented on #12053
Adding `--set config.ipam=kubernetes` helps a lot (#12087), but now launching cilium-operator fails:
[code]
It appears that the `cilium-operator` built by [`test/make-images-push-to-local-registry.sh`](https://github.com/cilium/cilium/blob/master/test/make-images-push-to-local-registry.sh) would insert a command for `cilium-operator-generic` while the Dockerfile used does not seem to do that. Mayb

[2020-06-16 05:57] Combustible commented on #12063
This is what I'm wondering too :) - I am almost certain I never specified latest myself. I know the recommendation is not to do this, for exactly the breakage reasons I experienced here. I assumed that the helm chart would set me to a reasonable docker image (i.e. using 1.7.0 would point to v1.7). If the image pull policy was set to IfNotPresent, there would never have been any updating, even with

[2020-06-16 08:13] dghubble commented on #10359
Testing v1.18.0-rc.3, it looks like this feature listens on the node internal-ip address and port (e.g. `192.168.178.29:8080` in your PR) only, whereas CNI portmap was all addresses.

[2020-06-16 08:35] errordeveloper commented on #12070
Am I understanding correctly that what's happening is that memory is being allocated per CPU core. While number of present CPU is less then possible, the intention is to allocate memory for all CPU cores, in even each core comes online eventually and memory had already been allocated.

Just trying to understand the subject a little more:
- Would it be possible to allocation on-demand, i.e. wheneve

[2020-06-16 09:51] gandro commented on #12070
@errordeveloper Please check out https://github.com/cilium/ebpf/pull/58#pullrequestreview-353738435 for the previous discussion.

However, the wonky CPU count might be a complete red herring. Cilium 1.7.5 and 1.8-rc both use the same version of `cilium/ebpf`, therefore it's not clear to me why one fails and the other one doesn't.

[2020-06-16 11:26] errordeveloper commented on #12079
Separating breaking vs non-breaking sections is definitely a very good idea. It's a bit unfortunate that Helm templates are the only means of defining this logic right now, but ways of getting past that would involve some new machinery that cannot be brought in for 1.8.

[2020-06-16 11:39] gandro commented on #11903
kube-proxy free kubeadm only required one small note: #12095

[2020-06-16 11:44] brb commented on #12078
Fixed by https://github.com/cilium/cilium/pull/12081.

[2020-06-16 11:44] #12078 closed

[2020-06-16 12:04] tklauser opened #12098 "pod-to-b-multi-node-nodeport connectivity test failing on EKS with 1.8.0-rc3"
When following the EKS GSG instructions to validate Cilium 1.8.0-rc3 for #11903 (including the fix for #12078), the connectivity check for `pod-to-b-multi-node-nodeport` is failing:

[code]

Follow-up for #12078

/cc @brb

[2020-06-16 12:19] errordeveloper commented on #11903
So for it looks like 1.8.0-rc3 is broken in Azure, the main symptom is that CoreDNS sees a CNI error `empty cidrs`. The issue was already fixed in https://github.com/cilium/cilium/pull/11978, but it was merged after rc3 and still carries `needs-backport/1.8` label.

[2020-06-16 13:07] aanm opened #12100 "CI: K8sServicesTest Checks service across nodes Tests NodePort BPF Tests with direct routing and DSR"
[code]

[6a2ae8e6_K8sServicesTest_Checks_service_across_nodes_Tests_NodePort_BPF_Tests_with_direct_routing_and_DSR.zip](https://github.com/cilium/cilium/files/4786746/6a2ae8e6_K8sServicesTest_Checks_service_across_nodes_Tests_NodePort_BPF_Tests_with_direct_routing_and_DSR.zip)

https://jenkins.cilium.io/job/Cilium-PR-K8s-oldest-net-next/823/testReport/junit/Suite-k8s-1/11/K8sServicesTest_Checks_se

[2020-06-16 13:15] aanm commented on #11903
Unable to deploy Cilium on GKE for clustermesh setup (which requires etcd):
[code]

(The image is build on top of 1.8.0 with the fix from https://github.com/cilium/cilium/pull/12101)

[2020-06-16 13:17] #11175 closed

[2020-06-16 14:13] brb commented on #10359
@dghubble Thanks for reporting. Could you create a separate issue to track this?

[2020-06-16 15:25] errordeveloper commented on #12070
@gandro has bisected this and confirmed that 1256a13bed02ada24ebf693bf2edd5af3bdba7fa is the culprit, I have tried reverted it on master (331aab47f35a4b7e329a2038658845134e362a75), and built an image.
I can confirm that the resulting image has functional `cilium monitor` and `hubble observe`. I've published it as `docker.io/errordeveloper/cilium:17aaff80d3d`.

[2020-06-16 15:42] brb opened #12105 "Figure out how to enable XDP on GKE"
Currently, when installing Cilium with XDP NodePort acceleration on GKE (tried both COS and Ubuntu, also the latest cluster vsn `1.16.9-gke.6`), the cilium-agent fails with:

[code]

The error comes from https://github.com/torvalds/linux/blob/v4.19/drivers/net/virtio_net.c#L2324. From a quick look, it seems that neither `any_header_sg` can be enabled nor `mergeable_rx_bufs` can be disabled via `et

[2020-06-16 15:44] brb commented on #12105
/cc @valas

[2020-06-16 15:50] brb commented on #12072
This should be harmless, as the `kubectl describe` is invoked only for debug purpose, and was introduced recently by https://github.com/cilium/cilium/commit/c2cc4ebf93a81f21d0f23fb7569b87cce84813bb.

@errordeveloper Is it OK if I change `kubectl describe` to `kubectl get pods -o yaml`?

[2020-06-16 16:07] gandro opened #12107 "hubble: Refactor getters and move them out of daemon where possible"
The internal Hubble interface types to obtain state in the parser ("the getters") are currently all implemented on top of `Daemon`:
https://github.com/cilium/cilium/blob/331aab47f35a4b7e329a2038658845134e362a75/daemon/cmd/hubble.go#L105

We should evaluate if we can implement them on top of the actual types storing the obtained state, e.g. `IdentityGetter` could be implemented by `cache.CachingIde

[2020-06-16 17:00] errordeveloper commented on #11903
I can confirm that overall Azure guide is working, I've opened https://github.com/cilium/cilium/pull/12108 with a few cosmetic improvements.
One thing I'm still debugging is Hubble UI, will report back once I conclude what's going on.

[2020-06-16 17:31] errordeveloper commented on #11903
Looks like I've encountered https://github.com/cilium/hubble/issues/180.

[2020-06-16 17:34] brb commented on #12105
Discussed offline - it's currently not possible to enable XDP on GKE.

[2020-06-16 17:34] #12105 closed

[2020-06-16 17:40] christarazi opened #12111 "CI: Travis: Makefile: recipe for target 'start-kvstores' failed"
## CI failure

[code]

[log.txt](https://github.com/cilium/cilium/files/4788204/log.txt)

[2020-06-16 17:51] errordeveloper commented on #11903
I've just looked back at connectivity test, and looks like it's actually broken:
[code]
I notice some of the pods didn't come up initially, but was looking into #12070 at the time. As @gandro pointed out, this #11428 is a thing.

[2020-06-16 17:58] errordeveloper commented on #11903
What's interesting is that in AKS `KUBERNETES_SERVICE_HOST` is set to a service IP in `default` namespace, but in `kube-system` the `.azmk8s.io` domain name is used. I create `test` namespace, and notice that there service IP was used also. I assume AKS does this as a way to get around bootstrap issues for system components, namely this way `kube-proxy` doesn't need to run in order for pods to acc

[2020-06-16 18:10] errordeveloper opened #12113 "Connectivity issues in Azure"
There is something wrong with DNS in Azure, not very clear what it is yet - more details to follow.

One way it manifest itself is that pods deployed in `kube-system`, such as Hubble UI, fail to resolve `$KUBERNETES_SERVICE_HOST`. It turns out that in AKS the value of `KUBERNETES_SERVICE_HOST` gets set to something like `ilya-test--ilya-test-1-da2a1f-9923c925.hcp.westeurope.azmk8s.io` for pods in

[2020-06-16 18:12] errordeveloper commented on #12113
I think is could be very much related to https://github.com/cilium/cilium/issues/11428, but the original report was concerning only `pod-to-external-fqdn-allow-google-cnp`, so I think there is more going on.

[2020-06-16 18:14] errordeveloper commented on #11903
Moving Azure discussion to https://github.com/cilium/cilium/issues/12113.

[2020-06-16 18:16] errordeveloper commented on #12113
I'm using Hubble UI as a test right now, and I tried to relocate the deployment to `default` namespace, to eliminate DNS issue. Now I'm seeing this in the logs:
[code]
So somehow there is also an API server connectivity issue also.

[2020-06-16 18:37] dghubble opened #12116 "Cilium native hostport only listens on a internal IP, unlike CNI portmap"
## Bug report

Cilium v1.8 release candidates include a native bpf hostport feature to replace CNI [portmap](https://github.com/containernetworking/plugins/tree/master/plugins/meta/portmap) chaining ([#10359](https://github.com/cilium/cilium/issues/10359)) implemented in https://github.com/cilium/cilium/pull/10592. In testing, it seems this feature is a partial implementation of CNI portmap.

When

[2020-06-16 18:38] dghubble commented on #10359
Added https://github.com/cilium/cilium/issues/12116 :+1:

[2020-06-16 18:40] errordeveloper commented on #12113
I was not able to `kubectl run` a contain image install all the tools needed, as package repo connectivity was broken. I create an image of my own for this.

[code]

So it looks like only pods on the same nodes are reachable.

Here is what `cilium-health` report:
[code]

[2020-06-16 18:48] errordeveloper commented on #12113
[`cilium-sysdump-20200616-194701.zip`](https://github.com/cilium/cilium/files/4788530/cilium-sysdump-20200616-194701.zip)

[2020-06-16 19:01] jrajahalme opened #12118 "CI: controller bpf-map-sync-cilium_lb_affinity_match is failing"
Test **Endpoint can still connect while Cilium is not running** failed on `test-gke`:

[code]

[2020-06-16 19:03] jrajahalme commented on #12118
Same failure on both Cilium nodes:
[code]

[2020-06-16 19:05] jrajahalme commented on #12118
@brb As of now the job is still running: https://jenkins.cilium.io/job/Cilium-PR-K8s-GKE/1687/execution/node/118/log/

[2020-06-16 19:13] errordeveloper commented on #12072
@brb the reason for using 'kubeclt describe' there is to obtain events and therefore revile potential root causes. From what I remember, 'kubectl get pods' doesn't show events. I am sure there is an alternative way of getting events, perhaps 'kubectl get events' ?

[2020-06-16 19:17] aanm opened #12120 "CI: K8sDatapathConfig Etcd Check connectivity"
## CI failure
[code]

https://jenkins.cilium.io/job/Cilium-PR-Ginkgo-Tests-Kernel/2138/

[91c77602_K8sDatapathConfig_Etcd_Check_connectivity.zip](https://github.com/cilium/cilium/files/4788676/91c77602_K8sDatapathConfig_Etcd_Check_connectivity.zip)

[2020-06-16 19:24] jrajahalme commented on #12118
`uname -a` from one of the Cilium PODs:
[code]

[2020-06-16 21:13] pchaigno commented on #12070
As detailed in #12119, `pkg/maps` uses a different value for the `max_entries` of eventsmap and signalmap compared to the loader (`runtime.NumCPU()`) or to `init.sh` (`nproc`).

### Before 1256a13
Then, on startup, in the order (with 128 possible CPUs and 2 present CPUs):
1. `NewDaemon()` calls `initMaps()` which creates an eventsmap and a signalmap with `max_entries=128`: https://github.com/ciliu

[2020-06-16 21:18] pchaigno commented on #12070
There is a comment about this in `NewDaemon()`:
https://github.com/cilium/cilium/blob/f5b7027b488c877c771908944a5e1aeadc6a6c38/daemon/cmd/daemon.go#L577
This is still true because we set up the `cilium_events` map in `initMaps()`, we just need to use the same size everywhere.

[2020-06-16 21:48] joestringer commented on #11113
With v1.8 defining `--ipam` with the `cluster-pool` option and its own set of rules, documented here:

https://docs.cilium.io/en/latest/concepts/ipam/

I think we'll need to revisit which flags to deprecate and whether any further ambiguities remain in the configuration options.

[2020-06-16 21:54] jrajahalme commented on #12118
Build results for the above: https://jenkins.cilium.io/job/Cilium-PR-K8s-GKE/1687/

[2020-06-16 21:59] jrajahalme commented on #12118
[2ccca833_K8sChaosTest_Connectivity_demo_application_Endpoint_can_still_connect_while_Cilium_is_not_running.zip](https://github.com/cilium/cilium/files/4789293/2ccca833_K8sChaosTest_Connectivity_demo_application_Endpoint_can_still_connect_while_Cilium_is_not_running.zip)

[2020-06-17 00:31] christarazi opened #12123 "Docs: Add example for Transparent encryption + direct routing"
Follow up from: https://github.com/cilium/cilium/pull/12088/files#r441100894

[2020-06-17 01:09] joestringer opened #12124 "Global (anti-)affinity blocks cilium-etcd-operator from deploying on nodes with cilium"
In v1.8 YAMLs we have introduced this anti-affinity for cilium pods:

https://github.com/cilium/cilium/blob/df97ca1b945a772a2d55ce2157fdb9b9e1d5f0ee/install/kubernetes/cilium/values.yaml#L574-L583

However this applies globally, ie also to the cilium-etcd-operator pods:

https://github.com/cilium/cilium/blob/df97ca1b945a772a2d55ce2157fdb9b9e1d5f0ee/install/kubernetes/cilium/charts/managed-etcd/tem

[2020-06-17 01:12] christarazi commented on #12124
I ran into this in https://github.com/cilium/cilium/pull/11906, but since we removed ManagedEtcd tests in 1.8, we didn't hit it...*until now with clustermesh*. @nebril is working on backporting anti-affinity changes

[2020-06-17 03:22] joestringer opened #12125 "Clustermesh guide with direct etcd connection requires --set global.identityAllocationMode=kvstore"
As per the issue title, basically following the current clustermesh guide (1.7 or earlier, and 1.8 as of today), it is easy to miss that `global.identityAllocationMode` is set to `crd` by default. If this is not reconfigured to `kvstore` then identities for pods in remote clusters will not be propagated to other clusters, so cross-cluster policy will not work correctly.

Potential mitigations:
* M

[2020-06-17 03:26] joestringer commented on #12124
@brb can we either remove the affinity section from the cilium-etcd-operator chart, or switch it to a subchart value instead?

[2020-06-17 05:47] christarazi commented on #12113
Deployed another cluster to reproduce the issue @errordeveloper was observing. I ran the following command to see which nodes have the `azure0` device:

(Note the Azure CNI DS has not been touched).

[code]

As you can see there are 3 nodes in this cluster. Only one of them has the `azure0` device--it is the ... `000002` node, let's call it C. The other nodes are A and B.

You can see in C's routi

[2020-06-17 06:06] pchaigno opened #12127 "CI: K8sServicesTest Checks service across nodes Tests NodePort BPF Tests with direct routing Tests with secondary NodePort device"
Over the past 14 days, happened once in master and at least once in PRs:
https://jenkins.cilium.io/job/cilium-ginkgo/job/cilium/job/master/5046/testReport/Suite-k8s-1/11/K8sServicesTest_Checks_service_across_nodes_Tests_NodePort_BPF_Tests_with_direct_routing_Tests_with_secondary_NodePort_device/
https://jenkins.cilium.io/job/Cilium-PR-Ginkgo-Tests-Kernel/2145/testReport/Suite-k8s-1/17/K8sServicesT

[2020-06-17 06:33] tgraf opened #12128 "CI: Number of ready Cilium pods: 2, Only 2/3 nodes appeared in cilium-health status. nodes = '[k8s1 k8s2 k8s3]'"
The test that failed was:
[code]

but it's unlikely specific to that test.

Cilium comes up:
[code]

and the CI then expects that 3 nodes are reporting a healthy connectivity check:
[code]

[2743c254_K8sDatapathConfig_Etcd_Check_connectivity.zip](https://github.com/cilium/cilium/files/4790704/2743c254_K8sDatapathConfig_Etcd_Check_connectivity.zip)

[2020-06-17 06:39] tgraf commented on #12128
Sysdump reveals:
[code]

[code]

[2020-06-17 07:16] #12070 closed

[2020-06-17 07:42] #12048 closed

[2020-06-17 07:46] jrajahalme opened #12130 "CI: K8sServicesTest Bookinfo Demo Tests bookinfo demo"
[code]

First `wget` that is allowed fails after policy import. Logs indicate that policy has been loaded and waited for. Same traffic succeeded before policy import. While the policy is an L7 policy, bpf policy map indicates no bytes/packets have been redirected to the proxy port, i.e., the packets have been dropped:
[code]

The remote identity is `19077`, and ipcache should have made the correct

[2020-06-17 08:04] ArthurChiao opened #12132 "StringSlice type CLI arguments (e.g. --log-driver=syslog,stdout) are empty in dumped configurations"
## Bug report

### Background

Some command line arguments are `SliceSlice` type, e.g. the log driver option (`--log-driver`).

There are 3 (or more?) methods to configure these parameters:

1. via configmap (the default way)
2. via environment variable
3. via command line

Cilium-agent will dump the effective configurations at start, like the following:

[code]

### Problem

When using the `3rd`

[2020-06-17 08:13] errordeveloper commented on #12113
The docs weren't marked as beta, I added that in https://github.com/cilium/cilium/pull/12108. I've spoken to @tgraf, and since it's beta, it doesn't have to be a release blocker.

[2020-06-17 09:11] brb commented on #12127
Yep, the symptoms are the same.

[2020-06-17 09:41] brb commented on #12118
Seems that the affinity match map has not been created:
[code]

[2020-06-17 09:51] brb commented on #12118
OK, this is a bug - `initMaps()` is called before `initKubeProxyReplacementOptions()`. In your case, the latter enabled the session affinity, but the related maps can be created by `initMaps()`. Therefore, the affinity maps were not created, and thus the controller failure.

[2020-06-17 11:33] aanm opened #12136 "chaining: source security ID in hairpin might lead to policy denies in >=v1.7.4"
Bisecting blame 60b42109c43f9e34872263fea93d4c97f735b5c9

[code]

The security ID in the endpoint is different from the one being generated by the datapath:
[code]

[2020-06-17 11:45] brb commented on #6320
@dimm0 Have you tried using NAT46?

[2020-06-17 11:55] brb commented on #12124
This was introduced to avoid scheduling cilium-etcd-operator on a node which is not managed by Cilium (i.e. on `k8s3` node in the CI net-next).

The only test which is using etcd is `Etcd` from the `K8sDatapathConfiguration` suite, and it's no longer using the operator. So, I think it's fine to remove the affinity section.

[2020-06-17 11:58] tklauser opened #12138 "Figure out how to enable XDP on EKS"
Currently, when installing Cilium with XDP NodePort acceleration on EKS (Amazon Linux 2 with `kernel-ng` installed, i.e. `5.4.38-17.76.amzn2.x86_64` on instance type `m5.xlarge`), the cilium-agent fails with:

[code]

Looking at `dmesg` we see:

[code]

The message is coming from here:

https://github.com/amzn/amzn-drivers/blob/ec8285e834332fc00b12882e2ca44d26e5dffd91/kernel/linux/ena/ena_netdev.c

[2020-06-17 12:14] brb commented on #12124
Did you set the global affinity when doing the testing?

[2020-06-17 12:22] brb commented on #12128
@tgraf This could have happened if you have changed `global.synchronizeK8sNodes` helm option (ctx: https://github.com/cilium/cilium/commit/970a25934cb475e8142b7104d1ed3f4acf354546), which is indeed the case in #12097: https://github.com/cilium/cilium/pull/12097/files#diff-de4879a053803424e69022c9c84267cfR508.

[2020-06-17 12:33] tgraf commented on #12128
@brb Great find!

[2020-06-17 12:40] brb commented on #12138
@tklauser Have you tried running on network optimized instances?

[2020-06-17 13:14] pchaigno opened #12141 "Masquerading fails when devices are set without our kube-proxy replacement"
When Cilium (v1.8) is configured with `global.devices` set, `global.autoDirectNodeRoutes=true`, and `global.masquerade=true`, multi-node connectivity seems to fail. In particular, attempts to resolve DNS names fail with the following errors:
[code]
The query reaches the second node with kube-dns as expected, but then the answer leaves the second node with source IP address `192.168.36.12` instead

[2020-06-17 13:47] #11972 closed

[2020-06-17 14:06] tklauser commented on #12138
Currently investigating on an `m5n.xlarge` instance.

[2020-06-17 14:14] tklauser commented on #12138
When trying on `m5n.xlarge` it seems the nodes didn't become unreachable right after `ethtool -L eth0 combined 2` but only after following the succeeding steps in the [setup notes](https://gist.github.com/tklauser/268641aea4fced9e8c3b4a2f7536661b), i.e. removal of the kube-proxy and `helm upgrade cilium` with the XDP options.

Unfortunately since neither SSH or `kubectl logs` work afterwards, I ca

[2020-06-17 15:32] tklauser commented on #12138
The issue also occurs when loading the following "accept all" XDP prog:

[code]

As suggested in private communication, amzn/amzn-drivers@ccbb1fe2c2f2ab3fc6d7827b012ba8ec06f32c39 might solve the issue as kernel-ng `5.4.38-17.76.amzn2.x86_6` currently used ena driver version 2.2.6g. So I'll try to update to version 2.2.8g next.

[2020-06-17 16:22] jrajahalme commented on #11928
Someone else had similar problem: https://github.com/kontena/pharos-cluster/issues/1082

[2020-06-17 16:27] jrajahalme commented on #11928
The Ginkgo test suite works on GKE when run on a private cluster:
[code]

[2020-06-17 16:34] jrajahalme commented on #11928
In addition to the kube-dns POD timing out (as shown above), the kube-dns sidecar container panics:
[code]
(this could happen as the POD is restarted, though?)

[2020-06-17 16:39] jrajahalme commented on #11928
describe pods for the failing kube-dns PODS:
[code]

[2020-06-17 17:12] dimm0 commented on #6320
I have some dual-stack nodes in my cluster, with routable IPV4 and IPV6 IPs. When I deploy an ingress on those nodes, I can serve my apps to IPV4 clients without doing anything additional. But I can not do that to IPV6 clients. In my understanding this kind of IPV6 support is broken.

No, I haven't tried NAT46

[2020-06-17 17:13] dimm0 commented on #6320
Also pods on those nodes can not access external IPV6 addresses

[2020-06-17 17:41] tgraf commented on #12128
The flag defaults to `true` so enabling should not be required
[code]

[2020-06-17 17:42] #12128 closed

[2020-06-17 17:51] tgraf commented on #12136
Is this a potential collision in the mark value?

[2020-06-17 17:53] tgraf commented on #12136
It looks like some bits changed:
[code]

[2020-06-17 17:53] tgraf commented on #12136
@aanm How did you get into this state?

[2020-06-17 17:54] aanm commented on #12136
In that case yes, but it is more common to be off by 1

[2020-06-17 17:57] tgraf commented on #12136
This could be a `--set 1/0xF` or similar where 4 bits get cleared and one bit gets set.

[2020-06-17 18:09] errordeveloper commented on #12098
@tklauser does it pass with Cilium 1.7? I can see this particular check was added after 1.7 (https://github.com/cilium/cilium/commit/3cc04e57aee6ea86b676cbef3e419556cae20999), but I'm guessing it's still meant to work with 1.7, right?

[2020-06-17 18:25] tgraf opened #12147 "EKS guide is not compatible with BPF masquerade"
Given that BPF masquerade is the new default, this will break the EKS guide which relies on `--egress-masquerade`

[code]

[2020-06-17 19:35] soumynathan commented on #12125
@joestringer  can you assign it to me.

[2020-06-17 19:48] errordeveloper opened #12152 "docs: Hubble relay port-forwarding doesn't work on GKE"
Right now we document using the following command:
[code]

On GKE the namespace is `cilium`, so this command won't work.

[2020-06-17 20:08] errordeveloper opened #12154 "docs: enabling Hubble via helm upgrade"
I'm not 100% sure if this is a real issue, but we've been discussing some of the issues with `helm upgrade`, and it appears that `helm upgrade` is being relied on for enabling Hubble. It would be good to understand the impact of this, and whether there is anything we need to do about it or not.

[2020-06-17 20:10] errordeveloper commented on #11903
I've testing Hubble on GKE, and it appears to work overall, but here a few issues I've identified:
- https://github.com/cilium/cilium/issues/12152
- https://github.com/cilium/cilium/issues/12154

[2020-06-17 20:16] tgraf commented on #12098
I'm seeing an RST:
[code]

[2020-06-17 20:20] #10814 closed

[2020-06-17 20:24] tgraf commented on #12098
For my cluster, the reason is that the following:
[code]

Should be of type NodePort but it is not.

[2020-06-17 20:39] tgraf commented on #12098
I'm able to reproduce this. It happens with both kube-proxy and BPF NodePort.

[2020-06-17 20:41] tgraf commented on #12098
The packet gets into the remote pod and the reply makes it out of the pod:
[code]

[2020-06-17 20:50] tgraf commented on #12098
The packet doesn't make it back out of `eth0` so it is dropped in the stack of the remote node.

[code]

[2020-06-17 21:15] Rolinh commented on #12152
In the GKE getting started guide, the command is the following:
[code]
Where `CILIUM_NAMESPACE` is defined in a previous step (the instructions are made more clear with #12149).

I think that what you are referring to is the instruction on the troubleshooting with Hubble Relay guide. Adding a note about the namespace being different if using GKE may be sufficient I think.

[2020-06-17 21:41] tklauser commented on #12098
@errordeveloper checked with v1.7.5:

[code]

Looks like this also occurs and in addition `pod-to-b-intra-node-nodeport` also fails.

[code]

[2020-06-17 21:46] tgraf commented on #12098
I found the cause, the routing is not symmetric.
The SYN is received on eth0:
[code]

The SYN-ACK is sent out over eth2:
[code]

[2020-06-17 21:50] errordeveloper commented on #12098
@tklauser think it would makes sense to double check without Cilium, i.e. with just built-in CNI. It would be good eliminate a possibility of issues in the VPC configuration that eksctl implements.

[2020-06-17 22:03] tgraf commented on #12098
The conntrack entry looks like this:
[code]

The mark indicates that the `0x80` has been set via this rule:
[code]

[2020-06-17 22:16] tgraf commented on #12098
For a yet unknown reason, the following `ip rule` matches:
[code]

It is meant to to lead all packets from the pod which uses an ENI IP of `eth2` out of `eth2` based on the source address.

It's not clear why this rule matches despite the reverse SNAT leading to source IP of `192.168.21.197`

[2020-06-17 22:17] tgraf commented on #12098
Removing the above rule (matching the IP of the pod behind the NodePort), fixes the problem.

[2020-06-17 23:08] tgraf commented on #12098
This does not seem to be a regression. The logic was already the same for 1.7. I'm removing the release blocker flag.

[2020-06-18 00:09] christarazi commented on #12111
Realized that output is in every Travis output and is harmless. The real issue is the metrics assertion failure. Closing in favor of https://github.com/cilium/cilium/issues/11955.

[2020-06-18 00:09] #12111 closed

[2020-06-18 00:09] borkmann commented on #12138
resolved via #12156

[2020-06-18 00:09] #12138 closed

[2020-06-18 00:18] joestringer opened #12161 "v1.8.0 release"
## Pre-release

- [x] Create a [new project] for the next release version
  * [Old project](https://github.com/cilium/cilium/projects/114)
  * [New project](https://github.com/cilium/cilium/projects/117)
- [x] Add build targets for the new release on [Docker Hub]
  - All versions:
    - [cilium](https://hub.docker.com/repository/docker/cilium/cilium/builds/edit)
    - [operator](https://hub.docker

[2020-06-18 04:36] #12124 closed

[2020-06-18 07:17] tgraf commented on #12098
Fixing this will require to mark NodePort traffic, mark it, and route it out the same interface as it came in on.

[2020-06-18 07:43] tgraf commented on #6320
The reason this has not been implemented yet is not because the idea or feature is being rejected. The work has simply not been done by anyone. If you want this functionality, open a PR to add the functionality.

If you don't want to add it natively to Cilium, instructing nodes to perform masquerading is not that hard, simply add a rule like this to each of your nodes:
[code]

This can be done in

[2020-06-18 08:01] brb commented on #12098
@tgraf Have you checked whether BPF NodePort is affected when running without kube-proxy?

[2020-06-18 08:10] tgraf commented on #12098
Both are affected. The issue is in the routing of the reply. It doesn't matter who translates it back and forth.

Other ENI CNIs are using a rule like this:
[code]

and then use an `ip rule` to force replies out that interface

[2020-06-18 09:02] errordeveloper commented on #12152
@Rolinh yes, I'm indeed referring to troubleshooting guide, don't think it's high priority though, it's something user should be able to figure out.

[2020-06-18 09:07] gandro commented on #12152
Note that this is not hubble specific. All commands in that document use `kube-system`.

[2020-06-18 09:39] errordeveloper commented on #12154
The main issue with `helm upgrade` is that how defaults from a new version get applied, as quite often the new Cilium feature cannot be enabled safely in a running cluster.
That does not concern getting started guides, as `helm install` is used with a specific chart version, and then use `helm upgrade` to enable Hubble with the same chart version.

[2020-06-18 09:39] #12154 closed

[2020-06-18 09:40] brb commented on #12147
Because of https://github.com/cilium/cilium/pull/12081/commits/4c61216af60c887dea438bf661c44729529717ae the guide is no longer broken.

[2020-06-18 09:40] #12147 closed

[2020-06-18 09:50] brb commented on #12098
OK, I see. The problem happens on a _remote_ node in which BPF NodePort cannot bypass the stack.

[2020-06-18 11:26] Jianlin-lv opened #12178 "CI: Travis failed on arm64: TestService_NotifyWithBlockedSend panic: runtime error: index out of range [0] with length 0"
CI failure Link:
https://travis-ci.com/github/cilium/cilium/jobs/349673356#L7084
https://travis-ci.com/github/cilium/cilium/jobs/350839273#L7075

[code]

[2020-06-18 15:50] #12118 closed

[2020-06-18 16:10] aanm opened #12184 "make install does not install cilium-operator in dev VMs"
Steps to replicate it:
1. Start dev VMs
2. `make && sudo make install` and notice the operator binary is not up to date because there isn't a Makefile target that installs the `cilium-operator` binary

cc @errordeveloper

[2020-06-18 16:56] aanm opened #12186 "Set 'native-routing-cidr' automatically from 'cluster-pool-ipv4-cidr' if ipam == cluster-pool"
This option:
https://github.com/cilium/cilium/blob/0ee0458af776f770aa1e03a82419e96242ed3d7d/pkg/option/config.go#L1748-L1749

can automatically be set to the value passed to:
https://github.com/cilium/cilium/blob/37139c33fb791d375ca852a01e176b603810cd54/operator/option/config.go#L108-L110

1. Add a hidden flag to the daemon around this place:
https://github.com/cilium/cilium/blob/da6ed27b926701349

[2020-06-18 17:28] jrfastab commented on #12136
To close out discussion, this was caused by a conflicting mark value. So added a PR to opt-out of setting identity field in the mark. This will force the ingress path to do another lookup and obfuscate the trace logs some, but will allow policy to work correctly.

[2020-06-18 18:59] #12130 closed

[2020-06-18 19:20] jedsalazar opened #12188 "1.8-rc3 crashloop with ipv6 enabled"
## Bug report

On a fresh install of 1.8-rc3 with ipv6 enabled, cilium-agents goes into a crashloop. logs provide some warnings and then a fatal message about failing to determine IPv6 for the host interface

[code]

Deployed with `helm template cilium/cilium --version 1.8.0-rc3 --namespace=kube-system --set global.ipv4.enabled=true --set global.ipv6.enabled=true > cilium-1.8-rc3.yaml`

Some addit

[2020-06-18 20:03] Rolinh commented on #12188
I could reproduce with a cluster created with `kind` (see instructions [here](https://docs.cilium.io/en/latest/gettingstarted/kind/)) and the following `helm` install command:
[code]
This results in a `panic` in the cilium pod:
[code]

[2020-06-18 20:25] aanm commented on #12188
@jedsalazar can you work around it with `--enable-bpf-masquerade=false`?

[2020-06-18 20:55] jedsalazar commented on #12188
@aanm I get the same error when I deploy with helm `--set config.bpfMasquerade=false`

[2020-06-18 22:29] jedsalazar commented on #12188
Some additional details from my environment. I disabled BPF-masquerading and received the same `level=fatal msg="Failed to initialize NodePort addrs" error="Failed to determine IPv6 of enp0s8 for NodePort" subsys=daemon` error.

[code]

The node only has ipv6 link-local addresses

[code]

Let me know if there's any other info I can provide. Thanks!

[2020-06-18 22:41] christarazi commented on #11955
Update on this bug:

Found the root cause of the flakiness. It is a race between the checking for the state metric change and the endpoint builder state transition-er.

For context, we have two places where the state of the endpoint can transition:

[`(*Endpoint).SetState`](https://github.com/cilium/cilium/blob/10f4e2ce3664fecc6c30cb971a5ed7924bcea692/pkg/endpoint/endpoint.go#L1320)

and

[`(*Endp

[2020-06-19 00:06] borkmann commented on #12188
Your env has only link scope v6 address, I think if you change to global scope, it should work then, or alternatively disable v6 in Cilium?

[2020-06-19 07:39] borkmann commented on #12188
Discussed with @brb offline that we'll do the following in the agent: i) in case of kube-proxy-free=probe we'll fallback to partial mode, that is ClusterIP handling via bpf_lxc and enablement of socket LB, ii) in case of kube-proxy-free=strict we bail out due to invalid user config (aka v6 w/ link-local addresses (LLA) only). We can revisit after 1.8.0 whether we want to just transparently use the

[2020-06-19 07:43] borkmann commented on #12136
[Only thing left here is a doc follow-up to update the chaining guide.]

[2020-06-19 08:33] borkmann commented on #12136
Fixed via #12185 and #12194.

[2020-06-19 08:33] #12136 closed

[2020-06-19 09:50] rolinh opened #12201 "Cilium pod in CrashLoopBackOff on IPv6 only clusters (v1.7.5+)"
## Bug report

**General Information**

- Cilium version (run `cilium version`): v1.7.5 and v1.8.0-rc3
- Kernel version (run `uname -a`): 5.4.47-1-lts
- Orchestration system version in use (e.g. `kubectl version`, Mesos, ...): Kubernetes v1.18.2 deployed via kind

<details><summary>Cilium pod logs in v1.7.5: (click to expand)</summary>
<p>

[code]
</p>
</details>

**How to reproduce the issue**

1

[2020-06-19 09:54] borkmann commented on #12201
The options say `--tunnel='vxlan'` which requires IPv4 in the agent today. Do you still see it in case of direct routing and only v6 enabled?

[2020-06-19 10:11] brb commented on #12141
(Putting this for now in this issue) Another interesting side effect of setting `--devices` when host-fw and kube-proxy replacement are disabled is the one reported by @jrajahalme:

[code]
Link to thread: https://cilium.slack.com/archives/CDKG8NNHK/p1592425114171600

[2020-06-19 10:23] errordeveloper commented on #12053
@jrajahalme sounds like new issue should be opened instead... let me run some more tests agains master.

[2020-06-19 11:09] #12188 closed

[2020-06-19 13:16] pchaigno opened #12205 "Remote endpoints' identities resolved to WORLD when devices are set and tunneling disabled"
@jrajahalme reported that, when `--devices` is configured on GKE, all remote endpoints' security identities are resolved to `WORLD` (2):
[code]

The following dump has some incorrectly auto-detected devices. We already established that the bug still happens when devices are properly detected.
[gke-star-wars-demo.zip](https://github.com/cilium/cilium/files/4804739/gke-star-wars-demo.zip)

/cc @brb

[2020-06-19 14:03] pchaigno commented on #12205
We couldn't validate that the identity is in the ipcache because the kernel is too old, but we did check that it is in `cilium ip list`. Given that, the lack of debug messages pointing to an ipcache population issue, and the fact that it happens when devices are set, I'm going to assume (for now) that the identity is in the ipcache and something else is happening.

The policy verdict logs above in

[2020-06-19 14:40] pchaigno commented on #12205
André confirmed that we only carry the source ID across nodes if we're in tunneling mode. That's not the case in GKE, so we would have `srcid_from_proxy=WORLD_ID` and the above bug :disappointed:

[2020-06-19 16:58] #11928 closed

[2020-06-19 18:48] joestringer opened #12213 "v1.8.0-rc4 release"
## Pre-release

- [x] ~Create a [new project] for the next release version~
- [x] Add build targets for the new release on [Docker Hub]
  - All versions:
    - [cilium](https://hub.docker.com/repository/docker/cilium/cilium/builds/edit)
    - [operator](https://hub.docker.com/repository/docker/cilium/operator/builds/edit)
    - [docker-plugin](https://hub.docker.com/repository/docker/cilium/docker

[2020-06-19 20:24] #12213 closed

[2020-06-20 00:44] Weil0ng commented on #12084
I would love take a stab at this if no one else is on it :)

[2020-06-20 02:20] valas commented on #11724
We've hit the same issue. Currently Cilium collapses LB type into ExternalIP here: https://github.com/cilium/cilium/blob/master/pkg/service/service.go#L597

As discussed, ExternalIP is not supposed to be accessible from rootns. LB does not have this restriction, yet it's applied due to collapse above.

[2020-06-20 06:58] #10619 closed

[2020-06-20 08:31] pchaigno commented on #12084
Assigned to you. See https://cilium.slack.com/archives/C2B917YHE/p1592250031137400 for context.

[2020-06-21 01:00] dghubble commented on #10256
You've asked for affected distros in a few linked issues (without getting responses).

Fedora CoreOS (32.20200601.3.0) is an example that does have `CONFIG_BPF=y`,

[code]

But a Cilium agent (Kubernetes Pod) calling `bpftool` will detect "null" for the kernel config values and issue the warning mentioned above.

[code]

[2020-06-21 12:14] #10929 closed

[2020-06-21 20:43] dghubble opened #12217 "Fedora CoreOS 32.x breaks pod-to-host and pod-to-external"
## Bug report

**General Information**

- Cilium version: 1.17.5 and 1.8.0-rc4 d27124066
- Kernel version (run `uname -a`)
- Orchestration system version: Kubernetes v1.18.4
- Generate and upload a system zip: No python, NA

Cilium with recent Fedora CoreOS 32.x images (Jun 16 2020) has broken pod-to-host (e.g. cilium-health) and pod-to-external traffic. For a cluster, the local endpoint is always

[2020-06-21 21:47] dghubble commented on #12217
Diffing lsmod btw OS versions doesn't turn up much (`drm`, `dm_multipath`). Diffing `sysctl -a` btw a working FCOS 31 and FCOS 32 system shows some networking changes:

[code]

[2020-06-21 21:57] dghubble commented on #12217
This relates to systemd 245 and https://github.com/cilium/cilium/issues/10645

Fedora CoreOS `31.20200517.3.0` is systemd 243.8
Fedora CoreOS  `32.20200601.3.0` is systemd 245.4

Manually setting rp_filter as mentioned can be used to restore pod-to-external connectivity.

[2020-06-22 03:55] dghubble commented on #12217
This writeup should apply to Fedora Server 32. Would be good to have Cilium recommend or mention rp_filter requirements?

[2020-06-22 09:54] rreinurm opened #12219 "docs: BPFmasquarade usage for helm option is wrong"
## Bug report

**General Information**
Cilium documentation and actual helm chart has simple mismatch with `bpfMasquerade` option which should set ` enable-bpf-masquerade` value for Kubernetes manifest configmap.

- Cilium version v1.8.0-rc4
- https://github.com/cilium/cilium/blob/2f04afd818afedbe441b352b1a952c9502bafd7d/Documentation/concepts/networking/masquerading.rst#ebpf-based

**How to repro

[2020-06-22 11:23] Rolinh commented on #12201
I hit #12221 when attempting to add `--tunnel=disabled`. Will try again with the fix in the PR.

[2020-06-22 11:53] rreinurm commented on #11012
Cilium v1.8 added hostPort feature, which is impacted by same issue. Hopefully if this issue shall be fixed for NodePort, it fixes HostPort as well.

[2020-06-22 13:06] Rolinh commented on #12201
Hit another issue, this time with the operator: #12223

[2020-06-22 15:48] joestringer commented on #10567
Context: Cilium 1.7 had hit this because of initial disablement of k8s services entirely. We released a fix for this.

We have already deprecated --disable-k8s-services flag due to this issue.

Unless something changes, we do not intend to fix this issue.

[2020-06-22 15:50] #11903 closed

[2020-06-22 22:11] dimm0 commented on #6320
Adding a single iptables rule to other rules looks like a 5-minute work for somebody having the dev environment and testing set up already, and I don't understand why the critical part of IPV6 support has not been implemented for a year and half. For me figuring out the whole dev environment and studying the code to find where to add it to will take way more time than actually adding the change.

[2020-06-22 22:22] jrajahalme commented on #11481
@thanhlong9x Please update this issue with steps to reproduce if you still have this problem.

[2020-06-22 22:29] jrajahalme commented on #11453
@jenningsloy318 Please try again with Istio CNI disabled. We have not tested Cilium-istioctl with Istio CNI enabled.

[2020-06-22 22:33] #11106 closed

[2020-06-22 22:41] jrajahalme commented on #9244
Sockops do not currently work for Istio sidecars, see #11039.

[2020-06-22 22:41] #9244 closed

[2020-06-23 00:32] grahamoptibrium opened #12228 "Failure on first import"
What does this trace mean?

[code]

[2020-06-23 03:17] joestringer opened #12229 "Cilium never becomes ready and operator reports "Failed to list *v2.CiliumEndpoint: the server could not find the requested resource (get ciliumendpoints.cilium.io)"""
### Summary

Cilium is stuck in `READY 0/1` and `STATUS `Init:0/1` and doesn't appear to ever start up.

### Symptoms

Cilium pods don't become ready and operator has several restarts:
[code]

Cilium-operator reports a problem finding the ciliumendpoints.cilium.io resource:
[code]

### Investigation

The `Init:0/1` section above suggests an issue with the init container, to see the logs:

[code]

[2020-06-23 03:17] #12229 closed

[2020-06-23 03:20] joestringer commented on #12228
@grahamoptibrium Can you provide additional details about your environment such as the information listed here, including how you produced this issue?

https://github.com/cilium/cilium/blob/master/.github/ISSUE_TEMPLATE/bug_template.md

[2020-06-23 03:25] joestringer commented on #11885
In Cilium v1.7.x or earlier, `cilium monitor -v` should be sufficient when the daemon is run with `--debug` enabled.

/cc @borkmann did we end up creating an agent configuration option in v1.8 to enable datapath debug monitor messages? What is that setting?

[2020-06-23 05:24] Jianlin-lv commented on #11955
Similar error on Arm64:
https://travis-ci.com/github/cilium/cilium/jobs/352248455
https://travis-ci.com/github/cilium/cilium/jobs/352275556
https://travis-ci.com/github/cilium/cilium/jobs/352405609

[2020-06-23 05:41] #10930 closed

[2020-06-23 11:30] pchaigno commented on #11895
These two tests started failing on master on May 22, a Friday.
![fails](https://user-images.githubusercontent.com/1764210/85395754-ead41480-b550-11ea-999e-8813bb8d9797.png)
We [merged 50 pull requests into master](https://github.com/cilium/cilium/pulls?q=is%3Apr+merged%3A2020-05-18..2020-05-22+base%3Amaster) on that week.

[2020-06-23 13:39] zhujik opened #12233 "Support for AWS alb-ingress-controller as ingress source"
This blogpost from https://cilium.io/blog/2018/09/19/kubernetes-network-policies/ promises a "a broader consideration" that "will be covered in a dedicated post" when it comes to allowing select ingress from outside the cluster.

The use case is the following:
You want to prevent inter-namespace communication between pods (except where specifically allowed), you want allow intra-namespace communic

[2020-06-23 14:33] pchaigno commented on #12178
Happened again at https://travis-ci.com/github/cilium/cilium/jobs/352692173#L5768. Looks like it only fails for aarch64.
/cc @Rolinh

[2020-06-23 18:00] jrajahalme opened #12241 "DNS proxy intercepts TFTP response and send a DNS error response to TFTP server thousands of times"
Found in logs of a failed CI test run (attached):
[code]

The same message repeats 54339 times:
[code]

Ref:
[4a93942f_K8sServicesTest_Checks_service_across_nodes_with_L4_policy_Tests_NodePort_with_L4_Policy.zip](https://github.com/cilium/cilium/files/4821056/4a93942f_K8sServicesTest_Checks_service_across_nodes_with_L4_policy_Tests_NodePort_with_L4_Policy.zip)

[2020-06-23 20:41] seanmwinn opened #12244 "Unable to reach service backend running on remote node from host network"
## Bug report

Newly installed cluster with 1.8.0 and managed etcd fails to start new servers due to failed TLS client auth settings.

**General Information**
On a newly installed cluster, etcd is failing to start due to a known bug in version 3.3 related to client TLS authentication: https://github.com/etcd-io/etcd/issues/9398

[code]

Etcd server log contains:
[code]

[cilium-sysdump-20200623-13

[2020-06-23 22:13] jrajahalme commented on #12241
This DNS response is most likely a minimal error message (size 12 bytes).

The ports are interesting:

Source port 33241 is the DNS proxy listening TPROXY port on k8s2, while a POD on k8s1 is choosing the same port as the ephemeral source port. The POD is accessing a service via host port 192.168.36.12:31985 in k8s2, which gets to the TFTP server on k8s1 (192.168.36.11), on port 69. TFTP server re

[2020-06-23 22:16] Jean-Daniel opened #12247 "IPv6 service does not works in dual-stack cluster with NodePorts enabled"
## Bug report

I'm experimenting with a dual-stack cluster, and encounter an issue with IPv6 service reachability when cilium has `KubeProxyReplacement: NodePort` enabled.

I deployed 2 nginx services, one IPv4 and one IPv6. The IPv4 service works fine. I can `ping` it and reach it with `curl` from anywhere. For the IPv6 service, I can `ping` it normally, but `curl` never receive any reply and tim

[2020-06-23 23:17] jrajahalme commented on #12241
This iptables rule is marking the TFTP response packets for local delivery to the DNS proxy:
[code]
`--transparent` and `--nowildcard` should mean that the socket match is done only against accepted sockets with full 5-tuple. This seems to work for TCP, but UDP does not have 'accepted connections' so apparently the socket match here matches the transparent listener on 0.0.0.0:33241.

[2020-06-24 01:50] joestringer opened #12250 "Cilium bugtool / sysdump doesn't gather all route tables in native routing mode"
When direct routing / native routing mode is enabled, routes are configured in multiple tables but the sysdump doesn't gather the contents of all of these route tables.

[2020-06-24 01:52] joestringer commented on #12250
We only dump encryption / proxy tables:

[code]

[2020-06-24 02:08] christarazi commented on #12250
Another useful thing we could have the bugtool pull as well is tables used in `ip rule`. This is useful for modes like ENI and Azure which operate by directing traffic in / out of certain interfaces.

For example, a node may have rules like:

[code]

The bugtool could detect that routing table 3 exists and pull it down via:

[code]

[2020-06-24 03:26] christarazi opened #12251 "Cilium bugtool / sysdump should dump all relevant Cilium-managed CRDs like CiliumNode"
The tool currently dumps CEPs and CNPs. We should add support for CNs, CiliumIdentities, and CCNP.

This is especially useful for debugging sysdumps from cloud providers like AWS on ENI mode.

[2020-06-24 05:27] pchaigno commented on #11255
https://github.com/cilium/packer-ci-build/pull/218 fixes the issue in our VM images but we haven't updated [`vagrant_box_defaults.rb`](https://github.com/cilium/cilium/blame/master/vagrant_box_defaults.rb) to use the new images yet. Planning to do that today.

[2020-06-24 07:08] #10616 closed

[2020-06-24 07:38] tklauser commented on #12251
Collection of CiliumIdentities and CiliumNodes just got added to `cilium-sysdump` yesterday, see cilium/cilium-sysdump#90.

[2020-06-24 07:55] ulm0 commented on #11539
Hey guys, is there a way to set this value from helm? By default it uses `cluster-pool` and i need to use PodCIDR from node i've tried `ipam=kubernetes` and `global.ipam.operator.backend=kubernetes` so far and neither works

[2020-06-24 09:15] #12184 closed

[2020-06-24 09:45] sayboras commented on #12201
@Rolinh If it's not urgent, I can take a look on this

[2020-06-24 10:37] thanhlong9x commented on #11481
@jrajahalme I'm sorry, I can't reproduce this issue. I guess cause from network k8s, I often meet error time-out when get k8s service (10.96.0.1). I often reset network to resolve althought I don't know reason of problem.

[2020-06-24 12:11] borkmann commented on #11959
resolved.

[2020-06-24 12:11] #11959 closed

[2020-06-24 12:35] tklauser opened #12258 "CI: review runtime tests"
<table class="sortable">
<thead>
<tr>
<th>Scope</th>
<th>Context</th>
<th>Test</th>
<th>Details</th>
<th>Equivalent K8S test</th>
</tr>
</thead>
<tbody>

<tr>
<td rowspan="6">RuntimeChaos</td>
<td rowspan="6">n/a</td>
<td>Endpoint recovery on restart</td>
<td>Tests consistency of endpoint information across Cilium restarts</td>
<td>Similar test in <code><a href="https://github.com/cilium/cilium/bl

[2020-06-24 14:04] zhujik opened #12260 "removing cilium does not completely clean up host files"
/host/etc/cni/net.d/05-cilium.conf is not cleaned up via preStop handler that calls uninstall.sh. This fails over newly scheduled pods.

**General Information**

- Cilium version 1.8.0
- Orchestration system version in use kubectl, helm

**How to reproduce the issue**

1. start e.g. EKS cluster
2. remove aws-node
3. install cilium
4. schedule some pods
5. remove cilium
6. install aws-node
7. resch

[2020-06-24 14:50] aanm commented on #12260
Hi @zhujik that behavior is intentional. If Cilium removes the `/host/etc/cni/net.d/05-cilium.conf` in the preStop, during an upgrade of Cilium new pods would start to be scheduled for other CNI other than Cilium

[2020-06-24 15:25] gandro commented on #12258
Small note regarding the `RuntimePolicies` test suite: They are currently providing a bit of coverage for `hubble observe` which to my knowledge is likely not present in any equivalent K8s test. There is nothing fundamental about this, but removing the runtime tests without updating the K8s tests to insert `hubble observe` calls would decrease coverage for Hubble.

[2020-06-24 15:38] tklauser commented on #12258
Thanks @gandro! I've updated the table to say "Covers Hubble" for tests that I think (or according to my `grep` skills) cover `hubble observe`.

[2020-06-24 16:25] gandro commented on #11955
Another occurrence (includes log) https://github.com/cilium/cilium/pull/12262#issuecomment-648924776

[2020-06-24 17:17] #12178 closed

[2020-06-24 19:00] jrajahalme commented on #8971
@brb Similar problem existed also with kube-proxy in non-tunneled modes, where SYN/ACK would be lost due to NodePort SNAT not being reversed due to overtly broad NOTRACK rule. This was fixed by #11899.

Have you traced how far in the datapath the SYN/ACK gets in this NodePort BPF case?

[2020-06-24 20:33] seanmwinn opened #12273 "helm: Make nodeinit image and registry configurable via values"
## Feature Request

Presently the nodeinit image cannot have its image registry and tag configured using values, making it difficult to deploy in air-gapped environments or ones with private repositories.

Make it possible to configure a global registry and image for the nodeinit image using values.

[2020-06-24 21:40] zhujik commented on #12260
@aanm  thank you for your answer. If thats the case, then why is it that after reinstalling aws-node, we get the following error for scheduled pods?

`Warning  FailedCreatePodSandBox  55m                   kubelet, ip-192-168-149-141.eu-central-1.compute.internal  Failed create pod sandbox: rpc error: code = Unknown desc = [failed to set up sandbox container "8f01b4166accece2453740ead08a5608b64ee9

[2020-06-24 22:25] lzang opened #12277 "Kubernetes network policy with node ip cidr doesn't work"
## Bug report

**General Information**

- Cilium version : 1.8
- Kernel version: 4.19

**How to reproduce the issue**

1. Create a policy rule to allow a pod to talk to all nodes. cidr 10.128.0.0/20 is the node cidr.
[code]
2. curl the node from the pod, and found that the connection is rejected, instead of being allowed.

The issue  is because the node ip is translated to host identity, not the c

[2020-06-24 22:31] joestringer opened #12278 "Improve host policies documentation"
https://docs.cilium.io/en/v1.8/policy/language/#hostpolicies

Two angles are not covered here:
* Ensuring that host firewall is enabled in either helm / daemon options
* Ensuring that the nodes have the labels for the policy added

[2020-06-24 22:32] joestringer commented on #12278
I guess this isn't a "getting started guide" so I don't know if it's appropriate to have full-on kubectl commands to show how to get it to work but the above points weren't immediately clear to me when reading the doc.

[2020-06-24 22:42] joestringer commented on #12277
Some excerpts from me on the Slack thread with minor edits for clarity:

There's the "pure" policy argument in the background here: The policy is defining accessibility between constructs defined in kubernetes terms, abstracted away from the physical infrastructure. If you intend to allow traffic to a host or hosts in the cluster, then defining a policy at that higher level of abstraction is more

[2020-06-24 22:49] joestringer commented on #12277
For (1) above, the downside is that there may be multiple IPs associated with the host and it may become complicated to ensure that all such CIDRs become part of the set of labels for the host identity. I think that in principle it should work though, on startup for every IP associated with the host we would convert the IP into a list of labels such as `cidr:0.0.0.0/0`, ... `cidr:192.168.0.1/32` (

[2020-06-24 22:51] joestringer commented on #12277
(3) is a bit unclean because it's effectively talking about munging existing policies, user input. That can get into weird territory when the user modifies the policy again and so on. Probably fine to steer clear of that option unless there are aspects of the other two that are bad enough for us to look at other approaches.

[2020-06-24 22:54] joestringer commented on #12277
I should probably also note for those who find this issue from a search:

The simplest fix for this is to import a CiliumNetworkPolicy with a `toEntities: host` match per the documentation:
https://docs.cilium.io/en/v1.8/policy/language/#access-to-from-local-host

[2020-06-25 00:49] sayboras opened #12279 "CI: Smoke test: Timed out waiting for the condition on pods"
## CI failure

Some failure happened for newly introduced github actions for conformance test (added in #11888 #12232). It's kind of rare based on my observation till now, and simple re-run will do (good thing that it didn't take long to re-run). https://github.com/cilium/cilium/runs/802697197?check_suite_focus=true

However, the developer experience is not pleasant. It will be helpful if we can d

[2020-06-25 02:28] joestringer opened #12280 "Review docs for beta vs. tech preview"
We currently have some docs that refer to features in "beta" status and some that refer to "tech preview".

We should review our approach to communicating "beta" vs "tech preview" and the kinds of guarantees that we provide for these features, the kind of criteria we are looking for to move features out of these statuses. Then make the various parts of the docs consistent with this.

[2020-06-25 06:07] pchaigno commented on #12228
@grahamoptibrium Could you also report the output of `ip a show voyager`?

[2020-06-25 06:14] pchaigno commented on #12278
I'm planning to cover this in the getting started guide for 1.8.1. Given several users already locked themselves out of their nodes, it might make sense to first set audit mode in the guide (?). I haven't yet tested that for the host firewall though.

[2020-06-25 06:54] #12251 closed

[2020-06-25 08:11] tklauser opened #12281 "CI: K8sServicesTest Checks service across nodes Tests NodePort BPF Tests with XDP, direct routing and Hybrid"
Seen on net-next tests for #12254

[code]

[3904f832_K8sServicesTest_Checks_service_across_nodes_Tests_NodePort_BPF_Tests_with_XDP,_direct_routing_and_Hybrid.zip](https://github.com/cilium/cilium/files/4829918/3904f832_K8sServicesTest_Checks_service_across_nodes_Tests_NodePort_BPF_Tests_with_XDP._direct_routing_and_Hybrid.zip)

https://jenkins.cilium.io/job/Cilium-PR-K8s-oldest-net-next/963

Possi

[2020-06-25 09:24] borkmann commented on #11724
Issue is fixed now in `docker.io/cilium/cilium:latest` and will be part of `v1.8.1` tag soon; tested with MetalLB. If you have a chance to run also through your set of tests as mentioned above that would be great.

[2020-06-25 09:41] #11321 closed

[2020-06-25 09:52] aanm commented on #12260
@zhujik try deploying the following file:
[code]

after the file is deployed and all nodes are running that Pod, delete the daemonset `kubectl delete -f delete-cilium-from-cluster.yaml` and remove the `/host/etc/cni/net.d/05-cilium.conf` to see if the issue persists.

[2020-06-25 10:57] tklauser opened #12284 "CI: Suite-k8s-1.17.K8sIdentity Identity expiration Expiration of CiliumIdentity"
Flake occurred once so far on 4.19 pipeline

[code]
[964eefc4_K8sIdentity_Identity_expiration_Expiration_of_CiliumIdentity.zip](https://github.com/cilium/cilium/files/4830778/964eefc4_K8sIdentity_Identity_expiration_Expiration_of_CiliumIdentity.zip)

https://jenkins.cilium.io/job/Ginkgo-CI-Tests-4.19-Pipeline/679

[2020-06-25 12:43] travisghansen commented on #11724
This makes me so happy! I’m tied up most of the day today but I’ll definitely have some feedback in the next day or so. This is super high priority for me so I really appreciate the help.

[2020-06-25 14:54] aanm opened #12288 "Unable to upgrade from Cilium 1.8 to 1.9 without breaking compatibility"
Currently a user upgrading from Cilium 1.7 to 1.8 will have to pass `--set config.upgradeCompatibility=1.7` to keep upgrade compatibility [1].

Unfortunately that same user won't be able to upgrade to 1.9 without facing upgrade compatibility issues since we won't be able to distinguish the first version of Cilium that the user installed was 1.7 or 1.8 nor we will be able to distinguish if the user

[2020-06-25 18:13] #12273 closed

[2020-06-25 19:06] joestringer commented on #12229
The documentation link in the resolution section above describes the background of the BPF filesystem and why it's necessary. If you are trying out Cilium in a testing environment where you are unable or unwilling to mount the BPF filesystem on the host, it may be overridden by setting the `CILIUM_WAIT_BPF_MOUNT` variable to false in the node-init DS.

[2020-06-25 19:33] travisghansen commented on #11724
@borkmann either I've got something misconfigured or it's still off.

[code]

[code]

[code]

(from cilium on test01.lan)
[code]

[code]

I've tried with both `dsr` and `snat`.

[2020-06-25 19:37] travisghansen commented on #11724
Actually, I haven't ran through the full matrix, but the issue appears to be with `Local` traffic policy on the svc.  When I changed it to `Cluster` I was able to access from the same node running the Pod. I'll keep digging now that I got that to work..

[2020-06-25 19:56] borkmann commented on #11724
That is correct, I haven't changed the semantics of `Local` property for any of the types on in-cluster access, let me revisit that. (For the time being, please run with `Cluster` then.)

[2020-06-25 20:23] travisghansen commented on #11724
Yeah, I have a bigger matrix to go though still (non-related Pods running on N1 and N2 etc hitting LB IP, Cluster IP, etc) when `Local` is fully up...but here's what I've tested so far (sorry for the crude syntax, let me know if something doesn't make sense).

[code]

Everything behaves as expected (at least as I expect) with the exception of:
dsr or snat + Local + N1 -> LB IP -> N1P

Nice work! L

[2020-06-25 20:57] galexrt commented on #12217
@dghubble I can confirm that, your instructions regarding modifying the `rp_filter = 0` worked for my Fedora 32 (not CoreOS) Kubernetes cluster.

[2020-06-25 22:17] soumynathan commented on #12186
Hi @aanm I also found the 'default' mask for the IPV6 Cluster-Pool CIDR is having a mismatch between the helm and the internal operator/flags.go file.
120 versus 112.
Is that an error.

[2020-06-26 08:38] EPinci opened #12297 "[v1.8.0] Support MSI authentication for Azure deployments"
## Proposal / RFE

Most recent Azure AKS deployments relay on Managed Identities (https://docs.microsoft.com/en-us/azure/aks/use-managed-identity).
Current deployment method for v1.8.0 requires an SPN and, as much as it can be made to work, it deviates from that design.
SPNs might also require AAD permissions that infrastructure teams usually do not have and can be avoided with MSI deployments.

T

[2020-06-26 13:11] pchaigno commented on #11862
Two more cases:
https://jenkins.cilium.io/job/Ginkgo-CI-Tests-runtime-Pipeline/509/testReport/(root)/Suite-runtime/RuntimePrivilegedUnitTests_Run_Tests/
https://jenkins.cilium.io/job/Ginkgo-CI-Tests-runtime-Pipeline/508/testReport/(root)/Suite-runtime/RuntimePrivilegedUnitTests_Run_Tests/
[a8506f43_RuntimePrivilegedUnitTests_Run_Tests.zip](https://github.com/cilium/cilium/files/4837071/a8506f43_Ru

[2020-06-26 13:46] RaveNoX opened #12304 "Error while creating daemon when NodePort device is TUN or WireGuard interface"
## Bug report

**General Information**

- Cilium version (run `cilium version`)
[code]
- Kernel version (run `uname -a`)
[code]
- Orchestration system version in use (e.g. `kubectl version`, Mesos, ...)
[code]
- Error:
[code]
Looks like it because TUN dev not have valid MAC

**How to reproduce the issue**
1. Create TUN device
[code]
2. Deploy cilium with multiple NodePort devices
[code]
3. See log

[2020-06-26 14:26] ungureanuvladvictor commented on #12297
Hey @EPinci, thank you for filing this FR. I'll give it a look and see which changes we would have to support.

[2020-06-26 14:44] brandshaide commented on #10067
@brb I'd like to work on this, can you assign me? Thanks.

[2020-06-26 15:40] #12053 closed

[2020-06-26 15:43] Jianlin-lv opened #12306 "CI: Travis failed on arm64: PodCIDRSuite.TestNewNodesPodCIDRManager: Unified diff:"
CI failure Link:
https://travis-ci.com/github/cilium/cilium/jobs/352136574#L7443

[code]

[2020-06-26 16:11] pchaigno commented on #12279
We could probably have a final step in workflow to dump a bunch of logs to stdout in case of error.

[2020-06-26 16:23] pchaigno commented on #12250
Should this issue be moved to https://github.com/cilium/cilium-sysdump/?

[2020-06-26 17:30] joestringer commented on #12277
One more datapoint based on the K8s NP docs:

https://kubernetes.io/docs/concepts/services-networking/network-policies/#behavior-of-to-and-from-selectors

It's a bit ambiguous, it could be argued that node IPs are also ephemeral and unpredictable due to scaling up/down clusters. It could also be argued that `These should be external IPs` provides no guarantee that internal IPs would be allowed by

[2020-06-26 18:00] #12219 closed

[2020-06-26 18:14] pchaigno commented on #11255
I am still able to reproduce the issue :disappointed:

[2020-06-26 18:27] #11955 closed

[2020-06-26 18:32] joestringer opened #12308 "Investigate reports of connectivity outage during upgrade"
Recently a few users have reported that connectivity may be disrupted during upgrade.

The Cilium upgrade documentation specifies that there should be "minimal to none" disruption to connectivity during upgrade, unless L7 policy is in place. If L7 policy is in place (HTTP, DNS, etc.) then during the Cilium pod restart, connections routed via the proxy will be disrupted. In the case of HTTP, this i

[2020-06-26 18:39] joestringer commented on #12308
It may turn out that the basic connectivity-check.yaml is enough for some basic validation before using the monkeys. That could be a useful step to start with to establish a baseline; the monkey scripts may end up going a bit further in specific areas.

[2020-06-26 21:45] #10133 closed

[2020-06-26 23:33] #12161 closed

[2020-06-27 00:26] ungureanuvladvictor commented on #12297
@EPinci I took a look at the code and here where the authorizer for the Azure client gets created: https://github.com/cilium/cilium/blob/master/pkg/azure/api/api.go#L74-L81

We try 2 diff auth modes:
- creating an authorizer from a file which checks client credentials and then client certificates
- creating an authorizer from the environment which checks client credentials, client certificates, us

[2020-06-27 04:33] thomasdba opened #12312 "tcpdump cannot see packet dropped by tc ?"
If packet is dropped at tc , tcpdump should see it before it is dropped ,rt ? But I tested many times , not as expected .
Pls correct me if there is any misunderstanding .
Thanks !

[2020-06-27 08:07] pchaigno commented on #12312
Depending on your configuration and the origin & destination of packets, Cilium may bypass parts of the stack to improve performance. For this reason, packets may not appear in tcpdump's output for all interfaces.

To see packets dropped by Cilium's datapath, you can instead use `cilium monitor -t drop` from one of the Cilium pods.

[2020-06-27 08:21] sayboras commented on #12279
Good point. Let me add the step to dump logs and events for related services, so that we can have more details to tackle this issue.

Currently, my hunch is due race conditional between local-path-storage and cilium, which causes the bpf mount failed. I am not 100% confident though :)

[2020-06-27 09:18] sayboras commented on #12279
One more observation that I have is that the conformance test (with helm) never fail so far (maybe it might fail later :D). There are a few differences between conformance test and quick install test as below:

- ipam is set to _kubernetes_ instead of cluster-pool
- nodeinit is enabled
- externalIPs is enabled
- hostService is enabled
- nodePort and hostPort are enabled

Will narrow down further m

[2020-06-27 10:54] #9950 closed

[2020-06-27 11:07] thomasdba commented on #12312
thanks pchaigno !
Yes ,cilium monitor -t drop works , but I guess packets were dropped by tc filter ,then do some experiments to verify .
As you said ,they may bypass the stack ,then the tc bpf filter is not used to filter ?
My test case is pod A @ nodeA, pod B @ node B ,pod A access Pod B through vxlan ,I can find the packet at cilium_vxlan @ node B, but cannot see it on Pod B's veth interface ,s

[2020-06-28 00:09] #10977 closed

[2020-06-28 10:57] fahlke opened #12314 "Setting global.hubble.metrics.serviceMonitor.enabled in Umbrella Chart has no effect"
## Bug report

Setting `global.hubble.metrics.serviceMonitor.enabled=true` has no effect and does not create a ServiceMonitor.

As far as I could check the Helm charts, this value is not used in any Hubble subchart or elsewhere.

**General Information**

- Cilium version: `1.8.0`
- Kernel version: `Linux minikube 4.19.107 #1 SMP Thu May 28 15:07:17 PDT 2020 x86_64 GNU/Linux`
- Orchestration system

[2020-06-28 11:35] JieJhih commented on #11994
I can take this. Please assign it to me.

[2020-06-28 14:09] fahlke commented on #12314
**False alert.**

I was missing the configuration for the metrics that actually should be exposed.

When I add `--set 'global.hubble.metrics.enabled={dns:query;ignoreAAAA,drop,tcp,flow,port-distribution,icmp,http}'` to the Helm install command the ServiceMonitor for Hubble is created.

[code]

[2020-06-28 14:09] #12314 closed

[2020-06-28 20:43] githubixx commented on #12304
I've the same problem when upgrading from Cilium 1.7.5 to 1.8.0. While 1.7.5 works without issues I can't get 1.8.0 working. The error is exactly the same.

Orchestration system version in use (e.g. kubectl version, Mesos, ...):
[code]

Kernel (OS: Ubuntu 20.04):
[code]

Error:
[code]

helm values.yml:
[code]
`wg0` in my case is a WireGuard interface:
[code]
The whole Kubernetes cluster communicat

[2020-06-29 04:10] dghubble commented on #12116
Workaround attempts by setting an explicit `hostIP` field in the [ContainerPort](https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.18/#containerport-v1-core) spec as `0.0.0.0` will not actually work either, despite appearances.

[code]

[code]

[code]

[2020-06-29 05:44] joestringer commented on #10012
@aanm This issue was resolved in v1.8.0 wasn't it?

[2020-06-29 08:39] aanm commented on #10012
Yes, Cilium identities no longer have the nodes' status. Closing...

[2020-06-29 08:39] #10012 closed

[2020-06-29 08:45] EPinci commented on #12297
@ungureanuvladvictor, thank you for getting back to me.

I gave this a spin following https://docs.cilium.io/en/v1.8/gettingstarted/k8s-install-azure/
Got cilium deployed but it's failing to connect to azure so question is, how is failing back to MSI?
Does it use the native kubelet identity or it expects me to bind a pod identity?

[code]

[2020-06-29 09:46] rajatjindal commented on #10012
Hi Aanm/Joe, thanks for updating this issue.

was this fix backported to 1.6.x and/or 1.7.x branch?

we are currently on 1.6.x and use etcd as kv store (with plans to move to 1.7.x and then to 1.8.x in next quarter).

I am wondering if we should wait for upgrades to 1.8.x before starting to use cilium identities CRD.

someone from our team mentioned that the cilium can work with both cilium-identi

[2020-06-29 11:02] tklauser commented on #12284
Symptoms looks similar to #6581:

[code]

[code]

Around the same time these happen, in `pod-kube-system-kube-apiserver-k8s1-kube-apiserver.log` we see:

[code]

and then later on:

[code]

[2020-06-29 12:02] donch opened #12317 "NodePort fails when using IP attached to interface without HW address"
## Bug report

**General Information**

- Cilium version : 1.8.0
- Kernel version : 5.3.0-59-generic
- Orchestration system version in use : v1.15.9

**How to reproduce the issue**

When deploying Cilium, network iface auto-discovery doesn't work with our networking design. We need to explicitly define `--global.devices=eth0` to have Cilium running, but in this configuration, we are not able to es

[2020-06-29 12:42] aanm opened #12319 "Cilium restarts if iptables lock is not held in 5s"
The `Reinitialize` function runs some itpables commands. If any of these commands fails within 5 seconds, the `Reinitialize` returns an error causing this function to also return an error:
https://github.com/cilium/cilium/blob/ddd8fb1809e974ac7fa3a9f0b9f3dad26e0b2e73/daemon/daemon.go#L595-L599

However, the caller of the function fatals Cilium in case this happens:
https://github.com/cilium/cilium

[2020-06-29 13:13] sayboras commented on #12279
Failed in https://github.com/cilium/cilium/pull/12320/checks?check_run_id=818304498, I am dumping logs below to make sure it will not be lost.

<detials>
<summary>raw logs</summary>

[code]

</details>

[2020-06-29 13:36] pchaigno commented on #12317
Note: #12321 should fix the above error and allow the agent to start, but it won't fix the general issue reported here. In particular:

[2020-06-29 14:02] pchaigno opened #12322 "CI: Travis CI: Kernel Config file not found in ProbesTestSuite.TestSystemConfigProbes"
Flake happened here: https://travis-ci.com/github/cilium/cilium/jobs/355318567#L4691-L4695.
I've only seen it for aarch64 so far.
[code]
/cc @Jianlin-lv

[2020-06-29 14:15] JieJhih commented on #11994
@christarazi I made a draft, for ``CurlWithRetries()`` function under the circumstances:
``CurlFail()`` ``CurlFailNoStats() `` ``CurlWithHTTPCode()`` may expect ``--retry`` flag, so it turns out something like this ``CurlWithRetries(CurlFail(...), retries)``, ``CurlWithRetries()`` function has to handle the string does it contain ``curl`` command, if true it means there have a command, the develop

[2020-06-29 14:26] Jianlin-lv commented on #12322
Got it, I will investigate this issue.

[2020-06-29 15:22] ungureanuvladvictor commented on #12297
I'll give it a spin this week. As for your question it should rely on the Azure metadata endpoint to exchange creds.

In our env we always relied on the existence of the config file on disk and the authorizer got created from that one, maybe there is a bug here somewhere.

[2020-06-29 15:35] joestringer commented on #11646
From @errordeveloper  during Cilium community meeting: There is a AWS feature that implements this more natively, did we look into this?

[2020-06-29 15:40] errordeveloper commented on #11646
I was referring to [IAM roles for service accounts
](https://docs.aws.amazon.com/eks/latest/userguide/iam-roles-for-service-accounts.html), it's native to AWS IAM and more secure by design (since it doesn't require special node configuration) and is available for EKS as well as self-managed Kubernetes deployment on EC2.

[2020-06-29 16:15] Rolinh commented on #12201
Deploying v1.7.5 with tunnel disabled like below seems to work:
[code]
However, I tried this on a `kind` cluster and have IPv6 disabled on my host system. To confirm by deploying the connectivity test.

[2020-06-29 17:07] travisghansen commented on #11724
I'm currently running in `dsr` mode and mostly bring this up as a talking point. When the connection happens to a node-local pod the source IP is the ip from `cilium_host` device. When connection occurs to non-node-local pod it's the IP of the nic with the default route (for me anyway). This is using native routing with `Cluster` policy ATM.

I'm not entirely sure what the behavior *should* be, mo

[2020-06-29 17:31] joestringer commented on #12319
This is a fair statement if there's legitimate reason to believe there's a slow iptables interaction occurring in the environment. That said, 5s is a long time and if there is an application that's actually not releasing the xtables lock then Cilium could get stuck in this process. In that case per the comment in the second code snippet, the idea is to fail out to make the failure clear rather tha

[2020-06-29 17:47] alex1989hu opened #12324 "PodSecurityPolicy does not allow hostPort for Prometheus"
## Bug report

**General Information**
PodSecurityPolicy does not enable `hostPort` if Prometheus is enabled, `cilium` daemonset and `cilium-operator` deployment is affected.
- Cilium version (run `cilium version`): 1.8.0
- Kernel version (run `uname -a`): 5.5.15-talos
- Orchestration system version in use (e.g. `kubectl version`, Mesos, ...): 1.18.0
- Link to relevant artifacts (policies, deploym

[2020-06-29 17:48] alex1989hu commented on #12324
Is it necessary to have `hostPort` for `Prometheus`?

[2020-06-29 17:52] aanm commented on #12324
@alex1989hu thanks for opening the issue. You are correct. There's a PR that will fix the issue https://github.com/cilium/cilium/pull/12175 but we are currently working on https://github.com/cilium/cilium/pull/11140 first to test it against our CI.

I think this might be an oversight from our side. Once the PSP are fixed we will study the removal of the `hostPort` for `Prometheus` (which I believe

[2020-06-29 18:27] #10231 closed

[2020-06-29 18:27] #12241 closed

[2020-06-29 20:18] #12228 closed

[2020-06-29 20:18] #12304 closed

[2020-06-30 01:16] joestringer opened #12327 "Review usage of option.Config.KVstoreConnectivityTimeout"
`option.Config.KVstoreConnectivityTimeout` is `2*time.Minute` by default, but it may be called from a path with more strict timeout requirements such as from the endpoint creation path.

We should review all usage of this timeout and determine whether all of them should share the same timeout, and what that timeout should be. In particular for the endpoint create path, 2 minutes is too long; after

[2020-06-30 01:35] joestringer opened #12329 "Document how to wildcard labels in identity logic"
Add documentation with the specific steps / syntax for how the `--labels` option can be configured.

[2020-06-30 01:37] joestringer opened #12330 "cilium-operator high availability"

[2020-06-30 06:57] fristonio commented on #12330
@joestringer Is it something related to `leaderelection` pkg provided by Kubernetes to run multiple instances of the operator?
https://github.com/kubernetes/client-go/blob/master/examples/leader-election/main.go#L122

[2020-06-30 10:24] RaveNoX commented on #12304
It is goot than now cillium starts without error, but it will be nice to have NodePort working on such devices (TUN, WireGuard, etc).
Do I need to create a separate issue for this, or does it already exist? @christarazi

[2020-06-30 10:34] pchaigno commented on #12317
I've updated the title to clarify that this is not limited to this particular configuration with the loopback device. Other users have encountered the same issue with TUN devices or with the WireGuard interface.

[2020-06-30 10:35] pchaigno commented on #12304
@RaveNoX https://github.com/cilium/cilium/issues/12317 will track adding support for devices that don't have a HW address (TUN, WireGuard, loopback, etc.).

[2020-06-30 10:56] RaveNoX commented on #12304
Thank you.

[2020-06-30 12:30] zhujik commented on #10426
Yep, definitely, the DOC says to use the parameters but I had a lot of trouble finding out how, because there is no example for custom CNI configuration setup.

[2020-06-30 12:51] aanm opened #12336 "CI: K8sServicesTest Checks service across nodes TFTP with DNS Proxy port collision Tests TFTP from DNS Proxy Port"
## CI failure

[code]

https://jenkins.cilium.io/job/Cilium-PR-Ginkgo-Tests-K8s/3247/testReport/junit/Suite-k8s-1/15/K8sServicesTest_Checks_service_across_nodes_TFTP_with_DNS_Proxy_port_collision_Tests_TFTP_from_DNS_Proxy_Port/

[e1aaccbf_K8sServicesTest_Checks_service_across_nodes_TFTP_with_DNS_Proxy_port_collision_Tests_TFTP_from_DNS_Proxy_Port.zip](https://github.com/cilium/cilium/files/4851911

[2020-06-30 13:44] #12322 closed

[2020-06-30 14:22] b3a-dev opened #12338 "Next-gen CI Infrastructure"
- **Goals**
  - [ ] Centralised image builds
  - [ ] Move to hosted cluster providers
    - [x] GKE to start with
    - [ ] EKS
    - [ ] AKS
  - [x] Move to GitHub Actions
  - [ ] Ability to match prod configurations / Improve alignment with prod envs
  - [ ] Redesign runtime tests

- **Deliverables**
  - [ ] New image build system
  - [x] Test cluster management operator
  - [ ] Kernel and Kuber

[2020-06-30 14:55] #9966 closed

[2020-06-30 15:18] qmonnet commented on #11481
I'm closing this issue, please open a new one if the problem happens again.

[2020-06-30 15:18] #11481 closed

[2020-06-30 15:25] qmonnet commented on #11885
@joestringer Do you mean `cilium config Debug=Enabled` from [this commit](https://github.com/cilium/cilium/commit/ee5e396a9b6c8244b083124c0f00bab3d7a96059)?

[2020-06-30 16:36] qmonnet commented on #12312
The tc filter _is_ used to filter packets, but if they are dropped they may never reach the socket layer where tcpdump would be able to capture them.

Bpftool won't help much to see packets, it's more about inspecting eBPF objects (programs and maps, typically). You could use it to inspect the contents of the maps, but I will be raw data and won't be easy to read. I would recommend the different `

[2020-06-30 18:24] joestringer commented on #12336
@jrajahalme This is a new test right? Would you be able to look into it?

[2020-06-30 20:09] joestringer opened #12344 "Evaluate how to handle multiple contexts in endpoint kvstore operations"
In paths like the following, we receive and handle API requests to modify the labels for an internal `endpoint` object:

https://github.com/cilium/cilium/blob/7856a775f5f731098b5b828adfb6da32913a51eb/pkg/endpoint/endpoint.go#L1709

As part of the labels update, we may need to allocate a security identity for the corresponding labels, which is a network call to a remote service which may potentiall

[2020-06-30 22:19] soumynathan commented on #12116
Yes I did validate and I am seeing the same behavior as well for the Hostport. The service is only accessible through the HostIP:Port combination.

[2020-06-30 22:27] soumynathan opened #12347 "What is difference between Host-Reachable Services and Container HostPort"
## Support

What is the difference between Host-Reachable Services and Container HostPort?

While I was going through the documentation i had this question.

If they are different, it would make sense to add an Example for 'Host-Reachable Services'.
If they are the same, then provide a note or link in the "Host-Reachable Services" to the Container HostPort Example.

[2020-07-01 01:41] joestringer commented on #12277
One useful delineation between approach (1) and approach (2) occurred to me. It's not so much about how this approach will solve the reported issue here for the treatment of the local host, but may be more impactful for other identities like `remote-node` (or the other identities, really).

Approach (1) broadly says, we can modify the labels associated with the (host) identity, and hence rather th

[2020-07-01 04:15] thomasdba commented on #12312
thanks qmonnet!  tcpdump should capture them at NIC level ,rt ?

[2020-07-01 06:09] soumynathan commented on #12347
Ok, so the Host-Reachable Services is the direct use of host network for the service without any nodeport which can be achieved by 'hostNetwork: true' enablement for the pod/service.

So adding an example in the documentation would be helpful.

[code]

Example yaml for the app.

[code]
After this run this command to see the IP Address assigned to the pod.

[code]
Make sure the IP is assigned as th

[2020-07-01 09:20] #10055 closed

[2020-07-01 09:33] qmonnet commented on #12312
No, tcpdump captures the traffic from raw sockets, after the packets have passed through most of the Linux stack. If you wanted to hook at the driver level, this is something you could do with an XDP filter. There are various tools that may help do that ([xdp-dump](https://github.com/xdp-project/xdp-tools/tree/master/xdp-dump), [another xdpdump](https://github.com/Netronome/bpf-samples/tree/master

[2020-07-01 09:44] pchaigno commented on #12258
I've updated the `RuntimePolicies CIDR L3 Policy` tests. I don't think we have a full equivalent in `K8s*` because we don't seem to test default-deny enforcement there. I've just found a bug in my (local) code thanks to the IPv6 ping with everything else blocked (because default-deny); none of the `K8s*` tests had a similar fail.

[2020-07-01 11:13] qmonnet commented on #12217
Thanks a lot for the report, and for pinning down the issue! I'm marking this one as a duplicate of #10645.

[2020-07-01 11:13] #12217 closed

[2020-07-01 11:48] thomasdba commented on #12312
thank you so much ! Will do some test .

[2020-07-01 12:31] thomasdba commented on #12312
In this blog , seems tcpdump is very close NIC ,between NIC and TC.
![image](https://user-images.githubusercontent.com/39427522/86243953-cd9ae800-bbd9-11ea-966b-85a5e05dcef5.png)
https://medium.com/criteo-labs/demystification-of-tc-de3dfe4067c2

[2020-07-01 12:35] #11214 closed

[2020-07-01 12:41] pchaigno commented on #12312
For packets coming from the tunnel, we may also bypass parts of the stack and deliver packets directly to their destination (e.g., host device or pods). In that case you will not see the packets in tcpdump. As @qmonnet said, `cilium monitor` and `cilium monitor -vv` are the tools to use here.

Could you describe what you are trying to do and why you think the packet drops are unexpected?

[2020-07-01 13:32] thomasdba commented on #12312
@pchaigno I just want to understand how cilium works ,as I didn't find it from Doc , so I want to some test ...
Anyway thank you all .

[2020-07-01 15:23] qmonnet commented on #12312
If you haven't already, you may want to look at the [eBPF datapath](https://docs.cilium.io/en/v1.8/concepts/ebpf/) section of the documentation.

[2020-07-01 17:23] danwent opened #12367 "failed endpoint restore after OOM"
## Bug report

**General Information**

- Cilium 1.7.5
- kernel 4.15

**How to reproduce the issue**

1. Issue appears when Cilium was restarted due to OOM.

2. Restore failed for single endpoint with " "Unable to parse the C header file" endpointID=625 error="invalid format \"\". Should contain a single ':'" file-path=/var/run/cilium/state/625/lxc_config.h subsys=endpoint"

3.  It seems like the

[2020-07-01 17:30] aanm commented on #12367
Wasn't this fixed by https://github.com/cilium/cilium/pull/12218?

[2020-07-01 17:32] joestringer commented on #12367
@aanm do you think this was a concurrent userspace write to the same file or do you think it's possible Cilium was terminated mid-write of the file?

My initial thought is that the intent would be to for the periodic `lxc_config.h` write to write to a *new* file, then atomically replace the existing `lxc_config.h` with the new one to ensure that there is no situation where a prematurely terminated

[2020-07-01 17:40] aanm commented on #12367
@joestringer ah, I thought this was because of the OOM itself. You are right, yeah, the FQDN controller should, it doesn't currently, create a new file, write contents and only after do a `mv new_lxc_config.h lxc_config.h`.

[2020-07-01 18:32] joestringer opened #12368 "v1.6.10 release"
## Pre-release

- [x] Create a [new project] for the next release version
- [x] Add build targets for the new release on [Docker Hub]
  - All versions:
    - [cilium](https://hub.docker.com/repository/docker/cilium/cilium/builds/edit)
    - [operator](https://hub.docker.com/repository/docker/cilium/operator/builds/edit)
    - [docker-plugin](https://hub.docker.com/repository/docker/cilium/docker-p

[2020-07-01 23:28] joestringer opened #12372 "v1.7.6 release"
## Pre-release

- [x] Create a [new project] for the next release version
  - https://github.com/cilium/cilium/projects/120
- [x] Add build targets for the new release on [Docker Hub]
  - All versions:
    - [cilium](https://hub.docker.com/repository/docker/cilium/cilium/builds/edit)
    - [operator](https://hub.docker.com/repository/docker/cilium/operator/builds/edit)
    - [docker-plugin](https:

[2020-07-01 23:28] joestringer opened #12373 "v1.8.1 release"
## Pre-release

- [x] Create a [new project] for the next release version
- [x] Add build targets for the new release on [Docker Hub]
  - All versions:
    - [cilium](https://hub.docker.com/repository/docker/cilium/cilium/builds/edit)
    - [operator](https://hub.docker.com/repository/docker/cilium/operator/builds/edit)
    - [docker-plugin](https://hub.docker.com/repository/docker/cilium/docker-p

[2020-07-02 02:25] joestringer opened #12374 "[v1.7] CI: DatapathConfig with sockops: Failed to load bpf_sockops: signal: segmentation fault (core dumped)"
## CI failure

Hit in net-next builds on branch v1.7:
* Suite-k8s-1.11.K8sDatapathConfig Encapsulation Check connectivity with sockops and VXLAN encapsulation
* Suite-k8s-1.11.K8sDatapathConfig AutoDirectNodeRoutes Check connectivity with sockops and direct routing

https://jenkins.cilium.io/job/Cilium-PR-Ginkgo-Tests-Validated/19791/
[test_results_Cilium-PR-Ginkgo-Tests-Validated_19791_BDD-Test-P

[2020-07-02 04:21] #11724 closed

[2020-07-02 04:21] #11746 closed

[2020-07-02 04:51] joestringer commented on #12372
We are aiming to bump the runtime image base image versions via https://github.com/cilium/cilium/pull/12371 but this is not strictly required for the release. That PR is currently hitting https://github.com/cilium/cilium/issues/12374. Unclear yet whether relevant to the PR or a general issue on v1.7 branch. https://github.com/cilium/cilium/pull/12376 posted to provide a datapoint here.

We can dec

[2020-07-02 04:52] joestringer commented on #12373
Would be good to get the backport of https://github.com/cilium/cilium/pull/12311 into the release.

[2020-07-02 06:17] travisghansen commented on #11724
Just testing now and looks really good so far. Make note however that (I doubt this is intended behavior but perhaps) the service NodePort works on *ALL* nodes (even those not running pods) with `externalTrafficPolicy=Local`.

Note however that external traffic appears to only work to nodes that do have pods running.

Not a big deal to me, but seems a little odd.

[2020-07-02 06:27] borkmann commented on #11724
Thanks a lot for testing. Intended behavior, meaning:

For requests from outside the cluster, services with `externalTrafficPolicy=Local` will only select backends that are local to the node in order to allow for client source IP preservation. Meaning, if no backend is on that node, the request is dropped. If there are local backends, then it's load balanced among the local backends.

For requests

[2020-07-02 06:30] travisghansen commented on #11724
@borkmann OK sounds good. I've got another issue (not sure if it's always been doing this or not) but with `Cluster` policy + `dsr` I've got a situation where client IP is not being preserved. Going to dig a little bit more but current scenario is: EXT -> N2 NodePort -> N1P

IP is preserved with:

EXT -> N1 NodePort -> N1P

Issue may be broader than NodePort however, I'll do some testing with LB I

[2020-07-02 06:34] travisghansen commented on #11724
Sample output ran from external node:

[code]

LB IP is `192.168.58.0`

`172.29.2.21:32005 172.29.2.22:32005` is svc NodePort on 2 different nodes, single backing pod is running only on the former node.

[2020-07-02 08:00] #12312 closed

[2020-07-02 10:47] #11527 closed

[2020-07-02 10:50] aanm opened #12381 "CI: Privileged runtime failure: "context deadline exceeded""
## CI failure
[code]

PR https://github.com/cilium/cilium/pull/11528

https://jenkins.cilium.io/job/Cilium-PR-Runtime-4.9/1046/

[b8101752_RuntimePrivilegedUnitTests_Run_Tests.zip](https://github.com/cilium/cilium/files/4863704/b8101752_RuntimePrivilegedUnitTests_Run_Tests.zip)

[2020-07-02 11:06] borkmann commented on #12373
Merged via https://github.com/cilium/cilium/pull/12378.

[2020-07-02 11:06] pchaigno commented on #12381
It's a duplicate of #11862.

[2020-07-02 11:08] #12381 closed

[2020-07-02 11:09] pchaigno commented on #11862
#12381 has another occurrence.

[2020-07-02 11:40] borkmann commented on #11724
Hmm, I currently cannot reproduce this. I have 3 nodes:

- node A (apoc): `192.168.178.29`
- node B (tank): `192.168.178.28`
- node C: `192.168.178.30`

The node C is an external client, meaning not managed by Cilium.
[code]
And I have:
[code]
So backend is on node tank.

I'm running the agent on apoc/tank with DSR. Full options I've used:
[code]
The node C is doing curl to apoc where it finds tha

[2020-07-02 11:49] borkmann commented on #11724
Hmm, you're saying that host should have been `172.29.10.12` on the last entry. That node is running with DSR for sure, right?

[2020-07-02 11:57] tgraf commented on #12330
@fristonio Yes, using exactly that pattern.

[2020-07-02 12:38] fristonio commented on #12330
Great, I can help with this if anyone is not working on it.

[2020-07-02 13:11] brandshaide opened #12384 "Mention usage of CLI kernel-check in Docs/System Requirements"
## Proposal / RFE

As introduced by #11339 it might be a good idea to mention the usage of the CLI in the [System Requirements](https://docs.cilium.io/en/stable/install/system_requirements/) section of our Documentation.

Idea is to have a infobox mentioning the tool and also pointing out the to the Deployment with a hint to the `nodeSelector`, so the user can use it right away.  Something like th

[2020-07-02 13:23] travisghansen commented on #11724
Yeah that’s correct. It’s deployed as daemon set so unless something is off it should be with dsr yes.

I’ll kick the agents pods in a bit just to confirm it still is in a bad state.

[2020-07-02 15:00] travisghansen commented on #11724
Sorry above comments about source IP are complete noise...I thought I was running in `dsr` but was not :(

I'll go through a deeper round of testing with snat + Local now and report observations.

[2020-07-02 15:43] briantopping opened #12385 "Unable to install 1.8.0 on bare metal k8s 1.18.5"
## Bug report

**General Information**

- Cilium version (run `cilium version`): 1.18.0
- Kernel version (run `uname -a`): 5.6.14-1.el7.elrepo.x86_64
- Orchestration system version in use (e.g. `kubectl version`, Mesos, ...)
[code]
- Link to relevant artifacts (policies, deployments scripts, ...): Installed via `kubeadm init --config config.yaml `
[code]
- Generate and upload a system zip:
[code]

[2020-07-02 15:48] aanm commented on #12385
@briantopping what's the output of `kubect get pods -n kube-system -o wide` and `kubectl logs --timestmaps -n kube-system cilium-operator-xxxx`?

[2020-07-02 15:59] briantopping commented on #12385
@aanm That provided the cue I needed to solve this: There seems to be a new dependency on `cilium-operator` from `cilium`. I wasn't used to removing the master taint at this point in my bootstrap, so `cilium-operator` was not loading.

Once the master taint was removed, things continued loading as normal.

Not sure if this is an unavoidable dependency, but if so, documenting it may be helpful.

Th

[2020-07-02 15:59] #12385 closed

[2020-07-02 18:24] christarazi commented on #11994
@JieJhih That sounds like a great idea! Would you mind PRing your changes?

[2020-07-02 18:41] joestringer opened #12387 "Envoy warning log: there is no configured limit to the number of allowed active connections"
Found this log in a CI failure on branch v1.7:

[code]

Context:
[code]

[57a7b5c5_K8sServicesTest_External_services_To_Services_first_endpoint_creation.zip](https://github.com/cilium/cilium/files/4866067/57a7b5c5_K8sServicesTest_External_services_To_Services_first_endpoint_creation.zip)

Do we need to make some changes to our Envoy configuration?

[2020-07-02 19:52] nathanjsweet opened #12388 "Create a filtration side-car for cilium-agent"
Cluster operators need a way to federate and limit access to some of the data that is exported by the cilium agent via the grpc endpoint and metrics endpoint. However, cluster operators also want to make sure that various multi-tenant parties in their cluster still have access to data that they may need to debug their applications, etc. As a first approximation filtering these metrics is a good wa

[2020-07-02 20:01] nathanjsweet opened #12389 "Supplement filtration side-car with authorization and authentication"
Cluster operators need a way to federate and limit access to some of the data that is exported by the cilium agent via the grpc endpoint and metrics endpoint. However, cluster operators also want to make sure that various multi-tenant parties in their cluster still have access to data that they may need to debug their applications, etc. Once the [filtration story](https://github.com/cilium/cilium/

[2020-07-02 20:05] nathanjsweet opened #12390 "Add filtration to cilium process"
Cluster operators need a way to federate and limit access to some of the data that is exported by the cilium agent via the grpc endpoint and metrics endpoint. However, cluster operators also want their systems to not overutilize their cluster resources and to operate with low latency and high speed.

When #12388 is finished a method for filtering flow and metrics data to various client end-points

[2020-07-02 22:50] joestringer commented on #12372
During sanity check, the "nodeport" connectivity-check pods were unable to become ready. Even when I reverted the tag to v1.7.5 the same behaviour remained, so I presume this is not a regression in v1.7.6.

[2020-07-03 06:46] ungureanuvladvictor opened #12396 "Typo in UpdateEC2AdapterLimitViaAPI command line flag"
Currently the `cilium-operator-aws` command line flag is named [`update-ec2-apdater-limit-via-api`](https://github.com/cilium/cilium/blob/76df1345ad49afb48ce5a3e14ee70e99e73113f4/operator/option/config.go#L147-L149) which has a typo in `apdater` (should be `adapter`).

I suspect we should deprecate the old typo'ed flag and introduce a new one. I am not sure what is the official Cilium policy on fl

[2020-07-03 07:42] tgraf commented on #12396
@ungureanuvladvictor Good catch! The standard policy is to:
- Introduce the new correct flag name for 1.9
- Mark the old flag as deprecated in 1.9 to cause a warning
- Mention it in the upgrade guide for 1.9 and ask users to switch to new flag
- Remove the old deprecated flag in version 1.9+2

[2020-07-03 14:59] aanm commented on #12244
@seanmwinn thanks for opening the issue, can you try with either `--set global.hostServices.enabled=true` or `--set global.kubeProxyReplacement=disabled`?

[2020-07-03 15:05] aanm commented on #12244
@borkmann @brb I was able to replicate this issue in 5.6 on dev VMs. When we run with `hostService.enabled=true` we can see the source IP to be the one from the cilium_host interface.
[code]

with `kube-proxy-replacement=disabled` the packets were still from `10.17.152.59.41980`.

I had to delete Cilium's DS and delete `cilium_host` interface to see the packet coming from `10.0.2.15` which is the

[2020-07-03 16:53] #11168 closed

[2020-07-03 17:12] #9898 closed

[2020-07-03 17:17] #12368 closed

[2020-07-03 17:26] #12372 closed

[2020-07-03 17:26] #12373 closed

[2020-07-03 20:43] errordeveloper commented on #10637
Unstale.

On Fri, 3 Jul 2020, 7:43 pm stale[bot], <notifications@github.com> wrote:

[2020-07-03 20:44] errordeveloper commented on #10478
Ustale.

On Fri, 3 Jul 2020, 6:43 pm stale[bot], <notifications@github.com> wrote:

[2020-07-04 05:43] JieJhih commented on #11994
No problem. I already sent a pull request. Please take a look.

[2020-07-04 17:03] ungureanuvladvictor commented on #12297
@EPinci did some more investigation here -- what I suspect is happening is that the managed identity gets assigned to just the k8s control plane (apiserve, scheduler and controller-manager) but not to the worker nodes (where cilium runs).

I created an aks cluster with the `--enable-managed-identity` flag passed to the `az aks create` command. After the cluster was done creating I checked the VMSS

[2020-07-04 17:21] #11078 closed

[2020-07-05 11:27] sayboras commented on #12384
Just a quick question on this, I install kernel check deployment in example file by running `kubectl apply --recursive -f examples/kubernetes/kernel-check/kernel-check.yaml`.

Output of command seems as per expected, however, the pod just keep restarting. As it's deployment type, control plane will keep scaling it to minimun number (e.g. 1) if I am not wrong.

Not sure if _Deployment_ is the corre

[2020-07-05 23:38] ungureanuvladvictor commented on #12396
Sounds good, I'll try to put together something in the next week.

[2020-07-06 07:20] aanm commented on #12367
Fixed by https://github.com/cilium/cilium/pull/12380

[2020-07-06 07:20] #12367 closed

[2020-07-06 08:04] #11117 closed

[2020-07-06 08:31] gandro commented on #11362
We should also make sure to test the trace segments with and without `HostReachableServices` enabled. They have an impact of how what trace notifications Hubble sees and it has broken service translation in Hubble before.

Unfortunately, we cannot test `HostReachableServices` with other means like Kind (as there is only a single kernel for all Kind workers), therefore we should make sure to cover

[2020-07-06 08:32] olemarkus commented on #10002
FWIW I can confirm the e2e still fails on this issue with version 1.8

[2020-07-06 08:56] gandro opened #12416 "Deprecate cilium monitor"
The goal of this roadmap item is to deprecate cilium monitor in favor of Hubble.

Steps:
 - [ ] Identify notifications and fields absent in Hubble but available via Cilium Monitor. Expose them via the Hubble gRPC API:
   - [x] Perf `RecordLost` events
   - [x] `AgentNotify` events
   - [x] `DebugMsg` events
   - [x] `MessageTypeCapture` events
   - [x] `TraceNotify` fields
      - [ ] `Hash`

[2020-07-06 11:14] borkmann commented on #11180
Also as discussed longer ago, this should have an agent flag on whether fragments should be handled from traffic coming into the node (bpf_host.o side). Should probably default to off and get documented in the kube-proxy guide (fragmentation handling for services).

[2020-07-06 11:19] b3a-dev opened #12423 "Nightly tests"
- [ ] Performance testing
    - [ ] Cilium
    - [ ] Hubble
  - [ ] Scalability testing
  - [ ] Benchmarking system
    - [ ] Centralized Prometheus stack

[2020-07-06 11:22] borkmann opened #12424 "kube-proxy free snat issue nodeport & loadbalancer backing same pod"
potentially stale ct issue, needs investigation

[2020-07-06 11:38] borkmann commented on #11344
https://github.com/kubernetes/enhancements/blob/master/keps/sig-network/20191227-app-protocol.md

[2020-07-06 12:54] borkmann opened #12428 "ci: add services tests for multi-port services"
https://kubernetes.io/docs/concepts/services-networking/service/#multi-port-services

[2020-07-06 13:12] borkmann opened #12429 "Enable tunneling mode with XDP"
Missing feature gap to tc based implementation

[2020-07-06 13:13] brb commented on #12428
We should already have the coverage in the CI for multi-port svcs. E.g. https://github.com/cilium/cilium/blob/master/test/k8sT/manifests/demo_ds.yaml#L101 is defined as a multi-post svc, and both ports are tested.

[2020-07-06 13:13] #12428 closed

[2020-07-06 13:29] brb commented on #12281
It has a different symptom - error code 42:
[code]

[2020-07-06 13:58] brb commented on #8945
Hmm, the loop might be explained by https://github.com/cilium/cilium/issues/12241.

[2020-07-06 14:17] brandshaide commented on #12384
@sayboras thanks for digging into this: I agree with you, `Job` indeed seems to be a better fit for this use-case. I'll change this in a follow-up I'm currently working on.

[2020-07-06 14:41] #11345 closed

[2020-07-06 15:09] borkmann commented on #11802
Hello @nicolerenee, I'm currently getting back on this issue now that 1.8 went out. I've tried to reproduce the issue locally, but I'm able to ping nodes under `kube-proxy-replacement: strict`. Did you reproduce this also with 1.8.1?

The pcap is from the host namespace of one node doing the ping to the other node's IP, right? How does it look on the other node's side? Did the icmp packet even arr

[2020-07-06 15:12] brb commented on #8971
@jrajahalme According to https://github.com/cilium/cilium/pull/12434, it seems to be fixed! I'm going to close this issue once I've extended BPF NodePort tests to include L7 policy.

[2020-07-06 15:14] brb commented on #11790
@maci0 The issue might have been resolved in v1.8.1. Could you give a try?

[2020-07-06 15:31] aanm commented on #11301
Add note in the docs there's a workaround if the user sets the session affinity annotation.

[2020-07-06 15:32] aanm commented on #9207
Might be tricky if we want to make sure we don't break existing connections.

[2020-07-06 15:41] errordeveloper commented on #12423
Since new test library hasn't been developed yet, and Test Cluster Operator for GKE is not ready, I propose follwing break-down of work.

## Phase 1

Goal: enable simple developer workflow

A developer should be able to run performance test manually, using the following steps:

- create a dev cluster with `gcloud`
- deploy Prometheus to their dev cluster with simple config
- run the tests

Once te

[2020-07-06 15:46] #8397 closed

[2020-07-06 15:48] nicolerenee commented on #11802
Hey @borkmann, I'm not sure this is a cilium problem after this weekend. I was doing some testing and the exact same setup script on a VM cluster works just fine. I'm now convinced that this is specific to my LACP bonded connection using mellanox connectx-3 adapters. I'm not 100% sure how to test it and dig into it though.

[2020-07-06 16:50] MQasimSarfraz commented on #11146
https://github.com/kubernetes/kubernetes/pull/92800 should fix it as per my understanding!

[2020-07-06 20:55] borkmann commented on #11802
Ok, is it possible to break up the bond and just use a single mlx4 netdev for checking?

Also might be interesting to check at both node A and node B's bond & phys dev whether the icmp packet goes out the box and even makes it to the other end.

[2020-07-06 21:57] borkmann commented on #11810
Hello @asm76 getting back on this issue, I think it might be related to #10897 given in the sysdump it says that you're using DSR. Do you have a chance to check whether the issue reproduces with Cilium 1.8.1 and using SNAT for the NodePort mode?

[2020-07-06 22:11] anunay007 opened #12437 "Inter-node Endpoint Connectivity failure after installation of Cilium 1.7.4"
## Support

Hi,

I am installing Cilium 1.7.4 on an EKS cluster with self-managed nodes. Post installation, the Cilium pods come up alright but pods in one node are unable to communicate with pods in another node (was able to test this with ping/curl). Also cilium-health monitor status shows issues with endpoint connectivity for **all** nodes when trying to reach endpoints in other nodes (see outp

[2020-07-06 23:28] christarazi commented on #12437
Additional info:

* Kernel version:

[code]
* Ruled out the possibility of stale rules (a common issue on ENI-based deployments) via by running [cilium/stale-rules](github.com/cilium/stale-rules).

[2020-07-06 23:55] galexrt opened #12438 "Service without `selector` but with matching Endpoint will cause timeout"
## Bug report

**General Information**

- Cilium version (run `cilium version`)
[code]

**Cilium is installed to replace the kube-proxy, `kubeadm init` has been run with the `skip-phase kube-proxy` flag!**

- Kernel version (run `uname -a`)

Ubuntu 20.04 5.4.x and Fedora 32 `5.7.7-200`

- Orchestration system version in use (e.g. `kubectl version`, Mesos, ...)

[code]

- Link to relevant artifacts

[2020-07-07 04:04] #11115 closed

[2020-07-07 04:04] #9330 closed

[2020-07-07 04:04] #11114 closed

[2020-07-07 04:04] #5853 closed

[2020-07-07 04:04] #5944 closed

[2020-07-07 04:04] #11127 closed

[2020-07-07 06:17] pchaigno opened #12439 "CI: RuntimeKafka: Kafka broker failed to come up"
https://jenkins.cilium.io/job/Cilium-PR-Runtime-4.9/1085/

### Stacktrace
[code]
### Standard Output
[code]
### Standard Error
[code]

[70abeb35_RuntimeKafka_Kafka_Policy_Ingress.zip](https://github.com/cilium/cilium/files/4882837/70abeb35_RuntimeKafka_Kafka_Policy_Ingress.zip)
[test_results_Cilium-PR-Runtime-4.9_1085_BDD-Test-PR.zip](https://github.com/cilium/cilium/files/4882839/test_results_Cil

[2020-07-07 06:43] mosfet1kg commented on #4825
@maci0 Thank you for your kind comments.
I'm also in a trouble that may cause from iptable modules.
I found that a cluster ip for k8s api server doesn't work after cilium starts on RHEL8 env.
It's quite a time consuming and still not resolved.

I have a question to you and please answer me if possible.
I got a clue from your comments and then
I've loaded following modules by using modprobe before

[2020-07-07 08:37] galexrt commented on #12438
Sysdump attached to this comment.

[cilium-sysdump-20200707-103546.zip](https://github.com/cilium/cilium/files/4883629/cilium-sysdump-20200707-103546.zip)

[2020-07-07 10:17] asm76 commented on #11810
Hello @borkmann. I installed cilium 1.8.1 using the following commands:

[code]
and the issue is not reproducible.

[2020-07-07 10:28] mrostecki commented on #7123
/cc @borkmann @jrfastab

Pointers in gobpf for program templating:
* https://github.com/cilium/ebpf/blob/master/elf_reader.go#L44
* https://github.com/cilium/ebpf/blob/master/testdata/rewrite.c#L21

Although it's not clear if we can already use gobpf for Cilium BPF programs.

[2020-07-07 11:00] borkmann commented on #11810
Great, thanks for confirming, and to make sure, if you are using 1.8.1 with `--set global.nodePort.mode=dsr` in the helm, I presume the issue re-appears, is that correct? If so it's very likely we're hitting #10897.

[2020-07-07 11:09] asm76 commented on #11810
@borkmann yes, i also checked the DSR mode - issue is still here.

[2020-07-07 12:32] nebril commented on #11634
Hit this on master: https://jenkins.cilium.io/job/Ginkgo-CI-Tests-4.19-Pipeline/751/testReport/junit/Suite-k8s-1/17/K8sPolicyTest_Basic_Test_Traffic_redirections_to_proxy_Tests_DNS_proxy_visibility_without_policy/

But I saw one occurrence of this in the last month.

[e3e24d6a_K8sPolicyTest_Basic_Test_Traffic_redirections_to_proxy_Tests_DNS_proxy_visibility_without_policy.zip](https://github.com/c

[2020-07-07 13:06] nebril commented on #11849
This happened today on GKE: https://jenkins.cilium.io/job/Ginkgo-CI-Tests-Pipeline-GKE/1254/testReport/junit/Suite-k8s-1/14/K8sConformance_Portmap_Chaining_Check_connectivity_check_compliance_with_portmap_chaining/ , I guess we fail in retrieving the filter and it causes the check to fail.

[2020-07-07 13:08] nebril commented on #11975
Didn't see this happen in last month, closing.

[2020-07-07 13:08] #11975 closed

[2020-07-07 13:09] nebril commented on #11718
We are back to running GKE pipeline, hopefully we will get some data from there.

[2020-07-07 13:17] nebril commented on #11848
This seems to be resolved, didn't see an occurence in last month.

[2020-07-07 13:17] #11848 closed

[2020-07-07 14:00] nebril commented on #11985
Haven't seen this issue in last month, let's observe.

[2020-07-07 14:08] nebril commented on #12127
Last occurrence on master: https://jenkins.cilium.io/job/cilium-ginkgo/job/cilium/job/master/5238/

[1604061f_K8sServicesTest_Checks_service_across_nodes_Tests_NodePort_BPF_Tests_with_direct_routing_Tests_with_secondary_NodePort_device.zip](https://github.com/cilium/cilium/files/4885308/1604061f_K8sServicesTest_Checks_service_across_nodes_Tests_NodePort_BPF_Tests_with_direct_routing_Tests_with_sec