[2022-02-09 02:40] gpl opened #18744 "LoadBalancer Services return `no route` response"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

In 1.11.1, it looks like LoadBalancer services don't get correctly programmed into the maglev table, but only to our control plane nodes.  For our standard worker nodes, there doesn't seem to be an issue.

We tested this by routing traffic to a single worker node, and then a single control plan

[2022-02-09 03:06] aanm commented on #16191
@pchaigno they do share the same network namespace so on one hand I don't see it being a problem. However, we could be smarter and only populate the HostPorts services only when the respective container is up and running, which we can derive by checking the container status from the pod status.

[2022-02-09 06:23] brb commented on #18710
Thanks. One more question - do you have cgroupv1 disabled?

[2022-02-09 06:29] brb commented on #18744
Thanks for the issue. However, we are missing some crucial information:
1. How do access the service? From inside the cluster or outside the cluster?
2. What's your Cilium configuration?
3. Sysdump.

[2022-02-09 06:56] gpl commented on #18744
Apologies --

We are accessing the service from an external client that has a route to the IP.

Cilium configuration --

[code]

I can send sysdump over Slack if needed.

[2022-02-09 07:31] christarazi commented on #18646
@mhulscher I think this exists via https://github.com/cilium/cilium/pull/14131. Does that not work for you?

[2022-02-09 07:43] YutaroHayakawa commented on #16122
Got the same one. Most of the error codes are 28. A particularly interesting error was `JoinEP` failure.

[code]

https://jenkins.cilium.io/job/Cilium-PR-K8s-1.21-kernel-5.4/448/testReport/Suite-k8s-1/21/K8sDatapathConfig_Host_firewall_With_VXLAN_and_endpoint_routes/

[2022-02-09 08:29] YutaroHayakawa commented on #17180
I met the same issue in https://github.com/cilium/cilium/pull/18704

[2022-02-09 08:55] farodin91 opened #18746 "Traffic from outside of Kubernetes got blocked by a ratio of 50%"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

1. If you using following kubernetes network policy:
[code]
50% percent of traffic from outside of Kubernetes gets blocked.
2. I used to hubble cli to check for dropped packages. I saw the traffic got blocked by internal ingress node ip.
3. I never saw any forwarded/blocked traffic in the hubbl

[2022-02-09 09:04] brb commented on #18744
What is this response? ICMP unreachable? Where do you observe this response? cilium monitor?

[2022-02-09 09:42] mhulscher commented on #18646
@christarazi thank you for bringing this up. I believe that yes, this would help me. I don't know how I missed this. Consider this closed.

[2022-02-09 09:42] #18646 closed

[2022-02-09 10:26] #18278 closed

[2022-02-09 10:27] nbusseneau commented on #16975
Sysdumps from GH workflow runs have expired :/
Looking at history / timestamps though, CLI version was v0.8.5.

[2022-02-09 11:18] mimek opened #18749 "Wrong identity for the ipBlock traffic which comes from the world"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

Hello,
I have defined some network policies on EKS with Cilium which based on ipCidr blocks for ingress traffic:

[code]

Policy should allow for traffic incoming from that cidr's (these are subnets which exists within AWS VPC). Ranges are being recognized by cilium and particular identities ar

[2022-02-09 11:26] alegrey91 commented on #18641
@brb can I ask you for the CFP template link, if you have it?

[2022-02-09 11:50] qmonnet opened #18750 "Connectivity issues with kube-proxy on dev VMs (Vagrant), with IPv6 (Linux 4.9) or both stacks (bpf-next)"
### What happened?

Trying to run some of the demo setups (`demo_ds.yaml`, `demo_ds_v6.yaml` `demo.yaml`) on the Vagrant dev VMs, with dual stack, **kube-proxy replacement disabled**:

- Everything installs correctly, but:
- On **Linux 4.9**, **IPv6 services** (ClusterIP, NodePort) are not working (server does not see the requests from the host);
- With **bpf-next**, **both IPv4 and IPv6 services*

[2022-02-09 12:07] #13451 closed

[2022-02-09 18:16] pchaigno commented on #16975
Thanks @nbusseneau! I've tested with cilium-cli v0.8.5 and I'm getting the same result.

[2022-02-10 02:58] aanm commented on #18727
@pchaigno This race was introduced in https://github.com/cilium/cilium/pull/17871, I'm considering serious because it means that some IP addresses of some nodes might be added to the [ipset](https://github.com/cilium/cilium/blob/9b5b964b30b9d17af23dbd5f20fd1bbc7b7a5449/pkg/node/manager/manager.go#L414-L417), which will cause some inconsistency. Perhaps that's why you couldn't figure out https://gi

[2022-02-10 03:22] Ljohn001 opened #18759 "DNS - based security policies cannot take effect"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

When the cluster uses nodelocaldns cache, cilium's dns-based strategy cannot resolve domain names, and cannot cache domain name resolution records.However, I turned off Nodelocaldns cache and the redeployment was able to test through

### Cilium Version

# cilium version
Client: 1.9.11 95d8778

[2022-02-10 04:52] andy-v-h commented on #18706
I was thinking of a start-up check. The issue is we faced was when switch maintenance, we lost an entire Kubernetes cluster because every node had lost host networking, and restarting was the fastest fix to restore service. In effect, these `systemd-networkd` + `cilium` configurations are dangerous for a production environment where I anticipated to have LACP up and working.

The `networkd` drop-i

[2022-02-10 07:16] YutaroHayakawa opened #18760 "CI: Missed tail call in Suite-k8s-1.21.K8sUpdates Tests upgrade and downgrade from a Cilium stable image to master"
## CI failure

### Stacktrace

[code]

### Standard Output
[code]

### Standard Error
[code]

Jenkins URL: https://jenkins.cilium.io/job/Cilium-PR-K8s-1.21-kernel-5.4/448

Zip: [710c1dd4_K8sUpdates_Tests_upgrade_and_downgrade_from_a_Cilium_stable_image_to_master.zip](https://github.com/cilium/cilium/files/8039565/710c1dd4_K8sUpdates_Tests_upgrade_and_downgrade_from_a_Cilium_stable_image_to_master.

[2022-02-10 07:53] YutaroHayakawa commented on #18760
Similar issue in the past. Maybe a new tail call was introduced recently? I'll check.

https://github.com/cilium/cilium/issues/13932

[2022-02-10 08:49] aleksey-novikov commented on #18632
No, I don't. We have already changed the deployment to avoid this issue

[2022-02-10 08:59] brb commented on #17738
@zapotah If you don't specify `--set loadBalancer.acceleration=native`, do you hit the kernel bug?

[2022-02-10 09:26] brb opened #18761 "Split --bpf-lb-map-max into multiple options"
Currently, the `--bpf-lb-map-max` option is used to configure multiple maps (service frontends, service endpoints, session affinity, etc). For some setups using the only option to configure might be less than ideal. E.g., if a user has a few services, but many service endpoints, it would be wasteful to create big service maps. Instead, we should give a mean to the user to configure the service end

[2022-02-10 09:34] brb commented on #12511
We got to the conclusion why it happens - cilium-agent becomes ready before the host endpoints get regenerated (e.g., bpf_netdev_eth0.o). This leads to old programs to handling requests which might fail in different ways. For example the following request failed in the `K8sServicesTest_Checks_N_S_loadbalancing_Tests_with_direct_routing_and_DSR` suite:

[code]

The previous suite was running in the

[2022-02-10 09:42] pchaigno commented on #18513
Reopening because the fix at https://github.com/cilium/cilium/pull/18716 is incorrect and shouldn't be required to fix this. See https://github.com/cilium/cilium/pull/18716#discussion_r803215901 for details.

@ludurr Could you share a Cilium sysdump for this cluster to understand what's happening? If you can't share that, could you at least share the output of `lsmod`?

[2022-02-10 09:49] borkmann commented on #17738
Yes, I would assume it should work just fine then with XDP not being used on virtio_net driver. Please remove that as suggested by Martynas and let us know if this works.

Related issue / discussion on bcc:
- https://github.com/iovisor/bcc/issues/1833
- https://git.kernel.org/pub/scm/linux/kernel/git/torvalds/linux.git/commit/?id=672aafd5d88a951f394334802b938b502010d9eb

[2022-02-10 12:16] aanm commented on #18734
Fixed by https://github.com/cilium/cilium/pull/18740 it will be available in 1.9.13. Thank you for reporting it!

[2022-02-10 12:17] #18734 closed

[2022-02-10 14:41] aanm commented on #18746
@farodin91 can you paste the hubble output for a flow that was dropped? Thanks

[2022-02-10 15:20] farodin91 commented on #18746
[code]

[2022-02-10 15:22] farodin91 commented on #18746
`watch nc -z -v -w 1 loadblancer-ip 8080` command used to tested.

[2022-02-10 15:23] ti-mo commented on #18760
Cool! This would potentially be fixed by https://github.com/cilium/cilium/pull/17744.

[2022-02-10 15:24] farodin91 commented on #18746
node annotation
[code]

[2022-02-10 16:24] mauilion commented on #18710
I am.
[code]

[2022-02-10 17:53] aanm commented on #16191
@pchaigno IMO it should be up to the user to setup the appropriated [readiness probes](https://kubernetes.io/docs/concepts/workloads/pods/pod-lifecycle#container-probes) for the initcontainers which would be signalized by kubelet once the hostport was ready to receive connections.

[2022-02-10 19:56] joestringer opened #18773 "Cilium segfaults with --enable-l7-proxy=false"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

A user reports that Cilium hit a segfault when the l7 proxy was disabled.

### Cilium Version

1.11.1

### Kernel Version

n/a

### Kubernetes Version

n/a

### Sysdump

_No response_

### Relevant log output

[code]

### Anything else?

_No response_

### Code of Conduct

- [X] I agree to foll

[2022-02-10 19:59] kimeirik-crayon commented on #18773
Deployed with this values.yaml with helm, single node.

(intentionally garbled some ipv6 addresses in the copy/paste.)
`bpf:
  hostRouting: false
  lbBypassFIBLookup: false
  lbExternalClusterIP: true
  masquerade: false
  tproxy: true
cluster:
  id: 1
  name: brg-k3s
containerRuntime:
  integration: containerd
  socketPath: /var/run/k3s/containerd/containerd.sock
devices: enp1s0f0
enableIPv4Masqu

[2022-02-10 22:35] andy-v-h opened #18775 "Expand CIDRs in `cilium policy trace`"
## Proposal / RFE

When using `cilium policy trace` I would expect if a policy allows `cidr:172.16.0.0/20` and I set the `--src` to `cidr:172.16.0.0/24` the command would return an `ALLOWED` verdict. However, only `172.16.0.0/20` returns an `ALLOWED`  verdict. It looks to me like there is not any CIDR math done to check if a subnet belongs in the listed CIDR.

It would be very helpful if the CIDR

[2022-02-11 00:19] christarazi opened #18776 "Make Cilium more robust when there are many resources to sync from Kubernetes upon startup"
## Proposal / RFE

**Is your feature request related to a problem?**

Users can hit `Timed out waiting for pre-existing resources to be received; exiting` which is a fatal error, when their cluster contains many resources such as CNPs, KNPS, etc. such that downloading and syncing the entire state from Kubernetes takes a relatively long time.

This timeout value can be configured via `--k8s-sync-ti

[2022-02-11 00:27] aditighag commented on #18776
Another thing I would like to propose is having variable cache timeouts. Depending on the cluster deployments, certain resources like CNPs/KNPs can take longer time to download as compared to the other resources. Also, cache timeouts are internal details, and it'll be nice if we had some kind of adaptive mechanism for incrementally increasing the values without users having to tinker with them.

[2022-02-11 00:32] aanm commented on #18776
That's what is in the proposal. The timeout will only be hit if there are no events from k8s within N minutes *and* the k8s caches are not synced.

[2022-02-11 01:50] #17766 closed

[2022-02-11 03:04] lrouter commented on #17277
It's the output from CiliumNode. As you see, it's a single list and there are conficts.

[2022-02-11 07:50] kimeirik-crayon commented on #18773
No L7 policies:
[code]

[2022-02-11 10:06] brb commented on #18710
I meant on your host (e.g., https://bbs.archlinux.org/viewtopic.php?pid=1903965#p1903965). ` Cgroup Version: 1` indicates that the cgroup v1 is used.

[2022-02-11 13:19] sayboras commented on #18239
I have performed some test in both master and v1.10.7 releases, please find below details.

In short, while there is a warning in operator logs on instance not found, cilium agent on new node is still managed to start shortly after that, this is for both master build and v1.10.7.

Feel free to let me know if there is anything that I could have missed here.

<details>
<summary>Installation configur

[2022-02-11 14:40] aanm opened #18787 "CI: ipset v7.5: The set with the given name does not exist"
### Test Name

[code]

### Failure Output

[code]

### Stack Trace

[code]

### Standard Output

[code]

### Standard Error

[code]

### Resources

- Jenkins URL: https://jenkins.cilium.io/job/Cilium-PR-K8s-1.16-kernel-4.9/789/testReport/junit/Suite-k8s-1/16/K8sConformance_Portmap_Chaining_Check_connectivity_check_compliance_with_portmap_chaining/
- ZIP file(s):
[f3a59c11_K8sConformance_Portmap_Ch

[2022-02-11 16:40] pchaigno commented on #18787
I think this is caused by a race between `AddToNodeIpset()` and `removeRulesAndIpsets()`.

These two functions are called from the agent with the following summarized stack trace:
[code]
The initialization of k8s watchers uses goroutines so both function may execute at the same time.

`AddToNodeIpset` creates the ipset then adds the given IP address to that ipset. At the same time, `InstallRules`

[2022-02-11 18:09] pchaigno opened #18791 "CI: Runtime: Cancelling nested steps due to timeout"
The `copy and boot VMs` step fails after 31 minutes with:
[code]

Opening this to track it and see if we need to increase the timeout.

[2022-02-11 19:00] joestringer commented on #18749
Hi @mimek , are you able to share the exact policy corresponding to the drop that you linked there? I imagine that it's similar to the one you shared above, but the IP `10.200.108.143` does not fall inside the policy that you shared above.

It could also help to send such traffic and then take a sysdump, so that we can understand more about the state of the system - eg Cilium bpf policymap content

[2022-02-11 19:36] vincentmli commented on #18730
@joestringer @pchaigno I am thinking about VTEP map implementation,  for example now we have in ipcache map for VTEP like below

[code]

the new VTEP map output I have in my mind is something like

[code]

since the new VTEP map key is more like a CIDR, I think maybe BPF `LPM_MAP_TYPE` is better fit than `BPF_MAP_TYPE_HASH`, so when cilium does VTEP lookup for destination VTEP endpoint IP `10.1.5.

[2022-02-11 20:18] gfsuse opened #18792 "packet from container is dropped at the host lxc i/f when packet first redirected to intermediate container and then goes to lxc i/f"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

we have a POD in k8s cluster, this POD has i/f eth0(index 61) pair with lxcXXX i/f(index 62) on the host, we issue a single DNS query packet from POD to DNS service without any issue.
However after we redirected udp packet to an intermediate POD and then intermediate POD send packet to the same

[2022-02-11 21:24] vincentmli commented on #18792
Can you describe  "redirected udp packet to an intermediate POD" more in detail, pod->intermediate pod-> 10.43.0.10:53 ? how do you do that?

[2022-02-11 21:51] gfsuse commented on #18792
I attached a picture which should be very clear about how we use an intermediate POD to intercept packet and then send back to lxc
<img width="829" alt="cilium_test_datapath" src="https://user-images.githubusercontent.com/95308753/153675261-993a6561-2be4-40e7-8264-73bb6bb61523.png">

[2022-02-12 02:26] gpl commented on #16966
Re-opening as it looks like the issue still persists with quay.io/cilium/cilium-ci:v1.11

[code]

[2022-02-13 12:59] jrajahalme commented on #16852
Observed same fail/flake in the same test in kernel-5.4 pipeline in https://jenkins.cilium.io/job/Cilium-PR-K8s-1.21-kernel-5.4/504/testReport/junit/Suite-k8s-1/21/K8sDatapathConfig_AutoDirectNodeRoutes_Check_connectivity_with_sockops_and_direct_routing/

[2022-02-13 13:07] AlekseyMelikov commented on #18334
@joestringer thanks for such a detailed answer. Tell me please, as far as I understand, the cilium supports work with the consul. In your post, you talk about running cilium with etcd. Is it possible to use consul instead of etcd? Or are there any restrictions when running cilium with the consul?

[2022-02-14 08:39] jibi commented on #18759
Hi @Ljohn001 and thanks for the report!

Are you able to reproduce this (i.e. does enabling NodeLocal DNSCache bring back the issue)?

[2022-02-14 10:28] brb commented on #16966
@gpl This got fixed by https://github.com/cilium/cilium/pull/18336 which hasn't been released yet.

[2022-02-14 11:07] gpl commented on #16966
We pulled the latest image from quay.io/cilium/cilium-ci:v1.11 a few days ago, which had commit # 38d77d4 -- would the patch #18336 not be included there?

[2022-02-14 13:54] brb commented on #16966
The PR wasn't backported to the v1.11, so it should not have the fix. You could try `:latest` instead.

[2022-02-14 14:27] gpl commented on #16966
Thank you for your reply -- we just attempted quay.io/cilium/cilium-ci:latest (I think cilium-ci:f08dda3df84f) but we are still seeing the same issue, `Service backend not found`.

[2022-02-14 18:28] joestringer commented on #18730
That makes sense. There are some routines already in `pkg/cidr/` to even help you with detecting conflicting VTEP CIDRs.

[2022-02-14 18:51] joestringer commented on #18792
Hi @gfsuse , are you able to provide a high-level description of the use case that you are trying to solve?

It's difficult to provide guidance on an issue like this without understanding the goal of the redirects, as it may be that there are other ways to solve the use case that you have in mind. Beyond that, it would help to have as many concrete details as you can provide, such as which softwar

[2022-02-14 19:23] vincentmli commented on #18730
@joestringer thanks for the comment, I have draft VTEP map golang code below, and trying to generate `pkg/maps/vtep/zz_generated.deepcopy.go` with `make generate-k8s-api`, no success, something I am missing ?

[code]

[2022-02-14 19:51] joestringer commented on #18644
Agree. Here's what I would expect: Cilium starts up, it scans all of the devices on the system, and if any IP addresses are assigned to local devices, then it will consider those IPs to be "host", consider them as part of the cluster, exclude them from CIDR policy, and apply policy based on the host for traffic to/from those IP addresses.

If the IPs are not directly attached to devices on the sys

[2022-02-14 19:55] joestringer commented on #18644
Related to the above, maybe `--exclude-local-address` should be used when deploying node-local DNS to ensure consistent behaviour?

[2022-02-14 19:57] joestringer commented on #18730
I think that each package which needs autogeneration needs to be added specifically in the Makefile target for k8s-generate-api.

[2022-02-14 20:53] alkarp opened #18804 "returning packets are unexpectedly blocked"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

I'm running cilium in an audit mode and I get sporadic audit ("would be blocked") events for **returning** TCP and UDP packets (corresponding events are spotted with `hubble observe --type policy-verdict --verdict AUDIT`).

for example returning DNS UDP traffic from kube-dns to an application p

[2022-02-14 21:48] Woidla27 commented on #14658
Has anyone found a workaround?
Tried `net.ipv4.conf.lxc*.rp_filter = 0` without success

`Linux kube01 5.10.0-11-amd64 #1 SMP Debian 5.10.92-1 (2022-01-18) x86_64 GNU/Linux`
`systemd 247 (247.3-6)`

[2022-02-14 22:51] aanm commented on #18746
@farodin91 sorry, I mean the hubble output with a `--output json`

[2022-02-14 22:54] aanm commented on #17811
@dirtyValera yes, in https://github.com/cilium/cilium/pull/17851

[2022-02-14 22:55] aanm commented on #18644
Could this be related to https://github.com/cilium/cilium/issues/17839?

[2022-02-15 01:55] #18085 closed

[2022-02-15 03:13] Ljohn001 commented on #18759
Thanks for your reply, I open nodelocaldns can reappear.

[2022-02-15 04:42] aditighag commented on #18759
Did you enable node-local dns using LRP - https://docs.cilium.io/en/v1.11/gettingstarted/local-redirect-policy/#node-local-dns-cache?

[2022-02-15 08:19] Ljohn001 commented on #18759
Thanks for your reply, I'm not using LRP

[2022-02-15 08:19] Ljohn001 commented on #18759
Thanks for your reply, I'm not using LRP

[2022-02-15 08:50] sorryforyou opened #18806 "Error: Kubernetes cluster unreachable:"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

 helm install cilium cilium/cilium --version 1.11.1 \

Error: Kubernetes cluster unreachable: Get "http://localhost:8080/version?timeout=32s": dial tcp [::1]:8080: connect: connection refused

Why is this？

### Cilium Version

-bash: cilium: 未找到命令

### Kernel Version

Linux k8s-master 3.10.0-11

[2022-02-15 09:25] gandro commented on #18239
We also tested the above configuration without the `cni` section and it also works with the master branch. We expect the upcoming Cilium v1.11.2 to fix the issues reported here.

[2022-02-15 10:07] m-yosefpor commented on #14240
any updates on this?

[2022-02-15 10:29] jibi commented on #18806
Hi @sorryforyou, can you add some more detail on the setup please? Is this a managed environment?

[2022-02-15 13:14] mlosekWA commented on #18749
Hi @joestringer,
thanks for follow-up, currently I have applied below networkpolicy:
[code]

I'm attaching cilium sysdump created during making some requests on that traffic and hubble outputs.
[cilium-sysdump-20220215-135057.zip](https://github.com/cilium/cilium/files/8069326/cilium-sysdump-20220215-135057.zip)

[hubble.txt](https://github.com/cilium/cilium/files/8069334/hubble.txt) (Actually a j

[2022-02-15 13:46] brb commented on #18085
@joestringer The test suite has been completely restructured, so I guess we are OK with the GH bot closing the issue.

[2022-02-15 14:22] brb opened #18810 "CI: DNS validation might fail due to running dig on log-gatherer which runs on non-cilium node"
When validating whether the DNS service has been plumbed correctly in the `KubernetesDNSCanResolve()` function, we randomly select the `log-gatherer` pod and then run `dig` query. If we get unlucky, we might select the log-gatherer which runs on the node which doesn't run Cilium (aka `NodeWithoutCilium` or just `k8s3` on the net-next CI job). Because we don't install the kube-proxy-replacement on

[2022-02-15 14:36] brb commented on #16966
It works. Tried running the latest master image (built with `make dev-docker-image`). Also, we have the CI suite which checks that too - https://github.com/cilium/cilium/blob/master/test/k8sT/Services.go#L746. Please check whether the service has backends.

[2022-02-15 14:36] #16966 closed

[2022-02-15 14:46] pchaigno opened #18811 "Support `CB_POLICY` for deny policies"
In our policy enforcement layer in the datapath, we use the `CB_POLICY` metadata bit to skip all policy enforcement.
https://github.com/cilium/cilium/blob/c8ddc064cdc42564338fe95be2ff3383232e8cca/bpf/lib/policy.h#L215-L216
This however won't work as expected with deny policies. We might need to fix it.

"Might" because it's also not clear why `CB_POLICY` is needed. In all cases I checked, we set t

[2022-02-15 16:08] joestringer commented on #18085
Yeah, this is maybe more of a wishlist item than anything. I still don't have a great workflow for figuring out which test is relevant when some portion of the test name is identical, which could be either solved by coming up with a better workflow or discouraging duplicate test name statements. Either way, this is not a super common workflow for me so I'm okay to just figure it out again as neede

[2022-02-15 17:58] gfsuse commented on #18792
Hi @joestringer, thanks for replying, the reason we redirect traffic is because we want intercept traffic using our own enforcer POD(intermediate POD) to deep inspect packet, we used PACKET_MMAP to receive/transmit packet(https://www.kernel.org/doc/Documentation/networking/packet_mmap.txt), as illustrated in above diagram, the packet from POD will first go to vin and then by "tc cls_u32/tc action"

[2022-02-15 19:07] brb commented on #18810
False alarm. We have `logGathererSelector(false)` which excludes nodes w/o Cilium. I was hitting the other bug which got resolved in the https://github.com/cilium/cilium/pull/18812 PR.

[2022-02-15 19:07] #18810 closed

[2022-02-15 21:24] andy-v-h opened #18816 "`hubble-ui` `backend` container file permissions issue on loading client cert for `hubble-relay`"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

When using mTLS between `hubble-relay` and `hubble-ui`, the backend pod cannot open the `client.crt` with mode `0400` set (or `256` in decimal).  This looks possibly related to https://github.com/cilium/cilium/issues/18732, but as that was closed with a workaround via `kubectl port-forward` I'd

[2022-02-15 21:28] andy-v-h commented on #18816
I've worked around this projected volumes issue on other charts by using an `init-container` to move the certs to a new directory and `chown` and `chmod` the files.

[2022-02-15 21:48] andy-v-h commented on #18816
After investigating the chart further, I found I can set the security context to run as root, and Hubble UI works as shipped. I'd still advocate for a change that allows to work as not root.

[2022-02-16 01:13] sorryforyou commented on #18806
HI @jibi ，This is the cluster I built on my own server. The cluster has been initialized and has not joined any nodes. The installation command is based on the information on the official document。

[2022-02-16 01:14] sorryforyou commented on #18806
helm install cilium cilium/cilium \

Error: Kubernetes cluster unreachable: Get "http://localhost:8080/version?timeout=32s": dial tcp [::1]:8080: connect: connection refused

[2022-02-16 01:53] #17671 closed

[2022-02-16 01:57] vincentmli opened #18817 "cilium bpftool Error: failed to get btf"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

I am trying to use bpftool to debug map lookup issue but get following error:

kubectl exec -it cilium-r7zgn -n kube-system -- bpftool map list --bpffs -j | jq '.[] | select( .type == "lpm_trie" )' | jq

[code]
dump map
 kubectl exec -it cilium-r7zgn -n kube-system -- bpftool map dump id 545 |

[2022-02-16 07:15] gpl commented on #16966
Thank you for the clarification -- it looks like locally building the image did the trick.

[2022-02-16 07:32] pretty66 commented on #18759
I also encountered the same problem. Is there a way to solve this problem!

[2022-02-16 08:15] reep-afk commented on #17692
Meanwhile we have tried more debugging on this... we tried pwru and hubble observe but the output doesn't really help us a lot... does it give anybody else an idea, what might be going wrong?

this is the working case:
root@shoot--ringdev--cilium-test-worker-ryg26-z1-5b6bb-t7n86:/home/cilium# hubble observe --ip 52.47.209.216
Feb 14 15:17:33.622: default/nginx:43946 -> 52.47.209.216:80 to-stack FO

[2022-02-16 08:17] reep-afk commented on #17692
We actually did the same with [pwru](https://github.com/cilium/pwru):

**output of a working connection:**
markus@ubuntu:~/cilium$ cat pwru_output_working_outbound_connection.txt
               SKB          PROCESS                     FUNC        TIMESTAMP
0xffff9e13d17588e0        [<empty>]           __ip_local_out    3602471645673
0xffff9e13d17588e0        [<empty>]             nf_hook_slow    3

[2022-02-16 08:18] mhulscher commented on #18759
This might be related to this issue? https://github.com/cilium/cilium/issues/18644

[2022-02-16 08:22] mhulscher commented on #18644
I encountered the same issue; where deploying node-local-dns with a bind on 169.254.20.10 on the hostNetwork would sometimes work, sometimes it wouldn't. I worked around this by deploying node-local-dns with the CiliumLocalRedirectPolicy, as per the docs, and adding a secondary CLRP to forward traffic destined for the legacy address of 169.254.20.10 to node-local-dns as well.

[code]

[2022-02-16 10:28] jibi commented on #18806
This seems unrelated to Cilium :thinking:
Is access to the cluster correctly configured on the machine where you are running the `helm` command? (e.g. does `kubectl` work?)

[2022-02-16 11:37] YutaroHayakawa opened #18818 "Unify the term points to the BPF Host Routing"
Historically, BPF Host Routing was called Fast Redirect at some point. However, currently, we decided to go with "BPF Host Routing". We need to fix the code or comments that use the term Fast Redirect (or similar) to "BPF Host Routing".

Example of the place using Fast Redirect term
- https://github.com/cilium/cilium/blob/master/bpf/bpf_lxc.c#L910
- https://github.com/cilium/cilium/blob/master/dae

[2022-02-16 11:48] ysksuzuki opened #18819 "Unmanaged endpoints on rebooted nodes"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

We get some unmanaged endpoints on rebooted nodes.

[code]

We observed the following scenario in our environment. Please see the debug log attached below. We configure our in-house CNI in conjunction with Cilium CNI using generic-veth setup.

1. Before reboot, topolvm-node Pod that is derived

[2022-02-16 12:22] Ljohn001 commented on #18759
Thanks for your reply, I'm not using LRP.Now not sure what causes this problem

[2022-02-16 13:01] pchaigno commented on #17692
For the Hubble output, you'll get a lot more details if you disable monitor aggregation first (`bpf.monitorAggregation=none`). Watch out for the increased resource usage though!

[2022-02-16 13:04] ileixe commented on #18559
What's the exact PR to resolve this issue? As we've seen this issue for a while, I'm curious what was the root cause.

[2022-02-16 13:55] zapotah commented on #17738
Disabling the nodeport and loadbalancer xdp acceleration does avoid the crash, however, since this particular feature was what i set out to explore along with the istio integration, it doesnt exactly help that neither work '^.^ (disabling the nodeport and loadbalancer acceleration does not fix the hostns socket issue, coredns still gets stuck in waiting for kubernetes state)

[2022-02-16 18:10] qmonnet opened #18823 "Dual-license `bpf/` code as GPL 2.0 and 2-Clause BSD"
As part of [Cilium's work with the Linux Foundation](https://cilium.io/blog/2021/10/13/cilium-joins-cncf), CNCF made the request that the eBPF datapath code under `bpf/` be dual-licensed. The motivation for this is to be compliant with the [CNCF IP policy](https://github.com/cncf/foundation/blob/main/charter.md#11-ip-policy).

The selected licenses for the code are the [GPL 2.0](https://spdx.org/l

[2022-02-16 21:44] nannancy opened #18825 "Intra-node traffic is dropped while cross-node traffic is forwarded"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

I created all-allow-ingress policy in the destination namespace, then the flowing-in traffic are 60%~80% dropped. By digging it further, the problem can be described as follows:

node A and node B
source pods A_s, B_s (s for source, A_s and B_s are identical pods wtih same labels and annotation

[2022-02-16 21:50] thejosephstevens opened #18826 "IPSec with Tunneling not working on Kernel 5.4.176 w/ Cilium 1.11.1"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

I upgraded our Cilium in EKS from 1.11.0 to 1.11.1

After redeploying the cluster I ran into this failure on the agents
[code]

Shortly above that log, there was this
[code]

The setup also worked with 1.11.0.

The setup is this
[code]

### Cilium Version

[code]

### Kernel Version

[code]

##

[2022-02-16 21:51] nannancy commented on #18825
the sysdump file is too big I guess, I can't upload it here.
you can find it in [cilium slack](https://cilium.slack.com/files/U02JTL2CYKT/F033EUMQ5NE/cilium-sysdump-20220216-223453.zip) https://cilium.slack.com/files/U02JTL2CYKT/F033EUMQ5NE/cilium-sysdump-20220216-223453.zip

[2022-02-17 01:47] aditighag commented on #18581
@jrajahalme  TL;DR : In some cases, identities are being leaked in the sense they are not removed from the policy selected endpoint's BPF maps. cluster entity and identity churn seem to be exposing some bug.

**Note that this bug is reproducible only in v1.11.**

There is something funky going on with this code path - http://github.com/aditighag/cilium/blob/v1.11/pkg/policy/mapstate.go#L778-L778.

[2022-02-17 05:43] thejosephstevens commented on #18826
Okay, quick update, I tried migrating back to 1.11.0 and the problem is still present (same exact error). Going to keep digging, but right now I don't know what would have caused this

[2022-02-17 06:02] thejosephstevens commented on #18826
Hmmm, okay, so the error was introduced in [this PR](https://github.com/cilium/cilium/pull/14525/files). The probe is performing a full probe, not a kernel version check. The AMI is [this one](https://console.aws.amazon.com/ec2/v2/home?region=us-east-1#ImageDetails:imageId=ami-0778893a848813e52), looks like it was released 5 days ago. I just tried rolling back to [this AMI](https://console.aws.ama

[2022-02-17 08:05] sepich opened #18828 "panic on kube-router tun devices"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

We use kube-router to manage pod subnets routing
https://docs.cilium.io/en/stable/gettingstarted/kube-router/#verify-installation
As your docs mention, there are multiple `tun` devices which routes to nodes in another subnet via overlay.
[code]
Now if we try to start cilium with
[code]
it fails

[2022-02-17 09:18] wkhno opened #18829 "nodes had taint{harm.cn/system: }"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

I had a cluster build with kubeadm and k8s version 2.12 I run the demo and follow the instruction https://docs.cilium.io/en/v1.11/gettingstarted/http/#gs-http. Here is the bug report:Warning  FailedScheduling  65s   default-scheduler  0/3 nodes are available: 3 node(s) had taint {harm.cn/system

[2022-02-17 09:47] wazir-ahmed opened #18830 "Cilium segfaults when L7 visibility is enabled in conjuction with querying Hubble server using tcp-flag filter"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

1. Enable L7 visibility for a pod (add `io.cilium.proxy-visibility` annotation)
2. Enable Hubble and run hubble-observe with `tcp-flags` filter (`hubble obseve -f --tcp-flags syn`)
3. Send some HTTP traffic
4. `cilium-agent` which is responsible for providing the L7 visibility will crash due to

[2022-02-17 09:54] wazir-ahmed commented on #18830
I have analyzed this issue and will raise a PR to fix this.

[2022-02-17 09:58] qmonnet opened #18832 "CI: Travis fatal error: concurrent map iteration and map write in github.com/cilium/cilium/pkg/bgp/speaker"
## CI failure

- Hit on #18813
- Travis logs: https://app.travis-ci.com/github/cilium/cilium/jobs/559929791#L13212
- Travis logs (saved to GitHub): [log.txt](https://github.com/cilium/cilium/files/8087580/log.txt)
- Arch: arm64

[code]

Cc @ldelossa (BGP)

[2022-02-17 10:17] mhulscher opened #18833 "Feature request: Security groups for pods"
## Proposal / RFE

Currently Cilium allows attaching one or more SecurityGroups to pods running on nodes, by specifying these SecurityGroupIds in a custom cni configuration for cilium-agent: https://docs.cilium.io/en/v1.8/concepts/networking/ipam/eni/#eni-allocation-parameters

The AWS VPC CNI allows assigning a different SecurityGroup to Pods, based on a LabelSelector, see https://docs.aws.amazon

[2022-02-17 10:35] brb commented on #12690
Considering recent K8sServices suite refactoring, the flake might have fixed. Let's reopen if we gonna hit it on master branch again.

[2022-02-17 10:35] #12690 closed

[2022-02-17 10:37] brb commented on #13011
It should be fixed by #12511.

[2022-02-17 10:38] brb commented on #13400
Haven't seen this in awhile. Closing.

[2022-02-17 10:38] #13400 closed

[2022-02-17 10:43] brb commented on #13839
The recent K8sServices refactoring might have resolved the flake. Closing for now.

[2022-02-17 10:43] #13839 closed

[2022-02-17 10:44] brb commented on #15724
Haven't seen it in awhile, closing.

[2022-02-17 10:44] #15724 closed

[2022-02-17 10:47] nannancy commented on #18825
to replicate the issue, I provide the manifests and the test script. for me, the output of the test script shows that intra-node traffic are all denied.
[Archive.zip](https://github.com/cilium/cilium/files/8087959/Archive.zip)

[2022-02-17 10:48] brb commented on #16050
I haven't seen any failure in https://jenkins.cilium.io/view/Cilium-v1.9/job/cilium-v1.9-k8s-1.17-kernel-5.4/, so closing. @pchaigno Please reopen if you see any.

[2022-02-17 10:48] #16050 closed

[2022-02-17 10:49] brb commented on #16348
@aditighag Is the test case still flaky? If yes, do you plan to work on this?

[2022-02-17 10:51] brb commented on #16776
Nobody has posted anything, let's close it.

[2022-02-17 10:51] brb commented on #16720
@aanm I haven't seen the failure in awhile. Let's close it.

[2022-02-17 10:51] #16720 closed

[2022-02-17 10:52] brb commented on #16680
It's yet another pod2pod (bpf_sock xlation) issue. The recent K8sServices refactoring might have resolved it. Let's close it.

[2022-02-17 10:52] #16680 closed

[2022-02-17 10:56] brb commented on #17799
Haven't seen the failure in awhile. Closing for now.

[2022-02-17 10:56] #17799 closed

[2022-02-17 11:02] mKeRix commented on #17251
In case people find this thread through Google: aws-cni v1.10.2 (latest at the time of writing) switched to CNI config 0.4.0 as well. To get CNI chaining with aws-cni working you will need to downgrade to v1.10.1.

[2022-02-17 11:22] P-Maha007 commented on #13900
Am going through this issue and as part of my small exploration of this behavior,
I have tried changing the defaults to false as mentioned above for both apiRateLimitDefaults and apiRequestEndpointDelete and the result is still the same behavior

Would you like to explain a bit more about the requirement?
As per my understanding, logs are too noisy on pods creation and deletion so,

Would you like

[2022-02-17 13:23] sepich opened #18843 "bond is broken if slave device is not filtered"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

We have node with 2 network devices in bond:
[code]
Another nodes have single `enp*` interface, so we specified in global cilium config:
[code]
Now if we deploy cilium to this node, it starts with:
[code]
And after couple of seconds node connectivity is lost. If I login via IPMI i see that
- `i

[2022-02-17 14:07] #17692 closed

[2022-02-17 14:10] Maddy007-maha commented on #13900
Would you like to explain a bit more about the requirement?
As per my understanding, logs are too noisy on pods creation and deletion so,

Do we need to change the log level from INFO to something else on these requests
Or by default do we need to suppress these logs

[2022-02-17 14:17] nannancy commented on #18825
I by chance fixed this issue by disabling masquerade... Could anyone explain why this has something to do with masquerade? should these be disabled by default for EKS installation?
[code]

[2022-02-17 15:41] m-yosefpor commented on #18120
@pchaigno
As https://github.com/cilium/cilium/issues/14240. seems not to be fixed soon, we are interested to disable endpoint routes to be able to run on BPF mode. I wanted to know why is this required for Openshift? are there any workarounds which we can run cilium on openshift with endpoint routes disabled, and in BPF mode?

[2022-02-17 15:54] aditighag commented on #16348
The test is not flaky, it's a matter of making the test validation more reliable. Yes, I'll keep it in my queue.

[2022-02-17 16:12] brb opened #18846 "CI: Missing KIND features to have the same coverage as Vagrant"
This issue tracks all shortcomings of KIND which contribute to lower test coverage of the CI ginkgo suite when compared to when running on Vagrant.

- [x] XDP hack for veth ifaces (described in https://github.com/cilium/cilium/blob/master/test/l4lb/test.sh#L12).
- [x] Add secondary iface to KIND network, so that we can test the NodePort via secondary iface.

[2022-02-17 16:12] Nagendra-boyina commented on #18106
I would like to take up this issue , could you please assign to me?

[2022-02-17 16:50] ksekharben commented on #18692
I am exploring this issue. Can someone please assign this issue to me?

[2022-02-17 16:52] pchaigno commented on #17251
Adding support for CNI v0.4.0 would require us to support the new CHECK API (cf. https://github.com/containernetworking/cni/pull/579). Once that is done, it should be as simple as updating [the list of supported versions](https://github.com/cilium/cilium/blob/a1a47b76dde961baa77d33de5d21df53ab616980/plugins/cilium-cni/cilium-cni.go#L83) and [the version we test in CI](https://github.com/cilium/cil

[2022-02-17 17:29] vincentmli commented on #18730
@joestringer thanks for the tip, I added map `maps:vtep\` in `Makefile` target `generate-k8s-api`, still no success, I will figure it out later, I actually ran into another bigger problem in draft PR https://github.com/cilium/cilium/pull/18824#issuecomment-1043212460 and I am stuck, could you take a look at that draft PR when you have time  and see anything I am missing?

[2022-02-17 18:07] joestringer commented on #18792
I see. For what it's worth, Cilium's monitor code is reporting the reason for the drop, the packet is invalid. You would probably have to dig a bit deeper into the possible paths in the BPF code where that could be triggered to understand why the packet is considered invalid, and/or double check your own TC action code to make sure that it isn't breaking the packets in some way.

[2022-02-17 19:31] joestringer commented on #18447
:+1: here were the previous couple of tests that run, may be that these do not clean up after themselves correctly:

[code]

[2022-02-17 21:25] #16191 closed

[2022-02-17 21:27] borkmann commented on #17454
ping @krasenn

[2022-02-17 21:33] pchaigno opened #18850 "Provision HostPort service only once pods are Ready"
As discussed in https://github.com/cilium/cilium/issues/16191, we should provision the HostPort service for pods only once they are in Ready state.

We currently provision it as soon as the pods are created. Because of that, if a HostPort service also exists for an InitContainer in the pod, then the HostPort service of the Container will point to the InitContainer's. That might be unexpected for u

[2022-02-17 21:34] pchaigno commented on #16191
I've filled https://github.com/cilium/cilium/issues/18850 for this bug.

[2022-02-17 22:15] vincentmli commented on #18730
I made some progress on the draft PR,  it looks simply copy/pasting/edit of TUNNEL_MAP implementation to VTEP map does  not  get the job done, it requires actually understanding how it works underneath, if not all, but at least at some level :)

[2022-02-17 22:18] recollir commented on #18485
@farodin91 can you go into the details of the systems config fix you did? On what Linux is this? We experience similar symptoms on with Cilium 1.10.4 on Ubuntu 20.04. Though it envolves often restarting tens of agents. Did you notice any high number of conntrack insertion fails?

[2022-02-17 23:05] jrandall opened #18851 "Restore support for consul as a kvstore backend"
## Proposal

With the 1.11 release, support for consul as a kvstore backend has been documented as being deprecated. Mentions of consul were removed from the documentation and the reason for deprecation was listed as being "due to a lack of community interest".

The commit message (in https://github.com/cilium/cilium/pull/17993) provides a bit more detail:

I guess one (possibly intended?) side ef

[2022-02-17 23:26] jrandall commented on #18334
I found old documentation for Cilium 1.9 that gives an example of how to run Cilium outside of Kubernetes, which is a helpful place to start when looking into running Cilium with Nomad: https://docs.cilium.io/en/v1.9/gettingstarted/docker/

Most of the detail of interest are in the (now removed) example for getting started using Vagrant and docker-compose (which actually spins up a consul cluster

[2022-02-17 23:49] ysksuzuki commented on #18819
I could confirm that this issue didn't happen if I placed the node taint `node.cilium.io/agent-not-ready` with the effect NoExecute on node reboots. With the taint, all pods including pods derived from Daemonset are evicted and all CiliumEndpoints are recreated as well.

[2022-02-18 03:33] #18728 closed

[2022-02-18 05:17] vincentmli commented on #18817
@qmonnet I did further testing on cilium v1.10.0 which ship bpftool version `v5.9.0` that does not have this problem

[code]
cilium v1.11.1 ships bpftool version `v5.15.0-rc3`
[code]

[2022-02-18 08:27] #18825 closed

[2022-02-18 08:59] lx1036 opened #18852 "Cilium 1.11 bgp announce wrong pod cidr"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

Hi, i have a question: bgp announce wrong pod cidr. I deploy cilium v1.11.1 with cluster-pool ipam, and
[code]

And the bgp connection is established. BGP announce 10.216.137.0/24 for NodeA which is ipamed by kube-controller-manager with --allocate-node-cidrs=true, but the pod cidr for NodeA is

[2022-02-18 10:07] qmonnet commented on #18817
Thanks a lot for the report!

Would you have a chance to try on your v1.10.0 setup with the latest version of bpftool, to see how it goes? Just to confirm it's a bpftool regression. If you don't have the kernel sources at hand, you can now compile bpftool [from its mirror](https://github.com/libbpf/bpftool), it should be straightforward (Otherwise I'll look myself when I have a moment).

[2022-02-18 11:07] fr19k opened #18855 "Cannot define multiple interfaces for Masquerading/KubeProxyReplacement"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

I'm trying to enable Masquerading & KubeProxyReplacement for two interfaces

in my VM there is many interfaces(eth0 - eth6), and i want to enable Masquerading & KubeProxyReplacement only for eth1 & eth5

In cilium configMap i'm setting

`devices: eth1,eth5`

But after restart cilium daemonset i

[2022-02-18 12:06] fr19k commented on #18855
My mistake...

device setting should look like :

devices: eth1 eth5

[2022-02-18 12:06] #18855 closed

[2022-02-18 12:28] pchaigno opened #18856 "IPsec enable failed on EKS: unable to replace state: invalid argument"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

I'm failing to install Cilium with IPsec enabled on an EKS cluster. The installation of xfrm states apparently fails with `invalid argument` (see below).

### Cilium Version

quay.io/cilium/cilium:v1.11.1@sha256:251ff274acf22fd2067b29a31e9fda94253d2961c061577203621583d7e85bd2

### Kernel Versio

[2022-02-18 12:53] chenk008 commented on #18818
Can I pick this issue and submit a PR?

[2022-02-18 14:43] pchaigno commented on #18826
Let's reopen until it's fixed upstream.

[2022-02-18 15:28] vincentmli commented on #18817
my understanding is  the bpftool is shipped within the v1.10.0 cilium agent container image, if I compile latest bpftool on my host, how do I make sure when I run `kubectl exec -it cilium-rbj6p  -n kube-system -- bpftool version`, the bpftool is invoked from the host build bpftool, not from the cilium agent container image? maybe I am missing something obvious ? :)

[2022-02-18 16:21] vincentmli commented on #18817
I got it, indeed I can run bpftool on host/node to query the same cilium map, I will compile latest bpftool

[2022-02-18 17:17] qmonnet commented on #18817
Interesting (thanks a lot!). If you have bpf-next ready, would you mind checkout out the sources around v5.15.0-rc3 to compile bpftool and double-check if it works on cilium v1.10?

[2022-02-19 11:13] zhanghe9702 opened #18861 "test: privileged_tests failed in two different situations"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

in fact , i was ran `integration-tests` with my code modification, i found that even in latest master branch(no code modify),  `make tests-privileged` always failed, in my home machine, it failed with BPF program bpf_lxc.o  load failed, in my work machine, it was failed in `TestArpPingHandling`

[2022-02-19 11:20] zhanghe9702 commented on #18861
#18680

[2022-02-19 11:24] zhanghe9702 commented on #18861
/help-wanted

[2022-02-19 12:57] pchaigno commented on #18856
It's also broken on k8s 1.18 and 1.19.

[2022-02-19 14:09] chenk008 commented on #18818
Should we rename `bpf.hostRouting` to `bpf.hostLegacyRouting` in ciliumconfig?

[2022-02-19 14:13] tklauser commented on #18856
This is likely the same failure as #18500. The fix #18506 was backported to the `v1.11` branch, but `v1.11.1` (the version reported in this issue) does not contain that fix yet.

[2022-02-19 15:34] pchaigno commented on #18856
Thanks Tobias! I can confirm the issue is gone if I use the `latest` images.

[2022-02-19 15:35] #18856 closed

[2022-02-19 17:30] vincentmli commented on #18861
@zhanghe9702 you mean all you did is to clone the master branch to your local machine and run `make tests-privileged` to reproduce the `"invalid size of register spill"` the problem? I did so and I could not reproduce the issue. could you share step by step reproduction? what Ubuntu version you run, any custom installation ...etc. sysdump might be helpful too.

[2022-02-20 02:52] koncha99 commented on #18761
@brb Hi! Can I pick this one?

[2022-02-20 06:40] zhanghe9702 commented on #18861
@vincentmli , yes,  only 3 steps ( on above, i have give the commit information)

1. `git clone https://github.com/cilium/cilium.git && git checkout -b master`
2. `sudo -s`
3. `make tests-privileged`
cilium sysdump or cilium bug-tool looks like collect logs from running node, test binary has some equivalent options? you can told me , i can re-run it on my environment. by the way, my work/home mach

[2022-02-20 17:13] vincentmli commented on #18861
@zhanghe9702 I did the three steps on a Ubuntu 21.10 VM, `make tests-privileged` gives me error

[code]
I am not familiar with Cilium test and I hope someone else can offer you better advice :).

[2022-02-21 01:48] #18079 closed

[2022-02-21 06:16] ysksuzuki opened #18865 "The label k8s:io.cilium.k8s.namespace.labels in fromEndpoints doesn't work"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

Cilium drops packets from the source that is allowed with the label k8s:io.cilium.k8s.namespace.labels in fromEndpoints.

1. Create a cluster with kind and install Cilium 1.11.1

[code]

2. Apply the following manifest.

[code]

3. Ping the server Pod from the client Pod.

[code]

### Cilium Ve

[2022-02-21 06:27] zhanghe9702 commented on #18861
another machine info:
[code]

[2022-02-21 06:45] zhanghe9702 commented on #18861
test result(ignored PASS TESTS):
[code]

[2022-02-21 07:25] zhanghe9702 commented on #18861
maybe the same problem i have found:)
#18511

[2022-02-21 08:44] sayboras commented on #18692
:wave:

I just assigned issue to you, feel free to touch base in #development channel from cilium slack.

[2022-02-21 09:00] brb commented on #18761
@koncha99 Sure. Thanks!

[2022-02-21 10:13] alegrey91 commented on #18641
@brb, Here's the [CFP](https://docs.google.com/document/d/1NLMbDnDPYydxKQ7TmR2omP3cGWpjE2Ktyl72Sh8s3nk/edit?usp=sharing). It's set in suggesting mode for everybody, as requested.

[2022-02-21 10:20] gandro commented on #18852
Hi @lx1036 - the BGP feature on v1.11 only supports `ipam: kubernetes` unfortunately. With `ipam: cluster-pool`, the pod CIDR is populated in the `CiliumNode` CRD, _not_ the K8s Node object.
Support for `ipam: cluster-pool` didn't make it to v1.11, but will be available in v1.12: https://github.com/cilium/cilium/pull/17899

However, I don't think we support mixing `cluster-pool` with `kubernetes`

[2022-02-21 10:40] lx1036 commented on #18852
@gandro  very thanks for your answer.  appreciate your great work.

[2022-02-21 10:59] lx1036 commented on #18852
yes, the mixing `cluster-pool` with `kubernetes` is not good. i saw your pr code, and think about either CiliumNode or K8s Node, so i don't need to close kube-controller-manager ipam by `--allocate-node-cidrs=false`.

it's great. thanks for your great work.

[2022-02-21 11:22] gandro commented on #18852
Great to hear! Just to confirm: Besides the missing/broken BGP announce support for clusterpool in v1.11, there are no other issues, correct?

[2022-02-21 11:39] gandro opened #18866 "Refactor Hubble Relay peer service to use CiliumNode subscriber"
The Hubble Relay peer service server currently relies on the datapath node update subscriber to discover Cilium peers:

https://github.com/cilium/cilium/blob/794ce347d1e59b3ce9f15c3b8b4c845582c51d64/pkg/datapath/node.go#L107-L136

Implemented here - as you can see, most methods are just stubbed out (because Relay doesn't care about datapath configuration changes, it just needs to know about node u

[2022-02-21 14:50] YutaroHayakawa commented on #18818
I agree that it is confusing, but I think we should think about it in a different issue since it changes the user interface.

[2022-02-21 14:53] recollir opened #18868 "Pod to pod intermittent connection issues with ipam:eni and IPsec enabled"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

Hi everyone,

we have recently migrated a Kubernetes cluster from the AWS CNI plugin to Cilium 1.10.4 and since then we have experienced intermittent pod to pod connection issues. The issue started showign up a couple of days after the migration was completed, it doesn't seem to be bound to any

[2022-02-21 14:53] Frankkkkk commented on #18706
(just passing by, but I have the same problem while trying ubuntu 21.04 (systemd 247.3). A restart of `systemd-networkd` makes it loose the ip rules, thus it won't accept RAs anymore, thus no SLAAC IPv6, etc. Potho's fix https://github.com/cilium/cilium/issues/18706#issuecomment-1031572546 makes it work again.)

[2022-02-21 16:01] vincentmli commented on #18861
I made the changes from https://github.com/cilium/cilium/pull/18512, still the same error :(

[2022-02-21 16:02] aanm commented on #18865
Hello @ysksuzuki thanks for opening the GitHub issue. CiliumNetworkPolicy is namespaced and therefore when there isn't a namespace defined in `fromEndpoints`, Cilium will automatically select the endpoints on the same namespace where the policy is deployed. In this case the `server` namespace. The user can overwrite this selection by manually setting the namespace in the form of `k8s:io.kubernetes

[2022-02-21 17:13] ysksuzuki commented on #18865
Thank you so much for explaining in detail!

I didn't understand this.

In our case CiliumClusterwideNetworkPolicy would be better because we can avoid specifying all namespaces that belong same team.

[code]

[2022-02-21 17:14] #18865 closed

[2022-02-21 17:51] vincentmli commented on #18868
only giving some thought here :), can you make sure if the SYN really arrived at NB by tcpdump on proper network interface on NB from your network path? if SYN did arrive at NB and dropped for some reason, maybe run PWRU https://github.com/cilium/pwru on NB to see if any clue there?

[2022-02-21 19:44] batistein opened #18871 "Cilium kube-proxy free doesn't run with konnectivity service"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

When trying to run cilium in kube-proxy free mode together with the konnectivity-server and konnectivity-agents see: https://kubernetes.io/docs/tasks/extend-kubernetes/setup-konnectivity/

I'm getting the following error on the cilium operator:
`level=error msg="Unable to contact k8s api-server

[2022-02-21 20:49] ArsenyBelorukov commented on #17547
@christarazi backed is healthy. Dataplan has not been ready when announcement already works.

[2022-02-21 21:51] maintainer-s-little-helper[bot] opened #18873 "CI: K8sUpdates Tests upgrade and downgrade from a Cilium stable image to master"
### Test Name
[code]

### Failure Output
[code]

### Stacktrace
<details><summary>Click to show.</summary>

[code]
</details>

### Standard Output
<details><summary>Click to show.</summary>

[code]
</details>

### Standard Error
<details><summary>Click to show.</summary>

[code]
</details>

ZIP Links:
<details><summary>Click to show.</summary>

 https://jenkins.cilium.io/job/Cilium-PR-K8s-1.21-ker

[2022-02-21 22:00] joestringer commented on #16399
Hit similar symptoms in [this K8sServicesTest Checks N/S loadbalancing Tests with direct routing and DSR failure]( https://jenkins.cilium.io/job/Cilium-PR-K8s-1.23-kernel-net-next/523/testReport/Suite-k8s-1/23/K8sServicesTest_Checks_N_S_loadbalancing_Tests_with_direct_routing_and_DSR/).

[2022-02-22 01:56] lx1036 commented on #18852
yes, correct. thanks.

[2022-02-22 06:40] brb commented on #18873
cc @ti-mo

[2022-02-22 07:10] zhanghe9702 commented on #18861
https://github.com/cilium/cilium/blob/314ca7baeff4f568ffc0bad95124e40665b1f88c/Makefile.defs#L106

[2022-02-22 07:11] brb commented on #16399
@joestringer This is very likely going to be fixed by https://github.com/cilium/cilium/pull/18859

[2022-02-22 07:14] brb commented on #18871
@batistein Thanks for the issue. It looks that you are hitting the same issue as Istio / Linkerd. Can you try with `hostServices.hostNamespaceOnly: true` introduced in https://github.com/cilium/cilium/pull/17154?

[2022-02-22 07:28] akamac commented on #17026
My use case is to run a static pod, not in the hostNet, but be able to access it even before apiserver is up.

[2022-02-22 08:14] batistein commented on #18871
@brb good catch! Sorry this should be true, as I had also the same idea that it could be the same issue as Istio have... I have updated my issue now.
Anyway setting this to true or to false (i tried both) doesn't resolve the issue.
Maybe you have another idea?
According to my understanding it could also be a chicken egg problem, because cilium probably wants to connect to the kube-apiserver via th

[2022-02-22 08:34] alex-berger opened #18878 "Limiting Identity-Relevant Labels breaks CiliumNetworkPolicies"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

[Limiting Identity-Relevant Labels](https://docs.cilium.io/en/stable/operations/performance/scalability/identity-relevant-labels/) by setting the `labels` value in the `cilium-config` ConfigMap breaks CiliumNetworkPolicies which use `cluster` in `fromEntities`. All traffic is dropped as cilium

[2022-02-22 08:43] brb commented on #18871
Could you run konnectivity-agent in host netns? This would eliminate the chicken-egg problem.

[2022-02-22 09:07] brb commented on #18828
Thanks for the issue. It looks like the panic is a regression. Would you mind running a custom image with more debug information which would help us to track down the bug?

[2022-02-22 09:09] sepich commented on #18828
Sure, let's try this

[2022-02-22 09:49] #18852 closed

[2022-02-22 09:59] #17480 closed

[2022-02-22 10:39] batistein commented on #18871
You mean running it without cilium directly via the host network?

I tried it with the following deployment:

[code]

The result is still the same. The difference is now that i'm getting some logs from the konnectivity-agent like this:

[code]
The cilium operator is still restarting but now without the error message.

[code]

And the cilium pod is also restarting without the error message:

[code]

[2022-02-22 10:48] kruczjak commented on #16308
Hello, we've experienced same issue with regular `NetworkPolicy`.

Same policy worked on different CNI and broke after we've migrated to cilium.

[2022-02-22 12:18] liuyixian123 opened #18883 "how does cilium_net work?"
we all know that cilium agent will create veth-pair on host( cilium_host and cilum_net)? but what cilium_net is used for really make me  puzzled

[2022-02-22 15:23] carlosjgp commented on #18775
Bad news... looks like this command has been deprecated on `v1.11.x` and it doesn't show up on the docs anymore
https://docs.cilium.io/en/stable/operations/upgrade/#deprecated-options

I'm trying to figure out what to use instead of this incredibly useful command that has helped me so many times to figure out where is the mistake on my policies

:cry:

[2022-02-22 15:45] alex-berger commented on #18646
@christarazi Are you sure https://github.com/cilium/cilium/pull/14131 resp. `bpf_map_pressure` metric is working as expected? I am using Cilium version `1.11.1` with `metrics: +bpf_map_pressure` (in the `cilium-config` ConfigMap) but the `cilium_bpf_map_pressure` metric does not show up (there is no such metric reported/scraped).

[2022-02-22 15:53] recollir commented on #18868
Thanks for the link to PWRU. We will run it the next time we encounter the issue; in the meantime we have disabled IPsec encryption to see if the situation of connectivity problems improves (we are setting up a second cluster to reproduce the issues though).

tcpdump against any interface (`tcpdump -i any ...`)on NB (done directly in the host OS) does not see the packet. Shouldn't it be able to se

[2022-02-22 15:54] ldelossa commented on #18832
Should be fixed by: https://github.com/cilium/cilium/pull/18884

The read of the map at: `/home/travis/gopath/src/github.com/cilium/cilium/pkg/bgp/speaker/speaker_test.go:212 +0x918 fp=0x400068ff70 sp=0x400068f8c0 pc=0x134ac88`

has been removed all together.

[2022-02-22 15:54] alex-berger commented on #18646
My bad resp. bad documentation using `+cilium_bpf_map_pressure` (instead of `+bpf_map_pressure`) it works.

[2022-02-22 15:59] qmonnet opened #18885 "Documentation: Update the version for Sphinx"
The version of Sphinx (and other related packages listed in `Documentation/requirements.txt`) is rather outdated. Switching to a newer version could maybe help us benefit from more recent features (I've seen requests for `<details></details>` blocks), or improved Markdown parsing through MyST for the few cases where we use it (generated Markdown documentation).

[2022-02-22 17:21] #18300 closed

[2022-02-22 17:24] vincentmli commented on #18861
sorry not following what you mean, not familiar with the go build

[2022-02-22 18:39] rajivrameshyadav commented on #18861
@zhanghe9702 @vincentmli Thats the exact issue I'm seeing when I try to clone the cilium github repository and try to run a cilium agent. Did you guys manage to track the issue and if there's a fix available for this? Thanks

[2022-02-22 18:56] maintainer-s-little-helper[bot] opened #18889 "CI: K8sKafkaPolicyTest Kafka Policy Tests KafkaPolicies"
### Test Name
[code]

### Failure Output
[code]

### Stacktrace
<details><summary>Click to show.</summary>

[code]
</details>

### Standard Output
<details><summary>Click to show.</summary>

[code]
</details>

### Standard Error
<details><summary>Click to show.</summary>

[code]
</details>

ZIP Links:
<details><summary>Click to show.</summary>

 https://jenkins.cilium.io/job/Cilium-PR-K8s-GKE//769

[2022-02-22 19:31] vincentmli commented on #18883
@liuyixian123 maybe this? https://github.com/cilium/cilium/blob/master/pkg/datapath/iptables/iptables.go#L977-L1031

[2022-02-23 00:18] joestringer commented on #17672
From #18793, [gke-stable workflow](https://jenkins.cilium.io/job/Cilium-PR-K8s-GKE/7693/) failed in `K8sDatapathConfig IPv4Only Check connectivity with IPv6 disabled` with `Connectivity test between nodes failed`. Looking a bit closer, the archive is available, but we're lacking some basic information to debug further: (1) No hubble output in the test artifacts. (2) The test does not report which

[2022-02-23 00:25] maintainer-s-little-helper[bot] opened #18895 "CI: K8sVerifier Runs the kernel verifier against Cilium's BPF datapath: terminating containers are not deleted after timeout"
### Test Name
[code]

### Failure Output
[code]

### Stacktrace
<details><summary>Click to show.</summary>

[code]
</details>

### Standard Output
<details><summary>Click to show.</summary>

[code]
</details>

### Standard Error
<details><summary>Click to show.</summary>

[code]
</details>

ZIP Links:
<details><summary>Click to show.</summary>

 https://jenkins.cilium.io/job/Cilium-PR-K8s-1.23-ker

[2022-02-23 00:26] joestringer commented on #18895
Similarities to https://github.com/cilium/cilium/issues/18634 , but observed in the tree after merging #18448. Needs more investigation of the specific logs here to understand which test isn't cleaning up after itself, then look into why that test doesn't delete the pods correctly before continuing.

[2022-02-23 00:44] #18832 closed

[2022-02-23 00:44] ldelossa commented on #18832
Closing, linked pull merged

[2022-02-23 01:28] joestringer commented on #18733
Hi @thehunt33r , @michi-covalent and I were able to reproduce the issue that you described here.

The problem is that when you send traffic from pods inside the cluster towards an NLB (pod A -> NLB VIP), the NLB performs only DNAT (pod A -> NodePort VIP) and redirects traffic towards the NodePort on the node where the destination service lives. When the destination replies, the traffic gets sent d

[2022-02-23 01:47] joestringer commented on #18804
Hi @alkarp ,

We did a quick triage of the output that you shared, and I suspect that this is a bit of just confusion over the output. Specifically, there are three relevant fields in the output here:

[code]

EventType 5 here intends to communicate "Policy Log". The "Type" intends to communicate that this was "allowed by L3_L4 policy". The "verdict" type here intends to just say that this is a ve

[2022-02-23 02:56] zhanghe9702 commented on #18861
sry, maybe my fault, could you mv cilium folder to ~/go/src/github.com/cilium/cilium ?

[2022-02-23 07:32] chenk008 commented on #18883
It seems CILIUM_CALL_IPV4_FROM_HOST will invoke `rewrite_dmac_to_host` to write dmac to cilium_net's mac, so the cilium_net will redirect the package.

[2022-02-23 08:00] pretty66 opened #18900 "Configuring dns-based egress network rules causes dns resolution failure when this pod accesses any address."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

### I refer to the official documentation of cilium and configure the dns-based egress network rules, which causes the dns parsing to fail when the pod accesses any address，when I clear the egress rules network everything goes back to normal.
### According to cilium's official documentation, *.

[2022-02-23 08:18] brb commented on #18895
Just copy-pasting what I wrote internally regarding this:

[2022-02-23 08:23] pengfeiopen commented on #16644
when you ( restart firewalld), Cilium iptables rules are clean

[2022-02-23 08:45] brb commented on #18871
Yep, I meant `hostNetwork: true` so that the konnectivity pod could be started w/o Cilium. Maybe mTLS (if used) is failing. I suggest to check with tcpdump to see what happens with the `Establishing connection to apiserver` request.

[2022-02-23 08:51] batistein commented on #18871
is cilium using mTLS internally? Right now no Service Mesh is deployed. I will check the dcpdump

[2022-02-23 08:54] brb opened #18902 "CI: Add NodePort over IPIP tunnel to test L2 <=> L3 netdev redirects"
Otherwise, we will eventually introduce a regression (ctx: https://github.com/cilium/cilium/issues/17176#issuecomment-1024634569)

[2022-02-23 09:06] brb commented on #18828
@sepich Please try `quay.io/cilium/cilium-dev:dbg-mac-panic@sha256:daf6e2f9a8e1363b2e67827761920d47301371f708eec9a0efe4901183a206a0` (https://github.com/cilium/cilium/pull/18901).

[2022-02-23 10:21] sepich commented on #18828
The added debug output right before panic is:
[code]

[2022-02-23 10:26] brb commented on #18828
Thanks. Could you run `ip -o -d l show dev tun-17230117200`?

[2022-02-23 10:27] sepich commented on #18828
[code]

[2022-02-23 10:47] brb opened #18904 "datapath: Inconsistency between IPv4 and IPv6 iptables rules propagation"
In the agent datapath package we try to detect and load iptables kernel modules: https://github.com/cilium/cilium/blob/3b9b098138d6197f2f7f9a8477bb33f0b698bb1e/pkg/datapath/iptables/iptables.go#L422-L436. If any v6 module cannot be loaded, we declare that the IPv6 cannot be used (i.e., we set `haveIp6tables=false`), while in the case of v4 we don't have such a declaration.

Later on in the code, w

[2022-02-23 12:06] vadorovsky commented on #18904
So my understanding is that:

* adding rules is (or should be) guarded by `option.Config.EnableIPv6`, which should be true only when:
  * IPv6 is enabled in config
  * ip6tables is available in the system
* removing rules is guarded only by `haveIp6tables`, because we want to remove IPv6 rules regardless of whether it's enabled now or not - for example, to clean up after previous Cilium run which

[2022-02-23 12:10] vadorovsky commented on #18904
Eventually we could use something like `if option.Config.EnableIPv6 && haveIp6tables` when inserting, but in that case we would need to add some logs when `EnableIPv6` is true, but `haveIp6tables` is not, to let users know that they are doing a bad thing by enabling ipv6 when there is no ip6tables.

[2022-02-23 12:28] batistein commented on #18871
i checked again the logs now from the node (test-control-plane-b8a01-swkh9) itself. And there are a little bit more informations:
[code]
Output of kubectl get pods --all-namespaces -o wide

[code]
I also added the sysdump (`cilium sysdump`) gathered from node test-control-plane-b8a01-swkh9 below:
[cilium-sysdump-20220223-121626-redacted.zip](https://github.com/cilium/cilium/files/8124227/cilium-sy

[2022-02-23 13:20] jkendzorra commented on #18227
Wondering if the failure to remove the iptables chain relates to the existence of this error message:
[code]
Still trying to reliably reproduce this; could this be related to cilium-agent restarting on the node?

[2022-02-23 13:30] prune998 opened #18906 "Cilium NAT issue to reach 169.254.169.254 on EKS"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

`kubelet` on the nodes and some pods like Datadog agents starts complaining to not be able to call the AWS IMDS metadata API at `http://169.254.169.254:80/`:

[code]

doing a curl locally on the node or from a pod works... It seems to be only some running applications that are impacted with thi

[2022-02-23 13:31] prune998 commented on #18906
It seems I can't attach the 40mb sysdump...

[2022-02-23 13:35] prune998 commented on #18906
link to the slack thread: https://cilium.slack.com/archives/C53TG4J4R/p1645533192637289
I'm adding the sysdump there too

[2022-02-23 13:44] brb commented on #18710
@mauilion Are you still hitting the issue? If yes, please reopen it.

[2022-02-23 13:44] #18710 closed

[2022-02-23 14:17] brb opened #18909 "datapath: to-netdev does not recirculate back after SNAT handling"
In the bpf_host's egress section `to-netdev` we have the following code block https://github.com/cilium/cilium/blob/6c647ba7b06c93bf0350907255ab3c43154810b5/bpf/bpf_host.c#L1079-L1094

The problem with it is that `handle_nat_fwd()` does not recirculate back to `to-netdev` which makes the following trace notify ineffective https://github.com/cilium/cilium/blob/6c647ba7b06c93bf0350907255ab3c43154810

[2022-02-23 16:14] nbusseneau opened #18910 "race: between `pkg/bpf.(*Map).Close()` and `pkg/endpoint.(*Endpoint).runPreCompilationSteps()`"
Observed in https://jenkins.cilium.io/view/Race%20Detection/job/cilium-master-gke-race-detection/263/

Artifacts: [573565b7_K8sDatapathConfig_Host_firewall_With_VXLAN.zip](https://github.com/cilium/cilium/files/8125930/573565b7_K8sDatapathConfig_Host_firewall_With_VXLAN.zip)

Trace:
[code]

[2022-02-23 16:25] nbusseneau commented on #18791
@pchaigno Correct, the runtime timeouts were updated in #18886.

[2022-02-23 16:25] #18791 closed

[2022-02-23 17:19] vincentmli commented on #18871
I assume cilium agent and operator crashloop due to unable to connect to k8s API server, correct?  maybe you can run tcpdump on k8s node interface ( i assume cilium agent connect to 49.12.19.27:443 to reach API server through k8s node interface), something like `tcpdump -i <node interface> host 49.12.19.27`, that would tell you if it is tcp/ip layer problem or problem above tcp/ip

[2022-02-23 18:18] joestringer commented on #13853
Hit on v1.9 backports: https://jenkins.cilium.io/job/Cilium-PR-K8s-1.12-net-next/1851/testReport/junit/Suite-k8s-1/12/K8sServicesTest_Checks_service_across_nodes_Tests_NodePort_BPF_Tests_with_direct_routing_With_host_policy_Tests_NodePort/

[2022-02-23 18:33] joestringer opened #18912 "v1.10: CI: Services test doesn't clean up properly after itself"
### Test Name

[code]

### Failure Output

[code]

### Stack Trace

[code]

### Standard Output

[code]

### Standard Error

[code]

### Resources

- Jenkins URL: https://jenkins.cilium.io/job/Cilium-PR-K8s-GKE/7703/execution/node/143/log/?consoleFull
- ZIP file(s):

### Anything else?

K8s services tests mess up the cluster, then random other tests fail because kube-dns is not ready.

In this cas

[2022-02-23 18:35] joestringer commented on #18520
Similar failure here on v1.10 branch https://jenkins.cilium.io/job/Cilium-PR-K8s-1.16-net-next/2243/testReport/junit/Suite-k8s-1/16/K8sServicesTest_Checks_service_across_nodes_Tests_NodePort_BPF_Tests_L2_less_with_Wireguard_provisioned_via_kube_wireguarder_Tests_NodePort_BPF/

[2022-02-23 18:43] joestringer opened #18913 "CI: Jenkins: Test runs time out: cilium-health-ep reports "connect: no route to host""
Example run:
https://jenkins.cilium.io/job/Cilium-PR-K8s-1.18-kernel-4.9/1921/execution/node/136/log/?consoleFull

Symptoms:

The overall test run times out at 3 hours.

Many tests report taking a long time for kube-dns to become ready, eg first test in link above:

[code]

A later test:

[code]

Later unrelated test also had trouble with routes:

[code]

[2022-02-23 18:54] joestringer opened #18914 "Add a guide for configuring Cilium in direct routing mode"
We have getting started guides for various features and modes in Cilium, but no single clear guide on how to configure Cilium for direct routing. This is a documentation request for such a mode.

[2022-02-23 19:08] joestringer opened #18916 "CI: Jenkins doesn't properly categorize and summarize issues if the testsuite times out"
See this failure for example:

https://jenkins.cilium.io/job/Cilium-PR-K8s-1.16-net-next/2244/

The overall test run timed out at 3h due to potentially other issues. The CI system doesn't properly track which tests failed or provide archive links. This makes it more difficult to eyeball and understand whether there are patterns in particular tests or specific failures that may cause the overall CI

[2022-02-23 19:10] joestringer opened #18917 "v1.11: CI: K8sCustomCalls Basic test with byte-counte Loads byte-counter and gets consistent values: Failed to build cilium CLI"
### Test Name

[code]

### Failure Output

[code]

### Stack Trace

[code]

### Standard Output

[code]

### Standard Error

[code]

### Resources

- Jenkins URL: https://jenkins.cilium.io/job/Cilium-PR-K8s-1.16-net-next/2244/
- ZIP file(s):

### Anything else?

No archives because the CI doesn't properly prepare archives when the overall run times out (https://github.com/cilium/cilium/issues/1891

[2022-02-23 19:15] joestringer commented on #18913
At a closer look, it seems like the failing report from the cilium-health-ep controller is likely what's causing most of the timeouts & failures. But it may be only a symptom for a deeper problem that is also causing kube-dns to take a long time to become ready.

[2022-02-23 19:18] joestringer commented on #18913
v1.11 example: https://jenkins.cilium.io/job/Cilium-PR-K8s-1.16-net-next/2244/

[2022-02-23 20:19] joestringer commented on #18910
It surprises me to see two different goroutines iterating the CT map at the same time, one directly from scrubbing CT table for IPs (likely triggered by deletion of a pod) and one for regular CT garbage collection. I think that these should be linearized.

[2022-02-23 20:26] batistein commented on #18871
@vincentmli thank you very much!
Yes you're right cilium agent and the operator are trying to connect to the k8s api server. The 49.12.19.27 is the LB IP which has the controlplanes as a target (443->6443). The konnectivity-server runs as a static pod on the controlplanes (grpc mode and connects to the kube-apiserver via an UDS socket) and the konnectivity-agents are running as a deployment on the

[2022-02-23 20:28] joestringer commented on #18904
Agree with @vadorovsky here. Goal is something like:

* If you enable IPv6 in the config, and IPv6 support is present in the kernel, then configure IPv6.
* If you disable IPv6 in the config, and IPv6 support is present in the kernel, then _unconfigure_ IPv6. (This means deleting potentially old/stale Cilium IPv6 configuration, so that when you disable IPv6 it actually disables IPv6.)
* If IPv6 sup

[2022-02-23 20:47] joestringer opened #18919 "CI: v1.9: runtime job is broken"
PR #18892 broke the runtime job:

[code]

[2022-02-23 21:13] jrajahalme commented on #18919
I tested this PR locally on a dev VM (net-next) with `test/envoy/envoy-smoke-test.sh` from master and it runs successfully.

[2022-02-23 21:45] vincentmli commented on #18871
from the tcpdump I can't identify if a new connection has been attempted from cilium agent to 49.12.19.27:443, I assume the cilium agent would use k8s node ip as source ip, maybe you can narrow down the tcpdump filter to

`tcpdump -nn -i <node-interface> host <node ip> or host 49.12.19.27`

[2022-02-23 22:17] batistein commented on #18871
Here the new tcpdump:
[tcpdump-test-md-0-b88ac-sj229.txt](https://github.com/cilium/cilium/files/8128170/tcpdump-md-0-b88ac-sj229.txt)
[tcpdump-test-control-plane-b8a01-swkh9.txt](https://github.com/cilium/cilium/files/8128171/tcpdump-test-control-plane-b8a01-swkh9.txt)

[2022-02-23 22:20] joestringer commented on #18919
My guess is that something is different about the way that the CI provisions & sets up Cilium vs. how the dev VM works. Here's the failure log fwiw:

https://jenkins.cilium.io/job/Cilium-PR-Runtime-4.9/5693/execution/node/92/log/

[2022-02-23 22:21] vincentmli commented on #18871
can you identify what is your node IP that the cilium agent is running on in the capture?

[2022-02-23 22:24] batistein commented on #18871
this was the command i used:
For test-md-0-b88ac-sj229: tcpdump -nn -i eth0 host 78.47.58.246 or host 49.12.19.27
For test-control-plane-b8a01-swkh9: tcpdump -nn -i eth0 host 49.12.216.137 or host 49.12.19.27

[2022-02-23 22:32] christarazi opened #18923 "Fix endpoint restoration with CEP CRD disabled"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

With CEP CRD disabled, the Cilium K8s pod watcher watches for all pods rather than just the local pods. However, if we take a look at [validateEndpoint()](https://github.com/cilium/cilium/blob/457684158d325b3e38e83b4d64717c34c4e2cad2/daemon/cmd/state.go#L48), then it's possible for Cilium to th

[2022-02-24 00:02] vincentmli commented on #18871
which daemon/process/pod is responsible to create the listening service `49.12.19.27:443` and is the `49.12.19.27:443` listening service working properly?

[2022-02-24 01:33] chenk008 opened #18924 "Rename `bpf.hostRouting` to `bpf.hostLegacyRouting` in ciliumconfig"
## Proposal / RFE

**Is your feature request related to a problem?**

As discussed in https://github.com/cilium/cilium/issues/18818, the `BPF host routing` means using BPF to fast redirect on host and bypass netfilter in the host namespace. But when set `bpf.hostRouting` to `true` in ciliumconfig,  it will use host stack netfilter not BPF.

**Describe the solution you'd like**

Rename `bpf.hostRou

[2022-02-24 05:44] cynkiller opened #18928 "Neighbor Advertisement Not Returned for duplicate address detect (DAD)"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

On Suse environment with k8s 1.21 and cilium v1.9.8 installed, if I set the same ipv6 address on other node in the same layer-2 broadcast zone, the node can receive neighbor solicitation packet, but the neighbor advertisement packet is dropped by cilium and so it doesn't return NA packet to ::

[2022-02-24 06:26] zhanghe9702 commented on #18861
@vincentmli @rajivrameshyadav , i have known that why `tests-privileged` failed, in my home machine, should be low `clang` version caused, in my work machine, it was used to install kubernetes cluster ,so this node `os.HostName()` call will be `node2`,it conflict with https://github.com/cilium/cilium/blob/314ca7baeff4f568ffc0bad95124e40665b1f88c/pkg/datapath/linux/node_linux_test.go#L1399-L1402

[2022-02-24 06:47] zhanghe9702 commented on #18861
sry, the test load `bpf_lxc.o`  still failed .

[2022-02-24 07:19] farodin91 commented on #18746
[code]

[2022-02-24 07:20] farodin91 commented on #18746
I removed only internal values, such as custom labels or deployement names.

[2022-02-24 07:32] batistein commented on #18871
49.12.19.27:443 is the IP and port of a [cloud load balancer](https://www.hetzner.com/cloud/load-balancer). This forwards the requests to the ControlPlane IP addresses (in this case there is only one controlPlane 49.12.216.137 ). The ControlPlanes listen on port 6443.

Here the output of netstat from the controlPlane:

[code]

I assume that the listening service is working as well, since it is pos

[2022-02-24 11:39] pchaigno commented on #16561
Reopening given https://github.com/cilium/cilium/pull/17744 didn't fix it.

[2022-02-24 13:46] monwolf commented on #18334
@jrandall @AlekseyMelikov @codesiddhant  I started putting all the pieces together for the v1.9.12. I got stuck in the nomad integration of the cni config plugin (https://github.com/hashicorp/nomad/issues/12120
).

The problem I found in the config file provided for the cni-plugin is not what nomad expect, nomad wants the cni conf to have the key "plugins: []".

[2022-02-24 16:26] koncha99 opened #18932 "docs: Adding a note for required configuration to create a host-only network with latest VirtualBox"
Since a later version of VirtualBox(v6.1.28 or above) restricts IPv6 range to only link-local addresses for host-only networks by default, `contrib/vagrant/start.sh` failed to configure a host-only network interface with IPv6 addresses, `FD00::/16`.

[code]

To avoid this error, IP ranges needs to be specified in `/etc/vbox/networks.conf` explicitly. In this case, the configuration below works for

[2022-02-24 16:29] koncha99 commented on #18932
If this sounds reasonable, I will submit a PR.

[2022-02-24 17:49] prune998 commented on #18239
I have the exact same issue here.
Everything is working on 1.10.5, and I have mixed results with 1.11.1 or 1.11.2 (that I just started to test).

cilium-operator keeps saying:
[code]

So it's `unable to get security groups failed to get security group ids` and it's a `warning` only... but I have those logs many times per second.

Cilium is working with the current IPs it have defined in the `ciliu

[2022-02-24 18:11] prune998 commented on #18239
I'm using the CNI config as:
[code]

Note that I also enabled the `ip-masq-agent` :

[code]

The node has a direct route as: `169.254.169.254 dev eth0`
I'm not totally sure how will Cilium eBPF react to that ?

[2022-02-24 18:26] prune998 commented on #18239
I changed my ip-masq-agent configmap to be:
[code]

That solved the issue for pod->IMDS issue.
But Cilium pods (using HOstNetwork) are still having issues it seems...

[2022-02-24 20:06] chancez commented on #18675
I've been trying to make this work on rancher-desktop, and so far here's what I had to do:

- Start with a fresh setup, no cilium installed yet
- Run `sudo mount bpffs -t bpf /sys/fs/bpf && sudo mount --make-shared /sys/fs/bpf` inside the rancher-desktop guest.
- After this, I still saw the cgroup mount error, and ran `sudo mount --make-shared /run/cilium/cgroupv2/` , which allowed the cilium daem

[2022-02-24 23:24] vadorovsky commented on #18904
@joestringer yes, actually explicit error when IPv6 is enabled, but not available, sounds better. Let me prepare a change.

[2022-02-25 01:53] #17839 closed

[2022-02-25 06:16] michi-covalent commented on #18804
i misunderstood the flow type `L3_L4` with policy verdict `L3_L4` :disappointed: i'll take a look at the sysdump.

[2022-02-25 06:50] michi-covalent commented on #18804
hi @alkarp :wave:

i guess the issue is that somehow cilium/hubble fails to identify these packets as reply packets and tries to apply network policies on them. a couple of follow-up questions:

- when you get these `AUDIT` events, do you always see `"TCP Flags: RST"` and `is_reply: false`?
- how frequently do you get `AUDIT` events? do they just happen randomly, or do they happen during pod resta

[2022-02-25 09:45] ksekharben commented on #18692
This bootstrap metrics is initialized while cilium-agent daemon starts. I am seeing this metrics is also updated during the initialization of daemon.
Code Reference:
  https://github.com/cilium/cilium/blob/master/daemon/cmd/daemon_main.go#L159
  https://github.com/cilium/cilium/blob/master/daemon/cmd/daemon_main.go#L1857

But other metrics are enabled or disabled by reading metrics from values.yam

[2022-02-25 10:02] foosinn opened #18938 "CiliumClusterwideNetworkPolicy does not apply to cilium Daemonset"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

Cilium 1.11 is running on GKE with the old dataplane.

The cluster is running the following firewall rules:

[code]

On running `hubble observe --verdict DROPPED -f` i noticed that cilium related traffic is being dropped:

[code]

Moving the `remote nodes to clilium` ingress rule from the `Cili

[2022-02-25 11:13] foosinn commented on #18938
Just notices i had an old version of cilium, no change after update
[code]

[2022-02-25 12:56] ysksuzuki opened #18942 "Cilium drops packets destined to host when hostFirewall is enabled"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

Cilium drops packets destined to host when hostFirewall is enabled here
https://github.com/cilium/cilium/blob/b8506a1dcc8ccc1eb07117953a46f7c6181742e3/bpf/bpf_lxc.c#L788
https://github.com/cilium/cilium/blob/b8506a1dcc8ccc1eb07117953a46f7c6181742e3/bpf/bpf_lxc.c#L1745

[code]

helm values
[code

[2022-02-25 14:06] prune998 commented on #18239
Ok sorry for yesterday's noise.
For me, the problem is down to:

The file `/etc/cni/net.d/05-cilium.conf` seems to never be created...

Because I'm using a custom CNI config (to select eth1 as first ENI), the `postStart` script is not creating it:
https://github.com/cilium/cilium/blob/774fc6a59854feb8f51943773345ce9d2e4ab92a/plugins/cilium-cni/cni-install.sh#L84-L91

My `cilium-config` configmap i

[2022-02-25 15:03] ysksuzuki commented on #18942
Cilium doesn't support host firewall in chaining mode?
https://github.com/cilium/cilium/issues/15423

[2022-02-25 15:13] prune998 commented on #18239
It feels like the Cilium Agent is creating the `ciliumnode` CR, but the Operator is having a problem with it, preventing the agent to finish initialization.

back to
[code]

I just can't understand why it's not working but something is preventing the Operator to match the info in the `ciliumNode` with the data it finds/cache from AWS API....

[2022-02-25 16:51] prune998 commented on #18239
FYI, I tested and 1.10.7 is also OK. Issue is in 1.10.8+ up to 1.11.2

[2022-02-25 18:33] liuyuan10 opened #18951 "DROP_INVALID for packet sent via AF_PACKET + mmap ring buffer in pod"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

One of our customers has a program bouncing packets using AF_PACKET  + mmap ring buffer. The packet is immediately dropped in bpf_lxc  at revalidate_data()

The sample code is [gvnic-sample-vnf.tar.gz](https://github.com/cilium/cilium/files/8143211/gvnic-sample-vnf.tar.gz). It gets packets rece

[2022-02-25 20:04] chancez commented on #18675
Progress updates on trying to get this working:

So first, to disable flannel and the builtin network policy enforcement as instructed in https://docs.cilium.io/en/v1.11/gettingstarted/k8s-install-helm/ for k3s, you need to define an `overrides.yaml` for the rancher-desktop lima:

[code]

Then:
[code]

Unfortunately, passing multiple args to `K3S_EXEC` is broken until https://github.com/rancher-sa

[2022-02-25 20:09] aditighag commented on #18675
Nice job tracking all the installation steps! It'll be great if you could contribute a docs PR with these changes to help other users.

[2022-02-25 21:16] #18733 closed

[2022-02-26 12:54] zhanghe9702 commented on #18861
[code]
the root cause is bpf verfier think r2 is an ptr value, so it can't allow spill to stack for r2, i think this is an issue, but to now i don't know the correct method fix this:), in fact, you can pass all test by modify
https://github.com/cilium/cilium/blob/314ca7baeff4f568ffc0bad95124e40665b1f88c/bpf/ep_config.h#L18
define LXC_ID to an const value like `0`

[2022-02-26 12:58] zhanghe9702 commented on #18861
/help-wanted

[2022-02-27 18:54] aleksey-novikov opened #18956 "Packets going through EgressGateway may left unchanged when port range in nat map near to run out for specific remote endpoint"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

If multiple connections, not necessarily simultaneous, to the same host go through the egress gateway, NAT map continuos filled up and some outgoing packets are not SNATed. Such behavior is found on TCP SYN packets. In some cases after SYN packet left unchanged following outgoung packets alread

[2022-02-28 09:20] pchaigno opened #18958 "CI: RuntimePrivilegedUnitTests Run Tests: context deadline exceeded"
Two recent runs of RuntimePrivilegedUnitTests timed out:
https://jenkins.cilium.io/job/Cilium-PR-Runtime-net-next/1417/testReport/(root)/Suite-runtime/RuntimePrivilegedUnitTests_Run_Tests/
https://jenkins.cilium.io/job/Cilium-PR-Runtime-net-next/1392/testReport/junit/(root)/Suite-runtime/RuntimePrivilegedUnitTests_Run_Tests/
Sysdumps:
[133e9437_RuntimePrivilegedUnitTests_Run_Tests.zip](https://git

[2022-02-28 09:25] #18818 closed

[2022-02-28 11:05] liuyixian123 opened #18959 "how does cilium split parameter cluster-pool-ipv4-cidr or cluster-pool-ipv6-cidr for every node when using ipam cluster-pool ？please show me the code position"
thank uuuuuuuuuuuuuuuuu

[2022-02-28 13:42] #18830 closed

[2022-02-28 14:58] Antiarchitect opened #18973 "Cilium 1.11.2. API Rate limit stopped working"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

This is Helm chart values.yaml piece:

[code]

It worked on 1.11.1 and in 1.11.2 I have:

[code]

How to set API rate limits properly now?

### Cilium Version

1.11.2

### Kernel Version

Linux worker-1.prod.xxx 5.15.7-1.el7.elrepo.x86_64 #1 SMP Mon Dec 6 12:52:14 EST 2021 x86_64 x86_64 x86_64

[2022-02-28 15:10] aanm commented on #18973
@Antiarchitect try this instead:
[code]

[2022-02-28 15:15] Antiarchitect commented on #18973
I saw the typo. Fixed but the same.

[2022-02-28 17:10] chancez commented on #18675
Yeah, I think we need there to be another release of rancher-desktop, but I will be trying to document this. I'm wondering if there should be a separate section on doing this for rancher-desktop separate from the existing `k3s` tab in the installation documentation WDYT?

[2022-02-28 18:42] pchaigno commented on #18942
It has never been tried before. It should be possible to make it work though.

How did you make sure the drops were coming from those specific tail calls?

Could you upload a sysdump of the cluster?

[2022-02-28 19:50] christarazi commented on #17691
@gandro Given that you've been working on the [cluster-pool-v2 IPAM](https://github.com/cilium/cilium/pull/18887) mode, cc'ing you for relevance. No need for you to investigate this issue.

[code]

When the CiliumNode IPAM pool is full and pods are deleted (IPAM deallocate), it seems that Cilium could stuck in a place where the local node resource is out-of-date (some kind of race maybe?). In case

[2022-02-28 21:48] evelynchen opened #18976 "seeing "error while initializing daemon: invalid argument" while upgrading from v1.10 to v1.11"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?
Followed the [Cilium upgrade guide](https://docs.cilium.io/en/stable/operations/upgrade/) to generate the cilium.yaml
diff the new template changes VS our template yaml to update the v1.11 changes.
Applying the changes to Cilium Operator went well, and most of the Cilium agent nodes are up.

But

[2022-02-28 23:28] maintainer-s-little-helper[bot] opened #18977 "CI: K8sServicesTest Checks E/W loadbalancing (ClusterIP, NodePort from inside cluster, etc) with L7 policy Tests NodePort with L7 Policy"
### Test Name
[code]

### Failure Output
[code]

### Stacktrace
<details><summary>Click to show.</summary>

[code]
</details>

### Standard Output
<details><summary>Click to show.</summary>

[code]
</details>

### Standard Error
<details><summary>Click to show.</summary>

[code]
</details>

ZIP Links:
<details><summary>Click to show.</summary>

 https://jenkins.cilium.io/job/Cilium-PR-K8s-1.16-ker

[2022-03-01 01:47] maintainer-s-little-helper[bot] opened #18978 "CI: K8sDatapathConfig Host firewall Check connectivity with IPv6 disabled"
### Test Name
[code]

### Failure Output
[code]

### Stacktrace
<details><summary>Click to show.</summary>

[code]
</details>

### Standard Output
<details><summary>Click to show.</summary>

[code]
</details>

### Standard Error
<details><summary>Click to show.</summary>

[code]
</details>

ZIP Links:
<details><summary>Click to show.</summary>

 https://jenkins.cilium.io/job/Cilium-PR-K8s-GKE//775

[2022-03-01 01:49] joestringer commented on #18978
Previous test was etcd mode:

[code]

[2022-03-01 01:50] joestringer commented on #18978
Here's the pod that didn't get ready in 4 minutes:

[code]

[2022-03-01 01:59] #18282 closed

[2022-03-01 03:06] cynkiller commented on #18928
Is there any update on this issue? Thanks.

[2022-03-01 03:22] chenk008 commented on #18924
@YutaroHayakawa @pchaigno WDYT?

[2022-03-01 09:40] dudd opened #18979 "Access to LB outside the cluster timeout"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

Hi experts,
I'm trying to create service of NodePort proxy k8s endpoints like this:
[code]
Yes, I want cilium to load balance external endpoints. In this case, i can access service by nodeport in my k8s cluster, but i can't access it outside of the cluster.

When i use cilium to load balance po

[2022-03-01 09:41] gandro commented on #17691
@christarazi Yes, I encountered that bug too, this is why we have commit https://github.com/cilium/cilium/pull/18887/commits/777b1f0256bd9350c09fd9f4febd825dce1decfc in clusterpoolv2.

However, I already fixed that same in IPAM:CRD a while ago: https://github.com/cilium/cilium/pull/17856 - however, this is only available in v1.11 at the moment.

[2022-03-01 14:11] pchaigno commented on #18978
Duplicate of https://github.com/cilium/cilium/issues/17307.

[2022-03-01 14:11] #18978 closed

[2022-03-01 15:43] gandro opened #18987 "Dynamic Cluster Pool Follow-ups"
Tracking issue for the Dynamic Cluster Pool feature

## v1.12 Must Have https://github.com/cilium/cilium/pull/19777

- [x] Address review feedback from https://github.com/cilium/cilium/pull/18887
- [x] Add support for https://github.com/cilium/cilium/pull/18505
- [x] Documentation
- [x] Finalize CRD/API design

## v1.12 Best Effort

- [ ] Support for tunneling mode (requires tunnel map deprecation

[2022-03-01 17:50] gandro commented on #18977
Looks like a new flake that started Feb 27

![image](https://user-images.githubusercontent.com/50564/156221708-2c5cfbcd-7f2e-42ed-a8ff-23c7ac55cb39.png)

[2022-03-01 21:37] arianvp opened #18989 "Advertise PodCIDR doesn't work on Ipv6"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

When enabling bgp podCIDR announcement it doesn't work when on ipv6

[code]

### Cilium Version

1.11.2

### Kernel Version

5.10.84

### Kubernetes Version

1.23.4

### Sysdump

_No response_

### Relevant log output

[code]

### Anything else?

BGP Config:
[code]

Helm values:
[code]

### Cod

[2022-03-01 21:42] arianvp commented on #18989
Another issue that I see arising in Ipv6-only is that there is no way to set the `router-id` for each node. Which is _required_ to be set to a unique value in ipv6-only BGP

[2022-03-01 21:51] jweite-amazon opened #18995 "cilium-operator deployment significantly delays node draining on infra failure"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

In AWS EKS, and in CAPI (CAPC) clusters, and maybe others not tested, when a VM backing a worker node fails, and that node is hosting the cilium-operator pod, node deletion is delayed significantly (15 mins+) by spurious attempts of the cilium-operator deployment to keep a cilium-operator pod r

[2022-03-01 23:07] joestringer commented on #18995
Thanks for the well-written bug report! Looking through the attached `ciliumGetPods.txt` output, it seems to me like for some reason Kubernetes is scheduling this deployment to the node that is down. I wonder whether there is some configuration in Kubernetes that needs to be tweaked in order to handle this failure condition more gracefully?

While Cilium does provide the deployment for the kube-ap

[2022-03-01 23:12] christarazi commented on #18995
It seems to be this could be controller via node taints as Joe is suggesting above. https://github.com/kubernetes/kubernetes/pull/60009 has been implemented for some time. Is that being used in these environments?

[2022-03-01 23:56] aditighag opened #19003 "Make owners (dependents) tracking in policy computation reliable"
Related to [PR](https://github.com/cilium/cilium/pull/19002), the existing owners (and dependents) tracking in the policy area is buggy. In certain conditions, there can be entries left in the policy map state with no owners while doing incremental policy map changes. This led to BPF identity leaks like https://github.com/cilium/cilium/issues/18581.

There are some issues in the code -

- The owne

[2022-03-02 01:57] #17665 closed

[2022-03-02 04:37] michi-covalent opened #19004 "Cilium keeps creating temporary network interfaces when it can't allocate more IPs"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

i installed cilium on eks with eni mode. when cilium cannot allocate more IPs, pods fails to start (which is expected):
[code]
when cilium fails to initialize the pods, kubernetes keeps calling cilium-cni, and each call creates a new temporary interface.
[code]
at some point some pods get resch

[2022-03-02 04:42] lx1036 commented on #14118
i encounter the same case with Cilium 1.11 with kube-proxy replacement free, `kube-proxy-replacement: strict`.
I get a nginx-demo ClusterIP service ip 200.168.21.227 with two nginx pods `10.216.137.200:80,10.216.137.8:80`.

I can curl service ip 200.168.21.227:80 in NodeA, but can't ping 200.168.21.227, ping pod ip can work.
I guess the NodeA eth0 eBPF answer the TCP, but not answer ServiceIP ICMP

[2022-03-02 08:05] #18910 closed

[2022-03-02 10:10] lou-lan commented on #7750
@borkmann
How did you fix it? I recently encountered the same problem.
<img width="745" alt="截屏2022-03-02 下午5 56 17" src="https://user-images.githubusercontent.com/13095837/156341335-8652ec70-2753-4107-bbda-ec0af4e888e4.png">

[2022-03-02 11:01] borkmann commented on #7750
@lou-lan is this related to ipvlan or for the default veth based datapath? Which version of Cilium did you use, is the latest 1.11 affected from it?

[2022-03-02 11:37] YutaroHayakawa commented on #18591
I could reproduce the issue in my local Vagrant environment. I'll dig into the details from now.

Just for recording, here's my setup
- Vagrant Box: `ubuntu/focal64 (virtualbox, 20220213.0.0)`
- Kernel: Vanilla 5.16.2 configured with `make olddefconfig`
- Cilium: v1.10.6 with `--set cni.exclusive=false`
- k8s: Kind cluster made with Cilium's `make kind`
[code]

[2022-03-02 14:07] sayboras commented on #18973
you are right, the mentioned commit is really the cause here, let me dig deeper.

[2022-03-02 14:24] sayboras commented on #18973
can you try to with below json format as a workaround ? Sorry for any inconvenience caused

[code]

[2022-03-02 14:39] kaworu commented on #18959
by "space", for the Golang unicode definition of space.

Some code positions:
https://github.com/cilium/cilium/blob/89989608a36090944d9d6cb91bfa4b92400fc878/operator/option/config.go#L406-L407
https://github.com/cilium/cilium/blob/89989608a36090944d9d6cb91bfa4b92400fc878/vendor/github.com/spf13/viper/viper.go#L990-L995
https://github.com/cilium/cilium/blob/89989608a36090944d9d6cb91bfa4b92400fc878/

[2022-03-02 14:39] #18959 closed

[2022-03-02 14:48] Antiarchitect commented on #18973
Now it says:

[code]

[2022-03-02 14:53] jweite-amazon commented on #18995
Thanks for your replies @joestringer and @christarazi.  I'm not having luck finding either of these PRs in release notes, so I'm not entirely clear on which releases incorporate them.  I do see [#67734](https://github.com/kubernetes/kubernetes/pull/67734) in 1.12, which seems to address the matter of tainting failed nodes.  My test bed is running 1.21.5 (specifically v1.21.5-eks-bc4871b), so I do

[2022-03-02 14:56] pchaigno opened #19006 "CI: RuntimePolicies L3/L4 Checks: Skipping build due to invalid state: ready"
https://jenkins.cilium.io/job/Cilium-PR-Runtime-net-next/1398/testReport/junit/(root)/Suite-runtime/RuntimePolicies_L3_L4_Checks/
[c63837ce_RuntimePolicies_L3-L4_Checks.zip](https://github.com/cilium/cilium/files/8170418/c63837ce_RuntimePolicies_L3-L4_Checks.zip)

### Stacktrace
[code]
The error log in question is:
[code]

[2022-03-02 15:18] sayboras commented on #18973
I just tested locally, extraConfig can be used as per below

[code]

<details>
<summary>cilium bootstrap logs</summary>

[code]

</details>

[2022-03-02 15:52] brb commented on #18979
In which configuration do you run Cilium?

[2022-03-02 16:13] lou-lan commented on #7750
I am use `v1.11.2` of cilium. After I reset the cluster, use kubeadm to reinstall something normal. Maybe I made a mistake somewhere.

[2022-03-02 17:39] nabkey commented on #18107
FYI - I was having issues as described above when installing Cilium on AKS, and restarting the tunnelfront pods resolved the issue.

[2022-03-02 18:12] Antiarchitect commented on #18973
@sayboras

[code]

Worked like a charm! Thank you so much @sayboras !

[2022-03-02 18:14] christarazi commented on #17691
@SimpCosm Can you try v1.11.x?

[2022-03-02 18:19] christarazi commented on #18995
@jweite-amazon The cilium-operator default tolerations seems to be the root cause here I'd imagine. `op:Exists` will tolerate all taints. When installing via Helm, it's possible to configure the Operator pod's tolerations via `--set operator.tolerations=...`. Can you try that and see if it resolves your issue?

[2022-03-02 18:25] joestringer commented on #18938
Hi, this traffic is not automatically allowed by Cilium if you create a CiliumClusterwideNetworkPolicy. You would need to add a policy like this to allow it:

https://docs.cilium.io/en/stable/policy/kubernetes/#example-add-health-endpoint

[2022-03-02 19:10] mauilion commented on #18956
cilium-cli does support sysdump in a specified namespace.

[code]

Thanks!

[2022-03-02 20:38] rahulait opened #19010 "inconsistent result with cilium network policies when kube-proxy is enabled or disabled"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

I am running cilium with kube-proxy disabled(installed using rke2-1.20.12).
[code]

I have a global clusterwide deny policy which blocks all ingress to cluster but allows ingress from cluster entities.
[code]
I deployed an app, created a service and exposed it using type as loadBalancer.
[code]

[2022-03-02 21:03] evelynchen commented on #18976
I have tried to upgrade from v1.10.1, and jump each version to figure out which version went wrong.
v1.10.2, v1.10.3 then v1.10.4 are running fine. but it failed at v1.10.5 with the same error message

[2022-03-02 21:04] aditighag commented on #19010
The next time the issue happens, try to monitor whether the traffic incoming to the cluster is directed to the node(s) that are hosting the nodeport service backend(s). This traffic would be dropped based on their CCNP.
With kube-proxy replacement, did you set `externalTrafficPolicy` to local?

[2022-03-02 22:29] rahulait commented on #19010
With kubeProxyReplacement set to "strict", I don't have externalTrafficPolicy set to local. So it would be set to default cluster.

Here are more logs from my cluster. I am seeing traffic allowed even with just the above specified CCNP which should deny the traffic.

My pods are running on two different nodes (.207 and .211).
[code]
Cilium status:
[code]

I see the incoming traffic IP as proxy IP(

[2022-03-02 22:42] jweite-amazon commented on #18995
@christarazi, Helm game me a bit of grief wrt how to define a map parameter on the cli against the 1.10.5 chart.  I eventually gave up and provisioned cilium with Helm without a toleration override defined and then edited the toleration on the deployment to be the same as I saw used for _core-dns: CriticalAddonsOnly:NoSchedule op=Exists_.

I confirmed that the running pods now had this.  (_node.ku

[2022-03-02 23:37] joestringer commented on #19010
Cilium's kube proxy replacement would perform NAT just like kube-proxy would if you didn't use externalTrafficPolicy=local. That explains why the traffic shows up as coming "from a remote node", and why that then matches the "cluster" policy and allows the traffic.

Here's the docs on how to preserve client source IPs as part of kube-proxy replacement: https://docs.cilium.io/en/stable/gettingstart

[2022-03-03 00:02] aanm commented on #18973
@Antiarchitect can we close this GH issue?

[2022-03-03 00:31] christarazi commented on #18995
@jweite-amazon Are you able to run `kubectl describe` on the pod that gets stuck in terminating?

[2022-03-03 00:34] vnandha commented on #18976
I think the issue seems to be with the nodes that have loop back interface with different IP.

[code]

10.194.198.149 is the loop back address. if I remove that on the node agent starts without any issue

For temporary work around by passing actual node IP on --ipv4-node works
[code]

we also use that hack to point --devices option. If there is better workaround, pls help. as @evelynchen pointed,

[2022-03-03 00:34] aanm commented on #18806
Hi @sorryforyou but this doesn't seem related to Cilium. Double check if your terminal has access to the kubernetes cluster so that helm command can work. Try using [cilium/cilium-cli](https://github.com/cilium/cilium-cli#install-cilium) instead.

[2022-03-03 00:39] aanm commented on #18829
Hi, thank you for opening the GH issue. This doesn't seem to be an Cilium issue since Cilium doesn't setup any taints on the nodes. Feel free to open a new GH issue if you find that it is caused by Cilium or open a new GH issue in the kubeadm repository. Thank you!

[2022-03-03 00:39] #18829 closed

[2022-03-03 00:41] aanm commented on #16987
@hemanthmalla any update on this issue? I see #18463 open in draft, are you still working on it?

[2022-03-03 00:42] aanm commented on #18851
We have discussed in the community meeting March 2nd, 2022 that we won't remove Consul support for 1.12. Thank you for opening this issue.

[2022-03-03 00:42] #18851 closed

[2022-03-03 00:44] aanm commented on #18819
This has been fixed by https://github.com/cilium/cilium/pull/18486 and is available since >=1.11.2

[2022-03-03 00:44] #18819 closed

[2022-03-03 00:52] aanm commented on #18878
Hello @alex-berger thanks for opening the GH issue, can you provide a Cilium sysdump for the working and non-working case of both source and destination nodes? Thank you!

[2022-03-03 00:57] joestringer commented on #18749
Looking at one of the hubble flow examples:

[code]

Here the traffic from that node (10.0.2.173) is being forwarded into a tunnel with source identity 2 (`reserved:world`) towards the remote peer, and presumably the remote peer will see that and perform a policy based purely on that identity. My wild guess would be that this is because of a NodePort, so the traffic from the outside world (probabl

[2022-03-03 00:58] maintainer-s-little-helper[bot] opened #19014 "CI: K8sDatapathConfig Etcd Check connectivity"
### Test Name
[code]

### Failure Output
[code]

### Stacktrace
<details><summary>Click to show.</summary>

[code]
</details>

### Standard Output
<details><summary>Click to show.</summary>

[code]
</details>

### Standard Error
<details><summary>Click to show.</summary>

[code]
</details>

ZIP Links:
<details><summary>Click to show.</summary>

 https://jenkins.cilium.io/job/Cilium-PR-K8s-GKE//777

[2022-03-03 00:58] aanm commented on #18775
@carlosjgp we have made https://editor.cilium.io available that should help you in that case as well.

[2022-03-03 01:07] aanm commented on #18878
@alex-berger no need for the Cilium sysdump. After giving a little bit of consideration we think it's probably better to document this corner case in [Limiting Identity-Relevant Labels](https://docs.cilium.io/en/stable/operations/performance/scalability/identity-relevant-labels/) instead of automatically allowing `k8s:io.cilium.k8s.policy`. Would you care to submit a PR with such changes? Thank yo

[2022-03-03 01:10] aanm commented on #18900
Hi, this seems to be duplicate of https://github.com/cilium/cilium/issues/18644 please see https://github.com/cilium/cilium/issues/18644#issuecomment-1041230699 with a proposed solution.

[2022-03-03 01:15] aanm commented on #18746
@farodin91 can you try with 1.11.2. Just want to double check if this was caused by https://github.com/cilium/cilium/pull/18777 which is fixed in 1.11.2. Thank you!

[2022-03-03 01:22] aanm commented on #18932
@koncha99 sure, sounds good!

[2022-03-03 01:33] aanm commented on #18976
Can you provide a Cilium sysdump? Thank you!

[2022-03-03 01:35] aanm commented on #17277
@lrouter Can you provide a Cilium sysdump? Thank you!

[2022-03-03 01:44] hemanthmalla commented on #16987
@aanm Yes. I'm waiting on e2e testing related changes to be merged from https://github.com/cilium/cilium/pull/18557 .
I can remove the dependent e2e test code and mark it as ready for review.

[2022-03-03 01:57] rahulait commented on #19010
Thank you Joe and Aditi. It seems like I should always use externalTrafficPolicy=local for such policies.

I repeated the same steps with kube-proxy enabled and can see CCNP correctly denying traffic even though it detects the source IP as an in-cluster IP.
[code]
Maybe its implementation specific and it's always better to use externalTrafficPolicy.

[2022-03-03 01:58] #17664 closed

[2022-03-03 02:19] aanm opened #19015 "Unable to deploy Cilium 1.11.2 in GKE with COS"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

[code]

### Cilium Version

1.11.2

### Kernel Version

-

### Kubernetes Version

-

### Sysdump

_No response_

### Relevant log output

_No response_

### Anything else?

[code]
The same works fine with Cilium 1.11.1, probably it is a regression introduced by https://github.com/cilium/cilium

[2022-03-03 02:21] wkhno commented on #18829
thanks for your answer. I tried to remove my node taints and get the things work. It seems that is the problem I deploy my k8s cluster not the problem of cilium.

[2022-03-03 02:37] dudd commented on #18979
@brb  I have run Cilium with ```
helm install cilium cilium/cilium --version 1.11.2 \
    --namespace kube-system \
    --set tunnel=disabled \
    --set autoDirectNodeRoutes=true \
    --set kubeProxyReplacement=strict \
    --set loadBalancer.acceleration=native \
    --set loadBalancer.mode=hybrid \
    --set k8sServiceHost=10.1.134.107 \
    --set k8sServicePort=6443 \
    --set ipv4NativeRout

[2022-03-03 05:05] lou-lan commented on #7750
@borkmann If I have 3 nodes, the problem will recur.

1. kubeadm init configration
[code]

2. kubeadm version
[code]

3. cilium  version
[code]

4. kubectl version
[code]

[2022-03-03 06:23] panchm commented on #17944
Hi

As per the request, I would like to understand in more detail.

According to the current design, It will deny the traffic by sending the TCP REJECT for the DROP case (ingressDeny)
And with the new requirement, should drop the traffic by sending the TCP RESET flag instead of TCP REJECT for traffic Deny? (ingressDeny)
Or Do we need to introduce a new option like ingressReset which sends the TCP

[2022-03-03 06:57] jandubois commented on #18675
[Rancher Desktop 1.1.0](https://github.com/rancher-sandbox/rancher-desktop/releases/tag/v1.1.0) has been released and includes the required fix for `K3S_EXEC` with multiple arguments.

[2022-03-03 07:10] imcom commented on #18675
Hi @chancez chan, I noticed in your `override` yaml config, there is a comment saying

[code]

I wonder is there any extra steps to be taken in order to get root privilege or it happens by default when creating the lima vm ?

[2022-03-03 09:11] bmcustodio commented on #19015
Should obviously not be happening — I wonder if (and how) [this check](https://github.com/cilium/cilium/blob/v1.11.2/install/kubernetes/cilium/files/nodeinit/startup.bash#L27) is passing for COS images 🤔 I'll have a look.

[2022-03-03 09:19] alex-berger commented on #18878
@aanm I don't think that this is a corner case. [Entities](https://docs.cilium.io/en/stable/policy/language/#entities-based) like for example `cluster` and `kube-apiserver` should work out-of-the-box, not needing any very specific configuration quirks.

IMHO the relevant labels (or their prefixes) should always be added to the set of identity-relevant labels. Otherwise this will just cause a lot o

[2022-03-03 10:21] 1909490139 opened #19016 "Cluster Mesh unable to derive service IPs automatically"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

1. In Ubuntu 18.04.6 LTS;
2. RUN:
cilium install --context rke1 --config cluster-pool-ipv4-cidr="10.1.0.0/16" --cluster-name rke1 --cluster-id 1
cilium install --context rke2 --config cluster-pool-ipv4-cidr="10.2.0.0/16" --cluster-name rke2 --cluster-id 2 --inherit-ca rke1
cilium clustermesh en

[2022-03-03 10:57] bmcustodio commented on #19015
Apologies for this 🙏🏼 The fix should be up at https://github.com/cilium/cilium/pull/19017.

[2022-03-03 11:46] #16561 closed

[2022-03-03 11:48] #19004 closed

[2022-03-03 12:44] pchaigno commented on #18919
Same issue affects v1.10: https://jenkins.cilium.io/job/Cilium-PR-Runtime-net-next/1452/console (PR is https://github.com/cilium/cilium/pull/18835).

@jrajahalme It passed in your case because you used the VM image from master I believe.

Should we attempt to update the VM images we use in v1.9/v1.10 to fix this?

[2022-03-03 14:12] gandro commented on #18977
Potentially related to https://github.com/cilium/cilium/issues/18530

[2022-03-03 15:04] rahulait commented on #19010
Is there a flag in cilium's config using which we can also add externalTrafficPolicy=local by default so that it gets applied globally than requiring each service which is using nodeport or loadbalancer to add it?

[2022-03-03 15:09] ldelossa commented on #18989
@arianvp - currently our MetalLB BGP integration does not support IPv6. However, within the next several releases we are going to migrate to a more modular BGP implementation (focusing on GoBGP first, then integrating other BGP backends). I'm woring on this currently. Keep an eye out on our releases to see IPv6 peering and IPv6 PodCIDR announcements coming soon.

[2022-03-03 15:20] gandro opened #19021 "Travis CI Data Race in `pkg/ipam`: Unsynchronized read in `(*AzureInterface).ForeachAddress()`"
Found on master: https://app.travis-ci.com/github/cilium/cilium/jobs/561919973

[code]

[2022-03-03 15:23] gandro opened #19022 "Travis CI Data Race in `pkg/ipam` with `ipam.(*fakeK8sCiliumNodeAPI).updateNode()`"
Observed locally by running "go test -race ." in "pkg/ipam" while debugging another issue.

This was introduced by #18887  (i.e. me)

[code]

[2022-03-03 17:25] #18823 closed

[2022-03-03 19:47] joestringer commented on #19010
OK, thanks for testing this. I think ideally we'd have the same behaviour for both implementations, but it's useful to at least know that the behaviour does differ. Maybe we can do something about this (or at least make some sort of docs update to warn users in future).

I don't think that configuring externalTrafficPolicy is in the domain of Cilium's control, presumably when you create the servic

[2022-03-03 19:59] joestringer commented on #19010
One more piece of information that might be useful to know here for any future improvements - are you using tunneling mode?

[2022-03-03 20:02] rahulait commented on #19010
Thanks Joe. Yes, I am using tunneling mode and used metallb for loadbalancer IPs.

[2022-03-03 21:17] #19022 closed

[2022-03-03 21:21] ReillyBrogan commented on #18826
This appears to be a broader kernel issue, as we just encountered it after moving from 5.10.92 to 5.10.103.

[2022-03-03 21:30] pchaigno commented on #18826
Thanks for the info. Then it's probably because of the regression introduced in Linux kernel commit [`68ac0f3810e7`](https://git.kernel.org/pub/scm/linux/kernel/git/torvalds/linux.git/commit/?id=68ac0f3810e76a853b5f7b90601a05c3048b8b54), which was backported to v5.10 and included in v5.10.94. A revert was sent upstream, but it will take a little bit to propagate.

In the meantime, we have merged h

[2022-03-03 21:31] ReillyBrogan commented on #18826
I haven't actually checked to see if this is the first version that breaks, but checking the changelogs for the kernel releases between 5.10.92 and 5.10.96 (the 5.10 version released at the same time as 5.4.176) only 5.10.94/5.4.174 have changes that mention XFRM:
1. xfrm: fix a small bug in xfrm_sa_len()
2. xfrm: fix policy lookup for ipv6 gre packets
3. xfrm: Don't accidentally set RTO_ONLINK in

[2022-03-03 21:54] ReillyBrogan commented on #18826
Yep, just built a custom 1.10.8 with the patches from your most recent backport PR and can confirm that it's working now.

[2022-03-04 01:45] lordofire opened #19033 "Support network QoS attributes customization through kubernetes annotations"
## Proposal / RFE

**Is your feature request related to a problem?**
No

**Describe the solution you'd like**
In the current kubernetes implementation, we have annotations like "egress-bandwidth" and "ingress-bandwidth", which is used to add tc on hosts and shape the traffic for specific deployments, etc.

            "annotations": {
              "kubernetes.io/egress-bandwidth": "10M",

[2022-03-04 02:13] #17604 closed

[2022-03-04 03:07] ctmach commented on #18508
Fixes as part of #18607

[2022-03-04 03:08] sayboras commented on #18508
Fixed as part of #18607 , thanks Lex for highlighting.

[2022-03-04 03:09] #18508 closed

[2022-03-04 06:27] pretty66 commented on #18900
Thanks for your reply, his scheme didn't work for me. My problem is that domain name resolution fails as long as it passes through cilium-agent dns proxy.

- My configuration, allow access to all domains
[code]

[2022-03-04 07:49] imcom commented on #18883
it does not really justify the purpose of using a veth-pair (cilium_host & cilium_net) on the node (host) netns, could you please share some use cases maybe to clarify?

[2022-03-04 07:52] imcom commented on #18883
ah, so does it mean that the veth-pair is essentially for intercepting the OUTGOING traffic from the current node ? To be more specific, when I send some packets via `cilium_host`, the packets come out of `cilium_net` (from `cilium_net` perspective, it is ingress traffic), so `ebpf` gets fired and can apply policy if any for further handling? Am I correct on this? @vincentmli

[2022-03-04 08:41] seimic opened #19035 "Cluster mesh: Selecting a metallb address pool possible?"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

This is not a bug, just a question. Is it possible to specify the address pool from metallb instead of using the default one?

For example. metallb has two address pools. The default and an external one.
[code]

When enabling clustermesh it gets an IP address from the 'default'-pool. I could ma

[2022-03-04 10:09] kaworu commented on #18973
@aanm @sayboras my understanding is that a regression or breaking change was introduced, and the alternative JSON syntax was proposed as a workaround here. If correct, I think this issue should stay open until fixed. In the former case (a regression) then the flag parsing logic should be fixed, and in the latter (a breaking change) then we should have an upgrade note about it and also update our d

[2022-03-04 10:19] brb commented on #18956
@aleksey-novikov Could you provide the following:
- The sender pod IP addr
- The Egress GW node IP addr (the one to which the traffic should be SNAT-ed)
- The dst IP addr

[2022-03-04 10:47] schmitch opened #19038 "k8sServiceHost multiple IPs/Hosts"
## Proposal / RFE

**Is your feature request related to a problem?**
no, it's just a inconvenience on bare-metal

**Describe the solution you'd like**
currently we run multiple clusters with cilium and use the kube-proxy'less mode and one thing is always not that good in our bare metal clusters is specifiyng the `k8sServiceHost`. This is especially a problem when a node needs to get rebooted.
We w

[2022-03-04 12:03] recollir commented on #18868
So the situation has somewhat stabalised after disabling IPsec. We have seen the intermittent connection issues much less but they come from time to time in bursts though never really dissappear.

We had the possibility to run pwru on a node where a pod had issues communicating to the CoreDNS and another pod could resolve through CoreDNS.

Non-working pod (pwru filtering on the pod IP and using th

[2022-03-04 12:08] recollir commented on #18868
If I do the following side by side comparison (leaving out timestamps and the SKBs) one can see the following
[code]

Left two columns non working pod
Right two columns working pod

At line 33 the non-working pod does a `skb_ensure_writable` while for the working pod a `consume_skb` happens. For the non-working pod the "communication" breaks after `kfree_skbmem`, the working on does another `consu

[2022-03-04 12:08] YutaroHayakawa commented on #18591
Looks https://github.com/cilium/cilium/pull/17840 reduces some complexity. At least, we can load v1.10.6 with `--set cni.exclusive=false`.

[2022-03-04 12:11] recollir commented on #18868
@brb @aanm We have a cilium sysdump for just that node. Anything we should look at? Would it be possible to share that sysdump in a private fashion?

Anything else you would suggest to try, test and collect data from?

Please note that this is now without IPsec.

[2022-03-04 12:24] nbusseneau commented on #18919
If need be, CI VMs can be started locally: https://docs.cilium.io/en/v1.11/contributing/development/dev_setup/#launch-ci-vms

[2022-03-04 12:35] ksekharben commented on #18773
Hello ,
While investigating this issue, I am unable to reproduce the above error. Please find my values.yaml.

 git diff values.yaml
diff --git a/install/kubernetes/cilium/values.yaml b/install/kubernetes/cilium/values.yaml
index b7dd50ab5b..a4bc3a961f 100644
--- a/install/kubernetes/cilium/values.yaml
+++ b/install/kubernetes/cilium/values.yaml
@@ -85,7 +85,7 @@ rollOutCiliumPods: false
 # -- Age

[2022-03-04 12:39] ksekharben commented on #18773
Hello Team,

I am looking to this issue. I have disabled the l7proxy in values.yaml . But unable to reproduce this issue. Can someone please help me to reproduce this issue. Please find below .

` -1070,7 +1070,7 @@ l2NeighDiscovery:
   arping-refresh-period: "30s"

 # -- Enable Layer 7 network policy.
-l7Proxy: true
+l7Proxy: false

`

[2022-03-04 13:23] YutaroHayakawa commented on #18591
## How to Reproduce

- Create Vagrant VM (needs vagrant-disksize plugin)

[code]

- Compile and upgrade kernel to 5.16.2

[code]

- Install Cilium v1.10.6

[code]

- Now the program cannot load with verifier complexity limit

[2022-03-04 13:24] YutaroHayakawa commented on #18591
## Backporting https://github.com/cilium/cilium/pull/17840 to v1.10.6

[code]

- Final patch (need to resolve some conflict)

[code]

[2022-03-04 13:34] recollir opened #19041 "Communication errors (DNS) during restart of the cilium agents"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

(We have seen issue #15878 - but we are not running with any policies in the cluster)

While investigating #18868 we wanted to enable the metric +cilium_bpf_map_pressure to get more information about the fill ratio of the different bpf maps. After adding the configuration change to the Cilium c

[2022-03-04 13:59] #19015 closed

[2022-03-04 14:51] ScheererJ opened #19045 "Cilium DNS-based egress rules (toFQDN) not working reliably"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

In kubernetes clusters managed by [gardener](https://gardener.cloud) with cilium configured, pods are not reliable able to resolve the DNS names according to their [DNS-based L3 rules](https://docs.cilium.io/en/v1.9/policy/language/#dns-based) (`toFQDN`). The resolution only works if the pod is

[2022-03-04 15:19] aditighag commented on #18675
@chancez I would suggest adding a new section to the k3s guide - https://github.com/cilium/cilium/blob/master/Documentation/gettingstarted/k3s.rst. /cc@raphink

[2022-03-04 15:23] jamesharr commented on #17944
### My perspective
This is my perspective as to what would make a solid solution, I have 15+ years in Networking/Systems and has dealt with iptables, pf, cisco, paloalto, fortinet, and probably some others I'm forgetting. With that experience probably comes some baggage, so it's just one perspective:
1. DROP is still a sane default in today's environment.
2. A system-wide flag to change behavior
3

[2022-03-04 16:25] brb commented on #19010
Reproduced locally. In the case of kube-proxy, the VNI=2 (`ID_WORLD`), while with the kube-proxy-replacement - 6 (`ID_REMOTE_HOST`). Next step is to check what `SECLABEL` we set for bpf_host instances which we attach to the native dev which does the redirect.

[2022-03-04 17:59] chancez commented on #12038
This seems to be due to https://sass-lang.com/blog/libsass-is-deprecated

Overall it may be as simple as using sass instead

[2022-03-04 20:18] joestringer commented on #18773
@ksekharben thanks for trying it out. Which version of Cilium did you deploy? The report above seems to be for 1.11.1.

[2022-03-04 20:22] raphink commented on #18675
@aditighag should k3d and rancher-desktop be subsections of the k3s docs, or separate docs altogether?

[2022-03-04 20:25] joestringer commented on #18919
Is it just a matter of bumping the box images like #19047?

[2022-03-05 01:48] ldelossa commented on #18989
@arianvp will do, I'll update this thread when we have further progress.

[2022-03-05 01:54] #17594 closed

[2022-03-05 15:23] johanneskastl opened #19050 "cilium errors for all managed pods every couple of days: "controller sync-to-k8s-ciliumendpoint (...) is failing since ... ciliumendpoints.cilium.io xyz not found""
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

Every couple of days I noticed lots of errors in the output of `cilium-cli status`. The number of errors always matches the number of managed pods.

Each error is like this:
[code]

Seems like Cilium loses track of the pods.

- If I issue a `cilium-cli upgrade`, the issue is fixed, even if ther

[2022-03-05 15:53] Ericra95 opened #19051 "cilium 1.11.2 setup istio emerge http 503 error"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

A bug happened!

cilium 1.11.2 setup istio emerge http 503 error

I follow the documentation https://docs.cilium.io/en/stable/gettingstarted/istio/ setup isito，

But I get a http 503 error when visiting the istio test link http://192.168.1.15:31355/productpage

cilium status

    /¯¯\
 /¯¯\__/¯

[2022-03-05 16:09] Preisschild commented on #18773
I can reproduce on 1.11.2 as well

[code]

[2022-03-06 01:14] Ericra95 commented on #19051
kubectl  -n istio-system logs istio-ingressgateway-68c86876b-w4wmj -c istio-proxy

2022-03-05T12:55:50.373866Z     info    ads     XDS: Incremental Pushing:0 ConnectedEndpoints:2 Version:
2022-03-05T12:55:50.555730Z     info    cache   generated new workload certificate      latency=181.635157ms ttl=23h59m59.444285273s
2022-03-05T12:55:50.555833Z     info    sds     SDS: PUSH       resource=defaul

[2022-03-06 07:48] #19051 closed

[2022-03-07 03:13] kupi93 opened #19052 "CiliumEgressNATPolicy does not seem to reflect endpoint changes"
Hi, I’m a newbie on Cilium CNI plugin and expecting many useful features of it.
Now, I’m testing CiliumEgressNATPolicy feature with a mediabot example.

However, CiliumEgressNATPolicy didn’t work as I expected.
**In conclusion, it did not seem to dynamically reflect changes in endpoints**. So, I’m finding solutions.

Now, let me explain what I tested.
First, my test environments are:
- CentOS 7.9

[2022-03-07 03:45] dudd commented on #18979
I use kube-proxy to verify this problem and it works. Is it cilium that doesn't support this scenario? Or I have to configure it incorrectly?

[2022-03-07 07:25] kupi93 commented on #19052
Oops...mis-clicked...

[2022-03-07 08:13] kupi93 commented on #19052
[code]
[code]

[2022-03-07 08:53] kaworu opened #19055 "[v1.9/v1.10] CI: K8sServicesTest Checks service across nodes Tests NodePort BPF Tests with direct routing Tests NodePort with Maglev Tests NodePort"
### Test Name

[code]

### Failure Output

[code]

### Stack Trace

[code]

### Standard Output

[code]

### Standard Error

[code]

### Resources

- Jenkins URL: https://jenkins.cilium.io/job/Cilium-PR-K8s-1.12-net-next/1852/
- ZIP file(s): https://jenkins.cilium.io/job/Cilium-PR-K8s-1.12-net-next/1852/artifact/e7ecb860_K8sServicesTest_Checks_service_across_nodes_Tests_NodePort_BPF_Tests_with_dir

[2022-03-07 09:22] kaworu opened #19057 "Add documentation for Clustermesh setup through Helm Chart"
Follow-up issue of https://github.com/cilium/cilium/pull/17851 which introduced support to connect multiple Clustermesh clusters using the Helm Chart.

[2022-03-07 09:40] qmonnet commented on #18885
Some work in progress:

- I have a branch with an update for Sphinx, up to 4.4. It seems to work but hasn't been thoroughly tested yet. https://github.com/qmonnet/cilium/commits/pr/sphinx-4.4
- Additionally, I would like to complete this branch by upgrading the different dependencies from `Documentation/requirements.txt`, but our fork of the RTD theme is blocking some of the upgrades. I tried to r

[2022-03-07 09:50] brb commented on #19055
The test case have been heavily refactored, and it's very likely that it has been fixed on the main branch (we no longer see pod2pod via bpf_sock failures).

[2022-03-07 14:45] rastislavs opened #19067 "Unable to bind to previously bound port after pod restart (Operation not permitted)"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

An envoy pod binds to several TCP ports, e.g. `0.0.0.0:30539` to act as a tcp proxy. After a pod restart, it is unable to bind to the ports used for the tcp proxy again with the following error:
[code]
This issue only appears in clusters with Cilium CNI with ebpf kube-proxy-replacement enabled.

[2022-03-07 14:54] brb commented on #18979
@dudd This seems to be related - https://github.com/cilium/cilium/issues/12513.

[2022-03-07 16:35] gandro commented on #12756
Still happening: https://app.travis-ci.com/github/cilium/cilium/jobs/562270438  (in https://github.com/cilium/cilium/pull/19056)

[2022-03-07 17:41] rastislavs commented on #19067
Hi @gandro,
thanks for the reply.

The affected pod is not running in the host network namespace, it is a standard pod in its own network namespace.

Yes, this has been working for us for years with kube-proxy. It also works with Cilium + kube-proxy-replacement, but only until the affected pod restarts. But as I mentioned, this is not a host network pod.

[2022-03-07 19:17] #18675 closed

[2022-03-07 19:33] gandro commented on #19067
Thanks. It shouldn't block non-host network pods, that does sound potentially like a bug.

/cc @brb

[2022-03-07 20:05] ctml91 opened #20196 "openshift documentation - securitycontextcontraints"
When deploying cilium on openshift, the docs only mention SCC's for the cilium test but can't seem to find requirements for the operator and cilium workloads themselves.

https://docs.cilium.io/en/stable/gettingstarted/k8s-install-openshift-okd/

When deploying hubble, the relay throws this error on startup which I assume is due to elevated privileges required on the node. I've already granted the

[2022-03-07 21:12] gandro commented on #19067
Ah, I think I understand what's going on: The necessary kernel features to determine the network namespace of the `bind` call was only added in Linux 5.7 ([commit](https://lore.kernel.org/bpf/cover.1585323121.git.daniel@iogearbox.net/T/))

Thus, in your setup with kernel 5.4 `kube-proxy-replacement` is not able to distinguish between the pod and the host namespace and blocks basically all NodePort

[2022-03-07 21:46] rastislavs commented on #19067
Thanks @gandro, I can confirm that the issue does not occur on a newer kernel version (tried with 5.13).

What is not clear to me is why the bind to a port from the NodePort range initially works, and only after the pod restart it stops working for the port that was previously working. And the bind still works for a different NodePort (not yet used).

[2022-03-07 23:31] maintainer-s-little-helper[bot] opened #19072 "CI: RuntimePrivilegedUnitTests Run Tests"
### Test Name
[code]

### Failure Output
[code]

### Stacktrace
<details><summary>Click to show.</summary>

[code]
</details>

### Standard Output
<details><summary>Click to show.</summary>

[code]
</details>

### Standard Error
<details><summary>Click to show.</summary>

[code]
</details>

ZIP Links:
<details><summary>Click to show.</summary>

 https://jenkins.cilium.io/job/Cilium-PR-Runtime-net-

[2022-03-07 23:36] joestringer commented on #19072
Based on the stack dumps from the "Standard Error" output, it looks kinda like the neighbor list command which does syscalls into the kernel just hangs in this net-next environment. It doesn't make any sense to me why that might be. The same tests take quite a while for me locally - 220s or so, but no hang like this. Unfortunately given that this is only expecting to run the privileged unit tests,

[2022-03-07 23:40] joestringer commented on #19072
I also suspect that there's another variation on the same issue where the privileged test run simply times out at 10 minutes without dumping stack traces like this does. Here's such an example failure for reference:
https://jenkins.cilium.io/job/Cilium-PR-Runtime-net-next/1463/testReport/junit/(root)/Suite-runtime/RuntimePrivilegedUnitTests_Run_Tests/https://jenkins.cilium.io/job/Cilium-PR-Runtime

[2022-03-08 06:24] #18229 closed

[2022-03-08 08:45] gandro commented on #19067
Cilium only blocks `bind` calls for ports actually in use, that explains the latter.

We would need more details on your pod restart sequence, but I assume it's a race. Generally speaking Cilium can only block new `bind` calls. If the socket is already bound when Cilium is started or restarted, then it won't touch already bound sockets.

[2022-03-08 09:04] gandro commented on #18919
v1.11 is also affected apparently: https://github.com/cilium/cilium/pull/18905#issuecomment-1061543830

[2022-03-08 09:36] gandro commented on #15949
I somehow missed this ticket, but yes, that's correct Dynamic Cluster Pool sounds very similar to option 1. In addition, we're also considering adding option 3 in addition (in case one knows that a node will run many pods), but no concrete implementation on that yes.

[2022-03-08 10:10] #19010 closed

[2022-03-08 11:12] kaworu opened #19079 "[v1.9] CI: k8s-upstream (test-upstream-k8s) add_vagrant_box timeout"
## CI failure

**k8s-upstream (test-upstream-k8s)** failed thrice on [this v1.9 backport PR](https://github.com/cilium/cilium/pull/18986) timing out on vagrant.

- Jenkins build link: https://jenkins.cilium.io/job/Cilium-PR-K8s-Upstream/3518/
- full CI failure output: [Cilium-PR-K8s-Upstream-3518.log](https://github.com/cilium/cilium/files/8205609/Cilium-PR-K8s-Upstream-3518.log)

<details>
<summa

[2022-03-08 11:18] #19067 closed

[2022-03-08 13:13] brb commented on #18828
@sepich Thanks, the fix is out: https://github.com/cilium/cilium/pull/19081.

[2022-03-08 17:16] johanneskastl commented on #19050
Today the issue re-appeared, and I could almost fix it again by running `cilium-cli upgrade`. However, one of the cilium pods is in a crashloopBackOff.

Not sure if the information below is related or not to the actual issue.

I just found this in the logs of the crashing pod.
[code]

[2022-03-08 17:27] johanneskastl commented on #19050
I just noticed that in my previous command, for some reason the version is:
[code]
To fix the original issue, I just ran another `cilium-cli upgrade` and now it properly says:
[code]

[2022-03-08 17:31] johanneskastl commented on #19050
I think I found the issue. There was a `quick-install.yaml` file in `/var/lib/rancher/k3s/server/manifests/` on one of the nodes, apparently from a time before `cilium-cli install` was available.

I have just power-cycled that one node again and will check, if the error reappears.

Sorry for the noise.

[2022-03-08 18:19] #18581 closed

[2022-03-08 18:19] #19003 closed

[2022-03-08 20:05] nitishm opened #19087 "Azure CNI in chaining mode should enabled endpoint routes for direct routing to Azure CNI veth pairs"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

Without enabling endpoint routing when running in CNI chaining mode with Azure CNI, L7 ingress policy connectivity tests are failing. This is due to the ingress ebpf program being attached to the `cilium_host` instead of the Azure CNI `veth` pairs.

To reproduce run the connectivity test on a c

[2022-03-08 21:03] rastislavs commented on #18644
OK, so it seems that there are two possible solutions here:
- use `--exclude-local-address` to get consistent behaviour,
- use `CiliumLocalRedirectPolicy` for node-local-dns instead of binding to a link-local address in the host namespace.

The first option seems to be just a workaround to me. I even think that instead of excluding, the link-local address of the node-local-dns should be rather inc

[2022-03-09 02:16] dudd commented on #18979
@brb Thanks for the reference. I use it in similar ways but with different problems. I'm using K8s v1.23.4 + Cilium v1.11.2, and i can get backend address when i use cilium bpf lb list and  cilium service list.

[code]

[code]

[code]

[code]

I can access the service in the following ways in the k8s cluster.
curl 10.1.134.107:30461

[2022-03-09 03:09] liuyixian123 opened #19090 "if k8s internal ip is just a IPv6 address，cilium datapath is vxlan，how does cilium_vxlan work?"
![image](https://user-images.githubusercontent.com/94579721/157365165-8de7ec2e-c770-466b-88fa-76240b791ce8.png)
The srcNodeIP and dstNodeIP is IPv6 address which is got form k8s internal IP? am I right?

[2022-03-09 05:06] ksekharben commented on #18773
I have tested with both cilium 1.11.1 and 1.11.2. But unable to reproduce this issue.

kindly let me know any changes required to reproduce the above issue.

I am using helm install for cilium installation.

I have set  the l7proxy value to false in values.yaml to reproduce this issue.

[2022-03-09 06:28] Preisschild commented on #18773
my values.yaml

[code]

[2022-03-09 08:29] #18924 closed

[2022-03-09 08:50] brb commented on #18979
Can you paste `cilium status`?

[2022-03-09 09:36] dudd commented on #18979
@brb It shows:
[code]

[2022-03-09 09:40] monwolf opened #19091 "Cilium over nomad"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

I'm trying to deploy cilium on top of nomad but when I run the container I won't start because it can't generate the network interface.

The configuration provided to cilium agent is:

[code]

### Cilium Version

1.9.12

### Kernel Version

[root@host jobs]# uname -a
Linux host 5.4.17-2102.204.

[2022-03-09 09:40] brb commented on #18979
Check what happens with request when you access outside the cluster with `cilium monitor` running on the `node` node.

[2022-03-09 09:43] gandro commented on #18773
@Preisschild Do you have any visibility annotations on your pods? https://docs.cilium.io/en/stable/policy/visibility/

[2022-03-09 10:15] pchaigno commented on #19072
Ok. MLH is again considering all RuntimePrivilegedUnitTests failures are the same, so I'll close this.

[2022-03-09 10:15] #19072 closed

[2022-03-09 10:21] dudd commented on #18979
@brb

I create a new svc，it nodeport is 31619 and node ip is 10.1.134.107.

[code]

I access lb from 10.1.134.10, and i set timeout=5 , if not set many records will appear in cilium monitor.
[code]

This is the result of cilium monitor. I can find any about 10.1.134.107:31619 and 10.1.134.10. I don't know if that helps
[code]

[2022-03-09 10:23] pchaigno opened #19093 "CI: RuntimePrivilegedUnitTests: panic: test timed out"
### Test Name
[code]

### Failure Output
[code]

### Stacktrace
<details><summary>Click to show.</summary>

[code]
</details>

### Standard Output
<details><summary>Click to show.</summary>

[code]
</details>

### Standard Error
<details><summary>Click to show.</summary>

[code]
</details>

ZIP Links:
<details><summary>Click to show.</summary>

 https://jenkins.cilium.io/job/Cilium-PR-Runtime-net-

[2022-03-09 10:24] pchaigno commented on #19093
Previously opened at https://github.com/cilium/cilium/issues/19072 but MLH started associating it with arbitrary RuntimePrivilegedUnitTests failures.

[2022-03-09 10:30] ksekharben commented on #18773
@gandro Are you working on this fix ?

[2022-03-09 10:50] pchaigno commented on #16938
We attempted to reenable the IPsec test on EKS after checking it was passing 20 times (10 locally, 10 in PR). We had to revert that change in https://github.com/cilium/cilium/pull/19078 after the test failed twice in master.

I'm attaching the sysdumps here since that's all we have at the moment, being unable to reproduce:
- [cilium-sysdump-out.zip.zip](https://github.com/cilium/cilium/files/82138

[2022-03-09 12:40] #18828 closed

[2022-03-09 12:43] gandro commented on #18773
Yes, check #19092

[2022-03-09 12:45] #17193 closed

[2022-03-09 14:46] joaoubaldo commented on #15445
I am experiencing something very similar to this. In my case, the drops reported by Hubble are real (see tests below).
Running Cilium 1.10.3 on EKS 1.20.

For context, we use Traefik (as a DaemonSet) to forward traffic to `some-service` Pods/Endpoints and from time to time, our metrics show an increasing number of HTTP 504's for ingresses.
When these 504's are happening, Traefik logs show messages

[2022-03-09 16:18] nbusseneau commented on #19079
Will be fixed by #18986 (see https://github.com/cilium/cilium/pull/18707#issuecomment-1061839149 for details).

[2022-03-09 20:48] joestringer commented on #18919
No, it'll require more effort than that. The latest VM has several missing systemd unit files, it compiles with Go 1.17 which is not consistent for all of the earlier branches, and the latest failure on that branch is some VM swap issue. I'm dropping the PR for now for lack of cycles.

[2022-03-10 00:28] joestringer opened #19098 "bpf mock tests target broken with parallel builds"
While attempting to run the integration-tests on master Cilium (v1.12 dev cycle), I hit this issue:

[code]

Note that my Make command here runs with `V=0` and `-j$(nproc)` by default, so there may be parallel targets going on here. At a glance this is probably just an issue where the integration-tests target relies on the bpf-mock preparation, but that target is either not an explicit dependency

[2022-03-10 00:29] joestringer commented on #19098
After re-running a couple of times, it actually "fixed itself", so that suggests that indeed the bpf_mock target is run concurrently with the targets that depend on it, instead of using a direct dependency.

[2022-03-10 00:30] joestringer commented on #19098
I'm also wondering why the bpf_mock targets are part of the integration-tests, I thought they are only for bpf unit testing?

[2022-03-10 06:57] anwbtom commented on #18239
@prune998 Thank you for your comments, it helped us debug issues we had a bit further, but alas we were stuck one step further in 1.10.8+ than you.

Our situation was that we want to use different subnet(s) for our pods than our worker nodes, for some odd reason when using cilium 1.10.8+ as the CNI for EKS it won't attach an actual ENI to the node to use for pod addresses and the "Instance not fou

[2022-03-10 08:45] GabMgt commented on #18256
We just had the same problem with 2 nodes:

[code]

This issue makes me crazy

[2022-03-10 09:32] liuyixian123 opened #19102 "if option.Config.Tunnel is “vxlan”，why do we check the "ipv4Address" ? as I know, ipv6Address can be used as the vxlan outer IP, too"
cilium/pkg/node/address.go:
`func ValidatePostInit() error {
	if option.Config.EnableIPv4 || option.Config.Tunnel != option.TunnelDisabled {
		if ipv4Address == nil {
			return fmt.Errorf("external IPv4 node address could not be derived, please configure via --ipv4-node")
		}
	}

	if option.Config.EnableIPv4 && ipv4RouterAddress == nil {
		return fmt.Errorf("BUG: Internal IPv4 node address was not

[2022-03-10 10:12] pchaigno commented on #15445
@joaoubaldo Could you please open a new issue with the same information as above plus a full dump of those Hubble drops (`-o jsonpb`)? A Cilium sysdump of the cluster would also help.

[2022-03-10 12:55] prune998 commented on #18239
@anwbtom I can confirm the same kind of behaviour... when a node is upgraded, all the ENIs/IPs already on the node works and can be used. Attaching new ENIS or grabbing new IPs will fail.

Now the questions is how to get someone assigned to this issue ? We need to get more traction here...

[2022-03-10 13:08] anwbtom commented on #18239
Well, in my testcase after the initial working ENI was attached it was able to attach a new ENI as well, but *only* with a SecurityGroupId pre-configured (so using the default of the node didn't work, since then this message was shown: `level=warning msg="Unable to create interface on instance: unable to get security groups failed to get security group ids" instanceID=i-0c5a3a0fa068db10f name=ip-1

[2022-03-10 14:25] prune998 commented on #18239
[code]

It shouldn't (and wasn't) a problem before 1.10.8.
Also, a diff between 1.10.7 and 1.10.8 does not show any changes in the EKS ipam/eni code... :/

[2022-03-10 14:48] anwbtom commented on #18239
Am not saying its not a bug or that its logical (I don't know to much from the internals of cilium yet).

But the error states its having trouble finding the security group ids: `Unable to create interface on instance: unable to get security groups failed to get security group ids`.
So by giving it one or more ids (priority 1 according to your attached list), it won't have to search for it, and ju

[2022-03-10 15:52] prune998 commented on #18239
Yeah, i'm testing this scenario right now and trying to add debug... I'm wondering if the issue could be a change in the AWS SDK, as it totally feels it's a mismatch between what we get from AWS, the Cilium Operator cache and what's in the `CiliumNode`

[2022-03-10 16:17] qmonnet commented on #9846
This has been addressed for most of the codebase, closing.

[2022-03-10 16:17] #9846 closed

[2022-03-10 16:24] aanm commented on #19090
Correct

[2022-03-10 17:49] japem opened #19106 "Small bug in agent.Agent.Init()"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

I believe there is a small bug in the code in `pkg/wireguard/agent/agent.go:263`:

[code]

The second argument to `net.CIDRMask()` is expected to be a number of bits in the address, but the value of `net.IPv4len` is 4 (the number of bytes in the address).

I think this has gone unnoticed becaus

[2022-03-10 18:37] #19087 closed

[2022-03-10 19:24] joestringer opened #19107 "make tests-privileged fails if you don't have a custom TC installed"
Cilium master branch, during v1.12 development cycle:

`github.com/cilium/cilium/pkg/datapath/loader` tests fail if you don't have https://github.com/cilium/iproute2 installed.

[code]

Perhaps we could containerize part of this test so that it has the required loader rather than relying on the loader from the host filesystem?

Over time we intend to eventually remove this loader dependency, but t

[2022-03-10 19:25] joestringer commented on #19102
Hi, I don't think that IPv6 VXLAN underlay is supported today for encapsulation. I don't think that there is any technical limitation to this, it's just that no-one has implemented it yet.

[2022-03-10 19:29] joestringer commented on #19006
Curious. `identity=5` suggests that (1) identity is `ReservedIdentityInit` (which is I think typically only used if the identity cannot be determined by dumping labels from k8s + allocating identity). I'm actually surprised to see that show up at all these days, we eliminated most such cases several releases ago. But then `k8sPodName=/` suggests perhaps that this is the host endpoint or something?

[2022-03-10 20:46] prune998 commented on #18239
I added some debug in some functions and It seems to get down to:

[code]
If we don't set 1) or 2), eth0 is used by default.
In that case, we loop each interfaces, hoping to find the number `0`:

https://github.com/cilium/cilium/blob/79645bd18043212f3ff69b32cf7245f3644cb098/pkg/aws/eni/node.go#L276-L284

What I found, so far, is that:
- the ENIs that a looked up are only the ones created by Cilium

[2022-03-10 21:07] pchaigno commented on #19006
I think `k8sPodName=/` is just because it's the Runtime tests and Kubernetes isn't installed. I confirmed from the sysdump that endpoint 2230 isn't the host endpoint since 2230 has a network interface starting with `lxc`. (The host endpoint is 2132.)

[2022-03-10 21:10] joestringer commented on #19006
Ah, okay, then that probably also explains the use of identity=5. The init identity like that is used initially for pods before we're able to establish the labels of the pod and allocate an identity. In K8s mode, this is a blocking operation upon pod creation, so we are guaranteed to have labels and a proper identity for the pod. In non-k8s mode, there is no such blocking check against the source

[2022-03-10 21:11] joestringer commented on #19006
Endpoint regeneration trigger here seems to be expecting that the pod was previously set into some kind of state that reflects that regeneration is occurring. But regeneration was already completed? Maybe there's some race condition with the container creation steps in this env now then.

[2022-03-10 21:13] prune998 commented on #18239
I can confirm the behaviour is different with Cilium 1.10.7, where `eth0` is part of the list of interfaces.
Now I'm investigating around the updates that lead to this behaviour change....

[2022-03-11 00:54] liuyixian123 commented on #19102
it's a pity. I've done the verification about IPv6 VXLAN underlay. I delete the code above and  make it choose a IPv6 address as the Outer IP, and ping the pod in another k8s node, it failed.

![image](https://user-images.githubusercontent.com/94579721/157780506-2df0f95e-f4ed-4cd0-bb29-15cb133de5dd.png)
 u can see the f100::41 is the IPv6 address in this k8s node. i make it as the cilium external

[2022-03-11 02:47] #18817 closed

[2022-03-11 02:48] #18616 closed

[2022-03-11 02:50] vincentmli commented on #16890
https://github.com/cilium/cilium/pull/18758

[2022-03-11 02:50] #16890 closed

[2022-03-11 03:54] aanm commented on #19106
@japem that is correct, the same bug is happening a couple lines below for IPv6Len. Would you like to submit a PR with the fix? Thank you!

[2022-03-11 06:42] gitcodeporter opened #19110 "Failed to build image"

[2022-03-11 06:46] #19110 closed

[2022-03-11 06:46] gitcodeporter commented on #19110
done

[2022-03-11 06:51] brb commented on #19106
Nice catch @japem . Please send a PR.

[2022-03-11 06:56] CodeFarmer86 opened #19111 "Failed to build project"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

I failed to build a project locally using make release or make docker cilium image. How can I build an image?

My goal is to modify the source code and build a usable image that can run in the K8S environment

### Cilium Version

v1.11.2

### Kernel Version

Linux  3.10.0-1160.36.2.el7.x86_64 #

[2022-03-11 07:38] panchm commented on #17944
Then looks like we are on the same page,

We need to introduce a new option like ingressReset which sends the TCP RESET and in case **ingressDeny** is configured, it should DROP by sending TCP REJECT as shown below in both cases

apiVersion: "cilium.io/v2"
kind: CiliumNetworkPolicy
metadata:
  name: "l4-rule-deny"
spec:
  endpointSelector:
    matchLabels:
      role: backend
  **ingressDeny**: --

[2022-03-11 09:59] ti-mo commented on #19091
@monwolf Have you been able to track down why `cilium_net` is not present when trying to access the ifindex? (curious to see an `ls /sys/class/net` right before that failing `cat`)

Please note we currently don't develop or test on Nomad, and as you're aware, we're sunsetting the Consul kvstore driver in 1.12. You'll need to be prepared to work through these kind of issues on your own as they crop

[2022-03-11 10:06] hacktron95 opened #19112 "Mismatch between helm chart value naming and the actual values file and docs"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

Hello and good day,

I've seen that there's a mismatches between helm chart values and the actual values file,
in helm installation option, the documented way for changing `arping-refresh-period` time for the l2-neighbor-discovery feature is by setting `l2NeighDiscovery.arping-refresh-period` f

[2022-03-11 10:29] recollir commented on #19041
We have tried to reproduce this in dev clusters during the week but aren't successful there. We assume it has to do with the scale/size and the applications deployed on this production cluster. We are thinking of deploying some canary nodes with canary applications on them and see if restricting agent restarts to these will reproduce the issue. Anything else we could try? What information would yo

[2022-03-11 10:43] #19098 closed

[2022-03-11 12:43] ti-mo commented on #19111
Hi @CodeFarmer86

There is a dedicated section for this in the [Cilium documentation](https://docs.cilium.io/en/v1.11/contributing/development/images), both for building development images as well as release images.

Please refrain from filing questions as bugs, the [Cilium Community Slack](https://cilium.herokuapp.com) is better suited for this.

[2022-03-11 12:43] #19111 closed

[2022-03-11 13:00] ti-mo commented on #19112
Hi @hacktron95, nice catch! Please do submit a PR for this, thank you.

I would opt for `l2NeighDiscovery.refreshPeriod` across the board for a few reasons:
- camelCase is preferred in yaml and would be consistent with the naming style of all other values
- users might already rely on `refreshPeriod` since the chart has already shipped this way; modifying this would constitute a breaking change
-

[2022-03-11 13:01] borkmann commented on #18843
Thanks for the report, @sepich! Would a config as the following work for your env?

[code]

(cc @joamaki)

[2022-03-11 14:33] prune998 commented on #18239
More research...
I'm trying to get new nodes working.
so far, when a new node is joining the cluster, `cilium agent` kicks of, create the `ciliumNode` then the `cilium-operator` tries to add ENIs/ IPs.

To do that, the Operator look in EC2 for vpcs, subnets, instances. Then this "ec2 client cache" is used to match the instance.

Because of the split network, the new EC2 instance only have one ENI

[2022-03-11 14:42] gandro commented on #18239
So looking at the list of changes between 1.10.7 and 1.10.8, one relevant change that I see is the aforementioned https://github.com/cilium/cilium/pull/18478

@prune998 @anwbtom How are you configuring subnet tag filtering? Only using the CNI ConfigMap, or also using the `subnet-tags-filter` on `cilium-operator`? (Helm value: `eni.subnetTagsFilter="foo=true"`)

If you are using the Helm value, doe

[2022-03-11 14:44] anwbtom commented on #18239
I was adding it on both levels e.g. in the cni-config and the eni.subnetTagsFilter.
Will test it with only setting it on cni-config level, either today otherwise monday and come back to this.
Thanks for all the additional information and feedback!

[2022-03-11 14:51] gandro commented on #18239
Thanks. So my suspicion is that `eni.subnetTagsFilter` is broken for some reason. It likely has been broken for a while, because of bug #18328 it was actually silently ignored in `v1.10.7` and older (i.e. it didn't filter out any subnets at all). Now that we fixed  #18328 it seems like this surfaced another bug in our subnet filtering logic.

This needs to be understood and fixed, but a potential

[2022-03-11 14:52] prune998 commented on #18239
OK, thanks @gandro it seems that removing the value from the `helm` values does it.
The `instance cache` now does includes all the subnets, and the instance values are found by the operator...

[2022-03-11 14:54] xmulligan opened #19116 "Proposal: Add License Scanner to the repo"
## Proposal / RFE

**Is your feature request related to a problem?**
For being a part of the CNCF, we need to adopt a license scanning tool. https://github.com/cncf/toc/issues/729

**Describe the solution you'd like**
Their two suggestions are FOSSA or Snyk. We may also may want to consider Fossology

[2022-03-11 14:54] xmulligan commented on #19116
cc: @nbusseneau

[2022-03-11 14:56] prune998 commented on #18239
I still don't understand why setting it twice would change the behaviour... any clue ?

[2022-03-11 14:58] anwbtom commented on #18239
It might be smart to alter the documentation with this warning in the meantime?

[2022-03-11 15:11] gandro commented on #18239
The two filters work independently:
- First, `eni.subnetTagsFilter` is used as a global filter, to remove any non-matching subnets when the operator selects candidate subnets to attach ENIs from. See here: https://github.com/cilium/cilium/blob/314ca7baeff4f568ffc0bad95124e40665b1f88c/pkg/ipam/allocator/aws/aws.go#L40)
- Secondly, the CNI config section is copied over into `CiliumNode.Spec.ENI.Subn

[2022-03-11 15:19] prune998 commented on #18239
Thanks for the details.
I can also confirm that `eni.subnetTagsFilter` IS working for me :)
But it's not doing what I thought it would....

`eni.subnetTagsFilter` filters the `ec2 instances` to manage (or consider as possible candidates).
In my case, because fresh instance does not have any interface using a subnet that matched the filter, no instance is selected.
I guess that's this behaviour tha

[2022-03-11 15:33] gandro commented on #18239
@prune998  That is a very good observation, you might be on to something here. This theory matches reports of my colleagues which apparently have been using `eni.subnetTagsFilter` successfully with v1.10.8, but in their case the filter _does_ match the already attached `eth0` interface, so `GetInstances` returns something for every node in their case.

[2022-03-11 15:45] pchaigno commented on #18958
Hit this again at https://jenkins.cilium.io/job/Cilium-PR-Runtime-net-next/1533/testReport/junit/(root)/Suite-runtime/RuntimePrivilegedUnitTests_Run_Tests/.

Time to look at the average runtime again:
<img src="https://user-images.githubusercontent.com/1764210/157899984-4b4acf6e-ef46-4928-a95f-8886dd95c8b9.png" width="550" height="400" />
The test duration clearly became a lot less stable starting

[2022-03-11 15:51] prune998 commented on #18239
I guess that filtering the `instances` based the the filtered `subnets` is to reduce the amount of data to store/parse/consider ?

I'm not sure what would be the right way of doing this filtering... My guess would be that it should be based on `tags` attached to the instances, that should be = to the EKS cluster... as I guess we should only consider instances that are part of the cluster where Cil

[2022-03-11 15:55] prune998 commented on #18239
side note: I have multiple EKS clusters in the same VPC/subnets... so Cilium of cluster X is actually considering all the instances of cluster Y.
Thats why I guess using the subnets / subnet filter is a bad idea here.
Instance tags would be a better option if we want to narrow down the number of instances we're considering

[2022-03-11 16:28] gandro commented on #18239
Yes, this is my understanding too. It seems that the global filter (Helm value `eni.subnetTagsFilter`) was indeed added as a performance optimization: https://github.com/cilium/cilium/pull/10738

Given what you said, I think the way forward here is two-fold:

1. Let's fix `GetInstances()` to return all instances, even if they are not attached to a matching subnet (yet). This is a bug fix and can b

[2022-03-11 17:56] prune998 commented on #18239
totally agree. I'll work a PR for 1) quickly !
Thanks !

[2022-03-11 18:44] jamesharr commented on #17944
I think that alliance with what I I think would make sense.

There is a slightly ambiguous behavior that I think is probably acceptable. If you have two policies that apply to the same pod, but only one defines an ingressDeny, what happens?

In this case I think it makes sense to use the ingressDeny from the policy that has it defined.

For cases where different policies define conflicting ingress

[2022-03-11 18:55] joestringer opened #19119 "Panic in `cilium bpf policy get`"
Found on master, v1.12 development cycle.

Found on PR #18864, CI run: https://jenkins.cilium.io/job/Cilium-PR-Runtime-net-next/1537/testReport/junit/(root)/Suite-runtime/RuntimeConntrackInVethModeTest_Conntrack_related_configuration_options_for_endpoints/

Test: `Suite-runtime.RuntimeConntrackInVethModeTest Conntrack-related configuration options for endpoints`
Archive: [e804e2ff_RuntimeConntrack

[2022-03-11 18:57] joestringer commented on #19119
One more relevant observation from the test failure, one of the cilium pods was still restoring / regenerating endpoints. This likely failed during Cilium startup / while endpoints were being regenerated. Possibly, bpf policy maps disappeared underneath the CLI while it was attempting to use them.

[code]

[2022-03-11 19:35] esteban1983cl commented on #18118
I have this strange message in eks 1.19, cilium v1.11.0
Somebody can explain this ?

[2022-03-11 19:49] joestringer opened #19120 "CI: ConformanceGKE: pods "cilium-xxxxx" not found"
## CI failure

https://github.com/cilium/cilium/runs/5512027790?check_suite_focus=true

Scheduled run (ie master today) during v1.12 dev cycle.

Deploying with direct routing passes.
Subsequently deploying with tunneling mode passes.
Subsequently deploying with encryption fails.

Sysdump:
[cilium-sysdump-out.zip (6).zip](https://github.com/cilium/cilium/files/8235116/cilium-sysdump-out.zip.6.zip)

[2022-03-11 19:49] eddycharly opened #19121 "Allow targeting nodes in CilumNetworkPolicy"
## Proposal / RFE

Cilium already supports a couple of methods to specify endpoints policies https://docs.cilium.io/en/stable/policy/language/#layer-3-examples.
Some Kubernetes constructs are supported too https://docs.cilium.io/en/stable/policy/kubernetes/.

In certain scenarios it can be useful to filter on nodes.

As an example, allowing `egress` from master nodes of a cluster to nodes that hos

[2022-03-11 19:51] joestringer opened #19122 "CI: ConformanceGKE: All tests fail with tunneling mode: Timeout waiting for flow listener to become ready"
## CI failure

PR run after recent rebase against master:

* Deploying with direct routing passes
* Subsequently deploying in tunneling mode fails the whole suite
*
[cilium-sysdump-out.zip (7).zip](https://github.com/cilium/cilium/files/8235134/cilium-sysdump-out.zip.7.zip)

https://github.com/cilium/cilium/runs/5501644750?check_suite_focus=true

[code]

[2022-03-11 19:54] joestringer opened #19123 "CI: Multicluster workflow fails full connectivity test"
## CI failure

Scheduled run on master, Cilium v1.12 dev cycle

https://github.com/cilium/cilium/runs/5512765844?check_suite_focus=true

[cilium-sysdump-out.zip (8).zip](https://github.com/cilium/cilium/files/8235145/cilium-sysdump-out.zip.8.zip)

[code]

[2022-03-11 19:55] joestringer commented on #19123
Seems like a pre-emptible nodes issue.

[2022-03-11 19:56] joestringer commented on #19120
Connectivity test failed: 11 tests failed

Seems like a preemptible nodes issue.

[2022-03-11 19:57] joestringer commented on #19123
^^ I am going to treat this as the same as #19120 based on the above observation.

[2022-03-11 19:57] #19123 closed

[2022-03-11 20:40] prune998 commented on #18239
@gandro according to the PR https://github.com/cilium/cilium/pull/10738 it feels there's a real use-case for such an option.
Maybe this option is just badly named or documented.
I guess we don't want to revert the use of it, or some large users will cry.

maybe we should just amend the docs to be clear about this option ?
Then, I'll focus on 2) ?

[2022-03-11 22:16] joestringer opened #19124 "CI: RuntimeConntrackInVethModeTest Conntrack-related configuration options for endpoints: curl from to httpd2 fails"
### Test Name

[code]

### Failure Output

[code]

### Stack Trace

[code]

### Standard Output

[code]

### Standard Error

[code]

### Resources

- Jenkins URL: https://jenkins.cilium.io/job/Cilium-PR-Runtime-net-next/1537/testReport/junit/(root)/Suite-runtime/RuntimeConntrackInVethModeTest_Conntrack_related_configuration_options_for_endpoints/
- ZIP file(s):
[e804e2ff_RuntimeConntrackInVethMode

[2022-03-11 22:17] joestringer commented on #19119
Looking back over the output, I'm not sure that the stack trace is actually pointing out a panic. I think that this is just the "long lock" detection code that tries to figure out when a lock is held longer than expected, so it happened to print the stack trace. The actual panic is listed in #19124.

[2022-03-11 22:17] #19119 closed

[2022-03-11 22:18] #17047 closed

[2022-03-11 22:41] joestringer commented on #17644
Still flaky, https://github.com/cilium/cilium/pull/19125 will re-quarantine these tests.

[2022-03-11 22:43] joestringer opened #19126 "CI: Multicluster: Failed provisioning"
## CI failure

https://github.com/cilium/cilium/runs/5501838928?check_suite_focus=true

`Install Cilium in cluster2` fails:

[code]

[2022-03-11 22:45] joestringer commented on #11105
Similar failure in `K8sIdentity Identity expiration Expiration of CiliumIdentity` here:

https://jenkins.cilium.io/job/Cilium-PR-K8s-GKE/7844/testReport/junit/Suite-k8s-1/20/K8sIdentity_Identity_expiration_Expiration_of_CiliumIdentity/

[code]

Later in the output, the CI is able to locate & execute commands inside the cilium-agent pods in order to gather info. So the core problem here seems to be

[2022-03-12 04:35] pretty66 commented on #18900
I have found the reason for this problem. The reason is that calico has been installed in the cluster before, and the iptables rule remains after uninstalling calico, which leads to the problem of the cilium DNS policy;

After I cleaned up all the calico related iptables rules, it returned to normal

[2022-03-13 14:30] pchaigno commented on #18787
The two pull requests mentioned above have been merged. This can be closed.

[2022-03-13 14:30] #18787 closed

[2022-03-14 02:21] zhujinhe commented on #18334
Look forward to a detailed tutorial or best practices.

[2022-03-14 02:26] cyclinder commented on #18866
Hi everyone! Can I work on this ?

[2022-03-14 03:46] liuyixian123 opened #19130 "if option.Config.Tunnel is “ipvlan”，ipam is "cluster-pool"，cilium network is double-stack. we can't visit the pod in another node by IPv6 address."

[2022-03-14 05:46] pretty66 opened #19131 "Configuring the development environment, an error occurs when using the proxy"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

**When I set up the development environment, I need to set the agent for some reasons. When I configure the environment variable "vm_set_proxy" according to the document, an error occurs:**

[code]

### Cilium Version

1.11.2

### Kernel Version

5.11.0-27-generic

### Kubernetes Version

1.23

[2022-03-14 06:50] #18900 closed

[2022-03-14 08:40] YutaroHayakawa commented on #18909
I made some discussions regarding this issue with @brb and @borkmann. Below is a summary.

## The Problem

Currently, WG with KPR implementation is ongoing. In that implementation, we need to redirect the packet to the WG device in `to_netdev`. However, before that, we need to first SNAT the packet, then redirect. If we call into `handle_nat_fwd`, it does tail-call and sends the packet to the netw

[2022-03-14 10:48] gandro commented on #18239
@prune998 Good point. I didn't study the `GetInstances` implementation before. I agree that simply removing the global subnet tag filter from `GetInstances`/`describeNetworkInterfaces` would defeat it's original purpose.

If you say you want to focus on 2), does that mean changing the `GetInstances` implementation from calling `describe-network-interaces` (with filtering by subnet tags, which caus

[2022-03-14 13:04] panchm commented on #17944
Hi,

I would like to take up this issue.

Kindly assign it to me.

Thanks,
PMahadev

[2022-03-14 14:05] prune998 commented on #18239
Yes, it will be a new parameter along `eni.subnetTagsFilter`... like `eni.instanceTagsFilter` and both options will require some documentation changes to clearly state what they do : filtering ec2 instances that are part of this specific cluster.

I have to do more testing on using un-managed nodePools in EKS before putting something together.

[2022-03-14 14:57] jmcshane opened #19136 "Connection reuse causing intermittent 503 errors from cilium-envoy"
## Proposal / RFE

**Is your feature request related to a problem?**

Yes! We have been experiencing issues with L7 rules associated with sending parquet requests to S3. After 100 successful requests with 206 responses, we receive an error 503 as it attempts to establish the connection for the s3 host. that error continues for some time (until a timeout) when we are then able to fetch data success

[2022-03-14 15:16] jmcshane commented on #19136
Looks like we need to set [`max_requests_per_connection`](https://www.envoyproxy.io/docs/envoy/latest/api-v3/config/core/v3/protocol.proto#envoy-v3-api-msg-config-core-v3-httpprotocoloptions) to 100

[2022-03-14 15:55] pothos commented on #18706
To add on what I said in https://github.com/cilium/cilium/issues/18706#issuecomment-1031600043 here for docs purposes what I think could work with systemd-networkd default settings and no rule to set the affected interface `Unmanaged`.
At runtime Cilium could create a networkd unit for the interfaces under `/run/systemd/network/` with the `[RoutingPolicyRule]` entries and the following settings to

[2022-03-14 21:41] #13900 closed

[2022-03-15 05:47] anthonyhaussman opened #19140 "Cilium panic: runtime error: invalid memory address or nil pointer dereference v1.10.8"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

Hi,

Using Cilium last `v1.10` version installed via Kops `1.23.0`, when scaling via `cluster-autoscaler` for more nodes, some Cilium happened to `CrashloopBackOff` when the number of nodes increased.

Log output is available below with the sysdump.

If more information is needed, I stay availa

[2022-03-15 06:58] monwolf commented on #19091
@ti-mo  this is great news preserving consul support :). I've been able to make it work with the env vars  defined in the consul library because using your parameters for the kvstore

Regarding the main issue, I couldn't track it because I don't know where to start but let me check if I can dive a little bit more

[2022-03-15 08:42] #18417 closed

[2022-03-15 14:18] romanspb80 opened #19146 "Vagrant Setup: issue with Docker building"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

During the deployment of the DEV environment in accordance with the [guide](https://docs.cilium.io/en/v1.11/contributing/development/dev_setup/#vagrant-setup) , a docker container building error occurs:

   k8s1: #5 ERROR: executor failed running [/bin/sh -c apk add --no-cache --virtual --updat

[2022-03-15 15:52] joaoubaldo opened #19151 "Cannot update CEP - etcdserver: request is too large"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

I have an EKS cluster running Cilium 1.10.3 on a small deployment (usually less than 10 nodes) and I’ve been getting error messages about CEP failing to update due to request size, with reasonable frequency (e.g hundreds everyday).

[code]

Cilium is configured to use CRDs to keep state.

Based

[2022-03-15 17:04] anthonyhaussman commented on #19140
I think I have found the problem :confounded:
One of the deployment resources that I have backuped had this annotation:
[code]

This annotation is used for Layer 7 Protocol Visibility which is not supported with WireGuard Transparent Encryption.
After deleting the annotation, everything works perfectly. :ok_hand:

I close the issue.

[2022-03-15 17:15] chancez commented on #19140
Let's keep this open as Cilium should not panic, even when misconfigured. Ideally it either logs an error and exits, or just ignores the invalid config option.

[2022-03-15 17:21] joestringer commented on #19151
Thanks for the report! Looking at the output from above, it looks like you have turned on `--endpoint-status=policy`, which means that the size of the CEP is proportional to the number of peers in the cluster that can reach these endpoints. Given the permissive policy of `fromEntities: - cluster`, this selects each identity present in the cluster, and hence can grow to be quite large. As a mitigat

[2022-03-15 20:38] thejosephstevens commented on #18826
Ahhh, amazing, I'll give 1.11.2 a try and see if it works with the most recent EKS AMIs.

[2022-03-15 21:01] christarazi commented on #18118
Could you upload a [sysdump](https://docs.cilium.io/en/v1.11/operations/troubleshooting/#automatic-log-state-collection) of when this happens again?

[2022-03-16 03:07] #18511 closed

[2022-03-16 06:02] Elegant996 commented on #18250
@christarazi based on https://github.com/metallb/metallb/issues/1211#issuecomment-1034181020, this does not appear to be in scope of the project. In a way, it makes sense, `metallb` is designed to provide a loadbalancer IP for baremetal clusters and advertising pod CIDRs is technically out of scope.

Perhaps `cilium` should use the controller feature of `metallb` and the create a separate module t

[2022-03-16 06:54] anwbtom commented on #18239
I'm not sure if for point 1, cilium is aware if it starting up or not.
It indeed makes sense that the subnetfilter would not check ENI's that don't comply to the filter. However if it cannot find an ENI on the node that complies with the filter and there are still ENI spots left to be attached, wouldn't it make sense it would try to attach an ENI that does comply with the filter (at least during s

[2022-03-16 07:13] panchm commented on #17944
Please assign this issue to me

Thanks!

[2022-03-16 08:53] julianwiedmann commented on #13303
In the PR, @borkmann suggested to wire this up in `cilium service list` instead. Do we want both, or was there further consensus which one (`cilium service list` or a new `cilium bpf` sub-cmd) helps us more?

I'm not entirely sure how to format the output yet. In the ~rough prototype below, wouldn't users assume that there is some relation between the listed backend address and the source range ne

[2022-03-16 09:27] borkmann commented on #13303
I think it would be nice to have both views. The `cilium bpf` basically only dumps the local bpf maps in a pretty print view without the agent to be running, whereas the `cilium service [...]` goes via agent API and fetches the agent-internal view/state (not the view of the map data). Having both could help catching potential inconsistencies. I would however start out with just a PR extending the

[2022-03-16 09:33] #18923 closed

[2022-03-16 09:34] #17849 closed

[2022-03-16 09:40] ti-mo commented on #18873
A backport for the latest map migration changes to `bpf_load` and `bpf_load_cgroups` was merged to 1.11 last Friday. No reports received here since, but let's keep this open for a bit.

[2022-03-16 09:40] brb commented on #13303
Re adding `Source Ranges` to the `cilium service list`, I'd expect very few users to use the feature. Also, IIRC it's only for services of the `LoadBalancer` type. I'd suggest to add `--verbose` to the cmd, and then print the source ranges if the verbose is on. We could even go a bit further with the `--vebose` by printing the traffic policy, scope, etc.

:+1:

[2022-03-16 09:47] julianwiedmann commented on #13303
Ack, thanks!

Think I saw a commit by you that was preparing to generalize this at some point. But sure, hiding it behind `--verbose` makes sense for now.

[2022-03-16 09:52] borkmann commented on #13303
Afaik, only for LB so far, but our datapath would support it for any type based on the code where we run the filtering.

https://kubernetes.io/docs/concepts/services-networking/service/#aws-nlb-support
[code]

(I think it would be useful also for stand-alone LB mode in future.)

[2022-03-16 11:11] joaoubaldo commented on #19151
Thanks @joestringer, this is useful information. I will post an update on this issue later.

[2022-03-16 12:04] ldelossa commented on #18250
@Elegant996 we are in the process of migrating to a new BGP control plane.

We have implemented our own controller and are migrating the PodCIDR announcement features currently.

Moving forward we will be migrating the facilities `MetalLB` provides as well, a bare metal load balancer and BGP advertisements.

The new BGP control plane can be viewed here and is currently under review. #18860

[2022-03-16 12:24] prune998 commented on #18239
@anwbtom this is an interresting idea.... I'll double check if it's possible and if it does not defeat the oprimization purpose of this filter.
Also, I'll double check if we can make the logs more explicit, reminding the use of the filter...

[2022-03-16 14:22] ti-mo commented on #19107
This should be addressed by https://github.com/cilium/cilium/pull/19159. `testCompileAndLoad` calls into ebpf-go's ELF loader and should no longer use `tc` or `ip` to load ELFs (only `bpf_load` and bpf_load_cgroups` in init.sh are left).

I also have a Go equivalent of `verifier-test.sh` locally that will replace the script in the short term.

[2022-03-16 14:47] ti-mo commented on #19041
Hi @recollir, thanks for the report.

To narrow this down a bit, do you have any workloads that don't rely on DNS? For example, you could scrape a blackbox exporter that performs an HTTP call against a fixed IP address to rule out DNS. The canary deployment should also help, that should give you a quieter node that you can zoom in on with monitoring and you can experiment without affecting product

[2022-03-16 15:40] aledbf commented on #18914
@joestringer is GCE using vpc-native (alias ip) in the direct routing mode scenarios?
(I am interesting in replicating the gke dataplane)

[2022-03-16 16:27] aledbf commented on #18914
@joestringer yes, but I can't use GKE :( just plain GCE VMs (and using k3s)

[2022-03-16 18:51] christarazi opened #19164 "The `ipcache-inject-labels` controller fails consistently when K8s is not enabled"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

In the kube-apiserver policy feature, we introduced a new Cilium controller called the `ipcache-inject-labels` controller. It errors out if the K8s caches in the agent are not synced. If K8s is disabled however, then this error will always be returned. The consequence is that users see a consis

[2022-03-16 19:45] joestringer commented on #18914
Based on this doc, I think it's possible: https://docs.cilium.io/en/stable/concepts/networking/routing/#google-cloud

It looks to me like even though the setting is marked as `gke`, if you use that setting in google cloud, it will still use the native google cloud networking layer. But I think that the best way to find out would be to try it. If you're running k3s, then it's also worth looking at

[2022-03-17 01:59] #18806 closed

[2022-03-17 03:40] vnandha commented on #18494
Hi @brb,

Seems like that PR is merged missed 1.10.8, do you know will there be any patch release on 1.10.x that would get that fix? Seems its not in 1.11.2 as well

[2022-03-17 05:43] thejosephstevens commented on #18826
Confirmed this works with Cilium 1.11.2 and AMI [ami-0e1b6f116a3733fef](https://us-east-1.console.aws.amazon.com/ec2/v2/home?region=us-east-1#ImageDetails:imageId=ami-0e1b6f116a3733fef) (the latest 1.21 EKS AMI from March 9)! @pchaigno do you think that's sufficient to close this, or  is there still something to track on the upstream side in the kernel?

[2022-03-17 06:36] dudd commented on #18979
Is there any method or tool that can help analyze the link at which packets are discarded？

[2022-03-17 07:25] wangfakang opened #19167 "How to redirect POD traffic to Node proxy under cilium-sidecarless architecture?"
I found that only the 'proxy_port' was set in the redirect code of [Cilium](https://github.com/cilium/cilium/blob/beta/service-mesh/bpf/lib/proxy.h#L210), but the 'proxy_ip' of proxy was not set.
![image](https://user-images.githubusercontent.com/8215757/158757340-35f44e91-7759-4fa8-a507-06bc1e228c60.png)

![image](https://user-images.githubusercontent.com/8215757/158757616-f5858ddd-85dc-4711-bcc1

[2022-03-17 08:16] pchaigno commented on #18826
Let's close! Thanks for your help!

[2022-03-17 08:16] #18826 closed

[2022-03-17 10:20] brb commented on #18494
@vnandha Thanks for pinging. This will be backported to v1.11, but not to v1.10.

[2022-03-17 10:57] lizrice opened #19171 "Docs: update navigation bar to match cilium.io"
It would be good if the navigation bar at the top of the Cilium Documentation site matched what's on the rest of the Cilium site. (In particular, the Enterprise tab highlighted in blue is misleading as it looks like it's the currently selected area of the site.)

Rest of cilium.io (this is what we want):
<img width="1421" alt="Screenshot 2022-03-17 at 10 52 02" src="https://user-images.githubuserc

[2022-03-17 15:43] recollir commented on #19041
We are actually planning and working on deploying a canary workload in the prod cluster that we can experiment with. Both on regular nodes but also on dedicated nodes. The reason we created this second issue is that we have observed connectivity issues during restarts of the agent, while the main issue is during "regular operations".

[2022-03-17 15:47] prune998 commented on #18868
I had similar issues and wasn't able to get to a conclusion.
In my case it was even impacting the `kubelet` of the node to reach the AWS API metadata of the node `169.254.169.254`. but anything else could reach it.
My guess is that it was linked to `nat` or `ct` tables containing strange entries.
`cilium bpf  nat flush global` and `cilium bpf  ct flush global` would generally correct the issue.

F

[2022-03-17 15:58] recollir commented on #18868
Thanks @prune998. We have seen the ` kubelet` being impacted on occasions where it could not scrape the readiness or liveness probes. Did enabling `ipMasqAgent` resolve the issues for you completely? Where you running with or without encryption?

[2022-03-17 16:07] joestringer commented on #19171
I think it's good to track the issue here (since the issues on this repo are more likely to get looked at), but for reference the theme for the docs is over here: https://github.com/cilium/sphinx_rtd_theme/tree/v0.7

[2022-03-17 16:17] vincentmli commented on #19167
not familiar with this, maybe TPROXY only requires port to redirect traffic? https://www.kernel.org/doc/Documentation/networking/tproxy.txt, see "2. Redirecting traffic"

[2022-03-17 17:05] joestringer commented on #19130
FYI IPVLAN support was deprecated in v1.11 due to lack of community interest and because veth has been optimized to achieve parity with ipvlan ([details in the Cilium v1.9 release blog](https://cilium.io/blog/2020/11/10/cilium-19#veth)).

[2022-03-17 17:21] #18495 closed

[2022-03-17 17:23] #19106 closed

[2022-03-17 19:37] vnandha commented on #18494
Thank you

[2022-03-18 00:59] prune998 commented on #18239
@gandro while preparing a PR to filter ENIs based on instances tags (instances part of the k8s cluster), I realized that most of the AWS info gathering (from the `Resync` function) just get all the possible resources, like all VPC, all subnets, etc...

I keep double-triple checking the code, but I just don't see why this would be needed.
I can feel this could have a huge impact for companies that

[2022-03-18 01:34] prune998 commented on #18239
I linked the PR for the change. This is still early work in progress.
https://github.com/cilium/cilium/pull/19181

I just decided to add the `instance Tag ` option, and if define, it has precedence over the subnet filter when it's down to finding the available instance ENIs.

[2022-03-18 07:23] recollir commented on #18868
Second follow up as I missed to ask, @prune998: are you using “native VPC” IPs for your pods, that is IPAM mode ENI?

[2022-03-18 07:33] ChainsDW opened #19182 "can i pin the ip of the pod？"
I want to pin my pod's ip through cilium, but I don't know how to do it. can someone help me

[2022-03-18 07:34] recollir commented on #18868
I also wonder how the new default of `bpf.masquerade: false` would affect the `ipMasqAgent` setting? There is this commit https://github.com/cilium/cilium/commit/dc40b2cbe0468aa7389cdafa6c0ae0387f165eb8

[2022-03-18 07:53] 64bit commented on #19122
I installed Cilium as described on EKS tab on [Installation using Helm](https://docs.cilium.io/en/stable/gettingstarted/k8s-install-helm/) in a `cilium` namespace.  But I'm seeing exactly same test failures on EKS `1.21` with Cilium version `1.11.2`.

Does this mean my installation of Cilium is not working? If so, what changes do I need to make?

Thanks!

<details> <summary> cilium connectivity te

[2022-03-18 10:37] romanspb80 commented on #19146
When re-deploying, the problem was not reproduced.

[2022-03-18 10:37] #19146 closed

[2022-03-18 12:56] Champ-Goblem opened #19187 "Egress NAT Not working"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

[](https://docs.cilium.io/en/v1.11/gettingstarted/egress-gateway/)I am trying to use cilium to NAT connections from specific pods via a Digital Ocean floating IP, but I can not seem to get it to work. I have setup cilium as per [https://docs.cilium.io/en/v1.11/gettingstarted/egress-gateway/](ht

[2022-03-18 17:58] kopiczko commented on #12277
From https://kubernetes.io/docs/concepts/services-networking/network-policies/#what-you-can-t-do-with-network-policies-at-least-not-yet

That kind of "guarantees" node IPs can be allowed by the policy.

[2022-03-18 18:27] wkruse opened #19192 "Connection issues when using VIPs"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

We are running [Typhoon](https://typhoon.psdn.io) on bare metal. [Since a couple of weeks](https://github.com/poseidon/typhoon/pull/1114) `cilium` is the default CNI provider. We saw significant performance gains since we switched from `calico`.

But there seems to be an issue, when using VIPs.

[2022-03-19 10:03] batistein commented on #18871
@aanm @tgraf @joestringer I have linked you here, because I think that this issue is already very substantial. Cilium is a great software and replacing the kube proxy with eBPF is almost revolutionary. Thanks for that!
The [konnectivity service](https://kubernetes.io/docs/tasks/extend-kubernetes/setup-konnectivity/) is in my opinion currently the only clean solution to secure Kubernetes control-pl

[2022-03-20 12:24] BurlyLuo opened #19200 "IPVLAN Support"
## Proposal / RFE

**Is your feature request related to a problem?**
No.
**Describe the solution you'd like**

## IPVLAN Backend
From the RN of Cilium,We can see that: [deprecated option](https://docs.cilium.io/en/v1.11/operations/upgrade/#deprecated-options)

### IPVLAN support has been deprecated due to lack of feature support and lack of community interest. [Recent improvements Virtual Ethernet

[2022-03-20 20:20] jrajahalme opened #19202 ""hubble events queue is full" is flooding logs"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

Cilium logs are flooded with "hubble events queue is full" warnings. These should be rate-limited and/or aggregated for longer time period than the until the consumer recovers. Should also consider if this should be at warning level, or if info or debug would be sufficient.

One downside of thi

[2022-03-20 20:26] jrajahalme opened #19203 "Cilium can log warnings and errors from regeneration when stopped"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

Cilium logs warnings and errors when stopped for cancelled endpoint regenerations. These should be suppressed when Cilium is stopping.

### Cilium Version

master

### Kernel Version

N/A

### Kubernetes Version

N/A

### Sysdump

_No response_

### Relevant log output

[code]

### Anything els

[2022-03-20 20:32] jrajahalme opened #19204 "Cilium can panic when stopping"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

Cilium panicked when stopped. While otherwise harmless this causes noise in the logs and wastes time checking them out.

### Cilium Version

master

### Kernel Version

N/A

### Kubernetes Version

N/A

### Sysdump

_No response_

### Relevant log output

[code]

### Anything else?

_No respons

[2022-03-20 23:18] vincentmli commented on #19167
not sure if related but interesting https://cilium.io/blog/2020/06/22/cilium-18#ebpf-based-tproxy-replacement

[2022-03-21 02:30] dongwangdw commented on #19112
Hi, I found this `good-first-issue`, and just correct this issue. Please help review. My first commit here.

[2022-03-21 06:55] dongwangdw commented on #19112
/assign

[2022-03-21 17:25] m-yosefpor opened #19213 "FCOS v35 (kernel v5.16) kernel panic on cilium start up"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

Openshift 4.10 uses FCOS v35 with kernel v5.16. As soon as we upgraded, the nodes got stuck in rebooting with kernel panics. I tainted the nodes to avoid cilium pod to be scheduled on the host and they are all stable (waited for many hours), but as soon as I untaint the node and cilium pod got

[2022-03-21 19:39] gpl commented on #18706
For completeness, in our use case (ubuntu 20.10/kern 5.13.0-35-generic/systemd 248 (248.3-1ubuntu8.2)/cilium 1.11.2), this issue also accepts IPv6 for us, so we've needed to restore the IPv6 routing rules as well.
[code]

[2022-03-21 21:53] m-yosefpor commented on #14955
are there any plans to have this in 1.13 milestone?

[2022-03-22 02:03] #18398 closed

[2022-03-22 05:59] 64bit commented on #19122
Apparently I had restricted SecurityGroups on EKS data-plane/worker nodes. Based on https://github.com/terraform-aws-modules/terraform-aws-eks#security-groups, setting up following security group rules passes all tests in `cilium connectivity test` on Cilium `v1.12.0-rc0`:

[code]

[2022-03-22 07:58] pchaigno commented on #14955
Hi @m-yosefpor :wave: You should already be able to enable endpoint routes in your cluster if you need it. Or is there a reason you need it to be enabled by default?

[2022-03-22 08:15] m-yosefpor commented on #14955
Hi @pchaigno . Actually the problem is endpoint routes cannot be enabled together with BPF host routing. Having endpoint routes enabled by default is not our requirement, but one of the items listed here in the check list (https://github.com/cilium/cilium/issues/14240) is essential for us.

[2022-03-22 14:57] joaoubaldo commented on #19151
No further errors since `endpoint-status: policy` was disabled (I am not actually using it anyways). Thanks for mentioning the ability to restrict identity labels @joestringer, that should definitely help in scenarios with permissive policies and/or significant number of identity labels such my initial setup.

[2022-03-22 14:57] #19151 closed

[2022-03-22 16:52] GabMgt commented on #13493
Hello,
The bug still exists in 1.11.2

[2022-03-22 21:44] #19130 closed

[2022-03-22 21:45] aanm commented on #19182
No, it's currently not possible. Closing this issue since it's a duplicate of https://github.com/cilium/cilium/issues/17026

[2022-03-22 21:45] #19182 closed

[2022-03-22 21:50] aanm commented on #19192
@wkruse can you get a tcpdump and a sysdump of both source and destination nodes? thanks

[2022-03-22 21:51] aanm commented on #19200
Hello @BurlyLuo, let's chat on [Cilium slack](http://slack.cilium.io) my username is `aanm`.

[2022-03-22 21:59] gary-RR opened #19217 "Better cluster mesh fault tolerance"
## Proposal / RFE
Currently if one of the clusters in a mesh crashes, traffic still routes to the downed cluster which makes client apps keep waiting until they times out.
**Is your feature request related to a problem?**
Yes, the scenario expressed above.
**Describe the solution you'd like**
Add some kind of heartbeat logic so that Cilium can automatically take a crashed cluster out of mesh until

[2022-03-22 22:00] pchaigno commented on #19213
Thanks for the heads up! Did you already report it upstream to FCOS or OpenShift? Would you have a link to the report?

[2022-03-22 22:04] pchaigno commented on #19213
Any chance you could also share a sysdump? It would help debug if it's triggered by a specific Cilium feature given we have other reports of Cilium working on 5.16.

[2022-03-22 22:07] aanm commented on #19213
@m-yosefpor it looks that this is fixed in 1.11.2 accordingly to [this comment](https://github.com/coreos/fedora-coreos-tracker/issues/1137#issuecomment-1074344436). Can you test it out? Thanks!

[2022-03-23 07:55] BurlyLuo commented on #19200
Fine.my username is Rowan.

[2022-03-23 11:23] m-yosefpor commented on #19213
@aanm Yes I confirm it is fixed in 1.11.2.

@pchaigno yes I've already reported it to FCOS in
https://github.com/coreos/fedora-coreos-tracker/issues/1137

Although it is fixed in 1.11.2, I think whatever is causing kernel to panic under any circumstances indicates a bug in kernel. I'll follow this with FCOS and linux community  and see if it reproducible to panic latest kernel patches with 1.11.0.

[2022-03-23 11:25] m-yosefpor commented on #19213
Since it is fixed in 1.11.2, would sharing a sysdump with 1.11.0 still help? if so I'll send an update here @pchaigno

[2022-03-23 14:03] recollir commented on #18868
Hi again.

At the beginning of the week we found another broken pod on the cluster where we experienced intermittent communication problems.

We could drain the corresponding node and then saturate it with 50+ test pods running the [netshoot container](https://github.com/nicolaka/netshoot) so that the AWS instance will have several ENIs attached to it.

Luckily one of those test pods also should t

[2022-03-23 14:04] recollir commented on #18868
Broken pod netshoot-31 trying to do DNS against a coredns pod directly (the same works for other pods on the same node):

[code]

[code]

[2022-03-23 14:06] recollir commented on #18868
Broken pod curling/telneting to another pod in the cluster (the same works for other pods on the same node):

[code]

[code]

[code]

[code]

[code]

[code]

[2022-03-23 14:20] prune998 commented on #18868
Do you see any packet denied in hubble ? (to/from 10.103.205.47 and port 8080)

[2022-03-23 14:26] prune998 commented on #18868
What if you `tcpdump` on the `nc` node, port 8080 (not filtering on the IP) ?

the `src_port` of you various captures does not match...

[2022-03-23 14:35] recollir commented on #18868
These are outputs from several tries, all non working, where I first collected only tcpdump, and then hubble, and then etc... I did not collect all output in the same session.

I will give another tcpdump a try. BTW I did not see any dropped packages with cilium monitor. Maybe I should also just look at everything related to that endpoint and not just dropped packages.