[2022-05-19 09:09] jibi commented on #19878
Hey @girikuncoro :wave: these should be the docs you are looking for: https://docs.cilium.io/en/v1.11/gettingstarted/clustermesh/clustermesh/
I think the warning you get on the v1.9 docs is just automatically generated and assumes the new docs are under the same path (which is not the case here)

[2022-05-19 10:05] aanm commented on #17500
@MikeLing sure

[2022-05-19 12:54] julianwiedmann opened #19883 "EgressGW: applying policy breaks established connection"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

Applying an EgressGW policy breaks any established connection that matches the policy and doesn't originate from the Gateway node. Root-cause is that bpf_lxc's `from-container` starts to push the connection's packets into the tunnel to the Gateway, when they previously just exited on the local

[2022-05-19 13:40] pchaigno commented on #16800
v1.8 is not supported anymore and this specific complexity issue should be fixed on newer versions.

[2022-05-19 13:42] pchaigno commented on #14784
Closing as this should now be fixed.

[2022-05-19 14:25] nbusseneau commented on #19870
You're right, I think it's more related to this.

[2022-05-19 14:57] gandro opened #19884 "Potential data race with localNode in NodeDiscovery"
As pointed out by Louis, there is a potential data race with the `NodeDiscovery` module. It protects local node updates via the following mutex:

https://github.com/cilium/cilium/blob/47e936e10996cf79656fb1d6bedbb25c490473b6/pkg/nodediscovery/nodediscovery.go#L650-L658

But the getters of the `localNode` object are *not aware of the lock*, and therefore could concurrently read the fields while the

[2022-05-19 15:25] #19808 closed

[2022-05-19 15:47] lukli11 commented on #19439
We can reproduce the same kubectl issues whenever we add a "default deny-all" policy in any namespace of the cluster. Makes working in the cluster quite difficult... Any help would be highly appreciated 🙂

[2022-05-19 17:05] chapsuk commented on #19813
Steps to reproduce:

1. Setup 2 clusters in clustermesh with `--kube-proxy-replacement='strict'"`
[code]
2. create in both same NodePort service

[code]

3. Check `cilium status` to grab nodes ip's
[code]

4. Call node ports from cluster1 node
[code]

Expected:
[code]

Actual ⚠️ :
[code]

Result:
[code]

I'm not sure but looks like problem in this maps
[code]

This is bug or feature? 🙂

[2022-05-19 18:53] joestringer commented on #19376
per @arianvp 's suggestion, cross-linking this question I had on the watcher initialization code: https://github.com/cilium/cilium/pull/18860#discussion_r876184907

[2022-05-19 19:14] aanm commented on #19787
@brb @aditighag I've quarantined these tests [here](https://github.com/cilium/cilium/pull/19545) so don't be surprised if they looked like they got fix.

[2022-05-19 23:09] aditighag commented on #18005
@chowmean Sorry, I missed your message. Are you still interested in working on this documentation related PR?

AFAIK, we currently don't have a central place in the code that lists all the internal allocations. But this would be a good place to document the requirement as smaller instance types can limit the IP allocations - https://docs.cilium.io/en/v1.10/concepts/networking/ipam/eni/#ec2-instanc

[2022-05-20 01:26] dctrwatson opened #19890 "NoExecute taint causes mass pod eviction after GKE control plane upgrades"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

After GKE upgrades the control plane, so after the 2nd time the kubelet reconnects, `system:gcp-controller-manager` will update the node object adding back the `node.cilium.io/agent-not-ready:NoExecute` taint. Usually within 100ms the cilium agent will then remove the taint. However, that is mo

[2022-05-20 03:02] FanHTao commented on #19362
@vincentmli  Problems caused by setting   src_address  port
![image](https://user-images.githubusercontent.com/25880450/169441444-5153e6e1-7702-4bbe-aae6-947c9ca1544a.png)

Modify the following code to repair
proxy/cilium/socket_option.h
![image](https://user-images.githubusercontent.com/25880450/169441818-ae3cf8f1-7233-4894-bacb-509a4aa39791.png)

[2022-05-20 03:09] vincentmli commented on #19362
@FanHTao nice! did you file issue or send PR to https://github.com/cilium/proxy?

[2022-05-20 11:58] vosdev opened #19894 "kubeproxy-free setup on dualstack cluster with IPv6 as primary fails"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

What I wish to achieve: https://docs.cilium.io/en/stable/gettingstarted/kubeproxy-free/

I spent 4 days trying to get this to work with dualstack using IPv6 as the primary IP stack and either I'm doing something wrong or it does not work with IPv6 as the primary IP stack.

# Environment:
3 Ubun

[2022-05-21 01:59] nathanejohnson opened #19907 "external workloads get garbage collected if node gc is enabled"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

When creating an external workload, the tunnel and host reachable services work for somewhere between 5-10 minutes on the external node, then stop working.  A 5 minutes nodes-gc-interval is the default, and depending on where in this cycle the external workload is brought up, it will be garbage

[2022-05-21 02:00] #19035 closed

[2022-05-21 02:31] sayboras commented on #19907
Thanks for your issue, this is regression issue introduced as part of https://github.com/cilium/cilium/pull/19576.

For the time being, you can disable node gc by setting interval to 0. There might be still the rare case that cilium nodes are not garbage collected, FYI.

[2022-05-22 01:45] ysksuzuki opened #19908 "Packets to LB dropped due to FIB lookup failed"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

We see an issue that packets to LB sometimes are dropped on intermediate nodes because of FIB lookup failed. Our loadBalancer setup is loadBalancer.mode=dsr and algorithm=maglev.

[code]

There is no L2 neighbor entry for its next hop in the arp table. I think it causes the FIB lookup failed on

[2022-05-22 09:05] ysksuzuki commented on #19908
This PR removed the reliance on the directRoutingDevice NodePort multihoming, but the L2 neighbor discovery still relies on it. Do we need to extend the L2 neighbor discovery to support our use case?
https://github.com/cilium/cilium/pull/18585

[2022-05-22 10:08] samcday opened #19909 "CFP: make cilium-agent freak out if rp_filter config is wrong"
## Cilium Feature Proposal

When upgrading our Kubernetes workers from Ubuntu 20.04 -> 22.04 we encountered the issue described in #10645, since Ubuntu 22.04 ships with systemd 249.

The workaround is described in the [System Requirements](https://docs.cilium.io/en/stable/operations/system_requirements/#linux-distribution-compatibility-matrix) page, but I only managed to find it there because I wa

[2022-05-22 12:38] Kikiodazie opened #19910 "Cilium Documentation `make render-docs` command not building the docs."
I am trying to set up Cilium documentation environment on a **macOS Monterey M1 (arm64) machine**.  When I run the `make render-docs` command to build the documentation, I get the documentation warning below:

[code]

But if I run `make render-docs-live-preview`, it works and I can view the docs on my browser.

Also, if I remove the @v1.0 from the `Documentation/requirements.txt` file (screenshot

[2022-05-22 14:05] MikeLing commented on #17500
Hi @aanm , I thought we need to implement same logic within [`mutateNodeResource `](https://github.com/cilium/cilium/blob/dce0d53359abd388bc6f72dd9134354482bf698a/pkg/nodediscovery/nodediscovery.go#L428-L451) action in [this block](https://github.com/cilium/cilium/blob/dce0d53359abd388bc6f72dd9134354482bf698a/pkg/k8s/watchers/node.go#L170-L199).

Please correct me if I'm wrong, thank you

[2022-05-22 16:45] stulzq opened #19911 "Enable hubble failed on AKS"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

Pod hubble-relay always Pending.

![image](https://user-images.githubusercontent.com/13200155/169706027-feb67540-fbe0-4df8-8b94-721997bd4af4.png)

cilium status:

![image](https://user-images.githubusercontent.com/13200155/169706077-3fda8a9d-669c-4b73-8abc-a8d202b29680.png)

Error msg: 0/3 node

[2022-05-22 16:47] stulzq commented on #19911
They look the same: https://github.com/cilium/cilium/issues/19766

[2022-05-23 07:01] mKeRix commented on #18405
I was looking at what changes implementing this might entail a bit this morning. #18463 already implemented a few things that should be very helpful for IPv6 IPAM akin to how the AWS VPC CNI does it.

I do wonder about how the IPv4 NAT would look like with Cilium. The VPC CNI adds another plugin that will do host-local IPv4 NAT, which is kind of like the Cilium masquerading. However, EKS in IPv6 m

[2022-05-23 08:42] chendotjs commented on #19200
Kindly ping @aanm , is there any conclusion?

[2022-05-23 09:02] borkmann commented on #19810
@ldelossa have a chance to take a look? Thanks a lot

[2022-05-23 09:51] brb commented on #19894
@vosdev Could you check whether the CoreDNS pod is able to establish a communication to the kube-apiserver? For instance,  you could timely use `nsenter` to enter its netns and then try `curl -vvv https://[2a02:xxxx:xxxx:a::1]`.

[2022-05-23 09:52] stevehipwell commented on #18405
@mKeRix the way the AWS VPC CNI currently works using the second plugin is because they're not using the IPv6 native DNS64 & NAT64; I think removing the plugin and using DNS64 & NAT64 is on the roadmap for later on in the year.

[2022-05-23 11:07] aanm commented on #17500
@jibi can you take a look?

[2022-05-23 11:10] aanm commented on #19200
@chendotjs from the community it doesn't look like it, no.

[2022-05-23 11:29] aanm commented on #19438
@Charlottell did the issue resolve by itself after a while?

[2022-05-23 11:51] BurlyLuo commented on #19200
Maybe the DANM can be used which from Nokia@https://github.com/nokia/danm

[2022-05-23 11:55] jibi commented on #17500
@MikeLing I think that's the idea, yes :+1:

At the same time I would hold off for a moment this piece of work as me and @gandro are planning some refactoring of the `nodediscovery` package: basically abstract away some of this complexity so that other packages like the `watchers` one you mentioned don't have to deal with all these details.

I can get back to you once we have a plan to make sure w

[2022-05-23 11:57] MikeLing commented on #17500
@jibi thank you for your reply!

Sure, please tell me if there has anything I can help ;)

[2022-05-23 11:58] jibi commented on #17500
Sure thing, will keep you in the loop! And thanks for offering to help :pray:

[2022-05-23 12:13] MikeLing commented on #19571
Hi @christarazi , these 3 PRs (https://github.com/cilium/cilium/pull/19822, https://github.com/cilium/cilium/pull/19704, https://github.com/cilium/cilium/pull/19661) have been approved. Could we merge them although some CI tests failed due to container timeout?

Just want to avoid too many PR pending parallel, so I can head to other part of code. Thank you

[2022-05-23 12:49] brb commented on #19200
For those who I interested in contributing - the long term solution could be reviving https://github.com/cilium/cilium/pull/14436 and then using the CNI's IPVLAN plugin via the CNI chaining.

[2022-05-23 13:21] MikeLing commented on #18035
Hi @christarazi , I think I can help with this issue after I did some research for CN with[ this issue ](https://github.com/cilium/cilium/issues/17500).

But I'm not an English native speaker, so please let me know if it's not ok. Thank you.

[2022-05-23 13:23] brb commented on #19908
Thanks for detailed issue report!

@ysksuzuki If `ip route get 10.69.0.133` returns two routes, then it should be enough to fix this https://github.com/cilium/cilium/blob/v1.12.0-rc2/pkg/datapath/linux/node.go#L674. cc @borkmann

[2022-05-23 15:08] nbusseneau commented on #19870
I think this was fixed by f8d0e211687571a2e20853922471a70dc7bbc319.

cc @kaworu for confirmation.

[2022-05-23 18:07] vosdev commented on #19894
Yes, `cilium1.example.com` resolves to the control-plane's ipv6 address.

I have just recreated a cluster with the "broken" config by stating IPv6 first and IPv4 second to try and contact the kube-apiserver based on the service ipv6 address as requested.

[code]

[code]

[2022-05-23 18:16] MikeLing opened #19922 "CFP: Cilium Document Localizations"
## Cilium Feature Proposal

**Is your feature request related to a problem?**

No

**Describe the feature you'd like**

Fluent in English reading && writing is the best way to learn and get involved. But people can get start more easier and faster if they can read the document in their mother  language. So maybe we need a way to do some localizations work like https://github.com/cilium/cilium/pull

[2022-05-23 18:37] joestringer commented on #19909
Thanks for the proposal.

My understanding of the issue is that Cilium attempts to configure the `rp_filter` settings, but systemd unfortunately overrides Cilium's configuration. Perhaps getting Cilium to instead detect & fail out is part of a better solution where we ensure that the `rp_filter` configuration is correct in the first place (ie the nodes are configured correctly).

I suspect that wh

[2022-05-23 18:44] joestringer commented on #19878
Thanks for the report, I've created a redirect for this broken link.

[2022-05-23 18:44] #19878 closed

[2022-05-24 00:01] michi-covalent commented on #18973
(adding a comment here instead of opening a new issue because the root cause seems to be related)

i have this in configmap:
[code]
after upgrading from v1.10.11 to v1.11.5, cilium-operator started failing with this error:
[code]

changing the value to:
[code]
fixes the issue.

[2022-05-24 02:13] #19102 closed

[2022-05-24 05:19] l1b0k opened #19926 "Host address detect problem"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

host ip is resolved as world

1. use ipvs mode, and create a default deny netwokrpolicy
2. expose LB service, external ip is one of the node ip. ( will add the node ip to kube-ipvs0 device)
3. restart cilium , and cilium will not regard the node ip as host
4. this will break health chek for pod

[2022-05-24 05:26] sayboras commented on #18973
Another case reported in cilium OSS slack by community

[code]

[2022-05-24 06:53] christarazi commented on #19571
Please rebase all PRs and ping me so I can retrigger the tests. Sorry, CI has not been very stable lately.

[2022-05-24 06:54] BurlyLuo commented on #19200
oh no, for this repo, we can see that it just a gimmick. no longer update here.

[2022-05-24 07:13] MikeLing commented on #19571
No problem :D, I just rebase and push all of them.

[2022-05-24 08:24] pavelmish552 opened #19929 "Cilium Agent pods affected by performance tests"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

During the performance tests, we can see increased CPU usage on cilium-agent containers. This contradicts our understanding of the cilium architecture that the cilium-agent pod is not responsible for the traffic proxying and only acts as a controller around BPF instructions.
Plus we also don't

[2022-05-24 09:06] rustrial opened #19931 "Endpoint contains wrong Pod IPv4 address"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

We observed dropped traffic between Pods for which the corresponding NetworkPolicy actually should allow traffic. Upon investigation we figured out, that only one specific Pod (from a StatefulSet) as affected, and that the problem is caused by the fact that Cilium stored a wrong IPv4 address in

[2022-05-24 09:20] kaworu commented on #19870
@nbusseneau correct, should we close this issue?

[2022-05-24 09:33] brb commented on #19909
@joestringer One more solution would be to create a controller (in cilium-agent) which would be responsible for periodically monitoring `rp_filter` values of its managed devices, and reporting to user (e.g., via a log msg) if they change.

[2022-05-24 09:40] rastislavs commented on #19761
Reproduced with CIlium v1.11.5 as well, sysdump: [cilium-sysdump-20220524-112958.zip](https://github.com/cilium/cilium/files/8761369/cilium-sysdump-20220524-112958.zip)

[2022-05-24 09:58] aanm commented on #15471
Hi @MikeLing thanks for volunteering, this issue is already being taking care partially by @joamaki as he is performing a heavy refactoring in the core-code that will allow to have a subscriber package afterwards.

[2022-05-24 10:03] aanm commented on #19851
@akostic-kostile since you are not facing the issue, feel free to close the GitHub issue and re-open it back with a new sysdump. Thank you!

[2022-05-24 10:17] aanm commented on #19439
@Champ-Goblem thank you for opening the GH issue. If the traffic is being dropped have you tried using https://github.com/cilium/pwru to see where the packet is dropped? Thanks!

[2022-05-24 10:19] aanm commented on #19890
cc @bmcustodio

[2022-05-24 10:24] aanm commented on #19588
@jibi can you take a look?

[2022-05-24 10:25] vosdev commented on #19894
To debug further I have just recreated the cluster again with the change that makes everything work, so specifying IPv4 before IPv6 like such:
[code]

The coredns containers come up seconds after the cilium containers and I have a functional cluster
[code]

However, when I the nsenter to the coredns process's network namespace and attempt to curl the kube-api-server on 6443 it still doesn't work v

[2022-05-24 10:25] aanm commented on #19909
@dylandreimerink besides what we discussed offline, Martynas' proposal can also be done as an fallback as well.

[2022-05-24 10:28] jibi commented on #19588
Hey @nadenf :wave:

There's a PR currently being reviewed to update the Egress Gateway documentation: https://github.com/cilium/cilium/pull/19862. It will be part of the 1.12 release and it also explains what's the behavior for 0.0.0.0/0 policies (any internal cluster IP will be excluded from the egress gateway SNAT logic)

[2022-05-24 11:14] zuzzas commented on #19367
I've done some digging around and believe I've found the culprit: https://github.com/cilium/cilium/blob/a8e3fa283cf40b330035265bf83d63800b296bcf/pkg/maps/ctmap/gc/gc.go#L234-L244

That means that all connection tracking data non-endpoints will get scrubbed on every agent restart? And all existing connections will break due to aforementioned Host Policy enforcement intricacies. What's the reasoning

[2022-05-24 11:17] aanm commented on #19454
@HamzaZo This seems to be a duplicate of https://github.com/cilium/cilium/issues/19701

[2022-05-24 11:17] #19454 closed

[2022-05-24 11:18] aanm commented on #19455
@szucsitg will you submit a PR? Thanks!

[2022-05-24 11:20] aanm commented on #19279
@DirkTheDaring There was a bug in the Garbage Collection of the CiliumIdentities in Cilium 1.11.0-1.11.4. It should be fixed in 1.11.5. Let us know if you are still facing issues. Thanks

[2022-05-24 11:24] #19090 closed

[2022-05-24 11:24] kvaps commented on #19367
cc @tgraf

[2022-05-24 12:14] MikeLing commented on #19571
Hmmm, the CI failed again :(

[2022-05-24 12:23] ysksuzuki commented on #19908
@brb Thank you for your advice! I will send a PR to support the multipath case.

[2022-05-24 13:44] #19870 closed

[2022-05-24 14:11] aanm commented on #19931
This is an occurrence of https://github.com/cilium/cilium/issues/14184

[2022-05-24 14:16] aanm commented on #19761
Which pods in particular?

[2022-05-24 14:24] aanm commented on #19931
@rustrial can you replicate the issue?

[2022-05-24 14:55] pchaigno opened #19945 "CI: K8sCustomCalls Basic test with byte-counter Loads byte-counter and gets consistent values: fatal: unsafe repository"
When run locally, K8sCustomCalls fails with the following error:
[code]
cc @qmonnet

[2022-05-24 15:10] akostic-kostile commented on #19851
@aanm Issue is not stale. You can find the requested dumps in my previous comment.

[2022-05-24 17:26] pchaigno opened #19948 "Host firewall: Select nodes based on the pods they have"
### Problem
In particular for liveness and readiness probes, it is sometimes useful to be able to define host policies on a node based on the pods that are running on that node. For example, if a pod is expecting readiness probes on port 8080, we may need to define a policy to allow traffic from the host network namespace to that pod on port 8080. We can do this with the following host policy, but

[2022-05-24 17:36] pchaigno opened #19949 "CI: K8sUpdates Tests upgrade and downgrade from a Cilium stable image to master: context deadline exceeded"
@aanm's ugly hack at https://github.com/cilium/cilium/blob/b5fd71b9f873942764e90e41b39821ea48152832/test/k8s/updates.go#L86-L89
is failing when running the test locally. We hit a timeout even though both the download and the uncompression seemed to succeed.

[code]

[2022-05-24 17:37] maintainer-s-little-helper[bot] opened #19950 "CI: RuntimeKafka Kafka Policy Role Egress"
### Test Name
[code]

### Failure Output
[code]

### Stacktrace
<details><summary>Click to show.</summary>

[code]
</details>

### Standard Output
<details><summary>Click to show.</summary>

[code]
</details>

### Standard Error
<details><summary>Click to show.</summary>

[code]
</details>

ZIP Links:
<details><summary>Click to show.</summary>

 https://jenkins.cilium.io/job/Cilium-PR-Runtime-net-

[2022-05-24 17:43] rustrial commented on #19931
@aanm No (as mentioned above) we cannot reproduce this (yet). Nevertheless, this should not happen and maybe reconciliation loop must be fixed to check regularly whether the `CiliumEndpoint` still matches the Pod.

[2022-05-24 18:27] jrajahalme commented on #19362
@FanHTao seems this was observed on Cilium Service Mesh beta. Cilium ingress will be released with Cilium 1.12, and it no longer tries to use the original source address (or port) for Ingress traffic, so this issue should no longer happen with it.

[2022-05-24 19:11] jrajahalme commented on #19367
@pchaigno It seems likely that this CT scrubbing should have been extended to know about host endpoint entries when host networking namespace connections started to be tracked in #11507??

[2022-05-24 20:31] aanm commented on #19761
@rastislavs can you get the a cilium monitor output without the `--type drop`?

[2022-05-24 22:12] ubaniabalogun commented on #19256
Hey is this now a known issue? I'm experiencing errors install Cilium in a bottlerocket EKS node group as well and would like to know if I should debug harder or stop debugging because its broken. Thanks,

[2022-05-25 02:13] #19126 closed

[2022-05-25 02:13] #19120 closed

[2022-05-25 02:16] soulseen commented on #16144
same issue in cilium v1.10.11

[2022-05-25 02:49] michi-covalent commented on #19772
adding to @rolinh's comment above, there is `--hubble-export-file-path` flag in `>=v1.10`. with this option you can write unfiltered hubble events (including all the agent events) to a rotated file: https://docs.cilium.io/en/v1.10/cmdref/cilium-agent/#options

[2022-05-25 04:49] joestringer opened #19956 "Clarify Cilium policy documentation regarding multiple rules in a spec"
A user mentioned on Slack that the docs don't clearly define how multiple rules in a Spec behave:

https://docs.cilium.io/en/stable/policy/intro/#policy-rule

Question explicitly:

As defined in the documentation,  `Ingress` is a list of type `IngressRule`. Are all the rules inside Ingress applied as an AND or OR. So if I define something like:

[code]

How is this translated to behaviour?:
1. `re

[2022-05-25 05:14] joestringer commented on #19847
@aanm did any of the changes in the latest releases modify the way that sysctl is accessed?

[2022-05-25 05:16] joestringer opened #19957 "Clean up extraneous "group: unknown group cilium" log"
The recent Cilium 1.9.15, 1.10.11, 1.11.5 releases all removed the Cilium group. Now I see this in the 1.11.5 log:

[code]

We should drop this logic since the cilium group isn't enabled in the latest code.

[2022-05-25 07:23] sayboras commented on #19306
Closed as all items are completed.

[2022-05-25 07:23] #19306 closed

[2022-05-25 08:44] joamaki commented on #19847
Started looking into this. At least in kind the cilium-agent container does not have host-proc volume mounted and the /proc it has is the unprivileged variant that doesn't contain e.g. bpf_jit_enable. My initial guess was that perhaps the dropping of "privileged" from the daemonset caused to have a different view of /proc, but that commit was not backported to 1.10.

Looking at just v1.10.11 there

[2022-05-25 08:55] pabclsn commented on #17949
same case here :/

[2022-05-25 09:03] mKeRix commented on #17949
We solved this in our installation with the following settings:

[code]

In our case (EKS, aws-cni chaining), the faulty scrape targets pointed to something that wasn't there.

[2022-05-25 09:08] brb commented on #19696
This issue needs a sysdump and explanation of the packet path and what actors are involved (what is the client? is it a pod? what is its IP addr, etc).

[2022-05-25 09:24] #17572 closed

[2022-05-25 09:25] #17468 closed

[2022-05-25 11:08] DamiaPoquet commented on #19256
I'm experiencing the same issue. @aanm is it a confirmed bug already?

[2022-05-25 11:31] zuzzas commented on #19367
I've created a horrible, wrong and inefficient patch that solves the problem: https://gist.github.com/zuzzas/54c1081a6115b663fe06ac82661a4826

Essentially, it boils down to not removing that are not in the Endpoint list, but those that are not in ipcache CIDR list.

I am not proficient enough in the Cilium code to create a proper solution nor to verify whether the approach works it is similar to s

[2022-05-25 12:01] rastislavs commented on #19761
Sure, here it is:
- the pod struggling to reach the apiserver is:
[code]
- full cilium monitor from the node where it runs: [monitor-172-31-119-89.txt](https://github.com/cilium/cilium/files/8770807/monitor-172-31-119-89.txt)
 - some related logs from that file:
[code]
- full cilium monitor log from the destination node (`172.31.118.223`) captured at the same time: [monitor-172-31-118-223.txt](htt

[2022-05-25 12:19] msarti opened #19958 "Internal networking does not work with encryption enabled until a rollout restart is performed"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

After installation of Cilium on a newly bootstrapped cluster with wireguard encryption enabled, the pods do not reach any addresses within the cluster. Issue does not appear if I do not enable encryption.
It is possible to get around the issue with a rollout restart of the cilium daemonset.

va

[2022-05-25 12:33] gandro commented on #19438
@Charlottell I'm investigating a similar issue at the moment. It would be helpful to tell us if

1. The issue is persistent or resolves after a while
2. If it is persistent, is it fixed by a invocation of `cilium-health status --probe` on e.g. `master2`

[2022-05-25 16:42] jrajahalme commented on #15455
Seen again in https://jenkins.cilium.io/job/Cilium-PR-K8s-1.16-kernel-4.9/1723/execution/node/126/log/?consoleFull

[2022-05-25 17:00] gandro opened #19961 "StringMapString arguments not always accepted as JSON in"
We have various reports (e.g. https://github.com/cilium/cilium/issues/18973#issuecomment-1135254976) that StringMapString arguments cannot be passed as JSON in the `cilium` ConfigMap.

Affected flags:
[code]

It's unclear what versions and under what condition JSON is rejected, as other users seem to be able to successfully use the JSON syntax (e.g. here https://github.com/cilium/cilium/issues/189

[2022-05-25 17:22] joestringer commented on #19847
Ah I see, from further out-of-band discussion with @joamaki it sounds like this should only happen when some environment (a) sets up containers for the nodes for k8s, then (b) runs Cilium in a nested container inside. In this setup, Cilium gets "hostNetwork" of the outer node container, not hostNetwork on the underlying host. Hence it's not true hostNetwork which would be necessary to expose kerne

[2022-05-25 17:26] joestringer commented on #19847
Discussed that we can just enhance the error detection logic and logging here to make it less concerning in development environment.

[2022-05-25 21:32] aanm commented on #19256
@ubaniabalogun @DamiaPoquet correct this is a confirmed bug

[2022-05-26 00:02] vincentmli opened #19964 "master branch cilium_envoy_config.go:82: failed to list *v2.CiliumEnvoyConfig"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

helm template against master branch with `--set ingressController.enabled=true` to enable `enable-envoy-config`

[code]
then kubectl apply the /tmp/test.yaml, cilium agent failed to startup with error

[code]

### Cilium Version

cilium image (running): -ci:latest

### Kernel Version

Linux cil

[2022-05-26 00:35] Pradyy opened #19965 "CFP: Support source-port match criteria in network policy"
## Cilium Feature Proposal
**Is your feature request related to a problem?**

Yes. Although `toPorts` is used to filter based on destination ports, currently there is no way to write a `CiliumClusterWideNetworkPolicy` that allows traffic/packets based on source port.
We have a node that sends the UDP broadcast packets destined to 255.255.255.255. Other nodes in the cluster reply to this broadcast

[2022-05-26 02:15] #19045 closed

[2022-05-26 02:44] archoversight commented on #18405
I'd be happy with a dual-stack system where the Cillium IPAM hands out both IPv4 and IPv6 addresses from the VPC. Having the node do NAT for IPv4 with non-unique IPv4 addresses would also be acceptable (so long as those IPv4 addresses are not ever reachable by other nodes/not advertised within the cluster itself anywhere, i.e. IPv6 only with IPv4 for NAT purposes only).

[2022-05-26 05:47] sayboras commented on #19964
I managed to repo with below steps

[code]

Basically, the existing CRDs registration logic didn't actually compare if there is any change in CRD schema, so new version is not registered at all, which leads to the above resource not found error.

I think if removing dangling CRDs  will help for your case.

[code]

[2022-05-26 12:38] piotrhryszko-img opened #19970 "cilium agent: Key allocation attempt failed for EMR managed pods"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

After deploying Cilium on EKS cluster some pods are unable to start throwing an error
[code]

All failing pods are created/managed by EMR on EKS. Service account used by those pods `emr-containers-sa-spark-client-343434343434-2ooo6t3kb02vw53esycvm3axrbnwes036` is automatically created by EMR an

[2022-05-26 13:22] kvaster commented on #19958
It seems that my problem is related to NodeGC - disabling node gc fixes the problem.

Also I had non-default params for k8s controller:

[code]

I decided to make some experiments and removed this params (without disabling NodeGC in cilium). Problem was gone in 90% cases. After that I've applied following params:

[code]

And there is no more problem with such config...

[2022-05-26 14:24] #19970 closed

[2022-05-26 14:25] piotrhryszko-img commented on #16579
issue still happens on Cilium 1.11.5

[2022-05-26 14:37] hoozgomk opened #19975 "Chaos mesh network interruptions doesn't work with Cilium Service Mesh"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

I work on a project where we test various interruptions on k8s services and we were using Chaos Mesh successfully when Linkerd service mesh was used.

Recently I started testing this solution with Cilium, but here I faced a problem with Network related issues, where delay and loss in sending pa

[2022-05-26 14:53] pchaigno commented on #19367
That's correct I think. The host endpoint doesn't have an IPv4 and an IPv6 addresses because it has multiple, we don't support that yet, so I preferred not to add any to avoid confusion. As a result, this code will add an empty entry:
https://github.com/cilium/cilium/blob/82c742f2e9fb65fb3fc392c7dcb3b4e22b69c650/pkg/maps/ctmap/gc/gc.go#L242-L243
We should fix this to add all host endpoint IP addre

[2022-05-26 14:57] #18973 closed

[2022-05-26 18:28] RixTmobilender opened #19978 "CFP: [Helm chart] Allow configuration of serviceMonitor interval"
## Cilium Feature Proposal

**Describe the feature you'd like**

I want to configure the scrape interval for the helm chart's included ServiceMonitor, I want to raise the seconds a bit to lower my costs.
This affects the operator, agent and hubble deployments

**(Optional) Describe your proposed solution**

Allow an extra option "interval" for the serviceMonitor blocks in `values.yaml` as such:
[c

[2022-05-27 00:30] xyzzyz opened #19981 "NLB on AWS EKS with UDP-only targets, and IP target type behaves strangely with Cilium enabled"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

When I create a NLB on EKS with UDP-only targets, and use target-type: ip instead of instance, pods on some nodes get UDP packets from Load Balancer, but their response never reaches back the sender.

This only happens on some nodes, pods on other nodes can reply to the sender just fine.

When

[2022-05-27 02:13] #19021 closed

[2022-05-27 02:53] ListenerMoya opened #19982 "Failed to install cilium on k8s"
Kernel: 4.15.0-176-generic
k8s : v1.17.1
 I can't install cilium on k8s, it always occurs with an error
Error:
ℹ️  using Cilium version "v1.10.11"
🔮 Auto-detected cluster name: kubernetes
🔮 Auto-detected IPAM mode: cluster-pool
🔑 Found CA in secret cilium-ca
🔑 Generating certificates for Hubble...
🚀 Creating Service accounts...
🚀 Creating Cluster roles...
↩️ Rolling back installation...

Error: Un

[2022-05-27 05:05] soulseen opened #19983 "unable to access external network in pod"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

1.  when run `ping 8.8.8.8` in pod with the cilium CNI network, can not ping success.
in pod:
[code]
the pod IP is 10.0.0.103, and dump package in the host:
[code]
cilium condig:
[code]

### Cilium Version

Client: 1.11.2 17b0dbd 2022-02-23T13:09:05-08:00 go version go1.17.7 linux/amd64
Daemon:

[2022-05-27 08:12] zuzzas commented on #19367
I do not. Also, when policy audit mode is set to `true`.

None at all. Just exploring. It won't remove anything at all, since the ipcache apparently contains 0.0.0.0/0 :laughing:
[code]

[2022-05-27 08:26] #19910 closed

[2022-05-27 09:44] brb commented on #19981
I don't how to investigate it without sysdump and traces of each hop.

[2022-05-27 13:14] pchaigno opened #19985 "`cilium metrics list`: json: unsupported value: NaN"
### Summary

Collecting a sysdump on a Kind cluster results in the following warning, presumably when cilium sysdump attempts to retrieve the output of `cilium metrics list`.
[code]

This is with Cilium ecfab0e so https://github.com/cilium/cilium/pull/19496 is included.

Sysdump: [cilium-sysdump-20220527-151157.zip](https://github.com/cilium/cilium/files/8786850/cilium-sysdump-20220527-151157.zip)

[2022-05-27 13:17] krumstein commented on #19929
Hi @aanm ,
the tests are jmeter based towards pods in the cluster.
In order to simply reproduce it, I used `siege`  tool from ubuntu:
`root@my-shell:/# siege -b nginx-ingress-controller-payload-controller.labe2esi.svc.cluster.local/statusz`

then I run `top` inside cilium pod:
[code]

As you can see, cilium-agent uses around 50% of the CPU. As soon as I stop the benchmark it get back to 1-2% CPU:

[2022-05-27 13:21] brb commented on #19660
The current view for NodePort BPF ingress packet flow (WIP):

[code]

[2022-05-27 13:26] soulseen commented on #19983
found log in bpf program:
[code]

[2022-05-27 15:51] alphabet5 opened #19990 "spec.template.metadata.annotations[scheduler.alpha.kubernetes.io/critical-pod]: non-functinoal in v1.16+"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

[code]

After this warnings came up about depreciated and non-functional options.

### Cilium Version

1.11.5.

### Kernel Version

5.15.0-33-generic

### Kubernetes Version

Server Version: version.Info{Major:"1", Minor:"23", GitVersion:"v1.23.6+k3s1", GitCommit:"418c3fa858b69b12b9cefbcff0526f

[2022-05-27 16:15] xyzzyz commented on #9207
https://drive.google.com/file/d/1TmWZ72rw5cTFEx9pOelAR9jOq5Y3T4mL/view?usp=sharing

sorry, I couldn't upload it to github, it errors out for me

[2022-05-27 16:17] xyzzyz commented on #19981
https://drive.google.com/file/d/1TmWZ72rw5cTFEx9pOelAR9jOq5Y3T4mL/view?usp=sharing

sorry, I couldn't upload it to github.

You might be able to repro it using my deployment/service above. I reproed it in multiple separate EKS clusters.

[2022-05-27 18:24] joestringer commented on #19983
Typically for this connectivity to work, the pod traffic must be masqueraded. It looks like you are running kubeProxyReplacement, so maybe you need to enable bpf masquerade?

Also, the sysdump output you provided does not include the archive, are you able to upload the sysdump archive? That's where the crucial information is.

[2022-05-27 20:18] DreamyProtect commented on #17949
We're also seing this issue on our cluster. Cilium (`v1.11.4`) was deployed using the Helm chart and is running fine, the headless service is also deployed correctly:
[code]
However, it seems that port 9095 is never opened by the cilium agents on the nodes, when checking with `netstat -laputn` while ports 9094 and 9091 are and responding:
[code]
curl http://localhost:9094/metrics
# HELP cilium_age

[2022-05-27 20:58] jianan-pony commented on #19033
Also, another through is using DSCP mentioned [here](https://docs.nvidia.com/networking/pages/viewpage.action?pageId=12005169#:~:text=DSCP%20is%20a%20mechanism%20used,beyond%20local%20network%2C%20across%20routers.) which should be a better alternative for QoS purposes.

[2022-05-27 20:59] lordofire commented on #19033
Also, another through is using DSCP mentioned [here](https://docs.nvidia.com/networking/pages/viewpage.action?pageId=12005169#:~:text=DSCP%20is%20a%20mechanism%20used,beyond%20local%20network%2C%20across%20routers.) which should be a better alternative for QoS purposes.

[2022-05-28 06:24] soulseen commented on #19983
@joestringer hi, I enabled bpf masquerade `enable-bpf-masquerade: "true"` and `enable-ipv4-masquerade`, but still can not access external network.
and here is sysdump archive [cilium-sysdump-20220528-141824.zip](https://github.com/cilium/cilium/files/8790616/cilium-sysdump-20220528-141824.zip)

[2022-05-28 06:54] bmcustodio commented on #18706
I faced this today on a regular Ubuntu 22.04 install - simply running `sudo netplan apply` manually was enough to break the host network. Setting

[code]

in `/etc/systemd/networkd.conf` did indeed fix it, so I wonder if we should document that?

[2022-05-28 08:38] soulseen commented on #19983
for tcpdump output, looks like the packet has not reached eth0 interface,
[code]

[2022-05-28 09:21] pchaigno opened #19993 "CI: bpf-map-sync-cilium_lb4_backends_v2: map sync errors"
[code]

https://jenkins.cilium.io/job/Cilium-PR-K8s-1.21-kernel-4.9/1978/testReport/junit/Suite-k8s-1/21/K8sChaosTest_Connectivity_demo_application_Endpoint_can_still_connect_while_Cilium_is_not_running/
Sysdump:
[e80c9b92_K8sChaosTest_Connectivity_demo_application_Endpoint_can_still_connect_while_Cilium_is_not_running.zip](https://github.com/cilium/cilium/files/8790853/e80c9b92_K8sChaosTest_Conne

[2022-05-28 10:07] pchaigno commented on #19787
I'm able to reproduce on first try on my system (Ubuntu with IPv6 connectivity) with the following command:
[code]

[2022-05-28 14:13] kvaster commented on #19958
I was wrong. Problem is still reproduceable with ANY timeout and with disabled ciliume endpoint gc, cilium identiy gc e.t.c. It's enough to restart only one node...

[2022-05-28 21:53] aanm commented on #19929
@pavelmish552 can you provide a sysdump? Thank you

[2022-05-29 10:05] soulseen commented on #17647
after enabled kube-proxy replacement, I meated this issue https://github.com/cilium/cilium/issues/19983

[2022-05-29 10:15] brb commented on #19993
Is https://github.com/cilium/cilium/pull/19352 striking us again? cc @borkmann

[2022-05-29 15:56] Revolyssup commented on #19957
Hey @joestringer , Can I take this up? Should I also remove the const `CiliumGroupName` or that might be useful somewhere else in future?

[2022-05-29 16:20] kvaster commented on #19709
ConfigMap can't accept array. This setting should be a string of numbers separated by comma.

[2022-05-29 20:33] bertjwregeer commented on #19251
It's not stale, its still something that should get added :-)

[2022-05-29 22:50] sayboras commented on #19957
👋 thanks, I have assigned the issue to you.

Ideally, if the const is not used, we can just remove it, adding it back later in future will not be too troublesome as well.

[2022-05-30 03:10] kevin-leong opened #20000 "[cilium-agent] --exclude-local-address is not working"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

I am using kube-vip for a VIP for the Kubernetes control plane on my cluster.

cilium-agent is picking up this VIP as a "Local IPv4 addresses" on the node that has the VIP active, and sending out packets for the pod using this VIP as the source address.  This is breaking the network for the pod

[2022-05-30 03:23] kevin-leong commented on #20000
More logs for cilium-agent:

root@kube2:/home/kleong# kubectl logs -n kube-system cilium-8rgkv
level=info msg="Started gops server" address="127.0.0.1:9890" subsys=daemon
level=info msg="Memory available for map entries (0.003% of 8186122240B): 20465305B" subsys=config
level=info msg="option bpf-ct-global-tcp-max set by dynamic sizing to 131072" subsys=config
level=info msg="option bpf-ct-global-a

[2022-05-30 03:49] kerthcet commented on #19957
Sorry @Revolyssup I have worked on this already but forget to assign to myself, but maybe you can help to review then.
/assign

[2022-05-30 03:52] kerthcet commented on #19957
What's more, I found we have scattered `groupadd -f cilium` located in the project , , should we also remove them?e.g. https://github.com/cilium/cilium/blob/5ba662563e273658086052c27028fa459d84de0e/daemon/Makefile#L24

[2022-05-30 04:52] drbruced12 commented on #19956
I was looking at what it would take to resolve this issue and found the following paragraph in the documentation at https://docs.cilium.io/en/stable/policy/intro/#policy-rule

It seems to me this directly addresses the question asked by the person on Slack - take the union of the 2 rules.

So I would be inclined to close this issue.

[2022-05-30 06:57] akostic-kostile commented on #19788
There is an excellent workaround posted in AKS repo: https://github.com/Azure/AKS/issues/2934#issuecomment-1140613111

Which brings me to question what we should do with this issue? In my opinion at least the documentation should be updated to reflect this new change and then we can close it.

[2022-05-30 07:44] zuzzas commented on #19367
@pchaigno

That'll solve most of the issues with intra-cluster connections. I am still wary of probable interruptions when connecting to external services. Such as databases or message-queues.

The main issue that I have is that kernel's netfilter does not behave this way. All connections are persisted regardless of any user-space program restarts. Why does cilium has to have this _forced_ GC and

[2022-05-30 08:19] tklauser commented on #19957
I think this was already addressed by https://github.com/cilium/cilium/pull/19927 which changed the message to debug level. In some cases (e.g. in the dev VM) users might still want to assign the socket to group `cilium` so they can use the per-node `cilium` command without `sudo`.

[2022-05-30 08:33] zuzzas commented on #19367
Will do that today.

Ah, it excludes both src and dst host IPs from GC!

[2022-05-30 08:56] kerthcet commented on #19957
It seems we can close the issue then.

[2022-05-30 09:53] brb commented on #19033
MBOI @borkmann

[2022-05-30 10:21] aanm commented on #19929
@pavelmish552 can you run with hubble disabled? `--set hubble.enabled=false`

[2022-05-30 10:29] sayboras commented on #19964
As checked internally, the normal practice is to bump internal [version](https://github.com/cilium/cilium/blob/070ded019adbfee49d73bc7be0c6ba3bac0ef59c/pkg/k8s/apis/cilium.io/v2/register.go#L26) to force update CRDs, however, this is already increased once as part of 1.12 dev cycles, and we don't increase it again.

The work-around is available, so I am closing this issue, let me know if you think

[2022-05-30 10:29] #19964 closed

[2022-05-30 11:21] Champ-Goblem commented on #19187
@jibi any more ideas since the above?

[2022-05-30 11:34] #19957 closed

[2022-05-30 12:27] rastislavs commented on #19761
@aanm do you have any ideas based on my previous comment?
This issue affects control plane upgrades of all clusters using Cilium CNI on [KubeOne](https://github.com/kubermatic/kubeone) so if you need to reproduce it yourself, it should be fairly easy.

[2022-05-30 13:13] soulseen commented on #19983
It is because of the restrictions imposed by the company's internal rules. closed

[2022-05-30 13:13] #19983 closed

[2022-05-30 13:59] szucsitg commented on #19455
@aanm yes, I'm still planning but got swamped. I'll try to allocate some time this week.

[2022-05-30 14:05] brb commented on #18442
@BSWANG https://github.com/cilium/cilium/pull/19451 and https://github.com/cilium/cilium/pull/19800 should help you with this problem.

[2022-05-30 16:05] borkmann commented on #19033
Hi @lordofire are you planning to use this to deploy DCTCP?

[2022-05-30 21:20] aanm opened #20013 "CI: GKE e2e broken"
[code]

commit sha 6a8fe290930f73da0311813259f93ac244b7004a

The issue goes away if the cilium container is restarted on the node. The issue only happens on new nodes.

Steps to reproduce:
[code]

[code]

[code]

[2022-05-30 21:26] aanm commented on #20013
The same goes for the lxc program:
[code]

[2022-05-30 21:31] aanm commented on #20013
[cilium-bugtool-20220530-212925.537+0000-UTC-3467896499.zip](https://github.com/cilium/cilium/files/8800769/cilium-bugtool-20220530-212925.537%2B0000-UTC-3467896499.zip)

[2022-05-30 21:39] pchaigno commented on #19787
FYI https://github.com/cilium/cilium/pull/19997 will fix this.

[2022-05-30 22:52] lordofire commented on #19033
@borkmann Actually I was not aware of DCTCP before you mentioned it here, and it is another interesting case, thanks for bringing it up :) Also, I see what you are coming from on HOL blocking topic, since not appropriate QoS policy in DC could get more HOL blocking situation which further degrades the performance.

However, in my certain use case, we focus more on the QoS for cross-DC long-haul DC

[2022-05-31 00:15] tommyp1ckles commented on #18776
@christarazi For the rate of events per second of events received metric, do we not already get this from the `kubernetes_events_received_total`metric. I.e. this would just be like `rate(cilium_kubernetes_events_received_total[5m])` in Prometheus.

[2022-05-31 02:49] xpflying commented on #19678
@Ericra95 I encountered the same problem, why did you close this issue?

[2022-05-31 07:21] pchaigno commented on #20013
What gcloud version are you using?

I'm getting:
[code]
And once I change that flag as suggested:
[code]
If I remove that flag altogether, then the Cilium installation works fine and I can't reproduce.

[2022-05-31 07:57] ti-mo commented on #19425
This issue was reintroduced by f321a6a8f08321a4997797f6fe17cbad27ddaccc, which upgraded client_golang to 1.12.1 again. 1.12.2 is out, which supposedly fixes this.

[2022-05-31 12:29] mkilchhofer opened #20019 "hubble-ui: Frontend container crashes when using PSP with "readOnlyRootFilesystem=true""
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

We at Swiss Post use Cilium on AWS EKS. EKS is running on 1.21 and we still use (deprecated) PSPs with `.spec.readOnlyRootFilesystem=true` for restricted pods.

All Cilium components except the hubble-ui takes the privileged PSP:

[code]

When we manually patch the hubble-ui Deployment and add

[2022-05-31 12:46] aanm commented on #20019
@mkilchhofer sounds good, feel free to submit a PR

[2022-05-31 14:11] sayboras commented on #19990
:wave:   Thanks for your issue.

I think the above is just a generic warning, as we set priorityClassName attribute as well as per below, so basically, cilium will just work as expected.

In the master branch, this annotation is removed, but the changes are not back-ported to v1.11 branch, I just add required back-ported label for 1.11.

v1.11.5: https://github.com/cilium/cilium/blob/v1.11.5/insta

[2022-05-31 14:40] leopaul36 opened #20024 "FailedPostStartHook on cilium pods after helm install"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

`cilium-xxxxx` pods are stuck in `CrashLoopBackOff` right after the `helm install cilium cilium/cilium --version 1.11.5 --namespace kube-system` command:

[code]

On describe, I get that the PostStartHook (and the PreStopHook) fails with:
[code]

I did not find anything relevant in the `cilium-

[2022-05-31 14:40] sayboras commented on #19982
same as https://github.com/cilium/cilium-cli/issues/844

[2022-05-31 14:42] leopaul36 commented on #20024
[cilium-sysdump-20220531-163128.zip](https://github.com/cilium/cilium/files/8806156/cilium-sysdump-20220531-163128.zip)

[2022-05-31 14:56] sayboras commented on #20024
:wave:

can you also share cni log file /var/run/cilium/cilium-cni.log as well ?

[2022-05-31 15:43] abebars opened #20026 "IP Address was released for an active pod"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

We ran into an issue recently, and it only occurred at the time of deployment of different components. A pod would come up without connectivity to other nodes on various occasions. However, the pod would be able to accept/connect to pods on the same node.

The pod will not be able to connect to

[2022-05-31 16:54] recollir commented on #18868
@abebars good find.

[2022-05-31 17:34] #19985 closed

[2022-05-31 18:13] joestringer commented on #19956
OK, thanks for checking @drbruced12 :)

[2022-05-31 18:13] #19956 closed

[2022-05-31 18:14] #19709 closed

[2022-05-31 23:12] joestringer commented on #20026
This is possibly related to #13412 (fixed by https://github.com/cilium/cilium/pull/17939). @abebars, was the 1.11.4 environment where you observed this freshly installed? Or did you notice the problem on 1.10.6 and then the problem persisted following upgrade to 1.11.4?

[2022-05-31 23:46] joestringer opened #20034 "CI: ConformanceKind1.19: installation-and-connectivity fails on "Enable Relay" for second test"
Example run: https://github.com/cilium/cilium/runs/6679723958?check_suite_focus=true#logs

While running the workflow, the first test without encryption passes, then Cilium apparently cleans up. However, the `hubble-peer` service is not removed. Then when installing Cilium a second time, this time with encryption, enabling relay fails with:

[code]

[2022-05-31 23:54] christarazi commented on #18776
@tommyp1ckles Good point, yes I think we already have this then.

[2022-06-01 01:45] michi-covalent commented on #20034
https://github.com/cilium/cilium/pull/20036 appears to fix the issue

[2022-06-01 09:12] soulseen opened #20040 "can not cleanup cilium route and netlink by command "cilium cleanup""
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

After uninstalling the cilium CNI, I want to clean up the related route/net links/BPF programs, etc.
but get an error when running the command `cilium cleanup`, and the output is as follows:
[code]
I think we should note that there is an error `Error: invalid argument` in the output, and no log

[2022-06-01 09:33] soulseen commented on #20040
it looks like there get an error in https://github.com/cilium/cilium/blob/master/cilium/cmd/cleanup.go#L415 when a blackhole route is encountered.
After removing the blackhole route, the command works well, all routes and NetLinks related cilium are deleted.

[2022-06-01 10:00] dylandreimerink commented on #14990
I opened #20017, which should hopefully take eBPF unit and integration testing a step further. As of now, the framework picks up compiled programs / ELF file and runs the marked test programs in them. I think this issue is a good place to discuses next steps.

### Testing multiple configurations
I propose to handle this with a Makefile. The Makefile in the bpf directory already tests that we can c

[2022-06-01 10:11] asvoboda opened #20043 "Hubble enterprise panics on new aws linux kernel"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

1. We rolled our kube nodes with a new kernel update and hubble enterprise immediately entered a crash backoff loop.

### Cilium Version

cilium: 1.9.4-cee.1

hubble-enterprise: v1.2.1

### Kernel Version

$ uname -a
Linux <hostname> 5.13.0-1025-aws #27~20.04.1-Ubuntu SMP Thu May 19 15:17:13 UT

[2022-06-01 15:18] aanm commented on #20013
[code]

[2022-06-01 20:04] abebars commented on #20026
@joestringer We noticed the problem originally on 10.6. Then even after upgrading another environment from 106 to 11.4 , We have seen the same problem.

[2022-06-01 22:17] joestringer commented on #20026
I see. The reason I ask is that if you freshly install a recent 1.11.x (1.11.1 or later) version, then #13412 should be fixed. If you cannot reproduce this issue on such a version directly, then probably this issue is a duplicate of #13412. On the other hand, if you can freshly install a recent v1.11.x release and reproduce again, then this must be a different issue.

[2022-06-02 04:42] alphabet5 opened #20051 "CFP: nonMasqueradeCIDRs configuration added to the helm chart."
## Cilium Feature Proposal

It would be nice if nonMasqueradeCIDRs could be configured/managed with the helm chart instead of deploying a separate manifest.

I think it would make sense to add it to the ipMasqAgent section in values. Even as a multi-line scalar.

[code]

or

[code]

[2022-06-02 07:43] AndreiHardziyenkaIR commented on #19816
Reproduced in GKE 1.22.8-gke.201

Found a quick workaround:

[code]

[2022-06-02 10:47] sayboras commented on #19816
@AndreiHardziyenkaIR can you share the steps on how you are installing cilium ? I just tried with the above version as well, but I am unable to replicate.

<details>

[code]

</details>

[2022-06-02 11:07] Ramshield opened #20053 "Etcd no network causing kubeapi to not start"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

Hi,

I have a clean K8S cluster running on Proxmox with KVM.
I installed Cilium via helm and at that moment my cluster wasn't working for mysterious reasons.

I initialized the cluster with `kubeadm init --control-plane-endpoint k8s-master.example.com --service-dns-domain k8s.example.com.
So th

[2022-06-02 11:20] sayboras commented on #20024
I just notice that you are using generic helm installation, might I know which k8s cluster you are using ? There might be more suitable/platform specific helm installation as mentioned in other tabs.

https://docs.cilium.io/en/latest/gettingstarted/k8s-install-helm/

[2022-06-02 11:46] leopaul36 commented on #20024
I'm using a vanila Kubernetes 1.24.0 installed with kubeadm on bare metal nodes with cri-o as a CRI.

[2022-06-02 12:14] AndreiHardziyenkaIR commented on #19816
@sayboras
The version I am using was installed automatically with GKE
I believe it comes with Dataplane V2 enabled.

[2022-06-02 12:17] rlex opened #20054 "Hubble ingress broken with className in helm chart (1.12.0-rc2)"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

Trying to install cilium with hubble ui, ingress-ui enabled and className specified throws error:

[code]

Reverting back to annotation fixes issue

### Cilium Version

1.12.0-rc2 (helm)

### Kernel Version

N/A

### Kubernetes Version

Client Version: version.Info{Major:"1", Minor:"22", GitVer

[2022-06-02 12:27] eminaktas opened #20055 "`cilium connectivity test` fails when nodelocaldns is running in cluster"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

Hi,

In our environment, `pod-to-a-allowed-cnp` and `pod-to-external-fqdn-allow-google-cnp` tests are failing when cilium runs with nodelocaldns. We used [these](https://github.com/cilium/cilium/blob/master/examples/kubernetes/connectivity-check/connectivity-check.yaml) resources to find out wh

[2022-06-02 12:36] necatican commented on #20055
We've also tried to deploy Node-local DNS following [Cilium's documentation](https://docs.cilium.io/en/v1.11/gettingstarted/local-redirect-policy/#node-local-dns-cache). We are deploying Kubernetes with Kubespray, and if we get to solve this issue, it could help a bunch of people like us who are trying to switch to Cilium on production.

[2022-06-02 14:19] vitality411 commented on #18610
+1, facing the same problem

[2022-06-02 14:31] brb commented on #18610
Any reason why you don't use [Cilium's eBPF kube-proxy replacement](https://docs.cilium.io/en/v1.11/gettingstarted/kubeproxy-free/) instead of the kube-proxy with ipvs?

[2022-06-02 14:45] vitality411 commented on #18610
We will switch to [Cilium's eBPF kube-proxy replacement](https://docs.cilium.io/en/v1.11/gettingstarted/kubeproxy-free/) because of this issue. But still kube-proxy with ipvs is supportet right?

[2022-06-02 14:59] brb commented on #19703
@knfoo The PR https://github.com/cilium/cilium/pull/19797 makes it possible via `kubectl exec -ti -n kube-system $CILIUM_POD_NAME -- cilium config XDPTracing=enabled`.

[2022-06-02 16:26] xyzzyz commented on #19981
(I uploaded sysdump above)

[2022-06-02 16:32] rgo3 opened #20062 "Probes: refactor `ProbeManager` to use `cilium/ebpf` features"
By now the [features](https://github.com/cilium/ebpf/tree/master/features) package in https://github.com/cilium/ebpf is capable of feature probing most of the probes done with the `ProbeManager`. https://github.com/cilium/cilium/blob/eb902ce368a498b2976e018130415577c5628bb0/pkg/datapath/linux/probes/probes.go#L146-L149

Today cilium/ebpf can probe (few exceptions but on par with `bpftool` regardin

[2022-06-02 19:24] arunporwal opened #20065 "Cilium: Timeout while waiting for initial conntrack scan"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

A bug happened!
The cilium containers should start properly.

### Cilium Version

Client: 1.10.5 b0836e8 2021-10-13T16:20:49-07:00 go version go1.16.9 linux/amd64
Daemon: 1.10.5 b0836e8 2021-10-13T16:20:49-07:00 go version go1.16.9 linux/amd64

### Kernel Version

Linux ip-172-18-72-84 5.13.0-1

[2022-06-02 20:07] arcreative commented on #13663
We have the same issue.  I'm trying to understand though, is pod on node A -> pod on node B still encrypted without `encryption=true` and `nodeEncryption=false`?  One would assume not, but just verifying because it somewhat makes or breaks our use case at the moment.

[2022-06-02 22:17] arjantop-cai opened #20067 "Policy with `k8sService` on port 443 allows traffic on port 443 to `world`"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

Policy defined:
[code]

Expected: Only traffic to service svc.ns on port 443 is allowed
Result: All traffic to "world" on port 443 is allowed

Observed in local k3d install and EKS

### Cilium Version

1.10.x and 1.11.x

### Kernel Version

[code]

### Kubernetes Version

[code]

### Sysdump

_

[2022-06-03 01:05] joestringer opened #20068 "CFP: Measure connections/sec rate in the datapath"
## Cilium Feature Proposal

**Is your feature request related to a problem?**

Yes, under high load the connection tracking map can become full. Typically the LRU property of the map will mitigate some degree of high load on the CT map to a point. However, if the connection rate is too high then the LRU property may bump out CT entries corresponding to live connections. When this occurs, it is pos

[2022-06-03 01:32] joestringer opened #20069 "CFP: Extend bpf_map_pressure metric to cover connection tracking, NAT maps"
## Cilium Feature Proposal

**Is your feature request related to a problem?**

If the CT or NAT maps become full, this can cause packet drops. Provide better visibility into the datapath when this occurs.

**Describe the feature you'd like**

The work in https://github.com/cilium/cilium/pull/14131 provided `bpf_map_pressure` metrics into maps managed purely by userspace. It would be nice to extend

[2022-06-03 08:02] arjantop-cai commented on #20067
Reproduction steps using sw-app example:
[code]

Requests to world:80 and world:443 work:
[code]

Apply the policy:
[code]

Request to world:80 works (the one specified in the policy `toPorts`) and traffic to world:443 is dropped (not specified in the policy)
[code]

[2022-06-03 08:34] #20054 closed

[2022-06-03 08:40] #19907 closed

[2022-06-03 08:58] knfoo commented on #19703
@brb Yeah makes sense and  that is a good thing to be able to do that.
With this implementation is it limited to users with rights to access cilium pods which is very limited in our case.
We will be able to create tooling around this to allow "regular" users to enable this. But a more clean implementation would be to be able to expose it via object annotations like you have with the other L7 viabi

[2022-06-03 09:18] aanm commented on #19816
Hi @AndreiHardziyenkaIR, in that case you should try and contact Google support and explain the situation. Thank you.

[2022-06-03 09:29] aanm commented on #19978
@RixTmobilender that sounds good, feel free to submit a PR!

[2022-06-03 09:32] #20019 closed

[2022-06-03 09:33] #20040 closed

[2022-06-03 09:34] aanm commented on #20053
@brb can you look at the "dead loop" error?

[2022-06-03 09:36] aanm commented on #19981
cc @brb

[2022-06-03 09:54] rastislavs commented on #18610
OK, so it seems that the issue was caused by `rp_filter` settings. The upgrade triggered resetting of `net.ipv4.conf.all.rp_filter` to default (`2`) on the control plane nodes. It seems that it broke Cilium datapath until they restart. Since the cilium pods set it back to `0` when they start, restart of the cilium pods after the upgrade resolves the issue.

Our workaround for that would be somethi

[2022-06-03 09:58] rastislavs commented on #19761
OK, so it seems that the issue was caused by `rp_filter` settings. The upgrade triggered resetting of `net.ipv4.conf.all.rp_filter` to default (`2`) on the control plane nodes. It seems that it broke Cilium datapath until they restart. Since the cilium pods set it back to `0` when they start, restart of the cilium pods after the upgrade resolves the issue.

Our workaround for that would be somethi

[2022-06-03 11:20] aanm commented on #19761
This will be fixed by https://github.com/cilium/cilium/pull/20072

[2022-06-03 12:18] pavelmish552 commented on #19929
@aanm Just sent you a sysdump in private.

[2022-06-03 12:34] tafkam commented on #19761
@aanm we had the same issue, and already set "net.ipv4.conf.lxc*.rp_filter = 0" like you do in your PR. This is not sufficient for this issue. Using "net.ipv4.conf.all.rp_filter = 0" fixed this.

[2022-06-03 12:47] brb commented on #19761
@rastislavs @tafkam Did you identify which dev's rp_filter=2 was causing the issue?

[2022-06-03 12:50] brb commented on #19703
I am a bit reluctant of adding a way to configure cilium-agent's via CiliumNode object annotations in #19797. Mainly, because we haven't done it yet, and I think that we need a broader discussion on how to do it properly.

[2022-06-03 12:51] tafkam commented on #19761
physical network devices had rp_filter = 1, all other devices had rp_filter = 0, and additionally net.ipv4.conf.all.rp_filter = 1 was set when all pods lost network connectivity on that node

[2022-06-03 14:53] knfoo commented on #19703
Fair enough. Should I create a new issue for that or should that be tracked in this issue then ?

[2022-06-03 15:22] #19961 closed

[2022-06-03 15:53] vincentmli commented on #19699
https://github.com/cilium/cilium/pull/19473 merged to address this issue

[2022-06-03 15:53] #19699 closed

[2022-06-03 15:54] michalschott opened #20074 "No more IPs available - EKS 1.22 + cilium 1.11.5"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

A bug happened!

Im building small POC, using EKS 1.22 (bottlerocket) + cilium 1.11.5 + eni + t3.medium instances, looks like there is some glitch between number of allocatable pods:

[code]

Describing prometheus-0 pod:
[code]

AWS console shows:
[code]

[code]

Any suggestions how to prevent

[2022-06-03 15:55] vincentmli commented on #19656
the pod src ip could be kept by cilium envoy or sk_redirect work according to Joe

[2022-06-03 15:55] #19656 closed

[2022-06-03 19:53] stevo-f3 opened #20079 "CFP: [Helm chart] Support configuring cilium agent Pod dnsPolicy"
## Cilium Feature Proposal

**Is your feature request related to a problem?**

When using etcd-operator managed etcd as cilium kvstore backend, as documented https://docs.cilium.io/en/v1.9/concepts/kubernetes/requirements/#kube-dns one of the options is to configure `dnsPolicy` for the cilium DaemonSet Pod template. This is not currently configurable in cilium helm chart (OSS and enterprise), and

[2022-06-03 20:33] aanm opened #20080 "CI: AWS-CNI Timeout waiting for flow listener to become ready"
The test doesn't fail because of policy enforcement but it fails because it reached a timeout while waiting for the flow listener to be ready. cc FYI @pchaigno
[code]

[2022-06-03 22:09] samueltorres commented on #19057
hey @aanm I'm currently working on it ! 🚀

[2022-06-03 23:30] fristonio commented on #19038
Did some digging into this.

The `k8sServiceHost` helm option sets the env variable `KUBERNETES_SERVICE_HOST` that is used by client-go internally to create the client. The library however does not provide any way to load balance requests for multiple API servers.

There is a `--k8s-api-server` command line flag that already exists used for creating the clients. I was looking into it and it seems

[2022-06-04 10:07] aanm commented on #20024
@leopaul36 can you provide us with the kubelet logs and the cri-o logs as well? Thank you.

[2022-06-04 13:55] BurlyLuo commented on #7070
https://faun.pub/connecting-multiple-kubernetes-clusters-on-vsphere-with-the-cilium-cluster-mesh-964f95267df4
We can follow this blog to solve this issue.

[2022-06-05 01:09] Kikiodazie commented on #19437
Hey, @pratik2315 were you able to work on this issue, or are you working on it?

@joestringer can I have this assigned to me?

[2022-06-05 01:11] Kikiodazie commented on #19274
Hey @slayer321, were you able to work on this issue, or are you working on it?

@pchaigno can I have this issue assigned to me? I'd love to work on it.

[2022-06-05 01:12] Kikiodazie commented on #18678
Hey @aanm, I would love to try my hands on this issue, can it be assigned to me?

[2022-06-05 01:14] Kikiodazie commented on #18393
Hey @aanm, I would love to try my hands on this issue? can it be assigned to me?

[2022-06-05 05:39] WojoInc opened #20085 "Pod cannot access external network"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

After installing Cilium, I found that pods (except for the Cilium node and controller pods) cannot communicate to any external addresses. I have however, tested and confirmed that pod <-> pod communication works both on the same node, and between nodes. I am also able to curl pods from the node

[2022-06-05 07:14] sayboras commented on #18393
thanks, I have assigned issue to you, feel free to reach out in cilium slack channels (e.g. development, sig-docs)

[2022-06-05 08:25] kevin-leong commented on #20000
Any ideas?

[2022-06-05 10:23] eminaktas commented on #20055
Thank you for these quick replies. I have been testing to figure it out. So, I have managed to redirect the requests from `kube-dns` to `nodelocaldns` with the article you mentioned @aditighag but the tests were still failing. So, I found that the reason is the policies.

I added the working configurations to run NodeLocal DNSCache with local redirect policy [here](https://gist.github.com/eminakta

[2022-06-05 15:57] slayer321 commented on #19274
No, you can work on this issue

[2022-06-05 16:09] pchaigno commented on #20080
Could you include the sysdump and link to the workflow? It's going to be hard to debug otherwise...

[2022-06-05 17:51] WojoInc commented on #20085
Just an update, I found that providing the following when deploying via Helm resolves the issue
[code]
However, from the logs, it looks like this causes Cilium to fallback to legacy host routing, so I feel like this probably isn't the right way, but it is a decent workaround for now.

[2022-06-06 06:08] necatican commented on #20055
Hello again,
It turns out there was an internal communication error on our end. :) Sorry about that! You can refer to @eminaktas's latest message.

[2022-06-06 11:39] sayboras commented on #19530
Fixes as part of https://github.com/cilium/cilium/pull/19968

[2022-06-06 11:39] #19530 closed

[2022-06-06 13:56] Kikiodazie commented on #19274
Ok then. Thanks, @slayer321.

@pchaigno can it be assigned to me?

[2022-06-06 14:41] pchaigno commented on #19274
Done :slightly_smiling_face:

[2022-06-06 15:20] vincentmli commented on #19167
@wangfakang the diagram attached describe the current working flow of cilium envoy proxy, in regard to the src ip after envoy proxying, the src ip is ip on `cilium_host`, so `A->B`after the envoy in the diagram is incorrect for current implementation

![Screen Shot 2022-06-06 at 8 16 58 AM](https://user-images.githubusercontent.com/3729694/172190772-0cfa2088-cf27-459c-a831-93bd51d9d722.png)

[2022-06-06 17:19] Kikiodazie commented on #19437
Thanks @joestringer

[2022-06-06 18:19] Ramshield commented on #20053
So this was nowhere in the documentation, but my cluster is running on 10.0.0.0/24, and the default helm chart uses `10.0.0.0/8`. This clashes.
Changing this so a different value and creating a new k8s cluster and everything works.

[2022-06-06 18:19] #20053 closed

[2022-06-06 18:58] atykhyy commented on #20067
I have observed the same behavior with a `toServices` pointing to `kube-dns` service. A `toServices` rule allowing egress to `kube-dns` service in fact allows requests on port 53 to any remote server. Specifying `toEndpoints` with a selector of `k8s-app=kube-dns` instead of `toServices` works as expected: only requests to kube-dns are allowed.

[2022-06-06 19:09] christarazi opened #20088 "Label all Cilium resources with a known label for tracking purposes and sysdump"
Kubernetes [has](https://kubernetes.io/docs/concepts/overview/working-with-objects/common-labels/#labels) `app.kubernetes.io/part-of: X` to be used for this purpose. We can make use of this with Cilium to make it obvious which resources belong to / used by Cilium. We can also utilize this label to fetch all relevant resources during a sysdump to ensure we don't miss any important information.

[2022-06-06 22:40] aditighag opened #20089 "Support `contrib/scripts/kind.sh` on macOS"
The script only runs on Linux at the moment, failing on macOS with the error -

[code]

[2022-06-07 06:21] aanm commented on #18678
@Kikiodazie sure

[2022-06-07 06:54] #19241 closed

[2022-06-07 08:12] pchaigno commented on #20013
@aanm I have the exact same gcloud version and am hitting the errors above. Are you sure about the reproduction steps? Any chance you updated gcloud since you reproduced?

[2022-06-07 08:28] leopaul36 commented on #20024
Hello @aanm,

I ran a new `helm install...`, here are the `kubelet` and `crio` logs of the control-plane node as well as a fresh capture of `cilium sysdump`.

Thanks for your help
[cilium-sysdump-20220607-101859.zip](
[crio_logs.txt](https://github.com/cilium/cilium/files/8851491/crio_logs.txt)
[kubelet_logs.txt](https://github.com/cilium/cilium/files/8851492/kubelet_logs.txt)
https://github.com/c

[2022-06-07 09:17] Kikiodazie commented on #18678
Thanks @aanm

[2022-06-07 09:50] sayboras commented on #20089
Locally, I have the below changes

[code]

[2022-06-07 09:58] Thearas opened #20095 "Run `make` failed"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

Run `make` but got:

[code]

### Cilium Version

master

### Kernel Version

Linux codespaces-f6504d 5.4.0-1074-azure #77~18.04.1-Ubuntu SMP Wed Mar 30 15:36:02 UTC 2022 x86_64 GNU/Linux

### Kubernetes Version

None

### Sysdump

_No response_

### Relevant log output

_No response_

### Anyth

[2022-06-07 10:17] pchaigno commented on #20013
Seems `bpf_features.h` is wrong somehow:
[code]

[2022-06-07 10:20] Thearas commented on #20095
It looks like the reason is that I run `make` in github codespace...
See <https://stackoverflow.com/a/68838334/12570745>, close.

[2022-06-07 10:20] #20095 closed

[2022-06-07 10:22] sayboras commented on #20095
it's weird, as `make -C Documentation update-cmdref` works for me in my codespace.

[code]

[2022-06-07 11:24] v1ctorrhs commented on #15462
@brb in which version can we expect #19401  ? Thanks

[2022-06-07 12:10] brb commented on #15462
@v1ctorrhs v1.13

[2022-06-07 12:39] #19367 closed

[2022-06-07 12:44] whites11 opened #20103 "Cannot reach hostNetwork pods"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

I am trying to make [Azure AAD Pod Identity](https://github.com/Azure/aad-pod-identity) to work in [NMI mode](https://azure.github.io/aad-pod-identity/docs/concepts/nmi/) using cilium in `kubeProxyReplacement=strict` mode.

`Azure AAD Pod Identity` runs a daemonset in `hostNetwork: true` mode a

[2022-06-07 13:44] brb commented on #19703
Yep, creating an issue would work (just please refer to the PR so that folks would have enough context).

[2022-06-07 15:56] rastislavs commented on #19761
Just assuming from the fact that apart from `lxc*` and `cilium_*` netdevs we only have 3 more on the nodes:
 - `lo`
 - `ens5`
 - `nodelocaldns`

and neither `nodelocaldns` nor `lo` are used to actually forward any traffic, it is probably `rp_filter=2` on the `ens5` which is causing the issue?

[2022-06-07 16:44] ReillyBrogan commented on #15462
So I'm already using KPR with Wireguard on 1.11. As far as I can tell everything is working, is that not supposed to be the case (such as pod2pod traffic not being encrypted)? I'm not using L7 features though.

[code]

[2022-06-07 21:08] DolceTriade commented on #20013
I bisected the issue earlier and found this to be the offending commit:
[code]

[2022-06-07 22:28] tommyp1ckles commented on #12756
Happened to me here: https://app.travis-ci.com/github/cilium/cilium/jobs/572773089

[2022-06-08 02:12] #19548 closed

[2022-06-08 02:12] #19469 closed

[2022-06-08 02:12] #19217 closed

[2022-06-08 02:14] travisghansen commented on #19304
Not stale.

[2022-06-08 02:42] aditighag commented on #20103
I'm not familiar with the Azure pod identity application that you are installing, but the use case sounds very similar to kiam on EKS. Is it a daemonset that runs on every node in a cluster, and traffic destined to the 169.254 destination needs to be redirected to these node-local pods? If yes, did you try installing an address matcher LRP by following these instructions https://docs.cilium.io/en/

[2022-06-08 05:43] whites11 commented on #20103
Hello, thanks for your answer.
I mentioned it, I actually tried with the LRP with no luck.
Indeed, the use case is very similar to the KIAM example, with the key difference that kiam agent is not using host network while azure ad pod identity is. I feel like that's the key problem here

[2022-06-08 09:15] brb commented on #19761
@rastislavs Do you know which exact packet is getting dropped? You could run [pwru](https://github.com/cilium/pwru) `pwru --filter-func=".*kfree_skb.*" --output-tuple --per-cpu-buffer=10000 --filter-proto=tcp --output-stack`.

[2022-06-08 12:00] brb commented on #20103
Did you run `pwru` from a pod? Asking, as it didn't manage to resolve func names from `/proc/kallsyms` which could be helpful to identify what happened with TCP SYN request.

[2022-06-08 12:07] brb commented on #15462
pod2pod should work. The #19401 brings the encryption for host2host, pod2host and host2pod traffic.

[2022-06-08 12:08] brb commented on #19981
I still need to know what packet and hops.

[2022-06-08 12:30] brb commented on #20103
Could you `grep 0xffffffff8b63199 /proc/kallsyms'?

[2022-06-08 12:44] whites11 commented on #20103
no match

[2022-06-08 12:55] brb commented on #20103
I believe you are running the cat from the root user. What does `zgrep -i kallsyms /proc/config.gz` return?

[2022-06-08 13:00] whites11 commented on #20103
[code]

[2022-06-08 13:24] brb commented on #20103
Who is doing the translation in the above case? The iptables rule or CiliumLocalRedirectPolicy?

[2022-06-08 13:42] rastislavs commented on #19761
So I did some more debugs:

Initial state, everything is working:
[code]

Now we break the pod -> apiserver connectivity on the node where the pod is running:
[code]

So we now have the following rp_filter settings:
[code]

Pod IP is `10.244.3.168`, apiserver is running at `172.31.167.195:6443` (IP address of one of the master nodes).

What I can see after `sysctl -w net.ipv4.conf.all.log_martians

[2022-06-08 13:47] whites11 commented on #20103
100% iptables

[code]

[code]

(thanks a lot for all the rubberducking)

[2022-06-08 13:58] brb commented on #20103
Could you attach `sysctl net` output?

[2022-06-08 14:14] #19990 closed, assigned to nobody

[2022-06-08 16:05] MikeLing commented on #19922
Hi @joestringer , I found we have [21 chapters](https://github.com/cilium/cilium/pull/19976#issue-1249698586) need to be translated. Should we translated all of them this time? Maybe chapter like `gettinghelp` and `contributing` which less relevant with core concepts or usages of Cilium could put secondary priority and won’t block we publish the documents.

[2022-06-08 17:12] #20089 closed

[2022-06-08 17:18] nmnellis opened #20130 "Hubble Relay: Failed to create peer client for peers synchronization"
Im running k3d on ubuntu and cilium installs and works as expected but hubble-relay does not seem to connect.

* How i installed it
[code]

* log errors

[code]

* I am able to hit this endpoint from other pods though
[code]

* K3d setup

[code]

[code]

[2022-06-08 17:40] christianmas2011 commented on #17877
I come across to this today too, also using host-firewall enabled, for example coredns liveness probes keep failing until i reboot the cilium pods.

Ill check tomorrow with that option disabled.

[2022-06-08 17:49] christianmas2011 commented on #17877
Just tested, indeed all the pods in the workers fail on the L/R probe. It doesn't happen on the pods running on the master though.

[2022-06-08 18:09] christianmas2011 commented on #17877
And this issue disappear if host-firewall is disabled.

[2022-06-09 03:21] Q0heleth opened #20122 "update networkpolicy then can not reach ip address"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

**I create a network policy like this:**
apiVersion: cilium.io/v2
kind: CiliumNetworkPolicy
metadata:
  name: "tofqdn-dns-visibili"
spec:
  endpointSelector:
    matchLabels:
      org: empire
  egress:
  \- toEndpoints:
    - matchLabels:
       "k8s:io.kubernetes.pod.namespace": kube-system

[2022-06-09 07:07] rastislavs commented on #19761
I think this explains it:
From https://www.kernel.org/doc/Documentation/networking/ip-sysctl.txt:
[code]
So even when `net.ipv4.conf.lxcfcd5ee7bd2c6.rp_filter` is `0`, if `net.ipv4.conf.all.rp_filter` equals `2`, the loose mode (`2`) is in effect on `lxcfcd5ee7bd2c6`.

[2022-06-09 07:53] inductor opened #20125 "kubeadm cluster not working against Ubuntu 22.04 and RHEL 9"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

Ubuntu 20.04 works but somehow kubeadm cluster does not work on Ubuntu 22.04 and RHEL 9 using Cilium CNI while Calico was fine.

It looks like CoreDNS returns DNS lookup failing with the following log and pod cannot goes out to the external network.

[code]

Could anybody give an idea what's go

[2022-06-09 09:07] whites11 commented on #20103
You are right, my mistake (was looking at the agent manifest).

So let me recap.
I created this LRP:

[code]

Pods are there
[code]

I have a test pod running:

[code]

with whitelisted egress
[code]

In the node where my pod is running, I don't see any `service` for port 2579

[code]

Also, for what it's worth, there is no activity in cilium agent's logs when I create the LRP.

[2022-06-09 09:27] whites11 commented on #20103
OK after checking everything from scratch I'm able to have the `cilium service` correctly in place.

[code]

Unfortunately this still doesn't work, because `azure-aad-pod-identity` listens to 127.0.0.1 only:

[code]

and that is very well hardcoded. https://github.com/Azure/aad-pod-identity/blob/master/pkg/nmi/server/server.go#L108

Is there any way out of this or do I need to make a change to `aa

[2022-06-09 10:08] tklauser opened #20129 "CFP: Cilium-native multi-homing"
## Cilium Feature Proposal

**Is your feature request related to a problem?**

No, it's a new feature.

**Describe the feature you'd like**

In Kubernetes each pod typically only has one network interface (apart from a loopback). Cilium-native multi-homing would allow to attach additional network interfaces to pods. This is similar to how the [Multus CNI](https://github.com/k8snetworkplumbingwg/mu

[2022-06-09 10:22] wsszh commented on #14072
Hi, I want to get the L7 visibility for custom protocols, but I'm not clear if it is possible. Some advice? :p

[2022-06-09 10:40] aanm commented on #17949
@DreamyProtect could you check if the Cilium logs contain the string `Envoy: Listening for prometheus metrics`. If it does not can you send us a log output of Cilium running with `debug`?

[2022-06-09 10:43] aanm commented on #18060
Closing, we haven't seen this for a while.

[2022-06-09 10:43] #18060 closed

[2022-06-09 10:51] aanm commented on #20125
@inductor could you check if you are hitting [this](https://github.com/cilium/cilium/issues/19761) issue? Thank you!

[2022-06-09 11:43] pchaigno commented on #17877
We still need the [info listed above](https://github.com/cilium/cilium/issues/17877#issuecomment-970092632) to be able to debug this.

[2022-06-09 12:19] christianmas2011 opened #20133 "Connectivity test failed when hubble portforward is enabled, and Hubble UI not working."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

I made a helm installation of Cilium and Hubble with the options we are testing with, everything seems working pretty good but we lost Hubble UI even if we try to install it manually, i think its conflicting in some way with any of the options we are running with.

### Cilium Version

@kubernet

[2022-06-09 12:38] chendotjs opened #20135 "generic-veth chaining not compatible with BPF host routing"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

Cannot visit local pod from host node.

For example,  the `nginx` pod is running on node `192.168.0.6`,
[code]

### How to reproduce:
 Install Cilium with generic veth chaining and strict kube-proxy replacement.
[code]

After some dig into the code,  I found that the icmp echo reply from the co

[2022-06-09 15:43] joestringer commented on #14072
Hi @wsszh , it should be possible on v1.11.x by following the instructions at https://docs.cilium.io/en/stable/policy/visibility/#proxy-visibility .

[2022-06-09 16:38] jaredledvina commented on #18513
I'm pretty certain this happens when you have passed in `ipv6.disable=1` as a kernel parameter. In that setup, the ip6table modules still load causing `haveIp6tables` to be set to `true` and the cleanup logic to happen. However, any calls to ip6tables fail with the `Address family not supported by protocol` since ipv6 is disabled in the kernel.

I don't know if there's a simple way for Cilium to d

[2022-06-09 22:37] joestringer opened #20143 "Drop notifications don't work correctly for packet LB"
It looks like https://github.com/cilium/cilium/pull/17758 split out per-packet LB and during the refactor, it removed the `send_drop_notify()` calls that ensure that userspace is informed when the datapath drops a packet. Furthermore, because this is missing, that tail call may return a code that is not `CTX_ACT_OK` / `CTX_ACT_DROP`, so possibly Cilium could pass packets to the stack for continued

[2022-06-10 02:14] #19122 closed

[2022-06-10 02:31] wsszh commented on #14072
Yeah, I just read the doc you posted and get here. As it says: "Proxylib parsers are not supported, including Kafka. To gain visibility on these protocols, you must create a network policy that allows all of the traffic at L7, either by following [Layer 7 Examples](https://docs.cilium.io/en/stable/policy/language/#l7-policy) ([Kafka](https://docs.cilium.io/en/stable/policy/language/#kafka-policy))

[2022-06-10 04:55] vincentmli commented on #20103
I would agree that probably `aad-pod-identity` should not hard code listening on `127.0.0.1`, worth checking with `aad-pod-identity` to see if that can be changed.

[2022-06-10 05:22] christarazi commented on #20122
@Q0heleth Which version of Cilium are you running?

[2022-06-10 05:33] Q0heleth commented on #20122
1.11.0 (v1.11.0-27e0848)

[2022-06-10 05:33] Q0heleth commented on #20122
1.11.0 (v1.11.0-27e0848)

[2022-06-10 05:46] christarazi commented on #20122
Can you try with 1.11.5?

[2022-06-10 05:52] whites11 commented on #20103
I agree and I opened a PR already. Thanks all for the help, we an close this ticket.

[2022-06-10 05:52] #20103 closed

[2022-06-10 07:50] wenhuwang commented on #20122
@christarazi  hello, is this a bug? are you have a bugfix link?

[2022-06-10 08:48] krouma opened #20150 "Cilium-agent: Add CAP_SYS_CHROOT to mount-cgroup container"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

When deploying cilium in a cluster that uses cri-o, cilium pod fails in Init. The `mount-cgroup` container cannot execute `setns(2)` due to missing capability. This presumably doesn't happen on containerd since it has this capability enabled by default for every container. However, relying on d

[2022-06-10 09:35] inductor commented on #20125
@aanm
Hi, I tried adding the following kernel param but it didn't fix my problem.

[code]

[2022-06-10 09:39] aanm commented on #20125
@inductor do you set that parameter on all interfaces?

[2022-06-10 10:02] reneluria commented on #14658
This is because docker, with cgroupsv2 uses cgroupns-mode as private by default.

To fix this issue, change this in `/etc/docker/daemon.json`

[code]

To verify, `docker inspect` on a container should show :

[code]

[2022-06-10 10:13] #20133 closed

[2022-06-10 10:13] christianmas2011 commented on #20133
misconfiguration on my end :D

[2022-06-10 10:27] sayboras commented on #20150
should it fixed by https://github.com/cilium/cilium/pull/19903 ? Can you try it out with master branch and let us know if it's working ? Thanks.

[2022-06-10 10:51] christianmas2011 commented on #18139
Is this error im getting related to the issue?
[code]

[2022-06-10 10:52] christianmas2011 commented on #18273
Im getting this issue as well on baremetal:

[code]

[2022-06-10 11:10] odidev opened #20154 "Timed out waiting for the condition on pods"
I have been working on “tests-smoke-ipv6.yaml” file to run on x86_64 and aarm64 architectures, I followed GitHub Action, while running this file I am getting the below time out error for some pods.

`error: timed out waiting for the condition on pods`

**Log for reference:** https://github.com/odidev/cilium/runs/6828758066?check_suite_focus=true

It would be helpful if you could share some pointer

[2022-06-10 11:16] ysksuzuki commented on #19810
It seems that Cilium doesn't take the endpoints.conditions field into account when it determines whether to advertise the route to the LB. Cilium doesn't withdraw the advertisement when a pos is terminating because of this.
https://github.com/cilium/cilium/blob/fd6d8114f21143c5253da4483d5d4398ce0a3ade/pkg/bgp/speaker/speaker.go#L420

Here is MetalLB v0.12.1 implementation. It checks conditions.Rea

[2022-06-10 11:20] ysksuzuki commented on #19810
@ldelossa @brb
Do you have a plan to upgrade MetalLB to support endpoints.Conditions field? MetalLB which Cilium depends on is a bit old. v0.10.0 maybe?

[2022-06-10 11:24] krouma commented on #20150
Oh, I missed this PR. It now works but I had to manually specify tag because `latest` tag is not present in docker.io or quay.io

[2022-06-10 14:04] sayboras commented on #20150
yeah, we are no longer publishing latest tag, but you can use _quay.io/cilium/cilium-ci:latest_ intead. Other images are following the same convention (e.g. -ci suffix).

I am closing this issue now, thanks for reporting this.

[2022-06-10 14:45] brb opened #20160 "Migrate K8sServices from Ginkgo to newer testing infrastructure"
Parent issue with motivation: https://github.com/cilium/cilium/issues/37837

* [ ] `Checks E/W loadbalancing (ClusterIP, NodePort from inside cluster, etc)`
  * [x] `Checks service on same node` @brb
     Let's keep for per-packet LB and for bpf_sock (ipv4 and ipv6) as e2e
  * [x] `Checks DualStack services` @joamaki
     Move to control plane suite (in the end it's checking whether lbmap is OK)

[2022-06-10 14:53] jtaleric opened #20161 "CFP: Ship binaries/container-images stripped/unstripped"
## CFP: Ship binaries/container-images stripped/unstripped
**Is your feature request related to a problem?**
no

**Describe the feature you'd like**
During the release process, provide our normal binaries with symbols stripped, but also provide debug/dev binaries. Also, provide container images with unstripped binaries.

We would like to take advantage of [parca](https://github.com/parca-dev/parca

[2022-06-10 14:57] mramakrishnaprasad opened #20162 "Redirecting the requests to a K8s service based on HTTP request header"
I am using Cilium 1.11.4 and exploring to implement one use case where the HTTP message sent by Kubernetes pod(belonging to Service A) needs to be forwarded to an another K8s service B based on the HTTP host header value present in the request. When there is a match for HTTP header value, the cilium network policy should also result in addition of an another HTTP header to the request before it is

[2022-06-10 16:16] #18480 closed

[2022-06-10 16:19] weikinhuang opened #20164 "Node-Local dns with LocalRedirectPolicy not working on pods listening on port 53"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

Hi, I'm just started running into an issue with node-local-dns and cilium local redirect policy. Everything was working fine previously on 20.04.

My previous nodes running
[code]
worked just fine, however my new nodes are running ubuntu 22.04 with kernel
[code]
does not seem to work properly f

[2022-06-10 16:23] zdenkotraste commented on #16253
+1 on this issue, we encounter a similar usecase when using Cilium on EKS where we have the requirement that only a specific set of pods need VPC IPs (ipam mode set to ENI) while we would like the rest of the pods to be able to run with the overlay IPs.

[2022-06-10 16:27] aditighag commented on #20164
Can you clarify - is LRP enforcement working for some pods and not others in the same cluster?

Are all the nodes in the cluster running the same kernel version?

Can you upload a sysdump from the affected nodes?

[2022-06-10 16:59] dnkanga commented on #19526
I am facing this issue with the stable version

[2022-06-10 17:00] weikinhuang commented on #20164
I can upload one when I have the time to rebuild a test cluster with the minimal case in the next few days. Yes, all the nodes are built from the same packer template. From what I've seen on my coredns grafana dashboards, the NLD pods are getting _some_ traffic, but sum total lower than if I disabled the NLRP. But using a test pod with dns tools, I'm unable to dig to the cluster dns address with N

[2022-06-10 20:30] xyzzyz commented on #19981
Sorry, I'm not sure what else you need, exactly. Can you be more specific? I'll be happy to provide it.

[2022-06-10 21:13] joestringer opened #20166 "Cilium pods with well-known identities get stuck in "restoring" state if etcd is down"
Saw Cilium restore logic get stuck while restoring a pod with a well-known identity:
[code]

Restoring such a pod should not wait on etcd to resolve the identity, because the identity is well-known.

[2022-06-10 21:13] joestringer commented on #20166
Won't fix.

[2022-06-10 21:13] #20166 closed

[2022-06-10 21:16] joestringer commented on #20135
I think it's unlikely that generic chaining will ever work with this feature, because typically the chaining plugin should be responsible for routing. To support this means that Cilium is the one handling routing. A better way to handle that is to remove the other chained plugin and just run Cilium directly.

Given that BPF host routing was auto-enabled via the `kubeProxyReplacement=strict` flag,

[2022-06-10 21:24] joestringer commented on #14072
@trvll could you send a patch to update the docs regarding the steps @wsszh is looking for, since this is related to your work in #16935?

[2022-06-10 22:29] vincentmli opened #20169 "send_trace_notify in __encap_with_nodeid() set dst security identity to unknown"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

dst security identity is set to `0` in `send_trace_notify` result in dst security identity to be `unknown` in cilium datapath  monitor log:

[code]

line 151

[code]

### Cilium Version

1.11.x

### Kernel Version

Linux cilium-dev 5.18.0+ #1 SMP PREEMPT_DYNAMIC Wed Jun 1 21:37:44 EDT 2022 x86_

[2022-06-10 22:38] trvll commented on #14072
Hey @wsszh, did you had a chance to read this doc https://docs.cilium.io/en/stable/concepts/security/proxy/envoy/#envoy. It teaches exactly how to create extension in the proxylib for custom protocols.

@joestringer the reference for this guide is already there.

[2022-06-11 01:46] vincentmli opened #20170 "Remove TUNNEL_MAP lookup"
per discussion https://github.com/cilium/cilium/pull/17106#issuecomment-916297787, TUNNEL_MAP lookup is a fallback path for node pod cidr prefix, we could add the pod cidr prefix in IPCACHE and completely remove TUNNEL_MAP

[2022-06-11 03:12] chendotjs commented on #20135
Yes, it will be better to automatically fall back to legacy host routing when chaining on top of another plugin with some log declaring the reason.

[2022-06-11 03:59] vincentmli commented on #20129
is this feature plan to be able  attach SR-IOV VF to pod ?

[2022-06-11 04:52] inductor commented on #20125
@aanm sorry. I don’t get it. Isn’t all for all interfaces already? How can I check if I set all settings as you expect :)

[2022-06-11 12:56] #18759 closed

[2022-06-11 18:27] joestringer commented on #14072
@trvll maybe a question, it looks like #16935 added support for proxylib parsers. But as @wsszh pointed out, the "[Limitations](https://docs.cilium.io/en/latest/policy/visibility/#limitations)" section reports that this is not supported. Is that just out of date? Can we drop that limitation from that docs page?

[2022-06-11 22:43] rlex commented on #20125
I have same issue on cluster with 1.24.1 on 22.04.
Setting
[code]
ens10 is internal network, eth0 is "public" interface.
as well as "all" (was 0 already, per-interface was 2 by default) didn't help.

Also this (from other thread)
[code]
+ reboot

Found this in logs:
[code]

another error:
[code]

[2022-06-11 22:49] rlex commented on #20125
Also, found following:

Downgrading back to v1.23.6+k3s1 (also on 22.04) allowed cluster to start without any issues.
1.23.7 - fail
1.24.1 - fail

[2022-06-11 22:56] Shocktrooper commented on #19314
I am also having this issue

[2022-06-12 02:18] rlex opened #20172 "Strange routing behaviour inside cilium network with 2 IPs on main interface"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

Hetzner, k3s, cilium 1.12.0-rc2
Floating ip created, added to all nodes as per hetzner instructions, metallb works and port is exposed.
ip is created like this with netplan to persist it with reboot:
[code]

It's done to get it working in case of IP get reassigned to different server (as you ne

[2022-06-12 05:10] coelho opened #20173 "helm vlan.bpfBypass ignored"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

Using `--set bpf.vlanBypass=0` in Helm is ignored. The flag shows up in viper, but not in the runtime config.

`# cat viper-agent-config.yaml | grep vlan-bpf`
vlan-bpf-bypass: 0

`# cat agent-runtime-config.json | grep VLAN`
 "VLANBPFBypass": [],

### Cilium Version

Client: 1.11.5 b0d3140 2022

[2022-06-12 18:51] crgarcia12 commented on #19788
As it is stated few comments bellow, this is going to break in future releases.

[2022-06-13 02:15] #19232 closed

[2022-06-13 02:26] wsszh commented on #14072
Thanks, I'll have a try.

[2022-06-13 02:29] wsszh commented on #14072
Yeah, that's a little confusing...

[2022-06-13 07:22] tklauser commented on #20129
@vincentmli I'm not very familiar with SR-IOV VF specifically. This feature should work work with any type of network interfaces supported by the node, as it would be implemented using routes. However, it will not take care of setting up or configuring interface-specific parameters (e.g. SR-IOV VF).

[2022-06-13 07:29] akostic-kostile commented on #19788
True, but it seems they are considering adding "startup taints" (https://github.com/Azure/AKS/issues/2934#issuecomment-1151621093) which should solve this issue in an a better way than an admission controller. It is also a perfect example of over-engineering in my opinion, as the old way was working perfectly fine until they decided to change it for no good reason.

[2022-06-13 10:58] aanm commented on #20125
@rlex can you get a `debug` output?

[2022-06-13 10:58] aanm commented on #20125
@inductor no, because if `net.ipv4.conf.all.rp_filter = 2` then it will overwrite the remaining ones.

[2022-06-13 11:40] sayboras commented on #20173
Thanks for reporting this issue, a quick triage shows below hidden error from https://github.com/cilium/cilium/blob/b411ca306ce68a41e174f98dc42db8fa0be156af/pkg/option/config.go#L2940.

This issue is happening in master branch as well.

[code]

[2022-06-13 12:54] priyankachouk commented on #14459
Hi all,

I am trying to deploy cilium on my kubeadm k8s cluster, i have created 2 nodes and install cilium on that- my cilium and calico pods are running well but after deploying cilium coredns getting continuosly inti crashloopbackoff state.
Its networking related issue, can anyone please help me out from this problem.
Thanks in advance.

[2022-06-13 18:06] xmulligan opened #20182 "CFP: Support Localization of Documentation"
## Cilium Feature Proposal

**Is your feature request related to a problem?**

Many people like to read documentation in their mother tongue. For example, in Kubernetes documentation, only 50% of the page views are in English. Supporting localization of the Cilium documentation will help grow our community and provide good entry points for new contributors from different backgrounds to the Cilium

[2022-06-13 19:49] xmulligan commented on #20182
This is also related to #19976 and #19922

[2022-06-13 21:34] joestringer opened #20186 "[v1.11] CI: Multicluster / Cluster mesh: allow-all-except-world: failed to curl between pods on different nodes"
## CI failure

Hit during backport #20183

[code]

[cilium-sysdump-out.zip (15).zip](https://github.com/cilium/cilium-cli/files/8894630/cilium-sysdump-out.zip.15.zip)
https://github.com/cilium/cilium/runs/6867539777?check_suite_focus=true

[2022-06-14 00:29] vincentmli commented on #20129
https://github.com/k8snetworkplumbingwg/multus-cni and
 https://github.com/k8snetworkplumbingwg/sriov-network-device-plugin seems work together for SR-IOV,  just curious if Cilium CNI could replace the role of  multus-cni here  :)

[2022-06-14 02:13] weikinhuang commented on #20164
@aanm @aditighag I managed to reproduce this on a fresh Ubuntu 22.04 installation and kubeadm. Here is the sysdump.
[cilium-sysdump-20220613-221201.zip](https://github.com/cilium/cilium/files/8895759/cilium-sysdump-20220613-221201.zip)

[2022-06-14 03:17] vincentmli commented on #20164
@weikinhuang sorry I am not familiar with cilium local redirect policy, just see if I understand the problem correct, are you trying to deploy cilium local redirect policy to allow pod only send DNS query to local dns pod but the DNS query goes to remote node dns pod? do you have detail steps to reproduce the issue?

[2022-06-14 05:27] odidev commented on #19713
Is there any update on the above issue? also getting the same error while running the tests-l4lb.yaml file.

[2022-06-14 06:06] CallMeFoxie opened #20191 "toFQDNs broken when using CoreDNS' autopath"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

When using Cilium in combination with CoreDNS' `autopath` feature, `toFQDNs` is broken. How?

When you set egress enable to `somedomain.tld`, the `search` in pod will try to search through `somedomain.tld.svc.cluster.local` BEFORE searching for `somedomain.tld`, to which the CoreDNS will reply

[2022-06-14 07:17] brb commented on #19713
@odidev Are you hitting `Error when enabling sysctl parameters" error="could not open the sysctl file /proc/sys/net/ipv4/ip_forward: open /proc/sys/net/ipv4/ip_forward: read-only file system" subsys=daemon`?

[2022-06-14 08:28] ileixe opened #20192 "Accessing service endpoint behind tailscale subnet router."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

I'm trying to connect `Service` endpoint behind the Tailscale subnet router client like below

---

[code]

- Client (100.114.185.64/32)
My laptop

Tailscale turned on
[code]

- Tailscale pod (100.80.155.114/32)

[code]
Tailscale turned on

[code]

- Service (Cluster IP: 10.111.207.98)

[code]

[2022-06-14 08:48] zhanghe9702 opened #20193 "help-wanted: qustion about cilium service-mesh"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

is it possible to  configure CiliumEnvoyConfig like istio (VirtualService+ DestinationRule) , route traffic to service subset?
[cilium slack discussion](https://cilium.slack.com/archives/C2B917YHE/p1654142203636789)

### Cilium Version

origin/master
commit b411ca306ce68a41e174f98dc42db8fa0be15

[2022-06-14 11:54] ileixe commented on #20192
Dump one more observation, from [the tailscale issue report](https://forum.tailscale.com/t/tailscale-proxy-in-k8s-with-cilium-works-with-pod-not-with-svc/1910/4) I heard they fixed via changing kube-proxy replacement `strict` to `probe`, so I followed the same change (we've also used `strict`) and found cluster IP started to work.

External IP from loadbalancer still did not work but I think it's

[2022-06-14 12:17] rolinh commented on #20196
PR #18620 has been merged and backported to the v1.10 and v1.11 branches of Cilium and available with Cilium v1.10.11+ and v1.11.5+ as well as the upcoming v1.12 release.

[2022-06-14 12:17] #20196 closed

[2022-06-14 12:38] pchaigno commented on #20013
I've set `release-blocker/1.12` given we need to fix this to fix all GKE (in GitHub and in Jenkins) CI. I think we want to do that before releasing. There is a patch in review upstream; I'll pick it up in Cilium as soon as it's merged.

[2022-06-14 12:45] #20143 closed

[2022-06-14 13:16] sayboras commented on #20173
@pippolo84 just notice that you are keen to work on this.

If it's not much of trouble, can you also correct the typo in helm values.yaml as well i.e. vlan-bpf-bypass should be vlanBypass.

https://github.com/cilium/cilium/blob/d06cc727d3696bd27310c8dfa628ee97deda53ae/install/kubernetes/cilium/values.yaml#L326

https://github.com/cilium/cilium/blob/d06cc727d3696bd27310c8dfa628ee97deda53ae/install/

[2022-06-14 14:22] xmulligan commented on #20182
Also related to https://github.com/cilium/cilium/pull/17542

[2022-06-14 15:41] wokalski opened #20204 "[Docs] By default Cilium doesn't work if node is in 10.0.0.0/24 network"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

Using: k3s on bare metal
All nodes are provisioned using DHCP in 10.0.0.0/24

---

This is mostly a documentation "bug", it's logical to me that it doesn't work but it should be documented somewhere. We provisioned our bare metal nodes in 10.0.0.0/24 range. After installing cilium using helm wi

[2022-06-14 17:27] joestringer commented on #20170
With https://github.com/cilium/cilium/pull/19765 / https://github.com/cilium/cilium/pull/20117 we should be able to remove the requirement to specify the identity.

[2022-06-14 17:52] vincentmli commented on #20170
ok, I will wait then till they are merged

[2022-06-14 20:32] vincentmli commented on #20125
I think the proper way to override all rp_filter setting is `net.ipv4.conf.*.rp_filter = 0`, note the `*`.  I just did a test and it works, also see one of my history note https://github.com/cilium/cilium/issues/18131#issuecomment-988160016, I was just bitten by it after upgrading to ubuntu 22.04

[2022-06-14 20:36] vincentmli commented on #20125
I tested k3s `v1.23.6+k3s1` and it works, have not tested `1.23.7`, how do you test `1.23.7` ?

[2022-06-14 20:52] vincentmli commented on #20125
@rlex  I tried `curl -sfL https://get.k3s.io | INSTALL_K3S_VERSION='v1.23.7+k3s1' INSTALL_K3S_EXEC='--flannel-backend=none --node-ip=10.169.72.9 --disable=traefik --disable-network-policy' sh -` and  `cilium install --version=v1.12.0-rc2 --kube-proxy-replacement strict --helm-set-string=k8sServiceHost=10.169.72.9,k8sServicePort=6443,l7Proxy=false"`

 cilium runs fine
[code]

[2022-06-14 20:57] rlex commented on #20125
I do that with my ansible role, but as i can see you already dealt with curl.
I'll try to test it with debug soon

[2022-06-14 21:53] christarazi commented on #20191
@CallMeFoxie Could you point out what the exact issue you are having is? What exactly about `toFQDNs` is broken?

It is true that Cilium doesn't map all CNAMEs with the IPs of the underlying A / AAAA records in the FQDN cache. But I don't think this is an issue, so let's leave that aside for now and focus on the `toFQDNs` policy aspect.

In my quick testing, I deployed the following service and po

[2022-06-14 21:58] rlex commented on #20125
With debug enabled i found following in logs:
[code]

Also this is found in cilium-cni.log:
[code]

So liveness check seems to fail and pods is forcefully restarted.

And i indeed can't find cilium.sock in /var/run/cilium. Got a bit more verbose logs if you want, can send by mail - they're a bit fat for github, i believe.

[2022-06-14 22:40] joestringer opened #20207 "Add testing for multiple L7 rules in different policies affecting the same traffic"

[2022-06-14 23:09] aanm commented on #20207
@joestringer I assume it's testing plus document the outcome of such behavior?

[2022-06-14 23:15] joestringer commented on #20207
I would _expect_ multiple lists of rules to be combined, and IMO that's what we should document. Whether that's what the code does today or not, I'm not sure.

[2022-06-14 23:29] aanm commented on #20204
@wokalski yes, that's a fair point. Would you like to submit a documentation PR regarding this?

[2022-06-15 02:15] #19006 closed

[2022-06-15 04:58] CallMeFoxie commented on #20191
Hello :)

Basically:

1. I have a rule:
[code]

which should allow me to go to `fhdfs-nn1.xxx`

But when it tries to open `fhdfs-nn1.xxx` it goes through `search` on the POD and finds `fhdfs-nn1.xxx.svc.cluster.local` first. This DNS request goes through DNS Proxy and the underlying DNS server replies with `fhdfs-nn1.xxx.svc.cluster.local CNAME fhdfs-nn1.xxx` and the rest of the chain. At that poi

[2022-06-15 09:00] #19958 closed

[2022-06-15 09:01] #14609 closed

[2022-06-15 12:27] dosmanak opened #20211 "cilium stuck "Waiting on node-init" after upgrade from 1.10 to 1.11"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

/tmp/cilium-bootstrap.d/cilium-bootstrap-time is not created
The STARTUP_SCRIPT is run on worker node using nsentry.
It does check the existence of checkpoint path defined in the script as
[code]
But previous instalation exported variable to "/tmp/node-init.cilium.io" in https://github.com/cili

[2022-06-15 12:28] rizwan3659 opened #20212 "no matches for kind "CiliumEgressNATPolicy" in version "cilium.io/v2alpha"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

Installed cilium on mimikube cluster.
Followed steps on this link https://docs.cilium.io/en/stable/gettingstarted/egress-gateway/

When I am trying to apply the  Egress NAT Policy given in above link, Following error is coming
 no matches for kind "CiliumEgressNATPolicy" in version "cilium.io/v

[2022-06-15 12:53] rizwan3659 commented on #20212
I have installed through "cilium install" command and through helm. let me try with helm. Thanks.

[2022-06-15 12:54] sayboras commented on #20088
The list of resources can be found from cilium helm chart in below link. I have assigned the issue to you. Please feel free to reach out if you need any help in cilium #development slack channel.

Helm chart: https://github.com/cilium/cilium/tree/master/install/kubernetes/cilium/templates

Contributing docs: https://docs.cilium.io/en/stable/contributing/development/contributing_guide/#howto-contri

[2022-06-15 17:09] maintainer-s-little-helper[bot] opened #20217 "CI: K8sPolicyTest Basic Test checks ICMP policies"
### Test Name
[code]

### Failure Output
[code]

### Stacktrace
<details><summary>Click to show.</summary>

[code]
</details>

### Standard Output
<details><summary>Click to show.</summary>

[code]
</details>

### Standard Error
<details><summary>Click to show.</summary>

[code]
</details>

ZIP Links:
<details><summary>Click to show.</summary>

 https://jenkins.cilium.io/job/Cilium-PR-K8s-1.16-ker

[2022-06-15 17:57] christarazi commented on #20191
@CallMeFoxie Would you be able to add instructions on how I can replicate this with coredns and a CNAME record?

[2022-06-15 18:00] tommyp1ckles commented on #20217
Think this [PR](https://github.com/cilium/cilium/pull/20174/files#diff-ac2c086bfee756ca61d0ee3f0796a3e519bba71811315e42d05c7ae3d5423f79R381) added test + changes necessary for it to pass. Believe flakes are just stale branches. Testing my rebased branch now.

[2022-06-15 18:14] CallMeFoxie commented on #20191
That is easy, you need to enable `autopath` in coredns.And the traffic gets dropped because it doesn't match the domain name that is allowed by the rule.Dne 15. 6. 2022 19:57 napsal uživatel christarazi ***@***.***>:
@CallMeFoxie Would you be able to add instructions on how I can replicate this with coredns and a CNAME record?

—Reply to this email directly, view it on GitHub, or unsubscribe.You a

[2022-06-15 18:27] pinglamb commented on #15200
Hi @brb @borkmann, I am running a EKS cluster with:

* K8S: 1.22
* Amazon VPC CNI: v1.11.0
* Cilium: v1.11.4
* Kube Proxy Replacement: `strict`

But still have the problem of reaching nodes in same AZ. Please help, thank you very much 🙏

[2022-06-15 18:30] christarazi commented on #20191
@CallMeFoxie Can you provide instructions for creating a CNAME record?

[2022-06-15 19:55] ldelossa opened #20219 "k8s: Consolidate init containers by required privelege."
Currently, a Cilium Kubernetes deployment relies on several `init` containers running in sequence, performing preliminary tasks before Cilium starts up.

Right now, the strategy is to add a new `init` container per preliminary task. This pattern could eventually slow down Cilium installation.

Instead, we can consolidate multiple tasks into a few `init` containers. We can categories these `init` c

[2022-06-15 21:43] christarazi commented on #20191
Actually, I was able to reproduce using almost the same instructions as https://github.com/cilium/cilium/issues/20191#issuecomment-1155747294 except that I modified the policy to allow to `github.com` instead of `github.default.svc.cluster.local`.

So what I see is

* an entry in the FQDN cache with `github.default.svc.cluster.local` because that's what coredns with `autopath` will do
* However, b

[2022-06-15 22:10] rayjanoka commented on #15200
I needed something like this @pinglamb - there was some extra configuration for running on smaller instances (pre-allocate) if you are using those.

[code]

[2022-06-15 23:40] devoncrouse commented on #19708
Same issue here - in case it helps, we found setting the following in the netns where the drop occurs avoids it:
[code]

[2022-06-16 00:50] christarazi commented on #20211
Did you upgrade from the latest v1.10.x to v1.11.5?

[2022-06-16 00:56] christarazi commented on #20074
What is the problem? From what I can tell, on `t3.medium` instances, you can have a max of 3 ENIs with 6 IPs each, so a total of 18 IPs per node. Cilium allocates two IPs for itself, one for the Cilium health endpoint (health probing) and another for `cilium_host`. So that leaves 16 available, assuming that Cilium is configured to use all ENIs.

[2022-06-16 03:06] pinglamb commented on #15200
Here you are, it is of `chaining mode`:

[code]

[2022-06-16 03:19] difficultwork opened #20226 "Can anyone invite me to the slack,thx"
my email is yemo@foxmail.com
plz invite me to Cilium & eBPF on slack

[2022-06-16 03:21] difficultwork commented on #20226
my email is yemo@foxmail.com
plz invite me to Cilium & eBPF on slack

[2022-06-16 04:05] sayboras commented on #20226
please use this one https://cilium.herokuapp.com/ :)

[2022-06-16 04:08] #20226 closed

[2022-06-16 05:36] ksramchandani commented on #15428
@aanm Can you please provide the details of the 1.9 version where the fix was backported?

[2022-06-16 06:03] CallMeFoxie commented on #20191
Yes, that is exactly my issue :)

I was thinking what negative effects it could add to allowing CNAMEs (at least until it hits first allowed domain) but not sure, the possible attacker can always try all the search domain/... on the way by hand by querying DNS directly and/or editing /etc/hosts.

I was trying to find the source code so I could send PR for this issue, but I couldn't find it myself.

[2022-06-16 06:19] difficultwork commented on #20226
thx, but i use mobile slack and i‘ve joined other group. if no one invite me, i should use a new email to join Cilium & eBPF :(

[2022-06-16 07:41] kkourt commented on #20164
Thanks @weikinhuang!

How did you created the sysdump? It seems to be lacking "bugtool" information and having this output would be useful since this might be a kernel issue.

cilium-sysdump.log seems to be fine:

But I do not see any bugtool log files. Typically, they would be a  `cilium-bugtool-<ciliumpod>` directory for every pod.

[2022-06-16 08:51] difficultwork commented on #20226
so kind u are, thank u very much.
it’s pity, so i will try other way.
thx again.

[2022-06-16 08:59] wokalski opened #20227 "CFP: Simple SNAT egress gateway"
## Cilium Feature Proposal

My use case is very simple, I don’t care which actual node/interface acts as the gateway. I don’t want to assign a particular IP to any interfaces. It’s UDP traffic, which flows in both directions. Ingress is covered with a load balancer. And for egress I just care about SNAT.

**Is your feature request related to a problem?**

I am using SIP protocol where both parties

[2022-06-16 10:13] brb commented on #20192
@ileixe Thanks for the issue.

I am trying to understand the packet path. You mentioned:

Does it mean that `Tailscale pod (Tailscale subnet router client)` forward the request to the Service? Asking, as `172.25.` does not belong to the service subnet.

Next, could you get the sysdump after changing to `probe`?

Finally, you seem to use the vlan ifaces to connect k8s nodes. The IP addr of the vlan

[2022-06-16 10:39] sayboras commented on #20212
I assume that it's working for you, closing this ticket now. Thanks.

[2022-06-16 10:39] #20212 closed

[2022-06-16 12:35] gandro opened #20231 "Clear `CNP.Status.Nodes` field if node status updates have been disabled"
`CiliumNetworkPolicies` contain a `status.nodes` field where we used to track the enforcement status of the policy for each node, e.g.

[code]

However, in [Cilium v1.8](https://docs.cilium.io/en/v1.8/operations/upgrade/#upgrade-notes) we disabled this feature by default for scalability reasons. Users who ran v1.8 or earlier were also encouraged to turn it off, so most users today run with `disabl

[2022-06-16 12:40] weikinhuang commented on #20164
@kkourt, I just ran `cilium sysdump`. My cilium pods are running in the `cilium-cni` namespace instead of `kube-system`. Updated the sysdump with the extra namespace flags.

[cilium-sysdump-20220616-083851.zip](https://github.com/cilium/cilium/files/8918870/cilium-sysdump-20220616-083851.zip)

[2022-06-16 12:46] brb commented on #18632
From the commit message:

Setting the release blocker label accordingly.

[2022-06-16 13:58] vincentmli commented on #20129
@brb I see, thanks! I am just curious since the company I work for use Multus to attach SR-IOV or FPGA/smartNIC provisioned interface to pod for high speed packet processing

[2022-06-16 15:13] #20204 closed

[2022-06-16 15:51] dosmanak commented on #20211
Well it was first shot install of cilium so I did not make it properly. I suppose I installed it using cilium cli (v0.10.7), so the first version was v0.10.11? Then I found in my bash history `helm install --version 1.11.1`. But It worked in the meantime so I am lost...
Now the cilium seems to be running but it drops packet even without any policy defined. I will start from scratch.

[2022-06-16 16:16] allenmunC1 commented on #19793
Is it possible to re-open this issue, it seems that this was not fixed in v1.10.12 which https://github.com/cilium/cilium/pull/19794 was back-ported to.

Still getting
[code]

when using the image `quay.io/cilium/operator:v1.10.12` in our cilium operator pods

[2022-06-16 20:02] christarazi opened #20235 "Document default (and hidden) metrics"
We have the [metrics reference](https://docs.cilium.io/en/latest/operations/metrics/#metrics-reference) page which is useful for Cilium users. We can make it even more useful by adding a column to distinguish which metrics are enabled by default and which are not (hidden).

https://github.com/cilium/cilium/pull/20225 can be taken as an example, but it only goes as far as FQDN metrics. We should do

[2022-06-17 00:06] sayboras commented on #19793
sorry to hear that, can you try with json format for the time being ?

[2022-06-17 04:23] sayboras commented on #19312
I have moved the below item to #19698, so we can closed out this issue, and continue the work from #19698

[2022-06-17 04:25] #19312 closed

[2022-06-17 04:46] ileixe commented on #20192
Yes right. `172.25.` belongs to POD network and `Tailscale pod (Tailscale subnet router client)` advertises the routes via `tailscale up --advertise-routes=172.0.0.0/16,10.96.0.0/12  # Pod network CIDR, Service network CIDR`

Here it is: https://drive.google.com/file/d/11Xr8a0tyOMYoE1c1_0ZYs2HE53L5pW3N/view?usp=sharing

Yes, we had VLAN CIDR belongs to Pod network. Actually, I was not aware of tha

[2022-06-17 08:07] zuzzas commented on #12116
The current implementation differs from the one in the portmap plugin.

[Here](https://github.com/containernetworking/plugins/blob/e3d563b0f0833b3f661f1f82cd3cab3f2698812f/plugins/meta/portmap/portmap.go#L230-L244) is the portmap's implementation. As you can see, the destination filter will only apply if port.HostIP is present.

[Here](https://github.com/cilium/cilium/blob/3cc2dd8b0f1209510ba0ef46

[2022-06-17 09:42] #18776 closed

[2022-06-17 11:00] zuzzas commented on #12116
Can we, perhaps, add addresses from the Node object to the list? Those are set via cloud-controller-manager and always display the correct configuration on the cloud's side.

[2022-06-17 11:32] kkourt commented on #20164
Thanks!

Given the following output from `bugtool`:
[code]

And the fact that systemd's version is >245
[code]

It could be the case that this is the issue addressed by #20072, which should be merged soon to master (Cc: @dylandreimerink).

[2022-06-17 11:34] #10645 closed

[2022-06-17 11:34] #14658 closed

[2022-06-17 11:34] #19761 closed

[2022-06-17 11:34] #19909 closed

[2022-06-17 13:14] andrejvanderzee opened #20243 "All traffic to PODs on remote nodes DROPPED after Cilium restart"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

On a clean installation everything works as expected. Then, after `kubectl rollout restart ds cilium` we get into trouble: All traffic to PODs running on remote nodes is dropped. We narrowed it down to the following policy:

[code]

After cilium nodes are restarted, this policy works _only_ for

[2022-06-17 15:10] weikinhuang commented on #20164
@kkourt Updated all those values to 0, it did not fix the issue
[cilium-sysdump-20220617-110923.zip](https://github.com/cilium/cilium/files/8928701/cilium-sysdump-20220617-110923.zip)

[code]

[2022-06-17 15:53] #20161 closed

[2022-06-17 18:54] joestringer commented on #19698
Is there any upgrade implications for this item? If yes, then it seems plausibly like something we may want to push into 1.12.

[2022-06-18 07:03] kanurag94 commented on #20235
@christarazi Can I take this up? -- hopefully will get accustomed to codebase with this

[2022-06-18 18:32] aditighag commented on #20164
I was unable to reproduce the issue after upgrading from Ubuntu 20.04 to 22.04. LRP policy works as expected based on the steps given in the [guide](https://docs.cilium.io/en/v1.11/gettingstarted/local-redirect-policy/#node-local-dns-cache).

I checked the sysdump, LRP seems to be set up correctly on your cluster. Kube-proxy replacement and local redirect policy configs are enabled.

To completely

[2022-06-18 19:04] weikinhuang commented on #20164
@aditighag try from a fresh install, that's fully updated before setting up kubernetes

[2022-06-18 21:21] weikinhuang commented on #20164
@aditighag let me know what other info you need from me

[2022-06-19 16:45] olemarkus commented on #18241
Another related test failing: `Services should be able to connect to terminating and unready endpoints if PublishNotReadyAddresses is true`

[2022-06-20 07:15] #20013 closed

[2022-06-20 08:24] kkourt commented on #20243
Thank you for the well-written report!

Had a look at the sysdump,

As can be seen in the `hubble observe`, the destination address for the dropped flow is `172.28.116.118`.

indeed the identity on the `ipcache` on the problematic node is:

[code]

On the node where the policy works, the identity is as expected:
[code]

From the agent logs (`logs-cilium-wwcpd-cilium-agent-20220617-150827.log`), it

[2022-06-20 09:04] aspsk commented on #12116
Hey @zuzzas, as far as I understand, this is enough to add both—internal and external IPs (if present) for the list, right?

Or an anchor IP for a floating IP can be something else than the internal IP? In this case we need to list all addresses assigned to network devices, not only the internal,external pair

[2022-06-20 09:12] zuzzas commented on #12116
That's what I believe.

It's a job for the cloud-controller-manager's code to write these IPs (even ephemeral ones) onto the Node object. They _should_ be correct and sufficient.

[2022-06-20 14:06] sayboras commented on #19788
For BYOCNI, there is on going effort as mentioned https://github.com/cilium/cilium/pull/19379.

If you can give it a try, and let us know if it's working. Thanks.

[2022-06-20 14:14] sayboras commented on #20193
Thanks for your issue, I am exploring this, and will share my findings later on.

[2022-06-20 15:18] #19810 closed

[2022-06-20 17:09] Kikiodazie opened #20254 "Introduction to the "Demo Application" confusing. The Demo Application can have it's own page"
While reading the Cilium documentation for the first time, I encountered in [hubble_cli docs](https://docs.cilium.io/en/latest/gettingstarted/hubble_cli/) "This guide uses examples based on the Demo App," and I was confused as to where "the Demo App" is.
![Yg_tSqPI](https://user-images.githubusercontent.com/42554056/174647515-5678a3a5-31ef-441d-837e-806110024bc2.png)

After referring to the [Ident

[2022-06-20 20:13] kanurag94 commented on #14909
@psinghal20 Is this still to be worked on? I can take this up.

[2022-06-21 01:39] thejosephstevens opened #20258 "Traffic blocked when it should be allowed by netpol"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

I'm trying to make a connection between pods in two different namespaces. I have removed all network policies in the cluster except for one, which is in the namespace of the destination pod. The network policy is:
[code]

We were testing a more restrictive policy but kept running into issues so

[2022-06-21 02:14] #19351 closed

[2022-06-21 03:07] thejosephstevens commented on #20258
Update, I just tried this CiliumNetworkPolicy as well and still got blocked traffic. I got the code from the docs [here](https://docs.cilium.io/en/stable/policy/kubernetes/#example-expose-pods-across-namespaces)
[code]

[2022-06-21 07:09] rastislavs commented on #18610
As IPVS does not really seem to be supported, what about iptables kube-proxy mode? Is that supported / tested as an alternative to kube-proxy replacement?

[2022-06-21 08:19] kkourt commented on #20258
Thank you for the well-written report.

The policy drop seems to happen in the destination node:

Unfortunately, the sysdump does not include the destination node bugtool, but only the source (`cilium-bugtool-cilium-btpvb-20220620-183155/` directory) which would be useful to have to investigate the drop. Not sure why this is the case. An alternative would be to use the cilium-bugtool directly to g

[2022-06-21 08:26] stonith opened #20259 "cilium node agents fail in GKE if cluster-name is too long"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

If the cluster name in form gke_PROJECT_ZONE_NAME is greater than 63 characters, cilium node agents will not correctly run. The logs are filled with errors like:

```level=warning msg="Key allocation attempt failed" attempt=7 error="unable to allocate ID 55705 for key [k8s:io.cilium.k8s.namespa

[2022-06-21 13:28] hoozgomk opened #20265 "nginx ingress controller not serving request when visibility annotations applied"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

I’m learning how to implement Cilium on the experimental cluster,
I install the Cilium with the command:

[code]

I wanted to collect L7 layer metrics for my deployments, so I set up annotations like in the example below: (I deployed online-butique: https://github.com/GoogleCloudPlatform/micros

[2022-06-21 13:35] Davincible commented on #17883
@shivanshu1333 has there been progress on this issue? I see there was a PR opened but that has been unfortunately closed already

[2022-06-21 17:36] jsonmp-k8 opened #20271 "CFP: Vulnerability management"
## Cilium Feature Proposal

**Is your feature request related to a problem?**
Cilium runs as a daemonset and with daemonset running on huge cluster which is 2500 or more nodes, the number of instances of daemonsets increases. So if the cilium image has 4 vulnerabilities, the number of vulnerabilities multiplies by the number of nodes. For Eg: in the above case we will have 10k instances of vulnera

[2022-06-21 23:24] stonith commented on #19241
@thejosephstevens have you tried using using prefix `ignore-taint.cluster-autoscaler.kubernetes.io/` in GKE? If try to edit a node pool in the web console I get an error "Node taints with key "ignore-taint.cluster-autoscaler.kubernetes.io/cilium-agent-not-ready" are managed by Kubernetes and must not be manually specified."

[2022-06-22 00:52] thejosephstevens commented on #20258
Just grabbed one, does this work?
[cilium-bugtool-20220622-004654.396+0000-UTC-887160975.tar.zip](https://github.com/cilium/cilium/files/8953602/cilium-bugtool-20220622-004654.396%2B0000-UTC-887160975.tar.zip)

[2022-06-22 02:15] #19350 closed

[2022-06-22 02:16] thejosephstevens commented on #19241
We tested on GKE (I'm actually making a new node pool now to sanity check). What version are you running?

Just got this on a brand new node pool
![image](https://user-images.githubusercontent.com/5632093/174928887-23b70a71-22ec-48df-9dcf-1eed64cb1256.png)

[2022-06-22 02:27] stonith commented on #19241
Cluster or node pool creation allows the prefix. Editing existing node pool doesn't seem to allow it.

[2022-06-22 07:38] aditighag commented on #20164
See this comment - https://github.com/cilium/cilium/issues/20164#issuecomment-1159533648.

[2022-06-22 10:04] stroobl opened #20280 "Cilium agent crashloopback running on m6a instances"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?
The issue I see looks exactly like what was supposed to be fixed in #18197 and as far as I see the m6a.large instance type where it fails is in fact included in the instance types of the included aws-sdk. However only m6 instances fail, m5 instances in the same cluster work fine.

Cilium agent e

[2022-06-22 10:27] sayboras commented on #20280
:wave:

The related changes were not back-ported to v1.11 branch, hence there is no m6a limits defined. Can you try the workaround mentioned [here](https://github.com/cilium/cilium/issues/18197#issuecomment-992448303) for time being ?

https://github.com/cilium/cilium/blob/v1.11/pkg/aws/eni/limits/limits.go

[2022-06-22 10:38] stroobl commented on #20280
Oh, sorry about that. I got confused by the PR that mentioned 1.11, but that's apparently the SDK version.
I've been looking into that workaround, but it's not really clear how it should be applied. There is no config-map (aws-instance-limit-mapping or another one) for the operator as far as I see? (Only cilium-config).

[2022-06-22 10:49] sayboras commented on #20280
This flag is for operator. You can either pass it directly as part of command in operator deployment manifest, or using helm option `.Values.extraConfig`

https://github.com/cilium/cilium/blob/v1.11/install/kubernetes/cilium/templates/cilium-configmap.yaml#L816

[2022-06-22 12:45] stroobl commented on #20280
Ok, thanks. I had to experiment a little to the format right in the helm values file, but this appears to work for multiple instance types:
[code]

[2022-06-22 12:45] #20280 closed

[2022-06-22 14:18] kkourt commented on #20259
Thank you for the report!

This seems to be a cilium-cli issue (https://github.com/cilium/cilium-cli/) rather than an issue with the cilium itself. If that's the case, could you please open the issue there?

[2022-06-22 15:29] stonith opened #20285 "cilium-operator-resource-quota scopeselector is too broad"
## Bug report

**General Information**

Cilium CLI version: cilium-cli: 0.11.9 compiled with go1.18.3 on darwin/arm64
Orchestration system version in use: Client Version: version.Info{Major:"1", Minor:"21+", GitVersion:"v1.21.8-rc.0.32+3772b5d6bf8c21-dirty", GitCommit:"3772b5d6bf8c21c509a8a12432bfc820a1535e63", GitTreeState:"dirty", BuildDate:"2021-12-11T01:29:41Z", GoVersion:"go1.17.3", Compiler:

[2022-06-23 01:53] thejosephstevens commented on #19241
Ahhhh, interesting. So we've found that a lot of changes like this require node pool recreation across different providers, so we didn't test that case. I unfortunately don't think we can do anything about that. Best shot would be opening a ticket with GCP

[2022-06-23 02:24] sayboras commented on #19467
as per https://quay.io/repository/cilium/operator-generic?tab=tags&tag=latest, arm64 is already published, is your issue mainly related to arm only?

[2022-06-23 05:09] akoserwal commented on #19467
Yes, thank you

[2022-06-23 05:09] #19467 closed

[2022-06-23 08:44] jibi opened #20288 "CI: K8sVerifier Runs the kernel verifier against Cilium's BPF datapath: libbpf: Error in bpf_object__probe_loading():Operation not permitted(1)"
### Test Name

[code]

### Failure Output

[code]

### Stack Trace

[code]

### Standard Output

[code]

### Standard Error

[code]

### Resources

- Jenkins URL: https://jenkins.cilium.io/job/Cilium-PR-K8s-1.16-kernel-4.9/1911/
- ZIP file(s):
[test_results_Cilium-PR-K8s-1.16-kernel-4.9_1911_BDD-Test-PR.zip](https://github.com/cilium/cilium/files/8965544/test_results_Cilium-PR-K8s-1.16-kernel-4.9_

[2022-06-23 11:06] aanm commented on #19279
@masterkain can you get a sysdump?

[2022-06-23 11:38] trvll commented on #14072
@joestringer you are right. We can update that section to remove that limitation statement.

[2022-06-23 13:58] sayboras commented on #20265
:wave:

The mentioned annotation is not for Ingress object, so in this case, you can try to do the same for nginx deployment.spec.template. Basically, for nginx ingress controller, all the incoming requests are eventually routed to nginx pods, and then flow to perspective backend services.

[2022-06-24 01:52] thejosephstevens commented on #20258
@kkourt Anything else I can provide that would be helpful? Or anything I should be trying out to address this?

[2022-06-24 03:47] jsonmp-k8 commented on #20271
Thanks @aanm. Any progress in that direction will be greatly appreciated.

[2022-06-24 04:38] EppO commented on #19695
Good news, v1.12.0-rc3 is including the fix! 🚀

[2022-06-24 06:49] kkourt commented on #20258
[cilium-bugtool-20220622-004654.396+0000-UTC-887160975.tar.zip](https://github.com/cilium/cilium/files/8953602/cilium-bugtool-20220622-004654.396%2B0000-UTC-887160975.tar.zip)

Thanks!

The local identity on the destination pod seems fine:
[code]

The source endpoints do not seem to match the policy, however.

<details>
[code]

[code]

</details>

which leads to the packet being dropped.

The next

[2022-06-24 08:27] uablrek opened #20297 "Combination loadBalancerSourceRanges and ECMP doesn't work"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

When a service that specifies `loadBalancerSourceRanges` is used then *some* (~25-50%) connect fails if ECMP is used to load-balance incoming traffic between K8s nodes.

* If ECMP is **not** used but with loadBalancerSourceRanges it works
* If loadBalancerSourceRanges is **not** used but with E

[2022-06-24 09:26] uablrek commented on #20297
## Update

It seems like traffic to that enters *some* K8s nodes (seemingly random) is dropped. So scratch;

~If ECMP is not used but with loadBalancerSourceRanges it works~

I was fooled because I happened to test a node that worked.

My routing with ecmp;
[code]
In this particular run traffic worked to 192.168.1.4 and 192.168.1.5 but not to 192.168.1.2 and 192.168.1.3. So when using ECMP ~50% tr

[2022-06-24 09:40] pchaigno opened #20299 "CI: CiliumExecMustSucceed: `interface conversion: interface {} is []interface {}, not string`"
https://jenkins.cilium.io/job/Cilium-PR-K8s-GKE/8718/consoleFull
[test_results_Cilium-PR-K8s-GKE_8718_BDD-Test-PR.zip](https://github.com/cilium/cilium/files/8975089/test_results_Cilium-PR-K8s-GKE_8718_BDD-Test-PR.zip)

[code]

[2022-06-24 10:47] aanm commented on #20271
@jsonmp-k8 feel free to submit a PR that enables this.

[2022-06-24 11:07] #19908 closed

[2022-06-24 11:30] sayboras commented on #20265
oh right, I would recommend you to install nginx into the same namespace to test it out first.

Then, for different namespaces, please refer to this [docs](https://docs.cilium.io/en/stable/policy/kubernetes/#example-expose-pods-across-namespaces) on how to allow traffic from ingress-nginx namespace to default namespace.

Kindly note that the below policy is just for explaining idea only (i.e. it's

[2022-06-24 11:46] christianmas2011 commented on #17877
Is there any way workaround for this? @pchaigno

[2022-06-24 14:16] Kikiodazie commented on #19274
From a conversation on the Slack #sigdocs channel, below Is more context on the issue by @YutaroHayakawa.

The problem here in short is
- We use a protocol called ESP for IPSec (IPSec is a name of the series of protocols and ESP is one of it). It encapsulates the IP packets coming from the Pods (src=PodIP) with another IP header (src=NodeIP). And encrypts “inner” IP packets.
- When users do tcpdum

[2022-06-25 01:55] altanozlu commented on #19816
Same happened with v1.11.6 and dataplane v2, then i've used cilium uninstall which crashed whole cluster.

[2022-06-25 08:17] zhanghe9702 commented on #20068
@joestringer , as my unstanding, is it using an reason code < dropMin , then define two prometheus counter for ipv4/ipv6, let prometheus library function rate()/irate() show this metircs?

[2022-06-26 00:09] christarazi commented on #20122
@wenhuwang Have you confirmed that upgrading to v1.11.5 fixed your issue? If so, please close this issue.

[2022-06-26 00:16] christarazi commented on #18995
@jweite-amazon Coming back to this, it seems to me that the above circular dependency can likely be resolved if the Operator deployment run with HA, i.e. with more than one replica. That way there's never a situation where the sole Operator is decommissioned and when a new node is created, it cannot be bootstrapped because the Operator and Agent (on the new node) require each other to bootstrap.

[2022-06-26 13:03] masterkain commented on #19279
@aanm unfortunately I had to get up and running fast so I switched to another system provided by scaleway

[2022-06-26 20:10] Kikiodazie commented on #19437
Hey @joestringer, sorry, i just started working on this.

I have done some research, and I have a question.

I didn't quite get what you mean by "The option to enable it is under `--endpoint-status`" I would appreciate is you could elaborate on it.

Also, if possible, share maybe actionable steps for me to replicate so I get write the best possible documentation on it.

I hope this meets you well.

[2022-06-27 06:52] ysksuzuki commented on #18520
It seems that this issue is gone with the master branch, kernel version 5.18 (VM rev 145). I'm not sure which kernel fix affected this though. Run `ginkgo --focus "K8sPolicyTest.*validates fromEntities policies" --tags integration_tests` 5 times locally and all were green.

[2022-06-27 07:12] camrossi commented on #19411
I will give it a test this week @arianvp, did the support for passwords got implemented in the end ?

[2022-06-27 09:33] echupriyanov commented on #20130
I've got the same issue install Cilium with Hubble with [k0s](https://k0sproject.io)
Here is config, I used to deploy cluster with Cilium:
[code]
Cluster was successfully started and networking works fine, but hubble-relay has issues getting peers information:
[code]

Here is my sysdump

[cilium-sysdump-20220627-122338.zip](https://github.com/cilium/cilium/files/8990604/cilium-sysdump-20220627-122

[2022-06-27 09:47] #19408 closed

[2022-06-27 12:30] brb commented on #20297
@uablrek Thanks for opening the issue. That's weird. Maybe you could attach Cilium's sysdump?

[2022-06-27 13:17] DreamyProtect commented on #17949
Hi, first sorry for the late reply.

So I did a little debugging and the weird thing is that:

* The port is open on 1 node and only 1 node (I think it's always the same node too)
* The line @aanm asked me to check is present on the pod's logs on the node where the port is opened
[code]
* The line is not present on other pods (they all have the same config)
* All pods log the following line on sta

[2022-06-27 16:18] Kikiodazie commented on #20254
Hey, @aanm can you please assign me to this issue. Currently working on it.

[2022-06-27 19:42] xmulligan commented on #19454
@HamzaZo Would you mind adding to the Cilium users doc? 🐝 We need it for CNCF graduation https://github.com/cilium/cilium/blob/master/USERS.md

[2022-06-27 20:11] aanm commented on #17949
@DreamyProtect did you try restarting one of the broken agents?

[2022-06-28 05:11] thejosephstevens commented on #20258
Got it, we had noticed some error logs around failure to sync cilium endpoints but weren't clear on whether they were conclusive or a red herring. What are the typical causes of that we could look at? Logically I think it would make sense as a cause (if the identity is unknown at the destination, a DENY is correct enforcement), I'm mostly surprised that it appears to be non-transient (like we're n

[2022-06-28 06:47] kkourt commented on #20258
Given the "not found" error message,

maybe it's worth digging into the agent logs to check why the endpoint was never created.

[2022-06-28 11:47] #18868 closed

[2022-06-28 12:00] inductor commented on #20125
Looks like https://github.com/cilium/cilium/issues/20125#issuecomment-1155684032 solves the problem but I will see how it goes applying it to my clusters a bit more.

[2022-06-28 13:03] thomaspeitz commented on #17949
We experience the same problem on our EKS cluster with a Cilium configured through helm.
[code]

Cilium headless server is configured. We first thought it is blocked by network policies but even after removing some deny-all rules we could not reach the cilium server. - A port forward to the pod without using the service did not respond with any metrics (```curl: (52) Empty reply from server```) as

[2022-06-28 15:18] jweite-amazon commented on #18995
Thanks @christarazi, that looks good.  I ran the above EKS test scenario with three cilium operator replicas on the three nodes node terminations were dealt with cleanly: the new operator pod was always launched on the newly provisioned node with no spurious launch attempts on the terminated node.

[2022-06-28 15:18] #18995 closed

[2022-06-28 18:16] rlex opened #20331 "cilium fails to start with k3s and ubuntu 22.04"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

Cilium 1.12.0-rc3 (atm), ubuntu 22.04, k3s v1.23.6+k3s1

As soon as i update k3s to 1.23.7 or 1.24 cilium-agent starts to crashloop.

Here is relevant slack thread just in case: https://cilium.slack.com/archives/C1MATJ5U5/p1655243973200179

I can easily reproduce it by upgrading one of nodes to

[2022-06-28 18:23] rlex commented on #20331
i also have rp-filter disabled explicitely at boot on all interfaces:
[code]

[2022-06-28 18:41] rlex commented on #20331
somewhat similar issue in k3s repo https://github.com/k3s-io/k3s/issues/5188 but i had network policy disabled for quite some time, plus it affects outside connections, not agent as a whole

[2022-06-28 19:21] christarazi commented on #20258
This might be related to https://github.com/cilium/cilium/pull/18864. I noticed that the Cilium version is quite out-of-date. The fix mentioned was released in v1.9.14, but that's just one fix the I recall off the top of my head. I'm sure there have been many improvements around CiliumEndpoint lifecycle in the latest version of Cilium. Could you upgrade to the latest?

[2022-06-28 20:13] hoozgomk commented on #20265
Hello,

My initial setup (without L7 cilium annotation on nginx pod) works correctly despite the fact that nginx is deployed in different namespace than the online-butique reference system. I don't use any network policies, so the traffic inside the k8s cluster is wide open. Or maybe when I apply L7 visibility annotations, then somehow some restriction between the namespaces applies to the system

[2022-06-28 20:22] vincentmli commented on #20331
if you could provide sysdump or clear steps to reproduce the issue, it would be helpful, does the problem occur when you have fresh ubuntu 22.04 and fresh k3s install?

[2022-06-28 20:54] rlex commented on #20331
okay, fresh node with 1.23.7, crashing now. Where should i send sysdump?

[2022-06-28 21:04] vincentmli commented on #20331
when you add new comment, at the bottom where you can click and attach files. are you able to reproduce on single node k3s install? what provider your ubuntu VM is provided?

[2022-06-28 21:06] rlex commented on #20331
My VM provider is hetzner cloud. Pretty much bare install except typical /etc/hostname, mailer, etc...

k3s config (goes to /etc/rancher/k3s/config.yaml):
[code]

You can probably skip
[code]

Since it's for provisioning via external cloud provider only and probably doesn't mean anything here since cilium have toleration for node.cloudprovider.kubernetes.io/uninitialized: true

No arguments passed

[2022-06-28 21:14] rlex commented on #20331
also checked that rp_filter applies correctly:
[code]

[2022-06-28 21:20] vincentmli commented on #20331
the sysdump did not complete because cilium agent is not working I think

[code]
I have sysctl rp_filter setting in 22.04,  can you try that before k3s install?

cat /etc/sysctl.d/99-override_cilium_rp_filter.conf
[code]

[2022-06-28 21:21] thejosephstevens commented on #20258
Yeah, I think we can bump to 1.9.14 no problem (at least to try). We've been trying to orchestrate a jump to 1.11+, but have had issues as we try to get that lined up across all clouds (currently waiting on 1.12 release plus official Azure BYOCNI support before re-attempting). Not sure if I'll get to this today, but should be able to this week

[2022-06-28 21:25] rlex commented on #20331
rp_filter is disabled via my k3s ansible role, but i applied it manually just in case and nothing happened.
It looks like 1.12.0-rc3 already handles this:
[code]

Interesting that operator is crashing too.

[2022-06-28 21:29] vincentmli commented on #20331
by the way, this is how I install k3s in ubuntu VM 22.04 with two network interfaces, one interface is behind company proxy for internet connection (10.3.72.9), another network interface is for internal network (10.169.72.9), it works fine, I do need to have the rp_filter setting override configured before k3s install, otherwise, it won't work

[code]
cilium install

[code]

[2022-06-28 21:37] rlex commented on #20331
I noticed that i lack

[code]

However, all interfaces still had rp_filter disabled.

Just to make sure i added it to 99-sysctl.conf and rebooted node, with no luck.

those are last messages in logs before cilium-agent gets restarted:

[code]

And another run:
[code]

[2022-06-28 21:41] rlex commented on #20331
Can some of custom parameters cause crashloop? bpf masquerade? DSR? Geneve tunneling?

[2022-06-28 21:49] vincentmli commented on #20331
could be, I did notice you have  quite a few custom settings, can you  install k3s with curl and cilium with cilium-cli the way I installed for just testing to see if it crashes?

[2022-06-28 22:02] rlex commented on #20331
Yep, went green. No crashes.

[2022-06-29 01:16] sfxworks commented on #20173
Is there a current workaround for this?

[2022-06-29 02:13] sayboras commented on #20173
Adding the value to the configmap might not work due to underlying flag parsing, the complete [fix](https://github.com/cilium/cilium/pull/20304) should be merged soon

[2022-06-29 02:32] sayboras commented on #20265
It's actually very good point, visibility policies and network policies should be two different things, let me check related code paths and come back to you one this some time later.

In the meantime, is it fair to assume that adding the above network policies works for you ? Thanks.

[2022-06-29 07:26] stulzq opened #20336 "CFP: cilium CNI chaining can support cni-bridge"
We chose bridge for some reason.

cluster cni configuration(`/etc/cni/net.d/`):

[code]

We tried this doc: https://docs.cilium.io/en/stable/gettingstarted/cni-chaining-generic-veth/

cni-configuration:

[code]

When we finish the installation, `cilium status` is ok, then install hubble, but hubble status is not ok: `Connected Nodes: 0/3`

And after restart the cluster, cilium replace bridge, take

[2022-06-29 08:23] uablrek commented on #20297
FYI, I am using a setup where the K8s master is not a K8s-node;

![vms](https://user-images.githubusercontent.com/37046727/176387963-2f85cbe0-1d35-47f4-9e18-3001c0333f8e.png)

This works fine with `cilium` _except_ for web-hooks. I don't think the problem in this issue is caused by this though (I suspect a race somewhere).

This setup is very convenient since it decouples setup for example `etcd`

[2022-06-29 08:49] gandro commented on #20173
Yeah, due to another bug passing it in the ConfigMap does not work. A potential workaround is to pass the `--vlan-bpf-bypass` argument directly via command-line, bypassing the currently broken ConfigMap validation logic. To do that, you can add it to the `extraArgs` Helm value, e.g. `helm install --set "extraArgs={--vlan-bpf-bypass=1\\,2}"`, which will add `--vlan-bpf-bypass=1,2` as an additional

[2022-06-29 08:51] tklauser opened #20337 "CI: Travis CI consistently failing on linux/arm64"
## CI failure

Travis CI builds on linux/arm64 are consistently failing with

[code]

both on PRs and on `master`, see e.g. https://app.travis-ci.com/github/cilium/cilium/jobs/574980523 for the most recent failure on `master`.

[2022-06-29 08:58] gandro opened #20338 "CI: Multicluster / Cluster mesh provisioning fails with `The network "default" does not have available private IP space`"
## CI failure

A (ephemeral?) provisioning failure which can occur in the CI Multicluster (maybe also ConformanceGKE) test:

[code]

Observed in: https://github.com/cilium/cilium/runs/7019814122  -- [logs_510456.zip](https://github.com/cilium/cilium/files/9008971/logs_510456.zip)

[2022-06-29 09:06] gandro opened #20339 "CI: K8sHealthTest cilium-health Checks status between nodes `Unable to generate YAML (signal: killed) output`"
## CI failure

[code]

- Logs: https://jenkins.cilium.io/job/Cilium-PR-K8s-GKE/8711/testReport/
- Sysdump: [f567226d_K8sHealthTest_cilium-health_Checks_status_between_nodes.zip](https://github.com/cilium/cilium/files/9009038/f567226d_K8sHealthTest_cilium-health_Checks_status_between_nodes.zip)
- Observed in: #20286

Looks like an OOM to me (can't think of any other reason why `helm template` would

[2022-06-29 13:59] tklauser commented on #20338
FWIW, this is also occurring in cilium-cli CI: https://github.com/cilium/cilium-cli/issues/940

[2022-06-29 17:44] chancez opened #20354 "CFP: Support automatically creating grafana dashboard configmaps"
## Cilium Feature Proposal

**Is your feature request related to a problem?**

As a user of cilium, I would like to have grafana dashboards created automatically as part of my cilium install.

**Describe the feature you'd like**

Support automatically creating Grafana dashboard configmaps with correct default labels to enable grafana helm chart sidecar to detect the dashboards and install them in

[2022-06-29 18:39] tommyp1ckles commented on #17631
Going to throw a summary some of my findings into this thread as there's a lot of potential ways that a CEP can get into a "stale" state.

From the customer-issue/Slack threads. It seems like there's a few different issues going on here.

1. Pods somehow un-managed, while retaining their CEP. One way that this can happen (i.e. I reproduced by) if the /etc/cni... Cilium config files get removed and

[2022-06-29 18:45] polatouche6 opened #20356 "vagrant setup hangs while "Mounting NFS shared folders""
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

when development setup, I installed the dependencies in the document, but when I run `K8S=1 NWORKERS=1 contrib/vagrant/start.sh`, it hangs.
[code]
the firewalld is disabled, and i restart nfs, and use  `vagrant destroy k8s1` to delete it,  then try , but it doesn't work, and give me the same er

[2022-06-29 21:13] qmonnet commented on #20288
Unlikely from bpftool, unless I'm mistaken `bpf_lxc` is loaded with `tc`.

This is quite curious, the `EPERM` on the probe could be a rlimit issue, but I can't figure a case for 4.9 where we would either skip the rlimit bump or (assuming we did the bump) overflow `RLIM_INFINITY` :thinking: .

[2022-06-30 01:37] ReillyBrogan commented on #20243
Does this go away if you rollback to 1.11.4? If so you might be seeing a similar issue that I'm currently trying to debug.

[2022-06-30 05:39] andrejvanderzee commented on #20243
@christarazi For us it is fairly easy to reproduce. We have have a cluster on EKS for which the node groups (the workers) are destroyed every night and re-created every morning. With fresh workers in the morning, all network policies work as expected. Then, after a `kubectl rollout restart ds cilium` we get and stays into the situation above, making the cluster unusable.

[2022-06-30 05:40] andrejvanderzee commented on #20243
@ReillyBrogan We have seen this on the same behavior on `v1.9.6`, but have not tested `v1.11.4`.

[2022-06-30 06:02] sau-rav opened #20358 "originatingTLS not working for http calls"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

I used TLS inspection for cilium 1.11.6 which worked out well for intercepting https request and initiating a new TLS secured request to server through envoy. (specified both terminating and originating TLS in l7 policy)
However, specifying only the originating TLS (no terminating TLS) and maki

[2022-06-30 06:55] waynr opened #20359 "cilium bpf conntrack issue, packets routed to wrong service endpoint"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

TL;DR: on Digitalocean Kubernetes (on which I am a product engineer), I have observed a condition where packets intended for a kubernetes Service endpoint (10.245.0.1:443) actually gets routed to a different service endpoint (in my experience, they get routed to one of two CoreDNS pods at port

[2022-06-30 08:20] brb commented on #20359
Thanks for the detailed issue. Does this happen also on v1.10.12?

It would be useful to get a sysdump before and after the issue starts happening.

The culprit seems to be a stale CT entry from which a backend ID is being taken:
[code]

It might be that the new CoreDNS backend gets the same ID as previous kube-apiserver endpoint. However, https://github.com/cilium/cilium/pull/18113 this should ha

[2022-06-30 09:19] brb commented on #20192
In the new dump there are no tailscale0 or vlan devices. Did you get the sysdump from the same cluster after only chaning `strict` to `probe`?

You are right.

[2022-06-30 10:17] uablrek commented on #20297
Yes, the normal K8s way. I use kube-proxy replacement, not DSR. Note that this setup work fine without loadBalancerSourceRanges so it's nothing wrong with the test or the system. Only that the precense of loadBalancerSourceRanges seem not to work.

[2022-06-30 10:19] brb commented on #20297
In your sysdump I see many drops due to the LB src range check. My gut feeling is that the dropped packet src IP is something else than the LB allows (thus, my ask for the `cilium monitor` output).

What is the client IP addr?

[2022-06-30 10:33] uablrek commented on #20297
Most likely not. Note that the communication fails depending on the receiving K8s node, not the source. An also that the exact same test works with other CNI-plugins.

[2022-06-30 10:52] uablrek commented on #20297
Tcpdump on a K8s when it fails;
[code]
Source is 192.168.1.201 which match "192.168.1.0/24".

[2022-06-30 14:15] waynr commented on #20359
Yes, we did manage to reproduce the issue on both Cilium 1.10.4 and 1.10.12, though it's worth noting that I had to use this branch to test it out on 1.10.12 in order to revert CiliumNode deletion logic that breaks cilium on our clusters: https://github.com/waynr/cilium/tree/r1.10.12, specifically these two commits:

* https://github.com/waynr/cilium/commit/db332a31d7defe042c932c21704d9130d0a08477

[2022-07-01 04:55] thejosephstevens commented on #20258
Alright, so I just tried updating to 1.9.17 and it had no impact (I rolled pods after to be sure). What I'm seeing that's different from other working clusters is two things. First, tons of errors like this coming off the agent containers
[code]
Second, when I run `kubectl get cep`, every CEP just has a name and namespace, no endpoint ID, Identity, state, or IP.

Based on everything I'm seeing so

[2022-07-01 05:56] christarazi commented on #20258
To be clear, you rolled which pods? Cilium pods or the workload pods?

[2022-07-01 05:59] thejosephstevens commented on #20258
Workload pods. I actually didn't get all the way through, the command failed partway through the roll referencing too many open connections. Currently I'm trying to recover the cluster because when I attempted to roll nodes as a follow-up, nothing is able to rejoin (unclear why)

[2022-07-01 06:06] waynr commented on #20359
Here are the requested cilium sysdumps:

* [cilium-sysdump-after.zip](https://github.com/cilium/cilium/files/9026409/cilium-sysdump-after.zip)
* [cilium-sysdump-before.zip](https://github.com/cilium/cilium/files/9026476/cilium-sysdump-before.zip)

Took me a while to get to this because I'm terrible at context switching and i've been doing a lot of that today while also preparing to take a week or

[2022-07-01 06:22] christarazi commented on #20258
And these

[code]

errors happened on pods that you initiated a rollout for?

[2022-07-01 06:42] uablrek commented on #20297
Side-remark; there is _no problem_ with ipv6. Only ipv4.

[2022-07-01 06:43] thejosephstevens commented on #20258
Just got the cluster back up, at this point all nodes and pods have been replaced in the cluster since the bump from 1.9.9 to 1.9.17 and I'm still seeing the same state for CEPs and errors from agents. Every CEP I have spot-checked I have confirmed exists in the cluster. Example:
[code]

[2022-07-01 06:46] uablrek commented on #20297
Narrowed output from `cilium monitor`;
[code]

[2022-07-01 06:51] uablrek commented on #20297
Same on a working node;
[code]
I can't see any "src range check" logs at all.

[2022-07-01 07:08] thejosephstevens commented on #20258
I'm calling it for the night, but will be working more on this tomorrow. If there's anything you can think of in terms of error types that might be contained in the generic `not found` error that I'm seeing I'd be more than happy to chase down leads once I come back online. Otherwise I'm firing a bit blind. I did take a quick look at the code around this and it's really not that complicated, so no

[2022-07-01 11:55] BastienVigneron opened #20370 "unable to install Cilimum with 5.15 kernel"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

On a fresh install (ubuntu 22.02 LTS) with kubeadm :

[code]

[code]

I try to install cilium by local binary :

[code]

And

[code]

I got the following log :

`level=warning msg="RTNETLINK answers: Operation not supported" subsys=datapath-loader`.

(full log provided)

I've checked all the re

[2022-07-01 12:09] sayboras commented on #20265
I am trying to simulate this issue again, but unable to. Can you try to bounce nginx pod ?

[code]

[2022-07-01 20:41] pchaigno commented on #17877
I'm not aware of one except for disabling the host firewall.

[2022-07-01 21:20] hoozgomk commented on #20265
Hello,
Thank you for the reply.
I will set up a basic environment as you did and I will also test a nginx deplyment in default namespace asap.

Regards

[2022-07-01 21:29] aanm opened #20375 "Validate guides for 1.12 release"
Below is a set of platforms with a semi-randomly picked feature "getting started guide" links. The goal is to test each platform with at least one of the getting started guides.
Secondary goal is to expose more people to the system.

Please test using https://docs.cilium.io/en/v1.12.0-rc3. For quick install guides, ensure to pass the version argument to the Cilium CLI to install the correct versio

[2022-07-01 23:33] christarazi commented on #20258
Can you take a [sysdump](https://docs.cilium.io/en/v1.11/operations/troubleshooting/#automatic-log-state-collection) again which includes a node / cilium-agent which is failing with https://github.com/cilium/cilium/issues/20258#issuecomment-1171995504?

Also, I'd be curious to know if you are continuing to see this issue for newly restarted workloads. My suspicion is that somehow the CEP state was

[2022-07-02 06:43] hoozgomk commented on #20265
Could you please share your exact setup so I could reproduce? Especially - how did you annotate nginx?
Thank you!

[2022-07-02 13:23] BastienVigneron commented on #20370
found.
On Ubuntu 22.04 you need to add linux-modules-extra :
[code]

[2022-07-02 13:23] #20370 closed

[2022-07-03 02:15] #19472 closed

[2022-07-03 11:50] secit commented on #20085
I'm on Cilium v1.11.6 and experience the same issue, but only affected pods on 1 of 3 nodes.
Enabling endpointRoutes helped the failing node.

[2022-07-04 01:41] ileixe commented on #20192
Sorry, our clusters do changed as 1) it no longer used VLAN interface, it use eno0 directly. 2) tailscale0 interface is now only at tailscale POD, not on nodes.

As we've chosen kube-proxy fallback deployment, and this works as expected at least, I don't want you bother more. Please take a look this issue when needs. I will leave it opened as others can track of similar issue.

[2022-07-04 06:58] eminaktas commented on #20055
Hi, I am kindly pinging you now 🤗 @aditighag @sayboras.

I described the situation of why `cilium connectivity test` is failing. We are waiting for you to review and comment on it. We are using Kubespray to provision our K8s cluster. Kubespray deploys NodeLocal DNSCache with `nodelocaldns` label and redirects DNS queries to a local interface whose default is `169.254.25.10`.

Moreover, Cilium cann

[2022-07-04 10:30] mvink-guida opened #20381 "CFP: HELM - podDisruptionBudget / pdb - resources"
## Cilium Feature Proposal

HELM - podDisruptionBudget resources - operator and others

**Is your feature request related to a problem?**

There are podDisruptionBudget's described in the values.yaml and the readme but they don't exist in the templating / resources section. We have e.g. the cilium-operator running in kube-system and for the using cluster autoscaler it requires a pdb else it can no

[2022-07-04 12:04] ysksuzuki opened #20382 "Terminating endpoint receives new connections with KPR and DSR"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

We see our contour/envoy receives new connections when those states are terminating with the CIlium KPR and DSR mode. Contour/Envoy waits for connections to drain in its preStop hook, but some new connections are still coming in.

Graceful termination does not seem to work as expected in a part

[2022-07-04 13:18] hoozgomk commented on #20265
Hello,
I tested deployment of nginx ingress controlled in default namespace, but this seems not related.

I also run curl test.
Without annotation:
[code]
With annotation:
`io.cilium.proxy-visibility: <Ingress/80/TCP/HTTP>,<Egress/80/TCP/HTTP>`
[code]
Maybe my annotation is incorrect?

I was testing with cilium helm installation, I will also test with default cilium installation with CLI and infor

[2022-07-04 13:53] wu0407 opened #20384 "ipam metrics: number of interfaces with addresses available is 0 in no ip require and no ip release when opeartor restart"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

1.   If all node no ip require and no ip release in ipam eni mode, the metrics `cilium_operator_ipam_available` is zero.
2. The relate code is https://github.com/cilium/cilium/blob/e872b2c34aed1e99b9672d291ed9ecc7d5b41af2/pkg/ipam/node.go#L564-L608
3. If `stats.NeededIPs == 0`, it is not run th

[2022-07-04 14:04] ddellarocca opened #20385 "Generate values.yaml from an installation"
Hi,
I've to update cilium in a k8s cluster that were not installed using helm and I don't have the `values.yaml` file anymore, the version that is installed is `1.10.4` and i need to update it to `1.11.6` in order to upgrade k8s to 1.22.
Now is there a way to generate or create a `values.yaml` file for helm starting with the installed one?
Thanks.

[2022-07-04 14:17] sayboras commented on #20385
:wave:

If cilium is installed with helm, you can get the manifests again via below command. If not, you can still check the runtime configuration/flags from pods. [Cilium sysdump](https://docs.cilium.io/en/latest/operations/troubleshooting/#automatic-log-state-collection) can also give a lot of info about configuration.

Helm

[code]

Runtime agent configuration

[code]

[2022-07-04 15:25] borkmann commented on #20382
@aditighag, ptal.

[2022-07-04 15:31] ddellarocca commented on #20385
Ok, thanks, I'll try it out.

[2022-07-04 15:31] #20385 closed

[2022-07-04 21:45] aanm commented on #20354
Aren't the dashboards specific to a particular grafana version? If yes, how could we automatically have the right configmap based on that?

[2022-07-05 02:14] #19508 closed

[2022-07-05 06:27] intel-wenbin opened #20390 "Cilium cannot work after the ubuntu kernel upgrade"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

 Our K8S worker node is running on ubuntu20.04.3 LTS with 5.4.0-89-generic . However after we upgrade the kernel from 5.4.0-89-generic to 5.14.20-051420-lowlatency . The cilium plugin wont show up and the node cannot join kubernetes at all .

### Cilium Version

1.10.1
1.10.8
latest

### Kernel

[2022-07-05 06:33] sayboras commented on #17949
normally the debug log in agent will show the error message when cilium is trying to start cilium-envoy. You can also try to exec into the broken node and run below command as well `cilium-envoy -l info -c /var/run/cilium/bootstrap.pb --base-id 0 --log-format %t|%l|%n|%v`

[code]

[2022-07-05 08:19] DreamyProtect commented on #17949
I tried running the command after openning a shell into a failed pod, seems like the `bootstrap.pb` configuration file for cilium-envoy does not exist:
[code]
Out of curiosity I checked the only non-failing node and it seems like the file is present, which would explain why even after rebooting the port is opened on the ndoes (also we can see the socket was successfully opened):
[code]

I suppose

[2022-07-05 08:36] #19260 closed

[2022-07-05 09:25] borkmann commented on #20382
@ysksuzuki we recently changed some of the logic related to it in https://github.com/cilium/cilium/pull/19800 . You could probably lower the default `bpf-ct-timeout-service-tcp-grace` ... but I kind of agree that for terminating backends it should drain.

[2022-07-05 09:35] krumstein commented on #19929
@aanm do you have ideas? Thanks!

[2022-07-05 10:49] maintainer-s-little-helper[bot] opened #20393 "CI: K8sServicesTest Checks service across nodes Tests NodePort BPF Tests with secondary NodePort device"
**This was observed for 1.10 backports.**

### Test Name
[code]

### Failure Output
[code]

### Stacktrace
<details><summary>Click to show.</summary>

[code]
</details>

### Standard Output
<details><summary>Click to show.</summary>

[code]
</details>

### Standard Error
<details><summary>Click to show.</summary>

[code]
</details>

ZIP Links:
[284f694b_K8sServicesTest_Checks_service_across_nodes_

[2022-07-05 10:58] hoozgomk opened #20394 "How to emulate network failures (chaos testing) on clusters with cilium/eBPF"
Hello,

Could you please provide me the information about the available tools for emulating network failures on Cilium/eBPF based Service Mesh solutions?
Previously I used Chaos Mesh https://chaos-mesh.org/ but emulating network-related issues (packet delay or loss) doesn't work.
I suppose Chaos Mesh simulates network issues by manipulating with /etc/hosts, while Cilium bypasses it.

I tested http

[2022-07-05 11:15] aanm commented on #20390
@intel-wenbin can you provide with a sysdump?

[2022-07-05 12:26] sayboras commented on #17949
the bootstrap.pb is auto-generated if [StartEnvoy](https://github.com/cilium/cilium/blob/master/pkg/envoy/envoy.go#L164) function is called, so somehow in your broken node, this code path is not executed at all.

Can you share cilium sysdump ?

[2022-07-05 12:36] raphink commented on #20375
I've tested the two Kind guides. They both worked fine.

Just a note on the HTTP policy guide though.

We are instructed to install with the Quick Installation, which in the case of Kind creates a cluster with 4 nodes. Then we get:
[code]

From this:
1. It is not very clear that the goal of the first command is to find the name of the Cilium pod
2. In the case a Kind, there are 4 Cilium pods, and

[2022-07-05 12:45] dylandreimerink commented on #20375
I have tested the AKS BYOCNI guide, which works. Waiting for the clusters to come up takes the most time, even so ~15-20 min.

Currently working on the clustermesh guide, which is going less smoothly, will leave an additional comment as soon as I have figured out what is going wrong and how to improve the guide.

[2022-07-05 13:59] nbusseneau opened #20397 "upgrade Cilium CLI to `v0.11.11`"
We need to release `v0.11.11` of the Cilium CLI before v1.12 proper release for AKS BYOCNI to work as intended with v1.12 charts (full details at https://github.com/cilium/cilium-cli/pull/953), and then bump the version in CI workflows so we can re-enable the AKS workflow for `master`.

This issue is just there to have a visible issue with the `release-blocker` label on the main repo.

[2022-07-05 14:06] ti-mo opened #20398 "CNI `DEL`s coming in while CNI `ADD` is being handled by Cilium"
While working on https://github.com/cilium/cilium/pull/19159, I've seen **many** (>20) CI runs fail with `JoinEP: Failed to attach ...` errors. This anecdotally happens most often on kernels 4.x, and is delaying the merge of the long-pending #19159.

Jenkins URL: https://jenkins.cilium.io/job/Cilium-PR-K8s-1.23-kernel-4.19/144/ (Sysdump zip: [320d1f54_K8sDatapathConfig_Host_firewall_With_VXLAN.zip

[2022-07-05 14:19] joestringer commented on #20068
Hi @zhanghe9702 I'm not sure what you mean by `reason code < dropMin`, but yes the idea would be to export this metric up through the Cilium metrics API (prometheus) so that the user can use rate()/irate() against these metrics. Probably this means it makes sense for the counters to be monotonically increasing. I'm not sure if it needs to be two counters for ipv4/ipv6 or just to label the ipv4/ipv

[2022-07-05 14:24] joestringer commented on #19437
Sure, no problem. Right now if you follow the overall [L7 protocol visibility](https://docs.cilium.io/en/stable/policy/visibility/#layer-7-protocol-visibility) steps, you will not see the output that is demonstrated in that troubleshooting section. There should be a step where the user enables the helm version of the `endpoint-status` flag to ensure that the output will match the troubleshooting s

[2022-07-05 15:41] chancez commented on #20354
Not really. For the most part, the dashboard JSON is backwards compatible, and not really tied too specifically to any particular Grafana version. Dashboards written for Grafana 6 still work for Grafana 9, mostly.

The only caveat is that in more recent versions of Grafana, they have introduced newer panel types that do not exist in older Grafana versions, and they have deprecated 1-2 panel types

[2022-07-05 16:04] #20173 closed

[2022-07-05 18:46] chancez commented on #20375
I tested the K3s install and the rancher-desktop install, everything went smoothly and quickly.

However, while testing the L7-Aware Traffic Management I ran into an issue which I wasn't clear on how to proceed:

so in our GSG we use cilium CLI, but in https://docs.cilium.io/en/v1.12.0-rc3/gettingstarted/servicemesh/l7-traffic-management/#installation, we’re upgrading via helm. Now I did expect th

[2022-07-06 01:53] intel-wenbin commented on #20390
@aanm
The problem is that the cilium pod keeps crashing , i am not able to access to get the sysdump log .
We still have some nodes running with linux kernel 5.4 and cilium pod is running fine . Is it okay to get the sysdum log from a good node ?

[2022-07-06 02:12] a2659802 commented on #17647
Same Problem in Debian10(kernel version 4.19.20 and 4.19.235)

I install cilium with `cilium-cli install` in 4.19.20 and then get error logs like this:
[code]

I try to compile kernel 4.19.235 with required options,
[code]

but not still get the same wrong. Finally I upgrade a node (i have two node in cluster ) to **5.10.120** and fix this issue.

Here is my currently enviroment

**Cilium Version*

[2022-07-06 06:27] mvink-guida commented on #20381
Ok good news, then i have to wait for the 12.x release, since it is there but only in the 12.x Release candidates.

https://github.com/cilium/cilium/tree/v1.11.6/install/kubernetes/cilium/templates/cilium-operator

Thanks

[2022-07-06 07:40] ysksuzuki commented on #20382
@aditighag @borkmann Thank you for your comment!

Yes, #19451 can resolve our case. Cilium selects a new backend if the ct_service entry is closing and CT_SERVICE_CLOSE_REBALANCE(30) seconds have passed since the last tx, correct?

We are using v1.11.6, and this PR seems not to be backported to v1.11. So I will apply the patch to v1.11.6 and see if this problem can be fixed in our environment.

[2022-07-06 09:05] brb commented on #20382
Yes. Just keep in mind that a delayed packet from the previous connection which 5-tuple matches the new connection might be accepted by the new connection (it's one of the reasons why the TIME_WAIT state exists in TCP; see https://vincent.bernat.ch/en/blog/2014-tcp-time-wait-state-linux#purpose).

If we set the grace period T > 0, then during the T the same backend will be used. This might lead to

[2022-07-06 09:20] brb commented on #20393
The test failure doesn't seem to have anything to do with the secondary netdev. The failure is in the pod2pod connectivity. In any case, the test suite has been heavily refactored on >= v1.11 (AFAIK I haven't seen such failures), so it might not make sense to do a deep investigation.

[2022-07-06 09:40] aanm commented on #20390
@intel-wenbin can you provide the full log of a crashing pod? Thank you

[2022-07-06 10:14] intel-wenbin commented on #20390
Defaulted container "cilium-agent" out of: cilium-agent, clean-cilium-state (init)
level=info msg="Started gops server" address="127.0.0.1:9890" subsys=daemon
level=info msg="Memory available for map entries (0.003% of 540682129408B): 1351705323B" subsys=config
level=info msg="option bpf-ct-global-tcp-max set by dynamic sizing to 4742825" subsys=config
level=info msg="option bpf-ct-global-any-max

[2022-07-06 14:56] serlophug opened #20411 "Error instaling Cilium: RTNETLINK answers: Operation not supported"
Hi everyone, I'm trying to install cilium in a K8s cluster version 1.24.2 with Ubuntu 22.04 with the kernel 5.15.0-1012-kvm:The error "RTNETLINK answers: Operation not supported". Thanks in advance.

I attached the logs of the Cilium agent and the cilium operator.
[cilium-agent.log](https://github.com/cilium/cilium/files/9055876/cilium-agent.log)
[cilium-operator.log](https://github.com/cilium/cil

[2022-07-06 23:53] chancez commented on #20375
I've tested L7 docs and examples. I opened a PR here to resolve one issue: https://github.com/cilium/cilium/pull/20417

I also hit another issue, relating back to cilium cli, where port-forwarding to cilium's hubble port does not work, which is used in the  L7 LoadBalancing example. I worked around that by just running the hubble commands inside the cilium pod.

The other issue, also with the L7 L

[2022-07-07 02:15] #19386 closed

[2022-07-07 02:15] #19364 closed

[2022-07-07 02:15] #18977 closed

[2022-07-07 02:15] #18976 closed

[2022-07-07 02:15] #18883 closed

[2022-07-07 02:15] #18861 closed

[2022-07-07 02:15] #18833 closed

[2022-07-07 02:16] #18641 closed

[2022-07-07 02:16] #18437 closed

[2022-07-07 02:16] #18435 closed

[2022-07-07 02:16] #18394 closed

[2022-07-07 02:16] #18381 closed

[2022-07-07 02:16] #18377 closed

[2022-07-07 02:16] #18374 closed

[2022-07-07 02:16] #18373 closed

[2022-07-07 04:15] sayboras commented on #20375
The echo-other-node is only applicable for multicluster or multi node cluster, can you try again with multi node cluster ?

[2022-07-07 07:17] polarroyo opened #20418 "Loadbalancer service egress connection via DSR breaks when rollout restart of pods."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

When targets of a LoadBalancer service with DSR enabled are rollout restarted, as soon as the pod is removed from the service endpoint list, egress connectivity of the Pod stops working.

Expectation:
The pod should have egress connectivity till the pod is completely terminated. This is the def

[2022-07-07 08:16] polarroyo opened #20419 "host firewall breaks pod to pod cross node connectivity without any security policies deployed"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

We are using native routing datapath in conjunction with kube-router.

When firewall host is not enabled, cilium connectivity test work without any problem.

When we enable firewall host, pod to pod cross node communication stops working.

### Cilium Version

v1.11.3-62aa82d

### Kernel Version

[2022-07-07 08:44] #18386 closed

[2022-07-07 08:44] #18447 closed

[2022-07-07 09:13] andrejvanderzee commented on #20243
So after a rollout restart we see the following in the `cilium-agent` logs:

[code]

So the logs claim that it updated the identity for our `prometheus` endpoint running on `172.28.123.78`. All looks as expected.

BUT, when I dig into the IP cache I see `remote-node` for the endpoint:

[code]

Something is definitely not OK here. For us it is very easy to reproduce.

[2022-07-07 09:25] dylandreimerink commented on #20375
So for the clustermesh guide I used AKS+BYOCNI clusters. But it turns out that if you follow the quick start guide for creating these clusters, you get clusters that use internal non-routable CIDR ranges for both the nodes and services (10.244.0.0/24).

So if you then follow the clustermesh guide, all is well, until you run the connectivity test which fails to reach the other cluster.
All installa

[2022-07-07 09:28] dylandreimerink commented on #20375
Another thing is that the v1.12-RC3 docs don't include the [Service affinity](https://docs.cilium.io/en/v1.12.0-rc3/gettingstarted/clustermesh/affinity/) guide. The link returns 404 and the doesn't appear in the menu. This page only exist on the "latest" version of the docs https://docs.cilium.io/en/latest/gettingstarted/clustermesh/affinity/

[2022-07-07 09:32] brb commented on #20418
Have you enabled https://docs.cilium.io/en/stable/gettingstarted/kubeproxy-free/#graceful-termination?

[2022-07-07 09:51] andrejvanderzee commented on #20243
In the above, when I restart the `prometheus` POD it gets a new IP. This will update all IP cache on all cilium instances:

[code]

In conclusion, it looks like after a rolling restart of `cilium`, _existing_ remote endpoints are mapped to `remote-node`, while _newly_ scheduled POD IPs are correctly mapped to the identity.

[2022-07-07 11:20] polarroyo commented on #20418
Hello, thanks for pointing to that documentation!

I have enabled feature gate: EndpointSliceTerminatingCondition in the cluster, restarted cilium, confirmed that Graceful Termination is enabled, but we still see the same behavior.The pod can not send the

[2022-07-07 12:47] tnorlin opened #20427 "Ingress: Persistent Envoy filters"
There are some cases where the standard Envoy filters are not enough, and I encountered such a case when I wanted to implement Home Assistant (https://github.com/home-assistant/core) in my cluster when there is a need to enable Websockets.

Due to implementation of CiliumEnvoyConfig it is possible to enable other filters (such as enabling Websocket) within the HttpConnectionManager like this:

Thi

[2022-07-07 13:18] kks427 commented on #19279
I see the same issue in cilium-1.11.6 . After upgrade, It certainly takes few days for failure with these errors.

level=error msg="Failed to add PolicyMap key" bpfMapKey="{42804 8180 6 0}" containerID= datapathPolicyRevision=291 desiredPolicyRevision=277 endpointID=1538 error="Unable to update element for cilium_policy_01538 map with file descriptor 263: the map is full, please consider resizing

[2022-07-07 14:40] #19784 closed

[2022-07-07 14:56] #20397 closed

[2022-07-07 15:25] wu0407 opened #20431 "ipam metrics: subnet_id label value is empty in cilium_operator_ipam_allocation_ops and cilium_operator_ipam_interface_creation_ops in create eni"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

1.  The `subnet_id` label  value is empty in `cilium_operator_ipam_allocation_ops` and `cilium_operator_ipam_interface_creation_ops`
2.  It happen on  node need more ip and all eni ip is in used, need create new eni.  It happen on aws eni and alibaba eni.
3.  The relate code.  Becuas no eni is

[2022-07-07 18:49] christarazi commented on #20243
@andrejvanderzee Can you provide the exact repro steps? I've not been able to reproduce. Simply restarting Cilium doesn't trigger this behavior for me. Are you rebooting the nodes?

[2022-07-07 20:53] pippolo84 opened #20432 "Egress Gateway not working on GKE"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

Following [this guide](https://docs.cilium.io/en/v1.12.0-rc3/gettingstarted/k8s-install-default/) I created a GKE test cluster, then installed Cilium v1.12.0-rc3 on it via Helm:

[code]

To test the Egress Gateway feature, I started a GCE VM outside of the cluster, where I installed the `nginx`

[2022-07-07 21:25] pippolo84 commented on #20375
I tested the Egress Gateway feature on GKE.
Unfortunately, the feature seems to be broken, so I opened an issue: https://github.com/cilium/cilium/issues/20432

Some other things that can be improved in the documentation:

- This guide suggests to use `helm upgrade` to deploy the new CIlium version. Just like @chancez reported, to do that, Cilium must have been first installed via helm, so it is wo

[2022-07-08 02:15] #19551 closed

[2022-07-08 02:15] #18956 closed

[2022-07-08 02:15] #18917 closed

[2022-07-08 02:15] #18916 closed

[2022-07-08 02:16] #18331 closed

[2022-07-08 02:16] #18320 closed

[2022-07-08 02:16] #18298 closed

[2022-07-08 02:16] #18287 closed

[2022-07-08 02:16] #18286 closed

[2022-07-08 05:13] brb commented on #17848
@julianwiedmann @jibi Have we already fixed this?

[2022-07-08 05:27] tommyp1ckles opened #20434 "Kube Proxy Replacement GSG Guide connectivity issues on GCP: Cilium not recognized as CNI"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

Running through the guide for creating a cluster with [Cilium kube-proxy](https://docs.cilium.io/en/v1.12.0-rc3/gettingstarted/kubeproxy-free/#kubeproxy-free) replacement using kubeadm, I was able to create a cluster with kube proxy replacement with all cilium status fields reporting that it wa

[2022-07-08 05:33] tommyp1ckles commented on #20375
Mostly complete the kube-proxy getting started guide. Here are my findings:

1. Struggled to get a functioning cluster with kubeadm initially, was trying to create one with containerd as the cri but was getting hard to troubleshoot crashing issues. _Not really related to this guide_, but worth noting since I only resolved this by switching to using docker+cri-dockerd. We might want to consider mak

[2022-07-08 05:36] GabMgt commented on #18256
Hey, sadly I still have this issue even with the recent versions of cilium.

[2022-07-08 06:01] avdhoot opened #20435 "CFP: Add DestinationFQDNs in CiliumEgressNATPolicy"
## Cilium Feature Proposal

**Is your feature request related to a problem?**

NA

**Describe the feature you'd like**

Currently, in `CiliumEgressNATPolicy` we can specify `DestinationCIDRs`. Can we also add `ToFQDN` like newtworkpolicy i.e `DestinationFQDNs`

This will allow users to pass outbound traffic for specefic domains/fqdns/host through nat. Also please do not make it as part enterprise

[2022-07-08 07:19] andrejvanderzee commented on #20243
@christarazi We can _easily_ reproduce it (without fail) by a rolling restart of Cilium on a fresh EKS cluster (we are not rebooting nodes). The fact that you cannot reproduce it is most likely caused by the tons of Cilium options.

As described in more detail above, it is pretty clear that Cilium is not behaving properly in our setup: After a Cilium rolling restart (`kubectl rollout restart ds ci

[2022-07-08 07:52] dmitry-sinina opened #20436 "Routing loop for traffic to Service External IP not matched with Service port"
### Is there an existing issue for this?

- [x] I have searched the existing issues

### What happened?

I am announcing service External IP over BGP to upstream routers(using MetalLb) but cilium doesn't install blackhole routes for such ranges. It causes routing loop for traffic not destined to service port.
for example:
[code]
Traffic to service port delivered correctly:
[code]

Any other traffi

[2022-07-08 07:52] jibi commented on #17848
Not yet, we still let the packet in the egress gateway node to go through the stack at the moment

[2022-07-08 08:02] willie-lin commented on #20125
I have this problem with Calicao v3.23.2, coredns does not start properly, podnetwork does not work properly, internal cluster network does not resolve with external dns, I suspect that ubuntu 22.04 kernel version is too high causing system incompatibility.
[code]

[2022-07-08 08:21] dbrownecu opened #20437 "controller cilium-health-ep failing context deadline exceeded"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

cilium health check is failing on a baremetal system. Per https://github.com/cilium/cilium/issues/18711  ipam.operator.clusterPoolIPv4PodCIDRList and k8sServiceHost are set to match respective kubeadmin init variables.  The results are unexpected.

<pre><font color="#26A269"><b>vagrant@primo</b

[2022-07-08 08:43] #18107 closed

[2022-07-08 10:34] m-yosefpor commented on #18081
after switching from host Legacy routing to native BPF, the issue resolved.

[2022-07-08 10:34] #18081 closed

[2022-07-08 11:03] #20079 closed

[2022-07-08 11:41] borkmann commented on #20434
(@tommyp1ckles would need some more info that would be helpful for debugging, but we can also sync via slack.)

[2022-07-08 11:42] borkmann commented on #18042
@bazuchan @hwaastad Do you see this issue also/still in latest 1.12-rc release?

[2022-07-08 12:45] jibi commented on #20432
I run a quick test and on the `eth0` interface on the node with the `egress-node: test` I see:
* traffic being correctly masqueraded with the IP of the node (`10.186.15.217`)
* reply traffic from the remote web server
* reply traffic being rev-SNATed with the pod IP (`10.100.2.71`)

[code]

So I moved to the vxlan device (on the gateway node) to check if we are correctly forwarding rev-SNATed back

[2022-07-08 13:04] bazuchan commented on #18042
1.12.0-rc3 issue is still there

[2022-07-08 13:09] andrejvanderzee commented on #20243
Note that when I add a new node to the cluster it has the expected IP cache. But when I restart Cilium
on existing nodes remote identities are all replaced with `remote-node` in the IP cache.

[2022-07-08 14:04] dylandreimerink commented on #20375
I go AKS(BYOCNI) + Clustermesh working, but it involved some additional configuration work. I explained the process in a dedecated AKS-to-AKS clustermesh guide #20439

[2022-07-08 15:08] dylandreimerink commented on #20375
Tested service affinity using the docs on 'latest'. That all seems to work except for one small thing in the example commands which I updated in #20442.

Also took a look at hubble UI. That looks as expected. When service affinity is local only the local flows show up, when service affinity is remote the flows to the remote endpoint show up, with no affinity set both show up.

[2022-07-08 15:41] maintainer-s-little-helper[bot] opened #20445 "CI: K8sUpdates Tests upgrade and downgrade from a Cilium stable image to master"
### Test Name
[code]

### Failure Output
[code]

### Stacktrace
<details><summary>Click to show.</summary>

[code]
</details>

### Standard Output
<details><summary>Click to show.</summary>

[code]
</details>

### Standard Error
<details><summary>Click to show.</summary>

[code]
</details>

ZIP Links:
<details><summary>Click to show.</summary>

 https://jenkins.cilium.io/job/Cilium-PR-K8s-GKE//887

[2022-07-08 17:12] polarroyo commented on #20419
By default kube-router uses ipip encapsulation and as mentioned on https://github.com/cilium/cilium/issues/18347#issuecomment-1010198061

[2022-07-08 18:25] Kikiodazie commented on #19437
Thanks for this @joestringer. Will get right on it and let you know if I need more help.

Sorry for the late reply, was caught up with other stuff.

[2022-07-08 21:46] #20299 closed

[2022-07-08 21:47] #18520 closed

[2022-07-09 02:14] #18913 closed

[2022-07-09 02:14] #18912 closed

[2022-07-09 02:15] #17588 closed

[2022-07-09 04:21] dghubble commented on #14287
Pretty sure this conformance test will still fail with Kubernetes v1.24.2

[2022-07-09 05:29] olemarkus commented on #16308
This is still an issue.

[2022-07-09 05:45] Robert-Stam commented on #16681
Any feedback?

[2022-07-09 07:51] borkmann commented on #14287
(There is wip by Anton who is looking into it.)

[2022-07-09 07:56] sayboras commented on #20381
Related PR https://github.com/cilium/cilium/pull/18317.

[2022-07-09 07:58] sayboras commented on #20381
Closed this github issue as there is no action pending.

If you think it's critical for 1.11 branch, please highlight either here or cilium slack channel.

[2022-07-09 07:58] #20381 closed

[2022-07-09 08:01] sayboras commented on #20055
I have added comments in related PR.

For the issue with identity as world, it's related to https://github.com/cilium/cilium/issues/16308

[2022-07-09 10:26] #6728 closed

[2022-07-09 10:27] #11560 closed

[2022-07-09 10:28] #13552 closed

[2022-07-09 10:32] #16699 closed

[2022-07-09 10:33] #16999 closed

[2022-07-09 10:33] #16964 closed

[2022-07-09 10:33] #16392 closed

[2022-07-09 10:33] #16873 closed

[2022-07-09 10:35] #17111 closed

[2022-07-09 10:36] pchaigno commented on #17111
The last reports were on now-old Cilium versions, so we probably fixed this along the way and forgot to close this issue.

[2022-07-09 10:37] #17261 closed

[2022-07-09 10:38] #17282 closed

[2022-07-09 10:42] #17062 closed

[2022-07-09 10:58] #17317 closed

[2022-07-09 10:58] #17337 closed

[2022-07-09 13:00] pchaigno opened #20450 "bugtool: Flag to avoid including object files for each endpoint"
Our sysdumps are starting to be pretty big even for small clusters (e.g., >25MB for 2 nodes in CI). That can be annoying because it limits options to upload sysdumps (e.g., GitHub has a 25MB limit).

In those sysdumps, we keep two object files (`template.o` & `bpf_lxc.o`) per endpoint, in the per-node bugtool reports. They account for a large part of the final compressed sysdump because they are a

[2022-07-09 16:19] #17466 closed

[2022-07-09 21:09] maxpain commented on #18706
The same problem on Ubuntu 22.04.

[2022-07-10 00:56] #17050 closed

[2022-07-10 09:29] pchaigno commented on #14728
@borkmann Should we fatal in that config. then?

[2022-07-10 12:14] d-sanchez-g opened #20452 "Cilium installation failure in Windows 10, minikube version: v1.26.0"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

I'm trying to install Cilium in Windows 10 with these configuration:

* minikube version: v1.26.0
* Kubectl version:

[code]

* Cilium version:
[code]

When I do
[code]
And then download the latest Cilium version:
[code]
And then install Cilium:
[code]
this error appears
[code]

If I try to do

[2022-07-10 12:34] d-sanchez-g commented on #20452
Finally I could launch it like this:
[code]

[2022-07-10 12:34] #20452 closed

[2022-07-11 02:15] #19603 closed

[2022-07-11 02:15] #19581 closed

[2022-07-11 02:16] #19572 closed

[2022-07-11 05:45] huchen2021 opened #20454 "bpf xdf not works through docker bridge"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

Does bpf_redirect work in docker?
I have 3 dockers, client, elb and e2e-cluster-control-plane.

- In docker elb , it has 2 nics, eth0 and eth1.
- In docker e2e-cluster-control-plane, it has 1 nic, eth0
- In docker client, it has 1 nic, eth0.

I have two docker networks, innet and kind,  as foll

[2022-07-11 07:26] brb commented on #17955
This is going to be resolved by https://github.com/cilium/cilium/pull/14436.

[2022-07-11 07:44] brb commented on #14728
Hmm, I was able to run the DSR on AWS (e.g., https://github.com/brb/cilium-without-netfilter).

[2022-07-11 08:08] brb commented on #20436
@dmitry-sinina It's an expected behavior, please see https://github.com/cilium/cilium/issues/14176 for the explanation why it happens, and how to remediate it.

[2022-07-11 08:17] ti-mo commented on #20375
I set up a single-node RKE deployment. No issues encountered during installation.
`toEntities: - kube-apiserver` works, but not in combination with e.g. a `toPorts` clause. I assume that is a known limitation.

However, it doesn't seem like L7 proxying works on RKE:

[code]

All connectivity tests involving L7 proxying (both DNS and HTTP) are failing consistently on RKE.

[2022-07-11 08:25] brb commented on #18081
@m-yosefpor Thanks for the update. I think what was happening in your case that some iptables rule was getting into the SNAT-ed reply's way. The BPF host routing should make the reply to bypass the iptables rules.

[2022-07-11 08:27] brb commented on #20454
Please see https://github.com/cilium/cilium/blob/master/test/l4lb/test.sh#L14. Closing this issue, as it's not related to Cilium.

[2022-07-11 08:27] #20454 closed

[2022-07-11 08:40] gandro commented on #15949
Option 1 has been implemented as part of #18887 and will be shipped with the v1.12 release as a beta feature. Please feel free to try it out and provide feedback.

[2022-07-11 08:47] pchaigno commented on #17210
The host firewall tests don't install any routes in addition to those normally installed by the Cilium agent (and not specific to the host firewall). So we don't have enough information (e.g., test artifacts) to investigate this. Closing.

[2022-07-11 08:47] #17210 closed

[2022-07-11 09:00] dmitry-sinina commented on #20436
https://github.com/cilium/cilium/issues/14118

[2022-07-11 09:04] gandro opened #20457 "CI: CIFuzz / Fuzzing: fuzz_parser_decode - nil pointer dereference in Hubble decodeNetworkInterface"
## CI failure

Observed in https://github.com/cilium/cilium/runs/7253767533?check_suite_focus=true

[code]

[artifacts.zip](https://github.com/cilium/cilium/files/9082458/artifacts.zip)

[2022-07-11 09:18] gandro commented on #20457
The tests were added recently https://github.com/cncf/cncf-fuzzing/tree/main/projects/cilium

[2022-07-11 09:21] aanm commented on #17949
@DreamyProtect @thomaspeitz @pabclsn @mKeRix As pointed out [here](https://github.com/cilium/cilium/issues/17949#issuecomment-1172085215) the envoy proxy is only started once a L7 policy is deployed in the agent. Thus, the metric will only be available if a L7 policy is deployed in the cluster.

[2022-07-11 09:22] gandro commented on #20457
I'm late to the party, will be fixed by https://github.com/cilium/cilium/pull/20446

[2022-07-11 09:22] #20457 closed

[2022-07-11 09:33] floriandorau opened #20459 "Identity propagation might not working"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

I’m trying to get Cilium running on one of our AKS clusters.  The Cilium installation seems to be fine. Status looks good.

[code]

But I realised a problem with one of our pods where its identity is not created/propagated properly. It only get access to pods that are scheduled to same node. Ac

[2022-07-11 10:17] jibi commented on #20432
OK, seems like it was just a misconfiguration (for example `enable-endpoint-routes` was set to false, even though it should be enabled in GKE).

I reinstalled Cilium from Helm:
[code]

Enabled egress gateway:
[code]

rolled the agents and operators:
[code]

Maps are properly set on the gateway node:
[code]

Request from the client pod does not timeout anymore:
[code]

and tcpdump shows that traffi

[2022-07-11 10:17] #20432 closed

[2022-07-11 12:25] djcass44 commented on #17290
Apologies for the *long* delay, but after dogfooding it for a while on multiple clusters I can confirm that ensuring that Argo doesn't interfere with Cilium (#17349 as @aanm mentioned) has resolved all the issues I faced.

[2022-07-11 12:25] #17290 closed

[2022-07-11 13:45] #16879 closed

[2022-07-11 14:20] travisghansen commented on #14118
Is metallb strictly necessary? Can’t we just detect it’s a LB ip and base the logic on that?

As for the end result I agree that dropping the packet seems the appropriate thing to do (and would love to see this implemented)!

[2022-07-11 15:17] mKeRix commented on #17878
Still interested in this feature!

[2022-07-11 15:19] sayboras commented on #20375
seems like we missed @raphink in assignee before.

[2022-07-11 15:38] joestringer commented on #16208
For anyone else who finds this issue, I would suggest that if you're building on osx, use the docker build targets (eg `make dev-docker-image`).

[2022-07-11 16:15] #15966 closed

[2022-07-11 19:07] thejosephstevens commented on #20258
Here's one (it's happening on every node constantly). Unfortunately that hasn't produced a fix, we're really familiar with the issues of unmanaged workloads, so our first attempt at a fix was restarting the pods that were having issues, but the issue blockingf CEP update has proved to be completely stable. We just got back from a company break so I'm restarting work on this today. My first debug s