[2021-06-15 23:37] vincentmli commented on #16503
close it, duplicate of https://github.com/cilium/cilium/issues/16517

[2021-06-15 23:37] #16503 closed

[2021-06-15 23:41] vincentmli commented on #16032
no need for this due to https://github.com/cilium/cilium/issues/16517

[2021-06-15 23:41] #16032 closed

[2021-06-16 06:20] TicktW opened #16549 "document error with "create-loadbalancer-and-backend-pods""
## Bug report

https://docs.cilium.io/en/v1.10/gettingstarted/bgp/#create-loadbalancer-and-backend-pods

apiVersion: v1
kind: Service
metadata:
  name: test-lb
spec:
  type: LoadBalancer
  ports:
  - port: 80
    targetPort: 80
    protocol: TCP
    name: http
  selector:
    svc: test-lb
---
apiVersion: apps/v1
kind: Deployment
metadata:
  app: nginx
spec:
  selector:
    matchLabels:
      svc:

[2021-06-16 06:32] ybialik commented on #16038
I will open a new issue with all the data

[2021-06-16 06:32] #16038 closed

[2021-06-16 07:57] ybialik opened #16550 "During deployment upgrade with high max surge, some pods are stuck in ContainerCreating state"
## Bug report

**General Information**

- Cilium version (run `cilium version`)
# cilium version
Client: 1.9.8 3fcfff7 2021-05-28T02:03:28+02:00 go version go1.15.12 linux/amd64
Daemon: 1.9.8 3fcfff7 2021-05-28T02:03:28+02:00 go version go1.15.12 linux/amd64

- Kernel version (run `uname -a`)
[code]
- Orchestration system version in use (e.g. `kubectl version`, ...)
[code]
- Link to relevant artif

[2021-06-16 08:18] pchaigno commented on #16550
I'm seeing the following error a lot in logs. Not sure yet what could cause this.
[code]

Any chance you could share such a deployment?

[2021-06-16 08:34] knfoo commented on #16375
So the problem remains the same, the Cilium API becomes unresponsive no matter if I run with or without the `kubeProxyReplacement`

[2021-06-16 08:44] ybialik commented on #16550
sure,some values were changed to placeholders.
the deployment is using the commonChart as a library chart.
[tempcase.zip](https://github.com/cilium/cilium/files/6661591/tempcase.zip)

[2021-06-16 08:53] brb commented on #16518
Maybe you could enable debug mode (`--set debug.enabled=true` or just `debug: true` in the ConfigMap), restart cilium-agent, do the deployment, take a timestamp and then provide cilium-agent logs around that time?

[2021-06-16 08:55] gandro opened #16551 "CI: `go: RLock /cilium/go.mod: no locks available` (e.g. K8sVerifier Runs the kernel verifier against Cilium's BPF datapath)"
## CI failure

Various `make` commands in CI are failing due to an NFS error: `go: RLock /cilium/go.mod: no locks available`.

For example:
[code]

This can also happen during provisioning, e.g. here:
https://jenkins.cilium.io/job/Cilium-PR-Runtime-4.9/4989/console
[code]

Observed on v1.8, v1.10 and master branch so far. Likely unrelated to a specific code change, as I have observed this on PRs e

[2021-06-16 08:56] brb commented on #16275
I think your setup might be very similar to the one mentioned in https://github.com/cilium/cilium/issues/16539 (cc @Frankkkkk).

[2021-06-16 09:00] splushii opened #16552 "Helm template with serviceMonitor enabled fails"
## Bug report

**General Information**

- Cilium version: 1.10.0

Using `helm template` with `serviceMonitor` enabled fails due to the validation logic at https://github.com/cilium/cilium/blob/v1.10.0/install/kubernetes/cilium/templates/validate.yaml#L15.

The way I understand it, `helm install ...` and `helm upgrade ...` works as they speak with the k8s control plane and can check if the CRD is p

[2021-06-16 09:19] Frankkkkk commented on #16275
Disclaimer: My setup is only IPv6 without NAT. It works quite well however indeed the biggest "trick" is to remove the kernel route of the IPs to `lo` (so that the route to `cililum_host` is used instead). Without it the Node IPs will ping (cause it reaches the host), but not the services.
Also, contrary to your setup, we add < /128 (I think /110 or something like that) IPs to `lo`. This was a tec

[2021-06-16 09:20] kkourt commented on #16375
:wave:

So the `curl` commands that get a "Connection Refused" are executed on node `10.62.64.20`? (which, based on the logs is node `bb4069`).

[2021-06-16 09:57] knfoo commented on #16375
@kkourt :wave:
I am running the `curl` command on `bb4070`

The cluster node ip's are 10.62.64.20..5

`while true; do for I in {0..5}; do  curl http://10.62.64.2$I:9095 -i; done; sleep 1; reset;  done`

when the Cilium API is available and I can schedule pods on all nodes the reply back from Cilium is `Connection Refused`

when the Cilium API becomes unavailable the reply from the `curl` command i

[2021-06-16 11:14] oblazek opened #16555 "Proper ICMPv6 handling for enable-endpoint-routes"
## Proposal / RFE

**Is your feature request related to a problem?**
Yes, currently neighbor solicitations messages (`ICMP6_NS_MSG_TYPE`) exiting an endpoint have to have dstIP of router or other endpoint in the `ENDPOINTS_MAP`.  See https://github.com/cilium/cilium/blob/master/bpf/lib/icmp6.h#L383 or https://github.com/cilium/cilium/blob/master/bpf/lib/icmp6.h#L389.

When enable-endpoint-routes i

[2021-06-16 11:56] #16526 closed

[2021-06-16 12:11] kkourt commented on #16375
We had a closer look on the logs with @gandro.

One thing we would like to note is that the 9095 port is not the cilium agent API port. It is a port that is used by envoy to serve  Prometheus metrics. Envoy is started when a L7 policy is imported.

For example, in the `cilium-4dnrn-cilium-agent-20210615-154347.log`, the following log entry:

[code]

is followed by Envoy start to listen on this por

[2021-06-16 13:08] gandro commented on #12756
Hit in https://github.com/cilium/cilium/pull/16554

[2021-06-16 15:43] brb opened #16561 "bpf: cilium-map-migrate might unpin in-use tailcall map"
After adding a new taill call to e.g. `CILIUM_MAP_CALL` (as it's been done in https://github.com/cilium/cilium/pull/14138/files) and then upgrading Cilium, there will be a small window when packets will be dropped due to `DROP_MISSED_TAIL_CALL`.

When we load e.g. bpf_host on a native device (e.g. eth0), the following is executed by the cilium-agent:
[code]

Because BPF maps of the `BPF_MAP_TYPE_P

[2021-06-16 15:56] knfoo commented on #16375
Sorry about the confusion about the Cilium API port.
I just assumed that it was it as:
[code]
current install parms:
[code]
I ran the delete ns and test sequence for 10 times. It seems that I cannot provoke the error anymore.
I am a little pussled by the result.

[code]
It is expected that the test will fail on 6 of the tests as the cluster does not have world access.

The 6 run I got this problem

[2021-06-16 16:05] gandro commented on #16375
If L7 proxy is causing the CNI ADD call to timeout, that is indeed interesting, thanks for the update, we'll continue to investigate that.

FWIW, you should be able to disable all `to-world` tests in the connectivity check as well:
[code]

[2021-06-16 17:03] Weil0ng opened #16565 "Reusing IP in the event of CEP propagation delay might result in inconsistent ipcache"
As we discussed in today's dev meeting, although we have not seen this yet, but the propagation delay of `CEP` might cause some complications if IP is reused. Summarizing below:

Consider the following event sequence:

- Pod A is created with IP `1.2.3.4` and security id 1234
- local agent creates and sync `CEP` with apiserver
- remote agents got `CEP` via watch
- remote agent propagates ipcache w

[2021-06-16 20:12] vincentmli opened #16571 "R1 invalid mem access 'inv'"
## Bug report
While attempting to rewrite ctx destination MAC in tunnel mode, the generated byte code fail to pass verifier and result in **_"R1 invalid mem access 'inv'"_**

the complete C code that has been changed is only in **_encap_and_redirect_lxc()_** as below, the diff is here https://github.com/cilium/cilium/issues/16517#issuecomment-861077716

It appears the code change below caused the

[2021-06-16 20:56] Antiarchitect commented on #16255
@aanm Upgrading 1.9.8 -> 1.10.1 solved the issue somehow. I'm sure all the configs were the same as for the 1.10.0

[2021-06-16 20:56] #16255 closed

[2021-06-16 23:32] knfoo commented on #16375
I reran the test 50 delete ns and `cilium connectivity test` they all passed so I guess that

was a glitch.

I ran the test with the kubeproxy replacement
[code]
I ran the test 50 delete ns and `cilium connectivity test` cycles and no errors.
I guess it confirms that it has to do with the L7 proxy.

[2021-06-16 23:34] aanm commented on #16565
Thanks for opening the GH issue.

I don't think Problem 2 is a problem since the `DELETE` would, or at least should, always be sent before a `CREATE`. @Weil0ng I think this should be a comment of https://github.com/cilium/cilium/issues/16302 since it's essential the same problem.

[2021-06-16 23:38] aanm commented on #16302
A potential solution could be to block the pod creation, because Cilium can do that since it sets up the networking of the pod, until the agent receives back the CEP CREATE event from k8s for the endpoint that it just created.

[2021-06-17 06:45] kkourt commented on #16375
Thank you for verifying this.

Next, I would like to understand the underlying error when the L7  proxy is enabled.

This [previous comment](https://github.com/cilium/cilium/issues/16375#issuecomment-861511845), for example, mentions that the pods failed to reach a ready state after the third attempt. Am I correct in that the above comment refers to the kubeproxy case? Are pods failing to reach a

[2021-06-17 08:08] #15350 closed

[2021-06-17 08:12] mysticaltech commented on #13955
@batistein Of course he did use that flag, as it's the only way to enable native routing!

[2021-06-17 08:15] jibi opened #16573 "CI: CI: RuntimePrivilegedUnitTests TestArpPingHandling failed, `n.HardwareAddr` mismatch"
[code]

This failed on https://github.com/cilium/cilium/pull/16497 (v1.8 backport PR). [Jenkins run](https://jenkins.cilium.io/job/Cilium-PR-Runtime-4.9/4978/) and [test results](https://github.com/cilium/cilium/files/6668514/test_results_Cilium-PR-Runtime-4.9_4978_BDD-Test-PR.zip).

Previous fix: https://github.com/cilium/cilium/issues/16221

[2021-06-17 08:23] brb commented on #16573
The underlying reason is the same as in https://github.com/cilium/cilium/issues/16075 (I'm on it). Closing this issue as duplicate.

[2021-06-17 08:23] #16573 closed

[2021-06-17 09:01] knfoo commented on #16375
Yes it is failing in both cases.

I am not really sure if the amount of tests has to do with the failing tests, it seems to differ between running with `kubeProxyReplacement=strict` and not but I am not really sure.

I will reenable the L7Proxy and run the tests again as you suggest.

[2021-06-17 11:11] knfoo commented on #16375
I ran the test as you suggested.
[code]

One strange thing, It does not seem that `cilium connectivity test` supports the the `--test-namespace` flag
[code]
So I am not really able to conduct the test that you are asking me to do.

[2021-06-17 11:48] kkourt commented on #16375
I see, thanks for trying all the different configurations.

Just to clarify the test still fails if there is a  `sleep 5m` before each run?

Indeed. Was not aware of this problem :(
There seems to be [PR out to solve it](https://github.com/cilium/cilium-cli/pull/330) but it's not merged yet.

Thanks for trying it out!

My understanding is that setting  'l7Proxy=true' causes failures beyond `pod-to

[2021-06-17 11:59] kkourt commented on #16375
I think we also determined that the Cilium API does not become unavailable. If that makes sense on your side, could you also update the issue title to something more appropriate? Thanks!

[2021-06-17 12:12] #16409 closed

[2021-06-17 12:12] #16549 closed

[2021-06-17 12:16] mantoine96 opened #16579 "Cannot create CiliumIdentity for ServiceAccount names longer than 63 chars"
## Bug report

I found this bug while trying out EMR on EKS on a Cilium-enabled EKS1.20 cluster.

When a service account's name is longer than 63 characters, it is not possible to start a pod using this service account.

Indeed, when creating the `CiliumIdentity`, Cilium will set a label `io.cilium.k8s.policy.serviceaccount` whose value will be the name of the service account for that pod. However

[2021-06-17 12:33] marty-buly commented on #16542
Hi, not sure if this is related, but we are seeing kind of similar behavior.

I have an AKS cluster (1.19.9) with 1 default pool of 5 worker nodes. Cilium is of 1.9.5 version and we are using Azure CNI. And we are seeing issues with communication of one particular pod to other pod. This issue cannot be replicated with exact steps, it just keep reappearing from time to time.

Pod, which has an issu

[2021-06-17 14:37] brb opened #16583 "datapath: Istio and Linkerd do not work with socket-LB"
This is a placeholder issue for https://github.com/cilium/cilium/pull/13882.

TLDR; the socket-LB based service translation happens before the Istio's iptables rule in the pod netns which makes the Envoy proxy to match on the VIP, as it matches on SO_ORIGINAL_DST.

[2021-06-17 15:09] alex-berger commented on #16583
**Linkerd**

Linkerd injects an [init container](https://github.com/linkerd/linkerd2-proxy-init) and a [proxy sidecar](https://github.com/linkerd/linkerd2-proxy) into meshed Pods. The `linkerd-init` container will setup some iptable rules to forward all traffic to the `linkerd-proxy`sidecar. Those iptables rules look like this:

[code]

[2021-06-17 15:59] okanaganrusty commented on #1797
Bump, @mestery @jrfastab.  I am just inquiring if there is any movement forward on this.

Thanks in advance.

[2021-06-17 18:28] joestringer commented on #16485
OK, thanks for checking.

My latest suspicion is just that the "Permission denied" is a quirky way of saying "there's already a BPF program attached so I can't attach this one". There's a related observation in #16259 where @aditighag noticed that the kernel returns `EPERM` (Permission denied) when there's already a BPF program attached at a cgroup hook point and then a second daemon attempts to a

[2021-06-17 19:20] jmcdonagh commented on #7805
/remove-lifecycle stale

[2021-06-17 22:12] Weil0ng commented on #16565
True, but AFAIK apiserver doesn't guarantee  ordering of delivering these events to listener, so remote node might still get `CREATE` before `DELETE`.

[2021-06-17 22:13] Weil0ng commented on #16302
Yea, but we need to be aware that there's a time limit in pod startup latency too, kubelet would kill it if it takes too long, I think the default is something like 240s.

[2021-06-17 22:36] asgarciap opened #16587 "vendor/miekg/dns directory is not synced with cilium/dns repo"
Why aren't the changes made to the [miekg/dns](https://github.com/cilium/cilium/commit/4eb97b91843981b999f39e4acebf59681571f91f#diff-82e6c3eba50ac56d30e63f9efa5a2f60a7365b3ccc83511ce38f425adcd52237) library in the vendor directory pushed into the [github.com/cilium/dns](https://github.com/cilium/dns) repo?

[2021-06-17 22:42] #15128 closed

[2021-06-18 02:01] joestringer commented on #11276
We don't seem to have heard anything on this topic for almost a year, despite adding logging specifically to try to help investigate.

PR #16391 is actually looking to remove such logging along with the transient rules 'feature' so I doubt we'll take this issue any further.

If you see an issue like this in future, please file a brand new issue with the symptoms and details.

[2021-06-18 02:01] #11276 closed

[2021-06-18 06:28] knfoo commented on #16375
I can update the issue title - but I am not really sure what to update it to.

This is in the when L7Proxy is misbehaving...

So I am a little confused how you got to the statement that:

[2021-06-18 06:54] kkourt commented on #16375
Good point.

[2021-06-18 10:43] Champ-Goblem commented on #15177
@christarazi @splushii
I have noticed the same issue and have been testing a patch for this which seems to be pretty effective. I opted to add a wait in before the pods are restarted that checks if the cilium agent is ready by curling the socket it deploys. While cilium agent is unavailable the curl command times out and returns a non 0 exit code, once the socket is available the curl returns a ze

[2021-06-18 11:44] rpthms commented on #16485
@joestringer I did some experiments and figured out that installing the 5.11 kernel image from Ubuntu's kernel PPA (https://kernel.ubuntu.com/~kernel-ppa/mainline/v5.11.22/amd64/) seems to have fixed the issue. Didn't see any error messages in the journal either. 5.10 was still showing the errors

[code]

[2021-06-18 12:28] knfoo commented on #16375
I reran the test with `sleep 5m` that did not make a difference.

[2021-06-18 22:05] Weil0ng commented on #16463
Hmm...good point...maybe the proper solution here is to add a controller that monitors dns-cache and manipulates the svc entry directly as a special case?

[2021-06-19 19:30] brb commented on #16583
Linkerd proxy is using `SO_ORIGINAL_DST` too. So the same solution based on a BPF getsockopt program should work for Istio and Linkerd.

[2021-06-19 20:05] brb opened #16597 "gke: Not possible to detach getpeername{4,6} BPF progs on <= 5.4.89+ kernel"
The backport \[1\] of `"bpf: Add get{peer, sock}name attach types for sock_addr"` didn't append the new attach types to `bpf_prog_detach()` which results in a failure when detaching a prog of any of the types. E.g.:

    bpf(BPF_PROG_DETACH, {target_fd=3</run/cilium/cgroupv2>,
        attach_type=0x1d /* BPF_??? */}, 120) = -1 EINVAL (Invalid argument)

This became visible when we disabled the kub

[2021-06-20 00:53] vdavidoff commented on #15234
Just an update re a newer OS/kernel. With k8s 1.16 on Ubuntu 20.04 kernel 5.4 and still Cilium 1.9.3 this behavior is no longer occurring. I need to dig more, probably this coming week, but at first glance it appears as though kube-proxy replacement mode of probe may be setting host reachable services to enabled on the new kernel, and IPVS is no longer handling routing for k8s service addresses (a

[2021-06-20 20:47] romanspb80 commented on #16349
This issue is not reproducible in the version 1.10.1
The reason was the loss of the agent configuration:

`
root@roman-pc:/home/roman/cilium-master/install/kubernetes# kubectl -n kube-system exec -it cilium-6z9vp -- cilium bpf policy get 2012
Defaulted container "cilium-agent" out of: cilium-agent, clean-cilium-state (init)
POLICY   DIRECTION   LABELS (source:key[=value])   PORT/PROTO   PROXY PORT

[2021-06-21 08:32] ybialik commented on #16550
Issue persists even after upgrading to 1.10.0

[2021-06-21 09:37] rohit0718 opened #16599 "503 response when L7 egress rules are applied to external hosts (chaining with AWS VPC CNI)"
## Bug report

**General Information**

- Cilium version: 1.10.1
- Kernel version: 5.4.117-58.216.amzn2.x86_64
- Orchestration system version in use: 1.19.8
- Generate and upload a system zip: [link](https://drive.google.com/file/d/1jezDZrYbsfylJghzzoWdATRvOqhrG_9n/view?usp=sharing)

**How to reproduce the issue**

1. Bring up cluster with eksctl and install cilium using helm
- default cluster ins

[2021-06-21 10:04] kkourt commented on #16375
Because going over the GH issue can be a bit confusing, I think it would be value to post a summary of our current understanding after synching with @knfoo offline.

While performing connectivity tests, @knfoo discovered that in some cases certain nodes will reach a state where pod creation will fail. This seem to happen when the envoy proxy starts in said nodes [1] (if L7 tests are disabled, the

[2021-06-21 10:15] brb commented on #16597
If you get hit by that, AFAIK the only solution is to reboot the node.

[2021-06-21 10:42] pchaigno commented on #16599
This is expected as per the note in [the documentation](https://docs.cilium.io/en/stable/gettingstarted/cni-chaining-aws-cni/#chaining-aws-cni):

Note #12454 is just one example here.

[2021-06-21 12:22] aanm commented on #16587
Hi @asgarciap, they are available in https://github.com/cilium/dns/commits/udp-interface-1.1.8

[2021-06-21 12:39] ti-mo opened #16602 "Preventing unmanaged Cilium endpoints on newly-created nodes"
## Proposal / RFE

See https://github.com/cilium/cilium/issues/15366 for one recent report of this.

**Problem**: when a nodepool scale-out event happens (often when there's a certain amount of unscheduled Pods waiting for resources), workloads are often scheduled on new nodes before the Cilium agent has a chance to pull and run. The result is Cilium-unmanaged endpoints. The agent image is several

[2021-06-21 12:43] #12795 closed

[2021-06-21 12:43] #8775 closed

[2021-06-21 12:44] #12995 closed

[2021-06-21 12:44] #14761 closed

[2021-06-21 12:51] #15604 closed

[2021-06-21 13:15] geakstr commented on #13182
Moved to https://github.com/cilium/hubble-ui/issues/154

[2021-06-21 13:15] #13182 closed

[2021-06-21 13:23] aanm commented on #16520
I think this was fixed by https://github.com/cilium/cilium/pull/16307 cc @christarazi

[2021-06-21 13:23] pchaigno commented on #15638
The basics are already support via the Flow uploads feature at https://editor.cilium.io:

![image](https://user-images.githubusercontent.com/1764210/122769134-928b3c00-d2a4-11eb-866c-355ed5ce9382.png)
![image](https://user-images.githubusercontent.com/1764210/122769168-9b7c0d80-d2a4-11eb-978e-b401ac778ac3.png)

[2021-06-21 13:48] ti-mo commented on #15366
Hi @kovalyukm,

We've been seeing this issue around for a while now, and have been trying to come up with a solution that would not involve killing any Pods unnecessarily. As you've pointed out above, this is a scheduling race, and is proving a bit tricky to work around. I believe the following proposal should cover most of the sharp edges: https://github.com/cilium/cilium/issues/16602.

As you mi

[2021-06-21 13:49] #15366 closed

[2021-06-21 14:00] ti-mo commented on #14106
Restarting unmanaged non-host-networked Pods will be handled by cilium-cli going forward: https://github.com/cilium/cilium-cli/blob/71312fd29ce070b8efa93e05e789f4915f17d597/install/install.go#L1445. Closing this.

[2021-06-21 14:00] #14106 closed

[2021-06-21 14:22] aanm commented on #16602
This sounds like a great proposal. The only issue I see with it is that hostNetwork pods would not be able to be scheduled on any node but in this case it would just be a matter of adding the toleration for `node.cilium.io/agent-not-ready` in such pods.

[2021-06-21 15:09] borkmann commented on #9482
Issue should be fixed by: https://github.com/cilium/cilium/pull/16604

[2021-06-21 16:34] christarazi commented on #16520
@anfernee Did your master build include beb8bde? If so, then we may have another bug related to the pod CIDR changing.

[2021-06-21 16:50] pchaigno commented on #16305
@aanm Is this still considered a `good-first-issue`? Seems like a lot more work now according to https://github.com/cilium/cilium/pull/16448#issuecomment-859183629.

[2021-06-21 17:52] rohit0718 commented on #16599
Could you maybe point me to the right direction of where the problem might be so i can help to look further into this?

[2021-06-21 17:54] aanm commented on #16305
yeah, it's just a matter of adding a LRU map and make sure that is part of the sysdump

[2021-06-21 18:08] joestringer commented on #16602
Q: How does `cilium-operator` intersect with this proposal? Is it a component we should mark as tolerating this taint?

Tainting nodes during Cilium shutdown is an interesting idea, seems like it has the possibility to help solve some of this, not 100% of cases but maybe good enough. This particular caveat seems like something that requires upstream k8s discussion to sort the model out properly an

[2021-06-21 20:49] #9482 closed

[2021-06-21 21:35] pchaigno commented on #16599
To debug this, I would disable monitor aggregation to see the full story in `cilium monitor`, then I would compare with the same packet path on a non-chaining installation of Cilium.

[2021-06-21 22:09] trvll commented on #14072
I was looking into that problem. AFAIU envoy proxy is prepared to read rules only from Network Policies.
In case of l7 visibility annotations cilium creates a visibility policy (endpoint basis) which won't be handled by the envoy. Is that right?

So the enhancement needed here is to make envoy aware of visibility policies? or we could instead borrow metadata rules from visibility policy into netwo

[2021-06-22 02:33] jrajahalme opened #16612 "CI: K8sHubbleTest Hubble Observe Test L3/L4 Flow"
It appears hubble observe outputs invalid JSON:
[code]
Context:
[code]
[5e0f35c1_K8sHubbleTest_Hubble_Observe_Test_L3-L4_Flow.zip](https://github.com/cilium/cilium/files/6690570/5e0f35c1_K8sHubbleTest_Hubble_Observe_Test_L3-L4_Flow.zip)
https://jenkins.cilium.io/job/Cilium-PR-K8s-1.21-kernel-4.9/791/testReport/junit/Suite-k8s-1/21/K8sHubbleTest_Hubble_Observe_Test_L3_L4_Flow/

[2021-06-22 02:54] jrajahalme opened #16613 "CI: K8sServicesTest Checks service across nodes Tests NodePort BPF Tests with vxlan Tests HostPort"
The first curl on the IPv6 tftp target from this host times out with exit code 28 (`failed: :29430/1=28`):

[code]

[07410568_K8sServicesTest_Checks_service_across_nodes_Tests_NodePort_BPF_Tests_with_vxlan_Tests_HostPort.zip](https://github.com/cilium/cilium/files/6690657/07410568_K8sServicesTest_Checks_service_across_nodes_Tests_NodePort_BPF_Tests_with_vxlan_Tests_HostPort.zip)
https://jenkins.ci

[2021-06-22 04:26] briantopping commented on #9207
Possibly relevant: I have a backend with identically numbered UDP and TCP ports (a DNS server), but the services for UDP and TCP are separated. They are unified by what MetalLB calls a "sharing key", so I accidentally created a situation where both the UDP and TCP ports are accessible, but only from within the cluster network. Outside the cluster network, the BPF LB map still tracks both UDP and T

[2021-06-22 04:38] #16075 closed

[2021-06-22 04:50] #16508 closed

[2021-06-22 07:23] kaworu commented on #16612
Output appear to be truncated to me, and since we get some JSON looking output it seems reasonable to me to assume that the JSON flow encoding from `hubble observe` succeeded. Could it be some kind of stdout line length buffer issue?

[2021-06-22 09:18] gandro commented on #16551
This does not seem to occur anymore and we also have a mitigation in place now.

[2021-06-22 09:18] #16551 closed

[2021-06-22 10:47] ybialik commented on #16550
cilium status command give this output:
controller bpf-map-sync-cilium_ipcache is failing since 3s (6333x): 8832 map sync errors

[2021-06-22 10:54] ybialik commented on #16550
cilium connectivity give this output:
[cluster-arn] Waiting for Cilium pod kube-system/cilium-t9965 to have all the pod IPs in eBPF ipcache...

Error: Connectivity test failed: timeout reached waiting for pod IDs in ipcache of Cilium pod kube-system/cilium-t9965

[2021-06-22 10:59] ybialik commented on #16550
![image](https://user-images.githubusercontent.com/81084950/122913422-12c3a700-d362-11eb-9ecc-de8a23a2a71a.png)
![image](https://user-images.githubusercontent.com/81084950/122913436-16efc480-d362-11eb-9b7b-c8e105f48cb8.png)

[2021-06-22 11:41] ybialik commented on #16550
@pchaigno  what else can I do to assist with troubleshooting this issue?

[2021-06-22 12:28] surajnarwade opened #16620 "Readiness probes started failing for application pods after upgrade from 1.9.x to 1.10.x in ENI mode"
I am running cilium on **EKS in ENI mode**. recently I **upgrade** cilium from **1.9.3 to 1.10.1** and I observed suddenly some of the pods (application pods) started Crashlooping.

When I checked the error on those pods (for example promethues pod), it was all regarding liveness/readiness probe failure, for example,

[code]

when checked for logs:
[code]

basically it could not talk to k8s API se

[2021-06-22 12:40] kkourt commented on #16375
Had another look at this. My current theory is that we are stuck in: https://github.com/cilium/cilium/blob/952d9d33740fc77e1a94d5a52b38d2a313e5c570/pkg/endpoint/bpf.go#L671

@knfoo one way to verify this would be to enable debugging output (there is a `-D` option in the agent, a `debug.enabled` value that can be set in helm: `--set debug.enabled=true`, and for cilium-cli a config map option called

[2021-06-22 12:42] #14859 closed

[2021-06-22 12:49] pchaigno commented on #12205
@qmonnet I suspect https://github.com/cilium/cilium/pull/16136 may have fixed this issue by skipping the problematic path (redirect from `bpf_host`). Could you double check? /cc @jibi

[2021-06-22 13:24] pchaigno opened #16622 "Port ranges in network policies"
The new `endPort` field for K8s' NetworkPolicies is in [alpha in v1.21](https://kubernetes.io/docs/concepts/services-networking/network-policies/#targeting-a-range-of-ports) and likely to become stable soon. It allows policies to target a range of ports instead of a single port.

Supporting this in Cilium will require changes in the datapath.

Tasks:
* [x] Add port range management mechanism
  * h

[2021-06-22 15:09] qmonnet commented on #12205
[code]

I confirm that the test, modified to run with the `hostFirewall`, passes with Gilberto's PR :tada:.
(I tried before pulling the PR, with an earlier version of Cilium from today, and it was still failing, so this is indeed Gilberto's work that fixed it.)

[2021-06-22 15:50] anfernee commented on #16520
Yes, I do see the change in my tree.

[2021-06-22 15:51] aanm commented on #16620
@surajnarwade could you paste some reproducible steps and a sysdump? Thank you

[2021-06-22 16:27] pchaigno commented on #16550
https://github.com/cilium/cilium/issues/16375 might be the same root cause. I found the same `proxy state changes failed` message in some of the logs and it shares some of the symptoms.

[2021-06-22 16:27] pchaigno commented on #12205
@qmonnet Could you send a PR to re-enable the few tests affected by this?

[2021-06-22 16:34] qmonnet commented on #12205
@pchaigno Yes I will. I believe there are two of them, `Check connectivity with automatic direct nodes routes` and `Check connectivity with transparent encryption and direct routing with bpf_host` - Let me know if you had another one in mind.

[2021-06-22 16:41] rohit0718 commented on #16599
Sure! Here is the `cilium monitor` for the non-chaining installation:

[code]

And for the chaining installation:

[code]

In both cases, i set monitor aggregation to `none` and ran `curl -v google.com`. It does seem that in both cases, the containers are able to resolve the google.com hostname correctly without any issues. Removing the dns requests and responses from the logs and doing a diff on

[2021-06-22 16:58] joestringer commented on #16620
How is communication with the apiserver handled in your environment? Are you using kube-proxy to do the service IP translation, or have you enabled Cilium's kube-proxy replacement?

[2021-06-22 17:09] ybialik commented on #16550
@pchaigno thanks, I will keep checking the other thread as well

[2021-06-22 18:25] d-m opened #16628 "Install hubble-ui via Helm chart without hubble-relay"
## Proposal / RFE

Attempting to install hubble-ui without hubble-relay via the Helm chart results in the following validation error:

[code]

However, some Cilium deployments, including [deployment via kOps](https://kops.sigs.k8s.io/networking/cilium/#hubble), already install hubble-relay.

It would be helpful if the Helm chart allowed installing hubble-ui without also needing to install hubble-r

[2021-06-22 18:50] christarazi commented on #16520
Thanks. I've updated the title of the issue.

[2021-06-22 19:28] christarazi opened #16629 "CI: K8sUpdates Tests upgrade and downgrade from a Cilium stable image to master: `Error: cannot re-use a name that is still in use`"
## CI failure

Stacktrace

[code]

Standard Output

[code]

Standard Error

[code]

https://jenkins.cilium.io/job/Cilium-PR-K8s-1.13-kernel-4.9/233/testReport/junit/Suite-k8s-1/13/K8sUpdates_Tests_upgrade_and_downgrade_from_a_Cilium_stable_image_to_master/

Seems like a flake with Helm.

Seen in v1.9 backport PR https://github.com/cilium/cilium/pull/16609

[2021-06-22 19:38] joestringer commented on #14072
AFAIK, Envoy is already aware of the visibility policies, otherwise HTTP would not work. From Envoy perspective I'm not sure that there's even a difference between a visibility policy vs. a normal policy, other than the visibility policy allows everything.

If I recall correctly, the trick is that the visibility annotation logic validates the annotation to check against a set of known protocols, a

[2021-06-22 22:39] aditighag commented on #15575
This flake had the same root cause as the other flakes where identity propagation was taking longer. https://github.com/cilium/cilium/pull/16381 fixed the identity propagation delays. I'll bring this up in the community meeting to check if we still need to implement retries until an endpoint identity shows up in the datapath for Jenkins tests.

[2021-06-23 07:43] surajnarwade commented on #16620
@joestringer we have service IP translation as we havn't enabled kube-proxy replacement.

from the config-file:
[code]

[2021-06-23 07:55] surajnarwade commented on #16620
@aanm ,

Initial setup for **1.9.3** on **EKS** 1.18
* custom CNI conf is enabled via flags:
[code]
* custom CNI config is provided via configmap
[code]

this was done so that cilium will utilise eth0

Upgrading to 1.10.1

* removed the configmap & respective custom cni configurations as cilium 1.10.1 sets `"first-interface-index": 0` by default

[2021-06-23 08:09] surajnarwade commented on #16620
one of the ingress pod which was crash looping, I figured out the cilium pod for that node &  I followed https://docs.cilium.io/en/v1.10/operations/troubleshooting/ guide and got the following:

[code]

[2021-06-23 08:13] sharkymcdongles commented on #16602
I think we need this on GKE. It seems if the CNI doesn't boot fast enough on the new Dataplane V2 clusters then the folder fills up with IPs that are unmanaged and not actually assigned:

`/var/lib/cni/networks/gke-pod-network`

leading to this error despite having 2 full /18 ranges(1 for services 1 for pods) to assign IPs from (over 32k):
[code]

[2021-06-23 08:19] pchaigno opened #16632 "CI: K8sBookInfoDemoTest Bookinfo Demo Tests bookinfo demo: exit status 4"
Happened in a PR with some unrelated changes to test constants: https://github.com/cilium/cilium/pull/16623.
https://jenkins.cilium.io/job/Cilium-PR-K8s-1.20-kernel-4.19/769/testReport/junit/Suite-k8s-1/20/K8sBookInfoDemoTest_Bookinfo_Demo_Tests_bookinfo_demo/
[4181f708_K8sBookInfoDemoTest_Bookinfo_Demo_Tests_bookinfo_demo.zip](https://github.com/cilium/cilium/files/6700170/4181f708_K8sBookInfoDem

[2021-06-23 08:29] pchaigno opened #16633 "Mispositioned `AfterAll` and `AfterEach` in K8sCustomCalls"
The `AfterAll` and `AfterEach` blocks are in the wrong position in https://github.com/cilium/cilium/blob/master/test/k8sT/CustomCalls.go. They are outside the `SkipContextIf` block while the code they are supposed to cleanup is inside the `SkipContextIf` block. As a result they may fail when the `SkipContextIf` is skipped (on 4.9 & 4.19).

That can be seen in https://jenkins.cilium.io/job/Cilium-P

[2021-06-23 10:26] trvll commented on #14072
Awesome! yes I'm indeed curious about this. Thank you for the considerations it is a great starting point.

[2021-06-23 11:17] ash2k commented on #15823
Don't close it, bot, it's relevant.

[2021-06-23 11:44] pchaigno commented on #14234
This was fixed in https://github.com/cilium/cilium/pull/16084.

[2021-06-23 11:44] #14234 closed

[2021-06-23 11:46] pchaigno commented on #14796
There's not enough information to fix. I should have attached the sysdump.

[2021-06-23 11:46] #14796 closed

[2021-06-23 12:42] pchaigno commented on #12329
Isn't this covered by https://docs.cilium.io/en/latest/operations/performance/scalability/identity-relevant-labels/ already?

[2021-06-23 12:52] #14776 closed

[2021-06-23 12:56] gandro opened #16636 "CI 3.0: `Clean up Cilium` fails due missing argument to `kill`"
## CI failure

[code]

Seems like if the `cilium uninstall` already caused the port-fowarding to exit, then `grep -f "kubectl port-forward" | xargs kill -9` will return exit code 123 (123 is xargs failing) due to no pids found.

[ghactionslog.txt](https://github.com/cilium/cilium/files/6701947/ghactionslog.txt)
Observed in https://github.com/cilium/cilium/pull/16635/checks?check_run_id=2893298902

[2021-06-23 12:59] pchaigno commented on #14748
Do you still see this issue with latest v1.9 or with v1.10.1?

Also, is there anything special about the "migration pod"? What is it doing?

[2021-06-23 13:59] Joerg-Tech commented on #14748
The issue is still there with 1.9, but I havn't tested it with 1.10 yet.

The only unusual things of the "migration pod" might be, that it's started on demand (with a kubernetes job) and is running rather short (1 - 5mins).

[2021-06-23 15:44] johngv2 commented on #10067
Hey Folks, I'm having problems trying to implement this suggestion (very appropriated, btw) and I would like to discuss about the options we have.

1. It's seems not possible to use `iproute2` tools to assign names to bpf programs (feature not implemented so far).
2. `bpftool` uses the function names (from symbol table) to identify the bpf programs, thus we need to change some func names in bpf_so

[2021-06-23 15:57] aditighag commented on #15575
As discussed in the community meeting, closing this issue. We plan to move Jenkins tests to CI 3.0 long term. Let's reuse https://github.com/cilium/cilium-cli/issues/248 to revisit retry loops, and discuss whether we need a better infrastructure to catch such regressions in future.

[2021-06-23 15:57] #15575 closed

[2021-06-23 16:35] pchaigno commented on #13359
Should we extend this to `level=warning` as well?

[2021-06-23 17:35] knfoo commented on #16375
Not sure why - but adding `--set debug.enabled=true` did something with the predictability of the failing test. So it took a little while extra to figure out how to provoke the error state.

[cilium-sysdump-20210623-193409.zip](https://github.com/cilium/cilium/files/6703874/cilium-sysdump-20210623-193409.zip)
[cilium-sysdump-20210623-193436.zip](https://github.com/cilium/cilium/files/6703875/ciliu

[2021-06-23 17:57] christarazi commented on #15177
@aanm is working on a PR to fix #16602 which mostly deprecate the use of nodeinit so this issue is likely to be resolved once the PR is up.

[2021-06-23 20:19] aditighag commented on #16018
I've started looking into this. Parking it in my queue.

[2021-06-23 21:11] mskrocki opened #16644 "Cilium iptables rules are not reconciled"
## Bug report
Cilium iptables rules are not reconciled when any of them are flushed. Real-life example is RPM-based system (e.g CentOS 8) with firewalld enabled, where any change to firewalld flushes the iptables rules. kube-proxy properly re-installs its rules, for cilium I have to restart the agent's Pod on that node.

**General Information**

- Cilium version 1.9

**How to reproduce the issue**

[2021-06-24 07:23] brb commented on #16644
We had a PR for this https://github.com/cilium/cilium/pull/9803, but we haven't merged it. The motivation for not merging was that Cilium won't need any iptables rules in the nearest future.

[2021-06-24 09:00] gandro commented on #16636
Looking at the failure, it seems like Cilium was stuck to initialize Hubble for some unknown reason - unfortunately, there are no logs, so it's unclear as to why Cilium never executed the code path to start Hubble in time.

[code]

[2021-06-24 10:12] gandro commented on #16636
I think the root cause here really just is that we continued too early, before Relay was ready, thus causing a cascade of failures. It's not clear if Relay really ever came up, but from the logs nothing indicates that it was not.

We should be able to use https://github.com/cilium/cilium-cli/pull/365 as a potential fix, to ensure we wait for Relay to actually be ready before moving on. And if Rela

[2021-06-24 14:55] ldelossa commented on #15471
As a note, via discussions on: https://github.com/cilium/cilium/pull/16525/files @christarazi and I have agreed upon a few small changes to the new subscriber patterns.

Most noteably:
https://github.com/cilium/cilium/pull/16525#discussion_r653889857
https://github.com/cilium/cilium/pull/16525#discussion_r654401847

@christarazi I think after podCidr work is complete I'll go back and update the ex

[2021-06-24 16:52] aditighag commented on #16551
Hit this in a v1.9 backport PR - https://jenkins.cilium.io/job/Cilium-PR-K8s-1.15-kernel-4.9/289/testReport/junit/Suite-k8s-1/15/K8sVerifier_Runs_the_kernel_verifier_against_Cilium_s_BPF_datapath/

[2021-06-24 17:04] aditighag commented on #16551
@gandro Can you add a link to the PR? Maybe we'll need to backport it to v1.9 branch.

[2021-06-24 20:48] joestringer commented on #15455
The warning in the log is curious, suggests that something interrupts k8s apiserver connectivity:

[code]

[2021-06-24 20:52] joestringer commented on #13853
For more detail about this warning:

[code]

It seems that the way that we detect these warnings will trim some of the context; maybe that's deliberate so we can get small readable messages, but digging a bit deeper this gets a bit more interesting, there's a clear discrepancy in the inputs being passed somewhere:

[code]

[2021-06-24 22:17] joestringer opened #16649 "Cilium complains: "Policy map sync fixed errors, consider running with debug verbose = policy to get detailed dumps""
Seen here in a PR:

https://jenkins.cilium.io/job/Cilium-PR-K8s-1.21-kernel-4.9/827/testReport/junit/Suite-k8s-1/21/K8sPolicyTest_GuestBook_Examples_checks_policy_example/
[6c087f72_K8sPolicyTest_GuestBook_Examples_checks_policy_example.zip](https://github.com/cilium/cilium/files/6712377/6c087f72_K8sPolicyTest_GuestBook_Examples_checks_policy_example.zip)

cilium-dpfs5 pod:
[code]

The sysdump has

[2021-06-25 12:40] oblazek commented on #13227
Something like that I suppose. But overall yes, each clusterPool should be unique so that any pod from any cluster has a unique IP and can communicate with the rest of the network.

[2021-06-25 16:44] aditighag opened #16657 "Automate backport labels update"
It's quite common for Janitors to forget updating the backport labels once a backport PR is merged. This is an aspirational issue that I'm looking to tackle while I'm working on https://github.com/cilium/cilium/issues/16018. 🤞

Edit : Looked into this, but I was unable to find the right GH APIs to achieve this.

[2021-06-25 16:56] christarazi commented on #15442
Seen again in https://github.com/cilium/cilium/pull/16524

[2021-06-25 17:18] christarazi commented on #15775
Still occurred in https://github.com/cilium/cilium/pull/16569

[2021-06-25 17:33] joestringer opened #16658 "Cilium reports "Found incomplete restore directory /var/run/cilium/state/3123_next_fail. Removing it...""
Seen on multiple PR jobs for current dev cycle (v1.11):

Example:
https://jenkins.cilium.io/job/Cilium-PR-K8s-1.21-kernel-4.9/840/testReport/junit/Suite-k8s-1/21/K8sConformance_Portmap_Chaining_Check_connectivity_check_compliance_with_portmap_chaining/
[1ed1a3b5_K8sConformance_Portmap_Chaining_Check_connectivity-check_compliance_with_portmap_chaining.zip](https://github.com/cilium/cilium/files/671

[2021-06-25 18:15] aditighag opened #16659 "CI: Suite-k8s-1.21.K8sFQDNTest Validate that multiple specs are working correctly"
## CI failure

[code]

DNS resolution to external fqdns are tricky to handle in tests since the failures could be transient.

[eedec955_K8sFQDNTest_Validate_that_multiple_specs_are_working_correctly.zip](https://github.com/cilium/cilium/files/6718076/eedec955_K8sFQDNTest_Validate_that_multiple_specs_are_working_correctly.zip)

[2021-06-25 19:00] chingyi-lin commented on #15428
I'm getting it on EKS 1.19 with `aws-cni` chain mode as well, and yes deleting the cilium pod on the node makes it work again.
sysdump: [cilium-sysdump-20210625-114341.zip](https://github.com/cilium/cilium/files/6718233/cilium-sysdump-20210625-114341.zip)

[2021-06-25 19:50] christarazi opened #16661 "CI: K8sHubbleTest Hubble Observe Test FQDN Policy with Relay"
## CI failure

[code]

Standard Output
[code]

Standard Error
[code]

[code]

[4568c6d6_K8sHubbleTest_Hubble_Observe_Test_FQDN_Policy_with_Relay.zip](https://github.com/cilium/cilium/files/6718492/4568c6d6_K8sHubbleTest_Hubble_Observe_Test_FQDN_Policy_with_Relay.zip)

[2021-06-25 20:51] aditighag commented on #16661
@christarazi This issue duplicates https://github.com/cilium/cilium/issues/16659?

[2021-06-25 21:07] pchaigno opened #16663 "Curious empty "Skipping " debug messages in CI"
I've been seeing these weird `Skipping ` debug messages in CI logs for a while:
[code]

A symbol should normally come after that message as in:
[code]

[2021-06-25 21:17] joestringer opened #16664 "CI: Suite-k8s-1.21.K8sDatapathConfig Host firewall With native routing: Failed to reach 10.0.0.121:80 from testclient-host-kfwql: exit status 28"
Found on a PR (#16391) against Cilium during the v1.11 dev cycle:

https://jenkins.cilium.io/job/Cilium-PR-K8s-1.21-kernel-4.9/852/testReport/junit/Suite-k8s-1/21/K8sDatapathConfig_Host_firewall_With_native_routing/
[24b17b6c_K8sDatapathConfig_Host_firewall_With_native_routing.zip](https://github.com/cilium/cilium/files/6718862/24b17b6c_K8sDatapathConfig_Host_firewall_With_native_routing.zip)

See

[2021-06-25 21:19] joestringer commented on #16664
I had initially thought maybe this was the same as https://github.com/cilium/cilium/issues/15455, but the actual test failure is quite different so I'm treating this as different for now.

[2021-06-25 21:19] christarazi commented on #16661
@aditighag Hm, good point. They sure do seem to be the same underlying issue. I'll close.

[2021-06-25 21:19] #16661 closed

[2021-06-25 21:21] joestringer commented on #16664
Jarno made an interesting observation on the PR, the failure is _after connect_. Ie the connection is established, then the data transfer cannot complete. This suggests that something causes connection disruption while executing the test.

Comment: https://github.com/cilium/cilium/pull/16391#issuecomment-868557647

[code]

[2021-06-25 21:47] pchaigno commented on #15775
@christarazi Maybe best to open a new issue with proper artifacts (and tag [v1.9])? If it ends up not being the same root cause, someone could waste time trying to fix it using the artifacts from last time it occurred :-/

[2021-06-25 21:50] joestringer commented on #16664
The failure itself, in all three cases linked from the description, is always from one k8s host to a pod on a different k8s node.

For the connection to work, the initial host must successfully implement the egress policy to allow the outbound connection; the packets must reach the destination and _not_ be subject to host policy; they must then be successfully routed into the destination pod; the

[2021-06-25 21:58] joestringer commented on #16664
Observe on `cilium-bz4db` (192.168.36.11, k8s1):

[code]

Observe on `cilium-stlv6` (192.168.36.11, k8s2):

[code]

[2021-06-26 02:17] briantopping commented on #14563
/pinned

[2021-06-26 03:24] aanm opened #16665 "CI: Panic of closed channel"
[code]

full logs (arm64) https://travis-ci.com/github/cilium/cilium/jobs/519303160

[2021-06-26 07:46] mysticaltech commented on #13955
For those searching how to make cilium work with Hetzner private network and native routing, the full solution has been shared here https://github.com/hetznercloud/hcloud-cloud-controller-manager/issues/115

[2021-06-26 14:05] #14989 closed

[2021-06-26 14:05] #14969 closed

[2021-06-26 14:05] #15070 closed

[2021-06-26 14:05] #15025 closed

[2021-06-26 14:05] #14840 closed

[2021-06-26 14:05] #15103 closed

[2021-06-26 14:05] #9402 closed

[2021-06-26 14:05] #15131 closed

[2021-06-26 14:05] #15098 closed

[2021-06-26 14:05] #10442 closed

[2021-06-26 14:05] #15082 closed

[2021-06-26 14:05] #15133 closed

[2021-06-26 14:06] #14459 closed

[2021-06-26 14:06] #15181 closed

[2021-06-26 14:06] #15352 closed

[2021-06-26 14:06] #14964 closed

[2021-06-26 14:06] #14119 closed

[2021-06-26 14:06] #15022 closed

[2021-06-26 14:06] #15276 closed

[2021-06-26 14:06] #15425 closed

[2021-06-26 14:06] #15456 closed

[2021-06-26 14:06] #15500 closed

[2021-06-26 14:06] #14236 closed

[2021-06-26 14:06] #15105 closed

[2021-06-26 14:06] #11847 closed

[2021-06-26 14:06] #13406 closed

[2021-06-26 14:06] #14040 closed

[2021-06-26 14:06] #8723 closed

[2021-06-27 07:40] Zempashi commented on #12895
For reference, I got the exact set of symptoms (works with `externalTrafficPolicy: Local` when floating ip is located on a node that got a backend pod, works with kube-proxy-replacement disabled), but the issue was not cilium. It was the underlying network that forbid me to send a response from another node. This is the exact purpose of DSR which I enabled (and I noticed that @Elegant996 also has

[2021-06-27 15:50] h3llix commented on #16538
I would like to work on this. @pchaigno May I ask what interval is needed between two collections ?

[2021-06-28 00:08] ckuduvalli commented on #12116
We have Cilium version 1.9.4 setup on our cluster. While trying to run sonobuoy conformance tests, one of them is failing. The testname: SchedulerPredicates [Serial] validates that there is no conflict between pods with same hostPort but different hostIP and protocol [Conformance]
3 pods are setup along with another hostNetworking pod. From the hostNetworking pod, while trying to connect to localh

[2021-06-28 08:15] Purushotham233 commented on #16520
Seeing the same issue in our test env.
Cilium Version: `1.10.0`
k8s version: `1.20` and `1.19`

A Few more observations:
- Observing connectivity for all pods on the node when the node's cilium-router IP is different from the default route added in the Pod netns.

[2021-06-28 08:15] gandro commented on #16665
Might be worth treating this as a duplicate of https://github.com/cilium/cilium/issues/15442 - it's not exactly the same error, but very likely has the same root cause (test channel reference is leaked between tests somehow)

[2021-06-28 08:37] gandro commented on #16551
Yes; https://github.com/cilium/cilium/pull/16554 - let's mark it for backport

[2021-06-28 08:42] rolinh commented on #16665
Agree with @gandro. It's interesting that these tests are almost a year old and they started flaking only recently.

[2021-06-28 08:42] #16665 closed

[2021-06-28 11:59] gandro commented on #16636
Re-opening, as this is not fixed in `cilium/cilium` just yet. We need to release a new version of the cilium cli and use it in `cilium/cilium`.

[2021-06-28 12:42] #15769 closed

[2021-06-28 12:42] #16078 closed

[2021-06-28 12:42] #15137 closed

[2021-06-28 12:48] pchaigno commented on #16541
The fix for this complexity issue has been backported to v1.9 and will be released as part of v1.9.9.

[2021-06-28 12:49] pchaigno commented on #14960
The fix for this complexity issue has been backported to v1.9 and will be released as part of v1.9.9.

[2021-06-28 12:49] #14960 closed

[2021-06-28 12:59] tklauser commented on #6728
Hit again in #16655 (v1.8 backport): https://jenkins.cilium.io/job/Cilium-PR-K8s-1.11-net-next/1652

[12b9dec0_K8sHealthTest_checks_cilium-health_status_between_nodes.zip](https://github.com/cilium/cilium/files/6726409/12b9dec0_K8sHealthTest_checks_cilium-health_status_between_nodes.zip)

[2021-06-28 13:31] pchaigno commented on #6728
This happens because the JSON response doesn't contain `http` fields:
[code]
(to compare to a previous response: <details><summary>Click to show)</summary>

[code]
</details>

Is it expected for the `http` field to be missing when that probe failed?

[2021-06-28 13:32] kkourt commented on #16375
Thanks!

The logs seem to verify that https://github.com/cilium/cilium/blob/952d9d33740fc77e1a94d5a52b38d2a313e5c570/pkg/endpoint/bpf.go#L671

never returns.

For example, for `309ac26cc3d7eb1727f97cf96197cc9e9387512234176df950d1bfe8f5460b13`:

corresponding to endpoint `40` , there is an entry:

In the logs, but no `Wait time for proxy updates:` matching message.

<details>

[code]

</details>

[2021-06-28 13:47] #16587 closed

[2021-06-28 13:51] briantopping commented on #16541
Thanks Paul. Could this be linked to a 1.9.9 meta-issue instead of closing it? I can close it when 1.9.9 comes out if not.

[2021-06-28 13:58] pchaigno commented on #16541
We can keep it opened until v1.9.9 is out if you prefer.

[2021-06-28 14:07] briantopping commented on #16541
I don’t know if I would have recognized the problem in an issue before losing some days to it, but if it’s closed, it won’t help someone who does recognize it before they get into a similar situation.

[2021-06-28 14:13] GuillaumeSmaha opened #16667 "Pod creating blocked with `Error regenerating endpoint: proxy state changes failed`"
## Bug report

Few hours after installation of cilium, one pod of cilium started to report error `regeneration recovery failed`.
On this node, it is not possible to schedule new pods until cilium is restarted.

`cilium status` is reporting error `controller endpoint-3282-regeneration-recovery is failing since 15m48s (788x): regeneration recovery failed`

Pod is stuck in state `ContainerCreating`
`

[2021-06-28 14:20] pchaigno opened #16668 "`R11 is invalid` with LLVM 12.0.0 and 13.0.0"
LLVM 12.0.0 produces invalid BPF bytecode:
[code]

Can be reproduced with:
[code]

[2021-06-28 14:29] clrxbl opened #16669 "Restarting Cilium agents cause a Longhorn outage"
## Bug report

**General Information**

On a fresh Ubuntu 20.04 cluster, whenever I restart Cilium's daemonset, Longhorn's instance managers terminate and all of my volumes become read-only.

[code]

Example instance-manager error:
[code]

- Cilium version:
[code]
- Kernel version:
[code]
- Orchestration system version in use:
[code]
[code]

- Link to relevant artifacts:
  - Cilium values.yaml: ht

[2021-06-28 14:37] pchaigno commented on #16669
What does 172.16.1.226:10045 correspond to? There's no mention of that IP address in the sysdump.

[2021-06-28 14:56] clrxbl commented on #16669
Ah, that was an error on a different cluster showing the same symptoms.
Looking more into the problem, this is the output of kubectl get events -n longhorn-system right after the DaemonSet restarts:

[code]

Looking into the logs of Longhorn Instance Manager in this cluster, I can't seem to find any similar errors to the example I've given, likely because there's no persistent volumes mounted on t

[2021-06-28 15:18] ldelossa opened #16670 "Reconsider the usage of cidr.MustParseCIDR in config.go"
Makes sense :+1: perhaps as a follow up we can replace `MustParseCIDR` which something that returns an error rather than panicking (and move the v4 range check inside that function)

_Originally posted by @jibi in https://github.com/cilium/cilium/issues/16646#issuecomment-869754087_

[2021-06-28 15:18] ldelossa commented on #16670
Tracking this here, low priority but don't want to forget.

[2021-06-28 16:23] pchaigno commented on #8860
No. I think they are working on it though.

[2021-06-28 16:23] #8860 closed

[2021-06-28 16:23] #949 closed

[2021-06-28 16:25] pchaigno commented on #1750
We are slowly deprecating the Runtime tests.

[2021-06-28 16:25] #1750 closed

[2021-06-28 16:34] pchaigno commented on #12280
This is now fixed AFAIK. We only have beta and a dedicated `.rst`
 file.

[2021-06-28 16:34] #12280 closed

[2021-06-28 17:11] aditighag commented on #16669
@clrxbl Thanks for the follow-ups. This doesn't sound like Cilium related issue at the moment. What's the expected behavior of Longhorn when CNI agents are restarted in general?

[2021-06-28 17:17] clrxbl commented on #16669
I'd really have no idea. I don't see why it would restart in first place.

[2021-06-28 17:30] anfernee commented on #15051
@joestringer this is merged before we cut v1.10 branch. I think we can simply close this, can we?

[2021-06-28 18:42] joestringer commented on #16664
^^ Filtering further to only the connections relevant to the k8s2 -> pod connections, we see these on `k8s1`:

[code]

But only one direction of an otherwise successful-looking connection on `k8s2`:

[code]

[2021-06-28 19:07] joestringer opened #16674 "Packets from the network don't show up in cilium monitor / hubble"
When in native routing mode, particularly with host firewall enabled, I would expect that when the node attempts to communicate with a peer elsewhere in the network, we should see bidirectional flows in hubble, ie for each packet there is at least one notification so we can see that Cilium handled the packet.

With monitor aggregation set to medium, I would expect to see both "to-network" notifica

[2021-06-28 19:09] joestringer commented on #16674
One of the issues here is the difference between "evidence of lack" (of packets) vs. "lack of evidence". If we knew that Cilium was reliably reporting all such packets, then we know that there are packets missing (or Cilium doesn't see them at least). However without getting "to-host" notifications it's hard to say what role Cilium is playing in handling networking for those packets.

[2021-06-28 19:55] joestringer commented on #16664
This is my best effort at folding the flows together, but unfortunately the clocks are not synchronized and it seems like the hubble timestamps can sometimes be duplicated across multiple packets particularly at the start of the flow:

[code]

Looking at the timestamps though, we see four batches of flows:

18:09:31: Connection establishment. Bidirectional connectivity appears to work as expected.

[2021-06-28 20:01] joestringer commented on #16664
The webserver reports the request from the test, and even appears to respond to other requests later. No sign of an issue in application logs:

[code]

[2021-06-28 20:36] joestringer commented on #16664
Keeping in mind the cilium / node relationships, so the connection is going from `cilium-stlv6` (192.168.36.12, k8s2) to a pod on cilium-bz4db (k8s1):

[code]

Here's what the BPF connection tracker has to say:

[code]

So the source node reports sending 12 packets, but only receiving 1. The destination node in the connection tracker reports receiving all 12 packets and sending 20 back.

We also h

[2021-06-28 21:42] joestringer commented on #16664
Wondering if I jumped the shark a bit on the above, I did a simpler filter on the hubble flows to ensure that I wasn't excluding relevant flows. I figure that the source port of 44152 should be fairly unique in this scenario given that there are few requests being run from the k8s2 node. Sure enough, there's a much of other traffic matching that port, all of which appears to occur after the initia

[2021-06-28 21:54] aditighag commented on #11002
Seen in v1.10 backport PR - https://jenkins.cilium.io/job/Cilium-PR-K8s-1.18-kernel-4.9/1688/testReport/junit/Suite-k8s-1/18/K8sDemosTest_Tests_Star_Wars_Demo/.

[38623037_K8sDemosTest_Tests_Star_Wars_Demo.zip](https://github.com/cilium/cilium/files/6729444/38623037_K8sDemosTest_Tests_Star_Wars_Demo.zip)

Expected command: kubectl exec -n default xwing-6d75b9b56b-6rrwn -- curl --path-as-is -s -D /

[2021-06-28 21:56] aditighag commented on #11002
On a closer look, it doesn't seem to be the same issue even though the error output looks same. A bunch of different tests failed in that run so I suspect that the cluster was in a bad state. Will close this issue.

[2021-06-28 21:56] #11002 closed

[2021-06-28 22:26] christarazi commented on #14598
Similar variant hit with `K8sIstioTest Istio Bookinfo Demo Tests bookinfo inter-service connectivity` in https://github.com/cilium/cilium/pull/16672.

https://jenkins.cilium.io/job/Cilium-PR-K8s-1.21-kernel-4.9/878/

[2021-06-28 23:12] #16633 closed

[2021-06-28 23:20] gpl commented on #13553
for the stale bot: This issue is still present.

[2021-06-29 00:30] christarazi opened #16677 "[v1.8] Cilium blacklists / blocks almost all routes leading to IPAM exhaustion errors"
During a [v1.9 backport PR](https://github.com/cilium/cilium/pull/16569), an [issue was observed](https://jenkins.cilium.io/job/Cilium-PR-K8s-1.17-kernel-5.4/47/) in the upgrade / downgrade test. While looking at the sysdump, the failure turned out to be that the kube-dns pod failed to come up because the CNI was reporting:
[code]

Investigating the sysdump and looking at Ciilum status output, we

[2021-06-29 00:54] joestringer commented on #16674
Upon further investigation, it appears that in #16664 the return packets _were_ actually arriving back at the original node, but they were masqueraded and then dropped due to policy. This explains why the flows were missing.

Closing this out since the case where I noticed it doesn't demonstrate the lack of packet notifications.

[2021-06-29 00:54] #16674 closed

[2021-06-29 01:05] joestringer commented on #16664
Seems like this may be affecting master as well, this run sees a "connect then stall" behaviour:

https://jenkins.cilium.io/job/cilium-master-k8s-1.17-kernel-4.9/126/testReport/junit/Suite-k8s-1/17/K8sDatapathConfig_Host_firewall_With_native_routing/

Unfortunately one of the hubble-observe outputs failed for one of the nodes so it's impossible to get the same level of confirmation that the masque

[2021-06-29 01:08] joestringer commented on #16664
Here's another run that does actually hit the same issue:

https://jenkins.cilium.io/job/cilium-master-k8s-1.17-kernel-4.9/126/testReport/junit/Suite-k8s-1/17/K8sDatapathConfig_Host_firewall_With_native_routing_and_endpoint_routes/
[b519f799_K8sDatapathConfig_Host_firewall_With_native_routing_and_endpoint_routes.zip](https://github.com/cilium/cilium/files/6729922/b519f799_K8sDatapathConfig_Host_fi

[2021-06-29 01:09] #16364 closed

[2021-06-29 02:50] ArthurChiao commented on #16669
Not sure if this is related: does `bpffs` mounted correctly?

[2021-06-29 08:28] tklauser commented on #16050
Seen on https://github.com/cilium/cilium/pull/16642 with a slightly different error message:

[code]

https://jenkins.cilium.io/job/Cilium-PR-K8s-1.17-kernel-5.4/48/

[2021-06-29 08:32] clrxbl commented on #16669
It's mounted yes.

[2021-06-29 08:34] tklauser opened #16680 "[v1.9] CI: K8sServicesTest Checks ClusterIP Connectivity Checks service accessing itself (hairpin flow)"
[code]

Seen on https://github.com/cilium/cilium/pull/16642: https://jenkins.cilium.io/job/Cilium-PR-K8s-1.12-net-next/1750

It seems that the 4th out of 10 `curl` invocations failed with error code `28` (operation timeout):

[code]

[test_results_Cilium-PR-K8s-1.12-net-next_1750_BDD-Test-PR.zip](https://github.com/cilium/cilium/files/6731825/test_results_Cilium-PR-K8s-1.12-net-next_1750_BDD-Test-

[2021-06-29 09:19] jibi commented on #9207
I think we've reached a dead end :disappointed: Let's consider the case for `kube-dns`:

[code]

we have multiple backends for the same destination IP and port, with different protocols. Each different backend has its own ID.

Everything works fine until we downgrade to a version of Cilium that doesn't support service differentiation.

After downgrading, the service restoration phase will at some

[2021-06-29 11:42] Robert-Stam opened #16681 "Cilium-operator health check isn't taking connection to apiserver into account"
## Bug report

The cilium operator (at least on AWS in ipam.mode=eni) the operator goes into a crashloop when the apiserver cannot be reached.
When the pod startup and the apiserver cannot be reached, the pod is marked as 'Ready' however in the log the message appears that the apiserver cannot be reached.  This is needed to check if it wins/looses the leader election.
This is tried a few times and

[2021-06-29 14:15] Mierdin commented on #16008
Hey all - just poking around some issues and noticed this was open but seems like https://github.com/cilium/cilium/pull/16055 intended to close it but GH failed to link it. Probably because GH is expecting a space before the issue number.  Looks to me like this can be closed.

[2021-06-29 14:26] pchaigno commented on #16008
Indeed! Thanks for the report @Mierdin! :pray:

[2021-06-29 14:26] #16008 closed

[2021-06-29 14:29] h3llix commented on #16008
Thanks @Mierdin ! Noted my mistake.

[2021-06-29 20:33] #16520 closed

[2021-06-29 22:10] joestringer commented on #15791
I did a bit of analysis on a similar failure here (different test, Suite-k8s-1.21.K8sPolicyTest Multi-node policy test with L7 policy using connectivity-check to check datapath):

https://github.com/cilium/cilium/pull/16391#issuecomment-868000083

In summary looking into the pods that are actually failing could be quite interesting, whether there are patterns there; that sort of thing. I see even

[2021-06-30 00:50] aanm opened #16693 "CI: ConformanceAKS - Error: Connectivity test failed: timeout reached waiting for pod IDs in ipcache of Cilium pod kube-system/cilium-mvvgc"
PR https://github.com/cilium/cilium/pull/16656 hit this failure. This happens because `cilium_host` is wrongly being assigned with a new IP address from list of available IPs when running with IPAM CRD:
[code]

This is already fixed for ENI and AlibabaCloud with https://github.com/cilium/cilium/pull/16672 but AKS seems to suffer from the same problem and to fix this bug in AKS will require more ch

[2021-06-30 01:22] Weil0ng opened #16694 "DNS request from hostNetwork pods cannot be delivered to local backend with LRP"
When doing `nslookup` from within a hostNetwork pod with NodelocalDNS + Cilium (full KRP), DNS requests time out. I do not see any dropped packets with `cilium monitor -t drop`. Running `tcpdump` on the veth of the local node-cache backend pod doesn't show anything, aka the packets never hit local backend pot.

**General Information**

- Cilium version (run `cilium version`):
   Client: 1.9.5 caf8

[2021-06-30 06:10] Weil0ng commented on #16694
Pinging from the hostNetwork pod (which fails DNS requests) to the local backend pod works, which indicates at least the connectivity is good.

I'm a little bit suspicious about the skip_if_same_netns logic plays a role here...will investigate more tomorrow

[2021-06-30 07:13] pchaigno commented on #16402
Yet another variation:
[code]

[2021-06-30 07:48] pchaigno opened #16699 "CI: K8sDatapathConfig Transparent encryption DirectRouting Check connectivity with transparent encryption and direct routing: Ipsec default interface lookup failed"
https://jenkins.cilium.io/job/cilium-master-k8s-1.19-kernel-5.4/367/testReport/junit/Suite-k8s-1/19/K8sDatapathConfig_Transparent_encryption_DirectRouting_Check_connectivity_with_transparent_encryption_and_direct_routing/
[c05d5c34_K8sDatapathConfig_Transparent_encryption_DirectRouting_Check_connectivity_with_transparent_encryption_and_direct_routing.zip](https://github.com/cilium/cilium/files/673

[2021-06-30 11:30] pchaigno commented on #14638
We had a call with @h3llix who is looking into this issue as part of his GSoC project. The first version for this CLI will include `status` and `flush` subcommands, with a slightly simplified `status` subcommand compared to above. It will only display information pertaining to IPsec in its first version.
[code]
Notes:
- The `NodeEncryption` status can be skipped for now if we can't retrieve it thr

[2021-06-30 11:48] gandro commented on #14638
This makes sense to me. For future reference, if we ever want to add support for Wireguard as well, the plumbing done for the WireGuard section in `cilium debuginfo` could easily be reused for `cilium encrypt status`:

https://github.com/cilium/cilium/blob/a12f4e4ba457df43495348c7baf2fdb57ce4ae93/pkg/wireguard/agent/agent.go#L466-L469

[2021-06-30 12:04] gandro opened #16701 "CI: ConformanceEKS - Error: Connectivity test failed: timeout reached waiting for pod IDs in ipcache of Cilium pod kube-system/cilium-lbwv4"
## CI failure

Observed in https://github.com/cilium/cilium/pull/16635

[code]

- [cilium-sysdump-out.zip.zip](https://github.com/cilium/cilium/files/6740675/cilium-sysdump-out.zip.zip)
- [logs_125844.zip](https://github.com/cilium/cilium/files/6740673/logs_125844.zip)

This is likely different from #16693 as this is EKS and not AKS, and supposedly the root cause for #16693 has already been fixed

[2021-06-30 12:19] gandro commented on #16701
The problem seems to be that the CEPs for the new endpoint could not be created because the old namespace was still getting deleted. The cilium-cli CEP check however passed because it still found the old ones.

Just two seconds before the timeout was reached:

cilium-lbwv4-cilium-agent-20210630-084005.log
[code]

This is likely fixed by https://github.com/cilium/cilium-cli/commit/7c72164a035647bdb

[2021-06-30 12:24] gandro commented on #16701
This particulate failure here should be fixed by #16689

[2021-06-30 12:24] #16701 closed

[2021-06-30 14:42] aditighag commented on #16694
I suspect that this is similar to - https://github.com/cilium/cilium/issues/15195. Kubernetes node has a DNS agent listening on port 53, as a result, translation would be skipped.

@Weil0ng Did you try capturing packets on the host interface, and see if packets are getting translated at all? Also, until we fix #15195, I suggest that we gate the loop fix in the datapath by a config option, and upda

[2021-06-30 17:24] pchaigno opened #16713 "CI: RuntimeFQDNPolicies Validates DNSSEC responses: Cannot connect to "dnssec""
https://jenkins.cilium.io/job/cilium-master-runtime-kernel-4.9/2235/testReport/(root)/Suite-runtime/RuntimeFQDNPolicies_Validates_DNSSEC_responses/
[09fe2bc5_RuntimeFQDNPolicies_Validates_DNSSEC_responses.zip](https://github.com/cilium/cilium/files/6742836/09fe2bc5_RuntimeFQDNPolicies_Validates_DNSSEC_responses.zip)

### Stacktrace
[code]
### Standard Output
[code]
### Standard Error
<details><sum

[2021-06-30 17:40] pchaigno commented on #16713
In the artifact, we can see it keeps trying to send SYN but it's denied due to lack of allowing policy rule:
[code]
Given the above, we know it's not the DNS resolution failing but the following TCP connection. So the DNS<->IP association should be in the FQDN cache at this point and we should have a toCIDR entry in the policy map.

The remote identity looks okay. We can't check the BPF map conten

[2021-06-30 18:45] Weil0ng commented on #16694
I don't see any packets using `tcpdump -nei eth0 port 53`...which seems to indicate they are not leaving the node, hence they should already be translated (and redirected without leaving eth0)?

[2021-06-30 20:18] pchaigno opened #16717 "CI: K8sFQDNTest Restart Cilium validate that FQDN is still working: Error reaching kube-dns before test"
https://jenkins.cilium.io/job/cilium-master-k8s-1.17-kernel-4.9/132/testReport/Suite-k8s-1/17/K8sFQDNTest_Restart_Cilium_validate_that_FQDN_is_still_working/
[3205f837_K8sFQDNTest_Restart_Cilium_validate_that_FQDN_is_still_working.zip](https://github.com/cilium/cilium/files/6743789/3205f837_K8sFQDNTest_Restart_Cilium_validate_that_FQDN_is_still_working.zip)

### Stacktrace
[code]
### Standard Outp

[2021-06-30 21:46] pchaigno commented on #16717
All DNS connections from `default/app2-5cc5d58844-nv6wr` seem to be hanging. We don't see the requests in the CoreDNS logs, so it probably wasn't received.

We can trace one request for example. On the source node:
[code]
On the destination node:
[code]
Monitor aggregation is enabled, so only `to-xxx` traces are collected.

Endpoint routes are disabled, so these `to-endpoint` traces were emitted f

[2021-06-30 21:52] pchaigno commented on #16717
This would only happen in our 4.9 CI job because of the following condition: https://github.com/cilium/cilium/blob/e6f34c3c98fe2e247fde581746e552d8cb18c33c/bpf/bpf_lxc.c#L1149-L1156
So if `ENABLE_NODEPORT` is defined (only undefined on 4.9), we redirect the packet to the `lxc` device instead of passing to the stack and we therefore skip the `FORWARD-filter` table.

[2021-06-30 22:05] joestringer commented on #16717
I believe that K8sDatapathConfig is the only suite which may switch up endpoint routes mode on/off, and in this particular failure case the K8sDatapathConfig tests ran immediately prior to K8sFQDN. I wonder if we're just not cleaning up the environment properly enough in the AfterAll / BeforeAll steps of one of these two contexts. This could explain why we don't see the failure more often - it req

[2021-06-30 22:14] pchaigno commented on #16717
Yep, but checking if DNS resolves is the first thing we do after any Cilium deployment AFAIK. So any test without endpoint routes running after a test with endpoints routes should fail.

[2021-06-30 22:24] joestringer commented on #16717
Seems like that should be established as part of this path:

https://github.com/cilium/cilium/blob/eb9a5c4dcb47e866749ae21ae31420a5c882c739/test/k8sT/fqdn.go#L76

...

https://github.com/cilium/cilium/blob/eb9a5c4dcb47e866749ae21ae31420a5c882c739/test/k8sT/assertionHelpers.go#L177

...

https://github.com/cilium/cilium/blob/eb9a5c4dcb47e866749ae21ae31420a5c882c739/test/helpers/kubectl.go#L2048

..

[2021-06-30 22:38] pchaigno commented on #16717
Hm. DNS resolution from a hostns pod should be the same as long as it's on a different node than the CoreDNS pod. Once the request reaches the destination node via the tunnel it's basically indistinguishable from a request from a pod (except from policy point of view, but we're not concerned with that here).

[2021-06-30 23:05] Weil0ng commented on #16694
Tried `nslookup <some-svc> local-backend-ip` and it timed out too.

[2021-06-30 23:38] joestringer commented on #16717
I've looked into the following failures and also observed that there are per-endpoint routes for the DNS pod:

https://jenkins.cilium.io/job/cilium-master-k8s-1.21-kernel-4.9/544/testReport/junit/Suite-k8s-1/21/K8sDemosTest_Tests_Star_Wars_Demo/
https://jenkins.cilium.io/job/cilium-master-k8s-1.17-kernel-4.9/129/testReport/junit/Suite-k8s-1/17/K8sDemosTest_Tests_Star_Wars_Demo/
https://jenkins.cil

[2021-06-30 23:41] joestringer commented on #16659
I found that the coredns pod in this environment is configured with endpoint-routes while the rest of the endpoints were not, which suggests a link to #16717 (if not the same root cause). I used this technique: https://github.com/cilium/cilium/issues/16717#issuecomment-871794749

[2021-07-01 04:21] aanm opened #16720 "CI: Unable to connect to the server: net/http: TLS handshake timeout"
It's still not exactly clear the root cause of this issue but after some analysis it was conclusive that kube-apiserver.logs are required to further debug this issue.

## CI failure

[code]

[test_results_Cilium-PR-K8s-1.16-net-next_947_BDD-Test-PR.zip](https://github.com/cilium/cilium/files/6745419/test_results_Cilium-PR-K8s-1.16-net-next_947_BDD-Test-PR.zip)

[2021-07-01 04:29] #16693 closed

[2021-07-01 04:43] aanm opened #16722 "CI: K8sServicesTest Checks service across nodes Tests NodePort BPF Tests with direct routing With host policy Tests NodePort"
### Test Name
[code]

### Failure Output
[code]

### Stacktrace
<details><summary>Click to show.</summary>

[code]
</details>

### Standard Output
<details><summary>Click to show.</summary>

[code]
</details>

### Standard Error
<details><summary>Click to show.</summary>

[code]
</details>

ZIP Links:
<details><summary>Click to show.</summary>

 https://jenkins.cilium.io/job/Cilium-PR-K8s-1.16-net

[2021-07-01 04:43] aanm opened #16723 "CI: K8sFQDNTest Restart Cilium validate that FQDN is still working"
### Test Name
[code]

### Failure Output
[code]

### Stacktrace
<details><summary>Click to show.</summary>

[code]
</details>

### Standard Output
<details><summary>Click to show.</summary>

[code]
</details>

### Standard Error
<details><summary>Click to show.</summary>

[code]
</details>

ZIP Links:
<details><summary>Click to show.</summary>

 https://jenkins.cilium.io/job/Cilium-PR-K8s-1.21-ker

[2021-07-01 04:43] aanm opened #16724 "CI: RuntimeFQDNPolicies toFQDNs populates toCIDRSet (data from proxy) L3-dependent L7/HTTP with toFQDN updates proxy policy"
### Test Name
[code]

### Failure Output
[code]

### Stacktrace
<details><summary>Click to show.</summary>

[code]
</details>

### Standard Output
<details><summary>Click to show.</summary>

[code]
</details>

### Standard Error
<details><summary>Click to show.</summary>

[code]
</details>

ZIP Links:
<details><summary>Click to show.</summary>

 https://jenkins.cilium.io/job/Cilium-PR-Runtime-4.9/

[2021-07-01 04:46] aanm commented on #16722
Assigned Tom based on https://github.com/cilium/cilium/pull/16662#event-4963402990 and https://github.com/cilium/cilium/pull/16662#issuecomment-871913271

[2021-07-01 04:46] aanm commented on #16723
Assigned Tom based on https://github.com/cilium/cilium/pull/16662#event-4963402990 and https://github.com/cilium/cilium/pull/16662#issuecomment-871913271

[2021-07-01 04:46] aanm commented on #16724
Assigned Tom based on https://github.com/cilium/cilium/pull/16662#event-4963402990 and https://github.com/cilium/cilium/pull/16662#issuecomment-871913271

[2021-07-01 04:49] aanm commented on #16724
I tried to debug this flake by running [1] for 2 hours but I couldn't hit it. Unfortunately, later I realized that I tested this in net-next  and not 4.9. However, I'm not sure if the kernel version would cause this test to fail.

[1]
[code]

[2021-07-01 04:55] aanm opened #16725 "v1.10.2 release"
## Pre-release

- [x] Check that there are no [release blockers] for the targeted release version
- [x] Ensure that outstanding [backport PRs] are merged
- [x] Consider building new [cilium-runtime images] and bumping the base image
      versions on this branch:
  - Cilium v1.10 or later:
     Modify the `FORCE_BUILD` environment value in the `images/runtime/Dockerfile` to force a rebuild.
     [

[2021-07-01 07:22] brb opened #16726 "docs: Obsolete targets for building runtime and builder images"
It is no longer possible to build `cilium-runtime` image  with `make docker-image-runtime`, as it is no longer a valid target. The obsolete target is documented in https://docs.cilium.io/en/latest/contributing/development/images/, and  the PR which changed this - https://github.com/cilium/cilium/pull/15023.

Instead of making everyone to read `build-image.sh` and friends, we should fix the docs.

[2021-07-01 07:24] ybialik commented on #16667
Hello @GuillaumeSmaha , I am facing a very similar issue. were you able to find a solution?

[2021-07-01 07:35] ybialik commented on #16375
@kkourt  is there a fix for it?

[2021-07-01 08:56] GuillaumeSmaha commented on #16667
Hi @ybialik, not yet. I continue to dig to find more information.

[2021-07-01 08:58] ybialik commented on #16667
@GuillaumeSmaha  thanks, can you please update here in case you find one?

[2021-07-01 09:01] gandro commented on #16667
We discussed this yesterday in the Cilium community meeting. We assume this issue here has the same root cause #16375 - we have not identified it yet.

[2021-07-01 09:03] ybialik commented on #16667
@gandro awesome, can't wait :)

[2021-07-01 10:08] pchaigno commented on #16723
Duplicate of https://github.com/cilium/cilium/issues/16717. @aanm Please check https://docs.google.com/spreadsheets/d/1o86z3zec53vTobY5DwtZSdGF6j-_6VSrIddXgF81t18/edit#gid=1572159041.

[2021-07-01 10:08] #16723 closed

[2021-07-01 10:17] gandro commented on #16667
We're trying to reproduce the issue in order to be able to debug it further, but currently with no success.

In case any of you have a test cluster where the problem is reproducible, it would be incredibly helpful if we can gather more information with flow debug logging enabled:

1. Add `debug: "true"` and `debug-verbose: "flow"` to the `cilium-config` ConfigMap
2. Restart the cilium pods for the

[2021-07-01 10:18] gandro commented on #16375
@knfoo  We're trying to reproduce the issue in order to be able to debug it further, but currently with no success.

If you still have your test cluster, it would be incredibly helpful if we can gather more information with flow debug logging enabled:

1. Add `debug: "true"` and `debug-verbose: "flow"` to the `cilium-config` ConfigMap
2. Restart the cilium pods for the above settings to be applied

[2021-07-01 10:28] opengers opened #16733 "In the hubble observe CLI, the --tcp-flags parameter does't work"
As fllow, when I use `--tcp-flags syn`, Non-SYN flags can still be seen in the output

[code]

[2021-07-01 10:38] gandro commented on #16733
Hi, what version of Cilium are you using? Please be aware that only Cilium 1.10 supports the TCP flag filters.

[2021-07-01 12:01] ybialik commented on #16667
I wrote a script to loop over connectivity test installation and removal until it got the container creating issue and it did :)

[code]

describing the pod:
[code]

 I am creating the sysdump now and will upload it after it is done.

[2021-07-01 12:10] ybialik commented on #16667
Because it is a large file, sending it using google drive.
https://drive.google.com/file/d/1-krHnaRQai0rJgnw5Q7Ke_wjQl7o8UbM/view?usp=sharing

[2021-07-01 12:15] knfoo commented on #16375
I have run in again with the settings in the cilium-config as asked.

I noticed this as well in one of my test runs.
I have attached the sysdump and the output of the test.

[cilium-test-06.md](https://github.com/cilium/cilium/files/6747954/cilium-test-06.md)
[cilium-sysdump-20210701-141236.zip](https://github.com/cilium/cilium/files/6747955/cilium-sysdump-20210701-141236.zip)

[2021-07-01 13:11] GuillaumeSmaha commented on #16667
@gandro My current configuration is using:
[code]
the cilium sysdump was done with this configuration too:
[cilium-sysdump-20210628-120117.tar.xz.zip](https://github.com/cilium/cilium/files/6726908/cilium-sysdump-20210628-120117.tar.xz.zip)

[2021-07-01 13:15] aanm commented on #16726
@jrajahalme it seems this was removed by https://github.com/cilium/cilium/commit/9f7604bae81f0c71f5ce36dffe82d7d6be9dcf6b I'm not sure if by accident or not.

[2021-07-01 13:33] #14293 closed

[2021-07-01 13:34] tklauser commented on #16713
Hit this in #16686: https://jenkins.cilium.io/job/Cilium-PR-Runtime-4.9/5188/

[c40a3ddf_RuntimeFQDNPolicies_Validates_DNSSEC_responses.zip](https://github.com/cilium/cilium/files/6748542/c40a3ddf_RuntimeFQDNPolicies_Validates_DNSSEC_responses.zip)

[2021-07-01 14:12] gandro commented on #15442
With the new regime, https://github.com/cilium/cilium/pull/16635  is blocked on this.

[2021-07-01 14:44] aditighag commented on #15195
For cgroup v2, we could potentially use the BPF cgroup id helper. It's possible to get it from the user space as well, but I'm still trying to figure out how we can retrieve it for the kiam pod.

[2021-07-01 14:45] opengers commented on #16733
cilium 1.8, Thanks for the answer

[2021-07-01 14:50] rolinh commented on #16733
@opengers As indicated by @gandro, TCP flow filters are a feature new with Cilium v1.10.

[2021-07-01 14:50] #16733 closed

[2021-07-01 14:51] gandro commented on #16733
@rolinh Just beat me to it, but to expand:

While you can run Hubble CLI v0.8 against Cilium 1.8, filters added after Cilium 1.8 will be ignored by the server. We're similar to `kubectl` in that regard, where newer versions of the client can talk to old versions of the server, but newly added API fields are silently ignored.

[2021-07-01 15:20] ChaosEternal opened #16736 "eBPF: how to find the name(or obj file/section) of a prog"
After done a xlated dump of a bpf progam, there are usually some code look like this:
[code]
Then I dump the content of map 125:
[code]
the key 06 pointing to a prog id 0x568 , which is 1384:
[code]
it tells so few information.

how can I find which object file owns this prog and how to find the function name of the prog?

[2021-07-01 15:59] pchaigno commented on #16736
Is this a BPF program loaded and attached by Cilium?

[2021-07-01 16:23] vishjain commented on #16538
/assign

[2021-07-01 16:27] vishjain commented on #16538
New to the project - Can I take this up as a first issue? Thanks!

[2021-07-01 16:32] vishjain commented on #14725
This seems to be unfinished since January, @pchaigno can I take this up as a first issue? Thanks.

[2021-07-01 16:55] sciolgono opened #16740 "Resolving `service.namespace` should work when `rules.dns: [matchPattern: '*.*.svc.cluster.local']` is allowed"
## Proposal / RFE

With the following CiliumNetworkPolicy, pods in the namespace `test` can resolve and access `foo.bar.svc.cluster.local` but unfortunately they can't resolve `foo.bar` which breaks many setups. Would be really cool if this worked.

The goal here is to stop pods from phoning home or even ex-filtrating data by querying public DNS records like `bG90cy1hbmQtbG90cy1vZi1lbmNvZGVkLWRhdG

[2021-07-01 17:19] joestringer opened #16741 "CI: Suite-runtime.RuntimeFQDNPolicies Implements matchPattern: "*": DNS resolves but curl times out: Process exited with status 28"
## Suite-runtime.RuntimeFQDNPolicies Implements matchPattern: "*"

https://jenkins.cilium.io/job/cilium-master-runtime-kernel-4.9/2247/testReport/junit/(root)/Suite-runtime/RuntimeFQDNPolicies_Implements_matchPattern_____/
[ad391c17_RuntimeFQDNPolicies_Implements_matchPattern___.zip](https://github.com/cilium/cilium/files/6749832/ad391c17_RuntimeFQDNPolicies_Implements_matchPattern___.zip)

Possib

[2021-07-01 21:08] mcarbonneaux opened #16746 "Need maglev more detailled explanation in documentation... or bug ?"
i've build k8s cluster + cilium with vagrant of 3 node with control-plane, 1 user node (for doing client test), and a router node  (bgp ecmp).

I've activated maglev according to the documentation:
https://docs.cilium.io/en/v1.10/gettingstarted/kubeproxy-free/#maglev-consistent-hashing-beta

I've activated bgp (metallb) and dsr (and direct routing), in kube-proxy replacement in 'strict' mode.

[co

[2021-07-01 21:36] pchaigno commented on #16746
What do you mean exactly? How did you test? If every new request is assigned to a different backend, I'd say the load balancing is working as expected.

[2021-07-01 21:43] aditighag commented on #16746
You'll need to remove/add new service backends, and ensure that existing connections are not disrupted with Maglev enabled.

[2021-07-01 22:41] #15177 closed

[2021-07-01 22:41] #16542 closed

[2021-07-01 22:41] #16602 closed

[2021-07-01 22:57] mcarbonneaux commented on #16746
i test the globale fonctionality of cilium to evaluate it.

in my evaluation i try to use loadbalancing dsr with magled enabled to loadbalance to pod with magled afinity.

normaly with maglev loadbalancing for one client/ip one backend are selected, and the backend only change if the backend death...

in my test i've done the backend change at random... is not what i expected with maglev lb...

ma

[2021-07-01 23:14] ChaosEternal commented on #16736
I think so.

On Fri, Jul 2, 2021, 12:00 AM Paul Chaignon ***@***.***>
wrote:

[2021-07-01 23:34] Weil0ng commented on #16694
I tried hacking the skip logic (so that it always return false, aka never skips LRP translate) and the problem is still there, so it's probably not because of the translation, this aligns with the above observation using nslookup.

[2021-07-02 01:58] ungureanuvladvictor commented on #13011
Hit this on https://jenkins.cilium.io/job/Cilium-PR-K8s-1.21-kernel-4.9/946/testReport/junit/Suite-k8s-1/21/K8sServicesTest_Checks_service_across_nodes_with_L7_policy_Tests_NodePort_with_L7_Policy/.
[b6df4677_K8sServicesTest_Checks_service_across_nodes_with_L7_policy_Tests_NodePort_with_L7_Policy.zip](https://github.com/cilium/cilium/files/6751619/b6df4677_K8sServicesTest_Checks_service_across_nod

[2021-07-02 03:50] aditighag opened #16751 "Fix custom BPF mount"
Currently, we've hardcoded the default [BPF filesystem mount point](https://github.com/cilium/cilium/blob/master/install/kubernetes/cilium/templates/cilium-agent-daemonset.yaml#L452) in the Cilium agent daemonset yaml. However, there is a helm option `bpf-root` that users can specify to mount BPF fs at a custom location. In such cases, we should do a bidirectional mount at the user specified path

[2021-07-02 06:38] pchaigno commented on #16736
Then you can get a lot more information by disassembling the version of the program stored in `/var/cilium/run/state/...`.

[2021-07-02 06:38] #16736 closed

[2021-07-02 06:45] pchaigno opened #16753 "Missing artifact for RuntimeFQDNPolicies Implements matchPattern: "*""
See for example https://jenkins.cilium.io/job/cilium-master-runtime-kernel-4.9/2247/testReport/junit/(root)/Suite-runtime/RuntimeFQDNPolicies_Implements_matchPattern_____/. The logs have:
[code]
Note the artifact is there but just not linked to the test and therefore not presented in the WebUI page specific to the test.

This is probably due to the asterisk. I'll send a fix later today.

[2021-07-02 06:49] pchaigno opened #16754 "Bugtool report missing in RuntimeFQDNPolicies Implements matchPattern: "*""
See https://jenkins.cilium.io/job/cilium-master-runtime-kernel-4.9/2247/ and it's artifact
[ad391c17_RuntimeFQDNPolicies_Implements_matchPattern _ .zip](https://github.com/cilium/cilium/files/6752652/ad391c17_RuntimeFQDNPolicies_Implements_matchPattern._.zip)

In the logs, we can find:
[code]

This is probably due to the asterisk. I'll send a fix later today.

[2021-07-02 06:49] pchaigno commented on #16741
Once https://github.com/cilium/cilium/issues/16754 (missing bugtool) is fixed, we can check if it's the same root cause.

[2021-07-02 06:50] ChaosEternal commented on #16736
can you say something more?
for example, the /run/cilium/state/710/bpf_lxc.o defined several functions:
[code]
how can I tell which function is the prog I found in the first post?

[2021-07-02 06:55] pchaigno commented on #16699
**Please post here if you see this happen again.** We should have more logs now that #16700 is merged.

[2021-07-02 07:16] ChaosEternal commented on #16736
A related problem is according to the doc, the bpf_redir.c and bpf_sockops. are   also used, but I can't find the related .o files under /var/run/cilium/state, does this mean these two files are not loaded?

[2021-07-02 08:52] pchaigno commented on #16713
**Please post here if you hit this again.** The next failures should have more information thanks to #16748.

[2021-07-02 09:27] jibi commented on #9207
Following up on yesterday discussion I did run some tests to shed some light on how Cilium is currently managing different protocols on the same port.

I tested 2 different cases:
* single service with multiple protocols on the same port. `kube-dns` is a good example, with `53/UDP` and `53/TCP`:
[code]
* multiple services listening on the same port (but different protocol). For this case I created

[2021-07-02 10:43] Ankurk99 commented on #16751
I would like to work on this issue.

[2021-07-02 12:27] brb opened #16757 "datapath: Loading with iproute2+libbpf"
The list of tasks which needed in order to switch to loading BPF programs with libbpf via iproute2 (https://github.com/cilium/cilium/pull/15136):

- [x] Prefix section names of bpf_sock with `cgroup/`.
- [x] Switch to the old approach of handling .bss/.data sections for the static-data (https://github.com/cilium/libbpf/commit/93497fb759b48b087518ce568fb87b64a46157dd). The change requires us to mai

[2021-07-02 13:13] mcarbonneaux commented on #16746
in fact with pod with 3 replicas, i receive traffic at random on each replica (i print the replica name in the response).
i've not tested the death of replica, because they not work on alive replica...

[2021-07-02 13:14] mcarbonneaux commented on #16746
the maglev afinity is done per tcp connection ? or per client ip ?

[2021-07-02 13:31] pchaigno commented on #16713
This flake happened for the first time on v1.9 with backport PR https://github.com/cilium/cilium/pull/16744, which backports https://github.com/cilium/cilium/pull/16391. So maybe that last PR introduced this flake?

[2021-07-02 13:40] pchaigno commented on #16746
The former. You can find an explanation of Maglev at https://cilium.io/blog/2020/11/10/cilium-19#maglev.

[2021-07-02 13:40] pchaigno commented on #16751
I assigned you :rocket:

[2021-07-02 13:45] aditighag commented on #16751
@Ankurk99 👍 Please reach out on Slack if you have any questions. Also, I would suggest waiting  until https://github.com/cilium/cilium/pull/16656 is merged to avoid having conflicts.

[2021-07-02 15:00] #16725 closed

[2021-07-02 15:17] brb commented on #16746
Also, this is a good resource to understand Maglev: https://storage.googleapis.com/pub-tools-public-publication-data/pdf/44824.pdf.

Anyway, if you want to send a request to the same service backend, then you need to reuse the client IP and port and the same service VIP.

Considering this, I think we can close the issue.

[2021-07-02 15:17] #16746 closed

[2021-07-02 15:49] brb commented on #15769
@ti-mo Maybe you have chance to validate the fix?

[2021-07-02 16:05] brb commented on #16669
@clrxbl I suggest to check which counters increase during the upgrade - `cilium metrics list | grep drop_count` and `iptables-save -c`.

[2021-07-02 17:41] joestringer commented on #14955
Just linking in issue https://github.com/cilium/cilium/issues/16717 here, seemed like a case where if we had a mix of endpoints with endpoint-routes enabled + endpoint-routes disabled, it could cause forwarding issues between the endpoints. One longer-term approach to solving that issue is to support endpoints in different modes concurrently. An alternative approach would be to support endpoint ro

[2021-07-02 22:59] pchaigno commented on #16713
According to [DataStudio](https://datastudio.google.com/s/ilnt9y7v7Js), this flake started happening on June 24th:
![image](https://user-images.githubusercontent.com/1764210/124334653-0d533180-db98-11eb-9d01-a6a1faf94548.png)

So https://github.com/cilium/cilium/pull/16391, which was merged on June 29th, is not to blame here.

https://github.com/cilium/cilium/pulls?q=is%3Apr+is%3Aclosed+merged%3A2

[2021-07-03 23:21] aanm commented on #16713
yep I also believe it's being caused by #16529. I'll revert it and open a PR without it.

[2021-07-04 04:59] vincentmli commented on #16517
I am back and continued to investigate the issue, here is another diff that worked without commenting out ipv4_l3 in ENABLE_ROUTING, instead I moved ifdef ENABLE_ROUTING
block before ifdef TUNNEL_MODE, the reason is I noticed the **_fp-200=pkt_**  became **_fp-200=inv_** after instruction from 2345 to 2355, meaning rewriting the ctx dmac somehow invalidated fp-200, and result in

<pre>
level=warni

[2021-07-04 21:18] h3llix commented on #14638
@pchaigno I need help with testing the PR. For development I added xfrm states on my local machine but I was unable able to test it with cilium.

[2021-07-05 04:49] ybialik commented on #16375
guys, any update on this one?

[2021-07-05 04:50] ybialik commented on #16667
any update on this?

[2021-07-05 05:14] alex1989hu opened #16771 "mount-cgroup nsenter: failed to execute sh: No such file or directory"
## Bug report

**General Information**

Wanted to upgrade Cilium from `1.10.1` to `1.10.2` but `cilium` Pod, `mount-cgroup` container fails with message:

thus `cilium` Pod Status is `Init:CrashLoopBackOff`, Exit Code:  127.

- Cilium version (run `cilium version`)
1.10.2
- Kernel version (run `uname -a`)

- Orchestration system version in use (e.g. `kubectl version`, ...)

Server Version: version

[2021-07-05 05:38] aditighag commented on #16771
Thanks for the report.

This is the relevant [code](https://github.com/cilium/cilium/blob/master/install/kubernetes/cilium/templates/cilium-agent-daemonset.yaml#L390). I'm not sure why `sh` would be missing since we use cilium image for the init container. We also didn't see this error in any of our tests.

If you need a workaround in the meantime, you can disable `auto mount, see the note in the

[2021-07-05 05:54] alex1989hu commented on #16771
Can you run which sh on your host? Also, what's the output of echo $PATH?

In Talos we do not have interactive shell, thus I can not execute either `echo` or `which` command.

On the other hand, I started interactive shell in `cilium` Pod: `cilium-agent` container.

Is `cgroup2` there? - Yes
[code]

Check the particular command copied from Helm Chart:

[code]

[2021-07-05 06:04] aditighag commented on #16771
I'm not familiar with Talos. Are you able to edit the cilium agent daemonset yaml, and replace `sh` with `/bin/sh`? Does that fix the problem?

[2021-07-05 07:36] ybialik commented on #16550
@pchaigno I upgraded to 1.10.2 and now I have a clearer message in the kubectl describe pod:

Failed to create pod sandbox: rpc error: code = Unknown desc = failed to set up sandbox container "ede16d4f3c9626b5adc140c16e103c2ac03d6f9b0e62db5d9f93fef0e9480ab7" network for pod "production-stateless-trail-writer-service-aws-775687f9b5-2g2wf": networkPlugin cni failed to set up pod "production-stateles

[2021-07-05 08:48] pchaigno commented on #16659
According to [the CI dashboard](https://datastudio.google.com/s/jmn3FXS9X04), could be the same root cause as https://github.com/cilium/cilium/issues/16713#issuecomment-873293963, since it started failing more often around the same time (June 24th).

![image](https://user-images.githubusercontent.com/1764210/124443905-5e247f00-dd7e-11eb-80ea-2539f2e6d017.png)

[2021-07-05 08:50] pchaigno commented on #16724
According to [the CI dashboard](https://datastudio.google.com/s/oDAvmgk_Baw), could be the same root cause as https://github.com/cilium/cilium/issues/16713#issuecomment-873293963 since it started failing around the same time (June 24th):
![image](https://user-images.githubusercontent.com/1764210/124444288-ba879e80-dd7e-11eb-8810-fc17fc31dff8.png)

[2021-07-05 08:58] mcarbonneaux commented on #16746
you use maglev between external ip and cluster ip ? not between cluster ip and pod replica ?

[2021-07-05 09:02] pchaigno commented on #16095
Likely fixed by https://github.com/cilium/cilium-cli/pull/373.

[2021-07-05 09:02] #16095 closed

[2021-07-05 09:02] pchaigno commented on #16096
Likely fixed, we've had a lot of flow validation improvements in cilium-cli's recent versions.

[2021-07-05 09:02] #16096 closed

[2021-07-05 09:07] brb commented on #16746
You can use Maglev only for traffic coming from outside cluster to services (LoadBalancer, NodePort and externalIP). See https://cilium.io/blog/2020/11/10/cilium-19#maglev-load-balancing for more details.

[2021-07-05 09:09] pchaigno commented on #14638
@h3llix Let's discuss it on Slack; it will be easier to troubleshoot. Can you open a thread with the specific issues you hit?

[2021-07-05 09:14] mcarbonneaux commented on #16746
i know but my question is from outside to the replicat set, to correctly understand the path where the traffic go on...

[2021-07-05 09:31] brb commented on #16746
After a node received a request from outside, it selects a service endpoint, does DNAT and then forwards a request to a node which runs the endpoint.

[2021-07-05 09:46] pchaigno opened #16776 "CI: K8sServicesTest Checks service across nodes with L4 policy Tests NodePort with L4 Policy"
https://jenkins.cilium.io/job/cilium-master-k8s-1.18-kernel-4.9/932/testReport/junit/Suite-k8s-1/18/K8sServicesTest_Checks_service_across_nodes_with_L4_policy_Tests_NodePort_with_L4_Policy/
[1b0ecc8a_K8sServicesTest_Checks_service_across_nodes_with_L4_policy_Tests_NodePort_with_L4_Policy.zip](https://github.com/cilium/cilium/files/6763307/1b0ecc8a_K8sServicesTest_Checks_service_across_nodes_with_L

[2021-07-05 09:46] pchaigno opened #16777 "CI: K8sServicesTest Checks service across nodes Tests NodePort (kube-proxy) with externalTrafficPolicy=Local"
https://jenkins.cilium.io/job/cilium-master-k8s-1.21-kernel-4.9/537/testReport/junit/Suite-k8s-1/21/K8sServicesTest_Checks_service_across_nodes_Tests_NodePort__kube_proxy__with_externalTrafficPolicy_Local/
[c2db7e4b_K8sServicesTest_Checks_service_across_nodes_Tests_NodePort_(kube-proxy)_with_externalTrafficPolicy=Local.zip](https://github.com/cilium/cilium/files/6763309/c2db7e4b_K8sServicesTest_Ch

[2021-07-05 09:52] mcarbonneaux commented on #16746
when select a service endpoint is her you use maglev to forward the traffic to the service endpoint ?
them when the service endpoint selected are on other node, you encapsulate the trafic to this node, or you DNAT before and after use simple routing to the node ?
when reply to the client you SNAT with the VIP to reply directly to the client ?

[2021-07-05 10:02] pchaigno commented on #16724
**Please post here if you hit this again.** The next failures should have more information thanks to #16748.

[2021-07-05 11:26] gandro commented on #16636
Closing, the CLI has been bumped in Cilium in #16689.

There are potentially other causes for the port-forward to not work, but the one which was the root cause for this issue has been fixed.

[2021-07-05 11:26] #16636 closed

[2021-07-05 12:30] nbusseneau commented on #16180
Also observed in https://jenkins.cilium.io/view/Race%20Detection/job/cilium-master-k8s-1.21-kernel-4.9-race-detection/129/
Artifacts:
[52b02235_K8sDatapathConfig_Encapsulation_Check_connectivity_with_VXLAN_encapsulation.zip](https://github.com/cilium/cilium/files/6764172/52b02235_K8sDatapathConfig_Encapsulation_Check_connectivity_with_VXLAN_encapsulation.zip)

[code]

[2021-07-05 12:33] aanm commented on #16722
Duplicated of https://github.com/cilium/cilium/issues/16664

[2021-07-05 12:33] #16722 closed

[2021-07-05 13:07] aanm commented on #16300
@yuriydzobak can you check with 1.10.2 to see if the issue still persists?

[2021-07-05 13:08] aanm commented on #16236
@cocatrice can you check with 1.10.2 to see if the issue still persists?

[2021-07-05 13:16] #16713 closed

[2021-07-05 13:16] #16724 closed

[2021-07-05 13:16] #16741 closed

[2021-07-05 13:16] #16659 closed

[2021-07-05 15:42] aanm commented on #16771
Talos does not seem to come with any shell `docker export $(docker create ghcr.io/talos-systems/talos:v0.10.4) | tar tf - | grep sh`

[2021-07-05 16:16] bmcustodio opened #16790 "Egress bandwidth limits not enforced"
## Bug report

Egress bandwidth limits do not seem to be enforced on an EKS cluster in ENI mode:

[code]

The contents of `cilium-config` (not sure if important, but WireGuard was previously enabled in this cluster):

[code]

Info requested by @borkmann:

[code]

**General Information**

- Cilium version (run `cilium version`)

[code]

- Kernel version (run `uname -a`)

[code]

- Orchestration sys

[2021-07-05 16:21] renaudhager commented on #16488
Hi @pchaigno,

I have the same issue on my EKS cluster:

[code]

As you can see it's not all nodes. Cilium has been installed by using `helm` to generate a template and then the template is applied using `kubectl`.

EKS version:
[code]

helm values file:
[code]

Let me know if you need anything else.

[2021-07-05 17:04] pchaigno commented on #16488
@renaudhager Thanks for the report! Could you please share a sysdump of that cluster?

[2021-07-05 17:05] dungdm93 opened #16792 "refactor and cleanup cilium helm chart"
As a suggestion of @gandro in #16752, this is meta issue to track progress of helm chart refactoring

---
Cilium helm charts is quite large (>70 files) with lots of components but all that file are in flatten structure. Some how, it make hard to organized and hard to add new feature. So this PR aim to refactor and cleanup cilium helm chart with following notable changes:
1. **Restructure folder**:

[2021-07-05 19:28] #16753 closed

[2021-07-05 19:28] #16754 closed

[2021-07-05 22:03] aanm opened #16798 "Add log file for CNI executions"
Without the access to kubelet and / or container runtime logs, right now it's not possible to know when CNI executions are made into `cilium-cni`. It would be nice to export these logs into a specific log file (`/run/cilium/cilium-cni.log`), with log rotation, which would store all the CNI executions including log messages in there. When implementing this, take into account that `cilium-cni` binar

[2021-07-06 02:49] aanm opened #16800 "v1.8 kube-proxy=disabled complexity issue"
[code]

[code]

Cilium v1.8 branch - 823648114f0378998f2eb9df74be7e54a08f490f

[code]

[2021-07-06 05:04] aditighag commented on #16771
@alex1989hu I assume you ran this command on the host (i.e. the kubernetes node where cilium agent pod is deployed)?

If you don't have `sh` installed on your kubernetes nodes, you can disable auto mount as documented in the guide - https://docs.cilium.io/en/latest/gettingstarted/kubeproxy-free/#quick-start.

You can check if cgroup2 filesystem is mounted on your host by running - `mount | grep cg

[2021-07-06 05:50] vishjain commented on #16798
New to the project, can I try out this ticket? Thanks!

[2021-07-06 10:19] renaudhager commented on #16488
Will do later today.

[2021-07-06 12:57] ArthurChiao opened #16805 "cilium-operator: only GC identities of its own cluster"
## Proposal / RFE

### Problem statement

With kvstore (etcd) as identity allocator, `cilium-operator` is responsible for garbage collecting the identity master keys (`cilium/states/identites/v1/id/<id>`). If **multiple cilium clusters share a same kvstore** (not a usual case, and should be avoided in most scenarios), there would be race conditions as multiple cilium-operators try to GC the same s

[2021-07-06 13:08] twpayne commented on #14598
Similar variant hit in #16774:

[code]

and

[code]

Test run: https://jenkins.cilium.io/job/Cilium-PR-K8s-1.17-kernel-4.9/267/
[f3269436_K8sKafkaPolicyTest_Kafka_Policy_Tests_KafkaPolicies.zip](https://github.com/cilium/cilium/files/6770218/f3269436_K8sKafkaPolicyTest_Kafka_Policy_Tests_KafkaPolicies.zip)
[92854bf0_K8sHubbleTest_Hubble_Observe_Test_FQDN_Policy_with_Relay.zip](https://github.com/c

[2021-07-06 13:13] pchaigno commented on #14598
This last report is another case of https://github.com/cilium/cilium/issues/16717#issuecomment-871748370. The original report in this issue wasn't. Given the timings, I suspect the report by Chris was also https://github.com/cilium/cilium/issues/16717#issuecomment-871748370.

[2021-07-06 14:06] aanm commented on #16798
@vishjain sure, let us now if you need any help with it. We are in the #development channel of http://slack.cilium.io

[2021-07-06 16:14] renaudhager commented on #16488
@pchaigno Where I can upload the dump?

[2021-07-06 19:07] joestringer commented on #16517
@vincentmli it's a bit tricky to fully understand the difference of moving the `ipv4_l3()` further up but I'd be nervous about making such a change without exploring the implications; I'm sure that it's in the current place for a reason. That said, this is an interesting datapoint. In particular I'm curious how the code ended up with a `ctx_store_bytes()` at offset 0 immediately prior to your new

[2021-07-06 19:07] joestringer commented on #16571
Duplicate of https://github.com/cilium/cilium/issues/16571, closing.

[2021-07-06 19:07] #16571 closed

[2021-07-06 19:31] pchaigno commented on #16776
**Please post here if you this flake again.** Now that https://github.com/cilium/cilium/pull/16778 is merged, we should have more information to debug in the artifacts.

[2021-07-06 19:31] pchaigno commented on #16777
**Please post here if you this flake again.** Now that https://github.com/cilium/cilium/pull/16778 is merged, we should have more information to debug in the artifacts.

[2021-07-06 19:40] helix-loop opened #16812 "Unable to run cilium 1.10.2 via helm on ppc64le"
## Bug report

Trying to "Validate the Installation" I get the following errors:

NAME                              READY   STATUS                  RESTARTS   AGE
cilium-xyz                       0/1     Init:ImagePullBackOff   0          63m
cilium-operator-xyza       0/1     ImagePullBackOff        0          63m
cilium-operator-xyzb       0/1     Pending                 0          63m
coredns-a

[2021-07-06 19:56] pchaigno commented on #16812
At the moment, yes, it is not supported.

[2021-07-06 21:23] pchaigno commented on #16488
Can you attach it to a comment in this issue?

[2021-07-06 21:30] vincentmli commented on #16517
@joestringer I am not sure why compiler put **_return ctx_store_bytes(ctx, off, mac, ETH_ALEN, 0);_** before **_if (eth_store_daddr(ctx, (__u8 *) &vtep_mac.addr, 0) < 0)_**,  ctx_store_bytes appears coming from

<pre>
static __always_inline int eth_store_daddr_aligned(struct __ctx_buff *ctx,
                                                   const __u8 *mac, int off)
{
        return ctx_store_byt

[2021-07-06 22:34] vincentmli commented on #16517
@joestringer
follow your lead on ctx_store_bytes(), I enabled CTX_DIRECT_WRITE_OK to skip **_return eth_store_daddr_aligned(ctx, mac, off);_**, it worked again without moving up **_ipv4_l3()_**, here is the diff

<pre>
diff --git a/bpf/include/bpf/ctx/skb.h b/bpf/include/bpf/ctx/skb.h
index 49bdf534c..1a18eace8 100644
--- a/bpf/include/bpf/ctx/skb.h
+++ b/bpf/include/bpf/ctx/skb.h
@@ -27,7 +27,7 @

[2021-07-06 22:58] joestringer opened #16813 "CI: Suite-k8s-1.16.K8sPolicyTest Multi-node policy test with L7 policy using connectivity-check to check datapath"
## Suite-k8s-1.16.K8sPolicyTest Multi-node policy test with L7 policy using connectivity-check to check datapath

https://jenkins.cilium.io/job/Cilium-PR-K8s-1.16-net-next/1010/testReport/junit/Suite-k8s-1/16/K8sPolicyTest_Multi_node_policy_test_with_L7_policy_using_connectivity_check_to_check_datapath/

Looks very similar to #15459.

<h3 style="box-sizing: border-box; outline: 0px; font-family: R

[2021-07-06 23:11] aanm opened #16814 "Unable to run Cilium 1.10.2 in minikube on Fedora : mounting "/proc/1/ns" ... caused: permission denied: unknown"
[code]

[code]

[code]

[code]

cc @aditighag

[2021-07-06 23:31] aditighag commented on #16814
I'm unable to reproduce this issue on the dev VM. Does mounting `/proc` instead of `/proc/1/ns` in the cilium-daemonset solve the issue?

[code]

[2021-07-06 23:58] vincentmli commented on #16517
@borkmann I found your commit change on this, do you have better idea on this ?

<pre>
commit 9c85721783447e10e359f723a1ee7d465c704ccc
Author: Daniel Borkmann <daniel@iogearbox.net>
Date:   Wed Apr 22 02:37:07 2020 +0200

    bpf: optimized memcpy/memzero with dw-wide copies

    While checking some of the xlated code from XDP side, I recently
    noticed __builtin_memcpy() patterns like:
</pre>

[2021-07-07 00:14] joestringer commented on #16814
Another datapoint, Ubuntu 20.10 with K8s v1.20.7 seems to work OK:

[code]

[2021-07-07 00:25] cocatrice commented on #16236
It does seem to be getting stable since I upgrade yesterday, I will still keep an eye on it and see how it goes in next few days in a busier cluster. However I saw the pull request got reverted and being reworked in #16801 , is that saying 1.10.2 with the original commit (which got reverted now) is not safe to use/introduce other bugs? @aanm

[2021-07-07 01:49] aditighag commented on #16814
André confirmed that that works. I've sent a fix for review.

@aanm It'll be good to understand where the error is coming from though. Can you attach minikube logs from your failed cluster?

[2021-07-07 01:56] aanm commented on #16814
[code]

it's likely caused by selinux, but I'm unable to confirm this at the moment/

[2021-07-07 02:42] scopher128 commented on #6907
is there any future plan for the sctp supporting (the least requirement is to allow sctp traffic go through)?

[2021-07-07 04:17] vincentmli commented on #15852
reference https://github.com/cilium/cilium/issues/16517

[2021-07-07 04:17] #15852 closed

[2021-07-07 04:18] vincentmli commented on #16462
reference https://github.com/cilium/cilium/issues/16517

[2021-07-07 04:18] #16462 closed

[2021-07-07 05:09] aditighag commented on #16771
@alex1989hu Can you try this cilium image - quay.io/cilium/cilium-ci:865635fb4ed3cffea69359eb79d3fd89cdcb4cd2. This image has a fix.

(In case you need to also specify cilium-operator image - quay.io/cilium/operator-generic-ci:865635fb4ed3cffea69359eb79d3fd89cdcb4cd2)

[2021-07-07 05:24] christarazi opened #16816 "Make it easier to check the status of chaining mode"
It would be helpful know the status of chaining mode. With this sort of visibility, it could be useful as clue to the user that something has gone wrong when they've configured Cilium with chaining. A simple field in `cilium status` for chaining status could be enough, e.g.`chaining` or `non-chaining`.

[2021-07-07 08:35] ti-mo commented on #14655
This still needs to be investigated further.

[2021-07-07 08:43] pchaigno commented on #16813
There was a connection established on the same source port (41002) as the CrashLooping pod:
[code]

Maybe we should just listen on a non-ephemeral port instead (<32768)?

[2021-07-07 09:28] renaudhager commented on #16488
Hi @pchaigno,

Here is the sysdump.

[cilium-sysdump-20210706-170028.zip](https://github.com/cilium/cilium/files/6776031/cilium-sysdump-20210706-170028.zip)

[2021-07-07 12:51] ti-mo commented on #15769
Thanks, will do and report back. :+1:

[2021-07-07 12:52] pchaigno commented on #16632
**Please post here if you hit this again.** We should now have more information to debug thanks to https://github.com/cilium/cilium/pull/16775.

[2021-07-07 14:41] alex1989hu commented on #16771
@aditighag: I created k8s manifest from #16815 ref: 865635fb4ed3cffea69359eb79d3fd89cdcb4cd2 with images you wrote.

Created new Talos cluster /1 control-plane, 1 worker/ with the same version as in OP. There was no error.

Looks healthy:

![image](https://user-images.githubusercontent.com/10764100/124779203-de471200-df41-11eb-89bc-6e49312f89ef.png)

[2021-07-07 15:06] Purushotham233 commented on #16520
@christarazi fix in #16672 does it removes the additional IPs assigned to the cilium_host interface? Or a separate clean-up is needed?

[2021-07-07 15:27] jayunit100 commented on #16622
yay thanks !

[2021-07-07 15:41] Smana commented on #15393
Having the same issue here, did you managed to get it work @mmochan please ?

[2021-07-07 16:36] aditighag commented on #15393
I think should be fixed by - https://github.com/cilium/cilium/pull/16656.

[2021-07-07 19:28] #15997 closed

[2021-07-07 21:06] pchaigno opened #16823 "Support L7 visibility annotations for Ingress DNS"
[Ingress DNS visibility annotations](https://docs.cilium.io/en/latest/policy/visibility/#proxy-visibility) aren't supported yet, mostly because there is no use case for it today.

[2021-07-07 22:55] mmochan commented on #15393
@Smana - I haven't had a chance to test this yet.

[2021-07-07 23:01] aanm commented on #15393
@Smana the error you are getting is probably this one https://github.com/cilium/cilium/issues/16771 which will be fixed in 1.10.3

Everything should work as fine in 1.10.1 if you deploy Cilium following these instructions: https://github.com/bottlerocket-os/bottlerocket/issues/1405#issuecomment-855085306

[2021-07-07 23:10] aditighag commented on #15393
@aanm It's not the same issue. The error is coming from node-init script.

nsenter: failed to execute bash: No such file or directory
!!! startup-script failed! exit code '127'
stream closed

[2021-07-07 23:12] aanm commented on #16236
@cocatrice it was reverted but it will be fix again by #16801. It is still safe to use, the overall issue is that pods might not be able to communicate for 1-2 seconds as soon as a FQDN policy is deployed.

[2021-07-08 01:26] ArthurChiao commented on #16805
For your reference: a draft PR is created in #16825. Thanks!

[2021-07-08 01:50] aanm commented on #15393
@aditighag that error is from the PR description, we don't know which error @Smana actually saw.

[2021-07-08 07:11] Smana commented on #15393
Hello, yes this is  related to the init pod

[code]

[2021-07-08 08:55] zhangjianghua opened #16826 "snat port and nodeport conflict"
## Bug report

**General Information**

- Cilium version (run `cilium version`)

     Daemon: 1.8.2 aa42034f0 2020-07-23T15:02:39-07:00 go version go1.14.6 linux/amd64

- Kernel version (run `uname -a`)

- Orchestration system version in use (e.g. `kubectl version`,

Server Version: version.Info{Major:"1", Minor:"16", GitVersion:"v1.16.3", GitCommit:"b3cbbae08ec52a7fc73d334838e18d17e8512749", GitT

[2021-07-08 09:00] #16826 closed

[2021-07-08 09:01] zhangjianghua opened #16827 "snat port and nodeport conflict"
## Bug report

**General Information**

- Cilium version (run `cilium version`)

     Daemon: 1.8.2 aa42034f0 2020-07-23T15:02:39-07:00 go version go1.14.6 linux/amd64

- Kernel version (run `uname -a`)

- Orchestration system version in use (e.g. `kubectl version`,

Server Version: version.Info{Major:"1", Minor:"16", GitVersion:"v1.16.3", GitCommit:"b3cbbae08ec52a7fc73d334838e18d17e8512749", GitT

[2021-07-08 12:55] aanm commented on #15393
@Smana did you deploy Cilium following these instructions: https://github.com/bottlerocket-os/bottlerocket/issues/1405#issuecomment-855085306?

[2021-07-08 13:18] brb opened #16828 "CI: L4LB XDP suite times out on Fedora : mounting "/proc/1/ns" ... caused: permission denied: unknown"
The suite is failing on master:
[code]
https://github.com/cilium/cilium/runs/3010343837?check_suite_focus=true

To reproduce:
[code]
Wait until test.sh fails. Then:
[code]

[2021-07-08 15:45] aditighag commented on #16828
@brb What's 8c3c917f14cde685d6ded0711f57d5f3cf280e4f?

[2021-07-08 15:53] gandro commented on #16494
Upon closer inspection, this particular error here is not caused by the ENI device not being attached. The error I had in mind that would be fixed by some form of `waitForNetlinkDevices` would be this one here:
https://github.com/cilium/cilium/blob/5839d2322f3b691e419fcad25a01c29373d96996/pkg/datapath/loader/base.go#L171

What's happening on the above log line however is different: It happens when

[2021-07-08 16:15] aditighag opened #16832 "L4LB workflow doesn't collect sysdump on failures"
Here is the link to the GH action workflow - https://github.com/cilium/cilium/blob/master/.github/workflows/tests-l4lb.yaml.

/cc @brb

[2021-07-08 18:28] aditighag commented on #16828
Should be resolved by - https://github.com/cilium/cilium/pull/16815. But I'm having trouble running the ci-l4lb job - https://github.com/cilium/cilium/pull/16833.

[2021-07-08 18:58] aditighag commented on #16828
I was able to verify that the fix works by using the image from my PR - `./test.sh cilium 6048567e3fa82aa23f871039d283ab91c33caa92`. I've opened [this PR](https://github.com/cilium/cilium/issues/16828) on the upstream PR to get link to a successful job link, but I'm not able to run the ci-l4lb job.

[2021-07-08 19:29] joestringer commented on #13366
Reopening since we reverted the fix. Proposed new solution is presented here:
https://github.com/cilium/cilium/pull/16786#issuecomment-876491875

[2021-07-08 21:28] aditighag commented on #16828
This is a dup of https://github.com/cilium/cilium/issues/16814 as the l4lb job also runs Fedora.

[2021-07-08 21:35] joestringer commented on #11767
@h3llix are you still planning to propose a fix for this one?

[2021-07-08 22:57] #16771 closed

[2021-07-08 22:57] #16814 closed

[2021-07-08 23:03] #16828 closed

[2021-07-09 03:50] zhangjianghua commented on #16827
It seems that when using Kube-proxy, iptables will cause the port range of the kernel to do not take effect.
Remove Kube-proxy and iptables -F, TCPDUMP capture won't use the port between 30000-32767
![image](https://user-images.githubusercontent.com/22954271/125020612-c12e5280-e0ab-11eb-9752-32b04cf21a81.png)

[2021-07-09 06:28] jrajahalme opened #16838 "CI: K8sServicesTest Checks service across nodes Tests NodePort BPF BPF NAT engine handles unknown protocol packets Should not drop SCTP packets"
In https://jenkins.cilium.io/job/Cilium-PR-K8s-1.20-kernel-4.19/918/testReport/junit/Suite-k8s-1/20/K8sServicesTest_Checks_service_across_nodes_Tests_NodePort_BPF_BPF_NAT_engine_handles_unknown_protocol_packets_Should_not_drop_SCTP_packets/:
[code]
The problem here is that iperf transmits no data (0 bytes), which is not greater than 0.

Test output (stderr) shows that iperf3 fails with an error:
[

[2021-07-09 07:11] jrajahalme commented on #16375
This is likely fixed by https://github.com/cilium/cilium/pull/16834, would be great if you could validate that.

A workaround would be to not configure `--proxy-prometheus-port` until this fix is in.

[2021-07-09 07:28] pchaigno commented on #16838
### Initial Analysis

`iperf3-server-9pf5x`, the source pod is on k8s2, with IP address 192.168.36.12. It's trying to reach 192.168.36.11 so we don't have any visibility on that traffic (BPF programs are attached on native devices but monitor aggregation is enabled so no `{to,from}-network` traces).
<br>

According to `test-output.log`, the iperf3 client failed with:
[code]
The server failed with:

[2021-07-09 08:39] gandro commented on #16667
Cross-posting from https://github.com/cilium/cilium/issues/16375#issuecomment-876968691

[2021-07-09 09:45] h3llix commented on #11767
Hi @joestringer. Srry I completely forgot about this issue. Currently I am looking into two issues as my gsoc project.

If someone could provide a solution to this, that would be really helpful as i am still busy with the project.

[2021-07-09 10:26] adityabond commented on #13284
this is fixed by #13263

[2021-07-09 10:26] #13284 closed

[2021-07-09 10:27] adityabond commented on #13284
Hi @errordeveloper,  this was fixed by #13263.

[2021-07-09 13:33] pchaigno commented on #16668
LLVM 12.0.1 has the same issue:
[code]

It's also not fixed in LLVM's main branch (https://github.com/llvm/llvm-project/commit/9a01527):
[code]

[2021-07-09 15:04] tklauser opened #16843 "Allow to build certain packages on non-Linux platforms"
Following up on https://github.com/cilium/cilium/pull/16679#pullrequestreview-700694405

While building Cilium itself only makes sense for Linux, certain packages are imported by other projects - namely hubble and cilium-cli. These projects are also built for other platforms, mainly macOS and Windows. Moreover, some Cilium developers use macOS and might want to be able to at least build and unit t

[2021-07-09 16:26] sugangli opened #16844 "CI: Maglev unit test failing on newer kernels with: `update failed: invalid argument`"
## CI failure
I observed the failure in gke presubmit unit test while merging the oss cilium with gke internal one:

[code]
I was able to reproduce this on my local setup:
[code]
@pchaigno was able to reproduce this failure on his setup, and found out the current CI skipped this test since the test VM had an old kernel(4.9).

The kernel I am using is :5.10.40-1rodete1-amd64.
I am also attaching th

[2021-07-09 19:30] joestringer commented on #16376
Do we have CI coverage for this issue now?

[2021-07-09 20:55] oblazek commented on #14509
@NeilW has a point guys.. I have been investigating this for a while and the problem is with the shared codebase of icmpv6. All bpf programs (including to/from-netdev - attached to eth0/ens3) use the same methods for icmp handling. All end up here.. https://github.com/cilium/cilium/blob/master/bpf/lib/icmp6.h#L51 and use https://github.com/cilium/cilium/blob/master/bpf/lib/icmp6.h#L64 - `router_ip

[2021-07-09 21:50] joestringer opened #16846 "Cilium latest doesn't handle "network-unavailable" taint correctly"
CI run on basically master, only test changes:

https://github.com/cilium/cilium/actions/runs/1013243149

This taint was never removed from the nodes:
[code]

So pods get stuck in "Pending" state:

[code]

Looks like an issue with https://github.com/cilium/cilium/pull/16631 .

[2021-07-09 22:02] aditighag opened #16847 "CI: Suite-k8s-1.21.K8sPolicyTest Multi-node policy test with L7 policy using connectivity-check to check datapath"
[code]

https://jenkins.cilium.io/job/Cilium-PR-K8s-1.21-kernel-4.9/1020/testReport/junit/Suite-k8s-1/21/K8sPolicyTest_Multi_node_policy_test_with_L7_policy_using_connectivity_check_to_check_datapath/

All the pods got to a running state , except -

[code]

Both these pods had containers that failed to curl the same clusterIP service -

[code]

But the backend pod is already running and `echo-a` h

[2021-07-10 22:03] briantopping commented on #9207
Thank you for your work on this. Is there anything others can help with?

[2021-07-11 11:21] ybialik commented on #16375
Thanks @jrajahalme !

[2021-07-11 11:22] ybialik commented on #16667
thanks @gandro  I will see if we can check the workaround

[2021-07-11 20:50] #12491 closed

[2021-07-11 20:50] #14564 closed

[2021-07-11 20:50] #13827 closed

[2021-07-11 20:50] #14608 closed

[2021-07-11 20:50] #14438 closed

[2021-07-11 20:50] #14569 closed

[2021-07-11 20:50] #12740 closed

[2021-07-11 20:50] #10976 closed

[2021-07-11 20:50] #14875 closed

[2021-07-11 20:50] #14900 closed

[2021-07-11 20:50] #14775 closed

[2021-07-11 20:50] #14437 closed

[2021-07-11 20:50] #15843 closed

[2021-07-11 20:50] #5279 closed

[2021-07-11 20:50] #14406 closed

[2021-07-11 20:50] #15638 closed

[2021-07-11 20:50] #14374 closed

[2021-07-11 20:50] #14377 closed

[2021-07-11 20:50] #14430 closed

[2021-07-11 20:50] #14290 closed

[2021-07-12 05:05] oblazek commented on #14509
Yeah this I can confirm (also native routing / tunnel disabled) since they use the same bpf program for eth0.

[2021-07-12 06:32] brb commented on #16632
There we go: https://jenkins.cilium.io/job/Cilium-PR-K8s-1.21-kernel-4.9/1015/testReport/junit/Suite-k8s-1/21/K8sBookInfoDemoTest_Bookinfo_Demo_Tests_bookinfo_demo/

[93068172_K8sBookInfoDemoTest_Bookinfo_Demo_Tests_bookinfo_demo.zip](https://github.com/cilium/cilium/files/6799042/93068172_K8sBookInfoDemoTest_Bookinfo_Demo_Tests_bookinfo_demo.zip)

[2021-07-12 07:17] knfoo commented on #16375
@jrajahalme I have run some test during the weekend with `--proxy-prometheus-port` removed.

It seems that the deadlock problem is resolved however there is a bunch of other problems showing up.
I get between 1 and 12 test that fails during my 120 `cilium connectivity test` runs.

I am not sure if you want me to do anything else to validate #16834

I have attached a sysdump from my nodes.
One thin

[2021-07-12 08:42] kkourt commented on #16036
Discussing this offline, it was determined that it's not worth addressing it (at least at this point), since this is a corner case and adding a branch in the datapath code will increase complexity.

[2021-07-12 08:47] #16036 closed

[2021-07-12 08:56] jose-ledesma commented on #16080
/nostale

[2021-07-12 10:28] jrajahalme commented on #14598
Hit again in #16801, but for deathstar:
[code]
service exists:
[code]
So kube-dns should return the clusterIP `10.96.64.211` but apparently it does not.

[2021-07-12 10:34] pchaigno commented on #16717
The fix at https://github.com/cilium/cilium/pull/16767 was not sufficient; https://github.com/cilium/cilium/pull/16835 should fix it.

[2021-07-12 10:35] pchaigno commented on #16632
@brb It's not the same issue (resolution failure vs. connection to service refused). Yours is another case of https://github.com/cilium/cilium/issues/16717#issuecomment-871748370.

[2021-07-12 10:36] pchaigno commented on #14598
@jrajahalme Do you have a link to the Jenkins build and maybe the artifact?

[2021-07-12 10:37] gandro commented on #16375
Looking at the sysdumps, it seems that you are indeed not hitting the proxy issue anymore. Do you have particular connectivity tests that are failing? Do the issues persist in Cilium 1.10.2?

The `kubectl logs` error often occurs if there are node connectivity issues (i.e. apiserver not being able to reach kubelet on the node). Did you observe issues between particular nodes?

Might be worth creat

[2021-07-12 11:57] ti-mo commented on #16376
@joestringer There's a draft here: https://github.com/cilium/cilium-cli/pull/251, will rebase.

[2021-07-12 12:53] jrajahalme opened #16852 "CI: K8sDatapathConfig AutoDirectNodeRoutes Check connectivity with sockops and direct routing"
`cilium policy get -o json` returns empty output, causing JSON parsing to fail with `unexpected end of JSON input`.
[code]
[487d5039_K8sDatapathConfig_AutoDirectNodeRoutes_Check_connectivity_with_sockops_and_direct_routing (3).zip](https://github.com/cilium/cilium/files/6801509/487d5039_K8sDatapathConfig_AutoDirectNodeRoutes_Check_connectivity_with_sockops_and_direct_routing.3.zip)

https://jenkin

[2021-07-12 14:29] errordeveloper commented on #15956
I am looking into this now, and have a few questions about setup logic.

Having looked at this line here:

https://github.com/cilium/cilium/blob/887659418c56cf9fb5da393c67a50703fd992f55/bpf/init.sh#L431-L434

I am wondering if I have to pass `dstport` parameter as part of `ip link add` invocation, or I can use `ip link set`?

According to [`ip-link(8)`](https://man7.org/linux/man-pages/man8/ip-lin

[2021-07-12 14:35] brb commented on #16826
@zhangjianghua Was it BPF SNAT?

[2021-07-12 14:49] errordeveloper commented on #15956
Having looked at the source code briefly, it appears that it should be possible to use `up link set`.

[2021-07-12 17:16] edude03 opened #16859 "Single node unable to join local or remote endpoints"
Sorry for the not so informative bug report title, I've been chatting with @pchaigno on slack and he asked that I open a bug report with a sysdump, but since I don't know why it doesn't work it's hard for to come up with a more informative title. Please change it if the issue becomes obvious (or I will if I figured it out)

**General Information**

I have a three node kubernetes v1.21 cluster, pro

[2021-07-12 17:19] #16375 closed

[2021-07-12 17:19] #16667 closed

[2021-07-12 17:25] pchaigno commented on #16859
From Slack: the SYNs or SYN+ACKs of connections to remote health endpoints seem to be lost:
[code]

[2021-07-12 20:03] christarazi opened #16860 "Standard Go style unit testing via `testing` and `go-checker` framework currently used"
(Copied from https://cilium.slack.com/archives/C2B917YHE/p1626113446459700)

Used for tracking pros and cons, and capturing other discussions because Slack will lose history

[2021-07-12 20:10] christarazi commented on #16860
### Std Go style:

Pros:

- More active development
- Subtest support
- Simpler and more familiar with the average Go developer

Cons:

- Lacks consistency in terms of patterns (up to developer to write the comparisons)
  - Mitigation is to use `go-cmp` or `testify`
- Lacks setup / teardown funcs
  - Mitigation is to use `TestMain` for `SetUpSuite` equivalent (https://pkg.go.dev/testing#hdr-Main)

[2021-07-12 22:15] pchaigno commented on #16699
This issue is happening from time to time because `kubectl.GetPrivateIface()` sometimes returns an empty interface name without error:
[code]
Because of that, we fallback to the IPsec interface detection logic. That logic fails to detect the interface in the test VM, as expected.

So it appears the additional information dump in https://github.com/cilium/cilium/pull/16700 isn't actually useful. ht

[2021-07-13 01:41] #15824 closed

[2021-07-13 01:41] #11690 closed

[2021-07-13 01:41] #15619 closed

[2021-07-13 01:41] #15237 closed

[2021-07-13 01:41] #15362 closed

[2021-07-13 01:41] #15703 closed

[2021-07-13 01:41] #10615 closed

[2021-07-13 01:41] #15734 closed

[2021-07-13 01:41] #15729 closed

[2021-07-13 01:41] #15719 closed

[2021-07-13 01:41] #15692 closed

[2021-07-13 01:41] #14497 closed

[2021-07-13 01:41] #15234 closed

[2021-07-13 08:21] #16717 closed

[2021-07-13 08:30] pchaigno commented on #15692
@rustrial Is this still an issue?

[2021-07-13 08:58] GuillaumeSmaha commented on #16667
I tried the workaround (disabling prometheus) and it works :+1:

[2021-07-13 09:56] clrxbl commented on #16669
Not a Cilium issue, see https://github.com/longhorn/longhorn/issues/2650

[2021-07-13 09:56] #16669 closed

[2021-07-13 10:01] jrajahalme commented on #14598
@pchaigno https://jenkins.cilium.io/job/Cilium-PR-K8s-1.21-kernel-4.9/1035/testReport/Suite-k8s-1/21/K8sKafkaPolicyTest_Kafka_Policy_Tests_KafkaPolicies/
[15430c59_K8sKafkaPolicyTest_Kafka_Policy_Tests_KafkaPolicies.zip](https://github.com/cilium/cilium/files/6807897/15430c59_K8sKafkaPolicyTest_Kafka_Policy_Tests_KafkaPolicies.zip)

[2021-07-13 10:02] gandro commented on #16860
To expand on that, this is due to most code of this package originally being developed out of tree. We noticed the discrepancy, but decided it was much work and not much benefit in moving all code to `gochecker`, so we stuck to the Std Go style for that package.

We did run into issues with `testify` (https://github.com/cilium/cilium/issues/12772), so parts of it now use `go-cmp` instead. I'm not

[2021-07-13 10:02] jrajahalme commented on #14598
`kafka-service` has no ClusterIP after 7+ minutes:
[code]

[2021-07-13 10:04] jrajahalme commented on #14598
`app=kafka` POD is up:
[code]

[2021-07-13 10:08] jrajahalme commented on #14598
This would be expected, `ClusterIP: None` in spec designates headless service. So the service spec is OK, butt kube-dns should respond with backend POD IPs, which did not happen in this case.

Also unsure if `cilium service list` should show headless services or not (it is not showing anything for `kafka-service` in this case).

[2021-07-13 12:06] jrajahalme opened #16867 "CI: ConformanceEKS pod-to-service test to echo-same-node fails"
[code]

[code]
Conntrack shows the same three packets having been seen on the datapath, but nothing received:
[code]

kube-proxy iptables rules indicate the ClusterIP for `echo-same-node` should be `10.100.117.216`:
[code]
(The IP used by the test (`10.100.238.192`) is not present in iptables-save).

`cilium-service-list.md` agrees:
[code]

Found from Cilium agent logs:
[code]

based on this a ser

[2021-07-13 12:17] pchaigno commented on #14598
Checking the iptables drops shows it's another case of https://github.com/cilium/cilium/issues/16717#issuecomment-871748370. The fix for that flake was merged this morning so rebasing should catch it :-)

[2021-07-13 12:21] tklauser commented on #16632
Seen on #16806 (k8s-1.16-kernel-netnext):

https://jenkins.cilium.io/job/Cilium-PR-K8s-1.16-net-next/1070/
[15ef216d_K8sBookInfoDemoTest_Bookinfo_Demo_Tests_bookinfo_demo.zip](https://github.com/cilium/cilium/files/6808763/15ef216d_K8sBookInfoDemoTest_Bookinfo_Demo_Tests_bookinfo_demo.zip)

[2021-07-13 14:13] pchaigno commented on #16632
### Symptoms
[code]

### Analysis

The client pod is on k8s2 according to its hostIP, so colocated with cilium-2td2g. We can then get the connection from k8s2 pts of view (timestamps also match):
[code]
Showing the same with IP addresses reveals the client and server are on the same node:
[code]
10.0.1.70 belongs to pod ratings-v1-6bbfd59bf-n4zqq.
<br>

A RST from a server is very puzzling because

[2021-07-13 15:10] pchaigno commented on #16859
The sysdump is missing the bugtool reports which would be useful to rule out any datapath issue.

[2021-07-13 15:45] edude03 commented on #16859
Sorry about that @pchaigno, I ran it from the node that was having issues and it doesn't have permissions to do many of the things it needs for this tool. I reran it from my own computer and it seems to have worked better http://transfer.sh/1Gl1PVG/cilium-sysdump-20210713-114211.zip

[2021-07-13 15:57] pchaigno opened #16870 "Filtering job missing in L4LB test"
The L4LB is missing a filtering job as in other CI 3.0 workflows. As a result, it is running for all PRs, even when it's not needed.

It should be a simple matter of adding something like https://github.com/cilium/cilium/blob/d5ff6879dbc50de93cde07b4e6c87f2581106f34/.github/workflows/conformance-aws-cni.yaml#L62-L98

/cc @nbusseneau @brb

[2021-07-13 18:55] #16632 closed

[2021-07-13 18:58] pchaigno commented on #16852
A couple data points from [our CI dashboard](https://datastudio.google.com/s/r5VAHBAuh6c):
- This flake also occurs in v1.10 [[link]](https://jenkins.cilium.io/job/cilium-v1.10-k8s-1.19-kernel-5.4/33/testReport/junit/Suite-k8s-1/19/K8sDatapathConfig_AutoDirectNodeRoutes_Check_connectivity_with_sockops_and_direct_routing/).
[23c100b4_K8sDatapathConfig_AutoDirectNodeRoutes_Check_connectivity_with_so

[2021-07-14 09:27] jibi commented on #15791
Hit this flake on #16781 (v1.9 backport), I can reproduce it locally with:
[code]

(takes a few runs to hit the flake).

Looking at Cilium logs I see a lot of errors related to the ipcache:

[code]

[2021-07-14 09:33] pchaigno commented on #15791
@jibi Could you link to the failing test and upload the artifacts? :pray:

I'm not sure the warning messages are related; I've seen them in a lot of different tests :disappointed:

[2021-07-14 09:40] jibi commented on #15791
Sure: [Failed run](https://jenkins.cilium.io/job/Cilium-PR-K8s-1.13-kernel-4.9/267/) and [artifacts](https://github.com/cilium/cilium/files/6815078/5025aca1_K8sConformance_Portmap_Chaining_Check_connectivity-check_compliance_with_portmap_chaining.zip)

I also noticed that waiting a bit and killing the pods that were crashing was enough to bring them back to a healthy state:
[code]

[2021-07-14 10:00] pchaigno commented on #15791
@jibi It's a different flake, please open another issue. The original flake is with echo-b-host for which the application fails to listen on port 41000 and the test proceeds, probably because we're missing a readiness probe. In your case, a different pod is failing. We should also block the backport PR until we're able to triage this.

[2021-07-14 10:06] pchaigno opened #16871 "CI: Potential infinite loop during VM provisioning"
`test/kubernetes-test.sh`, used in the k8s-upstream CI job, has an infinite loop which can lead us to only terminate the CI job after the multiple-hours timeout, if the Cilium pods fail to get ready.
https://github.com/cilium/cilium/blob/2acf25391441213966008ff50c13499de05a212d/test/kubernetes-test.sh#L32-L41

We should at least rewrite that to use a bash function and `timeout`.

[provisioning-loo

[2021-07-14 10:24] jibi opened #16873 "[v1.9] CI: K8sConformance Portmap Chaining: connectivity-check pods are not ready after timeout"
First saw in https://github.com/cilium/cilium/pull/16781
* [Failed run](https://jenkins.cilium.io/job/Cilium-PR-K8s-1.13-kernel-4.9/267/)
* [artifacts](https://github.com/cilium/cilium/files/6815078/5025aca1_K8sConformance_Portmap_Chaining_Check_connectivity-check_compliance_with_portmap_chaining.zip)

### Stacktrace

[code]

### Standard Output

[code]

### Standard Error
<details><summary>Click

[2021-07-14 10:30] jibi commented on #16873
I can reproduce it locally with:
[code]

(takes a few runs to hit the flake).

Looking at Cilium logs I see a lot of errors related to the ipcache:

[code]

and waiting a bit and killing the pods that were crashing was enough to bring them back to a healthy state:
[code]

[2021-07-14 10:32] jibi commented on #16873
The ipcache errors might be a red herring, but they seem to correlate with a pod being able to run or not:

[code]

Here `pod-to-a-7f974698df-czs26` was the unhealthy pod, and `pod-to-a-7f974698df-5pdmd` is the new one that got scheduled after deleting the first one

[2021-07-14 11:07] jibi commented on #16873
Just noticed that https://github.com/cilium/cilium/pull/16381 was not backported to 1.9 :thinking:
I'll do the backport and see if that helps with this flake

[2021-07-14 11:15] pchaigno commented on #16873
Unless it's expected to cause non-trivial conflicts, I'd just leave it to the backporters. There are already several v1.9 backport PRs opened so adding more ad-hoc backports will just complicate the rebasing.

[2021-07-14 12:05] #16236 closed

[2021-07-14 12:33] jibi commented on #16873
After backporting #16381 to v1.9 I'm not able anymore to reproduce this locally :tada:

[2021-07-14 13:04] jibi commented on #9207
Hi @briantopping :wave: I'm still sorting the details of the upgrade path to avoid breaking connections (which is not a piece of work that can be easily split) so nothing for now, but thanks for offering to help!

[2021-07-14 13:33] tklauser opened #16879 "CI: K8sHubbleTest Hubble Observe Test"
## CI failure

[code]

Observed on #16866

https://jenkins.cilium.io/job/Cilium-PR-K8s-1.21-kernel-4.9/1059/

[35e4837f_K8sHubbleTest_Hubble_Observe_Test_L3-L4_Flow.zip](https://github.com/cilium/cilium/files/6816422/35e4837f_K8sHubbleTest_Hubble_Observe_Test_L3-L4_Flow.zip)

[2021-07-14 14:34] Ankurk99 commented on #16751
The flag  'bpf-root' is in cilium-agent and I couldn't find it in helm, so do I need to add the flag for custom bpf location in Values.yaml?

[2021-07-14 14:36] anthr76 opened #16882 "Init container fails to start Cilium on 10.9.2 with CRI-O"
## Bug report

**How to reproduce the issue**

1. Use Cri-o
2. Deploy Cilium

**Host information

The kubelet is failing to start my cilium pods on v10.9.2 on CRI-O

[code]

[code]

Not sure yet if this is a CRI bug or Cilium bug but plan on digging deeper soon

[2021-07-14 14:53] aanm commented on #16882
hey @anthr76 thanks for opening the issue it's a duplicate of https://github.com/cilium/cilium/issues/16771. It's currently known a regression in 1.10.2, if you install cilium 1.10.1 it should work.

[2021-07-14 14:54] anthr76 commented on #16882
Indeed it does. Going to close this in favor of #16771

[2021-07-14 14:54] #16882 closed

[2021-07-14 14:56] anthr76 commented on #16771
I'm also facing this on OpenSUSE Kubic. If there's anything I can do to help, I'll be happy!

[2021-07-14 14:57] aanm opened #16883 "v1.10.3 release"
## Pre-release

- [x] Check that there are no [release blockers] for the targeted release version
- [x] Ensure that outstanding [backport PRs] are merged
- [x] Consider building new [cilium-runtime images] and bumping the base image
      versions on this branch:
  - Cilium v1.10 or later:
     Modify the `FORCE_BUILD` environment value in the `images/runtime/Dockerfile` to force a rebuild.
     [

[2021-07-14 14:58] aanm opened #16884 "v1.9.9 release"
## Pre-release

- [x] Check that there are no [release blockers] for the targeted release version
- [x] Ensure that outstanding [backport PRs] are merged
- [x] Consider building new [cilium-runtime images] and bumping the base image
      versions on this branch:
  - Cilium v1.10 or later:
     Modify the `FORCE_BUILD` environment value in the `images/runtime/Dockerfile` to force a rebuild.
     [

[2021-07-14 15:22] jibi commented on #15255
Just hit this flake on a v1.9 backport PR, same `NetworkPlugin cni failed to set up pod "coredns-86cd554449-vxmmz_kube-system" network: unable to allocate IP via local cilium agent: [POST /ipam][502] postIpamFailure range is full` error reported on the `kube-dns` pod

[2021-07-14 21:43] #16846 closed

[2021-07-15 00:01] vincentmli opened #16890 "Enable cilium vxlan tunnel proxy ARP reply for pod"
## Proposal / RFE

**Is your feature request related to a problem?**

When establishing cilium vxlan tunnel connectivity to external VNI key based VXLAN device like Linux vxlan device,  for example:

On  Linux machine external to k8s cluster with cilium managed pod, set up vxlan device
<pre>
#!/bin/bash

ip link add vxlan66 type vxlan id 66 dstport 8472 local 10.169.72.236 dev ens192
ip link set v

[2021-07-15 05:43] oneiro-naut commented on #13867
Hi @pchaigno. Since the cilium daemon itself calls RestoreServices()[1] so we don't explicitly need to call the service restore function in the test cases. Is that correct?

[1]https://github.com/cilium/cilium/blob/fb85fee7001e7fcc9fc3466c4ff018fe787fe26c/daemon/cmd/daemon.go#L498

[2021-07-15 08:30] errordeveloper commented on #15956
### TODOs

- [ ] add a flag for VXLAN port (https://github.com/cilium/cilium/pull/16874)
- [ ] add a flag for health port
- [ ] update OKD guide & OLM manifests
- [ ] update OpenShift CI pipeline, add new jobs

[2021-07-15 08:46] jrajahalme commented on #13400
Still happening on v1.8:
[code]

Unfortunately no bugtool info for the node where Cilium agent failed, even though a lot of it could be collected even without Cilium agent running :-(

Happened on: https://jenkins.cilium.io/job/Cilium-PR-K8s-1.17-kernel-4.19/232/testReport/junit/Suite-k8s-1/17/K8sServicesTest_Checks_service_across_nodes_Tests_NodePort_BPF_Tests_with_vxlan_Tests_with_secondary_Node

[2021-07-15 08:53] jrajahalme commented on #13400
Verified that also v1.8 uses SO_REUSEPORT, so some other process must be is grabbing the port. May if this happens in the CI then this presumably could happen in production as well. May need to mitigate by retrying with a random port after this fail?

[2021-07-15 09:08] jrajahalme opened #16894 "CI: bugtool should run in the node with Cilium in crashloop"
Currently bugtool info for Cilium agent is missing from sysdump for Cilium agents in crashloop. A lot of helpful information (e.g., open sockets, iptables, etc) could be collected also from nodes where Cilium agent fails to start. Would it be possible to run a job in the node with a bugtool/bpftool image to collect the current node state in cases when cilium pod fails to start?

[2021-07-15 09:21] jrajahalme commented on #9604
This is still happening, at least for Arm64 builds:
[code]
Since this is happening on an unprivileged unit test this looks like a race condition in either the package or the test code.

[2021-07-15 09:48] yuriydzobak commented on #16300
I've upgrade cilium to 1.10.2, seems the issue is still present. I'll wait a few day, then check again if memory is raising up
<img width="1603" alt="image" src="https://user-images.githubusercontent.com/70581130/125767911-04d99ad4-f17e-4112-a216-7858ff5c0540.png">

[2021-07-15 13:48] brb commented on #16197
This has policy enforcement implications, as bpf_lxc will only see ClusterIP instead of an endpoint IP.

[2021-07-15 14:25] jrajahalme commented on #16050
Seen on https://jenkins.cilium.io/job/Cilium-PR-K8s-1.17-kernel-5.4/70/ with this in the CI console logs:
[code]

[2021-07-15 15:28] vincentmli commented on #16890
I got ARP working for one Cilium node with following patch
<pre>
diff --git a/bpf/bpf_overlay.c b/bpf/bpf_overlay.c
index 52121bc7b..ffe5e02f5 100644
--- a/bpf/bpf_overlay.c
+++ b/bpf/bpf_overlay.c
@@ -23,6 +23,8 @@
 #include "lib/common.h"
 #include "lib/edt.h"
 #include "lib/maps.h"
+#include "lib/arp.h"
+#include "lib/encap.h"
 #include "lib/ipv6.h"
 #include "lib/eth.h"
 #include "lib/dbg.h"
@

[2021-07-15 16:22] vincentmli commented on #16890
I found  __lookup_ip4_endpoint() to do the trick, here is a working patch:

<pre>
diff --git a/bpf/bpf_overlay.c b/bpf/bpf_overlay.c
index 52121bc7b..302b721c1 100644
--- a/bpf/bpf_overlay.c
+++ b/bpf/bpf_overlay.c
@@ -23,6 +23,9 @@
 #include "lib/common.h"
 #include "lib/edt.h"
 #include "lib/maps.h"
+#include "lib/arp.h"
+#include "lib/encap.h"
+#include "lib/eps.h"
 #include "lib/ipv6.h"
 #incl

[2021-07-15 17:35] #16883 closed

[2021-07-15 23:03] rearden-steel opened #16906 "Nodelocaldns does not work after Cilium deploy/upgrade"
## Bug report

**General Information**

- Cilium version (run `cilium version`): tried from 1.9.8 to 1.10.3
- Kernel version (run `uname -a`): `5.4.0-77-generic`
- Orchestration system version in use (e.g. `kubectl version`, ...) `v1.21.1`
- Link to relevant artifacts (policies, deployments scripts, ...)
Cilium deployment:
[code]
And kube-router with BGP.

**How to reproduce the issue**

1. Instal

[2021-07-15 23:21] aditighag commented on #16906
@rearden-steel Just to confirm, you followed the steps given in the guide - https://docs.cilium.io/en/v1.10/gettingstarted/local-redirect-policy/#node-local-dns-cache? Can you attach cilium sysdump from your cluster? /cc @Weil0ng

[2021-07-15 23:41] rearden-steel commented on #16906
Nodelocaldns has been deployed by kubespray, but it's config is standard.
As I mentioned above, I was able to make it work by rebooting nodes.
After Cilium upgrade DNS stopped working.
Here is the [dump](https://drive.google.com/file/d/1edxIBShWde19T1ladPq7LchyD98CuYpy/view?usp=sharing)

[2021-07-15 23:58] rearden-steel commented on #16906
What happens on tcpdump:
[code]

where 10.19.0.81 is node IP, 10.233.70.248 is test pod IP.

[2021-07-16 00:45] qmonnet commented on #12205
The issue has been solved and the related e2e tests have been re-enabled, I'm closing the issue.

[2021-07-16 00:45] #12205 closed

[2021-07-16 02:19] Weil0ng commented on #16906
I see in the dump that nodelocaldns pods are deployed in hostNetwork mode (it has an ip in the node cidr range), can you confirm? For it to work with Cilium, we do need to deploy it in non-hostNetwork mode as described in https://docs.cilium.io/en/v1.10/gettingstarted/local-redirect-policy/#node-local-dns-cache

[2021-07-16 02:21] Weil0ng commented on #16906
Can you check if traffic is actually going to the nodelocaldns pods? My suspicion is that it is not, because without LRP, nodelocaldns would simply be skipped.

[2021-07-16 11:10] trvll commented on #14072
Hi, I've a PoC for this which would be great if could get reviewed. Could you pls assign this issue for me?

[2021-07-16 11:34] ti-mo commented on #920
@vadorovsky I've reassigned this to @nathanjsweet, this is now on the roadmap for 1.11.

The goal is to lift & shift the script verbatim to Go, so at least we can remove the shell script and start swapping out specific parts with native Go code. (e.g. in the middle of the script)

As long as it's written in shell, we can only migrate logic at the start or end of the script, or the script needs to

[2021-07-16 11:57] rearden-steel commented on #16906
I've redeployed node-local-dns using templates from docs. Now it does not bind on host interface.
I've applied LRP.
Does not work anyway...

[code]

[2021-07-16 12:38] rearden-steel commented on #16906
I've checked LRP in cilium pod:
[code]
Querying 10.233.0.3 works:
[code]

So should I change my pods to use 10.233.0.3 in resolv.conf and it will be a solution?

[2021-07-16 12:54] rearden-steel commented on #16906
BINGO.
I've created the second LRP with IP matcher and it works now.
[code]

[2021-07-16 18:46] Weil0ng commented on #16906
I don't think you need the second LRP for it to work in general, I can verify that in my setup the first one alone works fine, although there's a known issue that it doesn't work for hostNetwork client pods, were you testing nslookup from a hostNetwork pod?

[2021-07-16 18:49] aditighag commented on #16906
The addressMatcher LRP isn't meant to be configured for the node-local dns use case. Kube-dns clusterIP can change, and you'll have to re-create the LRP every time it does.

[2021-07-16 19:04] aditighag commented on #16906
LRP is working as expected for the nodeLocal DNS use case. Node-local dns cache works transparently, which means DNS requests destined to the **kube-dns clusterIP** are redirected to the node-local dns cache pod. See the office documentation - https://kubernetes.io/docs/tasks/administer-cluster/nodelocaldns/#architecture-diagram.
I'm closing the issue since based on your comments things are workin

[2021-07-16 19:04] #16906 closed

[2021-07-17 18:41] enkov opened #16920 "Local redirect policy stops working after pod restart on EKS kiam"
## Bug report

**General Information**

- Cilium version (run `cilium version`)
[code]
- Kernel version (run `uname -a`)
[code]
- Orchestration system version in use (e.g. `kubectl version`, ...)
[code]
- Link to relevant artifacts (policies, deployments scripts, ...)
- Generate and upload a system zip:
[code]
https://drive.google.com/file/d/17OF-b-QGP9k0MyC5lnmwg1VEVQSObr6D/view?usp=sharing

**Ho

[2021-07-17 19:34] pchaigno commented on #14072
@trvll I've assigned you. Note you don't need to be assigned to send RFC pull requests :-)

[2021-07-18 00:23] gpl commented on #14136
Sorry for the extremely late reply, I got very busy suddenly and seem to have missed it, apologies.

Yes, I believe so.

We are definitely interested in contributing this feature, I'll try to see if we can get something put together this week.

[2021-07-19 01:01] #16844 closed

[2021-07-19 01:02] #16422 closed

[2021-07-19 01:09] #15864 closed

[2021-07-19 01:15] aanm commented on #16894
Yes it is possible if a) the cluster supports ephemeral containers: https://kubernetes.io/docs/concepts/workloads/pods/ephemeral-containers/ or b) run a `Deployment` in the node(s) that are selected by a specific label, or even all nodes, that runs the bugtool in those nodes.

[2021-07-19 09:11] xyz-li opened #16922 "NOOPT not works when build container images"
## Bug report

**General Information**

Currently, `NOOPT` not works when build container images.

**How to reproduce the issue**

1. NOOPT=1   ARCH=amd64 DOCKER_DEV_ACCOUNT=docker.io/dockeraccount DOCKER_IMAGE_TAG=jane-developer-my-fix make dev-docker-image

[2021-07-19 10:21] jibi opened #16925 "v1.9: K8sVerifier consistently fails on 5.4 kernels when bandwitdh manager is enabled"
With the bandwidth manager enabled, the `K8sVerifier` test in the v1.9 branch will always fail on 5.4 kernels due to a complexity issue.

The failing program/section pair is `bpf_lxc.c:to-container`.

Until the complexity issue is sorted, `ENABLE_BANDWIDTH_MANAGER` has been removed (https://github.com/cilium/cilium/pull/16924) from `MAX_BASE_OPTIONS` to allow to run that test again.

[2021-07-19 17:13] joestringer opened #16928 "v1.9: CI: K8sServicesTest Checks local redirect policy LRP connectivity: cilium pre-flight checks failed: JoinEP: Failed to load program: Failed to replace Qdisc for lxcXXXXXXXXXXXX: Link not found"
Seen in v1.9 backports PR https://github.com/cilium/cilium/pull/16910.

https://jenkins.cilium.io/job/Cilium-PR-K8s-1.18-kernel-4.19/213/testReport/junit/Suite-k8s-1/18/K8sServicesTest_Checks_local_redirect_policy_LRP_connectivity/
[3047b711_K8sServicesTest_Checks_local_redirect_policy_LRP_connectivity.zip](https://github.com/cilium/cilium/files/6842744/3047b711_K8sServicesTest_Checks_local_redire

[2021-07-19 19:05] joestringer commented on #16928
This is the first time I've seen a failure like this on v1.9 in a very long time. This is likely newly introduced to the v1.9 tree, or alternatively exceedingly rare.

@jrajahalme could this be related to https://github.com/cilium/cilium/commit/01e76877eeee4ed70e76c459a589ef1579728346 ?

I did a quick look over the CI insights dashboard and it seems like we rearranged the tests around June 21st so

[2021-07-19 19:50] joestringer opened #16930 "Cilium docs search limits to top 5 results"
If I want to search for some term in Cilium, I can use the docs search box:

![image](https://user-images.githubusercontent.com/1243336/126218506-f7ac0703-9ba6-46da-9482-ddaa86ef78f7.png)

However, if the top five results don't show the page I'm looking for, then I don't know how to find a full search listing for all matches in the Cilium docs.

It would be nice to have the ability to search acros

[2021-07-19 22:34] Weil0ng opened #16931 "Implementation of CiliumEndpointBatch (CFP-2021-08)"
Using this issue to track Implementation of CiliumEndpointBatch [CFP](https://docs.google.com/document/d/1DCDrgydIrLHID6k0sP1MMiOjRu5Q03nAjwpAsRVfkQc/edit?usp=sharing) is planned in the following PRs to a dedicated feature [branch](https://github.com/cilium/cilium/tree/feature/cep-scalability) for easier testing and minimum disruption to master.

- [x] Adds CiliumEndpointBatch CRD (#16864)
- [x] O

[2021-07-19 22:34] Weil0ng commented on #16931
@krishgobinath

[2021-07-20 00:21] trvll commented on #14072
@pchaigno good to know. Indeed RFC is a good idea for this case. Thank you!

[2021-07-20 01:20] Weil0ng commented on #16694
I can see the NOTRACK rule being hit when issuing `nslookup` in the hostNetwork client (the counter number stays unchanged if no operation is taken):

Before:
[code]

After:
[code]

Above seems aligns with the fact that "hacking the skip LRP translate doesn't work" because the traffic is indeed DNATed to nodelocaldns's IP.

[2021-07-20 01:22] aditighag commented on #16694
I tried to test my theory on a GKE cluster -

On a k8s node -

[code]

Thereafter, nslookup started working from the `hostNetwork` pod.

But if you are saying that even after you disabled the loop fix you are seeing drops, then the drops must be happening somewhere else? Did you try adding debug logs to the relevant code path to at least see if service translation is happening or not?

[2021-07-20 03:48] Weil0ng commented on #16694
Interesting, I tried to do `nslookup google.com <node-local-dns pod ip>` in the hostNetwork pod and it also did not work...

[2021-07-20 04:40] Weil0ng commented on #16694
Odd, I saw the same socket with above cmd and did what you did too, but still `nslookup` in the hostNetwork pod timed out, does it need to restart?

[2021-07-20 08:16] brb commented on #16746
Maglev is used only when you enable it, and it is used to select a service endpoint.

It depends in which mode you run. E.g. in the tunneling mode, the packet will be encapsulated and sent via the tunneling device, while in the direct routing mode it is not. The DNAT happens before encapsulation.

In the DSR mode, the reverse SNAT translation for the reply is happening on the service endpoint node

[2021-07-20 08:23] brb commented on #14136
Yes.

[2021-07-20 09:59] errordeveloper opened #16938 "ConformanceEKS (ci-eks) CI: no-policies/pod-to-world/http-to-jenkins-cilium: Fails during connectivity test after deploying with encryption enabled"
## CI failure
[code]

- [job](https://github.com/cilium/cilium/pull/16926/checks?check_run_id=3112168724)

- [sysdump](https://github.com/cilium/cilium/files/6847315/cilium-sysdump-out.zip.zip)

[2021-07-20 10:15] errordeveloper commented on #16938
Didn't occur on re-run... I am not sure about the switch from google.com to jenkins.cilium.io, the availably of google.com was much much higher. If the motivation for this change was to get control, perhaps a dedicated DNS record that points to a highly available public service would be the way to go.

[2021-07-20 11:02] jrajahalme commented on #14072
@trvll Added comments to your draft PR for suggestions how to tackle this, e.g.: https://github.com/cilium/cilium/pull/16935#issuecomment-883298372

[2021-07-20 12:46] fr19k opened #16940 "Cannot delete service in cilium"
Hello

I have a little kuberentes cluster with 3 masters & 3 workers
I have created NodePort service in kubernetes on port 32006..

It was weird for me... beacuse from only one worker... i was able to connect to NodePort 32006...
From other workers i receives.. connection refused

When i deleted that service from kuberentes(kubectl delete svc .....)(successfully) in cilium service list |grep 32006

[2021-07-20 12:51] aanm commented on #16940
Hello @fr19k , can you provided some replication steps or a cluster sysdump? Thank you

[2021-07-20 13:08] fr19k commented on #16940
I have found cause... why i have connection refused on 2 from 3 workers...

replicaCount : 1 (thats why only one worker was "healthy")
also .. in service spec... i have found ...

externalTrafficPolicy: Local

Maybe it is "normal" after that policy is being used?

[2021-07-20 14:03] CBVenkataReddy commented on #13338
Thank you so much for the review and valuable suggestions

@christarazi I would like to summarize the review comments given by @jrajahalme

- Reconsider implementing Operator based metrics instead of per node basis,
  because “in any cluster with multiple nodes some rules will remain unused in some nodes while they may be used in other nodes”.
  even if it is only available when the policy status

[2021-07-20 17:26] christarazi commented on #13338
@CBVenkataReddy Thanks for the summary. I cannot access the links you provided and I imagine others can't either. Would you mind opening them for viewing / comment publicly?

[2021-07-20 20:54] geyslan commented on #13366
I think the solution is being addressed by @qmonnet, right? If so, I suppose that's ok to unassign me? Thanks.

[2021-07-20 21:18] joestringer commented on #13366
I don't think that @qmonnet has picked this up, but if you don't plan to work on this then we can unassign you :thumbsup:

[2021-07-20 21:52] geyslan commented on #13366
@joestringer, said that, no worries, I can continue this work. I suppose that this proposal could solve the issue related to new branches: https://github.com/cilium/cilium/pull/16387#issuecomment-874184376

As I commented, it seems to work at my forked repo: https://github.com/geyslan/cilium/runs/2991422456?check_suite_focus=true

What do you suggest for testing it without the need to remotely mer

[2021-07-20 22:09] #16884 closed

[2021-07-20 22:49] joestringer commented on #16541
v1.9.9 is now released, please try out the new release and let us know if you continue to experience problems.

[2021-07-20 22:49] #16541 closed

[2021-07-20 23:38] xinyuannn opened #16951 "Implementation of eBPF Unit Testing Framework"
Using this issue to track Implementing eBPF Unit Testing Framework. It is planned in the following PRs.

- [ ] The base infrastructure [ebpf unit testing #16862](https://github.com/cilium/cilium/pull/16862)

- [ ] Handles tailcalls

- [ ] Adds fake map operations

[2021-07-21 00:35] krishgobinath opened #16952 "Enable NetfilterCompatibleMode in all versions of Kernels."
NetFilterCompatibleMode is a feature added in this [PR](https://github.com/cilium/cilium/pull/15354), this guarantees that traffic will pass through netfilter and iptable rules will be enforced.

However in this  [PR](https://github.com/cilium/cilium/pull/15354) added support only from kernels 5.4 and above. To support on all kernels,  we need to make tail call in `to_netdev` function in bpf_host.

[2021-07-21 02:17] CBVenkataReddy commented on #13338
[13338_Implementation details.txt](https://github.com/cilium/cilium/files/6852326/13338_Implementation.details.txt)
[13338_TestCase_Scenarios.docx](https://github.com/cilium/cilium/files/6852327/13338_TestCase_Scenarios.docx)
@christarazi  I have attached documents here for your reference.

[2021-07-21 06:10] christarazi commented on #16399
Inspecting the a sysdump of another occurrence of this, I found the following in the dump:

[code]

:cry: I would've expected to see `DBG_LB4_LOOKUP_BACKEND_SLOT_V2_FAIL` or `DBG_LB4_LOOKUP_BACKEND_FAIL` given that the drop reason is `DROP_NO_SERVICE`.

Upon further inspection though, I found the following [commit](https://github.com/cilium/cilium/commit/f3c40a729d7c6c88c21093e63ebfa61d3e0cc3d8) w

[2021-07-21 08:56] brb commented on #16399
@christarazi Could you attach the sysdump of the failure? I'm interested whether it was the first request again. If it's not, then it might be a different reason than the one in which a service was not provisioned in a timely manner.

[2021-07-21 09:19] qmonnet commented on #13366
Please refer to [my comment on the reverting PR](https://github.com/cilium/cilium/pull/16786#issuecomment-876491875). We _already_ have rstcheck running on the RST files, and I don't think the current PR brings anything more other than checking README.rst (which is easy to add to the current rstcheck run we have). If I'm wrong, please convince me. I also believe that the current version of rstchec

[2021-07-21 09:21] yuriydzobak commented on #16300
I've upgrade to 1.10.3 version but seems, the issue is still existing
first cluster
<img width="1587" alt="image" src="https://user-images.githubusercontent.com/70581130/126464812-2984aada-edc1-489f-adda-6d3a9731d8fe.png">

second cluster
<img width="1596" alt="image" src="https://user-images.githubusercontent.com/70581130/126464866-ad39d67a-0b17-4973-a82a-59ae3a5b8bc0.png">

3th cluster
<img widt

[2021-07-21 10:38] brb commented on #15890
@navarrothiago

Sorry, this slipped from our radar.

I'm not following why the drop is not happening. `snat_v4_process()` should return `DROP_NAT_UNSUPP_PROTO` which is passed to `nodeport_nat_ipv4_fwd()`. The latter is invoked by `handle_nat_fwd()` which should return the drop.

Anyway, I think it's a good topic (which ICMP types to pass and which to drop) to bring up during the sig-datapath week

[2021-07-21 11:05] navarrothiago commented on #15890
No problem @brb. Thank you for your response.

This is not the case. The `snat_v4_process()` returns `DROP_NAT_UNSUPP_PROTO` in this scenario. I was wondering if there is missing some logic like that:

[code]

[2021-07-21 12:10] brb commented on #15149
This issue might be blocked by https://github.com/cilium/cilium/issues/16668, as BTF generated by LLVM 10 (shipped in the cilium-agent image) is rejected by libbpf.

[2021-07-21 12:17] brb commented on #16952
This is blocked by https://github.com/cilium/cilium/issues/16561.

[2021-07-21 13:05] gandro commented on #16192
I believe this has been fixed in https://github.com/cilium/cilium/pull/16363 - closing

[2021-07-21 13:05] #16192 closed

[2021-07-21 15:50] brb commented on #15890
My reading of the code is that `DROP_NAT_UNSUPP_PROTO` will be returned to the caller which should make the packet to drop.

[2021-07-21 15:52] jrajahalme opened #16963 "CI: ConformanceEKS (ci-eks): DNS failure (RCode: Server Failure)"
`cilium test connectivity` fails in multiple (all?) DNS requests. Tests with DNS proxy show the parsed DNS data:
[code]
Unfortunately the test artifacts do not seem to contain coreDNS logs:
[cilium-sysdump-out.zip (3).zip](https://github.com/cilium/cilium-cli/files/6856838/cilium-sysdump-out.zip.3.zip)

Test output (from https://github.com/cilium/cilium/runs/3117250899?check_suite_focus=true):
[co

[2021-07-21 17:00] joestringer opened #16964 "v1.9: CI: test-upstream-k8s job fails to provision with "mkdir: cannot create directory '/home/vagrant/go/src/k8s.io': Permission denied""
https://jenkins.cilium.io/job/Cilium-PR-K8s-Upstream/3247/execution/node/76/log/

(No artifacts because this is a provisioning issue)

Step "BDD-Tests"->"Start", where it runs:

[code]

Console output

[code]

[2021-07-21 19:13] christarazi commented on #16399
@brb

GH is not letting me attach it, but you can find it here: https://jenkins.cilium.io/job/Cilium-PR-K8s-1.16-net-next/1125/testReport/junit/Suite-k8s-1/16/K8sServicesTest_Checks_service_across_nodes_Tests_NodePort_BPF_Tests_with_direct_routing_Tests_LoadBalancer_Connectivity_to_endpoint_via_LB/

[2021-07-21 19:24] gpl opened #16966 "bpf.lbExternalClusterIP=true doesn't work with Maglev when requested from outside cluster"
## Bug report

**General Information**

- Cilium version (run `cilium version`)
1.10.3
- Kernel version (run `uname -a`)
5.10.40
- Orchestration system version in use (e.g. `kubectl version`, ...)
kubeadm
- Link to relevant artifacts (policies, deployments scripts, ...)
[code]

- Generate and upload a system zip:
[code]

**How to reproduce the issue**

1. Enable bpf.lb.ExternalClusterIP=true
2. At

[2021-07-21 19:40] ti-mo commented on #15149
@brb Are you sure the BTF is broken? The issue you linked is about bytecode.

[2021-07-21 22:06] joestringer commented on #16964
Looks like this was specifically caused by backporting https://github.com/cilium/cilium/pull/16589 to v1.9, must be a regression somehow between the VM image and the v1.9 tree.

[2021-07-21 23:48] shosti opened #16967 "BGP announcements not occurring on single-node cluster"
## Bug report

**General Information**

- Cilium version: 1.10.3
- Kernel version: 5.10.43-flatcar
- Orchestration system version in use: 1.20.0
- Generate and upload a system zip:
[cilium-sysdump-20210721-162754.zip](https://github.com/cilium/cilium/files/6859260/cilium-sysdump-20210721-162754.zip)

**How to reproduce the issue**

I'm trying to deploy cilium on a single-node bare-metal cluster wi

[2021-07-22 00:16] Weil0ng commented on #16694
Added debug prints in bpf_sock.c, saw the following:
[code]

First line is right upon entry of sock4_xlate_fwd, second line is right b4 final return

Convering the ip/port to human readable format I can see that the first packet is going to `kube-dns` svc VIP and second line goes to the nodelocaldns pod on the same node, so I'm pretty sure the rewrite happens correctly in this case.

[2021-07-22 05:26] christarazi commented on #16479
Hit this in https://github.com/cilium/cilium/pull/16953.

https://jenkins.cilium.io/job/Cilium-PR-K8s-1.19-kernel-5.4/706/

Looking at the test log (console log in Jenkins), it looks like the previous test was also `K8sDatapathConfig AutoDirectNodeRoutes Check connectivity with sockops and direct routing` as Paul pointed out. That's evidence that this is test pollution flake.

[2021-07-22 06:15] brb commented on #16399
@christarazi Thanks. It was the first request. So probably it has to do with timing of the service BPF maps provisioning.

[2021-07-22 06:16] brb commented on #15149
The issue is for LLVM 12 which we want to start using. LLVM 12 should generate a valid BTF which libbpf would accept.

[2021-07-22 06:17] aditighag commented on #16694
Can you try running `cilium monitor --related-to <endpoint-id of node-local-dns>` on all cilium pods in your cluster, and notice if there are any drops in the cilium datapath?

[2021-07-22 08:08] yuriydzobak commented on #16300
<img width="1569" alt="image" src="https://user-images.githubusercontent.com/70581130/126607831-aaeb4c86-9300-435f-98b9-df5159b7f2b9.png">
<img width="1580" alt="image" src="https://user-images.githubusercontent.com/70581130/126607888-54fa7d93-5999-49e4-8880-5b894ccfa6db.png">
<img width="1587" alt="image" src="https://user-images.githubusercontent.com/70581130/126607928-aeb02eb2-2975-4495-a485-0b

[2021-07-22 09:39] gandro opened #16971 "CI: K8sServicesTest Checks service across nodes Tests NodePort BPF Tests L2-less with Wireguard provisioned via kube-wireguarder Tests NodePort BPF"
## CI failure

Observed in https://github.com/cilium/cilium/pull/16900

[code]

- Jenkins: https://jenkins.cilium.io/job/Cilium-PR-K8s-1.16-net-next/1133/testReport/junit/Suite-k8s-1/16/K8sServicesTest_Checks_service_across_nodes_Tests_NodePort_BPF_Tests_L2_less_with_Wireguard_provisioned_via_kube_wireguarder_Tests_NodePort_BPF/
- Sysdump:
[4124a77e_K8sServicesTest_Checks_service_across_nodes_Test

[2021-07-22 09:41] gandro commented on #16971
There are a few error messages that I find concerning, such as `4354 kubelet.go:1577] error killing pod: failed to "KillPodSandbox" for "1c6dd876-a07c-4695-9eb6-5656bc7ab24b" with KillPodSandboxError: "rpc error: code = Unknown desc = networkPlugin cni failed to teardown pod \"app2-5cc5d58844-l466m_default\" network: failed to find plugin \"cilium-cni\" in path [/opt/cni/bin]"`

[2021-07-22 11:36] #15442 closed

[2021-07-22 14:19] Weil0ng commented on #16694
I did and there isn't even a packet trace that has port number 53...

[2021-07-22 14:25] gandro commented on #16928
I have seen a very similar error on the master branch: https://jenkins.cilium.io/job/Cilium-PR-K8s-1.16-net-next/1140/testReport/junit/Suite-k8s-1/16/K8sPolicyTest_Basic_Test_Validate_to_entities_policies_Validate_toEntities_All/

Different test suite, likely confirms the suspicion that it is unrelated to LRP.

[2021-07-22 14:27] #16376 closed

[2021-07-22 14:36] Weil0ng commented on #16694
By enabling iptables tracing, I can see the following packet traces:
[code]

Two things I don't understand:
- How come the it is SNATed to `10.92.0.1`, the client pod has node ip of `10.128.0.5`
- Why `tcpdump` on the target interface `gke47412ebc239` has nothing, something in the kernel stack after OUTPUT chain is dropping this??

[2021-07-22 14:43] aditighag commented on #16694
I don't quite understand the iptables related behavior you are seeing. I wonder if this behavior is specific to GKE? Can you bring this up in the sig-datapath meeting?

Regarding my previous [comment](https://github.com/cilium/cilium/issues/16694#issuecomment-882972779), I think GKE control plane was removing node-local dns pods so that's probably why the DNS requests were going thorough.

[2021-07-22 14:49] ti-mo opened #16975 "[EKS+tunnel] Wrong source address of return packet in host-to-pod"
## Bug report

**General Information**

I'm running DNS queries from the Cilium agent pod (192.168.146.198) against CoreDNS running on a remote node. (10.0.1.120) `nslookup` times out.

[code]

The reply packet is incorrectly SNATed to the source IP of the other node (192.168.186.218), breaking the connection.

Note that this breaks the FQDN proxy in tunnel mode because DNS lookups are performed f

[2021-07-22 15:26] #16838 closed

[2021-07-22 15:31] nbusseneau commented on #16975
Adding mention in OP to update `cilium-cli` when fixed.

[2021-07-22 16:02] qmonnet commented on #16890
Hi, if you have a working patch, I would encourage you to submit it as a PR?

[2021-07-22 16:16] ReillyBrogan commented on #15075
It looks like that kernel change has been merged and applied to edge and all stable trees.

[2021-07-22 16:41] vincentmli commented on #16890
Yes, I will, this patch is depending on a PR https://github.com/cilium/cilium/pull/16916 to be merged, once I have that PR merged, I could send this as PR.

[2021-07-22 17:05] Weil0ng commented on #16694
Yea unfortunately I added to the agenda too late to catch today's meeting, I'll ask for help in the slack channel instead.

[2021-07-22 17:08] navarrothiago commented on #15890
Actually, the `handle_nat_fwd()` will do a tailcall to `tail_handle_nat_fwd_ipv4`

https://github.com/cilium/cilium/blob/4814dc349ad3b6b6d86c320d6c8585d074638754/bpf/lib/nodeport.h#L2165-L2181

So, if you check the `tail_handle_nat_fwd_ipv4`, the return is not handled.
https://github.com/cilium/cilium/blob/4814dc349ad3b6b6d86c320d6c8585d074638754/bpf/lib/nodeport.h#L2061-L2070

Besides, there is a

[2021-07-22 21:31] krishgobinath commented on #16166
`NetfilterCompatibleMode` flag is used to guarantee that all traffic will pass through netfilter.
This flag is marked as Hidden, once we have all the fixes in we should unhide NetfilterCompatibleMode.
flags.MarkHidden(option.NetfilterCompatibleMode)

[2021-07-22 22:39] joestringer opened #16976 "v1.8.11 release"
## Pre-release

- [x] Check that there are no [release blockers] for the targeted release version
- [x] Ensure that outstanding [backport PRs] are merged
- [x] Consider building new [cilium-runtime images] and bumping the base image
      versions on this branch:
  - Cilium v1.7 to v1.9:
     [Re-trigger a build in quay.io](https://docs.cilium.io/en/v1.9/contributing/development/images/#update-cil

[2021-07-23 01:02] krishgobinath commented on #16122
PR [15354](https://github.com/cilium/cilium/pull/15354) had a failure with exit code 28 unlike 7.
https://jenkins.cilium.io/job/Cilium-PR-K8s-1.19-kernel-5.4/716/testReport/junit/Suite-k8s-1/19/K8sDatapathConfig_Host_firewall_With_VXLAN/

[2021-07-23 14:35] krishgobinath opened #16983 "CI: GKE K8sServicesTest Checks service across nodes"
I had noticed this issue, while testing this [PR](https://github.com/cilium/cilium/pull/15354). Looks like this is new issue,

testlogs: https://jenkins.cilium.io/job/Cilium-PR-K8s-GKE/6091/#:~:text=51b911c1_K8sServicesTest_Checks_service_across_nodes_Tests_NodePort_BPF_Tests_with_direct_routing_Tests_that_binding_to_NodePort_port_fails.zip

**Stacktrace**

[code]

**Standard error**

[code]

[2021-07-23 15:54] Weil0ng commented on #16565
Can the agent be smart about this and only remove entry from ipcache if ip is only referenced to by the CEP that is being removed? Agent should have information about all CEP and should be able to tell whether there's another CEP with the same ip?

[2021-07-23 16:51] joestringer commented on #16983
Uploading the zip for further triage in case the jenkins page gets cleaned up too soon:

[51b911c1_K8sServicesTest_Checks_service_across_nodes_Tests_NodePort_BPF_Tests_with_direct_routing_Tests_that_binding_to_NodePort_port_fails.zip](https://github.com/cilium/cilium/files/6870153/51b911c1_K8sServicesTest_Checks_service_across_nodes_Tests_NodePort_BPF_Tests_with_direct_routing_Tests_that_binding_t

[2021-07-23 18:13] AnishShah opened #16987 "ENI IPAM mode should add support for assigning IP prefixes to EC2 instance"
## Proposal / RFE

AWS now supports assigning IP prefixes to EC2 instance. ENI IPAM mode in Cilium should also add support this as this allows increasing the pod density. https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/ec2-prefix-eni.html

[2021-07-23 18:23] #16976 closed

[2021-07-23 18:39] joestringer commented on #12329
Thanks, yes, looks like it was addressed now. The docs there look pretty clear to me about how the configuration should look in the actual config. Let's close this out :tada:

[2021-07-23 18:39] #12329 closed

[2021-07-23 19:01] #14579 closed

[2021-07-23 21:14] christarazi commented on #16479
From the above sysdump, we have logic to print out the entire JSON dump when we fail to retrieve the encryption interface: https://github.com/cilium/cilium/blob/fa00a1b3a61a40e15d000b86e48c8e1d64537bab/test/helpers/kubectl.go#L1132

The JSON dump actually contains the interface, strangely enough:

<details>
  <summary>JSON</summary>

[code]

</details>

[code]

I think this indicates that it's a t

[2021-07-24 00:46] #15977 closed

[2021-07-24 00:46] #16028 closed

[2021-07-24 15:54] nbusseneau commented on #16479
Hit in #16986: https://jenkins.cilium.io/job/Cilium-PR-K8s-1.19-kernel-5.4/720/
Artifacts:
[0215dd46_K8sDatapathConfig_Transparent_encryption_DirectRouting_Check_connectivity_with_transparent_encryption_and_direct_routing.zip](https://github.com/cilium/cilium/files/6872692/0215dd46_K8sDatapathConfig_Transparent_encryption_DirectRouting_Check_connectivity_with_transparent_encryption_and_direct_rout

[2021-07-26 07:06] christarazi commented on #16399
Debugging at https://github.com/cilium/cilium/pull/16992

[2021-07-26 08:50] arpit1912 commented on #16816
Hi @christarazi  I'm new to this community and would like to work on this issue as the first task thanks!

[2021-07-26 08:59] pchaigno commented on #16816
@arpit1912 I've assigned you. Don't hesitate to reach out on Slack (e.g., #development) if you have any questions.

[2021-07-26 09:07] pchaigno commented on #16964
Likely caused by https://github.com/cilium/packer-ci-build/pull/262. /cc @twpayne

It works on master, so maybe the test doesn't use that directory or does something different on master.

[2021-07-26 09:56] pchaigno commented on #16983
The command timed out after 10s and was killed:
[code]
Not clear what could cause this except maybe some connectivity issue to GKE.

[2021-07-26 10:47] brb commented on #16966
@gpl Thanks for the issue. The problem is that the Maglev table is not populated for the ClusterIP service. If you disable the Maglev feature, then it should work. Anyway, we are going to fix it.

[2021-07-26 12:09] brb commented on #15890
@navarrothiago Thanks for the analysis. So basically `send_drop_notify_error()` is missing for the case when the call is a tailcall.

[2021-07-26 12:19] navarrothiago commented on #15890
@brb, yes! I could send a PR with this fix if you confirm the problem. I believe we just need to insert error handle in the `tail_handle_nat_fwd_ipv4`.

[2021-07-26 12:49] sduranc commented on #14892
@ti-mo Just to add to the discussion if it's helpful: I can confirm that I've seen some issues related to the `cni-install.sh`. What happened is that the `postStart` hook was interrupted (failed) and the CNI files weren't in place after the agent started running, which ended up in an apparently "healthy" agent (for the health checks) which was useless. It was hard to detect what was the issue sinc

[2021-07-26 13:48] nbusseneau commented on #16479
I was looking at the job logs on Jenkins in recent jobs with this issue:
- https://jenkins.cilium.io/job/cilium-v1.10-k8s-1.19-kernel-5.4/52/consoleFull
- https://jenkins.cilium.io/job/Cilium-PR-K8s-1.19-kernel-5.4/706/consoleFull
- https://jenkins.cilium.io/job/Cilium-PR-K8s-1.19-kernel-5.4/720/consoleFull

In all of them, the previous test to run ends with a strange error mention:
[code]
Could i

[2021-07-26 14:10] pchaigno commented on #16202
Closing as it's expected for cross-node connectivity tests to fail in a single node cluster.

[2021-07-26 14:10] #16202 closed

[2021-07-26 14:32] arpit1912 commented on #16816
Sure! I'm still figuring out how I can create a local cluster on the system and how I can interact with it( Do let me know if you know any quick links otherwise I will ask later on, on slack as well), Once that is done I will start working on the issue.

[2021-07-26 19:00] christarazi opened #16999 "[v1.9] CI: K8sDatapathConfig AutoDirectNodeRoutes Check direct connectivity with per endpoint routes: Connectivity test between nodes failed"
## CI failure

Stacktrace:
[code]

Standard Output:
[code]

Standard Error:
[code]

https://jenkins.cilium.io/job/cilium-v1.9-k8s-1.12-kernel-net-next/667/

[97dec556_K8sDatapathConfig_AutoDirectNodeRoutes_Check_direct_connectivity_with_per_endpoint_routes.zip](https://github.com/cilium/cilium/files/6880538/97dec556_K8sDatapathConfig_AutoDirectNodeRoutes_Check_direct_connectivity_with_per_endpoint

[2021-07-26 19:01] christarazi commented on #15775
Superseded by https://github.com/cilium/cilium/issues/16999

[2021-07-26 19:01] #15775 closed

[2021-07-26 19:16] christarazi commented on #16479
This should be fixed by https://github.com/cilium/cilium/pull/16953

[2021-07-26 19:45] pchaigno commented on #16479
@christarazi Did you mean to reference https://github.com/cilium/cilium/pull/16990?

[2021-07-26 19:58] christarazi commented on #16967
I tried to reproduce this with a 1 node cluster, but it is working fine.

I noticed in the sysdump that there were a lot of msgs such as:
[code]

Is there something that's deleting your service?

Later on, I then see:
[code]

It looks like BGP is working as the IP was eventually assigned but the `differentIPRequested` is curious? Could that be related with the service deletes? Is there something m

[2021-07-26 20:01] christarazi commented on #16479
Oh yes I did, thanks :facepalm:

[2021-07-26 20:03] cryptk commented on #16253
I am still very interested in this feature.  I see the issue went stale.  Is there any chance that this is something that would be included into Cilium?

[2021-07-26 20:05] pchaigno commented on #16999
In the above sysdump, it's the ping failing:
[code]
<br>

That ping happens between 10.0.0.108 on k8s1 and 10.0.1.104 on k8s2. On k8s2, we can see a bunch of drop notifications for those ICMP messages:
[code]
`drop_reason` 133 is policy denied. It seems the source identity is `unmanaged`.
<br>

In the bugtool report for k8s2, at the time of taking the artifacts, 10.0.0.108 has a proper identity:

[2021-07-27 08:19] brb commented on #16757
Just to give an update, I am waiting for the last patch to be accepted - https://lore.kernel.org/bpf/20210726152001.34845-1-m@lambda.lt/. Once it's been merged, I will update iproute2 and libbpf forks and make the PR https://github.com/cilium/cilium/pull/16727 ready for the review.

[2021-07-27 08:38] brb commented on #1742
This is going to be addressed when we update the KPR/LB docs.

[2021-07-27 08:38] #1742 closed

[2021-07-27 08:38] brb commented on #9547
Considering the BPF host routing, we are not going to invest into IPVLAN in the nearest future. Closing.

[2021-07-27 08:38] #9547 closed

[2021-07-27 08:39] brb commented on #10146
Considering the BPF host routing, we are not going to invest into IPVLAN in the nearest future. Closing.

[2021-07-27 08:39] #10146 closed

[2021-07-27 08:41] brb commented on #10567
Closing this issue in favor of #16197.

[2021-07-27 08:41] #10567 closed

[2021-07-27 09:26] brb commented on #11560
Hit in #16865. The full log of the failing test case - https://gist.github.com/brb/ebe4764e17d757e3c87c0bfaf45b6d95 (GH doesn't allow me to attach it).

The failure:
[code]

Interesting part from the log is:
[code]

[2021-07-27 09:44] pchaigno opened #17002 "CI: L4LB: failed to pull image: You have reached your pull rate limit"
https://github.com/cilium/cilium/actions/runs/1069119537
[logs_145574.zip](https://github.com/cilium/cilium/files/6884447/logs_145574.zip)

[code]

/cc @brb

[2021-07-27 10:05] brb commented on #17002
Maybe https://github.com/cilium/cilium/issues/16870 could help. Otherwise, we will need to cache the images which means to create and maintain our own Fedore image :|

[2021-07-27 10:14] brb commented on #11560
Checked logs provided in https://github.com/cilium/cilium/issues/11560#issuecomment-860795257, they have the same log message `Instance not found!` for the failing node (`node85`).

[2021-07-27 13:21] brb commented on #11560
From checking the code it seems that it might be a race. The # of available IPs is retrieved from https://github.com/cilium/cilium/blob/master/pkg/aws/eni/node.go#L513 which errors. This means that the node didn't have any ENI attached, so it returned 0 of available IPs which made the test to fail.

I am not familiar with the node creation lifecycle in the ENI node, but if ENIs are set asynchronou

[2021-07-27 16:56] joestringer commented on #16253
Hi @cryptk , I think this suggestion makes sense and could be integrated into Cilium in future. I'm not aware of anyone actively working on it today however.

[2021-07-27 22:33] pchaigno commented on #15455
The current hypothesis is that this flake is caused by the drops mentioned in a previous comment:

#### Origin of the Packet Drops

These drops happen for connections that were established before the host firewall was enabled. Once the host firewall is enabled, conntrack is enabled for host connections. For each established connection, the next packet seen by the conntrack engine is considered the

[2021-07-28 09:16] brb commented on #16757
All patches have been merged in the upstream. Waiting until github.com/libbpf/libbpf will sync with bpf-next.

[2021-07-28 12:23] digibank-rons opened #17007 "Failed to populate masquerading settings"
Hey,

trying to upgrade to 1.10.3 on EKS 1.20, upgrading from 1.8.11, here is my Helm for creating the manifest -

helm template cilium/cilium --version 1.10.3 \
  --set upgradeCompatibility=1.8 \
  --set nodeinit.enabled=true \
  --set egressMasqueradeInterfaces=eth0 \
  --set hubble.enabled=true \
  --set hubble.listenAddress=":4244" \
  --set hubble.relay.enabled=true \
  --set hubble.ui.enable

[2021-07-28 12:28] aanm commented on #17007
Hello @digibank-rons please try to upgrade to 1.9 first since upgrading from 1.x.y to 1.x+2.y is not supported.

[2021-07-28 15:33] brb commented on #16971
Hit it in https://github.com/cilium/cilium/pull/17003. It was the first request as in the issue description. Unfortunately, hubble observe logs are missing from the relevant (= one which received the failed request) node:
[code]
[9fb9e765_K8sServicesTest_Checks_service_across_nodes_Tests_NodePort_BPF_Tests_L2-less_with_Wireguard_provisioned_via_kube-wireguarder_Tests_NodePort_BPF(1).zip](https://g

[2021-07-28 15:38] brb commented on #16399
Another issue where the first request from outside fails: https://github.com/cilium/cilium/issues/16971

[2021-07-28 15:49] maintainer-s-little-helper[bot] opened #17010 "CI: K8sDatapathConfig Transparent encryption DirectRouting Check connectivity with transparent encryption and direct routing"
### Test Name
[code]

### Failure Output
[code]

### Stacktrace
<details><summary>Click to show.</summary>

[code]
</details>

### Standard Output
<details><summary>Click to show.</summary>

[code]
</details>

### Standard Error
<details><summary>Click to show.</summary>

[code]
</details>

ZIP Links:
<details><summary>Click to show.</summary>

 https://jenkins.cilium.io/job/Cilium-PR-K8s-1.19-ker

[2021-07-28 15:50] aanm commented on #17010
Duplicate of https://github.com/cilium/cilium/pull/16473

[2021-07-28 15:59] jrajahalme commented on #16479
Similar but different fail in https://jenkins.cilium.io/job/Cilium-PR-K8s-1.19-kernel-5.4/738/testReport/junit/Suite-k8s-1/19/K8sDatapathConfig_Encapsulation_Check_connectivity_with_VXLAN_encapsulation/

[2021-07-28 16:09] brb commented on #16399
Hit it in https://github.com/cilium/cilium/pull/17003
The interesting flow:
[code]
GH doesn't allow to attach the zip, so posting only the link to the CI: https://jenkins.cilium.io/job/Cilium-PR-K8s-1.16-net-next/1162/testReport/junit/Suite-k8s-1/16/K8sServicesTest_Checks_service_across_nodes_Tests_NodePort_BPF_Tests_with_direct_routing_Tests_LoadBalancer_Connectivity_to_endpoint_via_LB/

[2021-07-28 16:35] pchaigno commented on #16479
@jrajahalme I think we should track it as a different issue. The current flake has been on the IPsec test only for a while, so that VXLAN is likely a new flake.

[2021-07-28 17:12] jrajahalme commented on #17010
@pchaigno thinks this may be a different issue (see https://github.com/cilium/cilium/issues/16479#issuecomment-888453475). I got the same `Failed to retrieve iface by IP addr from` error for two different test cases: (`K8sDatapathConfig Encapsulation Check connectivity with VXLAN encapsulation` and `K8sDatapathConfig Encapsulation Check connectivity with Geneve encapsulation`, see https://jenkins.

[2021-07-28 18:39] gandro opened #17013 "L4LB mode broken on v1.10 branch"
Trying the L4LB mode on the v1.10 branch, `cilium-agent` crashes with the following error:

[code]

Invocation:
[code]

cc @brb @borkmann

[2021-07-28 18:57] christarazi commented on #16399
@brb Is there a way to know when a BPF map was actually updated with an entry by timestamp? Maybe we could have a debug log for that. Is it possible that somehow the `bpf()` call could take more than a 1s to update an entry in the map?

[2021-07-28 20:46] jrajahalme commented on #16479
@pchaigno https://github.com/cilium/cilium/issues/17010, which has the same failure was closed by @aanm as duplicate. So you think we should re-open it?

[2021-07-28 20:48] aanm commented on #17013
How isn't the v1.10 branch CI failing? :thinking:

[2021-07-28 22:04] christarazi commented on #16550
@ybialik 429 error code means rate limiting has kicked in. This is expected with such a high surge of pods. You can tune these parameters via https://docs.cilium.io/en/v1.10/configuration/api-rate-limiting/#id1

[2021-07-29 04:57] vsxen commented on #4760
what is the different between istio/proxy and cilium/proxy?

and use https://github.com/cilium/istio will inject istio-proxy container mounts /var/run/cilium？

[2021-07-29 08:24] ybialik commented on #16550
Thanks @christarazi , we already played with the limits without any success.
we did see major improvements in 1.10.3 on our staging cluster. I hope to upgrade the version on production cluster this Sunday and see if it fixes the issue for good.

[2021-07-29 08:38] gandro commented on #17013
https://github.com/cilium/cilium/pull/16950 removed the CI test from the v1.10 branch

[2021-07-29 08:41] gandro commented on #17013
CI still seems fine: https://github.com/cilium/cilium/runs/3188613036?check_suite_focus=true

Not sure if this is a problem for me locally (but I did run `make clean` and `git clean` both).

[2021-07-29 09:03] gandro commented on #17013
The error is also a false-positive for some reason. `ct_entry.rx_bytes` does _not_ have offset 0 in the sources, it is 8 as expected.

[2021-07-29 11:12] oblazek commented on #14096
I have been looking exactly for this information :) ..had to go through the code of cilium-cli and clustermesh code to understand it.

[2021-07-29 11:20] oblazek commented on #14096
@jrajahalme any progress with this or is it ok to take this over?

[2021-07-29 11:41] gandro commented on #17013
I did another test by running the pre-built v1.10 images, which don't suffer from the issue, so this is likely an issue with my toolchain or the dev-VMs. Closing.

[2021-07-29 11:41] #17013 closed

[2021-07-29 11:55] pchaigno commented on #16479
AFAICS, #17010 is the same test as the present issue but a different test from https://github.com/cilium/cilium/issues/16479#issuecomment-888428238. So it does look like a duplicate to me.

[2021-07-29 11:57] pchaigno commented on #14096
@oblazek I've assigned you.

[2021-07-29 12:29] pchaigno commented on #16964
`git diff origin/v1.9..origin/master test/kubernetes-test.sh` has nothing of interest but `git diff origin/v1.9..origin/master jenkinsfiles/kubernetes-upstream.Jenkinsfile` has the following change, which likely explains why it doesn't fail on master.
[code]
That change was introduced in https://github.com/cilium/cilium/pull/15397. I'll mark for backports.

[2021-07-29 16:40] christarazi commented on #16550
@ybialik Sounds good. Please close the issue if you no longer see this or edit the issue with the most up-to-date information (after your upgrade).

[2021-07-29 16:44] jrajahalme commented on #13839
Hit in https://github.com/cilium/cilium/pull/16258: https://jenkins.cilium.io/job/Cilium-PR-K8s-1.20-kernel-4.19/1074/testReport/junit/Suite-k8s-1/20/K8sServicesTest_Checks_service_across_nodes_Tests_NodePort_BPF_Tests_with_direct_routing_Tests_NodePort_with_Maglev_Tests_NodePort/

[2021-07-29 18:10] lbernail commented on #16987
We are very interested in this feature too!
It will help decrease the number of api calls and should make allocating IPs pretty fast.

It would be great if we could enable this on existing clusters but it will likely make the logic a bit harder (maybe we could add a prefix if no IPs have been allocated yet? so new nodes in a cluster take advantage of the feature and older ones keep using the curre

[2021-07-30 05:45] #16127 closed

[2021-07-30 05:45] #16097 closed

[2021-07-30 05:45] #16112 closed

[2021-07-30 07:56] brb commented on #16399
@christarazi We could run `strace -f -e bpf -y -yy -t -T $CILIUM_AGENT_PID` in the background for this test as we do (or used to do) with `cilium monitor` in some Services test cases.

I did a quick check of the log msgs in `pkg/lbmap`, and it seems that we log msgs before we actually try do do the bpf() syscall. Moving the log statements after invoking the syscalls (e.g. in `updateServiceEndpoint

[2021-07-30 09:08] brb commented on #16399
@christarazi Regarding the second approach, I've created https://github.com/cilium/cilium/pull/17017.

[2021-07-30 12:02] jrajahalme opened #17020 "CI: RuntimePrivilegedUnitTests TestArpPingHandling failed, timeout reached while waiting for condition"
[code]
Seen in https://jenkins.cilium.io/job/Cilium-PR-Runtime-4.9/5434/testReport/junit/(root)/Suite-runtime/RuntimePrivilegedUnitTests_Run_Tests/

[f25b1682_RuntimePrivilegedUnitTests_Run_Tests.zip](https://github.com/cilium/cilium/files/6907360/f25b1682_RuntimePrivilegedUnitTests_Run_Tests.zip)

Similar to #16221, but this timeout happens after `NodeAdd()`.

[2021-07-30 12:15] jrajahalme opened #17021 "CI: K8sCustomCalls Basic test with byte-counter Loads byte-counter and gets consistent values"
Test fail did not produce any artifacts nor normal test fail reports, so the title is gobbled up from the test logs. The error message is:
[code]
This was the first test in the job, which may be significant for reproduction, so the whole log is copied below:
[code]
https://jenkins.cilium.io/job/Cilium-PR-K8s-1.16-net-next/1178/execution/node/129/log/

No artifacts were generated, no indication wha

[2021-07-30 12:31] jrajahalme commented on #16292
Here also the test command itself failed, not just flow validation, so maybe different issue?

[2021-07-30 12:43] jrajahalme opened #17022 "CI: ConformanceAKS many`[no-policies]` test commands fail (packets disappear) with ipsec encryption"
`client-to-client`, `pod-to-service`, and `pod-to-pod` tests fail when no policies are in place with ipsec encryption when Cilium has just been installed. Looks like the stack is eating the packets, as at first echo requests also disappear, but then they get delivered, but echo responses still disappear.

Later tests running these same scenarios (with CNPs) succeed.

https://github.com/cilium/cili

[2021-07-30 13:15] oblazek commented on #13455
We can close this @pchaigno  -- we work in a same team with @CallMeFoxie.. Just verified that it works perfect with v1.10.2.

[2021-07-30 13:16] oblazek commented on #13455
One needs to be carefull with adding labels to CiliumNode/Node. It works only when new label is added to Kubernetes Node resource but I suppose this is expected.

[2021-07-30 13:54] pchaigno commented on #13455
Thanks for the heads up and for testing! :pray:

What do you mean by this? Do you mean you initially tried to add the label to CiliumNode?

[2021-07-30 14:33] oblazek commented on #13455
Not initially but today I have tried to do add labels to CiliumNode and not to k8s Node and that's what happened.

[2021-07-30 14:40] pchaigno commented on #13455
Ok, in that case it's expected. We only watch for updates on the k8s Node labels.

[2021-07-30 14:40] #13455 closed

[2021-07-30 14:42] pchaigno commented on #16292
Ah, right :+1: I'll clo
se this then. Flow validation is now disabled until we're sure it's more stable.

[2021-07-30 14:42] #16292 closed

[2021-07-30 14:43] pchaigno commented on #17021
Some related artifacts (missing the test-specific artifact as said above):
[test_results_Cilium-PR-K8s-1.16-net-next_1178_BDD-Test-PR.zip](https://github.com/cilium/cilium/files/6908250/test_results_Cilium-PR-K8s-1.16-net-next_1178_BDD-Test-PR.zip)
[consoleText.txt](https://github.com/cilium/cilium/files/6908252/consoleText.txt)

[2021-07-30 14:46] #16291 closed

[2021-07-30 16:32] gpl commented on #8613
Didn't have time to dig too deeply but I some more research on this and it looks like disabling auto direct node routes "fixed" the problem for me, bare metal, kernel 5.10.

[2021-07-30 22:45] krishgobinath commented on #17020
Noticed same issue in this [PR](https://github.com/cilium/cilium/pull/15354) also. Same error

`node_linux_test.go:1071:
	     // insertNeighbor is invoked async, so thus this wait based on last ping
	     wait(nodev1.Identity(), &now, false)
	 node_linux_test.go:1054:
	     c.Assert(err, check.IsNil)
	 ... value *errors.errorString = &errors.errorString{s:"timeout reached while waiting for condit

[2021-07-30 22:50] krishgobinath commented on #16122
Hit a same failure again for PR [15354](https://github.com/cilium/cilium/pull/15354) error code 28
`/home/jenkins/workspace/Cilium-PR-K8s-GKE@2/src/github.com/cilium/cilium/test/ginkgo-ext/scopes.go:518
Failed to reach 10.128.15.199:80 from testclient-j5g6t
Expected command: kubectl exec -n 202107301808k8sdatapathconfighostfirewallwithvxlan testclient-j5g6t -- curl --path-as-is -s -D /dev/stderr -

[2021-08-02 06:39] xgp01 opened #17026 "Will cilium IPAM support specified ip address of pod?"
## Proposal / RFE

**Is your feature request related to a problem?**

**Describe the solution you'd like**

As the title states, in some cases we need a static pod ip address because our program does not support DNS.  We think if a pod can be assign with a static ip address will solve this problem. We wonder if cilium will support it in future versions or maybe there're better ways we haven't foun

[2021-08-02 12:21] h3llix commented on #16871
hi @pchaigno. I would like to work on this.

[2021-08-02 14:05] #14638 closed

[2021-08-02 16:13] maintainer-s-little-helper[bot] opened #17029 "CI: RuntimePrivilegedUnitTests Run Tests"
### Test Name
[code]

### Failure Output
[code]

### Stacktrace
<details><summary>Click to show.</summary>

[code]
</details>

### Standard Output
<details><summary>Click to show.</summary>

[code]
</details>

### Standard Error
<details><summary>Click to show.</summary>

[code]
</details>

ZIP Links:
<details><summary>Click to show.</summary>

 https://jenkins.cilium.io/job/Cilium-PR-Runtime-4.9/

[2021-08-02 16:13] aanm commented on #17029
Duplicate of https://github.com/cilium/cilium/issues/17020

[2021-08-02 16:13] #17029 closed

[2021-08-02 16:22] maintainer-s-little-helper[bot] opened #17030 "CI: RuntimePrivilegedUnitTests Run Tests"
### Test Name
[code]

### Failure Output
[code]

### Stacktrace
<details><summary>Click to show.</summary>

[code]
</details>

### Standard Output
<details><summary>Click to show.</summary>

[code]
</details>

### Standard Error
<details><summary>Click to show.</summary>

[code]
</details>

ZIP Links:
<details><summary>Click to show.</summary>

 https://jenkins.cilium.io/job/Cilium-PR-Runtime-4.9/