[2021-04-07 14:46] aanm commented on #15583
And is Cilium 1.7.x affected at all?

[2021-04-07 15:38] lbernail commented on #15583
It should not be as it seems to be using client-go versions between 0.17.3 and 0.17.17 (not 100% sure as it is referencing a specific commit but other references to kubernetes packages use these versions)

[2021-04-07 17:28] joestringer opened #15594 "Switch to EndpointSlice v1beta1 -> v1"
New builds of Cilium latest are reporting this log message:

[code]

https://jenkins.cilium.io/job/Cilium-PR-K8s-1.21-kernel-4.9/110/testReport/junit/Suite-k8s-1/21/K8sDatapathConfig_Transparent_encryption_DirectRouting_Check_connectivity_with_transparent_encryption_and_direct_routing/

I guess that we need to attempt to use v1, then if the cluster doesn't support it, attempt v1beta1, and if that

[2021-04-07 18:13] aanm commented on #15594
@joestringer this should be fixed by #15524. Is that a recent jenkins run?

[2021-04-07 18:23] joestringer commented on #15594
Yes, here's the git checkout step of the job:
https://jenkins.cilium.io/job/Cilium-PR-K8s-1.21-kernel-4.9/110/execution/node/7/log/

[code]

Commit 9be5183414 appears to include 5ee4c6f (https://github.com/cilium/cilium/pull/15524).

[2021-04-07 18:24] joestringer commented on #15594
Do we still use this for generating images or is jenkins pulling from the cilium-ci build now too? The PR might not have been rebased.

[2021-04-07 18:25] joestringer commented on #15594
Linked Jenkins job is from PR https://github.com/cilium/cilium/pull/15072.

[2021-04-07 21:11] joestringer commented on #9230
Seems like we've collected many of the requirements here (#14852) and we don't need two issues to track this. I've assigned that one to you, will close this out.

[2021-04-07 21:11] #9230 closed

[2021-04-07 21:26] joestringer opened #15596 "Can you chain Cilium on top of other plugins and enable Cilium transparent encryption?"
Q: Can you chain Cilium on top of other plugins such as aws-cni or calico, and enable Cilium transparent encryption?

A: This is not supported currently. Typically the other plugin in this scenario is responsible for underlying connectivity to the network, so it is difficult for Cilium to correctly integrate at that layer to ensure that the traffic is encrypted.

Users who are interested in encryp

[2021-04-07 21:26] #15596 closed

[2021-04-07 21:45] joestringer commented on #15596
@jrfastab and I had a brief discussion on Slack today about this, our assessment was that we don't identify any fundamental limitations that prevent this from being supported, but it would require significant additional work to implement and fully validate. It would depend on the exact packet paths that are taken through the stack while chaining with a particular other plugin.

Beyond that, from a

[2021-04-08 00:04] aanm commented on #15594
@joestringer the source code to build images is **not** rebased

[2021-04-08 05:55] joestringer commented on #15594
I'll close this out then, should be already resolved.

[2021-04-08 08:51] pchaigno opened #15604 "CI: Runtime: Unable to mount BPF filesystem: multiple mount points detected at /sys/fs/bpf"
All Runtime tests failed at https://jenkins.cilium.io/job/Cilium-PR-Runtime-4.9/4300 because of:
[code]
[b04b6b03_RuntimeKVStoreTest_KVStore_tests_Consul_KVStore.zip](https://github.com/cilium/cilium/files/6277387/b04b6b03_RuntimeKVStoreTest_KVStore_tests_Consul_KVStore.zip)

[2021-04-08 08:54] pchaigno commented on #14959
Same failure at https://jenkins.cilium.io/job/Cilium-PR-K8s-1.21-kernel-4.9/130/testReport/junit/Suite-k8s-1/21/K8sDatapathConfig_Transparent_encryption_DirectRouting_Check_connectivity_with_transparent_encryption_and_direct_routing/.
[5ddab143_K8sDatapathConfig_Transparent_encryption_DirectRouting_Check_connectivity_with_transparent_encryption_and_direct_routing.zip](https://github.com/cilium/cil

[2021-04-08 08:58] dbaumgarten commented on #15568
Ok, then I'll stay at 1.8.4 for now and patiently wait for the patch.
Thanks for your help.

[2021-04-08 14:52] pchaigno opened #15609 "CI: Cannot retrieve enp0s8 enp0s3 link"
All tests failed at https://jenkins.cilium.io/job/Cilium-PR-K8s-1.16-net-next/138/ and https://jenkins.cilium.io/job/Cilium-PR-K8s-1.20-kernel-4.19/112/ with the following fatal:
[code]

Sysdumps:
[b06d786b_K8sServicesTest_Testing_test_script_Validating_test_script_correctness.zip](https://github.com/cilium/cilium/files/6279521/b06d786b_K8sServicesTest_Testing_test_script_Validating_test_script_co

[2021-04-08 15:31] brb commented on #15609
`BPF host routing is currently not supported with devices without L2 addr` is a false positive (because devices couldn't be retrieved through netlink).

Unfortunately, no bugtool is included in any of the artifacts. It's hard to say why all of sudden cilium-agent couldn't retrieve devices via netlink. Important to note is that the devices are determined during runtime (by using netlink). I doubt t

[2021-04-08 15:41] pchaigno commented on #15609
No, net-next image builds have been blocked for a while. The failure also happened on a 4.19 image.

I think I saw this happen at least once before but maybe I'm mistaken. Could be that it's a bug in the PR which triggered tests (i.e., https://github.com/cilium/cilium/pull/15558). Let's maybe revisit next steps if it happens again.

[2021-04-08 16:10] #14395 closed

[2021-04-08 17:19] christarazi opened #15611 "BGP followups"
- [x] Update CODEOWNERS now that we have new packages: https://github.com/cilium/cilium/pull/15663
- [x] Use https://pkg.go.dev/k8s.io/code-generator/cmd/conversion-gen instead of handmade conversion functions
- [x] Refactor consumers from agent K8s watchers by using https://github.com/cilium/cilium/pull/15295: https://github.com/christarazi/cilium/blob/8297e05e22977872eddc5b8ba4f9eac1b2679f6e/pkg

[2021-04-08 21:06] joestringer opened #15613 "docs: Update kube-router guide to point to newer release"
The Cilium kube-router integration guide points to kube-router v0.4.0:
https://docs.cilium.io/en/v1.9/gettingstarted/kube-router/

There have been several releases since v0.4.0 upstream.

Upstream kube-router documentation points towards the YAMLs from the master branch:
https://github.com/cloudnativelabs/kube-router/blob/master/docs/user-guide.md#running-as-daemonset

We should probably just use

[2021-04-08 22:34] ammmk commented on #14841
I just wrapped all the states in the new string-based type.
That doesn't prevent from putting string constants and literals `Endpoint.SetState("foo")` into, but helps with variables and typed constants.

I can go further and change the State to a numeric based type, which requires introducing additional mapping with `models.EndpointState`.
That will handle `Endpoint.SetState("foo")`, but still wou

[2021-04-09 04:00] Danielybl commented on #12429
@borkmann is there any update for this feature? Thanks

[2021-04-09 05:32] johngv2 opened #15617 "EnabledProtocols is nil when using an cilium-agent which is not aware of the field definition"
The commit [14ced84](https://github.com/cilium/cilium/commit/14ced84f7ef847350de8606b9e3159151a365531) have introduced two new flags `enable-ipv6-masquerade` and `enable-ipv4-masquerade` with default values (true). However, if someone makes a mistake mixing the versions of cilium-agent and cilium (cli), e.g. by applying

```kubectl create -f https://raw.githubusercontent.com/cilium/cilium/v1.9/ins

[2021-04-09 05:36] johngv2 commented on #15617
I am planning take-up this issue
@pchaigno, please, could you assign it to me.

[2021-04-09 05:53] weirdwiz commented on #15613
Hi, I'd like to work on this issue.

[2021-04-09 06:44] borkmann commented on #12429
In master branch we have a LB-only mode which has IPIP encap (similar to Katran). For the K8s case, the tunneling is still on our roadmap & tbd.

[2021-04-09 07:31] kkourt commented on #12891
#13989 should address this. If this (or similar) comes up again, let's open a new issue.

[2021-04-09 07:31] #12891 closed

[2021-04-09 09:08] pchaigno commented on #15613
@weirdwiz Hi :wave: I've assigned you. Don't hesitate to reach out on Slack (e.g., #sig-docs or #development) if you have any question.

[2021-04-09 09:51] pchaigno opened #15619 "CI: ConformanceKind1.19: pod-to-pod connectivity test: SYN-ACK and FIN-ACK not found"
Happened on a PR which only modified the end-to-end tests (https://github.com/cilium/cilium/pull/14543).

[code]

[2021-04-09 13:02] brb opened #15620 "CI: K8sServicesTest Checks service across nodes Tests NodePort BPF Tests with direct routing Tests LoadBalancer Connectivity to endpoint via LB"
[code]
We recently switched to the integrated MetalLB in the test. /cc @christarazi

Maybe 30sec is not enough?

[2e1ea6ff_K8sServicesTest_Checks_service_across_nodes_Tests_NodePort_BPF_Tests_with_direct_routing_Tests_LoadBalancer_Connectivity_to_endpoint_via_LB.zip](https://github.com/cilium/cilium/files/6285883/2e1ea6ff_K8sServicesTest_Checks_service_across_nodes_Tests_NodePort_BPF_Tests_with_di

[2021-04-09 13:24] kkourt opened #15621 "CI: Suite-k8s-1.16.K8sServicesTest Checks service across nodes Tests NodePort BPF Tests with direct routing Tests LoadBalancer Connectivity to endpoint via LB"
There seem to be a number of PR failures with this message, so this might be a flake:
 * https://jenkins.cilium.io/job/Cilium-PR-K8s-1.16-net-next/151/testReport/junit/Suite-k8s-1/16/K8sServicesTest_Checks_service_across_nodes_Tests_NodePort_BPF_Tests_with_direct_routing_Tests_LoadBalancer_Connectivity_to_endpoint_via_LB/
 * https://jenkins.cilium.io/job/Cilium-PR-K8s-1.16-net-next/170/testReport/

[2021-04-09 13:41] brb commented on #15621
Duplicate of https://github.com/cilium/cilium/issues/15620.

[2021-04-09 13:41] #15621 closed

[2021-04-09 14:22] h3llix commented on #13913
@joestringer @pchaigno Can you give more insights on this issue or on which configurations need to be exposed. Also what is the expected result when this issue gets resolved?

[2021-04-09 14:29] Sh4d1 opened #15626 "eBPF masq breaks ClusterIP access on Kata/gVisor"
## Bug report

**General Information**

- Cilium version (run `cilium version`) :
[code]
- Kernel version (run `uname -a`) :
[code]
- Orchestration system version in use (e.g. `kubectl version`, ...) :
[code]
- Link to relevant artifacts (policies, deployments scripts, ...)
- Generate and upload a system zip:
https://static.ptrk.io/cilium-sysdump-20210409-142327.zip

**How to reproduce the issue**

[2021-04-09 14:31] pchaigno commented on #13913
All Cilium agent configurations need to be exposed. See `pkg/option/`.

`cilium config` would show the full configuration of the agent, similarly to what you have at the beginning of the Cilium logs, except with the current values.

[2021-04-09 15:10] Sh4d1 commented on #15626
Same thing is happening with Kata containers by the way

[2021-04-09 15:14] youssefazrak commented on #15483
@brb taking care of it. I submitted a PR, let me know if this makes sense. Thanks!

[2021-04-09 16:29] pchaigno commented on #6728
Hit again at https://github.com/cilium/cilium/pull/15597 with https://jenkins.cilium.io/job/Cilium-PR-K8s-1.17-kernel-4.9/122/testReport/junit/Suite-k8s-1/17/K8sHealthTest_checks_cilium_health_status_between_nodes/.
[6c162469_K8sHealthTest_checks_cilium-health_status_between_nodes.zip](https://github.com/cilium/cilium/files/6287203/6c162469_K8sHealthTest_checks_cilium-health_status_between_nodes.z

[2021-04-09 16:35] #15337 closed

[2021-04-09 18:35] aanm opened #15629 "Add more user-friendly log messages on map creation"
[code]

From Joe:
There is a cilium_metrics map already with flags configured with the value 0, looks like on startup the daemon attempted to reuse the map but since the flags value was different from what it expected the flags to be (1), it took exception to this and failed out.
Fataling out here seems like a bit extreme, normally I would expect such maps just to be recreated with the new map fla

[2021-04-09 18:48] navarrothiago commented on #10541
Sorry, I am going to unassign me, because the issue that I am working on is taking me time.

[2021-04-09 18:53] christarazi commented on #15620
I'm not so sure this is a flake. Inspecting the sysdump, I'm not seeing the `bgp-announce-lb-ip` flag in the Cilium logs output which would indicate that Cilium is aware of the option. Looking at https://github.com/cilium/cilium/pull/15260, it is not rebased on top of latest master which includes the BGP code. I imagine the same has happened with https://github.com/cilium/cilium/pull/15590, but it

[2021-04-09 20:15] christarazi commented on #15629
If we recreate maps, then we lose the contents. In this case, it's the metrics map so not a big deal if it's gone, but other maps, this might be a more sensitive situation. So it might make sense to make the metrics map not fatal on this error, but others probably keep the fatal.

[2021-04-09 21:59] #10979 closed

[2021-04-09 22:01] joestringer opened #15630 "CI: Suite-k8s-1.21.K8sChaosTest Connectivity demo application Endpoint can still connect while Cilium is not running: exit status 28"
## Suite-k8s-1.21.K8sChaosTest Connectivity demo application Endpoint can still connect while Cilium is not running

https://jenkins.cilium.io/job/Cilium-PR-K8s-1.21-kernel-4.9/155/testReport/junit/Suite-k8s-1/21/K8sChaosTest_Connectivity_demo_application_Endpoint_can_still_connect_while_Cilium_is_not_running/
[8fe9a754_K8sChaosTest_Connectivity_demo_application_Endpoint_can_still_connect_while_Ci

[2021-04-09 22:02] joestringer commented on #15594
Seen again in #15630, based against upstream c603c5e378b2ecdfbc0367d85f18fe7bf1ff4fe2 (yesterday).

[2021-04-09 22:04] joestringer commented on #15630
There's a bunch of errors in the logs here that we should address before shipping v1.10, marking blocker to investigate.

[2021-04-10 11:39] olemarkus commented on #15362
Probably a duplicate of https://github.com/cilium/cilium/issues/14287

[2021-04-10 12:51] tklauser commented on #13400
In the last ~2 months the only re-occurrence of this flake was on v1.8 where #14329 wasn't backported. So it indeed looks like this was caused by `gops` using the same port as the proxy. I'll send a manual backport of #14329 targeting v1.8, so this issue can be closed.

[2021-04-10 13:55] tklauser commented on #13400
#15634 is the backport PR which should also fix this for v1.8.

[2021-04-10 15:16] chez-shanpu commented on #14609
Hi! I'm trying to make a GSoC proposal for this issue and I have some questions about this.
As you said, I think the second approach is better too.
And now I'm thinking about how to implement this and where should I edit.
I think we have to make a new API under `cilium/pkg/policy/api/`, and update validation in `rule_validation.go`.
And I'm wondering if I should set ICMP type and code field into `

[2021-04-11 08:03] h3llix commented on #14638
@pchaigno can you help me on how to query IPSec configurations, Also I am thinking to take up this issue in extension to my gsoc proposal as it revolves mostly around improvements in cli.

[2021-04-11 09:36] alandtsang opened #15636 "Bandwidth manager: ingress rate limiting"
Hi everyone, I'm using Cilium 1.9.5.

I have an upload and download service, and I want to limit the bandwidth of the ingress and egress of the Pod.

I learned from https://docs.cilium.io/en/v1.9/gettingstarted/bandwidth-manager/, The `kubernetes.io/ingress-bandwidth` annotation is not supported and also not recommended to use.

What should I do if I want to implement the functions mentioned above

[2021-04-11 12:13] seungsoo-lee opened #15638 "Propose an automatic policy discovery module."
## Proposal / RFE

**Is your feature request related to a problem?**
No

**Describe the solution you'd like**
Basic operation: generate a network policy based on the network traffic information from Cilium Hubble.

Inputs:
- network logs (traffic) from Cilium Hubble
- pod(including labels), endpoint, and service information from K8s Client APIs

Can be discovered policy types:
- to/fromEndpoints (

[2021-04-11 20:41] christarazi commented on #15237
Hi @zhujik, I looked at the sysdump and I can confirm that there are two missing CEPs that exist as pods:

[code]

The first one is mentioned in your post. However, we cannot understand what may have happened for them to go missing without the logs. Do you by chance still have the logs around?

Also, msgs like the following indicate the API rate-limiter kicking in to rate-limit endpoint-creations.

[2021-04-12 00:07] CBVenkataReddy commented on #15452
I think we can make use of existing "connectivity-check.yaml" and "connectivity-check-proxy.yaml" tests
[connectivity-check.txt](https://github.com/cilium/cilium/files/6293021/connectivity-check.txt)

[2021-04-12 07:40] brb commented on #15626
Thanks for the issue. What is your gVisor configuration?

What happens in the Kata case is that the host-reachable services cannot be applied, as your pods are running in separate VMs. Try disabling it with `kubeProxyReplacement=partial` and then enabling each individual feature you need for kube-proxy replacement (https://docs.cilium.io/en/v1.9/gettingstarted/kubeproxy-free/#kubeproxy-free).

[2021-04-12 07:58] #15498 closed

[2021-04-12 08:23] brb commented on #15636
@borkmann might have an answer.

[2021-04-12 08:35] borkmann commented on #15636
@alandtsang Did you try with `kubernetes.io/egress-bandwidth`-only, are you saying the uploads are too fast?

[2021-04-12 10:26] #15594 closed

[2021-04-12 11:06] nebril opened #15648 "Race condition between Datapath Reload and link cache sync"
Found in race condition detector enabled CI: https://jenkins.cilium.io/view/Race%20Detection/job/Ginkgo-CI-Tests-k8s1.21-Pipeline-Race-Detection/85/testReport/junit/Suite-k8s-1/21/K8sPolicyTest_Basic_Test_checks_all_kind_of_Kubernetes_policies/

Race detector output:
[code]

Log with context:
[pod-kube-system-cilium-nfsw9-cilium-agent.log](https://github.com/cilium/cilium/files/6296045/pod-kube-sy

[2021-04-12 11:24] qmonnet commented on #15648
Duplicate to #15438

[2021-04-12 11:26] #15648 closed

[2021-04-12 12:16] tklauser commented on #15438
Submitted vishvananda/netlink#637

[2021-04-12 12:24] pchaigno commented on #14638
I would advise against that unless it's clear that the original project idea will take less than 175 hours. It's better to have a strong proposal with a small scope than lacking the time to prepare a proposal with a large scope.

The netlink library we use, [vishvananda/netlink](https://github.com/vishvananda/netlink), should already provide that information. Please check https://pkg.go.dev/github

[2021-04-12 12:55] pchaigno commented on #14609
For UDP/TCP, our datapath currently supports a single port, so I'm wondering if it wouldn't be easier, for a first version at least, to only support ICMP types and not the codes. What do we lose if we don't support codes? What's the use case for policies using ICMP codes?

If we don't support ICMP codes, then we can reuse most of the code for the L4 policies. We could still provide a `to/fromICMPs

[2021-04-12 13:12] weirdwiz commented on #14909
I'd like to work on this issue.

[2021-04-12 13:16] gandro commented on #11560
@pchaigno Any pointers on where this occurred again? We recently removed the primary IP from the allocation pool, might be related?

[2021-04-12 13:59] pchaigno commented on #11560
@gandro I restarted the Travis CI build where it happened. I'll keep it next time and ping here.

[2021-04-12 14:00] pchaigno commented on #14909
@weirdwiz I've assigned you. Don't hesitate to reach out on Slack (e.g., #testing or #development) if you have any question.

[2021-04-12 14:35] chez-shanpu commented on #14609
We can use ICMP codes for ACL in iptables and I thought we need.
But I can't find any use cases that requires ICMP code by searching or asking people .
So, I don't think we have to support it for now either.

BTW if we only support ICMP type, do we use `DestPort` in PolicyKey as an ICMP type and add "ICMP" in `api.L4Proto`?

[2021-04-12 14:44] johnrengelman commented on #14609
AWS Security Groups support ICMP types & codes in their rules - https://docs.aws.amazon.com/vpc/latest/userguide/VPC_SecurityGroups.html#SecurityGroupRules

[2021-04-12 14:46] johnrengelman commented on #14609
Specifically, they store ICMP type in the `FromPort` field and ICMP Code in the `ToPort` - https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-properties-ec2-security-group-rule-1.html

[2021-04-12 14:59] h3llix commented on #14638
Hi @pchaigno. I just realized but I think that these are doable under 175hours but I will reconsider. For now, I just added references to this issue in my draft proposal. Can you provide some reviews on my draft proposal? Thank you.

[2021-04-12 14:59] chez-shanpu commented on #14609
Thank you for the information!

Hmm... I'm wondering if we need ICMP code support 🤔
I know that other services support ICMP code, but I don't think that's a reason to need ICMP code support.

[2021-04-12 15:22] aditighag commented on #15362
If the test is validating connectivity to loopback address on host port, and expecting protocol differentiation, then yes, it's a duplicate of #14287.

From the logs -

Mar 16 07:54:37.240: FAIL: Failed to connect to exposed host ports

Same as https://github.com/cilium/cilium/issues/14287#issuecomment-739027677.

+ nc -v -t -w 2 203.0.113.250 80
+ echo hostName
nc: connect to 203.0.113.250 port 8

[2021-04-12 15:37] olemarkus commented on #15362
Looks like. See https://github.com/kubernetes/kubernetes/blob/master/test/e2e/network/hostport.go#L61

[2021-04-12 15:39] chez-shanpu commented on #14609
I thought again from the beginning.
IMO if we can't find a reason to support ICMP codes, we don't have to support it.
And also, if we don't support ICMP code, I think using `toPort` field (the first idea) is better, because it's easier to implement.

[2021-04-12 15:40] pchaigno commented on #14609
Unfortunately, our datapath currently only filters based on a single port (destination port). Changing that is likely possible but it's a lot more work and I'm not sure it would be possible in the scope of a GSoC project. That doesn't mean we shouldn't discuss and consider that of course.

@johnrengelman Do you have a use case for filtering based on ICMP codes?

[2021-04-12 15:43] chez-shanpu commented on #14609
Can't we allow multiple ICMP types using multiple CNP?

[2021-04-12 15:44] borkmann commented on #15636
That upload part is a bit more tricky, and needs implementation in the BPF progs. There could be a per Pod policer implementation for ingress, and e.g. for TCP it could potentially use ECN to throttle instead of dropping, but I haven't sketched out details yet from my side.

[2021-04-12 16:28] gandro commented on #15111
Since this issue has been created, `GetFlowsResponse` is now also used in the flow export: https://github.com/cilium/cilium/blob/72261970c9583497b4aa6694283d8158c7b504a1/pkg/hubble/exporter/exporter.go#L65

We likely want to keep having a unified stream for the events export. This probably means that we want a `ExportEvent` type in the observer protobuf for export, while `GetFlowsResponse` should

[2021-04-12 16:32] johnrengelman commented on #14609
@pchaigno Probably not today, so I think not supporting codes initially makes sense.

[2021-04-12 19:19] christarazi commented on #15177
Thanks for filing the issue. I took a look at this and I was able to reproduce it with the latest version of Cilium as well (v1.9.5).

Strangely enough though, that directory does exist. If I do an `ls /var/lib/cni/networks/` before the `find`, it works. It seems like GKE is lazily mounting this path on first access. I don't know if that's what's happening for a fact, but it's behaving as such.

[2021-04-12 20:32] christarazi commented on #15177
Could you try applying this diff and see if that resolves it for you?

[code]

[2021-04-12 20:33] #15547 closed

[2021-04-12 21:52] #14155 closed

[2021-04-13 01:45] DavidLeeUX opened #15664 "cilium ip address allocation"
If I have only one kubenetes cluster, but the ip address segment is allocated according to the computer room, each room has a /24 segment, then how to configure the cidr according to the computer room when using cilium, and whether it is possible to assign cidr according to the label

[2021-04-13 02:59] aanm opened #15667 "Fix possible panic on closed channel"
If the connection restarts in https://github.com/cilium/cilium/blob/ad322a1764657c89d0677208b6dfba75101b5d85/pkg/ipcache/kvstore.go#L231-L242

the channel in
https://github.com/cilium/cilium/blob/ad322a1764657c89d0677208b6dfba75101b5d85/pkg/ipcache/kvstore.go#L274

might be closed more than one time causing a panic.

[2021-04-13 06:05] Sh4d1 commented on #15626
[code]

This is the containerd conf for gvisor, no additional conf on gvisor side.

For kata, as for gvisor, it works when I set `bpf-masquerade` to false. (Just need to verifiy for kata)

[2021-04-13 06:29] alandtsang commented on #15636
Does the cilium community plan to support `kubernetes.io/ingress-bandwidth` in the future?

[2021-04-13 06:35] Sh4d1 commented on #15626
Indeed, setting `bpf-masquerade` to false also fixes it for kata

[2021-04-13 07:12] brb commented on #15626
Does your k8s cluster consist of a single node?

[2021-04-13 07:17] jelisejev commented on #12297
Having the same problem as well. I've created a managed identity with Contributor and Managed Identity Operator permissions to the subscriptions and put its ID into userAssignedIdentityID. Also tried not specifying the userAssignedIdentityID in hopes that it will pick up the correct identity itself, but that did not work.

[2021-04-13 07:20] Sh4d1 commented on #15626
Nop, it's a 3 nodes cluster. I've bumped to one coredns per node, still seeing `reply from unexpected source: 100.64.0.233#53, expected 10.32.0.10#53` for all 3 ips

[2021-04-13 09:47] borkmann commented on #15636
Definitely open to extending and supporting it, yes. From my side, I don't have a specific ETA at this point. In case you plan on working on a design & implementation that would be fine as well.

[2021-04-13 11:20] zhujik commented on #15237
@christarazi thank you very much for your response.

In the meantime we pushed the upgrade to 1.9.x back and instead only updated to 1.8.8 without major problems. Unfortunately the logs are lost. The hint to the ratelimit seems suspicous, we rotated the pods in the cluster as is recommended on major cilium upgrades (wasn't there a restart-pods options when doing so), however, this was at most doze

[2021-04-13 11:37] alandtsang commented on #15636
@borkmann Okay, thank you very much for your reply.

[2021-04-13 12:45] kovalyukm commented on #15366
[bug-report.zip](https://github.com/cilium/cilium/files/6303780/bug-report.zip)

There are a lot of information, and I would prefer not to share all of it, so please tell me what additionally you need.
Some actual values changed like node IP to NODE_IP, node name to NODE_NAME, so on, and some info removed.

There are the information from output of `python cilium-sysdump.zip --nodes  NODE_NAME`
[co

[2021-04-13 13:41] rscampos commented on #14817
Hello @brb @pchaigno,
I'm planning to pick up this issue, do you guys think that is a good handle issue? Because this is going to be my second issue :D

[2021-04-13 13:53] ombre9 commented on #12297
@r3mattia Your problem is this this:
`level=warning msg="Unable to synchronize Azure virtualnetworks list" error="azure.BearerAuthorizer#WithAuthorization: Failed to refresh the Token for request to https://management.azure.com/subscriptions/<>/providers/Microsoft.Network/virtualNetworks?api-version=2019-09-01: StatusCode=400 -- Original Error: adal: Refresh request failed. Status Code = '400'. Re

[2021-04-13 13:59] rscampos commented on #14549
Hello @fristonio @pchaigno,
I'm planning to pick up this issue, do you guys think that is a good handle issue? Because this is going to be my second issue :D

[2021-04-13 14:41] #11485 closed

[2021-04-13 15:27] ti-mo commented on #15664
Hi @DavidLeeUX, thanks for creating an issue. I'm going to close this as this is a bug/development tracker, not a support forum.

Please reach out to the community through our public Slack (https://github.com/cilium/cilium#slack) for these kinds of questions.

[2021-04-13 15:27] #15664 closed

[2021-04-13 15:55] brb commented on #15626
The sysdump you included contains only one node :thinking:

[2021-04-13 16:03] Sh4d1 commented on #15626
Ah yep, but tested with 3 nodes afterwards (only on kata)

[2021-04-13 16:36] fristonio commented on #14549
Hey @rscampos
Yeah, this seems like a good issue to handle as your second. You can see https://github.com/cilium/cilium/pull/14254 for the reference implementation as to how this was done for KVStore allocation mode. Feel free to reach out on slack if you need any help :)

[2021-04-13 17:15] brb opened #15676 "Improve locking and context usage of neighbor manager"
Currently, the neighbor manager (the same which does arpings) does all operations under the lock of the node manager (`linuxNodeManager`). This means that if any operation of the neighbor blocks, the node manager requests won't be processed in time.

This becomes an issue when the periodic neighbor manager refresh is not able to process requests on time (e.g. when arpings take longer), which leads

[2021-04-13 17:58] rscampos commented on #14549
Cool @fristonio, thank you for the hint. If I have some problem I let you know :D

[2021-04-13 18:56] lrouquette commented on #15626
It fixes DNS, but not k8s-api-server connect (e.g. `curl 192.168.0.1:443`). I have a slightly different set-up with cilium 1.8.8. Setting `enable-host-reachable-services: "false"` does the trick though. So, both are ClusterIP, but one is udp and the other is tcp.
@Sh4d1, I'm curious if you have the same result in your setup.

[2021-04-13 22:36] christarazi opened #15682 "Empty `instanceID` can cause CiliumNode resources to contain all ENIs within a VPC, breaking connectivity for pods on IP allocation"
# Background
As [this](https://github.com/cilium/cilium/pull/14991#issuecomment-780194571) points out, we have code which iterates over all the ENIs from all instances inside a VPC, adding all the ENIs found to the local CiliumNode resource, when the `instanceID` is empty. When new pods are scheduled, it's possible for an IP from an ENI that's _not_ attached to the local node to be selected, which

[2021-04-14 00:19] karthikt-yahoo opened #15683 "Cilium North-South Load balancing does uneven connection across backend pods"
## Bug report

**General Information**

- Cilium version (run `cilium version`)
[code]
[code]

**How to reproduce the issue**

1. Deploy nginx with two or three pods
2. Create k8s service with external ip (i choose External ip with ip of a dedicated host(with XDP enabled), and all the traffic for External IP goes via the dedicated host)
3. Generate load to created service external ip(In my setup,

[2021-04-14 09:00] #15613 closed

[2021-04-14 10:57] pchaigno opened #15690 "Extend review process and codeowners to satellite repositories"
On cilium/cilium we have a well defined process for reviews, based on [the code owners](https://github.com/cilium/cilium/blob/master/CODEOWNERS) and associated GitHub teams. This review process is however currently limited to this repository and doesn't apply to our satellite repositories (e.g., cilium-cli, packer-ci-build, image-tools, etc.). As a consequence, pull requests in satellite repositor

[2021-04-14 12:58] mkindalov opened #15691 "Add "pod name" or "node" to Grafana Dashboards legend"
You can see  in the screenshot that legend does not contain information about the pod or the node.

![image](https://user-images.githubusercontent.com/9873207/114712063-f71f9d00-9d2f-11eb-9085-cafe95ad8d8e.png)

This makes the dashboards difficult to read when troubleshooting

### Solution:
Prepend the "node" or "pod-name" to the current legend items.
It looks like pod-name  is already collected b

[2021-04-14 13:48] rustrial opened #15692 "cilium-node-init does not restart pods on EKS with CNI chaining"
## Bug report

The [cilium-node-init DaemonSet](https://github.com/cilium/cilium/blob/master/install/kubernetes/cilium/templates/cilium-nodeinit-daemonset.yaml#L239) uses an introspection endpoint of the AWS CNI plugin which no longer exists to list the running Pods.  The endpoint `localhost:61679/v1/pods` [has been removed in AWS CNI version 1.7.0](https://github.com/aws/amazon-vpc-cni-k8s/commit

[2021-04-14 14:22] brb opened #15693 "daemon: Make --devices to accept names with wildcards"
Currently, the cilium-agent's flag `--devices` allows a user to specify devices to which `bpf_host` program should be attached (the latter is responsible for NodePort BPF, host-fw, etc).

This works fine in a homogeneous cluster in which all to-be attached devices are named the same. The problem arises when this is not the case, as cilium-agent panics if it cannot find any user specified device.

[2021-04-14 14:34] joamaki commented on #15693
Alternatively I suppose the wildcard syntax could be in the style of shell globs (e.g. implemented with https://golang.org/pkg/path/filepath/#Match) or as regexp. Any idea how much flexibility is needed? Do we know of a specific case where the current `--devices` flag fell short?

[2021-04-14 14:34] gandro commented on #15690
My 2 cents: I think it might make sense to have same load-balacning mechanism we have for `cilium/hubble` as well. Right now we have not done it, because overall traffic is low on `cilium/hubble` (it's only a client CLI these days), but if we start doing it for all other sattelite repositories, then I think we should to the same, even if we end up only defining a single `CODEOWNER` for all of `cil

[2021-04-14 14:36] jrajahalme commented on #14784
Similar issue in the Kind GH action testing encryption at https://github.com/cilium/cilium-cli/pull/158:
[code]

[2021-04-14 15:08] nathanjsweet commented on #15630
[This is the part of the test](https://github.com/cilium/cilium/blob/master/test/k8sT/Chaos.go#L129) that is failing ([specifically this line](https://github.com/cilium/cilium/blob/master/test/k8sT/Chaos.go#L107) of the connectivity test).   I don't know if this is exactly the problem, but there are logs in the test dump that indicated that there were ipcache upsert issues ([tied to this line](htt

[2021-04-14 17:25] aanm opened #15698 "`cilium ip list` returns a misleading source"
Doing some code auditing it looks like we are setting k8s source when dumping ipcache entries [1]. This can be a little bit misleading since `k8sMeta` can also be populated in by CEPs in [2]

[1] https://github.com/cilium/cilium/blob/4c30f50020af527b537d8cb027d7649b2c9c9e3c/daemon/cmd/ipcache.go#L84-L94

[2] https://github.com/cilium/cilium/blob/969c2f78f545f29925ab1fab43ca508e0eb34efb/pkg/k8s/wat

[2021-04-14 17:35] joestringer commented on #14784
In the past to investigate issues with this log message, we have manually edited the iproute2 to increase the maximum size of this buffer (basically grep for the log message in https://github.com/cilium/iproute2, edit the # of tries or base buffer size), included these changes into a new Cilium image and re-run the test to gather the actual verifier output. Might be one option to start to tackle t

[2021-04-14 18:07] joestringer opened #15699 "Documentation linters should cause the docs build to fail"
We recently introduced a minor docs regression, but the build succeeds:

[code]

When there are warnings like this, it should cause the docs build to fail so that we fix these issues before merging the code.

[2021-04-14 18:08] joestringer commented on #15699
^ Run from master commit 99eff1b46c37 .

[2021-04-14 20:19] oblazek commented on #15683
@karthikt-yahoo what happens when you use another host as the traffic generator (httperf)?

[2021-04-14 20:30] oblazek opened #15701 "Index out of range when handling /healthz v1.9.X on kubernetes 1.18"
## Bug report

**General Information**

Getting following crash when handling /healthz when running cilium version higher than 1.8.X (tested 1.9.3, 1.9.5):
[code]

- Cilium version (run `cilium version`)
[code]
- Kernel version (run `uname -a`)
[code]
- Orchestration system version in use (e.g. `kubectl version`, ...)
[code]

- Cilium config
[code]

[2021-04-14 20:40] oblazek commented on #15701
all works well when using cilium e.g. v1.8.8

[2021-04-14 23:17] karthikt-yahoo commented on #15683
I tested by generating traffic with two httperf clients on two individual hosts to External-IP service with two backend pods. request/connection distribution to backed pods is 74% and 26%

[2021-04-15 02:07] sstoner opened #15703 "KVstore-free For ClusterMesh"
With cilium 1.6 release, cilium entirely without a KVstore in the context of Kubernetes.

But in the clustermesh situation, we still need to use etcd as kvstore in cilium. I just want to know if KVstore-free for ‘cilium clustermesh’  is possible?

## Proposal / RFE

**Is your feature request related to a problem?**

KVstore-free 100% in the context of kubernetes

**Describe the solution you'd like

[2021-04-15 02:37] aanm commented on #15703
Cilium 1.10 will have this feature. The documentation is already available here. https://docs.cilium.io/en/latest/gettingstarted/clustermesh/clustermesh/

[2021-04-15 03:07] sstoner commented on #15703
From this doc It obviously simplify the process to deploy clustermesh by clustermesh-apiserver, but it did't mention kvstore-free is possible. Because I still see we sign the certs for different clusters in the doc's logs, I think we can just generate a possible kubeconfig for different remote clusters that is more simple for users.

[2021-04-15 03:16] sstoner commented on #15703
Moreover why don't I see this feature `kvstore-free for clustermesh` in the v1.10 milestones ?
Maybe we can implement it together with community if it don't have strange problems to replace `store.JoinSharedStore`

[2021-04-15 03:26] dctrwatson commented on #14728
Not sure if it's related, but with `kube-proxy-replacement=probe` seeing new connection issues with NLBs; they just hang for 90-120s periodically.

Kubernetes: `v1.17.11`
Kernel: `5.4.0-1035-aws`

If I set `kube-proxy-replacement=disabled`, I no longer have connection establishment issues from NLB->service for at least a few thousand new connections.

I changed it back to `probe` and then saw new

[2021-04-15 08:07] brb commented on #10799
It sill the case today. @errordeveloper Is there any blocker to do the check from the docs GH action?

[2021-04-15 08:09] pchaigno commented on #15630
@nathanjsweet With [this CI dashboard report](https://datastudio.google.com/s/tdqhod3QK4g), I checked occurrences over the past week. I couldn't find any other occurrence (same test fails but for different reasons). So I think we can remove `release-blocker/1.10` assuming we already have opened issues for each of the weird log messages spotted by Joe:
- [ ] Failed to remove route
- [ ] Unable to u

[2021-04-15 08:29] brb commented on #14728
@dctrwatson Can you provide a sysdump?

[2021-04-15 08:49] gandro commented on #15698
FWIW: There is no `cilium ipcache list` command ;) Only `cilium bpf ipcache list`. This API was used for Hubble standalone (which never read the field in the first place). But yes, we should fix this regardless.

[2021-04-15 09:20] tklauser commented on #12795
Not sure whether this is the same, but I've hit the same test failing on #15634 for v1.8: https://jenkins.cilium.io/job/Cilium-PR-K8s-1.16-kernel-4.9/163/testReport/junit/Suite-k8s-1/16/K8sFQDNTest_Restart_Cilium_validate_that_FQDN_is_still_working/

[2021-04-15 09:26] pchaigno commented on #15698
We actually noticed this in `cilium ip list -n -o json`.

[2021-04-15 09:59] errordeveloper commented on #10799
@brb I don't think anything changed, documentation build is still separated from the rest of the build (and so it should be). We need to find a sensible way for making binaries available during documentation builds. If the docs were built with Go tooling it wouldn't not be a big deal to mix docs build with everything else, but it is Python and there are lots of dependencies.

[2021-04-15 10:45] pchaigno commented on #10799
@errordeveloper Is that a "no"? :grin:

I guess what I don't get is if

means you think we should keep the cmdref check separated from the current docs CI test?

[2021-04-15 11:00] errordeveloper commented on #10799
@pchaigno let me try to step back, what I'm saying is that documentation builds used to assume shared context with the general build, that implied Python and Sphinx had to be present. An improvement was made (https://github.com/cilium/cilium/pull/10572) that isolates the dependencies and the overall context for the documentation build from the general build. However, since building Go sources is n

[2021-04-15 11:05] pchaigno commented on #10799
Got it :+1: Thanks for the explanation :pray:

[2021-04-15 11:19] pchaigno commented on #15345
@ArthurChiao It seems this bug report fell through the cracks. Is it not an issue anymore?

[2021-04-15 12:43] ArthurChiao commented on #15345
This issue got no response during the last one month, so I just closed it :(

And turning back to the problem described: it is still there - but only affects cilium `versions < 1.9`, as 1.9+ removed hostscope-legacy support.

I think append `ipamOption.IPAMHostScopeLegacy` to https://github.com/cilium/cilium/blob/v1.8/pkg/option/config.go#L2634 could solve the problem
Should I open a PR against br

[2021-04-15 13:15] pchaigno commented on #13676
I'm currently unable to reproduce with a GKE cluster. I tried with both Cilium master and v1.9.0-rc2. I also tried two series of steps:
1. Create cluster
2. Add label
3. Install Cilium

1. Create cluster
2. Install Cilium
3. Uninstall Cilium
4. Add label
5. Install Cilium.

The one difference that may matter is the K8s version. I tried with v1.18.16-gke.502 because that's what GKE now supports and

[2021-04-15 13:46] borkmann opened #15712 "pcap recorder / lb follow-ups"
TODOs till final release:
- [x] Get https://github.com/cilium/cilium/commit/774e0dffc5e284ca6bc706e79454f9296d64d597 working and remove manual deep copy funcs
- [x] Hold `o.GetCompilationLock().Lock()` during regen for XDP (https://github.com/cilium/cilium/pull/15633#discussion_r614071560)
- [x] src port BPF datapath fix
- [x] caplen change on existing recorder doesn't push down to map
- [x] snat

[2021-04-15 15:40] pchaigno opened #15717 "Jenkins CI job for Linux 5.4 with K8sDatapath and K8sVerifier"
We currently have a blind spot for complexity & program size issues on Linux 5.4 as only our GitHub actions run on that kernel and they have a very limited datapath coverage. At least for the short term, we want to add a 5.4 CI job with just the K8sDatapath and K8sVerifier suites:

The following changes are required to enable that:
- [x] Add a new image in [packer-ci-build](https://github.com/cili

[2021-04-15 17:29] joestringer opened #15718 "v1.7.16 release"
## Pre-release

- [x] Check that there are no [release blockers] for the targeted release version
- [x] Ensure that outstanding [backport PRs] are merged
- [x] Consider building new [cilium-runtime images] and bumping the base image
      versions on this branch:
  - ~Cilium v1.10 or later:~
     Modify the `FORCE_BUILD` environment value in the `images/runtime/Dockerfile` to force a rebuild.

[2021-04-15 17:34] TicktW opened #15719 "NodePort service can not be accessed outside k8s cluster"
## Bug report
When I install cilium by the following:
helm install cilium /cilium/install/kubernetes/cilium \
    --namespace kube-system \
    --set kubeProxyReplacement=strict \
    --set k8sServiceHost=192.168.8.101 \
    --set ipv6.enalbed=false \
    --set k8sServicePort=6443

The NodePort service doesn't work correctly.
Flow from outside cluster with src ip 192.168.0.1 can attach to the pod,

[2021-04-15 17:42] christarazi commented on #15345
@ArthurChiao yes feel free to open a PR against 1.8

[2021-04-15 18:18] joestringer opened #15721 "v1.8.9 release"
---

## Pre-release

- [x] Check that there are no [release blockers] for the targeted release version
- [x] Ensure that outstanding [backport PRs] are merged
- [x] Consider building new [cilium-runtime images] and bumping the base image
      versions on this branch:
  - Cilium v1.10 or later:
     Modify the `FORCE_BUILD` environment value in the `images/runtime/Dockerfile` to force a rebuild.

[2021-04-15 18:19] joestringer opened #15722 "v1.9.6 release"
---
name: Release a new version of Cilium
about: Create a checklist for an upcoming release
title: 'v1.9.6 release'
labels: kind/release
assignees: ''

---

## Pre-release

- [x] Check that there are no [release blockers] for the targeted release version
- [x] Ensure that outstanding [backport PRs] are merged
- [x] Consider building new [cilium-runtime images] and bumping the base image
      vers

[2021-04-15 18:42] #15667 closed

[2021-04-15 19:35] brb commented on #15683
@karthikt-yahoo Check source ports distribution. Maybe add logging of source ports to `httperf` if it doesn't do that.

[2021-04-15 19:46] karthikt-yahoo commented on #15683
I am logging the source port(client port on the TCP) on my nginx server for each request, none of the requests has the same source port at same time which proves connection source port is not reused.

[2021-04-15 19:49] brb opened #15724 "CI: K8sPolicyTest: Zero exit code despite curl timeout"
[code]
[33a8f534_K8sPolicyTest_Multi-node_policy_test_validates_fromEntities_policies_with_remote-node_identity_disabled_Allows_from_all_hosts_with_cnp_fromEntities_host_policy.zip](https://github.com/cilium/cilium/files/6320719/33a8f534_K8sPolicyTest_Multi-node_policy_test_validates_fromEntities_policies_with_remote-node_identity_disabled_Allows_from_all_hosts_with_cnp_fromEntities_host_policy.zi

[2021-04-15 20:22] pchaigno commented on #15724
Seems different to me: the request succeeded when it was expected to fail. #12511 is the other way around.

Given it's a test of the host policies, could be related to https://github.com/cilium/cilium/issues/15575.

[2021-04-15 21:19] joestringer commented on #12795
@tklauser yes, opening that link, downloading the artifacts, then opening up the "pods_status.txt" you can find the same error as reported in this comment above:

https://github.com/cilium/cilium/issues/12795#issuecomment-701006527

[2021-04-15 21:27] pchaigno commented on #12795
@joestringer I did the same but was a bit puzzled: the pod scheduling continued after that error, as if it was eventually resolved. It seemed the readiness/liveness probes were the real issue :thinking:

[2021-04-15 21:36] joestringer commented on #12795
Maybe the ordering and timeouts are just misaligned here? I see what you mean, in the original v1.7 version the pods stayed in `ContainerCreating`. Was that just because we didn't wait long enough in the first case? Or it really gets stuck in the original report and in the new report it is able to resolve itself?

[2021-04-15 21:36] aanm opened #15727 "Give better UX to log message "Disabling HostServicesPeer feature." error="invalid argument""
This is a warning message as seen in the sysdump from https://github.com/cilium/cilium/issues/15719. The error is not clear enough for the user and it is currently being printed as a warning.

Pinging @pchaigno and @christarazi as approvals of the PR that introduced the change https://github.com/cilium/cilium/pull/15460

[2021-04-15 21:38] pchaigno commented on #15727
Do we even need to log a message when disabling it given it's not a user-provided option?

[2021-04-15 22:03] joestringer commented on #12485
I'm gonna guess this is resolved by this point since there's no update since July last year. Closing.

[2021-04-15 22:03] #12485 closed

[2021-04-15 22:03] joestringer commented on #11416
No reports since may last year, closing.

[2021-04-15 22:03] #11416 closed

[2021-04-15 22:05] joestringer commented on #8775
Seems like hit the same again recently on v1.7
https://jenkins.cilium.io/job/Cilium-PR-Ginkgo-Tests-K8s/4016/testReport/junit/Suite-k8s-1/16/K8sIstioTest_Istio_Bookinfo_Demo_Tests_bookinfo_inter_service_connectivity/

### Stacktrace
[code]
### Standard Output
[code]
### Standard Error
[code]

[2021-04-15 22:11] aanm opened #15728 "Give better UX to log message "Failed to remove route" error="no such process""
It seems to me this is actually a failure that can be ignored if the error message is "no such process".

[code]

[2021-04-15 22:35] jrajahalme commented on #14463
Hit again in #15725

[2021-04-15 22:44] joestringer opened #15729 "v1.8: CI: K8sDatapathConfig Etcd Check connectivity: stateless-etcd in CrashLoopBackoff: listen tcp 0.0.0.0:2379: bind: address already in use"
# Suite-k8s-1.14.K8sDatapathConfig Etcd Check connectivity

https://jenkins.cilium.io/job/Cilium-PR-K8s-1.14-kernel-4.9/190/testReport/junit/Suite-k8s-1/14/K8sDatapathConfig_Etcd_Check_connectivity/
[f24de9a4_K8sDatapathConfig_Etcd_Check_connectivity.zip](https://github.com/cilium/cilium/files/6321470/f24de9a4_K8sDatapathConfig_Etcd_Check_connectivity.zip)

Key problem:
[code]

Etcd logs:
[code]

[2021-04-15 22:53] aanm commented on #15719
@TicktW can you attach a monitor output with `cilium monitor` of that traffic as well as pcap from tcpdump from the client making the request and the VM?

[2021-04-15 23:27] aanm commented on #12205
@pchaigno worth pointing out this is a duplicate of https://github.com/cilium/cilium/issues/8911

[2021-04-15 23:49] TicktW commented on #15719
tcpdump from client:
tcpdump: listening on vboxnet2, link-type EN10MB (Ethernet), capture size 262144 bytes
07:43:36.874671 0a:00:27:00:00:02 > 08:00:27:ee:45:53, ethertype IPv4 (0x0800), length 74: (tos 0x0, ttl 64, id 64671, offset 0, flags [DF], proto TCP (6), length 60)
    192.168.8.1.35960 > 192.168.8.101.31620: Flags [S], cksum 0x2148 (correct), seq 2785085783, win 64240, options [mss 1460,

[2021-04-16 01:00] joestringer opened #15734 "v1.8: CI: Suite-k8s-1.14.K8sKafkaPolicyTest Kafka Policy Tests KafkaPolicies: Unable to parse Kafka request; closing Kafka request connection"
# Suite-k8s-1.14.K8sKafkaPolicyTest Kafka Policy Tests KafkaPolicies

https://jenkins.cilium.io/job/Cilium-PR-K8s-1.14-kernel-4.9/190/testReport/junit/Suite-k8s-1/14/K8sKafkaPolicyTest_Kafka_Policy_Tests_KafkaPolicies/
[bcf00c05_K8sKafkaPolicyTest_Kafka_Policy_Tests_KafkaPolicies (1).zip](https://github.com/cilium/cilium/files/6321818/bcf00c05_K8sKafkaPolicyTest_Kafka_Policy_Tests_KafkaPolicies.1.

[2021-04-16 03:40] joestringer commented on #15729
Most likely culprit is some leftover state from a previous test run.

[2021-04-16 03:45] joestringer opened #15737 "CI: K8sServicesTest Checks service across nodes Tests NodePort BPF Tests with direct routing Tests LoadBalancer Connectivity to endpoint via LB: BGP router does not have route for LB IP"
# K8sServicesTest Checks service across nodes Tests NodePort BPF Tests with direct routing Tests LoadBalancer Connectivity to endpoint via LB

https://jenkins.cilium.io/job/Cilium-PR-K8s-1.16-net-next/246/testReport/Suite-k8s-1/16/K8sServicesTest_Checks_service_across_nodes_Tests_NodePort_BPF_Tests_with_direct_routing_Tests_LoadBalancer_Connectivity_to_endpoint_via_LB/

[b6d0b887_K8sServicesTest_C

[2021-04-16 04:03] joestringer commented on #15737
Looks related to new BGP feature that landed recently. Unclear whether code issue or test issue at this point.

[2021-04-16 08:27] karthikt-yahoo commented on #15683
@brb do you suspect it could be because of the kernel version 4.18.0-240.15.1.el8_3.x86_64 ; Red Hat Enterprise Linux release 8.3. thanks

[2021-04-16 08:45] sureshvis commented on #15683
External IP - 3.3.3.3
pod 1 --> 1.1.1.1
pod 2 --> 2.2.2.2

siege -b -c 1  http://3.3.3.3 -t 1s -v

{	"transactions":			         471,
	"availability":			      100.00,
	"elapsed_time":			        0.27,
	"data_transferred":		        0.27,
	"response_time":		        0.00,
	"transaction_rate":		     1744.44,
	"throughput":			        1.02,
	"concurrency":			        0.93,
	"successful_transactions":

[2021-04-16 09:14] pchaigno commented on #15737
Does this need to be `release-blocker/1.10` until we've done the initial investigation and are more confident it's not a code issue?

[2021-04-16 09:19] pchaigno commented on #12205
It is not. Iptables isn't "disabled" here.

[2021-04-16 10:41] Ankurk99 commented on #14511
I would like to work on this. @pchaigno Can you please assign this to me?

[2021-04-16 10:55] pchaigno commented on #14511
@Ankurk99 Done. As usual, don't hesitate to reach out on Slack if you have any question.

[2021-04-16 12:41] aanm commented on #15737
[f21ab692_K8sServicesTest_Checks_service_across_nodes_Tests_NodePort_BPF_Tests_with_direct_routing_Tests_LoadBalancer_Connectivity_to_endpoint_via_LB.zip](https://github.com/cilium/cilium/files/6325097/f21ab692_K8sServicesTest_Checks_service_across_nodes_Tests_NodePort_BPF_Tests_with_direct_routing_Tests_LoadBalancer_Connectivity_to_endpoint_via_LB.zip)

[2021-04-16 12:43] aanm opened #15744 "CI: K8sServicesTest Checks service across nodes Tests NodePort BPF Tests L2-less with Wireguard provisioned via kube-wireguarder Tests NodePort BPF"
[code]
cc @brb

[3a2807e8_K8sServicesTest_Checks_service_across_nodes_Tests_NodePort_BPF_Tests_L2-less_with_Wireguard_provisioned_via_kube-wireguarder_Tests_NodePort_BPF.zip](https://github.com/cilium/cilium/files/6325114/3a2807e8_K8sServicesTest_Checks_service_across_nodes_Tests_NodePort_BPF_Tests_L2-less_with_Wireguard_provisioned_via_kube-wireguarder_Tests_NodePort_BPF.zip)

[2021-04-16 12:43] #15728 closed

[2021-04-16 13:02] weirdwiz commented on #15216
If there isn't any progress, could I have a stab at this?

[2021-04-16 13:35] brb commented on #15744
It's another instance of https://github.com/cilium/cilium/issues/12511. Closing.

[2021-04-16 13:35] #15744 closed

[2021-04-16 13:48] brb commented on #15737
Another one. /cc @christarazi

[32777b2f_K8sServicesTest_Checks_service_across_nodes_Tests_NodePort_BPF_Tests_with_direct_routing_Tests_LoadBalancer_Connectivity_to_endpoint_via_LB.zip](https://github.com/cilium/cilium/files/6325481/32777b2f_K8sServicesTest_Checks_service_across_nodes_Tests_NodePort_BPF_Tests_with_direct_routing_Tests_LoadBalancer_Connectivity_to_endpoint_via_LB.zip)

[2021-04-16 14:22] borkmann commented on #15683
`Connection distribution between Fifty pods is 50% on one pod and 1% each across other pods.` btw, for more than ~5 backend pods, you might want to consider increasing the Maglev table size to something larger (rough rule of thumb: next prime near ~backend size * 100, see https://docs.cilium.io/en/v1.9/gettingstarted/kubeproxy-free/#maglev-consistent-hashing-beta)
[code]
Do you have a dump of `cil

[2021-04-16 14:43] jibi commented on #15403
To properly address this we'd need to keep an ipset with all the node IPs. While a proper solution is implemented, this issue can be worked around by either:
* switching to BPF masquerade
* using k8s ip-masq-agent

[2021-04-16 16:25] mauriciovasquezbernal commented on #4016
I prepared a [design document](https://docs.google.com/document/d/1QB3JIomGmEqg34sCQCmn9A-RqrCwBJMQgj7hoFkwTE0/edit#) based on the previous ideas / discussions on this topic. Feel free to leave comments there if you have any. I'll be discussing it on next community meetings.

[2021-04-16 16:56] sureshvis commented on #15683
increased to 16381 with 2 backend, still the same behavior  @borkmann

[2021-04-16 16:58] sureshvis commented on #15683
@borkmann with random, its working fine and observed 50% to pod 1 and 50% to pod2 with 2 backend test.

This observation is specific to Maglev

[2021-04-16 18:29] borkmann commented on #14728
This is on AWS, right? Last time we checked, DSR was not supported there as we use custom IP options for the current DSR implementation in case of kube-proxy-replacement which the underlying network on AWS is dropping.

[2021-04-16 18:42] borkmann commented on #15683
Could you dump `cilium bpf lb maglev list`?

[2021-04-16 18:58] karthikt-yahoo commented on #15683
Dumped the External service info that we use for testing, please let us know if you need further more information.
https://git.vzbuilders.com/gist/karthikt/83ebada16bb079d439511b4af54eff41

[2021-04-16 19:49] dctrwatson commented on #14728
Ah, got it.

From a node running the pod? or the node the NLB routes the hung connection to?

[2021-04-16 20:53] nbusseneau commented on #15737
I'm pretty confident this is not a test issue as it is failing consistently on `master` since yesterday:

https://jenkins.cilium.io/job/cilium-master-k8s-1.16-kernel-net-next/99/testReport/
https://jenkins.cilium.io/job/cilium-master-k8s-1.16-kernel-net-next/100/testReport/
https://jenkins.cilium.io/job/cilium-master-k8s-1.16-kernel-net-next/101/testReport/
https://jenkins.cilium.io/job/cilium-mas

[2021-04-16 21:19] joestringer commented on #15737
CC @borkmann , can you think of  a particular reason why #15633 may have introduced this failure? We can of course consider reverting the PR (even just to test whether there's a particular commit in that PR that causes this) but there's a lot there to revert as well :thinking:

[2021-04-16 21:20] pchaigno commented on #15737
These two code changes from that PR were force-pushed and did not go through CI:
- https://github.com/cilium/cilium/compare/774e0dffc5e284ca6bc706e79454f9296d64d597..8b3417bf22f28f3e7bf81d7cf7650b684749a504
- https://github.com/cilium/cilium/compare/80fd9de0ff2cf0e5e79a6379852d6971383214cc..774e0dffc5e284ca6bc706e79454f9296d64d597

Any chance they could cause the present test failure?

[2021-04-16 21:32] borkmann commented on #15737
[...]

Hm, feels unlikely The CI was green on the PR, then later based on Andre's feedback we tried to add a deepcopy handler on top, but ended up not using it at all, so hard reset to the state where it was before when CI was green.

If you look in master: `git log -p pkg/cidr/cidr.go`

It's on the old commit, so nothing was ever changed there:

[code]

[2021-04-16 22:05] pchaigno commented on #15216
@weirdwiz No news from @Sangu80 in the last month, so I'll assign you.

[2021-04-17 04:35] iczero opened #15756 "Enabling encryption with VXLAN causes communication failures between pods on different nodes"
## Bug report

When using Cilium with VXLAN and encryption across multiple nodes, pods on those nodes will lose connection with each other. This only occurs if encryption is enabled. If Cilium is reinstalled on the same cluster with encryption disabled, this issue does not happen.

**General Information**

- Cilium version: 1.9.5
- Kernel version: 5.8.0-49-generic (Ubuntu 20.10)
- Kernel version o

[2021-04-17 17:26] pchaigno commented on #15756
This is a known bug, introduced by https://github.com/cilium/cilium/pull/15039. The revert for that commit will be included in v1.9.6.

[2021-04-17 23:29] aanm commented on #15361
@olemarkus After taking a closer look to the test I am able to reproduce it. The behavior implemented by Cilium is correct, i.e pods should **not** connect to a service via external IP when the external IP is not assigned to a node. That test should be expecting a timeout / connection refused but not a connect. If that test would pass, it would mean that Cilium would be affected by [CVE-2020-8554]

[2021-04-18 00:09] aanm opened #15758 "CI: K8sPolicyTest Namespaces policies Tests the same Policy in different namespaces"
[code]

https://jenkins.cilium.io/job/Cilium-PR-K8s-1.21-kernel-4.9/236/testReport/junit/Suite-k8s-1/21/K8sPolicyTest_Namespaces_policies_Tests_the_same_Policy_in_different_namespaces/

[803966b4_K8sPolicyTest_Namespaces_policies_Tests_the_same_Policy_in_different_namespaces.zip](https://github.com/cilium/cilium/files/6330273/803966b4_K8sPolicyTest_Namespaces_policies_Tests_the_same_Policy_in_diff

[2021-04-18 01:40] navarrothiago commented on #10541
Please, could you assign it again to me?

[2021-04-18 03:03] CBVenkataReddy commented on #13338
I would like work on this issue, could you pls assign to me.

[2021-04-18 03:03] Maddy007-maha commented on #14922
Please assign this issue to me

[2021-04-18 03:09] Maddy007-maha commented on #15387
Hi, I want to work on this issue, kindly assign this issue to me.

[2021-04-18 05:27] olemarkus commented on #15361
Thanks for taking a look. Do you know if there is an issue tracking this with k/k? It seems unfortunate to have a test that causes security issues.

[2021-04-18 08:26] pchaigno commented on #14922
@Maddy007-maha I've assigned you. Don't hesitate to reach out on Slack (e.g., #development) if you have any question.

[2021-04-18 08:30] #15609 closed

[2021-04-18 09:52] Maddy007-maha commented on #14922
Sure thanks

[2021-04-18 15:20] nam-jaehyun commented on #14859
The key point is that the IP addresses assigned to pods are considered non-cluster IP addresses in the direct routing mode. That's why the SNAT was applied in inter-container communications.
If we add something like the following rules, I think this problem can be solved.

MASK all -- [allocRange] [Pod network CIDR] MASK or 0xAA00
MASK all -- [allocRange] ![snatDstExclusionCIDR] MASK or 0x00BB
MAS

[2021-04-18 20:23] ungureanuvladvictor commented on #13071
Hit this one via https://jenkins.cilium.io/job/Cilium-PR-K8s-GKE/5174/testReport/junit/Suite-k8s-1/17/K8sPolicyTest_Multi_node_policy_test_with_L7_policy_using_connectivity_check_to_check_datapath/. Code changes were via https://github.com/cilium/cilium/pull/15759 which are unrelated.

[2021-04-18 22:01] aanm commented on #15361
@olemarkus It looks like it was discussed by the PR that introduced the feature: https://github.com/kubernetes/kubernetes/pull/96296#issuecomment-740239285

[2021-04-18 22:03] aanm commented on #15361
It also looks like the test is not part of the conformance tests as seen in https://github.com/kubernetes/kubernetes/commit/520ce44c551feda2ed9ac196889bf471eda8e640

[2021-04-19 01:55] #15345 closed

[2021-04-19 06:02] Maddy007-maha commented on #15387
Hi All, Can you please assign this issue to me?

[2021-04-19 07:13] brb commented on #15609
@pchaigno Why it was closed? Have we figured out why it was failing?

[2021-04-19 07:31] olemarkus commented on #15361
Llike kOps e2e should just skip that particular test. Thanks.

Feel free to close if you have no need for tracking this further.

[2021-04-19 07:31] pchaigno commented on #15609
@brb It's specific to https://github.com/cilium/cilium/pull/15558.

[2021-04-19 07:41] pchaigno commented on #15387
@Maddy007-maha Someone is already assigned here and you already are assigned to another good-first-issue.

[2021-04-19 07:46] pchaigno commented on #14859
No, IP addresses assigned to pods are considered in-cluster IP addresses of course.

I suspect k8s2's pod IP was SNATed because of https://github.com/cilium/cilium/issues/15403, but it's a bit weird that it didn't happen for the TCP SYN+ACK packet.

[2021-04-19 08:06] brb commented on #14728
From both.

[2021-04-19 08:34] tklauser commented on #13400
#15634 now fixed this in v1.8 as well.

[2021-04-19 09:00] jibi commented on #15190
I'll take a look at this

[2021-04-19 09:59] lbernail commented on #15583
👋 We can confirm that since we deployed 1.8.7 with client-go 0.17.17 we don't get any 504 any more on our 1.14 clusters
We are going to deploy more widely to verify this also addresses the problem where pods get the Init identity because the cilium-agent can't find the local pod in its informer

[2021-04-19 10:14] jibi commented on #15190
First test, just following the GSG:

[code]

cluster and connectivity test are not healthy:
[code]

problem seems to lie in the operator:
[code]

[2021-04-19 10:19] pchaigno commented on #13676
I was able to reproduce in https://github.com/cilium/cilium/pull/15714. Fix is incoming.

[2021-04-19 10:34] jibi commented on #15190
Test 2: removing `ipam.mode=eni` from helm flags:
[code]

cluster appears healthy this time

[2021-04-19 12:25] tgraf commented on #15190
Note that #15695 changes this signfically

[2021-04-19 12:36] jibi commented on #15190
It looks like the cluster is healthy even without `nodeinit=true`:

[code]

[2021-04-19 12:40] CBVenkataReddy commented on #13338
We noticed that "garbage-collect" or "remove" of  "unused" user applied policies already present in the existing code/design operator/main.go L552 enableCNPWatcher() and L558  enableCCNPWatcher().
Do you wish to change the existing design by not doing the garbage-collect or remove "unused" user applied policies, but rather to surface this information as a metric to an operator?

[2021-04-19 13:11] brb opened #15769 "socket-lb is broken on minikube in Docker mode"
When running minikube in the [Docker mode](https://minikube.sigs.k8s.io/docs/drivers/docker/) (aka k8s docker-in-docker), ClusterIP services cannot be reached with socket-lb enabled (aka host-reachable svc; enabled by default on newer kernels due to the `--kube-proxy-replacement` defaulting to probe). This is due to the same reason as documented in https://github.com/cilium/cilium/pull/14951.

- [

[2021-04-19 13:16] stimmerman opened #15770 "Add pod IP to AWS Security Group"
## Proposal / RFE
Cilium currently can reference a AWS security group for its egress policies. It get's the content and allows pods to connect to resources attached to the security group. The feature I would like to propose builds on this.

**The use case:**
We have a multi-tenant EKS cluster and multiple AWS resources like DB's in an account. We need to lock-down access to the DB's not only with

[2021-04-19 13:22] borkmann commented on #15737
From the failing test:
[code]

It might be possible that the frr image is non-existant?

`Failed to pull image "frrouting/frr:frr-7.5.1": rpc error: code = Unknown desc = Error response from daemon: manifest for frrouting/frr:frr-7.5.1 not found: manifest unknown: manifest unknown  `

[2021-04-19 13:23] johngv2 commented on #14956
Hi Folks! @brb, @borkmann... very elegant way to solve the problem, thanks for sharing. I took some time to understand some concepts around the issue, sorry about that. But I think I can raise the pr soon ;)

[2021-04-19 14:04] pchaigno commented on #15452
@CBVenkataReddy We should extend cilium/cilium-cli to run L7 tests. That way we'll have L7 tests running on all major platforms.

[2021-04-19 14:07] jibi commented on #15190
The documentation for EKS overlay mode has been moved to `gettingstarted/k8s-install-helm` but it still mentions to only remove `eni.enabled=true` and `tunnel=disabled`, so I think it should be updated to exclude the `ipam.mode=eni` helm flag as well (and possibly also `nodeinit=true`)

[2021-04-19 15:30] nbusseneau commented on #15214
Tried to increase VM memory size from 8GB to 15GB and see if Kafka tests are still failing with OOM => they are. I would tend to think this confirms the hypothesis that we have an issue with these specific tests, and not the amount of memory (or lack, thereof). Otherwise, why would they be the only ones suddenly needing more than 15GB RAM? :thinking_face:

[2021-04-19 16:50] christarazi commented on #13338
@CBVenkataReddy Maybe the code docs is not clear, but the code today doesn't GC / remove any unused policies. The only GC related to policies is cleaning up the node status section in the policy. In general, we want to avoid removing policies outright from underneath the user, unless the user has specifically asked us to remove the policy.

This issue instead proposes a metric to count the number

[2021-04-19 17:01] johngv2 commented on #10067
Hi @brb, I'm planning to work on this issue. The thread gave me a good understand. Planing to raise the pr soon.

[2021-04-19 18:18] #15737 closed

[2021-04-19 18:38] joestringer opened #15774 "v1.10 clustermesh followups"
We had a discussion with a user on Slack trying out the latest (v1.10-style) clustermesh documentation last week, and these followup items were raised which we should consider addressing before the final release:

* [x] Possible certificate issue for clustermesh where the agents in the same cluster as the local clustermesh etcd can't connect. I'm not sure if we even intend for this connectivity to

[2021-04-19 19:18] christarazi commented on #15727
Initially https://github.com/cilium/cilium/issues/15448 was opened so that we print out the error. Since the error is coming directly from the kernel, it's going to be fairly generic like "invalid argument". What was the motivation behind https://github.com/cilium/cilium/issues/15448 anyway? What specifically do we care about when `TestDummyProg()` fails, i.e. what errno is relevant?

[2021-04-19 20:00] pchaigno opened #15775 "CI: K8sDatapathConfig AutoDirectNodeRoutes Check direct connectivity with per endpoint routes"
Happened once in https://github.com/cilium/cilium/pull/15763, which was unrelated.
https://jenkins.cilium.io/job/Cilium-PR-K8s-1.16-net-next/276/testReport/Suite-k8s-1/16/K8sDatapathConfig_AutoDirectNodeRoutes_Check_direct_connectivity_with_per_endpoint_routes/
[644482a0_K8sDatapathConfig_AutoDirectNodeRoutes_Check_direct_connectivity_with_per_endpoint_routes.zip](https://github.com/cilium/cilium/

[2021-04-19 23:56] #12554 closed

[2021-04-20 07:09] elagree commented on #15520
With the help of my coworker @[Smana](https://github.com/Smana) we had a look on the Cilium code especially the [nodediscovery.go](https://github.com/cilium/cilium/blob/master/pkg/nodediscovery/nodediscovery.go) and it seems that the [metadata.go](https://github.com/cilium/cilium/blob/master/pkg/aws/metadata/metadata.go) used by the node discovery doesn't cover the [IMDSv2](https://aws.amazon.com/

[2021-04-20 09:37] jibi commented on #15190
https://github.com/cilium/cilium/pull/15695 merged, closing this

[2021-04-20 09:37] #15190 closed

[2021-04-20 11:03] pchaigno commented on #15629
When does this happen? On upgrade from v1.9 to master? Why didn't the K8sUpdates test catch it?

[2021-04-20 11:17] aanm commented on #15629
IIRC was when switching the `preallocate-bpf-maps` flag from `true` to `false` or vice-versa.

[2021-04-20 11:30] LeoQuote commented on #12513
Hi, I'm expirencing this issue recently, but a bit different. If the endpoint is **outside the cluster** , the service will be working well, but if the endpoints is **inside the cluster** , like the kube-controller-manager and the endpoint is using the host ip , the service will fail.

[code]

I wonder how did you find the root cause , what can I do to solve this problem?

[2021-04-20 12:15] jibi commented on #15629
There is small window of commits (after the switch to `cilium/ebpf` for the metrics map https://github.com/cilium/cilium/pull/14582 and before this fix https://github.com/cilium/cilium/pull/14853) where the metrics map would be created without the `BPF_F_NO_PREALLOC` flag, so I think that could explain why this happened

[2021-04-20 12:17] pchaigno commented on #15629
If that's all there is to it, maybe we can just delete the map when it happens? I doubt it's worth a full map migration.

[2021-04-20 12:37] jibi commented on #15629
Not sure what you are referring to :thinking:

[2021-04-20 12:42] pchaigno commented on #15629
I thought I saw that discussed as a potential solution last time we discussed it on Slack, but can't find it again :disappointed:

[2021-04-20 12:44] jibi commented on #15629
Ah, I think I know what you are referring to now :+1: (different issue :slightly_smiling_face:)

[2021-04-20 14:35] #15375 closed

[2021-04-20 14:48] ungureanuvladvictor commented on #15520
@elagree -- thank you for the investigation. I reached the same conclusion. Back in the day we rolled out our own ec2 metadata client so we do not vendor the full `aws-go-sdk` in the `cilium-agent` (keeping the memory usage of the agent as small as possible).

I think now with the move to `aws-go-sdk-v2` and the support of go modules we can remove this code and replace it with https://github.com/a

[2021-04-20 19:32] sdmodi opened #15789 "IPv6 traffic being dropped for dual stack clusters."
## Bug report

**General Information**

- Cilium version (run `cilium version`) :
root@gke-ubuntu-dpv2-1-default-pool-7b8cd80d-7lzd:/home/cilium# cilium version
Client: 1.9.0 0539f87b3 2021-02-05T16:23:45-08:00 go version go1.15.4 linux/amd64
Daemon: 1.9.0 0539f87b3 2021-02-05T16:23:45-08:00 go version go1.15.4 linux/amd64

- Kernel version (run `uname -a`)
root@gke-ubuntu-dpv2-1-default-pool-7b8c

[2021-04-20 19:40] tgraf commented on #14678
@mattfenwick Are you still working on this? Would you like somebody else to take over?

[2021-04-20 19:57] pchaigno opened #15791 "CI: K8sConformance Portmap Chaining"
Happened in https://jenkins.cilium.io/job/Cilium-PR-K8s-1.21-kernel-4.9/199/.
[dc252eaf_K8sConformance_Portmap_Chaining_Check_connectivity-check_compliance_with_portmap_chaining.zip](https://github.com/cilium/cilium/files/6346306/dc252eaf_K8sConformance_Portmap_Chaining_Check_connectivity-check_compliance_with_portmap_chaining.zip)
[fb9678c7_K8sConformance_Portmap_Chaining_Check_one_node_connectiv

[2021-04-20 20:17] #15698 closed

[2021-04-20 20:19] #15617 closed

[2021-04-20 20:45] jcrowthe commented on #9482
My team began seeing this issue across our Azure fleet 30 days ago as well. Is there an update on this ticket?

[2021-04-20 20:56] jrajahalme commented on #14678
@aanm would it not be better to leave the `portStr` as an empty string, or do we want to have the same (wildcarding) behavior for a port that is explicitly passed as `0` in the policy?

[2021-04-20 21:03] nathanjsweet commented on #15630
So regarding all the errors that were commented on:
1. ["Failed to remove route"](https://github.com/cilium/cilium/search?q=%22Failed+to+remove+route%22&type=issues) seems like it could be the culprit, but is affecting other tests as well. We should continue to investigate
2. "Unable to update ipcache map entry on pod add" does not appear to be a relevant error/warning and is mostly a coincidence,

[2021-04-20 21:06] aanm commented on #14678
@jrajahalme looking at CNP & CCNP documentation, there is no reference that we accept an "empty" port. Even the schema validation requires something:
https://github.com/cilium/cilium/blob/2f643770e865a45b9955a931331341a0df429371/pkg/policy/api/l4.go#L34-L44

My proposal is to have this fix only in the k8s network policy since we are not following the specification.

[2021-04-20 21:09] pchaigno commented on #15630
I expect https://github.com/cilium/cilium/pull/15730 fixed that one. We shouldn't see it anymore now.

[2021-04-20 21:21] mattfenwick commented on #14678
hi @tgraf 👋 !!  I got stuck at https://github.com/cilium/cilium/pull/14720#issuecomment-785827059 , happy to pick this up again with some help, if it's easier for you to just take over then that's cool too ... totally fine with this either way!

[2021-04-20 21:52] #15361 closed

[2021-04-20 21:59] joestringer commented on #15722
I skipped the check-crd-compat-table step because:

[code]

[2021-04-20 22:36] joestringer opened #15797 "Fix CRD compatibility-table script"
Problems faced during most recent release cycle:
* [x] Upstream repository is assumed to be "origin" in the tree version
* [x] The most recent version gets randomly added at the end:
[code]
* [ ] It's confusing how the script is expected to fit into the broader release process:
    * One functionality of the script is to update the documentation page for existing releases. For instance while prepa

[2021-04-20 22:50] joestringer commented on #15722
Filed #15797 to follow up on the above issues.

[2021-04-21 01:42] cocatrice commented on #15428
Is there any update on this issue @pchaigno @tgraf ?

[2021-04-21 02:15] #15718 closed

[2021-04-21 02:15] #15721 closed

[2021-04-21 02:21] #15722 closed

[2021-04-21 05:28] rscampos commented on #14549
Hello @fristonio @pchaigno,

I start looking at this issue and before some code, I used [#14254](https://github.com/cilium/cilium/pull/14254) as a reference and I could understand what was done. Using **kvstore** I could see the metrics without problem. To test theses metrics I did some pod creation/deletion, and the metrics just work fine.

After that, I start the cilium-operator using _--identit

[2021-04-21 09:44] borkmann commented on #15683
@karthikt-yahoo @sureshvis the observed issue should be fixed with https://github.com/cilium/cilium/pull/15808 . Thanks a lot for reporting!

[2021-04-21 11:51] Maddy007-maha commented on #15387
@pchaigno I have completed my first PR (good-first-issue) #14922 and it is under review completion stage.
And am currently made changes for this PR and also tested the same.

Hence please assign this issue to me.

Thanks

[2021-04-21 12:08] #15111 closed

[2021-04-21 12:31] twpayne commented on #14676
I spent a lot of time trying to reproduce this locally so as to be able to debug it with a faster iteration time than waiting for Jenkins/CI. Specifically, I tried multiple tens runs of the test in the VM created by Gingko on both macOS and Linux, including with the race detector enabled, but did not observe a single failure. It looks like this flake might be specific to running on Jenkins.

[2021-04-21 12:39] pchaigno commented on #14676
@twpayne What ginkgo commands did you run locally?

[2021-04-21 12:55] trvll commented on #10808
Hello @pchaigno, Could you assign it to me, pls?

[2021-04-21 12:58] pchaigno commented on #10808
@trvll Done. Don't hesitate to reach out on Slack (e.g., on #sig-datapath) if you have any question.

[2021-04-21 13:20] #15002 closed

[2021-04-21 13:52] roko99 commented on #12679
Hi all,

Faced with same issue on GKE private cluster. Cilium version is 1.9.5 and k8s - 1.18.16-gke.502.
Hubble - packets are forwarded and tcpdump - packets reach pod node. But according to tcpdump on pod node, probably master doesn't receive ACKs. I can see SYN from master, SYN-ACK are sent from node, but nothing after this.
[hubble_UI.txt](https://github.com/cilium/cilium/files/6351288/hubble_

[2021-04-21 14:10] brb commented on #12679
@roko99 Thanks. Could you try to set `bpf.masquerade=false`?

[2021-04-21 14:13] stimmerman opened #15810 "One CoreDNS pod failing after migrating to Cilium CNI"
## Bug report

**General Information**

- Cilium version:
  - Client: 1.9.5 079bdaf 2021-03-10T13:12:19-08:00 go version go1.15.8 linux/amd64
  - Daemon: 1.9.5 079bdaf 2021-03-10T13:12:19-08:00 go version go1.15.8 linux/amd64
- Kernel version:
  - Linux ip-100-101-252-51.eu-west-1.compute.internal 5.4.95-42.163.amzn2.x86_64 #1 SMP Thu Feb 4 12:50:05 UTC 2021 x86_64 x86_64 x86_64 GNU/Linux
- Orches

[2021-04-21 16:38] #15683 closed

[2021-04-21 16:49] #13676 closed

[2021-04-21 16:54] seanmwinn opened #15815 "Agent: Include Cilium version in the output of cilium status"
Presently, it is difficult to know which version of cilium is running on each node from the sysdump contents. Including the cilium version in the output of cilium status (or cilium status --verbose) would be helpful in the troubleshooting stage.

[2021-04-21 16:54] aanm commented on #15815
@seanmwinn which Cilium version is affected by this? 1.10 has the version in the `status` output?

[2021-04-21 16:57] aanm commented on #15815
I've marked the PRs that introduced this in 1.10 to be backported to 1.8 and 1.9. I'll close this since it's already fixed.

[2021-04-21 16:57] #15815 closed

[2021-04-21 17:05] joestringer commented on #9898
The main images will move to multi-arch in v1.10.0, which will land in the coming weeks.

[2021-04-21 19:17] #14678 closed

[2021-04-21 20:08] navarrothiago commented on #10541
I was wondering why do I need the third node. It is not clear for me yet. My first approach was just send the SCTP packet to `enps0s8` interface inside the node to outside. I was able to check the return `NAT_PUNT_TO_STACK` being called (with `printk`). Am I missing anything?

[2021-04-22 00:41] iczero commented on #15756
Can confirm this is no longer an issue in v1.9.6. Thanks a lot!

[2021-04-22 00:41] #15756 closed

[2021-04-22 06:51] ash2k opened #15823 "Separate client module"
## Proposal / RFE

**Is your feature request related to a problem?**

I use Cilium's generated client along with a bunch of other packages to access Hubble's gRPC endpoint. Because of that my project depends on everything Cilium depends on.

**Describe the solution you'd like**

Would be great if there was a separate Go module that provided everything needed to interact with Cilium without all the

[2021-04-22 09:30] brb commented on #10541
By the third node we mean `k8s3` node which doesn't run Cilium. I think it's fine if you send a request from a pod on `k8s1` or `k8s2` to outside assuming that you receive a response.

[2021-04-22 10:07] ppancake opened #15824 "Bandwidth Manager :The egress restriction does not effective when the pod is on the same node"
**General Information**

- Cilium version:1.9.6
[code]
- Kernel version :`5.4.54`
- Kubectl version :`v1.21.0`

**Phenomenon**
When I use kubernetes.io/egress-bandwidth to limit the entry rate of pod， it work when  pods on different nodes.

I created 3 pods, pod1 on node1,pod2 and pod3 on node2, and only do 2M egress limit on pod2. And I use netperf to test.
When test pod2 -> pod1, in different no

[2021-04-22 10:11] pchaigno commented on #15824
Yes, this is expected as rate limiting is enforced on the native device. From [the documentation](https://docs.cilium.io/en/stable/gettingstarted/bandwidth-manager/#bandwidth-manager):

[2021-04-22 10:19] ppancake commented on #15824
Thanks，and I would like to know if Ingress-bandwidth will support in the future.

[2021-04-22 10:23] pchaigno commented on #15824
Please see https://github.com/cilium/cilium/issues/15636#issuecomment-818605362.

[2021-04-22 10:29] gandro opened #15826 "L7 ingress policies are broken with IPsec encryption + tunneling"
## Bug report

**General Information**

- Cilium version: Cilium master 42c49fcb433201faa9665700a48cc76d68a59a57
- Kernel version: 5.11.14-arch1-1

**How to reproduce the issue**

1. Create kind cluster:
[code]

2. Install Cilium with IPsec enabled (cilium-cli master a28d5b11b50f)

[code]

3. Run the L7 policy example: https://docs.cilium.io/en/latest/gettingstarted/http/
[code]

The flow is recei

[2021-04-22 10:48] twpayne commented on #14676
I ran:

    cd test
    ginkgo -focus="RuntimeFQDNPolicies" -race

(with and without `-race`)

[2021-04-22 11:29] roko99 commented on #12679
@brb, `bpf.masquerade=false` resolves issue.

`cilium bpf ipcache get $CONTROL_PLANE_IP` returns `10.1.0.5 maps to identity 2 0 0.0.0.0`.

but is using iptables masquerading our target?

[2021-04-22 12:00] brb commented on #12679
What happens is that the reply gets unexpectedly SNAT-ed, as from the IPCache we think the the $CONTROL_PLANE_IP is outside the cluster (aka WORLD_ID). So you are hitting https://github.com/cilium/cilium/issues/12544.

Just to confirm, the control plane does not run Cilium, right?

[2021-04-22 12:12] elagree commented on #15520
Thanks ou @ungureanuvladvictor.

My coworker Smaïne did a PR for this https://github.com/cilium/cilium/pull/15828

[2021-04-22 12:23] #15483 closed

[2021-04-22 12:31] aanm commented on #14511
@Ankurk99 Apologies, I had a patch locally and I've made the PR #15827 since I was cleaning up my local branches. The patch works fine for me but it would be great to have someone double checking as well.

[2021-04-22 12:36] pchaigno commented on #14676
Ok. Might be worth trying `ginkgo --focus="Runtime"` a couple times in case what runs before matters.

[2021-04-22 13:05] roko99 commented on #12679
Yes, it's managed by GKE.
But as far as I can control it`s IP range - `ipMasqAgent` helps me. So no issue here for my case, sorry.

[2021-04-22 19:29] cmluciano commented on #15774
cc @jrajahalme @tgraf

I think on the first topic, we would expect to only expect someone to access that local clustermesh etcd if they were at a scale whereby distribution via k8s watchers wasn't sufficient and therefore etcd would perform these updates. As tgraf explained it instead of "apiserver -> agents, we would have apiserver -> clustermesh-apiserver -> agents". Do we want to document how y

[2021-04-22 20:08] joestringer commented on #15774
If we have a legitimate reason for this point, I think my main remaining question is whether the Cilium CLI is properly configuring the certificates for access to the local cluster. I didn't try this myself, but a community user on Slack just mentioned that they were getting complaints from etcd. Maybe this is just a matter of doing a minor enhancement to the CLI. Alternatively sure if there's som

[2021-04-22 22:10] #14511 closed

[2021-04-23 00:57] oivindoh opened #15840 "hubble-ui doesn't start on arm64"
## Bug report

**General Information**

- Cilium version `v1.10.0-rc0` (helm chart, no options)
- Kernel version: `5.4.0-1030-raspi #33-Ubuntu SMP PREEMPT Wed Feb 24 11:20:11 UTC 2021 aarch64 aarch64 aarch64 GNU/Linux`
- Orchestration system version in use: `Server Version: version.Info{Major:"1", Minor:"21", GitVersion:"v1.21.0-rc1+k3s1", GitCommit:"2705431d9645d128441c578309574cd262285ae6", GitT

[2021-04-23 02:57] aanm opened #15842 "add support for envoy 1.18.2 in hubble-ui"
It's not currently possible to run hubble-ui with envoy 1.18.2 as it returns the following error:
[code]

[2021-04-23 03:06] aanm commented on #15842
Marking as release blocker since the version used in the helm charts is extremely old and outdated.

[2021-04-23 03:42] aanm commented on #15840
@oivindoh thanks for reporting it, can you test with this images? `quay.io/cilium/hubble-ui-backend-ci:1f1838dbdcbc3bf39a190f127fffbcd4823f6dc` and `quay.io/cilium/hubble-ui-ci:1f1838dbdcbc3bf39a190f127fffbcd4823f6dcb`. Thanks

[2021-04-23 07:12] oivindoh commented on #15840
I can confirm those two images start successfully 👍

There's one remaining issue with envoy, where the assigned 1.14.5 release doesn't appear to have an arm64 version. Looking at the [dockerhub repo](https://hub.docker.com/r/envoyproxy/envoy/tags?page=1&ordering=last_updated&name=v1.), it seems one has to use v.1.16.0 or later to get multiarch containers from them

[2021-04-23 07:22] oivindoh commented on #15840
I've successfully got hubble ui up and running using the provided [ci images](https://github.com/cilium/cilium/issues/15840#issuecomment-825364086) you kindly provided, in addition to envoy [v.1.16.3](https://hub.docker.com/layers/envoyproxy/envoy/v1.16.2/images/sha256-40c5435edba65db6d07f35a504a7da08a4923cdb57791380a5bd834d2140820f?context=explore) - envoy v1.18.2 was a bit too optimistic due to

[2021-04-23 09:20] oivindoh opened #15843 "getting started connectivity test fails on arm64 (cilium 1.10.0-rc0"
## Bug report

**General Information**

- Cilium version `v1.10.0-rc0` (helm chart, no options)
- Kernel version: `5.4.0-1030-raspi #33-Ubuntu SMP PREEMPT Wed Feb 24 11:20:11 UTC 2021 aarch64 aarch64 aarch64 GNU/Linux`
- Orchestration system version in use: `Server Version: version.Info{Major:"1", Minor:"21", GitVersion:"v1.21.0-rc1+k3s1", GitCommit:"2705431d9645d128441c578309574cd262285ae6", GitT

[2021-04-23 09:30] sstoner commented on #15774
`local agent` is also the remote cluster. If `local agent` is using crd, how does another remote cluster monitor the `local agent`'s identities?  I think the document needs to notify user to set `kvstore: etcd`, because if we don't explicitly state the `kvstore`, `identity-allocation-mode` will force to set to `crd`

https://github.com/cilium/cilium/blob/31625355bec914998bbf372a0519a87a4a8e1c3f/pk

[2021-04-23 11:47] aanm commented on #15840
for the envoy one I've created this GH issue https://github.com/cilium/cilium/issues/15842

[2021-04-23 14:37] twpayne commented on #14676
OK, I ran the `ginkgo --focus="Runtime"`in a loop ten times. There were no occurrences of this flake, but it did discover a couple of data races in the use of the Ginkgo test framework. I'll open issues for these.

[2021-04-23 15:43] csturgess93 commented on #15095
Hey @johngv2, how's the progress going?

[2021-04-23 15:59] brb commented on #15095
Keep in mind that we are removing the dedicated Flannel support in favor of the generic veth CNI chaining: https://github.com/cilium/cilium/pull/15786.

[2021-04-23 16:17] pchaigno commented on #14676
The test here is failing because the `cilium monitor` output doesn't contain an expected substring. The previous request has the expected result so we would expect the `cilium monitor` output to contain the corresponding packet traces. The test is flaky (vs. failing consistently) so this is likely some timing issue.

## Investigation

We can use the CI dashboard link at the top to retrieve a more

[2021-04-23 19:29] christarazi commented on #15826
Running into this on v1.9.6 as well

[2021-04-23 23:50] aanm commented on #12914
fixed by https://github.com/cilium/cilium/pull/15803

[2021-04-23 23:50] #12914 closed

[2021-04-24 00:53] joestringer commented on #15774
This is the beauty of clustermesh-apiserver: It automatically deploys an etcd instance in the cluster and mirrors the local CRD content into this etcd. Then the remote clusters can be configured to connect to the etcd instance to pull the local cluster's information instead, and we don't have to expose the local cluster's apiserver to other clusters or handle apiserver RBAC configuration for each

[2021-04-25 15:59] CBVenkataReddy commented on #13338
We are going through the cilium documentation and the code to come up with the approach for issue 13338.

Our understanding is the following:-

- Policies get configured on the kubernetes api-server and then get distributed to each cilium node.

- Each of the cilium node stores the policy in the policy repo.

- Each node then tries to apply the policy to all the EndPoints managed by them and prepa

[2021-04-25 16:27] Smana opened #15850 "AWS: Add context to the ENI metadata call"
Hi,

Following this pull-request https://github.com/cilium/cilium/pull/15828 and thanks to @christarazi's review, we may want to add context when the AWS metadata API is called .At least that would be wise to add a timeout in order to avoid hanging while waiting for an answer.

Currently we just have

[code]

[2021-04-25 17:10] sergey-safarov opened #15851 "coredns do not have network connectivity on IPv6 only node - no default route"
## Bug report
**General Information**

- Cilium version (run `cilium version`)
[code]
- Kernel version (run `uname -a`)
[code]
- Orchestration system version in use (e.g. `kubectl version`, ...)
[code]
- Link to relevant artifacts (policies, deployments scripts, ...)
[code]
- Generate and upload a system zip:
[code]
[cilium-sysdump-20210425-163919.zip](https://github.com/cilium/cilium/files/637246

[2021-04-25 23:56] sergey-safarov commented on #15851
The ticket opened by mistake.
IPv6 only config works as expected.

[2021-04-25 23:56] #15851 closed

[2021-04-26 00:02] sergey-safarov commented on #15851
whet used `ipam.mode=kubernetes`, then I need one dedicated subnetwork for `pods` and another subnetwork for `services`.
Also, these networks must not overlap with the subnetwork network assigned to the network interface (example `eth0`) of Kubernetes host.

[2021-04-26 03:39] vincentmli opened #15852 "Add node cilium annotation for VXLAN integration with external loadbalancer"
## Proposal / RFE

flannel has annotation like below:
<pre>
Annotations:        alpha.kubernetes.io/provided-node-ip: 10.169.72.127
                     flannel.alpha.coreos.com/backend-data: {"VtepMAC":"3e:aa:32:a8:1f:a5"}
                    flannel.alpha.coreos.com/backend-type: vxlan
                    flannel.alpha.coreos.com/kube-subnet-manager: true
                    flannel.alpha.coreos

[2021-04-26 09:53] Maddy007-maha commented on #13070
Hi,

Shall I work on this issue?

[2021-04-26 10:04] gandro opened #15858 "Include Hubble CLI v0.8 in Cilium docker image"
Marking this a s a release blocker for the final Cilium 1.10 version so we don't miss this. During the Cilium 1.10 release cycle, the Hubble CLI gained a few improvements that we want to ship with the Cilium 1.10.

The Hubble CLI is included for local troubleshooting in the `cilium` container:
https://github.com/cilium/cilium/blob/96eb526b9e84502716b60c07746415838556e746/images/cilium/hubble-versi

[2021-04-26 12:02] Ankurk99 commented on #14725
@pchaigno I would like to work on this issue.

[2021-04-26 12:31] splushii commented on #15177
Hitting this as well.

@christarazi using the loop waiting for `/var/lib/cni/networks` works! Unfortunately there is another race condition, as not all files/containers under `/var/lib/cni/networks/` may be present when the `... docker rm -f ...` runs. An infinite loop solves this (see patch below), but it also means that the script is stuck here (so the `restartPods` functionality must be at the

[2021-04-26 12:43] twpayne commented on #14676
Thank you very much for the investigation and explanation.

[2021-04-26 13:43] #14918 closed

[2021-04-26 13:43] #15088 closed

[2021-04-26 14:03] #9894 closed

[2021-04-26 14:08] pchaigno commented on #13070
See the messages above: there's already a PR in the works at https://github.com/cilium/cilium/pull/15558.

[2021-04-26 15:16] joestringer commented on #15842
Fixed by #15847

[2021-04-26 15:16] #15842 closed

[2021-04-26 16:03] nbusseneau commented on #15214
Discussed in community meeting:

- LibCilium in Proxy may be incompatible with race detector in Golang
- Race detector is more useful for validating cilium-agent runtime behaviour, libcilium is very different so unlikely to benefit from this testing
- Can disable race detector for these test runs (kafka)

[2021-04-26 17:27] aanm opened #15864 "Replace `argument list too long` with a more helpful message"
[code]

Cilium 1.9.4

[2021-04-26 17:28] aanm opened #15865 "Cilium without kube-proxy panics on prometheus metrics"
[code]

Cilium 1.9.4 w/ 400 nodes and 30k pods.

[2021-04-26 18:35] christarazi commented on #13338
@CBVenkataReddy Your understanding of the problem is correct. However, I'd like to point out that the node status piece of the policy is not required, and is optional via opt-in from the user. We generally recommend turning it off because it can be a bottleneck on larger scale environments with many policies or many nodes.

In terms of the implementation idea, I think that this approach might be d

[2021-04-26 18:43] joestringer commented on #7008
Closing due to age. Post a comment to request re-opening the investigation of this issue.

[2021-04-26 18:43] #7008 closed

[2021-04-26 18:43] joestringer commented on #7169
Closing due to age. Post a comment to request re-opening the investigation of this issue.

[2021-04-26 18:43] #7169 closed

[2021-04-26 18:43] joestringer commented on #9095
Closing due to age. Post a comment to request re-opening the investigation of this issue.

[2021-04-26 18:43] #9095 closed

[2021-04-26 18:43] joestringer commented on #11487
Closing due to age. Post a comment to request re-opening the investigation of this issue.

[2021-04-26 21:35] joestringer commented on #15797
#15869 addresses the first two items in the description.

[2021-04-26 21:57] joestringer commented on #15797
I think that after we merge #15869 and do another release cycle, the remaining confusion around the release process and whether we need to improve the docs or release templates should be straightforward to resolve.

[2021-04-26 22:57] joestringer commented on #15858
There's a v1.10 branch for Cilium now, we intend to tag -rc1 in the next day or so.

[2021-04-26 22:59] vincentmli commented on #15852
@tklauser

after dig a little deeper into the cilium VXLAN datapath, I don't think the tunnel mode would work with standard third party VXLAN implementation, please correct me if I am wrong.

My understanding is that the tunnel mode  datapath is not using Linux stack vxlan datapath implementation (driver/net/vxlan.c), but use BPF  and attached the code https://github.com/cilium/cilium/blob/v1.9.1/

[2021-04-27 00:29] aanm commented on #15864
Might be a good idea to have a more descriptive message, depending on the case. For example in this case it would be better to have the following message: `bpf LB map full, please increase the number of entries with the flag "bpf-lb-max-entries"`

[2021-04-27 08:25] brb commented on #15864
Or: `bpf LB map full, please increase the number of entries with the flag "bpf-lb-max-entries". THIS WILL INTERFERE ALL EXISTING CONNECTIONS`.

[2021-04-27 10:04] CBVenkataReddy commented on #13834
All configuration parameters are defined in the Config.Map and map file is store at the location "tmp/cilium/config-map".
and the state of all the parameters can fetched from that directory files.
The state of IPv6 can be read from filesystem at "tmp/cilium/config-map/enable-ipv6",
Now we can check IPV6 status and NAT map, if IPv6 is disabled then we ignore the error msg from NAT map also.
If IPv6

[2021-04-27 10:14] trvll commented on #14638
Hi @pchaigno, Could you assign it to me, pls?

[2021-04-27 10:22] ScottKGregory opened #15877 "Cilium on EKS continually creates network interfaces"
## Bug report

After upgrading Cilium version to 1.9.6 via helm using the config below, the operator has started to log the same few warning messages constantly and is continually creating network interfaces within AWS (~2500 in 4 days). The cluster is not running at capacity and has no pods stuck etc. all are running.

*Helm config*
[code]

*Operator Logs*
[code]

**General Information**

- Ciliu

[2021-04-27 10:32] debMan commented on #4960
Did anyone solve this issue?

[2021-04-27 10:46] ScottKGregory commented on #15877
As a stop-gap measure we've rolled back to v1.9.5 which has indeed stopped the warnings and network interface creation issues.

[2021-04-27 11:08] rewiko opened #15878 "Drop happening during Cilium-agent restart"
## Bug report

We are experiencing cilium_drop packet while restarting cilium-agent on the node, if we do not restart it no drop appears.

## Config setup

Cilium version: 1.9.5 (version 1.7.4 was also generating drop metric and increase in latency)
Kernel: 5.4.0-1037-aws #39~18.04.1-Ubuntu SMP Fri Jan 15 02:48:42 UTC 2021 x86_64 x86_64 x86_64 GNU/Linux
Os: Ubuntu
CNI: aws-cni 1.7.9
Kubernetes: v1

[2021-04-27 11:50] #15840 closed

[2021-04-27 12:51] navarrothiago commented on #10541
@brb, regarding what you said about the response, I was thinking to use two pods, one iperf client in one node e other the iperf server in the other one. I will check the results with the client receive some packets. What do you think?
About the third node, I didn't understand what you suggested by using the third node. Could you explain the use case that you are thinking about?

[2021-04-27 13:05] SamDecrock opened #15881 "postIpamFailure range is full when spawning more than 250 pods"
## Bug report

I'm trying to spawn more than 250 pods on a single node and I'm getting:

[code]

**General Information**

- Cilium version: 1.8 (also tested this with 1.9)
- Kernel version: `Linux dco2-prep 5.4.0-1042-gcp #45~18.04.1-Ubuntu SMP Tue Apr 13 18:51:16 UTC 2021 x86_64 x86_64 x86_64 GNU/Linux`

**How to reproduce the issue**

Install Kubernetes with kubeadm. Make sure you set your netwo

[2021-04-27 13:08] LucasRouckhout commented on #15881
I seem to have the same issue +1

[2021-04-27 14:00] Maddy007-maha commented on #13872
Hi,

I want to work on this issue, can you assign this to me?

[2021-04-27 14:15] Maddy007-maha commented on #15387
Hi @pchaigno

The assignee of this issue, who was earlier part of our team and we are continuously trying to reach him and he is not reachable for a long time.

And that means currently he is not looking into this issue.

Can you please assign this issue to me, I have analyzed and raised the PR for this issue.

[2021-04-27 14:26] jrfastab opened #15883 "cilium: encryption, subnet IPSec mode configuration may segfault on init"
If not all of our preconditions are met, e.g. IP allocation fails or IP lookup fails its possible for enableSubnetIPSec,

[code]

to segfault. For example in an EKS environment where I misconfigured node pools I got this,

[code]

The system wasn't going to come up anyways so it would have failed and crash looped regardless, but still issuing a splat because we don't handle errors nicely is not us

[2021-04-27 14:38] joamaki commented on #15075
This requires a kernel change (https://lore.kernel.org/bpf/20210427135550.807355-1-joamaki@gmail.com/T/#t) as the `bpf_skb_change_head` helper did not work properly with an skb from a L3 device (mac_len unset which caused `skb->data` to point to middle of IP header in `tcp_v4_rcv`). It currently looks like there aren't a workaround for this. The only other helper that could be useful is `bpf_skb_a

[2021-04-27 16:03] rewiko commented on #15366
All daemonsets and pod manifest will run before the node becomes ready.
They are going to be in a unmanaged state from cilium point of view.
On our side we have a custom init script which will delete any containers which are in an unmanaged state before updating the node condition to mark the node as Ready.

[2021-04-27 16:16] #13167 closed

[2021-04-27 16:21] #14841 closed

[2021-04-27 16:23] aanm commented on #15881
can you provide a cilium sysdump? did you check cilium-operator logs to see if there were any warnings present in the logs?

[2021-04-27 16:25] aanm commented on #15878
can you provide a Cilium sysdump of this cluster? Thank you.

[2021-04-27 17:30] jrajahalme commented on #15774
I just tested clustermesh with two Kind clusters via `cilium-cli`, which defaults installs to Cilium 1.9.5, CRD allocation mode, and `kvstore=""`. Identity propagation between clusters works fine:
[code]
[code]

[2021-04-27 17:34] jrajahalme commented on #15774
There should be no reason for a node to connect to the local `clustermesh-apiserver`. If kvstore is wanted for cluster's identity allocation, the local kvstore should be configured independently of clustermesh. That is, the etcd instance within `clustermesh-apiserver` is not to be used for cluster's local identity allocation, but only for cross-cluster identity propagation.

[2021-04-27 17:42] jrajahalme commented on #15774
The test output above shows that this is already done as required at least when `identity-allocation-mode = crd`.

[2021-04-27 17:52] #15095 closed

[2021-04-27 17:52] #15559 closed

[2021-04-27 17:54] navarrothiago commented on #10541
Actually, what I did was to install the iperf3 in the k8s1 and k8s2 (instead of using pods) and start the iperf3 server in k8s2 and the iperf3 client in the k8s1. I was able to check that it hits the point that is addressed in this issue (`return NAT_PUNT_TO_STACK`) . So, in order to continue the development of the test, I'd like to know if I can follow this this approach. If so, I have to install

[2021-04-27 18:04] dctrwatson commented on #15877
I also saw this same behavior after upgrading to 1.9.6. It was more surprising because we limit ENIs too.

This works around the issue in 1.9.6 (while limiting to only 2 secondary ENIs):
[code]

This leads me to be relatively certain https://github.com/cilium/cilium/commit/cb292b05400e5d204af852150942493b52329197 is the cause beacuse the only place the primary IP isn't excluded already is here: ht

[2021-04-27 19:25] joestringer commented on #15774
Thanks for trying it out @jrajahalme , sounds like our answer to the second item in the description is "cannot reproduce". I've checked that box.

For the first item in the description of the issue, we need to decide whether to:
a) Document that etcd will always complain like that with the current release
b) Update cilium-cli to avoid configuring Cilium to connect to the local etcd
c) Update ciliu

[2021-04-27 19:54] jrajahalme commented on #15774
What does "local etcd" here mean? etcd managed by `cilium-etcd-operator` or the etcd pod deployed with `clustermesh-apiserver`? Or something else?

[2021-04-27 20:12] navarrothiago opened #15890 "BPF NAT engine is not dropping ICMP type 13 (timestamp)"
Cilium version
[code]
Kernel version
[code]
curl -sLO https://git.io/cilium-sysdump-latest.zip && python cilium-sysdump-latest.zip
[code]

[2021-04-27 20:31] navarrothiago commented on #15890
The starting point was when I was analyzing this [issue](https://github.com/cilium/cilium/issues/10541).
I have noticed that the code below only handle the `NAT_PUNT_TO_STACK`
https://github.com/cilium/cilium/blob/f81e8c6a5d6359b4d393d60017eef6634e764e05/bpf/lib/nodeport.h#L1221-L1227
So, when ICMP type 13 is used, the function `snat_v4_process` returns `DROP_NAT_UNSUPP_PROTO`
https://github.com/c

[2021-04-27 21:34] aanm commented on #15865
Fixed by #15866

[2021-04-27 21:34] #15865 closed

[2021-04-27 21:42] joestringer commented on #15774
I'll admit I'm a little out of my depth here since I'm not reproducing or observing the errors, but what I hear is that if you configure encryption using the cilium cluster CLI you will see errors like the below in the etcd logs, likely due to a misconfigured cilium-agent:

[code]

It seems like these are not "real" problems that inhibit connectivity, but noise in the cluster that may make it more

[2021-04-27 21:54] SamDecrock commented on #15881
There was nothing weird inside the cilium logs.

Last time I installed Cilium 1.8 and switched to 1.9. Now I installed 1.9 from a fresh Kubernetes install and it works. I'm currently running 600 pods on 1 node!

I'm going to try to investigate a little further if upgrading is possible, if not I'll have to reinstall Kubernetes

[2021-04-27 23:44] joestringer opened #15893 "v1.10.0-rc1 release"
## Pre-release

- [x] Check that there are no [release blockers] for the targeted release version
- [x] Ensure that outstanding [backport PRs] are merged
- [x] Consider building new [cilium-runtime images] and bumping the base image
      versions on this branch:
  - Cilium v1.10 or later:
     Modify the `FORCE_BUILD` environment value in the `images/runtime/Dockerfile` to force a rebuild.
     [

[2021-04-28 02:28] joestringer opened #15901 "Fix docker image check script for images outside the usual set"
When I run `make -C install/kubernetes check-docker-images` in the v1.10 branch, I see:

[code]

However, several of these images exist (I tried the envoy one and the quay versions of the hubble ones). We should fix up the script to properly locate these images.

[2021-04-28 02:29] joestringer commented on #15901
These might just be breaking due to a poor assumption around how you can split image names based on the `:` character position, which is a common way to break when the sha256 digests are specified.

[2021-04-28 03:30] dctrwatson commented on #14728
I had to make other changes before I could get around to taking a sysdump...

Either upgrading to v1.9.6, disabling `masquerade`, and/or reducing number of nodes has made my issue go away... sorry.

[2021-04-28 06:03] rscampos commented on #14549
Hello guys!

Just send a draft PR, If something doesn't go well, just let me know :D

[2021-04-28 07:18] Maddy007-maha commented on #15387
Hi @pchaigno

Can you assign this issue to me?

[2021-04-28 07:28] pchaigno commented on #15387
Thanks for the additional context. I've assigned you.

Please avoid spamming on GitHub issues; two messages in less than 24h for the same thing is totally unnecessary. I was out yesterday, so a thousand messages wouldn't have changed a thing. If you don't get an answer to a GitHub comment in 48h I suggest asking on a public Slack channel.

[2021-04-28 07:32] Maddy007-maha commented on #15387
Sure! thanks for assigning.

Am requesting you to kindly review this PR => https://github.com/Maddy007-maha/cilium/commit/efcc7abdc75bdba8f98970e1b8f231c0da7f5018
 and share your valuable comments

[2021-04-28 07:49] pchaigno commented on #13834
and the state of all the parameters can fetched from that directory files.

I don't think we can assume the file will always be there. You can check the code of other `cilium` subcommands to see how to get that information from the cilium-agent daemon.

[2021-04-28 08:27] ppancake commented on #15824
Hello, I've used the documentation for flow control using an **ifb** network device, and the results seem to be working.
[Bandwidth Manager (beta)](https://docs.cilium.io/en/stable/gettingstarted/bandwidth-manager/#bandwidth-manager)

In the Cilium(1.9.6) cluster，for pod1,  it's network device is lxc9ba892673f6b, do the ifb setting:

[code]
Test with iperf3, the results of the lxc9ba892673f6b  rxk

[2021-04-28 08:35] SamDecrock commented on #15881
Ok, I tried upgrading from cilium 1.8 to 1.9 by first doing a
[code]
and then installing it with
[code]
But the pods kept getting IP's from the `10.0.0.0/24` range.
Also the node annotations stayed at `io.cilium.network.ipv4-pod-cidr: 10.0.0.0/24`

Only when I reinstalled kubernetes with `kubeadm reset` / `kubeadm init` and installed cilium 1.9, the pods were getting IP's from my new `10.128.0.0/1

[2021-04-28 09:00] gandro commented on #15877
I agree that cb292b0 is likely the culprit here. I'm not sure why I convinced myself at the time that I don't need to remove it from the linked computation. I'll try to reproduce this issue and will try to fix it.

[2021-04-28 10:25] twpayne commented on #15890
Thanks for spotting this. Initial comments from @borkmann:
* Some discussion is needed around whether unconditionally dropping these packets is the right thing to do, as this may break other things.
* Could you investigate what netfilter does in this case?

[2021-04-28 11:17] kovalyukm commented on #15366
`cilium` and `cilium-node-init` DaemonSets have configured toleration:
[code]
so they tolerate everything.

By default all DaemonSets do not have this toleration and do not tolerate taint `node.kubernetes.io/not-ready`, so `fluent-bit` is scheduled when the NodeCondition `Ready` being `True`.

The issue happens when fluent-bit starts before cilium-agent starts to assign endpoint ids on the node.

[2021-04-28 12:04] brb opened #15910 "node-neigh: Do not arping on AKS"
In AKS each node's primary interface gets a dummy MAC addr (`12:34:56:78:9a:bc`). Therefore, there is no need to arping each node. Instead, in the `NodeUpdate` event handler we could create a permanent ARP entry and call it a day.

[2021-04-28 12:48] vsxen commented on #13526
same question with xdpgeneric on virtualbox

[code]

full log
[code]

[2021-04-28 12:51] pchaigno commented on #13526
@vsxen It's a different problem. The e1000 driver doesn't support XDP. It's usually not deployed on 10Gbps+ interfaces so supporting XDP in such driver probably makes little sense. Cilium requires native driver support to use the XDP acceleration.

[2021-04-28 12:54] pchaigno commented on #15910
Is that the `NodeUpdate` handler you're referring to? https://github.com/cilium/cilium/blob/687446593b4d7bc25843a17663d0b051695c45b7/pkg/datapath/linux/node.go#L882

[2021-04-28 14:23] CBVenkataReddy commented on #13338
Thank you for your time and inputs,
If nodestatus feature is disabled then we need to use the endpoint selectors.
Do we need the parallel implementation just like nodestatus update,
if that is the case then will it also cause the same performance issues.

Also we noticed that in status update implementation whenever a node update the status of the policy
it updates the KVStore about the status cha

[2021-04-28 15:42] brb commented on #15910
Yes. Ideally, the new code should be placed inside the `insertNeighbor()` method which is invoked by `nodeUpdate()`.

[2021-04-28 16:51] christarazi commented on #13338
@CBVenkataReddy A first implementation doesn't have to cover both cases, but in the end, we'd want this feature to work in all cases, regardless of whether node status is turned on or not.

Re: performance, I'm not exactly sure it will cause performance issues. What I'm thinking is that when the policy is applied and received by the agents, each one will "evaluate" the endpoint selector. Then if t

[2021-04-28 16:56] #15893 closed

[2021-04-28 17:19] joestringer commented on #14379
This was addressed in the Feb 18 release v1.7.9 for aws-cni: https://github.com/aws/amazon-vpc-cni-k8s/releases/tag/v1.7.9.

[2021-04-28 17:30] #14922 closed

[2021-04-28 17:59] #15693 closed

[2021-04-28 19:21] rscampos commented on #15910
Hello @brb @pchaigno
I was looking at this issue... do you guys think that´s ok for a third issue? If so, could please assign to me? Tkss

[2021-04-28 21:32] aanm opened #15922 "CI: K8sDatapathConfig Wireguard encryption Pod2pod is encrypted in direct-routing mode"
## CI failure

[code]
[38e50a8c_K8sDatapathConfig_Wireguard_encryption_Pod2pod_is_encrypted_in_direct-routing_mode.zip](https://github.com/cilium/cilium/files/6394897/38e50a8c_K8sDatapathConfig_Wireguard_encryption_Pod2pod_is_encrypted_in_direct-routing_mode.zip)

https://jenkins.cilium.io/job/Cilium-PR-K8s-1.16-net-next/394/testReport/junit/Suite-k8s-1/16/K8sDatapathConfig_Wireguard_encryption_Po

[2021-04-28 23:51] christarazi commented on #15881
@SamDecrock Cilium will fetch the pod CIDR from the CiliumNode resource if IPAM mode is `cluster-pool` or from the K8s node resource if any another IPAM mode. That would explain why when you upgraded Cilium by deleting and re-applying, Cilium 1.9 used the existing pod CIDR from the resources and then when you reinstalled K8s with `kubeadm`, Cilium picked up the new pod CIDR range.

[2021-04-29 06:55] SamDecrock commented on #15881
Hmm. There's a `CiliumNode` I didn't know that. Do you mean the CiliumNode stayed alive when I upgraded from 1.8 to 1.9 and see the pod CIDR range was kept?

[2021-04-29 07:54] brb commented on #15910
Sure. Thanks for working on this.

Before you start, could you validate AKS docs that this is indeed the case for all instance types?

[2021-04-29 08:16] brb commented on #15922
This is yet another lagging IPCache issue.

On the client node:
[code]

While the request was captured on the client node:
[code]

So there was the 3sec delay :scream:

[2021-04-29 08:37] brb opened #15932 "Investigate syscall and sys/unix usage against EINTR handling"
From https://golang.org/doc/go1.14#runtime:

We should check whether in all cases where we use `syscall` or `sys/unix` we retry upon getting `EINTR`.

[2021-04-29 08:37] #14581 closed

[2021-04-29 10:46] twpayne commented on #15881
Yes, the `CiliumNode` CRD is persisted over upgrades.

[2021-04-29 11:41] CBVenkataReddy commented on #13834
As per the issue description we want to do even if cilium-agent not running it should done reliably from the filesystem state,
Can you pls suggest any specific Cilium command to browse?

[2021-04-29 13:06] vsxen commented on #13526
Thank you, I use virtualbox just for test.
and this args same not work?
[code]

[2021-04-29 13:27] Ankurk99 commented on #14960
I would like to take up this issue.

[2021-04-29 13:36] pchaigno commented on #13834
Yes, it should try to reach the daemon and fallback to the filesystem otherwise.

`cilium status` reaches the daemon for example.

[2021-04-29 14:22] CBVenkataReddy commented on #13338
@Christanzo,
We thought further about this and think we expose the metric in two ways:-
- Expose as a metric on Cilium Agent
- Expose as a metric on the Operator
Exposing on Cilium Agent:-
- It can be a simpler approach and the metric for "used"/"unused" can be implemented at the node level.
- However, it will not give the complete view of the policies "used"/"unused" at the cluster level.
Exposin

[2021-04-29 14:39] rscampos commented on #15910
Hello @brb,

Of course, I'll check AKS docs before and reach you if a have any doubt, thank you for the support :D

[2021-04-29 14:49] mvisonneau opened #15935 "Proposal: Reduce the amount of lines generated when logging expired FQDN IPs"
## Proposal

Reduce the amount of lines generated when logging expired FQDN IPs

**Is your feature request related to a problem?**

Trying out `v1.10.0-rc1`, I stumbled upon these new log lines:

[code]

I have indeed a L7 egress CNP with the following configuration:

[code]

**Describe the solution you'd like**

It would be great to be able to reduce the verbosity of this feature as it seem to oc

[2021-04-29 15:04] aanm opened #15936 "Print LPM warning message if unable to dump contents of maps"
Since some maps are not able to be printed for older kernels, we should put that notification after printing the error message in [1]. This will be more clear to users than simply printing this helper message in the help section [2].

[1]
[code]

[2] https://github.com/cilium/cilium/blob/a9374b5db0223752364829f9c0b827f413d2903b/cilium/cmd/bpf_ipcache_list.go#L41

[2021-04-29 15:51] pchaigno commented on #15910
@rscampos This issue is specific to AKS, so you'll need an AKS cluster.

[2021-04-29 15:59] aditighag opened #15937 "CI: Travis: pkg/wireguard/agent/agent_test.go: TestAgent_PeerConfig"
Failed test output (https://travis-ci.com/github/cilium/cilium/jobs/501875845) -

[code]

[2021-04-29 16:28] christarazi commented on #15937
cc @gandro @brb

[2021-04-29 16:47] pchaigno commented on #15717
The new job is running on master and in PRs. The Table of Truth has been updated accordingly. Closing.

[2021-04-29 16:47] #15717 closed

[2021-04-29 17:57] pchaigno commented on #15775
No other occurrence in the past week according to [the CI dashboard](https://datastudio.google.com/s/uXgZwsZrysg). Closing.

[2021-04-29 18:27] christarazi commented on #13338
@CBVenkataReddy Thanks for going through with this. Yes, I would agree that an Operator approach is not really feasible. It is fine to have per-node metrics for this.

[2021-04-29 20:06] pchaigno commented on #15724
This is actually a bit weird:
[code]
So `curl` clearly failed because the total time for the `curl` command is just a bit more than the timeout (5s). Despite that, it returns a zero exit code and is therefore detected as "successful", an unexpected result.

[2021-04-29 21:04] pchaigno commented on #15575
A request `hostns -> remote pod` with host policies applied on egress of the source was successful when it should have been denied. It was successful because the remote pod's identity was missing from the ipcache, so an ipcache lookup returned WORLD_ID instead of the pod ID. That host policy allows all connections to world.

According to the timestamps above, that's at least 32 seconds before the

[2021-04-29 21:06] pchaigno commented on #15469
Closing given above message.

[2021-04-29 21:06] #15469 closed

[2021-04-29 21:50] jhead-slg opened #15949 "Per node specification or automatic expansion of podCIDRs"
## Proposal / RFE

**Is your feature request related to a problem?**
For some Kubernetes nodes I would like to be able to run a larger amount of pods. For instance, I would like to deploy a node pool that handles a specific workload where perhaps 500 pods will run on each node. Cilium is configured to handle IPAM via its default cluster scope (cluster-pool) method handing out a /24 by default. I d

[2021-04-29 21:55] pchaigno commented on #15455
The `hubble observe` output from the test artifact shows that the specific pod which we're trying to `kubectl exec` into was already used to run curl commands before.
[code]
So this is not a setup issue and something breaks after a few seconds/minutes of running the test. All other policy drops I found were on connections established in the wrong direction in conntrack, which should be fine to dro

[2021-04-29 22:44] aditighag commented on #15229
@joestringer The loader (cilium/ebpf) already [populates](https://github.com/cilium/ebpf/blob/master/prog.go#L189) `prog_name` field. I confirmed this by running a unit test.

[2021-04-29 23:32] aanm opened #15951 "Add documentation how to upgrade aws-cni"
The current GSG for aws-cni mention the user should check for the CNI version installed in the cluster. To help the user better we should provide instructions how to verify the aws-cni version as well as steps to upgrade the CNI plugin.

current documentation: https://docs.cilium.io/en/v1.9/gettingstarted/cni-chaining-aws-cni/#aws-cni

[2021-04-30 04:08] mogindi opened #15952 "Egress rule ignored when using `toCIDRSet` with contiguous `except` cidrs"
**General Information**

When creating `toCIDRSet` rule, with `except` cidrs, if 2 cidrs in `except` are contiguous ip blocks, the whole rule is ignored.

Note: I tested only with egress rule `CiliumClusterwideNetworkPolicy` but its probably reproducible with just `CiliumNetworkPolicy`, ingress or egress.

- Cilium version (run `cilium version`)
[code]

- Kernel version (run `uname -a`)
[code]

-

[2021-04-30 05:58] SamDecrock commented on #15881
Thanks, that explains it.

[2021-04-30 05:58] #15881 closed

[2021-04-30 06:41] h2cw2l opened #15953 "Is cilium can only be developed with VirtualBox + Vagrant ？ Can it be developed with VMware + CentOS ?"
I want to add some logs to cilium so as to learn code of cilium, I have the env VMware + CentOS.
When I input make, it always hangs as shown in the figure bellow.
So I want to know, is cilium can only be developed with VirtualBox + Vagrant ?
Any reply will be appreciated.
![图片](https://user-images.githubusercontent.com/58133919/116658066-fdfe0f00-a9c1-11eb-9ead-7f3652dacb5f.png)

[2021-04-30 07:20] pchaigno commented on #15953
I don't know of anyone developing on that environment. Did you try to see why it hangs?

[2021-04-30 07:23] pchaigno commented on #15229
@aditighag We don't use cilium/ebpf to load programs AFAIK. We use bpftool and tc.

[2021-04-30 07:48] h2cw2l commented on #15953
Thank you for reply, it hangs because the memory I give to the CentOS is not enough.

[2021-04-30 07:48] #15953 closed

[2021-04-30 08:34] errordeveloper opened #15956 "expose VXLAN and health ports as a flags"
## Proposal / RFE

**Is your feature request related to a problem?**

When deploying Cilium on OpenShift user has to run custom script to modify security groups and enable Cilium ports. This step in the guide is quite error-prone.

OpenShift installer does make the IANA VXLAN port 4789 open, albeit Cilium uses default Linux VXLAN port 8472.

Additionally, having the ability to use a different port

[2021-04-30 09:43] pchaigno opened #15958 "Fragment tracking doesn't work with endpoint routes"
Fragment tracking doesn't seem to work with endpoint routes. Running the end-to-end test in that configuration results in:
[code]
Looking at the datapath code, I don't see anything that could interfere between the two options, so maybe this is an issue with the routes themselves.

We might want to reject that configuration explicitly on startup until this is fixed.

Related: https://github.com/cil

[2021-04-30 09:47] mvisonneau opened #15960 "cilium agent device auto-detection issue"
## Bug report

As part of the `v1.10.0-rc1` upgrade, I discovered that "a lot" of kernel warnings were being generated (approx rate: 10 every 5s):

[code]

Doing some researches I ended up onto https://github.com/cilium/cilium/issues/13869, looking at the diff with of my former installation (v1.9.4), I figured that [bandwidth manager](https://docs.cilium.io/en/v1.9/gettingstarted/bandwidth-manager

[2021-04-30 10:23] pchaigno commented on #15960
Thanks for the report!

This is likely caused by something [`InitBandwidthManager`](https://github.com/cilium/cilium/blob/v1.10.0-rc1/pkg/bandwidth/bandwidth.go#L76) sets up, but I'm ensure which setting could cause this :thinking:
@borkmann Any idea?

[2021-04-30 11:21] pchaigno commented on #15952
This bug was fixed in v1.8.7 by https://github.com/cilium/cilium/pull/14516. I'll close as fixed, but please ping us to reopen if you can still reproduce on a newer version (I can't).

[2021-04-30 11:21] #15952 closed

[2021-04-30 12:41] nebril opened #15962 "minikube kernel version is not able to run IPsec"
Current minikube version is `4.19.114`. Kernel config is here: https://github.com/kubernetes/minikube/blob/v1.19.0/deploy/iso/minikube-iso/board/coreos/minikube/linux_defconfig

When trying to run Cilium with IPsec enabled on minikube cluster, Cilium pod fails with following log message:

[code]

@pchaigno suggested that there might be a commit between `4.19.114` (minikube) and `4.19.177` (our CI)

[2021-04-30 13:02] borkmann commented on #15960
@mvisonneau this PR should address it from what I noticed could be a cause: https://github.com/cilium/cilium/pull/15964 . Do you have a chance to test it?

[2021-04-30 16:38] nbusseneau opened #15966 "operator-azure: remove requirement for Azure Service Principal"
When deploying on Azure AKS,  `cilium-operator-azure` requires using an Azure Service Principal to authenticate with the API and allocate IPs.

Removing this requirement would allow removing all Azure Service Principal-related Helm values:

- `azure.tenantID`
- `azure.clientID`
- `azure.clientSecret`

Getting rid of the SP requirement would help in three ways I think:
- No need for the user instal

[2021-04-30 16:56] aditighag commented on #15229
`Bpftool` already populates program names, I'm not sure about `tc`.

I think @joestringer was referring to cilium/ebpf loader?

[2021-04-30 18:31] aditighag commented on #15229
Makes sense, yeah. I checked cilium/ebpf based on our eventual goal. I also updated my comment - `tc-bpf` doesn't seem to support populating prog names (most of our programs are currently loaded using that tc bpf loader). It may need kernel changes?

[2021-04-30 18:36] #14652 closed

[2021-04-30 18:58] joestringer commented on #15229
I don't think tc-bpf or the kernel TC hookpoint should have any impact on this. Attaching an eBPF program to a TC hook point is a two step process - (1) Load the program; (2) Attach it at the TC hook point. iproute2 performs both of these steps, it likely just needs to figure out a name based on the ELF sections prior to (1) and pass it in with the syscall as part of (1).

[2021-04-30 19:59] joestringer commented on #13752
Looks like it, yeah: https://datastudio.google.com/s/qAyX1z8XQe0

[2021-04-30 20:01] pchaigno commented on #15962
I had a look at xfrm commits between these two patch versions with `git log --pretty=oneline v4.19.114..v4.19.177 | grep xfrm`. The only one I found that could maybe be related is:
[code]

[2021-04-30 20:06] aditighag commented on #15229
Yes, agreed that it's all managed by our internal iproute2. But the user facing API (tc-bpf in this case) only takes section names as arguments as opposed to other loaders like cilium/ebpf and bpftool. A BPF program can have multiple sections (e.g., `bpf_overlay.c` has `from-overlay` and `two-overlay`).

[2021-04-30 20:11] pchaigno commented on #15229
@aditighag A section is a program (can also be a map or maps of course). `bpf_overlay.o` for example, has multiple BPF programs, named `from-overlay`, `to-overlay`, etc.

[2021-04-30 20:15] pchaigno commented on #13752
All failures pointed by that link either happened in CI jobs with all tests failing (so unlikely related) or on v1.9 as linked above. Maybe this flake became a v1.9-only flake.

The v1.9 failure is at https://jenkins.cilium.io/job/Cilium-PR-K8s-GKE/5348/testReport/junit/Suite-k8s-1/17/K8sServicesTest_Checks_ClusterIP_Connectivity_Checks_service_kubernetes_io_service_proxy_name_label_implementation

[2021-04-30 20:30] pchaigno commented on #13752
Nice, another flake solved just before the weekend :-)

Looking at the code of the test, we can see that it checks that a given clusterIP VIP isn't in the list of services handled by cilium, that is `cilium service list`. We have one test artifact for a failed test, so let's check it.

`test-output.log` gives us the full logs of the test: what was executed, when, what failed, etc. Using that we ca

[2021-04-30 21:16] pchaigno commented on #15789
The issue is that Cilium doesn't have an IPv6 address for any of the pods it manages:
[code]
So when packets leave the container with their IPv6 address, they are dropped by Cilium because it thinks the IPs are spoofed.

How did you assign IPv6 addresses to pods?

Could you share a full sysdump? The sysdump attached to the issue only has a bugtool.

[2021-04-30 21:50] sdmodi commented on #15789
Yes. This is on GKE. The CNI implementation is being done by another component called netd. How do I collect the full sysdump? This is very likely a result of CNI chaining and missing cilium configuration.

[2021-05-01 04:20] brandond commented on #14287
CNI plugins should pass all conformance tests, regardless of whether or not a use case can be presented. This is blocking is from certifying Cilium for use with Rancher/RKE2.

[2021-05-01 09:33] pchaigno commented on #15789
With:
[code]

[2021-05-01 12:50] pchaigno commented on #15724
Also happened for test `K8sPolicyTest Namespaces policies Tests the same Policy in different namespaces` (cf. https://github.com/cilium/cilium/issues/15758).

[2021-05-01 12:50] pchaigno commented on #15758
This is a duplicate of https://github.com/cilium/cilium/issues/15724.

[2021-05-01 12:50] #15758 closed

[2021-05-01 17:16] MUzairS15 commented on #15936
Hey can you help me starting with this, as i am completely new can you tell me what tech stack i should. Know in order to contribute??

[2021-05-01 18:26] lfundaro opened #15970 "Swapped sentence on documentation"
Hi there 👋 , while following the Cilium installation guide I noticed that in the [Install Cilium step](https://docs.cilium.io/en/latest/gettingstarted/k8s-install-default/#install-cilium), there seems to be a sentence that belongs to [the previous step](https://docs.cilium.io/en/latest/gettingstarted/k8s-install-default/#install-cilium). It reads:

The sentence in bold presumably belongs to the `C

[2021-05-01 20:22] sdmodi commented on #15789
Here is the sysdump. This is on a different cluster than the one in the bug description. It still has the same problem
[cilium-sysdump-20210501-131623.zip](https://github.com/cilium/cilium/files/6410235/cilium-sysdump-20210501-131623.zip)

[2021-05-01 21:01] lfundaro opened #15972 "Missing reference to demo app in getting started"
While following the guide about [Inspecting network flows with the cli](https://docs.cilium.io/en/latest/gettingstarted/hubble_cli/#inspecting-network-flows-with-the-cli) I'm presented with this command
`kubectl exec tiefighter -- curl -s -XPOST deathstar.default.svc.cluster.local/v1/request-landing` which fails because this guide assumes you are running the [Demo Application](https://docs.cilium.

[2021-05-01 22:34] qmonnet opened #15974 "CI: K8sDatapathConfig Wireguard encryption Pod2pod is encrypted in tunneling mode"
## CI failure - Wireguard encryption Pod2pod is encrypted in tunneling mode

### Context

- K8s-1.16-net-next
- [Jenkins URL](https://jenkins.cilium.io/job/Cilium-PR-K8s-1.16-net-next/415/)
- Logs: [3ab28e46_K8sDatapathConfig_Wireguard_encryption_Pod2pod_is_encrypted_in_tunneling_mode.zip](https://github.com/cilium/cilium/files/6410383/3ab28e46_K8sDatapathConfig_Wireguard_encryption_Pod2pod_is_enc

[2021-05-03 03:42] Ankurk99 commented on #14725
@pchaigno can you please provide some pointers on how may I approach this?

[2021-05-03 07:06] #15970 closed

[2021-05-03 07:38] #15972 closed

[2021-05-03 08:23] pchaigno opened #15976 "Support managed Kubernetes in egress gateway getting started guide"
As it is currently written, the getting started guide for the egress gateway require a self-managed Kubernetes setup. We should adapt it so that someone using GKE, EKS, AKS, or a sandbox environment can easily follow the guide.

[2021-05-03 08:35] pchaigno commented on #15169
Fix was merged, closing.

[2021-05-03 08:35] #15169 closed

[2021-05-03 08:36] pchaigno commented on #15620
Did not happen recently according to https://datastudio.google.com/s/gmSGs21IOLA, so likely another case of https://github.com/cilium/cilium/issues/15474. Closing.

[2021-05-03 08:36] #15620 closed

[2021-05-03 08:36] pchaigno commented on #14324
Test has been unquarantined. Closing.

[2021-05-03 08:36] #14324 closed

[2021-05-03 08:37] pchaigno commented on #13917
Not enough information in original post to debug now that Jenkins page has been recycled... Closing.

[2021-05-03 08:37] #13917 closed

[2021-05-03 08:37] pchaigno commented on #15114
Did not happen again recently according to https://datastudio.google.com/s/loYNtDAdc2M. Closing.

[2021-05-03 08:37] #15114 closed

[2021-05-03 08:47] pchaigno commented on #15255
Not seen again in the past 7 days according to https://datastudio.google.com/s/lkOAfbqwY10.

[2021-05-03 08:49] pchaigno commented on #15459
This test failed because one endpoint is in CrashLoopBackOff. It tries to listen on port 41001 of the hostns, but fails. `ss--t--p--a--i--s.md` tells us that the cilium-agent is already listening on that port:
[code]
Not sure why the cilium-agent would listen on that port :thinking: I don't see any reference to that port in the source code...

[2021-05-03 08:51] pchaigno commented on #14463
### Analysis
Function `ValidateEndpointsAreCorrect` is failing here because one of the Docker containers is missing from the `cilium endpoint list` output. This function compares `container-id`s and the container with Cilium endpoint ID 3158 doesn't (yet?) have a `container-id` in `cilium endpoint list`.

If we take another endpoint with a `container-id`, for example 3172, we can see in Cilium log

[2021-05-03 08:52] pchaigno commented on #14537
We can see in the `cilium endpoint list` output that httpd2 is indeed missing:
[code]
It however could be endpoint 417 which hasn't received its labels or final identity yet. The test artifact confirms this, as in the `endpoint_list.txt` file, endpoint 417 now has label `container:id.httpd2` and security ID 2755.

The fix is to wait in (or before) [`GetEndpointsIds`](https://github.com/cilium/cili

[2021-05-03 08:59] ClaudiuLSH opened #15977 "Changing clusterPoolIPv4PodCIDR post deployment"
Hi,

I am trying to change clusterPoolIPv4PodCIDR on a live kubernetes cluster. Is there a way to achieve this? I wasn't able to find anything related to this in issues or documentation.

Cilium was deployed with helm and I updated that value, after upgraded the chart. The value was updated in ConfigMap but all pods have IPs from old pool. I even rebooted a node, nothing changed. I am assuming thi

[2021-05-03 09:10] pchaigno commented on #14676
https://github.com/cilium/cilium/pull/15848 fixed it. It was merged on the 27th and we can see the effect in the CI dashboard:

![image](https://user-images.githubusercontent.com/1764210/116859361-312de180-ac00-11eb-9faa-33f5491ff686.png)

[2021-05-03 09:10] #14676 closed

[2021-05-03 14:25] nathanjsweet commented on #15630
If I'm reading the CI dashboard correctly it doesn't look like this issue has crept up in a week. It is very possible that there aren't any original errors to this issue. I'm going to leave it open a bit longer in case it comes up again.

[2021-05-03 15:30] joestringer commented on #15774
Couldn't reproduce the issue with errors in the etcds. If you have more information about this, please post in below and we can reopen the issue.

[2021-05-03 15:30] #15774 closed

[2021-05-03 16:14] aditighag commented on #14956
@johngv2 Any update on the PR? Let us know if you need help.

[2021-05-03 17:14] christarazi commented on #15459
Oh that's interesting @pchaigno, good find. I think `41001` might be the Cilium  proxy port in this case. This theory aligns with the fact that this test failure is from the L7 suite.

The port is not going to be in the source code because we don't usually care what the port is. We simply ask the OS to give us a free port.

[2021-05-03 17:28] aditighag commented on #15459
Yup, @christarazi beat me to it. :)

We should see check the [log](https://github.com/cilium/cilium/blob/master/pkg/fqdn/dnsproxy/proxy.go#L424) "DNS Proxy bound to address".

[2021-05-03 18:41] christarazi opened #15986 "Proxy port collision with pod running in host network namespace"
Summary is that it's possible for a pod running in the host network namespace to use a port that Cilium will use as the proxy port.

See flake https://github.com/cilium/cilium/issues/15459. AFAICT, this affects all versions of Cilium.

[2021-05-03 18:42] christarazi commented on #15459
Good find, filed https://github.com/cilium/cilium/issues/15986 for it

[2021-05-03 20:04] pchaigno commented on #15986
I'm not sure there's much we can do here. Maybe we should just allow users to select the DNS proxy port?

[2021-05-03 20:23] pchaigno commented on #15459
One mystery remained---fear not, this comment will solve quickly that---why are the flakes happening almost always with this `echo-c-host-container` container when we have several other pods running in host-network namespace, in the connectivity checks and in other tests?

Following the kernel sources, we can see that the bind(2) syscall [ends up calling `sk->sk_prot->get_port`](https://elixir.boo

[2021-05-03 20:45] aditighag commented on #15459
Nice find! Although, in the case of DNS proxy, it's a UDP port. I don't see a similar comment for [UDP](https://elixir.bootlin.com/linux/v5.12.1/source/net/ipv4/udp.c#L345) (regular UDP doesn't have a `connect` call anyway).

[2021-05-03 20:49] pchaigno commented on #15459
It's both TCP and UDP actually: https://github.com/cilium/cilium/blob/4f27865e975cc095891b68df5f4a7bc0e26ecca5/pkg/fqdn/dnsproxy/proxy.go#L420-L424
The `echo-c-host-container` container is also only listening on TCP so the conflict is definitely on a TCP port.

[2021-05-03 22:51] navarrothiago commented on #15890
@twpayne, thank you for the response.

One thing that catch my attention is about the `return DROP_NAT_UNSUPP_PROTO`. So, based on what you wrote, we should allow ICMP protocol.

I was looking at netfilter, but I did not find anything that should block this traffic.

### Filter table
[code]
### NAT table
[code]

[2021-05-03 23:31] aditighag commented on #15459
Yes, that's right. DNS proxy also supports TCP requests.

[2021-05-04 00:46] lzang opened #15991 "Inter-pod tunnel traffic is dropped in Cilium tunnel mode"
We have a use case where we need to run tunnel traffic between pods when the Cilium works in tunnel mode.  The traffic flow is like the following:  from pod A to podB, packet header is IP_A -> IP_B, but this is a tunnel packet, which means the header would be IP_A -> IP_B:GenevePort, and the payload is the real packet. Then after the packet went through the Geneve tunnel on the node, the packet be

[2021-05-04 05:29] christarazi opened #15995 "Correct proxy debug capture messages in datapath (BPF TPROXY)"
In the datapath when BPF TPROXY is enabled, we have:

1. DBG_CAPTURE_PROXY_PRE
2. DBG_CAPTURE_PROXY_POST

(1) is triggered before a packet is sent to the proxy in `bpf_lxc` and (2) is triggered when the packet has been redirected to `bpf_host` and after being passed onto the proxy.

Neither one of these show up in `cilium monitor` output because the message type mismatches with the debug function

[2021-05-04 06:24] johngv2 commented on #14956
Hey @aditighag, sorry for the delay. At some point, I got stuck trying to create a **kind** cluster with more-than-one nodes. I realized the changes proposed by the commit [866969](https://github.com/cilium/cilium/pull/14951/commits/866969e3e43931c5d45b9b1a4e601f5bdf7895d4) weren't working on my machine and I tried to understand why (It would be nice to discuss it later). Anyway, I'm putting all e

[2021-05-04 07:33] Cyrus008 opened #15996 "Verifying the Setup"
## Compilation of < tools/testing/selftests/bpf/  > is failed :
The compilation error log is given below :

CLNG-BPF [test_maps] loop2.o
  CLNG-BPF [test_maps] sample_map_ret0.o
  CLNG-BPF [test_maps] btf__core_reloc_enumval___err_missing.o
  CLNG-BPF [test_maps] test_rdonly_maps.o
  CLNG-BPF [test_maps] atomics.o
fatal error: error in backend: line 26: Invalid usage of the XADD return value
Stack

[2021-05-04 07:34] pchaigno commented on #15995
:+1:

Marking as good-first-issue.

[2021-05-04 07:34] #15996 closed

[2021-05-04 07:34] pchaigno commented on #15996
Unrelated to Cilium.

[2021-05-04 07:37] Cyrus008 commented on #15996
Thanks for the comment ...where is put   this issue please let me know

[2021-05-04 08:10] johngv2 opened #15997 "pkg/cgroups/cgroups_linux: cgrpCheckOrMountLocation can return error after mounting"
After call `mountinfo.IsMountFS(mountinfo.FilesystemTypeCgroup2, cgroupRoot)`, if `cgroupRoot` is not yet mounted, `mounted, cgroupInstance, err` will receive `false, false, nil` respectively.

https://github.com/cilium/cilium/blob/1070b19ab318857795b6673e7fd40ce0036be093/pkg/cgroups/cgroups_linux.go#L54

At this case, after a successful mount, the function should return `nil` without verify the v

[2021-05-04 08:37] gandro opened #15998 "CI: K8sServicesTest Checks ClusterIP Connectivity With ClusterIP external access ClusterIP can be accessed when external access is enabled"
## CI failure

[code]

Happenend on #15911

[3b5bf436_K8sServicesTest_Checks_ClusterIP_Connectivity_With_ClusterIP_external_access_ClusterIP_can_be_accessed_when_external_access_is_enabled.zip](https://github.com/cilium/cilium/files/6419863/3b5bf436_K8sServicesTest_Checks_ClusterIP_Connectivity_With_ClusterIP_external_access_ClusterIP_can_be_accessed_when_external_access_is_enabled.zip)

I see the

[2021-05-04 09:10] mvisonneau commented on #15960
👋 hey @borkmann thanks!

I have attempted to test it using `quay.io/cilium/cilium-ci:c2331400c1b5d7d082b3c2cb181f9ca6a56e64ee`, unfortunately I can still see ~ the same amount of logs being generated.

[code]

[2021-05-04 09:14] borkmann commented on #15960
@mvisonneau are you able to capture (e.g. tcpdump) such packets that would trigger this so there's a chance we could correlate?

[2021-05-04 09:15] navarrothiago commented on #15890
For me there are two options do do:

1. Change the return of that function from drop to accept or
2. Change the function that call this function to handle the drop (and the packet will be dropped). Today, the return is drop and that packet is not dropped.

What do you think?

[2021-05-04 09:37] mvisonneau commented on #15960
@borkmann, here are the outputs of the commands we discussed over Slack:

<details><summary>cilium status --verbose</summary>
<p>

[code]

</p>
</details>

<details><summary>cilium endpoint list</summary>
<p>

[code]

</p>
</details>

[2021-05-04 10:20] borkmann commented on #15960
After further debugging with the help of @mvisonneau, it turns out that the following must have happened: Initially, the agent was relying on auto-detection of its interfaces. In that case, the Cilium agent seemed to have detected devices ens5 & ens6:
[code]
However, after updating the Cilium image, the current config now says:
[code]
In the agent log, we see one occurrence of ens6, however, it's

[2021-05-04 10:41] jibi commented on #14859
I am not able to reproduce this.

So far I spawned a couple of 4.9 VMs:
[code]

configured Cilium to use direct routing and host firewall:
[code]

Deployed a couple of pods on 2 different nodes:
[code]

and tested the connectivity with netcat. Traffic is flowing back and forth and I'm not seeing anything unusual on tcpdump:

[code]

I'm not sure if I'm using the wrong configuration or maybe the is

[2021-05-04 10:44] borkmann commented on #15960
From routing table entries, it seems ens6 is used in table 11:
[code]
Where routing rules point to it:
[code]
Therefore, the auto-detection should also include also ens6.

[2021-05-04 11:01] mvisonneau commented on #15960
as @borkmann spotted, we could manually correlate with the CiliumNode entry that some endpoints associated onto this interface were being functional all along:

![image](https://user-images.githubusercontent.com/1761583/116993967-0dd26780-acd0-11eb-8aa1-ed65c85e53ca.png)

eg:
- endpoint : `1926`
- pod: `coredns-coredns-5ff5dfcc4d-m76l4`
- ip: `10.16.41.124`

[code]

[2021-05-04 12:13] pchaigno commented on #14859
:thinking:

I initially hit this while working on test `K8sDatapathConfig Host firewall With native routing`: https://github.com/cilium/cilium/blob/dfb822001f63fac4a5cc38240367f5a16bb8782f/test/k8sT/DatapathConfiguration.go#L794-L795
If it looks like it's solved, let's maybe reenable that test?

[2021-05-04 12:26] #15629 closed

[2021-05-04 12:30] #15877 closed

[2021-05-04 12:53] ti-mo commented on #15789
Hi @sdmodi, are these dual-stack clusters something we can spin up and try for ourselves?

What does the CNI payload generated by the GKE CNI look like? (in JSON) I assume Cilium is configured as a downstream CNI from `netd`? Could you share the custom CNI configuration as well? The docs recommend storing this in ConfigMap `kube-system/cni-configuration`, but we don't pick this up with the sysdump

[2021-05-04 12:58] #13752 closed

[2021-05-04 13:04] #15459 closed

[2021-05-04 13:05] #15858 closed

[2021-05-04 13:19] weirdwiz commented on #15995
Hi, could I have this issue assigned to me?

[2021-05-04 13:28] jibi commented on #14859
OK, now I can reproduce the failure:
[code]
potentially something related to the policies that the test uses, looking into it

[2021-05-04 14:18] mvisonneau opened #16002 "logging: level being passed as log-options is not interpreted"
## Bug report

I spotted that we do not properly interpret the `level` of the `--log-options`, therefore we cannot really update the logging level. At first sight, I believe the culprit resides in here: https://github.com/cilium/cilium/blob/f740f55f313216f6cee35b5c69896811445a21a6/pkg/logging/logging.go#L296

This variable does not seem to be updated at any point.

I will work on a PR to sort this

[2021-05-04 14:26] joshmue opened #16003 "Use of Azure IPAM in non-default Azure clouds"
**General Information**

- Cilium version 1.9.6
- AKS with Kubernetes 1.19.9

I attempted to deploy Cilium with Azure IPAM onto an AKS cluster in the `AzureChinaCloud` which differs from the public Azure cloud in some details.
Ref: https://docs.microsoft.com/en-us/azure/active-directory/develop/authentication-national-cloud
Ref: https://docs.microsoft.com/en-us/azure/china/resources-developer-guid

[2021-05-04 14:30] pchaigno opened #16004 "CI: GKE: K8sServicesTest Checks service across nodes Supports IPv4 fragments"
In https://github.com/cilium/cilium/pull/15959, we enabled this test in GKE by disabling endpoint routes (incompatible with fragment tracking, see https://github.com/cilium/cilium/issues/15958). But apparently, it's still not working 100% and is flaky: https://datastudio.google.com/s/hluBxpjzw24.

https://jenkins.cilium.io/job/Cilium-PR-K8s-GKE/5355/testReport/Suite-k8s-1/17/K8sServicesTest_Checks

[2021-05-04 14:35] elfadel commented on #15864
@aanm Could you assigned me this issue?

[2021-05-04 15:20] jibi commented on #14859
I managed to reproduce this on the dev VM. Worth nothing that the problem:
* does not involve any host firewall policy:
[code]
* does only happen when the client pod is attached to the host network:
[code]
[code]

[2021-05-04 15:42] bmcustodio opened #16007 "Connectivity broken in AWS CNI chaining mode"
## Bug report

https://github.com/cilium/cilium/commit/f4431ca7c942fe67757cf013102da59ad1d36055 breaks connectivity when Cilium is running in AWS CNI chaining mode. As @pchaigno pointed out over Slack, using `--set endpointRoutes.enabled=true` seems to fix the issue, but as they also pointed out it might be better to not touch those routes if we're running in chaining mode to start with.

For refe

[2021-05-04 15:56] aanm opened #16008 "Add missing `bpftool map dump` in the bugtool"
Not all maps are captured as part of the bugtool too, some are missing in this list https://github.com/cilium/cilium/blob/9fb332bec16f097c1cee88462649a39b4784f766/bugtool/cmd/configuration.go#L114

The list of maps can be retrieved from `ls -al /sys/fs/bpf/tc/globals/`, just be careful that list is not extensive and some maps are endpoint specific.

[2021-05-04 18:24] joestringer commented on #15852
Cilium expects that the VNI field is used for identity and not a virtual network, correct. This means that if you are integrating with a third party VXLAN implementation, that implementation should send packets towards Cilium nodes in a way that respects the identity of the packets, maybe one approach would be to inject the "world" identity when transmitting packets towards Cilium nodes. If you ar

[2021-05-04 22:42] sdmodi commented on #15789
Yes cilium is configured as a downstream CNI. As far as I can tell, this is the only input to cilium
[code]
The input to GKE CNI looks like this. Cilium is the last CNI in the chain. We aren't storing this in kube-system/cni-configuration
[code]

Unfortunately I am prototyping dual stack clusters in GKE and there isn't a way to reproduce locally. I am happy to set up a live debugging session on my

[2021-05-04 23:56] christarazi opened #16018 "Make backporting process easier on Mac OS users"
Currently, we require users to spin up a dev VM if they're on Mac OS because our backporting scripts require Linux. Ideally, we should not have to dictate a user's dev environment to handle weekly duties. The scripts should be usable on all relevant platforms. The only incompatibility that I can see is the use of `sed` in the backporting scripts. One approach would be to write a Go script that rep

[2021-05-05 00:11] glibsm commented on #16018
With some recent additions to the team some folks have already actively started chipping away at similar problems which is awesome to see.

The main issue with forcing a dev VM usage is the inability to use the primary development environment. Resolving conflicts (using stock vim), running git commands (no aliases), etc.

The current middle ground is using a combination of running commands locally

[2021-05-05 00:19] eyanulis opened #16019 "Cilium kube-proxy-replacement sometimes binds to cilium_host, breaking NodePort"
## Bug report

**General Information**

- Cilium version (run `cilium version`): 1.9.5 and 1.9.6
- Kernel version (run `uname -a`): `5.11.11-200.fc33.x86_64`
- Orchestration system version in use (e.g. `kubectl version`, ...): Kubernetes 1.20.5
- Link to relevant artifacts (policies, deployments scripts, ...):
- Generate and upload a system zip:
  - 1.9.5 sysdump with one node (`usden1storage01`)

[2021-05-05 00:34] dmusicant-dk commented on #14489
@skurfuerst Is it only the init script that needs to be changed? Do you know of other scripts that also need to not be bash-based?

Do you have a link to the script in github?

[2021-05-05 01:17] christarazi commented on #15826
This issue is only reproducible with tunneling enabled and is not exclusive to kind. I was able to reproduce on GKE as well.

[2021-05-05 01:19] eyanulis commented on #16019
I've found what I believe to be a contributor to this issue (if not the true underlying bug) _given the assumption that `cilium_host` inherits the v6 k8s node IP_ (note I haven't yet gotten to an understanding of why we do that).

In `detectDevices()`, there is a [block which looks up all IPs on the node](https://github.com/cilium/cilium/blob/efb3a72ceb4f70e62c7acbb55db6884ffcc817ee/daemon/cmd/kub

[2021-05-05 01:25] eyanulis commented on #16019
I think my secondary problem (where KPR ends up bound to only `cilium_host`) would happen if we hit [one of the error cases in](https://github.com/cilium/cilium/blob/efb3a72ceb4f70e62c7acbb55db6884ffcc817ee/pkg/datapath/linux/route/route_linux.go#L537) `NodeDeviceWithDefaultRoute()` - I have some issues in this environment where my v6 default route sometimes gets broken (unrelated to cilium) and t

[2021-05-05 06:01] eyanulis commented on #16019
The mentioned behavior with respect to `cilium_host` cloning the k8s node IP is, (in my opinion) a misbehavior stemming from `pkg/datapath/loader/base.go` passing the IPv6 node IP rather than the IPv6 node _router_ IP into the `init.sh` legacy datapath script. (This is somewhat confirmed by the use of the v4 node router IP a few lines earlier in the same file). https://github.com/cilium/cilium/blo

[2021-05-05 07:44] #14537 closed

[2021-05-05 09:26] ti-mo commented on #15789
Are you sure `{"cniVersion":"0.4.0"}` is Cilium's sole input? You can debug this by replacing the `cilium-cni` binary with a script that writes stdin to a file. (or changing the `cilium-cni` entry in the chain to the name of the script)

Without (much) more in-depth information, lending a hand here will be difficult. As far as I understand, Cilium should support dual-stack to a certain degree, but

[2021-05-05 10:26] brb commented on #15826
Shall we at least document this in the IPSec GSG as a limitation for now?

[2021-05-05 11:22] mvisonneau commented on #15935
I reckon this is following #14878.

As an easy/quick fix, should we consider moving this log entry to the `debug` factory instead of `warning`?

cc @youssefazrak, @sayboras & @christarazi

[2021-05-05 12:07] youssefazrak commented on #15935
@mvisonneau no problem from my side. I will let the others confirm.
I can take care of the quick fix once the choice is decided.

[2021-05-05 13:57] Maddy007-maha commented on #13834
Hi @pchaigno,

Can you assign this issue to me?
I want to work on this.

-Thanks

[2021-05-05 13:58] Maddy007-maha commented on #12562
Hi @pchaigno,

Can you assign this issue to me?
I want to work on this.

-Thanks

[2021-05-05 14:26] navarrothiago commented on #12561
I am planning take-up this issue
Please, could you assign it to me?

[2021-05-05 14:28] CBVenkataReddy commented on #13338
As per our understanding the flow is:-

  - Each node will receive the policy request from the api-server
  - Policy will be stored in the local reporsitory and an event will be raised for each of the endpoints on the node.
  - Regenerate Event then looks for all the policies applicable to the endpoint.

 Queries:-
  - It doesn't seem that there is a mapping from the policy in the repo to the poli

[2021-05-05 16:19] #15676 closed

[2021-05-05 16:32] christarazi commented on #13338
@CBVenkataReddy I don't think we need an external piece to watch for pods or policies. We already have those individual watchers. We also already have the endpoint regeneration event whenever there's a change happens to any endpoints or policies, so hooking up the metrics logic there seems like the right place.

[2021-05-05 16:52] elfadel opened #16028 "`cilium service list` contain rejected service that are not available in the bpf LB map"
This issue is somewhat related to issue #15864.
When the bpf LB map is full, service cannot be added anymore. Try to eat will raise error indicating that the service cannot be added. However, the rejected service will appear in the list shown by `cilium service list` command.

[2021-05-05 16:55] christarazi commented on #15935
Switching to debug level could work. Let's try that out. If we find that we really needed this information during debugging then we can consider other approaches like only logging once per IP.

cc @youssefazrak

[2021-05-05 16:59] sdmodi commented on #15789
I did try doing this via a script that dumps stdin to a file. I plugged this script in before the cilium CNI plugin. This is all my script does:
[code]
This is my new cni config:
[code]

[2021-05-05 19:32] dghubble commented on #14287
Yeah, this also precludes Typhoon making Cilium the default. As contrived as some of the Kubernetes conformance tests are the conformance matters to some users.

[2021-05-05 21:15] joestringer commented on #16028
In principle I think this is probably fine and almost intended in a sense. If the underlying issue (ie map being full) is resolved, then it would be possible to re-synchronize the maps from the userspace understanding of the services without having to re-pull all state from k8s.

If there's a clear discrepancy between `cilium service list` and the underlying bpf maps, that's also useful because it

[2021-05-05 21:21] aditighag commented on #16018
This has been on my to-do list for some time now. I'll take a stab at it. Not assigning the issue to myself until I've committed some cycles to it. @christarazi suggested a good option - https://github.com/cilium/cilium/pull/16016#discussion_r626193078.

[2021-05-05 21:44] youssefazrak commented on #15935
@christarazi I pushed the fix 👍

[2021-05-05 22:11] elfadel commented on #16028
It depends.

From my understanding, the `cilium service list` is intended only to show the correctly added and running services and should therefore be sync with commands like `cilium bpf lb list`.

But if the fact that `cilium service list` contains services not running/added to the bpf maps, is intentionally implemented like that, so we should let it as it is and closed the issue.

[2021-05-05 22:58] vincentmli opened #16032 "Cilium managed POD between nodes network fails with flannel CNI integration"
## Bug report
Following https://docs.cilium.io/en/v1.9/gettingstarted/flannel-integration/ to setup new k8s cluster with flannel and cilium, the cilium managed pod can ping flannel managed pod between master node and worker node, cilium managed pod cannot ping cilium managed pod between master node and worker node

kubectl  get po -o wide
NAME                             READY   STATUS    RESTARTS

[2021-05-06 00:35] joestringer commented on #16028
I think the real underlying problem in this case is the improper sizing of the service maps. Maybe there's a better way to propagate that error up to the user so that they can correctly configure Cilium to account for the service scale they are deploying.

[2021-05-06 00:38] vincentmli commented on #15852
In BIGIP vxlan tunnel integration with flannel,  if I create a VXLAN tunnel in BIGIP, the tunnel usually requires an uniq VNI ID, let's say VNI ID as 1, then when packet egress from BIGIP,  the VNI will be 1, and BIGIP expect to receive VXLAN packet with VNI 1, all non VNI 1 VXLAN packet will get dropped.

What is the "world" identity? is the "world" identity has value as 0?  in BIGIP, I could try

[2021-05-06 01:37] vincentmli commented on #15852
I did a quick test between flannel and BIGIP, so the VNI value has to be the same value between the flannel VXLAN tunnel and BIGIP VXLAN  tunnel, say flannel VXLAN  tunnel has VNI value 1, BIGIP VXLAN tunnel has VNI value 2, when flannel VXLAN tunnel received the packet with VNI value 2, the packet will be dropped by flannel ( kernel driver/net/vxlan.c), the same to BIGIP if BIGIP receives VNI val

[2021-05-06 02:39] h2cw2l opened #16033 "How can I compile cilium and deploy it in k8s cluster by myself ?"
At present I deploy cilium in k8s cluster by helm or quick-install.yaml.

How can I compile cilium by my self and deloy it in k8s cluster ?

Is there any documentation or other way can help me ?

Any reply will be appreciated.

[2021-05-06 02:49] aanm commented on #16033
hello @h2cw2l, see this documentation to help you https://docs.cilium.io/en/stable/contributing/development/dev_setup/#dev-env

[2021-05-06 05:01] christarazi commented on #15174
Removed backport labels as there's no direct need to backport essentially cosmetic changes. The changes were made in https://github.com/cilium/cilium/pull/15702 which is included in v1.10, so removed that label as well.

Resolved by https://github.com/cilium/cilium/pull/15702

[2021-05-06 05:01] #15174 closed

[2021-05-06 05:06] christarazi commented on #13354
Flannel has been [removed in v1.10](https://github.com/cilium/cilium/pull/15786), and is no longer supported in older versions as well

[2021-05-06 05:06] #13354 closed

[2021-05-06 05:10] ungureanuvladvictor commented on #15966
@nbusseneau -- I spent some time today thinking about this. I think going forward there are 2 main avenues:
- `cilium-operator` inherits Azure API creds from the node it's running on (this is basically the same as AWS ENI IPAM)
- `cilium-operator` runs with a pre-defined SP (service principal) that has the required permissions

In both cases the role which will be attached to either the node ident

[2021-05-06 06:14] h2cw2l commented on #16033
@aanm
Thanks for reply.

I have read this documentation, it is a little difficult to understand.
My environment is Windows 10，VMware + CentOS, could I carry "make" && "make install" in CentOS.

Thank you.

[2021-05-06 07:49] pchaigno commented on #16032
Please note we are removing support for the direct Flannel integration in Cilium v1.10. You can instead run Flannel on top of Cilium with [the Genetic Veth Chaining guide](https://docs.cilium.io/en/v1.9/gettingstarted/cni-chaining-generic-veth/).

[2021-05-06 07:59] pchaigno commented on #16018
Isn't directory sharing enabled on macOS for the development VMs? That should allow you to edit files on the host with whatever editor you prefer, no?

Maybe https://github.com/cilium/cilium/pull/14272 would be useful here? (Documented at https://docs.cilium.io/en/latest/contributing/development/dev_setup/#option-1-using-the-provided-vagrantfiles-recommended.)

[2021-05-06 08:32] brb commented on #16028
Re `cilium service list` vs `cilium bpf lb list`, maybe we should deprecate the former, as the latter is the source of truth. OTOH the latter can issue an extensive amount of syscalls.

[2021-05-06 08:41] pchaigno commented on #14725
@Ankurk99 I would find another, recently-added Prometheus metric and follow its implementation.

[2021-05-06 08:47] pchaigno commented on #15826
Marked as release blocker for now given we're currently planning to move IPSec out of beta in v1.10.

[2021-05-06 09:06] vsxen commented on #16033
You need to learn Linux command first.

[2021-05-06 09:16] h2cw2l commented on #16033
Thanks for your advice.

My k8s cluster is in CentOS supported by VMware, so I want to learn how to compile cilium and deploy it by myself.
I see the documentation is about vagrant and ubuntu.

I also want to know when run "make", what path the cilium image is placed in ?

[2021-05-06 09:21] vsxen commented on #16033
you show run `yum install make` to install `make` command。
and all dependency in the table(git llvm etc...) is needed.

[2021-05-06 10:22] h2cw2l commented on #16033
1、Yes, requiements(git llvm etc...) listed in the table have been met and I have installed make.

2、After I run make in root of cilium, it can also run  successfully.
![图片](https://user-images.githubusercontent.com/58133919/117282620-85062800-ae97-11eb-9dde-aa59809838b0.png)
3、I have two doubts listed below :
(1) When I run "make install" after "make", I can not see the process "cilium-agent", why

[2021-05-06 11:31] elfadel commented on #16028
@joestringer

It looks like that is what I implemented to fix issue #15864. No?

[2021-05-06 11:52] rewiko commented on #15878
Sysdump provided through cilium slack

[2021-05-06 13:28] joamaki opened #16036 "Small ICMP fragments dropped by datapath"
While testing MTU settings with e.g. `ping -s <large>` I noticed that Cilium datapath currently seems to drop (tested rev 0ff85f2f9) ICMP fragments when the fragment is smaller than `sizeof(icmphdr)` due to the ICMP type check in __policy_can_access (https://github.com/cilium/cilium/blob/0ff85f2f9/bpf/lib/policy.h#L117) as the code is not checking whether the packet in question is a fragment and t

[2021-05-06 13:28] vincentmli commented on #16032
@pchaigno Thank you, after reading https://docs.cilium.io/en/v1.9/gettingstarted/cni-chaining-generic-veth/, I would like to try that in the existing lab that already has flannel and cilium running, but I am not clear what steps I should do in the Genetic Veth Chaining guide, it has:

1. Validate that the current CNI plugin is using veth
2. Create a CNI configuration to define your chaining config

[2021-05-06 13:36] vincentmli commented on #16032
I think I need to do 3, since the the cilium helm referenced the CNI chaining configmap in step 2

[2021-05-06 13:57] ybialik opened #16038 "Pods are stuck in ContainerCreating state"
## Bug report

**General Information**

- Cilium version 1.9.6
- EKS 1.18

We recently installed cilium version 1.9.6 using these flags with helm
helm install cilium cilium/cilium --version 1.9.6 \
  --namespace kube-system \
  --set egressMasqueradeInterfaces=eth0 \
  --set nodeinit.enabled=true  \
   --set hubble.enabled=true \
   --set hubble.listenAddress=":4244" \
   --set hubble.relay.enable

[2021-05-06 13:59] EppO commented on #15966
I think both modes have some valid use cases.
I would add another one which I think can supersede the Service Principal: a custom User Assigned Id. During AKS creation, you can provide a custom User Assigned Id that has been created prior to the AKS cluster and given some permissions (like private DNS zone contributor for private AKS cluster). You could use that one or create a brand new one dedic

[2021-05-06 14:04] pchaigno commented on #16038
Could you please fill in the rest of the issue template?

[2021-05-06 14:19] nbusseneau opened #16039 "CI: v1.10 K8sUpdates Tests upgrade and downgrade from a Cilium stable image to master"
- First seen: https://jenkins.cilium.io/view/Cilium-v1.10/job/cilium-v1.10-gke/10/
- Artifacts: https://jenkins.cilium.io/view/Cilium-v1.10/job/cilium-v1.10-gke/10/artifact/src/github.com/cilium/cilium/26ac0e53_K8sUpdates_Tests_upgrade_and_downgrade_from_a_Cilium_stable_image_to_master.zip
[code]

[2021-05-06 14:43] #15935 closed

[2021-05-06 14:45] gandro commented on #12756
Hit in https://github.com/cilium/cilium/pull/16035 (v1.9)

[2021-05-06 14:46] #15937 closed

[2021-05-06 14:48] #15922 closed

[2021-05-06 14:48] #15974 closed

[2021-05-06 14:57] aanm opened #16040 "CI: RuntimePrivilegedUnitTests TestArpPingHandling failed, expected 'true' got 'false'"
[code]

https://jenkins.cilium.io/job/Cilium-PR-Runtime-4.9/4618/testReport/junit/(root)/Suite-runtime/RuntimePrivilegedUnitTests_Run_Tests/

[867e2c23_RuntimePrivilegedUnitTests_Run_Tests.zip](https://github.com/cilium/cilium/files/6435560/867e2c23_RuntimePrivilegedUnitTests_Run_Tests.zip)

[2021-05-06 15:10] pchaigno commented on #16039
That one is weird... So the test asks Helm to upgrade to Cilium version afed209, from `CiliumTag` (cmd line parameter with value matching the expected value in logs), and therefore expects the agent images to match that after the upgrade. Instead, it finds the agents running with Cilium version efc15cd.

It's not even that the upgrade didn't happen; it happened but to the wrong images:
[code]

I d

[2021-05-06 16:18] gandro commented on #15877
This will be fixed in 1.9.7 and 1.8.10.

Attached is a snippet for the workaround for 1.9.6 and 1.8.9. It contains default limits adjusted to compensate for the off-by-one error. This can be added to the `cilium-config` ConfigMap: [eni-limits.txt](https://github.com/cilium/cilium/files/6436114/eni-limits.txt)

[2021-05-06 16:44] joestringer commented on #16039
Do we need https://github.com/cilium/cilium/pull/15947 backported for this to work (basically skip the image digests in docker image listings in CI because the ones in the tree correspond to the most recent release)?

[2021-05-06 16:56] joestringer commented on #16028
I don't think this makes sense. These two tools are introspecting different layers of the stack, and this can assist debugging when they are inconsistent like reported in this issue - it allows us to divide the problem space.

[2021-05-06 17:18] brb commented on #16040
I think I need to find a better way than sleep 100ms to wait for async insertNeighbor() execution.

[2021-05-06 17:22] brb commented on #16028
I think that having `cilium bpf lb list` + error log msgs should be enough to debug such inconsistencies. Also, there is `kubectl get svc` which output should be equivalent to `cilium service list`.

[2021-05-06 17:24] christarazi commented on #16039
@joestringer Yes, I've pulled it into https://github.com/cilium/cilium/pull/15919 and is correctly running through CI.

[2021-05-06 17:27] aditighag commented on #16028
I agree with @joestringer.

`cilium service list` indicates control plane state, while `cilium bpf lb list` pertains to datapath state.

Not for cases like LRP.

[2021-05-06 17:40] nbusseneau commented on #16040
This is happening on `master` as well:

- https://jenkins.cilium.io/job/cilium-master-runtime/1922/
- https://jenkins.cilium.io/job/cilium-master-runtime/1923/

Must be something merged very recently:
![image](https://user-images.githubusercontent.com/4659919/117341897-f697a380-aea2-11eb-90b2-27394821c1c0.png)

[2021-05-06 17:55] aanm commented on #16028
Even if the connectivity with kube-apiserver is faulty?...

[2021-05-06 17:58] aanm commented on #16033
Check the cilium logs with `journalctl -fu cilium`

[2021-05-06 18:28] joestringer commented on #16028
The way I see this is similar to `cilium ip list`. For a long time, we didn't have ipcache visibility (admittedly at all on some kernels). Even when we got visibility into the datapath either via `cilium bpf ipcache list` or `cilium map ... cilium_ipcache`, we still had difficulty understanding the way that the Cilium internal daemon layer would resolve conflicts between inputs to then populate th

[2021-05-06 20:38] sdmodi commented on #15789
We figured out the issue internally. This is the fix for the issue: https://github.com/cilium/cilium/pull/16041

[2021-05-06 21:16] pchaigno commented on #16007
As said at the top, to fix it we should avoid [installing or removing endpoint routes](https://github.com/cilium/cilium/blob/3b64f2372319ec25c112c7c2d008d76b05ea8968/pkg/datapath/loader/loader.go#L355-L383) when we are in chaining mode. André suggested we could use the environment variable `CILIUM_CNI_CHAINING_MODE` to determine, in the agent, if we're running in chaining mode.

[2021-05-06 22:31] eyanulis opened #16042 "cilium_host IPv6 address is set to node IP instead of generated IPv6 router IP"
## Bug report

In `pkg/datapath/loader/base.go`, the `initArgIPv6NodeIP` argument is set to `node.GetIPv6()`. It is then passed to `bpf/init.sh` for datapath setup, where the value is used to set the IP address on the `cilium_host` veth.

https://github.com/cilium/cilium/blob/e34115a22cbd3beb526236783f17091279916e2e/pkg/datapath/loader/base.go#L290-L305
https://github.com/cilium/cilium/blob/e34115

[2021-05-06 22:37] ungureanuvladvictor commented on #16003
@joshmue -- I've put a draft PR to add support for custom clouds but I do not have any way to test it at the moment. Can you give it a spin?

[2021-05-07 07:17] jibi commented on #14859
Quick update: the scope of this issue is probably larger than we anticipated as:
* it doesn't involve host-fw
* it's not relegated to just 4.9 (I was able to reproduce it also on net-next)

This is the conf I'm currently using to investigate the bug:
[code]

[2021-05-07 08:05] sstoner commented on #15774
@joestringer hi, I read and deployed clustermesh(v1.9.6) with multiple clusters, and I found the following points:

ClusterMesh's ETCD only stores the local cluster's resources like "`cilium/state/nodes/v1`, `cilium/state/services/v1`, `cilium/state/ip/v1`", and other clusters' resources is merged in the memory like `IPCache`/`globalServiceCache`. So we're not necessary to require ETCD storage if

[2021-05-07 09:02] #14817 closed

[2021-05-07 10:09] Jean-Daniel opened #16046 "--install-no-conntrack-iptables-rules prevents ipv4 masquerading"
## Bug report

When passing `--install-no-conntrack-iptables-rules`, the generated rules may prevent IPv4 masquerading (if iptables masquerading is use).

The pods packets are forwarded to the gateway, but the source address is not translated. (iptables NAT rules are ignored, despite being properly installed)

**General Information**

- Cilium version (run `cilium version`)
[code]

- Kernel versio

[2021-05-07 10:17] pchaigno commented on #16046
Thanks for the report!

I think we can do better here and automatically disable `install-no-conntrack-iptables-rules` when we detect masquerading is enabled but not implemented in BPF (`bpf.masquerade=false`). Marking as release blocker.

[2021-05-07 10:17] joshmue commented on #16003
Sure! I'll provide feedback ASAP.

[2021-05-07 10:23] Jean-Daniel commented on #16046
In such case, a warning in the log would also be welcome.

[2021-05-07 10:27] pchaigno commented on #14784
With @kkourt, we were able to reproduce on v1.9.3 and v1.9.6 (latest v1.9 stable release) on 5.4 kernels when `kubeProxyReplacement=disabled` and IPSec is enabled. The issue doesn't occur when IPSec is disabled. Note kernels 5.10+ are affected by a different complexity issue (https://github.com/cilium/cilium/issues/14726) that doesn't require IPSec to occur.

Master (7b27a99) and v1.10.0-rc1 are f

[2021-05-07 11:52] jibi commented on #14859
It seems like the culprit is indeed the rule mentioned in https://github.com/cilium/cilium/issues/15403:
[code]

which is responsible for masquerading the reply traffic `remote pod` -> `k8s2`.

As a first attempt I replaced that with:
[code]

to exclude from masquerading all traffic which is not originating from the node's pods, but for some reason this is not working (missing CT entry perhaps?)

[2021-05-07 14:14] psinghal20 commented on #13909
Hi @pchaigno, I had some initial doubts regarding this issue:
In the current `waitForPods` implementation, we check that there is no `deletionTimestamp` present for the pod and check for PodRunning and ContainerReady conditions.
- Can I use a template similar to this for checking deletionTimestamp : `kubectl get pods POD -o template --template={{.metadata.creationTimestamp}}` ?
- As currently, `ku

[2021-05-07 14:48] nbusseneau commented on #16039
Fixed: https://jenkins.cilium.io/view/Cilium-v1.10/job/cilium-v1.10-gke/12/
Thanks!

[2021-05-07 14:48] #16039 closed

[2021-05-07 16:02] jibi commented on #14859
The previous attempt does not work because the CT entry for the connection is stored in the _pod_ netns rather than in the host netns (and so `-m conntrack --ctorigsrc 10.11.0.0/24` would not match anything since this rule lives in the host netns).

A possible approach to tackle this (which would fix also #15403) would be to extend the masquerade rule to match both pods and nodes IPs. This could b

[2021-05-07 17:35] h3llix commented on #16008
I would like to work on this. @aanm Can you assign it to me please ?

[2021-05-07 18:37] h3llix commented on #16008
Is there any way to get exhaustive list of all the maps ?

I can list the below mentioned maps under `/sys/fs/bpf/tc/globals/`
![bpf_map](https://user-images.githubusercontent.com/55123900/117493927-42c11180-af91-11eb-8c36-c3f1e650e2d5.png)

[2021-05-07 18:59] pchaigno commented on #16008
Yes, `bpftool map dump`...

[2021-05-07 19:23] pchaigno opened #16050 "v1.9: CI: K8sVerifier Runs the kernel verifier against Cilium's BPF datapath on 5.4"
https://jenkins.cilium.io/view/Cilium-v1.9/job/cilium-v1.9-k8s-1.17-kernel-5.4/2/testReport/Suite-k8s-1/17/K8sVerifier_Runs_the_kernel_verifier_against_Cilium_s_BPF_datapath/

K8sVerifier is failing in v1.9 on the 5.4 CI job with the following error:
[code]
This error happens because, contrary to real program loads, in K8sVerifier we load programs with verbose enabled by default, even when there a

[2021-05-07 19:34] pchaigno commented on #16004
This is happening quite a bit: https://datastudio.google.com/s/n37ZusenpaE. I'll quarantine the test.
/cc @qmonnet

[2021-05-07 20:48] joestringer commented on #15774
@sstoner I think we'll have to see a more concrete proposal of the changes to give you better guidance on this, I'm not sure I understand which structures or interfaces you are considering to change.

[2021-05-07 20:54] pchaigno commented on #13071
Do we know who allocates the port? If it's the kernel, we could use the same trick as in https://github.com/cilium/cilium/pull/15988, to at least alleviate the problem until all our CI is testing K8s >=1.19.

[2021-05-07 21:27] jrajahalme commented on #16050
This was hit in 1.9 backport PR (https://github.com/cilium/cilium/pull/16048), should we hold the backports because of this, or is this unrelated to this backport?

[2021-05-07 23:22] h2cw2l commented on #16033
Thanks for reply.

Bellow is cilium log of one restart. Shall you hlep me analyze ? Thank you very much.

error msgs:
![图片](https://user-images.githubusercontent.com/58133919/117517227-ed572580-afcd-11eb-81b5-1213c5386f11.png)
![图片](https://user-images.githubusercontent.com/58133919/117517241-ff38c880-afcd-11eb-8275-7f3ff96f2212.png)

log:
May 08 07:12:41 localhost cilium-agent[10649]: level=error

[2021-05-08 05:21] pchaigno commented on #16033
Note you need a specific version of iproute2: https://github.com/cilium/iproute2.

What version of Cilium is this? Did you make changes on top?

[2021-05-10 00:27] vincentmli commented on #15852
after reading more about kernel drivers/net/vxlan.c,  and bpf/init.sh, I start to understand that Cilium VXLAN implementation is not based on VNI key/FDB, but metadata/external, the bpf/init.sh actually shows how cilium_vxlan is created

<pre>
if [ "$MODE" = "vxlan" -o "$MODE" = "geneve" ]; then
        ENCAP_DEV="cilium_${MODE}"
        ip link show $ENCAP_DEV || {
                ip link add nam

[2021-05-10 03:15] vsxen commented on #15977
Add A ippool CRD  like calico ?
😃

[2021-05-10 08:42] JCahu commented on #14751
https://github.com/cilium/cilium/issues/15485
this was fixed in: https://git.kernel.org/pub/scm/linux/kernel/git/torvalds/linux.git/commit/?id=89e5c58fc1e2857ccdaae506fb8bc5fed57ee063 .

[2021-05-10 08:42] #14751 closed

[2021-05-10 09:56] sstoner commented on #15774
I'm considering to remove ETCD from cilium-clusterMesh, but I have some questions, why didn’t we start this architecture at  the beginning? Anything I haven't  thought maybe not implementable. And I will provided my proposal ASAP. What I want to refactor is likely following:
if we set ETCD as KvStore to use clusterMesh, `cilium operator` and `Endpoint.runIPIdentitySync` will start controller for s

[2021-05-10 10:36] joshmue commented on #16003
The operator certainly does not log authentication errors anymore. Also, `.status.azure.interfaces` of the `CiliumNode` resources is populated.
Connecting to destinations outside of the cluster does not work yet, but I am not sure whether this is related to this issue. I will investigate further.

[2021-05-10 12:20] SimpCosm commented on #10517
I came across the same problem with cilium 1.9.5.

[2021-05-10 12:21] SimpCosm commented on #10517
I came across the same problem with cilium 1.9.5.

[2021-05-10 12:36] joamaki commented on #15960
Marking this for v1.11 for another look. The current device auto-detection logic only considers the device with the node ip and the device with a default route in the default routing table and hence doesn't detect ens6 here. The workaround for now is to specify `--devices` in these cases. Proper fix would require rethinking the auto-detection logic.

[2021-05-10 12:50] pchaigno commented on #10517
@SimpCosm This is likely one of https://github.com/cilium/cilium/issues?q=is%3Aopen+is%3Aissue+label%3Akind%2Fcomplexity-issue+label%3Akind%2Fbug. What Cilium configuration are you running?

[2021-05-10 13:22] rscampos commented on #15910
Hello @brb @pchaigno, just to get a better understanding of the issue. Is ideally to put changes in `insertNeighbor()` (that is the function that actually do the arping). `insertNeighbor()` is called by `nodeUpdate()` (as mentioned in issue's description),

[2021-05-10 14:09] pchaigno commented on #13121
All release blocker items have been addressed. I'm not planning to implement the optimization item at this time since it's unclear whether it would make a big difference.

[2021-05-10 14:09] #13121 closed

[2021-05-10 14:36] qmonnet commented on #15438
And it was just merged :rocket:
Should we update the version we use in Cilium? I don't think we use a stable release for the library?

[2021-05-10 14:40] tklauser commented on #15438
We're already using a non-tagged version in our `go.mod`:

https://github.com/cilium/cilium/blob/bf8e2bb7b0d1da27ed727c333c61500a985da4d1/go.mod#L78

So bumping to latest `master` should be fine. I've opened #16070 doing that.

[2021-05-10 14:59] pchaigno commented on #15998
This is another case of https://github.com/cilium/cilium/issues/15474. The PR where this flake was initially reported did not include https://github.com/cilium/cilium/pull/15650, but Jenkins did a rebase on the test code and included the new test anyway. The flake never happened on master. Closing.

[2021-05-10 14:59] #15998 closed

[2021-05-10 15:02] pchaigno commented on #15097
[code]
The source pod, 10.0.1.135, is reported as having identity `reserved:unmanaged`.

An identity was assigned to that endpoint at 15:22:05.18. We gave up on the curl at 15:22:20. So at least 15 seconds went by before the identity was propagated to the destination node.

Potential related error in agent:
[code]

[2021-05-10 17:45] aditighag opened #16071 "Support internalTrafficPolicy for services"
[InternalTrafficPolicy](https://kubernetes.io/docs/concepts/services-networking/service-traffic-policy/) field was added an Alpha feature in Kubernetes v1.21. This overlaps with the [serviceMatcher Local Redirect Policy](https://docs.cilium.io/en/v1.9/gettingstarted/local-redirect-policy/#servicematcher) feature that Cilium offers. This issue is created to support the feature, and merge the contro

[2021-05-10 18:03] joestringer commented on #15774
@sstoner I'm aware of at least a couple of considerations, one being that the apiserver has a tendency to become overloaded at high cluster scale so this will only get worse if you build on that model to connect even more clusters to the same apiservers; etcd makes this more efficient and scalable. Another one is that the etcd model separates the concerns more clearly in that remote clusters are n

[2021-05-10 18:32] joestringer commented on #15852
It's to identify the security context of the source of the traffic so that policy can be applied at the node which receives the traffic. See also the documentation around identity:
https://docs.cilium.io/en/v1.9/concepts/terminology/#identity

I think it may be viable to fit such a feature under the "egress gateway" feature, by allowing a custom configuration of the VNI to use when forwarding traf

[2021-05-10 22:04] Weil0ng opened #16075 "CI: linuxPrivilegedIPv4OnlyTestSuite.SetUpTest"
## CI failure
Output from failure:
[code]

Link to CI build: https://jenkins.cilium.io/job/Cilium-PR-Runtime-4.9/4628/execution/node/99/log/?consoleFull

Link to PR where this happened: https://github.com/cilium/cilium/pull/16041

[2021-05-10 23:48] h2cw2l commented on #16033
Thank you very much.
After iproute2 has been installed, the cilium-agent is stable, it does not restart.

But I also want to know how can I deploy cilium built by myself in the k8s cluster ? Because I think this is a basic operation.
Shall you help me ?

Thank you.

[2021-05-11 02:10] trvll opened #16076 "The return for ctx_load_bytes() isn't being checked"
In the datapath, the function ipv6_dec_hoplimit() makes a call to ctx_load_bytes() without checking for return errors. This will let this function code make a evaluation of an uninitialized variable (__u8 hl) when ctx_load_bytes() returned a error. In this case the eBPF compiler will generate a code that won't be accepted by Linux kernel verifier, throwing a "invalid size of register spill" error

[2021-05-11 02:10] trvll commented on #16076
Hello @pchaigno, Could you assign it to me, pls?

[2021-05-11 02:20] SimpCosm commented on #10517
Here is my cilium configuration

[code]

[2021-05-11 03:18] aanm commented on #16075
cc @brb

[2021-05-11 06:35] aditighag opened #16078 "Kind with socket-lb doesn't work in dev VM + update kind docs"
Context : https://github.com/cilium/cilium/pull/15999#issuecomment-836254349 and https://github.com/cilium/cilium/pull/15999#issuecomment-837747885.

The instructions given in the Kind getting started guide to enable kube-proxy-replacement need to be updated to accommodate different kernels/container runtimes.

[2021-05-11 07:05] rolinh commented on #15769
@aditighag I believe the problem arises with kernel 5.10+. Which version do you run?

[2021-05-11 08:02] pchaigno commented on #16033
See https://docs.cilium.io/en/latest/contributing/development/images/#developer-images.

[2021-05-11 10:32] joshmue opened #16079 "Cilium Azure IPAM seems to require permissions at subscription level"
As [documented](https://docs.cilium.io/en/v1.9/concepts/networking/ipam/azure/#required-privileges), cilium uses some "List All" calls when communicating with the Azure resource manager (differently than documented, these permissions seemingly are not used on [VMSS's](https://github.com/cilium/cilium/blob/38dd27af2f6c8246b8dc92ebf43ccbe8fab432ea/pkg/azure/api/api.go#L183), but on [VNET's](https://

[2021-05-11 10:49] jose-ledesma opened #16080 "IPv6 path MTU discovery not working"
## Bug report
We are using Cilium in a Kubernetes cluster with IPv6 enabled. We found that certains IPv6 clients were having issues contacting with our services over IPv6.

The issue seems related the IPV6 path MTU discovery mechanism. We found that Cilium is not correctly processing the ICMPv6 Packet Too Big (type 2) packets.

This is a tcpdump showing the issue:

[code]

**General Information**

[2021-05-11 10:53] jose-ledesma commented on #16080
It seems there was a similar issue for IPv4 here: https://github.com/cilium/cilium/issues/8129, although we have network policies disabled

[2021-05-11 16:22] tgraf commented on #16046
I think this is a sub-feature of this and we should do it as part of 1.11 as we are very close to the 1.10 release.

[2021-05-11 16:31] tgraf commented on #15769
If we do any work on this before the release, it should be the doc change as mentioned in the top comment:

[2021-05-11 16:32] tgraf commented on #14859
I think the required work for this it larger than we can still take for the current release. Removing the release blocker.

[2021-05-11 17:22] aditighag commented on #16071
🤦‍♀️ lol, I lost track of the releases. @aanm Yes, we could plan this for 1.11.

[2021-05-11 17:26] aditighag commented on #15769
Looks like the minikube GSG was removed in v1.10.0-rc1.

[2021-05-11 17:53] pchaigno commented on #16076
No, I mean the compiler would not generated bytecode that results in `invalid size of register spill`. Uninitialized variable might happen but not `invalid size of register spill`.

I think it is initialized by the helper from compiler's point of view.

Anyway, the C code is clearly incorrect and we should fix it :slightly_smiling_face:

[2021-05-11 18:57] joestringer opened #16088 "[v1.9] CI: K8sDatapathConfig Encapsulation Check connectivity with sockops and VXLAN encapsulation: Cannot retrieve cilium pod cilium-xxxxx policy revision"
## Suite-k8s-1.17.K8sDatapathConfig Encapsulation Check connectivity with sockops and VXLAN encapsulation

https://jenkins.cilium.io/job/Cilium-PR-K8s-1.17-kernel-5.4/9/testReport/junit/Suite-k8s-1/17/K8sDatapathConfig_Encapsulation_Check_connectivity_with_sockops_and_VXLAN_encapsulation/
[37b429e5_K8sDatapathConfig_Encapsulation_Check_connectivity_with_sockops_and_VXLAN_encapsulation.zip](https:/

[2021-05-11 21:05] pchaigno commented on #16088
AFAIK, the above `cilium-52c5n-policy_get.txt` content is equivalent to this JSON (default before any policy is loaded):
[code]
That's correct JSON and should be parsed fine.

So my guess would be that whatever `kubectl exec -n kube-system cilium-52c5n -- cilium policy get -o json` returned that made our test failed is not returned anymore at the time the sysdump is collected.

I'll send a PR to e

[2021-05-11 21:23] joestringer opened #16093 "v1.9.7 release"
## Pre-release

- [x] Check that there are no [release blockers] for the targeted release version
- [x] Ensure that outstanding [backport PRs] are merged
- [x] Consider building new [cilium-runtime images] and bumping the base image
      versions on this branch:
  - Cilium v1.10 or later:
     Modify the `FORCE_BUILD` environment value in the `images/runtime/Dockerfile` to force a rebuild.
     [

[2021-05-11 21:24] joestringer commented on #16007
There is a workaround for this issue and it is not a regression directly from v1.9.6, so I think we can defer this and fix it when it's ready. Unblocking so we can get the security release out.

[2021-05-11 21:40] pchaigno opened #16095 "CI: ConformanceEKS: pod-to-world-toFQDNs: The requested URL returned error: 403"
Happened in a PR with unrelated changes (touching only `test/`):
https://github.com/cilium/cilium/runs/2555946947
[logs_96674.zip](https://github.com/cilium/cilium/files/6462145/logs_96674.zip)
[cilium-sysdump-out.zip.zip](https://github.com/cilium/cilium/files/6462164/cilium-sysdump-out.zip.zip)

[code]

[2021-05-11 21:43] pchaigno opened #16096 "CI: ConformanceGKE: pod-to-world-toFQDNs: Flow validation failed"
Happened in a PR with unrelated changes (touching only `test/`): https://github.com/cilium/cilium/runs/2555946860
[logs_96673.zip](https://github.com/cilium/cilium/files/6462156/logs_96673.zip)
[cilium-sysdump-out.zip(1).zip](https://github.com/cilium/cilium/files/6462166/cilium-sysdump-out.zip.1.zip)

[code]

[2021-05-11 21:48] pchaigno opened #16097 "CI: ConformanceAKS: unable to retrieve cilium status: error dialing backend: dial tcp 10.240.0.35:10250: i/o timeout"
Happened in a PR with unrelated changes (touching only `test/`):
https://github.com/cilium/cilium/runs/2555946845
[cilium-sysdump-out.zip(2).zip](https://github.com/cilium/cilium/files/6462178/cilium-sysdump-out.zip.2.zip)

[code]

[2021-05-11 21:55] #14463 closed

[2021-05-11 21:55] #15214 closed

[2021-05-11 21:57] joestringer opened #16098 "v1.8.10 release"
## Pre-release

- [x] Check that there are no [release blockers] for the targeted release version
- [x] Ensure that outstanding [backport PRs] are merged
- [x] Consider building new [cilium-runtime images] and bumping the base image
      versions on this branch:
  - Cilium v1.10 or later:
     Modify the `FORCE_BUILD` environment value in the `images/runtime/Dockerfile` to force a rebuild.
     [

[2021-05-11 22:17] aanm opened #16100 "v1.10.0-rc2 release"
## Pre-release

- [x] Check that there are no [release blockers] for the targeted release version
- [x] Ensure that outstanding [backport PRs] are merged
- [x] Consider building new [cilium-runtime images] and bumping the base image
      versions on this branch:
  - Cilium v1.10 or later:
     Modify the `FORCE_BUILD` environment value in the `images/runtime/Dockerfile` to force a rebuild.
     [

[2021-05-12 00:31] dmusicant-dk commented on #14489
I'm not sure that's correct. The issue is the ".sh" script that is run in the container which cilium deploys is a bash script, but the docker containers used by k3d doesn't have bash. The YAML used to do the install should otherwise be fine. _(I believe, please let me know if I'm understanding that incorrectly)_

[2021-05-12 01:08] #15826 closed

[2021-05-12 05:17] ppancake opened #16106 "Bandwidth Manager: Ingress restriction"
## General Information

Cilium version:1.9.6
Kernel version :5.4.54
Kubectl version :v1.21.0

## Phenomenon
According to the documentation [Bandwidth Manager (beta)](https://docs.cilium.io/en/v1.9/gettingstarted/bandwidth-manager/#bandwidth-manager-beta), I tested the Bandwidth Manager feature:

First, the **egress-bandwidth** feature is effective:

tcp client send packets -> tcp server receive pa

[2021-05-12 08:20] brb opened #16110 "lb: Change backend ID from u16 to u32"
Revive the PR https://github.com/cilium/cilium/pull/8041 which changes the backend ID size from u16 to u32. Otherwise, max unique service endpoints count is 64k.

[2021-05-12 08:22] jibi commented on #14859
Latest findings: the masquerading issue shows up whenever Cilium auto derives the device for either KPR, host-firewall or bandwidth manager, causing:

* the `bpf_host` to be attached to that device
* ingress traffic directed to a pod to go through `bpf_host` and to be redirected to the pod's lxc device with `bpf_redirect()`
* by using `bpf_redirect()`, traffic will not be tracked by CT in the host

[2021-05-12 08:53] pchaigno opened #16112 "CI: ConformanceAKS: Unable to determine status: timeout while waiting for status to become successful: context deadline exceeded"
https://github.com/cilium/cilium/runs/2560413854
[cilium-sysdump-out.zip(3).zip](https://github.com/cilium/cilium/files/6464850/cilium-sysdump-out.zip.3.zip)

[code]

[2021-05-12 10:16] pchaigno commented on #16106
What makes you think this is a Cilium issue?

[2021-05-12 10:54] h2cw2l commented on #16033
Thanks you very much.
It is ok.

[2021-05-12 10:54] #16033 closed

[2021-05-12 10:58] h2cw2l opened #16117 "If I use quick-install.yaml other than helm to install cilium ? How can set kubeProxyReplacement=strict ?"
Hello,

When I set want kubeProxyReplacement, must I use helm to install cilium ?
When I use "kubectl create -f quick-install.yaml" , how can I set it ?
Any reply will be appreciated.
![图片](https://user-images.githubusercontent.com/58133919/117964120-d1e47580-b353-11eb-9263-650ef0293eb3.png)

[2021-05-12 11:17] oneiro-naut commented on #15936
Can I work on this issue?

[2021-05-12 12:07] pchaigno commented on #15350
I have tried to reproduce this potential packet mark conflict with the existing Conformance tests, by using a custom IPsec key: https://github.com/cilium/cilium/pull/16113. The test is passing on all three managed Kubernetes. /cc @tgraf @jrfastab

[2021-05-12 12:27] pchaigno commented on #16117
You can edit the `quick-install.yaml` file to specify `kube-proxy-replacement: strict`.

[2021-05-12 12:46] gandro commented on #16117
Alternatively, you may also use `helm template` to generate the YAML and apply it manually. For example:

[code]

[2021-05-12 14:38] #15976 closed

[2021-05-12 14:40] CiiDyR commented on #14483
Can confirm this is also happening on one of our nodes. I can't really see any negative impacts because of this.
Happy to provide more details :)

[2021-05-12 15:12] #14549 closed

[2021-05-12 15:17] sylr opened #16120 "Install on EKS 1.19 not working"
## Bug report

I've followed the install doc for EKS but the cilium daemonset pods refuse to become ready with the following error:

[code]

Steps:

- I removed the aws-node daemonset
- Then installed cilium with the helm command:
[code]

**General Information**

- Cilium version: 1.19.6
- Kernel version : Linux ip-10-24-15-69.eu-west-1.compute.internal 5.4.110-54.182.amzn2.x86_64 #1 SMP Fri Apr 9

[2021-05-12 15:48] Weil0ng opened #16121 "Service/backend ID pool is not scaling with bpf lb map size"
## Bug report

In large scale use cases (>64k k8s endpoints), Cilium would complain the following first when backend number grows over 64k:
[code]

then later if the same backend is touched, it'll crash with the following stacktrace:
[code]

Discussed offline with @aanm and @brb , issue seems to be the MaxID const defined in https://github.com/cilium/cilium/blob/ffe0d11b398e85d7860fefd71c2a38a2524

[2021-05-12 16:09] aditighag commented on #16078
Here are some current findings -

The logic to get Cgroup root for `kind` is failing because the pods cgroup path isn't a full path. As a result, cgroup programs are failing to get attached due to incorrect cgroup root.

I'm trying to debug this with @brb.

[2021-05-12 17:00] pchaigno opened #16122 "CI: K8sDatapathConfig Host firewall With VXLAN: Failed to reach"
https://jenkins.cilium.io/job/Cilium-PR-K8s-1.19-kernel-5.4/74/testReport/junit/Suite-k8s-1/19/K8sDatapathConfig_Host_firewall_With_VXLAN/
[K8sDatapathConfig_Host_firewall_With_VXLAN.7z.zip](https://github.com/cilium/cilium/files/6467831/K8sDatapathConfig_Host_firewall_With_VXLAN.7z.zip) (I had to recompress to be able to upload.)

The `exit status 7` seems interesting here, we don't usually get t

[2021-05-12 17:36] #14726 closed

[2021-05-12 19:37] mvisonneau opened #16124 "ipam/aws/eni: attempting to overallocate IP and ENI"
## Bug report

After upgrading to `v1.10.0-rc1`, I noticed the following in the logs of the `cilium-operator-aws`:

[code]

At first sight it seems to attempt overallocating both IP addresses on an ENI and ENI attachment on an instances.

**General Information**

- Cilium version: `v1.10.0-rc1`
- Kernel version: `5.4.0`
- Orchestration system version in use: `EKS 1.19.6`

**How to reproduce the is

[2021-05-12 20:07] cmluciano opened #16125 "Hubble-UI/relay race condition when deployed during initial cilium install"
## Bug report

**Description**

Sometimes a race condition can be observed when enabling all hubble features through helm simultaneous during an initial cilium installation. This will result in problems with hubble-ui/relay accessing the k8s API because it ends up unmanaged by cilium if  the hubble pods start before everything is in place. The simple fix is to delete the hubble-ui and hubble-relay

[2021-05-12 20:11] cmluciano commented on #16125
I believe Helm 3 has capabilities for ensuring certain deployments finish before you deploy pods that depend on other pods to be healthy and working. I will explore these options.

[2021-05-12 20:21] mvisonneau commented on #16124
After some digging, it seems related to the pointer de-referencing in lieu of `DeepCopy()` done through: https://github.com/cilium/cilium/commit/623dcd3581b6a48994d5e1e28b720b1c0525b6df

I was able to test it out locally by reverting the DeepCopy() and it sorted the issue out, not sure this is something we would like to have back though ([according to this comment](https://github.com/cilium/cilium

[2021-05-12 20:26] gandro commented on #16124
I believe this is a duplicate of #15877 which was fixed after rc1 was cut.

[2021-05-12 20:55] miynat commented on #14489
AFAICS, this template file is used to build up the cilium node-init docker image, and the relevant shell script is in the **STARTUP_SCRIPT** section of that template file here -> https://github.com/cilium/cilium/blob/master/install/kubernetes/cilium/templates/cilium-nodeinit-daemonset.yaml#L134.
That script should be updated to get rid off bashisms in it.
(*Please note that I'm not an expert on th

[2021-05-12 20:56] pchaigno opened #16127 "CI: K8sPolicyTest Basic Test checks all kind of Kubernetes policies"
https://jenkins.cilium.io/job/Cilium-PR-K8s-1.16-net-next/499/testReport/junit/Suite-k8s-1/16/K8sPolicyTest_Basic_Test_checks_all_kind_of_Kubernetes_policies/
[9bd6607b_K8sPolicyTest_Basic_Test_checks_all_kind_of_Kubernetes_policies.zip](https://github.com/cilium/cilium/files/6469034/9bd6607b_K8sPolicyTest_Basic_Test_checks_all_kind_of_Kubernetes_policies.zip)

### Stacktrace
[code]
### Standard O

[2021-05-12 21:45] aanm commented on #16110
duplicate of https://github.com/cilium/cilium/issues/14398

[2021-05-12 21:45] #16110 closed

[2021-05-12 22:22] joestringer opened #16128 "CI: Github warning about `persist-credentials`"
In this Github workflow run:

https://github.com/cilium/cilium/runs/2568647717?check_suite_focus=true

I see the following warning (which doesn't break the build, but it's a github annotation which suggests something is wrong):

[code]

@pchaigno is this a regression from #16052 ?

[2021-05-12 22:28] AnishShah commented on #16079
Interesting! I deployed Cilium in my Azure cluster with ResourceGroup-level permissions on the VNET and it works properly. Not sure why