[2021-09-14 13:31] brb opened #17389 "egress gw: Rename pkg/egresspolicy to pkg/egressnatpolicy"
Otherwise, it might be confused with CNP/NP egress policy. Also, rename other cases of "egresspolicy" in the code.

[2021-09-14 15:12] #17118 closed

[2021-09-14 15:29] alkarp opened #17393 "Helm chart: AZURE_CLIENT_SECRET is not loaded from a secret"
Cilium operator credentials for Azure are stored in a plain env variable and not loaded from a secret like it's done for AWS or Alibaba: https://github.com/cilium/cilium/blob/v1.10.4/install/kubernetes/cilium/templates/cilium-operator-deployment.yaml#:~:text=%7B%7B-%20if%20.Values.azure.clientSecret,%7B%7B-%20end%20%7D%7D

Can this be replaced with something like:

{{- if .Values.alibabacloud.enab

[2021-09-14 18:44] brb commented on #17375
@Nigma1337 Please reopen the issue if restarting Cilium agent pods don't help.

[2021-09-14 18:44] #17375 closed

[2021-09-14 21:00] webframp commented on #16987
Very interested in this feature as well. EKS specific docs for using this feature are located here but assume the default Amazon VPC CNI:

* https://docs.aws.amazon.com/eks/latest/userguide/cni-increase-ip-addresses.html
* https://github.com/aws/amazon-vpc-cni-k8s/blob/master/docs/prefix-and-ip-target.md

[2021-09-14 21:37] Weil0ng opened #17400 "ci-integration: allocation_test: Expected nil, but got: labels.LabelArray{...}"
[code]

https://github.com/cilium/cilium/actions/runs/14215763382/job/39832034891#step:14:104

[2021-09-14 23:12] christarazi opened #17401 "CI: K8sBookInfoDemoTest Bookinfo Demo Tests bookinfo demo: `DNS entry is not ready after timeout`"
## CI failure

### Stacktrace

[code]

### Standard output

[code]

### Standard error

[code]

https://jenkins.cilium.io/job/Cilium-PR-K8s-1.16-net-next/1437/testReport/junit/Suite-k8s-1/16/K8sBookInfoDemoTest_Bookinfo_Demo_Tests_bookinfo_demo/
[59713743_K8sBookInfoDemoTest_Bookinfo_Demo_Tests_bookinfo_demo.zip](https://github.com/cilium/cilium/files/7165609/59713743_K8sBookInfoDemoTest_Bookinfo_

[2021-09-15 00:01] christarazi commented on #16677
Even with #16678, it is still difficult to debug why the routes are blacklisted, causing IPAM issues:
[ed1d3bbd_K8sUpdates_Tests_upgrade_and_downgrade_from_a_Cilium_stable_image_to_master.zip](https://github.com/cilium/cilium/files/7165764/ed1d3bbd_K8sUpdates_Tests_upgrade_and_downgrade_from_a_Cilium_stable_image_to_master.zip)

[2021-09-15 09:27] maintainer-s-little-helper[bot] opened #17403 "CI: K8sServicesTest Checks ClusterIP Connectivity Checks service.kubernetes.io/service-proxy-name label implementation"
### Test Name
[code]

### Failure Output
[code]

### Stacktrace
<details><summary>Click to show.</summary>

[code]
</details>

### Standard Output
<details><summary>Click to show.</summary>

[code]
</details>

### Standard Error
<details><summary>Click to show.</summary>

[code]
</details>

ZIP Links:
<details><summary>Click to show.</summary>

 https://jenkins.cilium.io/job/Cilium-PR-K8s-1.20-ker

[2021-09-15 09:51] gandro opened #17404 "CI: K8sPolicyTest Basic Test Traffic redirections to proxy Tests"
## CI failure

Observed in https://github.com/cilium/cilium/pull/16635

[code]

https://jenkins.cilium.io/job/Cilium-PR-K8s-1.16-net-next/1429/testReport/junit/Suite-k8s-1/16/K8sPolicyTest_Basic_Test_Traffic_redirections_to_proxy_Tests_proxy_visibility_interactions_with_policy_lifecycle_operations/

The same test run also contained a few `Connectivity was expected to be allowed consistently` error

[2021-09-15 10:38] gandro commented on #17167
Yes, I think that's the correct approach. The current code requires the datapath to be set up, so it will need some moving around of code, but generally speaking SendNotification should be usable for user-space notifications as early as possible, to avoid the data race here, but also errors such as https://github.com/cilium/cilium/issues/14146

[2021-09-15 13:53] #17255 closed

[2021-09-15 13:58] nbusseneau commented on #17060
@krishgobinath Since the issue is now fixed by the revert from #17319, we are going to close this issue. I would suggest opening a draft PR adding back the original changes + a recap of the interesting points from the discussion above + a ping of the participants so that the discussion can continue over there :)

[2021-09-15 13:58] #17060 closed

[2021-09-15 14:32] aanm commented on #17192
@Weil0ng

1. The patch comes from here https://github.com/cilium/cilium/blob/ed37faf99d9bf9d9b8a02991c9e58a362c731f14/pkg/k8s/watchers/endpointsynchronizer.go#L245-L249
2. One can't create an object with the status fields populated, it needs to create the object without the fields and then update the status afterwards.

Let me know if that helps.

[2021-09-15 14:39] gandro commented on #17337
Seeing the same issue on GKE (also, cilium/cilium-cli#342 seems to have it on AKS too): https://github.com/cilium/cilium/runs/3611160208?check_suite_focus=true (observed in https://github.com/cilium/cilium/pull/17407)

[2021-09-15 22:05] joestringer opened #17412 "Hide clean-cilium-state options from default configmap"
The options `clean-cilium-bpf-state` / `clean-cilium-state` were introduced very early on as a last resort option to clear out bad state on nodes. These days it is rare that any user legitimately needs this functionality and uses it properly. It is now more likely that users will see the options and think they will help solve their problem when it really only digs them deeper into a hole.

I propo

[2021-09-15 22:15] Weil0ng commented on #17192
Yes this is the old model with `status` being a subresource, but in master we have merged the change that makes `status` a top-level plain field instead of a subresource, and the code path I think should be taken is that:
- we create the obj WITH status populated in here https://github.com/cilium/cilium/blob/master/pkg/k8s/watchers/endpointsynchronizer.go#L168
- we then exit this controller intera

[2021-09-16 00:56] joestringer commented on #16873
I wonder if we should just backport #16381 to v1.8 as well to mitigate CI issues there?

[2021-09-16 07:25] h3llix commented on #17321
@joestringer Can you please have a look at my draft PR to check if I am going in the right direction? Any leads or help? Thanks.
cc: @nbusseneau

[2021-09-16 07:36] brb commented on #14598
Yet another instance, but this time:
[code]
https://jenkins.cilium.io/job/Cilium-PR-K8s-1.16-net-next/1448/testReport/junit/Suite-k8s-1/16/K8sKafkaPolicyTest_Kafka_Policy_Tests_KafkaPolicies/

Same symptoms:
[code]

[2021-09-16 08:24] brb opened #17414 "CI: RedirectSuite.TestAddVisibilityRedirects"
[code]

`0x4a39 == 19001` which is the previously set HTTP port. Looking at `ep.UpdateVisibilityPolicy()` it looks that the method is sync, so a hypothesis that it hadn't been updated yet when doing the assertion is very unlikely.

Full log:
[code]

[2021-09-16 09:26] Jakob3xD opened #17415 "Host Endpoints not detected correctly"
## Bug report

**General Information**

- Cilium version (run `cilium version`)
`Daemon: 1.10.4 2a46fd6 2021-09-01T12:58:41-07:00 go version go1.16.7 linux/amd64`
- Kernel version (run `uname -a`)
`5.4.0-72-generic`
- Orchestration system version in use (e.g. `kubectl version`, ...)
`GitVersion:"v1.21.0", GitCommit:"cb303e613a121a29364f75cc67d3d580833a7479", GoVersion:"go1.16.1"
`

**How to reprod

[2021-09-16 09:54] pchaigno commented on #17415
That's not how it works. There is a single host endpoint identified by label `reserved:host` and it represents the entire host network namespace. All host IPs of detected devices should be assigned to that endpoint.

Did you check in the logs that `devices='{ens+,eth+}'` had the intended behavior?

Could you clarify what you mean by this?

[2021-09-16 10:37] pierrecdn opened #17416 "cilium-agent: health datapath broken on 5.10 kernel"
## Bug report

**General Information**

- Cilium version (run `cilium version`)
1.10.4
- Kernel version (run `uname -a`)
5.10.61
- Orchestration system version in use (e.g. `kubectl version`, ...)
None / not-relevant here / bare-metal setup

**How to reproduce the issue**
Run the cilium agent for standalone LB, DSR, IPIP, using a 5.10 kernel.

`cilium-agent --datapath-mode lb-only --bpf-lb-acceler

[2021-09-16 11:35] Jakob3xD commented on #17415
Thanks for the fast response.

Okay, than I had a wrong memory about that. I thought it was possible to firewall specific interfaces but if they are all bound to a single endpoint, it makes it difficulty.
I also further debugged my issue and fount out it is not a bug. I am sorry for opening the Issue.
Have a nice rest of the day.

[2021-09-16 11:35] #17415 closed

[2021-09-16 20:34] #17167 closed

[2021-09-17 05:16] Weil0ng commented on #17404
Saw same failure in https://github.com/cilium/cilium/pull/17235, job: https://jenkins.cilium.io/job/Cilium-PR-K8s-1.21-kernel-4.9/1416/

[2021-09-17 11:08] carlosjgp opened #17426 "[Proposal][helm] Create Cilium Operator service and allow annotations to be able to get metrics not only with Prometheus Operator"
## Proposal / RFE

Create `cilium-operator` service and allow to add annotations to be able to scrape metrics from the operator from other than Prometheus Operator

**Is your feature request related to a problem?**

To be able to get metrics from the Cilium Operator using Datadog we need to use `cilium-operator` service with some custom annotations. At the moment this service is only created when

[2021-09-17 14:44] jibi commented on #16873
I don't think I can take a look at the failed test in v1.8 backports PR, but if @jrajahalme observed `K8sConformance Portmap Chaining` failing and something related to ipcache in the logs then we should probably backport this to 1.8 as well :+1:

[2021-09-17 15:46] yuriydzobak commented on #16300
https://github.com/cilium/cilium/issues/16300#issuecomment-847832134

[2021-09-17 16:02] yuriydzobak commented on #16300
i'll provide you sysdump

[2021-09-17 16:13] aditighag commented on #16300
@yuriydzobak Based on the graph you shared above, it looks like the memory build-up is happening over a week or so. If you end up reproducing the issue, it would be helpful to get multiple traces so that we can do pprof diff against a base profile. Could you collect a base heap profile before the problem starts, and then collect 2-3 traces separated by a couple of days as the memory leak issue is

[2021-09-17 17:55] joulaud commented on #17252
I have pinned down at least part of the problem with a simpler test case 100% reproducible.
- all pods on same node
- one client pod (clt)
- one service (svc)
- two server pods (srv and other-srv) behind the service
- one TCP connexion from client to service
- server pod joined by client (srv) have readiness failing (I provoke this at will with a specially tailored ReadinessProbe)
- observe connex

[2021-09-17 22:09] vincentmli opened #17431 "kernel 4.9 error="unable to read BPF endpoint list: Unable to get next key from map with file descriptor 10: bad address""
## Bug report
upstream master image build, cilium agent on kernel 4.9 complains error below and fail to start
[code]
not sure if this is bug or configuration issue, the upstream image build runs fine on another two node with kernel 5.14, 5.12

**General Information**

- Cilium version (run `cilium version`)

Client: 1.10.90 c40ed7911 2021-09-15T21:12:15+02:00 go version go1.17.1 linux/amd64
Daemon

[2021-09-17 22:33] pchaigno commented on #17431
As per [the documentation](https://docs.cilium.io/en/stable/operations/system_requirements/#summary), Cilium requires Linux 4.9.17 minimum. If you try with the latest 4.9.x, do you still have this error?

[2021-09-17 22:37] vincentmli commented on #17431
@pchaigno the reason I run 4.9 is because my PR has error https://jenkins.cilium.io/job/Cilium-PR-K8s-1.21-kernel-4.9/1422/, I assumed Cilium-PR-K8s-1.21-kernel-4.9 uses kernel 4.9, no? that test is using 4.9.17 ?

[2021-09-17 22:59] vincentmli commented on #17431
I will try 4.9.282 that seems to be the most recent 4.9 release

[2021-09-17 23:19] vincentmli commented on #17431
4.9.282 solved the problem, thanks @pchaigno close the issue

[2021-09-17 23:19] #17431 closed

[2021-09-18 07:29] Jean-Daniel opened #17435 "Connectivity issues when using vlan_filtering bridges"
## Bug report

I have a network configuration based on `vlan_filtering` bridge. And I have trouble at least with ICMP requests to other hosts.

I have a bridge netdev with 2 `slave ports`:
- one ethernet device configured as a `trunk` with a single VLAN (21) allowed.
- one veth device configured in  `access mode` (`PVID 21, Egress Untagged`)

The other side of the veth device is the main server in

[2021-09-18 08:33] clcc2019 opened #17436 "command terminated with exit code 28"
![image](https://user-images.githubusercontent.com/46099295/133882482-ef4ba63b-674a-4499-9d2d-1d6d86fee26a.png)

[2021-09-18 09:04] aanm commented on #17436
Hello, thanks for opening the GH issue, please provide steps to reproduce the issue and a cilium sysdump otherwise the issue can't be fixed. Thank you.

[2021-09-18 10:13] pchaigno commented on #17431
Cilium-PR-K8s-1.21-kernel-4.9 runs Linux 4.9.270.

[2021-09-18 12:36] pchaigno commented on #17435
Any chance you could upload a sysdump?

[2021-09-18 13:20] Jean-Daniel commented on #17435
Yes, you can find one [here](https://xenonium.com/files/cilium-sysdump-20210918-151124.zip).

[2021-09-18 13:30] joulaud commented on #17252
Previous case is reproducible 100% on cluster with only partial kube-proxy replacement but seems to be solved on a kube-proxy-less cluster (i.e. problem disappear when I apply https://kops.sigs.k8s.io/networking/cilium/#enabling-bpf-nodeport).
So we are perhaps witnessing a cohabitation problem between kube-proxy and Cilium.

[2021-09-18 18:49] Weil0ng commented on #12511
Was hit by same error in https://github.com/cilium/cilium/pull/17235

https://jenkins.cilium.io/job/Cilium-PR-K8s-1.16-net-next/1470/

[2021-09-18 19:39] Weil0ng commented on #17262
Fixed with above PR merged.

[2021-09-18 19:39] #17262 closed

[2021-09-20 04:55] anfernee commented on #17386
Thanks @brb for the analysis. @MasterZ40 can you take a look at this? We manually verifying this in non-tunnel environment already, and it worked for us. The initial e2e test also works for some time until at some point I rebased on master. We need to figure out what changed and fix the issue.

[2021-09-20 07:41] aanm commented on #17393
@alkarp Would you like to submit a PR with those changes?

[2021-09-20 08:17] maintainer-s-little-helper[bot] opened #17437 "CI: K8sServicesTest Checks service across nodes Tests NodePort BPF Tests with direct routing Tests LoadBalancer Connectivity to endpoint via LB"
### Test Name
[code]

### Failure Output
[code]

### Stacktrace
<details><summary>Click to show.</summary>

[code]
</details>

### Standard Output
<details><summary>Click to show.</summary>

[code]
</details>

### Standard Error
<details><summary>Click to show.</summary>

[code]
</details>

ZIP Links:
<details><summary>Click to show.</summary>

 https://jenkins.cilium.io/job/Cilium-PR-K8s-1.16-net

[2021-09-20 12:42] brb commented on #17386
To our understanding, it was working before https://github.com/cilium/cilium/pull/16328 had been introduced.

@kkourt is currently looking into the issue. Please sync with him if you are going to take a look.

[2021-09-20 13:24] JrCs opened #17440 "loadBalancerSourceRanges allow access to services through nodeports"
## Bug report

**General Information**

- Cilium version 1.10.4
- Kernel version 5.10.61
- Orchestration system version in use k8s 1.20.8

**How to reproduce the issue**

1. Cilium was deployed in kube-proxy free mode (strict)
2. Cilium was deployed with option **svcSourceRangeCheck** set  to **true**
3. Create a service of type LoadBalancer with a CIDR value for spec.**loadBalancerSourceRanges**

[2021-09-20 13:49] gandro commented on #13252
This issue seems still present on master: https://app.travis-ci.com/github/cilium/cilium/jobs/538335647

[2021-09-20 15:21] brb opened #17441 "datapath: Get rid of DIRECT_ROUTING_DEV_IFINDEX, IPV{4,6}_DIRECT_ROUTING"
I'm currently working on relaxing the `bpf_{xdp,skb}_fib_lookup()`, so that it can be used to determine `ifindex` of outgoing device and the src IP addr of it (will add the link to LORE once I've upstreamed it). This will allow us to get rid of the macros in the datapath, and will make multi-homed k8s possible.

[2021-09-21 01:21] Weil0ng opened #17444 "Travis 403 error"
job: https://app.travis-ci.com/github/cilium/cilium/jobs/538524592

[code]

[2021-09-21 08:11] jibi commented on #17437
I managed to run the test locally with:

[code]

Where `${KUBECONFIG}` was obtained from running the following command after `k8s1` was provisioned:

[code]
Also had to add `127.0.0.1 k8s1` to `/etc/hosts`.

[2021-09-21 08:23] noe-charmet opened #17446 "Some network policies cease to apply on some agents"
## Bug report

We are running a managed Cilium on GKE through their Dataplane V2. We have noticed that some agents are not applying all the network policies. For example the default reject policy of the namespace will be applied, but a pod's specific policy would not be applied and all traffic to that pod would be rejected. Once this happens, if we manually force the cilium agent pod to restart on

[2021-09-21 08:33] pchaigno commented on #17446
Did you try contacting GKE support? Are you able to reproduce with vanilla Cilium?

[2021-09-21 08:35] brb commented on #17437
This is the duplicate issue of https://github.com/cilium/cilium/issues/16399.

[2021-09-21 08:35] #17437 closed

[2021-09-21 08:37] brb commented on #16399
@christarazi Did we end up merging any PR which would include more debug info wrt the failure?

[2021-09-21 18:48] christarazi commented on #16399
@brb I opened https://github.com/cilium/cilium/pull/16992 but it was still unsuccessful. I ran the test focused many times and was never able to reproduce (see comments on that PR).  I wonder if this failure only happens when other tests have been run previously.

[2021-09-22 05:53] #16300 closed

[2021-09-22 09:55] mvisonneau commented on #17290
:wave: I am facing a similar issue, running with similar specs (EKS 1.21/Cilium 1.10.3). I cannot seem to see new `ciliumid` resources being created recently. Therefore, network policies seems to work correctly if the endpoints are sharing the same node, otherwise traffic drops.

[2021-09-22 10:04] mvisonneau commented on #17290
I did not investigate it thoroughly but at first sight, whether restarting the Cilium agents or upgrading to `v1.10.4` have sorted the issue on my end. The missing `ciliumid` resources got created eventually.

[2021-09-22 12:21] Anna-Katona opened #17452 "Flows can't be loaded to editor.cilium.io"
## Bug report

Flows provided by `hubble observe` can't be loaded to https://editor.cilium.io, it failed with an error:

[code]

**General Information**

- Cilium version - v1.10.3
- Kernel version - 5.4.0-77-generic
- Orchestration system version in use - 1.19.9

**How to reproduce the issue**

1. Run `hubble observe --output jsonpb --last 1000 --follow --namespace <namespace> > default-flows.jso

[2021-09-22 12:43] krasenn opened #17454 "HostPort reachable from every pods on localhost"
Hi all, here is a strange issue I have observed using a HostPort in Cilium :

### Env
Cilium :
[code]
[code]
Kernel :
[code]
Kubernetes :
[code]
### Issue description/How to reproduce
1. Deploy a Nginx ingress controller using a DaemontSet, using a HostPort. This means that on every nodes of the cluster, the nginx is listening on 0.0.0.0 on both 80 and 443 port (here is the manifest):
[code]
2. De

[2021-09-22 14:56] pchaigno commented on #17401
Also seen on `Suite-k8s-1.16.K8sChaosTest Connectivity demo application Endpoint can still connect while Cilium is not running`, with net-next kernel as well.

[2021-09-23 02:35] zhengzepeng commented on #16583
Define a crd to let us to config rules, like iptables rule, or maybe self define rules (by ebpf). So if istio want to redirect traffic, submit the own crd yaml. I think this is a good choice.

[2021-09-23 06:47] lsoica opened #17456 "Support for multiple host interfaces and traffic segregation"
Hi,

I am trying to setup two k8s clusters attached on two different networks. One for intra-cluster communication and another one for inter-cluster communication and for accessing the pods from the outside world. Each cluster node has one interface attached on each network.

I only have one IP address available per node per network so I assume the only option I have for making services externally

[2021-09-23 07:54] ChangyuWang opened #17457 "tc nat make connection with two pods under the same service using the same port, causing the connection reset by peer"
## Bug report

**General Information**

- Cilium version (run `cilium version`)
Client: 1.9.0 go version go1.15.4 linux/amd64
Daemon: 1.9.0 go version go1.15.4 linux/amd64
- Kernel version (run `uname -a`)
Linux 4.14.105-19-0019  SMP Fri Jan 15 11:39:34 CST 2021 x86_64 x86_64 x86_64 GNU/Linux
- Orchestration system version in use (e.g. `kubectl version`, ...)
Client Version: version.Info{Major:"1"

[2021-09-23 08:10] #17321 closed

[2021-09-23 11:05] abckey opened #17458 "egress-masquerade-interfaces: lo does not work ?"
# Setup description

Our k8s node is having L3 only network architecture. It has 4 nics, eth0/1/2/3, all 4 ports are configured with ipv6 LLA, for unnumbered bgp peering with leaf switches, ECMP configured to load balance the traffic between node and leaf switches.

Node itself has an /32 IP on loopback device `lo`, as node IP. (k8s node InternalIP), advertised by BGP. On eth0, there is an /31 ipv

[2021-09-23 11:38] pchaigno commented on #17458
No, I don't think that is currently supported and it likely ends up masquerading packets leaving `lo` :grimacing:

[2021-09-23 12:40] pchaigno opened #17459 "UDP connections may be incorrectly dropped because of former DNS redirect policy"
If we used to have a policy redirecting traffic to a UDP proxy (typically the DNS proxy), after this policy is removed new connections may still be redirected to the proxy because they match the an old, redirected connection in the conntrack map. As a result packets are dropped by the userspace proxy.

This incorrect redirection to the proxy can happen for up to 6 minutes after the DNS/L7 policy w

[2021-09-23 16:36] joestringer commented on #17459
Minor question, where does the `Every 5 minutes` come from? Conntrack GC is typically dynamic and may take much longer. Is there another mechanism that is ensuring that this will be analyzed within 5 minutes?

If there is a grace period for disabling the proxy, we will still need to ensure that the proxy is correctly implementing the new forwarding policy during that time, for instance if the poli

[2021-09-23 17:23] kailunshi opened #17461 "cilium status showing "direct routing" when configured with tunnel"
## Bug report
**General Information**

- Cilium version: [1.10.4]
- Kernel version: 5.10.35
- Orchestration system version in use: kubernetes v1.21.3

**How to reproduce the issue**

1. in cilium-config configmap, set tunnel: vxlan
2. cilium status --verbos
[cilium-sysdump-20210923-101654.zip](https://github.com/cilium/cilium/files/7219606/cilium-sysdump-20210923-101654.zip)

[2021-09-23 17:38] pchaigno commented on #17459
No, you're correct. I didn't measure this, just checked the code to see what I could expect for a default deployment. So I guess it's more of a: if you want to *maximize* chances of reproducing, you should ensure the two connections are within 6 minutes of each other.

Yep, I'm not sure how feasible this grace period idea is. I'm a bit out of depth here (w.r.t. proxy internals). We should probably

[2021-09-23 17:41] nzhuang123 opened #17462 "Unable to register CRDs"
When deploying cilium on Suse linux 15, got the following error msg, and the cilium daemon pod is crashing:

level=fatal msg="Unable to register CRDs" error="Unable to create custom resource definition: the server could not find the requested resource" subsys=daemon

suse-1:/pkgs/sfnc/vm-files/sfnc-1.0.0/lcm # kubectl get pods -n kube-system
NAME                               READY   STATUS

[2021-09-23 17:42] pchaigno commented on #17461
Kailun is referring to this example output:
[code]
@brb I'm not sure how to best explain why it says `Direct Routing` here even though tunneling is used.

Also, is there a way we could make this less confusing? Maybe by renaming?

[2021-09-23 17:43] pchaigno commented on #17462
What's the state of the cilium-operator pods? Could you join a Cilium sysdump as per the issue template?

[2021-09-23 17:46] nzhuang123 commented on #17462
cilium operator pod seems to be running fine:

cilium-operator-869f7dc84b-sbs9h   1/1     Running             3 (83s ago)   17m

I'm new to cilium, so it could be I'm missing some of the config...  How to join a cilium sysdump?

[2021-09-23 17:52] pchaigno commented on #17462
See the template you deleted: https://github.com/cilium/cilium/blob/master/.github/ISSUE_TEMPLATE/bug_template.md.

[2021-09-23 17:55] pchaigno commented on #17452
/cc @geakstr

[2021-09-23 18:00] nzhuang123 commented on #17462
**cilium version**
Client: 1.8.5  go version go1.13.15 linux/amd64
Daemon: Not responding

**uname -a**
Linux suse-1 5.3.18-57-default #1 SMP Wed Apr 28 10:54:41 UTC 2021 (ba3c2e9/lp-5d9e8aa) x86_64 x86_64 x86_64 GNU/Linux

**kubectl version**
Client Version: version.Info{Major:"1", Minor:"22", GitVersion:"v1.22.2", GitCommit:"8b5a19147530eaac9476b0ab82980b4088bbc1b2", GitTreeState:"clean", BuildD

[2021-09-23 18:10] pchaigno commented on #17462
Your cilium-operator pod is failing with:
[code]
Are you sure it's able to connect to kube-apiserver?

[2021-09-23 18:13] nzhuang123 commented on #17462
From the log, looks like it's connected to the apiserver.... are there any other command to test this connection?

level=info msg="Initializing daemon" subsys=daemon
**level=info msg="Establishing connection to apiserver" host="https://172.18.1.1:443" subsys=k8s
level=info msg="Connected to apiserver" subsys=k8s**
level=info msg="Inheriting MTU from external network interface" device=eth0 ipAddr=1

[2021-09-23 18:39] abckey opened #17463 "bpf-masquerade issue for k8s node with node-ip on lo loopback interface"
# Setup description

Our k8s node is having L3 only network architecture. It has 4 nics, eth0/1/2/3, all 4 ports are configured with ipv6 LLA, for unnumbered bgp peering with leaf switches, ECMP configured to load balance the traffic between node and leaf switches.

Node itself has an ipv4 /32 IP on loopback device `lo`, as node IP. (k8s node InternalIP), advertised by BGP. On eth0, there is an ip

[2021-09-23 19:08] vincentmli commented on #17462
@nzhuang123 I may have seen this error before but my memory not be right, it could be you have an old userland iptable installations that not working properly with kernel version for your distribution or the other way around, maybe something related to nftables

[2021-09-23 19:59] nzhuang123 commented on #17462
Thanks for the reply. Any suggestion how to fix/work around this issue?

[2021-09-23 20:06] vincentmli commented on #17462
for me I was running centos 8 with custom built old kernel 5.0 if I recall correct, after I ran a newer kernel on centos 8, the problem went away, sorry i don't remember the detail and has not dug deep into it. you may check with suse community/vendor on how to workaround this

[2021-09-23 20:48] vincentmli commented on #17462
here is mine which is not exact same like   your error on centos 8 with 5.0 kernel, the log coming from cilium agent, not cilium operator, and no problem if I ran kernel 5.2 with centos 8

[code]

[2021-09-23 20:53] vincentmli commented on #17462
I wonder if you turn on cilium agent debug log, if the cilium agent log would log similar error like mine, since my cilium agent has debug turned on. see https://docs.cilium.io/en/stable/cmdref/cilium-agent/ argument to turn on debug, it can be set in manifest or helm.

[2021-09-23 21:19] nzhuang123 commented on #17462
For me the issue is CRD cannot be found, and the cilium pod is crashing..

level=info msg="     _ _ _" subsys=daemon
level=info msg=" ___|_| |_|_ _ _____" subsys=daemon
level=info msg="|  _| | | | | |     |" subsys=daemon
level=info msg="|___|_|_|_|___|_|_|_|" subsys=daemon
level=info msg="Cilium 1.8.4 17d623853 2020-09-30T17:31:44-07:00 go version go1.14.9 linux/amd64" subsys=daemon
level=info ms

[2021-09-23 21:21] vincentmli commented on #17462
my cilium agent pod is crashing too, your log has no debug enabled, try to enable debug, you should see more debug log

[2021-09-23 21:29] pchaigno commented on #17462
@nzhuang123 That's the agent logs, not the cilium-operator logs.

@vincentmli I don't think it's the same issue. The iptables error in the present case seems likely to be a red herring whereas you had other, fairly different log lines in your case.

[2021-09-23 21:32] vincentmli commented on #17462
@pchaigno right, i am hoping @nzhuang123 could provide debug log, that may show more clue :)

[2021-09-23 21:35] nzhuang123 commented on #17462
Could you tell me what log flag to enable?

[2021-09-23 21:38] nzhuang123 commented on #17462
Also, in the operator log, I could see it's trying the list resource from v1beta1, but shouldn't it be v1 instead?

level=error msg=k8sError error="k8s.io/client-go/tools/watch/informerwatcher.go:146: Failed to list *v1beta1.CustomResourceDefinition: the server could not find the requested resource" subsys=k8s

[2021-09-23 21:40] nzhuang123 commented on #17462
The following command also gives error:

kubectl get ciliumid
error: the server doesn't have a resource type "ciliumid"

[2021-09-23 21:41] vincentmli commented on #17462
change configmap cilium-config and set  `debug: "true"`
`kubectl edit configmap cilium-config -n kube-system ; kubectl delete pod -l k8s-app=cilium -A; `
you may also consider deploy most recent cilium version,

[code]

[2021-09-23 21:48] nzhuang123 commented on #17462
level=info msg="Cilium 1.8.4 17d623853 2020-09-30T17:31:44-07:00 go version go1.14.9 linux/amd64" subsys=daemon
level=info msg="cilium-envoy  version: 1177896bebde79915fe5f9092409bf0254084b4e/1.14.5/Modified/RELEASE/BoringSSL" subsys=daemon
level=info msg="clang (10.0.0) and kernel (5.3.18) versions: OK!" subsys=linux-datapath
level=info msg="linking environment: OK!" subsys=linux-datapath
level=i

[2021-09-23 21:51] pchaigno commented on #17462
Vincent is correct, Cilium v1.8.4 is very old. Please try with the latest v1.8.x at the very least.

[2021-09-23 21:58] nzhuang123 commented on #17462
Running v1.10.4, and I'm getting this error:

level=info msg="Cilium Operator 1.10.4 2a46fd6 2021-09-01T12:58:41-07:00 go version go1.16.7 linux/amd64" subsys=cilium-operator-generic
level=info msg="Starting apiserver on address 127.0.0.1:9234" subsys=cilium-operator-api
level=info msg="Establishing connection to apiserver" host="https://172.18.1.1:443" subsys=k8s
level=info msg="Connected to apis

[2021-09-23 22:04] nzhuang123 commented on #17462
By giving the create permission to the Operator pods, and with v1.10.4, it works! Thanks a lot!

[2021-09-23 22:13] nzhuang123 commented on #17462
Just wondering why do we need the crd create permission for v1.10.4?  I'm using the same cilium.yaml on another ubuntu vm, and it works with just the get/list/watch permission

[2021-09-23 23:23] vincentmli commented on #17462
maybe different kubernetes version?

[2021-09-24 10:03] brb commented on #16583
@zhengzepeng Could you elaborate more on this? We don't have control over rules Istio installs.

[2021-09-24 10:03] pchaigno commented on #17462
I don't think that's new in v1.10. You need CRD Create permission to create Cilium's CRD.

That's surprising. Maybe the CRDs were already installed?

Closing the issue as this appears to be solved.

[2021-09-24 10:03] #17462 closed

[2021-09-24 10:44] jibi commented on #16399
Same here, I managed to run it locally (see https://github.com/cilium/cilium/issues/17437) but I couldn't reproduce the failure after many runs :confused:

[2021-09-24 12:23] jibi commented on #16399
I checked on the latest sysdump (which includes https://github.com/cilium/cilium/pull/17017) and it looks like the service's been upserted before the requests failed:

[code]

[code]

[2021-09-24 14:07] brb commented on #17457
@ChangyuWang Can you please upload the sysdump?

[2021-09-24 16:42] pchaigno commented on #17307
This issue happened again at https://jenkins.cilium.io/job/Cilium-PR-K8s-GKE/6451/testReport/junit/Suite-k8s-1/19/K8sBookInfoDemoTest_Bookinfo_Demo_Tests_bookinfo_demo/.

Seems like it may be specific to GKE.

[2021-09-24 16:51] pchaigno commented on #15724
Also happened in https://jenkins.cilium.io/job/Cilium-PR-K8s-1.21-kernel-4.9/1435/testReport/junit/Suite-k8s-1/21/K8sPolicyTest_Basic_Test_checks_policies_with_named_ports/.
[code]

Interestingly, that occurrence didn't even have the timing output from curl. But we can validate that we hit the timeout by checking timestamps for commands in `test-output.log`.

[2021-09-24 17:00] pchaigno opened #17466 "CI: K8sPolicyTest Basic Test Denies traffic with k8s default-deny ingress-egress policy"
Happened once but for a totally unrelated PR (skipping a test): https://jenkins.cilium.io/job/Cilium-PR-K8s-1.21-kernel-4.9/1435/testReport/junit/Suite-k8s-1/21/K8sPolicyTest_Basic_Test_Denies_traffic_with_k8s_default_deny_ingress_egress_policy/
[54df0431_K8sPolicyTest_Basic_Test_Denies_traffic_with_k8s_default-deny_ingress-egress_policy.zip](https://github.com/cilium/cilium/files/7227376/54df0431

[2021-09-24 17:02] joestringer opened #17467 "Cilium fails to launch on ARM64: Binary cilium-envoy cannot be executed"
A user on Slack reports:

Upon further investigation by attempting to run the binary directly, they saw:

[code]

Upstream tcmalloc has a related issue, https://github.com/google/tcmalloc/issues/33 .

The user reports that adjusting tcmalloc configuration, the problem goes away:

[2021-09-24 17:02] #17467 closed

[2021-09-24 17:31] christarazi opened #17468 "Include `tc filter ...` output in bugtool"
We currently don't show any `tc filter ...` output which could be useful.

cc @joestringer to add additional context when we were digging into a sysdump where this information would have been useful.

[2021-09-24 17:35] christarazi commented on #16399
@jibi Yep, that was my experience as well. Userspace says the map has been updated before the request, but that doesn't mean that the entry actually made it into the map itself. Meaning `BPF_MAP_UPDATE_ELEM` may have taken longer than we expect. We currently don't have an answer for that question.

[2021-09-24 17:50] jibi commented on #16399
I'm confused :confused:  since we now log `Upserted service entry` after the `bpf()` syscall, does it mean that the syscall can return successfully even if the map has not been updated?

[2021-09-24 18:00] christarazi commented on #16399
Oops, I did forgot that https://github.com/cilium/cilium/pull/17017 moved it to after the syscall. I'm probably confusing an earlier theory related to this issue.

In any case, it's still a mystery unfortunately.

[2021-09-24 18:06] brb commented on #16399
I think it makes sense to break `DROP_NO_SERVICE` into more drop types (e.g., `DROP_NO_BACKEND`). Currently, it's not possible to distinguish which drop in the LB path has happened.

[2021-09-24 18:12] joestringer commented on #17468
FWIW I think that technically `bpftool net show` provides the same information from a pure BPF perspective, and is a bit more human-readable.

`tc filter show ...` is more specific to tc though and could possibly provide details that `bpftool net show` doesn't.

[2021-09-24 18:14] jibi commented on #16399
Isn't that already in the hubble flow logs?
[code]

[2021-09-24 18:17] brb commented on #16399
Noup:
[code]

[2021-09-24 18:19] joestringer commented on #17436
Can you also try with the latest Cilium CLI v0.9.1 or later? There was one known bug that can trigger problems with this particular test. More broadly though this test relies on connectivity from this cluster to the outside world, so if there is any potential for problems with that connectivity then that could be the root cause of this behaviour you observe.

[2021-09-24 18:48] joestringer opened #17471 "Cilium preflight validation is misleading"
This line suggests that everything is OK and no user action is required:
https://github.com/cilium/cilium/blob/f3887bd83f6f7495f5d487fe1002896488b9495f/cilium/cmd/preflight_k8s_valid_cnp.go#L93

However, if for instance you reference one of the checks that we have in this preflight check:

https://github.com/cilium/cilium/pull/12890

![image](https://user-images.githubusercontent.com/21292343/9075

[2021-09-24 18:58] pchaigno commented on #17468
Agree with Joe here. Is there any specific information we are missing today?

[2021-09-24 20:22] joestringer commented on #17468
Looks like there's some tags, filter preference/chain values, plausibly any non-bpf filters (though these are highly unlikely in any default Cilium install).

[code]

[2021-09-24 21:20] pchaigno commented on #17468
Hm, it may actually make sense if we ever run into a conflict in the tc configuration with some other software.

[2021-09-26 06:25] zhengzepeng commented on #16583
istio auto inject a init container and a proxy container into a pod(by webhook). Init container will apply iptables rule, so all traffic will redirect to proxy container. Proxy container receive trafiics and do something like lb and so on...

what init container do like that:
[code]
the init container like that
[code]

So if cilium support some crd to let us to config some rules like iptable rules

[2021-09-26 09:28] kylin-D-ZZ opened #17472 "Failed to replace Qdisc for XXXXXXX"
## Bug report

hi,I am chaining cilium with kube-ovn cni，whose interface is veth-pair . Don't know why can't regenerate endpoint,

[code]

**General Information**
[code]
Generate and upload a system zip
[code]
[cilium-sysdump-out.zip](https://github.com/cilium/cilium/files/7231090/cilium-sysdump-out.zip)

[2021-09-26 16:12] pchaigno commented on #17472
Does your kernel have all [the required configs](https://docs.cilium.io/en/stable/operations/system_requirements/#linux-kernel)?

[2021-09-27 02:55] kylin-D-ZZ commented on #17472
yes，there has been no problem before,but after the upgrade kube-ovn cni ,this error occurred.
And kube-ovn cni  no setting Qdisc.

[2021-09-27 06:26] ysksuzuki opened #17474 "Cilium drops packets destined to ClusterIP from Pods with hostServices.enabled=false and loadBalancer.algorithm=maglev"
## Bug report

Cilium drops packets to ClusterIP services from Pods when Cilium is setup with kubeProxyReplacement=partial mode, hostServices.enabled=false and loadBalancer.algorithm=maglev.

Cilium tries to select a backend id using Maglev hash but there's no hash table for ClusterIP services, and then it drops the packet.
https://github.com/cilium/cilium/blob/f3887bd83f6f7495f5d487fe1002896488b9

[2021-09-27 07:34] ysksuzuki opened #17475 "Add global scope ip addresses attached to dummy or lo interface to local host entries"
## Proposal

**Is your feature request related to a problem?**

In our environment, nodes have two interfaces(eth0, eth1) that connect to ToR switches and we attach a global scope address to a dummy interface(node0). Bird running on each node advertises the global scope address to ToRs.
Cilium excludes IP addresses attached to dummy or lo interfaces because those statuses are not UP.  So Cilium ne

[2021-09-27 08:32] brb commented on #17475
@ysksuzuki Thanks for the issue. This should resolve it: https://github.com/cilium/cilium/pull/17418 (/cc @jibi).

[2021-09-27 08:37] pchaigno commented on #17472
Could you share which version of kube-ovn worked and which doesn't?

[2021-09-27 08:42] brb commented on #17474
@ysksuzuki Thanks for the reporting. Indeed, it seems to be a bug: bpf_lxc is compiled with `LB_SELECTION == LB_SELECTION_MAGLEV`, and we don't provision the Maglev table for ClusterIP services, thus the failure (/cc @borkmann).

[2021-09-27 09:27] brb commented on #17461
@pchaigno From a quick grepping it seems that the `Direct Routing` iface (`DIRECT_ROUTING_DEV_IFINDEX`) is no longer used for KPR only. The other user is the fast redirect. Another thing, is that the DR iface should not be used in the tunneling mode. Considering both, it makes sense to move the DR field from the KPR to a dedicated field which would be used to show the datapath mode (tunnel; what k

[2021-09-27 09:50] brb commented on #17457
@ChangyuWang Also, please do the sysdump immediately after hitting the issue.

[2021-09-27 10:15] ysksuzuki commented on #17475
@brb Right, #17418 should fix this. I will close this issue. Thank you for your reply.

[2021-09-27 10:15] #17475 closed

[2021-09-27 12:18] brb opened #17480 "datapath: Do not require direct routing device in tunneling mode"
Currently, we require the direct routing device (KPR) regardless of in tunneling mode. The device is used to forward some traffic (e.g., NodePort BPF request from intermediate node to a node which runs a selected service endpoint) among k8s nodes. The current users of it - KPR and the fast redirect.

From the quick code inspection it seems that the device is needed only when tunneling mode is disa

[2021-09-27 12:19] brb commented on #17461
Created https://github.com/cilium/cilium/issues/17480 to properly fix it.

[2021-09-27 23:58] christarazi commented on #16816
@arpit1912 Have you been able to make progress on this issue? If you are not actively working on it, please unassign yourself.

[2021-09-28 00:00] christarazi commented on #16798
@vishjain  Have you been able to make progress on this issue? If you are not actively working on it, please unassign yourself. Otherwise, please reach out to the #development channel on Cilium slack for help.

[2021-09-28 00:05] vishjain commented on #16798
/unassign

[2021-09-28 00:32] kylin-D-ZZ commented on #17472
kube-ovn v1.7.2 is no  problem，since v1.8.0.

[2021-09-28 05:45] ftiannew commented on #17472
@pchaigno ，please hold it for the moment，we will check it ourself ，in case that waste your time,thanks.

[2021-09-28 07:43] kylin-D-ZZ commented on #17472
@pchaigno  thanks，this is ours problem ,because ovs set a rule`qdisc ingress ffff: dev b16cb8d4de39_h parent ffff:fff1 ----------------`，make cilium not execute ` tc qdisc replace dev b16cb8d4de39_hclsact `

[2021-09-28 08:02] #16121 closed

[2021-09-28 08:31] pchaigno commented on #17472
Ah, good to know. Does that mean this issue can be closed?

[2021-09-28 09:55] brb commented on #11914
Considering that  #15354 has been reverted (cc @krishgobinath), reopening the issue.

[2021-09-28 11:08] #17472 closed

[2021-09-28 13:35] brb commented on #16539
@Frankkkkk Sounds reasonable what you proposed. Would you mind opening PR for this?

[2021-09-28 13:46] brb opened #17483 "datapath: Upgrade CT map"
This is a placeholder issue for changing the `ct_entry` size to address the following issues:

- Storing Egress GW IP addr (/cc @jibi)
- Getting rid of the SNAT BPF map
- Fixing https://github.com/cilium/cilium/issues/16260

The issue is going to be updated once we have done the v1.12 planning.

[2021-09-28 13:51] brb opened #17484 "datapath: Rename KPR and friends"
Placeholder issue for renaming KPR.

- [x] "Host-reachable services" to "Socket LB" #20369
- [ ] TBD

[2021-09-28 13:53] brb opened #17485 "lb-only: Document standalone L4LB"

[2021-09-28 13:56] brb commented on #15995
@weirdwiz Are you still on it?

[2021-09-28 13:59] brb commented on #15956
@errordeveloper Do you want to get this into v1.11? If not, then please remove the v1.11 related labels which I've added.

[2021-09-28 14:02] pchaigno commented on #17461
@kailunshi Does this answer your question? Should we close this issue now?

[2021-09-28 14:03] errordeveloper commented on #15956
@brb I very much would like to get this into 1.11, both PRs are just blocked by CI flakes...

[2021-09-28 14:08] brb commented on #15403
@pchaigno Is it something we can get in v1.11?

[2021-09-28 14:08] brb commented on #15200
@kovalyukm Any update?

[2021-09-28 14:39] pchaigno opened #17486 "Complexity issue on 5.4 with IPv6-only, DSR, and bpf_lxc LB"
Having both DSR and bpf_lxc LB isn't possible right now, but will be as soon as https://github.com/cilium/cilium/pull/17154 is merged. K8sVerfiier has been testing that configuration since v1.10 in anticipation for that PR. It however only covers the case when both IPv4 and IPv6 are enabled.

https://github.com/cilium/cilium/pull/17470 extends K8sVerifier to also test IPv4-only and IPv6-only. In t

[2021-09-28 15:54] pchaigno opened #17490 "Program size issue on 4.19 with IPv4-only and all advanced features"
https://github.com/cilium/cilium/pull/17470 extends K8sVerifier to also test IPv4-only and IPv6-only. In the process, a new program size issue was found for 4.19 and IPv4-only.

Reproduction steps:
[code]

A quick fix for this would be to compile [the IPvX-specific tail calls](https://github.com/cilium/cilium/blob/9e2d2173b715849aac0d6f810f3c46fb7c95ec28/bpf/bpf_lxc.c#L978-L992) even when only one

[2021-09-28 16:28] pchaigno opened #17491 "Complexity issue on 4.19 with IPv4-only and DSR"
#17470 extends K8sVerifier to also test IPv4-only and IPv6-only. In the process, a new complexity issue was found for 4.19 and IPv4-only.

Reproduction steps:
[code]

A quick fix for this would be to compile [the IPvX-specific tail calls](https://github.com/cilium/cilium/blob/9e2d2173b715849aac0d6f810f3c46fb7c95ec28/bpf/bpf_lxc.c#L978-L992) even when only one of IPv4/IPv6 is enabled.

[2021-09-28 17:16] ldelossa commented on #16860
@christarazi I believe we came to an agreement on this ticket. We came to the decision that new code with use the std-library testing package with go-cmp in addition when comparison is necessary.

We won't be "re-writing" any tests which exist today to conform to this, and this decision is for subsequent new code.

Should this ticket remain open?

[2021-09-28 18:30] brb commented on #16399
[code]
You are running request from k8s1, so the request is handled by socket-lb.

[code]
Are you saying that once you hit it and hold the environment, it's always failing?

[2021-09-28 19:45] christarazi commented on #16860
I think it makes sense to keep open for visibility.

[2021-09-28 20:47] joestringer commented on #16938
Root cause of this was https://github.com/cilium/cilium/issues/17459, which is currently mitigated by https://github.com/cilium/cilium-cli/pull/558. If you see this again, please check whether you are seeing it in the initial test runs or whether you are seeing it after the workflow redeploys Cilium with encryption. It's possible that some state is still leaking over from initial runs into encrypt

[2021-09-28 20:48] joestringer commented on #16938
Actually speaking of this, I have observed this in encryption runs again, looking at the flows from this workflow it is all UDP port 53 going back and forth + a timeout at application layer. So DNS resolution is not working after the Cilium redeploy for encryption:

https://github.com/cilium/cilium/runs/3727095656?check_suite_focus=true

[2021-09-28 20:51] pchaigno commented on #16938
I think the present issue is a different flake. I'm not seeing the `to-proxy` traces characteristic of https://github.com/cilium/cilium/issues/17459.

[2021-09-28 20:57] joestringer commented on #16938
@pchaigno Where are you expecting to see `to-proxy` traces? Do those show up in Hubble observe logs?

[2021-09-28 20:59] pchaigno commented on #16938
Yes, they do, usually as one of the last traces. See https://github.com/cilium/cilium-cli/issues/367#issuecomment-920218323.

[2021-09-28 21:03] joestringer commented on #16938
OK, I was under the impression that these were the same issues. My latest report definitely matches the issue description here where there's lots of DNS traffic going back and forth but the app is never able to figure out the IP to initiate the connection to the remote server. More digging required.

[2021-09-29 06:42] weirdwiz commented on #15995
@brb I apologise for the delay,  I missed the review comment notification and it escaped my mind. I think there are small changes required, which can be done quickly.

[2021-09-29 08:03] Frankkkkk commented on #16539
Hi Martynas,

Thanks for your reply.
I'm actually on holidays, but I'll happily submit a PR next week or the one after :-)

Cheers !

On September 28, 2021 3:35:31 PM GMT+02:00, Martynas Pumputis ***@***.***> wrote:
***@***.*** Sounds reasonable what you proposed. Would you mind opening PR for this?

[2021-09-29 09:52] #14598 closed

[2021-09-29 15:08] jibi commented on #16399
I tried both nodes, and curl was working fine from both of them

No, what I'm observing is that once the test fails, I can rerun it and it'll keep failing (but when I run curl from the VMs the connections will succeed)

[2021-09-29 15:21] aditighag commented on #16399
You'll need to do the curl from "outside" so that (N-S) nodeport code is exercised. Is there a node not running cilium?

[2021-09-29 15:26] jibi commented on #16399
Makes sense, I'll give it a try from the external node then :+1:

[2021-09-29 17:54] brb commented on #16399
Yeah, that's what I meant with:

[2021-09-29 19:05] brb opened #17499 "datapath: define helper macros for bpf_sock to stress test complexity"
bpf_sock depends on some BPF helpers which are guarded with ifdefs for a fallback on older kernels. To find out and to test the max complexity of the program we need to define helper macros (e.g., `BPF_HAVE_NETNS_COOKIE`).

[2021-09-29 20:32] joulaud commented on #17252
In what seems a related problem Jude Zu on slack [said](https://cilium.slack.com/archives/C53TG4J4R/p1632778021068100?thread_ts=1631755852.194500&cid=C53TG4J4R)

[2021-09-29 20:33] mkjpryor opened #17500 "Cilium does not pick up changed node IPs"
## Bug report

(It may be that this is considered a feature, so feel free to change the label)

**General Information**

- Cilium version: 1.10.4
- Kernel version: 5.4.0-84-generic
- Orchestration system version in use: Kubernetes 1.21.5

**How to reproduce the issue**

`CiliumNode` resources are created with the `internalIP`s of the Kubernetes node resource at the time that Cilium starts. If the

[2021-09-29 21:04] bradwhitfield commented on #16628
Sorry for the delay. The last few weeks have been crazy.

I've updated the PR, so if the status checks all pass, I'll remove the draft status from it and this will be ready.

[2021-09-29 21:38] aanm commented on #17500
@mkjpryor this was about to be fixed by https://github.com/cilium/cilium/pull/15436 but the PR got stale and it didn't get merged. If you would like, try to pick it up and push a PR with the changes and the requested changes in that PR.

[2021-09-29 22:39] #15403 closed

[2021-09-30 03:11] mxdblcf opened #17503 "install cilium error"
My machine only support Generic XDP,

Can I install cilium for study ？

[2021-09-30 06:24] egsysoev opened #17505 "Node is unreachable after cilium agent restart with enabled host-firewall"
## Bug report

We run cilium with kube-proxy replacement mode and with enabled host firewall. We deployed cluster-wide network policy which allows only SSH access for one node. We then restart cilium agent on that node and the node become unreachable over ssh. It is also got NotReady status in kubernetes. The only way to make it work is reboot.

**General Information**

- Cilium version: 1.10.4
-

[2021-09-30 08:07] pchaigno commented on #17505
I think you need to allow more ports, for kubelet, health checks, and maybe etcd. I highly recommend to follow [the getting started guide for the host firewall](https://docs.cilium.io/en/stable/gettingstarted/host-firewall/#host-firewall) and enable audit mode first.

[2021-09-30 08:08] pchaigno commented on #17503
Depends what you want to study. If you plan to run any performance benchmark, then no, Generic XDP is really not the same as Native XDP.

[2021-09-30 09:05] borkmann commented on #17454
Hello, did moving to 5.7+ kernel resolve it by any chance?

[2021-09-30 10:08] borkmann commented on #14927
Closing as this should be resolved already.

[2021-09-30 10:08] #14927 closed

[2021-09-30 10:11] ankit-ls commented on #15682
@christarazi Looks like we have fallen in the same trap. During the creation of a pod, we received this error in pod events:

[code]

We are using Cilium as a CNI on our EKS cluster.
EKS version: `1.20`
Cilium version: `1.10.4`

So looks like this is not yet fixed.

[2021-09-30 10:11] mkjpryor commented on #17500
@aanm

I'm not really sure I understand the issue with that PR? I have asked a couple of questions on the PR that I would be grateful if you could clarify?

It seems to me like there are two orthogonal problems:

  1. Calling the code to update the corresponding `CiliumNode` when the addresses of the Kubernetes node change.
  2. Making the updates to the `CiliumNode` reliable by refactoring `Updat

[2021-09-30 10:44] leonliao opened #17506 "[Minor] datapath log format improvement"
## Bug report

**General Information**

- Cilium version: v1.10.4
- Kernel version: Linux k8s002 4.18.0-305.12.1.el8_4.x86_64 #1 SMP Wed Aug 11 01:59:55 UTC 2021 x86_64 x86_64 x86_64 GNU/Linux
- Orchestration system version in use: Kubernetes v1.22.2

**How to reproduce the issue**

1. cilium monitor -vv with settings of cilium agent:
[code]
2. The traffic log shows
`CPU 01: MARK 0x0 FROM 3103 to-

[2021-09-30 11:05] pchaigno commented on #17506
The problematic code is located here: https://github.com/cilium/cilium/blob/a8e3fa283cf40b330035265bf83d63800b296bcf/pkg/monitor/datapath_drop.go#L63 and here: https://github.com/cilium/cilium/blob/cebd290c39dbb2f3214ac670a3b40ed77b79024f/pkg/monitor/datapath_trace.go#L219

Could you send a fix?

[2021-09-30 11:19] borkmann commented on #14512
we should be able to close this one since dsr doesn't add to nat map anymore.

[2021-09-30 11:43] jibi commented on #16399
Reproduced again. I'm connecting to this nodeport service from k8s3 (so from the outside):
[code]

and the connection only succeeds if the backend that gets selected is on the same node I am connecting to (i.e. k8s1):

[code]

[code]

[code]

while if I end up with the backend on k8s2, I don't even get a syn+ack:

[code]

[code]

[code]

[2021-09-30 11:47] borkmann commented on #12018
1.7 not supported anymore, closing.

[2021-09-30 11:47] #12018 closed

[2021-09-30 11:55] borkmann commented on #10462
Should have been fixed via https://github.com/cilium/cilium/pull/14201, closing.

[2021-09-30 11:55] #10462 closed

[2021-09-30 11:55] aanm commented on #17500
@mkjpryor some of the concerns in that PR might no longer be valid as some improvements were already made in the code base.

[2021-09-30 12:41] mkjpryor commented on #17500
@aanm

It seems like [UpdateCiliumNodeResource still uses the retry logic](https://github.com/cilium/cilium/blob/master/pkg/nodediscovery/nodediscovery.go#L280). It also will still make an unnecessary GET request in the case it is triggered by a node event.

It would be nice to refactor **all** resources updates so that there is an "update queue" they are added to where they get popped and attempt

[2021-09-30 12:42] mkjpryor commented on #17500
If there is a way to only trigger `UpdateCiliumNodeResource` when the node IP addresses change, and not the labels, that might be good though.

[2021-09-30 12:46] mkjpryor commented on #17500
Although having said that, it seems like the node labels are copied from the node to the `CiliumNode` (https://github.com/cilium/cilium/blob/1c42ae97fca01bea9af3126400b24d5f29125e16/pkg/nodediscovery/nodediscovery.go#L393). So maybe it should be run when the node labels are updated.

[2021-09-30 12:58] mkjpryor commented on #17500
I see. That doesn't avoid the retry logic for updates though right? It just avoid the additional API request to get the latest state of the resource.

[2021-09-30 13:03] brb commented on #16399
@jibi Nice! Could you check what happens with the request from the cilium monitor POV on k8s1 node?

[2021-09-30 13:06] borkmann commented on #14512
(we might still do on the backend nodes)

[2021-09-30 14:05] jibi commented on #16399
After disabling aggregation I can see the SYN packets on the monitor:

[code]

[2021-09-30 14:32] brb commented on #16399
Can you run in the debug-verbose=datapath mode? And then `cilium monitor -D -vv`?

[2021-09-30 15:18] jibi commented on #16399
I managed to capture this:

[code]

[2021-09-30 15:37] jibi commented on #16399
I don't see any drop or any of the debug printk I added in the datapath :thinking:

At this point I'm thinking we may be looking at a different failure even though the `K8sServicesTest Checks service across nodes Tests NodePort BPF Tests L2-less with Wireguard provisioned via kube-wireguarder ` test is failing the same way as the `K8sServicesTest Checks service across nodes Tests NodePort BPF Test

[2021-09-30 18:40] christarazi commented on #15682
@ankit-ls Please open another issue with a sysdump attached and reference this issue.

[2021-10-01 00:42] joestringer commented on #16938
Louis and I dug into this today. The recent reports including the one from Chris above are triggered on EKS after we redeploy Cilium with ipsec enabled. The pattern appears to be that we deploy Cilium with ipsec, run a few tests which are initially successful (for pod->nodeport and pod->pod traffic), then we hit a problem with pod->service traffic.  The symptoms appear to be that we see DNS packet

[2021-10-01 05:29] ankit-ls commented on #15682
@christarazi Thanks for the prompt response. :)

The node(s) which experienced this issue got restarted. I will raise another issue with the dump when I face this again.

[2021-10-01 06:53] christarazi commented on #17282
Hit again in https://github.com/cilium/cilium/pull/17493

[2021-10-01 14:23] weizhouBlue opened #17515 "failed to load bpf_sockops.o"
cilium version: v1.10.4
kernel version:  centos8 with  kernel v5.14.8
k8s : v1.22.1
bare matal machine

After installing  cilium , I found the error message in the cilium pod of each node
[code]

I think it is related to the helm option  --set sockops.enabled=true

I refer to https://github.com/cilium/cilium/issues/7052 ,  but all ebpf-related CONFIG including CONFIG_BPF_STREAM_PARSER  were compil

[2021-10-01 14:34] pchaigno commented on #17515
Could you attach a sysdump?

[2021-10-01 15:07] #15960 closed

[2021-10-01 15:44] ldelossa commented on #16938
:+1: Current plan is to deploy an EKS cluster where we we drop the ephermeral port range lower to see if we reproduce the issue.

Curiously, if this is the issue (not convinced as of right now) flipping the tests and running IPsec first would prove whether this is IPSec related or not as the port exhaustion should occur regardless. I think I'd like to run with both approaches along with a simple "

[2021-10-01 19:51] skmatti commented on #17446
@noe-charmet Is it happened to be statefulset pods that run into the issue?.

It could be related to https://github.com/cilium/cilium/issues/17047.

[2021-10-01 20:46] pchaigno commented on #16938
Did we confirm the DNS resolution was successful? The DNS packets flowing back and forth may well just be NXDOMAINs. That would explain the lack of subsequent TCP connection and seems more likely than a port exhaustion (which'd require 28k connections from that same pod).

[2021-10-02 02:46] #16531 closed

[2021-10-02 02:48] #16517 closed

[2021-10-02 02:49] #17095 closed

[2021-10-02 03:46] weizhouBlue commented on #17515
@pchaigno  I will get it after 7th October . Before that,  I just have the  ability of copying information from the console

[2021-10-03 12:03] noe-charmet commented on #17446
Thank you for your replies. We finally got a reply from GKE support that confirmed that they have an issue with endpoints not being properly updated when preemptible nodes get preempted. This is fixed in **1.20.9-gke.2100**

[2021-10-03 12:03] #17446 closed

[2021-10-04 05:25] christarazi opened #17519 "Investigate inconsistent max ENI IPAM full errors"
While testing https://github.com/cilium/cilium/pull/17492, I noticed that when deploying as many pods as possible that are allowed by the instance type (https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/using-eni.html), I was seeing an inconsistent IPAM full error returned by Cilium. Sometimes after deploying, e.g. 20 pods, sometimes after 18 pods. The main symptom was pods stuck in ContainerCre

[2021-10-04 07:23] maintainer-s-little-helper[bot] opened #17521 "CI: K8sPolicyTest Basic Test Validate to-entities policies Validate toEntities All"
### Test Name
[code]

### Failure Output
[code]

### Stacktrace
<details><summary>Click to show.</summary>

[code]
</details>

### Standard Output
<details><summary>Click to show.</summary>

[code]
</details>

### Standard Error
<details><summary>Click to show.</summary>

[code]
</details>

ZIP Links:
<details><summary>Click to show.</summary>

 https://jenkins.cilium.io/job/Cilium-PR-K8s-1.16-net

[2021-10-04 07:24] borkmann commented on #17521
From agent log `Link not found`:
[code]

[2021-10-04 09:50] brb commented on #17252
@joulaud Does this trigger service endpoint removal from the BPF map? Could you check `cilium bpf lb list`?

[2021-10-04 10:05] brb commented on #16583
Closing the issue, as the workaround has been merged - https://github.com/cilium/cilium/pull/17154. If we consider in the future to make it more advanced (e.g. to override the SO_ORIGINAL_DST), we can always reopen this issue.

[2021-10-04 10:05] #16583 closed

[2021-10-04 10:06] brb commented on #16583
@zhengzepeng  Thanks for the explanation.

That would require some changes to the Envoy dataplane which we don't control.

[2021-10-04 16:38] vincentmli opened #17528 "Egress UDP VXLAN packet dropped by kernel/netfilter ?"
## Bug report

While testing PR https://github.com/cilium/cilium/pull/17370#issuecomment-932836032, after ping test working for couple of minutes,  then the ping stops working, I noticed the egress UDP VXLAN packet with dst port 8472 got dropped because tcpdump on the k8s node interface shows no packet with destination port 8472 to remote external VXLAN device, used iptables trace to trace the VXL

[2021-10-04 16:51] vincentmli commented on #17528
while testing kernel 5.10 now, I noticed the iptables trace is also missing `nat`, but the ping still works
[code]
busybox ping, ignore the huge time numbers, it is likely the scapy VXLAN responder script not setting time correct, pinging a real Linux vxlan tunnel device having same ping testing failure
[code]

[2021-10-04 17:43] vincentmli commented on #17528
from https://upload.wikimedia.org/wikipedia/commons/3/37/Netfilter-packet-flow.svg
 netfilter output path  traffic flow `mangle postrouting->nat postrouting->egress qdisc->interface output`

the failed test hit `mangle postrouting`, missing `nat postrouting`, my understanding is the packet is unlikely dropped by `egress qdisc` because `to-netdev` is not  attached to the  device because I don't hav

[2021-10-04 20:27] Weil0ng commented on #17047
Hi @christarazi @aanm, coming back to this, so IIRC, the root cause for this is:

- old pod deleted
- old CEP becomes orphaned
- new pod created with same name but different IP
- cilium tries to create new CEP but find the orphaned CEP and update its IP
- apiserver GC tries to delete orphaned CEP
- agent gets the old CEP delete event and deletes the CEP
- now we have a pod without a CEP

This does

[2021-10-04 22:41] #17156 closed

[2021-10-04 22:56] vincentmli commented on #17528
I have run the test on kernel 5.4.150 stable release for couple of hours, no failing. maybe  there is some kernel bug  before kernel 5.4 stable release

[2021-10-04 23:08] christarazi commented on #17047
@Weil0ng I'm not sure that's an accurate timeline for this, especially

Have you seen evidence that it updated the CEP with the correct IP?

I don't think the above is accurate either. I've not seen evidence that the above is the case.

Either way, I think the path forward for this bug is to reproduce the issue and trace the code that's happening here:
https://github.com/cilium/cilium/blob/b36c93b

[2021-10-05 06:18] maintainer-s-little-helper[bot] opened #17534 "CI: K8sBookInfoDemoTest Bookinfo Demo Tests bookinfo demo"
### Test Name
[code]

### Failure Output
[code]

### Stacktrace
<details><summary>Click to show.</summary>

[code]
</details>

### Standard Output
<details><summary>Click to show.</summary>

[code]
</details>

### Standard Error
<details><summary>Click to show.</summary>

[code]
</details>

ZIP Links:
<details><summary>Click to show.</summary>

 https://jenkins.cilium.io/job/Cilium-PR-K8s-1.16-net

[2021-10-05 06:31] odeke-em opened #17535 "pkg/elf: BenchmarkWriteELF fails with "failed to open ELF file ../../test/bpf/elf-demo.o: open ../../test/bpf/elf-demo.o: no such file or directory""
## Bug report

**General Information**

- Cilium version (run `cilium version`) N/A
- Kernel version (run `uname -a`) N/A
- Orchestration system version in use (e.g. `kubectl version`, ...) N/A
- Link to relevant artifacts (policies, deployments scripts, ...) N/A
- Generate and upload a system zip: N/A
[code]

**How to reproduce the issue**

Run `go test -run=^$ -bench=. ./...`
We've seen failures

[2021-10-05 07:04] jrajahalme commented on #1996
Happening again at https://jenkins.cilium.io/job/Cilium-PR-K8s-1.19-kernel-5.4/1143/execution/node/129/log/:
[code]

[2021-10-05 08:38] kkourt commented on #15455
Seem to hit this in https://jenkins.cilium.io/job/Cilium-PR-K8s-1.21-kernel-4.9/1533/

[2021-10-05 09:04] tklauser commented on #17535
Thanks for the report @odeke-em!

That particular benchmark seems to require an ELF file being build in `test/bpf` beforehand, which is usually done by our Makefile-based test flow. In order to still be able to run these benchmarks with native `go test -bench` I'd suggest we either skip that particular benchmark if the file is not found, or alternatively we could use [`bpf2go`](https://pkg.go.dev/

[2021-10-05 12:05] gandro commented on #17401
Reopening. I observed this also as `Suite-k8s-1.16.K8sChaosTest Connectivity demo application Endpoint can still connect while Cilium is not running` on https://github.com/cilium/cilium/pull/17451

Notably my branch does have #17489 applied (https://github.com/gandro/cilium/commit/f6f2406017ca6cca537400bc6fbf4b32ebec42e2), so it seems the coredns upgrade did not fix it. /cc @aanm

https://jenkins.

[2021-10-05 13:24] weizhouBlue commented on #17474
indeed , I also run into this

[2021-10-05 13:39] aanm commented on #17401
It also failed in https://jenkins.cilium.io/job/Cilium-PR-K8s-1.16-net-next/1572 and in https://jenkins.cilium.io/job/Cilium-PR-K8s-1.16-net-next/1585, this seems to be another occurrence of the same underlying issue. On both cases, the previous tests were related with K8Services but this one is not. My understanding is that Cilium is, somehow, breaking the connectivity between coreDNS and kube-ap

[2021-10-05 16:18] weizhouBlue opened #17540 "fail to find the xdp ebpf pro"
cilium  1.10.4
k8s   1.22.1
bare metal machine with linux 5.14.8 and mellanox connectX5 interface

after installing cilium with loadBalancer.acceleration=native , I found the xdp grogram
[code]

but after about 10 minutes , I try to show it but disappear , Does it be normal ?
[code]

here is some another information
[code]
[code]

[code]

[code]

[2021-10-05 16:24] pchaigno commented on #17540
How did you install Cilium?
[code]
Is Calico also installed?

[2021-10-05 16:37] vincentmli commented on #17528
run the test on stable kernel release 4.9.282 PR https://github.com/cilium/cilium/pull/17370 just doesn't work at all, unlikely to be PR https://github.com/cilium/cilium/pull/17370 issue though, it just exposed some problem in old kernel with Cilium

[2021-10-06 02:10] weizhouBlue commented on #17540
@pchaigno   attached the helm values
yes, I install multus+cilium+calico ,  to do some performance test on same barel mental machine.
but I does not turn on the ebpf feature of calico

[2021-10-06 02:47] Weil0ng commented on #17047
@christarazi I synced with @skmatti on our internal issue logs (in a different instance of this issue, same symptoms), seems like my previous understand was indeed inaccurate.

Here's an updated theory of the root cause timeline:
- old pod (on old node) gets deleted
- old CEP gets deleted
- new pod (on new node) created (with same name because of statefulSet)
- new CEP created ```2021-09-30 10:00:

[2021-10-06 03:44] weizhouBlue commented on #17540
@pchaigno  thanks for you reminding
I install mutltus+cilium+calico(iptables) to do some performance test.
Although I did not turn on the ebpf feature of calico , the calico node seems to remove all loaded xdp program
[code]
[code]

after I uninstall calico , the cilium xdp ebpf always is loaded well

[2021-10-06 03:44] #17540 closed

[2021-10-06 06:33] christarazi commented on #17047
@Weil0ng Hm, I'm still confused how this is possible for the following step

The reason I am confused is because

[code]

doesn't make sense to me, as the pod should exist at this point. I see that you mentioned that it only inside the local pod store, but we have a line to make sure that our K8s caches are synced before this point, see https://github.com/cilium/cilium/blob/baa9e9a200a96eb4cf97a3e

[2021-10-06 09:21] odeke-em commented on #17535
@tklauser after your fix, I kindly recommend adding Bencher to a ilium from the GitHub marketplace https://github.com/marketplace/gobencher for FREE and it'll benchmark every commit and PR. Please see https://bencher.orijtech.com/starting/ A high performance and critical infrastructure like Cilium deserves high performance practices like continuous benchmarking and we have built exactly this.

[2021-10-06 09:45] brb commented on #17401
Did you see in the hubble logs any connectivity issues between kube-apiserver and coreDNS?

[2021-10-06 09:47] pchaigno commented on #17534
Duplicate of https://github.com/cilium/cilium/issues/17401.

[2021-10-06 09:47] #17534 closed

[2021-10-06 09:58] aanm commented on #17401
@brb the repeated ACKs in hubble look suspicious.
[code]

[2021-10-06 10:12] aanm commented on #17401
@brb yes we don't have the ACK number but it looks suspicious that those ACK happen every 30 seconds.

yes, but why does that matter?

[2021-10-06 11:34] maintainer-s-little-helper[bot] opened #17545 "CI: K8sDatapathConfig Encapsulation Check iptables masquerading without random-fully"
### Test Name
[code]

### Failure Output
[code]

### Stacktrace
<details><summary>Click to show.</summary>

[code]
</details>

### Standard Output
<details><summary>Click to show.</summary>

[code]
</details>

### Standard Error
<details><summary>Click to show.</summary>

[code]
</details>

ZIP Links:
<details><summary>Click to show.</summary>

 https://jenkins.cilium.io/job/Cilium-PR-K8s-1.19-ker

[2021-10-06 12:41] ArsenyBelorukov opened #17547 "Cilium starts announcing LB's IPs via BGP before creating rules for manage traffic"
## Bug report

**General Information**

- Cilium version: v1.10.4
- Kernel version: 5.14.8
- Orchestration system version in use v1.18.2.

bare metal servers

I set up cilium with separate nodes to receive LB traffic, that announces LB’s IPs via BGP (metalLb https://docs.cilium.io/en/stable/gettingstarted/bgp/)
And faced with a problem, when cilium is starting up, it starts to announce IPs before

[2021-10-06 13:46] brb commented on #17547
@ArsenyBelorukov Thanks for the report.

@christarazi @ldelossa We should start the BGP announcer after the datapath has been regenerated. Yet another use case for a proper init system in the daemon.

[2021-10-06 15:53] borkmann opened #17552 "CI: datapath resiliency tests against link/carrier failures"
CI should test whether routes & neighbor entries keep working after carrier down/up cycle or whether we should add code to make it more robust in the agent.

[2021-10-06 16:26] ldelossa commented on #17547
@brb is the current way to do this just placing any bgp init code after the datapath init methods?

[2021-10-06 20:12] Weil0ng commented on #17047
Yes the cache is synced and I don't think there's an issue there. Problem is that the watcher itself only watches for local pods, so even if it is synced, it will only have local pods (unless I missed something?). The reason why we end up in this situation is that the pod WAS indeed deleted on the old node, and only then cilium-agent got restarted and tried to restore endpoints, so at that point,

[2021-10-06 20:28] christarazi commented on #17047
@Weil0ng Ah I see now. That makes sense. It's not obvious to me what the solution could be here.

Maybe we simply have to disambiguate the delete and check for the container ID, as we've just seen that a pod with the same name can be recreated onto another node, who is now managing the new CEP object containing a different container ID.

cc @aanm to double check me.

[2021-10-07 07:53] brb commented on #17547
@ldelossa It depends whether the datapath init is async. If so, then we should signal the daemon once all bpf_host instances have been reloaded. Otherwise, yes, placing the BGP init after the DP init should be good.

[2021-10-07 15:40] ldelossa opened #17556 "[ BGP - PodCidrs ] - NIL sessions being returned by MetalLB Speaker"
Sorry for mismatch. logs were produced with a custom that printf the calling arguments (line  VLN....).
Here's the log produced with commit 59ace73967d1c3f3dda3f68680881a3cf8649647

[log-crash-podcidr-bgp-02.txt](https://github.com/cilium/cilium/files/7304048/log-crash-podcidr-bgp-02.txt)

_Originally posted by @sbskas in https://github.com/cilium/cilium/issues/16525#issuecomment-937838367_

[2021-10-07 19:20] jmcshane commented on #15966
One note here is that aad-pod-identity is moving towards being a supported add-on for Azure: https://docs.microsoft.com/en-us/azure/aks/use-azure-ad-pod-identity. I am hoping to be able to use this pod identity feature to grant access to cilium to the compute resources within the node resource group.

[2021-10-07 21:21] sbskas commented on #17556
Ok, here's the configuration we used.
I think you need a little extra information about our config.
This test cluster is composed of 3 masters and 3 workers.
  master1 and worker1 are running on datacenter1 but on different lans
  master2 and worker2 are running on datacenter2
  master3 and worker3 are running on datacenter3
Each machine is running cilium without encapsulation and announce a bgp r

[2021-10-07 21:29] sbskas commented on #17556
@ldelossa if you want me to run a debug process with trace or take some capture packets, I'll be glad to help.

[2021-10-07 22:46] sbskas commented on #17556
Here's the cilium-config file.
[cilium-config.yaml](https://github.com/cilium/cilium/files/7307318/cilium-config.txt)

[2021-10-08 00:15] maintainer-s-little-helper[bot] opened #17558 "[v1.10] CI: K8sUpdates Tests upgrade and downgrade from a Cilium stable image to master"
### Test Name
[code]

### Failure Output
[code]

### Stacktrace
<details><summary>Click to show.</summary>

[code]
</details>

### Standard Output
<details><summary>Click to show.</summary>

[code]
</details>

### Standard Error
<details><summary>Click to show.</summary>

[code]
</details>

ZIP Links:
<details><summary>Click to show.</summary>

 https://jenkins.cilium.io/job/Cilium-PR-K8s-GKE//659

[2021-10-08 03:04] #17503 closed

[2021-10-08 10:33] ti-mo commented on #16561
As discussed this morning:

- no stateful refcounting is necessary, this would also be kinda fragile
- prog info contains a list of map ids referenced in the program (as seen in `bpftool prog` output: `map_ids 121,135,118,129,119`), or at least it can be obtained from a prog's xlated instructions
- during map migration start, prog arrays can be renamed `:pending` like all other maps (no danger)
-

[2021-10-08 18:12] xylk256 opened #17562 "Add option to disable CVE-2020-8554 mitigation"
Add an option to cilium agent that would disable CVE-2020-8554 mitigation for clusters that are only accessible to trusted users where this CVE does not apply.

This mitigation can cause problems when using cert-manager and having externalIP assigned to a reverse proxy that is scheduled on the same host as cert managers validation pod. Cert manager is not able to connect to the proxy to validate h

[2021-10-08 18:18] christarazi commented on #15428
Looks like a deadlock from the sysdump:

[code]

[2021-10-09 12:44] sbskas commented on #17556
I compiled agent branch up to commit 9579d739e. Is that the right commits to pick up ?
Crash is still present.
Logs are included.
 [logs-cilium-test-9579d739e.txt](https://github.com/cilium/cilium/files/7315579/logs-cilium-test-9579d739e.txt).
I'm still seeing a crash in the agent.
`level=debug msg="adding event to queue" component=MetalLBSpeaker.OnAddNode node=worker1 subsys=bgp-speaker
Observed

[2021-10-10 02:41] dcorbe commented on #13891
Please don't try and NAT in IPv6.

[2021-10-10 12:34] weizhouBlue commented on #11039
what other case do you mean ?
I tested it for istio case , and did not find any RPS and latency promotion
I also tested it with 127.0.0.1 communication within a pod  , and also did not find any  RPS and latency promotion

[2021-10-10 13:34] weizhouBlue commented on #17515
@pchaigno , I can not reproduce the issue , so I could not to get the sysdump,
I will reopen it once it reproduce

[2021-10-11 16:03] sbskas commented on #17556
@Idelossa Please find the corresponding log.
`level=debug msg="event nodeLabelsChanged msg Node labels changed, resyncing BGP peers" subsys=bgp-speaker
level=debug msg="event peerAdded peer 10.90.140.1 msg peer configured, starting BGP session" subsys=bgp-speaker
level=debug msg="event peerAdded peer 10.90.140.2 msg peer configured, starting BGP session" subsys=bgp-speaker
level=debug msg="announc

[2021-10-11 16:13] ldelossa commented on #17556
[code]

This is odd, seems like MetalLB is enforming us that he BGP sessions are setup, but is returning nil when we ask for them. It's possible there's a timing issue here, were we are attempting to utilize sessions before MetalLB makes them available to us.

Let me investigate further.

[2021-10-11 16:48] christarazi opened #17572 "Use `github.com/cilium/workerpool` inside Maglev M permutation computation"
The Maglev [`getPermutation()`](https://github.com/cilium/cilium/blob/946ec4f2393fe0b16df53c5aeed2521d0c984ec9/pkg/maglev/maglev.go#L64) function implements its own logic to compute the permutations based on `runtime.NumCPU()`. However, after seeing this [commit](https://github.com/cilium/cilium/pull/17546/commits/0c1929f3656e5630ac6bc0f61d9cb955701b7bef), we can replace this with `github.com/cili

[2021-10-11 21:56] pchaigno opened #17576 "CI: L4LB: warning: unused variable 'buf'"
Everytime the L4LB XDP workflow runs, the following warning is emitted during compilation:
[code]

[2021-10-11 23:53] ldelossa commented on #17556
@sbskas - first I want to make sure we never crash the Cilium agent. Please test with latest head: `6133087293d95bd384b0beea4e7c5d1eb0303b6d`

My hunch is that when MetalLB determines a BGP peer should not occur due to labels it returns a `nil` session object. Latest code ignores these `nil` session. I'm assuming since your config works when only particular `node-selector` fields are present, this

[2021-10-12 10:52] #17506 closed

[2021-10-12 16:21] aditighag opened #17584 "Deprecate session affinity config option"
https://github.com/cilium/cilium/pull/17312#discussion_r727237691

#17312 decouples session affinity related orchestration in the userspace from the session affinity config. We plan to always enable the logic for kube-proxy replacement. The logic will be executed for services when user enables affinity on them.

  Deprecate the flag, and update the getting started guides.

[2021-10-12 21:45] ldelossa commented on #17556
@sbskas is your BGP peering working?

[2021-10-13 00:17] joestringer commented on #16938
This failure also occurs for the following test, eg https://github.com/cilium/cilium/runs/3876794296?check_suite_focus=true

[code]

[2021-10-13 01:39] funkypenguin opened #17588 "cilium-agent very slow/high cpu to when starting on kernel 5.13.15+, with bpfilter errors in dmesg"
## Bug report

Hey guys! Further to this [Slack thread](https://app.slack.com/client/T1MATJ4SZ/C53TG4J4R/thread/C53TG4J4R-1634037214.250000
), I've identified that since Ubuntu mainline kernel 5.13.15, cilium-agent takes 2-3 minutes to "regenerate endpoints" (even if, like me, you only have 2-3 endpoints)

The kernel log continually spews out messages like this:

[code]

Occasionally cilium-agent

[2021-10-13 02:53] ldelossa commented on #17556
@sbskas are you utilizing the following feature? https://docs.cilium.io/en/v1.8/cmdref/cilium_preflight_migrate-identity/

This involves you latest issue. However this is not related to the BGP PodCidr pr. I do not want to splinter this thread.

Instead, can you deploy a fresh install with a config which only enables BGP and confirm the peering is working as expected. If it is, we close out this i

[2021-10-13 04:43] egsysoev commented on #17505
I changed `world` to `all` but that didn't help. However I noticed one strange thing: after I enabled host firewall and restarted the cilium daemonset, `reserverd:host` endpoint got `not-ready` status. If I restart that agent agein, node becomes unreachable. So it looks like that issue is not about wrong CiliumClusterwideNetworkPolicy, but it's about enabling host firewall in the first place.

All

[2021-10-13 13:05] aanm commented on #17047
@christarazi @Weil0ng We should only delete the CEP with the pre condition that its UID is the same when the CEP was created. Something like this:

[code]

[2021-10-13 13:19] ti-mo opened #17590 "CI: K8sDatapathConfig MonitorAggregation Checks that monitor aggregation restricts notifications"
Test output:

[code]

Haven't seen a Pod in status `Error` before, but there are operator logs. They indicate:
[code]

Looks like the k8s apiserver becomes unresponsive and there's a cascading failure?

Zip: [test_results_Cilium-PR-K8s-1.21-kernel-4.9_1603_BDD-Test-PR.zip](https://github.com/cilium/cilium/files/7338387/test_results_Cilium-PR-K8s-1.21-kernel-4.9_1603_BDD-Test-PR.zip)

Jenkins URL:

[2021-10-13 13:26] ti-mo opened #17594 "CI: K8sDatapathConfig Transparent encryption DirectRouting Check connectivity with transparent encryption and direct routing"
Test output:

[code]

Looking around the sysdump, it looks like there might've been some API server instability.

Also:
[code]

Zip: [test_results_Cilium-PR-K8s-1.19-kernel-5.4_1210_BDD-Test-PR.zip](https://github.com/cilium/cilium/files/7338426/test_results_Cilium-PR-K8s-1.19-kernel-5.4_1210_BDD-Test-PR.zip)

Jenkins URL: https://jenkins.cilium.io/job/Cilium-PR-K8s-1.19-kernel-5.4/1210

[2021-10-13 15:42] egsysoev commented on #17505
Well, looks like I found the root cause of the issue. I didn't mount the eBPF filesystem on the host according to the [requirements](https://docs.cilium.io/en/stable/operations/system_requirements/#mounted-ebpf-filesystem). After I mounted `/sys/fs/bpf` on the host, cilium agents managed to restart with no problems.

However, the issue with not-ready `reserved:host` endpoint still exist if I enabl

[2021-10-13 16:48] #17556 closed, assigned to ldelossa

[2021-10-13 22:07] pchaigno commented on #17588
`bpfWaitForELF` is higher than on my toy cluster but the rest is similar. That could potentially indicate higher contention on [the `objectCache` lock](https://github.com/cilium/cilium/blob/v1.10.3/pkg/datapath/loader/cache.go#L299) but I don't see how that would be related to a kernel version :-/

Could you share a complete Cilium sysdump? We should check that templating state looks okay and the

[2021-10-13 22:48] joestringer opened #17603 "v1.10.5 release"
## Pre-release

- [x] Check that there are no [release blockers] for the targeted release version
- [x] Ensure that outstanding [backport PRs] are merged
- [x] Consider building new [cilium-runtime images] and bumping the base image
      versions on this branch:
  - Cilium v1.10 or later:
     Modify the `FORCE_BUILD` environment value in the `images/runtime/Dockerfile` to force a rebuild.
     [

[2021-10-13 23:03] joestringer opened #17604 "CI: v1.10: K8sEgressGatewayTest tunnel disabled with endpoint routes enabled Checks egress policy and basic connectivity both work: curl failed to connect with exit code 28"
The following tests failed in the same way on a v1.10 backports branch:

* [Suite-k8s-1.16.K8sEgressGatewayTest tunnel disabled with endpoint routes enabled Checks egress policy and basic connectivity both work](https://jenkins.cilium.io/job/Cilium-PR-K8s-1.16-net-next/1670/testReport/junit/Suite-k8s-1/16/K8sEgressGatewayTest_tunnel_disabled_with_endpoint_routes_enabled_Checks_egress_policy_and_ba

[2021-10-14 03:29] #17603 closed

[2021-10-14 05:36] egsysoev commented on #17505
Today I encountered the error `ELF file: 2662_next/bpf_host_cilium_net.o: no such string "1/0x0a66"` :
[code]

[2021-10-14 20:08] eddycharly opened #17614 "Help: ciliumid not found"
Hello,

I observe a strange behavior in a cluster, one pod has a `ciliumendpoint` but the corresponding `ciliumid` seems to not exist.

[code]

But

[code]

Is this supposed to happen ? Is there a way to force cilium to recreate the missing `ciliumid` ?

[2021-10-14 20:49] eddycharly commented on #17614
Chances are that the `ciliumid` was deleted by our ArgoCD instance.

Should they have been recreated ? Or is the `ciliumid` lost when deleted ?

I'll try to share a cilium sysdump tomorrow.

[2021-10-14 20:56] vincentmli commented on #17528
close this since 5.1/5.2/5.3 kernel is  end of life and seems unlikely distributed widely

[2021-10-14 21:44] eddycharly commented on #17614
Thanks @aanm !

You mean the cilium agents DaemonSet ?

[2021-10-14 22:10] #17614 closed, assigned to nobody

[2021-10-15 02:58] peixiaoqing opened #17615 "How does cilium apply for a certificate from apiserver after startup? Apiserver uses cfssl self-generated certificate"
How does cilium apply for a certificate from apiserver after startup? Apiserver uses cfssl self-generated certificate
thanks

[2021-10-15 14:17] maintainer-s-little-helper[bot] opened #17617 "[v1.9] CI: K8sUpdates Tests upgrade and downgrade from a Cilium stable image to master"
### Test Name
[code]

### Failure Output
[code]

### Stacktrace
<details><summary>Click to show.</summary>

[code]
</details>

### Standard Output
<details><summary>Click to show.</summary>

[code]
</details>

### Standard Error
<details><summary>Click to show.</summary>

[code]
</details>

ZIP Links:
<details><summary>Click to show.</summary>

 https://jenkins.cilium.io/job/Cilium-PR-K8s-GKE//664

[2021-10-15 14:17] maintainer-s-little-helper[bot] opened #17618 "CI: K8sConformance Portmap Chaining Check connectivity-check compliance with portmap chaining"
### Test Name
[code]

### Failure Output
[code]

### Stacktrace
<details><summary>Click to show.</summary>

[code]
</details>

### Standard Output
<details><summary>Click to show.</summary>

[code]
</details>

### Standard Error
<details><summary>Click to show.</summary>

[code]
</details>

ZIP Links:
<details><summary>Click to show.</summary>

 https://jenkins.cilium.io/job/Cilium-PR-K8s-1.21-ker

[2021-10-15 15:04] pchaigno commented on #17618
Duplicate of https://github.com/cilium/cilium/issues/15791.

@jrajahalme Beware, Maintainer's Little Helper is not very good at identifying duplicates.

[2021-10-17 06:31] lou-lan opened #17621 "cilium bin log path"
Where are the log files of cilium cni?

[2021-10-17 06:39] #17621 closed

[2021-10-18 09:55] h3llix commented on #17576
hi @pchaigno. Can you assign this to me ?

[2021-10-18 12:32] maintainer-s-little-helper[bot] opened #17628 "CI: K8sDatapathConfig Host firewall With native routing"
### Test Name
[code]

### Failure Output
[code]

### Stacktrace
<details><summary>Click to show.</summary>

[code]
</details>

### Standard Output
<details><summary>Click to show.</summary>

[code]
</details>

### Standard Error
<details><summary>Click to show.</summary>

[code]
</details>

ZIP Links:
<details><summary>Click to show.</summary>

 https://jenkins.cilium.io/job/Cilium-PR-K8s-GKE//665

[2021-10-18 12:32] maintainer-s-little-helper[bot] opened #17629 "CI: RuntimeLB With Containers validates service recovery on restart"
### Test Name
[code]

### Failure Output
[code]

### Stacktrace
<details><summary>Click to show.</summary>

[code]
</details>

### Standard Output
<details><summary>Click to show.</summary>

[code]
</details>

### Standard Error
<details><summary>Click to show.</summary>

[code]
</details>

ZIP Links:
<details><summary>Click to show.</summary>

 https://jenkins.cilium.io/job/Cilium-PR-Runtime-net-

[2021-10-18 13:54] aanm opened #17631 "CEPs might be kept for unmanaged pods"
Under certain conditions a CEP can be kept for unmanaged pods. This can happen, for example, in case Cilium stops running and the infra container of a pod is restarted on a node where another CNI besides Cilium starts managing it.

The GC of the CEP will not happen because a) the `ownerReference` of the CEP is the same since the pod is the same and b) Cilium Operator is only GC CEPs if the pod doe

[2021-10-18 19:13] rpthms opened #17636 "Host firewall network policies don't work on L3 interfaces (eg. host WireGuard)"
## Bug report

**General Information**

- Cilium version: 1.10.5
- Kernel version: 5.11.0-37-generic (Ubuntu 20.04)
- Orchestration system version in use: Kubernetes 1.21.5

**How to reproduce the issue**

I have setup a 2 node cluster on Hetzner where both the nodes are connected to each other over a WireGuard tunnel.

The network topology looks like this:

[code]
1. Apply a Cilium Clusterwide Ne

[2021-10-19 10:51] brb commented on #17636
@rpthms Seems that the datapath is not aware that the wg device is L3, although it should. Could you share `cilium status --verbose` output?

[2021-10-19 12:10] rpthms commented on #17636
@brb Here's the output of `cilium status --verbose` on the cilium-master

[code]

[2021-10-19 13:44] aanm opened #17643 "Detect Cilium panics on GH actions based CI"
Similarly to what is being done on Jenkins [1], we should have a way to detect these messages on the CI that is executed on GH actions.

[1] https://github.com/cilium/cilium/blob/2d075ea34720ed625e297ede67ace8dce5bbdb53/test/helpers/cons.go#L281-L303

[2021-10-19 15:56] nbusseneau opened #17644 "CI: re-enable AKS testing with encryption enabled"
https://github.com/cilium/cilium-cli/issues/342 is hit almost consistently on AKS when running the second `cilium connectivity test` with encryption enabled.

We disabled AKS testing with encryption enabled in #17645. The PR should be reverted whenever possible.

[2021-10-20 02:53] lauchokyip commented on #17572
Thanks! will start working on it soon 😃

[2021-10-20 06:26] pchaigno commented on #17528
Ah, got it. That program is configured at https://github.com/cilium/cilium/blob/34557ce3aa2dc8b00def98a33fea8593c011f18a/pkg/datapath/loader/loader.go#L238-L240 and loaded because you have defined `devices` probably (?). Could you try without `devices` set?

[2021-10-20 06:43] pchaigno opened #17646 "Support SRv6 encapsulation"
Segment Routing over IPv6 (SRv6) encapsulation would offer a way to redirect traffic egressing the cluster through specific (legacy) devices. These SRv6 redirections would be enabled via an agent flag and configured via a CRD.

[2021-10-20 09:37] Izual750 opened #17647 "Complexity issue with Linux 4.19.207"
## Bug report

**General Information**

- Cilium version
[code]
- Kernel version
[code]
- Orchestration system version in use
[code]
- Link to relevant artifacts (policies, deployments scripts, ...)
[code]
- Generate and upload a system zip:
[code]

**How to reproduce the issue**

1. Install Debian 10 from the latest available ISO
2. Install it on a Virtual Machine. (I'm using VmWare 6.5.x)
3. Cre

[2021-10-20 14:04] AshokAccuknox opened #17653 "Question regarding deny policy behavior"
I using cilium last few days. I need to block a particular pod but I can't create a black list policy. So I think cilium doesn't support the black list policy. So I suggest adding a black list policy if possible. Or if cilium supports the black list policy can you give me step for creating a black list policy

[2021-10-20 14:15] AshokAccuknox commented on #17653
apiVersion: "cilium.io/v2"
kind: CiliumNetworkPolicy
metadata:
  name: "rule1"
spec:
  description: "L3-L4 policy to restrict deathstar access to empire ships only"
  endpointSelector:
    matchLabels:
      org: empire
      class: deathstar
  ingress:
  - fromEndpoints:
    - matchLabels:
        org: empire
    toPorts:
    - ports:
      - port: "80"
        protocol: TCP

In the above policy,

[2021-10-20 15:31] SHarrySeldon commented on #15462
Hey! Any chances that it would be possible to implement Site-to-Site configuration(i.e. other side is on premise VM)?
It would be useful when running in hybrid configurations.

[2021-10-20 17:16] vincentmli commented on #17528
this issue seems like a good test candidate for https://github.com/cilium/pwru, I am going to try pwru

[2021-10-20 17:54] maintainer-s-little-helper[bot] opened #17657 "CI: K8sDatapathConfig Etcd Check connectivity"
### Test Name
[code]

### Failure Output
[code]

### Stacktrace
<details><summary>Click to show.</summary>

[code]
</details>

### Standard Output
<details><summary>Click to show.</summary>

[code]
</details>

### Standard Error
<details><summary>Click to show.</summary>

[code]
</details>

ZIP Links:
<details><summary>Click to show.</summary>

 https://jenkins.cilium.io/job/Cilium-PR-K8s-GKE//668

[2021-10-21 02:49] lauchokyip commented on #17572
@pchaigno  Didn't have luck running cilium on minikube or kind... will unassign myself to give chances to others

[2021-10-21 08:58] maintainer-s-little-helper[bot] opened #17660 "CI: Found level=error: Failed to release lock: resource name may not be empty"
### Test Name
[code]

### Failure Output
[code]

### Stacktrace
<details><summary>Click to show.</summary>

[code]
</details>

### Standard Output
<details><summary>Click to show.</summary>

[code]
</details>

### Standard Error
<details><summary>Click to show.</summary>

[code]
</details>

ZIP Links:
<details><summary>Click to show.</summary>

 https://jenkins.cilium.io/job/Cilium-PR-K8s-1.21-ker

[2021-10-21 08:58] maintainer-s-little-helper[bot] opened #17661 "CI: Ginkgo panic: Test Panicked at internal/asyncassertion/async_assertion.go:95"
### Test Name
[code]

### Failure Output
[code]

### Stacktrace
<details><summary>Click to show.</summary>

[code]
</details>

### Standard Output
<details><summary>Click to show.</summary>

[code]
</details>

### Standard Error
<details><summary>Click to show.</summary>

[code]
</details>

ZIP Links:
<details><summary>Click to show.</summary>

 https://jenkins.cilium.io/job/Cilium-PR-K8s-1.16-net

[2021-10-21 09:07] pchaigno commented on #17661
The test in question panicked with:
[code]

[2021-10-21 09:30] pchaigno commented on #17528
I still see the `from-netdev` BPF program attached to two native devices so something is not working as expected here. Could you share a sysdump of that setup?

[2021-10-21 09:32] brb commented on #17636
the UnknownEthernetType log messages.

Do you get those messages on cilium-worker or cilium-master? Also, could you try setting `nodePort.directRoutingDevice=wg1`?

[2021-10-21 09:47] brb commented on #15462
@SHarrySeldon Currently, we rely on CiliumNode object to propagate WireGuard endpoint info to other nodes. Cilium already supports external workloads (aka non-cluster hosts): https://docs.cilium.io/en/v1.10/gettingstarted/external-workloads/. The missing bit for your use case is to extend `CiliumExternalWorkload` to support WireGuard metadata and to handle it from the agent. We would accept such a

[2021-10-21 11:46] pchaigno commented on #17505
That probably worked because it deleted the bad files.

No, that's not required. Restarting the Cilium pods is enough. I think there's something else going on with your system.

[2021-10-21 14:50] vincentmli commented on #17528
I noticed the VXLAN packet from ping  always use same source port  `10.169.72.233:51644`, something to do with `netdev_pick_tx` and  `__skb_get_hash` ?

[2021-10-21 19:58] ldelossa opened #17664 "CI: Suite-runtime.RuntimeConntrackInVethModeTest Conntrack-related configuration options for endpoints"
## CI failure

- Set title to be in the format `CI: <test-name>`. :heavy_check_mark:

- Copy-paste the output the test failure.
Stacktrace
/home/jenkins/workspace/Cilium-PR-Runtime-net-next/runtime-gopath/src/github.com/cilium/cilium/test/ginkgo-ext/scopes.go:527
The result of "netperf -l 3 -t TCP_RR -H f00d::a0f:0:0:2a8b " from container "client" to server does not match
Expected
    <bool>: fals

[2021-10-21 20:00] ldelossa commented on #17664
Ran into this flake here:

https://github.com/cilium/cilium/pull/16525

I have since ran the failing Ginkgo tests locally and receive no such error:

[code]

My suspicions is this is a flake.

[2021-10-21 20:37] kkourt opened #17665 "CI: `pkg/azure/ipams`'s `ipam_test.go`, fails with a race detection error"
first observed on: https://app.travis-ci.com/github/cilium/cilium/jobs/544263540

Data race stacktraces:

[code]

This can also be reproduced locally.

[2021-10-21 20:52] briantopping commented on #9207
Hi @joestringer, I was afraid of that... hmm. I hadn't understood minor releases to maintain connectivity but it makes perfect sense. My last several months were busy with customers, so I wasn't able to track that this was blocked. Apologies for that.

I started working with the PR last night, porting it over to a copy of the 1.10 branch. First order of business today is deploying it to see what h

[2021-10-22 00:52] Weil0ng opened #17669 "Egress Gateway doesn't work with CiliumEndpointSlices"
## Proposal / RFE

**Retrieve endpoint labels from numerical id within egressPolicyManager instead of relying on watched obj**

Currently when CiliumEndpointSlices is enabled, egress gateway feature would break. The egress policy updater relies on `endpoint.Identity.labels` to match endpoint to egress policy selector (https://github.com/cilium/cilium/blob/master/pkg/egresspolicy/manager.go#L242) b

[2021-10-22 07:55] maintainer-s-little-helper opened #17670 "CI: K8sDatapathConfig Encapsulation Check connectivity with VXLAN encapsulation"
### Test Name
[code]

### Failure Output
[code]

### Stacktrace
<details><summary>Click to show.</summary>

[code]
</details>

### Standard Output
<details><summary>Click to show.</summary>

[code]
</details>

### Standard Error
<details><summary>Click to show.</summary>

[code]
</details>

ZIP Links:
<details><summary>Click to show.</summary>

 https://jenkins.cilium.io/job/Cilium-PR-K8s-GKE//670

[2021-10-22 10:25] #17670 closed, assigned to nobody

[2021-10-22 12:02] kkourt opened #17671 "CI: ci-aks-1.10 failure"
https://github.com/cilium/cilium/actions/runs/1371058126/attempts/1:

The [sysdump](https://github.com/cilium/cilium/files/7396955/cilium-sysdump-out.zip.zip) did not include any agent logs, and the GH action logs mentioned that:

Restarting the action, seemed to solved the problem.

[2021-10-22 14:00] maintainer-s-little-helper[bot] opened #17672 "CI: K8sDatapathConfig Encapsulation Check iptables masquerading with random-fully"
### Test Name
[code]

### Failure Output
[code]

### Stacktrace
<details><summary>Click to show.</summary>

[code]
</details>

### Standard Output
<details><summary>Click to show.</summary>

[code]
</details>

### Standard Error
<details><summary>Click to show.</summary>

[code]
</details>

ZIP Links:
<details><summary>Click to show.</summary>

 https://jenkins.cilium.io/job/Cilium-PR-K8s-GKE//672

[2021-10-22 14:27] brb opened #17674 "datapath: Switch from BPF_{FUNC,FUNC_REMAP,STUB} to libbpf approach"
Instead of defining helpers ourselves, import `bpf_helper{,_defs}.h` from the libbpf and generate `vmlinux.h` from the net-next. The libbpf approach seems to become canonical, and with it it's easier to add new helpers and structs (copying vs defining ourselves each individually).

[2021-10-22 20:04] pchaigno opened #17678 "Cannot create two `CiliumEgressNATPolicy` with the same `egressSourceIP`"
The Cilium agents rejects egress gateway policies if they have the same `egressSourceIP` has an existing egress gateway policy.
[code]

### Reproduction steps
[code]

### Root cause
That is explicitly disallowed by the code at https://github.com/cilium/cilium/blob/e057d6058e426fbea5ff44946b46d2263e063e42/pkg/egressgateway/manager.go#L249-L255

### Workaround

It's possible to achieve almost the sa

[2021-10-22 20:48] pchaigno opened #17679 "Cannot delete `CiliumEgressNATPolicy` if it has a conflicting `podSelector`"
If two `CiliumEgressNATPolicy` objects are created with conflicting pod selectors:
- The second policy will override the first for all endpoint in both policies, without any warning or error in logs.
- Removing the second policy will fail and it will become impossible to remove the second policy afterward.

### Reproduction Steps

[code]

cc @MasterZ40 @anfernee

[2021-10-23 03:34] mengxifl opened #17681 "service cannot match endpoint"
### What happened?

service cannot match endpoint

### What did you expect to happen?

I think service can match pod

### How can we reproduce it (as minimally and precisely as possible)?

[code]

then I find kube-system ns svc/cilium-agent can not match endpoint
label had been set . and same as endporint(pod)

![image](https://user-images.githubusercontent.com/48743664/138416069-7233a12b-6ae2-4de

[2021-10-24 14:31] brb opened #17682 "datapath: Use ctx_redirect{,_peer}() instead of redirect{,_peer}()."
The helpers usage should be ctx-specific.

[2021-10-25 11:19] mzs114 opened #17690 "sessionAffinity value is always true for installation via Cilium helm chart."
## Bug report

**General Information**

- Cilium version (run `cilium version`)
- 1.10.x helm chart

**How to reproduce the issue**

1. ` helm fetch cilium/cilium --version 1.10.5`  (I tested with 1.10.4 and verified whether this repeats on 1.10.5)
2. `tar xf cilium-1.10.5.tgz`
3.  Edit `values.yaml` and uncomment `sessionAfinity` value in `values.yaml` file, leave the value at 'false'.
4.  Now ei

[2021-10-25 11:22] SimpCosm opened #17691 "Cilium CNI IPAM crd mode: No more IPs available"
## Bug report

**General Information**

- Cilium version (run `cilium version`) v1.10.4
- Kernel version (run `uname -a`) linux 5.4.32
- Orchestration system version in use (e.g. `kubectl version`, ...)
[code]
- Link to relevant artifacts (policies, deployments scripts, ...)
[code]
- Generate and upload a system zip:
[code]
[sysdump.txt](https://github.com/cilium/cilium/files/7409563/sysdump.txt)

[2021-10-25 12:29] DockToFuture opened #17692 "Cilium agent stopped working after some time"
## Bug report

**General Information**

- Cilium version (v1.10.4)
- Kernel version ( 5.4.0-6-cloud-amd64 # 1 SMP Debian 5.4.93-1 (2021-02-09) x86_64 GNU/Linux)
- Orchestration system version in use (kubectl v1.21.0)
- Generate and upload a system zip: Since `kubectl exec` and `kubectl logs` are not working due to the cilium issue, the output in the system zip is of limited use [cilium-sysdump-202

[2021-10-25 13:11] Frankkkkk opened #17693 "IPv6: LB6: FIB cache wrongly assumes dmac"
Everything is explained here : https://github.com/cilium/cilium/issues/17693#issuecomment-951987464

## Bug report

On IPv6 clusters with DSR activated, a bug arises when a node on the same subnet communicates with an SVC. The outbound IPv6 packet generated from the pod's worker node doesn't use the target's mac address (because it's on the same subnet), but the one from the ingress frame instead.

[2021-10-25 14:54] vincentmli opened #17694 "Enable policy for VTEP integration feature"
https://github.com/cilium/cilium/pull/17370 VTEP integration feature bypass `pkg/ipcache`, cause inconsistency with policy, thus not supporting network policy. open this issue to track the future work to have VTEP integration feature supporting network policy,

see https://github.com/cilium/cilium/pull/17370#discussion_r727406374 from Joe

"
I think that what we want is a new IP -> VTEP info map i

[2021-10-25 18:09] soroshsabz opened #17696 "> My problem is for I have only one control plane and I have not any worker, I suggest cilium test check number of worker after start to deploy test pod."
@soroshsabz if I understand correctly your suggestion is for the `cilium connectivity test` to first check if there are enough works to perform the test, and if not return early with an appropriate error message? Since this issue discusses another topic, could you file a new issue with this suggestion in: https://github.com/cilium/cilium-cli/issues? Thanks!

_Originally posted by @kkourt in https:

[2021-10-25 18:09] #17696 closed, assigned to nobody

[2021-10-25 23:59] joestringer opened #17701 "Use private address space for VIPs in tests"
This test is using an IP address from Orange's public range to validate some functionality:

https://github.com/cilium/cilium/blob/da26d0ae6f25c1fa28ba1d686e5505eb245e4908/test/l4lb/test.sh#L97

There are other examples as well, eg in `test/runtime/lb.go`.

We should avoid using IP addresses that are allocated to other purposes in the testing code.

More appropriate address ranges would be, eg:
*

[2021-10-26 05:19] mukeshkwm opened #17703 "cilium_host/cilium_net: Caught tx_queue_len zero misconfig"
**General Information**
- Cilium version (run `cilium version`)
cilium-cli: v0.9.1 compiled with go1.17.1 on darwin/amd64
cilium image (default): v1.10.4
cilium image (stable): unknown
cilium image (running): v1.10.5

- Kernel version (run `uname -a`)
"Linux cp-lab-amukesh4-vmss000000 5.4.0-1062-azure 65~18.04.1-Ubuntu SMP Tue Oct 12 11:26:28 UTC 2021 x86_64 x86_64 x86_64 GNU/Linux"
- Orchestratio

[2021-10-26 14:38] #17703 closed, assigned to nobody

[2021-10-26 15:26] pchaigno opened #17711 "Skip node ipset updates if iptables masquerading is disabled"
Pull request https://github.com/cilium/cilium/pull/16603 extended our iptables masquerading logic to track the IP addresses of all cluster nodes, to avoid masquerading packets destined to those nodes if tunneling is disabled. These IP addresses are tracked via a k8s watcher and added into an `ipset`.

We however don't need to track those IP addresses unless (1) tunneling is disabled and (2) iptabl

[2021-10-26 16:17] krishgobinath opened #17712 "Watch CiliumEndpointSlice objects in Operator to avoid wrong"
## Proposal / RFE

Watch CiliumEndpointSlice object in operator, If the CES object is modified, added or deleted by bad actors, reprogram to original value from Operator. The source of truth of CES object relies in on operator.

[2021-10-27 06:15] kkourt opened #17715 "CI: Suite-k8s-1.20.K8sDatapathConfig Host firewall With VXLAN"
This was observed on master (https://jenkins.cilium.io/job/cilium-master-k8s-1.20-kernel-4.19/1258/testReport/junit/Suite-k8s-1/20/K8sDatapathConfig_Host_firewall_With_VXLAN/), and it seems like a flake.

artifact: [fbcfc768_K8sDatapathConfig_Host_firewall_With_VXLAN.zip](https://github.com/cilium/cilium/files/7423624/fbcfc768_K8sDatapathConfig_Host_firewall_With_VXLAN.zip)

The test is terminated

[2021-10-27 06:24] jrajahalme opened #17717 "bpf_lxc: ctx_redirect_to_proxy_hairpin decrements IPv4 TTL on IPv6 path"
eBPF code in [`bpf_lxc.c` IPv6 ingress to pod path](https://github.com/cilium/cilium/blob/master/bpf/bpf_lxc.c#L1263) uses [`ctx_redirect_to_proxy_hairpin()`](https://github.com/cilium/cilium/blob/master/bpf/lib/lxc.h#L59-L92), which calls [`ipv4_l3()`](https://github.com/cilium/cilium/blob/master/bpf/lib/lxc.h#L80), which decrements IPv4 TTL, which will either fail or mess with the fragment offse

[2021-10-28 08:13] jwcesign opened #17725 "Does cilium support kata?"
## question
I read the article about eBPF, it can be used to reduce the memory cost by replace pod sidecar with cilium.

But it looks like the implementation needs the container share kernel with eBPF.

So for the runtime which as own kernel, does it work?

[2021-10-28 08:44] #17725 closed, assigned to nobody

[2021-10-28 11:50] jack-ra opened #17729 "LB service redirect to a wrong backend"
## Bug report

my connection to service is redirect to a wrong backend pod.

**current service:**
[code]

service 10.254.162.28:8080 has 3 backends 192.168.214.171:8080, 192.168.154.116:8080, 192.168.177.116:8080

**conntrack in cilium bpf:**
[code]
the forward flow ct is 10.254.162.28:8080 -> 192.168.154.121:57878, the reply flow is  192.168.154.121:57878 -> 192.168.177.108:7080

this service  co

[2021-10-28 12:18] alonana opened #17734 "using cilium API modifies the labels"
I am using cilium API to create CiliumNetworkPolicy, but somehow, the labels in the endpointSelector are modified to have "any:" prefix. For some other labels the prefix "k8s:" is added.
This happens only when using the API (from Go). It does not happen if I create a policy using kubectl apply.
I don't understand why. How can I prevent this?

In the following example, the "my-label" is created as

[2021-10-28 18:00] zapotah opened #17738 "enabling bpf-lb-sock-hostns-only causes apiserver reachability issues with kube-system pods and cilium with kube-proxy replacement setup"
## Bug report

**General Information**

- Cilium version: 1.10.5
- Kernel version: 5.11.0-38-generic #⁠42~20.04.1-Ubuntu
- Orchestration system version in use: version.Info{Major:"1", Minor:"22", GitVersion:"v1.22.2", GitCommit:"8b5a19147530eaac9476b0ab82980b4088bbc1b2"

**How to reproduce the issue**

1. Configuration as follows on a new cluster bootstrapped with mostly defaults with kubeadm (the

[2021-10-30 09:10] alex-berger commented on #9708
Any news on this as Topology Aware Hints are now [alpha since k8s `v1.21`](https://kubernetes.io/docs/concepts/services-networking/topology-aware-hints/). This is a very important feature to reduce network bandwidth cost for k8s clusters running highly available on public cloud providers (which usually have very expensive inter availability zone network bandwidth prices).

[2021-10-30 15:11] doniacld commented on #17471
Hi @joestringer & @christarazi !
I would be happy to solve my first issue in cilium and it seems to be a good candidate! :)

Concerning the first step, I will assume as a user if there is a warning I have no action to take and I can continue without any trouble!
We might want to change the warnings for real errors ? And of course still inform the user that the policies syntax is correct.

What do

[2021-10-30 16:57] bhunath opened #17745 "Why CILIUM is still using NOTRACK Kernal Module"
I am trying to Install CILIUM on windows with WSL2.

When I am installing with L7 Proxy I am getting below exception.

level=error msg="Command execution failed" cmd="[iptables -w 5 -t raw -A CILIUM_PRE_raw -m mark --mark 0x00000200/0x00000f00 -m comment --comment cilium: NOTRACK for proxy traffic -j NOTRACK]" error="exit status 2" subsys=iptables
level=warning msg="**iptables v1.8.4 (legacy): Cou

[2021-10-30 23:39] johngv2 commented on #10067
Hey folks, so sorry for the delay.
I'm gonna check the current version of iproute2. I'll be back here in few days. Thanks so much!

[2021-10-31 20:35] zapotah commented on #17738
Upgrading k8s to 1.22.3 does not affect functionality. Upgrading to ubuntu 5.13 kernel via the proposed edge hwe package causes the entire kernel to panic when cilium initiates.

[2021-11-01 07:09] duttaANI commented on #17701
@pchaigno Could you trigger the end to end tests . Also there were many IP addresses like 1.1.1.1 , 3.3.3.3 , 4.4.4.4 used for testing which could be converted to 10.0.0.1 , 10.0.0.3 , 10.0.0.4 respectively

[2021-11-01 11:23] pchaigno commented on #17701
Note some of these are on purpose, to test connections to outside the cluster.

[2021-11-01 11:50] kvaster opened #17747 "Packets loss in DSR mode when request is forwarded to client node"
## Bug report

Service inside k8s is making request to another service inside k8s, but request is made through public name (i.e. via public ip). In some cases request will be dropped.

Config example:

[code]

There are three nodes: `k8s-1`, `k8s-2` and `k8s-3`. External IP `10.117.11.22` is assigned to `k8s-3` node (i.e. ip of load balancer). And there are three services (pods) `net-test-1`, `net

[2021-11-01 14:58] maintainer-s-little-helper[bot] opened #17750 "CI: RuntimeFQDNPolicies toFQDNs populates toCIDRSet (data from proxy) L3-dependent L7/HTTP with toFQDN updates proxy policy"
### Test Name
[code]

### Failure Output
[code]

### Stacktrace
<details><summary>Click to show.</summary>

[code]
</details>

### Standard Output
<details><summary>Click to show.</summary>

[code]
</details>

### Standard Error
<details><summary>Click to show.</summary>

[code]
</details>

ZIP Links:
<details><summary>Click to show.</summary>

 https://jenkins.cilium.io/job/Cilium-PR-Runtime-net-

[2021-11-01 15:43] pchaigno commented on #17745
The `NOTRACK` netfilter target has been deprecated a long time ago (although never removed). However, `iptables` now transparently converts this target into the `CT --notrack` target (the replacement). That second target requires `CONFIG_NETFILTER_XT_TARGET_CT` (corresponding module is `xt_conntrack`) which is not deprecated. So Cilium doesn't actually require `CONFIG_NETFILTER_XT_TARGET_CT`.

May

[2021-11-01 16:05] pchaigno commented on #17678
Thanks for the answer and explanation @anfernee!

I understand the intent, but shouldn't this be enforced by some other tool/software than the CNI? This is encoding a specific (legitimate) use case into the implementation and we'd rather avoid that. As outlined above, this limitation prevents at least one other legitimate use case. If folks want to prevent having two egress policies with the same

[2021-11-01 16:21] pchaigno commented on #17747
I might be missing something obvious, but do you know what is dropping this packet and why?

What does this packet looks like when BPF masquerading is enabled and k8s-1 receives it?

[2021-11-01 17:58] joestringer commented on #17471
Hi @doniacld, awesome, you're welcome to pick this up :)

I think that your proposal to change the warnings to errors sounds good. After that it would be good to check to make sure that  if such errors or warnings occur, the preflight check doesn't print that "`All CCNPs and CNPs are valid!`".

[2021-11-01 18:17] joestringer commented on #17701
Indeed, I would say that it's worth reviewing but most likely the cases with `1.1.1.1` are deliberately attempting to access the CloudFlare website. However `2.2.2.2` / `3.3.3.3` / `4.4.4.4` are not likely to be deliberately using those addresses.

[2021-11-01 19:28] kvaster commented on #17747
Telling the truth, I don't know who is dropping this packet. I've tried to investigate the problem, but at least there is NO any dropped packets in cilium statistics. With bpf masquerade enabled this packet is identical to one without...

[2021-11-01 19:48] kang-makes commented on #12781
This is still an issue from my side. First I tackled it with a dirty hack using a pod with a shell script.

I don't want in my cluster but Cilium opens (as it is expected from Kubernetes as it the intended behavior). So, as I was learning Go, I created a service that automatically deletes all those endpoints: https://github.com/kang-makes/cilium-nodeport-deleter/tree/main

I am free to check other

[2021-11-01 20:52] doniacld commented on #17471
Thanks @joestringer, will work on it! :)

[2021-11-01 21:16] joestringer opened #17752 "Error while running "cilium ip list": getIdentityIdNotFound"
Found while testing a master version during the v1.11 development cycle. ~Does not affect v1.10.5.~ Observed also in v1.10.4.

[code]

[2021-11-01 21:18] joestringer commented on #17752
I found this while running the following test against the dev VM:

[code]

It is likely dependent on the content of the `pkg/ipcache:IPIdentityCache`, which is where the NULL comes from.

[2021-11-01 21:19] joestringer commented on #17752
In the above case, one of the entries in `cilium ip list -o json` has an identity which is not present in `cilium identity list`. I think that this is what triggers the failure, because the `cilium ip list` commandline is just attempting to pull the labels for each identity which is listed.

[2021-11-01 22:03] pchaigno opened #17753 "Short interruption of egress gateway functionality on `CiliumEgressNATPolicy` updates"
The logic to update the BPF map and agent caches on `CiliumEgressNATPolicy` updates starts by [removing all policies matching the endpoints](https://github.com/cilium/cilium/blob/203fb2ee27a8faf5dde6cd29553d51d0bc90bb15/pkg/egressgateway/manager.go#L156-L171) before [adding the new versions back](https://github.com/cilium/cilium/blob/203fb2ee27a8faf5dde6cd29553d51d0bc90bb15/pkg/egressgateway/manag

[2021-11-01 22:05] judexzhu opened #17754 "Cilium agent keep crash after enable LRP with error "Panic in Kubernetes runtime handler""
## Bug report

**General Information**

- Cilium version (run `cilium version`)  1.10.5 tested on 1.10.4 also
- Kernel version (run `uname -a`) 5.10.75-flatcar
- Orchestration system version in use (e.g. `kubectl version`, ...) v1.20.11
- Link to relevant artifacts (policies, deployments scripts, ...) https://docs.cilium.io/en/v1.10/gettingstarted/local-redirect-policy/#local-redirect-policy
- Gen

[2021-11-01 22:11] pchaigno commented on #17754
Note: v1.10.4 has https://github.com/cilium/cilium/pull/16216, so this isn't another case of https://github.com/cilium/cilium/issues/16204.

cc @aditighag

[2021-11-02 07:25] #17358 closed

[2021-11-02 08:43] kvaster commented on #17747
I need to notice also that my setup is using vlan - that's why I had to install latest cilium from git in order to use bpf masquerade, but I don't think this is an issue.

[2021-11-02 14:54] rpalkin opened #17759 "Some tcp sessions in DSR mode are not SNATed properly"
## Bug report

I’m using cilium with dsr mode enabled and Kubernetes service with externalIP.

The issue is that after receiving SYN packet some SYN-ACK packets (less than 1% but noticeable with 1k+ rps) are not SNATed and leave node with PodIp as source instead of service’s ExternalIp. Restarting service pods (after every pod in deployment is restarted) sometimes temporarily fixes the issue but a

[2021-11-02 17:35] qmonnet commented on #17750
As per the documentation in https://docs.cilium.io/en/latest/contributing/development/debugging/#dns-proxy-errors, this is maybe just a consequence of the system being under heavy load when the test ran?

[code]

[2021-11-03 05:04] blzhao-0 commented on #17679
@pchaigno Thanks that's a nice catch.
So i think what happened is that sample2 overwrote the map entries of sample1, when sample2 is being deleted the entries are already gone (deleted via sample1).

I can think of one fix that would be when upserting into the egress map with key:value, we make sure there is no entry with "key" exists. Otherwise bubble up an error saying that this policy is failed

[2021-11-03 07:46] oblazek commented on #17734
I belive it's because you are not specifying a label source. Take a look here https://github.com/cilium/cilium/blob/master/pkg/labels/labels.go#L318

[2021-11-03 09:39] batistein opened #17764 "Question: Where to find docs for "sidecarless" istio?"
I came across this article (seems to be official) https://thenewstack.io/how-ebpf-streamlines-the-service-mesh/
on the topic with sidecarless istio. Unfortunately, I have found no documentation or even any other mention in my research so far. Therefore the issue in the hope that someone can guide me in the right direction.

[2021-11-03 10:45] pchaigno opened #17766 "CI: K8sServicesTest Checks ClusterIP Connectivity Checks service on same node"
Happened on master: https://jenkins.cilium.io/job/cilium-master-k8s-1.22-kernel-4.9/31/testReport/junit/Suite-k8s-1/22/K8sServicesTest_Checks_ClusterIP_Connectivity_Checks_service_on_same_node/.
[281c8ae3_K8sServicesTest_Checks_ClusterIP_Connectivity_Checks_service_on_same_node.zip](https://github.com/cilium/cilium/files/7466967/281c8ae3_K8sServicesTest_Checks_ClusterIP_Connectivity_Checks_service

[2021-11-03 10:50] pchaigno commented on #17679
I think that's a good approach.

Yep, I think we should fix that as well, even if we don't allow conflicting `podSelectors` anymore.

[2021-11-03 11:08] cndoit18 commented on #13227
/assigned @cndoit18

[2021-11-03 12:35] alonana commented on #17734
I have tried adding the "any:" prefix, but it did not work.
Why do we have this difference between apply using kubectl and create policy using API?
It is also making a mess for the standard kubernetes labels, for example: app.kubernetes.io/name

[2021-11-03 13:09] hwaastad opened #17767 "ip link add eth_dummy type dummy results in connectivity drop"
## Bug report

**General Information**

- Cilium version
  1.10.5 b0836e8 2021-10-13T16:20:49-07:00 go version go1.16.9 linux/amd64
- Kernel version
  Linux i99998doc06 5.10.75-flatcar SMP Sat Oct 23 06:59:50 -00 2021 x86_64 x86_64 x86_64 GNU/Linu
- Orchestration system version in use
  k8s: v1.20.12
  Rancher 2.6.2
  FlatcarOS 2905.2.6
- Link to relevant artifacts
  Standard helm install. No chan

[2021-11-03 13:33] mengxifl commented on #17681
maybe latest version fix this error . I will test later .

[2021-11-03 13:33] #17681 closed

[2021-11-03 14:41] brb commented on #17693
@Frankkkkk Thanks for the detailed report!

Indeed, the problem is the neigh cache implemented as the BPF map. We introduced it first to work around the case when BPF NodePort doesn't know the client L2 addr, and we don't do the ARP resolution from the BPF prog. Later on it's usage evolved for the performance reasons.

Anyway, we are currently reevaluating the usage of it, and https://github.com/c

[2021-11-03 16:06] pchaigno commented on #17767
I'm unable to reproduce. Could you share more detailed reproduction steps (how did you deploy Cilium) and a sysdump?

[2021-11-03 16:35] brb commented on #17738
@zapotah Could you share the sysdump with me (`martynas` on the Cilium slack)?

[2021-11-03 17:08] brb opened #17770 "datapath: Mutual support for egress GW and XDP"
https://github.com/cilium/cilium/commit/3af28dfc01e71742466e43e30121d92bb8c2b86e describes why it doesn't work.

Ping @brb about iptables's default FILTER policy DROP which gets into the way too (similar as https://github.com/cilium/cilium/issues/17386).

[2021-11-03 18:03] hwaastad commented on #17767
Hi,

[2021-11-03 18:06] hwaastad commented on #17767
Hi,
1. Disable canal as CNI for cluster
2. Install cilium with helm (only change tunnel to geneve)
3. Delete canal daemonset and canal controller deployment
4. Reboot
5. On one of the nodes:
`modprobe dummy && ip link add eth_dummy type dummy`
6. Verify that you cannot ping default gateway from the node

[code]

The sysdump, where should I upload the zip?

[2021-11-03 21:08] hwaastad commented on #17767
OK, I'll see if I'll manage. the zipfile is 43MB and it seems that there is a limit somehow.

[2021-11-03 22:30] aanm commented on #17270
@pchaigno As you can see the similarity of such flakes were 80%. The similarity of a flake is done by comparing the test failure output with the output form this GH issue description. Heuristically, the value set for a flake to be similar is [75% or more](https://github.com/cilium/cilium/blob/2eb7a227e9343c585d74acdb44beaff32c473462/.github/maintainers-little-helper.yaml#L109). If we think this va

[2021-11-03 22:39] christarazi opened #17771 "Add unit tests for `cilium_host` IP restoration"
Following up from https://github.com/cilium/cilium/pull/17762, we should add
unit tests to cover this code.

[2021-11-04 01:55] dereknex opened #17779 "Error while running "cilium clustermesh enable": exec format error"
## Bug report

**General Information**

- Cilium version (run `cilium version`)
[code]
- Kernel version (run `uname -a`)
[code]
- Orchestration system version in use (e.g. `kubectl version`, ...)
[code]
- Link to relevant artifacts (policies, deployments scripts, ...)
- Generate and upload a sysdump:

  - [Install Cilium CLI](https://docs.cilium.io/en/stable/gettingstarted/k8s-install-default/#ins

[2021-11-04 02:33] dereknex commented on #17779
I change the etcd image to `quay.io/coreos/etcd:v3.4.13-arm64` and add env var `ETCD_UNSUPPORTED_ARCH =arm64`, then it's work fine.

full yaml :
[code]

[2021-11-04 09:14] brb commented on #14962
@waynr To dissable the ARP handling, you can set `--enable-l2-neigh-discovery=false`.

[2021-11-04 09:29] pchaigno commented on #17767
Yes, we'll need when down. One node should be enough :-)

[2021-11-04 09:38] brb commented on #17729
@jack-ra Could you include the sysdump? Is it easy to reproduce? Could you run with the debug enabled? I am wondering which backend has the ID=144.

In the datapath we check whether the backend selected from the CT belongs to the service, so I doubt that it's the stale CT issue.

[2021-11-04 09:53] brb commented on #17759
@rpalkin Thanks for the report. Could you include the sysdump or at least `cilium metrics list` from the node which runs the service pod. I am wondering whether the CT GC might have removed the relevant NAT entries. Also, are those long-lived connections?

[2021-11-04 09:56] brb commented on #9708
@alex-berger We might consider this for the 1.12.

[2021-11-04 10:14] olemarkus commented on #9708
Just to confirm there is interest, this is quite important for us as well.

[2021-11-04 10:18] brb commented on #17747
@kvaster Are you using the Cilium's ipvlan mode? Also, I'm wondering why the socket-lb didn't do the translation. Could you run `cilium bpf lb list`?

[2021-11-04 10:27] brb commented on #17474
Using Maglev for ClusterIP does not make sense unless you access it from outside (disabled by default). As the fix I suggest to change `LB_SELECTION` in the bpf_lxc.c.

[2021-11-04 10:39] ysksuzuki commented on #17474
Thank you for your comment. I agree with you. Will create a PR to change `LB_SELECTION` in the bpg_lxc.c.

[2021-11-04 11:55] jrajahalme opened #17781 "CI: ConformanceGKE Cilium connectivity test waits for test pod in shutdown status"
## CI failure

[code]

The pod `client-6488dcf5d4-wqsdc` is in `Shutdown` status.

[code]

Maybe we could make connectivity test more robust in the presence of multiple pods like this?

(https://github.com/cilium/cilium/runs/4067485397?check_suite_focus=true)

[cilium-sysdump-out.zip.zip](https://github.com/cilium/cilium/files/7474515/cilium-sysdump-out.zip.zip)

[2021-11-04 14:08] hwaastad commented on #17767
Hi, here is sysdump from controller when one of the nodes is down.
[cilium-sysdump-20211104-145956.zip](https://github.com/cilium/cilium/files/7475344/cilium-sysdump-20211104-145956.zip)
[cilium-debuginfo-20211104-135813.519+0000-UTC.md](https://github.com/cilium/cilium/files/7475384/cilium-debuginfo-20211104-135813.519%2B0000-UTC.md)

I do not know if I can run sysdump from a disconnected node. I

[2021-11-04 14:12] sergeyshevch commented on #16552
Also faced with this when installed cilium with ArgoCD. I guess we need a flag to disable such validation

[2021-11-04 15:39] joestringer commented on #6728
No, typically I'd expect it to have an http section with an error describing the failure (typically some sort of timeout message).

[2021-11-04 16:48] rpalkin commented on #17759
[code]

[2021-11-04 17:21] rpalkin commented on #17759
These connections are simple HTTP1.1 GET/POST requests with maximum duration about 5 seconds.

The issue can be reproduced by killing one of backend pods.
<img width="1746" alt="2021-11-04 19 48 04" src="https://user-images.githubusercontent.com/1578821/140383659-5440ce3d-9203-4478-b382-a3e2372bf187.png">
Here is tcpdump from live pod.
The rest of established tcp sessions from killed pod are forwa

[2021-11-04 19:42] #14072 closed

[2021-11-04 20:53] timoreimann commented on #14962
@brb thanks for the note about how to disable ARP handling. Are there any downsides to doing so?

[2021-11-04 21:18] #17678 closed

[2021-11-05 04:00] duttaANI commented on #17701
I will check the description provided about each test case and modify .

So should I proceed with changing 2.2.2.2 / 3.3.3.3 / 4.4.4.4 and leave 1.1.1.1?

[2021-11-05 07:31] #14962 closed

[2021-11-05 08:10] kkourt commented on #17307
I'm seeing this error on #17639, https://jenkins.cilium.io/job/Cilium-PR-K8s-GKE/6835/testReport/junit/Suite-k8s-1/20/K8sDatapathConfig_MonitorAggregation_Checks_that_monitor_aggregation_restricts_notifications/.

As in the case of the original report, the "web" container is not ready:
[code]

Grepped over the logs, but did not find anything alarming.

<details>

[code]

</details>

[2021-11-05 08:19] #16147 closed

[2021-11-05 08:19] borkmann commented on #17693
@Frankkkkk thanks a lot for reporting! https://github.com/cilium/cilium/pull/17713 has been merged now and the cache removed. Please test latest master image if you have a chance. (For probing IPv6 node addresses, that next on my list.)

[2021-11-05 08:22] borkmann commented on #14962
@dsexton @jaffcheng We've completely reworked neighbor resolution in order to "offload" it entirely to the kernel. Details are in https://github.com/cilium/cilium/commit/794ce347d1e59b3ce9f15c3b8b4c845582c51d64 ( https://github.com/cilium/cilium/pull/17713). If you have a chance, please check the lastest master image.

[2021-11-05 08:58] weizhoublue opened #17791 "redirect local policy fails to work"
environment :
(1)linux:
[code]
(2) cilium 1.10.4
(3) kubernetes. 1.22

I failed to test CiliumLocalRedirectPolicy

steps
(1) I create an backend pod with label "app: back"  ,  and  front end pod , they are on a same node
[code]
[code]
[code]
[code]
（2）in frontend pod ,  test backend service with pod ip , and it works well
in frontend pod ,  test cluster ip of  other service   , and it works well
[

[2021-11-05 09:39] pchaigno commented on #17307
Every time we get:
[code]
and it seems specific to GKE :thinking:

If someone gets assigned to this, I think the next step is to track that connection through the stack (using iptables, Hubble logs, etc.) to figure out where it's "blocked".

[2021-11-05 09:43] pchaigno commented on #17701
It should be fine to just change the 2.2.2.2, 3.3.3.3, and 4.4.4.4 and leave 1.1.1.1 as is for now.

[2021-11-05 14:53] pchaigno commented on #17767
I can't see anything that would suggest this is caused by Cilium. Cilium's BPF programs are not even attached to the native devices, so unlikely to cut access to the external network. A sysdump (or even just a bugtool) from the disconnected node would certainly help confirm this.

[2021-11-05 15:06] pchaigno commented on #17791
/cc @aditighag

[2021-11-05 15:08] pchaigno opened #17796 "k8s-upstream: `internalTrafficPolicy=Local` and SCTP tests failing"
The following tests are consistently failing in [the k8s-upstream CI job](https://jenkins.cilium.io/job/cilium-master-k8s-upstream/):
[code]

[2021-11-05 15:10] pchaigno commented on #17796
@nbusseneau noticed it started failing between the 27 and 28 of October, so likely caused by one of the following PRs:
- https://github.com/cilium/cilium/pull/17640
- https://github.com/cilium/cilium/pull/17593
- https://github.com/cilium/cilium/pull/17707
- https://github.com/cilium/cilium/pull/16989

It seems likely https://github.com/cilium/cilium/pull/16989 is the culprit here given this is af

[2021-11-05 15:23] aditighag commented on #17796
We don't support the feature as we already have LRPs as a way to configure the local redirection, see - https://github.com/cilium/cilium/issues/16071.
We should disable the upstream tests until there is a plan to support them.

[2021-11-05 16:11] #17528 closed

[2021-11-05 16:28] DockToFuture commented on #17692
Any update on the issue @pchaigno?

[2021-11-05 17:03] hwaastad commented on #17767
Hi @pchaigno, and thanks for following up. Did another check now, and here is the bugtool output from the node Im adding the link to.
[cilium-bugtool-20211105-165341.412+0000-UTC-1233336352.zip](https://github.com/cilium/cilium/files/7487709/cilium-bugtool-20211105-165341.412%2B0000-UTC-1233336352.zip)

[2021-11-05 17:16] pchaigno commented on #17767
Thanks! I can confirm Cilium is not interfering with the dummy device or with any of the native devices (no BPF programs attached, no ip routes that should affect the dummy one, and I don't see drop caused by Cilium in iptables). I don't see anything that should prevent connectivity for that matter.

[2021-11-05 18:06] pchaigno opened #17799 "CI: L4LB XDP: curl: (28) Failed to connect to 2.2.2.2 port 80: Connection timed out"
The L4LB workflow sometimes fail with:
[code]
For example:
- https://github.com/cilium/cilium/runs/4013401187?check_suite_focus=true -
[cilium-sysdump-out.zip.zip](https://github.com/cilium/cilium/files/7488066/cilium-sysdump-out.zip.zip)
- https://github.com/cilium/cilium/runs/4010036474?check_suite_focus=true -
[cilium-sysdump-out.zip(1).zip](https://github.com/cilium/cilium/files/7488070/cilium

[2021-11-05 18:15] pchaigno commented on #17764
For now, Cilium supports only L7 network policies, which are documented at https://docs.cilium.io/en/stable/policy/language/#layer-7-examples. Additional support should come in v1.11 for L7 load balancing, but since v1.11 isn't out yet, it's not documented yet.

[2021-11-05 18:16] #17764 closed

[2021-11-05 18:18] #17745 closed

[2021-11-05 18:19] pchaigno commented on #17745
With https://github.com/cilium/cilium/pull/17751, we'll be using `-j CT --notrack` instead of `-j NOTRACK`. There should be no functional change since that's what `iptables` already translated to.

[2021-11-05 18:33] pchaigno commented on #16805
Reopening given the PR with the fix was reverted in master.

[2021-11-05 19:17] aanm commented on #17270
For this particular GH issue 90% seems a good idea but there were flakes that were the same around 80ish something percent. So I think 85% is good.

[2021-11-05 21:28] joestringer opened #17802 "v1.8.13 release"
## Pre-release

- [x] Check that there are no [release blockers] for the targeted release version
- [x] Ensure that outstanding [backport PRs] are merged
- [x] Consider building new [cilium-runtime images] and bumping the base image
      versions on this branch:
  - Cilium v1.10 or later:
     Modify the `FORCE_BUILD` environment value in the `images/runtime/Dockerfile` to force a rebuild.
     [

[2021-11-05 21:28] joestringer opened #17803 "v1.9.11 release"
## Pre-release

- [x] Check that there are no [release blockers] for the targeted release version
- [x] Ensure that outstanding [backport PRs] are merged
- [x] Consider building new [cilium-runtime images] and bumping the base image
      versions on this branch:
  - Cilium v1.10 or later:
     Modify the `FORCE_BUILD` environment value in the `images/runtime/Dockerfile` to force a rebuild.
     [

[2021-11-06 08:52] hwaastad commented on #17767
Hm. OK, thanks for investigating.
Something fishy is definitly going on :-)
I notice that if I ping the down node from another host in the sub net I get:
[code]

1.  route -F, output is hanging. no routes is seen.
2. ip route del default via 10.210.151.1 dev ens32
3. route -F is showing routes connected to cilium
4.  ip route add default via 10.210.151.1 dev ens32
5. route -F, empty and hanging

G

[2021-11-06 18:11] #17767 closed

[2021-11-06 18:12] pchaigno commented on #17767
Glad to know you figured it out!

[2021-11-07 00:29] vincentmli opened #17809 "Explore adding runtime c headers for new Cilium feature without adding conditional BPF c struct field"
open an issue for discussion in https://github.com/cilium/cilium/pull/17370#discussion_r731170618 and  track potential solution here

[2021-11-07 00:36] vincentmli commented on #17809
here is another hack without adding conditional field, but add macro in `node_config.h`, but limited  the VTEP to only 2 with hard coding.

[code]

vtep config:

[code]
hard coded macro

[code]

[2021-11-07 04:07] vincentmli commented on #17809
improved the hack further to add array micro`VTEP_ENDPOINT` and `VTEP_MAC` in `node_config.h` to  resolve the only 2 VTEP hard code limitation

[code]

vtep config:

[code]
run time result in `node_config.h`:

[code]

[2021-11-07 13:36] doniacld commented on #17471
Hey @joestringer
I have been struggling to test what I have implemented.
I followed the [getting started using kind](https://docs.cilium.io/en/stable/gettingstarted/k8s-install-default/).
But I have the following errors and I am wondering if I am on the right path to test.
[code]

If you have any hints, thanks ? :)

[2021-11-07 18:19] vincentmli commented on #17809
this is a working diff after removing the `vtep_mac` from `remote_endpoint_info`

[code]

[2021-11-08 08:42] elfadel commented on #12781
Assigned me, please.

[2021-11-08 09:00] m-yosefpor opened #17811 "docs: Setting up Cluster Mesh with helm chart / olm"
## Proposal / RFE

**Is your feature request related to a problem?**

Currently there are some docs in cilium website about how to setting up a cluster mesh with cilium cli (https://docs.cilium.io/en/latest/gettingstarted/clustermesh/clustermesh/), however there are no docs which explains how to achieve similar thing via helm charts. Almost all other sections have docs both about CLI solution and

[2021-11-08 09:10] #14096 closed

[2021-11-08 09:42] brb commented on #17528
@vincentmli Any TLDR why it was broken?

[2021-11-08 09:47] pchaigno commented on #17270
I must have missed those :detective:

:ship: https://github.com/cilium/cilium/pull/17812

[2021-11-08 09:50] #17717 closed

[2021-11-08 10:26] brb commented on #17759
Thanks.
- Could you run from the cilium-agent on the backend pod node `ceuse# bpftool map dump pinned /sys/fs/bpf/tc/globals/cilium_snat_v4_external`?
- Is it reproducible on a cluster with low traffic and few pods?

[2021-11-08 10:27] Frankkkkk commented on #17693
Hi @borkmann , thanks for the follow up !

I tried running cilium from `latest` and  when doing `Client -> SVC LB6 -> Node` (both are on the same subnet) some cache seem still present. It worked fine with the `--bpf-lb-bypass-fib-lookup` flag on 1.10.5 but not on master.

- The client: `2001:1600:4:23:f816:3eff:feb7:fbb8`
- The v6 lb ip: `2001:1600:caca:50da:1b:ffff:0:4`
- The node: `2001:1600:4:2

[2021-11-08 10:36] rpalkin commented on #17759
[bpftool.txt](https://github.com/cilium/cilium/files/7496194/bpftool.txt)

I'll try to reproduce it on a smaller cluster and let you know

[2021-11-08 10:44] brb commented on #17759
And what does `bpftool map info pinned /sys/fs/bpf/tc/globals/cilium_snat_v4_external` return?

[2021-11-08 10:53] rpalkin commented on #17759
Looks like `map info` doesn't exist
[code]

Did you mean `map show`?
[code]

[2021-11-08 11:02] brb commented on #17759
Sorry, yep, I meant `map show`. In any case, I'm very interested whether it's reproducible in a small cluster.

[2021-11-08 12:05] brb commented on #17738
Maybe you have captured the output of the panic in dmesg?

[2021-11-08 13:08] Purushotham233 commented on #14962
@borkmann is 1.10-backport possible and planned?

[2021-11-08 13:12] borkmann commented on #17693
Thanks for testing!

[...]

Ok, strange. For the Cilium `latest` image, when the situation happens, could you provide a sysdump so I can investigate further? (You could also send it as DM via slack, my nic is 'daniel').

Thanks a lot!

[2021-11-08 13:19] borkmann commented on #14962
It could be discussed during the weekly Cilium meeting, but for now I'd like to have it sit for a while in 1.11 to fully stabilize.

[2021-11-08 14:09] Frankkkkk commented on #17693
Indeed, the neighbour entry was empty (even during traffic from the client via the lb6). Manually adding the entry makes it reply with the correct dmac

I've sent you the sysdump via slack
Cheers !

[2021-11-08 14:36] brb opened #17820 "CI: run K8sServices suite with all disabled flaky tests before 1.11 release"

[2021-11-08 14:39] borkmann commented on #17693
Ok, sounds good. That basically means for the 1.10.5 case you just accidentally had that neighbor entry in the kernel with the `--bpf-lb-bypass-fib-lookup` disabled. E.g. instead of manually adding the entry a ping to the node from the LB node would also add it.

Anyway, for IPv6 neighbor resolution out of the same L2, I'm currently working on addressing it this was exactly my next step. Thanks fo

[2021-11-08 14:41] brb commented on #17799
In both cases (https://github.com/cilium/cilium/runs/4013401187?check_suite_focus=true and https://github.com/cilium/cilium/runs/4010036474?check_suite_focus=true), the test failed for the secondary device which was introduced by https://github.com/cilium/cilium/pull/17655.

[2021-11-08 15:59] vincentmli commented on #17528
@brb I did not dig further since `5.4.150` stable release on centos 8 works for my PR that is the least kernel requirement

[2021-11-08 16:12] vincentmli commented on #17528
@brb I suspect  kernel `90b2be27bb0` fixed the issue, but I did not do git bisect between `5.4` and `5.5` to confirm since git bisect may take too much time

[2021-11-08 20:14] joestringer commented on #17471
Hi @doniacld , usually we will run the preflight from the preflight `DaemonSet` rather than directly: https://docs.cilium.io/en/stable/operations/upgrade/#running-pre-flight-check-required

For development, if you have changed some things, then you would need to build & push the image somewhere, then use helm to generate the templates for the preflight DS, pointing to your custom image. If you sea

[2021-11-08 20:59] thockin commented on #16622
I wasn't really tracking the implementation of this in Cilium, but it "came up" today.  Limiting this to small-N ports and creating N rules feels like a pretty severe limitation to me.  It sort of says "not implementable" to me. :(

My questions are:

a) Is my "not implementable" assessment too dramatic?
b) Is there anyone actually working on this?  (I really do not want to GA the feature without

[2021-11-08 21:59] zapotah commented on #17738
This are the last messages before the crash

Nov  8 23:55:07 awx kubelet[778]: level=warning msg="Unable to enter namespace \"\", will not delete interface" error="failed to Statfs \"\": no such file or directory" subsys=cilium-cni
Nov  8 23:55:07 awx kernel: [   95.723986] BUG: Bad page state in process cilium-cni  pfn:1afbe1
Nov  8 23:55:07 awx kernel: [   95.724018] page:00000000003a9202 refcou

[2021-11-09 01:45] joestringer opened #17829 "Add e2e coverage of apiserver policy functionality"

[2021-11-09 07:59] #17779 closed

[2021-11-09 09:45] GabMgt commented on #17647
Hello everyone,
Is there an existing image to try the fix please ?
Have a good day.

[2021-11-09 10:29] borkmann commented on #17738
That looks like a double free bug in the kernel somewhere. Is this a latest stable version? If so maybe contact canonical about it.

Do they have a different / even newer kernel for testing?

[2021-11-09 14:17] jayunit100 commented on #16622
hiya folks, in general, the NetworkPolicy GA features, API  isn't fully supported by all providers. We have a tool https://github.com/mattfenwick/cyclonus that we've been using to evaluate this overall problem holistically (tabulates all evolved from the upstream e2es)

https://kubernetes.io/blog/2021/04/20/defining-networkpolicy-conformance-cni-providers/#results

There are other examples (pod CI

[2021-11-09 15:58] vnandha opened #17832 "cilium agent error Key allocation attempt failed when a label with empty value in pod spec or in pod's namespace"
## Bug report

**General Information**

- Cilium version (run `cilium version`)
[code]
- Kernel version (run `uname -a`)
[code]
- Orchestration system version in use (e.g. `kubectl version`, ...)
[code]
- Link to relevant artifacts (policies, deployments scripts, ...)
mentioned below with
- Generate and upload a sysdump:

  - [Install Cilium CLI](https://docs.cilium.io/en/stable/gettingstarted/k8s

[2021-11-09 16:20] aditighag opened #17833 "Support graceful termination for Maglev"
Follow-up tracking bug for PR - https://github.com/cilium/cilium/pull/17716.

[2021-11-09 16:42] jrajahalme commented on #16680
7 out of 10 test runs failed on https://jenkins.cilium.io/job/Cilium-PR-K8s-1.22-kernel-4.9/101/testReport/junit/Suite-k8s-1/22/K8sServicesTest_Checks_ClusterIP_Connectivity_Checks_service_accessing_itself__hairpin_flow_/:
[code]

It's possible that it is those 7 that selected the source echo pod as destinations, and those all failed. Unfortunately there is no logs on the echo pods on incoming req

[2021-11-09 16:48] jrajahalme commented on #16040
Similar fail in https://jenkins.cilium.io/job/Cilium-PR-Runtime-net-next/560/testReport/junit/(root)/Suite-runtime/RuntimePrivilegedUnitTests_Run_Tests/

[2021-11-09 16:51] brb commented on #16040
We recently changed the neigh management. /cc @borkmann

[2021-11-09 17:03] borkmann commented on #16040
@jrajahalme have you seen this only once? Maybe we can just bump the timeout a bit further.

[2021-11-09 17:13] prune998 commented on #16987
Really interested in this feature too, knowing that Cilium Overlay mode does not work in EKS...
Anyone already looked at it ? Is working on a PR ? I could help or start something if nothing was done yet.

This doc is really useful too:
https://aws.amazon.com/blogs/containers/amazon-vpc-cni-increases-pods-per-node-limits/

[2021-11-09 18:06] #17682 closed

[2021-11-09 18:52] #17802 closed

[2021-11-09 18:53] #17803 closed

[2021-11-09 21:31] #10457 closed

[2021-11-09 23:47] michi-covalent opened #17837 "Dangling CiliumNodes cause cluster pool CIDR ranges to get exhausted"
## Bug report

**General Information**

- Cilium version: 1.9.9

# How to reproduce

Roughly speaking, scale up and down the k8s cluster, and observe that sometimes CiliumNodes do not get deleted. Once cilium-operator runs out of CIDR ranges to give out to new nodes, cilium-agent fails with a message `required IPv4 PodCIDR not available`.
[code]
a workaround would be to delete those dangling Ciliu

[2021-11-10 01:39] joestringer commented on #17837
Seems like the underlying problem here is that the CiliumNodes are dangling; shouldn't the operator garbage-collect those?

[2021-11-10 01:42] joestringer opened #17838 "Deprecate features for v1.11"
* [x] IPVLAN
  * [x] Update documentation to mark as deprecated.
  * Might need infrastructure for a different use case.
* [x] Consul
* [x] `cilium policy trace`
  * Maybe doesn't have to be fully deprecated, but at least add a big warning about the limitations
* [x] Mesos

[2021-11-10 07:35] vnandha commented on #17832
Similar to this, Issue is not seen after using kube-apiserver binary built from correct golang https://github.com/rancher/rke2/issues/1530#issuecomment-893902041

[2021-11-10 07:35] #17832 closed

[2021-11-10 08:37] rpalkin commented on #17759
Finally I'm able to reproduce the issue in a small cluster with just a couple of curl requests.

# Steps to reproduce

### Acting characters

client_node: IP: 10.212.35.103

cilium_lb_node1: IP: 10.213.35.145
cilium_lb_node2: IP: 10.213.35.14

envoy_node1: IP: 10.213.35.102

envoy_node2: IP: 10.213.35.103

envoy_pod1@envoy_node1: IP: 10.86.134.238

envoy_pod2@envoy_node2: IP: 10.86.132.245

extern

[2021-11-10 08:44] inju-song commented on #10114
Hello, @brb @borkmann and Cilium team,

We are a team that provides K8s cluster and network dataplane, and we are currently developing to provide Cilium-based k8 cluster as our company's container platform.

Our K8s cluster need to provide DSR in the tunneling mode. So, we developed this feature and use this feature to provide the load balancer DSR function in the VXLAN environment.

Cilium doesn'

[2021-11-10 08:49] rpalkin commented on #17759
Flushing CT table on `envoy_node1` resolves the issue but it's not an option for production usage.
I'm wondering why CT entry was created without SYN packet

[2021-11-10 08:54] borkmann commented on #10114
If you have implemented DSR with tunneling mode, that would be awesome and very much appreciated if you could upstream it to mainline Cilium.

Thanks Inju!

[2021-11-10 09:26] splushii opened #17839 "GKE kubelet Pod probe source IP denied when using `allow-localhost: always`"
## Bug report

Hello! Bumped GKE to `1.21.5-gke.1802` (running Cilium `1.10.4`) and all Pods with healthchecks started to fail. Noticed that the probes have started to originate from the source `169.254.169.252` (the GKE metadata server IP) which got dropped, therefore failing the Pod healthchecks. Adding a CNP allowing the traffic resolved it. Have previously relied on https://docs.cilium.io/en/v

[2021-11-10 09:28] splushii commented on #17839
Related thread on the Cilium Slack: https://cilium.slack.com/archives/C1MATJ5U5/p1636378965255900

@pchaigno @aditighag

[2021-11-10 09:53] brb commented on #14563
I think this has been resolved by https://github.com/cilium/cilium/pull/17154. Just that we need to add the relevant docs update.

[2021-11-10 10:23] kvaster commented on #17747
I'm using default mode (veth ?). For those endpoints I have in `bpf lb list`:

[code]

Translation is done and packet arrives on the interface - I can see it with `tcpdump`, but later someone drops it.

p.s.: I was talking about 802.1 vlan.

[2021-11-10 11:02] maintainer-s-little-helper[bot] opened #17841 "CI: K8sPolicyTest Basic Test Denies traffic with cnp default-deny ingress policy"
### Test Name
[code]

### Failure Output
[code]

### Stacktrace
<details><summary>Click to show.</summary>

[code]
</details>

### Standard Output
<details><summary>Click to show.</summary>

[code]
</details>

### Standard Error
<details><summary>Click to show.</summary>

[code]
</details>

ZIP Links:
<details><summary>Click to show.</summary>

 https://jenkins.cilium.io/job/Cilium-PR-K8s-1.21-ker

[2021-11-10 11:57] brauner commented on #17738
Very likely just a kernel bug in that specific ubuntu kernel. Filing a bug on Launchpad against Linux should help there. Or just see whether an update for that kernel is available.

[2021-11-10 11:58] brb commented on #17759
@rpalkin Thanks! I see "Envoy" in the pod/node names. Is Envoy involved in the packet pah? Could you draw the packet path?

[2021-11-10 12:12] tklauser commented on #17307
Observed this on GKE with #17687: https://jenkins.cilium.io/job/Cilium-PR-K8s-GKE/6891/ Also got the same failing readiness probe.

[2021-11-10 12:16] rpalkin commented on #17759
![image](https://user-images.githubusercontent.com/1578821/141111121-b545cd8e-c844-4ff7-a4d3-534e1a7ecd53.png)

Yes, I'm using Istio as ingress gateway for cluster

[2021-11-10 14:48] kvaster commented on #17747
Some traces from monitor:

Request from same host:

[code]

Request from another host:

[code]

I'm investigating further. At least I know that initial packet is processed by ebpf program.

[2021-11-10 15:23] #17809 closed

[2021-11-10 17:23] brb opened #17848 "datapath: Redirect from bpf_overlay to egress gw SNAT netdev"
Currently, when the egress GW node receives a packet from a remote pod which needs to be SNAT-ed to the egress GW IP, the packet is first handled by bpf_overlay@cilium_vxlan. The prog passes the packet to the stack, and eventually it should make to bpf_host@eth0 which does the SNAT.

However, if there is an iptables SNAT rule in the host netns, it might get into the way of egress GW. This is the c

[2021-11-10 17:30] joestringer opened #17849 "Refactor IPCache to remove static package-level globals"
Refactor the `pkg/ipcache` to avoid package-level variables and initialize it properly from the daemon.

Consider reworking how 'pkg/source' should be associated with information coming into the IPCache so that it can be used consistently to allow different sources to manage the information that comes in from those sources (eg, adding/deleting the information based on the add/delete of individual

[2021-11-10 18:52] Weil0ng opened #17850 "CES introspection"
As a follow up work item for CES from https://github.com/cilium/cilium/pull/17430#discussion_r746157526, we should introduce a signal from operator to agent to indicate that all CEPs have been captured by CESs, 2 possible ways of doing this:

- A direct signal from operator to agent to switch agent watch
- Agent checks CEP listed constructed from CES watch and compare with actual CEP watch, then s

[2021-11-10 23:32] samueltorres commented on #17811
I've prepared a PR with the Helm Chart Changes :)

[2021-11-11 04:26] bryanasdev000 commented on #15393
Just in case someone else needs it, I can confirm that this snippet works:

[code]

Plus if you want to replace kube-proxy:

[code]

Both without aws cni chaining and passing in `cilium connectivity test`.

[2021-11-11 07:36] ysksuzuki opened #17852 "Support the wildcard option for nodePort.directRoutingDevice"
## Proposal / RFE

**Is your feature request related to a problem?**

We can't specify a fixed device name for nodePort.directRoutingDevice because the device names aren't the same on all Cilium-managed nodes in our environment. Plus we attach k8s internalIP to a dummy interface on each node, so Cilium picks the dummy interface if nodePort.directRoutingDevice is not specified.

**Describe the solu

[2021-11-11 07:48] brb commented on #17759
This is expected, as you said (only SYN packet contains the IPv4 opt used by DSR).

Was the same LB node handling all requests?

Did the following packet contained the IPv4 option (maybe you could record with tcpdump the pcap)?
[code]

[2021-11-11 08:14] #15393 closed

[2021-11-11 08:57] l1b0k opened #17853 "Enable in-cluster traffic for LoadBalancer whithout enable-node-port"
## Proposal / RFE

**Is your feature request related to a problem?**
No
**Describe the solution you'd like**
For now the feature is work when `enable-node-port` is enabled.
Add a seperate flag to enable in-cluster traffic for ExternalIP, LoadBalanceIP .

[2021-11-11 09:01] pchaigno commented on #17852
We already support the `device=eth+` syntax for the `device` option. We'd just need the same for `nodePort.directRoutingDevice` to address this issue. Thus, marking as `good-first-issue`.

[2021-11-11 09:02] rpalkin commented on #17759
All requests were handled by the same LB.
This is tcpdump from LB node
<img width="1445" alt="Снимок экрана 2021-11-11 в 11 46 25" src="https://user-images.githubusercontent.com/1578821/141267329-234cc906-92ce-4ac3-9ec8-e9ff228786b6.png">
10.86.132.228 and 10.86.132.238 - are envoy PodIPs. Red line is the moment of `kubectl delete pod 10.86.132.228`

 And yes, the next SYN packet to alive envoy co

[2021-11-11 09:12] rpalkin commented on #17759
Looks like cilium creates CT entry without SYN request and without DSR flag. Therefor the next SYN reuses this entry (`state reopened` from `cilium monitor`).
So if creating of CT entry is what cilium does do by design, then https://github.com/cilium/cilium/issues/10897 should resolve it.

[2021-11-11 09:22] pchaigno commented on #17853
Could you describe the use case?

[2021-11-11 10:29] brb commented on #17305
Reproduced locally - the kubelet wasn't even started. No logs in the journalctl too.

[2021-11-11 10:31] tklauser commented on #17307
Two recent failure on master with similar symptoms:

https://jenkins.cilium.io/job/cilium-master-gke/4684/
https://jenkins.cilium.io/job/cilium-master-gke/4678/

These are failing tests, but the symptom of the app container's readiness probe failing with `connection refused` is the same in both cases:

<details>
<summary>Pod status output (from https://jenkins.cilium.io/job/cilium-master-gke/4684/

[2021-11-11 10:36] brb commented on #17759
Yep, it is yet another instance of #10897. Thanks for the investigation. I'm closing this issue in favor of #10897 (please upvote it, so that we can plan the fix accordingly).

[2021-11-11 10:40] brb commented on #17853
I guess you want to be able to provision LoadBalancer service without creating related NodePort services? You could technically do it even today with: https://kubernetes.io/docs/concepts/services-networking/service/#load-balancer-nodeport-allocation. @l1b0k Could you validate it?

[2021-11-11 10:56] ksaio commented on #16552
Also faced this with ArgoCD

[2021-11-11 12:28] rpalkin commented on #17759
As far as I understand possible fix of this issue https://github.com/cilium/cilium/pull/12594 had been already disapproved. Could you share some details about your discussion https://github.com/cilium/cilium/pull/12594#issuecomment-674939610 ? Right now DSR is hardly usable for production and makes me rebuild significant part of network design. So I'm interested if I can make some effort to contri

[2021-11-11 13:40] brb opened #17854 "datapath: Enable pcap recorder for the regular (non-standalone) LB"

[2021-11-11 13:53] samuel-form3 commented on #17811
What do you think about this Helm values schema ?

[code]
- This schema allows a given user to set up the Clustermesh connections manually if needed.
- It allows each cluster connection to be configured using the Clustermesh load balancer /  Node ips or a pre-defined DNS record.
- The port is configurable
- The client certificates need to be provided in order to correctly configure the etcd config

[2021-11-11 14:27] samueltorres commented on #17811
What do you think about this Helm values schema ?

[code]
- This schema allows a given user to set up the Clustermesh connections manually if needed.
- It allows each cluster connection to be configured using the Clustermesh load balancer /  Node ips or a pre-defined DNS record.
- The port is configurable
- The client certificates need to be provided in order to correctly configure the etcd config

[2021-11-11 17:36] Weil0ng opened #17857 "CI: gke-stable"
## CI failure

gke-stable fails in https://jenkins.cilium.io/job/Cilium-PR-K8s-GKE/6900/ due to one of the test pods fail health check, seems like a flake?

[code]

[2021-11-11 17:39] pchaigno commented on #17857
Duplicate of https://github.com/cilium/cilium/issues/17307.

[2021-11-11 17:39] #17857 closed

[2021-11-11 19:40] kvaster commented on #17747
I've tried to experiment with BCC and BPF tracing.
Here is my code for tracing: [trace-pkt.py](https://github.com/cilium/cilium/files/7522849/trace-pkt.py.txt)

Log when it's all ok (request is coming from k8s-2 node):

[code]

Failing log when request is coming from k8s-1:

[code]

It looks like packet is successfully processed by cilium on `wan0.4000`, but after that it fails routing such packet

[2021-11-11 21:17] #17693 closed

[2021-11-11 21:17] #16040 closed

[2021-11-11 21:20] borkmann commented on #17693
@Frankkkkk just merged IPv6 neighbor discovery https://github.com/cilium/cilium/pull/17842 . Should be fixed now, please test again with latest image.

Could you also do a dump of `ip -4 n` and `ip -6 n` once you run the tests? Just for confirmation on the neigh entries on your side that you see them marked as externally learned.

Thanks a lot!

[2021-11-11 21:22] #16694 closed

[2021-11-11 21:23] #14563 closed

[2021-11-11 21:27] briantopping commented on #14563
Will give that a shot, thank you

[2021-11-12 02:37] l1b0k commented on #17853
@pchaigno @brb    thanks for reply .
Kube-proxy will take over external ip or loadbalance ip for in cluster traffic, user may or may not want the traffic go outside.
If do go outside ,they can benefit form diffient load balancing algorithm.  If not , can solve hairpin issue with lb.
Current implement bind this to `enable-node-port` https://github.com/cilium/cilium/blob/49788abb757aa2713492fcc6b2cd

[2021-11-12 06:48] aditighag opened #17858 "Revisit backends and affinity matches clean-up in restore path"
We currently have code to clean-up "orphan" [backends](https://github.com/cilium/cilium/blob/master/pkg/service/service.go#L504-L504) and [affinity matches](https://github.com/cilium/cilium/blob/master/pkg/service/service.go#L491-L491) in the restore path. The intent behind executing the restore logic is to resolve any inconsistencies that may have occurred in the datapath while the agent was down

[2021-11-12 07:58] borkmann commented on #14962
(IPv6 neighbor discovery merged as well now: https://github.com/cilium/cilium/pull/17842)

[2021-11-12 08:18] aditighag commented on #17833
Addressed in  PR - https://github.com/cilium/cilium/pull/17716

[2021-11-12 08:18] #17833 closed

[2021-11-12 11:20] sterchelen opened #17859 "Suspecting wrong backend selection while calling k8s services"
## Bug report

**General Information**

- Cilium version `v1.10.5` via kops addon
- Kernel version `5.8.0-1042-aws`
- Orchestration system version in use `v1.21.2` via kops
- AWS Cloud used
- encryption enable via `IPSec`
- ipv4 only
- hubble activated
- `node-local-dns` installed via kops addon
- `partial` kube-proxy replacement in place
- cni chaining `portmap`
- pods pass through kubernetes ser

[2021-11-12 11:22] sterchelen commented on #17859
ping @gmiam

[2021-11-12 12:29] gmiam commented on #17859
Maybe a precision: we switch `identity-allocation-mode` from `crd` to `kvstore` in the morning. I don't know if it may be confusing in the sysdump

[2021-11-12 12:57] brb commented on #17859
Thanks for opening the issue. This needs more info:
- What service name?
- What client and backend IP addrs?
- Accessed from inside or outside cluster?

[2021-11-12 13:45] sterchelen commented on #17859
Calls should land on `badoom3` service but sometimes land on something else.
Calls coming to `badoom3` are from `doorman` and `pastrami`.

It is really hard to answer this question as our pods come and go :/ ; Tell me if you want me to give you the IP based on the sysdump.

Accessed from inside.

---

One additional information, we **don't have any network policies in place**.

[2021-11-12 15:39] sterchelen commented on #17859
We ran into the same situation and made multiple sysdumps to give you additional info:
- [cilium-sysdump-receiver-1.zip](https://github.com/cilium/cilium/files/7528628/cilium-sysdump-receiver-1.zip)
- [cilium-sysdump-transmitter-1.zip](https://github.com/cilium/cilium/files/7528633/cilium-sysdump-transmitter-1.zip)

The pod `doorman-7f5f67c946-j47nx` should have contacted the `pastrami` service bu

[2021-11-12 16:15] pchaigno commented on #17647
No, there isn't a fix for this yet. I'm not aware of anyone assigned.

[2021-11-12 16:32] jibi opened #17866 "Reply traffic from pods matching a policy is incorrectly being SNAT'ed"
In [bpf_lxc](https://github.com/cilium/cilium/blob/701cfb62549173027fcc3ab497cb9dea8ec38da2/bpf/bpf_lxc.c#L797-L811) the logic to forward traffic to an egress gateway does not check if the traffic is actually originating from the pod.

This means that if an external client connects to a pod which is selected by an egress policy (and the source IP of the client matches the destinationCIDR of the po

[2021-11-12 16:35] aditighag opened #17867 "CI: Encapsulation Check iptables masquerading with random-fully"
## CI failure

[code]

https://jenkins.cilium.io/job/Cilium-PR-K8s-GKE/6910/testReport/junit/Suite-k8s-1/20/K8sDatapathConfig_Encapsulation_Check_iptables_masquerading_with_random_fully/

[d6cbbd7f_K8sDatapathConfig_Encapsulation_Check_iptables_masquerading_with_random-fully.zip](https://github.com/cilium/cilium/files/7529034/d6cbbd7f_K8sDatapathConfig_Encapsulation_Check_iptables_masquerading_wit

[2021-11-12 16:37] #14844 closed

[2021-11-12 16:41] pchaigno commented on #17867
This is a duplicate of https://github.com/cilium/cilium/issues/17307.

[2021-11-12 16:41] #17867 closed

[2021-11-12 17:24] timoreimann opened #17870 "networking broken by cilium-operator running with multiple replicas when ignoring HA due to API server connectivity issues"
## Bug report

**General Information**

- Cilium version: 1.10.1
- Kernel version: `Linux pool-tiny-uxbsu 4.19.0-17-cloud-amd64 #1 SMP Debian 4.19.194-3 (2021-07-18) x86_64 x86_64 x86_64 GNU/Linux`
- Orchestration system version in use: Kubernetes 1.21.5

**How to reproduce the issue**

1. Stop the API server.
2. (Re-)Start cilium-operator with a replica count of 2+, expecting it to do leader elec

[2021-11-12 17:30] timoreimann commented on #17870
I see two possible ways to handle this situation better:

1. Allow cilium-operator to crash and retry. I _think_ there are scenarios where this may be acceptable without leading to a deadlock. Curious to hear people's thoughts, though.
1. Have the operator rediscover leadership capabilities periodically and, once successful, return to running in singleton mode. This seems okay-ish, though I guess

[2021-11-12 19:39] sterchelen commented on #17852
May I take this issue and implement the `+` wildcard feature as @pchaigno proposes?

[2021-11-13 04:22] aanm opened #17874 "v1.11.0-rc1 release"
## Pre-release

- [x] Check that there are no [release blockers] for the targeted release version
- [x] Ensure that outstanding [backport PRs] are merged
- [x] Consider building new [cilium-runtime images] and bumping the base image
      versions on this branch:
  - Cilium v1.10 or later:
     Modify the `FORCE_BUILD` environment value in the `images/runtime/Dockerfile` to force a rebuild.
     [

[2021-11-13 09:53] shivanshu1333 commented on #16146
/assign

[2021-11-13 13:36] kvaster commented on #17747
@brb, packet is dropped by kernel:

`ip_route_input_slow -> mkroute_input -> fib_validate_source -> __fib_validate_source`:

- (main) check, that source is valid i.e. not broadcast or our local address

During routing such packets 'should' be dropped according ro kernel policies.

[2021-11-13 14:40] shivanshu1333 opened #17875 "Unable to install Cilium as DaemonSet in Kubernetes cluster"
While setting up the [development guide](https://docs.cilium.io/en/v1.9/contributing/development/dev_setup/), it's recommended to go through getting [started guide](https://docs.cilium.io/en/v1.9/gettingstarted/minikube/), and the problem occurs after following the mentioned steps

`minikube start --network-plugin=cni --memory=4096`
`minikube start --cni=cilium --memory=4096`
`minikube ssh -- sudo

[2021-11-13 20:19] pchaigno commented on #17875
Could you share a sysdump or the `kubectl describe` of failing pods?

[2021-11-13 21:25] timoreimann commented on #17837
We ran into this problem as well: a cluster with currently 5 nodes had 500+ CiliumNodes. Restarting just cilium-operator did not seem to help: we had to delete the dangling CiliumNodes and delete/restart cilium-operator again before affected agents were able to finish bootstrapping.

We run Cilium v1.10.1.

[2021-11-14 07:06] shivanshu1333 commented on #17875
[code]

[2021-11-14 15:00] roobre opened #17877 "Pods lose connectivity after node is restarted, requiring manual restart to work again"
## Bug report

I run a Kubernetes cluster at my home, which does not have a very high reliability. Sometime power failures will cause my master node to unexpectedly shut down.

When this happens, after the kubelet is back up, containers lose all kind of network connectivity, both to the outside and inside of the cluster (e.g. they cannot reach the APIServer service endpoint). Liveness probes start

[2021-11-14 18:53] johngmyers opened #17878 "Support NAT64 for node egress"
## Proposal / RFE

**Is your feature request related to a problem?**

The desire is to reduce the traffic through an external NAT64 device (and thus the transit cost) or, in some cases, remove the need for an external NAT64 device.

**Describe the solution you'd like**

Cilium should be configurable with an IPv6 CIDR, which must be a /96 or smaller. Traffic egressing to destination addresses that

[2021-11-15 04:24] ysksuzuki commented on #17852
Hi @sterchelen

Can I work on this feature? We need this feature to introduce Cilium in our environment.

[2021-11-15 06:56] sterchelen commented on #17852
Hi @ysksuzuki,

Sure, go ahead!

[2021-11-15 08:05] nannancy opened #17880 "kubectl get ciliumendpoint returns empty columns of INGRESS ENFORCEMENT, EGRESS ENFORCEMENT, VISIBILITY POLICY"
## Bug report

**General Information**

- Cilium version (run `cilium version`)
v1.10.5

command: kubectl get cep -A
output:
[code]

[2021-11-15 09:14] brb commented on #17878
cc @borkmann

[2021-11-15 09:40] maintainer-s-little-helper[bot] opened #17881 "CI: K8sServicesTest Checks graceful termination of service endpoints Checks client terminates gracefully on service endpoint deletion"
### Test Name
[code]

### Failure Output
[code]

### Stacktrace
<details><summary>Click to show.</summary>

[code]
</details>

### Standard Output
<details><summary>Click to show.</summary>

[code]
</details>

### Standard Error
<details><summary>Click to show.</summary>

[code]
</details>

ZIP Links:
<details><summary>Click to show.</summary>

 https://jenkins.cilium.io/job/Cilium-PR-K8s-1.21-ker

[2021-11-15 10:41] chary1112004 opened #17882 "Install cilium v1.10.5 unable to retrieve cilium status: unable to upgrade connection: Authorization error (user=kube-apiserver-kubelet-client, verb=create, resource=nodes, subresource=proxy)"
## Bug report

**General Information**

- Cilium version (run `cilium version`): v1.10.5
- Kernel version (run `uname -a`)
- Orchestration system version in use (e.g. `kubectl version`, ...) Server Version: version.Info{Major:"1", Minor:"18+", GitVersion:"v1.18.20-eks-8c579e", GitCommit:"8c579edfc914f013ff48b2a2b2c1308fdcacc53f", GitTreeState:"clean", BuildDate:"2021-07-31T01:34:13Z", GoVersion:"g

[2021-11-15 10:49] pchaigno commented on #17880
For context, see https://github.com/cilium/cilium/issues/11212#issuecomment-621954889:

When the option is disabled, maybe we could set the value of `INGRESS ENFORCEMENT` to something like `Endpoint status disabled`. (I'm guessing we can't simply control whether those columns are visible in the kubectl output.)
/cc @joestringer

[2021-11-15 10:59] pchaigno commented on #17882
Are you still able to reproduce if you follow the installations steps documented for AWS/EKS (see the tab with same name) at https://docs.cilium.io/en/latest/gettingstarted/k8s-install-helm/?

[2021-11-15 11:05] chary1112004 commented on #17882
If I follow step documented for AWS/EKS then it will show another issue **controller bpf-map-sync-cilium_ipcache is failing**
![cilium-install-eks](https://user-images.githubusercontent.com/76929085/141771151-81b3eedf-b951-485b-a95a-f8449b3d3143.png)

And even after that it is showing test result is passed
![cilium-install-eks-test-activity](https://user-images.githubusercontent.com/76929085/14177

[2021-11-15 11:07] gandro commented on #17880
The output is controlled via the CRD schema:
https://github.com/cilium/cilium/blob/f45630ed01a52d7ede0b767bfb1dfdd9bf889092/pkg/k8s/apis/cilium.io/v2/types.go#L25-L28

There might be away to make the jsonpath more conditional to print something like `unknown` or `status disabled`, but likely more than just a one-line fix.

[2021-11-15 11:12] pchaigno commented on #17882
That's https://github.com/cilium/cilium/issues/17111. It shouldn't impact connectivity.

[2021-11-15 11:23] chary1112004 commented on #17882
Thanks. Do we have official note about this one not impact to work of cilium?

[2021-11-15 11:54] borkmann commented on #11763
Fixed via https://github.com/cilium/cilium/pull/17842

[2021-11-15 11:54] #11763 closed

[2021-11-15 11:55] borkmann commented on #14429
Fixed via https://github.com/cilium/cilium/pull/17842

[2021-11-15 11:55] #14429 closed

[2021-11-15 12:00] borkmann commented on #12201
closing as resolved

[2021-11-15 12:00] #12201 closed

[2021-11-15 12:10] chary1112004 commented on #17882
@pchaigno

I have just installed cilium v1.10.5 and upgraded AWS EKS to v1.20.0 then it really works without error

$ kubectl -n kube-system delete daemonset aws-node

$ helm install cilium cilium/cilium --version 1.10.5 \
  --namespace kube-system \
  --set eni.enabled=true \
  --set ipam.mode=eni \
  --set egressMasqueradeInterfaces=eth0 \
  --set tunnel=disabled \
  --set nodeinit.enabled=true

[2021-11-15 12:19] borkmann commented on #17300
Fixed with managed neighbor rework where Cilium doesn't install PERM entries anymore. Closing.

[2021-11-15 12:33] smira opened #17883 "cilium pod relies on `sh` on the host"
## Bug report

The bug seems to be almost same as #16771.

Cilium v0.10.5, as installed with `cilium install` generates a pod definition with `init` container relying on `sh` on the host filesystem:

[code]

**General Information**

- Cilium version (run `cilium version`)

[code]
- Kernel version (run `uname -a`)
- Orchestration system version in use (e.g. `kubectl version`, ...) 1.23.0-alpha.4
-

[2021-11-15 13:12] pchaigno commented on #17882
Great to know it works for you now!

[2021-11-15 13:12] #17882 closed

[2021-11-15 13:18] borkmann commented on #15381
Should be fixed in latest image (1.11).. pls try `quay.io/cilium/cilium-ci:latest` and if it still doesn't work, pls reopen. Thanks!

[2021-11-15 13:18] #15381 closed

[2021-11-15 13:27] borkmann commented on #15200
Hi @kovalyukm, should be fixed with managed neighbor rework in latest master, please try with `quay.io/cilium/cilium-ci:latest` or 1.11-rc1 or later. If the issue still persists, please reopen in here. Thanks for your help!

[2021-11-15 13:27] #15200 closed

[2021-11-15 13:34] pchaigno commented on #17875
Any reason to use v1.9 instead of v1.10?

Does resolving quay.io from the Minikube node before installation Cilium work?

[2021-11-15 13:37] pchaigno commented on #17877
I see the host firewall is enabled but there are no host policies loaded. Does the same issue still happen if you disable the host firewall?

Also, are there packet drops reported by Cilium when connectivity breaks?

[2021-11-15 14:00] ldelossa commented on #16967
@schizo99 @shosti

Can you please attempt your same deployments with the latest Cilium build? For example with a cilium install equivalent to:
[code]

We've merged in some changes to the BGP package which may solve some of these issues.

If they do not, we'll begin troubleshooting.

[2021-11-15 14:03] ldelossa commented on #15611
One outstanding item is concept docs. Seeing how the longer-term plan is to move this feature to GoBGP we may want to wait until this migration to cement in the conceptual overview of the feature. Going to close for now, but feel free to open back up if anyone feels my assessment is wrong.

[2021-11-15 14:03] #15611 closed

[2021-11-15 17:21] ArsenyBelorukov commented on #14118
Is there any news on this issue?
Currently, to avoid loop, I add route to nodes, that receive traffic to LB:
`ip r add local 10.120.128.0/19 dev eth0 table local proto 66 scope host`
where 10.120.128.0/19 is LB CIDR range.

[2021-11-15 17:36] aditighag commented on #17881
DNS resolution for the service took much longer.

Also, attaching the sysdump zip folder.

[c2e271e6_K8sServicesTest_Checks_graceful_termination_of_service_endpoints_Checks_client_terminates_gracefully_on_service_endpoint_deletion.zip](https://github.com/cilium/cilium/files/7540573/c2e271e6_K8sServicesTest_Checks_graceful_termination_of_service_endpoints_Checks_client_terminates_gracefully_on_serv

[2021-11-15 18:10] aditighag commented on #17881
The timeout to resolve service FQDN was previously set to 10s which might not be enough. Bumped it up. Will monitor the issue for a couple of more days.

[2021-11-15 18:11] bazzuka opened #17893 "Cilium TCP: too many orphaned sockets"
**General Information**

- Cilium version 1.10.5
- Kernel version (run `uname -a`) Linux 5.11.0-38-generic #42~20.04.1-Ubuntu SMP Tue Sep 28 20:41:07 UTC 2021 x86_64 x86_64 x86_64 GNU/Linux
- Orchestration system version in use (e.g. `kubectl version`, ...). v1.20.11
[code]

I got a new problem with network cards. Cards are flapping and I am seeing ```[235611.755637] TCP: too many orphaned sockets

[2021-11-15 18:16] joestringer commented on #17880
:+1: I'd be in favour of rendering this better when it's disabled, or even re-enabling these options by default for small clusters (ie unless you explicitly state that you're trying to target scale). I think the default right now assumes that you're running at high scale where disabling these checks is necessary, but most users who hit this issue could have avoided it if Cilium just turned these s

[2021-11-15 18:34] aditighag commented on #17893
Have you looked at these socket connections using `netstat`/`ss`? What are the destination port numbers? Maybe there are a large number of connections in the `TIME_WAIT` state?

[2021-11-15 19:08] bazzuka commented on #17893
I send sysdump to @aanm in slack
<img width="1668" alt="Screenshot 2021-11-15 at 21 06 09" src="https://user-images.githubusercontent.com/15695060/141839693-f395ec3f-05f6-4b20-92fa-81b01ec51378.png">

worker17 in sysdump. 11:40 UTC

[2021-11-15 19:12] bazzuka commented on #17893
Normal situation for this server
<img width="810" alt="Screenshot 2021-11-15 at 21 11 21" src="https://user-images.githubusercontent.com/15695060/141840171-19370bb1-0e4f-4553-b25d-4ae5807a8155.png">
<img width="1643" alt="Screenshot 2021-11-15 at 21 10 31" src="https://user-images.githubusercontent.com/15695060/141840180-595fc818-6c89-4869-baf6-6352d82bc424.png">

[2021-11-15 19:57] maintainer-s-little-helper[bot] opened #17895 "CI: K8sServicesTest Checks service across nodes Tests NodePort BPF Tests with direct routing Tests NodePort: unable to lookup route for node <nil>: numerical result out of range"
### Test Name
[code]

### Failure Output
[code]

### Stacktrace
<details><summary>Click to show.</summary>

[code]
</details>

### Standard Output
<details><summary>Click to show.</summary>

[code]
</details>

### Standard Error
<details><summary>Click to show.</summary>

[code]
</details>

ZIP Links:
<details><summary>Click to show.</summary>

 https://jenkins.cilium.io/job/Cilium-PR-K8s-1.21-ker

[2021-11-15 20:10] joestringer commented on #17895
Test artifacts: [8bfece34_K8sServicesTest_Checks_service_across_nodes_Tests_NodePort_BPF_Tests_with_direct_routing_Tests_NodePort.zip](https://github.com/cilium/cilium/files/7541340/8bfece34_K8sServicesTest_Checks_service_across_nodes_Tests_NodePort_BPF_Tests_with_direct_routing_Tests_NodePort.zip)

The following looks suspicious:

[code]

This occurs on `cilium-h5t8f` which has the following allo

[2021-11-15 20:12] joestringer opened #17896 "Bugtool for dumping IPv6 routes is broken"
Found in https://github.com/cilium/cilium/issues/17895:

[code]

These lines should not be using the `%v` formatter but should instead format the IPv6 addresses in a standard format that `ip -6 route ...` can understand:

https://github.com/cilium/cilium/blob/789eef0d148d0aa590d2a1b2da7fd69da6dafc47/bugtool/cmd/configuration.go#L262

Tasks:
* [ ] Fix IPv6 route debug gathering commands
* [ ] Grep

[2021-11-15 21:34] roobre commented on #17877
@pchaigno Good point, I'll disable it and see if I can reproduce the issue.

[2021-11-15 21:48] roobre commented on #17877
Just made a quick check and flipping `hostFirewall` to false does solve the issue. Thanks a lot!

However I'm curious to know how this can happen. Perhaps I did not understand the host firewall feature completely. Do you happen to have more insight about why this happened, and why restarting the cilium pod fixed the issue when host firewall was enabled?

Thanks a lot!

[2021-11-16 02:49] #17874 closed

[2021-11-16 02:58] aanm commented on #17883
@smira would you be willing to submit a PR to cilium/cilium-cli with a patch similar to https://github.com/cilium/cilium/pull/16815? Thanks

[2021-11-16 03:09] aanm commented on #17870
@timoreimann the minimum k8s support by Cilium in v1.10 is 1.16. The leases are available since k8s 1.14. It is safe to remove the resource discovery for leases and always assume they are available. Will you be able to submit a PR to remove that? Thanks

[2021-11-16 07:33] schizo99 commented on #16967
Tried running with the cilium-ci image.
Same behaviour as before. Have to kill the cilium pod for updates to be sent to the router.

I.e. I add a `LoadBalancer` then no updates are sent. Restart the pod then the updates are sent.
Worth noting is that if I remove the `LoadBalancer` the route is withdrawn immediately.

I've attached a cilium
[cilium-sysdump-20211116-083157.zip](https://github.com/ci

[2021-11-16 09:39] pchaigno commented on #17877
Without host policies loaded, it's definitely not expected. I suspected the host firewall might play a role here because, when enabled, it attaches BPF programs to the native devices.

To figure this out, you could:
- Check for packet drops reported by Cilium while the network is down.
- Trace the failing (SSH?) connections, to see where the packets are dropped.
- Collect a bugtool report for the

[2021-11-16 09:53] maintainer-s-little-helper[bot] opened #17897 "CI: RuntimePrivilegedUnitTests Run Tests"
### Test Name
[code]

### Failure Output
[code]

### Stacktrace
<details><summary>Click to show.</summary>

[code]
</details>

### Standard Output
<details><summary>Click to show.</summary>

[code]
</details>

### Standard Error
<details><summary>Click to show.</summary>

[code]
</details>

ZIP Links:
<details><summary>Click to show.</summary>

 https://jenkins.cilium.io/job/Cilium-PR-Runtime-net-

[2021-11-16 09:54] pchaigno commented on #17897
Privileged unit tests failed at:
[code]
@borkmann Could this be related to your recent changes?

[2021-11-16 11:15] borkmann commented on #17897
I think the PR itself in https://github.com/cilium/cilium/pull/17733 might have broken the test suite.

The PR's description says: `For IPv6 only link-local addresses are allowed. If other ranges are desired, they can be enabled by creating /etc/vbox/networks.conf and specifying allowed ranges there.`

The merged revert in https://github.com/cilium/cilium/pull/17898 should have "fixed" it again, w

[2021-11-16 11:41] pchaigno commented on #17897
@borkmann That comment is for the VirtualBox VMs' host-only interfaces. AFAICS, the unit test only assigns IP addresses to dummy devices.

[2021-11-16 11:50] smira commented on #17883
@aanm I'm not a Cilium user myself, I filed this issue on behalf of the Talos community member. I can certainly try, but it might take some time

[2021-11-16 13:07] bazzuka commented on #17893
Also masters requires periodic reboots. IRQ 100 percent on 4 cpu cores

[2021-11-16 13:45] pchaigno commented on #17647
I was able to reproduce this in our CI by upgrading the VM image for 4.19 (cf. https://github.com/cilium/packer-ci-build/pull/291 and https://github.com/cilium/cilium/pull/17761).

There is a complexity with the default KPR=disabled setup:
[code]
And another affecting KPR=strict + DSR:
[code]

One of those BPF verifier commits probably degraded the efficiency of state pruning:
[code]
@borkmann Any

[2021-11-16 14:04] nbusseneau commented on #17897
As noted in https://github.com/cilium/cilium/pull/17900#issuecomment-970303819, the PR re-run (https://jenkins.cilium.io/job/Cilium-PR-K8s-1.16-net-next/1953/) seems to have gotten through just fine. If it was indeed an issue due to VirtualBox interfaces I think it would have been blocked again, so I would tend to think this flake is code-related.

[2021-11-16 14:43] kvaster commented on #17747
Updates: this can be fixed by enabling accept_local on DSR interface.

net.ipv4.conf.IFACE.accept_local = 1

[2021-11-16 15:25] pchaigno commented on #17897
A second run of the test at https://github.com/cilium/cilium/pull/17900 passed, so it doesn't look like the failure was caused by the change in IP addresses.

[2021-11-16 15:44] jonkerj opened #17903 "Incorrect policy verdict when using port name in NP"
## Bug report
I keep running into drop verdicts when I refer to ports by their `name` in (vanilla k8s) network policies. They do not fail consitently, but often in my setup.

**General Information**
- Cilium version: `1.10.5 b0836e8`
- Kernel version: `Linux omitted 5.10.69-talos #1 SMP Thu Sep 30 16:08:23 UTC 2021 x86_64 x86_64 x86_64 GNU/Linux`
- Orchestration system version in use: Kubernetes v

[2021-11-16 15:50] pchaigno commented on #17903
Could you share a Cilium sysdump of your cluster?

[2021-11-16 16:44] jonkerj commented on #17903
Sure, find it [here](https://efgh.nl/~jorik/cilium-sysdump-20211116-174101.zip)

[2021-11-16 16:48] aditighag opened #17904 "Improve node manager's events tracking"
Cilium agent instantiates a node manager that propagates update/delete events related to `CiliumNode` custom resource. The node manager then relays this information to handlers like neighbor discovery that's tasked with updating ARP entries for nodes to support L2 neighbor discovery for the datapath. Currently, the node manager [code path](https://github.com/cilium/cilium/blob/master/pkg/node/mana

[2021-11-16 17:03] nbusseneau commented on #17644
This issue can be easily reproduced by spinning up an AKS cluster and then installing Cilium with encryption enabled before running a connectivity test:

[code]

When encryption is enabled, the issue happens almost every time. With encryption not enabled, the issue happens only very rarely.

[2021-11-16 17:10] gandro commented on #17644
Will likely fixed by https://github.com/cilium/cilium/pull/17865 ?

[2021-11-16 17:11] nbusseneau commented on #17644
We can run the CI with AKS enabled on top of the PR to check 🚀

[2021-11-16 18:10] aditighag opened #17905 "Neighbor discovery handler leaves stale ARP entries in certain cases"
Cilium agent instantiates a node manager that's tasked with updating ARP entries for nodes to support L2 neighbor discovery for the datapath. The agent running on a node listens for node custom resource events, and updates/delete ARP entries for remote nodes in the cluster. However, if a remote node was deleted while the agent was down, the agent won't get a delete event for the node. As a result,

[2021-11-16 20:20] joestringer opened #17907 "CI: ConformanceAKS: client-ingress/client-to-client/ping-0: Receiving flows from Hubble Relay: gRPC error: rpc error: code = Unavailable desc = error reading from server: EOF"
https://github.com/cilium/cilium/runs/4219247052?check_suite_focus=true

The CI test failed, but I couldn't tell if the failure was because of inability to connect to Hubble and validate the flows or whether it's because there was an actual connectivity issue:

[code]

[2021-11-16 20:35] pchaigno opened #17908 "Egress gateway for IPv6"
The egress gateway feature is only supported for IPv4 for now. Implementing the same for IPv6 connections would require support for BPF-based IPv6 masquerading (cf. https://github.com/cilium/cilium/issues/14350).

[2021-11-17 00:28] joestringer opened #17910 "clustermesh-apiserver may not release allocated identities"
This line of code allocates identities, but the clustermesh-apiserver does not appear to have any code to handle the corresponding release of this resource:

https://github.com/cilium/cilium/blob/181168f13af0c9c0f59ecb56e64e9b1d7146986a/clustermesh-apiserver/vmmanager.go#L244

This seems potentially problematic, most likely in the case where either nodes join and leave or when identities change fo

[2021-11-17 08:50] borkmann commented on #17893
From the agent's log where you have the `TCP: too many orphaned sockets` flood, Cilium's status says `Host Routing:           Legacy`, so either way the BPF Host routing was not enabled in the first place due to missing kernel requirement.

What's your current `/proc/sys/net/ipv4/tcp_max_orphans`? Did you try to bump it? Do you happen to know what's causing the orphans? Occasional large spikes in

[2021-11-17 09:16] #14724 closed

[2021-11-17 09:36] borkmann commented on #17893
One other thought: did you try to customise the BPF map sizing?

Your `bpf-map-dynamic-size-ratio` is at `0.0025` (seen in `cilium status --verbose`). If you'd for example double it to `0.005`, are you still running into the issue? (Note that changing this setting is disruptive to ongoing connections.)

The agent log seems to have a lot of `Deleted orphan SNAT entries from map` log entries which m

[2021-11-17 09:56] ti-mo commented on #17617
Found the root cause:
[code]

[2021-11-17 10:40] ti-mo opened #17914 "CI: Data race in `(*cesManagerIdentity).updateCESInCache()`"
This tripped the race detector on two separate tests:
- https://jenkins.cilium.io/view/Race%20Detection/job/cilium-master-k8s-1.21-kernel-4.19-race-detection/217/
- https://jenkins.cilium.io/view/Race%20Detection/job/cilium-master-k8s-1.22-kernel-4.9-race-detection/209/

Zips:
- [5c2ec42f_K8sServicesTest_Checks_graceful_termination_of_service_endpoints_Checks_client_terminates_gracefully_on_servic

[2021-11-17 10:50] ti-mo opened #17915 "CI: Data race in bugtool's `runAll()`"
https://jenkins.cilium.io/view/Race%20Detection/job/cilium-master-runtime-kernel-net-next-race-detection/232/

Zip:
[e5a0f69a_RuntimeFQDNPolicies_Roundrobin_DNS.zip](https://github.com/cilium/cilium/files/7553883/e5a0f69a_RuntimeFQDNPolicies_Roundrobin_DNS.zip)

[code]

@tklauser

[2021-11-17 10:55] brb commented on #17881
@aditighag I'd suggest to check whether this is not yet another instance of the DNS entries not ready - https://github.com/cilium/cilium/issues/14598#issuecomment-920662877 (check NXDOMAIN in the coredns logs). https://github.com/cilium/cilium/issues/17401 is probably the root issue for this flake.

[2021-11-17 10:57] pchaigno commented on #17617
But what's the cause for the cause? It's hard to believe the IPAM range is legitimately full given we only deploy a couple pods in that test.

[2021-11-17 11:58] borkmann commented on #17767
x-ref: https://github.com/flatcar-linux/Flatcar/issues/372#issuecomment-971436356

Should be fixed via: https://www.flatcar-linux.org/releases/#release-2905.2.1

[2021-11-17 13:04] konghui opened #17917 "cilium lrp list is empty after apply a lrp rules"
## Bug report
When I use LRP with node-local-dns. I find a problem, when I apply a LRP yaml file. The `cilium lrp list ` out put still is empty. and no extra log output.

LRP yaml:
[code]
![image](https://user-images.githubusercontent.com/379565/142205945-e496b683-601c-4baf-80a0-6812e892cc5e.png)

**General Information**

- Cilium version (run `cilium version`) 1.10.2
- Kernel version (run `uname

[2021-11-17 13:41] maintainer-s-little-helper[bot] opened #17919 "CI: K8sServicesTest Checks ClusterIP Connectivity Checks service on same node"
### Test Name
[code]

### Failure Output
[code]

### Stacktrace
<details><summary>Click to show.</summary>

[code]
</details>

### Standard Output
<details><summary>Click to show.</summary>

[code]
</details>

### Standard Error
<details><summary>Click to show.</summary>

[code]
</details>

ZIP Links:
<details><summary>Click to show.</summary>

 https://jenkins.cilium.io/job/Cilium-PR-K8s-1.22-ker

[2021-11-17 13:41] jibi commented on #17919
Seen also in https://github.com/cilium/cilium/pull/17869#issuecomment-971460563

[2021-11-17 14:34] pchaigno opened #17921 "CiliumEndpointSlice renders CiliumEgressNATPolicies ineffective"
Enabling CiliumEndpointSlice breaks the egress gateway feature by making all egress NAT policies ineffective.

### Reproduction

This bug can be reproduced locally with the following command because CiliumEndpointSlices are enabled on K8s >=1.21 and ginkgo is running 1.22 by default.
[code]
The test fails with the following because packets are not sent to the egress gateway or SNATed to the egress

[2021-11-17 14:40] jrajahalme commented on #16680
Still happening on #17191, on k8s 1.22 kernel 4.9 pipeline only.

[2021-11-17 14:46] timoreimann commented on #17870
@aanm for sure I can give it a try. 👍

Will report back with a PR once I have some spare time to work on this.

Thanks!

[2021-11-17 15:25] withlin commented on #11039
+1

[2021-11-17 15:36] aditighag commented on #17917
Does the `coredns` service exist? What's the output of `kubectl get svc -n kube-system` and `kubectl get endpoints -n kube-system`?

[2021-11-17 15:54] shivanshu1333 commented on #17896
I'd like to work on it
/assign

[2021-11-17 15:54] shivanshu1333 commented on #17896
@joestringer can you please assign the issue to me :)

[2021-11-17 15:56] shivanshu1333 commented on #17883
I can pick this up,
@aanm can you please assign this to me? :)

[2021-11-17 16:15] epollia opened #17922 "Stop annonsed to bgp peer podCidrs after creating Service LoadBalanser type"
## Bug report
**General Information**

- Cilium version 1.11.0-rc1
- Kernel version 5.15.0-1
- Orchestration system version in use kubectl v1.22.3

[code]
[code]
**How to reproduce the issue**

1. Configure BGP, enable bgp.announce.podCIDR = true and loadbalancerIP = true
2. Create Service LoadBalancer

[2021-11-17 16:16] Weil0ng commented on #17921
I think this is duplicate of https://github.com/cilium/cilium/issues/17669.

[2021-11-17 16:17] aditighag opened #17923 "[backport tracking] Neighbor discovery handler leaves stale ARP entries in certain cases"
Tracking issue for backport of the fix - neigh: Clean up stale/untracked non-GC'ed neighbors #17918.

[2021-11-17 16:18] pchaigno commented on #17921
Oh, right! I had completely forgot about that one :facepalm: I've flagged it as `bug`. Thanks @Weil0ng!

[2021-11-17 16:18] #17921 closed

[2021-11-17 16:18] pchaigno commented on #17669
Easy to reproduce in master with:
[code]

[2021-11-17 16:26] Weil0ng commented on #17669
This is currently captured as a caveat in the CES guide document for 1.11, will remove that once this is fixed.

[2021-11-17 16:45] #17915 closed

[2021-11-17 17:21] bbck opened #17925 "Improve logging when failing to create a veth device"
## Proposal / RFE

**Is your feature request related to a problem?**

The base Ubuntu distribution for Raspberry Pi's does not ship with the veth kernel module. Trying to install cilium results in it failing with only a "operation not supported" message.

Thread in Slack: https://cilium.slack.com/archives/C53TG4J4R/p1637010685276600

**Describe the solution you'd like**

1. Cilium should log the f

[2021-11-17 17:22] aditighag commented on #17881
Brought up during the community meeting, I'm seeing exactly the same behavior.

[2021-11-17 17:23] aditighag commented on #17881
I reopened the issue because until #17401 is resolved, MLH will keep on filing new issues.

[2021-11-17 17:43] joestringer commented on #17669
Does this impact whether we can enable the feature by default in future installs?

[2021-11-17 18:33] pchaigno commented on #15962
IPsec is failing on Minikube because the kernel used when running in a VM is missing a lot of configs required to run Cilium's IPsec implementation. The full list of required configs can be seen at https://github.com/cilium/packer-ci-build/blob/407062ec454ab38ecdf1399bc3176df7f54fb182/provision/ubuntu/kernel-next.sh#L109-L131 and will be documented as part of https://github.com/cilium/cilium/issue

[2021-11-17 18:33] #15962 closed

[2021-11-17 18:53] pchaigno commented on #17925
The unhelpful messages are:
[code]
To improve those, we could add some context to the places where we return errors, at https://github.com/cilium/cilium/blob/c78195592e65349c72724784c834cd8cd5b20218/pkg/datapath/loader/base.go#L403-L405 or even inside `setupBaseDevice()`.

[2021-11-17 20:33] joestringer commented on #16987
Hemanth Malla has prepared a CFP for discussion on support for this feature: https://docs.google.com/document/d/1qs6q728nud6yOr2G_wFn-h_k2DVOSo8NbNpYle4ALW8/edit?usp=sharing

[2021-11-17 21:51] roobre commented on #17877
Sounds interesting, I'll try to allocate some time this weekend to reproduce the issue again and produce more detailed reports.

Just a qq about

Do you happen to know where can I check for that?

Thanks!

[2021-11-17 23:32] joestringer commented on #16512
It should be possible to use parsed-literals to pick up the current version and fix this up.

[2021-11-17 23:35] michi-covalent opened #17926 "Validate guides for 1.11 release"
Below is a set of platforms with a semi-randomly picked feature "getting started guide" links. The goal is to test each platform with at least one of the getting started guides.

Please test using https://docs.cilium.io/en/v1.11.0-rc3/ (If this is a 404, the release is not yet ready). For quick install guides, ensure to pass the version argument to the Cilium CLI to install the correct version.

#

[2021-11-18 02:34] aanm opened #17927 "v1.11.0-rc2 release"
## Pre-release

- [x] Check that there are no [release blockers] for the targeted release version
- [x] Ensure that outstanding [backport PRs] are merged
- [x] Consider building new [cilium-runtime images] and bumping the base image
      versions on this branch:
  - Cilium v1.10 or later:
     Modify the `FORCE_BUILD` environment value in the `images/runtime/Dockerfile` to force a rebuild.
     [

[2021-11-18 07:30] borkmann commented on #6756
Also seen in: https://github.com/cilium/cilium/issues/17895

[2021-11-18 09:19] acabrele commented on #17883
I've hit the same issue using rancheros (deploying cilium using the cilium cli to a cluster prepared with rancher gui, having set network.plugin: none).  The guide [here](https://docs.cilium.io/en/v1.10/gettingstarted/k8s-install-rancher-existing-nodes/) suggests using "existing nodes", but if they are rancheros nodes this issues still occurs.  I can't see a way to disable with nodeinit.enabled=fa

[2021-11-18 09:55] pchaigno commented on #17877
You can use [Hubble](https://docs.cilium.io/en/stable/operations/troubleshooting/#observing-flows-with-hubble) for that, with the `-t drop` flag in CLI. `cilium monitor -t drop` should also work.

[2021-11-18 10:24] gandro commented on #17922
Thanks for the report. Are you able to provide a sysdump with debug logs (Helm: `debug.enabled=true`)?

cc @ldelossa

[2021-11-18 12:56] GabMgt commented on #17647
After some tests, Debian 11 recent kernel (5.10.0-7-amd64 => 5.10.40-1) does not have this problem.

[2021-11-18 13:29] #17905 closed

[2021-11-18 15:06] bazzuka commented on #17893
@borkmann hi, thanks for your comments but we have removed cilium from our stack. There are really huge losses for us. Cilium has perfect idea but implementation bring us unexpected downtime. I think you can close the issue.

[2021-11-18 20:56] joestringer commented on #6347
The latest hit of this issue was due to a test pollution issue from a prior test:

[code]

Agent logs:
[code]

[code]

This is a different test creating pods with different identities, running immediately prior to the policies test here. The identity is not yet released at the time that this policies test runs. This policies test then prepares an exact list of expected identities, assuming that th

[2021-11-18 21:25] joestringer commented on #11191
This only occasionally hits PRs, but it's quite frustrating to be unable to investigate further when a failure occurs in a BeforeAll.

[2021-11-18 22:54] borkmann commented on #17897
Been running https://github.com/cilium/cilium/pull/17913 `test-runtime` 13 times so far and never hit the above flake once, neither locally. Hmm, I wonder if its only hit under load somehow in case multiple VM instances are run on the same CI node if that is a possibility.