[2021-02-19 10:46] aanm opened #15036 "Run GitHub actions when certain paths are modified"
Not all of the GH actions need to be run once a PR is pushed. GitHub actions have the ability of understanding paths that will should trigger a particular workflow. For example:

[code]

It would be good to set these paths, if possible, in all GitHub actions so we make sure we only run them when necessary.

More info [here](https://docs.github.com/en/actions/reference/workflow-syntax-for-github-ac

[2021-02-19 11:10] a-a-abramov commented on #14969
Case with policy present:
[code]

Once policy is absent:
[code]

IPs are assigned as follows:
control-plane hw-cheryl:
 - IP `xx:yy:zz:110a:ef02:1:0:2`
 - pod cidr `xx:yy:zz:1150::/80`

worker hw-cedric (CoreDNS is here and has pod IP `xx:yy:zz:1150:1::eee`):
- IP `xx:yy:zz:110a:ef02:1:0:7`
- pod cidr `xx:yy:zz:1150:1::/80`

worker hw-cassie (DNS client is here and has pod IP `xx:yy:zz:1150:2::9f8

[2021-02-19 11:21] pchaigno commented on #15036
What exceptions do you have in mind? Only run if `bpf/` is changed? Do not run if only `Documentation/` is changed?

For the `Documentation/` example, I think we tried and reverted because the GHA is marked required. If you skip a required job with `paths:`, the PR never reaches a "green" status.

I think we also had some discussion on that for `bpf/` but I don't remember why we didn't make the ch

[2021-02-19 12:14] aanm commented on #14844
The requirement is as simple as:
a) do not serve new connections for backends with `terminating != nil && *terminating == true` where this value is available in EndpointSlice k8s structure.
Regarding the implementation, it should be as:
a) if we receive an endpoint event with `terminating != nil && *terminating == true`, keep it in the list of backends which should not be selected for new connecti

[2021-02-19 12:38] uhthomas commented on #11430
Observed in v1.9.1. Will update to v1.9.4 and hope for the best.

[2021-02-19 13:18] aanm commented on #15036
That is unfortunate... :disappointed:

[2021-02-19 14:05] pchaigno commented on #11014
@ti-mo also mentioned that this probing could be implemented in cilium/ebpf.

Although it may take a bit longer than extending bpftool, I agree this would be best in the long term as it avoids the need to shell out with bpftool. We also wouldn't need to package bpftool in the Cilium container image.

[2021-02-19 15:41] aanm commented on #14283
@christarazi it simply happens by deploying the operator in a fresh cluster (without any CRD deployed). I don't think it's necessary repro steps as code analysis could easily show this.

[2021-02-19 16:05] aditighag commented on #14844
To add more context, this is marked as Alpha in v1.20 that we recently upgraded Cilium to, and part of a new [KEP](https://github.com/kubernetes/enhancements/tree/master/keps/sig-network/1672-tracking-terminating-endpoints). It looks like this condition already accounts for the `GracePeriod` for pods. Regardless, I found that the termination grace period is indeed included in the `ObjectMeta` stru

[2021-02-19 16:16] aditighag commented on #12859
Tracking the fix for this issue in https://github.com/cilium/cilium/issues/14844.

[2021-02-19 16:17] aditighag commented on #10217
Tracking the fix for this issue in https://github.com/cilium/cilium/issues/14844.

[2021-02-19 16:17] aanm commented on #14844
Similarly to our feature which would be alpha/beta and we would have to support 2 mechanisms, the k8s way and our way. Kubernetes 1.21 will be released in ~2 months, luckily by then the release will be stable.

The problem is that we can't simply watch for all Pods from all nodes as it does not scale so I would suggest to use a feature that is already available in Kubernetes upstream and adjust ou

[2021-02-19 16:18] aditighag commented on #13123
@enkov We are tracking the fix for this issue in https://github.com/cilium/cilium/issues/14844. Can you close this issue?

[2021-02-19 16:19] #13123 closed

[2021-02-19 16:20] aditighag commented on #14844
Yes, the new k8s feature addresses the problem I've stated above so I'll be using that.

[2021-02-19 16:21] #10217 closed

[2021-02-19 16:29] pszymanski-intel commented on #15025
I did more investigation with eBPF code armed with traces and I noticed that handle_ipv4_from_lxc function is called multiple times (probably when the TCP SYNC is repeated) and the function exits by calling redirect_neigh with ifIndex of the physical device which is the ipvlan master. Is it expected?

[2021-02-19 16:59] pszymanski-intel commented on #15025
As a next step I commented out the piece of code calling redirect_neigh and forced the code to go to pass_to_stack label. After the change I can see on tcpdump SYNC packets coming from the pod, but with Cluster IP instead of backend pod (NGINX) IP. My understanding is that the Cluster IP shall be replaced with pod IP by sock4_connect function. Need to figure out why this does not happen.

[2021-02-19 17:20] pszymanski-intel commented on #15025
When I added a trace in sock4_connect function I can see the function being called, but it also caused that problem has disappeared. What's more, when I removed the trace the problem did not return. It looks like for some reason the function was called. Is it possible that there was a problem with loading and attaching the bpf program?
And when I reverted the change in handle_ipv4_from_lxc, the pr

[2021-02-19 19:42] joestringer commented on #15035
Hi @ShotaKitazawa , I don't fully understand the proposals but it seems like the base problem is that GKE dataplane v2 is not providing a fully functional Hubble Relay service. If that's the core issue then I think the best way to move forward is to report this through Google support channels and provide the feedback to the product managers there so that Cilium is configured correctly to allow Hub

[2021-02-19 20:04] pchaigno opened #15041 "Datapath infrastructure to test arbitrary kernels"
Our current end-to-end tests run on VMs built at https://github.com/cilium/packer-ci-build, with three possible kernel versions: 4.9, 4.19, and bpf-next. However, we would like to be able to run quick sanity checks (at least load our BPF datapath) on more kernels (including LTS such as 5.4 & 5.10).

There are several solutions possible here, such as using Kata containers, Virtme, or QEMU. cilium/e

[2021-02-19 20:13] aditighag commented on #15041
I recently had an experience of using this on my cilium/ebpf PR. It was super fast, and looking at the yaml it didn't feel so heavy weight. It might be a good potential candidate for running cilium (linux) tests. I'll see if I can do a small PoC.

[2021-02-19 21:24] qmonnet commented on #15036
I remember we discussed it for checkpatch but I can't find the discussion. I know you had pointed a few other cases, each time the conclusion was that it prevents us from marking the actions as “required”. I can find:
- [this commit](https://github.com/cilium/cilium/commit/5a5d30df99570100f3bd78d7308521f2accdfef6)
- [this commit](https://github.com/cilium/cilium/commit/8107051389920b742cad885c881d

[2021-02-19 21:28] joestringer commented on #14339
The interesting point to me here is the "unrelated interfaces" piece. If it's really about *excluding* unrelated networks, then I'd be curious which devices you'd consider as 'unrelated'. The most obvious cases are excluding tunnel and veth devices, and I think we should probably exclude those from the "relevant networks" detection either way. On the other hand, if you're sidestepping that problem

[2021-02-19 21:48] pchaigno commented on #15036
Does that mean we should close this issue? @aanm Did you have any other cases in mind?

[2021-02-19 22:32] pszymanski-intel commented on #15025
I verified that setting EnableHostLegacyRotuing = true solves the problem. If ipvlan is not compatible with Host Legacy Routing than the cilium-agent shall reject such combination.

[2021-02-19 22:35] pchaigno commented on #15025
AFAIU, yes, `ENABLE_REDIRECT_FAST` shouldn't be enabled with ipvlan. /cc @borkmann can confirm.

[2021-02-20 11:02] #15036 closed

[2021-02-21 07:15] e36-cicd commented on #10528
I've just been affected by this issue using Cilium 1.8.0 (indeed using Cilium-managed etcd).
Any idea if it has been fixed in a more recent version?

[2021-02-21 10:23] elfadel commented on #10067
It seems there is no real issue with this issue.

The “issue” could be reproduced/checked by using two cmds: `sudo bpftool cgroup show` or `sudo bpftool cgroup tree`.
Let first consider the `sudo bpftool cgroup show` cmd.

The default cgroup root location is set to `/var/run/cilium/cgroupv2`.

First, check that bpf_sock progs are attached. Make sure cilium is installed and correctly set up.

`sudo

[2021-02-21 11:31] diversario commented on #11430
I've not looked into this recently so I can't tell one way or another. I'm currently at 1.8.x.

[2021-02-21 16:08] jrajahalme commented on #13400
Happened on kernel 4.9/k8s 1.14 on v1.8, gops fixed port fix not backported to v1.8.

[2021-02-21 16:38] jrajahalme commented on #10627
@joestringer  Hit something similar at https://jenkins.cilium.io/job/Cilium-PR-K8s-1.12-net-next/1607/testReport/junit/Suite-k8s-1/12/K8sUpdates_Tests_upgrade_and_downgrade_from_a_Cilium_stable_image_to_master/. Maybe this can still happen on upgrade/downgrade test involving Cilium version(s) earlier than v1.9?

[2021-02-22 03:21] ShotaKitazawa commented on #15035
Thank you for your reply.

I do so, thanks.

[2021-02-22 03:21] #15035 closed

[2021-02-22 07:30] brb commented on #15025
Also, if you can use `ENABLE_REDIRECT_FAST`, then there is no much gain in using ipvlan. See https://cilium.io/blog/2020/11/10/cilium-19#virtual-ethernet-device-optimization-with-ebpf.

[2021-02-22 07:39] joestringer commented on #10627
I should have been more clear: PR #12986 prevents overlapping routes on the node from triggering IPAM issues. There can still be IPAM issues derived from some other cause, like actually running out of IP space, or inability to coordinate with k8s/kvstore to allocate IPs (when IPs are centrally allocated). @jrajahalme given that the above was hit in a standard CI job, it is unlikely that the cause

[2021-02-22 07:42] pszymanski-intel commented on #15025
I already run ipvlan performance tests and I can see that ipvlan performance is about 9% lower than veth with ENABLE_REDIRECT_FAST. What's more I can see higher CPU utilization in case of ipvlan (about 20%). It seems that the higher CPU utilization is caused by cilium-agent activity. Is it expected?

[2021-02-22 07:46] brb commented on #15025
Which tests on what setup?

[2021-02-22 07:50] pszymanski-intel commented on #15025
I am running fortio in one pod and nginx on another pod. The pods are on different nodes. Fortio opens 5K connections and downloads 256B file from NGINX.

[2021-02-22 07:57] brb commented on #15025
Are you using Cilium's ipvlan implementation or a generic ipvlan CNI plugin?

[2021-02-22 08:06] pszymanski-intel commented on #15025
I am using Cilium ipvlan ( i.e. I am setting --set datapathMode=ipvlan in helm)

[2021-02-22 09:25] brb opened #15051 "Replace stdlib net.Interface* with vishvananda/netlink to avoid blocked forever goroutines"
Netlink is not reliable protocol, and recv without a timeout might block infinitely. See https://github.com/cilium/cilium/issues/14710 and https://github.com/cilium/cilium/issues/14746#issuecomment-781811881 for more ctx.

The Go's stdlib `net.Interface*()` function family when built for Linux (https://github.com/golang/go/blob/master/src/net/interface_linux.go) is using netlink socket w/o timeout

[2021-02-22 10:14] pchaigno commented on #10067
I think we should do that :point_up:

[2021-02-22 10:16] brb commented on #10067
@elfadel

https://github.com/cilium/cilium/pull/14951/files will complicate it even more - the same cgroup program will be attached to multiple cgroups.

We could set a name for each program (as suggested by @qmo and @pchaigno) prefixed with `cilium_`, and then upon `cilium cleanup` consider only programs with the `cilium_` prefix.

[2021-02-22 10:22] brb commented on #10067
I think it's no longer viable solution because of #14951. Also, we don't want to detach programs installed by non-Cilium agents.

[2021-02-22 16:25] pchaigno commented on #14652
I'm hitting the same error if I run the test on Packet nodes with per-endpoint routes enabled by default:
[code]
I suspect both are the same issue with per-endpoint routes as the common cause (they are enabled by default on GKE).

Updating the title accordingly.

[2021-02-22 17:09] Skymirrh opened #15059 "ci: K8sUpdates failing for Kernel 4.9 during downgrade operations"
Upgrade/downgrade CI testing from K8s 1.14 up to 1.18 on Kernel 4.9 has been failing on `master` for quite some time:
[code]
(example from https://jenkins.cilium.io/job/cilium-master-k8s-1.18-kernel-4.9/808/, and [here's the ZIP](https://github.com/cilium/cilium/files/6023701/ff0e9e8f_K8sUpdates_Tests_upgrade_and_downgrade_from_a_Cilium_stable_image_to_master.zip))

[2021-02-22 17:11] Skymirrh commented on #15059
I have reproduced the issue locally. The failing check is on line 557 here, after downgrading version:
https://github.com/cilium/cilium/blob/51924951ecafb26dcdbeb1f9a39a0f1522986936/test/k8sT/Updates.go#L537-L561

This checks the restart count of pods to sniff flow interruption:
https://github.com/cilium/cilium/blob/51924951ecafb26dcdbeb1f9a39a0f1522986936/test/k8sT/Updates.go#L353-L381

And indee

[2021-02-22 17:45] brb commented on #15025
I guess the higher CPU load got resolved?

[2021-02-22 18:33] pszymanski-intel commented on #15025
Correct. Higher CPU utilization is solved. For some reason I thought that if I do not have "cilium monitor" command started, the performance impact shall be low  even if monitor aggregation is none. Now I can see higher ipvlan performance by about 25% vs. veth. The only unexpected behavior is lower performance (both ipvaln and veth) when setting CONFIG_PREEMPT_NONE=y.

[2021-02-22 19:06] geekifier commented on #12981
I followed the [install instructions for EKS](https://docs.cilium.io/en/v1.9/gettingstarted/k8s-install-eks/#deploy-cilium), which advise to remove the following 2 lines if one wants to deploy an overlay network:

`--set eni=true \`
`--set tunnel=disabled \`

Which results in the following install command:

[code]

This results in the same error as OP has reported, with the cillium and cillium-ope

[2021-02-22 21:11] voron commented on #13974
EKS 1.19 uses stock AMI w/ kernel 5.4.91, thus encryption seems to work with overlay mode.
It still doesn't work with ENI mode, as expected for now.

[2021-02-22 21:52] #14133 closed

[2021-02-22 21:52] #14123 closed

[2021-02-22 21:52] #14146 closed

[2021-02-22 21:52] #13905 closed

[2021-02-22 21:59] dghubble commented on #14287
Kubernetes v1.20 conformance still fails with Cilium last I checked.

[2021-02-22 22:25] lrouquette commented on #13194
ping!
(keeping this alive: a control-plane restart shouldn't create downtime on the data-plane)

[2021-02-22 22:50] #13819 closed

[2021-02-22 22:50] #12437 closed

[2021-02-22 22:50] #5931 closed

[2021-02-22 22:50] #13954 closed

[2021-02-22 22:50] #13832 closed

[2021-02-22 22:50] #13929 closed

[2021-02-23 03:07] guilledipa opened #15070 "Only one named port shows up in Cilium endpoint objects"
## Bug report

The `Deployment` `istio-ingressgateway` has a list of endpoints:

[code]

However, when I check the `CiliumEndpoint` for the `istio-ingressgateway` pod, I get an incorrect list of named-ports :

[code]

Here more details:

[code]

Of course, same using the cilium tool:

[code]

I tried running `cilium endpoint regenerate 259`; the program is regenerated successfully (according to th

[2021-02-23 03:28] joestringer commented on #15070
At a quick glance, I see two things jump out here as unexpected behaviour:
1. You are expecting multiple named ports to show up in the CiliumEndpoints CRD, but only one is showing up.
2. BPF program load fails with "Tail call key 65535 for map 1 out of bounds?". I haven't seen this before, but it seems like a corner case bug.

[2021-02-23 03:30] joestringer opened #15071 "Fail to load programs with "Tail call key 65535 for map 1 out of bounds?""
Issue #15070, on Cilium v1.9.3, experienced a BPF program load issue where the tail call key for a map seems like it was miscalculated somehow, leading to an out-of-bounds check failure at load time.

Splitting the bug out into this issue just for separate tracking, for more details see the original issue.

The user also confirmed that when attempting to manually regenerate the endpoint, it would

[2021-02-23 03:30] joestringer commented on #15070
Let's deal with the second one in issue #15071 and discuss the named ports side here.

[2021-02-23 03:32] joestringer commented on #15070
Are you able to share the YAML for the application to show how the named ports are configured? It's not obvious from the deployment, since the deployment has multiple service backends

[2021-02-23 03:38] guilledipa commented on #15070
Of course, here it is:

[code]

[2021-02-23 03:41] joestringer commented on #15070
By the looks of the YAML:
[code]

There is actually only one port that is named. That is likely why Cilium only reports one port under the "named ports" section. I don't think that the CiliumEndpoint is meant to be a 100% reflection of the pod/deployment spec, it only tracks some fields that are useful for it to internally track and handle.

Are you seeing any wrong behaviour around named ports or

[2021-02-23 03:47] guilledipa commented on #15070
That makes sense!
I was expecting that `CiliumEndpoint` would contain all ports defined in the Deployment. My (limited) understanding tells me that the endpoints that are not picked up by Cilium are being left out from the defined network policies, is this correct?

[2021-02-23 03:49] joestringer commented on #15070
Can you paste the full `kubectl -n istio-system get ciliumendpoint` to confirm? By the looks, you were filtering the ciliumendpoint output by one specific backend name, which could explain why you only saw one CiliumEndpoint.

[2021-02-23 03:58] guilledipa commented on #15070
Just to confirm the `EDIT`:

[code]

[2021-02-23 04:08] joestringer commented on #15070
Just given that all of the ports are defined on the one pod, that output makes sense.

That's not correct. Some form of interpretation of the network policy is shared in `cilium endpoint list -o json`, but it's not presented in an obvious way as it's more developer-targeted rather than end-user targeted. To determine whether a network policy is applied correctly or not, you can enable the network

[2021-02-23 04:21] guilledipa commented on #15070
Thanks Joe!

I'll add `--endpoint-status=policy`. I'm trying to figure out why the GCLB healthchecks are failing. The healthchecks were working before deploying Cilium; by default, unless a policy is specified, Cilium defaults to "allow-all" right? I'm trying to find where would Cilium be blocking this traffic and that's how I reached the Endpoint comparisom. I'll keep investigating.

[2021-02-23 06:48] brb commented on #15025
Maybe you have noisy neighbors on the machines?

[2021-02-23 07:04] brb commented on #12978
I took a stab at it (https://github.com/cilium/cilium/tree/pr/brb/lets-be-friends-with-ipsec; non-working). Due to the fact that we pass a packet to the stack to do encryption / decryption, adding NodePort BPF support would complicate the datapath code even more (esp the `from-netdev` entry point; also, we would need to add the lb lookup to `to-host`). That could be avoided if we introduce BPF hel

[2021-02-23 07:08] brb commented on #11722
We have already a decent coverage in the K8sService suite. Let's close it.

[2021-02-23 07:08] #11722 closed

[2021-02-23 07:10] brb commented on #13905
@rolinh Missed your comment. Thanks for the explanation. I think it's fine to keep the issue closed.

[2021-02-23 07:18] anfernee commented on #15070
@guilledipa For the GCLB issue, you probably need to specify `kube-proxy-replacement-healthz-bind-address: ":10256"` if you are using `kube-proxy-replacement` mode. Let me know if it helps.

[2021-02-23 07:23] jaffcheng opened #15073 "incorrect arch for cilium-map-migrate in arm64 image"
**General Information**

- Cilium version (master)
- Kernel version (4.18.0-147.8.1.el7.aarch64)

**How to reproduce the issue**

1. Make master branch arm64 cilium image with `ARCH=arm64 make -d docker-cilium-image` (on an x86 machine)
2. Run cilium-agent and create a test pod
3. Cilium agent log show something like:
[code]

[code]

Related: #15023
cc @aanm

[2021-02-23 07:32] anfernee commented on #14395
Is this feature something like metallb?

[2021-02-23 07:36] brb commented on #14395
Yep.

[2021-02-23 07:38] pszymanski-intel commented on #15025
I don't have any neighbors. The machines I am using are physical machines (not virtual) and there is no other workload running on them.
Regarding the difference between ipvlan vs. veth. I was incorrect. The 25% was measured with vlan enabled. When I disabled vxlan and masquerading (which is also not supported with ipvlan), ipvlan and veth are really close - it is hard to tell exactly due to high r

[2021-02-23 07:42] dilyevsky commented on #14395
It would be great if this combined MetalLB BGP mode with Katran style
forwarder so you can gracefully drain nodes out of lb

On Mon, Feb 22, 2021 at 11:36 PM Martynas Pumputis <notifications@github.com>
wrote:

[2021-02-23 09:49] qmonnet commented on #11014
From https://github.com/cilium/cilium/issues/14314#issuecomment-763516378 we also want alternative probes for

- [ ] `CONFIG_NET_SCH_INGRESS`
- [ ] `CONFIG_BPF_JIT`

for when the kernel config file is not available.

[2021-02-23 14:11] brb opened #15075 "datapath: Support L2-less with fast redirect"
Once #14858 has been merged, make it possible to run the fast redirect (aka BPF host routing) with L2-less devices.

From the first glance it might be trivial to add the support. In the redirect functions we should bypass setting L2 addrs if egress iface doesn't have L2 addr.

UPDATE: the kernel fix by @joamaki has been merged. What's left is detecting whether the fix is present in the kernel (may

[2021-02-23 16:17] dsexton commented on #15002
We are also seeing this in v1.9, and it is causing an issue with node-local-dns rules

Before restarting agent (node-local-dns is broken):
[code]
After restart (node-local-dns working):
[code]

[2021-02-23 17:13] aditighag commented on #14287
@dghubble Check the last comment - https://github.com/cilium/cilium/issues/14287#issuecomment-739027677

There are 2 issues here :
- loopback address isn't supported as a hostIP
If you need this feature, can you mention what the use cases are?
- Currently, we don't differentiate between L4 protocols (TCP, UDP)
https://github.com/cilium/cilium/issues/9207 is still pending.

[2021-02-23 17:24] ken-letter opened #15082 "Cilium fails to start with IPv4 disabled"
## Bug report

**General Information**

- Cilium version `1.9.3`
- Kernel version `5.10.12-200.fc33.x86_64`
- Orchestration system version in use `kubectl version`
[code]
- Link to relevant artifacts: (similar to) [kubeadm configuration](https://github.com/aojea/k8s-aws-ipv6/blob/master/aws-k8s-ipv6.yaml#L244-L296)
- Generate and upload a system zip:` -`

**How to reproduce the issue**

1. Setup k

[2021-02-23 19:49] Skymirrh commented on #15059
So, a bit more of investigation yields the following:
- This specific test was passing until Feb 8: https://jenkins.cilium.io/view/Obsolete/job/cilium-master-K8s-all/589/
- Started to fail on every run starting Feb 9: https://jenkins.cilium.io/view/Obsolete/job/cilium-master-K8s-all/590/
- Didn't get caught as it was in the middle of a series of failures (Feb 8 and previous: flakes, Feb 10 and nex

[2021-02-23 21:06] pchaigno commented on #15059
/cc @christarazi

[2021-02-23 21:55] guilledipa commented on #15070
@anfernee Thanks!! I checked the configuration and we're using kube-proxy:

[code]

as the matter of fact, if I configure `kube-proxy-replacement-healthz-bind-address: ":10256"`, I get the following errors from the cilium pods:

[code]

[2021-02-23 22:26] pchaigno commented on #15071
FYI, that's the `templateLxcID`. It's the value you'd get for `LXC_ID` if it wasn't properly replaced in the template object file.

@guilledipa Any chance you could upload a Cilium sysdump or even just a bugtool?

[2021-02-23 22:43] anfernee commented on #15070
@guilledipa  If you are using `kube-proxy`, you won't need this, because `kube-proxy` already binds on the port.

[2021-02-23 22:54] joestringer opened #15088 "Unable to update ipcache map entry on pod add"
Found this warning log during Cilium v1.10 development cycle in this PR build failure:

https://jenkins.cilium.io/job/Cilium-PR-K8s-1.20-kernel-4.9/762/testReport/junit/Suite-k8s-1/20/K8sServicesTest_Testing_test_script_Validating_test_script_correctness/
[72399fe3_K8sServicesTest_Testing_test_script_Validating_test_script_correctness.zip](https://github.com/cilium/cilium/files/6032223/72399fe3_K8

[2021-02-23 22:57] joestringer commented on #14339
Here's another datapoint for route (+mtu) selection from another community member, where the k8s node IP is explicitly desired to *not* be used for forwarding inter-node traffic: https://github.com/cilium/cilium/issues/14520

[2021-02-23 23:07] joestringer commented on #14638
One more request, report the IP selected for local ipsec address: https://github.com/cilium/cilium/pull/15048/files/653cd5bddf3f3cee7e4dddd80010ff1d495dce04..11fab3cf008399c1b2da3f0057b7fc0680db6ed3#diff-14a5efc51ce7ea3959385022d4800b355c766c60e8b7ba0e6052afced05ddbf0

[2021-02-23 23:33] christarazi commented on #15059
Two things here.

1) K8s version should not matter; only the kernel version. https://github.com/cilium/cilium/pull/14853 affects maps that used specific map types that were not supported in 4.9 and thus the wrong map type was used to determine the flags, causing them to be recreated.

You mentioned that K8s 1.20 & kernel 4.9 was a combo that was _not_ failing?

2) I _think_ this is expected, I'm t

[2021-02-24 01:18] joestringer commented on #14339
Taking into account the proposal in https://github.com/cilium/cilium/pull/15072, it seems like there is some demand for a model where this kind of configuration is pushed to the user, but the user specifies a CIDR. Given multiple proposals in the direction of an IP controlling routing / MTU, maybe it'd be better to have something like that in Cilium rather than having multiple implementations out

[2021-02-24 10:36] borkmann commented on #15025
@pszymanski-intel do you run ipvlan in l3 mode or l3s?

[2021-02-24 10:40] pszymanski-intel commented on #15025
I run in l3 mode

[2021-02-24 14:56] Zempashi opened #15094 "Apiserver service not reachable from pod with cilium v1.9.4 on archlinux base installation"
## Bug report

**General Information**

- Cilium version (run `cilium version`)
[code]
- Kernel version (run `uname -a`)
Tested with: `Linux pomme 5.11.1-arch1-1 #1 SMP PREEMPT Tue, 23 Feb 2021 14:05:30 +0000 x86_64 GNU/Linux`
Tested with : `Linux pomme 5.10.17-1-lts #1 SMP Wed, 17 Feb 2021 11:11:31 +0000 x86_64 GNU/Linux`
Archlinux lts kernel is already 5.10...

- Orchestration system version in

[2021-02-24 15:09] Zempashi commented on #15094
Also want to add that my host-provider, drop direct routing packets, I need an IPIP/vxlan for pod-to-pod networking, but `cilium status` reported `Direct routing` even though I specified `tunnel=vxlan` and that some iter-pod networking is working

[2021-02-24 16:03] csturgess93 opened #15095 "Compilation error in bpf_lxc when running on top of Flannel"
Hi we are using hubble and was pointed to the cilium repository for this issue as cilium/hubble is used for the client-side CLI binary. We are using the hubble release version 1.9.4. and are trying to get setup with Hubble on our custom K8S cluster, but our Coredns pods are failing to start and are stuck in ContainerCreating

OS: Ubuntu 20, Kernel: 5.4.0-65-generic

`coredns-f9fd979d6-gxxd7 0/1 Co

[2021-02-24 16:40] Skymirrh commented on #15059
Indeed, as can be seen either from [automated jobs](https://jenkins.cilium.io/job/cilium-master-k8s-1.20-kernel-4.9/) or [PR jobs](https://jenkins.cilium.io/view/PR/job/Cilium-PR-K8s-1.20-kernel-4.9/) all passing without issue. I've confirmed it on local runs as well.

That makes sense to me, but in this case are we supposed to keep the test failing as-is?

[2021-02-24 17:58] aanm opened #15097 "CI: AutoDirectNodeRoutes Check connectivity with automatic direct nodes routes"
## CI failure

[code]

[code]

[9d8296f5_K8sDatapathConfig_AutoDirectNodeRoutes_Check_connectivity_with_automatic_direct_nodes_routes.zip](https://github.com/cilium/cilium/files/6037917/9d8296f5_K8sDatapathConfig_AutoDirectNodeRoutes_Check_connectivity_with_automatic_direct_nodes_routes.zip)

Job run: https://jenkins.cilium.io/job/Cilium-PR-K8s-1.13-net-next/869/

[2021-02-24 18:07] brb commented on #14957
The PR to disable kube-proxy is out: https://github.com/kubernetes-sigs/kind/pull/2088.

[2021-02-24 19:23] christarazi commented on #12697
Now that https://github.com/cilium/cilium/pull/15093 will be reverting the original commit (https://github.com/cilium/cilium/commit/8de6dc5a02b1af20d95bcc9c3783c9b08b2157c0), the `grep` provided won't give any results.

Here's a list of the structs that should have fields refactored out from them instead:

- `type AzureInterface struct`
- `type EgressCommonRule struct`
- `type IngressCommonRule st

[2021-02-24 19:31] christarazi commented on #15059
That's very strange. :thinking:

[2021-02-24 20:26] joestringer commented on #14710
FYI #15048 already bumped the netlink library in Cilium codebase to include the upstream PR https://github.com/vishvananda/netlink/pull/614 . So we would just need the Cilium agent side changes now.

[2021-02-24 20:29] joestringer commented on #15051
Sounds good. I think we may want to revisit whether backporting to all branches is appropriate depending on how invasive the changes are, I wouldn't want to disrupt the older release trees due to new netlink-handling code unless we're confident that (1) This issue has serious consequences for those versions and (2) we've had some rigorous testing on the newer implementation.

[2021-02-24 20:36] pchaigno commented on #15059
It is not failing because the K8sUpdates test doesn't run on K8s-1.20-Kernel-4.9. It is skipped. Cilium v1.9 doesn't support Kubernetes 1.20 so we have to skip the test.

[2021-02-24 20:37] Skymirrh commented on #15059
You made me doubt so I double checked, and actually you are right: the test does not pass on 1.20 either. The difference is that it ends up as a skipped test instead of a fail, because Cilium v1.9 is not supported on K8s 1.20:

[code]

[2021-02-24 20:52] therealmitchconnors opened #15098 "GKE Installation fails Connectivity Check"
## Bug report

**General Information**

- attempting to follow https://docs.cilium.io/en/stable/gettingstarted/k8s-install-gke/
- GKE version 1.19.7-gke.1302

**How to reproduce the issue**

1. follow helm install instructions in linked doc
2. follow cilium test instructions
3. cilium test pods not ready
4. cilium test pods have no log output, but are in crashloop

[code]

[2021-02-24 20:57] #15073 closed

[2021-02-24 21:01] christarazi commented on #15059
Should be fixed by https://github.com/cilium/cilium/pull/15099.

[2021-02-24 23:35] joestringer opened #15103 "CI: Suite-k8s-1.20.K8sServicesTest Checks service across nodes Tests NodePort (kube-proxy) with the host firewall and externalTrafficPolicy=Local: Exit status 42"
## K8sServicesTest Checks service across nodes Tests NodePort (kube-proxy) with the host firewall and externalTrafficPolicy=Local

Kubernetes 1.20
Cilium v1.10 dev cycle
https://jenkins.cilium.io/job/Cilium-PR-K8s-1.20-kernel-4.9/717/testReport/junit/Suite-k8s-1/20/K8sServicesTest_Checks_service_across_nodes_Tests_NodePort__kube_proxy__with_the_host_firewall_and_externalTrafficPolicy_Local/

Artif

[2021-02-24 23:36] #14802 closed

[2021-02-24 23:47] therealmitchconnors commented on #15098
In hindsight, I ran these instructions against a pre-existing empty cluster.  When I use the exact cluster creation steps listed in the docs, the tests succeed.  I'm not sure what the difference between the clusters is, other than that the original is using routes-based networking, so maybe that causes problems?

Either way, it seems like the tests should output some sort of error message when the

[2021-02-25 08:33] kkourt commented on #15098
Hi,

Thanks for trying out Cilium and the bug report.

GKE mode for Cilium will always use the VPC routes, so the expectation is that this should not cause issues.

First, can you confirm that the `$NATIVE_CIDR` environment variable was properly set when you tried this?
If `$NATIVE_CIDR` is not the issue, can you provide a [sysdump](https://docs.cilium.io/en/v1.9/operations/troubleshooting/#automa

[2021-02-25 09:37] brb commented on #14710
@ArthurChiao Do you plan to work on adding the timeout to the cilium-agent side?

[2021-02-25 10:21] Zempashi commented on #15094
Tested also with kernel 5.8, same issue

[2021-02-25 10:22] liqd1 opened #15105 "packet drop by DROP_UNROUTABLE when use the enable-bpf-tproxy=true"
Hello, we are testing the feature of BPF-based proxy redirection。when we created a l7-policy，and access the nodeport service from the outside of cluster，we found the SYN,ACK packet which returned by cilium-envoy was dropped by cilium_host in section 'from-host' 。
![image](https://user-images.githubusercontent.com/79635099/109138143-030dca80-7795-11eb-8214-bd5b704f07d9.png)

Cilium version:
![image

[2021-02-25 10:35] qmonnet commented on #9402
I'm hearing that some security solutions could potentially interfere with the accesses to the bpffs (although I haven't been able to validate the hypothesis myself). In particular, it seems that TrendMicro's _Anti Malware Module_ can come with a [`redirfs` kernel module](https://success.trendmicro.com/solution/1120298-abnormal-kernel-logs-and-reboot-occur-in-deep-security-virtual-appliance-with-an

[2021-02-25 10:44] ArthurChiao commented on #14710
Hi @brb , you mean explicitly configure a timeout value rather using the default one (`60s`) ?

I'd like to help, but I'm not sure what's expected in the next.

[2021-02-25 10:49] brb commented on #14710
Ah, I think 60s is good enough. Let's close the issue then.

[2021-02-25 10:49] #14710 closed

[2021-02-25 11:26] jaffcheng commented on #15071
I'm also facing this issue, it seems `CompileAndLoad` lacks a `ELFSubstitutions` procedure, if all we need is to fix the section header name, I would like to send a PR for this.

[2021-02-25 12:28] tgraf commented on #12447
This has likely been fixed by https://github.com/cilium/cilium/pull/15039

[2021-02-25 16:39] gandro opened #15111 "hubble: Clean up API for debug and agents events"
Cilium 1.10 adds support for debug and agent events in the Hubble API. They are currently exposed as part of the `GetFlows` API:

https://github.com/cilium/cilium/blob/676c2add9849bd9ec00448c7d0b13c2ed6d73736/api/v1/observer/observer.proto#L119-L123

Before we ship this API in Cilium 1.10, we want to split these out into separate APIs, e.g. `GetAgentEvents`, and `GetDebugEvents`, as the current mi

[2021-02-25 16:46] gandro opened #15112 "hubble: Introduce metric for lost events"
Hubble currently emits `LostEvents` whenever it detects that an internal buffer overflowed. These are currently stored in the ring buffer and sent down downstream via the `GetFlows` API, but this has not proven to be very useful:

- Filtering does not apply to lost events, resulting very confusing behavior for users
- When the system is overloaded and produces lost events, they replace (useful) fl

[2021-02-25 17:45] christarazi opened #15114 "[v1.9] CI: Suite-k8s-1.13.K8sDatapathConfig MonitorAggregation Checks that monitor aggregation restricts notifications"
## CI failure

[code]
[5c75b5d9_K8sDatapathConfig_MonitorAggregation_Checks_that_monitor_aggregation_restricts_notifications.zip](https://github.com/cilium/cilium/files/6044847/5c75b5d9_K8sDatapathConfig_MonitorAggregation_Checks_that_monitor_aggregation_restricts_notifications.zip)

https://jenkins.cilium.io/job/Cilium-PR-K8s-1.13-kernel-4.9/17/testReport/junit/Suite-k8s-1/13/K8sDatapathConfig_Mo

[2021-02-25 17:46] christarazi commented on #15114
Seen in https://github.com/cilium/cilium/pull/15099#issuecomment-786067315

[2021-02-25 19:48] joestringer opened #15116 "v1.7.14 release"
## Pre-release

- [x] Check that there are no [release blockers] for the targeted release version
- [x] Ensure that outstanding [backport PRs] are merged
- [x] Consider building new [cilium-runtime images] and bumping the base image
      versions on this branch:
  - Cilium v1.10 or later:
     Modify the `FORCE_BUILD` environment value in the `images/runtime/Dockerfile` to force a rebuild.
     [

[2021-02-25 22:06] dsexton commented on #14339
This also attempts to use the the kube-proxy IPVS device:

[code]

[2021-02-25 23:41] joestringer commented on #14339
@dsexton do you consider that to be wrong in some sense? If that device really does have an MTU limitation and it provides access to remote networks, then I think it should be taken into consideration during MTU calculation for pods.

[2021-02-26 00:00] #15116 closed

[2021-02-26 09:09] pchaigno commented on #12447
The fix will be in the next v1.8.8 and v1.9.5. You can also already test with `:latest`.

[2021-02-26 09:09] #12447 closed

[2021-02-26 09:18] pchaigno commented on #10121
Is the intended goal here to run our kube-proxy replacement on GKE, or actually to remove kube-proxy? If it's the latter, wouldn't that require having two different CI jobs for GKE?

[2021-02-26 09:25] pchaigno commented on #8133
AFAICS, this is already implemented. I couldn't find a single Jenkins job for which the "Shallow clone" checkbox wasn't checked. /cc @nebril

[2021-02-26 09:25] #8133 closed

[2021-02-26 09:28] pchaigno commented on #10502
@seanmwinn Was this implemented as part of https://github.com/cilium/cilium/pull/13259 or is there anything still missing?

[2021-02-26 09:33] pchaigno commented on #9894
I think this can be easily checked by running [our existing fragment tracking test](https://github.com/cilium/cilium/blob/1db771f25895ca8c830bd16336dc7f87df4d222a/test/k8sT/Services.go#L2643-L2650) with fragment tracking disabled.

If the metrics are missing, the same test can be used to iterate on a fix.

[2021-02-26 09:34] #9245 closed

[2021-02-26 13:04] dsexton commented on #14339
@joestringer yes, this MTU is much lower than the host's external network interface. When we restart the Cilium agent it changes the external interface it selects from the kube-proxy interface to the EC2 ENI interface:

[code]

So now exiting nodes have an MTU of 9001 and new nodes use 1500. One of the biggest issues we are seeing is that large DNS query responses from CoreDNS > node-local-dns are

[2021-02-26 13:26] pchaigno commented on #15114
From `test-output.log`, we have:
[code]
As can be seen from the `signal: killed` and the timestamp between the first two lines, we reached the 10s timeout while calling `cilium policy get`.

From the bugtool, there seem to be a bit of load on the agent and at least one endpoint was being created/generated at the time `cilium policy get` was executed. We can also see that the load average is increa

[2021-02-26 13:35] pchaigno opened #15128 "CI: Missing artifact for K8sServicesTest Checks service across nodes Tests NodePort (kube-proxy)"
The following tests are always missing artifacts:
[code]
You can view a list of recent failures (which should have artifacts) here: https://datastudio.google.com/s/gJ_3b2imuI0.

[2021-02-26 17:52] qmonnet opened #15131 "CI: K8sServicesTest Checks service across nodes Tests NodePort BPF Tests with vxlan Tests HostPort: Exitcode: 42"
## K8sServicesTest Checks service across nodes Tests NodePort BPF Tests with vxlan Tests HostPort

- Kubernetes 1.19
- Cilium v1.10 dev cycle
- Attachment: [f1a8726e_K8sServicesTest_Checks_service_across_nodes_Tests_NodePort_BPF_Tests_with_vxlan_Tests_HostPort.zip](https://github.com/cilium/cilium/files/6051475/f1a8726e_K8sServicesTest_Checks_service_across_nodes_Tests_NodePort_BPF_Tests_with_vxla

[2021-02-26 18:15] qmonnet opened #15132 "CI: K8sBandwidthTest Checks Bandwidth Rate-Limiting: Error removing cilium from installed manifest; terminating containers are not deleted after timeout"
## CI failure

- Kubernetes 1.20
- Cilium v1.10 dev cycle
- Jenkins: https://jenkins.cilium.io/job/Cilium-PR-K8s-1.20-kernel-4.9/798/execution/node/121/log/?consoleFull
- Attachment: [test_results_Cilium-PR-K8s-1.20-kernel-4.9_798_BDD-Test-PR.zip](https://github.com/cilium/cilium/files/6051562/test_results_Cilium-PR-K8s-1.20-kernel-4.9_798_BDD-Test-PR.zip)
- Failed on #14970 (Helm changes for AWS

[2021-02-26 18:20] pchaigno commented on #15132
This is easy to fix: the uninstallation of Cilium at
https://github.com/cilium/cilium/blob/a3bb073e302944a808549ecd4c81bc390379cf23/test/k8sT/Bandwidth.go#L48
should be moved inside the `Checks Bandwidth Rate-Limiting` block to match the installation. Otherwise we might try to uninstall Cilium even though we never installed it.

[2021-02-26 18:35] christarazi commented on #15132
Seen in https://github.com/cilium/cilium/pull/15109 as well. Seems to plague whole set of tests at a time too: https://jenkins.cilium.io/job/Cilium-PR-K8s-1.20-kernel-4.9/797/

[2021-02-26 20:55] joestringer opened #15133 "Pass context into BackendOperations.Close()"
The `BackendOperations` interface does not currently pass a Context object into the `Close()` function, but the `Close()` function may perform blocking operations with the kvstore. It seems like at the very least for handling proper daemon shutdown or termination of individual clustermesh controllers, we should pass the context down from `restartRemoteConnection()` into the kvstore backend close o

[2021-02-27 01:48] fkpwolf opened #15135 "Can my application extract identity from incoming request"
Scenario: client send request to my application (Pod) to get it's role. My application will check identity of request and return a JWT token with role value.

Most examples in Document are about Allow/Drop request. So can Cilium Allow all request but inject a HTTP Header like `X-Auth-Identity` to request? Or client can get it Identity by some API?

Looks Envoy extentsion can do this but existing e

[2021-02-27 08:54] Managarmrr opened #15137 "Cilium attaching to the wrong cgroup"
## Bug report

**General Information**

*Version*
[code]

*Kervel Version*
[code]

*Orchestration version (kubernetes)*
[code]

**Setup**

I am using NixOS (system state version `20.09`) with `unstable` nixpkgs.
Kubernetes has been deployed using the provided config options, refer to the [wiki](https://nixos.wiki/wiki/Kubernetes). Changes have been made to said configuration, but those changes do

[2021-02-27 09:58] brb commented on #15137
@Managarmrr Thanks for the detailed issue.

Is cilium-agent running in non-host netns (`namespace = ciliumNamespace`)?

[2021-02-27 10:00] Managarmrr commented on #15137
Oh sorry that might be confusing, no cilium is just deployed into `ciliumNamespace` in k8s, which in turn is `kube-system`:
[code]

[2021-02-27 12:05] brb commented on #15137
Could you paste cilium-agent log from a previous run when you didn't specify the cgroup root? Also, was `/var/run/cilium` mounted into the cilium container?

[2021-02-27 12:32] brb commented on #10121
It's the latter - to remove kube-proxy. Yes, we would need to have two different jobs.

[2021-02-28 17:56] murphye commented on #9244
Out of curiosity, what is the explanation for the performance degradation vs. plain Istio without sockops...

[2021-03-01 09:26] kkourt commented on #15135
As far as I know, [L7 policy rules](https://docs.cilium.io/en/v1.9/policy/language/#layer-7-examples) can be used to allow/drop packets, but not inject HTTP headers. @jrajahalme might know more.

[2021-03-01 10:05] #9212 closed

[2021-03-01 10:44] pchaigno commented on #12697
Running unit tests in the development VM seems to be failing because of that:
[code]

[2021-03-01 11:21] aanm opened #15141 "Removing disabled maps causes controllers to fail"
Removing disabled maps in
https://github.com/cilium/cilium/blob/cac5218858da8cdcb2029269f3b2238f88eb33cd/pkg/datapath/maps/map.go#L210-L215

Causes the controllers to fail:
[code]
as seen in our CI https://jenkins.cilium.io/job/Cilium-PR-K8s-1.20-kernel-4.9/799/testReport/junit/Suite-k8s-1/20/K8sServicesTest_Checks_service_across_nodes_Checks_ClusterIP_Connectivity/

This change seems to have been

[2021-03-01 11:26] mazzy89 commented on #15141
Thanks @aanm for reporting this. I will take a look and wire a fix accordingly.

[2021-03-01 11:34] mariuskiessling opened #15142 "Missing backend(s) for manually created EndpointSlice"
## Bug report

This bug report is a follow-up of the discussion on [Cilium's Slack channel](https://cilium.slack.com/archives/C1MATJ5U5/p1614344823093300).

We are running K8s 1.18 which does not support automatically mirroring Endpoints to EndpointSlices yet. The cluster routing is done without kube-proxy using the replacement from Cilium. We have a service which is backed by a manually created e

[2021-03-01 13:42] pchaigno commented on #15095
The fix for this should be fairly trivial. It's simply a matter of fixing https://github.com/cilium/cilium/blob/198fe64d79b53c983ba74f09f5c7a1c34408666d/bpf/lib/proxy.h#L191 to declare `result` as `__maybe_unused` or declare it only where it's used. Then, one also needs to a new line at https://github.com/cilium/cilium/blob/198fe64d79b53c983ba74f09f5c7a1c34408666d/bpf/Makefile#L205 with the combin

[2021-03-01 14:29] aanm commented on #15142
Thanks for opening the GH issue, as far as Cilium behavior it is working as expected since the EndpointSlice condition is non-nil and it's not marked as ready.

https://github.com/cilium/cilium/blob/58d8b1dd33bf3abb02e3a82f919814bd39b1364d/pkg/k8s/endpoints.go#L166-L173

[code]

[2021-03-01 15:11] mariuskiessling commented on #15142
Good catch, thanks for the hint and the quick investigation! I have updated the [resource definition file](https://gist.githubusercontent.com/mariuskiessling/d4a09a54ae5506d1060aa2e7055d6c7c/raw/1921fd29cff71ecc831c357095bb4befbf0102d3/cilium_eps_ep_s.yaml) with a static definition of the ready condition, setting it to `true`. However, Cilium is still not picking up the backend for that service. C

[2021-03-01 16:50] ti-mo opened #15149 "Convert maps to libbpf/BTF-style map definitions"
## Proposal / RFE

Currently, we use iproute2-style BPF map definitions that are not (going to be) compatible with libbpf. The community's consensus is to consider libbpf being 'the spec', and libbpf-style map definitions are much more flexible since they leverage BTF. Maps that use any of the below features will need to be converted to libbpf-compatible definitions in order to be properly loaded

[2021-03-01 16:57] mauriciovasquezbernal commented on #4016
Hi folks, I'll start working on this one, please feel free to assign this issue to me.

[2021-03-01 17:14] aanm commented on #15142
likely because the endpoint slice contains a named port that doesn't exist in the service.

[2021-03-01 17:18] aditighag commented on #15142
@mariuskiessling It might be helpful to run `kubectl get endpoints` command first to see if everything is set up correctly for k8s API server to generate the relevant updates.

[2021-03-01 17:31] Skymirrh opened #15150 "helm: `extraArgs` refactoring"
Follow-up issue from discussion in https://github.com/cilium/cilium/pull/14974#issuecomment-786024908.

To do:

- [ ] Replace current top-level object-based `extraArgs` in `values.yaml` with array-based `extraArgs`, and edit `cilium-agent-daemonset.yaml` template accordingly
- [ ] Document Helm chart breaking change (release notes?)
- [ ] Implement and document identical array-based `extraArgs` fo

[2021-03-01 17:39] kovalyukm commented on #14728
Hello,

We faced with this big issue on our updated EKS clusters:
Kubernetes version 1.19
Amazon VPC CNI plug-in 1.7.9
KubeProxy 1.19.6
KERNEL-VERSION 5.4.91-41.139.amzn2.x86_64
and Cilium 1.9.4 (the same and similar issues for other 1.9 versions).

After updating components above, NodePorts of Services stopped working with connection timed out, so clients gets ERR_CONNECTION_TIMED_OUT when connec

[2021-03-01 18:17] Weil0ng opened #15153 "Removing CEP status subresource"
## Proposal / RFE

**Is your feature request related to a problem?**
Ciliumendpoints object update seems to put some scalability limitations. Each CEP today requires at least 1 CREATE and 1 UPDATE request to k8s api-server. Given that all CEPs are watched by all Cilium-agents, this translates to `2*#Nodes` watch event per CEP even if they are completely static (no updates after creation). In an en

[2021-03-01 18:19] Weil0ng commented on #15153
his was discussed both on slack with @aanm and @tgraf , as well as proposed in 03/01/2021 dev meeting (there's a bit more context in the meeting notes too).

[2021-03-01 18:34] pchaigno commented on #14792
Looks like #14803 fixed it.

[2021-03-01 18:34] #14792 closed

[2021-03-01 18:34] Skymirrh commented on #15150
Ping @D1abloRUS @funkypenguin since you were both authoring PRs on this topic, in case you are interested in implementing this.

[2021-03-01 18:38] pchaigno commented on #14791
#14803 didn't fix it :thinking:

It's still happening according to https://datastudio.google.com/s/ltZOKm-i5I8 and https://jenkins.cilium.io/job/cilium-v1.8-k8s-1.11-kernel-net-next/1112/testReport/junit/Suite-k8s-1/11/K8sVerifier_Runs_the_kernel_verifier_against_Cilium_s_BPF_datapath/. I'll reproduce locally again...

[2021-03-01 18:42] kovalyukm commented on #14728
Clients get responses like
"curl: (56) Recv failure: Operation timed out"
but we can see some traffic on the node with tcpdump port <NodePort> similar to legitimate traffic with Flags [S] [S.] [.] [P.] [F.] with client IP.

[2021-03-01 18:49] pchaigno commented on #14324
I think this was fixed by the split. https://github.com/cilium/cilium/pull/15154 will unquarantine.

[2021-03-01 19:17] aanm opened #15155 "Duplicate 'tolerations' key in hubble-relay helm chart v1.8"
It seems in was introduced by https://github.com/cilium/cilium/commit/c0d9fec70bcf03b12b819896219c37580473dd77 which already exits in on line 17 of that file.

cc @gandro

[2021-03-01 22:30] pchaigno commented on #14657
It seems we're not hitting the same issue in the native routing case because of this condition: https://github.com/cilium/cilium/blob/72949b4b49d43e6dbb4714929222acb688ce6dd2/bpf/bpf_host.c#L458-L468 which leads us to skip the call to `ipv4_local_delivery`. `ENABLE_REDIRECT_FAST` is currently incompatible with per-endpoint routes and `NO_REDIRECT` is almost always true, so the condition is true.

[2021-03-01 22:32] pchaigno commented on #12205
The reason we don't have this issue when our kube-proxy replacement is enabled is probably because of this condition: https://github.com/cilium/cilium/blob/72949b4b49d43e6dbb4714929222acb688ce6dd2/bpf/bpf_host.c#L458-L468 which makes us skip the call to `ipv{4,6}_local_delivery` and the transmission of the incorrect source identity. `ENABLE_REDIRECT_FAST` cannot be enable if our kube-proxy replace

[2021-03-01 23:04] christarazi commented on #12697
@pchaigno I think this will happen if you aren't running Go 1.16. Maybe the vagrant VMs haven't been updated yet?

[2021-03-02 00:54] briantopping opened #15158 "cilium endpoint regenerate broken"
## Bug report

Not sure what's going on here. This is from a Gardener cluster running Cilium in the parent/seed cluster. I was having a problem with k8s `Endpoint` being generated improperly by the cloud-controller-manager, so I removed a `.subsets.addresses` entry and regenerated. The pod was reachable up to the point that the datapath-loader job ran, but not after the failure noted in the sectio

[2021-03-02 05:26] brb commented on #15158
Seems to be a duplicate of https://github.com/cilium/cilium/issues/15071.

[2021-03-02 05:40] briantopping commented on #15158
@brb You would have a far better idea on that than me. If it's better to close this or add a "fixes" notation over there, please do.

[2021-03-02 08:40] Zempashi commented on #15094
Found the issue, https://github.com/cilium/cilium/issues/10645. Sorry for the noise, I didn't read carefully the requirements

[2021-03-02 08:40] #15094 closed

[2021-03-02 09:44] nebril commented on #15082
By looking at the code: https://github.com/cilium/cilium/blob/v1.9.3/pkg/node/address.go#L305 it seems like we do not support IPv6 only when tunneling is enabled (tunneling is enabled by default). Can you run with tunneling disabled (`--set tunnel=disabled`)?

[2021-03-02 10:14] mariuskiessling commented on #15142
Thank you very much you two. The missing backend was indeed caused by the fact that the port in the service, even though it held the same protocol and port, was missing. With the name added to the service, everything works as expected. Thank you very much for all the support!

[2021-03-02 10:14] #15142 closed

[2021-03-02 10:30] pchaigno commented on #15082
@tgraf changed this condition in https://github.com/cilium/cilium/commit/0c22956df3f1ab873a2763e4d3fb7d464b612309, maybe he has more info on why this is unsupported.

[2021-03-02 10:54] ti-mo commented on #13173
Tentatively removed the `area/loader` label to clear up the overview as I don't think this is directly related. Let me know if it needs to be re-added.

[2021-03-02 11:00] pchaigno opened #15166 "CI: K8sServicesTest Checks service across nodes Tests NodePort (kube-proxy) with externalTrafficPolicy=Local"
The two following tests of externalTrafficPolicy=Local with kube-proxy are failing 100% of the time on master when run with K8s 1.14 and a 4.9 kernel:
[code]
https://jenkins.cilium.io/job/cilium-master-k8s-1.14-kernel-4.9/14/#showFailuresLink
The artifacts are missing because of https://github.com/cilium/cilium/issues/15128.

### Stacktrace
[code]

https://datastudio.google.com/s/uLteFjIRe0k shows

[2021-03-02 11:45] Skymirrh commented on #15059
Fixed by merge of #15099, closing.

[2021-03-02 11:45] #15059 closed

[2021-03-02 12:16] acim commented on #14239
Is the latest Cilium functional on 1.20 at all?

[2021-03-02 12:20] nebril opened #15169 "CI: Precheck fails on 1.9"
Example failing run: https://jenkins.cilium.io/view/Cilium-v1.9/job/cilium-v1.9-k8s-1.19-kernel-4.9/533/

Most k8s jobs failing here due to this bug: https://jenkins.cilium.io/view/Cilium-v1.9/

Is precheck actually necessary in 1.9 with all backported github actions?

[2021-03-02 12:45] nebril commented on #15169
This fails also on 1.8 and 1.7, definitely requires a proper fix

[2021-03-02 12:51] acim opened #15170 "How to migrate from Flanel? Is kubeadm --pod-network-cidr=10.217.0.0/16 still needed?"
Sorry for the questions, it is maybe not supposed to ask here but I searched for these information and didn't fine anything useful.

1. Is some previous instructions (I think on kubernetes.io), it was advised to use flag _--pod-network-cidr=10.217.0.0/16_ with kubeadm in order to install Cilium later. Is this still the case?
2. I would like to migrate from Flanel to Cilium. At the moment, my clust

[2021-03-02 12:58] olemarkus commented on #14239
for what it is worth, the kOps e2e tests pass with Cilium.

[2021-03-02 13:22] pchaigno commented on #14239
Master (`:latest`) works with 1.20, but not the latest stable (`:1.9.4`). The latest stable [only supports Kubernetes 1.12 to 1.19](https://docs.cilium.io/en/stable/concepts/kubernetes/compatibility/#k8scompatibility).

[2021-03-02 13:30] acim commented on #14239
But as far I can see, there are no images of the master branch on quay.io/cilium. Neither for operator nor for cilium. It would be nice to have latest or some testing or whatever tag for the master branch based image.

[2021-03-02 13:31] olemarkus commented on #14239
"Supported" and "functional" are two different things, I guess. As mentioned, it does pass conformance, but there may be 1.20 features not supported by cilium. I can imagine especially things related to the kube-proxy replacement.

Would be good to have an idea of what is actually failing.

[2021-03-02 13:34] nebril commented on #15169
Ran `docker compose` with `verbose` flag: https://jenkins.cilium.io/job/Cilium-PR-K8s-1.19-kernel-4.9/1566/execution/node/66/log/ looks like it gets stuck on
[code]

[2021-03-02 13:45] aanm commented on #14239
All `:latest` tags were transferred to `quay.io/cilium/*-ci:latest` to make it explicit the `*-ci` repositories are not meant to use by any production systems. We only use them for testing in our CI.

[2021-03-02 15:20] pchaigno commented on #15071
#15158 has a similar report from @briantopping with a sysdump (:tada:).

[2021-03-02 15:21] pchaigno commented on #15158
I'll close and link from the other issue. Thanks for the additional info! :pray:

[2021-03-02 15:21] #15158 closed

[2021-03-02 15:37] pchaigno commented on #14657
We process packets twice because (1) `FORCE_LOCAL_POLICY_EVAL_AT_SOURCE` is defined (default) so packets are processed at `bpf_overlay` and (2) endpoint routes are enabled so `bpf_lxc` is installed on the egress of the lxc device. The same issue exists for the native routing case as well but is mitigated by the above `skip_redirect`.

[2021-03-02 15:45] nebril commented on #15169
This seems to be caused by https://github.com/moby/moby/issues/42093

[2021-03-02 15:47] #11311 closed

[2021-03-02 16:18] ken-letter commented on #15082
Disabling does allow cilium to proceed launching, but this leaves the networking in a fairly useless state.

[2021-03-02 16:38] christarazi opened #15174 "ENI migration followups"
Followup from https://github.com/cilium/cilium/pull/14337 / https://github.com/cilium/cilium/pull/14269.

- [x] Avoid reaching out to K8s apiserver to fetch the CiliumNode resource. We can leverage the already locally stored resource.
  - (Turned out this is difficult to do because the only place in Cilium that we store the CN resource locally is the Operator, and this code is executing in the Age

[2021-03-02 17:03] pchaigno commented on #15141
@brb If `cilium_snat_v4_external` is only used when BPF NodePort is enabled, should we create the userspace counterparts only when `EnableNodePort` is true? https://github.com/cilium/cilium/blob/a9374b5db0223752364829f9c0b827f413d2903b/daemon/cmd/datapath.go#L402 and https://github.com/cilium/cilium/blob/29c7f217794b05950eb234e730836af6ab698a86/pkg/maps/ctmap/ctmap.go#L168

[2021-03-02 17:21] mazzy89 commented on #15141
Thanks, @pchaigno for taking care of this. I was looking at it this morning but you are faster than me 😝

[2021-03-02 19:19] racarvalho1987 opened #15177 "nodeinit.restartPods=true isn't working on GKE"
{
textPayload: "find: '/var/lib/cni/networks/': No such file or directory
"
resource: {
type: "k8s_container"
labels: {
project_id: "xxxxx"
location: "xxxxxx"
pod_name: "cilium-node-init-rqzcf"
cluster_name: "gke-cluster-xxxxx"
namespace_name: "cilium"
container_name: "node-init"
}
}
timestamp: "2021-03-02T12:25:46.033791028Z"
severity: "ERROR"
labels: {
k8s-pod/app: "cilium-node-init"
k8s-pod/pod

[2021-03-02 20:13] aanm commented on #15170
If you cluster is provisioned with a pod cidr then you can use `--set ipam.mode=kubernetes` in helm. Otherwise the default values set up in the helm chart are sufficient. More info [here](https://docs.cilium.io/en/v1.9/concepts/networking/ipam/kubernetes/#configuration)

just a FYI, starting in Cilium >= 1.9.0, the `global` are not required. More info [here](https://docs.cilium.io/en/v1.9/operatio

[2021-03-02 21:22] Managarmrr commented on #15137
Sorry for the delay, I was really busy fixing our setup and meeting the deadline on Monday. Anyway, I could give you the logs, but I could also just spawn ou guys a test instance with all the settings and grant you root access for easier debugging. Which do you prefer? if you decide to go for the server access (don't worry about time-frames etc, we are very flexible) just DM me all the necessary S

[2021-03-03 05:18] lrouter opened #15181 "host machine could not reached by ip after removing cilium with ipv6 enabled"
## Bug report

**General Information**

- Cilium version
Client: 1.9.1 442d5398a 2021-01-05T20:42:14+08:00 go version go1.15.5 linux/arm64
Daemon: 1.9.1 442d5398a 2021-01-05T20:42:14+08:00 go version go1.15.5 linux/arm64
- Kernel version (run `uname -a`)
Linux n149-136-211 4.19.117.bsk.2-amd64 #4.19.117.bsk.2 SMP Debian 4.19.117.bsk.2 Tue Jun 30 01:28:10 UT x86_64 GNU/Linux
- Orchestration system

[2021-03-03 08:16] brb commented on #15137
SSH access would be the fastest way to debug - https://github.com/brb.keys (I'm `martynas` on the Slack). Thanks.

[2021-03-03 08:41] D1abloRUS commented on #15150
Hey! I will try to implement in the near future

[2021-03-03 08:53] brb commented on #15141
@pchaigno Yep.

[2021-03-03 10:41] pchaigno commented on #15181
How did you remove Cilium? By deleting the YAML file?

Could you run `bpftool net` on the host machine? If any BPF programs have been left behind, that should tell us.

[2021-03-03 11:20] csturgess93 commented on #15095
Hi pchaigno,

Thanks for this. I will give this an attempt hopefully this week, and post an update!

[2021-03-03 16:16] pchaigno commented on #10442
Hit in https://github.com/cilium/cilium/pull/15183.

[2021-03-03 17:33] joestringer opened #15190 "Review docs for EKS overlay mode"
The documentation for EKS overlay mode is unclear here:

https://docs.cilium.io/en/v1.9/gettingstarted/k8s-install-eks/#deploy-cilium

Specifically:
* The note does not mention anything about `ipam.mode=eni` but it seems like that should not be configured for overlay mode.
* Some users have mentioned being able to just deploy with complete default options
  * Do we need the nodeinit=true option wh

[2021-03-03 17:39] joestringer commented on #15190
Adding release-blocker/1.10 label just to make sure it gets done at some point. If you're interested in picking this up before then, please post in the thread, I would encourage discussion/follow-up :)

[2021-03-03 17:39] qmonnet commented on #15132
Also in #15184 - [2ffcd46c_K8sDatapathConfig_MonitorAggregation_Checks_that_monitor_aggregation_restricts_notifications.zip](https://github.com/cilium/cilium/files/6077985/2ffcd46c_K8sDatapathConfig_MonitorAggregation_Checks_that_monitor_aggregation_restricts_notifications.zip)

[2021-03-03 17:52] joestringer commented on #15051
Looks like https://github.com/cilium/cilium/pull/15048 already addresses this for branches 1.8, 1.9. For v1.7, if we establish that the backport is necessary there then we should just bump the netlink library directly on that branch rather than relying on backporting #15048 which is not currently scheduled to go to v1.7.

[2021-03-03 19:53] ellistarn commented on #12981
I'm running into this as well. I'm assuming that for overlay mode, I need the following config (removed all references to eni)
[code]
I've also run with defaults, which passed all networking tests except for egress.
[code]

I'm also seeing a strange issue where one of my init pods is crash looping
[code]

[2021-03-04 02:46] lrouter commented on #15181
Yes, by deleting yaml file. The machine could not be reached anyway by ssh. So I have to reboot it.

[2021-03-04 05:20] l1b0k opened #15195 "Cilium LRP failed to NAT when client side listen same port as endpoint"
## Bug report

- Cilium version
   -  Client: 1.9.4 07b62884c 2021-02-03T11:45:44-08:00 go version go1.15.7 linux/amd64
   -  Daemon: 1.9.4 07b62884c 2021-02-03T11:45:44-08:00 go version go1.15.7 linux/amd64
- Kernel version 5.4.0-65-generic

**How to reproduce the issue**

LRP works well when client  side not listen 80 port.

![image](https://user-images.githubusercontent.com/4043362/109914763-9e

[2021-03-04 06:12] Weil0ng commented on #15195
hmm, I cannot seem to reproduce on GKE (with cilium 1.9.4 release):
[code]

[2021-03-04 06:23] aditighag commented on #15195
@Weil0ng You are running 4.19 kernel? I suspect that the loop fix is somehow in effect here. But that's only applicable on > 5.1 kernel.

[2021-03-04 06:30] Weil0ng commented on #15195
I'm running 5.4 kernel actually
[code]

[2021-03-04 06:33] Weil0ng commented on #15195
@l1b0k can you copy-paste output from `ss -a`

Here's mine:
[code]

[2021-03-04 06:52] l1b0k commented on #15195
@Weil0ng

[code]

[2021-03-04 09:16] borkmann commented on #15195
@aditighag @Weil0ng I think we need to remove `sock4_skip_xlate_if_same_netns()`.

I briefly wondered whether something like the below could be made to work ...
[code]
... but then this won't cover the case when the server binds to 0.0.0.0, so I don't think it's a reliable solution overall. What is happening here is that in the client ns the nc -l 80 auto-binds in the kernel to 0.0.0.0 from the sa

[2021-03-04 09:44] l1b0k commented on #15195
in my resent test ,make `sock4_skip_xlate_if_same_netns` always return `false`  solve the problem

[2021-03-04 10:28] #15000 closed

[2021-03-04 10:37] rolinh commented on #14964
I found out that v1.9 on a Kind cluster now works with Kernel v5.10. At the time I reported the issue, I was running v5.10.15 and now I'm running v5.10.19. These are probably relevant commits in the bpf subsytem that might explain why I don't hi the complexity issue anymore even with Cilium v1.9:
[code]

[2021-03-04 10:47] lyveng commented on #14658
I'm using systemd version 247.3-1~bpo10+1 on debian buster with backports kernel installed.

[code]

[code]

[code]

[code]

Seems to work fine for me. There is no vlan involved though.

[2021-03-04 11:12] ArthurChiao opened #15197 "PolicyAuditMode can't be turned off at runtime if cilium-agent starts with it enabled"
## Bug report

If PolicyAuditMode is enabled when cilium-agent starts, then disable it with CLIs does work, such as

1. `cilium config PolicyAuditMode=false`
2. `cilium endpoint config <ep_id> PolicyAuditMode=false`

## Root cause

In short,

1. If audit mode is enabled at startup, agent will write `#define POLICY_AUDIT_MODE 1` to `node_config.h`
2. When disable it with CLI, the agent will not pas

[2021-03-04 11:34] hoeg opened #15198 "ClusterWideNetworkPolicy deny to CIDR not enforced"
## Bug report

**General Information**

I am running a Kubernetes cluster on AWS and I want to restrict access to the AWS metadata service by default such that it is opt in. It seems that the `CiliumClusterwideNetworkPolicy` is not enforced when using `egressDeny` with `toCIDR`.

- Cilium version (run `cilium version`)
[code]
- Kernel version (run `uname -a`)
[code]

Policy that is not getting enf

[2021-03-04 11:58] kovalyukm opened #15200 "FIB lookup failed DROPPED on nodes that are in the same AZ with nodes where the Service pods work"
## Bug report

Hello,
There is an issue on AWS EKS clusters.
NodePort of Services (type NodePort and LoadBalancer) is not responding with connection timed out on the nodes which are in the same availability zones with nodes where Service pods work (so, NodePort works on nodes in different AZs and nodes with Service pods).

There are used the latest versions of components:
Kubernetes version 1.19
A

[2021-03-04 12:56] uykusuz commented on #14658
@lyveng I used bullseye, not buster. Also no vlan involved. I just bootstrapped again a single-node cluster with cilium 1.9.4 and systemd 247.3.1, doesn't work.

[2021-03-04 13:24] pchaigno commented on #14791
#15156 fixed this.

[2021-03-04 13:24] #14791 closed

[2021-03-04 15:01] pchaigno commented on #15181
Do you mean that one? https://github.com/cilium/cilium/blob/v1.9.1/install/kubernetes/quick-install.yaml

It might be worth trying to disable `kube-proxy-replacement` to see if the problem remains.

[2021-03-04 15:06] pchaigno commented on #15197
I think we should move `POLICY_AUDIT_MODE` from `node_config.h` to the individual `ep_config.h` header files. The fact it can be configured per endpoint with `cilium endpoint config` implies it's a per-endpoint setting and shouldn't be in `node_config.h` IMO.

[2021-03-04 15:25] brb commented on #15195
Let's fallback to cgroupv1 as a last resort. This year we might see many environments switching to v2 only, so let's not hinder the transition.

[2021-03-04 16:06] brb commented on #14964
With host-reachable-svc disabled?

[2021-03-04 16:24] joestringer opened #15212 "Update k8s iptables summary image"
A user reported that the image here does not include `CILIUM_PRE`:

https://docs.cilium.io/en/v1.9/_images/kubernetes_iptables.svg

The diagram source is here:
https://github.com/cilium/k8s-iptables-diagram

We should update the diagram to reflect the latest state of potential iptables rules.

[2021-03-04 16:42] brb commented on #14658
@uykusuz Did you check that it's not the https://github.com/cilium/cilium/issues/10645 issue?

[2021-03-04 16:46] brb commented on #15200
@kovalyukm Thanks for the detailed issue. Could you run from the node which registered the drops: `ip route get <POD_IP>`?

[2021-03-04 17:21] jrajahalme opened #15214 "CI: Race Detector tests out of memory"
Using Go race detector requires more memory (https://golang.org/doc/articles/race_detector#Runtime_Overheads):

CI race detector pipelines (https://jenkins.cilium.io/view/Race%20Detection/) have various Kafka test failures. Test output indicates that some of the kafka pods are stuck at `regenerating`:
[code]
Logs of the Cilium pod (cilium-hjdw4) tell that Envoy is crashing when opening proxylib (w

[2021-03-04 19:07] jrfastab opened #15216 "Cilium: Encryption, remove ingress IPsec rules when no longer needed"
When encryption is disabled we remove xfrm entries for remote nodes,
[code]
This stops the node from sending encrypted traffic, because it no longer has rules/xfrm-state/policy to do this. However, we have to leave the ingress decrypt rules in place because its unclear when the remote nodes will be updated and we don't want to drop traffic if a remote node sends us an encrypted traffic. For exampl

[2021-03-04 19:26] Weil0ng commented on #15195
Hmm, I had my doubt there too, but am curious how come in my test it seems not to be triggered? I have a listening socket on 0.0.0.0:80 too, is it some kernel-specific behavior? @borkmann

[2021-03-04 21:19] kovalyukm commented on #15200
@brb Thanks!

[code]

BTW, to temporary fix the issue on the node:
[code]
till node reboot or pod restart.

[2021-03-05 02:08] ArthurChiao commented on #15197
It seems that `POLICY_AUDIT_MODE` is already in `ep_config.h` and `lxc_config.h` of each endpoint, e.g.

[code]

but this declaration will be overridden when generating BPF if the macro is defined in node_config.h.

Makes sense to me, I'll take a further look, thanks! @pchaigno

[2021-03-05 04:29] ArthurChiao commented on #15197
Hi @pchaigno, according to my test, directly remove the macro from node_config.h works (PR #15218). Not sure if there are cases that still rely on this flag in node_config.h? @pchaigno

[2021-03-05 07:44] brb commented on #15200
I assume `<NODE_IP>` corresponds to an IP of a remote node running the pod?

Could you grep the cilium-agent logs for `node-neigh` messages?

[2021-03-05 08:22] pchaigno commented on #15197
If the macro is already in all `ep_config.h` files, I think #15218 will be enough.

[2021-03-05 08:25] tklauser commented on #15141
Hit this in #15213 test runs, I think: https://jenkins.cilium.io/job/Cilium-PR-K8s-1.20-kernel-4.9/861/

[code]

[2021-03-05 08:54] kovalyukm commented on #15200
<NODE_IP> is the node with the issue (all outputs above are from this node).
<POD_IP> is the pod that running on another node that is in the same AZ with the node with <NODE_IP>.

[code]

[2021-03-05 13:35] Skymirrh commented on #15214
The current machines on Equinix Metal have 32GB RAM, and those on GKE have 15GB RAM. We could have separate pools with higher RAM for race detections, which would obviously cost more. Perhaps it would be worth first to check actual RAM usage and partitioning at the moment of crash, see if there's not something fishy?

[2021-03-05 15:22] Antiarchitect opened #15226 "1.9.4 arping from wrong interface timeout"
It could be a successor of https://github.com/cilium/cilium/issues/14693
So we have ens18 - external interface and ens19 - internal one and cilium tries to send arping from external interface into the private network:
[code]

[2021-03-05 15:24] brb commented on #15226
Can you paste `cilium status --verbose`?

[2021-03-05 15:31] Antiarchitect commented on #15226
[code]

[2021-03-05 15:32] brb commented on #15226
Something is odd with the output. Did you include the full output?

[2021-03-05 15:33] Antiarchitect commented on #15226
It's from each node in cycle.

[2021-03-05 15:35] brb commented on #15226
Could you run `cilium status` from the node which did the arping from the wrong iface?

[2021-03-05 15:40] Antiarchitect commented on #15226
[code]

[2021-03-05 15:42] brb commented on #15226
OK, you need to set ens19 as a direct routing iface (`--direct-routing-device`). Just to confirm, is ens19 a device which IP addr is assigned to k8s Node IP (`kubectl get nodes -o wide`).

[2021-03-05 15:53] Antiarchitect commented on #15226
[code]

Not really. Masters have real IPs as INTERNAl-IP and workers have grey IPs. No one has external. Worked this way from the beginning.

[2021-03-05 15:57] brb commented on #15226
Did you specify `devices` in the ConfigMap? Can you share cilium-agent log?

[2021-03-05 16:00] Antiarchitect commented on #15226
[code]

[2021-03-05 16:02] Antiarchitect commented on #15226
[code]

[2021-03-05 16:09] brb commented on #15226
Thanks. OK, so on that node which device has k8s Node IP? ens18 (external) or ens19 (internal)?

[2021-03-05 16:10] Antiarchitect commented on #15226
ens18 external (but in kubectl get nodes it is marked as INTERNAL)

[2021-03-05 16:16] brb commented on #15226
Then you need to specify the internal device via `--direct-routing-device` or change the k8s Node IP.

[2021-03-05 16:58] brb commented on #15200
OK, so in the VPC mode the routing between Pods is handled by VPC, and we don't install a route to a remote pod in the same AZ, and the kernel assumes that Pods are L2-reachable.

Could you dump the neighbor table (`ip neigh show`) after pinging the Pod?

[2021-03-05 17:11] Antiarchitect commented on #15226
@brb Thx for your support and attention. We've decided to set INTERNAL IPs of k8s heads to IPs of the internal network. And everything is OK now and no errors since this moment. Seems like previously we didn't face this problem due to arping was introduced in Cilium recently (~ 1.9.2). Now all seems OK. Thank you once again.

[2021-03-05 17:28] #15226 closed

[2021-03-05 18:21] joestringer commented on #13553
Just acknowledging your most recent post @gpl , that seems like a straightforward reproduction + mitigation. I'm not aware of anyone directly working on this issue today but given the required steps to reproduce, anyone who's interested in digging further should hopefully be able to make some progress from there.

It's likely that some IPv4 assumption has leaked into the datapath at some point, bu

[2021-03-05 19:56] joestringer opened #15229 "Populate prog_name during bpf prog load"
The `bpf()` syscall `struct bpf_attr` has a `prog_name` field which allows associating a name string with a program during load. This functionality appears to have been [available since Linux v4.15](github.com/torvalds/linux/commit/067cae47771c864604969fd902efe10916e0d79c). Adding support for this in our loader might be useful to assist debugging.

[2021-03-05 21:45] jrajahalme commented on #14919
`[Unable to use runtime singleton for feature envoy.http.headermap.lazy_map_min_size` is tracked upstream at: https://github.com/envoyproxy/envoy/issues/13504

[2021-03-05 22:54] #12317 closed

[2021-03-06 10:16] kovalyukm commented on #15200
There is no <POD_IP> in the neighbor table befor pinging, and after it:
[code]

[2021-03-06 23:30] vdavidoff opened #15234 "kube-proxy masquerade breaks cilium snat if kube-proxy's rules are before cilium's in iptables"
## Bug report

I will preface this report by saying I suspect my issue is being caused by strange or incorrect configuration in my environment, and not necessarily a bug per-se, but I haven't been able to figure out how to avoid the issue using configuration options for various services/daemons. It seems like if others were running into this, though, I'd have come across it somewhere out there, an

[2021-03-08 02:49] lrouter commented on #15181
OK, I will try it.

[2021-03-08 04:56] vdavidoff commented on #15234
Also note the following, which was captured after the data in the issue description above, but while in a broken state. Note the test pod is now at IP 172.29.2.41.

I do see this route:
[code]

And if I send traffic from the node to 172.29.2.41, the source does get set to 172.29.1.160. This is the first relevant packet I see with tcpdump, that is, I never see one with the node's IP as a source:
[c

[2021-03-08 10:04] zhujik opened #15237 "Context Deadline Exceeded errors after upgrade from 1.8.4 to 1.9.4"
**General Information**

- Cilium version (run `cilium version`)
  root@ip-192-168-109-221:/home/cilium# cilium version
  Client: 1.9.4 07b62884c 2021-02-03T11:45:44-08:00 go version go1.15.7 linux/amd64
  Daemon: 1.9.4 07b62884c 2021-02-03T11:45:44-08:00 go version go1.15.7 linux/amd64
- Kernel version (run `uname -a`)
  root@ip-192-168-109-221:/home/cilium# uname -a
  Linux ip-192-168-109-221.eu

[2021-03-08 10:27] #14838 closed

[2021-03-08 10:28] #15197 closed

[2021-03-08 10:28] #15155 closed

[2021-03-08 13:21] sfxworks commented on #9145
Hello

[code]

This issue also occurred when I rebooted a node of mine.
I'm not sure what to make of this. My last request to cilium was `helm upgrade cilium cilium/cilium --version 1.9.4 --namespace kube-system --set kubeProxyReplacement=strict --set k8sServiceHost=192.168.8.1 --set k8sServicePort=6443 --set hostServices.enabled=true --set hostFirewall=true --set devices='{eno1, eno2}'` and then

[2021-03-08 13:50] #10502 closed

[2021-03-08 14:02] pchaigno commented on #15234
@brb Did you encounter that :point_up:  before? Is it a known issue?

[2021-03-08 14:56] aanm opened #15244 "CI: Checks service across nodes Tests NodePort BPF Tests with vxlan Tests NodePort with Maglev Tests NodePort"
[code]
[e0cca9df_K8sServicesTest_Checks_service_across_nodes_Tests_NodePort_BPF_Tests_with_vxlan_Tests_NodePort_with_Maglev_Tests_NodePort.zip](https://github.com/cilium/cilium/files/6102154/e0cca9df_K8sServicesTest_Checks_service_across_nodes_Tests_NodePort_BPF_Tests_with_vxlan_Tests_NodePort_with_Maglev_Tests_NodePort.zip)

https://jenkins.cilium.io/job/Cilium-PR-K8s-1.12-net-next/1629/testRepor

[2021-03-08 15:13] zhujik commented on #15237
At a quick glance at the other issues I could find https://github.com/cilium/cilium/issues/14403, however, I am not sure if the pod that doesn't show up in the CEP resource has the same root cause or not.

[2021-03-08 15:26] tklauser commented on #13773
Not sure whether this is exactly the same flake, but I've just seen _K8sDatapathConfig Encapsulation Check iptables masquerading with random-fully_ and _K8sDatapathConfig Encapsulation Check iptables masquerading without random-fully_ fail on #15241: https://jenkins.cilium.io/job/Cilium-PR-K8s-1.19-kernel-4.19/4894/

[2021-03-08 15:29] pchaigno commented on #13773
Looks similar, let's reopen. I might have a fix anyway :-)

[2021-03-08 15:40] aanm commented on #15133
We might not want that behavior as Close needs to block to make sure sessions are expired.

[2021-03-08 15:46] jrajahalme opened #15246 "CI: K8sServicesTest Checks service across nodes Tests NodePort BPF Tests with Wireguard (L2-less) Tests NodePort BPF"
https://jenkins.cilium.io/job/Cilium-PR-K8s-1.13-net-next/955/testReport/Suite-k8s-1/13/K8sServicesTest_Checks_service_across_nodes_Tests_NodePort_BPF_Tests_with_Wireguard__L2_less__Tests_NodePort_BPF/

[test_results_Cilium-PR-K8s-1.13-net-next_955_BDD-Test-PR.zip](https://github.com/cilium/cilium/files/6102482/test_results_Cilium-PR-K8s-1.13-net-next_955_BDD-Test-PR.zip)

[code]

[2021-03-08 16:22] aanm commented on #15246
[code]

[2021-03-08 16:25] dimitri-fert opened #15249 "Complexity issue with socket-level LB disabled on Linux 5.10 and Cilium 1.8.7"
## Bug report
Our Cilium pods report endless `tc filter` command execution failure and failed endpoint regeneration.

[code]

**General Information**

- Cilium version : **1.8.7**
- Kernel version : **5.10.0-0.bpo.3-amd64 | (2021-02-11) x86_64 GNU/Linux**
- Orchestration system version in use : ** Kubernetes v1.18.16 ** / ** kOps v1.18.3 **
[code]

**How to reproduce the issue**

We are encounteri

[2021-03-08 19:21] #14919 closed

[2021-03-08 19:21] rolinh commented on #14964
@brb I thought I had host reachable services disabled but... no. The kernel complexity issue wasn't actually fixed by one of the commit above :disappointed: .

[2021-03-08 19:22] christarazi opened #15252 "v1.9.5 release"
## Pre-release

- [x] Check that there are no [release blockers] for the targeted release version
- [x] Ensure that outstanding [backport PRs] are merged
- [x] Consider building new [cilium-runtime images] and bumping the base image
      versions on this branch:
  - Cilium v1.7 to v1.9:
     [Re-trigger a build in quay.io](https://docs.cilium.io/en/v1.9/contributing/development/images/#update-cil

[2021-03-08 19:27] ReillyTevera commented on #14964
There are a number of BPF fixes in 5.10.20, so it's probably worth testing that version as well. (none in 5.10.21 from what I can see)

[2021-03-08 19:35] r3mattia commented on #12297
Is any further clarification added on the permissions required in this case? I am currently encountering the same issue as @EPinci. I was also able to deploy using a SP with no issue.

In this case, I have created a new UMI, and assigned:
- vNet reader scoped on the vNet used by AKS
- vNet contributor scoped on the vNet used by AKS (same as above)
- VM contributor scoped on the the resource group

[2021-03-08 19:56] rolinh commented on #14964
I did test with 5.10.21 today, still hitting the complexity issue unfortunately :disappointed:

[2021-03-09 00:10] izaakschroeder commented on #14459
This may be related: https://github.com/bottlerocket-os/bottlerocket/issues/1367 😄

[2021-03-09 02:28] jrajahalme opened #15255 "CI: v1.9: K8sUpdates Tests upgrade and downgrade from a Cilium stable image to master"
[code]

https://jenkins.cilium.io/job/Cilium-PR-K8s-1.12-net-next/1635/testReport/junit/Suite-k8s-1/12/K8sUpdates_Tests_upgrade_and_downgrade_from_a_Cilium_stable_image_to_master/
[742e87a2_K8sUpdates_Tests_upgrade_and_downgrade_from_a_Cilium_stable_image_to_master.zip](https://github.com/cilium/cilium/files/6106949/742e87a2_K8sUpdates_Tests_upgrade_and_downgrade_from_a_Cilium_stable_image_to_mast

[2021-03-09 08:19] pchaigno commented on #13773
Here is what I think is happening:

The tests are failing because a client pod fails to resolve a domain name. If you reproduce locally, you'll see that connections from the CoreDNS pods to 8.8.8.8 timeout.

The test that ran just before our failing tests is `Check vxlan connectivity with per-endpoint routes`. That should always be the case. That previous test enabled per-endpoint routes in the ag

[2021-03-09 08:30] pchaigno commented on #15255
@jrajahalme I've attached the sysdump to the issue. They are removed very quickly on Jenkins so best to save them on GitHub.

`unable to allocate IP via local cilium agent: [POST /ipam][502] postIpamFailure  range is full` here is suspicious.
`cilium status --verbose` for the node hosting the CoreDNS pod has:
[code]
Next step would be to look into what these are and why they may exist.

[2021-03-09 08:45] pchaigno commented on #15249
Thanks for reporting this! It looks like a BPF complexity issue caused by the newer 5.10 kernel, similar to https://github.com/cilium/cilium/issues/14964#issuecomment-779054215.

Could you share a bugtool of one of the failing nodes so that we can triage this based on datapath configuration?

[2021-03-09 08:51] brb commented on #15051
@anfernee Could you take care of the replacing in the `pkg/multicast` and `pkg/mcastmanager` packages?

[2021-03-09 08:55] brb commented on #15244
Duplicate of #12511.

[2021-03-09 08:55] #15244 closed

[2021-03-09 09:15] pchaigno commented on #12511
Can also happen with test:
[code]
(Just so GH searches on that test return this issue.)

[2021-03-09 09:27] brb commented on #14962
Yeah, that's a good point. JFYI after the v1.10 release we are planning to spend some cycles improving ARP handling.

[2021-03-09 10:02] aanm opened #15262 "Add helm option to disable registering CRD from Cilium Operator"
Cilium Operator is responsible for the creation of Cilium CRDs. We should have a helm option that allows users to disable this functionality.

[2021-03-09 10:20] qmonnet commented on #15229
Would be fantastic to have :+1:.

Have you given some thought into what names should be used? In particular:
- Should the names be, for example, derived from the ELF section names the program code was stored in?
- Should they be prefixed with a `cilium-` marker or something like that?
- More generally, should these names be used for debug assistance only, or do we want to reserve the possibility t

[2021-03-09 10:51] zhujik commented on #15237
But the difference is that we do not use the AWS CNI in chaining mode, we use Cilium standalone. So I don't think that this is the issue.

[2021-03-09 10:53] zhujik commented on #15237
This is our Cilium config, if that adds anything:
[code]

[2021-03-09 15:14] kovalyukm commented on #15200
There is the same issue when using Cilium instead of kube-proxy and AWS-CNI.
[code]

[2021-03-09 15:56] r3mattia opened #15268 "Cilium helm installation support for Azure UserAssignedIdentity, missing in template"
When I deploy Cilium with Helm to AKS using an UserAssignedIdentityID, I kept on getting the following error for my `cilium-operator`s:

[code]

Then I reviewed the Helm chart templates for the `cilium-operator` and noticed that UserAssignedIdentityID actually is not provided as a parametrised value. You may see that here:

https://github.com/cilium/cilium/blob/e2d9cbb93f326c7017b0177ed7c5fbb1557f

[2021-03-09 16:32] pchaigno opened #15269 "Missing documentation for unreachable_nodes and unreachable_health_endpoints metrics"
We should add [documentation](https://docs.cilium.io/en/latest/operations/metrics/#metrics-reference) for the `unreachable_nodes` and `unreachable_health_endpoints` metrics.

[2021-03-09 16:46] pchaigno opened #15270 "bugtool: Dump iptables-legacy rules"
In [bugtools](https://github.com/cilium/cilium/blob/888e8c95b3040ea408596a611448e0f16dbfe727/bugtool/cmd/configuration.go#L97), we dump the configuration from `iptables` and `ip6tables`. We should also dump the content of any `iptables-legacy` (and `ip6tables-legacy`) in case there are any rules. Such rules can introduce unintended behavior that is hard to debug without a dump.

[2021-03-09 17:21] AlexLast opened #15276 "Global Services not syncing when using clustermesh-apiserver"
## Bug report
Have tried to raise this a couple of times via Slack, but hopefully I can get some more traction here.

**General Information**

- Cilium version `1.9.1 975b66772 2020-12-04T18:16:09+01:00`
- Kernel version `Linux <redacted> 5.4.92-flatcar #1 SMP Wed Jan 27 16:53:10 -00 2021 x86_64 x86_64 x86_64 GNU/Linux`
- Orchestration system version in use `Kubernetes v1.19.8`

**How to reproduce

[2021-03-09 18:23] jrajahalme opened #15278 "Enable originating TLS connections via HTTP policy"
Cilium currently supports policy based visibility and access control of TLS traffic (https://docs.cilium.io/en/latest/gettingstarted/tls-visibility/). Currently this only works when both upstream and downstream connections are TLS. It would be nice to be able to take clear-text connections (e.g., on port 80) from a pod, redirect them to Cilium egress proxy, and forward them as TLS connections (e.g

[2021-03-09 22:24] pchaigno opened #15282 "Log errors on upsert/delete of endpoint routes"
When configuring per-endpoint routes, we should log errors:
https://github.com/cilium/cilium/blob/fde0bdac8aa538996ce29cf8275c6f92e0663512/pkg/datapath/loader/loader.go#L348-L356

https://github.com/cilium/cilium/pull/15228 added code to remove the routes when per-endpoint routes are disabled. We should also log errors in that case, unless the error is `ENOENT` when attempting to remove a route th

[2021-03-09 22:30] joestringer opened #15283 "Debug message "stale identity observed" is frequently printed in logs"
Cilium latest, during v1.10 dev cycle.

Seen in a failed PR, this message is frequently printed to the log:

[code]

It's just a debug message, but given how frequently it's being logged it seems like it's trying to draw attention to something being out-of-place compared to how the code was written. Just filing this to follow up and see if it's surprising to anyone. CC @cilium/hubble

Example CI j

[2021-03-09 22:59] pchaigno commented on #14676
Happened a couple times on master as well: https://datastudio.google.com/s/gfsFHCAmZ3g.

[2021-03-09 23:37] #14806 closed

[2021-03-09 23:37] #14807 closed

[2021-03-09 23:37] anfernee commented on #15051
@brb `pkg/multicast` requires calling `JoinGroup` from here because it takes an `net.Interface` as parameter:
https://pkg.go.dev/golang.org/x/net@v0.0.0-20210119194325-5f4716e94777/ipv6#PacketConn.JoinGroup

What is your recommendation?

[2021-03-09 23:50] joestringer opened #15285 "v1.8.8 release"
## Pre-release

- [x] Check that there are no [release blockers] for the targeted release version
- [x] Ensure that outstanding [backport PRs] are merged
- [x] Consider building new [cilium-runtime images] and bumping the base image
      versions on this branch:
  - Cilium v1.10 or later:
     Modify the `FORCE_BUILD` environment value in the `images/runtime/Dockerfile` to force a rebuild.
     [

[2021-03-09 23:51] joestringer opened #15286 "v1.7.15 release"
## Pre-release

- [x] Check that there are no [release blockers] for the targeted release version
- [x] Ensure that outstanding [backport PRs] are merged
- [x] Consider building new [cilium-runtime images] and bumping the base image
      versions on this branch:
  - Cilium v1.10 or later:
     Modify the `FORCE_BUILD` environment value in the `images/runtime/Dockerfile` to force a rebuild.
     [

[2021-03-10 02:16] #15141 closed

[2021-03-10 06:00] brb commented on #15051
Oh snap, I guess we cannot do anything then?

[2021-03-10 06:25] anfernee commented on #15051
Took a quick look. I guess it's doable. Good suggestion.

[2021-03-10 08:46] #13773 closed

[2021-03-10 10:43] kovalyukm commented on #15200
@brb Hello!

There is the same issue for Installation using Getting Started Guides » Managed Kubernetes » Installation on AWS EKS on newly-created cluster:
Kubernetes version 1.19
KubeProxy v1.19.6-eksbuild.2
KERNEL-VERSION 5.4.95-42.163.amzn2.x86_64
Amazon VPC CNI plug-in - deleted
and Cilium 1.9.4

[code]
kubernetes-dashboard/kubernetes-dashboard-9b7fd6947-jx7jn:9090 FIB lookup failed DROPPED (T

[2021-03-10 13:43] brb commented on #15200
Could you set `kubeProxyReplacement=disabled`?

[2021-03-10 15:20] kovalyukm commented on #15200
It helped.
All LB target instances are InService, no timeouts from NodePorts and `hubble observe -f --type drop` shows only "Unsupported L3 protocol DROPPED (ICMPv6 RouterSolicitation)".

[2021-03-10 16:19] brb commented on #15200
Thanks for the confirmation. We are going to fix the issue in the v1.11 development cycle.

[2021-03-10 16:57] r3mattia commented on #15268
As a note, I also get a different error code now when using service principals:

[code]

The steps to reproduce this is:
- Create an AKS cluster
- Create a service principal with `az ad create-for-rbac --name cilium-operator`
- Define variables and deploy with:

[code]

In this case, you may see that I get a `404`, but I get a `400` in the User Assigned Identity case.

Any idea of when this can ge

[2021-03-11 02:01] #15286 closed

[2021-03-11 02:01] #15285 closed

[2021-03-11 02:04] #15252 closed

[2021-03-11 07:47] brandshaide commented on #15022
This affects also a multi-node setup

[code]

[2021-03-11 09:14] dimitri-fert commented on #15249
Hi @pchaigno, thank you for your time. It seems like a BPF complexity issue indeed. Sure, I'll provide a bugtool, but I'll need some time to sanitize our sensitive data. I'll keep you posted.

[2021-03-11 09:37] s0rl0v opened #15315 "Does Cilium support AWS EKS Fargate?"
Hello team,

Does Cilium support AWS EKS Fargate? It's not listed anywhere in docs, so I hope to find the answer here.

[2021-03-11 09:50] pchaigno commented on #15315
No, I think we're blocked on https://github.com/aws/containers-roadmap/issues/1027.

[2021-03-11 12:27] aanm opened #15317 "v1.10.0-rc0 release"
## Pre-release

- [x] [SKIPPED] Check that there are no [release blockers] for the targeted release version
- [x] [SKIPPED] Ensure that outstanding [backport PRs] are merged
- [x] Consider building new [cilium-runtime images] and bumping the base image
      versions on this branch:
  - Cilium v1.10 or later:
     Modify the `FORCE_BUILD` environment value in the `images/runtime/Dockerfile` to for

[2021-03-11 22:06] #15317 closed

[2021-03-12 01:27] liuyuan10 commented on #13732
I see this has a milestone of v1.10. Is that going to happen?

[2021-03-12 06:32] viveksahu26 commented on #13599
Hey, @pchaigno, I know the basics of Ingress(Nginx), how it works, its rule-book. I also have a knowledge of CNI and how it adds firewall using Ingress to make Network Policy.  I have golang basic to intermediate level. Now, coming to the issue, how to "Remove the validation check".  Please guide me.

[2021-03-12 07:33] pchaigno commented on #13599
Hi @viveksahu26 :wave:
Please use the #gsoc channel on [our Slack](https://cilium.herokuapp.com/) to introduce yourself and ask questions. There, we'll be happy to answer any questions you have :smiley_cat:

[2021-03-12 08:20] brb commented on #13732
Best effort, but very unlikely.

[2021-03-12 08:41] h3llix commented on #15282
I would like to take up this issue

[2021-03-12 08:43] pchaigno commented on #15282
@h3llix I assigned you. Don't hesitate to reach out on Slack (e.g., #development or #gsoc) if you hit any blocker or have questions.

[2021-03-12 10:01] dimitri-fert commented on #15249
Here it is, sorry for the delay : [bugtool-cilium.tar.gz](https://github.com/cilium/cilium/files/6129134/bugtool-cilium.tar.gz)

[2021-03-12 11:19] kovalyukm opened #15330 "Hostnames resolution failed and Connections timeouts on pods after Cilium deletion"
## Bug report

Hello,
There is an issue on EKS Kubernetes clusters after deletion Cilium helm release with chart version 1.9.x.

After deletion newly-created pods are failing with hostname resolution error and there are no errors in coredns logs.

After restarting of coredns the issue above disappears, but new issue starts on all other pods - 'i/o timeouts' between pods in the cluster.

Replacing

[2021-03-12 12:27] sayboras commented on #13183
Forgot adding my findings on this, https://github.com/cilium/cilium/issues/15330 reminds me about this.

While doing the testing with post-delete hook, the cilium pod (with command as `cilium cleanup`) was failed to schedule. However, I also discovered cleanup should be done for `every` node, but helm hook didn't work well with clean-up step as daemon set.

In short, while this issue seems to be t

[2021-03-12 14:50] gottwald opened #15332 "BPF based masquerading picks wrong IP when using IP address aliases"
## Proposal

**Is your feature request related to a problem?**

**Describe the solution you'd like**

We've run into a setup where cilium is running on a node that has multiple IP addresses (primary and secondary).
For example:
[code]
If used in iptables masquerading mode `192.168.1.12` is used as masquerading IP.
If used in bpf masquerading mode `10.10.1.12` is used as masquerading IP.

AFAICS in

[2021-03-12 17:52] johngmyers commented on #14205
Is external etcd (https://docs.cilium.io/en/v1.9/gettingstarted/k8s-install-external-etcd/) still supported or also to be deprecated? With either or both identity allocation modes?

[2021-03-12 18:43] vdavidoff commented on #15234
I may have discovered what's at the root of what's happening here, but I'm still not sure how to fix it.

When a pod communicates with a ClusterIP, cilium's eBPF based loadbalancer rules are handling it. This means the source of the request is on the pod network, and all other routing and encapsulation things work as expected.

When the host communicates with a ClusterIP, kube-proxy's IPVS based l

[2021-03-12 20:21] joestringer opened #15337 "Unable to get object /sys/fs/bpf/tc/globals/cilium_snat_v4_external: no such file or directory"
## Suite-k8s-1.20.K8sIstioTest Istio Bookinfo Demo Tests bookinfo inter-service connectivity

PR job failure:
https://jenkins.cilium.io/job/Cilium-PR-K8s-1.20-kernel-4.9/952/testReport/junit/Suite-k8s-1/20/K8sIstioTest_Istio_Bookinfo_Demo_Tests_bookinfo_inter_service_connectivity/
[fddaa690_K8sIstioTest_Istio_Bookinfo_Demo_Tests_bookinfo_inter-service_connectivity.zip](https://github.com/cilium/ci

[2021-03-12 20:25] pchaigno commented on #15337
Ouch, that's what I feared. https://github.com/cilium/cilium/pull/15175 didn't fix https://github.com/cilium/cilium/issues/15141 or this failing controller wouldn't have been created in the first place.

I think we need to find a way to remove this `init()`: https://github.com/cilium/cilium/blob/602e5ce88482ca3cee1e232fc494e9b0e2faf53a/pkg/maps/ctmap/ctmap.go#L205-L207

[2021-03-12 20:35] pchaigno commented on #15249
From the config map:
[code]
It's a variation of https://github.com/cilium/cilium/issues/14726 but on v1.8.

[2021-03-13 17:06] vdavidoff commented on #15234
I may have just eliminated cilium as part of the issue here, but input on that is appreicated.

Digging further, I don't understand why the kube-proxy masquerade isn't selecting the IP from the cilium_host interface for SNAT. Unless it is, and something else that I can't see it further manipulating the packet. But ultimately I think the test described below eliminates cilium as part of the problem

[2021-03-13 21:17] gaurang2001 commented on #14927
Can I take this up?

[2021-03-13 22:41] pchaigno commented on #14927
@gaurang2001 I assigned you. Don't hesitate to reach out on Slack (#gsoc or #development) if you have any question.

[2021-03-14 05:54] brb commented on #14927
@gaurang2001 @pchaigno The issue is going to be resolved by #14977.

[2021-03-14 06:03] brb commented on #15337
Shall we revert https://github.com/cilium/cilium/commit/cac5218858da8cdcb2029269f3b2238f88eb33cd until we have a fix?

[2021-03-14 09:12] pchaigno commented on #14927
@brb AFAICS, there's still nothing shown if host-reachable services are disabled. Should we explicitly state it's disabled as we do for others?

[2021-03-14 11:58] h3llix commented on #15282
@pchaigno Can you please review my PR ?

[2021-03-14 12:07] h3llix commented on #15270
I would like to take up this issue

[2021-03-14 16:04] brb commented on #15234
@pchaigno Noup, I haven't seen it before.

[2021-03-14 17:05] brb commented on #14927
The suggestion to include a dedicated field to indicate enabled/disabled was nack'd, please see https://github.com/cilium/cilium/pull/14977#discussion_r576650522.

[2021-03-14 20:14] gaurang2001 commented on #13834
@pchaigno I would like to take this up

[2021-03-15 05:45] Sangu80 commented on #15216
@jrfastab can i solve this issue ?

[2021-03-15 08:12] pchaigno commented on #15216
@Sangu80 I assigned you the issue. Don't hesitate to reach out on Slack (#sig-datapath, or #gsoc) if you have any questions. You can also reach out on #development if you have issues setting up the development environment.

[2021-03-15 09:21] #11380 closed

[2021-03-15 09:23] #15246 closed

[2021-03-15 10:01] ArthurChiao opened #15345 "In-using PodCIDR overrode by auto generated one in "legacy-scope" type IPAM during k8s apiserver flapping"
# Phenomenon

With IPAM type `IPAMHostScopeLegacy` (+ direct routing),
when **k8s apiserver is flapping** (jumping between `reachable` & `unreachable`), cilium-agent will restart.
And during this case, there is a possibility that **the PodCIDR the node is using will be overridden by an auto-generated one from cilium-agent**, which leads to all pod traffic be interrupted.

# Code logic (1.8.4) & tr

[2021-03-15 10:08] pchaigno commented on #14927
I've removed the `good-first-issue` label until we resolve this.

I've read the discussion at https://github.com/cilium/cilium/pull/14977#discussion_r576650522, but I don't think the new status quo makes sense.
- AFAICS, socket-level load balancing is the only subfeature of our kube-proxy replacement whose disabled status isn't explicit. When e.g. `Session Affinity` is disabled, we don't hide the

[2021-03-15 12:12] AlexLast commented on #15276
Just to provide an update, we decided to try upgrading all Cilium components to version `1.9.5` in our development clusters - which has actually resolved part of the issue.

We now see the `externalEndpoints` map populated with services from remote clusters, for example on cluster A I can now see something like the following:

[code]

This means the shared service cache now contains relevant entri

[2021-03-15 13:55] borkmann commented on #14927
My $0.02 I think it was fine as it was before, given for `strict` and `disabled`, the situation is very clear. I actually think for that case, it could be moved back to its original output, fwiw.

The `partial` corner case is the only one that is interesting since there we would want to know whether socket LB is involved or not. For example, only in partial case we could state:

- `Protocols:   TC

[2021-03-15 14:38] pchaigno commented on #14927
Because you know that socket-level LB is included in the kube-proxy replacement and everything is disabled (resp. enabled) when `kubeProxyReplacement` is set to `disabled` (resp. `strict`). Unfortunately, I don't think everyone knows that. Even some Cilium contributors don't know that socket-level LB is part of our kube-proxy replacement. The fact that it's not listed when disabled doesn't help he

[2021-03-15 16:41] joestringer commented on #14205
From Cilium community meeting:

Mark etcd-operator as deprecated for v1.10, but do not remove the underlying infrastructure yet. This will allow users to find out about the deprecation and plan for its removal.

[2021-03-15 17:10] christarazi commented on #15015
Is this simply advertising the node's PodCIDR from the K8s resource? Do we want more control of which nodes should advertise? I'm thinking an MVP would be to have all nodes announce their PodCIDRs and later we can add some annotation / mechanism to give control, if needed.

[2021-03-15 17:23] pchaigno opened #15350 "Investigate potential mark conflict between IPSec and kube-proxy with large keyIDs"
We have a potential conflict on the packet mark between IPSec bits and kube-proxy bits when the keyID is greater or equal to 8. We have noticed the following iptables rules in some environments, which seems to indicate a drop:
[code]

We can see that packet are dropped because they match the mark `0x8000/0x8000` but that packet mark was never set in iptables. At the same time, IPSec is setting thi

[2021-03-15 18:57] brb commented on #15015
Yes, each node announces its own podCIDR.

[2021-03-15 20:22] #14944 closed

[2021-03-15 20:22] #15150 closed

[2021-03-15 21:14] dkerwin commented on #15002
Same problem here. When hubble is enabled we see the same iptables error and the cilium pods never reach a working state.

[code]

Once hubbe is disabled again it works as expected.

[2021-03-15 21:29] psinghal04 opened #15352 "Lack of clarity in Cilium-Istio integration documentation"
The page [Getting Started Using Istio](https://docs.cilium.io/en/v1.9/gettingstarted/istio/)  states the following in the second paragraph:

_"Cilium’s Istio integration allows Cilium to enforce HTTP L7 network policies within the Istio sidecar proxies. Note that Istio can also be deployed without Cilium integration by running a standard version of istioctl. In that case Cilium will enforce HTTP L

[2021-03-15 22:11] cyrilcros opened #15353 "cilium-ui is not working; envoy issue?"
[cilium-sysdump-20210315-220238.zip](https://github.com/cilium/cilium/files/6144814/cilium-sysdump-20210315-220238.zip)

## Bug report

**General Information**

- Cilium version (run `cilium version`): **helm chart v1.9.5**
- Kernel version (run `uname -a`) **5.8.0-26-generic**
- Orchestration system version in use (e.g. `kubectl version`, Mesos, ...) **Kubernetes v1.20.0**
- Link to relevant arti

[2021-03-16 07:03] chez-shanpu commented on #10979
@joestringer @pchaigno  If no one is working on this now, I'd like to do it.
And when opening a pull request, should I open it for each test (`fromEntities: cluster` and `fromEntities: all`) ?

[2021-03-16 07:19] h3llix commented on #15270
I had a doubt .
I tried dumping **iptables** inside my cilium pod using :
`kubectl -n kube-system exec cilium-wx8gg -- iptables -L` and using
`kubectl -n kube-system exec cilium-wx8gg -- iptables-legacy  -L`
and they both  were identical .

Also i tried running `kubectl -n kube-system exec cilium-wx8gg -- iptables -V`. Output being ### iptables v1.8.4 (legacy)

So why are we explicitly trying to d

[2021-03-16 07:47] pchaigno commented on #10979
@chez-shanpu I assigned you. Don't hesitate to reach out on Slack (e.g., #testing or #development) if you have any question.

That's really up to you. You can split the work in two PRs if that helps or implement everything in a single go.

[2021-03-16 08:22] pchaigno commented on #15352
AFAIK, only the Cilium version of Istio can enforce L7 policies and it's packaged with Cilium. I think the sentence `In that case Cilium will enforce HTTP L7 policies outside of the Istio sidecar proxy` refers to the fact that the standard Istio installed by users won't be used to enforce L7 policies; the Cilium Istio will be used instead.

I don't think the socket-level redirection is specific to

[2021-03-16 09:09] pchaigno commented on #15270
Ah, I see. [Depending on the system](https://github.com/cilium/cilium/blob/master/images/runtime/iptables-wrapper), we will map `iptables` to either `iptables-legacy` or `iptables-nft`. In that case, we probably want to dump both, just to be sure we always have a dump of all possible rules.

[2021-03-16 10:52] r3mattia commented on #15268
@pchaigno Any updates on this?

I've had to revert to using Chaining mode with v.1.9.4. This seems to work just fine for now.

[2021-03-16 12:48] h3llix commented on #15270
Thanks . I got it

[2021-03-16 12:51] olemarkus opened #15361 "Kubernetes e2e suite.[sig-network] Services should be possible to connect to a service via ExternalIP when the external IP is not assigned to a node"
Cilium 1.10 rc0
Kubernetes 1.21 beta.1
Kops master branch

Test logs/outputs, artifacts etc:
https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/e2e-kops-grid-scenario-cilium10-amd64/1371727866923847680

[2021-03-16 12:53] olemarkus opened #15362 "Kubernetes e2e suite.[sig-network] HostPort validates that there is no conflict between pods with same hostPort but different hostIP and protocol [LinuxOnly] [Conformance]"
Note this is a Kubernetes 1.21 conformance test.

Cilium 1.10 rc0
Kubernetes 1.21 beta.1
Kops master branch

Test logs/outputs, artifacts etc:
https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/e2e-kops-grid-scenario-cilium10-amd64/1371727866923847680

[2021-03-16 13:00] geakstr commented on #15353
Hi @cyrilcros ! What port-forward command do you use?

[2021-03-16 13:49] psinghal04 commented on #15352
@pchaigno, I got a chance to engage with @tgraf on this question. If I have understood his response correctly, the use-case for using Cilium's downstream version of Istio is when you intend to use Cilium's L7 network policies in a mesh that is set up for mTLS, and those policies contain rules around metadata (such as HTTP headers) that would otherwise appear encrypted to Cilium if it were enforcin

[2021-03-16 14:56] pchaigno opened #15364 "Use Helm defaults for Cilium options in the development VM"
When developing their Cilium pull requests, contributors have the choice of using [the development VMs](https://docs.cilium.io/en/latest/contributing/development/dev_setup/) or a Kubernetes cluster where Cilium is deployed as a pod (vs. as a service in the development VM). The later can be achieved with [Minikube for instance](https://docs.cilium.io/en/latest/gettingstarted/k8s-install-sandbox/).

[2021-03-16 15:05] kovalyukm opened #15366 "Unmanaged pods on some new nodes"
## Bug report

Hello,

Sometimes we get unmanaged pods by Cilium on newly-launched node. These pods belong to other DaemonSets that should be managed by Cilium, like fluent-bit and node-problem-detector.

Therefor we have dropped traffic by CNPs, like
[code]
and continuously restarting pods, like fluent-bit (and no logs of containers from this node).

Cilium agent starts later than these other pod

[2021-03-16 15:32] pchaigno commented on #15366
Why are these pods scheduled on the new node before the CNI is ready?

[2021-03-16 15:43] kovalyukm commented on #15366
They have the highest priorityClassName:
**system-node-critical 2000001000**
- aws-node
- cilium

so seems cilium-agent starts later than those pods.

[2021-03-16 15:50] pchaigno commented on #15366
They shouldn't be scheduled until Cilium is ready. Do they have any [tolerations](https://kubernetes.io/docs/concepts/scheduling-eviction/taint-and-toleration/#taint-based-evictions)?

[2021-03-16 16:10] kovalyukm commented on #15366
How they should know that Cilium is ready? Does Cilium taint new nodes?

They have default tolerations from their helm charts:
[code]

[2021-03-16 16:17] cyrilcros commented on #15353
I reinstalled the chart and just tried `kubectl port-forward -n kube-system svc/hubble-ui --address 0.0.0.0 --address :: 12000:80 ` and it now works.
@geakstr Thanks for your help, I will just close this.

[2021-03-16 16:17] #15353 closed

[2021-03-16 16:36] #11593 closed

[2021-03-16 21:45] vdavidoff commented on #15234
OK, well, just an update. Further testing indicates that using `cluster-cidr 0.0.0.0/0` fixes some things but breaks others. Specifically cilium's SNAT, which seemed like it was doing the job before, doesn't (as written/expected) for traffic going to a clusterIP backed by a non-pod network (in this case, hostNetwork) ip address, since that won't be routed out `cilium_host`, and the rule won't matc

[2021-03-16 22:04] joestringer commented on #15015
:+1: This won't make sense for all IPAM modes as it requires unique prefixes for each node, worth considering which IPAM modes it wouldn't make sense for:

https://docs.cilium.io/en/latest/concepts/networking/ipam/

(This may end up overlapping closely with whether the BGP use case makes sense in general, ie it's more useful in on-prem environments rather than cloud environments where the vendor p

[2021-03-17 10:05] siqidu opened #15374 "How cilium pass the config to the cilium-envoy"
HI, Experts
   I take a look at the code to start the cilium-envoy, it will pass the below file with option "-c" when starting the cilium-envoy

bootstrapPath := filepath.Join(stateDir, "bootstrap.pb")

   But I cannot find this file, whether this is manually created?  Since I want to config the envoy but don't know where to set it.

Thanks a lot

[2021-03-17 11:34] #15374 closed

[2021-03-17 14:31] qmonnet opened #15375 "Bugtool: Hash IPsec-related key so we can compare them, instead of omitting them"
Bugtool is a utility that we may run in clusters to collect information on the Cilium agent and on the system, to help debug issues. One element it collects is the state of the IP XFRM framework, which transforms packets to encrypt them to implement IPsec in the cluster.

For confidentiality reasons, [the keys are trimmed out of the collected output](https://github.com/cilium/cilium/blob/v1.10.0-r

[2021-03-17 14:43] raokolagan commented on #15282
I did some analysis on this issue and i will provide the solution.
@pchaigno, Please assign to me

[2021-03-17 14:46] raokolagan commented on #10812
I am planning to take-up this issue and provide the solution for the same.
@pchaigno, Please assign to me

[2021-03-17 16:26] #15364 closed

[2021-03-17 16:27] pchaigno commented on #10812
@raokolagan Done. Don't hesitate to reach out on Slack (e.g., #development) if you need help or have questions.

[2021-03-17 16:30] pchaigno commented on #15282
@raokolagan This issue is already being worked on by someone else and there's a pull request available at #15339. You're welcome to review the PR in question though :smiley_cat:

[2021-03-17 17:01] #13298 closed

[2021-03-17 17:05] kovalyukm commented on #15366
There is 30s between creating fluent-bit and cilium pods. fluent-bit starts when node is Ready and do not have this taint.

Apparently the issue appears when fluent-bit starts before cilium pod are initialized.

Pulling image takes more than 20s like 21-28s when the issue appears. (example event: "Successfully pulled image "quay.io/cilium/cilium:v1.9.5" in 26.020464801s").

Image is not so small:

[2021-03-17 17:39] pchaigno commented on #15269
Yep, that should be good :+1:

[2021-03-17 18:14] pchaigno opened #15379 "Document macros used in the datapath"
We use a lot of different macros in the datapath, to define config. values and enable/disable features. It might be a good idea to document all those in e.g. a `bpf/README.md`. Hopefully, some quick script can help us keep the list up-to-date. The option names are often not enough to clarify the semantics/intents (e.g., `IPV4_LOOPBACK` or `SECCTX_FROM_IPCACHE`). Macros defined in the code (i.e., c

[2021-03-17 18:27] aditighag commented on #15379
Ah, thanks for filing this issue. :)

[2021-03-17 19:14] #15270 closed

[2021-03-17 21:36] ReillyTevera commented on #14964
@rolinh There are a couple of patches in the latest 5.10.24 kernel that may help. Particularly one that touches BPF XDP code. Can you test with this kernel and see if anything changes?

[2021-03-17 21:47] dctrwatson opened #15381 "Constant bpf map op failures on nodeport_neigh4 in GKE"
## Bug report

the [new periodic neighbor refresh](https://github.com/cilium/cilium/pull/14498) causes constant bpf map op failures on `nodeport_neigh4`

There are no logs about the error, just metrics.

If I turn on debug, most of the logging is just Register/Unregister that map every ~100ms. If I set `net.ipv4.neigh.default.base_reachable_time_ms` to some long interval, then it only happens for

[2021-03-17 22:05] pchaigno commented on #15381
/cc @brb

[2021-03-17 22:26] christarazi commented on #14927
Just to synchronize the different threads of discussion around this. On March 17, it was decided to create a CFP around this: https://docs.google.com/document/d/1IZZ-FTM_U3zN06-M_mDOgep_DcDM0Oe3YOFVM1BTIt8/edit#heading=h.xjrodg7ovb1b

[2021-03-17 22:31] christarazi opened #15382 "Address several TODOs inside CI test helpers regarding LoadBalancer & NodePort services"
See https://github.com/cilium/cilium/blob/master/test/helpers/kubectl.go#L4060 & https://github.com/cilium/cilium/blob/9020c65f7446bf6b277d33720be50685290904ab/test/helpers/kubectl.go#L4229

/cc @brb What is needed here? Could you provide more context?

[2021-03-18 02:00] nathanjsweet commented on #13575
Have we thought at all about the fact that different cloud providers have built-in egress gateways for their services?

[2021-03-18 02:59] aditighag commented on #11301
We discussed this issue in the sig-datapath meeting on 03/03. We decided to reuse the session affinity map to store a mapping for a UDP client to its selected backend using socket cookie (instead of netns cookie used for session affinity). The mapping will allow us to select the same backend for a UDP connection even when the corresponding service backends change. I'll add more details once I've s

[2021-03-18 03:10] psinghal04 commented on #15352
@pchaigno , after looking into this a bit, I think I need some more clarification. I came to understand that the use-case of using Cilium's downstream version of Istio was if we needed to enforce L7 policies via CiliumNetworkPolicy, where we need policy to be enforced within the sidecar proxy so that it had access to unencrypted HTTP headers (in case of mTLS).

However, it seems Istio's [Authoriza

[2021-03-18 04:30] raokolagan commented on #10812
@pchaigno, by mistake removed from my end.
Kindly reassign

[2021-03-18 04:48] raokolagan commented on #15282
@pchaigno , Thank you, i will review this PR and share my comments on this.

[2021-03-18 05:18] brb commented on #15381
@dctrwatson Can you include the full metric and also the debug log msgs?

[2021-03-18 05:23] brb commented on #15381
OK, I see one problem that each time we retire a neighbor entry from the BPF map, we open/close the map: https://github.com/cilium/cilium/blob/master/pkg/maps/neighborsmap/neighborsmap.go#L146. This definitely needs a fix.

However, I still need the metric name to see which op is failing.

[2021-03-18 05:32] brb commented on #15382
These two should be the checks which compare `kubectl get svc` vs `cilium bpf lb list` vs `cilium service list`. Previously, we couldn't compare !ClusterIP services, as in the BPF maps we didn't store a service type. Today, it's no longer the issue, as svc types are stored.

I'd give it a go by removing the if-statements under the TODOs. From the first glance it should work.

[2021-03-18 12:23] oskapt commented on #13575
I've thought about it. Some have this, most don't, and it's not available at all in a bare metal or private cloud environment. If you're running services in a cloud provider that has this support (AWS VPC with a NAT gateway, for example), then cool. Same if you're running Istio. But if you're not in that environment and you need this feature, then you still need the feature. It does nothing to say

[2021-03-18 14:29] vdavidoff commented on #15234
Here's a solution (still a hack, and feels totally wrong, imo) that appears to actually work.
* Set kube-proxy `cluster-cidr` to `0.0.0.0/0`
* Insert the following iptables rule at the end of the nat table POSTROUTING chain:
```iptables -t nat -A POSTROUTING -m comment --comment "hostNetwork -> ClusterIP -> hostNetwork" -m set --match-set KUBE-CLUSTER-IP src,dst -j MASQUERADE```

Setting `cluster-

[2021-03-18 15:14] rolinh commented on #14964
@ReillyTevera Just tested with kernel 5.10.24, still hit the complexity issue. I want to get to bissect the issue but I just don't have cycles at the moment.

[2021-03-18 15:59] aditighag commented on #14844
Related required fix - https://github.com/cilium/cilium/issues/11301.

[2021-03-18 16:12] mikberg opened #15387 "Improve user experience of policy trace with regard to port and protocol"
## Bug report

**General Information**

- Cilium version (run `cilium version`): 1.9.5
- Kernel version (run `uname -a`): Linux aks-stand16-26081535-vmss000014 5.4.0-1036-azure #38~18.04.1-Ubuntu SMP Wed Jan 6 18:26:30 UTC 2021 x86_64 x86_64 x86_64 GNU/Linux
- Orchestration system version in use (e.g. `kubectl version`, Mesos, ...): AKS 1.18.14
- Link to relevant artifacts (policies, deployments s

[2021-03-18 17:53] shinebayar-g commented on #12981
![image](https://user-images.githubusercontent.com/3091558/111672704-9d8b8780-87f0-11eb-94ea-30a33e46b696.png)

This part was misleading. If you want to run Cilium in Overlay mode on EKS, removing `eni=true, tunnel=disabled` was not enough.
You also have to remove `ipam.mode=eni` or cilium-operator will crash with

[code]

[2021-03-18 18:32] tgraf commented on #15387
Good example of the very bad UX of `policy trace` right now. The behavior is correct if `--dport 9092/tcp` is passed in.

[code]

[2021-03-18 18:35] tgraf commented on #15387
As a fix, we should probably *require* that port *and* protocol is always specified as argument.

[2021-03-18 19:14] dctrwatson commented on #15381
Debug logs:
[code]

Metric:
`cilium_bpf_map_ops_total                              mapName="nodeport_neigh4" operation="delete" outcome="fail"                                       233.000000`

[2021-03-18 23:02] #13074 closed

[2021-03-18 23:35] cyrilcros opened #15392 "cilium-ui: show better labels"
## Proposal / RFE

**Is your feature request related to a problem?**
When looking at hubble-ui, a lot of of the boxes in the same namespace will have the same name. This looks confusing: box X port A talks to box X port B that talks to box X port Cetc.... When you click on a box, you get more informations from the labels, but it isn't easy to navigate.

**Describe the solution you'd like**
It woul

[2021-03-19 02:54] mmochan opened #15393 "cilium-node-init CrashLoopBackOff when running on Bottlerocket OS"
## Bug report

**General Information**

- Cilium version
[code]
- EKS Cluster version
[code]

- Kernel version
[code]

- Orchestration system version in use
[code]
- Link to relevant artifacts (policies, deployments scripts, ...)
- Generate and upload a system zip:
[code]

**How to reproduce the issue**

1. Deployed Cilium 1.9.5 with the following configuration
[code]
2. Added a worker node ( Auto

[2021-03-19 04:23] donghaichuan opened #15394 "Unable to create endpoint"
My cluster version：
system：Ubuntu 20.04.1 LTS
kernel：5.10.3-051003-generic
k8s：v1.18.4
docker：19.3.5
cilium：1.9.1

I deployed a k8s cluster with the cilium network plugin , there is 3000+ pods and 30 nodes in my cluster, I add one new node into cluster ,I found many error logs on new node ,as follows：
![image](https://user-images.githubusercontent.com/39618984/111727266-83f84780-88a5-11eb-82c0-cd6

[2021-03-19 08:35] pchaigno commented on #15394
Could you please add a sysdump or include those as text instead of screenshot? It's hard to parse information from screenshots...

[2021-03-19 11:35] donghaichuan commented on #15394
**The new node error syslog file details as follows:**

`Mar 19 12:24:55 k8sdeploy-node63 kubelet[1608]: E0319 12:24:55.651067    1608 remote_runtime.go:105] RunPodSandbox from runtime service failed: rpc error: code = Unknown desc = failed to set up sandbox container "a89f1f10c0655325f909ba937ce1b5d8db70fbc0a9fa67daed62dca3de5a8f73" network for pod "es-white-list-cronjob-1616127480-nbczk": networ

[2021-03-19 11:52] #15268 closed

[2021-03-19 12:33] pchaigno commented on #15394
You can attach a sysdump to any GitHub comment.

[2021-03-19 17:06] pchaigno opened #15402 "Cross node connectivity fails in development VMs after first provisioning"
### Symptoms
[code]
All pods with liveness probe requiring cross-node connectivity are failing.

### Root Cause
Digging further, we can see that k8s1 has the wrong InternalIP for k8s2:
[code]
The address should be 192.168.33.12 instead of 10.0.2.15. 10.0.2.15 is the address of the VirtualBox NAT device and is identical on all VMs. Using it therefore breaks connectivity.

### Workaround
Restarting

[2021-03-19 17:09] brb opened #15403 "Unnecessary iptables masquerade from pod to remote host in direct routing mode"
It was observered, that when running with iptables masquerade, the following rule will masquerade traffic sent from a pod to a remote Cilium host:
[code]

Not only the masquerade is unnecessary in the direct routing mode, but also it might break the host-fw.

The BPF-based masquerade does not SNAT such packets.

[2021-03-19 17:12] pchaigno commented on #14859
Might be related to https://github.com/cilium/cilium/issues/15403.

[2021-03-19 17:35] joestringer opened #15404 "CI complains with "Info call has possible formatting directive %s""
Sometimes, Cilium CI checks may report warnings like:

* `Info call has possible formatting directive %s`
* `Warning call has possible formatting directive %s`
* `Error call has possible formatting directive %s`

These are caused by the code using formatting directives like `log.Infof()` rather than using structured logging, `log.WithFields(...).Info(...)`.

We avoid using formatting directives be

[2021-03-19 17:35] #15404 closed

[2021-03-19 18:01] joestringer opened #15405 "Extend troubleshooting guide with how to understand datapath drop"
This section of the "Creating policies from verdicts" doc describes how to look at cilium monitor output and understand how the identities, direction, etc. aspects of a policy log relate to the endpoints and kubernetes labels:
https://docs.cilium.io/en/v1.9/gettingstarted/policy-creation/#observe-policy-verdicts

The main troubleshooting guide doesn't go into as much detail about these details, th

[2021-03-19 18:08] gottwald opened #15406 "Node IP changes don't get recognized"
## Bug report

**General Information**

- Cilium version (run `cilium version`) 1.9.5 (also tested with 1.9.4 and 1.9.1)
- Kernel version (run `uname -a`) 4.19.0-14-amd64
- Orchestration system version in use (e.g. `kubectl version`, Mesos, ...) k8s 1.20.2

**Details**

I got some weird cilium issue in multiple cluster-api clusters after they're created.
Host connectivity works, but endpoint conne

[2021-03-19 18:12] joestringer commented on #15405
One step further would be to include output from `cilium bpf policy get <endpoint-id>` and use that to explain how the actual BPF enforcement is happening based on the entries in that map (which are generated from the NetworkPolicy/CiliumNetworkPolicy at the higher layer). Basically if there is an entry in the map, that will tell you about the allow/deny behaviour when encountering traffic with a

[2021-03-19 18:13] joestringer commented on #15405
^^ For discovering how to word this, it might be helpful to go through one of the getting started guides that use policy, create the endpoints and dump `cilium bpf policy get ...` output, then inject a policy that selects that endpoint, then check the policy maps again and compare.

[2021-03-19 18:35] joestringer commented on #15394
`status 429` means "Too Many Requests". Basically, the scheduling rate is too high, so to avoid consuming too much resources either on the local node or DoS'ing the kube-apiserver, Cilium has a ratelimiter in place for local API requests to establish network connectivity for pods. These limits are dynamically adjusted based on the ability of Cilium to handle incoming requests, but you can also ove

[2021-03-19 18:44] joestringer commented on #15406
@gottwald I think you were interested to continue the investigation at this point, at least starting from the below code points and start pulling the thread to see where it leads? Would you like me to assign the issue to you? That would just help us to know whether someone is actively looking into the issue or not, and we can remove the assignment again in future if you decide not to continue look

[2021-03-19 20:26] gottwald commented on #15406
@joestringer sure assign to me. I think I can get to it next week.

[2021-03-20 07:52] donghaichuan commented on #15394
My all physical nodes are configured with 192G memory and 80 core CPU，so I think the problem is not caused by configuration.

I have read the api-rate-limiting  offical documentation of cilium ，because I‘m not a developer，I still don’t know how to modify the rate limit of cilium. I installed cilium by helm. I don't know where can set parameter of rate limit.Can you tell me some specific methods of

[2021-03-20 07:57] donghaichuan commented on #15394
Is the log content I provided too little? I only provide content that recurs more frequently.

[2021-03-21 05:37] Shikugawa commented on #12585
@pchaigno Hi. I'd like to tackle this issue and have a question. How to check whether new node is rejected to join? Can we get any message that specifies "Failed to join new node"? My consideration to add minimal config is,

1. Startup single node cluster with vagrant.
2. Start a new node to join an existing cluster. And check any message that specifies "Failed to join".
3. Add any ingress network

[2021-03-21 17:04] h3llix commented on #11767
I would like to take this up .

[2021-03-22 06:24] donghaichuan commented on #15394
I tried to update cilium's configmap file, add (api-rate-limit: "endpoint-create=rate-limit:64/s,rate-burst:64"),and restart the cilium agent pod, I found new node's logs were still have (status 429),all pod are creating.

I also tried to set other values,for example,(rate-limit:4/s,rate-burst:8),(rate-limit:8/s,rate-burst:16),(rate-limit:16/s,rate-burst:32),These have no obvious effect.

[2021-03-22 09:59] pchaigno commented on #12585
You could check for the following on each node:
[code]
In general, `cilium status` should tell you if the cluster and current node are healthy and how many nodes have successfully joined the cluster.

You will need to add a host policy *before* adding a new node to the cluster. You can use `examples/policies/host/lock-down-dev-vms.yaml` for that. It's meant to be a very restrictive host policy, al

[2021-03-22 13:56] pchaigno opened #15417 "Remove references to quick-install in documentation"
Some of the documented guides still reference the old quick-install.yaml file: https://docs.cilium.io/en/latest/gettingstarted/http/#setup-cilium. This should be removed to instead point to the existing installation guides.

[2021-03-22 14:00] pchaigno opened #15418 "Development VM fails to start due to "no locks available""
### Symptoms
[code]

### Solution
The solution is given in [this StackOverflow answer](https://askubuntu.com/a/838630/705462).
NFS uses the statd service to provide locks, but it isn't started by default. You can fix it once and for all with:
[code]

[2021-03-22 14:01] #15418 closed

[2021-03-22 16:14] nbusseneau commented on #15166
Quarantined by #15415.

[2021-03-22 16:36] joestringer commented on #13891
@fristonio @aanm Are the set of bullet points in this issue accurate? Are there any other items we would like to address for v1.10 release?

[2021-03-22 19:26] Rishav0809 commented on #12562
Hi @joestringer , I want to work on this issue.

Can you suggest some ways in which I should proceed?

[2021-03-22 20:02] ReillyTevera commented on #14852
@Vesnica Are there any issues if the following are modules (`m`) instead of `y`?
[code]

[2021-03-22 20:22] pchaigno opened #15423 "Test host firewall in chaining mode"
We never validated that the host firewall when running in chaining mode. We should do that, using the getting started guides for both and adding a policy, maybe based on the policies from `examples/policies/host/`.

[2021-03-22 20:30] pchaigno commented on #12562
@Rishav0809 The initial issue comment has a code pointer and explanation on the unexpected behavior. Once you've read that, you can tackle the two items listed under "Tasks". If you have any specific questions, I'd be happy to try and answer.

[2021-03-22 22:11] qmonnet opened #15424 "CI: Suite-k8s-1.13.K8sDatapathConfig Encapsulation Check iptables masquerading with random-fully"
## CI failure

Observed on #15420

[code]

- Zip Archive: [0b9bde5f_K8sDatapathConfig_Encapsulation_Check_iptables_masquerading_with_random-fully.zip](https://github.com/cilium/cilium/files/6185517/0b9bde5f_K8sDatapathConfig_Encapsulation_Check_iptables_masquerading_with_random-fully.zip)

- [CI Build](https://jenkins.cilium.io/job/Cilium-PR-K8s-1.13-net-next/1110/testReport/junit/Suite-k8s-1/13/K

[2021-03-22 22:19] pchaigno commented on #15424
It's a duplicate of https://github.com/cilium/cilium/issues/15337.

[2021-03-22 22:19] #15424 closed

[2021-03-22 23:34] aditighag opened #15425 "CI: Checks ClusterIP Connectivity Checks DualStack services"
## CI failure

[code]

Some warning messages -
[code]

https://jenkins.cilium.io/job/Cilium-PR-K8s-1.20-kernel-4.9/1036/testReport/junit/Suite-k8s-1/20/K8sServicesTest_Checks_ClusterIP_Connectivity_Checks_DualStack_services/

https://jenkins.cilium.io/job/Cilium-PR-K8s-1.20-kernel-4.9/1004/testReport/Suite-k8s-1/20/K8sServicesTest_Checks_ClusterIP_Connectivity_Checks_DualStack_services/

[4e65b045

[2021-03-22 23:41] anfernee opened #15426 "Optimize for endpoints running egress gateway"
In bpf_lxc.c:
[code]

Always going thru tunnel makes the egress gateway logic easier, and it's consistent for packets coming from both local and remote. However, it's obviously not efficient because the overlay overhead is not necessary. The issue here is it's hard to tell if the other end of tunnel is the node itself. Currently the egress IP to node mapping is not managed by any ebpf.

[2021-03-23 00:06] fristonio commented on #13891
Yeah, that's my understanding at this point. There is one more issue that requires the dual-stack to be enabled by default in the dev environment but I don't think it is necessarily a release blocker.

[2021-03-23 00:12] fristonio commented on #13420
The PR for the fix is there in https://github.com/cilium/cilium/pull/14138
I also had a local patch(might need to revisit this) that addresses the comments suggested by @pchaigno. The issue I was having was with the failure of upgrade tests possibly due to the introduction of a new tail call. As discussed on slack we decided to wait on #13032 that can possibly fix the issue. I will open a thread t

[2021-03-23 01:34] Vesnica commented on #14852
@ReillyTevera both should work.

[2021-03-23 03:09] solarnz opened #15428 "Pods Unable to be created due to being unable to create Endpoints"
## Bug report

**General Information**

- Cilium version (run `cilium version`)

Client: 1.9.5 079bdaf 2021-03-10T13:12:19-08:00 go version go1.15.8 linux/amd64
Daemon: Not responding

- Kernel version (run `uname -a`)

[code]

- Orchestration system version in use (e.g. `kubectl version`, Mesos, ...)

[code]
Running 1.18 on eks

- Link to relevant artifacts (policies, deployments scripts, ...)

L

[2021-03-23 09:07] pchaigno commented on #15428
We may have a bug in the rate limiter. /cc @tgraf

I see four endpoint-delete API requests that are followed by `Delete endpoint request`:
[code]
However, there doesn't seem to be any corresponding `API call has been processed` message. Subsequent endpoint-delete API requests are rejected because there are already 4 requests being processed.

So it's as if the API rate limiter somehow missed the e

[2021-03-23 09:21] solarnz commented on #15428
This might be a completely wrong and misguided comment (please disregard if it is, I don't have any experience with this code base)

What was interesting to me was that `cilium endpoint list` times out,

[code]

This indicated to me it might be more to do with some underlying lock or resource contention rather than rate limiting?

[2021-03-23 09:32] chenger opened #15432 "Cilium needs etcd, etcd needs coredns, coredns needs cilium"
So I have cluster with cilium 1.8.3 and after restart of all components coredns could not get address, cilium-etcd is stuck on init waiting for resolv of self and cilium could not start due to etcd not responding.

Any advices for workarounds?

[2021-03-23 09:39] pchaigno commented on #15432
Could you share a [sysdump](https://docs.cilium.io/en/stable/operations/troubleshooting/#automatic-log-state-collection) of the cluster?

[2021-03-23 09:52] chenger commented on #15432
ciliums ar down due to cilium-etcd is in init state so sysdump got many errors.
now kube-system looks that way:
cilium-2cm6w                                  0/1     CrashLoopBackOff    19         102m
cilium-4qc85                                  0/1     CrashLoopBackOff    19         102m
cilium-8fxbj                                  0/1     Running             17         102m
cilium-etcd-bt8gxn

[2021-03-23 11:22] chenger commented on #15432
only worckaround is to disable etcd in cilium by now..

[2021-03-23 12:17] knfoo commented on #9482
Hi,
I have run in to something simular.
I am using Ubuntu 20.04.1 LTS (GNU/Linux 5.4.0-66-generic x86_64 on baremetal hosts.

[code]

Disabling TX checksum on the cilium_host device as suggested in the flannel issue seems to be able to fix the problem.
Disabling TX checksum on that device will that cause problems ?

[2021-03-23 12:21] qmonnet commented on #15276
@jrajahalme, have you already experienced similar syncing issues?

[2021-03-23 12:42] qmonnet commented on #15366
Where is this 30s delay set? Is this a value you could increase?

[2021-03-23 13:24] nebril opened #15434 "Connectivity test fails on GKE cluster with encryption enabled"
## Bug report

**General Information**

- Cilium version (run `cilium version`): `1.9.4`
- Kernel version (run `uname -a`): `Linux gke-test-cluster-default-pool-ca6cdc60-49jx 5.4.89+ #1 SMP Thu Jan 28 22:59:01 PST 2021 x86_64 x86_64 x86_64 GNU/Linux`
- Orchestration system version in use (e.g. `kubectl version`, Mesos, ...):
[code]

Sysdump: [cilium-sysdump-out.zip.zip](https://github.com/cilium/c

[2021-03-23 14:01] kovalyukm commented on #15366
Sure, next time the issue will happen.

[2021-03-23 14:40] pchaigno commented on #15426
Userspace can tell. From userspace, we can set `tunnel_endpoint` to 0 if it already points to the current node. Then, the datapath can take a decision based on that.

[2021-03-23 16:06] nebril commented on #15434
The exact same thing is happening on master

[2021-03-23 18:07] liuyuan10 opened #15437 "Don't require host reachable service (socket-LB) for ebpf masquerading"
## Proposal / RFE

**Is your feature request related to a problem?**
Yes

**Describe the solution you'd like**
Today cilium requires host reachable svc to enable bpf masquerading, the restriction is added in this [commit](https://github.com/cilium/cilium/commit/50e59c309e6d86adad84dc175678a91dce6def03).

The reason is that when hostns pods talking to clusterIP, kernel picks node IP as source IP bu

[2021-03-23 18:34] qmonnet opened #15438 "[Race Detector] Race between netlink.parseBpfData() and netlink.LinkDeserialize()"
[code]
This stack trace from https://jenkins.cilium.io/view/Race%20Detection/job/Ginkgo-CI-Tests-Pipeline-GKE-Race-Detection/107/

Also observed in
- https://jenkins.cilium.io/view/Race%20Detection/job/Ginkgo-CI-Tests-k8s1.13-Pipeline-Race-Detection/101/
- https://jenkins.cilium.io/view/Race%20Detection/job/Ginkgo-CI-Tests-k8s1.13-Pipeline-Race-Detection/102/
- https://jenkins.cilium.io/view/Race%

[2021-03-23 18:35] joestringer commented on #10678
Seen also on AMD64 test runs.

[2021-03-23 18:37] qmonnet opened #15439 "[Race Detector] Race between pkg/policy/api.(*PortProtocol).Sanitize() and reflect.Value.String()"
[code]

Observed in https://jenkins.cilium.io/view/Race%20Detection/job/Ginkgo-CI-Tests-4.19-Pipeline-Race-Detection/103/

/Cc @christarazi @aanm

[2021-03-23 19:24] christarazi opened #15442 "CI: Travis: Hubble Relay TestPeerManager close of closed channel"
## CI failure

Seems to be a flake:

[code]

https://travis-ci.com/github/cilium/cilium/jobs/493007418

[2021-03-23 20:05] aditighag commented on #15425
The test passed in first go after rebasing the changes. Checked the last few runs, and they look good. This might have been a temporary glitch.

[2021-03-23 20:50] liuyuan10 commented on #12544
Wondering with this issue, how can nodeport work? The first node snat to node ip and the pod on the 2nd node is returning traffic to node IP. Will the return traffic get masqueraded?

[2021-03-23 22:17] h3llix commented on #15375
@qmonnet
![bugtool](https://user-images.githubusercontent.com/55123900/112225850-6b947e00-8c53-11eb-8c1f-1c81f7661a4b.png)  I tried solving this issue , as well i have attached a screenshot to what i tried to reproduce . Is this the desired end result ? Also i am interested in solving this issue , Please assign it to me

[2021-03-23 22:41] qmonnet commented on #15375
Thanks! Assigned.
Yes, this is the idea. A few notes:

- There are other lines to process (see the current awk pattern, matching on `'!/auth|enc|aead|auth-trunc|comp/'`). I understand that you may well be aware of that and the screenshot is just for validating the concept :).

- Awk can work technically, but the resulting command may be too big to be reused as a filename. We would need to either t

[2021-03-24 04:43] christarazi commented on #15442
Seen again in https://github.com/cilium/cilium/pull/15441

[2021-03-24 05:37] gtsjamesbond opened #15445 "Intermittent report of dropped logs from hubble."
Hello,
we’ve been noticing some unusual behavior with cilium/hubble and we’re curious if anyone else has seen anything similar. Essentially, we’ve written network policies that allow traffic to a particular CIDR block/port, but we’re seeing intermittent drop logs from hubble with the log code 133 (policy interruption) where we know the traffic should be allowed (and usually is allowed). However, w

[2021-03-24 05:49] Palerion commented on #15417
@pchaigno new contributor here, I'd love to take this one on!

[2021-03-24 07:39] jaffcheng opened #15446 "potential pod connectivity lost after cilium agent restart"
## Bug report

**General Information**

- Cilium version (v1.8.4)
- Kernel version (4.19.118)
- Orchestration system version in use (k8s 1.17)

This happens when cilium-agent is killed (crash/upgrade/operational restart) during endpoint regeneration, more specifically, during `synchronizeDirectories` function call.

In `synchronizeDirectories`, we first move current state dir to backup, that is, `

[2021-03-24 09:18] pchaigno commented on #15445
What is the second sysdump (`prod3`)?

Was 10.8.2.59 associated to a pod at any point? In the FQDN cache, I see that `cockroachdb.crdb-prod2.svc.cluster.local.` resolved to 10.8.2.59. If it was associated to a pod, was that pod matched by:
[code]
Were the policy drops happening when the sysdump was taken?

[2021-03-24 09:35] gottwald commented on #15406
Submitted a PR to solve this. The missing link was that `node` object IP changes now get syncted to the `ciliumnode` object. The rest of the reaction chain is already handled by existing code.
Already tried a dev build in a bunch of clusters and it worked well.

[2021-03-24 10:25] pchaigno opened #15448 "Log errors from bpf.TestDummyProg"
We currently rely on our function `bpf.TestDummyProg` to probe kernel support for some BPF hooks:
https://github.com/cilium/cilium/blob/08d0af46e46d460f87b506933c3701704ec52d8f/daemon/cmd/kube_proxy_replacement.go#L231-L250

When this function fails, we should log the returned error with `log.WithError(err)`.

[2021-03-24 10:50] pchaigno opened #15449 "Consolidate per-endpoint routes macros in the datapath"
In the datapath, we currently have several macros that all indicate whether per-endpoint routes are enabled or not:
[code]
We should consolidate at least the first two, probably by keeping the first.

Related: https://github.com/cilium/cilium/pull/15217#discussion_r599707550

[2021-03-24 13:34] brb commented on #15438
I think this should be reported to github.com/vishvananda/netlink.

[2021-03-24 14:02] knfoo commented on #9482
If you need me to provide more information let me know.

[2021-03-24 14:11] pchaigno opened #15452 "Remove force-local-policy-eval-at-source flag"
As its name indicates, the `force-local-policy-eval-at-source` flag force policy evaluation at the source (whether its bpf_lxc, bpf_host, or bpf_overlay): https://github.com/cilium/cilium/blob/a05461a3199b3da8d2558add032c8fffc7ff5c3d/bpf/lib/l3.h#L91-L105
Regardless of whether a BPF program is loaded on the egress of the lxc device (`USE_BPF_PROG_FOR_INGRESS_POLICY`), policies are enforced via a t

[2021-03-24 14:21] borkmann commented on #9482
@knfoo Do you have a sysdump (or alternatively could you post the full config you are using + kernel + cilium version), and describe the issue in more detail when it is occuring, e.g. what path is the packet traversing etc? The more info we have on this the better we could track down the issue. Thanks for your help!

[2021-03-24 14:41] borkmann commented on #15437
Seems reasonable. Given this can be configured (https://kubernetes.io/docs/concepts/services-networking/service/#choosing-your-own-ip-address), I presume there is no programmatic way to retrieve this otherwise?

Sounds ok to me as long as properly documented. @brb thoughts?

[2021-03-24 14:45] qmonnet commented on #15425
Observed in https://github.com/cilium/cilium/pull/15357 as well, reopening the issue.

[2021-03-24 15:26] gtsjamesbond commented on #15445
Hey @pchaigno
Sorry for the confusion. We have two clusters running cilium and we were/are seeing the drops across both. So where we are seeing the drops logged are mainly to cockroach db, rds db and an external fdns. 10.8.2.59 was assigned to one of our cockroach pods, but I believe it was since been cycled/replaced. the cockroach pod should have matched that label. If there is any additional cla

[2021-03-24 15:50] rgo3 commented on #15448
Hey @pchaigno, can I fix this?

[2021-03-24 17:02] barath1997 commented on #14750
hi i would like to take up this issue.

[2021-03-24 17:08] pchaigno commented on #15448
@rgo3 Go ahead :rocket: As usual, don't hesitate to reach out on Slack if you have any question.

[2021-03-24 17:16] christarazi commented on #15425
Observed in https://github.com/cilium/cilium/pull/15384

[2021-03-24 17:16] rgo3 commented on #15448
Just to make sure:

you want to basically assign the `TestDummyProg(...)` calls to an `err` and call `log.WithError(err)` in case we enter the if statements right?

[2021-03-24 17:17] pchaigno commented on #15445
When was the sysdump collected? In the following series of events correct?
1. Drops are happening.
2. Pod 10.8.2.59 is deleted.
3. Sysdump is collected.

It would be nice to get a sysdump before the pod is deleted, ideally while the drops are still happening.

[2021-03-24 17:17] barath1997 commented on #14750
sure!

[2021-03-24 17:18] pchaigno commented on #15448
Yes, that's basically it. We should just log the actual error somewhere or we can't figure out what happened after the fact.

[2021-03-24 17:19] rgo3 commented on #15448
Ok I'll go through the dev setup and will open a PR.

[2021-03-24 17:55] gtsjamesbond commented on #15445
Hey @pchaigno,
I believe that sequence is correct. That just happened to be the initial request that we opened our slack conversation with. We can attempt to capture a more recent failure and dump as we see these frequently enough. I'll post an update with updated information.

Regards.

[2021-03-24 17:59] aditighag commented on #15445
@gtsjamesbond Just to confirm, there are no actual drops for the policy, but only Hubble reported drops, correct? I think this context was missing in the Slack conversation. I'm not sure if we need the `sig-policy` label in this PR if that's the case.

[2021-03-24 18:04] gtsjamesbond commented on #15445
@aditighag so this is one thing that we were unsure of, we are getting the hubble reports of drops, BUT the application is behaving as expected (like there are no drops), so this is leading us to believe something is not correct, or we are misinterpreting the meaning of the drop reports. This is one of the things we wanted to verify, namely if the drop reports that we are seeing are infact accurat

[2021-03-24 18:12] gtsjamesbond commented on #15445
@pchaigno @aditighag
Below is a recent drop
`

{
--
destination { |  
ID549identity20476labels [k8s:app.kubernetes.io/managed-by=spinnaker,k8s:app.kubernetes.io/name=baas,k8s:app=baas-auth,k8s:io.cilium.k8s.namespace.labels.field.cattle.io/projectId=p-f78q9,k8s:io.cilium.k8s.policy.cluster=default,k8s:io.cilium.k8s.policy.serviceaccount=default,k8s:io.kubernetes.pod.namespace=studio-sandbox,k8s:st

[2021-03-24 18:20] aditighag commented on #15445
So if pod1 on node1 is talking to pod2 on node2, you see Hubble reported drops on node1, but the packets reach node2/pod2?

[2021-03-24 18:32] pchaigno opened #15455 "CI: Host firewall: unable to upgrade connection"
Failed a couple times in different PRs:
- https://jenkins.cilium.io/job/Cilium-PR-K8s-1.20-kernel-4.9/1068/testReport/junit/Suite-k8s-1/20/K8sDatapathConfig_Host_firewall_With_VXLAN/ --
[1cee8a70_K8sDatapathConfig_Host_firewall_With_VXLAN.zip](https://github.com/cilium/cilium/files/6199653/1cee8a70_K8sDatapathConfig_Host_firewall_With_VXLAN.zip)
- https://jenkins.cilium.io/job/Cilium-PR-K8s-1.20-k

[2021-03-24 18:48] pchaigno commented on #15445
If the drops are intermittent, they might not cause connectivity issues. That seems more likely than Hubble getting packet drop notifications out of nowhere :slightly_smiling_face:

[2021-03-24 18:53] gtsjamesbond commented on #15445
@pchaigno I see your point. What is of more interest to our team, is why we would get the drop to begin with if the target IP should be covered by one of the rules? We also see this intermittently with a target we have identified using FQDN.  Any ideas there?

Regards.

[2021-03-24 19:40] joestringer commented on #14156
It seems like in some cases, the linter currently picks out `Infof()` messages but it's inconsistent. More work is still needed here.

[2021-03-24 20:31] #14871 closed

[2021-03-24 20:48] qmonnet opened #15456 "CI: K8sDatapathConfig Encapsulation Check connectivity with sockops and VXLAN encapsulation"
## CI failure

- Observed on https://github.com/cilium/cilium/pull/13191
- K8s-1.13-net-next

### Stacktrace

[code]

### Standard Output

[code]

### Standard Error

[code]

- https://jenkins.cilium.io/job/Cilium-PR-K8s-1.13-net-next/1151/testReport/junit/Suite-k8s-1/13/K8sDatapathConfig_Encapsulation_Check_connectivity_with_sockops_and_VXLAN_encapsulation/

- [2656d129_K8sDatapathConfig_Encapsul

[2021-03-24 20:59] qmonnet opened #15457 "CI: K8sDatapathConfig Host firewall With native routing"
## CI failure

- Observed on https://github.com/cilium/cilium/pull/13191
- k8s-1.19-kernel-4.19

### Stacktrace

[code]

### Standard Output

[code]

### Standard Error

[code]

- https://jenkins.cilium.io/job/Cilium-PR-K8s-1.19-kernel-4.19/5076/testReport/junit/Suite-k8s-1/19/K8sDatapathConfig_Host_firewall_With_native_routing/
- [a91691c9_K8sDatapathConfig_Host_firewall_With_native_routing.zip](

[2021-03-24 21:03] pchaigno commented on #15456
Also happened at https://jenkins.cilium.io/job/Cilium-PR-K8s-1.19-kernel-4.19/5011/testReport/junit/Suite-k8s-1/19/K8sDatapathConfig_Encapsulation_Check_connectivity_with_sockops_and_VXLAN_encapsulation/.

[2021-03-24 21:07] pchaigno commented on #15457
Duplicate of https://github.com/cilium/cilium/issues/15337.

[2021-03-24 21:07] #15457 closed

[2021-03-24 23:16] christarazi commented on #11849
Seen in https://github.com/cilium/cilium/pull/15384

[2021-03-24 23:35] christarazi opened #15459 "CI: K8sPolicyTest Multi-node policy test with L7 policy using connectivity-check to check datapath: connectivity-check pods are not ready after timeout"
## CI failure

[code]

https://jenkins.cilium.io/job/Cilium-PR-K8s-1.20-kernel-4.9/1088/testReport/junit/Suite-k8s-1/20/K8sPolicyTest_Multi_node_policy_test_with_L7_policy_using_connectivity_check_to_check_datapath/

[35de3e43_K8sPolicyTest_Multi-node_policy_test_with_L7_policy_using_connectivity-check_to_check_datapath.zip](https://github.com/cilium/cilium/files/6201044/35de3e43_K8sPolicyTest_Mul

[2021-03-24 23:35] christarazi commented on #15459
Seen in https://github.com/cilium/cilium/pull/15384

[2021-03-25 00:20] liuyuan10 commented on #15437
@brb, please let me know what you think. thanks

[2021-03-25 06:33] brb commented on #15437
Requiring socket-LB for BPF masq hides two problems:

1. Unexpected SNAT of a reply packet to a pod in host netns when running in the tunneling mode. The culprit of this is that we don't do a CT lookup on egress to distinguish reply packets. However, even if we did the lookup, the reply would have run into the problem listed in the comment: https://github.com/cilium/cilium/blob/v1.9.5/bpf/lib/node

[2021-03-25 07:58] brb opened #15462 "Wireguard integration follow-up"
## v1.10 Must Have

- [x] Add support for managed k8s (requires the Wireguard agent to subscribe to IPCache events). #15674
- [x] CI testing
  - [x] Check that pod2pod is encrypted (run tcpdump in bg) #15573
  - [x] ~Check that KPR fwd path is encrypted (same with tcpdump)~
  - [x] Check that pod2host, host2pod is not interfered.
  - [x] Test with different datapath configuration (per-endpoint rou

[2021-03-25 10:39] pchaigno commented on #15445
My guess would be that the drops are caused by some transient issue in the resolution of the security identity. The destination identity reported by Hubble is `reserved:world`, which is sort of a default for when we can't associate another identity.

I think that would help understand why the identity resolution failed.

[2021-03-25 11:39] knfoo commented on #9482
@borkmann Sure I will come with as much information that I can.

First I am new to Cilium - been a calico user for a long time.

I am using metal3.io + clusterctl to deploy my baremetal k8s clusters. The integration is using kubeadm in the backend.

I am currently running k8s 1.20.2, ubuntu 20.04, linux-image-5.4.0-77-generic 5.4.0-77.78
I am running containerd 1.3.3 as runC daemon

I was followin

[2021-03-25 14:21] Shikugawa commented on #12585
@pchaigno I found that this problem won't be reproduced with cilium-agent on Pod on VM. After I applied   `examples/policies/host/lock-down-dev-vms.yaml` on single VM k8s, I started to join `k8s2`, then we can see this result.
[code]

Key point is `KVStore` is disabled, I think. The reason we succeded to join new node is we can reach to cilium-agent's on memory status, right? I think that this iss

[2021-03-25 15:51] pchaigno commented on #14749
@AnishShah Are you still working on this? I'd like to get it in 1.10, but can take care of it if you're on other things.

[2021-03-25 15:53] gtsjamesbond commented on #15445
@pchaigno here are two drops logged in the last hour to different destinations, and also the sysdump
`

{
--
destination { |  
identity2labels [reserved:world | identity | 2 | labels [ |   | reserved:world | reserved:world | reserved:world
identity | 2
labels [ |  
reserved:world | reserved:world | reserved:world
reserved:world | reserved:world
reserved:world

`

`

{
--
destination { |  
identity

[2021-03-25 16:32] AnishShah commented on #14749
Sorry @pchaigno. I was not able to make progress on this. Please unassign me

[2021-03-25 16:39] jrajahalme commented on #14463
Again in #15458

[2021-03-25 16:42] #13173 closed

[2021-03-25 17:31] pchaigno commented on #15445
@gtsjamesbond I think you forgot to attach the sysdump. The Hubble log is also ill-formatted.

[2021-03-25 18:05] jrajahalme opened #15469 "CI: K8sDatapathConfig Iptables Skip conntrack for pod-to-pod traffic"
[code]
https://jenkins.cilium.io/job/Cilium-PR-K8s-1.13-net-next/1167/testReport/junit/Suite-k8s-1/13/K8sDatapathConfig_Iptables_Skip_conntrack_for_pod_to_pod_traffic/

[e54ed197_K8sDatapathConfig_Iptables_Skip_conntrack_for_pod-to-pod_traffic.zip](https://github.com/cilium/cilium/files/6206896/e54ed197_K8sDatapathConfig_Iptables_Skip_conntrack_for_pod-to-pod_traffic.zip)

[2021-03-25 18:07] jrajahalme commented on #13853
Still happening: https://jenkins.cilium.io/job/Cilium-PR-K8s-1.13-net-next/1167/testReport/junit/Suite-k8s-1/13/K8sServicesTest_Checks_service_across_nodes_Tests_NodePort_BPF_Tests_with_direct_routing_With_host_policy_Tests_NodePort/

[2021-03-25 18:16] pchaigno commented on #15455
This is very similar to https://github.com/cilium/cilium/issues/13853 (same error message + hostfw). Probably the same root cause

[2021-03-25 18:28] pchaigno commented on #15469
cc @jibi

[2021-03-25 20:22] liuyuan10 commented on #15437
@brb For host->clusterIP, I think it should go through tunnels in both ways so I don't think #1 matters here. For #2, yes, I think if we fix it, the FR should be also fixed where host->clusterIP goes through tunnel in both ways and source IP is node IP. Could you help to evaluate how hard it is to fix it? I haven't dig it deep enough but from the commit you referred, it seems to be a small change

[2021-03-25 20:26] gtsjamesbond commented on #15445
@pchaigno Attaching dump again.
[cilium-sysdump-20210325-114456.zip](https://github.com/cilium/cilium/files/6207611/cilium-sysdump-20210325-114456.zip)

[2021-03-25 20:57] christarazi opened #15471 "Refactor K8s watcher to use the new subscriber package"
In the v1.10 release cycle, we introduced https://github.com/cilium/cilium/pull/15295 to help with https://github.com/cilium/cilium/pull/15340. However, in this release cycle, we also had https://github.com/cilium/cilium/pull/15134 and https://github.com/cilium/cilium/pull/15383, both of which added onto the K8s watcher pattern that https://github.com/cilium/cilium/pull/15295 was supposed to elimi

[2021-03-25 21:19] jrajahalme opened #15472 "CI: K8sCustomCalls Basic test with byte-counter Loads byte-counter and gets consistent values"
[code]
https://jenkins.cilium.io/job/Cilium-PR-K8s-1.13-net-next/1169/testReport/junit/Suite-k8s-1/13/K8sCustomCalls_Basic_test_with_byte_counter_Loads_byte_counter_and_gets_consistent_values/

[fa10e525_K8sCustomCalls_Basic_test_with_byte-counter_Loads_byte-counter_and_gets_consistent_values.zip](https://github.com/cilium/cilium/files/6207919/fa10e525_K8sCustomCalls_Basic_test_with_byte-counter_L

[2021-03-25 21:27] jrajahalme commented on #15088
Found also in https://jenkins.cilium.io/job/Cilium-PR-K8s-1.19-kernel-4.19/5095/testReport/Suite-k8s-1/19/K8sDatapathConfig_Iptables_Skip_conntrack_for_pod_to_pod_traffic/:
[code]

[2021-03-25 21:29] jrajahalme commented on #15088
Those warnings came after this one:
[code]
Could a Cilium agent be already running?

[2021-03-25 21:31] pchaigno commented on #15088
I don't think so. That warning should be fixed by https://github.com/cilium/cilium/pull/15441.

[2021-03-25 21:37] pchaigno commented on #15437
The first part is a small change, but you'll also need something like https://github.com/cilium/cilium/pull/14756 to fix the issue introduced by sending all through the tunnel (cf. https://github.com/cilium/cilium/issues/14674).

[2021-03-25 22:30] pchaigno commented on #15472
This happens because the PRs have not been rebased. We can see the new test execute in Jenkins but the agent behaves as if it didn't know the new `customCalls` code. For example, the flag isn't displayed at the beginning of the logs with the other flags, the new map isn't loaded, etc. The test thus fails.

[2021-03-25 22:32] pchaigno commented on #15469
I suspect the same as in https://github.com/cilium/cilium/issues/15472#issuecomment-807627413 is happening:

[2021-03-25 22:41] pchaigno opened #15474 "CI: New tests fail on all non-rebased pull requests"
Because of the new image build system, whenever we create a new Jenkins test, it will fail in all in-flight pull requests once merged. Examples can be seen in https://github.com/cilium/cilium/issues/15472 and https://github.com/cilium/cilium/issues/15469.

This is happening because Jenkins attempts to rebase the code before executing tests. Since images are built externally, Jenkins rebases the co

[2021-03-26 03:06] liuyuan10 commented on #15437
Thanks for the pointers. I think both changes are fairly small and I'll give it a try if that's all needed.

[2021-03-26 05:27] eyanulis commented on #10645
It appears that this might still be a problem, even _with_ `--enable-endpoint-routes` on, for NodePort and LoadBalancer services when DSR is enabled.

Specifically:
* NodePort services where the request hits Node A, but the backend is on Node B (such that the DSR response from the pod on Node B has to get SNAT'd to Node A's IP on the way out)
* LoadBalancer services such as those provisioned by Me

[2021-03-26 05:36] liuyuan10 commented on #15437
One question, if all pod->node traffic goes through tunnel, how can a pod talk to nodeport? Especially when bpf nodeport is enabled, they are not run if packets are tunnelled to remote node.

[2021-03-26 05:39] jaffcheng commented on #15446
As @pchaigno pointed out, we already do `Endpoint.Stop()` on agent exit signal:
https://github.com/cilium/cilium/pull/15447#discussion_r601319842

It would be ideal if we can handle this issue in agent crashes and received SIGKILL, but for now, we can at least avoid this issue when we restart cilium-agent intentionally.

[2021-03-26 09:37] Antiarchitect opened #15476 "1.9.5 Cilium Agent hangs periodically"
**General Information**

[code]
[code]
[code]

**How to reproduce the issue**

1. Just wait for 2-3 days.

Description:
(Maybe) under the high load cilum-agent falls into `0/1 Ready` state and never come back (even when the load on node lowers to normal values). Moreover, even if you kill the pod, the new one will also remain in `0/1 Ready`. Logs contain this (or similar)

[code]

[2021-03-26 09:49] qmonnet commented on #15476
Hi, any chance you could capture and provide a [sysdump](https://github.com/cilium/cilium-sysdump) next time the issue occurs, please?

[2021-03-26 10:46] Antiarchitect commented on #15476
Yeah sure. The node was rebooted already at the time of the report. Next time I will try to capture the sysdump.

[2021-03-26 12:09] Shikugawa opened #15478 "Egress node packet loops on multi-node k8s on vagrant"
## Bug report

**General Information**

- Cilium version (run `cilium version`)
[code]

- Kernel version (run `uname -a`)
[code]

- Orchestration system version in use (e.g. `kubectl version`, Mesos, ...)
[code]

- Link to relevant artifacts (policies, deployments scripts, ...)

N/A

- Generate and upload a system zip:
[code]

I found that Egress node ICMP echo packet loops on multi-node k8s on va

[2021-03-26 12:34] #14205 closed

[2021-03-26 12:41] brb commented on #15437
Grep for `nodeport_lb` in `bpf_overlay.c` (NodePort BPF should be enabled on a tunnel device).

[2021-03-26 12:43] brb commented on #15437
Yes, just you will need to remove the following `ifndef`: https://github.com/cilium/cilium/blob/v1.9.5/bpf/lib/nodeport.h#L918.

[2021-03-26 12:43] pchaigno commented on #15478
Interesting. I *think* it's the same bug as https://github.com/cilium/cilium/issues/15402. I'm saying that because of:
[code]
It should be:
[code]

Could you try to restart Cilium on k8s2 and see if it solves the issue.

[2021-03-26 13:06] Shikugawa commented on #15478
@pchaigno It fixed with restarting `k8s2`. Thanks :+1:

[2021-03-26 13:12] brb commented on #14784
If we merge https://github.com/cilium/cilium/pull/15422, then this is definitely a release blocker. Added the label accordingly.

[2021-03-26 13:22] #15478 closed

[2021-03-26 15:04] RaveNoX commented on #14857
looks like  #14465 works fine for services with `type=LoadBalancer` with externalIPs defined

[2021-03-26 15:45] brb commented on #10645
@eyanulis Your discovery looks correct to me.

I think we should create a controller which does a periodic scan of rp_filter's and at least logs a warning when it detects the rp_filter change.

[2021-03-26 19:36] brb commented on #14857
@RaveNoX Thanks for the update. Can this issue be closed then?

[2021-03-26 21:24] brb opened #15483 "helm: Consolidate IPSec and Wireguard encryption options"
Suggested in https://github.com/cilium/cilium/pull/15383#discussion_r600323895.

[2021-03-27 05:33] LinFCai opened #15485 "The check of udp header is 0 from cilium_vxlan, cause gro receive failed on the server side and bad POD to POD performance"
## Bug report

**General Information**

- Cilium version (run `cilium version`)
`Client: 1.9.90 9e138a965 2021-02-22T07:00:32+00:00 go version go1.15.8 linux/amd64`
- Kernel version (run `uname -a`)
`Linux nw-vm-3.novalocal 4.18.0-240.15.1.el8_3.x86_64 #1 SMP Mon Mar 1 17:16:16 UTC 2021 x86_64 x86_64 x86_64 GNU/Linux`
- Orchestration system version in use (e.g. `kubectl version`, ...)
`{Major:"1",

[2021-03-27 10:26] pchaigno commented on #14638
@elfadel I've unassigned you. Please comment here if you're still working on this.

[2021-03-27 18:14] #7519 closed

[2021-03-28 21:29] liuyuan10 commented on #15437
@pchaigno @brb  I tried to include similar fix as #14756 but that immediately breaks host -> pod flow. Say traffic comes from remote node cilium_host IP to local pod, it's redirected to lxc from overlay device bypassing kernel. But for return traffic, due to that change, it's pushed to kernel because the destination  is cilium_host IP, which is present in the IP cache. Because the traffic passes t

[2021-03-29 06:30] Sh4d1 commented on #14581
I can take this one! Though wouldn't it be better to skip here https://github.com/cilium/cilium/blob/0218d373d2f8452720855a4a07b2719fd9826095/bpf/lib/nodeport.h#L1785 with a new flag (as well as the ipv6 one) ?

From my very naive point of view, in this case, the service flags will only be set to `SVC_FLAG_ROUTABLE`, thus `__lb_svc_is_routable` will always return false even if some lines are skipp

[2021-03-29 07:35] brb commented on #14581
@Sh4d1 Cool, I've assigned you.

I took a closer look, and it seems that we don't set the ClusterIP type in the BPF maps. We could do that, and then conditionally (e.g. `ENABLE_CLUSTER_IP_FROM_OUTSIDE`) extend the mask.

Another approach would be to mark ClusterIP services as routable. But currently, the routable flag is used to distinguish between a surrogate services (aka 0.0.0.0; used to access

[2021-03-29 07:43] brb commented on #15485
cc @borkmann

[2021-03-29 07:51] borkmann commented on #15485
@LinFCai hello, this was fixed in: https://git.kernel.org/pub/scm/linux/kernel/git/torvalds/linux.git/commit/?id=89e5c58fc1e2857ccdaae506fb8bc5fed57ee063 . This commit has been backported to all official stable kernel releases back to v4.4 and I also got confirmation from Canonical that they include this into all their releases, too. Could you try with the fix?

[2021-03-29 07:52] Sh4d1 commented on #14581
Yep indeed adding a flag for ClusterIP sounds good! `flags` is already full, so I guess it'll go in `flags2`, so is:
[code]
good for you ?
And then returning:
[code]

Or should I rather handle `flags` and `flags2` in `__lb_svc_is_routable` ? 🤔

[2021-03-29 07:59] borkmann commented on #14581
I would prefer if this is resolved w/o adding additional performance penalty to the critical fast-path especially given we can avoid it, so ideally just a single test (as before) and if otherwise not possible wrt flags, then lets mark ClusterIP with routable flag from agent side if this option is enabled on the agent.

[2021-03-29 08:13] RaveNoX commented on #14857
Yes, sorry, closing.

[2021-03-29 08:13] #14857 closed

[2021-03-29 08:43] pchaigno opened #15491 "test: Reconsider special case for host identity when remote-node identity is disabled"
We should check if this special case is still needed with latest Cilium:
https://github.com/cilium/cilium/blob/fce7fe070c14d09adf79395106b056111ad86caa/test/k8sT/Policies.go#L1632-L1640

[2021-03-29 08:47] pchaigno commented on #10979
FYI, https://github.com/cilium/cilium/pull/15398 will address this issue.

[2021-03-29 08:57] brb commented on #14581
Then let's flag other routable service entries (e.g. NodePort) with the same routable flag. Otherwise, we will have the routable logic spread over the places.

[2021-03-29 09:25] pchaigno commented on #15437
@liuyuan10 I think we just need to avoid the `redirect()` from `cilium_vxlan` to `lxc` device on forward path, no? If per-endpoint routes are enabled, that should already be the case: https://github.com/cilium/cilium/blob/0218d373d2f8452720855a4a07b2719fd9826095/bpf/bpf_lxc.c#L1437-L1451

[2021-03-29 10:23] borkmann commented on #15437
If we go that route, ideally just in a constraint setting (e.g. old kernels only) given this will introduce a performance regression for all tunnel traffic.

[2021-03-29 10:30] pchaigno commented on #15437
I think we only need to do that for `!defined(ENABLE_NODEPORT)` which is in phase with what we discussed a couple SIG-Datapath meetings ago: removing all path asymmetries when using kube-proxy.

[2021-03-29 11:25] LinFCai commented on #15485
Okay thankyou for your information. The next time, I will try with the fix @borkmann

[2021-03-29 15:10] gtsjamesbond commented on #15445
@pchaigno @aditighag , were you able to gain any insight from the latest attached logs uploaded on March 25?

Regards.

[2021-03-29 15:14] nbusseneau commented on #15434
Maybe it will be fixed by #15357?

[2021-03-29 17:01] aditighag commented on #15445
Busy with the 1.10 release, I'll try to take a look (most likely) after the release unless someone else beats me to it.

[2021-03-29 17:35] nbusseneau opened #15496 "azure: cilium unable to manage pods on AKS"
This is a follow-up to issues uncovered in #15465 while adding the AKS connectivity test workflow to the repo.

On an AKS cluster, when installing Cilium CLI using PR-specific pinned images, as the workflow does:
[code]
Then pods cannot start, e.g. here are CoreDNS pods not starting:
[code]
Cilium pods' logs are full of errors:
[code]
Funnily enough, `cilium status` reports OK because its own pods

[2021-03-29 18:36] #15448 closed

[2021-03-29 20:17] pchaigno opened #15498 "Remove NEEDS_RELAX_VERIFIER"
In the datapath, we use `` to determine if we need to compile in the insertion of state pruning point, i.e., `relax_verifier()`.
https://github.com/cilium/cilium/blob/a78f75e1eb1dd37e107be01eec6ba7db53ad6f4f/bpf/include/bpf/verifier.h#L13-L17
That macro is defined whenever the kernel supports 1M instructions because we know the verifier stopped needing state pruning points around the same time.
ht

[2021-03-29 21:05] nathanjsweet opened #15499 "CI: K8sDatapathConfig Host firewall With VXLAN and endpoint routes"
## CI failure
This is happening in a lot of PRs right now.

[code]
https://jenkins.cilium.io/job/Cilium-PR-K8s-1.20-kernel-4.9/1147/testReport/junit/Suite-k8s-1/20/K8sDatapathConfig_Host_firewall_With_VXLAN_and_endpoint_routes/

[2021-03-29 21:14] pchaigno commented on #15499
From the logs:
[code]
This is another case of https://github.com/cilium/cilium/issues/15474. Folks need to rebase their pull requests or they will run the new hostfw+ep route test with the old Cilium agent code.

[2021-03-29 21:50] kvaps opened #15500 "Cilium not respect network prefix from podCIDR"
## Bug report

cilium installed with the following values:
[code]
**kube-controller-manager** was running with `--cluster-cidr=10.112.0.0/12` and `--node-cidr-mask-size=26`, so many nodes have podCIDR already allocated, let's take these two:

[code]

[code]

However, cilium-operator has `/24` prefix configured, and creates two ciliumnodes with the conflicting address range:

[code]

[code]

**Gene

[2021-03-29 21:54] aanm commented on #15500
If you want Cilium to use Kubernetes' IPAM, you need to set it accordingly the documentation here https://docs.cilium.io/en/v1.9/concepts/networking/ipam/kubernetes/#configuration

[2021-03-29 21:57] liuyuan10 commented on #15437
@pchaigno Thanks for the link. With that patch, I think when endpoint route is enabled, even pod to pod traffic is having asymetric path where vxlan->lxc is passing through kernel where return traffic doesn't not.

I think what you mean is when !ENABLE_NODEPORT, all traffic between vxlan and lxc should pass through kernel? let me prepare the patch

[2021-03-29 21:57] kvaps commented on #15500
Actually I don't want to, but I was replacing the CNI plugin in our cluster, and some of the nodes still have podCidr allocated.
Cilium always try to reuse this setting, but doing this wrong.

[2021-03-29 22:27] aanm commented on #15500
In the GH issue description, both nodes are the same.

[2021-03-29 22:43] aanm opened #15501 "Add support for k8s 1.21"
- [ ] Add watcher for endpoint slices v1

[2021-03-29 23:17] aanm commented on #15402
@pchaigno what is the output of `/etc/systemd/system/kubelet.service` in both nodes?

[2021-03-30 01:15] liuyuan10 commented on #15437
I have a draft PR in  #15504 but there are several traffic flows having asynmetric paths (passing through kernel only one way). To me, the most worrisome case is hostns -> nodeport -> local pod when bpf node port is enabled.  hostns -> nodeport is through eth0 interface but return traffic is through tunnel. This looks very strange.  Please let me know what you do you guys think.

[2021-03-30 01:23] LinFCai commented on #15485
When I try with the fix, the problem was solved. Thank you very much. @borkmann

[2021-03-30 06:17] christarazi opened #15506 "CI: K8sCustomCalls Basic test with byte-counter Loads byte-counter and gets consistent values: Value not incremented (delta: 0) for ingress metrics for skipped calls"
## CI failure

[code]

https://jenkins.cilium.io/job/Cilium-PR-K8s-1.13-net-next/1211/testReport/junit/Suite-k8s-1/13/K8sCustomCalls_Basic_test_with_byte_counter_Loads_byte_counter_and_gets_consistent_values/

[6b44dbb8_K8sCustomCalls_Basic_test_with_byte-counter_Loads_byte-counter_and_gets_consistent_values.zip](https://github.com/cilium/cilium/files/6226548/6b44dbb8_K8sCustomCalls_Basic_test_wit

[2021-03-30 06:51] pchaigno commented on #15506
Likely another case of https://github.com/cilium/cilium/issues/15474.

[2021-03-30 06:55] borkmann commented on #15485
Thanks for testing @LinFCai !

[2021-03-30 06:55] #15485 closed

[2021-03-30 07:03] kvaps commented on #15500
Oh, you're right. But I'm sure that both nodes were conflicting address in cilium
I'm going to repeat this in a while

[2021-03-30 08:09] pchaigno commented on #15402
@aanm Here it is, before restarting k8s2:
[code]
They both have the correct node IP AFAICT.

[2021-03-30 09:34] qmonnet commented on #15506
Paul is correct, I checked the PR and it would need to be rebased on top of #15475 to have the test pass.

[2021-03-30 09:34] #15506 closed

[2021-03-30 11:01] aanm commented on #15402
@pchaigno and `journalctl -au kubelet` in the 2nd node?

[2021-03-30 11:04] pchaigno commented on #15402
@aanm :point_down:
<details><summary>Click here to see</summary>

[code]
</details>

[2021-03-30 11:13] CBVenkataReddy commented on #15449
I am planning take-up this issue
@pchaigno, Please assign to me.

[2021-03-30 11:15] pchaigno commented on #15449
@CBVenkataReddy Done. Don't hesitate to reach out on Slack (e.g., #sig-datapath or #development) if you need any help.

[2021-03-30 12:27] dbaumgarten opened #15509 "Command execution failed - tc filter replace dev"
## Bug report

Hi, I am trying to use cilium v1.9.5 on my Kubernetes cluster. I am currently testing Kuberneets 1.21 on ubuntu focal.
I installed cilium according to the quickstart guide (https://docs.cilium.io/en/v1.9/gettingstarted/k8s-install-default/), but added configuration for ipsec-encryption.

All pods (except these that have host-networking) are stuck in "ContainerCreating" with the erro

[2021-03-30 12:30] emogua opened #15510 "bpf map operation not permitted"
pod logs:
level=error msg="Error while opening/creating BPF maps" error="Unable to create map /sys/fs/bpf/tc/globals/cilium_lxc: operation not permitted" subsys=daemon
level=fatal msg="Error while creating daemon" error="Unable to create map /sys/fs/bpf/tc/globals/cilium_lxc: operation not permitted" subsys=daemon

debian 10.9
kubernetes 1.20.5

please help

[2021-03-30 12:31] pchaigno commented on #15509
Could you share the output of `cilium status --verbose` or, ideally, a [cilium-bugtool](https://docs.cilium.io/en/stable/operations/troubleshooting/#single-node-bugtool) for the node?

[2021-03-30 12:32] pchaigno commented on #15510
Please share a sysdump as per the issue template.

[2021-03-30 12:47] dbaumgarten commented on #15509
Sure.
Here is the output of "cilium status --verbose":
[code]

[2021-03-30 12:58] pchaigno commented on #15509
Did you change `kube-proxy-replacement: probe`? Could you share logs from the Cilium pod?

[2021-03-30 13:07] dbaumgarten commented on #15509
Yes, I have set  kube-proxy-replacement to "disabled", as I would like to continue to use kube-proxy for now.

Here are the full logs of the pod:
[logs.txt](https://github.com/cilium/cilium/files/6229201/logs.txt)

[2021-03-30 13:12] kvaster commented on #14579
I'm trying to fix the problem, but it seems that my knowledge is not enough.

Setup: `wan0` and `wan0.4000`, bpf programs are attached to both interfaces, direc routing device is `wan0.4000`.

First of all I was wrong - packet is not filtered by validate_ethertype. Packet sent to `wan0.4000` will appear on wan0 node1 first:

[code]

We can see vlan header here. But it will be NOT dropped. VLAN hea

[2021-03-30 13:15] pchaigno commented on #15509
Ok. It's a know issue then: https://github.com/cilium/cilium/issues?q=is%3Aopen+is%3Aissue+label%3Arelease-blocker%2F1.10+label%3Akind%2Fcomplexity-issue. To work around it, you can try to set: `kube-proxy-replacement: partial` with `enable-host-reachable-services: true`.

[2021-03-30 13:55] kvaps commented on #15500
Hey, I disabled controller-manager IPAM and just added new node `pve6`, this node got address range already used by  `pve3`🤷

node:
[code]

ciliumnode:
[code]

[2021-03-30 13:59] dbaumgarten commented on #15509
Thank you. That seems to work just fine!
Despite googling for hours I was not able to find the existing issues about this...

Btw: I have never gotten help so quickly ever before. I am absolutely impressed.

[2021-03-30 13:59] #15509 closed

[2021-03-30 14:01] aanm commented on #15500
As mentioned before, the node-cidr-mask-size set in k8s is different than the node-cidr-mask-size set in Cilium.

[2021-03-30 14:02] kvaps commented on #15500
For now it is unset, controller-manager does not allocate any CIDRs to the node, you can see that from the output `pve6` node has no any `podCIDR` and `podCIDRs` on its spec

[2021-03-30 14:47] #15510 closed

[2021-03-30 17:54] #15269 closed

[2021-03-30 19:23] borkmann opened #15515 "cilium monitor: ipip encap dissector not correct"
Steps to repro: https://github.com/cilium/cilium/pull/15376/commits/1755d0d027d6bb4e1291bca2d69b2c6f9337894f

[2021-03-30 21:32] aanm commented on #15499
@pchaigno this is currently happening in master https://jenkins.cilium.io/job/cilium-master-k8s-1.17-kernel-4.9/

[2021-03-30 23:42] aanm commented on #15500
Do you minimal number of steps to replicate the issue from scratch?

[2021-03-31 01:43] aanm commented on #15282
reopened by https://github.com/cilium/cilium/pull/15517

[2021-03-31 01:43] #15499 closed

[2021-03-31 03:47] joestringer commented on #15105
Given that the traffic at this point is from the proxy (ie from an application running on the host), I'm a bit surprised that the traffic ends up getting routed to a device with the BPF host program attached but maybe we just haven't fully considered  the integration between the BPF tproxy feature and some other feature like host firewall.

My understanding of the reason for that drop is that the

[2021-03-31 09:57] elagree opened #15520 "Cilium 1.9.5 + EKS & IMDSv2 seems not working"
Hello,

With my team we are working on Cilium (1.9.5) integration on a freshly EKS cluster.

We follow the official [doc](https://docs.cilium.io/en/latest/gettingstarted/k8s-install-eks/) and it's working great.

For obvious [reasons](https://docs.aws.amazon.com/eks/latest/userguide/best-practices-security.html) we would like to use only Metadatav2 with our EC2 workers but it seems not working cor

[2021-03-31 11:38] pchaigno opened #15522 "Missing documentation for ginkgo's KUBEPROXY=0"
`KUBEPROXY=0`, which disables kube-proxy and enables our kube-proxy replacement instead, is not documented at https://docs.cilium.io/en/stable/contributing/testing/e2e/#vms-for-testing.

[2021-03-31 12:07] nbusseneau commented on #15166
Since K8s 1.14 is being dropped in #15502, we should revert #15415 after it is merged, closing this in the process.

[2021-03-31 14:46] #13217 closed

[2021-03-31 17:44] h3llix commented on #15375
@qmonnet sorry for the delay . I was having approach 1 in my mind , but can guide me how to hash keys during runtime in go (like maybe some refrences to existing functions)?

[2021-03-31 18:17] cyrilcros opened #15532 "Grafana dashboard not working with Cilium 1.9.5"
I can't get the v1.9 dashboards from https://grafana.com/orgs/cilium to work for the agent/operator/hubble.

I am using separate charts for prometheus, and grafana, which are fine (prometheus node exporter works for instance). I can see the metrics and cilium agent / cilium operator / hubble all show up as up in Prometheus's status/targets tab, clicking on the URLs shows the metrics are working.

[2021-03-31 18:21] aanm commented on #15532
Can you provide more information? Also steps to replicate the issue? A sysdump?

[2021-03-31 18:35] cyrilcros commented on #15532
- I am using serviceMonitors
- Helm configs for Grafana cilium are here: https://gist.github.com/cyrilcros/c12728af504340c20083fb7f181380d3
- Simplest way to replicate would be to be to deploy service monitors and use your own Grafana: go to Dashboard, manage, Import, paste an ID like 13537 into "import via grafana.com".
- the labels for my prometheus targets are container/endpoint/instance/job/na

[2021-03-31 19:13] raokolagan commented on #15387
I am planning to take-up this issue and provide the solution for the same.
@pchaigno, Please assign to me

[2021-03-31 19:15] pchaigno commented on #15387
@raokolagan Done. Don't hesitate to reach out on Slack (e.g., #development) if you have any question.

[2021-03-31 19:28] cyrilcros commented on #15532
Something seems wrong.
- v1.9.5  I am not seeing the `targetLabels` https://github.com/cilium/cilium/blob/079bdafc95ade724cefff9e3d52bd2f7deb68ce2/install/kubernetes/cilium/templates/cilium-operator-servicemonitor.yaml#L23
- master I see it
https://github.com/cilium/cilium/blob/231a217ea99dfc6edc1a0d06cde4e945e21962f6/install/kubernetes/cilium/templates/cilium-operator-servicemonitor.yaml#L24

#14

[2021-03-31 19:31] pchaigno commented on #15532
#14747 wasn't backported to v1.9 and isn't planned for backports currently.

[2021-03-31 19:32] cyrilcros commented on #15532
Then I will just close, thanks!

[2021-03-31 19:32] #15532 closed

[2021-03-31 20:46] qmonnet commented on #15375
I'm no expert in hashing strings in go, but I see that we have several package using functions from the `crypto/sha256` or `crypto/sha512` packages. You could have a look at the relevant code.

[code]

The first two in the list, in particular, show that it is pretty straightforward to compute a SHA sum.

As explained above, this could be used to implement some post-processing on the output we get

[2021-03-31 21:24] aanm commented on #15532
@cyrilcros it will be part of the next 1.9 release. Thanks for reporting it

[2021-03-31 22:19] aanm commented on #15337
marking this as release blocker since it has show up in a couple PRs.

[2021-04-01 02:28] christarazi commented on #15496
Fix should be in https://github.com/cilium/cilium/pull/15533 @nbusseneau

[2021-04-01 02:36] #15501 closed

[2021-04-01 09:07] navarrothiago commented on #9894
I am planning take-up this issue
@pchaigno, please, could you assign it to me.

[2021-04-01 10:09] pchaigno commented on #9894
@navarrothiago I assigned you. Don't hesitate to reach out on #development or #sig-datapath if you have any question.

[2021-04-01 11:26] #15522 closed

[2021-04-01 15:31] pchaigno opened #15539 "Program size issue on 4.19 with egress gateway, custom calls, and DSR"
I'm hitting the max. BPF program size on `bpf_lxc` when running with the egress gateway, custom calls, and NodePort DSR:
[code]

The exact datapath configuration I ran is:
[code]

Removing `ENABLE_DSR`, `ENABLE_CUSTOM_CALLS`, or `ENABLE_EGRESS_GATEWAY` fixes the issue (probably other options do as well given it's a program size issue). Hopefully, this full combination of options is rare.

/cc @qmo

[2021-04-01 16:38] #15439 closed

[2021-04-01 20:40] christarazi commented on #13412
@John-Moya Are you still experiencing this with Cilium v1.9.5?

[2021-04-01 21:22] MasterZ40 commented on #13575
Originating  from https://github.com/cilium/cilium/pull/15134#issuecomment-806281492

Here are the list of items we are planning to improve on the egress nat control plane post v1.10:

- [ ] Collate lower level error cases and log msgs to give user a clearer messaging. (addressed)
- [ ] Combine similar logic and data structure for EgressNATPolicy and LocalRedirectPolicy
- [ ] Add unit tests for eg

[2021-04-02 01:03] aanm commented on #13136
@aditighag can we close this issue? is it still happening?

[2021-04-02 01:24] aditighag commented on #13136
https://github.com/cilium/cilium/issues/13136#issuecomment-694357756
Yes, this code is still unchanged, no? Hoping to fix this in the next release.

[2021-04-02 08:39] brb commented on #15471
I am wondering whether we could kill `ServiceCache`. I'd like to remove yet another level of indirection which `ServiceCache` introduces. E.g. instead of notifying `pkg/service` directly via the k8s service watcher, we do that via the mechanism exposed by `ServiceCache`. This complicates objects synchronization too.

Currently, the main purpose of `ServiceCache` is to corelate Endpoint objects wit

[2021-04-02 16:11] brb opened #15547 "wireguard: Get rid of tunnel IP"
It's not needed. All the operator related code can be removed.

For the KPR case when NodePort BPF forwards a request, we just need to add Node IP addr to the allowed-ips list on remote nodes.

[2021-04-02 16:44] jrfastab opened #15548 "cilium: encryption (ipsec) unit tests and CI test inclusion"
Cilium ginkgo based tests have only a handful of tests for encryption (and it doesn't test EKS, AKS, GKE, at all) to improve the situation we need to add CI test coverage for the various mode.

- [x]  EKS IPSec CI connectivity test
- [x]  AKS IPSec CI connectivity test
- [x]  GKE IPSec CI connectivity test
- [x]  EKS key upgrade
- [x]  GKE key upgrade

Further unit tests should be extended for,
-

[2021-04-03 03:49] rscampos commented on #12562
Hello @pchaigno,
I am planning take-up this issue, please, could you assign it to me.

[2021-04-03 03:49] johngv2 commented on #15095
I am planning take-up this issue
@pchaigno, please, could you assign it to me.

[2021-04-03 09:00] pchaigno commented on #15095
@johngv2 Don't hesitate to reach out on Slack (e.g., #sig-datapath or #development) if you have any question.

[2021-04-03 09:02] pchaigno commented on #12562
@rscampos Please be aware that this issue is already partially addressed by https://github.com/cilium/cilium/pull/15486.

[2021-04-03 15:08] johngv2 commented on #15095
@pchaigno, thanks so much! I'm new on this project but I am enjoying all the work you have done guys! I hope to help in some way.

[2021-04-03 15:42] rscampos commented on #12562
Hello @pchaigno, thank you for letting me know, this is going to be my first collaboration (I'm excited for that :D ), do you suggest take another first-good-issue or the 12562 is good to start? If so, could you assign to 12562 pls?

[2021-04-03 17:01] pchaigno commented on #12562
@rscampos It might be easier to look for another `good-first-issue` as the author of #15486 is likely already looking into the second item here.

[2021-04-03 18:02] ammmk commented on #14841
@joestringer, I'd like to work on this, could you assign it to me?

[2021-04-03 20:11] pchaigno commented on #14841
@ammmk Done. Don't hesitate to reach out on Slack (e.g., #development) if you have any question.

[2021-04-04 20:29] John-Moya commented on #13412
@christarazi using the aws-release-excess-ips flag since v1.9.4 and we have not observed the issue

[2021-04-04 21:16] h3llix commented on #15375
@qmonnet, I have just tried to solve the issue. Can you please review it ?

[2021-04-04 22:30] h3llix commented on #15417
@pchaigno. Can you elaborate more on this issue? quick-install.yaml looks the same to me in the quick install guide and in the above mentioned link.

[2021-04-05 00:26] rscampos commented on #12562
@pchaigno , thank you. I'll get another one :D

[2021-04-05 00:27] rscampos commented on #15498
Hello @pchaigno,
Could you assign it to me, pls?

[2021-04-05 12:31] CBVenkataReddy commented on #15498
I am planning take-up this issue
@pchaigno, Please assign to me.

[2021-04-05 12:36] pchaigno commented on #15498
@rscampos I've assigned the issue to you. Don't hesitate to reach out on Slack (e.g., #development or #sig-datapath) if you have any question.

@CBVenkataReddy You can find other `good-first-issues` to work on with this link: https://github.com/cilium/cilium/issues?q=is%3Aopen+label%3Agood-first-issue+no%3Aassignee.

[2021-04-05 13:19] pchaigno commented on #15417
@h3llix That file doesn't exist anymore. The https://raw.githubusercontent.com/cilium/cilium/HEAD/install/kubernetes/quick-install.yaml link referenced in the guide returns a 404.

[2021-04-05 14:15] h3llix commented on #15417
okay sorry for not noticing that. Just one more question, Deploying via minkube no longer works?

[2021-04-05 14:37] pchaigno commented on #15417
I assume it's possible to deploy on Minikube via Helm instead. Maybe a question for #development?

[2021-04-05 17:20] christarazi commented on #11698
This flake might have made a comeback. [Dashboard](https://datastudio.google.com/reporting/1kYVnPCU-tJCRUV2E3Pf044NFNnlFZgmW/page/IcyMB?params=%7B%22df54%22:%22include%25EE%2580%25800%25EE%2580%2580IN%25EE%2580%2580K8sServicesTest%2520Checks%2520service%2520across%2520nodes%2520Tests%2520NodePort%2520BPF%2520Tests%2520with%2520vxlan%2520Tests%2520NodePort%2520with%2520sessionAffinity%2520from%2520

[2021-04-05 23:37] johngv2 opened #15559 "bpf_host.c mixes declaration and code when HOST_REDIRECT_TO_INGRESS is defined"
The function `do_netdev` mixes declaration and code when `HOST_REDIRECT_TO_INGRESS` is defined. The used standard (gnu89) prohibits this.

The fix should be trivial. It's just a matter of move the declarations of `int trace = TRACE_FROM_HOST;` and `bool from_proxy;` to the beginning of the scope in https://github.com/cilium/cilium/blob/198fe64d79b53c983ba74f09f5c7a1c34408666d/bpf/bpf_host.c#L800

[2021-04-05 23:39] johngv2 commented on #15559
@pchaigno, I can deliver both issues on separated PR. Please, could you assign it to me.

[2021-04-06 04:29] CBVenkataReddy commented on #15452
I am planning take-up this issue
@pchaigno, Please assign to me.

[2021-04-06 05:36] navarrothiago commented on #10541
I am planning take-up this issue
@pchaigno, please, could you assign it to me.

[2021-04-06 06:16] brb commented on #10541
@navarrothiago Thanks! Feel free to reach us #sig-datapath or #development at the Cilium's slack if you have any questions.

[2021-04-06 09:07] pchaigno commented on #15452
@CBVenkataReddy I've assigned you, but please note this is not a `good-first-issue`, so may not be the best way to get started with Cilium.

[2021-04-06 10:10] nbusseneau commented on #15166
Fixed by #15502: K8s 1.14 support was dropped, and the PR directly reverted #15415 changes as well.

[2021-04-06 10:10] #15166 closed

[2021-04-06 10:12] sfxworks opened #15567 "Cilium fails with XDP on RPI 4/Raspbian"
## Bug report

**General Information**

- Cilium version v1.10.0-rc0
- Kernel version 5.10.25-v8+
- Orchestration system version in use
Client Version: v1.20.4
Server Version: v1.20.4
- Link to relevant artifacts:
  helm values: https://gist.github.com/sfxworks/6ef0c467595e3c23fe92a14afe910593
- Generate and upload a system zip: https://transfer.sh/6U93t/cilium-sysdump-20210406-100719.zip

**How t

[2021-04-06 10:23] pchaigno commented on #15567
Attaching the sysdump here so we don't lose it:
[cilium-sysdump-20210406-100719.zip](https://github.com/cilium/cilium/files/6263902/cilium-sysdump-20210406-100719.zip)

[2021-04-06 10:26] nbusseneau commented on #14676
This happens almost consistently in the race detection version of the pipeline: https://jenkins.cilium.io/view/Race%20Detection/job/Ginkgo-CI-Tests-runtime-Pipeline-Race-Detection/

[2021-04-06 10:38] dbaumgarten opened #15568 "Connectivity issues on 1.9.5 with IPSec"
## Bug report

Hi,
I have hit a problem with cilium 1.9.5 and after hours of debugging I am completely out of ideas and must assume that it's a bug in cilium.

I installed cilium 1.9.5 into a fresh Kubernetes 1.21-rc.0 cluster (with slightly modified quickstart-config, see attachment). The cilium-pods are Ready, but the cilium connectivity-check does not work. Running "cilium-health status" shows

[2021-04-06 11:06] #15472 closed

[2021-04-06 11:26] mazzy89 commented on #9580
After some time and discussions, we are now ready to move with the implementation of this feature. The proposal has been marked now as final and it is available to the aforementioned link.

We are going to start with the implementation of the audit mode per Cilium Network Policy. We'll consider separately in a different issue the display of the verdicts.

At the time of this writing, the log verdi

[2021-04-06 12:36] qmonnet commented on #15438
Filed at https://github.com/vishvananda/netlink/issues/633

[2021-04-06 13:24] pchaigno opened #15572 "CI: K8sServicesTest Checks service across nodes Tests NodePort BPF Tests with vxlan Tests NodePort with sessionAffinity"
https://jenkins.cilium.io/job/Cilium-PR-K8s-1.20-kernel-4.19/11/testReport/junit/Suite-k8s-1/20/K8sServicesTest_Checks_service_across_nodes_Tests_NodePort_BPF_Tests_with_vxlan_Tests_NodePort_with_sessionAffinity/
[1737d6fb_K8sServicesTest_Checks_service_across_nodes_Tests_NodePort_BPF_Tests_with_vxlan_Tests_NodePort_with_sessionAffinity.zip](https://github.com/cilium/cilium/files/6264944/1737d6fb_

[2021-04-06 13:25] #15282 closed

[2021-04-06 14:19] #14283 closed

[2021-04-06 14:45] #15496 closed

[2021-04-06 15:16] pchaigno opened #15575 "CI: K8sDatapathConfig Host firewall With native routing: Managed to reach"
https://jenkins.cilium.io/job/Cilium-PR-K8s-1.20-kernel-4.19/75/testReport/junit/Suite-k8s-1/20/K8sDatapathConfig_Host_firewall_With_native_routing/
[8fab5f05_K8sDatapathConfig_Host_firewall_With_native_routing.zip](https://github.com/cilium/cilium/files/6265653/8fab5f05_K8sDatapathConfig_Host_firewall_With_native_routing.zip)

There are other ongoing flakes for this test, so please check for the

[2021-04-06 15:18] pchaigno commented on #12690
I assume variants of this flake with HTTP and VXLAN (e.g., https://jenkins.cilium.io/job/Cilium-PR-K8s-1.20-kernel-4.19/80/testReport/junit/Suite-k8s-1/20/K8sServicesTest_Checks_service_across_nodes_Tests_NodePort_BPF_Tests_with_secondary_NodePort_device/) likely have the same root cause. Or do I need to open a separate issue?

[2021-04-06 15:21] pchaigno commented on #15568
I see IPSec is enabled. Do you also hit this issue if you disable IPSec?

[2021-04-06 17:39] joestringer commented on #15567
Thanks for the report. From the kernel config, some of the requirements are missing. See here for the docs on required kernel config options:

https://docs.cilium.io/en/stable/operations/system_requirements/#linux-kernel

[2021-04-06 17:46] pchaigno commented on #12585
@Shikugawa Thanks a lot for looking into this and documenting the steps you took to reproduce! :pray:

It wasn't clear to me why you couldn't reproduce in the development VM so I had a look. It turns out the host policy I pointed you to already allows connections from the node CIDR in an attempt to support `enable-remote-node-identity=false`. https://github.com/cilium/cilium/pull/15577 will fix it

[2021-04-06 18:51] ankurkothiwal commented on #12554
@pchaigno I would like to work on this issue. Can you please assign this to me?

[2021-04-06 19:25] sfxworks commented on #15567
Ah, perfect thanks! Was missing `CONFIG_NET_CLS_ACT` and `CONFIG_CRYPTO_SHA1`.

[code]

All good now!

[2021-04-06 19:25] #15567 closed

[2021-04-06 20:00] pchaigno commented on #12554
@ankurkothiwal Don't hesitate to reach out on Slack (e.g., #development or #testing) if you have any question.

[2021-04-06 20:09] johngv2 commented on #14956
Hi folks, I am planning take-up this issue
@pchaigno, could you please assign it to me.

[2021-04-06 20:14] pchaigno commented on #14956
@johngv2 Done. Please note this issue hasn't been flagged as `good-first-issue` so it's likely harder to tackle than our usual `good-first-issues`.

[2021-04-06 20:26] #14722 closed

[2021-04-06 20:48] #14206 closed

[2021-04-06 22:15] pchaigno opened #15580 "CI: K8sServicesTest Checks service across nodes Tests NodePort BPF Tests with direct routing and DSR"
https://jenkins.cilium.io/job/Cilium-PR-K8s-1.16-net-next/92/testReport/junit/Suite-k8s-1/16/K8sServicesTest_Checks_service_across_nodes_Tests_NodePort_BPF_Tests_with_direct_routing_and_DSR/
[30f61d63_K8sServicesTest_Checks_service_across_nodes_Tests_NodePort_BPF_Tests_with_direct_routing_and_DSR.zip](https://github.com/cilium/cilium/files/6267556/30f61d63_K8sServicesTest_Checks_service_across_nod

[2021-04-07 06:37] brb commented on #15580
Looks like yet another duplicate of https://github.com/cilium/cilium/issues/12511 (I'm planning to tackle it post v1.10).

[2021-04-07 06:37] #15580 closed

[2021-04-07 07:32] pchaigno commented on #12511
Can also happen with test:
[code]

[2021-04-07 07:33] pchaigno commented on #15580
@brb Then we need to update #12511 so that folks stop opening new issues every week. I've attempted to update the title to better reflect the affected tests and added a comment for the DSR test. Please have a look and fix if incorrect.

[2021-04-07 07:44] brb commented on #15580
@pchaigno Thanks. I fine-tuned it a bit.

[2021-04-07 07:46] brb commented on #14956
Another suggestion by @borkmann which does not involve perf ring buffer, and thus is simpler:

[2021-04-07 07:53] dbaumgarten commented on #15568
Hi,
I just tried it, and when disabling IPsec everything works just fine.
Unfortunately I am required to use encryption on the overlay network for productive clusters.
Is there any way to have a working 1.9.5 installation with ipsec enabled?

[2021-04-07 08:06] pchaigno commented on #15568
v1.9.5 has an IPSec regression which we are currently fixing. The fix should land in the next patch release.

[2021-04-07 09:25] lbernail opened #15583 "Compatibility issue between Cilium>=1.8.3 and Kubernetes <= 1.18.5."
We identified a compatibility issue between client-go 0.18.6+ and apiservers <= 1.18.5.

When a client disconnects from an apiserver and reconnects to another one with an older RV the Informer will never recover because clients 0.18.6+ expect a more complete error message from apiservers to understand TooLargeResourceVersion errors. So the Informer keeps trying to relist with the RV it knows and g

[2021-04-07 14:08] lbernail commented on #15583
Ok the issue actually came back with client-go 0.18.5 so we dived again in the commit history. It turns out:
- https://github.com/kubernetes/kubernetes/pull/83520 introduced a bug that was reverted in 1.17.1 but kept in master and fixed for real in 1.18.6 _but_ the fix introduce an incompatibility with client-go <=0.18.5 triggering the same problem
- impacted versions are client-go 0.17.0 (0.17.1+

[2021-04-07 14:09] lbernail commented on #15583
We're validating this with a custom Cilium v1.8.6 build using a client-go version no impacted by the bug or its fix (0.17.17)

[2021-04-07 14:09] pchaigno commented on #15575
Happened again at https://jenkins.cilium.io/job/Cilium-PR-K8s-1.20-kernel-4.19/98/testReport/junit/Suite-k8s-1/20/K8sDatapathConfig_Host_firewall_With_VXLAN/.
[1873c928_K8sDatapathConfig_Host_firewall_With_VXLAN.zip](https://github.com/cilium/cilium/files/6272167/1873c928_K8sDatapathConfig_Host_firewall_With_VXLAN.zip)