[2020-11-18 07:38] kkourt commented on #14040
I wonder if this could this be achieved by flushing the connection tracking tables. I don't believe we currently support selective flushing (e.g., based in IPs), but the mechanisms are there.

[2020-11-18 10:58] acholt commented on #13974
Hi @akubala

As promised on Slack, here are my result for getting basic encryption to work on Amazon EKS `v1.18` using Cilium `v1.9.0`.

As a separate point, I'm having issues getting `nodeEncryption` to function but I'll try @errordeveloper suggestions and let guys know.

Cluster Details:
[code]
[code]

Helm value for Cilium Version `1.9.0`:
[code]

Pod Details:
[code]

Cilium Status
[code]

Test

[2020-11-18 11:47] fristonio commented on #13071
I also came across this when working with cilium connectivity-checks. This seems to be an issue in Kubernetes itself where the allocation of nodePort is done from the local cache which can be out of sync from the etcd data. See https://github.com/kubernetes/kubernetes/issues/85894 for more context.

I was even able to reproduce it using connectivity checks from a simple script[1]. At this point, t

[2020-11-18 14:39] brb commented on #10462
@jaygorrell The failures in https://github.com/cilium/cilium/issues/10462#issuecomment-685981765 are the same as in #12824. I'm currently working on the fix.

[2020-11-18 16:05] tklauser opened #14071 "CI: v1.8: Suite-k8s-1.11.K8sVerifier Runs the kernel verifier against Cilium's BPF datapath"
[code]

Seen on #14015: https://jenkins.cilium.io/job/Cilium-PR-K8s-1.11-net-next/1473/ - [test_results_Cilium-PR-K8s-1.11-net-next_1473_BDD-Test-PR.zip](https://github.com/cilium/cilium/files/5561200/test_results_Cilium-PR-K8s-1.11-net-next_1473_BDD-Test-PR.zip)

Also occured on `v1.8` upstream branch at least two times:

https://jenkins.cilium.io/view/Cilium-v1.8/job/cilium-v1.8-k8s-1.11-kernel-

[2020-11-18 17:10] ti-mo commented on #13152
Also hit this today. During `preStop` of the Cilium agent pod, the CNI plugin binary is removed from `/opt/cni`, but the CNI config in `/etc/cni/net.d` is kept there. After uninstalling Cilium, `kubelet` spams errors like:

[code]

This message is generated every 5s due to kubelet calling `VERSION` on the first CNI config in `/etc/cni/net.d`.

Still need to verify whether pod creation actually fai

[2020-11-18 17:20] ti-mo commented on #12113
I've seen similar connectivity issues with both CNI chaining as well as pure Cilium Azure IPAM. I've traced the root cause back to the default `azure-vnet` CNI plugin installing `ebtables` rules in the host netns. When Azure IPAM is enabled, azure-vnet is taken out of the active CNI chain completely, so CNI `DEL` events are no longer handled by azure-vnet, resulting in these ebtables rules not bei

[2020-11-18 17:31] jibi commented on #13995
@christarazi's issues seem to be gone on latest master on EKS

@sakharovaan: I'm not sure how to reproduce your EKS setup, so you could either test an image based on master or wait a few days for the changes (which hopefully should solve also your issue) to get backported to 1.9

[2020-11-18 18:03] sakharovaan commented on #13995
@jibi that's actually not an EKS, but a on-premises setup with same error message.

[2020-11-18 18:37] pchaigno commented on #13995
@sakharovaan Could you open a new issue with steps to reproduce?

It looks like the issue _may_ be different from the bug reported at the beginning of this thread. Providing reproduction steps (e.g., what Helm/cilium-agent command you used to deploy) would help us validate that.

If the bug is the same, then v1.9.1 should fix it. You can already test the fix today with `cilium/cilium:latest`.

[2020-11-18 18:58] #13349 closed

[2020-11-18 19:28] christarazi commented on #13071
@fristonio It looks like the issue linked has been fixed and was included in K8s 1.19. Are you saying that you still experience this flake with this test when running net-next and 1.19 (I realize that's not a setup that we have).

[2020-11-18 19:45] pchaigno commented on #14071
I think I know the fix. We need to extend the tolerations for the `test-verifier` pod to include `node.kubernetes.io/unreachable`.

[2020-11-18 19:49] joestringer opened #14072 "L7 visibility annotations do not work with proxylib parsers (including Kafka)"
[Layer 7 Protocol Visibility](https://docs.cilium.io/en/stable/policy/visibility/) annotations only work for DNS and HTTP at the moment.

If you're interested in having this work for other L7 parsers, please :+1: or post below.

[2020-11-18 23:06] dctrwatson commented on #13454
This is no longer occurring... just going to chalk it up to EKS weirdness

[2020-11-18 23:06] #13454 closed

[2020-11-19 01:23] gangseok514 opened #14079 "postStart sometimes not work"
## Bug report

Sometimes cni-install.sh in postStart not work. so cilium-cni file is not copied to /opt/cni/bin.
the application containers on the same node not working properly and the below event is shown.

"... failed to find plugin "cilium-cni" in path [/opt/cni/bin]"

There is no errors in kubelet except the above errors and no differences of logs between normal cases.
I cannot find the cause

[2020-11-19 03:05] vladdy commented on #10236
I need a little more time. Will try to provide an update tomorrow.

[2020-11-19 03:57] #12662 closed

[2020-11-19 04:25] joestringer opened #14082 "Fix rawgit links in README.rst"
Rawgit has been sunsetted:

https://rawgit.com/

However we still appear to have references in the repo which we should remove:

[code]

[2020-11-19 08:56] borkmann opened #14086 "cilium: 'endpoint not found' loop when in lb-only mode"
[code]

Agent was started with:
[code]

On that node, prior setup had Pods running:
[code]

What happens is that given cilium-cni binary is still in /opt/bin/cni/, the cilium-cni gets invoked and trying to do IPC to cilium-agent, but given agent in lb-only mode has no context it error loops this way. Instead, it should just ignore such requests.

[2020-11-19 09:25] aanm commented on #14079
@gangseok514 thanks for opening the GH issue I'm having troubles to understand which Cilium version are you running as `1.15.9` is not a valid version.

The PR #11830 would likely fix your issue so it would probably be better to upgrade Cilium.

[2020-11-19 09:31] jibi commented on #13995
I'm closing this ticket for now as I can't reproduce the EKS issues anymore

[2020-11-19 09:31] #13995 closed

[2020-11-19 10:01] aanm commented on #5600
Not relevant anymore

[2020-11-19 10:01] #5600 closed

[2020-11-19 10:02] aanm commented on #1787
Not relevant anymore

[2020-11-19 10:02] #1787 closed

[2020-11-19 10:03] aanm commented on #4053
Already fixed by https://github.com/cilium/cilium/pull/12826

[2020-11-19 10:03] #4053 closed

[2020-11-19 10:04] aanm commented on #5930
Not relevant anymore

[2020-11-19 10:04] #5930 closed

[2020-11-19 10:07] aanm commented on #6951
Not relevant anymore

[2020-11-19 10:07] #6951 closed

[2020-11-19 10:08] aanm commented on #7240
Not relevant anymore

[2020-11-19 10:08] #7240 closed

[2020-11-19 10:08] #1739 closed

[2020-11-19 10:09] #1884 closed

[2020-11-19 10:09] aanm commented on #2242
Done

[2020-11-19 10:11] #1763 closed

[2020-11-19 10:13] aanm commented on #4021
Not relevant anymore

[2020-11-19 10:13] #4021 closed

[2020-11-19 10:58] hazelnutsgz opened #14089 "Deploying cilium demo on minikube"
I followed the instruction of how to enable cillium on minikube cluster on official website. After ```kubectl create -f https://raw.githubusercontent.com/cilium/cilium/1.9.0/install/kubernetes/quick-install.yaml```, I find that there is one pod named ```cilium-operator-5d8498fc44-5rccz``` remaining PENDING status.

Then I use ```kubectl -n kube-system describe pod cilium-operator-5d8498fc44-5rccz`

[2020-11-19 10:59] nebril commented on #9166
This has been done for quite some time now.

[2020-11-19 10:59] #9166 closed

[2020-11-19 11:01] #9218 closed

[2020-11-19 11:16] aanm commented on #14089
@hazelnutsgz that's expected behavior since the operator is a Deployment setup with 2 replicas which only one can run on the host. Since minikube is a single-host cluster, only 1 pod of the operator deployment can run.

[2020-11-19 11:47] ByteAlex commented on #13955
TL;DR
The cause for the connectivity outage was a misconfiguration of native-routing-cidr and cluster-pool-cidr.
The following issues should not be handled here. This could be closed I guess @joestringer

[2020-11-19 12:04] vignesh-codes commented on #14082
is ' https://www.jsdelivr.com/rawgit '  good to go with?

[2020-11-19 13:53] #12827 closed

[2020-11-19 14:30] #3005 closed

[2020-11-19 16:00] #14071 closed

[2020-11-19 16:05] #10341 closed

[2020-11-19 16:10] pchaigno commented on #14071
@tklauser Not 100% sure on the fix in #14074, so worth keeping an eye for this flake in case we need to reopen.

[2020-11-19 16:21] tklauser commented on #14071
@pchaigno Thanks, will help to keep an eye on it.

[2020-11-19 17:03] #13240 closed

[2020-11-19 17:04] ti-mo commented on #13152
As expected, if the `cilium-cni` binary is deleted, `kubelet` will ignore Cilium's CNI configuration and just use the next-available working one. As a result, keeping a broken `05-cilium.conf` in place is not a solid strategy for keeping pods from being scheduled with another CNI plugin during a Cilium upgrade.

[2020-11-19 17:07] aanm commented on #13240
This is fixed.

[2020-11-19 17:14] acholt commented on #13663
I've been trying to get `nodeEncryption` working with `Native-Routing` by following the guides at the bottom.

The nodes became unavailable, same as @kkourt described. I followed the node logs as I activated `nodeEncryption`, the last few messages before the node become unavailable was:
[code]

**Cluster details:**
- Amazon EKS `v1.18`
- Cilium `v1.9.0`
- Kernel `v5.4.74-36.135.amzn2.x86_64`

Helm

[2020-11-19 17:52] jochenseeber opened #14094 "Cilium fails to start if IPv6 is disabled via kernel option"
## Bug report

Cilium does not start with IPv6 disabled in the kernel ("ipv6.disable=1")

From the log

[code]

The problem is in in [iptables.go](https://github.com/cilium/cilium/blob/c5ed9aeb217eb307e496ad17b19e1d8d93436894/pkg/datapath/iptables/iptables.go#L375):

[code]

On Ubuntu, ip6_tables loads, so m.haveIp6tables is never set to false. Later, ip6tables is executed [here](https://github.co

[2020-11-19 18:41] joestringer commented on #14094
Hi @jochenseeber , thanks for the report. Can you confirm whether the `ipv6.disable=1` flag is the same as `sysctl net.ipv6.conf.all.disable_ipv6`? If so, it might just be a matter of extending the function to import `pkg/sysctl` and then check that `value, err := sysctl.Read("net.ipv6.conf.all.disable_ipv6")` has no error with the value "1", then using that as a basis to disable IPv6 in this func

[2020-11-19 18:43] joestringer commented on #14089
I wonder if we should set the default to 1 and then just describe to users how to enable HA in their cluster in a separate guide (including configuring the number of replicas), that way the default `quick-install.yaml` + development clusters like minikube won't hit this unexpected behaviour. Any thoughts on that @aanm / @fristonio ?

[2020-11-19 18:50] jochenseeber commented on #14094
I believe kernel option `ipv6.disable=1` completely removes IPv6 capabilities from the kernel, whereas `net.ipv6.conf.all.disable_ipv6` dynamically turns it on or off. If booted with `ipv6.disable=1`, `/proc/sys/net/ipv6` no longer exists.

I might have time on the weekend to try a fix. Depends on how fast I can get a build environment up and running.

[2020-11-19 18:51] joestringer commented on #14040
@gpl can you explain a bit more about the use case? Is this more about forcing connections to be terminated when installing a new policy to drop specific traffic? Or do you have in mind some kind of uni-directional protocol that never receives any responses?

[2020-11-19 19:01] joestringer commented on #14038
:+1: indeed, this is already implemented via hash tables in the eBPF implementation.

If you're interested in researching more in this area and coming up with a more concrete proposal, I'm sure we'd be open to hearing more ideas. You're welcome to post further on this issue, or you could join the Cilium slack #development channel to discuss further.

For now, I think without a clear idea of what c

[2020-11-19 19:01] #14038 closed

[2020-11-19 19:13] joestringer commented on #14028
I'd take a guess that this is a combination of enabling debug logging + the following statement trying to log the `Watcher` structure, which embeds the `EventChan` structure:

https://github.com/cilium/cilium/blob/c5ed9aeb217eb307e496ad17b19e1d8d93436894/pkg/kvstore/events.go#L121

This is likely because `Watcher` does not have a `MarshalJSON()` function, so it falls back to some default Go marsha

[2020-11-19 19:26] joestringer commented on #14005
@errordeveloper basically it means that if you use the `operator.nodeSelector` configuration option in Helm, it will not take effect for the operator containers. See the options and how they are used below, seems like `operator` and `preflight` both have this problem:

[code]

[2020-11-19 19:29] joestringer commented on #13984
Thanks for the report, I've sent a PR to fix this.

[2020-11-19 19:43] gpl commented on #14040
Yes, the former is one of the things we'd like to accomplish.

We also want to filter ingress traffic with certainty, but allowing established connections on some services leaves a question in the air of if traffic is allowed or not.

We weren't clear on how the filters work internally -- is the connection state filter implemented with connection tracking or via the TCP flags?

[2020-11-19 19:53] ti-mo commented on #12113
Another thing to add here: we might have to add `tunnelfront` to the list of Pods to recreate post-install, since all apiserver -> kubelet communication seems to pass through this service. I've had trouble running `kubectl exec` against Pods that were scheduled on nodes other than the one where `tunnelfront` was scheduled on. The apiserver could only initiate new connections to the node where tunn

[2020-11-19 20:04] #13984 closed

[2020-11-19 21:07] joestringer opened #14096 "Describe clustermesh-apiserver architecture"
I couldn't find any (even short) description of how clustermesh-apiserver works (architecture; is it serving an etcd API and internally querying k8s apiserver? Or serving a k8s apiserver API and internally querying etcd? how does it fit into the cluster?), it would be good to add this at least to maybe the `clustermesh-apiserver/README.md` or perhaps under the documentation as a new page in the "c

[2020-11-19 21:14] joestringer commented on #13955
@ByteAlex thanks for the update! Would you be able to briefly describe what the misconfiguration looked like? How did you know in the end that it was misconfigured?

I'll close this out since it's resolved, but it may help future users to have additional details posted below in case they hit it in future.

[2020-11-19 21:14] #13955 closed

[2020-11-19 21:16] ByteAlex commented on #13955
The issue was me misunderstanding the scopes of the configuration.
native-routing-cidr is the whole CIDR which can be used for native routing, e.g. my hetzner vlan is 10.0.0.0/8, so that's the native routing cidr.
For the cluster-pool it should be the same as the kubernetes pod range (from my understanding!), which is by default 10.224.0.0/16

[2020-11-19 21:33] aanm commented on #14089
@joestringer I thought something similar but the little different we would make the default as 2 but the quick install with 1

[2020-11-19 21:47] joestringer commented on #14094
Ah perfect, if it doesn't exist then the `sysctl.Read()` should return a non-nil error. That seems like a promising direction.

Feel free to drop into the #development channel in Slack if you need any help or pointers on getting a dev environment set up.

[2020-11-19 21:55] pchaigno commented on #13773
This test validates a new Cilium flags (`iptablesRandomFully`) that is propagated to our masquerading iptables rules (as `--random-fully`). That flags should only affect the selection of the new source port when doing SNAT.

The test doesn't fail on our PRs but fails in k8s-all, which indicates the failure is somehow related to the Kubernetes version. So, it doesn't fail for 1.12, 1.19, and 1.18,

[2020-11-20 00:51] #14082 closed

[2020-11-20 01:29] joestringer opened #14099 "cilium kernel-check has false negative when config file is missing"
[code]

[code]

This is running from a Cilium pod in a successfully-running GKE cluster.

The tool should at least warn if it is unable to detect support via kernel config (eg due to missing config file).

[2020-11-20 04:23] ArthurChiao opened #14100 "Exposing new BPF failed: invalid LXC MAC: invalid MAC address"
Caused by security-relevant-labels configuration changes. Not sure if this is the expected behavior, or a bug.

# General Information

- Cilium version: 1.8.4
- Kernel version: 4.19.118

# Dig inside

According to https://docs.cilium.io/en/v1.8/operations/scalability/identity-relevant-labels/#configuring-identity-relevant-labels,
after specifying a security relevant label list to cilium agent and

[2020-11-20 06:09] gangseok514 commented on #14079
@aanm Thanks for your kindly answer and sorry about the wrong version. it is 1.5.9 not 1.15.9 (I was confused with k8s version)
Yes, I know the version is a little bit older...
I failed to reproduce the issue. so I just wanted to check it can be fixed by the PR.
I'll test it with the PR. Thanks again.

[2020-11-20 06:09] #14079 closed

[2020-11-20 06:19] dctrwatson commented on #12113
Also ran into weird connectivity behavior when trying to out the new AKS container image, `AKSUbuntu-1804-2020.10.28`, which is the new default in 1.18. The kernel it uses is `5.4.0-1031-azure` so most (all?) eBPF features are enabled by default.

Once I moved the `tunnelfront` pod back to a node running `AKSUbuntu-1604-2020.09.23` / `4.15.0-1096-azure`, kubectl exec/logs worked normally again too

[2020-11-20 06:45] brunomiguelcustodioform3 commented on #12503
I think we may be experiencing the same issue (https://cilium.slack.com/archives/C53TG4J4R/p1604589235320400).

[2020-11-20 07:50] #14086 closed

[2020-11-20 07:54] iam-TJ commented on #13891
I think there's a related issue here; native IPv6-only with NAT64. Currently there is support for the inverse, NAT46.
We're operating IPv6 only clusters but need to support IPv4 ingress/egress.

[2020-11-20 09:05] #14089 closed

[2020-11-20 09:54] aanm commented on #14100
@ArthurChiao did you miss some outputs? The text that you have written in the PR description says "it will raise the above errors." but I don't understand which errors you are referring to.

[2020-11-20 10:01] ArthurChiao commented on #14100
Sorry, "the above errors" means the title `Exposing new BPF failed: invalid LXC MAC: invalid MAC address`.

Full error messages look like this:

[code]

[2020-11-20 10:36] PranaviRoy commented on #13999
I identified the lines where the keys are getting duplicated, and so I would like to take a shot at creating the patch ✌🏼

The `tunnel` key gets duplicated because there's no condition around line 303 and when **_gke is enabled_** the control goes through lines 314 to 320, where `tunnel` key is set again at line 317
https://github.com/cilium/cilium/blob/ddb2423fae063ec050bd0332981c5d78f7a39396/ins

[2020-11-20 11:32] PranaviRoy commented on #13999
Although, I understand that we can put the `tunnel` key at line 303 around a condition which checks if _.Values.gke.enabled_ is true or not, I’m not sure what **“hostscope”** defines here.
Should we put the `ipam` key at line 616 within a condition that checks for _.Values.gke.enabled_ as well or are there any other checks involved?

[2020-11-20 12:25] ti-mo commented on #12113
Another potential issue I've discovered that leads to unreachable Pods is addressed in https://github.com/cilium/cilium/pull/14105. By touching `/var/run/azure-vnet.json`, we trigger a behavioural change in azure-vnet that leads to static ARP entries not being removed on pod delete.

The leftover `ebtables` rules that don't get cleaned up is currently isolated to running with Azure IPAM and will b

[2020-11-20 12:33] ti-mo commented on #12113
@dctrwatson Thanks for the report! Will create a separate issue about this. The failure is likely unrelated to the kernel version it's running on, but rather the leftover state described above. Will troubleshoot this in isolation after some other fixes have gone in, although restarting tunnelfront is required anyway to get visibility into its traffic.

[2020-11-20 12:37] #11916 closed

[2020-11-20 12:48] ti-mo opened #14106 "Azure: tunnelfront connectivity and traffic visibility issue"
## Bug report

Two-fold:
- `kubectl exec` only works on Pods running on a node where `tunnelfront` is running
- no visibility into `tunnelfront` traffic

Affected version(s): 1.9.0 and earlier.

## Description

While investigating some Pod connectivity issues on AKS, mysterious apiserver -> kubelet connection failures started popping up.

@dctrwatson reported this as well in https://github.com/cil

[2020-11-20 15:10] brb commented on #12308
I've recently improved migrate-svc-test (https://github.com/cilium/migrate-svc-test/commit/edc628b2df7bd1002d3499c7f65df8c0396502ff) which is used by the `k8sT/Updates.go` to catch interrupted connections. As pointed by @kAworu , the test started to fail in https://github.com/cilium/cilium/pull/14059: https://jenkins.cilium.io/job/Cilium-PR-K8s-1.11-net-next/1475/testReport/Suite-k8s-1/11/K8sUpdat

[2020-11-20 16:11] borkmann commented on #12116
Thanks for the report, how does your pod spec look like?

[2020-11-20 16:28] brb commented on #13891
@iam-TJ Please create a separate feature request issue. Thanks.

[2020-11-20 19:29] dctrwatson commented on #14106
Can also confirm this affects 1.8.5

[2020-11-20 19:50] joestringer opened #14109 "Investigate reports that hostport doesn't work with ENI integration"
From Slack, report:

* Cilium 1.9.0
* EKS 1.17
* AMI: Amazon Linux 2 `amazon-eks-node-1.17-v20201211 (ami-0bf566baf2c93ba40)`

User reports that HostPort does not work correctly.

We should be able to deploy and deploy the [connectivity-check tool YAMLs](https://github.com/cilium/cilium/tree/master/examples/kubernetes/connectivity-check) to verify whether there is an easy reproduce of this issue o

[2020-11-20 22:17] nathanjsweet commented on #13590
This will involve setting up a mountpath in the deployment that is **not** prepopulated.

[2020-11-20 22:42] pchaigno commented on #14100
Thanks for the report @ArthurChiao!
Could you send a pull request with the fix? Happy to help on any blocker (and to review of course)!

[2020-11-21 13:47] inductor opened #14117 "Cillium fails to start on aarch64(Raspberry Pi 4)"
## Bug report

**General Information**

- Cilium version (run `cilium version`)
1.9.0
- Kernel version (run `uname -a`)
`Linux raspberrypi 5.4.72-v8+ #1356 SMP PREEMPT Thu Oct 22 13:58:52 BST 2020 aarch64 GNU/Linux`
- Orchestration system version in use (e.g. `kubectl version`, Mesos, ...)
Kubernetes 1.19.4
- Link to relevant artifacts (policies, deployments scripts, ...)
- Generate and upload a s

[2020-11-21 20:28] gpl opened #14118 "Can't ping services via kubeproxyreplacement"
## Bug report

The expected behavior is that kubeproxyreplacement either responds or forwards icmp to the destination pod.  With kube-proxy, icmp works as expected and we can ping service IPs.

**General Information**

- Cilium version (run `cilium version`)
1.9.0

We're running cilium w/ maglev + dsr.

**How to reproduce the issue**

0. Attempt to ping the service IP and see a hoplimit exceeded e

[2020-11-21 20:33] dctrwatson opened #14119 "Inbound connectivity issues with Azure Load Balancers"
## Bug report

**General Information**

- Cilium version (run `cilium version`)
  - 1.7.11
  - 1.8.5
  - 1.8.6
- Kernel version (run `uname -a`)
  - 4.15.0-1096-azure
- Orchestration system version in use (e.g. `kubectl version`, Mesos, ...)
  - `Server Version: version.Info{Major:"1", Minor:"17", GitVersion:"v1.17.11", GitCommit:"3a3612132641768edd7f7e73d07772225817f630", GitTreeState:"clean", Bu

[2020-11-21 20:46] dctrwatson opened #14120 "EKS nodes constantly regenerating endpoints"
## Bug report

**General Information**

- Cilium version (run `cilium version`)
  - 1.7.11
  - 1.8.5
  - 1.8.6
- Kernel version (run `uname -a`)
  - 4.14.198-152.320.amzn2.x86_64
- Orchestration system version in use (e.g. `kubectl version`, Mesos, ...)
  - `Server Version: version.Info{Major:"1", Minor:"17+", GitVersion:"v1.17.9-eks-4c6976", GitCommit:"4c6976793196d70bc5cd29d56ce5440c9473648e", G

[2020-11-22 05:38] iam-TJ commented on #14117
I suspect this is related to  #9898 - currently images are only built for amd64 not aarch64.

[2020-11-23 08:48] christiancloudical opened #14122 "Random Connection Issues from Ingress Controller"
Bug report

**General Information**

- Cilium version
  Client: 1.8.5 fc1a8ac7c 2020-10-28T14:44:12-07:00 go version go1.14.10 linux/amd64
  Daemon: 1.8.5 fc1a8ac7c 2020-10-28T14:44:12-07:00 go version go1.14.10 linux/amd64

- Kernel version (run `uname -a`)
Linux prod-master-1-deb 4.19.0-12-amd64 #1 SMP Debian 4.19.152-1 (2020-10-18) x86_64 GNU/Linux

- Orchestration system version in use (e.g. `

[2020-11-23 08:58] joulaud opened #14123 "frequent timeouts when Pod calls itself via Service"
## Bug report

**General Information**

- Cilium version (run `cilium version`): `Client: 1.6.12 520a8dd6b 2020-09-30T15:18:51-07:00 go version go1.12.17 linux/amd64`m `Daemon: 1.6.12 520a8dd6b 2020-09-30T15:18:51-07:00 go version go1.12.17 linux/amd64`
- Kernel version (run `uname -a`): `Linux 5.7.0-0.bpo.2-amd64 #1 SMP Debian 5.7.10-1~bpo10+1 (2020-07-30) x86_64 x86_64 x86_64 GNU/Linux`
- Orches

[2020-11-23 09:37] kkourt commented on #14122
Thank you for the report.

Would it be possible to provide additional information regarding dropped packets? You can use hubble for that (if it's enabled), otherwise there is also cilium monitor: https://docs.cilium.io/en/v1.8/cmdref/cilium_monitor/#cilium-monitor.

[2020-11-23 09:50] brb commented on #14122
@christiancloudical Can you please include the sysdump?

[2020-11-23 09:52] kkourt commented on #14123
Thanks for the report.

With the release of 1.9 a couple of weeks ago (https://cilium.io/blog/2020/11/10/cilium-19), 1.6 reached end-of-life. Would it be possible to try to reproduce this issue on 1.9?

[2020-11-23 10:03] kkourt commented on #14120
Thanks for the report.

Since you are not reporting any errors or warnings on the logs, would it be safe to assume that they are not any?

[2020-11-23 10:18] joulaud commented on #14123
We will first try to upgrade to 1.7 as soon as possible. I will keep you posted about what we see.

[2020-11-23 10:34] pchaigno opened #14125 "CI: RuntimePrivilegedUnitTests: arping failed in TestArpPingHandling"
https://jenkins.cilium.io/job/Cilium-PR-Runtime-4.9/2657/testReport/junit/(root)/Suite-runtime/RuntimePrivilegedUnitTests_Run_Tests/
[372c1e59_RuntimePrivilegedUnitTests_Run_Tests.zip](https://github.com/cilium/cilium/files/5582285/372c1e59_RuntimePrivilegedUnitTests_Run_Tests.zip)

[code]

[2020-11-23 10:35] aanm commented on #14117
@inductor @iam-TJ Since the Cilium doesn't have 100% support yet for arm64, since they lack support for envoy proxy, please try with the image `docker.io/cilium/cilium-dev:v1.9.0` instead.

[2020-11-23 10:38] brb commented on #14125
The test was recently introduced by https://github.com/cilium/cilium/pull/14070.

[2020-11-23 10:38] aanm commented on #14118
@gpl can you provide a pcap for the ICMP's working with kube-proxy captured in the host with `tcpdump -i any icmp -w icmp.pcap`? Thank you

[2020-11-23 10:46] brb commented on #14118
@aanm The loop is happening, because the bpf_host attached to the native device cannot find a (externalIP) service, and then the ICMP echo request is being sent back by the node's routing layer (probably via default route). I assume that user's network nodes have the route for the externalIP pointing to the same node, so the packet is sent back to the same node with TTL--. Thus, we have loop until

[2020-11-23 10:48] brb commented on #14118
@gpl With kube-proxy, do you have the externalIP set to any of the devices? Can you attach two sysdumps - one w/ kube-proxy replacement and one w/ kube-proxy?

[2020-11-23 10:54] christiancloudical commented on #14122
https://nextcloud.cloudical.net/s/F58EQMXcgt5igoS
Stupid me, forgot that, sorry

[2020-11-23 12:30] #4483 closed

[2020-11-23 12:40] kkourt commented on #14123
Sounds good!

It might be also worth noting that we do seem to have a test for this the case where a service tries to access itself
* v1.6: https://github.com/cilium/cilium/blob/v1.6/test/k8sT/Services.go#L162-L171
* v1.7: https://github.com/cilium/cilium/blob/v1.7/test/k8sT/Services.go#L212-L223

[2020-11-23 13:52] aanm opened #14128 "Prevent Kubelet from using a different CNI on Cilium upgrades"
The initial implementation of CNI in Kubelet was made by checking for a valid configuration file, `*.conf`, in the configuration directory, which has the default of `/etc/cni/net.d`. This behavior allowed Cilium to be safely upgraded while other CNI configuration files were available as Kubelet would keep retrying Cilium’s configuration file until the Cilium CNI binary was available, where this bi

[2020-11-23 14:37] christiancloudical commented on #14122
@kkourt , unfortunatly, I don't see any dropped packages
can you gimme an example how to get the most effective information out of hubble?
Need something where I see
REQ arrived - forwarded to ingress controller - recieved from controller - sent back to client
hubble observe --service ingress-nginx/ingress-nginx-controller -f
Failed :
'''
Nov 23 14:33:04.193 [ns61293295]: ingress-nginx/ingress-ngi

[2020-11-23 16:04] gandro commented on #13590
Not sure if it is helpul, but the existing `certgen` approach also works with optional secrets. See https://github.com/cilium/cilium/pull/13449/commits/711781d789548377ed8f7d424c13707d70e74aee

[2020-11-23 16:07] gpl commented on #14118
Yes, I'll try to get this to you by the end of day.

I /believe/ kube-proxy attaches serviceIPs to a kube-ipvs0 interface if my memory serves me correctly -- and kube-proxy itself "terminates" the ICMP inseam of forwarding it out.

[2020-11-23 16:25] errordeveloper opened #14132 "helm: extraHostPathMounts sets hostPath.path wrongly"
With #13210 new parameter was added to agent and operator pods - `extraHostPathMounts`.

Present implementation mis-references `hostPath`:

https://github.com/cilium/cilium/blob/dcda3fd98d6cc748561c334ace996da8195c2218/install/kubernetes/cilium/templates/cilium-agent-daemonset.yaml#L446-L450

Instead, it should be this:
[code]

xref https://github.com/cilium/cilium/issues/14133

[2020-11-23 16:26] jrfastab commented on #13663
@acholt there appears to be an EKS specific issues with node-encrypt at the moment. How many NIC interfaces exist on this setup? Couple ideas, perhaps the auto-discovery (the thing that picks the egress interface) is choosing the wrong interface. Another idea would be to use Cilium masquerading instead of iptables.

[2020-11-23 16:44] errordeveloper opened #14133 "helm: partly- and un-implemented 'extra*' parameters"
With #13210 new parameters were added in `values.yaml`:

https://github.com/cilium/cilium/blob/dcda3fd98d6cc748561c334ace996da8195c2218/install/kubernetes/cilium/values.yaml#L84-L107

These are declared for all components, but some are appear to be implemented in part, and some are not implemented:
[code]

[2020-11-23 16:55] errordeveloper commented on #14133
I think it maybe plausible to remove some some of the params from certain components, e.g. I'm not sure if there is use for any of these params in `nodeinit`.

[2020-11-23 16:56] gandro commented on #13999
@PranaviRoy Thanks for digging into this. We discussed this in today's Cilium Community meeting, here is what I think we should do:

1. We want to add a check for `.Values.gke.enabled` for the `tunnel` key as you suggested.
    The old `hostscope` ipam mode has been removed in Cilium 1.9.0: https://github.com/cilium/cilium/issues/12974 and I believe what you found is a leftover which did not get r

[2020-11-23 18:11] acholt commented on #13663
@jrfastab - Thanks for the response.

There are between 2 and 3 eth interfaces:
- I've tried forcing it on a specific interface but that didn't help
- Also tried disabled masquerading but that didn't help.

When you say Cilium masquerading are you referring to `bpf.masquerade=true`?

[2020-11-23 18:32] jrfastab commented on #13663
OK thanks. It might be some IPtables issue then, not sure.

Correct, bpf.masquerade=true is what I was thinking.

Looks like I might need to get an EKS instance to debug.  I'll try to get to this early next week. Its a short week here for me.

[2020-11-23 18:39] gpl commented on #14118
https://gist.github.com/gpl/495ca5328ef7462f0876dad6eab4e7ab

Sending the pcap output first because we're having some trouble getting the sysdump to work and need to investigate.

[code]

[2020-11-23 19:04] gpl opened #14136 "With kubeproxyreplacement, cannot access externalServiceIP if client and host shares a node"
## Bug report

( only on v4.  This behaviour does not appear on v6 )

When a service pod and the client share a host, be it a pod on the host or the host itself, connecting to the external service IP does not work.  We test this via `curl <externalServiceIP>`

We observe no drops. From `cilium monitor | grep <externalServiceIP>

-> stack flow 0x2f70556c identity 59185->2 state new ifindex 0 orig-i

[2020-11-23 19:32] joestringer commented on #14120
This indeed has something to do with it, here's the relevant trigger:

https://github.com/cilium/cilium/blob/f66515219c21041f17d424cb8f2ca2b1b81c4687/pkg/datapath/ipcache/listener.go#L327

Basically on some kernels, the Longest Prefix Match map implementation lacks support for delete operations, so to ensure that the ipcache does not fill up, there is periodic garbage collection.

This should occu

[2020-11-23 19:53] joestringer commented on #14119
Is there any chance you could sketch out something like a sequence diagram with all of the relevant components involved and point out where the unexpected behaviour is? I'm having a little trouble trying to visualize which piece of the system is behaving poorly.

Another avenue to explore would be whether there are any BPF maps that are reaching near the limits of the size of the map, eg by using

[2020-11-23 19:56] ti-mo commented on #14128
Thanks, this could work! Edited the issue to specify `non-Cilium` CNI configs to be renamed, had to read that a couple of times for it to sink in. :wink:

[2020-11-23 20:50] joestringer commented on #14040
In Cilium 1.9.0, there are now deny policies. If you configured deny policies to ensure that there cannot be inbound connections from a specified peer, and also configured outbound policies (either allow or deny) such that the pods cannot reach out to that peer, then there shouldn't be a way to reach that peer from endpoints selected by the policy.

When it comes to policy transition handling, I w

[2020-11-23 21:11] joestringer commented on #14128
:scream: Was there a discussion of upgrade impact upstream?

[2020-11-23 21:28] dctrwatson commented on #14119
Only 1 bpf map was reaching its limit:
[code]

The etcd connection flow looks like this:
[code]

The "bad_node" just stops responding to any connection from the dst_lb tuple. Because the src_node never stops trying long enough for the src_lb to "forget" the flow, it will constantly re-use the dst_lb tuple for the same etcd connection. The dst_lb will also have a sticky session to the bad_node for

[2020-11-23 21:36] dctrwatson commented on #14120
Correct, no non-info level log lines

`cilium status --all-controllers` shows `never` in the last error column for all controllers

---

If i restart the agents, it looks like they do start with a 5m interval, but the longer uptime, the more frequent regeneration occurs.

[2020-11-24 00:11] joestringer opened #14143 "v1.7.12 release"
## Pre-release

- [x] Create a [new project] for the next release version
  - [v1.7.12](https://github.com/cilium/cilium/projects/133)
  - [v1.7.13](https://github.com/cilium/cilium/projects/138)
- [x] Add build targets for the new release on [Docker Hub]
  - All versions:
    - [cilium](https://hub.docker.com/repository/docker/cilium/cilium/builds/edit)
    - [operator](https://hub.docker.com/rep

[2020-11-24 01:40] joestringer commented on #13308
Upon review of this issue, I believe that the original issue reported by @gandalfmagic is likely to be caused by the deployment of nodelocal DNS. Cilium v1.9.0 included native support for node-local DNS which can be deployed by following [the Node-LocalDNS cache guide](https://docs.cilium.io/en/v1.9/gettingstarted/local-redirect-policy/#node-local-dns-cache), so I would suggest trying that approac

[2020-11-24 02:33] joestringer opened #14146 "Failed to send policy update as monitor notification"
Cilium master during v1.10 dev cycle (but likely affects v1.9.0).

I started Cilium under microk8s and hit this warning:

[code]

This seems like a race condition between policy processing and monitor server startup, likely a red herring but if users observe it they may think that it is meaningful when it is not.

I suspect this was introduced by commit d543d418bde3ad55e8759e9f28941f830bfc94bb (/c

[2020-11-24 02:35] joestringer commented on #14146
To be clear, I don't believe this is a real issue, my main concern is that it pollutes the logs with a warning when otherwise everything appears to be fine. Fixing it will likely involve digging into the daemon startup logic and understanding whether to either conditionally skip sending events like this, somehow queueing them, or forcing policy handling to wait on monitor startup (probably not ide

[2020-11-24 03:09] #13133 closed

[2020-11-24 03:27] joestringer opened #14147 "IPcache BPF map may become full on Linux 4.11 to 4.15 if no kvstore is configured"
This line of code triggers garbage collection of the BPF ipcache map on kernel versions 4.11 to 4.15 inclusive:

https://github.com/cilium/cilium/blob/5a089ae1dbcc275efa77a0f2b4cba4b8d1ce7263/pkg/ipcache/kvstore.go#L271
->
https://github.com/cilium/cilium/blob/5a089ae1dbcc275efa77a0f2b4cba4b8d1ce7263/pkg/datapath/ipcache/listener.go#L345
->
https://github.com/cilium/cilium/blob/5a089ae1dbcc275efa7

[2020-11-24 04:53] PranaviRoy commented on #13999
If we remove ipam from this block
https://github.com/cilium/cilium/blob/f66515219c21041f17d424cb8f2ca2b1b81c4687/install/kubernetes/cilium/templates/cilium-configmap.yaml#L314-L320

and we replace this check with `gke.enabled` i.e. if its **true** then we won't be setting `ipam` anywhere if `gke.enabled: false`. Similarly if the check is for `gke.enabled: false` then we won't be setting `ipam` if

[2020-11-24 05:09] PranaviRoy commented on #13999
In my opinion we can either,
1. add the check for `gke.enabled: false` in here, so that `ipam` is set here if _gke is not enabled_
https://github.com/cilium/cilium/blob/ddb2423fae063ec050bd0332981c5d78f7a39396/install/kubernetes/cilium/templates/cilium-configmap.yaml#L615-L617
and let `ipam` be set here if _gke is enabled_
https://github.com/cilium/cilium/blob/f66515219c21041f17d424cb8f2ca2b1b81c4

[2020-11-24 07:15] christiancloudical commented on #14122
It figured out, that that issue was a combination of custom kernel and a too low max_pid specification on crio.
So no issue with cilium in here.

[2020-11-24 07:15] #14122 closed

[2020-11-24 07:42] kkourt commented on #14122
@christiancloudical  For future reference, you can use `--type drop` with hubble.

See example here: https://docs.cilium.io/en/v1.8/operations/troubleshooting/#observing-flows-of-a-specific-pod

[2020-11-24 10:39] Rolinh opened #14149 "CI: RuntimePrivilegedUnitTests: fails to determine device from k8s node ip addr for BPF NodePort device detection"
## CI failure

[Jenkins link](https://jenkins.cilium.io/job/Cilium-PR-Runtime-4.9/2701/testReport/junit/(root)/Suite-runtime/RuntimePrivilegedUnitTests_Run_Tests/)
[2b0423fa_RuntimePrivilegedUnitTests_Run_Tests.zip](https://github.com/cilium/cilium/files/5589227/2b0423fa_RuntimePrivilegedUnitTests_Run_Tests.zip)
[code]

[2020-11-24 11:15] gandro commented on #14146
Yes, looking at the changes I did around that time, that seems a correct assessment: My commit made made this into a warning (whereas before, it was silently ignored). I think we could probably extract the `fmt.Errorf("monitor agent is not set up")` as a `ErrMonitorNotReady` variable or something and conditionally ignore it.

To me, the question overall is if this is something that we should only

[2020-11-24 11:49] acholt commented on #13663
@jrfastab I tried your second suggestion by enabling `bpf.masquerade` plus I also enabled `ipMasqAgent.enabled`.

Unfortunately to get `bpf.masquerade` to work you need to set `encryption.enabled = false` as "_IPSec cannot be used with BPF NodePort_" as the logs states and reverts it back to iptables.

[code]

When you have the time, let me know what result you get from your testing.

[2020-11-24 12:36] jaysiyani commented on #10645
Using flatcar 2605 and above, the minimal fix: `echo 'net.ipv4.conf.lxc*.rp_filter = 0' | sudo tee -a /etc/sysctl.d/90-override.conf && sudo systemctl start systemd-sysctl` works. But if the node is rebooted and the pod get's a new IP address on the same node, it stops working.

[2020-11-24 14:56] aanm commented on #14118
@gpl which IPs correspond to which Pods in that tcpdump capture?

[2020-11-24 14:59] errordeveloper commented on #10645
@jaysiyani that sounds like you need to find the correct way to persist configuration on Flatcar, I can have one very concrete [example in the docs](https://docs.flatcar-linux.org/os/other-settings/#tuning-sysctl-parameters) that you might want to try.

[2020-11-24 15:19] #14132 closed

[2020-11-24 15:28] errordeveloper commented on #13252
This is definitely the case of of binaries being compiled agains a different glibc, namely we compile e.g. `cilium-agent` on the host, and then we trying to run that binary inside docs builder container. Can this race detector job skip `update-cmdref` make target?

[2020-11-24 15:34] gandro commented on #13999
Ah, apologies, I think I mixed up `tunnel` and `ipam` above when talking about the `hostscope` check above.

Yes, I think we should go with option 2 here. From what I gathered during the Cilium Community meeting, it is intentional that we ask users to explicitly set the IPAM mode.

[2020-11-24 15:40] aanm commented on #13252
Sure, if it doesn't matter is just a matter of adding an if statement to skip the `update-cmdref` on unit testing

[2020-11-24 15:51] PranaviRoy commented on #13999
Okaay!!

[2020-11-24 16:37] manuelbuil opened #14152 "Kube-router and ipam: cluster-pool not working"
## Bug report

I followed the documentation: https://docs.cilium.io/en/v1.9/gettingstarted/kube-router/ and I see how kube-router is announcing the routes, but unfortunately they are based on `ipam: kubernetes` instead of `ipam: cluster-pool`. The latter is the option I have in my configmap. Consequently, my pods are getting IPs from an IP range different from the one in the node routing table, wh

[2020-11-24 16:39] brb commented on #14118
@gpl Could you try with kube-proxy in the iptables mode?

[2020-11-24 19:15] seanmwinn opened #14154 "Agent: Include Cilium version in output of cilium status --verbose"
## Bug report

**General Information**

When using ``cilium status --verbose`` to introspect Cilium installations, it would be helpful if the output included the Cilium version running.

[2020-11-24 19:35] joestringer opened #14155 "CI: IPSec tests are skipped when running with our kube-proxy replacement"
https://github.com/cilium/cilium/pull/13241#issuecomment-696523262

@jrfastab are you aware of this?

[2020-11-24 19:57] joestringer opened #14156 "Automate style around formatting variants of error handling and printing"
Common mistakes in submitter PRs are:

* Using `fmt.Errorf("%s", err)` to wrap (should use "%w" instead)
* Using `log.Warnf("%s", detail)` or similar variants for other log levels (should use structured logging, `log.WithFields(...).Warn(...)`)

We should investigate tooling to automate detection of these so that CI can pick up on them and ensure the code handles these correctly, rather than relyi

[2020-11-24 20:13] joestringer opened #14157 "Consider semver v2 for the master branch development version"
We had a discussion on Slack regarding shifting the `VERSION` file for the master branch from the `1.X-1.90` style for development versions towards `1.X.0-dev`. For example, rather than using `1.9.90` version to denote a pre-v1.10 development version, instead use `1.10.0-dev`. This would be the version number tagged on "nightly" type images, such as `latest` docker images and pre-release helm char

[2020-11-24 21:54] joestringer commented on #12308
Possibly related: https://github.com/cilium/cilium/pull/13032

I say this because as far as I can tell, the tail calls map was not resized between v1.8.5..v1.9.0, but it *was* resized between v1.7.11..v1.8.5.

[2020-11-24 22:42] christarazi opened #14158 "v1.8.6 release"
## Pre-release

- [x] Create a [new project] for the next release version
  - v1.8.7: https://github.com/cilium/cilium/projects/139
- [x] Add build targets for the new release on [Docker Hub]
  - All versions:
    - [cilium](https://hub.docker.com/repository/docker/cilium/cilium/builds/edit)
    - [operator](https://hub.docker.com/repository/docker/cilium/operator/builds/edit)
    - [docker-plugin

[2020-11-24 22:49] #13712 closed

[2020-11-24 22:57] joestringer opened #14159 "CI: K8sVerifier Runs the kernel verifier against the BPF datapath: failed to load object 'test/bpf/../../bpf/sockops/bpf_sockops.o'"
## K8sVerifier Runs the kernel verifier against the BPF datapath

Failing in pipeline: https://jenkins.cilium.io/job/Cilium-PR-Ginkgo-Tests-Kernel/

Affects 4.19 and net-next jobs.

https://jenkins.cilium.io/job/Cilium-PR-Ginkgo-Tests-Kernel/3953/testReport/Suite-k8s-1/18/K8sVerifier_Runs_the_kernel_verifier_against_the_BPF_datapath/

### Stacktrace
[code]
### Standard Output
### Standard Error
[c

[2020-11-24 23:07] joestringer commented on #14152
Thanks for the report. I think that this makes sense since in the `cluster-pool` mode, Cilium is responsible for delegating CIDRs to nodes and I don't think that these are made known to the standard k8s resources. Then presumably kube-router would pull the pod CIDRs directly from k8s.

As a workaround, it should still work if you configure `ipam: kubernetes`. Perhaps we should extend the kube-rout

[2020-11-24 23:14] joestringer commented on #14133
Maybe @seanmwinn can speak more to each instance of these, but the goal was to ensure they all have these extra args implemented so that it doesn't require a brand new Cilium release to fix up something in a user environment if necessary. That said I'm not sure if we actually sat down and had the conversation about which of these extra argument type helm sections make sense depending on the indivi

[2020-11-24 23:34] joestringer commented on #14146
Extracting the error seems like an easy mitigation, :+1:

Regarding the latter question, queueing seems like it would be a bit more robust and provide better introspection during agent restart. Agent restart tends to be one of the more sensitive times for ensuring visibility since things can go wrong (eg during upgrade), but it's also a time that's easy to neglect just given how ad-hoc a lot of th

[2020-11-25 00:03] christarazi commented on #14109
Seems like it's easily reproducible:

[code]

[2020-11-25 00:56] dctrwatson commented on #14120
Would the reconnect show up in the logs at info level?

[2020-11-25 01:40] joestringer commented on #14120
I'm not sure they would. Looking directly at the relevant logs around how the GC occurs, it's only at debug level. There might be some other indication elsewhere in the code or some way to infer it from the `cilium status` output.

If my theory above holds, I would for instance expect that the `ipcache-bpf-garbage-collection` controller `Last success` time under `cilium status --all-controllers` w

[2020-11-25 07:13] manuelbuil commented on #14152
You are right, I don't think Cilium could do anything to improve this. Therefore, I'd say that the bug is just in the documentation where we should state this limitation. I'll prepare a small PR

[2020-11-25 07:45] pchaigno commented on #14159
Ouch, I enabled on 4.19 and net-next by mistake :scream:

[2020-11-25 07:49] pchaigno commented on #14159
#14162 should fix it.

[2020-11-25 08:20] joestringer commented on #14109
The connectivity check page states that for the hostport check to work,

@christarazi did you configure either of these options?

[2020-11-25 09:27] brb commented on #14155
It's because NodePort BPF cannot be used together with IPSec, see https://github.com/cilium/cilium/pull/12985.

[2020-11-25 10:53] #14159 closed

[2020-11-25 13:03] gandro commented on #13833
Some initial findings (having run the quarantined `K8sUpdates` locally, followed by `K8sIstioTest`):

The reason why DNS lookups for Kubernetes services is not working, is because `kube-dns` is unable to connect to the K8s API server (normal DNS requests are served just fine):

[code]

An interesting observation here is that while the `kube-dns` pods are present in the `CiliumEndpoints` CRD, they

[2020-11-25 14:25] brb commented on #14149
It looks that the test was running in the host netns.

[2020-11-25 16:23] gandro commented on #13833
Some additional observations and theories:

The `CEP` garbage collector will not remove an entry if a pod with the same name still exists ([source](https://github.com/cilium/cilium/blob/2ec73052ecbe9b24e7a03923e501fa20c9a1e3a4/operator/k8s_cep_gc.go#L108)). It seems fair to assume that if there is a pod for a given CEP, that the entry is valid, because Cilium will restore any already existing endp

[2020-11-25 17:22] sharlns commented on #14050
Thank you for opening an issue for this! 🚀

It would be awesome to scan our images during CI/CD. It doesn't have to be blocking but in this way we can get the CVEs immediately for all the built images, we can group them in a consistent manner and track the issues. Not just randomly scanning one or two.

I used Anchore from Sysdig before integrated with Jenkins - it was okay, it did the job. https:

[2020-11-25 17:49] joestringer opened #14175 "Before 1.9.1, resolve metrics breakage"
Discussed during 2020-11-25 SIG-datapath meeting.

https://github.com/cilium/cilium/pull/13347 was backported to 1.9, but it has upgrade breakage implications.

We need to either revert on v1.9 or resolve the issue and backport the fix before 1.9.1.

[2020-11-25 17:53] travisghansen opened #14176 "kube-proxy-replacement: drop LB traffic which is not in the service definition"
## Bug report

I'm making ICMP requests to an LB IP (from a node external to the cluster) and the result is routing loop.

I'm running with metallb + bgp. In our scenario the primary router is `172.28.96.{9,10}`, a secondary router (what the nodes are peered to for metallb) is `172.28.96.32`, and the last node `172.28.43.62` is one of the cluster nodes.

`172.28.44.34` is a LB IP provisioned by me

[2020-11-25 18:25] brb commented on #14176
This is a duplicate of https://github.com/cilium/cilium/issues/14118.

[2020-11-25 18:25] #14176 closed

[2020-11-25 18:26] joestringer opened #14177 "Remove platform-specific user instructions"
The command to restart pods here is a complicated list of commands that may not work on some non-Linux platforms:

https://docs.cilium.io/en/v1.9/gettingstarted/k8s-install-gke/#restart-unmanaged-pods

Given that we have a helm option to force restart of unmanaged pods, we should remove this section of the guide and properly document how to use the helm option to restart the pods instead.

[2020-11-25 18:28] joestringer commented on #14177
It looks like the above is also used in the k3s and azure guides, so it would be good to double-check that the restartPods option works in each of these environments before removing the section.

[code]

[2020-11-25 18:32] #14028 closed

[2020-11-25 18:46] travisghansen commented on #14118
@brb what happens to traffic to tcp/udp ports that are not in the service definition? Does that get into a routing loop as well?

I’m a little torn about what the behavior should be here honestly. Even forwarding icmp packets down seems odd unless or until the service definition supports calling out icmp.

[2020-11-25 20:45] sayboras commented on #14050
I think this slack discussion is no tpublic :thinking:.

+1 for aqua security, I have a good experience with their product. Local development with trivy is great as well.

[2020-11-25 21:23] #14005 closed

[2020-11-25 21:35] aanm opened #14179 "v1.7 - DaemonEtcdSuite.TestEndpointAddNoLabels"
[code]
https://travis-ci.com/github/cilium/cilium/builds/204325372#L836

[2020-11-25 22:19] dctrwatson commented on #14120
Is there supposed to be 14 of them?

[code]

[2020-11-25 22:36] dctrwatson commented on #14120
Oh, does it start one per remote cluster in a Cilium Mesh?

That's still more `ipcache-bpf-garbage-collection` than clusters...

[2020-11-25 23:14] joestringer commented on #14120
That looks like it would explain the issue :-) I definitely didn't anticipate that, good find. With the above output in hand, I think it should just be a matter of reviewing the code related to this controller to understand how it could be created so many times (likely the manager for the controller is unique each time so it doesn't see the conflict with the existing controller of the same name).

[2020-11-26 00:02] aditighag commented on #14109
You can check the output of `cilium status` in the verbose mode to see if the functionality is enabled.

` cilium status --verbose`

  Status:             Partial
  Session Affinity:   Disabled
  Services:
  - ClusterIP:      Enabled
  - NodePort:       Disabled
  - LoadBalancer:   Disabled
  - externalIPs:    Disabled
  - HostPort:       Disabled

[2020-11-26 00:24] gpl commented on #14118
10.204.202.209  is a client outside of kubernetes.  10.3.0.10 is an external service IP.

ICMP goes into a routing loop w/ iptables mode.

[2020-11-26 00:54] joestringer commented on #13833
The cleanup in K8sUpdates test is intended to reset the cluster to a 'fresh' deployment of the old version of Cilium prior to performing the upgrade testing, so I think it would be reasonable to clear out all of the CEPs in that specific case.

[2020-11-26 08:06] brandshaide commented on #12454
@aditighag @joestringer I'll have a look whether or in which scope this fix is solving/mitigating the issue

[2020-11-26 12:42] qmonnet commented on #12467
Closing this issue. I haven't added any checkpatch-related documentation, but I'm not sure this is necessary at the moment. The current trend is to simply suppress reports for checks that bring up too many false positives anyway, as in the PR linked above or in https://github.com/cilium/image-tools/pull/87 / https://github.com/cilium/cilium/pull/14135.

[2020-11-26 12:42] #12467 closed

[2020-11-26 12:50] povils commented on #12116
Hey! thanks for looking into it. This is the spec i used to replicate the issue:
[code]
curl 172.17.0.1:8081
[code]

[2020-11-26 13:12] gandro opened #14184 "Agent should delete owned CEPs if no local endpoint exists for it"
When the Cilium agent is reinstalled on a node after the old installation has been removed with `cleanState`, it can happen that CEPs exist for that node, without the endpoints actually being managed by Cilium (this was discovered in https://github.com/cilium/cilium/issues/13833#issuecomment-733809602).

The sequence of events in order to reproduce this:

1. Uninstall Cilium and delete any BPF sta

[2020-11-26 17:42] pchaigno commented on #14125
I bumped this to daily flakes since I'm seeing it several times per day, just now in e.g. https://github.com/cilium/cilium/pull/14113.

[2020-11-26 17:55] pchaigno commented on #14155
Could we switch one of our 4.19 or net-next CI pipelines to run *with* kube-proxy? That would allow us to (1) run tests that are incompatible with our kube-proxy replacement on newer kernels and (2) have tests for Cilium's kube-proxy replacement when kube-proxy is also present on the node.

[2020-11-26 18:45] dharmab commented on #9708
For the curious, the new KEP is [here](https://github.com/kubernetes/enhancements/blob/master/keps/sig-network/2004-topology-aware-subsetting/README.md) (still in early stages).

[2020-11-26 20:41] dghubble commented on #12116
The issue I reported was specific to accessing a host port service from the host in question. And was resolved back in v1.18.2 (checked, still correct with Cilium v1.9.0 and Kubernetes v1.19.4).

You're talking about pod-to-pod (possibly cross-node, firewalls, etc) access to a hostport service, so there are a lot of other cases you'll want to rule out. Might be better as a separate issue.

[2020-11-27 09:36] tgraf opened #14198 "Use time.Truncate of more recent Go"
[code]

[2020-11-27 10:16] #14152 closed

[2020-11-27 12:44] #13935 closed

[2020-11-27 12:51] ti-mo commented on #14128
Doesn't look like it: https://github.com/kubernetes/kubernetes/pull/80482. We were relying on an implementation detail rather than an explicit guarantee. A missing CNI binary causing scheduling errors was a reasonable assumption on our part, but this is not defined in the CNI spec, nor is it mentioned in the k8s docs anywhere.

This behaviour was changed in https://github.com/kubernetes/kubernetes

[2020-11-27 13:45] ti-mo commented on #14128
https://github.com/cilium/cilium/pull/14095 also contributes to solving this.

[2020-11-27 14:42] #14149 closed

[2020-11-27 14:57] brb commented on #14125
https://github.com/cilium/cilium/pull/14201 might fix this.

[2020-11-27 14:58] tklauser commented on #14125
Hit this on #14197 (https://jenkins.cilium.io/job/Cilium-PR-Runtime-4.9/2765/) and #14200 (https://jenkins.cilium.io/job/Cilium-PR-Runtime-4.9/2770/) today.

[2020-11-27 15:03] brb commented on #14155
@pchaigno SGTM. Also, this would help to test what new deployments with default settings on newer kernels are running  (kpr=probe + kube-proxy). I'd nominate 4.19 for it.

[2020-11-27 16:33] brb opened #14203 "Add Cilium API for adding / removing node to trigger arping in lb-only mode"
When running in the `lb-only` mode (i.e. no connection to kube-apiserver) we need to send arping to nodes which run service endpoints to populate neighbor table with `nexthop IP addr => nexthop MAC addr` mappings. Otherwise, the datapath might not be able to forward packets to such nodes (aka `DROP_NO_FIB`).

Therefore, we need to extend Cilium API to support node registration / removal which woul

[2020-11-27 18:09] aanm commented on #13400
Hit in https://github.com/cilium/cilium/pull/14200

[2020-11-27 18:48] aanm opened #14205 "Mark Cilium etcd operator as deprecated"
It's still mentioned in
https://docs.cilium.io/en/v1.9/gettingstarted/k8s-install-etcd-operator/
and
https://docs.cilium.io/en/v1.9/gettingstarted/clustermesh/#gs-clustermesh

etcd-operator is replaced with with CRD-only mode and with the newly introduced cluster API.

[2020-11-27 23:46] borkmann opened #14206 "bpf: force svc/be ports to be same on agent side"
https://github.com/cilium/cilium/pull/14193#pullrequestreview-540094098

[2020-11-28 04:31] myugan commented on #12934
Hi @aanm as you said this is can only be done through Kubernetes, is it use etcd to put those policies?

[2020-11-28 11:59] aanm commented on #12934
@myugan with Kubernetes you can install Cilium Network Policies which are distributed for all nodes.

[2020-11-29 07:14] sayboras commented on #13839
Found in #14113 as well.

[2020-11-29 11:24] #13149 closed

[2020-11-29 11:24] #13144 closed

[2020-11-29 11:31] pchaigno commented on #12795
This test was quarantine, so I'm unsure if this issue is still relevant.

[2020-11-30 03:55] christarazi commented on #14050
@sharlns Thanks for the additional context. If you think it's useful enough, let's copy-paste the Slack discussion from the link.

[2020-11-30 10:25] gandro opened #14211 "Better document the steps for L7 visiblity with Hubble"
The fact that L7 visibility with Hubble is opt in seems to be a common pitfall for users trying out Hubble, especially when it comes to the metrics. Examples:

https://github.com/cilium/hubble/issues/440
https://github.com/cilium/cilium/issues/13738

We do have basic note explaining the need for the annotations in the master branch, but we can and should do a better job of documentation the why an

[2020-11-30 11:03] sharlns commented on #14050
@christarazi Sure!

tgraf Nov 25th at 9:11 AM
@aanm @joe Vlad (Palantir) has reported that Aqua’s image scanner is reporting vulns in the 1.7 image. Quay is confirming this. We should be rebasing the 1.7 image with the next release. Can we track this somehow or what should I do as next step to ensure we don’t forget?

natalia  5 days ago
I can also create a github issue so we don't forget. Can we

[2020-11-30 12:56] kAworu opened #14215 "Hubble Relay related documentation improvement"
Hubble Relay is lacking in documentation in several aspect:
- [ ] There is no dedicated Hubble Relay page in the documentation
- [ ] How to setup Hubble Relay after `kubectl apply -f quick-install.yml`?
- [ ] `hubble.relay.enabled=true` still depends on `hubble.listenAddress=4244` but is not checked by Helm.
- [ ] There is a TLS keypair generated for Hubble Relay when `hubble.tls.enabled=true` (th

[2020-11-30 13:22] #13174 closed

[2020-11-30 14:02] borkmann opened #14218 "cilium: fix gops port <10k"
Set it to specific port below 10k range as it conflicts with nodeport and allow for user override via cmdline.

Reported-by: Lee Hu

https://github.com/cilium/cilium/commit/299629d932d843dabb5490d4a1f595bbae7a48bf

[2020-11-30 14:52] aanm opened #14219 "Remove time.After usages"
from @christarazi :
[code]

[2020-11-30 16:24] aanm commented on #13400
hit https://jenkins.cilium.io/job/cilium-ginkgo/job/cilium/job/master/6196/testReport/junit/Suite-k8s-1/12/K8sServicesTest_Checks_service_across_nodes_Tests_NodePort_BPF_Tests_with_TC__direct_routing_and_Hybrid/

[2020-11-30 16:30] gandro commented on #14219
Context for the motivation: https://medium.com/@oboturov/golang-time-after-is-not-garbage-collected-4cbc94740082

However, seems to me that this is only an issue for long-running `time.After` invocations (i.e. in the order of minutes). Many of the above usages are in the order of seconds, so not sure this will actually make an impact for many of those.

[2020-11-30 16:37] aditighag commented on #14219
+1

[2020-11-30 21:06] #14175 closed

[2020-11-30 22:59] tgraf commented on #14128
Maybe we should just leave the `cilium-cni` binary on disk during restart?

The validation does this:
[code]

Leaving the binary on disk will cause it to fail and thus retry without us having to modify the existing configuration on disk.

[2020-12-01 00:15] aanm commented on #14128
I like that approach better. One issue I'm seeing is if Kubelet is in the middle of a "CNI ADD", our `cilium-cni` will keep retrying to connect the cilium-agent, until it gives up. If Cilium is being upgraded at that time, the agent will be available and will receive an API call from that out-of-date `cilium-cni` binary. If we decide to leave the binary behind we will need to add a client version

[2020-12-01 00:31] #12824 closed

[2020-12-01 00:33] #14052 closed

[2020-12-01 00:35] #13686 closed

[2020-12-01 05:47] roodkcab opened #14225 "add api to get service by l3n4addr"
## Proposal

**tcp connections got disconnect when service updated**

When rolling update a replicaset, long connection like grpc got disconnect because of service backend ip changed to newly created pod.

if cilium could offer an api like /service/{addr}/{scope} to get backend ip by l3n4addr, then services could easily do load balance by themselves. where addr is {tcp/udp}://{ip}:{port}, thus con

[2020-12-01 08:10] borkmann opened #14226 "agent: ability to specify LB IP from different device"
It may not always be the case that the device for the XDP LB has an IP address specified. Allow via daemon e.g. through cmdline flag to derive the IP address from a different device on the node.

[2020-12-01 08:54] ti-mo commented on #14128
Note: kubelet also skips a CNI plugin if it fails a CNI `CHECK` call. We currently specify a `nil` check handler, so checks always pass, and kubelet will always pick Cilium if the CNI config + binary exists.

https://github.com/cilium/cilium/blob/b3c840889332bf94d0c60fb4427fef1a9d6108dd/plugins/cilium-cni/cilium-cni.go#L81-L85

However, if we ever add a check handler that returns false, we will ag

[2020-12-01 09:18] renzhendev opened #14227 "non-masquerade CIDRs can't be modified by the ip-masq-agent configmap"
helm install cilium cilium/cilium --namespace kube-system      --set nodeinit.restartPods=true  --set tunnel=disabled  --set bpfMasquerade=true  --set autoDirectNodeRoutes=true  --set localRedirectPolicy=true  --set enableK8sEndpointSlice=true  --set wellKnownIdentities.enabled=true  --set bpf.clockProbe=true  --set bpf.waitForMount=true  --set bpf.preallocateMaps=true  --set sockops.enabled=true

[2020-12-01 09:23] bruun365 opened #14228 "Cilium negative policies"
## Proposal / RFE

**Is your feature request related to a problem?**

**Describe the solution you'd like**
It would be great if it's possible to write a CiliumClusterwideNetworkPolicy that will be applied to all namespaces with the exception of the kube-system and / or default namespace (negative policy). This ensures that a default CiliumClusterwideNetworkPolicy policy will be applied automatical

[2020-12-01 09:36] aanm commented on #14228
You can achieve that with something similar as this policy:
[code]

[2020-12-01 09:39] aanm commented on #14225
You can get the list of backends with `kubectl get endpoints`, wouldn't that work?

[2020-12-01 10:30] bruun365 commented on #14228
Awesome, thanks!

[2020-12-01 10:30] #14228 closed

[2020-12-01 13:14] pchaigno opened #14231 "Program size regression with host firewall in IPv4-only mode"
Running the host firewall on a kube-proxy-free cluster with IPv4 only results in the following error:
[code]

This is easy to reproduce e.g. on GKE with the following command:
[code]

The regression doesn't affect 1.9.0. It was probably introduced by some of the recent work on IPv4 fragment tracking.

The section failing to load, `to-netdev`, performs the following actions:
1. Host policy enforcem

[2020-12-01 13:56] pchaigno commented on #14231
It doesn't affect v1.9.0 but it **does affect our v1.9 branch** so we'll need to backport the fix there as well:
[code]

I confirmed it doesn't affect our v1.8 branch :relieved:

[2020-12-01 14:40] ti-mo commented on #13495
Hi, I've proposed to removed this flag in https://github.com/cilium/cilium/pull/14105 as we've detected a fundamental issue with its behaviour. Don't worry about renaming it!

[2020-12-01 14:40] #13495 closed

[2020-12-01 17:19] ti-mo opened #14233 "[Azure IPAM] Pods scheduled before Cilium don't get state cleaned up"
**Note**: this currently impacts Azure IPAM (so, without CNI chaining enabled), but it's theoretically possible for this to affect other managed K8s products as well. As Azure IPAM is currently marked beta, this is not critical, but this is a fundamental issue that needs to be fixed before Azure IPAM would be recommended to run in production.

## Bug report

This affects Cilium versions 1.9 and ea

[2020-12-01 18:31] Weil0ng opened #14234 "Complexity issue in bpf_lxc with kubeproxy-free + partial hostReachableServices (tcp or udp only)"
It seems like enabling service lookup in bpf_lxc in kubeproxy-free mode pushes bpf_lxc over the complexity limit for CI on net-next kernel.

Symptom:

[code]

Reproduce steps:
See https://github.com/cilium/cilium/pull/13882#discussion_r529793208

This is blocking PR #13882

[2020-12-01 18:32] Weil0ng commented on #14234
cc @pchaigno @joestringer @borkmann

[2020-12-01 18:42] theminecoder commented on #10217
This PR which is showing up in k8s 1.20 might be of interest to help solve this issue kubernetes/kubernetes#92968

[2020-12-01 20:45] pchaigno commented on #14234
@Weil0ng The initial Slack thread on this issue mentions a CI test running on our net-next kernel and I reproduced on the net-next VM (roughly same kernel version as in our tests). Did you also notice this issue in our 4.19 CI?

Also, you mentioned before that you couldn't reproduce on a 5.4 COS. Did you verify that you were using the same configuration as in the failing test (i.e., kubeproxy-free

[2020-12-01 21:08] Weil0ng commented on #14234
@pchaigno I didn't try on 4.19, I thought you meant 4.19 when you said dev VM in the comment but I guess I misunderstood, edited the issue to reflect this.

Yes, trying with kubeproxy-free + partial hostReachableServices + IPv6 is still in my todo list (sorry was out sick last few days), will update here when I confirm (FWIW, the working setup is kubeproxy-free + bpf-lb-sock-hostns-only, which is

[2020-12-01 21:33] joestringer commented on #13575
FWIW, other previous related issues:
* https://github.com/cilium/cilium/issues/9589
* https://github.com/cilium/cilium/issues/13269

[2020-12-01 22:06] joestringer opened #14236 "Convert Helm configuration examples to values.yaml examples"
Currently, the Cilium documentation is largely written with each section describing a set of specific commandline arguments to pass to a `helm install` command. An alternative to this approach is to advocate preparing values.yaml files with the same configuration options instead, which seems easier to manage and makes it clearer how users may combine multiple sets of options.

We also now have a m

[2020-12-01 22:08] joestringer commented on #14236
When it comes to upgrade, I think there's a potential that this will allow us to address new feature introduction by:
* Release N, introduce new feature (default setting disabled)
* Release N+1, switch default to enabled
* In upgrade notes, pull current cluster configuration including original release N setting of feature, thereby resolving upgrade compatibility concerns without falling back to th

[2020-12-02 02:24] aanm opened #14239 "Add support for Kubernetes 1.20"
- [ ] **Update libraries, docs and code to 1.20**. assignee @aanm PR #

- [ ] **Increment minimal supported version to 1.16**. assignee @aanm PR #

- [ ] **add support for podCIDR in k8s netpol**.
Cilium [GH-9209](https://github.com/cilium/cilium/issues/9209)

- [ ] **SCTP support (stable):**
Cilium [GH-5719](https://github.com/cilium/cilium/issues/5719)
[KEP](https://github.com/kubernetes/enhance

[2020-12-02 03:23] roodkcab commented on #14225
yes, it does work. but how about use cilium as local cache for api-server on each node?

[2020-12-02 08:32] borkmann opened #14240 "cilium: endpoint routes + veth fast redirect support"
Both settings should work with fast redirect for 5.10+.

[2020-12-02 10:50] aanm commented on #14225
I think a better solution will exist once https://github.com/cilium/cilium/issues/10217 is fixed.

[2020-12-02 11:18] roodkcab commented on #14225
I can't agree more.

[2020-12-02 11:18] #14225 closed

[2020-12-02 11:29] brb commented on #14227
@renzhendev Thanks for the issue. Could you exec into cilium-agent pod and run `cat /etc/config/ip-masq-agent`?

[2020-12-02 12:29] renzhendev commented on #14227
when i run the command ,  the file dosen't exist
![image](https://user-images.githubusercontent.com/61909393/100871227-e1c17900-34da-11eb-9904-7f8a8c9845bf.png)

when i check the dir , it doesn't show any files yet
![image](https://user-images.githubusercontent.com/61909393/100872107-44674480-34dc-11eb-896a-2bbf8ce0cf64.png)

![image](https://user-images.githubusercontent.com/61909393/100872121-4a

[2020-12-02 12:43] brb commented on #14227
Can you try to create the configmap before installing Cilium?

[2020-12-02 12:52] renzhendev commented on #14227
i try the both way, create the configmap before installing Cilium and create the configmap after installing Cilium. it doesn't has any difference,however

[2020-12-02 13:18] brb commented on #10217
Thanks. Note to ourselves: when implementing the feature, we need to consider the endpoint-related changes in k8s v1.20 https://github.com/cilium/cilium/issues/14239.

[2020-12-02 13:30] brb commented on #14227
I've just tried the following and it worked:
[code]

[2020-12-02 13:40] jorge07 commented on #14052
Glad to see this fixed. Just got today something similar after a cluster upgrade but related with a NetworkPolicy:
Here the agent logs. I needed to uninstall the chart in order to have cilium working again as ALL agents were failing and unable to start. I saw the cilium agents working in the masters working well but workers don't.
[code]

[2020-12-02 13:56] #14227 closed

[2020-12-02 13:58] brb commented on #14052
@jorge07 Thanks for reporting. What is your Cilium version and what configuration?

[2020-12-02 14:09] jorge07 commented on #14052
v1.8.4

Installed using kops template, not helm:

Here the template:
https://github.com/kubernetes/kops/blob/bc0bbb81fb198c2fc8c98ecbb7d1fc33f252c34c/upup/models/cloudup/resources/addons/networking.cilium.io/k8s-1.12-v1.8.yaml.template

Pod config
[code]

[2020-12-02 14:14] Buffer0x7cd opened #14243 "Support disabling src/dst checks on AWS ENIs."
## Proposal / RFE

Hey everyone, While testing DSR on AWS we discovered that src/dst checks needed to be disabled in AWS ec2 instances for DSR to work (more info https://github.com/cilium/cilium/issues/13600). While the above solution worked, Internally in our team we had a discussion on how to disable this consistently across Auto scaling groups instances as AWS does not have an API to enable/dis

[2020-12-02 14:25] errordeveloper commented on #14243
Since this is done per-ENI, it's best to consider making it part of `ciliim-operator`. There is already an implicit dependency on the operator in the agent, since IPs need to be allocated prior to agent starting up. On node reboot ENI settings should be persisted, since it's in the API and not a local state. However, currently operator manages secondary ENIs, but it will need make update  to prima

[2020-12-02 14:38] Buffer0x7cd commented on #14243
Based on the above-mentioned points, It seems like integrating this in Cilium Operator makes sense. On the other hand, if the Eksctl or AWS API team are ready to make this an option for ASG then this requirement can be offloaded to the cluster provisioning tool and the Operator will not require to handle this.

[2020-12-02 14:43] errordeveloper commented on #14243
It maybe plausible to still implement a check in the operator, so we can detect misconfiguration and warn the use.

[2020-12-02 14:51] brb commented on #14052
@jorge07 Thanks. Could you create a separate issue? It seems to be unrelated to this (it failed to find a loopback addr).

[2020-12-02 15:00] Buffer0x7cd commented on #14243
Agree. It would be really helpful if there is some kind of check also, Otherwise tracking down the issue takes lots of effort.

[2020-12-02 15:33] jorge07 opened #14245 "Panic on Policy Add Request"
Coming from #14052

## Bug report

On k8s 1.14.10
Cilium v1.8.4

**General Information**

- Cilium version 1.8.4
- Kernel version 4.9
- Kubernetes 1.14.10
- Installed with Kops

**How to reproduce the issue**

Having:

A namespace with an application la jupyterHub installed with Helm
[code]
I do an upgrade to replace the node this app is living.

Upgrade will fail as cilium will be unable to start

[2020-12-02 15:33] jorge07 commented on #14052
@brb makes sense, linked. Thanks

[2020-12-02 15:39] aanm commented on #14245
@jorge07 thanks for opening the issue, can you also paste the network policy you are trying?

[2020-12-02 15:44] jorge07 commented on #14245
No network policy on my side, just got the ones generated by default by cilium when there're new items in the cluster

[2020-12-02 15:52] aanm commented on #14245
@jorge07 Cilium does not create any network policies. What's the output of `kubectl get cnp singleuser -n recommender -o yaml`?

[2020-12-02 16:53] #14231 closed

[2020-12-02 22:32] joestringer commented on #10678
This is still (rarely) hit on v1.7 branch despite the fix https://github.com/cilium/cilium/pull/9893 having been merged.

[2020-12-03 00:16] nicktrav opened #14250 "Uneven traffic distribution after container / pod restarts"
When running with Cilium as the CNI, I'm observing an uneven distribution of traffic to an identical set of Pods in a Deployment.

After restarting a single Pod in the Deployment after seeing steady state traffic, the new Pod receives fewer requests than the other two pods:

![Screenshot from 2020-12-02 15-53-35](https://user-images.githubusercontent.com/804457/100946605-9bf3b900-34b8-11eb-941a-39

[2020-12-03 00:27] aditighag commented on #14250
Does the load generator create a Kubernetes service backed by the backend pods, and send the requests to the clusterIP, or directly to the pod IPs?

[2020-12-03 00:48] nicktrav commented on #14250
The load test is calling the service by DNS name ([`backend-1.backend` in my demo](https://github.com/nicktrav/cilium-debugging/blob/nickt.debugging/manifests/load-test/templates/load-test-1-configmap.yaml#L7)), so I assume it's using the ClusterIP for the Service after it's resolved. I'm still feeling my way around Cilium, so I'm not sure if there's some hijacking that goes on w.r.t. DNS.

But tl

[2020-12-03 01:02] aditighag commented on #14250
--set hostServices.enabled=false \
  --set externalIPs.enabled=true \
  --set nodePort.enabled=true \
  --set hostPort.enabled=true \

Looking at the kernel version along with these helm options, cilium _should_ completely replace kube-proxy functionality. Could you attach sysdump from your cluster?

[2020-12-03 01:14] borkmann opened #14251 "verifier error on agent restart with different table size"
1. ./daemon/cilium-agent --enable-ipv4=true --enable-ipv6=true --datapath-mode=lb-only --bpf-lb-algorithm=maglev --bpf-lb-maglev-table-size=2039 --bpf-lb-mode=dsr --bpf-lb-acceleration=native --devices=enp2s0np0 --bpf-lb-dsr-dispatch=ipip

then restart with:

2. ./daemon/cilium-agent --enable-ipv4=true --enable-ipv6=true --datapath-mode=lb-only --bpf-lb-algorithm=maglev --bpf-lb-maglev-table-size=

[2020-12-03 01:53] joestringer opened #14252 "Cannot build documentation: no theme named 'sphinx_rtd_theme_cilium' found (missing theme.conf?)"
Cilium 1.10 dev cycle, affects readthedocs builds on multiple branches as well as master branch when trying to locally repro. Seems to have begun to fail suddenly with no obvious code change that would cause it:

[code]

(For the reference, it appears that the `WARNING` message was normal and would always be printed even during successful builds in the past)

Last successful v1.8 build (Nov 30 202

[2020-12-03 03:41] joestringer commented on #14252
Locally I found that reverting commit d1f2ddc5ea92 resolved the issue (/cc @Rolinh).

[2020-12-03 04:37] joestringer commented on #14252
This appears to be an upstream bug in pip (https://github.com/pypa/pip/issues/9202). I found that when I applied this diff, the docs build worked locally:

[code]

We could always apply this until upstream pip are able to put out a release that fixes the bug, however it will not fix the readthedocs builds. At first glance I see no way for us to influence RTD to fix the issue, as it would require e

[2020-12-03 04:49] joestringer commented on #14252
Fortunately it looks like this doesn't affect CI / github actions as they pull an image from docker.io which is not automatically updated.

[2020-12-03 04:50] aditighag commented on #14250
Based on the helm options and kernel version, assuming cilium has completely replaced kube-proxy, the backend selection logic in cilium is different for TCP and UDP traffic. I'm not sure the logic for TCP traffic that randomly selects a backend will exactly guarantee an even distribution of load, though. Regardless, it'll be good to understand this better.

Could you please repeat the experiment f

[2020-12-03 05:47] nicktrav commented on #14250
This didn't seem to make much difference unfortunately:

![Screenshot from 2020-12-02 21-43-19](https://user-images.githubusercontent.com/804457/100969216-99f51e80-34e7-11eb-8d54-2997e4070976.png)

Can you clarify this point? The workload is inherently TCP-based (HTTP/1.1/ client and h/2 server). Are you suggesting trying a completely different, UDP-based workload?

I'll follow up on this.

[2020-12-03 12:33] brb commented on #14250
@nicktrav You are hitting the same issue as described in https://github.com/cilium/cilium/issues/10343. Enabling the socket-based loadbalancing (`--set hostServices.enabled=true`) should resolve the issue.

[2020-12-03 13:48] jorge07 commented on #14245
Ok, this log confuse me then as I'm not creating any policy
[code]

[2020-12-03 18:05] nicktrav commented on #14250
Yep - looks like that did it.

![Screenshot from 2020-12-03 08-58-13](https://user-images.githubusercontent.com/804457/101061788-bcb62000-3545-11eb-925e-ea20f4f90c2d.png)

Just to summarize my understanding of the problem when host services are _not_ enabled:
- load generator quickly chews through ephemeral port range due to the new connection per request type of load
- source port mappings aren't

[2020-12-03 21:29] Weil0ng commented on #14234
It turns out that my local env I cannot bring up ipv6 clusters/nodes at all...so I cannot try with IPv6 on 5.4, now I'm trying to see if the working config (without ipv6) would work on net-next kernel.

[2020-12-04 00:51] nicktrav opened #14268 "Elevated 5xx rate when using network policies on either side of a connection"
When applying a Layer 7 network policy to pods on either side of a HTTP, I'm observing some weird behavior where only one pod is returning 200 responses and the remainder are returning 500s.

Initially, I started with a load test of 50 requests / second on a Deployment of three Pods. The namespace in which these pods reside have a network policy:

[code]

Load was split evenly across the three pod

[2020-12-04 09:58] aanm commented on #14245
@jorge07 can you get a [sysdump](https://docs.cilium.io/en/stable/operations/troubleshooting/#automatic-log-state-collection) from the failing cluster?

[2020-12-04 10:48] brb opened #14273 "datapath: Remove IPV{4,6}_NODEPORT macros"
After introducing `IPV{4,6}_MASQUERADE`, the `IPV{4,6}_NODEPORT` is no longer serving its purpose. For NodePort SNAT we already use `IPV{4,6}_DIRECT_ROUTING`.

The former macro is used only in SNAT egress to check whether a packet sent to outside needs to be SNAT'd. However, the check is only required for those bpf_host.o instances which are attached to a dev with `IPV{4,6}_DIRECT_ROUTING`.

[2020-12-04 11:51] brb commented on #14250
Thanks for the detailed summary.

Yes, your understanding is correct.

Yes. Just keep in mind that with 1min interval you are trading CPU cycles for more even distribution. Also, if you have long-lived connections sending packets less frequent than 1min, then such connections will be disrupted.

This is already a default via `kube-proxy-replacement: probe` setting which checks whether the feature

[2020-12-04 12:06] brb commented on #14250
One more thought regarding this - I expect this will be modified only in rare occasions, so maybe it can be set via extraConfig (https://github.com/cilium/cilium/pull/14077) w/o introducing a new Helm var? /cc @aanm @joestringer

[2020-12-04 12:18] #14143 closed

[2020-12-04 14:46] aanm opened #14277 "v1.9.1 release"
## Pre-release

- [x] Create a [new project] for the next release version
- [x] Add build targets for the new release on [Docker Hub]
  - All versions:
    - [cilium](https://hub.docker.com/repository/docker/cilium/cilium/builds/edit)
    - [operator](https://hub.docker.com/repository/docker/cilium/operator/builds/edit)
    - [docker-plugin](https://hub.docker.com/repository/docker/cilium/docker-p

[2020-12-04 16:49] alex1989hu commented on #13240
I can verify that this is still an issue with `v1.9.0`. I see in `hubble` that a Pod called `argocd-redis` considered as world from multiple pods within the same namespace. Pod deletion or kill also does not help it. I don't know what triggers to get into this situtation, but everything goes to green if I remove the `CNP`.

[code]

![ciliumv190world](https://user-images.githubusercontent.com/10764

[2020-12-04 16:49] alex1989hu commented on #13240
/cc @aanm

[2020-12-04 17:58] #14158 closed

[2020-12-04 18:07] aanm commented on #13240
@alex1989hu can you open a new GH issue with a sysdump? It might be a different issue.

[2020-12-04 18:14] #14277 closed

[2020-12-04 18:17] aanm opened #14283 "Current access while creating CRDs in the operator"
Has the operators don't wait for leader election when creating the CRDs, they can fail since both will try to perform the same actions:
[code]

It's fine to not wait for leader election when registering the CRDs however the code should be more resilient.

[2020-12-04 18:24] alex1989hu opened #14284 "Cilium does not recognise identity thus got policy denied"
## Bug report

Possible related to https://github.com/cilium/cilium/issues/13240

I don't know what triggers it, but after a while Cilium starts to drop packages with `Policy denied` (see `CNP` later.). Everything goes to green if I remove the `CNP`. Pod deletion or kill also does not help it.

I see in `hubble` that a Pod called `argocd-redis` considered as world/no category from multiple pods wi

[2020-12-04 18:25] alex1989hu commented on #14284
/cc @aanm  ref https://github.com/cilium/cilium/issues/13240#issuecomment-738934240

[2020-12-04 18:54] aditighag opened #14285 "Add an Istio test to verify poxy redirection"
We need to extend test coverage for scenarios such as - https://github.com/cilium/cilium/pull/14271, where proxy redirection can break.

@jrajahalme : "The test scenario is that there are two incoming TCP connections for an Istio POD destination, both with the same source address and port. The second one would get misclassified as HOST due to SNAT using the destination host address (not sure if lo

[2020-12-04 19:41] nicktrav commented on #14250
Nice. TIL. That seems much better than adding additional config to the Helm templates.

I'll put up a PR for the docs change.

Thanks! Closing.

[2020-12-04 19:41] #14250 closed

[2020-12-04 19:48] pchaigno commented on #12596
#13840 added additional `cilium monitor` logs to help debug this flake and I was waiting for new failures to continue the investigation. We now have [4 new failures](https://datastudio.google.com/s/iiAum8P5eeQ), so let the hunt begin!

### Summary of the flake

Our test establishes `x1` connections to a pod through a fromCIDR+toPorts policy. Those connections are allowed by the policy. At the same

[2020-12-04 19:48] jrajahalme commented on #14285
The destination port has to be different, otherwise the the 5-tuples would collide already at the source. The point is that iptables REDIRECT changes the destination port to a specific value, necessitating SNAT to keep 5-tuples distinct.

[2020-12-04 20:59] dghubble opened #14287 "SchedulerPredicates: pods with same hostPort but different hostIP and protocol"
## Bug report

Some early testing of Kubernetes v1.20.0-rc.0, found one conformance failure with Cilium that's on the horizon. Filing this as an initial report.

[code]

[Full Logs](https://gist.github.com/dghubble/1d36b9cd041f5b350e665101ff5ffa00)

The test failure was repeatable. The test relates to pods exposing host ports. When using Calico (distro default) the same test did pass.

**General I

[2020-12-04 21:21] aditighag commented on #14287
From the logs -

STEP: Trying to create another pod(pod2) with hostport 54321 but hostIP 10.0.29.34 on the node which pod1 resides and expect scheduled
STEP: Trying to create a third pod(pod3) with hostport 54321, hostIP 10.0.29.34 but use UDP protocol on the node which pod2 resides
STEP: checking connectivity from pod e2e-host-exec to serverIP: 127.0.0.1, port: 54321

I don't think we support loo

[2020-12-04 21:35] aanm commented on #14287
Also just to add to what Aditi said, the difference of protocols will likely be fixed by https://github.com/cilium/cilium/issues/9207

[2020-12-04 21:40] aditighag commented on #14287
Yes, connectivity should work for both the protocols, though.

[2020-12-05 00:03] gautvenk opened #14289 "No Ceps created when using generic-veth chaining"
## Bug report

**General Information**

- Cilium version: 1.9.0
- Kernel version:
Linux opflex-1 4.15.0-111-generic #112-Ubuntu SMP Thu Jul 9 20:32:34 UTC 2020 x86_64 x86_64 x86_64 GNU/Linux
- Orchestration system version in use:
Client Version: version.Info{Major:"1", Minor:"18", GitVersion:"v1.18.6", GitCommit:"dff82dc0de47299ab66c83c626e08b245ab19037", GitTreeState:"clean", BuildDate:"2020-07-1

[2020-12-05 00:07] gautvenk commented on #14289
This ended up being CNI config ordering issue. Within /etc/cni/net.d the chained config file was lexicographically higher than pre-existing CNI config file. Since kubelet picks the first file (lexicographically), chained file didnt get applied. Simply renaming removing/renaming the unwanted file helped fix the issue. Raised this issue so that others who hit similar issues can look at the ordering

[2020-12-05 00:07] #14289 closed

[2020-12-05 00:18] gautvenk opened #14290 "Support needed for L7 policies when cilium is used as secondary CNI"
## Proposal
My primary CNI is ACI CNI and I am interested to use cilium as secondary CNI so that I can try out L7 policies for security and use hubble for troubleshooting. I came to know L7 policies arent supported when Cilium acts as secondary CNI. But it will be really useful in my opinion to support this if its feasible. Hence creating this feature request.

[2020-12-05 01:52] nniehoff commented on #14117
I'm using the `docker.io/cilium/cilium-dev:v1.9.1` image on a mixed cluster with amd64 and some raspberry pi 4s.  The pods get further and at least run however now on both architectures the pods fail to completely start with the following fatal message in the logs:

[code]

[2020-12-05 05:03] #13225 closed

[2020-12-05 06:02] ungureanuvladvictor commented on #14243
@Buffer0x7cd / @errordeveloper -- I've put some thought into this and I think we should put this functionality into the operator given that is the central spot that handles AWS API comms. Until now the operator did not do any write modifications to the primary interface of the instance (it used it just for read operations to infer things like subnet, securitygroups, etc) -- which brings the questi

[2020-12-05 19:45] dctrwatson commented on #14119
I don't think there were any changes related to this issue in the 1.8.6 release, but noting it's still happening

[2020-12-05 19:51] dctrwatson commented on #14120
I don't think there was anything related to this issue in 1.8.6 release, just noting this is still happening

[2020-12-06 21:03] jrajahalme commented on #13400
Hit in GKE: https://jenkins.cilium.io/job/Cilium-PR-K8s-GKE/3523/

[2020-12-07 05:49] #12772 closed

[2020-12-07 05:59] Buffer0x7cd commented on #14243
Regarding

In most cases, Only the primary interface is used for the NodePort Services  (Unless the user has mentioned multiple interfaces for NodePort) due to this we only need this to be enabled for the primary interface. @brb Can you please confirm this?

I haven't tested this on azure yet, So don’t have much information on it.

[2020-12-07 08:13] #14252 closed

[2020-12-07 09:48] elfadel commented on #10067
Hi @borkmann, I would like to work on this issue. Could you assign it to me? Thanks.

[2020-12-07 10:35] #13999 closed

[2020-12-07 11:05] aanm commented on #14245
@joestringer there's a concurrency issue with the allocate IPs and the initialization of daemon IP addresses.

https://github.com/cilium/cilium/blob/78e71081b10b34250ab613eff96067c77c5ea6ee/daemon/cmd/daemon.go#L528-L550

If the agent receives a policy with CIDRs, which happens during line 528, faster than it allocates an IP address, which happens during line 550, the agent will panic as described

[2020-12-07 13:10] jorge07 commented on #14245
@aanm I'll try to reproduce the issue again late in the day when there's nobody else working

[2020-12-07 14:50] aanm opened #14293 "Empty kubelet logs"
The logs from this test run does not contain kubelet logs. https://jenkins.cilium.io/job/Cilium-PR-K8s-1.20-kernel-4.9/49/testReport/junit/Suite-k8s-1/20/K8sChaosTest_Restart_with_long_lived_connections_TCP_connection_is_not_dropped_when_cilium_restarts/

[2020-12-07 15:55] nebril commented on #14293
Uploading for posterity [08578d56_K8sChaosTest_Restart_with_long_lived_connections_TCP_connection_is_not_dropped_when_cilium_restarts.zip](https://github.com/cilium/cilium/files/5653706/08578d56_K8sChaosTest_Restart_with_long_lived_connections_TCP_connection_is_not_dropped_when_cilium_restarts.zip)

[2020-12-07 18:04] brb commented on #14243
Why does this matter in the context of this issue? The src/dst check is per node, i.e. not per iface.

[2020-12-07 18:07] ungureanuvladvictor commented on #14243
@brb it's actually per ENI and not per node -- https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/using-eni.html#modify-source-dest-check.

[2020-12-07 18:51] joestringer commented on #14120
Thanks for the report @dctrwatson . I believe the next step is to take a look around this code and understand how it could spawn multiple controllers:

https://github.com/cilium/cilium/blob/f66515219c21041f17d424cb8f2ca2b1b81c4687/pkg/datapath/ipcache/listener.go#L354

It may be something as simple as the Manager for the Controller being duplicated. AFAIK if you re-initialize a Controller with the

[2020-12-07 18:55] aanm commented on #14284
@alex1989hu please upgrade to 1.9.1 as this was fixed by https://github.com/cilium/cilium/pull/14090. Thanks

[2020-12-08 00:59] joestringer commented on #14245
@jorge07 thanks for the report! I've prepared a fix in #14299. If you have a reproduction environment or steps, that'd be useful and if you're able to test PR #14299 that'd also be super helpful.

[2020-12-08 01:19] dctrwatson commented on #14120
@joestringer I tried my hand at a fix: https://github.com/cilium/cilium/pull/14300

[2020-12-08 01:32] jorge07 commented on #14245
Very detailed PR. Thanks a lot for the fix. Will be testing it tomorrow under same conditions.

[2020-12-08 08:20] maxaudron opened #14301 "unable to start gops: unable to get current user home directory: os/user lookup failed; $HOME is empty"
Often times after updating cilium the hubble-ui or hubble-relay pods will fail with:
[code]

Downgrading the pod to an older version sometimes works, often times not, same when upgrading and deleting the pod.

OS: ubuntu 20.10
k8s: 1.19.3
cri: cri-o with crun

[2020-12-08 08:31] xu1zhou commented on #6431
@jrfastab ,  is this issue has been resolved? or any progress?

[2020-12-08 11:04] brb commented on #14243
Oh, I see. Thanks for the clarification.

I'm not very familiar with AWS, but it might be enough to disable the check for an interface which is used to communicate between k8s Nodes (aka `--direct-routing-device`). IIRC, the drop happened after the intermediate node had forwarded the request which was `| src=client_from_outside_IP | dst=pod_IP |`. However, the assumption needs validation, as I'm n

[2020-12-08 11:18] gandro commented on #14301
Thanks for the report! To confirm, the error is only occurring on the `hubble-relay` pod? What version of Cilium are you using?

[2020-12-08 15:55] #14226 closed

[2020-12-08 16:53] seanmwinn opened #14309 "Metrics: metric for k8s_event_lag_seconds implemented as a gauge is not actionable"
## Bug report

**General Information**

The metric, as implemented, counts to infinity and does not provide actionable data to the user which can be used to discover where a problem is coming from.

[2020-12-08 17:11] maxaudron commented on #14301
@gandro i've had it happen in hubble-relay and hubble-ui, but also in cilium-operator (but rarely)
currently using 1.9.1, but this has been happening on and off since 1.7

[2020-12-08 17:22] gandro commented on #14301
The `hubble-ui` backend does not contain a gops agent, as far as I can tell. @geakstr @yandzee can you confirm?

[2020-12-08 21:32] joestringer opened #14314 "Cilium kernel-check falsely reports that kernel features are unavailable"
The following is observed in an Ubuntu 20.10 environment running microk8s using PR #12383 (but the same affects all recent Cilium versions):

[code]

Cilium is successfully running and providing connectivity for pods, however the `cilium kernel-check` reports that no features are available.

/cc @brandshaide

[2020-12-08 21:58] joestringer commented on #14314
I would suggest at least changing `GetRequiredConfig() to return an error if kernel config is unavailable and propagating that out to the CLI so at least we know that probing is not possible and don't output plainly invalid data to the CLI:

[code]
(Then check for the error in the CLI)

[2020-12-08 22:32] brandshaide commented on #14314
@joestringer thanks for observing this (I was testing this just on my VAGRANT dev environment TBH). I'd like to work on this, can you assign me? Thanks!

[2020-12-08 22:53] aanm commented on #14125
@brb still happening

[2020-12-09 02:06] fafucoder opened #14317 "Cilium klog conflicts with other crd operators"
## Bug report

**General Information**

- v1.8.3
- Linux node1 5.8.10-1.el7.elrepo.x86_64 #1 SMP Thu Sep 17 10:40:48 EDT 2020 x86_64 x86_64 x86_64 GNU/Linux
- kubernetes v1.18.5

**How to reproduce the issue**
When other crd operators are used together with cilium api, there will be a problem of duplication of log_dir definition

![image](https://user-images.githubusercontent.com/16442491/10156544

[2020-12-09 08:03] christarazi opened #14320 "Identify misbehaving applications that do not respect DNS TTL"
A user report of a bug came from apps not respecting the DNS TTL which led to the following fix: https://github.com/cilium/cilium/pull/13914. This fix is an example of Cilium doing a best-effort attempt to keep connectivity for these apps. To improve troubleshooting, it can be helpful to identify when applications are misbehaving, so that the appropriate steps can be taken. A log msg can be suffic

[2020-12-09 08:09] christarazi commented on #14239
@aditighag Are you planning to look into this?

[2020-12-09 08:28] jaffcheng opened #14322 "Add a mechanism in neighbor management to allow refreshing ARP cache"
## Proposal / RFE

**Is your feature request related to a problem?**
In our case, the MAC address of the interface (which cilium does arping on) changes after rebooting the node, but cilium neighbor management doesn't detect the change, and ARP cache keeps the old MAC address, which makes node to node traffic fails.
Furthermore, after handling gateway arping: https://github.com/cilium/cilium/pull/

[2020-12-09 08:30] jaffcheng commented on #14322
Related PR: https://github.com/cilium/cilium/pull/14224

[2020-12-09 09:39] aanm commented on #14317
Thanks for opening this GitHub issue. Do you want to try and submit a Pull Request to fix it?

[2020-12-09 11:23] brb commented on #14322
@jaffcheng Thanks for opening the issue. The linked PR might be not applicable in your case as it is now, as it targets deployments in which Cilium runs as a stand-alone loadbalancer and does not have a connectivity to kube api-server, and calling the API might overwrite the fields.

[2020-12-09 11:26] nebril opened #14324 "CI: K8sVerifier Runs the kernel verifier against Cilium's BPF datapath fails in k8s-all"
[code]

https://jenkins.cilium.io/job/cilium-master-K8s-all/527/

[2020-12-09 12:09] nebril commented on #14324
Looks like a 4 minute timeout is hit
[code]

[2020-12-09 12:12] brb opened #14326 "docs: Deprecate host-reachable services page"
Some content of https://docs.cilium.io/en/v1.9/gettingstarted/host-services/ already lives in the kube-proxy free GSG. We should move the missing content and then remove the former.

[2020-12-09 12:47] tklauser commented on #11847
Hit this on #14303 targeting `v1.9` branch: https://jenkins.cilium.io/job/Cilium-PR-K8s-1.12-net-next/1542/

[2020-12-09 13:22] qmonnet commented on #14314
Joe, did you have a chance to check if the output for `bpftool feature probe` was consistent on your setup?

[2020-12-09 13:34] brb commented on #14125
Managed to reproduce it locally running in the loop, continuing investigation.

[2020-12-09 14:13] aanm opened #14330 "CI: Checks service across nodes Tests NodePort BPF Tests with direct routing Tests LoadBalancer Connectivity to endpoint via LB"
[code]

[ce4f18e1_K8sServicesTest_Checks_service_across_nodes_Tests_NodePort_BPF_Tests_with_direct_routing_Tests_LoadBalancer_Connectivity_to_endpoint_via_LB.zip](https://github.com/cilium/cilium/files/5666414/ce4f18e1_K8sServicesTest_Checks_service_across_nodes_Tests_NodePort_BPF_Tests_with_direct_routing_Tests_LoadBalancer_Connectivity_to_endpoint_via_LB.zip)

cc @brb

[2020-12-09 14:14] #14309 closed

[2020-12-09 14:16] pchaigno commented on #14309
Was this closed by #14313 by mistake?

[2020-12-09 14:24] travisghansen opened #14331 "Add a configmap checksum to automatically roll daemonset"
## Proposal / RFE

**Is your feature request related to a problem?**
I’m trying to rollout cilium via gitops tools such as argocd/fleet/etc. currently when just the configmap is updated by altering helm values I need to manually roll all the pods for the settings to take effect which leaves clusters in unknown states if automation is managing things.

**Describe the solution you'd like**
https://h

[2020-12-09 14:38] alex1989hu commented on #14284
@aanm upgraded to `1.9.1 `, issue is still there, please check the attached sysdump
[cilium-sysdump-20201209-153320.zip](https://github.com/cilium/cilium/files/5666579/cilium-sysdump-20201209-153320.zip)

[2020-12-09 15:20] borkmann opened #14332 "cilium: SO_REUSEADDR/SO_REUSEPORT for gops"
Needs gops changes upstream, @tklauser will then re-sync these into Cilium's vendor infra.

https://github.com/cilium/cilium/pull/14329#pullrequestreview-548277456

[2020-12-09 15:48] brb commented on #14125
Switching arping implementation to https://github.com/cilium/cilium/pull/13112 didn't resolve the issue. Also, I see with tcpdump that the arping response, which waiting times out according to the failure log, is received by the host.

[2020-12-09 15:55] #14120 closed

[2020-12-09 15:56] #12596 closed

[2020-12-09 16:00] tklauser commented on #14332
Upstream PR: google/gops#132

[2020-12-09 16:43] brb commented on #12978
Unassigned @martin31821, as https://github.com/cilium/cilium/pull/12985 became abandoned.

[2020-12-09 17:19] nebril opened #14333 "FQDN Proxy HA"
Currently the FQDN proxy is bound to the Cilium Agent and is lost over agent restarts. Having the proxy state preserved over such restarts would be beneficial.

Up to discussion - replaying dns packets.

Related: #13194

[2020-12-09 17:28] jrajahalme opened #14334 "CI: K8sPolicyTest Multi-node policy test with L7 policy using connectivity-check to check datapath"
CI FAIL on a PR build (may relate to the PR itself)

- `pod-to-a-multi-node-proxy-egress-policy` fails readiness check
- PR changes the way bpf policy map entries are generated
  - https://jenkins.cilium.io/job/Cilium-PR-K8s-1.13-net-next/94/testReport/junit/Suite-k8s-1/13/K8sPolicyTest_Multi_node_policy_test_with_L7_policy_using_connectivity_check_to_check_datapath/
- This CI test runs on `netnex

[2020-12-09 17:36] joestringer commented on #14314
@qmonnet

[code]

Seems like the plain config probing is unsuccessful, but there are other datapoints that demonstrate that some core BPF functionality is present.

[2020-12-09 18:25] qmonnet commented on #14314
Ok thanks, so this looks like a problem with the way bpftool collects system info. @brandshaide I would suggest trying to reproduce the same setup, Ubuntu 20.10 (Not sure if microk8s is needed to reproduce), checking if the kernel config file is present, and why bpftool behaves that way. I'm happy to help debugging bpftool if needed.

[2020-12-09 18:39] nyrahul commented on #9580
Hello, Would like to understand if there has been any discussion of this front post the global daemon mode policy audit availability.

It may be problematic for the users to apply a daemon wide audit mode when only a single policy is to be staged. If a single policy is to be staged in production and if this requires enabling daemon wide audit mode, then it may be a security risk since it essential

[2020-12-09 18:41] ve2xe4 commented on #7519
Had this been de-prioritized? Don't see the issue in any GitHub project. Originally targeted for cilium 1.7 / 1.8.

[2020-12-09 20:03] christarazi opened #14336 "Multi-homing route table bug in ENI mode"
When allocating a new ENI device, we create a route pointing towards a ENI-specific route table. To allocate the table number, we currently use the ifindex. If the ifindex happens to be the same as the main routing table number, then instead of injecting a default route into the ENI-specific route table, we inject the route into the main routing table and mess with default routing for the entire n

[2020-12-09 21:39] pchaigno commented on #14100
@ArthurChiao Could you detail how you specified the list of security-relevant labels? I'm unable to reproduce with our `--labels` flag unless I explicitly exclude `reserved:host`. I don't think the patch at #14114 currently protects against explicit exclusion of `reserved:host` though.

[2020-12-09 22:53] samling opened #14339 "Cilium is using wrong interface for MTU detection"
## Bug report

We've deployed Cilium 1.9.1 via Helm in a bare metal Kubernetes 1.19.4 cluster running MetalLB as a load balancer. It's a 4-node cluster (one control + 3 worker nodes); each node runs Ubuntu 20.04.1 and has two primary interfaces, one for external connectivity and one to talk to our storage backend. These instances are provisioned using Ubuntu MaaS and the interfaces are aliased usi

[2020-12-09 23:09] joestringer opened #14340 "Cilium complains "IP is not L2 reachable" on startup"
Cilium 1.9.1
Linux 5.9
GKE

Cilium logged this warning:
[code]

As far as I can tell, this has no impact, it's just an extraneous warning.

Configmap:

[code]

[2020-12-09 23:28] samling opened #14341 "Pods can ping pod IPs but not cluster IPs even with policyenforcement disabled"
## Bug report

We have Cilium 1.9.1 deployed via Helm on a bare metal Kubernetes 1.19.4 cluster with MetalLB. Through the Helm chart we have set `policyEnforcementMode: never`, which is correctly reflected through `cilium config` on each agent. However, we have noticed the following disparity:

* We are able to ping from one pod directly to another pod IP:

[code]

* We are _not_ able to ping from

[2020-12-09 23:39] christarazi opened #14342 "Pod startup liveness-probe hold-off"
This gives the ability to hold off all the other probes until the pod has finished its startup. This affects only the Cilium pods, not workload pods. Implementing this would speed up for CI because it eliminates the initial delay.

See [KEP](https://github.com/kubernetes/enhancements/issues/950).
Se [K8s docs](https://kubernetes.io/docs/tasks/configure-pod-container/configure-liveness-readiness-st

[2020-12-09 23:43] christarazi opened #14343 "Optionally disable NodePorts for Service Type=LoadBalancer"
See [KEP](https://github.com/kubernetes/enhancements/issues/1864).

[2020-12-09 23:43] aditighag commented on #14239
I'm not sure we need it at the moment.

[2020-12-09 23:49] #14341 closed

[2020-12-10 00:16] joestringer commented on #14334
I was able to reproduce this in a GKE env (with kernel updated to support bpf-tproxy). I observed the missing HTTP policymap entry.

Couple of datapoints:
* Running `cilium endpoint regenerate <epid>` for the relevant endpoint didn't fix the issue.
* Deleting the pod (forcing k8s to redeploy) *did* fix the issue

[2020-12-10 00:18] jrajahalme commented on #14334
Do you think this has anything to do with bpf TPROXY? Updating policy maps should be independent of the redirection, right?

[2020-12-10 00:19] jrajahalme commented on #14334
Did you manage to repro this by running a single test, or were you running the whole suite?
Did you get logs?

[2020-12-10 00:20] jrajahalme commented on #14334
I updated the branch with some more debugging (2nd commit) maybe 30 minutes ago, it should enable endpoint PolicyDebug option by default if debug is enabled overall, could you repro with this and save the agent logs?

[2020-12-10 00:25] joestringer commented on #14334
I can't think of anything obvious that's related right now.

Yes, this is partly why I can't think of any reason BPF-tproxy is different.

Just focusing the one test.

Nope, but I can pull the latest version, repro & grab logs/sysdump.

[2020-12-10 00:26] jrajahalme commented on #14334
the fact that `regenerate` does not help tells me that somehow the entry gets into endpoint's realized policy maps? Or somehow no policy updates get to the maps? If you get to the fail state again, try adding a policy that should cause a bpf policy map change (any change) and maybe observe if the policy map is totally frozen?

[2020-12-10 00:29] joestringer commented on #14334
Yes, I observed this too.

[2020-12-10 00:32] joestringer commented on #14334
[cilium-sysdump-20201209-163130.zip](https://github.com/cilium/cilium/files/5669507/cilium-sysdump-20201209-163130.zip)

[2020-12-10 01:49] fafucoder commented on #14317
@aanm Thanks for reply. I'd like to fix it

[2020-12-10 03:25] ArthurChiao commented on #14100
All my previous tests were based on `config-map`,

[code]

[code]

where, `[our-specific-labels]` is a list with all labels in the format like `k8s:xxx.ourcorp.com/yyy`. I can send the intact label list or any other configuration via DR if you are interested. @pchaigno Thanks!

[2020-12-10 04:54] jaffcheng commented on #14322
Got it, thanks for the clarification. We'll try recreating the corresponding k8s/cilium node after MAC address changes and see if it works around.

[2020-12-10 06:26] james-callahan opened #14344 "CiliumIdentities should print namespace of entity in kubectl output"
Running e.g. `kubectl get ciliumidentities` doesn't tell you much about the resources.
Add in some `additionalPrintColumns` so that users get more information:

[code]

[2020-12-10 06:40] jrajahalme commented on #14334
This was caused by "add redirects" code adding entries to the "desired state" map when it is actually the same pointer as "realized state", so there will be no diff between the two after that change. Existing code actually depends on the incremental path passing through redirect entries even if they already exist in the desired state. For the sake of backport stability we retain this old behavior

[2020-12-10 10:10] pchaigno commented on #14340
/cc @brb who introduced that code in b78b3b7f25 (from https://github.com/cilium/cilium/pull/14201).

[2020-12-10 10:21] aanm commented on #14284
@alex1989hu which identity is it in that sysdump?

[2020-12-10 11:16] brb commented on #14340
@joestringer Do you still have it running? I'm interested in `ip route` and `ip addr` outputs.

[2020-12-10 11:30] brandshaide commented on #14314
@qmonnet @joestringer

just tested with `microk8s` which, by default at least when installed with `brew`, comes with:

[code]

(wil test this also with `Ubuntu 20.10` )

and I can reproduce the issue:

`KernelConfigAvailable()` not being able to laod the config file:

[code]

and when I'm looking for the actual config file, it's not present:

[code]

[2020-12-10 11:41] alex1989hu commented on #14284
Based on Slack discussion, reproduced the issue again. The difference is that it became fixed, somehow "automagically" but here is the proof that is I got `deny` verdicts.

2020-12-10T11:24:36.656Z
Verdict
dropped
Drop reason
Policy denied
Traffic direction
egress
TCP flags
ACK
Source pod
argocd-repo-server-75ff7d8b4c-7jtf5
Source identity
13646
Source labels
name=argocd-repo-server
io.cilium.k8s.

[2020-12-10 11:42] aanm commented on #14344
@james-callahan that sounds a reasonable feature to have. Do you want to try out submitting a pull request for it?

[2020-12-10 11:50] brb commented on #14322
A periodical arping could be a long term solution to the problem. Do you mind doing a PR for it?

[2020-12-10 11:53] james-callahan commented on #14344
It appears that you don't maintain the CRDs in the repository; but instead generate them from Go code. I'll leave that to someone else that actually wants to write Go.

[2020-12-10 11:54] pchaigno commented on #14340
On a 2-node GKE cluster with default config and the connectivity checks deployed:
[code]
[code]
[code]

[2020-12-10 12:00] pchaigno commented on #14314
Couldn't we rely on the actual bpftool probes instead of the kernel config file? The former is always possible while the later may not always be available.

[2020-12-10 12:02] alex1989hu commented on #14284
Update, it started to drop again:

Timestamp
2020-12-10T12:01:10.208Z
Verdict
dropped
Drop reason
Policy denied
Traffic direction
ingress
TCP flags
ACK
Source pod
argocd-application-controller-94656465d-8x7hw
Source identity
27019
Source IP
10.0.0.155
Destination pod
argocd-repo-server-75ff7d8b4c-mstrm
Destination identity
40643
Destination labels
name=argocd-repo-server
io.cilium.k8s.policy.clust

[2020-12-10 12:35] aanm commented on #14284
@alex1989hu this happens because the pod labels change and therefore the identity changes as well until this new identity is propagated to all nodes, they will show as "denied".

[2020-12-10 12:37] alex1989hu commented on #14284
Could you please send me the label changes *(from -> to)*?

[2020-12-10 12:38] aanm commented on #14284
[code]

[2020-12-10 12:48] alex1989hu commented on #14284
It can not figure out what changed here *(from->to)*.

Anyway, the labels you pasted is always the same, it does not contain any version, revision, datetime , number etc. It contains namespace, the label we are filter (see the initial post) and cilium related things like `k8s:io.cilium.k8s.policy.cluster=default`.

I am pretty sure that I do not change namespace,`"app.kubernetes.io/name"` label an

[2020-12-10 14:16] brandshaide commented on #14314
@qmonnet @joestringer tried to reproduce this using `minikube`:

[code]
`bpftool`  all fine:

[code]

`cilium kernel-check` likeweise (outut as expected):

[code]

[2020-12-10 14:18] brandshaide commented on #14314
If we decide to go for that which seems to be a good idea IMHO, I'd like to work on this 🙂
/cc @joestringer @pchaigno @qmonnet

[2020-12-10 14:29] aanm commented on #14284
The namespace `argocd` has added a new label: `app.kubernetes.io/instance=argocd-app`

[2020-12-10 15:12] fristonio opened #14350 "Implement BPF based masquerading for IPv6 traffic"
Follow up from #14124

[2020-12-10 15:58] aanm commented on #14344
For future reference, this requires something similar as this line in the CiliumIdentities https://github.com/cilium/cilium/blob/bafc8813f5b044bd396deefbfe50f6426d7024a5/pkg/k8s/apis/cilium.io/v2/cnp_types.go#L38

[2020-12-10 16:08] jrajahalme commented on #13275
Same failure here, but with K8s 1.13 & netnext: https://jenkins.cilium.io/job/Cilium-PR-K8s-1.13-net-next/119/testReport/junit/Suite-k8s-1/13/K8sServicesTest_Checks_service_across_nodes_Tests_NodePort_BPF_Tests_with_vxlan_Tests_with_secondary_NodePort_device/

[code]

[2020-12-10 16:10] brb commented on #14340
@pchaigno Many thanks!

The problem is that eth0 has IP addr `10.164.0.79/32` and the next hop is `10.164.0.1`, and because of `/32` the check https://github.com/cilium/cilium/blob/v1.9.1/pkg/datapath/linux/node.go#L595 thinks that they both are in different L2. I think it's safe to remove the check, as in any case the nexthop should be L2 reachable.

[2020-12-10 16:37] gandro opened #14353 "Document Hubble API semantics"
The [Hubble protobuf API](https://github.com/cilium/cilium/blob/master/api/v1/observer/observer.proto) is not very well documented in terms of semantics. Especially the semantics around AND-/OR-ing filters is not documented outside of some source code.

https://github.com/cilium/cilium/blob/04840b96530031a84bc359c476a59d320617d2db/api/v1/observer/observer.proto#L92-L99

https://github.com/cilium/c

[2020-12-10 17:15] #14332 closed

[2020-12-10 17:15] #14218 closed

[2020-12-10 17:41] #14334 closed

[2020-12-10 18:04] aditighag opened #14355 "Node-local-dns cases and test coverage"
Here is a scenario where I think the socket-lookup based loop fix might break things for the node-local-dns case - When a request from `node-local-dns` cache pod is translated to cluster dns backend that is co-located with the pod, we'll skip translation as both the pods are deployed in the same network ns, and traffic will break. **We would hit this only on clusters that are running kernel > v5.1

[2020-12-10 18:13] joestringer opened #14357 "Warn when sync controllers apply changes to maps"
There are a few controllers (in particular `sync-policymap-*`, possibly also `sync-lb-maps-with-k8s-services`, `sync-endpoints-and-host-ips`) which perform periodic comparisons between userspace desired state and actual datapath state. These allow Cilium to be more robust in production environments by providing a backup mechanism to ensure that we constantly conform the datapath to the desired sta

[2020-12-10 18:25] joestringer opened #14358 "Enhance sync-policymap-* to evaluate missing policymap entries"
By my recent reading of the `sync-policymap-*` controllers, the code will dump & iterate policymap entries and compare them against the desired state of the policymap for a given endpoint and delete any entries in the map which should not be present. However, there is no process to do the reverse: Iterate the desired policymap entries and check for missing entries from the map. This issue proposes

[2020-12-10 19:26] joestringer commented on #14314
I think it's not such a bad idea. As far as I know, not all distros ship a kernel config file.

The main question for me is whether the same base features are all able to be probed via the other (non-config) mechanisms. They probably are, maybe it's worth @brandshaide going through as a first pass to see if you can identify which bits of `bpftool feature probe` output look like they're similar to

[2020-12-10 19:35] jrajahalme commented on #12511
Hit on: https://jenkins.cilium.io/job/Cilium-PR-K8s-1.13-net-next/126/testReport/junit/Suite-k8s-1/13/K8sServicesTest_Checks_service_across_nodes_Tests_NodePort_BPF_Tests_with_direct_routing_Tests_with_secondary_NodePort_device/

[2020-12-10 22:19] fristonio opened #14369 "Cilium install Helm chart autogenerated readme has incorrect field descriptions"
The README that is autogenerated for the Cilium helm chart contains incorrect descriptions for some of the values fields. This happens when there is a commented-out field the exists just before a value field.

* Description in the README

![image](https://user-images.githubusercontent.com/21292343/101836542-960a7180-3b63-11eb-8ec4-aef41e605ee5.png)

* `values.yaml` file

![image](https://user-imag

[2020-12-10 23:12] joestringer commented on #14369
I have a thought how to address this by just uncommenting the defaults. The difficulty is how this affects the configuration of such values during upgrade of existing clusters.

To do this safely, we would need to ensure that the upgrade guide prioritizes the user's existing settings for these values, which I *think* might be possible now by requesting helm to fetch the "effective" values for all

[2020-12-10 23:13] joestringer commented on #14369
Other obvious path would be just to fix up the upstream tool we use to generate the README.

[2020-12-11 03:59] jrajahalme commented on #12511
Same but exit code 7: https://jenkins.cilium.io/job/Cilium-PR-K8s-1.13-net-next/145/testReport/Suite-k8s-1/13/K8sServicesTest_Checks_service_across_nodes_Tests_NodePort_BPF_Tests_with_direct_routing_Tests_with_secondary_NodePort_device/

[2020-12-11 04:10] jrajahalme commented on #12511
Another one: https://jenkins.cilium.io/job/Cilium-PR-K8s-1.13-net-next/131/testReport/junit/Suite-k8s-1/13/K8sServicesTest_Checks_service_across_nodes_Tests_NodePort_BPF_Tests_with_direct_routing_Tests_with_secondary_NodePort_device/

[2020-12-11 04:19] jaffcheng commented on #14322
@brb Sure, I'll take this.

[2020-12-11 04:27] joestringer commented on #9580
Hi @nyrahul , I'm not aware of any ongoing discussions. If you're interested in tackling this problem, we'd be happy to discuss a proposal and this issue would be as good a place as any to discuss (though we can also discuss via Slack or Google Docs if that's more convenient).

[2020-12-11 04:32] #14245 closed

[2020-12-11 05:50] brb commented on #12511
![np-sec](https://user-images.githubusercontent.com/122571/101868164-07a2e980-3b7d-11eb-8583-6a6a989da86e.png)

This started to happen more often since 7. / 8. Dec.

[2020-12-11 05:59] nyrahul commented on #9580
Sure, maybe I ll first prepare some initial analysis and then seek inputs on the proposal (using slack/google docs, like you mentioned). Thanks for the response.

[2020-12-11 08:37] pchaigno commented on #13493
@joestringer Do you remember if you saw this in a particular context (CI pipeline, specific test, etc.)? I took four arbitrary, successful builds and search for the debug message, but couldn't find it at all.

[2020-12-11 09:42] uablrek commented on #13406
Is it considered a bug that Cilium requires the masters(s) to be included in the cluster?

If not, you may close this issue. But please document if not already done.

There are use-cases for having masters separated, e.g for HA and security.

[2020-12-11 09:48] #14251 closed

[2020-12-11 11:47] ipochi opened #14373 "Cilium Operator panics when creating a CCNP with large list of CIDR for egress deny"
## Bug report

**General Information**

- Cilium version (run `cilium version`) - v1.9.0
- Kernel version (run `uname -a`) - 5.9.11
- Orchestration system version in use (e.g. `kubectl version`, Mesos, ...) Kubernetes v1.19.4
- Link to relevant artifacts (policies, deployments scripts, ...)

How to reproduce the issue:

1. Create a CCNP with 50000 CIDR entries for egress deny (i.e two polices one

[2020-12-11 12:01] aanm commented on #14373
@ipochi do you have the CCNP as well?

[2020-12-11 12:02] ipochi opened #14374 "Egress prefilter to support the use case of Non Reputation List"
## Proposal / RFE

**Is your feature request related to a problem?**

[Non Reputation List](https://www.icann.org/news/blog/reputation-block-lists-protecting-users-everywhere) is quite common to allow a use case of deny a list of CIDRs whilst allowing others.

I understand that Cilium support having a prefilter for Ingress filtering based on XDP routing.

**Describe the solution you'd like**

A si

[2020-12-11 13:06] ipochi opened #14377 "Increase maximum limit of CIDR entries per endpoint."
## Proposal / RFE

**Is your feature request related to a problem?**

To support a use case of implementing  egress/ingress a [Non Reputation List](https://www.icann.org/news/blog/reputation-block-lists-protecting-users-everywhere) in a Kubernetes cluster where the list of CIDRs could be very large, having `65536` as the maximum limit of entries per endpoint is not desired.

I would like to know t

[2020-12-11 14:15] aanm commented on #14219
This was reverted by #14371

[2020-12-11 14:33] brb commented on #14339
@samling Thanks for the detailed report.

The problem is that the MTU detection happens before cilium-agent parses / detect "devices". We should check whether it's safe to postpone the MTU detection after we have finished with the devices detection.

[2020-12-11 17:11] samling commented on #14339
Thanks @brb. Is there a way we can manually specify the MTU in the meantime?

[2020-12-11 17:18] brb commented on #13898
@gandro Have you fixed this?

[2020-12-11 18:06] brb commented on #14339
Yes, there is the `--mtu` flag for cilium-agent.

[2020-12-11 18:21] kovalyukm opened #14379 "Cilium 1.9.1 does not work in AWS-CNI Chaining with aws-node 1.7.5 on EKS 1.18"
## Bug report

Cilium 1.8.6 and 1.9.1 does not work on upgraded EKS cluster:
Kubernetes version | 1.18
Amazon VPC CNI plug-in | 1.7.5
DNS (CoreDNS) | 1.7.0
KubeProxy | 1.18.9

Installation and upgrading according to Cilium [doc](https://docs.cilium.io/en/v1.9/gettingstarted/cni-chaining-aws-cni/#setup-cluster-on-aws)

CoreDNS pods and newly-created pods stuck in ContainerCreating with errors like:

[2020-12-11 18:40] adamwgray commented on #14339
The problem is not the MTU it was simply the thing that tipped us off that the incorrect interface is being detected. Basically the interface flag is being ignored and it seems to pick whichever interface it finds first. We have multiple interfaces in the systems Storage on one side of the host and access on the other. With all the internal virutal interfaces showing up with the wrong MTU we think

[2020-12-11 18:52] joestringer commented on #14379
Hi @kovalyukm , thanks for the report. This issue is caused by the upstream aws-cni plugin, as reported here: https://github.com/aws/amazon-vpc-cni-k8s/issues/1314 . It looks like the fix has been merged and they are planning to release a new version of the aws-cni plugin to address this issue (likely to be v1.7.8). In the mean time, it looks like there is a mitigation posted on the linked issue a

[2020-12-11 18:52] #14379 closed

[2020-12-11 19:01] joestringer commented on #13493
@pchaigno At the time I didn't think that the particular context would be very helpful since side-by-side test runs had different behaviour, so I didn't post it. By this point I don't have it on hand.

My original thought was that it seems like there was a bimodal behaviour: Either some dependency was satisfied for the cilium-health API to immediately serve, or if that dependency is not satisfied,

[2020-12-11 22:57] christarazi opened #14383 "Investigate workaround in privileged tests for netlink.RuleAdd() returning EINVAL"
See https://github.com/cilium/cilium/pull/14337#discussion_r541360235. For now the workaround is to shell out to `ip rule add` instead of using the netlink library.

[2020-12-12 00:18] ungureanuvladvictor commented on #14243
@brb -- after reading AWS docs I was able to confirm that this happens just for packets that are arriving on the machine, this check is not taken into consideration where the source is different.

[2020-12-12 09:24] pchaigno opened #14384 "Spam "Cilium DaemonSet not ready yet" in test outputs"
If you looked at test outputs recently, you may have noticed that the output is spammed with:
[code]

This is caused by https://github.com/cilium/cilium/commit/002bd9c37c4d56c12878da1ec24772f7c7369d97, which changed `WaitForCiliumReadiness` to use `gomega.Eventually` instead of `helpers.RepeatUntil`. The issue is that contrary to `RepeatUntil`, `Eventually` repeats the check continuously with only

[2020-12-12 09:39] pchaigno commented on #14383
For quicker, future reference: we'd like to replace the `tc` call with the following (or similar):
[code]

[2020-12-12 09:41] pchaigno commented on #14339
The MTU is not derived from the interfaces passed to `--devices` AFAIK. Do you have something else that makes you think packets are sent out the wrong interface?

[2020-12-12 20:11] #12423 closed

[2020-12-13 11:58] jrajahalme commented on #10442
Hit during backport #14389: https://jenkins.cilium.io/job/Cilium-PR-Ginkgo-Tests-K8s/3799/testReport/junit/Suite-k8s-1/16/K8sServicesTest_External_services_To_Services_first_endpoint_creation_match_service_by_labels/

[2020-12-13 13:11] ZaMaZaN4iK commented on #7519
Any updates? Is there any plans about Wireguard integration into Cilium?

[2020-12-14 09:10] kAworu opened #14392 "fix TLS server name for cluster names containing dots in Helm and certgen cert generation"
https://github.com/cilium/cilium/pull/14378 introduced a fix on the peer service side for cluster names containing dots.

We need to check and possibly fix this as well in both [certgen](https://github.com/cilium/certgen) and the Helm certificate generation in order for them to match the names that will be provided by the peer service once https://github.com/cilium/cilium/pull/14378 is merged.

/c

[2020-12-14 11:15] gandro commented on #13898
I think so. Unfortunately, we have not yet been able to quarantine it yet.
The fix of the underlying issue described here landed in #14187 - see https://github.com/cilium/cilium/issues/13833#issuecomment-733809602 for the in-depth description.

However, right after the fix landed, PR #13878 broke the preflight check on GKE, thus also breaking the upgrade test. That second one needed two follow-up

[2020-12-14 11:35] brb commented on #14243
@ungureanuvladvictor Thanks for the update. Then the check needs to be disabled only for this:

[2020-12-14 15:50] brb opened #14395 "LoadBalancer service IP announcements via BGP"
Details TBD.

[2020-12-14 15:53] brb opened #14396 "maglev: Allow to configure lookup table size for each service individualy via service annotations"

[2020-12-14 16:02] brb opened #14397 "maglev: Improve agent scalability"
This is an issue to track Maglev related scalability improvements for the agent:

- [x] Figure out all heavy hitters when running on ZH lab machines (@glibsm @christarazi,@brb)
- [x] Parallelize `maglev.getPermutations()`, as suggested by @christarazi (@christarazi,@brb)
- [ ] Use batch ops or mmap for Maglev lookup table updates (@brb)

[2020-12-14 16:10] brb commented on #14136
@gpl externalIP service translation from inside a cluster is not allowed if externaIP does not belong to the node. See for more details: https://twitter.com/ciliumproject/status/1337054087590899715.

[2020-12-14 16:10] #14136 closed

[2020-12-14 16:17] gpl commented on #14136
@brb Could you clarify what "belongs to" means?  In the above cluster the externalIPs service should be on every host.

In either case, this would make it impossible to query apis from the host itself... is there any better way to allow this?

[2020-12-14 16:24] brb commented on #14136
This is a corner case when externalIP = nodeIP, so this is accessible only from a single node with the nodeIP.

DNS + ClusterIP?

[2020-12-14 16:32] #14373 closed

[2020-12-14 16:42] brb commented on #13294
@aditighag I assume this issue is still relevant?

[2020-12-14 16:48] mestery commented on #1797
Just checking in here to see if there is a link to a proposed fix or anything to try out before it lands upstream. Thanks for all your hard work @jrfastab! :)

[2020-12-14 16:49] brb opened #14398 "lbmap: Change backend ID from u16 to u32"
Revive the abandoned PR https://github.com/cilium/cilium/pull/8041.

[2020-12-14 16:52] aditighag commented on #13294
@brb Yes, thank you. It's mainly a placeholder bug.

[2020-12-14 16:57] gpl commented on #14136
Sorry, I'm not quite clear on what this means.  In this case, I don't believe the nodeIP and externalIP are equal?  Unless I'm misunderstanding the concepts here.

We have the following nodes with their respective nodeIPs:
k8s-1: 20.0.0.1
k8s-2: 20.0.0.2
k8s-3: 20.0.0.3

We also have an ingress/envoy instance on every host.  In this instance, it's 40.0.0.1.  When we query that ip from the hosts th

[2020-12-14 16:57] brb opened #14399 "Add IPv6 support to ip-masq-agent"
Once https://github.com/cilium/cilium/issues/14350 has been resolved, we can add IPv6 support to Cilium's ip-masq-agent.

[2020-12-14 17:37] brb commented on #14004
Fixed by https://github.com/cilium/cilium/pull/12832.

[2020-12-14 17:37] #14004 closed

[2020-12-14 18:05] brb opened #14401 "Refactor service management"
- [ ] Move all service-related logic from k8s watchers to pkg/service (e.g. create `0.0.0.0:NodePort` service frontend from pkg/service)
- [ ] Consider removing pkg/k8s/service_cache from the k8s watchers -> pkg/k8s/service_cache -> pkg/service chain.

[2020-12-14 18:06] rolinh opened #14402 "doc: document that tcp:4244 needs to be open on the host to allow Relay to connect to peers"
Hubble Relay will fail to connect to peers if a host firewall is blocking `tcp:4244`. The documentation should contain a heads-up/note about this so that users using a host firewall don't forget to open `tcp:4244` when enabling Hubble Relay.

[2020-12-14 18:09] kovalyukm opened #14403 "Cilium 1.9.1 in AWS ENI mode does not work on EKS 1.18"
## Bug report

I've installed Cilium using [doc](https://docs.cilium.io/en/v1.9/gettingstarted/aws-eni/#k8s-aws-eni).

But containers stuck in ContainerCreating with errors like:
Failed to create pod sandbox: rpc error: code = Unknown desc = failed to set up sandbox container "414a049244c4df27d709620bed1d9e62bc70ce2226da138686974499161ff30a" network for pod "node-problem-detector-hfxkm": networkPl

[2020-12-14 19:57] Weil0ng commented on #14234
Finally managed to replicate net-next kernel locally, I tried the working setup (kubeproxy-free + partial hostReachableServices + ipv4) and it seems to be working just fine.

But I think @pchaigno you did manage to reproduce the issue using same setup on net-next in CI? I'm a bit confused though why this would fail on next kernel, doesn't net-next kernel have the higher inst limit (1M)?

[2020-12-14 20:14] pchaigno commented on #14234
Did you try with IPv6 enabled? I think that's the configuration in which the issue was happening, right?

Yes, net-next kernel, but it was with the development VM.

We are going above the 1M instructions limit.

[2020-12-14 20:18] Weil0ng commented on #14234
It's gonna take some additional effort for me to run ipv6 in my env, I'll try but might take some time...

But yet at least we know without IPv6, we are good, so is there a big difference in terms of logic between ipv4/6 in bpf_lxc?

[2020-12-14 20:25] Weil0ng commented on #14234
based on https://github.com/cilium/cilium/pull/13882#discussion_r529793208, it seems like you also did not turn on ipv6 and it failed too? @pchaigno

[2020-12-14 23:40] samling commented on #14339
Thanks @pchaigno and @brb. We verified this morning that traffic is indeed going over the desired interface and that only the MTU is being derived from the wrong one. After setting the MTU manually, everything looks good.

[2020-12-15 02:15] YesemKebede opened #14406 "Cilium didn't update CEP IP address when a pod restarted"
## Bug report

We have cilium polices for some of our pods and we started getting socket timeout errors and looking in to it, we saw the following drops
[code]

The cilium policy was applied to the pod A with IP address `10.20.163.181` and pod B was trying to talk to pod A. Listing CEPs for both pod A and B shows that they both had the correct ip addresses. However,  cilium seemed to think that th

[2020-12-15 08:23] gpl commented on #14136
@brb I believe this is the opposite of what is happening.  In our case, if we have service x pointing to pod y on host k8s-1, k8s-1 cannot reliably access k8s-1 its service x on v4, but it goes through sometimes.  Both k8s-2 and k8s-3 are able to access the service reliably.  Additionally, on any node, accessing a v6 external ip seems to work all the time.

Is the intended behavior is to never all

[2020-12-15 10:30] aanm commented on #14406
@YesemKebede what is right IP address of pod B?

[2020-12-15 10:42] pires opened #14410 "cilium-agent gets scheduled to nodes running OSes other than Linux"
## Bug report

[`cilium-agent` is deployed through a DaemonSet](https://github.com/cilium/cilium/blob/master/install/kubernetes/cilium/templates/cilium-agent-daemonset.yaml). Currently, there doesn't seem to be a way for a cluster admin to ensure it only gets scheduled onto Linux nodes. Why?
- DaemonSet doesn't set a `nodeSelector` to avoid OSes other than Linux, ie
[code]
  FYI the kubelet sets t

[2020-12-15 11:11] zhujik opened #14411 "connectivity issues with multiple ipv4 CIDR on AWS ENI"
we are using cilium 1.8.4 on AWS EKS 1.18 with ipam mode set to ENI. The linux kernel version of the nodes is 4.14.198-152.320.amzn2.x86_64
We are running cilium with settings for hubble-metrics and also with first-eni-index 0.

We have two subnets on the same VPC for the cluster:
* 192.168.0.0/16 (main CIDR)
* 100.80.0.0/16 (secondary CIDR)

The second subnet was attached at some point after clus

[2020-12-15 12:39] kAworu opened #14414 "Enable and disable Hubble without having to restart the Cilium Pods"
Currently, enabling hubble require to restart the Cilium pod. There are cases where we have hubble disabled on TCP (e.g for security reasons) but need to enable it temporarily to debug issue or simply want a smooth transition.

We work around this limitation by enabling hubble with mTLS _without generating the certificates_, as this will make hubble wait until the certificates show up before liste

[2020-12-15 12:53] jaffcheng commented on #14322
Hi, @brb some of my thoughts on fixing this:
First of all, I think periodically sending arping to all neighbors(nodes/gws) should be able to fix this, if a neighbor changes its MAC address, the connectivity would be interrupted and recover after next arping cycle. Given that we cannot drive arp resolution in BPF program, I don't see a way to avoid this interruption. My concern with this approach i

[2020-12-15 15:08] YesemKebede commented on #14406
@aanm the Ip address for pod B was `10.20.149.191` from `kubectl get CEP` but the drops showed `10.20.146.233` as its ip address. But pod A IP was `10.20.163.181`  just double checked. Uploded a new [sysdump](https://github.com/cilium/cilium/files/5696580/cilium-sysdump-20201215-094146.zip) incase If I made a mistake on the first one. Also we restarted pod B before capturing the sysdump so if the

[2020-12-15 15:21] smira opened #14417 "cilium 1.8.2-1.9.1, Linux 5.9.x, outbound traffic being dropped from docker container in a pod"
## Bug report

**General Information**

- Cilium version (run `cilium version`): 1.8.2, 1.8.6, 1.9.1
- Kernel version (run `uname -a`): 5.9.3, 5.9.11
- Orchestration system version in use (e.g. `kubectl version`, Mesos, ...): K8s 1.19.4, 1.20.0
- Link to relevant artifacts (policies, deployments scripts, ...)
- Generate and upload a system zip:

**How to reproduce the issue**

Kubernetes cluster w

[2020-12-15 17:36] brb commented on #14417
@smira Can you include sysdump?

[2020-12-15 17:51] smira commented on #14417
@brb I can do this later today, it is reproducible in a VM-based cluster

[2020-12-15 17:54] brb commented on #14322
My main concern about gratuitous ARP requests is that they might get blocked by distros or routers due to easy to do spoofing. Do you have it enabled in your network?

[2020-12-15 18:43] joestringer commented on #14384
IMO the only piece of information that multiple messages will provide is some timestamping on how long this step takes. In retrospect sometimes this is useful to know. Printing several times a second is not necessary for this, probably printing once every 5-10 seconds is probably sufficient. Arguably printing once and then relying on the next step to run and print the next step's timestamp would a

[2020-12-15 18:51] aditighag commented on #14322
How often do we want these arp packets to be sent out? There can still be connectivity drop when a mac address change occurs in between two subsequent refresh pings. I wonder if we could listen for `fib_lookup` ARP failure events, and trigger an arp ping immediately?

[2020-12-15 19:03] joestringer commented on #14403
Hi @kovalyukm , thanks for the report. This looks like a regression in Cilium 1.9.1 that requires further investigation.  Can you confirm whether you are able to work around this by using Cilium 1.9.0?

[2020-12-15 19:18] smira commented on #14417
Update: with `kubeProxyReplacement=disabled` my original test case works, but eventually the same issue appears when outbound connections get stuck, it is once again docker container inside a pod, this time failing randomly on `apk update`, `go mod download`, nothing in `cilium monitor --type drop`

[2020-12-15 19:26] smira commented on #14417
@brb sysdump

[cilium-sysdump-20201215-222435.zip](https://github.com/cilium/cilium/files/5698098/cilium-sysdump-20201215-222435.zip)

[2020-12-15 20:53] pchaigno commented on #14384
Here is an extract from the test logs from yesterday:
[code]

All test steps are timestamped, so we can already figure out how long we waited for Cilium to be ready by checking the difference between `Waiting for Cilium to become ready` and `Number of ready Cilium pods`'s timestamps.

We've now reduced the frequency of these messages to once per second. AFACS, this is still ~45 such messages for e

[2020-12-15 21:23] joestringer opened #14422 "Make test ordering and fatal errors in CI more obvious"
In the following job, two tests failed:
* K8sDemosTest
* K8sUpdatesTest

https://jenkins.cilium.io/job/Cilium-PR-K8s-1.17-kernel-4.19/75

As it turns out, the updates test failed because of Cilium going into CrashLoopBackoff and fataling. However the CI does not bubble this error up to the top and make it obvious:

[code]

* The Updates test is not directly linked under the "Test result" section,

[2020-12-15 21:27] aditighag commented on #14422
Indeed! We seem to be filtering error messages as seen from this comment in the test output -

`FAIL: Found 20 Cilium logs matching list of errors that must be investigated`

Fatal messages should be highlighted more prominently.

[2020-12-15 21:37] kovalyukm commented on #14403
Hi @joestringer ,
Yes, seems working with Cilium 1.9.0.
Thanks.

[2020-12-15 23:32] #12338 closed

[2020-12-15 23:32] #13316 closed

[2020-12-16 04:20] jaffcheng commented on #14322
You are right, I believe our network devices would accept unsolicited and gratuitous arp, but I checked our node configuration and it seems the default configuration would discard them.

[2020-12-16 05:24] jaffcheng commented on #14322
Hi @aditighag , I agree with your idea of making the behavior as close to kernel neighbor module as possible, this should reduce drops. Maybe we could notify on `DROP_NO_FIB`. @brb

[2020-12-16 06:24] brb commented on #14322
If we get notified about `DROP_NO_FIB`, then IMHO it's already too late. Heavy loaded nodes might drop a significant portion of a traffic. Just to remind, the case for which we introduced the arping is when an intermediate node needs to forward a NodePort/LoadBalancer/externalIP request to a destination node (IPSec has it's own use case though). Both nodes are managed by Cilium.

I'd suggest to so

[2020-12-16 08:08] brb commented on #14136
What happens here is that the socket lb (aka host-reachable svc) bypasses the translation for the service x on all hosts (the MITM mitigation), so the request with dst = externalIP is sent out from the hosts. In the case of k8s-{2,3}, the request is routed to the k8s-1 which is properly handled by the NodePort BPF program (aka N-S LB). While in the case of k8s-1, the request is sent back to the sa

[2020-12-16 08:46] jaffcheng commented on #14322
Thanks for the detailed write-up! Will start working on the first step.
I would prefer keeping `NUD_PERMANENT` to make sure arp entries are never GCed even when cilium-agent is down.

Just to clarify, I think the main purpose of notifying the control-plane about `DROP_NO_FIB` is to eliminate drops between MAC address change and next arping, I'm not sure if this can be detected by seen packet from

[2020-12-16 09:33] brb commented on #14322
:+1:

In the case of a stale permanent ARP entry, you won't see `DROP_NO_FIB`, as `bpf_fib_lookup()` will return the stale entry.

[2020-12-16 11:04] gandro opened #14427 "Hubble's identity lookup seems inconsistent with datapath"
PR #14090 introduced a check in the Hubble parser to emit a debug log message when the numeric identity of the datapath is inconsistent with the identity Hubble mapped to the observed IP.

I have found that this message is hit very often in current master, indicating a bug in Hubble's mapping from IP to identity. The following output is from the connectivity-check.yaml.

[code]

These messages are

[2020-12-16 11:04] brb commented on #14417
I didn't find `147.75.98.173` in the given sysdump. Anyway, from the drops you pasted, it might be an MTU issue. I see that `tunl0` and `sit0` devices have lower MTU (1480) than cilium managed devices MTU (1500). Maybe try setting MTU in the ConfigMap of Cilium (`mtu: 1480`).

[2020-12-16 11:19] brb opened #14429 "Arping equivalent for IPv6"
Currently we don't do any neigh discovery for IPv6 for NodePort / IPSec. So in the IPv6 mode we are relying on the fact that L2 entry for a destination node exists which obviously is not reliable.

Instead, we should introduce an equivalent of arping for IPv6 which should be based on NDP.

[2020-12-16 12:34] ScottKGregory opened #14430 "Cilium helm chart should support creating cni configmap"
## Proposal / RFE

**Is your feature request related to a problem?**
While trying to set up cilium cni to use eth0 for pod IP allocation I cam across this [comment](https://github.com/cilium/cilium/issues/10426#issuecomment-609415599) which outlines a solution.

**Describe the solution you'd like**
Because this needs to be applied to the cluster before/during cilium's installation I propose adding

[2020-12-16 15:35] pchaigno commented on #14402
That requirement is already documented here: https://docs.cilium.io/en/latest/operations/system_requirements/#firewall-requirements. Is the idea of the present issue to document it in the following two sections?
- https://docs.cilium.io/en/latest/operations/troubleshooting/#observing-flows-with-hubble-relay
- https://docs.cilium.io/en/latest/gettingstarted/hubble/#inspecting-the-cluster-s-network-

[2020-12-16 15:40] Rolinh commented on #14402
@pchaigno This is easily missed by users who follow a getting started guide and enable relay (probably even more so if relay is enabled after the fact). Adding a link to this page is probably a good idea but I feel like there should be a `note` that mentions it in the hubble relay install instructions.

[2020-12-16 16:29] lyind commented on #7519
We are using Wireguard in an IPv6-only K8s + Cilium setup to protect routes between the cluster and certain node-balancer nodes.

Right now that requires maintaining explicit routes via the wireguard interface and into the pod-networks of each node in the cluster.

The usual "connect all pods via encrypted links" feature wouldn't make too much sense for us, as we require fast (10G+) links between

[2020-12-16 16:37] elfadel commented on #14344
@aanm Could you assign this issue to me? Thanks.

[2020-12-16 20:33] joestringer opened #14435 "Cilium crashes when trying to `hubble observe`"
Cilium development version during v1.10 dev cycle.

[code]

I was running several `hubble observe` commands in a row, for example:

[code]

Then Cilium crashed:

[code]

This is in a local microk8s cluster with the `examples/kubernetes/connectivity-check/connectivity-check-single-node.yaml` apps deployed in the default namespace.

[2020-12-16 22:24] aditighag commented on #14422
I looked at how we highlight certain errors, and as it turns out, we have a repository of static strings [1] to match these errors. However, there doesn't seem to be any straightforward way (e.g., marker) of distinguishing fatal messages from regular error messages. I'll continue to look into this.

[1] https://github.com/cilium/cilium/blob/master/test/helpers/cons.go#L296

[2020-12-17 01:26] aditighag commented on #11975
Hit on the PR - https://jenkins.cilium.io/job/Cilium-PR-Ginkgo-Tests-K8s/3818/

https://jenkins.cilium.io/job/Cilium-PR-Ginkgo-Tests-K8s/3818/

[2020-12-17 08:00] sunvim opened #14437 "there are two network on the K8S cluster host machine, the one can acess well, the other one can't, please help!"
## Proposal / RFE

**Is your feature request related to a problem?**
the host have two network: such as 172 and 192, the K8S cluster create on 172 network segment, I deploy cilium witch default config, and execute connectivity-check.yaml
it shows I met:
[code]
how to solve `host-to-b-multi-node-clusterip-c4ff7ff64-thm85 ` pod issue?

and I create a test pod:
[code]
[code]
it can't ping the target

[2020-12-17 09:56] Rolinh commented on #14435
My guess is that this issue is related to the recent addition of AgentEvent and the related filters support added in d7fa6e56f5c5618e61d08c2353f2392e9ce28f02. As now a `Flow` is not the only type on which filters apply, this `Event` method may return a non-typed nil, leading to the crash you observed:
[code]

I believe that code that calls the getter for agent events might also be affected:
[code]

[2020-12-17 09:58] gandro commented on #14435
@Rolinh Yup, I came to the same conclusion. My proposal to fix however would be to return the typed `return (*pb.Flow)(nil)` instead. It is nil-safe, so we do not have to adjust any call sites.

[2020-12-17 10:01] Rolinh commented on #14435
@gandro  The problem with this approach is that there would be no way to tell whether the event is a flow or agent event (except by doing a type check). Not sure if this is a problem in practice but if it is, I'd suggest adding `IsFlow() bool`/`IsAventEvent() bool` methods to `Event`.

[2020-12-17 10:08] gandro commented on #14435
Yes, I prefer the `IsFlow()`/`IsAgentEvent()` method over changing the `GetFlow()` signature. We have over two dozen call sites of `ev.GetFlow().GetFoo()` - it makes for very readable and nil-safe code that does the right thing even when the event is not a flow.

Having `GetFlow()` return two values will force all call sites to check if it really is a flow, when in fact most of them will work perf

[2020-12-17 10:19] lbernail opened #14438 "Cilium agent health fails on DNS issues"
Hello,

We've been chaos testing our applications when DNS is not behaving too well to see how resilient they are to temporary DNS failures.
While doing this we've noticed that cilium agents become unhealthy and are killed because they fail the liveness probe when they can't resolve etcd endpoints (even if they are still connected).

I believe this comes from this check: https://github.com/cilium/

[2020-12-17 10:29] tklauser commented on #13400
It's possible that the port collision happened because of the `gops` agent using the same port as the proxy. Unfortunately, the port to which gops agent `bind()`s is not reported in the sysdump.

This behavior was fixed in #14329 for #14218, i.e. `gops` will now `bind()` to a fixed port and should no longer claim arbitrary other ports. Leaving this issue open for a while to confirm whether this wa

[2020-12-17 11:57] #14317 closed

[2020-12-17 12:04] #14392 closed

[2020-12-17 13:35] #6320 closed

[2020-12-17 16:47] #11742 closed

[2020-12-17 17:12] pchaigno commented on #14437
Thanks for the report!

Could you include a [sysdump](https://docs.cilium.io/en/stable/operations/troubleshooting/#automatic-log-state-collection) of the node in question? If that's not possible, the output of `cilium status --verbose` would help.
Also, how did you install Cilium and what options did you enable?

[2020-12-17 18:36] #10236 closed

[2020-12-18 00:50] vladdy commented on #11556
@aanm, now after #13112 is closed, I wonder if you would have a chance to test it either after it is released or on a build with that change. It makes the ARP resolution to asynchronous, so there can be some performance gain.

[2020-12-18 00:53] vladdy commented on #10236
Although this got closed, I wanted to confirm with @borkmann on his thoughts about IPv6 from the initial posting. I don't think it uses ARP and the code around calls to arping operates with IPv4 addresses. Should there still be a task for IPv6?

[2020-12-18 03:36] sunvim commented on #14437
execute `cilium status --verbose`, it shows:
[code]

the Cilium config :
[code]

if it isn't usefull, I'll show you sysdump

[2020-12-18 07:29] trinhpham commented on #9402
@joestringer I'm facing this issue too.
Should we re-open this?
My environments:
<details><summary>Clean new updated installation of Debian 10</summary>
<p>

`Linux *** 4.19.0-13-amd64 #1 SMP Debian 4.19.160-2 (2020-11-28) x86_64 GNU/Linux`

</p>
</details>
<details><summary>Latest kubectl, kubelet & kubeadm</summary>
<p>
[code]
</p>
</details>
<details><summary>Cilium (1.9.1) pod logs</summary>
<

[2020-12-18 08:05] pchaigno commented on #14437
Do you see any drops with `cilium monitor -t drop`? Do you see the packets flow on `enp130s0f0` with tcpdump?

Is this 1.9.0 or 1.9.1?

Are you able to reproduce if you disable BPF masquerading? What if you use VXLAN tunneling instead of GENEVE?

[2020-12-18 08:43] sunvim commented on #14437
Is this 1.9.0 or 1.9.1?

1.9.1

Do you see any drops with cilium monitor -t drop? Do you see the packets flow on enp130s0f0 with tcpdump?
not yet, what should i do?

[2020-12-18 14:15] brb commented on #10236
There is the issue for it: https://github.com/cilium/cilium/issues/14429

[2020-12-18 17:19] christarazi commented on #14397
Golang 1.16 will improve memory usage reporting:

Source: https://tip.golang.org/doc/go1.16

In the meantime, we can consider setting `GODEBUG=madvdontneed=1` when running our benchmarks / tests.

[2020-12-18 20:01] joestringer commented on #9402
Hmm. As far as I can tell, we test mainline kernel `4.19.57` in the CI.

One further datapoint would be to figure out whether this is likely to be a kernel regression. We could do this by either:
* Comparing 4.19.57 changelogs against 4.19.160
* Trying to deploy 4.19.57 from https://kernel.ubuntu.com/~kernel-ppa/mainline/v4.19.57/ into such a Debian 10 environment and see if it is affected by the

[2020-12-18 22:36] joestringer opened #14457 "GetProxyPort() seems to rely on IPv4"
The following code seems to make IPv4 assumptions, though it could in theory be run in an environment where IPv4 is completely disabled in the daemon:

https://github.com/cilium/cilium/blob/749689fde587227c19fa067ed7479e128beb1234/pkg/datapath/iptables/iptables.go#L806-L826

Specifically:

[code]

Do we have any testing that would ensure that L7 policy works in an IPv6-only deployment?

[2020-12-18 22:40] danwent commented on #14457
Associated logs:

[code]

[2020-12-18 22:43] joestringer commented on #14457
These are all debug logs, so it's also possible there's nothing to see here, this is just the way we try to parse a proxy port number and if it's not specified, we fall back to selecting a port.

[2020-12-19 12:27] brb opened #14458 "CI: Add tests for lb-only mode"
- Needs three CI nodes.
- XDP
- Health checking

[2020-12-19 17:11] brb commented on #14125
First, I checked whether we don't mix netns in Go by running tcpdump in all netns - it's not the case.

Second, I changed the arping library so that it can encode a surrogate request ID in the dest MAC addr to see which ARP request does not get a reply. From it I saw that the request which fails with the "i/o timeout" error is even not sent.

[2020-12-19 20:16] skurfuerst commented on #10516
Hey @errordeveloper @lrouquette ,

I figured out how you can run Cilium with k3s / k3d on docker for mac. See https://sandstorm.de/de/blog/post/running-cilium-in-k3s-and-k3d-lightweight-kubernetes-on-mac-os-for-development.html for the full explanation :-) Feel free to re-use the content for your documentation or so :-)

All the best,
and keep up the great work,
Sebastian

[2020-12-20 06:55] izaakschroeder opened #14459 "Cilium + CoreDNS on EKS unable to communicate to Kubernetes master."
## Bug report

**General Information**

- Cilium version (run `cilium version`)

[code]

- Kernel version (run `uname -a`)

[code]

- Orchestration system version in use (e.g. `kubectl version`, Mesos, ...)

[code]

- Link to relevant artifacts (policies, deployments scripts, ...)

Deployed to AWS EKS using Terraform: https://gist.github.com/izaakschroeder/a625fe44ef5cfa435823bf50540118d1. Host in

[2020-12-21 09:23] tklauser opened #14463 "CI: RuntimeFQDNPolicies Enforces ToFQDNs policy: Docker containers mistmach with Cilium Endpoints"
Seen on #14460

[code]

[test_results_Cilium-PR-Runtime-4.9_3104_BDD-Test-PR.zip](https://github.com/cilium/cilium/files/5723440/test_results_Cilium-PR-Runtime-4.9_3104_BDD-Test-PR.zip)

https://jenkins.cilium.io/job/Cilium-PR-Runtime-4.9/3104/

[2020-12-21 10:19] brandshaide commented on #14314
We already are using `bpftool feature probe` for the CLI (`cilium kernel-check`) as well as for `GetRequiredConfig`: both are using a instance of `ProbeManager`, which, in turn, is invoking `"bpftool", "-j", "feature", "probe",`

Regarding this particular issue, running on a `microk8s` environment, the output of `bpftool feature probe` invoked on the agent for some required configs is,

[code]

an

[2020-12-21 10:39] #14273 closed

[2020-12-21 12:15] aanm opened #14466 "Mirror docker images into quay for the connectivity-check.yaml"

[2020-12-21 12:49] #14435 closed

[2020-12-21 14:44] ti-mo commented on #13344
Closing as it's not considered viable at this point in time. Maybe if new packages are added, those can go into `internal/`.

[2020-12-21 14:44] #13344 closed

[2020-12-21 16:28] #13898 closed

[2020-12-21 16:47] brb commented on #14125
Tried running tests with strace for the whole day - no luck reproducing the issue.

[2020-12-21 18:44] mvisonneau commented on #14459
I have a similar behaviour after upgrading my base AMI to the latest release of Ubuntu EKS 🤔

All internal network seems broken, rollbacking to former AMIs seems to sort it out. I will investigate it further tomorrow.

[2020-12-21 18:49] izaakschroeder commented on #14459
Thanks for looking into this @mvisonneau! 😄

[2020-12-21 21:45] mvisonneau commented on #14459
I made some further troubleshooting but reverting the kernel version on the newest AMI doesn't sort it out.

On my end I am working in ENI mode with KubeProxyReplacement strict as well. For me the problem is not only scoped to CoreDNS, all pods and all connectivity is affected 🤔

[2020-12-21 23:09] trinhpham commented on #9402
I have no enough knowledge to help on the first approach.
So I'll try to do something with the second one.

[2020-12-22 05:38] ungureanuvladvictor commented on #9678
I took a new stab at this and the following tests are the ones left failing:
- `K8sConformance`
  - `Check connectivity-check compliance with portmap chaining`
  - `Check one node connectivity-check compliance with portmap chaining`
- `K8sDatapathConfig`
  - `Checks that monitor aggregation restricts notifications`
  - `Check connectivity with transparent encryption and direct routing`
  - `Check

[2020-12-22 09:40] mvisonneau commented on #14459
Alright so I managed to figure this out! Although they seemed to look alike at first sight, I do not believe my issue was related to this one that @izaakschroeder described. The root cause turned out to be a change of a kernel parameter: `net.ipv4.conf.all.arp_ignore=2`, used to be `net.ipv4.conf.all.arp_ignore=1` resulting into the following:

[code]

[2020-12-22 09:41] blinkiz commented on #7519
Here is an article about [WireGuard Endpoint Discovery and NAT Traversal using DNS-SD](https://www.jordanwhited.com/posts/wireguard-endpoint-discovery-nat-traversal/) exploring possibilities with UDP hole punching. It maybe will give some ideas and inspiration when trying to design this feature.

[2020-12-22 10:32] #14219 closed

[2020-12-22 10:39] #14343 closed

[2020-12-22 13:31] xlejo opened #14474 "Cilium not working on Fedora 32 Server and Fedora 33 Server"
Hi,

I am having trouble deploying Cilium on K3S. I tested on Centos 8 and it works fine, but not on Fedora 32 Server (or 33).

When I deploy it in Fedora all the pods begin to fail (including CoreDNS), giving me I/O timeout problem to the IPs of the pods. And in Hubble's case, the Relay never turns on.

**The K3S installation configuration:**

[code]

**Helm (both running on Centos 8 and Fedora 3

[2020-12-22 13:32] fristonio opened #14475 "Evaluate cilium-agent map usage"
The map implementation for Golang will grow the map to the size with maximum elements in the map and never reshrink it even if garbage collection is performed by the compiler. This can lead the map to grow and never get resized.
Evaluate if this can cause an issue in the Cilium agent. There are a bunch of places in Cilium where we keep local caches in maps(policy, ipcache, etc. for example).

Upst

[2020-12-22 15:26] xlejo commented on #14474
**Solved!!**

I had misapplied the sysctl configuration. Looking at its [documentation](https://docs.cilium.io/en/v1.9/operations/system_requirements/), it applies as follows:

[code]

[2020-12-22 15:26] #14474 closed

[2020-12-22 16:25] lrouquette commented on #10516
Nice work @skurfuerst ! I'll give it a try!

[2020-12-22 16:28] johnnyrun commented on #14177
Hi! here for the same problem..

I used this that should be agnostic:
[code]

[2020-12-22 16:35] aanm commented on #14406
@YesemKebede both CEPs existed at the point the sysdump was taken:
[code]

[2020-12-22 17:59] acholt commented on #11963
Hey @seanmwinn

I'm in agreement with you after reviewing the resources request and limits of the various components. I see only the Cilium daemonset has requests set but no limits.

- daemonset.apps/cilium (Requests Only)
- deployment.apps/cilium-operator (None)
- deployment.apps/hubble-relay (None)
- deployment.apps/hubble-ui (None)

I believe we should have default requests and limits for all t

[2020-12-23 00:18] christarazi commented on #14383
This can be useful to trace netlink requests to the kernel: https://github.com/socketpair/nltrace

[2020-12-23 10:17] Gyeah11 opened #14483 "[RKE][2.5.3] cilium-node-init - /tmp/cilium-bootstrap-time: Is a directory"
Hi,

I installed Cilium on RKE on Bare-Metal (Kubernetes as containers) and I encountered the following error on both masters and nodes.

**Software versions:**

Kubernetes Version: v1.19.4
RKE version: 2.5.3 ( latest )
Cilium Version: 1.9.1

**Error:**

[code]
For some reason at reboot . the directory /tmp/cilium-bootstrap-time is made , and is empty .
Can be easily reproduced if nodes/masters ar

[2020-12-23 13:37] errordeveloper commented on #10516
@skurfuerst it's good to hear you have this working with k3d, I also heard folks made it work with kind. My original intention was to make Cilium work on Docker for Desktop with built-in version of Kubernetes and without node-init hacks. I can see you have mentioned in your blog post that node-init didn't work as expected due to to dependency on `/bin/bash`, that to me sounds like a trivial bug in

[2020-12-23 18:24] christarazi opened #14485 "[v1.9] CI: K8sServicesTest Checks service across nodes Tests NodePort BPF Tests with direct routing and DSR"
## CI failure

[code]

[d7ae0298_K8sServicesTest_Checks_service_across_nodes_Tests_NodePort_BPF_Tests_with_direct_routing_and_DSR.zip](https://github.com/cilium/cilium/files/5736587/d7ae0298_K8sServicesTest_Checks_service_across_nodes_Tests_NodePort_BPF_Tests_with_direct_routing_and_DSR.zip)

Seen in https://github.com/cilium/cilium/pull/14480.

[2020-12-23 18:25] jrajahalme commented on #12511
Same line, different curl return code:
[code]
at https://jenkins.cilium.io/job/Cilium-PR-K8s-1.13-net-next/282/testReport/junit/Suite-k8s-1/13/K8sServicesTest_Checks_service_across_nodes_Tests_NodePort_BPF_Tests_with_direct_routing_Tests_with_secondary_NodePort_device/

[2020-12-23 18:30] christarazi opened #14486 "[v1.9] CI: K8sServicesTest Checks service across nodes Tests NodePort BPF Tests with vxlan Tests NodePort with Maglev Tests NodePort"
## CI failure

[code]

[b9508494_K8sServicesTest_Checks_service_across_nodes_Tests_NodePort_BPF_Tests_with_vxlan_Tests_NodePort_with_Maglev_Tests_NodePort.zip](https://github.com/cilium/cilium/files/5736611/b9508494_K8sServicesTest_Checks_service_across_nodes_Tests_NodePort_BPF_Tests_with_vxlan_Tests_NodePort_with_Maglev_Tests_NodePort.zip)

Seen in https://github.com/cilium/cilium/pull/14480.

[2020-12-23 18:46] christarazi commented on #12511
Same as Jarno above. Hit in https://github.com/cilium/cilium/pull/14477.
[b2b4cb83_K8sServicesTest_Checks_service_across_nodes_Tests_NodePort_BPF_Tests_with_direct_routing_Tests_with_secondary_NodePort_device.zip](https://github.com/cilium/cilium/files/5736659/b2b4cb83_K8sServicesTest_Checks_service_across_nodes_Tests_NodePort_BPF_Tests_with_direct_routing_Tests_with_secondary_NodePort_device.zip)

[2020-12-23 19:24] travisghansen opened #14487 "sockopts on arm64 rpi4 + ubuntu"
## Bug report

**General Information**

Not really sure if this is a problem or not, but figured I'd report and at least let someone shout out. I'm trialing cilium on an arm64 cluster using rp4 + ubuntu 20.04 and saw the below output.

- Cilium version (run `cilium version`) `v1.9.1`
- Kernel version (run `uname -a`) `Linux arm64-node01 5.4.0-1025-raspi #28-Ubuntu SMP PREEMPT Wed Dec 9 17:10:53 UT

[2020-12-23 19:37] luanguimaraesla commented on #13446
Hi all, we're experiencing a similar problem here too. We have Cilium 1.8.5 pods in a clustermesh using almost 10Gi of memory. Here is the profiling data:

![profile001](https://user-images.githubusercontent.com/11253021/103031661-068a9880-453d-11eb-818f-cbb4b64c2ad4.png)

[2020-12-23 20:52] skurfuerst opened #14489 "Make node-init depend on /bin/sh instead of /bin/bash"
## Bug report

When using K3S / K3D on Docker for Mac, Node-Init will fail because of cilium's reliance on /bin/bash. The rancher/k3s image (where this is executed) only has a /bin/sh shell, as it is based on Busybox.

**Thus I'd recommend to change the node-init script to be /bin/sh compatible :-)**

**General Information**

- Cilium version (run `cilium version`): 1.9.1
- Kernel version (run `un

[2020-12-23 20:52] skurfuerst commented on #10516
@errordeveloper awesome :) https://github.com/cilium/cilium/issues/14489 here it is!

[2020-12-23 22:05] ungureanuvladvictor commented on #12511
Got the same failure as Jarno and Chris in https://github.com/cilium/cilium/pull/14482.

[cbd1447d_K8sServicesTest_Checks_service_across_nodes_Tests_NodePort_BPF_Tests_with_vxlan_Tests_with_secondary_NodePort_device.zip](https://github.com/cilium/cilium/files/5737283/cbd1447d_K8sServicesTest_Checks_service_across_nodes_Tests_NodePort_BPF_Tests_with_vxlan_Tests_with_secondary_NodePort_device.zip)

[2020-12-23 22:07] ungureanuvladvictor commented on #13552
Hit this problem in https://github.com/cilium/cilium/pull/14482.

https://jenkins.cilium.io/job/Cilium-PR-K8s-1.13-net-next/281/testReport/junit/Suite-k8s-1/13/K8sChaosTest_Connectivity_demo_application_Endpoint_can_still_connect_while_Cilium_is_not_running/

[c04758c3_K8sChaosTest_Connectivity_demo_application_Endpoint_can_still_connect_while_Cilium_is_not_running.zip](https://github.com/cilium/c

[2020-12-23 22:12] ungureanuvladvictor commented on #14125
Hit this in https://github.com/cilium/cilium/pull/14478 -- https://jenkins.cilium.io/job/Cilium-PR-Runtime-4.9/3137/testReport/junit/(root)/Suite-runtime/RuntimePrivilegedUnitTests_Run_Tests/

[2020-12-23 23:46] ungureanuvladvictor commented on #14125
Happened again in https://jenkins.cilium.io/job/Cilium-PR-Runtime-4.9/3145/testReport/junit/(root)/Suite-runtime/RuntimePrivilegedUnitTests_Run_Tests/ for the same PR as ^^.

[2020-12-24 00:14] youssefazrak commented on #14154
@joestringer can you assign me this issue? Thanks.

[2020-12-24 11:20] gecube commented on #10256
The same thing. I was investigating whether the kernel support eBPF features.

When I run the check inside the k8s cluster:

[code]
the cilium 1.9.0

[2020-12-25 09:51] #13428 closed

[2020-12-25 09:51] #2609 closed

[2020-12-25 09:51] #3666 closed

[2020-12-25 09:51] #8276 closed

[2020-12-25 09:51] #13469 closed

[2020-12-25 09:51] #9790 closed

[2020-12-25 09:51] #13490 closed

[2020-12-25 22:09] youssefazrak commented on #14198
@tgraf can you please assign this one to me?

[2020-12-26 21:38] sayboras commented on #13768
PR https://github.com/cilium/cilium/pull/14446 seems related to this issue.

[2020-12-27 13:07] sayboras commented on #14410
Having a node selector as `kubernetes.io/os: linux` prevents cilium from being installed in non-linux node, this might unintentionally swallow error internally without users' notice, and leave k8s cluster networking in limbo stage in my opinion.

This [page](https://docs.cilium.io/en/latest/operations/system_requirements/) states that only linux clusters are support if I am not wrong.

[2020-12-27 17:52] pires commented on #14410
The only difference I find between the two options is the nodeSelector will prevent Cilium from being scheduled onto non-Linux machines vs not having it and have Pods fail to run.

The way I see it, for a Kubernetes admin, a nodeSelector is deterministic, can't be missed and is always up-to-date, contrary to what may happen with a systems requirements document.

[2020-12-28 00:08] knabben opened #14497 "Kubernetes Egress network policy with CIDR covering Pod IPs is not supported"
## Bug report

Kubernetes Egress Netpol using `ipBlock.cidr` does not works, and blocks transactions.

**General Information**

- Cilium version (run `cilium version`)
[code]
- Kernel version (run `uname -a`)
[code]
- Orchestration system version in use (e.g. `kubectl version`, Mesos, ...)
[code]
- Link to relevant artifacts (policies, deployments scripts, ...)
- Generate and upload a system zip:

[2020-12-28 08:47] #12250 closed

[2020-12-28 10:15] aanm commented on #14497
@knabben thanks for opening the GH issue, this is failing as expected since at this moment, Cilium does not enforce network policies for CIDRs that belong to pods. Another related issue: https://github.com/cilium/cilium/issues/9209

[2020-12-28 10:21] aanm commented on #14430
what do you think @mvisonneau ?

[2020-12-28 10:30] stafordtituss commented on #14489
I'll try to get it sorted out!!

[2020-12-28 14:52] #14344 closed

[2020-12-28 14:54] #14198 closed

[2020-12-28 17:06] skurfuerst commented on #14489
Awesome @stafordtituss - thank you so much ❤️

[2020-12-28 17:28] ungureanuvladvictor commented on #12511
Was hit by this again in https://github.com/cilium/cilium/pull/14491.

[f7c0830d_K8sServicesTest_Checks_service_across_nodes_Tests_NodePort_BPF_Tests_with_direct_routing_Tests_with_secondary_NodePort_device.zip](https://github.com/cilium/cilium/files/5748246/f7c0830d_K8sServicesTest_Checks_service_across_nodes_Tests_NodePort_BPF_Tests_with_direct_routing_Tests_with_secondary_NodePort_device.zip)

[2020-12-29 08:11] #14410 closed

[2020-12-29 14:09] NeilW opened #14505 "1.9.1: k8s: Cilium fails to pick up specified CIDRs from k8s-controller-manager"
## Bug report
**General Information**

- Cilium version (run `cilium version`)
  1.9.1
- Kernel version (run `uname -a`)
Linux srv-bkyzr 5.4.0-54-generic #60-Ubuntu SMP Fri Nov 6 10:37:59 UTC 2020 x86_64 x86_64 x86_64 GNU/Linu
- Orchestration system version in use (e.g. `kubectl version`, Mesos, ...)
Client Version: version.Info{Major:"1", Minor:"20", GitVersion:"v1.20.1", GitCommit:"c4d752765b3bb

[2020-12-29 14:11] NeilW commented on #14505
[cilium-sysdump-20201229-135949.zip](https://github.com/cilium/cilium/files/5750974/cilium-sysdump-20201229-135949.zip)

[2020-12-29 14:18] aanm commented on #14505
@NeilW by default Cilium will use its own managed podCIDR. To use the Kubernetes podCIDR you need to specify `--set ipam.mode=kubernetes`

[2020-12-29 14:26] #14505 closed

[2020-12-29 15:13] #13497 closed

[2020-12-29 15:14] #13513 closed

[2020-12-29 15:14] #13261 closed

[2020-12-29 15:14] #13333 closed

[2020-12-29 20:22] mvisonneau commented on #14430
Indeed, I reckon that this could be very useful to manage everything from the chart!

I won't be the best to recommend the implementation though. On my end, I currently embed/configure this file as part of my instances cloud-init config as I need some specific settings which differ from one node to the other within a single k8s cluster.

At first sight the proposed solution looks pretty good to me

[2020-12-30 17:22] jrajahalme commented on #14125
Still happening: https://jenkins.cilium.io/job/Cilium-PR-Runtime-4.9/3176/testReport/junit/(root)/Suite-runtime/RuntimePrivilegedUnitTests_Run_Tests/

[2020-12-30 17:23] jrajahalme commented on #14463
Hit this: https://jenkins.cilium.io/job/Cilium-PR-Runtime-4.9/3176/testReport/junit/(root)/Suite-runtime/RuntimeFQDNPolicies_Enforces_ToFQDNs_policy/

[2020-12-31 16:05] NeilW opened #14509 "IPV6 access to node is lost after installing cilium with ipv6 enabled"
## Bug report

**General Information**

- Cilium version (run `cilium version`)
Client: 1.9.1 975b66772 2020-12-04T18:16:09+01:00 go version go1.15.5 linux/amd64
Daemon: 1.9.1 975b66772 2020-12-04T18:16:09+01:00 go version go1.15.5 linux/amd64
- Kernel version (run `uname -a`)
Linux srv-oajxq 5.4.0-54-generic #60-Ubuntu SMP Fri Nov 6 10:37:59 UTC 2020 x86_64 x86_64 x86_64 GNU/Linux
- Orchestration

[2020-12-31 16:09] NeilW commented on #14509
[cilium-sysdump-20201231-153706.zip](https://github.com/cilium/cilium/files/5757679/cilium-sysdump-20201231-153706.zip)

[2020-12-31 16:14] NeilW commented on #14509
Neighbor advertisements on ens3 start coming from the wrong address which triggers anti-spoofing filters.

<pre>
16:13:21.283366 IP6 fe80::205c:d7ff:fe34:d4f > ff02::1:fff1:d22a: ICMP6, neighbor solicitation, who has 2a02:1348:17c:748a:24:19ff:fef1:d22a, length 32
16:13:21.283416 IP6 fd00:c0a8::22ec > fe80::205c:d7ff:fe34:d4f: ICMP6, neighbor advertisement, tgt is 2a02:1348:17c:748a:24:19ff:fef1:d

[2020-12-31 16:15] NeilW commented on #14509
Route table

<pre>
$ ip -6 route
::1 dev lo proto kernel metric 256 pref medium
2a02:1348:17c:748a:24:19ff:fef1:d22a dev cilium_host proto kernel metric 256 pref medium
2a02:1348:17c:748a::/64 dev ens3 proto ra metric 100 expires 3546sec pref medium
fd00:c0a8::22ec dev cilium_host metric 1024 pref medium
fd00:c0a8::/64 via fd00:c0a8::22ec dev cilium_host src 2a02:1348:17c:748a:24:19ff:fef1:d22a me

[2021-01-02 01:33] ungureanuvladvictor commented on #12511
Was hit by this in https://github.com/cilium/cilium/pull/14500.

https://jenkins.cilium.io/job/Cilium-PR-K8s-1.13-net-next/326/ is the link to the failure.

[2021-01-04 06:24] brb commented on #14487
@travisghansen Thanks for the issue. If you disable sockops, does it still fail?

[2021-01-04 07:57] brb opened #14510 "node: Retry arping if it fails due to "i/o timeout""
It's possible that the arping might not be even sent by the kernel (see https://github.com/cilium/cilium/pull/14501) which can be fixed by retrying. Implement retry mechanism for the arping.

[2021-01-04 08:16] brb commented on #14486
This looks like a duplicate of https://github.com/cilium/cilium/issues/12511.

[2021-01-04 08:16] brb commented on #14485
A duplicate of https://github.com/cilium/cilium/issues/12511.

[2021-01-04 08:19] brb commented on #14383
Alternatively, the recent enough strace version should help you to compare both netlink requests. If that doesn't work, then https://docs.pyroute2.org/debug.html might be useful.

[2021-01-04 08:37] aanm commented on #14510
just want to point out that the ARP request does not error out, we only find out the failure happened when waiting for the ARP reply.

[2021-01-04 08:38] #14125 closed

[2021-01-04 08:44] fristonio opened #14511 "Extend vagrant dev environment to deploy Cilium and Kubernetes in dual-stack mode"
Currently, the vagrant dev environment cannot configure Kubernetes in Dual-Stack mode. Once #14461 is merged we will have Dual-Stack k8s running in our test clusters. To help developers complement the environment we run in our testing environment it makes sense to extend that vagrant start script(`./contrib/vagrant/start.sh`) to deploy a cluster with Dual stack enabled.

This can make use of an en

[2021-01-04 09:32] ScottKGregory commented on #14430
Happy to hear it's not just me that would like to see something like this. I should be able to put together a PR over the next few days so hopefully we can get some feedback on the details from there.

[2021-01-04 09:33] aanm commented on #14511
Maybe we could simply enable it by default as well.

[2021-01-04 09:45] brb opened #14512 "ctmap: GC orphan DSR SNAT entries"
In the same manner as we did in https://github.com/cilium/cilium/pull/13912, remove SNAT DSR entries which don't have a corresponding CT entry.

[2021-01-04 10:16] lyveng commented on #14240
@borkmann Is the PR #14382 related to this issue?

[2021-01-04 17:24] aditighag commented on #13130
Deployed a cluster with v1.9.1. and verified that the rp_filter config is set to `Loose` mode as recommended in the issue description.

[code]

[2021-01-04 17:24] #13130 closed

[2021-01-04 17:26] brb commented on #13130
Cool! Did you validate that NodePort BPF when accessed from outside works?

[2021-01-04 17:28] travisghansen commented on #14487
@brb it has actually been running fine (at least seemingly), just saw those error in the logs. I'll remove and redeploy and see if the log entries are no longer present though and report back..

[2021-01-04 17:55] #14485 closed

[2021-01-04 17:55] #14486 closed

[2021-01-04 18:08] aditighag commented on #14109
I just deployed an eks cluster with cilium 1.9.1, and verified that hostport is working.

@christarazi Can you attach sysdump from your cluster if you are still able to reproduce this issue? As a first step, you can also check the output of cilium status command I've listed in the last comment.

@joestringer Can you add a link to the Slack message where the user reported this issue? I can follow u

[2021-01-04 19:41] youssefazrak commented on #14342
@christarazi I will take care of this one.

[2021-01-04 20:10] joestringer commented on #14109
@aditighag did you deploy with kube-proxy-free / on a new kernel? How did you install it?

I suspect that the main action point here is to highlight that depending on the kernel version you deploy on, you need to either chain on top of portmap CNI or it will just work.

[2021-01-04 21:26] jrajahalme commented on #14463
Hit again at https://jenkins.cilium.io/job/Cilium-PR-Runtime-4.9/3195/

[2021-01-04 22:33] aditighag commented on #14109
Yes, I deployed the cluster with kube-proxy-free mode and aws net-next kernel since this issue didn't have enough details regarding reproduction environment. Now that you cc'd me on the thread, I see that the user reported the issue with the chaining mode? I don't have enough context for the chaining mode.

[2021-01-04 23:32] joestringer commented on #14109
The Slack thread started out with a different problem under chaining mode with `aws-cni` plugin, but later I asked why not to use the ENI mode directly and they stated that they had a problem with hostport in direct Cilium ENI mode. I filed this issue specifically regarding the latter as I wanted to check whether there was a general problem that users may face there, particularly since we had rece

[2021-01-04 23:35] joestringer commented on #14109
:+1: I see, that at least fits with what I suspect is going on. @christarazi did you try with a default Amazon Linux 2 AMI?

[2021-01-04 23:43] aditighag commented on #14109
Ok, thanks for the context. I've followed up with the user on Slack with regard to the next steps.

[2021-01-05 06:10] TrevorTaoARM opened #14520 "Tunnel Endpoint Manual Setting by CIDR"
## Proposal / RFE

Now the Cilium just simply chooses the Kubernetes NodeIP as the default tunnel endpoint of overlay routing solution, e.g., VXLAN, which is not enough if another data channel (interface) would be desired for higher performance instead of the management interface.
The selection of the desired interface can be done by providing a disired CIDR in the configuration (yaml) file, like:

[2021-01-05 06:22] TrevorTaoARM commented on #14520
I don't know if there is an existed solution for the requirement, so I implemented it in my local environment since we need it to the performance benchmarking.
The case below shows the result we achieved by our implmentation:

The node IP of my K8s cluster:
![image](https://user-images.githubusercontent.com/29970645/103612222-ec9a7e00-4f5e-11eb-9085-7a5b622ac26e.png).
Here I used a secondary IP 17

[2021-01-05 08:05] aanm commented on #14520
@TrevorTaoARM I've one question, is it guaranteed the IPs set with `tunnel-endpoint-ipv4-cidr`, can reach each other?

[2021-01-05 10:08] jibi commented on #13773
In #14476 I added a test for masquerading without the random-fully iptables option, and the test is running fine for the different 1.14, 1.15 and 1.16 k8s versions:
* https://jenkins.cilium.io/job/cilium-master-K8s-all/555/testReport/Suite-k8s-1/14/K8sDatapathConfig_Encapsulation_Check_iptables_masquerading_without_random_fully/
* https://jenkins.cilium.io/job/cilium-master-K8s-all/555/testReport/

[2021-01-05 11:27] NeilW commented on #14509
For

<pre>
$ ip addr show cilium_host
5: cilium_host@cilium_net: <BROADCAST,MULTICAST,NOARP,UP,LOWER_UP> mtu 1500 qdisc noqueue state UP group default qlen 1000
    link/ether 86:be:ba:98:4e:eb brd ff:ff:ff:ff:ff:ff
    inet 192.168.0.87/32 scope link cilium_host
       valid_lft forever preferred_lft forever
    inet6 2a02:1348:17c:72d3:24:19ff:fef1:cb4e/128 scope global
       valid_lft forever

[2021-01-05 11:34] NeilW commented on #14509
The source address on the NA packets is the internal k8s Ipv6 CIDR address allocated to the host

<pre>
$ sudo tcpdump -i ens3 -n ip6
tcpdump: verbose output suppressed, use -v or -vv for full protocol decode
listening on ens3, link-type EN10MB (Ethernet), capture size 262144 bytes
11:31:36.718164 IP6 fe80::bc94:dcff:fe5b:fac > ff02::1:fff1:cb4e: ICMP6, neighbor solicitation, who has 2a02:1348:17c

[2021-01-05 13:34] TrevorTaoARM commented on #14520
Yes, the IPs set with `tunnel-endpoint-ipv4-cidr` is choosed by the k8s cluster admin/user, which can be thought as the 'data interface' of the whole cluster and all cluster nodes are connected with each other via the data interface besides the original 'mgmt interface' which are used by k8s nodes for management use.
Calico also supports this interface selection method for data traffic between pod

[2021-01-05 13:49] NeilW commented on #14509
If IPv6 does follow the IPv4 pattern then that suggests

https://github.com/cilium/cilium/blob/608d29de8e9abf888c758267961b8c5e16e0a6ae/pkg/datapath/loader/base.go#L231

probably ought to be `args[initArgIPv6NodeIP] = node.GetIPv6Router().String()`

A bit of a stab in the dark though since I don't know how the BPF works.

[2021-01-05 14:53] NeilW commented on #14509
Regrettably, changing the IP addresses on the interfaces doesn't fix the NDP responses for the host when the internal IPv6 CIDR is cluster local addressing.

Looks like the BPF is using the local router source IP on host destined packets.

[2021-01-05 17:54] christarazi opened #14526 "CCNP preflight validator broken"
[code]

Any managed fields should be ignored, as they are inserted by the apiserver internally.

This affects all Cilium versions above v1.9.

Reported-by: Robert Stam

**Edit**:  Turns out that this was just a symptom of an underlying bug in Cilium, where CCNPs were not validated at all by the preflight check. The root cause is due to CCNP embedding a CNP, that caused unmarshalling errors when pr

[2021-01-05 19:11] Robert-Stam commented on #14526
Reported by me via slack, thanks for the GH ticket.

[2021-01-05 20:15] #14154 closed

[2021-01-06 09:11] alex1989hu commented on #14284
After applying label to `argocd` and a long enduring test I could say this issue can be closed

Thank you @aanm

[2021-01-06 09:11] #14284 closed

[2021-01-06 09:39] fristonio commented on #14509
Hey @NeilW :wave:

This is the intended behavior of Cilium installed with IPv6 enabled. For more details you can read [this commit description](https://github.com/cilium/cilium/pull/9062/commits/7792ffc008852765af1d553baa607ac3dc5d19fc) which states the behavior and what it means.

Regarding the wrong source address of NA packets. I assume you mean that in the below tcpdump output the NA packet is

[2021-01-06 10:00] pchaigno commented on #13774
It looks like this test sometimes also fails in pipelines other than k8s-all. It failed before in #14097 with the same error message.

It also just failed in #14525. That last PR should only affect the IPSec code path so I'm fairly confident it's a flake.
https://jenkins.cilium.io/job/Cilium-PR-K8s-1.20-kernel-4.9/316/testReport/junit/Suite-k8s-1/20/K8sDatapathConfig_Encapsulation_Check_vxlan_conn

[2021-01-06 10:21] NeilW commented on #14509
I figured as much. However doing that means you can't access the Host via IPv6 as the NA packet for a NS that is requesting access to the host, not the tunnel, has the wrong source address and gets caught by spoof filters when the hosts are separated by routed layer 3 networks.

Essentially this bit from the commit:

<pre>
we NAT cilium_host addresses
to the ROUTER_IP when pushed through the tunne

[2021-01-06 11:43] fristonio opened #14532 "Improve controller management in cilium-operator"
The major working of the Cilium operator consists of controllers(identity-gc, endpoints-gc etc.) that periodically manage the state of a particular component. These controllers currently are not used to get any meaningful information from the operator.

Extend the Cilium operator to use stats from these controllers and expose them.

- [ ] Expose metrics for controller runs similar to what we have

[2021-01-06 12:29] Shreyas1717 commented on #14099
Hi @joestringer when I tried the same code in GKE, I am getting the following response.
$ kubectl -n cilium exec cilium-vbwqb  -- uname -a
Linux gke-cluster1-default-pool-cfa9ff5d-mwxf 4.19.112+ #1 SMP Sat Oct 10 13:45:37 PDT 2020 x86_64 x86_64 x86_64 GNU/Linux
$ kubectl -n cilium exec cilium-vbwqb  -- cilium kernel-check
FEATURE                             SUPPORTED                     REQUIRED
C

[2021-01-06 12:33] Shreyas1717 commented on #14099
Hi @joestringer when I tried the same code in GKE, I get the following response.

![Screenshot](https://user-images.githubusercontent.com/62245216/103768872-4a0af980-5049-11eb-8584-4b07ba08e61b.jpeg)

[2021-01-06 12:55] pchaigno commented on #14099
@Shreyas1717 Based on the difference in kernel versions, I'm guessing Joe tested on the rapid release channel, which has a more recent COS image with a newer kernel.

[2021-01-06 14:40] willdeuschle commented on #11841
For my purposes, it would be very helpful to capture the flows written to disk via the `--flow-export` feature of hubble as part of the sysdump. The challenge would be knowing where on disk those are written to (which may need to be passed as an optional flag to the sysdump tool if that is tolerable).

As it stands, I'm going to be wrapping the sysdump command to both take the sysdump and extract

[2021-01-06 15:02] TrevorTaoARM commented on #14520
A picture to illustrate how it works(maybe not so precise:-)):
![image](https://user-images.githubusercontent.com/29970645/103783106-42604a80-5073-11eb-951d-b283cc2a3b46.png)

[2021-01-06 15:32] pchaigno opened #14537 "CI: RuntimePolicyImportTests checks policy trace output: Expected endpoint ID to exist for httpd2"
https://jenkins.cilium.io/job/Cilium-PR-Runtime-4.9/3212/testReport/junit/(root)/Suite-runtime/RuntimePolicyImportTests_checks_policy_trace_output/
[98a9ac63_RuntimePolicyImportTests_checks_policy_trace_output.zip](https://github.com/cilium/cilium/files/5776501/98a9ac63_RuntimePolicyImportTests_checks_policy_trace_output.zip)

### Stacktrace
[code]
### Standard Output
[code]
### Standard Error
[co

[2021-01-06 19:03] joestringer commented on #14520
Interesting proposal! I have noticed a recent increase in users with multi-device hosts with dedicated management and data networks, and this seems like it should provide a clear mechanism for such users to define how the traffic is forwarded between nodes.

Based on your diagram, it looks like this information would be forwarded between nodes using the existing `addresses` field in the `CiliumNod

[2021-01-06 21:59] travisghansen commented on #14118
What are we thinking of doing with this?

[2021-01-06 22:09] travisghansen commented on #14487
Indeed startup looks clean without that option on arm64.

[2021-01-06 22:15] joestringer commented on #14099
Ah, good point. I tend to run the GKE Ubuntu images rather than the COS ones, just so it's easier to swap out the kernel for development purposes. So this may be more related to the Ubuntu image.

[2021-01-07 08:26] brb commented on #14487
/cc @jrfastab

[2021-01-07 08:43] youssefazrak commented on #14320
@christarazi I will take care of this one. Might need some help ;)

[2021-01-07 09:31] IronCore864 commented on #11039
+1

[2021-01-07 10:53] pchaigno commented on #14240
@lyveng It is, and it handles the endpoint routes case.

[2021-01-07 11:08] borkmann commented on #14240
Yeah, still needs more work though since policy case does not fully function there yet. Will resume in Jan.

[2021-01-07 12:32] fristonio opened #14546 "CIlium operator HA lease lock is not released properly"
When running `cilium-operator` in HA mode if the operator instance acting as leader exits on the interception of a signal the lease is not released properly. This happens because we preemptively do an `os.Exit()` before the leader election library can release the lock it holds.

https://github.com/cilium/cilium/blob/f2163862a42494030fd4177ddf25f021c85ae2e3/operator/main.go#L151-L152

Here when the

[2021-01-07 12:38] fristonio opened #14547 "Add helm option to enable k8s events handover"
Currently, there is no way to configure the operator to handle the CNP status updates using helm.
Cilium operator handles the CNP status updates only when:

- `kvstore` is enabled
- `enable-k8s-event-handover` is set to true
- `disable -cnp-status-updates` is set to false

Add helm option to configure `enable-k8s-event-handover` config map value.

[2021-01-07 12:46] #13132 closed

[2021-01-07 12:51] fristonio opened #14549 "Add identity GC metrics for CRD allocation mode"
Recently #14254 added metrics related to identity GC in cilium-operator. This however is currently done for identity allocation mode KVstore and not for CRD. The CRD based identity GC lives here:

https://github.com/cilium/cilium/blob/f2163862a42494030fd4177ddf25f021c85ae2e3/operator/k8s_identity.go#L70-L132

It would be good to have metrics for this mode as well to have consistency for cilium-ope

[2021-01-07 13:47] kvaps opened #14550 "Out-of-sync issues for cilium using ArgoCD"
## Bug report

When using ArgoCD to install cilium `hubble-ca-cert` and `hubble-server-certs` are always out-of-sync

![image](https://user-images.githubusercontent.com/7556217/103898935-eee31080-50f5-11eb-9778-0ab171f18841.png)

**General Information**

- Cilium version: `v1.9.1`
- Orchestration system version in use: kubectl-v1.17.8, helm-v3.4.1, argocd-v1.8.1

**How to reproduce the issue**

In

[2021-01-07 14:26] TrevorTaoARM commented on #14520
_Trevor>>Yes, I think a clear mechanism for users to define the traffic forwarding way is actually needed. The 'tunnel-endpoint-ipv4-cidr' could be a certain case when tunnel mode(Vxlan for me) is used and a certain IP(interface) is preferred._

_Trevor>>Yes, in my implementation I added a new address type:
NodeTunnelEndpointIP AddressType = "TunnelEndpointIP"
for the 'addresses' field in the 'Cil

[2021-01-07 14:42] youssefazrak commented on #14547
@pchaigno can you please assign this ticket to me?

[2021-01-07 14:51] pchaigno commented on #9678
Could they be failing for the same reason they were failing on GKE? See https://github.com/cilium/cilium/commit/e0fba7473bc4d03071ddc9e857f5e2bb91fbb3a3.

[2021-01-07 15:25] pchaigno opened #14552 "Complexity issue on 4.19 with host firewall, monitorAggregation=medium and monitorFlags=syn"
When running with the default Helm configuration, except for the host firewall (enabled) and monitor aggregation (set to medium or higher), Cilium fails to load the host endpoint's datapath due to a complexity issue:
[code]
This issue was found by running our CI with the host firewall enabled in all tests: https://jenkins.cilium.io/job/Cilium-PR-Ginkgo-Tests-Kernel/4367/testReport/junit/Suite-k8s-

[2021-01-07 16:35] ungureanuvladvictor commented on #9678
I tried the tests with direct routing disabled so we test just the encryption functionality and the thing I found out is that the connectivity check is failing due to Cilium on the server side is detecting the packets as being received from the identity `remote-node` rather than the client side pod. After that I disabled masquerading because that it's enabled by default in the ENI Helm integration

[2021-01-07 17:27] kvaps commented on #14550
fixed by using `--set hubble.tls.method=cronJob` see https://github.com/cilium/cilium/pull/14551#issuecomment-756260571 for more details

[2021-01-07 17:27] #14550 closed

[2021-01-07 18:00] pchaigno commented on #9678
Is 10.0.183.243 actually a remote node IP or it is the IP of the client pod? If it's the IP of the remote node, that shouldn't happen because masquerading is disabled, right? Happy to help debug this via Slack if that helps.

[2021-01-07 19:05] jibi commented on #13773
Some updates here: I took a look at the iptables configuration to see if I can spot any difference between a k8s version that is known to work and one that does not.

I started from 1.18, which is known to work.

I reproduced the test locally with:

[code]

before that I added a `helpers.HoldEnvironment("")` at the end of relevant test:

[code]

After the test run I dumped the iptables configurati

[2021-01-07 20:38] pchaigno commented on #13773
That netfilter option has had a somewhat lacking support in iptables in the past, so it may be worth checking that it is even supposed to appear in iptables rule dumps. It could be that in the 1.14 case, there are iptables rules with `--random-fully` but they are dumped without the `--random-fully`, maybe? (Which I'd consider a bug upstream.)

The `Considering removing ...` messages come from [`re

[2021-01-07 21:14] pchaigno commented on #14552
This test fails with the following Helm configuration (+ host firewall):
[code]
The next test, however, succeeds with an almost identical configuration:
[code]
That list (single item here) of TCP flags is converted into a 8-bit array and used at https://github.com/cilium/cilium/blob/29c7f217794b05950eb234e730836af6ab698a86/bpf/lib/conntrack.h#L85
At the C level, it's unclear how it can impact the

[2021-01-07 21:17] linecolumn opened #14558 "NodePort BPF does not support multiple IP addrs per device"
Created dummy0 interface, then added couple of IPs to dummy0 interface. It helped, but not in full extent.
It seems that Cilium (v1.9.1) takes only first IP from dummy0 interface and create appropriate bindings:

[code]

[code]

In Slack channel this was confirmed (NodePort BPF does not support multiple IP addrs per device), and suggested to create Feature Request.

[2021-01-07 23:50] joestringer commented on #14520
NodeTunnelEndpointIP AddressType = "TunnelEndpointIP"
for the 'addresses' field in the 'CiliiumNode' CRD.

Is there a specific reason to do use a new type? I think it's probably good for understanding how it was generated by looking at CiliumNode resources. At the same time I'm not exactly sure which pieces of code in Cilium rely on the type of the IPs associated with the node, worth double-checki

[2021-01-08 07:35] #14384 closed

[2021-01-08 09:11] #14342 closed

[2021-01-08 09:24] jibi commented on #13773
Good shout @pchaigno :raised_hands:
It looks like iptables 1.6.1 shipped with the test VM (based on  ubuntu 18.04) does not support `--random-fully`:

[code]

There's even a [bug tracked for that](https://bugs.launchpad.net/ubuntu/+source/iptables/+bug/1805543) but it doesn't look like the fix landed in 18.04.

That said, I'm still unsure about why this test runs fine on some k8s version while not

[2021-01-08 09:28] pchaigno commented on #13773
@jibi In this case, aren't we using the iptables binary shipped in our cilium-agent Docker image?
[code]

[2021-01-08 09:47] jibi commented on #13773
Ah that's right, I was looking at the wrong iptables output. Running it again from inside the container shows that the rule is there:

[code]

[2021-01-08 15:11] ti-mo commented on #14233
As of December 22nd, 2020, AKS clusters created using `--network-plugin azure` have the default Azure CNI plugin configured in `transparent` mode, which no longer installs ebtables entries for each pod IP scheduled on the node.

[2021-01-08 15:30] TrevorTaoARM commented on #14520
@joestringer Good question. I doulbe-checked and thought about the issue you mentioned here.
Firstly, every node need to know other nodes' tunnel endpoint IP address information, which can only be reported by each node itself with their local matching/finding and fetched(by watcher) by other nodes.  And currently, all other address types(NodeHostName, NodeExternalIP,
	NodeInternalIP, NodeExternalD

[2021-01-08 19:15] jrajahalme commented on #13774
Hit this on k8s 1.20: https://jenkins.cilium.io/job/Cilium-PR-K8s-1.20-kernel-4.9/344/testReport/junit/Suite-k8s-1/20/K8sDatapathConfig_Encapsulation_Check_vxlan_connectivity_with_per_endpoint_routes/

[2021-01-08 19:17] jrajahalme commented on #12511
Here as well: https://jenkins.cilium.io/job/Cilium-PR-K8s-1.13-net-next/375/testReport/Suite-k8s-1/13/K8sServicesTest_Checks_service_across_nodes_Tests_NodePort_BPF_Tests_with_direct_routing_Tests_with_secondary_NodePort_device/

[2021-01-08 20:23] briantopping opened #14563 "Services are inaccessible from KubeVirt VMs when using kube-proxy free configuration"
## Bug report

Kubevirt has a layered networking stack that is described [here](https://github.com/kubevirt/kubevirt/blob/master/docs/devel/networking.md). As Daniel Borkman kindly described [here](https://cilium.slack.com/archives/C1MATJ5U5/p1610058107366400?thread_ts=1609804735.250100&cid=C1MATJ5U5), "the east-west based load-balancing is basically realised through BPF attaching to socket hooks

[2021-01-08 21:45] linecolumn opened #14564 "Possibility to exclude native accelaration (XDP) on Kubernetes Master nodes"
I have Kubernetes Masters not capable talking XDP.

Proposal is to have possibility to not use XDP for Kubernetes Master nodes.

[2021-01-08 22:36] joestringer opened #14566 "Add taskset to bugtool"
To assist with additional debugging around processor affinity, it would be useful to add this command to the bugtool:

[code]

There's a list of `defaultCommands` in `bugtool/cmd/configuration.go` which could be extended with this tool. The binary should already be present in the Cilium container.

[2021-01-08 22:45] fallard84 commented on #12679
We have the same issue with Cilium 1.9 running in GKE 1.17.13-gke.2600. Everything seems to work fine except for cert-manager admission webhook. We have a firewall rule that allows our master CIDR to access the webhook pod but with Cilium it doesn't work. Looking at Hubble everything seems fine (traffic from the master CIDR are `forwarded`) but we receive the following error when trying to create