[2022-01-06 01:28] joestringer commented on #18334
Interesting question, thanks for raising an issue on this. We've had a few people stop by in Slack asking about the same time in the past, so it's good to have a dedicated issue on GitHub to point to. I'll see if I can dig up and summarize my previous answers to other individuals. As far as I'm aware, no-one has put together a guide for this so far, but in principle it should be possible if you ar

[2022-01-06 01:34] MrMYHuang commented on #18350
I tried and error with it, because I thought this option is related to L7 policy and could solve my problem. But it didn't.

By my grep, It didn't contain the unknown identity 34128. I tried many cilium commands (cilium endpoint list, cilium identity list, cilium bpf ipcache list) but no one tell me what the mystery process / pod is associated with the id.

Fortunately, after I **rebooted my PC**,

[2022-01-06 01:39] joestringer commented on #18183
I have another question here - Recently we realized that the default instructions for k3s in Cilium did not disable flannel's network policy handling. Unfortunately this meant that both Flannel and Cilium would attempt to apply the policy, causing conflicts and additional problems. Do you observe this issue even if you provision k3s using `--flannel-backend=none --disable-network-policy`?

[2022-01-06 01:56] joestringer commented on #18149
In principle I'm open to this idea if it helps providers to interface with Cilium more easily.

I think that one of the struggles here is that Cilium has many options; arguably too many - but this is because we put a fairly heavy emphasis on feature flags and partitioning logic behind those flags. This makes it possible to enable/disable some logic depending on the maturity of the functionality or

[2022-01-06 01:57] #18115 closed

[2022-01-06 02:02] joestringer commented on #17955
I think that this is quite difficult to achieve, and has some security pitfalls if implementing this logic at the packet layer, because there is no dedicated network device outside the pod's namespace. This means that the pod can potentially have access to any sort of configurations that Cilium may apply at the device level to such IPVLAN interfaces (and worst case, remove that logic).

Which IPVL

[2022-01-06 02:04] angadisachin commented on #16987
We would need this feature for 2 reasons
1. Reduce cost on AWS IPAM Service (more details about the below)
2. Reduce AWS API Calls to avoid throttling on large clusters

**More details about the use-case :** Recently AWS has launched an IPAM Service (called as Amazon VPC IP Address Manager). Pricing is based on active IPs used in the account. This is a problem for users who use Amazon Elastic Kube

[2022-01-06 02:10] joestringer commented on #17734
Does this cause a connectivity problem? Why do you want to avoid this?

For a bit more background, internally in Cilium, the policy model supports importing sources of identity metadata from multiple locations - previously we would import labels from k8s, or from docker, or other container runtimes. As such, when importing a standard network policy through the Cilium API, if you do not specify the

[2022-01-06 02:15] joestringer commented on #17170
I realize this is a bit late, but etcd-operator is no longer supported by the upstream team (see https://github.com/coreos/etcd-operator) and so we have deprecated the options to configure it in Cilium for a few releases now. I don't know if this is still relevant to you, but I would suggest following the latest Cilium documentation on deploying Cilium with dedicated etcd instances or even using C

[2022-01-06 02:23] joestringer commented on #11334
Looks like this has been addressed now, since all builds are generated via GitHub actions and pushed directly into Quay/Docker. Closing. Feel free to reopen if I'm mistaken :-)

[2022-01-06 02:23] #11334 closed

[2022-01-06 02:24] joestringer commented on #11000
Docker targets are now defined in `Makefile.docker`. If there are further improvements to the build targets, then I would welcome patches or PRs but I don't think that it's useful to track this open issue any longer.

[2022-01-06 02:24] #11000 closed

[2022-01-06 02:26] joestringer commented on #10844
Adding `good-first-issue` label, since with `GOOS=darwin` it should be easy enough to iterate on an implementation along the lines of the proposal here. It may take a bit of refactoring under the `pkg/datapath` area, so could be useful for a go programmer to upskill on this area of the Cilium codebase.

[2022-01-06 02:29] joestringer commented on #7830
I think that it makes sense to log a Warning level log that states that Hubble and Cilium monitor output will not work because of the missing configuration. This is not too serious to the operation of the datapath, but it would be nice to detect this and warn users that this may cause subsequent problems for them.

[2022-01-06 02:35] joestringer commented on #12530
I don't think we're going to get to this, and the infrastructure is not particularly new by this point ;-)

[2022-01-06 02:35] #12530 closed

[2022-01-06 02:37] #11820 closed

[2022-01-06 03:01] philipp1992 commented on #18183
--disable-network-policy fixed it. Thanks a lot

[2022-01-06 03:01] #18183 closed

[2022-01-06 03:05] mehemken commented on #17240
Hello, I'm running 1.11 and still getting this error. Any update?

[2022-01-06 04:18] alonana commented on #17734
I want to avoid this issue since the policy created has wrong values in the match labels:

[code]

Hence the policy is not applied for the actual pods that have the labels "my-label: my-value".
Notice that I do use the k8s API:

[code]

but it still does not work.

[2022-01-06 06:12] ghouscht commented on #18302
I tried but the images seem to be gone (maybe expired?). I tried the images found [in here](https://github.com/cilium/cilium/runs/4600951710?check_suite_focus=true)

[2022-01-06 07:31] sayboras opened #18391 "Bugtool to support .tar.gz compression"
Bugtool currently only produces  .tar|.gz format, which is still too big for transferring over the wire. As per below discussion, it will be great to have support for .tar.gz directly.

[code]

Related to https://github.com/cilium/cilium-cli/pull/671#discussion_r777418100

[2022-01-06 07:57] borkmann commented on #18311
(Kernel fix for discussion sent here: https://patchwork.kernel.org/project/netdevbpf/patch/ef4cf3168907944502c81d8bf45e24eea1061e47.1641427152.git.daniel@iogearbox.net/)

[2022-01-06 08:12] ghouscht commented on #18302
I'm no longer able to reproduce the issue with an image from https://github.com/cilium/cilium/pull/18390. Tested with the following image:
[code]

[2022-01-06 11:43] #18281 closed

[2022-01-06 11:52] pchaigno commented on #18347
The behavior change is unexpected AFAIK. I also can't think of a change in v1.11 that could explain this. Next step would probably be to bisect.

[2022-01-06 13:07] tklauser commented on #18372
👍  let's transfer it there.

[2022-01-06 14:11] aanm commented on #18381
Hello, thanks for opening the GH issue, please provide steps to reproduce the issue and a cilium sysdump otherwise the issue can't be fixed. Thank you.

[2022-01-06 14:22] briantopping commented on #18149
Hi Joe, happy new year! Hope yours is off to a great start.

Thanks for the thoughtful response on this. I did not know about cilium-cli.  I think you captured most of what I'm writing below, would like to elaborate on it.

If we consider these "best configurations" as "strategies" that the Cilium team recognizes and captures in their intensive and intimate use, exposing those strategies for clien

[2022-01-06 14:22] aanm commented on #18329
Hello, can you provide the logs of the cilium agent that it's not able to become ready?

Also, I've noticed from the sysdump that you have provided that you are using ArgoCD. There have been a couple issues opened by users regarding ArgoCD. For example https://github.com/cilium/cilium/issues/14550 and https://github.com/cilium/cilium/issues/17349. You might want to have a look at those as well.

[2022-01-06 14:27] aanm commented on #18329
Might be a duplicate of https://github.com/cilium/cilium/issues/18323

[2022-01-06 14:28] aanm commented on #18315
@zhanghe9702 and @YutaroHayakawa feel free to submit a PR with the fix. Thank you!

[2022-01-06 14:30] aanm commented on #18298
@henriknj @steven166 please see if the solution on https://github.com/cilium/cilium/issues/17349 helps. Thank you

[2022-01-06 14:32] aanm opened #18393 "Add small ArgoCD notes in the official documentation"
There have been a lot of reports for users hitting issues with ArgoCD. It would be nice to have a dedicate section for it on the official documentation. Some of the known issues and solutions for it can be found on the GH issues from [this](https://github.com/cilium/cilium/issues?q=is%3Aissue+argocd+is%3Aclosed) list.

[2022-01-06 14:35] aanm commented on #18293
Hello, have you followed [this](https://docs.cilium.io/en/v1.11/gettingstarted/k8s-install-default/#install-cilium) guide and created your node pools with a node taint? Thank you.

[2022-01-06 14:45] aanm commented on #18256
@GabMgt have you checked if you have any firewall rules deployed between those 2 nodes? Are you using ArgoCD by any chance?

[2022-01-06 14:47] jamesharr commented on #18373
This is a solid point. I think support for implementing NetworkPolicy objects is a good idea, but for any single given service, it's probably best to stick to one or the other. IE: If we adopt CNPs, we're already recognizing the fact that standard NP's won't serve our purpose and if we mix and match the two, the application is going to be broke anyway.

But... If a service only needs NP's, there's

[2022-01-06 15:21] aanm commented on #18227
Hello @carloscastrojumo, have you checked our documentation regarding [PortMap](https://docs.cilium.io/en/v1.11/gettingstarted/cni-chaining-portmap/#k8s-install-portmap)? Thank you

[2022-01-06 15:34] lbernail commented on #18311
@borkmann I added the patch you suggested to our 1.8 branch and it works great (the patch I tested is even simpler as we don't run Cilium on any kernel older than 5.1) and it worked great!

- I got twice the throughput on a m5.large instance using iperf3. This number does not mean much as these instances have burstable networking, but the throughput I got was still much higher than anything I got

[2022-01-06 15:42] GabMgt commented on #18256
Hello @aanm and thank you for your response. Yes I checked the firewall and there is not blocking rule. I am not using ArgoCD, why ?

[2022-01-06 15:47] borkmann commented on #18311
Very cool! Cloud costs are now cut by a large margin I assume! :-)

Thanks again for this awesome bug report and for you help in testing, Laurent!

[2022-01-06 16:20] jrajahalme commented on #18286
There is a Cilium-agent command line option for setting the DNS proxy port:
[code]
Currently there is no corresponding Helm value, but if you are installing with Cilium CLI, you can add a `--config` option, e.g.:
[code]
Note that you should specify a port that is not used for anything else in your k8s/Cilium nodes.

As to host firewall / ACL rules, connections to this port need to be allowed from

[2022-01-06 16:53] stek29 opened #18394 "bpf/init.sh: device.state handling when device list becomes empty and cleanup"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

bpf/init.sh cleanup is broken when due to configuration changes device list becomes `<nil>`
because of that stale tc qdisc's are kept, and device.state is out of date (which can make debugging more cumbersome)

maybe device.state should be updated if list of devices becomes empty, and prior con

[2022-01-06 16:55] stek29 commented on #18394
an example where this can happen:
- ops enable some features of cilium that trigger auto-detection of host devices
- ops disable those features, auto-detection doesn't run and list of devices becomes `<nil>`

[2022-01-06 16:57] stek29 commented on #18394
I'm ready to make a PR if you agree with proposed solution (of relying on device.state for cleanup, especially instead of iterating over all of the devices)

[2022-01-06 17:18] christarazi commented on #18302
Given that we have confirmation that https://github.com/cilium/cilium/pull/18150 fixes this issue (https://github.com/cilium/cilium/pull/18390 for v1.11 backport), closing.

[2022-01-06 17:18] #18302 closed

[2022-01-06 17:42] christarazi commented on #18294
Closed as it's the same as #18302

[2022-01-06 17:42] #18294 closed

[2022-01-06 18:08] joestringer commented on #18149
Happy new year to you as well, wishing you the best for 2022 :partying_face:

I'd like to unpack this a little bit more, just to uncover the assumptions here so that we can highlight and avoid any sort of adverse security implications here. Are we assuming first that there is a configuration CRD for Cilium that Gardener or other tooling could configure? Then the concern is whether unauthorized act

[2022-01-06 19:22] briantopping commented on #18149
I think the ideal solution is a bit more subtle than RBAC, although I agree that it could handle many of the cases. It's also possible for the UI to expose verifiably non-harmful switches workload cluster creators may tweak to enable various Cilium features, but the lag for those switches is often a year or more.

How can workload cluster creators in a hyperscaler get ahold of advanced Cilium feat

[2022-01-06 19:26] #18311 closed

[2022-01-06 19:49] joestringer commented on #17734
I see, my mistake, I'm not super familiar with the CNP API code.

It's interesting to me that in the example from the first post in this issue, it only occurs for the `EndpointSelector`, but not for the selectors inside the `IngressRule`s. I'm not sure why this is, but if the code is defining the policy structure explicitly like in that example, then the `any:` part is presumably not there before

[2022-01-06 20:08] jamesharr commented on #14609
I'm interested in this feature and am tracking it. No pressing need at the very moment.

My two use-cases are:
1. Allowing ping for diagnostics and/or an application that uses icmp to check for remote side availability (usually outside of a cluster)
2. To ensure that PMTUD works with IPv6 if it doesn't already. ICMP return codes are required for path-mtu discovery to work. I'd rather this be taken

[2022-01-06 20:14] jamesharr commented on #14609
Some useful references:
* [IPv4 ICMP type and codes](https://www.iana.org/assignments/icmp-parameters/icmp-parameters.xhtml)
* [IPv6 ICMP type and codes](https://www.iana.org/assignments/icmpv6-parameters/icmpv6-parameters.xhtml)
* [Calico ICMP matching](https://projectcalico.docs.tigera.io/security/icmp-ping)

I just realized that ICMP for IPv4 and ICMP for IPv6 have different type/codes, but the

[2022-01-06 21:20] maintainer-s-little-helper[bot] opened #18397 "CI: RuntimeConntrackInVethModeTest Conntrack-related configuration options for endpoints"
### Test Name
[code]

### Failure Output
[code]

### Stacktrace
<details><summary>Click to show.</summary>

[code]
</details>

### Standard Output
<details><summary>Click to show.</summary>

[code]
</details>

### Standard Error
<details><summary>Click to show.</summary>

[code]
</details>

ZIP Links:
<details><summary>Click to show.</summary>

 https://jenkins.cilium.io/job/Cilium-PR-Runtime-net-

[2022-01-06 22:58] maintainer-s-little-helper[bot] opened #18398 "CI: K8sDatapathConfig DirectRouting Check connectivity with direct routing and endpointRoutes"
### Test Name
[code]

### Failure Output
[code]

### Stacktrace
<details><summary>Click to show.</summary>

[code]
</details>

### Standard Output
<details><summary>Click to show.</summary>

[code]
</details>

### Standard Error
<details><summary>Click to show.</summary>

[code]
</details>

ZIP Links:
<details><summary>Click to show.</summary>

 https://jenkins.cilium.io/job/Cilium-PR-K8s-GKE//725

[2022-01-07 00:24] christarazi commented on #18237
I believe this should be fixed by https://github.com/cilium/cilium/pull/18343.

[2022-01-07 00:24] #18237 closed

[2022-01-07 01:37] aanm commented on #11365
@brb is the issue still happening? If not consider closing it.

[2022-01-07 08:31] Charlottell commented on #18169
@jtaleric  I tested it more than three times,rebooting the pod each time. Because cilium doesn't use iptables, so I thought the iptables generated by SVC would affect calico performance, so I created 1000,3000,5000 services and then tested it,

I deployed 1000 service in the following way,
[code]

[code]

calico netperf :
[code]
cilium netperf:
[code]

deploy 3000 service:
[code]

calico netperf
[

[2022-01-07 09:08] Charlottell commented on #18169
Since I installed perf last time, the entire virtual machine occupied a lot of resources, so I did not install perf after I rebuilt the virtual machine. I also used qperf to test.

Cilium parameters are set as follows:
[code]
When I used Cilium, I deleted all the iptables with the following command
[code]

calico qperf results:
[code]
cilium qperf results:
[code]

[2022-01-07 09:11] tklauser commented on #17414
Seen again in https://github.com/cilium/cilium/pull/18289: https://app.travis-ci.com/github/cilium/cilium/jobs/554570653

[2022-01-07 09:12] #16816 closed

[2022-01-07 09:23] pchaigno commented on #12690
@twpayne Should we disable this test?

[2022-01-07 09:42] #18221 closed

[2022-01-07 10:48] #18036 closed

[2022-01-07 12:15] twpayne commented on #12690
Yes, given that it's been flaky for 18 months, it's right to disable it.

[2022-01-07 12:47] aanm commented on #13160
@duanjiong any update on the subject? Thank you

[2022-01-07 12:53] aanm commented on #14957
@brb this is has been marked stale, do you want to keep track of it or close it?

[2022-01-07 15:29] MrMYHuang commented on #18350
Sorry, after my more experiments, I find this problem is closely related to Ubuntu 21.10.

I told this problem could be solved by reboot PC, but more experiments show it's wrong. I did get a working Ubuntu 21.10 + rke 1.3.3 + cilium 1.11.0 in the previous post (with unknown causes). But latterly, I did a experiment that broke the cilium L7 policy function: I removed rke and installed microk8s. The

[2022-01-07 17:15] aanm opened #18404 "Replace stale bot with GH action"
It looks that the stale bot hasn't been working for a while. See #12072 which should have been closed by now. We are not the only ones noticing this issue has there are some issues in the stale bot repository https://github.com/probot/stale/issues/354 already mentioning the same.

We should potentially replace it with this one https://github.com/marketplace/actions/close-stale-issues

cc @twpayne

[2022-01-07 17:20] aanm commented on #12503
This issue has not seen any activity since it was marked stale. Closing. Feel free to re-open a new issue if it is still persisting. Thank you.

[2022-01-07 17:20] #12503 closed

[2022-01-07 17:20] aanm commented on #13853
This issue has not seen any activity since it was marked stale. Closing. Feel free to re-open a new issue if it is still persisting. Thank you.

[2022-01-07 17:20] aanm commented on #13974
This issue has not seen any activity since it was marked stale. Closing. Feel free to re-open a new issue if it is still persisting. Thank you.

[2022-01-07 17:20] #13974 closed

[2022-01-07 17:20] aanm commented on #14411
This issue has not seen any activity since it was marked stale. Closing. Feel free to re-open a new issue if it is still persisting. Thank you.

[2022-01-07 17:20] #14411 closed

[2022-01-07 17:20] aanm commented on #15330
This issue has not seen any activity since it was marked stale. Closing. Feel free to re-open a new issue if it is still persisting. Thank you.

[2022-01-07 17:20] #15330 closed

[2022-01-07 17:20] aanm commented on #15432
This issue has not seen any activity since it was marked stale. Closing. Feel free to re-open a new issue if it is still persisting. Thank you.

[2022-01-07 17:20] #15432 closed

[2022-01-07 17:20] aanm commented on #15476
This issue has not seen any activity since it was marked stale. Closing. Feel free to re-open a new issue if it is still persisting. Thank you.

[2022-01-07 17:20] #15476 closed

[2022-01-07 17:20] aanm commented on #15572
This issue has not seen any activity since it was marked stale. Closing. Feel free to re-open a new issue if it is still persisting. Thank you.

[2022-01-07 17:20] #15572 closed

[2022-01-07 17:20] aanm commented on #15583
This issue has not seen any activity since it was marked stale. Closing. Feel free to re-open a new issue if it is still persisting. Thank you.

[2022-01-07 17:20] #15583 closed

[2022-01-07 17:20] aanm commented on #15810
This issue has not seen any activity since it was marked stale. Closing. Feel free to re-open a new issue if it is still persisting. Thank you.

[2022-01-07 17:20] #15810 closed

[2022-01-07 17:20] aanm commented on #16088
This issue has not seen any activity since it was marked stale. Closing. Feel free to re-open a new issue if it is still persisting. Thank you.

[2022-01-07 17:20] #16088 closed

[2022-01-07 17:20] aanm commented on #16203
This issue has not seen any activity since it was marked stale. Closing. Feel free to re-open a new issue if it is still persisting. Thank you.

[2022-01-07 17:20] aanm commented on #16267
This issue has not seen any activity since it was marked stale. Closing. Feel free to re-open a new issue if it is still persisting. Thank you.

[2022-01-07 17:20] #16267 closed

[2022-01-07 17:20] aanm commented on #16321
This issue has not seen any activity since it was marked stale. Closing. Feel free to re-open a new issue if it is still persisting. Thank you.

[2022-01-07 17:20] #16321 closed

[2022-01-07 17:20] aanm commented on #16337
This issue has not seen any activity since it was marked stale. Closing. Feel free to re-open a new issue if it is still persisting. Thank you.

[2022-01-07 17:20] #16337 closed

[2022-01-07 17:20] aanm commented on #16478
This issue has not seen any activity since it was marked stale. Closing. Feel free to re-open a new issue if it is still persisting. Thank you.

[2022-01-07 17:20] #16478 closed

[2022-01-07 17:20] aanm commented on #16498
This issue has not seen any activity since it was marked stale. Closing. Feel free to re-open a new issue if it is still persisting. Thank you.

[2022-01-07 17:20] #16498 closed

[2022-01-07 17:20] aanm commented on #16599
This issue has not seen any activity since it was marked stale. Closing. Feel free to re-open a new issue if it is still persisting. Thank you.

[2022-01-07 17:20] aanm commented on #16612
This issue has not seen any activity since it was marked stale. Closing. Feel free to re-open a new issue if it is still persisting. Thank you.

[2022-01-07 17:20] #16612 closed

[2022-01-07 17:20] aanm commented on #16613
This issue has not seen any activity since it was marked stale. Closing. Feel free to re-open a new issue if it is still persisting. Thank you.

[2022-01-07 17:20] #16613 closed

[2022-01-07 17:20] aanm commented on #16649
This issue has not seen any activity since it was marked stale. Closing. Feel free to re-open a new issue if it is still persisting. Thank you.

[2022-01-07 17:20] #16649 closed

[2022-01-07 17:20] aanm commented on #16658
This issue has not seen any activity since it was marked stale. Closing. Feel free to re-open a new issue if it is still persisting. Thank you.

[2022-01-07 17:20] #16658 closed

[2022-01-07 17:22] aanm commented on #16349
@jrajahalme it seems the issue is no longer present, can we close this GH issue?

[2022-01-07 17:22] aanm commented on #16361
This issue has not seen any activity since it was marked stale. Closing. Feel free to re-open a new issue if it is still persisting. Thank you.

[2022-01-07 17:22] #16361 closed

[2022-01-07 17:23] aanm commented on #16406
This issue has not seen any activity since it was marked stale. Closing. Feel free to re-open a new issue if it is still persisting. Thank you.

[2022-01-07 17:24] aanm commented on #16418
This issue has not seen any activity since it was marked stale. Closing. Feel free to re-open a new issue if it is still persisting. Thank you.

[2022-01-07 17:29] aanm commented on #16425
This issue has not seen any activity since it was marked stale. Closing. Feel free to re-open a new issue if it is still persisting. Thank you.

[2022-01-07 17:30] #16620 closed

[2022-01-07 17:31] aanm commented on #16657
Duplicate of https://github.com/cilium/github-actions/issues/12

[2022-01-07 17:31] #16657 closed

[2022-01-07 17:32] aanm commented on #16677
This issue has not seen any activity since it was marked stale. Closing. Feel free to re-open a new issue if it is still persisting. Thank you.

[2022-01-07 17:32] #16677 closed

[2022-01-07 17:33] aanm commented on #16859
This issue has not seen any activity since it was marked stale. Closing. Feel free to re-open a new issue if it is still persisting. Thank you.

[2022-01-07 17:33] #16859 closed

[2022-01-07 17:34] aanm commented on #16931
@Weil0ng Should we keep this GH issue open for 1.12 development cycle? Thanks

[2022-01-07 17:44] aanm commented on #17033
@aditighag are you planing to work on this? This has been open for more than 6 months with no activity so I suggest to close it.

[2022-01-07 17:44] aanm commented on #17039
This issue has not seen any activity since it was marked stale. Closing. Feel free to re-open a new issue if it is still persisting. Thank you.

[2022-01-07 17:44] #17039 closed

[2022-01-07 17:48] aanm commented on #17056
@srini-ram there's a PR being worked on. See #17980

[2022-01-07 17:48] aanm commented on #17073
If it is a duplicate of #16488 this has been fixed by https://github.com/cilium/cilium/pull/18247

[2022-01-07 17:48] #17073 closed

[2022-01-07 17:49] aanm commented on #17166
This issue has not seen any activity since it was marked stale. Closing. Feel free to re-open a new issue if it is still persisting. Thank you.

[2022-01-07 17:49] #17166 closed

[2022-01-07 17:50] aanm commented on #17170
This issue has not seen any activity since it was marked stale. Closing. Feel free to re-open a new issue if it is still persisting. Thank you.

[2022-01-07 17:50] #17170 closed

[2022-01-07 17:53] vincentmli commented on #18169
@Charlottell
if you can manage to produce flamegraph like https://cilium.io/blog/2021/05/11/cni-benchmark#flamegraph and compare the difference between your flamegraph and the sample flamegraph, it might show some clue.

[2022-01-07 17:53] geyslan commented on #16400
@aditighag Thanks for contacting. Unfortunately, I won't be able to continue with this issue.

[2022-01-07 18:48] pchaigno commented on #16406
The issue wasn't stale and it's still happening. We don't notice it because that error message is allowlisted: https://github.com/cilium/cilium/blob/2d8b515e73351043c33cb2e8decf640c330ac7a0/test/helpers/cons.go#L239.

[2022-01-07 18:49] pchaigno commented on #16425
The issue wasn't stale and it's still happening. We don't notice it because that error message is allowlisted: https://github.com/cilium/cilium/blob/2d8b515e73351043c33cb2e8decf640c330ac7a0/test/helpers/cons.go#L240.

[2022-01-07 19:34] ryanmt commented on #15393
I commented in the referenced slack thread as well, but I have a related question which ties to the "is node-init necessary" which is that if it is necessary, it would be nice to be captured as part of the single DS rather than a secondary pod on every single host.  Just thinking that it consumes limited resources (EKS... so mostly pod count per instance type) which would be nice to avoid.

Obviou

[2022-01-07 20:07] jrfastab commented on #1741
closing someone can open specific issues as needed, clearly I'm not doing these seeing its 2022.

[2022-01-07 20:07] #1741 closed

[2022-01-07 20:10] jrfastab commented on #6091
closing lets merge this into a complete design when we get there.

[2022-01-07 20:10] #6091 closed

[2022-01-07 20:11] jrfastab commented on #6092
Plan to fix this upstream so we can iterate sockets and update sockmap.

[2022-01-07 20:11] #6092 closed

[2022-01-07 20:13] jrfastab commented on #6431
This is mostly resolved upstream but there are still a few problems about what to do when limits are reached. Will fix upstream. Closing from Cilium side.

[2022-01-07 20:13] #6431 closed

[2022-01-07 20:15] jrfastab commented on #6439
Closing I don't care much if bpftool is incorrect although would be nice to fix.

[2022-01-07 20:15] #6439 closed

[2022-01-07 20:18] jrfastab commented on #6438
closing from Cilium portal and tracking in a new PR with complete fix across multiple issues.

[2022-01-07 20:18] #6438 closed

[2022-01-07 20:18] jrfastab commented on #6820
never happened so closing.

[2022-01-07 20:18] #6820 closed

[2022-01-07 20:19] jrfastab commented on #6821
we have a different benchmark framework now so closing.

[2022-01-07 20:19] #6821 closed

[2022-01-07 20:19] jrfastab commented on #6822
done.

[2022-01-07 20:19] #6822 closed

[2022-01-07 20:19] jrfastab commented on #6824
necessary but tracking in another project.

[2022-01-07 20:19] #6824 closed

[2022-01-07 20:19] mestery commented on #6438
@jrfastab Can you link to the new PR here please, I'd like to follow along with that one as well. Thanks!

[2022-01-07 20:20] jrfastab commented on #6825
ipvlan is not supported at the moment.

[2022-01-07 20:20] #6825 closed

[2022-01-07 20:20] jrfastab commented on #7307
good enough done.

[2022-01-07 20:20] #7307 closed

[2022-01-07 20:20] jrfastab commented on #7310
no plans to implement please open a new item when this becomes a higher priority.

[2022-01-07 20:20] #7310 closed

[2022-01-07 20:21] jrfastab commented on #7310
also hubble now can 'observe' this so we can alert in hubble datapath.

[2022-01-07 20:22] jrfastab commented on #8713
closing at this point. Its 2022 if anyone cares open a feature request.

[2022-01-07 20:22] #8713 closed

[2022-01-07 20:23] jrfastab commented on #9624
hubble exists now and is much better than old school logs.

[2022-01-07 20:24] jrfastab commented on #11316
please open a new feature request if needed.

[2022-01-07 20:24] #11316 closed

[2022-01-07 20:24] jrfastab commented on #13411
various vmxnet3 and other device bugs have been fixed. Will close as I believe this is fixed and its not had any movement in 1+ year.

[2022-01-07 20:24] #13411 closed

[2022-01-07 20:41] aanm commented on #17500
@mkjpryor do you want and try to fix it up with a PR?

[2022-01-07 20:41] sylr opened #18405 "ENI IPv6 support"
## Proposal / RFE

AWS released IPv6 on EKS https://aws.amazon.com/blogs/aws/amazon-elastic-kubernetes-service-adds-ipv6-networking/.

Now eager to see this land in cilium :)

[2022-01-07 20:50] sylr commented on #18405
https://docs.aws.amazon.com/eks/latest/userguide/cni-ipv6.html

[2022-01-07 20:52] aanm commented on #17436
This issue has not seen any activity since it was marked stale. Closing. Feel free to re-open a new issue if it is still persisting. Thank you.

[2022-01-07 20:52] #17436 closed

[2022-01-07 20:54] aanm commented on #17290
@djcass44 please see if this solution works for you https://github.com/cilium/cilium/issues/17349

[2022-01-07 21:01] aanm commented on #17244
This issue has not seen any activity since it was marked stale. Closing. Feel free to re-open a new issue if it is still persisting. Thank you.

[2022-01-07 21:01] #17244 closed

[2022-01-07 21:02] aanm commented on #17223
@encodeflush this has been fixed in Cilium 1.10 and 1.11. Can you please check?

[2022-01-07 21:14] aanm commented on #17223
Closing as this as been fixed in 1.10 and 1.11. Feel free to open a new issue if you still see it happening in those versions.

[2022-01-07 21:14] #17223 closed

[2022-01-07 21:20] aanm commented on #17615
This issue has not seen any activity since it was marked stale. Closing. Feel free to re-open a new issue if it is still persisting. Thank you.

[2022-01-07 21:20] #17615 closed

[2022-01-07 21:20] aanm commented on #17653
This issue has not seen any activity since it was marked stale. Closing. Feel free to re-open a new issue if it is still persisting. Thank you.

[2022-01-07 21:20] #17653 closed

[2022-01-07 21:25] aanm commented on #10742
This issue has not seen any activity since it was marked stale. Closing. Feel free to re-open a new issue if it is still persisting. Thank you.

[2022-01-07 21:25] #10742 closed

[2022-01-07 21:30] aanm commented on #18084
@austince do you want to submit a PR? I'm not sure if helm supports such feature but if it does it might be easy to write a solution for this issue.

[2022-01-07 21:35] aanm commented on #17880
I would suggest to hardcode "Status N.A." on all values for the fields that are disabled.

[2022-01-07 21:36] aanm commented on #17877
@roobre were you able to reproduce the issue? Thank you!

[2022-01-07 21:37] austince commented on #18084
Sure – I think its sufficient to just create the Secret resource given a value, and not worry about generating the value in Helm.

[2022-01-07 21:37] aanm commented on #17875
@shivanshu1333 do you have any update on this subject?

[2022-01-07 21:39] aanm commented on #17903
@jonkerj do you have any update on this? Thank you

[2022-01-07 21:43] aanm commented on #18256
This is a duplicate of https://github.com/cilium/cilium/issues/18256

[2022-01-07 21:46] aanm commented on #17837
Closing as this was not a Cilium issue.

[2022-01-07 21:46] #17837 closed

[2022-01-07 21:48] aanm commented on #17734
@alonana can you provide a hello-world golang code snippet that we can take a look? Thanks

[2022-01-07 23:15] christarazi commented on #14203
Closing as the PR for this issue was closed.

[2022-01-07 23:15] #14203 closed

[2022-01-07 23:16] christarazi commented on #12737
Closed as all items have been completed :tada:.

[2022-01-07 23:17] christarazi commented on #12737
Closed as all items have been completed :tada: .

[2022-01-07 23:17] #12737 closed

[2022-01-07 23:17] #11412 closed

[2022-01-07 23:39] aanm commented on #18256
@GabMgt please send me a sysdump of the cluster over slack where it has at least the source and the destination nodes having issues. My username on slack.cilium.io is `aanm`

[2022-01-08 03:05] christarazi opened #18407 "Improve error msg when endpoint fails to be created due to full policymap size"
There have been reports where endpoints fail to be created (due to a Cilium API timeout) because the policymap is full. The error msg seen by the user ("Cilium API timed out") is not helpful at all if the policymap is filled up, because the API could time out for a myriad of reasons.

In one specific case, the reason why the policymap was full was due to an FQDN leak which was fixed by https://git

[2022-01-08 03:43] jrfastab commented on #17172
Late reply, just noticed while cleaning up github issues for the new year. As noted above sockmap only comes into the picture after the socket enters ESTABLISHED state (technically just before ESTABLISHED state from kernel side). So this is not really a question about sockmap, but instead how does Cilium redirect SYN (3 way handshake) to Envoy. This is done with TPROXY redirects in the kernel base

[2022-01-08 03:43] shivanshu1333 commented on #17875
We can close this for now.

[2022-01-08 03:44] #17875 closed

[2022-01-08 08:18] timoreimann commented on #17837
@aanm apologies, I somehow missed your latest comment.

We saw the issue again very recently on a cluster of ours running Cilium 1.9. I don't think the informers were unsynced since the CiliumNode object were dangling for more than 10 days while the cluster and Cilium were running fine in general.

I noticed that ownership relationship handling was improved somewhat in #17329 -- prior to that, I t

[2022-01-08 11:06] chowmean commented on #18407
Hi, @christarazi if possible can you please point me the piece of code. I will try to fix the error message.

[2022-01-08 17:13] GabMgt commented on #18256
I am sorry but I can't. These are clusters at the company I work at. I built a "decoy" cluster with the same config for this purpose but no network issue since 2 weeks.

[2022-01-08 18:40] adamcharnock commented on #16966
I'm also encountering this issue. It presents slightly differently on both `0.10.6` and `0.11.0`:

<details>
  <summary>Configuration</summary>

[code]
</details>

## 0.10.6 with DSR enabled

* I can access Service CIDR IPs from the cluster nodes
* I cannot access Service CIDR IPs externally to the cluster. Disabling DSR resolves this issue

## 0.11.0 with DSR enabled

* I cannot access Service CI

[2022-01-09 05:31] alonana commented on #17734
Here is a sample code

[code]

and the result policy is:

[code]

[2022-01-10 02:47] MrMYHuang commented on #18350
I continue to fight with this problem. More experiments show I have to explicitly disable bpf.tproxy to make cilium L7 policy work on Ubuntu 21.10.

Once again, my cilium L7 policy function automatically changed from abnormal to normal with unknown causes. Then, I saved both iptables and iptables-legacy: `sudo iptables-save > 1.txt && sudo iptables-legacy-saves > 2.txt`
Then, I uninstall rke: `rke

[2022-01-10 06:04] MrMYHuang commented on #18350
Sorry, after more experiments, I find this problem is not related to tproxy on Ubuntu 21.10.

First, I find **a bug of microk8s**: `sudo snap remove microk8s` doesn't stop calico-node process! It can be confirmed by `ps aux|grep calico`. The process continued generating iptables-legacy rules! Please kill it manually.

Then my experience strongly suggests to **clear iptables-legacy** before install

[2022-01-10 06:31] #18350 closed

[2022-01-10 10:28] brb commented on #11365
I haven't tried reproducing the issue in a while, and I doubt that I will have time for it. Let's close it. We can reopen it if anyone hits it.

[2022-01-10 10:28] #11365 closed

[2022-01-10 10:28] gandro opened #18417 "hubble: Read proxy port from `to-proxy` events"
Commit https://github.com/cilium/cilium/commit/5e00eaa8260dbed45cca3f85a806989152ff85aa exposed the proxy port in `TO_PROXY` events via the `DstId` flag. We should parse this in the Hubble parser and populate the `flow.proxy_port` field from it.

[2022-01-10 10:31] brb commented on #16966
@adamcharnock Could you create a separate issue? This one is for Maglev, while your is when DSR is enabled (the root cause should be different). Also, please attach the sysdump.

[2022-01-10 10:44] jonkerj commented on #17903
Unfortunately, no. I have tried to isolate the issue in a smaller cluster, but policies always work when referencing ports by name. Things even got worse: a lot of FQDN rules stopped working intermittently at some point (which might not be related at all).

Not knowing where to look for clues, I have swapped all names for numbers in order to have a working production set up.

[2022-01-10 11:18] pchaigno commented on #17240
The fix didn't make it into v1.11. We had to prioritize other IPv6-related improvements instead. We are still planning to fix this.

[2022-01-10 11:57] wapson commented on #18293
Hey, thank you for you comment.
Due to some automation issues, I can't taint nodes with cilium taint. That's why I used `--set nodeinit.restartPods=true` in helm parameters to be sure that all resources will be restarted after Cilium installation. Of course in debugging sessions I rerolled all of the workloads a couple of times and the result is exactly the same.
Correct me if I'm wrong but as far

[2022-01-10 12:38] mkilchhofer opened #18421 "Support private registry for 'connectivity test' subcommand"
We install cilium with helm into our EKS clusters. Our networking setup prevents pulling images other than private ECR and custom (artifactory) mirror. This is due to caching and security reasons.

## Proposal / RFE

**Is your feature request related to a problem?**
The subcommand `cilium connectivity test` does not (yet) support a flag to override the registry.
When running the command, it stops

[2022-01-10 13:45] brb commented on #14957
Let's keep it. All dependencies have been resolved, we could just run the tests on Kind.

[2022-01-10 16:46] spotted-cat commented on #18391
Hello I am new to Open Source contributions :)
I have looked into the root.go file of bugtool where this feature could be implemented by updating the isValidArchiveType, runTool, and cleanup functions. Is there something else more I am missing here?

[2022-01-10 17:03] #16751 closed

[2022-01-10 17:09] aditighag commented on #18350
Thanks for tracking it down! Nice job!

[2022-01-10 19:43] spotted-cat commented on #18391
I looked in the `CreateArchive` and `CreateGzip` function implementations inside the `helper.go` file where it seems that the `CreateGzip` function is first calling `CreateArchive` to make a tarball file which after gets compressed with the gzip compression. So I think when set to gz as Archive type it is actually creating a .tar.gz file

[2022-01-10 19:52] christarazi commented on #18407
Turns out this is a dup of https://github.com/cilium/cilium/issues/15864. See the linked PR. It is available since 1.10.4. Closing, apologies @chowmean, thanks for the interest! Please check out other good fist issues.

[2022-01-10 19:52] #18407 closed

[2022-01-10 20:31] amilanoski commented on #18239
I am facing this issue in 1.10.6

eni portion helm values.yaml
[code]

Logs: in operator showing similar logs

[code]

however when I update value **subnetTagsFilter** with like below

`subnetTagsFilter: function=eks`

logs show
`level=info msg="Synchronized ENI information" numInstances=11 numSecurityGroups=12 numSubnets=11 numVPCs=1 subsys=eni`

Notice the **numSubnets**

It looks like the opera

[2022-01-10 20:47] sayboras commented on #18391
@spotted-cat  :wave: thanks for your checking on this. You are right, seems like underlying implementation is already doing .tar.gz, good spot :100: .

While this issue is no longer required, we can directly leverage .tar.gz from bugtool, and remove the below block that I recently added. Feel free to let us know if you want to work on this. Please reach out on Slack if you have any question

https

[2022-01-10 22:59] amilanoski commented on #18239
Upgraded to 1.11.0
I was able to get the subnetFilter to work, but then the operator could not get the security group.

Notice numSubnet is 3 now.
`level=info msg="Synchronized ENI information" numInstances=4 numSecurityGroups=12 numSubnets=3 numVPCs=1 subsys=eni`

`level=warning msg="Unable to create interface on instance: unable to get security groups failed to get security group ids" instanceID

[2022-01-11 00:10] aanm commented on #17837
@timoreimann if the issue is happening that often and if it's not fixed in 1.9.11 please do open a new issue or mention my username on this one so I can re-open it. Thank you!

[2022-01-11 00:39] bugie opened #18432 "Azure AKS in Government Cloud"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

With a new AKS cluster setup in Azure US Government cloud, I ran the Cilium install command as referenced here, https://docs.cilium.io/en/v1.9/gettingstarted/k8s-install-aks/.

After deployment, the logs in the operator show:
[code]

Of interest are the endpoints. In Government Cloud the manage

[2022-01-11 06:50] maintainer-s-little-helper[bot] opened #18434 "CI: K8sDatapathConfig Host firewall With VXLAN"
### Test Name
[code]

### Failure Output
[code]

### Stacktrace
<details><summary>Click to show.</summary>

[code]
</details>

### Standard Output
<details><summary>Click to show.</summary>

[code]
</details>

### Standard Error
<details><summary>Click to show.</summary>

[code]
</details>

ZIP Links:
<details><summary>Click to show.</summary>

 https://jenkins.cilium.io/job/Cilium-PR-K8s-GKE//726

[2022-01-11 06:50] maintainer-s-little-helper[bot] opened #18435 "CI: K8sHealthTest cilium-health Checks status between nodes"
### Test Name
[code]

### Failure Output
[code]

### Stacktrace
<details><summary>Click to show.</summary>

[code]
</details>

### Standard Output
<details><summary>Click to show.</summary>

[code]
</details>

### Standard Error
<details><summary>Click to show.</summary>

[code]
</details>

ZIP Links:
<details><summary>Click to show.</summary>

 https://jenkins.cilium.io/job/Cilium-PR-K8s-GKE//726

[2022-01-11 06:54] michi-covalent commented on #18434
seems to be a duplicate of https://github.com/cilium/cilium/issues/18138. closing

[2022-01-11 06:54] #18434 closed

[2022-01-11 08:47] spotted-cat commented on #18391
Yes I would like to work on this issue, mostly it's just removing that blob and updating the help to say that gz means .tar.gz?

[2022-01-11 09:10] mvisonneau opened #18436 "Enabling wellKnownIdentities on v1.11.0 causes the agent to crash"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

When upgrading from v1.10.4 to v1.11.0, I ran into the following issue on the Cilium agent:

[code]

After some troubleshooting, I found the causality to be around the following parameter:

[code]

Disabling the feature seems to sort the issue out.

### Cilium Version

`v1.11.0`

### Kernel Ver

[2022-01-11 09:13] kkourt opened #18437 "CI: K8sDatapathConfig MonitorAggregation Checks that monitor aggregation restricts notifications"
### Test Name

[code]

### Failure Output

[code]

### Stack Trace

<details>

[code]

</details>

### Standard Output

<details>

[code]

</details>

### Standard Error

<details>

[code]

</details>

### Resources

- Jenkins URL: https://jenkins.cilium.io/job/Cilium-PR-K8s-1.16-kernel-4.9/530/testReport/junit/Suite-k8s-1/16/K8sDatapathConfig_MonitorAggregation_Checks_that_monitor_aggregation_res

[2022-01-11 09:14] spotted-cat commented on #18391
Shall I open an issue in the `cilium-cli` repo where removing that redundant compression blob?

[2022-01-11 09:15] sayboras commented on #18391
hi,

Yes, two things we are can do here for each repo

cilium:
- Update the help to make it clearer if archive type is passed as gz.
- Skim through some docs if we need to do similar thing

cilium-cli:
- Simplify the steps of capture bugtool by using -archiveType gz directly. This might require to pass flags to bugtool, however, the tricky part is that we have support CiliumBugtoolFlags, so what h

[2022-01-11 09:39] spotted-cat commented on #18391
I will alter the help and scan the docs in this repo. After that I will look into the `cilium-cli` repo for what could be done, Though will raise the issue in `cilium-cli` for cleaning up that gzip blob now.

[2022-01-11 10:52] jibi commented on #13575
Since we now have e2e tests, maybe worth closing this and tracking individual remaining tasks? (Also not sure we really need `bpf egress delete all`)

[2022-01-11 11:00] gandro commented on #18239
Might be relevant here: We have discovered a bug in way `subnet-tags-filter` is parsed, see #18293

The TLDR is that `subnetTagsFilter: "foo=bar"` does not work when provided via ConfigMap, but you may use a JSON filter as a workaround, i.e. `subnetTagsFilter: '{"foo":"bar"}'`. We plan to fix that.

But the above bug has been present since the introduction of the `subnet-tags-filter` flag was adde

[2022-01-11 12:48] gandro commented on #18239
Which v1.10 version are you using? My understanding is that the `eni.subnetTagsFilter` will be silently ignored in such a setup due the above bug. But we might be missing something else here.

You can verify that the really filter works by checking that the `numSubnets` count for the `level=info msg="Synchronized ENI information"` message in the cilium-operator? It should report the same number of

[2022-01-11 13:06] maintainer-s-little-helper[bot] opened #18439 "CI: K8sChaosTest Connectivity demo application Endpoint can still connect while Cilium is not running"
### Test Name
[code]

### Failure Output
[code]

### Stacktrace
<details><summary>Click to show.</summary>

[code]
</details>

### Standard Output
<details><summary>Click to show.</summary>

[code]
</details>

### Standard Error
<details><summary>Click to show.</summary>

[code]
</details>

ZIP Links:
<details><summary>Click to show.</summary>

 https://jenkins.cilium.io/job/Cilium-PR-K8s-GKE//730

[2022-01-11 13:18] mhulscher commented on #18239
So I am installing cilium 1.10.6, but this has also worked with 1.10.5.

Given a `cilium-config` ConfigMap with
[code]

I can see the following in the cilium-operator logs:
[code]

Interestingly, the operator detects 9 subnets.

[code]

However, I expect the operator to only detect the 3 pod-subnets:
[code]

The reason why everything still works, is probably because of what you suggested; the subn

[2022-01-11 13:22] pchaigno commented on #18439
I'm a bit surprised this is a flake. The error message suggests it may *always* be failing...

[2022-01-11 13:25] pchaigno commented on #18285
This should be trivial to fix. We're just passing an incompatible set of flags when starting Cilium...

[2022-01-11 13:27] pchaigno commented on #18439
It's actually a duplicate of https://github.com/cilium/cilium/issues/18285.

[2022-01-11 13:29] gandro commented on #18239
Thanks for the information, that's helpful. I wasn't aware that the `k=v` syntax throws an error on v1.11.

It seems like we might have two bugs here:
- One is the parser issue (which doesn't seem present on v1.11)
- The other one is the `instance not found` error, for which we have not yet established a root cause

Does this instance (`ip-10-28-83-186.eu-west-1.compute.internal`) actually exist i

[2022-01-11 13:30] sayboras opened #18440 "Expose hubble-ui security context in helm chart."
In helm values, user can only set enable:true|false for security context, which is not so flexible as only runAsUser attribute is set.

Moreover, this approach is not consistent with other workload such as cilium agent, or hubble relay, etc.

[code]

While the change is feasible, backward compatibility might be tricky here. Let's say some customers might deploy cilium helm chart with hubble.ui.sec

[2022-01-11 13:32] mhulscher commented on #18239
The node actually exists. The operator is throwing these errors because it is triggered by a new CiliumNode, which is created by the cilium-agent running on the newly created k8s node. The error that the node can't be found is thrown when cilium can't discover any ENIs for the node (as per the function that I linked).

[2022-01-11 13:35] pchaigno commented on #18285
This test failure was introduced by https://github.com/cilium/cilium/pull/18233 because https://github.com/cilium/cilium/pull/18117 was mistakenly backported, even though the pull request on which it was based (https://github.com/cilium/cilium/pull/16395) wasn't itself backported. We started failing tests on `level=error` messages in v1.11 only.

cc @nbusseneau @nathanjsweet @joestringer

I'm not

[2022-01-11 13:39] mhulscher commented on #18239
Perhaps the issue I am having is case a of PEBKAC, maybe I am misunderstanding the documentation?

My goal is the as follows:

- Nodes are created with their first interface in a private subnet
- Cilium should discover all subnets in the VPC; it should be aware of all CIDRs in the VPC so that traffic to other subnets is not SNATted
- Cilium should assign ENIs and IPs from the pod subnets to pods
-

[2022-01-11 13:58] pchaigno commented on #18436
I think this is caused by this line: https://github.com/cilium/cilium/blob/27e0848cc52f13cd697eec7c6cada84667c47879/pkg/identity/numericidentity.go#L317
which was introduced by https://github.com/cilium/cilium/commit/71127067d8f831d84975f4a7b04bcccf74c88e31 (in https://github.com/cilium/cilium/pull/17589). That code was then fixed in https://github.com/cilium/cilium/pull/18148 and backported to v1

[2022-01-11 14:04] gandro commented on #18239
Given this information, I do believe might we have a bug around `eni.subnetTagsFilter` (i.e. the operator `--subnet-tags-filter` flag) in v1.11 besides the CLI parsing bug already discovered. Because I expect `eni.subnetTagsFilter` (Helm) and `eni.subnet-tags` (CNI Config) to be functionally *more or less* identical.

In other words, both should work, and both filters should be applied (i.e. attac

[2022-01-11 14:05] pchaigno commented on #18285
But then the commit description doesn't match the commit content at all. The description is about adding one more exception to avoid test failures, the code actually fails more tests. In general, we shouldn't change the behavior of the code during the backports. If a PR A is based on another PR B, we should backport both or none, regardless of whether A supersedes B. The intent is to have a proper

[2022-01-11 14:10] ArthurChiao commented on #18436
Yes, I think #18148 should have fixed the problem.

[2022-01-11 15:41] maxwellxxx opened #18442 "Service CT entries leaking"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

Visiting clusterIP in a POD leads to a **service CT** entry generated in CT map with a long timeout. Because the service CT entry does not see close in INGRESS direction, I think this is a **critical bug**.
[code]
If the visiting is very frequently, such as a high load application. The count of

[2022-01-11 15:45] maxwellxxx commented on #18442
@tgraf

[2022-01-11 16:13] nbusseneau commented on #18285
Ah, I see what you mean. OK with both solutions, let me know if you'd like me to do something :)

[2022-01-11 16:52] pchaigno commented on #18442
Why is the TCP FIN exchange not seen here? Under what Cilium configuration did you reproduce this?

cc @brb

[2022-01-11 16:56] aditighag commented on #18442
It'll also be useful to check `conntrack-gc-interval`. Could you also attach the sysdump *while* the issue is happening? Please highlight the service traffic tuple that you suspect is leaking.

[2022-01-11 17:27] #13575 closed

[2022-01-11 17:30] lbernail commented on #14339
A quick additional comment here: we have the same problem on a very simple setup: we run https://github.com/kubernetes/dns/tree/master/cmd/node-cache on all our nodes (local coredns cache) and it creates a dummy interface (which defaults to 1500 MTU). The agent regularly ends up using this interface as the MTU:
[code]
We will likely just end up using `--mtu` to control the MTU used by the agent bu

[2022-01-11 17:32] aditighag commented on #18347
The 1.11 behavior seems expected since the datapath drops packets with L4 protocol other than TCP, UDP, or ICMP. One thing to check between 1.10 and 1.11 clusters is whether the bpf_host program is attached on the interface that's used for the keep alive traffic.

You can run `sudo bpftool net show` on the cilium pod in both 1.10 and 1.11, with host-fw enabled.

[2022-01-11 19:16] joestringer commented on #18432
Thanks for the report. It looks like these variables are provided in the Azure SDK that we use from Cilium:

[code]

When initializing the Azure modules, the environment is taken by querying the `instance/compute/azEnvironment` from the Azure Instance Metadata Service (where the cilium-operator component is running):

https://github.com/cilium/cilium/blob/dddbbe709e2827873420fef9b635152340f37f91/p

[2022-01-11 19:40] joestringer commented on #18285
Completely agree with this statement.

Agree. The original commit looked like this: https://github.com/cilium/cilium/pull/18117/files. The backport looked like this, which is different: https://github.com/cilium/cilium/pull/18233/commits/140a298a28b1bbeb74d089c15275b8d9193a60bd . Unless there is a strong reason, we should avoid the situation where the backport looks different from the original com

[2022-01-11 19:55] joestringer commented on #14339
For reference, elsewhere in the daemon there is this `DeviceManager` structure which provides `isViableDevice()` that also constrains the set of devices used for this kind of calculation, by excluding bridge devices and loopback and so on:

https://github.com/cilium/cilium/blob/dddbbe709e2827873420fef9b635152340f37f91/daemon/cmd/devices.go#L175-L177

It may be worthwhile to refactor this into some

[2022-01-11 21:22] ungureanuvladvictor commented on #18432
https://github.com/Azure/go-autorest/blob/master/autorest/azure/environments.go#L138 this should be the value for the login endpoint to AD.

[2022-01-11 21:42] ungureanuvladvictor commented on #18432
@bugie -- I'm assuming by following the instructions that Cilium set the env vars via https://github.com/cilium/cilium/blob/v1.9.11/install/kubernetes/cilium/templates/cilium-operator-deployment.yaml#L117-L136. I did some digging into the code and here is what I found:
- when the Azure IPAM gets started the 1st thing is going to construct the authorizer for the Azure client via https://github.com/

[2022-01-11 22:37] joestringer opened #18447 "CI: Any test: terminating containers are not deleted after timeout"
### Test Name

[code]

### Failure Output

[code]

### Stack Trace

[code]

### Standard Output

[code]

### Standard Error

[code]

### Resources

- Jenkins URL: https://jenkins.cilium.io/job/Cilium-PR-K8s-1.22-kernel-4.19/248/testReport/junit/Suite-k8s-1/22/K8sUpdates_Tests_upgrade_and_downgrade_from_a_Cilium_stable_image_to_master/
- ZIP file(s):
[0bb96475_K8sUpdates_Tests_upgrade_and_downgrade

[2022-01-11 22:40] joestringer commented on #18447
In this example, I go to the ["full log" console output](https://jenkins.cilium.io/job/Cilium-PR-K8s-1.22-kernel-4.19/248/execution/node/129/log/?consoleFull) and track down the test that failed. Then scroll up to find out which test was previously run and look into which resources it may have left behind after the test, and whether the `AfterAll` statements for the previous test group are correct

[2022-01-11 22:56] joestringer commented on #18447
:thinking:

The previous test attempted to clean up after itself properly, note these lines (though note also the timestamps):

[code]

At a glance, it looks like it should do the right thing; firstly, the inner context initiates deletion of the pods:
https://github.com/cilium/cilium/blob/dddbbe709e2827873420fef9b635152340f37f91/test/k8sT/lrp.go#L91-L93

Then, we expect to go back to the outer top

[2022-01-11 23:14] joestringer commented on #18386
Hit in [this k8s-1.23-kernel-net-next job](https://jenkins.cilium.io/job/Cilium-PR-K8s-1.23-kernel-net-next/178/) from the first test.

[2022-01-12 00:32] ooraini commented on #18347
1.10.4:
[code]

1.11:
[code]

[2022-01-12 00:44] aanm commented on #17903
@jonkerj In that case, can you close the issue? Feel free to re-open it back if the issue happens again. Thank you

[2022-01-12 00:51] aanm commented on #18293
`--set nodeinit.restartPods=true` does not exist in v1.11.0, it has been replaced with the node taint mechanism.

[2022-01-12 01:12] joestringer commented on #18386
It seems like sometimes the kubectl binary we fetch from `https://storage.googleapis.com/kubernetes-release/release/%s/bin/linux/amd64/kubectl` (for some version `%s`) isn't actually a binary, but is really just an error message from the server about not being able to find the relevant file.

Maybe we should enhance this function to grab the checksums, double-check them, and do retries if the sha

[2022-01-12 02:33] ChangyuWang commented on #17457
The reason is: Access service clusterIP from souce pod managed by cilium network,  connection tracking entries would be created in cilium_ct4_global map, where service ct holds 6h until gc.  Between gc interval, if map table is full, alive connection ct entry would be deleted by lru map while inserting some new entries. For the situation, new connection tracking entry with a different backend pod

[2022-01-12 02:48] ChangyuWang commented on #18442
Reduce the value of `conntrack-gc-interval` could not solve the problem in depth.  Just transmit a lot requests via accessing service clusterIP to reproduce the problem.

[2022-01-12 04:43] mukeshkwm commented on #18191
Can someone please help with above?

[2022-01-12 06:41] aditighag commented on #17791
Hi! 1) Can you run `cilium monitor --related-to <endpoint-id-frontend-pod>` while running the curl command? 2) Is there any server listening on port 8080 inside the frontend pod? You can check this by running `netstat -nlp | grep 8080`.

[2022-01-12 08:36] lbernail commented on #14339
@joestringer it's an interesting idea. I was thinking we could ignore link-local addresses (which could help with the node-local-dns case)
For kube-ipvs0 I think the interface should have the MTU of the VM interface (but this is out of the scope of cilium of course)

[2022-01-12 11:14] borkmann commented on #18191
I saw in Cilium status you have:

My gut feel right now (but just a wild guess at the moment) is that you might have run into a kernel bug which is shown in Calico, but not exposed via Cilium (low vs high flow numbers).

Given you run BandwidthManager in Cilium, it's internally resetting the queue mapping, and thus 'fixing' the issue. I would assume if you deploy Cilium with BandwidthManager disab

[2022-01-12 11:23] borkmann commented on #18169
@Charlottell Hm, `5.4.61` stable kernel is rather very old. Did you try with a latest stable kernel?

For example, for vxlan, might be missing https://git.kernel.org/pub/scm/linux/kernel/git/torvalds/linux.git/commit/?id=89e5c58fc1e2857ccdaae506fb8bc5fed57ee063 .

[2022-01-12 12:07] gandro commented on #18405
Looking at the way this seems to be implemented, it seems to require prefix delegation as well, which we currently don't support, but @hemanthmalla was looking into implementing for Cilium as well https://github.com/cilium/cilium/issues/16987

[2022-01-12 13:18] brb commented on #14398
Resolved by #17235.

[2022-01-12 13:18] #14398 closed

[2022-01-12 14:12] answer1991 commented on #18442
![image](https://user-images.githubusercontent.com/2566352/149154057-e85da620-14e2-4f34-a2aa-f8f12a5a0cd2.png)

It's very easy to reproduce the leak:
1. Create a deployment to generate Server pod, and create a service relate to the Server pod which has ClusterIP *192.168.0.1*
2. Use any pod as Client, exec in the Client pod, run `curl 192.168.0.1`
3. Exec in the cilium-agent pod which on the same

[2022-01-12 14:41] jamesharr commented on #14609
For anyone reading this thread, I (finally) noticed that ICMP support is in #16516 and can be enabled with a feature flag. This will work for my purposes.

[2022-01-12 15:11] maintainer-s-little-helper[bot] opened #18456 "CI: K8sUpdates Tests upgrade and downgrade from a Cilium stable image to master"
### Test Name
[code]

### Failure Output
[code]

### Stacktrace
<details><summary>Click to show.</summary>

[code]
</details>

### Standard Output
<details><summary>Click to show.</summary>

[code]
</details>

### Standard Error
<details><summary>Click to show.</summary>

[code]
</details>

ZIP Links:
<details><summary>Click to show.</summary>

 https://jenkins.cilium.io/job/Cilium-PR-K8s-1.23-ker

[2022-01-12 15:32] pchaigno commented on #18456
Duplicate of https://github.com/cilium/cilium/issues/18447 I think.

[2022-01-12 15:32] #18456 closed

[2022-01-12 15:39] #17056 closed

[2022-01-12 16:04] vincentmli commented on #17694
following diff could address above issue, the solution is to skip policy enforcement if `toCIDR` rules contains VTEP CIDR

[code]

[2022-01-12 16:38] nbusseneau commented on #18285
Revert PR at #18457.

[2022-01-12 17:40] jaliyetti-appian commented on #18329
@aanm I am on the same team as @Ian-Greene and am working on this too.  We actually are not able to access logs for pods on the node.  When the instance comes up logs are available via the Kubernetes api (i.e. via kubectl) but after about 30s these become inaccessible due to connection timeouts.  I would note that we are unable to ssm onto the nodes as well with this configuration applied.

I woul

[2022-01-12 17:47] vincentmli opened #18459 "VTEP integration cause hubble visibility glitch"
https://github.com/cilium/cilium/pull/17370#discussion_r782665135 track  the note from Joe here to address the issue in future

[2022-01-12 17:52] gandro opened #18460 "`TO_NETWORK` trace point does not populate `trace_notify.reason` field"
We currently have a trace point (used by Hubble and monitor) in the `to-netdev` program here:

https://github.com/cilium/cilium/blob/f54272429e9a5a9c7d216079690e2835e7c33fd1/bpf/bpf_host.c#L1099-L1100

However, the trace point currently passes zero to the `enum trace_reason reason` parameters, even though the functions it invokes (`handle_to_netdev_{ipv4,ipv6}`) actually does a CT lookup, the resu

[2022-01-12 17:53] jasonaliyetti commented on #18329
@aanm I am on @Ian-Greene's team working on this as well.

I am unable to provide logs because the logs become unavailable via the Kubernetes api (i.e. via kubectl) for these pods about 10 seconds after they start trying to come up -- we start getting connection timeouts.  We are also unable to ssm onto the nodes when this occurs due to connection timeouts.

I'd also note that Cilium is not being

[2022-01-12 18:48] jtaleric commented on #18169
Just to provide some context here. This is what I am seeing on EKS.

Single TCP Stream, across two nodes. 5 iterations, 60 second run, displaying the avg throughput seen.

![TCP Stream - Single Thread - 5 iterations](https://user-images.githubusercontent.com/3965163/149203004-ae0ff7cf-ad94-4909-94bc-2cbf5f610f5e.png)

[2022-01-12 18:55] adamwgray commented on #14339
We solved it by renaming our interfaces on the build of our cluster.
Ultimately that allowed us to fix the MTU by controlling which interfaces
came up in which order and that in turn set the MTU to the right sizes. It
was not ideal but it worked. It would have been nice to control it in a
different fashion. We ended up using interface names like external and
storage rather than relying on the auto

[2022-01-12 22:32] sigi4 commented on #14339
I got a very similiar issue and i'm happy to create a new issue if my issue is different enough:

I'm using cilium through rke2 (from rancher) and they changed cilium from 1.9 to 1.10 which broke my cluster.

All bigger kubernets api requests broke with:
`
"Error: unable to build kubernetes objects from release manifest: Get "https://192.168.0.1:443/openapi/v2?timeout=32s": http2: client connectio

[2022-01-12 22:41] #16967 closed

[2022-01-12 23:02] liuyuan10 opened #18462 "failed to load bpf_lxc.o with ubuntu 2004 and cilium 1.10.6"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

I'm using the public built image directly:

[code]

And the bpf_lxc.o is failed to load.

cilium configuration and log:
[cilium.log](https://github.com/cilium/cilium/files/7858490/cilium.log)

It seems like a regression introduced in 1.10.6. I can't reproduce it using 1.10.5

### Cilium Version

[2022-01-12 23:35] Weil0ng commented on #16931
Sorry just was this, yes, let's track these for 1.12.

[2022-01-13 00:03] norrissw commented on #18436
Doing some testing with a cluster-mesh setup against 1.11.0  and I encountered the same error. Installing with helm:

`helm upgrade --install cilium cilium/cilium --set etcd.enabled=true \
  --set etcd.managed=true \
  --set etcd.k8sService=true \
  --set identityAllocationMode=kvstore \
  --namespace kube-system \
  --set cluster.id=1 \
  --set cluster.name=demo1 \
  --set eni.enabled=false \
  -

[2022-01-13 00:12] chez-shanpu commented on #14609
Hi @jamesharr ! Thank you for your comments! And sorry for my reply late.
Yes, as you said ICMP rules is supported with the flag.
Currently, ICMP policy is disabled by default because of kernel complexity issue (eBPF program size issue).
So, this issue will be closed, when we solved this complexity issue and we can use ICMP policy without any flags.

[2022-01-13 01:15] musabmasood commented on #18332
The documentation you referred doesn't talk about etcd at all. Does this mean we don't need etcd anymore to implement cluster-mesh? Also, is there a declarative way to setup clustermesh (we used cilium helm chart to deploy it)? Thanks.

[2022-01-13 06:05] yangyang198703 opened #18465 "HTTP outbound traffic forbidden with istio-proxy installed"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

Installing Cilium 1.11.0 + Istio 1.10.4 (quay.io/cilium/istio_proxy:1.10.4) on Kubernetes cluster, and configured a `Sidecar` to expose a HTTP service on `127.0.0.1:8094` endpoint by following the practice from istio official documentation (https://istio.io/latest/docs/ops/deployment/requiremen

[2022-01-13 06:53] answer1991 commented on #18442
Besides, as I know, CT entry will also leak when receive rst.

[2022-01-13 07:51] maintainer-s-little-helper[bot] opened #18466 "CI: K8sServicesTest Checks service across nodes Tests NodePort BPF Tests with direct routing Tests NodePort"
### Test Name
[code]

### Failure Output
[code]

### Stacktrace
<details><summary>Click to show.</summary>

[code]
</details>

### Standard Output
<details><summary>Click to show.</summary>

[code]
</details>

### Standard Error
<details><summary>Click to show.</summary>

[code]
</details>

ZIP Links:
<details><summary>Click to show.</summary>

 https://jenkins.cilium.io/job/Cilium-PR-K8s-1.16-net

[2022-01-13 10:12] nbusseneau commented on #18466
I think is a duplicate of #12511.

[2022-01-13 11:07] yangyang198703 commented on #18465
Using cilium-istioctl to list the listener on 8094 port
[code]

[2022-01-13 13:34] brb commented on #18442
@pchaigno https://github.com/cilium/cilium/blob/master/bpf/lib/conntrack.h#L266

[2022-01-13 14:24] tklauser commented on #18466
Not sure how I missed that, thanks @nbusseneau! Closing

Duplicate of #12511

[2022-01-13 14:24] #18466 closed

[2022-01-13 17:42] bryanasdev000 commented on #15393
Oh boy, I remember an issue with same question (can't seem to find now) but the answers was basically about different privileges needed for each component.

[2022-01-13 19:54] joestringer commented on #17829
Chris and I reviewed this list, we came to these conclusions:
* The tests we have introduced will highlight obvious regressions in the feature
* There is a clear path to improve some of the existing unit testing around multiple policies, we can likely achieve that in the short term.
* Several of these e2e coverage items would be harder to implement as the existing unit test infrastructure doesn't

[2022-01-13 21:18] #17711 closed

[2022-01-13 23:34] aanm commented on #17734
@alonana It works as expected:
[code]

[2022-01-14 00:31] joestringer commented on #18332
@musabmasood technically under the hood, this new model still runs etcd itself, but you no longer need to worry about this - see the implementation here: https://github.com/cilium/cilium/tree/master/clustermesh-apiserver . It should be possible to declaratively deploy this, however I'm not aware of any specific documentation describing exactly how to do this today.

[2022-01-14 00:33] musabmasood commented on #18332
Thanks for your help, I've been looking at 1.9 documentation everytime and thought I need managed etcd. Resolving.

[2022-01-14 00:33] #18332 closed

[2022-01-14 01:22] joestringer opened #18476 "CI: K8sDatapathConfig AutoDirectNodeRoutes Check connectivity with sockops and direct routing: Doesn't run with sockops/sockmap enabled"
### Test Name

[code]

### Failure Output

[code]
[code]

### Standard Output

[code]

### Standard Error

[code]

### Resources

- Jenkins URL: https://jenkins.cilium.io/job/Cilium-PR-K8s-1.22-kernel-4.19/273/execution/node/129/log/?consoleFull
- ZIP file(s): (none; test did not fail)

### Anything else?

_No response_

[2022-01-14 01:25] joestringer commented on #18476
There may be a reason for this related to the specific kernel version, in which case maybe we should just skip this test when running on specific kernel versions.

[2022-01-14 02:02] vnandha opened #18477 "IPv6 to IPv4 conversion when using DSR LB mode"
## Proposal / RFE

Support IPv6 to IPv4 conversion vice versa

To avoid running Kubernetes cluster in Dual stack mode (In an on-premise users with limitted IPv4 addresses for the pod network will benefit from this, specially the v4 address for the pod within the L3 network not overlay with LB setup in DSR mode). The other is also true where if one completely running IPv6 address for the pods then

[2022-01-14 05:04] sayboras commented on #18328
Let me give it a crack

[2022-01-14 05:10] yangyang198703 commented on #18465
I changed the envoy log levels and managed to get more logs

[code]

[2022-01-14 07:30] sayboras commented on #18328
Just want to confirm the current behaviour.

We are having below validation, which basically will check the flag value. And for the flag, only k=v format is accepted. So is the current behaviour not working at all for either format:

- json format got rejected by below validation
- kv format failed to parse due to upstream issue in viper.

https://github.com/cilium/cilium/blob/d05dcb55960dc7ca7937

[2022-01-14 08:39] kvaster commented on #18199
This PR should help. Thanks.

[2022-01-14 08:41] kkourt opened #18480 "Improve BPF datapath unit testing"
There are currently a number of different approaches for doing datapath unit testing in the tree, but they all have limitations which means that we end up having a lot of our testing happen in e2e tests using `ginkgo`. The problem with this is twofold:
* datapath development does not have a fast iteration cycle. It takes a long time to test features / etc.
* cathing datapath problems with the e2e

[2022-01-14 10:42] pchaigno commented on #17177
@SerialVelocity Would you be able to test if https://github.com/cilium/cilium/pull/18483 solves the issue for you? The test images are listed at https://github.com/cilium/cilium/runs/4815621695?check_suite_focus=true.

[2022-01-14 12:33] farodin91 opened #18485 "Single agent failure, restart of cilium agent fixes the issue"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

1. See it most at, if prometheus is unable to reach to it scrape endpoints.
2. We restart the cilium agent either on the prometheus node or on the scrape endpoint node.
3. Everything works again.

### Cilium Version

1.11.0

### Kernel Version

5.4.0-92-generic

### Kubernetes Version

1.21.8

[2022-01-14 14:42] jibi commented on #18323
Fixed by https://github.com/cilium/cilium/pull/18438

[2022-01-14 14:42] #18323 closed

[2022-01-14 18:54] joestringer opened #18489 "Eliminate option.Config.DryMode from the daemon"
Early in the project, we built out initial go-based integration tests that run the agent and a kvstore, and attempt to test some basic functionality of the daemon. At this time, we did not want to introduce a dependency on the kernel or eBPF or so on, so we ended up creating `option.Config.DryMode`. This flag is then used to short-cut logic to avoid compiling eBPF programs, configuring the kernel,

[2022-01-15 07:42] vnandha opened #18494 "IPv6 cluster IP not routable from external to the cluster"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

We have a Cilium on-prem setup with DSR mode with native routing. Initially we had only IPv4, both anycast IP and pod cidrs are advertised using BGP.  Now I am testing IPv6 on the same LB setup with DSR native routing. I enabled IPv6 on the cilium end but facing an issue. For IPv4 used external

[2022-01-15 07:57] vnandha commented on #18494
In the same above setting, i created another service with ipv4 (as **externalIP**) which I could reach from external

[code]

[2022-01-15 10:19] #18169 closed

[2022-01-15 14:01] addreas commented on #18462
Same or similar issue encountered when upgrading to the Linux kernel from 5.15.12 to 5.16.0.

Cilium 1.10.6 works fine on the former, but not the latter. Rolled back before testing other Cilium versions, so not sure if 1.11 or 1.10.5 would make a difference.

Kubernetes was 1.22.4 in both cases.

<details>
<summary>My logs cut of a bit later it seems, so perhaps there are more clues. (click to exp

[2022-01-15 17:01] vincentmli commented on #18462
@liuyuan10 @addreas  can you show your cilium agent log or cilium-config config map so we can see what features enabled/disabled ?

[2022-01-15 17:49] liuyuan10 commented on #18462
my cilium.log is attached in the first post as attached file

[2022-01-16 09:07] yangyang198703 commented on #18465
A bare minimum demo to reproduce this issue

https://gist.github.com/yangyang198703/e6a6efe7255595818b8b7f545b61bd93

[2022-01-16 18:57] vincentmli commented on #18459
following diff based on Joe's comment and tested seems addressing this issue

[code]

ping test to VTEP

[code]

[2022-01-16 20:02] addreas commented on #18462
Seems I've misplaced the complete log, but the config map looks like this:
[code]
Will probably be able to investigate deeper next weekend.

[2022-01-16 20:44] pchaigno commented on #17022
This flake was fixed in https://github.com/cilium/cilium/pull/17865.

[2022-01-16 20:44] #17022 closed

[2022-01-17 10:10] gandro commented on #18328
@sayboras Yes, that looks consistent with my observations. Note that in Cilium v1.10 the former (JSON in ConfigMap) seems to be accepted, but this changed in v1.11.

[2022-01-17 10:12] mKeRix opened #18495 "aws-cni chaining fails on IPv6 clusters"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

Cilium is not able to configure any pods in aws-cni chaining mode if it is deployed on an EKS IPv6 cluster. Without Cilium the pods deploy just fine. Cilium is deployed via the Helm chart with the following options:

[code]

After deploying, whenever a new pod is scheduled it will fail with the

[2022-01-17 10:32] brb commented on #18494
This requires https://github.com/cilium/cilium/pull/15650. Please reopen, if the issue persists.

[2022-01-17 10:32] #18494 closed

[2022-01-17 10:53] maintainer-s-little-helper[bot] opened #18497 "CI: RuntimePrivilegedUnitTests Run Tests"
### Test Name
[code]

### Failure Output
[code]

### Stacktrace
<details><summary>Click to show.</summary>

[code]
</details>

### Standard Output
<details><summary>Click to show.</summary>

[code]
</details>

### Standard Error
<details><summary>Click to show.</summary>

[code]
</details>

ZIP Links:
<details><summary>Click to show.</summary>

 https://jenkins.cilium.io/job/Cilium-PR-Runtime-net-

[2022-01-17 12:00] aanm commented on #18169
@Charlottell were you able to replicate the results shared in the previous reply?

[2022-01-17 13:11] lbernail commented on #13451
After discussing this with @borkmann we agreed that the simplest approach is to add an unreachable route after pod deletion
I'll send a PR soon

[2022-01-17 13:56] BurlyLuo commented on #16280
Is it menas that, if we use the legacy mode, it needs send the packet to the lxc-xxxxxxxx interface. but with the BPF mode, it will be redirected to the pod's eth0 interface by redirect_peer() helpers. if wrong, please correct me here, thanks.

[2022-01-17 14:47] nbusseneau opened #18500 "CI: RuntimePrivilegedUnitTests Run Tests EncryptStatusSuite.TestCountUniqueIPsecKeys value syscall.Errno = 0x16 ("invalid argument")"
### Test Name
[code]

### Failure Output
[code]

### Stacktrace
<details><summary>Click to show.</summary>

[code]
</details>

### Standard Output
<details><summary>Click to show.</summary>

[code]
</details>

### Standard Error
<details><summary>Click to show.</summary>

[code]
</details>

ZIP Links:
<details><summary>Click to show.</summary>

 https://jenkins.cilium.io/job/Cilium-PR-Runtime-net-

[2022-01-17 14:47] nbusseneau commented on #18497
Re-opening as #18500 to avoid MLH falsely aggregating all flakes in unit tests with this one.

[2022-01-17 14:47] #18497 closed

[2022-01-17 14:48] nbusseneau commented on #18500
This issue started happening consistently after we updated the Vagrant VMs in #18496.

[2022-01-17 15:46] pchaigno commented on #17647
I bisected this bug to commit [1195c579b2b3](https://git.kernel.org/pub/scm/linux/kernel/git/torvalds/linux.git/commit/?id=1195c579b2b3f7dd97b8faddcaea1406abac570a) ("bpf: track spill/fill of constants") in the kernel. That commit was backported from [f7cf25b2026d](https://git.kernel.org/pub/scm/linux/kernel/git/torvalds/linux.git/commit/?id=f7cf25b2026dc8441e0fa3a202c2aa8a56211e30) upstream and i

[2022-01-17 16:18] mKeRix commented on #18495
Small addendum to the post above: I just noticed that if I delete all my network policies from the cluster the connectivity works. The policies are confirmed working on IPv4 clusters and are all endpoint-based. My test setup has a clusterwide default-deny policy which only allows egress to kube-dns, as well as a test application specific policy allowing access to kube-apiserver.

I could also conf

[2022-01-17 16:20] #18315 closed

[2022-01-17 19:30] nielsvanoosterom-varias opened #18507 "Support egressSourceCIDR in CiliumEgressNATPolicy"
## Proposal / RFE

On DigitalOcean, nodes have what is referred to as an "anchor IP", which is unique per node, but falls within a certain CIDR. When a floating IP address is assigned to a node, traffic is 1-to-1 NAT'ed between the anchor and floating-IP addresses.

Because of this, it is impossible to know ahead of time what IP address to set for egressSourceIP in a CiliumEgressNATPolicy. Would i

[2022-01-17 19:53] vnandha commented on #18494
Thank you @brb I tested with that flag, it is working but I had to disable maglev as well

[code]

I will follow https://github.com/cilium/cilium/issues/16966 as you mentioned maglev table is not populated for this case.

[2022-01-17 20:20] rlex opened #18508 "Failed to generate cert on arm64 due to certgen-image being amd64 only"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

Helm chart defaults to certgen-image 0.1.5:

https://github.com/cilium/cilium/blob/master/install/kubernetes/cilium/values.yaml#L553

However, looking at https://quay.io/repository/cilium/certgen?tag=latest&tab=tags it seems arm64 is only built since 0.1.6

So when deploying on arm64 cluster wi

[2022-01-17 21:17] aanm commented on #18485
Hello, thanks for opening the GH issue, please provide steps to reproduce the issue and a cilium sysdump otherwise the issue can't be fixed. Thank you.

[2022-01-17 21:22] aanm commented on #18508
@rlex feel free to open a PR that bumps the cergen image to 0.1.7. Thank you!

[2022-01-18 00:45] rlex commented on #18508
@aanm 0.1.7 will not work - looks like arguments has changed. 0.1.6, previous release, works fine.

[2022-01-18 07:29] zhanghe9702 opened #18511 "can't fmt go code (go1.18)"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

in our Makefile, `gofmt` target receipe execute `go fmt $$pkg`,but it depend `go` cmd param `-mod` , because our project use /vendor directory,  for `vendor` mode, `make gofmt` will report following line:
`cannot find package "." in:
        /home/zhanghe/cilium/cilium/vendor/api/v1/client
`
i

[2022-01-18 08:22] ludurr opened #18513 "cilium-agents crashing / cmd="[ip6tables -w 5 -t nat -S]" error="exit status 3" subsys=iptable"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

i am currently implementing cilium CNI with a rke2 without kube-proxy mode. And currently facing the issue below.

### Cilium Version

cilium:v1.10.4

### Kernel Version

workernodes
Ubuntu 20.04.3 LTS/ Kernel: Linux 5.4.0-84-generic
Oracle Linux Server 8.5/  Kernel: Linux 5.4.17-2136.300.7.el8

[2022-01-18 09:06] pchaigno commented on #18462
@liuyuan10 I believe this is happening because you are trying to run with both per-packet LB at `bpf_lxc` (`enable-host-reachable-services='false'`), BPF NodePort (`enable-node-port='true'`), and session affinity. I thought that would work on v1.10, but maybe we were not far from the limit.

What's the full kernel version (`uname -a`)? I'm unsure what upstream version 5.4.0-42-generic corresponds

[2022-01-18 09:09] pchaigno commented on #18462
@addreas Your issue is different as it affects a much newer kernel version (:grimacing:). Could you open a new issue and cc me? :pray: I can try to bisect the kernel commit that caused this regression.

[2022-01-18 09:33] brb commented on #18494
This will be soon resolved by https://github.com/cilium/cilium/pull/18336.

[2022-01-18 10:11] gandro commented on #18508
For reference, certgen 0.1.7 contains some breaking changes needed for an in-progress refactoring tracked here https://github.com/cilium/cilium/issues/18278

But yes, 0.1.6 should be fully compatible with the arguments passed to 0.1.5.

[2022-01-18 10:42] #18500 closed

[2022-01-18 11:28] mKeRix commented on #18495
New day, fresh mind - I managed to get this working fully! Turns out the issue had nothing to do with the aws-cni, it was rather just a manifestation of #16285. Once I allowed egress and ingress from the `fe80::/10` CIDR things started flowing. Kudos to your troubleshooting documentation, which helped me find the source of the drop.

I will be creating a pull request shortly - you may have to give

[2022-01-18 12:23] sayboras commented on #16122
one more exit code 7 here

https://jenkins.cilium.io/job/Cilium-PR-K8s-1.23-kernel-net-next/233/testReport/junit/Suite-k8s-1/23/K8sDatapathConfig_Host_firewall_With_VXLAN/

[2022-01-18 13:47] brb opened #18515 "CI: do not store logs which are stored in separate files in test-output.log"
In test-output.log, which is created upon a test failure, we duplicate a lot of logs which are stored in other log files (e.g., kubelet log).

According to @nebril , this happens because:

We should avoid producing the duplicate logs. That would significantly reduce the size of the test artifacts and make test-output.log more friendly for debugging.

[2022-01-18 14:20] nbusseneau opened #18520 "CI: net-next K8sPolicyTest Multi-node policy test validates fromEntities policies Validates fromEntities all policy"
### Test Name

[code]

### Failure Output

[code]

### Stack Trace

[code]

### Standard Output

[code]

### Standard Error

[code]

### Resources

- Jenkins URL: https://jenkins.cilium.io/job/cilium-master-k8s-1.23-kernel-net-next/495/
- ZIP file(s):
[7b5e3b7a_K8sPolicyTest_Multi-node_policy_test_validates_fromEntities_policies_Validates_fromEntities_all_policy.zip](https://github.com/cilium/cili

[2022-01-18 14:27] ysksuzuki commented on #18520
Thank you for opening this issue. Let me handle this.

[2022-01-18 17:04] maintainer-s-little-helper[bot] opened #18523 "CI: K8sUpdates Tests upgrade and downgrade from a Cilium stable image to master"
### Test Name
[code]

### Failure Output
[code]

### Stacktrace
<details><summary>Click to show.</summary>

[code]
</details>

### Standard Output
<details><summary>Click to show.</summary>

[code]
</details>

### Standard Error
<details><summary>Click to show.</summary>

[code]
</details>

ZIP Links:
<details><summary>Click to show.</summary>

 https://jenkins.cilium.io/job/Cilium-PR-K8s-GKE//737

[2022-01-18 17:05] maintainer-s-little-helper[bot] opened #18524 "CI: RuntimePrivilegedUnitTests Run Tests"
### Test Name
[code]

### Failure Output
[code]

### Stacktrace
<details><summary>Click to show.</summary>

[code]
</details>

### Standard Output
<details><summary>Click to show.</summary>

[code]
</details>

### Standard Error
<details><summary>Click to show.</summary>

[code]
</details>

ZIP Links:
<details><summary>Click to show.</summary>

 https://jenkins.cilium.io/job/Cilium-PR-Runtime-net-

[2022-01-18 17:05] maintainer-s-little-helper[bot] opened #18525 "CI: K8sPolicyTest Multi-node policy test validates fromEntities policies Validates fromEntities all policy"
### Test Name
[code]

### Failure Output
[code]

### Stacktrace
<details><summary>Click to show.</summary>

[code]
</details>

### Standard Output
<details><summary>Click to show.</summary>

[code]
</details>

### Standard Error
<details><summary>Click to show.</summary>

[code]
</details>

ZIP Links:
<details><summary>Click to show.</summary>

 https://jenkins.cilium.io/job/Cilium-PR-K8s-1.23-ker

[2022-01-18 18:04] joestringer commented on #18465
I asked on Slack how Cilium was installed in this case, whether it's using the Cilium [Istio Getting Started Guide](https://docs.cilium.io/en/stable/gettingstarted/istio/#getting-started-using-istio). Sounds like the answer is yes, so if someone tries to reproduce, you can try installing Cilium using this guide, then follow the instructions above in this issue to try out the connectivity and then

[2022-01-18 18:36] joestringer commented on #18513
Thanks for the report. At a glance, assuming that you've correctly disabled Cilium IPv6 support, this looks like a minor bug where Cilium attempts to at least list IPv6 iptables rules even if IPv6 support is disabled / detected as not available. These errors should not by themselves cause any subsequent problems for Cilium operation, but it would be good to clean these up to remove the noise from

[2022-01-18 18:43] vincentmli opened #18526 "Nodeport service traffic shows 00:00:00:00:00:00 MAC in tunnel mode egress inner packet"
after  enabling node-port in Cilium and  deploying node port service,  then access the node port service from external client, when the backend pod is on remote node, the egress  inner packet in tunnel traffic always has `00:00:00:00:00:00` src/dst MAC, for example tcpdump on `cilium_vxlan` interface:

[code]

https://github.com/cilium/cilium/blob/master/bpf/lib/nodeport.h#L1584-L1589 when `fib_pa

[2022-01-18 18:58] pchaigno commented on #18525
Duplicate of https://github.com/cilium/cilium/issues/18520.

[2022-01-18 18:58] #18525 closed

[2022-01-18 18:59] pchaigno commented on #18524
Let's not use MLH for RuntimePrivilegedUnitTests. It's not doing a good job.

[2022-01-18 18:59] #18524 closed

[2022-01-18 19:53] borkmann commented on #18526
In general, the 00:00:00:00:00:00 mac is expected to save the fib lookup given it's not needed to populate these in our case. On the top of my head, not quite sure whether `eth_store_daddr`/`eth_store_saddr` would be redundant, I would think not given vxlan/geneve might only prepend the outer headers. Did you run Cilium with a noarp device?

[2022-01-18 20:06] vincentmli commented on #18526
it is just observation from someone asked in Slack and I am curious, I don't think the  00:00:00:00:00:00 would cause functionality issue from what I understand,  I don't run  arp or noarp device, not sure what noarp device does in this case :-).

[2022-01-18 20:40] christarazi opened #18529 "Implement `cilium ip metadata` command to introspect the identity metadata (IDMD) structure"
## Proposal / RFE

As discussed in https://github.com/cilium/cilium/issues/17829#issuecomment-1012458724, it would be helpful to have a command that allows us to introspect the state of the [IDMD](https://github.com/cilium/cilium/blob/1de39dfd7b0455ce3a4deb4f68c453274e11ec3a/pkg/ipcache/metadata.go#L42) for the purposes of debugging the kube-apiserver policy matching feature (and more in the futur

[2022-01-18 20:49] pchaigno commented on #18138
Duplicate of https://github.com/cilium/cilium/issues/16122.

[2022-01-18 20:49] #18138 closed

[2022-01-18 20:52] christarazi commented on #17829
Re: https://github.com/cilium/cilium/issues/17829#issuecomment-1012458724, https://github.com/cilium/cilium/issues/18529. Unassigning for now.

[2022-01-18 21:03] vincentmli commented on #18526
now I understand that `eth_store_daddr`/`eth_store_saddr` happens after `__encap_with_nodeid`, so they are for outer headers, make sense, not redundant, sorry for the noise.

[2022-01-18 21:03] #18526 closed

[2022-01-18 22:07] maintainer-s-little-helper[bot] opened #18530 "[v1.11] CI: K8sServicesTest Checks service across nodes with L7 policy Tests NodePort with L7 Policy"
### Test Name
[code]

### Failure Output
[code]

### Stacktrace
<details><summary>Click to show.</summary>

[code]
</details>

### Standard Output
<details><summary>Click to show.</summary>

[code]
</details>

### Standard Error
<details><summary>Click to show.</summary>

[code]
</details>

ZIP Links:
<details><summary>Click to show.</summary>

 https://jenkins.cilium.io/job/Cilium-PR-K8s-1.18-ker

[2022-01-18 23:51] liuyuan10 commented on #18462
[code]

@pchaigno Thanks for pointing that out. I only disabled egress nat but forget I turned off host-reachable service. I don't think upstream supports this combination without code changes. this issue basically means bpf_lxc is close to the limit so any new major feature would break it.

I'm closing this issue given the combination is not supported in upstream.

[2022-01-18 23:53] liuyuan10 commented on #18462
but I verified v1.11 works with that combination but only breaks after enabling egress-gateway which further adds to the size of bpf-lxc.

[2022-01-19 00:07] vincentmli commented on #18462
I am surprised that enable both host-reachable and egress-gateway would add so much instruction that is close to 1 million, the VTEP integration feature I am adding only exceed 4k limit, far away from 1 million

[2022-01-19 01:45] aanm commented on #18508
@rlex yes, I meant 0.1.6. Thanks!

[2022-01-19 01:50] aanm commented on #18436
[Cilium v1.11.1](https://github.com/cilium/cilium/releases/tag/v1.11.1) has been released, please open a new GH issue if you are facing this problem again. Thank you!

[2022-01-19 01:50] #18436 closed

[2022-01-19 02:21] joestringer opened #18540 "CI: K8sBandwidthTest Checks Bandwidth Rate-Limiting: doesn't clean up after itself on Skip, causing subsequent test to fail"
### Test Name

[code]
^ Doesn't clean up after itself, leading to a failure in a subsequent test, eg:
[code]

### Failure Output

[code]

### Stack Trace

[code]

### Standard Output

[code]

### Standard Error

[code]

### Resources

- Jenkins URL for failed test: https://jenkins.cilium.io/job/Cilium-PR-K8s-1.22-kernel-4.19/313/testReport/Suite-k8s-1/22/K8sVerifier_Runs_the_kernel_verifier_agains

[2022-01-19 02:33] joestringer commented on #18540
Seems like all of the `BeforeAll()` was successful, but yet after skipping the individual test, the `AfterAll()` could not clean up the pods for some reason. I don't yet understand why.

https://github.com/cilium/cilium/blob/3222f50d05d722e39563fa65fe99b52c0858941a/test/k8sT/Bandwidth.go#L22-L40

[2022-01-19 05:19] #16798 closed

[2022-01-19 07:07] chowmean commented on #18529
Hi, what I understand from this is command is needed to show the content of IDMD. If I am correct, can you please assign this to me? Also any more details would be great to start with. Thanks.

[2022-01-19 07:20] wkhno opened #18541 "If I have a kubernetes cluster created with kubeadm and already installed istio, how can i apply cilium to it? which version of cilium is most stable? My kubernetes-api version is 1.17.0."

[2022-01-19 07:34] wenhuwang commented on #11767
@vincentmli hello, i have upgraded  kernel version to `5.4.0-92` on ubuntu 20.04.3, this probles still exists.

#### environment information:
[code]

cilium agent debug log:
[code]
through the debug log, it can be found that there is no IP information cached in the DNSCache object. Further i add the debug log to the notifiOnDNSMsg function int the daemon/cmd/fqdn.go file in the cilium source code,

[2022-01-19 08:04] yangyang198703 commented on #18465
@jrajahalme on this since I check that you are the biggest contributor on the files that showed the error messages 🙏

[2022-01-19 08:34] pchaigno commented on #18462
@liuyuan10 Probably worth opening an issue to track this, with the broken combination of options and the kernel version. Does it affect master too?

@vincentmli There are two limits. One on the number of instructions and one on the complexity (number of instructions analyzed by the verifier).

[2022-01-19 09:30] farodin91 commented on #18485
I have updated to cilium 1.11.1 and fix config in systemd. I'll close the issue for now reopen it, if able to reproduce it our staging cluster.

[2022-01-19 09:30] #18485 closed

[2022-01-19 16:17] nbusseneau commented on #18397
Duplicate of #17664

[2022-01-19 16:17] #18397 closed

[2022-01-19 21:37] sayboras commented on #12279
No failure for last 2 weeks except legitimate one. Discussed offline, we can close this and re-open if there is any occurrence in the future.

[2022-01-19 21:38] #12279 closed

[2022-01-20 00:00] sayboras commented on #14725
I can give a crack on this :)

[2022-01-20 00:33] nbusseneau commented on #18520
The quarantine from #18544 can be removed when fixing this issue.

[2022-01-20 00:56] vincentmli commented on #11767
@wenhuwang

I did a test in my lab with following policy which is pretty much same as yours except I used `netshoot` pod as test pod

[code]

after applying the policy,

I run ping from netshoot pod to make sure there is always traffic going to www.baidu.com

[code]

then I have another script to dump the ipcache and fqdn cache for each cilium agent pod

[code]

here is the script output, you can

[2022-01-20 02:17] aanm commented on #18541
Please take a look at the documentation on how to install Cilium. The documentation is available [here](https://docs.cilium.io/en/v1.11/). Thank you

[2022-01-20 02:17] #18541 closed

[2022-01-20 06:02] sayboras commented on #18318
Also observed in https://github.com/cilium/cilium/pull/18478

https://jenkins.cilium.io/job/Cilium-PR-K8s-1.22-kernel-4.19/326/testReport/junit/Suite-k8s-1/22/K8sServicesTest_Checks_graceful_termination_of_service_endpoints_Checks_client_terminates_gracefully_on_service_endpoint_deletion/

[2022-01-20 08:19] YutaroHayakawa commented on #12562
https://github.com/cilium/cilium/pull/18484 can resolve the first item in the original issue.

For the second item, I understood what it implies: "We shouldn't generate TRACE_TO_STACK trace message twice." In conclusion, I think there's no such a path. Following is how I checked that.

1. List up the `send_trace_notify` and exclude the calls that observe point is not `TRACE_TO_STACK` or variable.

[2022-01-20 09:02] zapotah commented on #17738
An update, im still waiting for my hardware to arrive but now this causes a kernel panic on debian 5.15 backported as well.

![image](https://user-images.githubusercontent.com/11587147/150306880-56b02fd7-9909-4f98-908d-1d87a2385672.png)

I was able to capture this before the kernel rebooted

[2022-01-20 10:29] brb opened #18552 "datapath: Avoid double packet accounting in CT entries"
In the datapath's `__ct_lookup()` function we do the packet accounting, i.e., we update the `{t,r}x_{packets,bytes}` field entries. The current accounting is based on the idea that the `ct_lookup{4,6}()` function (which calls the `__ct_lookup()`) is invoked only once per packet.

However, this is not true for all possible packet flows. E.g., in `nodeport_lb{4,6}()` we do the `ct_lookup{4,6}(..., C

[2022-01-20 11:02] zapotah commented on #17738
i tried to deploy from scratch and i can consistently make this crash in a vm with the following configs:

latest docker from docker.io

debian 11 5.15 backports bpo2

following helm installation invocation:
helm install cilium cilium/cilium --version 1.11.1 --namespace kube-system --set kubeProxyReplacement=strict --set k8sServiceHost=k8s.domain.tld --set k8sServicePort=6443 --set egressGateway.i

[2022-01-20 11:04] brb commented on #18442
This should not be a problem if you use the LRU maps for the CT entries.

[2022-01-20 11:39] zapotah commented on #17738
This crashes on two different cloud providers and on my own setup after verifying further, trivial to reproduce

[2022-01-20 12:56] borkmann commented on #17941
Thanks a lot @mdaur. In other words, it would be okay to close the issue?

[2022-01-20 14:32] olemarkus commented on #18241
Just to let you know that this failure still persists on cilium 1.11

[2022-01-20 14:34] Ian-Greene opened #18559 "cilium-health status returns outdated results."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

I've been working on debugging what at first looked like an issue with node endpoint connectivity. However after debugging it seems like that's not the case. Running `kubectl exec -ti <cilium_agent> -- cilium-health status` returns among other things
[code]

while running `kubectl exec -ti <cil

[2022-01-20 14:50] brb commented on #18559
Please try upgrading to [v1.11.1](https://github.com/cilium/cilium/releases/tag/v1.11.1). It has the fix for the stale health checks issue which might resolve your issue too.

[2022-01-20 16:44] aditighag commented on #18241
We skip non-ready endpoints in Cilium while parsing endpoint slice resources.  Do you have a use case for considering non-ready pods for load-balancing service traffic? Or is this bug filed to mainly track the k8s sig-network test failure?

[2022-01-20 16:45] aditighag commented on #18241
Do you know how the test validates this behavior? Does it send traffic to the non-ready pods?

[2022-01-20 16:54] olemarkus commented on #18241
I have not looked very closely at exactly how k/k implemented the test. I would assume it only checks that there is a service endpoint. I don't see how it could be a requirement that the non-ready endpoint actually accepts traffic.

That being said, I would also assume that cilium is not responsible for populating these endpoints, but that KCM did this. So it could be the case it actually tries to

[2022-01-20 16:58] johngmyers commented on #18241
The test is at https://github.com/kubernetes/kubernetes/blob/9c3a0e63a71c0890a5ab1aa0a267e91a81e5c441/test/e2e/network/service.go#L1648

It creates a Service with the `spec.publishNotReadyAddresses` field set to true and appears to send traffic to the service cluster ip and verify it is received by the non-ready pod. It then turns off `publishNotReadyAddresses` and verifies the non-ready pod is no

[2022-01-20 19:29] christarazi commented on #17572
@h3llix Are you still working on this? Please remove your assignment if not.

[2022-01-20 21:36] h3llix commented on #17572
Hi Chris. Sorry, I was caught up with something else. I'll look on this in next 2 3 days. If I still get stuck. I'll just unassign myself.

[2022-01-20 21:48] aditighag commented on #16920
@enkov I found a regression in the code while trying to reproduce this issue. I've tested the [fix](https://github.com/cilium/cilium/pull/18563) on an EKS setup configured with kiam. Let me know if that resolves your issue.

[2022-01-20 23:06] joestringer commented on #18060
Hit again on a PR against master.

[2022-01-21 04:55] enkov commented on #16920
Hello! Thank you for the fix.
Right now I don't have a cluster to test it.
Can you tell me in which version of cilium this fix will go?

[2022-01-21 05:18] maintainer-s-little-helper[bot] opened #18566 "CI: K8sUpdates Tests upgrade and downgrade from a Cilium stable image to master"
### Test Name
[code]

### Failure Output
[code]

### Stacktrace
<details><summary>Click to show.</summary>

[code]
</details>

### Standard Output
<details><summary>Click to show.</summary>

[code]
</details>

### Standard Error
<details><summary>Click to show.</summary>

[code]
</details>

ZIP Links:
<details><summary>Click to show.</summary>

 https://jenkins.cilium.io/job/Cilium-PR-K8s-1.23-ker

[2022-01-21 05:19] sayboras commented on #18566
Pod termination timeout is due to below error

[code]

[2022-01-21 06:33] linjian2022 opened #18567 "when use generic chaning mode，host ping pod in same host failed"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?
ping a pod ip-A from a hostA,  while the pod in hostA，but fail，packet lost

make a perf trace：
![image](https://user-images.githubusercontent.com/97287440/150462434-2c1653d3-da8e-4612-8f5c-1d02bbec4147.png)
the icmp reply packet，rediret to outside(bond0) by cilium tc ebpf  prog，not to local linu

[2022-01-21 07:36] YutaroHayakawa commented on #10067
I assigned myself to this issue. Let me first catch up. If I understand correctly, there are two problems discussed in this issue.

**1. Multiple cgroup BPF programs can be attached to the same cgroup root**

The latest state of the KPR and cgroup is summarized in [here](https://github.com/cilium/cilium/pull/16259). According to that, the cilium init container always attaches the cgroup programs t

[2022-01-21 08:16] borkmann opened #18568 "cilium-bugtool: "writing file: unexpected EOF""
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

ciliuum sysdump throws errors such as:
[code]

### Cilium Version

Seen on 1.10 .

### Code of Conduct

- [X] I agree to follow this project's Code of Conduct

[2022-01-21 08:56] viveksahu26 commented on #18005
Hey, I am new to this cilium project. I would love to start contribution from Documentation issue. It would be great if someone provide a reference to start with this issue.

[2022-01-21 09:27] #14852 closed

[2022-01-21 09:27] #18030 closed

[2022-01-21 09:28] #12562 closed

[2022-01-21 09:54] tklauser commented on #18568
I think this should be resolved by https://github.com/cilium/cilium-cli/pull/671.

[2022-01-21 10:11] pchaigno commented on #14784
@msibrichins I think this bug may have been fixed in v1.9.12 and v1.10.6 by https://github.com/cilium/cilium/pull/17573. Could you give a try to either of those versions?

[2022-01-21 11:07] tklauser commented on #18568
This is a duplicate of cilium/cilium-cli#654 which has been addressed in cilium/cilium-cli#671 and should be fixed the just released [cilium-cli v0.10.1](https://github.com/cilium/cilium-cli/releases/tag/v0.10.1).

[2022-01-21 11:07] #18568 closed

[2022-01-21 14:57] #1341 closed

[2022-01-21 15:09] borkmann commented on #17461
(Closing given question.)

[2022-01-21 15:09] #17461 closed

[2022-01-21 15:13] #14458 closed

[2022-01-21 15:22] brb commented on #9917
We don't mention DualStack anywhere in the docs and it should work with KPR (tested by our CI). Closing the issue.

[2022-01-21 15:22] #9917 closed

[2022-01-21 15:25] borkmann commented on #17796
reopening given internalTrafficPolicy support is on todo

[2022-01-21 15:27] borkmann commented on #15406
Thanks a lot for your help, @gottwald. I presume this can be closed by now?

[2022-01-21 15:30] brb opened #18580 "Unquarantine datapath related CI tests"
Details to be updated.

[2022-01-21 15:31] gottwald commented on #15406
The issue still exists. There just wasn't further progress or further answers on the PR threads.

[2022-01-21 15:34] brb commented on #14904
@alexanderheckel It should be resolved in the latest Cilium vsn. If the issue persists, please reopen it.

[2022-01-21 15:34] #14904 closed

[2022-01-21 15:40] aanm commented on #15406
@gottwald sorry, I miss the PR threads. However, @jibi has been working on something that could be used as a base for the PR #15436. @jibi Can you please ping me once you open a PR with those changes?

[2022-01-21 15:41] alex-berger opened #18581 "eBPF map "policy" fills up (resource leak)"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

Using Cilium version 1.11.0 (and 1.11.1) we run into problems with exceeding the eBPF map size for the *policy* map of the clusters CoreDNS Pods. We already increased bpf-map-dynamic-size-ratio from 0.0025 (the default setting) to 0.01 to increase all map sizes. However, after some hours (and s

[2022-01-21 15:41] brb commented on #11215
We don't care about the kube-proxy case, so the issue is resolved.

[2022-01-21 15:41] #11215 closed

[2022-01-21 15:45] #12895 closed

[2022-01-21 15:52] brb commented on #16518
Closing the issue due to becoming stale. Please reopen if the issue persists.

[2022-01-21 15:52] #16518 closed

[2022-01-21 15:56] brb commented on #17252
The issue got stale. Please reopen if the issue still persists.

[2022-01-21 15:56] #17252 closed

[2022-01-21 15:57] brb commented on #16940
Have you tried to upgrade Cilium to the latest? Closing the issue. Please reopen if the issue persists.

[2022-01-21 15:57] #16940 closed

[2022-01-21 17:07] aditighag commented on #16920
@enkov The fix will be backported and released in the next 1.11.x and 1.10.x versions.

[2022-01-21 18:02] joestringer opened #18584 "Complexity issue with Linux 5.10.0-1055"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

1. Using https://github.com/cilium/cilium/pull/18549 (only to help run verifier tests locall)
2. Run the test on an Ubuntu 21.04.3 LTS (Linux 5.10.x kernel)
3. The test fails due to complexity issue

### Cilium Version

`1.11.90`

### Kernel Version

`Linux carnotaurus 5.10.0-1055-oem #58-Ubunt

[2022-01-21 18:13] joestringer commented on #15249
Given @pchaigno 's previous post, it looks like this should have been addressed in v1.9 and later versions. It's likely that fixing this on v1.8 would prove too invasive. At this point v1.8.x is no longer supported by the community, so I'll close this out. If you observe a bug like this on a newer version of Cilium, please file a new issue.

[2022-01-21 18:13] #15249 closed

[2022-01-21 18:52] joestringer commented on #18581
Thanks for the report. I think there's two things potentially interacting for the worse here:

(1) It seems like something about the way that CronJobs are deployed and removed does not trigger the cleanup logic. Does Kubernetes issue CNI DEL requests to Cilium for the cronjobs once they are completed? If you go into one of the Cilium pods, does `cilium endpoint list` show old stale CronJob entries

[2022-01-21 19:34] vincentmli commented on #11767
@wenhuwang

are you still able to reproduce the issue in your local lab test or production? I think cilium agent debug log would be helpful when the issue happens, specifically watch the logs with `subsys=fqdn` and `subsys=fqdn/dnsproxy`, below is a working example log, when you can reproduce the failure, watch if the dnsproxy has received the DNS request from pod and DNS response from coredns as

[2022-01-21 21:07] joestringer commented on #18584
I hit the same issue with the tip of v1.11 branch, so likely this affects all current v1.11.x releases.

I also attempted to try this out against the tip of v1.10 branch, but I hit an unrelated issue which meant that I couldn't try out the test on that branch, likely to do with BTF sections in the ELF files.

[2022-01-21 21:12] joestringer commented on #18584
^^ Manged to resolve the problem I previously hit with v1.10 by updating the test-verifier image in the manifests. I'm also seeing a similar style of complexity issue on that version with this kernel.

[2022-01-21 21:40] joestringer opened #18586 "CI: ConformanceKind1.19: no-policies/pod-to-world/http-to-one-one-one-one-0: curl: (28) Resolving timed out after 5000 milliseconds"
### Test Name

[code]

### Failure Output

[code]

### Stack Trace

[code]

### Standard Output

[code]

### Standard Error

[code]

### Resources

- GitHub workflow URL: https://github.com/cilium/cilium/runs/4900510364?check_suite_focus=true
- ZIP file(s):
[cilium-sysdump-out.zip (4).zip](https://github.com/cilium/cilium/files/7916723/cilium-sysdump-out.zip.4.zip)

### Anything else?

Based on th

[2022-01-21 21:44] alex-berger commented on #18581
@joestringer: No, it does not look like there are any stale old cilium endpoints for CronJobs. I checked this as you proposed using `cilium endpoint list` and I also checked the `cilium_endpoint` metric (see attached graphic).

<img width="1404" alt="grafik" src="https://user-images.githubusercontent.com/1087375/150604095-dfc420f6-4ce7-45cd-8739-59d67bcc3287.png">

[2022-01-21 21:58] alex-berger commented on #18581
@joestringer: Yes, it is true that each Pod created from a CronJob has some unique labels, namely the `controller-uid` and `job-name` labels, which are created by the Kubernetes Job controller (CronJob -> Job -> Pod).

[code]

However as mentioned [above](https://github.com/cilium/cilium/issues/18581#issuecomment-1018887064), it does not look like there are any stale endpoints (lying around) for a

[2022-01-21 22:07] joestringer commented on #18581
:+1: Do you also have the `cilium_identity` metric?

Other things that may help (along with just a sysdump, since that will grab a lot of relevant information) would be a dump of the identities in the cluster - you could either probe this from the k8s level via `kubectl get ciliumidentities` and/or probe an individual Cilium pod using `cilium identity list` inside the pod. It may also be relevant

[2022-01-21 22:10] joestringer commented on #18581
Another aspect if the identities are not reducing, is to look at the operator - As far as I understand, there is some periodic identity garbage collection handled by the operator (which also should have some corresponding metrics), so it would be useful to know how frequent that is and whether it's kicking in as expected (and whether that actually cleans up some of the identities that are no longe

[2022-01-21 22:23] alex-berger commented on #18581
The `cilium_identity` metrics looks innocent (similar to the `cilium_endpoint` one):

<img width="1158" alt="grafik" src="https://user-images.githubusercontent.com/1087375/150607522-8075cf6a-a1db-4acb-9ae5-eb5149d7996d.png">

The result of `kubectl get ciliumidentities` also looks rather innocent:

[code]

[2022-01-21 22:28] alex-berger commented on #18581
Identity GC seems to work as expected, which corresponds to what we saw from the `cilium_identity` metric respectively the output from `kubectl get ciliumidentities`:

<img width="1242" alt="grafik" src="https://user-images.githubusercontent.com/1087375/150608375-b249162e-2258-4a3d-bd22-8e12e6367dd9.png">

[2022-01-21 22:31] alex-berger commented on #18581
Which brings us to your last point the `cilium policy selectors`. Our current observation is that the [above mentioned](https://github.com/cilium/cilium/issues/18581#issue-1110610193) `CiliumNetworkPolicy` for CoreDNS triggers this leak. If we remove that `CiliumNetworkPolicy` the problem disappears (or at least the leaks is growing much slower, such that we do not observe it).

[2022-01-21 22:34] alex-berger commented on #18581
Another observation is, that if I edit and save the above mentioned CiliumNetworkPolicy for CoreDNS (e.g. just adding a label, not changing any of its selectors) the leak is reset (the eBPF maps are drained). Of course after some hours, they are then filled up again and the problem is back.

[2022-01-21 23:50] liuyuan10 commented on #18462
@pchaigno  I just remember I was using the clean upstream 1.10.6 image so this issue does apply to upstream. I'm reopening it again. To recap, with host-reachable-service disabled + session-affinity + tunneling mode + enable-node-port, it fails to load bpf_lxc for `1.10.6` on ubuntu2004 (5.4)

1.11.0 works fine. And image built right from top of master (527c2fe7aec2f903ef54347d523bd6d6ac5df6e8) al

[2022-01-22 00:45] aanm commented on #18581
@alex-berger please provide a Cilium sysdump when the issue occurs. Thank you.

[2022-01-22 12:14] aigarm commented on #18559
@Ian-Greene did You tried to upgrade to the latest v1.11.1?
I upgraded directly from v1.10.4 to v1.11.1 and i can see same behavior.

[2022-01-22 13:39] addreas opened #18591 ""BPF program is too large" on kernel 5.16 and Cilium 1.10.6"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

Running with the Helm chart and only setting `cni.exclusive: false`, together with Multus CNI, starting pods fail with `Unable to create endpoint: Cilium API client timeout exceeded`.

Cilium logs contain `level=warning msg="BPF program is too large. Processed 1000001 insn" subsys=datapath-load

[2022-01-22 13:55] addreas commented on #18591
CC @pchaigno, as requested in #18462

[2022-01-22 20:10] #17903 closed

[2022-01-22 20:35] othmane399 commented on #18581
Hello, I have the same issue since I've upgrade to 1.11

[2022-01-22 21:04] alex-berger commented on #18581
@aanm Please find attached the requested `cilium sysdump`.

[cilium-sysdump-20220122-220038.zip](https://github.com/cilium/cilium/files/7919281/cilium-sysdump-20220122-220038.zip)

[2022-01-23 09:57] pchaigno commented on #18462
@liuyuan10 Ok :+1: Good to know it works on v1.11. We might be able to fix it then. Do you have the answers to those other questions?

[2022-01-24 06:41] YutaroHayakawa commented on #14625
From @pchaigno

===

In the case of IPsec paths (no node IPsec), I think the only paths that matter are:

pod -> {local pod, local node, remote node}: no encryption, as usual.
pod -> remote pod: exact path depends on tunnel and enable-endpoint-routes settings.

So let's focus on that single encrypted case:

**Native routing with endpoint routes**
Source node: lxc/egress (bpf_lxc/from-container) ->

[2022-01-24 12:15] wenhuwang commented on #11767
@vincentmli
My k8s cluster name is cluster.local, i found that when i remove  dots from cluster name, the fqdn network policy is aviable. but i don't know why.

[2022-01-24 12:41] kkourt commented on #16847
Seen on v1.11 backport: https://github.com/cilium/cilium/pull/18569#issuecomment-1020058619

[2022-01-24 12:52] kkourt commented on #18318
Observed in https://github.com/cilium/cilium/pull/18569#issuecomment-1020067575

[2022-01-24 12:57] maintainer-s-little-helper[bot] opened #18595 "CI: K8sLRPTests Checks local redirect policy LRP connectivity"
### Test Name
[code]

### Failure Output
[code]

### Stacktrace
<details><summary>Click to show.</summary>

[code]
</details>

### Standard Output
<details><summary>Click to show.</summary>

[code]
</details>

### Standard Error
<details><summary>Click to show.</summary>

[code]
</details>

ZIP Links:
<details><summary>Click to show.</summary>

 https://jenkins.cilium.io/job/Cilium-PR-K8s-GKE//742

[2022-01-24 12:57] maintainer-s-little-helper[bot] opened #18596 "CI: K8sLRPTests Checks local redirect policy LRP restores service when removed"
### Test Name
[code]

### Failure Output
[code]

### Stacktrace
<details><summary>Click to show.</summary>

[code]
</details>

### Standard Output
<details><summary>Click to show.</summary>

[code]
</details>

### Standard Error
<details><summary>Click to show.</summary>

[code]
</details>

ZIP Links:
<details><summary>Click to show.</summary>

 https://jenkins.cilium.io/job/Cilium-PR-K8s-GKE//742

[2022-01-24 12:58] aanm commented on #18595
/cc @aditighag

[2022-01-24 12:58] aanm commented on #18596
/cc @aditighag

[2022-01-24 13:01] #18404 closed

[2022-01-24 13:04] brb commented on #18199
@kvaster https://github.com/cilium/cilium/pull/18585 should be functioning (WIP because need to update code comments and to measure a possible perf regression), so you could give it a try.

[2022-01-24 13:14] aanm commented on #18581
@alex-berger thank you but the sysdump is incomplete. There should be some cilium agents bugtool directories inside that .zip file. Specially for the cilium agents that are facing the issue.

[2022-01-24 16:53] alex-berger commented on #18581
@aanm I get warnings like the one below, but I have no clue why.

[code]

[2022-01-24 16:55] aanm commented on #17277
@lrouter where did you get the podCIDRs output from? From `CiliumNode` or `Kubernetes Nodes`? If you got them from both structures be aware that the IPAM is allocated from two independent allocators, the `CiliumNode` CIDRs are allocated from the Cilium Operator, the `Kubernetes` CIDRs are allocated from kube-controller-manager.

[2022-01-24 17:32] vincentmli commented on #11767
@wenhuwang
how do you check and modify your cluster name? through kubectl or manually change some file?

[2022-01-24 17:44] kkourt commented on #18530
Encountered in https://github.com/cilium/cilium/pull/18569#issuecomment-1020369028

[2022-01-24 17:47] kkourt commented on #18158
encountered in https://github.com/cilium/cilium/pull/18597#issuecomment-1020371951

[2022-01-24 17:52] vincentmli commented on #11767
@wenhuwang I changed my cluster name from `kubernetes` to `cluster.local` from example  https://medium.com/@manumv1/how-to-rename-a-kubernetes-cluster-c10db35d92aa, I don't have fqdn problem

[code]

[2022-01-24 18:08] liuyuan10 commented on #18462
I have it in my previous comment and I'll paste it again:
[code]

[2022-01-24 18:33] Ian-Greene commented on #18559
@aigarm we tried upgrading to v1.11.1 and created a new cluster. So far no issues but we will be on the lookout for this behavior re-appearing. Thanks for the advice @brb

[2022-01-24 19:05] thejosephstevens opened #18603 "DNS Requests failing to hit node-local-dns-cache (LRP appears to not address it)"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

We're attempting to roll out Cilium 1.10 on all managed cloud k8s providers with settings that are as similar across clouds as possible, so we're testing with VXLAN, and generic IPAMs in order to limit differences. All application workloads currently work fine, but because we run batch jobs, we

[2022-01-24 19:23] brb commented on #18559
I guess the upgrade path is still broken.

@aigarm Could you attach the sysdump? Also, cc @aanm and @christarazi who fixed the previously mentioned issue.

[2022-01-24 20:58] aanm commented on #18581
@alex-berger are you following the steps described [here](https://docs.cilium.io/en/stable/operations/troubleshooting/#automatic-log-state-collection)? If yes, can you paste a full log output? Thanks

[2022-01-24 23:00] joestringer commented on #18273
I also saw this issue with 403 on an EKS run: https://github.com/cilium/cilium/actions/runs/1742137423

[2022-01-24 23:23] joestringer commented on #18581
That's an interesting observation. I see the new `kube-apiserver` entity is used in one of the policies, so it's possible that this is related to the issue. Either way, I think that a proper bugtool dump from the node will help, and `cilium policy selectors` output will be one of the areas I would be most interested in.

[2022-01-24 23:47] joestringer commented on #18566
Seems to be an issue of test pollution / previous test failing to clean up pods after the test ran, which is hopefully addressed by #18448.

My triage method is: Go to the full console output, search for `test failed`, check which pods are still terminating, check if Cilium pods are not running, then scroll up and look at which test previously ran to see which test group may be triggering the issu

[2022-01-24 23:53] zadunn commented on #18169
@Charlottell - Were you able to improve your performance?  I'd love to know as we've hit a similar issue.

[2022-01-24 23:59] joestringer opened #18604 "CI: K8sServicesTest Checks service across nodes Tests NodePort BPF Tests with vxlan Tests NodePort with Maglev Tests NodePort: Timeout while waiting for Cilium to become ready: Lost connectivity to k8s2 node"
### Test Name

[code]

### Failure Output

[code]
[code]

### Standard Output

[code]

### Standard Error

[code]

### Resources

- Jenkins URL:  https://jenkins.cilium.io/job/Cilium-PR-K8s-1.22-kernel-4.19/342/testReport/junit/Suite-k8s-1/22/K8sServicesTest_Checks_service_across_nodes_Tests_NodePort_BPF_Tests_with_vxlan_Tests_NodePort_with_Maglev_Tests_NodePort/
- ZIP file(s):
[5edefc6c_K8sServic

[2022-01-25 00:00] joestringer commented on #18604
Previous test was `K8sServicesTest Checks service across nodes Tests NodePort BPF Tests with vxlan with L7 policy Tests NodePort with L7 Policy`, in case that has any impact on the loss of connectivity to k8s2 node.

[2022-01-25 00:05] aditighag commented on #18596
Test pods failed to come up -

[code]

The udp container in the same pod was successfully running though -

[code]

AFAIK, we collect cilium monitor output on every failure, but I don't see any in the sysdump.

[2022-01-25 01:57] ysksuzuki commented on #18520
The conntrack table on k8s1 contains an entry that expects reply packets with a different port when I curl from k8s3. `l4proto_manip_pkt` triggered by NF_INET_POST_ROUTING replaced the src port because of this. It seems that get_unique_tuple calculates this different port and alters the conntrack reply packet. I'm investing in why this is happening.

[code]

bpftrace output
[code]

[2022-01-25 02:04] ysksuzuki commented on #18520
The curl process could communicate with the Pod if I added the NOTRACK rule following.

[code]

[2022-01-25 02:42] wenhuwang commented on #11767
After i update cluster name configuration, i use the [kubespray](https://github.com/kubernetes-sigs/kubespray) project to redeploy kubernetes.

[2022-01-25 07:28] aigarm commented on #18559
@brb You where right. I upgraded to latest v1.10.7 and then to v1.11.1 - now everything seems nice.
Thanks!

[2022-01-25 08:30] brb commented on #18559
Great. Then let's close this issue. If the issue persists, please comment it so we can reopen it.

[2022-01-25 08:30] #18559 closed

[2022-01-25 10:45] kkourt commented on #18603
Thanks for the report!

Going over the sysdump, it seems to me that indeed DNS requests are forwarded to kube-dns (instead of going over the node-local-dns).

Could you add what is the output of `hubble-observe` for a client pod that performs DNS requests (see https://docs.cilium.io/en/v1.10/operations/troubleshooting/#observing-flows-of-a-specific-pod) as well as the output of `cilium monitor` fo

[2022-01-25 10:50] brb commented on #18603
cc @aditighag

[2022-01-25 13:10] rastislavs opened #18610 "kube-proxy in IPVS mode: pod-to-NodePort svc connectivity issue"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

In a cluster with Cilium + kube-proxy in IPVS mode, the following issue was discovered by running `cilium connectivity test`:

When a client pod in the cluster is connecting to a nodePort service via `<node-ip>:<NodePort>`, with the `<node-ip>` being the internal IP of the node where the client

[2022-01-25 13:10] jibi commented on #15406
Filled https://github.com/cilium/cilium/pull/18609 (it diverged a bit from the v1.10 I opened some time ago because of the new `subscriber.Node` mechanism introduced in v1.11)

[2022-01-25 13:11] rastislavs commented on #18610
Some iptables logs of a packet:
 - client pod IP `172.25.1.123`
 - node IP: `172.31.87.243` (nodeport: `30400`)
 - backend pod on another node: `172.25.0.56`

Log at the beggining of the `KUBE-NODE-PORT` chain:

[code]

The packet is matching this rule (packet already has mark `0xf00`, `0x4000` is added here):
[code]

Log at the beggining of the `CILIUM_OUTPUT` chain (DNAT to backend pod IP alread

[2022-01-25 13:11] rastislavs commented on #18610
Given my previous comment, I was able to make this working with the following workaround:

1. Add `-m mark ! --mark 0xf00/0xf00` to the `cilium: host->any mark as from host` rule in `CILIUM_OUTPUT`, e.g.:

[code]

This will make sure that mark `0xf00` is not replaced with `0xc00` there.

2. Remove `-m conntrack --ctstate DNAT` from the `hairpin traffic that originated from a local pod` rule i n`CI

[2022-01-25 13:26] kkourt commented on #18610
Thank you for the detailed report!

CC: @brb @borkmann

[2022-01-25 14:50] maintainer-s-little-helper[bot] opened #18615 "CI: K8sServicesTest Checks graceful termination of service endpoints Checks client terminates gracefully on service endpoint deletion"
### Test Name
[code]

### Failure Output
[code]

### Stacktrace
<details><summary>Click to show.</summary>

[code]
</details>

### Standard Output
<details><summary>Click to show.</summary>

[code]
</details>

### Standard Error
<details><summary>Click to show.</summary>

[code]
</details>

ZIP Links:
<details><summary>Click to show.</summary>

 https://jenkins.cilium.io/job/Cilium-PR-K8s-1.22-ker

[2022-01-25 16:16] aditighag commented on #18603
Did you follow these instructions - https://docs.cilium.io/en/latest/gettingstarted/local-redirect-policy/#node-local-dns-cache? Also, I don't see kube-proxy replacement being enabled in your helm config.

AFAIK, you need to enable node-local dns plugin on GKE clusters, else GKE control plane deletes the manually deployed node-local dns pods. /cc @Weil0ng

[2022-01-25 17:10] vincentmli opened #18616 "VTEP integration cause "Failed to start bpffs map migration""
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

when enable VTEP integration feature https://github.com/cilium/cilium/pull/17370 with  `3` or `4` VTEP devices like below in configmap cilium-config

[code]
deploying any pod like nginx or netshoot pod, pod will fail to start, kubectl describe pod gives error like below

[code]

cilium agent lo

[2022-01-25 17:40] #14725 closed

[2022-01-25 17:42] kvaster commented on #18199
Will make some tests tomorrow and will get back with results.

[2022-01-25 17:42] #18037 closed

[2022-01-25 18:30] Weil0ng commented on #18603
It seems like the node-local-dns pods are deployed in host network namespace? Can you confirm that? If so, please follow instructions here https://docs.cilium.io/en/latest/gettingstarted/local-redirect-policy/#node-local-dns-cache to deploy node-local-dns pods and see it if resolves the problem.

[2022-01-25 19:51] joestringer commented on #18616
I'd suggest looking closely at the ELF files generated with either version, using `readelf`. See if the section really exists in either of the versions, compare them, and maybe iterate on the example code to see if you can understand how the ELF sections are generated by the compiler/linker based on the new code.

[2022-01-25 20:01] joestringer commented on #18581
@alex-berger There's no defaults for memory limits on the cilium agent by default, as they tend to cause more problems than they solve. That said, if you are able to figure out useful limits that allow sysdump to successfully run, then that would be useful to know. It's hard to say what good values would be without understanding a lot about the deployment configuration, cluster details, etc.

[2022-01-25 20:23] vincentmli commented on #18616
good idea, I see the output for 3 or 4 VTEPs has: `[21] .rodata.cst32     PROGBITS         0000000000000000  00011e68`, but output for  1 or 2 VTEPs does not have `.rodata.cst32`, it looks the compiler/linker did something different when VTEP_ENDPOINT macro array exceed 2 members, why the compiler/linker would do it differently ?

output for 4 VTEPs: readelf -e bpf_lxc-btf-problem.o

[code]

outpu

[2022-01-25 20:39] thejosephstevens commented on #18603
[code]

[code]

So I actually didn't realize the node local dns cache setup was different, but reading through that I'm seeing some of the changes, I'll go ahead and give that a try. As far as kube-proxy replacement, we're using `kube-proxy-replacement:  "probe"` (defaulted by helm). I briefly tried full (strict) kube-proxy replacement, but I ran into problems because that's not compatible with tr

[2022-01-25 23:50] thejosephstevens commented on #18603
So a couple issues, if I remove the node-local dns plugin from gke my pods aren't killed, I get errors like this on boot
[code]
Initially these were complaining about a dummy stub-zone we define, but after removing that it just complained about binding on that address.

With the node-local-dns plugin in place it almost immediately resets changes to the DS config, so I can't change the node-local-d

[2022-01-26 00:07] christarazi commented on #18250
@ldelossa Is this fixed by https://github.com/cilium/cilium/pull/18358 or is it a separate issue?

[2022-01-26 00:10] christarazi commented on #17547
Why doesn't Kubernetes update that `Endpoint` object to say that the backend is not healthy? If that happens, then we wouldn't need to change anything on the BGP side. It's already hooked up to take into account the health of the backend(s) and will withdraw routes  if unhealthy. Before we suggest changing the datapath / BGP init, I'd first investigate why Kubernetes is not telling us the health o

[2022-01-26 01:04] christarazi commented on #18581
Hi @alex-berger, if you are able to reproduce the issue with v1.11.1, then please attach a sysdump for that. We [fixed](#18150) a very similar issue in .1.

[2022-01-26 01:15] wenhuwang commented on #11767
@vincentmli
I found that installing cilium using  the `cilium install` command fails, when cluster name contains dots.  the logs look like this:
[code]

[2022-01-26 01:36] anthr76 opened #18622 "aoe: packet could not be sent on *. consider increasing tx_queue_len"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

When using Cilium with these values:
[code]

### Cilium Version

`1.11.1`

### Kernel Version

`5.15.16-talos`

### Kubernetes Version

`v1.23.2`

### Sysdump

_No response_

### Relevant log output

[code]

Until an eventual lockup and trace from the kernel - https://gist.github.com/anthr76/b5

[2022-01-26 02:15] vincentmli commented on #11767
@wenhuwang if you follow https://docs.cilium.io/en/v1.11/gettingstarted/kubeproxy-free/ to use kubeadm to run kubernetes and cilium, you should be able to use https://medium.com/@manumv1/how-to-rename-a-kubernetes-cluster-c10db35d92aa later to change cluster name with dot, and the fqdn policy should continue to work

[2022-01-26 02:20] Weil0ng commented on #18603
If you are working with GKE's nodelocaldns addon, then no you cannot change its config without all changes being reconciled away, so there are 2 options:
- Using OSS Cilium, then deploy OSS nodelocaldns per the [instructions](https://docs.cilium.io/en/latest/gettingstarted/local-redirect-policy/#node-local-dns-cache)
- Using GKE's bundled DPv2 + nodelocaldns addon

[2022-01-26 03:18] thejosephstevens commented on #18603
So I was able to get OSS nodelocaldns running but it doesn't work with custom stubZones because it fails to bind on the kube-dns IP
[code]

It's picking up upstream stubZones and producing a bind on the default local DNS IP
[code]

I'll keep testing and see if I can find a way around this.

Before that though I'll figure out if LRP works with this setup (without stubZones) to at least address this

[2022-01-26 04:27] aditighag commented on #18603
LRP relies on socket-based load balancing. KPR=probe setting should be fine with your cluster to get node-local dns use case working with LRP - https://docs.cilium.io/en/latest/gettingstarted/local-redirect-policy/#node-local-dns-cache.

[code]

[2022-01-26 06:33] wenhuwang commented on #11767
@vincentmli my cluster is not replacing kube-proxy with cilium, but i will try to change cluster name to use  https://medium.com/@manumv1/how-to-rename-a-kubernetes-cluster-c10db35d92aa .

[2022-01-26 08:51] pchaigno commented on #10067
If we can identify the Cilium BPF programs by their name, we won't need to consider the cgroup attachment points, no?

[2022-01-26 09:44] maintainer-s-little-helper[bot] opened #18625 "CI: RuntimePolicies Init Policy Default Drop Test tests egress"
### Test Name
[code]

### Failure Output
[code]

### Stacktrace
<details><summary>Click to show.</summary>

[code]
</details>

### Standard Output
<details><summary>Click to show.</summary>

[code]
</details>

### Standard Error
<details><summary>Click to show.</summary>

[code]
</details>

ZIP Links:
<details><summary>Click to show.</summary>

 https://jenkins.cilium.io/job/Cilium-PR-Runtime-net-

[2022-01-26 09:53] tklauser commented on #18625
Looks like the endpoint in question is still in `waiting-to-regenerate` state which might indicate the endpoint wasn't created yet at the time of the check:

[code]

We probably need to check `vm.WaitEndpointsReady()` before attempting to check the endpoint ID here:

https://github.com/cilium/cilium/blob/8789c951ae608610888d8c69c968c80b74ec59cb/test/runtime/Policies.go#L1461-L1464

(and in other p

[2022-01-26 12:47] #18049 closed

[2022-01-26 13:05] ldelossa commented on #18250
@christarazi two separate issues. This one has a community member proposing a fix. Waiting for the patch to be applied to our MetalLB Fork. https://cilium.slack.com/archives/C53TG4J4R/p1643050292080000?thread_ts=1639163541.078600&cid=C53TG4J4R

[2022-01-26 16:06] alex-berger commented on #18581
Trying to reproduce this (after increasing memory limits for cilium agents), I now run into another problem. I get warnings like the one below and most of my CronJob Pods (that I use to reproduce the leak) do not start properly as they fail to get IP addresses.

[code]

Could this be related to our leak and if so, what is more likely, that the leak causes the problem with "Stray endpoints" or that

[2022-01-26 16:11] brb commented on #10402
This is going to be fixed by https://github.com/cilium/cilium/pull/17504.

[2022-01-26 16:16] brb commented on #10402
Assigning myself to document the new flag.

[2022-01-26 16:27] brb commented on #16827
@zhangjianghua How did you end up with the src port 30241 for the request in the wireshark screenshot? `net.ipv4.ip_local_port_range = 32768 60999` should prevent this from happening.

[2022-01-26 17:08] brb commented on #12244
There have been many changes to the datapath since the issue was opened. Closing it. @aanm if you can reproduce it, please reopen it.

[2022-01-26 17:08] #12244 closed

[2022-01-26 17:44] chowmean commented on #18529
Hi @christarazi  Can you look at these commits if I am going in correct direction. https://github.com/chowmean/cilium/commit/7918e5de9b72514a1f9b1fe4501cf8a4610d8a0d

What is left here is

- Adding proper formatting to print the IDMETADATA information.
- Documentation

Also what flags/options do we need to provide here.

[2022-01-26 19:02] aleksey-novikov opened #18632 "In the DSR mode TCP reply may be sent from wrong IP when EP is reachable through multiple LB IPs"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

Lets make the following schema:
[code]
When SYN packet sent from Client to LB1 in the BPF maps on the node that hosts Pod following entries are created:
- CT: (Client_IP,Client_Port)->(Pod_IP,Pod_Port)
- NAT: (Client_IP,Client_Port) -> (Pod_IP,Pod_Port) XLATE (LB1_IP, LB_Port)

When previous co

[2022-01-26 21:45] aleksey-novikov commented on #18632
Packets sample: https://terabox.com/s/1nVpFgVDerDjE4aEB2iuqlA

[2022-01-26 21:51] vincentmli commented on #18616
here is the code call site reference the global array macro in `node_config.h` in case I am missing to give full picture of this issue :-) https://github.com/cilium/cilium/pull/17370/commits/d089b7ae65f99cf75d48ed694917f8754af1c507

[2022-01-26 21:56] vincentmli commented on #18616
with no  knowledge on llvm BPF target, I guess BPF BTF lack of `.rodata.cst32` support ?

[code]

[2022-01-26 21:58] christarazi commented on #18529
This is a good start. I would agree that formatting should be figured out and the documentation is auto-generated. When you have these changes, please open a PR and then we can discuss if there's a need for flags / options.

[2022-01-26 22:27] vincentmli commented on #18616
fyi, this error comes from

https://github.com/cilium/ebpf/blob/master/elf_reader.go#L1032-L1034

[code]

[2022-01-26 23:09] joestringer commented on #18596
Failures that occur in the `BeforeXXX` / `AfterXXX` functions are not handled gracefully by the current ginkgo infrastructure. This likely explains why such output isn't in the sysdump from the failure.

A couple of suggestions for next steps:
* Could look into moving more things that could fail into the actual tests rather than the BeforeAll.
* Could look into how sysdump/artifacts are gathered f

[2022-01-26 23:14] joestringer opened #18634 "CI: K8sServicesTest Checks graceful termination of service endpoints Checks if terminating service endpoint doesn't serve new connections: Pods [app=graceful-term-server] failed to come up"
### Test Name

[code]

### Failure Output

[code]

### Stack Trace

[code]

### Standard Output

[code]

### Standard Error

[code]

### Resources

- Jenkins URL: https://jenkins.cilium.io/job/Cilium-PR-K8s-1.22-kernel-4.19/401/testReport/junit/Suite-k8s-1/22/K8sServicesTest_Checks_graceful_termination_of_service_endpoints_Checks_if_terminating_service_endpoint_doesn_t_serve_new_connections/
- ZIP

[2022-01-26 23:16] joestringer commented on #18634
I hit this in a PR (#18448), but only for the first time now after running these tests several times over the last couple of days.

I see this in the kubectl get pods output:
[code]

Is it possible that the previous test didn't fully clean up this `Completed` pod and that somehow disrupts this test from successfully provisioning the graceful termination client pod?

cc @aditighag

[2022-01-26 23:32] christarazi commented on #18250
Should we propose this change upstream to MetalLB rather than changing our fork behavior?

[2022-01-26 23:53] joestringer commented on #18581
@alex-berger I don't see the originally reported error message in this latest sysdump. Did the policymap resource leak issue occur this time that you tried? If you think the problem happened this time, can you share exactly which pods / which nodes / cilium pods you think were affected?

Regarding the "Stray Endpoints" issue, this occurs when the pod "disappears" during operation. Usually in a sta

[2022-01-27 00:08] christarazi commented on #17144
AFAIU, this seems to affect all instances of pod-to-remote-nodeport, aka tunneling is not only affected.

[2022-01-27 08:09] alex-berger commented on #18581
@joestringer yes the last sysdump was for the `Stray Endpoints` problem only. Now, I was able to reproduce the original problem (after 24 hours of trying) and the below linked sysdump should contain the reported message `Failed to add PolicyMap key`.

[sysdump for `Failed to add PolicyMap key`](https://drive.google.com/file/d/1-MWkySp-V4ELJmgtRdki7wN87lvQFfN7/view?usp=sharing)

There were several

[2022-01-27 08:11] chowmean commented on #18529
@christarazi Added a PR https://github.com/cilium/cilium/pull/18637. Please take a look. Thanks!

[2022-01-27 08:14] wkhno opened #18638 "Install cilium version 1.10.0 with calico already installed in cluster."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

A bug happened! I followed the instruction https://docs.cilium.io/en/stable/gettingstarted/cni-chaining-calico/ .
My cluster is build with kubeadm and has three nodes in cluster. I first deploy calico to it and then follow the instruction use helm install cilium. But I have only cilium-operator

[2022-01-27 09:27] Charlottell opened #18639 "How does the Bandwidth feature fit with kernel versions earlier than 5.1"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

BPF bandwidth manager needs kernel 5.1 or newer. Disabling the feature.

### Cilium Version

1.11.0

### Kernel Version

Linux master1 4.19.0-arm64-server #3017 SMP Thu Nov 12 19:54:04 CST 2020 aarch64 GNU/Linux

### Kubernetes Version

1.20

### Sysdump

_No response_

### Relevant log output

[2022-01-27 09:48] Charlottell commented on #18639
I looked at the source code and find the information: “We at least need 5.1 kernel for native TCP EDT integration and writable queue_mapping that we use. Below helper is available for 5.1 kernels and onwards”

[2022-01-27 10:44] nielsvanoosterom-varias commented on #18507
I just came to the realization that this won't be as simple to fix as I first thought, Cilium won't know which node to send the egress traffic too, as they all have an IP in this CIDR. It would require some way to target a specific node.

I guess updating the egressSourceIP to the nodes specific anchor IP after claiming the floating IP on the new node is the way to go here after all.

[2022-01-27 10:44] #18507 closed

[2022-01-27 12:24] alegrey91 opened #18641 "select nodes to expose NodePort service in kube-proxy free mode"
## Proposal / RFE

Add the possibility to select specific nodes to expose `NodePort` service.

**Is your feature request related to a problem?**
Suppose that we have a multi-tenant cluster, where each tenant has one or more dedicated worker nodes. If a tenant creates a NodePort service the ports will be opened in all the cluster nodes instead of just its own nodes. For security reasons, we wouldn'

[2022-01-27 12:27] wkhno opened #18642 "cross-node connection use L7 policy, envoy based cilium strategy."
## Proposal / RFE

**Is your feature request related to a problem?**

**Describe the solution you'd like**

[restful-api based Network Policy ](https://github.com/cilium/cilium-service-mesh-beta) program examples and related youtube video I have read, I wonder if the CiliumEnvoyConfig can be more easy to use. In the example it seems to difficult to apply and restart a new one.

here is the L7 traf

[2022-01-27 14:37] qmonnet commented on #11263
@Ulexus Are you still on v1.7.2 and if not, is the issue still present on later versions? If so, would you happen to have a sandbox cluster where the issue is occurring, that I could access to try and troubleshoot, by any chance? (You can reach me as qmo on Slack if that's the case.)

[2022-01-27 14:55] Ulexus commented on #11263
No, I've moved on to more recent versions now, and I don't think this is still an issue in recent versions.

[2022-01-27 15:14] aanm commented on #18639
@Charlottell I assume your question is answered and we can close the issue? Thank you

[2022-01-27 15:16] olemarkus commented on #11263
We no longer supports masqed IPv6, so it is no longer relevant for me.

[2022-01-27 15:24] aanm commented on #18638
@wkhno please try with 1.11.1, the documentation that you have pointed it out is for 1.11.x, not for 1.10.0. Thank you

[2022-01-27 15:43] joestringer commented on #18634
My current theory is that this is not a problem on master because the `AfterEach` of the `Describe` for this test will ensure that the pods are removed after the individual `It` tests. However, PR #18448 moved this into an `AfterAll` in the `Context` of this specific test. This commit will switch that over to an AfterEach and hopefully address the issue. https://github.com/cilium/cilium/pull/18448

[2022-01-27 16:05] rastislavs opened #18644 "Inconsistent behavior of policy matching link-local address of node-local-dns"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

I tried to modify the `pod-to-external-fqdn-allow-google-cnp` policy from [connectivity-check](https://github.com/cilium/cilium/tree/master/examples/kubernetes/connectivity-check) tests to allow connections to [node-local-dns](https://kubernetes.io/docs/tasks/administer-cluster/nodelocaldns/) b

[2022-01-27 16:12] aditighag commented on #18644
Some initial observations -

- Node-local dns is not deployed using [LRP](https://docs.cilium.io/en/latest/gettingstarted/local-redirect-policy/#node-local-dns-cache). In case of LRP, there is no binding to `168.254`.

if the node-local-dns starts after the cilium pod, the following policy does not work. After I restart the cilium pod on the node, it starts working.

It's not entirely clear to me

[2022-01-27 16:13] #18625 closed

[2022-01-27 16:28] #18199 closed

[2022-01-27 16:38] mhulscher opened #18646 "Expose BPF-map current and max size as prometheus metrics"
## Proposal

**Is your feature request related to a problem?**

When clusters grow the BPF maps may start filling up. I have not found an easy way of monitoring the state of these maps.

**Describe the solution you'd like**

Preferably the cilium-agent should expose a prometheus metric of each maps' max size and current size.

[2022-01-27 17:15] brb commented on #18632
Thanks for the detailed issue. One potential fix is to extend this condition https://github.com/cilium/cilium/blob/v1.11/bpf/bpf_lxc.c#L1435 by adding the check "CT_ESTABLISHED && SYN is set".

[2022-01-27 18:35] vincentmli commented on #18616
With help from cilium/ebpf, we found out that when VTEP_ENDPOINT/VTEP_MAC member > 2 like below:

[code]
.rodata.cst32 will be generated by compiler for VTEP_MAC member

[code]

when VTEP_ENDPOINT/VTEP_MAC member <= 2, no single rodata section will be generated by compiler

[code]

no single rodata

[code]

[2022-01-27 18:49] #18566 closed

[2022-01-27 18:50] joestringer commented on #18634
Believed to be fixed, please reopen / ping if you observe this in future.

[2022-01-27 18:50] #18634 closed

[2022-01-27 19:33] aleksey-novikov commented on #18632
This code fragment is more suitable for changes [https://github.com/cilium/cilium/blob/v1.11/bpf/lib/conntrack.h#L255](https://github.com/cilium/cilium/blob/v1.11/bpf/lib/conntrack.h#L255)

[2022-01-27 21:43] timoreimann commented on #17837
We have now observed this on Cilium 1.10.1 as well. There have been a few patch releases since then, however, so probably not worth reopening this ticket prior to seeing the matter on a more recent Cilium version.

Leaving a note here just in case and for record keeping.

[2022-01-27 22:53] aditighag opened #18648 "CI: RuntimePrivilegedUnitTests TestArpPingHandling failed panic: test timed out"
[code]

https://jenkins.cilium.io/job/Cilium-PR-Runtime-net-next/1151/testReport/junit/(root)/Suite-runtime/RuntimePrivilegedUnitTests_Run_Tests/

[09e5312a_RuntimePrivilegedUnitTests_Run_Tests.zip](https://github.com/cilium/cilium/files/7954328/09e5312a_RuntimePrivilegedUnitTests_Run_Tests.zip)

[2022-01-28 01:35] vincentmli commented on #11767
sorry I don't know why cilium-cli does not allow dot in cluster name

[2022-01-28 03:44] thejosephstevens commented on #18603
Alright, so I've gone back through, enabled LocalRedirectPolicy and followed the full localredirectpolicy directions for node-local-dns to the letter and I'm still not seeing dns request counts going up on the local cache pod.

For what it's worth I was able to get node-local-dns to run while there were upstream stubZones on coredns by changing to `-localip=0.0.0.0`, but I did change that back to

[2022-01-28 05:06] aditighag commented on #18603
What's the output of `cilium lrp list` when run from the cilium pods? Have you tried tracing DNS packets to see if they are being sent to the node-local dns cache pods or not?

[2022-01-28 05:34] Weil0ng opened #18649 "Include `cilium lrp list` in bugtool cmd output"
It is currently missing from bugtool dumps. Would be handy to have it for issues like #18603.

[2022-01-28 05:36] aditighag commented on #18649
Already taken care of in this PR - https://github.com/cilium/cilium/pull/18563/commits/795239b23ee6d2048c56056602f4040ac63cf1ae. :)

[2022-01-28 05:36] #18649 closed

[2022-01-28 05:42] Weil0ng commented on #18603
I noticed the following in the agent log:
[code]
Can you confirm how did you enable LRP? Seems like the config change was not picked up by agent, did you restart the agent after changing the config?

[2022-01-28 06:33] sayboras commented on #18278
Seems like no one is actively working on this, I can give it a crack.

[2022-01-28 08:44] thejosephstevens commented on #18603
Restarting the cilium agents fixed it!!!! Thank you all so much for your help!

I'll do a bit more testing to verify that it works as expected, but given what I found about setting `-local-ip=0.0.0.0` in order to have this setup be compatible with private DNS zones I'd be happy to make a PR to update the yaml referenced in the docs to use that instead of `-localip=169.254.20.10,$KUBE_DNS_IP` in ca

[2022-01-28 08:49] ysksuzuki opened #18650 "Helm template doesn't generate hubble-ui standalone manifest"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

I tried to generate hubble-ui standalone manifest with `helm template` flowing the document, but it didn't generate anything.
https://docs.cilium.io/en/stable/gettingstarted/hubble/#enable-the-hubble-ui

[code]

### Cilium Version

1.11.1

### Kernel Version

[code]

### Kubernetes Version

[co

[2022-01-28 10:02] brb commented on #18199
@kvaster Did you have a chance to test the fix?

[2022-01-28 12:20] sayboras commented on #18106
related to https://github.com/golang/go/issues/40436

[2022-01-28 12:48] YutaroHayakawa commented on #10067
Yep, I think it works. I tried prefixing the program name and found we exceed the BPF_OBJ_NAME_LEN limit :(

It's just a cosmetic issue I believe but looks bad...

[code]

[2022-01-28 12:49] bmcustodio commented on #18386
This was also observed in [this PR](https://github.com/cilium/cilium/pull/18486#issuecomment-1023292144).

[2022-01-28 13:11] sdake opened #18652 "Provide validation webhook for options deployed on Cilium's ConfigMap to avoid crashing Cilium"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

I set wireguard to enabled.

then the cilium pod, I believe its the cni, cratered. Inspecting the logs shows that l7-enable-proxy must be disabled. I am not sure why there is this limitation.

Instead of failure and log inspection, it would be better if the cr had a validation webhook to ensure

[2022-01-28 13:19] sdake commented on #18652
Correction:  the configuration options are stored in a configmap in the `kube-system` namespace under the configmap `cilium-config`.

[2022-01-28 13:52] #16393 closed

[2022-01-28 15:21] pchaigno commented on #10067
Ah, right. I noticed that as well for our tc programs. Maybe using something shorter like `cil_` would be good enough?

[2022-01-28 18:46] aditighag commented on #18603
Great to see that you were able to get the node-local dns use case working with LRP. Can we close this bug if your issue is fully resolved?

I don't think these instructions are relevant for the LRP-based node-local dns documentation.

[2022-01-28 19:29] Weil0ng commented on #18649
Awesome!

[2022-01-28 20:35] joestringer commented on #18581
Thanks again for working through this with us, definitely looks like a bug, though admittedly the bug is made worse by the identity cardinality in the cluster. Reducing security identity churn would mitigate the issue without a need to change policies, however there is a real bug underneath that.

A few observations from the sysdump, looking at the `cilium-ws4rr` pod that @aanm mentioned above:

[

[2022-01-28 21:04] brb commented on #17176
Removing this test case in https://github.com/cilium/cilium/pull/18655. The motivation is that the upcoming WireGuard KPR support will make the testing of the L2-less straightforward.

[2022-01-28 21:04] #17176 closed

[2022-01-28 21:45] vincentmli commented on #18616
from https://lore.kernel.org/bpf/41e809b6-62ac-355a-082f-559fa4b1ffea@fb.com/, it looks normal from compiler side

[2022-01-28 21:53] asloan7 opened #18658 "cilium install fail on k3s ubuntu - Cluster name "" is not valid"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

Can't install cilium on brand new ubuntu 20.04 with k3s
Following this https://docs.cilium.io/en/v1.10/gettingstarted/k3s/

First, with no CNI, node is not ready
kubectl get nodes
NAME                                 STATUS     ROLES                       AGE   VERSION
corti2623-awse1pi-1d.cort

[2022-01-28 22:17] asloan7 commented on #18658
I'm not sure if this is what the cilium installer is referring to, but in /etc/rancher/k3s/k3s.yaml
clusters:
- cluster:
  name: default

[2022-01-29 00:29] aanm commented on #18650
@ysksuzuki yes, it looks the documentation is incorrect. Do you mind submitting a PR that fixes it? Thanks

[2022-01-29 00:31] aanm commented on #18646
@mhulscher thanks for opening the GH issue. Cilium already provides `cilium_bpf_maps_virtual_memory_max_bytes` which contains the max memory usage of all bpf maps. Unfortunately, not all bpf map types allow to know what is the current memory usage.

[2022-01-29 00:33] aanm commented on #18658
@asloan7 can you open a GH issues in github.com/cilium/cilium-cli instead? Thanks

[2022-01-29 00:53] ysksuzuki commented on #18650
Sure, I will do that.

[2022-01-29 11:43] addreas commented on #18591
Upgrading to Cilium 1.11.1 seem to have solved this issue for me.

I also ended up with a slightly more recent kernel this week, though I doubt that made a difference:
[code]

[2022-01-29 13:50] sepich commented on #15437
Unfortunately `hostServices.hostNamespaceOnly=true` still not enough for kata to reach k8s services (`kube-dns` for example).
It only works with `hostServices.enabled=false` in cilium 1.11.1 (which breaks k8s svc access for hostNet pods)

[2022-01-29 16:57] vintikzzz commented on #17791
@aanm Hi!

Got the same problem switching to RLP, connection just hangs:
[code]
[code]
[code]

My cilium status:
[code]

[2022-01-30 03:30] sdake commented on #18652
Thanks @aanm !

[2022-01-30 08:43] kvaster commented on #18199
Tested a lot and can confirm that fix works as expected!

[2022-01-30 19:40] ghapsara opened #18663 "Hubble UI's envoy config needs to update"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

Hey, folks.
Super stocked taking a stab at having Cilium in our cluster.

Running into an issue when the Hubble's UI is enabled. The Hubble UI `proxy` container goes into `CrashLoopBackoff`. The log is given the Relevant log output section.

Cilium is deployed with the Cilium helm chart version

[2022-01-31 04:49] YutaroHayakawa commented on #10067
Yep, I think that shold be enough.

[2022-01-31 05:41] dbrowne opened #18670 "Cilium install fails with Vagrant hosted Kubernetes cluster"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

vagrant@mstr:~$ cilium status
    /¯¯\
 /¯¯\__/¯¯\    Cilium:         6 errors
 \__/¯¯\__/    Operator:       OK
 /¯¯\__/¯¯\    Hubble:         disabled
 \__/¯¯\__/    ClusterMesh:    disabled
    \__/

Deployment        cilium-operator    Desired: 1, Ready: 1/1, Available: 1/1
DaemonSet

[2022-01-31 06:28] h3llix commented on #17572
@christarazi Sorry, I am unassigning this myself. Took a long to respond but caught up on some work.

[2022-01-31 12:55] #16920 closed

[2022-01-31 12:55] aanm commented on #17791
cc @aditighag

[2022-01-31 12:58] ti-mo opened #18673 "Complexity issue on 5.16 with KPR, session affinity, DSR, and per-packet E-W LB"
Kernel: 5.16.2 (also observed on 5.16.1)
On master, observed as recently as f0fbba16a07d84d0ffc8c64bac3b5442e49a37ea.
Verifier log: [verifier.log](https://github.com/cilium/cilium/files/7970776/verifier.log)

Reproduce with
[code]

As @pchaigno hinted offline, `KERNEL=netnext` works without issues.

Marked as a bug because it might need attention regardless of whether this is a kernel regression o

[2022-01-31 14:30] zbabac opened #18675 "Can't start cilium pod after installation on rancher-desktop v1.0.0"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

Wanted to created a playground with k3s, cilium, prometheus/grafana and used rancher-desktop on Linux (ubuntu 20.04 based).
Used this guide:
[https://docs.cilium.io/en/v1.11/gettingstarted/grafana/](url)
After installation via helm, cilium pod report an error:
`Error: failed to generate contain

[2022-01-31 17:51] #18328 closed

[2022-01-31 18:36] maintainer-s-little-helper[bot] opened #18677 "CI: K8sLRPTests Checks local redirect policy LRP connectivity"
### Test Name
[code]

### Failure Output
[code]

### Stacktrace
<details><summary>Click to show.</summary>

[code]
</details>

### Standard Output
<details><summary>Click to show.</summary>

[code]
</details>

### Standard Error
<details><summary>Click to show.</summary>

[code]
</details>

ZIP Links:
<details><summary>Click to show.</summary>

 https://jenkins.cilium.io/job/Cilium-PR-K8s-1.22-ker

[2022-01-31 18:38] pchaigno commented on #18677
Not affecting master yet, but affecting several other PRs:
- https://jenkins.cilium.io/job/Cilium-PR-K8s-1.23-kernel-net-next/362/testReport/Suite-k8s-1/23/K8sLRPTests_Checks_local_redirect_policy_LRP_connectivity/
- https://jenkins.cilium.io/job/Cilium-PR-K8s-1.22-kernel-4.19/433/testReport/Suite-k8s-1/22/K8sLRPTests_Checks_local_redirect_policy_LRP_connectivity/
- https://jenkins.cilium.io/job/C

[2022-01-31 18:45] aditighag commented on #18677
Commit 66967dd5e3fdce3cddef56cd40b959552dae9a60 added a new test - https://github.com/cilium/cilium/commit/66967dd5e3fdce3cddef56cd40b959552dae9a60.

I think these PRs need to be rebased?

[2022-01-31 18:46] pchaigno commented on #18677
Probably fine to merge without rebasing. I'll close this issue. Thanks @aditighag!

[2022-01-31 18:46] #18677 closed

[2022-01-31 19:13] jasonaliyetti opened #18678 "Add ESP to firewall requirements in documentation for IPSec enabled Cilium"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

I have Cilium deployed on EKS with some workers belonging to a fine grained AWS Security Group.  When I enabled IPSec in Cilium, requests to workloads on these nodes started to fail with timeouts.

At the end of the day, in addition to the rules called out [in the docs](https://docs.cilium.io/e

[2022-01-31 19:36] vincentmli commented on #18675
@zbabac maybe mount on the host, not the VM?

[2022-01-31 22:05] Jagman13 opened #18680 "Getting 'libbpf: load bpf program failed: Permission denied' error while starting cilium-agent"
Hi experts,
I'm trying to run a cilium on my k8s cluster, I’m trying to run a cilium on my k8s cluster. I am seeing the following error while running cilium-agent.
Due to security and compliance, I have forked the official repo for cilium and have built it in-house and I'm deploying it on my host as a docker container. I did not make any changes to the source code

cilium verison - 1.11.0
k8s vers

[2022-02-01 09:06] alegrey91 commented on #18641
Hi @aanm, any thought about our feature request? Is it a possible solution also for you?

[2022-02-01 14:44] sepich opened #18692 "Unable to disable cilium_agent_bootstrap_seconds metric"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

It is possible to filter prometheus metrics exposed by cilium-agent. When I'm setting in values.yaml:
https://github.com/cilium/cilium/blob/ab891aecefc0305b6bc421cb5e341ff3adf6dc33/install/kubernetes/cilium/values.yaml#L1176

[code]
 Which translates to configMap:
[code]
 Leads to filtering out

[2022-02-01 17:18] zbabac commented on #18675
After playing around, found out it has to be mounted on the host (where this vm runs). However, the BPF FS was already mounted, but not shared. It had to be unmounted then mounted again:

[code]

Altough issue doesn't exist any longer, I suggest update of the guides, to emphasize specifics of the installation into the rancher-desktop, or similar environments that run k3s inside VM.

[2022-02-01 17:23] #18371 closed

[2022-02-01 17:56] vincentmli commented on #18675
@zbabac I vaguely recalled @borkmann made that suggestion for you from slack to mount bpffs on the host :-)

[2022-02-01 18:44] pchaigno commented on #18591
Given there was no verifier patch between v5.16.1 and v5.16.2, the issue was likely fixed by the Cilium version upgrade and not the kernel version upgrade.
[code]

---

The following verifier patches have been made between the working and failing versions.
[code]
Of these, `bpf: Support <8-byte scalar spill and refill` (and its fix) is the most likely culprit.

----

From the sysdump, it seems all

[2022-02-01 19:04] espringsteen commented on #18239
@gandro Has any progress been made on the second bug described here:
[code]

[2022-02-01 19:10] addreas commented on #18591
@pchaigno Sure, tested v1.11.0 just now and that seems to be working fine as well. Happy to check anything else if you need, it's just a home/hobby cluster with snapshots of the OS updates so switching kernels is just a reboot as well.

[2022-02-01 19:13] sepich commented on #15437
Correction: `bpf-lb-sock-hostns-only: "true"` does not work for kata for kernel v5.4 (ubuntu 20.04).
Update kernel to v5.13 (linux-image-generic-hwe-20.04) fixes the issue. Now we can have kata containers able to reach k8s svc, and hostNet pods able to reach k8s svc at the same time on the same nodes with:
[code]

[2022-02-01 20:31] vincentmli commented on #18680
@Jagman13 cilium fail to load/attach bpf_lxc.o object file to the pod, any chance you can get sysdump with cilium-cli utility `cilium sysdump`? also enable debug in cilium agent like `kubectl edit configmap cilium-config -n kube-system` to set  `debug: "true"` and restart cilium agent with ` kubectl -n kube-system rollout restart ds/cilium`, wait till cilium agent is up and has error reported , th

[2022-02-01 20:51] pchaigno commented on #18591
Ok, then here is the list of pull request that may have impacted complexity between v1.10.6 and v1.11.0 (assuming they are all correctly labeled): https://github.com/cilium/cilium/pulls?q=is%3Apr+is%3Aclosed+merged%3A2021-04-28..2021-12-09+-label%3Abackport-done%2F1.10+label%3Asig%2Fdatapath.

In those, I would say the main suspects for having *reduced* complexity are:
- https://github.com/cilium/

[2022-02-01 20:54] soggiest commented on #18278
Thanks for picking this up.I hadn't had a chance to work on this since the new year. I had ran into an issue trying to get the Helm tls generation code to match how the clilium-cli now generates the CA. Specifically, it was challenging to determine if the user had already specified a CA file to import, if not then it would need to be generated, after which it would need to be used for both Hubble

[2022-02-01 21:48] Jagman13 commented on #18680
@vincentmli - I am getting following while trying to get the sysdump

`Error: unknown command "sysdump" for "cilium"
Run 'cilium --help' for usage.
unknown command "sysdump" for "cilium"`

Also, I have a container image based on ol8 inside which i am trying to run cilium using following command -
`./cilium-agent --enable-l7-proxy=true --kube-proxy-replacement=disabled --disable-envoy-version-check

[2022-02-01 22:15] pchaigno commented on #12624
Once we start sending packets destined to remote nodes through the tunnel, we'll have an issue:

Let's say we have a NodePort service with `externalTrafficPolicy=Local` and a single backend pod on k8s2. We make the request `node1 --VIP--> pod@node2` where the VIP is node2.
1. node1 sends SYN to node2 via network (because VIP is node's IP).
2. SYN is received on node2 and DNATed by kube-proxy to po

[2022-02-01 22:45] sayboras commented on #18278
:wave:

There is a preview PR here https://github.com/cilium/cilium/pull/18607. While there are a few things I need to tidy/tackly, this PR shows the general approach and direction I am taking. Please feel free to take a look and review, much appreciated.

[2022-02-01 23:44] #18603 closed

[2022-02-01 23:49] aditighag commented on #17791
@vintikzzz

Can you post `cilium monitor` output without grep? `cilium monitor --related-to <endpoint-id-client-pod>`
Let's check if the service translation is happening. Also, is there any server listening on port 8080 inside the client pod? You can check this by running `netstat -nlp | grep 8080`.

[2022-02-02 03:45] vincentmli commented on #18680
sorry should have told you the link https://github.com/cilium/cilium-cli for cilium command

I have not tried to run cilium agent this way myself, I usually deploy cilium through kubectl with cilium manifest yaml  generated from helm template or use helm. not sure your way of running cilium agent is relevant here for the issue though.

`"invalid size of register spill" ` is not good, but I don't k

[2022-02-02 03:59] vincentmli commented on #18680
@Jagman13, I think this might be a bug, it appears you did not open this issue with bug label which might bring attention to cilium dev community, CC experts @pchaigno @brb @borkmann, sorry about that guys :-)

[2022-02-02 09:40] YutaroHayakawa commented on #14625
### Native Routing Mode (Endpoint Routes Disabled)

[code]

### Native Routing Mode (Endpoint Routes Enabled)

[code]

### Tunnel Mode (Endpoint Routes Disabled)

[code]

### Tunnel Mode (Endpoint Routes Enabled)

[code]

[2022-02-02 10:16] pchaigno commented on #18680
Could you detail the steps you followed to do this?

[2022-02-02 10:45] gandro commented on #18239
Not from my side. But I'm also not actively working on this at the moment.

Given that have merged the fix for #18328 on master, I think the next step here is to try to reproduce the issue on `master` to get a clear understanding what the outstanding issues are.

[2022-02-02 10:53] sayboras commented on #18239
:wave: let me give it a try and inform the result in this issue.

[2022-02-02 11:54] sayboras commented on #18692
:wave: thanks for your issue.

There are a bunch of metrics which are exposed always (i.e. disable is not allow), and cilium_agent_bootstrap_seconds is one of them.

Related code:

- https://github.com/cilium/cilium/blob/master/daemon/cmd/daemon_main.go#L159
- List of metrics can be disabled https://github.com/cilium/cilium/blob/master/pkg/metrics/metrics.go#L557

[2022-02-02 13:45] brb commented on #18641
@alegrey91 Thanks for the proposal. How would you specify which node should expose the NodePort service?

[2022-02-02 13:48] brb commented on #18199
Thanks!

[2022-02-02 15:38] pchaigno commented on #18673
This command failing is actually fine because it doesn't reproduce a supported setup. Our Makefile uses different eBPF instruction set extensions based on the underlying kernel. It however doesn't probe for that support and rely on the `KERNEL` env. variable instead. So in this case, we're compiling with `mcpu=v2` on a 5.16 kernel. That would never happen because we should be using `mcpu=v3` on al

[2022-02-02 15:48] pchaigno commented on #18673
The minimal set of options I had to enable to reproduce is:
[code]
Note that defining `ENABLE_HOST_SERVICES_FULL` (i.e., disabling `bpf-lb-sock-hostns-only`) reduces complexity enough to avoid this issue.

The complexity issue therefore appears when using KPR + bpf_lxc per-packet LB + DSR + session affinity (most notably, as other options above are enabled by default).

[2022-02-02 17:37] Jagman13 commented on #18680
@vincentmli Is there any file location where I can find the logs for sysdump. These must be getting stored somewhere. I cannot run the cilium-cli.

@pchaigno
1. I cloned the cilium official repo & build it using an in-house build tool. I didn't make any changes to the code here.
2.  I created a container with OL8 based image.
3.  The host on which I am running this container has the following Linu

[2022-02-02 17:44] vincentmli commented on #18680
if you installed the cilium-cli, then run cilium sysdump, the command will show you where the sysdump zip, for example:
[code]
since you have some kind of special setup, not sure if you can run cilium sysdump, but worth giving it  a try

[2022-02-02 17:45] pchaigno commented on #18680
Cilium relies on several specific dependencies (iproute2, libbpf, etc.), so I'm wondering which versions of those dependencies you used and how you built them.

[2022-02-02 17:59] Jagman13 commented on #18680
I have installed every dependency inside the image & then run make commands to build it.

Snippet from my Dockerfile

`COPY . /cilium

RUN dnf -y update && \
    dnf -y install make gcc gcc-c++ rpm-build git llvm-toolset bpftool iptables iproute-tc ipset

RUN yum -y install elfutils-libelf-devel

RUN cd /cilium &&  \
    make all && \
    make install`

iproute info
`Name         : iproute
Version

[2022-02-02 20:10] sepich commented on #18692
Thank you for the info. Is there a reason to have some metrics which could not be disabled?
Then maybe docs should be improved.

[2022-02-02 22:13] vintikzzz commented on #17791
@aditighag I had to switch to another CNI, I can't provide some logs or command outputs, but I can share some observations. Here are some steps that I did:

1. I decided to redeploy all the things, so I started with 3 control plane nodes (all are in the same DC, maybe even on the host) and checked RLP according to the [docs](https://docs.cilium.io/en/v1.11/gettingstarted/local-redirect-policy/#ser

[2022-02-03 00:57] vincentmli commented on #18680
@Jagman13 since you did not mention how you run cilium operator that cilium agent relies on for CRD resources, I assume you didn't run cilium operator. let me suggest alternative that I usually run my custom build cilium image based on https://docs.cilium.io/en/v1.11/contributing/development/images/

run `make dev-docker-image` to generate the cilium-agent image, run `make docker-operator-generic-

[2022-02-03 01:35] Jagman13 commented on #18680
@vincentmli - Its able to get the CRD information.

Cilium operator is running on master node. I am running it using the cilium-operator cli.

I could see the logger saying "`level=info msg=" All Cilium CRDs have been found and are available" subsys=k8s"`

Daemon gets initialized as well.

[code]

[2022-02-03 01:52] aanm commented on #18692
Not particularly, that might actually be the only metric that can't be disabled. If you are willing to submit a PR feel free to do it so as this is a bug, all metrics should be allowed to be disabled.

[2022-02-03 02:39] aanm commented on #18678
@jasonaliyetti would you like to submit a PR with the proposed changes? Thank you!

[2022-02-03 03:23] vincentmli commented on #18680
@Jagman13   I suggest the alternative way is that you can `make dev-docker-image` on your local build host environment and publish the image somewhere like docker hub, so I could deploy your image in my local lab to see if I can use the same image to reproduce your issue, I do not have oracle linux server host, but I can deploy your image on centos host, if I can't reproduce the issue on centos ho

[2022-02-03 07:01] Disgruntled commented on #18670
I think I am hitting the same problem, still working on it. My theory is that cilium is trying to assign the pod to the IP address that vagrant uses for it's vagrant management tasks - which is non-routable. Check out the ip in the address in the pods.

[2022-02-03 07:37] Disgruntled commented on #18670
Partial fix:  you need to modify /etc/systemd/system/kubelet.service.d/10-kubeadm.conf and add the line

Environment="KUBELET_EXTRA_ARGS=--node-ip=_YOUR_NODE_IP"

Kubeadm clusters want to grab the lowest IP possible to bind to by default, which is normally not the routeable node ip and is instead vagrant.

[2022-02-03 07:43] Disgruntled commented on #18670
After this is fixed on all k8s nodes, you'll need to delete all cilium node resources (kubectl delete cn --all) and then restart all cluster pods.

Then you should be golden.

cilium status may report that everything is good even if you don't do all that - don't believe it, in my experience today it still did route properly, but after killing all the pods it did no problemo.

[2022-02-03 09:39] GabMgt commented on #18256
The decoy cluster is still running without a network issue.

We switch the container engine from cri-o (1.21.X) to containerd (1.5.9) and no problem since 2-3 weeks.

[2022-02-03 11:28] mhulscher commented on #18646
That's too bad, it would make debugging issues like https://github.com/cilium/cilium/issues/18581 somewhat easier . It's kind of scary to me that cilium could stop working because of a resource limit being hit, and me not being able to monitor this.

[2022-02-03 13:43] brb commented on #16971
The test case was removed. Closing the issue.

[2022-02-03 13:43] #16971 closed

[2022-02-03 16:26] brb commented on #18641
The approach sounds reasonable for me. Just one question - how would you prevent one tenant from provisioning services (and opening NodePort) on other tenant nodes with the label-based approach?

[2022-02-03 17:25] nbusseneau opened #18699 "CI: Multicluster conformance tests intermittently failing with WireGuard enabled"
- The [clustermesh / multicluster conformance tests workflow](https://github.com/cilium/cilium/actions/workflows/conformance-multicluster.yaml) is intermittently failing.
- Looking at [scheduled runs](https://github.com/cilium/cilium/actions/workflows/conformance-multicluster.yaml?query=event%3Aschedule), we see it fails almost exclusively during the WireGuard reconfiguration and test steps.
- As

[2022-02-03 17:25] nbusseneau commented on #18699
cc @gandro

[2022-02-03 17:34] nbusseneau commented on #18586
I think this is a duplicated of #16938, and thus possibly related to #17459.

[2022-02-03 17:56] joestringer commented on #18586
@nbusseneau I have been treating #16938 as specifically a problem in EKS with encryption that presents a similar symptom (cannot connect to 1.1.1.1), but is somehow platform-specific.

[2022-02-03 18:29] aditighag commented on #18675
Thanks for suggesting the installation step. Would you be interested in contributing a documentation PR so that it helps other users? We can document the additional step as a note in these guides - https://github.com/cilium/cilium/blob/master/Documentation/gettingstarted/k8s-install-rancher-existing-nodes.rst or https://github.com/cilium/cilium/blob/master/Documentation/gettingstarted/k3s.rst

[2022-02-03 20:02] gpl commented on #16966
just noting here, likely to be fixed by #18336

[2022-02-04 09:39] brb commented on #16399
The test has been renamed to "K8sBGPTests Tests LoadBalancer Connectivity to endpoint via LB".

[2022-02-04 10:16] alegrey91 commented on #18641
We would prevent this using a policy engine such as **Kiverno**, **OPA** or in our case [Capsule](https://capsule.clastix.io/docs/general/tutorial/#assign-nodes-pool).

[2022-02-04 10:25] joamaki commented on #18670
Given the workaround, does this seem like something that Cilium can or should try to work around or is it just specific to vagrant+kubeadm?

[2022-02-04 12:02] mhulscher commented on #16400
Wanted to give a +1 to this issue. This particular error frequently triggers my prometheus alert, effectively rendering it useless :(

[code]

log:
[code]

[2022-02-04 12:10] MaxFedotov commented on #18641
That's would be a great feature for all multi-tenant clusters, because right now you had to disable nodePort services at all. One more thing that I could think about would be supporting not only nodePort services, but also clusterIP, because it will help to add more isolation

[2022-02-04 13:38] #18639 closed

[2022-02-04 13:41] thirdeyenick opened #18705 "support BGP configuration reloading"
## Proposal / RFE

We are already using metalLB in our clusters to announce IPs for services of type loadbalancer via BGP. As we are also using cilium for networking in our Kubernetes clusters, we evaluated if we can move the BGP part to cilium, too. As metalLB does [not yet support IPAMs](https://github.com/metallb/metallb/issues/157), we wrote a reconciler which dynamically manages the content o

[2022-02-04 15:38] pothos opened #18706 "Host network broken after one of the underlying interfaces of a bond goes down"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

On Equinix Metal the network setup is a bond of two NICs using LACP.
When Cilium is used as CNI for Kubernetes on Flatcar Container Linux, and one of the two NIC interfaces goes down, the host network is broken and remains broken even if the underlying interface goes up again.

The network look

[2022-02-04 22:08] asloan7 opened #18709 "cilium on k3s, multi-server nodes can't communicate with master - TLS handshake error"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

Installing k3s with multiple server nodes (3), the master will come up but the others can't reach it, with an error like:
"k3s[455828]: time="2022-02-01T22:58:40.763705554Z" level=info msg="Cluster-Http-Server 2022/02/01 22:58:40 http: TLS handshake error from 172.31.87.192:54470"

Single node

[2022-02-05 00:16] mauilion opened #18710 "topology hints do not work as expected."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

I have brought up a kind cluster with the following configuration and starting command:

kind-config.yaml:
[code]
kind start command:
[code]

This creates a kind cluster with 6 worker nodes 2 in each of zone-a zone-b and zone-c.

I then deploy cilium with this command:
[code]

This brings up a

[2022-02-05 00:16] mauilion commented on #18710
@joestringer @christarazi @brb

[2022-02-05 00:18] mauilion commented on #18710
[sysdump](k8s.work/cilium-sysdump-20220204-161058.zip)

[2022-02-05 03:15] noolius commented on #18670
In the Vagrant+kubeadm case, it seems like considerable additional logic for Cilium to work around the IP associated with the default route. One might argue the argument parsed in `KUBELET_EXTRA_ARGS=--node-ip=` [implies](https://github.com/kubernetes/kubeadm/issues/203) [as much](https://kubernetes.io/docs/reference/command-line-tools-reference/kubelet/). Other CNI plugins nod to this, e.g., Cali

[2022-02-05 05:46] dbrowne commented on #18670
@Disgruntled Thank you very much!  The solution worked.

[2022-02-05 06:36] dbrowne opened #18711 "no route to cilium-health-ep controller in Vagrant hosted, bare metal K8s environment"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

Cilium installs without error after performing kubectl configuration change described in Issue #18670.
cilium status is initially fine
`vagrant@mstr:~$ cilium status --wait
    /¯¯\
 /¯¯\__/¯¯\    Cilium:         OK
 \__/¯¯\__/    Operator:       OK
 /¯¯\__/¯¯\    Hubble:         disabled
 \__/

[2022-02-05 16:49] travisghansen opened #18712 "packet response mac address incorrect"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

This is a regression experienced after upgrading from 1.10 to 1.11.

This is specially in relation to proxy replacement for services of type `LoadBalancer` (it could be more pervasive but we haven't noticed anything to this point).

We run (non-bundled) metallb and peer against an FRR router in

[2022-02-05 18:49] noolius commented on #18711
I'm not sure there's fault per se in Cilium's handling of the referenced Vagrant+kubeadm configuration from the other bug. This bug's cilium-agent logs show, e.g., `Initializing cluster-pool IPAM" subsys=ipam v4Prefix=10.0.6.0/24`, overlapping the default Vagrant interface (your `ip r`). To resolve this specific symptom (which, as a side effect also resolves the other bug by providing detail to bo

[2022-02-05 19:29] agilgur5 commented on #14989
Thanks for the detailed response @joestringer . My apologies for not getting back to you in a more timely fashion; we ended up working around it by just completely porting over to CNP usage and then I got pulled into lots of things and left this at the wayside.

Yea, KNP still [doesn't seem to support](https://kubernetes.io/docs/concepts/services-networking/network-policies/#what-you-can-t-do-with

[2022-02-06 15:46] #17463 closed

[2022-02-06 15:51] pchaigno commented on #17193
@intel-dlanders Do you want to send a pull request for this new agent flag?

[2022-02-06 15:55] pchaigno commented on #15229
The new version of iproute2 we use, with libbpf support, does set the program names when loading.

[2022-02-06 15:55] #15229 closed

[2022-02-06 16:40] #17007 closed

[2022-02-06 16:55] pchaigno commented on #16284
This is an issue in JeOS. The kernel requirement was documented for Cilium at https://docs.cilium.io/en/latest/operations/system_requirements/#requirements-for-the-bandwidth-manager.

[2022-02-06 16:55] #16284 closed

[2022-02-06 17:20] pchaigno commented on #12955
It seems I missed before that the issue happens in chaining mode. This is expected as IPsec is not supported in that setup, as documented at https://docs.cilium.io/en/latest/gettingstarted/encryption-ipsec/#limitations.

[2022-02-06 17:20] #12955 closed

[2022-02-07 07:35] borkmann commented on #18706
Thanks for the report! How does `ip r` and `ip n` look like before the iface goes down and after it's back up again (maybe sysdump before / after would be best if it's just a test env)?

[2022-02-07 08:50] borkmann commented on #18712
In short, the diff between the two versions is:

1.11:

1.10:

In 1.11, it's pushing the packet to the switch as next hop vs in 1.10 pushing to the frr instance as next hop.

Is the `00:22:bd:f8:19:ff` the default gateway from the pov of the `172.28.42.32` node?

Who is installing `00:22:bd:f8:19:ff` onto the node? When you do `ip r` and `ip n`, would regular traffic originating from node 172.28.4

[2022-02-07 09:04] borkmann commented on #18622
(Closing for now. Looks like it's a talos issue and seems to be resolved in the discussion over here: https://github.com/talos-systems/talos/issues/4863)

[2022-02-07 09:04] #18622 closed

[2022-02-07 09:40] gandro commented on #18177
I don't believe this is fixed yet.

[2022-02-07 09:56] pothos commented on #18706
Before:
[code]

[cilium-sysdump-20220207-094529.zip](https://github.com/cilium/cilium/files/8014141/cilium-sysdump-20220207-094529.zip)
[bpftool-output-before.txt](https://github.com/cilium/cilium/files/8014142/bpftool-output-before.txt)

After:
[code]

[bpftool-output-after.txt](https://github.com/cilium/cilium/files/8014145/bpftool-output-after.txt)

Since `cilium sysdump`doesn't work afterwards

[2022-02-07 10:18] borkmann commented on #18706
Are these two addresses you're reaching out to?

From the agent log, I see that the Cilium version is 1.9.4. Could you try with latest 1.11.1, and dump the same outputs before/after if it reproduces there as well? (The bpftool one is not needed.)

[2022-02-07 10:29] pchaigno commented on #16790
I've been able to reproduce and debug this issue. It's specific to EKS as far as I can see.

As shown by the `tc filter show` commands, the issue here is that the BPF program is not attached to the egress of the native devices. There are two reasons for that.

### Device Changes at Runtime
By default, in v1.10 and v1.11, device autodetection fails and finds a single interface, `eth0`.
[code]
Unfor

[2022-02-07 12:04] pothos commented on #18706
Replaced it with `(sudo) /opt/bin/cilium install` → logs `using Cilium version "v1.11.1"`

Before:
[code]

After:
[code]

[2022-02-07 13:28] ysksuzuki commented on #18706
You can use `ManageForeignRoutingPolicyRules=no` to protect policies.
https://github.com/systemd/systemd/commit/d94dfe7053d49fa62c4bfc07b7f3fc2227c10aff

However, things are a little bit complicated because of [this bug](https://github.com/systemd/systemd/commit/771a36439e955906290afc16a6fb3b10401892cf). This big is backported to systems v249.5. With systemd v249.4,  you need to set both IgnoreCar

[2022-02-07 13:36] borkmann commented on #18706
Thanks a lot for this information, much appreciated!

@pothos are you able to confirm that your issue is not seen anymore with the workaround suggested by @ysksuzuki?

[2022-02-07 14:30] pothos commented on #18706
Thanks, good to test this with Flatcar Alpha then which has a newer systemd. I'll try to get it working with one of the settings (Flatcar Stable doesn't have the bug fix yet).

So is this a variation of the topic where Flatcar has to ship networkd units that set Cilium interfaces to `Unmanaged=yes` instead of Cilium creating them at runtime under `/run/systemd/networkd/`?
I'm not sure the workarou

[2022-02-07 14:41] pothos commented on #18706
Can confirm that `ManageForeignRoutingPolicyRules=no` under `[Network]` in `/etc/systemd/networkd.conf` prevents the problem on Flatcar Alpha 3127.0.0

[2022-02-07 14:43] borkmann commented on #16790
Yeah, we need to resume work on it as this is definitely needed with dynamic device additions. Agent needs to be aware when new devices come and go during runtime as well as when they down / up cycle.

Thanks a ton!

[2022-02-07 14:55] pothos commented on #18706
On the topic of the disappearing `lo` entry without `ManageForeignRoutingPolicyRules=no` (on Flatcar Alpha), without Cilium running the down/up action of the underlying device has no impact and `0:	from all lookup local` stays in the list. With Cilium the rule is gone…

[2022-02-07 15:19] borkmann commented on #18706
@pothos Thanks a ton for testing! I presume in this case we cannot just exclude the affected devices as with ...

https://github.com/flatcar-linux/init/pull/43/commits/0eb4436c6b9f5cbfca9c5e64fa371e8967a776fc

... but rather need the `ManageForeignRoutes`/`ManageForeignRoutingPolicyRules` generally from networkd. It's a bit cumbersome that networkd is interfering such much. Presumably every user t

[2022-02-07 15:20] monwolf commented on #18334
Hi @codesiddhant, I'm interested in know if you have started with this setup.

[2022-02-07 15:33] pothos commented on #18706
Right, with `Unmanaged=yes` the rules are ignored and the only way for Cilium to tell networkd to preserve them is by putting them into an active `.network` unit (e.g., for a dummy interface)…

For reference, this is the translation into the networkd syntax:
[code]

I think the networkd people had their reasons already from a "server" profile perspective. The way forward is that Flatcar, as a dist

[2022-02-07 15:37] pothos commented on #18706
Thanks @ysksuzuki for the findings

[2022-02-07 15:59] pchaigno commented on #18513
@ludurr Could you check if the fix at https://github.com/cilium/cilium/pull/18716 works for you? You can test it with agent image `quay.io/cilium/cilium-ci:047ce210698d4d349ba92628f3ae24cd5fcbe2f5@sha256:67defa04e2c56f08c9a7d0f8a787bee8c3537abdbee744149d03fa6f496ae7b8`.

[2022-02-07 16:07] pothos commented on #18706
For Flatcar Stable this works in `/etc/systemd/networkd.conf`:
[code]
Then the additional `IgnoreCarrierLoss=yes` and `KeepConfiguration=yes ` workarounds mentioned in https://github.com/cilium/cilium/issues/18706#issuecomment-1031470456 are not needed.

[2022-02-07 17:40] nbusseneau opened #18727 "race: between `daemon/cmd.NewDaemon()` and `pkg/option.(*DaemonConfig).IptablesMasqueradingIPv4Enabled()`"
Observed in https://jenkins.cilium.io/view/Race%20Detection/job/cilium-master-k8s-1.22-kernel-4.19-race-detection/260/

Artifacts:
[2640e72e_K8sDatapathConfig_Transparent_encryption_DirectRouting_Check_connectivity_with_transparent_encryption_and_direct_routing.zip](https://github.com/cilium/cilium/files/8017453/2640e72e_K8sDatapathConfig_Transparent_encryption_DirectRouting_Check_connectivity_wit

[2022-02-07 17:41] nbusseneau opened #18728 "race: between `pkg/endpoint.(*Endpoint).UpdateLogger()` and `pkg/metrics.(*APIEventTSHelper).ServeHTTP()`"
Observed in https://jenkins.cilium.io/view/Race%20Detection/job/cilium-master-k8s-1.16-kernel-4.9-race-detection/276/

Artifacts:
[d45b94db_K8sDatapathConfig_IPv4Only_Check_connectivity_with_IPv6_disabled.zip](https://github.com/cilium/cilium/files/8017461/d45b94db_K8sDatapathConfig_IPv4Only_Check_connectivity_with_IPv6_disabled.zip)

Trace:
[code]

[2022-02-07 17:53] joestringer commented on #17694
Skimming through the above writeups, I would like to make sure we understand that skipping policy enforcement due to another non-policy feature is not a viable solution to solve this.

What I think we need is a way to better manage multiple sources of information - VTEP, policy, apiserver policy feature, etc. and combine it so that we can generate VTEP IPcache entries with the tunnel EP of the VTE

[2022-02-07 18:23] andy-v-h commented on #18706
@borkmann would it make sense to have a preflight check for `cilium` around these settings, given that they can vary OS to OS by default and the combination of `systemd` and `cilium` configuration seem to be in conflict with eachother?

[2022-02-07 18:44] intel-dlanders commented on #17193
ok, yeah, that's what I was using. just wanted to make sure there wasn't something more specific I should call it.

[2022-02-08 00:41] vincentmli opened #18730 "VTEP integration: implement BPF hash map for VTEP lookup"
copy and paste note from https://github.com/cilium/cilium/pull/17370 to track follow-up VTEP BPF hash map implementation for VTEP lookup

"
Joe: originally we were concerned about putting all of this information into the ipcache value, as you could have thousands of ipcache map entries and we would be increasing the total memory usage based on needing just a small N (<10) number of entries about t

[2022-02-08 02:52] RandyLambert commented on #18366
For the retry problem, the current implementation is to directly retry twice ([here](https://github.com/cilium/cilium/blob/bcb86c86d76d62165e8f01409378905e50e42d18/pkg/ipam/node.go#L856) and [here]( https://github.com/cilium/cilium/blob/bcb86c86d76d62165e8f01409378905e50e42d18/pkg/ipam/node.go#L875)), I think it would be better to use https://github.com/avast/retry-go library to retry Well, it can

[2022-02-08 03:01] cyclinder commented on #18705
hi, I want to working on this, Can someone give me some code pointers on where to start?

[2022-02-08 06:45] YutaroHayakawa commented on #14625
@pchaigno I think now we fixed the trivial issues in here and we can remove the `good-first-issue` tag as we discussed.

[2022-02-08 06:54] brb commented on #18710
Thanks for the detailed issue.

That should be the case.

Did you run this from an echo pod?

The `kubeProxyReplacement=strict` takes the precedence over `hostServices.enabled=false`, so the host services feature should be enabled.

Could you get the sysdump after you have annotated the service? To me it smells a bit like cgroup mount issue, but I need more evidence.

[2022-02-08 07:09] thejosephstevens opened #18732 "Hubble UI fails to render service map after helm deploy"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

I deployed Cilium in AWS (EKS) with helm (using the template from the below command).
[code]

The entire cluster is healthy (we're using a private registry, but these are just copies of the images referenced by helm 1.11.0)
[code]

I run `kubectl port-forward -n kube-system hubble-ui-5b7f99fcb6

[2022-02-08 07:46] mKeRix commented on #17949
We are still seeing this issue as well, although I have not had time to debug it yet. (commenting to un-stale)

[2022-02-08 08:21] thehunt33r opened #18733 "Request response for call from NLB doesn't get allowed"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

Hello,

I’m running into trouble when trying to enforce the network policies on a service. This service accesses a service running in the same cluster via an AWS NLB.

[code]

When I run  hubble observe I notice the requests are matched for outgoing traffic, but replies are identified as coming

[2022-02-08 08:35] lework opened #18734 "【1.19.12-hubble-ui】The v2 xDS major version is deprecated and disabled by default."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

kubectl apply -f https://github.com/cilium/cilium/blob/v1.9.12/install/kubernetes/quick-hubble-install.yaml

kubectl -n kube-system logs  hubble-ui-5f7cdc86c7-5t5mx proxy
[code]

https://github.com/cilium/cilium/blob/v1.9.12/install/kubernetes/cilium/files/envoy/envoy.yaml
not sync
https://gith

[2022-02-08 08:39] joamaki commented on #12756
Here again: https://app.travis-ci.com/github/cilium/cilium/jobs/558657812 (https://github.com/cilium/cilium/pull/18726).

[2022-02-08 10:41] brb commented on #12624
@pchaigno Good catch.

I am wondering why a host netns application would want to access a service with the local policy over the node port of the remote node inside the cluster. It means that the client host must have had some knowledge that the node2 was running the backend pod. To me it seems a very unlikely access pattern.

Also, doesn't IPsec + vxlan suffer from the same?

[2022-02-08 11:03] brb commented on #18632
If we modify this, then we need to make sure that we don't change a behavior of other code which relies on CT_REOPENED / CT_ESTABLISHED. Are you planning to work on it?

[2022-02-08 12:19] borkmann commented on #18706
Good question, yes, I think it would make sense to have some automation on this regard to avoid users running into it. I haven't checked yet how reliably one could detect systemd versions and/or whether older versions of systemd would just ignore some of the not-yet-supported networkd.conf settings. A preflight check seems sensible. cc @aanm

[2022-02-08 13:18] gandro commented on #14532
Identity GC metrics in CRD-mode were added in https://github.com/cilium/cilium/pull/15905

[2022-02-08 13:19] joamaki commented on #18709
The errors are not from Cilium, so this might be specific to k3s. Perhaps related issue: https://github.com/k3s-io/k3s/issues/1442?

[2022-02-08 13:33] geakstr commented on #18732
Hi @thejosephstevens! Could you try to port-forward to :80 port? `kubectl port-forward -n kube-system hubble-ui-5b7f99fcb6-5qqf2 :80`

[2022-02-08 13:41] pi1814 commented on #18393
Hello, Can I work on this?

[2022-02-08 13:44] pi1814 commented on #18393
Hello, Can I work on this?

[2022-02-08 19:10] thejosephstevens commented on #18732
So that doesn't work
[code]

but I got a response in slack and it turns out that using these commands works
[code]

So this will work fine for us and I'm happy to close the issue, but I guess I should ask, is that expected? Since I have this set up I'm happy to run tests if the original method I was using to port forward to the ui is supposed to work.

[2022-02-08 20:07] pchaigno commented on #16975
**TL;DR.** I've deployed a cluster with the same Cilium version, using the same commands, and I'm unable to reproduce. I can also successfully run the connectivity tests.

### Reproduction Steps

[code]

### Investigation
I also traced the packets while sending the request and all seems to work fine:
[code]
I also tried the same using the CoreDNS VIP instead of the backend pod IP address.

The pac

[2022-02-08 21:07] thejosephstevens commented on #18732
So I just took a look at the docs [here](https://docs.cilium.io/en/v1.11/gettingstarted/hubble/#open-the-hubble-ui) and it gives the right instructions to use the cilium cli to get to the hubble ui. I also got another note in Slack to use `kubectl -n kube-system port-forward svc/hubble-ui 12000:80`, which also works. I'll go ahead and close this since this appears to be a clear case of me failing

[2022-02-08 21:07] #18732 closed

[2022-02-08 23:30] Jagman13 commented on #18680
@vincentmli I don't think i will be able to share the image due to security concerns. Is there any other alternative option for us

[2022-02-08 23:44] vincentmli commented on #18680
you could remove any potential security info that could be contained in the image before you build the image, I am wondering though how `make dev-docker-image` with nothing changed in cilium from upstream would contain security info, I guess you know better than me :)

[2022-02-09 00:05] aanm commented on #18706
The preflight check is only intended for Cilium upgrades. I assume the issue can happen when the kernel upgrades but Cilium is not. Unless you were referring to a preflight inside the cilium-agent pod?

[2022-02-09 01:10] joestringer commented on #18581
I believe that I've found a minimal reproduction of the issue, and in my testing it only affects v1.11.x releases. I cannot reproduce this with v1.10.7. Based on my testing, answering my own questions from above:

* Do you only need the cluster entity policy to trigger the bug?
  * Yes