[2022-09-29 17:04] joestringer commented on #15212
I wonder if we could use something like mermaid to generate the diagram. If so, it may even be possible to generate the diagram directly from the rules that we install in the code so that it's always up to date. Might be an interesting project.

[2022-09-29 17:13] batistein commented on #18871
Since v0.0.30, and cilium 1.12 it works. Same settings, I gave it another try with the newer versions and it works.... so I do not know what exactly causes this problem, but I think we can close this issue.

[2022-09-29 17:27] dylandreimerink commented on #21482
This podcidr code is triggered when the `Update()` or `Create()` function on the Allocator is called. The allocator doesn't consume an informer directly, rather the [operator does](https://github.com/cilium/cilium/blob/3046c1fc93d9dcf599e48266306adad3d399c707/operator/cmd/cilium_node.go#L148) and then calls into the Allocator.

However the informer callbacks don't call directly into the Allocator,

[2022-09-29 17:55] #19623 closed

[2022-09-29 18:01] aditighag opened #21510 "Socket-lb tracing follow-ups"
This is a meta issue to track the follow-up items mentioned in - https://github.com/cilium/cilium/pull/20492.

Next RC target:
- [x]  Hubble parser to parse events (https://github.com/cilium/cilium/pull/21685)
- [x] Cilium monitor parser to parser events
       - Basic parser - https://github.com/cilium/cilium/pull/21516
- [x]  Documentation with overview and requirements (https://github.com/ciliu

[2022-09-30 01:38] joestringer commented on #19698
#21270 made it in time for v1.13.0-rc1, but there's a bunch of unchecked boxes in the description so I'm just going to clear the milestone.

[2022-09-30 02:16] #19849 closed

[2022-09-30 02:16] #19848 closed

[2022-09-30 02:16] #17458 closed

[2022-09-30 02:16] #17454 closed

[2022-09-30 02:16] #17426 closed

[2022-09-30 02:16] #17416 closed

[2022-09-30 02:17] #17414 closed

[2022-09-30 02:17] #17404 closed

[2022-09-30 02:17] #17355 closed

[2022-09-30 02:17] #17342 closed

[2022-09-30 02:17] #17333 closed

[2022-09-30 02:17] #15823 closed

[2022-09-30 02:18] maintainer-s-little-helper[bot] opened #21519 "CI: K8sDatapathConfig Host firewall With VXLAN"
### Test Name
[code]

### Failure Output
[code]

### Stacktrace
<details><summary>Click to show.</summary>

[code]
</details>

### Standard Output
<details><summary>Click to show.</summary>

[code]
</details>

### Standard Error
<details><summary>Click to show.</summary>

[code]
</details>

ZIP Links:
<details><summary>Click to show.</summary>

 https://jenkins.cilium.io/job/Cilium-PR-K8s-1.23-ker

[2022-09-30 03:04] jasonaliyetti commented on #21218
I was able to get a stack dump when the issue recurred by running cilium-bugtool on the pod.
[gops.zip](https://github.com/cilium/cilium/files/9680331/gops.zip)

If I grep the stack for "lockAlive" and sort them it appears to me that there are apparent deadlock in the system, but I'll freely admit to being a neophyte when it comes to comprehending gops output.

[2022-09-30 03:27] dispensable commented on #20390
@intel-wenbin Thank you for your update. We solved our problem by change to runtime to crun. see: https://github.com/cilium/cilium/issues/21470

[2022-09-30 08:25] wenqiang0527 commented on #20959
here is sysdump

agent some logs:
level=info msg="  --local-router-ipv4=''" subsys=daemon
level=info msg="  --local-router-ipv6=''" subsys=daemon
level=info msg="Restored router address from node_config" file=/var/run/cilium/state/globals/node_config.h ipv4=10.142.48.39 ipv6="<nil>" subsys=node
level=debug msg="Allocated specific IP" ip=10.142.48.39 owner=router subsys=ipam
level=debug msg="Prefli

[2022-09-30 08:47] m00lecule commented on #20915
Hello @mhulscher!

I am probably facing the same issue - does revert to cilium 1.11 helped?

[2022-09-30 09:07] julianwiedmann commented on #21293
[code]

Let's see if https://github.com/cilium/cilium/commit/0c5647048a582467f920fc38911e57837bc6c197 makes a difference here...

[2022-09-30 09:25] mhulscher commented on #20915
@m00lecule It did. The problem is not present in 1.11.

[2022-09-30 09:36] bmcustodio opened #21523 "[EKS+Chaining] Node port traffic for 'externalTrafficPolicy: Cluster' service not forwarded to node within the same AZ"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

In an EKS cluster running in chaining mode (i.e. chaining with `aws-node`), and with the following distribution of nodes and pods

[code]

and given the following service

[code]

requests from an NLB or bastion host outside the cluster to `http://10.1.2.65:30080` will fail with whenever the de

[2022-09-30 09:41] m00lecule commented on #20915
@mhulscher  It's specific patch version or all minor versions (1.11.X)?

[2022-09-30 09:47] mhulscher commented on #20915
The issue is not present in at least 1.11.{7,8,9}

[2022-09-30 10:04] sayboras commented on #19698
Thanks, there are a bunch of items planned for v1.13.0-rc2, so I just tag this to v1.13.0-rc2, so that we don't forget.

[2022-09-30 11:34] vosdev commented on #19894
Issue still present

[2022-09-30 12:31] ti-mo commented on #21523
We've narrowed this down to the fact that service backends within the same AZ are situated within the same L2 domain as the forwarding node. The Cilium agent currently doesn't add routes or neighbor entries for all service backends within the same L2 domain, so forwarding from BPF currently results in a FIB lookup failure.

The solution would be to perform ARP pings for service backends in the sam

[2022-09-30 12:33] timoreimann commented on #21482
@dylandreimerink I saw you assigned yourself to the ticket. Is this bug something you plan to address?

Let us know if you need help, e.g., testing the fix or anything else.

[2022-09-30 14:28] Martin-Weiss commented on #18230
Seems I hit this problem, too - do we have any chance to speed up the failover?

[2022-09-30 14:42] dylandreimerink commented on #21482
@timoreimann I just submitted a PR with the fix. Would be great if you can verify that this fixes the bug, if you have an environment where you are encountering it. I welcome independent review.

I could reliably reproduce the bug by corrupting the ConfigMap and restarting the operators to cause a crash loop. Then adding additional nodes to the cluster and fixing the ConfigMap again.

[2022-09-30 15:13] aditighag commented on #21418
If the faulty node (or the cilium agent running on that node) isn't able to communicate to the kube-api server, then the agent won't receive terminating endpoint updates, and so the terminating endpoint IP will continue to be present in the service list.

After you forcefully reboot a node, you can monitor the `k8s_terminating_endpoints_events_total` metrics, and see when it gets updated.

In gene

[2022-09-30 15:53] joestringer commented on #21462
The in-pod `cilium config debug=true` CLI today only configures specifically the datapath debug flags so it's equivalent to `cilium-agent ... --debug-verbose=datapath`. Cilium's logger doesn't currently support dynamic enabling/disabling. I filed a CFP for making it dynamic and ideally making that configurable per-subsystem here: https://github.com/cilium/cilium/issues/21002

This bug has been pre

[2022-09-30 16:04] fangzhexu commented on #21418
Sorry, I didn't describe the problem clearly

1. The cause of the problem is that we want to simulate node failure to test the impact on business. The problems found during the test are roughly like this: At the very beginning, Kubernetes Node enters the state of Notready. There are only two IP addresses in the running state in the Cilium Service. But the terminating endpoints appear in the ``cili

[2022-09-30 16:38] milesarmstrong commented on #21472
In our particular case we seem to have narrowed it down to kubernetes/gke version.

We started with the cluster [created by the conformance tests](https://github.com/cilium/cilium/issues/21472) and incrementally added differences with our not working cluster.

1. conformance + private cluster :arrow_right: working :white_check_mark:
[code]
[cilium-sysdump-1-working.zip](https://github.com/cilium/c

[2022-09-30 16:42] farcaller commented on #21472
Is your "older" version 1.22?

[2022-09-30 16:52] waltfy commented on #21472
@farcaller yes `1.22.12-gke.300`! We're now trying to establish what is different between these K8S+GKE versions.

[2022-09-30 16:59] sgargan opened #21532 "Existing pods fail healthchecks after installation of v1.12.x in AWS EKS"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

We've been running tests installing Cilium to a vanilla AWS EKS cluster. The cluster has a number of standard pods installed (gatekeeper, dex, kube-oidc-proxy) etc and is running fine before the cilium installation. Once Cilium is installed, pods will randomly have issues failing their readines

[2022-09-30 17:02] timoreimann commented on #21482
@dylandreimerink thanks for the quick PR! We can certainly try it out in our infra next week and report back.

[2022-09-30 17:03] timoreimann commented on #21482
@dylandreimerink I see you removed the v1.10 flag. Is that because the issue only affects v1.11+, or rather that v1.10 is affected but won't be addressed?

[2022-09-30 17:15] maintainer-s-little-helper[bot] opened #21533 "CI: K8sKafkaPolicyTest Kafka Policy Tests KafkaPolicies"
### Test Name
[code]

### Failure Output
[code]

### Stacktrace
<details><summary>Click to show.</summary>

[code]
</details>

### Standard Output
<details><summary>Click to show.</summary>

[code]
</details>

### Standard Error
<details><summary>Click to show.</summary>

[code]
</details>

ZIP Links:
<details><summary>Click to show.</summary>

 https://jenkins.cilium.io/job/Cilium-PR-K8s-1.24-ker

[2022-09-30 20:56] telmich commented on #17878
Is there any update on this one? This would finally allow native IPv6 only clusters to communicate with the rest of the world

[2022-09-30 22:02] telmich opened #21538 "cilium agent crashes on IPv6 only hosts (nodes)"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

cilium agent crashes with the following error:

[code]

### Cilium Version

v1.12.2

### Kernel Version

5.15.71-0-lts

### Kubernetes Version

1.25.0

### Sysdump

Not related

### Relevant log output

[code]
[code]
version=1.12.2

helm upgrade --install cilium cilium/cilium --version $version

[2022-09-30 22:07] telmich commented on #21282
@samip5 I am currently using

[code]

Something that also hasn't been documented is the proper/maximum pool size, however a /64 is "too big".

My setup is currently blocked by #21538, as the hosts are IPv6 only.

[2022-09-30 22:56] samip5 commented on #21282
That cames from the Kubernetes itself, and it's documented in Kubernetes own site.

Unfortunately, one cannot have that and MetalLB in bgp mode.. :(

[2022-09-30 22:58] samip5 commented on #21538
You need to disable tunnel too as vxlan will not work without IPv4.

[2022-10-01 02:17] #19041 closed

[2022-10-01 02:17] #18792 closed

[2022-10-01 02:17] #18744 closed

[2022-10-01 02:17] #17617 closed

[2022-10-01 02:17] #17320 closed

[2022-10-01 02:37] skyblueted commented on #21346
That's awesome! Many thanks for the prompt reply.

[2022-10-01 04:52] christarazi opened #21540 "Calculate estimated "TTL" for connection entries (zombies) in the FQDN cache"
`connection` entries are zombie entries meaning their TTL have expired. These entries when shown with `cilium fqdn cache list` have a nil expiration time. Given that these entries are GC'd when the CT GC runs, unlike `lookup` entries, there isn't a straightforward expiry time because there's no concept of TTL for these entries. However, we can estimate when the next CT GC runs so theoretically we

[2022-10-01 08:12] ti-mo commented on #19041
Hi @recollir, do you have any more input to provide here?

[2022-10-01 11:41] Rid opened #21541 "kube-proxy-replacement breaks nfs reconnect"
### Is there an existing issue for this?

- [X] I have searched the existing issues

Update: This would apply to any in-kernel client, as when the connection is initiated from the kernel a different code-path is used when updating the service IP.

### What happened?

We setup cilium using:
`cilium install --kube-proxy-replacement probe --helm-set k8sServiceHost=1.2.3.4,k8sServicePort=6443,global.e

[2022-10-01 11:56] dylandreimerink commented on #21482
@timoreimann v1.10 isn't effected. It turns out that in v1.11 a queue was added which causes the bug.

[2022-10-01 12:11] Rid commented on #21541
Here's the relevant entry from the service list:

[code]

It has the correct entry for the rescheduled pod

[code]

`pwru --filter-dst-ip=10.76.145.123 --output-tuple` shows no traffic also `pwru --filter-dst-ip=10.0.3.167 --output-tuple` shows no traffic.

`conntrack -L | grep 10.76.145.123` shows no entries, `conntrack -E | grep 10.76.145.123` shows no events.

What other logs can I provide?

[2022-10-01 14:43] arukiidou commented on #21446
@jralmaraz
use a custom WSL2 kernel? non-custom WSL2 will not work.

see: https://github.com/cilium/cilium/issues/17745#issuecomment-1004299480

[2022-10-01 14:55] arukiidou opened #21542 "docs: Add instructions for windows(wsl2)-kind to the kind installation docs"
## Cilium Feature Proposal

Add instructions for windows(wsl2)-kind to the kind installation docs.
I would like to contribute to the cilium docs,but I do not have enough bandwidth now.

**Is your feature request related to a problem?**

- https://github.com/cilium/cilium/issues/21446
  - https://github.com/cilium/cilium/issues/17745#issuecomment-1004299480
  - https://github.com/cilium/cilium/issu

[2022-10-01 19:27] brotherdust commented on #18851
Thank you for reconsidering support for Consul. I'm in the process of building a Hashistack cluster and Cilium is a perfect fit (especially because of the new VXLAN support)!

[2022-10-01 23:44] m00lecule commented on #20915
FYI: In my case the outage was significant - took down production for few hours. The network connections were hanging until I have manually restarted Cilium pods.

[2022-10-02 08:00] sandipanpanda opened #21543 "CFP: Push Cilium images to GitHub container registry"
## Cilium Feature Proposal

**Is your feature request related to a problem?**
Yes

If so, please describe the problem

Work is being done to generate Software Bill of Materials (SBOM) from Cilium release images and attach the generated SBOM to the images in Quay in an effort to improve the security posture of the Cilium family’s open source projects . While testing SBOM generation in https://githu

[2022-10-02 13:18] Rid commented on #21541
If another mount is attempted from the same node to the service IP, it will try to use the old unavailable pod IP.

However if another mount is attempted from the same node to the server IP, but using a different version of NFS, it will use the new pod IP.

This makes me believe that there is something perhaps in the NFS kernel client which is using different connection routing than eBPF?

[2022-10-02 15:14] msarti opened #21545 "NATted traffic from the pods does not reach the services"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

I have deployed a VPN (tried both OpenVPN and Wireguard) as a pod, exposed as HostPort. Traffic from the VPN reaches both pod addresses and host addresses, but does not reach the service network. From inside the pod I don't see the problem, so I guess the natted traffic is somehow blocked.
Cili

[2022-10-02 15:23] msarti commented on #21545
I add that the issue is not limited to the DNS service but to all the services.
Let me know if you need more info.

[2022-10-03 07:04] guillomep commented on #19250
I also have the problem with my NLB in IP. Pods on the same node as the NLB target failed to communicate with it through the NLB.

My cilium configuration (1.12):
[code]

And my load balancer configuration

[code]

Seems that disabling masquerade is not sufficient, or am I missing something ?

[2022-10-03 07:14] pchaigno opened #21546 "Relicense or replace `ghash.h`"
File [`bpf/lib/ghash.h`](https://github.com/cilium/cilium/blob/61d7ff0083f40cc620990d96e1bf50c3e074d5c1/bpf/lib/ghash.h) is under a GPLv2 license but the CNCF "requires" us dual-license code under one of their approved licenses (cf. https://github.com/cilium/cilium/issues/18823). The rest of the BPF codebase is dual licensed under GPLv2 and 2-Clause BSD.

We should therefore either:
- Relicense if

[2022-10-03 11:11] julianwiedmann commented on #21453
As @michaelasp noticed in https://github.com/cilium/cilium/pull/21539, we don't even get to this point. `lb4_lookup_service()` returns NULL for a SVC with 0 backends, so we skip all subsequent service processing.

[2022-10-03 11:28] gandro opened #21548 "`submit-backport`"
The `submit-backport` script fails with the following error if one attempts to submit a backport PR with external contributors:

[code]

Ideally, the script should not fail and instead avoid adding external contributors as reviewers. This is currently unfortunately enforced by the GitHub API, maybe we can try to add reviewers one by one.

cc @bimmlerd

[2022-10-03 11:37] milesarmstrong commented on #21472
@farcaller the conformance tests don't specify a version with `--cluster version`, so they'll get the default, i.e.

[2022-10-03 12:31] odidev opened #21549 "Cilium timeout error for Arm64 on CircleCI"
**@André Martins**,

I tried running the smoketest.yaml with CircleCi, and I am getting the below time out error for deployment pods.

[code]

**Logs of Circleci for reference**: https://app.circleci.com/pipelines/github/odidev/cilium/1/workflows/64e57aaa-d0ae-4570-8477-6a23485378e3/jobs/1

**Config.yml file for reference**: https://github.com/odidev/cilium/blob/master/.circleci/config.yml

It wou

[2022-10-03 14:10] brb commented on #20129
@anupamdialpad Yes, the netpols are supported.

[2022-10-03 14:36] brb commented on #21471
Thanks for the issue. It is a known limitation - today we support only one IP address per netdev for NodePort services when accessed from outside a cluster.

[2022-10-03 14:49] guillomep commented on #19250
Yes, I saw that. But since each pod has the different IPs I thought the target was not same.
I was missing that bullet point:
`Ensure that containers that must communicate, are on different container instances.`, that means on different EC2 instances.

Thanks for clarification !

[2022-10-03 15:07] qmonnet commented on #21546
Not that I'm aware of. Looks like there was a discussion three years ago [clarifying its license as GPL-2.0](https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=919356).

[2022-10-03 15:22] chancez commented on #21111
I don't know enough about how packets traverse cilium to have any suggestions on solutions, I think that's something @jrajahalme might be able to answer better.

[2022-10-03 15:27] gandro commented on #21548
Good catch! Yeah, I agree that filtering the author list by collaborators is probably the way to go then

[2022-10-03 18:45] joestringer commented on #15936
We are looking to drop support for kernels with this issue in the upcoming v1.13.0 release, so I don't think we need to keep this issue around.

[2022-10-03 18:45] #15936 closed

[2022-10-03 20:07] djkormo commented on #20550
Still not corrected.

[2022-10-03 22:06] christarazi commented on #20550
@nebril Assigning to you for whenever you have free cycles.

[2022-10-03 22:52] ieth0 commented on #21334
As the fix in #21195  doesn't include any feature, is there any chance it could be backported to the next release of 1.12?

[2022-10-03 23:05] joestringer commented on #21540
:+1: Maybe even rather than "estimate", instead, when CT GC calculates its next run time and goes to sleep.. store that timestamp somewhere that can be easily read by the DNS cache. Then, DNS cache can just fetch & populate the field whenever it is expiring an entry.

Then if CT GC does *not* expire an entry, we would also need to refresh this timestamp for all connection/zombie entries.

[2022-10-03 23:42] cscetbon commented on #19569
@aditighag It seems didn't like my force push with a new commit having the required sign off. I made the PR a draft for now but it needs an approval to kick off the [build-commits](https://github.com/cilium/cilium/actions/runs/3178254090) workflow

[2022-10-04 00:13] ysksuzuki opened #21569 "CFP: Support bpf-ct-timeout-* options for cilium-agent on helm chart values"
## Cilium Feature Proposal

Support the following options on helm chart values.

- bpf-ct-timeout-regular-any
- bpf-ct-timeout-regular-tcp
- bpf-ct-timeout-regular-tcp-fin
- bpf-ct-timeout-regular-tcp-syn
- bpf-ct-timeout-service-any
- bpf-ct-timeout-service-tcp
- bpf-ct-timeout-service-tcp-grace

**Is your feature request related to a problem?**

Currently the helm chart doesn't support bpf-ct-ti

[2022-10-04 02:39] joestringer opened #21570 "Unit test failure in certloader: too many open files"
I observed this failure while running `go test ./...` on the master branch:

[code]

[2022-10-04 12:45] gottwald commented on #21482
I just ran a build of your PR in our test environment and I can no longer reproduce the issue. So from our side the fix looks good.

[2022-10-04 13:37] whites11 opened #21579 "Proper way to migrate to cilium"
Hello all.
This is a guidance/help request.

I'm trying to migrate a kubernetes cluster running on AWS from [AWS CNI](https://github.com/aws/amazon-vpc-cni-k8s)/calico/kube-proxy straight to cilium with strict kube-proxy replacement.

I want this migration to be as less impactful on running workloads as possible.

My strategy is the following:

0. All nodes are running the AWS-CNI, calico and kube

[2022-10-04 14:04] whites11 commented on #21579
Thinking about it, I think the problem is that cilium's kube-proxy implementation does not know about non-cilium pods, and thus treats their IPs as out-of-cluster, hence the SNAT kicking in.
Question is: is there a way to configure this behavior and avoid SNAT for certain CIDRs?

[2022-10-04 15:11] Rid commented on #18610
An example why we cannot run kube-proxy replacement https://github.com/cilium/cilium/issues/21541

[2022-10-04 17:13] pascal71 opened #21582 "Hubble UI displays Trying to reconnect streams and Datastream has failed on UI backend: EOF"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

1. Env: RPi4, 8GiB, K8S 1.25.2, Ciliium 1.12.2
2. Setup Cilium and hubble using helm
3. When accessing HUBBLE UI and selecting any NS it displays

Trying to reconnect streams
and
 Datastream has failed on UI backend: EOF

screen keeps hanging

### Cilium Version

1.12.2

### Kernel Version

Lin

[2022-10-04 17:49] joestringer commented on #21538
This test is run regularly against the Cilium codebase to implement IPv6-only mode:

https://github.com/cilium/cilium/blob/master/.github/workflows/tests-smoke-ipv6.yaml#L108

Maybe there are some additional options that are required like disabling tunneling mode as Skyler mentioned above.

[2022-10-04 21:33] pchaigno opened #21585 "Panic when agent receives shutdown signal during startup"
When the agent receives a shutdown signal shortly after starting, it sometimes panic:
[code]
We can see that it wasn't started long ago from the `Finished regenerating restored endpoints` log.

This is happening on v1.11.9.

[2022-10-04 21:37] msarti commented on #20130
I faced the same problem.

In my case the problem was the cluster domain was not the default "cluster.local". Solved setting the helm value:

[code]

[2022-10-04 22:37] joestringer commented on #21543
Makes sense, I think we can just look for places where we push tags to DockerHub today and also push to ghcr. From a quick glance, I don't think that any specific features need to be enabled on the repository.

[2022-10-05 05:08] ysksuzuki commented on #21569
I think I can configure bpf-ct-timeout-* using extraConfig. I didn't know that.
https://github.com/cilium/cilium/blob/61d7ff0083f40cc620990d96e1bf50c3e074d5c1/install/kubernetes/cilium/README.md

[2022-10-05 09:13] rolinh commented on #21582
Given the Hubble Relay logs, I would say this is a duplicate of #20130. Have you [checked](https://github.com/cilium/cilium/issues/20130#issuecomment-1267605959) the cluster name/domain is correct?

[2022-10-05 09:13] #21582 closed

[2022-10-05 09:58] whites11 commented on #21579
I think I tracked down the issue to be some kind of SNAT/Masquerading issue on ingress traffic on hostPort.
traffic from outside the cluster (for example from an ELB LAN IP) gets forwarded to one node on the nodePort.
Traffic gets correctly sent to the service's backend pod, but SNATted with the node's IP.
TCP handshake fails.

when doing the same with kube-proxy, the ELB Lan IPs is maintained in

[2022-10-05 10:04] pascal71 commented on #21582
Confirmed; issue with clustername/domain; please note that I did need to tear the whole cilium stack down and bring it up again to fix the issue. Just adding the options to helm update didn't work.

Thanks for your assistance.

[2022-10-05 15:00] jralmaraz commented on #21446
Awesome, thanks for the comment @arukiidou , let me give it a try and will update. Cheers!

[2022-10-05 17:04] williamclot opened #21594 "Unmanaged pods when running on GKE with preemptible nodes"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

Our organisation is using GKE with [preemptible](https://cloud.google.com/compute/docs/instances/preemptible) node pools. The preemptible VMs used in those node pools aren't _always available_ so we see some VMs being stopped and recreated from time to time. We use these VMs to reduce cost and

[2022-10-05 17:19] #21120 closed

[2022-10-05 17:55] dctrwatson opened #21596 "Agent stops responding"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

Periodically agents stop responding until restarted. Pod sandboxes cannot be created, endpoint regeneration stops, etc.

Sometimes after being restarted, it gets restarted _again_ by the liveness probe. The last lines in the log before liveness restart:
[code]

`cilium status` works, but comman

[2022-10-05 18:48] dctrwatson opened #21597 "Agent metrics reporting failing controllers"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

`cilium_controllers_failing` is >0 but there are no errors in the log and `cilium status` reports 100% healthy controllers

### Cilium Version

`1.12.2 c7516b9 2022-09-14T15:25:06+02:00 go version go1.18.6 linux/amd64`

### Kernel Version

`Linux ip-10-199-29-110 5.15.0-1017-aws #21~20.04.1-Ubu

[2022-10-05 19:30] dctrwatson commented on #21596
I ran the stack through `consolidate_go_stack trace.py tool` per @joestringer 's suggestion. Highlights are:

Most occurrences:
[code]

Bunch of endpoint goroutines:
[code]

[2022-10-05 19:46] LarsBingBong commented on #21405
Just for info. I've found that on v1.24.4+k3s1 the Cilium connectivity test do not work because of a runc issue > https://github.com/opencontainers/runc/pull/3554 ... this can be fixed with the combo of being on at least v1.24.6+k3s1 and using the `--egress-selector-mode=disabled` parameter.

[2022-10-06 00:16] #21243 closed

[2022-10-06 02:15] #20641 closed

[2022-10-06 02:15] #20085 closed

[2022-10-06 02:16] #19468 closed

[2022-10-06 02:16] #19433 closed

[2022-10-06 02:16] #18906 closed

[2022-10-06 06:38] julianwiedmann commented on #21293
With that and https://github.com/cilium/cilium/pull/21588, I hope we got things sorted.

[2022-10-06 06:38] #21293 closed

[2022-10-06 10:37] carnerito commented on #15462
Is it planned for v1.13 to have L7 observability with Wireguard encryption enabled? I couldn't find a GH issue for this.

[2022-10-06 12:10] jonkerj opened #21603 "Kube-proxy replacement not working when running without privileges"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

I'm running this setup:
- Single node Kubernetes cluster based on Talos Linux (Talos Linux 1.2.3 with Kubernetes 1.25.0, installed without kube-proxy and without CNI)

Install Cilium using helm (this needs to be this complex as `SYS_MODULE` is not available on Talos Linux):

[code]

In my case,

[2022-10-06 12:12] ajaykumarmandapati opened #21604 "RE: Cilium v1.12.2 API issues [Errors encountered while deleting endpoint], [unable to create endpoint, putEndpointIdTooManyRequests]"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

From time to time we see API issues with cilium `v1.12.2` on EKS `v1.23`, cilium agent is unresponsive on a particular node which then disrupts all networking on this node.
Seems to be related to a closed issue - https://github.com/cilium/cilium/issues/19440

**Our only way to fix it at the mom

[2022-10-06 12:13] karelvanhecke commented on #20942
The connection to the backend service fails when the endpoint of that service is on the same node that received the request to the Cilium ingress controller.

For example:
Cilium ingress controller on node A receives a request:
* when it proxies the request to an endpoint of the backend service on node B, the connection succeeds
* when it proxies the request to an endpoint on node A locally, the c

[2022-10-06 13:24] karelvanhecke opened #21605 "Network policies function incorrectly for IPv6 traffic when node-cidr-mask-size-ipv6 is set to a value higher than 64"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

When a Kubernetes cluster is configured with `node-cidr-mask-size-ipv6: 64`, network policies function as expected. If `node-cidr-mask-size-ipv6` is set to a higher value, for example `96`, IPv6 traffic that is expected to pass is also blocked.

Example:
The following network policy allows ingr

[2022-10-06 14:11] gandro opened #21607 "CFP: Ability to create custom CNI config via Helm"
The CNI config created by Cilium can be overwritten by the user via the `cni.customConf=true` Helm value. In that case, the CNI config is either read from a ConfigMap (`cni.configMap`) or a file on the host filesystem (`cni.readCniConf`). Both options require action before the user installs Cilium, e.g. by pre-provisioning the node or creating a ConfigMap before installing Cilium via Helm.

We sho

[2022-10-06 16:05] vincentmli opened #21609 "No valid cgroup base path found: socket load-balancing tracing feature will not work"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

Cilium agent build from master logs

level=warning msg="No valid cgroup base path found: socket load-balancing tracing feature will not work. File a GitHub issuewith an example cgroup path for a pod by running command on Kubernetes node: sudo crictl inspectp -o=json $POD_ID | grep cgroupsPath"

[2022-10-06 16:12] arpagon commented on #15462
For now, we are using Cilium + [kilo](https://github.com/squat/kilo/blob/a9d5883a3af2284c30793fe884c676a11df7e1fd/manifests/kilo-k3s-cilium.yaml)

[2022-10-06 19:14] jasonaliyetti commented on #21218
@aanm apologies for tagging you directly, but is the above information helpful?

[2022-10-07 02:39] joestringer commented on #21596
Thanks for the assessment @codablock. Here's what I'm thinking:

Lock chain 2 is at a high level trying to implement the new network policy for an endpoint. As part of this step, it calculates a new policy, then attempts to switch the policy pointer over to the new policy, and then garbage collect references & objects in the old policy. When garbage collecting the old policy objects, it is going i

[2022-10-07 05:54] QQGoblin commented on #21471
Thank you for your answer.

[2022-10-07 05:54] #21471 closed

[2022-10-07 08:52] ajaykumarmandapati commented on #21604
![image](https://user-images.githubusercontent.com/47316512/194513676-e6b3b6aa-b3dc-4b4c-bfbd-52c562761405.png)
We also see from cilium-cli, there is a broken pod and simply deleting this solves our issue from time to time.

[2022-10-07 08:53] ajaykumarmandapati commented on #19440
@m00lecule were you able to get around this issue? or does this still persist for you? We are running into similar issues on our clusters.

[2022-10-07 09:07] oblazek opened #21615 "CFP: per-node identities"
## Cilium Feature Proposal

**Is your feature request related to a problem?**
Yes, currently it is not possible to allow/block access from/to nodes by their labels. The only way one can do that is by specifying `remote-node` identity, but this also allows access from nodes in remote clusters (in a clustermesh).

[code]

**Describe the feature you'd like**
It should be possible to allow/block only

[2022-10-07 10:48] jralmaraz commented on #21446
Thanks @arukiidou , I've used the instructions and it worked just fine! Appreciate it~!

[2022-10-07 10:48] #21446 closed

[2022-10-07 13:47] miminar opened #21619 "Communication across nodes timeouts unless BGP announces podCIDRs"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

When we disable podCIDR announcements with MetalLB, pods cannot talk to services anymore and start to crash.

Helm values (with some obfuscation):

    ---
    k8sServiceHost: 10.205.160.17
    k8sServicePort: 6443
    kubeProxyReplacement: strict
    ipv4NativeRoutingCIDR: 10.205.240.0/20

[2022-10-07 14:22] brb commented on #21541
@Rid Thanks for the detailed issue. I think you are hitting https://github.com/cilium/cilium/issues/12859 (cc @aditighag). TL;DR the sock has the old service backend IP. You could work around by either switching NFS to use TCP or by disabling the socket LB for pods (`socketLB.hostNamespaceOnly=true`).

[2022-10-07 14:24] brb commented on #21504
@krystianmlynek Please check whether the outgoing interface is `enp59s0`. If not, then specify it within `--devices`.

[2022-10-07 14:46] brb commented on #15462
@carnerito Yep, it is.

[2022-10-07 14:57] Rid commented on #21541
@brb Thanks for taking a look, as you can see from the logs above the NFS mounts are already TCP.

[code]

I will try with `socketLB.hostNamespaceOnly=true` and report back.

[2022-10-07 16:37] AlexisHW commented on #20130
For me it was a hubble-relay certificate issue. I was using cert-manager with self-issuing cert and it didn't allow the connection to hubble-peer.kube-system.svc.cluster.local
Once I switched it to native helm based certificate the connection was established.

[2022-10-07 17:44] rpn0709 opened #21628 "Pods stuck in ContainerCreating / endpoints waiting-for-identity"
Kubernetes version: 1.24.3
Containerd: 1.6.6
Cilium version v1.12.1
100 Node cluster / 3k pods / 100 cronjobs

Problem: Pods get stuck in ContainerCreating on all nodes. Node reboots and service restarts do not fix the issue. Existing pods that are running are unaffected.

 "cilium endpoint" list shows pod stuck in "waiting-for-identity"

No new deployments work. You can delete running deployments

[2022-10-07 17:55] rolinh commented on #20130
@AlexisHW Note that how to configure cert-manager to generate certificates for Hubble is documented [here](https://docs.cilium.io/en/v1.12/concepts/observability/hubble-configuration/#auto-generated-certificates-via-cert-manager) so it is an option that should work.

[2022-10-07 18:25] Rid commented on #21541
@brb Unfortunately even with `socketLB.hostNamespaceOnly=true` we're still having the same problem, so perhaps it's caused by a different issue?

You can reproduce it with the following:

[code]

[2022-10-08 02:15] #19926 closed

[2022-10-08 02:15] #19911 closed

[2022-10-08 02:15] #19813 closed, assigned to nobody

[2022-10-08 02:15] #19720 closed

[2022-10-08 02:15] #19497 closed

[2022-10-08 02:15] #19463 closed

[2022-10-08 02:15] #19439 closed

[2022-10-08 02:15] #19200 closed

[2022-10-08 02:15] #16931 closed

[2022-10-08 05:10] yudaprama opened #21630 "Ingress with TLS return 404 Not Found"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

It's working with [non tls](https://docs.cilium.io/en/stable/gettingstarted/servicemesh/http/). But not working with [tls termination](https://docs.cilium.io/en/stable/gettingstarted/servicemesh/tls-termination/):

[code]

### Cilium Version

[code]

### Kernel Version

[code]

### Kubernetes V

[2022-10-08 05:43] travisghansen commented on #19304
Not stale.

[2022-10-08 08:37] nejisama commented on #17725
@pchaigno is that means Cilium can works with Kata without the eBPF ?

[2022-10-08 09:01] pchaigno commented on #17725
You can't run Cilium without eBPF. But at this point most OSes have the minimum eBPF features required for Cilium (Linux v4.9+).

[2022-10-08 09:11] BurlyLuo commented on #12978
Can we reopen this issue?

[2022-10-09 02:15] #19713 closed

[2022-10-09 11:18] nejisama commented on #21404
Thanks. The operator check identity every 15m, but the Identity timeout is 30m,  so i need to wait 30m

[2022-10-09 11:18] #21404 closed

[2022-10-10 06:05] odidev commented on #21549
@tgraf ,could you please look into the above issue?

[2022-10-10 06:07] #21596 closed

[2022-10-10 07:19] recollir commented on #19041
Hi @ti-mo, we haven't seen this again in the production clusters (though we haven't had the need to restart any agent cluster wide since then) and we haven't been able to reproduce this in a controlled way. We are inclined to assume it could have been related to #18868 (where we have now provided a bugfix and PR).

I think we can keep this closed and we will raise the issue again should we observe

[2022-10-10 10:52] krystianmlynek commented on #21504
@brb
Thanks for your reply! Could you please explain what you mean by `outgoing interface`? In my setup `enp59s0` interfaces on both machines are connected directly with each other, and said interface is already specified in `--devices`.
Don't know if this is relevant, but I'm also using this fix: https://github.com/cilium/cilium/issues/18706#issuecomment-1140189248

[2022-10-10 11:29] maintainer-s-little-helper[bot] opened #21640 "CI: K8sChaosTest Restart with long lived connections L3/L4 policies still work while Cilium is restarted"
### Test Name
[code]

### Failure Output
[code]

### Stacktrace
<details><summary>Click to show.</summary>

[code]
</details>

### Standard Output
<details><summary>Click to show.</summary>

[code]
</details>

### Standard Error
<details><summary>Click to show.</summary>

[code]
</details>

ZIP Links:
<details><summary>Click to show.</summary>

 https://jenkins.cilium.io/job/Cilium-PR-K8s-GKE//914

[2022-10-10 15:14] jasonaliyetti commented on #21218
This might get fixed with https://github.com/cilium/cilium/pull/21629.

[2022-10-10 15:18] jasonaliyetti commented on #20915
My team is seeing this too and it caused a substantial outage last week.  We are planning to rollback to 1.11 this week.

[2022-10-10 16:00] xiaods commented on #20125
cilium 1.12.2  reback  trigger this bug.
https://github.com/xiaods/k8e/issues/275

[2022-10-10 16:09] xiaods opened #21647 "Ubuntu 22.04, install k8s 1.25.1 with cilium 1.12.2, cilium failed."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

A bug happened!
https://github.com/xiaods/k8e/issues/275

reproduce steps:
[code]
it will install 1.25.1 k8s and cilium 1.12.2

### Cilium Version

1.12.2

### Kernel Version

[code]

### Kubernetes Version

1.25.1

### Sysdump

[cilium-sysdump-20221010-160433.zip](https://github.com/cilium/cil

[2022-10-10 19:37] joestringer commented on #21218
@jasonaliyetti I just took a look through the gops stack output from your post above and confirmed that it's the same deadlock as the one that #21629 plans to address. That patch is now queued up for the 1.12.3 release so hopefully this will solve this issue as well, or at least move it forward :crossed_fingers:

[2022-10-10 20:12] jasonaliyetti commented on #21218
@joestringer any idea when 1.12.3 and a 1.11 backport would be available?  We're also dealing with https://github.com/cilium/cilium/issues/20915 and aren't sure if this would help that problem or not and are weighing whether or not it is worth rolling back to 1.11 if this is going to be arriving soon and might help resolve that issue as well.

[2022-10-10 20:43] joestringer commented on #21218
@jasonaliyetti we target bugfix releases for around the middle of the month, so by current planning those releases should be published by roughly the beginning of next week.

[2022-10-10 21:00] abckey opened #21651 "Host firewall drops IPv6 based BGP peering connections(TCP/179) even without any host policy applied"
## Is there an existing issue for this?
 No, I have searched the existing issues
## What happened?

My on-prem K8S cluster runs on baremetal node with IPv4, each node has two NIC ports `eth0` and `eth1`, both are doing BGP peering with leaf switches via IPv6 LLA (Link-local addresses), a /32 IPv4 node-ip is on `dummy0` , advertised to leaf switch via BGP.

When I enable Host Firewall in configmap,

[2022-10-10 21:55] vincentmli commented on #21647
here is the cilium agent  error log

2022-10-10T16:03:39.381203919Z level=info msg="Retrieved node information from cilium node" nodeName=ip-172-31-29-126 subsys=k8s
2022-10-10T16:03:39.381241624Z level=warning msg="Waiting for k8s node information" error="required IPv4 PodCIDR not available" subsys=k8s

cilium operator log:

2022-10-10T16:04:17.732606852Z level=fatal msg="Unable to init cluster-p

[2022-10-10 22:11] vincentmli commented on #21647
cilium operator log also has

2022-10-10T16:03:59.693069050Z level=info msg="Establishing connection to apiserver" host="https://127.0.0.1:6443" subsys=k8s
2022-10-10T16:03:59.698199411Z level=info msg="Connected to apiserver" subsys=k8s
2022-10-10T16:03:59.721626730Z level=warning msg="Unable to discover API groups and resources" error="unable to retrieve the complete list of server APIs: metrics

[2022-10-10 23:00] joestringer opened #21652 "CI: Multicluster / Cluster mesh (ci-multicluster-1.11): Create GKE cluster failed"
## CI failure

https://github.com/cilium/cilium/actions/runs/3217476098

[code]

[2022-10-10 23:01] vincentmli commented on #21647
I could somehow reproduce the cilium operator error log `"unable to initialize IPv4 allocator invalid CIDR address: [10.42.0.0/16]" ` when I removed my cilium install, then use cilium cli command to re-install cilium with

`cilium install --version=v1.12.2 --kube-proxy-replacement strict --helm-set-string=k8sServiceHost=10.3.72.239,k8sServicePort=6443,ipam.operator.clusterPoolIPv4PodCIDR="10.42.0.

[2022-10-10 23:18] xiaods commented on #21647
this is fresh install with k8s,So i don't think the root cause is old cilium CRD. but I found my cilium-cli cmd is differrent with your instruct.
[code]
it not explicit setting   kubeProxyReplacement=strict
maybe the root cuase is iptables.

[2022-10-10 23:26] vincentmli commented on #21647
but your cilium agent and operator log did has this https://github.com/cilium/cilium/issues/21647#issuecomment-1273852294, which is concerning, don't think kubeProxyReplacement would cause the log, it appears you are running your customized k8s k8e ? anything to do with that? it looks to me there are some discrepancies between k8e and cilium operator in regard to cluster pool pod CIDR.

[2022-10-11 00:23] vincentmli commented on #21647
another possibility is that you did not specify k8s api server ip and port, so cilium operator will connect to  the k8s api server service ip and port, but the connection may fail since cilium agent is not up running, so it is like egg and chicken problem, and kube proxy replacement may become part of the problem, but your cilium operator shows no error connection to 127.0.0.1 port 6443, so can't

[2022-10-11 01:19] sayboras opened #21655 "CI: Multicluster / Cluster mesh (ci-multicluster-1.11, ci-multicluster-1.12, ci-multicluster-1.13): allow-all-except-world connectivity test"
## CI failure

https://github.com/cilium/cilium/actions/runs/3219456678

[code]

[cilium-sysdump-out.zip.zip](https://github.com/cilium/cilium/files/9750156/cilium-sysdump-out.zip.11.zip)

[2022-10-11 01:29] maintainer-s-little-helper[bot] opened #21656 "CI: K8sDatapathConfig AutoDirectNodeRoutes Check connectivity with sockops and direct routing"
### Test Name
[code]

### Failure Output
[code]

### Stacktrace
<details><summary>Click to show.</summary>

[code]
</details>

### Standard Output
<details><summary>Click to show.</summary>

[code]
</details>

### Standard Error
<details><summary>Click to show.</summary>

[code]
</details>

ZIP Links:
<details><summary>Click to show.</summary>

 https://jenkins.cilium.io/job/Cilium-PR-K8s-1.19-ker

[2022-10-11 01:36] vincentmli opened #21657 "cilium operator CRDs not in sync with k8s?"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

I have a installation scenario below using cilium cli to install cilium

1, install cilium v1.12.0

`[root@cilium-dev home]# cilium install --version=v1.12.0 --kube-proxy-replacement strict --helm-set-string=k8sServiceHost=10.3.72.239,k8sServicePort=6443`

CRDs gets created

[code]
2, uninstall

[2022-10-11 01:38] vincentmli commented on #21657
by the way, this was found while helping user  in https://github.com/cilium/cilium/issues/21647

[2022-10-11 02:16] #19689 closed

[2022-10-11 02:16] #19515 closed

[2022-10-11 04:03] aditighag commented on #21609
If you don't have the crictl tool installed on k8s nodes in your cluster, then you can inspect the base cgroup path (the cilium default is `/var/run/cilium/cgroupv2)` for one of the pod IDs on a node. Usually, it's something like this `/var/run/cilium/cgroupv2/kubepods/burstable/pod782195ba-e3a3-4858-9db4-ff744ed37c58/.

[2022-10-11 04:14] vincentmli commented on #21609
I don't have kubepods under /var/run/cilium/cgroupv2

[code]

[2022-10-11 05:50] xiaods commented on #21647
let me double check your concerns

[2022-10-11 09:03] pkossyfas commented on #21198
When you enable the eni mode then the endpoint routes are being enabled as well ([helm template](https://github.com/cilium/cilium/blob/v1.12.2/install/kubernetes/cilium/templates/cilium-configmap.yaml#L399)). It seems that still BPF host routing is not supported yet with endpoint routes enabled (relevant [slack thread](https://cilium.slack.com/archives/C4XCTGYEM/p1641830257008300?thread_ts=1641191

[2022-10-11 09:04] pkossyfas commented on #21198
When you enable the eni mode then the endpoint routes are being enabled as well ([helm template](https://github.com/cilium/cilium/blob/v1.12.2/install/kubernetes/cilium/templates/cilium-configmap.yaml#L399)). It seems that still BPF host routing is not supported yet with endpoint routes enabled (relevant [slack thread](https://cilium.slack.com/archives/C4XCTGYEM/p1641830257008300?thread_ts=1641191

[2022-10-11 09:19] dmesser commented on #21543
Quay.io product manager here. What specific MIME types outside of `text/spdx` are expected by Cilium? Quay.io is configured to only accept a fixed set of OCI types and that's why this currently fails.

[2022-10-11 09:55] m00lecule commented on #19440
Hello @ajaykumarmandapati!

I made a dirty fix 0 increased the limits up to 200.

[code]

[2022-10-11 10:00] jinsiang2008 commented on #20653
Hi there, just wanna follow up with the status of this function requirement. We are facing the problem for now, so wanna see if there are other walk around. Thanks.

[2022-10-11 10:47] pchaigno commented on #21289
It is not.

[2022-10-11 10:49] pchaigno commented on #21546
@borkmann Any preferences on the above solutions? :point_up:

[2022-10-11 11:37] ajaykumarmandapati commented on #19440
Cool thanks will give this a try 👍🏾

[2022-10-11 11:44] maintainer-s-little-helper[bot] opened #21661 "CI: K8sDatapathConfig Host firewall With VXLAN"
### Test Name
[code]

### Failure Output
[code]

### Stacktrace
<details><summary>Click to show.</summary>

[code]
</details>

### Standard Output
<details><summary>Click to show.</summary>

[code]
</details>

### Standard Error
<details><summary>Click to show.</summary>

[code]
</details>

ZIP Links:
<details><summary>Click to show.</summary>

 https://jenkins.cilium.io/job/Cilium-PR-K8s-1.24-ker

[2022-10-11 13:41] xiaods commented on #21647
testing result:
cilium install params get wrong.
wrong with:
[code]

corret:
[code]

works like charm on ubuntu. !!!

[2022-10-11 13:52] hemslo commented on #17690
This is fixed after `1.12.0`, the commit is https://github.com/cilium/cilium/commit/19d94afdf7d31d3f9688c37265c73acf5a7241a1, part of this pr https://github.com/cilium/cilium/pull/16179

[2022-10-11 14:50] danwent commented on #13329
If I understand it correctly, this PR is at least partially addressing this issue: https://github.com/cilium/cilium/pull/21539

[2022-10-11 15:16] davem-git commented on #19788
what removes it when cilium is stood up properly?

[2022-10-11 15:52] pchaigno commented on #21615
We would also need to support an upgrade path without packet loss. So nodes running with the new mode would have to understand encapsulated packets coming in with a `remote-node` identity.

What would the node IDs look like in the datapath? Would you use a subset of bits to indicate node IDs? Which bits would you use?

[2022-10-11 18:11] aditighag commented on #21609
Are there any pods running on the cluster at all when you ran the above command? Is this the cilium dev VM?

[2022-10-11 18:17] vincentmli commented on #21609
yes, there are pods running, it is my  k8s cluster test lab with cilium image built from master branch and deployed, it is not cilium dev VM, sorry the node hostname might get you confused :), I also attached sysdump
[code]

[2022-10-11 18:23] aditighag commented on #21609
What's the output of `$ find /sys/fs/cgroup/ -name pod*` and `$ find /run/cilium/cgroupv2 -name pod*`?

[2022-10-11 18:32] vincentmli commented on #21609
nothing found, are you trying to find out the cgroup info for a pod? I am running k8s with docker, would docker inspect help find the info? there is busybox-master pod running in my node, here is cgroup info I could find from docker inspect

[code]

[2022-10-11 18:39] vincentmli commented on #21609
maybe this is what you are looking for? it looks you are looking for cgroup v2 info, but it appears my pod is on cgroup v1?

[code]

[2022-10-11 18:55] vincentmli commented on #21609
more info after reading https://docs.docker.com/config/containers/runmetrics/, it looks my docker daemon /etc/docker/daemon.json `native.cgroupdriver=systemd` which says docker support cgroup v2, right?

[code]

to enable kernel with cgroup v2,  `systemd.unified_cgroup_hierarchy=1` can be added to kernel, but I don't have that added, meaning my kernel is running on cgroup v1, right? by the way, my

[2022-10-11 19:15] joestringer commented on #21543
Perhaps @sandipanpanda could speak more to this, but I believe we are planning to use [k8s bom](https://github.com/kubernetes-sigs/bom) and sigstore (related: https://docs.sigstore.dev/cosign/sign#signature-location-and-management) so I think it's mostly around what those tools push as OCI artifacts. I don't think we have any particular Cilium-specific constraints around this so it's mostly about

[2022-10-11 22:59] Jiang1155 opened #21674 "CFP: enable IP forwarding for each NIC"
## Cilium Feature Proposal

**Is your feature request related to a problem?**

Yes. One issue while using cilium is that we sometimes got a fib lookup error as the following:

xx drop (FIB lookup failed) flow 0x5fcbfa3a to endpoint 0, , identity unknown->unknown:  xxx-> xxxx etc

After spent some time debugging, we found the issue is that there are two places in Linux to turn on ip forwarding. One

[2022-10-12 02:15] #20676 closed

[2022-10-12 02:15] #20525 closed

[2022-10-12 02:15] #20437 closed

[2022-10-12 02:16] #20419 closed

[2022-10-12 02:16] #19763 closed

[2022-10-12 02:16] #19509 closed

[2022-10-12 02:23] protosam commented on #20125
@xiaods are you saying there was a code regression and the bug is unfixed?

@aanm I can't validate this until next week when I'm back in my lab, are you able to check this?

[2022-10-12 02:37] protosam opened #21677 "CI: Perform install against different OS versions"
This needs the labels changed. I wasn't sure how to request a CI improvement.

It seems possible for OS-dependent fixes to regress due to lack of validation.

The improvement needed is to test Cilium against multiple versions of Ubuntu, Debian, and Red Hat variants (like Rocky Linux).

Opening this to start a conversation. Using kind is limited and it doesn't seem like it will be possible to direc

[2022-10-12 03:07] xiaods commented on #20125
I found a issue will caused this bug:
cilium 1.12.2 , ubuntu 22.04
when i run :
[code]
it will failed.
when i explicit replace iptables. it works like a charm.
[code]

[2022-10-12 03:41] thiDucTran opened #21678 "Cluster API Provider Azure with Cilium"
HI, I am trying to create k8s clusters in Azure (not AKS) using these links as guide: https://cluster-api.sigs.k8s.io/user/quick-start.html , https://capz.sigs.k8s.io/topics/getting-started.html , and https://blog.scottlowe.org/2021/10/07/installing-cilium-via-clusterresourceset/

Steps taken:
* set up prerequisites for Azure
* `kind create cluster --name bootstrap-cluster`
* `kubectl cluster-info

[2022-10-12 04:51] frankui commented on #18928
@borkmann We also observed this issue with cilium 1.11.2.
DAD multicaset NA was dropped by cilium which blocked the DAD of other IPv6 devices.

[2022-10-12 06:13] smwyzi opened #21679 "what‘s the difference of the two tags？"
Each Cilium release tag，saying 1.12.0，the repo has two tags（1.12.0，v1.12.0），what‘s the difference of the two tags？

[2022-10-12 06:27] snakeliwei commented on #21647
It is work on master node , but another error occurs on work node install.  here is the cilium pod log.
[code]

It seems the the k8s api url is untouchabled..

[2022-10-12 06:38] xiaods commented on #21647
currently, i have think about a way to resolve your problem. explicit  k8sServiceHost=10.3.72.239(your master node ip)

[code]

[2022-10-12 06:45] xiaods commented on #19038
k8sServiceHost is bad idea, please use internal svc ip for kubernetes as API server.  if we need deploy k8s with specified host ip, we need consider VIP mode on this host ip, it will add more complex on archtecture.

[2022-10-12 06:54] Zveroloff opened #21680 "Kubernetes 1.25.1 with Cilium - external DNS requests fail"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

Kubernetes with Cilium CNI is installed inside corporate network without direct internet access.

Cilium connectivity test partially fails.
Sonobuoy tests fail with external (outside of cluster) dns requests.
Kubernetes DNS subsystem works correctly, `nslookup kubernetes.default` is being resol

[2022-10-12 07:12] sayboras commented on #21679
It's exactly the same, as they are pointing the same commit hash. For example, both 1.12.0 and v1.12.0 are pointing to 9447cd1bfab4424ccb59b5ea9ca41f89590261d4.

Might I know why you are asking this question.

[2022-10-12 07:14] smwyzi commented on #21679
Just confused，why having two tags pointing the same commit hash

[2022-10-12 08:31] aanm commented on #21218
@jasonaliyetti I'm going to close this GH issue since the PR https://github.com/cilium/cilium/pull/21629 has fixed it. Feel free to open a new GH issue or tag me directly to re-open it since GH doesn't allow users to re-open closed GH issues. Thanks for reporting it. /cc @joestringer

[2022-10-12 08:31] #21218 closed

[2022-10-12 08:44] aanm commented on #20125
@xiaods That's a different issue than the one mentioned by @protosam. @xiaods please open a new GitHub issue to track.

[2022-10-12 08:51] aanm commented on #21679
IIRC @smwyzi the reason we have two tags is because https://readthedocs.org, the platform where we host our docs, uses X.Y.Z (or vX.Y.Z) and the image build process on docker hub uses the other variant.

[2022-10-12 08:55] smwyzi commented on #21679
got it，thanks~

[2022-10-12 08:56] aanm opened #21682 "CI: TestControlPlane/Services/NodePort/v1.25/nodeport-worker2"
[code]

Seen in https://github.com/cilium/cilium/pull/21506/checks?check_run_id=8815450765

Just a minor note that this happened in arm64-graviton2

@joamaki can you take an initial look?

[2022-10-12 14:15] joamaki commented on #21682
Uuf, turning out to be quite difficult to reproduce and likely is an indicative of a real issue in the agent. I'll keep trying.

[2022-10-12 14:20] davem-git commented on #19788
@akostic-kostile https://github.com/cilium/cilium/issues/19788#issuecomment-1125110915. I'm attempting to go down this path. can't seem to get  kubemod to fire. no logs that i can see. Did you make any adjustments to your setup?

[code]

[2022-10-12 14:40] 117503445 opened #21702 "doc: repeated attention segments in k8s-install-default"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

Repeated attention segments in <https://docs.cilium.io/en/stable/gettingstarted/k8s-install-default/#:~:text=Video-,To%20learn%20more%20about%20the%20Cilium%20CLI%2C%20check%20out%20eCHO%20episode%208%3A%20Exploring%20the%20Cilium%20CLI.,-Video>.

![Snipaste_2022-10-12_22-35-30](https://user-im

[2022-10-12 14:49] briantopping commented on #9207
Any updates on this?

[2022-10-12 15:56] pchaigno commented on #21462
Should we rename `cilium config Debug=true` to `cilium config DatapathDebug=true` to clarify the intent?

[2022-10-12 16:29] anfernee opened #21709 "CI: Travis CI"
## CI failure

An example: https://github.com/cilium/cilium/pull/21539/checks?check_run_id=8829252915

[code]

[2022-10-12 17:51] #21393 closed

[2022-10-12 19:05] christarazi opened #21710 "CI: ConformanceIngress (Shared LB): expected status code 200 but 503 was returned"
## CI failure

[code]

https://github.com/cilium/cilium/actions/runs/3221405223

Sysdump: https://github.com/cilium/cilium/suites/8703041754/artifacts/392928973

[2022-10-12 19:08] christarazi commented on #16203
Seen in https://jenkins.cilium.io/job/Cilium-PR-K8s-1.16-kernel-4.9/2833/testReport/junit/Suite-k8s-1/16/K8sDatapathConfig_Transparent_encryption_DirectRouting_Check_connectivity_with_transparent_encryption_and_direct_routing/ from https://github.com/cilium/cilium/pull/21288.

[2022-10-12 19:46] sandipanpanda commented on #21543
Hi there, there has been some progress on this issue recently. Our initial approach was to attach the SBOM using
`cosign attach sbom --sbom sbom.spdx quay.io/${{ env.QUAY_ORGANIZATION }}/${{ matrix.name }}:${{ steps.tag.outputs.tag }}` and then signing the container image. But attaching SBOMs this way does not sign them. While trying to attach SBOM this way, we found that Quay doesn’t support 'tex

[2022-10-12 19:58] sandipanpanda commented on #21543
Closing this as the issue has been resolved and this feature is no longer needed.

[2022-10-12 19:58] #21543 closed

[2022-10-12 20:40] thiDucTran commented on #21678
I even tried to create the cluster with no CNI  (stopping at step https://cluster-api.sigs.k8s.io/user/quick-start.html#deploy-a-cni-solution)

After that I used both `helm` and `cilium` CLI method to install...same error....the error is mentioned in https://docs.cilium.io/en/stable/gettingstarted/kind/ ....but I am not understanding how my case is related to kind

[code]

[2022-10-12 21:11] joestringer commented on #21615
I had briefly wondered about this, broadly I see two approaches:
1. Allocate global identities for nodes like how pod identities are allocated. Then all nodes learn about these identities.
2. Allocate local identities on each node for each other node's labels. Do not transmit these on the wire.

I'm not sure I have a strong opinion on either approach yet. Broadly, (2) is less likely to interfere w

[2022-10-12 21:25] pchaigno commented on #21615
Today, we sometimes need to transmit the remote-node identity on the wire when running tunneling mode and doing a request from hostns@node1 to pod@node2. It may not be too hard to fix by keeping `REMOTE_NODE_ID` there and teaching the receiving side to lookup the inner source IP in its ipcache when seeing `REMOTE_NODE_ID`.

[2022-10-12 23:08] #21647 closed

[2022-10-13 01:04] xiaods commented on #21680
this is coredns config scope. cilium is not the root cause.

[2022-10-13 02:16] #17981 closed

[2022-10-13 02:16] #13079 closed

[2022-10-13 06:02] wenqiang0527 opened #21716 "bgp-control-plane ebgp-multihop config"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

how to set bgp-control-plane  ebgp config?
bgp-control-plane use gobgp, how to set more config

like gobgp this config:
  [neighbors.ebgp-multihop.config]
    enabled = true
    multihop-ttl = 255

### Cilium Version

1.12.0

### Kernel Version

4.19

### Kubernetes Version

1.25.0

### Sysdump

[2022-10-13 06:03] #20959 closed

[2022-10-13 07:05] Zveroloff commented on #21680
It could be true, but as I see, external requests a correctly addressed to corporate DNS. They fail with network-related issues 'no route to host' and 'i/o timeout'

[2022-10-13 08:48] AlexisHW opened #21717 "Cilium 1.11.9 drops requests ignoring labels"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

We've updated cilium to 1.11.9 and see that network policies using labels in egress rules no longer work.
Labels seem to be ignored while ipBlock is working file.

Policy example:

[code]

In the given case egress to 1521 is forwarded while access to the pod labeled `app.kubernetes.io/name: rab

[2022-10-13 10:02] nejisama opened #21720 "[Questions] Is there any documentation about datapath-mode ?"
I have some doubts about datapath-mode, and i cannot find any documents or blogs for this parameter.
If I configure datapath-mode=lb-only, what abilities are available and what abilities are missing,  or what abilities are different?

[2022-10-13 13:12] qmonnet commented on #21720
Hi, the description for the commit that introduced the mode is probably the best description we have at the moment: https://github.com/cilium/cilium/commit/6a18ef2e4aa5b163beaafae8ec120d9035045439

Related: https://github.com/cilium/cilium/issues/17485

[2022-10-13 13:25] qmonnet commented on #21716
Hi, I'm not sure I understand the question. Can you please elaborate on what you are trying to achieve?

[2022-10-13 13:41] qmonnet commented on #21702
Fixed with https://github.com/cilium/cilium/pull/21587.

Thanks for the report!

[2022-10-13 13:41] #21702 closed

[2022-10-13 14:34] pchaigno opened #21722 "SRv6: Missing check of routing header type"
As spotted by Louis, we don't currently check that the routing header is a Segment Routing one in the SRv6 code for SRH encap. mode: https://github.com/cilium/cilium/blob/master/bpf/lib/egress_policies.h.

We need to fix that.

[2022-10-13 15:30] aditighag opened #21725 "Reconcile Kubernetes resources state after agent restart"
Currently, we don't consistently reconcile state realized via Kubernetes watcher events for various resources including Kubernetes native as well custom resources. The agent only receives the latest state from the k8s api server. This can lead to stale entries, and out-of-sync realized state. As an example, when an event like node delete occurs while the agent is down, the agent doesn't actively c

[2022-10-13 16:47] #21630 closed

[2022-10-13 17:14] joestringer commented on #20915
Just as a heads up, there are some fixes in a related area coming into Cilium 1.12.3 soon which may impact these changes. Currently without a reliable set of instructions to reproduce, it's a bit hard to investigate or confirm what the issue is. However, I would be interested to hear whether this issue continues to occur on 1.12.3.

[2022-10-13 17:20] aditighag commented on #20915
@mhulscher Thanks for the report. Since you've enabled kube-proxy-replacement, you might be running into an existing limitation of socket-lb. But you should see the same behavior across cilium versions.

So let's try to break down the issue:

(1) Cilium agent continuing to connect to the stale kube-api server (sounds like https://github.com/cilium/cilium/issues/12859). This might explain why resta

[2022-10-13 17:22] aditighag commented on #12859
We'll need a new capability in BPF to resolve this issue. For more background, here is the link to the Linux plumbers conference talk that discusses the issue and proposed solution - https://lpc.events/event/16/contributions/1358/.

[2022-10-13 17:24] joestringer opened #21730 "CI: Travis: ClusterMeshServicesTestSuite.TestClusterMeshServicesUpdate: obtained k8s.CacheAction = 0 ("service-updated")"
## CI failure

https://app.travis-ci.com/github/cilium/cilium/jobs/585481519#L527

[code]

[2022-10-13 17:39] dmesser commented on #21543
FYI quay.io does support those OCI types now: https://twitter.com/quayio/status/1580121221080891392

[2022-10-13 19:22] benesch commented on #20915
@joestringer: this is not hard to reproduce! Turn on an EKS cluster, install Cilium v1.12, and then put sufficient load on the API server that EKS scales it up. The last part is the only part that is somewhat nondeterministic, but I have to imagine that creating a few thousand pods in a tight loop would do the trick every time.

This was described by the original issue poster here:

Do you do prod

[2022-10-13 22:30] aditighag commented on #21609
Yes, that's right, you are on cgroups v1 controllers. Cgroups v2 controllers are needed only for kind like nested environments where kubernetes nodes are deployed as containers. If that's not the case with your environment, then you don't need to make any changes with respect to switching to cgroups v2 controllers.

Socket-lb feature requires cgroup v2. Most of the kernel versions (starting 4.9 I

[2022-10-13 22:32] aditighag commented on #21609
What's the full cgroup path for this pod? Based on your [comment](https://github.com/cilium/cilium/issues/21609#issuecomment-1275117922), try to locate it under `/run/cilium/cgroupv2/...kubepods.slice/kubepods-besteffort.slice/...`

Also, you are using systemd as the cgroup driver which isn't currently supported. It's listed in the follow-up issue - https://github.com/cilium/cilium/issues/21510.

[2022-10-13 23:32] xiaods commented on #21680
1.13.0-rc1 default is already remove kubeproxy and iptables dependencies. but you can also have a try for below iptables test.

[code]

[2022-10-14 07:20] laurentdina opened #21733 "[Question]: What IPv6 peering address must be used for BGP peering?"
Hi Cilium community,
I'm trying to setup a BGP peering from a Node running Cilium v1.12.2 on Ubuntu 22.04 Server to a Cisco router which is acting as a route reflector. I can reach the route reflector from a pod via ICMP but I can not establish BGP peering over IPv6. The entire setup has to run over IPv6.
On the Cisco IOS XR I've used the IPv6 address of the outgoing interface on the Ubuntu node a

[2022-10-14 09:00] akash-gautam commented on #21585
/assign

[2022-10-14 09:02] sahid commented on #21262
It looks like forwarding the ICMP Error packet to the endpoint is not an option as Cilium’s eBPF NodePort implementation operates in SNAT mode.

Two cases are supportable:

- Using DSR mode, adding the support of forwarding the ICMP Error packet when Cilium is configured to use `loadbalancer.mode=dsr`. As in this DSR mode the backend replies directly to the external client.
_The TCP SYN will be jo

[2022-10-14 09:21] nejisama commented on #21720
thanks. wish there was more documentation describing

[2022-10-14 10:21] qmonnet opened #21735 "CI: K8sDatapathConfig Transparent encryption DirectRouting Check connectivity with transparent encryption and direct routing"
### Test Name

[code]

### Failure Output

[code]

### Stack Trace

[code]

### Standard Output

[code]

### Standard Error

[code]

### Resources

- Jenkins URL: https://jenkins.cilium.io/job/Cilium-PR-K8s-1.16-kernel-4.9/2867/
- ZIP file(s):
  - [fe0166fd_K8sDatapathConfig_Transparent_encryption_DirectRouting_Check_connectivity_with_transparent_encryption_and_direct_routing.zip](https://github.c

[2022-10-14 10:53] qmonnet commented on #21730
Also observed recently on `master` branch: https://app.travis-ci.com/github/cilium/cilium/jobs/585516852

[2022-10-14 11:10] liuxu623 opened #21737 "Failed access service external ip in pod"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

We use cilium vxlan and don't enable nodePort/externalIPs. So we depend kube-proxy handle service external ip.
I found when access service external ip (backend is a pod in another node) in pod, source ip will change to node ip after kube-proxy masquerade.
Because cilium_host ip addr scope is li

[2022-10-14 12:08] oblazek commented on #21615
Thanks a lot for the insights.. our usecase is mostly "which nodes can my pod access" (i.e. the CNP), but sure.. we would be super happy with CCNP as well.

[2022-10-14 18:22] maintainer-s-little-helper[bot] opened #21740 "CI: K8sDatapathConfig Host firewall With VXLAN"
### Test Name
[code]

### Failure Output
[code]

### Stacktrace
<details><summary>Click to show.</summary>

[code]
</details>

### Standard Output
<details><summary>Click to show.</summary>

[code]
</details>

### Standard Error
<details><summary>Click to show.</summary>

[code]
</details>

ZIP Links:
<details><summary>Click to show.</summary>

 https://jenkins.cilium.io/job/Cilium-PR-K8s-1.24-ker

[2022-10-14 18:23] chancez commented on #21740
Actually, seems to be a duplicate of https://github.com/cilium/cilium/issues/21735

[2022-10-14 18:23] #21740 closed

[2022-10-15 01:30] thiDucTran commented on #21678
https://github.com/kubernetes-sigs/cluster-api-provider-azure/issues/2723#issuecomment-1279497952

[2022-10-15 01:30] #21678 closed

[2022-10-15 02:17] #20297 closed

[2022-10-15 02:17] #20122 closed

[2022-10-15 13:24] xiaods commented on #21603
I use cilium ctl to install cilium 1.12.2
[code]
have a try on your os Talos Linux 1.2.3.

I think this is dependency  on os

[2022-10-15 18:29] Woidla27 opened #21745 "Shared load balancer not getting created v1.13.0-rc1"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

I wanted to try out the new shared lb mode for ingress from here #21386

Installed cilium 1.13 rc using the cli with ingressController.loadbalancerMode=shared
[code]

Then added an ingress obect
[code]

But no LoadBalancer service gets created.

When I omit ingressController.loadbalancerMode=sh

[2022-10-16 02:56] xiaods commented on #21720
the docs is WIP.

[2022-10-16 03:02] xiaods commented on #21628
@sayboras I know the reason. please reset cilium cni and with follow parameter:
[code]
it works like a charm on my environment.

[2022-10-16 03:04] sayboras commented on #21745
:wave:

The above installation command looks good to me, however, it's hard to know for sure what is insuded cilium-ci:latest image.

Can you help to update the image of cilium-opeator and cilium agent to v1.13.0-rc1 and retry ?

[code]

[2022-10-16 03:05] xiaods commented on #21657
yes, this bug is always occurs in cilium-ctl tools.

[2022-10-16 03:15] xiaods commented on #21733
even BGP feature is beta, you also can use https://docs.cilium.io/en/v1.12/gettingstarted/bgp/ to verify your concerns.

[2022-10-16 03:43] xiaods commented on #21657
with my testing, as above describe steps. the cilium core functional feature is ok. just cilium ctl tools behavior need a consistent way to handle the cidr ip range update case. I have raised the issue on cilium-cli repo.
I think this isssue can close and moving to talk about this issue on cilium-cli repo

[2022-10-16 03:43] xiaods commented on #21657
@vincentmli FYI

[2022-10-16 15:16] vincentmli commented on #21657
Could you explain more in detail how cilium cli need a consistent way to handle the cidr ip range update

[2022-10-16 22:22] Woidla27 commented on #21745
Yes of course.
I ran `cilium upgrade --version "v1.13.0-rc1"`, now cilium version displays v1.13.0-rc1 as running
After that I deleted and re-added the ingress -> no change on service side
New logs attached: [cilium-sysdump-20221017-001314.zip](https://github.com/cilium/cilium/files/9795805/cilium-sysdump-20221017-001314.zip)

BTW is this intended that the cli installer uses latest instead of the

[2022-10-17 02:07] xiaods commented on #21657
cilium cli uninstall behavior have not add a step to clean crd resource. it caused the CRD is not in sync with k8s

[2022-10-17 02:16] #20729 closed

[2022-10-17 02:16] #20650 closed

[2022-10-17 02:16] #20634 closed

[2022-10-17 02:16] #20573 closed

[2022-10-17 02:16] #17194 closed

[2022-10-17 03:07] wenqiang0527 commented on #21716
Is bgp-control-plane supports  ebgp multihop？

[2022-10-17 03:13] xiaods commented on #21619
this is design?

[2022-10-17 04:19] jaffcheng opened #21747 "alibabacloud: ENI leak when IP addresses run out in a subnet"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

In a cilium cluster with `ipam=alibabacloud`, we have seen ENI leakage with the following operator log:

[code]
the following log repeats until all IP addresses in all subnets are consumed, and ENIs created here are leaked in `Available` status (not attached to any instance):
[code]

### Cilium

[2022-10-17 04:20] jaffcheng commented on #21747
I'm currently working on a fix for this.

[2022-10-17 05:40] miminar commented on #21619
If that were the case, why making `podCIDR=false` an option at all?

For us, `podCIDR=true` is a potential security risk as the unexposed pods can be routable from outside of k8s cluster.

On the same cluster we successfully ran kube-router configured with `--advertise-pod-cidr=false` alongside cilium. It worked as expected. And that's what we'd like to use with pure cilium as well.

[2022-10-17 09:10] jonkerj commented on #21603
This effectively deploys the helm chart (like I did), with the following values:

[code]

But it will also include the `SYS_MODULE` capability, which does not exist on Talos, so this install will fail.

I appreciate the help, but I think it's more useful to focus on debugging the kube proxy replacement while running unprivileged.

[2022-10-17 09:12] jonkerj commented on #21603
In the meanwhile, I've discovered there are two scenario's to get it working:

1. run privileged
2. deploy the `kube-proxy` DaemonSet

I think both are not really acceptable, IMO

[2022-10-17 11:00] xiaods commented on #21619
this is proposal feature. I also like it.

[2022-10-17 11:24] Sandy7894 opened #21752 "Cilium 1.12.2 CNI daemonset pods failing"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

Hi All,

We are trying to deploy Cilium CNI helm chart using terraform on EKS cluster, we are planning to use a dedicated subnet to deploy the pods and below are the params which we are using to deploy the same :

[code]

We have created a configMap,  to use subnet-tags and enabled customConf t

[2022-10-17 11:34] dgiebert commented on #19057
I am currently trying to achieve the cluster mesh with helm, and this needs to be a two-step process, in my opinion:

For this example the final setup will be cluster01 <-> cluster02

1. Enable the API Server on both clusters that you want to join the mesh (Untested and constructed from HelmChartConfig below)
[code]
2. Extract the CA, Cert, and Key for every cluster from the secret `clustermesh-ap

[2022-10-17 11:45] wenqiang0527 opened #21753 "CFP: Cilium BGP Control Plane supports EbgpMultihop"
Is bgp-control-plane supports  ebgp multihop？

the code pkg/bgpv1/gobgp/server.go

[code]

Is there possible supports EbgpMultihop?

example:
[code]

[2022-10-17 13:38] pchaigno commented on #21262
Could you explain a bit why SNATing is an issue here?

Is that part of your first proposed approach? So in DSR mode we would still SNAT some packets? I don't think that's an acceptable solution for users given SNAT mode is often used to preserve the source IP.

[2022-10-17 15:27] eddie-knight opened #21760 "Bring CLOMonitor Score to 100%"
As Cilium is signed up for the Security Slam, this issue is to track the efforts necessary to bring this repo's [CLOMonitor](https://clomonitor.io/projects/cncf/cilium) score to 100%.

## CLOMonitor report

### Summary

**Repository**: cilium
**URL**: https://github.com/cilium/cilium
**Checks sets**:  `COMMUNITY` + `CODE`
**Score**: 86

### Checks passed per category

| Category  |  Score  |
| :--

[2022-10-17 15:35] alexandrevilain opened #21763 "Cilium still sends traffic to a Terminating pod (managed by a StatefulSet) on a lost node"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

We found an issue when using a service targeting a statefulset when a node is lost.
When one of the statefulset member is on a lost node, cilium continues to load balance traffic to the Terminating pod so the request hangs.
It looks like the CilliumEndpoint stays in the `ready` state.

To repro

[2022-10-17 16:04] aditighag commented on #21763
👋 Does the pod in question have liveness probes configured? If yes, what's the probes frequency configured? Also, how long did you keep on checking to see that the traffic was being load-balanced to the endpoints on lost nodes?

To give some more context, Cilium relies on k8s to set endpoints state to terminating before it can gracefully terminate such endpoints for load-balancing [1]. If cilium p

[2022-10-17 16:48] eddie-knight commented on #21760
This issue relates to the LF mentorship effort [here](https://mentorship.lfx.linuxfoundation.org/project/680e32e5-d056-46fa-a94d-4af453d4e81d)

[2022-10-17 17:29] Atticuss opened #21769 "Node-to-Node Traffic Unencrypted With Egress Gateway"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

Attempting to setup both node-to-node encryption with the egress gateway feature enabled. Idea is to run PodA on Node1 with a `CiliumEgressGatewayPolicy` CRD that routes all traffic over Node2. The traffic from PodA/Node1 to Node2 should be encrypted. First tried to enable both IPSec & the egre

[2022-10-17 21:02] jibi commented on #21735
Found this flake also on a couple of 1.12 backport PRs:
* https://jenkins.cilium.io/job/Cilium-PR-K8s-1.19-kernel-4.9/2410/
* https://jenkins.cilium.io/job/Cilium-PR-K8s-1.23-kernel-4.9/290/

[2022-10-18 01:11] Atticuss commented on #21769
Apologies -- missed this note in the docs:

https://docs.cilium.io/en/v1.12/gettingstarted/encryption-wireguard/#limitations

Marking as closed as this isn't a bug, but would appreciate any insights into either enabling both the egress gateway with IPSec or any roadmap plans for node-to-node encryption via Wireguard.

[2022-10-18 01:11] #21769 closed

[2022-10-18 02:59] vsxen opened #21775 "hubble prometheus l7 metrics dont't work"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

A bug happened!

### Cilium Version

Client: 1.11.2 17b0dbd 2022-02-23T13:09:05-08:00 go version go1.17.7 linux/amd64
Daemon: 1.11.2 17b0dbd 2022-02-23T13:09:05-08:00 go version go1.17.7 linux/amd64

### Kernel Version

Linux ubuntu-focal 5.4.0-72-generic #80-Ubuntu SMP Mon Apr 12 17:35:00 UTC

[2022-10-18 05:08] xiaods commented on #21657
yes, I double check your above steps on validate pod CIDR syncing issue. This error is a problem that is bound to occur. thanks for your clarify. it should be fix asap.

[2022-10-18 06:36] AlexisHW commented on #21717
Could someone look into it please?

[2022-10-18 07:13] alexandrevilain commented on #21763
Hi @aditighag ! Thanks for your answer 👍

First of all, I found the issue on a pod with the following liveness probe configured:
[code]

I don't have liveness probe on my manifests to reproduce it. But I'll try with a liveness probe right now.

It seems that other nodes are getting the informations for terminating endpoints:

[code]

I'm now trying my example manifest with liveness probe, I'll get

[2022-10-18 08:57] #21236 closed

[2022-10-18 09:11] sahid commented on #21262
For a given packet initiated by a external client arriving to a service nodeport, it will be SNATed to the remote backend that handles the targeted endpoint.

The source addr of the packet arriving to endpoint will be the addr of the node. If we let endpoint handling the ICMP Error it will consider it for the path `node -> endpoint` in opposite to `client -> endpoint`.

If we consider a need to fr

[2022-10-18 09:21] sahid commented on #21262
The aim would be for SNAT mode to remove the (b) step by having the node handling the ICMP Error by itself. For DSR mode, adding support of xlateing the ICMP Error to endpoint.

[2022-10-18 09:24] dylandreimerink opened #21776 "lb-ipam: IP sharing between services"
PR #21764 introduces the initial version of the LB-IPAM feature. This version contains the basics but is by no means feature complete.
This issue tracks the proposal to add a feature similar[ MetalLB's IP sharing feature](https://metallb.universe.tf/usage/#ip-address-sharing).

MetalLB allows users to add the `metallb.universe.tf/allow-shared-ip` annotation to services. MetalLB will attempt to ass

[2022-10-18 11:45] sergeyshevch commented on #20554
@benesch @dmvk How you solved this issue in your environment? I have the same setup (with 2 peered VPCs). Pods that are assigned to eth1+ are unavailable from peered VPC.

[2022-10-18 11:51] dmvk commented on #20554
Still using the above described approach.

[2022-10-18 15:11] rolinh commented on #21775
:smile:

Are you sure though? I don't see any L7 flows from your Hubble CLI query output snippet. Are you sure you have enabled [L7 protocol visibility](https://docs.cilium.io/en/stable/policy/visibility/#proxy-visibility)?

[2022-10-18 16:07] borkmann commented on #21546
Thanks for the investigation, going with option 2 sounds good to me!

[2022-10-18 17:13] #21346 closed

[2022-10-18 17:27] sagar0419 commented on #21472
I was facing the same issue with `"EKS version 1.22"`. I was not able to curl the service by its name but I was getting response when I curl the service with its IP address.

Service and its IP address.

[code]
Response of curl Request

[code]

Response when I was using the IP address of the same service.

[code]

To resolve this issue I upgraded the EKS version to 1.23 and the curl started workin

[2022-10-18 21:49] michaelasp commented on #21730
Observed here as well https://app.travis-ci.com/github/cilium/cilium/jobs/585999231 for #21539

[2022-10-18 22:32] nnbu opened #21795 "CFP: Enable dsr_reply_icmp4 and dsr_reply_icmp6 functionality unconditionally"
## Cilium Feature Proposal

**Is your feature request related to a problem?**
yes

If so, please describe the problem
Currently `dsr_reply_icmp4` and `dsr_reply_icmp6` functions are protected by `ENABLE_DSR_ICMP_ERRORS`. `ENABLE_DSR_ICMP_ERRORS` is enabled only when `LoadBalancerPMTUDiscovery` is true. And `LoadBalancerPMTUDiscovery` is true only when cilium is enabled in `LBOnly` mode (`DatapathM

[2022-10-18 22:36] nnbu commented on #21795
@sahid @YutaroHayakawa Please provide suggestions

[2022-10-19 01:25] vsxen commented on #21775
I am sorry ,close it.

[2022-10-19 01:38] #15797 closed

[2022-10-19 06:53] YutaroHayakawa commented on #21795
I don't have any objection to enabling this by default. @borkmann, what was your intention in disabling this by default for CNI mode?

[2022-10-19 07:50] sahid commented on #21795
Yes this makes sens, I would have considered the case as bug fix since we don't provide any way to set `LoadBalancerPMTUDiscovery = true` when `NodePortAcceleration = disabled`.

I guess the intention here was to auto-enable it only for `native` but let users ability to enable it if needed for `disabled`.

[2022-10-19 07:54] sergeyshevch commented on #20554
Ok. I've found another workaround from a different side. If you enable prefix delegation, than all IP's will be attached to first interface (eth0) that also will solve the problem

[2022-10-19 08:14] nnbu commented on #21795
we could delete `LoadBalancerPMTUDiscovery` altogether. And define `ENABLE_DSR_ICMP_ERRORS` when DSR is enabled.

[2022-10-19 08:29] sahid commented on #21795
I would have kept it enabled by default and removed it from [0]

https://github.com/cilium/cilium/blob/master/daemon/cmd/daemon_main.go#L1288

[2022-10-19 09:34] Rid commented on #21541
ping @brb @aditighag would you be able to run the reproducer and let me know if it's reproducible?

[2022-10-19 09:53] sathieu opened #21801 "Document installation on vSphere"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

When installing cilium on a recent enough VMware hardware compatibility version (i.e >=15 or maybe >=14), cilium connectivity breaks because of hardware segmentation offload.

Symtoms:

`cilium-health status` has ICMP connectivity working, but not TCP connectivity. `cilium-health status` may al

[2022-10-19 10:34] pchaigno commented on #21262
In DSR mode, we don't SNAT anything AFAIK. The SYN packet can be a bit different because [it carries the service IP & port in the IP options](https://docs.cilium.io/en/stable/gettingstarted/kubeproxy-free/#dsr-mode) but it is not SNATed.

[2022-10-19 12:25] jnauska commented on #19816
If you are using k8s network tags in firewall rules then this is an issue in GKE.

As Cilium doesn't have the permissions to patch the system:node by default, the firewall rules which are relying on the tag won't work.

[2022-10-19 15:34] #21546 closed

[2022-10-19 18:17] chancez opened #21813 "Kafka L7 visibility policy causes connection errors due to parser errors"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

When using Kafka L7 visibility policies, I'm seeing my Kafka consumers get disconnected roughly every 30-60 seconds. I enabled debug logging and verbose envoy logs and was able to find the error related to the disconnect, it seems the Kafka parser is encountering an error and closing the connec

[2022-10-19 18:29] aanm commented on #21813
test

[2022-10-19 18:49] chancez opened #21814 "Cilium L7 HTTP visibility policy causes "Connection reset reset reason: overflow" with high request volume"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

When I was updating my application to increase it's request rate I had an "off by 1000" error, so it ended up sending a ton more requests than intended, and as a result I started seeing the following errors:
[code]

This seems to be caused by envoy's default circuit breaker which has a limit of

[2022-10-19 18:59] gawsoftpl opened #21815 "2 clusters + clustermesh + Istio = no healthy endpoints"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

My environment has 2 clusters connected with cilium clustermesh.

1. Cluster 1 + istio
2. Cluster 2 + Istio

I added svc in both clusters. Problem is that when I run pod with istio sidecar in cluster 2 and I try to send a request to service in cluster 1 I received an error with: **no healthy en

[2022-10-19 21:31] amila-ku commented on #21121
I would like to work on this.

[2022-10-19 22:05] claneys commented on #12699
Hi,

Quite a long time since no update in this issue, but I ran into the same issue, or pretty much. As the cilium's configuration evolve, I assume that enable-bpf-masquerade flag is now enable-ipv4-masquerade and enable-ipv6-masquerade. My setup do not uses kube-proxy and I have the masquerade enabled when I hit the issue when I try by example to resolve a hostname from a Pod with `hostNetwork: t

[2022-10-19 23:20] MTRNord opened #21816 "Unclear behavior of a cilium policy with blocked internet egress"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

I have a cilium policy created using https://editor.cilium.io/ which generated this policy:

[matrix.yaml](https://github.com/cilium/cilium/files/9824927/matrix_buggy.txt)

In the editor, the representation shows this:

![image](https://user-images.githubusercontent.com/1374914/196821598-f1b235

[2022-10-20 09:33] dylandreimerink opened #21818 "Improve operator IPAM life-cycle management and test-ability"
While writing tests for #21526 I encountered some issues with the current code that causes goroutines involved with IPAM to never stop. This, along with the use of global variables makes testing this code harder than it has to be.

My suggestion is to make the following changes:
* Make `startSynchronizingCiliumNodes` into one or multiple Cells
  * Use hive.Lifecycle + hive.Hook to start the gorout

[2022-10-20 09:47] jose-ledesma opened #21819 "setting up cilium with ipv6 removes default ipv6 route if it was learned from router advertisement"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

When cilium enables ipv6 forwarding in systems which configuration is the default one for the network interfaces (i.e. `net.ipv6.conf.<interface>.accept_ra=1`)  the default route is lost if it was learned from router advertisement, leaving the node unable to communicate using IPv6

Similar issu

[2022-10-20 10:51] hxysayhi opened #21820 "Why the throughput of local Pod-to-Pod communication is less than remote pod-to-pod communication"
Environment description:
cilium version: 1.11.4
Routing mode: native routing
cilium status :
[code]

Testing with `qperf` and `netperf`, we get similar results.
The following is the test data obtained by using `qperf `to test.
Using `qperf` to test, the test duration is  60 seconds, and when the test msg_size is 1k.  We tested on different infrastructures. The communication throughput between node

[2022-10-20 12:21] sahid commented on #21262
Right my mistake, not sure why I had stick this in my head. The point is to have the remote backend replying and the ICMP error directed to it when generated from the networking equipment.

[2022-10-20 12:22] sahid commented on #21262
Thinking out loud, for the native SNAT mode (opposite to any DSR mode), we could certainly just skip SNATing the ICMP Error packet arriving as no reply is expected, that would certainly be better than the original proposal to make the node itself handling it.

[2022-10-20 17:01] dctrwatson opened #21823 "endpoint regeneration stuck on key allocation"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

Endpoints get stuck in `waiting-to-regenerate` because they cannot allocate a key.

Restarting cilium agent fixes the issue.

### Cilium Version

`1.12.3 1c466d2 2022-10-12T11:33:37+01:00 go version go1.18.6 linux/amd64`

### Kernel Version

`5.15.0-1017-aws`

### Kubernetes Version

`Server Ve

[2022-10-20 17:15] joestringer commented on #21823
Thanks for the report. In general there is the possibility for two nodes to attempt to allocate the same identity at the same time if pods are deployed on two different nodes, however we would expect that when there is a key allocation failure the Cilium instance that attempts the creation second will pick another numeric identity. That fallback logic does not appear to be happening here, which is

[2022-10-20 17:43] dctrwatson commented on #21823
It was 4 nodes that all failed `attempt=0`, 2 nodes that failed `attempt=1`, and 1 node that just stopped trying after `attempt=1`

We use k8s CRDs for identity allocation.

[2022-10-20 18:07] chancez commented on #21390
I was just looking at how to run the ingress without a LoadBalancer service as well and found this issue. I agree that it would be nice if we could configure some hostPorts for envoy to listen on at all times, then a user could direct traffic to these hostPorts through whatever mechanisms they have available in their environment.

[2022-10-20 19:37] nicjohnson145 opened #21826 "Cilium agent in CrashloopBackoff with "Unauthorized" error"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

When scaling out additional control plane nodes, the agent pods on the joining nodes will go into CrashloopBackoff with an "Unauthorized" error. After ~45-60 minutes, the issue will resolve itself and all cilium pods will go healthy.

### Cilium Version

v1.11.10

### Kernel Version

Linux nicg

[2022-10-20 21:03] amila-ku commented on #21121
/assign

[2022-10-20 23:34] aditighag commented on #21816
@MTRNord Can you share the full policy spec in question?

You can try to upload a sysdump from one of the nodes where you think the policy behavior is unexpected.

[2022-10-21 05:56] rverma-nsl commented on #16579
@joestringer Generating smaller SA is not an option since EMR generate them. It also works fine with AWS CNI and calico too. May be we can file a bug in upstream library which is enforcing this constraint in the cilium

[2022-10-21 06:35] binhnguyenduc opened #21829 "Cilium 1.12.2 or 1.12.3 cilium-agent crashloopbackoff on some nodes."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

Some cilium-agent failed to init daemon on some nodes, but init on other nodes. The nodes are identical.

I installed Kubernetes with Kubesphere (use kubeadm behind the scene). Have encountered the issue with physical nodes, as well as virtual machine (vSphere). In case of virtual machine, the

[2022-10-21 07:25] laurentdina commented on #21733
Thanks, I've already read the documentation. The peering works now. The problem was due to the multiple network interfaces on the host system. I had to manipulate the addresses and route tables of the Cilium host machine. It's also interesting that the Cilium Host interface uses the same IPv6 address as the first network interface. In my case, I wanted the BGP peering to go over the second one.

I

[2022-10-21 07:25] #21733 closed

[2022-10-21 09:11] alexbescond opened #21832 "CFP: Ability to defined Custom Entities in CiliumNetworkPolicy"
## Cilium Feature Proposal

Hi Folks, I create this Feature Request in response to the slack conversation [here](https://cilium.slack.com/archives/C1MATJ5U5/p1666257650191789).

**Is your feature request related to a problem?**

It is not really a problem, meaning we can do without, but having this feature will really help on the management of the CiliumNetworkPolicy.

**Describe the feature you'd

[2022-10-21 09:56] clementnuss commented on #21819
I'm having the exact same issue, if there is some guidance on how to address this that would be nice.

For additional context, I'm using 2 interfaces on my node, one for k8s-only traffic, the other for ipv6 connectivity. I wasn't expecting the ipv6-only interface to be modified 🤔

[2022-10-21 10:23] jose-ledesma commented on #21819
If you have control over the `sysctl` settings of the host, you can add to the `/etc/sysctl.conf` something like:
[code]

Because I have no control over the `sysctl` settings at the host level, I'm using the following hack to make it work (disclaimer, I'm using Helm to deploy Cilium):
[code]

[2022-10-21 10:36] dylandreimerink commented on #21716
Lets close this issue in favor of #21753

[2022-10-21 10:36] #21716 closed

[2022-10-21 10:41] dylandreimerink commented on #20836
This issue has since been back ported to v1.11 and is part of cilium >= [v1.11.9](https://github.com/cilium/cilium/releases/tag/v1.11.9). So we can close this issue.

[2022-10-21 10:41] #20836 closed

[2022-10-21 11:47] dylandreimerink commented on #21753
We don't want to set this configuration by default. Work is currently ongoing which will make it fairly easy to plumb settings like this from the CRDs to the GoBGP layer via annotations.

[2022-10-21 11:55] MTRNord commented on #21816
Thats the one in the [matrix.yaml](https://github.com/cilium/cilium/files/9824927/matrix_buggy.txt) file, which is also linked above.

That dump size is a single node (my cluster is a single node setup.). I can host it, probably on my nextcloud though

[2022-10-21 13:29] margamanterola commented on #4016
Mauricio stopped working on this after the acquisition by Microsoft. Removing the assignment. Thanks Mauricio for the work you did in getting this started!

[2022-10-21 13:32] ehausig opened #21834 "Incorrect env var name used in docs for Helm installation on Rancher Desktop"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

I followed the instructions for installing Cilium using Helm on Rancher Desktop (https://docs.cilium.io/en/stable/gettingstarted/k8s-install-helm/), but it did not work for Rancher Desktop 1.6.

After troubleshooting, I determined that the `--flannel-backend=none` flag (defined in the `override

[2022-10-21 14:43] binhnguyenduc commented on #21829
I have done some more digging and it seems to be some issue with setting up the cilium vxlan tunnel

[2022-10-21 14:46] travnewmatic commented on #20960
I can confirm the addition of that bit works:

This enabled me to get TLS passthrough working with ArgoCD ingress.  Never would have been able to figure this out on my own.  Thanks so much!

[2022-10-21 15:06] pchaigno opened #21844 "Remote node IP addresses kept in ipcaches when the node is removed"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

When the cluster is resized and a node is removed, its IP addresses are kept in the ipcache maps of other nodes. Those IP addresses are then overwritten when they are reallocated.

[code]

### Cilium Version

latest (4bafe1750f)

### Kernel Version

5.10.133 (Google COS)

### Kubernetes Version

[2022-10-21 15:31] aditighag commented on #21844
This behavior is mentioned in the overall improvement issue - https://github.com/cilium/cilium/issues/21725. Although the issue doesn't track individual work items, there can be other consumers of node events. We should evaluate if it's feasible to have a common place to identify stale nodes, and then propagate that information to the consumers.

[2022-10-21 15:36] pchaigno commented on #21844
Note in the present case, we receive a k8s event for the deleted node, so we should be able to clean the state based on that very easily.

[2022-10-21 15:36] nicjohnson145 commented on #21826
Tried to recreate again today, all DS and operator pods came up healthy, and after ~15 minutes began to get the same unauthorized errors as above

[2022-10-21 15:40] aditighag commented on #21844
From a cursory glance, that should already happen - https://github.com/cilium/cilium/blob/master/pkg/node/manager/manager.go#L633-L633. There are couple of checks that can skip the ipcache deletion though, but is that the case here?

[2022-10-21 16:36] qmonnet opened #21847 "Add date of last page edit to Cilium's documentation"
The documentation at https://docs.cilium.io/ have a commit reference in its footer, which tells from what Cilium commit the documentation was generated. However, it is global to the whole documentation, and does not really speak for the date of the last change on the document.

It would be nice to find a way to add this date, to reflect whether the page has been updated recently or whether it has

[2022-10-21 20:05] joestringer commented on #16579
@rverma-nsl sure, there's probably two different areas to explore further - one would be the upstream k8s library which enforces the constraint, then the other would be with Amazon for EMR to see whether they are aware of this constraint.

[2022-10-21 23:02] aanm opened #21852 "CI: [Travis] github.com/cilium/cilium/daemon/cmd panic: send on closed channel"
See in https://app.travis-ci.com/github/cilium/cilium/jobs/586349585
[code]

@joestringer This seems to have been caused by https://github.com/cilium/cilium/commit/4afbcc38ce91118f1cb4a9f715a268775cdf7f6e

[2022-10-22 00:10] #20636 closed

[2022-10-22 02:15] #20720 closed

[2022-10-22 02:15] #20667 closed

[2022-10-22 02:15] #19362 closed

[2022-10-22 11:38] m00lecule opened #21853 "EKS - Random connection reset by peer"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

Hello!

After running Cilium on EKS for 3 months we have noticed random issues that are correlated with network failures in Kubernetes. We are running Cilium alongside with kube-proxy. The issue is appearing as `Connection reset by peer` error.

I was looking for suggestions in https://docs.cil

[2022-10-23 02:16] #19257 closed

[2022-10-24 02:16] #20705 closed

[2022-10-24 02:16] #19747 closed

[2022-10-24 08:51] gandro opened #21858 "Remove deprecated `spec.eni.{min-allocate,pre-allocate,max-above-watermark}` parameters"
When we added Azure IPAM support in Cilum 1.7, we moved certain IPAM knobs (e.g. `spec.eni.pre-allocate/`) from `spec.eni` to `spec.ipam`. https://github.com/cilium/cilium/pull/10089/commits/cd24805873ad1baa1c23d26d96c8dbb4262be629

The following knobs have been deprecated since Cilium v1.7 and should be removed:

[code]

[2022-10-24 12:08] telmich commented on #21538
@samip5 Why would vxlan not work without IPv4? We are using VXLAN in other projects on IPv6 only networks.

[2022-10-24 13:39] samip5 commented on #21538
Because Cilium tries to do it over V4, in all cases.

[2022-10-24 14:28] dylandreimerink commented on #18250
I believe this issues has been resolved after a bug fix was created and backported to Cilium v1.11,  see #20836

[2022-10-24 14:28] #18250 closed

[2022-10-24 15:37] nicjohnson145 commented on #21826
The root cause of this was a mismatch in the RSA key pair for creating/validating service accounts on the initial controlplane node vs the joining controlplane nodes. The difference in timing was due to the timing of the connection being load balanced to a different controlplane node. As long as the connections went to the original node, everything was fine. The self-resolving is also accounted fo

[2022-10-24 15:37] #21826 closed

[2022-10-24 16:12] chancez opened #21870 "CFP: Hubble GRPC L7 visibility"
## Cilium Feature Proposal

**Is your feature request related to a problem?**

Currently the HTTP L7 visibility policies can be used to introspect gRPC, but it's not very useful because gRPC uses HTTP as a transport, and doesn't use it the same way you would use HTTP for a REST API. For example, gRPC response codes are not reflected in HTTP response codes, meaning the existing Hubble HTTP metrics

[2022-10-24 21:00] pchaigno opened #21872 "Expose SRv6 Status in `cilium status --verbose`"
We can probably follow the implementation for the host firewall (cf. https://github.com/cilium/cilium/pull/17165) and do the same for SRv6. The goal is to have a quick way to check that SRv6 is actually enabled and on what devices it runs.

The status should also state which encapsulation mode is being used (SRH vs. reduced).

[2022-10-24 22:14] reyvonger commented on #21829
same error on talos.dev

[2022-10-25 02:16] #20866 closed

[2022-10-25 02:17] #20812 closed

[2022-10-25 02:17] #20459 closed

[2022-10-25 02:42] rozen-dada opened #21873 "CiliumIdentity Out of Sync while using argocd"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

A bug happened! When i sync my application repository, all the deployments and services created successfully but one CiliumIdentity appeared and have status out of sync causing my whole application as out of sync.

### Cilium Version

I used DigitalOcean kubernetes Cluster

### Kernel Version

[2022-10-25 05:40] datavisorzhizhu commented on #19057
@dgiebert where is **clustermesh-apiserver-remote-cert** being used?

[2022-10-25 05:48] christarazi commented on #20678
Reopening due to [revert](https://github.com/cilium/cilium/pull/21477) of https://github.com/cilium/cilium/pull/21027.

[2022-10-25 07:22] binhnguyenduc commented on #21829
I have pinpointed the problem to be of the Linux kernel.

The kernel giving above error: Oracle Linux Server 7.9, with Unbreakable Enterprise Kernel 5.4.17-2136.311.6.1.el7uek.x86_64

The kernel where Cilium started without issue: Oracle Linux Server 7.9, with Unbreakable Enterprise Kernel 5.4.17-2136.304.4.2.el7uek.x86_64

[2022-10-25 08:44] #21482 closed

[2022-10-25 08:44] #21747 closed

[2022-10-25 08:58] phin1x commented on #20667
We resolved the issue. We enabled the hostfirewall but did not apply any network policies, so all network packages got dropped when the cilium agent was not running anymore. without the hostfirewall feature every works fine as expcected.

[2022-10-25 09:01] dgiebert commented on #19057
On cilium01 (and on the other cluster you will need to adapt that accordingly):
[code]

Using helm they should be set in the array:
[code]
Keep in mind that I did only test it using HelmChartConfig!

[2022-10-25 09:16] datavisorzhizhu commented on #19057
thanks a lot

[2022-10-25 12:44] joestringer opened #21876 "Support DSR with IPIP in CNI mode"
PR https://github.com/cilium/cilium/pull/18449 proposes to add support for DSR by encapsulating packets in IP. The motivation here is that the current DSR approach which uses IP options can lead to a situation where packets get dropped in the core of the network, because the routers don't support the IP options. In this case, the router sends this to the slow path which cannot handle the rate of t

[2022-10-25 12:50] brb commented on #21876
cc @julianwiedmann

[2022-10-25 13:03] obaranov1 commented on #21858
@gandro Do you mean they should be removed everywhere in the project?

[2022-10-25 13:55] pchaigno commented on #21737
Why is the traffic masqueraded if it's going through the tunnel? If the client pod is managed by Cilium, it's traffic destined to a pod on another node should be sent straight to the cilium_vxlan interface without going through masquerading. Is the client pod managed by Cilium?

IMO, it should never pick the CiliumInternalIP (i.e., cilium_host IP) for masquerading. That's an IP address specific to

[2022-10-25 14:14] liuxu623 commented on #21737
[code]

Because we didn't enable NodePort and externalIPs, if we access externalIP in a pod , cilium's eBPF will not handle.
Cilium's eBPF only handle service clusterIP in our environment, kube-proxy's iptables rule handle NodePort and externalIP.

[2022-10-25 15:34] pchaigno commented on #21737
Ah, right. So Cilium will pass the packet to the stack and kube-proxy will perform the DNAT. But why is the packet masqueraded? Once DNATed it should have a pod IP address as destination and that doesn't need masquerading since it will go through the tunnel. That's why I think there is a bug or config error w.r.t. the iptables-based masquerading.

[2022-10-25 16:09] liuxu623 commented on #21737
We must use masquerade, if we don't use masquerade, the server pod will direct reply to client pod.
But client pod access external ip, if reply packet source ip is server ip, it will drop packet.
So kube-proxy use masquerade to make reply packet source ip is external ip.

iptables
[code]

[2022-10-25 16:32] pchaigno commented on #21872
@Vishal-Chdhry Pretty much the same changes as in #17165 are needed but for `option.Config.EnableSRv6` instead of `option.Config.EnableHostFirewall`.

[2022-10-25 16:35] pchaigno commented on #21737
I suspect the only reason we need masquerading today is because we bypass the reverse-DNAT for the reply packet when it comes from cilium_vxlan and goes to the lxc device. cc @brb

[2022-10-25 17:58] feitnomore opened #21883 "NetworkPolicy egress strange behaviour."
I've got a local cluster running 1.24
[code]

I've installed Cilium 1.11.2 with the following steps:
[code]

After that I've also installed `Multus` to use Kubevirt with some network bridges.
Whenever I use `matchLabels` on my egress (can be podSelector or namespaceSelector), the rule doesn't work.
Here is an example that doesn't work:
[code]

And this example works (10.96.0.10 is ip of kube-dns s

[2022-10-25 19:12] sypakine opened #21884 "host firewall: duplicate policy verdict events"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

Problem:
Host firewall policies (https://docs.cilium.io/en/v1.12/policy/language/#host-policies) product duplicate policy verdict events. Reproduced on multiple versions.

Expect:
Single policy verdict event per flow

Actual:
Two (2) policy verdicts per flow

Reproduction:

1. Follow quick inst

[2022-10-25 19:25] joestringer commented on #21876
@ysksuzuki and I were discussing this today and took notes on some initial steps, he will reopen a fresh issue and update with the latest status from the PR and what remains to get this feature into the tree.

[2022-10-25 19:25] #21876 closed

[2022-10-26 04:51] timoreimann commented on #21482
Thanks for getting the fixed merged. 🎉

Is there an ETA when we can expect it to be released? Eagerly awaiting it since the bug affects large parts of our fleet at DigitalOcean and keeps us from upgrading to Cilium 1.11.

[2022-10-26 05:48] ysksuzuki commented on #18042
@danwent Here is the code we talked about today. It ignores the reserved identities including remote-node and kube-apiserver, and that leads to the problem reported in this issue. https://github.com/cilium/cilium/blob/e704d0c257a36fb807b08da4aa3a937aa61d409d/bpf/bpf_host.c#L454

I am trying to find out why this check was needed.

[2022-10-26 05:49] ysksuzuki commented on #18042
@borkmann Here is the code we talked about today. It ignores the reserved identities including remote-node and kube-apiserver, and that leads to the problem reported in this issue. https://github.com/cilium/cilium/blob/e704d0c257a36fb807b08da4aa3a937aa61d409d/bpf/bpf_host.c#L454

I am trying to find out why this check was needed.

[2022-10-26 07:32] devopslyf opened #21887 "Cilium pods fails to start"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

Cilium pods fails to start

### Cilium Version

1.11.7

### Kernel Version

Linux kubeadm-master-01 5.4.0-131-generic #147-Ubuntu SMP Fri Oct 14 17:07:22 UTC 2022 x86_64 x86_64 x86_64 GNU/Linux

### Kubernetes Version

Client Version: version.Info{Major:"1", Minor:"25", GitVersion:"v1.25.3", Gi

[2022-10-26 08:44] pchaigno commented on #21482
@timoreimann The next set of patch releases is planned for around mid-November.

[2022-10-26 12:18] timoreimann commented on #21482
@pchaigno thanks for the info. We had somewhat hoped that such a critical bug could perhaps expedite shipping a small patch release, but understand if that's not possible.

[2022-10-26 13:05] pchaigno commented on #21482
IIRC, the bug only happens if Kubernetes nodes are being added while the operator is starting, which is probably why we didn't get more reports from users. In any case, it's always possible to manually backport the fix to the latest v1.11 patch release and use that yourself.

[2022-10-26 14:30] liuxu623 commented on #21737
@pchaigno This case is not related with eBPF, we don't need consider eBPF, in this case cilium vxlan is the same as flannel vxlan.
I build a flannel test environment (CNI flannel vxlan, kube-proxy use iptables mode ), I found **flannel.1** ip addr scope is **global**.

[code]

When access service external ip in pod, iptables masquerade will choose **flannel.1** ip addr, it just like **cilium_host*

[2022-10-26 15:47] joestringer commented on #21852
:+1: initial triage is that the unit tests shut down the identity allocator and the ipcache in the wrong order that can trigger this race condition / crash. The identity allocator is not currently integrated into the main `Daemon.Close()` function so this only impacts the testsuite. We should be able to move identtiy allocator cleanup into that function.

[2022-10-26 16:46] ysksuzuki commented on #21876
As far as I looked at the PR, the remaining tasks are as follows.

1. Rebase
2. Fix some unresolved comments
3. Add pure IPIP option which doesn't rely on IP options

As for 3, we need to mention the limitation in docs and ensure that a backend port matches a service port as well. In the pure IPIP mode, the backend port matches a service port, because with the IP-in-IP encapsulation without IP opt

[2022-10-26 19:00] obaranov1 commented on #21858
/assign

[2022-10-26 20:39] tbalthazar commented on #16400
Here's a proposed fix, please let me know if that makes sense:
https://github.com/cilium/cilium/pull/21898

[2022-10-27 01:12] christarazi opened #21900 "`Marking identity for later deletion` spams the logs with the entire contents of the identity object"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

[code]

can be spammed (truncated) making the log file very hard to read.

### Cilium Version

`master`

### Kernel Version

n/a

### Kubernetes Version

n/a

### Sysdump

_No response_

### Relevant log output

_No response_

### Anything else?

It's probably sufficient to just print the numer

[2022-10-27 03:15] wenqiang0527 opened #21901 "bgp-control-plane withdrawing pod CIDR bug"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

kubernetes version: 1.25
cilium version : 1.21.1

bgp-control-plane: true
ipam: cluster-pool-v2beta

when operator assign two PodCIDRs to a node, if  node release them ,  the bgp-control-plane  withdrawing pod CIDR  only withdrawing one PodCIDR， it that a bug?

here is my test,
create many pods

[2022-10-27 04:26] ymmt2005 commented on #21876
I think Generic UDP Encapsulation (GUE) may be used to encapsulate
IPIP packets. GUE allows adding arbitrary security/private data
in the header so that we can avoid IP options.

GUE is also preferable to IPIP regarding network performance since
many network peripherals have optimizations for UDP packets.

https://datatracker.ietf.org/doc/html/draft-herbert-gue-01

[2022-10-27 05:36] Sandy7894 commented on #21752
Hi Team,

Can someone let me know if this is expected or is it some kind of bug (or) how to debug this further.

Thanks and Regards,
Sandeep.

[2022-10-27 05:44] Sandy7894 commented on #21752
@joestringer FYI..

[2022-10-27 07:15] r3pek commented on #20789
can we reopen this since it's still an issue?

[2022-10-27 07:45] liuxu623 commented on #21737
I found we can use `sysctl -w net.ipv4.conf.eth0.rp_filter=1 ` to reproduce this bug in any environment.

[2022-10-27 09:04] mhulscher commented on #20915
I just tested with cilium 1.12.3 and I can confirm that the problem is still present.

[2022-10-27 09:14] sayboras commented on #21710
This might be fixed as part of https://github.com/cilium/cilium/pull/21749.

[2022-10-27 15:52] Vishal-Chdhry commented on #21872
\assign

[2022-10-27 16:11] ysksuzuki commented on #21876
@borkmann and I were talking about this. He said that we should avoid using IP option because of the GRO perspective as well as the risk that Syn packets with IP option are dropped.  However, the limitation that service port and backend port have to be the same is critical in our use case. So I will create a CFP that suggests using tunneling technologies such as GENEVE,  GUE for DSR to lift the li

[2022-10-27 23:53] sayboras commented on #20960
:wave:

It's not supported right now, but this feature is overlapping with Gateway API spec (i.e. tls passthrough, TLSRoute), so we will tackle both together later.

[2022-10-28 02:43] tommyp1ckles opened #21905 "Remove non services v2 bpfmaps from bugtool"
Bugtool currently attempts to dump legacy maps lb4_services which haven't existed in several versions. Its probably pretty safe to remove those now.

[2022-10-28 02:59] wenqiang0527 commented on #21901
the code file pkg/bgpv1/gobgp/reconcile.go :  366

I  print sc.PodCIDRAnnouncements，like this:
l.Debugf("wwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwsc.PodCIDRAnnouncements: %v", sc.PodCIDRAnnouncements)

when the operator assign  PodCIDRs to that node, the logs:
[code]

looks like '{10.142.48.0/28 <nil>} {10.142.48.96/28 <nil>} {10.142.48.128/28 <nil>}' missing some attributes，if node release one of these

[2022-10-28 03:58] KimHyunTae-95 opened #21906 "Cilium Ingress Controller not working"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

I tried to use the cilium ingress controller. But I can't say for sure it's a bug, but it didn't work.
It created a Cilium ingress service IP and pinged the VIP, but a connection refused occurred when the curl command was executed.
Is there anyone who can help me?
Additionally, I am conducting

[2022-10-28 07:48] ti-mo opened #21907 "`R2 invalid mem access 'scalar'` on LLVM 14"
When building `bpf_lxc.c` with LLVM 14 and loading it on a 6.0.2 kernel, this error pops up loading `tail_rev_nodeport_lb4`:

[code]

[code]

[2022-10-28 10:44] babykart commented on #21873
Hi,

There is a piece of documentation about this : https://docs.cilium.io/en/stable/configuration/argocd-issues/#argo-cd-deletes-customresourcedefinitions.

My values of the argo-cd helm chart:

[code]

[2022-10-28 12:58] #19785 closed

[2022-10-28 14:31] austince opened #21914 "Images in RC Helm Charts are unpinned"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

Unlike other releases, the Helm charts for RC releases do not have pinned images but rather use `latest` for all cilium repos with a pull policy of `Always` (see [1.13.0-rc1](https://artifacthub.io/packages/helm/cilium/cilium/1.13.0-rc1?modal=values)). This essentially makes it impractical to u

[2022-10-28 14:57] JCzz commented on #21074
Just a note; this is still an issue if you are using external etcd.

[2022-10-28 16:17] jdef opened #21916 "sysctlfix doesn't properly flush/close the overrides file before restarting systemd-sysctl unit"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

problem code:
https://github.com/cilium/cilium/blob/master/tools/sysctlfix/main.go

we noticed flakey behavior on some hosts, where the `net.ipv4.conf.all.rp_filter` setting was not properly set to `0` even after the cilium agent init-containers ran. the generated override file seemed to be in

[2022-10-28 16:19] jdef commented on #21916
maybe related to #20437

[2022-10-28 18:25] Vishal-Chdhry commented on #21905
Hi! @tommyp1ckles I would love to work on this issue, can You please guide me a little on what I have to do?

[2022-10-28 19:02] aanm commented on #21916
Very nice finding indeed. @dylandreimerink it looks that https://github.com/cilium/cilium/blob/master/tools/sysctlfix/main.go#L75 should have been done before https://github.com/cilium/cilium/blob/master/tools/sysctlfix/main.go#L132. @jdef feel free to submit a PR :-)

[2022-10-28 20:13] jeff303 commented on #16146
Anyone have a workaround for this?

[2022-10-28 20:55] jdef commented on #21916
i've been waiting 2.5y for my company to approve a process by which I can push PRs. wish it was easier...

[2022-10-28 20:59] ya-makariy opened #21919 "keepDeprecatedProbes: true don't change startupProbe behavior"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

keepDeprecatedProbes: true don't change startupProbe behavior

If I use keepDeprecatedProbes: true option with cilium helm chart, I'm expect the same probes, but startupProbe doesn't have changes

https://github.com/cilium/cilium/blob/7cc3e3a3e2f60aba31d4985cb986c98bfc4dae34/install/kubernetes/

[2022-10-28 22:09] jcpunk opened #21921 "CFP: cilium-grafana chart"
## Cilium Feature Proposal

Thanks for taking time to make a feature request for Cilium! If you have usage questions, please try the [slack channel](http://slack.cilium.io/) and see the [FAQ](https://github.com/cilium/cilium/issues?utf8=%E2%9C%93&q=is:issue+label:kind/question+) first.

**Is your feature request related to a problem?**

Defining which metrics should be charted for cilium is a bit

[2022-10-29 07:23] oivindoh commented on #21680
@Zveroloff

Are you sure this is 1.25 and not cilium post 1.12.2? I’m seeing and trying to track down the source similar timeouts to external addresses (though to external addresses hosted in the same cluster via manually deployed metallb) on 1.12.3 currently, but not on 1.12.2. On k8s 1.24

[2022-10-29 15:11] yusufgungor commented on #21853
Hi, we face the similar issue. Is it realted with this https://kubernetes.io/blog/2019/03/29/kube-proxy-subtleties-debugging-an-intermittent-connection-reset/ ?

https://github.com/kubernetes/kubernetes/pull/74840/commits/a07169bcadf3c35ff456c17bed970ccbca0963cb

[2022-10-30 02:16] #20908 closed

[2022-10-30 02:16] #20907 closed

[2022-10-30 02:16] #20906 closed

[2022-10-30 02:16] #20905 closed

[2022-10-30 02:16] #20904 closed

[2022-10-30 02:16] #20888 closed

[2022-10-30 04:28] ArthurChiao commented on #20878
Another problem regarding the Cilium bandwidth manager is that, if first enable it then disable it, the MQ/FQ qdisc will be left, instead of restoring to the default qdisc (e.g. `pfifo_fast` for physical NIC, or `noqueue` for Linux bond).

One of the side effects is that pods with elephant flows may be throttled, as FQ try to guarantee flow-level faireness for all the pods on the node, which may n

[2022-10-31 03:37] sayboras opened #21923 "CFP: Support ParametersReference in GatewayClass"
## Cilium Feature Proposal

The first cut for Gateway API was done in https://github.com/cilium/cilium/pull/21749, however, we have a couple of follow-up tasks to support more features from Gateway API upstream.

This issue is to track the work of implementing different GatewayClass configurations. As suggested by [upstream], ConfigMap is preferred compared to custom resources.

- [x] GatewayClass

[2022-10-31 03:46] sayboras opened #21924 "CFP: Support for more HTTP filters in Gateway API"
## Cilium Feature Proposal

The first cut for Gateway API was done in https://github.com/cilium/cilium/pull/21749, however, we have a couple of follow-up tasks to support more features from Gateway API upstream.

This issue is to track the work of implementing different HTTP Filters such as RequestRedirect, URLRewrite, RequestMirror, etc.

## Propose Solutions

## Goals

Users can fully use all th

[2022-10-31 05:00] sayboras opened #21925 "CFP: Support TLS passthrough mode in Gateway API"
## Cilium Feature Proposal

The first cut for Gateway API was done in https://github.com/cilium/cilium/pull/21749, however, we have a couple of follow-up tasks to support more features from Gateway API upstream.

This issue is to track the work of implementing TLS passthrough in Cilium Gateway API support. By default, Cilium Gateway will perform TLS termination (i.e. the request from a gateway to

[2022-10-31 05:12] sayboras opened #21926 "CFP: Investigate if it's possible to support GatewayAddress in Gateway API"
## Cilium Feature Proposal

The first cut for Gateway API was done in https://github.com/cilium/cilium/pull/21749, however, we have a couple of follow-up tasks to support more features from Gateway API upstream.

This issue is to track the work of supporting GatewayAddress in Gateway resources. The current design is to just offload this to Cloud Provider by creating LoadBalancer service type i.e.

[2022-10-31 05:17] sayboras opened #21927 "CFP: Support TLSRoute in Cilium Gateway API"
## Cilium Feature Proposal

The first cut for Gateway API was done in https://github.com/cilium/cilium/pull/21749, however, we have a couple of follow-up tasks to support more features from Gateway API upstream.

This is to track the work to support [TLSRoute](https://gateway-api.sigs.k8s.io/references/spec/#gateway.networking.k8s.io/v1alpha2.TLSRoute)

## Goals

To implement [TLSRoute](https://ga

[2022-10-31 05:18] sayboras opened #21928 "CFP: Support GRPCRoute in Cilium Gateway API"
## Cilium Feature Proposal

The first cut for Gateway API was done in https://github.com/cilium/cilium/pull/21749, however, we have a couple of follow-up tasks to support more features from Gateway API upstream.

This is to track the work to support [GRPCRoute](https://gateway-api.sigs.k8s.io/api-types/grpcroute/).

## Goals

Based on the progress and code re-usability introduced in [TLSRoutes](ht

[2022-10-31 05:19] sayboras opened #21929 "CFP: Support TCPRoute in Cilium Gateway API"
## Cilium Feature Proposal

The first cut for Gateway API was done in https://github.com/cilium/cilium/pull/21749, however, we have a couple of follow-up tasks to support more features from Gateway API upstream.

This is to track the work to support [TCPRoute](https://gateway-api.sigs.k8s.io/references/spec/#gateway.networking.k8s.io/v1alpha2.TCPRoute)

## Goals

TBD

## Proposed Solution

TBD

##

[2022-10-31 05:22] sayboras opened #21930 "CFP: Support UDPRoute in Cilium Gateway API"
## Cilium Feature Proposal

The first cut for Gateway API was done in https://github.com/cilium/cilium/pull/21749, however, we have a couple of follow-up tasks to support more features from Gateway API upstream.

This is to track the work to support [TLSRoute](https://gateway-api.sigs.k8s.io/references/spec/#gateway.networking.k8s.io/v1alpha2.UDPRoute)

## Goals

TBD

## Proposed Solution

TBD

##

[2022-10-31 08:54] Zveroloff opened #21931 "CFP:"
## Cilium Feature Proposal

Thanks for taking time to make a feature request for Cilium! If you have usage questions, please try the [slack channel](http://slack.cilium.io/) and see the [FAQ](https://github.com/cilium/cilium/issues?utf8=%E2%9C%93&q=is:issue+label:kind/question+) first.

**Is your feature request related to a problem?**

No, feature request is not related to a problem

**Describe t

[2022-10-31 09:16] rozen-dada commented on #21873
Hello babykart, I did not use helm chart to deploy the application, I just used argocd and map the repository directory and then ciliumidentity occurs. It only occurs on one repository but did not appear in another repository

[2022-10-31 10:20] pchaigno commented on #21844
I confirmed that commit 454df0c065bd94aa30a9d703732d64a24d3b6073 introduced this bug. I'll send a fix.

[2022-10-31 10:21] pchaigno commented on #15283
I believe bug https://github.com/cilium/cilium/issues/21844 has caused an increase of these debug messages, specifically for former remote-node IP addresses:
[code]

https://github.com/cilium/cilium/issues/21844 was introduced by 454df0c065bd94aa30a9d703732d64a24d3b6073 (Jun. 2022), so it doesn't explain the first report of this debug message (Mar. 2021).

[2022-10-31 10:26] #20655 closed

[2022-10-31 11:10] #19282 closed

[2022-10-31 12:52] Shunpoco opened #21935 "Docs: need to remove `RUNTIME=docker` in dev_setup document"
Hi Cilium developers,

During trying to build a local vagrant environment, I realized that we can't use `RUNTIME=docker` option any longer and the default value became `containerd` since https://github.com/cilium/cilium/pull/19545.
However, [the document](https://docs.cilium.io/en/latest/contributing/development/dev_setup/#configuration-options) is not updated.

![Screenshot from 2022-10-31 21-49-

[2022-10-31 12:53] Shunpoco commented on #21935
Can I fix this issue by myself?

[2022-10-31 13:03] sayboras commented on #21710
As #21749 is merged, we can monitor this issue for some more time.

[2022-10-31 13:39] wu0407 opened #21936 "CFP: need reset backoff period in pkg/backoff"
## Cilium Feature Proposal

**Is your feature request related to a problem?**

In https://github.com/cilium/cilium/pull/21473 import exponential backoff when pool maintanance fails, but it not reset the backoff when node not occur error in `MaintainIPPool` for long period of time.  so many times node failed `MaintainIPPool` it alawys backoff 5min.

**Describe the feature you'd like**

Include any

[2022-10-31 14:10] xmulligan opened #21938 "docs: search doesn't work in mobile"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

I’m unable to search at [docs.cilium.io](http://docs.cilium.io/) from my iPhone using safari, google or Firefox.
The link with the three lines to bring up the side menu with the search bar sits behind the cilium and GitHub stars window.

![image](https://user-images.githubusercontent.com/290488

[2022-10-31 14:43] tommyp1ckles commented on #21905
Hi @Vishal-Chdhry, great, no problem.

[Bugtool](https://docs.cilium.io/en/v1.12/cmdref/cilium-bugtool/) is a utility we package with Cilium to help dump debug info.

It basically runs a bunch of various other cilium [commands](https://github.com/cilium/cilium/blob/master/bugtool/cmd/configuration.go) and other system tools and collects the output. One of the things that we do is dump bpf maps usi

[2022-10-31 14:59] xmulligan commented on #20712
@sandipanpanda is working on this in #21374

[2022-10-31 17:39] ReillyBrogan commented on #19282
I don't see any reason why this couldn't be backported to the stable branches as well.

[2022-10-31 20:27] allpossumsarewaterpossums opened #21944 "CFP: Davidthomasjennison@icloud.com"
Cilium Feature Proposal

Thanks for taking time to make a feature request for Cilium! If you have usage questions, please try the [slack channel](http://slack.cilium.io/) and see the [FAQ](https://github.com/cilium/cilium/issues?utf8=%E2%9C%93&q=is:issue+label:kind/question+) first.

Is your feature request related to a problem?**

If so, please describe the problem

Describe the feature you'd lik

[2022-10-31 20:46] pchaigno opened #21945 "Support multiple native routing CIDRs"
The `ipv{4,6}native-routing-cidr` flags currently support a single CIDR. That may however not always be enough, for example if a user wants to avoid masquerading traffic going to multiple non-contiguous CIDRs (e.g., some VPC + pod CIDR).

This flag is currently compiled into a simple check, hardcoded in the BPF code. To support multiple CIDRs, we would have to switch to an LPM map where we would p

[2022-10-31 22:30] wedaly commented on #21945
This could be useful for AKS deployments, since AKS allows users to create [multiple nodepools in different, non-contiguous subnets](https://learn.microsoft.com/en-us/azure/aks/use-multiple-node-pools#add-a-node-pool-with-a-unique-subnet).

[2022-10-31 22:35] sayboras commented on #21925
Closed this one as this is part of TLSRoute support #21927

https://gateway-api.sigs.k8s.io/guides/tls/

[2022-10-31 22:36] #21925 closed

[2022-11-01 02:16] #19314 closed

[2022-11-01 03:21] sayboras commented on #21710
the issue is still happening in below run.

https://github.com/cilium/cilium/actions/runs/3364280585/jobs/5578447338

[2022-11-01 03:28] youngnick commented on #21710
I agree there's a good chance of a collision here with the Gateway API logic which dictates 503s for no match.

[2022-11-01 03:58] youngnick commented on #21390
I agree that this would be a great feature, but I think the problems we need to incorporate solutions for into a design are:
- How do you request the behavior, and target specific ports? For Ingress, this will need to be annotations, but we should really also be thinking about how to do a similar thing for Gateway API objects (which is harder because they include the port the _client_ should conne

[2022-11-01 07:15] sayboras commented on #21944
seems like this is open by mistake, I am closing this. Please feel free to create another CFP.

[2022-11-01 07:15] #21944 closed

[2022-11-01 07:21] billyxue opened #21946 "l4lb-xdp support primary standby with priorities"
## Cilium Feature Proposal

Thanks for taking time to make a feature request for Cilium! If you have usage questions, please try the [slack channel](http://slack.cilium.io/) and see the [FAQ](https://github.com/cilium/cilium/issues?utf8=%E2%9C%93&q=is:issue+label:kind/question+) first.

**Is your feature request related to a problem?**

If so, please describe the problem

**Describe the feature yo

[2022-11-01 08:43] gandro commented on #15283
Unrelated to Paul's comment: I agree with the original sentiment, that the message can be quite spammy. I think the biggest offender is due to a conceptual mismatch between Hubble and the datapath: https://github.com/cilium/cilium/issues/14427

I wonder if we somehow could filter out messages caused by #14427 and leave the rest in place. It should then only be emitted temporarily when an identity

[2022-11-01 09:39] mantoine96 opened #21948 "runtime: program exceeds 10000-thread limit"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

In a newly deployed cluster, running v1.12.3, I see some Cilium-agents pods regularly restarting due to thread exhaustion. This is causing disruption since we are leveraging L7 policies / DNS Proxy.

### Cilium Version

v1.12.3

### Kernel Version

5.4.209-116.367.amzn2.x86_64

### Kubernetes V

[2022-11-01 09:58] aanm commented on #21948
The provided sysdump seems to belong to Cilium version `quay.io/cilium/cilium:v1.10.9` and not the version mentioned in the issue description.

[2022-11-01 10:00] #16400 closed

[2022-11-01 10:11] mantoine96 commented on #21948
Oh sorry @aanm I messed up and uploaded the wrong sysdump. I added a link with the correct sysdump (I couldn't upload it directly on GitHub as it is around 35MB)

[2022-11-01 10:54] aanm commented on #21948
Can you provide all of the cilium logs from the previous container?

[2022-11-01 15:00] brb opened #21954 "Reply from pod to outside is dropped when L7 ingress policy is used"
This issue is about an L7 ingress policy problem a when a pod is reached directly from outside client / via a NodePort BPF service.

Let's consider the following L7 netpol:
[code]

When the netpol is applied, accessing the `echo` pod from outside the cluster fails with:
[code]
The drop is triggered by https://github.com/cilium/cilium/blob/v1.12.3/bpf/bpf_host.c#L626.

What happens is that the L7 p

[2022-11-01 15:06] brb opened #21955 "NodePort BPF with L7 netpol is broken for N/S when request is sent to node running SVC backend"
First issue is https://github.com/cilium/cilium/issues/21954. The second issue is that the L7 proxy will do the TCP handshake on behalf of the pod meaning that all replies to an outside client won't be rev-DNAT-ed (bpf_lxc is doing rev-DNAT for NodePort BPF). To fix this we should move the rev-DNAT to `bpf_host @ eth0`, as it was suggested by https://github.com/cilium/cilium/pull/17504.

The bonus

[2022-11-01 15:09] mantoine96 commented on #21948
Sure @aanm , just added [the logs](https://github.com/cilium/cilium/files/9911188/logs.json.tar.gz) to the issue.

[2022-11-01 15:09] dylandreimerink opened #21956 "CI: TestPodCIDRAllocatorOverlap"
The TestPodCIDRAllocatorOverlap test seems to be flakey.

https://app.travis-ci.com/github/cilium/cilium/jobs/587084359

[code]

This test mocks out the API server in order to test that the Pod CIDR allocator doesn't assign overlapping pod CIDRs when initialing(a regression test). The test currently uses a timeout, if the allocator hasn't updated the CiliumNode objects in the mocked API server whe

[2022-11-01 15:28] slayer321 commented on #21368
Hey @brb , is the issue still relevant or it is solved ?

[2022-11-01 15:53] aanm commented on #21948
Can you check what is your max DNS requests in flight? Once you have that number can you set it as a value for the flag `dnsproxy-concurrency-limit` in the cilium-agent? I would also suggest to check why the upstream DNS is taking so much time to reply for DNS requests.

If it happens again it would be good to have a pprof CPU trace.

[2022-11-01 16:11] brb commented on #21955
`bpf_lxc` is doing the rev-DNAT via the tailcall which you linked in your comment. The problem with the L7 proxy reply path is that it doesn't involve bpf_lxc, so nobody can do the rev-DNAT.

[2022-11-01 16:36] pchaigno commented on #21955
I think that would be a good thing in any case:
1. By doing this, we ensure the Linux stack sees consistent IPs & ports for forward and reply traffic. It's less likely to drop packets because the connection looks invalid (e.g., forward is DNATed but not reply).
2. By moving DSR to bpf_host, it will also make it easier to pipe the DSR information from e.g. a tunnel (IPIP or GENEVE) that we decapsul

[2022-11-01 16:42] brb commented on #21368
@slayer321 It's no longer an issue. Sorry for forgetting to update the issue.

[2022-11-01 16:42] #21368 closed

[2022-11-01 16:54] brb commented on #21955
One more:

3. Fixes N/S for service endpoints running in a host netns.

[2022-11-01 18:40] jcpunk opened #21958 "[DOC] Monitoring & Metrics page has incomplete/inaccurate data"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

from: https://docs.cilium.io/en/stable/operations/metrics/

The helm chart, however, has:

[code]

Which shows the annotation is only enabled in some cases.

### Cilium Version

1.12.3

### Kernel Version

This is a documentation issue, local software doesn't seem relevant.

### Kubernetes Vers

[2022-11-01 20:02] joestringer opened #21959 "How to use an admission webhook with Cilium?"
Q: [Admission webhooks](https://kubernetes.io/docs/reference/access-authn-authz/extensible-admission-controllers/#best-practices-and-warnings) require network access to the kube-apiserver. In certain environments, this may not be available by default. How can users implement admission controllers in a Cilium-managed Kubernetes cluster?

* A: Use hostNetwork for admission hook pods
* A: Use native

[2022-11-01 20:02] #21959 closed

[2022-11-01 23:05] pchaigno opened #21961 "SRv6: Set the outer IPv6 flowlabel hash"
The IPv6 flowlabel field can be used by NICs for RSS. In SRv6 encapsulation, this is crucial as most NICs likely will only be able to use the outer IPv6 header to pick the queue, so without a flowlabel, all packets with the same outer IP addresses will end up on the same queue.

From @YutaroHayakawa:

I think we can follow the way of kernel implementation.
https://github.com/torvalds/linux/commit/

[2022-11-02 03:13] dbanetto commented on #21186
Bump?

[2022-11-02 03:23] sunnoy opened #21963 "CiliumClusterwideNetworkPolicy not working"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

i apply the CiliumClusterwideNetworkPolicy

[code]

but i from other node in clueter and it's ip not in 11.0.0.0/16,can curl k3s-2:2049

### Cilium Version

Client: 1.12.2 c7516b9 2022-09-14T15:25:06+02:00 go version go1.18.6 linux/amd64
Daemon: 1.12.2 c7516b9 2022-09-14T15:25:06+02:00 go versi

[2022-11-02 04:35] slayer321 commented on #21961
Hey @pchaigno , I did like to work on this issue.

[2022-11-02 07:03] christarazi commented on #4612
Closing as we haven't seen this in a long time.

[2022-11-02 07:03] #4612 closed

[2022-11-02 08:44] pchaigno commented on #21961
@slayer321 Go ahead. Please keep in mind though that the main item of work here is to confirm that `skb->hash` is set when we perform the SRv6 encapsulation in the datapath. That will require running Cilium with IPv6 enabled and adding BPF debug logs.

[2022-11-02 10:36] #21935 closed

[2022-11-02 11:58] joamaki commented on #21682
Still haven't been able to reproduce this.

[2022-11-02 11:59] joamaki commented on #21709
Duplicate of https://github.com/cilium/cilium/issues/21852.

[2022-11-02 11:59] #21709 closed

[2022-11-02 12:10] joamaki opened #21964 "CI: [Travis] pkg/alibabacloud/eni unit test is flaky"
Observed in: https://app.travis-ci.com/github/cilium/cilium/jobs/587322013.

[code]

Reproducible locally with:

`go test ./pkg/alibabacloud/eni -test.v -test.count 100 -race 2>&1 | tee /tmp/eni-test.log`

Judging from logs, it appears there are appears to be a background goroutine doing work
after the test has finished (likely the "ipam-node-manager-resync" from ipam.NewNodeManager),
which might

[2022-11-02 12:21] joamaki commented on #21964
Ping @jaffcheng. You've recently fixed a bug related to this. Would you have an idea what's going on?

[2022-11-02 13:00] MrFreezeex opened #21965 "Policy to access localhost doesn't work"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

I have been testing cilium network policy lately and stumbled upon both the echo live on this subject (https://hackmd.io/@Echo-Live/040) and a blog post https://medium.com/@charled.breteche/kubernetes-security-explore-cilium-host-firewall-and-host-policies-de93ea9da38c also referenced in echo.

[2022-11-02 13:42] qmonnet opened #21967 "CI: [GKE 1.11] Timeout while waiting for Cilium to become ready, signal: killed"
### Test Name

[code]

Error occurred on two different runs for the job, once for each of the tests above

Observed on [v1.11 backport PR](https://github.com/cilium/cilium/pull/21810)

### Failure Output

[code]

### Stack Trace

[code]

### Standard Output

[code]

### Standard Error

[code]

### Logs

[code]

### Resources

- Jenkins URL: https://jenkins.cilium.io/job/Cilium-PR-K8s-GKE/9170/cons

[2022-11-02 14:05] qmonnet opened #21969 "CI: [v1.12] K8sUpdates Tests upgrade and downgrade from a Cilium stable image to master: DNS entry is not ready after timeout"
### Test Name

[code]

- [v1.12 backport PR](https://github.com/cilium/cilium/pull/21809)
- K8s 1.18
- Kernel 4.9

### Failure Output

[code]

### Stack Trace

[code]

### Standard Output

[code]

### Standard Error

[code]

### Resources

- Jenkins URL: https://jenkins.cilium.io/job/Cilium-PR-K8s-1.18-kernel-4.9/2268/execution/node/126/log/?consoleFull
- ZIP file(s): [01d7d777_K8sUpdates_Tests_up

[2022-11-02 14:16] qmonnet opened #21970 "CI: [v1.12] K8sServicesTest Checks E/W loadbalancing (ClusterIP, NodePort from inside cluster, etc): cannot curl, command terminated"
### Test Name

[code]

- [v1.12 backport PR](https://github.com/cilium/cilium/pull/21809)
- K8s 1.22
- Kernel 4.9

### Failure Output

[code]

### Stack Trace

[code]

### Standard Output

[code]

### Standard Error

<details><summary>Click to unfold</summary>

[code]
</details>

### Resources

- Jenkins URL: https://jenkins.cilium.io/job/Cilium-PR-K8s-1.22-kernel-4.9/324/
- ZIP file(s):
   - [225

[2022-11-02 16:18] nbusseneau opened #21978 "race: between `pkg/metrics.CreateConfiguration()` and `pkg/controller.(*Manager).updateController()`"
Observed in: https://jenkins.cilium.io/view/Race%20Detection/job/cilium-master-k8s-1.25-kernel-net-next-race-detection/366/

Artifacts: [ef5ca129_K8sDatapathServicesTest_Checks_N-S_loadbalancing_Tests_with_XDP,_direct_routing,_DSR_and_Maglev.zip](https://github.com/cilium/cilium/files/9922282/ef5ca129_K8sDatapathServicesTest_Checks_N-S_loadbalancing_Tests_with_XDP._direct_routing._DSR_and_Maglev.z

[2022-11-02 16:33] nbusseneau opened #21979 "CI: `K8sDatapathConfig Host firewall With VXLAN` on K8s 1.24 / Kernel 4.19: `host EP is not ready`"
### Test Name

[code]

### Failure Output

[code]

### Stack Trace

[code]

### Standard Output

[code]

### Standard Error

[code]

### Resources

- Jenkins URL: https://jenkins.cilium.io/job/cilium-master-k8s-1.24-kernel-4.19/3494/
- ZIP file(s): [94d9c940_K8sDatapathConfig_Host_firewall_With_VXLAN.zip](https://github.com/cilium/cilium/files/9922420/94d9c940_K8sDatapathConfig_Host_firewall_With_

[2022-11-02 16:49] nbusseneau commented on #21979
It is possible this was introduced by #21539.

[2022-11-02 16:53] pchaigno commented on #21979
It's a complexity issue:
[code]
from https://jenkins.cilium.io/job/Cilium-PR-K8s-1.24-kernel-4.19/733/testReport/junit/Suite-k8s-1/24/K8sDatapathConfig_Host_firewall_With_VXLAN/

[2022-11-02 18:46] anfernee commented on #21979
@pchaigno what is the general guideline for this kind of complexity issue? It is pretty annoying because eventually we are not able to add anything at some point, right?

[2022-11-02 19:05] pchaigno commented on #21979
@anfernee We have several short to long term solutions available (e.g., https://github.com/cilium/cilium/pull/19818 as a medium term solution), but they need people to also invest time on techdebt and not only ship features. Not always easy to convince folks to do that :sweat_smile:

[2022-11-02 21:04] DanOfir opened #21982 "Slow startup time"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

After upgrading from Cilium 1.11.3 to 1.11.10, we started to have a long startup time for the agent, ~4-5 minutes which also makes the node to be unavailable during this boot time. it's very sporadic, not happening to all agents, but it does happen for the majority of them.

### Cilium Version

[2022-11-02 22:28] joestringer opened #21983 "CFP: Document how to disable Cilium init containers"
Cilium has various init containers to, for instance:
- Configure cloud node taints
- Mount the cgroup filesystem
- Configure systemd

Ideally each of these steps should be documented in the [System Requirements](https://docs.cilium.io/en/stable/operations/system_requirements/). If users choose to handle these platform configuration steps out-of-band directly in their systems, then it should be pos

[2022-11-03 02:04] jxdn opened #21984 "Issue on GKE with calico"
Hi I have A kubernetes cluster (GKE) running with calico in GCP.

Iam following the guides on <https://docs.cilium.io/en/v1.12/gettingstarted/cni-chaining-calico/> , and iam deploying the cilium with
`helm install cilium cilium/cilium --version 1.12.3   --namespace=kube-system   --set cni.chainingMode=generic-veth   --set cni.customConf=true   --set cni.configMap=cni-configuration   --set tunnel=d

[2022-11-03 02:06] jxdn commented on #21984
![image](https://user-images.githubusercontent.com/36805254/199635230-f12fe658-0b7c-4058-b09b-e0d2bbb6bcc9.png)

[2022-11-03 06:37] jaffcheng commented on #21964
I'll look into this later this week.

[2022-11-03 08:01] ti-mo commented on #21964
This was hit by https://github.com/cilium/cilium/pull/21833.

[2022-11-03 08:03] #20743 closed

[2022-11-03 08:26] ti-mo commented on #20981
@agrevtcev Could you check if `/proc/schedstat` is readable in your environment? (on my host it's 0444, so doesn't require any permissions -- for now) I wasn't aware of this issue here. Porting `cilium-probe-kernel-hz` from C to Go has been on my list for a while.

Meanwhile, I got the Go port ready: https://github.com/cilium/cilium/pull/21833. I'd like to revert mounting /boot (https://github.com

[2022-11-03 09:50] pchaigno commented on #21453
Reopening given the fix was reverted due to a BPF complexity regression.

[2022-11-03 10:26] withinboredom opened #21986 "[docs] Document enabling ping with host firewall"
## Cilium Feature Proposal

Currently, the docs [show how to allow a port](https://docs.cilium.io/en/stable/gettingstarted/host-firewall/#apply-a-host-network-policy), but once that is applied, ICMP packets are also dropped. This may not always be desirable, and locating how to enable ICMP packets is [is quite the adventure](https://docs.cilium.io/en/stable/policy/language/#example-icmp-icmpv6).

[2022-11-03 12:05] jaffcheng commented on #21964
@joamaki  Thanks for the investigation! I've sent a PR to fix this, please take a look.

[2022-11-03 16:31] joestringer commented on #21984
Cilium does not have any error like `cannot find a qualified ippool`:

[code]

It looks like maybe Calico is returning this error, so you would need to follow up with the Calico folks.

[2022-11-03 16:45] julianwiedmann opened #21991 "CFP: Limit DSR via IPv6 Extension Header to TCP-SYN"
## Cilium Feature Proposal

**Describe the feature you'd like**

The IPv4 LB code [implements](https://github.com/cilium/cilium/blob/4b78c1e60d113fc081cdecffa1a9617bcd44cfd2/bpf/lib/nodeport.h#L1306) an optimization, where it adds the DSR IP Option only to TCP-SYN packets.

Looks like we didn't add this to the IPv6 [path](https://github.com/cilium/cilium/blob/4b78c1e60d113fc081cdecffa1a9617bcd44cf

[2022-11-03 16:46] julianwiedmann commented on #21991
cc @brb

[2022-11-03 19:58] joestringer commented on #18652
Reopening due to discussion during 2022-11-02 Cilium community meeting. [Notes](https://docs.google.com/document/d/1Y_4chDk4rznD6UgXPlPvn3Dc7l-ZutGajUv1eF0VDwQ/edit#bookmark=id.5qr67djxfwky).

[2022-11-03 20:01] joestringer commented on #21450
@bharitwal sure, I'll assign you.

[2022-11-03 20:14] christarazi opened #21992 "API rate limiter reports `endpoint not found` incorrectly at times"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

I noticed in the logs that when I trigger deletions of pods, sometimes the API rate limiter returns `endpoint not found`, but this doesn't quite make sense because the pods are created and managed by Cilium. We should investigate why it is reporting `endpoint not found` because it's definitely

[2022-11-04 00:42] joestringer opened #21993 "CI: ingress-conformance-test-shared: An Ingress with no rules should send all requests to the default backend: expected status code 200 but 503 was returned"
The following test [may fail on master branch](https://github.com/cilium/cilium/actions/workflows/conformance-ingress-shared.yaml?query=is%3Afailure+branch%3Amaster). Workflow is `ingress-conformance-test-shared`

At a glance it seems like there is roughly one failure every ~3 days or so, vs. ~10-15 successful runs over the same period.

[code]

Similar sort of failure shows up in:
* An Ingress wi

[2022-11-04 02:18] wenqiang0527 commented on #21901
pkg/bgpv1/gobgp/reconcile.go

[code]

[2022-11-04 02:22] abasitt commented on #18987
"Ability to extend global clusterpool via CRDs", does this item in the backlog means after this is available, I will be able to create additional clusterpool ? e.g. default pool is named default and I can create another pool custom ?.
What I am looking for is to have the flexibility creating completely different ippool with different names. The IPs from different pool can be controlled via annotat

[2022-11-04 03:33] #21873 closed

[2022-11-04 08:55] ti-mo opened #21999 "CI: TestWatchedServerConfigRotation received unexpected `[]tls.Certificate`"
## CI failure

<details>
  <summary>Click to expand test output</summary>

[code]
</details>

[96865ea7_RuntimeDatapathPrivilegedUnitTests_Run_Tests.zip](https://github.com/cilium/cilium/files/9936565/96865ea7_RuntimeDatapathPrivilegedUnitTests_Run_Tests.zip)

Jenkins: https://jenkins.cilium.io/job/Cilium-PR-Runtime-net-next/3854/testReport/(root)/Suite-runtime/RuntimeDatapathPrivilegedUnitTests_R

[2022-11-04 09:00] kerthcet commented on #21992
I'll help to take a look.
/assign

[2022-11-04 09:05] ti-mo commented on #21730
Hit this in https://app.travis-ci.com/github/cilium/cilium/jobs/587424863 for https://github.com/cilium/cilium/pull/21973.

[2022-11-04 09:55] borkmann commented on #21609
@aditighag looks like @aspsk hit this as well recently

[2022-11-04 11:26] pchaigno opened #22003 "Fatal on DSR + tunneling"
We should fatal on DSR + tunneling as it is not supported today.

Reported-by: @bmcustodio

[2022-11-04 15:29] dylandreimerink opened #22005 "lb-ipam: Lift 65536 IPv6 allocation limit per CIDR"
The initial LB-IPAM implementation as presented in #21764 has a notable limitation what mainly impacts users with large clusters, that is that a pool can only allocate up to 65536 IPv6 addresses from a single CIDR. The current work around is to break up larger CIDRs into multiple smaller CIDRs.

This limitation is hardcoded into the [ipallocator package](https://github.com/cilium/ipam/blob/46ef3d5

[2022-11-04 15:57] chalin opened #22007 "[docs] Migrate to Google Analytics 4 (GA4)"
**Google has deprecated Universal Analytics** (UA), in favor of its successor, Google Analytics 4 (GA4). This issue is part of a CNCF-wide effort to upgrade project websites to GA4. For more details about the deprecation and the CNCF migration effort, see:

- https://github.com/cncf/techdocs/issues/108, including reference to a suggested [migration process](https://github.com/cncf/techdocs/blob/ma

[2022-11-04 15:59] dylandreimerink opened #22008 "lb-ipam: Expressing pool preference"
The initial LB-IPAM implementation as per #21764 does not have a mechanism which allows users to express preferences. Currently we do not define behavior for how a pool is chosen If more than one pool is eligible to allocate an IP for a service. The implementation simply loops over ranges and pools until it finds a candidate and uses that one.

There might be use cases in which users want to set a

[2022-11-04 16:18] dylandreimerink opened #22009 "bgp: BGP Control Plane status in agent cli"
Currently the BGP control plane is a one way street, we can make configuration but there is no user friendly way to get meaningful feedback as to the status of the control plane. The only options at this time is to inspect the agent logs and to check connections from the other side of a BGP connection.

It would be really nice to add a few features to the agent CLI:
* Add a line in `cilium status`

[2022-11-04 16:37] dylandreimerink opened #22010 "bgp: BGP Control Plane metrics"
The BGP Control Plane currently doesn't expose any metrics which makes it hard if not impossible to monitor the feature. This issue proposes to add the following metrics:
* A connection state metric, would be a gauge indicating BGP connection status (0=idle, 1=connect, 2=active, 3=open_sent, 4=open_confirm, 5=established) for each vRouter/neighbor pair. This metric should be monitored since non-es

[2022-11-04 19:34] agrevtcev commented on #20981
@ti-mo sorry for the late reply. Yep, `/proc/schedstat` is readable (0444), more important- it's also readable from inside cilium-agent container. So go ahead friend ))

Br, Alexey

[2022-11-04 21:31] joestringer commented on #21963
This policy has two rules:

(1) Allow from 11.0.0.0/16
[code]

(2) Allow to port 2049 on TCP
[code]

If you want to only allow from 11.0.0.0/16 AND to port 2049, it must be specified as one rule:

[code]

[2022-11-04 21:31] #21963 closed

[2022-11-04 21:34] pchaigno opened #22013 "New pods are not managed by Cilium on AKS"
I've bisected this bug to commit https://github.com/cilium/cilium/commit/0d6346dbe5bada046eb72ab2f797fa4c0f86d07e. With that commit, on AKS, new pods are not managed by Cilium. In the connectivity tests, this is surfaced by the check for CiliumEndpoints failing.

### Reproduction Steps
[code]

The last step should return an empty result, even though the CLI deleted all umanaged pods as part of the

[2022-11-05 08:58] yassan commented on #20653
Will specifications such as eBGP & BGP Unnumbered & loopback unicast in IP CLOS (Full L3) environments also be considered?

cf. BGP Unnumbered via RFC 5549 + a loopback unicast - Google Slide
https://docs.google.com/presentation/d/12pZUE5bOQBBwsKdTEq2RZC_vRsu-gfyGaIB6LEowQXg/edit#slide=id.g13d84d984ce_0_69

[2022-11-05 14:47] damiendawreck opened #22015 "DSR for NodePort with kube-router not working"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

I have a cluster setup, following the kube-proxy replacement and kube-router guide, with the following helm command:

[code]

The kube-router configuration is as follows(I have omitted everything except the main daemonset):
[code]

I am running a test nginx pod with a NodePort service and exter

[2022-11-06 02:14] #21011 closed

[2022-11-06 09:45] Shunpoco commented on #22003
Hi @pchaigno, can I work on this issue?

I think we should modify [this part](https://github.com/cilium/cilium/blob/master/daemon/cmd/kube_proxy_replacement.go#L219-L225).

[2022-11-06 12:03] timoreimann commented on #20359
Bump again. I think this is still important for us at DigitalOcean (where @waynr and I work).

[2022-11-06 15:03] nickytd opened #22017 "protocol not supported on cilium 5.19.0-1006-rasp subsys=daemon"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

On a freshly installed k8s cluster, `cilium install` timeouts with following error
level=fatal msg="Error while creating daemon" error="protocol not supported" subsys=daemon

### Cilium Version

v1.12.3

### Kernel Version

Linux 5.19.0-1006-raspi #13-Ubuntu SMP PREEMPT Mon Oct 17 19:01:51 UTC

[2022-11-06 18:02] munjalpatel commented on #15843
We are still experiencing this issue. Is this resolved? Is there a workaround?

[code]

[2022-11-07 02:14] #21055 closed

[2022-11-07 06:59] fly3366 opened #22018 "Helm install may conflict when enable ingress controller and hubble ui ingress."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

svclb-* will always pendding. because svclb-hubble-ui nad svclb will use same port!

### Cilium Version

master

### Kernel Version

4.19

### Kubernetes Version

1.25 k3s

### Sysdump

_No response_

### Relevant log output

_No response_

### Anything else?

_No response_

### Code of Conduct

[2022-11-07 09:55] gandro commented on #18987
Yes, that is the plan. The exact mechanism with how IPs get assigned is yet to be defined (annotations are probably the mechanism we do this initially), but the basic infrastructure to support multiple pools is something I'm currently working on.

[2022-11-07 10:06] pchaigno commented on #22003
@Shunpoco Yes, that's correct. Feel free to send a PR.

[2022-11-07 10:19] maintainer-s-little-helper[bot] opened #22019 "CI: K8sDatapathConfig Iptables Skip conntrack for pod traffic"
### Test Name
[code]

### Failure Output
[code]

### Stacktrace
<details><summary>Click to show.</summary>

[code]
</details>

### Standard Output
<details><summary>Click to show.</summary>

[code]
</details>

### Standard Error
<details><summary>Click to show.</summary>

[code]
</details>

ZIP Links:
<details><summary>Click to show.</summary>

 https://jenkins.cilium.io/job/Cilium-PR-K8s-1.24-ker

[2022-11-07 10:27] pchaigno opened #22021 "CI: The connection to the server k8s1:9443 was refused"
https://jenkins.cilium.io/job/Cilium-PR-K8s-1.16-kernel-4.9/3057/testReport/junit/Suite-k8s-1/16/K8sKafkaPolicyTest_Kafka_Policy_Tests_KafkaPolicies/
[04124162_K8sKafkaPolicyTest_Kafka_Policy_Tests_KafkaPolicies.zip](https://github.com/cilium/cilium/files/9950504/04124162_K8sKafkaPolicyTest_Kafka_Policy_Tests_KafkaPolicies.zip)

The test `K8sKafkaPolicyTest Kafka Policy Tests KafkaPolicies` failed

[2022-11-07 10:29] #22013 closed

[2022-11-07 10:46] #21956 closed

[2022-11-07 10:54] squeed commented on #14892
Reopening as this was reverted; Fix incoming.

[2022-11-07 11:20] alexkats opened #22023 "SLO Breakage for Kubernetes Pod Startup Latency at scale"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

One of the Kubernetes SLO is the Pod Startup Latency SLO. The current limit is the 99th percentile <= 5s. With the use of cilium Kubernetes is very close to this limit, sometimes even exceeding it.

All tests were performed on GKE's patched Cilium version based on Cilium OSS master. Here's the

[2022-11-07 16:14] rcanderson23 opened #22032 "Clustermesh metrics only report on first cluster in configuration"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

Cilium clustermesh metrics only show for the first cluster in the mesh configuration. This is because each remote cluster attempts to register the metric. Metrics are only allowed to be registered once and subsequent registrations are silently failing here https://github.com/cilium/cilium/blob/

[2022-11-07 17:40] CiraciNicolo opened #22034 "Packets for ExternalIP are not handled by cilium"
### Is there an existing issue for this?

- [x] I have searched the existing issues

### What happened?

My deployment is based on K3S with a single node environment. This node bundles a openvpn connection to a MGMT infrastructure, and two redundant tunnel are closed (tun0, tun1); for routing purpose a "vip" ip is assigned to the lo iface.

[code]

Assigning this ip as the node's externalIP and th

[2022-11-07 18:42] #21121 closed

[2022-11-07 20:55] squeed commented on #22013
I'm pretty sure this was caused by using v1.12 charts with an image from tip. In other words, I don't *think* there was a bug here.

[2022-11-07 21:08] squeed opened #22036 "CFP: Per-Node configuration overrides"
## Cilium Feature Proposal: Per-Node Configuration
### Background

There is sometimes a need to update or override configuration on one or more nodes. Some possible use-cases include
- Rolling out disruptive changes
- Rolling out changes that need external coordination
- Deploying Cilium in to an existing cluster

### User stories

#### 1: Rolling out kube-proxy-replacement
Consider a cluster with

[2022-11-07 21:09] squeed commented on #22036
Hit enter too early. Hold please.

[2022-11-07 21:38] Sinjo opened #22037 "Disrupted connections to clustermesh etcd leads to thundering herd"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

# Symptoms

After a [short networking disruption in AWS](https://www.availabl.co/aws/eu-west-1?start=1667392140000&end=1667392920000), instances of `cilium-agent` that were running outside of that region and configured to connect to clustermesh etcd instances inside that region all tried to rec

[2022-11-07 21:45] dctrwatson commented on #13446
Want to note this still happens in v1.12.3, needed to restart all agents after this issue: https://github.com/cilium/cilium/issues/22037

[2022-11-07 22:51] abasitt commented on #18987
Great, thank you.

[2022-11-07 23:33] munjalpatel opened #22039 "Cilium kube-proxy replacement breaks on EKS due to dynamic k8sServiceHost endpoint IP"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

Cilium would work on newly added nodes (by cluster auto-scaler) just as its working on the nodes it was originally installed on.

### Cilium Version

[code]

### Kernel Version

[code]

### Kubernetes Version

[code]

### Sysdump

[cilium-sysdump-20221107-153111.zip](https://github.com/cilium/c

[2022-11-08 02:13] #21075 closed

[2022-11-08 08:29] oblazek commented on #21615
Hi guys, if possible please assign to me :) I will shortly send a PR (currently working on e2e tests).

[2022-11-08 10:23] gandro commented on #21251
Related: https://github.com/cilium/hubble/issues/713

Yes, Cilium translates the clusterIP to a podIP as early as possible (even on the socket level if SockLB is enabled). Therefore, the actual traffic on the wire will always contain the podIP.

While it's easy to map clusterIP to service, it's less obvious for podIPs. One problem is that a pod can have multiple services selecting it. Since we pro

[2022-11-08 10:24] brb commented on #21504
@krystianmlynek Please ignore what I wrote about `--devices`. What's the `/etc/resolv.conf` content of the CoreDNS pod?

[2022-11-08 11:00] aanm commented on #22039
@munjalpatel Thank you for opening the GH issue. When running with kube-proxy replacement, you need to specify the real IP address of the kube-apiserver and not the service IP. This is important if you are not running with kube-proxy to perform the service translation between the service IP and the real IP address.

[2022-11-08 11:10] aanm commented on #22023
@alexkats do you have a golang pprof trace output of one of the agents to know which parts are slow?

[2022-11-08 11:13] aanm commented on #22018
@fly3366 can you provide more information? Like a sysdump or the steps that you used to install Cilium? Otherwise it will be difficult to help you. Thank you

[2022-11-08 11:21] sayboras commented on #22017
have you tried suggestion in https://github.com/cilium/cilium/issues/20735 ?

[2022-11-08 11:24] pchaigno commented on #21986
Good suggestion! We forgot to update the host firewall docs after we added support for ICMP policies. Could you send a pull request to update the documentation as you suggested?

Do you mean it was hard to find in the documentation? What could we do to improve that?

[2022-11-08 11:25] aanm commented on #21983
I initially assign it to sig/agent but this is more sig/datapath-related since all of those initcontainers are datapath specific.

[2022-11-08 11:48] aanm commented on #21965
Thank you for the GH issue. It is not clear to me what you are trying to achieve. The `allow-localhost` would refer to traffic originated from the host's network namespace and not from the pods not running in the host network namespace.

[2022-11-08 11:54] MrFreezeex commented on #21965
My original intention was to allow probing pod health endpoints (rewadyness and health probes) from the local host. So at the very least from the kubelet (so host namespace to a pod a in the same host). So it seems to me that theorically the `allow-localhost` should allow this kind of traffic but apparently not 🤔.

[2022-11-08 11:56] aanm commented on #21921
@jcpunk we do provide some grafana dashboards. Are those not enough? cc @tom-hadlaw-hs for more info

[2022-11-08 11:59] aanm commented on #21914
@austince thank you for filling this issue. The charts are fixed and they are pointing to the correct images. /cc @autophagy @Efrat19

[2022-11-08 11:59] #21914 closed

[2022-11-08 12:00] aanm commented on #21906
cc @youngnick, can you take a look?

[2022-11-08 12:05] aanm commented on #21887
Can you try upgrading to a more recent Cilium version? Some iptables bugs have been fixed in recent Cilium versions. /cc @jibi

[2022-11-08 12:07] aanm commented on #21883
Have you followed https://docs.cilium.io/en/v1.12/operations/troubleshooting/#policy-troubleshooting?

[2022-11-08 12:08] squeed commented on #22036
@varunmar Trying to split these by namespaces strikes me as a bit fragile.

Instead, one option would be to grand the cluster operator access to the cilium-config ConfigMap, while not allowing access to the CiliumConfigOverrides CRs. Then, the "frozen" settings can go in a CiliumConfigOverride. Since those take precedence, the operator is free to change cilium-config (maybe even with Helm) without

[2022-11-08 12:12] ajaykumarmandapati commented on #21604
Any movement or acknowledgment of this? :)

[2022-11-08 13:05] feitnomore commented on #21883
If I use the namespaceselector and podselector together, this is what I'm getting: (Note: the namespace selector confuses me here, not sure the label is ok)

[code]

If I use only podSelector it assumes the current namespace, as far as I can tell:
[code]

[2022-11-08 14:00] aanm commented on #21603
It seems that it's a distribution issue since, as you said, the distribution doesn't provide `SYS_MODULE`?

[2022-11-08 14:03] DWSR commented on #21603
@aanm That's certainly one way to look at it.

The other way would be "Is it possible to do strict KPR without `SYS_MODULE`?"

[2022-11-08 14:12] aanm commented on #21603
@DWSR can you get `capsh --print` while running Cilium in privileged mode? Thanks

[2022-11-08 14:40] munjalpatel commented on #22039
Thanks, @aanm for the response. How do I get the real IP in EKS?

[2022-11-08 14:56] aanm commented on #21823
So eventually, the endpoint generation worked?

[2022-11-08 15:02] aanm commented on #21801
@sathieu it looks that all you are suggesting is to add documentation on how to deploy Cilium on vSphere. Would you like to submit a PR? Thank you

[2022-11-08 15:04] brb commented on #21829
@binhnguyenduc Thanks. Do you have a changelog diff between `5.4.17-2136.311.6.1.el7uek.x86_64` and `5.4.17-2136.304.4.2.el7uek.x86_64`?

[2022-11-08 15:06] aanm commented on #21763
@alexandrevilain can you provide a sysdump of the cluster where the problem is happening? Thank you

[2022-11-08 15:09] aanm commented on #21752
@Sandy7894 did you try to delete the CiliumNode as the warning message from the cilium operator mentions?

[2022-11-08 15:14] aanm commented on #21720
@xiaods are you working on the docs?

[2022-11-08 15:24] aanm commented on #22039
It's one of the IP addresses available in `kubectl get endpoints kubernetes`

[2022-11-08 15:25] gandro commented on #21730
Hit in https://github.com/cilium/cilium/pull/21685

[2022-11-08 15:43] gandro commented on #21730
This seems to happen quite frequently in the last month. I believe it is due to the events being issued in short succession here:
https://github.com/cilium/cilium/blob/32d2ef8e0445a79b1979312f33e0b514ca7650a5/pkg/clustermesh/services_test.go#L255-L258

@aanm You were the one to add the above comment. Do you remember how this works and if there is a potential way to make this robust again.

[2022-11-08 16:10] munjalpatel commented on #22039
@aanm that was the first thing I did before switching to `10.1.0.1`

The problem there was that in EKS, the `endpoint` IP changed after ~12 hours and broke every Cilium daemonset and essentially, everything stopped working.

[2022-11-08 16:32] aanm commented on #22039
If you are running with kube-proxy, then using 10.1.0.1 will be safe because kube-proxy is responsible for translating that IP address into the real IP address of kube-apiserver.

[2022-11-08 16:39] aanm commented on #21657
@vincentmli the cilium cli uninstall does not remove all CRDs since they might lead to the removal of CiliumNetworkPolicies, which is might not be intended. Cilium does not allow changing podCIDR on existing clusters, you would have to reprovision all nodes that had the old CIDR in place.

[2022-11-08 16:42] munjalpatel commented on #22039
@aanm, we are not running with `kube-proxy` we are going for the `strict` mode to completely get rid of `kube-proxy`

[2022-11-08 16:48] aanm commented on #22039
I understand but kube-proxy also needs the "real" IP address of kube-apiserver so the problems you are having with Cilium because the IP is always changing, you would also face the same with kube-proxy.

[2022-11-08 17:23] zuzzas commented on #12859
There is an ugly hack that [skips](https://github.com/cilium/cilium/blob/7021861ae9b1f85451fe6177190b0bc3f8321e28/bpf/bpf_sock.c#L360) socket xlation in non-host network namespaces. Works on Kernel >=5.7.

[code]

[2022-11-08 17:28] kleinpa opened #22052 "Unable to set BGP Control Plane router-id for ipv6-only cluster"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

I am building ipv6-only cluster and I'm trying to use the new BGP Control Plane features. I've configured `router-id` annotations according to https://docs.cilium.io/en/stable/gettingstarted/bgp-control-plane/#router-id-attribute but the agent doesn't seem to be picking them up.

[code]

[code]

[2022-11-08 17:51] munjalpatel commented on #22039
I think it must be how we configured EKS with Pulumi, it might have taken an old EKS cluster's endpoint IP. I'll revert to the correct endpoint IP and monitor for the next few hours. Thanks for the help though :)

[2022-11-08 18:11] joaoubaldo opened #22053 "hubble-ui and hubble-relay get stuck in Terminating phase after helm delete"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

For context, cilium is being deployed using its helm chart, with `hubble-ui` and `hubble-relay` enabled.

When running `helm delete` to remove cilium (something we do often in CI) it is quite frequent for `hubble-ui` and/or `hubble-relay` pods to get stuck in Terminating phase.

Describing one

[2022-11-08 18:14] munjalpatel opened #22054 "Cilium is running out of IPs to assign on EKS"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

One of the pods fails to start.

<img width="598" alt="image" src="https://user-images.githubusercontent.com/2717686/200642523-5b028f42-3a23-495f-8113-7373a985310d.png">

### Cilium Version

[code]

### Kernel Version

[code]

### Kubernetes Version

[code]

### Sysdump

[cilium-sysdump-2022110

[2022-11-08 19:10] tnorlin commented on #22018
@fly3366 just to elaborate - svclb, does it mean LoadBalancer type Service? IF so, then the IP will be in state Pending until there is a service (metalLB, for instance) that provides address.

And the Service/Ingress shares IP/Port in presentation, as for instance:
[code]

[2022-11-08 19:57] CiraciNicolo commented on #22034
I think the issue are different, I'm using "strict" kubeproxy replacement and as seen in tcpdump the packets are directly dropped.

[code]

[2022-11-08 21:14] munjalpatel commented on #22039
@aanm, EKS changed the endpoint IP again. Now it's `10.0.111.131`, and Cilium is broken once again.
This makes Cilium completely unusable with EKS; no one else on EKS is facing this issue?

[2022-11-08 21:32] aanm commented on #22039
@munjalpatel it all depends how you are configure kube-proxy. Can you set up a cluster with kube-proxy and see how kube-proxy is configured? The IP address that kube-proxy is using should be the same one that you need to pass to Cilium when you are running with kube-proxy replacement.

[2022-11-08 21:48] aanm commented on #21605
@karelvanhecke can you provide an output of the traffic that is being dropped?

[2022-11-08 21:51] aanm commented on #21604
@ajaykumarmandapati this looks similar to https://github.com/cilium/cilium/issues/20915

[2022-11-08 21:58] aanm commented on #21594
@williamclot thank you for opening the GH issue.

It would be possible but the race condition would still happen since the node would start and it would immediately create unmanaged pods while Cilium Operator didn't add the taint on the node. What if Cilium Operator deleted the pods that are not unmanaged by Cilium, would that be acceptable?

[2022-11-08 21:59] aanm commented on #21569
Yes, you can use them using extraConfig. Does that work for you?

[2022-11-08 22:03] aanm commented on #21549
@odidev have you tried deploy cilium with [cilium-cli](https://github.com/cilium/cilium-cli)?

[2022-11-08 22:04] aanm commented on #21545
@msarti feel free to submit a PR that adds documentation with your findings. Thank you

[2022-11-08 22:10] aanm commented on #21538
@telmich disabling tunneling fix your issue?

[2022-11-08 22:13] aanm commented on #21486
Closing this issue since this is a distribution maintained by a vendor.

[2022-11-08 22:13] #21486 closed

[2022-11-08 22:41] aanm commented on #21440
Have you looked at https://docs.cilium.io/en/v1.12/operations/troubleshooting/#troubleshooting which provides a lot of details on how to debug Cilium?

[2022-11-08 22:49] aanm commented on #21965
With the `allow-localhost: auto` it has the behavior that you are expecting.

[2022-11-08 23:14] varunmar commented on #22036
More thinking -
We came to the same conclusion - It makes little sense to try to handle namespaces. In fact, it is possible to make the case that these overrides are cluster-scoped to begin with, and shouldn't be in a namespace at all. However, if they're in a namespace, they should just all be treated the same.

There are two aspects of the configuration options - setting overrides, and setting d

[2022-11-08 23:31] munjalpatel commented on #20915
@joestringer I agree with @benesch I just broke this by simply scaling up `huddle-ui` to 20 instances.

[2022-11-08 23:32] munjalpatel commented on #20915
We will downgrade to v1.11 for now.

[2022-11-09 00:23] munjalpatel commented on #22039
@aanm we fixed this issue by using the `hostname` of EKS cluster.
[code]

This should be really documented. It will save the next person hours of hair-pulling!

[2022-11-09 00:23] #22039 closed

[2022-11-09 01:05] DWSR commented on #21603
[code]

[2022-11-09 01:09] maintainer-s-little-helper[bot] opened #22056 "CI: K8sAgentPolicyTest Basic Test Traffic redirections to proxy Tests HTTP proxy visibility without policy"
### Test Name
[code]

### Failure Output
[code]

### Stacktrace
<details><summary>Click to show.</summary>

[code]
</details>

### Standard Output
<details><summary>Click to show.</summary>

[code]
</details>

### Standard Error
<details><summary>Click to show.</summary>

[code]
</details>

ZIP Links:
<details><summary>Click to show.</summary>

 https://jenkins.cilium.io/job/Cilium-PR-K8s-1.25-ker

[2022-11-09 01:48] yanhongchang commented on #21496
Is there any plan to solve this issue? @brb @ArthurChiao @borkmann

[2022-11-09 07:30] munjalpatel commented on #22039
@aanm PR submitted: https://github.com/cilium/cilium/pull/22057

[2022-11-09 08:07] jonkerj commented on #21603
I don't believe so, as required modules are compiled in, so one does not need to load modules. Also, when running privileged, everything works, so the kernel functionality seems there.

[2022-11-09 10:13] aanm commented on #21418
@fangzhexu can you provide a sysdump where you have a NotReady node and the issue is happening? Thank you

[2022-11-09 11:12] squeed commented on #22036
I'm trying to think of a nice clean way to design the API to support existing installations, temporary administrator overrides, and "frozen" settings from a platform team. We've somewhat painted ourselves in a corner by declaring the `CiliumConfig` type in the OLM operator [see here](https://github.com/cilium/cilium-olm/blob/master/ciliumconfig.v1.12.yaml), so we can't create any other types with

[2022-11-09 11:40] nejisama opened #22063 "[Questions] Can someone tell me why ct_tuple stores saddr and daddr in the reversed way but dport and sport in the original way"
Can someone tell me why ct_tuple stores saddr and daddr in the reversed way but dport and sport in the original way?

[code]

Why we cannot keep the addr and port with same direction ?

[2022-11-09 11:45] nejisama commented on #22063
I check the code, found `ipv4_ct_extract_l4_ports` loads port into tuple using

[code]

but in my opinion,  ctx with l4_off is a tcphdr, which contains source port and dest port .

Is this related to my question?

[2022-11-09 11:52] pengbinbin1 opened #22064 "DSR Not working on my virtual machine"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

1. I have installed cilium on my k8s cluster.I have set the DSR on the configmap. I  had noticed that the node port services are only working through local nodes (Local nodes are those nodes where the actual backend node is running)  ,but it will not work if the backend is on a remote node. I h

[2022-11-09 12:09] obaranov1 commented on #21983
/assign

@joestringer, are the 3 mentioned above init containers should be documented?

[2022-11-09 13:22] MrFreezeex commented on #21965
Either `allow-localhost: auto` or ``allow-localhost: always` doesn't seems to work for this... If I have the host firewall mode enabled I need to explicitly add a cilium network policy to allow access to pod health endpoint or else it is blocked :(. I have a bit more explanation on my first message. There is an example of a flow that is audited on my first message if you want to check and an hypot

[2022-11-09 14:14] xiaods commented on #21720
no

[2022-11-09 14:56] aanm commented on #21186
@dbanetto can you show a hubble output of a cluster running with a policy like that?

[2022-11-09 15:28] squeed opened #22067 "CNI plugin should tolerate a down agent."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

While uninstalling Cilium, deletion of existing pods fails since the agent is down. It fails with the message

` failed to destroy network for sandbox \"\": plugin type=\"cilium-cni\" failed (delete): unable to connect to Cilium daemon: failed to create cilium agent client after 30.000000 secon

[2022-11-09 15:36] squeed commented on #22067
Now, this isn't so easy, since the cilium-cni plugin talks to the agent to delete endpoints.

@tommyp1ckles, maybe we can just ignore failed deletion requests on the CNI side and let the restoration logic clean them up?

Alternatively, we could write endpoints-to-delete to disk (perhaps just as filenames) and have the agent process these on startup?

[2022-11-09 15:37] aanm commented on #21965
To get this right you tried out:
[code]
and
[code]

and neither of these set of options worked?

[2022-11-09 15:52] jcpunk commented on #21958
I fear I don't know the right text to provide...

[2022-11-09 17:14] ajaykumarmandapati commented on #21604
Yup looks like any increased activity on the cluster causes this network outage 😞  @aanm

[2022-11-09 17:56] isugimpy opened #22070 "Agent Should Not Hard Fail on Config Values Above Max"
https://github.com/cilium/cilium/blob/dd08c3f2c2383948d7b21a65be90de8eaed86f14/pkg/option/config.go#L3422-L3425

Just got bitten by this in production.
`level=fatal msg="Error while creating daemon" error="invalid daemon configuration: specified PolicyMap max entries 131072 must not exceed maximum 65536" subsys=daemon`
While I do believe that 131072 is an excessive amount for the PolicyMap max ent

[2022-11-09 22:15] chalin commented on #22007
Hi @aanm - yes, please reopen this issue. I'll be using it to track GA4 setup for the docs subdomain, which is distinct from the GA4 setup for the main (apex) domain. That is, the required tasks are different for each. Thanks.

[2022-11-09 22:40] varunmar commented on #22036
I'm starting to think that namespaces are not a good idea for this new CRD in the first place. I think we should just get rid of them - either we make the CRD cluster scoped, or we treat all the namespaces equally (maybe with the alphabetical tie breaking you had in the first place)

Changing the order of precedence fixes the namespace permissions problem but not the defaulting-vs-overriding probl

[2022-11-10 01:27] mxplusb commented on #18851
I second brotherdust's comment, I'm also building this out.

[2022-11-10 02:23] yanhongchang commented on #19411
Hi, Is there any plan to support the passwords in BGP control plane? @arianvp

[2022-11-10 03:50] youngnick commented on #21906
No problem @aanm.

@KimHyunTae-95, could you paste the curl command you used? From what I can see from those outputs and the logs, it looks like the ingress has been configured correctly and is listening on the address 192.168.34.37.

I'd expect the curl command to look something like:
[code]
assuming that you have DNS or a host file entry mapping `test.okestro.cld` to `192.168.34.37`.

Alternativ

[2022-11-10 07:57] jonkerj commented on #21603
On a moduleless-kernel, there is no `SYS_MODULE` capability (see #21506 for more info on that), so I can't tell. Other than that, there is no error message at all, it is simply not possible to reach services, it quietly fails.

[2022-11-10 08:20] ArthurChiao commented on #21496
I think the best way might be solving it on the K8s (cadviosr) side, that is, do not rely on device stats as the only source of truth (but I don't know what other sources could be used).

[2022-11-10 08:46] #10411 closed

[2022-11-10 08:47] #10312 closed

[2022-11-10 10:48] brb commented on #21945
A workaround for now is to use the `ip-masq-agent` of Cilium: https://docs.cilium.io/en/v1.12/concepts/networking/masquerading/#ebpf-based

[2022-11-10 11:00] brb opened #22076 "agent: Remove KPR=probe"
The option has been deprecated, and it can be safely removed in v1.13.

[2022-11-10 11:02] brb opened #22077 "Remove host-reachable svc leftovers"
From the upgrade guide:

[2022-11-10 11:25] tklauser opened #22078 "CI: TestBPF fails with "-bpf-test-path is a required flag" in runtime DatapathPrivilegedUnitTests"
[09:02:19]     bpf_test.go:56: -bpf-test-path is a required flag
	 [09:02:19] --- FAIL: TestBPF (0.00s)
	 [09:02:19] FAIL
	 [09:02:19] coverage: 6.2% of statements
	 [09:02:19] FAIL	github.com/cilium/cilium/test/bpf_tests	0.037s

Started failing consistently on `master` after https://github.com/cilium/cilium/pull/22043

Latest failure on `master`: https://jenkins.cilium.io/job/cilium-master-runtim

[2022-11-10 12:19] ysksuzuki commented on #21569
Yes, that works for me.

[2022-11-10 13:15] aanm commented on #21745
@Woidla27 no, that was a bug and is now fixed in the latest cilium-cli.

[2022-11-10 13:20] illrill opened #22081 "CFP: CiliumNetworkPolicy `toFQDNs.matchPattern` should allow wildcarding of the `.` character to allow multiple levels of subdomains"
## CiliumNetworkPolicy `toFQDNs.matchPattern` should allow wildcarding of the `.` character to allow multiple levels of subdomains

_2022-11-16: Updated issue description after discussions in comments. See the collapsed section in the end for original post_

**Is your feature request related to a problem?**
The current behavior of wildcards (`*`) in `toFQDNs.matchPattern` has the limitation that i

[2022-11-10 14:14] tklauser commented on #22078
Also see discussion here: https://github.com/cilium/cilium/pull/22043#issuecomment-1307887505

[2022-11-10 15:25] pchaigno commented on #22064
Could you share exact reproduction steps or a sysdump, or ideally both?

No.

The eBPF logic to implement DSR is at the tc-bpf program for the native device (as well as the tc-bpf hook of veth pairs for the backends).

[2022-11-10 15:25] pchaigno commented on #22070
Sounds like a good improvement to me! We'd welcome a pull request implementing this.

[2022-11-10 19:23] tklauser opened #22088 "CI: re-enable coverage reporting in `.github/workflows/lint-bpf-checks.yaml`"
See #22078 and https://github.com/cilium/cilium/pull/22043#issuecomment-1307887505 for context.

/cc @ti-mo

[2022-11-10 19:30] g00ntar opened #22089 "Cant run cilium without iptables aka installNoConntrackIptablesRules=true"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

I expect that cilium can be installed without iptables installed.

### Cilium Version

 v1.12.3

### Kernel Version

`Linux lima-k3s-1 5.15.74-0-virt #1-Alpine SMP Sat, 15 Oct 2022 18:26:49 +0000 aarch64 Linux`
`Linux lima-k3s-2 5.15.0-52-generic #58-Ubuntu SMP Thu Oct 13 08:03:55 UTC 2022 x86_

[2022-11-10 19:31] #22003 closed

[2022-11-10 19:53] #22078 closed

[2022-11-10 20:54] #21722 closed

[2022-11-10 21:17] #14050 closed

[2022-11-10 21:22] renovate[bot] opened #22100 "Dependency Dashboard (don't unpin!)"
This issue lists Renovate updates and detected dependencies. Read the [Dependency Dashboard](https://docs.renovatebot.com/key-concepts/dashboard/) docs to learn more.

## Awaiting Schedule

These updates are awaiting their schedule. Click on a checkbox to get an update now.

 - [ ] chore(deps): update all github action dependencies (main) (`KyleMayes/install-llvm-action`, `actions/checkout`, `acti

[2022-11-11 02:55] fangzhexu commented on #21418
sysdump has been uploaded, at the beginning of issue

cilium-sysdump-20220927-180322.zip

[2022-11-11 02:55] fangzhexu commented on #21418
sysdump has been uploaded, at the beginning of issue

cilium-sysdump-20220927-180322.zip

[2022-11-11 02:56] fangzhexu commented on #21418
@aanm  sysdump has been uploaded, at the beginning of issue
cilium-sysdump-20220927-180322.zip

[2022-11-11 05:51] odidev commented on #21549
@ [aanm,](https://github.com/aanm) I have tried to deploy cilium in cilium-cli by using the make install command, which is present in the Readme.md file. I have verified where those cilium binaries are present. They are present in the /usr/local/bin/ directory.

I have tried to run the Kind.yaml using GitHub actions for amd64 and arm64. For amd64, the connectivity test fails. For arm64 architectur

[2022-11-11 10:13] aanm commented on #21418
@fangzhexu that sysdump doesn't contain the issue.

[2022-11-11 11:26] cyvcloud opened #22107 "Connecting to ClusterIP service not possible from inside service pod with ingress policy"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

Create a simple pod with a ClusterIP service pointing to it:

[code]
Connecting to the service from inside the container works as expected:
[code]
Add a network policy allowing ingress access on port 80:
[code]
Trying to connect to the service from inside the container now does not work anymore

[2022-11-11 13:01] therapy-lf commented on #21604
Any way around it except downgrading cilium?

[2022-11-11 13:06] ajaykumarmandapati commented on #21604
we got around this by increasing API limits for cilium via [extraConfig](https://artifacthub.io/packages/helm/cilium/cilium/1.12.2?modal=values&path=extraConfig)
e.g.
`extraConfig = {
        "api-rate-limit" : "{\"endpoint-create\": \"rate-limit:200/s,rate-burst:200,parallel-requests:200,auto-adjust:true\", \"endpoint-delete\": \"rate-limit:200/s,rate-burst:200,parallel-requests:200,auto-adjust:t

[2022-11-11 14:06] pchaigno commented on #21735
Based on being IPsec + timing, the likely culprit is one of:
- https://github.com/cilium/cilium/pull/21621
- https://github.com/cilium/cilium/pull/21595
- https://github.com/cilium/cilium/pull/21602

[2022-11-11 14:28] Laxman-SM commented on #20720
AWS CNI Channing for cilium L7 issue still exist ?

[2022-11-11 15:28] brb opened #22116 "Bump minimal kernel version to 4.19 / 4.18 RHEL"
As discussed offline, we have decided to bump the minimal supported kernel vsn to 4.18 on RHEL / 4.19 other distros in v1.13.

This is a placeholder issue to track the required work.

- [x] #22586
- [x] Remove 4.9 CI job https://github.com/cilium/cilium/pull/23343
- [x] Move kube-proxy only to 4.19. The mixed mode (KPR=strict && kube-proxy) can be moved to the conformance DP job. https://github.co

[2022-11-11 15:34] YutaroHayakawa commented on #20653
@yassan We are considering to implement it, but not decided when. Feel free to make an issue to track it.

[2022-11-11 23:15] ryphon opened #22119 "CFP: Pod MAC Address Specification"
**Is your feature request related to a problem?**

Lots of software requires licensing that's tied to a MAC address. Often the solutions for this are insanely convoluted and require things like Docker in Docker inside the cluster.

**Describe the feature you'd like**

A pod is able to request a dedicated, pre-defined MAC address, and it succeeds in that request.

**(Optional) Describe your propose

[2022-11-12 07:26] kahirokunn opened #22128 "CFP: Support gRPC Web"
## Cilium Feature Proposal

Gateway API is now supported.
https://github.com/cilium/cilium/releases/tag/v1.13.0-rc2

It would be great if gRPC Web is also available.
Thx.

[2022-11-12 13:30] pengbinbin1 commented on #22064
It is a security policy on my envirenment,i have resiolved it.

And which module process the response about DSR, in my opinion it will do SNAT when response to the DSR request. Thank you.

[2022-11-12 14:20] dylandreimerink commented on #20653
Cillium agents already are aware of all routing information there is within the cluster which is all exchanged via the k8s API server and resources, so I am not sure if exchange via BGP would add anything that we otherwise don't have. Also note that we don't add any BGP routes to the hosts routing table, so I think we are really talking about two different features here.

I do however see route ex

[2022-11-12 16:13] dqzboy opened #22131 "MountVolume.SetUp failed for volume "kube-api-access-xxx" : failed to sync configmap cache: timed out waiting for the condition"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

Deploying cilium 1.12.3 via helm in K8s 1.25 version doesn't work；kube-proxy is not installed on k8s cluster。`kubeProxyReplacement: "strict"`

### Cilium Version

cilium image (running): v1.12.3

### Kernel Version

os：rocky linux9
kernel：Linux 5.14.0-70.13.1.el9_0.x86_64

### Kubernetes Versio

[2022-11-13 08:00] dqzboy commented on #22131
After upgrading both kubelet and containerd to ` cgroup v2`, the service runs normally
[code]

[2022-11-13 08:00] #22131 closed

[2022-11-13 08:52] nickytd commented on #22017
Here are the logs

level=info msg="Started gops server" address="127.0.0.1:9890" subsys=daemon
level=info msg="Memory available for map entries (0.003% of 8185462784B): 20463656B" subsys=config
level=info msg="option bpf-ct-global-tcp-max set by dynamic sizing to 131072" subsys=config
level=info msg="option bpf-ct-global-any-max set by dynamic sizing to 65536" subsys=config
level=info msg="option

[2022-11-14 00:49] YutaroHayakawa commented on #20653
@abasitt Isn't `auto-direct-node-routes` enough for the inter-node routing use case? For inter-node routing, as Dylan said, we don't need BGP because Cilium agents know the equivalent information through the k8s API server. And what `auto-direct-node-routes` do is insert `<pod cidr> via <remote node ip>` routes to each node. This is exactly the same as what we can do with iBGP full-mesh or RR-base

[2022-11-14 02:08] YutaroHayakawa opened #22132 "CFP: BGP Unnumbered support for BGP CPlane"
## Cilium Feature Proposal

**Is your feature request related to a problem?**

Currently, users need to specify BGP peers with IP addresses. Thus, it needs explicit knowledge about the peer configuration. This is automation unfriendly since users need to import such knowledge from an external system like DC-wide IPAM.

**Describe the feature you'd like**

In modern DC networks, the technique calle

[2022-11-14 02:13] #20483 closed

[2022-11-14 02:15] YutaroHayakawa commented on #20653
@yassan Created an [issue](https://github.com/cilium/cilium/issues/22132) to track BGP Unnumbered. Feel free to add anything missing.

[2022-11-14 02:33] abasitt commented on #20653
@YutaroHayakawa I can mention few use-cases which comes to the top of my mind right now and I see attraction from others as well around this issue so I would love to hears other cilium users point of view. I agree with a fact auto-direct-node-routes covers most cases but for more advance use-cases, we really need BGP support.

- auto-direct-node-routes are limited to single layer2 domain. We do ha

[2022-11-14 02:44] YutaroHayakawa opened #22133 "CFP: Support omitting local/remote ASN with BGP CPlane"
## Cilium Feature Proposal

**Is your feature request related to a problem?**

Currently, users need to specify both local and remote ASN explicitly. Similar to the peer IP address problem described in #22132, this is automation unfriendly since users need to import this knowledge from an external registry.

**Describe the feature you'd like**

Support omitting local and remote ASN on `CiliumBGPPe

[2022-11-14 03:03] YutaroHayakawa commented on #20653
Yeah, the problems you describe make sense to me, but how does this work without L2 connectivity or a tunnel? The routes exchanged with iBGP, in this case, look like `<pod CIDR> via <node ip>` right? In that case, `<node ip>` needs to be reachable with L2 or tunnel (Calico does this IIRC). Am I missing something?

Makes sense as well, but if that static IP address is managed by Cilium, I think it

[2022-11-14 05:43] abasitt commented on #20653
BGPCplane will advertise any IP that is learned in the linux FIB, isn't it ? So taking the example of static POD, AFAIK when generated specific pod route it will be advertised by Cplane. In our use-case what we do is that we have a custom CNI plugin with custom IPAM block which is global in nature i.e. we don't carve /24 per node, and the POD can just go on any node and pick the static IP from the

[2022-11-14 08:59] aanm commented on #21603
@jonkerj can you get the output of `capsh --print` when running with privileged and unprivileged w/ sys_module and without sys_module deployed via helm chart?

[2022-11-14 09:07] aanm commented on #22017
@nickytd can you run it in debug with the `quay.io/cilium/cilium-ci:fe173b4ba519ef4b916b5c99ef8103a7630d6ada` build from #22137? Thank you

[2022-11-14 09:38] gandro opened #22138 "CI: ConformanceGatewayAPI: Error from server (NotFound): customresourcedefinitions.apiextensions.k8s.io "ciliumenvoyconfigs.cilium.io" not found"
## CI failure

Cilium cannot be installed due to the CiliumEnvoyConfigs CRD not being available?

[code]

- First observed in #21856
 - https://github.com/cilium/cilium/actions/runs/3437495312/jobs/5732877904

[2022-11-14 09:46] gandro commented on #22138
Seems to be actually caused by the PR branch being out of date. Closing for now.

[2022-11-14 09:46] #22138 closed

[2022-11-14 09:57] aanm commented on #21549
Traffic is dropped with the following logs:
[code]

[2022-11-14 09:57] markododa opened #22139 "Upgrading from 1.12.0 to 1.12.1 and newer breaks hostPort on EKS"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

With cilium 1.12.0 i can access hostPorts just fine, either from my own daemonset or cilium's

[code]

however when i do an upgrade to 1.12.1 or newer i can no longer access my daemonset, however the cilium port still works

[code]

reverting the version to 1.12.0 fixes the issue

The cilium he

[2022-11-14 10:00] aanm commented on #22139
@markododa Can you provide us with reproducible steps? Like application pods setup with hostport and helm values? Something similar as the report in https://github.com/cilium/cilium/issues/22107

[2022-11-14 10:02] williamclot commented on #21594
Hi @aanm, thanks for your answer and for looking into this issue.

I think the deletion of unmanaged pods by cilium would work, generally speaking workloads running on these preemptible nodes should be fairly tolerant to deletion/restarts.

Does the Cilium operator support this pod deletion feature or is this something that would require development?

[2022-11-14 10:21] MrFreezeex commented on #21965
Yes I just double checked, both indeed doesn't work.

Here is an example with coredns that probe on the 8080 port.

I got the same kind of output with both configs:
[code]

[2022-11-14 10:22] markododa commented on #22139
Thanks, i have updated the ticket with helm values, daemonset and curl pod

[2022-11-14 11:10] aanm commented on #21594
@williamclot There is existing code [here](https://github.com/cilium/cilium/blob/af61d36f5f20a7f3b07b8430a400073eb20c411c/operator/cmd/k8s_pod_controller.go#L32) that does this but only for kube-dns pods. I think it does make sense to enable it for all pods and not only kube-dns. Would you like to submit a PR that implements this?

[2022-11-14 11:39] jonkerj commented on #21603
I cannot test it with `SYS_MODULE`, as this capability does not exist. Trying to include it yields an error from the container runtime:

[code]

So the container is not getting created and therefore there is no `capsh`-ing possible. If it would start, it would probably show the same as below, but with `sys_module` included.

### Privileged (without `SYS_MODULE`):
[code]

### Unprivileged (without

[2022-11-14 12:03] pengbinbin1 opened #22151 "The benchmark script for service loadbalance"
I am doing the test about the service loadbalance performance，and I have got you use pktgen to push the packet，can you shell your test script？

[2022-11-14 12:15] kahirokunn commented on #22128
https://gateway-api.sigs.k8s.io/geps/gep-1016/

I didn't know gRPC Web support was going to be included in gRPCRoute!
Thanks.