[2022-03-23 14:53] LarsBingBong commented on #12186
So this also goes for `ipv4NativeRoutingCIDR` e.g. > https://github.com/cilium/cilium/blob/master/install/kubernetes/cilium/values.yaml#L1157 right?

I bumped into this question as I'm following the [Cilium tuning guide](https://docs.cilium.io/en/stable/operations/performance/tuning). I was asking myself, what the dang am I supposed to set `ipv4NativeRoutingCIDR` to.

So finding this issue was cer

[2022-03-23 16:07] recollir commented on #18868
Ok. I think we know now what is wrong. Unfortunately I can't write it up right now and will do it later. The interesting thing is now to know why it happens.

[2022-03-23 22:42] pchaigno commented on #19213
Yes, please :pray: Until it's fixed upstream, other users may still hit this, so would be nice to have a sysdump. If you can't collect a sysdump, a step-by-step how to reproduce would also help (i.e., guide you followed or commands you used, with the exact Cilium config).

[2022-03-24 14:53] recollir commented on #18868
A similar problem though not identical happens in #18179

[2022-03-24 16:53] yilas commented on #18256
Hi all,
I just found a way to "solve" that issue. It seems that the issue came from `ipsec` since the connection came back between the both pods after following these steps :
- Flush all state in `xfrm` with an `ip xfrm state flush` on both worker nodes
- Wait the recreation of states by the cilium agent
- Test connections => OK

If the same error reappears, I will do more selective flushes on the

[2022-03-24 17:32] travisghansen commented on #18712
OK, finally had a chance to revisit this after waiting for `v1.11.2` to be released. Indeed the issue was related to the nexthop discovery changes between `1.10` and `1.11`.

In our case (for both `dsr` and `snat` configurations, or said differently, even without `dsr` enabled) the result of the changes was asymmetric routing and undesirable behavior (for us). As mentioned in the description we ha

[2022-03-25 07:31] zjd0112 commented on #18610
+1, meet the same problem

[2022-03-25 11:34] wkruse commented on #19192
- `10.10.224.27` is the `keepalived` MASTER
- `10.10.224.8` is the VIP, that is claimed by the `keepalived` MASTER
- The HTTPS request to `https://10.10.224.8:30901` was made (the first 2x times the connection could not be established, after that it worked 1x)

`(ip.addr == 10.10.224.8 or ip.addr == 10.2.0.50) and tcp`

[10.10.224.27-filtered.pcap.zip](https://github.com/cilium/cilium/files/834995

[2022-03-25 11:59] vsxen commented on #19200
Can I enable eBPF Host-Routing on Redhat 8?

Red Hat v8.2 with Linux kernel v4.18.0-193 or above (Red Hat have backported the required features to that build).

But source code seems only check kernel verison?

[2022-03-25 12:38] wkruse commented on #19192
- `10.2.11.175` is the Cilium IP on the node `10.10.224.27`
- `10.2.0.193` is the Cilium IP on the node `10.10.224.24`

Running `cilium monitor --type drop` on the node `10.10.224.27` we see regularly:

[code]

[2022-03-25 12:47] wkruse commented on #19192
An additional info, we have on each node two active NICs and use teaming with active backup.

[code]

`ip addr show team0`

[code]

Besides the `10.10.224.27` all the others are VIPs.

[2022-03-25 12:52] wkruse commented on #19192
We are running `Fedora Linux 35.20220116.3.0 (CoreOS)` (https://getfedora.org/en/coreos) which doesn't have `sysdump`. What kind of information, that `sysdump` provides, would be helpful?

[2022-03-25 14:35] prune998 commented on #18239
OK I reworked the PR https://github.com/cilium/cilium/pull/19181
It is working and I can confirm that it's doing exactly what it's meant for:

[code]

Which correspond to my 4 instances in this kubernetes cluster. Not using this (or using a filter on the subnets) will return 21 instances (all the instances in this account)

[2022-03-25 18:18] wkruse commented on #19192
Cilium config used in Typhoon: https://github.com/poseidon/terraform-render-bootstrap/tree/master/resources/cilium

[2022-03-25 18:25] dariush-a commented on #18951
@liuyuan10
I'm curious that same program runs fine directly on linux (outside of pod) as you've mentioned.
Also "(skb.data_end - skb.data) is only 14 bytes for such packets while skb.len is correct, which is why cilium is dropping the packet." does this mean it is related to the data_end being too short for Cilium to perform its logic,
If it's still too short, cilium can legitimately drop the traf

[2022-03-25 22:13] pchaigno commented on #14955
Ok :+1: As far as I know, there are no plans to address https://github.com/cilium/cilium/issues/14240 for v1.12 or v1.13. It's something we'd like to address but it's not prioritized right now.

[2022-03-27 16:01] vincentmli opened #19227 "cilium/pkg/option: import cycle not allowed"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

When patch  PR https://github.com/cilium/cilium/pull/18824 with following diff:

[code]

and then `make dev-docker-image`, got error

[code]

is `pkg/option/config.go` not allowed to import `pkg/map/vtep` ?

### Cilium Version

v1.11.99 (master branch)

### Kernel Version

5.10

### Kubernetes

[2022-03-28 06:07] othmane399 commented on #15428
Hello @ldelossa, any news on this issue ? we are facing the same behavior on some of our clusters using cilium v1.10.7

[2022-03-28 09:08] brb commented on #18712
Thanks for the update. Closing.

[2022-03-28 09:08] #18712 closed

[2022-03-28 10:05] aleksey-novikov opened #19232 "Expose MetalLB allocator metrics by cilium-operator"
## Expose MetalLB allocator metrics by cilium-operator

**Currently no way to monitor LB pool allocation usage**
MetalLB [register](https://github.com/cilium/cilium/blob/4e6b6b5c6359857230b1b502d1fce1a57e5c78c2/vendor/go.universe.tf/metallb/pkg/allocator/stats.go#L36) some allocator metrics:
metallb_allocator_addresses_total
metallb_allocator_addresses_in_use_total
metallb_allocator_services_alloc

[2022-03-28 10:08] #19164 closed

[2022-03-28 10:17] brb commented on #18979
@dudd You could try with https://github.com/cilium/pwru/.

[2022-03-28 10:45] qmonnet opened #19233 "CI: K8sServicesTest Checks N/S loadbalancing Tests security id propagation in N/S LB requests fwd-ed over tunnel: k8s3 host unexpectedly connected to service"
### Test Name

[code]

### Failure Output

[code]

### Stack Trace

[code]

### Standard Output

[code]

### Standard Error

[code]

### Resources

- Jenkins URL: https://jenkins.cilium.io/job/Cilium-PR-K8s-1.23-kernel-net-next/790/
- ZIP file(s): [8a54ce4f_K8sServicesTest_Checks_N-S_loadbalancing_Tests_security_id_propagation_in_N-S_LB_requests_fwd-ed_over_tunnel.7z.zip](https://github.com/cilium

[2022-03-28 19:52] nathanjsweet commented on #19202
Have you seen this in a lot of sysdumps or was this a one-time thing? I ask, because creating a timer mechanism to allow the send channel to recover more fully seems like a lot of work for a problem that really should get addressed by bumping up the `HubbleEventQueueSize`.

[2022-03-28 19:54] borkmann commented on #18928
Hello @cynkiller, do you experience the issue also with latest 1.11 stable?

[2022-03-28 20:36] thejosephstevens opened #19241 "Support custom node taint prefix to support scaling to zero nodes in GKE"
## Proposal / RFE

**Is your feature request related to a problem?**
We run Cilium with `NoSchedule` cilium taints in GKE to ensure pods are started after Cilium is able to bootstrap the node. The problem is that we run multi-zone node pools, and multi-zone pools are configured in GKE as a union of multiple Cluster-Autoscaler pools under the hood, and we regularly scale the multi-zone pool down to

[2022-03-28 21:12] borkmann commented on #13071
Hit in #18779:
[code]

[2022-03-28 21:36] christarazi commented on #19232
In future versions of Cilium, we will move away from MetalLB as we'll integrate our own BGP implementation. cc @ldelossa

[2022-03-28 21:48] christarazi opened #19243 "Implement a dedicated function to handle the MTU selection logic"
The MTU selection logic in the Agent is tied to a generic function (`firstGlobalAddr()`), which is also used with BPF masquerade and NodePort logic. Given that selecting an MTU is unique enough from BPF masq and NodePort, we should have a dedicated logic in the Agent for selecting the MTU properly, without sharing a generic function, which can result in subtle breakages if the generic function is

[2022-03-29 01:28] #16987 closed

[2022-03-29 01:29] ReillyBrogan commented on #16987
Is there going to be a follow-up issue for adding ipv6 prefix delegation as well?

[2022-03-29 01:57] qmonnet commented on #19233
https://github.com/cilium/cilium/pull/19061 was in fact missing in the branch of the PR. This is not a flake, and we can close.

[2022-03-29 01:57] #19233 closed

[2022-03-29 02:05] #18476 closed

[2022-03-29 04:10] dudd commented on #18979
@brb  Thank you. I'll try it.

[2022-03-29 08:47] nickvanwegen opened #19250 "Cilium issues on EKS with NLB in ip-mode and preserve-client-ip enabled"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

I am trying to get the following working.

-  eks cluster
- cilium
- AWS-loadbalancer-controller
- ingress-nginx

cilium config
[code]
ipmasqagent config
[code]

loadbalancer config
Note that what is important here is the aws-load-balancer-nlb-target-type = ip
and
service.beta.kubernetes.io/aws

[2022-03-29 09:50] joestringer opened #19251 "Add support for assigning IPv6 prefixes to EC2 instances"
This is the feature request for the IPv6 equivalent to #16987, which should follow a similar implementation to https://github.com/cilium/cilium/pull/18463.

[2022-03-29 09:50] joestringer commented on #16987
@ReillyBrogan I've filed #19251 to follow up on this (cc @hemanthmalla , in case you have any inputs on that - not sure if you planned to work on this?)

[2022-03-29 13:17] pchaigno commented on #19204
Happened again at https://jenkins.cilium.io/job/Cilium-PR-Runtime-net-next/1675/testReport/junit/(root)/Suite-runtime/RuntimeConntrackInVethModeTest_Conntrack_related_configuration_options_for_endpoints/.

[2022-03-29 14:54] ldelossa commented on #19232
Yes, @aleksey-novikov we plan on removing MetalLB integration.

We are still in planning phases, however the MetalLB features, along with allocatation pools, will be implemented as a Cilium native feature coming soon.

[2022-03-29 15:07] #18460 closed

[2022-03-29 15:32] alex-berger opened #19256 "Cilium no longer runs on Bottlerocket Linux as of 1.11.3"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

With the changes introduced in https://github.com/cilium/cilium/pull/18897 the Cilium agent no longer starts on [Bottlerocket Linux](https://github.com/bottlerocket-os/bottlerocket) nodes.

This is because the node-init DaemonSet cannot write the timestamp to the `bootstrapFile` ("/tmp/cilium-b

[2022-03-29 16:41] maintainer-s-little-helper[bot] opened #19257 "CI: K8sKafkaPolicyTest Kafka Policy Tests KafkaPolicies"
### Test Name
[code]

### Failure Output
[code]

### Stacktrace
<details><summary>Click to show.</summary>

[code]
</details>

### Standard Output
<details><summary>Click to show.</summary>

[code]
</details>

### Standard Error
<details><summary>Click to show.</summary>

[code]
</details>

ZIP Links:
<details><summary>Click to show.</summary>

 https://jenkins.cilium.io/job/Cilium-PR-K8s-GKE//799

[2022-03-29 16:42] jrajahalme commented on #19257
Looks like a DNS failure:
[code]

[2022-03-29 16:44] jrajahalme commented on #19257
This test case does not use DNS policies, so there is no proxy redirection related problem here.

Also checked logs for BPF complexity related issues, nothing found.

[2022-03-29 17:24] travisghansen commented on #18712
As a final update I created this to manage this: https://github.com/travisghansen/metallb-node-route-agent

[2022-03-29 17:42] lordofire commented on #19033
Kindly ping on this thread.

[2022-03-29 23:55] vincentmli commented on #19227
added `MaxVTEPDevices = 8` in `pkg/defaults/defaults.go` and reference it in `pkg/option/config.go` and `pkg/map/vtep/vtep.go` to workaround this problem

[2022-03-29 23:55] #19227 closed

[2022-03-30 02:47] yamatcha opened #19260 "Hostport doesn’t work when using Cilium with enabling maglev"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

Hostport doesn’t work when using Cilium with `loadBalancer.algorithm=maglev `.
https://docs.cilium.io/en/v1.9/gettingstarted/kubeproxy-free/#maglev-consistent-hashing-beta
I reproduced this issue with kind.
[code]

kind-config.yaml
[code]
my-nginx.yaml
[code]

### Cilium Version

[code]

### Ke

[2022-03-30 06:22] alex-berger commented on #19250
Looks like you are running into the famous NLB hairpinning problem https://docs.aws.amazon.com/elasticloadbalancing/latest/network/load-balancer-troubleshooting.html#loopback-timeout. I had the same problem some months ago, it is unrelated to Cilium and I had to disable `preserve_client_ip` to resolve it.

[2022-03-30 07:08] nickvanwegen commented on #19250
I am pretty sure these are not the causes of the issue.

https://docs.aws.amazon.com/elasticloadbalancing/latest/network/load-balancer-troubleshooting.html#loopback-timeout.

I am performing a curl from my local machine aka an IP from my ISP to a target in a 10.x.x.x range.

https://docs.aws.amazon.com/elasticloadbalancing/latest/network/load-balancer-troubleshooting.html#intermittent-connection-f

[2022-03-30 07:35] pchaigno opened #19261 "Extend unit tests for routing setup"
We should extend the unit tests in `pkg/datapath/linux/routing` to cover the sort of bug described and fixed in https://github.com/cilium/cilium/pull/19162.

The TL;DR is that we had a mismatch between the creation (`Configure`) and deletion (`Delete`) of IP rules. In unit tests today, we test those two functions separately. We would need to add a new unit test which call one after the other and c

[2022-03-30 08:27] sayboras opened #19262 "ingress: Investigate if it's possible to remove dummy endpoint"
The watcher here is only for dummy endpoint owned by Ingress object (label cilium.io/ingress: true). It's just a convenient way to upsert (i.e check from cache then perform update or create accordingly), so I don't think we need to watch endpoints or endpointslice in general.

There is a discussion to find a way to remove this dummy endpoint as well.

_Originally posted by @sayboras in https://git

[2022-03-30 09:27] borkmann opened #19264 "NAT46/64 follow-ups"
- [ ] pmtu discovery for 4->6 (tc & XDP). for 6->4 not needed.
- [ ] k8s svc integration w/ pods
- [ ] store NAT pol in svc handler's state ([link](https://github.com/cilium/cilium/pull/18779#discussion_r828814807))
- [ ] We should be able to derive the NAT pol from svc.svcNatPolicy ([link](https://github.com/cilium/cilium/pull/18779#discussion_r828874096))
- [ ] error handling for backend deletio

[2022-03-30 11:58] jibi opened #19266 "`cilium-health` unhealthy on dev VMs with default configuration"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

`cilium-health` is unhealthy on dev VMs with default configuration:

[code]

VMs have been provisioned with:
[code]

After some initial investigation it seems that something is wrong with the `InternalIP` and `CiliumInternalIP` v6 IPs:

[code]

Looking at the IPv4 addresses:

* the `InternalIP`

[2022-03-30 13:50] sayboras opened #19273 "docs: Update global service user docs"
As followed up action of https://github.com/cilium/cilium/pull/19042, related user docs must be updated https://docs.cilium.io/en/latest/gettingstarted/clustermesh/services/#load-balancing-with-global-services

To avoid any confusion, we can expand example with actual output when sending requests from each cluster.

[2022-03-30 14:23] YutaroHayakawa opened #19274 "docs: Add a caveat for the AF_PACKET specification around IPSec"
IPSec has a non-trivial specification around the tcpdump / Wireshark (technically AF_PACKET) behavior that on the ingress side, the ESP packet comes into the interface recirculated back to the interface after decryption. From the users' point of view, they will see the packets twice (encrypted and decrypted packets). This may make users misunderstand that the packets are not encrypted. It's good t

[2022-03-30 18:16] DirkTheDaring opened #19279 "NetworkPolicy of fluxcd notification-controller causes constant failing cilium pod on a node in v1.11.[1-3]"
this bug blocks a complete node from running its pods properly - please find a fix or suggest a workaround.
You can see effect of this by noticing hanging pods which do not get an IP Address assigned, e.g. the notification-controller of fluxcd hanging in "ContainerCreating".

Environment: Kubernetes cluster v1.23.5  with 14 nodes created with kubespray and cilium setting (1.11.[1-3])

What happens

[2022-03-30 18:44] aanm commented on #19279
You need to increment the bpf policy map size. Try `--set bpf.policyMapMax=32768`. Also make sure you don't have a lot of CiliumIdentities. If you have consider limiting the identity-relevant labels as mentioned [here](https://docs.cilium.io/en/v1.11/operations/performance/scalability/identity-relevant-labels/).

[2022-03-30 18:45] DirkTheDaring commented on #19279
bpf.policyMapMax=32768 already set, forget to report that.

Will check out the ciliumidenties

[2022-03-30 18:54] DirkTheDaring commented on #19279
Applied this line to cilium config. Then restarted all cilium pods

line added:
`  labels:  "k8s:io.kubernetes\\.pod\\.namespace k8s:k8s-app k8s:app k8s:name"`

**Did not help** :(
[code]

[2022-03-30 18:56] DirkTheDaring commented on #19279
bpf-policy-map-max         65536      does also not make the problem go away.

[2022-03-30 21:18] aanm commented on #19279
can you provide a sysdump?

[2022-03-31 03:16] DirkTheDaring commented on #19279
Sure. I have restricted  the sysdump  to the node where the pod fails:
`cilium sysdump --node-list prod1-node2`
[cilium-sysdump-20220331-050823.zip](https://github.com/cilium/cilium/files/8385677/cilium-sysdump-20220331-050823.zip)

[2022-03-31 06:56] ReillyBrogan opened #19282 "Image Signing"
## Proposal / RFE

**Is your feature request related to a problem?**
Kubernetes itself is currently adding support for signing release artifacts (including cluster component images) using [cosign](https://github.com/sigstore/cosign). It would be excellent if Cilium could sign their release images as well during the build pipeline so that those users desiring more secure clusters could use an admis

[2022-03-31 09:42] brb commented on #19260
@yamatcha What do you get in `cilium monitor` output running on the `172.18.0.5` node, when you do the request which fails?

[2022-03-31 10:06] DirkTheDaring commented on #19279
because it seems that kuberhealthy is in the report, this is how kuberhealthy pods look like after some hours runtime.
[code]

[2022-03-31 10:31] pchaigno commented on #19250
Could you try with the following config?
[code]
I'm trying to confirm this is an issue with our kube-proxy replacement.

[2022-03-31 10:32] pchaigno commented on #19256
cc @aanm

[2022-03-31 10:36] pchaigno commented on #19266
Who installed that rule and why?

[2022-03-31 11:04] borkmann commented on #19260
@yamatcha also, another data point would be interesting: Does this issue also occur with a recent Cilium v1.11.3?

[2022-03-31 12:07] borkmann commented on #19264
https://jenkins.cilium.io/job/Cilium-PR-K8s-1.23-kernel-net-next/836/
https://jenkins.cilium.io/job/Cilium-PR-K8s-1.23-kernel-net-next/836/testReport/Suite-k8s-1/23/K8sChaosTest_Connectivity_demo_application_Endpoint_can_still_connect_while_Cilium_is_not_running/

[code]

[2022-03-31 12:30] tgraf commented on #14483
We have hit this issue again recently and it clearly is RKE specific at this point.

[2022-03-31 13:24] nickvanwegen commented on #19250
I have tested the configuration you provided and the same issue occurred.

Also I have done some more testing in the past days and have noted the following behavior.
1. Curl to an ENI-IP is not working.
2. restart the target pod (nginx) for that availability zone
3. curl to the ENI-IP is working again.

For extra context. I am testing this by creating a new EKS cluster  every time from my terrafor

[2022-03-31 13:27] brb commented on #18895
This failure has nothing to do with the verifier.

I tried to debug in the past why it fails. So far my conclusions:

[2022-03-31 14:01] aanm commented on #19282
@ReillyBrogan Would you like to give it a try and submit a PR?

[2022-03-31 14:51] aanm commented on #19256
@alex-berger what's the output of `ls -la /bin` from a [Bottlerocket Linux](https://github.com/bottlerocket-os/bottlerocket) node?

[2022-03-31 15:46] jrajahalme commented on #19202
Could also add up the number of lost messages over the time span :-)

[2022-03-31 16:54] nathanjsweet commented on #19202
I don't know if I agree with this assessment. `HubbleEventQueueSize` increases the queue size of the consumer channel:
https://github.com/cilium/cilium/blob/775c1310f63ddebc2f1fb83af9c06223fac92dff/pkg/hubble/monitor/consumer.go#L81
https://github.com/cilium/cilium/blob/775c1310f63ddebc2f1fb83af9c06223fac92dff/daemon/cmd/hubble.go#L156
https://github.com/cilium/cilium/blob/775c1310f63ddebc2f1fb83a

[2022-03-31 17:25] alex-berger commented on #19256
@aanm bottlerocket has no tools on the host itself, not even `ls` nor is there a shell. Everything is inside a container on bottlerocket.

[2022-04-01 04:52] maintainer-s-little-helper[bot] opened #19291 "CI: K8sChaosTest Restart with long lived connections TCP connection is not dropped when cilium restarts"
### Test Name
[code]

### Failure Output
[code]

### Stacktrace
<details><summary>Click to show.</summary>

[code]
</details>

### Standard Output
<details><summary>Click to show.</summary>

[code]
</details>

### Standard Error
<details><summary>Click to show.</summary>

[code]
</details>

ZIP Links:
<details><summary>Click to show.</summary>

 https://jenkins.cilium.io/job/Cilium-PR-K8s-1.22-ker

[2022-04-01 07:37] julianwiedmann commented on #19266
Excellent question. The dev-VM setup configures `fd00::/112` as Pod CIDR for k8s1 ... but then also assigns the nodes' IPv6 addresses (`fd00::b`, `fd00::c`) from this range!

[code]

[2022-04-01 07:55] julianwiedmann commented on #19266
Configuring cilium to use a different IPv6 Pod CIDR works well so far:

[code]

[2022-04-01 07:57] pchaigno commented on #19266
Can you send a pull request for that? Is the same issue also affecting the test VMs (`test/Vagrantfile` and friends)?

[2022-04-01 10:13] lx1036 commented on #13227
@wenxinlee2015   cilium kubernetes ipam mode can resolve this issue.
(1) use cilium kubernetes ipam, the cilium agent will use k8s node cidr allocated by kube-controller-manager. it will create CiliumNode with node spec podCidr, and then node.Annotations["io.cilium.network.ipv4-pod-cidr"] if has no node spec podCidr.
see code:
https://github.com/cilium/cilium/blob/v1.12.0-rc0/pkg/k8s/init.go#L190-

[2022-04-01 10:33] brb commented on #18761
@koncha99 Are you still on it?

[2022-04-01 10:46] zhuw0312 opened #19295 "hubble.metrics.port 9091 and prometheus.port 9090 failed"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

when i cilium config set hubble.metrics.port 9091 and prometheus.port 9090，pod can not start 9090 or 9091 port after restarted.

### Cilium Version

cilium-cli: v0.10.4 compiled with go1.17.7 on linux/amd64
cilium image (default): v1.11.2
cilium image (stable): v1.11.3
cilium image (running): v

[2022-04-01 12:34] ysksuzuki commented on #19260
Cilium doesn't provision Maglev LUT for HostPort because [UpsertMaglevLookupTable](https://github.com/cilium/cilium/blob/master/pkg/maps/lbmap/lbmap.go#L97) is triggered by k8s.UpdateService event. This also occurs with v1.11.3.

[code]

[2022-04-01 12:47] ysksuzuki commented on #19260
With [this patch](https://github.com/cilium/cilium/pull/18336), hostPort is reachable from a Pod running on the same host because it has a mapping between the host port and its backends. This case is handled in bpf_lxc.c using the random argorithm.

[code]

[2022-04-01 13:34] YutaroHayakawa commented on #18591
@addreas Hi, we backported the patch that potentially resolves your problem. If you still have the cluster using v1.10, could you please try out [1.10.9](https://github.com/cilium/cilium/releases/tag/v1.10.9)?

[2022-04-01 14:00] koncha99 commented on #18761
@brb sorry for being silent for a while. I'm a bit struggling with this issue though but would make a draft PR this weekend. Does 1.13 milestone have any due or plan for release?

[2022-04-01 14:18] nbusseneau opened #19299 "ci: create a new subnetwork for GKE clusters used in external workloads testing"
This is a follow-up to #18821.

In #18821, we made sure the GKE and multicluster workflows both create GKE clusters with `--create-subnetwork=""`, so that it creates a new subnet with a default name and size, so as to avoid clusters conflicting with each others in the default subnet when there are too many secondary ranges used at the same time, resulting in this CI issue:

[code]

In the PR, we d

[2022-04-01 14:45] #19136 closed

[2022-04-01 14:55] brb commented on #18761
@koncha99 The 1.12 feature freeze is next week, so we can try to aim for v1.12 instead. Thanks.

[2022-04-01 15:05] julianwiedmann commented on #19266
test VM looks good from what I can tell. PR for dev-VM is open.

[2022-04-01 15:14] jrajahalme commented on #19264
Also in:
https://jenkins.cilium.io/job/Cilium-PR-K8s-1.23-kernel-net-next/873/testReport/junit/Suite-k8s-1/23/K8sBGPTests_Tests_LoadBalancer_Connectivity_to_endpoint_via_LB/

[2022-04-01 16:00] travisghansen opened #19304 "ioctl FIONREAD returning incorrect value when sockops is enabled"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

I was experiencing degraded service to a single pod gitlab install fronted by traefik ingress controller. I would get seemingly sporadic responses, timeouts were getting hit, etc. After some investigation it became clear that all the failure scenarios resulted from the `traefik` pod running on

[2022-04-01 16:02] sayboras opened #19306 "CI: Conformance testing for Ingress controller"
## Description

As mentioned in https://github.com/cilium/cilium/pull/18867, we should address all failure in conformance testing

- features/default_backend.feature  (all passed) :heavy_check_mark:
- features/host_rules.feature :spinning-gopher: (29 passed, 3 failed, 5 skipped) :negative_squared_cross_mark:
- features/path_rules.feature (70 passed, 3 failed, 1 skipped) :negative_squared_cross_mar

[2022-04-01 18:55] Weil0ng commented on #17839
FWIW, newer version of GKE has `host` in the lo scope for the metadata server IP, which should fix this problem.

[2022-04-01 23:01] liuyuan10 commented on #18951
Sorry for the delay. That's a great find and I'm able to fix it by calling revalidate_data_pull at the start of bpf_lxc. I prepared PR #19308.

@varunmar to follow up while I'm on paternity leave

[2022-04-02 03:44] cyclinder commented on #19299
Hi @nbusseneau,  I want to take it, but I don't know how to start, Can you give me some advice? Thanks.

[2022-04-02 07:17] cyclinder commented on #19243
Hi @christarazi , I would like to pick this up. Can you give me some code pointers on where to start?

[2022-04-02 08:06] addreas commented on #18591
I ended up running 1.11 since that worked,  but did mess around a bit with some routing issues and ended up trying out 1.10.9 for a bit and I can confirm that it seemed to work as well.

[2022-04-02 08:06] #18591 closed

[2022-04-02 08:40] varunmar commented on #18951
I'm actually also on medical leave for the next month. That's a good find, tagging @anfernee and @Weil0ng as well - can one of you push this forward?

[2022-04-02 08:40] pchaigno commented on #18591
Great! Thanks for getting back to us :pray:

[2022-04-02 16:26] panchm commented on #17944
@pchaigno Please assign this to me

[2022-04-02 21:26] jrajahalme opened #19312 "Service Mesh follow-ups for release 1.12"
- [x] Rebase/merge #18867
- [ ] Write a proper description to #18894, including but not limited to:
  - [ ] limitations, current things that are implemented, envoy resources that can be configured, resources that can't be configured, how this fits into the broader service mesh picture
  - [ ] which components (cilium-agent, cilium-operator, cilium-proxy) are expected to interact with these resourc

[2022-04-03 06:45] Weil0ng commented on #18951
Reviewed PR, will keep an eye out.

[2022-04-03 12:47] pchaigno commented on #17944
@panchm I've assigned you.

Could you describe the use case(s) for a per-policy config knob instead of a agent-wide knob? The former will be a lot more work to implement and introduces some challenges in design as outlined by @jamesharr.

[2022-04-03 13:15] jamesharr commented on #17944
One typically only wants to reveal that a port is blocked to known/friendly actors. Typically those within known segments.

For unknown/potential-bad actors it's better to drop the traffic and avoid expending further resources on reporting back.

An example might be you want all traffic  INTERNAL to the cluster to receive feedback on blocked traffic so the apps fail more reliably and faster if the

[2022-04-04 05:17] DirkTheDaring commented on #19279
do you need more information?

[2022-04-04 07:40] ysksuzuki commented on #19260
Tested the following three patterns and found out 1 and 2 are not working. As for 1, Cilium doesn't provision the Maglev LUT for the host port. As for 2,  Pods running on the host to which the host port is mapped can access the host port.  I guess [sock4_wildcard_lookup](https://github.com/cilium/cilium/blob/7021861ae9b1f85451fe6177190b0bc3f8321e28/bpf/bpf_sock.c#L286) finds the host port svc when

[2022-04-04 07:48] lianghao208 opened #19314 "Failed to create cilium DaemonSet Pod in minikube"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

Cluster version:
Minikube v1.16.0

Cluster installation:
[code]

Cilium installation:
[code]

cilium status
[code]

### Cilium Version

cilium image (default): v1.11.2
cilium image (stable): v1.11.3
cilium image (running): v1.11.2

### Kernel Version

4.14.105

### Kubernetes Version

1.20.0

#

[2022-04-04 08:12] ysksuzuki commented on #18942
@pchaigno Sorry for my late reply.

I did the print debug in my environment.

Here is the sysdump.

[cilium-sysdump-20220404-080836.zip](https://github.com/cilium/cilium/files/8407899/cilium-sysdump-20220404-080836.zip)

[2022-04-04 10:21] #19266 closed

[2022-04-04 11:18] pchaigno commented on #18942
Ok, I see the issue. This is happening because endpoint routes are disabled in the agent but some endpoints have it enabled, probably because of the chaining setup. As a result, the linked code is executed from bpf_lxc but the tail call map hasn't been populated for this to work. We should be able to fix this by always populating the tail call maps to allow jumps to bpf_host.

In the meantime, I s

[2022-04-04 12:44] dbaumgarten opened #19319 "Pods sometimes have no endpoints on re-created nodes"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

Hi,
I have a bunch of Kubernetes-Clusters running cilium. Because of internal security-policies I have to regularly change the ubuntu-images the nodes are running.
This happens by draining a done, deleting it's VM, recreating the VM and joining it back into the cluster (for all the nodes in a r

[2022-04-04 13:15] sayboras commented on #19306
### Status

After the PR https://github.com/cilium/cilium/pull/19321, we only have below 2 failures

- features/default_backend.feature (all passed) heavy_check_mark
- features/host_rules.feature 43 steps (42 passed, 1 failed) negative_squared_cross_mark
- features/path_rules.feature :spinning-gopher: 74 steps (73 passed, 1 failed) negative_squared_cross_mark
- features/ingress_class.feature (all

[2022-04-04 18:20] pchaigno commented on #17180
MLH is misidentifying recent failures in this test. Recent failures are caused by the unavailable images (because we don't wait for them to be available anymore). I'm closing this to prevent misclassifications.

[2022-04-04 18:20] #17180 closed

[2022-04-04 19:16] christarazi commented on #19264
Adding a few more search phrases for better CI flake matching

[code]

[code]

[2022-04-04 19:49] dariush-a commented on #18951
Hi @varunmar,
I see we are still waiting on code owner review from cilium/bpf.

[2022-04-04 21:33] pchaigno commented on #19264
The bpf-map sync error is causing a lot of test failures. We might need to revert the PR if a fix isn't already identified.

[2022-04-05 05:45] sayboras commented on #19306
All tests are passing in https://github.com/cilium/cilium/pull/19321

[2022-04-05 07:58] ysksuzuki commented on #18942
You are right. This issue doesn't occur if endpointRoutes.enabled is true.

Cilium needs to tail call into the host policy enforcement code from bpf_lxc not to skip the host firewall when endpoint routings are handled by the Linux stack. As for the generic-veth setup, all endpoint routings are handled by the Linux stack but the tail call map hasn't been populated if endpointRoutes.enabled is disab

[2022-04-05 08:20] pchaigno commented on #18942
Yep, that's exactly what's happening :-)

[2022-04-05 10:15] pchaigno commented on #19295
Could you clarify what you mean? Do you have pods who are using those ports on the host? Or is it the Cilium pods that can't start? If it's the second case, could you please upload a Cilium sysdump?

[2022-04-05 10:18] pchaigno commented on #19314
Thanks for the report! Could you please attach the sysdump?

[2022-04-05 10:36] lianghao208 commented on #19314
@pchaigno Here is the sysdump, thanks for the reply.
[cilium-sysdump-20220404-154801.zip](https://github.com/cilium/cilium/files/8417260/cilium-sysdump-20220404-154801.zip)

[2022-04-05 10:58] pchaigno commented on #19319
Thanks for the report! Could you upload a Cilium sysdump with a node where this happens? If possible, it would also help to enable debug mode to get more logs on what could be happening here.

[2022-04-05 11:39] dbaumgarten commented on #19319
Here is the sysdump: [cilium-sysdump-20220405-113518.zip](https://github.com/cilium/cilium/files/8417710/cilium-sysdump-20220405-113518.zip)
I will enable debugmode, try to reproduce this and provide the logs as soon as I get them. Because of the random nature of this it might take little time.

[2022-04-05 11:57] pchaigno commented on #19314
I'm unable to reproduce. I have minikube v1.24.0 and am using the virtualbox driver. Could you try with that version? Are you also using the virtualbox driver for minikube?

[2022-04-05 13:14] pchaigno commented on #19319
We're missing the reason for the timeout in the code. I've sent a PR to fix that: https://github.com/cilium/cilium/pull/19333.

Debug-mode logs might still be useful if you get them.

[2022-04-05 15:39] #14483 closed

[2022-04-05 22:05] christarazi commented on #19124
Another variant of failure

[code]

seen in https://github.com/cilium/cilium/pull/19336.

* https://jenkins.cilium.io/job/Cilium-PR-Runtime-net-next/1796/testReport/junit/(root)/Suite-runtime/RuntimeConntrackInVethModeTest_Conntrack_related_configuration_options_for_endpoints/
* [e08830bf_RuntimeConntrackInVethModeTest_Conntrack-related_configuration_options_for_endpoints.zip](https://github.com/c

[2022-04-06 01:53] vincentmli opened #19339 "vtep: enable VTEP integration for pod with hostnetwork=true"
here is a diff:

[code]
it also requires  static route on Cilium node to vtepCIDR, for example

`ip route add 10.1.1.0/24 via 10.0.1.171 dev cilium_host`

wonder if the route can be programed in Cilium when VTEP integration is enabled for pod with `hostnetwork=true`

[2022-04-06 02:05] #18540 closed

[2022-04-06 02:10] vincentmli commented on #19339
add following route also works, which seems could simplify the code in Cilium without taking the `10.0.1.171` on interface `cilium_host@cilium_net` into consideration

[code]

[2022-04-06 02:12] lianghao208 commented on #19314
I am using `--driver=none` option to start minikube.

[2022-04-06 03:37] zhuw0312 commented on #19295
sorry . Cilium pods is running well.

(https://gz-yp.oss-cn-beijing.aliyuncs.com/cilium-sysdump-20220406-113248.zip?Expires=1649216480&OSSAccessKeyId=TMP.3KhRD7Nhe6pG1Jj6yawZmRDdKQvzC5484sFBcu5ttRxUtcpNbhRsRmc9QYaQ5HB1U1gXVpBk7P1kJnQuZYcsGVhWkrfpPK&Signature=1x0cpJbVYB%2F9vUvK09SHJ9JRNKM%3D&response-content-type=application%2Foctet-stream)

[2022-04-06 03:41] zhuw0312 commented on #19295
`[root@wf-zhuwei-test-1 ~]# kubectl -n kube-system exec -it  cilium-2cz2s -- cilium status --all-controllers --all-health --all-redirects --debug
Defaulted container "cilium-agent" out of: cilium-agent, mount-cgroup (init), clean-cilium-state (init)
KVStore:                Ok   Disabled
Kubernetes:             Ok   1.22 (v1.22.2) [linux/amd64]
Kubernetes APIs:        ["cilium/v2::CiliumClusterwide

[2022-04-06 03:42] zhuw0312 commented on #19295
Defaulted container "cilium-agent" out of: cilium-agent, mount-cgroup (init), clean-cilium-state (init)
KVStore:                Ok   Disabled
Kubernetes:             Ok   1.22 (v1.22.2) [linux/amd64]
Kubernetes APIs:        ["cilium/v2::CiliumClusterwideNetworkPolicy", "cilium/v2::CiliumEndpoint", "cilium/v2::CiliumNetworkPolicy", "cilium/v2::CiliumNode", "core/v1::Namespace", "core/v1::Node", "co

[2022-04-06 03:44] zhuw0312 commented on #19295
`kubectl -n kube-system exec -it  cilium-2cz2s -- cilium status --all-controllers --all-health --all-redirects --debug`

Defaulted container "cilium-agent" out of: cilium-agent, mount-cgroup (init), clean-cilium-state (init)
KVStore:                Ok   Disabled
Kubernetes:             Ok   1.22 (v1.22.2) [linux/amd64]
Kubernetes APIs:        ["cilium/v2::CiliumClusterwideNetworkPolicy", "cilium/v

[2022-04-06 03:45] lvii commented on #17203
Hope to support `helm` with `global.imageRegistry` config for the custom private Registry.

[2022-04-06 06:51] zhuw0312 commented on #19295
i got this question soloved.

[2022-04-06 06:51] #19295 closed

[2022-04-06 07:09] WMP commented on #12895
I have this save issue, literally like as @Zempashi . I install external metallb, because i want to use layer2 protocol, and in cilium documentation metallb works only with BGP mode. This is my metallb config:
[code]
My service works without any issue  with `type: LoadBalancer   externalTrafficPolicy: Local`, but when i want to use `externalTrafficPolicy: Cluster`, curl from other host in this vla

[2022-04-06 07:31] LarsBingBong commented on #12186
@aanm ?

[2022-04-06 07:43] tklauser commented on #17672
Hit this on #19284 in the gke job: https://jenkins.cilium.io/job/Cilium-PR-K8s-GKE/8083/

[2022-04-06 09:33] pchaigno commented on #19295
What was the issue?

[2022-04-06 10:00] dbaumgarten commented on #19319
So, I enabled debug-logging, used a self-compiled version of cilium 1.10.9 which includes your PR and reproduced the issue.
This is the result: [debuglog.txt](https://github.com/cilium/cilium/files/8425814/debuglog.txt)

[2022-04-06 11:17] pchaigno commented on #19319
Thanks, that helps! Would you have the same logs but with timestamps?

[2022-04-06 11:22] dbaumgarten commented on #19319
Sure, here: [debuglog.txt](https://github.com/cilium/cilium/files/8426376/debuglog.txt)

[2022-04-06 11:41] wangfakang commented on #19167
Thanks for your answer. In most scenarios, host and continer are different network namespaces, but `tproxy` can only take effect in the same network namespace.

[2022-04-06 13:22] WMP opened #19340 "Client Source IP from cilium_host interface"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

I have k8s cluster with installed MetalLb with layer2 protocol:
[code]

In deployment i install nginx with Service:
[code]

I would like to have the real client IP in the logs, but I have the IP address from the cilium_host interface from the node on which the ARP for the address 172.17.2.7 is

[2022-04-06 15:31] WMP commented on #19340
Yes,  i trying to use DSR, following with: https://docs.cilium.io/en/v1.10/gettingstarted/kubeproxy-free/#dsr-mode . I trying settings:
[code]

and

[code]

[2022-04-06 18:22] dgeorgievski opened #19346 "CoreDNS service is not reachable from within the cluster"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

A new K3S v1.23.4+k3s1 cluster was deployed on-prem with Cilium CNI..

I've followed the procedure recommended for getting started with k3s and cilium. Cilium was installed with `cilium install` command from the command line.
https://docs.cilium.io/en/stable/gettingstarted/k3s/#k3s-install

The

[2022-04-06 20:28] #19273 closed

[2022-04-06 22:12] #16813 closed

[2022-04-07 02:02] #18567 closed

[2022-04-07 06:37] YutaroHayakawa opened #19350 "CI: Cilium L4LB NAT-46x64 (ci-nat46x64): failed to create cluster"
## CI failure

Error output:
[code]

Full logs: [logs_397248.zip](https://github.com/cilium/cilium/files/8440193/logs_397248.zip)
CI Build: https://github.com/cilium/cilium/runs/5847845630?check_suite_focus=true

Root cause may be the same as https://github.com/cilium/cilium/issues/17305

[2022-04-07 06:45] WMP commented on #19340
Now i trying with `externalIPs` field in service, but without any change, i still see IP from cilium_host.

[2022-04-07 06:46] wkhno commented on #18705
Hi，I wonder BGP network is this a mode of underlay network?

[2022-04-07 07:38] YutaroHayakawa opened #19351 "CI: runtime: Stale file handle"
## CI failure

[code]

Full logs: [out.zip](https://github.com/cilium/cilium/files/8440635/out.zip)
CI Build: https://jenkins.cilium.io/job/Cilium-PR-Runtime-net-next/1800/

[2022-04-07 09:12] pchaigno commented on #19340
DSR didn't work? What was the issue?

[2022-04-07 09:21] WMP commented on #12895
I reolve this: https://github.com/rancher/rke2/issues/2728

[2022-04-07 09:31] WMP commented on #19340
The issue is that i havent really client source IP but i have IP from cilium_host interface.

Cilium config:
[code]

Cilium status:
[code]
`cilium bpf lb list` for LoadBalancer IP :
[code]
kubectl get pod -o wide:
[code]

kubectl describe service:
[code]

MetalLb configuration:
[code]
metallb configmap:
[code]

And issue - Nginx logs has ` Allocated addresses: 10.42.0.148 (router)` expected  as my

[2022-04-07 09:49] pchaigno commented on #18256
Do you have any non-zero counters in `/proc/net/xfrm_stat`?

[2022-04-07 10:46] pchaigno commented on #19340
Status:                Strict
  Socket LB Protocols:   TCP, UDP
  Devices:               br100 172.17.2.6, br705 172.19.5.1 (Direct Routing)
  Mode:                  SNAT

You are not using DSR according to your `cilium status` output. It should state `Mode: DSR`. Did you restart the Cilium pods after enabling DSR?

[2022-04-07 11:18] WMP commented on #19340
Thanks! All works! How you thinks,  RKE2 after deploy new HelmChartConfig should restart pods?

[2022-04-07 11:18] #19340 closed

[2022-04-07 11:49] Zempashi commented on #12895
@WMP, like I said, it wasn't a problem with cilium but the network setup. Are you sure that your network allow unsymmetrical pathes ? (Request come in node A where the IP is located then get "rerouted" to a node where a backend pod really is: node B for exemple, and then response is emitted from node B)
Many cloud network doesn't allow that, as it can be seen as spoofing the MAC address (The respo

[2022-04-07 12:01] WMP commented on #12895
No, the disable-kube-proxy rke2 option does not remove kube-rpoxy deployment in case the cluster was created with kube-proxy. This means that in theory I had disable-kube-proxy set, but this deployment was running and iptables was full of rules.

[2022-04-07 14:15] #18989 closed

[2022-04-07 14:23] arianvp commented on #18989
Will do next week.

[2022-04-07 14:47] aanm commented on #12186
@LarsBingBong I think the line is no longer pointing to the right location? If you mean https://github.com/cilium/cilium/blob/43db56895dc5a70d31582688a3b253f81ab31ceb/install/kubernetes/cilium/values.yaml#L1185 then yes

[2022-04-07 22:50] ithilgore commented on #8613
Having the same issue with k8s 1.21.x and Cilium 1.9.4 and even with 'auto direct node routes' disabled.

[2022-04-08 02:07] #18465 closed

[2022-04-08 02:36] FanHTao opened #19362 "cilium server mesh High delay"
Test QPS peak with  connections:64,  envoy workers:16
istio (1.13.2)  result  19564.4qps   avg: 3.271 ms  P90 : 5.812ms
cilium-server-mesh result  13784.0qps   avg: 4.642 ms  P90 : 20.980ms
cilium-server-mesh Request success probability 80%
why cilium result so ？

[2022-04-08 07:30] yilas commented on #18256
Yes, for the node which encountered the issue, I get these non-zero values :

[code]

[2022-04-08 07:56] yuriydzobak opened #19364 "Retries cilium monitor socket"
## Proposal

**Is your feature request related to a problem?**
https://github.com/cilium/cilium/pull/19363

would be great if `cilium monitor` will have tries to check if socket is preset, something like retries to check socket again
Error:
[code]

- ref: https://github.com/cilium/cilium/blob/262ac5fbbd4270766b639529482121a55e2cbeaa/cilium/cmd/monitor.go#L251-L254

[2022-04-08 09:05] pchaigno commented on #19014
This is https://github.com/cilium/cilium/issues/17307.

[2022-04-08 09:05] #19014 closed

[2022-04-08 10:51] jtaleric commented on #19362
Hey @FanHTao - Can you define the SUT here a bit -- for both scenarios (isitio and cilium)? Platform, kernel, etc..

On one of the cilium pods can you run `cilium status --verbose`

`> kubectl get pods -n kube-system -l k8s-app=cilium`
`> kubectl exec -it -n kube-system <one of the pods from the above list> -- cilium status --verbose`

[2022-04-08 11:22] zuzzas opened #19367 "Conntrack table reset on agent restart"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

Established connections are forgotten after agent restart. Policy drops start happening on packets on established connections. I believe it's related to CT table drops. Here is what happened to etcd CT entries after agent restart:

[code]

### Cilium Version

[code]

### Kernel Version

[code]

[2022-04-08 11:28] zuzzas commented on #19367
The file size of the sysdump exceeds the size of max file uploads. I've previously uploaded the file on Cilium's Slack: https://cilium.slack.com/files/U021ND67600/F03AQG5DGSW/sysdump-3.zip

[2022-04-08 11:38] zuzzas commented on #19367
I've also managed to get `cilium monitor -D -vv` immediately after monitor socket becomes available after agent restart. You can grep for `action deny`. You'll find a lot of `:2379`  flows that are _new_ to the CT table
[cilium.log](https://github.com/cilium/cilium/files/8451447/cilium.log)

.

[2022-04-08 12:16] #18951 closed

[2022-04-08 12:16] #18239 closed

[2022-04-08 12:40] zuzzas commented on #19367
Here is a sysdump from a single Node immediately (less than a minute) after restarting the agent.

[sysdump-4.zip](https://github.com/cilium/cilium/files/8451866/sysdump-4.zip)

[2022-04-08 14:50] ldelossa opened #19376 "BGP Control Plane Follow Ups"
Issue tracks follow-ups to the merge of #18860

# TODO

- [ ] Server-side filtering of "Node SharedInformer" such that only the local node is cached/listed/watched. cc @aanm
- [ ] Tune back "relist" interval for generated shared informers cc @aanm
- [x] Support passwords for peering https://github.com/cilium/cilium/issues/19376#issuecomment-1095561850
- [x] Move to `CiliumNode` object, this was no

[2022-04-08 17:12] vincentmli commented on #19339
rough patch to add route on each node to each vtep CIDR for pod with hostnetwork

[code]

[2022-04-09 01:41] aanm commented on #19279
Yes, the sysdump doesn't contain a directory named `cilium-bugtool-cilium-agent-xxxxxx`. it should contain a directory for each node captured.

[2022-04-09 02:01] #18604 closed

[2022-04-09 02:01] #18584 closed

[2022-04-09 02:01] #18530 closed

[2022-04-09 02:06] aanm commented on #19319
Did you check fluentd previous container logs and kubelet logs for any clues? From what I can tell, endpoint creation is being canceled by kubelet itself.

[2022-04-09 02:33] aanm commented on #19346
It doesn't seem the traffic is being dropped. Can you reproduce the issue without the policy installed?

[2022-04-09 06:21] FanHTao commented on #19362
client pod and server pod on different node，client is the most possible request server with 64 connections.
platform : k8s v1.20.15
kernel : Linux master 5.4.0-107-generic #121-Ubuntu SMP Thu Mar 24 16:04:27 UTC 2022 x86_64 x86_64 x86_64 GNU/Linux

kubectl exec -it -n kube-system cilium-9dr4v -- cilium status --verbose
KVStore:                Ok   Disabled
Kubernetes:             Ok   1.20 (v1.20.

[2022-04-09 15:15] norbjd opened #19386 "DNS policies: block egress traffic only to blacklisted FQDNs"
## Proposal / RFE

**Is your feature request related to a problem?**

In a k8s cluster where untrusted workloads are running, there is no way to block traffic only to specific destinations. For example, block access to `*.twitter.com` to avoid having Twitter bots working in the k8s cluster.

**Describe the solution you'd like**

As of now, it is possible to define [DNS policies using patterns](htt

[2022-04-09 15:34] #17941 closed

[2022-04-09 16:03] vincentmli commented on #19362
@FanHTao I am not familiar with service mesh, maybe you need to run on a newer kernel version than `5.4.0-107-generic`, try a most recent kernel ?

[2022-04-10 06:15] jrajahalme commented on #18919
Backports that fix this are good to merge, IMO: #19369, #19370, #19373

[2022-04-10 09:57] SweetGeneral commented on #18678
Hey, I'd like to take this up. But I don't know where to start. Could you please guide me or provide documentation to which i can refer to?

[2022-04-10 09:58] SweetGeneral commented on #19203
Hey, I'd like to take this up. But I don't know where to start. Could you please guide me or provide documentation to which i can refer to?

[2022-04-11 02:10] #18462 closed

[2022-04-11 08:45] dbaumgarten commented on #19319
This is the first time that pod is started on the brand new node. There isn't any previous container.
I had looked at the kubelet logs, but didn't see anything that caught my attention.
Looking at the kubelet-logs again, I see that the kubelet is beeing restarted by some script if mine, right in the middle of the initial boot-process.
Maybe, when kubelet is restarted just at the wrong time during

[2022-04-11 09:23] gandro commented on #18239
Quick summary for anyone stumbling upon this on v1.10/v1.11:

- If you are using the Helm value `eni.subnetTagsFilter` value, please note that it requires that each instance has an ENI with a matching subnet attached when Cilium is deployed. If in doubt, _do not use_ the `eni.subnetTagsFilter` flag, and _only_ use the subnet tag filter in the CNI config (via `cni.customConf`). The documentation ha

[2022-04-11 09:23] YutaroHayakawa commented on #19376
I think we need one more follow-up item. Making better operation visibility.

https://github.com/cilium/cilium/pull/18860#issuecomment-1085787248

[2022-04-11 15:23] hellobiek commented on #19051
I also meet this problem，have you fixed this problem?

[2022-04-11 15:25] #19346 closed

[2022-04-11 16:42] asvoboda opened #19400 "hubble-enterprise segfault on new kernel"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

hubble-enterprise v1.2.1 segfaults on a "newer" kernel version and enters a crash backoff loop.

### Cilium Version

quay.io/isovalent/hubble-enterprise:v1.2.1
quay.io/isovalent/cilium:v1.9.4-cee.1

### Kernel Version

working host:
[code]

failing host:
[code]

### Kubernetes Version

[code]

[2022-04-11 17:51] vincentmli commented on #18459
waiting for VTEP integration feature merged in master branch to address this issue

[2022-04-11 20:08] alkarp opened #19405 "pod has a wrong identity assigned (reserved:world)"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

Traffic from pod A to pod B is permitted in a policy and is allowed. After a node restart subject traffic is being dropped.

In hubble observe logs the source identity is shown as 2 (reserved:world), instead of the actual pod identity:
[code]

the source identity seems to have all the correct l

[2022-04-11 21:02] arianvp commented on #19376
I'm missing an option to set an password for peering.

Another thing that is not clear to me is if  service CIDR advertisements is implemented yet. I assume not because there is only a node-local agent implemented so far?

[2022-04-11 22:02] ldelossa commented on #19376
@arianvp Do you mean the advertisement of LoadBalancer IPs via BGP?

[2022-04-12 01:32] aanm commented on #19386
What if the application already knows the IP address of twitter.com and will use that IP address without performing a DNS resolution?

[2022-04-12 02:06] #18648 closed

[2022-04-12 02:06] #18638 closed

[2022-04-12 05:09] camrossi commented on #19376
I am also working on integration Cilium with BGP and I am having a few issues:

- Can't set a password for the peering as said by @arianvp
- I am not sure how I advertise LoadBalancer IPs via BGP
- The documentation is contradicting itself: in https://github.com/cilium/cilium/tree/master/pkg/bgpv1 is stated:
  `Only a single CiliumBGPPeeringPolicy can apply to a Cilium node.`
and then in https://g

[2022-04-12 05:52] dctrwatson commented on #19250
To trigger this issue, the Pod needs to be allocated an IP that's _not_ on the Primary ENI

SYN will come in on the secondary ENI, but SYN-ACK will go out the Node's Primary ENI.

Since the the ip rules only keep outbound traffic tied to the correct interface for the VPC (or `ipv4-native-routing-cidr`)

[2022-04-12 06:21] skmatti opened #19406 "Conntrack entry mismatch leads to policy enforcement on reply packet for service loopback case"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

Steps to reproduce:

[code]

It is important that the service port (81) is different from the container port (80). Issue does not occur if they are the same.

[code]

Send traffic to itself via cluster IP:
[code]

Cilium monitor output:
[code]

As per my understanding, a pod sending packets to

[2022-04-12 06:21] skmatti commented on #19406
This issue related to https://github.com/cilium/cilium/issues/11593 and https://github.com/cilium/cilium/pull/15321

[2022-04-12 08:46] camrossi commented on #19376
Oh right ! My bad misunderstood that 😊

[2022-04-12 09:53] Ericra95 commented on #19051
cilium Documentation is missing productpage service
create productpage service，can solve this problem
[code]

[2022-04-12 10:41] zhujik commented on #13663
Any news here? Still doesn't work, even uninstalling cilium won't fix nodes when this was enabled once.

[2022-04-12 10:56] hoozgomk opened #19408 "Ciilium 1.11.3 not deploying correctly on k8s with COS - docker runtime"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

Hello,
I'm trying to deploy Cilium ver 1.11.3 with COS - docker runtime on k8s cluster on GKE.

I'm using helm chart:

          helm upgrade cilium cilium/cilium --version 1.11.3 --install \
              --namespace kube-system \
              --set nodeinit.enabled=true \
              --set

[2022-04-12 11:33] ldelossa commented on #19376
@arianvp @camrossi

The advertisement of LoadBalancer IPs is not implemented in this yet. This was answered answered in your review comment @arianvp on the original BGP Control Plane PR.

Keep an eye out for this, we will be implementing it over the next few weeks.

Password support can be patched in sooner then this.

[2022-04-12 11:46] norbjd commented on #19386
@aanm In that case, I guess that using `except` with `toCIDRSet` is ok.

But this requires to find **every** IP behind all `*.twitter.com`. This is not really convenient. And it only works if IPs behind the FQDN do not change.

Note that `*.twitter.com` is just an example, we can imagine having something larger like `*.com`.

[2022-04-12 11:58] camrossi commented on #19376
Thabk you @ldelossa !

What about the POD CIDR advertisement?

Since I'm looking to write an integration guide would you recommend I wait for this feature or look into the other options (Bird/Kube-Router)? I prefer to pick the feature that will be the best one even if it takes a bit longer 😀

[2022-04-12 12:01] jtaleric commented on #19362
@FanHTao as @vincentmli mentioned, try a newer kernel. I have tested with - `5.16.0-051600-generic`

Considering the significant difference in latency and throughput, we only see a small difference in utilization (CPU) comparing the two.

![image](https://user-images.githubusercontent.com/3965163/162956242-0f96d80b-7614-4af5-8be4-e0664e251fd6.png)

[2022-04-12 12:07] pchaigno commented on #19406
Did you check if the same bug also affects master?

[2022-04-12 12:35] camrossi commented on #19376
Yes but I'm getting only 1 node advertising the POD CIDR as a whole /24 in my case.
However each node gets a /27 allocated and that is not advertised.

I put my config and the routes I received in my first message. Let me know if you need more information

[2022-04-12 12:41] nickvanwegen commented on #19250
I tested that @dctrwatson said and indeed this is the behavior. deleting the node for and reschedule the pods made it so that the ingress-nginx pod is scheduled on the primary ENI.

Tho I am not sure if this is not working because of my cilium config or is this a cilium issue that needs to be fixed?

[2022-04-12 12:56] ldelossa opened #19411 "[BGP Control Plane]: Reports of incorrect PodCIDR announcement"
I am also working on integration Cilium with BGP and I am having a few issues:

- Can't set a password for the peering as said by @arianvp
- I am not sure how I advertise LoadBalancer IPs via BGP
- The documentation is contradicting itself: in https://github.com/cilium/cilium/tree/master/pkg/bgpv1 is stated:
  `Only a single CiliumBGPPeeringPolicy can apply to a Cilium node.`
and then in https://g

[2022-04-12 13:39] dbaumgarten commented on #19319
Ok, after making sure kubelet can run uninterrupted, I tried reproducing the issue.
I have tried quite a few time, but the issue never occurred again.
The random nature of it makes it hard to say if it's actually gone, but I am getting more and more confident.

Tl;dr: Do not restart kubelet while it is trying to create pods, or they might end up without endpoints.

[2022-04-12 13:39] #19319 closed

[2022-04-12 17:45] dctrwatson commented on #19250
masquerading needs to be fully disabled (both bpf + iptables)

This also means you will need at least 1 NAT Gateway to support outbound external connections from non-Primary ENI Pods (if you have such a requirement that is)

[2022-04-12 21:37] dctrwatson opened #19421 "iptables-save missing from cilium/startup-script image"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

The `AWS-SNAT-CHAIN` is not removed after `cilium-node-init` starts.

I believe it's because iptables-save is missing the cilium/startup-script image since `cilium-node-init` postStart would use that image: https://github.com/cilium/cilium/blob/62aa82d542c6203116e08944ffffc339c1daa6b1/install/k

[2022-04-12 22:24] aanm commented on #19386
@norbjd precisely my point, if `192.0.2.1` is blocked because there was a DNS resolution that resolved the `www.twitter.com` to `192.0.2.1`, how could we know that the App didn't store the IP address `192.0.2.2`, which also belongs to `www.twitter.com` and uses that IP address instead of `192.0.2.1`?

[2022-04-12 23:08] #17694 closed

[2022-04-12 23:09] vincentmli commented on #18730
https://github.com/cilium/cilium/pull/18824 addressed this issue

[2022-04-13 04:28] skmatti commented on #19406
Yes, I tried `v1.12.0-rc1` which was created Yesterday and it has the issue

[2022-04-13 04:46] skmatti commented on #19406
I enabled debug logs which confirms that the reply packet is treated as a new packet:

[code]

Cluster IP - 10.105.185.194
Pod IP - 10.0.0.92

[2022-04-13 08:25] borkmann opened #19425 "CI: ci-external-workload: Cilium API handler panicked"
## CI failure

Seen in one of the agent logs attached to the zip in here:
[code]

https://github.com/cilium/cilium/actions/runs/2158036465
[cilium-sysdump-out.zip (23).zip](https://github.com/cilium/cilium/files/8479547/cilium-sysdump-out.zip.23.zip)

[2022-04-13 08:43] borkmann commented on #18013
Looks like this hasn't been observed since. Closing.

[2022-04-13 08:43] #18013 closed

[2022-04-13 08:50] pchaigno commented on #19406
So if I understand correctly, the issue here is that we're not using the correct port when creating the conntrack entry? Did you check the code to see why that is?

[2022-04-13 09:46] arianvp commented on #19411
The code seems to be using   `Spec.PodCIDRs`  and not `io.cilium.network.ipv4-pod-cidr`.    @camrosssi I'm curious if those two match or mismatch in the nodes in your cluster?

I am a little bit confused (perhaps its just lacking documentation) but I thought that in cilium's IPAM is used then `Spec.PodCIDRs` should be ignored. Is it maybe that you're not using Kubernetes IPAM (https://docs.cilium.

[2022-04-13 09:48] brb opened #19427 "BPF host routing broken when sending from pod to local node's non-mananged netdev"
When the BPF host routing feature is enabled (`--enable-host-legacy-routing=false`), a packet send from a pod to an IP address belonging to an interface of the same node, which the pod runs on, might be blackholed.

This happens, when there is no entry in the IPCache for that destination IP addr, and the destination is treated as `WORLD_ID`. This makes the packet to output via `skb_do_redirect()`

[2022-04-13 09:53] camrossi commented on #19411
@arianvp yes I am suing cluster scope IPAM so that should explain it!
And yes I agree we should support cilium-native IPAM since is the default.

[2022-04-13 10:14] brb opened #19428 "bpf_skb_set_tunnel_key + redirect to a non-tunnel device might crash the kernel"
While developing the WireGuard host2host encryption feature (https://github.com/cilium/cilium/pull/19407), I noticed that if redirecting after calling `bpf_skb_set_tunnel_key()` to a device which doesn't support the tunnel metadata crashes a VM. Unfortunately, I couldn't retrieve the dmesg as VirtualBox had immediately rebooted the machine.

I had the following modification in the `to-overlay` sec

[2022-04-13 10:44] aanm commented on #19425
Marking as a release blocker because the `cilium metrics list` file is empty and this file is important for debugging purposes.

[2022-04-13 11:17] borkmann commented on #19428
Not really related given you mentioned 5.17, but there were occasions we fixed in the past:
- https://git.kernel.org/pub/scm/linux/kernel/git/torvalds/linux.git/commit/?id=c4c877b2732466b4c63217baad05c96f775912c7
- https://git.kernel.org/pub/scm/linux/kernel/git/torvalds/linux.git/commit/?id=a188bb5638d41aa99090ebf2f85d3505ab13fba5

[2022-04-13 11:21] norbjd commented on #19386
Ok, I misunderstood your first comment, sorry. Thanks for clarifying :raised_hands:

You are right, I haven't thought about this. I guess that **just** blocking DNS is not 100% reliable, but most of the applications resort to DNS and use FQDNs instead of bothering to manage an up-to-date IP list behind a FQDN.

But I guess this is the same issue with the existing [DNS policies](https://docs.cilium

[2022-04-13 11:21] borkmann commented on #19428
@brb So basically datapath populated collect_md meta data, redirected to vxlan device, but then the above snippet decided to forward the skb to the wg dev instead which lead to eventual crash, right? (So I guess it could be repro'ed with a simple BPF prog, populating the tunnel key and then sending to a wg.)

[2022-04-13 12:55] zhujik commented on #18329
@aanm I have the same issue and the subnetfilter issue doesn't seem to be related. I do not have subnet filters enabled and after installing cilium with nodeEncryption enabled, the nodes become unreacheable, even after uninstalling cilium. The nodes have to be replaced.

[2022-04-13 12:58] brb commented on #19428
:man_facepalming: It was one of the 5.17 rc kernels. Let me try with 5.17.0.

[2022-04-13 14:09] #18761 closed

[2022-04-13 14:09] brb commented on #19428
Crashed `Linux ceuse 5.17.1-arch1-1` which is my laptop. The laptop didn't freeze, but immediately rebooted. Unfortunately, nothing in `journalctl -r -b -1 -k`.

The diff from https://github.com/cilium/cilium/pull/19407:
[code]

[2022-04-13 15:22] NikAleksandrov commented on #19428
Thanks, it's really easy to reproduce actually, setup 2 wireguard peers (connected/working) and then redirect to egress
on one of them, e.g. attach this to some other interface and run packets through it:
`static __inline int redir_data(struct __sk_buff *skb)
{
	struct bpf_tunnel_key key = {};

        key.tunnel_id = 50000;
        key.remote_ipv4 = 10203040;
        key.tunnel_ttl = 64;

[2022-04-13 15:38] gandro commented on #18773
I currently don't have cycles for this. Unassigning. It seems like the fix requires more than just a simple nil check.

[2022-04-13 17:34] tklauser commented on #19093
Seen on #19397: https://jenkins.cilium.io/job/Cilium-PR-Runtime-net-next/1880/

[2022-04-13 18:49] lizrice opened #19433 "Conn tracking for ICMP reply, but not request"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

Here are some example Hubble flows showing some health-check pings:
[code]
The `<>` in the first line suggests we don't know whether it's a request or reply, and @gandro tells me this info comes from connection tracking in the datapath. But the reply (third line) does have connection tracking,

[2022-04-13 22:25] joestringer opened #19437 "Improve visibility policy documentation to describe how to confirm that it is applied"
In the [Visibility Policy Troubleshooting section](https://docs.cilium.io/en/stable/observability/visibility/#troubleshooting), the docs describe checking the CiliumEndpoints resource in k8s to figure out whether the visibility policy is properly applied.

However, the endpoint status which would describe this is disabled by default. The option to enable it is under `--endpoint-status`. Those trou

[2022-04-14 06:11] zhanghe9702 commented on #12454
i have tested in CNI-Chaining (calico) kind k8s cluster(cgroupv2 only) , it looks like exist same problem :), and cilium version(v1.12.0-rc1)

`helm install cilium install/kubernetes/cilium --devel=true   --namespace=kube-system   --set cni.chainingMode=generic-veth   --set cni.customConf=true   --set cni.configMap=cni-configuration   --set tunnel=disabled   --set enableIPv4Masquerade=false   --se

[2022-04-14 06:12] zhanghe9702 commented on #12454
`📋 Test Report
❌ 3/11 tests failed (7/104 actions), 0 tests skipped, 0 scenarios skipped:
Test [echo-ingress-l7]:
  ❌ echo-ingress-l7/pod-to-pod/curl-2: cilium-test/client2-547996d7d8-fqr48 (10.244.162.132) -> cilium-test/echo-other-node-6cd597cddc-mjhfl (10.244.110.131:8080)
  ❌ echo-ingress-l7/pod-to-pod/curl-3: cilium-test/client2-547996d7d8-fqr48 (10.244.162.132) -> cilium-test/echo-same-node-

[2022-04-14 06:42] Charlottell opened #19438 "restart cilium pod, cilium-health status is not normal"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

1、restart the cilium pod of master1, cilium pod status is running, but i check the cilium status in the master1 and master2, status of master1 is normal , but status of master2 ,cilium endpoints unreachable.

[code]

[code]

[code]

2、 I  checkout the cilium-health status of master1 and master2

[2022-04-14 09:37] borkmann commented on #19427
Related: https://github.com/cilium/cilium/commit/234e851aa7aa0cfcdd61e5efdedee869f147f8a4

[2022-04-14 09:57] Champ-Goblem opened #19439 "Unrelated Cilium Network Policy Causing Konnectivity Agent Issues"
We seem to be experiencing a weird issue with a specific network policy and the health of the konnectivity agent which otherwise should not be affecting this service. During a routine kubernetes upgrade from version `1.21.9-gke.300` -> `1.21.10-gke.1500` we started to experience errors with the Istio sidecar webhook that was blocking pods from spawning on the cluster. It is also not the first time

[2022-04-14 12:26] borkmann commented on #19428
Fixed in https://github.com/WireGuard/wireguard-linux/commit/c6476d123a28905e73b4e5b3169b6ebc45e8d674 . The commit will be routed to net tree, and then subsequently stable can pick it up.

[2022-04-14 12:39] NikAleksandrov commented on #19428
The fix has been applied to wireguard's tree.

[2022-04-14 12:39] #19428 closed

[2022-04-14 13:19] jmcshane opened #19440 "Cilium API Connectivity issue - unrecoverable, unable to create/delete ciliumendpoint"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

Cilium-agent becomes unrecoverable, unable to create/delete endpoints permanently and the cilium-agent pod had to be manually reset.
### Cilium Version

Cilium 1.11.2

### Kernel Version

[code]

### Kubernetes Version

[code]

### Sysdump

[cilium-sysdump-20220420-155943.zip](https://github.co

[2022-04-14 13:37] thehunt33r commented on #19440
I can confirm we're seeing the exact same issue on Cilium 1.10.9 in our environments.

[2022-04-14 13:40] tklauser commented on #19124
Seen in #19430: https://jenkins.cilium.io/job/Cilium-PR-Runtime-net-next/1887/

[2022-04-14 14:07] jmcshane commented on #19440
There's also this warning log from immediately before the errors occurred:

[code]

[2022-04-14 18:12] jmcshane commented on #19440
This is a good point, when this behavior happens and pods on the node have readiness checks which depend on access to the kubernetes API server, those pods go into an unready state and that traffic to the k8s API endpoint is blocked.

[2022-04-14 19:37] DirkTheDaring commented on #19279
The problem caused by flux cd is also tracked here

[Unreachable readiness probes with k3s + Cilium CNI ](https://github.com/fluxcd/flux2/issues/1450
)
Recommendation is to set --network-policy=false on installation which is default true.

This is really ugly and it becomes worse when you start using tools like kuberhealthy + tekton in the cluster.
Observation: basically all tools which leave "Ter

[2022-04-14 21:21] damiendawreck commented on #18257
Hey @rlex I wonder If you got the k3s + wireguard setup working? I am currently also experimenting with k3s and wireguard(netmaker) and I am pretty much running into the same problem as you.

[2022-04-14 21:29] rlex commented on #18257
in standard mode (with ebpf, without DSR) it works fine.
As for DSR, i never got it working running on top of wireguard.

[2022-04-15 05:13] skmatti commented on #19406
I am using v1.12.0-rc1 for debugging. The conntrack entries are created correctly with this version.

Cluster IP - 10.105.185.194
Pod IP - 10.0.0.92
[code]

But the issue is with the conntrack lookup:
[code]

flags=0 which means the lookup was initialized from https://github.com/cilium/cilium/blob/964b034aa91c50a145416ec3a94093e3beb1b06e/bpf/bpf_lxc.c#L664 but it should not have reached this line.

[2022-04-15 05:36] ysksuzuki opened #19453 "Kernel panic on flatcar 3139.2.0 with loadBalancer.acceleration native"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

All worker nodes got stuck in rebooting due to kernel panics after we upgrade those OS from flatcar 3033.2.4, kernel 5.10.107 to flatcar 3139.2.0, kernel 5.15.32. It seems that something is wrong with `loadBalancer.acceleration: native` on flatcar 3139.2.0.

## Test Result

- flatcar 3139.2.0,

[2022-04-15 05:39] ysksuzuki commented on #19453
cilium-agent log

[code]

[2022-04-15 07:00] arianvp commented on #19376
My suggestion for the password would be to add a `secretKeyRef` to point to a kubernetes secret

[code]

[2022-04-15 08:08] HamzaZo opened #19454 "CFP: DNS entry in multi-cluster"
**Is your feature request related to a problem?**

 I'm starting testing Cilium cluster mesh to enable multi-cluster communication.  I've noticed it only works when both k8s clusters have the same namespaces and service objects. Let's take the following example :

->Service A is placed in Cluster A, and needs to call --> Service B residing at Cluster B

Currently, this scenario is not possible bec

[2022-04-15 09:48] pchaigno commented on #19406
`flags=0` means `tuple->flags == TUPLE_F_OUT` which itself means `dir == CT_INGRESS`. I think you are looking at https://github.com/cilium/cilium/blob/c5c7d4126bbec0871cff05a2942c4b13d8131cac/bpf/lib/nodeport.h#L1974

[2022-04-15 11:55] pchaigno commented on #18257
cc @gandro @brb

[2022-04-15 12:55] szucsitg opened #19455 "L7 visibility annotations break cluster's external connectivity"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

I added annotation to gain L7 visibility metrics for Hubble, and it breaks cluster external connection.

Our cluster is EKS, with kube-proxy replacement strict mode and ENI network mode, on Bottlerocket OS. No network policy deployed. I start a container, e.g. `kubectl run multitool --image=pra

[2022-04-15 13:28] akoserwal opened #19456 "Error: Unable to install Cilium: invalid cluster name"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

~ cilium install
ℹ️  using Cilium version "v1.11.3"
🔮 Auto-detected cluster name: api-mk-c9cm59nafa3h-dlin-s1-devshift-org:6443
🔮 Auto-detected IPAM mode: cluster-pool
❌ Cluster name "api-mk-c9cm59nafa3h-dlin-s1-devshift-org:6443" is not valid, must match regular expression: ^[a-z0-9]()$

### C

[2022-04-15 13:39] akoserwal opened #19457 "Error: INSTALLATION FAILED: Chart.yaml file is missing"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

helm install cilium cilium/cilium --namespace=kube-system
Error: INSTALLATION FAILED: Chart.yaml file is missing

 helm install cilium cilium/cilium --version 1.10.9 \
  --namespace kube-system

### Cilium Version

cilium-cli: v0.11.1 compiled with go1.18.1 on darwin/amd64
cilium image (default

[2022-04-15 14:41] aanm commented on #19457
[code]

I'm unable to reproduce this issue. Make sure you run `helm install` on a directory that doesn't have another directory named 'cilium' in it.

[2022-04-15 14:45] ysksuzuki commented on #19453
I raised [this issue](https://github.com/flatcar-linux/Flatcar/issues/721) on Flatcar as well.

[2022-04-15 15:20] #14333 closed

[2022-04-15 16:32] skmatti commented on #19406
I see, thanks. But why would it go through nodeport, it is a cluster IP service. Maybe it is coming from https://github.com/cilium/cilium/blob/964b034aa91c50a145416ec3a94093e3beb1b06e/bpf/bpf_lxc.c#L1522

[2022-04-15 17:55] pchaigno commented on #19406
Oh, right. That makes more sense.

So it's ingressing into the container and we're doing a CT lookup with the VIP instead of the loopback IP. So why wasn't the packet [SNATed to the loopback IP](https://github.com/cilium/cilium/blob/a0dabcd796b53564a76b4b0a374ce94cb37ce410/bpf/lib/lb.h#L1573-L1589) on egress?

[2022-04-15 18:15] damalhot opened #19463 "CFP: Support for TFTP protocol with NodePort service"
## Cilium Feature Proposal

Thanks for taking time to make a feature request for Cilium! If you have usage questions, please try the [slack channel](http://slack.cilium.io/) and see the [FAQ](https://github.com/cilium/cilium/issues?utf8=%E2%9C%93&q=is:issue+label:kind/question+) first.

**Is your feature request related to a problem?**
- Yes
If so, please describe the problem
- NodePort service ex

[2022-04-15 18:32] skmatti commented on #19406
Here is the full conntrack lookups for the trafffic.

There was a lookup with loopback IP but the verdict was `Reply`. Then source NAT and DNAT happens and a conntrack lookup is initiated again:

[code]

[2022-04-15 18:53] pchaigno opened #19464 "CI: Cilium L4LB NAT-46x64: array index out of bounds"
https://github.com/cilium/cilium/runs/6038764931?check_suite_focus=true

[code]

[2022-04-15 18:55] damiendawreck commented on #18257
I have updated my above comment and attached most details of how my environment is setup ^^

[2022-04-15 19:37] rlex commented on #18257
it's worth mentioning that both in my and @damiendawreck situations built-in cilium encryption is not used. Wireguard is running externally, on host level, to ensure full encryption (if i recall correctly, cilium builtin encryption is pod2pod only)

[2022-04-16 03:37] akoserwal commented on #19457
yes, you are right

[2022-04-16 03:37] #19457 closed

[2022-04-16 03:41] akoserwal opened #19467 "publish cilium arm/arm64 images on quay"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

Failed to pull image "[quay.io/cilium/operator-generic:v1.11.3@sha256:5b81db7a32cb7e2d00bb3cf332277ec2b3be239d9e94a8d979915f4e6648c787](http://quay.io/cilium/operator-generic:v1.11.3@sha256:5b81db7a32cb7e2d00bb3cf332277ec2b3be239d9e94a8d979915f4e6648c787)": rpc error: code = NotFound desc = fai

[2022-04-16 08:41] pratik2315 commented on #19437
Hey! I am just starting out the contributions here and this seems like a perfect issue to start with. Do you mind if i work on this issue?

[2022-04-16 12:37] liuyixian123 opened #19468 "If I set KubeProxyReplacement=disabled，I've found pod visit another node IP failed"
but when I add iptables rule( iptables -t nat -I POSTROUTING -s 192.168.0.0/16 -j MASQURADE)，it connected ok!。what should i configure something to avoid this problem?

[2022-04-16 12:41] liuyixian123 opened #19469 "if i set kubeProxyReplacement=strict , pod connected to k8s api server(u can curl -k https://10.254.0.1:443 in pod) failed"
so what cause this problem？i found if i manully add iptables rule( iptables -t nat -I POSTROUTING -s 192.168.0.0/16 -j MASQURADE), it conneted to 10.254.0.1 success。

[2022-04-16 21:31] Ram81 opened #19470 "Cilium FQDN connectivity failure on multi node EKS cluster"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

Cilium FQDN connectivity fails when we deploy a  custom network policy on a EKS cluster with more than 1 node.

When I set up a EKS cluster on AWS with more than one nodes and try to use cilium to only allow ingress traffic from `archive.ubuntu.com` and `eval.ai` cilium only works on 1 node all

[2022-04-17 08:09] DirkTheDaring commented on #14658
[code]

[2022-04-17 17:10] vincentmli commented on #19468
@liuyixian123 could you provide more detail on your deployment detail like  cilium config? cilium sysdump would be even better

[2022-04-18 01:29] liuyixian123 commented on #19468
cilium version is v1.10.2
![image](https://user-images.githubusercontent.com/94579721/163740557-d6908955-145b-4e5a-b872-f21d4c54517a.png)

[2022-04-18 01:52] FanHTao commented on #19362
There are some occasional errors in my pressure test log.
          _http  resp 503   body: upstream connect error or disconnect/reset before headers. reset reason: connection failure_
I observed that the server is normal，What makes this error？

[2022-04-18 02:42] vincentmli commented on #19468
what about cilium agent log or cilium sysdump?

[2022-04-18 16:23] DirkTheDaring commented on #19279
so it turns out the root cause lies as always where you are not looking. It seems that also cilium install worked like a charm with kubespray, there is no warning about that you should turn of "nodelocaldns" in the first place - at least not in the install of kubespray "nodelocaldns", which relies *hardcoded* on hostNetwork: true. According to cilium blogs this causes troubles - and i was never ab

[2022-04-18 17:58] joestringer commented on #19437
Hey @pratik2315 sure, welcome! I've assigned the issue to you. If you'd like to discuss more details, then feel free to ask questions either here or on Slack in the #development or #sig-docs channels.

[2022-04-18 19:16] damalhot commented on #19463
External Client IP: 10.78.109.203
Pod IP: 192.168.2.71
Node-1 IP:  10.78.109.173, cilium_host: 192.168.2.52, tftp pod is running here
Node-2 IP:  10.78.109.175, cilium_host: 192.168.0.39, tftp pod is not running here
NodePort: 69
ContainerPort:69

Case 1: When client connects to NodeIP:NodePort (10.78.109.173:69) where the TFTP pod is running
Conntrack entries on cilium-agent from the Node-1 (wher

[2022-04-18 23:08] joestringer opened #19472 "CI: ConformanceAKS: to-fqdns/pod-to-world: command ... succeeded while it should have failed"
## CI failure

https://github.com/cilium/cilium/runs/6033468826?check_suite_focus=true

[cilium-sysdump-out.zip (9).zip](https://github.com/cilium/cilium/files/8508631/cilium-sysdump-out.zip.9.zip)

Found as part of #19452.

[code]

[2022-04-18 23:09] joestringer commented on #19472
Seems like the policy was not successfully applied before running the traffic through to validate.

[2022-04-18 23:12] joestringer commented on #16928
Hit also in [K8sPolicyTestExtended Validate toEntities KubeAPIServer Allows connection to KubeAPIServer](https://jenkins.cilium.io/job/Cilium-PR-K8s-1.21-kernel-5.4/1031/testReport/junit/Suite-k8s-1/21/K8sPolicyTestExtended_Validate_toEntities_KubeAPIServer_Allows_connection_to_KubeAPIServer/)

[2022-04-19 02:13] #18586 closed

[2022-04-19 08:11] htoo97 opened #19477 "Egress to external resources broken on all non host-network pods for a few nodes every time the cluster is scaled up"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

TLDR is that on the bad nodes, all (non host-network) pods cannot make egress requests to external resources (such as a random IP belonging to google.com). Talking to cluster-internal IPs all work. Somehow the TCP 3-way handshake was never completed and always failed at the ACK, which had its s

[2022-04-19 09:09] #18904 closed

[2022-04-19 09:10] #17669 closed

[2022-04-19 10:54] szucsitg commented on #19455
I tested this with AL2 based EKS nodes, and also in KinD, and it breaks the traffic similarly. Therefore it's likely not AWS specific.

[2022-04-19 11:19] jtaleric commented on #19362
Hey @FanHTao - Not following the question here?

You are seeing these 503s from the test tool, or something else?

[2022-04-19 12:13] liweilun1 opened #19479 "cilium v1.11.4 run in fedora 36 kubernetes 1.23.5 can't be healthy and connectivity test failed"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

i install cilium 1.11.4 in fedora 36 kubernetes 1.23.5 and cilium is Unhealthy , fedora is installed by vmware workstation.
Events of cilium pod
  Normal   Created         36s                kubelet  Created container cilium-agent
  Normal   Started         36s                kubelet  Started c

[2022-04-19 14:51] Rid commented on #15462
Is there plans for WireGuard support when using the kube-proxy replacement? or is that referred to as the L7 proxy?

[2022-04-19 15:34] ti-mo commented on #19425
I'm not sure if this is a flake, it's breaking #19159 CI for me on every run. It's causing so much noise that I can't see actual failures anymore.

This took a while for me to narrow this down to `cilium metrics list` being the culprit. APIPanicHandler recovers the json panic, but `WriteHeader()` at `apipanic.go:36` seems to cause another panic.

I think 6c5e2d66f3e3efcf9723c4cbb19d92ae80bcb1d7 is

[2022-04-19 15:41] pratik2315 commented on #19437
Sorry for the late reply. I'll start working on this issue immediately. If any doubts, i'll share them w/ you or the slack channels you mentioned. Thanks

[2022-04-19 16:03] chancez commented on #19425
I suggest reverting the update to `prometheus/client_golang` so we're at 1.11 until a new release is made to fix the new metrics introduced in 1.12.

[2022-04-19 18:50] joestringer commented on #19093
Is this distinct from #18958?

[2022-04-19 18:52] joestringer commented on #19093
I'm seeing this also in a PR run here: https://jenkins.cilium.io/job/Cilium-PR-Runtime-net-next/1921/testReport/junit/(root)/Suite-runtime/RuntimePrivilegedUnitTests_Run_Tests/

[code]
...
[code]

Bottom line is that it appears to take the full 16 minute timeout to run: https://github.com/cilium/cilium/blob/89f67901cad6ee882606bf0a4e1848119bcfd4d2/test/runtime/privileged_tests.go#L21

Notably, the

[2022-04-19 18:53] joestringer commented on #18958
I'm seeing this also in a PR run here: https://jenkins.cilium.io/job/Cilium-PR-Runtime-net-next/1921/testReport/junit/(root)/Suite-runtime/RuntimePrivilegedUnitTests_Run_Tests/

[code]
...
[code]

Bottom line is that it appears to take the full 16 minute timeout to run: https://github.com/cilium/cilium/blob/89f67901cad6ee882606bf0a4e1848119bcfd4d2/test/runtime/privileged_tests.go#L21

Notably, the

[2022-04-19 19:06] joestringer commented on #18958
Ah hmm, we see a similar delay when it moves to the next package (last two lines):

[code]

I think that this is delay is introduced by compiling the code / tests. Given that there's no cache, the first time this can take quite a while.

[2022-04-19 21:59] #18293 closed

[2022-04-20 00:11] aanm opened #19492 "Add Cilium CLI install for aws conformance tests"
See https://github.com/cilium/cilium/pull/18898#discussion_r852809417 for more info

[2022-04-20 01:57] FanHTao commented on #19362
Envoy Log：
[2022-04-20 01:37:02.344][929][debug][connection] [C512661] immediate connection error: 99
[2022-04-20 01:37:02.344][921][debug][client] [C512663] connecting
[2022-04-20 01:37:02.344][924][debug][connection] [C512662] immediate connection error: 99
[2022-04-20 01:37:02.344][921][debug][connection] [C512663] connecting to 10.0.0.205:8080
[2022-04-20 01:37:02.344][922][debug][pool] creati

[2022-04-20 04:10] nniehoff opened #19495 "Cilium Upgrade to 1.11.4 fails"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

I attempted an upgrade using the helm charts from 1.11.3 to 1.11.4 and the Cilium agents won't start.

### Cilium Version

1.11.4

### Kernel Version

5.13.0-1024-raspi #26-Ubuntu SMP PREEMPT Fri Mar 25 10:54:36 UTC 2022 aarch64 aarch64 aarch64 GNU/Linux

NOTE: I have seen this same issue on my

[2022-04-20 07:34] konghui opened #19497 "CFP: seperate the masquerade interface from the devices params"
## Cilium Feature Proposal

**Is your feature request related to a problem?**

My server has two network interface `lan0` and `wan0` , `wan0` has a public IP address, `lan0`  has a internal IP address. But recently I found a security problem that user can connect Kubernetes NodePort  via public IP address.  So I add a config devices: `lan0` on the cilium-config.  After doing this the security prob

[2022-04-20 09:51] eilonmonday opened #19499 "Sporadic pods don't have networking"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

Hey, lately we migrated to a new EKS cluster (version 1.21) with cilium.
We are facing a sporadic issue, in that some pods are getting IP and registered with endpoint, but have no network (trying to communicate with other services and the cluster/external IP).
the pod will endlessly restart, be

[2022-04-20 10:42] #19464 closed

[2022-04-20 10:43] #18958 closed

[2022-04-20 12:11] aanm commented on #19499
Do you have any network policy that would block the network traffic?

[2022-04-20 12:38] nniehoff commented on #19495
I tried testing using @aanm's patch, I used the image from CI `quay.io/cilium/cilium-ci:8d7ac6aabb32030a284ebd29fbd532603fade4c0` but it didn't seem to work, let me know if I did something wrong there am happy to test again.  I also enabled debugging:

[code]

[2022-04-20 13:24] nniehoff commented on #19495
Here's the cilium-config configmap:

[code]

[2022-04-20 14:31] jrajahalme commented on #19495
[code]
So it is the `bpf-map-sync-cilium_ipcache` that opens the map and leaves it open. It is triggered by the dump support detection logic.
This bug triggers on this case due to feature set (BGP initialization takes time) and maybe due to a slower CPU (Raspberry Pi). Will fix this by not using the feature detection logic that triggers the controller, but simply dumping directly, which may fail o

[2022-04-20 14:33] eilonmonday commented on #19499
No. this is only a few pods out of thousands.
If we kill this pod, the new pod will be functioning

[2022-04-20 17:09] borkmann commented on #19453
Thanks for the report, @ysksuzuki (cc @NikAleksandrov). Are you able to test e.g. latest Linus tree (https://git.kernel.org/pub/scm/linux/kernel/git/torvalds/linux.git/) to see if this issue has been fixed upstream as well?

[2022-04-20 17:12] christarazi commented on #18118
From https://github.com/cilium/cilium/pull/19007

[dbdabccf_K8sPolicyTestExtended_Validate_toEntities_KubeAPIServer_Allows_connection_to_KubeAPIServer.zip](https://github.com/cilium/cilium/files/8523730/dbdabccf_K8sPolicyTestExtended_Validate_toEntities_KubeAPIServer_Allows_connection_to_KubeAPIServer.zip)

[2022-04-20 17:24] christarazi commented on #16928
Hit in https://github.com/cilium/cilium/pull/19007.
[dbdabccf_K8sPolicyTestExtended_Validate_toEntities_KubeAPIServer_Allows_connection_to_KubeAPIServer.zip](https://github.com/cilium/cilium/files/8523812/dbdabccf_K8sPolicyTestExtended_Validate_toEntities_KubeAPIServer_Allows_connection_to_KubeAPIServer.zip)

[2022-04-20 18:09] Shorla opened #19506 "GSOD'22"
I am interested in applying to cilium project for GSOD but realised there isn't information on applying to the project or submitting proposal for the project

[2022-04-20 20:38] aditighag opened #19508 "CI: build-commits job shows incorrect number of commits"
The build-commit GitHub action checks if every commit in a PR compiles successfully. However, it shows incorrect number of commits in the "check if build works for every commit" phase.

Example -

The corresponding PR has 14 commits, but the GH job shows - https://github.com/cilium/cilium/runs/6101484941?check_suite_focus=true

[code]

[2022-04-20 21:06] jmcshane commented on #19440
OK, this issue is happening again and this time im going to get as much data as possible. im generating the sysdump, will have to try to redact it, but i was looking at some metrics from the specific node that has the failure:

[code]

Again, this seems to be something about the endpoint API getting hung up

[2022-04-20 21:18] jmcshane commented on #19440
looking at the output of `cilium status` on the agent with this issue shows us what it is trying to do:

[code]

These pods all exist and i can fetch them myself with kubectl.

[2022-04-20 21:23] jmcshane commented on #19440
A warning in the logs as well:

[code]

[2022-04-20 21:31] jmcshane commented on #19440
[code]

[2022-04-20 21:59] lewisdiamond opened #19509 "BGP not working in 1.10.10"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

1. Install cilium 1.10.10 using the documented helm command https://docs.cilium.io/en/v1.10/gettingstarted/bgp/
2. Create the configmap with the required addresses and peers
3. deploy a service of type loadbalancer

Expected:
The service gets an IP assigned
A BGP session is created between peer

[2022-04-20 22:06] lewisdiamond commented on #19509
By the way, this works perfectly fine in `1.11.4`

[2022-04-20 23:11] aditighag commented on #19367
CPU 01: MARK 0x0 FROM 137 DEBUG: Conntrack lookup 2/2: nexthdr=6 flags=0
CPU 01: MARK 0x0 FROM 137 DEBUG: CT verdict: New, revnat=0
CPU 01: MARK 0x0 FROM 137 DEBUG: Successfully mapped addr=10.160.128.31 to identity=7
CPU 01: MARK 0x0 FROM 137 DEBUG: Policy evaluation would deny packet from 7 to 1

I don't quite follow why CT table reset would lead to policy drops. CT map is an LRU map so it's pos

[2022-04-21 04:53] ysksuzuki commented on #19453
Hi, @borkmann I will try to do that and get back to you.

[2022-04-21 06:54] zuzzas commented on #19367
Perhaps it's related to https://github.com/cilium/cilium/pull/19360? Checking out v1.11.4 right now, will update.

[2022-04-21 10:23] iFrozenPhoenix opened #19515 "CFP: Allow to specify host nic as egress gateway source (instead of just pods)"
## Cilium Feature Proposal

Thanks for taking time to make a feature request for Cilium! If you have usage questions, please try the [slack channel](http://slack.cilium.io/) and see the [FAQ](https://github.com/cilium/cilium/issues?utf8=%E2%9C%93&q=is:issue+label:kind/question+) first.

**Is your feature request related to a problem?**
Yes

If so, please describe the problem
I'd like to use a k8s

[2022-04-21 10:40] borkmann commented on #19453
Do you use virtio_net driver in your qemu setup? Have you ever seen this on a different driver, e.g. on bare metal?

[2022-04-21 11:19] Shorla commented on #19506
I can work on this, is it fine?

[2022-04-21 11:30] #19506 closed

[2022-04-21 11:52] xmulligan commented on #19506
@Shorla the link for the application is [here](https://docs.google.com/forms/d/e/1FAIpQLSdxhTPfMv9s4r3UMIAkScY_lTWfUB43MEIlK8NiQoOHsToj-g/viewform?usp=send_form) thanks for pointing this out

[2022-04-21 12:10] alexander-demichev commented on #19261
isn't it tested here https://github.com/cilium/cilium/blob/28116f5d50d9d9922c85c4469be71f9f5d85a780/pkg/datapath/linux/routing/routing_test.go#L38?

[2022-04-21 12:26] ysksuzuki commented on #19453
Yes. Here are the qemu options.

[code]

I've never checked if this occurs on bare metal. Will test it as well.

[2022-04-21 12:53] pchaigno commented on #19261
Oh, you're right! Then we should check why it wasn't enough to detect the bug fixed in https://github.com/cilium/cilium/pull/19162 and improve the test accordingly. I suspect it's a matter of agent configuration we start the test with.

[2022-04-21 19:57] NikAleksandrov commented on #19453
Could you please follow the kernel messages just before the crash happens (e.g. dmesg -w) and watch out for something like:
XDP request <X> queues but max is <Y>. XDP_TX and XDP_REDIRECT will operate in a slower locked tx mode.
(X and Y change depending on config)
Or if you have crashdumps you could check the kernel message logs for it.
With 50 queues you shouldn't be seeing it, but it really depe

[2022-04-21 21:04] borkmann commented on #19509
@ldelossa might this be related to https://github.com/cilium/cilium/pull/18358, looks like it went to 1.11 but potentially not marked for 1.10?

[2022-04-22 02:14] #18670 closed

[2022-04-22 02:36] #19479 closed

[2022-04-22 03:05] ysksuzuki commented on #19453
Hi @NikAleksandrov

`XDP request queues but max is` message didn't appear in the kernel message. I posted the result of 'dmesg -w'  just before the crash in the Relevant log output section.

Multiqueue virtio-net is enabled and queues are vCPU*2 in our qemu set up so that TX queues per core dedicated to XDP are available. I referenced this commit. https://git.kernel.org/pub/scm/linux/kernel/git/to

[2022-04-22 08:10] borkmann opened #19526 "CI: Error when enabling sysctl parameters (read-only file system)"
## CI failure

[code]

Suspected commit right now where Cilium DS might be missing CAPs: https://github.com/cilium/cilium/commit/28bffa6d4b11936f9c2dc94a68dec0ecd4d3f745

Example action with sysdump: https://github.com/cilium/cilium/actions/runs/2206334871

[2022-04-22 08:33] borkmann commented on #19213
Looks related to: https://github.com/cilium/cilium/issues/19453

[2022-04-22 10:07] NikAleksandrov commented on #19453
I just tested with a similar setup (no shared queues) and the problem I was suspecting is actually still there.
It would seem virtio_net + XDP hasn't been working since kernel 5.13. The culprit is this commit:
`commit fb32856b16ad ("virtio-net: page_to_skb() use build_skb when there's sufficient tailroom")`
reverting it fixes the issue. I'll look into a possible fix without revert as well.

[2022-04-22 10:09] NikAleksandrov commented on #19213
Right, that's exactly the same issue. The trace here is what's seen most frequently. Basically virtio_net + XDP has been broken
since kernel 5.13, the problematic commit is fb32856b16ad ("virtio-net: page_to_skb() use build_skb when there's sufficient tailroom").

[2022-04-22 11:16] sayboras opened #19530 "ingress: Handle named port in Ingress backend service"
Currently, the ingress controller logic is expecting port number in both default backend and backend service. However, having named port (e.g. http) from service is more user friendly.

This issue is to track the work for this enhancement.

[2022-04-22 16:26] wkruse commented on #19192
@aanm: We have upgraded to **1.11.4** and executed `cilium bpf ct flush global` and `cilium bpf nat flush` on every node. The issue still persists. We have also provisioned a new test cluster, where we also see the issue. The connections are stuttering (every a couple of minutes it works and when again very slow or connection refused), when using VIPs. Direct connections (using node IPs) work with

[2022-04-22 20:10] #19427 closed

[2022-04-22 20:24] borkmann commented on #19526
Fixed via https://github.com/cilium/cilium/pull/18898

[2022-04-22 20:24] #19526 closed

[2022-04-22 20:30] borkmann commented on #19477
Did you also test if the issue exist in latest 1.11 stable release?

[2022-04-22 20:49] borkmann commented on #19433
Could potentially be fixed in https://github.com/cilium/cilium/pull/19185 (cc @qmonnet).

[2022-04-22 20:58] borkmann commented on #19367
I think that is very likely. Did you check results in meantime?

[2022-04-22 21:04] borkmann commented on #19187
cc @jibi

[2022-04-22 21:13] borkmann commented on #18979
@dudd Any new results?

[2022-04-22 21:15] aditighag commented on #19192
[code]

TCP RSTs are coming from the `keepalived` master. Anything stands out in the logs? In any case, cilium datpath doesn't initiate any RSTs.

What do you mean Cilium IP? Is it the IP address assigned to `cilium_host` device? Also, I'm a bit confused about the network path. Client is connecting to a Kubernetes service with clusterIP via a VIP?

[2022-04-22 21:18] borkmann commented on #18942
@ysksuzuki Are you planning to send a PR?

[2022-04-22 21:19] borkmann commented on #18938
(closing given this has been answered)

[2022-04-22 21:19] #18938 closed

[2022-04-22 21:23] borkmann commented on #18906
I think on AWS, DSR generally doesn't work due to their underlying fabric. Did you try with SNAT mode to see if that works?

[2022-04-22 21:28] borkmann commented on #18746
@farodin91 Was there any update wrt v1.11.x in the meantime? Thx

[2022-04-22 22:55] htoo97 commented on #19477
I think the version of Cilium that I have does not have the sysdump subcommand yet. I followed the instructions [here](https://docs.cilium.io/en/v1.9/operations/troubleshooting/#automatic-log-state-collection). Will DM you the zip on Cilium Slack.

This [debuginfo.txt](https://github.com/cilium/cilium/files/8544672/debuginfo.txt) was also obtained from running `cilium debuginfo` on the bad node's

[2022-04-23 02:11] ysksuzuki commented on #18942
@borkmann Yes, I will work on this next week, but feel free to take it if you are in a rush.

[2022-04-23 07:43] m-yosefpor commented on #19213
Update: the upgrade did not solve the issue.. during the upgrade process the XDP has been disabled so that was the reason which kernel panics was fixed. After enabling XDP, the issue happened again.

[2022-04-23 16:20] norbjd opened #19547 "CFP: allow CiliumClusterwideNetworkPolicy to match namespaces based on their labels"
## Cilium Feature Proposal

**Is your feature request related to a problem?**

When having multiple namespaces in a cluster (hundreds or thousands) with the same ingress or egress rules, creating and maintaining one `CiliumNetworkPolicy` per namespace can be cumbersome.

Example with 1000 namespaces (`ns1`, `ns2`, ..., `ns1000`), there is one file like this per namespace:

[code]

Using a `CiliumC

[2022-04-23 17:02] aanm commented on #19547
@norbjd I believe `matchExpressions` could work for your use case.

[2022-04-23 19:26] ghughes commented on #16071
LRP fails open, so you can't use it to _guarantee_ traffic is directed to node-local endpoints; `internalTrafficPolicy: Local` provides that guarantee.

This is significant, because if you create an LRP and client pods at approximately the same time, there's a good chance the LRP will not be in force on every node before the pods come up and begin establishing outbound connections.

[2022-04-23 21:02] Ram81 commented on #19470
@tklauser yes, I have verified this issue on cilium 1.11.4 and I see the same issue on the latest version as well.

[2022-04-23 21:37] Kikiodazie commented on #14921
Hey @joestringer, can I have this assigned to me?

[2022-04-24 00:20] christarazi commented on #19405
This occurred after a node reboot, correct? The reason I ask is because a node reboot will likely wipe out the Cilium state including any Cilium endpoint state from the filesystem, which Ciilum attempts to restore upon restart. But if the node has been rebooted, there's no state to restore.

 Do you have a sysdump from this environment of when the drop occurred? That would tell us exactly the info

[2022-04-24 02:13] fsckzy opened #19548 "Setting kubeProxyReplacement=strict does not take effect"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

I installed it according to this document, then went to verify and found
https://docs.cilium.io/en/stable/gettingstarted/kubeproxy-free/
[code]

### Cilium Version

cilium 1.11.4

### Kernel Version

[code]

### Kubernetes Version

[code]

### Sysdump

_No response_

### Relevant log output

_N

[2022-04-24 02:38] dudd commented on #18979
@borkmann  Yes, I debugged the BPF code and found that the packets was discarded at tail_lb_ipv4 in bpf_xdp.c. It's realy do it at nodeport_lb4 in nodeport.h, it is discarded because it is not a local backend.
[code]

But I don't know how to modify the code so that the packet can be forwarded normally.I also want to know if socket layer load balancing(DSR) supports this scenario? Do I need to chan

[2022-04-24 08:42] norbjd commented on #19547
@aanm Thanks for your help! Indeed, it works with:

[code]

Sorry about the noise, I will close the issue. Thanks again!

[2022-04-24 08:42] #19547 closed

[2022-04-25 01:56] YutaroHayakawa opened #19551 "CI: ConformanceEKS: Unable to enable Hubble: timeout while waiting for status to become successful: context deadline exceeded"
## CI failure

Zip: [logs_423198.zip](https://github.com/cilium/cilium/files/8551064/logs_423198.zip)
CI Build Link: https://github.com/cilium/cilium/actions/runs/2207116996

[code]

[2022-04-25 02:01] YutaroHayakawa opened #19552 "CI: ConformanceGKE: Unable to install Cilium: timeout while waiting for status to become successful: context deadline exceeded"
## CI failure

CI Build Link: https://github.com/cilium/cilium/actions/runs/2207116981
Zip: [logs_423199.zip](https://github.com/cilium/cilium/files/8551087/logs_423199.zip)

[code]

[2022-04-25 09:07] borkmann commented on #18979
@dudd Ok, what does `cilium bpf endpoint list` mention with regards to 10.1.134.111?

I may have missed this, but the Pod with 10.1.134.111 is local to the node or remote? If the latter,  does it reach the backend's node? I saw that you are using `loadBalancer.mode=hybrid`, does it work just using snat mode? Asking as some undelrying fabrics might drop packets with unknown ip options.

[2022-04-25 09:45] dudd commented on #18979
@borkmann Thanks for your reply.

[2022-04-25 10:07] dudd commented on #18979
@borkmann Thanks for your reply.

10.1.134.111 didn't appear in the result of cilium bpf endpoint list.
[code]
It's can be seen in cilium service list.
[code]

And 10.1.134.111  is not a pod, it's an endpoint point to an server out of k8s cluster(network reachable), it define by under yaml.
[code]

The snat mode may be work, But i want try it by use dsr mode for best performance.

[2022-04-25 10:21] qmonnet commented on #19433
#19185 should already be present in v1.12.0-rc1, so I guess not :/.

[2022-04-25 10:26] qmonnet commented on #19433
Maybe https://github.com/cilium/cilium/pull/19158?

[2022-04-25 12:01] farodin91 commented on #18746
I tried it with 1.11.3 and we have similar behavior.

[2022-04-25 13:06] borkmann commented on #18979
[...]

Thanks for all the info. Do you see the request arriving on the 10.1.134.111 node (e.g. if you tcpdump for the SYN on that node)?

[2022-04-25 13:34] farodin91 commented on #18746
Currently, i did a saw similar issue, it did start appear after upgrading metallb from 0.10.2 to 0.12.1. After rollback and restart of cilium agents the issue was fixed.

[2022-04-25 16:45] joestringer commented on #14921
Sure thing, assigned to you. Feel free to reach out here or on Slack #development / #sig-docs if you have further questions about this topic.

[2022-04-25 18:43] wkruse commented on #19192
@aditighag: Maybe I am missing something, but I do not see anything, that stands out in the logs.

This is running `journalctl -f --no-hostname` on the `keepalived` master during stuttering connection:

[code]

The service (Grafana) was was logging (probably due to `TCP RST`):

[code]

When running the same setup with Calico, we don't see any issues.

Exactly, the IP from the annotation `io.cilium

[2022-04-25 20:14] #19495 closed

[2022-04-25 20:31] vincentmli opened #19567 "bpf_sock.c:387:14: error: no member named 'pad' in 'struct lb4_backend'""
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

enable-envoy-config: "true" cause cilium agent crash with error below:

[code]

### Cilium Version

level=info msg="Cilium 1.11.90 37dd5179a6 2022-04-22T00:41:16+00:00 go version go1.18.1 linux/amd64" subsys=daemon

### Kernel Version

level=info msg="clang (10.0.0) and kernel (5.15.0) versions

[2022-04-25 20:43] vincentmli commented on #19567
it looks I have some previous old  /var/lib/cilium/bpf leftover in the node, /var/lib/cilium is not removed even I rebooted the node

[2022-04-25 20:51] #19567 closed

[2022-04-25 21:11] vincentmli commented on #19548
@fsckzy can you share your cilium agent log? it might tell you the problem

[2022-04-25 23:37] aditighag opened #19569 "Catch ginkgo test regressions on macOS"
We've had [instances](3222f50d05d722e39563fa65fe99b52c0858941a) of [PRs](ea75a7204849356d5bb2cfe3230b44d1ef2c32c2) breaking ginkgo test runs on macOS. Add a GitHub action for `darwin` target to catch such regressions on the PRs introducing platform specific code changes.

Some of the options that were discussed -

- Run `GOOS=darwin go build` in the `test` directory as ginkgo does.
- `GOOS=darwin

[2022-04-26 01:02] christarazi opened #19571 "Review all usages of `fmt.Sprintf()` or similar `fmt` function inside hot paths"
`fmt.Sprintf()` is well-known for not being opimal in terms of CPU and memory allocations. If these functions are called in hot paths such as `pkg/policy/api` or even parts of `pkg/policy`, it can be quite impactful, especially in environments that experience high or bursty churn.

Writing a benchmark and replacing the current code with `strings.Builder` or `bytes.NewBuffer` can show us if we can

[2022-04-26 02:13] #18760 closed

[2022-04-26 02:13] #18750 closed

[2022-04-26 03:15] dudd commented on #18979
@borkmann  Yes, The request can  arrive on the 10.1.134.111 node.

[2022-04-26 03:21] dudd commented on #18979
@borkmann Yes, The request can  arrive on the 10.1.134.111 node.And as you mentioned above, in SYN, the IP packet has an extra 8-byte option.Is there any way to get it to work properly?

[2022-04-26 06:00] jrajahalme opened #19572 "`Policy map sync fixed errors` warning during endpoint creation"
a warning level log for `Policy map sync fixed errors` is issued while endpoint is being created, as seen in these logs (filtered for `endpointID=3157`:
[code]

Full agent logs:
[pod-kube-system-cilium-nwqf9-cilium-agent.log](https://github.com/cilium/cilium/files/8560266/pod-kube-system-cilium-nwqf9-cilium-agent.log)

Two further instances of the same in the other agent:
[pod-kube-system-cilium-2

[2022-04-26 06:15] jrajahalme commented on #19569
I was not aware how ginkgo builds the Go code. If `go build` in `test` is all it does natively, then I don't see a need for adding dependency to Ginkgo itself, like I earlier proposed (the 2nd option above).

[2022-04-26 09:19] Kikiodazie commented on #14921
Sure will do. Thanks, @joestringer.

[2022-04-26 13:51] #19453 closed

[2022-04-26 15:27] ysksuzuki commented on #19453
@NikAleksandrov Great work! Thank you so much!

[2022-04-26 16:22] aanm commented on #15428
@solarnz @othmane399 can you check if this is fixed with v1.10.10? Thank you

[2022-04-26 19:11] relu commented on #19250
I've stumbled upon the same issue in a similar environment. I have my cluster nodes running in private VPC subnets for which I do have NAT Gateways attached so disabling masquerading makes perfect sense as we can fully rely on the native routing offered by the VPC.
A caveat though, once `enableIPv4Masquerade: false` is set all pods requiring egress access to external resources will need to be repl

[2022-04-26 20:47] avifreege opened #19581 "pod missing networking routes"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

We recently upgraded to cilium 1.11.4 in order to apply this fix https://github.com/cilium/cilium/pull/19162.

after the upgrade we still noticed some pods with crashloopbackoff state, so we rotated all the nodes in the cluster, afterwards we still saw more pods getting into crashloopbackoff st

[2022-04-26 22:30] jtaleric commented on #19362
Hey @FanHTao Sorry, but it isn't clear to me why you would see this error with your test. How repeatable is the test you are building with Fortio?

[2022-04-27 02:15] #18711 closed

[2022-04-27 02:15] #18709 closed

[2022-04-27 03:02] asloan7 commented on #18709
For posterity, got this working (on ubuntu 20.04, k3s 1.22.8, cilium 1.11.3) and was really to do with starting up the additional "server" nodes with the exact same startup parameters as the initial node - it doesn't get params from communicating with the first node (even tho you do supply URL and token) as I had assumed.

[2022-04-27 07:31] brb opened #19586 "Remove attached bpf_xdp upon "cilium cleanup""
`cilium cleanup` doesn't remove a previously attached XDP progs by Cilium. This will lead to packet drops, as the cmd removes the prog maps leading to the XDP prog missing tail calls.

The removal of the XDP prog should happen before the maps removal.

Similar to https://github.com/cilium/cilium/issues/10067.

[2022-04-27 08:46] nadenf opened #19588 "CFP: Document behaviour of Egress NAT Gateway when using 0.0.0.0/0"
It is not clear from reading the [Egress Gateway](https://docs.cilium.io/en/v1.10/gettingstarted/egress-gateway/) page what the behaviour of this feature will be when using 0.0.0.0/0 for destinationCIDRs.

Will it block internal traffic as per this [issue](https://github.com/cilium/cilium/issues/17295) ? API Server ? etc.

[2022-04-27 12:52] kaworu opened #19591 "CI: Cilium L4LB XDP: Failed to connect to 10.0.0.2 port 80: No route to host"
## CI failure
First seen in [this PR](https://github.com/cilium/cilium/pull/19441), patch seems unrelated to the failure.

<details>
  <summary>"Run test" github workflow step output</summary>

    2022-04-25T12:01:39.3657110Z ##[group]Run ssh default "sudo /bin/sh -c 'cd /vagrant/test/l4lb && ./test.sh cilium 46303f16999fe8c9525df038aa578a3dee728510'"
    2022-04-25T12:01:39.3657670Z [36;1mssh d

[2022-04-27 13:40] julianwiedmann opened #19594 "[dev-VM] make CIDRs & IPs consistent (k8s vs Cilium)"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

The dev-VM environment doesn't configure the same CIDRs / IPs for `kubelet` and `cilium`. See eg. the PodCIDRs in the log output.

Harmonize these, so that users see consistent information and the different IPAM modes show the same behaviour.

### Cilium Version

Client: 1.11.90 6a97d2bace 2022

[2022-04-27 14:09] brb commented on #19055
It should have been.

[2022-04-27 14:44] brb commented on #19497
We have a very similar issue - https://github.com/cilium/cilium/issues/13732.

[2022-04-27 15:36] julianwiedmann opened #19597 ""make test-docs" fails with selinux=enforcing"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

The `test-docs` target fails as below when selinux is set to `enforcing`. Presumably something in how the `--volume` is shared between host and build container.

### Cilium Version

b68fd385df9d ("build(deps): bump go.etcd.io/etcd/client/v3 from 3.5.3 to 3.5.4")

### Kernel Version

-

### Kube

[2022-04-27 17:22] christarazi opened #19598 "CI: RuntimeConntrackInVethModeTest Conntrack-related configuration options for endpoints: `container "server" unexpectedly was able to ping to "client"`"
### Test Name

[code]

### Failure Output

[code]

### Stack Trace

[code]

### Standard Output

[code]

### Standard Error

[code]

### Resources

- Jenkins URL: https://jenkins.cilium.io/job/Cilium-PR-Runtime-net-next/2017/testReport/junit/(root)/Suite-runtime/RuntimeConntrackInVethModeTest_Conntrack_related_configuration_options_for_endpoints/
- ZIP file(s):
[18a66ddc_RuntimeConntrackInVethMode

[2022-04-27 17:23] christarazi commented on #19598
Same as https://github.com/cilium/cilium/issues/12891.

[2022-04-27 17:23] christarazi commented on #19598
Seen in https://github.com/cilium/cilium/pull/19570#pullrequestreview-954112450.

[2022-04-27 20:02] damiendawreck commented on #18257
@brb
This is what cilium monitor gives me:
[code]

[2022-04-27 20:09] vakalapa opened #19601 "Pod IP part of CIDR block egress netpol rule is being blocked."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

I have a test cilium cluster chained with Azure CNI and this failed a upstream conformance netpol test named "should ensure an IP overlapping both IPBlock.CIDR and IPBlock.Except is allowed".

I am trying to reach from pod A (10.224.4.221 ) to pod C (10.224.5.165) and traffic should be allowed

[2022-04-27 20:23] vakalapa commented on #19601
cc @wedaly

[2022-04-27 20:27] wedaly commented on #19601
this is the helm command we used to install Cilium:
[code]

And this is how we configured the CNI:
[code]

[2022-04-27 20:48] pchaigno commented on #19581
Did 10.41.95.23 also have no egress connectivity? Any chance you collected a Cilium sysdump or even just a bugtool report for that node?

[2022-04-27 20:49] pchaigno commented on #19055
Ok, good. So this is expected as long as it only happens on v1.9 where we didn't backport the fix. Given the fix is a refactoring, I'm guessing it's too risky/big to backport to v1.9, right?

[2022-04-27 20:57] pchaigno commented on #18942
@ysksuzuki We don't need this urgently at the moment. I've assigned you to the issue. If you need any help, feel free to ask on Slack or here :-)

[2022-04-28 01:11] joestringer commented on #19601
Hi, Cilium doesn't support using ipBlock statements to match on pod IPs today. The [official Kubernetes policy docs](https://kubernetes.io/docs/concepts/services-networking/network-policies/#behavior-of-to-and-from-selectors) provide more specific rule statements to match on pod IPs using metadata such as labels, which means that in most cases it should not be necessary to match on IPs to allow tr

[2022-04-28 01:16] joestringer opened #19603 "v1.11: CI: External workloads: Verify cluster DNS on VM: Error: Process completed with exit code 1."
## CI failure

https://github.com/cilium/cilium/runs/6185708119?check_suite_focus=true

Failed at step "Verify cluster DNS on VM" after installing Cilium on the VM:

[code]

[2022-04-28 01:44] joestringer commented on #19603
cc @jrajahalme , I think you were looking into some failures in DNS in this workflow recently. This was run against a v1.11 PR prepared yesterday, so it should integrate all of your latest changes AFAIK.

[2022-04-28 02:16] #18680 closed

[2022-04-28 04:20] jrajahalme commented on #19526
Happened on v1.11 backport on AWS-CNI job: https://github.com/cilium/cilium/actions/runs/2235236781

[2022-04-28 04:23] jrajahalme commented on #19526
@aanm Also on v1.10 backport for the AWS-CNI job: https://github.com/cilium/cilium/actions/runs/2235281718

[2022-04-28 05:28] brb commented on #19055
Yep, I think it's too big for v1.9.

[2022-04-28 05:39] brb commented on #18257
I have no clue what is src ip addr, dst ip addr, from which node request was sent, on which node cilium monitor was running, etc etc.

It's a good indicator that L2 => L3 dev redirect is not working as expected. However, without information above, it's hard to say at what step.

[2022-04-28 05:46] STASiAN opened #19606 "FIB lookup failed on NodePort with hostFirewall enabled"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

I can't access ingress from pod/host via external LoadBalancer with hostFirewall enabled.

Hubble logs:
ingress-nginx/ingress-nginx-controller-internal:31093 <> 10.69.117.82:47932 FIB lookup failed DROPPED (TCP Flags: SYN, ACK)

### Cilium Version

Client: 1.11.4 9d25463 2022-04-15T08:33:55-07:

[2022-04-28 06:54] brb commented on #10114
@inju-song Hey, are you still on the issue?

[2022-04-28 11:35] joamaki opened #19613 "Runtime device detection follow-ups"
This is an issue to track the follow-up items after #17460 is merged.

- [ ] IPsec reconfiguration on device change
- [ ] BandwidthManager reconfiguration on device change
- [ ] Consolidate device detection related functions into DeviceManager (config.MightAutoDetectDevices)
- [ ] CI tests for all features that react to device changes (incl. hostfw)
- [ ] Make access to devices and node addresses

[2022-04-28 12:05] FanHTao commented on #19362
Hey@jtaleric When concurrent requests are greater than envoy workers，100% appear。
this is port reuse conflict，  cilium manage envoy client port range？

[2022-04-28 13:10] joamaki opened #19614 "Race between K8s initialization and K8sCacheIsSynced()"
From PR #17460. The failed test: https://jenkins.cilium.io/job/Cilium-PR-K8s-GKE-Race-Detection/28/.

gke-stable-race failed because of a race (unrelated to #17460) on `Daemon.k8sCachesSynced` and the `IPCache.InjectLabels` (triggered via `(*K8sWatcher).handleKubeAPIServerServiceEPChanges()`). This happens as `k8sCachesSynced` is assigned from return of `InitK8sSubsystem`, but that method also spa

[2022-04-28 13:40] nbusseneau commented on #19614
Also hit in latest runs of race detection pipelines:

- https://jenkins.cilium.io/view/Race%20Detection/job/cilium-master-k8s-1.22-kernel-4.19-race-detection/310/
- https://jenkins.cilium.io/view/Race%20Detection/job/cilium-master-k8s-1.23-kernel-net-next-race-detection/280/

Artifacts from one of the failures: [e86bfb48_K8sDatapathConfig_AutoDirectNodeRoutes_Check_direct_connectivity_with_per_end

[2022-04-28 13:47] aanm commented on #19526
@jrajahalme it should already be fixed, please run the aws-cni job again

[2022-04-28 14:02] aanm opened #19619 "faulty detection of periodic IPCache map swap detection"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

[code]

### Cilium Version

`1.10.10` but it might affect all versions

### Kernel Version

`5.15.32`

### Kubernetes Version

-

### Sysdump

_No response_

### Relevant log output

_No response_

### Anything else?

_No response_

### Code of Conduct

- [X] I agree to follow this project's Co

[2022-04-28 14:58] jibi commented on #19187
Hi @Champ-Goblem :wave:
I'm not super familiar with the DigitalOcean environment so I will need some more information. First of all, the egress IP you are trying to use is `159.65.214.133`, is that correct? If yes, which interface is that IP assigned to?

[2022-04-28 15:13] aditighag commented on #12859
Reopening this issue as it's relevant in the context of long-lived connections for connected UDP (e.g., Envoy proxy), whereby applications are stuck with sticky backends when the backend pods are deleted.

[2022-04-28 15:21] aditighag opened #19623 "Add trace observation points in `bpf_sock`"
When kube-proxy-replacement is enabled along with socket-based load balancing, cilium datapath translates service clusterIP to one of their backend IPs at the socket layer. As a result, when debugging connectivity issues using tcpdump/hubble/cilium monitor, the original clusterIP that an application pod connects to, isn't seen in the debug output (only the translated backend IP is recorded). The o

[2022-04-28 15:25] jibi opened #19624 "Add support to bpf_xdp for redirecting packets to a tunnel device"
Currently it's not possible to redirect a packet to a tunnel device from the `bpf_xdp` program as there isn't any XDP equivalent helper for `skb_set_tunnel_key()`.

Support for this feature can be added by implementing the logic to manually encapsulate a frame in a VXLAN/Geneve packet with the help of `ctx_adjust_hroom()`, similarly to what we are already doing for [IPIP encap](https://github.com/

[2022-04-28 15:50] jibi commented on #19052
Hi @kupi93 :wave:
Could you share the agent logs after you create the new pods targeted by the egressgw policy please?

[2022-04-28 16:05] joestringer commented on #19601
Ah, it looks like this was already mentioned here: https://github.com/cilium/cilium/issues/9209

See also the code for which conformance tests are run by the Cilium project:
https://github.com/cilium/cilium/blob/84ae8cc768cfb194ab539418b51e65520dd7285b/test/kubernetes-test.sh#L91

[2022-04-28 16:07] vakalapa commented on #19601
Great thanks @joestringer  for pointing this out, is there any public documentation of cilium where these limitations are listed?

[2022-04-28 16:11] vakalapa commented on #19601
Closing this issue, refer to https://github.com/cilium/cilium/issues/9209 as Joe pointed.

[2022-04-28 16:11] #19601 closed

[2022-04-28 16:25] joestringer commented on #19601
@vakalapa I don't think there's a page on the docs for instance, but there are various issues. I've just improved the comments in that script to point to the various issues: https://github.com/cilium/cilium/pull/19628 . If you think that it's helpful to have a dedicated page on the docs to track these limitations, then feel free to submit a PR to the docs to add them there.

https://github.com/cil

[2022-04-28 16:49] Champ-Goblem commented on #19187
Hi @jibi, thanks for the reply

Yes you are correct the egressIP I planned on using was `159.65.214.133`, but from what I understand of the Digital Ocean docs this isn’t directly assigned to the eth interface of the VM. Instead an anchor IP, which in this case should be `10.16.0.9`, is assigned to the interface and then traffic leaving this interface via this IP address is 1:1 NATed against `159.6

[2022-04-28 17:32] aditighag commented on #19548
The kube-proxy-replacement feature has a set of kernel level requirements due to which the agent can override user configured flags. Either attach a sysdump from your cluster, or check the agent logs for further information as @vincentmli suggested.

[2022-04-28 17:40] aditighag commented on #19499
@eilonmonday Have you tried debugging the issue by running cilium monitor/hubble against the pods in question to see where the pod traffic might be getting dropped?

[2022-04-28 17:44] aditighag commented on #19470
Hi @Ram81 We have a detailed guide to debug FQDN policy issues - https://docs.cilium.io/en/latest/contributing/development/debugging/? Did you follow the listed steps?

[2022-04-28 17:48] aditighag commented on #19469
@liuyixian123 When you created this issue, you should've been prompted with a template. Can you fill in those details? At the very least, can you write a proper one-line description of the problem in the title, and provide details regarding cilium version, sysdump, etc?

[2022-04-28 18:09] lewisdiamond opened #19630 "CFP: Enable ARP on MetalLB"
## Cilium Feature Proposal

For many non-production and even some production environments, ARP support would provide an easier access to virtual IPs for services of type LoadBalancer.

Cilium's MetalLB integration disables ARP ( https://github.com/cilium/cilium/blob/master/pkg/bgp/speaker/metallb.go#L66 ). Could this restriction be lifted in a near future? I'm assuming there's a good reason for di

[2022-04-28 18:13] #17679 closed

[2022-04-28 18:15] #18440 closed

[2022-04-29 00:02] #19425 closed

[2022-04-29 06:43] MikeLing commented on #19571
Hi @christarazi ,I'm new to cilium and I think this issue can be my starting point about cilium contribution. Can you please assign this issue to me. Thanks

[2022-04-29 08:06] brb commented on #17770
Closing in favor of https://github.com/cilium/cilium/issues/19624.

[2022-04-29 08:06] #17770 closed

[2022-04-29 08:26] jibi opened #19642 "Egress gateway partially incompatible with L7 policies"
The egress gateway feature is partially incompatible with L7 policies: traffic will not be forwarded to a gateway if there's an L7 policy selecting the same endpoint selected by an egress gateway policy.

The specific problem is that the egress gateway logic to forward traffic to a gateway lives currently in `bpf_lxc`, right after the L7 proxy redirection, so if a packet is redirected to the L7 pr

[2022-04-29 10:42] Champ-Goblem commented on #19187
Ok @jibi I have managed to recreate this on Digital Ocean again.
The setup is as so:

- 1 machine running k3s with the cilium install and egress gateways enabled (I will refer to this as kubernetes)
  - this has a public IP of `178.128.162.84`
  - this machine has a DO egress IP `68.183.255.90` which is mapped to the anchor IP `10.16.0.5`
- 1 machine running bare docker (I will refer to this as se

[2022-04-29 13:23] jrajahalme commented on #16928
Same `JoinEP` due to old core-dns pod being deleted by Cilium/CI job while the EP being regenerated: https://jenkins.cilium.io/job/Cilium-PR-K8s-1.21-kernel-5.4/1177/testReport/junit/Suite-k8s-1/21/K8sDatapathConfig_Host_firewall_With_VXLAN_and_endpoint_routes/

[2022-04-29 14:05] GuillaumeSmaha opened #19648 "Cilium-operator skipped all identity to delete during garbage collect"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

Hi,
I was noticing pods blocked in `ContainerCreating` status with a warning by cilium:
[code]
and on the cilium pod, I got the following log:
[code]
My first change was to change the rate-limiting parameter & increasing the bpfPolicyMap from `16384` to `65536`.

The next day, I got the same er

[2022-04-29 14:58] aanm commented on #19648
Thanks for the report, the fix is here https://github.com/cilium/cilium/pull/19649

[2022-04-29 15:01] ti-mo commented on #16928
@jrajahalme thanks for the data point. I see two similarities between our PRs:
- both fail when replacing the qdisc. In my patch, that happens after loading the prog. In iproute2-based Cilium, it happens before calling `ip`, which both loads and attaches the prog
- the `eventConsumeOffQueueWaitTime` span is 1m+ in both our PRs

Luckily, with my patch, the time spent in the verifier is now also vis

[2022-04-29 17:36] maintainer-s-little-helper[bot] opened #19653 "[v1.9] CI: K8sDatapathConfig MonitorAggregation Checks that monitor aggregation flags send notifications"
### Test Name
[code]

### Failure Output
[code]

### Stacktrace
<details><summary>Click to show.</summary>

[code]
</details>

### Standard Output
<details><summary>Click to show.</summary>

[code]
</details>

### Standard Error
<details><summary>Click to show.</summary>

[code]
</details>

ZIP Links:
<details><summary>Click to show.</summary>

 https://jenkins.cilium.io/job/Cilium-PR-K8s-1.19-ker

[2022-04-29 17:38] #19614 closed

[2022-04-29 19:33] maintainer-s-little-helper[bot] opened #19655 "CI: K8sDatapathConfig Host firewall With native routing"
### Test Name
[code]

### Failure Output
[code]

### Stacktrace
<details><summary>Click to show.</summary>

[code]
</details>

### Standard Output
<details><summary>Click to show.</summary>

[code]
</details>

### Standard Error
<details><summary>Click to show.</summary>

[code]
</details>

ZIP Links:
<details><summary>Click to show.</summary>

 https://jenkins.cilium.io/job/Cilium-PR-K8s-1.22-ker

[2022-04-29 21:03] #19648 closed

[2022-04-29 21:16] joestringer commented on #19642
Related: #17460

[2022-04-29 23:14] vincentmli opened #19656 "Client pod IP changed to IP on cilium_host after egress L7 policy and before tunnel encap"
while testing L7 policy according to https://github.com/cilium/cilium-service-mesh-beta/tree/main/l7-traffic-management, have relevant cilium config setting below

[code]
L7 policy:

[code]

then run curl from client pod to remote pod `echo-other-node`

`kubectl exec -it client2-5998d566b4-n6kcl -n cilium-test -- curl -v echo-other-node:8080/`

the curl request works, but the client pod IP changed

[2022-04-30 08:03] MikeLing commented on #19571
I just change some code in `decision.go` and the benchmark output like:
<img width="622" alt="截屏2022-04-30 下午4 01 03" src="https://user-images.githubusercontent.com/2166227/166097322-11100868-3a96-4123-a7bf-47c0778f3653.png">

Does it make sense to you to optimize? I will commit PR if so.
Thank you

[2022-04-30 12:02] zhanghe9702 commented on #19586
@brb , i'd like to start a pr for this, but it seems only cilium-agent known which devices were attached bpf_xdp.o , is it exist simple method for this info :-)?

[2022-04-30 13:04] damiendawreck commented on #18257
Hey @brb, sorry for the lack of information. I’m just not too experienced in all this networking stuff so I posted what I got in the hopes it had something useful. I have got some more information:

Cilium monitor for both nodes gives the following:

Server node(10.0.0.2, 192.168.1.119)
[code]
Listening for events on 4 CPUs with 64x4096 of shared memory
Press Ctrl-C to quit
level=info msg="Initial

[2022-05-02 05:10] brb commented on #19586
@zhanghe9702 Thanks for taking the task. Please see https://github.com/cilium/cilium/issues/10067#issuecomment-1018255492 where we discussed potential ways to identify that a program belongs to Cilium. The cmd should work when cilium-agent is not running.

[2022-05-02 08:29] brb opened #19660 "datapath: Split snat_v{4,6}_process() into two functions (SNAT and rev-SNAT)"
Split the `snat_v{4,6}_process()` functions into `nat_snat_v{4,6}()` and `nat_rev_snat_v{4,6}()`.

The proposed change would not only improve the readability of the datapath code, but also should reduce the verifier complexity of the code path which is responsible for doing the rev-SNAT translations, as no new SNAT mapping needs to be find for this code path (only the lookup in the BPF SNAT map).

[2022-05-02 09:30] kaworu commented on #17572
@christarazi I have a working patch fixing this issue [here](https://gist.github.com/kaworu/248922a805d668bcb5ec5aa52ec7a92c), but I don't think it's worth the change.

`cilium/workerpool` is most useful for context cancelling propagation to the worker goroutines, error propagation from the worker goroutines, and long-running job with dynamic tasks count over time (because the workerpool launches

[2022-05-02 11:39] pchaigno commented on #18873
@ti-mo FYI, this flake is still happening.

[2022-05-02 12:07] gandro commented on #19455
I think this is expected and the connectivity breakage is due to the proxy not being able to decode the request. The visibility annotations cannot be used with HTTP**S** traffic, only plain-text HTTP traffic.

To get visibility into HTTPS traffic, you will need to use the following guide and use a CiliumNetworkPolicy (instead of a visibility annotation): https://docs.cilium.io/en/v1.11/gettingstar

[2022-05-02 14:04] joaoubaldo commented on #19440
@jmcshane were you able to test this behaviour in v1.11.4? As mentioned before, this was also happening in v1.10.9 and after running a few tests with v1.10.10 (containing back ported bug fixes) I wasn't able to reproduce the issue so far.

[2022-05-02 14:07] jmcshane commented on #19440
@joaoubaldo we're rolling out 1.11.4 across our environment as we speak. As this is intermittent and we are unable to detect the cause, it is hard to tell whether the issue is resolved for some time. So far though, we have not experienced this in 1.11.4.

I will report back on this ticket in a week.

[2022-05-02 14:40] #15426 closed

[2022-05-02 19:06] chancez commented on #9580
@mazzy89 any progress on this? It's been a while and there's been a few questions in the Cilium slack that would indicate this could be useful for others.

[2022-05-02 19:08] szucsitg commented on #19455
Thank you very much for the response. I doubled checked the [page](https://docs.cilium.io/en/v1.11/policy/visibility/), and there's no mention that it'll practically break encrypted connections. What doesn't add up; could you explain why cluster internal encrypted traffic worked fine with the annotation?

[2022-05-02 20:22] dariush-a commented on #15035
@joestringer Is this issue still open?

[2022-05-02 23:50] christarazi commented on #19630
Hi @lewisdiamond, we are moving away from the MetalLB implementation in favor of an built-in BGP solution in v1.12 and beyond.

[2022-05-03 08:12] gandro commented on #19455
I don't expect this to work either. There is simply no way Cilium can decrypt encrypted traffic of a HTTPS connection without you providing Cilium with the TLS private keys first, it does not matter where the HTTPS endpoint is.

You would have to provide more details about your in cluster setup to answer your question for certain. What you may have done is terminate the HTTPS traffic first (e.g. v

[2022-05-03 08:18] szucsitg commented on #19455
in my test cluster the encrypted service was argocd-server (with self-signed cert) and it actually worked fine. I'm not saying that it provided visibility, as you mentioned without decrypting the traffic it's impossible, but the connection was working. therefore it must be something that provided fallback instead of reseting the TCP connection, as with cluster external services.

[2022-05-03 08:26] gandro commented on #19455
Generally speaking, the way the annotation works is that it will redirect any traffic on the provided port to a proxy which expects the corresponding parser (e.g. in your example, every TCP connection with destination port 443 will be decoded as HTTP traffic). If the parser is unable to decode the traffic, the connection will be dropped by the proxy (this is arguably not great for a visibility ann

[2022-05-03 08:27] zhujik commented on #15393
Is there any update here? The workaround by disableing node-init is not viable since it re-introduces all bugs that node-init actually solves. Also ciliumc li does not support node-init, which requires to change setup builds

[2022-05-03 08:41] szucsitg commented on #19455
I think that's the reason, as I targeted the service, but the pod has 8443 port. I appreciate the detailed explanation. If you don't mind, I'd add these information to the docs, so it'll be more clear for others as well, and close the issue with that PR. If you agree, I'll do this some time this week.

[2022-05-03 09:36] carloruiz opened #19676 "Egress policy blocks all outgoing traffic"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

**Steps to repro:**

1. Create a sample app.
2. Add an egress network policy targeting the sample app, with any value for `toCIDR`.
[code]
3. The pods with targeted labels are unable to establish network connections, either to internal cluster endpoints or external services.

Note: I've tried d

[2022-05-03 11:48] Ericra95 opened #19678 "On almalinux 9.0 beta, The mac address of lxc health keeps changing,"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

On almalinux 9.0 beta, the pod network cannot be pinged through the cilium host (pod gateway) IP
Causes network failure between pods
coredns has been in run and CrashLoopBackOff state and cannot be ready
The mac address of lxc health keeps changing

[code]
[code]

almalinux 9.0 beta message
[co

[2022-05-03 13:47] Ericra95 commented on #19678
Everything works fine on almalinux 8.5

[code]

[2022-05-03 14:33] vincentmli commented on #19656
from what I understand, after L7 policy, the packet is in host and route according to host route

`10.0.0.0/24 via 10.0.1.171 dev cilium_host src 10.0.1.171 mtu 1450 `, so the src IP will be `10.0.1.171` instead of client pod IP `10.0.1.155`, I thought there is some BPF magic to preserve the pod IP like `enable-bpf-tproxy: "true"` could have done :)

[2022-05-03 15:29] flavono123 commented on #8820
Only controlplane has the iptables rule look like for cilium, but workers has not. Is it related?:
[code]

[2022-05-03 21:55] DirkTheDaring commented on #19279
another cause of the problem was that the CiliumIdentiy was filled up with 65536 identies by runs of kuberhealthty (which generated a "unique" CiliumIdenitity on every run, due to different label) . It is extremly easy to run into this trap with a heavily used  cluster ("flannel" was used before). Please make a lmite usage of labels the standard policy. Find out that after 4 weeks the ciliumidenti

[2022-05-03 23:01] christarazi commented on #17572
@kaworu The way I see it is we've created `cilium/workerpool` to solve this general problem so that we don't have to re-solve it every time we want to limit workers in our code bases. If there's return values that we don't care about or extra knobs like context cancellation that the lib supports, then we simply don't have to use it and that's supported by the lib anyway.

I see this as a cleanup t

[2022-05-04 06:46] brb commented on #19586
We could change the `bpf_xdp_entry` to e.g., `cilium_bpf_xdp_entry`. This would be used in the XDP prog name which you can retrieve with `bpftool prog show id 220`. Another idea is to set the tag field (haven't checked whether it's feasible).

Maybe @borkmann has other ides.

[2022-05-04 07:55] sayboras opened #19684 "Validate duration field in helm chart"
We validate duration attribute in helm chart as suggested in below comment. Also, checking for other interval attributes to make sure that default values are consistent between helm values and CLI.

Relates to https://github.com/cilium/cilium/pull/19576#pullrequestreview-956454714

[2022-05-04 09:19] kerossin commented on #12781
What's the status on this?

We have nodes only with public IPs and generally use iptables with ipsets to restrict traffic but I can't seem to find a way to restrict access to NodePort services, they are reachable by anyone.

I've tried different iptables rules in different chains, CiliumClusterwideNetworkPolicy, different Cilium configurations (with kube-proxy, without kube-proxy, etc.) but nothin

[2022-05-04 09:24] pchaigno commented on #12781
@kerossin All Cilium policies currently apply to backend pods, so it's expected they wouldn't work to block NodePort services directly (but you can block the backends to achieve almost the same). Without kube-proxy, I think it's expected for iptables rules to not work because Cilium then performs DNAT before iptables is reached. With kube-proxy however, I would expect iptables rules to work, assum

[2022-05-04 09:50] sahid commented on #19204
Happened again at https://jenkins.cilium.io/job/Cilium-PR-Runtime-net-next/2089/ related PR: #18414

[2022-05-04 09:53] sahid commented on #19204
We can also notice goroutines that are probably not clean in right way:

[code]

[2022-05-04 10:29] sahid opened #19685 "CI: fails running "sudo cilium config ConntrackLocal=true""
### Test Name

[code]

### Failure Output

[code]

### Stack Trace

[code]

### Standard Output

[code]

### Standard Error

[code]

### Resources

- Jenkins URL: https://jenkins.cilium.io/job/Cilium-PR-Runtime-net-next/2089/testReport/(root)/Suite-runtime/RuntimeKafka_Kafka_Policy_Ingress/
- ZIP file(s): https://jenkins.cilium.io/job/Cilium-PR-Runtime-net-next/2089/testReport/junit/(root)/Suite-r

[2022-05-04 10:31] sahid commented on #19685
Originaly comming from PR: #18414. We can noticed that the agent is configured using masquerqding iptable. All the changes from PR #18414 are related to BPF,

[2022-05-04 11:44] sayboras opened #19687 "test: Upgarde gingko to v2"
Related to the comment https://github.com/cilium/cilium/pull/19248#issuecomment-1081561295

As gingko v1 is EOL, we should consider to upgrade it to v2.

[2022-05-04 14:31] maintainer-s-little-helper[bot] opened #19689 "CI: K8sDatapathConfig IPv4Only Check connectivity with IPv6 disabled"
### Test Name
[code]

### Failure Output
[code]

### Stacktrace
<details><summary>Click to show.</summary>

[code]
</details>

### Standard Output
<details><summary>Click to show.</summary>

[code]
</details>

### Standard Error
<details><summary>Click to show.</summary>

[code]
</details>

ZIP Links:
<details><summary>Click to show.</summary>

 https://jenkins.cilium.io/job/Cilium-PR-K8s-GKE//839

[2022-05-04 14:34] sylr commented on #18405
Any chance we can see this land for 1.12 ?

[2022-05-04 15:07] gandro commented on #18987
The release blocker label applies only to the "Must Have" items

[2022-05-04 15:17] gandro commented on #18405
The feature list for v1.12 has already been finalized, so I think it's safe to say that v1.12 will _not_ have IPv6 support with `ipam: eni`. I'm also not aware of any contributors who have committed cycles to adding this.

Cilium v1.12 with AWS VPC chaining however will support IPv6 in the upcoming version https://github.com/cilium/cilium/issues/18495 (docs https://docs.cilium.io/en/stable/getting

[2022-05-04 15:58] andrew-bulford-form3 opened #19695 "IPAM errors cause rate limiting in Azure"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

The `cilium-operator` produces warnings such as these:
[code]
With error:
[code]

This has two consequences:
1. Cilium is unable to pre-allocate IPs, so we are limited to the IPs provisioned via the Azure CNI's `max_pods` parameter used when creating the cluster
2. The repeated attempts to allo

[2022-05-04 15:59] VMAthreyas opened #19696 "Wrong dest MAC used in server existing egress connection after a new connection established from same client to same server IP/port"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

While running cilium with **"enable-bpf-masquerade: "true"** we could see if a second connection started with same client, then communication from server to first session of the client goes through wrong MAC address.

[code]
Traffic captured at server pod end during initial client and server co

[2022-05-04 17:04] michi-covalent opened #19698 "Service Mesh follow-ups after 1.12 release"
- [ ] Write a proper description to #18894, including but not limited to:
  - [ ] limitations, current things that are implemented, envoy resources that can be configured, resources that can't be configured, how this fits into the broader service mesh picture
  - [ ] which components (cilium-agent, cilium-operator, cilium-proxy) are expected to interact with these resources
  - [ ] RBAC
  - [ ] fl

[2022-05-04 17:51] DolceTriade commented on #5719
@pchaigno Hello, I'm interested in taking a stab at this. Is it still not viable to try to dust off PR #6912? Any pointers on what the complexity issues are?

Thanks!

[2022-05-04 18:09] andy-v-h commented on #18928
Not sure if i'm seeing a related issue or the same one but, I'm running latest stable 1.11 and seeing these kinds of drops consisently

[code]

[2022-05-04 18:18] joestringer commented on #19204
@sahid can you expand the above output to include more context? Sometimes in the CI Cilium will print stack traces purely to highlight log-held locks, not because there's a panic. At a glance this looks like it may be the case for the stack trace you posted, but it's hard to tell without seeing a few lines earlier.

[2022-05-04 18:20] joestringer commented on #19685
Copying & pasting the entire output from jenkins in case we lose it, as the original description here doesn't include all of the information about this failure:

[code]

[2022-05-04 18:39] vincentmli opened #19699 "vtep: VTEP redirection is partially incompatible with L7 policies"
L7 policies redirect packets on egress of bpf_lxc to userspace proxy. When packets leave the proxy, they don't go back through bpf_lxc again, so the VTEP redirections won't be enforced.  this only affects pod with egress L7 policy sending request to VTEP devices. the work is tracked in https://github.com/cilium/cilium/pull/19473 or https://github.com/cilium/cilium/pull/19494, depending on whicheve

[2022-05-04 19:48] bbarin opened #19701 "CFP:"
## Cilium Feature Proposal

**Is your feature request related to a problem?**

Today is not possible to call services between clusters unless the `Service` resource and the `Namespace` are present in both clusters.
**Describe the feature you'd like**
Service `foo` residing **only** in cluster A should be able to call service `bar` residing **only** in cluster B without having to exist the `Namespa

[2022-05-05 02:37] Ericra95 commented on #19678
cilium status prompts an error  ,The mac address of lxc health keeps changing

[code]
But inside the container wget works fine
[code]

[code]
[code]
[code]

[2022-05-05 03:24] #19678 closed

[2022-05-05 05:43] cyclinder commented on #19597
Hi @julianwiedmann , I'd fix it, Can I have this one?

[2022-05-05 06:43] julianwiedmann commented on #19597
Hi @cyclinder, certainly - please do!

[2022-05-05 07:26] brb opened #19703 "datapath: Emit trace events in XDP for debug purpose"
Currently, to debug XDP we rely on the PCAP recorder. Unfortunately, the recorder doesn't work with Hubble. I.e., the recorder flows cannot be shown in Hubble UI.

For debugging purpose, we could introduce a new debug mode (e.g., `--debug-verbose=xdp`) which would enable emitting of cilium flow events to the perf ring buffer.

[2022-05-05 07:42] #19131 closed

[2022-05-05 07:49] sahid commented on #19660
Hello Team, I do start working on it. This will be needed [by ](https://github.com/cilium/cilium/pull/18414) to reduce complexity.

[2022-05-05 10:52] carloruiz commented on #19676
I'm guessing this is a bug in the tutorial than the code itself.

[2022-05-05 11:54] brb commented on #18054
Haven't seen the failure in awhile. Closing.

[2022-05-05 12:40] brb commented on #15255
Haven't seen this in awhile. Closing.

[2022-05-05 12:40] #15255 closed

[2022-05-05 12:40] #13011 closed

[2022-05-05 13:19] cyclinder commented on #19597
Thanks! @julianwiedmann, Here's one way to fix it, Refer to follwing:
[code]

How do you think?

[2022-05-05 13:21] brb commented on #17854
Resolved by https://github.com/cilium/cilium/pull/18592.

[2022-05-05 13:21] #17854 closed

[2022-05-05 13:25] brb commented on #17562
It will be resolved by https://github.com/cilium/cilium/pull/19139.

[2022-05-05 14:48] aanm opened #19706 "TestNewCRDWatcher test failure"
### Test Name

[code]

### Failure Output

[code]

### Stack Trace

[code]

### Standard Output

[code]

### Standard Error

[code]

### Resources

https://app.travis-ci.com/github/cilium/cilium/jobs/569228502#L8641

### Anything else?

@gandro I've seen this failure a couple times in some PRs. It seems that it is a flake introduced by 58e1f35d3317b1baed82db7fb12e66e7d845d5a4

[2022-05-05 16:13] vincentmli opened #19708 "vtep: Proper policy routing for VTEP CIDR route with pod egress L7 policy"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

while investigating pod egress L7 policy support for VTEP and in  https://github.com/cilium/cilium/pull/19473#issuecomment-1117645877 to setup VTEP specific route table by cilium agent, probably when packet directed to  L7 policy enforcement,  the packet is dropped  in kernel here `net/ipv4/ip_

[2022-05-05 17:08] christarazi commented on #19571
Splitting makes sense to me.

[2022-05-05 18:31] vincentmli commented on #19708
found the kernel commit, I wonder if I setup the policy routing wrong?

[code]

[2022-05-05 18:42] vincentmli commented on #19708
@joestringer this seems be your area of expertise :), could you take a look when you have time. did I set up the policy routing wrong or the policy routing rule conflicting with existing policy fwmark  or hit a potential kernel bug

[2022-05-05 19:30] shen-cloud opened #19709 "VLANBPFBypass: the data filed in ConfigMap not able to take array of int"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

the `data` filed in ConfigMap is `map[string]string`. Passing `VLANBPFBypass` values as an array of integers is not possible in ConfigMap. A validation error will happen. `got "array", expected "string"`

### Cilium Version

1.11.1 9ce9549ce6 2022-02-10T18:14:35-08:00 go version go1.17.6 linux/

[2022-05-05 19:46] pchaigno commented on #16663
@cyclinder Sure, but why is that empty?

[2022-05-05 20:06] jtaleric commented on #19362
cc @jrajahalme on the message mentioned above.

[2022-05-06 01:44] vincentmli commented on #19708
I think it is something to do with the policy rule I setup, not kernel issue

I setup the rule like below:

[code]

ip r s table 2006

[code]

now the SYN packet can be encaped and send to VTEP device, but  it has incorrect checksum and is dropped by VTEP device probably due to bad checksum, wonder what caused the bad checksum.

 tcpdump -nn -vv -i cilium_vxlan port 8080

[code]

[2022-05-06 05:58] vincentmli commented on #19708
after further testing, it appears incorrect cksum should not affect connectivity, I have a few kernel version tested

grubby --info ALL | grep '^kernel'

[code]
I will do more testing, at least now I know I should setup the policy routing properly, which based on my test, is to set the policy routing priority after priority `100`, the local route table, so now I have

 ip rule list
[code]
ip r s t

[2022-05-06 06:23] brb commented on #16951
Are you folks still planning to work on these issues? JFYI during the v1.13 dev cycle we are going to invest into https://github.com/cilium/cilium/issues/14990, so maybe we could close this issue?

[2022-05-06 07:08] brb commented on #18580
Majority of tests have been unquarantined / refactored. Closing.

[2022-05-06 07:08] #18580 closed

[2022-05-06 08:04] wkruse commented on #19192
SELinux was a red herring. When `keepalived` master and the service are on the same node, we have **no** issues. When there is a network hop in-between, we have the stuttering connection.

[2022-05-06 08:22] brb commented on #17002
Checked all recently failed jobs - haven't seen this failure. Closing for now.

[2022-05-06 08:22] #17002 closed

[2022-05-06 08:29] brb opened #19713 "CI: Cilium L4LB XDP: error: timed out waiting for the condition on pods/cilium"
Found quite a few failed tests due to timeout while waiting for cilium to be ready. For example https://github.com/cilium/cilium/runs/6127187169?check_suite_focus=true:

[code]

Checking cilium-agent logs revealed:
[code]

Cilium was running on KIND.

[2022-05-06 10:48] jibi opened #19717 "Egress gateway partially incompatible with LB XDP acceleration"
The egress gateway feature is partially incompatible with LB XDP acceleration: tunneling redirection is currently not supported in `bpf_xdp` and so the egress gateway return traffic has to go through the host network stack of the gateway node, which will then route it to the tunnel device.

The issue with that is that the default `FORWARD` iptables chain policy is usually set to `DROP` by docker,

[2022-05-06 11:10] sahid opened #19718 "CI: Conformance AWS-CNI: invalid apiVersion "client.authentication.k8s.io/v1alpha1""
## CI failure

Looks like `Conformance AWS-CNI` is failing. Sounds related to an issue with API version when trying to apply [aws-k8s-cni.yaml](https://raw.githubusercontent.com/aws/amazon-vpc-cni-k8s/v1.7.10/config/v1.7/aws-k8s-cni.yaml)

[code]

- The job failing can be found here:
  https://github.com/cilium/cilium/runs/6321086188?check_suite_focus=true
- The pull request related:
  https://git

[2022-05-06 11:12] sahid commented on #19718
Looks like `ConformanceEKS (ci-eks) ` is failing with the same kind of issue:

[code]

- https://github.com/cilium/cilium/runs/6321086363?check_suite_focus=true

[2022-05-06 11:15] sayboras commented on #19718
this could be fixed by https://github.com/cilium/cilium/pull/19716

[2022-05-06 11:39] nberlee opened #19720 "CFP: make packet too big work in ECMP scenarios"
## Cilium Feature Proposal

**Is your feature request related to a problem?**

In a scenario with:
* Cilium/metallb configured for BGP announcement of loadbalance IP and the upstream router supporting ECMP
* communication with TLS sessions or other traffic using max MTU with DF-bit (do not fragment) set
* a client ISP with PPPoE/A or with a network path in between with lower MTU

Communication is

[2022-05-06 11:53] #17590 closed, assigned to nobody

[2022-05-06 11:56] brb commented on #16777
The test suite was heavily refactored. Haven't seen the failure in awhile. Closing.

[2022-05-06 11:56] #16777 closed

[2022-05-06 12:06] brb commented on #16983
The test suite was heavily refactored. Haven't seen the failure in awhile. Closing.

[2022-05-06 12:06] #16983 closed

[2022-05-06 12:13] brb commented on #17363
Haven't seen the failure in awhile. Closing.

[2022-05-06 12:13] #17363 closed

[2022-05-06 12:53] sahid commented on #19204
Sure, I have downloaded archive from [RuntimeKafka_Kafka_Policy_Role_Egress.zip](https://jenkins.cilium.io/job/Cilium-PR-Runtime-net-next/2089/artifact/0efb5a58_RuntimeKafka_Kafka_Policy_Role_Egress.zip) Then I have looked in `container_cilium.log` and found several errors like the one bellow:

[code]

I was under the impression that the gorountine did not finished properly. But now as you mention

[2022-05-06 14:09] cyclinder commented on #16663
I'm not sure.. I agress @kaworu ,We can refer to the above way to fix or the following way:
[code]
Which is better?

[2022-05-06 16:08] vincentmli commented on #19708
did more testing with kernel `5.4`, `5.10`, `5.17`, `5.18`, no problem, having issue with kernel `5.17.0-rc6+`, maybe a bad build since I made some changes while debugging,  the current VTEP policy routing setup works well.

[2022-05-06 16:52] kerossin commented on #12781
@pchaigno Yes, I've had some misunderstandings on how these policies work and I think more or less I got the hang of it but I wasn't successful in securing my services.

Overall, firewalling with Cilium is currently problematic.

You can't use iptables because of eBPF so you have to rely on what Cilium provides. I got the host firewall working but it's only for host services and I couldn't properl

[2022-05-06 18:50] #19619 closed

[2022-05-06 19:03] Kikiodazie commented on #19171
Hey @geakstr, How are you doing? I hope great.

I see you self-assigned this issue, are you working on it? I would like to work on it.

cc: @lizrice @joestringer

[2022-05-06 19:33] geakstr commented on #19171
Hi @Kikiodazie! I didn't start working on it.

[2022-05-06 19:51] EppO commented on #19695
I hit also that issue, cilium is spamming the AKS API server and get throttled:
![Screen Shot 2022-05-06 at 3 48 56 PM](https://user-images.githubusercontent.com/6111/167207460-eecf6b20-dada-442a-9a91-deac2ed03224.png)

numbers are through the roof! same error in the cilium operator logs, the VMSS update tries to read a image compute gallery that is owned by Azure (and private I guess)

[2022-05-06 21:56] Kikiodazie commented on #19171
Ok then. Thanks for the reply @geakstr.

@lizrice @joestringer can this issue be assigned to me?

[2022-05-06 22:10] #19708 closed

[2022-05-07 08:45] MikeLing commented on #19571
@christarazi Does this commit make sense to you? https://github.com/MikeLing/cilium/commit/b86b803fdd1b08411a4a4c48d808fe13c0439baa

[2022-05-07 18:57] hswong3i commented on #13239
I am now facing this lack of multicast support issue as like as https://github.com/weaveworks/weave/issues/3466, for running Atlassian Confluence Data Center with multiple node, on top of AWS EC2 + Cilium + cluster-pool + vxlan. My cluster already passing `cilium connectivity test` and even `sonobuoy run --mode=certified-conformance`.

Because Confluence is using Hazelcast + multicast for node dis

[2022-05-07 22:35] christiancadieux opened #19746 "cilium connectivity test hand on Waiting for CiliumEndpoint"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

hang here:
[anvil-vpi-sandbox] Creating namespace for connectivity check...
✨ [anvil-vpi-sandbox] Deploying echo-same-node service...
✨ [anvil-vpi-sandbox] Deploying same-node deployment...
✨ [anvil-vpi-sandbox] Deploying client deployment...
✨ [anvil-vpi-sandbox] Deploying client2 deployment..

[2022-05-08 04:01] #19746 closed

[2022-05-08 04:01] christiancadieux commented on #19746
needed to chain the CNIs properly.

[2022-05-08 10:39] nadenf opened #19747 "Cilium fails to launch in KVM"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

I am trying to test Cilium using k3s with multipass.

Setup cluster:
[code]

Install Cilium:
[code]

And then when I look in the cluster I see this pod: cilium-42dgv failing with these logs:

[code]

I assume it's related to [this](https://github.com/cilium/cilium/issues/11294) issue.

However

[2022-05-08 12:19] pchaigno commented on #16663
We should first figure out why `sym.Name` is empty.

[2022-05-09 02:02] vincentmli commented on #19362
@FanHTao

I happen to have envoy enabled in Cilium, could you describe what load test tool you used in your client test pod? what steps you performed in the load test  and how do you check envoy logs that has `503` ? sorry I am newbie to envoy too but I would like to dig into this further

[2022-05-09 09:34] dylandreimerink commented on #19703
@brb could you elaborate on this a little more?

I have taken a look into the current flow of event data. We have 3 kinds of messages which sort of do the same thing:
* Debug capture events
* Trace events
* Capture record events

The debug capture and trace events are [parsed](https://github.com/cilium/cilium/blob/4f1316538ba6a638221021b3da4c5caeb2b35e72/pkg/hubble/parser/threefour/parser.go#L135)

[2022-05-09 10:26] brb commented on #19703
@dylandreimerink Good questions.

1. The issue is about enabling `cilium_dbg` and `send_trace_notify` in `bpf/bpf_xdp.c`. Converting captured record events (aka recorded PCAPs) into parsable ones by Hubble is out of scope of this issue, as it might involve a fair amount of work.
2. Once we have both enabled, then let's add two `send_trace_notify()` - one before the LB selection (i.e., before `node

[2022-05-09 11:14] nbusseneau commented on #19079
Was fixed by https://github.com/cilium/cilium/pull/18986.

[2022-05-09 11:14] #19079 closed

[2022-05-09 11:21] qmonnet commented on #19171
Please note that Joe's comment is outdated, the current branch for the Sphinx theme we use is https://github.com/cilium/sphinx_rtd_theme/tree/v1.0 (as can be checked in Documentation/requirements.txt in Cilium repository).

[2022-05-09 11:30] qmonnet commented on #19171
Also https://cilium.io 's header has changed a little since the creation of the issue
![image](https://user-images.githubusercontent.com/17001771/167400849-7686ca38-6c95-4c22-a873-a2cdc94982c5.png)

I suppose we want to match the current version? (cc @lizrice)

If it's any help the code for cilium.io is [here](https://github.com/cilium/cilium.io/blob/main/src/layouts/main/main.jsx), but it doesn't

[2022-05-09 17:31] Weil0ng commented on #16951
I think this is of a low priority from our side now, let's close this and see if #14990 provides better coverage.

[2022-05-09 17:57] joestringer commented on #14921
Ah great, OK. Thanks for investigating, sometimes these issues just need fix confirmation to validate that they're already solved. I hope you were able to learn something while figuring out this issue :-) Closing fixed.

[2022-05-09 17:57] #14921 closed

[2022-05-09 19:21] Kikiodazie commented on #14921
Yes, I was @joestringer, thanks for helping out.

[2022-05-09 19:25] Kikiodazie commented on #19171
Thanks for sharing this @qmonnet. Noted.

[2022-05-09 19:28] Kikiodazie commented on #19171
Thanks for sharing this @qmonnet. Will take it into account and let you know if i run into any issues or need any help.

Do have a great week ahead.

[2022-05-09 23:29] christarazi commented on #19571
Yes please submit a PR.

[2022-05-10 08:50] dylandreimerink commented on #19703
@brb I have [this](https://github.com/dylandreimerink/cilium/commit/2ecf4f8604c524ed2c6d3ba77fdebddb6922ce46) so far, not quite happy yet, I wanted to discuss the folowing:

1. Do we want a separate `--debug-verbose=xdp`? Doesn't seem necessary since other trace functions just aggregate if not monitored
2. Technically the term `FROM_NETWORK` applies more to the XDP programs than the TC programs. S

[2022-05-10 10:09] brb commented on #19703
When I created the issue I was thinking about enabling Cilium traces on XDP with the least amount of work so that they can be shown by Hubble. The initial thought was to add `send_trace_notify()` protected with `#ifdef ENABLE_XDP_TRACING` or so.

1. I think the approach with the aggregation would only work if we introduce a new trace point. I would suggest to not introduce it considering the motiv

[2022-05-10 10:26] arianvp commented on #19411
There seems to be a follow-up to move to CiliumNode object in https://github.com/cilium/cilium/issues/19376 which I think will address this issue

[2022-05-10 11:13] joamaki commented on #19718
Fixed now, e.g. latest run from master is green: https://github.com/cilium/cilium/actions/runs/2298983995.

[2022-05-10 11:13] #19718 closed

[2022-05-10 14:11] rastislavs opened #19761 "Connectivity to kubernetes service endpoints broken after k8s version upgrade"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

In an environment with 3 control-plane (master) nodes and 3 worker nodes, the communication from pods running on the master nodes to the kubernetes service endpoints is broken after upgrading k8s version from 1.23.5 to 1.23.6 (or from 1.22.2 to 1.22.3). The connectivity still works from the wor

[2022-05-10 15:29] k-nuhdim opened #19763 "CFP: Multiple egressSourceIPs(Round-robin) In CiliumEgressNATPolicy"
## Cilium Feature Proposal

Hello Team,

Requirement - Need to sent egress traffic via a Pool of IP's as Round-robin.
i.e Any external traffic going out from the application pod should be pick in roundrobin from a set of  IPs.

[code]

Above are the existing policy where we can pick only single IP as egresssource IP, expecting  some feature where we can use multiple IP;s in above policies
 eg:-  l

[2022-05-10 15:40] brb commented on #18072
Is anyone still hitting this?

[2022-05-10 15:47] pulcov commented on #17026
Hello and thank you for your work.
I use this feature with calico to assign an ip to a namespace ([https://projectcalico.docs.tigera.io/networking/legacy-firewalls](https://projectcalico.docs.tigera.io/networking/legacy-firewalls)) or a pod ([https://projectcalico.docs.tigera.io/networking/use-specific-ip](https://projectcalico.docs.tigera.io/networking/use-specific-ip)).
My router is configured t

[2022-05-10 18:35] jibi opened #19766 "CI: ConformanceAKS: Unable to enable Hubble: timeout while waiting for status to become successful"
Hit consistently on master branch.

https://github.com/cilium/cilium/runs/6375385888?check_suite_focus=true
[cilium-sysdump-out.zip.zip](https://github.com/cilium/cilium/files/8664080/cilium-sysdump-out.zip.zip)

The `Enable Relay` target is failing with:

[code]

From a quick look at the sysdump it seems like hubble-relay could not be scheduled on any node:

[code]

[2022-05-11 05:41] sahid opened #19770 "CI: Cilium L4LB XDP: fails during kind cluster creation"
Looks like an issue during kind creation. I also have noticed this ticket opened https://github.com/cilium/cilium/issues/19713, but seems different.

The issue here seems to be during initialization of the control-plane.

- https://github.com/cilium/cilium/runs/6377377748?check_suite_focus=true

[code]

- The PR related: https://github.com/cilium/cilium/pull/19712

[2022-05-11 05:42] sahid commented on #19770
Currently trying to build env locally and make a test using `test/l4lb`...

[2022-05-11 06:12] sahid commented on #19766
Looks like this PR hit that issue too: https://github.com/cilium/cilium/pull/19712

- https://github.com/cilium/cilium/runs/6377378039?check_suite_focus=true

[2022-05-11 06:16] sahid opened #19771 "CI: Conformance AWS-CNI: computed checksum did NOT match"
Looks like sha256 verification failed. It's a WARNING but no more command was executed after that so I imagine we were waiting for a status code `0`.

- https://github.com/cilium/cilium/runs/6377377857?check_suite_focus=true

[code]

- The PR related: https://github.com/cilium/cilium/pull/19712

[2022-05-11 07:03] ungureanuvladvictor opened #19772 "Expose policy add/update/delete events via Hubble"
In our environment we have a high chrun of Spark jobs that run and each job has its own set of cilium policies. It's common for us to run ~2k jobs at the same time and each job has a minimum of 3 CNPs. We are running with `--disable-cnp-status-updates` to not crash the apiserver when the cluster is at peak workload. By doing this we lost visibility to when a policy is applied and enforced.

I'd be

[2022-05-11 08:27] brb commented on #19770
I would check whether it's a transient error. Also, the output below the error has more info about the failure. Pasting it here:
[code]

[2022-05-11 09:31] ti-mo commented on #14959
Hitting this in https://github.com/cilium/cilium/pull/19159 as well:

[code]

[2022-05-11 13:01] dylandreimerink commented on #19703
A side effect of using `FROM_NETWORK` is also that we see the same flow 2 or 3 times depending on if a packet gets mangled or not. It looks strange in the monitor output, though I suppose that it does make sure the flows get to Hubble.

[code]

It is something we can address now, in a future version or not at all and just add a note somewhere

[2022-05-11 13:24] brb commented on #19703
As it's going to be used only for debugging purpose, I wouldn't be too concerned about the duplicate events.

[2022-05-11 15:44] jibi opened #19784 "egressgw: switch is_cluster_identity() to rely only on identities"
Currently in `is_cluster_identity()` (in `bpf/lib/egress_policies.h`) we rely on different sources of truth (tunnel_endpoint, security ID and EP map) to figure out if a given IPv4 address belongs to the cluster set of IPs.

What we should do is consolidate this logic into `bpf/lib/identity.h` and make the decision based solely on the security ID associated with the IPv4.

[2022-05-11 15:46] jibi opened #19785 "egressgw: decouple egress gateway logic from rev_nodeport_lb4()"
The `rev_nodeport_lb4()` function contains some egressgw code that should be moved into its own function and placed in `lib/egress_policies.h`

[2022-05-11 15:52] jibi opened #19786 "Untangle complexity around TUNNEL_MODE macro"
There's some hidden complexity in the way `bpf/init.sh` handles the `TUNNEL_MODE` parameter, as contrary to what it would be reasonable to expect, it will not pass always pass that value to the datapath.

This ticket is about untangling some of that complexity to make it easier to follow which values are going to be set in the datapath for that macro.

[2022-05-11 16:25] aditighag opened #19787 "CI: Checks E/W loadbalancing (ClusterIP, NodePort from inside cluster, etc)"
### Test Name

[code]

### Failure Output

[code]

### Stack Trace

[code]

### Standard Output

[code]

### Standard Error

[code]

### Resources

- Jenkins URL: https://jenkins.cilium.io/job/cilium-master-k8s-1.21-kernel-4.9/166/#showFailuresLink
- ZIP file(s):
[e2236df6_K8sServicesTest_Checks_E-W_loadbalancing_(ClusterIP,_NodePort_from_inside_cluster,_etc)_Checks_service_on_same_node.zip](https

[2022-05-11 16:29] aditighag commented on #19787
Notes from initial investigation -

In all the failed runs, host -> clusterIP curl calls are failing, and only for IPv6 services. Kube-proxy replacement is disabled so the translation should be handled by kube-proxy. I picked the most straight forward case ([https://jenkins.cilium.io/job/cilium-master-k8s-1.20-kernel-4.9/1445/testReport/junit[…]ePort_from_inside_cluster__etc__Checks_service_on_sam

[2022-05-11 17:29] akostic-kostile opened #19788 "Cilium unable to remove taints on Azure AKS"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

It seems that Microsoft in their infinite wisdom made a breaking change in 24.04.22. release of AKS regarding taints removal.

https://github.com/Azure/AKS/releases/tag/2022-04-24

`Taints and labels applied using the AKS nodepool API are not modifiable from the Kubernetes API and vice versa. A

[2022-05-11 19:26] RixTmobilender commented on #19701
I would really appreciate this feature, my use case is not so much load-balancing the same service across clusters, but allowing multi-cluster connectivity for my centralized workloads (secrets vault, monitoring backend, CI webhooks).

The lack of this feature creates friction for me as the only reasonably sane way of replicating every namespace-service is installing all my centralized workloads h

[2022-05-11 19:55] atykhyy commented on #19788
The [recommended workaround](https://github.com/Azure/AKS/issues/2934#issuecomment-1122837301) is to add a mutating admission webhook which will taint new nodes. I suppose this webhook can run on the system node pool.

[2022-05-11 22:41] maintainer-s-little-helper[bot] opened #19790 "CI: K8sHubbleTest Hubble Observe with hubble-relay"
### Test Name
[code]

### Failure Output
[code]

### Stacktrace
<details><summary>Click to show.</summary>

[code]
</details>

### Standard Output
<details><summary>Click to show.</summary>

[code]
</details>

### Standard Error
<details><summary>Click to show.</summary>

[code]
</details>

ZIP Links:
<details><summary>Click to show.</summary>

 https://jenkins.cilium.io/job/Cilium-PR-K8s-1.16-ker

[2022-05-11 22:41] maintainer-s-little-helper[bot] opened #19791 "CI: K8sHubbleTest Hubble Observe Test L7 Flow with hubble-relay"
### Test Name
[code]

### Failure Output
[code]

### Stacktrace
<details><summary>Click to show.</summary>

[code]
</details>

### Standard Output
<details><summary>Click to show.</summary>

[code]
</details>

### Standard Error
<details><summary>Click to show.</summary>

[code]
</details>

ZIP Links:
<details><summary>Click to show.</summary>

 https://jenkins.cilium.io/job/Cilium-PR-K8s-1.16-ker

[2022-05-11 22:41] maintainer-s-little-helper[bot] opened #19792 "CI: K8sHubbleTest Hubble Observe Test FQDN Policy with Relay"
### Test Name
[code]

### Failure Output
[code]

### Stacktrace
<details><summary>Click to show.</summary>

[code]
</details>

### Standard Output
<details><summary>Click to show.</summary>

[code]
</details>

### Standard Error
<details><summary>Click to show.</summary>

[code]
</details>

ZIP Links:
<details><summary>Click to show.</summary>

 https://jenkins.cilium.io/job/Cilium-PR-K8s-1.16-ker

[2022-05-11 22:42] samueltorres commented on #7070
Are there any news regarding this ?

I'm really interested in seeing a Cilium implementation of multi-cluster-services-api 🙂

[2022-05-11 22:43] pchaigno commented on #19790
These tests failed in https://github.com/cilium/cilium/pull/19697. They didn't fail on master, but failed with the same error in https://jenkins.cilium.io/job/Cilium-PR-K8s-1.16-kernel-4.9/1565/ and https://jenkins.cilium.io/job/Cilium-PR-K8s-1.16-kernel-4.9/1542/ for two other PRs.

[2022-05-11 22:48] #19695 closed

[2022-05-11 23:50] allenmunC1 opened #19793 "cilium operator unable to process empty tags or tags with an @ symbol or tags with spaces"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

we're seeing an issue with the cilium-operator, when we spin up a kops cluster, the `--eni-tags` flag is used and when passing an @ symbol or a empty key tag like keepname=, cilium errors out with
[code]
These seem to be valid tags when adding them as aws tags but it seems like the cilium opera

[2022-05-11 23:59] ungureanuvladvictor commented on #19793
@allenmunC1 -- if you try to deploy just with the tag that has `@` will it work ?

[2022-05-12 02:20] sayboras commented on #19793
thanks for reporting this, seems like there either empty value and @ character is not allowed right now.

As a work around, can you try to pass value with json format e.g. { "k1": "v1", "k2": "" } ? Thanks.

[2022-05-12 07:50] akostic-kostile commented on #19788
@atykhyy Can you give me some more info regarding this? My understanding is, once you register a mutating webhook every request that matches certain conditions, in this case a new node being registered, Kubernetes API will send that information as json to some sort of controller/operator running inside or outside the cluster? In that case we would need either write this controller ourselves or use

[2022-05-12 11:21] akaQin opened #19798 "Unable to install Cilium: the server could not find the requested resource"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

I got a problem when I install Cilium:

`
[root@host3 ~]# cilium install --cluster-name procluster101 --context kubernetes-admin@procluster101
ℹ️  using Cilium version "v1.11.3"
🔮 Auto-detected IPAM mode: cluster-pool
ℹ️  helm template --namespace kube-system cilium cilium/cilium --version 1.11

[2022-05-12 14:45] rolinh commented on #19790
I think it shouldn't use a unix domain socket anymore since #18620 is merged. Is Relay using the `LocalClientBuilder` instead of the `RemoteClientBuilder` by any chance?

[2022-05-12 14:52] pchaigno commented on #19790
If this is related to a recent PR and it's not happening on master, could it be a case of https://github.com/cilium/cilium/issues/15474?

[2022-05-12 14:53] vincentmli commented on #18706
@RouxAntoine could you check if `systemd 250.5-1` has `ManageForeignRoutingPolicyRules` setting that you can set to `false` ?

[2022-05-12 14:54] rolinh commented on #19790
@pchaigno In which branch do you see this happening? I think that #18620 was backported to [v1.11](https://github.com/cilium/cilium/pull/19752) and [v1.10.](https://github.com/cilium/cilium/pull/19744).

[2022-05-12 14:54] gandro commented on #19790
Relay does do a dispatch based the presence of `unix://`:
https://github.com/cilium/cilium/blob/21e6e6ade37fb6ac9d38dd885c3f236bdb869c26/pkg/hubble/relay/server/server.go#L61-L70
I was just about to say the same thing. Since this _does not_ fail on master, I think this might a classical case of Jenkins rebasing the test driver and Helm charts against master.

[2022-05-12 15:03] gandro commented on #19790
Regarding the branch, it failed in https://github.com/cilium/cilium/pull/19697 - the branch is not available anymore, but looking at the time I think it's safe to say that the patch was not applied on that branch yet. But the failing test was run a week later.

[2022-05-12 15:09] musabmasood opened #19806 "Cilium NetworkPolicy stops working intermittently after a few days"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

We have three EKS clusters and all of them are running Cilium as the CNI. We have a `CiliumNetworkPolicy` which stops working on all clusters almost at the same time and the pods loose egress.

After recreating the `CiliumNetworkPolicy`, things start working right away.

It feels like some kind

[2022-05-12 16:37] vincentmli commented on #19656
attempted to remove `memset(&tuple->SK_FIELD.saddr, 0, sizeof(tuple->SK_FIELD.saddr));` no effect on the src ip, still cilium_host ip, I think the route/rule setup is the cause here

[2022-05-12 16:43] allenmunC1 commented on #19793
Unfortunately, we are using kops that automatically formats and deploys `cilium-operator` with the `--eni-tags` as a string.  So we cannot change this easily

[2022-05-12 22:13] rjes opened #19808 "Crashloop for Cilium v1.12-rc2 and Centos 8"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

Hi!
I'm trying to use v1.12-rc2 with CentOS 8 (in the steps below, ks is an alias for `kubectl -n kube-system `)
I had 1.11.4 before and upgraded to this version with
[code]
I used --reset-values to make sure my old values wasn't causing the trouble (played around with bgp in 1.11.4)

The opera

[2022-05-12 22:41] rjes commented on #19808
I increased memory of the nodes from 2GB to 4GB and still same fatal line

[2022-05-13 02:56] sayboras commented on #19793
you can still pass json string e.g. --eni-tags = '{ \k1\": \"v1\", \"k2\": \"\" }' with a proper escape.

[2022-05-13 08:10] ysksuzuki opened #19810 "Rolling restart pods causes brief outage with externalTrafficPolicy=Local"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

Some requests to Loadbalancer service with externalTrafficPolicy=Local failed due to `No route to host` during we updated its backend pods. The old pods remained in the terminating state for a while to handle the existing active connections and gracefully shut down. (We updated our Envoy pods.)

[2022-05-13 09:00] akostic-kostile commented on #19788
Problem is, I can't think of a good way to automate this completely. Previously I'd just do `terraform apply` and I'd get fully functional cluster with system + user nodes (these nodes had correct taints set by AKS API). After that it was a matter of running the install script or something like ArgoCD to install everything in the cluster, starting with Cilium.

Now we have this very awkward situat

[2022-05-13 09:50] brb commented on #19810
cc @ldelossa

[2022-05-13 10:46] rjes commented on #19808
Using the kernel-ml from elrepo fixes the issue and the pods are stable.
Current kernel is 5.17.7-1.el8.elrepo.x86_64

[2022-05-13 10:56] sayboras commented on #19808
:wave: can you try with one more flag securityContext.privileged=true as per below ?

[code]

[2022-05-13 12:00] brb commented on #19787
@aditighag Thanks for the detailed issue.

Was it easy to reproduce it? Asking, as I am running it w/o hitting the flake.

[2022-05-13 12:14] sayboras commented on #19808
Appreciate if you can just update daemonset as mentioned in PR https://github.com/cilium/cilium/pull/19812, and let me know if it's working.

[2022-05-13 14:12] chapsuk opened #19813 "Cluster mesh: wrong state of cilium-agent after clustermesh-apiserver restarted"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

Run two clusters in mesh by Helm, cilium connectivity multi cluster tests was passed.
When restart `clustermesh-apiserver` in one cluster, second cluster cilium-agents stop gets  updates of endpoints

[code]

### Cilium Version

Client: 1.11.4 9d25463 2022-04-15T08:33:55-07:00 go version go1.17

[2022-05-13 14:15] nbusseneau commented on #19787
@brb Use the CI VMs ([docs](https://docs.cilium.io/en/v1.11/contributing/development/dev_setup/#launch-ci-vms)):

[code]

At least I had no issue reproducing using these.

[2022-05-13 14:30] aditighag commented on #19787
Nope, I wasn't able to reproduce the issue locally either. The only difference I see in Nicolas' and mine workflow is that I didn't run `vagrant-local-start.sh` first. I ran the ginkgo command to run the focused tests directly. But I would expect that the command internally invokes `vagrant-local-start.sh` though?

[2022-05-13 17:14] joestringer opened #19816 "Cilium v1.12.0-rc2 complains on startup: "Unable to patch node resource with annotation""
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

I installed Cilium v1.9.x using the Helm charts into a kind environment by following the [Kind GSG](https://docs.cilium.io/en/v1.9/gettingstarted/kind/#gs-kind).

Afterwards, I upgraded to Cilium 1.12.0-rc2 by executing the following command:

[code]

Here is my `kind-values.yaml`:

[code]

The

[2022-05-13 17:16] joestringer commented on #19816
We should investigate here to see whether this can be avoided either with improvements to the Helm charts or upgrade guide docs, since I wasn't directly and closely following any upgrade guides. This could be user error on my part, but I want to make sure that we're not ignoring a real signal.

[2022-05-13 17:19] joestringer commented on #19808
I was also observing this on Ubuntu 20.04.4 LTS (focal) under kind, kernel `5.14.0-1034-oem`. Weirdly it only affected the kind control-plane node, but not the other node. After applying #19812 to the DaemonSet, Cilium no longer went into CrashLoopBackoff. Thanks @sayboras !

[2022-05-13 17:54] wkruse commented on #19192
After upgrading to Fedora CoreOS `35.20220424.3.0` with kernel **5.17.4**, we cannot reproduce it anymore. We still don't know the root cause, but at least the VIPs are working without stuttering anymore.

[2022-05-13 17:54] #19192 closed

[2022-05-13 18:02] joestringer commented on #13329
@nathanjsweet did you ever get a chance to look into this? If not, we can remove your assignee here.

[2022-05-13 18:59] bitva77 opened #19817 "Health port 9876 conflicts with Istio"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

Yeah, we're running in EKS.  Istio installed with `hostNetwork: true` due to us using a 3rd party CNI (currently Weave) and there's an admission controller or something that the K8s API needs to call back to Istio for and can't do so via CNI because the K8s API is managed, etc....

We're lookin

[2022-05-13 19:36] joestringer commented on #19766
One of the cilium-agent pods also reports this in the logs:

[code]

[2022-05-13 19:39] joestringer commented on #19766
Possible relation to a change in AKS behaviour, related issue: https://github.com/cilium/cilium/issues/19788

[2022-05-13 19:43] joestringer commented on #19806
Hi @musabmasood, thanks for reporting this issue. I have a few questions below that can help explore the cause:

Do I understand correctly that the problem is that traffic is flowing, then after some time, the traffic stops flowing?

Are you able to gather Hubble output for the affected connections when this problem occurs? Does Hubble report that Cilium is dropping the traffic, and if so, can you

[2022-05-13 19:47] joestringer commented on #19771
It seems like this may have just been an unlucky build where the download was corrupted somehow, as there are other similar jobs that have succeeded on the same step for the same CLI version. Maybe it's enough to just restart the job in this case?

ref. https://github.com/cilium/cilium/runs/6427605331?check_suite_focus=true from https://github.com/cilium/cilium/actions/workflows/conformance-aws-cn

[2022-05-13 19:52] joestringer commented on #19766
This looks like it started happening in scheduled runs on May 9th between 11am and 5pm Pacific time: https://github.com/cilium/cilium/actions/workflows/conformance-aks.yaml?query=event%3Aschedule

[2022-05-13 20:04] joestringer commented on #19817
Thanks for the heads up. We have Istio tests in the Cilium CI, and we've never hit this issue in the past, but these tests do not run on EKS by default. I don't know if they enable ControlZ.

The option for this health port is also configurable in Cilium via the `--agent-health-port` option (`healthPort` in Helm).

CC @tklauser I wonder if we can come up with a less predictable default health port

[2022-05-13 20:07] joestringer commented on #19709
Hi @shen-cloud , can you provide exact examples of CLI flags that you used and/or the content of this field in the ConfigMap?

Do you observe this when configuring the option as documented in https://docs.cilium.io/en/stable/configuration/vlan-802.1q/#vlan-802-1q ?

cc @kvaster

[2022-05-13 20:13] bitva77 commented on #19817
This would potentially be for any managed Kubernetes service as well, not just EKS.  But would need testing to verify.  I would imagine that other providers control plane wouldn't run on the overlay network either and so `hostNetwork` would be needed in those cases too and then port conflict on the node.

If Cilium's running in EKS with the aws-cni native mode (non-overlay) then this probably woul

[2022-05-13 23:38] abebars commented on #18868
Hey @recollir did you find a solution for this issue?

[2022-05-14 09:26] MikeLing commented on #19571
Done ;)

https://github.com/cilium/cilium/pull/19822

[2022-05-15 12:07] ysksuzuki opened #19827 "MasterKeyProtection never works with the CRD backend"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

Cilium never recreates master keys that are still in local use. It calls [crdBackend.UpdateKey](https://github.com/cilium/cilium/blob/dfa6b157e8e9484c65fd938b2b45a4f5f50c61f9/pkg/allocator/cache.go#L151) when a CiliumIdentity is removed, but UpdateKey does nothing because AcquireReference alway

[2022-05-15 18:13] elfadel opened #19829 "[Vagrant]: fatal: unsafe repository ('/home/vagrant/go/src/github.com/cilium/cilium' is owned by someone else)"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

For some git versions, using the provided Vagrantfiles to set up Cilium environment will lead to the below error:

`fatal: unsafe repository ('/home/vagrant/go/src/github.com/cilium/cilium' is owned by someone else)`

I use to fix it by adding, as recommended, the cmd `git config --global --add

[2022-05-16 05:13] sayboras commented on #19829
:wave: thanks for your issue.

There is development guide mentioning about .devvmrc file, which can be used to setup git config in VM. Majority of cilium developers might probably have git user details configured in this file, however, there is no harm to have additional `safe.directory` attribute as an alternative option.

https://docs.cilium.io/en/stable/contributing/development/dev_setup/

[2022-05-16 05:22] sayboras commented on #16792
Thanks a lot for your help, seems like all items were done. Closing this issue, feel free to highlight if there is anything else pending.

[2022-05-16 05:22] #16792 closed

[2022-05-16 06:52] recollir commented on #18868
We think we found one solution by doing a coalesce on the router and health endpoints. If it is the sole solution we don't know yet. But it is one problem we think we solved. We are preparing a PR probably after KubeCon. What are you seeing @abebars ? Have you wrote up your problem in an issue or in Slack?

[2022-05-16 07:42] wayt commented on #19701
I can +1 this too, our use case is also similar to the previous messages;

we have stateless clusters that runs applications code and separate stateful clusters. We want applications to be able to reach their stateful systems using cluster mesh mechanism, across clusters, without having to maintain each possible namespaces in the source.

The purpose of our design is to easily switch stateful / st

[2022-05-16 07:57] tklauser commented on #19817
Given the port is only exposed on localhost for liveness and readiness probes, I think we can change the default value to something else without breaking existing users. I'll send a PR to change the default value.

[2022-05-16 11:12] #19829 closed

[2022-05-16 17:08] #19793 closed

[2022-05-16 18:31] jmcshane commented on #19440
@joaoubaldo well, I guess two weeks. I'm going to close this issue now as it has been two weeks and we have not yet encountered this problem in a cluster with 1.11.4 installed.

[2022-05-16 18:31] #19440 closed, assigned to nobody

[2022-05-16 20:31] joestringer commented on #19816
I only noticed after upgrade to v1.12.0-rc2. I believe this was in the cilium-agent logs too, but I guess I'll have to try again and confirm.

May be worth double-checking with `quay.io/cilium/cilium-ci:v1.9` and `quay.io/cilium/operator-generic-ci:v1.9`? The images you listed above look like they are 2+ months old, so likely do not include all of the latest changes. I don't think we update the br

[2022-05-16 23:35] joestringer opened #19847 "Cilium 1.10.11 is unable to enable eBPF JIT"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

Cilium logs report:

[code]

### Cilium Version

1.10.11

### Kernel Version

Ubuntu 5.14.0-1034-oem

### Kubernetes Version

v1.21.1

### Sysdump

_No response_

### Relevant log output

_No response_

### Anything else?

_No response_

### Code of Conduct

- [X] I agree to follow this project

[2022-05-17 02:20] sayboras commented on #19816
My bad, I thought I added repo suffix `-ci` before. Testing again with recent release 1.9.16 looks good.

Then I have  upgraded to v1.12.0-rc2, every seems fine to me. Note that some warning logs related to iptables are not related to this issue.

Out of curiousity, do we support upgrade across major versions (e.g. 1.9 -> 1.11/1.12) ? Or the upgrade should be done incrementally (e.g. 1.9.x -> 1.10

[2022-05-17 05:07] sahid commented on #19771
Sure, or perhaps we could add some sort of retry process, don't you think?

[2022-05-17 05:26] maintainer-s-little-helper[bot] opened #19848 "CI: K8sDatapathConfig AutoDirectNodeRoutes Check connectivity with sockops and direct routing"
### Test Name
[code]

### Failure Output
[code]

### Stacktrace
<details><summary>Click to show.</summary>

[code]
</details>

### Standard Output
<details><summary>Click to show.</summary>

[code]
</details>

### Standard Error
<details><summary>Click to show.</summary>

[code]
</details>

ZIP Links:
<details><summary>Click to show.</summary>

 https://jenkins.cilium.io/job/Cilium-PR-K8s-1.21-ker

[2022-05-17 05:32] sahid opened #19849 "CI: Conformance AWS-CNI: connectivity test failed: timeout reached waiting for NodePort"
Noticed issues:

[code]

[code]

- https://github.com/cilium/cilium/runs/6459723244?check_suite_focus=true

[2022-05-17 05:36] sahid commented on #19849
- https://github.com/cilium/cilium/pull/19712

[2022-05-17 06:00] MikeLing commented on #18366
Hi @codablock, I just wondering why we separate `Update` with `UpdateStatus` before. Does the `Update` function update the CN's status at the same time?

[2022-05-17 10:48] akostic-kostile opened #19851 "Cilium blocking valid traffic if the port is named 'api' (AKS specific?)"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

I seem to have run into a weird case where valid traffic is being dropped, if the port is named 'api'.
**This was tested on AKS, on k8s version v1.22.6.**

I was able to reproduce the issue by using the following manifests.

API:

[code]

dashboard:

[code]

If we deploy these manifests we'll s

[2022-05-17 14:39] kaworu commented on #19676
The sysdump shows dropped flows from `cockroachdb-1` to `kube-dns`. From the [IP/CIDR based Policy documentation](https://docs.cilium.io/en/stable/policy/language/#ip-cidr-based):

So in addition to the `toCIDR` egress policy you need to allow `kube-dns`:
[code]

[2022-05-17 14:46] MikeLing commented on #15471
Hi @christarazi , could I work on this issue? Could give me some clues about where should I start? Thanks

[2022-05-17 15:43] MikeLing commented on #7522
This part of logic was gone after all, so I assume we don't need to worry about it right?

Hi @pchaigno , so this issue is just about to remove all `cilium_proxy4` and `cilium_proxy6` from the codebase right?

[2022-05-17 15:45] pchaigno commented on #7522
@MikeLing Did you check if `cilium_proxy{4,6}` was ever added to the map removal logic? If not, then we may have users who still have those maps on their system.

[2022-05-17 16:40] tommyp1ckles commented on #17468
@joestringer @pchaigno Taking a look at this for my first issue.

Lacking the full context on this so gonna take my best guess at it.

In my draft PR added commands for:
[code]

As well, for the filter/class/chain info, these need to be done per interface, so doing something like:

[code]
for every interface.

[2022-05-17 16:40] tommyp1ckles commented on #17468
@christarazi as well.

[2022-05-17 17:31] pchaigno commented on #7522
Ah, nice! Then yes, all that remains is :point_down: (which may even already be the case).

[2022-05-17 17:41] #19817 closed

[2022-05-17 18:50] #18895 closed

[2022-05-17 18:56] joestringer commented on #19771
Does this happen regularly? Feel free to submit a change to the workflows to add retries if you think that this is something we need to regularly mitigate.

[2022-05-17 18:57] joestringer commented on #19816
We only officially support the latter, there are some steps that will get missed if you upgrade directly from 1.9->1.11/1.12. As a developer I just like to live life on the edge :grin:

[2022-05-17 19:54] joestringer commented on #19816
I've just retried reproducing this, and like @sayboras I can't reproduce it any more. I'll close this out, feel free to comment or reopen if you see this again.

[2022-05-17 19:54] #19816 closed

[2022-05-17 23:23] christarazi commented on #19851
Could you provide a sysdump of when the Cilium is dropping packets due to having namedPort: api and a sysdump of where you "fix" the named port?

[2022-05-18 05:03] sahid commented on #19771
Yes, I was asking myself the same question and I have finally considered that this have made lost engineering time for at least two persons so perhaps having this retry would have made sense to avoid this happen again

[2022-05-18 06:41] christarazi commented on #19827
cc @timoreimann @aanm I believe this is the issue we are tracking from Cilium Slack.

[2022-05-18 09:28] chapsuk commented on #19813
I found that in my setup cilium-agent randomly connect to clustermesh-apiserver in same cluster, it happens on remote apiserver restart or restart cilium-agent.

Trying understand why it happens...

[2022-05-18 11:09] recollir commented on #19041
While looking at the connected issue #18868 we found an inconsistent route setup for the health and router endpoints. We reported this also in a slack thread and are (after Kubecon) interested in discussing a PoC fix that we think will solve parts of the issue.

[2022-05-18 11:40] dylandreimerink commented on #18480
I have been playing with the idea of running tests for datapath in eBPF and created a [draft](https://github.com/cilium/cilium/compare/master...dylandreimerink:feature/bpf-unit-tests?expand=1) of what that might look like. Not set on any aspect of it,

With this method we can make test `SUITE`s which can contain multiple `TEST`s, in reality the suite is just a single eBPF program and all of the te

[2022-05-18 12:21] MrYuanZhen opened #19863 "Unable to use hostPort in cilium plugin installed by helm"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

## Step
* Deploy Cilium with Rancher Catalogs and add the following answers

[code]
<img width="1019" alt="image" src="https://user-images.githubusercontent.com/37647017/169034638-3c98553b-0741-4c18-b13f-4232cc1374a2.png">

* save and deploy

## Expected
* Can be deployed normally and use the s

[2022-05-18 13:53] sayboras opened #19864 "docker: Runtime image build failed"
Docker build for runtime-image is currently failed in master branch, please find below details.

There is a slight different between expected and actual binary version/output/location.

[code]

[2022-05-18 16:33] nbusseneau opened #19870 "CI: K8sUpdates Tests upgrade and downgrade from a Cilium stable image to master"
### Test Name

[code]

### Failure Output

[code]

### Stack Trace

[code]

### Standard Output

[code]

### Standard Error

[code]

### Resources

- Jenkins URL: https://jenkins.cilium.io/view/Cilium-v1.11/job/cilium-v1.11-k8s-1.19-kernel-4.9/59/testReport/Suite-k8s-1/19/K8sUpdates_Tests_upgrade_and_downgrade_from_a_Cilium_stable_image_to_master/
- ZIP file(s): [7b6e257d_K8sUpdates_Tests_upgrade_

[2022-05-18 16:46] joestringer commented on #19870
@nathanjsweet could this be related to 21e6e6ade37fb6ac9d38dd885c3f236bdb869c26 ?

[2022-05-18 21:12] joestringer commented on #16597
@jtaleric reported that this is still present today.

[2022-05-19 06:50] ysksuzuki opened #19877 "CiliumEndpoint references a removed CiliumIdentity"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

We encountered an issue in which a CiliumEndpoint referenced a CiliumIdenity that was already removed by the cilium-operator GC. A corresponding pod couldn't communicate with other pods except those running on the same node because of it. The warning `Unable to release newly allocated identity

[2022-05-19 07:04] ysksuzuki commented on #19877
I think that Cilium should not give up releasing an allocated ID if the context is canceled but the informer cache is already synced.
https://github.com/cilium/cilium/blob/6f9fedd43cc369b27f5a5a4c8a0634fe7629fe01/pkg/allocator/allocator.go#L786

[2022-05-19 07:06] girikuncoro opened #19878 "Broken link on https://docs.cilium.io/en/v1.11/gettingstarted/clustermesh docs"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

I was following the cluster mesh tutorial in https://docs.cilium.io/en/v1.9/gettingstarted/clustermesh/ but it's no longer the newest page. Following the link below took me to the broken link
<img width="750" alt="image" src="https://user-images.githubusercontent.com/3192347/169231062-7a5643a6-

[2022-05-19 08:08] #19706 closed

[2022-05-19 08:29] ysksuzuki commented on #19827
Do you think Cilium should check if the CiliumIdentity is referenced from CiliumEndpoints before recreating the master key? I think Cilium should recreate it regardless of that if the removed identity that is still referenced from the localKey is missing. Otherwise there is a risk that CiliumEndpoints use an identity that does not exist.

The callers of UpdateKey intend to recover the case in whic