[2020-08-28 18:01] #12098 closed

[2020-08-28 18:10] pchaigno opened #13009 "CI: K8sServicesTest Checks service across nodes Tests NodePort (kube-proxy): Exitcode: 42"
https://jenkins.cilium.io/job/Cilium-PR-Ginkgo-Tests-K8s/3458/testReport/Suite-k8s-1/13/K8sServicesTest_Checks_service_across_nodes_Tests_NodePort__kube_proxy_/
[test_results_Cilium-PR-Ginkgo-Tests-K8s_3458_BDD-Test-k8s-1.13.zip](https://github.com/cilium/cilium/files/5143539/test_results_Cilium-PR-Ginkgo-Tests-K8s_3458_BDD-Test-k8s-1.13.zip)

CI dashboard has a lot of similar failures, but they a

[2020-08-28 18:12] joestringer commented on #13009
`BeforeAll` failures usually suggest that something failed to clean up after a previous test :thinking:

[2020-08-28 18:14] joestringer commented on #12934
@myugan I'm not aware of any plans to do so, most users are running Kubernetes. Given sufficient interest I think that it would be reasonable for someone to add such functionality and we would welcome such PR submissions.

[2020-08-28 18:16] #12934 closed

[2020-08-28 18:29] pchaigno commented on #13009
Yep, but that's not the case here. I just wanted to highlight that other failures of the same test found in the CI dashboard are actually caused by `BeforeAll` failures so likely a different root case.

[2020-08-28 20:25] pchaigno opened #13011 "CI: K8sServicesTest Checks service across nodes with L7 policy Tests NodePort with L7 Policy: Exitcode: 42"
https://jenkins.cilium.io/job/Cilium-PR-Ginkgo-Tests-K8s/3458/testReport/Suite-k8s-1/13/K8sServicesTest_Checks_service_across_nodes_with_L7_policy_Tests_NodePort_with_L7_Policy/
[612b41a5_K8sServicesTest_Checks_service_across_nodes_with_L7_policy_Tests_NodePort_with_L7_Policy.zip](https://github.com/cilium/cilium/files/5144042/612b41a5_K8sServicesTest_Checks_service_across_nodes_with_L7_policy_Tes

[2020-08-29 00:16] #12979 closed

[2020-08-29 07:34] #11983 closed

[2020-08-29 07:34] #12073 closed

[2020-08-29 07:34] #11428 closed

[2020-08-29 10:13] Mengkzhaoyun commented on #12988
the same bug , mark it

[2020-08-29 14:34] #12079 closed

[2020-08-29 19:34] #12107 closed

[2020-08-30 00:34] #11113 closed

[2020-08-30 12:10] brb commented on #12988
@Mengkzhaoyun What is your setup and configuration?

[2020-08-30 14:29] Mengkzhaoyun commented on #12988
I deploy the cilium-dev:v1.9.0-rc0 & kubernetes v1.18.8 with out kube-proxy mod (3master ha with kube-vip)
when i test the deploy on 3 ubuntu 20.04 hyper-v win10 vm , i found my kubernetes'dashboard pod can not access https://kube-apiserver:6443 , the error is (apiserver service endpoint) access time out.

I login to bash on dashboard pod , it can not curl access other host's apiserver , but bash

[2020-08-30 14:53] brb commented on #12988
@Mengkzhaoyun Thanks. Do you run cilium on the master nodes?

[2020-08-31 01:40] Mengkzhaoyun commented on #12988
there is 3 master nodes run cilium agent .

[2020-08-31 06:13] pchaigno commented on #12993
I'm going to disable the `K8sIstioTest` test as it's polluting PRs.

Focusing on that test, it looks like it fails only in K8s 1.19:
<img src="https://user-images.githubusercontent.com/1764210/91686768-7a540000-eb5e-11ea-9a81-90f1fa2e6a78.png" width="350"/>

Now, if we focus on passing `K8sIstioTest` tests, there are a few, but they all happened prior to the 27th of August. That seems to indicate

[2020-08-31 06:17] tgraf commented on #11395
This seems to no longer be an issue.

[2020-08-31 06:17] #11395 closed

[2020-08-31 06:27] tgraf commented on #9938
Cilium is now available natively on GKE:
https://cloud.google.com/blog/products/containers-kubernetes/bringing-ebpf-and-cilium-to-google-kubernetes-engine

[2020-08-31 06:27] #9938 closed

[2020-08-31 06:30] tgraf commented on #6519
This is now available via the new `cluster-pool` IPAM mode:
https://docs.cilium.io/en/v1.8/concepts/networking/ipam/cluster-pool/

[2020-08-31 06:30] #6519 closed

[2020-08-31 06:56] ArthurChiao opened #13015 "Pod traffic get interrupted when upgrading from 1.7.x to 1.8.x"
## Bug report

### Symptoms

Tested that when upgrading from `1.7.4` to `1.8.2`, Pod traffic will get interrupted for `1~10` seconds, or even longer.

Clarify that this does not relate to the NAT、CT configuration changes as specified in [1.8 upgrade guide](https://docs.cilium.io/en/v1.8/install/upgrade/#upgrade-notes).

### Affected version

According to the code (see blow), we assume that upgradi

[2020-08-31 07:24] pchaigno commented on #12279
Happened again at #13003.
[logs_22848.zip](https://github.com/cilium/cilium/files/5148923/logs_22848.zip)

[2020-08-31 07:27] fristonio commented on #12993
The changes introduced in #12887 were around cleaning up previous cilium components when reinstalling cilium. The tests that are failing in K8sIsitoTest seem to be after we have installed Cilium in the cluster and when trying to install cilium-istio, so possibly unrelated.
I see that there are no errors logged in failing istio tests and only some warnings related to the deprecation of used API gro

[2020-08-31 07:29] fristonio commented on #12993
@nebril have you seen this behavior anywhere in the tests before where we failed to trigger `AfterAll`/`AfterFailed` blocks when a test fails?

[2020-08-31 07:46] brb commented on #12347
Closing, the question was answered in the linked PR.

[2020-08-31 07:46] #12347 closed

[2020-08-31 08:02] brb commented on #13008
This might be a culprit:
[code]

[2020-08-31 08:17] EPinci commented on #12297
@ungureanuvladvictor Are there any updates on this?

[2020-08-31 08:43] olemarkus opened #13018 "Kubernetes 1.19 E2E failures due to unsupported service.kubernetes.io annotations"
## Bug report

Kubernetes e2e tests fails on a couple of new tests related to supporting `service.kubernetes.io` annotations:
[code]

**General Information**

- Cilium version: 1.8.0
- Kernel version: 5.4 (focal default)
- Orchestration system version in use: kops master

[2020-08-31 09:12] brb commented on #12988
@Mengkzhaoyun Can you please ping me (`martynas`) on the Cilium's public slack?

[2020-08-31 09:30] uablrek opened #13019 "Honor the service.kubernetes.io/service-proxy-name label"
## Proposal / RFE

Cilium should honor the `service.kubernetes.io/service-proxy-name` label when taking over the standard kube-proxy. This means; if the label is defined for a service Cilium **must not** setup loadbalancing for that service. Example;

[code]

#### Other info

* [PR](https://github.com/kubernetes/kubernetes/pull/71355)
* [KEP](https://github.com/kubernetes/enhancements/blob/master/

[2020-08-31 09:32] brb commented on #13019
Related k8s e2e test failure: https://github.com/cilium/cilium/issues/13018

[2020-08-31 09:41] sayboras opened #13020 "Backport smoketest in master to 1.8"
There are a few things related to smoke test got introduced after 1.8:
- IPv4 Multi-node cluster
- IPv6 only multi-node cluster

The above can be considered to be backported to 1.8 branch. This will help with recent changes for HA operator, which requires multi node cluster.

Related PR comment https://github.com/cilium/cilium/pull/13004#issuecomment-682606753

/cc @aanm @kAworu

[2020-08-31 10:56] uablrek commented on #13019
Ref; https://github.com/cloudnativelabs/kube-router/issues/979

[2020-08-31 12:04] nebril commented on #12993
There were intances of bugs like that in `gingko-ext`, which were fixed, but afaik there are still issues there (some of them can be found by running tests with `-race` flag as pointed out by @errordeveloper lately).

[2020-08-31 12:15] sayboras opened #13023 "Fatal error while following GSG for azure"
I am following this GSG for Azure https://docs.cilium.io/en/latest/gettingstarted/k8s-install-aks/, but then got the below fatal error.

[code]

This seems related to to PR https://github.com/cilium/cilium/pull/12683, `cilium-operator-azure` image will be used if global.azure.enabled is true.

Related slack discussion: https://cilium.slack.com/archives/C2B917YHE/p1598447006030600

[2020-08-31 15:24] fristonio commented on #12993
Yeah, the cascading of errors due to the improper cleanup of Cilium components in `K8sIstioTest` seems to be related to the issue with `ginkgo-ext`. I found out [this PR](https://github.com/cilium/cilium/pull/8508) by @ianvernon  where we had similar issues in the past specifically for the Istio test. Pushing the Istio deployment step to `It` does resolve this as mentioned in #8508 and with this c

[2020-08-31 15:42] gandro commented on #13026
Transferred from `ciilum/hubble`, as the Helm charts now live in this repository.

[2020-08-31 16:31] travisghansen commented on #12988
@brb I'm pretty sure this is related to issue I was last discussing with you guys as well where I had to revert to iptables.

[2020-08-31 17:06] tobiaskohlbau opened #13027 "kubeproxy-replacement detection assumes wrong defaults"
## Bug report

If run in `kube-proxy-replacement: probe` or `kube-proxy-replacement: disabled` mode in combination with `enable-ipsec` and selected `devices` it looks like `bpf_sock` is overriding `bpf_network` which results in the receiving node not beeing able to decrypt the ESP packets.

**General Information**

- Cilium version (run `cilium version`)

- Kernel version (run `uname -a`)

- Orche

[2020-08-31 17:40] pchaigno commented on #13027
I think we want to fatal if IPSec is enabled while the devices are set to prevent this from happening. This issue should only happen if a user sets the devices explicitly (e.g., because we failed to auto-detect) as we otherwise automatically disable our kube-proxy replacement when IPSec is enabled (with a warning in case of `=probe` and a fatal in case of `=strict`).

We should also disable the ba

[2020-08-31 18:22] pchaigno commented on #13015
Thanks for the report @ArthurChiao and @jaffcheng!

I think the issue is a bit more subtle than it appears. AFAIK, removing `cilium_policy` from the file system doesn't actually delete the map; the map will only be deleted once all references (including BPF programs) to it have been deleted.

However, in the time between the removal of that file and the reloading of all endpoints, the new `cilium_

[2020-09-01 00:04] joestringer commented on #13015
I believe this is true for all other map types, but `BPF_MAP_TYPE_PROG_ARRAY` has special rules here which I believe is in fact the behaviour that Arthur and Jaff report above: Once it is unpinned, it is cleaned up immediately.

In this case, it would be I think a matter of deferring the deletion of the old map until we are sure that all base programs & endpoint programs have been successfully rel

[2020-09-01 04:07] jaffcheng commented on #13015
Hi, about fixing this, what comes to our minds first is the same as @pchaigno

To prove our idea, we've made a quick try (introduces other problems but enough to prove the idea) that:

- keeps old call map `cilium_policy`
- makes the reload of per-endpoint tc-ebpf earlier than cilium-host/native-device tc-ebpf

The packet drops by `ping -i 0.01 $ep_ip` during cilium upgrade decreased from around 3

[2020-09-01 05:21] #12152 closed

[2020-09-01 06:37] borkmann commented on #13015
That is correct.

@jaffcheng @ArthurChiao have a chance to test fix in #13032 ?

[2020-09-01 06:41] qingkunl commented on #12968
I don't see cilium drop anything, and I can confirm the "need to frag" ICMP messages received by the host with `tcpdump -i eth0 icmp -nn`. However, I don't see the "need to frag" ICMP messages in the Pod with `tcpdump -i any icmp -nn`. Any idea to check where it's dropped?

[2020-09-01 07:07] jaffcheng commented on #13015
@borkmann Hi Daniel, thanks for the quick fix! Haven't tested this fix, I think this fix keeps the old pinned tail call map, not sure if I'm right, but AFAIK, once new tc ebpf (1.8.x) is reloaded on cilium-host/native-device, tail calls to endpoints would look for elem at the index `endpoint id` from the newly created `cilium_call_policy` tail call map, which is still empty at this point.
https://

[2020-09-01 08:22] gandro opened #13034 "Hubble server port (4244) should be configurable when used with Relay"
It is currently possible to use a port other than 4244 with `hubble-listen-address` for the Hubble server (exposed on each node in the host namespace), however Hubble Relay currently assumes that the port is 4244. Using a different port breaks Hubble Relay.

https://github.com/cilium/cilium/blob/d193b1f4d1ea51473fdef9d3562fb295a7116531/pkg/hubble/peer/types/peer.go#L80

This issue is about removin

[2020-09-01 08:24] kAworu commented on #13026
The gRPC port may be set through Helm (see `.Values.global.hubble.listenAddress`) and the namespace is the same as cilium (also configurable via Helm) so both point raised by this issue have been addressed.

[2020-09-01 08:24] #13026 closed

[2020-09-01 08:31] gandro commented on #13026
For future reference: To change the ports on the `hubble-relay` service, we also have the `hubble-relay.listenPort` and `hubble-relay.servicePort` Helm values.

[2020-09-01 09:42] pchaigno commented on #12994
It's not clear that a code change on our side introduced this bug. It started failing in the v1.8 and v1.7 branches on the 27th of August: https://datastudio.google.com/s/nXAOxbdZN_I. The one v1.8 backport PR on those dates (https://github.com/cilium/cilium/pull/12963 from https://github.com/cilium/cilium/issues?q=label%3Abackport%2F1.8+merged%3A2020-08-25..2020-08-27+is%3Aclosed+) doesn't appear

[2020-09-01 12:39] qmonnet commented on #12098
This is now fixed, but longer term some follow-up would be desirable. Please also refer to [this comment on the PR](https://github.com/cilium/cilium/pull/12770#issuecomment-682772737).

[2020-09-01 13:02] jaygorrell commented on #12824
I believe we are also hitting this issue, with some minor differences.

EKS v1.17.9-eks-4c6976
Kernel 5.4.58-27.104.amzn2.x86_64 (also tried 4.x)

We're getting similar dropped packets regularly that look like
[code]

Our connectivity test actually hits some failures though
[code]

The first way we actually noticed a problem (other than slow/failed requests) was the ELB healthy hosts monitor:
![im

[2020-09-01 13:51] bh90210 commented on #12956
hello @brb
I have the same problem.

I use `kubeadm init --config kubeadm-config.yaml`

here is my `kubeadm-config.yaml`
[code]

and following cillium's (quick installation)[https://docs.cilium.io/en/stable/gettingstarted/k8s-install-default/] I run
`kubectl create -f https://raw.githubusercontent.com/cilium/cilium/1.8.2/install/kubernetes/quick-install.yaml`

here's my logs

[code]

[code]

[2020-09-01 13:56] gandro commented on #12596
Also observed again in https://github.com/cilium/cilium/pull/13025#issuecomment-684869861

[2020-09-01 15:00] brb opened #13037 "Add --random-fully to SNAT iptables rules"
As described in \[1\], some of Cilium SNAT/MASQUERADE iptables rules could benefit from `--random-fully` (TL;DR two concurrent requests sent from two different netns to the same outside destination might race for the same tuple resulting in one request being dropped by netfilter).

Before adding the param to the rules, we shoud:

1) Check whether the 4.9 kernel (min required vsn by Cilium) support

[2020-09-01 15:28] brb commented on #12968
Did the ICMP packet had the dest IP addr == pod IP?

[2020-09-01 15:37] brb commented on #12956
@bh90210 Your `cilium-operator` is in the pending state. Check why it couldn't run. Fixing this should resolve your issue.

[2020-09-01 15:52] brb commented on #13027
@pchaigno SGTM!

[2020-09-01 18:40] jaygorrell commented on #12824
We spun up some test clusters to try to reproduce this with no luck. NodeLocalDNS seems to be okay -- one other possibility is kiam, since it does modify iptables. Do you use kiam, @deesee04?

Everything else in our cluster is pretty trivial.

[2020-09-01 19:05] qingkunl commented on #12968
The dest IP is the node IP, which makes sense because the Pod packet is SNAT'ed when going out of the node. There should be some way to track the connection and forward the packet to Pod, like other SNAT Pod traffics.

[2020-09-01 20:01] joestringer opened #13039 "v1.7.9 release"
## Pre-release

- [x] Create a [new project] for the next release version
  - [v1.7.9](https://github.com/cilium/cilium/projects/124)
  - [v1.7.10](https://github.com/cilium/cilium/projects/126)
- [x] Add build targets for the new release on [Docker Hub]
  - All versions:
    - [cilium](https://hub.docker.com/repository/docker/cilium/cilium/builds/edit)
    - [operator](https://hub.docker.com/repo

[2020-09-01 20:38] aanm opened #13040 "Node Local DNS does not work with kube-proxy replacement"
The NodeLocal DNS feature does not work with kube-proxy replacement mode. This is mostly due the fact that Cilium performs the service translation for all services (a.k.a ClusterIPs) and the node local DNS pod listens on both the kube-dns Cluster IP as well as the `node-local-address` in the host network. Thus, the node local DNS pod will never see packets destined to kube-dns Cluster IP because C

[2020-09-02 04:56] #13039 closed

[2020-09-02 06:23] pchaigno commented on #12511
Also hit at https://jenkins.cilium.io/job/Cilium-PR-K8s-1.12-net-next/349/testReport/junit/Suite-k8s-1/12/K8sServicesTest_Checks_service_across_nodes_Tests_NodePort_BPF_Tests_with_direct_routing_Tests_NodePort/
Dump:
[2ba31a1f_K8sServicesTest_Checks_service_across_nodes_Tests_NodePort_BPF_Tests_with_direct_routing_Tests_NodePort.zip](https://github.com/cilium/cilium/files/5160451/2ba31a1f_K8sServi

[2020-09-02 06:51] pchaigno commented on #12279
Happened again in #13045 but this time we have the `kubectl describe` logs. All pods that failed to come up ave the same timeouts on readiness and liveness probes:
[code]
[logs_23367.zip](https://github.com/cilium/cilium/files/5160549/logs_23367.zip)

We may have to bump some timeout to know if it's the DNS failing or some other packet drop.
Maybe we should also collect packet drops with Hubble?

[2020-09-02 06:59] #12994 closed

[2020-09-02 07:25] diversario commented on #11430
Seeing this currently happening to one Cilium 1.7.4 agent in k8s 1.16:

[code]

the pod and namespace in question were created and removed by Sonobuoy. It doesn't appear to be causing actual issues. Running `cilium endpoint disconnect 3912` resolved the complaints.

[2020-09-02 07:43] #12452 closed

[2020-09-02 09:17] uablrek opened #13047 "In v1.8.2 dual-stack mode external traffic to a IPv6 loadBalancerIP fails"
## Bug report

In a dual-stack private-cloud (no public cloud-provider) a service is defined as;

[code]
The service should be reachable from an external machine on address `[1000::]:5001` but there is no response (no syn-ack, nothing).

The service _is_ however reachable on the loadBalancerIP from a node inside the cluster;
[code]
(the endpoint replies with it's hostname)

The problem also exists

[2020-09-02 09:24] aanm commented on #13047
@uablrek can you also provide a sysdump?

[2020-09-02 09:50] uablrek commented on #13047
This was hard for me :smile: I use a _very_ limited system based on basic busybox but I could run this inside your cilium POD by `apt install` curl and python and copy `kubectl` to the POD with "kubectl cp ...". It worked (to my amazement).

[cilium-sysdump-20200902-094025.zip](https://github.com/cilium/cilium/files/5161435/cilium-sysdump-20200902-094025.zip)

[2020-09-02 09:58] mvisonneau commented on #13040
I am curious / happy to investigate this a bit more as I believe it works fine for me 🤔

[code]

Is there something obvious I am missing?

---
Cilium : 1.18.2
Kernel: 5.4.0-1021-aws
K8S: 1.17.7
NodeLocalDNS image: 1.15.13

[2020-09-02 10:00] mvisonneau commented on #13040
Ok, rereading the issue more carefully, I am not using the kube-dns ClusterIP service, hence the non-issue on my end. You can forget my former comment 😅

[2020-09-02 10:01] uablrek commented on #13047
Also relevant may be that I used Linux kernel 5.8.1 but I build it myself. I have missed some kernel config in the past but since it works in cilium 1.7.8 I think I have got it right this time. Here is my kernel config; [linux-5.8.1.txt](https://github.com/cilium/cilium/files/5161527/linux-5.8.1.txt)

[2020-09-02 10:06] uablrek commented on #13047
I can help with testing if you provide a modified cilium image downloadable with docker (or skopeo).

[2020-09-02 12:45] brb commented on #12988
@networkop @Mengkzhaoyun OK, so what happens in your case is that the wrong IPv4 addr is picked for SNAT, as the selected devices for NodePort have more than one IPv4 addr. Currently, cilium-agent can support only one per `bpf_host.o` instance, and it does not check which IP addr is used to communicate between k8s nodes (aka k8s Node IP). The fix would be to to prefer the k8s Node IP when selectin

[2020-09-02 12:54] networkop commented on #12988
I'm happy to pick it up @brb

[2020-09-02 12:58] brb commented on #12988
The fix might be simple: in the function https://github.com/cilium/cilium/blob/master/pkg/node/address.go#L128 you need to pass k8s Node IPv{4,6} addr to the invocations of `firstGlobalV{4,6}Addr(...)` as a second parameter.

[2020-09-02 14:25] brb commented on #12968
OK, I see. Unfortunately, such functionality is not implemented in Cilium, but we would happily consider a PR with such additions.

[2020-09-02 14:47] aanm opened #13048 "Allow multiple pod CIDRs to be set in the IPv4 SNAT exclusion"
Follow up of https://github.com/cilium/cilium/pull/12230#pullrequestreview-480682756

cc @soumynathan

[2020-09-02 15:00] jaygorrell commented on #12759
Once what is resolved, exactly? What was the issue with chaining mode configuration?

[2020-09-02 15:22] aditighag commented on #12511
Also hit on https://jenkins.cilium.io/job/Cilium-PR-K8s-1.12-net-next/352/testReport/junit/Suite-k8s-1/12/K8sServicesTest_Checks_service_across_nodes_Tests_NodePort_BPF_Tests_with_direct_routing_Tests_with_secondary_NodePort_device/

[2020-09-02 18:41] jaygorrell commented on #10462
I'm an EKS user with problems installing Cilium so dropping notes here after talking with @tgraf in Slack.

We're using the latest official AMI but it does run through a userdata script to set node labels, install nessus agent, and probably most relevant, runs `amazon-linux-extras install -y kernel-ng` followed by a reboot. This gets us to a 5.x kernel.

Installing Cilium results in intermittent c

[2020-09-02 19:57] brb commented on #10462
@jaygorrell Thanks. Can you paste the following from the node which reported the drops:

1) `ip -4 -o a`
2) `kubectl get nodes -o wide`

[2020-09-02 20:07] bh90210 commented on #12956
uh, initially I assumed the operator will start after whatever process was going on in the `cilium-rb8qk`.
But yes, obviously makes more sense that the operator has to be online first.

Turns out I could not get any logs since the pod was not running yet. I used the `kubectl describe pod`.
A google search later (I am sorry I have lost the `describe log`) my problem was solved by running `kubectl t

[2020-09-02 20:33] jaygorrell commented on #10462
Just flipped it back to `probe` and caught these pretty quick:
[code]

1. `ip -4 -o a`
[code]

2. `kubectl get nodes -o wide`
[code]

[2020-09-02 23:21] joestringer opened #13056 "CI: K8sBandwidthTest Checks Bandwidth Rate-Limiting Checks Pod to Pod bandwidth, vxlan tunneling: Rate mismatch"
Recently added test flaking out:

https://jenkins.cilium.io/job/Cilium-PR-K8s-1.12-net-next/359/testReport/Suite-k8s-1/12/K8sBandwidthTest_Checks_Bandwidth_Rate_Limiting_Checks_Pod_to_Pod_bandwidth__vxlan_tunneling/
[4b8d4b1b_K8sBandwidthTest_Checks_Bandwidth_Rate-Limiting_Checks_Pod_to_Pod_bandwidth,_vxlan_tunneling.zip](https://github.com/cilium/cilium/files/5165258/4b8d4b1b_K8sBandwidthTest_Che

[2020-09-03 00:19] joestringer opened #13057 "Cilium CI for docs is missing"
Running on latest `master` branch code:

[code]

It should not be possible to check in code that breaks the docs build.

[2020-09-03 06:18] pchaigno opened #13062 "CI: K8sBandwidthTest Checks Bandwidth Rate-Limiting Checks Pod to Pod bandwidth"
The following failure occurred a couple times, for both:
[code]

### Stacktrace
[code]

It may be a simple matter of increasing the range.

https://jenkins.cilium.io/job/Cilium-PR-K8s-1.12-net-next/360/testReport/junit/Suite-k8s-1/12/K8sBandwidthTest_Checks_Bandwidth_Rate_Limiting_Checks_Pod_to_Pod_bandwidth__direct_routing/
[391e10a3_K8sBandwidthTest_Checks_Bandwidth_Rate-Limiting_Checks_Pod_to_P

[2020-09-03 06:36] jlatusek opened #13063 "throughput test sockops-enable"
I'm trying to recreate throughput test results from article https://cilium.io/blog/2019/02/12/cilium-14/ with sockops-enable and without it. Unfortunately my results look kind of different. I've got better bandwidth with sockops disabled. I made bandwidth test on baremetal cluster with kubernetes version 1.18.1. and cilium version 1.8.0. Iperf3 was used as test tool with parameters:
[code]
test wa

[2020-09-03 07:04] tobiaskohlbau commented on #13027
I would like to work on this. Feel free to assign this issue to myself.

[2020-09-03 07:46] tobiaskohlbau opened #13064 "Traffic from inside the cluster to external LB not working if IPSec is enabled"
## Bug report

I've ran into issues with IPSec enabled and trying to reach a service inside the cluster via it's external LB IP. As far as I understand _kube-proxy_ inserts rules which rewrite the destination from external IP to internal pod IP to avoid hitting the loadbalancer as the traffic could flow within the cluster only. I've gathered that these rules are inserted and the traffic arrives at

[2020-09-03 08:58] brb commented on #10462
@jaygorrell Can you please provide a sysdump?

[2020-09-03 10:04] pchaigno commented on #13064
Could you try without `nodePort.directRoutingDevice: enp7s0`? It shouldn't be needed given that `kubeProxyReplacement` is disabled.

[2020-09-03 14:07] jaygorrell commented on #10462
During business hours I have to keep things in working order so I have put things back into a working state for now. That means I installed NodeLocalDNS again and set `kubeProxyReplacement: "disabled"`. [Here](https://upside-opsdata-public.s3-us-west-2.amazonaws.com/cilium-sysdump-20200903-093121.zip) is a dump in case it's useful in this state but if needed I can try to get one from the broken cl

[2020-09-03 14:09] Mengkzhaoyun commented on #12988
add CILIUM_IPV4_NODE env to cilium-agent can temp skip the bug.
[code]

[2020-09-03 14:28] travisghansen commented on #12988
@Mengkzhaoyun that makes my deployment crash as the `nodeName` is a hostname...aware of another property that pushes the IP definitively?

[code]

[2020-09-03 14:45] Rolinh opened #13068 "Hubble: define an upgrade strategy from v1.8 to v1.9 with regard to TLS"
Starting with Cilium v1.8, Hubble server is embedded into the Cilium agent but remains disabled by default. Cilium v1.8 also introduced Hubble Relay as beta software. Hubble Relay relies on individual Hubble server instances to expose flows of an entire cluster.

Users have the possibility to enable Hubble server to either listen on a local unix domain socket (`--enable-hubble`) or to have it list

[2020-09-03 15:22] travisghansen commented on #12988
Here's the better way I suppose:

[code]

Didn't help my scenario so I must be hitting a different bug altogether.

[2020-09-03 15:31] tobiaskohlbau commented on #13064
I've ran the same tests with the setting removed and the issue still exists.

[2020-09-03 17:02] pchaigno opened #13070 "No validation of agent flag values when using mounted ConfigMap"
If the [Cilium agent flags are passed via a mounted ConfigMap](https://github.com/cilium/cilium/blob/bd6600f0b4774270ab73d900ac9cd408d33c4f37/pkg/option/config.go#L2960-L2968) (`cilium-agent --config-dir=/tmp/cilium/config-map`), the default for Helm deployments, the flag values are not validated.

To reproduce you need to edit the ConfigMap and add a nonsense flag such as `restore: 0SO##ME5_RANDO

[2020-09-03 18:43] christarazi opened #13071 "CI: K8sPolicyTest Multi-node policy test with L7 policy using connectivity-check to check datapath: provided port is already allocated"
## CI failure

[code]

After investigating this, it turns out that there's a chance that Services that are created in the test suite could conflict with each other's `nodePort`. In some cases, we don't explicitly set the `nodePort` and leave it up to K8s to allocate a port between the range of `30000` and `32768`. In other cases, we do explicitly set the `nodePort`. In this test failure, we had a

[2020-09-03 19:45] brb commented on #12988
`CILIUM_IPV4_NODE` doesn't have anything to do with fixing the issue.

[2020-09-03 20:22] christarazi commented on #13071
Following the discussion on Slack (link above), @joestringer pointed out this could be a bug in Cilium where we fail to delete / clean up the Service, even though the delete may have succeeded from the K8s perspective.

Adding `needs-triage`.

[2020-09-03 20:42] Rolinh commented on #13068
This issue was discussed offline. The conclusion was that no matter which path is taken to attempt to resolve this, users upgrading from v1.8 to v1.9 will experience Hubble Relay service disruptions when enable mTLS. Considering that Hubble Relay is opt-in and was marked as beta feature in Cilium v1.8 and that we want to make sure mTLS is enabled by default, a temporary Hubble Relay service disrup

[2020-09-03 21:07] joestringer opened #13072 "Is it possible to run Cilium without Kubernetes?"
### Is it possible to run Cilium without Kubernetes?

Yes, there are examples for directly using Docker + Consul in the Documentation:

https://docs.cilium.io/en/stable/gettingstarted/docker/

This runs Cilium in a VM with Consul as the KVstore backend. Etcd can also be used for the backend.

Note that in Kubernetes mode, Kubernetes CRDs provide a convenient method for sharing state between all no

[2020-09-03 21:32] joestringer commented on #12904
Looks like https://github.com/cilium/cilium/issues/12794 is tracking items for re-enabling this on later releases.

[2020-09-03 21:54] joestringer commented on #9402
I briefly tried(*) to reproduce this today, but the most notable thing is that previously at least I had assumed that Minikube uses a VM backend to provide the environment for running Cilium inside. However as of recent versions of Minikube it appears that the default is to run minikube inside docker containers instead. In this case, the underlying configuration of the host can begin to interfere

[2020-09-03 22:01] joestringer commented on #13071
When I look at the original commandline output again, it seems to be `kubectl` reporting this failure, which means it should actually be that there are conflicting k8s objects installed when attempting to configure this new YAML. This suggests that it's actually just kubectl service cleanup from previous test that is not performed properly (ie test-code bug), rather than an agent bug.

[2020-09-04 00:02] sayboras commented on #12279
@pchaigno The above logs are very useful, I just sent PR to increase the timeout, and plan to dump hubble details as well.

Just curious if we can use bugtool into stdout. We got this feature merged in recently https://github.com/cilium/cilium/pull/12837.

[2020-09-04 02:35] joestringer commented on #13020
Do you mean that we hope that we can validate the HA operator behaviour on v1.8 with more certainty if we backport the smoketest, therefore we should do so?

Basically I'm wondering what the difference is between running such tests against master (where all code lands, including fixes that will be backported) vs. on the v1.8 branch (where the actual code for v1.8.x releases lives, so we know we're

[2020-09-04 03:01] jdef commented on #9402
Fwiw our centos boxes are not running with selinux, and we still, rarely,
see this.

On Thu, Sep 3, 2020, 5:54 PM Joe Stringer <notifications@github.com> wrote:

[2020-09-04 06:01] pchaigno commented on #12279
Yep, that could be useful :+1: We'll need to separate it from other outputs because there's quite a lot of text printed with bugtool.

[2020-09-04 07:00] aanm opened #13074 "Use ipFamilies in k8s 1.20"
Related with #12951

Will be introduced by https://github.com/kubernetes/kubernetes/pull/91824 in K8s 1.20 in December 8th

https://github.com/kubernetes/sig-release/tree/master/releases/release-1.20

[2020-09-04 07:15] #13023 closed

[2020-09-04 07:50] bmcustodio opened #13076 "Hubble fails to resolve identities across a cluster mesh."
## Bug report

After deploying Hubble (in distributed mode) on a mesh of three clusters (`kvstore: etcd`, `identity-allocation-mode: kvstore`), the Cilium agents are generating a huge amount of logs like the following one:

[code]

I tried to run `cilium get identity 185344` on the cluster where the log message originated and got a `404` error. Then I tried running the same on another cluster of t

[2020-09-04 07:51] Mengkzhaoyun opened #13077 "Traffic from pod to node , the stream service like exec will automatically close with no error."
## Bug report

**General Information**

- Cilium version : 1.8.90
- Kernel version : 5.8.5
- Orchestration system version in use : kubernetes v1.18.8
- Link to relevant artifacts (policies, deployments scripts, ...)
- Generate and cilium config :
[code]

**How to reproduce the issue**

1. Deploy Kubernetes with no kube-proxy
2. Deploy soft LB addon kube-vip
3. Deploy the kubernetes/dashboard(v2.0.

[2020-09-04 07:51] aanm commented on #13076
@bmcustodio can you also provide a sysdump?

[2020-09-04 07:54] aanm commented on #13077
@Mengkzhaoyun thanks for opening the issue.

can you provide:
- the service artifacts used on step 2;
- the application pod artifacts used for step 4;
- a cilium sysdump of the cluster.

[2020-09-04 07:56] bmcustodio commented on #13076
@aanm can I send it to you privately over Slack?

[2020-09-04 08:18] pchaigno commented on #12756
Hit again at #13069.
[log.txt](https://github.com/cilium/cilium/files/5173531/log.txt)

[2020-09-04 08:21] borkmann commented on #13064
cc @jrfastab

[2020-09-04 08:22] borkmann commented on #13062
@pchaigno Agree, I recently tightened the bounds slightly to check how far we would potentially deviate in the VM. Worst case we need to increase this window a bit.

[2020-09-04 08:23] borkmann commented on #13056
dup with #13062

[2020-09-04 08:32] Mengkzhaoyun commented on #13077
my env like #12988
3 master
192.168.1.200,192.168.1.201,192.168.202
vip 1 (kube-vip)
192.168.1.172

the kubernetes-ui config with kube-apiserver by env
KUBERNETES_SERVICE_HOST : 192.168.1.200
KUBERNETES_SERVICE_PORT : 6443
there is no need through kubernetes.default.svc , because the svc default LB mode is rr , rr is not support stream service with session.
so i set kubernetes-ui direct to connect

[2020-09-04 08:44] borkmann commented on #5718
Fixed in upstream Cilium and on track for 1.9. (https://docs.cilium.io/en/latest/gettingstarted/bandwidth-manager/ cc @mvisonneau)

[2020-09-04 08:44] #5718 closed

[2020-09-04 08:53] Mengkzhaoyun commented on #13077
the sysdump file.
[cilium-sysdump-20200904-165241.zip](https://github.com/cilium/cilium/files/5173699/cilium-sysdump-20200904-165241.zip)

[2020-09-04 08:59] #12857 closed

[2020-09-04 09:07] brb commented on #10236
@vladdy Hey, are you still working on this issue?

[2020-09-04 09:08] borkmann commented on #10067
Hello @brandshaide, just wondering was there any progress on this since July? Thanks

[2020-09-04 09:10] borkmann commented on #10943
Ok, sounds good. @venkatnsrinivasan I'll close it for now. Please reopen if you are able to repro again.

[2020-09-04 09:10] #10943 closed

[2020-09-04 09:32] brb opened #13079 "Check whether kubeadm HA cluster guide works with kube-proxy replacement"
https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/high-availability/

[2020-09-04 09:33] brb commented on #13079
#13077 might be related.

[2020-09-04 09:36] borkmann commented on #12740
@tklauser have a chance to help out on that? This would be awesome

[2020-09-04 09:42] kAworu opened #13080 "Hubble TLS advertised ServerName may mismatch their certificate"
Related to how the peer service handler infer Hubble TLS ServerName, see https://github.com/cilium/cilium/pull/12906#discussion_r483453877.

From https://kubernetes.io/docs/concepts/architecture/nodes:

My understanding is that we could encounter a dot (.) in the nodeName, e.g. `nodeName=mos.eisley` which will give `mos.eisley.tatooine.hubble-grpc.cilium.io` for which the generated certificate `*.

[2020-09-04 09:45] kAworu commented on #13080
Since the certificate is `*.tatooine.hubble-grpc.cilium.io` we can pick an arbitrary name. Note that having two peers with the same TLS ServerName should not be much of a problem. @Rolinh any preference between removing, replacing, or encoding the dots?

cc @gandro

[2020-09-04 09:46] aanm commented on #13080
@kAworu I assume the PR description should be for which the generated certificate `*eisley.tatooine.hubble-grpc.cilium.io` will not match.

[2020-09-04 09:49] lrouter opened #13081 "Network policy which allows endpoint ping local node do not work"
**General Information**

- Cilium version (1.8.2 67089eaef 2020-08-28T18:36:23+08:00 go version go1.14.6 linux/amd64)
- Kernel version (4.19.117 x86_64 GNU/Linux)
- Orchestration system version in use (Client Version: version.Info{Major:"1", Minor:"18", GitVersion:"v1.18.6")
- Link to relevant artifacts (policies, deployments scripts, ...)
- Generate and upload a system zip:
[cilium-sysdump-latest

[2020-09-04 09:50] kAworu commented on #13080
@aanm I am confused, are you suggesting that `*.eisley.tatooine.hubble-grpc.cilium.io` would not match `mos.eisley.tatooine.hubble-grpc.cilium.io`?

[2020-09-04 09:51] borkmann commented on #11420
potential dup with #10462

[2020-09-04 09:51] borkmann commented on #11420
context here: adding test to CI

[2020-09-04 09:55] borkmann commented on #11847
Closing for now, seems like hasn't been hit in a while. We can reopen if we think it's still current.

[2020-09-04 09:56] borkmann commented on #11985
Lets close for now.

[2020-09-04 09:56] #11985 closed

[2020-09-04 09:58] borkmann commented on #10847
Closing for now since hybrid is not default & we have other issues addressing implementation of tunneling for DSR.

[2020-09-04 09:58] #10847 closed

[2020-09-04 09:59] aanm commented on #13080
Discussed offline. It's likely that we have the same issue in clustermesh. where we generate certificates for `*.mesh.cilium.io`

[2020-09-04 10:01] #13056 closed

[2020-09-04 10:05] Mengkzhaoyun commented on #13077
oh , after i set kube-vip vip_arp mode=false the issue is solve ......
[code]

mybe the arp mode make bad effect cilium's pod --> host network.

[2020-09-04 10:06] borkmann commented on #9482
Closing for now due to inactivity and lack of reproduction / more debugging data. If this is still an issue, we'll reopen and reinvestigate.

[2020-09-04 10:08] #13077 closed

[2020-09-04 10:11] borkmann commented on #10541
We could also use SCTP for this

[2020-09-04 10:13] #9961 closed

[2020-09-04 10:13] aanm opened #13082 "v1.8.3 release"
## Pre-release

- [x] Create a [new project] for the next release version
- [x] Add build targets for the new release on [Docker Hub]
  - All versions:
    - [cilium](https://hub.docker.com/repository/docker/cilium/cilium/builds/edit)
    - [operator](https://hub.docker.com/repository/docker/cilium/operator/builds/edit)
    - [docker-plugin](https://hub.docker.com/repository/docker/cilium/docker-p

[2020-09-04 10:17] borkmann commented on #10324
Should be fixed via https://github.com/cilium/cilium/pull/12770 .

[2020-09-04 10:17] #10324 closed

[2020-09-04 10:44] fristonio opened #13083 "#12920 toGroups policy fix follow ups"
- [ ] Refactor `createDerivative{CNP,CCNP}` functions - https://github.com/cilium/cilium/pull/12920#discussion_r483008050
- [ ] Replace for loop logic with controller in `addDerivativeCNP` - https://github.com/cilium/cilium/pull/12920#discussion_r483008873
- [ ] Pass proper contexts from controllers to functions in `pkg/policy/groups` - https://github.com/cilium/cilium/pull/12920#discussion_r48207

[2020-09-04 10:46] borkmann commented on #12662
(needs kernel support for bonded devices for XDP)

[2020-09-04 10:55] chowmean opened #13084 "Typing mistake in doc Documentation/concepts/networking/ipam/azure.rst"
## Documentation Error:

If you check this Documentation/concepts/networking/ipam/azure.rst I can see `--aws-release-excess-ips=true`. Shouldn't this be `--azure-release-excess-ips=true`

[2020-09-04 11:18] Rolinh commented on #13080
No strong opinion but I think I'd favor replacing the dots. Ideally, it should be easy to do the revert operation which would be near impossible if the dots are removed.

[2020-09-04 11:21] chowmean commented on #13084
@fristonio Am I correct here I can give a small PR :)

[2020-09-04 11:49] fristonio commented on #13084
Hey @chowmean, thanks for opening an issue for this. Taking a quick look at the [operator code](https://github.com/cilium/cilium/blob/master/operator/provider_azure_flags.go), it looks like we don't have the same option for Azure. Azure IPAM is relatively new for Cilium and I think the documentation is not very mature. I believe that we need to remove these docs related to the releasing of excess

[2020-09-04 11:54] chowmean commented on #13084
Got it. Should I remove this part of the Documentation then?

[2020-09-04 12:06] fristonio commented on #13084
Yeah, I think we should remove those lines as they don't apply to Azure allocator.

[2020-09-04 12:39] vladdy commented on #10236
@brb, sorry for the luck of the updates. Yes, I'm. I'll send an update by monday.

[2020-09-04 13:01] kaworu opened #13087 "Hubble Relay: avoid TLS connection on non-TLS peers"
Should we throw a warning if `p.TLSEnabled=true` but hubble-relay was not configured with any certs for TLS for peers?

_Originally posted by @gandro in https://github.com/cilium/cilium/pull/12900#r482002588_

[2020-09-04 13:20] #13082 closed

[2020-09-04 13:41] Rolinh opened #13091 "Hubble: document how to use custom CA and TLS certificates"
PR #12906 and #12900 introduced mTLS support for Hubble server and Hubble Relay. This support comes with automatic TLS certificates creation via Helm and is enabled by default when deploying Cilium with Hubble and Hubble Relay.
This behavior can be disabled by setting `global.hubble.tls.auto.enabled` to `false`, in which case TLS certificates for Hubble server and Hubble Relay need to be provided

[2020-09-04 13:50] Rolinh opened #13092 "Hubble: add support for TLS certificates hot reloading"
PR #12906 and #12900 introduced mTLS support for Hubble server and Hubble Relay. This support comes with automatic TLS certificates creation via Helm and is enabled by default when deploying Cilium with Hubble and Hubble Relay.

One caveat of this approach is that TLS certificates are (re-)generated via Helm upon every `helm upgrade`/`helm install`.
Issues will arise when, for instance, the number

[2020-09-04 13:53] Rolinh opened #13093 "CI: enable mTLS for Hubble and Hubble Relay in CI tests"
PR #12906 and #12900 introduced mTLS support for Hubble server and Hubble Relay. The Hubble Relay CI tests should be updated to default to an mTLS connection between Hubble server instances and Hubble Relay.

[2020-09-04 14:06] matoszz commented on #10645
Can confirm this issue is still happening on Cilium 1.8.2 and using the latest 2605 flatcar release channel

[2020-09-04 14:07] Rolinh commented on #13068
PR #12900 adds this note to the upgrade guide notes for 1.9:

  via mutual TLS (mTLS) by default. Users who have opted to enable Hubble Relay
  in v1.8 (a beta feature) will experience disruptions of the Hubble Relay
  service during the upgrade process.
  Users may opt to disable mTLS by using the following Helm options when
  upgrading (strongly discouraged):

Which should be enough according to

[2020-09-04 14:14] kAworu opened #13094 "Hubble Relay TLS flags naming"
Multiple TLS related flags for Relay are introduced by https://github.com/cilium/cilium/pull/12900. Some are related to (1) the connection from Relay to Hubble servers, and other are related to (2) the connection from various clients (e.g. Hubble UI) to Relay itself.

1. Relay itself can connect to Hubble servers with mTLS, TLS, or without TLS. The related flags are:
[code]

Relay can be configure

[2020-09-04 14:19] aanm commented on #13094
The `tls-hubble-client-ca-files` is missing. Also it would be preferable that `hubble` would be a prefix for all of these flags.

[2020-09-04 14:49] Rolinh commented on #13094
I think you're referring to `hubble-tls-client-ca-files` as mentioned [here](https://github.com/cilium/cilium/pull/12906#discussion_r482057737) but this was addressed in the PR itself. Or did I miss something?

All Hubble related flags for the cilium-agent (aka daemon) are all prefixed with `hubble-`. However, Hubble Relay is a different binary/container that does not make use of the cilium config

[2020-09-04 14:57] brb commented on #10462
Yes, please w/o node-local DNS.

[2020-09-04 14:59] #1378 closed

[2020-09-04 14:59] aanm commented on #13094
@Rolinh 100% agreed.

[2020-09-04 15:04] borkmann commented on #10517
Closing as this has been fixed with 1.8 and we haven't seen this in a while.

[2020-09-04 15:04] #10517 closed

[2020-09-04 15:11] borkmann commented on #10462
(potentially also related: #10645)

[2020-09-04 15:52] alex1989hu opened #13096 "Endpoints unreachable k8s 1.19.0"
## Bug report

We wanted to upgrade our Kubernetes cluster from `v1.18.8` to `v1.19.0`. Updated the following order: API Server -> Controller Manager -> Scheduler. The last one is the `kubelet`. After updated the `kubelet` to `v1.19.0` on a worker node *(prod-k8s-worker-8da7da49)*, than readinessProbe fails, or the Pod can not reach `world`.

Downgrade worker nodes brings back a healthy state. Onl

[2020-09-04 15:57] jaygorrell commented on #10462
@brb [here you go](https://upside-opsdata-public.s3-us-west-2.amazonaws.com/cilium-sysdump-20200904-114723.zip)

To get this I uninstalled NodeLocalDNS, removed the nodelocaldns kubelet arg, and replaced each host. At first I didn't have problems but had forgotten to flip `kube-proxy-replacement` to `probe` so did that and restarted cilium pods. Started getting the usual sporadic connectivity issu

[2020-09-04 16:18] brb commented on #12988
As per discussion offline - it's not related.

[2020-09-04 17:05] christarazi commented on #13071
Ah, thanks for catching that. It slipped my mind that we were seeing the failure from `kubectl`. So then this reinstates that the solution lies between the two approaches originally listed. @aanm also pointed out that we can't choose a NodePort outside the NodePort range, leaving us with only approach (1) from above.

Removing `needs/triage`.

[2020-09-04 20:07] #13068 closed

[2020-09-04 20:08] Rolinh commented on #11224
Implemented in #12906 and #12900.

[2020-09-04 20:08] #11224 closed

[2020-09-04 20:09] #11361 closed

[2020-09-04 22:34] christarazi commented on #12980
Superseded by https://github.com/cilium/cilium/issues/13082

[2020-09-04 22:34] #12980 closed

[2020-09-05 03:57] #11453 closed

[2020-09-05 05:42] Antiarchitect commented on #12645
Is there any progress or I need to provide additional info? Actually I have my masters with one public interface and workers with two. Neither works.

[2020-09-05 06:53] sayboras commented on #12279
This is good point, so I decided to make it as downloadable artifact (e.g. bugtool.tar) in github action

[2020-09-05 20:19] #12233 closed

[2020-09-06 08:41] mmack commented on #10645
I've hit the same problem Ubuntu 20.04.

For future googlers on hetzner systems: Check /etc/sysctl.d/99-hetzner.conf, they set net.ipv4.conf.all.rp_filter=1 there.

[2020-09-06 13:56] mmack commented on #10402
same here

[2020-09-06 16:10] ungureanuvladvictor commented on #12297
@EPinci I just rebased https://github.com/cilium/cilium/pull/12592. Will try to get it merged in the next week. That should allow you specifying a UMI to the operator as a command line flag when it starts.

[2020-09-07 07:33] brandshaide commented on #10067
Hi, @borkmann I've already put something togehter, but due to day-job and some personal stuff I won't be able to get this finished anytime soon. Very sorry for that 😞 ! You might want to unassign me from this, so it's not kinda blocked anymore. sorry again!

[2020-09-07 07:55] pchaigno commented on #13015
- #13051 should fix the drops due to missed tail calls on upgrades from v1.7 to v1.8. We will backport it to v1.8.
- #13032 will fix another bug causing missed tail calls for a much shorter period of time. We will backport it to at least v1.8.
- #13052 will fix the equivalent bug on downgrades from v1.8 to v1.7. It will be applied on v1.7 only.
- #13097 extends an existing test to detect such issu

[2020-09-07 08:25] bpineau commented on #12297
@ungureanuvladvictor sorry I missed the notification. I don't use AKS (but rather self managed k8s), and grant Cilium operator Contributor rights on a dedicated per cluster network resource group. Agents have https://kubernetes-sigs.github.io/cloud-provider-azure/topics/azure-permissions/ already + `Microsoft.Network/virtualNetworks/subnets/join/action`.

[2020-09-07 08:41] networkop commented on #12988
Here's a brief summary of the issues I was hitting:

1. The main issue was caused by the fact that one of the k8s nodes had multiple outgoing interfaces. Specifically, the interface that was used to communicate with the affected nodes was wireguard, which doesn't have a L2 (MAC) address and is currently not supported until #12317 gets resolved.

2. The secondary issue was that cilium agent is pick

[2020-09-07 09:10] aanm commented on #13096
@alex1989hu can you provide the kubelet logs of the node that is failing? Thanks

[2020-09-07 09:16] gandro commented on #12645
We have not been able to reproduce this particular bug so far. It's not clear to me yet why you don't seem to have pod-to-node connectivity.

Can you reach `xx.xx.xx.55:4244` from other (non-hostns) pods than hubble-relay? For example, if you deploy the [connectivity check](https://docs.cilium.io/en/v1.8/gettingstarted/k8s-install-connectivity-test/), can open a TCP connection from the `echo-a` po

[2020-09-07 09:20] #12974 closed

[2020-09-07 09:38] #12445 closed

[2020-09-07 09:41] alex1989hu commented on #13096
The updated node has been removed from the cluster to see what is happening with a freshly created worker. Recreated the worker node which brings the default `kubelet` v1.19.0. It tried to join but it failed *(and then the node is rebooted, it is Talos behaviour, ignore it).*

Tried 2x times:
- [add-new-worker-try-1.txt](https://github.com/cilium/cilium/files/5182344/add-new-worker-try-1.txt)
- [a

[2020-09-07 09:53] pchaigno commented on #13062
Happened again at https://jenkins.cilium.io/job/Cilium-PR-K8s-1.12-net-next/395/.

It's [happening quite a lot in master](https://datastudio.google.com/s/gvnEQNFeD-A) too:
![image](https://user-images.githubusercontent.com/1764210/92373904-4bf69780-f0ff-11ea-80b7-65636fd244cc.png)
I sampled a few numbers from the failing tests (should be in range [20; 30]):
[code]
Based on these, I'll send a PR to

[2020-09-07 10:13] aanm opened #13104 "Warning while installing hubble-relay"
[code]

[2020-09-07 10:33] kAworu commented on #13020
I am neutral about this am not familiar with the smoke tests. The only reason I've been ignoring smoke test related diff from #13004 was because the goal was backporting https://github.com/cilium/cilium/pull/12948 (which is unrelated to smoke tests).

[2020-09-07 10:45] aanm commented on #13096
@alex1989hu it would be helpful to have steps to replicate the issue as currently the GH issue does not provide any. I've set up a minikube cluster with Cilium 1.8 and I didn't see any issues in the cluster.

[2020-09-07 11:14] aanm commented on #13096
The only suspicious logs I can see in kubelet are:
[code]

[2020-09-07 11:26] chowmean commented on #12818
Hi @joestringer, Do you mean to use something like this?
[code]

[2020-09-07 15:18] IgorSor commented on #12956
Hello @brb, we have the same problem in a different case.
We are living in eks, using helm and trying to migrate from release 1.7.3 to 1.8.2 and it seems like everything fine until we need to recreate a node in aws.
And after that we have a cilium agent with the same error:
`level=warning msg="Waiting for k8s node information" error="required IPv4 pod CIDR not present in node resource" subsys=k8s`

[2020-09-07 15:49] Jianlin-lv opened #13109 "BPF load fail: invalid bpf_context access"
**General Information**

- Cilium version :  the latest master branch
- Kernel version
uname -a
Linux net-arm-thunderx2-04 4.20.16-042016-generic #201903132232 SMP Wed Mar 13 23:09:29 UTC 2019 aarch64 aarch64 aarch64 GNU/Linux
- Orchestration system version in use
kubectl version
Client Version: version.Info{Major:"1", Minor:"15", GitVersion:"v1.15.2",

- Link to relevant artifacts (policies, depl

[2020-09-07 16:03] tklauser commented on #12740
Sure, I can give a hand. I assume it's best to work on this when we're doing the GSG review before the 1.9 release?

[2020-09-07 16:10] #12918 closed

[2020-09-07 17:25] mvisonneau commented on #10645
I am not sure if related but after attempting a 1.8.2 -> 1.8.3 upgrade on Ubuntu 20.04 / 5.4.0-1021-aws, agent pods end up crashing with the following logs. Rolling back to 1.8.2, pods are healthy and do not contain those errors. 🤷

[code]

[2020-09-08 01:58] ArthurChiao commented on #13015
Hi @pchaigno, according to our discussion yesterday, we have tested #13051 and confirmed that **it is able to eliminate the traffic disruption problem** as described in the beginning of this issue.

Thanks a lot for your efforts! @pchaigno @borkmann

[2020-09-08 04:59] Jianlin-lv commented on #13109
[quick-install-9-7.yaml.log](https://github.com/cilium/cilium/files/5186107/quick-install-9-7.yaml.log)

Attach quick install  yaml file

[2020-09-08 06:09] pchaigno commented on #13109
The `ctx->queue_mapping` field is only writable from BPF since commit 74e31ca ("bpf: add skb->queue_mapping write access from tc clsact") which was released as part of Linux 5.1:
[code]
We already have a check that the kernel supports `bpf_sk_release()` which was released as part of Linux 5.0. We could maybe simply require Linux 5.1 instead. @borkmann What do you think?

[2020-09-08 06:16] pchaigno commented on #13081
This behavior is expected. To match the host, you need to use the `host` entity with `toEntity`: https://docs.cilium.io/en/latest/policy/language/#entities-based.

This limitation is documented in the CIDR-based policy section: https://docs.cilium.io/en/latest/policy/language/#ip-cidr-based:

[2020-09-08 07:02] borkmann commented on #13109
Ah yes, that makes sense. I can send a fix. Thx!

[2020-09-08 13:38] ghouscht opened #13115 "helm: inconsistency in hubble-relay chart"
## Bug report

There is a little inconsistency in [charts/hubble-relay/templates/deployment.yaml](https://github.com/cilium/cilium/blob/master/install/kubernetes/cilium/charts/hubble-relay/templates/deployment.yaml#L32-L36)

Inside the if block the tag of the image is missing, if it is not set directly via `hubble-relay.image.repository` - see example below:
[code]

This is a bit misleading and no

[2020-09-08 14:45] #13018 closed

[2020-09-08 14:45] #13019 closed

[2020-09-08 15:11] #12844 closed

[2020-09-08 17:24] joestringer commented on #10645
@mvisonneau That looks to me like that is a separate regression in v1.8.3 specific to Ubuntu in EKS environments, would you mind opening a new issue for this?

[2020-09-08 17:26] joestringer commented on #10645
@mvisonneau Is there an `eth0` interface on those nodes? If not, then I think this is a separate bug (regression) in v1.8.2 on Ubuntu in EKS environments. If there is an `eth0` then it may still be this issue.

[2020-09-08 18:22] #13109 closed

[2020-09-08 19:02] joestringer commented on #12818
@chowmean yeah, just like that.

[2020-09-08 19:13] chowmean commented on #12818
@joestringer I am on it.

[2020-09-08 20:19] pchaigno opened #13121 "Enforce host policies when using per-endpoint routes"
The host firewall currently doesn't work with per-endpoint routes (`global.endpointRoutes` & `--enable-endpoint-routes`) because host policies are only enforced in the `bpf_host` program attached to `cilium_host/cilium_net` (for hostns<->local pods) and native devices (for hostns<->remote pods/remote nodes/world). When per-endpoint routes are enabled, the first two devices do not exist. Allowing t

[2020-09-09 00:45] joestringer opened #13122 "ARM64 cross-build cilium binaries report platform as AMD64"
1. Deploy `cilium/cilium-dev:v1.9.0-rc0@sha256:1ac616fc6457a546ca453bde37a013ede855c0d427e6522a063e13c739304b33`
1. Check the `cilium-agent` logs
1. Observe that the version reports platform as `amd64`

[code]

Looking more closely at the ELF shows it to be actually built for ARM64, and running the AMD64 build causes the error message ` exec user process caused "exec format error"` so this is clea

[2020-09-09 05:30] pchaigno commented on #12279
Crossposting cilium-sysdump from #13090 here as well.
[cilium-sysdump-failed.zip](https://github.com/cilium/cilium/files/5192777/cilium-sysdump-failed.zip)

[2020-09-09 05:31] enkov opened #13123 "UDP hostPort packets go to wrong ip after udp server restarted"
## Bug report

Hello!
I installed cilium in kube-proxy free mode.
Deployed jaeger as a daemon set with enabled HostPort for UDP traffic.
In my app I get host ip from `status.hostIP`.
App works as expect and sends traces to jaeger until I restart jaeger pod.
After it I see in `cilium monitor --type drop` that my app tries to send traces to old jaeger pod ip.
[code]
In this log `10.0.3.212` is old i

[2020-09-09 09:36] #13104 closed

[2020-09-09 10:48] enkov commented on #13123
This issue is simular to https://github.com/containernetworking/plugins/issues/123 I think. The main difference is that even `conntrack -D -p udp --dport 6832` doesn't help.

[2020-09-09 12:21] tklauser commented on #13122
I assume this is because we cross-build the ARM64 binaries on AMD64 and set `version.Version` to the output of `$(GO) version` (as run on the host system) via linker flags:

https://github.com/cilium/cilium/blob/4b1256b8af7ef5c3201253a652cccb83b54e7002/Makefile.defs#L72-L73

[2020-09-09 13:15] pchaigno commented on #13015
Closing this issue as both the 1.8 and the 1.7 fixes have been merged and backported. They will likely make it into Cilium 1.7.10 and 1.8.4.

Thanks for the help debugging and testing the fixes @ArthurChiao!

[2020-09-09 13:15] #13015 closed

[2020-09-09 13:58] #12818 closed

[2020-09-09 16:03] joestringer opened #13129 "Batch iterator for bpf.Map"
Newer kernels (v5.6 or newer) provide batched lookup/delete APIs for maps. We should take advantage of these in cases like the conntrack map garbage collection to reduce the number of system calls / CPU consumed to perform GC.

[2020-09-09 16:09] aditighag opened #13130 "rp_filter (default) strict mode breaks certain load balancing cases in kube-proxy-free mode"
In a multi-node environment, an external incoming request (N-S) that's destined to a nodeport service IP, when arrives on a node that's running one of the service backends, is dropped by the `rp_filter strict mode`.

When a request arrives on the node where a backend is running, the destination address is translated to one of the locally running backend pods, which is then dropped by `rp_filter st

[2020-09-09 16:37] mestery commented on #1797
Hi @jrfastab, is this fixed upstream yet? I cannot find any issues here. What I notice when trying to use sockmap to offload sockets in my custom SNI proxy is exactly the behavior which is noted here and also in this one [1] by @SPYFF.

[1] https://github.com/Ysurac/openmptcprouter/issues/285

[2020-09-09 16:43] jrfastab commented on #1797
I have this and a couple other improvements on my stack at the moment. The idea is to land them for kernel releases 5.10/5.11. The other major improvement is to drop the worker thread which will currently cause some latency spikes if its not scheduled quickly. The "fix" here is to do a run-to-completion model so we keep latency down.

[2020-09-09 16:48] mestery commented on #1797
Excellent, I really appreciate the quick response! If you have anything available for testing, let me know, I'd love to try these out and see if they improve my situation using sockmap offload for my proxy! :)

[2020-09-09 16:55] christarazi opened #13132 "Expose cilium-operator metrics"
We can view metrics from the Cilium CLI via `cilium metrics list`, however the same doesn't exist for cilium-operator. Internally, the metrics are being tracked; just not exposed.

[2020-09-09 17:54] aditighag opened #13133 "Doc: Review document note for using namespace as a label in Policy"
This came up in the discussion around specifying namespace via the label `k8s:io.kubernetes.pod.namespace` while creating a policy [1].

`While specification of the namespace via the label k8s:io.kubernetes.pod.namespace in the fromEndpoints and toEndpoints fields is deliberately supported. Specification of the namespace in the endpointSelector is prohibited as it would violate the namespace isola

[2020-09-09 18:03] pchaigno commented on #13133
But if you use `k8s:io.kubernetes.pod.namespace` in the `endpointSelector` of a CCNP, isn't that the same as using a CNP?

[2020-09-09 18:06] aditighag commented on #13133
The namespace related note isn't applicable to CCNP.

[2020-09-09 21:27] mestery commented on #1797
@jrfastab apologies, but I wasn't clear where else to ask, so asking here. Is there a git tree somewhere with the patches to address this by chance? Can you point me at it if so please? I would love to try them out! Thank you for the help!

[2020-09-09 23:24] ungureanuvladvictor commented on #12297
@bpineau no prob, I was able to update the Cilium docs with what I needed.

@EPinci the user managed identity work merged into the master branch of Cilium, give it a try when you get a chance.

I'll close this issue in a weeks time if no movement on it until then.

[2020-09-10 03:22] #12260 closed

[2020-09-10 05:02] aditighag opened #13136 "Review duplicate processing in pod watcher callbacks that can cause increased resources utilization"
I observed that when a pod is deleted, cilium Kubernetes pod watcher triggers `updateK8sPodV1` [1], which in turn calls add `addK8sPodV1`[2].

Both these functions do parsing of various pod related data. For example, `updateK8sPodV1` compares annotations and labels for the received old and new pod objects, while `addK8sPodV1` upserts host to port mappings in the service maps, upserts an IP entry i

[2020-09-10 06:08] chowmean commented on #12958
Hi @joestringer, I would like to take this up. Can you please point me to the code section?

[2020-09-10 06:14] pchaigno commented on #13133
@aditighag I understand that `k8s:io.kubernetes.pod.namespace` wouldn't be prohibited in CCNPs. I'm asking whether they make sense and whether we want to call that out (i.e., recommend using CNPs instead of CCNPs with `k8s:io.kubernetes.pod.namespace`).

[2020-09-10 06:24] alex1989hu commented on #13096
I am constantly try to reproduce the issue in a new cluster. I was able to do in 1x time only which setup is: 3 master - 1 worker node. I am still looking for what is the recipe to make it 100% reproducible.

Also upgraded Kubernetes from `v1.19.0` to `v1.19.1` - same faulty behaviour.

Anyway, the faulty worker node logs many times this *(replaced IP by ([redacted-external-IP]))*:

Could you clar

[2020-09-10 06:26] joestringer commented on #12958
Awesome, @chowmean ! Here's the relevant code (found via `git grep shared-service`):

https://github.com/cilium/cilium/blob/cf5f475eab64680045bdce05da4274fcbe077c7e/pkg/annotation/k8s.go#L56-L61

[2020-09-10 07:02] borkmann opened #13138 "follow-up todos for maglev"
**RELEASE BLOCKERS**

@brb
- [x] Add benchmarking test for `maglev.GetLookupTable()` and optimize the function.
- [x] Simplify `maglev.GetLookupTable()` as per https://github.com/cilium/cilium/pull/13131#discussion_r486194807.
- [x] Preallocate UpsertService buffer (https://github.com/cilium/cilium/pull/13131#discussion_r495756883).
- [x] perf & implementation quality of hash for agent
  - compare

[2020-09-10 15:06] uablrek commented on #13047
#### Update

In v1.7.8 ipv6 from an external source to a loadBalancerIP (or NodePort) does not work _if proxy-mode=iptables_.

Sounds weird? It becomes weirder; Access only fails if the handling POD is on the same node as the incoming packets.

It works without problem for proxy-mode=ipvs or if kube_proxy is not started at all. These are my "normal" test setups so I did not notice the problem with

[2020-09-10 16:37] joestringer commented on #10645
@mvisonneau OK great, would you mind filing a separate bug for that to help track fixing the regression? The output from your last couple of comments on this thread would be a great start for such a bug.

[2020-09-10 16:45] mvisonneau opened #13143 "Breaking error around "open /proc/sys/net/ipv4/conf/eth0/rp_filter: no such file or directory" in 1.8.3"
Originally discussed in https://github.com/cilium/cilium/issues/10645#issuecomment-688446819, @joestringer advised to open a separate issue for this behaviour/bug which seems to be a regression.

## Bug report

After attempting a `1.8.2` -> `1.8.3` upgrade on **Ubuntu 20.04 / 5.4.0-1021-aws**, agent pods end up crashing with the following logs. Rolling back to 1.8.2, pods are healthy and do not co

[2020-09-10 16:47] joestringer commented on #13143
Looks related to https://github.com/cilium/cilium/pull/12770, which I think was tested in standard EKS with Amazon Linux 2, which provides the eth0 interface by default.

[2020-09-10 16:50] joestringer commented on #13143
Looks like it affects v1.7.8, v1.7.9 as well.

[2020-09-10 16:51] joestringer commented on #13143
Also relevant, interface listing from @mvisonneau on the other issue:
[code]

[2020-09-10 17:03] ungureanuvladvictor commented on #13143
I hit this as well with the upstream kernel and had to add the following to the GRUB cmdline `net.ifnames=0 biosdevname=0` to fallback to old device names.

[2020-09-10 17:16] joestringer opened #13144 "Add FQDN policy troubleshooting guide"
At a glance, I don't see good documentation for debugging this case here:

https://docs.cilium.io/en/v1.8/troubleshooting/

One of the common cases for FQDN policy is where the `ToPorts` section of the policy doesn't include the L7 DNS rules:

https://docs.cilium.io/en/v1.8/policy/language/#example

It would be great to have a guide that takes from app behaviour (connect times out) through `cilium

[2020-09-10 17:16] joestringer commented on #13144
Example app behaviour:
[code]
Then it just times out after some time.

[2020-09-10 17:23] joestringer commented on #13143
From Slack discussion, it looks like the logic for this piece is relying on `eth0` directly, but we could likely make it a bit more intelligent to detect the device with the default route to apply the logic to that device instead (via `NodeDeviceWithDefaultRoute`). This should allow the logic to work correctly on any Linux distribution without reconfiguring the way that your kernel assigns interfa

[2020-09-10 17:29] kvaster commented on #12513
Verified with 1.19.0 kubernetes - it works !

[2020-09-10 19:52] smira commented on #13096
We were able to reproduce this issue in Kubernetes 1.18.6 cluster with Cilium 1.8.2 and 1.8.3. (Exactly same scenario works with Flannel).

The steps were:

1. Install Kubernetes 1.18.6, we have 3 master + 1 worker node cluster in our tests.
2. Start upgrading kube-apiserver daemonset by bumping the image version and updating command (due to hyperkube- -> go-runner change in 1.19.0).
3. In the mid

[2020-09-10 19:54] smira commented on #13096
Snapshot of `get pods -n kube-system`:

[code]

[2020-09-10 21:11] fristonio commented on #13047
Hey @uablrek
Thanks for the update. I was able to reproduce the issue with 1.8.3 and also the behavior you mentioned for v1.7 releases. This is pretty weird to me as well, I am looking at the datapath and see if I can find the reason why this is happening.

[2020-09-11 00:17] christarazi opened #13148 "Scale back / rate limit the amount of CNP updates sent / processed by Cilium & Operator"
In a large-scale environment with the following properties:

- Many CNPs (1k+)
- CNP status updating enabled + K8s event handover
- Kvstore enabled

We should consider reducing / rate limiting the amount of updates sent by the Cilium agents and the amount of CNPs that are loaded at start-up time in the Operator. OOM kills have been observed in environments with these properties due to excessive me

[2020-09-11 08:40] brb opened #13149 "CI: create a helper script for testing services"
Currently, when testing k8s services, we run some checks via `/bin/bash -c` (https://github.com/cilium/cilium/blob/v1.8.3/test/k8sT/Services.go#L152) to avoid an excessive `kubectl exec` to execute the same curl request. However, this approach has its own limitations, e.g. adding a new functionality to it becomes more and more painful due to it being written in bash (hence poor readability, dance

[2020-09-11 12:38] sayboras commented on #13020
Thanks for your comment, consider that there is flake in #12279, I just park this issue here till flake is resolved, and also can hear from others well.

[2020-09-11 13:31] Buffer0x7cd opened #13152 "Cilium not cleaning cni configuration while uninstalling."
While testing Cilium in Azure CNI mode ( without chaining ), It seems like cilium is not cleaning up the `05-cilium.conf` file from the `/etc/cni/net.d` directory, During uninstallation. This is causing Kubelet to generate lots of error like below

`kubelet[3524]: W0911 13:15:36.525325    3524 cni.go:202] Error validating CNI config &{cilium 0.3.1 false [0xc001103120] [123 34 99 110 105 86 101 114

[2020-09-11 13:45] aanm commented on #13152
@Buffer0x7cd having the file present is expected. Currently there's no way to tell kubelet that the user is removing or upgrading Cilium. In case of upgrading we can't remove the file as otherwise a pod could start being managed by another CNI plugin that is not Cilium.

[2020-09-11 13:55] sayboras commented on #12875
@vishnugs seems fixed in https://github.com/cilium/cilium/pull/13024. Please give it a try whenever you have time. Thanks.

[2020-09-11 14:33] Buffer0x7cd commented on #13152
Thanks for the info, I am assuming in the above scenario kubelet will pick up the next valid config (this was not clear from the docs) and ignore cilium.

[2020-09-11 14:47] Buffer0x7cd opened #13154 "Coredns failing after installing cilium in native Azure CNI Mode."
## Bug report

Hey everyone, Currently I am trying to deploy Cilium in Azure AKS with native Azure CNI mode ( Without chaining) by following the instructions mentioned at https://docs.cilium.io/en/v1.8/gettingstarted/k8s-install-azure/. After installation, I am seeing a persistent issue where Coredns is not able to come up once the installation of Cilium CNI is done. I am getting the following err

[2020-09-11 16:56] christarazi opened #13155 "Migrate away from top-level "description" to spec.description in CNP & CCNP CRDs"
Many of our CNPs and CCNPs have the following form:

[code]

Note the "description" field is not under `spec`. This field is misplaced, because [we already have a field for this under `spec`](https://github.com/cilium/cilium/blob/d1c6a750dabe799fad6bbdc70218d8ab4351c083/pkg/policy/api/rule.go#L79).

The policy should be written as:

[code]

This may seem trivial, but as we [migrate over to v1 CRDs

[2020-09-11 19:41] #13122 closed

[2020-09-11 19:50] #13084 closed

[2020-09-11 20:51] giannisalinetti commented on #10013
It would be awesome!

[2020-09-11 22:01] Weil0ng opened #13156 "Expose CLI debug interface for LRP"
Discussed with @aditighag offline, when trying to debug LRP, currently there's no easily accessible interface to introspect the internal states of LRP manager and policies.

Proposal is to add a CLI interface (`cilium lrp list/get`) to dump internals of existing LRPs.

If this proposal makes sense, I can take a stab at the implementation.

[2020-09-12 00:01] aditighag commented on #13156
Thanks Weilong for taking this up.

Here is some information that we can dump -

- LRP config
- redirectpolicy/manager internal state : frontends, services, podPolicy

[2020-09-12 09:42] #12319 closed

[2020-09-12 12:55] duanjiong opened #13160 "Can you explain the HOST_IFINDEX and HOST_IFINDEX_MAC fields?"
Why is HOST_IFINDEX the cilium_net network card, but HOST_IFINDEX_MAC is the mac address of the cilium_host , which is confusing. Shouldn't they indicate the same network card?

cat /run/cilium/state/globals/node_config.h
[code]

[code]

[2020-09-12 15:21] vishnugs commented on #12875
@sayboras , Thanks for updating. Will check it out.!!

[2020-09-12 15:21] #12875 closed

[2020-09-12 18:04] pchaigno commented on #13160
I agree, this is confusing. Feel free to send a PR to fix it.

[2020-09-12 20:42] #12344 closed

[2020-09-13 02:16] duanjiong commented on #13160
Thank you for your reply, I'll find a good way to fix it.

[2020-09-13 10:48] azyobuzin opened #13161 "Cannot connect docker container to another network"
## Bug report

**General Information**

- Cilium version (run `cilium version`)
  - both 1.8.3 and 1.9.0-rc0 (1.8.90)
- Kernel version (run `uname -a`)
  - `Linux ubuntu-18 4.15.0-106-generic #107-Ubuntu SMP Thu Jun 4 11:27:52 UTC 2020 x86_64 x86_64 x86_64 GNU/Linux`
- Orchestration system version in use (e.g. `kubectl version`, Mesos, ...)
  - Docker 19.03.12
- Link to relevant artifacts (policie

[2020-09-14 07:06] Mengkzhaoyun commented on #12988
@networkop  , good job , it is work.

[2020-09-14 07:23] borkmann commented on #12499
Fixed via https://github.com/cilium/cilium/pull/13131

[2020-09-14 07:23] #12499 closed

[2020-09-14 07:38] fristonio commented on #12247
Related #13047

[2020-09-14 08:34] uablrek commented on #13047
When it fails the syn-ack is received but subsequent packets seems to be lost. I attach traces when it works and fails (they are very short).

* [fails.pcap.gz](https://github.com/cilium/cilium/files/5217138/fails.pcap.gz)
* [works.pcap.gz](https://github.com/cilium/cilium/files/5217140/works.pcap.gz)

[2020-09-14 10:48] chowmean commented on #13143
@joestringer I am also facing this issue what can be done to fix this?
OS: Ubuntu 18.04.4
SystemD version: 237
Kubernetes: EKS 1.17

[2020-09-14 10:59] aanm commented on #13096
@smira how do you install / deploy kubernetes?

[2020-09-14 11:16] smira commented on #13096
@aanm this is under Talos talos-systems/talos, which in turn is using bootkube.

I can reproduce and report the events.

[2020-09-14 11:19] aanm commented on #13152
@Buffer0x7cd yes. Which docs are not clear? Is there anything that we could have make it better in our docs?

[2020-09-14 11:56] aanm commented on #12384
@brandshaide any update on this?

[2020-09-14 11:57] aanm commented on #12437
@anunay007 are you still facing these issues?

[2020-09-14 12:00] aanm commented on #12645
slight ping @Antiarchitect

[2020-09-14 12:07] aanm commented on #12956
@IgorSor do you have cilium-operator running? Can you describe all steps that you have performed so we can replicate the issue on our side?

[2020-09-14 12:07] aanm commented on #12956
@konghui are you still facing issues after making sure the cilium-operator is running?

[2020-09-14 12:10] aanm commented on #12953
@excieve thanks GH issue. We will take a look.

[2020-09-14 12:16] aanm commented on #13081
@lrouter does that fixes your issue?

[2020-09-14 12:23] IgorSor commented on #12956
Yes, we have.

We are installing cilium 1.8.2 on eks cluster in aws. After that, we are terminating one of the nodes.
After that, new node will bring back to life. On that node we will have this problem with cilium agent.
If it needed, I can attach logs from cilium-operator.

[2020-09-14 12:23] aanm commented on #11556
@vladdy any update? No pressure :slightly_smiling_face:

[2020-09-14 12:39] aanm commented on #12988
@networkop can you push a PR with that fix? that would be great!

[2020-09-14 12:40] gandro commented on #13115
The `{{- if contains "/" .Values.image.repository }}` is consistent with our remaining deployments such as the `cilium` DaemonSet or the `cilium-operator` Deployment. So from that perspective, it is the `hubble-ui` chart which is inconsistent, not `hubble-relay`. If it makes things easier, please feel open a PR to add the if-statement to `hubble-ui`, that inconsistency is accidental.

As for mirro

[2020-09-14 12:44] aanm commented on #13161
@azyobuzin thanks for opening the issue. What's the use case to have 2 networks in a single container?

[2020-09-14 12:45] aanm commented on #13096
@smira please do.

[2020-09-14 12:54] azyobuzin commented on #13161
Thanks. I have two use cases in mind.

- Communicating with containers outside of the Cilium network. It is needed during migrating containers to Cilium network.
- Publishing ports of containers with `--publish` option using another bridge network because Cilium Docker plugin does not support that option.

[2020-09-14 13:25] Antiarchitect commented on #12645
I figured it out. It was a bit unexpected that hubble-relay spawns on masters - not workers. So the firewall was opened to workers. Now it is open to masters and all is OK now. Not sure if hubble-relay should actually appear on masters.

[2020-09-14 13:25] #12645 closed

[2020-09-14 13:25] brandshaide commented on #12384
just submitted a PR 🙂

[2020-09-14 13:35] lyind opened #13165 "Health endpoint does not bind to tcp6 on a IPv6 only environment"
## Bug report

**General Information**

- Cilium version 1.8.3
- Kernel version 5.8.7
- Kubernetes 1.19.1
- [cilium-sysdump-20200914-131007.zip](http://talpidae.net/~jonas.zeiger/public/paste/cilium-sysdump-20200914-131007.zip)

**How to reproduce the issue**

1. Install K8s 1.19.1 using kubeadm with IPv6 only, skipping addon/kube-proxy
2. Install cilium 1.8.3 using the attached config
3. Monitor

[2020-09-14 14:35] gandro opened #13166 "helm: Review pod toleration of Hubble Relay deployment"
Currently, the `hubble-relay` deployment tolerates to be scheduled on any node:

https://github.com/cilium/cilium/blob/f191f9eed4b9ab1d09c4bd8a6bf2456011acea52/install/kubernetes/cilium/charts/hubble-relay/templates/deployment.yaml#L72-L73

This means that hubble-relay can end up deployed on tainted nodes (such as the master node). It is unclear as to why this toleration is needed.

We should revi

[2020-09-14 14:35] gandro commented on #12645
Thanks for the update! `hubble-relay` should not be deployed on masters, that's not intended. I assume this is due to our `toleration`, which I think is overly permissive. I've opened #13166 to track this.

[2020-09-14 14:54] splushii opened #13167 "CiliumEndpoint IP does not match Pod IP"
## Bug report

There is a CiliumEndpoint IP and Pod IP mismatch for one of the `kube-dns` Pods. This results in dropped traffic because Cilium thinks the target IP is unmanaged and thus not affected by network policies allowing traffic.

[code]

[code]

Have only seen this happen for one of the `kube-dns` Pods (although the phenomenon is present in multiple clusters), but it may affect other Pods

[2020-09-14 15:44] lyind commented on #13165
What I already tried:

* configure node with single 10GbE interface instead of bonding: same result
* set `net.ipv4.conf.all.rp_filter=0`: same result
* configuring cilium to coexist with kube-proxy (default): same result

[2020-09-14 17:39] Weil0ng opened #13168 "Health-check backend pods when LRP is active"
Per offliine discussion with @aditighag, periodically health-checking backends picked by active LRP is desired to ensure cluster functionality.

A few concerns:
- If all backends become unhealthy, should we remove/circumvent LRP? What's the channel of notification to users that it is no longer in effect?
- Should we drop LRP entirely if all backends are unhealthy for a prolonged time?

[2020-09-14 17:42] aanm commented on #13166
@gandro to give an update on this. If you have a single node cluster, where that node behaves has the master, hubble-relay won't be scheduled into that node.

In the case of cilium-agent & cilium-operator we need to make sure it's running on all nodes since it is an important part of the infrastructure so the tolerations need to be permissive as possible. In case of hubble-relay relay it will depe

[2020-09-14 17:50] aditighag commented on #13168
Thanks @Weil0ng for looking into this.

We currently add a `local-redirect service entry` for an LRP only when there is at least 1 backend pod for the LRP. Once the entry is plumbed, when the last backend pod is removed, we delete the service entry as well. (The logic is in redirectpolicy/manager.go #12831 ). We can similarly monitor pod health status, and update the service entry accordingly. Whe

[2020-09-14 17:57] smira commented on #13096
@aanm I reran my test suite five times with Cilium 1.8.2 and 1.8.3, and I'm not able to reproduce the issue anymore.

My guess is that my upgrade automation had some issues, as I can't explain it any other way.

[2020-09-14 17:59] aanm commented on #13096
@smira thanks for taking a look!

[2020-09-14 18:18] joestringer opened #13169 "v1.6.12 release"
## Pre-release

- [x] Create a [new project] for the next release version
  - [v1.6.12](https://github.com/cilium/cilium/projects/122)
  - [v1.6.13](https://github.com/cilium/cilium/projects/128)
- [x] Add build targets for the new release on [Docker Hub]
  - All versions:
    - [cilium](https://hub.docker.com/repository/docker/cilium/cilium/builds/edit)
    - [operator](https://hub.docker.com/rep

[2020-09-14 18:29] Antiarchitect commented on #13166
@aanm Could it be something like this?

[code]

[2020-09-14 18:44] joestringer commented on #13143
@chowmean workarounds right now include either configuring the kernel to ensure `eth0` is present per @ungureanuvladvictor 's comment above, or sticking with v1.8.2 for now. This is planned to be fixed in the upcoming v1.8.4 release.

[2020-09-14 18:50] joestringer commented on #9402
@jdef are you able to provide more info? Unless there are clear steps to reproduce this issue with SELinux disabled, it's going to be very difficult to make any progress in resolving this issue.

[2020-09-14 19:05] pchaigno commented on #13165
Thanks for the report!

Which guide did you follow to deploy Cilium? Should masquerading be enabled?

Also, does this setup work if you're not in IPv6 only?

[2020-09-14 19:10] lyind commented on #13165
I didn't try IPv4, as I only have IPv6 here and no IPv4 gateway. (There is only a management box that runs an internal IPv4 network for PXE boot.)

[2020-09-14 19:34] joestringer commented on #13169
I checked against the issues in https://github.com/cilium/cilium/projects/122 and there's not many notable changes to motivate the release right now, most of the changes are docs-only changes which have already been published via RTD. There will be changes landing towards the end of the month that will need a new release so deferring this release until then.

[2020-09-14 19:41] lyind commented on #13165
Is it enough if assign IPv4 podCIDR ranges in the CiliumNodes and configure configmap/cilium-config accordingly, to test if IPv4 works?

[2020-09-14 19:42] joestringer commented on #13168
I'm not sure I understand the motivation for any dedicated status fields in the LRP if we are trying to modify the implementation of LRP services based on the health of pods. I would think that the existing k8s health check infrastructure should be able to be used, and Cilium merely needs to respect the pod healthiness when considering backends to plumb for an LRP.

[2020-09-14 19:44] christarazi commented on #13062
Hit in https://github.com/cilium/cilium/pull/11477: https://jenkins.cilium.io/job/Cilium-PR-K8s-1.12-net-next/463/testReport/junit/Suite-k8s-1/12/K8sBandwidthTest_Checks_Bandwidth_Rate_Limiting_Checks_Pod_to_Pod_bandwidth__geneve_tunneling/

[2020-09-14 19:46] aanm commented on #13166
That could be an option, that also works on a 1-node clusters??

[2020-09-14 19:49] aanm commented on #13165
@lyind it should be enough if you run with `enable-ipv6: false`set in the configmap/cilium-config

[2020-09-14 19:50] chowmean commented on #13144
@joestringer I would like to take this up. Any pointers that you can give me to start this?

[2020-09-14 19:50] aanm commented on #13168
+1. If I may add as well, if we keep "stale" entries, those IPs might no longer exist locally and be redirected to elsewhere in the network.

[2020-09-14 19:53] Antiarchitect commented on #13166
@aanm That should work. https://kubernetes.io/docs/concepts/scheduling-eviction/assign-pod-node/#node-affinity The second paragraph.

[2020-09-14 19:57] pchaigno commented on #13062
Let's reopen and I'll try to assess in a couple days by how much we need to increase the interval again.

[2020-09-14 20:02] aditighag commented on #13168
+1

As discussed [here](https://github.com/cilium/cilium/issues/13156#issuecomment-691359444), we would be dumping pod backend information for all the LRPs in the CLI output.

[2020-09-14 20:05] aditighag commented on #13168
Not sure I understand your comment around stale entries. As I mentioned in my [previous comment](https://github.com/cilium/cilium/issues/13168#issuecomment-692213286), we currently delete entries with no backends, which should be done in case of unhealthy pods too.

[2020-09-14 20:15] nathanjsweet commented on #9776
closing for #13074

[2020-09-14 20:15] #9776 closed

[2020-09-14 20:16] joestringer commented on #13144
@chowmean awesome, sure.

I would start by following the [FQDN policy getting started guide](https://docs.cilium.io/en/v1.8/gettingstarted/dns/), but when you reach the section around [applying the policy](https://docs.cilium.io/en/v1.8/gettingstarted/dns/#apply-dns-egress-policy), remove this section:

[code]

If you remove this section of the policy, the policy will not work as intended. At that

[2020-09-14 20:19] lyind commented on #13165
@pchaigno I put `enable-ipv6: false` and `enable-ipv4: true`.

The cilium pods still do not become READY (waited long enough) and continuously restart. Cilium has stopped to hand out IPv6 addresses or forwarding IPv6 traffic. This means pods like `coredns` don't work anymore (`no route to host`).

[2020-09-14 20:23] lyind commented on #13165
I noticed that, when I set `enable-health-check-nodeport: false` (from `true`):
[code]

Not sure why someone would want to disable the health check, though.

[2020-09-14 20:24] joestringer commented on #13156
One minor thing to consider, LRPs are basically a type of service right? Perhaps some of the state could be exposed via `cilium service list`, then perhaps just extend the API so that the CLI can print the type of the service?

@aditighag LRP config itself I would think should be sufficient to just `kubectl get clrp`, or is there something else you have in mind there?

[2020-09-14 20:25] #12958 closed

[2020-09-14 20:25] #13080 closed

[2020-09-14 20:29] aditighag commented on #13156
This is already taken care of in my PR.

cilium service list
ID   Frontend               Service Type    Backend
1    172.20.0.20:5001       ClusterIP       1 => 10.16.168.80:5001
                                            2 => 10.16.174.168:5001
:
9    172.20.0.211:80        LocalRedirect   1 => 10.16.113.155:80
10   169.254.169.254:8080   LocalRedirect   1 => 10.16.113.155:80

LRP is further pa

[2020-09-14 20:33] lyind commented on #13165
@pchaigno OK, fixed it. Replaced the `::1` in the DaemonSet/cilium livenessProbe address with `127.0.0.1` again and it works. Seems like the cilium health HTTP server only listens on `0.0.0.0` instead of `::`.

Now the only remaining question is why pod traffic can't leave the cluster, even though they have global IPs. But there are open issues already, so I am going to wait for now.

Thank you!

[2020-09-14 20:37] aanm commented on #13165
This still needs to be addressed. Thanks for testing this and find out the root cause

[2020-09-14 20:44] lyind commented on #13165
@aanm Thanks for the great support.

Regarding the fix: Usually one should bind to `::` when IPv6 is available, only if not bind to `0.0.0.0` when writing/configuring services (like web servers). Exclusively binding to `::` works (also listens on IPv4) but makes it impossible to run on a kernel without IPv6 support (rare but happens).

[2020-09-14 21:00] pchaigno commented on #13167
I'm unable to reproduce this issue. I used the same version of Cilium, in the `kube-system` namespace with the two additional options you specified compare to the GSG. Both of my kube-dns pods have the same IP reported in the Pod and CiliumEndpoint resources. Does it happen all the time?

Note that to disable our kube-proxy replacement, you want `kubeProxyReplacement=disabled`, not `false`. You ca

[2020-09-14 22:26] aanm commented on #13165
@lyind just to clarify, you have out `::1` in the liveness probe of the Cilium daemon set and that fixed the issue of the health probe being restart all the time?

[2020-09-15 00:34] lyind commented on #13165
@aanm I initially configured the livenessProbe as `::1` thinking something like "Oh yay! IPv6 localhost!". But the service targeted by the livenessProbe doesn't bind to `::` or `::1` but to IPv4 only. So I corrected my own mistake. It would be nice of course if all services listened to `::` or `::1` on IPv6 enabled hosts.

[2020-09-15 06:06] anjmao opened #13171 "cilium status doesn't include cluster nodes in json output"
## Bug report

Command `cilium status` is inconsistent when using plaintext and json output format. In json format cluster nodes health info is missing.

**General Information**

- Cilium version (run `cilium version`)
Client: 1.8.3 54cf3810d 2020-09-04T14:01:53+02:00 go version go1.14.7 linux/amd64
Daemon: 1.8.3 54cf3810d 2020-09-04T14:01:53+02:00 go version go1.14.7 linux/amd64

**How to reprodu

[2020-09-15 06:48] Weil0ng commented on #13040
Discussed extensively with @aditighag offline. It seems that current [LRP design](https://github.com/cilium/cilium/pull/12831) won't close all the gaps to support NodelocalDNS. The main issue is that, even if we redirect DNS pkts to local node-local-dns pod ip, NodelocalDNS only [listens on two specified ip addresses](https://github.com/kubernetes/dns/blob/master/cmd/node-cache/app/cache_app.go#L7

[2020-09-15 08:59] qmonnet opened #13173 "Byte counters (per-endpoint) for ingress and egress traffic"
## Proposal / RFE

Per-endpoint **byte counters** for ingress and egress traffic, to account for the data coming to and leaving from a pod.

We already have partial accounting through the policy maps (`cilium bpf policy get <id>`), but this is not used if no policy lookup is performed in the datapath.

The counters would likely be stored to BPF maps (Per-endpoint maps? Hash map with endpoint id as

[2020-09-15 10:04] johnlanni commented on #11081
+1

[2020-09-15 10:10] qmonnet commented on #13171
Right, I can reproduce it. Thanks for filling the issue!

I'm unsure if the `nodes` should be filled when we call the `client.Daemon.GetHealthz(params)`, or if we need to make a second request to `client.Connectivity.GetStatus(nil)` as is done for plain text. @joestringer, I see you wrote the code for plain text (back in 2018), do you have any insight?

[2020-09-15 12:24] jaffcheng opened #13174 "docs: some request parameters not rendered in API reference"
## Bug report

For example, there are two parameters for `PATCH` `/endpoint/{id}/labels` in openapi spec,

https://github.com/cilium/cilium/blob/1498f6581619608561f93a4c23ea01f5bd935d56/api/v1/openapi.yaml#L279-L285

But only one parameter `id` is shown In rendered docs:
https://docs.cilium.io/en/stable/api/#patch--endpoint-id-labels

[2020-09-15 12:34] jaffcheng commented on #13174
Seems all parameters with `schema` are not rendered, probably an issue in `sphinxcontrib.openapi` extension.

[2020-09-15 15:23] aditighag commented on #13040
I wonder if it's possible to pass pod IP as one of the `-localip` [1] parameters via environment variables [2].

[1] https://github.com/kubernetes/kubernetes/blob/master/cluster/addons/dns/nodelocaldns/nodelocaldns.yaml
[2] https://kubernetes.io/docs/tasks/inject-data-application/environment-variable-expose-pod-information/

[2020-09-15 17:24] Weil0ng commented on #13040
I think the `localip` is (by NodelocalDNS design) identical across all nodes, making it unique for each node would require pretty intrusive change to NodelocalDNS. Essentially what current setting does is to [deploy NodelocalDNS ds with IPs passed in as cmdline args](https://github.com/kubernetes/kubernetes/blob/master/cluster/addons/dns/nodelocaldns/nodelocaldns.yaml#L146), making it accept/disco

[2020-09-15 18:26] joestringer commented on #13171
Yeah so the cluster connectivity is coming from the `cilium-health status` API, when I added this into `cilium status` it was just for plaintext overview convenience. I always figured that if you wanted cluster connectivity status, you would separately call the cilium-health API for it. Some time back these were in separate daemons but IIRC we merged them a while back.

We would welcome patches to

[2020-09-15 19:31] #12384 closed

[2020-09-15 20:06] aanm opened #13178 "Panic on restoring services with enable-health-check-nodeport: false"
https://github.com/cilium/cilium/issues/13165#issuecomment-692293447

[2020-09-15 20:21] aanm commented on #13165
@tklauser can you take a look? It's really odd why `localhost` does not bind to v6 address. I've tried it on minikube but I realized that does not have v6 localhost address.

[2020-09-15 20:37] aanm commented on #13167
@splushii thank you for opening the GH issue.

have you tried upgrade to 1.8.2? There's one PR that could explain this https://github.com/cilium/cilium/pull/12595. However I'm not convinced that it would explain what you were seeing.

How did the pod changed IP address? For some reason it looked that it had `10.12.3.93` and now it has `10.12.3.7`.

Can you provide a cilium sysdump for the node tha

[2020-09-15 20:59] aanm commented on #13171
Just to add some notes here, I think the `nodes` field was removed from the `status` command to avoid the load of checking all nodes' result on the daemon side for large clusters.

[2020-09-15 21:01] aanm commented on #13168
sorry, I was replying to this

[2020-09-15 21:29] joestringer commented on #13171
@aanm ah, in that case is there anything that can be done for this issue? Or the user should just use `cilium-health status -o json`?

[2020-09-15 22:47] joestringer opened #13181 "CI: Travis: TestClusterMeshServicesUpdate test flake with unexpected k8s.CacheAction result"
Master branch during v1.9 dev cycle:

https://travis-ci.com/github/cilium/cilium/jobs/385246283

[code]

Runs before and after have succeeded so it does not reliably fail in this way.

[2020-09-16 02:50] Hokwang opened #13182 "helm: hubble-ui.ingress.path is not working with Hubble UI"
Hi,

I am using cilium helm chart for install cilium.

I found several issues.

1. in the hubble-relay chart.
I need to set `--disable-client-tls` and `--disable-server-tls` in args like below. but now there's no way to do this.
[code]

2. which container repo is the main?
I can find cilium/hubble-relay in hub.docker.com but can't find it in quay.io
and can find cillium/hubble-ui in quay.io but ca

[2020-09-16 05:45] joestringer opened #13183 "Consider cilium cleanup in Helm post-delete hook"
Helm provides hooks for triggering additional logic when certain actions are performed:

https://helm.sh/docs/topics/charts_hooks/

It likely makes sense to add a post-delete hook to run a job with the cilium container to run `cilium cleanup` to remove the eBPF state from the system when the helm chart is removed.

[2020-09-16 06:26] sayboras commented on #13183
Is helm the recommended way to install cilium? As we also ship `quick-install.yaml` or `experimential-install.yaml` as well ?

[2020-09-16 06:34] joestringer commented on #13183
The documentation provides examples for both Helm-based install and just either quick-install YAML or helm template generation + kubectl apply. This suggestion would only directly work for `helm uninstall`, although if the implementation is a k8s job then maybe we could just provide that as a standalone YAML to assist uninstall for direct kubectl users as well.

[2020-09-16 07:37] splushii commented on #13167
Tried to reproduce this some more times. It does not always happen directly. But it seem to always happen eventually.

For example, had this issue in another cluster yesterday. A `kubectl -n kube-system rollout restart deploy/kube-dns` got us new `kube-dns` pods where the pods' IP:s matches their respective `CiliumEndpoints`. Today when checking there is a mismatch for one of the `kube-dns` pods:

[2020-09-16 07:50] splushii commented on #13167
We see the same problem on 1.8.2 unfortunately.

I'm not sure. Maybe this is something related to how `kube-dns` in GKE is managed?

Of course, missed to include it initially. Attaching a sysdump of the node (the exact one mentioned in the description).

[cilium-sysdump-20200914-161830.zip](https://github.com/cilium/cilium/files/5230657/cilium-sysdump-20200914-161830.zip)

[2020-09-16 07:58] aanm commented on #13183
Are we sure that `post-delete` hook is not executed on upgrades? That would be dangerous...

[2020-09-16 08:30] aanm commented on #13171
@anjmao
The change that made this optimization is in https://github.com/cilium/cilium/commit/57fa7a626db1246f769557821ec721caf4d3d1e7

As an alternative, the list of nodes can be obtained by `cilium node list -o json`. If you are using the API directly, you can use
[code]

If you want to have some optimization on the client side, the list of nodes added / removed can be kept in memory by the ciliu

[2020-09-16 09:38] aanm opened #13185 "Cilium Operator does not retrieve lock if kube-apiserver is down"
I'm not sure if this only happens in the development machine.

Steps to reproduce the issue:

1. start Cilium & Cilium-operator in the dev VM.
2. `sudo service kube-apiserver stop`
3. wait ~10 seconds
4. `sudo service kube-apiserver restart`
5. `journalctl -fu cilium-operator`

The operator never "restarted" its operations.

[code]

[2020-09-16 09:49] #11142 closed

[2020-09-16 09:49] #12516 closed

[2020-09-16 12:32] lrouter commented on #13081
@aanm @pchaigno yes. thanks.

[2020-09-16 12:33] #13081 closed

[2020-09-16 12:54] gandro commented on #13182
Hi, thanks for the feedback!

1. (m)TLS support for Hubble Relay will only be available on the upcoming Cilium 1.**9**.  It seems you are using Cilium 1.8, where (m)TLS on Hubble Relay is not supported. Per our policy to only back-port bug fixes, we decided against back-porting (m)TLS to Hubble Relay 1.8, as it it a feature and not a bug fix.

2. Yes, hubble-ui is currently not available on `docke

[2020-09-16 13:23] tklauser commented on #13165
It looks like this is because of golang/go#9334, i.e there currently is no safe way for listen for both tcp4 and tcp6. I'm not really sure what to do here except suggesting users to leave the `livenessProbe` and `readinessProbe` set to `127.0.0.1` even if they're using IPv6-only stacks.

[2020-09-16 13:26] sayboras commented on #13183
I use pre hook before for upgrade path at work, but didn't try with post hook in general. I can spend sometime to give this one a try if you guys are fine.

[2020-09-16 14:56] Weil0ng commented on #13168
I agree that the map entry should be purged, but what about the CR itself? If we use status field as suggested by @aditighag and keep the CR, then when the backends are up again we can re-enable this redirection automatically, is that desired behavior? The alternative is that we remove the CR when no backend is alive and user then has to recreate it.

[2020-09-16 14:58] lyind commented on #13165
@tklauser Thank you for following up on this.

Reading through the Go `net.Listen()` issue and other similar ones for other projects (eg. https://bugs.python.org/issue3213), I found the operating system situation makes this hard to solve correctly in user-space (also see https://serverfault.com/questions/21657/semantics-of-and-0-0-0-0-in-dual-stack-oses ).

Also as a note to myself: the way to go

[2020-09-16 15:04] lyind commented on #13165
BTW, thanks to all people working on Cilium, it is *the* CNI plugin that makes Kubernetes networking useful and easy to handle at the same time.

[2020-09-16 15:24] tklauser commented on #13165
@lyind Thanks for investigating further and for providing the example code. I think we should be able to use that approach to listen on both `127.0.0.1` and `::1` for the health check.

[2020-09-16 15:57] #13178 closed

[2020-09-16 17:37] aanm commented on #13183
@sayboras go for it :)

[2020-09-16 17:39] joestringer commented on #13168
The lifecycle of the LRP is managed entirely by the user, Cilium itself should not modify the resource in k8s apiserver.

Once the LRP is inserted into k8s, Cilium will learn about it and can cache the existence of this "desired state" so that when the backends change it can easily refer to the LRPs to figure out how to plumb the backend. Cilium will then also subscribe to these backend changes so

[2020-09-16 17:41] aanm commented on #13165
@tklauser why can't we listen on `:8080` (instead of `localhost:8080`)?

[2020-09-16 18:08] lyind commented on #13165
I tried ":8080" and it binds to "[::]:8080" on my system which is convenient. I don't know if the health endpoint should be a public interface, though.

[2020-09-16 22:17] christarazi opened #13192 "kube-apiserver 1.16+ complains that CiliumNode CRD is non-strucutural"
[code]

Cilium version: 1.8.3, not `master`
K8s version: 1.16+

Steps to reproduce:

1) Deploy Cilium 1.8.3 on a K8s 1.16 environment
2) Run command from above

[2020-09-16 22:45] christarazi opened #13193 "Cilium fails to update status on CiliumNode resource, leading to Cilium never becoming ready"
This issue seems to only be observable on EKS environments. Because the issue is failing to update the CiliumNode status, likely Azure environments are broken as well. GKE is not affected because this only bug exists with IPAM modes that use the CiliumNode resource to hold IPAM information.

Cilium version: `master`
Steps to reproduce:
1) Follow EKS GSG guide
2) Deploy latest `master`.

I traced t

[2020-09-16 22:48] lrouquette opened #13194 "Improve uptime during agent upgrades (with L7 policy)"
## Proposal / RFE

It is known that agent upgrades will [disrupt](https://docs.cilium.io/en/stable/install/upgrade/#version-specific-notes) connectivity if L7 policy is in place. I'm wondering if there's an opportunity to improve this though, perhaps by leveraging the pre-flight check process and the `SO_REUSEPORT` [socket option](https://lwn.net/Articles/542629/).

Today, the preflight-check runs

[2020-09-16 23:06] christarazi commented on #13193
Seems like we've missed adding a `/status` subresource to CiliumNode. It is there in < 1.8 (under `spec`):

[code]

https://github.com/kubernetes/community/blob/master/contributors/devel/sig-architecture/api-conventions.md#spec-and-status

[2020-09-17 00:23] joestringer commented on #13181
Hit again:
https://travis-ci.com/github/cilium/cilium/jobs/386008720

[2020-09-17 08:00] aanm opened #13198 "CI: "JoinEP: Failed to load program" while shutting down causes false positive test failure"
There was a GH issue about this but I can't currently find it.

This flake happens mostly because Cilium is, as expected, stopped, and some endpoint regeneration needs to be canceled. However, this causes the CI to fail because it is programmed to find "JoinEP" messages. Ideally we should not print the error messages if the server agent was shut down.

[code]

https://jenkins.cilium.io/job/Cilium-

[2020-09-17 08:17] tklauser commented on #13165
@aanm as  @lyind pointed out in https://github.com/cilium/cilium/issues/13165#issuecomment-693571908, using `:8080` will bind on all available interfaces, i.e. it will become a public endpoint. The original intention was to restrict the health check endpoint to the loopback interface. Not sure whether we want to keep that? I guess the attack surface is rather minimal and we might restrict access t

[2020-09-17 08:37] aanm commented on #13165
Discussed offline with @tklauser . We will go with the proposal from https://github.com/cilium/cilium/issues/13165#issuecomment-693463210

Also, one addition that we need to perform is to change the liveness and readiness probes to perform the requests on `127.0.0.1` or `::1` depending on the `enable-ipv4` flag. If that flag is set to `false` we should change the readiness probe to perform request

[2020-09-17 08:58] qmonnet commented on #13143
Heads up: I've had a patchset ready for a few days, but I failed to set up a cluster to test it properly because of #13193. This should be fixed in the next few days and I'll test and send my PR.

[2020-09-17 10:18] qmonnet commented on #12956
Maybe related to #13193.

[2020-09-17 14:03] tgraf commented on #13154
Did you deploy CoreDNS before Cilium was deployed? Did you restart CoreDNS after deploying Cilium? Or in other words, does the issue resolve itself if you restart CoreDNS to create a new set of pods? You can also validate this passively by running `kubectl get cep` and validate that you have `CiliumEndpoint` representations for the CoreDNS pods.

[2020-09-17 16:17] aditighag commented on #13136
Reopening the issue, and parking it in my queue to review this further.

[2020-09-17 16:33] aanm commented on #13136
@aditighag is the issue still happening with #13179

[2020-09-17 16:42] aditighag commented on #13136
I haven't checked yet. But based on the diff I posted in the description, Update callback `shouldn't` get called after #13179. I reopened the bug to review whether the Add callback needs to be called on every update. The reasons being, label/annotations updates are already handled in the Update callback and `namedPorts` can't change.

[2020-09-17 16:45] Buffer0x7cd commented on #13154
Coredns is already deployed in k8s cluster as part of AKS launch. The issue is still persisting after restarting the CoreDNS pods. I am getting below logs for the CoreDNS
[code]
logs from the CoreDNS pod

`E0917 16:35:54.586224       1 reflector.go:125] pkg/mod/k8s.io/client-go@v0.0.0-20190620085101-78d2af792bab/tools/cache/reflector.go:98: Failed to list *v1.Service: Get https://xxxxxxxx.hcp.sout

[2020-09-17 17:40] joestringer commented on #13171
Given Andre's message above, this is working as intended. Feel free to ask further questions or open a new issue if there is another problem with fetching this information using the instructions above.

[2020-09-17 17:40] #13171 closed

[2020-09-17 18:30] joestringer opened #13208 "Store and restore proxy ports across agent restarts via state headers"
PR #12964 attempts to move proxy start early in the daemon launch lifecycle to minimize proxy downtime during upgrade.

The current implementation relies on installing iptables rules during initial proxy configuration, then upon restart, reading these rules back out of the kernel to determine the ports used during the previous agent run, see https://github.com/cilium/cilium/pull/12964#discussion_r

[2020-09-17 18:51] joestringer commented on #9721
@borkmann since this is assigned to you, it has not been marked stale. However no progress was reported on this issue.

I am not aware of this affecting users more recently, and although there are a few :+1: on the issue description it's unclear to me whether this is still an issue on newer Cilium / newer kernels.

Closing. If you observe this, please comment below or create a new issue with furth

[2020-09-17 18:51] #9721 closed

[2020-09-17 18:58] joestringer commented on #10627
PR https://github.com/cilium/cilium/pull/12986, to be first shipped in Cilium 1.9, will prevent this error from occurring in future releases. In the event of IP addressing conflicts, it will be up to users to detect this and take action to avoid the consequences; Cilium will no longer attempt to take an active role in preventing misconfiguration of CIDR ranges in the network.

[2020-09-17 18:58] #10627 closed

[2020-09-17 18:59] joestringer commented on #9793
Cilium will no longer trigger this error in Cilium 1.9 or later.

[2020-09-17 19:29] #13076 closed

[2020-09-17 20:28] #11004 closed

[2020-09-17 20:46] seanmwinn opened #13210 "Helm: Helm Chart Refactoring"
## Proposal / RFE

Re-Factoring the Cilium Helm Charts

Presently, the helm charts face the following problems/challenges:
1. The sub-chart organization does not compose pieces of Cilium into independently deployable applications. By definition, a sub-chart is its own composable application. The current sub-chart configuration has multiple cross-dependencies, violating this fundamental rule. (ref:

[2020-09-17 20:53] tklauser commented on #13062
Hit in #13203: https://jenkins.cilium.io/view/PR/job/Cilium-PR-K8s-1.12-net-next/507/testReport/junit/Suite-k8s-1/12/K8sBandwidthTest_Checks_Bandwidth_Rate_Limiting_Checks_Pod_to_Pod_bandwidth__vxlan_tunneling/

[2020-09-18 02:57] vsxen opened #13211 "annotate Layer 7 Protocol Visibility Not work（Unable to enqueue endpoint policy visibility event）"
[code]

[2020-09-18 04:28] #10637 closed

[2020-09-18 09:12] Jianlin-lv opened #13214 "cilium_cgroups_$WHERE is not listed in the bpf file system"
**General Information**

- Cilium version: the latest master branch
- Kernel version
uname -a
Linux jianlin 5.9.0-rc1+ #3 SMP Thu Aug 20 09:05:37 UTC 2020 aarch64 aarch64 aarch64 GNU/Linux

cilium uses the following commands to load Cgroups prog:
[code]
According to my understanding, cilium_cgroups_sendmsg4 has been pinned, this file should be viewed in the /sys/fs/bpf/tc/globals/ directory, But a

[2020-09-18 09:26] #13193 closed

[2020-09-18 09:43] borkmann commented on #13214
Hello @Jianlin-lv the agent temporarily pins the prog in bpf fs: https://github.com/cilium/cilium/blob/master/bpf/init.sh#L355 We do not need to keep it there which is why it is removed after it got attached via bpftool. So very much intentional since there is no other benefit to keep it pinned after it was attached.

[2020-09-18 09:53] Jianlin-lv commented on #13214
Thanks for your reply, I will close this question. @borkmann

[2020-09-18 09:54] #13214 closed

[2020-09-18 11:03] felixheinonen opened #13216 "spec.validation.openAPIV3Schema.type: Required value: must not be empty"
## Bug report

**General Information**

- Cilium version  1.8.3 f8426607c 2020-09-16T15:05:27-07:00 go version go1.14.9 linux/amd64
 docker tag v1.8 cilium@sha256:d80f2cc60a590f013d971e3006484b006ee724309459b02cd2b0128cc634ff40
- Kernel version 4.14.193-149.317.amzn2.x86_64
- Orchestration system version in use kube 1.15.11 on EKS
- Link to relevant artifacts (policies, deployments scripts, ...)

[2020-09-18 11:34] splushii commented on #13167
@pchaigno @aanm This is not just happening with `kube-dns` pods. I checked one cluster and we have IP mismatch on 8/20 Cilium managed pods.

Can there be a configuration error?

[2020-09-18 11:37] #13216 closed

[2020-09-18 11:47] felixheinonen opened #13217 "Cilium fails to start due to unavailable addresses"
## Bug report

**General Information**

General Information

Cilium version 1.8.3 f842660 2020-09-16T15:05:27-07:00 go version go1.14.9 linux/amd64
docker tag v1.8 cilium@sha256:d80f2cc60a590f013d971e3006484b006ee724309459b02cd2b0128cc634ff40
Kernel version 4.14.193-149.317.amzn2.x86_64
Orchestration system version in use kube 1.15.11 on EKS

**How to reproduce the issue**
Cilium fails to start du

[2020-09-18 12:56] pchaigno opened #13218 "bugtool: Incorrect BPF filesystem path"
In bugtool, the path to the BPF filesystem is hardcoded to `/sys/fs/bpf`:
https://github.com/cilium/cilium/blob/f55458f9bfd412b7334b535c43bab593910c6b31/bugtool/cmd/configuration.go#L67-L70

In some environments, however, the BPF filesystem is mounted elsewhere. Our bugtool should retrieve the correct path automatically. Without this we may be missing some map contents (e.g., CT maps) in some envi

[2020-09-18 13:02] qmonnet commented on #13218
Note: the agent retrieve the alternate location with the `--bpf-root` option and holds it in the `option.Config.BPFRoot` variable.

[2020-09-18 16:13] christarazi commented on #13192
Fixed by #13196.

[2020-09-18 16:13] #13192 closed

[2020-09-18 16:37] hupiper commented on #10013
I have a large customer asking about it.

[2020-09-18 17:46] aanm commented on #13167
@splushii this PR [1] explains a little bit of what you are seeing but I'm not so sure that would fix your issue. Would you be able to test it once it's backported and report back? Thanks

[1] https://github.com/cilium/cilium/pull/13220

[2020-09-18 20:32] christarazi commented on #13217
I was able to reproduce this, thanks for the information. I will dig into this.

[2020-09-18 21:11] pchaigno opened #13222 "Rename buildDuration metric to clarify it is total time"
The buildDuration metric is actually the total time in both the policy regeneration statistics and the regeneration statistics.
https://github.com/cilium/cilium/blob/fb0c3e592d7a9da854f9d38345fbb5720ea3b073/pkg/endpoint/metrics.go#L99
It should be renamed accordingly.

[2020-09-18 22:10] schamane commented on #10645
On Ubuntu hosted by Hetzner i dont have any config added by hetzner self anymore. But had same issue with systemd. So i added sysctrl configuration and got cilium 1.8.3 working.

ubuntu version 20.04.1
kernel 5.8.10-050810-generic
docker 19.3.13
kubernetes 1.19.2
systemd 245 (245.4-4ubuntu3.2)

[code]

[2020-09-19 03:16] #11726 closed

[2020-09-19 14:53] networkop commented on #12988
PR is ready for review :+1:

[2020-09-19 19:25] aanm opened #13224 "CI: K8sServicesTest Checks service across nodes Tests NodePort BPF Tests with direct routing Tests NodePort with Maglev Tests Maglev backend selection"
## CI failure

[code]
https://jenkins.cilium.io/job/Cilium-PR-K8s-1.12-net-next/519/testReport/junit/Suite-k8s-1/12/K8sServicesTest_Checks_service_across_nodes_Tests_NodePort_BPF_Tests_with_direct_routing_Tests_NodePort_with_Maglev_Tests_Maglev_backend_selection/

[22314fb4_K8sServicesTest_Checks_service_across_nodes_Tests_NodePort_BPF_Tests_with_direct_routing_Tests_NodePort_with_Maglev_Tests_Mag

[2020-09-19 23:04] #11634 closed

[2020-09-19 23:04] #11849 closed

[2020-09-19 23:04] #11718 closed

[2020-09-19 23:04] #12444 closed

[2020-09-19 23:04] #12439 closed

[2020-09-20 08:36] #9979 closed

[2020-09-21 02:57] Hokwang commented on #13182
Hi,
by the way, I saw little big changes in hubble-ui shub chart.
I am using v0.6.1 so if v0.7.1 has no problem about item3, you can close this issue.

here's more info for item3.
when I use myvalues.yaml
[code]
![image](https://user-images.githubusercontent.com/1247030/93729878-3dc97080-fc01-11ea-901a-adb31e4e188f.png)

and trying below code, but didn't work. and can't find the solution.
[code]
(

[2020-09-21 06:22] bmcustodio opened #13225 "'fromEndpoints' in ingress rule causes traffic to be dropped"
## Bug report

**General Information**

- Cilium version (run `cilium version`)

[code]

- Kernel version (run `uname -a`)

[code]

- Orchestration system version in use (e.g. `kubectl version`, Mesos, ...)

[code]

- Link to relevant artifacts (policies, deployments scripts, ...)

https://gist.github.com/bmcustodio/9beed7d9d986ff2646de9424fdbb8b46

- Generate and upload a system zip:
[code]

**Ho

[2020-09-21 06:33] bmcustodio commented on #13225
I should add that regardless of whether `fromEndpoints` is present or not (and hence of whether traffic is dropped or not), `cilium policy trace` always outputs the same result:

[code]

[2020-09-21 07:53] splushii commented on #13167
@aanm Yes, no problem!

[2020-09-21 08:05] maran-maran opened #13227 "cilium IPAM - multiple ippools for one cluster in Cluster Mesh setup"
Hello. With calico-ipam, it is possible to setup multiple ippools(If there is no more space in one pool, node will get ips forom the other pool).
Is there any way how to get the same behavior with cilium ipam?

Our  setup/use-case:
- We have one shared address space for all our k8s clusters (for example 10.0.0.0/13).
- We do not know how they will scale. So we need to allocate IPs effectively (for

[2020-09-21 09:25] aanm opened #13230 "CI: K8sBandwidthTest Checks Bandwidth Rate-Limiting Checks Pod to Pod bandwidth, geneve tunneling"
## CI failure

[code]

[2a2ba51b_K8sBandwidthTest_Checks_Bandwidth_Rate-Limiting_Checks_Pod_to_Pod_bandwidth,_geneve_tunneling.zip](https://github.com/cilium/cilium/files/5254466/2a2ba51b_K8sBandwidthTest_Checks_Bandwidth_Rate-Limiting_Checks_Pod_to_Pod_bandwidth._geneve_tunneling.zip)

https://jenkins.cilium.io/job/Cilium-PR-K8s-1.12-net-next/520/testReport/junit/Suite-k8s-1/12/K8sBandwidthTest_C

[2020-09-21 09:25] #13185 closed

[2020-09-21 09:27] #13165 closed

[2020-09-21 09:28] aanm commented on #13230
Duplicate of https://github.com/cilium/cilium/pull/13203

[2020-09-21 09:28] #13230 closed

[2020-09-21 09:45] #13155 closed

[2020-09-21 10:00] aanm commented on #13225
@bmcustodio I can't replicate the issue with 1.8.3. Please also add the sysdump of your environment.

[2020-09-21 12:28] liweilun0408 opened #13231 "kubeProxyReplacement=strict,scheduler and controller can't be healthy"
I use this command to install kubernetes
kubeadm init --image-repository registry.aliyuncs.com/google_containers  --kubernetes-version=stable  --pod-network-cidr=10.244.0.0/16 --apiserver-advertise-address=172.16.30.29 --skip-phases=addon/kube-proxy;

and i use helm install cilium
helm install cilium cilium/cilium     --namespace kube-system --set nodeinit.restartPods=true     --set global.autoDir

[2020-09-21 12:33] liweilun0408 commented on #13231
the firewall and selinux always closed

[2020-09-21 12:49] Rolinh opened #13233 "Hubble: provide alternative to Helm for automatic TLS certs generation"
PR #12906 and #12900 introduced mTLS support for Hubble server and Hubble Relay. This support comes with automatic TLS certificates creation via Helm and is enabled by default when deploying Cilium with Hubble and Hubble Relay.

There are two caveats with using Helm to generate TLS certificates:

- The Helm templates make use of [sprig's `genCA` and `genSignedCert` functions](https://masterminds.g

[2020-09-21 12:59] aanm commented on #13231
@liweilun0408 That behavior is not because of Cilium. Check https://github.com/kubernetes/kubeadm/issues/2222 for more info.

[2020-09-21 14:51] nebril opened #13236 "CI: K8sPolicyTest Multi-node policy test with L7 policy using connectivity-check to check datapath"
There seems to be a rare port conflict in this test:

[code]

https://jenkins.cilium.io/job/cilium-ginkgo/job/cilium/job/master/5663/testReport/junit/Suite-k8s-1/12/K8sPolicyTest_Multi_node_policy_test_with_L7_policy_using_connectivity_check_to_check_datapath/

https://jenkins.cilium.io/job/cilium-master-K8s-all/435/testReport/junit/Suite-k8s-1/15/K8sPolicyTest_Multi_node_policy_test_with_L7_polic

[2020-09-21 14:53] nebril commented on #12891
This happens around once per week, moving to rare flakes.

[2020-09-21 16:22] tgraf commented on #12679
@hightoxicity Can you still reproduce this with the new native GKE support documented here?

https://cloud.google.com/blog/products/containers-kubernetes/bringing-ebpf-and-cilium-to-google-kubernetes-engine

[2020-09-21 20:36] hightoxicity commented on #12679
That is something engineered by Google, that is to say something you can turn on only creating a new cluster, not on existing cluster (like enabling rbac for groups), maybe they are thinking we are about to switch our clusters every 2 monthes, one day maybe I willl be able to migrate everything from one cluster to another but I can not just for now.
I am also still waiting for support in the tf gk

[2020-09-21 22:13] nustiueudinastea opened #13239 "Multicast support"
## Proposal / RFE

**Is your feature request related to a problem?**

Our usecase involves distributing audio/video feeds to multiple consumers running in the cluster, via UDP and multicast.

**Describe the solution you'd like**

L3 multicast support in Cilium. Throwing this idea here to see if it makes sense at all to have this and if it’s even possible. Thanks!

[2020-09-21 23:33] joestringer commented on #13194
This is a great question. In recent versions we have begun to use `SO_REUSEPORT` already to minimize downtime (#12801). However there still remains a period where kubernetes shuts down the existing pod and launches the new pod. This can last typically for several seconds. Last time I looked, this was more influenced by k8s scheduling of the new pod and less about Cilium startup time (assuming pref

[2020-09-21 23:42] joestringer commented on #12824
I'm not sure what @brb was looking for but these logs from the agent zip in the original issue descrption seem relevant:

[code]

This suggests that Cilium was unable to determine the L2 address of the peer. What's unclear to me right now is whether there is something in the network which should be responsible for responding to the ARP pings (and it isn't responding) or whether there's something C

[2020-09-22 01:15] YesemKebede opened #13240 "Intermittent 504 error from service when using ingress network policy."
## Bug report

**General Information**

- Cilium 1.8.2 (Installed via Helm)
- EKS 1.17, v1.17.9-eks-4c6976
- `Kernel version` : 5.4.58-27.104.amzn2.x86_64
- Orchestration system version in use `kubectl version`: v1.17.4

**How to reproduce the issue**

1. Apply the following Ingress network policy:
[code]
2. Curl service-1 through the ingress controller

[code]

### Additional Logs

1. The logs on

[2020-09-22 08:04] #8604 closed

[2020-09-22 08:41] #12988 closed

[2020-09-22 08:59] Jianlin-lv opened #13243 "lbmap：Port information display error"
- Cilium version: master latest version
- Kernel version
uname -a
Linux jianlin 5.9.0-rc1+ #3 SMP Thu Aug 20 09:05:37 UTC 2020 aarch64 aarch64 aarch64 GNU/Linux

The endianness of my test environment is little endian;
The port information displayed by given maps(cilium_lb4_services_v2/cilium_lb4_backends/cilium_lb4_reverse_nat) is incorrect;
The port info is stored in network byte order;

[code]

[2020-09-22 09:35] #13166 closed

[2020-09-22 10:35] gandro commented on #13240
Thanks for the report! This is weird indeed. What stands out to me is that the drop seems to because the datapath is considering identity 2 (`reserved:world`) for pod `10.20.136.209`, even though it should have identity `3070`.

Are you able to provide us with a [sysdump](https://docs.cilium.io/en/v1.8/troubleshooting/#reporting-a-problem)? Having additional information about e.g. the state of the

[2020-09-22 14:52] YesemKebede commented on #13240
@gandro here is the [cilium-sysdump](https://github.com/cilium/cilium/files/5262253/cilium-sysdump-20200922-094216.zip)

[2020-09-22 15:52] lrouquette commented on #13194
Totally: I wouldn't expect the full functionality and definitely no bpf changes.

I like it! Out of curiosity, is the data used by the proxies strictly local to the node where the traffic originates? I wonder if service topology would help here....

[2020-09-22 16:02] aanm opened #13251 "Unit test fail: ENISuite.TestNodeManagerDefaultAllocation"
They in the PR https://github.com/cilium/cilium/pull/12789 where the unit tests are running with the race detector mode enabled.

[code]

Full logs https://api.travis-ci.com/v3/job/389282143/log.txt

[2020-09-22 16:02] aanm opened #13252 "Fix unit tests for arm64 with race detector"
They are being enabled in PR https://github.com/cilium/cilium/pull/12789 and seem to be currently failing.
[code]

[2020-09-22 16:46] gandro commented on #13240
@YesemKebede Thank you!

A few observations: The endpoint with IP `10.20.136.209` exists, but is absent in the ipcache. I also see the IP `10.20.136.209` has been used for completed K8s jobs.

@aanm Could this be a duplicate of #12953 ?

[2020-09-22 16:55] anfernee opened #13254 "All egress traffic dropped after cilium-agent quits"
## Bug report

When both ENABLE_IPV4 and ENABLE_IPV6 is enabled, after cilium-agent quits, all the egress traffic will be dropped. The traffic is back to normal after tc egress hook on native nic is deleted.

**General Information**

- Cilium version (run `cilium version`)
[code]
- Kernel version (run `uname -a`)
[code]
- Orchestration system version in use (e.g. `kubectl version`, Mesos, ...)
[co

[2020-09-22 17:03] aditighag commented on #12756
Hit again on #12831
https://travis-ci.com/github/cilium/cilium/jobs/388954767

[2020-09-22 17:44] aditighag opened #13256 "CI: K8sPolicyTest Multi-node policy test validates ingress CIDR-dependent L4 connectivity is restored after importing ingress policy"
CI failure

[code]
https://jenkins.cilium.io/job/Cilium-PR-K8s-1.12-net-next/542/testReport/junit/Suite-k8s-1/12/K8sPolicyTest_Multi_node_policy_test_validates_ingress_CIDR_dependent_L4_connectivity_is_restored_after_importing_ingress_policy/attachments/f5c2e1d1_K8sPolicyTest_Multi-node_policy_test_validates_ingress_CIDR-dependent_L4_connectivity_is_restored_after_importing_ingress_policy.zip

htt

[2020-09-22 18:24] alex1989hu commented on #13240
I also saw that behaviour. I had to patch the policy to allow `world`. The policy itself was quite old, but we need to reach the service again as soon as possible. Similar story, maybe it is related, too. I had to kill a `loki` Pod because it started to drop requests from new Pod (recent `grafana` upgrade) - policy verdict was allow. If there was any policy, then it always dropped the incoming req

[2020-09-22 20:15] joestringer commented on #13254
Thanks for the report! PROG_ARRAY maps have special properties for reference management to ensure that the resources are cleaned up properly when the programs are removed. I wonder if there's some piece we're missing when comparing the netdev calls map vs. the other calls maps that the agent creates.

[2020-09-22 21:00] anfernee commented on #11180
any updates @borkmann @qmonnet on this issue?

[2020-09-22 23:13] adamwg commented on #12489
I'm hitting this as well. Output of `cilium status` (after the test run - hard to catch it during):

[code]

Note that the unreachable node is normal - that node is not schedulable in the cluster.

Config:
[code]

Any potential workarounds for this?

[2020-09-22 23:17] sayboras commented on #13183
Maybe wait for this one https://github.com/cilium/cilium/issues/13210 first, as this is big change.

[2020-09-23 00:42] joestringer commented on #13194
For egress L7, yes. More broadly speaking, it's not necessarily for where the traffic 'originates', but local yes. In the case of ingress L7, it's applying policy for the destination pod and is locally configured by the agent at the destination.

[2020-09-23 05:21] christarazi commented on #13256
Is this the same as https://github.com/cilium/cilium/issues/12596?

[2020-09-23 05:25] aditighag commented on #13256
K8sPolicyTest Multi-node policy test validates ingress CIDR-dependent L4 (FromCIDR + ToPorts) connectivity is restored after importing ingress policy vs K8sPolicyTest Multi-node policy test validates ingress CIDR-dependent L4 connectivity is restored after importing ingress policy (this PR)

The link from #12596 isn't available anymore so I can't check the test details. @pchaigno Are these same te

[2020-09-23 05:47] pchaigno commented on #13256
Yes, that's the same test according to the title and the same failure according to the stacktrace. Sorry about this @aditighag, it looks like I don't remember all the flake issues I've opened :-/

[2020-09-23 05:49] #13256 closed

[2020-09-23 06:56] fristonio commented on #12489
Hey @adamwg
I am working on this, didn't get the time to investigate deep into this though. Looking to pick this up later this week, I will update the thread if I find something useful.

[2020-09-23 08:59] #12471 closed

[2020-09-23 09:28] gandro opened #13261 "CI: K8sServicesTest Checks service across nodes Tests NodePort BPF Tests with direct routing Tests NodePort with Maglev Tests NodePort"
## CI failure

Hit on PR #13248

[code]

[c6cabf88_K8sServicesTest_Checks_service_across_nodes_Tests_NodePort_BPF_Tests_with_direct_routing_Tests_NodePort_with_Maglev_Tests_NodePort.zip](https://github.com/cilium/cilium/files/5267075/c6cabf88_K8sServicesTest_Checks_service_across_nodes_Tests_NodePort_BPF_Tests_with_direct_routing_Tests_NodePort_with_Maglev_Tests_NodePort.zip)

https://jenkins.cili

[2020-09-23 10:04] qmonnet commented on #11180
No, I don't believe anyone has had time to progress on this :/. Feel free to take it if you're interested.

[2020-09-23 10:07] #13093 closed

[2020-09-23 10:15] aanm opened #13262 "Potential deadlock: Inconsistent locking in pkg/ipam/node"
[code]

Full logs https://api.travis-ci.com/v3/job/389634747/log.txt

[2020-09-23 11:08] nebril commented on #12891
I saw two failures today, moving to daily flakes, would be nice to investigate.

[2020-09-23 11:13] aanm commented on #13240
@gandro Likely, let's see if the issue gets fixed once https://github.com/cilium/cilium/pull/13263 is merged

[2020-09-23 11:59] aanm opened #13264 "[RACE Detector]: hubble/parser/seven.decodeEndpoint()"
[code]

[code]

[K8sConformance_Portmap_Chaining_Check_connectivity-check_compliance_with_portmap_chaining.zip](https://github.com/cilium/cilium/files/5267793/K8sConformance_Portmap_Chaining_Check_connectivity-check_compliance_with_portmap_chaining.zip)

[2020-09-23 11:59] aanm opened #13265 "[RACE Detector]: pkg/policy/api.(*IngressRule).SetAggregatedSelectors()"
[code]
Link with the jenkins artifacts. (They shouldn't be required since the trace contains the necessary information)

https://jenkins.cilium.io/job/Cilium-PR-K8s-1.19-kernel-4.9-Race-Detection/6/artifact/682f0968_K8sPolicyTest_Basic_Test_Validate_CNP_update_Verifies_that_a_CNP_with_L7_HTTP_rules_can_be_replaced_with_L7_Kafka_rules.zip

[2020-09-23 12:28] gandro commented on #11314
This has not been observed in last 4 months. Closing as stale.

[2020-09-23 12:28] #11314 closed

[2020-09-23 12:28] gandro commented on #11699
This has not been observed in last 3 months. Closing as stale.

[2020-09-23 12:28] #11699 closed

[2020-09-23 16:01] aditighag opened #13268 "Restore clusterIP service after the local-redirect service entry is removed"
When a user installs a `LocalRedirectPolicy` for a clusterIP service, cilium agent overrides the current clusterIP service entry with a local-redirect service with node-local backends. However, when the local-redirect service entry is removed, either when node-local backends are deleted or the LRP is deleted, we should restore the original clusterIP service with all the available (local + remote)

[2020-09-23 16:17] anfernee commented on #11180
We would love to. It would be nice to have your suggestions. Will sync on slack on details.

[2020-09-23 16:24] aditighag commented on #13268
@Weil0ng We can do something similar to how `correlateEndpoints` is called upon updateService - https://github.com/cilium/cilium/blob/master/pkg/k8s/service_cache.go#L185

[2020-09-23 17:35] adamwg commented on #12489
Pretty sure I've figured this out.

With debug logging enabled, if I change the `labels` for a Service, I see a `Kubernetes service definition changed` message in the logs. However, if I change only the `sessionAffinity` of the service, no such message is produced.

Digging into the cilium code, [this function](https://github.com/cilium/cilium/blob/master/pkg/k8s/service.go#L297) is used to determ

[2020-09-23 19:26] asannes opened #13269 "static egress ip for services"
## Proposal / RFE

I would like to control what IP is used when a service is connecting to something externally from the k8s cluster.

**Is your feature request related to a problem?**

Scenario is as follows:

SMTP submission server (sending e-mails for external clients), it is running as a deployment with multiple replicas on multiple nodes exposed as a service.

"Other" service is also running

[2020-09-23 21:42] pielu opened #13270 "EKS cilium-operator to use IAM role service account"
## Proposal / RFE

**Currently entire worker node requires IAM permissions for operator to work**

**Using IAM with service accounts scopes permission requirement only to the selected pods**

Cilium's helm chart already allows annotating service accounts. However that makes not effect despite pod receiving required `AWS_ROLE_ARN` and `AWS_WEB_IDENTITY_TOKEN_FILE` environmental variables. The opera

[2020-09-23 21:55] adamwg commented on #12489
The change in #13271 fixes this issue in my setup. Once that's merged I'd appreciate a backport to 1.8 and a patch release - let me know if there's anything I can do to help make that happen.

[2020-09-24 00:44] lrouquette commented on #13194
duh! I forgot about ingress! ok.

[2020-09-24 02:20] #13143 closed

[2020-09-24 04:24] #12501 closed

[2020-09-24 06:48] wenxinlee2015 commented on #13227
In addition to the scenario where multiple IP pools are used to supplement IP addresses, I have another scenario here: In the same k8s cluster, computing nodes in different racks or regions will have different assigned IP blocks due to physical network restrictions. For example, rack1 needs to allocate the ip block in 192.168.0.0/24 for Pod, and rack2 needs to allocate the ip block for Pod in 192.

[2020-09-24 07:46] fristonio commented on #12489
Hey, @adamwg thanks for your contribution :rocket: . The PR is labeled with `backport/1.8` and will be picked up by backporters team soon to land into 1.8 release.

[2020-09-24 07:52] aanm opened #13275 "CI: K8sServicesTest Checks service across nodes Tests NodePort BPF Tests with vxlan Tests with secondary NodePort devices"
## CI failure

[code]
[72fba333_K8sServicesTest_Checks_service_across_nodes_Tests_NodePort_BPF_Tests_with_vxlan_Tests_with_secondary_NodePort_device.zip](https://github.com/cilium/cilium/files/5274350/72fba333_K8sServicesTest_Checks_service_across_nodes_Tests_NodePort_BPF_Tests_with_vxlan_Tests_with_secondary_NodePort_device.zip)

[2020-09-24 09:33] #12489 closed

[2020-09-24 13:49] pchaigno opened #13276 "CI: GKE: K8sUpdates Tests upgrade and downgrade from a Cilium stable image to master"
This test is currently failing about 1/4 on GKE and was quarantined about a month ago. The current error is displayed below but it may be hiding other issues given this has been quarantined for a while, in https://github.com/cilium/cilium/commit/fef1a0d4f6f95e7843a25a9eeb439482aa95156a. It wasn't documented at the time, so there is no way to know what was the error back then.

https://jenkins.cili

[2020-09-24 15:09] manuelbuil opened #13278 "[DOC] Missing docs about installation using kubeadm"
## Bug report

When searching for information about how to install Cilium CNI with kubeadm, the documentation promises to find the instructions to install Cilium on K8s in [the official Kubernetes documentation](https://docs.cilium.io/en/v1.8/gettingstarted/k8s-install-kubeadm/). However, the link shows no instructions, just general CNI information. I think that link used to show the instructions

[2020-09-24 16:10] pielu opened #13279 "Helm chart to support affinity for operator"
## Proposal / RFE

**Helm chart could support affinity settings for operator**

The deamonset for e.g. agent has the following in the template
[code]
However, the deployment for the operator has it static in template
[code]
It would be great to make operator's affinity parametrized as well.

[2020-09-24 16:15] manuelbuil opened #13280 "L7 CNP not working correctly"
## Bug report

**General Information**

- Cilium version
Client: 1.8.3 54cf3810d 2020-09-04T14:01:53+02:00 go version go1.14.7 linux/amd64
Daemon: 1.8.3 54cf3810d 2020-09-04T14:01:53+02:00 go version go1.14.7 linux/amd64

- Kernel version (run `uname -a`)
4.12.14-lp151.28.44-default #1 SMP Fri Mar 20 18:20:20 UTC 2020 (dbf1aea) x86_64 x86_64 x86_64 GNU/Linux

- Orchestration system version in use

[2020-09-24 16:19] mrostecki commented on #13278
Huh, that page in k8s documentation:

https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/create-cluster-kubeadm/#pod-network

used to have information how to deploy the most popular CNI plugins (IIRC also Calico, Weave), but it's not there anymore. @aanm were you aware of it being removed?

[2020-09-24 16:20] aanm commented on #13280
@manuelbuil does `kubectl exec -ti multitool-7f647bbbd7-8jtpg -- curl -I http://10.244.1.170:80/status` work?

[2020-09-24 16:25] manuelbuil commented on #13280
Same:

[code]

[2020-09-24 17:26] christarazi commented on #12862
Hit again in https://github.com/cilium/cilium/pull/13272

https://jenkins.cilium.io/job/Cilium-PR-Runtime-4.9/1891/

[2020-09-24 18:58] nathanjsweet opened #13282 "CI: v1.7: "K8sDatapathConfig ManagedEtcd Check connectivity with managed etcd" backport needed"
[This](https://github.com/cilium/cilium/pull/11544) needs to be backported to v1.7.
The problem is also reported [here](https://github.com/cilium/cilium/issues/12777)
Failures:
https://jenkins.cilium.io/view/Cilium-v1.7/job/cilium-v1.7-standard/1887/
https://jenkins.cilium.io/view/Cilium-v1.7/job/cilium-v1.7-standard/1886/
https://jenkins.cilium.io/view/Cilium-v1.7/job/cilium-v1.7-standard/1885/

[2020-09-24 19:11] adityabond opened #13284 "Cilium policy inconsistently allows traffic between two services"
## Bug report

**General Information**

- Cilium version (run `cilium version`)
Client: 1.8.2 aa42034f0 2020-07-23T15:02:39-07:00 go version go1.14.6 linux/amd64
Daemon: 1.8.2 aa42034f0 2020-07-23T15:02:39-07:00 go version go1.14.6 linux/amd64
- Kernel version (run `uname -a`)
 x86_64 x86_64 x86_64 GNU/Linux
- Orchestration system version in use (e.g. `kubectl version`, Mesos, ...)
- Link to relev

[2020-09-24 19:49] Weil0ng commented on #13268
Question, do we need to retain the same service id in lbmap when restoring original service? I don't see a particular reason that we have to but maybe I missed something?

[2020-09-24 21:16] aanm commented on #13278
@mrostecki yes, that page was removed from Kubernetes. We should update the documentation to have kubeadm instructions that were on that page.

[2020-09-24 21:42] #13047 closed

[2020-09-24 23:30] christarazi commented on #13280
@manuelbuil Doing `curl -I` will send a `HEAD` request, which is not allowed by your policy. The policy only allows `GET`.

[2020-09-25 00:19] mrostecki commented on #13278
OK, I will add it then.

[2020-09-25 07:27] fristonio commented on #12247
Fixed in #13162
I am creating a followup issue to address the fact that Dual Stack IPv6 Nodeport services don't work when running alongside kube-proxy in Iptables mode. This should not be a problem in kube-proxy free and kube-proxy with ipvs mode.

[2020-09-25 07:28] #12247 closed

[2020-09-25 11:37] #12953 closed

[2020-09-25 11:58] manuelbuil commented on #13280
I think you are confusing -I with -H. As far as I know, -I sends the GET request but only prints what is called the "document info only" where the HTTP code of the response can be easily seen. Look:

[code]

[2020-09-25 14:16] mrostecki opened #13293 "CI: v1.7: Travis, pkg/proxy unit test failing with runtime error"
Failure observed in #13292, occuring on 1.7 branch (that pull request doesn't modify affected package).

https://travis-ci.com/github/cilium/cilium/builds/186643771

[code]

[2020-09-25 14:28] mrostecki commented on #13293
Closing. Apparently I can't reproduce it on v1.7 branch, only on my backport PR.

[2020-09-25 14:28] #13293 closed

[2020-09-25 15:37] aditighag opened #13294 "Native redirect follow-ups"
This is a placeholder bug for all the pending issues/TODOs -

v1.9:
Items with linked PRs are currently in review.

- [X] Add feature flag and warn when sk_lookup_* are not available (#13671)
- [X] Disable clusterwide LRP related processing (#13671)
- [X] Service translation caused loops in kiam like use cases (#13287)
- [X] Monitor health status of backend pods and update service entries (#13168)

[2020-09-25 16:01] aanm commented on #13284
it's possible this will be fixed by https://github.com/cilium/cilium/pull/13263

[2020-09-25 16:54] fristonio commented on #11302
Related failures in upstream Services conformance tests

[code]

[2020-09-25 18:46] smijolovic opened #13296 "Cilium no longer building correctly in 1.8.x"
In 1.7.x...building natively works correctly:

go get -u github.com/go-bindata/go-bindata/...
make -C daemon apply-bindata
make LOCKDEBUG=  PKG_BUILD=1 V=  LIBNETWORK_PLUGIN=  SKIP_DOCS=true DESTDIR=$BUILD_CILIUM/cilium-$BUILD_CILIUM_RELEASE/install-$BUILD_CILIUM_RELEASE clean-container build-container install-container

make CGO_ENABLED=0 GOOS=linux LOCKDEBUG=  PKG_BUILD=1 EXTRA_GOBUILD_FLAGS="-a

[2020-09-25 21:03] aditighag commented on #13040
We discussed about node-local DNS functionality in the recent sig-datapath meetings - https://docs.google.com/document/d/1IZZ-FTM_U3zN06-M_mDOgep_DcDM0Oe3YOFVM1BTIt8/edit#heading=h.rtsvie75srz9

@Weil0ng Given that we have some protections in place in cilium around managing conntrack entries, I believe we left the discussion at a point, where it was decided to revisit some of the architecture deci

[2020-09-25 21:38] christarazi commented on #13280
You may be right. On my version of `curl`, if I just have a standalone `-I` it will send a `HEAD` request. If I have `-X GET -I`, only then will it do what you described.

Either way I am unable to reproduce the issue on `1.8.3`. I applied the same policy as you and it's working for me.

![image](https://user-images.githubusercontent.com/3885308/94318147-b3ed1080-ff3c-11ea-998c-c104f6d283ad.png)

[2020-09-25 21:53] smijolovic commented on #13296
Fixed the issue using git clone vs using tar.gz archive

[2020-09-25 21:53] #13296 closed

[2020-09-26 07:39] alex1989hu commented on #13096
Created a new cluster, many `cilium` Pods:`cilium status` reports Endpoints `unreachable`.  Do you see any suspicious in the attached `sysdump`?
[cilium-sysdump-20200926-093322.zip](https://github.com/cilium/cilium/files/5286337/cilium-sysdump-20200926-093322.zip)

[2020-09-26 08:52] fristonio opened #13298 "Improve Cilium operator documentation"
There is no section in Cilium docs related to the Cilium operator. Given how integral `cilium-operator` is for the proper functioning of Cilium, it makes sense to have a documentation section for the operator. This section can include the following details:

- [x] Operator overview
- [ ] Configuring operator and details about things like HA mode and metrics.
- [x] Operator operations overview
  -

[2020-09-26 14:51] #12507 closed

[2020-09-27 03:47] konghui commented on #12956
It's my fault I misconfig the nodemasksize grate than 32 for ipv4. It cause ipam return nil and cause this problem.

[2020-09-27 03:47] #12956 closed

[2020-09-27 17:01] gandalfmagic opened #13300 "panic: runtime error with enable-health-check-nodeport: "false" and kube-proxy-replacement: probe"
## Bug report

**General Information**

- Cilium version `v1.8.3`
- Kernel version `Linux test-node6 5.7.0-0.bpo.2-amd64 #1 SMP Debian 5.7.10-1~bpo10+1 (2020-07-30) x86_64 GNU/Linux`
- Kubernetes `v1.18.9`

**How to reproduce the issue**

Hello, I got this error:

[code]

My config:

[code]

[2020-09-27 18:39] #12531 closed

[2020-09-27 22:36] aanm commented on #13300
@gandalfmagic thank you for filling the GH issue, this is already fixed on master and it's going to be fixed once we release 1.8.4 which will happen in the following days.

The PR that fixed this https://github.com/cilium/cilium/pull/13190

[2020-09-27 22:36] #13300 closed

[2020-09-28 07:12] brb commented on #13130
Related to this issue, in the case of multi-dev DSR, cilium-agent might warn about the strict rp_filter mode: https://github.com/cilium/cilium/blob/v1.8.3/daemon/cmd/kube_proxy_replacement.go#L348

[2020-09-28 08:58] joulaud opened #13302 "cilium_identity_count metric is buggy"
## Bug report

**General Information**

- Cilium version `1.6.10 4df8eeb57 2020-07-01T21:54:22-07:00 go version go1.12.17 linux/amd64`
- Kernel version `SMP Debian 5.5.17-1~bpo10+1 (2020-04-23) x86_64 x86_64 x86_64 GNU/Linux`
- Orchestration system version in use: kubernetes`version.Info{Major:"1", Minor:"17", GitVersion:"v1.17.9", GitCommit:"4fb7ed12476d57b8437ada90b4f93b17ffaeed99", GitTreeState

[2020-09-28 09:08] joulaud commented on #13302
cf. https://cilium.slack.com/archives/C53TG4J4R/p1601232078020500?thread_ts=1601203575.018300&cid=C53TG4J4R

[2020-09-28 09:13] brb opened #13303 "Extend "cilium service list" with support for source-ranges"
To dump the LB source range check lists, and replace `time.Sleep()` in the tests, as per https://github.com/cilium/cilium/pull/12841#issuecomment-679883951.

[2020-09-28 09:34] brb commented on #13218
I think `bugtool` should not rely on the agent being up and running. Otherwise, it won't be possible to retrieve its output when `cilium-agent` is failing to run (e.g. due to OOM).

[2020-09-28 09:39] pchaigno commented on #13218
I agree. We should try to get cilium-agent's bpffs path and fallback to our current default otherwise.

[2020-09-28 09:52] qmonnet commented on #13218
There might be a simpler solution, we could search for bpffs mountpoints with `mount | grep bpf` and list all of them (+ fallback on `/sys/fs/bpf/` if nothing found, although I'm not sure if there's a case when it wouldn't show up in `mount`). This way we don't have to ask to the agent.

[2020-09-28 09:53] brb commented on #12489
@olemarkus Does https://testgrid.k8s.io/kops-network-plugins#kops-aws-cni-cilium run with the `cilium/cilium:latest` image?

[2020-09-28 10:09] qmonnet opened #13305 "Consolidate the mock maps used for tests, instead of re-implementing them for each map package"
Follow-up to #10904 (in particular, [this discussion](https://github.com/cilium/cilium/pull/10904/#discussion_r411761589)).

For unit tests involving eBPF maps we use several “mock” maps (`pkg/maps/nat/nat_mock.go`, `pkg/maps/ctmap/ctmap_mock.go`, `pkg/maps/lbmap/lbmap_mock.go`), that are implemented in the related packages. It would be cleaner and more reusable to consolidate the implementation o

[2020-09-28 10:18] olemarkus commented on #12489
No, it runs with the default version in kops, which is currently 1.8.3.
The reason it shows green is because we filter failing tests that are outside of our control. Once the backports have been released, I can update cilium and remove the filters.

[2020-09-28 12:16] gandalfmagic opened #13308 "DNS rules don't work anymore on kubernetes 1.18 with cilium 1.8"
## Bug report

**General Information**

- Cilium version `1.8.3 54cf3810d`
- Kernel version `Linux node1 5.7.0-0.bpo.2-amd64 #1 SMP Debian 5.7.10-1~bpo10+1 (2020-07-30) x86_64 GNU/Linux`
- Orchestration system `Kubernetes v1.18.9`

**Description of the problem**

After upgrading a Kubernetes cluster from v1.17.7 to v1.18.9 and Cilium from 1.7.5 to v1.8.3 the policies containing a DNS rule don't wo

[2020-09-28 14:11] brb commented on #10462
@jaygorrell Thanks for the sysdump. Can you list some `xx drop (FIB lookup failed)` from the cluster in the sysdump?

[2020-09-28 15:24] manuelbuil commented on #13280
Thanks for the reply. I wonder what is different in my deployment...

Can you show me the dynamic_listeners in your envoy configuration please? I'd like to see if you have something different there because I suspect my envoy config is wrong as, foe example, I see no "/status/" path whatsoever in the filter even though I configured it. I normally get that config by executing `curl -X GET --unix-soc

[2020-09-28 16:36] pchaigno commented on #12891
According to the policies loaded on the node, traffic should be denied but it's not. Thus, the test fails. It could be that the BPF policy map content is somehow out of sync. with the policies.

I started a PR last week to dump the content of the BPF policy maps when the test fails: https://github.com/cilium/cilium/pull/13295. The test didn't fail again since I opened the PR.

[2020-09-28 16:36] nathanjsweet commented on #13282
https://jenkins.cilium.io/view/Cilium-v1.7/job/cilium-v1.7-standard/1901/

[2020-09-28 16:38] nathanjsweet commented on #12891
https://jenkins.cilium.io/view/Cilium-v1.7/job/cilium-v1.7-standard/1901/

[2020-09-28 18:04] christarazi commented on #13280
Here's my dynamic listeners (no `/status` either):

[code]

[2020-09-28 18:44] genbit opened #13775 "Hubble Relay slow to respond in follow-mode"
When I run hubble observe with  --to-fqdn and --last flags at the same time, I only get --follow behavior.

See attached screencast.

Hubble CLI version:
[code]

![hubble-observe-fqdn](https://user-images.githubusercontent.com/72428/94471479-1c770000-017e-11eb-96d5-3fee7191a6b6.gif)

[2020-09-28 18:47] jrajahalme commented on #13280
@manuelbuil Cilium will not add any port or path into Envoy listeners, as the Cilium filters you see on the filter take care of the policy enforcement according to the policy sent by Cilium agent. Some additional notes:

- Your policy allows only the path `/status` with method `GET` nothing else. You will need to add a regex to allow anything starting with `/status`: `/status.*`
- Use `curl` with

[2020-09-28 20:52] michi-covalent opened #13311 "enable hubble by default"
i'd like to enable hubble local mode by default (i.e. `hubble.enabled=true`) in v1.9.

probably makes sense to wait for https://github.com/cilium/cilium/pull/13259 to land first.

[2020-09-28 22:41] anfernee commented on #13254
Some additional information about this bug:

netdev_00002 is the external nic, the map was there, but all items were deleted.
netdev_00005 is cilium_net, the was deleted

I found it only happens when bpffs was not mounted on host. Those 2 maps are will be there if bpffs was mounted on the host.

[2020-09-29 01:16] joestringer opened #13314 "v1.7.10 release"
## Pre-release

- [x] Create a [new project] for the next release version
  - v1.7.10: https://github.com/cilium/cilium/projects/126
  - v1.7.11: https://github.com/cilium/cilium/projects/129
- [x] Add build targets for the new release on [Docker Hub]
  - All versions:
    - [cilium](https://hub.docker.com/repository/docker/cilium/cilium/builds/edit)
    - [operator](https://hub.docker.com/reposit

[2020-09-29 01:17] joestringer opened #13315 "v1.8.4 release"
## Pre-release

- [x] Create a [new project] for the next release version
  - v1.8.4: https://github.com/cilium/cilium/projects/125
  - v1.8.5: https://github.com/cilium/cilium/projects/130
- [x] Add build targets for the new release on [Docker Hub]
  - All versions:
    - [cilium](https://hub.docker.com/repository/docker/cilium/cilium/builds/edit)
    - [operator](https://hub.docker.com/repositor

[2020-09-29 02:22] AirbornWdd opened #13316 "BPF masquerade works only in veth mode"
When I enabled bpf-masquerade in ipvlan mode. I got the error message. Do you have some milestones to support bpf-masq in ipvlan mode? Thanks for any reply.

[2020-09-29 06:17] pchaigno commented on #13254
I don't understand. How can bpffs not be mounted on the host when Cilium was running?

[2020-09-29 07:00] zhangjianghua commented on #10402
1.8.2 also encountered this problem；

[2020-09-29 07:40] ghouscht commented on #13115
Sorry for the delay, had some days off I enjoyed without computers.
Thanks for the clarification @gandro, you're of course correct. I will take the time to look at this in the upcoming days. In the meantime is there any "progress" for mirroring the hubble-ui images to DockerHub? 😃

[2020-09-29 07:49] zhangjianghua commented on #10402
1.8.2 also encountered this problem；
If the service sets externalTrafficPolicy: Local, it will not work
If the service is set to externalTrafficPolicy: Cluster, it can be connected, but when the pod ip and node ip are the same, the request will time out
Node access within the cluster is always good

[2020-09-29 07:51] borkmann commented on #10402
Yeah, that is a known limitation to Pods in host Network. We're currently working to find an efficient solution to address this corner case w/o adding too much overhead to the regular fast-path. Workaround for now would be to move them out of host Network.

[2020-09-29 07:59] #13091 closed

[2020-09-29 08:12] Rolinh commented on #13115
@ghouscht  Available ["very soon"](https://hub.docker.com/r/cilium/hubble-ui) :wink:

[2020-09-29 09:59] manuelbuil commented on #13280
Thanks a lot @jrajahalme . This is really useful information and other people might benefit from it. What if I add it to the wiki or to a docs section? If you guys believe this could be useful, I could spend time on that.

A question I still have: is it possible to dump the config of the cilium.l7policy filter? Somewhere where, for example, I could see that "path: status/.*" was correctly configur

[2020-09-29 10:04] brb commented on #13316
It's been planned with a very low priority. However, the new datapath mode based on veth which performance is on par with ipvlan is coming this week (https://linuxplumbersconf.org/event/7/contributions/674/attachments/568/1002/plumbers_2020_cilium_load_balancer.pdf slide 79).

[2020-09-29 13:06] jrajahalme commented on #13280
@manuelbuil Currently it is not possible to dump the policy config Cilium sends to Envoy. Closest thing we have is the `policy.realized` part of the `cilium endpoint get <NN>` output, some of which is *not* sent to Envoy (e.g., DNS rules).

It would be useful if you could contribute some text that you find helpful!

[2020-09-29 15:34] pchaigno commented on #12817
I made some initial evaluations on this last week. I followed our new [performance evaluation guide](https://docs.cilium.io/en/latest/concepts/performance/) to compare Cilium without any policy enforcement (4 related map lookups compiled out) and vanilla Cilium without any policies loaded.

I couldn't see any meaningful differences in terms of pod2pod throughput at this stage. This is also confirm

[2020-09-29 15:53] brb opened #13326 "datapath: Decouple NodePort IP addr from BPF-masq IP addr"
Currently, the same IP addr (`IPV4_NODEPORT`) is used by the BPF-based masquerading. Recently, https://github.com/cilium/cilium/pull/13223 changed the preference order for NodePort IP addr selection - instead of a public IP, a k8s Node IP addr is preferred regardless of the scope. This breaks BPF-masq for deployments with a single iface having both public and private IP addrs AND k8s Node IP being

[2020-09-29 15:59] anfernee commented on #13254
bpffs was mounted in cilium-agent container, not in the host to begin with. I saw the following warning in the cilium log:

https://github.com/cilium/cilium/blob/1536acec32f47e098b811ceaaa5ce536ab565de7/pkg/bpf/bpffs_linux.go#L121-L128

Still I think there is something on cilium side (or kernel) to fix. Without the mount, it shouldn't behave like that. Because the bpffs was mounted inside the cont

[2020-09-29 18:20] danwent opened #13329 "Explicit Drop and Drop Type on Service Translation Failure"
If someone accesses a cluster-ip on a port where there is not an associated service definition, Cilium just seems to forward that traffic.

The end result seems to be that either:
- the traffic is blackholed, as it exits the host to a cluster-ip that is not routable.
- the traffic is dropped with a policy deny, as the cluster-ip is mapped to reserved:world, and if policy denies this traffic, it wi

[2020-09-29 19:06] borkmann opened #13331 "follow-up todos for redirect set"
TODOs 1.9:
- [x] rebuild bpftool for cilium container (https://github.com/cilium/image-tools/pull/64)
- [x] Helm option
- [x] Documentation for upgrade guide
- [x] multi-dev support + CI (pod-pod, pod-world, routing w/o neigh?)
   - [x] https://patchwork.ozlabs.org/project/netdev/patch/20201008145314.116800-1-toke@redhat.com/
- [x] CI test coverage on bpf-next tree (waiting on packet-ci llvm11 dec

[2020-09-29 19:26] joestringer commented on #13329
I think one of the key questions here is how we obtain the cluster-ip CIDR range, unfortunately to date k8s does not expose this information. We can of course add a configuration option where the user must explicitly configure the range and that will inherently enable this functionality, but this will not help users who are unfamiliar with that option and hit the type of debugging issues you highl

[2020-09-29 19:30] joestringer commented on #13329
If there is actually a service configured but there are no backends configured, then this should be easier to figure out and we can likely determine this case in the datapath and trigger an explicit deny. That's a much easier case.

[2020-09-29 19:52] christarazi commented on #13280
@manuelbuil Glad to assist. Yes it would be greatly appreciated if you'd like to update docs!

[2020-09-29 20:30] pchaigno commented on #12542
The test fails when trying to send a request from hostns@node1 (`192.168.36.11`) to a NodePort service with `externalTrafficPolicy=Local` backed by pod@node2 (`10.0.1.223`).

On node2, we can see the SYN packet arrive, the SYN+ACK answer, then node1 answers with a RST:
[code]

On node1, with `global.bpf.monitorAggregation=medium`, we only see the RST packet:
[code]
One thing that is specific to th

[2020-09-29 21:41] joestringer commented on #12795
Same `networkPlugin cni failed to set up pod "redis-master-phzcv_default" network: failed to find plugin "cilium-cni" in path [/opt/cni/bin], failed to clean up sandbox container` error in `pods_status.txt` in the `K8sPolicyTest GuestBook Examples checks policy example` test from #13228, https://jenkins.cilium.io/job/Cilium-PR-Ginkgo-Tests-K8s/3555/testReport/junit/Suite-k8s-1/15/K8sPolicyTest_Gue

[2020-09-29 21:44] christarazi commented on #12737
Re:

As of Sep 2020, Helm 3.3.4 supports [two ways to manage CRDs](https://helm.sh/docs/chart_best_practices/custom_resource_definitions/#install-a-crd-declaration-before-using-the-resource), with only one of them considered ["best practice"](https://helm.sh/docs/chart_best_practices/custom_resource_definitions/#method-1-let-helm-do-it-for-you):

1) Official: Use special `crds/` directory inside t

[2020-09-29 21:55] nr17 opened #13333 "Connection delays with 1.6 to 1.7 upgrade on a 100+ nodes k8s 1.16 cluster"
## Bug report

**General Information**

- Cilium version (run `cilium version`)
[code]
- Kernel version (run `uname -a`)
[code]

- Orchestration system version in use (e.g. `kubectl version`, Mesos, ...)
[code]
- Link to relevant artifacts (policies, deployments scripts, ...)
- Generate and upload a system zip:
The cluster has company specific information. So not uploading sysdump.
cilium pod's in

[2020-09-29 22:30] joestringer commented on #11311
Reopening for v1.7 specifically.

[2020-09-30 00:03] christarazi opened #13338 "Consider "used" or "unused" CNPs / CCNPs as a new metric"
This could be useful in large-scale environments with many policies. We have seen occurrences of many stale policies ("unused") taking up resources in Cilium, causing memory issues and whatnot. The solution is not to garbage-collect or remove "unused" user applied policies, but rather to surface this information as a metric to an operator. This information will enable them to be proactive.

I can

[2020-09-30 00:44] lzang opened #13339 "Not all policy verdict events are reported in load test"
**General Information**

- Cilium version (run `cilium version`): 1.8.2
- Kernel version (run `uname -a`) 4.19

**How to reproduce the issue**

1. Create a network policy to allow Pod A to talk to Pod B.
2. Run a load test which generates a lot of new tcp connections from pod A to pod B.
3. Observe that policy verdict events failed to be generated because a new connection hits an old conntrack ent

[2020-09-30 00:48] joestringer commented on #13308
Thanks for the report!

This is interesting:

[code]
...
[code]

The succession of these entries implies that the `-> proxy` packet destined to the IP `169.254.25.10` is being redirected towards the proxy, and the latter message from the proxy reports that the traffic does not match a DNS policy. This suggests that either the proxy is not being configured with the policy correctly, or the identity

[2020-09-30 00:58] joestringer commented on #13333
Hi @nr17 , thanks for the detailed report!

In the absence of a Cilium sysdump, I'm wondering about the other kinds of information we can get, for instance:
* What kinds of services are involved here? I presume nodeport?
* Are there any network policies in place?
* Is it possible to gather `cilium monitor` output that captures evidence that packets are received to the k8s worker? If there were dro

[2020-09-30 04:55] joestringer commented on #13302
Thanks for the report! This is likely a sign of disbalanced counting on the specific metric - perhaps there's a missing increment, or multiple decrements for some path. Here's how to find the relevant metric:

[code]

[2020-09-30 05:41] joestringer commented on #13254
@anfernee oh, I think the lack of persistent BPFFS explains it. BPFFS is keeping the reference count alive for the tail call programs via the tail call map, so if the BPFFS is not persistent and hence the tail call map is not kept bound to the filesystem, then the map will be tidied up and to prevent leaking of BPF programs, the programs references will be cleaned up.

I'm not sure I understand th

[2020-09-30 08:06] gandalfmagic commented on #13308
Here you go.

[cilium-sysdump-20200930-100053.zip](https://github.com/cilium/cilium/files/5303926/cilium-sysdump-20200930-100053.zip)

[code]

[2020-09-30 09:20] brb commented on #13329
The ClusterIP CIDR range is configured via kube-apiserver's `--service-cluster-ip-range`. I'm wondering whether there is any way to retrieve this w/o parsing cmd line params (/cc @errordeveloper).

[2020-09-30 09:37] andreek commented on #11565
I did configure usage of Flannel with CNI chaining: [chaining.yaml](https://gist.github.com/andreek/93924cf228b2aa0cdbe5fef4c4f9e0b0)

To install cilium I used this helm chart settings:
[code]
connectivity test:
[code]

It looks like there is still the lack of L7 policy support.

[2020-09-30 10:22] errordeveloper commented on #13329
@brb there is a long-standing issue that Bryan opened and I've been part of https://github.com/kubernetes/kubernetes/issues/46508, it has seen some recent activity.

[2020-09-30 10:33] AirbornWdd commented on #13316
excellent !!

[2020-09-30 10:47] brb commented on #12824
That is exactly what I was looking for - `insertNeighbor failed`.

@deesee04 Could it be that in your case there is a gw between k8s nodes?

[2020-09-30 11:41] ti-mo opened #13344 "Move packages from `pkg/` to `internal/`"
Following a discussion in https://github.com/cilium/cilium/pull/13323#issuecomment-700773995, this is an exploratory issue to consider moving packages from `pkg/` to `internal/` if they do not contain any symbols intended for direct external consumption.
The main motivation being API compatibility guarantees, as well as the Go tooling not flagging unused symbols in `pkg/` by default, since they mi

[2020-09-30 14:15] tgraf commented on #10645
A good workaround for this is to enable endpoint-routes `--enable-endpoint-routes`. It enforces symmetric routing. https://github.com/cilium/cilium/pull/13346 is going to fix `endpoint-routes` in combination with tunneling.

[2020-09-30 15:36] #11197 closed

[2020-09-30 16:08] anfernee commented on #13254
Thanks @joestringer for the explanation. When you say tidied up, do you mean empty calls map with no entries, or the map itself was deleted. The reason I ask is I saw cilium_net's map got deleted, eth0's map exists, but has 0 entries. Of course, everything works when I mount BPFFS on host.

[2020-09-30 17:34] liuyuan10 opened #13349 "[Cilium with kubeproxy] IPv4 Fragmented packets are being dropped"
## Bug report

We find even when running cilium with kubeproxy in tunneling mode, IPv4 fragmented packets coming into the cluster (e.g. nodePort) are dropped at a high chance. Further investigation observes:

- OOO packets being observed on the 2nd Node. Proved by "tcpdump -ni cilium_geneve". tcpdump on the first node doesn't see packets reordered.
- The drop happens when fragmented packets are OO

[2020-09-30 18:12] joestringer commented on #13254
@anfernee How are you observing this exactly, ie, where are you running the commands to observe this, what is the state of Cilium at the points when you are making the observations, and what is the command+output?

[2020-09-30 18:22] nberlee commented on #10645
`  enable-endpoint-routes: "true"` with default systemd 2.45 (now 46) `rp_filter` works great using native routing.

Guess i've missed this setting as I set up Native routing in `1.6` initially.

[2020-09-30 20:39] pchaigno commented on #13062
A couple more failures in the last week:
https://jenkins.cilium.io/job/Cilium-PR-K8s-1.12-net-next/639/
https://jenkins.cilium.io/job/Cilium-PR-K8s-1.12-net-next/620/testReport/junit/Suite-k8s-1/12/K8sBandwidthTest_Checks_Bandwidth_Rate_Limiting_Checks_Pod_to_Pod_bandwidth__geneve_tunneling/
https://jenkins.cilium.io/job/Cilium-PR-K8s-1.12-net-next/638/testReport/junit/Suite-k8s-1/12/K8sBandwidthT

[2020-09-30 20:42] christarazi opened #13354 "Flannel integration broken with kube-dns / coreDNS in crashloop in Cilium {master, 1.7, 1.8}"
**General Information**

- 1.7, 1.8 and `master`
- K8s
- Tested on GKE

It works on 1.6.x.

**How to reproduce the issue**

1. Deploy Flannel using https://docs.cilium.io/en/latest/gettingstarted/flannel-integration/
2. Deploy Cilium and configure Flannel according to guide
3. Ensure that all pods are managed by Cilium first (if on GKE)
4. Notice how kube-dns enters crashloop because it's unable t

[2020-09-30 20:45] anfernee commented on #13254
Before cilium-agent quits:
[code]

After cilium-agent quits.
[code]

In the meantime, the following commands are not responding:
[code]

Until:
[code]

[2020-09-30 22:13] #11255 closed

[2020-09-30 22:58] #13222 closed

[2020-09-30 23:29] nr17 commented on #13333
More information inline:

We have a kubernetes Loadbalancer type and a clusterIP type service involved.
client -->ELB-->k8s loadbalancer service (nginx)--> clusterIP service

yes. Most namespaces have a policy similar to the following anonymized example:
[code]

That is the hardest part. Its difficult to pin-point which node out of 100+ nodes is experiencing packet drops.

I did not try. I could r

[2020-09-30 23:36] joestringer opened #13359 "Consider making `level=error` logs fail CI runs"
We are currently tolerating errors like these in the CI:

[code]

This seems unintentional and we should dig to the bottom of such errors.

Tasks:
* [x] Extend the CI to force failure if any log is error level or above, https://github.com/cilium/cilium/pull/16395.
* [ ] Investigate the errors that arise from such a change (such as the errors listed above) and figure out how to fix them
    - [x] h

[2020-10-01 02:45] #13169 closed

[2020-10-01 02:45] #13314 closed

[2020-10-01 03:23] #13315 closed

[2020-10-01 04:55] joestringer opened #13366 "Catch malformed releases table before merging"
These lines don't handle version substitution in a way that retains the valid structure of the table:

https://github.com/cilium/cilium/blob/3bb016ffd4f574ea04e70a8509295a2f0dd36f27/contrib/release/bump-readme.sh#L37-L39

As a result, we can unintentionally break the table and make it disappear entirely. It's easily fixed, for example:

https://github.com/cilium/cilium/pull/13365

However it would

[2020-10-01 05:30] aditighag commented on #13211
Have you followed the troubleshooting steps given in this guide - https://docs.cilium.io/en/v1.8/policy/visibility/? Particularly, what was the output of `cilium monitor`?

Are you able to provide the full cilium agent logs and sysdump?

[2020-10-01 05:31] #11217 closed

[2020-10-01 05:34] aditighag commented on #13211
This seems like a dup of #10608. /cc @aanm

[2020-10-01 06:42] pchaigno commented on #13366
https://github.com/myint/rstcheck seems to do a good enough job:
[code]
Are there other files besides `README.rst` we would like to check? I'm guessing we don't need to do that for `Documentation/` since we already have a renderer there.

We could run on all other `.rst` files, just in case:
[code]

[2020-10-01 07:06] brandshaide opened #13367 "Documentation: Provide a migration guide for replacing calico with cilium"
## Proposal / RFE

Quite often in Slack we're facing questions about how to migrate from Calico --> Cilium. As our Docs are providing installation guides basically only for greenfield setups (apart from the CNI chaining instructions), this most likely isn't reflecting the reality with k8s Cluster running in staging and prod environments out there in the wild with other CNIs than Cilium.

Proposal

[2020-10-01 07:50] #13218 closed

[2020-10-01 09:29] tklauser commented on #13349
/cc @qmonnet

[2020-10-01 09:54] aanm commented on #13338
I've been thinking the same. It didn't occurred to me that this could be done as a metric.

[2020-10-01 10:12] qmonnet commented on #13349
This is indeed because we need to see the first fragment first to establish the related entry in the fragment-tracking map. I confirm out-of-order datagrams for which the first logical fragment does not arrive first in the flow are not supported.

Supporting out-of-order flows would need a heavier approach, I don't see a way to do it without datagram reassembly or at least storing some of the frag

[2020-10-01 11:52] borkmann opened #13371 "follow-up todos for EDT"
PR wip: https://github.com/cilium/cilium/pull/12982

TODO:
 - [ ] L7 proxy supprt wrt aggregate marking (https://github.com/cilium/cilium/pull/12982)
 - [ ] NodePort path CI test & checking correctness of marking
 - [ ] CI tests for proxy
 - [ ] UDP specific drop horizon (SO_TXTIME)

[2020-10-01 12:38] brb commented on #13344
/cc @tklauser

[2020-10-01 13:13] nustiueudinastea opened #13373 "hostPort UDP packets masqueraded with wrong source address"
## Bug report

**General Information**

- Cilium version (run `cilium version`)
[code]
- Kernel version (run `uname -a`)
[code]
- Orchestration system version in use (e.g. `kubectl version`, Mesos, ...)
[code]
- Link to relevant artifacts (policies, deployments scripts, ...)
Happens with Janus webrtc server: https://github.com/meetecho/janus-gateway
- Generate and upload a system zip:
[cilium-sysd

[2020-10-01 16:01] nr17 commented on #13333
I am able to reproduce the issue with the flow #2:
client ------TCP1------> K8s worker ---FORWARD--> nginx worker ------> service pod

The test needs to run for few minutes before it encounters the issue. The test exits immediately after letting this connection complete to help stop the capture at that point in time. I captured the packets on the "K8s worker" node, and can see the evidence of TCP

[2020-10-01 16:26] liuyuan10 commented on #13349
Thanks for the confirmation. OOO fragmented packets support is a feature gap between cilium (even in mixed mode) vs kernel based data path. I can see it's hard to support in EBPF.

Could you also comment on the first issue? Why packets are being reordered between the first and second node? That has made the feature gap more severe.

[2020-10-01 16:50] nustiueudinastea commented on #13373
Talked to one of the Janus developers so they can point me to the code where they generate the ICE UDP packets, but they don't implement their own. They use https://libnice.freedesktop.org.

[2020-10-01 16:59] glibsm commented on #12772
@Rolinh this issue has been resolved, correct?

[2020-10-01 16:59] aditighag opened #13378 "CI: Checks service across nodes Tests NodePort BPF Tests with direct routing With host policy Tests NodePort"
[code]

https://jenkins.cilium.io/job/Cilium-PR-K8s-1.12-net-next/593/testReport/junit/Suite-k8s-1/12/K8sServicesTest_Checks_service_across_nodes_Tests_NodePort_BPF_Tests_with_direct_routing_With_host_policy_Tests_NodePort/

https://jenkins.cilium.io/job/Cilium-PR-K8s-1.12-net-next/593/testReport/junit/Suite-k8s-1/12/K8sServicesTest_Checks_service_across_nodes_Tests_NodePort_BPF_Tests_with_direct_

[2020-10-01 17:01] Rolinh commented on #12772
@glibsm Not really resolved, more like worked around by not using `testfity` but `go-cmp` for the tests that fail. I'm OK to close the issue if we consider this solution good enough.

[2020-10-01 17:09] nr17 commented on #13333
I traced the retransmitted packets using iptables TRACE target. Hopefully it gives some more insights on how packet is being processed.
[code]

[code]

[2020-10-01 17:21] nr17 commented on #13333
Last trace is
[code]
100.96.26.110 is the IP of nginx pod.

[2020-10-01 19:57] nr17 commented on #13333
After some more investigation, it seems that the TCP SYN from forwarding node to nginx node is not getting SNATed correctly.

These are the captures on the nginx node. 10.93.161.68 is the forwarding k8s worker node. 100.96.26.226 is nginx pod IP. 100.96.17.151 is IP address for cilium_host on 10.93.161.68.

successful case:
[code]

Drop case
[code]

iptables TRACE log in the previous comment shoul

[2020-10-01 23:18] nr17 commented on #13333
It seems the root cause is a periodic flush of iptables, perhaps initiated by garbageCollect()
In drop case, there is no cilium specific iptable rule in PREROUTING chain of mangle table to forward the packet to the custom CILIUM_PRE_mangle chain. This condition happens for a very brief moment causing the incoming TCP SYN packet to be processed in an unintended manner.

[2020-10-02 07:34] #13062 closed

[2020-10-02 07:57] #13268 closed

[2020-10-02 10:04] splushii commented on #13167
@aanm

Upgraded to `1.8.4` yesterday in a cluster with these issues. A day later there is no mismatch :+1:

Will apply it to some more clusters and wait a few days before closing. But it looks promising!

[2020-10-02 12:24] rhysemmas opened #13387 "Cilium tries to allocate pod CIDR when in chaining mode"
## Bug report

**General Information**

- Cilium version (run `cilium version`)
[code]
- Kernel version (run `uname -a`)
[code]
- Orchestration system version in use (e.g. `kubectl version`, Mesos, ...)
[code]
- Link to relevant artifacts (policies, deployments scripts, ...)
We deploy Cilium with manifests built inside a private repo - happy to provide extracts of these if needed

- Generate and u

[2020-10-02 16:55] liuyuan10 commented on #13349
Another idea is that can we treat fragmented packets specially and have them sent to IP stack so we can take advantage of the kernel to handle this problem?

[2020-10-02 16:58] qmonnet commented on #13349
I don't know why packets would be reordered, but this is not something I would expect and this definitely needs more investigation. Hopefully that's something we could improve, and that would make fragmentation support better.

I'll ask at the Community meeting next Monday if anyone is familiar with this issue.

Probably something worth exploring, too. We could keep the approach currently implemen

[2020-10-02 20:02] nr17 commented on #13333
[SYN-port-fail-56344.log](https://github.com/cilium/cilium/files/5320025/SYN-port-fail-56344.log)
[SYN-port-succ-48055.log](https://github.com/cilium/cilium/files/5320026/SYN-port-succ-48055.log)

Attached iptables TRACE logs for successful and drop cases.

[2020-10-02 20:34] tibers opened #13393 "localhost is filtered by default"
## Bug report

**General Information**

- Cilium version 1.8

**How to reproduce the issue**

We have an in-house written nodejs application which talks to the google cloudsql sidecar and itself over `localhost`. We're using cilium to whitelist egressing traffic and so we have a few `matchName`s. We did not think to whitelist `localhost` though and it was causing the application to have problems t

[2020-10-02 22:33] liuyuan10 commented on #13349
I run a quick test verifying that the reordering happens on the 2nd node after receiving the packet:

I always see the right order on the physical interface
[code]

But packets are very likely to be reordered at the cilium_geneve interface:
[code]

This could help us to limit the scope of investigation. I'll appreciate it if anyone can point me the particular code to look at regarding this.

[2020-10-02 23:15] nr17 commented on #13333
Possible commit which introduced the issue: https://github.com/cilium/cilium/commit/3285cbc53fb41913e6d20fad38667b12961b47ad

https://github.com/cilium/cilium/commit/3285cbc53fb41913e6d20fad38667b12961b47ad#diff-e487db840fd85b399fd8893b55e0ac17R327 This line causes reinitialization of iptables (delete + create). This leads to the TCP SYN getting forwarded with “node’s host IP” instead of cilium_ho

[2020-10-02 23:55] aditighag commented on #13393
Are you able to share output of `cilium monitor` that indicates the policies that are dropping the traffic?

[2020-10-03 00:08] seanmwinn opened #13395 "CI: Don't label nodes with label kubernetes.io.role/master with cilium.io/node labels"
## Bug report

**General Information**
When running tests against a target cluster, test pods do not tolerate scheduling on Kubernetes nodes with label role.kubernetes.io/master. The test suite automatically labels nodes in the cluster by name, but includes master nodes, causing some applications to fail to schedule properly.

**How to reproduce the issue**

1.K8S_VERSION=1.18 ginkgo -- -cilium.pr

[2020-10-03 04:35] #11548 closed

[2020-10-03 04:35] #12593 closed

[2020-10-03 04:35] #12571 closed

[2020-10-03 04:35] #12557 closed

[2020-10-03 04:35] #11619 closed

[2020-10-03 04:35] #11319 closed

[2020-10-03 04:35] #11003 closed

[2020-10-03 04:35] #11322 closed

[2020-10-03 04:35] #11189 closed

[2020-10-03 11:00] k82cn opened #13396 "Failed to build in Ubuntu 18.04"
## Bug report

**General Information**

- Cilium version (run `cilium version`): master branch
- Kernel version (run `uname -a`): `Linux VM-0-13-ubuntu 4.15.0-88-generic #88-Ubuntu SMP Tue Feb 11 20:11:34 UTC 2020 x86_64 x86_64 x86_64 GNU/Linux
`
- Orchestration system version in use (e.g. `kubectl version`, Mesos, ...): localhost
- Link to relevant artifacts (policies, deployments scripts, ...)
-

[2020-10-03 13:41] #13231 closed

[2020-10-03 16:00] #7111 closed

[2020-10-03 18:18] aanm commented on #13396
hello @k82cn, do you have all requirements  specified in [here](https://docs.cilium.io/en/latest/contributing/development/dev_setup/#requirements)?

[2020-10-04 08:22] #12614 closed

[2020-10-04 09:43] schmurfy commented on #11081
I just tried cilium on a gke test cluster and eventually removed it, now I have a non working cluster and I have no idea how to recover aside from nuking it and rebuilding it...
That's possibly the worst user experience possible and I cannot find anything on how to uninstall cilium cleanly...

[2020-10-05 02:04] Hokwang commented on #13182
@gandro @qmonnet I add more info. please check this.

[2020-10-05 03:39] k82cn commented on #13396
@aanm , thanks very for your info; the error was fixed after upgrading llvm & clang to 10.0+ :)

[2020-10-05 03:39] #13396 closed

[2020-10-05 04:08] liuyuan10 commented on #13349
I used `get_smp_processor_id` to print the cpu processing the incoming packet at tc ingress hook of cilium_geneve on the 2nd node. I don't see any xdp installed so I think that's where cilium first see the packets. I noticed that for nodePort traffic, fragments are handled by different CPUs and hence the reordered packets. You can also prove it by `ethtool -L enp1s0f1 combined 1` to have a single

[2020-10-05 06:45] tgraf opened #13398 "Unable to enqueue endpoint policy {policy|bandwidth} event"
These are regular errors in the CI. Possibly harmless but the error messages will put users off.

[code]

Related: #13359

[2020-10-05 06:52] tgraf opened #13399 "Deleting no longer present service warning with limited value"
The following warning:
[code]

indicates that something unexpected happened. Is that the case? If it is expected and the service just disappeared then let's remove it quietly. If something unexpected is happening here then let's describe that.

[2020-10-05 06:59] tgraf opened #13400 "Agent can't start up: msg="Error while creating daemon" error="listen tcp :40457: bind: address already in use""
The agent is trying over and over before it fails:
[code]

Example of failed CI run: https://jenkins.cilium.io/job/Cilium-PR-K8s-GKE/2645/

[bf78dc42_K8sIdentity_Identity_expiration_Expiration_of_CiliumIdentity.zip](https://github.com/cilium/cilium/files/5325737/bf78dc42_K8sIdentity_Identity_expiration_Expiration_of_CiliumIdentity.zip)

[2020-10-05 07:14] brb commented on #13399
Which Cilium version? I've fixed at least one instance of it in the past - https://github.com/cilium/cilium/pull/11467.

[2020-10-05 07:46] fristonio commented on #11302
This is already fixed and the above failures were due to using an unsupported kernel version.

[2020-10-05 07:46] #11302 closed

[2020-10-05 08:02] tgraf commented on #13399
@brb The PR that failed was based on eb2714e1cab09860b833595907359e28d765c153 which did not include your fix. Feel free to close if already fixed.

[2020-10-05 08:23] #13399 closed

[2020-10-05 09:36] gandro commented on #13182
@Hokwang Thanks. From what it seems, Hubble UI simply does not support subpath right not. The frontend code running in the browser seems to assume it is running in `/`.

I think we should remove the `subpath` option from the Helm Chart in that case, I think when it was added it was using a default template.

PRs to make the UI support subpaths are of course welcome. @geakstr @yandzee Any thoughts

[2020-10-05 09:39] pchaigno commented on #11311
I'm not sure it's worth fixing on v1.7. The backport of #11338 isn't trivial and I'm not seeing this flake happen a lot. In fact, [I couldn't find a single failure of this test on the v1.7 branch for the past 28 days](https://datastudio.google.com/s/mazNYHUiCUI).

[2020-10-05 11:13] #13154 closed

[2020-10-05 13:23] uablrek opened #13406 "FailedDiscoveryCheck for apiservice v1beta1.metrics.k8s.io"
# Bug report

[code]

This causes "kubectl top" to fail;
[code]
This problem does not exist with other CNI-plugins. Tested with K8s dual-stack for `cilium` and `calico` and with K8s single-stack ipv4 for `flannel`, `weave` and `kube-router`.

[code]

First I thought this was some "hairpin" problem but it is possible to use a service from the endpoint pod itself for other pods.

**General Informati

[2020-10-05 13:40] pchaigno commented on #13387
Does Cilium allocate IP addresses from that range to all the pods it manages? Does `cilium_host` also inherit an IP address from that range?

[2020-10-05 14:04] Joseph-Irving commented on #13387
Cilium is not responsible for allocating pod ip addresses in our environment, we're using chaining with the aws-vpc-cni.
Yes the cilium host is inherited from that range.
e.g
[code]

[2020-10-05 14:24] pchaigno commented on #13349
This sounds like an issue with the underlying system configuration rather than with Cilium. Since the packets are fragmented, maybe RSS computes a hash based the 5-tuple and thus sends non-first fragments that are missing the L4 ports to a different queue than the first fragment? If you can configure the n-tuple of your NIC, it should be possible to check this.

One thing I don't understand is why

[2020-10-05 14:57] uablrek commented on #13406
After a chat on slack with @aanm (thanks) this seems to be caused by my cluster setup:

The cluster has the control plane in a node on the same L2 net as the workers, but it is not a member of the cluster. For the other tests CNI-plugins it is possible to access the K8s services from the control node even though it's not a cluster member. But for cilium that does not work.

[2020-10-05 15:00] ti-mo commented on #12561
Hi @joestringer

After investigating this specific case (connecting to an `iperf` container from the host) thoroughly, I can't reproduce the behaviour you described by

All `TRACE_FROM_*` obs points are simply dropped by `emit_trace_notify()` when aggregation is enabled, so this includes `TRACE_FROM_HOST`.https://github.com/cilium/cilium/blob/037bef5260918fba7fac19971593c80ff020485c/bpf/lib/trace.

[2020-10-05 15:08] errordeveloper commented on #10013
Initial version of the docs for OKD: https://github.com/cilium/cilium/pull/13410

[2020-10-05 15:10] aditighag commented on #13393
Would you know why DNS requests would be generated for resolving `localhost`? These entries are typically specified in the `/etc/hosts` file on Linux or equivalent files on other platforms? cilium monitor output should help us understand/confirm which policy is exactly dropping the traffic.

[2020-10-05 15:52] jrfastab opened #13411 "cilium: greater than expected overhead with vxlan+ipsec using vmxnet3 device and std config"
More than expected overhead observed using vxlan+ipsec (standard instructions for install) with below device.
[code]

[2020-10-05 15:55] jrfastab commented on #13411
I suspect this is related to driver not pulling in enough bytes of the header resulting in us having to do some extra work on BPF side.

[2020-10-05 16:07] John-Moya opened #13412 "AWS ENI: Pod assigned IP that is not attached to an ENI"
Two pods on my cluster are geting an IP that is not attached to an ENI

Cilium version is 1.8.4
EKS Kubernetes version 1.16

Observed this issue after upgrading from 1.8.3 to 1.8.4 and adding nodes to the cluster

This output shows a CiliumNode where the rbac-manager pod is assigned the IP  10.80.17.39 and that IP is not associated with any of the active ENIs

[code]

[2020-10-05 16:47] #13072 closed

[2020-10-05 16:47] joestringer commented on #12794
@jrajahalme Given the unchecked boxes, I'm unclear as to whether we have forward-ported all of the relevant logic. Are there remaining items for v1.9 ?

[2020-10-05 17:11] pchaigno commented on #12561
I think that's the two cases Joe had in mind (the second at least would be `aggregation of monitor notifications based on connections does not occur correctly for packets from the host towards the networks`).

Why is that wrong? `network` here refers to anything outside the node.

[2020-10-05 17:26] pchaigno commented on #13349
During the Cilium community meeting, Joe and Valas mentioned some ideas to address the more general issue of IPv4 fragmentation handling. We will be discussing those during [the SIG-Datapath meeting](https://docs.cilium.io/en/latest/community/#all-sigs) on Wednesday.

[2020-10-05 19:12] liuyuan10 commented on #13349
OK. I find the root cause for the reordering issue. The MTU of cilium_host is set at 1500, which is the same as the physical interface. It causes fragmentation on outer layer for nodePort traffic. For pod-to-pod, we have a route with a smaller mtu that avoids it:

[code]

I believe the fix is to decrease the MTU of cilium_host to be smaller than physical interface to accommodate encap header. Let

[2020-10-05 21:09] joestringer commented on #12561
This is true, assuming a high enough aggregation level (which is also the default).

But yes, in general I am more concerned with the `TRACE_TO_*` cases for this issue.

where the monitor values are actually in scope.

I don't understand the "correct observation points" angle. As @pchaigno mentions, "network" here is considered the 'physical' network outside the host, not anything within the node.

[2020-10-05 21:14] liuyuan10 commented on #13349
I find routes on node already has a smaller MTU on cilium_host:

[code]

But clearly it's not taking effect and I have to manually set mtu to cilium_host to fix this issue. and I can confirm in tc egress hook of cilium_host, it's seeing 1500 sized packets. anyone know why is that?

[2020-10-05 23:26] jrfastab commented on #9786
Local testing/repro resolved by commit `86858947d0e52 ("cilium: encrypt-node creates two IPsec tunnels but only uses one")`

[2020-10-05 23:26] #9786 closed

[2020-10-06 07:23] kAworu commented on #13279
/cc @seanmwinn

[2020-10-06 07:31] kAworu commented on #13115
@seanmwinn I believe this issue will be fixed by https://github.com/cilium/cilium/pull/13259, feel free to correct if I am mistaken!

[2020-10-06 07:35] ti-mo commented on #12561
I misinterpreted the `from the host towards the networks` (plural S) you mentioned in the issue description as `from the host towards container networks`, since there was no mention of host-to-host traffic triggering the monitor spam. I was also given a repro example on Slack that involved connecting to an iperf/netperf container from the host, which does not take this host-to-host code path eithe

[2020-10-06 09:51] ivgenich73 commented on #13123
Does anybody got any news bout this problem?

Looking for way to fix it. Got similar problem.

[2020-10-06 10:34] fristonio opened #13420 "Service looped back to same pod is not accessible for IPv6"
Earlier this was fixed for IPv4 services. IPv6 services still have this issue.
From https://github.com/cilium/cilium/pull/243

[2020-10-06 11:08] DockToFuture commented on #10295
Any updates on this?

[2020-10-06 12:42] aanm commented on #13367
@muffin87 @brandshaide he just had this blogpost submitted https://cilium.io/blog/2020/10/06/skybet-cilium-migration

[2020-10-06 12:47] #13092 closed

[2020-10-06 14:22] errordeveloper opened #13428 "docs: helm template output is version dependent"
It turns out that `helm template` will produce different out from Cilium chart depending which version of helm user has.

Namely, Helm 3.3.0 changed the default setting for `.Capabilities.KubeVersion`, it changed from 1.16 to 1.18.

https://github.com/helm/helm/commit/bfb39c0c68b989eea6a0b648f36aa5c7f930a515

This affects logic such as this:

https://github.com/cilium/cilium/blob/503b073b7a7c94832

[2020-10-06 16:30] amorenoz opened #13429 "Fail to pull docker.io/cilium/startup-script using podman/cri-o/skopeo"
## Bug report

**General Information**

- Cilium version: master
- Orchestration system version in use: none

**How to reproduce the issue**
Detected whilst installing cilium + hubble using [the docs](https://docs.cilium.io/en/latest/gettingstarted/hubble/) on a k8s 1.18 running with cri-o. But in fact the problem has nothing to do with k8s, but with cri-o/podman/skopeo suite not being able to pul

[2020-10-06 16:33] nebril opened #13430 "CI: "K8sDatapathConfig Transparent encryption DirectRouting Check connectivity with transparent encryption and direct routing" fails in cilium-master-K8s-all"
https://jenkins.cilium.io/job/cilium-master-K8s-all/

All recent jobs are failing due to
[code]

[2020-10-06 16:56] pchaigno commented on #12542
We're considering packets leaving a pod for a remote node.
That may happen in two broad cases, refered below as:

1. `node->pod`: a packet is sent from `pod` to `node1` in response to a connection `node1 -> pod@node2`.
0. `pod->node`: a packet is sent from `pod@node2` to `node1` directly.

Node IP is the routable IP used as the tunnel endpoint. Other `HOST_ID` IPs are e.g. the IP given to `cilium_

[2020-10-06 17:01] joestringer commented on #13367
I think that the referred blog post should provide the necessary context to resolve this question. If you try this out and find there are any other interesting discussion points or issues, then feel free to post your observations on this issue below, or file a new issue.

Closing.

[2020-10-06 17:30] #13339 closed

[2020-10-06 19:37] joestringer commented on #12561
Technically, it's possible to run CT in the service handling (eg from the `ENABLE_NODEPORT` section of `handle_ipv4()`), but the monitor aggregation logic doesn't hook in there. For the bpf_lxc progs we only add this monitor aggregation logic when running through the CT for firewalling purposes.

I think it's a reasonable first step to only enable this aggregation if the host firewall is enabled,

[2020-10-06 21:13] joestringer commented on #13123
I believe it can be mitigated by restarting the source pod. Effectively the source is establishing a connection to the actual backend IP but when the backend is restarted, the source doesn't update the IP of the backend, so it keeps sending to the old one. If the source application either has its own failure detection logic to create a new connection to the backend, or if the source application is

[2020-10-06 21:33] joestringer commented on #8902
@willdeuschle given the lack of activity on this issue, I think you've managed to figure out a path forward so I'm going to go ahead and close the issue. Feel free to respond here or file a new issue if there are other improvements that could be made.

[2020-10-06 21:33] #8902 closed

[2020-10-06 21:36] joestringer commented on #2318
I think that some of the above checkboxes are still valid caveats to the current implementation, but it's clear that @mrostecki and I are not focusing our attention on this at the moment, so I've unassigned us to reflect reality.

Anyone interested in investigating this is welcome to post questions below or on Slack to get pointers on how to work on improving the cluster connectivity checking.

[2020-10-06 21:36] #2318 closed

[2020-10-07 01:38] Hokwang commented on #13182
@gandro Oh, if then, please consider that provide this, and think this issue is Feature Proposal.. removing `path` is not good solution. I don't want it.

[2020-10-07 04:16] enkov commented on #13123
Yes, it can be mitigated by restarting the source pod, but in my case, with UDP traffic source app can't check if it sends to wrong backend IP. And I have one server and allot of apps sending to it, so restarting all apps isn't a good idea.

[2020-10-07 08:14] oblazek opened #13433 "Initial support for Openstack"
## Proposal / RFE

**Is your feature request related to a problem?**
No

**Describe the solution you'd like**
I would like to discuss a design of how cilium integration of openstack could look like. I have been discussing this a few times on slack and I'm starting to work on this fulltime.
For the initial support I am thinking of keeping standard neutron core plugins and implementing a part where

[2020-10-07 08:45] pchaigno opened #13434 "[RACE Detector]: pkg/policy/api.(*PortProtocol).Sanitize()"
[code]
https://jenkins.cilium.io/view/Race%20Detection/job/Ginkgo-CI-Tests-k8s1.19-Pipeline-Race-Detection/6/testReport/junit/Suite-k8s-1/19/K8sPolicyTest_Basic_Test_Validate_CNP_update_Enforces_connectivity_correctly_when_the_same_L3_L4_CNP_is_updated/

[2020-10-07 08:48] pchaigno opened #13435 "[RACE Detector]: pkg/datapath/linux.(*linuxNodeHandler).insertNeighbor()"
[code]
https://jenkins.cilium.io/view/Race%20Detection/job/Ginkgo-CI-Tests-k8s1.19-Pipeline-Race-Detection/6/testReport/junit/Suite-k8s-1/19/K8sDatapathConfig_Transparent_encryption_DirectRouting_Check_connectivity_with_transparent_encryption_and_direct_routing/

[2020-10-07 08:57] pchaigno opened #13436 "[RACE Detector]: pkg/k8s/apis/cilium.io/v2.sharedCNPDeepEqual()"
[code]
https://jenkins.cilium.io/view/Race%20Detection/job/Ginkgo-CI-Tests-k8s1.12-Pipeline-Race-Detection/8/testReport/junit/Suite-k8s-1/12/K8sServicesTest_Checks_service_across_nodes_with_L4_policy_Tests_NodePort_with_L4_Policy/

[2020-10-07 08:59] pchaigno commented on #13436
The same also happens with slightly different paths (CCNP vs. CNP):
[code]
https://jenkins.cilium.io/view/Race%20Detection/job/Ginkgo-CI-Tests-k8s1.12-Pipeline-Race-Detection/8/testReport/junit/Suite-k8s-1/12/K8sPolicyTest_Multi_node_policy_test_validates_ingress_CIDR_dependent_L4_With_host_policy_Connectivity_to_hostns_is_blocked_after_denying_ingress/

[2020-10-07 10:12] ti-mo commented on #12561
I forgot I made local changes to my tree, so turns out the `TRACE_TO_NETWORK` trace at the end of `to-netdev` also has its `monitor` argument set to 0. As long as aggregation is enabled. host-to-host traffic shouldn't cause any spam either. I'll leave that trace untouched for now.

Indeed, no need to do this.

I've just checked all `TRACE_TO_*` traces in the codebase, and all of them are either `m

[2020-10-07 10:29] pchaigno commented on #12561
AFAICS, when the host firewall and monitor aggregation are enabled, `TRACE_TO` messages are simply discarded. That should not be the case; they should be rate-limited.

[2020-10-07 13:06] yanirj opened #13446 "'cilium-agent' memory leak, possibly due to cluster mesh"
## Bug report

**General Information**

- Cilium version (run `cilium version`):
[code]
- Kernel version (run `uname -a`): `Linux ip-10-2-36-164.ap-northeast-1.compute.internal 4.14.193-149.317.amzn2.x86_64 #1 SMP Thu Sep 3 19:04:44 UTC 2020 x86_64 x86_64 x86_64 GNU/Linux`
- Orchestration system version in use (e.g. `kubectl version`, Mesos, ...):
[code]

**How to reproduce the issue**

I'm not ex

[2020-10-07 13:09] aanm commented on #13446
@yanirj please also provide the tar file generated with this command:
[code]

[2020-10-07 13:17] yanirj commented on #13446
I'm getting an error: `Failed to create debug directory Get "http://localhost:6060/debug/pprof/trace?seconds=5": dial tcp 127.0.0.1:6060: connect: connection refused`

[2020-10-07 13:38] aanm commented on #13446
@yanirj oh right, you would have need to run cilium-agent with pprof before hand. As a workaround can you run the following:
[code]
and then on another terminal **without closing the first terminal**:
[code]

[2020-10-07 13:44] ti-mo commented on #12561
@pchaigno did you mean `TRACE_FROM_` messages? Those are discarded under aggregation indeed: https://github.com/cilium/cilium/blob/ada53a91a98618d24dad2abda97dd9c60923003c/bpf/lib/trace.h#L130-L138

[2020-10-07 13:49] yanirj commented on #13446
Now it's `gops: Missing PID or address.` ;)

[2020-10-07 14:30] yanirj commented on #13446
Weird, it doesn't seem we're running the same thing, or at least the behavior is not the same... I assume you want `cilium-agent` to be profiled, for which the PID is 1.

[code]

Should I send you this file?

[2020-10-07 14:33] manuelbuil commented on #13280
@christarazi @jrajahalme could you have a look at the PR please? https://github.com/cilium/cilium/pull/13409. Thanks!

[2020-10-07 14:40] tibers commented on #13393
It's very likely some sort of problem with the node app. However I am not a
developer.

On Mon, Oct 5, 2020 at 11:11 AM Aditi Ghag <notifications@github.com> wrote:

[2020-10-07 16:25] nebril commented on #13430
the failure is caused by `dig` not returning correct ip:
[code]

[2020-10-07 17:21] #12714 closed

[2020-10-07 17:24] aanm commented on #13446
@yanirj that profile seems that cilium is only consuming 19MB of total memory. Was `cilium-2h4ph` the pod with the memory leak?
![image](https://user-images.githubusercontent.com/5714066/95365615-aa678f00-08d2-11eb-88e2-58bfb9e8ecf7.png)

[2020-10-07 17:38] joestringer commented on #12561
I think the "disabled under aggregation" is the key problem here:

https://github.com/cilium/cilium/blob/d068162c9c8525aa66f2ccbbaf3bc05abad274bc/bpf/bpf_host.c#L1002-L1003

Currently, we never generate the `TRACE_TO_NETWORK` events in this case. This limits our visibility into outbound connections from the host.

What I think we should do is if host firewall is disabled, keep this the same. Howev