[2021-01-08 23:14] youssefazrak commented on #14566
@joestringer I will take care of this one

[2021-01-08 23:20] youssefazrak opened #14567 "CI: Fix CodeQL analysis"
Hey guys,

I was checking merged PR #14514 _adding CodeQL analysis_ and it seems to have a typo [found here](https://github.com/cilium/cilium/blob/master/.github/workflows/codeql-analysis.yml#L13-L14):
[code]
From the `cron` documentation and the official [CodeQL repo readme](https://docs.github.com/en/free-pro-team@latest/github/finding-security-vulnerabilities-and-errors-in-your-code/configuring

[2021-01-08 23:31] aditighag commented on #14567
\cc @twpayne

[2021-01-09 06:16] matoszz commented on #10349
is this functionality still planned for a future release?

[2021-01-09 13:04] jrajahalme commented on #13833
Still happening here: https://jenkins.cilium.io/job/Cilium-PR-K8s-1.13-net-next/387/testReport/junit/Suite-k8s-1/13/K8sServicesTest_Bookinfo_Demo_Tests_bookinfo_demo/, re-opening to encourage further reporting.

[2021-01-09 13:32] youssefazrak commented on #14567
You can see the [failures directly on Github Actions](https://github.com/cilium/cilium/actions?query=workflow%3A.github%2Fworkflows%2Fcodeql-analysis.yml):

[2021-01-09 20:05] linecolumn opened #14569 "Connections hanging when using L4LB server with Kubernetes NodePort"
Summary: when using in-front Kubernetes `L4LB` proxy (`IPVS-DR` or HaProxy), and pointing to Kubernetes Workers Nodeport endpoints all connections are hanging.

- Cilium version `1.9.1`
- Kernel version Linux `5.4.12`
- Orchestration system version in use Kubernetes `v1.19.6`

1. Install and configure `L4LB` (IPVS using DR) on server outside of Kubernetes cluster
2. Install Kubernetes Cluster with

[2021-01-09 20:25] SleepingShell opened #14570 "Unable to use Cilium with Arch Linux"
## Bug report
I have been unable to get Cilium working with Arch Linux. There are 2 separate problems I have encountered:

1) Installing the Arch `cni-plugins` package through pacman will install the CNI binaries. However, the binaries are installed to `/usr/lib/cni` and then `/opt/cni/bin` executables are symlinked the the former directory. Therefore, the Cilium pod cannot access the binaries and

[2021-01-10 04:58] #13672 closed

[2021-01-10 04:58] #13649 closed

[2021-01-10 04:58] #13577 closed

[2021-01-10 04:58] #13009 closed

[2021-01-10 04:58] #13748 closed

[2021-01-10 04:58] #13502 closed

[2021-01-10 04:58] #13181 closed

[2021-01-10 04:58] #13433 closed

[2021-01-10 04:58] #13269 closed

[2021-01-10 04:58] #13474 closed

[2021-01-10 05:01] qingkunl commented on #12968
/remove-lifecycle stale

[2021-01-10 06:04] gpl commented on #13553
Commenting to leave issue open.  Still occurs.

[2021-01-10 13:41] brb commented on #14570
@SleepingShell Thanks for the issue.

Re the 1. problem: I'm not following why Cilium should depend on the `loopback` CNI plugin. To me it looks like that the 1. problem should be addressed by the `cni-plugins` Arch package maintainer.

Re the 2. problem: can you check whether this https://github.com/cilium/cilium/issues/10645#issuecomment-601451909 resolves the issue?

[2021-01-10 13:52] brb commented on #14569
The dummy device hack should work only when accessing a service from the host which has those devices. It's not expected to work when accessed from outside.

Re DSR: check whether your underlying network does not drop requests with IPv4 options. From the tcpdump on the worker node I don't see any request to the service endpoint.

[2021-01-10 14:07] #13572 closed

[2021-01-10 14:07] #9582 closed

[2021-01-10 14:07] #13588 closed

[2021-01-10 14:07] #13161 closed

[2021-01-10 14:07] #13270 closed

[2021-01-10 14:07] #13503 closed

[2021-01-10 14:41] brb commented on #12679
@fallard84 @hightoxicity Could you check with hubble and tcpdump what happens with each request? Does it reach a pod node?

[2021-01-10 16:49] linecolumn commented on #14569
Let me describe more and copy paste tcpdump happenin on Kubernetes worker node:

`178.1.1.37` - Client IP
`x.y.z.235` - IP attached to dummy interface on Kubernetes worker, and anycasted on lo interface at L4LB (LVS-DR)

When initiating connection from `Client IP` to `x.y.z.235:32000` no packets arrives or goes out via Kubernetes workers `em1` (public interface).

Request arrives on Kubernetes Wor

[2021-01-10 16:57] SleepingShell commented on #14570
I detailed problem 1 in case others run into the same issue. I am aware it is either an issue with RKE or the `cni-plugins` package.

This seems to have fixed it, thank you!! I changed some of the rp_filter variables before but these seem to be the source of the issue.

[2021-01-11 08:11] brb commented on #14570
Not sure about this. The binaries should be required by kubelet, not by Cilium. Why do you think that Calico installs them? Could you point me to it?

[2021-01-11 08:33] #14322 closed

[2021-01-11 09:37] borkmann commented on #14563
One more use case for this issue had been discussed in Slack [here](https://cilium.slack.com/archives/C1MATJ5U5/p1609824970261400) by user pavels, that is, a given Pod has a VPN interface in its network namespace so that external world traffic arrives in the Pod itself. In that case ClusterIP services are not being translated from Pod side with strict kube-proxy replacement since the connect hook

[2021-01-11 10:16] gandro commented on #13833
The new failure did not happen on GKE, so it probably has a different root cause then the previous issue (which was very GKE specific). I'm unassigning myself for now from this.

[2021-01-11 11:37] qmonnet commented on #11180
Hi @anfernee, we never got back to this. Did you have a chance to make any progress? Or are you still planning to work on this? Please do feel free to reach on Slack if you want to discuss it.

[2021-01-11 13:13] #14567 closed

[2021-01-11 14:05] pavels opened #14579 "NodePort doesn't work correctly when VLANs are involved"
## Bug report

Cilium version: `1.9.1`
Kernel: `5.9.0-0.bpo.2-amd64`

If you have an interface, say `enp36s0f0`, for internal traffic and than `enp36s0f0.10` (that is tagged VLAN on the same physical interface) for external traffic than if the traffic is coming from the external side and is routed into internal, POD ips can be accessed, but NodePort (and anything that relies on them) does not work

[2021-01-11 14:42] ungureanuvladvictor commented on #13774
I've hit this in https://github.com/cilium/cilium/pull/14571 via https://jenkins.cilium.io/job/Cilium-PR-K8s-1.20-kernel-4.9/359/.

[2021-01-11 14:55] brb opened #14581 "Allow ClusterIP access from outside"
There was recently an ask by a few Cilium users to allow ClusterIP from outside.

kube-proxy doesn't seem to reject requests to ClusterIP from outside cluster, in opposite what is stated in [the docs](https://kubernetes.io/docs/concepts/services-networking/service/#publishing-services-service-types):

[2021-01-11 16:16] howardjohn commented on #13828
Is there any effort from Istio side needed to help make this possible?

[2021-01-11 16:18] SleepingShell commented on #14570
So I cannot find code doing so in either the https://github.com/projectcalico/calico/ or https://github.com/rancher/rke repositories, but one of them must do it as the `/opt/cni/bin` directory is empty if networking plugin is set to "none" in the RKE configuration.

[2021-01-11 17:24] #12113 closed

[2021-01-11 17:24] #14233 closed

[2021-01-11 17:34] ungureanuvladvictor commented on #13774
Failed again on the same PR ^^ https://jenkins.cilium.io/job/Cilium-PR-K8s-1.20-kernel-4.9/366/testReport/junit/Suite-k8s-1/20/K8sDatapathConfig_Encapsulation_Check_vxlan_connectivity_with_per_endpoint_routes/

[2021-01-11 17:35] christarazi commented on #6728
Hit again in https://github.com/cilium/cilium/pull/14539:

https://jenkins.cilium.io/job/Cilium-PR-Ginkgo-Tests-K8s/3863
[859f42f6_K8sHealthTest_checks_cilium-health_status_between_nodes.zip](https://github.com/cilium/cilium/files/5797385/859f42f6_K8sHealthTest_checks_cilium-health_status_between_nodes.zip)

[2021-01-11 19:23] anfernee commented on #11180
I think @liuyuan10 has spent time on this issue already. any updates?

[2021-01-11 19:43] joestringer opened #14587 "Observability documentation duplicates text"
Glancing through this page:
https://docs.cilium.io/en/v1.9/concepts/observability/intro/

The second and third paragraphs seem substantially similar, it seems like maybe a merge was mishandled to include multiple copies of the text. This affects the master version of the docs as well. It would be good to review the text and streamline it to avoid duplication.

[2021-01-11 19:53] liuyuan10 commented on #11180
I didn't spend time on this issue. I was fixing the issue when kubeproxy is used.

[2021-01-11 20:57] borkmann commented on #14581
Duplicate of https://github.com/cilium/cilium/issues/14563 ?

So that is a kube-proxy security issue then if external traffic can still access ClusterIP services from outside? I would stick to the doc in this case, but rather implement NAT-based handling as discussed in #14563 for certain Pods that need it, also a safer choice given we don't need to expose the ClusterIP service to external traffic

[2021-01-11 22:03] jrajahalme opened #14588 "Hubble fills Cilium logs with "failed to decode payload" messages if debug is enabled"
Cilium agent logs are flooded with messages like below when `cilium config debug=enable`:
[code]

Type `2` seems to correspond to `MessageTypeDebug`, which likely can be safely ignored by Hubble:
[code]

[2021-01-11 22:07] christarazi commented on #14397
Re: Parallelize maglev.getPermutations() (CPU bottleneck)

I started with a simple approach of splitting the perm slice in half and starting to concurrent goroutines to populate each half. However, it will not work because the algorithm seems to have a dependency on serial slice access (`perm`). This means that element N requires element N-1 to be populated in the slice and given, it isn't possibl

[2021-01-11 23:36] christarazi commented on #13833
Given title of this issue mentions GKE, I think we should track the failure you're seeing @jrajahalme in a separate issue. As Sebastian mentioned, a fix for the GKE specific variant has been made.

[2021-01-12 05:25] anfernee commented on #11180
Got it. @qmonnet  What is the planned date for 1.10 release?

[2021-01-12 09:24] brb commented on #14581
This linked issue is different, as it is about enabling ClusterIP xlation from bpf_lxc. While this issue is about allowing ClusterIP xlation in bpf_host.

[2021-01-12 09:27] brb commented on #14570
It's very likely that it's installed by Rancher then.

[2021-01-12 16:08] brb commented on #14397
Hmm, with a dummy parallelization (goroutine per backend) and changing the M in the benchmark function to 65521 I'm getting almost 4x improvement:

[code]

Let me push the optimization after I've bound goroutines count to number of CPU cores.

[2021-01-12 16:51] mazzy89 commented on #13835
Hey guys. I can take a look at this.

[2021-01-12 16:53] brb commented on #13835
@mazzy89 Thanks! I've assigned you.

[2021-01-12 20:22] jrajahalme commented on #14268
@nicktrav Thank you for the easy-to-use repro! The 500's are due to Envoy upstream connections failing when original source address/port is used. This in turn is caused by the kind nodes sharing the same kernel. It turns out that when Cilium datapath uses tunneling (default for Cilium, as in the repro), the use of the original source address is not needed, as the tunnel headers carry the source se

[2021-01-12 20:28] jrajahalme commented on #14268
@nicktrav Would be nice if you could try #14594 and verify it fixes this issue for you.

[2021-01-12 22:41] mzahorik opened #14595 "Unclear documentation on the scope of entities when using cluster-mesh"
When trying to understand how entities and identities are managed with a cluster mesh, the documentation at:

https://docs.cilium.io/en/v1.9/policy/language/#policy-examples

says that the cluster entity says it refers to all endpoints within the cluster, but then explains the set include host, remote-node, and init among others.

On that same page, remote-node says "any node in any of the connect

[2021-01-12 22:59] #14566 closed

[2021-01-13 02:30] christarazi commented on #14283
Do you have repro steps?

[2021-01-13 09:41] tklauser opened #14598 "k8s-1.13-net-next CI: DNS entry is not ready after timeout"
[code]

https://jenkins.cilium.io/job/Cilium-PR-K8s-1.13-net-next/418/

[500d4631_K8sServicesTest_Bookinfo_Demo_Tests_bookinfo_demo.zip](https://github.com/cilium/cilium/files/5807702/500d4631_K8sServicesTest_Bookinfo_Demo_Tests_bookinfo_demo.zip)

Split out of #13833 as suggested in https://github.com/cilium/cilium/issues/13833#issuecomment-758292182. This is a different failure which occurs on n

[2021-01-13 09:42] tklauser commented on #13833
Hit the same failure as reported by @jrajahalme in https://github.com/cilium/cilium/issues/13833#issuecomment-757166485, opened #14598 to track the failure.

[2021-01-13 09:42] #13833 closed

[2021-01-13 09:44] tklauser commented on #14598
Also hit by @jrajahalme in #14370 (also see https://github.com/cilium/cilium/issues/13833#issuecomment-757166485): https://jenkins.cilium.io/job/Cilium-PR-K8s-1.13-net-next/387/testReport/junit/Suite-k8s-1/13/K8sServicesTest_Bookinfo_Demo_Tests_bookinfo_demo/

[30d72f45_K8sServicesTest_Bookinfo_Demo_Tests_bookinfo_demo.zip](https://github.com/cilium/cilium/files/5807717/30d72f45_K8sServicesTest_Bo

[2021-01-13 09:44] brb commented on #14340
Closing, as it was fixed in v1.8, v1.9 and master.

[2021-01-13 09:44] #14340 closed

[2021-01-13 14:10] twpayne commented on #11990
HIt: https://travis-ci.com/github/cilium/cilium/jobs/471309560

[2021-01-13 15:00] brandshaide commented on #14314
Speaking of the required options, I managed to identify some probes of `bpftool` which might be suited to replace the respective pieces of the config file check:

`CONFIG_NET_CLS_ACT`  ->   `static void probe_map_type`         ->  output:   `eBPF program_type sched_act is available`
`CONFIG_NET_CLS_BPF`  ->   `static void probe_map_type`          ->  output:   `eBPF program_type sched_cls is avail

[2021-01-13 16:07] ti-mo commented on #14128
Implementation proposal: https://github.com/cilium/cilium/pull/14192

[2021-01-13 18:19] qmonnet commented on #14314
sched_act is guarded by `CONFIG_NET_ACT_BPF`, which depends on `CONFIG_NET_CLS_ACT`. So having this program type means that we have the latter option indeed, but we could have “false negatives” if `CONFIG_NET_CLS_ACT` is set and `CONFIG_NET_ACT_BPF` is not.

I don't think there's an exact match in bpftool's probes. I suppose that one way to probe this would be to attempt to add a tc action somehow

[2021-01-13 19:55] youssefazrak commented on #14402
I will take care of this one.

[2021-01-13 23:08] joestringer opened #14608 "CI: K8sDatapathConfig Host firewall Check connectivity with IPv6 disabled: Connectivity test between nodes failed"
https://jenkins.cilium.io/job/Cilium-PR-K8s-GKE/3951/testReport/junit/Suite-k8s-1/16/K8sDatapathConfig_Host_firewall_Check_connectivity_with_IPv6_disabled/
[aa410582_K8sDatapathConfig_Host_firewall_Check_connectivity_with_IPv6_disabled.zip](https://github.com/cilium/cilium/files/5830799/aa410582_K8sDatapathConfig_Host_firewall_Check_connectivity_with_IPv6_disabled.zip)

PR #14591

### Stacktrace
[

[2021-01-13 23:23] joestringer commented on #14608
This test has failed multiple times in the last month, but the logs for many have now expired and none of the remaining failures have the same failure signature, so it's unclear whether this is really a flake or is a regression in the linked PR.

[2021-01-13 23:49] danwent opened #14609 "Explicit allow-listing for ICMP traffic"
## Proposal / RFE

**Is your feature request related to a problem?**

Yes.  There is no way to have an ingress/egress policy that both limits TCP/UDP reachability to a set of ports, while also allowing ICMP pings for manual connectivity checks.   ICMP pings are automatically allowed if a policy permits all L3 connectivity, but if that rule is made more granular to limit things to a specific set of

[2021-01-14 00:10] SleepingShell commented on #14570
Yes I believe they create a side-car with the chosen CNI plugin to install the binaries.

Anyways, the real source of this issue is the previously reported issue with systemd ([#10645 (comment)](https://github.com/cilium/cilium/issues/10645#issuecomment-601451909), closing this out.

[2021-01-14 00:10] #14570 closed

[2021-01-14 00:13] joestringer commented on #14609
Is it important to only allow such ICMP echo request+response packets for some nodes in the cluster while dropping such traffic for other nodes? If not, another plausible approach is to have a generic agent option to allow "l3 reachability" for all  pods, in which case there is always an explicit hole opened for ICMP echo request+response.

Also, are there any other known ICMP types/codes that wou

[2021-01-14 05:39] brb commented on #14330
This is a duplicate of https://github.com/cilium/cilium/issues/12511.

[2021-01-14 05:39] #14330 closed

[2021-01-14 05:39] brb commented on #13275
This is a duplicate of #12511.

[2021-01-14 05:39] #13275 closed

[2021-01-14 06:42] brb commented on #11180
@anfernee It's not clear yet, but my bet is Feb / beginning of March. Are you guys interested in working on this?

[2021-01-14 08:06] #14526 closed

[2021-01-14 08:07] #14546 closed

[2021-01-14 08:46] #13087 closed

[2021-01-14 09:51] #14547 closed

[2021-01-14 14:52] johnrengelman commented on #14609
Looking at the ICMP specs there are messages associated with router solicitation/discovery in both IPv4 and IPv6 (IPv6 neighbor discovery protocol) that people may want to enable while using Cilium for endpoint control (I won't claim to know any specifics here on how these are used in practice).

I think there is an argument for two additions here:
1. Global setting to allow ICMP EchoRequest/EchoR

[2021-01-14 15:13] pchaigno commented on #14609
If we have the second addition (to `Rule`), the first should be possible using a CCNP, without needing to introduce a new agent flag.

[2021-01-14 15:26] johnrengelman commented on #14609
To level set, my use case has Cilium outside of a K8s environment, so as long as I can configure the same effect using Cilium policies directly, 👍

[2021-01-14 17:10] anfernee commented on #11180
Thanks @brb. I've synced with @qmonnet. We'll keep it in our plate, and we'll sync regularly on progress.

[2021-01-14 20:49] youssefazrak commented on #14402
@Rolinh @pchaigno
Just to be sure we are on the same page, I will modify the `Getting Started Guides` and the 3rd link provided by Paul. For example all the installation documents.
Although does it really need to be written inside a `note`? That would be inconsistent with the current documentation as I haven't seen any notes in regards to firewall rules needing to be opened.

[2021-01-14 22:48] joestringer commented on #11767
It looks like the documentation mentions the proxy multiple times, but it is written from a developer perpective ("This works via the DNS proxy"), and not a user perspective ("The DNS proxy *must* be configured for ToFQDN rules to take effect).

https://docs.cilium.io/en/latest/policy/language/#dns-based

[2021-01-14 23:20] joestringer commented on #14609
For this particular aspect, my base inclination is that Cilium itself acts as an L3 router between the endpoints and remote peers so if there's some integration use case around better handling of these message types, it would be somehow embedded into Cilium itself rather than being opened via some policy mechanism.

[2021-01-14 23:23] joestringer commented on #14609
This is the type of feedback I was trying to solicit :-) If the agent-wide setting doesn't provide a full resolution then I think we'd probably be better placed to look at how to extend the policy language to provide this and maybe not look at an agent-wide option. The policy-based approach would be more flexible and should still allow users to implement the behaviour that an agent flag could othe

[2021-01-14 23:42] johnrengelman commented on #14609
Agreed.
In my initial reply I was thinking the option 1 would be fastest to implement since we wouldn’t need to figure out the API model at the cost of not being as flexible.
I agree that option 2 is ultimately the right end solution.
👍

[2021-01-15 01:40] joestringer commented on #11430
Observed again with Cilium v1.7.11.

[2021-01-15 18:20] pchaigno opened #14625 "Missing packet traces when IPSec is enabled"
When IPSec is enabled, we are missing packet traces in e.g., `cilium monitor -t trace`. For example, for pod<->pod connections, we only see `<- endpoint` and `-> stack` (from `bpf_lxc`) on the source node. We would like to see `<- host` and `-> overlay` from `bpf_host` as well, if possible with proper identities.

[2021-01-16 00:22] joestringer commented on #14117
FYI you can pass `disable-envoy-version-check` (`disableEnvoyVersionCheck: true` in helm) to avoid this issue for v1.9.x dev releases.

[2021-01-16 01:06] sfxworks commented on #14301
Same situation with a fresh install. The operator doesn't know what to do.

[code]

crio v1.19.3
k8s 1.20
os: ubuntu 20.04
crun version 0.16

[2021-01-16 03:11] christarazi commented on #12756
Hit again in https://github.com/cilium/cilium/pull/14627 (v1.8).

[2021-01-18 09:19] #14268 closed

[2021-01-18 10:47] brandshaide commented on #14314
thanks for your feedback, @qmonnet

@joestringer any ideas/preferences on how to proceed on this given the options as outlined by Quentin?

[2021-01-18 12:59] gandro commented on #14301
Thanks for the report! So far I have been unable to reproduce this on minikube with cri-o 1.19.0. Even setting `$HOME` manually to an empty environment variable does not seem to trigger it.

But I notice both of you are running cri-o on Ubuntu 20.04. Can you share how you set up K8s? Kubeadm?

[2021-01-18 13:10] gandro commented on #14301
Looking at the source of the error, it seems like neither, `GOPS_CONFIG_DIR`, `XDG_CONFIG_HOME`, nor `HOME` are set on your particular setup, and that causes gops to error with the above error. One potential workaround would be to set `gops.Options.ConfigDir` when starting the gops agent, to avoid the failure with the missing env variables on your particular setup.

https://github.com/google/gops/

[2021-01-18 14:06] pchaigno commented on #14314
Why do we need to check `CONFIG_NET_CLS_ACT` in the first place?

[2021-01-18 14:28] gandro commented on #14588
This was fixed in #14589

[2021-01-18 14:28] #14588 closed

[2021-01-18 14:56] Rolinh commented on #14402
Yup, that's the way I see it.

I think so yes. If it does not stick out, users will miss it. It is not uncommon to use note/tip in the documentation, see for example [the getting started guide for kind](https://docs.cilium.io/en/latest/gettingstarted/kind/).

[2021-01-18 14:58] pchaigno opened #14638 "CLI: cilium encrypt command"
We should provide a new Cilium subcommand, `cilium encrypt status, flush` to interact with IPSec's state in the kernel when it is enabled. `cilium encrypt status` would display information on the current status of the IPSec configuration while `cilium encrypt flush` would flush all XFRM state (`ip xfrm state flush` and `ip xfrm policy flush`).

See https://github.com/cilium/cilium/tree/master/cili

[2021-01-18 16:19] maxaudron commented on #14301
I setup my cluster with kubeadm, cri-o from the static release bundle in the releases https://github.com/cri-o/cri-o/releases/tag/v1.19.0.

After editing the deployment and manually setting $HOME the pod started without problem.

[2021-01-18 16:20] nyrahul commented on #14099
On the native kubeadm based setup using cilium I get:

[code]

In the vagrant dev env as well a similar output is seen:
[code]

[2021-01-18 16:28] maxaudron commented on #14301
I also have right now one operator that is failing and one that works on different nodes, but using the exact same image and cri-o versions. And on top of that the working operator is on the same node as a non-working hubble-relay.

[2021-01-18 16:29] jrfastab commented on #14638
As a first take cilium status could report any errors found in the xfrm MIB counters. Also reporting keyIDs in use would be useful something like,

[code]

[2021-01-18 16:52] elfadel commented on #14638
@pchaigno Could you assign it to me please?

[2021-01-18 16:54] tklauser opened #14640 "CI: RuntimePrivilegedUnitTests TestArpPingHandling failed with i/o timeout error"
Hit on #14635:

[code]

https://jenkins.cilium.io/job/Cilium-PR-Runtime-4.9/3337/
[test_results_Cilium-PR-Runtime-4.9_3337_BDD-Test-PR.zip](https://github.com/cilium/cilium/files/5831529/test_results_Cilium-PR-Runtime-4.9_3337_BDD-Test-PR.zip)

Related to #14510? Previously: #14125.

[2021-01-18 17:01] tklauser commented on #14640
/cc @brb

[2021-01-18 17:05] brb commented on #14640
@tklauser Does your PR include https://github.com/cilium/cilium/pull/14601?

[2021-01-18 17:14] tklauser commented on #14640
Oh, looks like the PR itself doesn't include #14601. But AFAIK PRs are rebased on latest `master` in CI, so it should be included, right?

[2021-01-18 17:22] joestringer commented on #11430
@diversario have you seen this issue again recently? Are you still using Cilium v1.7.x or have you moved to a newer release at this point?

[2021-01-18 17:47] qmonnet commented on #14314
Could be just to make sure that we can have `CONFIG_NET_SCH_INGRESS` that depends on it, in which case simply checking for `CONFIG_NET_SCH_INGRESS` would be enough (this one is necessary for the ingress/clsact qdiscs). I remember asking Joe about it in the past, but I can't find where that was and if there was another reason to it.

[2021-01-18 19:10] kvaster commented on #14579
Just to accept the bug and to add the reason.

Cilium status:

[code]

Cilium metrics list:

[code]

When using tcpdump I can see that packet which is targeted for wan0.4000 (vlan tagged interface) will appear on wan0 and after that cilium will drop it. With cilium disabled on wan0 packet will appear on wan0 (tagged) and after that I can see it on wan0.4000. CIlium should skip processing vlan tagg

[2021-01-18 20:06] joestringer commented on #14579
I wonder, what happens if you configure the `--devices` flag to specify the VLAN device?

[2021-01-18 20:13] kvaster commented on #14579
This problem will not occur. Cilium will not filter packets on wan0 in case only wan0.4000 will be in devices list. But this will lead to another bug (at least for me) - cilium will not masquerade packets on wan0 which is used to connect to internet from pods. The only way to have setup working is adding two options: `--set bpf.masquerade=false` and `--set devices=wan0.4000`. But this isn't what w

[2021-01-18 21:24] pavels commented on #14579
During all my tests, i had `masquerade: "false"` in the ConfigMap
for devices i tried only untahhed and tagged + untagged interfaces

[2021-01-18 22:05] pchaigno opened #14646 "Connectivity loss through LB with vxlan + per-endpoint routes"
On an OpenShift environment with IPSec, vxlan, and per-endpoint routes enabled, we cannot establish connectivity between remote pods through a LoadBalancer servic (path `pod --LB--> remote pod`). Disabling per-endpoint routes solves the issue.

Connectivity from the host network to a remote pod (`node --LB-->remote pod`) through a LoadBalancer service works once https://github.com/cilium/cilium/pu

[2021-01-18 22:09] borkmann commented on #14314
Given we do need `CONFIG_NET_SCH_INGRESS`, should be enough to test for that one given the dependencies.

[2021-01-18 23:32] briantopping opened #14648 "ixgbe driver in XDP mode can fail to load when a node has >64 CPUs"
When Cilium is installed on a node where the Intel ixgbe driver is used with SR-IOV enabled, the driver will fail to load with a memory error that looks like the following when a node has more than 63 hyperthread CPUs:
[code]
When `init.sh` fails to load, the logs for the cilium node contain the output of shell script with `level=warning`. The actual error is displayed there:
[code]
At the time of

[2021-01-18 23:46] borkmann commented on #14648
(Has been reported to upstream kernel, thus closing from Cilium side given the issue is related to ixgbe driver itself. We can still update if something was fixed from Intel folks later on.)

[2021-01-18 23:46] #14648 closed

[2021-01-19 00:53] #12993 closed

[2021-01-19 00:53] #13766 closed

[2021-01-19 00:53] #13813 closed

[2021-01-19 07:20] brb commented on #14640
I've tried running it in a loop for almost forever and I couldn't reproduce the failure. Previously, I could reproduce it easily when running in a loop.

[2021-01-19 08:13] tklauser commented on #14640
Seems likely that the failing run of #14635 wasn't run with #14601 included. Let's close this for now. Thanks for trying to reproduce @brb!

[2021-01-19 08:14] brb commented on #14510
Fixed by https://github.com/cilium/cilium/pull/14601.

[2021-01-19 08:14] #14510 closed

[2021-01-19 09:26] brandshaide commented on #14099
isn't this already covered by #14314

[2021-01-19 09:34] pchaigno opened #14652 "CI: K8sServicesTest Checks service across nodes Supports IPv4 fragments failing with endpoint routes enabled"
The fragment tracking test is currently failing on GKE, with zero fragments received at the destination. The issue can be easily reproduced by enabling test [`Supports IPv4 fragments`](https://github.com/cilium/cilium/blob/6e3ca8f84e643200203aec24b4310ec71c403942/test/k8sT/Services.go#L2594) on GKE.

Related: https://github.com/cilium/cilium/pull/14639

[2021-01-19 09:59] gandro commented on #14301
I did a quick test by printing out `os.Environ()` inside the `hubble-relay` process: Both docker and cri-o on minikube set `$HOME` to `/` in the `scratch`-based `hubble-relay` image. This explains why I have not observed the issue myself so far.

So it seems that cri-o/crun on Ubuntu 20.04 for some reason does not set `$HOME` not do this. I also find it very weird that it is not happen consistentl

[2021-01-19 10:26] youssefazrak commented on #9287
@pchaigno I will take care of this one.

[2021-01-19 11:37] pchaigno commented on #11767
Flagged this as `good-first-issue` and `area/documentation`. We should change the wording :point_up_2:

[2021-01-19 11:42] ti-mo opened #14655 "Azure IPAM: invalid re-use of addresses bound by azure-vnet"
Currently, there is nothing that prevents Azure IPAM from allocating an IP that's already been allocated by `azure-vnet`.

This might go unnoticed when the impacted workload doesn't factor network connectivity into its health check (ie. as a container serving static content). In my case, the `coredns-autoscaler` deployment that comes pre-installed on AKS was allocated the `10.240.0.56` address by

[2021-01-19 12:00] youssefazrak commented on #14320
@christarazi I started looking at this one. I have some questions though as I'm trying to understand how this DNS proxy works:
- What do you mean exactly by "applications are misbehaving"? Not respecting the DNS TTL and re-doing a DNS lookup?

- If my above assumption is correct, we consider the scenario of PR #13914 and that would give us two possible scenarios of "misbehaving":

1. DNS TTL is ex

[2021-01-19 12:52] pchaigno opened #14657 "Packets to pods processed twice with per-endpoint routes + VXLAN"
The following is an example trace on a node receiving packets from a VXLAN tunnel, with per-endpoint routes enabled and monitor aggregation disabled:
[code]
For IPv4, we have a single point in the code where we display `TRACE_TO_LXC` traces. We can therefore conclude that the packet was processed twice, likely once via a tail call to the destination BPF program, then a second time when the packet

[2021-01-19 13:05] brandshaide commented on #14314
I'd go for [netlink](https://github.com/vishvananda/netlink) which we're already using and in particular `func QdiscAdd(qdisc Qdisc)` if this sounds like a reasonable way to accomplish this //cc @qmonnet

[2021-01-19 13:09] brandshaide commented on #14314
I'd go for [netlink](https://github.com/vishvananda/netlink) and in particular `func QdiscAdd(qdisc Qdisc)` - if this sounds like a reasonable way to accomplish this //cc @qmonnet

[2021-01-19 13:51] pchaigno commented on #13064
This looks very similar to https://github.com/cilium/cilium/issues/14646 except tunneling is disabled.

@tobiaskohlbau Could you check if disabling `endpointRoutes` solves the issue?

[2021-01-19 14:26] pchaigno commented on #14640
https://github.com/cilium/cilium/pull/14639 failed with this flake: https://jenkins.cilium.io/job/Cilium-PR-Runtime-4.9/3353/testReport/junit/(root)/Suite-runtime/RuntimePrivilegedUnitTests_Run_Tests/
It does include #14601:
[code]

[2021-01-19 14:31] brb commented on #14640
@pchaigno Could you rebase against the latest master which includes the fix  https://github.com/cilium/cilium/pull/14651?

[2021-01-19 14:34] pchaigno commented on #14640
Yep, just realized the pull request is missing #14651 so likely the reason for the flake. I'll close again. Sorry for the noise.

[2021-01-19 14:34] #14640 closed

[2021-01-19 16:20] pchaigno commented on #14646
If we compare to the same packet path when per-endpoint routes are disabled (working baseline), we can see that the source IP should be SNATed on the client's node:
[code]
`10.128.10.166` here is `cilium_host`'s IP.

In iptables, with per-endpoint routes, we have a rule to SNAT those packets:
[code]

Once we enable per-endpoint routes, packets seem to not match the iptables rule anymore:
[code]

[2021-01-19 21:00] briantopping commented on #14648
An update from intel-wired-lan@lists.osuosl.org:

[2021-01-19 21:12] joestringer commented on #11646
A user has reported to us that when running kube2iam on older releases of Cilium, forwarding via kube2iam may be broken. In this environment, there was a clash with [AAD Pod Identity](https://github.com/Azure/aad-pod-identity). Removing AAD Pod Identity resolved the issue.

[2021-01-19 21:23] uykusuz opened #14658 "Cilium without kube-proxy and systemd 247 is broken on Debian Bullseye"
## Bug report

Installing cilium on a fresh kubernetes installation without kube-proxy on debian bullseye with systemd 247 doesn't work: coredns won't come up because the API server is not reachable. It keeps saying "still waiting on kubernetes". Everything comes up except coredns.

It's related to kube-proxy: it works with kube-proxy enabled.

**General Information**

- Linux: debian 10 with bull

[2021-01-19 22:24] pchaigno commented on #14646
So the issue is that we bypass conntrack on the return path, when going from `cilium_vxlan` to `lxc*` (between second and third lines below).
[code]
We follow this `redirect` call after enforcing ingress policies at `cilium_vxlan` for the destination endpoint:
https://github.com/cilium/cilium/blob/2fb041a608218b453e99ecab005fa1be4126bf51/bpf/bpf_lxc.c#L1227

[2021-01-20 05:25] izaakschroeder commented on #14658
This may be related @uykusuz: https://github.com/cilium/cilium/issues/14459 😄

[2021-01-20 05:37] brb commented on #14579
Discussed offline: `validate_ethertype()` on `wan0` drops the tagged packet. One possible solution is to pass the packet to the stack. The kernel should pop the VLAN header and then reinsert into RX queue, which eventually should lead to the bpf_host invocation attached to `wan0.4000`.

[2021-01-20 05:48] brb commented on #14658
@uykusuz Thanks for the issue. Did you check the systemd commit history between 246 and 247? Also, have you tried diff'ing `sysctl net` from the both versions?

[2021-01-20 09:26] uykusuz commented on #14658
@brb I didn't diff unfortunately. Und also I don't find a way to install systemd 246 specifically. Only 241 (from the buster repos) or 247 (from the bullseye repos).

So the only thing I can give you are some outputs from our live system, where the problem is not isolated. However, I hope this helps.

Here are two outputs from two of our nodes. [sysctl-net-systemd-246.6-2.txt](https://github.com/c

[2021-01-20 09:41] Subreptivus opened #14660 "istio-proxy can't connect to upstream/pilot on AKS"
## Bug report

**General Information**

- Cilium version (run `cilium version`):
Client: 1.9.1 975b66772 2020-12-04T18:16:09+01:00 go version go1.15.5 linux/amd64
Daemon: 1.9.1 975b66772 2020-12-04T18:16:09+01:00 go version go1.15.5 linux/amd64
- Kernel version (run `uname -a`):
Linux aks-vmss01-42431932-vmss000000 5.4.0-1035-azure #36~18.04.1-Ubuntu SMP Wed Dec 16 23:49:28 UTC 2020 x86_64 x86_64

[2021-01-20 10:34] aanm opened #14661 "v1.9.2 release"
## Pre-release

- [x] Create a [new project] for the next release version
- [x] Add build targets for the new release on [Docker Hub]
  - All versions:
    - [cilium](https://hub.docker.com/repository/docker/cilium/cilium/builds/edit)
    - [operator](https://hub.docker.com/repository/docker/cilium/operator/builds/edit)
    - [docker-plugin](https://hub.docker.com/repository/docker/cilium/docker-p

[2021-01-20 10:48] qmonnet commented on #14314
As discussed on Slack, we'll try to implement backup probes for `CONFIG_NET_SCH_INGRESS` and `CONFIG_BPF_JIT` in bpftool. I synced up with Philipp and will help with the process.

[2021-01-20 12:48] brb commented on #14658
@uykusuz I see that you have different devices:

- systemd 246: eth0, ens10
- systemd 247: eno1, eno1.4000

In the case of 246, is ens10 also a vlan dev?

[2021-01-20 14:39] tklauser commented on #14660
/cc @aditighag @jrajahalme who probably know best about Istio proxy in Cilium.

[2021-01-20 16:09] #14661 closed

[2021-01-20 17:48] uykusuz commented on #14658
@brb No, only eno1 is a vlan device.

-------- Original-Nachricht --------
Am 20. Jan. 2021, 13:49, Martynas Pumputis schrieb:

[2021-01-20 18:21] brb commented on #14658
Then you might be hitting https://github.com/cilium/cilium/issues/14579.

[2021-01-20 20:03] uykusuz commented on #14658
Thank you for pointing this out! Unfortunately I think our issue is different. There are no NodePort services involved on that node. Also the node with systemd 247 above itself cannot reach others. So egress is not working correctly.

Just to make sure: besides that issue with the live system I tested this issue with a fresh installation of debian 10 (specifically creating a single node cluster in

[2021-01-20 20:52] pchaigno opened #14674 "IPSec breaks hostns to externalTrafficPolicy=Local service with remote backend pod"
https://github.com/cilium/cilium/pull/14611 breaks connections from the hostns of one node to a remote pod via a NodePort service with `externalTrafficPolicy=Local`: `node1 -- VIP --> pod@node2`.

- node1 sends SYN to node2 via network (because VIP is node's IP).
- SYN is received on node2 and DNATed by kube-proxy to pod's IP. It is not SNATed because `externalTrafficPolicy=Local`.
- pod receives

[2021-01-20 22:12] pchaigno opened #14676 "CI: RuntimeFQDNPolicies toFQDNs populates toCIDRSet (data from proxy) L3-dependent L7/HTTP with toFQDN updates proxy policy"
https://jenkins.cilium.io/job/Cilium-PR-Runtime-4.9/3372/testReport/junit/(root)/Suite-runtime/RuntimeFQDNPolicies_toFQDNs_populates_toCIDRSet__data_from_proxy__L3_dependent_L7_HTTP_with_toFQDN_updates_proxy_policy/
[test_results_Cilium-PR-Runtime-4.9_3372_BDD-Test-PR.zip](https://github.com/cilium/cilium/files/5845587/test_results_Cilium-PR-Runtime-4.9_3372_BDD-Test-PR.zip)
From https://github.co

[2021-01-20 23:43] mattfenwick opened #14678 "Egress network policy allows traffic that should be denied"
## Bug report

A network policy which should only allow traffic to a single pod based on labels, also allows traffic to other pods without the label.

Expected connectivity matrix:

There are 9 pods, so 9x9 = 81 possible requests from pod to pod.
The pod issuing the request is in the left column; the pod receiving the request is in the top row.
An `X` means the request was denied; a `.` means the

[2021-01-21 05:00] cwwarren opened #14681 "[Helm] Values serviceAccounts.*.create are not respected"
## Bug report

**General Information**

We use IAM Role Linked Service Accounts to securely provide per-pod access to AWS APIs. As part of this provisioning process we pre-deploy IAM Roles and ServiceAccounts with the correct name before deploying K8S applications.

The values file seems to indicate that `serviceAccounts.*.create` can be set to false so we can use our externally managed service ac

[2021-01-21 07:09] Subreptivus commented on #14660
I bet it has something to do with Azure's CNI, but I don't know how to troubleshoot it properly. We have pretty old AKS cluster (v1.17.11) where Cilium v1.9.1 and Cilium's Istio v1.5.9 work just fine.

[2021-01-21 08:47] pchaigno commented on #14658
Unless that's what you did here, could you test on a system with systemd 247 but without VLAN? Despite what the title might suggest, I suspect #14579 isn't specific to NodePort services.

[2021-01-21 08:57] uykusuz commented on #14658
@pchaigno that's what I did in the bug report above: create a cloud instance in hetzner cloud with debian 10, add bullseye repos, apt-get update and apt-get dist-upgrade and install a cluster with cilium using kubeadm as described in the documentation for both tools and remove the taint for the master.

[2021-01-21 09:42] pchaigno commented on #14674
We discussed this in an ad-hoc meeting and considered three options:
1. Route traffic from `lxc*` to `cilium_vxlan` through the stack so that the reverse DNAT isn't skipped.
    1. This is expected to also fix https://github.com/cilium/cilium/issues/12542.
    2. Potential performance impact as we won't use `redirect()` anymore.
1. Use socket-level DNAT on the sender with `host-reachable-services`

[2021-01-21 11:39] pjbgf commented on #10256
Same issue running on `Ubuntu 18.04.5` with cilium `1.8.6`.

[2021-01-21 12:21] aanm commented on #14678
@mattfenwick thanks for opening the issue. I've tried to reproduce it and it seems the policy is not correctly defined as Cilium prints an error message with the following:
[code]

I've tested with the fixed policy:
[code]
and this gives the expected results.

[2021-01-21 12:55] #14331 closed

[2021-01-21 18:14] aditighag commented on #14660
We recently fixed Istio redirection in Cilium. Here is the PR - https://github.com/cilium/cilium/pull/14271
Could you try with Cilium v1.9.2 and Istio v1.6.15?

[2021-01-21 22:35] briantopping opened #14690 "NetworkPolicy using `ipBlock.cidr` fails when the address being referenced is an external interface"
## Bug report

Generating a network policy using `ipBlock.cidr` fails when the address being referenced is an interface of the system. For instance:
[code]

Pods annotated this way cannot reach the CIDR because the policy tries to match against the label `cidr:10.10.0.31/31` and the endpoint only has `reserved:remote-host`. It's a legal `NetworkPolicy` and can't be matched.

Seems like one way to

[2021-01-21 22:38] briantopping commented on #14690
Closing as duplicate of #12277

[2021-01-21 22:38] #14690 closed

[2021-01-22 00:08] aditighag commented on #12279
I hit this on PR #14679 yesterday, where the smoke-test-ipv6 failed. Attaching sysdump.
We won't save `kubectl describe pod` output to the collected sysdump, but I suspect it might be same issue as - https://github.com/cilium/cilium/issues/12279#issuecomment-685369453

How do we get history of this GH workflow?

[cilium-sysdump-out.zip.zip](https://github.com/cilium/cilium/files/5852781/cilium-sys

[2021-01-22 00:37] sayboras commented on #12279
I usually checked this [page](https://github.com/cilium/cilium/actions?page=2&query=workflow%3A%22Smoke+Test+with+IPv6%22) for history. Yup, I can see a few occurrences for this check 🤔

[2021-01-22 04:32] Weil0ng opened #14691 "MTU set error during initialization with image built from master"
see logs below, it seems like MTU is passed correctly (1460) to the init script, but somehow it later complains the argument is \<nil\>, image was built at master commit 004041fe5eb5d3faa5432a6f3b64a83733aaf632, environment is GKE

<details>
  <summary>Logs (click to expand)</summary>

[code]
</details>

any idea what might be wrong? Thanks!

[2021-01-22 07:44] pchaigno commented on #12279
Looks like pod `pod-to-a-allowed-cnp-7d7c8f9f9b-v4ntv` was in CrashLoopBackOff but I'm failing to see why. Maybe we should also include the output of `kubectl describe pods -A` in the artifact.

[2021-01-22 08:19] jaffcheng opened #14692 "Hubble verdict doesn't distinguish AUDIT from FORWARDED"
## Bug report

**General Information**

- Cilium version v1.8.4
- Kernel version 4.19.118
- Orchestration system version in use K8S v1.17.3

**How to reproduce the issue**

1. Create a test server `pod1`, create a deny all ciliumnetworkpolicy
2. Set `PolicyAuditMode` of the endpoint corresponding to the pod to `enabled`
[code]
3. start hubble observe
[code]
4. Access `pod1`, the `VERDICT` of hubbl

[2021-01-22 11:38] uykusuz commented on #14658
We could further pin it down to the following versions: It works on 247.1-3, but doesn't work on 247.2-4

[2021-01-22 12:16] Antiarchitect opened #14693 "cilium 1.9.2 ARP errors"
After update to cilium 1.9.2 I started to observe these errors in my ARP tables on k8s masters:

[code]

As you can see on different nodes the same MAC address is bound to different IPv4 addresses.

Bare-metal K8s:
[code]

P.S. Just noticed that my kube-proxy DS was up and running. Maybe related.

[2021-01-22 12:42] brb commented on #14693
Thanks for the opening issue. Which node mac addr is this?

[2021-01-22 12:58] pchaigno commented on #14691
@Weil0ng The logs don't match the code from https://github.com/cilium/cilium/commit/004041fe5eb5d3faa5432a6f3b64a83733aaf632. `init.sh` doesn't configure the MTU of `cilium_host` and `cilium_net` since commit 9e48678686e213b0b36d616d0bf20f5104eeca04.

Are you sure the image corresponds to 004041fe5eb5d3faa5432a6f3b64a83733aaf632? How did you build it?

[2021-01-22 16:37] aanm opened #14698 "v1.9.3 release"
## Pre-release

- [x] Add build targets for the new release on [Docker Hub]
  - All versions:
    - [cilium](https://hub.docker.com/repository/docker/cilium/cilium/builds/edit)
    - [operator](https://hub.docker.com/repository/docker/cilium/operator/builds/edit)
    - [docker-plugin](https://hub.docker.com/repository/docker/cilium/docker-plugin/builds/edit)
  - Cilium v1.8 or later:
    - [operat

[2021-01-22 17:23] pchaigno opened #14701 "Test host policies with proxy path."
We should have tests for the host policies when packets are redirected on ingress and egress to the proxy.

[2021-01-22 17:24] pchaigno commented on #11799
Closing as everything here has been addresses already or is tracked elsewhere.

[2021-01-22 17:24] #11799 closed

[2021-01-22 17:52] Diaoul commented on #13829
I'm facing the same issue. Is there any workaround?

[2021-01-22 18:41] Weil0ng commented on #14691
Hmm, interesting, we did have a couple internal patches on top but I'm pretty sure nothing touches `init.sh`...I'll double check

[2021-01-22 19:16] kubealex commented on #14698
The quickstart in the documentation has operator 1.9.3 version, pointing to quay repo, but the tag is not pushed.

[2021-01-22 19:43] fallard84 commented on #13167
We have the same issue. We deployed Cilium 1.9.2 on our GKE cluster. We also have preemptible nodes. Is there any update on this?

[2021-01-22 20:01] aanm commented on #14698
@kubealex should be fixed now, thanks for reporting it.

[2021-01-22 20:02] Diaoul commented on #14698
I don't see arm64 images being pushed on the regular repositories. Is that expected? If so, what's the timeline on that? The current [project](https://github.com/cilium/cilium/projects/108) is finished and dev images already build arm64, I though that was just waiting a new release.

[2021-01-22 20:04] aanm commented on #14698
@Diaoul the Cilium images are available in `quay.io/cilium/cilium-dev:v1.9.3` and `docker.io/cilium/cilium-dev:v1.9.3`. There is still some work left to be done before the are made into the official `cilium/cilium` of both repositories.

[2021-01-22 20:24] Weil0ng commented on #14691
Discussed on slack offline, seems like it is a peculiarity of the build system that I overlooked, closing.

[2021-01-22 20:24] #14691 closed

[2021-01-22 20:31] christarazi commented on #14336
While this affects Azure as well, the likelihood of users running into this bug on Azure is extremely small. The reason is because Azure allows up to 255 IPs on a single interface [1]. Given that standard K8s has a limit of around 110 pods per node, the chances that a user allocates an Azure interface that just so happens to be the 253rd, 254th, or 255th device attached to the node is extremely un

[2021-01-22 20:37] christarazi opened #14705 "Fix potential routing table collision in Azure IPAM mode"
This is a followup from https://github.com/cilium/cilium/issues/14336. As mentioned in https://github.com/cilium/cilium/issues/14336#issuecomment-765666525, this is unlikely to be hit, but we should still implement a fix to be proactive.

The attached file is a good start.

[refactor-eni-azure-datapath.patch.txt](https://github.com/cilium/cilium/files/5858451/refactor-eni-azure-datapath.patch.txt)

[2021-01-22 20:51] douglmil commented on #12981
This issue seems to still be present in 1.9.2.  overlay mode in EKS does not work if you use the instructions below, you end up wiht a crashing cilium-operator as described above.

Current instructions:

helm install cilium cilium/cilium --version 1.9.2 \
  --namespace kube-system \
  --set eni=true \
  --set ipam.mode=eni \
  --set egressMasqueradeInterfaces=eth0 \
  --set tunnel=disabled \
  --s

[2021-01-22 21:39] mattfenwick commented on #14678
@aanm thanks for taking a look !

I'm trying to figure out what the netpol spec is, my reading of the comments in https://github.com/kubernetes/api/blob/master/networking/v1/types.go and kubeval seem to say that this should be legal?

[code]

[2021-01-22 22:18] fallard84 commented on #13167
Upon investigating further, only pods which have their network created before the kubelet gets restarted with Cilium (through the node-init daemonset) end up not being sync. The `nodeinit.restartPods` was not working on GKE with cos_containerd, so I hard turned it off, but now I see why it is mandatory to have it on. I will look into opening some PRs to fix the nodeinit.restartPods for GKE with co

[2021-01-22 22:36] joestringer commented on #12981
@douglmil It looks like the `eni` option was changed to `eni.enabled` at some point (commit e1b25958067). It is likely that there is some documentation which is out of sync with this.

Could you try:
1. Using `--set eni.enabled = true`, and
2. Let us know which documentation you were following to generate the above set of options so that we can make sure the docs are updated.

[2021-01-22 22:42] joestringer commented on #12981
@douglmil It's also possible that you were affected by the temporary v1.9.2 issue described in the [v1.9.3 release notes](https://github.com/cilium/cilium/releases/tag/v1.9.3). Can you confirm that you observe the behaviour with `eni=true` on v1.9.3?

[2021-01-23 07:08] brb opened #14710 "datapath: Set timeout for default netlink socket"
As communication over vishvananda/netlink can block indefinitely (see https://github.com/cilium/cilium/pull/14502#issuecomment-756548459 for more details), we need to set a timeout for a netlink socket.

@ArthurChiao is going to open a PR for `vishvananda/netlink` to add a way to set a timeout for a default netlink socket. This would allow us to set the timeout without modifying each netlink invoc

[2021-01-23 17:18] Antiarchitect commented on #14693
@brb It's actually kube-2.prod.xxx eth0 mac address.
kube-5 ip route:
[code]

kube-3 ip route:
[code]

[2021-01-24 15:58] youssefazrak commented on #11961
@seanmwinn are you actively working on it?
If not, I can take care of this one.
Cheers.

[2021-01-24 18:20] mazzy89 commented on #13835
Hey @brb. I gave a look at this. I had to familiarize myself with the specific code path. My idea here to run [`flush`](https://github.com/cilium/cilium/blob/ec4167714163a1bb5a30656722673fb007d25764/pkg/maps/nat/nat.go#L203)  for all the `maps/nat` `GlobalMaps` when the `KubeProxyReplacement` Mode is set to `KubeProxyReplacementDisabled`. Ideally, the best IMO would be to run it during the daemon

[2021-01-24 19:40] brb commented on #14693
Could you elaborate more on this?

[2021-01-24 23:05] youssefazrak commented on #9212
@brb regarding the `DatapathErrors` counter, it seems to be used only for the `dump_interrupts`.
Wouldn't it be simpler to rename `DatapathErrors` and all the string prints by removing the error part? `Subsystem` will stay the same.
Also, I can take care of this one.

[2021-01-25 02:45] #14357 closed

[2021-01-25 02:45] #14358 closed

[2021-01-25 05:24] Antiarchitect commented on #14693
@brb - My kubernetes is mangad via Puppet kubernetes module. So when any node is added to the cluster or reinstalled - the whole kube-proxy daemonset is reinstalled and this cannot be configured. I even have an issue related to this: https://github.com/puppetlabs/puppetlabs-kubernetes/issues/450#issuecomment-765367366

[2021-01-25 06:09] brb commented on #14693
Thanks. I don't see how running kube-proxy could have lead to this problem. Was it a fresh cluster? Would it be possible for you to try to reproduce it? If yes, could you run `tcpdump -i any -w arp-$(hostname).pcap 'arp'` on each node?

[2021-01-25 06:30] brb commented on #13835
@mazzy89 You don't need to `flush` the maps. It's enough to conditionally add the map name to https://github.com/cilium/cilium/blob/master/pkg/datapath/maps/map.go#L134.

[2021-01-25 06:38] brb commented on #14658
@uykusuz Could you check the systemd changelog between those versions?

[2021-01-25 09:01] brb commented on #14693
@Antiarchitect No need to reproduce. The arping library is not thread-safe. Under the hood, it uses a raw socket which might mix responses. This explains the behavior you saw.

[2021-01-25 09:02] Antiarchitect commented on #14693
Ok, closing. For two days all seems stable. Thank you so much @brb

[2021-01-25 09:03] brb commented on #14693
Let's close it once https://github.com/cilium/cilium/pull/14709 which contains the fix has been merged.

[2021-01-25 10:11] aanm commented on #14678
@mattfenwick I think you are right.
[code]
The `netpol.yaml` contains the following:
[code]
The field `ports` is nor empty nor missing, from the documentation the rule should allow traffic only if the traffic matches at least one port in the list.

Going through the list, we have
[code]

Which is a `NetworkPolicyPort` that has the following data:
[code]

Both of its fields can be optional, if `Pro

[2021-01-25 11:05] #14100 closed

[2021-01-25 11:49] mattfenwick commented on #14678
/assign

[2021-01-25 12:57] mattfenwick commented on #14678
Push a first pass at this to https://github.com/cilium/cilium/pull/14720 -- haven't gotten it all to work yet, something somewhere else rejects the `0`

[2021-01-25 13:14] tobiaskohlbau commented on #13064
Sorry for the late response. I will try to test your solution if I find some time to recreate a cluster with above settings.

[2021-01-25 15:58] tklauser commented on #13011
Hit on #14718 https://jenkins.cilium.io/job/Cilium-PR-K8s-1.20-kernel-4.9/496/

[2021-01-25 17:22] aditighag commented on #12279
Surprisingly, I didn't see the failure from my PR.

[2021-01-25 17:26] twpayne opened #14722 "Feature Request: use mattfenwick/cyclonus to test network policies"
As [discussed on Slack](https://cilium.slack.com/archives/C2B917YHE/p1611353849014400) with @mattfenwick and @aanm .

## Proposal / RFE

**Is your feature request related to a problem?**

https://github.com/mattfenwick/cyclonus is a sophisticated tool for testing Kubernetes `NetworkPolicy`s, and has already found a bug in Cilium's implementation (#14678). It would be fantastic to integrate cyclonu

[2021-01-25 18:28] mattfenwick commented on #14722
Hi @twpayne , I'm excited to pitch in on this!

👍 👍

[2021-01-25 19:27] briantopping commented on #12895
Is this related to #14563?

[2021-01-25 20:53] joestringer opened #14724 "Feature request: Better policy construct to match on apiserver connectivity"
The Kubernetes apiserver typically lives on the kubernetes master nodes, and as such is addressed by the IPs of those nodes. When traffic to or from those nodes is handled at a peer Cilium-managed pod, the identity of those IPs for policy purposes is typically established as `remote-node` (or `host` if the pod is scheduled on the same node).

To allow such communication with the apiserver via netw

[2021-01-25 21:17] joestringer commented on #14724
Another option is to disable the remote-node identity by setting `transmit-host-src` to `true`.

If solving this issue requires modifying the identity of live nodes in the cluster, then close attention must be paid to upgrade impact in a similar way to the instructions laid out in the [v1.7 upgrade notes for enable-remote-node-identity option](https://docs.cilium.io/en/v1.7/install/upgrade/#new-co

[2021-01-25 22:15] pchaigno opened #14725 "Expose xfrm stats as Prometheus metrics for IPSec"
When IPSec is enabled, we should expose [xfrm errors](https://www.kernel.org/doc/Documentation/networking/xfrm_proc.txt) as Prometheus metrics. If those counters are increasing, they can be indications of misconfigured keys, corrupted data, etc.

[2021-01-25 22:22] pchaigno commented on #14724
To some extent it is also possible to restrict access to the kube-api server using the host firewall (beta feature). A host policy can be loaded on all nodes to deny ingress access from cluster pods and allow other accesses (world, remote nodes, etc.). Then, a second policy can be loaded on the master node only, to allow access to the kube-api server.

If using the host firewall, care must be take

[2021-01-25 22:27] pchaigno opened #14726 "Complexity issue on 5.10+ with kubeProxyReplacement=disabled"
Disabling the kube-proxy replacement on net-next results in complexity issues for the IPv4 path of `bpf_lxc`:
[code]
An example can be found at https://jenkins.cilium.io/job/Cilium-PR-K8s-1.13-net-next/556/testReport/Suite-k8s-1/13/K8sDatapathConfig_Encapsulation_Check_connectivity_with_transparent_encryption_and_VXLAN_encapsulation/.
Sysdump:
[b91bb5b3_K8sDatapathConfig_Encapsulation_Check_connec

[2021-01-25 23:53] tgraf opened #14728 "EKS NodePort to local node with kube-proxy is broken"
When running in native ENI mode, NodePort on the local node is broken:

[code]

[2021-01-26 00:05] aditighag commented on #14728
@tgraf I presume this is on the master branch?

[2021-01-26 00:06] youssefazrak opened #14729 "Helm: Allow to use custom serviceAccounts."
Follow-up of #14681.

We currently don't have the possibility of using custom serviceAccounts easily. The values are hardcoded.

[2021-01-26 01:22] izaakschroeder commented on #14459
@mvisonneau I checked on my end and `arp_ignore` is `0` here so I think you're right – issues not related.

[code]

[2021-01-26 03:15] christarazi commented on #14320
Yes, not respecting the DNS TTL and continuing to use the IPs returned in the response.

The DNS proxy only handles the DNS traffic.

:+1:

The former. It intercepts DNS requests and forwards them to the resolvers on behalf of the application.

Apologies for the late reply, I hope it's still useful.

[2021-01-26 08:29] tgraf commented on #14728
I've reproduced the above with 1.9.2

Reproduction steps:
[code]

[2021-01-26 09:40] ArthurChiao commented on #14710
Upstream issue: https://github.com/vishvananda/netlink/issues/613

[2021-01-26 09:48] pchaigno commented on #13294
@aditighag I've removed the `priority/release-blocker` label since AFAICS the release-blocking items have been addressed. Please `release-blocker/v1.x` label if I'm wrong.

[2021-01-26 13:30] brb commented on #14710
@ArthurChiao Thanks! Considering that the vishvananda/netlink project is not actively maintained, I'd suggest to open the PR to it, as your issue might get lost.

[2021-01-26 14:33] ArthurChiao commented on #14710
OK, I'll file a PR, thanks! @brb

[2021-01-26 19:58] uykusuz commented on #14658
I'm just a user of cilium, so I can't figure out important changes. But here's the changelog for the above versions:

[code]

[2021-01-26 21:16] pchaigno commented on #14234
We have a new test for complexity which should make it easier to reproduce and iterate on this regression. You can remove this line from `bpf/Makefile`:
https://github.com/cilium/cilium/blob/08a14ad0ce3f78ff0af3c094a1e56951e827f091/bpf/Makefile#L92
then run the following commands on a kernel 5.3+:
[code]
[K8sVerifier](https://github.com/cilium/cilium/blob/master/test/k8sT/Verifier.go) essentially

[2021-01-27 03:00] nyrahul commented on #4016
There was a discussion with the Cilium tech community with regards to this integration.
Posting the documents used in the context:
1. [Comparison of Identity marking solutions](https://docs.google.com/document/d/19Zh0Y9NUuw0o0txfPKF67BTNKjlfzicMEBRteqlVPPc/edit?usp=sharing)
2. [Cilium-SPIRE integration points](https://docs.google.com/document/d/16YowSttiQVNA4vqRzW22tHyntZvJKdYslEy-tpK2d6w/edit?usp

[2021-01-27 05:17] nr17 opened #14746 "Inconsistent view of nodes in cilium-agent (cilium node list returns deadline exceeded)"
**General Information**

- Cilium version (run `cilium version`)
Client: 1.7.12 56653039c 2020-12-03T16:11:41-08:00 go version go1.13.15 linux/amd64
Daemon: 1.7.12 56653039c 2020-12-03T16:11:41-08:00 go version go1.13.15 linux/amd64

- Kernel version (run `uname -a`)
Linux ip-10-xx-yy-zz 5.4.0-1032-aws #33-Ubuntu SMP Wed Dec 9 17:13:04 UTC 2020 x86_64 x86_64 x86_64 GNU/Linux

- Orchestration syste

[2021-01-27 07:42] brb commented on #9212
@youssefazrak Your suggestion makes sense. Just make sure that we don't forget to document the metrics name in [the upgrade guide](https://github.com/cilium/cilium/blob/master/Documentation/operations/upgrade.rst).

[2021-01-27 08:21] nr17 commented on #14746
Seems like the goroutines handling the http://localhost/v1/cluster/nodes API are getting blocked on a node entry mutex which is already locked by some other routine.

The serving routine gets blocked on "entry.mutex.Lock()" in the code below:

// GetNodes returns a copy of all of the nodes as a map from Identity to Node.
func (m *Manager) GetNodes() map[node.Identity]node.Node {
	m.mutex.RLock()

[2021-01-27 08:39] nr17 commented on #14746
goroutines state:

[code]

[2021-01-27 12:20] Joerg-Tech opened #14748 "Policy deny during deployment"
## Bug report

**General Information**

- Cilium version 1.9.1
- Kernel version 5.4.0-1036-azure
- AKS manged Kubernetes 1.18.10

**Description of the issue**

We are running a django based web application, that uses pgbouncer as a connection pooler.
Policies are configured, that django pod and pgbouncer pod can communicate with each other. There is also a CLUSTER_IP service for pgbouncer, that th

[2021-01-27 12:41] Antiarchitect commented on #14693
@brb Hmmmm. Seems like it's not kube-proxy related because I've just caught this error and kube-proxy was completely disabled this time

[2021-01-27 13:21] pchaigno commented on #14748
The packets are dropped because we enforce policies on the VIP (10.0.215.106) instead of the backend's IP. It indicates the DNAT at the socket level (kube-proxy replacement is enabled) didn't happen. It didn't happen because Cilium doesn't know of any backend to 10.0.215.106:
[code]

@Joerg-Tech Could you try disabling the kube-proxy replacement (`kube-proxy-replacement: disabled`) to let kube-pro

[2021-01-27 13:56] Joerg-Tech commented on #14748
Thanks a lot for your reply.
I'll try to disable `kube-proxy-replacemen` before the next deployment.

[2021-01-27 14:32] brb commented on #14693
Yes, as I said that it's not related. Please see https://github.com/cilium/arping/pull/7 for more details why it happened in your case.

[2021-01-27 14:49] pchaigno opened #14749 "Display host firewall status in cilium status"
Before we move the host firewall out of beta, it would be good to have its status reported in `cilium status`. Ideally, we would also inherit its enforcement status (enabled/disabled/audit, ingress/egress) from the host endpoint. If the host firewall is disabled, we could print its status only in `cilium status --verbose` to reduce noise.

[2021-01-27 15:05] pchaigno opened #14750 "Extend test-only to override KUBEPROXY parameter"
For the `test-only` trigger phrase, the `KUBEPROXY` environment variable is currently derived from the kernel version being tested:
https://github.com/cilium/cilium/blob/cc12cccda33a8f3913ba84f994c42fa447889f32/jenkinsfiles/ginkgo-kernel.Jenkinsfile#L172-L175

Ideally, we should be able to override this to be able to run specific tests on newer kernels with kube-proxy. https://github.com/cilium/ci

[2021-01-27 16:06] JCahu opened #14751 "Bad performance issue with quick-install"
Setup: quick-install.yaml is default config

[code]

My test environment:  could not connect to internet

[code]

k8s-node-1 to k8s-node-2

[code]

bad performance pod to pod
pod:nginx-7cd8678dc7-8jmdf  to  pod:iperf3-5b94859965-sjclk

[code]

when I used flannel instead of cilium, the throughput of pod to pod is 8.8Gb/sec.

I don't know what's wrong with my operation.

[2021-01-27 16:48] #13152 closed

[2021-01-27 16:48] #14128 closed

[2021-01-27 16:59] joestringer commented on #14657
I'm a bit conflicted on this: On one side, I feel like a given packet should only be handled once per flow through the overall packet processing code and ideally we would print something like the following to represent that we receive the packet from the tunnel and deliver to the endpoint:

[code]

At the same time, in endpoint routes mode, the traffic really is entering and exiting BPF space twic

[2021-01-27 17:03] pchaigno commented on #14751
@JCahu Could you collect a [sysdump](https://docs.cilium.io/en/stable/operations/troubleshooting/#automatic-log-state-collection) of our system? That will give us the information on the current Cilium configuration, kernel version, etc.

[2021-01-27 17:24] JCahu commented on #14751
[cilium-sysdump-20210127-172310.zip](https://github.com/cilium/cilium/files/5881946/cilium-sysdump-20210127-172310.zip)

[2021-01-27 17:25] joestringer opened #14753 "Make it more obvious when kernel requirements are missing"
The following log was gathered from a user environment running Ubuntu's `5.4.0-1031-kvm` image.

[code]

The key point is `"Failed to replace Qdisc for cilium_host: netlink: Replacing qdisc for cilium_host failed: operation not supported"`, but this can be hard to catch if you are not familiar with how to read these logs.

If replacing a qdisc is not supported by the underlying kernel, it should b

[2021-01-27 17:28] joestringer commented on #14748
Related: #13329

[2021-01-27 17:52] pchaigno commented on #14751
@JCahu Is this RedHat Enterprise Linux?

I'm guessing the kernel (reported as 4.18) has some additional backported features, because our kube-proxy replacement is enabled even though it normally requires Linux 4.19.57.
[code]

For other readers: the environment is running with VXLAN tunneling and per-endpoint routes disabled.

[2021-01-27 18:06] pchaigno commented on #14753
In the context of #14314, we discussed using only bpftool probes instead of relying on the kernel config file. Doing so would also address the present issue, correct?

[2021-01-27 18:07] joestringer opened #14755 "v1.7.13 release"
## Pre-release

- [x] Add build targets for the new release on [Docker Hub]
  - All versions:
    - [cilium](https://hub.docker.com/repository/docker/cilium/cilium/builds/edit)
    - [operator](https://hub.docker.com/repository/docker/cilium/operator/builds/edit)
    - [docker-plugin](https://hub.docker.com/repository/docker/cilium/docker-plugin/builds/edit)
  - Cilium v1.8 or later:
    - [operat

[2021-01-27 18:30] joestringer commented on #14753
I believe it could, yes. Strictly speaking, #14314 is aiming to resolve this for the `kernel-check` CLI, whereas this issue is more outlining an enhancement to Cilium startup logic. I wanted to make sure we catch that nuance and address each issue, even if the core fix is the same.

[2021-01-27 18:31] #14117 closed

[2021-01-27 18:35] joestringer commented on #13829
@Diaoul Other than manually updating the deployment to point to a valid repo, there is no workaround today. If you're interested in making changes to the helm charts to address the issue, we can help to walk you through that process. Feel free to reach out on Slack #development channel.

[2021-01-27 20:32] joestringer commented on #13294
Hi @aditighag , @Weil0ng are there any active plans to address any of the "future release" checkboxes at this point?

I seem to recall a conversation with @aditighag around Clusterwide LRP where I came to the conclusion that it's not necessary (since the nice thing about clusterwide is it crosses namespaces, but LRP is 1:1 with a pod that it is targeting).

There's actually still some remaining re

[2021-01-27 20:39] joestringer commented on #13294
Maybe a different take on the same question: This feature is [marked beta](https://docs.cilium.io/en/latest/gettingstarted/local-redirect-policy/). Which of those checkboxes do you think are necessary to mark it stable (along with community confirmation that it is good to run in production)?

[2021-01-27 20:49] aditighag commented on #13294
I'm planning to fix the following in v1.10 -

 Race conditions in getting pod from the pod store

[2021-01-27 21:15] joestringer commented on #12794
@jrajahalme are there still followup items here?

[2021-01-27 22:09] aditighag commented on #14728
I haven't been able to get an EKS cluster yet. :(

3rd attempt -

Error: timed out (after 25m0s) waiting for at least 2 nodes to join the cluster and become ready in "ng-6941ff93"

[2021-01-27 22:15] joestringer opened #14761 "v1.7: CI: K8sFQDNTest Restart Cilium validate that FQDN is still working: Expected connectivity to work consistently"
## Suite-k8s-1.17.K8sFQDNTest Restart Cilium validate that FQDN is still working

https://jenkins.cilium.io/job/Cilium-PR-Ginkgo-Tests-Validated/20066/testReport/junit/Suite-k8s-1/17/K8sFQDNTest_Restart_Cilium_validate_that_FQDN_is_still_working/
[31d28c11_K8sFQDNTest_Restart_Cilium_validate_that_FQDN_is_still_working.zip](https://github.com/cilium/cilium/files/5883432/31d28c11_K8sFQDNTest_Restart

[2021-01-27 22:16] joestringer commented on #14761
Seems likely to have failed because the CoreDNS pod is going down one one of the nodes; first guess is that that DNS pod is being used to resolve the FQDN that is being pinged.

[2021-01-28 05:16] AnishShah commented on #14749
I would like to work on this.

[2021-01-28 05:40] AnishShah commented on #14728
Is this with or without kube-proxy?

[2021-01-28 06:04] AnishShah opened #14765 "NodePort BPF is not accessible via ExternalIP on GKE and EKS"
## Bug report

**General Information**

- Cilium version (run `cilium version`) - 1.8.2
- Kernel version (run `uname -a`) 5.4
- kubeproxyReplacement=strict

**How to reproduce the issue**

1. Create a GKE cluster with Cilium
2. Create a Deployment.

[code]
3. Create a NodePort Service

[code]

4. Check public IPs of your Nodes and NodePort of `nginx-service`

[code]

[code]

5. Create a test pod t

[2021-01-28 06:05] AnishShah commented on #14765
Not sure if this is same as #14728

[2021-01-28 06:09] brb commented on #14765
Could you attach cilium sysdump? Also, does sending a HTTP request from the client pod to both of the nginx pods work if you use pod IPs instead?

[2021-01-28 06:09] AnishShah commented on #14728
I'm facing similar issue with NodePort on GKE with Cilium 1.8.2. #14765

[2021-01-28 06:21] AnishShah commented on #14765
yes

[code]

Could you attach cilium sysdump?
This is GKE. So `anetd` ds is same as `cilium`.
[cilium.zip](https://github.com/cilium/cilium/files/5885243/cilium.zip)

I was able to reproduce this on AWS cluster too.

[2021-01-28 06:30] AnishShah commented on #14765
Following things work correctly.

1. DNS name works

[code]

2. Internal IP of Nodes work.

[code]

3. One of the public IP of Node works.
[code]

[2021-01-28 06:54] brb commented on #14765
Thanks for the info!

Do nodes on AWS have both k8s InternalIP and ExternalIP?

[2021-01-28 06:57] AnishShah commented on #14765
yes. The same behaviour. It doesn't work for only one ExternalIP.

[2021-01-28 07:21] brb commented on #14765
The problem is that cilium-agent prefers InternalIP over ExternalIP in your case, as the latter is not assigned to any of network devices on the node. The IP addr is used to provision the service in the BPF map. Currently, you have:
- `0.0.0.0:NodePort` - accessible from inside a cluster via any IP addr assigned to a client pod node or a loopback addr.
- `InternalIP:NodePort` - accessible from out

[2021-01-28 07:25] brb commented on #14728
To verify whether it's the same issue, you need to check whether there exist ifaces with k8s ExternalIP and InternalIP.

[2021-01-28 08:05] AnishShah commented on #14765
Hi Martynas, Thanks for investigating. I can work on the fix.

I didn't understand this. As we see in Hubble output (comment#1), service resolution happens for ExternalIP `a.b.c.d` but not `w.x.y.z`.

[2021-01-28 09:05] brb commented on #14765
That's a good question. For some reasons ExternalIP of the remote node was in the local IPCache (`cilium-bpf-lb-list.md`) with the remote node identity, while ExternalIP of the local node was not there. So, for `a.b.c.d` (which is remote node's ExternalIP) this https://github.com/cilium/cilium/blob/master/bpf/bpf_sock.c#L249 made the service translation to happen. So the real fix is to add local E

[2021-01-28 09:50] brb commented on #14765
https://github.com/cilium/cilium/blob/ea15d37fa298ad8e3f46cd444ca0de63e6369546/daemon/cmd/datapath.go#L205 this is where the IPCache insert happens. I'd check why `addrs, err := d.datapath.LocalNodeAddressing().IPv4().LocalAddresses()` didn't return ExternalIP.

[2021-01-28 12:29] pchaigno commented on #14749
@AnishShah I've assigned you. Don't hesitate to reach out on Slack/#development or here if you have any question.

[2021-01-28 12:41] #14402 closed

[2021-01-28 14:37] JCahu commented on #14751
I used ubuntu20.04 instead of centos8
   `Linux master 5.4.0-26-generic #30-Ubuntu SMP Mon Apr 20 16:58:30 UTC 2020 x86_64 x86_64 x86_64 GNU/Linux`

Howerver, the throughput of pod to pod is only 2.01Gb/sec .
Is kernel 5.4.0-26-generic also not suitable? should I upgrade kernel without generic and higher, like 5.10.11?

sysdump as follows:
[cilium-sysdump-20210128-215837.zip](https://github.com/ci

[2021-01-28 14:39] pchaigno commented on #14761
Are you saying we would be hitting the TTL during the restart and doing a new DNS lookup as a consequence?

[2021-01-28 15:57] jrajahalme commented on #13071
Hit this in CI with Kernel 4.9 and K8s 1.20: https://jenkins.cilium.io/job/Cilium-PR-K8s-1.20-kernel-4.9/533/testReport/junit/Suite-k8s-1/20/K8sPolicyTest_Multi_node_policy_test_with_L7_policy_using_connectivity_check_to_check_datapath/

[2021-01-28 16:43] csomm opened #14775 "Cilium seems to lose identities, and thus starts dropping flows"
## Bug report

**General Information**

- Cilium version (run `cilium version`)

- Kernel version (run `uname -a`)

- Orchestration system version in use (e.g. `kubectl version`, Mesos, ...)

**How to reproduce the issue**

The cluster is an AKS cluster on Azure.

We are not sure how to reproduce the issue, but we had a problem with Cilium losing identities (and endpoints) of pods for some time wi

[2021-01-28 16:44] pchaigno commented on #13575
Thanks for adding the list of PRs @anfernee! This will be great to track the high-level overview as we review and merge the PRs :rocket:

I would recommend to send this piece as soon as possible. If we ever run into complexity issues, it will take some time to resolve.

For that item, I suspect it will be as easy as just setting up the `cilium_vxlan` device if tunneling OR egress gateway are enabl

[2021-01-28 16:56] mannytoledo opened #14776 "Namespace Level Overrides to Deny policy"
## Proposal / RFE

**Is your feature request related to a problem?**

With Isovalent recently introducing Cluster-wide Deny policies in Cilium 1.9, we request to extend this feature. What currently works for us is that the policies take precedence over all other rules on the cluster. The problem we face is on multi-tenant clusters where we want to allow namespaces to access their peered networks b

[2021-01-28 17:03] pchaigno commented on #14775
I'm assuming the policy drops are on egress?

I see a single policy for the metrics-server. Is that correct?
[code]
Unless they are running in host network namespace, it doesn't seem to allow egress to the coredns pods.

[2021-01-28 17:08] gandro commented on #13011
Hit on #14739: https://jenkins.cilium.io/job/Cilium-PR-K8s-1.20-kernel-4.9/539/testReport/junit/Suite-k8s-1/20/K8sServicesTest_Checks_service_across_nodes_with_L7_policy_Tests_NodePort_with_L7_Policy/

[2021-01-28 17:13] anfernee commented on #13575
This will come soon. Probably over the weekend.

Yes, it is. #14723 is a preparation to the change.

Yes, it is. Besides that, on the gateway side, the VIP needs to be programmed on external NIC, so the return traffic knows how to get back.

@MasterZ40 and I have gone through the code base. I think we have a good idea. If we need help, we'll ping you on slack. Thanks for the offer.

[2021-01-28 17:52] #14755 closed

[2021-01-28 17:54] csomm commented on #14775
The metrics-server and coredns pods are running in the kube-system namespace, and we have the following network policy to allow all intra-namespace communication:

[code]
The metrics-server is not running in the host network. I just deleted it (and made no other changes), and now it is running fine again:
[code]
And now we also have a Cilium endpoint for the pod again:
[code]
And we don't see any

[2021-01-28 21:45] AnishShah commented on #14765
Thanks. looking into it.

[2021-01-28 22:12] pchaigno commented on #14775
The ipcache map has the following information for metrics-server:
[code]
Meaning the pod has identity `UNMANAGED`. That can happen when a pod is created before Cilium is running. When was the last restart of the Cilium agent on that node? Could it match when the pod lost its previous identity?

[2021-01-28 22:16] aditighag commented on #14728
Looks like without kube-proxy. I followed the [steps](https://github.com/cilium/cilium/issues/14728#issuecomment-767385335), but I wasn't able to reproduce the issue. The default kernel version on EKS cluster is 4.14, and since kube-proxy-replacement is set to probe mode by default, nodeport is disabled.

@AnishShah If you are able to confirm if it's the same issue as #14765, I'll reassign the bug

[2021-01-28 22:45] aditighag commented on #14728
Looks like @AnishShah already confirmed the issue on EKS - https://github.com/cilium/cilium/issues/14765#issuecomment-768843452.
I'll close this issue as we are already tracking the fix via #14765.

[2021-01-28 23:09] msibrichins opened #14784 "Error when using transparent encryption, tunneling, and kubeProxyReplacement=disabled"
## Bug report

**General Information**

- Cilium version: 1.8.6 and 1.9.3
- Kernel version: 5.4.0
- Orchestration system version in use: kubectl and kubeadm v1.16.15, Ubuntu 20.04,
- Generate and upload a system zip:
[cilium-sysdump-20210128-160233.zip](https://github.com/cilium/cilium/files/5890463/cilium-sysdump-20210128-160233.zip)

**How to reproduce the issue**

1. Setup a VM on subnet 10.1.0

[2021-01-29 01:49] AnishShah commented on #14765
@brb Thanks for helping. I added log statements in various files and I was able to find the issue I think.

The IPCache insert of ExternalIPs of nodes is happening in NodeManager -
https://github.com/cilium/cilium/blob/dc0841e2d89c19f836588ff44ba20973fd49af35/pkg/node/manager/manager.go#L388

For remote nodes, `ExternalIP`, `InternalIP` and `CiliumInternalIP` are added to IPCache. But for local no

[2021-01-29 01:51] AnishShah commented on #14765
The fix is to append ExternalIP of local node here -

https://github.com/cilium/cilium/blob/dc0841e2d89c19f836588ff44ba20973fd49af35/pkg/nodediscovery/nodediscovery.go#L170-L207

But not sure what's the clean way to do it.

[2021-01-29 04:18] k8s-dev commented on #14411
Hitting same issue with Pod using ip from secondary pod id from 100.64.0.0/10 CIDR range with AWS EKS. https://aws.amazon.com/premiumsupport/knowledge-center/eks-multiple-cidr-ranges

When masquerading is turned to false - I see cilium status reporting all nodes reachable - but couple of cilium-test pods are in restarting loop.

[2021-01-29 05:29] izaakschroeder commented on #14459
I talked with @tgraf on Slack in an attempt to investigate further. I ran my exact same setup in ENI mode and everything worked fine. The changes I made to the terraform helm setup is as follows:

[code]

Everything else remained the same. The logs from `coredns` are now empty:

[code]

And running `kubectl apply -n cilium-test -f https://raw.githubusercontent.com/cilium/cilium/v1.9/examples/kuber

[2021-01-29 06:22] errordeveloper commented on #10645
Some additional information on this:

Systemd maintainer have introduced this configuration in attempt of fixing some kind of boot-time race condition, and _it seems_ to improve overall consistency of how the system behaves.

Initially there was https://github.com/systemd/systemd/commit/1836bf9e1d70240c8079e4db4312309f4f1f91fd, which later was followed-up with a bug report https://github.com/syste

[2021-01-29 08:57] #13658 closed

[2021-01-29 09:20] jibi commented on #13773
Some updates here: I opened https://github.com/cilium/cilium/pull/14562 to try catch this test failing in the CI (as I am unable to do so on the local test environment) without success. I think next step would be to unquarantine the test so that maybe we can try catch it failing in the k8s-all pipeline?

[2021-01-29 09:27] pchaigno commented on #13773
It might make sense to wait for the split of k8s-all in multiple pipelines to unquarantine. That split might be enough to fix the flakes we have/had.

[2021-01-29 09:46] errordeveloper commented on #10645
It looks like network interface sysctls are applied to new interfaces.

From [the docs](https://github.com/systemd/systemd/blob/78dff3f3d72c62357543fe1716da3886cff54a10/man/sysctl.d.xml#L79-L83):

I had a look at the code also, but not quite sure how exactly configuration is applied to each new device, but per above it's clear that some part of systemd does it for sure (albeit not `systemd-sysctl`

[2021-01-29 09:57] youssefazrak commented on #9287
I'm busy with another issue and I will re-assign myself later if no one takes it.

[2021-01-29 10:12] csomm commented on #14775
Here is the timeline of events:

On Jan 25 2021 we made a Kubernetes upgrade on the cluster (control plane and node pools), which created a new metrics-server pod (metrics-server-7f5b4f6d8c-6qb29) at about 2021-01-25T16:52:36+01:00 (first log message of that pod instance). The pod worked fine after that (no dropped flows). At that time Cilium 1.8.6 was running in the cluster.

Then on Jan 27 2021

[2021-01-29 10:19] pchaigno opened #14791 "CI: K8sVerifier Runs the kernel verifier against Cilium's BPF datapath: FailedScheduling"
https://jenkins.cilium.io/job/Cilium-PR-K8s-1.11-net-next/1535/testReport/Suite-k8s-1/11/K8sVerifier_Runs_the_kernel_verifier_against_Cilium_s_BPF_datapath/
https://datastudio.google.com/s/l_YypLc1mUc

I've only seen this failure happen on v1.8 with K8s 1.11 so it could be something specific to K8s 1.11.

### Stacktrace
[code]
### Standard Error
[code]

[2021-01-29 10:20] pchaigno commented on #14791
Next step is to reproduce locally with K8s 1.11 on Cilium v1.8. If that doesn't uncover the issue, we can add further failure logs (`kubectl describe nodes`).

[2021-01-29 10:27] pchaigno opened #14792 "CI: K8sVerifier Dummy context for quarantine Runs the kernel verifier against Cilium's BPF datapath: Unable to attach or mount volumes"
https://jenkins.cilium.io/job/cilium-ginkgo/job/cilium/job/master/6461/testReport/junit/Suite-k8s-1/20/K8sVerifier_Dummy_context_for_quarantine_Runs_the_kernel_verifier_against_Cilium_s_BPF_datapath/
https://datastudio.google.com/s/gJTcY05DrZA

Time out while trying to mount the Cilium source directory inside the test-verifier pod. It's happening on master with K8s 1.20 and 1.13.

### Stacktrace
[

[2021-01-29 10:53] errordeveloper commented on #10645
From talking to @qmonnet it sounds like an eBPF program cannot magically enforce sysctls, so I'll just scratch that idea 😉

There is however [CNI tuning plugin](https://www.cni.dev/plugins/meta/tuning/). but it looks like it is just writing to `/proc/sys/net/*`, which is what Cilium does already so it won't be sufficient to overcome systemd's behaviour.

I am thinking perhaps `cilium-cni` could de

[2021-01-29 13:37] pchaigno commented on #10798
With #14451 merged, this issue can now be closed :tada:

Next step: testing more than one combination of options (cf. https://github.com/cilium/cilium/issues/5058) :rocket:

[2021-01-29 13:37] #10798 closed

[2021-01-29 14:53] pchaigno commented on #14791
I was able to reproduce locally easily:
[code]

Changing the pod's tolerations to the following didn't help:
[code]

I noticed the test was always failing locally, while it only occasionally fails in CI. Locally, I was running only this test with a `--focus`. I checked the CI failures and they all happened when K8sVerifier was the first test in the suite (or previous tests were skipped). So I trie

[2021-01-29 15:06] pchaigno opened #14796 "CI: Segfault in helpers.(*Kubectl).GetAllPods"
We've hit a segfault in our ginkgo code in v1.9:
https://jenkins.cilium.io/job/Cilium-PR-Ginkgo-Tests-K8s/3943/execution/node/158/log/

[code]

[2021-01-29 16:56] msibrichins commented on #14784
Thanks @pchaigno for the analysis.  I'm trying to understand what a "complexity issue" is.  I read through your post at https://pchaigno.github.io/ebpf/2019/07/02/bpf-verifier-complexity.html and found eBPF [docs](https://ebpf.io/what-is-ebpf/) saying _"Program must have a finite complexity. The verifier will evaluate all possible execution paths and must be capable of completing the analysis with

[2021-01-29 18:17] joestringer commented on #10645
Long-term, everything will trend towards newer systemd so unless we expect a significant portion of users to be running non-systemd hosts, I don't think the "detect systemd version" piece makes any meaningful difference; I'd skip that to keep things simple.

Coordinating with systemd seems like the right solution, at the moment my understanding is that the initial lifecycle of the device from crea

[2021-01-29 19:01] nr17 commented on #14746
More updates:

The root cause is that there is a goroutine which have locked linuxNodeHandler.mutex while the second goroutine wants to acquire it:
[code]
The above goroutine is blocked on receiving the response from the netlink socket after executing neighAdd logic.

Later the following goroutine tries to acquire the linuxNodeHandler.mutex and gets blocked after getting a node update event from t

[2021-01-29 19:46] nr17 commented on #14746
NetLink Request contents for netlink.(*Handle).neighAdd:
(dlv) print req
*github.com/vishvananda/netlink/nl.NetlinkRequest {
	NlMsghdr: golang.org/x/sys/unix.NlMsghdr {Len: 48, Type: 28, Flags: 1285, Seq: 2599, Pid: 0},
	Data: []github.com/vishvananda/netlink/nl.NetlinkRequestData len: 3, cap: 4, [
		...,
		...,
		...,
	],
	RawData: []uint8 len: 0, cap: 0, nil,
	Sockets: map[int]*github.com/vishva

[2021-01-29 19:51] JCahu commented on #14751
@pchaigno
I have upgraded kernel to 5.10.11, but the result just like before.
It confuse me. Do you have some suggestion? Thanks
[code]

[2021-01-29 20:08] pchaigno commented on #14751
Do you observe any dropped or fragmented packets?

[2021-01-29 20:40] mvisonneau opened #14802 "ipam/aws/eni: IP allocation silently failing when using "unsupported" instance types"
## Bug report

As I attempted to get CIlium to run onto arm64 EC2 instances of the `t4g` family with IPAM/ENI mode, I encountered an issue where the agent is waiting for the operator to allocate new addresses indefinitely.

agent logs on the `t4g.large` instance:

[code]

operator logs:

[code]

I tried to scale out existing autoscaling groups of a knowingly working instance type: `m5.large` (amd6

[2021-01-29 20:44] nr17 commented on #14746
Looks like disabling node-port disables NeighDiscovery, and avoids this condition to happen.

So possible work-arounds are:
1. Disable node-port
2. Install cilium in kube-proxy replacement mode (requires us to use kops 1.18+)

Can somebody confirm?

[2021-01-29 22:23] nr17 commented on #14746
These issues are related and might provide a work-arround:
https://github.com/vishvananda/netlink/issues/613
https://github.com/cilium/cilium/issues/14710
https://github.com/vishvananda/netlink/pull/614/files

[2021-01-29 22:39] pchaigno commented on #14791
#14803 has the fix.

[2021-01-29 22:59] jrajahalme opened #14805 "iproute2 with BTF support needed for running Cilium as a system service"
EDIT: This was caused by out-of-date `iproute2` on the system.

## Bug report
Cilium datapath loading fails right after start:
[code]

- Cilium version (run `cilium version`)
PR on top of master

[code]

- Kernel version (run `uname -a`):

`Linux pie 5.4.0-1028-raspi #31-Ubuntu SMP PREEMPT Wed Jan 20 11:30:45 UTC 2021 aarch64 aarch64 aarch64 GNU/Linux`

- Orchestration system version in use (e.g.

[2021-01-29 23:30] jrajahalme commented on #14805
this was with default cilium-agent command line options. Adding `--kube-proxy-replacement=disabled` resolved the issue.

[2021-01-29 23:31] jrajahalme commented on #14805
So it was a complexity issue.

[2021-01-29 23:32] jrajahalme commented on #14805
@pchaigno Feel free to close if this needs no more tracking. However, it would be nice if the default configuration would "just work".

[2021-01-29 23:45] jrajahalme commented on #14805
Full (verbose) debug logs attached:
[log.txt](https://github.com/cilium/cilium/files/5896926/log.txt)

[2021-01-29 23:51] jrajahalme commented on #14805
I was wrong, it is still failing the same way even with `--kube-proxy-replacement=disabled`. Here's the output from `cilium status --verbose`:
[code]

[2021-01-30 00:03] jrajahalme commented on #14805
Minor detail from [log.txt](https://github.com/cilium/cilium/files/5896926/log.txt) attached above: bpf generation for the host endpoint (endpoint ID 1700) succeeds, but for the health endpoint (endpoint ID 417) it fails.

[2021-01-30 01:51] christarazi commented on #14802
Thanks for filing the issue.

Yes, I think properly logging this is a good solution.

[2021-01-30 06:17] christarazi opened #14806 "v1.8.7 release"
## Pre-release

- [x] Add build targets for the new release on [Docker Hub]
  - All versions:
    - [cilium](https://hub.docker.com/repository/docker/cilium/cilium/builds/edit)
    - [operator](https://hub.docker.com/repository/docker/cilium/operator/builds/edit)
    - [docker-plugin](https://hub.docker.com/repository/docker/cilium/docker-plugin/builds/edit)
  - Cilium v1.8 or later:
    - [operat

[2021-01-30 06:18] christarazi opened #14807 "v1.9.4 release"
## Pre-release

- [x] Add build targets for the new release on [Docker Hub]
  - All versions:
    - [cilium](https://hub.docker.com/repository/docker/cilium/cilium/builds/edit)
    - [operator](https://hub.docker.com/repository/docker/cilium/operator/builds/edit)
    - [docker-plugin](https://hub.docker.com/repository/docker/cilium/docker-plugin/builds/edit)
  - Cilium v1.8 or later:
    - [operat

[2021-01-30 07:34] JCahu commented on #14751
@pchaigno
No dropped packets observed after testing(use  ifconfig). I used tcpdump capture some jumbo frames on interface cilium_vxlan which mtu is 1450. So fragmented packets must exist.

When I use cni flannel instead of cilium, however, interface flannel.1 dropped 17 packets and existed jumbo frames either.
The throughput( pod to pod ) of **flannel is 8.8Gbits/sec** while **cilium is 2.00Gbits/

[2021-01-30 08:30] jrajahalme commented on #14805
Turns out iproute2 (`ip`, `tc`, `ss`) I had on the system did not support BTF. The problem was solved by compiling and installing new versions of these three binaries from github.com/cilium/iproute2. I had to look at `Dockerfile.runtime` in cilium repo for guidance on what to install, I did not dare run make install on iproute2, possibly without a way to revert that install.

[2021-01-30 08:33] jrajahalme commented on #14805
@pchaigno https://docs.cilium.io/en/v1.9/operations/system_requirements/#iproute2-requirements may need to be updated to state that BTF support is needed?

[2021-01-30 13:38] pchaigno commented on #14805
Not sure what version of iproute2 you were using, but that documentation already points to the specific forks that need to be used. If you think there's something we can improve there, please send a PR :slightly_smiling_face:

[2021-01-30 15:07] #14693 closed

[2021-01-30 15:15] #13835 closed

[2021-01-30 15:59] oldthreefeng commented on #14569
@linecolumn  @borkmann   hello ， there are on more question about K8sServiceHost . If kuberetes is Ha cluster. not a single master node,
what exactly for K8sServiceHost?   Ha control-palne  address like LB_HOST  or just  one of master Host address.

[2021-01-30 16:35] mvisonneau commented on #14802
with `--update-ec2-adapter-limit-via-api=true`, it works correctly 👍

[2021-01-30 19:29] christarazi commented on #14802
I added this as a good-first-issue. One potential solution is to log a msg when an "unsupported" instance type is detected and say something along the lines of "consider setting `--update-ec2-adapter-limit-via-api=true`".

[2021-02-01 04:15] ArthurChiao commented on #14710
Upstream PR: https://github.com/vishvananda/netlink/pull/614, created a few days ago, but hasn't got responded.

[2021-02-01 06:42] brb commented on #14710
@ArthurChiao Thanks. If we don't get any response from the library maintainers in a few days, then we can temporarily use forked version in `vendor/`.

[2021-02-01 06:53] brb commented on #14569
@oldthreefeng HA control-plane LB address. Next time please ask such questions in a separate GH issue or on Cilium's slack, as it is unrelated to the current issue.

[2021-02-01 07:29] anfernee commented on #11180
Working on the DSR mode. I found when using dsr with `DSR_ENCAP_NONE`, the first packet is dropped. Tracing down to the following snippet:

[code]

This basically is calling into `skb_adjust_room`. I am wondering if this helper in kernel work with fragmented packets. Anyone knows?

[2021-02-01 07:53] #14805 closed

[2021-02-01 07:55] brb commented on #11180
@anfernee Do you know the exact error code the skb_adjust_room returned?

[2021-02-01 08:25] anfernee commented on #11180
No. Good question! I will try it again tomorrow morning..

[2021-02-01 08:56] pchaigno commented on #11180
Could we be hitting [this check](https://elixir.bootlin.com/linux/v5.10.12/source/net/core/filter.c#L3637) in the kernel? If `skb->dev` is defined, then [we're bounded by](https://elixir.bootlin.com/linux/v5.10.12/source/net/core/filter.c#L3557) `skb->dev->mtu + skb->dev->hard_header_len` which is likely less than MTU + 8. I'm not sure when `skb-dev` is defined though (on TX? on RX once skb is ass

[2021-02-01 09:10] mazzy89 commented on #9580
@joestringer we put black on white the first proposal about the audit mode support at the level of the Cilium Network Policy and we are keen to grab this and working actively on this. I have shared the Google doc proposal with @joestringer.

[2021-02-01 09:15] #14681 closed

[2021-02-01 10:51] pchaigno commented on #14792
I've checked all recent failures due to this mount error and they all happened on k8s2. So https://github.com/cilium/cilium/pull/14803 might help fix this flake as well.

[2021-02-01 11:04] pchaigno commented on #9580
@mazzy89 That's great! Could you share the link here? Might also be worth sharing in Slack #development.

[2021-02-01 13:15] mazzy89 commented on #9580
Sure @pchaigno. Here the [document](https://docs.google.com/document/d/13mC0PeZRKLx2lwu6cJmQ3VftSJ8sqJLokZz8XuYpUbk/edit?usp=sharing)

I will probably shout it today during the weekly dev meeting just for FYI. We'll discuss this in the upcoming days.

[2021-02-01 13:31] brb opened #14817 "node-neigh: Do not arping if last request to nexthop was issued less than ARP timeout ago"
The recent [ARP refresh PR](https://github.com/cilium/cilium/pull/14498) introduced a periodic refresh of ARP entries. It can update a relevant permanent ARP entry when an L2 addr of a nexthop to a k8s node has changed.

In network setups in which nodes are connected over a single L3 gateway, the periodic refresh introduces unnecessary ARP flooding, as for each node the refresh goroutine will ping

[2021-02-01 16:52] jibi commented on #13774
I managed to reproduce this locally with:
[code]

Although I'm seeing a different failure:
[code]

[2021-02-01 20:01] anfernee commented on #11180
@pchaigno you are right. it is `-524`
[code]

[2021-02-01 20:36] mvisonneau opened #14827 "`-dev` container images, cp: cannot stat '/cni/loopback': No such file or directory"
## Bug report

As [raised over slack](https://cilium.slack.com/archives/C2B917YHE/p1612204649137200), when using the `docker.io/cilium/cilium-dev:v1.9.3` image, the `/cni-install.sh` fails with the following error:

[code]

The actual release image: `docker.io/cilium/cilium:v1.9.3` is not impacted

**How to reproduce the issue**

Attempt to run `/cni-install.sh` using the `docker.io/cilium/cilium-

[2021-02-01 23:21] nishantburte opened #14829 "cilium may not pick intended mtu when there are multiple interfaces"
## Bug report

I have multiple VMs connected over vxlan. vxlan interface is created for this purpose on the VM. vxlan interface has mtu of 1410, whereas ens4 interface has mtu of 1460.

So, I am expecting cilium to pickup mtu of vxlan device. But instead, cilium picks up the mtu of ens4.

level=info msg="Establishing connection to apiserver" host="https://172.26.232.1:443" subsys=k8s
level=info ms

[2021-02-02 00:09] liuyuan10 commented on #14829
The key problem here today is that cilium doesn't pick MTU based on k8s node IPs. When there are multiple interfaces, there is always chance cilium picks the wrong MTU in current state. --mtu and --device flag can help to workaround but doesn't solve the problem for those with different configurations on nodes.

Is it the right direction to always wait for k8s node information before setting MTU a

[2021-02-02 07:04] jaffcheng commented on #14775
Hi @csomm , I think we are facing a similar issue, would be nice if you could help checking cilium-operator log to see if lost identities were GCed by the operator. BTW, what is your kvstore backend, and did it happened to lose connection with the operator at that period of time?

[2021-02-02 09:20] #14827 closed

[2021-02-02 09:56] brb commented on #14339
@liuyuan10 I'd check whether MTU is not used before k8s node info is retrieved. Do you want to work on this?

[2021-02-02 09:56] brb commented on #14829
@nishantburte Does passing `--mtu` resolve the issue?

@liuyuan10 Let's move discussion to #14399, as it's a different issue.

[2021-02-02 13:34] adamwgray commented on #14339
In general the workaround is functional and doing fine. It would be nice if
either ip or interface could be specified as primary and the MTU be read
from that.

Adam

On Tue, Feb 2, 2021 at 1:56 AM Martynas Pumputis <notifications@github.com>
wrote:

[2021-02-02 14:14] mvisonneau opened #14838 "cni-uninstall.sh now removes the config even if it is managed externally"
## Bug report

Following this change: https://github.com/cilium/cilium/commit/fa8554cc4d18a7c5fd3bfd61635ada51bbf97801#diff-c4bdadd87da9bff82b8355eb6656d5c750c10bb6e7b2956de2a3705ce3ba4d56R82-R94

We now remove unconditionally the config files present within the cni conf dir (/etc/cni/net.d). In my case I include this configuration as part of the cloud-init of my instances. It now leads on failure

[2021-02-02 14:40] mvisonneau commented on #14838
As a workaround and maybe best practice, I renamed the file created with my cloudinit to `/etc/cni/net.d/05-cilium.conf.cloudinit` and reconfigured cilium with `--read-cni-conf='/host/etc/cni/net.d/05-cilium.conf.cloudinit'"`

[2021-02-02 15:22] pchaigno opened #14840 "CI: K8sServicesTest Checks service across nodes Tests NodePort BPF Tests with vxlan Tests NodePort with Maglev Tests Maglev backend selection: Exit code 72"
https://jenkins.cilium.io/job/Cilium-PR-K8s-1.13-net-next/632/testReport/junit/Suite-k8s-1/13/K8sServicesTest_Checks_service_across_nodes_Tests_NodePort_BPF_Tests_with_vxlan_Tests_NodePort_with_Maglev_Tests_Maglev_backend_selection/
[3973e998_K8sServicesTest_Checks_service_across_nodes_Tests_NodePort_BPF_Tests_with_vxlan_Tests_NodePort_with_Maglev_Tests_Maglev_backend_selection.zip](https://github

[2021-02-02 16:34] mattfenwick commented on #14722
@twpayne I don't have a solution to https://github.com/mattfenwick/cyclonus/issues/1 yet, **but** I do have a smaller subset of tests that can be run as a k8s job which all currently pass on cilium!! :) 🎉

What will it look like to run cyclonus in CI for cilium in terms of infra, i.e. should I start putting together a github action to run cyclonus on KinD?  (started looking at https://github.com/c

[2021-02-02 16:44] csomm commented on #14775
Hi @jaffcheng , I'm not sure how I can easily check which of the GCed identities was for which pod. The logs show only the ID. And we are not running in kvstore mode but in CRD mode. But yes, the cilium-operator lost the connection to the API server on on Jan 28 2012 5:14 UTC, when the problems with dropped flows started happening.

But I'm trying to find out when Cilium endpoints were created or

[2021-02-02 17:03] jibi commented on #13774
Managed to reproduce the same error locally:

[code]

`cilium-operator` was in `CrashLoopBackOff` state:

[code]

I grabbed the [full logs](https://github.com/cilium/cilium/files/5912894/cilium-operator-logs.txt) but the most interesting part seems to be:

[code]

Shortly after that it recovered by itself:
[code]

[2021-02-02 18:08] liuyuan10 commented on #14829
@brb We think it's the same issue of #14339. passing --mtu will work but that's not what we want. Let's close this one and move to #14339

[2021-02-02 18:10] liuyuan10 commented on #14339
@brb Yes. I'm looking into this with @nishantburte . Our current direction is to delay MTU detection until k8s node info is obtained by cilium-agent. Need to learn when the MTU is used in the code

[2021-02-02 18:11] adamwgray commented on #14339
That makes good sense.

Adam

On Tue, Feb 2, 2021 at 12:10 PM Yuan Liu <notifications@github.com> wrote:

[2021-02-02 19:50] borkmann commented on #11180
In both ingress + egress hooks it must be set.

[2021-02-02 19:50] borkmann commented on #11180
Is this due to TFO?

[2021-02-02 20:17] joestringer opened #14841 "Rework `endpoint.state` to use a dedicated type"
The `state` field of the `Endpoint` object directly uses the `string` type, but it is expected to only hold specific values (like an enum). With it not being strongly typed, it's possible to call `Endpoint.SetState("foo")` and arbitrarily configure the states, rather than using one of a well-known set of states.

This cleanup request is to add a new type for the state and force that callers make u

[2021-02-02 21:35] pchaigno commented on #13575
I think we'll also need a Helm flag for the EnableEgressGateway agent flag introduced in https://github.com/cilium/cilium/pull/14723. It's lower priority though.

[2021-02-03 01:45] JornShen opened #14843 "cilium kernel check no match"
## Bug report

I used `Ubuntu 18.04.2 LTS` to install a k8s cluster with cilium(v1.9.3).
But cilium start failed, logs say that it should run in kernel >=4.17.
Then I upgrade the kernel to v5.6.15 with https://kernel.ubuntu.com/~kernel-ppa/mainline/v5.6.15/.(pkg without suffix lowlantency)

And cilium start success. But when I run  the `cilium kernel check` it get output like this

[code]

eBPF fi

[2021-02-03 02:46] #14336 closed

[2021-02-03 03:18] nishantburte commented on #14339
@brb I moved the code to read the k8s node specification early. So, now correct mtu will be set for a k8s node. With this, interfaces are taking expected mtu, instead of the default mtu detection logic. Please let me know what you think.

[code]

[2021-02-03 07:21] aditighag opened #14844 "LB service (pod) backend deletion breaks existing connections"
Consolidate discussion/proposals for

[ ] https://github.com/cilium/cilium/issues/12859 (forceful termination of existing connections)
[ ] https://github.com/cilium/cilium/issues/10217 (graceful handling of existing connections)

### Desired goal
Upon removal of a service backend, drain all the existing connections to the backend, and ensure that the backend is not selected for new connections.

#

[2021-02-03 07:29] brb commented on #11180
Or UDP?

[2021-02-03 07:47] anfernee commented on #11180
TCP Fast Open? No, I was using UDP. I was running a UDP echo service in the cluster, and sent a 2k file (bigger than MTU) to that service. What I found was interesting: the first packet was dropped, but the second packet was delivered.

[2021-02-03 07:50] brb commented on #14843
But cilium start failed, logs say that it should run in kernel >=4.17.

What was the error?

The problem reported by `cilium kernel-check` is false positive, see https://github.com/cilium/cilium/issues/14314.

[2021-02-03 08:04] JornShen commented on #14843
@brb  you mean `false`  is a bug?

[2021-02-03 08:19] brb commented on #14843
Most likely the kernel config was not available in your case, so therefore `cilium kernel-check` was reporting `false`.

[2021-02-03 08:20] JornShen commented on #14843
the error I not save it. But when I upgrade the kernel version.  cilium start success. 👀 @brb

[2021-02-03 08:26] brb commented on #14843
Let's close it as it's a duplicate of #14314.

[2021-02-03 08:26] #14843 closed

[2021-02-03 08:29] JornShen commented on #14843
My kernel config like this
[code]
https://www.tecmint.com/bcc-best-linux-performance-monitoring-tools/

@brb

[2021-02-03 08:31] brb commented on #14843
Yes, it was unavailable because `/boot` was not mounted into the cilium container.

[2021-02-03 08:44] brb commented on #14829
My reasoning was that #14829 is about the MTU detection code ignoring ifaces with the UNKNOWN state, while #14339 is about the MTU code ignoring `--devices` setting. In any case, #14339 should resolve #14829, so I agree - let's close it.

[2021-02-03 08:44] #14829 closed

[2021-02-03 08:53] brb commented on #14339
@nishantburte I think you might want to change the logic in the MTU detection routine. When `--devices` is specified, or they are detected (see `handleNativeDevices()`, you want to use those devices for detecting MTU.

[2021-02-03 09:01] JornShen commented on #14843
what do you recommand to do ? upgrade the kernel ? @brb

[2021-02-03 09:03] brb commented on #14843
Nothing. This warning is false positive in your case, so just ignore it.

[2021-02-03 09:07] JornShen commented on #14843
is there anything(like some comand) I can see cilium probe the ebpf success ? @brb

[2021-02-03 09:14] brb commented on #14843
`cilium status` should give you a good overview whether your system is functioning.

[2021-02-03 09:18] JornShen commented on #14843
ok, thanks !

[2021-02-03 09:53] pchaigno commented on #11180
First packet would be MTU sized, second packet would be smaller, right? So the `ENOTSUPP` error is expected. Not sure how we can work around that though :-/

[2021-02-03 09:54] pchaigno commented on #14537
Hit again at https://github.com/cilium/cilium/pull/14712.

[2021-02-03 09:55] brb commented on #11180
@anfernee Can you control the client-side MTU?

[2021-02-03 09:55] pchaigno commented on #14463
Hit again at https://github.com/cilium/cilium/pull/14712.

[2021-02-03 10:17] Joerg-Tech commented on #14748
I've tested it with `kube-proxy-replacement: disabled`, but this doesn't help.

The only workaround seems to be to allow the service additionally to the pod.

[2021-02-03 10:32] pchaigno commented on #14748
That's actually expected. I forgot that, with the kube-proxy replacement disabled, we will do the DNAT translation in the BPF program at lxc using the same map as before. The real issue here is that the service backends are missing the BPF map.

In the logs, I'm seeing some errors due to a transient connectivity issue. Could that be related or did it only happen this once?

Do you know at what tim

[2021-02-03 12:12] ti-mo commented on #14838
Hi @mvisonneau, thanks for the report, that's an interesting workaround! This read/write feature is primarily used to read a CNI config from a file mounted from a configmap, but I guess it can be used to designate a single source of truth as well.

Heh, unfortunately, managing CNI plugins is done by installing config files on the host. Right now, CNI handling is strewn across a few shell scripts a

[2021-02-03 12:52] nebril commented on #14722
Hi! This looks like a good candidate for Github Action. I guess we don't need to cover all supported k8s versions (at least in the beginning), so a test run in Kind cluster sounds like a good idea.

I would suggest to base the setup on https://github.com/cilium/cilium/blob/master/.github/workflows/smoke-test.yaml

[2021-02-03 12:54] pchaigno commented on #13552
Happened again in https://github.com/cilium/cilium/pull/14797:
https://jenkins.cilium.io/job/Cilium-PR-K8s-1.17-kernel-4.19/110/testReport/junit/Suite-k8s-1/17/K8sChaosTest_Connectivity_demo_application_Endpoint_can_still_connect_while_Cilium_is_not_running/
[198f744c_K8sChaosTest_Connectivity_demo_application_Endpoint_can_still_connect_while_Cilium_is_not_running.zip](https://github.com/cilium/ci

[2021-02-03 13:12] pchaigno commented on #4603
If someone wants to tackle this, you'd first need to reproduce the above steps (ex. with the [development VM](https://docs.cilium.io/en/latest/contributing/development/dev_setup/)) and then convert them to a documentation page in https://github.com/cilium/cilium/tree/master/Documentation/contributing.

[2021-02-03 13:14] pchaigno commented on #5719
It's been a year since #6912 was first opened and we have more complexity issues nowadays so this issue is probably not a `good-first-issue` anymore.

[2021-02-03 13:22] pchaigno commented on #7522
This issue is simply a matter of:
- [ ] Adding the `cilium_proxy{4,6}` maps removed in #6921 to the existing logic at https://github.com/cilium/cilium/blob/8c3f76f195e6ab17419a08d8441685092065e1df/daemon/cmd/datapath.go#L314-L324.
- [ ] Removing unnecessary references to these maps from the codebase: https://github.com/cilium/cilium/search?q=cilium_proxy4.

[2021-02-03 13:30] pchaigno commented on #9421
Half of the links have expired, it's not immediately clear how to configure components, and I doubt this is a simple change. Removing `good-first-issue` label.

[2021-02-03 13:43] pchaigno commented on #10700
I think this has been superseded by `test-only`, right?

[2021-02-03 13:44] #10700 closed

[2021-02-03 13:48] pchaigno commented on #11162
This `good-first-issue` can be tackled simply by making this suggested change:

[2021-02-03 13:57] pchaigno commented on #9680
This issue is not particularly difficult to address but still a bit too complex for a `good-first-issue` IMO.

[2021-02-03 14:12] pchaigno commented on #12558
Was this addressed by https://github.com/cilium/cilium/pull/12563?

[2021-02-03 14:15] pchaigno commented on #13183
There's an initial implementation at https://github.com/cilium/cilium/pull/13609 that could serve as a base for this `good-first-issue`.

[2021-02-03 14:26] pchaigno commented on #14205
@aanm Should we add a warning in the documentation stating it's deprecated for now, or should we just remove all documentation on etcd-operator?

[2021-02-03 14:27] pchaigno commented on #13366
This new check could be added as a GitHub action.

[2021-02-03 14:36] pchaigno commented on #10067
Hey @elfadel :wave: Did you find time to work on this? Do you need any help/pointers?

[2021-02-03 15:08] elfadel commented on #10067
Hi @pchaigno, I send message about that to @borkmann since mid december. Just transfer you the message on cilium slack. Not sure, maybe I am missing something here

[2021-02-03 15:13] pchaigno commented on #11485
There is an initial implementation at https://github.com/cilium/cilium/pull/11526 that can probably be used as a base for this `good-first-issue` (make sure to check the open review comments though).

[2021-02-03 15:27] aanm commented on #14205
@pchaigno we can remove all documentation regarding cilium-etcd-operator but we can only do it once we have clustermesh-apiserver documentation

[2021-02-03 15:37] pchaigno commented on #10976
I'm not sure I understand this issue. I think the reason we sometimes don't use `CiliumExecMustSucceed` is that it has a fixed offset of 1 for `ExpectWithOffset` and we would need e.g. an offset of 2.

[2021-02-03 16:14] pchaigno commented on #11999
I'm unable to reproduce. I've installed Cilium master (pre 1.10 at the time of writing) on EKS by following [our getting started guide](https://docs.cilium.io/en/latest/gettingstarted/k8s-install-eks/#k8s-install-eks). I've run `cilium monitor` on both nodes and I'm not seeing the flood of traces for the kubelet sessions in either.

I'll close. @christarazi please reopen if you still encounter the

[2021-02-03 16:14] #11999 closed

[2021-02-03 16:16] pchaigno commented on #14489
@stafordtituss Did you find time to work on this? Do you need any help or pointers?

[2021-02-03 16:19] pchaigno commented on #14109
What's the conclusion from this? Do we just need to add a note in the documentation to highlight requirements?

[2021-02-03 16:31] pchaigno commented on #14099
Yep, looks like a duplicate. Closing.

[2021-02-03 16:31] #14099 closed

[2021-02-03 16:34] pchaigno commented on #10256
This :point_up: is the approach that was decided and is already tracked at https://github.com/cilium/cilium/issues/14314. Closing this issue.

[2021-02-03 16:34] #10256 closed

[2021-02-03 16:38] pchaigno commented on #12981
The actionable items for this issue are highlighted in [this comment](https://github.com/cilium/cilium/issues/12981#issuecomment-682092186). We should:
- [ ] update the documentation to avoid the incorrect setup.
- [ ] fail in Helm for that incorrect setup.

[2021-02-03 17:08] pchaigno commented on #13496
I think this can be easily addressed without much prior knowledge by checking the cilium-agent help (or grepping in the documentation) to get a quick idea of what [each flag marked with a TODO](https://github.com/cilium/cilium/blob/c69dfd106131f174ec315b8522b36405b67207f2/install/kubernetes/cilium/values.yaml#L398) does.

Taking `endpointHealthChecking` as an example:
Checking `cilium-configmap.ya

[2021-02-03 17:24] liuyuan10 commented on #14339
@brb fixing --devices is not what we want. If you think this issue is for that, we can file a new issue tracking the change to use k8s node IP to pick MTU. We can't expect every node share the same interface name.

[2021-02-03 17:24] anfernee commented on #11180
Yes, I can configure it on the network interface from client-side.

[2021-02-03 18:31] pchaigno commented on #5622
We already have some [end-to-end tests](https://github.com/cilium/cilium/blob/b9420102edbe07c67bab434cb816e64670693510/test/k8sT/DatapathConfiguration.go#L92) for `cilium monitor` with `monitor-aggregation` to `medium`, but we don't check the rate limiting.

Any of the subitems in this issue can be tackled as a `good-first-issue`.

[2021-02-03 18:44] pchaigno commented on #13867
@brb This is just a matter of taking one of the existing BPF service handling tests (e.g., [`Tests NodePort`](https://github.com/cilium/cilium/blob/c69dfd106131f174ec315b8522b36405b67207f2/test/k8sT/Services.go#L2138)) and check that it still work during and after Cilium restart, similarly to [what is done for FQDN policies](https://github.com/cilium/cilium/blob/c69dfd106131f174ec315b8522b36405b67

[2021-02-04 05:39] joestringer opened #14852 "Extend kernel requirements description for transparent encryption"
This page doesn't describe the kernel config requirements for transparent encryption:

https://docs.cilium.io/en/v1.9/operations/system_requirements/#linux-kernel

Transparent encryption presumably needs at least `CONFIG_XFRM`, maybe other parameters as well.

[2021-02-04 07:18] brb commented on #11180
Lowering the client MTU by 8 bytes for the DSR mode with the IPv4 option should make it work.

[2021-02-04 07:20] brb commented on #13867
Yep. Ideally, the test should involve a majority of the lbmap-related maps (svc, affinity, src-range).

[2021-02-04 09:46] mvisonneau commented on #14838
👋 hey @ti-mo, no worries! 🙇

Indeed, I am using the helm chart (v1.9.3) with a specific image: `ciilum/cilium-dev:fafdb55c7e68665769c9907cb1eb486df7c31e57` as I was looking into this fix (unrelated to this issue) https://github.com/cilium/cilium/pull/14828

Main goal here was to be able to try out a multi-arch (amd64/arm64) implementation, which seems to works like a charm now !

If I remove the `

[2021-02-04 10:15] roodkcab commented on #13308
for me, it's becase I use ipvlan instead of veth.

when using ipvlan, since toFQDNs needs dns proxy on cilium_host to update fqdn cache, all dns packages return to pod are redirect to dns proxy, which is not possible, cause bpf programm is located in pod and can't see cilium_host in root namespace of network.

theoretically, change back to veth should get the job done.

[2021-02-04 11:22] RaveNoX opened #14857 "Add ability to disable NodePorts for LoadBalancer services and NodePort services with ExternalIPs"
## Proposal / RFE
Hello!

It will be nice to have ability to disable NodePort for LoadBalancer services and NodePort services with ExternalIPs specified.
This request is related with [Kubernetes KEP-1864](https://github.com/kubernetes/enhancements/tree/master/keps/sig-network/1864-disable-lb-node-ports) but also extends it for ExternalIPs enabled services.

It may be useful for Internet facing Bar

[2021-02-04 12:14] pchaigno commented on #14776
Discussed on Slack:

You can address this use case with `matchExpressions` in the CCNP's `endpointSelector`, with a `NotIn` operator, such as:
[code]

[2021-02-04 12:27] brb commented on #14857
@RaveNoX Thanks for opening the issue. Are you aware of https://github.com/cilium/cilium/pull/14465? Can you check whether `spec.allocateLoadBalancerNodePorts` can be set for services with externalIPs? If yes, then adding this to cilium should be trivial. /cc @fristonio

[2021-02-04 14:47] jibi commented on #13774
Reproduced the actual failure:

[code]

The deployment of coredns seems to be failing due to:
[code]

although coredns looks healthy:
[code]

[code]

The IP of the resolver is correct:
[code]

But the dig command is failing:
[code]

Looking at coredns logs we can see that it is receiving the requests:
[code]

So the responses are getting dropped for some reason.

Nothing interesting from tcpdump r

[2021-02-04 15:04] #13928 closed

[2021-02-04 15:17] jibi commented on #13774
Running the same `dig` command on the other node (`k8s2`) works:

[code]

And looking at tcpdump on k8s2 (where coredns is running) I can also see the response:
[code]

so the response is somehow getting lost while being tunneled from k8s2 to k8s1

[2021-02-04 15:22] borkmann commented on #11180
Also I'm getting a PR out next days that would cause an ICMP reply with frag needed returning `MTU - encap_ohead`. Maybe that would also address this case for clients as a fall-back..

[2021-02-04 15:27] jibi commented on #13774
Restarted Cilium with `monitor-aggregation: none` and rerun `cilium monitor`:

k8s1:
[code]

and on k8s2:
[code]

[2021-02-04 15:37] pchaigno opened #14859 "Connection RST on pod -> remote pod with host firewall and kube-proxy in native routing mode"
Running on Linux 4.9 (thus using kube-proxy), with native routing and the host firewall enabled, connections between pods across nodes are failing due to some masquerading issue:

Command run:
[code]
On k8s1:
[code]
On k8s2:
[code]

The part I don't understand yet is: why is the ACK packet from 10.0.1.8 to 192.168.36.11 SNATed if the previous SYN+ACK with same origin/dest. wasn't SNATed??

[2021-02-04 15:40] jibi commented on #13774
Underlying problem: both nodes have the same IP for the `enp0s3` interface:

[code]

[code]

so k8s2 is blackholing the traffic to k8s1

[2021-02-04 17:42] acholt opened #14860 "policy-enforcement: Setting "enable-policy: always" causes unexpected behaviour in not honouring policies"
A discussion took place on slack first before logging this issue [1].

## Bug report
I recently changed `enable-policy: default` --> `enable-policy: always` as described in [2]

- I see the Cilium Health status endpoints become unreachable, I don’t see anything in the Cilium agent logs.
- External DNS and KubeDNS is being blocked even though there is are policies allowing traffic.

[code]

I'm see

[2021-02-04 17:47] acholt commented on #14860
[cilium-sysdump-20210204-170601.zip](https://github.com/cilium/cilium/files/5927545/cilium-sysdump-20210204-170601.zip)

[2021-02-04 19:30] batistein commented on #14301
I have the same issue! How did you resolved it?

[2021-02-04 22:09] liuyuan10 commented on #14339
@brb, we prepared a PR #14863 . That is what we'd like to have. Please let us know what you think.

[2021-02-04 22:51] AnishShah commented on #14749
any idea where do we implement GetHealthz call?

https://github.com/cilium/cilium/blob/90c1acaa557edd101fd0e3bd409f9c643a88efda/cilium/cmd/status.go#L82

[2021-02-05 00:41] sayboras commented on #13183
thanks for your reminder, this was clearly falling into crack during new year transition, let me continue with this.

[2021-02-05 01:16] Vesnica opened #14865 "L7 policy not working when kernel disable ipv6"
## Bug report

**General Information**

- Cilium version (run `cilium version`)

  Client: 1.9.3 ae8661f14 2021-01-22T18:34:11+01:00 go version go1.15.6 linux/amd64
  Daemon: 1.9.3 ae8661f14 2021-01-22T18:34:11+01:00 go version go1.15.6 linux/amd64

- Kernel version (run `uname -a`)
  4.19.173
- Orchestration system version in use (e.g. `kubectl version`, Mesos, ...)

  Client Version: version.Inf

[2021-02-05 04:59] adamwgray commented on #14339
It is pretty easy to name your devices so that you have a standard that works. I think it is okay to link to device name. I realize it means more planning but if you are building clusters that look the same then not using default eth device names seems like a reasonable suggestion. We use storage for our device name on the back end and access for the front end devices.

Adam

Sent from my iPad

[2021-02-05 04:59] adamwgray commented on #14339
I will get with the team in the morning and test the patches out.

Adam

Sent from my iPad

[2021-02-05 09:37] Vesnica commented on #14852
Kernel config flag should be set as below:
[code]
Note: 5.10.x kernel removed ipsec related config entry(like: CONFIG_INET_XFRM_MODE_TRANSPORT and CONFIG_INET_XFRM_MODE_TUNNEL), these modules maybe integrated directly into the kernel(I'm not sure), but other flags(especially crypto related) must be set as stated above.

[2021-02-05 09:45] lbernail opened #14866 "Discrepancy in available IPs between cilium status and hostScopeAllocator behavior"
Hello,

We've noticed a discrepancy between the available IPs reported by the agent and the IPs that can really be allocated when using PodCIDR IPAM.

When we allocate a /28 to a node:
- Cilium status reports that 15 IPs are allocatable (probably from https://github.com/cilium/cilium/blob/641c0f9b3072a014c9541ecaa4e00a2b24c98d97/pkg/ip/ip.go#L34-L45)
- however the ipallocator from kubernetes (fork

[2021-02-05 09:51] brandshaide commented on #14314
FYI: going to work on this second half of february

[2021-02-05 09:56] jibi commented on #13774
Setting `enable-endpoint-routes` to `false` causes k8s2 to not blackhole anymore the response traffic for k8s1:
[code]

[2021-02-05 11:42] pchaigno commented on #14749
I would say here:
https://github.com/cilium/cilium/blob/90c1acaa557edd101fd0e3bd409f9c643a88efda/api/v1/client/daemon/daemon_client.go#L163

It might be easier to tackle this issue by looking for a commit that implemented a similar feature though. Commit c285ca04757f6caed38c45f84cbe255ce4d34c25, for example, added the host routing status.

[2021-02-05 12:12] Joerg-Tech commented on #14748
I doubt it. I could reproduce this issue on our freshyl setup development cluster as well and I didnt find any errors there.

It always starts , when the the migration pod is starting (after Phase 'ContainerCreating' is finished).

[2021-02-05 16:49] pchaigno commented on #14865
In the Cilium logs we can find the following errors which made me think something was wrong with our proxy when IPv6 is (partially?) disabled in the kernel.
[code]
The last error message is then repeated regularly, I'm guessing eveytime we attempt to recreate the endpoint.

[2021-02-05 18:09] liuyuan10 commented on #14339
@adamwgray thanks for testing the patch. In our use case, we don't want to touch interface name when the machine is not owned by us.

[2021-02-05 19:16] #14765 closed

[2021-02-05 19:50] AnishShah commented on #14749
Thanks @pchaigno. That was helpful.

Any idea how do I fetch this information? `options.Config.EnableHostFirewall` will tell me whether enforcement status is enabled or disabled. What about audit, ingress, egress?

[2021-02-05 20:41] adamwgray commented on #14339
Makes sense. This seems to mostly be about bare metal hardware so someone
should set it up with that I mind.  Simple to put a read me together with a
best practice on interface naming when dealing with clusters. I will check
on patch testing.

Adam

On Fri, Feb 5, 2021 at 10:09 AM Yuan Liu <notifications@github.com> wrote:

[2021-02-05 20:50] pchaigno commented on #14749
I'm not sure exactly, but it should be possible given `cilium endpoint list` and `cilium endpoint get -l reverse:host` have this information. Maybe see: https://github.com/cilium/cilium/blob/265d6775c2e0eb4e9d1dfef3ebeaa19a9b976e5f/cilium/cmd/endpoint_get.go#L46-L51

[2021-02-05 21:06] pchaigno opened #14871 "Document CCNP for the health endpoint"
Despite https://github.com/cilium/cilium/commit/839030549275119406c9f9f859a3bd90afa1d138, the health endpoint cannot be selected in policies with an `endpointSelector`:
[code]

[2021-02-05 21:07] pchaigno commented on #14860
The health endpoint selection bug is not limited to `enable-policy=always`. I've opened https://github.com/cilium/cilium/issues/14871 to track that separately.

[2021-02-05 21:32] pchaigno commented on #14871
:facepalm: André pointed out that the policy is incorrect and should be:
[code]

We should add this as an example in https://docs.cilium.io/en/latest/policy/kubernetes/#clusterwide-policies and link to it from https://docs.cilium.io/en/latest/policy/intro/#policy-enforcement-modes (this policy is mostly useful to folks using `enable-policy=always`).

[2021-02-05 21:42] pchaigno commented on #14860
The policy for the health endpoint has an incorrect `endpointSelector` has stated in https://github.com/cilium/cilium/issues/14871#issuecomment-774300176. I tested it locally and it should work once fixed. We will improve the documentation on that.

For the first policy, I'm not finding any endpoint in the sysdump with label `name=external-dsn` so I think it's expected that it doesn't match anythi

[2021-02-05 21:57] pchaigno opened #14872 "Document ginkgo command corresponding to CI trigger phrases"
For our CI, we use a number of trigger phrases, most commonly `test-runtime`, `test-gke`, `test-4.19`, `test-4.9`, `test-netnext`, and `test-me-please` which includes all previous phrases. To investigate flakes and test failures, we often need to run those same test pipelines locally, [using ginkgo](https://docs.cilium.io/en/latest/contributing/testing/e2e/#running-end-to-end-tests).

Most of the

[2021-02-05 22:31] pchaigno opened #14873 "Throw error if IPSec key changed but key ID didn't"
The key rotation for transparent encryption should always be performed with a new key ID [as per the documentation](https://docs.cilium.io/en/latest/gettingstarted/encryption/#key-rotation). When reading the IPSec key, we should throw an error if we detect that the key changed while the key ID didn't.

The key is loaded in [`loadIPSecKeys()`](https://github.com/cilium/cilium/blob/5b911b80127d7d791

[2021-02-05 23:01] matoszz opened #14875 "Helm chart should not fail on prometheus CRDs"
## Proposal / RFE

Small feature request... folks who are using your helm chart to install may not have the prometheus CRD's present but would still like to render the chart out and have the service monitors output. If the chart fails to render entirely due to the presence (or not) of prometheus CRDs, how would one get the service monitors to install if prometheus is setup _after_ cilium? Would be

[2021-02-05 23:46] aditighag commented on #14728
I was able to reproduce the issue.

[2021-02-06 09:46] batistein commented on #13955
Thank you for sharing the solution. @ByteAlex  i have one question regarding to using the "Hetzner Network Feature" did you use the cilium setting tunnel=disabled as described in the hetzner ccm docs?

[2021-02-08 06:13] brb commented on #14339
The fix looks OK, but it doesn't address one case. When running with kube-proxy-replacement or host-firewall, users are free to select on which netdevs to run BPF programs (via `--devices`; that was done in the description of this issue). If they have enabled any of the feature, but haven't selected netdevs, then cilium-agent will do the device auto-detection (https://github.com/cilium/cilium/blob

[2021-02-08 08:28] joestringer commented on #14865
This is particularly interesting given that IPv6 is disabled in Cilium configuration. I guess it configures IPv6 proxy listeners regardless of that setting.

[2021-02-08 10:15] pchaigno opened #14882 "Upgrade/downgrade test for patch releases"
On master, K8sUpdates tests the transition from master to the development branch of our latest stable release and back. For example on current master, [it tests](https://github.com/cilium/cilium/blob/265d6775c2e0eb4e9d1dfef3ebeaa19a9b976e5f/test/k8sT/Updates.go#L124-L129): `master -> v1.9 -> master`. On [the v1.9 development branch](https://github.com/cilium/cilium/tree/v1.9), K8sUpdates [tests](h

[2021-02-08 10:30] pchaigno opened #14883 "Test with connectivity checks in split Cilium versions"
During upgrades, users end up with a split-version cluster: some of the nodes run the old Cilium version while others have the new version. Our current [upgrade/downgrade test](https://github.com/cilium/cilium/blob/master/test/k8sT/Updates.go) consists of only two nodes and will therefore run in a split-version scenario for a very short time. We may therefore miss regressions in those scenarios.

[2021-02-08 10:39] pchaigno opened #14884 "Upgrade/downgrade test with non-default options"
Apart for a few exceptions, our [current upgrade/downgrade test](https://github.com/cilium/cilium/blob/master/test/k8sT/Updates.go) runs with Cilium's default Helm options. We should also run the same test with non-default options (e.g., `endpointRoutes.enabled=true`, `tunnel=disabled`, `encryption.enabled=true`, `remoteNodeIdentity=false`).

Related: https://github.com/cilium/cilium/issues/14883

[2021-02-08 10:56] pchaigno opened #14885 "Document packet traces and monitor aggregation"
We should have a documentation page under `Operations > Monitoring & Metrics` to document:
- [ ] The different values of `monitor-aggregation` (`none`, `low`, `medium`, and `maximum`) and how they impact the collected packet traces.
- [ ] What packet traces should be expected (e.g., `<- endpoint` for each packet leaving a Cilium-managed pod, `-> overlay` for packets redirected from a Cilium-manage

[2021-02-08 11:06] pchaigno commented on #13308
@joestringer Is there anything left to be done before we can close this issue? Your last comment seems to indicate the two root causes were addressed in the documentation and v1.9.0.

[2021-02-08 11:22] gandro commented on #14301
I have opened a PR which attemts to fix this on the Cilium side: #14886 - I believe however that this is probably something crun should try to address as well.

As a workaround for existing deployments, I recommend manually setting the `GOPS_CONFIG_DIR=/` environment variable on the cilium-operator and hubble-relay Kubernetes deployments.

[2021-02-08 11:34] pchaigno commented on #14865
The first two errors (`cannot read proc file`) can probably be fixed by skipping those files in [`readOpenLocalPorts()`](https://github.com/cilium/cilium/blob/641c0f9b3072a014c9541ecaa4e00a2b24c98d97/pkg/proxy/netstat.go#L48) if they don't exist. They are used in [`allocatePort()`](https://github.com/cilium/cilium/blob/265d6775c2e0eb4e9d1dfef3ebeaa19a9b976e5f/pkg/proxy/proxy.go#L199) to find the l

[2021-02-08 13:58] acholt commented on #14871
@pchaigno I can confirm this is working after making the changes above.

**Previously we saw:**
[code]

After the change, the cilium health endpoints are now reachable as you can see below.

[code]

[2021-02-08 14:00] acholt commented on #14860
Responed on: https://github.com/cilium/cilium/issues/14871#issuecomment-775169216

[2021-02-08 14:03] pchaigno commented on #14860
@acholt Is everything working as expected now with the correct labels?

[2021-02-08 14:12] mattfenwick commented on #14722
I copied/pasted and added a few things to the smoke-test and put up a WIP to start figuring out the github action part, thanks for the pointer @nebril !

[2021-02-08 14:20] acholt opened #14890 "Document of matchLabels in Cilium Policies"
I've followed the documentation on `matchLabels` as seen [1].

This issue was investigated on issue #14860 after apply `enable-policy: always` to the cilium config.

I was getting denies on my policies and no matches.
[code]

...after changing the `matchLabels` to be explicit as show in the `cilium trace` from `role: backend` --> `"k8s:role": backend` my policies start to work perfectly.

I'm not

[2021-02-08 14:22] pchaigno commented on #14890
This is not expected. Do you have a corresponding sysdump?

[2021-02-08 14:32] acholt commented on #14860
The healthend is now fixed after the change you suggested, I posted an update to the seperate ticket you created. ✅
https://github.com/cilium/cilium/issues/14871#issuecomment-775169216

I could find the `name=external-dsn` that must of been a mistake on my part when I was testing before I reverted the code back for my policies.

I have found what the issue is and have logged it seperatly here #148

[2021-02-08 14:34] acholt commented on #14860
[cilium-sysdump-20210208-142358.zip](https://github.com/cilium/cilium/files/5944300/cilium-sysdump-20210208-142358.zip)

[2021-02-08 14:34] acholt commented on #14890
[Uploading cilium-sysdump-20210208-142358.zip…]()

[2021-02-08 14:48] pchaigno commented on #14890
I think you posted the comment before the GitHub upload finished. I can't download the sysdump.

[2021-02-08 14:50] pchaigno commented on #14860
Does this policy work?
[code]

[2021-02-08 15:15] pchaigno opened #14891 "Document how to troubleshoot unbalanced traffic"
https://github.com/cilium/cilium/pull/14288 created a new section in our documentation to help troubleshoot unbalanced traffic. The issue hit by this user was discussed in more details at https://github.com/cilium/cilium/issues/14250.

We should pick up https://github.com/cilium/cilium/pull/14288 where it was left (don't forget to properly acknowledge original author), address the remaining nits a

[2021-02-08 16:07] acholt commented on #14860
Yes, not getting denied. This is the trace for the policy above. The trace says `Egress verdict: denied` but Hubble said it wasn't blocked.
[code]

This is for policy in my previous post https://github.com/cilium/cilium/issues/14860#issuecomment-775191244
[code]

[2021-02-08 16:08] acholt commented on #14890
Try to download it now.

[2021-02-08 16:38] pchaigno commented on #14860
Policy trace doesn't support egress, so I think this is expected.

Unless I'm missing something, everything is therefore working as expected here, right?

[2021-02-08 16:40] pchaigno commented on #14890
Which policy in the sysdump should I be looking at that is not working as expected?

[2021-02-08 17:01] joestringer commented on #14875
From Cilium community meeting: Background on this is that the Cilium charts were getting out of sync with the upstream Prometheus CRDs, and it's not really Cilium's responsibility to manage prometheus CRD installation. A good approach would be to improve the Cilium documentation with clearer instructions how to bootstrap this in the Cilium docs for prometheus, probably on this page:

https://docs.

[2021-02-08 17:09] ti-mo opened #14892 "Embed cni-(un)install.sh behaviour in the agent process instead"
# Proposal

The behaviour introduced [in this PR](https://github.com/cilium/cilium/pull/14192) caused some custom CNI deployments to break. Example: https://github.com/cilium/cilium/issues/14838. This also broke the deployment script bundled with `microk8s` (cc @joestringer), which we do aim to keep in a working state, although not being a part of this repo.

Since this was considered a (possibly)

[2021-02-08 17:20] ti-mo commented on #14838
If I'm not mistaken, this CNI deletion behaviour was not backported to 1.9.x, you should only see it on master. Caveat: we had an incident a few weeks ago where a master build was accidentally pushed as 1.9.2. (see https://github.com/cilium/cilium/releases/tag/v1.9.3) Make sure you're running the correct image while troubleshooting this.

Ah, that's correct. You don't manually install the CNI bina

[2021-02-08 17:32] joestringer commented on #13308
Nothing left to close. I also posted a PR to clarify the point that @roodkcab pointed out above (#14893).

[2021-02-08 17:32] #13308 closed

[2021-02-08 17:56] acholt commented on #14890
`mid-ingress-glowroot-to-cassandra` was one policy that wasn't working as expected, I have since changed the label from `name: cassandra` --> `"k8s:app.kubernetes.io/name": cassandra` and everything is working as expected.

[2021-02-08 18:02] pchaigno commented on #14890
Ok. So this issue can be closed?

[2021-02-08 18:02] acholt commented on #14860
Noted 👍

I have update all policies to use expliced labels as you see them in cilium trace, so I can confirm everything is working as expect with configuration `enable-policy: always`.

After switching to`enable-policy: always` the behaviour appear to changed as I wasn't getting denies before with those labels as `name: external-dns`, thoughts @pchaigno ?

[2021-02-08 18:05] acholt commented on #14890
I would like to understand why we getting this behaviour and if this is expected we should update the documentation, or is it a bug with Cilium?

[2021-02-08 18:34] pchaigno commented on #14890
None of your pods have label `name=cassandra`, so it's expected that it won't match anything when used in a policy. Using `"k8s:app.kubernetes.io/name"=cassandra` or `"app.kubernetes.io/name"=cassandra` in the policy instead should work. Is that not the case?

[2021-02-08 18:36] pchaigno commented on #14860
If no other policies selected those endpoints, then they were still in default-allow mode, meaning all communications would be allowed. `enable-policy=always` switches all endpoints to default-deny, even if no policies select them.

[2021-02-08 18:36] #14860 closed

[2021-02-08 18:49] liuyuan10 commented on #14339
@brb, let me understand your suggestion. Are you saying we should collect all devices (--devices, --dereict-routing-dev and k8sIP dev) and pick the smallest MTU? If so, is moving handleNativeDevices() before MTU detection a reasonable fix?

[2021-02-08 19:08] acholt commented on #14890
🤦  You are correct, I was looking at Hubble and took it as the truth, just checked the deployments.
![Screen Shot 2021-02-08 at 19 04 43](https://user-images.githubusercontent.com/8980867/107268742-8367c800-6a40-11eb-9172-495c86ccd3b7.png)

Thanks for your help @pchaigno, appreciate it.

[2021-02-08 19:08] #14890 closed

[2021-02-08 19:40] aceqbaceq commented on #478
i can confirm that upgrading vagrant version has solved the error

[2021-02-08 20:07] mvisonneau commented on #14838
Absolutely, I have since switched back on `v1.9.4` which is not impacted as it is not backported 👌

I personally feel that the use of `--read-cni-conf` and `--write-cni-conf-when-ready` flags combo make lots of sense and I am very pleased about this implementation. Documenting the potential breaking change with its workaround would indeed seem to be the most appropriate solution 🤷 !

[2021-02-08 20:25] pchaigno commented on #14890
No problem. I'm glad we got to the bottom of this :detective:

[2021-02-08 21:25] joestringer commented on #14339
One nuance I'd like to make sure is taken into account: In practice there is MTU (transmit) and MRU (receive). I'm not sure how well Cilium reflects this distinction internally, but at least in practice when configuring the devices, Cilium will apply the highest available MTU (MRU really) on devices (such as veth pairs providing connectivity to pods) to allow those devices to receive packets of an

[2021-02-08 22:07] pchaigno commented on #13774
I validated that the following diff fixes the flake locally:
[code]
Matching this iptables rules causes packets to bypass masquerading and leave with `enp0s3`'s IP. This change (from `! -o cilium_host` to `! -o lxc+`) when per-endpoint routes are enabled was introduced by commit https://github.com/cilium/cilium/commit/c496e25635c27ea290d1a58816340f17f795265d.

[2021-02-08 22:21] nishantburte commented on #14339
Currently, cilium choses MTU rather non deterministically.
MTU currently is chosen by passing 'ipv4ExternalAddress' in mtu.NewConfiguration(). This ip address is chosen in the flow InitDefaultPrefix()->firstGlobalV4Addr(), where it sort all the available ip addresses and returning the first ip address from the sorted list.

So, I could not understand how current code's non deterministic behavior i

[2021-02-08 23:29] joestringer opened #14900 "Refresh kubernetes intro docs"
This page is a little bit stale:
https://docs.cilium.io/en/v1.9/concepts/kubernetes/intro

Some missing pieces include commonly used features like:
* FQDN policies
* Hubble observability.

The following line has a zombie link:

[Networking](https://docs.cilium.io/en/v1.9/concepts/networking/#multi-host-networking) has no actual text, only further links so it's not obvious how it fits into the inte

[2021-02-08 23:36] liuyuan10 commented on #14339
@joestringer I'm not sure how far we should complicate this. Picking a device MTU and then letting cilium decide how to use it is clear to me. Introducing rx/tx MTU at the device level makes it even more complicated. To address your concern, I'm even fine with pick the largest MTU instead of minimum across all selected/detected devices. Either way, it's better than the current behavior. I believe

[2021-02-09 06:36] nishantburte commented on #14339
Due to the issues highlighted by @joestringer and @christarazi, moving WaitForNodeInformation() before MTU selection is not possible. So, other option is to delay the MTU selection.
I moved MTU selection part after both kubernetes node information is available and devices specified in --devices are also available. Due to this move, I had to delay MTUConfig specification in NewNodeDiscovery() and D

[2021-02-09 06:51] brb commented on #14339
@liuyuan10 Yes.

I'd consider moving the MTU detection to a later stage, as `handleNativeDevices` has some dependencies - e.g. https://github.com/cilium/cilium/blob/master/daemon/cmd/daemon.go#L500 or `initKubeProxyReplacement`. But please check first when the MTU is being used for the first time.

Also, @christarazi had some reservations about the ordering too.

[2021-02-09 09:53] #14729 closed

[2021-02-09 10:24] alexanderheckel opened #14904 "Dual-stack services seem to be broken (Client Version: v1.20.2, kubeadm version: v1.20.2)"
# Summary

Dual-stack services seem to be broken. In my tests, I could
- only connect to the first address listed in the `IPs` field
- if a IPv6 address is the first address, I could connect to the service VIP BUT the traffics gets forwarded with IPv4
- create separate services for IPv4/IPv6 and everything works as expected

My lab setup is a fresh/clean three VM setup w/ Ubuntu 20.04 and Containe

[2021-02-09 10:25] aanm commented on #14904
Depends on https://github.com/cilium/cilium/issues/13074

[2021-02-09 10:27] #14698 closed

[2021-02-09 13:40] pchaigno opened #14907 "Run bpf_ct_tests as part of CI"
The new `bpf_ct_tests` test added in https://github.com/cilium/cilium/pull/14097 is currently not run as part of CI. For that reason, it already broke once (cf. https://github.com/cilium/cilium/pull/14862) and is likely to break again.

To enable it in CI, the test file needs to be added to https://github.com/cilium/cilium/blob/90c1acaa557edd101fd0e3bd409f9c643a88efda/Makefile#L34
Running the priv

[2021-02-09 14:39] pchaigno opened #14909 "test: Validate Kubernetes DNS can resolve from both nodes"
When we deploy Cilium in tests, one of our first validation steps is to check that Kubernetes' DNS can resolve domain names. That is one of our most complex early checks because it involves sending a request to a VIP and potentially cross-node communications. It is the reason why `Kubernetes DNS did not become ready in time` is such a frequent error message in test failures and flakes.

We current

[2021-02-09 16:32] skuffe opened #14911 "BPF Service implementation - Gateway problem with FHRP"
## Bug report

When running Cilium with the KubeProxyReplacement set to "strict". The BPF based service implementation, uses a "non standard L2 packet forwarding in a vPC environment".

So essentially what happens is that a packet comes into our k8 host (in this case a UDP packet with a DNS request) from a source MAC address that is different from the currently active FHRP peer . The response is g

[2021-02-09 17:28] brb opened #14912 "node: Set all --devices IP addrs to CiliumNode object"
Setting the IP addrs ensures that they would be propagated to IPCache of all nodes. Otherwise, a NodePort (SNAT) reply sent to the intermediate node might be wrongly SNAT-ed by a destination node if it detects that the reply dst IP addr has `WORLD_ID`.

[2021-02-09 18:18] pchaigno opened #14915 "CI: GKE: K8sServicesTest Testing test script Validating test script correctness: Unable to restart unmanaged pod"
https://jenkins.cilium.io/job/Cilium-PR-K8s-GKE/4274/testReport/junit/Suite-k8s-1/16/K8sServicesTest_Testing_test_script_Validating_test_script_correctness/
No artifact available.

### Stacktrace
[code]
### Standard Output
<details><summary>Click for details</summary>

[code]
### Standard Error
[code]
</details>

[2021-02-09 19:08] joestringer commented on #14339
MTU currently is chosen by passing 'ipv4ExternalAddress' in mtu.NewConfiguration(). This ip address is chosen in the flow InitDefaultPrefix()->firstGlobalV4Addr(), where it sorts all the available ip addresses and returns the first ip address from the sorted list.

:+1: Makes sense, I agree we should make this more deterministic.

My prior explanation was a little terse, this piece is a bit ambigu

[2021-02-09 19:31] liuyuan10 commented on #14339
I don't think I agree with this. Even without --devices and --direct-routing-dev, cilium sill does auto detection and it should use those plus k8s IP device as relevant devices instead of using all.

This is more of a FR and can we avoid the complexity for now and fix the issue first?

I agree with the rest of the algorithm @joestringer. Others please let us know if there is any concerns

[2021-02-09 19:58] joestringer commented on #14339
Do you have an example configuration of a node that you're concerned about here where we may do the "wrong" thing? That could help us to reason through whether the above is a reasonable assumption to make or not.

Overall, I'm thinking about how to make sure that regardless of whatever configuration you have, by default Cilium is able to successfully establish connectivity from local endpoints and

[2021-02-09 22:01] joestringer opened #14918 "Cilium latest warning: Unable to update ipcache map entry on pod add"
Recent builds of the latest Cilium code (v1.10 dev cycle) have been succeeding, while printing the following warning to the logs:

[code]

This sounds like it may impact workloads, we should investigate what causes this to occur.

Example test:

`K8sDatapathConfig MonitorAggregation Checks that monitor aggregation restricts notifications`
https://jenkins.cilium.io/job/cilium-ginkgo/job/cilium/job/

[2021-02-09 22:03] joestringer opened #14919 "Cilium latest Envoy warnings"
Recent builds on latest Cilium (v1.10 dev cycle) have been triggering the following warnings from Envoy:

* `[Unable to use runtime singleton for feature envoy.http.headermap.lazy_map_min_size`
* `[Deprecated field: type envoy.config.route.v3.RouteAction Using deprecated option 'envoy.config.route.v3.RouteAction.max_grpc_timeout' from file route_components.proto. This configuration will be removed

[2021-02-09 22:20] pchaigno commented on #14911
/cc @brb

[2021-02-09 23:18] joestringer opened #14921 "Converge similar documentation for ENI mode"
The following two pages are very similar, but provide subtly different documentation:

* [Managed Kubernetes](https://docs.cilium.io/en/v1.9/gettingstarted/k8s-install-managed/) -> [Installation on AWS EKS](https://docs.cilium.io/en/v1.9/gettingstarted/k8s-install-eks/)
* [Getting Started Guides](https://docs.cilium.io/en/v1.9/gettingstarted/) -> [Setting up Cilium in AWS ENI mode](https://docs.ci

[2021-02-10 00:29] joestringer opened #14922 "Improve API ratelimit error messages"
Currently, if you deploy too many pods at a time, Cilium will ratelimit the requests and Kubernetes will report errors like the following:

[code]

The `response status code does not match any response statuses defined for this endpoint in the swagger spec` error is generated because the Cilium swagger spec does not define the error message for this error code.

I believe that this could be fixed

[2021-02-10 12:58] voron commented on #13974
I've tried this option and I hit
[code]
All EKS nodes [use kernel 4.14 ](https://docs.aws.amazon.com/eks/latest/userguide/eks-linux-ami-versions.html)

Do we have any option to get encryption with kernel 4.14 ?

[2021-02-10 14:42] #13902 closed

[2021-02-10 16:57] joestringer opened #14927 "Cilium status is missing host reachable services status"
I can't find the status of host-reachable-services in the cilium status.

[code]

Should it be visible in this section?

[2021-02-10 17:23] liuyuan10 commented on #14339
For example, I may have a interface with a small MTU 500. So by default, cilium will pick this 500 as MTU for pods which I don't think is the right thing to do by default. I believe today most users don't specify devices at all and changing default behavior too much is risky. I think the right behavior is to just use k8sIP dev or default route dev (based on auto detection logic) in default case an

[2021-02-10 17:43] aanm opened #14928 "GitHub action CI/CD follow up"
- [ ] Clean up images created in the `*-ci` repositories after 1 week.
- [ ] Make sure it is possible to restart redo a release in case one of the images fail to build.

[2021-02-10 19:32] #13774 closed

[2021-02-10 20:28] joestringer commented on #14339
MTU 500 doesn't make any sense. RFC 791 (IPv4 protocol) states in clear terms that "[All hosts must be prepared to accept datagrams of up to 576 octets](https://tools.ietf.org/html/rfc791#section-3.1)". For IPv6, the [minimum MTU is 1280](https://tools.ietf.org/html/rfc2460#section-5).

I was hoping to solicit any nuance that I may be missing with practical examples. If we don't have practical exa

[2021-02-10 21:09] springroll12 commented on #14379
This fix for this has been delayed until at least April 2021. Are there any workarounds known?

[2021-02-10 22:03] liuyuan10 commented on #14339
I think there is a mismatch in my picture. If users don't provide any device (default case), cilium will auto detect node port devices and direct routing device. aren't cilium only supposed to use those devices? Or is it that cilium is actually using all devices so taking them all into account in MTU calculation is necessary?

Also based on this algorithm, in the case of this issue, the storage in

[2021-02-10 23:02] joestringer commented on #14339
If the pod sends traffic that is not handled on a Cilium-managed network (so Cilium doesn't know what to do with it), then Cilium defers to the stack for routing. If the stack then is configured with multiple routes, then the traffic may egress on a device with lower MTU. So in that case, Cilium is responsible for the MTU of the pods but traffic could egress on any device.

Yes, it's suboptimal. H

[2021-02-10 23:09] pchaigno opened #14929 "No IPv6 connectivity to BPF HostPort when kube-proxy is installed"
While working on our new mixed (kube-proxy+kpr) CI pipeline (cf. https://github.com/cilium/cilium/pull/14543), I found a new bug in the IPv6 connectivity to BPF HostPort. When trying to connect to a HostPort on node2 from node1, the following packet traces are observed on node2:
[code]
The SYN packet is DNATed and goes through the stack on its way to the lxc device. The SYN+ACK is reverse DNATed a

[2021-02-11 04:28] jaffcheng commented on #14775
Hi, @csomm , just FYI, my issue turned out to be related to the kvstore lease, which might not be your case. When somehow our cilium-agent fails to keep the etcd keys (that represent cilium endpoints) alive, they are deleted by etcd, and then identities are GCed by the operator. Sorry for the noise.

[2021-02-11 06:07] brb commented on #14929
@fristonio Does this sound familiar to you?

[2021-02-11 06:14] brb commented on #14844
@aditighag Would you mind adding a comment to this issue saying which approach you are going to take?

[2021-02-11 08:28] funkypenguin opened #14931 "helm chart deploys serviceMonitors incompatible with Grafana dashboards"
## Bug report

**General Information**

- Cilium version: 1.9.4
- Orchestration system version in use: Kubernetes 1.19, Helm 3.5.2

**How to reproduce the issue**

1. Deploy the Cilium helm chart with:

[code]

2. Deploy prometheus-operator using the instructions at https://github.com/prometheus-community/helm-charts/tree/main/charts/kube-prometheus-stack

3. Import the Cilium agent 1.9 dashboard

[2021-02-11 08:39] skuffe commented on #14911
I should mention as well. The MAC "flip behavior" only occurs when the traffic comes in and leaves on the same node. So either with `loadBalancer.mode=snat` or with `loadBalancer.mode=dsr ` and the backend pod on the same node that received the ingress. In the case of DSR mode where traffic leaves a different node, the traffic leaves towards the default gateway as one would expect (from my observa

[2021-02-11 09:10] #14109 closed

[2021-02-11 09:28] pchaigno commented on #14929
The first commit of #14675 fixes this bug.

[2021-02-11 10:20] fristonio commented on #14929
@brb I don't think so, cilium kpr with kube-proxy is one of the cases which I did not consider when working on the dual-stack stuff. Good thing @pchaigno found and fixed this :partying_face:

[2021-02-11 13:31] pchaigno commented on #14915
Happened again for test `K8sChaosTest Connectivity demo application Endpoint can still connect while Cilium is not running` at https://jenkins.cilium.io/job/Cilium-PR-K8s-GKE/4298/testReport/junit/Suite-k8s-1/16/K8sChaosTest_Connectivity_demo_application_Endpoint_can_still_connect_while_Cilium_is_not_running/.

[2021-02-11 13:38] pchaigno commented on #14915
Happened also for test `K8sChaosTest Connectivity demo application Endpoint can still connect while Cilium is not running` at https://jenkins.cilium.io/view/PR/job/Cilium-PR-K8s-GKE/4295/testReport/junit/Suite-k8s-1/16/K8sChaosTest_Connectivity_demo_application_Endpoint_can_still_connect_while_Cilium_is_not_running/.

[2021-02-11 13:45] brb commented on #14911
@skuffe Thanks for the detailed issue.

What happens in your case is that the NodePort BPF associates the source IP with the source MAC of the request (https://github.com/cilium/cilium/blob/v1.9.4/bpf/lib/nodeport.h#L1409), and then later on, when sending a reply to the client it reuses the association instead of doing a FIB lookup (https://github.com/cilium/cilium/blob/v1.9.4/bpf/lib/nodeport.h#L

[2021-02-11 13:51] skuffe commented on #14911
Ahh thanks @brb, looks like it could be fairly simple to implement a switch that disables it, ill try and have a stab at it.

[2021-02-11 14:13] pchaigno commented on #13974
For IPSec + tunneling, you will indeed need Linux 4.19+. Without that minimum kernel, policy enforcement is broken (cf. https://github.com/cilium/cilium/commit/5b911b80127d7d79120252334b92f7fd6495831c).

We are currently working on fixing IPSec with native routing + ENI.

[2021-02-11 14:17] pchaigno commented on #14915
Also happened in https://jenkins.cilium.io/job/Cilium-PR-K8s-GKE/4297/testReport/junit/Suite-k8s-1/16/K8sHealthTest_cilium_health_Checks_status_between_nodes/ for test `K8sHealthTest cilium-health Checks status between nodes`.

I may have a fix.

[2021-02-11 14:23] voron commented on #13974
Is there any related open bugs I can track ?  Any known good previous cilium versions?

[2021-02-11 15:49] aanm commented on #14892
@ti-mo great write-up.

Only 2 comments:

Just to be clear, although it must implement CNI config cleanup, it does not mean that we should do this. We still want to be sure that kubelet, or the container runtime, will not pick any other CNI configuration except Cilium's when Cilium is down or being upgraded.

I would propose a dedicated binary. We need to take into account the memory footprint of

[2021-02-11 16:14] aditighag commented on #14844
Discussed proposal (1) with @borkmann and @brb, and we have a consensus now.

Backend selection is done using lb service map lookups, and backend info retrieval via lb backend maps. Could we remove a backend entry from the former, but not the latter until a configured graceful termination timeout? Backend ref counting logic would need to be updated.

[2021-02-11 16:57] ti-mo commented on #14892
True, I'm also changing my mind on this since we have `cilium cleanup`. Though as you've pointed out before, CNI exclusivity is the only real way of guaranteeing no other CNI gets picked. The upshot is, if *all* CNIs are gone (e.g. during agent restart with automatic CNI config clean up), I remember the node actually being marked as 'network not ready', but I need to check that again. This is clea

[2021-02-11 17:12] #14646 closed

[2021-02-11 17:12] #14929 closed

[2021-02-11 19:19] joestringer opened #14941 "Autoconfigure --ipv4-pod-subnets / --ipv6-pod-subnets in cloud environments"
When Cilium is configured with cloud integration modes (ENI, Azure) and encryption, ideally it would autoconfigure `--ipv4-pod-subnets` / `--ipv6-pod-subnets` (as necessary) based on information provided from the cloud APIs.

[2021-02-11 19:54] funkypenguin commented on #14931
I've just noticed (thanks to [Slack](https://cilium.slack.com/archives/C1MATJ5U5/p1613036389498900)) that this is a duplicate of https://github.com/cilium/cilium/pull/14747, so I'm closing this one.

[2021-02-11 19:54] #14931 closed

[2021-02-11 21:30] joestringer commented on #14915
FWIW, it seems to be fairly common since this particular GKE pipeline run: https://jenkins.cilium.io/job/Ginkgo-CI-Tests-Pipeline-GKE/3028/

[2021-02-11 21:41] pchaigno commented on #14915
The flake is still happening with #14938. Let's see if #14942 helps.

[2021-02-11 22:07] #12542 closed

[2021-02-11 22:07] #14674 closed

[2021-02-11 22:27] funkypenguin opened #14944 "Helm chart doesn't support multiple --api-rate-limit arguments"
## Bug report

Hey guys,

Further to our [slack thread](https://cilium.slack.com/archives/C1MATJ5U5/p1613075990014900), I'm creating this issue to associate with the PR I'm about to submit.

The issue is that in order to adjust the default API rate limits, it's necessary to pass multiple `--api-rate-limit` arguments to cilium-agent. However, the helm chart implements `extraArgs` as an object, and

[2021-02-11 22:36] #14301 closed

[2021-02-11 23:41] joestringer commented on #14437
`Stale or unroutable IP` usually means that there is no pod that Cilium knows about at the destination node. Are the destination pods managed by Cilium? They should show up in `kubectl get ciliumendpoints`.

[2021-02-12 05:27] michi-covalent opened #14948 "CI: Suite-k8s-1.15.K8sDatapathConfig Encapsulation Check vxlan connectivity with per-endpoint routes"
## CI failure

- Failing for the past 22 builds (Since #0 )
- observed in https://github.com/cilium/cilium/pull/14930

- Copy-paste the output the test failure.

[code]

- Upload the zip file generated from that test failure.
[450f39e0_K8sDatapathConfig_Encapsulation_Check_iptables_masquerading_with_random-fully.zip](https://github.com/cilium/cilium/files/5969803/450f39e0_K8sDatapathConfig_Encapsu

[2021-02-12 05:29] michi-covalent opened #14949 "CI: Suite-k8s-1.15.K8sDatapathConfig Encapsulation Check iptables masquerading with random-fully"
## CI failure
- Failing for the past 22 builds (Since #0 )
- Observed in https://github.com/cilium/cilium/pull/14930
- Copy-paste the output the test failure.
[code]

- Upload the zip file generated from that test failure.
[986a2f35_K8sDatapathConfig_Encapsulation_Check_iptables_masquerading_with_random-fully.zip](https://github.com/cilium/cilium/files/5969817/986a2f35_K8sDatapathConfig_Encapsulat

[2021-02-12 07:56] pchaigno commented on #14948
This is a duplicate of https://github.com/cilium/cilium/issues/13774 and will be fixed once we backport #14913.

[2021-02-12 07:56] #14948 closed

[2021-02-12 07:57] pchaigno commented on #14949
Duplicate of https://github.com/cilium/cilium/issues/13773.

[2021-02-12 07:57] #14949 closed

[2021-02-12 08:10] pchaigno opened #14950 "CI: Smoke test / conformance-test:"
The `Smoke test / conformance-test` is broken on master: https://github.com/cilium/cilium/actions?query=workflow%3A%22Smoke+test%22. E.g., https://github.com/cilium/cilium/runs/1883726775?check_suite_focus=true#step:9:245.

It fails with the following error in `Check prometheus metrics`:
[code]

[2021-02-12 08:15] pchaigno commented on #14950
It started breaking with commit https://github.com/cilium/cilium/commit/ae96b92c30350a78deb11c50ee0b3bbaf5e5e62d, which only touches documentation. So the issue is more likely a dependency that changed.

The `Check prometheus metrics` step has:
[code]
Presumably we should use a fixed version instead of `go get -u github.com/prometheus/prometheus/cmd/promtool`.

[2021-02-12 09:08] #14915 closed

[2021-02-12 09:19] jibi commented on #14950
I'm not sure I understand the reason of the failure :thinking:

The signature of the `api.LabelValues()` method in the `client_golang` package changed a couple of months ago: https://github.com/prometheus/client_golang/commit/75d7516f2a100997f739a5bc520bf08bb44a2600.

At the same time, `client_golang` is pinned to `v1.9.0` both in [Cilium](https://github.com/cilium/cilium/blob/master/go.mod#L67) a

[2021-02-12 09:24] pchaigno commented on #14950
Are we actually running from the Cilium src dir? https://github.com/cilium/cilium/blob/3b0f6e8666dec1d22c230964ace62417c7b062d1/.github/workflows/smoke-test.yaml#L133

[2021-02-12 09:26] jibi commented on #14950
Right, but even if we are running from `$HOME`, `client_golang` is pinned to `v1.9.0` in the Prometheus package

[2021-02-12 10:49] youssefazrak commented on #9287
@pchaigno I will work on this one

[2021-02-12 11:41] pchaigno opened #14955 "Enable per-endpoint routes by default"
Per-endpoint routes (`enable-endpoint-routes`) are currently disabled by default. We want to enable them by default for 1.10, mostly as a workaround for https://github.com/cilium/cilium/issues/10645. This is a meta issue to track progress on that work item.

- [x] Fix VXLAN + per-endpoint routes bug, https://github.com/cilium/cilium/issues/14646. https://github.com/cilium/cilium/pull/14675
- [x] F

[2021-02-12 13:34] brb opened #14956 "bpf_sock: Detect when running in host netns on Kind"
In bpf_sock we need to detect whether a socket belongs to a host netns (e.g. to allow a 127.0.0.1:NodePort lookup). We do that by comparing self netns cookie against a host nens cookie: https://github.com/cilium/cilium/blob/v1.9.4/bpf/bpf_sock.c#L90.

Unfortunately, this approach doesn't work when running on Kind, as cilium-agent is running in a non-host netns.

As there is no way to query a netns

[2021-02-12 13:49] brb opened #14957 "ci: Run smoke tests in GH actions with kube-proxy-replacement=strict"
https://github.com/cilium/cilium/pull/14951 will enable KPR on Kind (with some limitations - https://github.com/cilium/cilium/issues/14956). This means that we could run [the KPR test suite](https://github.com/cilium/cilium/blob/master/test/k8sT/Services.go) in a GH action which could drastically reduce time and effort it takes to test.

To make it happen, the following problems have to be resolve

[2021-02-12 13:52] pchaigno opened #14958 "CI: K8sIstioTest Istio Bookinfo Demo Tests bookinfo inter-service connectivity: Istio sidecar proxies are not reachable"
https://jenkins.cilium.io/job/Cilium-PR-K8s-1.14-kernel-4.9/25/testReport/junit/Suite-k8s-1/14/K8sIstioTest_Istio_Bookinfo_Demo_Tests_bookinfo_inter_service_connectivity/
[6dfeb230_K8sIstioTest_Istio_Bookinfo_Demo_Tests_bookinfo_inter-service_connectivity.zip](https://github.com/cilium/cilium/files/5972186/6dfeb230_K8sIstioTest_Istio_Bookinfo_Demo_Tests_bookinfo_inter-service_connectivity.zip)

##

[2021-02-12 13:53] pchaigno opened #14959 "CI: K8sDatapathConfig Transparent encryption DirectRouting Check connectivity with transparent encryption and direct routing"
https://jenkins.cilium.io/job/Cilium-PR-K8s-1.14-kernel-4.9/31/testReport/junit/Suite-k8s-1/14/K8sDatapathConfig_Transparent_encryption_DirectRouting_Check_connectivity_with_transparent_encryption_and_direct_routing_with_bpf_host/
[042b94d6_K8sDatapathConfig_Transparent_encryption_DirectRouting_Check_connectivity_with_transparent_encryption_and_direct_routing_with_bpf_host.zip](https://github.com/

[2021-02-12 14:05] rolinh opened #14960 "v1.9: Cilium is broken due to a kernel complexity issue when using Kind and a recent kernel"
## Bug report

With recent kernels (it's the case with at least kernel 5.10), when using Kind, Cilium is broken on v1.9 due to a kernel complexity issue. The default options as suggested in [the kind installation page](https://docs.cilium.io/en/v1.9/gettingstarted/kind/#install-cilium) instruct to disable host services (`--set hostServices.enabled=false`) as this is not supported with Kind.

As PR

[2021-02-12 14:11] pchaigno commented on #14960
I think this is a duplicate of https://github.com/cilium/cilium/issues/14726, no?

[2021-02-12 14:19] #14950 closed

[2021-02-12 15:15] dsexton opened #14962 "Improve permanent arp entry handling"
## Proposal / RFE

Building on top of the changes made for #14322 via #14322, there should be additional checks to ensure stale permanent arp entries are not left, thus breaking node-to-node communication. Even after upgrading from `1.9.1` > `1.9.3` > `1.9.4` we found stale entries, especially with worker pools where HPA & cluster autoscaler are present.

Some suggestions:

- [ ] Ability to have t

[2021-02-12 15:58] mvisonneau opened #14963 "helm: PodSecurityPolicy management regression"
I was looking to upgrade to a more recent version of the helm chart but it looks like there is a regression which occured with the [v1.9.0-rc1](https://github.com/cilium/cilium/tree/v1.9.0-rc1/install/kubernetes/cilium). (Related to the refactoring of the chart implementation I assume https://github.com/cilium/cilium/pull/13259).

From this version, we cannot dynamically create the pod security po

[2021-02-12 15:58] brb commented on #14962
@dsexton Thanks for the proposal. I'm thinking maybe we should stop adding permanent entries if the ARP refresher could run more often than the kernel's ARP GC? /cc @jaffcheng

[2021-02-12 16:00] aanm commented on #14963
@mvisonneau see https://github.com/cilium/cilium/pull/12469

[2021-02-12 16:00] mvisonneau commented on #14963
ah great thank you @aanm! 🙇 my bad, will close this then 👍

[2021-02-12 16:00] #14963 closed

[2021-02-12 16:01] brb commented on #14962
Also, @borkmann had some ideas how to fix this in the kernel.

[2021-02-12 16:23] rolinh opened #14964 "v1.9: no connectivity with Cilium v1.9 on Minikube with the docker driver + recent kernel"
## Bug report

**General Information**

- Cilium version (run `cilium version`): v1.9.4
- Kernel version (run `uname -a`): 5.10.15-arch1-1
- Orchestration system version in use (e.g. `kubectl version`, Mesos, ...): minikube v1.17.1

**How to reproduce the issue**

Follow the documentation to [install on minikube](https://docs.cilium.io/en/v1.9/gettingstarted/minikube/)
1.  Start minikube. If docke

[2021-02-12 16:55] pchaigno commented on #12612
I think this is a duplicate of https://github.com/cilium/cilium/issues/11841.

[2021-02-12 18:22] joestringer commented on #10645
When I added this to 1.10 feature candidates, I was meaning #14955 should resolve this. It's actually clearer to track #14955 in the project so I've removed this one from 1.10. This doesn't change which release we intend to address this issue more generically.

[2021-02-12 18:25] kkourt commented on #14907
Using privileged tests as suggested by @pchaigno above, does not seem to be an option because AFAIU they are part of the Runtime CI build which we run with 4.9 that does not support `BPF_PROG_TEST_RUN`:
[code]

Looking at running them as a GH action with the BPF checks.

[2021-02-12 19:46] joestringer commented on #14314
Hi, just given that this issue has been open for about 2 months now and progress is a bit slow, I think it's best for us to stop telling users that their environment is unsupported by removing this functionality (#14966). It's a simple step to revert that change again and add the followup commits to fix this issue, but would be good to verify that it is correct in a range of environments before we

[2021-02-12 21:07] #14907 closed

[2021-02-13 02:53] jaffcheng commented on #14962
If ARP probes refresh the kernel neighbor table, I think so, but I think we would need to handle agent crashes then. @brb

[2021-02-13 08:48] povils commented on #13123
What is the status of this? DO we still have the bug here?

[2021-02-13 11:30] unixfox commented on #13663
When enabling `encryption.nodeEncryption` I get a lot of "Oversized IP packet from X" in the console logs.
![image](https://user-images.githubusercontent.com/4016501/107848852-c0d8a680-6dee-11eb-9b00-63c52d07b471.png)

Maybe this could be related to the nodes being unreachable? I tried to lower the MTU, but that didn't fix the issue.

[2021-02-13 14:41] a-a-abramov opened #14969 "DNS lookup fails in IPv6 with DNS policy"
## Bug report
I've been asked [here](https://cilium.slack.com/archives/C53TG4J4R/p1612354925093600) to share my findings as an issue.

In short - any DNS L7 rule prevents DNS responces from being forwarded to the client in our installation.

`cilium status --all-redirects ` (sed-ed) on the node with both coredns and the client pod.
[code]

Cilium helm chart values (version 1.9.[34] - same results

[2021-02-13 19:58] dwdrajesh opened #14971 "Cilium Basics"
For beginners, I was looking if there is any online material, or a video course that explains container networking in Linux and how Cilium is different from the usual networking, any recommendation from developers here please?
Thanks.

[2021-02-13 20:05] joestringer opened #14972 "Does cilium_k8s_event_lag_seconds metric work?"
When I run `cilium metrics list` in a local microk8s environment (Cilium dev version, v1.10 cycle), it reports:

[code]

The other `cilium_k8s_client_api_latency_time_seconds` metrics all report >0 values, so this one seems just wrong.

I saw similar reports in another more serious dev environment from another community user (v1.9.x).

[2021-02-13 20:06] joestringer commented on #14971
Some thoughts, maybe there are other resources available or someone could create more targeted resources:

https://cilium.io/blog/2020/11/10/ebpf-future-of-networking/
https://ebpf.io/#featured-ebpf-community-blogs
https://www.isovalent.com/resources

[2021-02-13 20:25] aanm commented on #14972
That metric reports the lag of a pod event that was received after a CNI add. If the pod event is received before the CNI add them it is assumed there is no latency.

[2021-02-13 22:22] pchaigno commented on #14971
We also have https://github.com/cilium/cilium/blob/master/FURTHER_READINGS.rst which may be relevant here.

[2021-02-13 22:34] pchaigno commented on #14969
From the packet traces, it looks like DNS answers are making it to the container (we emit the `-> endpoint` traces right before passing the packet to the containers). The tcpdump inside the pod's netns also shows that. It might be worth taking a look at the actual DNS answer. Maybe they are somehow malformed?

[2021-02-14 00:08] a-a-abramov commented on #14969
Any specifics on how to notice that with tcpdump in coredns ns?

[2021-02-14 21:37] leoluk commented on #9361
What options affect compilation?

We want to include Cilium in a minimum k8s distro and want to minimize our footprint and have full reproducibility for our images. Reproducing the Clang toolchain is quite an effort :-)

[2021-02-15 07:00] brb commented on #13123
Yes, it is still the issue. @aditighag is working on it (https://github.com/cilium/cilium/issues/14844).

[2021-02-15 07:37] brb commented on #14964
@rolinh Have you checked whether the issue persists with the latest master?

[2021-02-15 08:19] rolinh commented on #14964
@brb Yes I forgot to mention in the issue but everything works as expected with `master` and I can only reproduce the problem with v1.9.

[2021-02-15 08:31] pchaigno commented on #10842
AFAIK, this was addressed by https://github.com/cilium/cilium/pull/11306, then https://github.com/cilium/cilium/pull/11936.

[2021-02-15 08:31] #10842 closed

[2021-02-15 08:33] pchaigno commented on #14581
@brb Is this just a matter of introducing a new flag that skips that line in the datapath? https://github.com/cilium/cilium/blob/72949b4b49d43e6dbb4714929222acb688ce6dd2/bpf/lib/lb.h#L331

[2021-02-15 08:33] pchaigno commented on #11380
An initial version of the guide was written at https://github.com/cilium/cilium/pull/11381. Marking as `good-first-issue` as someone just needs to resuscitate that pull request and address the few remaining review comments.

[2021-02-15 08:34] pchaigno commented on #13599
@joestringer Don't we have packet marks `MARK_MAGIC_PROXY_INGRESS` and `MARK_MAGIC_PROXY_EGRESS` to differentiate packets egressing the proxy from other packets egressing the host?

[2021-02-15 08:36] pchaigno commented on #14964
I was able to reproduce on 5.10, but not 5.9. I'll try to bisect the exact kernel commit that impacted our complexity this afternoon.

[2021-02-15 08:42] povils commented on #13123
Thanks @brb for looking into it! What is the workaround in the meantime? Fallback to kube-proxy?

[2021-02-15 08:44] pchaigno commented on #9361
Our base datapath (i.e., all except BPF programs for endpoints) is currently compiled when the Cilium agent on the node starts. We have https://github.com/cilium/cilium/issues/9515 to track work on removing that requirement for Clang.

Then, as André said, we also need to compile the BPF programs whenever the Cilium agent configuration options are changed, for example if you want to disable monito

[2021-02-15 09:01] brb commented on #14581
Yep.

[2021-02-15 09:54] povils commented on #13123
Now thinking, I think in that case this PR https://github.com/cilium/cilium/pull/14620 would need to backported in order to get the fix...

[2021-02-15 10:08] pchaigno commented on #14969
I guess you could capture the packets from inside the container with tcpdump. It may also be worth checking dig's output as it may be more verbose.

[2021-02-15 12:36] a-a-abramov commented on #14969
I think I got something useful. When where's no policy present requests look like this:
[code]
xx:yy:zz:1150:2::987 - is a real pod IP.

But when I apply the policy this is what I see:
[code]
xx:yy:zz:110a:ef02:1:0:c - is a node IP.

[2021-02-15 14:17] pchaigno commented on #14969
Ah! So there's some masquerading issue when sending packets through the proxy with IPv6. I'm wondering if https://github.com/cilium/cilium/commit/317a671ed8626c5fe66f5e51988965ff86693783 fixed it. Any chance you could try `:latest`?

[2021-02-15 15:34] a-a-abramov commented on #14969
Ouch =)
How can I do this? There's no chart for latest to be seen. Can I somehow tell cilium-operator to use latest containers?

About iptables - so cilium still uses them even in `KubeProxyReplacement:   Strict` mode? I see some package marking in mangle, but still... Maybe just turn it off comletely?

[2021-02-15 15:57] pchaigno commented on #14969
To deploy `:latest`, you can use `--set image.tag=latest` and `--set operator.image.tag=latest`.

Alternatively, you can also use the chart from our sources with:
[code]

That's sort of the bug ;) It shouldn't match the kube-proxy iptables rules, but because of the above bug, it does. BPF host routing allows us to skip iptables entirely in a lot of cases, but maybe not on the path to/from the prox

[2021-02-15 16:24] a-a-abramov commented on #14969
By proxy you mean kube-proxy or dns proxy? I'm kinda confused here cause you didn't answer the question about turning off iptables completely (or I'm just dumb :)

[2021-02-15 16:33] pchaigno commented on #14969
DNS proxy.

Right, missed it. We can't yet disable/compile out netfilter (iptables) because we rely on it for identifying traffic from the host. Work in progress though :-)

[2021-02-15 17:48] pchaigno commented on #14369
It shouldn't be too hard to fix this in the upstream tool we use, eventually under a flag.

We [use helm-docs](https://github.com/cilium/cilium/blob/fc6736955e9807ebe84e2bd74332a19f39a59f21/install/kubernetes/Makefile#L63-L65) to generate the README. The parsing for the description seems to happen in [`getDescriptionFromNode()`](https://github.com/norwoodj/helm-docs/blob/f7c7cff0c72ec588bfef4858d2

[2021-02-15 17:50] a-a-abramov commented on #14969
Nope, still facing the same issue on latest images. Even after whole cluster reboot.
Is there any workaround?

[2021-02-15 18:38] joestringer commented on #13599
True, yes. As long as we take these paths into account with whatever we write, we should be good.

[2021-02-15 18:39] joestringer commented on #14417
@smira were you able to resolve or mitigate this issue?

[2021-02-15 18:48] #14972 closed

[2021-02-15 19:00] smira commented on #14417
We had to install different CNI unfortunately, so nothing I can help with.

[2021-02-15 19:05] joestringer commented on #14417
OK, thanks for the update anyway. If you decide to pick up Cilium again in future, don't hesitate to reach out over Slack or via Github issues if you encounter any obstacles.

[2021-02-15 19:05] #14417 closed

[2021-02-15 22:05] pchaigno opened #14987 "Support testing egress policies with policy trace"
[`cilium policy trace`](https://docs.cilium.io/en/latest/cmdref/cilium_policy_trace/#cilium-policy-trace) allows users to test how their policies are applied and verify they restrict communications as they intended it. It however currently only supports egress policies. This issue is to track work on supporting the same functionality for egress policies.

[2021-02-15 22:18] pchaigno opened #14988 "Complete packet traces for cilium monitor"
We have a number of packet traces in our datapath, to be able to track packets as they move between the containers, the outside network, the tunnel, etc. These traces consist of perf events sent to userspace via a ring buffer. They are usually placed on the entry and exit of each BPF programs, to trace e.g. packets leaving for the tunnel or entering the container, or packets coming from the networ

[2021-02-16 03:03] agilgur5 opened #14989 "enable-remote-node-identity applies to KNP / k8s (CNI neutral) NetworkPolicy"
## Bug report

In Cilium 1.7, the [`enable-remote-node-identity` option](https://docs.cilium.io/en/v1.7/install/upgrade/#configmap-remote-node-identity) was created, and, when `true`, this requires that `remote-node` connectivity be explicitly allowed in NetworkPolicy.

Somewhat problematically, the CNI neutral k8s `NetworkPolicy` cannot specify `remote-node` as it is a `CiliumNetworkPolicy`-speci

[2021-02-16 07:41] brb commented on #13123
To use unconnected UDP socket.

I haven't tested, but IIRC there were some issues with it (should be documented in GH issues)

[2021-02-16 09:14] kkourt opened #14990 "Datapath testing using BPF_PROG_TEST_RUN"
Currently,  most datapath testing is done via VMs.

`BPF_PROG_TEST_RUN` allows for a bpf programs to be executed in a testing, mode where a user-space application provides the inputs (e.g., packet contents) and can check the output. This allows for a variety of tests within a single machine (e.g., BPF verification and datapath functionality). Note that this can be combined with kata containers to

[2021-02-16 09:36] pchaigno commented on #7830
Now that we have the probe manager (see e.g. [`daemon/cmd/kube_proxy_replacement.go`](https://github.com/cilium/cilium/blob/e567f8bfa7e8cc4d71566f224f60d7222d3d874b/daemon/cmd/kube_proxy_replacement.go#L200-L201)), this should be trivial to probe for.

What do we want to do with that information once we have it though? Fatal in the agent? Issue an error log? Disable the collection of events from t

[2021-02-16 09:43] Champ-Goblem opened #14992 "EgressDeny for a port dropping all egress traffic"
I have been attempting to block the unauthenticated kubernetes port 10255 from all pod access bar prometheus through the use of an egressDeny rule that matches the port above and any pod with labels not in `app=prometheus` and this is applied to all pods as a whole via a CiliumClusterwideNetworkPolicy. I can see that this policy is selecting the pods correctly as the prometheus pod is still able t

[2021-02-16 09:50] pchaigno commented on #14992
I believe this is expected behavior. As per [the documentation](https://docs.cilium.io/en/stable/policy/language/#deny-policies), pods selected by a deny policy enter a default-deny mode. You will need another allow rule on egress to switch to default-allow.

Do you have a link to the documentation page that recommend that?

[2021-02-16 09:59] Champ-Goblem commented on #14992
Okay I must have misunderstood that in the documentation, my fault. The link to the documentation entry is [here](https://docs.cilium.io/en/v1.9/gettingstarted/host-firewall/) I shall close this issue as you have pointed out it is an issue on my end and I can confirm that adding an egress rule now allows all traffic bar port 10255 like so:

[2021-02-16 10:00] #14992 closed

[2021-02-16 10:08] pchaigno commented on #14992
Ok :+1:

You only need to enable the host firewall if you are using host policies, that is, policies that select nodes with `nodeSelector`.

[2021-02-16 10:15] Champ-Goblem commented on #14992
Yes I was initially attempting to use that to block ingress on that port on the node, but it was not a favourable approach.
Many thanks again for your help

[2021-02-16 11:40] a-a-abramov commented on #14969
JFYI tried `Host Routing: BPF` to the same result.

[2021-02-16 14:36] mvisonneau commented on #14871
FYI I had to use `all` instead of `world` or `health` in order to get it to work on my setup 🤔

At first sight seems it seems to be similar in terms of specs:
- EKS 1.18.9
- Cilium 1.9.4
- ENI IPAM mode

Aside of that the masquerading is disabled on my end, not sure if this could be related.

[2021-02-16 14:55] pchaigno commented on #14871
Oh, sorry. The `ingress` rule I posted wasn't complete. I mostly wanted to show an example `endpointSelector` for the health endpoint.

Presumably, you would need to allow L3 from `remote-node` at a minimum, maybe also from other health endpoints.

[2021-02-16 16:25] pchaigno opened #14996 "CI: GKE: K8sServicesTest External services To Services"
The following tests are failing consistently on GKE:
[code]
[c41b9ac8_K8sServicesTest_External_services_To_Services_first_policy.zip](https://github.com/cilium/cilium/files/5990051/c41b9ac8_K8sServicesTest_External_services_To_Services_first_policy.zip)

### Stacktrace
[code]
### Standard Output
[code]
### Standard Error
<details><summary>Click to show details</summary>

[code]
</details>

[2021-02-16 16:30] pchaigno commented on #14996
It looks like this is happening since we switch to K8s 1.17 for GKE: https://datastudio.google.com/s/gr-rxK4-k6E.

[2021-02-16 21:07] liuyuan10 commented on #14339
@joestringer While I understand your proposal is safest and makes most sense for OSS, we still think it's not the right default behavior we present in our product. We'd like to see if we can still have the behavior we want in upstream. More specifically, is upstream open to have a flag like "--mtu-dev-ip" to instruct cilium to pick a particular interface with the specified IP?

[2021-02-17 00:24] joestringer commented on #14205
We will also need to think about migration.

[2021-02-17 06:13] brb opened #15000 "lbmap: Segfault when disabling IPv6 after adding IPv6 services"
I was running `K8sService` test suite on the latest master, and then when an unrelated test case failed (I was holding the env), I disabled the IPv6 support by setting `enable-ipv6: false` via `ks edit cm cilium-config`. Afterwards, I restarted cilium pods and they failed to come up due to the following:
[code]

Previously, the test cases provisioned the IPv6 services.

[2021-02-17 09:03] pchaigno opened #15002 "Cilium latest error: iptables: No chain/target/match by that name"
Recent builds of the latest Cilium code (v1.10 dev cycle) have been succeeding, while printing the following error to the logs:
[code]

[2021-02-17 10:21] #14320 closed

[2021-02-17 10:37] pchaigno commented on #15002
The same error happens in v1.8 but not in v1.9, so it seems it was caused by https://github.com/cilium/cilium/pull/12964. /cc @jrajahalme

[2021-02-17 11:16] pchaigno commented on #15000
That same segfault is blocking https://github.com/cilium/cilium/pull/14543. I'll try to have a look in the afternoon.

[2021-02-17 12:07] errordeveloper commented on #13974
I have recently learnt that what I said in previous comment (https://github.com/cilium/cilium/issues/13974#issuecomment-725960740) was incorrect, and Cilium supports IP-IP encapsulation for IPSec. That implies inter-node pod traffic will not be routed by the VPC directly, it will instead be incapsulated in packets with node addresses. However, traffic from pods to any AWS services will be routed b

[2021-02-17 14:38] voron commented on #13974
But this encapsulation requires kernel 4.19+, which is not a stock EKS AMI.

`config.ipam=eni` resolves webhooks issue which are all overlay CNIs suffer from. Is it possible to get encryption for inter-pod/service traffic along with `ipam=eni` ?

[2021-02-17 14:48] cmacrae commented on #10645
Just to weigh in here for anyone else who might be searching for it, this affected my systems on NixOS 21.03 (and may indeed affect previous releases). The `sysctl` configuration mentioned above can be implemented using the [`boot.kernel.sysctl`](https://search.nixos.org/options?channel=20.09&show=boot.kernel.sysctl&from=0&size=50&sort=relevance&query=boot.kernel.sysctl) configuration option

[2021-02-17 16:23] pchaigno commented on #15000
This bug seems to have been introduced by https://github.com/cilium/cilium/pull/14607 and therefore probably affects v1.9.4 as well.

[2021-02-17 16:30] pchaigno commented on #15000
@brb @fristonio Should we return early in `upsertServiceIntoLBMaps` if we detect it's an IPv6 service but IPv6 is disabled (or the other way around)? https://github.com/cilium/cilium/blob/2b9485df05ec24fe051684ce992a82dabd0b9e56/pkg/service/service.go#L666
The problem here is that we panic when we try to add the backend for the IPv6 service while IPv6 is disabled.

[2021-02-17 16:44] joestringer opened #15015 "Pod IP range announcements via BGP"
Assuming we implement #14395, the next obvious step would be to provide a mechanism to advertise the pod IPs/range from the node across the network.

[2021-02-17 17:16] aditighag commented on #12879
What about the Encryption use case where we use skb mark to decide if a packet needs to be encrypted/decrypted?

[2021-02-17 17:21] joestringer commented on #12879
We aren't using iptables rules specifically to apply such logic, rather the iptables rules which relate to encryption are there to avoid other iptables logic from running:

[code]

First few cases are item 1 in the description, rules to identify host traffic. The remaining ones are NOTRACK/ACCEPT rules to hide the encryption traffic from other rules (such as masquerade logic).

If we were to compi

[2021-02-17 17:28] aditighag commented on #12879
You are right. These rules are added using policy based routing.

[code]

[2021-02-17 17:38] joestringer commented on #7523
This has been open for a long time and would usually be marked as stale, but it's assigned to someone so that mechanism did not work. I don't see a reason to keep it open.

[2021-02-17 17:38] #7523 closed

[2021-02-17 17:59] #14996 closed

[2021-02-17 20:09] joestringer commented on #14339
We'll all benefit from coming up with a common set of status, configuration, autodetection mechanisms, through handling fewer bug reports and minimizing user confusion between variants of the code. With that goal in mind, I'd like to encourage coming to a consensus on something that works for your product as well as the broader open source project. I don't think there is a mismatch in intentions h

[2021-02-17 20:12] joestringer commented on #14339
Particularly on the `--mtu-dev-ip` case, I don't understand the difference from just specifying `--mtu`. If the administrator knows that MTU needs to be taken into account and should be some value, then why the misdirection using the IP?

[2021-02-17 23:24] johngmyers commented on #14746
Even with using a version of netlink with a default timeout, we're seeing Cilium agent block on a linuxNodeHandler.mutex with the holder of the mutex waiting on input from the netlink socket.

We're currently working on extending the Cilium agent's liveness probe so that it fails when one of those mutexes is held for a long time.

[2021-02-18 04:36] ArthurChiao commented on #14710
Hi @brb, upstream PR merged, thanks for your help!

[2021-02-18 06:54] brb commented on #15000
/cc @christarazi

Makes sense, just that I'd return even earlier to avoid wasting resources for unnecessary steps - https://github.com/cilium/cilium/blob/2b9485df05ec24fe051684ce992a82dabd0b9e56/pkg/service/service.go#L248.

[2021-02-18 06:59] brb commented on #14710
@ArthurChiao Good news! Let's move on with changes in Cilium :rocket:

[2021-02-18 07:03] brb commented on #14746
This issue should be resolved by https://github.com/cilium/cilium/issues/14710.

@johngmyers Are you refering to https://github.com/vishvananda/netlink/pull/614? Could you provide a stacktrace of the goroutine? /cc @ArthurChiao

[2021-02-18 08:05] ArthurChiao commented on #9580
Hi @mazzy89, this feature sounds great! May I know the progress of it?

[2021-02-18 08:18] mazzy89 commented on #9580
Hi @ArthurChiao above you will find the proposal. It's marked at the moment as a draft. Cilium's folks have to review it.

[2021-02-18 10:18] nebril commented on #14928
after #14937 getting merged the only job that uses quay images seems to be upstream tests, the images are being built inside vms. Do we want to touch them @aanm ?

[2021-02-18 10:42] #14911 closed

[2021-02-18 10:57] aanm commented on #14928
@nebril yeah, let's make everything use the images build by GH actions

[2021-02-18 11:15] twpayne opened #15021 "oss-fuzz: cilium: Fuzzing build failure"
oss-fuzz is reporting that recent builds of Cilium are failing: https://bugs.chromium.org/p/oss-fuzz/issues/detail?id=31077

The failure is:

[code]

Creating this issue so we can track this in our own issue tracker.

cc @AdamKorcz

[2021-02-18 11:18] aanm commented on #15021
This is likely related with the `replaces` that we have in our go.mod

[2021-02-18 11:19] twpayne commented on #15021
Yes, and I think that this is triggered by the [changes to `go.mod` handling in Go 1.16](https://golang.org/doc/go1.16#go-command).

[2021-02-18 11:28] adamskibickipd opened #15022 "AKS single node cluster not accepting any requests on external ips"
**General Information**

- Cilium version
Client: 1.9.3 ae8661f14 2021-01-22T18:34:11+01:00 go version go1.15.6 linux/amd64
Daemon: 1.9.3 ae8661f14 2021-01-22T18:34:11+01:00 go version go1.15.6 linux/amd64
- Kernel version
Linux aks-nodepool1-13517115-vmss000000 5.4.0-1036-azure #38~18.04.1-Ubuntu SMP Wed Jan 6 18:26:30 UTC 2021 x86_64 x86_64 x86_64 GNU/Linux
- Orchestration system version in use

[2021-02-18 11:28] twpayne commented on #15021
A quick fix for this would be to pin the version of Go used by the fuzzer to 1.15.8, but there [doesn't seem to be a config option for this](https://google.github.io/oss-fuzz/getting-started/new-project-guide/go-lang/#dockerfile). The docs state only:

The correct fix is probably to enable Cilium to build with Go 1.16 as invoked by oss-fuzz.

[2021-02-18 11:55] twpayne commented on #15021
Couple of notes:
* I haven't yet found where the `/bin/sh -c go get github.com/cilium/cilium/pkg/labels/...` command comes from. The [`compiile_go_fuzzer` script is here](https://github.com/google/oss-fuzz/blob/master/infra/base-images/base-builder/compile_go_fuzzer).
* Cilium builds, and the `go get` command work on my machine (tm) just fine. I installed Go 1.16, edited `GO_VERSION` to contain `1

[2021-02-18 12:01] AdamKorcz commented on #15021
I will be happy to take on fixing this. There have been a few of these lately. I will update here.

[2021-02-18 13:38] pszymanski-intel opened #15025 "Pod-to-pod communication not working with IPVLAN"
## Bug report

**General Information**

- Cilium version (run `cilium version`)
Client: 1.9.0 dcda3fd98 2020-11-10T13:24:55+01:00 go version go1.15.4 linux/amd64
Daemon: 1.9.0 dcda3fd98 2020-11-10T13:24:55+01:00 go version go1.15.4 linux/amd64

- Kernel version (run `uname -a`)
Linux bert 5.10.0 #1 SMP Mon Feb 15 13:49:14 UTC 2021 x86_64 x86_64 x86_64 GNU/Linux

- Orchestration system version in u

[2021-02-18 16:48] pchaigno commented on #14350
This item can be addressed by following the `ENABLE_MASQUERADE` in the datapath for the IPv4 masquerading implementation and implementing the same for the IPv6 paths. Then, some work is needed on the Go side to add a new flag and check that all `EnableBPFMasquerade` checks are appropriately extended. End-to-end tests would probably require very few changes on [the existing IPv6 masquerading test](

[2021-02-18 17:04] ShotaKitazawa opened #15035 "make hubble-relay available in GKE Dataplane V2"
## Proposal / RFE

I want to use hubble-relay & hubble-ui in GKE Dataplane V2.
Now, GKE Dataplane V2's default cilium config is specified `enable-hubble=true` option, but not specified `hubble-listen-address=":4244"` option.
For this reason, hubble-relay outputs logs as below, because hubble-relay does not listen `tcp:0.0.0.0:4244`, but only listens  `unix://var/run/cilium/hubble.sock`.

[code]

A

[2021-02-18 18:42] joestringer commented on #14989
Hi @agilgur5 , firstly thanks for the great writeup. This is indeed a known limitation with respect to the `enable-remote-node-identity` option. For a bit more context, there's another variation on this issue where I had posted some thoughts, those notes might also help you to reason about Cilium's behaviour here and maybe see about next steps: https://github.com/cilium/cilium/issues/12277

I'm no

[2021-02-18 18:53] joestringer commented on #12558
Yes, yes it was.

[2021-02-18 18:53] #12558 closed

[2021-02-18 18:55] liuyuan10 commented on #14339
OK. let me write down what we really want and why:

1. We want to have a way to limit the scope of MTU auto detection. Even upstream is doing as what you are proposing, we hope there is a way to limit the device list just to handle those machines with unrelated interfaces.
2. We want to use IP addresses to limit the devices instead of devices names. The obvious reason is we can't assume interface

[2021-02-18 23:13] Ewocker commented on #14746
@brb Here is the stacktrace of the goroutine that got stuck using a forked cilium 1.7.13 with the patch vishvananda/netlink#614 applied
[code]
The lock call happens in NodeValidateImplementation and never returns. I believe vishvananda/netlink#614 do not solve issue such as above where func not returning is not using vishvananda's netlink package.

[2021-02-19 02:18] ShotaKitazawa commented on #15035
I have forgot below.

* Peer service is not implemented in hubble-relay, Thus `hubble-relay` Deployment cannot connect `hubble-relay-intermediate`
    * with this, I think that cannot available multi hubble-relay now. Is this correct?

[2021-02-19 02:28] joestringer commented on #14969
Am I following correctly that DNS responses towards the pod have the source address of the local node instead of the source address of the DNS server? In that case it could also be an issue with the DNS proxy configuration for original source address usage.

Also, have you tried with IPv4? Do you see the same problem?

[2021-02-19 04:36] ArthurChiao commented on #14746
https://github.com/cilium/cilium/blob/v1.7.13/pkg/datapath/linux/node.go#L591, as pointed out by @Ewocker and shown in the above stack strace, Cilium **`1.7.13`** is using vanilla `net` package instead of `vishvananda/netlink`, so https://github.com/vishvananda/netlink/pull/614 doesn't solve the above case.

[2021-02-19 10:29] pszymanski-intel commented on #15025
I noticed that all ip addresses assigned to cilium_host and interfaces inside pods got subnet mask 32 like: 10.0.0.42/32. Is it expected? When I created my test ipvlan manually I had to set the mask to 24 or 16. With 32 the ipvlan did not work.