[2022-11-14 12:15] #22128 closed

[2022-11-14 14:41] developer-guy opened #22157 "CFP: upload Helm charts to OCI registry and sign them with cosign"
## Cilium Feature Proposal

**Is your feature request related to a problem?**

With Helm v3.8.0, the OCI support became [GA](https://helm.sh/docs/topics/registries), which is an excellent chance to start publishing Helm charts to OCI-compliant registries. Because recently DockerHub [announced](https://www.docker.com/blog/announcing-docker-hub-oci-artifacts-support/
) that they are starting to supp

[2022-11-14 15:15] borkmann commented on #22151
Are you referring to https://cilium.io/blog/2020/06/22/cilium-18/#kubeproxy-removal ? Really anything works, you could also use a dpdk-based packet generator. In the test we used a UDP service vip+port and the packet generator on the other node needs to make sure to vary source vip/port in order to RSS steer packets on the LB node to different CPUs. Traffic was pushed back out of the NIC (e.g. XDP

[2022-11-14 16:03] pchaigno commented on #21735
### Initial Triage

Seems to fail about 1/5 times it runs.
<img src="https://user-images.githubusercontent.com/1764210/201698360-73df119e-6c35-4cca-be22-63c0aa1dc5db.png" width=50% height=50%>

Skipped on net-next, failing on 4.9, 5.4, but not on 4.19. Unclear why.

### Understanding What is Going On

Using https://jenkins.cilium.io/job/cilium-master-k8s-1.23-kernel-5.4/3366/ and
[ipsec-flake.zip]

[2022-11-14 18:00] chancez commented on #21251
@gandro Right, I expect the mapping to always be clusterIP -> service (rather than the podIP -> service), but that would require doing the lookup for every packet I assume, which is probably why the flows only show the clusterIP early in the connection, and pod later.

I assume we also have no way to inform cilium the traffic's original destination was the clusterIP after it's been translated to t

[2022-11-14 19:34] xmulligan commented on #20182
I also just saw https://gitlocalize.com/

[2022-11-14 22:34] pchaigno commented on #21382
Closing in favor of https://github.com/cilium/cilium-cli/issues/1204. Sebastian also sent a PR to temporarily disable Hubble in workflows: https://github.com/cilium/cilium/pull/22068.

[2022-11-14 22:34] #21382 closed

[2022-11-14 22:34] pchaigno commented on #21351
Closing in favor of https://github.com/cilium/cilium-cli/issues/1204. Sebastian also sent a PR to temporarily disable Hubble in workflows: https://github.com/cilium/cilium/pull/22068.

[2022-11-14 22:34] #21351 closed

[2022-11-14 22:50] pchaigno opened #22162 "CI: ConformanceAKS: curl succeeded while it should have failed due to incorrect exit code"
Several curl tests are failing because the commands succeed when we expected them to fail. For example:
[code]

Examples:
https://github.com/cilium/cilium/actions/runs/3461307458/jobs/5779401491
https://github.com/cilium/cilium/actions/runs/3457550315/jobs/5771080426
https://github.com/cilium/cilium/actions/runs/3456343637/jobs/5769011681

Sysdumps for the first two examples above:
[cilium-sysdump

[2022-11-14 23:48] joestringer commented on #22081
A couple of notes:
- During an early version of the design, this was possible, but then the original author decided it may be safer to avoid this. I vaguely recall some concern that wide-scoped rules could encourage administrators to write unsafe rules, for example by matching all subdomains it could make subdomain hijacking easier. At a glance I couldn't find the original rationale, but you may b

[2022-11-14 23:53] aojea opened #22164 "KubeProxy Replacement Healthz Port doesn't work on IPv6 (it does work in IPv4)"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

1. GKE
2. Create IPv4 and IPv6 LoadBalancer

[code]

4. Loadbalancer healthchecks targets the Loadbalancer IP on the Node and the kube-proxy /healthz endpoint on port 10256 (by default)
6. It works for IPv4
[code]
8. It does not work for IPv6, packets enter the host
[code]

but is not redirecte

[2022-11-15 00:10] joestringer opened #22168 "CI: Smoke test / conformance test: error: timed out waiting for the condition on deployments/pod-to-external-1111"
Example failure:

https://github.com/cilium/cilium/actions/runs/3393243351/jobs/5789655462
[cilium-sysdump-out.zip (27).zip](https://github.com/cilium/cilium/files/10007908/cilium-sysdump-out.zip.27.zip)

The steps are followed to install Cilium, and go up until the apply of the connectivity check YAML. This step fails:

[code]

[2022-11-15 01:43] aditighag commented on #22107
We are supposed to skip policy enforcement on hairpin traffic - https://github.com/cilium/cilium/commit/52cd6da139c1ac5d67de65a821f953c936034f2e. So this looks like a regression introduced in 1.12. There is a variation of this issue reported here - https://github.com/cilium/cilium/issues/19406#issuecomment-1259821164.

Based on the traces André shared above, here are some preliminary observations

[2022-11-15 10:27] gandro commented on #21251
@chancez

Ignoring Hubble for a moment:

With SockLB, yes we perform the translation of the clusterIP to podIP as early as possible, so we don't have to do it for every packet. But if SockLB is not available (it's an optional feature), Cilium can also do the translation on the packet level, which indeed means it will do the translation for every packet. But we only do this on the [bpf_lxc](https:/

[2022-11-15 10:55] illrill commented on #22081
Thanks for the notes Joe.

- Indeed it is probably safer considering a subdomain takeover scenario, but for administrators who prefer configuration simplicity over maximal safety, it can be considered somewhat limiting. It could be argued that this decision between safety and simplicity should be in the hands of the administrator and not limited by the product itself. Looking at how other types of

[2022-11-15 10:58] krystianmlynek commented on #21504
@brb
In my case kubelet is using  resolvConf from `/run/systemd/resolve/resolv.conf` and the content:

[code]
`10.233.0.3` is CoreDNS service, the rest are corporate dns servers.

[2022-11-15 11:53] dylandreimerink commented on #20653
That is not correct. BGP Control Plane will announce the PodCIDRs from the k8s Node or Cilium Node resources it gets from the k8s API server, the BGP Control Plane doesn't sync routes to or from the FIB.

[2022-11-15 11:54] sandeepksingla123 commented on #20125
@aanm still facing the issue with cilium 1.12.2. , Ubuntu 22.04.1 LTS
**Refer below Error:**

[ERROR] plugin/errors: 2 1719163443584647392.8487499795824529487. HINFO: read udp 10.0.0.58:33144->168.63.129.16:53: i/o timeout
[ERROR] plugin/errors: 2 1719163443584647392.8487499795824529487. HINFO: read udp 10.0.0.58:37725->168.63.129.16:53: i/o timeout
[ERROR] plugin/errors: 2 1719163443584647392.848

[2022-11-15 13:26] brb commented on #21504
Thanks. Is the content of the CoreDNS Pod's `/etc/resolv.conf` the same? If yes, then the loop is expected, as CoreDNS sends a DNS request to itself first.

[2022-11-15 13:55] krystianmlynek commented on #21504
Thanks for quick reply!
Though I was not able to get `/etc/resolv.conf` directly from CoreDNS pod, the `10.233.0.3` address is present in other pods `resolv.conf` - so I'm assuming this is the same for CoreDNS pod.

So the loop is expected when `bpf.masquerade=true` is in use? Because normally(well with bpf.masquerade disabled) CoreDNS pods are running correctly.

[2022-11-15 13:55] brb commented on #22164
Thanks for the issue! Can you run `ip6tables-save -c` and `ip -o a`?

[2022-11-15 14:43] wer-anders commented on #16790
I still got the issue that bandwith limits are not enforced but on my **bare-metal** server. So far I figured out that this must be connected to wireguard encryption.
If I disable wireguard encryption, the netperf example from [Bandwidth Manager Cilium Documentation](https://docs.cilium.io/en/v1.12/gettingstarted/bandwidth-manager/) is working.
As soon as I enable wireguard encryption, pod to pod

[2022-11-15 14:48] aojea commented on #22164
[code]

[code]

[2022-11-15 14:59] brb commented on #22164
What's the `ip6tables-save -c` output (spot the 6)?

[2022-11-15 15:00] aojea commented on #22164
ups
sorry
[code]

[2022-11-15 16:29] pchaigno commented on #16790
That sounds like the likely cause, yes.

@wer-anders Could you open an issue (or even a PR if you know what to change) to track this issue with bandwidth manager + WireGuard? It's different from the present issue so I'd rather track it somewhere else and close this for clarity.

[2022-11-15 17:02] edivita opened #22185 "NFS mount stuck after some time of working well"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

I have a kubernetes single node installation which acts as both control plane and worker. This node was created initially with calico and after some months it was moved from calico to cilium v12.2 with kube-proxy replacement mode enabled and then the problem started: when the kubernetes node st

[2022-11-15 17:13] illrill opened #22186 "CFP: Cilium ClusterMesh should provide means for establishing IP connectivity between clusters"
**Is your feature request related to a problem?**

To use ClusterMesh, nodes in all clusters must have IP connectivity between each other. This requirement is typically met by establishing peering or VPN tunnels between the networks of the nodes of each cluster. This private network peering requirement is not easy to fulfill for multi-cloud scenarios, where some clusters be GKE and others AKS or E

[2022-11-15 18:24] chancez commented on #21251
@gandro I think when it comes to cross-node, that's primarily going to effect the `source_service`, which IMO conceptually never made sense to me, so I think that's relatively acceptable. I think that based on what you said, `destination_service` would work as expected without SockLB, and _could_ work with it as well, but currently the "works-sometimes" makes it pretty unusable.

Perhaps short-ter

[2022-11-15 20:11] aanm commented on #21883
@feitnomore can you provide a sysdump of the cluster with the working policy and another sysdump with the non-working policy.

[2022-11-15 22:21] aanm commented on #22139
Thank you for opening the GH issue. After generating the manifests for 1.12.0 and >= 1.12.1 with your helm values file I can see that the reason for this bug was that kube-proxy-replacement value was changed from "probe" to "disabled" as part of https://github.com/cilium/cilium/pull/20610 and host port does not work with kube-proxy replacement = disabled as documented [here](https://docs.cilium.io

[2022-11-15 22:27] joestringer commented on #22081
Broadly your arguments make sense to me, this seems like a quality-of-life improvement suggestion for users who are already accepting of the risk of wildcarded FQDN rules. I like the `**` suggestion since it is unlikely anyone is specifying this in their rules today, and yet it would provide a more explicit wildcarding option to cover this slightly different use case vs. the current semantics. It'

[2022-11-15 22:42] joestringer commented on #22119
This seems like a reasonable suggestion. The code that creates the veth pair would need to be made aware of this new MAC address. From recollection this is part of the CNI plugin, so perhaps when the CNI plugin does an EndpointCreate request to cilium-agent, cilium-agent could fetch the MAC annotation from the corresponding Pod and return the desired MAC address in its API response. Then the CNI c

[2022-11-15 23:01] youngnick commented on #22036
Sooo, the idea of having defaults and overrides for specific settings is one we've been exploring extensively in Gateway API, and that's where we ended up with [Policy Attachment](https://gateway-api.sigs.k8s.io/references/policy-attachment/). That said, that document is a bit out of date, and I'm working on an update at https://docs.google.com/document/d/1p_kmAOmqebX8zyHnXW5I58cD8ZhNX4QNSa_gw8uAY

[2022-11-15 23:56] michi-covalent commented on #22100
will rebase these pending PRs once https://github.com/cilium/cilium/pull/22179 gets merged.

[2022-11-16 00:54] tommyp1ckles commented on #22067
@squeed Makes sense that in the absence of Agent we should just clean up startup.

I'm not 100% sure that everything would get cleaned up correctly. #20350 should ensure that CEPs get cleaned up provided that all the necessary Endpoint cleanup happens correctly.

I'll take a look to see what this might look like.

[2022-11-16 02:13] #21176 closed

[2022-11-16 06:55] varunmar commented on #22036
Thanks Nick! I think the policyAttachment API design pattern is super flexible, and may be exactly what we want. If the gateway API is going to use this same model, it may be a good thing to use those same abstractions/patterns.

Casey - what do you think?

[2022-11-16 06:56] abasitt commented on #20653
Which resources from k8s API server ? does cilium node looks at every podIP or just read the Node CIDR ranges from the kube-api server ?

[2022-11-16 07:06] abasitt commented on #20653
@dylandreimerink @YutaroHayakawa if we can achieve below without BGP, i am fine to put this on hold if it works for everyone else too. I do see the advantage of current approach being more simpler than BGP based.

- auto-direct-nodes-routes not restricted to single layer2 domain
- auto-direct-nodes-routes can add routes over tunnel interface and it supports hybrid mode e.g. nodes within same l2 do

[2022-11-16 08:01] nickytd commented on #22017
[code]
results in Failed to pull image "quay.io/cilium/cilium-ci:fe173b4ba519ef4b916b5c99ef8103a7630d6ada@sha256:30de50c4dc0a1e1077e9e7917a54d5cab253058b3f779822aec00f5c817ca826"

[2022-11-16 08:22] wer-anders opened #22203 "Egress Bandwidth Limit not enforced with wireguard encryption"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

If I disable wireguard encryption, the netperf example from [Bandwidth Manager Cilium Documentation](https://docs.cilium.io/en/v1.12/gettingstarted/bandwidth-manager/) is working.
As soon as I enable wireguard encryption, pod to pod traffic is not limited anymore (I took care that the pods are

[2022-11-16 09:13] odidev commented on #21549
@ [aanm,](https://github.com/aanm) I have tried to deploy cilium in cilium-cli by using the make install command as per Readme.md file. I have verified that cilium binaries installation. It is present in the /usr/local/bin/ directory.

I also tried to run the Kind.yaml using GitHub actions for amd64 and arm64(using self-hosted agent). For both architectures it is deployed successfully.

For arm64

[2022-11-16 09:49] gandro commented on #21251
I'm not sure I follow. Imagine the following chain of events, where xwing-pod-1 is running on node1 and deathstar-pod-2 is running on node2.

[code]

I think this should demonstrate that k8s-node1 could probably recover the original service field (albeit with a high performance cost), but k8s-node2 cannot, because it never saw saw the NAT happening and thus can only guess if deathstar-pod2 was acc

[2022-11-16 10:22] #8179 closed

[2022-11-16 10:24] #20678 closed

[2022-11-16 10:27] #20135 closed

[2022-11-16 10:37] aanm commented on #21603
@frezbo it looks that Cilium is unable to function properly with Talos even if users deploy Cilium without SYS_MODULE. Is Talos loading these modules by default? https://docs.cilium.io/en/stable/operations/system_requirements/#requirements-for-l7-and-fqdn-policies

[2022-11-16 11:09] jonkerj commented on #21603
All of those are `=Y` (see [source](https://github.com/siderolabs/pkgs/blob/v1.2.0/kernel/build/config-amd64#L1169-L1256)). Also, I wonder: if they were not there, how could it work privileged? Running privileged or not should not influence kernel config.

[2022-11-16 12:04] feitnomore commented on #21883
I was doing something dumb, the DNS one I think I could solve it.
Thanks @aanm

[2022-11-16 12:04] #21883 closed

[2022-11-16 13:06] illrill commented on #22081
Thank you for the feedback @joestringer. I updated the issue to reflect our discussions.

[2022-11-16 13:41] #16670 closed

[2022-11-16 16:12] #22032 closed

[2022-11-16 16:53] joestringer opened #22215 "CFP: Mutual Authentication for Service Mesh"
This meta issue tracks progress on the [Next-Generation Mutual Authentication with Cilium Service Mesh](https://isovalent.com/blog/post/2022-05-03-servicemesh-security/) implementation.

The [CFP](https://docs.google.com/document/d/1Do9_ICj4ZokSiWqXYdb7tQvhR--Rz2GyHJ2Xk6NDhQU/edit?usp=sharing) describes how we are planning to implement this, why we've chosen SPIFFE and SPIRE over something less co

[2022-11-16 17:20] joestringer opened #22217 "CI: ConformanceKind1.19: connectivity test failed: 5 tests failed: Connectivity to 1.1.1.1 is broken"
The ConformanceKind workflow seems to be unstable on master while connecting to 1.1.1.1.

Example run:
https://github.com/cilium/cilium/actions/runs/3468759658/jobs/5794941960
[cilium-sysdump-out.zip (28).zip](https://github.com/cilium/cilium/files/10024188/cilium-sysdump-out.zip.28.zip)

[code]

[2022-11-16 17:26] joestringer commented on #22217
I suspect that the same underlying cause is also triggering failures in the "
Smoke test / conformance-test" failure like the following:

[code]

Example:
https://github.com/cilium/cilium/actions/runs/3468759657/jobs/5794960930

[2022-11-16 17:33] markododa commented on #22139
Thanks! This fixes the issue

[2022-11-16 18:06] varunmar commented on #22036
Yes, makes sense. We don't need to override any resource other than the config map blob, and there's no inherent cross-resource structure.
The overrides and defaults are very interesting though, and making the names of the fields similar might have some advantages to making the structure more obvious to users in a future where Gateway API is well known.

I'm not entirely sure how you want to do de

[2022-11-16 18:45] chancez commented on #21251
Ah right, I was thinking only about egress on the source node, not ingress on the destination when it came to `destination_service`.

[2022-11-16 23:05] youngnick commented on #22036
Awesome. I was pretty sure it wouldn't be directly applicable, but glad that it was at least a little useful.

[2022-11-17 03:01] slzcc opened #22221 "[It] [sig-network] HostPort validates that there is no conflict between pods with same hostPort but different hostIP and protocol [LinuxOnly] [Conformance]"
## CI failure

- Set title to be in the format `CI: <test-name>`.
- Copy-paste the output the test failure.
- Upload the zip file generated from that test failure.
- Copy-paste the link of the CI build where that test failure has happen.
- Include any output from logs that you think may be relevant (to ease GitHub searches).

I had a problem using k8s-conformance, A request timed out while executi

[2022-11-17 09:14] weiwei02 opened #22222 "CFP: Whether Cilium plans to design out of tree IPAM plug-ins in the future？"
## Support the extension of IPAM  support to different cloud vendors outside the tree

Similar to the design and implementation of kubernetes CSI, it makes a high-level abstraction of ipam support to different cloud vendors. Leave the general functions in the core repository base of Cilium, and move the customized content of each cloud manufacturer to their own repository.
  If Cilium has such a s

[2022-11-17 10:18] gandro commented on #12954
Fixed by #21685

[2022-11-17 10:18] #12954 closed

[2022-11-17 10:59] dylandreimerink opened #22224 "CI: TestControlPlane/IdentityGC"
## CI failure

Travis CI fails on the IdentityGC control plane test: https://app.travis-ci.com/github/cilium/cilium/jobs/588670620

There are two issues here, first is that an unknown error occurs while starting the agent, the second is that this causes a nil pointer deref in the defered shutdown code which results in the panic and which masks the actual root error.

[code]

[2022-11-17 11:19] BSWANG commented on #20359
https://github.com/cilium/cilium/commit/a0d3c102f7d6cde257f5e6797e2a92293c788a32 maybe partial fix this issue by rebalance the `conntrack` 5-tuple entries every 30s.

[2022-11-17 11:27] dylandreimerink commented on #22168
Hitting this one as well: https://github.com/cilium/cilium/actions/runs/3481221637/jobs/5822035257

I did a little bit of digging in the sysdump(the one from my failure, not the one linked in this issue):

The container that fails just sleeps and has the following readyness probe:
[code]

Which fails with the error `Readiness probe failed: curl: (28) Connection timeout after 5001 ms`

The hubble f

[2022-11-17 12:51] ikarlashov commented on #18973
IMHO, It worth to be documented somewhere. Maybe, even putting this snippet to `values.yaml` as an example.

[2022-11-17 12:56] ikarlashov commented on #21604
Follow-up. This could probably save some time for ppl who need it in yaml format:
`extraConfig:
      "api-rate-limit": "{\"endpoint-create\": \"rate-limit:200/s,rate-burst:200,parallel-requests:200,auto-adjust:true\", \"endpoint-delete\": \"rate-limit:200/s,rate-burst:200,parallel-requests:200,auto-adjust:true\", \"endpoint-get\": \"rate-limit:200/s,rate-burst:200,parallel-requests:200,auto-adjus

[2022-11-17 13:00] Champ-Goblem opened #22227 "AKS BYOCNI External IP Not Forwarded"
We are running cilium 1.12.2 in BYOCNI mode on Azure AKS but there seems to be an issue regarding the external IP from externally load balanced connections not being forwarded to Istio.

This problem occurs after installing cilium on the cluster and everything works as intended without cilium present. The external IP is required for Istio to set the `X-Envoy-Forwarded-For` header which is used to

[2022-11-17 13:16] sivagurudialpad opened #22228 ""JoinEP: Failed to load program for host endpoint" error when starting cilium-agent"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

Cilium agents running on some nodes in the cluster do not start properly and display error messages (below).

[code]

The `cilium-agent` pods are in Running status, but keep printing the error messages shown below repeatedly

[code]

I have included the error message being displayed, in the sec

[2022-11-17 14:28] brb commented on #22217
Checked one particular failure (https://github.com/cilium/cilium/actions/runs/3487263981/jobs/5835889748):
[code]

The hubble flow output:
[code]
tcpdump recording on that host running the Kind cluster:
[code]
So, the packet was sent by the host. However, no visibility where it was lost.

[2022-11-17 14:56] sathieu commented on #15198
Has this been confirmed in latest cilium version?

[2022-11-17 15:24] bolotskydev commented on #21938
Hey guys, I did a little investigation and know precisely how to fix it. You just throw in along [this line](https://github.com/cilium/cilium/blob/10cf878cf875deb30e7b8451fe417c2424624752/Documentation/_themes/sphinx_rtd_theme/sass/_theme_layout.sass#L366) this sass snippet:

[code]
So that it looks like this:
[code]

<details>
<summary>Before</summary>
The CTA buttons get wrapped and hide the bur

[2022-11-17 15:25] bolotskydev commented on #21938
@xmulligan honestly, I have no idea how to run this thing, so I wasn't able to verify it, but I bet the solution is going to work.

[2022-11-17 15:27] thorn3r opened #22233 "Config option can't parse multiple key:value for map[string]string"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

When submitting config options in the form of map[string]map with mutliple k:v's, they cannot be parsed properly.

Ex:
Docs suggest using the following to configure the api-rate-limiter:
[code]

However submitting multiple k:v's in this way cannot be parsed:
[code]

This seems to be due to a co

[2022-11-17 15:30] kaiwalyakoparkar commented on #21847
Hey @qmonnet I would like to work on this issue. I would appreciate if you can help me know the files likely to be updated and procedures as I am new to this project :)

[2022-11-17 15:51] qmonnet commented on #21847
Hi, and thanks!

I'm sorry, I'm currently on leave and won't be able to help you much during the coming days/weeks. I'd suggest joining the [#sig-docs](https://cilium.slack.com/archives/C9J6SC295) channel on Slack to get some advice/guidance.

Here are a few pointers anyway:

- [How to contribute](https://docs.cilium.io/en/latest/contributing/development/contributing_guide/) (with regards to submi

[2022-11-17 16:34] joaoubaldo commented on #20650
Can we re-open this since this is still happening in 1.12.2?

As a recap:
- we have a client making lots of requests to `https://sns.eu-west-1.amazonaws.com` (this host rotates with many IPs, filling the FQDN cache up to `tofqdns-endpoint-max-ip-per-hostname` over time) -- these requests fail often due to `Policy denied`.
- the above client CNP contains the following rule
[code]
- according to TCP

[2022-11-17 16:45] joestringer commented on #22217
@brb based on the hubble flow there, it looks like Cilium is delivering the packet to the network with the source IP of the pod and not the node. Do we anticipate that something later on will take care of masquerading the source of the traffic to a routable IP address? Otherwise we can deliver the packets as much as we like, but Cloudflare may not be able to route the responses back to this host.

[2022-11-17 16:51] brb commented on #22217
It gets masqueraded two times:
- `172.18.0.3.48818` to NodeIP by Cilium's iptables MASQUERADE.
- `10.1.0.113.48818` to host IP by Docker's iptables MASQUERADE.

[2022-11-17 17:30] sandeepksingla123 opened #22234 "cluster not working against Ubuntu 22.04"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

Ubuntu 18.04 works but Cluster 1.25 with Ubuntu 22.04 using Cilium CNI is not working.

It looks like CoreDNS returns DNS lookup failing with below error

[ERROR] plugin/errors: 2 1719163443584647392.8487499795824529487. HINFO: read udp 10.0.0.58:33144->168.63.129.16:53: i/o timeout
[ERROR] plu

[2022-11-17 18:42] chancez opened #22235 "toEntities/fromEntities CRD description missing some options"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

CRDs are missing all the possible options listed in the docs: https://docs.cilium.io/en/stable/policy/language/#entities-based
[code]

### Cilium Version

v1.12.2

### Kernel Version

Linux lima-docker 5.15.0-27-generic #28-Ubuntu SMP Thu Apr 14 12:56:31 UTC 2022 aarch64 aarch64 aarch64 GNU/Lin

[2022-11-17 19:27] joestringer opened #22236 "Merge IPAM summary sections"
The following section shows up when I search for "IPAM" in the docs:

https://docs.cilium.io/en/stable/gettingstarted/ipam/#gsg-ipam

This implies that there's only two IPAM options. However, there are many others. There is a better list of IPAM options here:

https://docs.cilium.io/en/stable/concepts/networking/ipam/

The first page should maybe be removed or replaced with the second page.

[2022-11-17 19:52] juweins commented on #22236
@joestringer may I handle this issue? :)

[2022-11-17 21:55] jose-galvez commented on #20915
Our team is also facing this same issue. Is there an ETA on when this might be addressed?

[2022-11-17 21:57] wedaly commented on #22222
At AKS, we integrated our IPAM implementation with Cilium using [delegated IPAM](https://github.com/cilium/cilium/pull/19219). This has the advantage of being part of the [CNI spec](https://www.cni.dev/docs/spec/#section-4-plugin-delegation), so the IPAM plugin doesn't need to depend on Cilium. It also requires no code changes in Cilium itself. We're using this today in AKS for [Azure CNI powered

[2022-11-17 22:14] christarazi opened #22241 "Consider deprecating & removing FQDN regex compilation LRU and clean up code associated with extraneous regex compilation"
See https://github.com/cilium/cilium/pull/21288#issuecomment-1319273813 and surrounding discussion.

cc @odinuge

[2022-11-17 22:40] #22076 closed

[2022-11-17 22:55] joestringer opened #22242 "Sometimes logs have a blank k8sPodName"
Example log:

[code]

In this log message, the `k8sPodName=/` should really show the full pod namespace+name, but it doesn't.

[2022-11-17 22:55] joestringer commented on #5048
Hi @jeff-an,
(1) That's not really expected.. do you have some indicators that suggest it's CT GC that is running during that long cycle? Perhaps you could use gops to inspect Cilium cpu usage during that long period.
(2) There's a few *conntrack* settings, you're welcome to tinker with them but I'm not really sure whether this will impact the problem  you're facing.
(3) That sounds like a separat

[2022-11-17 23:07] joestringer opened #22243 "Sanitize or remove YAML support from cilium policy trace"
The feature triggered by the following code does not properly sanitize the incoming YAML:

https://github.com/cilium/cilium/blob/b1aa5374acf77a598e8f5a6d69cbc53122812d62/cilium/cmd/policy_trace.go#L181-L182

This feature is unlikely to be used by anyone so we could just remove it.

[2022-11-17 23:29] joestringer opened #22245 "Avoid serializing ELFs to the filesystem as part of BPF load"
Currently, the compilation process for eBPF programs for endpoints is to first invoke the compiler to create an ELF representing the datapath code onto the filesystem, then use pkg/elf to create a templated copy with the individual endpoint's data inside, then load this ELF into the kernel.

Now that we are moving more and more code over to cilium/ebpf for loading the datapath, we could avoid crea

[2022-11-17 23:42] joestringer opened #22246 "Deprecate MetalLB support"
Recent BGP development in Cilium has focused around the new native BGP control plane support (https://github.com/cilium/cilium/pull/18860). When this approaches feature parity with Metal LB, we should mark the MetalLB support as deprecated. We can remove the functionality in the following release.

[2022-11-18 00:05] joestringer commented on #22246
I suggest that since we're planning on this path, we should deprecate this in 1.13 even if we don't plan on immediately removing it in 1.14. Ideally there should be a big warning message on startup if the user is using MetalLB, which points the users to the issues pages here so that they can share which MetalLB features they're using. This way we can try to avoid removing features that users are r

[2022-11-18 01:09] jeff-an commented on #5048
Thanks for the response!

The only evidence is the "waitingForCTClean=1m33.646810669s" attribute on the first log I sent. We do know CPU can be spikey on these machines, so it is possible Cilium is getting thrashed. When we have more headroom the cluster, we don't see this issue. What's interesting though is that even when CPU has come down on the node, new requests continue to result in 429s (tho

[2022-11-18 02:02] pengbinbin1 commented on #22151
Yes， i referred to  https://cilium.io/blog/2020/06/22/cilium-18/#kubeproxy-removal  .Now I have compiled and installed the pktgen-dpdk on my host，but I am not sure how to test the service‘s performace based on cilium. Is that to create a service and then use pktgen to access this service? Can you share your detail test plan ? thank you.

[2022-11-18 05:19] slayer321 commented on #22235
@pchaigno  can you assign this issue to me

[2022-11-18 06:49] YutaroHayakawa commented on #22009
Some thought around this. When implementing the above commands, ideally, we shouldn't `kubectl exec` into every node and aggregate results. We should instead implement an API server to collect and aggregate status (like we do for Cilium monitor => Hubble relay). And the CLI commands should be a wrapper of the API client.

This is because if we implement such logic into the CLI, it's hard for users

[2022-11-18 07:53] rickydjohn commented on #17007
i am seeing the same error while upgrading from `1.9.6 `to `1.10.8`

[2022-11-18 08:02] YutaroHayakawa commented on #20653
auto-direct-nodes-routes can add routes over tunnel interface and it supports hybrid mode e.g. nodes within same l2 domain works natively and only nodes cross-subnet required tunneling

These two problems can be resolved partially with tunnel mode because we anyways need to have a tunnel for inter-l2 domain communication. The thing we're missing right now is the "hybrid mode".

But the problem wit

[2022-11-18 10:56] illrill commented on #22186
Looking at how other similar products have done it, there seem to be two types of architectures in play.

- L7 gateway in each cluster, that acts as ingress and egress public endpoints for the cross-cluster communication.
  * Linkerd ([ref](https://linkerd.io/2.12/tasks/multicluster/), [ref](https://linkerd.io/2.12/features/multicluster/index.html))
  * Istio ([ref](https://istio.io/latest/docs/se

[2022-11-18 13:51] #20553 closed

[2022-11-18 17:01] akash-gautam commented on #21585
@aanm Not yet, I will start with it soon.

[2022-11-19 00:50] aanm commented on #22234
Can you provide installation steps as well as a sysdump?

[2022-11-19 00:54] aanm commented on #22221
Duplicate of https://github.com/cilium/cilium/issues/21060

[2022-11-19 00:54] #22221 closed

[2022-11-19 06:12] jkulesa opened #22273 "Node clusterpool Endpoint CIDRs used in AWS ENI mode erroneously"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

When using Cilium 1.12.4 in native AWS ENI mode (not chaining),  if you login to a cilium pod you can see the following:

[code]

That endpoint CIDR is interesting, since its not any range we've specified (10.196.x.x or 10.10.x.x).   That range looks like its from here:
https://github.com/ciliu

[2022-11-19 09:09] skyblueted opened #22274 "Cilium repeats complaining "failed to retrieve route for remote node IP" when node ipv6 binds to vitrual interface"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

A bug happened!

### Cilium Version

1.12.3

### Kernel Version

5.15.0-48-generic

### Kubernetes Version

v1.22.15

### Sysdump

_No response_

### Relevant log output

[code]

### Anything else?

Scenario:
![image](https://user-images.githubusercontent.com/79855132/202841031-fbf49ed6-d8d6-4d

[2022-11-19 09:55] skyblueted opened #22275 "IPv6 LB handling has no special case for martian packet"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

A bug happened!

### Cilium Version

1.12.3

### Kernel Version

5.15.0-48-generic

### Kubernetes Version

v1.22.15

### Sysdump

_No response_

### Relevant log output

_No response_

### Anything else?

Scenario:
![image](https://user-images.githubusercontent.com/79855132/202844472-6c3431b6-

[2022-11-19 10:05] pothos commented on #18706
It seems that the suggestions from https://github.com/cilium/cilium/issues/18706#issuecomment-1031600043 and https://github.com/cilium/cilium/issues/18706#issuecomment-1066986342 to solve it are not interesting? Then at least the suggestion for a `cilium install` check would be a good idea, or? From a first look I don't even see it in the docs: https://docs.cilium.io/en/stable/gettingstarted/k8s-i

[2022-11-19 12:45] abuxliu commented on #21887
@aanm I tried v1.12.2 version, also has this error. @devopslyf  Are you solved this?

[2022-11-19 19:00] sandeepksingla123 commented on #22234
@aanm  attached sysdump

**Installation Steps:**
- Created new AKS cluster 1.25 version.
- Cilium 1.12 installed via helm chart
- cilium operator and deamon started
- core-dns pods failing with below error:
           [ERROR] plugin/errors: 2 1719163443584647392.8487499795824529487. HINFO: read udp 10.0.0.58:33144->168.63.129.16:53: i/o timeout
[ERROR] plugin/errors: 2 1719163443584647392.84874997

[2022-11-20 00:19] christarazi opened #22277 "Cilium should remove stale CNP node statuses from CNP resources if `--disable-cnp-status-updates` is true"
It's possible for a user to have _disabled_ `--disable-cnp-status-updates` (meaning they _enabled_ the CNP node status) and then later _enabled_ it (meaning _disabled_ the CNP node status). This results in stale CNP node statuses inside CNP resources which could waste resources / bandwidth transmitting the status subresource to K8s, as the CNP resources are updated over time. This is not a crucial

[2022-11-20 01:19] aanm commented on #22277
Duplicate of https://github.com/cilium/cilium/issues/20231

[2022-11-20 01:19] #22277 closed

[2022-11-20 12:03] orishuss opened #22280 "CFP: bpf2go enum generation according to naming convensions"
## Cilium Feature Proposal

Using bpf2go to generate Golang code for enums from C code, the resulting Golang constants are hard to read.
For example, the following C enum:

[code]

Results in this generated Golang code (with ident `Ident_`):

[code]

The enum name `enum_name` is being converted from snake_case to PascalCase which is great.
However, the enum keys are not converted, and that results

[2022-11-20 13:39] or-adar opened #22281 "CFP: Allow certain pods to emit traffic from other IPs"
Hi All,
I'm using Ciliun CNI and it drops packets with the message "Invalid  source ip".
In my cluster, I have a pod running a proxy service (envoy) which forwards packets of various clients to a Pod running a VPN server.
I have to preserve the source IPs of my clients, so when the envoy Pod forwards packets to the desired Pod - the src IP is still the address of the client which initiated the req

[2022-11-20 17:27] JBOClara commented on #18644
Connectivity test always fails

[code]

Even with LRP setup https://docs.cilium.io/en/stable/gettingstarted/local-redirect-policy/#node-local-dns-cache

[code]

[2022-11-20 19:07] carlory commented on #22236
/assign

[2022-11-20 22:40] haslersn commented on #18230
Maybe there should be a CRD (e.g. called `CiliumEgressIP`) where you can specify

- an egress IP
- a node selector

and Cilium then automatically configures the egress IP on the loopback interface of one of these nodes. When the node becomes `NotReady`, Cilium should failover the egress IP to a different node.

For users who use MetalLB in BGP mode, it would be ideal if MetalLB adds a feature that

[2022-11-21 03:07] abasitt commented on #20653
I believe two things with tunnel mode, one is the MTU overhead and another is performance overhead of encap/decap. Unless eBPF and xdp can do the magic, I believe hybrid mode will still be performing better than just tunnel mode for everything.

Yeah that was another reason I raised the issue, but I am hoping this issue can fixed together with auto-direct-nodes-route over tunneling.

This sounds r

[2022-11-21 05:39] YutaroHayakawa commented on #21330
Keep alive.

[2022-11-21 07:18] christarazi commented on #22275
Dup of https://github.com/cilium/cilium/issues/7150

[2022-11-21 07:18] #22275 closed

[2022-11-21 07:25] christarazi commented on #22273
Is this causing connectivity issues in your environment or just that the log msgs warning?

[2022-11-21 07:51] sfc-gh-cxu opened #22286 "Cilium kubernetes IPAM shows duplicated addresses when in chaining mode"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

I want to run Cilium CNI to partially replace kube-proxy. I run a live GKE cluster that does not have Data Plane v2. The GKE native CNI uses veth, so I tried to use the [Generic Veth Chaining](https://docs.cilium.io/en/stable/gettingstarted/cni-chaining-generic-veth/) approach. I could not use

[2022-11-21 09:47] #21919 closed

[2022-11-21 10:11] brb commented on #22168
@dylandreimerink Please see https://cilium.slack.com/archives/C7PE7V806/p1668619257856639.

[2022-11-21 10:39] #17631 closed

[2022-11-21 10:46] aanm commented on #22234
Please provide more precise installation steps.

[2022-11-21 10:55] olemarkus commented on #21125
Still interested in this.
@yurrriq you may also be interested in following this one.

[2022-11-21 11:14] brb commented on #22203
Thanks for the issue. This should be fixed in https://github.com/cilium/cilium/pull/19401.

[2022-11-21 11:32] pchaigno commented on #17007
@rickydjohn Please open a new issue with the steps to reproduce :pray:

[2022-11-21 13:06] alexkats commented on #22023
Hi @aanm, not now, but I'll do more testing, so I'll probably have those later.

[2022-11-21 13:13] orishuss commented on #22280
This is in the wrong repository. Moved to https://github.com/cilium/ebpf/issues/862

[2022-11-21 13:13] #22280 closed

[2022-11-21 13:22] aanm commented on #22023
@alexkats thank you, that will help us know which are the hot paths that we need to fix.

[2022-11-21 13:37] haslersn commented on #18230
Alternatively this could be done without a new CRD by extending the existing `CiliumEgressGatewayPolicy` CRD with an option to let Cilium manage the IP. In this case both `egressGateway.egressIP` and `egressGateway.interface` must be specified.

[2022-11-21 13:39] Martin-Weiss commented on #18230
We have tried to work with kube-vip adding a secondary/floating VIP to the egress nodes and using egressIP.. functionality seems to be there but did not test failover, yet.

[2022-11-21 13:43] haslersn commented on #18230
@Martin-Weiss in this case you still need to synchronize a certain node label to the node that currently holds the floating IP, right? So you can match the node label in the `egressGateway.nodeSelector` of the `CiliumEgressGatewayPolicy`.

[2022-11-21 13:50] Martin-Weiss commented on #18230
Probably yes - I am not sure about this one.. via tcpdump I have seen that outgoing packets are using the floating IP on node 3 even though the floating IP was bound on node 1.. so Cilium seems to use the floating IP for sending on the currently active egress node regardless on which node we have the VIP bound.. seems I need to research further..

[2022-11-21 13:57] haslersn commented on #18230
Wait, does Cilium support return traffic to arrive at a different node (i.e. different from the egress gateway node)?

[2022-11-21 13:59] Martin-Weiss commented on #18230
I do not know - but so far it works for us.

[2022-11-21 16:36] pchaigno opened #22294 "SRv6: Adjust MTU for pods"
When SRv6 is enabled, we should [adjust the MTU](https://github.com/cilium/cilium/blob/82c742f2e9fb65fb3fc392c7dcb3b4e22b69c650/pkg/mtu/mtu.go#L104) to account for the possible SRv6 encapsulation. Not all pods may use the SRv6 encapsulation, but when they do, we know how much additional space will be needed because we only support having one SID today and the encapsulation type (reduced vs. SRH) i

[2022-11-21 16:40] pchaigno opened #22295 "Adjust MTU only for pods using the egress gateway or SRv6 encapsulations"
Today, [whenever egress gateway is used](https://github.com/cilium/cilium/commit/c495212a469ee196568393caef9aef67424535a0), we set the MTU of pods to account for the additional overhead of the tunnel (to the gateway node) regardless of whether the pods in question are actually going to use the egress gateway. We are planning to do the same for SRv6 (cf. https://github.com/cilium/cilium/issues/2229

[2022-11-21 17:48] jkulesa commented on #22273
The initial reason to start poking around was that ipv4 masquerading(iptables) wasn't working, and then the odd routes attempting to be inserted were noticed when looking thru the logs(caused by autodirectnoderoutes).  They happen not to align with any legit routes for now, but I don't fully understand what will happen when they hit ranges of the 10 space that we do use.   But the main direct brea

[2022-11-21 17:53] philpearl commented on #21594
I'm also trying to pursue this with GKE: https://github.com/kubernetes/cloud-provider-gcp/issues/404. Would appreciate it if a Cilium expert could check if I'm making any sense!

Do you think it's safe to restart absolutely any unmanaged pod, or would it be better to have an annotation or label to look for? Or is there something there already that's means you'd only be looking at pods that rely on

[2022-11-21 19:23] #22243 closed

[2022-11-21 19:58] jkulesa commented on #22273
Oh and here is an example of the NAT iptable:

[code]

you can see the 10.243.0.0/16 source address, which isn't either our host network (10.196.0.0/16) or the pod network (10.10.0.0/16)

[code]

[2022-11-21 20:03] chancez commented on #21125
Ok, sorry for the long wait, I let this slip by. Here's an example:

You'll need to add the node labels you want to your `kube-state-metrics` [`--metric-labels-allowlist`](https://github.com/kubernetes/kube-state-metrics/blob/master/docs/cli-arguments.md). For example, `--metrics-label-allowlist nodes=[topology.kubernetes.io/zone]`.

You also need the `node` label on the hubble/cilium metrics. Unf

[2022-11-21 22:42] joestringer commented on #20650
One other thing you can try is to drop the `tofqdns-min-ttl`. This will make Cilium more sensitive to the true TTL of the FQDNs, which can help the cache management by allowing Cilium to garbage collect names/IPs sooner if they are not being actively used.

[2022-11-22 02:13] #16975 closed

[2022-11-22 11:37] farcaller commented on #21347
not stale

[2022-11-22 11:45] aojea commented on #22164
at a certain scale we have also these problems

@brb just some guidance, are there any steps I can use to pinpoint the problem or at least the part that can give you more info?

[2022-11-22 12:25] aanm opened #22306 "Clean up K8s Node annotations created by Cilium when running with `clean-cilium-state: true`"
When uninstalling Cilium we should be able to delete all of its state from the cluster. This also includes the annotations set in K8s nodes.

[2022-11-22 14:00] nielsvz opened #22311 "Upgrading Cilium from v1.11.11 to v1.12.4 breaks network connectivity"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

After upgrading Cilium using the Helm chart from version 1.11.11 to 1.12.4, several DaemonSets and Deployments are losing network connectivity in our EKS v1.22 cluster.

We're upgrading the Helm chart using the following values:
[code]

Looking at the differences between 1.11.11 and 1.12.4, it

[2022-11-22 14:08] MarkArranz commented on #22306
Hi @aanm. I'm new to the community and would like to try and help on this issue.

[2022-11-22 15:08] aanm commented on #20219
Consolidating by privileges will be easy to do but there are some init containers that don't have the capabilities in their manifest. Thus will require a little bit more time.

[2022-11-22 15:32] ti-mo commented on #20739
Something discovered while @rgo3 was doing the initial implementation: `link.AttachCgroup()` opportunistically uses bpf_link for attaching to cgroups on kernels that support it, which means we need to create a dir layout in `/sys/fs/bpf`, ideally outside of `/sys/fs/bpf/tc/globals`. The new socket-lb loader code needs to attempt to pin cgroup links, to open them and manage their lifecycle when the

[2022-11-22 15:32] sathieu commented on #21737
I confirm that `sysctl -w net.ipv4.conf.eth0.rp_filter=0` fixes the problem for me.

[2022-11-22 15:38] sathieu commented on #22246
@joestringer Does the current implemtation works with ARP too? Or should I use upstream MetalLB for this?

[2022-11-22 15:47] sathieu commented on #21737
`sysctl -w net.ipv4.conf.eth0.rp_filter=2` also works, and is a bit better.

[2022-11-22 16:38] AidanGG commented on #22246
I think advertising the loadbalancer IP over BGP (necessary: https://github.com/cilium/cilium/pull/21764) and annotating services to request specific IPs (https://github.com/cilium/cilium/issues/21776) are MetalLB features that are missing from the current control plane implementation.

[2022-11-22 17:16] kks427 commented on #19993
This issue is coming in 1.11.9 also.
`evel=warning msg="Failed to remove backend from maps" backendID=676176 error="Unable to delete backend 676176 (false): unable to delete element 676176 from map cilium_lb4_backends_v2: no such file or directory" subsys=service
level=warning msg="Failed to remove backend from maps" backendID=676022 error="Unable to delete backend 676022 (false): unable to delete

[2022-11-22 17:33] Champ-Goblem commented on #22227
An update on the above, it seems to be that this is also happening for cilium in Azure IPAM mode.
At first I may have got it wrong regarding `therefore we can assume the SNAT is not being applied via an IP tables rule`, in fact it does look like its being applied by the iptables `KUBE-POSTROUTING` chain which masquerades the packet when its marked on the PREROUTING chain.
I tested this by insertin

[2022-11-22 17:42] Rid commented on #18610
@brb could this be reopened? I am now hitting this issue when running an istio ingress gateway, when a pod in the cluster tries to connect to the gateway pod on another node, the connection fails.

We're forced to use IPVS mode due to https://github.com/cilium/cilium/issues/21541.

So at the moment it seems we can either break NFS, or break pod communication, neither is a great option.

[2022-11-22 18:03] Rid commented on #22185
It looks like it could be similar to https://github.com/cilium/cilium/issues/21541

[2022-11-22 18:24] joestringer commented on #22246
@cilium/sig-datapath can you look into the question from @sathieu above?

[2022-11-22 18:52] Rid commented on #18610
I've confirmed that this fixes the issue, we could hack together a fix, would a better solution be to integrate these changes into cilium?

[2022-11-22 21:21] #21735 closed

[2022-11-22 22:14] joestringer commented on #22281
@or-adar and I discussed this briefly on Slack the other day, so I'll summarize here: This feature is enabled in Cilium by default to prevent pods from spoofing the source IP address of other networking elements in the cluster. As of 1.13.x development versions, there is no way to turn this off in the codebase. For some context on the sort of security issues that can come up without this protectio

[2022-11-22 22:55] or-adar commented on #22281
Yeah, sorry for spamming I posted both questions on slack & here
as I didn't know what platform would be more relevant to discuss about it.

TCP traffic is potentially problematic as you stated, but I'm more focused on UDP-based traffic as of now.

My use case is to use envoy as a replacement for LoadBalancer to ultimately save money,
Similarly to how it was presented [here](https://github.com/cil

[2022-11-22 23:34] joestringer commented on #22281
The key difference between Slack and here is that Slack is more ephemeral. It can be helpful for more active synchronous discussions and brainstorming, but the history will be lost within a few months.

This is quite an insightful question actually. Typically Cilium assumes that applications running in the pods are untrusted, and that an adversary may have control over the code executed in that en

[2022-11-23 00:14] DWSR commented on #21603
@jonkerj Given [this comment](https://github.com/cilium/cilium/pull/21506#issuecomment-1265319556) you made on another issue, would making a note in Cilium's KPR documentation be sufficient to close this issue out?

[2022-11-23 01:13] #21938 closed

[2022-11-23 02:07] #17307 closed

[2022-11-23 02:07] #16852 closed

[2022-11-23 05:40] kimstacy commented on #21938
@bolotskydev Thank you for the helpful attempt. I believe you were referencing a file that doesn't exist anymore. You can find Cilium's custom Sphinx RTD theme [here](https://github.com/cilium/sphinx_rtd_theme/). Here's a [direct link](https://github.com/cilium/sphinx_rtd_theme/tree/v1.0) to the theme's **v1.0** branch.

[2022-11-23 05:46] Izual750 commented on #17647
I assume we can close this issue, Kernel 5.10.x or newer on debian 11 seems to work. I manage to confirm this on several different cluster.

[2022-11-23 05:46] #17647 closed

[2022-11-23 05:50] frezbo commented on #21603
apologies, I was on PTO, still catching up, will take a look into this next week

[2022-11-23 06:51] jonkerj commented on #21603
I would rather understand (or better: fix) the underlying problem, rather than documenting that it does not work.

[2022-11-23 07:37] kuja53 opened #22323 "Help: DSR with kube-vip and BGP doesnt route across nodes"
Hello,

I have very weird issue which is little bit unique:

We are using cillium v1.12.2 with kube-proxy replacement in strict mode, we enable DSR and BPF masquerading. And our goal is to preserve `sourceIP` which, based on documentation, should work out-of-the box in this kind of configuration. But unfortunately, when I keep `externalTrafficPolicy` in `Cluster` mode it doesnt preserve `sourceIP`

[2022-11-23 10:03] welsper-yang opened #22327 "Requests across nodes failed with 503 service unavailable when a CiliumClusterwideEnvoyConfig is set"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

1. I deploy a test application on a new namespace with following commands
    ```kubectl create ns cilium-demo```
    ``` kubectl apply -f https://raw.githubusercontent.com/cilium/cilium/1.12.4/examples/kubernetes/servicemesh/envoy/test-application.yaml -n cilium-demo```
2. apply a ciliumcluste

[2022-11-23 10:52] dylandreimerink commented on #22246
@AidanGG #21776 is about multiple services sharing the same IP. Requesting specific IPs will be possible with #21764. I would venture a guess that the amount of users that actually have a need to share service IPs is low. So I would say to deprecate the MetalLB integration even without this feature in place. Please correct me if I am wrong.

[2022-11-23 11:04] dylandreimerink commented on #22246
@sathieu MetalLB is exclusively used for BGP announcements and the BGP Control Plane which succeeds it also doesn't use ARP. So at the moment the only option is to deploy MetalLB alongside Cillium.

[2022-11-23 11:25] rastislavs commented on #18610
@Rid

I would be happy to help with that if we had an ACK from some Cilium maintainer

[2022-11-23 12:18] frezbo commented on #21603
apologies, I was on PTO, still catching up, will take a look into this next week

[2022-11-23 12:39] shalev123d commented on #17837
We're experiencing this issue, although what is mentioned above regarding that the node has been deleted - not in our case.
The node is not deleted, and we get the `allocator full` error.
when deleting the CiliumNode object and restarting the cilium agent, it seems to work again.

[2022-11-23 14:36] sathieu commented on #22246
Thanks for the info @dylandreimerink.

[2022-11-23 16:45] margamanterola commented on #22162
BTW, looking at the failed results, we see that not always the same individual tests are failing. For example, in [this one](https://github.com/cilium/cilium/actions/runs/3457550315/jobs/5771080426) the first failure is echo-ingress-l7 whereas in [this one](https://github.com/cilium/cilium/actions/runs/3456343637/jobs/5769011681) the first failure is all-egress-deny.

Anyway, yes, this very much l

[2022-11-23 16:59] jibi commented on #22162
Just pushed a change to the CLI to capture sysdumps right after a test fails: https://github.com/cilium/cilium-cli/pull/1228, hopefully that will give us some better visibility into what's going on :crossed_fingers:

[2022-11-23 17:19] brb commented on #22164
The `pwru` trace suggest that the request is dropped by an iptables rule. In the case of IPv6, I see many drops by:
[code]

In the case of IPv4, you have the same `DROP` policy for the `filter` chain, but this should let the requests in:
[code]

Anyway, the usual way to access the kube-proxy's /healthz is to use a node IP instead of a service VIP. Or did you mean `--enable-health-check-nodeport`?

[2022-11-23 17:23] brb commented on #21541
[code]

I ran the following:
[code]
And then your `nfs.sh` with the following nodes:
[code]

[2022-11-23 17:25] brb commented on #22164
Do you have the affected cilium-agent log? The related BPF map might be full. Anyway, I'd suggest to open a separate issue.

[2022-11-23 17:28] Rid commented on #21541
@brb that's strange, kind-worker2 should have been cordoned so the nfs-pvc pod shouldn't have been scheduled on that node, perhaps we should have waited until the resources were ready, could you try the following?

[code]

[2022-11-23 17:59] aojea commented on #22164
doh, now I'm embarrassed, so obvious , thanks

yeah, I thought the same, but  I'm still ramping up in GKE, it seems is how it works in GKE, I double checked with the IPv4 one as you can see in the tcpdump of the issue description ...

my teammate @panslava pointed me to this https://docs.cilium.io/en/v1.12/concepts/ebpf/maps/ and we may be hitting some limit on this other environment, it has 5k no

[2022-11-23 17:59] #22164 closed

[2022-11-23 20:18] brb commented on #21504
Noup, I would not expect it too happen.

Try using `kubectl cp` to retrieve the file from the CoreDNS pod.

[2022-11-23 20:32] MarcusWichelmann commented on #14509
Why is this being automatically closed, if the issue was confirmed by multiple people?

[2022-11-23 22:22] Daxcor69 opened #22338 "Combining Hubble and Policy Editor In One Application"
## Cilium Feature Proposal

**Is your feature request related to a problem?**

Figuring out what is being blocked/allowed by network policy in real time when you make changes is really hard to see.

**Describe the feature you'd like**

Drag and drop network policy editor/creator based and  REAL cluster objects as found by hubble in the live cluster.

**(Optional) Describe your proposed solution**

[2022-11-24 00:50] DWSR commented on #21603
The linked comment appears to indicate that you have Cilium with KPR working correctly on Talos by passing a custom list of capabilities to the Helm chart. Is that not the case?

[2022-11-24 02:51] ilbarone87 opened #22339 "Cilium pod doesn't start"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

Hello, cilium pod in my rke2 custer doesn't start and stays in CrashLoopBackOff

### Cilium Version

1.12.3

### Kernel Version

5.15 on Ubuntu Server 20.04

### Kubernetes Version

v1.24.8+rke2r1 + metalLB + KubeVIP

### Sysdump

_No response_

### Relevant log output

[code]

### Anything els

[2022-11-24 04:23] nikhiljha opened #22340 "ingress: incompatible with cert-manager ACME DNS-01"
### What is happening?

With cilium `1.13.0-rc2`, set the default ingress class to `shared` (this functionality was implemented in #21386). Create a basic `ClusterIssuer` for the Let's Encrypt ACME HTTP01 challenge. Create an Ingress with the appropriate annotation and `spec.tls` setup properly. Observe as cert manager spins in a loop and creates hundreds of ingresses.

<img width="822" alt="Scree

[2022-11-24 04:39] odidev commented on #21549
@aanm, Could you please share your feedback regarding the above issue.

[2022-11-24 05:28] nikhiljha commented on #22340
Actually this snippet is a pretty good argument to just fix this in Cilium (respect the legacy annotation)...

https://github.com/kubernetes/kubernetes/blob/45279654db87f4908911569c07afc42804f0e246/plugin/pkg/admission/network/defaultingressclass/admission.go#L106-L109

Kubernetes itself still treats the annotation as "ingressClassName is applied"

[2022-11-24 06:00] jonkerj commented on #21603
Aaah now I understand. No, it was not the case unfortunately. In that issue I got Cilium running unprivileged, but did not know yet it was actually (silently) misbehaving KPR wise.

[2022-11-24 06:27] anthr76 commented on #21541
I appear to also be facing this issue when hosting a nfs server with Service type LoadBalancer.

[2022-11-24 09:39] xzrian opened #22344 "enable ingress controller during post installation using cilium CLI"
Hi,

how do i enable cilium ingress controller after installing cilium cli?
I been searching for enabling ingress controller using cilium cli.
Based on the documentation, it only stated during installation but not after or post installation.

[](https://docs.cilium.io/en/v1.12/gettingstarted/servicemesh/l7-traffic-management/)

[2022-11-24 12:59] jkendzorra opened #22347 "Intermittent audit/drop events for intra-namespace traffic from cronjob pod"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

We're developing network policy for a new application, hence this cluster currently is running audit mode. We noticed that intermittently, a cronjob will bubble up with verdict audit in Hubble:

[code]
The policy in question allow intra-namespace traffic for ns `monitor` by default:
[code]
Comp

[2022-11-24 14:36] brb commented on #21541
Noup. But this gives me a good hint what might be happening. I will comment in a bit.

[2022-11-24 15:28] DWSR commented on #21603
Ah, OK.

[2022-11-24 16:52] akash-gautam commented on #21585
@aanm Unfortunately I won't be able to make time for this in the next few weeks so it might be better to unassign me so that other folks can take this up if they want.

[2022-11-24 17:07] #15452 closed

[2022-11-24 17:09] ilbarone87 commented on #22339
Deleting these bits solved the issue
[code]

[2022-11-24 17:09] #22339 closed

[2022-11-24 18:08] Daxcor69 commented on #22338
Another Feature for this app:

- have flows showing in real time entering and leaving the namespace context.  A graphical representation of the Hubble text data that streams by on the lower portion of the screen.
- be able to right click on a flow and immediately apply a block.. think of an instant deny on a suspicious flow.
-

[2022-11-24 19:48] brb commented on #21541
@Rid When you hit the issue, was kube-proxy running?

[2022-11-24 19:50] Rid commented on #21541
No it was removed.

[2022-11-24 20:25] brb commented on #21541
Can you provide the Cilium sysdump?

[2022-11-24 22:01] brotherdust commented on #18851
Can you also restore the documentation for Consul integration, please?

[2022-11-25 09:41] joamaki commented on #15471
This is slowly progressing with `pkg/k8s/resource` utility merged and #21744 switching service, node and namespace watchers over to it.

There are few complications slowing this work down:
- Some watchers are flipping to different field selectors at runtime (pod watcher will start watching only local node when kvstore connects). Not yet clear how a `Resource[*Pod]` should work. One option is to al

[2022-11-25 10:52] alexandrevilain commented on #21763
Hi! Sorry for the delay.

I reproduced the issue on a brand new cluster using kubeadm (kubernetes v1.24.4) with cilium v1.12.4 (`kubeProxyReplacement: strict`) running on Openstack.

I deployed the previously provided nginx statefulset and broke the `cluster-01-worker-01`.

When the nodes becomes `NotReady` running `curl nginx.default` in a debug pod works well. But when the Pod running on the bro

[2022-11-25 11:27] #20231 closed

[2022-11-25 15:53] sivagurudialpad commented on #22228
I found the root cause for this.
It turned out that `kube-proxy-replacement` was set to `strict` in my cluster. The feature [required](https://docs.cilium.io/en/stable/gettingstarted/kubeproxy-free/#kube-proxy-hybrid-modes) a greater kernel version than the one running on my kubenodes (4.19.0-20).

I set `kubeProxyReplacement=disabled` and the errors displayed by the cilium-agent on startup went a

[2022-11-25 15:53] #22228 closed

[2022-11-25 16:02] aspsk opened #22366 "DNS proxy: preserve security identity (native routing mode)"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

**Summary.** When the DNS proxy issues a request to a remote host, it doesn't preserve the original identity in native routing mode. See the short description and the steps to reproduce the issue, and a hotfix below.  (This issue was fixed for the tunneling mode in the following PRs: https://gi

[2022-11-25 16:21] dylandreimerink opened #22367 "CI: client-egress-to-echo-expression-deny (ConformanceAKS)"
## CI failure: client-egress-to-echo-expression-deny (ConformanceAKS)

Link: https://github.com/cilium/cilium/actions/runs/3548488854/jobs/5959757792#step:16:2355

The full log didn't fit in the issue, it is attached as a TXT: [full-log.txt](https://github.com/cilium/cilium/files/10094154/full-log.txt)

I thin the final line is the most significant:
[code]

There doesn't seem to be a sysdump avail

[2022-11-25 16:27] pchaigno commented on #22367
cc @jibi regarding the missing sysdump error.

[2022-11-25 16:44] jibi commented on #22367
I think it's kind of expected as this wasn't the test failing but rather the setup of the test itself.
We probably just need to add the sysdump collection logic also [here](https://github.com/cilium/cilium-cli/blob/master/connectivity/check/context.go#L306), I'll have a look

[2022-11-25 16:48] pchaigno opened #22368 "CI: ConformanceGKE: Timeout on cilium-test deletion"
ConformanceGKE runs are failing on master with a 1h15min timeout on:
[code]

I don't know the root cause, but this can probably be worked around by deleting the pods in the namespace instead of the namespace itself (you can notice in the sysdump that the namespace's pods are already gone) and using a different test namespace for each run of the connectivity tests.

[2022-11-25 19:27] 343GuiltySpark-04 opened #22372 "Second Operator Stuck as Pending"
excuse my noobiness i'm quite new to Kubernetes, i have everything setup right however Cilium reports for my second operator pod the following error: `Error from server (BadRequest): pod cilium-operator-599dbfd497-2vb4h does not have a host assigned`
i'm at a loss at this point since this is the last step i need to get the control plane running right. if this is the wrong place for this then let m

[2022-11-25 21:52] Garagoth commented on #13227
Well, possible, but seeing @lx1036 comments data is on Aprils Fools Day, I hope that this was not intended as a final solution.
I too have a need for separate IP pools based on labels to build topology aware network (that is a requirement from infrastructure).
Calico IPPools work here perfectly (but Calico has other issues that Cilium does not have), is it possible to achieve something similar in

[2022-11-25 22:08] Garagoth commented on #18987
Will it be possible to allocate blocks from pools selected via nodeSelector? (see also #13227).
If this mechanism will allow multiple pools to be selected, then nice, we could have both topology based allocation and for example by size. It is fine if node will be able to allocate IPs from multiple pools if necessary, however some kind of limitation/priority or just pool usage balancing would be ne

[2022-11-25 22:32] pchaigno opened #22373 "CI: TestArpPingHandlingForMultiDevice gets stuck due to race"
The privileged unit tests are failing in with a 10min timeout in `pkg/datapath/linux`.
E.g.: https://jenkins.cilium.io/job/Cilium-PR-Runtime-net-next/4055/testReport/junit/(root)/Suite-runtime/RuntimeDatapathPrivilegedUnitTests_Run_Tests/

[code]

[2022-11-25 23:54] aanm commented on #22368
https://github.com/cilium/cilium/actions/runs/3538749676/jobs/5939896569

[2022-11-26 00:30] aanm commented on #21594
@philpearl have you checked https://github.com/cilium/cilium/pull/22257?

[2022-11-26 00:44] #17471 closed

[2022-11-26 02:02] #20436 closed

[2022-11-26 14:47] AidanGG commented on #22246
Without MetalLB's FRR, I believe we don't have support from GoBGP (https://github.com/osrg/gobgp/issues/2563) to enable BFD with the control plane implementation.

[2022-11-26 15:07] reitermarkus opened #22375 "Cannot access LoadBalancerIP from host network."
### Is there an existing issue for this?

- [X] I have searched the existing issues

https://github.com/cilium/cilium/issues/12895 seems similar, which is closed without any obvious solution since MetalLB/BGP support was integrated into Cilium.

### What happened?

1. I updated Talos (1.2.7), MetalLB (1.13.7) and Cilium (1.12.3).
2. Noticed that services using `hostNetwork: true` which also have a

[2022-11-26 15:11] dylandreimerink commented on #22246
No, the new control plane will not have BFD support. But our current BGP (beta) feature also doesn't offer this since the MetalLB integration doesn't run in FRR mode.

I would encourage you to make a feature request for BFD support in BGP Control Plane. Perhaps someone in the community can contribute it to GoBGP so Cilium can start using it as well.

[2022-11-26 15:32] AidanGG commented on #22246
Right, I had a mental slip since I was thinking about bringing cilium to feature parity with upstream MetalLB rather than the MetalLB integration.

[2022-11-26 20:07] teskje opened #22377 "Cilium interrupting connections"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

In our Kubernetes cluster we are suddenly seeing pods having connection issues that seem to be caused by Cilium misbehaving. We don't know exactly what is going on, but here is what we could piece together so far:

Long-running SQL connections to Cockroach Database are getting blackholed and ti

[2022-11-27 02:09] #18273 closed

[2022-11-27 05:56] mpv945 opened #22378 "How does node-local-dns work in dual-stack ipv4 and ipv6 mode?"
Want to enable ipv6 dual stack to speed up dns resolution, how to correctly configure ipv6 local dns resolution?

[2022-11-27 08:57] mazzy89 commented on #22246
I have a question related to the topic. I've deployed cilium 1.12.4 with load balancer enabled and BGP publish of load balancer IP. The Service, automatically created by Cilium, get correctly the IP address and it's advertised properly. The Ingress does not report any IP in the status and I do not have any connectivity at the level of the Ingress. Now reading this diecussion seems that what I'm tr

[2022-11-27 12:50] mazzy89 commented on #22375
I confirm I have the following issue too. It differs from the one of @reitermarkus because I use Cilium Ingress.

Running Cilium 1.12.4 and using the Cilium Ingress feature:

[code]

[code]

IP `192.0.10.0` is provided using L2 announcements from Cilium.

Services are presents in each node.
[code]

[2022-11-27 14:51] mazzy89 commented on #22375
@reitermarkus do you deploy Cilium in a k8s cluster cube-proxy free? Also the `kubeProxyReplacement` is set to `strict`?

[2022-11-27 16:27] mazzy89 commented on #22375
these are the flag I use to configure my Cilium

[code]

[2022-11-27 17:39] ntoofu commented on #20129
Which packets received by a node are transferred to the additional interface in a pod? I am wondering if this feature is useful when some pods need to receive all packets received on a node's dedicated interface regardless of their destination IP address.

[2022-11-27 18:38] reitermarkus commented on #22375
Yes.

I have since found the solution for my problem.

First of all, my network was not configured correctly for BGP. Since I was previously using MetalLB with L2 advertisements, I was using a 10.0.0.0/23 network, with 10.0.0.0/24 being my LAN and 10.0.1.0/24 for MetalLB L2 advertisements. For BGP, I needed to switch my network to 10.0.0.0/24, since otherwise the 10.0.0.0/23 route pointing to my r

[2022-11-27 18:45] reitermarkus commented on #22375
For reference, here is my current configuration:

[code]

[2022-11-27 20:04] mazzy89 commented on #22375
@reitermarkus I see. thank you for providing your configuration. I gave some tries tuning up my configuration with your recommendations but seems not to work for my use case. then likely my issue is not so similar to your issue. very likely something else is off.

[2022-11-27 21:19] mazzy89 commented on #22375
I've made an attempt with a different product to check whether there were some issues with my network configuration. So I spun a Trefik ingress controller and its Service with LB getting an IP from Cilium BGP L2 advertisement and then setting the Ingress Controller everything worked. so my Cilium configuration for my scenario does not work.

[2022-11-28 01:26] abasitt commented on #21923
@sayboras @youngnick  I don't see if this is tracking GAMMA (Gateway API for Mesh Management and Administration). Even though it's experimental feature but I believe we need to start supporting some of the features e.g. https://istio.io/latest/docs/tasks/traffic-management/ingress/gateway-api/#mesh-traffic

[2022-11-28 02:06] #18256 closed

[2022-11-28 02:06] #18177 closed

[2022-11-28 02:06] #17457 closed

[2022-11-28 06:51] gyutaeb opened #22382 "ipam memory leak, cilium from v1.6 to v1.8"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

On Linux 4.11 to 4.15 and Cilium v1.6 to v1.8, ipam blacklist-conflicting-routes is leaked.

On Cilium v1.9 24a4207685a11445f7a69627d80f2e5541071eeb `remove blacklist-conflicting-routes option from agent`. So Cilium v1.9 above version will not be leaked. (cc: @fristonio )

### Reproducing

data

[2022-11-28 07:22] benesch commented on #22377
After digging a bit more, it turned out we'd incorrectly turned off the egress gateway during our evaluation. Turning off the egress gateway _does_ resolve the issue; turning it back on causes the issue to recur.

Note that we hold open about 10k CockroachDB connections at once, and, when the egress gateway is enabled, all get routed through the gateway. Some `tcpdump` output seemed to indicate a

[2022-11-28 09:31] gandro commented on #20915
There is no ETA, since it's still unclear why Cilium's k8s heartbeat reconnection logic is not triggered.

We've only managed to reproduce it once so far. If anyone has pointers on how to reproduce EKS scale-down very reliably, please let us know. Just scaling the pods (as recommended above) does not always work. It seems there are other parameters taken into account too (node count maybe?).

[2022-11-28 09:37] jibi commented on #22367
This handle the case https://github.com/cilium/cilium-cli/pull/1233/files

[2022-11-28 11:00] aanm commented on #22382
Closing as this affects a Cilium version that reached EOL and doesn't affect current versions.

[2022-11-28 11:00] #22382 closed

[2022-11-28 14:15] mjgrzybek commented on #21585
/assign

[2022-11-28 14:50] dylandreimerink opened #22394 "CFP: BFD(Bidirectional Forwarding Detection) support in BGP Control plane"
## BFD(Bidirectional Forwarding Detection) support in BGP Control plane

BFD is a health checking mechanism made for rapid (sub second) failure detection of data forwarding planes. Its a protocol which can be employed together with protocols such as BGP, IS-IS and OSFP to shorten the time between a failure and automated actions like retracting routes to reroute traffic. The protocol is describes i

[2022-11-28 15:13] munjalpatel commented on #20915
@gandro for us, we had a single node to start with and then Karpenter was spinning up new nodes as needed.

[2022-11-28 15:39] mhulscher commented on #20915
@gandro perhaps you could consider creating an EKS 1.23 cluster w/ cilium 1.12, then upgrading EKS to 1.24. This will cause the kube-apiservers to be replaced.

[2022-11-28 16:47] tklauser commented on #22368
https://github.com/cilium/cilium-cli/pull/1237 should fix/work around this in cilium-cli. Once this is merged and a new cilium-cli version is released, bumping `cilium_cli_version` in the GKE workflows should do the trick.

[2022-11-28 18:22] joestringer opened #22401 "Enable cilium_bpf_map_pressure metric by default"
Several users have reported that bpf_map_pressure is not exported by default in the metrics, but it would be very useful to be able to debug issues in their cluster.

[2022-11-28 18:32] michi-covalent opened #22402 "hubble does not drop reason description field for L7 drop events"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

hubble always sets `DropReasonDesc` field to `DROP_REASON_UNKNOWN` for L7 drop events:

- https://github.com/cilium/cilium/blob/master/pkg/hubble/parser/seven/parser.go#L126

in `hubble_drop_total` metric, these L7 drop events get `reason="Success"` label, which is sort of misleading:

- https:

[2022-11-28 19:06] dylandreimerink commented on #22246
@AidanGG I looked into BFD some more (your comment sparked interest), I created an [issue](https://github.com/cilium/cilium/issues/22394) to add support for it to Cilium (separate from MetalLB deprecation). In case you have any thoughts on the subject.

[2022-11-28 20:19] maintainer-s-little-helper[bot] opened #22404 "CI: K8sAgentPolicyTest Basic Test TLS policy"
### Test Name
[code]

### Failure Output
[code]

### Stacktrace
<details><summary>Click to show.</summary>

[code]
</details>

### Standard Output
<details><summary>Click to show.</summary>

[code]
</details>

### Standard Error
<details><summary>Click to show.</summary>

[code]
</details>

ZIP Links:
<details><summary>Click to show.</summary>

 https://jenkins.cilium.io/job/Cilium-PR-K8s-1.25-ker

[2022-11-28 20:21] aanm commented on #22404
Fixed by https://github.com/cilium/cilium/pull/22403

[2022-11-28 21:20] Vishal-Chdhry commented on #22401
what I can understand that I have to
1. Add `Namespace + "_" + SubsystemBPF + "_map_pressure"` in https://github.com/cilium/cilium/blob/a75e24b558703a4f66337ad28849c6a79240166f/pkg/metrics/metrics.go#L605
2. Impliment this https://github.com/cilium/cilium/blob/a75e24b558703a4f66337ad28849c6a79240166f/pkg/metrics/metrics.go#L1287

[2022-11-28 21:22] recollir commented on #20915
We are seeing a similar behavior with EKS 1.23 and Cilium 1.10.16. At least the error msg pointed us to this issue. And a restart of the operator solved the problem.

[2022-11-28 22:01] joestringer commented on #22401
:+1: I think it's just (1) + any potential documentation updates to the metrics page. (2) is defining the metric, which should already be correct.

[2022-11-29 00:51] michi-covalent opened #22410 "CI: PANIC package: github.com/cilium/cilium/daemon/cmd"
## CI failure

saw this failure in travis CI: https://app.travis-ci.com/github/cilium/cilium/jobs/589683447

[code]

it's from this pull request: https://github.com/cilium/cilium/pull/22409 this pull request only touches hubble L7 parser, so i don't think the failure is caused by this change 🤔

[2022-11-29 01:48] sayboras commented on #21923
👋

Not sure if there is any specific feature you are interested in as part of GAMMA, the above example use case (e.g. header-based routing) is already supported in the current implementation.

FYI. Some of the Cilium team members (e.g. Nick) are actively involved in GAMMA upstream conversations.

[2022-11-29 02:06] #20901 closed

[2022-11-29 03:00] #22233 closed

[2022-11-29 04:27] AidanGG commented on #22394
Thanks for writing this up. My only thoughts right now are that both the GoBGP and Cilium -native approaches have merit; GoBGP BFD for the wider Go ecosystem, and Cilium for the other non-BGP related uses that you described.

[2022-11-29 06:34] #22344 closed

[2022-11-29 07:37] christarazi commented on #22410
Dup of https://github.com/cilium/cilium/issues/21852.

[2022-11-29 07:37] #22410 closed

[2022-11-29 07:38] cyclinder commented on #20511
Can I working on this? I see https://github.com/cilium/cilium/pull/20828 has not seen any activity.

[2022-11-29 07:39] christarazi commented on #22378
Hello. Consider asking for help on Cilium Slack at cilium.slack.com.

[2022-11-29 07:43] christarazi commented on #22377
@jibi Could you take a look at the above?

[2022-11-29 08:33] ycydk opened #22414 "wrong mac addr when using cilium service mesh"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

### cilium config
[code]

### what happened

i create an ingress as
[code]
### http request from hostns

dest pod in remote node
[code]

### http request from pod

dest pod in remote node

[code]

### tcpdump

dump the packet from envoy to remote pod, i found that
the dest mac addr in the packe

[2022-11-29 08:46] ycydk commented on #22414
- [ ]

[2022-11-29 09:10] brb commented on #21541
@Rid bump

[2022-11-29 09:22] Rid commented on #21541
I'm just setting up a cluster on digital ocean to test the reproducer outside of our setup. I will send you a message on Slack to provide you access.

[2022-11-29 09:33] flokli commented on #4825
Is there any plans from Cilium to actually start supporting nftables directly if supported, rather than shelling out to different versions of the `iptables` binary (which this issue originally was opened for)?

It seems [some of the things Cilium does is not working in iptables-nft wrapper](https://github.com/NixOS/nixpkgs/issues/179741#issuecomment-1328402869), and it should be a good idea to pro

[2022-11-29 10:05] hongkunyoo opened #22417 "cilium operator invalid memory address or nil pointer dereference in getCESQueueDelayInSeconds"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

I am very new to cilium.
Our cluster is relatively large cluster(about 400 nodes).
cilium operator regularly panics with `nil pointer dereference`.  After the panic, the other operator becomes the leader.
The error occurs here: https://github.com/cilium/cilium/blob/v1.11.10/operator/pkg/ciliume

[2022-11-29 12:38] sahid opened #22419 "bpf/tests: Probable verifier issue when enabling IPv6 for NAT"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

Enabling IPV6 and including nat.h is creating verifier issue.

[code]
[code]

### Cilium Version

master

### Kernel Version

Linux ca080c312bfe 6.0.6-76060006-generic #202210290932~1667401208~22.04~d2df702~dev-Ubuntu SMP PREEMPT_DY x86_64 x86_64 x86_64 GNU/Linuxkub

### Kubernetes Version

n/a

[2022-11-29 12:41] sahid commented on #22419
Locally with different version of llvm and clang I have this error:
[code]

[code]

[2022-11-29 15:02] benesch commented on #22377
We'd love to, but unfortunately upgrading to v1.12 causes a different networking outage: https://github.com/cilium/cilium/issues/20915.

[2022-11-29 20:50] akhilles opened #22429 "CFP: Support per-interface NodePort SNAT IP"
**Is your feature request related to a problem?**

The same IP (`IPV4_DIRECT_ROUTING`) is used for SNAT-ing NodePort traffic to remote backends on all host interfaces. This is problematic because the IP may not be assigned to the interface that the packet leaves. https://github.com/cilium/cilium/pull/18585 added multihoming support, but still requires all interfaces that forward service traffic to

[2022-11-29 20:58] thejosephstevens commented on #19931
In case it's useful, we saw the same thing happen in one of our clusters where a Daemonset pod ended up with a different IP than the CEP (in this case it was a node-local-dns pod). I'm not exactly sure how to reproduce, but I did notice that the node-local-dns pod was much older than the cilium agent pod (about 12 hours).

[code]

In Hubble, the traffic to the dns pod is labeled as going to an unm

[2022-11-29 21:55] joestringer opened #22430 "CI: controlplane tests crash with panic: runtime error: invalid memory address or nil pointer dereference"
Master branch today at commit d095e010883e during v1.13 dev cycle:

[code]

[2022-11-29 21:59] joestringer commented on #22430
Duplicate of #22224

[2022-11-29 21:59] #22430 closed

[2022-11-29 22:21] aanm commented on #22224
@dylandreimerink if this is happening from a fork then we shouldn't open issues to track these failures since it unlikely that the failure is related to code that exists in the tree. Feel free to re-open this if the test flake happens with code merged in the master branch

[2022-11-29 22:21] #22224 closed

[2022-11-29 23:03] joestringer opened #22432 "CI: Multiple tests: Timed out waiting for datapath updates of FQDN IP information; returning response"
### Test Name

[code]

### Failure Output

[code]

### Stack Trace

[code]

### Standard Output

[code]

### Standard Error

[code]

### Resources

- Jenkins URL: https://jenkins.cilium.io/job/cilium-master-k8s-1.21-kernel-4.9/369/testReport/junit/Suite-k8s-1/21/K8sAgentHubbleTest_Hubble_Observe_Test_FQDN_Policy_with_Relay/
- ZIP file(s):
[9d6a3778_K8sAgentHubbleTest_Hubble_Observe_Test_FQDN_Polic

[2022-11-29 23:25] joestringer opened #22433 "CI: go test ./pkg/datapath/loader fails: Link does not exist"
This issue is not observed in CI, however I notice it when running the privileged tests locally in my Ubuntu 22.04 environment against the master branch:

[code]

[2022-11-29 23:26] joestringer commented on #22433
This may be as simple as, the loader tests assume that the `cilium_net` / `cilium_host` veth pair are created prior to running the test. However in my environment I don't have Cilium running directly in the host, so the test cannot find the device and exits out. To fix this, perhaps we should run the test inside a dedicated network namespace, and ensure the relevant devices are created + cleaned u

[2022-11-29 23:37] joestringer commented on #22432
Some relevant logs from `pod-kube-system-cilium-qpc95-cilium-agent.log`, a few logs before + after the error:

[code]

One of the things I struggle to understand here is which DNS request / response is associated with the message `Timed out waiting for datapath updates of FQDN IP information; returning response`, and hence which request has trouble + what the corresponding messages are for that ev

[2022-11-29 23:56] joestringer opened #22434 "Improve visibility into conntrack garbage collection"
It is currently difficult to understand when, and how often, conntrack garbage collection occurs. This issue tracks improving metrics / logging / observability into these events.

One proposal would be to refactor the code into a `pkg/controller` instead of an open-coded goroutine, so that the `cilium status` output reveals the last time it ran + success. I think that the primary blocker from this

[2022-11-30 00:22] joestringer opened #22435 "CI: ConformanceKind1.19: Install Cilium with Encryption: Unable to execute "kubectl port-forward ...""
## CI failure

https://github.com/cilium/cilium/actions/runs/3578781557/jobs/6019299792
[cilium-sysdump-out.zip (30).zip](https://github.com/cilium/cilium/files/10118294/cilium-sysdump-out.zip.30.zip)

[code]

Hit in #22411

[2022-11-30 00:24] joestringer opened #22436 "Add timestamps to github CI runs"
It would be helpful to have inline timestamps in github workflows to correlate test environment timestamps with pod logs inside the testing environment. This is a feature request to add this.

[2022-11-30 00:25] joestringer commented on #22435
hubble-relay pod logs:

[code]

Everything looks healthy, maybe startup just took a little longer? I can't tell when the test failed out because the workflow doesn't have any timestamps. I filed #22436 to follow up on that.

[2022-11-30 00:46] mqsoh commented on #19256
I already have a running cluster and I'd like to switch them over to bottlerocket. I tried deleting the cilium-node-init daemonset but the cilium daemonset still expects a daemonset. Setting nodinit: disable in the cilium-config configmap didn't help. Is there a way to reconfigure Cilium to disable the init containers?

[2022-11-30 02:04] #17791 closed

[2022-11-30 04:32] sandeepksingla123 commented on #22234
Please refer below steps
1)  Create AKS cluster version 1.25.2 with bring your own cni
https://learn.microsoft.com/en-us/azure/aks/use-byo-cni?tabs=azure-cli#deploy-a-cluster

AKS host runs
OS-IMAGE :  Ubuntu 22.04.1 LTS
KERNEL-VERSION: 5.4.0-1094-azure

2) Install cilium CNI
helm repo add cilium https://helm.cilium.io/ -n cilium
helm install cilium cilium/cilium --namespace=cilium-f cilium_values

[2022-11-30 06:19] samip5 commented on #21282
Not stale

[2022-11-30 07:50] youngnick commented on #21923
@abasitt, thanks for the question, yes, this one doesn't track GAMMA work, I don't think we have an issue to track that yet, which we probably should.

I think this is behind mTLS work, which now that I look _also_ doesn't have an issue. I'll write up some CFPs for both things tomorrow and post some links here.

[2022-11-30 07:52] youngnick commented on #21923
Oh, I was wrong about mTLS, that issue is #22215. I will still make a GAMMA work issue though, although I should also emphasize that the current GAMMA proposal is _very_ experimental, and will remain so until we can get it through Kubernetes API review (which may take a while).

[2022-11-30 08:02] recollir commented on #20915
@bimmlerd Of course I want to provide some more information. A tl;dr upfront though: it seems that we are not affected by this.

Longer version: We experienced communication problems for workloads as described by @mhulscher in the initial description. This was on EKS 1.23 clusters running 1.10.10 and 1.10.16. The error msgs from the operator corresponded to the error msgs from the initial issue de

[2022-11-30 08:48] abasitt commented on #21923
@youngnick  thank you so much. The reason I asked is that there is still confusion of what is covered in gatewayapi proposal that got merged and what is not. It will be great to have a CFP for GAMMA. Even though I totally agree with you that it is still very experimental.

[2022-11-30 08:49] abasitt commented on #21923
@sayboras I appreciate all the great work from Cilium team and have been following up some of the conversation Nick leading in the gatewayapi forums.

[2022-11-30 09:18] ti-mo commented on #20739
I looked into removing `TestDummyProg()`. It seems like it's mostly called from `probeKubeProxyReplacementOptions()` to detect if certain prog/attachtype combos are supported, as well as calling BPF_PROG_ATTACH as an oracle for CONFIG_CGROUP_BPF. (see https://github.com/cilium/cilium/commit/abf5366a5d4418f01432563d8e402fb957cd12e7)

Since ebpf-go only falls back to PROG_ATTACH when bpf_link is not

[2022-11-30 12:21] aojea opened #22446 "fail to forward traffic to custom Endpoint Slices with the same Address on different Slices (it works for 1.12)"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

This was found by chance, long history here https://github.com/kubernetes/kubernetes/pull/114155 , the TL; DR is that Cilium is not able to forward traffic to one of the backends if  a Service has 2 EndpointSlices, and each Slice have the same address but different port.

The linked PR https://

[2022-11-30 12:21] aojea commented on #22446
/cc @aanm @squeed

[2022-11-30 13:17] aanm commented on #22446
@aojea could you get a sysdump of the cluster while the issues is happening?

[2022-11-30 14:37] #21905 closed

[2022-11-30 14:42] #21453 closed

[2022-11-30 15:14] aojea commented on #22446
Good news, I managed to deploy a cluster with the OSS version following the instructions in https://docs.cilium.io/en/v1.12/gettingstarted/k8s-install-default/ (by the way, very nice and smooth UX, it is very simple to get a cluster with those instructions)

and the test passes

[code]

vs
[code]

[2022-11-30 15:24] kaiwalyakoparkar commented on #21847
Thank you, I will start working on it shortly

[2022-11-30 16:26] pchaigno commented on #21430
cc @jibi we may already have an issue for this.

[2022-11-30 18:36] tklauser commented on #22436
FWIW, `cilium connectivity test` has a `-t`/`--timestamp` option since v0.12.1, so for the cilium-cli based CI runs it should only be a matter of adding this flag. The datapath conformance workflow already uses it:

https://github.com/cilium/cilium/blob/1182ca9b4742df4d05e60d0d89cecc9f080ff601/.github/workflows/conformance-datapath.yaml#L222

Marking as `good first issue` given the above.

[2022-11-30 18:39] tklauser opened #22451 "CI: External Workloads Conformance tests are broken with cilium-cli v0.12.10"
Currently, the external workloads conformance tests are broken since #22441 was merged:

See https://github.com/cilium/cilium/pull/22441#issuecomment-1332086537 and following comments for more information.

As a consequence, the external workloads conformance tests are currently disabled on `master`, `v1.12` and `v1.11` branches.

[2022-11-30 19:03] joestringer commented on #22378
One thing at least we can highlight is that turning IPv6 support on in Cilium should be as simple as setting `ipv6.enabled` to true in your helm settings. the `ipv6NativeRoutingCIDR` option may also be relevant if not using tunneling in that environment. See https://github.com/cilium/cilium/tree/master/install/kubernetes/cilium for more details.

Regarding IPv6 local DNS resolution, there is proba

[2022-11-30 19:09] aditighag commented on #22378
The same instructions should work for IPv6 as well. Let us know if there are any gaps. You can also post on the Cilium public slack channel #kubernetes.

[2022-11-30 19:11] joestringer opened #22452 "Q: How can I configure Cilium's access to the kube-apiserver?"
Q: How do I configure Cilium to access the kube-apiserver?

- A: If using kube-proxy, this will work automatically.
- A: If using kube-proxy, replacement, then you need to configure the server and IP for the kube-apiserver. The settings are documented [here](https://docs.cilium.io/en/stable/gettingstarted/kubeproxy-free/#kubeproxy-free). In this scenario, you have multiple options for specifying t

[2022-11-30 19:11] #22452 closed

[2022-11-30 20:44] #21900 closed

[2022-11-30 21:28] azalio commented on #21472
Today I have faced with this problem.
I have bare-metal k8s clusters with host based firewall and cilium firewall.
The behavior of Hubble observe was one to one with this issue.
Problem was solved after allowing lxc interface on INPUT chain in iptables on host.
[code]

[2022-11-30 23:14] aanm commented on #22368
Fixed by https://github.com/cilium/cilium/pull/22441

[2022-11-30 23:37] aanm opened #22459 "CI: ERROR: libFuzzer: out-of-memory (used: 2563Mb; limit: 2560Mb)"
Seen in https://github.com/cilium/cilium/actions/runs/3587050351/jobs/6036956527
[code]

Disabling workflow as a consequence https://github.com/cilium/cilium/actions/workflows/tests-cifuzz.yaml

/cc @DavidKorczynski