[2020-07-07 14:10] nebril commented on #12284
This seems like a different failure of the same test: https://jenkins.cilium.io/job/cilium-ginkgo/job/cilium/job/master/5198/ (but happened only once in the last month), I think we should close this one and reopen if it happens again.

[261f9b4d_K8sIdentity_Identity_expiration_Expiration_of_CiliumIdentity.zip](https://github.com/cilium/cilium/files/4885321/261f9b4d_K8sIdentity_Identity_expiration_

[2020-07-07 14:10] #12284 closed

[2020-07-07 14:13] nebril commented on #12439
Let's wait a bit if it happens on master again, this seems new.

[2020-07-07 14:16] nebril opened #12444 "K8sServicesTest Checks ClusterIP Connectivity Checks service on same node"
This happens on GKE (couldn't find any occurences on Packet):

[code]

https://jenkins.cilium.io/job/Ginkgo-CI-Tests-Pipeline-GKE/1253/testReport/junit/Suite-k8s-1/14/K8sServicesTest_Checks_ClusterIP_Connectivity_Checks_service_on_same_node/
https://jenkins.cilium.io/job/Ginkgo-CI-Tests-Pipeline-GKE/1223/testReport/junit/Suite-k8s-1/14/K8sServicesTest_Checks_ClusterIP_Connectivity_Checks_service_o

[2020-07-07 14:26] nebril opened #12445 "K8sHealthTest checks cilium-health status between nodes"
[code]

https://jenkins.cilium.io/job/cilium-master-K8s-all/348/testReport/junit/Suite-k8s-1/17/K8sHealthTest_checks_cilium_health_status_between_nodes/
https://jenkins.cilium.io/job/Ginkgo-CI-Tests-k8s1.18-Pipeline/641/testReport/junit/Suite-k8s-1/18/K8sHealthTest_checks_cilium_health_status_between_nodes/
https://jenkins.cilium.io/job/Ginkgo-CI-Tests-k8s1.18-Pipeline/672/testReport/junit/Suite-k

[2020-07-07 14:52] nebril commented on #11395
The original jenkins link expired, there has been a similar failure in non-GKE CI run recently: https://jenkins.cilium.io/job/cilium-ginkgo/job/cilium/job/master/5271/testReport/junit/Suite-k8s-1/18/K8sHubbleTest_Hubble_Observe_Test_L3_L4_Flow/

it was caused by failing to pull images from dockerhub.

[2020-07-07 14:56] nebril commented on #8945
@brb do you think this was fixed then? Let's monitor.

[2020-07-07 15:02] nebril commented on #11313
Seems like this is still happening very rarely:
https://jenkins.cilium.io/job/Ginkgo-CI-Tests-k8s1.18-Pipeline/639/
https://jenkins.cilium.io/job/cilium-ginkgo/job/cilium/job/master/5149/
https://jenkins.cilium.io/job/cilium-ginkgo/job/cilium/job/master/5205/

logs from last build:
[42cb51c4_K8sServicesTest_Checks_service_across_nodes_with_L7_policy_Tests_NodePort_with_L7_Policy.zip](https://githu

[2020-07-07 15:03] nebril commented on #10118
Hit here: https://jenkins.cilium.io/job/cilium-ginkgo/job/cilium/job/master/5149/testReport/junit/Suite-k8s-1/18/K8sServicesTest_Checks_service_across_nodes_with_L7_policy_Tests_NodePort_with_L7_Policy/

[2020-07-07 15:05] nebril commented on #10538
This seems to be resolved.

[2020-07-07 15:05] #10538 closed

[2020-07-07 15:20] nebril commented on #11741
Closing, didn't see this happening since we added retries.

[2020-07-07 15:20] #11741 closed

[2020-07-07 15:24] nebril commented on #11867
Last fail in which this happened: https://jenkins.cilium.io/job/cilium-ginkgo/job/cilium/job/master/5170/testReport/junit/Suite-k8s-1/18/K8sServicesTest_Checks_service_across_nodes_with_L4_policy_Tests_NodePort_with_L4_Policy/

[926078a9_K8sServicesTest_Checks_service_across_nodes_with_L4_policy_Tests_NodePort_with_L4_Policy.zip](https://github.com/cilium/cilium/files/4885699/926078a9_K8sServicesT

[2020-07-07 15:27] nebril commented on #11213
Didn't see this happening in quarantine pipelines for 3 weeks

[2020-07-07 16:09] tgraf commented on #11646
KIAM was one prominent use case for this feature. I agree that going forward, demand for KIAM redirect will shrink.

I think pursuing this still makes sense though outside of the KIAM use case. There are many more examples where redirect a known VIP to a node-local port is useful.

We can support this with a CRD or via CNPs to allow redirecting certain connections to a local node port.

[2020-07-07 19:06] henrysfx opened #12447 "Loss of network connectivity between pods with ipsec enabled and ip xfrm state anti-replay oseq maxed out at 0xffffffff"
## Bug report

**General Information**

- Cilium version (run `cilium version`): 1.7.5
- Kernel version (run `uname -a`): 4.14.127+
- Orchestration system version in use (e.g. `kubectl version`, Mesos, ...): Server v1.14.10-gke.36

**Relevant output from `ip -s x s`**

_BEFORE** (connection refused is expected, just to show bi-directional connectivity):_
[code]

_AFTER (now hangs, ESP response pac

[2020-07-07 20:11] nicolerenee commented on #11802
I have updated to 1.8.1 and it looks like I'm having issues with traffic all around now. Services are not responding 100% through the ingress controller, especially if the pod is on a node that isn't the same node as the ingress controller is on.

It looks like I was mistaken when I said it wasn't an issue when running with kube-proxy. It is present in both configurations, it's just after making t

[2020-07-07 20:33] borkmann commented on #10067
(The same/similar cleanup would be needed for XDP side.)

[2020-07-07 20:35] borkmann commented on #10067
@brandshaide Do you have a rough ETA for when you plan to work on it? Thx

[2020-07-07 20:43] borkmann commented on #11802
Thanks a lot for this info, appreciate the help on debugging! With regards to `I have verified that the ping packets are leaving node A and arriving at node B but still being dropped`. Could you provide a sysdump for this node or the output of `cilium metrics list | grep drop` as well as `cilium monitor` when this is occuring?

[2020-07-07 21:28] christarazi opened #12448 "cilium-operator performs cloud operations non-atomically"
This issue is for tracking any operations that the cilium-operator might do non-atomically which may result in leaving stale cloud resources, e.g. dangling ENIs. This has come to light as we consider [making cilium-operator HA](https://github.com/cilium/cilium/pull/12409), which has some implications for cilium-operator instances changing from leader to follower (non-leader).

Follow up from https

[2020-07-08 01:07] jrajahalme commented on #11767
Right, DNS proxy is required to gain visibility to name->address mapping, as the packets subjected to policy enforcement only carry addresses, not DNS names.

[2020-07-08 02:14] jrajahalme opened #12452 "CI: Suite-k8s-1.14.K8sHubbleTest Hubble Observe Test {L3/L4, L7} Flow (with hubble-relay)"
Hubble-relay POD is in crashloop backoff in GKE.

[code]

[code]
[cb97cbd7_K8sHubbleTest_Hubble_Observe_Test_L3-L4_Flow.zip](https://github.com/cilium/cilium/files/4888046/cb97cbd7_K8sHubbleTest_Hubble_Observe_Test_L3-L4_Flow.zip)

[2020-07-08 07:36] brb commented on #8945
Unfortunately, there is one more case - https://github.com/cilium/cilium/issues/8945#issuecomment-635342529.

[2020-07-08 10:17] nebril commented on #11640
I would say that this is done by our smoke tests now, closing the issue.

[2020-07-08 10:18] brandshaide opened #12454 "Proxy redirect issue when running Cilium on top of Calico (CNI-Chaining)"
## Bug report

**General Information**

pod-to-external-fqdn-allow-google-cnp is failing when running Cilium on top of Calico using `CNI chaining`

- Cilium version: 1.8.1 & 1.7.6
-  tested with `minikube` 1.8.2 and RKE

**How to reproduce the issue**

1. `minikube start --network-plugin=cni --memory=4096`
2. deploy Calico (tested with v. 3.13.4)
3. follow instructions for `CNI Chaining` as descri

[2020-07-08 11:21] errordeveloper commented on #11640
@nebril I think it's still not early enough, I was implying the we should run `go test -c`.

[2020-07-08 11:26] brandshaide commented on #10067
@borkmann i planned to start on this the next week (13.07. - ...) , would that be OK...?

[2020-07-08 11:42] gandro commented on #12452
Looking at the `hubble-relay` pod logs, it looks like it cannot reach out to the Hubble gRPC TCP port on the host:

[code]

The listener itself seems active:
[code]

Likely the same root cause as #11718 , where a pod is unable to access a port on the host network.

[2020-07-08 12:10] #8971 closed

[2020-07-08 12:23] borkmann commented on #10067
Sounds good thanks!

[2020-07-08 17:17] mvisonneau opened #12460 "agent: fatal error: concurrent map writes"
## Bug report

Scaling out the amount of nodes of a kubernetes cluster, some of the cilium agent (~18%) failed on the first run with the following error : `fatal error: concurrent map writes`. They all seemed to be working fine after the very next automated restart of the agent process.

at first sight, the error seems quite similar to https://github.com/cilium/cilium/issues/8278

**General Inform

[2020-07-08 17:50] tklauser commented on #12460
Thanks for the report. I think I spotted the issue and will send a PR shortly.

[2020-07-08 17:52] jrajahalme commented on #11313
Fixed by #12248

[2020-07-08 17:52] #11313 closed

[2020-07-08 17:53] jrajahalme commented on #10118
Fixed by #12248

[2020-07-08 17:53] #10118 closed

[2020-07-08 17:56] jrajahalme commented on #11313
All these runs were started before #12248 was merged.

[2020-07-08 18:02] jrajahalme commented on #11867
This build was started before the fix in #12248 went in.

[2020-07-08 18:03] jrajahalme commented on #11867
Fixed by #12248

[2020-07-08 18:03] #11867 closed

[2020-07-08 18:19] jrajahalme commented on #8945
@brb @nebril  Fixes of two bugs that have caused these errors have been merged since all of these cases:

- #12248 (Fixes #12241) - socket match rule matched all UDP packets destined to the DNS proxy listening port regardless of source or destination IP address (or source port). Replies were lost if the source port number of the original request on one node was the same as the DNS proxy listening

[2020-07-08 18:20] jrajahalme commented on #8945
Fixed by #12248 and/or #11899, closing.

[2020-07-08 18:20] #8945 closed

[2020-07-08 18:22] jrajahalme commented on #10669
Fixed by #12248, closing.

[2020-07-08 18:22] #10669 closed

[2020-07-08 18:30] jrajahalme commented on #12127
@nebril This was run before the fix in #12248 was merged. To verify, I checked and found thousands of lines of this in cilium agent logs:
[code]
In the above the port 38341 is the DNS proxy listening port, and 69 is the TFTP server port.

In the testds-udp logs we find:
[code]
i.e., three attempts for "hello" from the source port 38341, replies to which were intercepted by the DNS proxy.

[2020-07-08 18:31] jrajahalme commented on #12127
Fixed by #12248, closing.

[2020-07-08 18:31] #12127 closed

[2020-07-08 18:35] jrajahalme commented on #12281
Cilium agent logs have this:
[code]
and thousands of these:
[code]
So this was fixed by #12248, closing.

[2020-07-08 18:35] #12281 closed

[2020-07-08 18:48] jrajahalme commented on #12336
This is a different problem than what was fixed in #12248 (which was backported here).

Curl returns `72`:
[code]

In this test 10 curl commands are run from the same source port. According to logs the TFTP server is getting 10 requests, but apparently the 10th curl is receiving a TFTP transfer ID in reply that it did not send in the request. The Curl commands should run sequentially, so it should

[2020-07-08 19:06] jrajahalme commented on #12336
(hopefully) fixed by: #12462

[2020-07-09 02:49] danwent opened #12465 "CRD-based Identity Garbage Collection by Cilium-Operator broken on 1.6.9 and 1.6.10"
Observed behavior is that a config where the CRD-identity GC runs and works fine on 1.6.8 does not result in the CRD-identity GC running at all in 1.6.9 and 1.6.10.

Logs from 1.6.8 show crd-identity-gc running:

[code]

Logs with 1.6.9 or 1.6.10 do not even with the exact same config.

Simplest explanation would be that it is caused by this 1.6.x backport:

https://github.com/cilium/cilium/commit

[2020-07-09 03:10] #10528 closed

[2020-07-09 08:13] aanm commented on #12324
@alex1989hu PodSecurityPolicy will be removed from Kubernetes https://github.com/kubernetes/kubernetes/pull/90603 so we will remove its support in Cilium as well. Feel free to open a new GH issue if you see other isses.

Regarding this, I have noticed that `hostPort` is automatically added for all container ports of pods that are running in host network.

[2020-07-09 08:13] #12324 closed

[2020-07-09 08:15] qmonnet opened #12467 "checkpatch: Package checkpatch.pl in a container image"
As suggested by @errordeveloper in https://github.com/cilium/cilium/pull/11936#issuecomment-651664828, we should package checkpatch inside an image, and avoid keeping it in Cilium's repo as a huge script that is not written in any of the language that are common to the project, or otherwise directly related to Cilium's sources. Instead, it would be a concern of the image-tools repo to either downl

[2020-07-09 08:29] sayboras opened #12468 "psp: remove changes related to psp"
As mentioned in https://github.com/cilium/cilium/pull/11140#issuecomment-655980389, we might need to do some clean up related to psp in codebase

[2020-07-09 09:58] #10478 closed

[2020-07-09 11:58] tgraf opened #12471 "Timeout of status probe is not represented in status output"
When a probe times out:
[code]

The previous status is still reported:
[code]

This gives a wrong impression

[2020-07-09 12:04] #12132 closed

[2020-07-09 13:10] borkmann commented on #12116
@dghubble Fixed via #12446. For testing feel free to use `docker.io/cilium/cilium:latest` for the time being until it ends up in `1.8.2`. Thanks for reporting!

[2020-07-09 16:42] JieJhih commented on #11916
I can take this. Please assign it to me.

[2020-07-09 16:51] JieJhih commented on #11379
I can take this. Please assign it to me.

[2020-07-09 17:08] aanm commented on #11916
Thanks!

[2020-07-09 17:09] aanm commented on #11556
@vladdy any update?

[2020-07-09 18:23] joestringer commented on #7123
My high level take is that Cilium would benefit from moving the entire loader logic into Golang, to avoid recent situations like https://github.com/cilium/cilium/issues/12070 (which was a regression due to introducing map-handling logic into the Go side where it was previously only handled by iproute2/tc in the shell scripting) and also to improve code structuring, unit testing, integration betwee

[2020-07-09 18:33] joestringer commented on #10979
@brandshaide sorry, missed your earlier comment. I've assigned you.

[2020-07-09 18:43] joestringer commented on #11885
@qmonnet I was thinking of a commandline argument which that commit alludes to, but sounds like it was not merged.

So likely one would need to use `cilium config Debug=Enabled`, yes. Thanks for the reference.

If this doesn't work, please file an issue with full set of steps to reproduce the issue.

[2020-07-09 18:43] #11885 closed

[2020-07-09 18:59] #12057 closed

[2020-07-09 21:40] joestringer commented on #12367
Dropped backport labels as it looks like the PR was already backported; refer to the related PR #12380 for more details.

[2020-07-09 22:17] christarazi commented on #12141
Ran into this while working on https://github.com/cilium/cilium/pull/12482

[2020-07-09 23:18] vladdy commented on #11556
@aanm, sorry for the delay. I'll start looking into this tomorrow. Btw, is there a way to replicate your tests?

[2020-07-10 00:47] joestringer commented on #12416
`DebugMsg` has some interesting aspects:
1. No such messages are generated by default. It requires specific configuration to enable. As of v1.8.0, this involves directly invoking `cilium endpoint config ...` to enable the messages (though I suspect we'll reintroduce a global commandline argument to enable datapath debug soon, just to ease introspection in dev environments).
1. The order of magnitu

[2020-07-10 00:56] jrajahalme opened #12485 "CI: Two tests running on same GKE cluster stomping on each other"
There is evidence in [GKE build 1790](https://jenkins.cilium.io/job/Cilium-PR-K8s-GKE/1790) that another test build has started to interfere with the same cluster. Output from an failing test indicates that Istio PODs have just been deployed in the middle of an unrelated test:
[code]
Note the running time of the istio-system PODs: 1-22 seconds.

Istio test in this test run starts 1.5 hours later:

[2020-07-10 01:00] #12336 closed

[2020-07-10 05:36] joestringer commented on #11379
@JieJhih Thanks, assigned.

[2020-07-10 09:30] olemarkus opened #12489 "Failing k8s e2e test:: [sig-network] Services should be able to switch session affinity for NodePort service [LinuxOnly]"
## Bug report

Kops master switched to using BPF/kubeproxy-free and this test started failing.
https://testgrid.k8s.io/kops-network-plugins#kops-aws-cni-cilium

See also #11302

Note that this issue is a part of conformance suite as of k8s 1.19.

[2020-07-10 09:53] pchaigno opened #12491 "CI: K8sPolicyTest: Enforces connectivity correctly when the same L3/L4 CNP is updated: cannot get the revision"
https://jenkins.cilium.io/job/Cilium-PR-K8s-oldest-net-next/1161/testReport/Suite-k8s-1/11/K8sPolicyTest_Basic_Test_Validate_CNP_update_Enforces_connectivity_correctly_when_the_same_L3_L4_CNP_is_updated/
[7855aab6_K8sPolicyTest_Basic_Test_Validate_CNP_update_Enforces_connectivity_correctly_when_the_same_L3-L4_CNP_is_updated.zip](https://github.com/cilium/cilium/files/4902365/7855aab6_K8sPolicyTest

[2020-07-10 09:55] #11895 closed

[2020-07-10 09:59] nebril commented on #12485
I think I found what happened there. https://jenkins.cilium.io/job/Cilium-PR-K8s-GKE/1789/ ran with older version of `lock.yaml` file, which was created in `default` k8s namespace, which caused this build to think that the cluster is not locked (the second build looked for the lock in `cilium-ci-lock` ns). This might happen with older, non-rebased prs, but I don't think there is anything to be don

[2020-07-10 10:06] #12460 closed

[2020-07-10 10:18] brb commented on #12489
Thanks for the report. Do you happen to have `cilium status` output from the test run? If not, what is exact cilium configuration you deploy?

[2020-07-10 10:35] olemarkus commented on #12489
Unfortunately, the K8s e2e system doesn't let me access the cluster directly. But the default config looks like this:
[code]

[2020-07-10 10:47] brb commented on #11885
IMO we should add a flag, as setting `cilium config Debug=Enabled` on each node is cumbersome. Also, `cilium config Debug=Enabled` is currently not documented in the Troubleshooting doc.

[2020-07-10 10:49] brb commented on #12063
Closing in favor of https://github.com/cilium/cilium/issues/12317.

[2020-07-10 10:49] #12063 closed

[2020-07-10 13:50] #12468 closed

[2020-07-10 14:11] tklauser commented on #12423
Regarding benchmarking: we have quite some `testing.B`/`gocheck.C` based benchmark unit tests in our code base:

[code]

It would be nice to run these as part of the nightly tests as well in order to find regressions.

[2020-07-10 14:56] mvisonneau commented on #12460
awesome, thanks for the fix @tklauser! 🙇

[2020-07-10 17:00] kstiehl commented on #10402
I run into the same problem

[2020-07-10 17:23] aanm commented on #11556
@vladdy I notice this when running Cilium on a large cluster and I think you can easily achieve this by manually faking the creation of a lot of CiliumNodes objects in Kubernetes (`kubectl get ciliumnode -o yaml`) which have different IPs and names among each other.

[2020-07-10 19:30] joestringer commented on #12465
Fixed by #12496.

[2020-07-10 19:30] #12465 closed

[2020-07-10 20:12] aditighag opened #12499 "Improve cilium status KubeProxyReplacement output"
In the probed partial kube-proxy-replacement mode, the individual feature state (e.g., hostPort) in the output of 'cilium state' is ambiguous.

:
KubeProxyReplacement:   Partial   ()   []
:

We can explicitly print out what features are enabled in the partial mode so that there is no ambiguity.

[2020-07-10 20:30] joestringer opened #12501 "v1.6 upgrade docs preflight upgrade is malformed"
The instructions in this section of the upgrade guide (on `v1.6` branch) are not rendered correctly, with all three approaches presented rather than a group-tab.

https://docs.cilium.io/en/v1.6/install/upgrade/#running-pre-flight-check-required

This should look more like the equivalent v1.7 page:

https://docs.cilium.io/en/v1.7/install/upgrade/#running-pre-flight-check-required

[2020-07-11 00:11] joestringer commented on #12374
This was resolved by reworking the v1.7 branch to no longer pull `bpf-next` version of `bpftool` into the runtime image; Furthermore @jrfastab submitted a fix for the underlying issue upstream.

We should not observe this again.

[2020-07-11 00:11] #12374 closed

[2020-07-11 00:40] #11172 closed

[2020-07-11 03:40] #3044 closed

[2020-07-11 03:40] #6566 closed

[2020-07-11 03:40] #8208 closed

[2020-07-11 03:40] #9935 closed

[2020-07-11 03:40] #10266 closed

[2020-07-11 03:40] #9902 closed

[2020-07-11 19:43] errordeveloper commented on #12423
@tklauser good point!

Just to be clear, in this context "benchmarking" refers to a system that would allow one to view and analyse/compare performance metrics. Whether the metrics are implemented as Go teat benchmarks, or whatever else, is a separate matter. The primary thinking had been around storing Prometheus metrics that Cilium exposes, but there various other sources that are not to be over

[2020-07-11 21:20] weikinhuang opened #12503 "Issues with dns "Timeout waiting for response to forwarded proxied DNS lookup" after enabling dns visibility"
## Bug report

I'm seeing general issues with dns after enabling the tofqdn-dns-visibility.

Asked for help here: https://cilium.slack.com/archives/C1MATJ5U5/p1594496566463000, but unable to solve it.

**General Information**

- Cilium version: `v1.8.1`
- Kernel version: `Linux n002 5.4.0-41-generic #45-Ubuntu SMP Fri Jul 3 10:57:47 UTC 2020 x86_64 x86_64 x86_64 GNU/Linux`
- Orchestration system v

[2020-07-12 01:37] #11204 closed

[2020-07-12 02:45] johngmyers commented on #12489
Kubernetes recently tightened the conformance test that's failing here in kubernetes/kubernetes#92427

[2020-07-12 07:46] sayboras commented on #12201
FYI. The original issue is happening for 1.8+ and master branch as well.

I used the some set of flags as mentioned in previous comment, with one additional `--set global.autoDirectNodeRoutes=true`, otherwise coredns pod in worker node is not able to start up. Connectity check failed for node port cases though. I will investigate further, appreciate if you have any pointers. Thanks.

PS: I am doin

[2020-07-13 06:26] pchaigno opened #12507 "CI: RuntimePrivilegedUnitTests: Network timeouts in DNSProxyTestSuite"
### In DNSProxyTestSuite.TestRespondMixedCaseInRequestResponse
https://jenkins.cilium.io/job/Cilium-PR-Runtime-4.9/1169/testReport/(root)/Suite-runtime/RuntimePrivilegedUnitTests_Run_Tests/
[3453a9a3_RuntimePrivilegedUnitTests_Run_Tests.zip](https://github.com/cilium/cilium/files/4910902/3453a9a3_RuntimePrivilegedUnitTests_Run_Tests.zip)

[code]

### In DNSProxyTestSuite.TestRejectNonMatchingRefus

[2020-07-13 08:43] brb commented on #11462
The warning https://github.com/cilium/cilium/issues/10256 has been fixed.

[2020-07-13 08:43] #11462 closed

[2020-07-13 08:48] brb commented on #12201
@sayboras Could you check drop counters on all nodes? `cilium metrics list | grep drop_count`.

[2020-07-13 09:02] brb commented on #12499
`KubeProxyReplacement: Partial () []` means that no kube-proxy replacement feature was enabled.

Are you suggesting to print each feature status, i.e. `enabled` or `disabled`?

[2020-07-13 09:04] sayboras commented on #12201
Oh right, we have built-in metric as well

<details>
<summary>Control plane</summary>

[code]

</details>

<details>
<summary>worker node</summary>

[code]

</details>

[2020-07-13 09:19] brb commented on #8557
Closing due to inactivity.

[2020-07-13 09:19] #8557 closed

[2020-07-13 09:28] brb opened #12508 "Add support for --nodeport-addresses"
https://kubernetes.io/docs/concepts/services-networking/service/#nodeport:

Also, the flag could be used to extend the kube-proxy replacement device detection.

[2020-07-13 09:55] brb commented on #12503
@weikinhuang Thanks for the issue.

- Does `10.2.4.252` belong to a pod?
- Can you attach sysdump? https://docs.cilium.io/en/stable/troubleshooting/#automatic-log-state-collection

[2020-07-13 12:37] nebril opened #12511 "CI: K8sServicesTest Checks fails with "Can not connect to service X from outside cluster""
[code]

https://jenkins.cilium.io/job/Ginkgo-CI-Tests-k8s1.11-Pipeline/727/testReport/junit/Suite-k8s-1/11/K8sServicesTest_Checks_service_across_nodes_Tests_NodePort_BPF_Tests_with_direct_routing_Tests_with_secondary_NodePort_device/

https://jenkins.cilium.io/job/Ginkgo-CI-Tests-k8s1.11-Pipeline/724/testReport/junit/Suite-k8s-1/11/K8sServicesTest_Checks_service_across_nodes_Tests_NodePort_BPF_Tes

[2020-07-13 12:37] nebril commented on #12511
Adding a log dump from one of the builds:
[c8b8f8ac_K8sServicesTest_Checks_service_across_nodes_Tests_NodePort_BPF_Tests_with_direct_routing_Tests_with_secondary_NodePort_device.zip](https://github.com/cilium/cilium/files/4912437/c8b8f8ac_K8sServicesTest_Checks_service_across_nodes_Tests_NodePort_BPF_Tests_with_direct_routing_Tests_with_secondary_NodePort_device.zip)

[2020-07-13 14:44] Jianlin-lv opened #12512 "CI: Travis failed on arm64: TestShuffle FAIL"
CI failure Link:
https://travis-ci.com/github/cilium/cilium/jobs/359548956#L13718

[code]

[2020-07-13 15:10] aditighag commented on #12499
Per Slack conversation, yes, that's what I had in mind.

[2020-07-13 15:15] kvaster opened #12513 "Cilium does not correlate endpoints with service"
Cilium does not correlate endpoins with service when endpoints are manager 'manually' (i.e. by operator). Bug was found when I was experimenting with zolando postgresql operator - operator creates service without selector and later creates endpoint to postgresql master. And it's ok for kubernetes according to [docs](https://kubernetes.io/docs/concepts/services-networking/service/#services-without-

[2020-07-13 15:27] jrajahalme opened #12514 "Rate limit and/or postpone named port collision warning log"
Cilium 1.8 issues log warnings on collisions between POD port names even across namespaces. This is due to potential use of named ports in egress policies, which could lead to incorrect policy if the destination port name cannot be uniquely mapped to a port number. Cilium policy processing abstracts egress policy destinations to a security ID that can represent multiple PODs, leading to a requirem

[2020-07-13 15:44] tgraf commented on #10324
The issue has been identified. Packets are being dropped because of asymmetric routing, replies of NodePort traffic are not routed out the correct interface.

[2020-07-13 16:20] pchaigno commented on #12037
I'm not sure what was the rationale to disallow configuration of endpoints with reserved labels, so went ahead and submitted a PR to allow the following configs only:

Config                    | Default  | Can modify
--------------------------|----------|------------
Conntrack                 | Enabled  |
ConntrackAccounting       | Enabled  |
ConntrackLocal            | Disabled |
Debug

[2020-07-13 16:36] pchaigno opened #12516 "Reject Cilium network policies with unknown fields"
Every once in a while, we spend time debugging policy issues with users where the cause end up being a malformed Cilium network policy (usually an YAML indentation problem). These happen because we don't reject policies with unknown fields.

In https://github.com/cilium/cilium/pull/11638#issuecomment-634949368, @christarazi mentioned that we would need to set `preserveUnknownFields: false` to fix

[2020-07-13 16:53] pchaigno commented on #12516
I took a first stab at this.

Adding `preserveUnknownFields: false` itself is trivial:
[code]
Loading most policies then fails because our schema doesn't cover the `Description` field. We thus need to add a `JSONSchemaProps` for the description. Also trivial.

At this point, all policies I tried loaded fine, but their `status` section was missing in `kubectl describe` because we don't have a schem

[2020-07-13 17:50] kvaster commented on #12513
It seems that there is no k8s pod name defined for such endpoint. I can see following message in logs:

[code]

[2020-07-13 19:02] Weil0ng commented on #11976
I wouldn't mind taking a stab at this if no one is on it :)

[2020-07-13 19:23] pchaigno commented on #11976
Awesome! I assigned you. As usual, don't hesitate to reach out on Slack or here if you need help/pointers.

[2020-07-13 19:58] lzang opened #12518 "Conntrack table doesn't get cleared up promptly during load test."
## Bug report

**General Information**

- Cilium version (run `cilium version`): 1.8.0 + loadbalancer cluster local fix. I expect the same issue can be reproduced on master HEAD.
- Kernel version (run `uname -a`) 4.19

**How to reproduce the issue**

1. Run a load test by creating a large number of http connections from multiple client pods to a server pod.
    The tool I am using is https://githu

[2020-07-14 00:02] #12125 closed

[2020-07-14 06:30] ungureanuvladvictor commented on #12297
@EPinci did you get a chance to look at my previous comment ?

[2020-07-14 07:38] EPinci commented on #12297
@ungureanuvladvictor, apologies, I had health issues and couldn't followup.

I checked your comment and my test cluster has, indeed, been created with `--enable-managed-identity`.
The system identity is not enabled and, IMHO, shouldn't be enabled due to the multiple user identities assigned by default.
I think that the design, in here, should be to have a dedicated user identity as all the other s

[2020-07-14 09:43] Skarlso commented on #10324
Hi @tgraf! Sorry to chime in here, but quick question. Is it problematic, or totally expected that with identity 2 in those logs there are internal IP addresses instead of what is expected to be external ones since it's marked as identity 2, which is coming from the `world`?

[2020-07-14 09:50] brb commented on #12513
@kvaster Thanks for the report. Do you plan to work on this?

[2020-07-14 09:55] mrostecki commented on #11874
More details about the core issue: it happens, because HTTP status is usually `nil` before the new node gets bootstraped. Health client then considers the node as "unreachable", here:

https://github.com/cilium/cilium/blob/8c9539205edc25dc06aebe2d38e6f1dd6320b3cf/pkg/health/client/client.go#L152-L160

I think that the fix should be:
- considering PathStatus with `nil` members (`PathStatus.(Icmp|HT

[2020-07-14 09:59] kvaster commented on #12513
I'm trying to investigate a problem right now, but will have to spend some time to learn internals. At least dev environment is working and problem is reproduced in vbox vagrant.

[2020-07-14 09:59] tgraf commented on #10324
That is on purpose, Cilium has special logic to differentiate between:
* Real local traffic from the local node
* NodePort or similar traffic that came in from the outside (world) and was then SNATed to ensure symmetric routing

Cilium strictly decouples addressing and identity whenever possible as due to network forwarding requirements, NAT is required and will break deriving identity from addres

[2020-07-14 10:18] #11379 closed

[2020-07-14 10:19] brb commented on #12518
Thanks for the report.

- What is your CT GC interval setting (`conntrack-gc-interval`)? It would be good to know your whole configuration.
- Did you hit a case when the CT maps became full?
- There are different lifetime values for different flow types. E.g. for `CT_SERVICE` the default is 21600s (6h; grep for `CTMapEntriesTimeoutSVCTCP`). Was the stress testing tool accessing the server pod via

[2020-07-14 10:20] Skarlso commented on #10324
Thank you for the response! :)

[2020-07-14 10:29] #12084 closed

[2020-07-14 10:34] nyrahul commented on #4016
@tgraf @jrfastab @evan2645 I am interested in doing this integration and have compiled some thoughts in the attached slides. Would be great to get some initial feedback and to understand if something basic is amiss. The primary point is the handling of Cilium's Identity value and mapping it to SPIFFE ID.

[SPIFFE Integration to Cilium.pdf](https://github.com/cilium/cilium/files/4918177/SPIFFE.Inte

[2020-07-14 15:54] kvaster commented on #12513
Problem is related to endpoint slices. With enable-k8s-endpoint-slice: 'false' it works. It seems that k8s does not send such endpoint updates in slice mode.

[2020-07-14 15:55] #12512 closed

[2020-07-14 16:30] brb opened #12523 "No mark in cilium monitor output"
In some cases, log messages in `cilium output` produced by bpf_host do not contain mark which makes it difficult to correlate packets. E.g.:
[code]

[2020-07-14 19:36] #11248 closed

[2020-07-14 19:36] #11212 closed

[2020-07-14 19:36] #11278 closed

[2020-07-14 19:36] #11277 closed

[2020-07-14 21:14] Weil0ng commented on #11976
hmm...so I messed up several bpf progs (bpf_lxc.c, bpf_network.c, bpf_sock.c) and then ran e2e with following cmd

[code]

The tests failed in roughly 12min, I actually don't see retries of log collection, am I missing something?

[2020-07-14 22:12] tgraf commented on #4016
@nyrahul This looks awesome and is aligned with what we have discussed previously.

To address the questions mentioned in the slide "Cilium Identity Handling":

This concept is intentional and not outdated. There is no practical overhead but a massive advantage: by validating each packet, changes to network policy are applied mid-connection. This is important for long-lived or persistent connectio

[2020-07-14 22:26] Weil0ng commented on #12518
seems like for both service and non-service, the defaults are same (6h)?
https://github.com/cilium/cilium/blob/master/daemon/cmd/daemon_main.go#L681

[2020-07-14 23:09] Weil0ng commented on #12518
I can reproduce this and it seems for my setup the problem is the following:

- Datapath updates timeout just fine, I see entries with lastTxReport=4400 and expires=4410, which is expected.
- It seems like GC never kicks in soon enough because GC has already been dynamically configured to run only after some 38min because previous low deletion ratio, hence **although datapath hints at deletion aft

[2020-07-15 01:37] ungureanuvladvictor commented on #12297
Thank you for the detailed response @EPinci. From what I can see Cilium is handling the retrieval of credentials as expected (either by a user supplying them or Cilium getting them via IMS).

The question boils more down to what scoped permissions are needed for the `cilium-operator` to work as expected, right? As to how those credentials are supplied to the `cilium-operator` it is up to the manag

[2020-07-15 07:02] kvaster commented on #12513
Seems this is not cilium bug. This is kubernetes bug. `kubectl get endpoitslices` have no corresponding resources to endpoint created manually.

[2020-07-15 09:52] #11540 closed

[2020-07-15 09:56] errordeveloper opened #12530 "blog about new multi-platform images images"
- document how to test it
- outline the new image build infra

[2020-07-15 10:08] pchaigno commented on #11976
I think that's because you broke it enough that the preflight check fails :smile:

I managed to reproduce locally by making the following change.
[code]
I then ran:
[code]
That diff makes Cilium fatal because the combination of options `remoteNodeIdentity=false` and `hostFirewall=true` isn't currently supported. The test suite then spends 40 minutes from the moment it fails, to the actual end of t

[2020-07-15 10:17] tgraf opened #12531 "Unable to enqueue endpoint policy visibility event"
Seeing errors like this for each new pod:
[code]

[2020-07-15 13:28] #11994 closed

[2020-07-15 15:00] #12005 closed

[2020-07-15 15:41] nathanjsweet commented on #12518
@Weil0ng can you confirm what your `conntrack-gc-interval` for your latest reproduction of this error is?

[2020-07-15 17:27] Weil0ng commented on #12518
It is not explicitly set, so should be the default value 0.
Also double checked log, GC interval dynamically changing in the log (for the same cluster, it is >7h now that I left the cluster idle overnight).

[2020-07-15 18:14] anfernee opened #12538 "Implement garbage collection for mcast manager"
## Proposal / RFE
When `--enable-ipv6-ndp` is specified, cilium tracks the endpoint's IPv6 address, and join mcast group for their node solicitation multicast address. The mcastmanager did it based on events. If the mcast address failed to be removed for whatever reason, the multicast address will become stale. The problem will go away after restarting cilium-agent.

**Is your feature request rela

[2020-07-15 18:26] Weil0ng commented on #11976
Thanks! This is very helpful! I indeed introduced compilation errors and preflight failed.

While I'm retrying with your example, I'm trying to understand the issue better:

- so if the problem occurs in the log collection phase in AfterFailed(), then prefight fail should also trigger the same issue?
- also I'm looking at the log collection code, it seems like it has a deadline of 10min (https://g

[2020-07-15 19:56] pchaigno commented on #11976
I don't know why exactly the bugs you injected didn't trigger this issue. I just had noticed that it wasn't happening for all Cilium fails. My intuition here is that maybe the bugs you injected made the tests fail so early that there weren't any corresponding `AfterFailed()` to execute.

I don't know. Maybe the issue is that this context isn't properly passed to called functions for log gathering.

[2020-07-15 20:02] pchaigno opened #12541 "Host firewall doesn't work with portmap CNI chaining"
The host firewall currently doesn't work with portmap chaining. This limitation is related to the fact that we redirect traffic from pods to remote nodes through a tunnel when the host firewall is enabled.

Setting both `global.hostFirewall=true` and `global.cni.chainingMode=portmap` results in connection breakage, probably due to some masquerading issue. Packets are not dropped by the host firewa

[2020-07-15 20:05] pchaigno opened #12542 "Host firewall doesn't work with kube-proxy + externalTrafficPolicy=Local"
Enabling the host firewall breaks `externalTrafficPolicy=Local` services when using kube-proxy. This limitation is related to the fact that we redirect traffic from pods to remote nodes through a tunnel when the host firewall is enabled.

To reproduce the bug, one can comment the following line in e2e tests: https://github.com/cilium/cilium/blob/f55ec9066e3a23461a0d14e20b3be8ab49a04c97/test/k8sT/S

[2020-07-15 20:17] joestringer opened #12543 "Clarify docs for kubeProxyReplacement disabled vs.partial"
Per discussion in SIG-datapath:

https://docs.cilium.io/en/v1.7/gettingstarted/kubeproxy-free/?highlight=kube-proxy-replacement

There are two sections here that state that "v1.6 or earlier" or "pre-v1.6" behaviour can be implemented by either setting `kubeProxyReplacement` to disabled or partial. We should pick one to minimize confusion for users.

(The above link is v1.7, I didn't look whether v

[2020-07-15 21:04] christarazi opened #12544 "BPF-masq unexpectedly SNATs replies to outside"
Follow up from https://github.com/cilium/cilium/pull/12482.

See https://github.com/cilium/cilium/pull/12482#discussion_r454691162.

[2020-07-15 21:07] joestringer commented on #12513
@kvaster do you need to create an `endpointslice` resource instead of an `endpoint` resource in that case?

[2020-07-15 21:10] ungureanuvladvictor commented on #12297
@EPinci I think the following are the scoped perms you need to provide to the `cilium-operator` in order to work as expected:
[code]

They should be provided on the resource group that hosts the VMSS, VMSS VMs and the VNET. Also if you are deploying self managed nodes you need to give those perms on the RG which hosts those nodes.

I did not test these perms in an EKS cluster -- extracted them by

[2020-07-15 21:10] joestringer commented on #12518
Feels like this is WAE (code-wise) but less ideal? Thoughts?

This is the impression I get. I understand the high-level concern iff large numbers of CT entries could cause some kind of forwarding issue, however on any recent kernel (ones with LRU map) even if the CT table is full, old CT entries will just be removed rather than getting a "conntrack table full, dropping packet" type behaviour.

The

[2020-07-15 21:12] ungureanuvladvictor commented on #12297
@bpineau I know you are running Cilium on AKS + self managed nodes. What perms are you giving to the `cilium-operator` when deploying it?

[2020-07-15 21:16] joestringer opened #12545 "Host firewall with kube-proxy enforces policy on service addresses"
Cilium v1.8

When Cilium defers service translation to kube-proxy, it applies the host firewall logic before the service translation (DNAT) to backend endpoints, so the firewall applies to all such services rather than applying to the backend endpoints like the policy would with `kubeProxyReplacement` fully enabled. The general position of Cilium policy enforcement is to apply service translation

[2020-07-15 23:11] Weil0ng commented on #11976
oki, I think the problem is the following:

- Test failed, calls `CiliumReport()` in `AfterFailed()`
- `CiliumReport()` tries to execute https://github.com/cilium/cilium/blob/master/test/helpers/cons.go#L317 in `reportMapContext()`
- `reportMapContext()` loops over all the cmds and calls ExecInPods(**wait=true**) synchronously, each with a 4min timeout

I'm trying to rerun the test with **wait=fal

[2020-07-16 01:43] #11297 closed

[2020-07-16 05:52] brandshaide commented on #12454
Additionally applying L7 rules seems to have no effect at all.

Steps to reproduce:
Follow L7 Example [here](https://docs.cilium.io/en/stable/gettingstarted/http/#apply-and-test-http-aware-l7-policy)
`kubectl exec tiefighter -- curl -s -XPUT deathstar.default.svc.cluster.local/v1/exhaust-port`

**Expected result**
L7 rule being applied, Access being denied in this example

**Actual result**
`cURL`

[2020-07-16 06:35] rbtcollins opened #12551 "GRPC/H2 hotspot mitigation"
Consider a stateless GRPC service with a horizontal pod autoscaler configuration, combined with asymmetric workloads. That is, clients cause the stateless service to do much more work per request than the clients perform in submitting the request.

When a client triggers scale-up of the service, because of the sticky H2/GRPC connection, the client stays on the original connection, and its load is

[2020-07-16 08:45] pchaigno commented on #11976
See my answer in #12547. In short, I'm thinking that maybe we only need to set `wait=true` the first time we call `ExecInPods()`. So we would go from a 40min wait, to a 4min wait when Cilium didn't deploy correctly.

[2020-07-16 09:04] borkmann commented on #11802
@nicolerenee Any new debugging data that might help narrowing this issue down?

Also, would you be able to test a custom image?

[2020-07-16 12:05] rolinh opened #12554 "Add a Github action to verify that every commit in a PR compiles on its own"
The contributing guide makes the following statement [here](https://docs.cilium.io/en/latest/contributing/development/contributing_guide/#submitting-a-pull-request):

When rebasing a PR with multiple commits; it's tedious to checkout each commit and ensure the code builds fine. I propose to investigate if it's feasible to have a GitHub action that would do exactly this: checkout and build every co

[2020-07-16 12:30] #12037 closed

[2020-07-16 13:12] brb commented on #12542
Is this for LB translations happening in bpf_lxc, or bpf_sock is also affected?

[2020-07-16 14:27] bmcustodio commented on #9402
We are hitting this issue with kernel

[code]

We'll attempt an upgrade to `kernel-5.4.46-23.77.amzn2.x86_64` to see if it fixes itself.

[2020-07-16 14:34] borkmann commented on #9402
Hmm, do you have some more debug info? Any idea if the Amazon Linux 2 kernel git tree is public somewhere to check?

[2020-07-16 14:34] borkmann commented on #9402
cc @qmonnet

[2020-07-16 14:36] bmcustodio commented on #9402
@borkmann hmmm no, I have no idea... all I know is that I've upgraded the kernel and restarted the node and the issue has seemingly gone away. There's also currently no other node suffering from it.

[2020-07-16 14:42] nicolerenee commented on #11802
I needed to get the cluster up and running so I have to move back to calico for the time being. But I will pull calico out and put cilium in place again to get this data. Give me a few days.

Happy to test with any image you'd like also.

[2020-07-16 14:49] borkmann commented on #9402
Ok, meaning you've seen this once on 5.4.46-23.77.amzn2 but other instances with the same kernel seemed to be fine. Also reboot seemed to have 'fixed' the issue, correct?

[2020-07-16 14:53] bmcustodio commented on #9402
No, not really, I've seen it with `5.4.38-17.76.amzn2.x86_64`. _Upgrading_ to `5.4.46-23.77.amzn2`(and subsequently rebooting) is what seems to have fixed the issue.

[2020-07-16 15:05] qmonnet commented on #9402
Thanks Daniel for the Cc. It could be either the perf `mlock()` accounting or the lockdown thing that might have been backported between the two kernel versions maybe? (Although I thought Amazon was not using secure boot and so was not impacted by kernel lockdown?). Hard to say for sure without additional info.

[2020-07-16 15:27] pchaigno opened #12555 "CI: K8sDatapathConfig MonitorAggregation Checks that monitor aggregation restricts notifications hits CI job timeout of 3 hours"
https://jenkins.cilium.io/view/PR/job/Cilium-PR-K8s-newest-kernel-4.9/1185/
[75bc68be_K8sDatapathConfig_MonitorAggregation_Checks_that_monitor_aggregation_restricts_notifications.zip](https://github.com/cilium/cilium/files/4932364/75bc68be_K8sDatapathConfig_MonitorAggregation_Checks_that_monitor_aggregation_restricts_notifications.zip)
https://jenkins.cilium.io/view/PR/job/Cilium-PR-K8s-newest-ker

[2020-07-16 15:32] pchaigno commented on #12555
When reproducing locally, I'm able to see the ICMPv4 messages in the `cilium monitor` logs. Maybe the real issue is that `cilium monitor` wasn't fully started yet when we sent the ping and it's therefore missing in output? See https://github.com/cilium/cilium/issues/9330#issuecomment-576481804 in a previous flake on the same test.

[2020-07-16 17:29] christarazi commented on #6728
Seen again in https://github.com/cilium/cilium/pull/12536

https://jenkins.cilium.io/job/Cilium-PR-Ginkgo-Tests-K8s/3312/

[2020-07-16 17:30] christarazi commented on #12445
Is this a duplicate of https://github.com/cilium/cilium/issues/6728?

[2020-07-16 17:40] wizard580 opened #12557 "Cilium 1.8.1 CNI mode in EKS, pod scheduled to the nodes with 0 allocate-able IPs."
**General Information**

- Cilium version: 1.8.1
- Kernel version: idk, one provided by EKS.
- Orchestration system version in use: Kubernetes 1.16.x (latest in EKS for 1.16)

**How to reproduce the issue**

Makefile
[code]

cluster.yaml
[code]

when all 3 nodes have enough resources and allocate-able IPs everything works fine.
What we did - installed tiny Grafana+Prometheus stack and connectivity

[2020-07-16 17:41] joestringer opened #12558 "Use value receivers rather than pointer receivers for simple types"
Files like `pkg/policy/api/cidr.go` define functions on the `cidr` using a pointer receiver, but as a general style guidance for simple types like these we should make use of value receivers:

https://golang.org/doc/faq#methods_on_values_or_pointers

[2020-07-16 17:56] Weil0ng commented on #12518
Thanks Joe for the update! I agree that signaling control plane with a list of to-delete entries sounds like the most plausible way, but wouldn't it also need another map? also is the point that then GC can run more frequently given that it does not iterate the entire ct table every time?

[2020-07-16 18:07] ungureanuvladvictor commented on #12557
Hey @wizard580, I think this is due to the fact that `t3.medium` has just 3 ENIs and each ENI can have 6 IPs (https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/using-eni.html#AvailableIpPerENI). When you launch the machine eth0 gets created and then the 1st IP on eth0 belongs to the machine so that leaves 17 IPs for Cilium to use which matches the # of pods you had.

Overall the problem is that

[2020-07-16 18:37] joestringer commented on #12555
I'm not sure if this was observed before, but it seems to me that this behaviour coincides with hitting the 3h timeout in CI which implies that we're not detecting that the test takes a long time. (I'd do a trivial check of the log to confirm but it's 2.2GB and causes java heap space issues on jenkins + known to crash browsers so .... well even that by itself is probably a signal that our testing

[2020-07-16 18:45] joestringer commented on #12555
A few points:

* There's obviously the core issue itself of why we don't find the ICMPv4 message in the output. That may the same long-running issue in #9330.
* We output `cilium monitor -vv` and this causes a lot of output to be generated. Do we need `-vv` to inspect packet contents or would `-v` or even no verbosity be sufficient to validate that the ICMP flows are seen?
* The test itself should

[2020-07-16 18:52] wizard580 commented on #12557
That's why I wrote `(t3.medium can host 3x6 - 1 pod)`. 1 IP reserved.

How more ENIs can solve problem? Just less chances to run into the issue if microservices are not really micro?
Hoping that CPU/Mem/Other constraints will come first so pod will not be scheduled on the node? I'm not sure it's real solution in any meaning.
Or I misunderstood.

[2020-07-16 19:42] mvisonneau commented on #12557
I believe the issue you are encountering is due to the fact that by default Cilium do not allocate IP addresses on the first ENI. Therefore only allocates 12 out of the 18 IP available. However, your kubelet is probably configured to schedule up to 17-18 pods.

You either need to set the `first-interface-index: 0` on the Cilium side to let it leverage all ENIs. Otherwise, ensure that your kubelet

[2020-07-16 20:00] joestringer commented on #12518
Most likely the way this would be implemented is by sending each 5tuple of an entry that will need to be deleted 'soon' into the existing 'signals' map (though we could alternatively use a special dedicated map for this purpose). Then yeah with the given set of 5tuples that are likely to need cleanup, we could come up with some more tailored heuristics in userspace for thresholds and scheduling ch

[2020-07-16 20:17] pchaigno commented on #12555
I tried adding a small sleep after the call to start `cilium monitor` as follows, but that doesn't seem to have any effect. The bug still happens, and about as frequently.
[code]

[2020-07-16 20:44] pchaigno commented on #12555
I attached the complete logs to the issue (after a few fights with GitHub). Looking at them, the test that fails only takes 8min and 31s. So maybe the builds takes so long because of some issue during log collection afterwards, maybe caused by the huge `ciium monitor -vv` dump.

[2020-07-16 22:20] joestringer commented on #12555
Ah... many of the messages are `from-network`. I believe this is a regression due to #12245.

[2020-07-16 22:52] joestringer commented on #12555
I believe that we basically induced this behaviour by causing monitor notifications to be sent & processed & logged for every single packet coming into the node, which I would expect to significantly increase load on the system. Depending on what else is going on in the system, this could potentially cause too many `from-network` messages to be logged such that either (1) The ringbuffer overflows

[2020-07-16 22:57] joestringer commented on #8426
Update: The above fix should be part of the upcoming v1.8.2 release or later releases.

[2020-07-16 23:10] joestringer commented on #4129
I doubt that we're going to put too much more attention into the remaining task in the issue description around providing a more informative view into the CIDR policy in the endpoint API since we rarely use that to debug and by this point we're somewhat familiar with what the output looks like anyway, so we may as well close out this issue. The support is now merged and is planned for inclusion in

[2020-07-16 23:10] #4129 closed

[2020-07-16 23:25] timricese opened #12560 "Cilium 1.8.1 + metallb BGP, incoming traffic to externalIP not reaching pods"
## Bug report

After upgrading from 1.7.6 (without any configuration changes other than enabling hubble) to 1.8.1 a large amount (80%+) of requests to nginx-ingress and istio-gateway ingresses from outside the cluster time out.

`cilium monitor --drop` shows no sign of anything being dropped

tcpdump on the external interfaces (eth0) revealed that connections were only reaching the pods if the tra

[2020-07-17 00:05] joestringer opened #12561 "Monitor Aggregation for connections does not work with host firewall"
The host firewall does not respect the `monitor` parameter to the `ct_lookup[46]()` functions, it simply gathers it and discards, for example:

https://github.com/cilium/cilium/blob/f55ec9066e3a23461a0d14e20b3be8ab49a04c97/bpf/lib/host_firewall.h#L268
https://github.com/cilium/cilium/blob/f55ec9066e3a23461a0d14e20b3be8ab49a04c97/bpf/lib/host_firewall.h#L300-L301

This means that even with `monitor

[2020-07-17 01:08] joestringer opened #12562 "bpf_host "to-host" prog sends TRACE_TO_STACK prematurely with host firewall enabled"
When host firewall is disabled, the `send_trace_notify()` call here is correct as it's the last thing to be done before handing the traffic to the stack.

https://github.com/cilium/cilium/blob/f55ec9066e3a23461a0d14e20b3be8ab49a04c97/bpf/bpf_host.c#L976-L980

However, if host firewall is enabled, then it's possible that the packet will be dropped due to the firewall, in which case the semantics of

[2020-07-17 01:09] joestringer commented on #12562
I noticed this while working on BPF_TPROXY so unless someone else has a clear idea of particularly the second aspect here, I will likely take a look into this issue.

[2020-07-17 01:32] blairw-brk opened #12564 "Strange performance issue"
My test environment:

k8s: 1.8.5; cilium : 1.7.6/1.8.1
worker nodes: centos 8 + kernel 5.7.8

Test tools : iperf3

Test Results:

The throughput of two directions have big difference.

I'm new to k8s and cilium, and I'm not sure if this is a issue. Please help me.

[2020-07-17 01:39] blairw-brk commented on #12564
The cilium was installed with option global.kubeProxyReplacement=strict.

kubectl get pods -n kube-system :

 NAME                                  READY   STATUS    RESTARTS   AGE
 cilium-fk2ss                          1/1     Running   0          19h
 cilium-hv7q6                          1/1     Running   2          19h
 cilium-ls92q                          1/1     Running   0          19h
 ci

[2020-07-17 07:18] brb commented on #12564
- Did you see any retransmissions in iperf?
- What is your setup? Baremetal or VM? What NICs etc?
- If you set `global.kubeProxyReplacement=disabled`, does it make a difference?
- Have you tried using direct routing instead of tunnel?

[2020-07-17 07:31] haraldsk opened #12569 "Add support for configuring the "labels" key in the cilium configmap through Helm"
## Proposal

When deploying Cilium through Helm it should be possible to configure the `labels` option in the cilium-config configmap, used by the agent for filtering [identity relevant labels](https://docs.cilium.io/en/latest/concepts/scalability/identity-relevant-labels/#configuring-identity-relevant-labels).

**Is your feature request related to a problem?**

Frameworks for scheduling data job

[2020-07-17 07:34] brb commented on #12513
@kvaster Thanks for the update. Have you verified that the issue is fixed with k8s 1.19? Anyway, closing this issue as it's unrelated to Cilium.

[2020-07-17 07:34] #12513 closed

[2020-07-17 08:13] blairw-brk commented on #12564
1. sorry, It's my fault. I use the k8s 1.18.5, not 1.8.5. :(
2. the number of retransmissions from iperf is very small

Bad performance:

root@nginx-at-0-6b76ff8665-dckdt:/# iperf3 -c 10.0.0.48
Connecting to host 10.0.0.48, port 5201
[  5] local 10.0.1.96 port 57058 connected to 10.0.0.48 port 5201
[ ID] Interval           Transfer     Bitrate         Retr  Cwnd
[  5]   0.00-1.00   sec   340 MByte

[2020-07-17 08:46] #12306 closed

[2020-07-17 09:17] borkmann commented on #12564
Does the master node have the same? Can you get `ethtool -k <dev>` dump to check whether gro/gso/tso is potentially off on some of the devs on the nodes?

[...]

The last two data-points are definitely needed for comparison.

Also if you could get additionally a sysdump from the three test nodes that would help (https://docs.cilium.io/en/v1.8/troubleshooting/#reporting-a-problem).

[2020-07-17 09:31] brb commented on #12560
@timricese Thanks for the issue. It seems that you are running with the BPF-based masquerading, and it's combination with kube-proxy does not support your use case.

Could you verify whether running Cilium with `config.bpfMasquerade=false` fixes the issue? Also, it would be interesting to know whether running w/o kube-proxy, but w/ BPF masquerading works in your case.

[2020-07-17 09:40] blairw-brk commented on #12564
* The master node is Ubuntu server 20.04 + kernel 5.4.0
* I've checked the gro, gso, tso , all been enabled on all the cluster nodes.
    only a little difference, one NIC is X710 (worker-node-0), the tx-tcp-ecn-segmentation is on.
    but for the other two 82599s, this option is off.
* sysdump in the attachment.
[cilium-sysdump-20200717-093227.zip](https://github.com/cilium/cilium/files/4936931/c

[2020-07-17 09:49] brb commented on #12544
The test which caught the bug is doing the following:

1. Add a route from outside to podCIDR via node.
2. Sends request to a podIP from outside.
3. A reply (SYN-ACK) gets masqueraded by BPF-masq.
4. The client @ outside drops the reply.

The problem is that the BPF-masq doesn't check whether a packet (podIP -> outside) is a reply, and does SNAT regardless. One possible fix is to consult CT to see

[2020-07-17 10:38] wizard580 commented on #12557
@mvisonneau  TBH I can't figure out how to configure cilium to set up this `first-interface-index` rather than manually edit resource for each node. Can you give me a hint?

[2020-07-17 10:39] wizard580 commented on #12557
and a small question why Cilium ignores first ENI? Is it generic issue with cilium or specific to some env which became default everywhere?

[2020-07-17 10:42] mvisonneau commented on #12557
You can refer to https://github.com/cilium/cilium/issues/10426#issuecomment-609415599

It is done as is for security reasons. Having the node management network distinguished from the pods one. This allows you to have different security groups for the nodes and the pods.

[2020-07-17 11:07] wizard580 commented on #12557
Hm... actually makes sense! Thanks!

[2020-07-17 12:02] borkmann commented on #9402
Might be worth checking stable commits if there is anything in between `5.4.38` and `5.4.46` that is BPF related.

[2020-07-17 12:19] JigneshVasoya3292 opened #12571 "coreDNS pod fails when cilium is chained with weave"
## Bug report

**General Information**

- Cilium version (run `cilium version`) : 1.8.1
- Kernel version (run `uname -a`) : Linux jvasoya-HP 5.3.0-62-generic #56~18.04.1-Ubuntu SMP Wed Jun 24 16:17:03 UTC 2020 x86_64 x86_64 x86_64 GNU/Linux
- Orchestration system version in use (e.g. `kubectl version`, Mesos, ...) :
minikube v1.10.1
kubernetes version : client 1.18.5, server 1.18.2
- Link to relev

[2020-07-17 12:38] brb commented on #12503
Setting `global.nativeRoutingCIDR=10.2.0.0/16` should prevent from the masquerading which should resolve the drops happening due to no mapping being available.

[2020-07-17 12:44] #12555 closed

[2020-07-17 12:59] timricese commented on #12560
Hi!

Can confirm that config.bpfMasquerade=false fixes the issue!

I would be happy to try without kube-proxy but the https://docs.cilium.io/en/v1.8/gettingstarted/kubeproxy-free/ guide recommends for >1.16 installing without kube proxy (aka `kubeadm init --skip-phases=addon/kube-proxy`), .. would it still be advisable to remove kube-proxy  as documented for kubernetes <1.15 like this? ```kubectl

[2020-07-17 13:02] brb commented on #12560
Yes, that would work too. Just make sure that you run the `iptables-restore <(iptables-save | grep -v KUBE)` cmd on each node. Thanks.

[2020-07-17 13:26] eleblebici commented on #11263
We have had the same problem. Re-installed cluster with kube-proxy. Installed cilium with the parameter `--set global.kubeProxyReplacement="partial"` and not enabled any of `    --set global.hostServices.enabled=false \
    --set global.nodePort.enabled=false \
    --set global.externalIPs.enabled=false \
    --set global.hostPort.enabled=false \`

So we did not make kube-proxy replacement and we

[2020-07-17 13:35] wizard580 commented on #12557
While I'm experimenting I'd like to offer to make some changes on the cilium side:
- if there less scheduleable pods than configured in kubelet (can be detected at runtime afaik) - adjust to what is smaller. this will keep your security reasons in place and will make networking and k8s more stable. If I'm not missing soomething
...

[2020-07-17 14:02] sayboras commented on #12201
@brb @Rolinh the issue that I got in smoke test is related to `json-mock` image we have. This server didn't listen to ipv6 localhost https://github.com/cilium/json-mock/blob/master/run.sh#L3, hence that is why connectivity check just failed.

I used my custom image to test it out in https://github.com/cilium/cilium/pull/12565, it seems working fine as expected. Might need your input on how to make

[2020-07-17 14:06] mvisonneau commented on #12557
This is something that would have to happen on the kubelet side though not Cilium I believe 🤔

[2020-07-17 15:57] Jianlin-lv opened #12574 "CI: Travis failed on arm64: TestSpanStatRaceCondition Fail"
CI failure Link:
https://travis-ci.com/github/cilium/cilium/jobs/361628402#L9712

[code]

[2020-07-17 16:51] christarazi commented on #12544
@brb Any idea on why this only occurs on net-next kernels?

[2020-07-17 17:08] timricese commented on #12560
So i managed to remove kube-proxy etc and am testing now with bpfMasquerade=true. Unfortunately not working at all (with kube-proxy it would work if the traffic happened to arrive on the same node where an nginx-ingress pod was running).

tcpdump shows the packets arrive on the node via the interface used for bgp peering

Am now seeing from `cilium monitor --drop` however the following
[code]
the

[2020-07-17 19:24] weikinhuang commented on #12503
This did not help, the issue showed up again after an hour. Nodes were rebooted as well.

[2020-07-18 05:18] wizard580 commented on #12557
Your proposed changes are working so far for me. Thanks!

What I meant (depend on what is easier):
- if it's easier to check amount of schedulable pods/containers on some node - auto-adjust calculations of how many IPs we can allocate.
- if it's easier to instruct kubelet how many pods it should schedule - forward this info from cilium agent...

But I'm a bit doubt about second option..
Maybe I'm

[2020-07-18 05:21] #1812 closed

[2020-07-18 05:21] #9403 closed

[2020-07-18 05:21] #11166 closed

[2020-07-18 05:22] pchaigno commented on #12554
I've had that on my own TODO for a while. If we can get the base commit, it should be fairly trivial with:
[code]
I think it would also be useful to run `make -C bpf build_all` in that setup. That's what I do locally for every PR rebase and it does catch a lot of stuff.

[2020-07-18 08:58] wizard580 commented on #12557
I still feel like exposing, in some way, the info about remaining IPs for the scheduler to use (as you mentioned) or dynamically configure kubelet is needed.
Something which will prevent issues similar to what I had.

Will chat with you guys after next week. Going offline.

[2020-07-19 06:31] sayboras commented on #12201
Connectivity test failed for two pods as mentioned in https://github.com/cilium/cilium/pull/12565. However, I think it's more or less related to kind cluster. I have raised one github issue https://github.com/kubernetes-sigs/kind/issues/1736 to ask for the same.

[2020-07-19 19:28] #11193 closed

[2020-07-20 01:57] blairw-brk commented on #12564
This testing for the setup with kube-proxy
------------------------------------------------------
  * sudo kubeadm init --apiserver-advertise-address=172.11.22.100 --pod-network-cidr=10.217.0.0/16 --node-name=master-node
  * helm template cilium/cilium   --version 1.8.1 --namespace kube-system --set global.hubble.enabled=true > cilium-1_8_1.yaml
     kubectl apply -f ./cilium.yaml

Check running
-

[2020-07-20 02:43] blairw-brk commented on #12564
@borkmann Could you give me a simple guide for how to set up the direct routing mode?
   What value should I configure for the "native-routing-cidr" ?

[2020-07-20 07:20] brb commented on #12544
@christarazi This is because we don't enable the BPF-masq feature on other CI builds (except for 4.19) due to the kernel version constraint.

[2020-07-20 08:05] CXinsect opened #12581 "Cilium Pod Not Ready"
ask for help
k8s has  three nodes ,two of them are on x86 and one is on arm
there is something wrong with cilium on arm ，
At this time I did not compile my local x86 image, I have made the image of arm64 locally
[code]
The yaml is https://github.com/cilium/cilium/blob/master/install/kubernetes/quick-install.yaml

The describe of Pod is :
[code]
The logs are
[code]

Looking forward to reply
update:

[2020-07-20 08:05] borkmann commented on #12564
Did you use the kubeproxy-free GSG:

https://docs.cilium.io/en/v1.8/gettingstarted/kubeproxy-free/

For example:

[code]

What error did you get?

[2020-07-20 08:08] pchaigno commented on #12542
@brb This bug only happens when using kube-proxy; I've updated the original post to clarify that. I haven't had time to investigate further.

[2020-07-20 08:20] brb commented on #11548
@seanmwinn There were some recent changes to the masquerading documentation: https://docs.cilium.io/en/v1.8/concepts/networking/masquerading/. Could you check whether it addresses your concerns in the issue description?

[2020-07-20 09:00] #12278 closed

[2020-07-20 09:25] blairw-brk commented on #12564
blair_wang@test15-ubs:~/kube$ kubectl get pods -n kube-system
NAME                                  READY   STATUS              RESTARTS   AGE
cilium-94t5x                          0/1     CrashLoopBackOff    4          3m15s
cilium-d8hlh                          0/1     CrashLoopBackOff    4          3m15s
cilium-operator-7c7f5b75f9-2jcpr      1/1     Running             0          3m15s
cilium-v

[2020-07-20 09:55] brb commented on #12564
@blairw-brk You need to set it with your podCIDR. Judging from the issue description it's `10.217.0.0/16` (`--set global.nativeRoutingCIDR="10.217.0.0/16"`).

[2020-07-20 10:00] brb commented on #12560
Discussed offline: the problem in the kube-proxy free setup was that the ingress devices were missing in `global.devices`. Setting them fixed the issue.

[2020-07-20 10:00] #12560 closed

[2020-07-20 11:13] pchaigno opened #12585 "Document ingress host policy rules required for new nodes to join the cluster"
When applying host policies on ingress of the master node, it is possible to prevent new nodes from joining the cluster. We should document the minimal rules required to prevent that and always allow new nodes to join.

- [ ] Reproduce problem (with #12591 ~~or with GKE's `--resize`~~)
- [ ] Double check that only access to the master node is required for a new node to join.
- [ ] Iterate on the m

[2020-07-20 12:44] pchaigno opened #12588 "Enforcement status of host policies is incorrect"
Once host policies are loaded, they are always reported as `Enforced` in `kubectl describe ccnp ...`, regardless of whether they match the labels of the given node or whether the host firewall is disabled.

**How to reproduce the issue**

1. `kubectl create -f examples/policies/host/lock-down-ingress.yaml`
2. `kubectl describe ccnp lock-down-ingress`
[code]
If the host firewall is disabled or if t

[2020-07-20 14:29] aanm commented on #12516
@pchaigno we need to address this https://github.com/cilium/cilium/pull/11477 and https://github.com/cilium/cilium/pull/11476 first.

[2020-07-20 14:49] ungureanuvladvictor opened #12593 "Document minimal set of perms needed for the Azure IPAM integration"
Currently in our docs we do not document which set of [Azure API perms](https://docs.microsoft.com/en-us/azure/role-based-access-control/resource-provider-operations) the operator needs to work as expected (we just link some docs on how to create a service user for it).

Usually users give it owner of the subscription which is too powerful and we should be able to give advice on what the minimal s

[2020-07-20 15:26] jrfastab commented on #12454
What I think is going on here, Calico uses mark fields that conflict with Cilium and will change mark values as they are sent to the stack. For Cilium redirect from pop to pod in non-chaining case we use a bpf redirect and skip going to the stack when we know the pod is local. However, in chaining case we use stacks routing table so we let the packet go to the stack. In non-L7 cases we do avoid us

[2020-07-20 16:42] #11641 closed

[2020-07-20 16:54] genbit commented on #12452
I've tried to setup it on GKE manually, and hubble-relay starts as unmanaged pod:
[code]

[2020-07-20 17:02] christarazi commented on #11690
Still occurring in v1.8 backport PR https://github.com/cilium/cilium/pull/12536: https://jenkins.cilium.io/job/Cilium-PR-Ginkgo-Tests-K8s/3320/testReport/junit/Suite-k8s-1/13/K8sDatapathConfig_Etcd_Check_connectivity/

[2020-07-20 17:02] christarazi commented on #12120
Closing in favor of https://github.com/cilium/cilium/issues/11690, as this is a duplicate.

[2020-07-20 17:02] #12120 closed

[2020-07-20 17:16] pchaigno opened #12596 "CI: K8sPolicyTest Multi-node policy test validates ingress CIDR-dependent L4 (FromCIDR + ToPorts) connectivity is restored after importing ingress policy"
https://jenkins.cilium.io/job/Cilium-PR-K8s-oldest-net-next/1273/testReport/Suite-k8s-1/11/K8sPolicyTest_Multi_node_policy_test_validates_ingress_CIDR_dependent_L4__FromCIDR___ToPorts__connectivity_is_restored_after_importing_ingress_policy/
[test_results_Cilium-PR-K8s-oldest-net-next_1273_BDD-Test-PR.zip](https://github.com/cilium/cilium/files/4949093/test_results_Cilium-PR-K8s-oldest-net-next_12

[2020-07-20 17:23] christarazi commented on #12596
Thanks for filing. Yeah it looks like one potential cause could either be what https://github.com/cilium/cilium/pull/12559 fixed, or that `cilium monitor` takes longer than usual to start up, causing us to miss some of the policy verdict logs. However, given that it seems to always be off by 3, it's unlikely that `cilium monitor` starts up slowly in exactly the same time in each flake instance of

[2020-07-20 23:53] #11386 closed

[2020-07-21 01:23] blairw-brk commented on #12564
@brb It's working now, thanks.

But after install cilium with the direct routing setting, the container can't reach each other.
any cluster node can reach any container.

testing result
-----------------

master-node  =>   nginx-1    :  9.4Gb
master-node  <=   nginx-1    :  5.1Gb (iperf3 -c .. -R)

master-node  =>   nginx-0    :  9.4Gb
master-node  <=   nginx-0    :  8.7Gb (iperf3 -c .. -R)

nginx

[2020-07-21 02:07] aditighag commented on #11672
@cortopy Is the "my-ip" in the L7 rule above a cluster IP or an external IP? Have you tried creating an L3+L4 policy [1] to achieve the same?

[1] https://docs.cilium.io/en/v1.8/policy/language/#

[2020-07-21 06:26] pchaigno commented on #12516
@aanm Ah, I thought #11476 was the long term way of getting this. But yeah, if it's not far down the road, makes sense to wait for that to be merged yet. AFAIU, we shouldn't need to wait for #11477 to set `preserveUnknownFields: false` though; #11476 should be enough to get us the required schemas.

[2020-07-21 07:44] EPinci commented on #12297
@ungureanuvladvictor I see, these permissions sound reasonable to me: they probably map to a simplified `Network contributor` to the vnet (likely unique) and `VM Contributor` to the MC_ resource group (to catch all nodepool's VMSSes).

Any idea about selecting a specific UMI for the `cilium-operator`?

Thank you!

[2020-07-21 08:08] brb commented on #12564
Did you pass `--set global.autoDirectNodeRoutes=true`? If yes, maybe your fabric network is dropping packets from unknown subnet which in your case is podCIDR?

[2020-07-21 08:14] tklauser commented on #12581
@CXinsect which steps did you follow to compile your own image?

[2020-07-21 08:16] pchaigno opened #12602 "CI: ci-runtime go tests: IPAMSuite.TestIpamMinAllocate10"
https://travis-ci.com/github/cilium/cilium/jobs/362856283

[code]

<details><summary>Show full test output</summary>

[code]
</details>

[2020-07-21 10:03] CXinsect commented on #12581
I used the multi-arch version of the Dockerfile in the proxy directory to compile the corresponding arm and x86 versions, and used them to build the cilium version under the corresponding architecture. Is there a problem with this construction method?

[2020-07-21 10:23] pchaigno opened #12604 "Enforce host policies at XDP hook"
The host policies are currently only enforced at the tc hook on both ingress and egress, with program `bpf_host.c`. Ideally, we should enforce ingress host policies at the XDP hook when acceleration is enabled. A number of things must happen for this to be possible:

1. [ ] Enable having several datapath programs for a single endpoint. Currently programs for native devices of host endpoint (e.g.,

[2020-07-21 13:01] aanm commented on #12581
@CXinsect do you have kube-proxy running in your node?

[2020-07-21 13:27] pchaigno commented on #12042
Seen again in #12600 even though #12305 was backported to 1.8.
/cc @qmonnet

[2020-07-21 13:40] qmonnet commented on #12042
If nothing else I can keep increasing the timeout (it was at 1s originally, maybe we should restore it to that value). Looks like raising it to 500ms suppressed a lot of flakes already, maybe we just need to be more patient. I'm not sure why it takes so long though, I never went over 300ms during my tests :/.

[2020-07-21 16:14] CXinsect commented on #12581
Yes, they are  normal

[2020-07-21 19:30] Weil0ng opened #12609 "Some backend of cluster IPs never gets picked"
## Bug report

**General Information**

- Cilium version (run `cilium version`):
Client: 1.8.0 bfda356ab 2020-07-14T14:55:21-07:00 go version go1.14.4 linux/amd64
Daemon: 1.8.0 bfda356ab 2020-07-14T14:55:21-07:00 go version go1.14.4 linux/amd64

- Kernel version (run `uname -a`)
Linux gke-test-default-pool-31018309-mqh4 4.19.112+ #1 SMP Thu May 21 12:32:19 PDT 2020 x86_64 x86_64 x86_64 GNU/Linux

[2020-07-21 20:07] christarazi commented on #12516
@pchaigno That's correct. There's multiple layers to this, but the TLDR is:

v1beta1 CRDs can set `preserveUnknownFields: false`, but the CRDs **must also** have a structural validation schema. A structural validation schema is as defined here: https://kubernetes.io/docs/tasks/extend-kubernetes/custom-resources/custom-resource-definitions/#specifying-a-structural-schema It is not trivial to genera

[2020-07-21 23:33] joestringer opened #12612 "Add 'hubble observe' to bugtool"
We should figure out a sane default for adding `hubble observe` to bugtool / sysdump.

[2020-07-22 05:40] CXinsect commented on #12581
The cause of the problem was finally found. I added a proxy to the Dockerfile to make the service unavailable. I am very happy to receive your replies when submitting an issue for the first time.

[2020-07-22 05:40] #12581 closed

[2020-07-22 06:24] jrajahalme opened #12614 "CI: Go-related checks / lint fails to show where the errors are"
golangci-lint fails to show where in the sources the errors are located, and instead dumps a lot of meaningless warnings:
[code]

This would not be a big issue if there was a make target a developer could use to find the ineffectual assignments, but that does not seem to be the case any more.

[2020-07-22 06:24] jrajahalme commented on #12614
@sayboras Can you have a look?

[2020-07-22 06:28] sayboras commented on #12614
@jrajahalme oh right, may I know which build it is. The actual line is currently available in annotation now, there is some discussion going on to make it as comment for more visibility https://github.com/golangci/golangci-lint-action/issues/5

[2020-07-22 06:35] sayboras commented on #12614
I have experimented with review dog recently, here is a quick run https://github.com/sayboras/cilium/pull/215. Errors are visiable in comment :+1:

[2020-07-22 09:13] borkmann commented on #12609
Hmm, I currently cannot reproduce it. I'm having:
[code]
Doing a `curl 10.106.50.93:88` from e.g. host-ns gives (only capturing tcpdump with syn flag below to reduce noise):
[code]
What additional steps am I missing?

[2020-07-22 09:19] brb commented on #12609
@Weil0ng Did you use https://github.com/rakyll/hey to send requests to the svc?

[2020-07-22 12:27] tklauser commented on #8604
Reopening as the DNS poller was deprecated in 1.8 but not removed yet (probably due to the `Fixes` tag in the PR description). See https://github.com/cilium/cilium/pull/10629#pullrequestreview-377460588 and related discussion. It should be removed during the 1.9 cycle.

[2020-07-22 13:28] tklauser commented on #8385
What is the status here? Does this still occur with the latest release 1.8.1?

[2020-07-22 13:36] tgraf opened #12619 "Continuous premature renewal of etcd sessions"
In the event of an etcd connectivity loss spanning into the renewal period of a session, Cilium can get into a situation where the session is constantly being renewed:

[code]

This is happening because the context passed into `NewSesssion` attempting to enforce a timeout is cancelled after the successful creation of the session. Unfortunately, etcd not only binds blocking operations performed by

[2020-07-22 15:58] danwent opened #12620 "Make AWS API endpoint used by cilium-operator configurable"
## Proposal / RFE

cilium-operator need to talk to the AWS API endpoints for things like ENI allocation.

In some scenarios, we may need to talk to custom API endpoints as described in the `Using Custom Endpoints` section here: https://docs.aws.amazon.com/sdk-for-go/v2/api/aws/endpoints/

For example, we might want to use the FIPS endpoints listed here: https://aws.amazon.com/compliance/fips/

[2020-07-22 17:31] Weil0ng commented on #12609
@brb I just did `curl curl-serivce:88` inside pod `server` repeatedly.

[code]
Here's tcpdump on eth0:
[code]

Only `10.76.0.5` and `10.76.0.3` are ever picked.

[2020-07-22 17:35] Weil0ng commented on #12609
Hmmmmm, actually, if I curl with ip instead of service name, aka `curl 10.79.251.71:88` then I cannot reproduce this (all backends get picked as expected).

[2020-07-22 20:30] borkmann commented on #12609
Did you check into the DNS packet whether it returns the svc IP (`10.79.251.71`) or backends from there? I would expect svc IP, but just to make sure.

[2020-07-23 03:07] anfernee commented on #10621
I think what you said makes sense. Are you still working on this issue. If not, I am okay to take it. It's kind of urgent for us.

[2020-07-23 05:56] #11147 closed

[2020-07-23 05:56] #11437 closed

[2020-07-23 05:56] #11436 closed

[2020-07-23 09:50] borkmann commented on #12609
[code]
So works fine on my side. All backends get picked as expected. DNS is returning the svc IP in my case, so no difference to curl'ing directly.

[2020-07-23 12:01] brb opened #12624 "datapath: Pod to remote host bypasses tunnel"
When a packet is sent from a pod netns to a remote host netns in the tunneling mode, the packet is masqueraded and sent directly over a native device instead of being encapsulated and sent over a tunnel.

We should avoid unnecessary masquerading, and send such packets over a tunnel. This would reduce stress on SNAT available mappings, and make the flow consistent with the pod to pod on a remote ho

[2020-07-23 12:52] brb opened #12625 "nat: Some ICMP entries are not GC'd"
While doing some testing with the latest Cilium I've noticed that after running `cilium bpf ct flush global` some ICMP NAT entries were not garbage collected:
[code]

Previously, there was the following CT entry which got removed upon flush:

[code]

[2020-07-23 14:06] #12619 closed

[2020-07-23 14:07] #12042 closed

[2020-07-23 17:35] christarazi opened #12630 "v1.8.2 release"
## Pre-release

- [x] Create a [new project] for the next release version
- [x] Add build targets for the new release on [Docker Hub]
  - All versions:
    - [cilium](https://hub.docker.com/repository/docker/cilium/cilium/builds/edit)
    - [operator](https://hub.docker.com/repository/docker/cilium/operator/builds/edit)
    - [docker-plugin](https://hub.docker.com/repository/docker/cilium/docker-p

[2020-07-23 17:59] Weil0ng commented on #12609
@brb DNS looks good in my setup too:
[code]

But I'm still seeing the issue...trying to add prints along datapath to debug now...

[2020-07-23 19:43] jaygorrell opened #12631 "Fresh install on EKS causes coredns failures (Istio + NodeLocalDNS)"
## Support

I have an EKS cluster using the official eks-cni plugin and Istio (in case that's relevant) and NodeLocalDNS. In order to keep cluster bootstrapping simple (no manual deletion) I wanted to go with the chaining method and followed the instructions on [this](https://docs.cilium.io/en/v1.8/gettingstarted/cni-chaining-aws-cni/) page exactly.

My helm values look like:
[code]

After install

[2020-07-23 21:38] Weil0ng commented on #12609
Kinda have a theory what's going on here:

- bpf_sock is using `bpf_get_socket_cookie` in `sock4_xlate_fwd` to select backend slot
- `bpf_get_socket_cookie` is sequentially incrementing its value (https://elixir.bootlin.com/linux/v4.19.132/source/net/core/sock_diag.c#L30)
- `curl` happens, two sequential rewrites happen:
  * a dns lookup, got socket cookie N
  * subsequent tcp socket got cookie N

[2020-07-23 21:47] Weil0ng commented on #12609
I also checked with different backend counts, as expected, the problem occurs for even number of backends, but not for odd number.

[2020-07-24 05:09] ghouscht opened #12636 "endpointsynchronizer logs Cannot create CEP when ep context was canceled"
## Bug report
See also https://cilium.slack.com/archives/C1MATJ5U5/p1595511711300300

**General Information**

- Cilium version (run `cilium version`)
[code]
- Kernel version (run `uname -a`)
[code]
- Orchestration system version in use (e.g. `kubectl version`, Mesos, ...)
[code]
- Link to relevant artifacts (policies, deployments scripts, ...)
x
- Generate and upload a system zip:
x

In one of ou

[2020-07-24 06:42] brb commented on #12609
@Weil0ng Nice catch! In 4.19 the socket cookie is not global, while in >= 5.3 it is (https://github.com/torvalds/linux/commit/cd48bdda4fb82c2fe569d97af4217c530168c99c). We should use prandom for TCP even if `BPF_HAVE_SOCKET_COOKIE` is set.

[2020-07-24 07:10] brandshaide commented on #12631
this one seems to be related: https://github.com/cilium/cilium/issues/12571

[2020-07-24 08:57] #11976 closed

[2020-07-24 09:38] brb opened #12643 "Add BPF map sizes to "cilium status --verbose""
When the dynamic BPF map sizing feature is used, for debugging, it would be useful to know what are the actual map sizes without asking users to run `bpftool map show pinned ...` or grepping logs of the agent. Perhaps we could incorporate this information into `cilium status --verbose`. /cc @tklauser

[2020-07-24 09:56] #12574 closed

[2020-07-24 11:13] Antiarchitect opened #12645 "hubble-relay: Failed to create gRPC client connection to peer context deadline exceeded"
## Bug report

Hubble configuration:
[code]

hubble-relay: for all of nodes - no exceptions:
[code]

**General Information**

- Cilium version (run `cilium version`)
[code]

- Kernel version (run `uname -a`) (all nodes)
[code]

- Orchestration system version in use (e.g. `kubectl version`, Mesos, ...)
[code]

- Generate and upload a system zip:
[code]
https://gofile.io/d/GTuJGW

[2020-07-24 11:13] Antiarchitect commented on #12645
BTW, I do not see 4244 open on cilium daemonset pods

[2020-07-24 12:09] jaygorrell opened #12647 "Timeouts on EKS with Istio Ingress Gateway"
## Support

I have an EKS cluster using the official eks-cni plugin and Istio with mTLS. In order to keep cluster bootstrapping simple (no manual deletion) I wanted to go with the chaining method and followed the instructions on [this](https://docs.cilium.io/en/v1.8/gettingstarted/cni-chaining-aws-cni/) page exactly.

My helm values look like:
[code]

After installing I restarted the Istio Ingress

[2020-07-24 12:11] jaygorrell commented on #12631
I tried this again without hitting this particular issue. My only guess is that the EKS AMI is on a 4.x kernel and part of our userdata script updates everything and I can see k8s change the kernel to 5.x. Perhaps the first time, I had a node that was still on 4.x and incompatible.

I'll close this one but if you see a similar issue consider looking at #12571 above.

The next issue in my journey i

[2020-07-24 12:33] gandro commented on #12645
Thanks for the report! We did observe similar issues with unmanaged hubble-relay instances https://github.com/cilium/cilium/issues/12452#issuecomment-661185023 (which would indicate a bug in the way we deploy hubble-relay). Could you confirm the following:

1. Check if the hubble-relay pod [is managed by Cilium](https://docs.cilium.io/en/v1.8/troubleshooting/#ensure-pod-is-managed-by-cilium)?
[cod

[2020-07-24 12:46] gandro commented on #12645
What exactly do you mean by that? It is true that 4244 is absent from the container ports of the cilium-agent pod spec, but since cilium-agent runs in the host namespace, that should not impact connectivity.

A few things to try:

Can you access port 4244 directly from the cilium-agent pods, e.g.:
[code]

Do you have pod-to-host access, e.g. does the connectivity check pass and port 4244 is not bl

[2020-07-24 13:25] Antiarchitect commented on #12645
[code]

From host:
[code]
Cannot check from hubble-relay as image does not contain bash, ash or sh

[2020-07-24 15:34] #12631 closed

[2020-07-24 16:36] glibsm opened #12656 "hubble/metrics: Add protocol labels to `flows_processed_total`"
Unlike the drop metric, this one is not annotated with protocol.

There may be others that we want to include the protocol on as well.

[2020-07-24 18:29] #12630 closed

[2020-07-24 20:47] #12609 closed

[2020-07-25 04:29] #10743 closed

[2020-07-25 04:29] #11458 closed

[2020-07-25 04:29] #11256 closed

[2020-07-25 04:29] #10731 closed

[2020-07-25 06:26] srinathhs opened #12662 "node-port-acceleration for kernel bonded device"
## Proposal / RFE

**Is your feature request related to a problem?**
We have cilium setup on bare metal kubernetes cluster. The physical 10g Intel NIC's are bonded (static rr) for failover,
I am unable to set node port acceleration for bond0 as it is not yet supported.

**Describe the solution you'd like**

[2020-07-25 12:29] #11444 closed

[2020-07-25 13:11] aanm opened #12664 "Unable to run cilium-agent --help"
[code]

This happen because the user started cilium with root privileges which created the directory `/home/vagrant/.config/gops` with the user `root`:
[code]

By having this directory with `root`, we can no longer start `cilium-agent` as a regular user.

To fix this we should not initialize `gops` when the using `--help`

[2020-07-25 13:16] aanm opened #12665 "Document labels flag with examples"
Add documentation for the labels flag with examples, the upsides (the ability to decrease the cardinality of labels) and the downsides (modifying labels at runtime might code a lot of identities churn due the fact that all endpoints will probably have to regenerate a new identity for the new filter).

[2020-07-25 13:16] #12569 closed

[2020-07-25 19:29] #11432 closed

[2020-07-25 20:29] #11486 closed

[2020-07-25 20:29] #11492 closed

[2020-07-26 16:27] #11521 closed

[2020-07-27 06:52] ArthurChiao commented on #12625
Hi @brb  any progress on this issue?

As discussed in slack, I noticed a similar problem: there are tons of (should-be-GC-ed ?) ICMP NAT records on my node, which summed up to `360K+` entries. Those entries are created several hours or even longer ago:

[code]

* Cilium: 1.7.4
* Kernel: 4.19.118 mainline

[2020-07-27 06:56] ArthurChiao commented on #12625
The difference from yours is that, according to my test (just tested one node), these entries could be deleted by running `cilium bpf nat flush`. But the problem is that `flush` will break all existing connections?

[2020-07-27 06:58] ArthurChiao commented on #12625
Another phenomenon: i disabled `enable-health-check` and `enable-endpoint-health-check` on some nodes, but `cilium bpf nat list` shows that those nodes still actively do health checks to other nodes, thus still generating ICMP NAT entries.

[2020-07-27 08:07] brb commented on #12662
@srinathhs Could you share 1) your devices (`ip l`), 2) what cilium configuration did you use, 3) what exactly failed (probably cilium pod logs)?

[2020-07-27 08:17] brb commented on #12625
The fix is coming soon, but first I want to extend the CT unit tests.

Yes, it will break the existing connections which require SNAT (i.e. those which src IP/port was changed).

Did you check that the health check packets are sent (e.g. tcpdump). Maybe they are leftover from previous health checks?

[2020-07-27 08:18] christianhuening commented on #9589
@brb 👍

[2020-07-27 08:26] ArthurChiao commented on #12625
The ICMP packets could be captured with tcpdump. And double checked that they are not previously left by flushing the NAT entries and monitoring the NAT entry count.

Cilium status:

[code]

@brb

[2020-07-27 09:56] brb commented on #12625
Please create a separate issue for disabling `enable-health-check` and `enable-endpoint-health-check`.

[2020-07-27 10:00] ArthurChiao commented on #12625
Got it.

[2020-07-27 10:09] brb commented on #9776
Currently, the service provisioning (in particular, https://github.com/cilium/cilium/blob/v1.8.2/pkg/k8s/service.go#L62) ignores the `ipFamily` field in a `Service` object. This is not a problem for `ClusterIP` services, as kube-apiserver will decide on its own whether to create IPv4 or IPv6 service representation (see https://kubernetes.io/docs/concepts/services-networking/dual-stack/#services fo

[2020-07-27 10:51] ArthurChiao opened #12678 "enable-health-check and enable-endpoint-health-check not working"
## Bug report

**General Information**

- Cilium version: 1.7.4
- Kernel version: 4.19.118 ml
- Orchestration system version: k8s v1.17.6

**What Is Expected**

Disable `enable-health-check` and `enable-endpoint-health-check`, restart cilium-agent, then the agent should stop inserting ICMP NAT entries into BPF NAT map.

**What Is the Reality**

* cilium-agent still performs health-checking and ins

[2020-07-27 10:56] ArthurChiao commented on #12678
I'd appreciate if someone guides me digging into this problem.

[2020-07-27 11:17] #12664 closed

[2020-07-27 11:24] hightoxicity opened #12679 "Unable to have connectivity on GKE from control plane to pods with kube-proxy replacement enabled"
## Support

Hi,

We have cilium 1.8.1 deployed into a private GKE cluster and we have some admissions webhooks + control plane that can not reach a pod IP, this is also the case from metrics server that is in-box with GKE.
The control plane is setup on 172.16.0.0/28 (managed by GKE), nodes on 10.1.0.0/20 and pods on 10.233.64.0/18, firewall rules (GCP fw rules) are setup from the control plane sub

[2020-07-27 12:24] aanm commented on #12588
@pchaigno The logic should not be the one that what you are expecting. Similarly, a CNP will state "Enforcing: true" even if there are not endpoints that are being selected by such policy. The "Enforcing: true" field represents that a policy is currently being enforced in the agent, i.e., it's _acknowledged_ in the datapath regardless of its selection.

[2020-07-27 13:12] pchaigno commented on #12588
@aanm I see. Thanks for the clarification. Would it still make sense to report `false` if the host firewall is disabled?

[2020-07-27 13:37] aanm commented on #12588
@pchaigno it won't be worth it, for example, a single CCNP can have multiple policy rules in it and only one of those rules be a host network policy, should "Enforce" be set to `true` or `false`?

[2020-07-27 13:48] pchaigno commented on #12588
AFAIK, a CCNP cannot have both host policies and pod policies because you can only have one of `nodeSelector` or `endpointSelector`.

[2020-07-27 14:33] nathanjsweet commented on #11344
`AppProtocol` in K8s was implemented to solve an annotation issue. Specifically ensuring that cloud-providers, etc could properly provision external resources for services at the application level (for example ensuring that L7 load-balancers are provisioned for a port). These types of problems were solved by annotations, but the per-port mapping that many users wanted could only be achieved clumsi

[2020-07-27 14:33] #11344 closed

[2020-07-27 15:02] hightoxicity commented on #12679
Here is some details about my cilium helm deployment:

[code]

[2020-07-27 15:08] aanm commented on #12679
@hightoxicity what's the output of `kubectl get pods --all-namespaces -o wide`?

[2020-07-27 15:11] hightoxicity commented on #12679
[code]

[2020-07-27 15:16] hightoxicity commented on #12679
If I set:

It repairs connectivity between GKE control plane and POD ips

[2020-07-27 15:25] brb commented on #12679
@hightoxicity What was `cilium status` before you disabled the kube-proxy replacement?

[2020-07-27 15:52] brb opened #12686 "nat: Orphan entries in NAT table"
If the (LRU) CT table gets full, then an eviction of CT entry upon insert of a new entry won't trigger removal of NAT, and such entries won't be removed by the CT GC. To avoid from leaking entries, we should scan the NAT map and remove orphan entries.

Merging the CT and NAT maps or implementing LRU callbacks in the kernel would be a long term fix.

[2020-07-27 16:30] hightoxicity commented on #12679
[code]

[2020-07-27 16:37] hightoxicity commented on #12679
Connectivity test result:

[code]

[2020-07-27 18:11] #11511 closed

[2020-07-27 18:40] joestringer commented on #10645
I have an Ubuntu 20.04 development machine that I use, where I run microk8s.

I've installed Cilium v1.8.1:
[code]

It's running systemd 245:
[code]

Here's the config (I don't recall whether I modified these, but they seem consistent with the case where connectivity was not working for you:

[code]

Interestingly it seems to be set to 0, although I've rebooted this machine recently:
[code]

I not

[2020-07-27 20:26] nberlee commented on #10645
I will try 1.8.2 tomorrow evening, but I just tested it on 1.7.6 and it is still broken.

Also 1.7.6 seems to have the same interface specific line:
[code]
my systemd version right now:
[code]
picking a random lxc interface:
[code]
pinging an outside destination ip.
[code]
(it works fine with my 90-override.conf described in the second post of this issue)

Maybe Ubuntu 20.04 has a different `/usr/

[2020-07-27 23:29] joestringer commented on #8385
If this were not assigned to @mrostecki , it otherwise would have been closed "stale" several months ago. It's likely that this has been addressed in a subsequent release. If you observe similar behaviour, please file a new bug with reference to this bug, with full details of how you reproduce the issue.

[2020-07-27 23:29] #8385 closed

[2020-07-28 02:54] ArthurChiao commented on #12678
Further captured the ICMP packets, and found that those ICMP NAT entries are resulted from **replying health-checks from other nodes** (health check `enabled` nodes).

So assured that if disable these two options for an agent, there will be no health check packets originated from the agent.

[2020-07-28 02:54] #12678 closed

[2020-07-28 08:30] aanm opened #12690 "CI: K8sServicesTest Checks service across nodes Tests NodePort BPF Tests with direct routing Tests with secondary NodePort device: Exitcode: 42"
[code]

https://jenkins.cilium.io/job/Cilium-PR-K8s-1.12-net-next/30/testReport/junit/Suite-k8s-1/12/K8sServicesTest_Checks_service_across_nodes_Tests_NodePort_BPF_Tests_with_direct_routing_Tests_with_secondary_NodePort_device/

[fd3841ce_K8sServicesTest_Checks_service_across_nodes_Tests_NodePort_BPF_Tests_with_direct_routing_Tests_with_secondary_NodePort_device.zip](https://github.com/cilium/cili

[2020-07-28 08:34] #11874 closed

[2020-07-28 11:13] trynity commented on #11532
Both this and the other linked issue are going to be/have been marked as stale. Is there any further insight we could get from this @aanm?

[2020-07-28 12:00] #11730 closed

[2020-07-28 12:05] aanm commented on #11532
@trynity It would be helpful to have steps to replicate the issue.

[2020-07-28 13:56] darkdatter commented on #9402
I am seeing this with:
- latest minikube: v1.12.1
- CentOS 7.8
- latest ML kernel: Linux 5.7.10-1.el7.elrepo.x86_64 x86_64
- Following the latest Cilium getting started guide: https://docs.cilium.io/en/stable/gettingstarted/minikube/#gs-minikube

[2020-07-28 16:59] joestringer commented on #10645
Good spotting. Ubuntu seems to carry a patch to systemd to explicitly remove those lines. I downloaded the tar from the ubuntu packages site and:

[code]

Furthermore at least in my environment networkd doesn't seem to be enabled:

[code]

[2020-07-28 21:24] christarazi opened #12697 "Refactor unused fields out of the API"
<... to be filled in ...>
Follow up from: https://github.com/cilium/cilium/pull/11607.
Related: https://github.com/cilium/cilium/issues/8353

[2020-07-29 00:07] jrajahalme commented on #6307
#12548 had same failure, same symptom as in description. coreDNS was in crashloop backoff with these logs:
[code]

[2020-07-29 01:33] joestringer opened #12699 "Enabling `--enable-bpf-masquerade` with `enable-host-services=false` when using kube-proxy prevents connectivity to ClusterIP services from remote hosts"
### Summary

When Cilium is configured with kube-proxy, `hostNetwork` pods (or applications on hosts) cannot establish connectivity with pods on remote nodes via ClusterIP. Regular pods are not affected by this issue.

### Environment

- Cilium v1.8.2
  - Using kube-proxy
- Kernel 5.4
- Kubernetes v1.17 via KIND v0.7.0

### How to reproduce the issue

1. Create 2-node KIND cluster from cilium git

[2020-07-29 01:34] joestringer commented on #12699
@brb Should we be disabling bpf-based masquerade when using kube-proxy to prevent issues like this?

[2020-07-29 02:00] joestringer commented on #12699
There may be some simple answers here, like requiring `enable-host-services` if `enable-bpf-masquerade` is enabled.

[2020-07-29 02:14] joestringer opened #12700 "L7 policy breaks connectivity to hostport services"
When Cilium (v1.8.2) is configured with a hostport service with an ingress L7 policy applied, then a pod on a remote node attempts to access the hostport, the connection is dropped.

From recollection it's the reply packet that fails to reach the node which originates the connection.

If two proxies are involved, then the first will end up sending a 503 error to the client because the egress proxy

[2020-07-29 02:53] yongming opened #12701 "How to test Kube-proxy removal performance benchmark?"
## Support
https://cilium.io/blog/2020/06/22/cilium-18#kubeproxy-removal
I found there are some performance testing bechmark on XDP/IPVS/IPTables. The testing result is very good. But there is no information of testing environment and testing tooling. Hope detail work node config(cpu/mem etc) and testcases can be provided.

Thanks.

[2020-07-29 06:03] yongming commented on #12701
I suppose the testing is run on a two core node with one direction request, right?

[2020-07-29 07:38] #12330 closed

[2020-07-29 07:39] #3891 closed

[2020-07-29 07:46] qmonnet commented on #9402
@darkdatter Could you also please tell what version of Cilium you were using?

[2020-07-29 08:26] borkmann commented on #12701
Hello, the blog post does have a detailled description of the test env, see the figure below the text on `Why does it matter?`. Let me know if you have any further questions beyond the setup stated there.

[2020-07-29 08:38] yongming commented on #12701
Get it, Thanks so much!

[2020-07-29 08:38] #12701 closed

[2020-07-29 09:56] tgraf commented on #11532
@trynity What version of Cilium did you experience this?

[2020-07-29 10:12] brb commented on #10645
I have the same `WARNING: systemd-networkd is not running, output will be incomplete. [...] unmanaged` on Arch Linux. It seems that `rp_filter` is being set by `systemd-sysctl` service.

@joestringer What does `systemctl status systemd-sysctl` return on your machine?

[2020-07-29 11:59] #12643 closed

[2020-07-29 13:01] darkdatter commented on #9402
latest - v1.8.1

[2020-07-29 13:38] dmolik commented on #11646
I use aws irsa ( IAM roles for service accounts ) as I can sell it to my parent Org easier because of the aforementioned security features. However I still think there is a use case for CNP denials for pods that don't need to access sts or other AWS services. Or even limiting scope of existing access.

[2020-07-29 14:30] brb commented on #12699
Does KIND create two interfaces on each node (one with a default route, one for communication between nodes)?

[2020-07-29 15:22] joestringer commented on #12699
[cilium-sysdump-20200728-181418.zip](https://github.com/cilium/cilium/files/4995723/cilium-sysdump-20200728-181418.zip)

[2020-07-29 16:34] aditighag commented on #11646
The current proposal is to expose this functionality to end users via a CRD, wherein the user would specify the frontend IP (or VIP) and port to be redirected. The CRD would have a "local endpoint" selector to redirect the traffic to a local node entity. Kubernetes RBAC roles can be used to enforce security related considerations.

[2020-07-29 17:03] jrajahalme commented on #11004
#12698 starts the DNS proxy earlier, but this does not change the fact that while the DNS proxy policy (which is derived from the CNPs applicable to local endpoints) is not available, the DNS proxy will to deny passing requests until the applicable endpoints are regenerated after all CNPs have been received from the k8s API server. #12698 allows the new Proxy instance to receive the DNS requests b

[2020-07-29 18:21] joestringer commented on #7721
Seen again in https://jenkins.cilium.io/job/Cilium-PR-Ginkgo-Tests-Kernel/2678/testReport/junit/Suite-k8s-1/18/K8sPolicyTest_Basic_Test_Validate_to_entities_policies_Validate_toEntities_World/ .

[2020-07-29 19:09] joestringer commented on #12699
Whatever solution we decide, we should consider updating the kind install parameters to ensure they're simplified (along with the smoke tests): https://docs.cilium.io/en/latest/gettingstarted/kind

[2020-07-29 19:27] joestringer opened #12714 "Connectivity check follow-ups"
Generated from discussion & ideas following from #12599:

* [x] Extend the GH actions to check that `examples/kubernetes/connectivity-check/` YAMLs are up-to-date in submitted PRs
* [x] Add additional CI test for `connectivity-check-proxy.yaml`
* [x] Add additional CI test for `connectivity-check-quarantine.yaml`
* [x] Improve readme to show cue CLI tools

[2020-07-29 20:14] PinchasLev commented on #11004
@jrajahalme Isn't this merely a question of honoring the TTL present in the old config/cache? Say a cycling the agent takes 10 seconds, wouldn't it be better to allow egress traffic for all those IP addresses present in the old cache, than to drop all egress until the cache is regenerated?  Granted any egress traffic whose destination IP is resolved to an address not present in the cache will be d

[2020-07-29 21:00] aanm opened #12715 "Double check RBAC across Cilium versions"
RBAC in vX.Y+1 should not remove permissions that vX.Y requires. We should only remove unused RBAC in vX.Y+2.

[2020-07-30 00:42] joestringer commented on #10645
@brb it's `Active (exited)`, but per my last post I think the Ubuntu version of systemd-sysctl won't apply `rp_filter` by default. That seems like it explains the difference in behaviour to me.

[2020-07-30 10:00] brb commented on #10645
@joestringer Ah, damn, missed that comment. Yeah, that explains the difference.

[2020-07-30 14:01] qmonnet commented on #12098
I could reproduce the issue by following the GSG for AWS-EKS. I could also apply the manual fix from Thomas, with an additional step for the return-path filter on `eth0`.

The ENI CNI in the `aws-node` daemonset sets the following rules and configuration on the node:

[code]

Since the GSG instructs to remove the daemonset before deploying Cilium and creating the node, this configuration is not us

[2020-07-30 19:10] valas commented on #10621
Same here, @soumynathan let me know how can we help (including taking over the PR).

[2020-07-30 19:35] joestringer commented on #11004
@PinchasLev my understanding of the issue is this is more about the handling of the DNS traffic itself rather than the allow of the regular connections to the destination IPs behind those DNS names. But broadly yes your suggestion around ensuring that the old cache sticks around when the agent is restarted makes sense, PR #12718 aims to do just this--right up until Cilium is able to resync with ku

[2020-07-30 20:01] PinchasLev commented on #11004
@joestringer Thanks for your response and for the work done in the PR.  The point I'm getting at is that from a design perspective Cilium's move from poll to proxy for maintaining its DNS cache should not have had any effect on DNS handling.  The purpose of intercepting DNS traffic was for no other reason than to ensure that the toFQDN rules are being implemented with the same set of IPs as seen b

[2020-07-31 08:13] aanm commented on #12715
Addresses in PR #12720 and #12721

[2020-07-31 08:13] #12715 closed

[2020-07-31 09:10] mrostecki commented on #10621
@valas Swami is on PTO. Feel free to take over.

[2020-07-31 19:18] joestringer opened #12732 "Cilium v1.7 branch docker image building fails if image dependencies aren't available locally"
### make dev-docker-image doesn't work

[code]

### make docker-image only builds operator
[code]

Obviously we build these images somehow, but the seemingly "obvious" build targets don't seem to work as one might expect.

[2020-07-31 19:20] joestringer commented on #12732
`docker-image-no-clean` is also broken:

[code]

[2020-07-31 19:20] aanm commented on #12732
@joestringer do you have all base images downloaded?

[2020-07-31 19:21] joestringer commented on #12732
@aanm shouldn't that be part of the default targets? How do I find out?

[2020-07-31 19:23] aanm commented on #12732
[code]

[2020-07-31 19:26] joestringer commented on #12732
We should automatically pull these if they're not available.

[2020-07-31 21:27] joestringer opened #12733 "Cilium v1.7 unit test failure: ipcache_test.go:148"
https://travis-ci.com/github/cilium/cilium/builds/178015361

[code]

Seen in #12731 but that test makes no changes to this file so it must be present on v1.7 branch.

[2020-08-01 05:55] joestringer opened #12735 "CI: v1.7: K8sDatapathConfig Encapsulation Check connectivity with sockops and VXLAN encapsulation"
### Stacktrace
[code]
### Standard Output
[code]
### Standard Error
[code]

https://jenkins.cilium.io/job/Cilium-PR-Ginkgo-Tests-Validated/19850/
[2cbd388a_K8sDatapathConfig_Encapsulation_Check_connectivity_with_sockops_and_VXLAN_encapsulation.zip](https://github.com/cilium/cilium/files/5009903/2cbd388a_K8sDatapathConfig_Encapsulation_Check_connectivity_with_sockops_and_VXLAN_encapsulation.zip)

[2020-08-01 05:57] joestringer commented on #12735
Log errors `Unable to release endpoint ID` / `Unable to restore endpoint, ignoring` seem to be spurious based on endpoints that have disappeared priorto startup (ie pods from a previous run that were deleted while the agent was down).

[2020-08-01 12:34] #11126 closed

[2020-08-01 18:34] #11601 closed

[2020-08-01 23:28] aanm opened #12737 "CRD schema auto generation follow ups"
- [x] Auto generate the CRD schema version - I've some ideas around that which would help https://github.com/cilium/cilium/pull/12493 as well.
  - [x] Automatic detection of CRD changes and increment the CRD schema validation version
- [x] Resolve https://github.com/cilium/cilium/issues/13155 by creating a preflight check to ensure no policies have a top-level description
- [x] Generate CRDs for a

[2020-08-02 03:42] jedsalazar commented on #11841
Hoping to not lose sight of this request as it will aid in troubleshooting.

[2020-08-02 20:14] #11614 closed

[2020-08-02 20:14] #11609 closed

[2020-08-03 06:24] CentUser commented on #10627
Same problem, looking for an workaround.

[2020-08-03 08:16] brb opened #12740 "docs: Extend kube-proxy-free GSG with guides for major managed k8s cloud providers"
Extend the guide by adding instructions how to remove kube-proxy and use Cilium's kube-proxy replacement on the following platforms:

- [ ] GKE
- [ ] EKS
- [ ] AKS

[2020-08-03 08:51] sayboras commented on #12656
@glibsm Please find the list of metrics, which doesn't have protocol label currently.

- dns_queries_total
- dns_responses_total
- dns_response_types_total
- http_requests_total
- http_responses_total
- http_request_duration_seconds
- icmp_total
- tcp_flags_total

The metric names already implies which protocol is used, need your help to confirm if _protocol_ label is still needed for these metric

[2020-08-03 12:09] aanm commented on #11916
@JieJhih any update?

[2020-08-03 12:18] tklauser commented on #12740
FWIW, [EKS](https://docs.cilium.io/en/latest/gettingstarted/kubeproxy-free/#nodeport-xdp-on-aws) and [AKS](https://docs.cilium.io/en/latest/gettingstarted/kubeproxy-free/#nodeport-xdp-on-azure) are already partially covered in the context of the _LoadBalancer & NodePort XDP Acceleration_ instructions in the kube-proxy-free GSG.

[2020-08-03 12:24] tklauser commented on #12733
Fixed by #12734 (commit adac95f in `v1.7`) which was already merged. It seems Github only automatically closes issues based on `Fixes` tags when merged to the default branch.

[2020-08-03 12:24] #12733 closed

[2020-08-03 14:36] JieJhih commented on #11916
I'm still under survey the code. You could unassign me.

[2020-08-03 15:17] #12636 closed

[2020-08-03 15:51] #12625 closed

[2020-08-03 15:57] brb commented on #12544
Had another thought that fixing this by adding the CT lookup would introduce the perf penalty for each packet from a local endpoint to outside. To make the test to work with BPF-based MASQ, we could add the outside IP addr to the [ip-masq-agent](https://docs.cilium.io/en/v1.8/concepts/networking/masquerading/#ebpf-based).

[2020-08-03 16:14] glibsm commented on #12656
I think your summary is correct. There doesn't seem to be protocol ambiguity in that list. `flows_processed_total` on the other hand was squashing the protocols together making it hard to dissect what kind of traffic was actually being processed

[2020-08-03 17:31] seanmwinn opened #12750 "operator-sdk from the operator-framework fails to create a new operator"
## Bug report

When creating a new helm based operator using the operator-sdk, the CLI fails to create a new operator subdirectory due to not being able to download the subcharts. The resulting folder contains a helm-charts directory which contains all of the subcharts as a zipped file.

https://github.com/operator-framework/operator-sdk/issues/2942

**How to reproduce the issue**
1. Install the o

[2020-08-03 17:52] joestringer opened #12751 "v1.6.11 release"
## Pre-release

- [x] Create a [new project] for the next release version
   - Old project: https://github.com/cilium/cilium/projects/118
   - New project: https://github.com/cilium/cilium/projects/122
- [x] Add build targets for the new release on [Docker Hub]
    - [cilium](https://hub.docker.com/repository/docker/cilium/cilium/builds/edit)
    - [operator](https://hub.docker.com/repository/dock

[2020-08-03 17:53] joestringer opened #12752 "v1.7.7 release"
## Pre-release

- [x] Create a [new project] for the next release version
   - Old project: https://github.com/cilium/cilium/projects/120
   - New project: https://github.com/cilium/cilium/projects/123
- [x] Add build targets for the new release on [Docker Hub]
    - [cilium](https://hub.docker.com/repository/docker/cilium/cilium/builds/edit)
    - [operator](https://hub.docker.com/repository/dock

[2020-08-03 18:55] valas commented on #10621
Working on this issue. How do I change the assignment?

[2020-08-03 19:33] mrostecki commented on #10621
Only people with the commiter rights in the repository can assign people to issues (that's Github's limitation).

I assigned you.

[2020-08-03 23:08] christarazi opened #12756 "CI: Travis: Flake in ClusterMeshServicesTestSuite.TestClusterMeshServicesUpdate"
[code]

https://travis-ci.com/github/cilium/cilium/jobs/367759063

Found during one of the many runs of https://github.com/cilium/cilium/pull/11607

[2020-08-04 07:04] skmatti opened #12759 "Host firewall in kube-proxy less mode breaks pod to remote-host pod connectivity"
## Bug report

**General Information**

- Cilium version 1.8.2
- Kernel version 4.19.112
- Orchestration system version in use GKE 1.17.9

Some notable config:
[code]

**How to reproduce the issue**

The issue can be reproduced with the above specified configuration and without having to create any host firewall policies.

Consider $SOURCE-POD-IP sends packet to $DEST-POD-IP on $REMOTE-NODE-IP.

T

[2020-08-04 09:25] brb commented on #12759
@skmatti Thanks for the report. Does the connectivity goes back to normal once you disable the host firewall feature?

[2020-08-04 15:07] soumynathan commented on #10621
It would be great if you can provide your review comments on this PR. I am back and I can work on this.

[2020-08-04 16:44] skmatti commented on #12759
@brb thanks for responding. No, the connectivity is not restored even after disabling the host firewall and restarting the cilium agents.

I think the previous state in data plane is not cleared some how. I verified that a cluster bootstrapping to the same config (w/o host firewall) works fine. So, once host firewall is enabled with the aforementioned config it breaks the cluster irreversibly.

Wo

[2020-08-04 16:54] valas commented on #10621
I assume then you'll take over? Do you have a rough ETA?

Here is my draft, I believe it's working but missing a test:
https://github.com/cilium/cilium/compare/master...valas:node-level-healthz?expand=1

[2020-08-04 18:36] joestringer commented on #12759
AFAIK this is governed by the `native-routing-cidr` which you would need to configure to cover the CIDR range for directly routable traffic. (Though it doesn't make sense to me why any masquerade would be occurring if it's disabled in the configmap and you have restarted Cilium to ensure that the ConfigMap configuration is being respected)

[2020-08-04 19:00] Rolinh opened #12772 "Code generated from proto files breaks unit tests"
PR #12611 updated some dependencies that affect files that are generated from `proto` definitions, namely:
- `github.com/golang/protobuf`: `v1.3.2`  => `v1.4.2`
- `google.golang.org/genproto`: `v0.0.0-20190819201941-24fa4b261c55` =>  `v0.0.0-20200526211855-cb27e3aa2013`
- `google.golang.org/grpc`: `v1.26.0` => `v1.27.0`

PR #12677 re-generated these files. This was done due to a backward compatibl

[2020-08-04 23:28] michi-covalent commented on #12772
tempting to go with the option 1 at least for the short term to unblock.

there is already a function to test the equality of proto messages, so maybe another option is to use that to assert with testify?

https://godoc.org/github.com/golang/protobuf/proto#Equal
 https://godoc.org/github.com/stretchr/testify/assert#ComparisonAssertionFunc

just out of curiosity how many assertions are failing in t

[2020-08-05 00:04] joestringer opened #12776 "CI: v1.7: K8sDatapathConfig MonitorAggregation Checks that monitor aggregation restricts notifications"
On v1.7 branch:
Link: https://jenkins.cilium.io/view/Cilium-v1.7/job/cilium-v1.7-standard/1673/testReport/junit/Suite-k8s-1/11/K8sDatapathConfig_MonitorAggregation_Checks_that_monitor_aggregation_restricts_notifications/
Archive: [fb96724c_K8sDatapathConfig_MonitorAggregation_Checks_that_monitor_aggregation_restricts_notifications.zip](https://github.com/cilium/cilium/files/5025366/fb96724c_K8sDat

[2020-08-05 00:10] joestringer opened #12777 "CI: v1.7: K8sDatapathConfig ManagedEtcd Check connectivity with managed etcd: unable to renew etcd lock session: context canceled"
On v1.7 branch:
Link: https://jenkins.cilium.io/view/Cilium-v1.7/job/cilium-v1.7-standard/1669/testReport/junit/Suite-k8s-1/17/K8sDatapathConfig_ManagedEtcd_Check_connectivity_with_managed_etcd/
Archive:
[bad92085_K8sDatapathConfig_ManagedEtcd_Check_connectivity_with_managed_etcd (1).zip](https://github.com/cilium/cilium/files/5025378/bad92085_K8sDatapathConfig_ManagedEtcd_Check_connectivity_with_

[2020-08-05 00:49] joestringer opened #12778 "CI: v1.7: K8sDatapathConfig Transparent encryption DirectRouting Check connectivity with transparent encryption and direct routing: Connectivity test between nodes failed"
Link: https://jenkins.cilium.io/job/Cilium-PR-Ginkgo-Tests-Validated/19867/testReport/Suite-k8s-1/17/K8sDatapathConfig_Transparent_encryption_DirectRouting_Check_connectivity_with_transparent_encryption_and_direct_routing/
Archive:
[06880591_K8sDatapathConfig_Transparent_encryption_DirectRouting_Check_connectivity_with_transparent_encryption_and_direct_routing.zip](https://github.com/cilium/cilium

[2020-08-05 00:58] joestringer commented on #12778
The commit where this failed on v1.7 branch only made changes to `etcd` code, but this test was not running with etcd enabled, so it must be a rare flake on v1.7 branch.

[2020-08-05 09:03] kangco-de opened #12781 "Host firewall should also be able to block NodePorts"
## Proposal / RFE

**Is your feature request related to a problem?**
When you rent a dedicated server at some company like online.net/scaleway or Hetzner outside they cloud they public your new server to the internet directly without any possibility of any firewall. This means that your servers must communicate using directly public IPs and limit those connections "somehow" in the host.

On these

[2020-08-05 09:32] Rolinh commented on #12772
That's a good point, I did not check. Supposedly, all tests that do equal comparison on proto generated struct.
I don't think we have too many though so I added option 4 to the list: Fix tests that fail by replacing testify with testing or other.
This could be another way to unblock the situation.

[2020-08-05 12:46] pchaigno commented on #11213
This flake also happened at least once on the v1.7 branch: https://jenkins.cilium.io/view/Cilium-v1.7/job/cilium-v1.7-standard/1663/testReport/Suite-k8s-1/17/K8sFQDNTest_Restart_Cilium_validate_that_FQDN_is_still_working.
[3282a178_K8sFQDNTest_Restart_Cilium_validate_that_FQDN_is_still_working.zip](https://github.com/cilium/cilium/files/5028434/3282a178_K8sFQDNTest_Restart_Cilium_validate_that_FQD

[2020-08-05 14:57] Rolinh commented on #12772
I fixed failing tests in Hubble CLI (see https://github.com/cilium/hubble/pull/335) and managed to implement unit tests for Hubble Relay using `go-cmp` instead (see #12786). Therefore, we can remove the priority "high" label as this is not a blocker anymore.

However, we should probably define our strategy for the long run (eg: systematically use `go-cmp` when comparing proto generated structs in

[2020-08-05 17:27] pchaigno commented on #12759
**If I run without `global.cni.chainingMode=generic-veth`**, I'm unable to reproduce. I deployed Cilium 1.8.2 using the following command (per GKE GSG with host firewall-compatible options), then successfully deployed the connectivity check (which has multi-node checks).
[code]
So I'm guessing that the `chainingMode=generic-veth` setting is causing some bug here when used in combination with the h

[2020-08-05 18:42] skmatti commented on #12759
The issue got resolved after I add `native-routing-cidr`.

Is this still needed if we are not using masquerade or bpfMasquerade?.

I am able to see the packet on eth0 of the node but did not reach lxc interface for the pod. No other drops are seen. Also, I don't see policy verdict being applied on this packet(rightly so) if I enforce host firewall by creating a policy. But, the issue exists withou

[2020-08-05 19:50] #12514 closed

[2020-08-05 21:38] joestringer commented on #11213
Also here: https://jenkins.cilium.io/view/Cilium-v1.7/job/cilium-v1.7-standard/1677/testReport/junit/Suite-k8s-1/11/K8sFQDNTest_Restart_Cilium_validate_that_FQDN_is_still_working/

[2020-08-05 23:15] #10935 closed

[2020-08-06 00:45] aanm opened #12791 "DATARACE: (*Server).HandleRequestStream"
[code]

[2020-08-06 07:45] jrajahalme opened #12794 "Port DNS proxy bootstrap optimizations to master and v1.8"
DNS proxy bootstrap optimizations were developed on v1.7 to streamline [v1.7.7 release](https://github.com/cilium/cilium/releases/tag/v1.7.7) process. Port these first to master and then backport to v1.8:

- [x] DNS Proxy is started earlier in the Cilium agent bootstrap to make it available to running endpoints sooner. ([#12718](https://github.com/cilium/cilium/pull/12718))
- [x] fqdn/dnsproxy: se

[2020-08-06 08:04] #11664 closed

[2020-08-06 08:29] #12656 closed

[2020-08-06 08:31] pchaigno opened #12795 "CI: v1.7: K8sFQDNTest: Testapp is not ready after timeout"
Both `K8sFQDNTest Restart Cilium validate that FQDN is still working` and `K8sFQDNTest Validate that multiple specs are working correctly` are failing.
https://jenkins.cilium.io/job/Cilium-PR-Ginkgo-Tests-Validated/19866/
[test_results_Cilium-PR-Ginkgo-Tests-Validated_19866_BDD-Test-PR-K8s-1.17.zip](https://github.com/cilium/cilium/files/5033546/test_results_Cilium-PR-Ginkgo-Tests-Validated_19866_

[2020-08-06 08:35] jrajahalme opened #12796 "12567 follow-ups"
- [ ] Log message clean-up (https://github.com/cilium/cilium/pull/12567#discussion_r465908100)
- [ ] More thorough use of `trafficdirection` instead of `ingress bool` (https://github.com/cilium/cilium/pull/12567#discussion_r461215499)
- [ ] Avoid naked Endpoint muxex use (in older code) (https://github.com/cilium/cilium/pull/12567#discussion_r461214284)
- [ ] Add logging rate limiter metric (https

[2020-08-06 09:02] brb commented on #10939
@mskrocki Can we close this issue?

[2020-08-06 11:02] #12791 closed

[2020-08-06 13:04] tklauser commented on #12794
Sent #12801

This one was fixing an issue that existed only on `v1.7` and crept in when #12121 was backported in #12363 (see https://github.com/cilium/cilium/pull/12363#pullrequestreview-442283315). Thus, no need to forward-port, it's already correct on `master`:

https://github.com/cilium/cilium/blob/fecd5bcca8f688fadab576a243b24bb5fe2cbfbf/test/bpf/Makefile#L6

and on `v1.8`:

https://github.com

[2020-08-06 14:40] mskrocki commented on #10939
Yes.

[2020-08-06 17:15] glibsm commented on #12772
There is also `proto.Equal` https://godoc.org/github.com/golang/protobuf/proto#Equal

[code]

`assert.True(t, proto.Equal(foo, bar))` seems like it could work. However, it's not clear how a slide of messages could be compared using this method

[2020-08-06 17:47] joestringer opened #12804 "Datapath in debug mode spams "Successfully mapped addr=10.168.0.20 to identity=0" messages"
Version: Cilium v1.8.2

### To reproduce
1. Follow the GKE deployment guide: https://docs.cilium.io/en/v1.8/gettingstarted/k8s-install-gke/
1. Deploy connectivity check and hubble relay via instructions from the above documentation.
1. Edit the ConfigMap to add datapath debug messages:
[code]

### Problem
When I go into one of the nodes and run `cilium monitor -v`, this message floods the output:

[2020-08-06 17:52] joestringer commented on #12804
[code]

[2020-08-06 17:57] joestringer commented on #12804
Perhaps also relevant:

[code]

[2020-08-06 18:02] joestringer commented on #12804
It may be that this is the only debug message on the path incoming into the node towards the stack from remote nodes (ie node-to-node), and we don't log any other debug or trace messages. I would expect incoming trace messages in addition to these debug messages, but at least my initial code inspection doesn't reveal where such a trace message would be triggered when hostfw is disabled.

[2020-08-06 19:05] joestringer commented on #12804
There's another aspect to this which is a bit unusual, specifically the `identity` is determined to be 0 despite the identity being in the ipcache. I'm looking sideways at:

https://github.com/cilium/cilium/blob/3996e5a1a36e60674585173a2cadaa973ab93b9f/bpf/bpf_host.c#L393

@pchaigno do you recall why the `from_host &&` case was added here? My understanding of the other portion is that it's explici

[2020-08-06 19:28] joestringer commented on #12804
Seems like later on we'll actually look up the ipcache anyway in `ipv4_host_policy_ingress()` and disregard this lookup in the "traffic ingressing from outside the node" case. The logic is also subtly different. This could probably do with a bit more close attention.

[2020-08-06 21:46] michi-covalent commented on #12772
@glibsm yeah i think the nice thing about what @Rolinh did in https://github.com/cilium/hubble/pull/335 is that it formats the diff between expected and actual nicely.

[2020-08-06 22:34] joestringer commented on #12700
Possible lead for follow-up:

https://github.com/cilium/cilium/blob/3996e5a1a36e60674585173a2cadaa973ab93b9f/bpf/bpf_lxc.c#L1118-L1129

This redirection back to the egress proxy is occuring prior to hitting the rev_nat logic.

[2020-08-07 06:29] aanm commented on #10627
@CentUser have you followed the workaround in https://github.com/cilium/cilium/issues/10627#issuecomment-601703116?

@internetionals I'm probably missing something but `10.0.0.0/8` does indeed conflict with `10.129.0.0/16`. If there is a machine running in your network with the IP `10.129.0.12` and a pod is created with that same IP `10.129.0.12`, how can Cilium guarantee the traffic should be goi

[2020-08-07 07:27] #10939 closed

[2020-08-07 10:14] aanm opened #12807 "CI: unit-test flake in services_test.go: ClusterMeshServicesTestSuite"
https://travis-ci.com/github/cilium/cilium/jobs/369647899

[code]

commit where the test failed: https://github.com/cilium/cilium/commit/b5f53047228eb205108ed13335cdd98d274a40b5

[2020-08-07 13:17] Lyt99 opened #12815 "LB BPF map with configurable size"
Hi there, recently I'm testing scalability of cilium with 2000 services * 50 endpoints, and I've encountered a problem that a part of  services cannot be accessed properly.

Then I found the log below:

It seems that LB map cilium_lb4_services_v2 has exceed its limit, with a value of 65535.
I try to find out how to get it larger,  but there is no option to change this in the [document](https://doc

[2020-08-07 14:23] pchaigno opened #12817 "Compile out policy enforcement when unused"
Even when no policies are loaded, we perform [**4 map lookups** (L3+L4, L4-only, L3-only, and allow-all) in the datapath](https://github.com/cilium/cilium/blob/3abd218c224ce489ea271c728ba64e967ba2e66b/bpf/lib/policy.h#L82) on both ingress and egress to lookup policies. This is going to increase to **8 map lookups** once #12716 is merged.

We should therefore compile out these map lookups and any p

[2020-08-07 14:30] aanm commented on #12817
Adding @joestringer to the discussion. We had this _mode_ in the past (likely <1.5) where there were no map lookups if the policy didn't select that endpoint.

I think we switch to lookup based for 2 reasons, potentially others that's why I'm adding Joe:

- Avoid endpoint bpf regeneration between policy and no-policy modes;
- Know if the bpf programs can be compiled regardless of the endpoint bein

[2020-08-07 15:03] kkourt commented on #12817
Would it be possible to do a runtime check instead?

For example, maintaining a counter for the elements of the map and only doing a check when it is not zero could give us a lot of the performance benefits without the hassle of recompiling.

From a quick look, BPF maps do not seem to support an operation for getting the number of elements or even optimize for this case (e.g., not doing a lookup i

[2020-08-07 15:08] pchaigno commented on #12817
They don't as far as I know.

That's an interesting idea. We could reduce 4/8 map lookups to only 2 when all maps but one are empty. The downside is that we would have one more (array) map lookup when all policy maps are non-empty, to store the count itself.

[2020-08-07 15:09] sayboras commented on #11743
I have a look at promtool CLI, it will check on predefined metric dump format only, there is no support for code static analysis.

Seems like we need to export to metrics first, and perform lint check. What could be the best way to run this ?
- github action after conformance test
- Or in jenkins CI

Another issue I have with prometheus beofre is its dependency hell :cry:, so might just get the bi

[2020-08-07 17:04] kkourt commented on #12817
Also, do we now what the cost of doing a lookup on an empty map is? If not, maybe it's worth doing a micro-benchmark to measure it?  (does not sound too hard)

[2020-08-07 17:12] joestringer opened #12818 "Clarify operator leader election event log for non-leaders"
This particular log does not use structured logs, meaning that the message itself contains variable text which changes the log for every instance of the log in a cluster:

https://github.com/cilium/cilium/blob/0dc3adc6388ad3ed83189f0b7b80a87afb77f1ac/operator/main.go#L250

We should fix it up to use `log.WithFields(...)` and in particular to make it very clear which structured field is the new lea

[2020-08-07 17:38] pchaigno commented on #12777
Any reason we can't/shouldn't backport #11544 to 1.7? /cc @tgraf
The ManagedEtcd test was known to be flaky even in 1.8 before Thomas replaced it with the current generic etcd test.

[2020-08-07 17:38] joestringer opened #12820 "Convert upgrade tests for newer releases to helm --reuse-values ..."
@seanmwinn observed that when upgrading from v1.7.x to newer releases, `helm upgrade --reuse-values ...` fails to upgrade, complaining about null variables (because the globals never existed in the earlier helm charts).

We should extend the CI to perform upgrade using this method to allow us to support upgrade using this method from 1.8 to newer releases. This will help us to catch introduction o

[2020-08-07 18:12] pchaigno commented on #12804
I was able to reproduce with v1.7 and 1.7.0. The message is a bit different in v1.7.0; `Failed to map` instead of `Successfully mapped`. It is also not required to deploy the connectivity check to reproduce. As far as I understand, the messages corresponded to the SSH packets in my case, thus the high rate.

<br>

If was added because of the `#ifndef ENABLE_EXTRA_HOST_DEV` one line guard above. Fr

[2020-08-07 18:26] skmatti commented on #12759
We identified that this is a configuration issue with chaining mode. Once that is resolved, the issue seems to be fixed.

[2020-08-07 18:26] #12759 closed

[2020-08-07 19:02] christarazi commented on #12807
This is a duplicate of https://github.com/cilium/cilium/issues/12756

[2020-08-07 20:03] deesee04 opened #12824 "Connectivity issues - eBPF - FIB lookup failed"
## Bug report

Following the guide to install Cilium 1.8.2 on EKS, in ENI mode with strict kube-proxy replacement (via [these instructions](https://github.com/cilium/cilium/blob/6783d327e6db9e0329716fbc9d4e81ad23b1ac0c/Documentation/gettingstarted/kubeproxy-free.rst)) and sockops enabled, results in connectivity issues from outside and inside the cluster. Specifically, some external requests (via

[2020-08-07 22:50] joestringer commented on #12732
`make dev-docker-image` still doesn't work if you pull the images, you need to use `make docker-image`.

[2020-08-07 23:26] joestringer commented on #12817
If we're driving decisions like this based on the number of map lookups, another direction to look at is how we can resolve the allow/deny maps in userspace first then only push down allow entries into the datapath. More up-front computation but lower per-packet cost. This would mean we don't need the extra four maps.

[2020-08-08 06:30] #10659 closed

[2020-08-09 00:40] jcodybaker opened #12827 "Filter cilium monitor/hubble observe by tcp flags"
The most meaningful packets of a TCP stream are the opening SYN/ACk and final FIN/RST.  For the cilium monitor/hubble observe CLIs (and companying APIs), it would reduce CPU load and visual noise to offer filtering by tcp flags.

## Proposal / RFE

**Is your feature request related to a problem?**
The utility of cilium monitor/hubble observe is significantly lowered on a busy host.  Each packet ad

[2020-08-10 05:51] pchaigno commented on #12817
@joestringer That would be ideal, but don't we need at least port ranges to implement that without running into map size issues? Imagine if we have the following. The equivalent allow rule would require 65534 map entries.
[code]
AFAICS, there's the same issue with IP addresses, although it might not be as bad.

[2020-08-10 07:49] Rolinh commented on #11425
This has been implemented in #12556, #12632 and #12786.

[2020-08-10 07:49] #11425 closed

[2020-08-10 07:51] kkourt commented on #12817
Looking at the code, maybe it would be possible to avoid some lookups by using an LPM map? For example, for each pair of the 4 lookups that we do we:
 * lookup a key
 * zero `sec_label` part of the key, and lookup again.

If `sec_label` was at the end of the key, then maybe we can do an LPM lookup and then check if `sec_label` is set

[2020-08-10 08:57] brb commented on #12824
@deesee04 Thanks for the report. Can you please include the whole sysdump, not only bugtool output? In particular, I'm interested in the cilium-agent logs.

[2020-08-10 12:05] rolinh opened #12833 "hubble-relay: handle peers joining during long running requests"
For long running requests, typically requests in follow mode, peers which join a cluster while a request is ongoing are always ignored. This is a proposal to improve Hubble Relay such that when a request is already being processed and a new peer joins the cluster, the request should be forwarded to this new peer (if applicable) to collect flows.

[2020-08-10 13:57] pchaigno opened #12834 "Host CCNP policies rejected on master"
#11607 broke host policies on master. They are now all rejected with:
[code]

This error is printed because `CiliumNetworkPolicy.Parse()` has some new checks to prevent using `NodeSelector` in CNPs. It assumes `CiliumClusterwideNetworkPolicy.Parse()` will be called in the case of CCNPs with `NodeSelectors`. However, the k8s watcher for CCNPs calls `addCiliumNetworkPolicyV2` which takes a `types.Sl

[2020-08-10 15:52] christarazi commented on #12834
Nice catch, I thought I had caught them all.

It sounds like we're running into the limitations of sharing the same Golang type for CNP and CCNP. However, we may be able to check the `Kind` of the CRD that was applied (`crd.TypeMeta.Kind`), as a quick fix which should contain `CiliumNetworkPolicy` or `CiliumClusterwideNetworkPolicy`.

The long-term solution is to split out these types into their o

[2020-08-11 00:45] aditighag commented on #11255
I'm also hitting this issue in the dev VM. @pchaigno Are you planning to check in your fix?

[2020-08-11 03:49] clarence-zhou commented on #9402
met the same issue with centos7(5.7.11-1.el7.elrepo.x86_64),  minikube(v1.12.2).  but after disable selinux(setenforce 0),  pods get up.

maybe the link can help, https://github.com/iovisor/bcc/issues/2525

[2020-08-11 05:07] #4837 closed

[2020-08-11 06:19] pchaigno commented on #11255
The fix for this is currently blocked by https://github.com/cilium/packer-ci-build/issues/230. I'll try to update the 4.9 and 4.19 VM images to unblock at least these.

[2020-08-11 08:00] CentUser commented on #10627
@aanm  no, I used minikube to initialize a cluster. And I finally find out that the IPs in the range are really  allocated and is marked as blacklisted. Powered off the cluster using minikube stop, and then restart it seems ok.

![image](https://user-images.githubusercontent.com/37166599/89872484-94e42a80-dbeb-11ea-9d37-d2559b79d5b1.png)

As the picture shows, this is perhaps a problem around core

[2020-08-11 08:23] internetionals commented on #10627
@aanm It's a more specific route, not necessarily a conflict. Effectively your entire network configuration consists of more specific routes of a global network.

In this case you have a conflict in your IP numbering plan. But the mere existence of a route for the entire private `10.0.0.0/8` subnet doesn't mean that this conflict exists (it might but it also might not, it's not really Cilium's pla

[2020-08-11 12:39] fristonio commented on #8035
I was able to reproduce it for v1.5.1 following the steps mentioned by Andre. But this has been fixed in v1.8/master. [This commit](https://github.com/cilium/cilium/commit/77583f4e49f40f70a4272e36131518d54b5528d4#diff-87ce3efe448980dc74dd709641782ffdR91-R96) fixed the issue.
Thanks, @aanm for helping with the investigation. :rocket:

[2020-08-11 12:39] #8035 closed

[2020-08-11 14:47] brb opened #12842 "datapath: Extend drop reason with sub-reasons"
When debugging user reported drops with `cilium monitor -t drop` it's difficult to determine which exact drop in the datapath has happened.

E.g.
[code]

It would be beneficial to use `u16` for the drop reason (currently, it's `u8`: https://github.com/cilium/cilium/blob/v1.8.2/bpf/lib/common.h#L264), and e.g. to store in MSB a main reason, while in LSB a sub-reason.

An interface for encoding reas

[2020-08-11 16:26] pchaigno opened #12844 "Empty to/fromEndpoints in CCNP matches world"
### Issue
When included in a CNP, an empty `fromEndpoints` is interpreted as "from any Cilium-managed endpoint in the namespace". When included in a **CCNP**, however, an empty `fromEndpoints` is interpreted as "any source" (instead of "all Cilium-managed endpoints").
[code]

### Why?
When converted to `EndpointSelector`, [`to/fromEndpoints` rules are automatically completed with a namespace match

[2020-08-11 16:33] aanm commented on #12844
One other thing that we need to take into account is the upgrade path of this change. We will start blocking traffic that was once accepted.

As a possible fix is to expand the CCNP and CNP checker in the pre-flight daemonset. We could add a condition that would check if there was an "empty" `fromEndpoints` in a CCNP and print a warning with a proposed fix, which is to add another policy that allo

[2020-08-11 18:25] joestringer commented on #8911
We had a planning session/discussion for this feature in the August 5 SIG-datapath meeting:

https://docs.google.com/document/d/1IZZ-FTM_U3zN06-M_mDOgep_DcDM0Oe3YOFVM1BTIt8/edit#heading=h.o7qrp13j7x7h

[2020-08-11 18:59] Elegant996 opened #12847 "CoreDNS crashing after deploying Cilium"
## Support

Hi everyone,

Just installed Cilium using the Helm with the below settings:

[code]

Unfortunately, CoreDNS is having issues contacting 10.96.0.1:443:

[code]

Using a fresh deployment with `kubeadm` skipping `kube-proxy` on kubernetes 1.17. Is there something we are missing?

Thanks!

[2020-08-11 23:15] joestringer opened #12848 "CI: Travis: master: FAIL: services_test.go:217: ClusterMeshServicesTestSuite.TestClusterMeshServicesUpdate"
https://travis-ci.com/github/cilium/cilium/jobs/371021308

After merging unrelated changes:
https://github.com/cilium/cilium/compare/487313d5497e...edee4811ec31

[code]

[2020-08-11 23:17] christarazi commented on #12848
There's an open issue for this one: https://github.com/cilium/cilium/issues/12756

[2020-08-11 23:20] #12848 closed

[2020-08-11 23:20] #12807 closed

[2020-08-12 00:53] joestringer commented on #10627
My impression right now is that at the first sight of overlapping CIDRs, Cilium backs out and defers to the user to either resolve the conflicting route or configure `--blacklist-conflicting-routes=false`. Seems like there's a reasonable argument here that Cilium should check that the conflict is equal/more specific than the IPAM range and only break out in that case. Then perhaps instead of faili

[2020-08-12 00:57] deesee04 commented on #12824
@brb i've updated the report and replaced the single node bugtool output with a link to a full sysdump.

let me know if you need anything else!

thanks!

[2020-08-12 02:43] UnwashedMeme opened #12850 "helm chart `nodeinit.restartPods` doesn't work on azure aks-ubuntu-1804 images"
## Bug report

**General Information**

Trying to use the `cilium-node-init`'s `restartPods` functionality doesn't work on AKS with ubuntu 18.04 images. Connectivity test pods created before the `reconfigureKubelet` completes fail to become ready (pass). Looking at the logs for cilium-node-init the restart isn't happening.

I believe the issue is that the none of the branches in [this if statement

[2020-08-12 08:13] brb commented on #10763
I've created such LB: https://github.com/cilium/dummylb

[2020-08-12 09:14] brb commented on #12847
With this little information it's nearly impossible to tell what's wrong. Can you please fill all required fields in the issue template?

[2020-08-12 09:28] brb commented on #12824
Unfortunately the attached log files are empty.

[2020-08-12 10:24] CentUser commented on #10627
I am new to k8s, and cilium. So I encountered the problem during the installation of cilium. Perhaps, it is because my cluster is not properly set up. But I do followed the manual and delete and then do it again, still is there the problem. Occasionally, I restart the cluster ( without minikube delete ). Things seems OK. Then I guess there should be a problem while the coredns initializing.

[2020-08-12 11:16] kvaps opened #12854 "Cilium is droping ICMP packets (Invalid packet)"
## Bug report

When I deploy cilium, ICMP is stoping working on any cluster node, If I running `cilium monitor -t drop` I see that it is dropping EchoReply packets:

[code]

I've tried to deploy with default settings from quick start guide and with `kubeProxyReplacement=strict`.

ICMP is working fine only if I setting `global.kubeProxyReplacement=disabled` option.

**General Information**

- Ciliu

[2020-08-12 12:16] vishnugs opened #12855 "Enabling Layer7 Visibility while installing cilium"
Proposal

**Is your feature request related to a problem?**
In kubernetes pods keeps changing/reinstalled .
Problem is facing with manual annotation of the pod for the L7 visibility.

 **enable l7 protocol visibiltiy by default during cilium installation (by setting some config for automatic annotation)**
If not, does it needs to be done always on any pod addition?
**Describe the solution you'd li

[2020-08-12 13:20] Elegant996 commented on #12847
Found the root cause after much searching. Related to #10645 but also applied the `MACAddressPolicy=none` suggested in #8304 despite the fix. Thanks!

[2020-08-12 13:20] #12847 closed

[2020-08-12 14:39] aanm opened #12857 "Verify CCNP with toGroups"
Something tells me they won't work... This function is used for both CCNP and CNP. If a CCNP has a `toGroups` field, it will create a derivative CNP, not a derivative CCNP.

https://github.com/cilium/cilium/blob/5d1025eda37fa8bdfebddc4b413b143113e06a09/pkg/policy/groups/actions.go#L130-L177

[2020-08-12 15:38] deesee04 commented on #12824
the sysdump was collected with the cilium-sysdump tool according to the troubleshooting instructions.

i've manually collected the logs from each agent and added them to the original report.

[2020-08-12 18:01] aditighag opened #12859 "Socket-lb: Handling of active connections to stale backends"
When kube-proxy replacement (and socket-lb) is enabled, client pods can continue to connect to service backends that were deleted. This is because of the way backend selection happens in case of socket-lb in the socket `connect` calls.
Connected UDP clients are particularly susceptible to such issues.

Fix:
[ ] (New kernels) We are adding a capability in BPF to destroy sockets to force such client

[2020-08-12 18:10] errordeveloper commented on #12854
Could you please clarify is this concerning pod-to-pod, node-to-node, intra-node, node-to-pod/pod-to-node?

You top-level example was `10.28.0.1 -> 10.28.36.17`, what are these two addresses?

[2020-08-12 18:12] errordeveloper commented on #12859
@aditighag please add correct labels to this :)

[2020-08-12 19:26] kvaps commented on #12854
node-to-node or node-to-external host or external host-to-node
`10.28.36.17` - node
`10.28.0.1` - internet gateway

in current case i'm on the node pinging internet gateway, it is responding but reply packets are filtered on the node

[2020-08-12 23:35] joestringer commented on #10256
This is still misleading users.

[2020-08-12 23:59] joestringer opened #12862 "CI: RuntimePrivilegedUnitTests Run Tests: Context deadline exceeded"
Example job: https://jenkins.cilium.io/job/Cilium-PR-Runtime-4.9/1533/testReport/junit/(root)/Suite-runtime/RuntimePrivilegedUnitTests_Run_Tests/
[f651de81_RuntimePrivilegedUnitTests_Run_Tests.zip](https://github.com/cilium/cilium/files/5066472/f651de81_RuntimePrivilegedUnitTests_Run_Tests.zip)

Previously ran the tests with 3 lines BPF code changed and it passed. Now it has failed. Seems maybe ti

[2020-08-13 00:04] joestringer opened #12863 "CI: Running AfterAll block for EntireTestsuite RuntimeLB Services Policies may take 4+ minutes"
Found in `test-output.log` from https://github.com/cilium/cilium/issues/12862 :

[code]

The test appears to be assuming that there is always 1 endpoint left over after running, however ever since v1.8.0 we've had two: health + host.

[2020-08-13 00:17] joestringer commented on #12862
Here are the `test-output.log` logs beginning from the `BeforeAll` of the test:

[code]

A few immediate interesting points:
* Poor invocation of `gops`:
[code]
* After 3 minutes, it appears there is the first attempt to cancel the test run which may have failed (?):
[code]
*  The overall failure occurs almost exactly after 8 minutes, which suggests a timeout has expired and the tests were expecte

[2020-08-13 08:07] pchaigno commented on #12862
Is this easily reproducible or did you just see the test fail once? This is the second timeout in RuntimePrivilegedUnitTests I saw in a bit over a month (previous was Jul 2nd). Maybe worth bumping the timeout?

[2020-08-13 10:11] brb opened #12867 "test: Running individual tests is no longer possible"
[code]

The following PR https://github.com/cilium/cilium/pull/12763/files#diff-2304891712e5d0140828499fc3a19043R2305-R2354 removed the cleanup of the resources.

Removing `--validate` from `helm template` can be used as a temporary mitigation.

[2020-08-13 11:06] jrajahalme commented on #12511
Also at https://jenkins.cilium.io/job/Cilium-PR-K8s-1.12-net-next/199/testReport/junit/Suite-k8s-1/12/K8sServicesTest_Checks_service_across_nodes_Tests_NodePort_BPF_Tests_with_direct_routing_Tests_with_secondary_NodePort_device/

[2020-08-13 12:14] #12834 closed

[2020-08-13 12:15] #12863 closed

[2020-08-13 13:18] tklauser opened #12870 "operator: provider-specific options cannot be set using flags"
[code]
I'd have expected `--eni-tags='map[foo:bar:]` to be reported.

This is a side-effect of splitting the operator binaries per cloud provider (see #10972 and #9920). The provider-specific flags are not bound using `viper.BindPFlags`.

Found while working on #12620 and I was wondering why the newly introduced `--ec2-api-endpoint` flag didn't have any effect.

[2020-08-13 14:33] #6307 closed

[2020-08-13 16:10] pchaigno commented on #12867
For the record, the line to change to work around this bug is:
https://github.com/cilium/cilium/blob/aeefd5862ae4affe672b76803b27224f09f6343a/test/helpers/kubectl.go#L3860

[2020-08-13 17:45] vishnugs opened #12875 "[Azure -AKS] Cilium Operator Failing"
## Bug report

**General Information**

- Cilium version (run `cilium version`) : 1.8.2
- Kernel version (run `uname -a`)  : 4.15.0-1091-azure
- Orchestration system version in use (e.g. `kubectl version`, Mesos, ...) : Kubernetes
- Link to relevant artifacts (policies, deployments scripts, ...) https://docs.cilium.io/en/v1.8/gettingstarted/k8s-install-aks/
- Generate and upload a system zip:
[cod

[2020-08-13 17:53] vishnugs commented on #12875
After remove -azure from the image and command for the cilium operator it started running

[2020-08-13 18:23] cehoffman opened #12876 "Selectorless Service manual endpoints not reflected in cilium"
## Bug report

**General Information**

- Cilium version (run `cilium version`)

Client: 1.8.2 aa42034f0 2020-07-23T15:02:39-07:00 go version go1.14.6 linux/amd64
Daemon: 1.8.2 aa42034f0 2020-07-23T15:02:39-07:00 go version go1.14.6 linux/amd64

- Kernel version (run `uname -a`)

Linux k8s-worker-1 5.7.10-201.fc32.x86_64 #1 SMP Thu Jul 23 00:58:39 UTC 2020 x86_64 x86_64 x86_64 GNU/Linux

- Orchest

[2020-08-13 23:25] joestringer opened #12879 "Remove iptables / netfilter dependency"
The vast majority of functionality in Cilium is already eBPF-native, with just a few corner cases still depending upon iptables per the references below. Note that even when Cilium no longer requires to install rules to implement functionality for itself, it is possible that in certain integration scenarios, some rules may still be necessary to ensure that other software does not interfere with Ci

[2020-08-14 03:43] christarazi commented on #7721
Seen again in https://github.com/cilium/cilium/pull/11476: https://jenkins.cilium.io/job/Cilium-PR-K8s-1.12-net-next/213/testReport/junit/Suite-k8s-1/12/K8sPolicyTest_Basic_Test_Validate_to_entities_policies_Validate_toEntities_Cluster/

[2020-08-14 04:24] christarazi opened #12882 "Migrate away from removed version of v1beta1.{Deployment,ReplicaSet}"
The [`cilium policy trace` command](https://github.com/cilium/cilium/blob/df367832502efffea998a9325be1d4a55cd5db1a/pkg/policy/trace/yaml.go#L39) accepts YAMLs containing Kubernetes resources. The code currently only accepts old and removed versions of [Deployment](https://github.com/cilium/cilium/blob/df367832502efffea998a9325be1d4a55cd5db1a/pkg/policy/trace/yaml.go#L67) and [ReplicaSet](https://g

[2020-08-14 10:17] #12870 closed

[2020-08-14 11:26] pchaigno opened #12891 "CI: RuntimeConntrackInVethModeTest Conntrack-related configuration options for endpoints"
https://jenkins.cilium.io/job/Cilium-PR-Runtime-4.9/1554/testReport/(root)/Suite-runtime/RuntimeConntrackInVethModeTest_Conntrack_related_configuration_options_for_endpoints/
[4eff3569_RuntimeConntrackInVethModeTest_Conntrack-related_configuration_options_for_endpoints.zip](https://github.com/cilium/cilium/files/5074304/4eff3569_RuntimeConntrackInVethModeTest_Conntrack-related_configuration_option

[2020-08-14 11:41] pchaigno opened #12892 "CI: K8sUpdates Tests upgrade and downgrade from a Cilium stable image to master"
Cilium 1.8 fails to deploy during `K8sUpdates` test. `failed to find plugin "cilium-cni" in path [/opt/cni/bin]` found in logs.

https://jenkins.cilium.io/job/Cilium-PR-Ginkgo-Tests-Kernel/2841/testReport/Suite-k8s-1/18/K8sUpdates_Tests_upgrade_and_downgrade_from_a_Cilium_stable_image_to_master/
[704755ad_K8sUpdates_Tests_upgrade_and_downgrade_from_a_Cilium_stable_image_to_master.zip](https://gith

[2020-08-14 12:15] brb commented on #12876
@cehoffman Duplicate of https://github.com/cilium/cilium/issues/12513?

[2020-08-14 12:33] brb commented on #12859
I think this issue might duplicate https://github.com/cilium/cilium/issues/10217. Also, https://github.com/kubernetes/kubernetes/issues/71514 might be relevant.

[2020-08-14 12:49] #12815 closed

[2020-08-14 12:49] aanm commented on #12815
@Lyt99 @BSWANG the issue is fixed and merged on master. Thanks for reporting it.

[2020-08-14 13:52] pchaigno commented on #12862
I added a plot in our CI dashboard to be able to see if there's an upward trend. The plot is average test duration over 28 days in PRs only (no big difference in master).
![dashboard-test-duration](https://user-images.githubusercontent.com/1764210/90256416-fc95b200-de45-11ea-87aa-ac370b8e1f5c.png)
Zero values are on Sundays :beach_umbrella:
There seems to be a slight downward trend. Variance is ve

[2020-08-14 13:59] cehoffman commented on #12876
Yep, I think so. I tried searching for the feature but didn’t try the exact components hah. Well fun bug in k8s then.

[2020-08-14 13:59] #12876 closed

[2020-08-14 15:07] Elegant996 opened #12895 "Can't access LoadBalancer IP with MetalLB outside of cluster nodes"
## Bug report

**General Information**
Unable to access LoadBalancer IP from any external client, including our router. `curl` requests do not return and timeout. Running the `curl` requests against the LoadBalancer IP on any node in the cluster returns appropriate results.

LoadBalancer IP is created using MetalLB. Same results occur for `layer2` and `bgp` configurations. No firewall is enabled o

[2020-08-14 15:14] brb commented on #12895
@Elegant996 Please check whether:

1. LB IP is assigned to the service (`kubectl get svc`).
2. Cilium has properly provisioned services (`cilium bpf lb list`).
3. What happens with a request (`cilium monitor`).

[2020-08-14 15:22] Elegant996 commented on #12895
@brb Please see the below as requested:

1. `kubectl get svc`
[code]

2. `cilium bpf lb list`
[code]

3. `cilium monitor`

No monitoring for the IP 10.0.30.15 was observed when attempting a `curl`.

[code]

Thanks!

[2020-08-14 15:32] brb commented on #12895
Maybe check with tcpdump whether the node receives a request.

[2020-08-14 15:45] Elegant996 commented on #12895
Able to receive ICMP replies but no dice for port 8088:

[code]

[2020-08-14 15:54] aditighag commented on #12859
#10217 is a related issue as mentioned in the sig-datapath meeting, with a few differences : 1) With #10217, the pod is getting shut down anyway so there is a possibility that the pod application server would send a `RST`. Also, we exactly know how long we need to defer removing the pod entry from backends list from the LB map. 2) In case of LRP, we may have to defer redirecting traffic (with boun

[2020-08-14 17:15] christarazi commented on #11990
Seen in https://github.com/cilium/cilium/pull/12883

[2020-08-14 18:12] Elegant996 commented on #12895
@brb Setting `kube-proxy-replacement` to `disabled` so that everything runs off of `kube-proxy` does resolve the issue. I can play around with `partial` and see what happens but this is definitely an issue with the eBPF replacement whether it be set to `strict` and kube-proxy removed or `probe` (default).

[2020-08-15 13:53] #11801 closed

[2020-08-15 15:42] Elegant996 commented on #12895
@brb Testing complete, results can be found below.

1. No issues, `curl` functions as expected with either `externalTrafficPolicy: Local` or `Cluster`.
[code]

2. `curl` functions as expected if `externalTrafficPolicy: Local` but not with `Cluster` and yields a `curl: (56) Recv failure: Connection reset by peer`.
[code]

3. `curl` functions the same as the findings in the second test bed but `port

[2020-08-16 07:38] #11844 closed

[2020-08-16 09:54] kvaps commented on #12854
Any ideas how can I debug this?

[2020-08-16 18:35] livelace commented on #10645
Yep, caught the same problem during first cilium installation (found this bug right after).
Just overrided **rp_filter** settings in **/etc/sysctl.d/90-override.conf**
Gentoo, Systemd 245.5

[2020-08-17 09:55] myugan opened #12904 "Cilium KVStore failure status after a few minutes"
**General Information**

- Cilium version: `1.8.2 580d32ed8 2020-07-26T11:16:07+02:00 go version go1.14.3 linux/amd6`
- Kernel version: `Linux hostname 4.15.0-112-generic #113-Ubuntu SMP Thu Jul 9 23:41:39 UTC 2020 x86_64 x86_64 x86_64 GNU/Linux`
- Orchestration system version: -
- Link to relevant artifacts: -

**How to reproduce the issue**

1. I use `etcd` with version `v3.4.10` also cilium on

[2020-08-17 09:56] #12882 closed

[2020-08-17 10:47] aanm commented on #12904
@myugan do you have `cilium-operator` running in your cluster?

[2020-08-17 10:50] myugan commented on #12904
@aanm no, i install cilium from source code but there is no `cilium-operator` binary compiled,

[2020-08-17 10:58] brb commented on #12895
Have you tried disabling per-endpoint routes (`--set global.endpointRoutes.enabled=false`)?

[2020-08-17 11:15] brb commented on #12854
I'd suggest to add the `cilium_dbg` before each relevant `DROP_INVALID`, and see with `cilium monitor -v` which path leads to the drops.

[2020-08-17 12:08] kvaps commented on #12854
@brb could you point me to exact are please? I asume `bpf/bpf_host.c` ?

[2020-08-17 12:12] aanm commented on #12904
@myugan you need to run `cilium-operator` as well.

[code]

[2020-08-17 12:26] myugan commented on #12904
Ok, i just copied that to `/usr/local/bin` but is it mandatory to use Kubernetes apiserver to run operator? because i run cilium on the host, or is it possible to pass argument to check apiserver?

[2020-08-17 12:40] brb commented on #12854
In your case it's most likely `to-netdev` in `bpf/bpf_host.c`. Grep for `DROP_INVALID` in its path, and keep adding `cilium_dbg(ctx, DBG_GENERIC, 42, 0);` for better visibility of the path.

[2020-08-17 14:56] kvaps commented on #12854
That's weird indeed:
When I loading my patched cilium `docker.io/kvaps/cilium-dev:3` I have no this bug.
When I loading official one `docker.io/cilium/cilium:v1.8.2`, the bug is still persists

So I wasn't able to reproduce it, but I've got new log message about `DestinationUnreachable(Port)`:

[code]

[code]

[2020-08-17 15:02] Elegant996 commented on #12895
The `global.endpointRoutes.enabled` seems to have no impact but nothing is responsive when switching from type `LoadBalancer` to `NodePort`. Using `curl` on `10.96.126.86:31990`, the `nginx` service NodeIP/Port, just times out.

Side note, if we set `global.enableHealthCheckNodeport` to `false` per the documentation when `NodePort` is disabled, the pod crashes and will not start.

Thanks!

[2020-08-17 15:16] brb commented on #12895
Can you check with tcpdump whether the node which runs the backend of the svc receives a request which should be forwarded by the node which received the original request from the client from outside?

Can you please create a separate issue for it?

[2020-08-17 15:26] kvaps commented on #12854
Also I found that ping is starting working if I do:
[code]
my docker image is not loading this program for some reason

[2020-08-17 15:46] kvaps commented on #12854
My bad, I was using `DBG_GENERIC` wrong, now I just copied your line, and got two new lines:

[code]
not much informative :(

here is correct patch:

[code]

[2020-08-17 16:04] kvaps commented on #12854
Got it!

https://github.com/cilium/cilium/blob/aa42034f09a5ac1218a8c6dfe0ee0b9bcf6d4801/bpf/bpf_host.c#L373-L374
https://github.com/cilium/cilium/blob/aa42034f09a5ac1218a8c6dfe0ee0b9bcf6d4801/bpf/bpf_host.c#L428-L429

[2020-08-17 16:18] kvaps commented on #12854
Can't it be connected with the fact that this interface is having configured LACP?

[2020-08-17 16:42] joestringer commented on #12862
Question came up during community meeting about whether this is the CPU freq issue again, doesn't appear so:

https://jenkins.cilium.io/job/Cilium-PR-Runtime-4.9/1533/execution/node/117/log/
[code]

[2020-08-17 17:19] bycEEE opened #12908 "[Documentation] Missing DNS Proxy Docs for Metrics"
I've followed the official documentation https://docs.cilium.io/en/latest/configuration/metrics/#hubble-metrics and this step is missing to gain visibility into DNS-related metrics: https://github.com/cilium/hubble/blob/v0.5/Documentation/dns_visibility.md.

Slack thread: https://cilium.slack.com/archives/C1MATJ5U5/p1597683151333200

[2020-08-17 17:27] joestringer opened #12909 "Update SIGs/Slack channels docs for Hubble"
This page is missing the references for hubble community channels:

https://docs.cilium.io/en/latest/community/#slack

[2020-08-17 19:16] brb commented on #12854
What NIC do you have? /cc @borkmann

[2020-08-17 19:27] kvaps commented on #12854
@brb

[code]

[code]

[code]

[2020-08-17 19:34] brb commented on #12854
For now can you replace the linked `revalidate_data(..)` with `revalidate_data_first(..)`?

[2020-08-17 19:44] kvaps commented on #12854
working, no drops anymore

[2020-08-17 19:45] brb commented on #12854
Cool, thanks for debugging this! Let us discuss tomorrow a possible fix.

[2020-08-17 20:12] borkmann commented on #12854
Thanks for the confirmation @kvaps this really helps! This means that mlx4 only has eth header and we need to pull-in up to L4 hdr in order for this to work.

[2020-08-18 06:38] borkmann commented on #11802
Potentially related: https://github.com/cilium/cilium/issues/12854

[2020-08-18 06:45] #10763 closed

[2020-08-18 07:04] #12620 closed

[2020-08-18 07:15] firemiles opened #12910 "Why not use veth native xdp for network policy"
Hello everyone. I am a kubernetes developer and use cilium as cluster network controller.

I found cilium use **ebpf** replace iptables. It is fast. But I am confusing why use **tc** to implement network policy, not **xdp**. now **veth pair** support **native xdp**, if we put the policy into native xdp, I think the performance will be better.

[2020-08-18 07:41] kvaps commented on #12854
I just tested it with the latest mlx4_en module, same here:

[code]

[2020-08-18 10:22] timstoop opened #12913 "Ability to keep track of traffic generated within a namespace or per Pod"
## Proposal / RFE

**Is your feature request related to a problem?**

We're looking for a way to easily measure traffic generated by specific namespaces. The casus is a situation where a single cluster is used by several departments and the costs for traffic leaving or entering the cluster is fairly high. We would like a better way of determining the amount of (egress) traffic caused by namespaces

[2020-08-18 11:56] borkmann commented on #12910
Do you mean for the egress side from a Pod, or ingress traffic into a Pod? egress traffic from a Pod won't bring much given the kernel's stack allocates an skb already which we're operating on at this point. For the ingress side, meaning, external traffic into the machine, it's on our todo to enforce/'offload' policy into the phys devs XDP program (but not veth one). (Cc @pchaigno )

[2020-08-18 12:22] aanm commented on #12904
@myugan yes. At the moment it is only possible to run Cilium and Cilium Operator in a Kubernetes environment. There was a PR that was specially made for 1.7 branch that allows Cilium to run without being dependent on the Cilium Operator. This functionality is not implemented in 1.8 nor in master. https://github.com/cilium/cilium/pull/12755

[2020-08-18 12:25] myugan commented on #12904
Okay thankyou for your information @aanm.

[2020-08-18 12:38] aanm opened #12914 "Verify ipcache correctness if a pod changes its IP address"
Pods in hostNetwork can change their IP address if the node change its IP address. We need to be sure that we are handling that behavior in the k8s events and have the ipcache up to date with the most recent IP address.

[2020-08-18 13:05] myugan commented on #10269
I can't find `daemon/bindata.go` for this, want to downgrade from `v1.8` to `v1.7` it shown an error:
[code]

Is't no option for `make` command to remove all stuff after install cilium from source code using `make && make install`?

[2020-08-18 14:49] brb commented on #12854
@kvaps Can you please check whether the issue is resolved with the `brb0/cilium:skb-pull-v0` Docker image?

[2020-08-18 14:52] aanm opened #12918 "Provide better UX for info messages in Cilium agent"
Currently the Cilium agent can provide messages such as:
[code]
or
[code]

This is not helpful for users as they can't know how to solve the issue. Instead, those messages should also tell the users to verify the logs from the Cilium operator pods. Something amount these lines:

[code]
[code]

[2020-08-18 15:40] fristonio commented on #12857
Verified the issue. We currently don't handle this correctly, for CCNP also we try to create a derivative CNP. I am testing out a patch to fix this.

[2020-08-18 16:04] kvaps commented on #12854
@brb this image is working fine: ```brb0/cilium@sha256:8415801ca4eaa53078b63b86ef5c7cb53e29c3a225b78d28161476c36e1f8f7c```

[2020-08-18 18:29] nyrahul commented on #12827
@jcodybaker @Rolinh I was badly in need of this filter. Hence I have taken a dig at it and got it working. However, wanted to confirm/cross-check with you the command-line rationale.

I have added a new `tcp-ctrl` filter in the protocols such that one can apply the filter in the following way:
[code]
using tcp-ctrl will show up only tcp packets with any of (SYN || FIN || RST || URG || ECE || CWR)

[2020-08-18 20:37] kvaps commented on #12247
Hi @Jean-Daniel, I also working on dual-stack with cilium.
I was walking through [Validate IPv4/IPv6 dual-stack](https://kubernetes.io/docs/tasks/network/validate-dual-stack/) and found that nodes have no second address assigned:

[code]
@uablrek left [comment](https://github.com/kubernetes/kubernetes/issues/88784#issuecomment-595959905) in other issue that currently it is not supported by the kub

[2020-08-18 21:29] pchaigno commented on #12910
Cf. https://github.com/cilium/cilium/issues/12604.

[2020-08-18 22:20] Jean-Daniel commented on #12247
As I said in the original report, I'm using a patched version of kubelet that supports taking both IPv4 and IPv6 in the --node-ip parameter:

[code]

And it works like a charm with kube-proxy. It fails only when trying to enable cillium optimizations.

[2020-08-19 02:23] myugan opened #12923 "Failed to compile and shown an error Unformatted Go source code"
## Support

I just follow solution from this issue https://github.com/cilium/cilium/issues/10269 but can't find `daemon/bindata.go` for this, Want to install cilium `v1.7` in new machine but shown an error like this:
[code]

[2020-08-19 03:21] myugan opened #12924 "Cilium API with tcp mode similar to Docker API"
## Proposal / RFE

**Is your feature request related to a problem?**

Yes, in some cases I need to use TCP mode instead of socket because it's difficult to integrate with Python or other languages, as we know cilium just has a library in Golang not support with other languages.

**Describe the solution you'd like**

Do you have any plan to implement these things similar to Docker API? Cilium also

[2020-08-19 06:15] firemiles commented on #12910
@pchaigno @borkmann thks for your answer. enforce ingress policy into the phys devs XDP program is a good idea.

[2020-08-19 09:49] kvaps commented on #12854
I just found that problem persist with `global.tunnel=vxlan` and is working fine with `global.tunnel=disabled`

[2020-08-19 09:56] kvaps commented on #12247
I can confirm that I'm having the same issue in similar setup

[2020-08-19 10:01] brb commented on #12854
Does it happen when a pod pings another pod on remote node? Or what is a packet flow?

[2020-08-19 10:04] brb commented on #12247
Anyone would like to help debugging this? Basically, enabling datapath verbose msgs with the cilium-agent's `--debug-verbose=datapath` and then looking into `cilium-monitor -v` on both nodes to understand what happens with the request should give enough hints.

[2020-08-19 10:23] kvaps commented on #12247
@brb,

[code]

[code]

[2020-08-19 10:31] brb commented on #12247
Can you check whether the node which runs the backend receives the request?

[2020-08-19 10:31] kvaps commented on #12247
It is

[code]

[2020-08-19 10:43] kvaps commented on #12247
Ah it seems problem in masquerade client sends packets to service ip `2a02:2b88:1:2:24a1:ffff:0:1` but getting response from the node ip `2a02:2b88:1:2:24a1::1`.

Standard situation "two virgins in the cold" 😀

[2020-08-19 11:23] kvaps commented on #12247
@brb, even if I remove any MASQUERADE rules node is always respond from the node ip, why so?

[2020-08-19 11:34] kvaps commented on #12854
Yes, ICMP was not working pod-to-pod  the same way as node-to-node or node-to-node in tunnelong mode.

[2020-08-19 12:41] kvaps commented on #12247
After the reboot I see different picture:

only one packet sent, and no response packets:
[code]
`cilium monitor -v` shows the same:
[code]

[2020-08-19 13:23] brb commented on #12854
Just to confirm, you see the same ICMP drops due to `invalid packet` when running in the tunneling mode with the `brb0/cilium:skb-pull-v0` image for node-to-node, node-to-pod and pod-to-pod, right?

[2020-08-19 15:47] kvaps commented on #12854
@brb, sorry for confusing, I repeated the test:
- pod-to-pod and node-to-pod is working fine even if pods located on different nodes
- node-to-node is not working
- pod-to-node is not working if pinging another node, not the same one where pod is running

[2020-08-19 15:57] nyrahul commented on #12827
On second thought, I changed the cli interface to following:
[code]
results in TCP packets getting shown which has SYN and FIN bit set.

Possible flags(case-insensitive) are `SYN,FIN,RST,URG,ECE,CWR,NS,ACK,PSH`. If no flags are specified i.e., only `--protocol tcp` is specified then it results in current/default behavior of show all tcp packets.

[2020-08-19 16:18] gandro commented on #12827
@nyrahul Awesome! I do like your second proposal `--protocol tcp:SYN,FIN`. Thanks a lot for the input, your use-case about filtering out ACK/PSH makes a ton of sense to me.

So I think there are two discussion points here.

1. How to implement TCP filtering in the API.
2. How to expose TCP filtering in the CLI flags.

The first one is important because upcoming versions of Hubble UI already suppor

[2020-08-19 17:21] brb commented on #12854
Hmm, interesting. Could you repeat the experiment with `cilium_dbg` by adding to `to-netdev` in bpf_host.c and `to-overlay` in bpf_overlay.c, but this time by using the https://github.com/cilium/cilium/tree/pr/brb/pull_skb branch?

[2020-08-19 18:07] nyrahul commented on #12827
@gandro thanks for the feedback. I pushed my commit which shows how this is implemented in flow filter. Please check if this is as per expected for Hubble UI. If not, I can update/align the changes as per expected. Should I raise a draft PR for this?

[2020-08-19 21:34] #11802 closed

[2020-08-20 02:33] myugan commented on #12923
Solved by remove `pkg/kvstore/allocator/allocator_test.go` and `pkg/allocator/allocator_test.go`, compile again and show an error:
[code]

But this error fixed by `sudo apt-get install gcc-multilib g++-multilib`

[2020-08-20 03:45] myugan commented on #12904
Solved by downgrade a version to `v1.7` I didn't get any error KVStore status after a few minutes.

[2020-08-20 03:45] #12904 closed

[2020-08-20 05:40] myugan commented on #12923
Please check this too, because I use new machine but it really needs to remove these files manually? and then compile it using `make` and so on or maybe I miss something in here?

cc @aanm

[2020-08-20 05:41] myugan commented on #12923
[code]

[2020-08-20 06:04] myugan opened #12934 "Cilium not shared policy with between nodes?"
## Support

I use `etcd 3.4.10` as KVStore in Cilium, when applying policy with the command `cilium policy import default.json`  I guess the policy shared to each node when checking it in other nodes that connect to 1 etcd leader (same etcd) it's not shown any policy like on master node.

`cilium version`:
[code]

[2020-08-20 06:06] sayboras commented on #12923
This is weird, I just quickly perform the below steps.
Here is related [docs](https://docs.cilium.io/en/v1.7/contributing/development/dev_setup/), not sure if it helps.

<details>
<summary> Build an Unit test </summary>

[code]

</details>

[2020-08-20 08:23] brb commented on #12854
Re-opening because of the reported above case with overlay mode.

[2020-08-20 08:49] kvaps commented on #12854
The original issue was in overlay mode

@brb your request is still valid?

or what should I test right now?

[2020-08-20 09:19] brb commented on #12854
OK, I'm a bit confused - when you said https://github.com/cilium/cilium/issues/12854#issuecomment-675569188 which cases you tested?

Yes, please.

[2020-08-20 09:30] aanm commented on #12923
@myugan make sure you have all the dependencies installed with the right versions for Cilium 1.7
https://docs.cilium.io/en/v1.7/contributing/development/dev_setup/#requirements

[2020-08-20 11:02] aanm commented on #12924
@myugan you can access Cilium via its unix domain socket, there's no need to expose it as a TCP socket. Curl example:
[code]

[2020-08-20 11:03] aanm commented on #12934
@myugan Currently Cilium does not distribute the policies across nodes, that can only be done through Kubernetes.

[2020-08-20 11:22] kvaps commented on #12854
Ok, let's start from beginning. I have cleanly bootstrapped nodes on `ubuntu 20.04` with `5.4.0-42-generic`  kernel.

Then I deploy cilium using helm:

[code]

result: ping is **not working**

Then I deploy cilium with `--set global.kubeProxyReplacement=disabled`
[code]

and do:
[code]

result: ping is **working**

Then I deploy cilium with

[code]

and do:
[code]

result: ping is **not working**

[2020-08-20 12:44] Frankkkkk commented on #11956
Shall I add that maybe it would be good to use a (dual stack) FQDN instead of an IPv4 because sadly this specific test fails on IPv6-only clusters :-)

[2020-08-20 12:49] aanm opened #12938 "Cilium tries to release non-allocated identity"
[code]

Which seems to be happening here https://github.com/cilium/cilium/blob/5c12c1a0a552d32dfa2f50be8b13364076b8108c/pkg/endpoint/endpoint.go#L1022

This can happen following the steps:
1) a endpoint is restored
2) the connectivity with etcd is cut before Cilium checks if the identity is valid with the kvstore
3) the endpoint is removed.

Tested with sha 88ecd7f46

[2020-08-20 12:49] brb commented on #12854
So, the `brb0/cilium:skb-pull-v0` image has resolved all cases: pod-to-pod, node-to-pod, node-to-node and pod-to-node?

[2020-08-20 13:16] kvaps commented on #12854
It is, thank you!

[2020-08-20 13:16] #12854 closed

[2020-08-20 13:36] gandro commented on #12827
Thanks for the PR! I have left some thoughts inline, but for cross-reference, I'll link it here as well: https://github.com/cilium/cilium/pull/12932#discussion_r473977129

[2020-08-20 14:17] brb commented on #12564
@blairw-brk Any update on the issue?

[2020-08-20 14:43] mmack commented on #12317
I'll watching here, let me know if i can test anything.

[2020-08-20 17:02] #11743 closed

[2020-08-21 01:01] blairw-brk commented on #12564
No.

I think the cause maybe there're individual management NIC and data NIC in my network environment.
In other words, the node NIC I used is not the NIC, which has the default route.

I use the --node-ip to force k8s use the NIC.

________________________________
From: Martynas Pumputis <notifications@github.com>
Sent: Thursday, August 20, 2020 10:17 PM
To: cilium/cilium <cilium@noreply.github.c

[2020-08-21 04:45] christarazi opened #12945 "Pod can be stuck in ContainerCreating state for ~15m with identity-allocation-mode=kvstore"
## Bug report

A Pod remains stuck in ContainerCreating state for up to 15m with identity-allocation-mode=kvstore. After ~15m, the pod transitions to Running state, and everything proceeds normally. This delay (presumably in identity allocation) occurs when at least one etcd node is down. If the etcd cluster has quorum (e.g. 2/3), then this delay should not happen.

**General Information**

- 1.7.

[2020-08-21 19:27] joestringer opened #12950 "UpdateIdentities: Skipping Delete of a non-existing identity"
Cilium v1.6.8 and v1.6.10, etcd kvstore

This message is littering the logs:
[code]

This was observed in a cluster with constant identity churn. For each such identity, dozens of agents will each report this same message once. Unclear at this time what proportion of the cluster reports messages like this, not 100% of nodes but likely close to that proportion. All log reports for the same identity

[2020-08-21 21:13] #11910 closed, assigned to nobody

[2020-08-22 20:25] excieve opened #12953 "Conflicting endpoint when complete Job pod shares IP with an active pod"
## Bug report
After launching our new EKS clusters with Cilium + AWS CNI in chaining mode we noticed that some packets are being dropped supposedly due to a "policy deny". Thing is the flows in question are actually allowed by the network policy, moreover other pods of the same (and other) workload affected by this policy are communicating just fine.

While troubleshooting we found that the destin

[2020-08-24 09:08] gandro opened #12954 "Hubble unable to observe service IP when HostReachableServices is enabled"
When Cilium performs [socket-based loadbalancing](https://cilium.io/blog/2019/08/20/cilium-16/#socket-based-load-balancing) (called `HostReachableServices` in `cilium status`), Hubble is unable to observe the original service IP. The reason for this is that the earliest trace point (`from-endpoint`) happens already after packet has been rewritten.

As a consequence, Hubble cannot populate the `ser

[2020-08-24 09:39] #12945 closed

[2020-08-24 10:43] fristonio commented on #9708
As mentioned in [this slack thread](https://kubernetes.slack.com/archives/C09QYUH5W/p1598050198062200?thread_ts=1598050198.062200&cid=C09QYUH5W), the feature will likely not make it to beta in the current state. The K8s networking team is working on pushing out a new KEP for this soon.
We are likely going to wait until the new KEP is released for the feature.

[2020-08-24 11:58] allanyung opened #12955 "Enabling ipsec encryption in EKS causes node to node traffic to break"
## Bug report

**General Information**

- Cilium version: 1.8.2
- Kernel version: 4.14.186-146.268.amzn2.x86_64
- Orchestration system version in use: v1.17.9-eks-4c6976

Enabling ipsec encryption causes node to node traffic to break. This happens in both `aws-eni` mode, and in `cni-chaining` mode. Disabling encryption restores connectivity between the nodes.

**How to reproduce the issue**

Creat

[2020-08-24 12:50] konghui opened #12956 "cilium agent report "required IPv4 pod CIDR not present in node resource""
## Bug report

**General Information**

- Cilium version (run `cilium version`): 1.8.2
- Kernel version (run `uname -a`): 5.8.0-1.el7.elrepo.x86_64
- Orchestration system version in use (e.g. `kubectl version`, Mesos, ...): v1.18.6
- Link to relevant artifacts (policies, deployments scripts, ...)
- Generate and upload a system zip:
[code]

**How to reproduce the issue**

1. Use such command genera

[2020-08-24 15:49] joestringer opened #12958 "Add documentation for io.cilium/shared-service"
The current clustermesh documentation doesn't describe the shared-service annotation or how it can be used. The code comments describe what it does, but users are not likely to look there. It would likely make sense to add a short section to address this in the docs.

[2020-08-24 18:33] arzarif commented on #9708
@fristonio - thanks for the heads up!

[2020-08-25 06:14] myugan commented on #12924
Okay @aanm maybe some information about this must be add to documentation such as how to request manually to cilium socket with curl, also other parameter to make PUT, GET, DELETE requests. Thanks in advance

[2020-08-25 06:23] myugan commented on #12924
i got an error when apply policy with those comment but with PUT requests, also i use example of policy in documentation.

[code]

[2020-08-25 08:04] borkmann commented on #12910
Right, it makes only sense for native phys devs when the packet comes in from external. From inside the host we already have a skb at this point, so XDP wouldn't buy anything in that case but rather as you say make it more complex.

[2020-08-25 12:33] pchaigno commented on #12141
This bug can also happen without direct routing, e.g. when opening a connection to a remote pod from a node. An easy way to reproduce this is to follow [the getting started guide for the bandwidth manager](https://docs.cilium.io/en/latest/gettingstarted/bandwidth-manager/), which enables devices, and disable our kube-proxy replacement. The following trace can be observed on the node with the netpe

[2020-08-25 13:25] #12850 closed

[2020-08-25 13:26] #12867 closed

[2020-08-25 22:44] joestringer commented on #12454
See this PR for the referred TPROXY changes mentioned above: https://github.com/cilium/cilium/pull/11279

[2020-08-26 04:22] qingkunl opened #12968 "SNATed "need to frag" ICMP packet doesn't get forwarded to pod"
## Bug report

Assuming Pod A on Node A tries to send a packet of size 1450 to Node B and the network path is:

    Pod A (MTU 1500) -> Node A (MTU 1500) -> Switch X (MTU 1420) -> Node B (MTU 1500)

Switch X would drop this packet and send back an ICMP packet saying **"need to frag (mtu 1420)"**.

There are two issues with Cilium 1.8.2:

1. Cilium would drop the ICMP packet as invalid packet (http

[2020-08-26 04:31] aditighag commented on #12968
https://github.com/cilium/cilium/issues/12854#issuecomment-675088907

[2020-08-26 04:34] qingkunl commented on #12968
BTW, I'm using AWS VM.

[code]

[2020-08-26 04:36] aditighag commented on #12968
Per the comment [1] in the issue you've called out, the reporter was using a certain NIC that led to drops. Also, the issue has been fixed in latest.
Did you run `cilium monitor` to see where exactly the drops were happening in your setup?

[1] https://github.com/cilium/cilium/issues/12854#issuecomment-675088907

[2020-08-26 04:46] qingkunl commented on #12968
I'm already using the image with the fix mentioned in  #12854 .

Using Cilium 1.8.2, I can see the ICMP drop as invalid packet with `cilium monitor`. Using brb0/cilium:skb-pull-v0 image mentioned by https://github.com/cilium/cilium/issues/12854#issuecomment-675569188, I don't see any drop with `cilium monitor`, but the ICMP packet for "need to frag" still doesn't get forwarded to the Pod.

[2020-08-26 07:18] bigg01 commented on #10013
It would be great to see cilium for OCP4! Cilium will new default for GKE. :-)

[2020-08-26 08:32] pchaigno opened #12971 "CI: Travis CI: IPAMSuite.TestNodeManagerManyNodes: Incorrect metricsapi.Nodes("at-capacity")"
Hit this flake on amd64 in the context of https://github.com/cilium/cilium/pull/12970, which implements a small, unrelated change.
[travis-logs.txt](https://github.com/cilium/cilium/files/5128558/travis-logs.txt)

[code]

[2020-08-26 08:38] firemiles commented on #12910
@sdxdata you said native veth will by pass TCP retransmission. This behavior is import for me, but I look into veth driver not found the logical code. Could you point me where is the related code snippet in kernel?

[2020-08-26 09:08] #12924 closed

[2020-08-26 09:10] sdxdata commented on #12910
@firemiles It would totally depend on the kernel version that you use. You can check the kernel code (netif_receive_generic_xdp() in /net/core/dev.c). When I quickly looked through the kernel code changes, it seemed that that situation happens by kernel v5.5, but it is patched after kernel v5.6.

[2020-08-26 11:39] fristonio commented on #12438
I was able to reproduce the issue and I have figured out the reason this is happening. In the K8s version where we have support for `EndpointSlices` we don't start a watcher for `Endpoint` objects.
https://github.com/cilium/cilium/blob/master/pkg/k8s/watchers/watcher.go#L439-L450
In the above example, we are creating the endpoint object that is associated with the service. This is in turn never pi

[2020-08-26 11:41] fristonio commented on #12438
Edit on how to reproduce this:
Make sure you have installed cilium with `kube-proxy-replacement=strict` mode and you are running a K8s version that has support for `EndpointSlices`.

[2020-08-26 14:04] networkop commented on #12699
I've come across a similar-looking issue on a self-managed cluster. The cluster is built (using kubespray) on top of Azure but has cloud-provider disabled. API-server pods are running as static pods in host OS namespace on 3 controller nodes.
Every time a pod (e.g. ingress controller) wants to communicate with the API server, it sends a packet to its clusterIP. The packets get picked up by cilium

[2020-08-26 14:17] sayboras opened #12974 "Clean up hostscope-legacy ipam option"
Related to https://github.com/cilium/cilium/blob/master/pkg/ipam/option/option.go#L18-L20

[2020-08-26 14:45] sayboras commented on #12974
@tklauser just want to check with you if we can remove this option for 1.9 preparation. Currently, this `hostscope-legacy` is still used as default value, will the new default value for ipam option be `cluster-pool` ? Thanks.

[2020-08-26 15:13] brb commented on #12699
@networkop Thanks for the report. It looks that your issue seems to be unrelated to the issue discussed here, as in your case you have `enable-host-services=true` because of `kube-proxy-replacement=true`. So, I'd suggest to open a separate issue.

The BPF-based masquerading happens on TC egress of the native device, so it's expected that in tcpdump output you will see the pod IP addr. If you run `

[2020-08-26 15:23] tklauser commented on #12974
I'm not entirely sure what the new default options should be as I'm not terribly familiar with the different IPAM modes. FWIW, this was deprecated in #10407, so pinging @tgraf and @aanm who might be able to say more.

[2020-08-26 15:54] joestringer commented on #11841
There's a couple of possible directions for this:
* Add to bugtool: https://github.com/cilium/cilium/blob/3030ba6420bc857977269ea40984bb3e5e86e046/bugtool/cmd/configuration.go#L42
* Extend the https://github.com/cilium/cilium-sysdump python tool to run the extra commands

The tradeoff here may depend on whether we are trying to run against the whole cluster (eg hubble-relay) vs. local node.

[2020-08-26 16:02] firemiles commented on #12910
@sdxdata  Thks，I think I got the patch [commit](https://github.com/torvalds/linux/commit/ad1e03b2b3d4430baaa109b77bc308dc73050de3) by your point.

[2020-08-26 16:18] borkmann commented on #12910
This is talking about generic XDP though which we're not using given its limitations. It would make the datapath slower. See also our recent plumbers presentation where I've mentioned rationale: https://linuxplumbersconf.org/event/7/contributions/674/attachments/568/1002/plumbers_2020_cilium_load_balancer.pdf

[2020-08-26 18:48] joestringer commented on #11841
Other relevant slack discussions: How do we choose what information to include? Pulling full L7 flow information may get sensitive.

I think that from debugging perspective if we have allows without full L7 info (but merely the fact it's an L7 flow) and L7 denies with things like HTTP path, that's likely enough to debug datapath-related issues around policy and so on.

[2020-08-26 19:29] martin31821 opened #12978 "Allow IPSec and KubeProxyReplacement=strict (NodePort)"
## Proposal

I'd like to be able to run a kube-proxy-less cilium installation on baremetal nodes with encryption enabled.
This is a tracking issue as suggested by @jrfastab and @joestringer.

Related resources:
https://github.com/cilium/cilium/blob/fb0c3e592d7a9da854f9d38345fbb5720ea3b073/daemon/cmd/datapath.go#L481
https://linuxplumbersconf.org/event/7/contributions/683/
https://github.com/cilium

[2020-08-26 22:28] joestringer opened #12979 "v1.7.8 release"
## Pre-release

- [x] Create a [new project] for the next release version
  - [v1.7.8 project](https://github.com/cilium/cilium/projects/123)
  - [v1.7.9 project](https://github.com/cilium/cilium/projects/124)
- [x] Add build targets for the new release on [Docker Hub]
  - All versions:
    - [cilium](https://hub.docker.com/repository/docker/cilium/cilium/builds/edit)
    - [operator](https://hub.

[2020-08-26 22:28] joestringer opened #12980 "v1.8.3 release"
## Pre-release

- [x] Create a [new project] for the next release version
  - [v1.8.3 Project](https://github.com/cilium/cilium/projects/121)
  - [v1.8.4 Project](https://github.com/cilium/cilium/projects/125)
- [x] Add build targets for the new release on [Docker Hub]
  - All versions:
    - [cilium](https://hub.docker.com/repository/docker/cilium/cilium/builds/edit)
    - [operator](https://hub.

[2020-08-26 22:29] #12752 closed

[2020-08-26 22:30] #12751 closed

[2020-08-26 22:38] joestringer commented on #12141
@pchaigno is this a regression from v1.8.2?

[2020-08-26 23:13] borkmann commented on #12288
Tracking collection of PRs w/ Helm related options only to be enabled for new deployments (need double checking before 1.9 release):

- #12868
- #11279

[2020-08-27 00:58] #12052 closed

[2020-08-27 00:58] #12035 closed

[2020-08-27 00:58] #12036 closed

[2020-08-27 01:24] thejosephstevens opened #12981 "IPAM ENI not compatible with tunnel config in eks setup"
## Bug report

If you use the EKS setup and follow the instructions on how to configure an overlay network, you get a crashing cilium-operator. The issue is that the helm options you get from those instructions deploy the cilium-operator-generic, which doesn't support the ipam=eni config option.

The operator fails with this log
[code]

**General Information**

- Cilium version 1.8.2
- Kernel vers

[2020-08-27 08:10] sayboras commented on #12981
@thejosephstevens thanks for your reporting this issue. I just take a look at helm chart, just want to make sure if you have `--set global.eni=true` option.

Seems like the operator image is with aws flavour for me as per below.

[code]

[2020-08-27 08:30] brb commented on #12438
@fristonio Good catch! Is this a duplicate of https://github.com/cilium/cilium/issues/12513 then?

[2020-08-27 08:35] brb commented on #12968
@qingkunl Can you run `cilium monitor -t drop` to validate that cilium is actually dropping the "need to frag" ICMP messages?

[2020-08-27 08:45] galexrt commented on #12438
@brb Yeah, seems like it from information. I'll update my K8S cluster to v1.19.x and report back here / in #125123 till end of the week(end).

[2020-08-27 08:53] brb commented on #12564
@blairw-brk So then I guess we can close this issue?

[2020-08-27 08:57] brb commented on #12956
@konghui How did you install Cilium? Can you paste the helm command?

[2020-08-27 09:15] fristonio commented on #12438
Tested on Kubernetes 1.19 with Kubeadm, seems to work out fine in with the latest Kubernetes release. @brb

[2020-08-27 09:19] #12438 closed

[2020-08-27 09:37] galexrt commented on #12438
I can confirm it too now, updating the K8S cluster to v1.19.0 fixed the issue thanks to the added EndpointSlices Mirroring controller.

[2020-08-27 14:27] networkop opened #12988 "Prefer k8s Node IP for SNAT IP (IPV{4,6}_NODEPORT) when multiple IP addrs are set to BPF NodePort device"
## Bug report

When Cilium is configured as a kube-proxy replacement, it fails to masquerade the source IP of pods when the target pod is in the `hostNetwork` of one of the k8s nodes.

**General Information**

- Cilium version
[code]
- Kernel version
[code]
- Orchestration system version in use

[code]

**How to reproduce the issue**

1. Using kubespray (or manually with kubeadm) build a cluster o

[2020-08-27 15:04] aditighag commented on #12988
CC @brb

[2020-08-27 15:25] brb commented on #12988
@networkop Thanks for the issue. Two things - could you run `cilium bpf ipcache get 10.0.255.7` from the node which runs the client pod, and could you provide a sysdump (https://docs.cilium.io/en/v1.8/troubleshooting/#automatic-log-state-collection)?

[2020-08-27 15:59] networkop commented on #12988
sure, here's the bpf ipcache output first
[code]

[2020-08-27 16:04] networkop commented on #12988
@brb where can I upload the sysdump?

[2020-08-27 16:05] networkop commented on #12988
oh wow, didn't know about GH's drag-and-drop [cilium-sysdump-20200827-160052.zip](https://github.com/cilium/cilium/files/5137512/cilium-sysdump-20200827-160052.zip)

[2020-08-27 17:37] thejosephstevens commented on #12981
Sorry, I should have been more precise: the way the instructions are written they actually direct you to do this if you want to use tunnels for the overlay
[code]

[2020-08-27 19:04] joestringer opened #12993 "CI: K8sHealthTest checks cilium-health status between nodes: Cilium cannot be installed: rendered manifests contain a resource that already exists."
### Suite-k8s-1.19.K8sHealthTest checks cilium-health status between nodes

https://jenkins.cilium.io/job/Cilium-PR-K8s-1.19-kernel-4.9/303/testReport/junit/Suite-k8s-1/19/K8sHealthTest_checks_cilium_health_status_between_nodes/ from PR #12989

Believed flake as it failed on one build but not another.

[d64828e2_K8sHealthTest_checks_cilium-health_status_between_nodes.zip](https://github.com/cilium

[2020-08-27 19:07] joestringer commented on #12993
May/may not be specific to the K8sHealthTest specifically, that was one failure out of 22 tests to fail with similar errors:

    Suite-k8s-1.19.K8sHealthTest checks cilium-health status between nodes
    Suite-k8s-1.19.K8sDemosTest Tests Star Wars Demo
    Suite-k8s-1.19.K8sConformance Portmap Chaining Check connectivity-check compliance with portmap chaining
    Suite-k8s-1.19.K8sConformance Por

[2020-08-27 19:09] joestringer commented on #12993
Seems like `Suite-k8s-1.19.K8sIstioTest Istio Bookinfo Demo Tests bookinfo inter-service connectivity` failed first:

https://jenkins.cilium.io/job/Cilium-PR-K8s-1.19-kernel-4.9/303/execution/node/122/log/?consoleFull

https://jenkins.cilium.io/job/Cilium-PR-K8s-1.19-kernel-4.9/303/testReport/junit/Suite-k8s-1/19/K8sIstioTest_Istio_Bookinfo_Demo_Tests_bookinfo_inter_service_connectivity/

[71f7745

[2020-08-27 19:12] pchaigno commented on #12993
There were a few successful tests in between failing ones. Thus, there may be a common root cause to all failures, but I don't think the first failing test caused following tests to fail. It may also be several different failures.

[2020-08-27 23:22] joestringer opened #12994 "CI: GuestBook Examples checks policy example: Cannot get web pods"
https://jenkins.cilium.io/job/cilium-ginkgo/job/cilium/job/master/5573/testReport/junit/Suite-k8s-1/12/K8sPolicyTest_GuestBook_Examples_checks_policy_example/

[e60a837a_K8sPolicyTest_GuestBook_Examples_checks_policy_example.zip](https://github.com/cilium/cilium/files/5139127/e60a837a_K8sPolicyTest_GuestBook_Examples_checks_policy_example.zip)

Observed on master branch, v1.7 branch; coming up on

[2020-08-27 23:26] joestringer opened #12995 "v1.7: CI: K8sPolicyTest Basic Test Redirects traffic to proxy when no policy is applied with proxy-visibility annotation: command terminated with exit code 28"
https://jenkins.cilium.io/job/Cilium-PR-Ginkgo-Tests-K8s/3456/testReport/junit/Suite-k8s-1/12/K8sPolicyTest_Basic_Test_Redirects_traffic_to_proxy_when_no_policy_is_applied_with_proxy_visibility_annotation_Tests_proxy_visibility_interactions_with_policy_lifecycle_operations/

[7d0035d5_K8sPolicyTest_Basic_Test_Redirects_traffic_to_proxy_when_no_policy_is_applied_with_proxy-visibility_annotation_Tes

[2020-08-28 00:58] joestringer commented on #12732
For future reference, to resolve these with newer image versions I check the following lines for image names and manually run `docker pull` for those images before running `DOCKER_IMAGE_TAG="foo" make docker-image-no-clean` :

[code]

[2020-08-28 01:44] joestringer commented on #12993
Looks like this hit on PR #12986 as well: https://jenkins.cilium.io/view/PR/job/Cilium-PR-K8s-1.19-kernel-4.9/301/

[2020-08-28 01:47] joestringer commented on #12993
I looked through the failure 301 in my most recent comment, and there were only:

1. Failure in the Istio test per the above
1. BeforeAll failures (implies previous test /environment pollution issue)
1. `Error: rendered manifests contain a resource that already exists` which I interpret also as an environment pollution issue
1. #12994 which is failing very often.

[2020-08-28 02:35] blairw-brk commented on #12564
Yes. close, please.
________________________________
From: Martynas Pumputis <notifications@github.com>
Sent: Thursday, August 27, 2020 4:54 PM
To: cilium/cilium <cilium@noreply.github.com>
Cc: Blair Wang <blairw@silicom.co.il>; Mention <mention@noreply.github.com>
Subject: Re: [cilium/cilium] Strange performance issue (#12564)

@blairw-brk<https://github.com/blairw-brk> So then I guess we can clo

[2020-08-28 05:58] #11532 closed

[2020-08-28 06:44] #12564 closed

[2020-08-28 06:47] fristonio commented on #12993
I took a quick look at the failure in 301. The tests that are failing in `K8sIstioTest` are leading to cilium not being cleaned up properly after the tests as mentioned by @joe. The reason I believe is that the `AfterAll` block for K8sIstioTest does not run due to some reason which is responsible for cleaning up cilium installation from the test context.

This only happens for K8sIstioTest and see

[2020-08-28 12:11] pchaigno commented on #12994
I think that #13003 will fix this flake. The relation may not be obvious, but the error message seems to indicate that the jsonpath is failing because of the use of `{end}` on what is effectively an empty list. #13003 will make sure the list of items (selected pods) isn't null.
[code]

[2020-08-28 14:12] brb commented on #12988
@networkop Could you try w/o tunneling? You can do that by setting `auto-direct-node-routes: true` and `tunnel: disabled` in the ConfigMap, and then restarting all cilium-agent pods?

[2020-08-28 14:21] brb commented on #12699
I managed to reproduce the original issue on non-KIND env. As a temporary mitigation, I'm going to create a PR to disable BPF-based masq if the host-reachable svc feature is disabled incl. all details why it's currently broken.

[2020-08-28 14:28] networkop commented on #12988
ok, l'll try. do you want me to collect any logs or just verify that it works?

[2020-08-28 14:36] brb commented on #12988
Thanks. Just to verify that it works.

[2020-08-28 15:19] networkop commented on #12988
I've done the test, however I still don't have the e2e connectivity. In addition to changing the above flags I also had to specify the `native-routing-cidr` to stop the agent from crashing. I set it to the same value as pod cidr (in my case 10.0.0.0/18).

Additionally, in Azure I enabled "ip forwarding" on the NIC of the worker node I was testing, to stop it from dropping unknown packets.

The onl

[2020-08-28 15:33] brb commented on #12988
Hmm. Would it be possible to get an access to your Azure cluster (I'm `martynas` on Cilium's public slack)?

[2020-08-28 16:52] joestringer opened #13007 "CI: K8sDatapathConfig AutoDirectNodeRoutes Check connectivity with sockops and direct routing succeeds even if sockops load fails"
Seen in a recent CI run:

[code]

From the errors/warnings, it appears that sockops were not loaded so it's silently falling back to packet datapath and passing the test, meaning we don't get any validation of the sockops.

[2020-08-28 17:45] pchaigno opened #13008 "CI: v1.8: K8sServicesTest Checks service across nodes: cannot retrieve pod names by filter "zgroup=testDSClient""
In https://jenkins.cilium.io/job/Cilium-PR-Ginkgo-Tests-K8s/3458/testReport/ the following tests failed with the same error message `cannot retrieve pod names by filter "zgroup=testDSClient"`. Happened in backport PR https://github.com/cilium/cilium/pull/12990.
[code]
[test_results_Cilium-PR-Ginkgo-Tests-K8s_3458_BDD-Test-k8s-1.12.zip](https://github.com/cilium/cilium/files/5143535/test_results_Ci