[2020-10-07 18:29] yanirj commented on #13446
As I said, I had to restart all pods unfortunately, so the problem went away. I'll obviously upload a new heap capture if it happens again. I thought the logs where it tries to reconnect to etcd constantly would give away a clue as to why there's a memory leak...

[2020-10-07 20:23] joestringer commented on #12542
Is this true?

I agree that both the Node IP and other HOST_ID IPs have the same Identity. However the other HOST_ID IPs are inherently not routable on the network (given tunneling mode), so the ipcache should list a nonzero tunnel field:

[code]

[2020-10-07 20:32] pchaigno commented on #12542
That is correct (and showed in the first table above), and is one idea I explored to differentiate the two types of IP/destinations. However, that distinction based on non-zero tunnel field disappears once all packets to remote nodes are sent through the network (as currently done with the host firewall) because the tunnel field then becomes non-zero for all `REMOTE_NODE_ID` entries.

[2020-10-07 20:47] joestringer commented on #12542
The plot thickens ;-)

The causality seems reversed here, remove the tunnel field from the ipcache entry to force the traffic to be sent through the network.

Is there a commit or PR that describes the rationale for not having the tunnel in the ipcache when in tunneling mode with host-firewall enabled?

Is the "force all traffic through the network" specifically aimed at the host ("host endpoint")

[2020-10-07 20:55] pchaigno commented on #12542
Oops, sorry. I meant: "that distinction based on non-zero tunnel field disappears once all packets to remote nodes are sent through the **tunnel** (as currently done with the host firewall)" (fixed above).

[2020-10-07 21:46] joestringer opened #13451 "Consider generating TCP RST / ICMP destination unreachable in response to stale IP"
Currently, when a source application caches a destination IP to connect to and the destination endpoint is removed, if the application continues to send traffic, it gets dropped with the reason "Stale or unroutable IP". The source application never discovers that it is connecting to the wrong IP, because the traffic is dropped and no response is sent.

It may be more graceful for the source applic

[2020-10-08 06:34] gongysh2004 commented on #13433
it is a good idea to have openstack run with cilium. It seems you are suggesting neutron + calico + cilium for the whole solution, right? why not a pure neutron + cilium?

[2020-10-08 06:39] oblazek commented on #13433
That's possible of course, I am not suggesting that calico has to be used. It's just that we use it together with calico atm in our company. So I only meant that as one of the possibilities.

[2020-10-08 08:03] dctrwatson opened #13454 "cilium-operator does not connect to etcd when using custom dialer"
## Bug report

**General Information**

- Cilium version (run `cilium version`)
[code]
- Kernel version (run `uname -a`)
`Linux ip-10-130-82-254.us-west-2.compute.internal 4.14.198-152.320.amzn2.x86_64 #1 SMP Wed Sep 23 23:57:28 UTC 2020 x86_64 x86_64 x86_64 GNU/Linux`
- Orchestration system version in use (e.g. `kubectl version`, Mesos, ...)
[code]

**Description**

If cilium-operator uses the k8

[2020-10-08 08:38] CallMeFoxie opened #13455 "K8s labels not shown in agent"
**General Information**

- Cilium version (run `cilium version`) Client: 1.8.4 17d623853 2020-09-30T17:31:44-07:00 go version go1.14 linux/amd64
- Kernel version (run `uname -a`) Linux tt-lab17.ko.iszn.cz 4.19.0-9-amd64 #1 SMP Debian 4.19.118-2+deb10u1 (2020-06-07) x86_64 GNU/Linux
- Orchestration system version in use (e.g. `kubectl version`, Mesos, ...) none, compiled from source; k8s 1.18.8, et

[2020-10-08 08:55] kkourt opened #13456 "stacktrace while running cilium bpf command"
## Bug report

**General Information**

- Cilium version: 1.8.90 `43e6a4aedd88a0916bc6f38aad29c3ed9e254b68`
- Kernel version: `5.9.0-rc6+`

**How to reproduce the issue**

1. `NFS=1 NETNEXT=1 NWORKERS=1 K8S=1  ./contrib/vagrant/start.sh`
2. `vagrant ssh k8s1+ -- 'sudo cilium bpf ct list global > /dev/null'`

Output appears to be OK, but there is also a stack trace on stderr that indicates that som

[2020-10-08 08:57] aanm commented on #13456
@kkourt what's the full output of that stacktrace?

[2020-10-08 09:00] kkourt commented on #13456
Sorry forgot to add the last line  of stderr which I added now. Not sure if you meant that or the stdout as well. Let me know if it was the latter and I will add that as well.

[2020-10-08 09:12] aanm commented on #13456
@kkourt that's likely caused by https://github.com/cilium/cilium/blob/47059b4b098d6f788b039adb772864b3250c5d0c/pkg/lock/lock_debug.go#L106-L135

which happens if cilium is compiled with the that `lockdebug`.

[2020-10-08 09:14] kkourt commented on #13456
I see. Thanks @aanm. Closing the issue.

[2020-10-08 09:14] #13456 closed

[2020-10-08 09:52] pchaigno commented on #13455
I tried to reproduce without success so far. Could you include a sysdump of the system with the node label applied?

Also, do you see the new label in `kubectl get nodes --show-labels`?

[2020-10-08 10:05] sznmaran commented on #13227
Yes, it should be possible to label each subnet(IPPool). And use this label to assign IP from this pool to POD(s).

[2020-10-08 10:27] CallMeFoxie commented on #13455
#### Cilium version

[code]

#### Cilium environment keys

[code]

#### Policy get

[code]

#### Service list

[code]

#### Cilium memory map

[code]

#### ipam

[code]

#### k8s-service-cache

[code]

#### kvstore-locks

[code]

#### ongoing-endpoint-creations

#### Kernel version

[code]

#### Cilium status

[code]

#### Endpoint list

[code]

#### BPF Policy Get 2034

[code]

#### BPF CT List 2

[2020-10-08 10:36] manuelbuil commented on #9209
I am seeing a problem which I think points to this issue. Just in case it provides more info:

[code]
[code]
[code]
If instead of `ipBlock` I use `namespaceSelector` or `podSelector`, ping works

[2020-10-08 11:02] pchaigno commented on #13455
I don't see anything that would explain why the agent doesn't have the labels :-/
Any chance you could include [a sysdump](https://docs.cilium.io/en/stable/troubleshooting/#automatic-log-state-collection)?

[2020-10-08 11:05] CallMeFoxie commented on #13455
Ah I thought that the sysdump is the thing I posted ^ :)

sysdump won't generate much as everything is launched bare metal outside of k8s, so no configmaps, no pods, no nothing, only node itself and ccnp is in k8s.

[2020-10-08 11:07] pchaigno commented on #13455
That's fine. It should still be able to retrieve Cilium logs and bugtool at least.

[2020-10-08 11:16] CallMeFoxie commented on #13455
https://filebin.net/xjdoxzcnrwa8tw9t/cilium-sysdump-20201008-130915.zip?t=957qe1h4

this is from the master (k8s apiserver) node

cilium-agent log: https://filebin.net/5m5zf8vvzd86ctue/agent.log?t=hppjjz8k
cilium-operator log: https://filebin.net/5m5zf8vvzd86ctue/operator.log?t=hppjjz8k

[2020-10-08 11:29] pchaigno commented on #13455
From the cilium-agent logs, it looks like the node label was present before Cilium was started. Is that correct?

Could you try to remove and add the label while cilium-agent is running to see if that's the issue?

[2020-10-08 11:36] CallMeFoxie commented on #13455
tried that but still no change :(

[2020-10-08 11:39] CallMeFoxie commented on #13455
actually adding the label does not print anything in the debug log either... should it?

[2020-10-08 11:53] CallMeFoxie commented on #13455
Hah! -D vs --debug=true apparently makes difference (at least in my blindness):

[code]
when calling
[code]
with the node already having labels
[code]

that's weird uh. TIme to go dig into the source

[2020-10-08 12:38] gandro commented on #11720
Closing as stale. This likely has been fixed with #11721

[2020-10-08 12:38] #11720 closed

[2020-10-08 17:46] YesemKebede commented on #13240
@aanm any update on this? Seems like #13263 has been merged.

[2020-10-08 17:48] aditighag commented on #13294
Reopening the placeholder bug. Please don't close it.

[2020-10-08 17:52] seanmwinn opened #13469 "Helm: add documentation to values file for nodeinit.expectAzureVnet"
## Bug report

**General Information**

nodeinit.expectAzureVnet is not presently documented in the Helm values.yaml file

Document feature in comments

[2020-10-08 18:39] anfernee commented on #13269
This looks interesting. I think it requires another annotation to mark some of the nodes as "gateway".

[code]

To configure it on service, use annotation might make more sense:
[code]

Ideas?

[2020-10-08 18:51] joestringer opened #13474 "Reuse k8s resource cleanup code in updates test"
This code seems like it should use `CleanupCiliumComponents()` instead:

https://github.com/cilium/cilium/blob/13a1ebff5b417b9be41814678f51bf0be8acfea6/test/k8sT/Updates.go#L123-L132

[2020-10-08 18:54] joestringer commented on #12288
Let's make sure to check that the CI also sets the upgrade compatibility option correctly.

[2020-10-08 19:51] qmonnet commented on #13435
Alternate backtraces, observed on [this Jenkins job](https://jenkins.cilium.io/view/Race%20Detection/job/Ginkgo-CI-Tests-k8s1.19-Pipeline-Race-Detection/7/)
[code]

[2020-10-08 21:20] aanm commented on #13240
@YesemKebede sorry, I thought I had left a message here. Can you try 1.8.4 to see if you hit this issue? Thanks!

[2020-10-08 23:04] #13224 closed

[2020-10-09 00:22] joestringer opened #13479 "Segfault in master during `lookupByID()`"
I installed v1.7, then upgraded to v1.8, then upgraded to master (`docker.io/cilium/cilium:latest`) as outlined in my comment here:
https://github.com/cilium/cilium/pull/13259#issuecomment-705894240

The connectivity check was running in the background, including the `pod-to-external-fqdn-allow-google-cnp` pod with DNS + FQDN policy applied.

When upgrading to master, on 1/2 nodes Cilium failed ou

[2020-10-09 00:23] joestringer commented on #13479
@gandro do you think this is possibly related to https://github.com/cilium/cilium/pull/13205 or  https://github.com/cilium/cilium/pull/13228 ?

[2020-10-09 07:58] #13434 closed

[2020-10-09 08:00] #13436 closed

[2020-10-09 08:01] #13264 closed

[2020-10-09 08:10] CallMeFoxie commented on #13455
So it is dying somewhere in this:

https://github.com/cilium/cilium/blob/v1.8.4/pkg/labels/oplabels.go#L176

no idea why. Commenting it out fixed everything. I wonder if it may be related to having the cluster joined before launching the agent on the node?

[2020-10-09 09:01] nebril commented on #13430
The failure seems to be caused by https://github.com/cilium/cilium/pull/13238 , this PR https://github.com/cilium/cilium/pull/13473/files which reverts #13238 passes k8s-all

[2020-10-09 10:04] #13378 closed

[2020-10-09 11:04] #2323 closed

[2020-10-09 11:04] #3360 closed

[2020-10-09 11:04] #3381 closed

[2020-10-09 12:03] aanm commented on #13454
@dctrwatson can you provide a minimal set of steps to reproduce the issue?

[2020-10-09 12:08] aanm commented on #13393
@tibers can we close the issue since it's fixed?

[2020-10-09 12:08] #13367 closed

[2020-10-09 12:40] ti-mo commented on #12561
I believe I've addressed this in https://github.com/cilium/cilium/pull/13485. Please have a look, let's continue any discussion there.

[2020-10-09 15:14] tibers commented on #13393
Uh, sure. It's fixed for me by adding localhost to the whitelist. I don't
have a good way of duplicating it since the dev folks don't want to "undo
the fix".

On Fri, Oct 9, 2020 at 8:08 AM André Martins <notifications@github.com>
wrote:

[2020-10-09 16:08] nathanjsweet opened #13490 "Add feature flag in sockops bpf code for when the socket object is available for use."
Now that we [differentiate services by protocol](https://github.com/cilium/cilium/pull/12628) we created a side effect that our sockops programs now only work for TCP. The reason for this is that [the bpf verifier](https://github.com/torvalds/linux/blob/master/kernel/bpf/verifier.c) did not allow access to the socket object contained in the context objects (`bpf_sock_ops` and `sk_mg_md` respective

[2020-10-09 16:45] qmonnet opened #13492 "Rework JSON output for "cilium bpf metrics list""
Current output for the command looks as follows:

[code]

It is very difficult to process and extract meaningful data out of it. One has to parse the strings in addition to parsing the JSON. I can't imagine working with `-o jsonpath` on such output.

Instead, we could imagine something like the following:

[code]

(Maybe a `description` attribute for the text accompanying the reason id, if doable?

[2020-10-09 18:28] dctrwatson commented on #13454
Unfortunately, I'm not sure how. I couldn't get the 1 cluster experiencing this to not exhibit this behavior in 1.8.4 (it's fine in 1.7).

Just that not letting operator inject the custom dialer into the etcd client fixes it... :(

[2020-10-09 19:15] joestringer opened #13493 "cilium-health server can take a long time to serve API"
Seen in a CI run, I filtered the logs using `grep -e cilium-health -e Serving -e Initializing`.

Daemon startup is 17:38:27, and the main cilium API is serving by 17:38:28. The `Serving cilium health API` message doesn't show up until 17:39:01.

[code]

We should investigate why cilium-health server can take 30s or more to serve the API on startup.

[2020-10-09 19:19] joestringer commented on #13493
Adding to ci-force since we could potentially save a bunch of time in CI if this is happening often (since checking cilium-health status is one of the sanity checks we perform).

[2020-10-09 19:31] joestringer commented on #13493
Just for the reference about the nature of this issue, the delay is not 100% reliable - the other node in the related CI run was able to run the cilium-health API within about 4s:

[code]

[2020-10-09 19:33] joestringer commented on #13493
I'm guessing what happens is we have some timeout for the cilium-health -> cilium-agent client connection to only be attempted once every 30s. Probably one of these:

[code]

[2020-10-09 19:37] joestringer commented on #13433
I think the architecture in the diagrams makes sense, ideally the `cilium-openstack` component would act like the CRI in k8s world, potentially even receiving Openstack scheduling events and issuing CNI ADD/DELETE events to the `plugins/cilium-cni` plugin so that the common cilium-agent API interactions can reuse that code.

Regarding pairing Cilium with Calico, I think this option should work but

[2020-10-09 21:02] joestringer commented on #13393
It sounds like you've been able to resolve this with a workaround. If anyone is able to provide more specific information like what was requested above (eg hubble/monitor output showing the drops) then please do post below and we can consider reopening an investigation.

In the mean time, closing since more information is needed.

[2020-10-09 21:02] #13393 closed

[2020-10-09 21:26] seanmwinn opened #13495 "Helm: update expectAzureVnet flag to azure.expectVnet"
## Bug report

**General Information**

Helm: update expectAzureVnet flag to azure.expectVnet to be more consistent with new values structure

[2020-10-09 21:28] seanmwinn opened #13496 "Helm: Document multiple TODO fields in values.yaml"
## Bug report

**General Information**

Multiple fields in values.yaml are marked with TODO: Add documentation.

Update the values.yaml with commented documentation about what each of these does.

[2020-10-09 21:30] seanmwinn opened #13497 "Helm: Abstract pprof.enabled flag from users"
## Bug report

**General Information**

The helm flag pprof.enabled is not intended for user facing consumption. Abstract the use of this field in the CI system.

[2020-10-09 21:33] christarazi opened #13498 "Investigate CRD controller timing out if no Cilium CRDs are present when it is created"
The issue is that when the CRD controller is first created and begins watching for CRDs in the cluster,  *and* no Cilium CRDs are present at that point (meaning cilium-operator has not registered them yet), the crd-wait-timeout will be triggered, even after cilium-operator registers the Ciilum CRDs. The controller is unable to find them due to a K8s apiserver error indicating that `v1beta1.CustomR

[2020-10-10 11:11] brb commented on #13269
@asannes @anfernee @christianhuening Is this a duplicate issue of https://github.com/cilium/cilium/issues/9589?

What would be an IP selection criteria for the following pool?

[code]

[2020-10-10 11:28] brb commented on #13123
Alternatively, you could make your app to use unconnected UDP. This would make the backend selection to happen for each packet. Just beware, that if you have multiple backends, there is no guarantee that the same backend will be selected for all requests coming from the same socket.

[2020-10-10 11:49] #12665 closed

[2020-10-10 11:49] #12647 closed

[2020-10-11 04:03] jrfastab commented on #13490
@nathanjsweet Just to be clear currently the kernel only supports TCP so there is no way to run sockmap policy programs on non-TCP packets. However, UDP support is on my list so at some point we should get it.

[2020-10-11 06:56] #12588 closed

[2020-10-11 16:02] andrewrynhard opened #13502 "Enabling ip-masq-agent causes agent to crash"
## Bug report

[code]

**General Information**

- Cilium version (run `cilium version`)
[code]
- Kernel version (run `uname -a`)
- Orchestration system version in use (e.g. `kubectl version`, Mesos, ...)
- Link to relevant artifacts (policies, deployments scripts, ...)
- Generate and upload a system zip:
[code]

**How to reproduce the issue**

1. Generate manifests with helm flags:
[code]
2. Apply

[2020-10-11 16:22] brb commented on #13502
You need to create a ConfigMap which then has to be mounted to cilium-agent pods. Please see: https://docs.cilium.io/en/v1.8/concepts/networking/masquerading/#ebpf-based.

[2020-10-11 16:35] andrewrynhard commented on #13502
@brb This feels like an issue with the helm chart. The docs say that if the config is empty, a set of default rules are used. My expectation was that the `ConfigMap` setup would be configured by the helm templates if `ip-masq-agent` is enabled. I could then optionally modify the `ConfigMap`. I could make a feature request for this if you think it sounds reasonable.

[2020-10-11 18:42] aanm commented on #13502
Re-opened the issue since @andrewrynhard won't be able to open it per GH behavior cc @brb users can't re-open issues closed by collaborators

[2020-10-12 04:37] vishnugs commented on #12855
Hi, Please let me know when it can be addressed.

[2020-10-12 05:56] christarazi commented on #13498
Likely cause of this is that [watching a PartialObjectMetadata is not supported until K8s 1.15](https://github.com/kubernetes/kubernetes/pull/71548/commits/3230a0b4fd14a6166f8362d4732e199e8779c426), which would explain the behavior of it working on 1.15 and not 1.14.

[2020-10-12 05:56] vishnugs opened #13503 "Unable to install cilium"
## Bug report

**General Information**

- Cilium version (run `cilium version`) 1.8.4
- Kernel version (run `uname -a`) : 4.14.198-152.320.amzn2.x86_64
- Orchestration system version in use (e.g. `kubectl version`, Mesos, ...) EKS

**How to reproduce the issue**

[code]

[2020-10-12 07:46] brb commented on #13502
@andrewrynhard That would a safer option. Just one question - how would you make sure that that empty `ConfigMap` in the helm chat would not override a previously provisioned by a user `ConfigMap`?

[2020-10-12 08:21] aanm commented on #13497
@seanmwinn we might need to expose pprof.enabled to the users as they usually provide us with useful data if we want to debug an issue.

[2020-10-12 08:22] Rolinh commented on #12855
Hi @vishnugs,

Related: there's an open RFC PR by @christarazi which implements policy-free DNS visibility: https://github.com/cilium/cilium/pull/13260

Problem is facing with manual annotation of the pod for the L7 visibility.

I guess this wouldn't be a problem if you annotate the deployment, right? Or is there a reason you can't add custom annotations?

[2020-10-12 09:13] kAworu commented on #13503
Hi @vishnugs,

Thanks for the report. Unfortunately I wasn't able to reproduce the issue:
[code]

The error message you have seems related to Helm, which Helm version are you using?

[2020-10-12 13:02] twpayne opened #13508 "api-limiter: TestAutoAdjust unit test fails consistently"
Running `make unit-tests` in the standard Vagrant VM on my local machine consistently fails with the following test failing:

[code]

The failing test is at [this line](https://github.com/cilium/cilium/blob/master/pkg/rate/api_limiter_test.go#L128).

The test here looks potentially a little racy (there are a few `time.Sleep`s), and the code being tested looks to be both new and quite subtle.

@tgr

[2020-10-12 13:47] pchaigno commented on #13236
Duplicate of #13071.

[2020-10-12 13:48] #13236 closed

[2020-10-12 13:53] tgraf commented on #13508
It's completely new code and it's relatively tough to test some of these reliably as it depends on the timing of rate-limiting auto adjustment. If you find a way to improve, go for it, otherwise, we can also remove the particular line in the test. As usual, it was very stable and solid on my dev machine with margins and behaves differently in the loaded CI.

[2020-10-12 13:54] #13435 closed

[2020-10-12 13:55] twpayne commented on #13508
Ack, thank you. I'll investigate.

[2020-10-12 14:06] andrewrynhard commented on #13502
I don't know 🙂. Will helm clobber something it doesn't manage?

[2020-10-12 14:58] gandro commented on #13479
Yes, this looks very much like it is related to #13228. We have observed the same nil-pointer failure in when back porting it to  v1.7 and v1.8 branch (see e.g. https://github.com/cilium/cilium/pull/13257#issuecomment-697238312)

It seems that the the code before #13228 assumes that if `m.IdentityAllocator != nil` then `m.localIdentities != nil` is implied. I don't fully understand that rationale

[2020-10-12 15:18] kkourt commented on #11742
Had a look at this issue using a simpler setup with two k8s nodes _both_ running cilium, and a pod trying to connect to another pod (valid IP) in a port that nothing listens to (`cli->srv: SYN`, `srv->cli: ACK,RST`) where the same (presumably) problem appears.

Logs from the client `cli` side:

[code]
srv->cli: ACK,RST
[code]

On the return path, even though we get an `RST` flag, the CT verdict is

[2020-10-12 15:24] brb commented on #13502
I'm not an expert here, but maybe @errordeveloper might know.

[2020-10-12 15:38] aanm commented on #13359
More errors that are showed for the first time I enabled kube-proxy-replacement with `--device`
[code]

[2020-10-12 15:41] aanm opened #13512 "Clear error messages that should be marked as default"
These errors are showed for the first time I enabled `kube-proxy-replacement` with `--device`
[code]

[2020-10-12 15:43] joestringer commented on #13400
From community meeting:

* Should not happen since cilium-agent uses SO_REUSEPORT.
* Possible hang of previous cilium-agent process?

[2020-10-12 15:46] joestringer commented on #13371
We will need to re-assess which of these make sense to block for 1.9.

From meeting: Only disabling new deployments should block v1.9 release.

[2020-10-12 15:49] joestringer commented on #13331
This is a feature, bumping to v1.10.

[2020-10-12 15:50] joestringer commented on #13311
We should do a sanity check in minikube to assess resource usage, run with/without hubble enabled by default.

[2020-10-12 15:56] joestringer commented on #13261
Haven't been able to reproduce locally so far (@brb)

[2020-10-12 15:56] gandro commented on #13311
Assigning also @michi-covalent for the doc changes needed

[2020-10-12 15:58] seanmwinn opened #13513 "Helm: Fix implementation of Prometheus Service Monitors"
## Bug report

**General Information**

Presently, there is no conditional test in the Helm charts to check for Kube capabilities to support monitoring.coreos.com/v1
Add conditional tests and update appropriate templates for Prometheus service monitor objects.

[2020-10-12 15:59] joestringer commented on #13138
@brb to follow up to determine which of these items should block the v1.9 release vs. which ones should not.

[2020-10-12 16:04] gandro commented on #13311
@Rolinh will take a shot at this.

[2020-10-12 16:12] joestringer commented on #10645
Followup items:
* Is there context from upstream systemd release around this change?
* Open issue upstream to discuss impact there

@errordeveloper mentioned he can share some systemd configuration he used to mitigate this issue.

If we want to enable endpoint routes mode by default, we will also need to resolve #13121.

[2020-10-12 16:14] joestringer commented on #10567
Removing blocker for v1.9. @brb if you disagree, please reach out :-)

[2020-10-12 16:15] errordeveloper commented on #10645
I have encountered this on OpenShift, with uses CoreOS.
I can confirm that following two solutions work well:

Either write `/etc/sysctl.d/99-override_cilium_rp_filter.conf`  with the following contents:
[code]

Or use `enable-endpoint-routes: "true"`, however if you are using tunnelling mode, you will require either Cilium 1.8.5 (not yet released due to be released soon), or 1.9.0 (also due to be

[2020-10-12 16:58] nberlee commented on #10645
@joestinger https://github.com/cilium/cilium/issues/10645#issuecomment-601451909

https://github.com/systemd/systemd/commit/5d4fc0e665a3639f92ac880896c56f9533441307#diff-7816eed8ca6324f23a690cc5f58e6bf7 whch solved issue https://github.com/systemd/systemd/issues/6282

[2020-10-12 20:24] nr17 commented on #13333
I ran the same tests with the newer kernel and the issue was not observed with kernel 5.4.0.

[2020-10-12 21:31] #13115 closed

[2020-10-12 21:31] #13210 closed

[2020-10-12 22:02] #13168 closed

[2020-10-13 00:03] joestringer opened #13519 "v1.9.0-rc1 release"
## Pre-release

- ~Create a [new project] for the next release version~
- [x] Add build targets for the new release on [Docker Hub]
  - All versions:
    - [cilium](https://hub.docker.com/repository/docker/cilium/cilium/builds/edit)
    - [operator](https://hub.docker.com/repository/docker/cilium/operator/builds/edit)
    - [docker-plugin](https://hub.docker.com/repository/docker/cilium/docker-plu

[2020-10-13 00:31] joestringer opened #13521 "Nodeinit Daemonset no longer pre-pulls Cilium image"
~In Cilium v1.9.0-rc0 (and all prior versions with nodeinit DS), the nodeinit DS deliberately pulled the Cilium image in order to pre-pull it to the node, then subsequently ran scripts to prepare the node for Cilium installation.~

https://github.com/cilium/cilium/blob/c1d63f79e31e8946e3a729c7890932b3a80ed0dc/install/kubernetes/cilium/charts/nodeinit/templates/daemonset.yaml#L24-L30

Since #13259

[2020-10-13 00:33] joestringer commented on #13521
Hmm, upon deeper inspection it seems like the latest v1.8.x releases are also formatted like this, so perhaps my understanding of the scripts is out-of-date.

[2020-10-13 00:35] #13521 closed

[2020-10-13 00:35] christarazi commented on #13398
I was able to trace this down. These messages are triggered when Cilium is restoring endpoints. For background, being unable to enqueue an event occurs if the event itself is nil or if the queue has not been initialized. Both the visibility policy and the bandwidth event are triggered when the daemon begins fetching the endpoint's metadata via the per-endpoint controller. The queue is initialized

[2020-10-13 02:10] #13519 closed

[2020-10-13 07:40] #13262 closed

[2020-10-13 07:58] ArthurChiao opened #13526 "Traffic disruption during cilium-agent upgrade/restart with Mellanox NICs"
## Bug report

We found that when upgrading cilium-agent from `1.7.4` to `1.8.4`, both **node traffic** as well as **Pod traffic** would get interrupted for a few seconds (e.g. `1~10s` according to our observation). The problem is 100% reproducible.

Further tests show that event **restart cilium-agent container** could reproduce this interruption.

**General Information**

- Cilium version: `1.8.

[2020-10-13 08:09] pchaigno opened #13528 "CI: K8sDatapathConfig Transparent encryption DirectRouting Check connectivity with transparent encryption and direct routing"
I've seen this in multiple PRs so definitely a flake. Note this appear to be different from #13430.

### Stacktrace
[code]
### Standard Output
[code]

https://jenkins.cilium.io/job/Cilium-PR-K8s-1.19-kernel-4.9/752/testReport/junit/Suite-k8s-1/19/K8sDatapathConfig_Transparent_encryption_DirectRouting_Check_connectivity_with_transparent_encryption_and_direct_routing/
[6adc05ad_K8sDatapathConfig_Tra

[2020-10-13 08:38] brb opened #13529 "UDP and TCP port differentiation is broken when doing upgrade"
As pointed by @aanm, the Upgrade test is failing on k8s 1.1{3,4} job which is running with kube-proxy and the 4.9 kernel:
[code]
Currently, the Upgrade test is disabled on the k8s 1.19 job which runs the 4.9 kernel. Therefore, we didn't see failure in the #12628 PR.

First of all, why the test didn't fail on the net-next job? The explanation is the following: the job runs w/o kube-proxy, and the E

[2020-10-13 08:42] #13198 closed

[2020-10-13 08:44] brb opened #13530 "Extend test-conn-disrupt to test NodePort from outside"
Same as test-conn-disrupt for E/W traffic, run test-conn-disrupt for NodePort from the clients running on the `--nodes-without-cilium` nodes.

## Obsolete info

The `migrate-svc` which is used in the `test/k8sT/Updates.go` suite is used to test whether during the cilium-agent upgrade no established connectivity to the `migrate-svc` svc is broken.

Currently, the svc is of the ClusterIP type, so on

[2020-10-13 08:54] #13278 closed

[2020-10-13 11:10] velp opened #13533 "Incorrect script in examples to create cassandra tables"
## Bug report

In examples and in this article https://docs.cilium.io/en/v1.8/gettingstarted/cassandra/#step-3-test-basic-cassandra-access cilium has incorrect script `cass-populate-tables.sh` which returns errors `executable file not found in $PATH": unknown`.

Example:

[code]

**General Information**

- Cilium version (run `cilium version`)
  Doesn't matter
- Kernel version (run `uname -a`)
[co

[2020-10-13 12:02] #13533 closed

[2020-10-13 13:06] onedr0p commented on #13094
I am using the new helm chart 1.9.0-rc1 and coming across a similar issue:

[code]

Helm values for hubble are:

[code]

Let me know if this warrants a new issue. Thanks!

[2020-10-13 13:19] onedr0p opened #13537 "Helm install gives hubble-relay-client-certs not found for hubble-relay pod"
I am using the new helm chart `v1.9.0-rc1` and coming across an issue:

[code]

All my configmaps:

[code]

Helm values for hubble are:

[code]

From my understanding this should be creating the certs automatically, correct?
Thanks!

[2020-10-13 13:23] gandro commented on #13094
@onedr0p You need to set `.Values.hubble.listenAddress=":4244"` as well. Without it, mTLS will not be used anywhere.

If add that value, then the secrets are created as needed for me. We should probably document and/or add a `required` statement in the Helm charts.

[2020-10-13 13:25] Rolinh commented on #13537
Thanks for reporting this. In your case, it looks like you're missing `hubble.listenAddress=":4244"`. We used to have some checks in Helm to ensure compatible hubble options (eg: ui requires relay, relay requires hubble to listen on `:4244`, etc). I'll verify if something needs to be adjusted with the checks as things may have changed since #13259 was merged.

[2020-10-13 13:25] #13094 closed

[2020-10-13 13:25] onedr0p commented on #13094
@gandro thanks. I created an issue here, https://github.com/cilium/cilium/issues/13537 I will try that.

[2020-10-13 14:32] gongysh2004 commented on #13433
@oblazek are you talking about using cilium-agent to implement the security group or plugin the VM?
currently,  take the ovs, one of the neutron ml2 plugin mechanism driver, as an instance, the nova will plugin the tap device on the host end into the ovs bridge 'ovs-int' (to pair the tap device is the eth0 device inside the VM); the ovs-agent, running on the compute host, is responsible to set up

[2020-10-13 16:34] aditighag commented on #13040
@Weil0ng I think it would be useful if you could point users to your upstream changes. We can probably add those notes #13543. Wdyt?

[2020-10-13 17:08] velp opened #13544 "Incorrect command in cassandra documentation"
## Bug report

In the documentation and in this step https://docs.cilium.io/en/v1.8/gettingstarted/cassandra/#securing-access-to-cassandra-with-cilium cilium has incorrect command `kubectl exec -it $HQ_POD cqlsh -- cassandra-svc` which returns errors `executable file not found in $PATH": unknown`.

Example:

[code]

**General Information**

- Cilium version (run `cilium version`)
  Doesn't matter

[2020-10-13 17:30] Weil0ng commented on #13040
Yea, this can be lifted when we put node-local-dns in its own pod namespace, it will listen on the pod IP.

Makes sense, I'll push a new commit to the PR.

[2020-10-13 19:17] #13544 closed

[2020-10-13 21:41] youssefazrak commented on #13279
I've opened a PR for this issue. First one with Cilium so it might need so more commits ;)

[2020-10-14 04:09] vishnugs commented on #13503
@aanm , Im also using helm 3.

[2020-10-14 06:48] pchaigno opened #13552 "CI: K8sChaosTest Connectivity demo application Endpoint can still connect while Cilium is not running"
### Stacktrace
[code]
### Standard Output
[code]

https://jenkins.cilium.io/job/Cilium-PR-Ginkgo-Tests-Kernel/3445/testReport/junit/Suite-k8s-1/18/K8sChaosTest_Connectivity_demo_application_Endpoint_can_still_connect_while_Cilium_is_not_running/
[0892951b_K8sChaosTest_Connectivity_demo_application_Endpoint_can_still_connect_while_Cilium_is_not_running.zip](https://github.com/cilium/cilium/files/53

[2020-10-14 06:56] gpl opened #13553 "Rebooting Cilium pods on host with IPv6 node IP results in connectivity loss for pods"
## Bug report

When we restart the Cilium pods, all connectivity to pods is lost until we completely restart the hosts ( with the exception of pods on the same host.  pods on the same host continue to be able to ping each other )

**General Information**

- Cilium version (run `cilium version`)
Client: 1.9.0-rc1 9ab7bfc94 2020-10-12T16:22:19-07:00 go version go1.15.2 linux/amd64
Daemon: 1.9.0-rc1

[2020-10-14 08:22] pchaigno commented on #13553
Config from `cilium status`:
[code]
The bug also happened on 1.8, so not related to the bandwidth manager. The user also initially tried with BPF masquerading.

This could be related https://github.com/cilium/cilium/issues/13254. Running `tc filter del dev eth0 egress` didn't help though.

[2020-10-14 08:30] #13537 closed

[2020-10-14 08:30] aanm commented on #13503
@vishnugs I'm not able to reproduce the issue. Can you try the following steps?
[code]

[2020-10-14 08:35] #13526 closed

[2020-10-14 08:38] pchaigno opened #13554 "CI: GKE: K8sServicesTest Checks service across nodes Tests NodePort (kube-proxy)"
### Stacktrace
[code]
### Standard Output
[code]

https://jenkins.cilium.io/job/Cilium-PR-K8s-GKE/2799/testReport/Suite-k8s-1/16/K8sServicesTest_Checks_service_across_nodes_Tests_NodePort__kube_proxy_/
https://jenkins.cilium.io/job/Ginkgo-CI-Tests-Pipeline-GKE/2068/testReport/junit/Suite-k8s-1/16/K8sServicesTest_Checks_service_across_nodes_Tests_NodePort__kube_proxy_/
https://jenkins.cilium.io/job

[2020-10-14 08:46] qmonnet commented on #13371
Now merged via #13515.

[2020-10-14 09:08] mrostecki commented on #13254
Maybe it would make sense to "manually" remove the tc filter when cilium-agent is handling SIGTERM or as a part of the preStop hook?

[2020-10-14 09:19] nebril commented on #13554
First failing build: https://jenkins.cilium.io/job/Ginkgo-CI-Tests-Pipeline-GKE/2059/

[2020-10-14 09:30] eyvind opened #13555 "Enabling encryption crashes the Cilium operator on Azure with native IPAM (1.9.0-rc1)"
## Bug report

All Cilium agents crash on startup when transparent encryption is enabled on Azure (aks) using native IPAM.

**General Information**

- Cilium version
[code]

- Kernel version
[code]

- Kubernetes version
[code]

**How to reproduce the issue**

1. Install Cilium on Azure using native IPAM: https://docs.cilium.io/en/latest/gettingstarted/k8s-install-azure/
2. Enable transparent encry

[2020-10-14 09:41] #13037 closed

[2020-10-14 10:52] craigbryson opened #13558 "Enabling Encryption causes Connectivity Check pods to intermittently fail"
## Bug report

**General Information**

- Cilium version (run `cilium version`)
[code]
- Kernel version (run `uname -a`)
[code]
- Orchestration system version in use (e.g. `kubectl version`, Mesos, ...)
[code]
**How to reproduce the issue**

1. Install Cilium using helm...
[code]
2. Deploy connectivity check
[code]
2a. Watch connectivity-check pods for a few minutes and observe that they are all r

[2020-10-14 11:41] eyvind commented on #13555
Here's the output from `ip address show` on the node, as requested:

[code]

[2020-10-14 12:06] #13395 closed

[2020-10-14 12:50] #13554 closed

[2020-10-14 14:42] gpl opened #13565 "Support multiple nativeRoutingCIDR"
## Proposal / RFE

We're looking for a way to disable masquerading for multiple, disjointed CIDRs. (i.e. 10.10.0.0/16,240.0.0.0/8,100.64.0.0/16)

**Is your feature request related to a problem?**
Not that I'm aware.

**Describe the solution you'd like**

We saw a mention of a `native-routing-cidrs` from a few months ago in this comment: https://github.com/cilium/cilium/pull/12230#discussion_r44478

[2020-10-14 15:13] brb commented on #13565
@gpl This is exactly the use case for ip-masq-agent. Please see: https://docs.cilium.io/en/v1.8/concepts/networking/masquerading/#ebpf-based.

[2020-10-14 15:13] #13565 closed

[2020-10-14 16:27] anfernee commented on #13254
this behavior was observed when bpffs was not mounted on host. without refcount from bpffs, the call map was dropped when cilium-agent exited. When bpffs is mounted, it works fine.

[2020-10-14 17:21] aanm opened #13569 "data race in stoppable_waitgroup_test"
[code]

[2020-10-14 17:50] joestringer commented on #13254
@mrostecki I think we're open to such a change, as long as we make absolutely 100% sure this isn't going to remove the Cilium datapath during a standard restart or upgrade.

[2020-10-14 18:34] joestringer commented on #13254
However, reading @anfernee 's latest update I think this is simply a problem of not deploying Cilium with BPFFS enabled on the underlying host. This is definitely the expectation for any production environment and really I don't see a reason why *not* mount it all the time. Many distributions would already do this by default, which I guess may imply why it's not currently listed under the [System

[2020-10-14 19:38] joestringer commented on #9589
Seems like OVN has gone through the design process for something that looks similar, here:

https://github.com/alexanderConstantinescu/enhancements/blob/ovn_egressip/enhancements/network/egressip_for_ovn_kubernetes.md

[2020-10-14 20:08] glibsm opened #13572 "docs: API reference is rather sparse"
The swagger definition for the API makes pretty liberal use of `$ref` which given the used `sphinxcontrib-openapi==0.3.2` version doesn't work correctly (https://github.com/cilium/cilium/blob/a2d247843efaf292c4b7861ef2ebcf1f6eb9e2bb/Documentation/requirements.txt#L25)

![image](https://user-images.githubusercontent.com/199077/96039872-366f3e80-0e1e-11eb-8890-d8f537dae8eb.png)

In reality we need m

[2020-10-14 20:20] pchaigno commented on #13254
Yep. Given that, I'm tempted to think we should close this issue as resolved. @anfernee Is there anything else you think we should implement or document for this situation?

[2020-10-14 21:13] christarazi opened #13573 "Consider refactoring agent (daemon) initialization code due to brittleness in dependency ordering"
The daemon initialization code is quite brittle as there are many steps that depend on the ordering of other steps. This can be a nightmare to debug when making seemingly innocent changes. An example of this can be seen in https://github.com/cilium/cilium/pull/13418.

Shorter term approach would be to separate out the daemon setup from the "init" setup. In other words, we would need to identity wh

[2020-10-14 21:20] anfernee commented on #13254
The only thing is to clarify the potential impact. In https://docs.cilium.io/en/v1.8/concepts/kubernetes/requirements/#mounted-bpf-filesystem it says:

[code]

The actual situation could be more serious than that.

[2020-10-15 01:20] YesemKebede commented on #13240
@aanm I upgraded to 1.8.4 but I am still seeing drops when complete Job pod shares IP with one of the ingress pods.

example:
[code]

[code]

[2020-10-15 03:44] anfernee opened #13575 "RFE: egress nat gateway"
# Proposal / RFE

The proposal is the support egress nat gateway so the egress traffic could have a reliable source IP address.

The detailed proposal is captured in this doc: https://docs.google.com/document/d/1O0xJLy43KnBBOdjLEM-Xu6KHaRK6lb4kchnJ5nIrPmE/edit#

# PRs
- [x] Add ebpf map cilium_egress_v4 for egress gateway (#14712)
- [x] Support Mixed Mode (tunnel, and direct-routing) (#14723)
  -

[2020-10-15 07:42] #12396 closed

[2020-10-15 08:22] #13498 closed

[2020-10-15 08:26] aanm commented on #13240
@YesemKebede can you take a system dump for both nodes that have the `nginx` and the one that ran the job? https://docs.cilium.io/en/v1.8/operations/troubleshooting/#automatic-log-state-collection

You can send it to me over slack.

[2020-10-15 08:27] #13569 closed

[2020-10-15 08:29] pchaigno opened #13577 "Connectivity checks fail in development VMs"
Several of the connectivity checks fail when run in our development VMs. I'm guessing there is something wrong with the development VM setup and not a bug in Cilium itself since I haven't seen the same failures elsewhere.

I started the development VMs with:
[code]
Several pods fail to come up:
[code]

[2020-10-15 10:35] tklauser opened #13580 "[RACE detector] data race in pkg/azure/ipam.(*Node).PopulateStatusFields()"
[code]

[2020-10-15 10:57] sayboras commented on #13577
Interesting, I was checking another issue  yesterday, it was working fine. Just check one more time, seems good for me

[code]

[2020-10-15 11:17] sayboras opened #13583 "helm: auto generate README.md"
Related comment https://github.com/cilium/cilium/pull/13259#discussion_r502766180

[2020-10-15 12:06] aanm commented on #9716
Fixed

[2020-10-15 12:06] #9716 closed

[2020-10-15 13:49] ti-mo commented on #12562
I'm taking a look at this.

[2020-10-15 15:40] nathanjsweet commented on #9207
We were unable to merge this for 1.9. CF https://github.com/cilium/cilium/issues/13529 for why.

[2020-10-15 15:52] gandro opened #13588 "CI: K8sServicesTest Checks service across nodes Tests NodePort BPF Tests with direct routing Tests NodePort with Maglev Tests NodePort Exit code 42"
## CI failure

[code]

https://jenkins.cilium.io/job/Cilium-PR-K8s-1.12-net-next/872/testReport/junit/Suite-k8s-1/12/K8sServicesTest_Checks_service_across_nodes_Tests_NodePort_BPF_Tests_with_direct_routing_Tests_NodePort_with_Maglev_Tests_NodePort/

First observed int https://github.com/cilium/cilium/pull/13514

[6b8612e2_K8sServicesTest_Checks_service_across_nodes_Tests_NodePort_BPF_Tests_with_di

[2020-10-15 16:29] nathanjsweet opened #13590 "Add Cert-Manager Documentation for Hubble Certificate management"
When TLS is enabled for cilium's helm chart we should add documentation for how to deploy cilium with TLS enabled and using cert-manager to cycle the certificates.

[2020-10-15 16:31] #10621 closed

[2020-10-15 16:46] qmonnet commented on #12467
See https://github.com/cilium/image-tools/pull/71.

[2020-10-15 17:05] aanm commented on #13508
it seems that is still failing for the race detection mode:
[code]

Full logs: https://api.travis-ci.com/v3/job/400218104/log.txt

[2020-10-15 17:08] pchaigno commented on #13512
I know this error can appear when running Cilium with `--devices` but without `kube-proxy-replacement` or `enable-host-firewall`. #13591 fixes that particular bug.

However, it looks like you're saying you had this error while running **with** `kube-proxy-replacement`?

[2020-10-15 17:20] aanm commented on #13240
@YesemKebede this PR will fix the issue https://github.com/cilium/cilium/pull/13592. Thanks for submitting the bug report.

[2020-10-15 17:26] #13479 closed

[2020-10-15 17:28] aditighag commented on #13136
Check if duplicate events are generated during pod delete callback after PR #13394 added a new field in the pod spec.

[2020-10-15 17:49] twpayne commented on #13508
This is a different test that's failing, but lets keep it in this issue.

[2020-10-15 19:29] joestringer commented on #13529
PR https://github.com/cilium/cilium/pull/13587 removed the related code from v1.9, so removing `priority/release-blocker`.

[2020-10-15 21:06] pchaigno commented on #13577
I'm getting the same issue without `NETNEXT=1` (I did checkout the same commit).

It would be interesting to diff our configurations. This is on a clean clone, right?

[2020-10-15 21:56] #11646 closed

[2020-10-15 21:59] jrfastab commented on #13558
I reproduced this on gke and appling PR https://github.com/cilium/cilium/pull/13500 resolved it.

[2020-10-15 22:45] #13555 closed

[2020-10-15 22:58] joestringer commented on #13400
Hit in Suite-k8s-1.18.K8sServicesTest Checks service across nodes Tests NodePort BPF Tests with vxlan With host policy Tests NodePort:

https://jenkins.cilium.io/job/Cilium-PR-Ginkgo-Tests-Kernel/3483/testReport/junit/Suite-k8s-1/18/K8sServicesTest_Checks_service_across_nodes_Tests_NodePort_BPF_Tests_with_vxlan_With_host_policy_Tests_NodePort/

[1442c9ce_K8sServicesTest_Checks_service_across_nodes

[2020-10-15 22:59] #13279 closed

[2020-10-15 23:10] #13280 closed

[2020-10-16 02:45] jrfastab commented on #13528
I believe this is fixed here,
https://github.com/cilium/cilium/pull/13500

[2020-10-16 06:35] #13583 closed

[2020-10-16 06:38] #13580 closed

[2020-10-16 07:57] manuelbuil opened #13597 "Inconsistent L7 Network Policy blocking result"
## Bug report
I have an httpbin pod in the default namespace that contains an HTTP server listening on port 80. I expose that server through a  k8s service (named httpbin) listening on port 8000 and with targetport 80. Then, I have two HTTP clients, one, named multitool-default, running in a pod in the default namespace and the other, named multitool-testing, running in a pod in a namespace called

[2020-10-16 10:39] kkourt commented on #12891
So far I've failed to reproduce this after several attempts.

Are logs from other failures other than what @pchaigno  has attached? (@nathanjsweet's  link does not seem to work anymore).

At least on the original logs, the failure seems to be on IPv4 ping that succeeds (but what supposed to fail), which is is the last test (indeed, there is a IPv6 ping before that that failed as expected). Is ther

[2020-10-16 11:08] Rolinh commented on #13311
Here is what I've done:

- Create a 1 node cluster using kubernete's kind
- Install using `quick-install.yaml` + **pprof enabled**, once as is and once with `hubble.enabled=true`.
- Deploy Cilium's connectivity test
- Watch `curl -s http://localhost:6060/debug/pprof/heap?debug=1 | grep "# Sys = " | tr -dc '0-9' | numfmt --to=si` until the value stabilizes. With Hubble enabled, I made sure to wait

[2020-10-16 12:07] pchaigno opened #13599 "Support L7 Host Policies"
The host firewall currently doesn't support L7 rules in host policies. Such rules are [rejected during the validation of policies](https://github.com/cilium/cilium/blob/9d3df3c47d39a123eadd99332c0ebcdbda1732db/pkg/policy/api/rule_validation.go#L76). The main reason is the lack of support in the datapath implementation of the host firewall.

I haven't looked at what is needed exactly, but here's ho

[2020-10-16 12:37] Buffer0x7cd opened #13600 "DSR Not working in AWS Native routing mode"
## Bug report
Hi Team, Currently I am trying to setup Cilium in EKS as a replacement for Kube-Proxy. After the initial setup, I was working on setting DSR in EKS, After the DSR setup I had noticed that the node port services are only working through local nodes (Local nodes are those nodes where the actual backend node is running) and any request to Intermediate Nodes (Nodes where the backend is n

[2020-10-16 13:11] brb commented on #13600
@Buffer0x7cd Can you paste `sysctl net` output from both nodes?

[2020-10-16 13:50] aanm commented on #13096
@alex1989hu I've taken a look at the sysdump and I couldn't find any errors that could explain this. I would double check if you have iptables correctly configured since the only change between environments is Kubernetes versions. If endpoints are unreachable double check the packets at the source and destination nodes.

This PR https://github.com/cilium/cilium/pull/13482 might solve the issue you

[2020-10-16 13:52] aanm commented on #13167
@splushii are things better so far?

[2020-10-16 13:54] alex1989hu commented on #13096
Hello @aanm, thank you. I will check it, do you have ETA for releasing `1.8.5`?

[2020-10-16 13:56] aanm commented on #13211
@vsxen can you provide more info? Thank you.

[2020-10-16 14:14] aanm commented on #13329
This can kind of be solved if people start using Cilium's pod cidr allocator and once this is fixed https://github.com/cilium/cilium/issues/12186

[2020-10-16 14:24] pchaigno commented on #13349
I added the `requires-docs-change` label because we probably need to update the documentation to mention this kernel bug, as per https://github.com/cilium/cilium/pull/13416#discussion_r501858421, to be able to mark this issue as resolved.

[2020-10-16 14:33] tklauser opened #13603 "[RACE detector] data race in pkg/k8s/watchers.(*K8sWatcher).addK8sServiceV1"
[code]

https://jenkins.cilium.io/view/Race%20Detection/job/Ginkgo-CI-Tests-k8s1.19-Pipeline-Race-Detection/11/

[2020-10-16 14:36] aanm commented on #13387
This is a known issue as a workaround you would need to allocate a podCIDR to Cilium that does not conflict with your underlay networking.

[2020-10-16 14:39] tklauser commented on #13603
Looks like the code in question was introduced by #12831 (commit e7bb8a7eadb53cbffd59402954840ec383ea69bd) /cc @aditighag

[2020-10-16 15:30] aanm commented on #13429
@amorenoz thank you for opening the GH issue. Can you try `podpam pull docker.io/cilium/cilium-dev:v1.9.0-rc0`?

@mtrmac does this means that podman does not support images build with docker buildx? https://github.com/cilium/image-tools/blob/master/scripts/build-image.sh#L130

[2020-10-16 15:34] aanm commented on #13502
@andrewrynhard yes, if the configmap is installed by helm then it's assumed the user should not never modify the config map manually afterwards.

[2020-10-16 15:39] aanm commented on #13096
@alex1989hu there isn't an ETA for `1.8.5` at the moment.

[2020-10-16 15:41] aanm commented on #13597
@manuelbuil thanks for opening the GH issue, can you give more information about your environment? Is it running istio?

[2020-10-16 15:41] aanm commented on #13597
cc @jrajahalme

[2020-10-16 15:49] andrewrynhard commented on #13502
@aanm that makes sense. So will helm clobber an existing configmap?

[2020-10-16 16:03] aanm commented on #13502
@andrewrynhard if that configmap was installed by helm, I think so, yes.

[2020-10-16 17:36] #13233 closed

[2020-10-16 18:23] mrostecki commented on #13512
I cannot reproduce that with `kube-proxy-replacement` and `device`. I could reproduce that without `kube-proxy-replace` and `device`. So I agree with @pchaigno.

[2020-10-16 18:30] mrostecki commented on #13254
@joestringer OK, then I agree that such a change is not needed.

@anfernee Maybe it's a good idea just add 1-2 sentences that lack of /sys/fs/bpf is more serious (in this case - it prevents successful quits of cilium-agent) and is mandatory for all clusters, even non-production environments.

[2020-10-16 18:32] joestringer commented on #13254
@anfernee Do you have more specific concerns?

I suspect that "network connectivity disruption" is correct, although in context of the sentence may give the impression of temporary impact rather than ongoing impact. I suspect that this factor varies depending on how Cilium is configured, and was perhaps more true in the past than it is now so it could make sense to broaden the scope with something

[2020-10-16 19:05] pchaigno commented on #13512
Yep, we discussed this offline with André and he actually found the issue by running the development VM with devices set. It's the same bug as fixed in #13591.

[2020-10-16 19:55] joestringer commented on #13344
I agree that Cilium doesn't follow the common etiquette in this regard, in practice we treat `pkg/` as `internal/`.

I think it would be useful to expand on this to be specific. On average, we have attempted to ensure high compatibility for the CRDs as we interact with k8s and I think that's about it.  I think Hubble is starting to motivate real API guarantees since during upgrade the `hubble-rela

[2020-10-16 20:21] pchaigno commented on #13387
The proper fix for this issue would be to somehow tell the underlying CNI to allocate an IP for `cilium_host`. In the meantime, the workaround is as André explained :point_up:

The IP for `cilium_host` is [assigned in `init.sh`](https://github.com/cilium/cilium/blob/fad24e680459f32d3399916d502d892a8a35d90e/bpf/init.sh#L487). That IP is [passed from the node internal IP](https://github.com/cilium/c

[2020-10-17 01:54] vsxen commented on #13211
I am sorry, it works now.
[code]

maybe some dirty config ?

[2020-10-17 01:54] #13211 closed

[2020-10-17 02:08] andrewrynhard commented on #13502
I think the concern brought up by @brb is that if we get the configmap managed by helm, how would that effect current deployments of Cilium? If they had to bring their own configmap, will us having the configmap by default break them?

[2020-10-17 02:34] #12735 closed

[2020-10-17 04:26] gpl commented on #13553
Just for additional information, it looks like the packets get dropped on ingress somehow.  The host itself receives the packets on its interface, but they don't seem to get to the pod.  The packets egress out of the network fine.

[2020-10-17 14:46] youssefazrak commented on #13492
@qmonnet I'm willing to give it a try.
Any pointers? Cheers.

[2020-10-17 15:39] youssefazrak commented on #12250
I'm willing to take this one.
Might ask for help on Slack if needed.

[2020-10-17 18:28] jibi commented on #13492
Hi @youssefazrak :wave:
I am already done with the changes to rework the output, I just need to add some unit tests and fill a PR (hopefully by next week)

[2020-10-17 18:56] youssefazrak commented on #13492
Hi @jibi, cheers thanks for letting me know.

[2020-10-18 01:12] #12750 closed

[2020-10-18 07:32] stuartpb commented on #9898
I'm a little puzzled. What's the status of arm64 support for Cilium? The [Docker tags for `cilium/cilium`](https://hub.docker.com/r/cilium/cilium/tags) only show images available for amd64, even though all the `cilium/cilium-dev` tags are multi-arch (which sounds like the "second phase" of https://github.com/cilium/cilium/issues/9898#issuecomment-616598428).

Is there a timeline for introducing mu

[2020-10-18 10:11] gandalfmagic commented on #13308
Hello,
I found the problem, an it's not Cilium fault.

It seems that in Debian buster, with the latest backported versions of the linux kernels we need to upgrade a lot of packages to make things work.

To avoid problems systemd services (and ansible):

- systemd
- libnss-systemd
- libpam-systemd
- udev
- systemd-timesyncd
- sysv-rc
- initscripts
- insserv
- startpar

To avoid problems with BPF an

[2020-10-18 12:45] timstoop commented on #12913
Unless I'm mistaken, there's currently still no solution to this. Should I just comment every time I notice the ticket getting the stale tag?

[2020-10-18 15:33] chowmean commented on #13474
The resources deleted in CleanupCiliumComponent is not deleting the helpers (preflight)
[code]
Everything else it is taken care of.
@joestringer how should we proceed here?

[2020-10-18 16:52] #12778 closed

[2020-10-18 16:52] #12776 closed

[2020-10-18 18:48] asannes opened #13611 "helm: 1.9.0rc1 hubble.ui.ingress and k8s 1.19 not working together"
## Bug report

**General Information**

- Cilium 1.9.0rc1
- 5.4.0
- kubeadm 1.19.3

**How to reproduce the issue**

1.Create cilium-values.yaml file with the following:
[code]
2. Run:
[code]
Get:
Error: UPGRADE FAILED: error validating "": error validating data: [ValidationError(Ingress.spec.rules[0].http.paths[0].backend): unknown field "serviceName" in io.k8s.api.networking.v1.IngressBackend, Va

[2020-10-19 00:40] gandalfmagic commented on #13308
**UPDATE**: my bad, the working solution was still on Kubernetes v1.17.13 with Cilium 1.8.4
Kubernetes 1.18.10 with Cilium 1.8.4 is still not working.

I've tested my cluster with cilium installed from kubespray with ansible and from the officil helm charts. No luck.

Thank you

[2020-10-19 06:27] manuelbuil commented on #13597
No, I am not running Istio

[2020-10-19 07:08] pchaigno commented on #13430
@jrfastab Does #13500 address this issue as well?

[2020-10-19 07:16] oblazek commented on #13433
I totally agree with you guys, I am thinking there could be 2 modes how cilium-openstack plugin could work. The first one (which I am working on now) could be the simple one, which would work as a "bridge" between openstack and cilium. In this mode this plugin would just create/update/delete cilium endpoint with instance metadata labels and project name so that endpoint identity can be easily gene

[2020-10-19 07:27] brb commented on #13329
@aanm Not sure whether I'm following you, but we need to know a ClusterIP cidr, not a pod cidr.

[2020-10-19 07:59] amorenoz commented on #13429
@aanm, `cilium-dev:v1.9.0-rc0` works fine.

Following the initial hypothesis that suggests that the problem may be related to the mixed mediatypes, I see a strong correlation when looking at all the available `startup-scrip` images:

Image inspection script: https://gist.github.com/amorenoz/9776cf139e2f112177cc522a508b5c8f

[code]

[2020-10-19 08:03] Rolinh commented on #12909
This was addressed in #13563.

[2020-10-19 08:03] #12909 closed

[2020-10-19 08:25] youssefazrak commented on #13611
I will take care of this one.

[2020-10-19 08:27] #13398 closed

[2020-10-19 08:29] #13512 closed

[2020-10-19 08:52] #13528 closed

[2020-10-19 09:18] aanm commented on #13329
@brb oh you are right, I thought it was pod-cidr.

[2020-10-19 09:33] aanm opened #13614 "v1.9.0-rc2 release"
## Pre-release

- [x] Create a [new project] for the next release version
- [x] Add build targets for the new release on [Docker Hub]
  - All versions:
    - [cilium](https://hub.docker.com/repository/docker/cilium/cilium/builds/edit)
    - [operator](https://hub.docker.com/repository/docker/cilium/operator/builds/edit)
    - [docker-plugin](https://hub.docker.com/repository/docker/cilium/docker-p

[2020-10-19 09:54] reneluria opened #13615 "kubernetes network policy lead to incorrect packet classification with k3s"
## Bug report

**description**

with k3s:

with a cilium network policy, the packet is classified as `remote ID 1`

with a kubernetes network policy, the packet is classified as `remote ID 2`
leading to a packet drop

**General Information**

- Cilium version 1.8.4
- Kernel version 4.19.0-11-cloud-amd64
- Orchestration system version in use k3s (v1.18.9+k3s1)
- Generate and upload a system zip:
[c

[2020-10-19 10:41] gandro commented on #13344
This is a very important point: **External client will not be able to import any `github.com/cilium/cilium/internal` packages anymore.** `internal/` is a name with a special meaning in Go that permits imports from outside of the source tree: https://golang.org/doc/go1.4#internalpackages

Therefore I do share many of the concerns @joestringer laid out. There are projects that include Cilium package

[2020-10-19 10:46] splushii commented on #13167
Yes, no problems! Thanks!

[2020-10-19 11:46] tklauser opened #13619 "[RACE detector] data race in pkg/azure/types.(*AzureInterface).DeepCopyInto()"
[code]

https://travis-ci.com/github/cilium/cilium/jobs/401901441

/cc @aanm @christarazi

[2020-10-19 11:52] gandro opened #13621 "Hubble certloader stops picking up new certificates"
## Bug report

**How to reproduce the issue**

1. Install Hubble Server/Relay with mTLS enabled and the helm-generated certificates, e.g. `helm install cilium ./cilium    --namespace kube-system --set hubble.listenAddress=":4244" --set hubble.relay.enabled=true`
2. Run `helm upgrade --reuse-values`. This will renew the certificates as expected (e.g. `level=info msg="Certificate authority updated"

[2020-10-19 12:36] #13243 closed

[2020-10-19 14:52] b3a-dev opened #13627 "Validate guides for 1.9 release"
- **Managed k8s**
  - [x] [EKS](https://docs.cilium.io/en/v1.9.0-rc2/gettingstarted/k8s-install-eks/) (@nathanjsweet )
  - [x] [GKE](https://docs.cilium.io/en/v1.9.0-rc2/gettingstarted/k8s-install-gke/) (@ti-mo ) ~#13645~
  - [x] [AKS](https://docs.cilium.io/en/v1.9.0-rc2/gettingstarted/k8s-install-aks/) (@twpayne ) ~#13632~

- **Self-managed**
  - [x] [Quick-install](https://docs.cilium.io/en/v1.

[2020-10-19 15:20] joestringer commented on #13430
We believe this was already fixed by https://github.com/cilium/cilium/pull/13500 , if you see it again then reopen.

[2020-10-19 15:20] #13430 closed

[2020-10-19 15:24] #13614 closed

[2020-10-19 15:32] christarazi commented on #8775
Seen in https://github.com/cilium/cilium/pull/13595. Reopening.

[2020-10-19 15:37] christarazi commented on #13619
I'll take this up.

[2020-10-19 16:09] jrajahalme commented on #13265
@aanm This is due to the AggregatedSelectors field being written by rule Sanitization while the CNP is already in the local cache, but before the policy is added to the repository. In my analysis your commit (https://github.com/cilium/cilium/commit/0d5639a1c46764e8a70f426e14ce0e9e07f138bd) was motivated by this, so I wonder why the race detector would still see this? After this commit the sanitiza

[2020-10-19 16:10] aanm commented on #13615
@reneluria thanks for opening the GH issue, can you paste a sysdump with the k8s network policy deployed and another sysdump with Cilium Network Policy deployed?

[2020-10-19 16:34] aanm commented on #13265
This might have been fixed by https://github.com/cilium/cilium/pull/13471

[2020-10-19 16:34] #13265 closed

[2020-10-19 17:47] glibsm opened #13631 "Unable to update ipcache map entry on pod add"
While looking through the cilium logs after adding a pod on local minikube I spotted the following warning:

[code]

[code]

[code]

Briefly speaking with @aanm he suggested a ticket assigned to @aditighag. (tread; https://cilium.slack.com/archives/C2B917YHE/p1603128830308400)

[2020-10-19 18:16] reneluria commented on #13615
@aanm of course, here you have:

[sysdump-kubernetes-networkpolicy.zip](https://github.com/cilium/cilium/files/5403895/sysdump-kubernetes-networkpolicy.zip)
[sysdump-ciliumnetworkpolicy.zip](https://github.com/cilium/cilium/files/5403896/sysdump-ciliumnetworkpolicy.zip)

[2020-10-19 19:34] joestringer commented on #13474
@chowmean For the preflight, that deployment should be unique for the updates.go test so I think it'd make sense for that code to remain inside `removeCilium()`. For the rest, I wonder if `removeCilium()` could call `CleanupCiliumComponents()` instead of individually deleting specific resources here.

[2020-10-19 20:08] joestringer commented on #11788
One slightly better approach is to build the RTD docs for the v1.X.0-rcY tag instead of the branch, then it shows up like this:

![image](https://user-images.githubusercontent.com/1243336/96506253-2b485400-120c-11eb-8cb2-2bca8541eba8.png)

At least this way it's clear that the newer docs are not for an official release.

[2020-10-19 20:09] joestringer commented on #13627
FYI I have disabled the "v1.9" branch docs for now in favor of the "v1.9.0-rc2" docs. Please follow the docs from here:

https://docs.cilium.io/en/v1.9.0-rc2/

[2020-10-19 21:19] nathanjsweet commented on #12891
Here is a diff between the policy import command for master and v1.8
[code]

[2020-10-20 00:17] joestringer commented on #13599
Note, this could get a bit complicated because the original outbound connection from the original application and the connection from the proxy both originate from the same network namespace, which is different compared to the standard pod -> proxy -> out path.

I would highly suggest extending the `examples/kubernetes/connectivity-check/` definitions to add a new set of pods that perform requests

[2020-10-20 07:18] borkmann opened #13637 "bpf, kernel: check verifier issue on sock lb for v4-in-v6"
Investigate the bpf sock one reported by Aditi:
[code]

[2020-10-20 08:12] Buffer0x7cd commented on #13600
Hi @brb. Please find
[local_node.txt](https://github.com/cilium/cilium/files/5407253/local_node.txt)
[intermediate_node.txt](https://github.com/cilium/cilium/files/5407255/intermediate_node.txt)

 the attached output of `sysctl net` from both sides.

[2020-10-20 08:52] aanm commented on #13400
Hit in https://github.com/cilium/cilium/pull/13592

[2020-10-20 08:54] brb commented on #13600
Discussed offline - the src/dst IP check was enabled which made the packets to be dropped.

[2020-10-20 08:54] #13600 closed

[2020-10-20 09:10] #13603 closed

[2020-10-20 09:14] #13251 closed

[2020-10-20 09:20] brb commented on #13502
My concern was what if we create the empty ConfigMap when `--set global.ipMasqAgent.enabled=true` is set and a user has previously installed the same ConfigMap with some values. Does helm prevent the latter from being overridden by the former?

[2020-10-20 09:33] nebril opened #13641 "CI: k8s upstream tests failing in session affinity test cases"
Example failures:
https://jenkins.cilium.io/job/cilium-master-K8s-Upstream/485/execution/node/67/log/
https://jenkins.cilium.io/job/cilium-master-K8s-Upstream/484
https://jenkins.cilium.io/job/cilium-master-K8s-Upstream/483

https://github.com/cilium/cilium/pull/13480 was supposed to help here, but the test still failed: https://jenkins.cilium.io/job/Cilium-PR-Kubernetes-Upstream/2601/

[2020-10-20 09:38] twpayne commented on #13181
Hit here: https://travis-ci.com/github/cilium/cilium/jobs/402393211

Full [log.zip](https://github.com/cilium/cilium/files/5407826/log.zip).

[2020-10-20 09:41] brb commented on #13641
A few datapoints - it seems to be a new test. Also, it's worth checking whether the affinity was indeed enabled by #13480.

[2020-10-20 10:02] aanm commented on #13615
@reneluria thanks for the `.zip`, in the monitor output to what does the IP address `10.103.98.54` belong to?

[2020-10-20 11:02] reneluria commented on #13615
the monitor output is from a previous run
when you asked about sysdump, I recreated a VM and a cluster following the same procedure

the monitor output here looks like

[code]

where 10.111.17.179 is the ip address of the node itself for the interface cilium_host@cilium_net and 10.111.86.65 the ip address of the pod

[2020-10-20 13:35] ti-mo commented on #13627
GKE instructions seem solid, everything works as expected. Addresses some nits in https://github.com/cilium/cilium/pull/13645.

(I can't update the issue description..)

[2020-10-20 14:11] borkmann commented on #13331
Follow-ups in https://github.com/cilium/cilium/pull/13646

[2020-10-20 16:16] #12923 closed

[2020-10-20 16:52] alexminder opened #13649 "Kafka ACL resources enhacement"
## Proposal / RFE

**Is your feature request related to a problem?**

- Kafka support ACL for `topic`, `cluster`, `consumer-group`. From cilium documentation I see support only for the first resource.
- Kafka ACL support pattern resource name matching. As I understand, cilium support only `literal` pattern (exact same name).
- Kafka ACL support transactional producer

**Describe the solution you'd

[2020-10-20 16:56] joestringer opened #13650 "ARM regressions in v1.9.0-rc2"
Nick on Slack reports with v1.9.0-rc2:

* [x] `disable-envoy-version-check` is necessary for ARM platform, but it is no longer present in the Helm charts (I had mistakenly thought it is no longer necessary, we need to re-add it)
  * Cilium startup fails if this option is not specified, due to missing cilium-envoy binary
* [x] `cilium-map-migrate` in ARM image is built for the wrong architecture

[2020-10-20 17:15] asannes commented on #13269
I would expect it to use 10.10.10.10 or 10.10.11.x, whichever gateway is closer to the container connecting out and available. For me the reason to have several ips is the possibility to have redundancy in the case that cilium is not handling those ips (moving them around as necessary), just pointing at available egress nodes.

Say that all of the ips are available, then I guess there is no limit

[2020-10-20 17:34] aditighag commented on #13040
@Weil0ng Can we close this issue?

[2020-10-20 17:39] michi-covalent commented on #13627
having trouble running `openshift-install`:
[code]
- i found https://github.com/openshift/installer/issues/4232 from @errordeveloper , which kind of seems related, but not sure what the fix was.
- also https://docs.cilium.io/en/v1.9.0-rc2/gettingstarted/k8s-install-openshift-okd/#k8s-install-openshift-okd  uses `GOOGLE_APPLICATION_CREDENTIALS` instead of `GOOGLE_CREDENTIALS`. are they both suppose

[2020-10-20 17:43] aditighag commented on #13627
@nebril Please hold off on testing the Local Redirect Policy guide until #13543 is merged.

[2020-10-20 17:43] christarazi commented on #13282
Fixed by https://github.com/cilium/cilium/pull/13574

[2020-10-20 17:43] #13282 closed

[2020-10-20 18:05] aditighag commented on #13130
Current state -

- With #13346, when endpoint routes are enabled, because of tunneling based symmetric routing rp_filter shouldn't be seen.
- PR #13234 already fixed this issue on EKS environments.

Since I originally opened this issue for EKS environment, I'm not sure where else in the current code we need to set the filter to the loose mode.

[2020-10-20 18:11] gpl commented on #13553
We're seeing this issue on 1.9 rc2 as well.

The packets start being dropped on ingress a while after the cilium containers restart, so something on cilium's startup seems to take down networking -- but I'm unable to track down exactly what it is.

[2020-10-20 18:12] joestringer commented on #13130
@aditighag Sounds like the original bug as reported is fixed, that's usually enough to close out.

That said it sounds like there's some concern the bug may still be present in some form in some configurations - Do you have a particular case in mind for that?

[2020-10-20 18:19] aditighag commented on #13130
I would imagine this issue to be present due to asymmetric routing wherever `rp_filter` is set to the strict mode in non-EKS environments as well clusters where endpoint routes are not enabled by default in >= v1.9.

[2020-10-20 18:28] joestringer commented on #13130
In `Loader.Reinitialize()` we already do this don't we?

[code]

https://github.com/cilium/cilium/blob/992c321178f1330e3dd1f987cea43a130e3e3417/pkg/datapath/loader/base.go#L185

[2020-10-20 22:25] aditighag commented on #13130
Yes, I also did a search for `rp_filter`, and found some places where we set it. I'm not familiar with this code paths though. But if this were the case, why would see the issue on EKS?

[2020-10-21 00:38] joestringer commented on #13130
Good questions, I don't understand why this would not mitigate the issue on EKS. We would need to investigate further to find out.

That said, this issue was filed with EKS in mind and that was why we marked it as release-blocker (to follow up & make sure that case is resolved). As far as the release-blocker label is concerned, per your report above it sounds like that is resolved so I'll drop the

[2020-10-21 00:40] nathanjsweet commented on #13627
EKS is looking good.

[2020-10-21 01:06] christarazi opened #13658 "Use consistent structured log during endpoint-delete and endpoint-create"
[EP create](https://github.com/cilium/cilium/blob/85dea57961a0b2b7a1291eabc7dc79682c966b79/pkg/endpoint/manager.go#L74):

[code]

vs

[EP delete](https://github.com/cilium/cilium/blob/85dea57961a0b2b7a1291eabc7dc79682c966b79/daemon/cmd/endpoint.go#L696):

[code]

The container ID field is not consistent which makes searching for corresponding deletes or creates based on container ID needlessly dif

[2020-10-21 01:08] YesemKebede commented on #13240
@aanm Thank you! for adding the fix. Is the fix backported to v1.8.4?

[2020-10-21 06:55] jaffcheng commented on #13412
Hi @John-Moya ! We are facing the same issue and in our case, it's due to cilium-operator releases and unassigns the pod IP at the same time the pod IP is allocated to a new pod. Have you enabled the operator flag `aws-release-excess-ips`?

[2020-10-21 08:07] kkourt commented on #13627
Some issues with transparent encryption:

### Failure to autodetect interface

Using:
[code]

Failed.

The problem seemed to be with cilium guess the interface wrong:
[code]

There was no `eth0` interface on the machine, and specifying the interface  `--set encryption.interface=ens4` seems to solve the issue.

The guide states the following:

Which might be interpreted so that it means that the in

[2020-10-21 08:13] qmonnet commented on #12467
Checkpatch is now packaged as an external container image, and the script has been removed from Cilium's repository.

Follow-ups include:

- [ ] Adding some error types to the ignore-list (namely, thinking of `NO_AUTHOR_SIGN_OFF`).
- [ ] Adding a way to pass the `--fix-inplace` option to the script (or possibly to pass all options after a `--` delimiter from shell script to `checkpatch.pl`).
- [ ]

[2020-10-21 08:13] pchaigno commented on #13627
@kkourt Could you open dedicated issues for:

and

[2020-10-21 08:19] aanm commented on #13240
@YesemKebede no, it will be part of v1.8.5. However, you can already test this if you use the image `docker.io/cilium/cilium-operator:v1.8` since it only affects the operator and that docker tag already contains the changes.

[2020-10-21 08:27] #13631 closed

[2020-10-21 08:33] kkourt opened #13662 "transparent encryption: interface detection"
Using:
[code]

fails due to cilium guessing the interface wrong:
[code]

There was no `eth0` interface on the machine, and specifying the interface  `--set encryption.interface=ens4` seems to solve the issue.

The guide states the following:

Which might be interpreted so that it means that the interface can only be set when using direct routing.
An attempt to clarify this can be found in: https:/

[2020-10-21 08:36] kkourt opened #13663 "transparent encryption: setting nodEncryption=true results in nodes being unreachable"
Following the encryption guide with:
[code]

results in nodes being unreachable.

[2020-10-21 08:37] kkourt commented on #13627
Sure.

https://github.com/cilium/cilium/issues/13662

https://github.com/cilium/cilium/issues/13663

[2020-10-21 08:44] pchaigno commented on #13662
That's very surprising to me; it would mean we have code somewhere that hardcodes `eth0`. The detection happens here: https://github.com/cilium/cilium/blob/6fbcdae324807c66ded389bf44b22cde48ad25ad/daemon/cmd/daemon_main.go#L1183

On what machine were you running those tests (some cloud or locally)? Did you check the routes and whether there were any reference to a `eth0` interface in there?

[2020-10-21 08:50] kkourt commented on #13662
This was on Google Cloud VMs.

[code]

[2020-10-21 08:52] cortopy commented on #11672
@aditighag sorry the delay. It was a cluster IP.

I've moved on to a different CNI as cilium was giving me other issues and I can't try the L3-L4 rules

[2020-10-21 08:54] kkourt commented on #13662
This looks like the culprint:
https://github.com/cilium/cilium/blob/2ad3fe93d4cf85664ecebb00646d1e1332d4baf3/install/kubernetes/cilium/values.yaml#L355

[2020-10-21 11:07] craigbryson commented on #13558
Fixed in https://github.com/cilium/cilium/pull/13500 - confirmed working with v1.9.0-rc2

[2020-10-21 11:07] #13558 closed

[2020-10-21 12:49] Rolinh commented on #13627
The quick install guide is fine. While validating it, I noticed that we sometimes refer to slack by using `Slack channel`, which leads to [the glossary page](https://docs.cilium.io/en/v1.9.0-rc2/glossary/#term-slack-channel) when clicked (note: it's not really obvious that the element is clickable) and sometimes by providing a link with anchor to [the help page](https://docs.cilium.io/en/v1.9.0-rc

[2020-10-21 13:10] nebril commented on #13627
Got some CRD and Ingress api version deprecation  warnings when running `./cilium-istioctl manifest apply -y` , looks like istio deployed correctly, but process exited with an error:
[code]

I think this is fine, but wanted to put this out there.

As a side note, `minikube start` uses `docker` backend by default, do we want to add `virtualbox` backend option to the docs? I had some issues with ima

[2020-10-21 14:49] brb commented on #13130
I'd suggest to close the issue after we have validated that #13234 resolved the issue when running kube-proxy-free on EKS, as #13234 was mainly created because of NodePort being broken when running with kube-proxy, and probably didn't have the kube-proxy-free mode in mind.

[2020-10-21 16:45] pchaigno opened #13672 "CI: GKE: Nil pointer dereference in GetAllPods"
i'm getting a `nil pointer dereference` panic on GKE (though maybe not specific to GKE) at https://jenkins.cilium.io/job/Cilium-PR-K8s-GKE/2895/consoleFull.
[code]

[2020-10-21 17:30] pchaigno commented on #13627
I was able to validate the kube-proxy-free guide until the advanced section works as expected. I'm planning to send a PR with a couple nits and a few bigger changes as RFC. I'll try to go over the advanced sections before the end of the week.

[2020-10-21 17:31] pchaigno commented on #13662
Sounds like this should be unspecified by default to ensure device detection kicks in. @kkourt Could you send a PR to that effect?

[2020-10-21 17:37] qmonnet opened #13676 "Host Firewall: Attaching a label to a node before deploying Cilium breaks the host firewall"
## Bug report

When trying to deploy the host firewall, attaching a label to the node _before_ deploying Cilium makes the agent unable to pick up the label and deploy the host policy correctly.

While the issue was observed with the host firewall, the fact that the label is not displayed in `cilium endpoint list` may not be specific to this feature.

**General Information**

- Cilium version: v1.9

[2020-10-21 18:29] aanm opened #13678 "Decrease cardinality in failing prometheus metrics"
[code]

It seems the subsystem is being used as a prometheus label which causes a high cardinality in the prometheus metrics.

[2020-10-21 18:31] aanm opened #13679 "Correlate Kubernetes events with CNI events"
We can correlate Kubernetes pod events with CNI events and derive the latency for the Kubernetes watchers. For each node.

[2020-10-21 18:59] christarazi opened #13680 "Goroutine leak when waiting on endpoint's metadata resolver to terminate"
When an endpoint is created, Cilium will kick off an async controller to fetch the pod labels. If Cilium is never able to fetch the pods labels, the controller will continue retrying forever, _even_ after the endpoint was deleted. This is because the following goroutine is stuck waiting on the `done` channel, which is never closed due to a persistently failing controller.

[code]

This can leave s

[2020-10-21 20:20] joestringer commented on #13040
As far as I understand, most of this issue is mitigated by running node-local DNS inside a regular pod (*not* hostNetwork), then there's just one remaining issue with node-local DNS when running Cilium in endpoint-routes mode which @Weil0ng is still investigating.

[2020-10-21 21:07] Weil0ng commented on #13040
The missing NOTRACK rules won't affect the functionality of node-local-dns, I guess we can close this issue and maybe track that as a separate issue/optimization if that's prefered.

[2020-10-21 21:07] aditighag commented on #13040
Sorry, I didn't mean to close the issue. I was just replying to Joe's comment saying that there is no such issue as such. @Weil0ng can comment more.

[2020-10-21 21:20] Weil0ng commented on #13040
The core functionality is in place now, let's close this one and I'll open a new issue to track the NOTRACK rule optimization.

[2020-10-21 21:20] #13040 closed

[2020-10-21 22:25] tklauser commented on #13627
XDP NodePort successfully validated on Azure AKS using the changes in #13685:

<details>

[code]
</details>

[2020-10-21 22:53] Weil0ng opened #13686 "NOTRACK rules for node-local-dns"
We need to manage the NOTRACK iptable rules nodelocalDSN handles when it's deployed in root ns, because with Cilium, nodelocalDNS will be deployed in pod ns and cannot program root ns iptables. Cilium-agent seems like a good actor for this.

[2020-10-21 22:55] joestringer opened #13687 "Support configuring the FQDN GC interval / Zombie timeout"
This line defines the FQDN GC interval:

https://github.com/cilium/cilium/blob/351a3764299a8466ea45c9fc05a0dfc525ce2f68/daemon/cmd/fqdn.go#L162

Which is subsequently used to determine the timeout for "zombie" FQDN mappings:

https://github.com/cilium/cilium/blob/351a3764299a8466ea45c9fc05a0dfc525ce2f68/daemon/cmd/fqdn.go#L170-L175

This determines how long that connections should be idle for afte

[2020-10-22 00:24] #13662 closed

[2020-10-22 02:01] joestringer commented on #6728
Hit again:

https://jenkins.cilium.io/job/Cilium-PR-K8s-1.17-kernel-4.19/17/

[e887b1d1_K8sHealthTest_checks_cilium-health_status_between_nodes.zip](https://github.com/cilium/cilium/files/5419577/e887b1d1_K8sHealthTest_checks_cilium-health_status_between_nodes.zip)

[2020-10-22 02:04] charles-woshicai commented on #13308
Hello, I have got the same issue too, is there any update?

[2020-10-22 04:06] #12700 closed

[2020-10-22 04:06] #12777 closed

[2020-10-22 04:06] #12820 closed

[2020-10-22 04:46] #13680 closed

[2020-10-22 06:10] joestringer commented on #13308
From @charles-woshicai on Slack:

K8S version: v1.18.9
distro: Debian GNU/Linux 10 (buster)
Linux kernel version: 5.4.0-4-cloud-amd64
cilium version: v1.8 (it's installed by gardener, I don't know how to get this version)

[2020-10-22 06:19] joestringer commented on #13308
Thanks @gandalfmagic @charles-woshicai for the additional reports. These seem to indicate an issue specifically with k8s 1.18, though I can't think of what it could be just yet. We regularly test Cilium against k8s 1.18 and the CI is not picking up on any issue like this.

I haven't had a chance to dig further into this just yet but I will be sure to update the thread if I find anything out.

[2020-10-22 06:36] joestringer commented on #13308
Something else I just noticed which may be quite relevant is that I see in the description `enable_nodelocaldns: true`. I'm not exactly sure what node-local-DNS will do in this scenario but it's plausible that this is somehow related to the failure.

[2020-10-22 08:30] brb commented on #13686
@Weil0ng For those who didn't attend the yesterday's sig-datapath, could you add the motivation for the NOTRACK rules in the issue description?

[2020-10-22 09:02] splushii commented on #13167
@aanm Unfortunately I think I was to fast on the trigger. But fortunately it's clear why I missed it and the factor that triggers these symptoms.

From a sample of 4 (GKE) clusters there are 2 using preemptible node pools, and 2 using non-preemptible node pools. All running Cilium `1.8.4`.

1. Using preemptible node pools:
  - 30/42 IP mismatches
  - 13/26 IP mismatches
2. Using non-preemptible no

[2020-10-22 10:13] jibi commented on #13627
Docker guide successfully validated :heavy_check_mark: (I don't seem to be able to update the issue)
Just a couple of small nits addressed here https://github.com/cilium/cilium/pull/13695

[2020-10-22 14:38] hikhvar opened #13701 "cilium-operator does not use IAM Role for ServiceAccounts to access AWS API"
## Bug report

We deploy our clusters with eksctl 0.30. Since ekstl 0.28 the nodes do not get the Policy `arn:aws:iam::aws:policy/AmazonEKS_CNI_Policy ` attached. Therefore we want to use an [IAM Role for ServiceAccounts](https://docs.aws.amazon.com/eks/latest/userguide/iam-roles-for-service-accounts.html). However, the cilium-operator seem to ignore this instance role since our logs of the cilium

[2020-10-22 15:36] gandalfmagic commented on #13308
I found that maybe is not a DNS issue only. Also the `toServices` rules have problems.

I use service with customized endpoints to regulate the traffic to external services, for example:

[code]

Then I use a `toServices` rule to permit the traffic from the application to the service:

[code]

In Kubernetes 1.18, this rule fails the same way of the DNS resolution.

[2020-10-22 16:18] aanm commented on #13302
This is already fixed in 1.8 >= https://github.com/cilium/cilium/pull/12313

[2020-10-22 16:18] #13302 closed

[2020-10-22 16:27] #13156 closed

[2020-10-22 16:40] aanm commented on #13167
@splushii there were some more fixes backported to the 1.8. If you can, please try the `docker.io/cilium/cilium-operator:v1.8` image until we release 1.8.5 to see if the problem is fixed.

[2020-10-22 16:41] mrostecki commented on #13650
I will push a fix for the 2nd point (`cilium-map-migrate` not being cross-compiled) soon.

[2020-10-22 16:48] joestringer opened #13706 "Extend troubleshooting docs for basic kube-proxy replacement troubleshooting"
Example Slack query:

The [Troubleshooting Guide](https://docs.cilium.io/en/latest/operations/troubleshooting/) doesn't seem to have any mention of kube-proxy or kube-proxy free right now.

Common initial steps:
* Run `cilium status` to confirm that kube-proxy is enabled and active
  * What do we actually need to see here?
* Which kernel version?
  * Possible limitations based on which kernel is r

[2020-10-22 16:50] #13678 closed

[2020-10-22 17:06] errordeveloper commented on #13627
@michi-covalent I'll follow-up with you on slack

[2020-10-22 19:23] joestringer opened #13712 "v1.9.0 release tracker"
* [x] Feature freeze
* [x] Merge feature freeze exceptions
* [x] Evaluate which [release blockers] we intend to address in release timeframe
* [x] Branch for release
* [x] Tag a release candidate and provide docs branch for GSG testing ([v1.9.0-rc2])
* [x] Validate the getting started guides (#13627)
* [x] Complete all [release blockers]
* [x] Ensure that [v1.9 CI jobs] are stable
* [x] Prepare re

[2020-10-22 21:25] jrajahalme commented on #12113
Still having some connectivity issues. Had to restart unmanaged pods twice to get `kubectl exec` to cilium pods working. That seemed to fix the `pod-to-external-fqdn-allow-google-cnp` fail (either no connectivity to DNS, or DNS fail). Remaining issues with `pod-to-a-allowed-cnp` (verified no policy drops, SYN/ACK never gets back to the source pod) and `pod-to-b-multi-node-headless` (no policy enfo

[2020-10-22 21:53] michi-covalent commented on #13627
@errordeveloper thanks for your help, i managed to create an openshift cluster 💯 . a couple of notes:

- probably better to use `GOOGLE_CREDENTIALS` instead of `GOOGLE_APPLICATION_CREDENTIALS`. with `GOOGLE_CREDENTIALS`, i see an info log like this:
[code]
it doesn't show up if i use `GOOGLE_APPLICATION_CREDENTIALS`.
- another link i found useful for configuring gcp service account is https://gith

[2020-10-22 21:58] joestringer commented on #13552
Hit during K8sBandwidthTest Checks Bandwidth Rate-Limiting test: in #13691:

https://jenkins.cilium.io/job/Cilium-PR-Ginkgo-Tests-Kernel/3558/testReport/Suite-k8s-1/18/K8sBandwidthTest_Checks_Bandwidth_Rate_Limiting/

[2020-10-23 00:48] michi-covalent commented on #13627
opened https://github.com/cilium/cilium/pull/13713 for some minor modifications for openshift gsg. well done @errordeveloper i don't know how you figured out all these steps 💯 🚀

[2020-10-23 02:34] charles-woshicai commented on #13308
Well, in my view it is the issue of `eBPF`, aftr applying `ciliumNetworkPolicy`, the DNS package is denied by `eBPF`. I couldn't find the log of `eBPF` so it's just my guess.
Here is the command output in the pod created via `kubectl debug` which in the same linux network namespace.
[code]

[2020-10-23 05:11] christarazi opened #13715 "v1.7.11 release"
## Pre-release

- [x] Create a [new project] for the next release version
    - v1.7.11: https://github.com/cilium/cilium/projects/129
    - v1.7.12: https://github.com/cilium/cilium/projects/133
- [x] Add build targets for the new release on [Docker Hub]
  - All versions:
    - [cilium](https://hub.docker.com/repository/docker/cilium/cilium/builds/edit)
    - [operator](https://hub.docker.com/rep

[2020-10-23 06:12] John-Moya commented on #13412
@jaffcheng I will test and post an update as soon as possible 👍

[2020-10-23 06:27] charles-woshicai commented on #13308
@gandalfmagic I have some progress about this issue, thanks for the help from @joestringer .

Firstly run `cilium monitor -t drop`  inside the cilium container which is in the same node with your pod, and run `dig google.com`, here is the monitor output:
[code]

And I find `100.96.3.61:8053` is the the `endpoint` of `kube-dns` ep, which is strange.
[code]
I try to edit the egress rule as below and

[2020-10-23 07:21] sayboras commented on #13577
Sorry for late reply. I recently refresh linux box I got, so it's clean clone with master only. It's weird that I got one issue with google fqdn check now :thinking:. This could be something with my local dns setup, but other tests are working fine.

[code]

[2020-10-23 08:54] splushii commented on #13167
@aanm Using `cilium/operator-generic:v1.8` in one of the clusters with preemptible node pools.

It didn't garbage collect the mismatches. I manually restarted workloads to force all IP:s to match again. Let's see if they stay correct.

Logs from the `cilium-operator` attached.
[dev-operator-1.8-logs-2020-10-23.txt](https://github.com/cilium/cilium/files/5428405/dev-operator-1.8-logs-2020-10-23.txt

[2020-10-23 08:58] #13254 closed

[2020-10-23 09:34] #13679 closed

[2020-10-23 10:03] #13326 closed

[2020-10-23 11:57] zhujik opened #13722 "Hubble dashboard shows no data - metrics do not match"
The hubble dashboard contained in this repository does not work for all hubble exported metrics, or it should describe how hubble metrics should be configured for all panels to work. The labels in the dashboad queries do not match the metrics provided by hubble.

![image](https://user-images.githubusercontent.com/31599908/97000802-91e4af00-1537-11eb-9eac-229be637c53e.png)

[2020-10-23 12:55] splushii commented on #13167
Didn't work I'm afraid. There are now 19/43 IP mismatches.

Are you able to reproduce this?

Also, would `--disable-endpoint-crd` help in this situation or would it do more harm?

[2020-10-23 13:34] errordeveloper commented on #13429
@amorenoz thanks for reporting this! I think this is basically the effect of a bug in buildkit (https://github.com/docker/buildx/issues/300) that we've discovered when we were trying to enable mirroring the image to quay as well as Docker Hub. It's been fix in latest version of BuildKit, and we have a work-around for it as well (https://github.com/cilium/image-tools/pull/59).

We believe that most

[2020-10-23 15:16] brb opened #13732 "datapath: Decoule BPF-masq from NodePort BPF"
Currently, the BPF-masq implementation depends on NodePort BPF. This means that any interface which is used for masquerading exposes NodePort/LoadBalancer/etc services to outside. Such behavior might be unwanted due to e.g. security concerns.

Unfortunately, until https://github.com/cilium/cilium/issues/12508 has been resolved, we don't have any means to disable this behavior. In addition, running

[2020-10-23 16:05] joestringer commented on #10256
Another option we have is also to perform a `bpf()` syscall and fail out specifically if that fails. That would provide more reliable signal that CONFIG_BPF is not enabled.

[2020-10-23 18:25] christarazi opened #13735 "v1.8.5 release"
## Pre-release

- [x] Create a [new project] for the next release version
  - v1.8.5: https://github.com/cilium/cilium/projects/130
  - v1.8.6: https://github.com/cilium/cilium/projects/134
- [x] Add build targets for the new release on [Docker Hub]
  - All versions:
    - [cilium](https://hub.docker.com/repository/docker/cilium/cilium/builds/edit)
    - [operator](https://hub.docker.com/repositor

[2020-10-23 20:34] nebril opened #13736 "Panic when going through LRP gsg"
on step "If you see an error like “request blocked by whitelist-route-regexp” while running requests to the metadata server, then you may need to whitelist the metadata requests by passing the below argument to the kiam-agent Deamonset." I misconfigured kiam and caused it to crash. this somehow triggered Cilium to crash.

logs from failing pods are here:
[panic.log](https://github.com/cilium/ciliu

[2020-10-23 20:50] michi-covalent commented on #13311
validated the updated doc. thanks @Rolinh 👍

[2020-10-23 20:50] #13311 closed

[2020-10-23 20:59] John-Moya commented on #13412
The issues is still present using the recommended flag on the operator `aws-release-excess-ips`, our configuration is the following

- EKS cluster
- Instance Type m5.xlarge
- Kubernetes Version 1.16
- Cilium 1.8.3
- CRD backed IPAM

Reproduction Steps

1. Deploy this file into the cluster
[code]
2. Then run this script and keep it running

[code]
3. Grep the cilium operator pods for `Unable to mai

[2020-10-23 21:23] zhujik opened #13738 "hubble http metrics not being served"
## Bug report

hubble metric server does not provide http metrics, but the option is set. This happens on 3 different installations (= clusters) the same.

**General Information**

- Cilium version 1.8,4
- Orchestration system version in use k8s 1.18 (AWS EKS)

cilium pod log:
[code]

**How to reproduce the issue**

1. set hubble metrics
[code]
2. port-forward to cilium pod metrics endpoint:
[code

[2020-10-23 22:52] nathanjsweet opened #13740 "Documentation: cluster mesh guide for inter-regional deployments missing key details"
The [cluster mesh guide](https://docs.cilium.io/en/v1.9.0-rc2/gettingstarted/clustermesh/) does not specifically prohibit inter-regional deployments from the guide, but an inter-regional deployment will not work if the guide is followed to the letter. If the clusters are in the same region the guide will work, but if they are not then something called "global access" for the internal loadbalancers

[2020-10-23 22:53] nathanjsweet commented on #13627
I did a multi-regional deployment in GKE to test cluster-mesh. One of the things that I ran into is that I needed to turn "global access" on manually for the internal loadbalancers for etcd ala [this guide](https://cloud.google.com/load-balancing/docs/internal/setting-up-internal#ilb-global-access). I filed [this issue](https://github.com/cilium/cilium/issues/13740) for us to fix it.

[2020-10-23 22:58] michi-covalent commented on #13740
@nathanjsweet good catch 👍 i guess this is this is the annotation?

https://cloud.google.com/kubernetes-engine/docs/how-to/internal-load-balancing#global_access

[2020-10-23 23:05] aditighag commented on #13736
Looking into it...

[2020-10-24 11:01] #13611 closed

[2020-10-24 15:57] diversario opened #13744 "Hubble possibly misrepresenting replies as requests for UDP traffic"
## Bug report

**General Information**

- Cilium version (run `cilium version`)

[code]

- Kernel version (run `uname -a`)

[code]

- Orchestration system version in use (e.g. `kubectl version`, Mesos, ...)

[code]

- Link to relevant artifacts (policies, deployments scripts, ...)

On these nodes, ephemeral port range is
[code]

- Generate and upload a system zip:
[code]

was unable to generate th

[2020-10-26 00:21] Boca13 opened #13746 "CrashLoopBackOff in node with GRE tunnel after upgrading from Cilium 1.7 to 1.8"
## Bug report

I'm having trouble with Cilium in one of the nodes of my cluster after upgrading from 1.7.x to 1.8.4 (using Kubespray). The special thing about this node is that it's connected to the rest of the node private network through a GRE tunnel. It worked well with Cilium 1.7.2 and Kubernetes 1.16.

**General Information**

- Cilium version:
[code]
- Kernel version: **5.4.0-52-generic**
-

[2020-10-26 03:51] jaffcheng commented on #13412
Thanks for testing! If it happens too frequently, maybe disabling `aws-release-excess-ips` could be a degradation. I'll try to dig deeper.

[2020-10-26 08:52] splushii commented on #13167
Saw there was a new `1.8` [operator-generic](https://hub.docker.com/layers/cilium/operator-generic/v1.8/images/sha256-80fe8941262119df42cca8a25894c0e4b8361c14f048d3512cd5466a6c2abf00?context=explore) since 10/23/2020 at 8:51 pm. Looking a lot better!

There are only 1/44 IP mismatches. Not sure if it's relevant, but it's the only `StatefulSet` in the cluster that's having an IP mismatch.

Logs fro

[2020-10-26 08:58] #13621 closed

[2020-10-26 09:13] tklauser opened #13748 "CI: Suite-k8s-1.12.K8sKafkaPolicyTest Kafka Policy Tests KafkaPolicies"
[code]

https://jenkins.cilium.io/job/Cilium-PR-K8s-1.12-net-next/966/testReport/junit/Suite-k8s-1/12/K8sKafkaPolicyTest_Kafka_Policy_Tests_KafkaPolicies/

[ab638a6f_K8sKafkaPolicyTest_Kafka_Policy_Tests_KafkaPolicies.zip](https://github.com/cilium/cilium/files/5437858/ab638a6f_K8sKafkaPolicyTest_Kafka_Policy_Tests_KafkaPolicies.zip)

This particular failure was on #13724, but it seems to occasion

[2020-10-26 09:18] aanm commented on #13553
@gpl can you provide us with a Cilium sysdump? Thanks

[2020-10-26 09:20] aanm commented on #13722
@zhujik can you give us more information such as how did you deploy Cilium and / or hubble? Also, can you update Cilium's sysdump?

[2020-10-26 09:21] aanm commented on #13722
Related with https://github.com/cilium/cilium/issues/13738

[2020-10-26 09:30] zhujik commented on #13722
@aanm Thank you for your reply. Cilium is installed like so:
[code]

The panels in the dashboard, for example for "Top 10 Source Pods with Denied Packets" is configured in the dashboard like so:
[code]
However, the `hubble_drop_total` metric with the given configuration looks like so:
[code]
My confusion with this is the following:
* there is no pod label that is referenced in the panels query
* t

[2020-10-26 09:34] aanm commented on #13746
@Boca13 thanks for opening the issue, what's the output of `ip a s` from the node running `cilium-5jst9`?

[2020-10-26 09:34] brb opened #13749 "Extend connectivity check to test NodePort BPF in bpf_host"
The connectivity check performs some NodePort service testing. Unfortunately, all requests to NP svcs are sent from inside a cluster. So, all of them are handled by bpf_sock, and none by bpf_host.

In order to test the latter, either the requests have to be sent from outside a cluster (not really possible in the connectivity check), or we should introduce a service annotation to make a svc scope e

[2020-10-26 09:35] gandro commented on #13744
Some initial triage: This is likely due not all trace points having connection tracking available, and thus the `port-distribution` metric indeed confusing source ports as destination ports. The `port-distribution` relies on `.GetReply()` which requires connection tracking:
https://github.com/cilium/cilium/blob/418500bad872814fd9582ba6eb30b9819e4ee3b6/pkg/hubble/metrics/port-distribution/handler.g

[2020-10-26 12:09] sayboras commented on #13738
I am not expert here, just want to share my experience.

Basically, I had similar question before, and then I found out that http metrics only coming if one of below two points is satisfied:

- HTTP-aware L7 Policy enabled. Related [docs](https://docs.cilium.io/en/latest/gettingstarted/http/)
- Annotations applied in pod. Related [docs](https://docs.cilium.io/en/latest/policy/visibility/#limitatio

[2020-10-26 12:27] borkmann opened #13752 "CI, GKE: Connectivity Checks service.kubernetes.io/service-proxy-name label implementation"
[code]
https://jenkins.cilium.io/job/Cilium-PR-K8s-GKE/2940/testReport/junit/Suite-k8s-1/16/K8sServicesTest_Checks_ClusterIP_Connectivity_Checks_service_kubernetes_io_service_proxy_name_label_implementation/

[2020-10-26 12:33] jaffcheng commented on #13412
It seems the issue is that cilium-agent and cilium-operator may be out of sync in the following order:

1. cilium-agent allocates `ip_address1` from node IP pool and triggers sync upstream, pod becomes ready and reachable
https://github.com/cilium/cilium/blob/2ec73052ecbe9b24e7a03923e501fa20c9a1e3a4/pkg/ipam/crd.go#L540
2. the trigger doesn't call sync upstream immediately and there is a custom re

[2020-10-26 13:19] ti-mo commented on #13663
:wave: @kkourt did you do some troubleshooting already? What does 'nodes unreachable' mean in this context? host->host traffic or node->node traffic?

@pchaigno Maybe we should add a release blocker label here? (I can't..)

[2020-10-26 13:39] Boca13 commented on #13746
Thank you for your reply, @aanm.
The output of `ip a s` is:
[code]

[2020-10-26 14:00] kkourt commented on #13663
Not really, just the basic things (logs, etc.)  but didn't notice anything relevant.

Not sure what the difference between host->host and node->node is...

Some output from my original report that might help clarify things:
[code]

[2020-10-26 14:01] tklauser opened #13753 "CI: Kafka & Cassandra policy tests consistently failing in Ginkgo-CI-Tests-runtime-Pipeline-Race-Detection"
The following 4 tests are failing consistently with timeouts in Ginkgo-CI-Tests-runtime-Pipeline-Race-Detection:

- Suite-runtime.RuntimeKafka Kafka Policy Ingress
- Suite-runtime.RuntimeKafka Kafka Policy Role Egress
- Suite-runtime.RuntimeCassandra Tests policy allowing all actions
- Suite-runtime.RuntimeCassandra Tests policy disallowing Insert action

https://jenkins.cilium.io/view/Race%20Dete

[2020-10-26 14:12] pchaigno commented on #13663
@kkourt Could you check if you have the same issue with the latest 1.8?

[2020-10-26 14:20] tklauser commented on #13753
Seeems like there is an issue when running the proxy with ThreadSanitizer (which is used by the Go race detector):

[code]

[2020-10-26 14:27] aanm commented on #13746
@Boca13 and `ip route show`?

[2020-10-26 15:13] Boca13 commented on #13746
[code]

[2020-10-26 15:21] tklauser opened #13757 "CI: K8s Kafka/L7 policy tests consistently failing in race detector pipelines"
The following two tests are failing consistently when build with the race detector enabled:

- Suite-k8s-1.18.K8sKafkaPolicyTest Kafka Policy Tests KafkaPolicies
- Suite-k8s-1.18.K8sPolicyTest Basic Test Validate CNP update Verifies that a CNP with L7 HTTP rules can be replaced with L7 Kafka rules

see e.g.

https://jenkins.cilium.io/view/Race%20Detection/job/Ginkgo-CI-Tests-4.19-Pipeline-Race-Det

[2020-10-26 15:52] kkourt commented on #13663
Does not seem to be working for me  with latest 1.8. Just to clarify, this is on tunneling (vxlan) mode.

[2020-10-26 16:20] jrfastab commented on #13663
@kkourt Also any hints on the environment would be helpful? Is this GKE, AWS, packetnet, custom env. I'll take a look, but I did a GKE setup like this not so long ago.

[2020-10-26 16:26] kkourt commented on #13663
Seems to also happen with latest 1.8. (to clarify, this is with vxlan.)

[2020-10-26 16:27] kkourt commented on #13663
This is GCE, i.e., google VMs.

[2020-10-26 16:30] ti-mo commented on #13663
Woops, of course I meant host->host and pod->pod. :sweat_smile:

[2020-10-26 17:13] DaveWK opened #13766 "Feature Req: Detect and log IPAM-allocated pod CIDRs overlap with Cluster/Service IP's for Pods/Services"
## Proposal / RFE

### Setup

When in Cluster Scope (the default IPAM from quickstart) Cilium makes by default a potentially conflicting IP range for pods vs Service IP's (CLUSTER-IP)

In example, for my single-node setup,

my kubelet has:
`--service-cluster-ip-range=10.96.0.0/16`

Cilium made for me an IPv4 CIDR of:
`10.0.0.0/8`

and my kubelet-api is at: `10.96.0.1`

I have removed the taint to

[2020-10-26 17:29] aanm commented on #13766
Thanks for opening the issue. Unfortunately, it's not possible to know the `service-cidr` since Kubernetes does not expose these values as part of its API so Cilium can't properly detect service CIDR collisions.

More information about the cluster scope can be found here https://docs.cilium.io/en/stable/gettingstarted/ipam-cluster-pool/#gsg-ipam-crd-cluster-pool

[2020-10-26 17:32] gandro commented on #13738
@zhujik Can you confirm that you do have either L7 policies or L7 visibility annotations present? I assume that other metrics (e.g. `port-distribution`) are working as expected?

[2020-10-26 18:41] jayunit100 opened #13767 "Network policies (loopback, egress) that might need looking at"
## Bug report

In cilium PR https://github.com/cilium/cilium/pull/13758   @aanm is testing https://github.com/cilium/cilium/pull/13758 out our new network policy validation stuff and finding some discrepancies.

-  Does  cilliums service proxy “short circuit” the cillium networkpolicy stack for self connections?
- For now I think its best that we "look the other way" because these haven't been iss

[2020-10-26 18:43] DaveWK commented on #13766
Thanks!
I am surprised about kube-api -- for anyone else's ref:
https://github.com/kubernetes/kubernetes/issues/46508

is tracking a whole IPAM API feature which should allow this to be exposed (..but was opened in 2017 so who knows when this will be actually completed). A possible workaround is checking the containers->command params in the `kube-controller-manager` pod, but it is kind of a strin

[2020-10-26 19:42] #13736 closed

[2020-10-26 19:51] joestringer opened #13768 "Evaluate dropping CAP_SYS_MODULE"
Currently we request `CAP_SYS_MODULE` during deployment:

[code]

One of the main reasons for this is to ensure that if specific iptables functionality requires additional modules to be loaded, then the automatic module loading inside the `iptables` binary will work.

Evaluate options to drop this capability.

[2020-10-26 22:36] cmluciano commented on #13767
I have not dug too deep into the logs linked from here, but on the surface I would not expect equivalency from the two policies listed above. In the 2nd example we are specifically using the Egress policy type and in the first we list Ingress and Egress or else we just accepted the defaulting for policyType.

[2020-10-27 02:30] joestringer commented on #12288
The above PRs were assuming that the user will specify the first version that they install via `--set upgradeCompatibility` (or add that setting into their values.yaml file). With that assumption, I believe this issue should be addressed.

Followups:
* [ ] Get a second look at whether the upgrade guide sufficiently describes to the user how to correctly configure upgradeCompatibility
* [ ] Use som

[2020-10-27 08:43] nebril opened #13773 "CI: `K8sDatapathConfig Encapsulation Check iptables masquerading with random-fully` fails on k8s-all"
every build on https://jenkins.cilium.io/job/cilium-master-K8s-all/ fails

[code]

[2020-10-27 08:46] nebril opened #13774 "CI: K8sDatapathConfig Encapsulation Check vxlan connectivity with per-endpoint routes"
every build on https://jenkins.cilium.io/job/cilium-master-K8s-all/ fails

[code]

[2020-10-27 08:47] nebril commented on #13774
focused test run also fails in the same way on 1.14, so it's unlikely this is infra/ci related: https://jenkins.cilium.io/job/Cilium-PR-Ginkgo-Tests-Kernel-Focus/100/

[2020-10-27 08:47] nebril commented on #13773
focused test run also fails in the same way on 1.14, so it's unlikely this is infra/ci related: https://jenkins.cilium.io/job/Cilium-PR-Ginkgo-Tests-Kernel-Focus/100/

[2020-10-27 09:15] #13753 closed

[2020-10-27 09:15] #13757 closed

[2020-10-27 10:29] aanm commented on #13746
I did an initial triage to this issue. It seems `tunnel0` is being considered as part of the list of nodeport devices by the automatic discovery introduced in 1.8.

[2020-10-27 10:37] aanm commented on #13766
@DaveWK you can change the podCIDR, defined in Cilium config map, followed by deleting the Cilium Nodes (`kubectl delete cn --all`), a restart of Cilium Operator (`kubectl delete pod -n kube-system --label io.cilium/app=operator`), a restart of Cilium agents (`kubectl delete pod -n kube-system --label k8s-app=cilium` in the cluster, and a deletion of all pods so they are have the new CIDR (`kubect

[2020-10-27 10:39] Boca13 commented on #13746
Thank you, @aanm, it seems so. I wonder if there's any parameter that I could change in the configmap to exclude or limit the list of devices to the pertinent interfaces.

Thank you again for your help.

[2020-10-27 10:52] splushii commented on #13167
A lot of back and forth here. Got 20/45 IP mismatches currently (in the same cluster as above).

What we see is that the Pods change IP (not sure why) and the CiliumEndpoints don't follow. This is an extract of the changes seen between 2020-10-26 14:04:09 and 2020-10-27 11:02:22:
[code]

[2020-10-27 12:17] tgraf commented on #13767
I think the behavior will be different depending on whether host services / socket-level load-balancing is enabled. If enabled, the service IP to pod IP translation happens inside the pod and the connection will use the loopback, e.g. it never leaves the pod and is identical as if the pod would connect to `::1` or `127.0.0.1`. When host services is not enabled, the packets will leave the pod and w

[2020-10-27 13:19] tklauser opened #13777 "[RACE detector] data race in K8sDatapathConfig_Etcd_Check_connectivity"
[code]

https://jenkins.cilium.io/view/Race%20Detection/job/Ginkgo-CI-Tests-k8s1.12-Pipeline-Race-Detection/21/

[2020-10-27 13:21] tklauser commented on #13777
/cc @aanm @tgraf

[2020-10-27 14:02] #12910 closed

[2020-10-27 14:15] pchaigno commented on #11999
I don't know what path is not being aggregated here, but it's possible #13485 will fix it.

[2020-10-27 14:23] pchaigno commented on #6203
This feature is available since Cilium 1.8 through the host firewall.

[2020-10-27 14:23] #6203 closed

[2020-10-27 14:57] #13744 closed

[2020-10-27 15:24] reneluria commented on #13615
Hello @aanm do you need additional info ?

[2020-10-27 15:35] zhujik commented on #13738
@sayboras I tried it and now I'm seeing *something*. However, I have a hard time to grasp the concept of those proxy-visibility annotations. I tried reading the doc and googling a bit, however, I'm not sure about the impact of that change on our application.
So just for the sake of understanding: if set this annotation, what does it actually mean?
For example, I have a apache tomcat pod that is se

[2020-10-27 15:42] zhujik commented on #13738
@gandro I'm really in need for more documentation here, since it was really intransparent how the setup should look like and what it means.

[2020-10-27 17:56] joestringer commented on #13663
Marked as release-blocker to evaluate whether this is a regression and at least figure out the potential scope for the breakage (Is the feature now completely broken? Or broken in certain circumstances? Or the documentation misses an important configuration item?).

[2020-10-27 18:12] #13775 closed

[2020-10-27 19:16] sduranc commented on #13663
I've observed this behaviour also running **OKD v4.5** on top of **GCP**. With `encryption.enabled=true` it was fine but after trying `encryption.nodeEncryption=true` I lost connection to the cluster. Trying a simple `kubectl get pods` showed one of the following:

1. Error from server: etcdserver: request timed out
2. The connection to the server api.xxx.yyy.zzz:6443 was refused - did you specify

[2020-10-27 19:21] aanm commented on #13615
@reneluria that's for opening the GH issue, it will be fixed by https://github.com/cilium/cilium/pull/13783

[2020-10-27 20:18] joestringer opened #13787 "Double-check mountPropagation settings"
Commit 5b85120e95fd42e31bb8d7e2a118dcb729fc71d7 added the `mountPropagation: HostToContainer` setting to the init container, but not to the main container. Should we also apply this setting to the main Cilium container?

The original change was motivated to fix the init container waiting on BPFFS mount (/cc @jraby), but I'm not sure if we ever evaluated whether it should be applied to the main con

[2020-10-27 20:30] Weil0ng commented on #13686
So the context is for node-local-dns. One of the optimization it does is to install these NOTRACK rules in the root ns iptables to bypass kernel conntrack.

Our current way of supporting node-local-dns deploys it in its own pod namespace, which means it is no longer able to manage such iptables rules in the root ns, hence we need Cilium-agent to step in and manage these rules.

These rules will be

[2020-10-27 20:32] Weil0ng commented on #13686
The motivation for the NOTRACK rules in the first place can be found in the original [KEP](https://github.com/kubernetes/enhancements/blob/master/keps/sig-network/0030-nodelocal-dns-cache.md#motivation), tldr: `Skipping iptables DNAT and connection tracking will help reduce conntrack races and avoid UDP DNS entries filling up conntrack table.`

[2020-10-27 21:14] pchaigno commented on #13276
It looks like that issue was just replaced by a new one on K8s 1.16 :cry:
[code]

[2020-10-27 22:43] jraby commented on #13787
I'm not sure how cilium reacts if the contents of `/sys/fs/bpf` changes/is replaced while it is running.
For example, if `CILIUM_WAIT_BPF_MOUNT`  isn't set, the main container could start and bpffs could appear later. Would that ok?

If it is, then adding the mount propagation should be safe.
(I hadn't considered this use case at all when adding it)

[2020-10-27 22:50] joestringer commented on #13787
I guess from that perspective, if you want to ensure that the BPF filesystem is available before Cilium runs, you would just configure CILIUM_WAIT_BPF_MOUNT. I don't necessarily see a specific use case for trying to support mounting the BPFFS later on.

So maybe there's no real motivation to configure mountPropagation for the main container.

[2020-10-27 23:29] jraby commented on #13787
That was my conclusion.

[2020-10-28 01:28] dctrwatson commented on #13454
I tried the upgrade again... and still the same behavior.

However! This time after turning on debug, after a 1 timeout, the operator is now connecting to etcd and am see the `custom dialer based on k8s service backend is dialing` message.

This leads me to believe the `shortCutK8sCache` doesn't have the matching service and it's waiting on the k8sCache to sync? Doesn't really make sense though si

[2020-10-28 02:30] dctrwatson commented on #13454
Turned off debug to see if it was fine but now can't get the operator to work with or without debug again

[2020-10-28 07:59] zhujik commented on #13738
@gandro thank you, that is very helpful. For that port 80 matter: I couldn't reproduce it yet, so I guess I had a configuration error on my side.
Regarding the documentation: What you have written here is actually something that you could place into the documentation, if you ask me.

[2020-10-28 09:12] blinkiz commented on #7519
Maybe talk to Lucas Servén Marín, Red Hat, and see if ideas from Kilo project can be integrated into Cilium. Written in Go just like Cilium.

https://github.com/squat/kilo

[2020-10-28 09:19] kkourt commented on #12891
I had a look at the logs from  failures on PR #13750 (https://jenkins.cilium.io/job/Cilium-PR-Runtime-4.9/2319/) which seems to include the dump of bpf policies (#13295).
It is still not clear what the issue is.

A summary of the logs together with some context follows.
The problem is that a ping from the server to client succeeds, while it is
supposed to fail. Specifically, this is an IPv4 ping a

[2020-10-28 09:22] ukcuf commented on #11039
+1 to this feature request.

[2020-10-28 10:07] #13738 closed

[2020-10-28 10:26] pchaigno commented on #12891
So one obvious idea here---maybe _too_ obvious---is that we don't properly wait for the policy to be enforced before doing the actual connectivity check. It might be worth double checking that code to verify this.

Now, this seems to point to some other issue because the policy looks enforced for the previous IPv6 check. But do we know for sure that the IPv6 ping failed because of the policy? Coul

[2020-10-28 10:26] #13615 closed

[2020-10-28 11:48] kkourt commented on #12891
We do. We try first the proper direction (client->server) and it seems to work. Also not that we use `PolicyEnforcement=always` so it's the absence of a policy that drops packets.

<details>
<summary>Log</summary>

[code]

</details>

Yap.

Yap, maybe that will help clear things up.

[2020-10-28 11:54] sayboras commented on #12279
I can't find anything wrong with this, I am suspecting that it is not happening anymore.

To confirm this hypothesis, I setup one scheduled job in my forked repo, 25 runs withouth any failure so far https://github.com/sayboras/cilium/actions?query=workflow%3A%22Smoke+Test+with+IPv6%22+event%3Aschedule

[2020-10-28 12:10] pchaigno commented on #12279
Ok, let's close then. If someone hits this again, they/we can reopen.

[2020-10-28 12:23] #13777 closed

[2020-10-28 15:56] errordeveloper commented on #13429
@amorenoz can you confirm if this issue is fixed with the images I mentioned above?

[2020-10-28 20:21] jrfastab commented on #13663
Thanks for the reports. EncryptNode=true has not been enabled with vxlan use cases yet. Its only been enabled in the routing case. I'll submit a fix to the docs to make this clear, sorry for the confusion. Going forward we can mark this as a feature request. I believe it should be not-to-hard(tm) to get it working, but I've not had a chance to get to it and its not been top of list for me. If some

[2020-10-28 20:25] jrfastab commented on #13663
@joestringer I'm tempted to just make it a note in the docs and let the agent try to set it up. iirc there are some scenarios where it does work and its been in this state for multiple releases so if anyone has a working setup we don't want to hit them with a 'this doesn't work' message.

[2020-10-28 20:28] jrfastab commented on #13663
Proposed document update,

[code]

[2020-10-28 22:07] pchaigno commented on #13276
#13793 should fix the K8s 1.16 variant of this flake.

[2020-10-28 23:10] ryanmt commented on #13217
Just ran into it myself.  I suspected t3a.small as that was my instance type as well.  I can confirm that by changing to t3a.medium, the cilium-agent container was able to initialize successfully without any other modifications.

[2020-10-29 09:31] sduranc commented on #13663
Yes @jrfastab my example was with vxlan

[2020-10-29 09:47] #13276 closed

[2020-10-29 12:07] sayboras commented on #13020
Closing this one, I think the current smoke test setup with master + 1.9 is good enough.

[2020-10-29 12:07] #13020 closed

[2020-10-29 12:56] ti-mo commented on #12123
Changes proposed in https://github.com/cilium/cilium/pull/13806.

[2020-10-29 13:08] tklauser commented on #12993
The last 2 runs of the Ginkgo-CI-Tests-k8s1.19-Pipeline-Quarantine pipeline on master seem to have failed with this one. Also on tests other than one originally reported:

https://jenkins.cilium.io/view/Quarantine%20Pipelines/job/Ginkgo-CI-Tests-k8s1.19-Pipeline-Quarantine/483/
https://jenkins.cilium.io/view/Quarantine%20Pipelines/job/Ginkgo-CI-Tests-k8s1.19-Pipeline-Quarantine/482/

[2020-10-29 15:27] brb commented on #13686
The conntrack race should have been fixed in 4.18 kernel by [this patch](https://git.kernel.org/pub/scm/linux/kernel/git/stable/linux.git/commit/?id=ed07d9a021df6da53456663a76999189badc432a).

So, the only problem which we are trying to solve with NOTRACK is the conntrack table overflow. I wonder whether it's not enough to advise users to increase the table size if they are hitting the overflow is

[2020-10-29 17:52] Weil0ng commented on #13686
I think the argument is that we see customers with crazy amount of DNS qps request, keeping those connections in the kernel conntrack causes contention with other non-DNS traffic. Increasing the table size might mitigate the problem but is less effective than simply not tracking them (both with the conventional way of deploying nodelocaldns and with kube-proxy free Cilium, kernel conntrack does no

[2020-10-29 22:05] joestringer commented on #11788
Possible longer term solution, dig into the versionwarning library we use and figure out why the semver library there is not taking into account that the above version is a pre-release:

https://github.com/humitos/sphinx-version-warning/blob/a82156c2ea08e5feab406514d0ccd9d48a345f48/versionwarning/_static/js/versionwarning.src.js#L1

[2020-10-29 22:23] #13787 closed

[2020-10-30 03:56] dctrwatson commented on #13454
Tried 1.8.5 and same result

I'll try modifying the operator and see if I can track down what's happening

[2020-10-30 08:00] aanm opened #13813 "CI: Panic Tests Star Wars Demo"
[code]
https://jenkins.cilium.io/job/Cilium-PR-K8s-GKE/2998/execution/node/135/log/

[2020-10-30 10:53] povils commented on #12116
Hey! Could this also affect docker0 bridge compatability?
The I am using portmap i am able to reach `curl 172.17.0.1:hostPort`
With cilium BPF implementation I cannot anymore

[2020-10-30 13:27] brb commented on #13746
The problem is that `tunnel0` doesn't have L2 addr:  You can set devices via `devices: ...` which will disable the auto-detection. Anyway, if you are using `tunnel0` to connect to other k8s nodes, then BPF NodePort won't work when accessed from outside (you might need to disable it).

Closing, as it is a duplicate of https://github.com/cilium/cilium/issues/12317.

[2020-10-30 13:27] #13746 closed

[2020-10-30 15:59] ryanmt commented on #13217
However, it appears that on a smaller instance on EKS, the kubelet believes it can schedule 17 pods, but the IP addresses are more constrained, meaning that `cilium status` reports 12/12 IPs consumed, while the scheduler is pushing more than 12 pods onto the node.  I'm starting to suspect that small nodes are unusable w/ cilium CNI out of the box.

[2020-10-30 16:36] joestringer opened #13816 "Bump the default identity GC rate"
User feedback has determined in some situations, this limit of 250/minute can be too low to keep up with identity creation in the cluster. Users can configure it but we should consider revisiting this value, bumping to perhaps 2-4K.

https://github.com/cilium/cilium/blob/d373ad7e2acf85b27f0933d4cc41d9b540bbd778/operator/flags.go#L213-L214

[2020-10-30 18:42] twpayne opened #13819 "CI: Add automated check for copyright headers"
## Proposal

I occasionally forget to add copyright headers to new files in PRs, and reviewers have had to manually comment on this. Such a check can be automated, saving reviewer time.

[golangci-lint](https://golangci-lint.run) includes support for the [go-header](https://github.com/denis-tingajkin/go-header) linter which can probably leveraged to implement this, at least for Go source files.

C

[2020-10-30 18:49] aditighag commented on #13819
I've added a copyright profile in Goland that automatically adds the header in new files, but this is useful in general.

<img width="1536" alt="Screen Shot 2020-10-30 at 11 45 30 AM" src="https://user-images.githubusercontent.com/20311845/97745069-8815fb00-1aa5-11eb-889c-47c2758492a5.png">

[2020-10-30 21:30] dctrwatson commented on #13454
Now it's happening with 1.7.11 in the same cluster

[2020-10-30 21:34] borkmann commented on #13138
Unmarked from release-blocker given https://github.com/cilium/cilium/pull/13821 is out and the rest in here are best-effort and can land in later 1.9 or 1.10.

[2020-10-31 00:24] dctrwatson opened #13824 "Panic on cilium-agent startup"
## Bug report

**General Information**

- Cilium version (run `cilium version`)
  - `1.8.5`
- Kernel version (run `uname -a`)
  - `4.19.112+`
- Orchestration system version in use (e.g. `kubectl version`, Mesos, ...)
  - `Server Version: version.Info{Major:"1", Minor:"17+", GitVersion:"v1.17.9-gke.6300", GitCommit:"eb6985a7ebfd53457b0b91ba08fac07597bb87af", GitTreeState:"clean", BuildDate:"2020-09

[2020-10-31 00:36] sayboras commented on #13819
Voted for golangci-lint with go-header, one good thing is that we don't need to introduce more tools required as part of development.

PS: I might be biased here.

[2020-10-31 03:32] sayboras opened #13827 "docs: Add installation steps for prometheus crds/operator"
As mentioned in https://github.com/cilium/cilium/pull/13549.

Update docs with step by step installation, maybe on this page https://docs.cilium.io/en/v1.9.0-rc2/operations/metrics/#installation

[2020-10-31 04:33] #12908 closed

[2020-10-31 04:33] #12892 closed

[2020-10-31 14:26] osswangxining opened #13828 "Support Istio 1.7.x and above"
Environment:
We are using Istio 1.7 version running on K8s 1.18;

Feature request:
Support Istio 1.7.x using Cilium

[2020-10-31 14:53] joestringer opened #13829 "Development images missing for cloud-specific operator images"
`cilium-operator-dev` images for cloud-specific operators cannot be used because dockerhub does not have `cilium-operator-dev-aws`, `cilium-operator-dev-azure`, etc. repositories. In particular when running on arm64 if you use `operator-dev` as the operator image, the following helm bits will generate an image name that doesn't exist:

https://github.com/cilium/cilium/blob/f909e32daadfc457aae1ec04

[2020-10-31 14:54] joestringer commented on #13650
Split out the final issue into https://github.com/cilium/cilium/issues/13829 since it doesn't look like an actual regression.

[2020-10-31 14:54] #13650 closed

[2020-10-31 14:56] joestringer commented on #13663
The documentation for this has been updated to be more clear about what's supported for now. We would welcome further investigation into enabling this use case if someone is interested in working on it, but we will not block the v1.9.0 release upon this feature.

[2020-10-31 15:40] joestringer opened #13830 "v1.9.0-rc3 release"
## Pre-release

- [x] Create a [new project] for the next release version
  - Old project: https://github.com/cilium/cilium/projects/132
  - New project: https://github.com/cilium/cilium/projects/135
- [x] Add build targets for the new release on [Docker Hub]
  - All versions:
    - [cilium](https://hub.docker.com/repository/docker/cilium/cilium/builds/edit)
    - [operator](https://hub.docker.com

[2020-10-31 17:21] kovalyukm opened #13831 "Cannot configure Cilium log-opts"
## Bug report
Hello,

Please fix issue with helm chart value `logOptions`.
Cannot set Cilium agent log format to json.

**General Information**

- Cilium/chart version (run `cilium version`)
1.8.4, 1.8.5

**How to reproduce the issue**

1. Set/add options https://github.com/cilium/cilium/blob/v1.8.5/install/kubernetes/cilium/values.yaml#L417-L418
[code]
2. Get error from `helm upgrade`
Error: Fail

[2020-10-31 19:22] joestringer opened #13832 "CI: K8sIstioTest Istio Bookinfo Demo Tests bookinfo inter-service connectivity: Cannot start background report process: signal: killed"
Seen in v1.9 backports PR:
https://jenkins.cilium.io/job/Cilium-PR-K8s-GKE/3008/testReport/junit/Suite-k8s-1/16/K8sIstioTest_Istio_Bookinfo_Demo_Tests_bookinfo_inter_service_connectivity/
[1c378e36_K8sIstioTest_Istio_Bookinfo_Demo_Tests_bookinfo_inter-service_connectivity.zip](https://github.com/cilium/cilium/files/5469670/1c378e36_K8sIstioTest_Istio_Bookinfo_Demo_Tests_bookinfo_inter-service_conn

[2020-10-31 19:31] joestringer opened #13833 "CI: GKE: DNS 'testds-service.default.svc.cluster.local' is not ready after timeout: 7m0s timeout expired""
Observed in at least the following tests:

* [K8sServicesTest Bookinfo Demo Tests bookinfo demo](https://jenkins.cilium.io/job/Cilium-PR-K8s-GKE/3008/testReport/junit/Suite-k8s-1/16/K8sServicesTest_Bookinfo_Demo_Tests_bookinfo_demo/)
* [K8sChaosTest Connectivity demo application Endpoint can still connect while Cilium is not running](https://jenkins.cilium.io/job/Cilium-PR-K8s-GKE/3008/testReport/

[2020-10-31 19:42] joestringer opened #13834 "Make CLI more graceful on handling environments with IPv6 disabled"
Currently, for many of the CLI commands, if you run them in an environment where IPv6 is disabled, they will complain to stderr:

[code]

This happens even if IPv6 is administratively disabled.

Ideally the commandline implementations like `cilium bpf nat ...` would detect this and silently ignore the missing IPv6 map.

Note that `cilium bpf ...` CLI tools in particular should be able to succeed i

[2020-10-31 19:44] joestringer opened #13835 "Remove / clean up snat maps if snat is disabled in the agent"
When toggling from using BPF-based NAT to using kube-proxy, Cilium does not clean up the existing snat maps. Cilium should remove such maps when the feature is disabled.

[2020-11-01 18:37] qingkunl commented on #12968
This is still an issue

[2020-11-02 04:42] aditighag opened #13839 "CI: K8sServicesTest Checks service across nodes Tests NodePort BPF Tests with direct routing Tests NodePort with Maglev Tests NodePort"
[code]

[99c5ba2b_K8sServicesTest_Checks_service_across_nodes_Tests_NodePort_BPF_Tests_with_direct_routing_Tests_NodePort_with_Maglev_Tests_NodePort.zip](https://github.com/cilium/cilium/files/5472835/99c5ba2b_K8sServicesTest_Checks_service_across_nodes_Tests_NodePort_BPF_Tests_with_direct_routing_Tests_NodePort_with_Maglev_Tests_NodePort.zip)

Hit in #13812

[2020-11-02 08:53] #13740 closed

[2020-11-02 09:18] sayboras commented on #13831
this issue happens for master and v1.9 branches as well.

[2020-11-02 11:28] tklauser opened #13843 "Error on dynamic NAT map sizing with static sizes for CT maps"
Timo Reimann [reports on Slack](https://cilium.slack.com/archives/C1MATJ5U5/p1604092720015200?thread_ts=1604075768.489700&cid=C1MATJ5U5), that Cilium fails to start on a 128 GB instance where if the CT maps are statically sized while the NAT map is dynamically sized:

[code]

The settings they used were:

[code]

[2020-11-02 13:19] #13824 closed

[2020-11-02 15:33] pchaigno commented on #13833
This might somehow be caused by the K8sUpdates test since the GKE builds were green in the backport PR as soon as we removed the unquarantine of K8sUpdates. We might need to quarantine that test again :sweat:

[2020-11-02 16:36] #13627 closed

[2020-11-02 16:46] nathanjsweet commented on #13722
@zhujik This is the grafana and prometheus templates found in the examples folder? Could you point me to which on in particular? It wouldn't surprise me if these templates are out of sync.

[2020-11-02 16:50] zhujik commented on #13722
@nathanjsweet sure. Here it is:
https://github.com/cilium/cilium/blob/311d1277f2ea7159c8bcb1319aaf981718c3d065/examples/kubernetes/addons/prometheus/files/grafana-dashboards/hubble-dashboard.json#L1856

[2020-11-02 17:10] errordeveloper commented on #13701
hi @hikhvar, thanks for reporting this!

I think that using `arn:aws:iam::aws:policy/AmazonEKS_CNI_Policy` maybe insufficient for Cilium as the implementation differs from AWS VPC CNI significantly.

Since Cilium relies on [EKS instance role](https://docs.aws.amazon.com/eks/latest/userguide/create-node-role.html), I'd recommend adding `arn:aws:iam::aws:policy/AmazonEKSWorkerNodePolicy`. If you cou

[2020-11-02 18:36] hikhvar commented on #13701
I can cross check this.
However, my current workaround is to manually add the policies `arn:aws:iam::aws:policy/AmazonEKS_CNI_Policy` and `arn:aws:iam::aws:policy/AmazonEKSWorkerNodePolicy`  to my worker nodes instance profile. This works so far. Furthermore I could not see any access to the cilium service account instance role in the IAM console. Thus I thought, cilium is not using the instance r

[2020-11-02 19:38] tibers opened #13852 "insufficient quota to match these scopes"
## Bug report

We're getting `Error creating: insufficient quota to match these scopes: [{PriorityClass In [system-node-critical system-cluster-critical]}]` once we have upgraded to 1.8.5

**General Information**

- cilium versions 1.8.5
- K8s version 1.17.12-gke.1504

We were using 1.8.3 on a 1.17 cluster and we made a fresh cluster and bumped the version to 1.8.5 on the install.

**EDIT:** Just

[2020-11-02 19:59] joestringer opened #13853 "CI: K8sServicesTest Checks service across nodes Tests NodePort BPF Tests with direct routing With host policy Tests NodePort: unable to upgrade connection: Authorization error"
## CI: K8sServicesTest Checks service across nodes Tests NodePort BPF Tests with direct routing With host policy Tests NodePort

https://jenkins.cilium.io/job/Cilium-PR-K8s-1.12-net-next/1037/testReport/junit/Suite-k8s-1/12/K8sServicesTest_Checks_service_across_nodes_Tests_NodePort_BPF_Tests_with_direct_routing_With_host_policy_Tests_NodePort/
[f164ec20_K8sServicesTest_Checks_service_across_nodes_

[2020-11-02 21:39] nathanjsweet commented on #13722
@zhujik yep they all got updated in [this commit](https://github.com/cilium/cilium/commit/ffc077817df6982d43739ace577ef321ddd66030). I'll open a PR later to fix them all. Thanks for the feedback, and good catch!

[2020-11-03 01:42] #13830 closed

[2020-11-03 07:45] #13722 closed

[2020-11-03 07:48] #13843 closed

[2020-11-03 07:49] #13831 closed

[2020-11-03 08:42] youssefazrak commented on #12250
@joestringer @christarazi naive thought maybe, but is there a reason to go for specific tables instead of getting the full output with a command like `ip -{4|6} route show table all`?

[2020-11-03 09:59] #13641 closed

[2020-11-03 10:30] brb opened #13867 "Add CI tests to check whether lbmap-related restore works"
The https://github.com/cilium/cilium/issues/13824 issue revealed one weakness in the `k8sT/Services.go` suite - we don't test restore procedures of the lbmap-related maps. The unit tests in `pkg/service/service_test.go` contain test cases for testing the restore procedures, but they are relying on the lbmap mock implementation, so they cannot catch such issues as #11213

~Therefore, we should exte

[2020-11-03 11:12] Buffer0x7cd opened #13869 "Enabling XDP causes Cilium Agents to fail during restart on EKS"
Hi, Currently I am trying to enable XDP on AWS EKS. I have installed Cilium as a replacement of Kube-Proxy and was able to run it with hybrid NodePort strategy. After this step I tried to enable XDP with Following Command

[code]

After this step i tried to restart the Cilium daemon set using below command.
[code]
After this step i noticied that all cilium agent pods are stuck
[code]
[code]

In th

[2020-11-03 11:54] gandro opened #13872 "Hubble `node_name` field should contain cluster name"
The `Flow` and `GetFlowsResponse` messages both have a `node_name` field which conatins the name of the Cilium node which produced this flow/event:

https://github.com/cilium/cilium/blob/0507c620b6a0fb0acc247a6276fcf4ef9c86bd3c/api/v1/flow/flow.proto#L46-L47

However, this field currently only contains the node name, without it's cluster-mesh prefix. If the cluster name is _not_ the default cluste

[2020-11-03 12:50] kkourt commented on #12288
For the second look followup, I did an upgrade from 1.8 to 1.9  following the guide and everything worked out well.

#13874 contains some improvements based on trying this.

[2020-11-03 13:00] borkmann commented on #13869
Thanks for the debug info, @Buffer0x7cd! Few questions below to further help narrowing it down...

You've used:
[code]

- Does the agent come up properly if you remove the acceleration setting or set `global.nodePort.acceleration=disabled`?
- If not,  does the agent come up when you additionally switch to `global.nodePort.mode=snat`?

[2020-11-03 13:20] brb commented on #13839
Just two add more context, the 5/10 request from a client pod to the svc failed with the curl err code `28`. This was testing bpf_sock, so it has nothing to do with Maglev.

[2020-11-03 13:49] tibers commented on #13852
Still trying to nail down the behavior - the org I'm working in has a seriously locked down cluster for compliance reasons, this *does not* happen on generic GKE clusters. I believe it's an org policy issue. My humble suggestion is to just allow us to turn off the feature if we're not allowed to use it with the caveat that this will allow pod pre-emption.

[2020-11-03 14:05] Buffer0x7cd commented on #13869
@borkmann Yeah, The agent is running successfully if i remove --set global.nodePort.acceleration=native. But i need to do a cilium deployment from start for this to be effective . Simply upgrading the chart again with ` --set global.nodePort.acceleration=native` removed doesn't work and keeps the pods stuck in terminating state. So to recover from this state below are the steps

1. Delete the pods

[2020-11-03 14:11] errordeveloper commented on #10013
The docs had been tested quite extensively now and I believe it's good to close this. We will have some follow-up items, but the baseline is now good enough.

[2020-11-03 14:11] #10013 closed

[2020-11-03 14:17] aanm commented on #13852
`helm install cilium https://github.com/cilium/charts/raw/master/cilium-1.8.5.tgz --namespace kube-system --create-namespace --set global.nodeinit.enabled=true --set nodeinit.reconfigureKubelet=true --set nodeinit.removeCbrBridge=true --set global.cni.binPath=/home/kubernetes/bin --set global.gke.enabled=true --set config.ipam=kubernetes --set global.nativeRoutingCIDR=$NATIVE_CIDR --set nodeinit.r

[2020-11-03 14:22] #12123 closed

[2020-11-03 15:39] tibers commented on #13852
Yeah running this and specifying `--namespace kube-system` does resolve my error.

[2020-11-03 15:43] tklauser commented on #11213
Another failure on 1.7 backport (#13871): https://jenkins.cilium.io/job/Cilium-PR-Ginkgo-Tests-K8s/3672/testReport/Suite-k8s-1/13/K8sFQDNTest_Restart_Cilium_validate_that_FQDN_is_still_working/

[2020-11-03 16:43] pchaigno commented on #13008
We haven't seen this issue in a while. Closing.

[2020-11-03 16:43] #13008 closed

[2020-11-03 17:15] jibi commented on #13752
I tried to reproduce this on GKE with a fresh image built from master:

[code]

but the test run just fine:

[code]

Are we still seeing this in CI GKE tests?

[2020-11-03 17:18] christarazi commented on #12250
I did not know that existed, nice! I can't think of a reason why we wouldn't want that. I don't think we care about which tables the rules / routes are from.

[2020-11-03 17:35] joestringer commented on #12250
I could see a possible reason we might want to know specific tables, if we aren't sure about whether Cilium properly programmed a particular table. Then being able to inspect only that table might make it easier to tell whether something is missing. With the whole route table, it could potentially be fairly large.

That said, I'm not sure at a glance which other tables we might interact with and I

[2020-11-03 17:37] joestringer commented on #12250
@pchaigno

This can be counter-intuitive, but for most of the cilium-sysdump state gathering, it is actually achieved via the bugtool binary that is shipped in the Cilium container. So the logic is in this repository, not in the other repository. cilium/cilium-sysdump mainly holds the co-ordination code, stuff like how to get into different nodes in a k8s environment to be able to get the state fr

[2020-11-03 18:18] MrCull opened #13879 "The README file in this repo has some bad links - [404:NotFound]"
The README file in this repo has some bad links - [404:NotFound]

Status code [404:NotFound] - Link: https://docs.cilium.io/en/stable/install/upgrade/
Status code [404:NotFound] - Link: http://docs.cilium.io/en/doc-1.0/install/system_requirements

This was found by an new experimental hobby project that I have just created: https://github.com/MrCull/GitHub-Repo-ReadMe-Dead-Link-Finder
If this has

[2020-11-03 18:33] christarazi commented on #12250
Good point, we might have a scenario where some rules / routes are conflicting and depending on their table number (priority), one might take effect over another. Having the table number would ease that case.

[2020-11-03 19:51] joestringer commented on #13879
Thanks for the report!

These should point to the `stable` version. The upgrade guide has been moved to operations/upgrade.

[2020-11-03 20:50] joestringer commented on #11990
Still hitting on master:
https://travis-ci.com/github/cilium/cilium/jobs/427190078

[2020-11-03 21:02] joestringer opened #13881 "Segfault triggered by race condition when restarting Cilium 1.8.5 while handling DNS packets and logging to cilium monitor"
I deployed Cilium 1.8.5 into a GKE cluster, then deployed all https://github.com/cilium/chaos-monkeys , then restarted the Cilium pods.

Upon restart, Cilium crashed out:

[code]

After a couple of restarts, Cilium successfully came back up.

[2020-11-03 21:21] joestringer commented on #13881
Confirmed to also affect v1.9.0-rc3.

[2020-11-03 21:38] joestringer commented on #12288
I updated the chaos-monkey scripts to run with recent helm, kubectl tools and deployed them in a GKE cluster.

First I tried:
* Deploy 1.8.5. Deploy chaos-monkeys. Restart Cilium.
  * I hit https://github.com/cilium/cilium/issues/13881
  * Only the FQDN monkeys crash/restart, which is expected since they rely on DNS resolution and the DNS proxy will become unavailable during upgrade due to the kno

[2020-11-03 21:51] petreski opened #13883 "Empty endpointSelector in CCNP (ciliumclusterwidenetworkpolicy) does not select all endpoints in cluster"
## Bug report

**General Information**

- Cilium version: v1.8.5
- Kernel version: 5.9.2-1.el7.elrepo.x86_64
- Orchestration system version in use: Rancher v2.4.8, kubernetesVersion v1.18.6,
- Link to relevant artifacts (policies, deployments scripts, ...): https://github.com/petreski/cilium-examples/blob/main/ccnp.yaml https://github.com/petreski/cilium-examples/blob/main/cnp.yaml
- Link to the g

[2020-11-03 22:41] #12288 closed

[2020-11-04 00:21] aditighag commented on #13881
Looks like this is where it's segfaulting - https://github.com/cilium/cilium/blob/v1.8/daemon/cmd/fqdn.go#L546

[code]

I tried reproducing the issue on the dev VM with master branch, but no luck. I'm not sure if I need to enable some metrics related configs in order to exercise the code path in question.

These are the 2 cnps I tried to deploy in order to reproduce the issue -
https://github.com/

[2020-11-04 00:30] jayunit100 commented on #13767
@cmluciano good catch on that first json snippet, I was pasting the wrong one :) .
in any case we now have adopted the tests to report differences in loopback without reporting them as failures.

I think we can close this now, will let @aanm  make the call ?

[2020-11-04 00:37] lachlanmunro opened #13887 "Cilium operators crashing during migration from tunnelled to non-tunnelled (EKS)"
# Bug report

We are looking to move some clusters away from tunneled (vxlan) on EKS, entirely due to issues around webhooks. This is not expected to be a smooth operation so a test cluster was moved, downtime is expected.

During the "migration" the operators seemed to get stuck in a crash loop that required a complete purge of Cilium CRD's to escape.

I don't have a clean set of reproducible ste

[2020-11-04 08:00] #11565 closed

[2020-11-04 12:24] fristonio opened #13891 "Cilium IPv6 and DualStack K8s support"
This a parent issue that tracks the progress of Cilium on IPv6 and DualStack clusters.

Known issues:

- [x] Support for multiple `ipFamilies` in service spec.

With Kube-Proxy

- [ ] Hairpin flow for IPv6 service (#13420)
- [x] Masquerading for IPv6 traffic (#6320)
NodePort services with kube-proxy when service is accessed from client pod in Node 1 to Node2 NodePort address. This happens because

[2020-11-04 15:42] tklauser opened #13893 "Investigate why no functions get inlined on binary builds"
Split out of #13889

[code]

however, if we build a single package - in this case `pkg/murmur3` we get several inlined functions:

[code]

[2020-11-04 16:10] amorenoz commented on #13429
@errordeveloper Yes both `docker.io/cilium/startup-script:62bfbe88c17778aad7bef9fa57ff9e2d4a9ba0d8` and `quay.io/cilium/startup-script:62bfbe88c17778aad7bef9fa57ff9e2d4a9ba0d8` work fine

[2020-11-04 17:54] aanm commented on #13767
@jayunit100 thanks for the update. Let's close it for now.

[2020-11-04 17:54] #13767 closed

[2020-11-04 17:56] #13429 closed

[2020-11-04 18:00] joestringer commented on #13881
I have found that this issue is not 100% reproducible. It is not so difficult to reproduce when following the outlined approach from the description but it is not quite as simple as just deploying and restarting Cilium, sometimes the Cilium pods will not crash/restart after the Cilium pod is restarted. When changing the image from one affected version to another, it seems more likely to occur.

I

[2020-11-04 18:03] joestringer commented on #13881
Given that Cilium will automatically restart and seems to come back up OK, and that there seems to be a cilium monitor component to this, I'm not sure that it needs to block the release but if we do get the fix in before release that would be ideal. I will drop the label to best effort.

[2020-11-04 18:09] #13893 closed

[2020-11-04 21:25] pchaigno opened #13898 "CI: GKE: Random failures in tests following K8sUpdates"
Since we unquarantined K8sUpdates, the GKE pipeline has been failing fairly consistently. The GKE test for the v1.9 backport PR that included the unquarantined K8sUpdates was also failing until we removed that commit.

It seems to always be tests happening after (although not always immediately after) K8sUpdates which fail (K8sUpdates succeeds). It seems likely that some resource shared by K8sUpda

[2020-11-04 23:07] joestringer opened #13900 "API ratelimit logs are too noisy"
I deployed Cilium 1.9.0-rc3 and a few pods, and noticed that there is a lot of logs when deploying / deleting pods:

[code]

We should evaluate whether all of these are necessary at INFO level.

[2020-11-04 23:17] joestringer commented on #9898
@stuartpb we've had advanced users building Cilium themselves since 1.8 or earlier and deploying in their own environments. Over time, we are accepting patches to improve the automation for delivering images. Right now, there are some limitations around Envoy / L7 policies in the cilium/cilium-dev images, but I would suggest trying them out and providing feedback on them. We welcome community part

[2020-11-05 01:22] joestringer commented on #13883
Hi @petreski , when you extend the endpointSelector to `{}`, it will select all endpoints in the cluster, which will include kube-dns. Therefore you also need to extend the CCNP to allow kube-dns to access the upstream DNS server, otherwise kube-dns will be unable to resolve outside domains and the traffic from kube-dns to the outside world would be dropped.

Depending on the applications you have

[2020-11-05 08:24] pchaigno commented on #12523
Do we know why this is happening? It looks expected for traces and debug messages from XDP hooks (since we just return 0 there, 2efe9db5aca0bc81efbbf7ee99e8d912f52fdf71). Is there some other case? Is there anything we can do about this for the XDP case?

[2020-11-05 08:38] jaffcheng opened #13902 "change PolicyAuditMode config option through CLI doesn't affect datapath"
## Bug report

**General Information**

- Cilium version v1.8.4
- Kernel version 4.14.67
- Orchestration system version in use K8S v1.17.3

**How to reproduce the issue**

1. create some test pods on node1 and a deny-all CiliumNetworkPolicy enforcing on them, all traffic accessing test pods should be denied
https://docs.cilium.io/en/v1.8/policy/language/#ingress-egress-default-deny
2. execute the

[2020-11-05 08:47] jaffcheng commented on #13902
It seems that this is due to CLI config change only triggers a `RegenerationWithoutDatapath` while `PolicyAuditMode` requires BPF recompilation:
https://github.com/cilium/cilium/blob/73be2c15ced2d54aecdfa462b38d2aac2e6f631f/daemon/cmd/policy.go#L67-L76

[2020-11-05 09:16] errordeveloper commented on #9898
WIP PR to build Envoy image is here: https://github.com/cilium/proxy/pull/27

[2020-11-05 09:55] petreski commented on #13883
Is it possible to find such example somewhere in the documentation?

[2020-11-05 10:34] brb opened #13905 "bpf: DumpReliablyWithCallback iterates until maxLookup when callback deletes last entry"
I've noticed that **sometimes** the `(*bpf.Map).DumpReliablyWithCallback()` iterates until the `maxLookup` is reached when an invocation of a callback removes the last entry from the map. This can potentially lead to wasted CPU cycles.

I haven't looked in great details, but it seems that this happens because we don't effectively check for the `nextKeyErr`, as `continue` is invoked because of `Loo

[2020-11-05 13:36] pchaigno commented on #13883
The [documentation on policies](https://docs.cilium.io/en/stable/policy/) has a lot of different examples. How exactly you want to restrict kube-dns's egress communications is up to you, but you need to allow kube-dns to access the apiserver (with an L3-only rule or with an L3+L4 rule for example) and the upstream DNS server(s) (probably toPorts rule or toCIDR+toPorts rule if you know those server

[2020-11-05 13:43] pchaigno opened #13909 "CI: Replace WaitForXXX helpers by kubectl wait"
It looks like we should be able to replace most of your `WaitforXXX` helper functions in [`test/helpers/kubectl.go`](https://github.com/cilium/cilium/blob/73be2c15ced2d54aecdfa462b38d2aac2e6f631f/test/helpers/kubectl.go) by calls to `kubectl wait --for=... -l ... --timeout=...`. This was suggested in https://github.com/cilium/cilium/pull/12658#discussion_r517901918.

[2020-11-05 14:18] petreski commented on #13883
Thanks a lot! I was able to solve this by adding:

    - toCIDR:
      - 10.0.2.3/32
      toPorts:
      - ports:
        - port: "53"
          protocol: UDP

[2020-11-05 14:18] #13883 closed

[2020-11-05 15:50] Rolinh commented on #13905
From what I recall, `ErrMaxLookup` was added to deal with the fact that when the map is being updated at the same time it's being iterated (this can happen as this `DumpReliablyWithCallback()` is lockless), the iteration loop backtracks to catch the change. So to prevent re-starting the iteration too many times for the case where the map is very frequently updated, `maxLookup` was added. I'm unsur

[2020-11-05 16:15] aanm commented on #13400
Still happening

[2020-11-05 17:48] joestringer commented on #13902
@jaffcheng good catch, you're right. Will you submit a patch to ensure that specifically when changing PolicyAuditMode it regenerates the datapath?

[2020-11-05 17:57] joestringer opened #13913 "Expose runtime config via `cilium config` CLI"
At the moment, `cilium config` only exposes a subset of all of the agent configuration:

[code]

Most of the above is related to datapath-specific configuration.

As far as I know, we can't currently query the active cilium configuration from the agent. Users can run things like `kubectl -n kube-system get configmap cilium-config`  to fetch a subset of the configuration, or they can look at the be

[2020-11-05 18:36] michi-covalent commented on #12416
@gandro i guess the plan here is to bring back the `payload` field? it does have some implications in terms of memory overhead 🤔

[2020-11-05 21:15] jrajahalme opened #13917 "CI: K8sIstioTest Istio Bookinfo Demo Tests bookinfo inter-service connectivity: unable to deploy Istio"
[code]

Then subsequest tests still show:
[code]

[2020-11-05 22:58] jrajahalme commented on #13400
Still happening https://jenkins.cilium.io/job/Cilium-PR-K8s-1.12-net-next/1092/testReport/junit/Suite-k8s-1/12/K8sKafkaPolicyTest_Kafka_Policy_Tests_KafkaPolicies/

Maybe we should try another port if we get the address already in use error?

[2020-11-06 00:18] ArthurChiao commented on #13902
By the way, toggle on/off global PolicyVerdictNotification (`cilium config PolicyVerdictNotification=false`) is also broken due to the same reason as @jaffcheng described above.

AND, toggle off **endpoint-level** PolicyVerdictNotification is broken due to bpf compiling errors, a patch is submitted for review: https://github.com/cilium/cilium/pull/13921, @joestringer

Thanks!

[2020-11-06 02:59] #12938 closed

[2020-11-06 02:59] #12950 closed

[2020-11-06 03:07] jaffcheng commented on #13902
Thanks for checking! I'll send a PR.

[2020-11-06 13:43] kkourt opened #13928 "vagrant script: detect colliding active virtualbox VMs and warn users"
Running the vagrant script with `NWORKERS=1` did not work for me. Specifically, `k8s2` could not connect to the API server even though everything (e.g., certificates) looked fine on the host. After a long debugging session, we figure out that the issue was a residual `k8s1` machine that was running on virtualbox but was not visible to vagrant.

It would be good to detect these types of residual VM

[2020-11-06 13:44] AttilaUngvari opened #13929 "Possibility to set aws-release-excess-ips through helm"
## Proposal / RFE

**Is your feature request related to a problem?**

When using ipam mode ENI and the cilium-operator-aws image, there is no way to set the parameter `--aws-release-excess-ips=true` through the official helm chart in the configmap.

**Describe the solution you'd like**

I'd like to use `helm template` to be able to set the parameter to true as part of https://docs.cilium.io/en/v1.

[2020-11-06 13:46] pchaigno commented on #13928
Kornilios figured we could probably use `VBoxManage list runningvms` to detect any VM that's already running before starting our new VMs. We would probably need to run this command in our `start.sh` script and print a big warning if we detect anything (with appropriate action: pause, stop, or destroy residual VM).

[2020-11-06 13:56] aanm opened #13931 "Complexity issue with ipv6 enabled"
[code]

[code]

the same does not happen with
[code]

[2020-11-06 14:15] jibi opened #13932 "CI: K8sUpdates Tests upgrade and downgrade from a Cilium stable image to master"
## CI failure

[Build artifacts](https://github.com/cilium/cilium/files/5501677/a488ab52_K8sUpdates_Tests_upgrade_and_downgrade_from_a_Cilium_stable_image_to_master.zip)

CI dashboard: https://datastudio.google.com/s/oeLtQ5ktBlE

### Stacktrace

[code]

### Stdout

[code]

### Stderr

[code]

May be related to https://github.com/cilium/cilium/issues/13898

[2020-11-06 14:43] kkourt commented on #12891
Turns out we do have monitor logs.

Bellow is an attempt to match them to the operations

The logs are from the same failing case as the one I used before:
[code]

#### IPv6 ping that is supposed to fail:
[code]

monitor output:
[code]

#### IPv4 ping that is supposed to fail (but does not):

[code]

so there is no monitor verdict in this case

[code]

[2020-11-06 14:53] yandzee opened #13935 "It would be nice to have names of connected nodes in observer API"
## Proposal / RFE

Currently, hubble relay API only suggests [names for unavailable nodes](https://github.com/cilium/cilium/blob/master/api/v1/observer/observer.proto#L38-L68), but it would be useful (especially for the UI purposes) to have names for all connected nodes.
Another useful data I would like to have is versions of main deployed components

**Is your feature request related to a problem

[2020-11-06 15:56] #13816 closed

[2020-11-06 18:07] pchaigno commented on #12891
So ICMPv6 packet is dropped by policy. ICMP packet, which happens right after, is forwarded and we don't have any policy-verdict report. That can either be because 1) the policy-verdict is filtered, 2) we never reach the point where we generate the policy verdict, or 3) we match a conntrack entry:

1. If no policies are enforced on ingress or egress, then we [filter policy verdict notifications](h

[2020-11-06 18:08] joestringer commented on #12308
FWIW I followed the above steps for 1.8 and 1.8 -> 1.9.0-rc3 and identified one stability issue in the agent, no sign of connectivity loss when following the upgrade guide correctly.

[2020-11-06 18:14] joestringer commented on #13553
Additional information that would help to pinpoint the issue:

* The full values file as provided
* `hubble observe -t drop` or `cilium monitor -t drop` output demonstrating the packet drops
* A sysdump if possible, so we can evaluate things like whether routes might be misconfigured to cause drops, or iptables rules are being hit which cause all packets to be dropped, or some other unusual enviro

[2020-11-06 18:41] christarazi commented on #13412
Thanks for the write-up @jaffcheng. That definitely seems plausible. One thing that could be interesting is to run the agent with race detection enabled to see if this level of churn surfaces any problems.

[2020-11-06 18:57] gpl commented on #13553
- Values file -- https://hasteb.in/doxepaqa.yaml
- We don't actually see the drops occurring on the cilium end.  We know from tcpdump on the switch side that packets are making it to the host, but the packet seems to disappear from then on.  Cilium monitor doesn't observe these drops.
- A sysdump was sent to @\pchaigno a few weeks ago, if possible could that be referenced?  We can send another one

[2020-11-06 19:25] joestringer commented on #13553
I see, if Cilium isn't dropping the traffic then this gets more into Linux debugging territory.

Here's a few additional avenues to investigate:
* Routing diverts the traffic to not be observed by Cilium (`ip rule`, `ip route`, `ip route get <dst>`)
* Iptables rules are dropping the traffic (`iptables-save -c`)
* Early demux is interfering somehow `net.ipv4.ip_early_demux`
* NIC offloads like GRO/

[2020-11-06 19:40] joestringer commented on #13932
Do we have any evidence of this failure signature (expected N to be 0 in K8sUpdates test) in any other PRs?

My initial suspicion would be that since #13925 is modifying tail calls, there is some possibility for upgrade impact there if we are not paying close attention.

[2020-11-06 19:46] joestringer commented on #13932
This is definitely the type of failure that we would want to raise as a release-blocker if we are observing it in master or v1.9 branches, or if it is affecting multiple PRs. Then we can consider the likelihood for it to impact users and whether there is something we can do in 1.9.0, or if it's more complex, address in 1.9.1.

That said, given how close we are to the release, we also should have a

[2020-11-06 19:56] joestringer commented on #13932
I followed the link to the datastudio which listed 19 CI failures on PRs where this test failed. There were two specific PRs that had this failure signature, PR #13925 and PR #13347. @jibi were you experimenting with tail calls in #13347 as well?

[2020-11-06 20:04] gpl commented on #13553
We're only observing this behavior after the cilium pod restarted, so I'm not sure if GRO/LRO would be at issue here.  In either case, the issue still exists when offloads are disabled.

We ran the following commands before and after cilium was restarted and connectivity broke to pods on the host.
[code]

The only thing we saw changed was:

before:
[code]
after:
[code]

[2020-11-06 20:14] joestringer commented on #13553
Even if specifically deleting the egress filter on eth0 doesn't help, there could still be an issue on the TC side - ingress, or on another device.

Another potential option to explore is using `cilium cleanup` to clear out Cilium state on the node and see if that makes a difference. Note, this is a last resort and should not be executed in important or production environments.

[2020-11-06 20:33] gpl commented on #13553
Is there an easy way to debug this?  I apologize, I'm not quite sure what I should be looking for here.  Pings to the container stop working after we see `restored endpoint` in the log lines.

We reinstalled a node an hour ago to test if there was something stuck in the state that would cause an issue, is `cilium cleanup` still needed?

[2020-11-06 20:41] #13881 closed

[2020-11-06 21:08] pchaigno commented on #13932
Yes, he was. #13925 was extracted from #13347. I'm closing this issue.

@jibi Don't hesitate to reach out for help/pointers. I'm pretty sure this is a fairly classical failure when adding new tail calls, I had it in the past.

[2020-11-06 21:08] #13932 closed

[2020-11-06 23:51] gpl commented on #13553
I might be completely wrong here, but it looks like the issue no longer persists if I specify the nodeIP as an IPv4 address, instead of an IPv6 address.

[2020-11-07 14:19] fristonio commented on #13931
I think there are some known issues when using LLVM 11. I came across this recently - https://github.com/cilium/image-tools/pull/79
Maybe @pchaigno has more information on this?

[2020-11-07 21:10] pchaigno commented on #13931
The Clang version here is a bit misleading. That commit isn't actually 11.0.0, it actually a lot closer to LLVM 10.0.0. I have a PR (cf. https://github.com/cilium/packer-ci-build/pull/244) to update the Clang version we use in VMs to be exactly the same as in Docker image (v10.0.0 with two cherry picks), but I doubt that's going to make much of a different.

[2020-11-09 06:30] #12971 closed

[2020-11-09 06:42] brb commented on #13913
Also, we should move some items which denote configuration from `cilium status (--verbose)` to `cilium config` (e.g. `KubeProxyReplacement`).

[2020-11-09 07:39] #12297 closed

[2020-11-09 09:30] #13852 closed

[2020-11-09 09:38] pchaigno commented on #11862
We haven't seen this in a while. Closing.

[2020-11-09 09:38] #11862 closed

[2020-11-09 09:53] alex1989hu commented on #13096
I made lots of investigation and I found thee root cause. Let me share the results

VMware `ESXi 7.0` and latter introduced a new revision of `VMXNET3` Network Adapter.

Using `6.5.0 build 9298722` with Kernel `v5.5.15` => OK
Using `6.5.0 build 9298722` with Kernel `v5.8.10` => OK
Using `7.0.1 build 16850804` with Kernel `v5.5.15` => OK
Using `7.0.1 build 16850804` with Kernel `v5.8.10 / v5.8.15`

[2020-11-09 09:53] #13096 closed

[2020-11-09 10:18] qmonnet commented on #12467
See https://github.com/cilium/image-tools/pull/85.

[2020-11-09 11:47] gottwald opened #13947 "Pod to Pod performance issues with VXLAN enabled"
## Bug report

**General Information**

- Cilium version (run `cilium version`)
` 1.8.5 fc1a8ac7c 2020-10-28T14:44:12-07:00 go version go1.14.10 linux/amd64`
- Kernel version (run `uname -a`)
`Linux pool-jq4hf6ndv-3kmjl 4.19.0-11-amd64 #1 SMP Debian 4.19.146-1 (2020-09-17) x86_64 GNU/Linux`
- Orchestration system version in use (e.g. `kubectl version`, Mesos, ...)
`
Server Version: version.Info{Ma

[2020-11-09 12:03] youssefazrak commented on #12250
Good, in this case, I will get the specific routes, and probably as @christarazi, get those dynamically.

[2020-11-09 14:35] kkourt commented on #12891
After spending some time reading the code, I believe I have a good theory about what is the issue.

We are using the ICMP id for connection tracking (in the same way as we would use ports for TCP/UDP): https://github.com/cilium/cilium/blob/51647bbdbd221d488c07120b116e06de1f1ed7d8/bpf/lib/conntrack.h#L579

What would happen if the ping from client to server that was supposed to work, had the same i

[2020-11-09 16:15] tklauser opened #13954 "CI: v1.7: Suite-k8s-1.12.K8sDatapathConfig MonitorAggregation Checks that monitor aggregation restricts notifications: timed out waiting for pods with filter -l k8s-app=cilium"
Seen in v1.7 backport PR #13950

[code]

https://jenkins.cilium.io/job/Cilium-PR-Ginkgo-Tests-K8s/3678/
[66f6fbf1_K8sDatapathConfig_MonitorAggregation_Checks_that_monitor_aggregation_restricts_notifications.zip](https://github.com/cilium/cilium/files/5511752/66f6fbf1_K8sDatapathConfig_MonitorAggregation_Checks_that_monitor_aggregation_restricts_notifications.zip)

[2020-11-09 16:33] errordeveloper commented on #13701
@hikhvar did you have a chance to try using both policies with the service account?

[2020-11-09 16:59] aditighag commented on #11672
I triaged the issue, and the fix was discussed during the community meeting on Sept 28. I'll send out a PR in the v1.10 time frame.

[2020-11-09 17:40] joestringer opened #13955 "Deploying Cilium quick-install YAML in Hetzner cloud leads to connectivity outage"
Report from Alexander Becker on Slack:

The setup which is explained [here](https://github.com/hetznercloud/hcloud-cloud-controller-manager/blob/master/docs/deploy_with_networks.md) is related to an old cilium version.
Using the old version the cilium deployments keep crashing/restarting, but the routes are created correctly in the hetzner cloud console.
Using the latest version with [this](https:

[2020-11-09 17:46] joestringer commented on #13955
One issue we identified was that the quick-install YAML specifies the following cluster-pool IPAM CIDR range:

However, this commonly overlaps with the CIDR range used for internal IPs from cloud servers in Hetzner. So users would need to configure a distinct CIDR range to ensure that Cilium doesn't try to allocate IPs that conflict with server IPs.

The [Hetzner documentation on networks](https:/

[2020-11-09 17:48] joestringer commented on #13955
Helpful debugging tip: If you lose access via kubectl, it may still be possible to SSH into a node and point kubectl at `127.0.0.1:6443` to run kubectl commands:

`root@test-cluster-master-01:~# k --insecure-skip-tls-verify=true get pods -A`

[2020-11-09 17:51] joestringer commented on #13955
I believe @mmack has had some success on Hetzner systems in the past, I wonder if you have a particular guide or set of steps that you follow to successfully deploy Cilium on Hetzner cloud?

[2020-11-09 18:19] tklauser commented on #13552
Hit during K8sPolicyTest Multi-node policy test validates fromEntities policies with remote-node identity disabled Allows from all hosts with cnp fromEntities host policy in 1.7 backport #13950

https://jenkins.cilium.io/job/Cilium-PR-Ginkgo-Tests-K8s/3682/

[2020-11-09 18:21] #13735 closed

[2020-11-09 18:21] #13715 closed

[2020-11-09 18:43] #12862 closed

[2020-11-09 19:09] ByteAlex commented on #13955
So I've been doing a few more tests on this issue, and it seems like I was just having 10.20.0.0/8 in the configmap, using 10.20.0.0/16 it does deploy w/o the cluster going unavailable.

But yet I have another issue, before I was able to run the connectivity tests I'm seeing this on coredns:
[code]

The cilium ds logs look like this:
`level=info msg="Delete endpoint request" id="container-id:06190

[2020-11-09 19:23] joestringer commented on #13955
@ByteAlex the `postIpamFailure  range is full` is likely to be #9793, caused by having a route in the node which overlaps with the IPAM range. The full writeup is on that issue but I suspect that setting `blacklist-conflicting-routes: false` in the configmap should be  sufficient to resolve this issue on v1.8 or earlier. v1.9 is not expected to have the same issue.

[2020-11-09 19:24] ByteAlex commented on #13955
After checking in https://github.com/hetznercloud/csi-driver/issues/160 I noticed that `blacklist-conflicting-routes: false` as you just suggested.

That works to get an IP assigned to the pod, but it still doesn't seem to have any networking.

kubectl logs
[code]

[2020-11-09 19:53] joestringer commented on #13955
@ByteAlex that looks like the kubernetes API server that cannot be reached. Which component is responsible for implementing kubernetes services in your cluster? The Cilium quick-install.yaml assumes that you have a standard k8s cluster with components like kube-proxy running to provide that functionality. If that is not the case, Cilium also has an implementation but you will need to configure it.

[2020-11-09 20:21] mmack commented on #13955
@joestringer I have a running cilium config for Hetzner Bare-Metal Servers. My initial plan was spanning a wireguard network over metal and cloud nodes but that turned out not to be supported atm. So no, i don't have a running hcloud config.

Which brings me to an idea, maybe cilium should host a extra repository with different configs for different hosting providers with a short explanation of fe

[2020-11-09 20:39] ByteAlex commented on #13955
@joestringer I've been using this
[code]
+ hcloud CCM w/hcloud network

Pods:
[code]

[2020-11-09 20:40] joestringer commented on #13955
@ByteAlex which pods have these connectivity issues? Did you restart them after Cilium was successfully running?

[2020-11-09 20:41] ByteAlex commented on #13955
@joestringer coredns is not getting ready, I restarted them once, let me try to restart them again

[2020-11-09 20:43] ByteAlex commented on #13955
Restarted, but same thing:

[code]

[2020-11-09 20:48] mmack commented on #13955
My bet is that service ips are not working and therefore coredns‘s not able to reach the k8s api.

Von meinem iPhone gesendet

[2020-11-09 20:53] ByteAlex commented on #13955
So coredns is trying to reach `10.96.0.1`, I configured the following
[code]
I wonder how it pulled the 10.96.0.1

[2020-11-09 21:09] ByteAlex commented on #13955
@mmack Would you mind sharing your kubeadm init command & configmap for cilium as far as it doesn't contain any public IPs?

[2020-11-09 21:12] joestringer commented on #13955
@ByteAlex is the `10.96.0.1` the service IP of the kubernetes service in the default namespace?

[2020-11-09 21:12] ByteAlex commented on #13955
[code]
Oh indeed! Idk why I was looking at pods -owide

[2020-11-09 21:20] joestringer commented on #13955
@ByteAlex Can you use `cilium monitor` or `hubble observe` to filter traffic from the pod having trouble, and see if the traffic is indeed exiting the pod successfully?

[2020-11-09 21:21] ByteAlex commented on #13955
Where can I find those commands?

[2020-11-09 21:33] joestringer commented on #13955
@ByteAlex can you use https://docs.cilium.io/en/latest/operations/troubleshooting/#observing-flows-with-hubble to narrow down specifically to the pods that are having connectivity trouble? Or use `-t drop` to search specifically for dropped traffic?

[2020-11-09 21:42] ByteAlex commented on #13955
The only drop I saw in cilium monitor so far is:
`xx drop (Unsupported protocol for NAT masquerade) flow 0x0 to endpoint 0, identity 0->0: 138.201.94.89 -> 80.94.93.22 DestinationUnreachable(Port)`
But this seems unrelated to coredns, - I restarted a coreDNS instance, but no entry was written to the log.

[2020-11-09 22:57] joestringer commented on #13955
Looking at the output, it seems like this is mostly packets flowing between a local pod and the local node, but with just a few failed attempts to connect to remote nodes (the master, perhaps?) like this:

-> stack flow 0x73c889ed identity 5121->6 state established ifindex 0 orig-ip 0.0.0.0: 10.20.1.1:37404 -> 138.201.94.89:6443 tcp SYN
-> stack flow 0xfd50778d identity 5121->6 state established i

[2020-11-09 23:07] ByteAlex commented on #13955
138.201.94.89:6443 is indeed my master ip. What does that mean?

[2020-11-10 00:31] joestringer commented on #13955
Well, searching for port 37404 in all the output only shows TCP SYN packets being sent. Notably, there  is no SYN-ACK response, which means that either the destination didn't receive the SYN, or the destination replied with a SYN-ACK and the network didn't deliver the reply to the current node.

Next steps I would suggest would be to try to narrow down which case occurred, you could for instance u

[2020-11-10 00:37] joestringer opened #13960 "v1.9.0 release"
## Pre-release

- [x] Create a [new project] for the next release version
  - [1.9.0 project](https://github.com/cilium/cilium/projects/135)
  - [1.9.1 project](https://github.com/cilium/cilium/projects/137)
- [x] Add build targets for the new release on [Docker Hub]
  - All versions:
    - [cilium](https://hub.docker.com/repository/docker/cilium/cilium/builds/edit)
    - [operator](https://hub.do

[2020-11-10 01:51] aditighag commented on #13637
I added a debug log in the verifier [1] code wherever it returns the `ENOTSUPP` error code, but when I reproduced the issue, it didn't hit any of these logs. I confirmed that my debug logs at other known places are getting printed.

[1] https://elixir.bootlin.com/linux/v5.4.45/source/kernel/bpf/verifier.c

[2020-11-10 05:23] joestringer opened #13963 "Cannot build cilium sphinx-rtd-theme on readthedocs"
Readthedocs builds of the documentation have begun failing today with the following error:

[code]

[2020-11-10 07:14] fristonio commented on #13963
It seems like we are hitting this - https://github.com/npm/cli/issues/681
I am not really sure in which docker build this is failing though. Maybe we can try by updating npm version in the image?

[2020-11-10 11:42] errordeveloper commented on #9287
@mrostecki are you still keeping this on your radar?

[2020-11-10 11:44] errordeveloper commented on #9539
@jrajahalme any updates on this? should we still keep it open?

[2020-11-10 11:46] errordeveloper commented on #10276
@mrostecki do you want to keep this assigned to yourself?
@joestringer any thoughts on whether this still needs to be kept open?

[2020-11-10 11:52] errordeveloper commented on #10134
This looks like it should be revisited. What's not clear from the issue as it stand is what's the impact of this? Generally, it sounds like Cilium makes has some functionality that have a hard assumption on certain kernel features being a module, is that correct? In which case, it's probably a good idea to enhance the checks to cater for builtins.

[2020-11-10 11:55] errordeveloper commented on #11111
@joestringer @tgraf has this concluded offline in some way, in which case an update would be good, or is this still needs addressing?

[2020-11-10 12:01] errordeveloper commented on #10343
@borkmann I can see you have a branch that references this, is something blocking completion? Also, a high-level summary of the issue would be quite helpful.

[2020-11-10 12:12] errordeveloper commented on #11914
@valas I assume this on your radar now?

[2020-11-10 12:15] errordeveloper commented on #11810
@borkmann should this be closed in favour of #10897, or that still needs re-confirming?

[2020-11-10 12:27] mrostecki commented on #10276
Unassigned myself, I wasn't able to reproduce it of find any fix.

[2020-11-10 12:28] ByteAlex commented on #13955
Okay, I used `tcpdump` to write log files on all three hosts on 2 interfaces: eth0 (public) & enp7s0 (private).
I'm not an expert with networking but as far as I know these are the interfaces through which all traffic must be bridged for routing outside of the machine.

Public ip dump "src worker-01 and port 6443 or dst worker-01 and srcport 6443"
`(ip.src == 49.12.44.179 && tcp.port == 6443) || (

[2020-11-10 12:41] mrostecki commented on #9287
Sorry, I didn't start any work on this, I'm unassigning myslelf.

[2020-11-10 15:24] akubala opened #13974 "Transparent encryption on EKS - tests are failing"
I want to achieve transparent encryption on my Kubernetes cluster.

My current setup:
- Kubernetes 1.18
- Cilium 1.8.5
- Amazon EKS

Steps to reproduce the issue:

1. Cilium will manage ENIs instead of VPC CNI - the aws-node DaemonSet has to be deleted to prevent conflict behavior.

[code]

2. Create a Kubernetes secret for the IPsec keys to be stored.

[code]
3. Deploy Cilium via Helm.

[code]

4

[2020-11-10 16:34] fristonio commented on #13963
Fixed in https://github.com/cilium/sphinx_rtd_theme/pull/13

[2020-11-10 16:34] #13963 closed

[2020-11-10 16:41] aanm opened #13975 "Unable to deploy Cilium on GKE"
[code]

[2020-11-10 16:49] aditighag commented on #11916
Sure. Please feel free to take up the issue whenever you are ready.

[2020-11-10 17:25] aanm commented on #13975
Fixed. The issue was related with the fact that helm instructions from 1.8.5 were used to deploy Cilium 1.9.0.

[2020-11-10 17:25] #13975 closed

[2020-11-10 18:22] ByteAlex commented on #13955
I just updated to the latest cilium version, but it didn't fix my issue.
I found out something else though.

![grafik](https://user-images.githubusercontent.com/2230292/98715154-0ddd5480-238a-11eb-9989-2032eced00b2.png)

I am able to curl that server from both nodes (since it uses native networking), but from inside kubernetes it can't reach this ip.

[2020-11-10 18:39] joestringer commented on #11111
I think we got as far as to bisect the commit where the regression was introduced, but that commit was fixing another bug so we couldn't just revert it. I don't know if it's still a problem with the latest 1.9.0 release.

[2020-11-10 18:45] aditighag commented on #10462
I tested the NodePort load-balancing scenarios on EKS, and found an issue with rp_filter's strict mode caused packet drops (details - #13130). Based on the [comment](https://github.com/cilium/cilium/issues/13130#issuecomment-713040971), the rp_filter related fix has been implemented so I'll remove my assignment from this issue.

[2020-11-10 18:47] aditighag commented on #13130
Sure, I'll verify that the NodePort issue that I originally called out in the description is fixed before closing this bug.

[2020-11-10 18:49] joestringer commented on #10276
Doesn't look like we've had any subsequent reports in the last 6 months, it would've been marked stale & closed by the bot by this point if it wasn't assigned to someone so I figure we can close it out. There's always the option to reopen if it comes up again.

[2020-11-10 18:49] #10276 closed

[2020-11-10 19:11] valas commented on #11914
It's on our radar but we have not made any progress.

I think the last state is as follows:
1. @brb had a prototype
2. Prototype in (1) was not yet discussed/approved by broader set of Cilium decision makers.
3. This feature is very important and is a GA blocker for us because as it stands right now one can't do IPtables conntrack when Cilium runs in kube-proxy free mode.

[2020-11-10 23:08] joestringer commented on #10134
Impact looks like Cilium crashes with a fatal warning and refuses to start.

FWIW, I tried running Cilium 1.8.5 today with `enable-ipv6: true`, `cluster-pool-ipv6-cidr: fd00::/48` and `cluster-pool-ipv6-mask-size: "64"` under microk8s on Ubuntu 20.04 (kernel 5.8 vanilla) and I saw no such warnings. IPv6 is built in just like was reported in the issue description.

I would welcome reports from anyo

[2020-11-10 23:08] #10134 closed

[2020-11-11 10:20] #11650 closed

[2020-11-11 10:49] #13879 closed

[2020-11-11 11:19] RamAnvesh opened #13984 "Broken link @ https://cilium.io/blog/istio with link text "Istio Overview""
https://cilium.io/blog/istio

[2020-11-11 20:20] christarazi commented on #11787
@soumynathan Are you still working on this?

[2020-11-11 21:09] hikhvar commented on #13701
Ok, I removed the `arn:aws:iam::aws:policy/AmazonEKS_CNI_Policy` policy from the worker nodes instance roles. Than I added `arn:aws:iam::aws:policy/AmazonEKSWorkerNodePolicy` to the service account role of the cilium operator.

Now I'm back to the start of this issue. The pods are unable to list the interfaces.

My next step was to upgrade to cilium 1.9.0 since the used aws-sdk was bumped to v0.23

[2020-11-11 21:25] hikhvar commented on #13701
So, fixed the service acoount mapping. Upgrading to cilium 1.9.0 fixed the issue for me :tada:

[2020-11-12 01:25] christarazi commented on #13900
Endpoint create, delete, and patch all log to INFO by default: https://github.com/cilium/cilium/blob/a77a075f6c19e7e974612a18731ec3a445e71d03/daemon/cmd/api_limits.go#L42

Changing to false by default makes sense to me and the alternative to observing the behavior would be to watch for the api rate limiter metrics.

[2020-11-12 03:33] christarazi opened #13995 "Verifier errors (complexity) when deploying latest master on AWS EKS"
## Bug report

**General Information**

- `master`
- Kernel:
[code]
- AWS EKS K8s

**How to reproduce the issue**

1. Deploy latest `master` of Cilium to EKS following standard EKS guide: https://docs.cilium.io/en/v1.9/gettingstarted/k8s-install-eks/#k8s-install-eks
2. Inspect logs for verifier errors like so:

[code]

Because all endpoints are failing to compile, this leads to `cilium-health stat

[2020-11-12 07:45] borkmann commented on #13995
If you revert the two recent commits ...
- https://github.com/cilium/cilium/commit/1ed1db1b943582afadca64b8477fcfdd94a7252c
- https://github.com/cilium/cilium/commit/a7999315286d203fae2614ce7ed10c640dc4d13c
... is the complexity issue gone?

[2020-11-12 08:03] borkmann commented on #13947
@gottwald could you generate a flamegraph over the iperf run? I'd like to know whether the do_csum() is related to the vxlan driver or bpf code itself. Thx

[2020-11-12 09:06] jibi commented on #13995
I _suspect_ after we merge #13347 (which includes some changes to reduce the complexity also on older kernels) this issue should go away.
Let me first try to reproduce it locally

[2020-11-12 09:21] errordeveloper commented on #11914
@valas thanks for the update, feel free to bring this up e.g. in sig-datapath meeting.

[2020-11-12 09:24] errordeveloper commented on #12141
@pchaigno I might have encountered this on OpenShift, we had to disable BPF masq to make egress traffic reach external hosts.

[2020-11-12 09:25] errordeveloper commented on #12387
@jrajahalme do you have any updates on this?

[2020-11-12 09:27] brb commented on #11914
The prototype: https://github.com/cilium/cilium/tree/pr/brb/bpf-lxc-no-redirect.

[2020-11-12 09:30] brb commented on #12141
@errordeveloper Do you have a sysdump when the BPF-masq was enabled?

[2020-11-12 09:30] errordeveloper commented on #12437
From the sysdump it looks like ENI mode was used. I'd suspect this more likely to be related to a security group configuration issue, unless it's to do with autoscaling and stale VPC CNI config files. Was the cluster deployed using `eksctl` or somehow else?

[2020-11-12 09:34] errordeveloper commented on #13974
Encryption is not expected to work with `config.ipam=eni` mode and `global.tunnel=disabled` at present, you will need to use  `global.tunnel=vxlan`.

[2020-11-12 10:31] gottwald commented on #13947
I believe we can close this.
We were able to reproduce this problem in our environment with VXLAN on STT manually without any cilium components.
@borkmann still interested in the flamegraph?

[2020-11-12 10:33] gandro opened #13999 "ConfigMap generated by Helm contains duplicates"
Running `helm template` with the parameters used for GKE creates a configmap which contains duplicate keys. This is likely overall a bug in the Helm charts and might _not_ be GKE specific. @twpayne discovered this while generating YAML files for GKE.

How to reproduce:
[code]

The `tunnel` key also contains conflicting values, which makes this potentially more dangerous:

[code]

This also happens

[2020-11-12 10:35] #13960 closed

[2020-11-12 10:50] alex1989hu opened #14000 "Incorrect indentation in hubble-relay Helm chart deployment"
## Bug report
Incorrect indentation in hubble-relay Helm chart deployment.

**General Information**

- Cilium version (run `cilium version`):
`1.9.0`
- Kernel version (run `uname -a`)
`N/A`
- Orchestration system version in use (e.g. `kubectl version`, Mesos, ...):
`N/A`
- Link to relevant artifacts (policies, deployments scripts, ...):
`N/A`
- Generate and upload a system zip:
`N/A`

**How to rep

[2020-11-12 12:35] borkmann commented on #13947
@gottwald thanks for confirming! Yeah in that case we might be able to close the issue if not Cilium related. Looks like VXLAN on STT is not in upstream kernel.. currently don't have any insights there. In any case, if you see anything related to Cilium we can just reopen. Thanks!

[2020-11-12 12:35] #13947 closed

[2020-11-12 14:25] renzhendev opened #14002 "what is the difference between hostport and localredirectpolicy"
in hostport mode external traffic from any other not kubernetes node can connect to the hostport node，but in localredirectpolicy addressMatcher mode it seems only allow the node which has the addressMatcher‘s ip to connect the other

[2020-11-12 14:25] #14002 closed

[2020-11-12 14:37] renzhendev opened #14003 "what is the difference between hostport and localredirectpolicy?"
in hostport mode external traffic from any other not kubernetes node can connect to the hostport node，but in localredirectpolicy addressMatcher mode it seems only allow the node which has the addressMatcher‘s ip to connect ,maybe the other kubernetes node also can connect but i don't make a test .  so I have this question as I asked. Or this function is designd for the external workloads, make it

[2020-11-12 14:45] errordeveloper commented on #12141
@brb no, but we can try reproduce if needed, see the OpenShift OKD getting started guide.

[2020-11-12 15:06] #12686 closed

[2020-11-12 15:09] brb opened #14004 "Add metrics for the orphan SNAT GC stats"
As per https://github.com/cilium/cilium/pull/13912#discussion_r518376403, currently, we only log the orphan SNAT GC stats. It'd be more convenient for users to track it via the regular metrics mechanism.

[2020-11-12 15:34] mtneug opened #14005 "Some nodeSelector and tolerations use global values"
## Bug report

The restructured Helm chart of 1.9.0 uses "global" `nodeSelector` and `toleration` values at some places (e.g. `cilium-operator-deployment.yaml`). Specific values are not always used.

[2020-11-12 15:55] brb opened #14006 "Do not SNAT host netns application connections when running in lb-only mode with DSR"
Currently we track host netns application connections to outside with BPF SNAT in order to avoid cases when non-host netns connection (e.g. NodePort BPF (SNAT) to remote node or pod to outside) is SNAT-ed to existing host netns application. However, when running in the lb-only mode with DSR being enabled, the tracking is not needed, as the NodePort BPF does not SNAT requests, and BPF-masq is disab

[2020-11-12 16:36] aditighag commented on #14003
LRPs enable users to specify configurations to redirect **application pod traffic** to a backend pod running on the same node as the application pod. For example, the `addressMatcher LRP` that you mentioned lets user specify <ip address/port/protocol> tuple as a frontend configuration and backend pod configuration where application pod traffic destined to this frontend is redirected to. On the oth

[2020-11-12 16:54] christarazi commented on #13995
Sysdump:
[cilium-sysdump-20201112-085216.zip](https://github.com/cilium/cilium/files/5532025/cilium-sysdump-20201112-085216.zip)

[2020-11-12 18:34] aditighag commented on #13597
The L7 rules (and the overall CNP) is applicable only in the `default` namespace. Hence, you would see the denied HTTP response only for pod traffic that's allowed by the CNP in the `default` namespace.

[2020-11-12 23:11] #14003 closed

[2020-11-13 00:24] sakharovaan commented on #13995
I can observe the same issue with cilium 1.9.0, ubuntu 20.04.1 and kernels 5.9.8-050908-generic and 5.8.18-050818-generic:

[2020-11-13 05:31] PranaviRoy commented on #14000
I'm able to reproduce this issue, I'd like to take this up.

[2020-11-13 05:45] aditighag commented on #14000
Great, assigned it to you. Thanks!

[2020-11-13 06:39] sayboras commented on #14000
@PranaviRoy awesome, I suspected the below line might not be correct, and not 100% if similar issue is available somewhere else. Looking forward to checking your PR soon :100:

https://github.com/cilium/cilium/blob/master/install/kubernetes/cilium/templates/hubble-relay-deployment.yaml#L64

[2020-11-13 06:53] PranaviRoy commented on #14000
Yes, line 64 had the issue, changing `{{- toYaml . | trim | nindent 10 }}` to `{{- toYaml . | trim | nindent 12 }}`, solved the indentation issue for resources.
![Screenshot 2020-11-13 at 12 14 57](https://user-images.githubusercontent.com/36640705/99037599-03010a80-25aa-11eb-8292-a897da84b2ec.png)

I'll check for similar issues elsewhere too.

[2020-11-13 07:51] sayboras commented on #13999
I think there was exsiting issues or slack discussion before, saying that gke.enabled and ipam.mode should not be set together.

[2020-11-13 08:51] pchaigno commented on #13995
@sakharovaan Did you deploy with the same Helm flags as @christarazi? Could you post a sysdump?

[2020-11-13 10:05] twpayne commented on #13819
Quick update on this: adding the check is fairly straightforward, but it turns out that there are a lot of files that either don't have a copyright header, or have a slightly weird one. I have a WIP PR but there are still a lot of files to update. As there are other higher-priority tasks this is only getting idle cycles from me.

[2020-11-13 11:58] mvisonneau opened #14018 "helm: hubble-ui ingress 'error validating "": error validating data: apiVersion not set'"
## Bug report

When I attempt to deploy a ingress for the hubble UI, I got the following error:

[code]

I assume there is something not interpolating correctly amongst this template:

https://github.com/cilium/cilium/blob/v1.9.0/install/kubernetes/cilium/templates/_helpers.tpl#L8-L19

**General Information**

[code]

[2020-11-13 12:05] errordeveloper commented on #13284
@adityabond have you tried to reproduce this with 1.8.3, 1.8.4 or 1.8.5?

[2020-11-13 12:26] errordeveloper commented on #14005
@mtneug could you please post links to specific lines and explain if/how is this problematic?

[2020-11-13 12:29] errordeveloper commented on #12447
@henrysfx have you tried to reproduce it with 1.8.x, or perhaps 1.9.0?

[2020-11-13 15:11] errordeveloper commented on #12824
@deesee04 did you use eksctl to deploy this cluster, or something else? Are all nodes in a private or public subnet, or there are a few nodegroups?

[2020-11-13 15:12] errordeveloper commented on #12914
@fristonio are you still keeping this on your radar?

[2020-11-13 15:42] sakharovaan commented on #13995
@pchaigno sure, here is sysdump and helm values
[cilium-sysdump-20201113-183708.zip](https://github.com/cilium/cilium/files/5537825/cilium-sysdump-20201113-183708.zip)

[values.yaml.txt](https://github.com/cilium/cilium/files/5537835/values.yaml.txt)

[2020-11-13 16:57] aditighag commented on #12454
@joestringer Can we close this issue since the TPROXY change was merged in 1.9?

[2020-11-13 16:58] #13597 closed

[2020-11-13 23:13] ungureanuvladvictor opened #14028 "JSON based logging not applied everywhere"
## Bug report

When running the `cilium-operator` with `--log-opt=format=json` CLI param I see JSON logs but interleaved some text logs:
[code]

**General Information**

- Cilium version (run `cilium version`)
`1.8.4`
- Kernel version (run `uname -a`)
`Linux ip-10-0-2-53.ec2.internal 4.15.0-2000-aws-fips #4-Ubuntu SMP Tue Jan 28 12:41:43 UTC 2020 x86_64 x86_64 x86_64 GNU/Linux`
- Orchestration sys

[2020-11-13 23:30] ungureanuvladvictor commented on #14028
I suspect that somewhere in the kvstore code we log the `kvstore.EventChan` as a log field and logrus errors out:
- https://github.com/sirupsen/logrus/issues/642
- https://github.com/sirupsen/logrus/issues/871

[2020-11-14 04:55] #14018 closed

[2020-11-14 08:52] #12732 closed

[2020-11-14 08:52] #13007 closed

[2020-11-15 18:03] #13048 closed

[2020-11-16 03:51] #13057 closed

[2020-11-16 07:37] charlesgreat opened #14031 "help: how to delete hubble UI component?"
Intalled hubble-ui by below command, any way to delete hubble-ui component?
helm install cilium cilium/cilium --version 1.9.0 \
	    --namespace kube-system \
	    --set hubble.relay.enabled=true \
	    --set hubble.ui.enabled=true \

[2020-11-16 07:56] charlesgreat commented on #14031
helm upgrade cilium cilium/cilium \
	    --set externalWorkloads.enabled=false \
	    -n kube-system

[2020-11-16 07:56] #14031 closed

[2020-11-16 10:09] brb commented on #12141
@errordeveloper Once you have an OKD cluster running, please ping me. Thanks!

[2020-11-16 10:45] hazelnutsgz opened #14038 "Policy Cache for Acceleration"
I was wondering if cillium consider caching the historical network policy for the acceleration purpose. Or has it already been implemented in the current version?

Thanks.

[2020-11-16 10:48] aanm commented on #14038
Hi @hazelnutsgz can you clarify what is the "historical network policy"? Thank you.

[2020-11-16 11:45] hazelnutsgz commented on #14038
It is just a very rough idea, what I want to say is that for the two messages(they are the same) that would go through a very COMPLEX cillium filter(ebpf programs). Can cillium memorize the decision of the first packet, then can fetch the decision from the cache for the second packet, which could accelerate the filtering procedure.

Thanks.

[2020-11-16 12:05] #13492 closed

[2020-11-16 12:07] gpl opened #14040 "Ability to ignore tcp connection state established on filters"
## Proposal / RFE

We're looking for the ability to explicitly block all traffic from specified ranges irrespective of connection state or TCP flags.

**Describe the solution you'd like**

Potentially something like an optional `ignoreEstablished` attribute:
[code]

[2020-11-16 12:12] aanm commented on #14038
@hazelnutsgz That sounds a good idea but the policy can change in flight. In this case, Cilium needs to enforce the new policy for ongoing packets. This policy decision is done by performing a lookup in a eBPF map which is a simple operation.

[2020-11-16 15:47] aanm commented on #10236
@vladdy any updates?

[2020-11-16 16:20] fristonio commented on #12914
Thanks for bringing this to attention again, I missed tracking this somehow. I will try to take this up sometime this week.

[2020-11-16 16:21] errordeveloper commented on #13701
@joestringer @aanm I am not sure if we should consider this as a 1.8 bug that needs addressing, I think this is just a missing feature - wdyt?

[2020-11-16 16:26] aanm commented on #13701
If it is fixed in 1.9.0 we can close this issue since it is fixed.

[2020-11-16 16:27] #13701 closed

[2020-11-16 16:42] errordeveloper commented on #13701
@aanm I am just looking back at this, and looks like we are using AWS SDK v2, which is still beta. This feature was supposed to work automatically with classic SDK supported since [1.23.13](https://docs.aws.amazon.com/eks/latest/userguide/iam-roles-for-service-accounts-minimum-sdk.html). I have looked at [v2's changelog](https://github.com/aws/aws-sdk-go-v2/blob/master/CHANGELOG.md), but couldn't

[2020-11-16 16:46] errordeveloper commented on #13701
Ok, looks like SDK v2 was just lagging behind v1 on this feature (see https://github.com/aws/aws-sdk-go-v2/issues/338 and https://github.com/aws/aws-sdk-go-v2/pull/507.

[2020-11-16 16:46] aanm commented on #14038
the ebpf map contains the policy which is updated by the userspace. The code can be found here https://github.com/cilium/cilium/blob/75a2b474ead9a9b3373dc821054a9a8183087c0c/bpf/lib/policy.h#L90

[2020-11-16 17:01] kkourt commented on #12891
Since #13989 was merged, the expectation is that we stop seeing these failures on master :crossed_fingers:. Note that #13989 is not a fix for this issue (which is why I leave it open), but rather an identification of its cause.

[2020-11-16 17:04] #11179 closed

[2020-11-16 17:07] pchaigno opened #14047 "IPv6 datapath fails to load with Maglev and host firewall due to BPF program size limit"
When running Cilium with the host firewall and Maglev support, `bpf_host` fails to load because its `CILIUM_CALL_IPV6_FROM_LXC` section is too large.
[code]

The error can be easily reproduced by running any of the Maglev tests on master with the host firewall enabled (e.g., by setting label `ci/host-firewall` in the PR). One case of such failure is available at:
https://jenkins.cilium.io/job/Cili

[2020-11-16 19:58] joestringer commented on #12454
@aditighag I didn't specifically validate that #11279 fixed this issue. I think that additional development work will be needed to fully resolve this.

[2020-11-16 21:20] joestringer opened #14049 "Consider auto-posting failures from Jenkins CI runs to PRs to assist developer workflow"
From @eloycoto in Slack:

This was following a discussion about the merits of fail-fast, where fail-fast can shorten the feedback loop for development when there is a legitimate failure, but causes unnecessary additional CI runs if there is a CI flake (because the whole CI run must be restarted).

The idea is that instead of running CI with fail-fast, if a comment is posted to the PR as soon as th

[2020-11-16 21:27] christarazi opened #14050 "Use GitHub Actions (as a CronJob or other trigger) to bump cilium-runtime image"
This can be useful to detect newly reported vulnerabilities in the container image on DockerHub / Quay.

Quay seems to have an API: https://docs.quay.io/api/swagger/#!/secscan

[2020-11-16 21:28] sayboras commented on #14050
seems like [dependabot](https://dependabot.com) can be useful here 🤔

[2020-11-16 23:19] pchaigno commented on #13931
@aanm #13347 should have fixed this issue. I'm unable to reproduce anymore on master.

[2020-11-17 02:00] gongysh2004 opened #14052 "failed to start cilium agent with devices and directRoutingDevice set"
## Bug report

**General Information**

- Cilium version (run `cilium version`) 1.9.0
- Kernel version (run `uname -a`) Linux compute1 5.4.0-52-generic #57-Ubuntu SMP Thu Oct 15 10:57:00 UTC 2020 x86_64 x86_64 x86_64 GNU/Linux
- Orchestration system version in use (e.g. `kubectl version`, Mesos, ...)Client Version: version.Info{Major:"1", Minor:"19", GitVersion:"v1.19.4", GitCommit:"d360454c9bcd16

[2020-11-17 03:44] vladdy commented on #10236
I'll have an update to the PR by Wednesday. Sorry about the delay.

[2020-11-17 06:06] jshin47 commented on #13227
Since this issue is still open, should I assume that when using Cluster Mesh, we must ensure that each cluster's `clusterPoolIPv4PodCIDR` is unique between clusters?  Like if I have cluster 0 with host IP CIDR 10.0.0.0/16, then maybe `clusterPoolIPv4PodCIDR` should be set to 10.200.0.0/16 , cluster 1 with host CIDR 10.1.0.0/16 with `clusterPoolIPv4PodCIDR` 10.201.0.0/16 ,etc ?

[2020-11-17 08:46] kkourt commented on #14052
Thank you for the detailed report.

The agent seems to panicking, which is definitely a bug that we should fix.

In the meantime, I wonder if adding both `eth0` and `eth1` on `--devices` will fix your issue in the meantime. I.e., use `--devices=eth0,eth1`.

[2020-11-17 08:47] kkourt commented on #14052
The panic for posterity

[code]

[2020-11-17 08:48] aanm commented on #13931
me neither :tada:

[2020-11-17 08:48] #13931 closed

[2020-11-17 13:56] #13331 closed

[2020-11-17 16:21] qmonnet commented on #9894
Commit https://github.com/cilium/cilium/commit/938b4940f92bd3754568cad230916e64fa5b4a7a introduces checks for fragment metrics (although not for `DROP_FRAG_NOSUPPORT`, but rather for the number of fragments observed, `REASON_FRAG_PACKET`).

[2020-11-17 20:36] #14000 closed

[2020-11-18 01:53] joestringer opened #14067 "Evaluate features to move out of beta during v1.10"
Below is a list of features found via `git grep beta.rst Documentation/` which could be candidates for moving out of beta during v1.10 cycle. This issue aims to collect criteria such as user feedback, missing features (+ linked issues) for consideration

* IP fragmentation
  * Some deployment feedback (https://github.com/cilium/cilium/issues/13349)
  * Missing feature: https://github.com/cilium/ci