[2021-11-19 08:29] brb commented on #17747
@kvaster Thanks for debugging this! I think we can close this issue.

 By the way, instead of writing your own tracer, you could use https://github.com/cilium/pwru to debug this.

[2021-11-19 08:29] #17747 closed

[2021-11-19 08:31] brb commented on #9708
The PR is out https://github.com/cilium/cilium/pull/17929. You can test it by using the images built by https://github.com/cilium/cilium/runs/4261822899?check_suite_focus=true.

[2021-11-19 09:16] brb commented on #17859
Thanks for the sysdumps!

Some investigation brain dump below.

In-cluster bpf_lxc per-packet LB Client "doorman-7f5f67c946-j47nx" (100.97.222.42) connects to "pastrami" service (100.66.190.186, revnat=57) but gets wrong server "badoom3-598698858d-49zl6" (100.98.135.52, belong to svc=100.69.235.31, revnat=62). The session affinity is disabled.

From the CT on the client node there are 4 entries of

[2021-11-19 09:19] pchaigno commented on #11191
What is missing? From a quick look at the artifact, it seems to have all usual files except those that require a functional Cilium agent to collect (e.g., bugtools).

[2021-11-19 09:30] borkmann commented on #17897
(I've closed #17913 for now.)

[2021-11-19 10:27] borkmann opened #17935 "cilium: Removed stale bpf map info messages on L4LB-only maps"
### What happened?

These should not be created in the first place when running in CNI mode given they belong to L4LB:

[code]

[2021-11-19 10:52] brb commented on #17881
@aditighag I think `WaitForServiceBackend()` is a bit buggy - it waits for the backend to appear in any service. Instead, in addition to the backend IP, we should specify the service IP addr too. There is also `WaitForServiceEndpoints`, but this might be not enouch for your usecase, as you want to wait until the backends were provisioned in the BPF LB map.

[2021-11-19 11:03] alex-raoul commented on #17859
Hello,
I'm working with @sterchelen

It is possible, but we don't have the logs about ip assignements to pods.

We have a pool of let's say :
- 20 doorman (emitter)
- 25 pastrami (supposed receiver)
- 30 badoom (one of them being actual unexpected receiver)
Each doorman is doing curl like calls to pastrami svc, which is spread accross the 25 pods.

If we take the podname you found.
Accross `doorma

[2021-11-19 11:08] brb commented on #17820
@joestringer pointed out:

We can close this issue.

[2021-11-19 11:08] #17820 closed

[2021-11-19 11:09] brb commented on #17738
@zapotah Could you try a newer kernel? If the connectivity issue persists, please reopen it issue.

[2021-11-19 15:00] #17927 closed

[2021-11-19 16:50] brb commented on #17859
Are you saying that once the request is routed to the wrong backend, each subsequent request is routed to the same wrong backend?

Could you ping me in the Cilium slack on Monday (I'm `martynas` there)?

[2021-11-19 16:56] alex-raoul commented on #17859
No, only a small proportion, like 1 out of approximate size of backend pool. And as soon as we detect it, this small error rate will be visible until either pod are killed.
It's as-if the wrong backend joined the pool of legit backend but only for this emitter.

Will do 👍

[2021-11-19 17:13] brb commented on #17759
I'm failing to recollect the exact discussion.

Anyway, your case could be fixed by calling https://github.com/cilium/cilium/blob/v1.11.0-rc2/bpf/bpf_lxc.c#L1418 not only in the case of `CT_NEW`. If you want to work on it, let me know. Also, you could ping us on `#sig-datapath` in the Cilium slack.

I'm reopening the issue, as your case is a bit different to the one described in #10897.

[2021-11-19 19:06] kvaster commented on #17747
Thanks a lot for link to this wounderfull tool!

b.t.w.: I've compiled latest cilium and DSR is broken in git revision...

[2021-11-19 21:39] mdaur opened #17941 "IPv6 TCP connections broken / ACK packet not forwarded in case of service cluster-ip node/remote-pod"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

I am facing an issue in a dual stack cilium setup (v1.10.5-b0836e8) with full kube-proxy replacement (strict). The nodes make use of a BGP setup and all routes are exchanged (cluster/node-cidr), service CIDR is advertised for ECMP.

Issue: all packet drops after SYN, ACK (only IPv6), tcp sessio

[2021-11-19 22:29] joestringer commented on #11191
Woops, I neglected to actually post the report I was concerned about in my recent comment.

In PR #17788, we hit an issue in BeforeAll for tests in the GKE jobs and the test did not post artifacts to the failure page:
https://jenkins.cilium.io/job/Cilium-PR-K8s-GKE/6965/testReport/junit/Suite-k8s-1/20/K8sFQDNTest_Validate_that_multiple_specs_are_working_correctly/

However, I now notice that if we

[2021-11-20 00:10] maintainer-s-little-helper[bot] opened #17942 "CI: K8sServicesTest Checks service across nodes IPv6 masquerading across K8s nodes"
### Test Name
[code]

### Failure Output
[code]

### Stacktrace
<details><summary>Click to show.</summary>

[code]
</details>

### Standard Output
<details><summary>Click to show.</summary>

[code]
</details>

### Standard Error
<details><summary>Click to show.</summary>

[code]
</details>

ZIP Links:
<details><summary>Click to show.</summary>

 https://jenkins.cilium.io/job/Cilium-PR-K8s-1.22-ker

[2021-11-21 07:21] duttaANI commented on #17701
In the PR travis CI is failing . Is there any method to identify which unit test is causing this failure ? @pchaigno @joestringer

[2021-11-21 18:10] AnishShah commented on #17480
Sorry. I made some changes but I haven't got time to test it yet. I will likely won't get time until next year due to holiday. Please feel free to unassign me.

[2021-11-21 19:30] ernado opened #17944 "Consider generating TCP RST instead of DROP"
## Proposal / RFE

Currently Cilium drops packets that don't comply to network policies.

While we can observe firewall verdict in Hubble, getting RST would be useful for east-west traffic and can ease debugging for internal applications.

Can be related to #13451

[2021-11-22 08:26] pchaigno commented on #11191
I initially thought something like https://github.com/cilium/cilium/pull/16489 would be needed here, but after a quick look, I don't think the lack of artifact on the test page is related to the `BeforeAll` failure. I couldn't find a single failing GKE job with artifacts on the test page. I think something is broken for GKE specifically.

[2021-11-22 08:44] borkmann commented on #17941
Thanks for the report, @mdaur !

Do you happen to know if they actually leave the node, meaning dropped somewhere on the network before reaching node2?

Is it correct to assume that you did similar packet by packet analysis with tcpdump above to trace a few subsequent packets that they make it to the node2's backend, right? Meaning, exactly the same SNAT config, service VIP, etc, and they pass thr

[2021-11-22 08:54] pchaigno commented on #17881
This flake is affecting a lot of PRs. Should we revert the commit introducing the test?

[2021-11-22 10:27] borkmann commented on #15956
@errordeveloper Did you follow-up with the small doc change? Just wondering if we can close this blocker issue here.

[2021-11-22 10:49] #15149 closed

[2021-11-22 11:12] errordeveloper commented on #15956
@borkmann no, I haven't yet updated the docs regarding downtime on flag change... Maybe blocking label can be removed now?

[2021-11-22 13:16] brb commented on #14118
I believe nobody has made any progress on this. I think the proper fix would be to make the LB to answer to the ICMP echo requests instead of forwarding to stack. If you are wiling to work on this, let us know to discuss details (you can also reach us at `#sig-datapath` in the Cilium slack).

[2021-11-22 14:21] tuxpeople opened #17949 "Issue with Prometheus scraping cilium-agent"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

I'm not sure if it's a bug, there's a real chance that it's configuration issue.

As describe here, I enabled monitoring: https://docs.cilium.io/en/stable/operations/metrics/

Helm values like this:
[code]

As described for the `cilium-agent` a service got deployed:

[code]

Scraping gets picke

[2021-11-22 14:44] fredwangwang opened #17953 "Question: traffic split support?"
Hi!

I am looking at possibility of using cilium directly without more expensive mesh. Cilium covers transparent encryption using IPSec/Wireguard and enforce network policies very well, however another aspect I am interested in is traffic splitting.

Mesh like Istio ([traffic management](https://istio.io/latest/docs/concepts/traffic-management/)) and Consul ([service splitter](https://www.consul.i

[2021-11-22 15:24] brb commented on #17881
The fix should be trivial - https://github.com/cilium/cilium/issues/17881#issuecomment-973968788.

[2021-11-22 16:33] aditighag commented on #17881
The `graceful-term-svc` is the only service that `selects` this backend. When the backend shows up in BPF map it would be for the service cluster IP.

@pchaigno The test is failing because of an [unknown issue](https://github.com/cilium/cilium/issues/17401) in core dns. How would revert help? It would just mask the issue as I'm seeing the `NXDOMAIN` (no domain exists) error for many other test ser

[2021-11-22 16:58] aanm commented on #17837
@timoreimann I forgot to update this issue. It seems this is not a Cilium bug. Kubernetes is programmed to delete CiliumNodes if the Kubernetes node is deleted. In order to do it so the GC Kubernetes controller requires synced informers for all resources before it will proceed deleting stuff. does `echo -n $(kubectl api-resources --verbs=list -o name) | tr ' ' ',' | xargs -t kubectl get -A -l sele

[2021-11-22 17:45] h3llix commented on #17908
@pchaigno I have done few good-first-issues. I would like to take this issue but I might need help on how to get started with it.

[2021-11-22 18:07] pchaigno commented on #17908
@h3llix This is blocked on https://github.com/cilium/cilium/issues/14350.

[2021-11-22 18:10] #16539 closed

[2021-11-22 18:11] #17866 closed

[2021-11-22 18:28] h3llix commented on #17908
@pchaigno Any other issue that I can take?

[2021-11-22 18:32] yash97 opened #17955 "IPAM Chaining mode for ipvlan interface"
Description:
Right now cilium has chaining mode available for veth interface and for specific CNIs. There is no generalized mode available to chain Cilium with IPVLAN based IPAM.

[2021-11-22 19:37] mdaur commented on #17941
Hello borkmann,
Thank you very much for your reply.

Yes I did the captures for multiple services and of course for multiple times. With the same result all the time. The ACK packet got lost always (for multiple times and different services). In the mentioned scenario node1 and node2 have been connected by a unmanged switch without any filters. It is very unlikely that the packets got dropped on t

[2021-11-22 21:01] borkmann commented on #17941
That helped, I think I can see the issue. See the ICMPv6 one at pkt 6. Looks like router is doing the forwarding for us, but not in subsequent packets.

Could you try with latest image or with v1.11.0-rc2 to see if it is fixed there?

Both `quay.io/cilium/cilium:v1.11.0-rc2` or `quay.io/cilium/cilium-ci:latest` should be okay to test.

We reworked the neighbor cache there and it should address it.

[2021-11-22 21:58] borkmann commented on #15956
[...]

Ok, given it's just a small paragraph, do you have a chance to send the doc PR? Would be great if we could close/finalize this one here.

[2021-11-22 22:21] #16805 closed

[2021-11-22 22:29] errordeveloper commented on #15956
Yeah, will try to do it in the next few days!

[2021-11-22 22:36] borkmann commented on #15956
Awesome, thanks Ilya!

[2021-11-22 22:52] aanm commented on #17401
Potential fix / workaround:
- Restart coredns pods every time we redeploy Cilium
- Write a test that tests if Cilium breaks application pods connectivity when Cilium restarts

[2021-11-23 01:24] christarazi opened #17962 "kube-apiserver policy matching followups"
# Potential release blockers

- [ ] Changes to cluster entity meaning (to include kube-apiserver)
- [ ] Improve docs descriptions of the new entity
- [ ] https://github.com/cilium/cilium/issues/17829

# Minor

- [ ] https://github.com/cilium/cilium/pull/17714/#discussion_r747145275
- [ ] https://github.com/cilium/cilium/pull/17714/#discussion_r751565761
- [ ] https://github.com/cilium/cilium/pull/

[2021-11-23 14:44] maintainer-s-little-helper[bot] opened #17981 "CI: K8sHubbleTest Hubble Observe Test L3/L4 Flow"
### Test Name
[code]

### Failure Output
[code]

### Stacktrace
<details><summary>Click to show.</summary>

[code]
</details>

### Standard Output
<details><summary>Click to show.</summary>

[code]
</details>

### Standard Error
<details><summary>Click to show.</summary>

[code]
</details>

ZIP Links:
<details><summary>Click to show.</summary>

 https://jenkins.cilium.io/job/Cilium-PR-K8s-1.22-ker

[2021-11-23 15:47] brb commented on #17881
@aditighag Imagine that someone reuses this method w/o knowing internals of it for a backend which belongs to multiple svc.

I'm wondering why this is happening more often for this test case than for others?

We quarantine flaky tests to save devs time which is spent looking why their PR has failed.

[2021-11-23 16:03] brb commented on #17729
@jack-ra Could you try using `quay.io/cilium/cilium-ci:d75aa385a9fee027b9d35f96e63e5f78c12c8f50@sha256:cb8b6e70273604b7833547cb6c9bfb4d9cab4f4230f1a4f01f773e01af23dff9` (built by https://github.com/cilium/cilium/runs/4301548530?check_suite_focus=true; based on the v1.10 branch) to see whether it resolves your issue?

[2021-11-23 16:25] #15956 closed

[2021-11-23 17:08] cmluciano commented on #17926
GKE install is good to go

[code]

connectivity tests
[code]

[2021-11-23 17:28] cmluciano commented on #17926
Hubble status is working

[code]

hubble status & observe working
[code]

[code]

connectivity tests with hubble working
[code]

[2021-11-23 20:23] #17935 closed

[2021-11-24 00:36] joestringer opened #17991 "bpf mock tests print lots of warnings but succeed"
When building bpf mock tests locally, they complain a lot but the build succeeds. It would be nice to quieten these as they are noisy and can mislead developers into thinking there's a problem here when the build actually succeeds:

[code]
...
[code]

[2021-11-24 02:22] maintainer-s-little-helper[bot] opened #17994 "v1.10: CI: RuntimeFQDNPolicies toFQDNs populates toCIDRSet (data from proxy) L3-dependent L7/HTTP with toFQDN updates proxy policy"
### Test Name
[code]

### Failure Output
[code]

### Stacktrace
<details><summary>Click to show.</summary>

[code]
</details>

### Standard Output
<details><summary>Click to show.</summary>

[code]
</details>

### Standard Error
<details><summary>Click to show.</summary>

[code]
</details>

ZIP Links:
<details><summary>Click to show.</summary>

 https://jenkins.cilium.io/job/Cilium-PR-Runtime-4.9/

[2021-11-24 02:23] joestringer commented on #17994
Curl man pages state that exit code 22 means:

       22     HTTP page not retrieved. The requested url was not found or returned another error with the HTTP error code being 400 or above. This return code only appears if -f, --fail is used.

This plus the stdout from the call seems to imply that the connectivity was successful, but there was some sort of app-layer problem:

[code]

Unclear quite

[2021-11-24 02:25] joestringer commented on #17750
How long is that timeout?

Do we have evidence that the node is under high load at this time?

[2021-11-24 04:04] joestringer commented on #17994
Twice in a row may be a sign it's the PR. This failure doesn't show up on master though :thinking:

[2021-11-24 09:58] pchaigno commented on #17991
cc @xinyuannn @Weil0ng

[2021-11-24 10:08] gandro commented on #17617
Sysdump for PR #17835
[951fc774_K8sUpdates_Tests_upgrade_and_downgrade_from_a_Cilium_stable_image_to_master.zip](https://github.com/cilium/cilium/files/7594704/951fc774_K8sUpdates_Tests_upgrade_and_downgrade_from_a_Cilium_stable_image_to_master.zip)

[2021-11-24 11:01] brb commented on #16561
No v1.11 feature depends on this, so no longer the blocker.

[2021-11-24 15:41] alex-berger commented on #15393
Here some context why this issue was reopened. All the details are available in a Slack discussion at https://cilium.slack.com/archives/C53TG4J4R/p1637669818398900 (see screenshot below).

<img width="982" alt="image" src="https://user-images.githubusercontent.com/1087375/143264662-3f9fabcb-40f4-4037-b8e2-b365f0dc4428.png">

[2021-11-24 16:27] pchaigno opened #18004 "CI: RuntimePrivilegedUnitTests Run Tests: linuxPrivilegedIPv6OnlyTestSuite.TestArpPingHandling"
https://jenkins.cilium.io/job/Cilium-PR-Runtime-net-next/616/
[code]

From https://github.com/cilium/cilium/issues/17897.

[2021-11-24 16:27] pchaigno commented on #17897
Reopening as https://github.com/cilium/cilium/issues/18004 because this is confusing MLH.

[2021-11-24 16:27] #17897 closed

[2021-11-24 16:31] aditighag commented on #17881
I agree, but I don't see how the refactor will resolve this issue.

I've also been wondering the same thing. 😕  The initial timeout value for the test was a bit too low (10s), but I later bumped it to 60s.

[2021-11-24 16:32] joestringer commented on #13839
From community meeting: Sounds like when this fails, maybe local requests work but requests to remote backends fail.

[2021-11-24 17:43] aditighag opened #18005 "Document cilium internal IP address assignments"
Cilium assigns IP addresses from the pod CIDR for internal use - e.g., cilium-health-ep, cilium-host, etc. Users need to account for these assignments as this can affect the maximum number of pods that can be deployed on a kubernetes node. This is particularly useful for [EKS like environments](https://docs.cilium.io/en/v1.10/concepts/networking/ipam/eni/#ec2-instance-types-eni-limits) that have r

[2021-11-24 18:06] vishjain commented on #16798
/assign

[2021-11-24 23:25] bryanasdev000 commented on #15393
Indeed, cilium-node-init does not run in Bottlerocket, but may I ask if is needed?

From what I know about it, it does make some specific cloud checks (see https://github.com/cilium/cilium/tree/master/install/kubernetes/cilium/files) not too relevant for AWS + Bottlerocket.

I did some PoCs with Bottlerocket and Cilium replacing kube-proxy, not production ready workload, but I did not find any iss

[2021-11-25 01:17] aditighag commented on #17926
Tested kind guide -

[code]

Connectivity tests -

`✅ All 11 tests (130 actions) successful, 0 tests skipped, 0 scenarios skipped.`

[2021-11-25 07:34] alex-berger commented on #15393
@bryanasdev000 Same here, I am running a test cluster with Cilium (on EKS with Bottlerocket nodes) without the `cilium-node-init` DaemonSet and so far everything seems to work (but that needs more thorough testing). However, I don't want to build my clusters, which have to last for years (thinking of day two operations), on something that "accidentally" works today, but stops working with a future

[2021-11-25 09:01] borkmann commented on #17941
@mdaur any progress wrt above? Thx

[2021-11-25 10:15] kerthcet commented on #17925
/assign

[2021-11-25 13:39] brb opened #18012 "CI: K8sEgressGatewayTest tunnel disabled * both egress gw and basic connectivity work"
[code]

https://gofile.io/d/XwghzF
https://jenkins.cilium.io/job/Cilium-PR-K8s-1.16-net-next/2046/testReport/junit/Suite-k8s-1/16/K8sEgressGatewayTest_tunnel_disabled_with_endpointRoutes_enabled_egress_gw_policy_both_egress_gw_and_basic_connectivity_work/

After reading the code, the following was failing (TODO: either fix function call offset or add `By()`, otherwise it's difficult to determine w

[2021-11-25 15:35] brb opened #18013 "CI: RuntimePrivilegedUnitTests Run Tests: context deadline exceeded"
Seems that `linuxPrivilegedIPv4OnlyTestSuite.TearDownTest` was taking longer than expected. Checking what it does, it doesn't look that it might take long:

[code]

In the past we had netlink blocking forever, but that has been resolved. Unpinning the map should not block too. So all good here.

However, we can spot that `TestArpPingHandling` took long:
[code]

Which could have left just a little

[2021-11-25 15:38] qmonnet commented on #17893
We're sorry to hear that :/. Thanks for letting us know. I'm closing the issue. Anyone hitting this again, do not hesitate to comment/reopen.

[2021-11-25 15:38] #17893 closed

[2021-11-25 15:52] qmonnet commented on #17955
Hi and thank you for the report. Note that IPVLAN is [getting deprecated](https://github.com/cilium/cilium/pull/17993/commits/1fb2dbb3293a962f7f7358eacb527e12afd86c31) in v1.11 (to be removed in v1.12), so this feature is unlikely to be implemented.

[2021-11-25 15:53] brb commented on #18012
Checked other failures (e.g., https://jenkins.cilium.io/job/Cilium-PR-K8s-1.16-net-next/2050/testReport/junit/Suite-k8s-1/16/K8sEgressGatewayTest_tunnel_disabled_with_endpointRoutes_disabled_egress_gw_policy_both_egress_gw_and_basic_connectivity_work/) -- same symptoms (i.e., the reply is sent over the tunnel).

[2021-11-25 15:58] #17838 closed

[2021-11-25 16:00] qmonnet commented on #17942
Note: [#17332](https://github.com/cilium/cilium/pull/17332/files#diff-726ed9ddc3bc0d4430eaa9911b2496376f0f5a8445ff89988966eb216328ca2a) is supposed to update this test, let's see if the flake is still present after the PR is merged (currently on hold due to oncoming release).

[2021-11-25 16:02] jrajahalme opened #18014 "CI: K8sServicesTest Checks service across nodes Tests NodePort BPF Tests with direct routing Tests NodePort"
### Test Name
[code]

### Failure Output
[code]

### Stacktrace
<details><summary>Click to show.</summary>

[code]
</details>

### Stderr
<details><summary>Click to show.</summary>

[code]
</details>

### Standard Output
<details><summary>Click to show.</summary>

[code]
</details>

### Initial analysis

Access to service succeeds when the selected backend is in the same node, presumably the faili

[2021-11-25 16:03] qmonnet commented on #17750
I don't know for the load of the node.

[2021-11-25 16:58] cdelzotti commented on #17991
Can I try to fix that ?

[2021-11-25 17:01] cdelzotti commented on #17991
Hello, I'm new here and I'd like to try to fix that @joestringer

[2021-11-25 17:17] bmcustodio commented on #17926
I've tested the kind + cluster mesh guide (using https://github.com/bmcustodio/kind-cilium-mesh to bootstrap the clusters). I initially had issues with the node port tests, but after discussing with @nbusseneau and @tklauser it seems we disable them in CI anyway so I disabled those and was successful:

[code]

[2021-11-25 17:19] bmcustodio commented on #17926
As for Hubble + Hubble Relay + Hubble UI,

[code]

and

[code]

[2021-11-25 17:34] #9708 closed

[2021-11-25 17:55] qmonnet commented on #17991
Thanks! Don't hesitate to ask for help on the `#development` channel of Slack if necessary.

[2021-11-25 18:07] qmonnet commented on #17908
@h3llix You can either take another [good first issue](https://github.com/cilium/cilium/labels/good-first-issue), or dig through the list of [unassigned issues](https://github.com/cilium/cilium/issues?q=is%3Aissue+is%3Aopen+no%3Aassignee+no%3A+-label%3Aci%2Fflake+). Are you looking to contribute on some particular component/feature?

[2021-11-25 21:42] mdaur commented on #17941
I will share my outcome by end of tomorrow. Sorry.

[2021-11-26 03:01] adamzhoul opened #18016 "kind support M1"
## Proposal / RFE

kind should be supported in M1 Mac.

**Is your feature request related to a problem?**

follow the instruct here: https://docs.cilium.io/en/v1.10/gettingstarted/kind/
and leads to :
[code]

check the log:
[code]

check kernel:
[code]

the kernel is 5.10.47 and higher than 4.17.0.
anything I can do manually to make all this work?

**other background info**

recheck the config:
[c

[2021-11-26 03:49] aanm commented on #17981
I'm going to close this one. The test had failed because the operator was unable to reach out etcd with the error:

Since etcd is running on the host network namespace I'm going to assume this problem was caused by Cilium and the root cause will be the same that is going to be fixed by https://github.com/cilium/cilium/issues/17401

[2021-11-26 08:05] #17380 closed

[2021-11-26 08:05] #17753 closed

[2021-11-26 09:36] brb commented on #16928
Managed to reproduce it locally:
[code]
The 175 endpoint was CoreDNS which was recreated while cilium-agent was initializing. The new CoreDNS pod got a new identity, and the `endpoint-175-regeneration-recovery` controller was failing for some time until the 175 endpoint was removed which made the test to fail because of one of these:
- JoinEP was found in the logs
- The controller removal took lon

[2021-11-26 10:36] pchaigno commented on #18016
[code]

That's probably because the kernel is missing config `CONFIG_CGROUP_BPF`. You can work around that by disabling kube-proxy-replacement.

[2021-11-26 10:58] adamzhoul commented on #18016
thanks for answering.

can I manually add that config?
I wish to experience as many features of cilium as possible.

[2021-11-26 11:01] pchaigno commented on #18016
Yes, but you'll need to recompile the kernel.

[2021-11-26 11:13] adamzhoul commented on #18016
so we should ask for the docker team to support this?
Recompiling the kernel seems too heavy for end users like us.
and I don't know how to for desktop docker either.

[2021-11-26 11:28] pchaigno commented on #18016
I don't know where Kind gets their kernel image, but yes, you could try to ask for that config to be enabled in the image.

I'll close this issue given it's not a bug in Cilium and the original question has been answered. Feel free to ask if you have any other questions regarding Cilium.

[2021-11-26 11:28] #18016 closed

[2021-11-26 14:28] tklauser commented on #17907
I think the failure is resulting because of the inability to connect to Hubble relay. [`(*Action).Fatalf`](https://github.com/cilium/cilium-cli/blob/daf109dc1da2e002c3507d45ea020d2960404ad4/connectivity/check/logging.go#L328-L331) marks the action as failed here:

https://github.com/cilium/cilium-cli/blob/daf109dc1da2e002c3507d45ea020d2960404ad4/connectivity/check/action.go#L132

and here:

https:

[2021-11-26 15:15] codablock opened #18023 "Traffic gets dropped after some time when using toFQDNs"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

toFQDNs based CNPs result in random traffic drops. It usually starts with allowed traffic, and then for some reason gets forbidden. I have found a reliable reproducer as well:

1. Deploy the following resources:
[code]
2. Wait for test-pod to have the apt install finished.
3. Shell into test-po

[2021-11-26 15:35] kaworu commented on #17926
## Quick Installation (EKS) ✅
[code]
[code]
[code]
## IPSec (EKS) ❌
[code]
[code]
[code]
Failure was consistent, I was able to reproduce a second time by re-running the connectivity check and a third time with a fresh cluster install.

[2021-11-26 16:29] alex-berger commented on #15393
Maybe we can bake all the needed tools (bash, nsenter, ...) into the image and just omit the `-m` flag on the `nsenter` call. If we still need to read/write to host paths (files on the host) we could mount those specific paths using a [hostPath](https://kubernetes.io/docs/concepts/storage/volumes/#hostpath) volumes.

However, writing to the host filesystem, might not work, as most directories on B

[2021-11-26 16:56] bryanasdev000 commented on #15393
I am not yet too much familiar with Bottlerocket, but it sounds a bit like NixOS (immutability part). In this case I think `cilium-node-init` will have a big IF for edge cases like it, for now I think with the current code (AWS based) we can just invoke iptables directly, but I understand your previous point, I think we need a word from Cilium team about support status or possible rough edges that

[2021-11-26 16:59] phuongnd96 commented on #14784
I'm facing problem with cilium v1.10.4, kubeProxyReplacement=strict + IPSec and kernel 4.18 too. Can not enable IPSec somehow

[2021-11-26 17:04] pchaigno commented on #14784
@phuongnd96 IPsec is not supported with kubeProxyReplacement=strict. The Cilium agents should fatal with an error message if you try to enable both. Did you mean kubeProxyReplacement=disabled?

[2021-11-26 18:04] duttaANI commented on #17701
I have created a new PR to address the issue of commit history .

[2021-11-26 18:36] pchaigno commented on #17701
You can simply force push the updated branch to the first PR.

[2021-11-26 18:40] pchaigno commented on #17926
@kaworu Could you open a `release-blocker/1.11` issue for that EKS+IPsec regression? :pray:

[2021-11-26 18:43] pchaigno opened #18030 "Document required kernel configurations"
We should document exactly what is required in terms of kernel configs to run Cilium. We already have [that information in our CI](https://github.com/cilium/packer-ci-build/blob/master/provision/ubuntu/kernel-next.sh). It should be documented at https://docs.cilium.io/en/v1.9/operations/system_requirements/#linux-kernel.

Related: https://github.com/cilium/cilium/issues/14852.

[2021-11-26 19:29] duttaANI commented on #17701
This is convenient . Thank you , I was not aware that we could force push a branch to other branch.

[2021-11-26 20:29] nbusseneau commented on #17926
@pchaigno @kaworu This is #17139.

[2021-11-27 07:17] brb commented on #17010
Hit it in https://github.com/cilium/cilium/pull/18031.

The cmd `ip -j a s | jq -r '.[] | select(.addr_info[] | .local == \"192.168.56.11\") | .ifname'` return empty string, while `ip -j a s` output seems to be correct (logged afterwards):
[code]

To understand what's going on we could split the first cmd into two - first gets `ip -j a s` output, and then passes it via stdout to the jq filter.

[2021-11-27 08:15] brb commented on #18014
From the diagram below, the flake started to appear very often ~Nov 15th:

![np-flake](https://user-images.githubusercontent.com/122571/143673602-6d3eca22-f55d-4db7-9c06-1d663f16addd.png)

The list of potential suspects which got merged during that period of time: https://github.com/cilium/cilium/pulls?q=is%3Apr+is%3Aclosed+merged%3A2021-11-13..2021-11-16+base%3Amaster+sort%3Aupdated-desc+. Nothin

[2021-11-27 08:54] brb commented on #18014
Let's take the sysdump from the issue description, and let's analyze the `Request from testclient-cmdc8 pod to service http://[fd04::12]:30038 failed` case. Before we do that, it's worth mentioning that I have only seen IPv6 failing.

As Jarno has already pointed out, only those request failed from `testclient-cmdc8` (k8s2, fd02::8e)  which selected the `testds-njfqs` (k8s1, fd02::15d) as the back

[2021-11-29 05:40] christarazi opened #18035 "Document CiliumNode resource"
[Similar](https://docs.cilium.io/en/v1.10/concepts/kubernetes/) to what we have for CEP, let's also document the CiliumNode resource. Content like what it's for, what manages it, what it's lifecycle is (i.e. `ownerReference` to K8s Node), etc. would be useful.

[2021-11-29 09:44] borkmann commented on #17919
Been looking at https://jenkins.cilium.io/job/Cilium-PR-K8s-1.22-kernel-4.9/228/testReport/Suite-k8s-1/22/K8sServicesTest_Checks_ClusterIP_Connectivity_Checks_service_on_same_node/ , initial analysis:
[code]
The `log-gatherer-skvwc` is in the `kube-system` namespace. Given this is 4.9 kernel, path is local hostns -> kube-proxy -> Pod.

Both nodes have the service:
[code]
All are on node k8s1:
[cod

[2021-11-29 10:23] borkmann commented on #17919
cluster-ip-same-node.log monitor dump however shows:
[code]

[2021-11-29 10:28] pchaigno commented on #17657
Duplicate of https://github.com/cilium/cilium/issues/17307.

[2021-11-29 10:28] #17657 closed

[2021-11-29 10:47] qmonnet opened #18036 "Add GH workflow to check that `CODEOWNERS` remain roughly in sync with the files in the repository"
Follow-up to #18000 - We should add a GitHub workflow to make sure that the `CODEOWNERS` file does not get too much out of sync. Two parts:

- Checking that all files in `CODEOWNERS` are still present in the repo
- [Optional] Checking that all files in the repo are listed with the relevant teams in the file

For the first part: A short script to check that all files listed are still present could

[2021-11-29 11:14] joamaki opened #18037 "Maglev list no longer seems to work"
With v1.11.0-rc3 version of Cilium the "lb maglev list" command no longer works:
[code]

Potential regression from https://github.com/cilium/cilium/commit/789eef0d148d0aa590d2a1b2da7fd69da6dafc47?

[2021-11-29 11:54] pchaigno commented on #17701
I've triggered the end-to-end tests on the pull request.

[2021-11-29 13:14] pchaigno commented on #18014
I think that's just because of the retries... no?

Here's what happens:

Time     | Seen on k8s1 | dir  | Seen on k8s2 |
---------|--------------|------|--------------|
16:17.76 | SYN          | ->   | SYN          |
16:17.76 | -            | <-   | SYN+ACK      |
16:26.86 | -            | <-   | SYN+ACK      |
16:35.05 | -            | <-   | SYN+ACK      |
16:51.18 | SYN+ACK      | <-   | SYN+AC

[2021-11-29 13:24] brb commented on #18014
Yeah, sorry, that's what I meant by the delay - why only the forth SYN+ACK was received. Currently trying to reproduce locally, but hitting other flakes while running in a loop :grimacing:

[2021-11-29 13:25] borkmann commented on #17919
From the above:
[code]

[2021-11-29 13:56] bazuchan opened #18042 "eBPF host routing breaks remote-node identity classification"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

I'm running cilium on k3s with metallb. I have setup cilium with loadBalancer.mode=hybrid. I have UDP service and corresponding network policy to allow its traffic:
[code]
But packets gets dropped when loadbalanced to another node:
[code]
[code]

For some reason `172.17.5.1/32` gets classified

[2021-11-29 14:24] borkmann commented on #17919
Webserver logs:
`pod-default-app1-6bf9bf9bd5-jlsd4-web.log` has:
[code]
and `pod-default-app1-6bf9bf9bd5-vsvt7-web.log` has:
[code]

[2021-11-29 14:29] borkmann commented on #17919
Hubble observe:
[code]

[code]

[code]

[2021-11-29 14:38] borkmann commented on #17919
Example curl 1.1.1.1:
[code]

[2021-11-29 15:13] pchaigno commented on #18042
Uh, that's indeed weird. Would you be able to share a sysdump and the full path of the packet on the receiving node with `monitor-aggregation` disabled? That should tell us which BPF program assigned the source identity to the packet and what the packet looked like at that point.

[2021-11-29 15:18] borkmann commented on #17919
![Screenshot 2021-11-29 at 16 18 02](https://user-images.githubusercontent.com/677393/143894095-e9c10d27-37b9-44c7-b4e8-e5a5c67c4cbb.png)

[2021-11-29 15:33] qmonnet commented on #17010
Same symptoms found in https://github.com/cilium/cilium/pull/18011, on `Suite-k8s-1.21.K8sDatapathConfig Encapsulation Check connectivity with VXLAN encapsulation` (a similar one was reported in https://github.com/cilium/cilium/issues/17594#issuecomment-952745551)

[2021-11-29 16:04] qmonnet opened #18045 "CI: K8sServicesTest Checks graceful termination of service endpoints Checks client terminates gracefully on service endpoint deletion"
## CI failure

K8s 1.22, kernel 4.19 - Observed on https://github.com/cilium/cilium/pull/18011

### Test Name
[code]

### Failure Output

Failure on graceful termination - The pod is still running after the 30s timeout, when it is expected to terminate

[code]

### Stacktrace
<details><summary>Click to show.</summary>

[code]
</details>

### Standard Output
<details><summary>Click to show.</summar

[2021-11-29 16:10] #17881 closed

[2021-11-29 16:57] kkourt opened #18047 "verification error for Cilium v1.11.0-rc3 on 4.19.0-18-cloud-amd64"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

Default install with cilium-cli results in verification errors.

### Cilium Version

1.11.0-rc3

### Kernel Version

 4.19.0-18-cloud-amd64

### Kubernetes Version

# k3s kubectl version
Client Version: version.Info{Major:"1", Minor:"21", GitVersion:"v1.21.5+k3s2", GitCommit:"724ef700bab896ff25

[2021-11-29 16:58] kkourt commented on #17926
While trying out k3s installation, I encountered a verification error. Created https://github.com/cilium/cilium/issues/18047, which I marked as a release blocker.

[2021-11-29 17:01] pchaigno commented on #18047
Where is that kernel coming from? I thought https://github.com/cilium/cilium/issues/17647 was introduced by a verifier change between 4.19.190 and 4.19.200 :-/

[2021-11-29 17:02] kkourt commented on #18047
GCP (right after booting a new VM).

[2021-11-29 17:09] #18047 closed

[2021-11-29 17:10] kkourt commented on #17647
We seem to be hitting the same issue for v1.11.0-rc3:

[full agent log](https://github.com/cilium/cilium/files/7619875/cilium-f6pxq.log)

Kernel is from GCP, right after booting a new VM.

[2021-11-29 17:10] kkourt commented on #18047
Let's track this in the existing issue.

[2021-11-29 17:28] DaveWK commented on #17107
Also an issue in v1.10.5 -- I do not see a setting for MTU in the ConfigMap generated by helm.

Is there a setting I can add to set the correct MTU in the cilium-config, or a way to specify the MTU as a helm value?

[2021-11-29 17:36] gandro commented on #17926
# OpenShift (+ with kube-proxy)

Works with a custom v1.11.0-rc3 OLM https://github.com/gandro/cilium-olm/commit/60554d463cff9adaa110c6904c124f53c0a10ddf and `KubeProxyReplacement:   Strict`:

[code]

There are a few minor issues, though I think none of them do have to block the release

- I was unable to get `openshift-installer` to work with our Google Cloud subscription and fell back on https:/

[2021-11-29 17:56] krishgobinath commented on #17914
cc @Weil0ng

[2021-11-29 18:17] #17401 closed

[2021-11-29 18:36] aditighag commented on #18045
There is some kind of timing issue that's leading to occasional flakes. I was able to reproduce it locally, debugging it.

[2021-11-29 18:37] michi-covalent commented on #17926
# AKS

## :heavy_check_mark: quick install
[code]

## :heavy_check_mark: http policy

[code]

also verified l7 flows with hubble observe:
[code]

[2021-11-29 18:42] Weil0ng commented on #17991
Thanks @cdelzotti, feel free to tag me or Xinyuan if you have any specific question :)

[2021-11-29 18:46] cdelzotti commented on #17991
Thanks @Weil0ng , I've just fixed some typos (Trailing spaces, etc) and I hope this time will be charm :)

[2021-11-29 18:57] joestringer commented on #17107
It looks like there's no explicit MTU configuration in the helm templates today, but you should be able to configure it using `extraConfig`.

Something like this in a values file should do the trick:
[code]

[2021-11-29 19:37] christarazi opened #18049 "kube-apiserver policy matching does not work with tunneling mode"
This is a known issue at the moment when traffic from the kube-apiserver (i.e. hostNetwork pod on kube-apiserver host, CRD webhook) reaches out to a pod (Cilium endpoint). The reason why it doesn't work is because the `cilium_host` IP (router IP) that the traffic goes out from is associated with ID 6. Since traffic from the kube-apiserver host will be expected to have ID 7, this causes policy drop

[2021-11-29 21:19] cdelzotti commented on #17991
@Weil0ng I keep having issues with the checkpath test, is it important ?

[2021-11-29 21:23] joestringer commented on #16928
Do you think it's possible for us to control CoreDNS pod redeployment wrt the restart? Is this triggered by the test framework being careless about the timing between restarting DNS pods and restarting the agent?

[2021-11-29 22:09] pchaigno commented on #17991
@cdelzotti Yes, the [four issues](https://github.com/cilium/cilium/pull/18015#issuecomment-982065742) reported by checkpatch look legitimate and should be fixed.

[2021-11-29 23:02] joestringer commented on #17994
Looks like it's a timing thing, we didn't wait for the policy to be pushed into Envoy before attempting the connection:

[code]

[2021-11-30 03:57] joestringer commented on #17750
In the CI, we enable `--log-system-load`, so we can get a sense for the load over time throughout the test by looking for lines like this:

[code]
The above is just a few seconds before the error is posted:

[code]

For reference here's the next few log messages I could find relating to load:

[code]

[2021-11-30 04:48] joestringer opened #18053 "CI: K8sBandwidthTest Checks Bandwidth Rate-Limiting Checks Pod to Pod bandwidth, vxlan tunneling: Operator Failed to update lock: use of closed network connection"
## CI failure

https://jenkins.cilium.io/job/Cilium-PR-K8s-1.16-net-next/2056/testReport/junit/Suite-k8s-1/16/K8sBandwidthTest_Checks_Bandwidth_Rate_Limiting_Checks_Pod_to_Pod_bandwidth__vxlan_tunneling/
[83d7f27a_K8sBandwidthTest_Checks_Bandwidth_Rate-Limiting_Checks_Pod_to_Pod_bandwidth,_vxlan_tunneling.zip](https://github.com/cilium/cilium/files/7622983/83d7f27a_K8sBandwidthTest_Checks_Bandwidt

[2021-11-30 04:52] joestringer opened #18054 "CI: K8sDatapathConfig Check BPF masquerading with ip-masq-agent DirectRouting: Failed to add ip route: RTNETLINK answers: File exists"
## K8sDatapathConfig Check BPF masquerading with ip-masq-agent DirectRouting

https://jenkins.cilium.io/job/Cilium-PR-K8s-1.16-net-next/2056/testReport/junit/Suite-k8s-1/16/K8sDatapathConfig_Check_BPF_masquerading_with_ip_masq_agent_DirectRouting/

Found in PR #17992, but that only changes some makefiles for bpf_mock so the failure must be unrelated.

### Stacktrace
[code]
### Standard Output
[cod

[2021-11-30 07:39] aditighag opened #18056 "Improve `WaitForServiceBackend` helper to check service-backend mapping"
@brb reported that the `WaitForServiceBackend` [helper](https://github.com/cilium/cilium/blob/54bd57b46bffe0b10a233e691acd5460e904a0fb/test/helpers/kubectl.go#L4513) doesn't check if the requested backend is plumbed in the datapath for the passed service.

[2021-11-30 09:51] pchaigno commented on #18054
This is the route we regularly add on the third node (k8s3) to make cluster pods reachable from k8s3. All routes added as part of the test function should be removed when the function exits: https://github.com/cilium/cilium/blob/bc301988888bb56c493987b4a428d3947100101c/test/k8sT/DatapathConfiguration.go#L1116-L1124

In the logs, we can see:
[code]
So the route was probably not properly deleted dur

[2021-11-30 10:12] borkmann commented on #17895
`unable to lookup route for node <nil>: numerical result out of range`

Is hitting: https://github.com/cilium/cilium/blob/c11736280ff210c249a098e9816a88cc41f47dce/pkg/datapath/linux/node.go#L170

In other words, we're trying to do a route lookup for a nil address (`nodeIP` is `nil`):
[code]

[2021-11-30 10:53] brb commented on #18054
I've tried the following, and it is effective:
[code]

[2021-11-30 10:54] borkmann commented on #17895
Going back to affected node, it has the following:
[code]
Then later on it looks good:
[code]

[2021-11-30 11:02] jrajahalme commented on #17926
### RKE
✔️  Quick Install

[code]

### Notes:
- Tested on a local single-node VM as the cluster node
- `Create the Cluster` Step in the GSG only contains instructions for creating K8s clusters, while the `RKE` tab is in the  `Install Cilium` section, which was confusing. Essentially:
  - I had to ignore the `Create the Cluster` step, and
  - Create the cluster VM(s) manually, without any GSG guida

[2021-11-30 11:10] bazuchan commented on #18042
[cilium-sysdump-20211130-140816.zip](https://github.com/cilium/cilium/files/7625234/cilium-sysdump-20211130-140816.zip)

[2021-11-30 11:17] bazuchan commented on #18042
On node with metallb listener:
[code]

On node with pod:
[code]

[2021-11-30 12:14] tklauser commented on #17896
This issue is caused by #17546, namely commit 8bcc4e5dd830.

I've also noticed this issue when trying to debug something locally and came up with #18059 which fixes this issue and another instance where that commit's change from `string` to `[]byte` potentially causes problem.

[2021-11-30 12:20] #18004 closed

[2021-11-30 12:51] qmonnet opened #18060 "CI: failed to ensure kubectl version: failed to download kubectl"
## CI failure

`failed to download kubectl`
Could be just a temporary issue when downloading kubectl. Still, I'm filing an issue to track this, as I observed it for two different PRs (https://github.com/cilium/cilium/pull/17762, https://github.com/cilium/cilium/pull/18027), with the Jenkins runs separated by several hours.

### Test Name
[code]
with K8s 1.16.

Also observed with K8s 1.18 on:
[code

[2021-11-30 15:17] pchaigno commented on #18054
Then maybe we should just ignore when the route already exists? That is, always use `ip replace` instead of `ip add`.

[2021-11-30 17:17] brb commented on #18014
Managed to reproduce it locally. Unfortunately, it was a transient failure, so not much new data besides what's written above.

[2021-11-30 17:36] kkourt commented on #17926
## K3S

### Connectivity test with a single node: ✅

### Connectivity test with two nodes: ❌

While connectivity test with a single node works, when using multiple nodes it does not:

[code]

[code]

sysdmp

[cilium-sysdump-20211130-173310.zip](https://github.com/cilium/cilium/files/7627643/cilium-sysdump-20211130-173310.zip)

[2021-11-30 17:44] nbusseneau commented on #17926
@kkourt This _looks_ like https://github.com/cilium/cilium-cli/issues/342.

[2021-11-30 18:17] maintainer-s-little-helper[bot] opened #18072 "CI: K8sServicesTest Checks service across nodes Tests NodePort BPF Tests with secondary NodePort device"
### Test Name
[code]

### Failure Output
[code]

### Stacktrace
<details><summary>Click to show.</summary>

[code]
</details>

### Standard Output
<details><summary>Click to show.</summary>

[code]
</details>

### Standard Error
<details><summary>Click to show.</summary>

[code]
</details>

ZIP Links:
<details><summary>Click to show.</summary>

 https://jenkins.cilium.io/job/Cilium-PR-K8s-1.22-ker

[2021-11-30 18:17] maintainer-s-little-helper[bot] opened #18073 "CI: K8sPolicyTest Basic Test checks all kind of Kubernetes policies"
### Test Name
[code]

### Failure Output
[code]

### Stacktrace
<details><summary>Click to show.</summary>

[code]
</details>

### Standard Output
<details><summary>Click to show.</summary>

[code]
</details>

### Standard Error
<details><summary>Click to show.</summary>

[code]
</details>

ZIP Links:
<details><summary>Click to show.</summary>

 https://jenkins.cilium.io/job/Cilium-PR-K8s-1.16-net

[2021-11-30 18:18] joestringer commented on #18073
Here's the "errors that must be investigated":

[code]

[2021-11-30 18:21] joestringer commented on #18073
Here's all logs for the `containerID=5fd6ad8d47`:

[code]

What's notable to me is that we start handling an endpoint delete request at 06:27:37:

[code]

But then 13 seconds later the endpoint regeneration is dequeued and processed:
[code]

What I would expect is that after this dequeueing log, we would figure out that the endpoint was deleted and immediately terminate processing this event. What

[2021-11-30 18:24] joestringer opened #18074 "CI: Travis: Failed to fetch LLVM GPG public key: ERROR 503: No healthy IP available for the backend."
## Travis failure during prepare.sh

[code]

[2021-11-30 18:25] joestringer commented on #18074
I manually tried the command from the `.travis/prepare.sh` and it succeeded; this is most likely a temporary infrastructure issue on the upstream llvm.org side.

[code]

[2021-11-30 18:25] #18074 closed

[2021-11-30 22:17] borkmann commented on #18014
Might be unrelated, but seen on cilium-wkglh (https://github.com/cilium/cilium/issues/17895):
[code]

[2021-11-30 23:13] soggiest commented on #16291
I ran into this same error during a Multicluster run:
CI Run: https://github.com/cilium/cilium-cli/runs/4373094252?check_suite_focus=true
Cilium Sysdump: https://github.com/cilium/cilium-cli/suites/4510490190/artifacts/120542303

[2021-12-01 02:31] joestringer commented on #17994
Here's a subset of the logs related to DNS response handling and ipcache plumbing:

[code]

[2021-12-01 02:51] joestringer commented on #17994
Only other odd thing is that the IP actually gets one identity associated with it, which is then promptly released and then gets a second identity associated:

[code]

A couple of seconds later though the last identity is still correctly associated, so it's not entirely obvious whether the above was a problem or not (could the TTL have just been really low or something?)

[code]

[2021-12-01 02:52] joestringer commented on #17994
I also ran this a few times locally and cannot reproduce the problem.

[2021-12-01 06:10] vsxen commented on #17050
https://github.com/antrea-io/antrea/blob/main/docs/network-flow-visibility.md

ping

[2021-12-01 07:45] kkourt commented on #17926
[cilium/cilium-cli#342](https://github.com/cilium/cilium-cli/issues/342) is tagged as a flake, while in my case the test fails consistently.

[2021-12-01 09:27] pchaigno commented on #17926
@kkourt Could you open a `release-blocker/1.11` issue for that bug? Is it a regression?

[2021-12-01 09:38] pchaigno commented on #16291
@soggiest Could you open a bug report on the cilium-cli repository? Was it a one-off failure or was it consistently failing?

[2021-12-01 10:12] wenhuwang commented on #11767
hello，Is this problem fixed? I have a similar situation.
### General Information
- Cilium version
[code]
- Kernel version
[code]
- Orchestration system version
[code]

### cilium network policy
[code]

We did a lot of  curl from within the container supposed to do the egress. all failed.
[code]
And it shows up in `kubectl exec cilium-h2v6z -- cilium monitor  --from 2126 -t drop`, so a rule is clea

[2021-12-01 10:21] brb commented on #17747
Could you elaborate more on this?

[2021-12-01 10:29] brb commented on #18054
Aye, `ip replace` is a good idea!

[2021-12-01 10:35] brb commented on #16928
Yeah, I was thinking about proposing to wait with restarts until all cilium-agents are ready. As you said, avoiding to fail in the CI might hide real bugs.

[2021-12-01 11:00] mxdblcf opened #18078 "fail install cilium"
If my development environment is a virtual machine and my network card is virtual. Can I install the cilium ?

[2021-12-01 11:05] johngv2 commented on #10067
Folks, sorry taking too much time to solve this. I'll have to unassign me :/

[2021-12-01 11:15] mxdblcf commented on #18078
why the cilium show install successful ?
But run " cilium connectivity test " show fail.
Where should I look for errors?

[2021-12-01 11:30] pchaigno commented on #18078
Yes, that's how we test Cilium in CI.

Please fill out the issue template properly and we'll be happy to help.

[2021-12-01 11:30] #18078 closed

[2021-12-01 12:33] qmonnet commented on #18036
Like this:
[code]

[2021-12-01 13:19] brb commented on #18014
Yeah, saw it. But the route gets eventually installed, and this happens way before the test run.

[2021-12-01 13:23] nbusseneau commented on #17926
I have had this fail consistently as well on AKS with encryption enabled: #17645
I'm not sure if the three instances are related or not, but mentioning just in case...

[2021-12-01 13:36] kkourt opened #18079 "connectivity test fails with K3s GSG instructions"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

Following the instructions in https://docs.cilium.io/en/stable/gettingstarted/k3s/, connectivity test fails

### Cilium Version

[code]

Same failure also on `v1.11.0-rc3`

### Kernel Version

[code]

### Kubernetes Version

[code]

### Sysdump

[cilium-sysdump-20211201-133424.zip](https://gith

[2021-12-01 13:37] kkourt commented on #17926
Following https://docs.cilium.io/en/stable/gettingstarted/k3s/, also leads to the same issue. Opened issue here: https://docs.cilium.io/en/stable/gettingstarted/k3s/. This is not a regression, so I'm not labeling it as `release-blocker/1.11`

[2021-12-01 16:14] brb commented on #17953
cc @jrajahalme

[2021-12-01 16:22] m-yosefpor opened #18081 "Service type loadbalancer is not working in DSR mode"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

Service type loadbalancer is not working in DSR mode (externalTrafficPolicy: Cluster). service type loadbalancer is implemented with metallb in BGP mode.

according to https://github.com/cilium/cilium/issues/8979 the input packet path seems ok when I capture the traffic:

[code]

the input pack

[2021-12-01 17:35] joestringer commented on #17752
This is not critical to resolve, but would be nice to fix.

[2021-12-01 17:50] tklauser commented on #11560
Hit in #18062 https://app.travis-ci.com/github/cilium/cilium/jobs/550242889

[2021-12-01 18:26] ldelossa commented on #16967
I can reproduce this. Will be working on a fix. Stay tuned.

[2021-12-01 18:27] ldelossa commented on #17922
dupe of: https://github.com/cilium/cilium/issues/16967
please track in the aforementioned issue.

[2021-12-01 18:27] #17922 closed

[2021-12-01 19:04] tklauser commented on #17661
`github.com/onsi/gomega` has been updated from v1.14.0 to v1.16.0 in https://github.com/cilium/cilium/pull/17775 (on 2021-11-04) and to v1.17.0 in https://github.com/cilium/cilium/pull/17816 (on 2021-11-11).

AFAICS no failures have been reported since the first update. The [last report](https://github.com/cilium/cilium/pull/17709#issuecomment-961811484) was on 2021-11-05, but on a PR not yet reba

[2021-12-01 19:04] #17661 closed

[2021-12-01 19:19] austince opened #18084 "helm:"
## Proposal / RFE

**Is your feature request related to a problem?**

Nope.

**Describe the solution you'd like**

Support for creating the `cilium-ipsec-keys` secret (and equivalent one for wireguard) via the helm chart. Currently, this must be created separately, see: https://docs.cilium.io/en/v1.10/gettingstarted/encryption-ipsec/#generate-import-the-psk

[2021-12-01 19:43] joestringer commented on #12511
@brb was assigned in mid-2020, removing assignee since it's clear there is no active investigation into this issue.

[2021-12-01 19:45] joestringer commented on #18072
Note that this is an IPv6-specific failure that likely has more in common with other recent IPv6 failures on master (eg https://github.com/cilium/cilium/issues/18014) rather than other IPv4 failures of the same test (eg #12511).

This test is also skipped in all cloud builds and when there are 3 nodes in the environment (already because of quarantine from flakiness raised in #12511).

[2021-12-01 19:56] ldelossa commented on #16967
# Test Reproduction
Cluster Flavor:                 Kind (locally deployed on workstation)
Cilium Agent Version:       Current HEAD (8fd2bb9ba8)
Cilium Operator Version:  Current HEAD (8fd2bb9ba8)

# Observations

On Pod Restart the MetalLB logger produces debug messages indicating an IP has been allocated from it's pool and advertised to the downstream client.

[code]

When the cilium pod is idle

[2021-12-01 20:10] joestringer opened #18085 "Make ginkgo test declarations more consistent"
Recently I've been trying to quarantine ginkgo tests. Given the way that we structure the test definitions with nested `Context` and `It` statements, with long files it can be difficult to locate the specific test that's failing based on the name, for instance:

* CI reports flakiness in `Suite-k8s-1.22.K8sServicesTest Checks service across nodes Tests NodePort BPF Tests with secondary NodePort de

[2021-12-01 20:11] joestringer commented on #18085
So far from a scripting perspective, I've just assumed that it's "good enough" to not handle the multi-line declarations like above, and only have the script work where the test name and test function declaration are on the same line. And maybe that's the simplest answer: either the script doesn't always work or we could encourage always declaring the test name on the same line as the `It` / `Cont

[2021-12-01 20:14] brb commented on #12511
@joestringer Actually I've been working on preparing how to trace down what's going on in the suite. Going to troubleshoot it after the v1.11 release.

[2021-12-01 20:15] joestringer commented on #18085
One other note, let's say I try to use `ginkgo .. -dryRun` to locate the test. This doesn't seem to work today, even though the test is clearly somewhere in the suite:

[code]

In the raw output of the above command, I see the following, so maybe the test is still excluded from the dry run somehow?

[code]

[2021-12-01 20:26] joestringer commented on #18085
In the end I can expand the initial grep terms to get the answer:

[code]

[2021-12-01 20:44] joestringer commented on #12511
@brb OK, in that case I will move it into the "1.11 CI -> deferred" column. Feel free to re-assign when you plan on working on it.

[2021-12-01 20:45] brb commented on #18014
Tried disabling the recently introduced IPv6 neigh discovery, but still can reproduce it.

[2021-12-01 21:04] pchaigno commented on #18084
Did you consider using the Cilium CLI? It can create the IPsec secret for you.

[2021-12-01 21:06] brb commented on #18014
Another data point derived from running tcpdump dump on ifaces which are used to send packets in the direct routing mode: the SYN-ACK's are getting dropped somewhere in the kernel before reaching the outgoing interface, as I don't see the repeated SYN-ACKs in pcaps.

[2021-12-01 21:12] austince commented on #18084
Yes, I did consider it but that adds additional tooling to build workflows, etc. around. If using Helm, it would be nice to not have to use any other tool.

[2021-12-01 21:34] joestringer opened #18086 "CI: k8s v1.19 or older: Kubernetes DNS did not become ready in time (all tests)"
PR https://github.com/cilium/cilium/pull/18018 appears to have broken DNS provisioning in CI on master for k8s versions < 1.20.

Examples:
https://jenkins.cilium.io/job/cilium-master-k8s-1.19-kernel-4.9/247/execution/node/130/log/?consoleFull
https://jenkins.cilium.io/job/cilium-master-k8s-1.17-kernel-4.9/288/execution/node/130/log/?consoleFull

[2021-12-01 21:44] joestringer commented on #18086
I suggest that we either locate and resolve the problem in the short term, or revert the PR in master and then propose the PR again, this time regularly running k8s 1.19 CI runs to gain confidence in the changes.

[2021-12-01 21:50] soggiest commented on #16291
It's failed a couple of times one me, not consistently. I'll open a new ticket.

[2021-12-01 21:51] mdaur commented on #17941
@borkmann now I can confirm that the icmp6 redirects are not longer there and tcp sessions work well for ipv6 if the traffic need to be forwarded to a pod on another node. e.g. (orign 2003:a:611:9600:c9fc:8043:ad2:4c5d, forwarding node 2003:a:611:9600::21, pod on remote node 2003:a:611:9612::11, service ip 2003:a:611:9605::9abf tcp/2000). Tested with quay.io/cilium/cilium:v1.11.0-rc3 / kernel 5.4.

[2021-12-01 22:13] aditighag commented on #18086
Core dns deployment is failing because of this error -

`2021-11-30T14:09:43.349414540Z E1130 14:09:43.349292       1 reflector.go:138] pkg/mod/k8s.io/client-go@v0.20.2/tools/cache/reflector.go:167: Failed to watch *v1beta1.EndpointSlice: failed to list *v1beta1.EndpointSlice: endpointslices.discovery.k8s.io is forbidden: User "system:serviceaccount:kube-system:coredns" cannot list resource "endpo

[2021-12-01 22:22] christarazi commented on #16967
@ldelossa `Ingress` will be empty if there are no backends (`Endpoints`) for the frontend.

[2021-12-01 22:41] aanm commented on #11767
Hello @wenhuwang have you checked if there was DNS traffic to `baidu.com` from within the container with tcpdump?

[2021-12-01 22:53] joestringer commented on #18086
@aditighag that may work for 1.19 (assuming we are auto-enabling EndpointSlices on that version), however we will still also need a solution for k8s 1.18 or below which do not have support for EndpointSlices.

[2021-12-01 23:01] joestringer commented on #11560
Removing @christarazi 's stale assignment here. If you plan on working on this, feel free to reassign it back to yourself.

[2021-12-01 23:06] jovalle commented on #17467
Is this something that Cilium is adjusting for? Just tried 1.10.5 on an arm64 host and got the same error.

[2021-12-02 00:01] aditighag commented on #18086
[code]

Based on the k8s reference [doc](https://kubernetes.io/docs/reference/_print/#feature-gates-for-graduated-or-deprecated-features), EndpointSlice is supported since 1.16. Also, we [enable the feature gate](https://github.com/cilium/cilium/blob/7ed8a42ffe92887583fb901a753f6c327e623f05/test/provision/k8s_install.sh#L302-L302) on test clusters 1.18 onwards.

[2021-12-02 00:12] joestringer commented on #18086
:+1: ah great, not sure where I was reading that the minimum support was 1.19. Still, we'll need to figure out a solution down to v1.16 (Cilium v1.10 branch) and down to v1.12 (Cilium v1.9 branch).

[2021-12-02 00:14] joestringer commented on #18086
^^ Related question, is it possible to just add in the EndpointSlice support on v1.16 or will that cause other issues?

[2021-12-02 00:22] joestringer commented on #17467
@jovalle I'm not aware of any Cilium settings for this, but I was not deeply involved in the ARM64 efforts.My interpretation of the answer provided by the user in Slack (copied above) was that they had to recompile their kernel to support these images. You might be able to find out more info by joining the Cilium slack and asking around, perhaps in the #arm64 channel.

[2021-12-02 00:28] christarazi opened #18089 "Validate Cilium behavior with node churn"
In real user environments, node churn is not uncommon. Currently, we don't have any tests that validate Cilium's behavior while nodes are coming up and down. It's not obvious to me what sort of bugs we'd catch, but I'd imagine at the very least it would be around handling the appropriate Kubernetes events (Node, CiliumNode) correctly.

For example, in the past we've had bugs like https://github.co

[2021-12-02 01:27] ldelossa commented on #16967
@christarazi yes, MetalLB has nothing to announce, I'd expect it to however. These tests are creating and destroying the Service deployment mentioned above. On re-creation, and without a restart, we receive an empty `Ingress` field and MetalLB performs no work.

[2021-12-02 01:50] joestringer commented on #17994
I was able to reproduce this by running the test locally against a VM with kernel v4.9. Discussion with @jrajahalme out-of-band established that the reason for this failure is that Envoy learns about IP->Identity mappings differently depending on which kernel is being used: On kernels v4.9/v4.10, Cilium notifies Envoy asynchronously about these mappings. On v4.11 or later, Envoy learns these direc

[2021-12-02 01:54] #17994 closed

[2021-12-02 02:21] joestringer commented on #18072
This is also failing consistently on master:

https://jenkins.cilium.io/job/cilium-master-k8s-1.22-kernel-4.19/1474
https://jenkins.cilium.io/job/cilium-master-k8s-1.22-kernel-4.19/1475
https://jenkins.cilium.io/job/cilium-master-k8s-1.22-kernel-4.19/1476
https://jenkins.cilium.io/job/cilium-master-k8s-1.22-kernel-4.19/1477
https://jenkins.cilium.io/job/cilium-master-k8s-1.22-kernel-4.19/1478
http

[2021-12-02 02:24] wenhuwang commented on #11767
The capture information is as follows:
[code]
container ip 10.165.87.147 and 180.101.49.12 Failed to establish TCP connection.

[2021-12-02 03:24] maintainer-s-little-helper[bot] opened #18094 "CI: K8sIstioTest Istio Bookinfo Demo Tests bookinfo inter-service connectivity"
### Test Name
[code]

### Failure Output
[code]

### Stacktrace
<details><summary>Click to show.</summary>

[code]
</details>

### Standard Output
<details><summary>Click to show.</summary>

[code]
</details>

### Standard Error
<details><summary>Click to show.</summary>

[code]
</details>

ZIP Links:
<details><summary>Click to show.</summary>

 https://jenkins.cilium.io/job/Cilium-PR-K8s-1.23-ker

[2021-12-02 03:25] aanm commented on #18094
Duplicate of #17981

[2021-12-02 03:25] #18094 closed

[2021-12-02 03:25] aanm commented on #17981
The issue still persists even after #17401 was fixed.

[2021-12-02 06:43] oblazek commented on #18037
Just run into the same issue. In my case I added only IPv4 service (as frontend) and that caused v6 outer map to be empty. Interested to know why we have these checks https://github.com/cilium/cilium/blob/789eef0d148d0aa590d2a1b2da7fd69da6dafc47/pkg/maps/lbmap/maglev.go#L79-L85
since if I remove them I can correctly get the desired output:
[code]

[2021-12-02 09:50] #18045 closed

[2021-12-02 09:56] #6770 closed

[2021-12-02 11:20] kaworu commented on #17926
@nbusseneau thanks for the link! Is #17139 a regression? From what I could gather from the sysdump, it was found after v1.10 was released (d04a86598e886059724ff0d2ee7f3f0db57724b3) so it's unclear to me whether we should add a `release-blocker/1.11` label to #17139. Happy to spin up a test cluster with v1.10.5 if we need to figure this out.

[2021-12-02 13:05] gandro commented on #17895
While we don't know where the delay in the IPv6 address assignment comes from, I think main problem here is actaully that we consider Cilium ready before the IPv6 routing is set up. The failed test seems to have started a few seconds before the successful route was added (test failure is reported `2021-11-11T04:56:08Z`, the route is installed `2021-11-11T04:56:26`)

I assume we consider Cilium rea

[2021-12-02 13:30] zapotah commented on #17738
Hi.

Tested now with debian 11 and 5.10 and 5.14 kernels, and while they dont outright crash unlike the ubuntu 5.13 kernel, the issue with pods not being able to contact apiserver persists, please reopen the issue.

[2021-12-02 14:04] gandro commented on #17895
A few additional pointers regarding the Cilium Health reports healthyness regardless of IPv6 health:

We're only returning IPv4 health endpoints here if IPv4 is enabled:

https://github.com/cilium/cilium/blob/a8e3fa283cf40b330035265bf83d63800b296bcf/pkg/health/server/node.go#L50

Only this IP is then used to determine if the endpoint is unreachable:

https://github.com/cilium/cilium/blob/a8e3fa283

[2021-12-02 14:43] jrajahalme commented on #17953
We are currently working on L7 LB features. The first case we'll target is vanilla k8s Ingress (so no % splitting), but will target this use case soon after.

[2021-12-02 16:03] kaworu commented on #17926
@nbusseneau I was able to reproduce the IPSec/EKS failure with Cilium v1.10.5, so it is not a v1.11 regression.
<details>
 <summary>Cilium v1.10.5 IPSec (EKS) ❌</summary>

[code]
[code]
[code]
</details>

[2021-12-02 16:13] bmcustodio commented on #17926
I have tried the upgrade guide in EKS (ENI mode):

1. Installed `Cilium 1.10.5` via Helm and ran `cilium connectivity test`, all was good ✅
2. Ran the preflight tests as per the manual, also all good ✅
3. Upgraded to `v1.11.0-rc3` with `upgradeCompatibility=1.10` (see below), all good ✅
4. Ran `cilium connectivity test` and ran to what likely is the same issue as above 🚫

[code]

In my case IPsec

[2021-12-02 16:33] nbusseneau commented on #17926
@bmcustodio I don't think it's the same issue, this looks like the transient DNS issue #16938. If you still have the cluster, can you try running the connectivity test again? #17139 is consistent and always only has 2 failures with the ingress and egress L7 tests, not the FQDN tests.

[2021-12-02 16:51] bmcustodio commented on #17926
@nbusseneau I've tried again for the third time and the same issues persist, it seems 🤔

[code]

[2021-12-02 17:16] nbusseneau commented on #17926
Strange. I still think it's #16938 though, and not #17139. We had partially fixed #16938 with https://github.com/cilium/cilium-cli/pull/558, tracking the actual root cause in #17459. Is it possible you are hitting that specific issue due to the upgrade?

[2021-12-02 17:23] qmonnet opened #18105 "CI: v1.10 K8sUpdates Tests upgrade and downgrade from a Cilium stable image to master"
## CI failure

Context: v1.10 backport PR (https://github.com/cilium/cilium/pull/18066)

### Test Name
[code]

### Failure Output
[code]

### Output
[code]

It looks closely like https://github.com/cilium/cilium/issues/16039, which was fixed for branch v1.10, but note the additional error:

[code]

### Resources

- ZIP file: [test_results_Cilium-PR-K8s-1.19-kernel-5.4_1372_BDD-Test-PR.zip](https:/

[2021-12-02 17:44] joestringer opened #18106 "cilium config --all prints masks wrong"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

[code]

`Mask` is formatted as random bytes output rather than as a human-readable mask such as `255.255.255.0` or `/24`

### Cilium Version

[code]

### Kernel Version

Any

### Kubernetes Version

Any

### Sysdump

_No response_

### Relevant log output

_No response_

### Anything else?

_No

[2021-12-02 18:03] #18086 closed

[2021-12-02 18:53] joestringer opened #18107 "CI: ConformanceAKS fails to become ready: unable to retrieve cilium status: unable to unmarshal response of cilium status: unexpected end of JSON input"
Found in PR #17987, job `ConformanceAKS (ci-aks-1.10) `

https://github.com/cilium/cilium/runs/4390030534?check_suite_focus=true
[cilium-sysdump-out.zip.zip](https://github.com/cilium/cilium/files/7644414/cilium-sysdump-out.zip.zip)

[code]

[2021-12-02 21:29] joestringer commented on #11767
@wenhuwang does `cilium status --all-redirects` print information about configured proxy redirects?

[2021-12-02 21:49] christarazi commented on #16967
@ldelossa Not sure what you are referring to exactly by "recreation", but would it be accurate to say that Cilium is receiving a K8s event which as the `Ingress` empty, or that something is somehow emptying it?

[2021-12-02 22:44] joestringer commented on #18107
The Sysdump gathering was incomplete here as well. For instance, it appears to have only dumped clusterwide resources, but the individual daemon logs for particular cilium agents are missing. Without those, it's difficult to ascertain what's going on with those agents.

Below are the output logs from the sysdump gathering:

[code]

Despite lines like `🔍 Collecting logs from Cilium pods` without an

[2021-12-02 22:48] joestringer commented on #18107
Maybe it's just broken because the workflow doesn't wait until the cilium agent is ready before proceeding (see `--wait=false` in the command here)?

[code]

[2021-12-02 23:34] joestringer commented on #18107
I'm suspicious that this is just a new variation on https://github.com/cilium/cilium/issues/17671.

[2021-12-03 00:09] ldelossa commented on #16967
@christarazi by recreation I just mean a delete of the service and its deployment followed by a recreation.

I'll debug further up the stack (into the watcher code) next and update  https://github.com/cilium/cilium/issues/16967#issuecomment-984004545

Not sure if we are receiving it with the missing details or if Cilium business logic is stripping off the details we need to fill in our own Ingress

[2021-12-03 01:20] wenhuwang commented on #11767
The output information of the `cilium status --all-redirects` command is as follows:
[code]

[2021-12-03 08:22] batistein commented on #17764
For all those who come here and wonder the same. Since today there is the [beta program of cilium](https://cilium.io/blog/2021/12/01/cilium-service-mesh-beta). Apparently they were a little too fast with the release of the blog article...
Now it all makes sense because in the near future there will be a service mesh of cilium that brings these benefits with it!

[2021-12-03 08:43] brb commented on #18081
@m-yosefpor Thanks for the detailed issue. On the Node B, could run run `cilium bpf nat list | grep $CLIENT_REQ_SRC_PORT` and `cilium bpf ct list global | grep $CLIENT_REQ_SRC_PORT`?

[2021-12-03 09:28] brb commented on #17738
@zapotah Thanks for getting back to us. Could you collect and upload the sysdump? Ideally, the collection should happen after a pod tries to connect the kube-apiserver.

[2021-12-03 09:49] pchaigno commented on #18107
Other workflows are also missing a `--wait` step, but cilium-cli workflows [seem to have it](https://github.com/cilium/cilium-cli/blob/f6cc7c6c00b7dbd25119f094c2db62f2b1b68b5f/.github/in-cluster-test-scripts/gke.sh#L15-L16). I'm not sure how this is supposed to work here :thinking:

cc @nbusseneau

[2021-12-03 09:57] pchaigno commented on #17926
@bmcustodio Are you using Cilium CLI v0.9.1 or newer? That's when the fix for merged.

The root cause is described at https://github.com/cilium/cilium-cli/issues/367#issuecomment-922937121, with detailed steps to check if it's the same flake. A first, quick way to ensure it may be the same flake is to verify that the failing test ends with packet trace `to-proxy` even though it shouldn't test L7 p

[2021-12-03 10:10] zapotah commented on #17738
Also ran into https://github.com/etcd-io/etcd/issues/13119 while trying to do a DR excercise. Will need to roll back the cluster. I will do some further testing with different permutations of the host and also on some hardware nodes to see if this is some obscure virtio interaction or such.

I will collect sysdumps asap.

[2021-12-03 13:00] tklauser commented on #18107
The `--wait` flag is not necessary because the successive `cilium hubble enable` will anyway restart Cilium and will then  wait for it to become ready by default. Also see https://github.com/cilium/cilium/pull/17706

I'm not sure why the cilium-cli workflow still has it, probably an oversight.

[2021-12-03 13:17] brb commented on #18014
Validated that this is yet another instance of https://github.com/cilium/cilium/issues/17895#issuecomment-984610262. The route is missing which makes the SYN-ACKs not to reach the client node.

[2021-12-03 13:19] nbusseneau commented on #18107
Tobias already answered from a "theoretical standpoint" (no need to wait because in the workflows we are always immediately reconfiguring Cilium with Hubble enabled in the next command, which already waits), but I also want to add that in practice, all of our CI jobs are actually always waiting for `cilium install` despite having `--wait=false`:

[code]

This is because of the interaction with `re

[2021-12-03 14:16] bmcustodio commented on #17926
Yes 🤔

[code]

[2021-12-03 15:33] brb opened #18114 "datapath: Consider selecting a new service backend for CT_REOPENED"
Could be another workaround for the problem described in https://github.com/cilium/cilium/pull/18113.

[2021-12-03 19:15] joestringer opened #18115 "Cilium upgrade with --reuse-values causes Helm to segfault"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

In a kind environment, run:

[code]

The `--reuse-values` argument here means that the `.Values.hubble.tls.server.extraDnsNames` value does not have the default value from the v1.11.0-rc3 chart's values file, which then causes a runtime error in Helm.

Removing the `--reuse-values` argument res

[2021-12-03 19:48] joestringer commented on #18115
This seems to be at least partially introduced by PR #17238 (cc @dungdm93).

[2021-12-03 20:51] nathanjsweet commented on #16402
Ran into another variation:

[code]

The "Failed to release lock: resource name may not be empty" is a new one. Perhaps a worthy candidate for adding to [the exceptions list](https://github.com/cilium/cilium/blob/33bd95c6375c4a494b47fc3634a1eb0a8892660a/test/helpers/cons.go#L307)?

[2021-12-03 21:11] nathanjsweet commented on #18060
[This issue happened for k8s 1.20](https://jenkins.cilium.io/job/Cilium-PR-K8s-1.20-kernel-4.9/1187/testReport/) in [the v1.11 backport](https://github.com/cilium/cilium/pull/18109) with [the fix](#18087). The fix did not address any issues with v1.20. However, the `curl` output from the logs suggest that the issue was a disk space issue:

[code]

[2021-12-03 22:23] joestringer opened #18118 "Cilium complains "Failed to remove old router IPs (restored IP: <nil>) from cilium_host. Manual intervention is required to remove all other old IPs.""
Found in this v1.11 backport CI job:
https://jenkins.cilium.io/job/Cilium-PR-K8s-1.23-kernel-4.9/49/testReport/junit/Suite-k8s-1/23/K8sDemosTest_Tests_Star_Wars_Demo/

[code]

This seems like an extraneous warning that we should not report randomly in CI.

cc @christarazi

[2021-12-04 01:05] aanm commented on #16402
@nathanjsweet did you check etcd logs? I think this is a similar failure as this one https://github.com/cilium/cilium/issues/17981#issuecomment-979676264

[2021-12-04 01:06] m-yosefpor commented on #18081
@brb Here is the output:

[code]

[2021-12-04 01:25] m-yosefpor opened #18120 "Cilium runnning in Legacy mode instead of BPF"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

We have deployed Cilium via OLM with the following configuration:

[code]

As you can see we have explicitly set: `bpf.hostRouting: false`.

The corresponding generated cilium configMap is :
[code]

Which includes `enable-host-legacy-routing: "false"`

Also the linux kernel version is 5.14, so

[2021-12-04 01:34] aanm commented on #18120
@m-yosefpor did you check Cilium agent logs, specially the first ~300 lines which contains the if `enable-host-legacy-routing` is set or not?

[2021-12-04 01:39] m-yosefpor commented on #18120
@aanm

[code]

Thanks. So I can I disable endpoint routes? what is it used for?

[2021-12-04 01:56] m-yosefpor commented on #18120
disabling endpoint routes, caused all pods to get unhealthy (endpoints are unreachable) even after node reboot

[2021-12-04 13:08] hwaastad commented on #18042
Hi, I've seen similar issue in my configuration.
Running Rancher RKE2 and cilium 1.10.4 (Flatcar OS)
https://cilium.slack.com/archives/C01JALNQAR1/p1638544034273000
Tested using default global health networkpolicy and auditing.
[code]
and
[code]
My current config is:
[code]
pretty std, but I also add a kube-vip manifest to my konfig to get the proxy-free konfig HA.

[2021-12-04 21:38] timoreimann commented on #17870
PR out at #18122.

[2021-12-05 00:37] briantopping commented on #9207
Created #18124 to bring the pr branch up-to-date.

I've been testing this with a k8s 1.21 cluster using `coredns` as a target with duplicate port number `53`. The service map is irregularly updated:
* With one backend replica, a rolling restart of the deployment will typically leave one or the other service map entry for a protocol with an empty value:
[code]
* With a second backend replica, a rol

[2021-12-05 22:59] joestringer opened #18125 "CI: ConformanceAKS: Failed to install: unable to retrieve cilium status: unexpected EOF"
Hit in v1.11 backports branch.

https://github.com/cilium/cilium/runs/4413727743?check_suite_focus=true
[Uploading cilium-sysdump-out.zip (2).zip…]()

Somewhat similar CI failure in presentation compared to https://github.com/cilium/cilium/issues/18107, except that one complained about misformatted JSON; this failure just reports EOF when attempting to gather Cilium status. Also can't dig further

[2021-12-06 01:55] wenhuwang commented on #11767
@aanm @joestringer hello, do you have any other troubleshooting ideas? otherwise, i can only try to upgrade the cilium version.

[2021-12-06 01:59] #17701 closed

[2021-12-06 11:28] pchaigno commented on #18120
Endpoint routes are required for OpenShift. We're aware of that feature gap and tracking it at https://github.com/cilium/cilium/issues/14240.

[2021-12-06 11:28] #18120 closed

[2021-12-06 11:52] randomthingsandstuff opened #18131 "k3s install guide doesn't work properly on Ubuntu 21.10"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

Follow guide from https://docs.cilium.io/en/stable/gettingstarted/k3s/

1) Setup master per guide
2) Setup worker per guide
3) Install Cilium per guide with slight modification to handle for config path
`KUBECONFIG=/etc/rancher/k3s/k3s.yaml sudo -E cilium install`

Expected behavior:
`cilium st

[2021-12-06 13:41] tklauser commented on #18060
Observed the same failure as @nathanjsweet on #18128 (PR for `master`): https://jenkins.cilium.io/job/Cilium-PR-K8s-1.23-kernel-4.9/57/

[code]

[2021-12-06 15:43] codablock commented on #18023
I spent some time into debugging this issue. It looks like all temporary identities that belong to the toFQDNs rule are being released when the policy is being updated (even if only labels/annotations change).

These identities are then NOT recreated until fqdn cache entries are being updated. This in turn only happens after TTL of fqdn cache entries is expired or when the cache is cleared. This w

[2021-12-06 17:20] tklauser commented on #17715
This looks like a duplicate of #17661, the panic is at the exact same position. The panic was caused an issue in Ginkgo which has since been resolved by updating Ginkgo, see https://github.com/cilium/cilium/issues/17661#issuecomment-983967186 for a detailed analysis. Thus also closing this issue.

[2021-12-06 17:20] #17715 closed

[2021-12-06 17:23] maintainer-s-little-helper[bot] opened #18138 "CI: K8sDatapathConfig Host firewall With VXLAN"
### Test Name
[code]

### Failure Output
[code]

### Stacktrace
<details><summary>Click to show.</summary>

[code]
</details>

### Standard Output
<details><summary>Click to show.</summary>

[code]
</details>

### Standard Error
<details><summary>Click to show.</summary>

[code]
</details>

ZIP Links:
<details><summary>Click to show.</summary>

 https://jenkins.cilium.io/job/Cilium-PR-K8s-1.22-ker

[2021-12-06 17:49] joestringer opened #18139 "CI: ConformanceKind1.19: no-policies/pod-to-world/http-to-one-one-one-one-0: Recv failure: Connection reset by peer"
https://github.com/cilium/cilium/runs/4433308454?check_suite_focus=true
[cilium-sysdump-out.zip (3).zip](https://github.com/cilium/cilium/files/7662545/cilium-sysdump-out.zip.3.zip)

Hit in #18137 which makes no code changes.

[code]

[2021-12-06 17:55] joestringer commented on #16938
@borkmann curious why you think this is related to policy? My understanding of the problem right now is that after a full successful CI run, we redeploy Cilium with encryption enabled and then sometimes there is some lingering state which causes connectivity issues with a range of tests both with and without policy, inside and outside the cluster.

[2021-12-06 18:01] joestringer commented on #18107
I perhaps chose my words poorly above. I was reading the following two snippets, first from the install:

[code]

then secondly from artifact gathering:

[code]

And came to the conclusion that the install fails and therefore the CLI cleans up everything before gathering the information we need to debug.

[2021-12-06 18:12] nbusseneau commented on #18107
Aaaah indeed, it might the installation rollback is triggered here! We should add `--rollback=false` to `cilium install` flags. I am opening a PR for that, good catch.

[2021-12-06 20:03] vincentmli commented on #18131
@randomthingsandstuff
out of curiosity, since I also use k3s, I tried to simulate your setup with your setting based on your sysdump cilium agent setting below

[code]
I could not reproduce your issue with two k3s node

[code]

[2021-12-06 20:29] vincentmli commented on #18131
I tried to install following the steps in https://docs.cilium.io/en/stable/gettingstarted/k3s/, I can't even install cilium with cilium cli

[code]

I usually install cilium in k3s with cilium manifest yaml like `kubectl apply -f cilium.yaml`, no problem

[2021-12-06 21:16] randomthingsandstuff commented on #18131
Ah crap. Yeah, I updated the description to note that I used `KUBECONFIG=/etc/rancher/k3s/k3s.yaml sudo -E cilium install`. My bad.

[2021-12-06 22:10] rahulait commented on #15332
We are seeing a similar issue where BPF based masquerading starts failing if there are multiple IP addresses on primary interface. In our case, we have multiple ip's configured on eth0 using alias (eth0, eth0:15). IP address on eth0 is externally routable, but the ip-address on eth0:15 is not.

[code]

When I am installing k8s with cilium on the host, cilium is picking up ip address on eth0:15 whi

[2021-12-06 22:30] vincentmli commented on #18131
thanks, I can `cilium install`, but still, I can't reproduce your issue, weird.

[2021-12-06 23:12] nathanjsweet commented on #17949
The metrics are per node. The Service is headless to just give Prometheus the right annotations to scrape, but I'm confused by the addresses you posted. The sysdump does not show that the nodes you're scraping are in the cluster. Everything begins with 10.0.x.x in the sysdumps. I think this perhaps is a misconfiguration of your Prometheus scraper.

[2021-12-06 23:16] nathanjsweet commented on #18023
Thanks for the clear instructions. We're diving into it.

[2021-12-06 23:19] briantopping commented on #9207
Issue above fixed in https://github.com/briantopping/cilium/commit/f570b70cb5a843280b8ed3666f088c1985152b6e. I'll be running the code in a production environment soon if anyone is interested in an update. May have a path to a supportable solution as well.

[2021-12-06 23:49] vincentmli commented on #18131
@randomthingsandstuff what about your `KUBECONFIG=/etc/rancher/k3s/k3s.yaml cilium connectivity test`, maybe you are hitting https://github.com/cilium/cilium/issues/18079 ?

I noticed you and  https://github.com/cilium/cilium/issues/18079  both have new `iptables-nft` utility installed, not `iptables-legacy` utility, maybe that could interfere with `Host Routing:           Legacy `?  I am running

[2021-12-07 00:07] joestringer commented on #18023
Thanks for the report @codablock, I was able to confirm that v1.11.0-rc2 was fine but v1.11.0-rc3 was affected by using your instructions. We've already tagged v1.11.0 final in anticipation for the upcoming release announcement, however we were also able to validate that the v1.10 branch has the issue and this was caught before pushing out a broken release there. At first glance this likely seems

[2021-12-07 01:44] joestringer commented on #18023
Confirmed that this was introduced by commit f559cf1cecb0780eb3a815c951fe599f4918e474 . It appears that the policy selector cache gets cleared out whenever policy is recalculated for a CiliumEndpoint, thereby causing a release of the underlying identities. This occurs even if these particular policy statements are not changing and therefore should still retain references to those identities and ke

[2021-12-07 02:50] briantopping opened #18149 "Configuration schema for automated tooling"
## Proposal / RFE

Cilium configuration is currently based on an implicit schema of key-value pairs. The documentation is well-maintained and users can also look for keys in [`config.go`](https://github.com/cilium/cilium/blob/master/pkg/option/config.go). The keys are are also exposed to some degree in [`openapi.yaml`](https://github.com/cilium/cilium/blob/master/api/v1/openapi.yaml), generating a

[2021-12-07 06:35] tklauser commented on #18125
Hit a somewhat similar case on #18129 (Go update in `v1.11`): https://github.com/cilium/cilium/actions/runs/1544180661

[2021-12-07 07:34] randomthingsandstuff commented on #18131
Good catch. The transition to the new iptables stuff is always a good suspect.

Unfortunately, doesn't seem to have resolved it. I'm going to try to generate and apply a manifest per your original thoughts and mess with that too.  Possibly just switch over to CentOS 8 (or Rocky or whatever) as well since the distro isn't really relevant for my test case.

Connectivity check post-legacy change:

[c

[2021-12-07 10:53] lbernail commented on #13451
@joestringer We would be very interested in this feature. We had a "fun" incident due to the current behavior during rolling updates:
- old pod is deleted
- (gRPC) clients continue to connect to the old IP until DNS propagates (which in our case takes up to 30s because we ddo cross-cluster discovery) and this is made worse by gRPC default behavior (resolve at most once every 30s)
- this IP is stil

[2021-12-07 11:13] dirtyValera commented on #17811
Is it moving?

[2021-12-07 13:14] nbusseneau commented on #18107
@joestringer Reproduced in https://github.com/cilium/cilium/actions/runs/1546043233/attempts/2 with `--rollback=false`. Not much more information in the sysdump unfortunately, still missing agents as we're still unable to retrieve logs (though it's not due to pods missing but an i/o error) :/

[cilium-sysdump-out.zip](https://github.com/cilium/cilium/files/7668502/cilium-sysdump-out.zip)

[2021-12-07 14:35] vincentmli commented on #18131
sorry now i am not sure if `iptables-nft` really play a role here, I switched to `ubuntu 21.04` like yours with  `iptables-nft` ,  upgraded ubuntu 21.04 to kernel `5.13`, I think I reproduced the `health ep` issue once, then I realized I have some left over `/etc/kubernetes` config from `kubeadm` that may interfere with k3s, so I removed `/etc/kubernetes`, re-installed k3s, rebooted, then everythi

[2021-12-07 15:41] randomthingsandstuff commented on #18131
Can confirm that tests pass fine on 21.04 with 5.13 and iptables-nft.

[2021-12-07 15:44] vincentmli commented on #18131
I am not sure how exact the cilium health ep works, without reliable repro locally, it is hard to figure out the problem :)

[2021-12-07 16:01] randomthingsandstuff commented on #18131
Yeah but we're in a much better place.. some difference between underlying ubuntu 21.04 and 21.10. I'll try to look at them side-by-side and see what's up.

If you're interested in more details on my 21.10 repro, I spin up 2 VMs with libvirt and the ubuntu cloud image from here:

https://cloud-images.ubuntu.com/impish/current/impish-server-cloudimg-amd64.img

cloud-init only messes with some SSH,

[2021-12-07 16:06] pchaigno commented on #13451
That error message is coming from here (for the IPv4 path): https://github.com/cilium/cilium/blob/27e0848cc52f13cd697eec7c6cada84667c47879/bpf/bpf_host.c#L593
To send a TCP RST or ICMP message back instead of dropping the packet, we would probably need to tail call into a new BPF program. That new BPF program would then convert the received packet into a TCP RST or ICMP packet as needed.

We do so

[2021-12-07 16:10] vincentmli commented on #18131
oh, I thought you were having issue on 21.04, I will upgrade to 21.10, yes, I ran similar KVM/libvirt/bridge setup in my home server lab

[2021-12-07 16:28] pchaigno commented on #15446
@jaffcheng Was this bug fully addressed? Can we close the issue?

[2021-12-07 17:33] vincentmli commented on #18131
I can reproduce your issue after upgrading to 21.10. it looks something related to ubuntu `21.10`

[code]

[2021-12-07 17:43] lbernail commented on #13451
I think that in our case the packet is not dropped by ebpf code but simply by reverse path filtering (we definitely see martian packets)
In our setup, I'm pretty sure ingress traffic is not routed to cilium_host/cilium_net but directly to the pod veth (and I don't see bpf_host attached to the "physical" devices (AWS ENIs in our case)

[2021-12-07 18:14] vincentmli commented on #18131
@randomthingsandstuff I think you are running into https://github.com/cilium/cilium/issues/10645 where the  default `rp_filter` setting coming with systemd is set to `2` https://github.com/systemd/systemd/issues/21550, you can override the setting by add `/etc/sysctl.d/90-override.conf ` like below, then reboot, the problem should be resolved, I tested works.

[code]

this is second time I came ac

[2021-12-07 18:33] vincentmli opened #18157 "RFE: collect sysctl rp_filter in bugtool?"
## Proposal / RFE

**Is your feature request related to a problem?**

Some Linux distributions ships systemd sysctl `rp_filter` setting with

https://github.com/systemd/systemd/blob/main/sysctl.d/50-default.conf#L24-L27

[code]
Distributions like `ubuntu 21.10` and `openEuler` I tested include the systemd default `rp_filter` setting, this breaks cilium network connectivity like reported in:

https

[2021-12-07 18:39] vincentmli commented on #18157
I can send  PR if agreed since this is simple enough :)

[2021-12-07 19:23] tuxpeople commented on #17949
Hi @nathanjsweet

Can't confirm your findings:
[code]

There's no IP address in the whole sysdump starting with 10.0. The Nodes are in `192.168.8.0/24`:
[code]
`192.168.8.222` is the KubeVIP (currently assigned to `k3s-node1`)

There are indeed some 10.x.y.z networks:

- 10.20.30.0/24 Another LAN Network where my client running `kubectl` is currently
- 10.22.33.0/24 Wireguard VPN terminating in th

[2021-12-07 19:48] nathanjsweet commented on #16402
I just looked again, just some warnings about "apply request took too long".

[2021-12-07 20:49] pchaigno commented on #18157
We already collect the output of `sysctl -a` in the bugtool: https://github.com/cilium/cilium/blob/e38e3c44f712b5f0ecf33efd1867c0ae16b241f7/bugtool/cmd/configuration.go#L100
Wouldn't that be enough?

[2021-12-07 20:55] vincentmli commented on #18157
sorry, I missed it

[2021-12-07 20:55] #18157 closed

[2021-12-07 21:48] vincentmli commented on #18079
suspected `rp_filter` setting based on the sysdump, tried to set k3s node interface `rp_filter` to `1`  to reproduce the connectivity issue, no success.  strange there is `flannel` and `cni0` interface from the sysdump, seems not a clean system to run the k3s?

[code]

[2021-12-07 23:12] randomthingsandstuff commented on #18131
We have a winner. Added config per your instructions and works out great. Thank you for your assistance and effort.

[2021-12-07 23:12] #18131 closed

[2021-12-08 01:30] aditighag opened #18158 "CI: K8sHealthTest cilium-health Checks status between nodes"
[code]

Edit : I'm unable to attach the sysdump. It keeps giving error " is not included in the list".

[2021-12-08 01:34] aditighag commented on #18158
@joestringer noted that the health Endpoint was still in the regenerating state when the test failure was reported. Looking at the relevant [test code](https://github.com/cilium/cilium/blob/04c29baf64ea6385c14eb97a2ca19a710c585437/test/k8sT/Health.go#L99-L99), we don't have retries.

[code]

[2021-12-08 02:35] nathanjsweet opened #18159 "CI Tests Improvement: Log all error messages found wherever "GetBadLogMessages" is called"
[There are](https://github.com/cilium/cilium/blob/6c169f63ec254de7777483b6f01c261215f9ec9c/test/k8sT/Updates.go#L97) [numerous](https://github.com/cilium/cilium/blob/6c169f63ec254de7777483b6f01c261215f9ec9c/test/helpers/cilium.go#L660) [places](https://github.com/cilium/cilium/blob/6c169f63ec254de7777483b6f01c261215f9ec9c/test/helpers/kubectl.go#L3247) where [`GetBadLogMessages` is called](https:/

[2021-12-08 02:42] nathanjsweet commented on #17903
@jonkerj Without a way for us to reproduce this our hands are tied. Nothing looks out of the ordinary in your sysdump.

[2021-12-08 07:57] Charlottell opened #18169 "Create pods on different nodes,Poor throughput in cilium compared to calico"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

I use helm to install cilium, all the pod are running, i create two pod in the different node.
[code]

Then, i use netperf in the netperf-server pod to test.
[code]
The same cluster to deploy calico v3.14,and all the pod are running. I use the same method as above to test，The result is as follo

[2021-12-08 08:43] jaffcheng commented on #15446
I'm not sure if this is fully fixed in a newer version, but I think the probability of agent crash is very low and we can close this given that there is no more comment on this issue.

[2021-12-08 09:03] borkmann commented on #18072
Potential dup of https://github.com/cilium/cilium/issues/17895

[2021-12-08 09:33] #15446 closed

[2021-12-08 09:44] borkmann commented on #17942
Potential dup of #17895

[2021-12-08 11:02] brb commented on #18014
Yep :+1:

Closing as the issue duplicates #17895.

[2021-12-08 11:02] #18014 closed

[2021-12-08 11:44] brb commented on #18054
Read the test code again, and I cannot find why the route could have existed before.

The firt run didn't install the routes, as it expected the requests to be SNAT-ed (thus no route is needed).

I am reluctant to use replace instead of add, as it hides the problem. Instead, I will add more debug information if adding route fails.

[2021-12-08 15:18] othmane399 commented on #16188
Hello guys, any news on this topic ?

[2021-12-08 15:22] rolinh commented on #16188
@othmane399 I'm afraid no one worked on this item (volunteers are welcome!).

[2021-12-08 15:49] DockToFuture commented on #17692
Hi @pchaigno,

further investigation showed that we can connect from a node to the pod but not the other way around. We used netcat for verification.

Starting the server in the pod namespace:
[code]

Send message from the node:
[code]

We also did the inverse starting the server on the node and trying to connect from the pod but this did not work. Do you have any suggestions how to proceed.

[2021-12-08 16:02] vincentmli commented on #18169
@Charlottell  it appears your kernel version `5.4.61`  not meeting the requirements https://docs.cilium.io/en/latest/operations/performance/tuning/, kernel needs to  `> =5.10`

[2021-12-08 16:31] gandro opened #18177 "Host Firewall + Endpoint Routes drops small ICMP replies for local endpoints"
The combination of `enable-host-firewall=true` and `enable-endpoint-routes=true` seems to drop small ICMP packets, e.g.:

[code]

Cilium version: `master 1.11.90 6c169f63ec254de7777483b6f01c261215f9ec9c`

A few data points:
- This only happens for local endpoints, and only if *both* endpoint routes and host firewall are enabled
- Observed on kernel 4.9, 4.19, 5.4 and net-next (5.15.0-rc3-g431bfb9e

[2021-12-08 17:06] pchaigno commented on #18169
5.10 is only required to get some additional Cilium features which improve performance, but the performance should be at least as good as Calico's regardless of the kernel version.

@Charlottell Could you share a Cilium sysdump of the cluster?

[2021-12-08 17:49] #17991 closed

[2021-12-08 18:20] qmonnet opened #18179 "EKS: External traffic may be routed through wrong ENI and dropped, when masquerading is enabled"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

TL;DR: When masquerading is enabled, external traffic from some pods may be routed through the wrong ENI on EKS, resulting in drops. This is likely due to some missing IP rules, to tell the system to look into the correct routing table (the one associated to the ENI to which the pod is attached

[2021-12-08 18:23] lbernail commented on #13451
The challenge with this approach is the ICMP error message will egress using the main interface and not the interface through which the SYN was received.
We could probably find a solution to force the ICMP message through the right interface but it's likely more complicated because I don't know which source address we would use

[2021-12-08 18:39] #17919 closed

[2021-12-08 19:44] lbernail commented on #13451
I have an alternative that is more complex but maybe better:
- on deletion keep the ip rule for the old pod IP (this will prevent hitting rp_filter)
- on deletion send a RST with something like or equivalent to: `iptables -I FORWARD -p TCP --dest OldIP -j REJECT --reject-with tcp-reset`
- on pod creation make sure this iptables rule does not exist for the IP

This likely means reconciling the cont

[2021-12-08 20:51] philipp1992 opened #18183 "Creating any Networkpolicy block break health-probe connection from host"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

Hi,

i have installed latest k3s on latest ubuntu and installed cilium as following:

 helm install --wait cilium cilium/cilium --namespace=cilium --set nativeRoutingCIDR=${cluster_subnet_cidr} --set tunnel=disabled --set endpointRoutes.enabled=true --set ipam.mode=kubernetes --set hubble.ui.en

[2021-12-08 22:25] aledbf commented on #10312
@tgraf is there any update on this feature?. What could be used in the meantime?
Thanks!

[2021-12-09 00:45] joestringer opened #18187 "CI: Improve preflight error reporting"
As seen in https://github.com/cilium/cilium/pull/18166#issuecomment-988883906 :+1:

The ginkgo-based testsuite will sometimes fail with errors that look like this:

[code]

At first glance, it's relatively easy to see that pre-flight checks failed. Developers may or may not know what that means, but it means that this is to do with the checks performed initially by the testsuite to validate that t

[2021-12-09 01:03] #18023 closed

[2021-12-09 02:24] Charlottell commented on #18169
@pchaigno

[2021-12-09 02:35] aanm commented on #11767
@wenhuwang can you provide a Cilium sysdump?

[2021-12-09 03:07] Charlottell commented on #18169
@pchaigno  These files are respectively for master1 and master2. If you need other files, please let me know, I am willing to share

[logs-cilium-t2s6r-cilium-agent-20211209-101524.log](https://github.com/cilium/cilium/files/7681868/logs-cilium-t2s6r-cilium-agent-20211209-101524.log)
[logs-cilium-t2s6r-mount-cgroup-20211209-101524.log](https://github.com/cilium/cilium/files/7681871/logs-cilium-t2s

[2021-12-09 03:17] vincentmli commented on #18169
@Charlottell  if you can provide Cilium sysdump, not just cilium agent log, it would be great, I think cilium cli `cilium sysdump` collect sysdump, you can also run https://github.com/cilium/cilium-sysdump to collect sysdump that way. usually when I trouble shoot throughput issue, I would get throughput sample capture with tcpdump, from tcpdump capture you could tell if TSO, (maybe LRO/GRO?) are i

[2021-12-09 04:44] mukeshkwm opened #18191 "Higher Netflows(Inbound & outbound) for cilium vs calico"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

We are currently running calico and we are doing testing with cilium and we wanted to compare the netflows(inbound & outbound) between calico and cilium clusters.
We are seeing very high netflows(for both inbound and outbound) for cilium clusters against the calico cni during our test.
We were

[2021-12-09 07:56] Charlottell commented on #18169
@vincentmli @pchaigno I using cilium sysdump to get a folder that was too big, the upload has been failed, so I divided the following files to upload separately.
[cilium-sysdump-20211209-141103.zip](https://github.com/cilium/cilium/files/7682902/cilium-sysdump-20211209-141103.zip)
[bugtool-cilium-9mfhf-20211209-141114.zip](https://github.com/cilium/cilium/files/7682918/bugtool-cilium-9mfhf-2021120

[2021-12-09 10:57] chaosbox opened #18195 "cilium-agent crash and unable to recover when `enable-l7-proxy` is toggled"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

Cilium-agent crashes and unable to recover, as explained below,

- When "enable-l7-proxy: true" and using DNS proxy to add L3/L4 rules for the toFQDNs, the FQDN cache gets populated as lookup entries and the policies were working ok.
- When "enable-l7-proxy: false" on the same daemonset and rol

[2021-12-09 12:06] ese opened #18197 "Cilium agent crashloopback running on m6a instances"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

Cilium agent enters on crashloopback state due to fail health and liveness check becouse waiting for IPs to become available in allocation pool

cilium agent log
[code]

cilium-operator log
[code]

This instance is not listed in the aws-sdk used in cilium
https://github.com/cilium/cilium/blob/m

[2021-12-09 12:26] pchaigno commented on #18197
It seems this is a simple matter of updating our aws/aws-sdk-go-v2 dependency.

[2021-12-09 12:50] pchaigno commented on #18195
Thanks for the report! Do you want to send a pull request with the fix?

[2021-12-09 12:59] pchaigno commented on #17660
Will be fixed by https://github.com/cilium/cilium/pull/18117.

[2021-12-09 13:47] pchaigno commented on #18169
What tunneling protocol are you using in Calico's case? If VXLAN, what UDP port is it using?

[2021-12-09 13:58] kvaster commented on #17747
This commit breaks DSR: https://github.com/cilium/cilium/commit/0ef5d1e831ffc38ceec577d0ca020c15345faa6e
I will open new issue with details.

[2021-12-09 14:57] kvaster opened #18199 "DSR mode is broken"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

This commit breaks DSR mode: https://github.com/cilium/cilium/commit/0ef5d1e831ffc38ceec577d0ca020c15345faa6e

Example:

[code]

`X.X.X.X` - external ip which belongs to k8s-1 node

`curl http://X.X.X.X:11117` will hang

### Cilium Version

latest git

### Kernel Version

5.15.0

### Kubernetes

[2021-12-09 15:24] pchaigno commented on #18199
cc @borkmann

[2021-12-09 15:29] fredwangwang commented on #17953
Thanks @jrajahalme! Since this is more of a question and sounds like will see the feature coming out _soon_, going to close the issue here but keeping an eye on the releases 😄

[2021-12-09 15:29] #17953 closed

[2021-12-09 15:59] #13412 closed

[2021-12-09 16:00] #17660 closed

[2021-12-09 17:52] vincentmli commented on #17694
start to think about this, instead of adding  `IP -> VTEP` in type  `IPCache` struct and update `Upsert(...)` to take optional VETP info in `pkg/ipcache/ipcache.go`,  We could simplify this by adding something similar to the `specialIdentities` in   `syncEndpointsAndHostIPs()` in `daemon/cmd/datapath.go`, and invoke `Upsert(...)` to insert the `IP -> VTEP` .  this way, we don't need to change  `IP

[2021-12-09 18:04] othmane399 commented on #16188
Hello @rolinh, I can dig on the subject can I have a recap or a reason for why you're saying that it would not be easy using custom calls ?

[2021-12-09 18:11] aanm commented on #18191
@mukeshkwm how are you measuring the flows?

[2021-12-09 19:15] vincentmli commented on #18169
@Charlottell from sysdump, it looks you are running VM in alibaba cloud, and use cilium VXLAN tunnel, so netperf packet is through VXLAN tunnel then. it is not clear where the bottleneck though based on just sysdump. for performance/throughput issue, I sometime run `perf top` to just get an idea which kernel functions are among  the busiest when under throughput/load test, that could give some clu

[2021-12-09 19:28] batistein commented on #15437
@pchaigno @liuyuan10 @borkmann  what is the current plan to support katacontainer even kube-proxy free? We really need this feature since we want to use a kube-proxy free environment now with the 1.11 release and the istio support.

[2021-12-09 19:33] gandro opened #18204 "CI: Travis fatal error: concurrent map iteration and map write in github.com/cilium/cilium/pkg/ipam"
## CI failure

- First observed in https://github.com/cilium/cilium/pull/18153
- Travis log https://app.travis-ci.com/github/cilium/cilium/jobs/551583526
- Saved Travis output [log.txt](https://github.com/cilium/cilium/files/7687935/log.txt)

From the stack trace:
[code]

@hemanthmalla The top function `PopulateIPReleaseStatus` looks code introduced in https://github.com/cilium/cilium/pull/17939 (

[2021-12-09 19:55] joestringer commented on #18191
Hi @mukeshkwm , thanks for the report. Maybe to expand more on @aanm 's queries here, can you explain a little bit more about the tooling you are using to gather this information and what you think it means for the values to be higher or lower?

It may also be worth looking more closely at the Cilium metrics and logs to get a sense for whether there are any sort of indications that Cilium is opera

[2021-12-09 22:43] joestringer commented on #18073
Looks like the Jenkins links expired. Here's the sysdump:
[Uploading c35f6bb3_K8sPolicyTest_Basic_Test_checks_all_kind_of_Kubernetes_policies.zip…]()

[2021-12-09 23:29] joestringer opened #18211 "CI: v1.10: Cilium L4LB XDP (ci-l4lb-1.10): error: timed out waiting for the condition on pods/cilium-fxnz4"
PRs on the v1.10 branch are failing the l4lb test with the following error while setting up the test.

Example run:
https://github.com/cilium/cilium/runs/4477255000?check_suite_focus=true

No artifacts were gathered as the workflow is not set up to correctly gather a sysdump.

[code]

[2021-12-10 00:06] borkmann commented on #15437
@batistein Did you try out v1.11 with https://isovalent.com/blog/post/2021-12-release-111#istio-kpr aka kube-proxy-free with `bpf-lb-sock-hostns-only: true` so that for Pod namespace it falls back to per-packet translation?

[2021-12-10 00:08] borkmann commented on #18199
Thanks for the report @kvaster! Did you run into this with Cilium v1.11.0? What does the `ip n` in the host namespace say with regards to `X.X.X.X` IP?

[2021-12-10 00:12] joestringer opened #18212 "Add documentation around services"
This is a docs request for more clarification around how Cilium implements services, for example from conceptually how services abstract the backends away eg in k8s environments, to how we implement via packet handling vs socket handling, to random vs. Maglev lb algorithms.

[2021-12-10 00:18] joestringer opened #18213 "v1.10.6 release"
## Pre-release

- [ ] Check that there are no [release blockers] for the targeted release version
- [ ] Ensure that outstanding [backport PRs] are merged
- [ ] Consider building new [cilium-runtime images] and bumping the base image
      versions on this branch:
  - Cilium v1.10 or later:
     Modify the `FORCE_BUILD` environment value in the `images/runtime/Dockerfile` to force a rebuild.
     [

[2021-12-10 02:40] aditighag commented on #18073
# Some observations around sequence of events

Looking at the logs posted by Joe above, it looks like the endpoint creation and deletion events were separated by mere 30s.   The restore endpoint code path [triggered](https://github.com/cilium/cilium/blob/7d748630fd965639d0baa43fe977afef98e436d2/pkg/endpoint/events.go#L350-L350) endpoint regeneration, which was dequeued while the endpoint was being

[2021-12-10 04:00] maintainer-s-little-helper[bot] opened #18218 "CI: K8sFQDNTest Validate that FQDN policy continues to work after being updated"
### Test Name
[code]

### Failure Output
[code]

### Stacktrace
<details><summary>Click to show.</summary>

[code]
</details>

### Standard Output
<details><summary>Click to show.</summary>

[code]
</details>

### Standard Error
<details><summary>Click to show.</summary>

[code]
</details>

ZIP Links:
<details><summary>Click to show.</summary>

 https://jenkins.cilium.io/job/Cilium-PR-K8s-1.22-ker

[2021-12-10 06:34] wenhuwang commented on #11767
hello, my cilium version has upgraded to v1.10.4, this issues already exists. cilium sysdump files as follows.
[cilium-sysdump-20211210-133354.zip](https://github.com/cilium/cilium/files/7690530/cilium-sysdump-20211210-133354.zip)

thanks for your help.

[2021-12-10 07:30] gpl commented on #16966
Just an update, we recently updated to Cilium 1.11 and are still experiencing this issue.

[2021-12-10 09:22] pchaigno commented on #18212
Is this essentially about having a [Concepts](https://docs.cilium.io/en/stable/concepts/) counterpart to [the KPR guide](https://docs.cilium.io/en/stable/gettingstarted/kubeproxy-free/)?

[2021-12-10 09:29] pchaigno commented on #17270
The issue in the last two reports is the same: one of the test pods (`ratings-v1-6c5dd8d8f9-c2bf4` and `productpage-v1-66b44dc6-rclx2`) is stuck in `Init:0/2` status.

Artifacts:
- [797cc3be_K8sIstioTest_Istio_Bookinfo_Demo_Tests_bookinfo_inter-service_connectivity.zip](https://github.com/cilium/cilium/files/7691623/797cc3be_K8sIstioTest_Istio_Bookinfo_Demo_Tests_bookinfo_inter-service_connectivit

[2021-12-10 09:41] pchaigno commented on #18218
Artifact:
[ec62dcff_K8sFQDNTest_Validate_that_FQDN_policy_continues_to_work_after_being_updated.zip](https://github.com/cilium/cilium/files/7691710/ec62dcff_K8sFQDNTest_Validate_that_FQDN_policy_continues_to_work_after_being_updated.zip)

[2021-12-10 09:56] pchaigno opened #18221 "CI: Cilium L4LB XDP: Collect sysdump as part of workflow"
The L4LB workflow uses [a Bash script](https://github.com/cilium/cilium/blob/701967f31b7121dc811b3de6ca0fbbb284009749/test/l4lb/test.sh) to run tests (step `Run tests` of the workflow). That Bash script also [collects the sysdump in case of error](https://github.com/cilium/cilium/blob/701967f31b7121dc811b3de6ca0fbbb284009749/test/l4lb/test.sh#L93). We should instead collect the sysdump as a separa

[2021-12-10 09:57] pchaigno commented on #18211
No sure why that failed. It should happen via https://github.com/cilium/cilium/blob/701967f31b7121dc811b3de6ca0fbbb284009749/test/l4lb/test.sh#L93
In any case, that's not the proper way to collect sysdumps in workflows. I've filled https://github.com/cilium/cilium/issues/18221 for this.

[2021-12-10 10:26] kvaster commented on #18199
`X.X.X.X` is host device ip -> ip you're connecting to from internet. Also this ip should belong to the node test service and pod are runnig. This is always the case when you have one node kubernetes cluster.

This entries are releated to the service:
[code]

`10.117.11.20` is really exeternal ip (test cluster using qemu)

There is no cilium v1.11.0 yet :) But current master branch have this issue

[2021-12-10 10:33] kvaster commented on #18199
Also about `ip n`. This IP is not neighbor ip. This ip belongs to the host (node).
[code]

[2021-12-10 10:48] borkmann commented on #18199
`quay.io/cilium/cilium:v1.11.0` should be up by now.

On which node is the backend with IP 10.244.0.115? Local or remote node? If the latter, what does `ip n` say for the remote node (or its gateway if its not in the same L2)?

Reason I'm asking is given you mentioned https://github.com/cilium/cilium/commit/0ef5d1e831ffc38ceec577d0ca020c15345faa6e as commit, so it presumably might be something nei

[2021-12-10 10:51] kvaster commented on #18199
All IPs are on the same node - they are all local. And about bisect - yes. I found this by bisecting. I will trace packets using pwru and will get back.

[2021-12-10 11:38] brb commented on #18081
Interesting - the NAT and CT tables have correct entries. Do you see the non-SNAT-ed reply packet leaving the Node B via a physical network interface?

[2021-12-10 12:11] borkmann commented on #18191
Also, having a look at the configs for both setups would be nice.

(Btw, we have a guide wrt performance here as well: https://docs.cilium.io/en/stable/operations/performance/)

[2021-12-10 13:07] brb commented on #18211
The sysdump might not have been collected as https://github.com/cilium/cilium/blob/v1.10.6/test/l4lb/test.sh doesn't have the trap (I thought that the GH job picks the test.sh file from the main branch). Anyway, marked [the PR](https://github.com/cilium/cilium/pull/17005/files#), which introduced the trap, for backporting to v1.10.

[2021-12-10 13:17] brb commented on #17729
Closing, as it should be fixed by https://github.com/cilium/cilium/pull/18113. Please reopen, if the issue persists.

[2021-12-10 13:17] #17729 closed

[2021-12-10 13:17] brb commented on #17859
Closing, as it should be fixed by https://github.com/cilium/cilium/pull/18113. Please reopen, if the issue persists.

[2021-12-10 14:16] carloscastrojumo opened #18227 "Iptables not updating correctly for HostPort when using CNI chaining Portmap"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

Using Cilium as a AWS VPC CNI replacement along with Portmap CNI chaining for HostPort pods:

[code]

[code]

**Situation:**

When restarting a pod with a HostPort, in this case listening on port 8126, we noticed that sometimes, the old iptables rule is not deleted, leading to service being una

[2021-12-10 15:30] tanguofu opened #18229 "level=warning msg="iptables v1.8.4 (legacy): unknown option \"--tproxy-mark\"" subsys=iptables"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

[code]
the cilium pod logs:
[code]

### Cilium Version

v1.11.0

### Kernel Version

Linux node1 5.4.119-19-0008 #1 SMP Mon Sep 13 14:54:39 CST 2021 x86_64 x86_64 x86_64 GNU/Linux

### Kubernetes Version

Client Version: version.Info{Major:"1", Minor:"21", GitVersion:"v1.21.5", GitCommit:"aea7b

[2021-12-10 15:33] m-yosefpor commented on #18081
@brb no there is no non-SNAT-ed packet. This is the last packet related ro this request:

[code]

no other `In` or `Out` packet

[2021-12-10 15:47] brb commented on #18081
Which tcpdump filter are you using?

[2021-12-10 15:52] janeczku opened #18230 "Egress gateway feature does not tolerate single node failure"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

**Steps to reproduce:**

1. Follow the [documented example](https://docs.cilium.io/en/v1.10/gettingstarted/egress-gateway) to enable the egress gateway feature, configuring the egress IP and the egress NAT policy
2. Deploy an example client application to use the egress ip (assigning the labels

[2021-12-10 17:49] aditighag commented on #18218
[code]

Confirmed by drops due to policy deny reasons for the application test pod -> vagrant-cache fqdn traffic  -

`{"flow":{"time":"2021-12-09T03:11:44.910700523Z","verdict":"DROPPED","drop_reason":133,"ethernet":{"source":"4e:e6:fd:7a:79:3d","destination":"3a:d4:3d:f0:57:18"},"IP":{"source":"10.0.0.24","destination":"147.75.38.95","ipVersion":"IPv4"},"l4":{"TCP":{"source_port":35576,"destinati

[2021-12-10 18:05] vincentmli commented on #17694
did an experiment with following diff

[code]

with vtep in `cilium-config` configmap

[code]
ended up in ipcache

[code]
note `10.1.5.0/32` should have been `10.1.5.0/24`, something not right in `Upsert()` dealing with `CIDR`

[2021-12-10 18:28] nbusseneau commented on #18107
Suspicion: I did a quick dive through the workflow runs history, and I think this was not happening before #17529. It might be that the instances where this happens are all because the nodepools are not ready yet or the AKS internal routing components (`tunnelfront` as noted above) are not properly restarting.

Next steps for anyone investigating this:
- Try to reproduce the issue by spinning up c

[2021-12-10 18:38] vincentmli commented on #17694
following diff correct the mistakes

[code]

the ipcache:

[code]

[2021-12-10 18:50] austince commented on #18179
Is there a workaround for this? Does setting the egress interface explicitly (e.g. `egressMasqueradeInterfaces: eth0` in Helm) help in any way?

[2021-12-10 19:38] joestringer opened #18237 "CI: Suite-k8s-1.20.K8sFQDNTest Validate that FQDN policy continues to work after being updated: Cannot install fqdn proxy policy (Race detection pipeline)"
The race detection pipeline in the master CI run below hit a data race in FQDN selectorcache handling:
https://jenkins.cilium.io/job/cilium-master-gke-race-detection/232/testReport/junit/Suite-k8s-1/20/K8sFQDNTest_Validate_that_FQDN_policy_continues_to_work_after_being_updated/
[326b434b_K8sFQDNTest_Validate_that_FQDN_policy_continues_to_work_after_being_updated.zip](https://github.com/cilium/cili

[2021-12-10 19:40] joestringer commented on #18237
Haven't confirmed (can't see the logs) but this may also be the cause for the following failure in `Suite-k8s-1.16.K8sUpdates Tests upgrade and downgrade from a Cilium stable image to master`, as this is also a race detection pipeline:

https://jenkins.cilium.io/job/cilium-master-k8s-1.16-kernel-4.9-race-detection/243/testReport/junit/Suite-k8s-1/16/K8sUpdates_Tests_upgrade_and_downgrade_from_a_Ci

[2021-12-10 19:41] joestringer commented on #18237
CC @christarazi due to label injector link.

[2021-12-10 19:50] joestringer commented on #18218
Looking at the initial report from #18055 with the sysdump that Paul posted, I can see in the pods.json that the Cilium image is `quay.io/cilium/cilium-ci:d332d071162f3f3ea7270c86978f1cda6cb11bd2`, which makes sense and links directly to the current version of the PR here: https://github.com/cilium/cilium/pull/18055/commits/d332d071162f3f3ea7270c86978f1cda6cb11bd2 . If we [view the git history fro

[2021-12-10 21:25] gpl commented on #13553
It looks like this issue is no longer present during my initial testing for 1.11.0.  I went back and checked later versions of 1.10 and it seems to be fixed there as well, so I think this issue can be closed.

[2021-12-10 22:49] joestringer commented on #18218
Closing based on the above rationale. If you hit this issue on a PR that is correctly rebased against master after this posting, then feel free to re-open this issue and we can take a closer look.

[2021-12-10 22:51] joestringer commented on #13553
Thanks for the confirmation @gpl . At a glance I can't think of any particular fixes that would have addressed this, but if you don't observe the problem any more then that is good news. :+1:  We fix a lot of various bugs and it's not always possible to track down how those bugs relate to all of the open issues in the repository.

If anything changes, feel free to respond again and we can reopen,

[2021-12-10 22:51] #13553 closed

[2021-12-10 23:44] jbowen93 commented on #17026
Bumping this because it's something I would also like. I'm not sure about XieGP's needs, but my needs relate to libp2p where I need the outbound and inbound IP address of a pod to match. I'm also currently using Calico to manage this.

The Protocol Labs team (creators of libp2p) have a tool called [Testground](https://github.com/testground/testground) that is used for large scale (up to 50k nodes)

[2021-12-11 05:32] vincentmli commented on #16890
new diff when saving VTEP MAC in macro in `/var/run/cilium/state/globals/node_config.h`

[root@cilium-dev home]# grep 'VTEP' /var/run/cilium/state/globals/node_config.h
[code]
diff

[code]

[2021-12-11 07:40] aditighag commented on #18073
The fix won't likely resolve the issue as the correct context was already being passed previously.

Looking at the logs again, it seems like the endpoint veth device was already removed even before Cilium agent received the `DELETE` endpoint event -

But agent received the DELETE event a bit later, at which point the endpoint alive context was cancelled -

It seems like agent was trying to restore

[2021-12-11 11:47] mhulscher opened #18239 "Cilium 1.11.0 does not start on EKS with pod subnet-filter"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

I am installing Cilium 1.11.0 on a brand new EKS cluster on nodes that did not previously have a CNI installed. The cilium-agents do not become ready. They create CiliumNode resources. However, the cilium-operator does not allocate ENIs/IPs to the nodes. As a result the nodes don't become ready

[2021-12-11 12:13] mhulscher commented on #18239
Interestingly enough I can upgrade Cilium on existing nodes from 0.10 to 0.11. However, new nodes don't become ready with 0.11.

[2021-12-11 12:21] mazzy89 opened #18240 "podCIDR are not advertised after enabling loadbalancer IP announcement"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

**TL;DR;**
When enabled `bgp.announce.loadbalancerIP: true` on the latest Helm chart (v1.11.0) after deployed Cilium w/ `bgp.announce.podCIDR: true`, the pod CIDR is not anymore advertised and only the loadbalancer `Service` IPs are.

 I have tested the new BGP features landed on the latest Cil

[2021-12-11 13:13] olemarkus opened #18241 "Cilium 1.11 fails the kubernetes e2e test "[sig-network] Services should create endpoints for unready pods""
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

Cilium 1.11 fails the kubernetes e2e test `[sig-network] Services should create endpoints for unready pods`
https://github.com/kubernetes/kops/pull/12919 is a PR that only changes the default cilium version to 1.11.

The test log can be found at https://storage.googleapis.com/kubernetes-jenkins

[2021-12-11 22:13] mazzy89 commented on #18240
in my cilium pods however I have the log saying

[code]

so I think routes are advertized correctly.

[2021-12-11 23:11] mazzy89 commented on #18240
Despite that however when I look my bird daemon (which resides in my router and receives the routes) I get only 1 import received and consequently 1 only added. So I do not get what happen to the pod CIDR route advertized by each of the cluster workers.

[code]

[2021-12-12 01:20] m-yosefpor commented on #18081
@brb
[code]

[2021-12-12 13:00] hermanbanken commented on #17839
We are also experiencing this issue, and are wondering where the change originates from. Is this caused by a change in the Kubernetes nodes, control plane or Cilium?

[2021-12-12 14:17] splushii commented on #17839
It's a change in the nodes, specific to GKE it seems. https://github.com/kubernetes/kubernetes/commit/297ad30610c8212a414846fb7b5d6e90c4875d7d is a suspect.

As Joe mentioned in the linked Cilium Slack thread, one possible solution is to scan the `lo` interface for IP:s and associating them with the `host` identity, in order to keep the behaviour in https://docs.cilium.io/en/v1.10/concepts/kuberne

[2021-12-13 04:09] mukeshkwm commented on #18191
We can see the graphs/details via azure portal

[2021-12-13 04:18] mukeshkwm commented on #18191
# cilium status
KVStore:                Ok   Disabled
Kubernetes:             Ok   1.19 (v1.19.13) [linux/amd64]
Kubernetes APIs:        ["cilium/v2::CiliumClusterwideNetworkPolicy", "cilium/v2::CiliumEndpoint", "cilium/v2::CiliumNetworkPolicy", "cilium/v2::CiliumNode", "core/v1::Namespace", "core/v1::Node", "core/v1::Pods", "core/v1::Service", "discovery/v1beta1::EndpointSlice", "networking.k8s.i

[2021-12-13 06:49] Charlottell commented on #18169
@pchaigno @vincentmli   Calico use BGP. I tried to deploy without VXLAN in cilium,The result is as follows
[code]

[code]

And Calico uses local network card ens3 and bgp，so I tried to use local network card and BGP to deploy cilium.
[code]

[code]

Calico also support Ebpf, I tried to deploy and test.

[code]

There may be some parameter settings that I don't know about, leading to a gap between

[2021-12-13 08:00] mukeshkwm commented on #18191
As per guide https://docs.cilium.io/en/stable/operations/performance/tuning/ , I was trying to Bypass iptables Connection Tracking

helm3 upgrade --install cilium --reuse-values  cilium-1.10.5.tgz --version 1.10.5 --namespace kube-system --debug --set installNoConntrackIptablesRules=true
But cilium ds pods fail to come up with below error
level=fatal msg="install-no-conntrack-iptables-rules requir

[2021-12-13 09:44] gandro commented on #18013
Reopening because I observed this on a branch with 7376df3 applied.

Same test taking way too long:
[code]

PR where observed: https://github.com/cilium/cilium/pull/18153
Jenkins: https://jenkins.cilium.io/job/Cilium-PR-Runtime-net-next/829/testReport/junit/(root)/Suite-runtime/RuntimePrivilegedUnitTests_Run_Tests/
ZIP: [ed38160e_RuntimePrivilegedUnitTests_Run_Tests.zip](https://github.com/cilium/

[2021-12-13 10:41] #18197 closed

[2021-12-13 10:50] alex-berger commented on #17691
We also  observe this error message from time-to-time, but without much negative impact (in the end the Pods are running).

<img width="845" alt="image" src="https://user-images.githubusercontent.com/1087375/145799108-c08198e4-7426-473d-bf6f-d8803a665e0e.png">

[2021-12-13 11:39] aanm opened #18248 "Wrong description on certain helm values"
Some helm values have the wrong description because a flag does not have a description and it's using the description of a previous flag that is commented out.

One example is the `monitor` which has the descrption: "Specify the IPv4 CIDR for native routing (ie to avoid IP masquerade for). This value corresponds to the configured cluster-cidr. ipv4NativeRoutingCIDR:" on [the official docs](https:/

[2021-12-13 12:53] gandro commented on #18197
@ese: Please note that you can add or override the limits for new machines also manually using the `aws-instance-limit-mapping` configmap option on the operator:

https://docs.cilium.io/en/v1.10/cmdref/cilium-operator-aws/

[code]

[2021-12-13 13:33] pchaigno commented on #18248
Duplicate of https://github.com/cilium/cilium/issues/14369.

[2021-12-13 13:36] ese commented on #18197
Nice, Thanks @gandro

[2021-12-13 14:51] ldelossa opened #18250 "[BGP] PodCidr routes withdrawn when svc loadbalancing feature enabled"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

As reported by community members and confirmed by your's truly, the PodCidr announcement are withdrawn when service load balancer announcements are enabled in tandem.

This is most likely a symptom of our MetalLB integration. Will begin investigating.

### Cilium Version

Cilium 1.11

### Kerne

[2021-12-13 15:16] #18204 closed

[2021-12-13 20:50] nniehoff commented on #18250
I wonder if this is the same problem described on the metallb page about Calico https://metallb.universe.tf/configuration/calico/ does Cilium create 2 sessions with the routers reporting the podcidrs once and the loadbalancer IPs a second time?

[2021-12-13 21:28] pchaigno commented on #18239
I guess you meant Cilium 1.11.0? We've had stable releases for years now :sweat_smile:

In the cilium-operator logs, I'm seeing a lot of warnings for different nodes:
[code]
It's probably because the operator can't find the nodes that it is not allocating ENIs and IP addresses.

Could you please share the `ciliumnodes-xxx.yaml` and `k8s-nodes-xxx.yaml` files from the sysdump?

[2021-12-13 21:31] pchaigno commented on #18229
This is probably happening because your kernel is missing support for some TPROXY feature. Where is the kernel from? Do you have the following options enabled in your kernel config? Could you share your kernel config?
[code]

[2021-12-13 21:38] rpardini commented on #11672
I was just hit in a very similar way when applying
[code]
to a Pod with a websocket app running on port 5000.
HTTP requests flow and visible normally, but the websocket connection simply fails.
App deployed is https://github.com/rpardini/fluidsignalr -- a simple SignalR app, nothing special about the deployment and service.
I've had to configure the Ingress (nginx) for websocket to work either way

[2021-12-13 21:44] christarazi commented on #17691
[code]

The fact that we see these msgs repeated is an indication that the `nodeStore` does not have the most up-to-date resource. The fix would to understand why that's the case. Otherwise the actual IPAM logic should just work.

[2021-12-13 22:06] pchaigno commented on #18227
Wouldn't it be the responsibility of the Portmap CNI to iptables rule? If that's the case, then it's probably best to open this issue on their repository.

[2021-12-13 22:12] pchaigno commented on #17204
Duplicate of https://github.com/cilium/cilium/issues/17307.

[2021-12-13 22:12] #17204 closed

[2021-12-13 22:14] pchaigno commented on #18158
That's GitHub's very intuitive error message to tell you your sysdump file is too big. The limit is 25Mo IIRC. Decompressing and recompressing using 7z is usually enough to go below the limit.

[2021-12-13 22:15] pchaigno commented on #18183
Could you share the full details from those drop events? You might need to click on them in the UI or to use `hubble observe -o jsonpb`.

[2021-12-14 02:57] vincentmli commented on #18169
@Charlottell noticed you are running cilium with debug on, don't think that would make much difference for datapath. no experience with calico myself. again, sometime when I running out of idea for performance issue, I use linux perf tool I mentioned earlier to get `perf top` to list kernel functions cycles, not sure if linux perf would be able to profile BPF, I recall cilium itself has a performa

[2021-12-14 10:25] GabMgt opened #18256 "Network randomly dropping between 2 nodes after few days with IPsec"
### Is there an existing issue for this?

- [x] I have searched the existing issues

### What happened?

Hello everyone,
Since months I have a weird issue with cilium:
The network is working fine but after few days two nodes on the cluster can't communicate anymore. After rebooting one of them, they can communicate again but after few days the problem re-appears.

### Cilium Version

I have this p

[2021-12-14 10:48] pchaigno commented on #18256
Those clusters have different size (11 nodes for this one but I have another one with +130 nodes and the same problem appears)

And it always happen between only two nodes? What's specific about those nodes?

Are you able to trace these dropped packets? Where along the path are they dropped? Are they dropped by Cilium?

[2021-12-14 12:02] GabMgt commented on #18256
Yes and it's always only the 2 same nodes on every clusters. I don't know, they are identical and configured with ansible, so a missconfiguration seems unlikely.

Well, for now I don't know how to get this information. For now I assume that the network and firewall are ok on every node (because everything was working yesterday and this morning it was broken without reconfiguration).

[2021-12-14 12:26] pchaigno commented on #18256
If they are nodes on different clusters, what do you mean by "the 2 same nodes"? How do you identify them as being the same?

You can check https://docs.cilium.io/en/stable/operations/troubleshooting/#observing-flows-with-hubble.

[2021-12-14 12:34] rlex opened #18257 "Enabling DSR + WireGuard breaks connectivity to cluster-cidr"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

Enabling DSR breaks service-cidr connectivity

k3s 1.22, cilium 1.11.0, network running on top of wireguard. Everything works great, but when i enable DSR i lose connectivity to service-cidr.

Config (DSR parts commented out)
[code]

k3s default service-cidr is 10.43.0.0/16, k8s apiserver is lo

[2021-12-14 12:42] GabMgt commented on #18256
Sorry, I understand how it was confusing.
I have multiple clusters with k8s + cilium + cri-o

And sometime in a cluster two nodes (in the same k8s cluster) cannot communicate on the private network anymore.
It is always the 2 same nodes (I know it because I know the hostname of the "faulty" nodes).

Example: in the staging cluster, it is always between `node-7` and `node-8`, and in the "internal s

[2021-12-14 12:49] ldelossa commented on #18240
Dupe: https://github.com/cilium/cilium/issues/18250

Thanks for details, known issue. Closing this to track in #18250

[2021-12-14 12:50] #18240 closed

[2021-12-14 12:51] mazzy89 commented on #18240
thanks @ldelossa and sorry for the dup

[2021-12-14 13:25] brb commented on #18081
@m-yosefpor Thanks. Which kernel do you run?

[2021-12-14 13:28] ldelossa commented on #18240
no worries at all @mazzy89 - the debug info is appreciated regardless.

[2021-12-14 13:48] #17759 closed

[2021-12-14 14:10] maintainer-s-little-helper[bot] opened #18258 "CI: K8sHealthTest cilium-health Checks status between nodes: Kubernetes DNS did not become ready in time"
### Test Name
[code]

### Failure Output
[code]

### Stacktrace
<details><summary>Click to show.</summary>

[code]
</details>

### Standard Output
<details><summary>Click to show.</summary>

[code]
</details>

### Standard Error
<details><summary>Click to show.</summary>

[code]
</details>

ZIP Links:
<details><summary>Click to show.</summary>

 https://jenkins.cilium.io/job/Cilium-PR-K8s-GKE//718

[2021-12-14 14:16] gandro commented on #18258
Looks similar to https://github.com/cilium/cilium/issues/17628 with regards to the symptoms

There is the following very prominent message:
[code]
But kubedns is deployed:
[code]

But one of the pods doesn't seem to be able to become ready:
[code]

[2021-12-14 14:36] pchaigno commented on #18258
This is on GKE with `connection refused`, so very likely https://github.com/cilium/cilium/issues/17307 again.

[2021-12-14 14:36] #18258 closed

[2021-12-14 14:52] pchaigno commented on #18257
Do you mean it doesn't work once you uncomment ALL the commented lines? `endpointRoutes.enabled` and `installNoConntrackIptablesRules` shouldn't be required for DSR to work. Does it work if you run in native routing mode without DSR?

Are you able to trace the connections to 10.43.0.1:443 to see where the packets are dropped? Are they dropped by Cilium?

[2021-12-14 15:38] GabMgt commented on #18256
I also tried to monitor dropped packets with:

[code]

On `NODE-A` and `NODE-B` but found nothing

[2021-12-14 16:56] rlex commented on #18257
installNoConntrackIptablesRules is indeed leftover and doesn't get uncommented when i enable DSR. Only following gets enabled:

[code]

You mean tunnel: disabled + autoDirectNodeRoutes: true? No, i hasn't tried that

Any preferred tool for that to do inside pod? Or just trace it from host? If i recall correctly, i hasn't saw any routes with ip's inside service-cidr on nodes with endpointRoutes.ena

[2021-12-14 17:17] pchaigno commented on #18257
Yes, plus `ipv4NativeRoutingCIDR` probably. Ok, so we're not sure yet that it's DSR breaking things here.

See https://docs.cilium.io/en/stable/operations/troubleshooting/#observing-flows-with-hubble.

[2021-12-14 17:29] jtaleric commented on #18169
Can you run the test 3 separate times with each CNI, relaunching the pods to show the variance between executions?

Can you describe the environment you are running on, ie dual socket, 10Gbps NIC, any tuning applied?

[2021-12-14 17:50] rlex commented on #18257
Found following in log, might be related?
[code]

[2021-12-14 18:22] rlex commented on #18257
Okay, checked with native-routing, autoDirectNodeRoutes and ipv4NativeRoutingCIDR.
There is more: it also breaks out-of-cluster connectivity to external services.
As well as DNS (well, it's located within service-cidr, so it's expected.

[code]

restic to k8s api:
[code]

Checked with another app which calls for external service before turning green:
[code]

Routing table:
[code]

commenting out t

[2021-12-14 19:31] rlex commented on #18257
Some additional info: host-firewall is used with some rules (btw, very neat feature and very easy to configure to "lockdown" nodes and not expose too much ports, ways easier than other CNIs, thanks for that!):

[code]

Cilium is pointing to
[code]

Because i have haproxy running on every k3s node for load-balancing / ha to masters. On masters themselves, haproxy is only used for cilium.

There is

[2021-12-14 19:35] mhulscher commented on #18239
Yes, this relates to 1.11.0 :') I will reproduce the issue again tomorrow and attach the ciliumnodes and k8s-nodes

[2021-12-15 10:39] mhulscher commented on #18239
I've attached the files.
[cilium-sysdump-20211215-113339.zip](https://github.com/cilium/cilium/files/7718565/cilium-sysdump-20211215-113339.zip)

[2021-12-15 12:34] azharprabudi commented on #18239
i face the same problem when configure filter subnets by id or tags

[2021-12-15 14:21] nbusseneau commented on #18138
Is this a duplicate of #16664?

[2021-12-15 14:28] pchaigno commented on #18138
Not sure. One is on VXLAN, the other on native routing. That can have a big impact in the case of host policy enforcement.

[2021-12-15 14:45] #18195 closed

[2021-12-15 16:26] gandro commented on #18115
Oh, I didn't see this issue until the community meeting today. I did some experimenting as well, and I don't think we ever supported `--reuse-values`, depending on the values used, `--reuse-values` also breaks in v1.9 to v1.10 upgrades.

The main problem is that `--reuse-values` does _not_ include any default values of the new release. This then causes various Helm expressions to fail (the ones in

[2021-12-15 16:55] aditighag commented on #18073
Debugged this further -

The time gap between when the DELETE handler for the endpoint is invoked, and when the clean-up actually happens (e.g., cancellation of the endpoint alive context) can be attributed to this code - https://github.com/cilium/cilium/blob/master/pkg/endpoint/events.go#L377-L377. The code path waits for the endpoint's event queue is completely drained, and all the in-flight tas

[2021-12-16 01:27] christarazi opened #18273 "CI: client-egress-l7/pod-to-world/http-to-one-one-one-one-0: curl: (22) The requested URL returned error: 403"
## CI failure

[code]

Artifact: https://github.com/cilium/cilium/suites/4673050572/artifacts/127177677
Link: https://github.com/cilium/cilium/actions/runs/1585324809

[2021-12-16 02:45] vincentmli commented on #17694
/assign me

[2021-12-16 07:41] Charlottell commented on #18169
@vincentmli The perf tool has been installed successfully for a long time
This is the perf top result when I deployed Cilium
![cilium](https://user-images.githubusercontent.com/22472743/146328402-85efd5e5-0182-4fbe-a0cc-5112837b849b.JPG)
This is the perf top result when I deployed Calico
![calico](https://user-images.githubusercontent.com/22472743/146328492-2578e5bf-c940-49bc-91ea-dd56499585c4.JPG

[2021-12-16 10:10] #16488 closed

[2021-12-16 13:39] kaworu opened #18278 "Use one Cilium CA instead of two different CAs for Hubble and ClusterMesh"
## Problem

Until now, when using the "auto" method for certificate generation, both the helm and certgen methods would generate different CAs for Hubble and ClusterMesh (stored in the `hubble-ca-secret` and `clustermesh-apiserver-ca-cert` secrets, respectively), see [here](https://github.com/cilium/cilium/blob/386029bb42155b37b425edd20f2e02f5ba0be749/install/kubernetes/cilium/templates/hubble/tls

[2021-12-16 13:57] tklauser commented on #18211
Hit this on #18276 as well and got [a sysdump](https://github.com/cilium/cilium/files/7727812/cilium-sysdump-out.zip.zip). Looking at `cilium-qws8z-cilium-agent-20211216-113903.log` I see:

[code]

That error seems to be coming from here:

https://github.com/cilium/cilium/blob/9b94d7ce2664b2259c164ae0cf2f5e6df6b17f9e/daemon/cmd/kube_proxy_replacement.go#L646-L650

However, in the log we also see `

[2021-12-16 14:12] pchaigno commented on #18211
Right, but we also have `--bpf-lb-acceleration='native'`. That's enough to enable acceleration: https://github.com/cilium/cilium/blob/386029bb42155b37b425edd20f2e02f5ba0be749/pkg/option/config.go#L2916
That config is coming from https://github.com/cilium/cilium/blob/386029bb42155b37b425edd20f2e02f5ba0be749/test/l4lb/test.sh#L59

What I don't understand is why this isn't consistently failing :think

[2021-12-16 14:23] brb commented on #18211
That's weird. https://github.com/cilium/cilium/commit/0ffa7c60e1eb1991a263ddad5ac14a9c3c1ec3a9 (enables multiple `--devices` for XDP) is in v1.10, so why it's using Cilium image which doesn't have it :thinking:

[2021-12-16 14:32] pchaigno commented on #18211
@brb But why does the error message still exists in v1.10? https://github.com/cilium/cilium/blob/v1.10/daemon/cmd/kube_proxy_replacement.go#L646-L650

[2021-12-16 14:46] pchaigno opened #18281 "Fix the `verbose` flag of `tc` to dump the verifier logs"
The `verbose` flag of the `tc filter` command is documented as:

       if set, it will dump the eBPF verifier output, even if loading the eBPF program was successful. By default, only on error, the verifier log is being emitted to the user.

This behavior is however not respected anymore when compiling `tc` with libbpf support as in Cilium's case. In that case, only miscellaneous information from

[2021-12-16 14:59] tklauser commented on #16847
Seen on v1.10 backport #18276 on k8s 1.19: https://jenkins.cilium.io/job/Cilium-PR-K8s-1.19-kernel-4.9/1943/

[2021-12-16 15:12] tklauser opened #18282 "CodeQL workflow reports various log entries created from user input"
See https://github.com/cilium/cilium/pull/18276/checks?check_run_id=4546588960

This appeared on #18276 (`v1.10` backport PR), but the code in question seems to be present on `master` as well and wasn't changed by that PR.

It also seems the scheduled codeql workflow didn't run at all in the last ~6months due to a configuration issue: https://github.com/cilium/cilium/actions/workflows/lint-codeql.

[2021-12-16 15:34] pchaigno commented on #18281
Sent at https://lore.kernel.org/netdev/20211216153336.GA30454@Mem/T/#u.

[2021-12-16 18:47] tklauser opened #18285 "v1.10: CI: K8sChaosTest Connectivity demo application Endpoint can still connect while Cilium is not running"
### Test Name

[code]

### Failure Output

[code]

### Stack Trace

[code]

### Standard Output

[code]

### Standard Error

[code]

### Resources

- Jenkins URL: https://jenkins.cilium.io/job/Cilium-PR-K8s-GKE/7197/
- ZIP file(s): [2a9fc42e_K8sChaosTest_Connectivity_demo_application_Endpoint_can_still_connect_while_Cilium_is_not_running.zip](https://github.com/cilium/cilium/files/7729725/2a9fc42e

[2021-12-16 18:49] tklauser commented on #17628
Hit in #18276: https://jenkins.cilium.io/job/Cilium-PR-K8s-GKE/7197/

[2021-12-16 18:54] judexzhu opened #18286 "DNS proxy use fixed port"
## Proposal / RFE

I found if I set `l7Proxy: true`, cilium-agent will open a random tcp and udp port for DNS proxy from 32769~65535(I guess...)

if this can be a fixed port, it will be much easier to set up the host firewall rules or ACL.

I think the port is defined here
https://github.com/cilium/cilium/blob/aa329c87529cb316e4d92f9e5806a344897c6534/pkg/datapath/iptables/iptables.go#L924

Sorry f

[2021-12-16 18:56] tklauser opened #18287 "CI: Suite-k8s-1.20.K8sKafkaPolicyTest Kafka Policy Tests KafkaPolicies"
### Test Name

[code]

### Failure Output

[code]

### Stack Trace

[code]

### Standard Output

[code]

### Standard Error

[code]

### Resources

- Jenkins URL: https://jenkins.cilium.io/job/Cilium-PR-K8s-GKE/7197/
- ZIP file(s): [850d839d_K8sKafkaPolicyTest_Kafka_Policy_Tests_KafkaPolicies.zip](https://github.com/cilium/cilium/files/7729768/850d839d_K8sKafkaPolicyTest_Kafka_Policy_Tests_KafkaPo

[2021-12-16 19:53] vincentmli commented on #18169
@Charlottell thanks for the perf top, it looks Cilium slightly higher than Calico for same kernel functions, maybe it is the number of samples being different (251k vs 147k)? sorry i can't make much sense out of it :). it looks both cilium and calico using iptables since the ` ipt_do_table` showed up

[2021-12-16 19:56] pchaigno commented on #18286
Joining the `ss` image from the Slack thread as well:
![image](https://user-images.githubusercontent.com/1764210/146440283-39accfc6-2199-4e94-ad1d-99cbc8156c33.png)

@jrajahalme @nebril Is there a reason why we're not listening only on 127.0.0.1 here for the DNS proxy? Also, could we only listen on those ports if there are actually DNS policies?

[2021-12-16 20:10] tklauser commented on #18285
The same failure also seems to have occurred on 16 Dec 2021 for latest `v1.10`: https://jenkins.cilium.io/view/Cilium-v1.10/job/cilium-v1.10-gke/235/testReport/junit/Suite-k8s-1/20/K8sChaosTest_Connectivity_demo_application_Endpoint_can_still_connect_while_Cilium_is_not_running/

[2021-12-16 20:38] wapson opened #18293 "Failling pod-to-external-fqdn-allow-google-cnp connectivity test error: curl: (28) Resolving timed out after 5000 milliseconds"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

Hey, On freshly created GKE cluster with installed Cilium via helm `pod-to-external-fqdn-allow-google-cnp` (pod is the part of the [Connectivity Test](https://raw.githubusercontent.com/cilium/cilium/v1.11/examples/kubernetes/connectivity-check/connectivity-check.yaml) ) readiness probe is faili

[2021-12-16 20:58] pchaigno commented on #18239
@mhulscher @azharprabudi Could you share the exact reproduction steps if you have them?

[2021-12-16 21:56] joestringer commented on #18191
Can you explain a little bit more about the tooling you are using to gather this information and what you think it means for the values to be higher or lower?

[2021-12-16 21:58] joestringer commented on #17926
Thanks all for the help with testing out the guides. I see that there has been some additional discussion later in the thread. If you have concerns about any remaining issues highlighted by this guide testing, please file an issue or continue the discussion on existing issues. I'll close this out since we've completed the manual testing for the v1.11 release and we tagged v1.11.0 last week.

[2021-12-16 21:58] #17926 closed

[2021-12-16 22:14] #14067 closed

[2021-12-16 22:23] joestringer commented on #12804
Unpinning and closing, I'm gonna assume that this is no longer a problem for datapath developers, otherwise someone would have done something about it by now.

[2021-12-16 22:23] #12804 closed

[2021-12-16 22:34] joestringer commented on #8454
We've deprecated policy trace in v1.11, so no point in tracking this item any longer.

[2021-12-16 22:34] #8454 closed

[2021-12-16 22:39] joestringer commented on #8491
The table we wrote up in the main description of this issue above is no longer up-to-date, given that we've deprecated ipvlan; there's now the [connectivity check YAMLs](https://github.com/cilium/cilium/tree/master/examples/kubernetes/connectivity-check) and the [Cilium CLI](https://github.com/cilium/cilium-cli) regularly tests various combinations, including against cloud providers and against co

[2021-12-16 22:40] #8491 closed

[2021-12-16 22:41] joestringer commented on #7229
@vadorovsky are you still interested in pursuing this? Otherwise we can unassign you. Anyone is welcome to volunteer to take up this issue, if we wish to improve this area further or understand the performance profile of policy calculation.

[2021-12-16 22:48] joestringer commented on #1874
I see this as a "nice-to-have", however it is also an optimization that assumes that ToServices rules are frequently used and that coalescing the CIDRs together internally will have a meaningful impact. So it's dependent on the way that users deploy policies. If someone wants to pick this up as a way to gain familiarity with some of the early policy handling logic (before the policy distillery), t

[2021-12-16 22:52] joestringer commented on #10349
@matoszz I'm not aware of anyone actively working on this right now, but the use cases make sense to me.

[2021-12-17 01:11] m-yosefpor commented on #18081
@brb $ uname -a
Linux okd4-worker-worker-1 5.14.14-200.fc34.x86_64 #1 SMP Wed Oct 20 16:15:12 UTC 2021 x86_64 x86_64 x86_64 GNU/Linux

[2021-12-17 04:57] karanrn opened #18294 "Cilium nodes failing health check with endpoints"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

We have deployed EKS cluster in us-west-2 region and installed Cilium (v1.11) as CNI via helm to not use ENI mode (instead use overlay network)
[code]

And when we check cilium status or cilium health status, it shows nodes are not reachable via endpoints.
We followed/observed below steps -
1.

[2021-12-17 08:32] tklauser commented on #16971
Seen on #18276: https://jenkins.cilium.io/job/Cilium-PR-K8s-1.16-net-next/2173/

[2021-12-17 08:33] clementnuss commented on #18294
Hi @karanrn

we've observed an issue (which might be linked to yours) on our cluster where with Cilium v1.11.0 the agent doesn't update the health check IP when a node/cilium agent changes.
as a consequence, cilium-health tries to reach the old pod/node/agent ip address, which it cannot, so it thinks the node isn't reachable via endpoint.

can you try to run `cilium-health status` on one of the no

[2021-12-17 08:43] vadorovsky commented on #7229
@joestringer I unassigned myself, sorry!

[2021-12-17 08:44] vadorovsky commented on #10496
Unfortunately I won't be able to find time to work on that. Since there was no much interest in the feature, I'm closing.

[2021-12-17 08:44] #10496 closed

[2021-12-17 09:09] vadorovsky commented on #6908
Nobody else shared an interest, so I'm closing

[2021-12-17 09:09] #6908 closed

[2021-12-17 12:19] karanrn commented on #18294
Hi @clementnuss

Nodes in our cluster are reachable via IP but are not reachable via endpoints.
And I checked the IP of the health endpoint of Node B, it is the same as the not reachable endpoint IP from Node A (it is updated).

[2021-12-17 13:33] henriknj opened #18298 "ArgoCD Out-of-sync issues for hubble-generate-certs"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

Deploying Cilium using the helm chart will generate a hubble-generate-certs cronjob and an also a job used for creating the initial certs. However, the job has **ttlSecondsAfterFinished** defined, so the job resource and associated pods will be purged after 30mins. The cilium chart will eventua

[2021-12-17 14:20] pchaigno commented on #11014
Taking a new look at this given the increased usage of OpenShift where our incorrect kernel probes are more likely to break (due to RedHat's backports). I've sent a first patchset for the bounded loops: https://lore.kernel.org/bpf/7dfdf3f93467c619c14c40e957c54b87bb734294.1639748569.git.paul@isovalent.com/T/. BPF ISA extensions will probably be next.

[2021-12-17 14:42] SerialVelocity commented on #17177
It seems upgrading to 1.11 is broken for me because of #16603. Pods on different hosts that talk through the external IP address (e.g. using the DNS name for TLS validation) can no longer communicate.

[2021-12-17 14:48] tklauser commented on #18285
The same failure occurred again on today's run of the GKE v1.10 pipeline: https://jenkins.cilium.io/view/Cilium-v1.10/job/cilium-v1.10-gke/236/

Looks like something got broken with one of the merges before that.

[2021-12-17 19:25] joestringer opened #18300 "CI: Travis / unit-tests: speaker_test.go:223: expected fence to be empty. got: map[:1]"
Travis failure on master (not reliably failing):

https://app.travis-ci.com/github/cilium/cilium/jobs/552491812

[code]

[2021-12-17 19:26] joestringer commented on #18300
CC @ldelossa any thoughts on why this may occur occasionally?

[2021-12-18 00:08] christarazi opened #18301 "Consider refactoring IPCache to be a priority queue based on source"
## Background

Today the IPCache is a pretty fundamental data structure for Cilium. The IPCache attempts to stitch together all of the identity information from different sources, i.e. which labels should be associated with an IP, however the callers must resolve conflicts between these different sources of information. This complicates the calling logic, because every calling case must consider a

[2021-12-18 00:09] joestringer commented on #18301
This may allow us to simplify some of the caller code from how it handles `ErrOverwrite` errors too, because the ipcache would resolve the conflicts.

[2021-12-18 14:13] IMMORTALxJO opened #18302 "Unstable cilium-health status after update to 1.11.0"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

I have upgraded test cluster to 1.11.0 ( from 1.10.6 ) and got unreachable endpoints in `cilium-health status` on some nodes. Looks like health IP addresses are not synchronized between cluster nodes.
Example cilium-health output for one of unstable nodes - **ya-test-k8s-worker-02**:
[code]
2 o

[2021-12-18 18:23] vincentmli commented on #11767
@wenhuwang

your sysdump has empty bpf ipcache list, weird, maybe you can run `cilium bpf ipcache list` manually while running into the issue to show if any bpf ipcache map record for IP resolved for `www.baidu.com`

[2021-12-18 18:39] vincentmli commented on #11767
@wenhuwang

I noticed you have two policies applied to same `nginx` pod, one is `toCIDR`, another is to `toFQDNS`

[code]

I could be wrong, but if you have `toCIDR` that allows `nginx` pod connect to these subnet, does it mean `nginx` pod will not be allowed to connect to other IP/subnet (including baidu.com) that are not included in `toCIDR` ?  could you remove `toCIDR` policy for a quick test t

[2021-12-19 04:30] wenhuwang commented on #11767
@vincentmli hello, i tried to run the `cilium bpf ipcache list` command, but it returns  an errors.
[code]
Is there a problem with the some configurations?
thanks for you help.

[2021-12-19 04:39] wenhuwang commented on #11767
It needs `toCIDR` policy that allow the pod to access DNS and some private subnet. if i remove the `toCIDR` ,the pod will can't to  resolve `www.baidu.com`. i tried.
I also tried to use ccnp to configure `toCIDR`,  and the result was same.

[2021-12-19 15:28] vincentmli commented on #11767
I think it might related to your old kernel version `4.15.0` , are on on ubuntu 16.x ?
see https://github.com/cilium/cilium/issues/10080, maybe try a newer Ubuntu like ubuntu 20.x ?

[2021-12-20 01:07] wenhuwang commented on #11767
Thank you  providing a way to troubleshoot the problem, i will try to test it in a higher version of the kernel environment.

[2021-12-20 07:23] mukeshkwm commented on #18191
The netflows are very important for the istio ingress gateway pods requirement. The higher the value, it would need calculation on cpu/resources and other pod/request specific requirements.

Few ques -
1. Is it normal for cilium to show higher net flows?
2. Is that expected
3. Do I need to fine tune few parameters for net flows?

We are using the Azure portal metrics to calculate or see the net fl

[2021-12-20 09:24] gandro commented on #18278
New certgen release is out https://github.com/cilium/certgen/releases/tag/v0.1.7

[2021-12-20 09:40] brb commented on #18294
@clementnuss this seems to be yet another instance of your issue - https://github.com/cilium/cilium/issues/18302

[2021-12-20 09:45] shaardie opened #18303 "PodDisruptionBudgets not created"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

Configuring the podDisruptionBudget in the Helm Chart should create `PodDisruptionBudget` resources, but I looks like the PodDisruptionBudget templates are not present.

[code]

### Cilium Version

v1.11.0

### Kernel Version

Its about the helm charts, so this is not important.

### Kubernetes

[2021-12-20 09:59] brb commented on #18081
@m-yosefpor Could you run [pwru](https://github.com/cilium/pwru) on the service endpoint node: `pwru --filter-dst-ip=172.21.41.12 --output-tuple` and provide the output?

[2021-12-20 10:18] gandro commented on #18298
Thanks for the report. I'm not sure I understand the bug report. The `hubble-generate-certs` simply creates a few certificates as Kubernetes secrets. These secrets will remain in the cluster even after the job has been purged.
In addition, there is also a CronJob with the same name which will re-generate the certificates regularly to ensure the secrets are not out of sync.

Could you clarify a bit

[2021-12-20 10:24] brb commented on #17177
cc @pchaigno

[2021-12-20 13:28] bazuchan commented on #18042
I did a lot of testing and it looks like bpf host routing is braking remote-node identity classification. After setting enable-host-legacy-routing to true (setting bpf.masquerade=false triggers it too) classification works fine now.

[2021-12-20 15:29] lbernail opened #18311 "Pod traffic not taking advantage of interfaces with multiple tx queues on AWS"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

We run Cilium on AWS in `ipam=eni` mode and we isolate pod interfaces from the main node one (using `"first-interface-index": 1`). At high throughput, we noticed a significant amount of TCP retransmits that we tracked back to qdic drops (by looking at the output of `tc -s qdisc show dev ens6`).

[2021-12-20 15:40] gandro commented on #16552
Please note: When using `helm template, it is **highly** recommended you set `--kube-version` and `--api-versions` with the values matching your target Kubernetes cluster. Helm charts such as ours often conditionally enable certain Kubernetes features based on their availability (beta vs stable) on the target cluster.

By specifying `--api-versions=monitoring.coreos.com/v1` you should be able to p

[2021-12-20 17:31] kvaster commented on #18199
If pod is same, but service is located different node:

[code]

[2021-12-20 17:56] GabMgt commented on #18256
I swear, I really tried to debug this issue but I don't find any clue. Do you know what I do more please ?

[2021-12-20 19:56] kvaster commented on #18199
I found the place where packet is dropped:

[code]

And changing it to this solves problem:

[code]

But I'm not sure if it's a good idea :)

[2021-12-21 04:19] YutaroHayakawa opened #18315 "Cannot build unstripped container images"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

I'm now learning Cilium and trying to attach `delve` to `cilium-agent` process. So, I'm building the Cilium unstripped images.

There are two potentially related issues.

1. In the latest `master`, `make docker-images-all-unstripped` fails with following error.

[code]

2. Above seems like only

[2021-12-21 06:38] oblazek commented on #18221
mind if I take this? :)

[2021-12-21 07:25] kvaster commented on #18199
Probably it's worth just to call `fib_lookup` without `BPF_FIB_LOOKUP_DIRECT`.

@borkmann, any ideas ?

[2021-12-21 08:44] brb commented on #18221
@oblazek Go for it!

[2021-12-21 09:46] ghouscht commented on #18302
We're affected by the same issue. Tracked this a bit down and the last "good" version seems to be 1.11-rc1. I see the behavior described in this issue in all versions from 1.11-rc2 on. Will dig a bit deeper and see if I can find something more...

[2021-12-21 11:18] #18211 closed

[2021-12-21 12:12] maintainer-s-little-helper[bot] opened #18318 "CI: K8sServicesTest Checks graceful termination of service endpoints Checks client terminates gracefully on service endpoint deletion"
### Test Name
[code]

### Failure Output
[code]

### Stacktrace
<details><summary>Click to show.</summary>

[code]
</details>

### Standard Output
<details><summary>Click to show.</summary>

[code]
</details>

### Standard Error
<details><summary>Click to show.</summary>

[code]
</details>

ZIP Links:
<details><summary>Click to show.</summary>

[0a10778f_K8sServicesTest_Checks_graceful_termination

[2021-12-21 12:13] gandro commented on #18318
Also observed in https://github.com/cilium/cilium/pull/18232

[2021-12-21 14:39] hemanthmalla opened #18320 "Test failure in pkg/policy due to data race"
Observed this locally while running unit tests with race detector

[code]

[2021-12-21 15:18] rolinh commented on #16188
Right. I'll try to summarize how Hubble gets data from Cilium. You can check Hubble 3/4 parser [here](https://github.com/cilium/cilium/blob/50c72bd5ffec90047e7012ecda8f21ec23efb629/pkg/hubble/parser/threefour/parser.go#L106) for an example of how Hubble reads [the C representation](https://github.com/cilium/cilium/blob/50c72bd5ffec90047e7012ecda8f21ec23efb629/bpf/lib/drop.h#L24) of the structure i

[2021-12-21 15:46] henriknj commented on #18298
@gandro They indeed stay and it is not the certificates that are the issue here, but the fact that the job resource that creates them is removed after 30mins - causing ArgoCD to become out of sync since it tries to ensure that the cluster and the output of e.g. this helm is in sync.

So as I might have alluded to this is not really a bug in the helm chart but rather a git-ops interoperability issu

[2021-12-21 16:21] gandro commented on #18298
Thanks for the clarification. I'm not very familiar with ArgoCD. I am honestly a bit surprised by that behavior. A job is an ephemerial object after all. As the Kubernetes docs say, [keeping it around will in the system will put pressure on the API server](https://kubernetes.io/docs/concepts/workloads/controllers/job/#clean-up-finished-jobs-automatically), and especially pods created via `CronJob`

[2021-12-21 16:28] gandro commented on #18298
An alternative git-ops friendly solution might be to use `cert-manager` to generate the certificates in question: https://docs.cilium.io/en/v1.11/concepts/observability/hubble-configuration/#auto-generated-certificates-via-cert-manager (support in our charts was added in v1.11)

[2021-12-21 17:55] gandro commented on #18303
Thanks! I can confirm that these values were added by mistake and were never functional. PR https://github.com/cilium/cilium/pull/18317 fixes this and adds opt-in PodDisruptionBudgets for all deployments.

[2021-12-22 08:36] sayboras commented on #13183
I am closing this issue as per above comment. Feel free to re-open if you think otherwise.

[2021-12-22 08:36] #13183 closed

[2021-12-22 11:35] jibi opened #18323 "Some nodes become not ready after cilium pods get rolled when egress gateway is enabled"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

When Cilium is running:
* on EKS
* in chaining mode
* with egress gateway enabled
* even without any egress policy in place

rolling Cilium pods with `ks rollout restart ds/cilium` will cause some nodes to become `NotReady`. The problem seems to be that the kubelet is unreachable:

[code]

This

[2021-12-22 15:49] brb commented on #18199
@kvaster Good investigation! Just to double check, the backend node has more than two netdevs, and the request from the intermediate node was forwarded via different netdev than the reply is sent via?

[2021-12-22 19:05] soggiest commented on #18278
Any thoughts on what the Helm chart version should be? Should it stay in 1.11 or go to 1.12?

[2021-12-22 19:13] gandro opened #18328 "cmd: `subnet-tags-filter: k=v` (and other options) silently fail when provided via ConfigMap"
When providing the flags like `subnet-tags-filter` via ConfigMap, we have assumed and documented that these flags (relying on `GetStringMapString`) can be populated via a `k=v` syntax. However, it turns out that when specified via ConfigMap, it needs to be JSON syntax (`{"k":"v"}`), and _not_ the `k=v` syntax as documented. The latter syntax only works if directly passed via command-line argument.

[2021-12-22 19:41] Ian-Greene opened #18329 "EKS Nodes NotReady with node to node encryption enabled."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

When setting `encryption.nodeEncryption` to true we noticed that all of our EKS nodes can join the cluster but are always NotReady. The cilium agents are unable to start and any attempts to contact the node fail. Here are our helm values.

[code]

Are we missing any configuration options we are

[2021-12-22 20:58] gandro commented on #18278
Let's target master (i.e. 1.12) for now. We can always decide to backport later, if needed. https://docs.cilium.io/en/v1.11/contributing/release/backports/#backport-process

[2021-12-23 08:33] kvaster commented on #18199
No. In failed tets only one node was used. In non-failed test two nodes was used.

Nodes setup:

Each node have two netdevs: `wan0` and `wan1`.

`wan0` have classic config - it has static WAN address with internet access (i.e. I can access node from internet via this address). By default host uses this netdev to communicate with internet.

`wan1` netdev is internal network with static ip address (

[2021-12-23 14:07] ms-choudhary opened #18331 "Unable to allocate IP via local cilium agent: [POST /ipam][502] postIpamFailure range is full"
### Is there an existing issue for this?

- [x] I have searched the existing issues

### What happened?

IP range seems full, can't create containers on a node.

Cilium status:
[code]

### Cilium Version

Client: 1.9.6 38dd27a 2021-04-20T14:57:11-07:00 go version go1.15.11 linux/amd64
Daemon: 1.9.6 38dd27a 2021-04-20T14:57:11-07:00 go version go1.15.11 linux/amd64

### Kernel Version

Linux okd4v2

[2021-12-23 16:58] musabmasood opened #18332 "Unable to deploy Cilium 1.11 on EKS 1.21 with managed etcd"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

After several tries, we were unable to deploy Cilium with managed etcd. When the etcd operator is deployed, it seems its stuck in the `check-dns` initContainer with a failing nslookup:

[code]
We tested this on a brand new EKS cluster following the [official AWS Cilium docs](https://aws.amazon.

[2021-12-23 17:47] soggiest commented on #18278
Looks like the charts are still 1.11 in master:
https://github.com/cilium/cilium/blob/master/install/kubernetes/cilium/Chart.yaml#L5-L6

I'll go ahead and use 1.12.1 for this update.

[2021-12-23 18:04] c4llous commented on #12562
hey i wanna take part in gsoc 2022 so someone can pls tell me is this project is going to take part in gsoc 2022 ??

[2021-12-23 18:35] kaworu commented on #18278
@soggiest please leave the Chart version as-is, they are updated as part of the release process. The current version in master (i.e. `1.11.90`) is conceptually "pre v1.12".

[2021-12-24 10:49] codesiddhant opened #18334 "Can any one explain how would i use Project Cilium for CNI in my nomad cluster"
Reference -> [https://www.hashicorp.com/blog/multi-interface-networking-and-cni-plugins-in-nomad-0-12](https://www.hashicorp.com/blog/multi-interface-networking-and-cni-plugins-in-nomad-0-12)

![image](https://user-images.githubusercontent.com/54833015/147346381-0d03d39b-7e7f-42b3-9efe-b96f24332332.png)

**My Problem** -> I want to connect all My containers across multiple clients(Nodes) in the no

[2021-12-24 16:45] lbernail commented on #18311
After looking a bit more into this I think that the problem comes from this kernel patch to veth_xmit: https://github.com/torvalds/linux/commit/edbea922025169c0e5cdca5ebf7bf5374cc5566c. It impacts all traffic transiting through veth devices but it's impossible to mitigate when using the ENA driver because of the ENA implementation of `select_queue`
The patch was added in 5.12 but has been backport

[2021-12-24 21:07] wdauchy commented on #18311
this should be easier with newer kernel as https://github.com/torvalds/linux/commit/9d3684c24a5232c2d7ea8f8a3e60fe235e6a9867 "veth: create by default nr_possible_cpus queues" (>= v5.14.x), even though those are not activated by default

[2021-12-25 13:30] chowmean commented on #18005
Hi, I think the details for the doc should go here.
https://docs.cilium.io/en/v1.9/concepts/networking/ipam/#address-management

Is it possible to point to the location [Code or any Doc] where I can see the details of the internally used IPs list? I will try to document this.
Thanks

[2021-12-25 13:41] chowmean commented on #17412
Hi as per the charts these options will not be set by defaults. They will be set only if the values file have these are true. https://github.com/cilium/cilium/blob/0a4d381ad988a591c451e0034efe63031ec06867/install/kubernetes/cilium/templates/cilium-configmap.yaml#L200
In the values files also these are false by default.
Please correct me If I am wrong here. Thanks
https://github.com/cilium/cilium/b

[2021-12-26 10:10] zaoying commented on #17745
running cilium 1.11.0 on wsl2(kernel version 5.10.60.1-microsoft-standard-WSL2) still having trouble @pchaigno
[code]

[2021-12-26 12:36] debMan commented on #17647
Any fix on this issue? We have the same problem.

[2021-12-27 00:41] KyleSanderson commented on #15462
hi! any chance at a wireguard gateway for this? what I mean by the request is to send traffic to a non-user hosted gateway, and accept traffic back into the cluster. Mullvad and a couple other providers being the use-case.

[2021-12-27 07:21] zhanghe9702 commented on #18315
i met same problem, it should be make tool ignored the pattern rule, i don't known the reason, but it could be solved by add an dummy cmd in receipt part

[2021-12-28 02:37] llhhbc opened #18340 "pod visit failed after networkpolicy has set"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

[code]

When pods are frequently created and deleted, the rules that have been created will become invalid, and there will be a phenomenon of network inaccessibility between pods

### Cilium Version

[code]

### Kernel Version

[code]

### Kubernetes Version

[code]

### Sysdump

_No response_

[2021-12-28 03:42] Ericra95 opened #18341 "cilium don't create nodeport"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

After the linux/k8s system restarts, cilium don't create nodeport

# kubectl exec -it -n kube-system cilium-n6cn5  -- cilium status --verbose
KVStore:                Ok   Disabled
Kubernetes:             Ok   1.20 (v1.20.5) [linux/amd64]
Kubernetes APIs:        ["cilium/v2::CiliumClusterwideNet

[2021-12-28 06:14] rverma-nsl commented on #5759
@nebril faced same issue, can you suggest what was the fix.
`"unknown kvstore configuration key" key="{\"etcd.config\": \"/var/lib/etcd-config/etcd.config\"}" subsys=kvstore`

[2021-12-28 12:25] MichaelHindley commented on #18332
The cilium helm chart lost the etcd.managed value in the values.yml file between version 1.09 and 1.10, but it is still referenced all over the templates files in both 1.10 and 1.11, but the behaviour will be faulty since the value will always be false

[2021-12-28 16:55] vincentmli commented on #17694
continue investigating the VTEP integration feature with above patches with `toCIDR` network policy, for example I have network policy

[code]

VTEP:

[code]

apply above `toCIDR` policy and VTEP result in ipcache record:

[code]

 the `toCIDR` network policy egress `10.1.0.0/16` is applied to pod `netshoot`

[code]

from netshoot pod, ping ip address in VTEP CIDR `10.1.5.236`, since ipcache map i

[2021-12-28 18:34] vincentmli commented on #17694
continue from previous example, now let me change the `toCIDR` policy like below to the specific IP address `10.1.5.236` we are going to ping from `netshoot` pod

[code]

the ipcache map are

[code]

the network policy applied to `netshoot` pod

[code]

now when I ping `10.1.5.236` from `netshoot` pod, ipcache map found      `10.1.5.236/32`, and policy map found `Allow    Egress      cidr:10.1.5.2

[2021-12-29 00:51] Ericra95 commented on #18341
[root@test-centos8-kvm11 ~]#  kubectl get pod -n kube-system -o wide | grep cilium-node-init-79cvf
cilium-node-init-79cvf            1/1     Running   12         86d   192.168.1.11   master1   <none>           <none>

[root@test-centos8-kvm11 ~]#  kubectl exec -it cilium-node-init-79cvf  --  sh
Error from server (NotFound): pods "cilium-node-init-79cvf" not found
[root@test-centos8-kvm11 ~]#

[2021-12-29 06:02] musabmasood commented on #18332
Not sure that matters since we were installing it with which should set the right value:

[code]

[2021-12-29 06:30] #18341 closed

[2021-12-29 12:19] sayboras commented on #14369
seems like this is addressed in https://github.com/norwoodj/helm-docs/pull/99 by Bruno

[2021-12-29 14:52] steven166 commented on #18298
An empty string did the trick to make ArgoCD happy:
[code]

[2021-12-29 20:52] Weil0ng commented on #17047
Coming back to this, is the `UID` the same as `ID` of an endpoint?

[2021-12-29 21:06] christarazi commented on #17047
@Weil0ng The UID is the K8s object UID, not a Cilium-specific field like the `ID` is. The diff that Andre posted above is not a full example, but rather pseudocode to get started. For instance, the `CEPUID` field would be need to created on the `Endpoint` object, etc.

[2021-12-30 21:19] ooraini opened #18347 "Inconsistent behavior related to VRRP packets drops"
### Is there an existing issue for this?

- [x] I have searched the existing issues

### What happened?

I'm running keepalived on two of my hosts and they are both reporting a timeout.
The VIP is 192.168.33.200. Running `ip ad | grep 200` on the two nodes:
[code]

Looking at `hubble observe -t drop` I see the following:
[code]

JSON output:
[code]

The two nodes IPs are 192.168.33.20 and 192.168.

[2021-12-31 04:33] sayboras commented on #16393
let me give it a crack on this issue  :)

[2022-01-03 04:58] MrMYHuang opened #18350 "L7 Policy Makes Response Drop"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

I use rke 1.3.3 on Ubuntu 21.10 x86_64 to create a single node k8s cluster with this cluster.yml:
[code]
Then, I install cilium and restart pods by
[code]
Then, I follow this tutorial to test cilium L7 policy:
https://docs.cilium.io/en/stable/gettingstarted/http/

I run the demo apps and the L7

[2022-01-03 06:42] necipakca opened #18351 "After 1.11 upgrade the endpoint are unreachable."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

After upgrade from 1.10.4 to 1.11 the host endpoints are unreachable.
The problem is the endpoint address not exist. Probably it is old address.
For example the blow  there is no address like "http://10.0.14.228:4240/hello" the right address of node11 is 10.0.14.67 currently.

    Host connecti

[2022-01-03 10:22] pchaigno commented on #17745
Is `CONFIG_NETFILTER_XT_TARGET_CT` enabled? Is the `xt_conntrack` module loaded?

[2022-01-03 10:44] codablock commented on #16494
fyi, #18352 is slightly related as the fixed bug results from the same underlying issue observed here

[2022-01-03 12:49] sayboras commented on #16798
seems like no one is working on this, let me give it a crack.

[2022-01-03 13:26] brb commented on #15462
@KyleSanderson That's basically the same as https://github.com/cilium/cilium/issues/15462#issuecomment-947784572. We would consider accepting such a contribution.

[2022-01-03 13:29] brb commented on #18351
This issue seems to be the duplicate of https://github.com/cilium/cilium/issues/18302.

[2022-01-03 13:29] #18351 closed

[2022-01-03 15:41] pchaigno commented on #16151
Not sure why we thought this would reduce complexity. It doesn't as far as I could see.

[2022-01-03 15:41] #16151 closed

[2022-01-03 19:13] hhoover commented on #17745
Ok I got Cilium and KinD working on WSL2, but I had to compile my own WSL kernel to do it because there are some things in there that as @pchaigno said aren't enabled. This is for the latest at the time of this message, 5.10.60.1. The steps at a high level are:

1. Run a docker container to build your stuff
2. Copy built kernel out of the container to somewhere
3. tell WSL2 to use that kernel

###

[2022-01-03 20:12] henriknj commented on #18298
@steven166 The empty string did the trick, but this will as @gandro said, leave pods around forever.. :\

[2022-01-03 20:41] aditighag commented on #18347
Can you run tcpdump with the verbose flag, and post the output?

[2022-01-03 20:45] aditighag commented on #18350
Can you run tcpdump with "-ev" flags, and post the output for the affected traffic?

[2022-01-03 21:52] joestringer commented on #18332
Hi, etcd-operator is no longer supported by the upstream team (see https://github.com/coreos/etcd-operator) and so we have [deprecated the options to configure it in Cilium](https://github.com/cilium/cilium/pull/15464) for a few releases now. I would suggest following the latest [Cilium documentation on Cluster Mesh](https://docs.cilium.io/en/stable/gettingstarted/clustermesh/clustermesh/#gs-clust

[2022-01-03 21:59] #17393 closed

[2022-01-03 22:32] ooraini commented on #18347
@aditighag

[code]

[code]

[2022-01-04 00:09] joestringer commented on #17412
Thanks for digging into this @chowmean , I agree that seems pretty clear and I see no other remaining references. This looks good to close out.

[2022-01-04 00:09] #17412 closed

[2022-01-04 01:47] MrMYHuang commented on #18350
Sorry, I prefer to use `cilium monitor` at this time. Now, I find significant traffic info about the drop. First, I turn on TProxy:
[code]

Then, I grep the problematic traffic by using tiefigher IP, two deathstar IPs, their endpoints, and a cilium proxy (?) endpoint:
[code]
In the log
[code]
, the cilium proxy (?) has the identity 34128. Its data flow to the deathstar endpoint 16218 is dropped!!!

[2022-01-04 05:47] sgarlick987 commented on #17738
I think we are running into this on a new eks cluster using cilium kube-proxy replacement.

I was following https://docs.cilium.io/en/stable/gettingstarted/istio/ to enable istio support and it mentioned enabling bpf-lb-sock-hostns-only to not bypass the istio sidecar. Up to this point we have cilium and istio installed and working fine minus what we are trying to fix with this flag.

We enabled t

[2022-01-04 08:33] codablock opened #18366 "Optimistic locking of CNs causes failures in updates on high load"
As noted in #18352, doing only 2 attempts ([here](https://github.com/cilium/cilium/blob/bcb86c86d76d62165e8f01409378905e50e42d18/pkg/ipam/node.go#L856) and [here](https://github.com/cilium/cilium/blob/bcb86c86d76d62165e8f01409378905e50e42d18/pkg/ipam/node.go#L875)) when trying updates on CNs might easily fail when the apiserver is on high load.

The original assumption seems to be that this is fin

[2022-01-04 09:40] brb commented on #17738
@sgarlick987 Could you send me the sysdump (`martynas` on the Cilium's Slack)?

[2022-01-04 10:01] brb commented on #18199
@kvaster Got it. I'm currently reworking the FIB lookup usage in the datapath which should resolve your issue. I will ping you once the PR is open.

[2022-01-04 11:41] kvaster commented on #18199
@brbr, thanks! Also have one more question then. `bpf.masquerade=true` is not working with our's setup. It chooses wrong ip address for masquerading on interface. Can it be related to fib lookup aswell ?

[2022-01-04 14:39] pchaigno commented on #18281
The patch was merged upstream. We now just need to pick it up in our fork and images.

[2022-01-04 14:46] brb commented on #15626
The workaround has been released https://github.com/cilium/cilium/pull/17154. Closing the issue. Please reopen if the issue persists.

[2022-01-04 14:46] #15626 closed

[2022-01-04 15:13] brb opened #18371 "service: Improve restoration of services from lbmap"
Currently, the service restoration from lbmap (the entrypoint is `(pkg/service/service.go.*Service) RestoreServices(...)`) bails immediately upon hitting an error. Instead of bailing, we should log those errors and continue to restore next entries.

This could help to reduce a number of connections which would be interrupted due to svc/backend ID changes which happens when the restoration fails.

[2022-01-04 15:55] brb commented on #18199
@kvaster Could you paste `ip -4 -o a` and tell which IP addr is chosen instead of which? There is the issue to improve the src IP addr selection https://github.com/cilium/cilium/issues/17158. Unfortunately, it requires kernel changes (WIP).

[2022-01-04 16:34] MrMYHuang commented on #18350
I successfully installed rke + cilium 1.11.0 on Windows 11 x64 WSL 2.
And the L7 policy works. I logged the traffic by cilium monitor:
[code]

I extract the important logs:
The previous log with packet drop, named log A for reference in the following:
[code]
and the log with correct L7 policy behavior, named log B:
[code]
We can see the first verdict log of logs A and B is action redirect.
The key

[2022-01-04 18:40] jerrac opened #18372 "cilium connectivity test failures"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

When running cilium connectivity test, several tests are failing. no-policies, client-egress-l7, and to-fqdns. They all fail due to curl exiting with a code 28.

The thing is, when I run a curlimages/curl container and run the commands listed in the test output (removing the -w, and --output fl

[2022-01-04 19:48] jamesharr opened #18373 "DNS proxy swallows DNS response when a default-deny ingress NetworkPolicy is present"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

When a default-deny ingress policy is applied to a namespace and dns proxying is enabled for a workload, DNS responses don't make it back to a pod and hubble shows an ERROR in a DNS response.

### Kubernetes Environment
* K3s (latest) on AlmaLinux 8.5. It's mostly a stock install, apart from a

[2022-01-04 20:35] joestringer commented on #18373
One datapoint, I attempted to reproduce this locally using kind (v0.11.0) and Cilium v1.11.0 in an Ubuntu 20.04.3 (Linux 5.10) environment, and I did not observe the `dns response ERROR`, plus the DNS requests and the actual policy seemed to all work correctly. This suggests that there may be something specific to either k3s or AlmaLinux that is causing the issue.

[2022-01-04 21:49] jamesharr commented on #18373
A few data-points:
* reproduced regardless of whether kube-dns (provided by coredns) is on the same node or different node.
* reproduced on kernel 5.15.12-1.el8.elrepo.x86_64 (kernel-ml package in elrepo, [installation instructions](https://www.how2shout.com/linux/how-to-install-linux-kernel-5-x-on-almalinux-8-or-rocky/))
* reproduced on kernel 5.4.169-1.el8.elrepo.x86_64 (kernel-lt package in elr

[2022-01-04 22:46] jamesharr commented on #18373
Another data-point -- Reproduced on Ubuntu 20.04 AMD64. Built from the Ubuntu cloud image (listed below). The only difference from the setup instructions above is that it's a single-node install, so the taint on the control node is skipped.

Image: [focal-server-cloudimg-amd64.img](https://cloud-images.ubuntu.com/focal/current/focal-server-cloudimg-amd64.img)

**uname**
[code]

**kubectl version**

[2022-01-04 23:03] jamesharr commented on #18373
Other data-points:
* Turning off `options edns0 trust-ad` does not seem to have an effect

[2022-01-04 23:11] jamesharr commented on #18373
I'm comparing `hubble log` output with and without the work-around applied and this seems very suspicious.

1. `L3-L4 REDIRECTED (UDP)` - same on both
2. `to-proxy FORWARDED (UDP)` - same on both
3. `dns-request FORWARDED (DNS Query example.com. A)` - same on both
4. ` dns-response FORWARDED (DNS Answer "93.184.216.34" TTL: 30 (Proxy example.com. A))` - same on both
5. This is where things differ

[2022-01-04 23:53] jamesharr commented on #18373
Looking at the cilium agent logs, I do see this (Ubuntu 20.04, K3s single-node, no work-around applied):

[code]

With the work-around applied, no log message is displayed.

[2022-01-05 00:06] maintainer-s-little-helper[bot] opened #18374 "CI: K8sDemosTest Tests Star Wars Demo"
### Test Name
[code]

### Failure Output
[code]

### Stacktrace
<details><summary>Click to show.</summary>

[code]
</details>

### Standard Output
<details><summary>Click to show.</summary>

[code]
</details>

### Standard Error
<details><summary>Click to show.</summary>

[code]
</details>

ZIP Links:
<details><summary>Click to show.</summary>

 https://jenkins.cilium.io/job/Cilium-PR-K8s-GKE//723

[2022-01-05 00:20] #17852 closed

[2022-01-05 00:49] aanm commented on #18302
@IMMORTALxJO thank you for the GH issue, can you reproduce the issue with debug logs enabled? Set `debug: true` in the Cilium's configmap. Thank you.

[2022-01-05 04:31] inductor opened #18375 "Helm chart does not generate ServiceMonitor resource for Hubble"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

I have the following values.yaml as minimum configuration, but neither of `helm upgrade --install cilium cilium/cilium --namespace kube-system -f values.yaml` or ` helm template cilium/cilium -f values.yaml --api-versions=monitoring.coreos.com/v1` succeeds installation with `ServiceMonitor` for

[2022-01-05 07:16] inductor commented on #18375
I found that I missed the document.

[code]

[2022-01-05 07:16] #18375 closed

[2022-01-05 07:31] christarazi commented on #18372
Does it fail consistently?

[2022-01-05 07:36] christarazi commented on #18340
What do you mean by "the rules that have been created will become invalid"? If there are policy drops, can you post the hubble / cilium monitor output? Can you provide the exact repro steps?

[2022-01-05 07:39] christarazi commented on #18331
Have you tried with the latest Cilium version or at least the latest of the v1.9.x tree?

[2022-01-05 09:13] llhhbc opened #18377 "pod visit host failed after systemctl restart network"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

1. pod create success
2. `systemctl restart network`
3. exec in pod,  `curl -k -v https://<host_ip>:6443`  visit apiserver timeout

### Cilium Version

cilium version
Client: 1.10.4 2a46fd6 2021-09-01T12:58:41-07:00 go version go1.16.7 linux/amd64
Daemon: 1.10.4 2a46fd6 2021-09-01T12:58:41-07:0

[2022-01-05 10:01] ghouscht commented on #18302
1. Yes, can send you the logs or an entire sysdump to your e-mail, sharing publicly is not possible, sorry!
2. Output of `cilium-health status` on one of the nodes with failing connectivity:
[code]
Output of  `k get ciliumnode e1-k8s-alsu101.pnet.ch -o json | jq '.spec.health'`:
[code]
Output of  `cilium node list -o json`:
[code]

The node with failing connectivity (mls105) still thinks the healt

[2022-01-05 11:53] llhhbc opened #18381 "pod visit host network(host has multi network devices)"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

#### host has 4 devices:
12: bond0: <BROADCAST,MULTICAST,MASTER,UP,LOWER_UP> mtu 1500 qdisc noqueue state UP group default qlen 1000
    inet 10.1.102.10/23 brd 10.1.103.255 scope global bond0
13: bond1: <BROADCAST,MULTICAST,MASTER,UP,LOWER_UP> mtu 1500 qdisc noqueue state UP group default qlen

[2022-01-05 11:59] llhhbc commented on #18340
I did not modify any policy configuration, and suddenly found that the pod’s network was restricted

[2022-01-05 12:34] sahid commented on #12968
I will take the leads on it. Thanks.

[2022-01-05 14:02] pchaigno commented on #11014
Probes for bounded loops and instruction set extensions were [merged in bpf-next](https://lore.kernel.org/bpf/164138641615.6231.4937030135518900608.git-patchwork-notify@kernel.org/T/). I'll update our images to start using those probes where appropriate.

[2022-01-05 14:53] aanm commented on #18302
After adding this line https://github.com/cilium/cilium/pull/18382/files#diff-e9cec4c2460e089f0f518c07f3d4c2fb40273486a8346d499ec5188395417772R445 and reproduce it again, I've seen this in the logs:
[code]

This prevents the cilium health address from being updated in the list of cilium nodes because `dpUpdate` is false and the branch https://github.com/cilium/cilium/pull/18382/files#diff-e9cec4c2

[2022-01-05 14:54] jamesharr commented on #18373
I think I made a break-through. I believe that with K3s, it turns out that flannel is still active and is interpreting NetworkPolicy, just not implementing an overlay of any sort. When I add `--disable-network-policy` to the K3s install, things seem to behave properly.

New K3s install instruction:
[code]

I also updated the K3s testing manifest to make positive/negative testing a bit easier:
* po

[2022-01-05 14:54] aanm commented on #18294
cc @christarazi it seems it is the same as https://github.com/cilium/cilium/issues/18302

[2022-01-05 15:15] jamesharr commented on #18373
Reviewing the docs, I found that some pages listed the `--disable-network-policy` flag and I think that may have been what tripped me up:
* [gettingstarted/k3s](https://docs.cilium.io/en/v1.11/gettingstarted/k3s/#getting-started-using-k3s) -- this shows the `--disable-network-policy` flag
* [gettingstarted/Quick Installation](https://docs.cilium.io/en/v1.11/gettingstarted/k8s-install-default/#inst

[2022-01-05 16:32] jerrac commented on #18372
Yes. I get the same output every time I run `cilium connectivity test`.

[2022-01-05 16:56] aditighag commented on #18350
Your original report didn't have any policy verdicts which I see in the follow-up comments. I would recommend using `cilium monitor --related-to <endpoint-id>` to filter the monitor output instead of using grep so that you don't miss the relevant output. Replace the endpoint-id with the endpoint id of the tiefighter pod that you are experiencing connectivity problems with. You can also use Hubble

[2022-01-05 17:07] #18303 closed

[2022-01-05 17:10] aditighag commented on #18347
I only see TCP or UDP traffic in the dump. Do you identify the affected keepalived traffic (maybe using the src/dst port)? What type of L4 protocol is used by the keepalived service?

https://file.io/Aai7Vju4o9I3

The file is deleted.

[2022-01-05 17:44] borkmann commented on #18311
@lbernail thanks for the excellent bug report!

Quick question, does it work to utilise multiqueue on ena when you enable Cilium's bwm (https://cilium.io/blog/2020/11/10/cilium-19#bwmanager, https://docs.cilium.io/en/v1.11/gettingstarted/bandwidth-manager/).

I suspect on 1.11 when you only set `bandwidthManager=true`, it should work as well as a workaround (w/o using bwm policies and such, iow, j

[2022-01-05 17:56] chowmean commented on #18371
I want to work on this. Can you please assign it to me?

What I think has to be done here is find the loop where it is trying to recover the services and from there instead of returning the error. It can log the error and proceed to attempt to recover other services.
in `pkg/service/service.go` `for _, svc := range svcs {` I think this should be the code location.

[2022-01-05 18:34] pchaigno opened #18386 "CI: failed to ensure kubectl version: failed to run kubectl version"
### Test Name

[code]

### Failure Output

[code]

`test-output.log` provides additional information:
[code]

### Resources

- Jenkins URL: https://jenkins.cilium.io/job/Cilium-PR-K8s-1.23-kernel-net-next/97/consoleFull
- ZIP file(s):
[test_results_Cilium-PR-K8s-1.23-kernel-net-next_97_BDD-Test-PR.zip](https://github.com/cilium/cilium/files/7817026/test_results_Cilium-PR-K8s-1.23-kernel-net-next_9

[2022-01-05 18:46] joestringer commented on #18373
Great work troubleshooting & getting to the bottom of it.

Yes please, looks like `Documentation/gettingstarted/requirements-k3s.rst` should be updated to include the same options as `Documentation/gettingstarted/k3s.rst`. In fact arguably we should maybe remove the latter, I'm not sure we need a dedicated page for k3s any more since the instructions for most platforms are now included in the "qui

[2022-01-05 18:55] #17895 closed

[2022-01-05 19:23] christarazi commented on #18372
Hm, that sounds like a cilium-cli issue to me rather than a Cilium issue, given that you can run the commands manually successfully.

[2022-01-05 19:26] christarazi commented on #18302
I believe this will be fixed by #18150. It would be great if anyone affected by this bug can try out that PR.

[2022-01-05 19:26] #17914 closed

[2022-01-05 19:52] aditighag opened #18387 "Decouple `endpoint_propagation_delay_seconds` metric from `CiliumEndpointSlice` feature flag"
The [metric](https://github.com/cilium/cilium/blob/master/pkg/metrics/metrics.go#L200-L200) tracks the delay between creation and propagation of a CiliumEndpoint. Currently, this metric is updated only when the CiliumEndpointSlice feature flag is enabled.
As CiliumEndpoint updates carry endpoint identities, it's useful to track this metric by default.

[2022-01-05 20:15] lbernail commented on #18311
@borkmann That's very interesting. We currently run 1.8 and we are evaluating 1.10/1.11 but we should be able to test quite easily. I'll let you know if it works as expected

I had a quick look at the bwm code and if I understood correctly the queue_mapping is reset in to-netdev which is attached to the instance "physical interface" right? (I'm trying to see if we can easily backport this but it's

[2022-01-05 20:25] ooraini commented on #18347
@aditighag  The above dump was taken from a cluster running Cilium 1.11.0. There is no VRRP packets in the dump, which is precisely the issue.

The following dump is taken from cluster running Cilium 1.10.4
[code]

The issue is easily reproducible.

I will recreate the cluster with 1.11.0 and collect the sysdump again.

[2022-01-05 21:40] borkmann commented on #18311
Why do you think that is? I don't think so.

We should be able to cleanly fix it, e.g. I just crafted https://github.com/cilium/cilium/pull/18388 as an option.

Could you check if that addresses it on your side? Then you don't need bwm, and it works with per-ep routes.

If you like I can propose a fix for upstream kernel as well.

[2022-01-05 22:06] aditighag commented on #18347
Cilium datapath only allows packets of L4 type TCP or UDP. I see that you've enabled host firewall on cilium v1.11. Was it also enabled on 1.10 where you don't see the dropped packets?

[2022-01-05 22:47] lbernail commented on #18311
Right yes, I was thinking the ebpf code was injected on clsact/egress on the veth interface in the pod netns but it's actually on the other peer veth in the host netns.

Thanks! I'll check very soon and I'll let you know

It's would probably be interesting because I assume this patch impacts multiple other setups. More than happy to help even if I'm sure you have for more context than I do

[2022-01-05 23:02] borkmann commented on #18311
Yes exactly.

Awesome, thanks, looking forward!

Sounds good, and yes, agree that it affects multiple other, non-BPF related setups, too. I'll keep you posted wrt netdev.

[2022-01-05 23:18] ooraini commented on #18347
I'm deploying with same Helm values. I just change the chart version. I'll disable the host firewall on 1.11 and test.

[2022-01-05 23:44] ooraini commented on #18347
Update:
With `hostfirewall` disabled, it works on 1.11.

[code]

tcpdump:
[code]

[2022-01-05 23:46] ooraini commented on #18347
Keepalived is running on the host with the following configuration:
[code]

[2022-01-05 23:55] aditighag commented on #18347
With hostfirewall disabled, it works on 1.11.

Thanks for following up.

What's the output of this command when run from one of the cilium pods - `sudo bpftool prog show | grep from_netdev`?

If you need to enable host firewall in your cluster without affecting keepalived traffic, you could potentially have keepalived use a separate node interface. Exclude that interface from the `--devices` confi

[2022-01-06 00:08] ooraini commented on #18347
On 1.11 with `hostfirewall` disabled:
[code]

Note that it did work with `hostfirewall` _enabled_ in 1.10. But not in 1.11.

Thanks for the help.

[2022-01-06 00:30] joestringer commented on #18372
@christarazi I wonder what makes you think that the issue must be a cilium-cli issue?

One other thing that can help to identify what went wrong is to follow these instructions from the CLI:

[code]

This way, Cilium and Hubble can provide more details about exactly what happens to packets when you run the connectivity test. Overall the structure of the output will look very similar, but there wil

[2022-01-06 00:50] joestringer commented on #18377
Thanks for the report. Are you using Cilium's kube proxy replacement or are you using kube-proxy to provide services on the node? This could potentially impact whether it's at all possible for Cilium to mitigate an issue like this.

I'm not sure what `systemctl restart` does, but my guess is that it's invasive and is unaware that it is clobbering Cilium configurations on the node. I'm not sure whe

[2022-01-06 01:06] joestringer commented on #18340
Is the issue persistent for the pods that are affected? Or will a pod with the problem start to successfully connect after some time?

One potential mitigation for issues in this area can be to ensure that pods are not created with brand new labels each time you create them (ie reuse the same labels for the pods that you create/delete often), or to apply a [Limit for Identity-Relevant Labels](http