[2022-07-11 22:08] joestringer opened #20477 "Deleting service selected by ToServices policy rules can cause policy denies until agent restart"
When two services have the same backends and a same label selected in `toServices` rule in a network policy, the internal storage of the policy structure in the form of "generated CIDRs" are removed from the datapath when one of the services is deleted. This can happen even though the other service should still be allowed by policy. As a result, traffic can be dropped for the remaining service.

L

[2022-07-12 00:27] xynova commented on #19816
@aanm I just discovered the same issue in our GKE clusters, did you get any more information about this? is it required at all?

[2022-07-12 07:07] thejosephstevens commented on #20258
Okay, so I've got to apologize because I'm afraid this is going to remain a mystery. In my investigations earlier I found that the other cluster we had which was identically configured to this one (same config, same workload profiles, everything), was not experiencing the same problems of endpoints updating.

In an attempt to get this issue addressed I redeployed cilium with `clean-cilium-state: "

[2022-07-12 07:07] #20258 closed

[2022-07-12 11:37] #12842 closed

[2022-07-12 12:26] #17646 closed

[2022-07-12 12:34] yilas commented on #18256
Here is the configuration of Cilium (from the ConfigMap `cilium-config`)

[code]

[2022-07-12 13:19] lizonglin313 commented on #20437
I have the same question. And my  coredns also not working, the status is running but not-ready

[2022-07-12 14:03] #20382 closed, assigned to aditighag

[2022-07-12 15:47] alphabet5 commented on #20370
@BastienVigneron is this specific for raspberry pi / arm64, or is this required on all 22.04?

[2022-07-12 15:50] BastienVigneron commented on #20370
I suspect it is required on all 22.04.

[2022-07-12 15:55] maintainer-s-little-helper[bot] opened #20482 "v1.10: CI: K8sDatapathConfig Transparent encryption DirectRouting Check connectivity with transparent encryption and direct routing: Ipsec default interface lookup failed ... IPv4/IPv6 have different link indices"
### Test Name
[code]

### Failure Output
[code]

### Stacktrace
<details><summary>Click to show.</summary>

[code]
</details>

### Standard Output
<details><summary>Click to show.</summary>

[code]
</details>

### Standard Error
<details><summary>Click to show.</summary>

[code]
</details>

ZIP Links:
<details><summary>Click to show.</summary>

 https://jenkins.cilium.io/job/Cilium-PR-K8s-1.19-ker

[2022-07-12 15:57] joestringer commented on #20482
Tail of previous logs:

[code]

Looks like the VM has differing default routes for IPv4 / IPv6 somehow due to the way the VM was provisioned, which trips a fatal error in the agent.

[2022-07-12 15:57] joestringer commented on #20482
[83c884c5_K8sDatapathConfig_Transparent_encryption_DirectRouting_Check_connectivity_with_transparent_encryption_and_direct_routing.zip](https://github.com/cilium/cilium/files/9094774/83c884c5_K8sDatapathConfig_Transparent_encryption_DirectRouting_Check_connectivity_with_transparent_encryption_and_direct_routing.zip)

[2022-07-12 16:03] joestringer opened #20483 "v1.10: CI: to-fqdns/pod-to-world/http-to-one-one-one-one-0: AKS job failed to connect to one.one.one.one via toFQDNs policy: Policy denied"
## CI failure

Failure: https://github.com/cilium/cilium/runs/7250392545?check_suite_focus=true
Sysdump: [cilium-sysdump-out.zip (16).zip](https://github.com/cilium/cilium/files/9094923/cilium-sysdump-out.zip.16.zip)

[code]

[2022-07-12 16:08] joestringer commented on #16938
If this is completed, do we think we know what fixed it?

[2022-07-12 16:46] pchaigno commented on #16938
Oh, IPsec testing is actually still disabled on EKS :disappointed:

[2022-07-12 18:21] joestringer opened #20488 "CI: K8sPolicyTest Multi-node policy test validates fromEntities policies with remote-node identity disabled: error dialing backend: dial tcp 192.168.56.12:10250: i/o timeout"
### Test Name

[code]

### Failure Output

[code]

### Stack Trace

[code]

### Standard Output

[code]

### Standard Error

[code]

### Resources

- Jenkins URL: https://jenkins.cilium.io/job/Cilium-PR-K8s-1.16-kernel-4.9/2096/execution/node/126/log/?consoleFull
- ZIP file(s): Missing due to test infrastructure timeout

https://jenkins.cilium.io/job/Cilium-PR-K8s-1.16-kernel-4.9/2096/

### Anythi

[2022-07-12 18:26] joestringer commented on #20488
My suspicion would be that either these steps or the combination of these steps on top of the prior test are what puts the node into a bad state:

[code]

For reference, here's some of the test output running up to the start of this test:
[code]

[2022-07-12 18:50] DolceTriade opened #20490 "CFP: Add support for the SCTP protocol"
## Cilium Feature Proposal

Introduced in k8s 1.12

https://github.com/kubernetes/kubernetes/pull/64973

## Work Breakdown

### M1 - Limited Support for Pod <-> Service communication

Currently, Cilium simply drops SCTP packets. This [GitHub PR](https://github.com/cilium/cilium/pull/6912) fixes things for limited use cases. With a little work, this SCTP PR can be updated to provide support for Pod

[2022-07-12 21:01] thockin commented on #16622
@rikatz FYI

[2022-07-12 22:31] aditighag commented on #20434
@tommyp1ckles Please collect sysdump from the affected cluster, better yet leave the cluster as-is in the problematic state.

[2022-07-13 00:22] nikhiljha commented on #20427
In addition to making this configurable, we might want to have

[code]

be the default for Ingresses. No other popular ingress controller (AFAICT?) blocks websockets by default, so this breaks software that assumes it'll work out of the box.

[2022-07-13 07:34] borkmann commented on #20434
Wasn't it posted here? [cilium-sysdump-20220708-161540.zip](https://github.com/cilium/cilium/files/9073521/cilium-sysdump-20220708-161540.zip)

Also Cc'ing @nathanjsweet for visibility given this happened on OpenShift (details also outlined in https://github.com/cilium/cilium/issues/20375).

[2022-07-13 08:22] lizonglin313 opened #20498 "When using cilium as Kubernetes network CNI, the coredns is running but not-ready, healthcheck failed and plugin/errors HINFO: read udp i/o timeout"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

I find some error when using Cilium as Kubernetes network.

- Cilium: 1.11.6
- Kubernetes: 1.23.0

## Describe

The step of create cluster as follow:

1. Use `kubeadm --config kubeadm.conf` to init cluster:
[code]
Run`kubeadm init --config kubeadm.conf` to init cluster.

2. Join the worker node

[2022-07-13 14:43] aditighag commented on #20434
Sounds like `rp_filter` could be the culprit.

[2022-07-13 15:02] vincentmli commented on #20498
@lizonglin313 can you provide sysdump?

[2022-07-13 15:18] vincentmli commented on #20498
you may also try to deploy a network trouble shooting pod like netshoot to manually query your DNS server 192.168.153.2:53 to see if it works, I suspect it may not work, and then start to trouble shoot with tcpdump, or even https://github.com/cilium/pwru

[2022-07-13 15:25] qmonnet opened #20508 "CI: Unit tests (Travis): PANIC in TestSpeakerOnUpdateNode"
## CI failure

- Failing test: https://app.travis-ci.com/github/cilium/cilium/builds/253157677 (https://github.com/cilium/cilium/pull/20479)
- Raw log from Travis: [log.txt](https://github.com/cilium/cilium/files/9103641/log.txt)

[code]

Cc @ldelossa @dylandreimerink

[2022-07-13 15:28] dylandreimerink commented on #20508
A fix is already underway. Currently waiting for a MetalLB [PR](https://github.com/cilium/metallb/pull/10) to be merged, after that I can submit the cilium PR.

[2022-07-13 16:16] alphabet5 opened #20511 "CFP: Add a value for overriding the namespace in the helm chart."
## Cilium Feature Proposal

Thanks for taking time to make a feature request for Cilium! If you have usage questions, please try the [slack channel](http://slack.cilium.io/) and see the [FAQ](https://github.com/cilium/cilium/issues?utf8=%E2%9C%93&q=is:issue+label:kind/question+) first.

**Is your feature request related to a problem?**

Adding cilium to an umbrella helm chart but installing to a d

[2022-07-13 16:16] serlophug commented on #20411
Solved. It was a problem with my installed kernel. I updated it to 5.18.0 and it worked.

[2022-07-13 16:16] #20411 closed

[2022-07-13 18:53] tommyp1ckles commented on #18273
Just ran into this I believe: https://github.com/cilium/cilium/runs/7327006954?check_suite_focus=true
It was on ConformanceKind1.19 but seems like a similar issue.

[2022-07-13 21:35] maxpain opened #20518 "Pods unable to communicate on the same node"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

Pods can't communicate on the same node, but can on different nodes.
ping to pod IP is working from a different host or container on a different host but isn't working from the same node or container on the same node.

Also, pods can't ping public IP of the same node and `cilium_host` interface

[2022-07-13 22:42] maxpain commented on #20518
The problem was related [this issue](https://github.com/cilium/cilium/issues/10645).

[2022-07-13 22:42] #20518 closed

[2022-07-14 02:15] #19499 closed

[2022-07-14 03:43] lizonglin313 commented on #20498
Thanks. Let me have a try.

[2022-07-14 03:47] lizonglin313 commented on #20498
Hi all! This is my `cilium sysdump` information.
[code]

[2022-07-14 04:02] vincentmli commented on #20498
can you attach the incomplete sysdump?

[2022-07-14 04:13] lizonglin313 commented on #20498
As Follow:
[code]

[2022-07-14 04:55] lizonglin313 commented on #20498
I use busybox, and ping upstream dns server. DNS server cannot be accessed when using Cilium.
[code]
But when I change network plugin to other cni (like flannel), it work.
[code]
I wonder if I have not done well in the configuration of Cilium.

[2022-07-14 09:45] #20508 closed

[2022-07-14 11:26] sayboras commented on #20511
thanks, this seems reasonable to me :100:

[2022-07-14 12:02] #16726 closed

[2022-07-14 12:07] zuzzas opened #20525 "CFP: automatically add healthCheckNodePort to CiliumClusterwideNetworkPolicies"
## Cilium Feature Proposal

**Is your feature request related to a problem?**

Cilium provides no way to allow traffic to healthCheckNodePorts, which is generated uniquely for` type: LoadBalancer` services. This forces us into the situation of providing these ports manually and manually adding them into CiliumClusterwideNetworkPolicies.

**Describe the feature you'd like**

An option to automatica

[2022-07-14 12:15] brb commented on #14326
Solved by https://github.com/cilium/cilium/pull/20369.

[2022-07-14 12:15] #14326 closed

[2022-07-14 12:19] brb commented on #16163
https://github.com/cilium/cilium/pull/16179 should have fixed the issue.

[2022-07-14 12:19] #16163 closed

[2022-07-14 12:51] #18459 closed

[2022-07-14 15:25] nwxleo opened #20529 "cilium-agent in new node doesn't work properly,log:Unable to list local IPv4 addresses" error="message too long""
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

i have exist cluster with cilium,which always have warning: level=warning msg="Unable to list local IPv4 addresses" error="message too long" subsys=daemon
when i scale up the nodes，it become fatal:level=fatal msg="Unable to list local IPv4 addresses" error="message too long" subsys=daemon
and t

[2022-07-14 15:47] intel-dlanders opened #20530 "CFP: problem with helm reference page"
Not sure if this is the correct way to go about it, but I didn't want to wade through a "Bug Report". :\

The Helm reference page, https://docs.cilium.io/en/stable/helm-reference/, has a problem with the formatting such that the entry for
ipv4NativeRoutingCIDR is partially missing. That is the option 'ipv4NativeRoutingCIDR' is not displayed but the explanation appears to be displayed under the 'mo

[2022-07-14 17:53] lizonglin313 commented on #20498
My deep appreciation is beyond words for your solution. The coredns is working normally. Can you talk a little bit about your thinking and why this problem arose. I hope this question hasn't taken up too much of your time. Thank you again!

[2022-07-14 17:59] vincentmli commented on #20498
it is a known problem I happen to know. for problem trouble shooting, start with the basic and dig step by step with proper tools :)

[2022-07-14 18:05] vincentmli commented on #20498
FYI https://github.com/cilium/cilium/pull/20072 should address the issue for you

[2022-07-14 18:13] salekseev commented on #17878
Totally interested.

[2022-07-14 23:32] aditighag commented on #20434
Looked into the cluster - the deployed nginx pods are not managed by cilium.  `kubectl get ciliumendpoints` returns empty, and `cilium endpoints list `doesn't show core-dns or the nginx pods. Looking at the IP addresses for these pods, they are on the docker network. @tommyp1ckles Is there a chance the nginx pods were deployed *before* cilium pods were in the ready state?

We have this step in the

[2022-07-15 03:15] wu0407 opened #20535 "eni: infinite trigger resync node when eni count of node is reached eni limits"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

1. If node need more ip to allocation but no eni is available, it need create more eni.
2. But the count of eni in instance is reached eni limits, so  `n.ops.CreateInterface`  and `n.createInterface(ctx, a.allocation)` alway return error and  https://github.com/cilium/cilium/blob/2cacf2bc62faed

[2022-07-15 03:22] wu0407 commented on #20535
I think to fix like this in `handleIPAllocation`, `nodehandler` add a method `IsReachENILimits()` to test whether reach the limit.
If reach the limit, not to create eni  `return false, nil`.
[code]

[2022-07-15 05:02] protosam commented on #20125
Probably this...

Problem:
[code]

Solution:
[code]

Reload:
[code]

Profit:
[code]

Scripted k3s install just works now and my pods are actually running.
[code]

[2022-07-15 05:27] christarazi commented on #20122
@Q0heleth :point_up:

[2022-07-15 05:35] christarazi commented on #20529
Can you attach a sysdump?

[2022-07-15 05:36] christarazi commented on #20529
Are all Cilium pods experiencing the issue or only a few? Also, can you exec into one of the Cilium pods that's experiencing the issue and provide the output of `ip a`?

[2022-07-15 05:39] christarazi commented on #20459
Do all pods that are created not have their identities propagated or only a few?

[2022-07-15 05:40] christarazi commented on #20459
Can you provide the output of `cilium status --verbose` from one of the Cilium pods which isn't aware of some pod identities?

[2022-07-15 06:09] floriandorau commented on #20459
For me, it looks like that it is just one identity that is not propagated. The majority is working fine.

Here the requested output:
[code]

[2022-07-15 06:12] christarazi commented on #20459
Can you post a sysdump targeting that one node?

[2022-07-15 06:26] floriandorau commented on #20459
Here a sysdump of that particular node.

[cilium-sysdump-20220715-082236.zip](https://github.com/cilium/cilium/files/9118388/cilium-sysdump-20220715-082236.zip)

[2022-07-15 06:33] lizonglin313 commented on #20498
Thanks! All the best.

[2022-07-15 07:04] inductor commented on #20125
https://github.com/cilium/cilium/pull/20072 :eyes:

[2022-07-15 08:08] sergeyshevch commented on #16790
@bmcustodio @pchaigno Looks like this issue is solved and can be closed

[2022-07-15 11:29] pchaigno commented on #20288
The failure seems limited to 4.9: https://datastudio.google.com/s/o5Gnv9PhT1k (failures on other kernels are because of a bad merge a week ago). It's already happening on v1.12 and happening a lot on master.

[2022-07-15 13:33] qmonnet commented on #20288
It seems that the rlimit bump is not happening.

I expected either libbpf or tc directly to do it. It turns aout that [the rlimit bump](https://github.com/libbpf/libbpf/commit/216eaa760edf06f3521d5d49a419515607c1f38e) in libbpf is more recent than I thought, and [our libbpf fork](https://github.com/cilium/libbpf) doesn't have it. Then iproute2's tc does have a rlimit bump, but [in lib/bpf_legacy.c

[2022-07-15 14:59] vincentmli commented on #20529
just wonder is `kube-ipvs0`  there because  your new node running kube-proxy ipvs mode or left over from kube-proxy ipvs mode?

[2022-07-15 15:42] joestringer opened #20542 "CI: v1.11: GKE: K8sLRPTests Checks local redirect policy LRP connectivity"
### Test Name

[code]

### Failure Output

[code]

### Stack Trace

[code]

### Standard Output

[code]

### Standard Error

[code]

### Resources

- Jenkins URL: https://jenkins.cilium.io/job/Cilium-PR-K8s-GKE/8960/testReport/junit/Suite-k8s-1/22/K8sLRPTests_Checks_local_redirect_policy_LRP_connectivity/
  - Possibly also https://jenkins.cilium.io/job/Cilium-PR-K8s-GKE/8960/testReport/junit/Suite

[2022-07-15 15:54] aditighag commented on #20542
Hmm... What could've changed recently that led to the test failures (and that too only on v1.11)? 😕 Looking into the sysdumps.

[2022-07-15 17:04] Jiang1155 commented on #20069
This CFP looks interesting. If no one already worked on this, I will spend some time on this one.

[2022-07-15 18:03] joaoubaldo opened #20547 "ClusterMesh - TCP not working between clusters endpoints"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

I’ve been trying to get cluster-mesh to work between 2 clusters running the exact same configuration (Kubernetes 1.22 and Cilium 1.11.6). I am using [this demo](https://docs.cilium.io/en/v1.11/gettingstarted/clustermesh/services/) deployment to test connectivity and another minimal service.
My

[2022-07-15 20:52] djkormo opened #20550 "Kubernetes network policy for api-server"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

1. My service for api server

kubectl describe svc kubernetes -n default

[code]

2. All  egress is blocked

Trying to whitelist api-server via Kubernetes Network Policy
[code]
Trafic is still blocked.
In cilium monitor I see  blocked 10.137.17.30:6443 , 10.137.17.31:6443, 10.137.17.32:6443

[c

[2022-07-16 18:48] christarazi commented on #20550
cc @nebril, something to potentially look into. Maybe we can discuss next week.

[2022-07-16 21:40] protosam commented on #20125
Ubuntu uses `/usr/lib/sysctl.d/` in addition to the place the normal path. Bet RHEL 9 has something similar going on.

https://github.com/cilium/cilium/blob/8f606bafb696076609a01f88204d895576043950/tools/sysctlfix/main.go#L24

[2022-07-17 03:26] benesch opened #20553 "ENI mode attaches secondary ENIs in dubious subnets by default"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

The Cilium AWS ENI IPAM mode will, by default, attach ENIs in the least full subnet whose VPC/AZ matches the subnet of the VPC/AZ of the primary ENI. When running in an EKS cluster with both public and private subnets, this means that Cilium is quite likely to attach an ENI in the "wrong" subne

[2022-07-17 03:51] benesch opened #20554 "Masquerading does not correctly handle external replies on secondary interfaces"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

We run Cilium in AWS ENI mode on nodes in public subnets. Some of our pods have elastic IPs attached by another operator, and some do not. We enable IPv4 BPF masquerading so that the pods which do not have elastic IPs attached can initiate connections outside the VPC.

This works well for pods

[2022-07-17 14:31] aluopy opened #20555 "connectivity test failed"
Sorry to mention the wrong place

[2022-07-18 05:55] wu0407 commented on #20553
I think need new crd ip pool, that controll which subnet is used.

[2022-07-18 08:05] brb commented on #10402
It's blocked by https://github.com/cilium/cilium/pull/17504.

[2022-07-18 08:49] brb opened #20557 "test: Missing section names in the test/bpf/check-complexity.sh output"
When running the following, the output doesn't contain the tail call names:
[code]

The naming is done by the `annotate_section_names()` function in `check-complexity.sh`.

Previously, it was working before switching our [iproute2](https://github.com/cilium/iproute2) fork's backend to `libbpf`.

This issue is about figuring out how to get section identifiers from the BPF verifier log. If it's not

[2022-07-18 09:03] sayboras opened #20558 "Add policy test for ingress identity in CNP"
Related to the below comment :)

_Originally posted by @jrajahalme in https://github.com/cilium/cilium/pull/20536#pullrequestreview-1040169880_

[2022-07-18 09:10] ti-mo commented on #20557
Thanks for the issue! Is this worth the effort in the short term? The plan is to replace `verifier-test.sh` with a Go progam in the near future, which will also make X/Y section names unnecessary. This new tool should give all the error output needed to properly debug verifier errors.

Currently, the lib can also dump insns with lineinfo annotations directly from ELF BTF, which no existing userspa

[2022-07-18 09:28] gandro commented on #20553
I agree that we can make the selection a bit smarter and picking the same subnet as the primary ENI is probably a good choice as well.

But I don't think I understand why using a filter in `spec.eni.subnet-tags` is not a feasible here. You can tag all the relevant subnets, and you can also define the tag filter per node if you use a node-specific CNI configuration:
https://docs.cilium.io/en/v1.11/

[2022-07-18 09:40] gandro commented on #20535
Generally speaking, we already in-cooperate the limits here:
https://github.com/cilium/cilium/blob/24a7e412b1196e829d76c22ad44613d56937d58b/pkg/aws/eni/node.go#L259

And the code _should_ bail out here:
https://github.com/cilium/cilium/blob/eac0dee9d6110d340ea7df6885486b4327052d2f/pkg/ipam/node.go#L472-L484

So it would be interesting to know under what circumstances the `AvailableInterfaces` fiel

[2022-07-18 13:50] gandro commented on #20553
Besides the globally shared CNIconfig (which can be deployed via Helm), users who are using a custom CNI config per node group seem to relying on cloud-init or the `overrideBootstrapCommand` in eksctl.

But yes, I agree that it is a bit fiddly.

I would not want Cilium the actually set the `nodeResource.Spec.ENI.SubnetIDs` based on the auto-detection (since this will prevent the operator from pick

[2022-07-18 21:12] #20337 closed

[2022-07-18 21:34] pchaigno commented on #20288
Same flake happened again at https://jenkins.cilium.io/job/cilium-master-k8s-1.18-kernel-4.9/1324/testReport/junit/Suite-k8s-1/18/K8sVerifier_Runs_the_kernel_verifier_against_Cilium_s_BPF_datapath/.

[2022-07-19 06:07] sayboras commented on #20530
Thanks for reporting this, there was an issue with helm-docs, which is fixe as part of https://github.com/norwoodj/helm-docs/pull/99.

The latest branch in cilium seems ok now, probably we need to backport related fix in cilium to 1.11 branch.

[2022-07-19 08:56] brb opened #20573 "Refactoring K8sDatapathConfig"
**NB**: please defer any work if a test needs to be moved to "Datapath Conformance suite (e2e)".

- [ ] `MonitorAggregation` @aspsk
    BPF unit test
- [ ] `Encapsulation` Currently **quarantined**
    - [ ] `Check connectivity with transparent encryption and VXLAN encapsulation` @NikAleksandrov
    Datapath Conformance suite
	- [ ] `Check connectivity with VXLAN encapsulation`
    Datapath Confor

[2022-07-19 14:00] j-land commented on #18084
Status on this?

[2022-07-20 02:09] cguertin14 commented on #17349
thank you 🙏🏻 this just helped me fixed things on my cluster.

[2022-07-20 02:59] wu0407 commented on #20535
Sorry, I misunderstand. that is not consider that condition. https://github.com/cilium/cilium/blob/24a7e412b1196e829d76c22ad44613d56937d58b/pkg/aws/eni/node.go#L259

[2022-07-20 02:59] #20535 closed

[2022-07-20 03:23] wu0407 opened #20594 "CFP: Optimize Eni update latency after new eni created"
## Cilium Feature Proposal

Thanks for taking time to make a feature request for Cilium! If you have usage questions, please try the [slack channel](http://slack.cilium.io/) and see the [FAQ](https://github.com/cilium/cilium/issues?utf8=%E2%9C%93&q=is:issue+label:kind/question+) first.

**Is your feature request related to a problem?**
When successfully call createInterface not triggered n.manager

[2022-07-20 03:28] wu0407 opened #20595 "ENI: Optimize Eni update latency after new eni created"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

When successfully call createInterface not triggered n.manager.resyncTrigger. It cause spec.ipam.pool update delay, so agent not able allocate ip for new pod until periodic trigger NodeManager.Resync. It mean the max duration from create interface to update cliumNode for this node need 1 min.

[2022-07-20 03:29] wu0407 commented on #20594
change to issue category https://github.com/cilium/cilium/issues/20595

[2022-07-20 03:29] #20594 closed

[2022-07-20 04:14] gpl commented on #14118
Would dropping the packet also be appropriate for all ports services?

[2022-07-20 05:48] brb commented on #14118
Not necessary. It's enough to to know the LB VIP subnet.

Did you mean dropping for the LB VIP subnet on any port as above?

[2022-07-20 08:07] gandro commented on #20535
@wu0407 Great! Just to double check, did you encounter any issues? We did have bugs in the past where the limit wasn't properly respected and we did enter a faulty resync loop. If that happened to you, it would be useful to understand why, as there might be an undiscovered bug.

[2022-07-20 08:43] gandro commented on #20595
I agree with the proposed fix. Would you be willing to submit a PR?

[2022-07-20 09:29] Thearas opened #20597 "Cilium Pod OOM constantly"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

Cilium Pod OOM constantly, the status:

[code]

### Cilium Version

cilium image (running): v1.11.3

### Kernel Version

Linux 10.2.12.7 4.18.0-348.7.1.el8_5.x86_64 #1 SMP Wed Dec 22 13:25:12 UTC 2021 x86_64 x86_64 x86_64 GNU/Linux

### Kubernetes Version

Server Version: v1.21.12

### Sysdump

[2022-07-20 10:38] aanm commented on #20597
@Thearas can you get a pprof from the cilium pod a little before it is killed because of OOM?

[2022-07-20 10:41] dylandreimerink commented on #14118
When MetalLB is used, we announce every service IP that is in use as a /32 to the peers, MetalLB can also be configured with an aggregation length to announce the full service CIDR. But this is just getting the traffic to the nodes, MetalLB is unrelated when in comes to handling traffic once it arrives, so I think it isn't relevant for this discussion.

[2022-07-20 15:41] wu0407 commented on #20595
ok, wait my not busy.

[2022-07-20 16:03] stevehipwell commented on #18405
Now that IPv4 ENI prefixes are supported is there a timeline for IPv6 ENI prefix support?

[2022-07-20 16:09] STASiAN commented on #19606
fixed with https://github.com/cilium/cilium/pull/20072

[2022-07-20 16:09] #19606 closed

[2022-07-20 16:13] gandro commented on #18405
I'm not aware of anyone actively working on it at the moment. PRs welcome.

[2022-07-20 16:22] stevehipwell commented on #12454
Is anyone planning on picking up this work? Chaining Cilium to the AWS VPC CNI is a compelling proposition for us but loosing layer 7 policy support makes it a tougher sell.

[2022-07-20 17:26] CiraciNicolo opened #20603 "Unable to use Cilium in a k3s env"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

Unable to configure Cilium, while wanting to replace kubeproxy with Cilium, on a k3s enviroment with 1 master + 3 agents. DaemonSet just fall in Crashloopbackoff with the following error:

`level=fatal msg="Error while creating daemon" error="error while initializing daemon: failed while reinit

[2022-07-20 17:33] rahulkjoshi opened #20604 "CiliumNetworkPolicy ToFQDNs behavior of `*` different from documentation"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

I was digging into the API spec for FQDN Egress policies and I saw it mentioned that

-[reference](https://github.com/cilium/cilium/blob/d4b786137dbc95beb4e2797bf1837a40528af5cb/pkg/policy/api/fqdn.go#L53-L54)

I wasn’t able to get this to work for me in practice. There didn’t seem to be any sp

[2022-07-20 17:40] dzoeteman commented on #18833
This would be a great feature to have, but afaik dependent on aws/containers-roadmap#1146

[2022-07-20 19:32] brb opened #20606 "ci-e2e workflow configuration"
Current configuration table of [ci-e2e](https://github.com/cilium/cilium/blob/master/.github/workflows/conformance-e2e.yaml):

| Name | Kernel | Routing | EP routes | IPv6 | Encryption | kube-proxy | LB mode | MASQ | Egress GW | Host FW |
| - | - | - | - | - | - | - | - | - | - | - |
| 1 | 4.19 | vxlan | - | + | - | iptables | - | iptables | - | - |
| 2 | 5.4 | direct | - | + | - | iptables | - |

[2022-07-20 21:19] alex-hunt-materialize commented on #20554
I've confirmed that adding a `from ${pod_ip} lookup ${table_id}` rule allows the inbound connections, and does not require disabling the rp_filter.

[2022-07-20 23:30] vincentmli commented on #20603
oddly, I grep and search string `mode tunnel` in cilium source, could not find any error log contains `mode tunnel`

[2022-07-21 00:04] vincentmli commented on #20603
I build image based on the master branch with above code, run in 2 node k3s, no problem

[2022-07-21 00:19] vincentmli commented on #20603
commit `c3adaec9dc` removed IPVLAN code but probably forgot to remove `nativeDevs` that is no longer used in `setupBaseDevice()`, so we should remove `nativeDevs`, but  since I build image with it, cilium runs fine, so not sure if it is related to `nativeDevs` not being used, I will send PR to cilium to remove `nativeDevs`

[2022-07-21 06:15] brb commented on #14118
When Cilium's LB BGP (currently via MetalLB) is enabled, the agent is aware of LB VIP subnets. What we could do is to push those subnets into a BPF map, and then in the datapath we could extend `nodeport_lb4()` to do a lookup in that BPF map if a svc is not found / proto is ICMP. If an entry in the BPF map is found, then drop the request.

[2022-07-21 07:15] CiraciNicolo commented on #20603
Hi,

this is the cmdline to start k3s (master node):

[code]

I'm using the latest helm, without compiling cilium itself but using the latest image provided on quay.io. Other info about the environment, we have multiple ifaces for node but only eth0 should be used since the other are mgmt only.

[2022-07-21 08:30] dylandreimerink commented on #14118
Agreed

But don't we want it to work the other way around?

Thinking out loud, when do we want to do with ICMP requests?
* When the destination is one of the IP's assigned to the NIC we receive requests on, we answer or forward it to the stack
* When the destination is a service VIP, answer it (can't NAT it since the ICMP request has no dst port)
* When the destination is a pod IP and traffic is i

[2022-07-21 09:11] Champ-Goblem commented on #19187
@jibi good news, cilium 1.12.0 seems to have fixed this!
Nice work

[2022-07-21 09:11] #19187 closed

[2022-07-21 10:11] CiraciNicolo commented on #20603
We tried to follow the codepath given the error, as you suggested we think the issues is located at https://github.com/cilium/cilium/blob/8bcc5fe2c594b5fb4b9d2966906c490dea215d83/pkg/datapath/loader/base.go#L423. But the called function is CORRECTLY setupping the ifaces as shown by `ip l`:

[code]

[2022-07-21 11:13] wokalski opened #20616 "Cilium egress gateway drops returning traffic with INVALID IDENTITY (171)"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

Egress Gateway (using the NAT policy CRD) drops traffic on the way back on the initial source node.

What happens:

[code]

where the pod that originates traffic resides on `node1`.

### Cilium Version

1.11.6

### Kernel Version

5.15.48-flatcar

### Kubernetes Version

1.23

### Sysdump

_No

[2022-07-21 13:32] wokalski commented on #20616
I can confirm it also happens with the latest CRD on 1.12.0

[code]

[2022-07-21 13:44] CiraciNicolo commented on #20603
We were able to understand the issue; our infrastructure is embedding a VPN and therefore an ip is assigned to loopback iface. The lo iface is running an MTU of 65536 and therefore cilium detect that the "node ip" is attached on the lo iface and use that MTU; the strange thing is that the k3s has as internal-ip the one assigned to eth0.

Let me explain better, so you can try to repro:
- k3s intern

[2022-07-21 13:54] vincentmli commented on #20603
so you mean if manually assign an ip to loopback interface and set loopback interface MTU to 65536 would reproduce the issue?

[2022-07-21 14:04] CiraciNicolo commented on #20603
Yes, at least in our case we noticed this line in the logs:

`level=info msg="Inheriting MTU from external network interface" device=lo ipAddr=100.127.202.4 mtu=65526 subsys=mtu`

and therefore setting the MTU of lo to 1500 fixed the issue. The main issues is understanding why cilium use that iface even if the node ip IS NOT the one assigned to lo.

[2022-07-21 14:53] vincentmli commented on #20603
based on pkg/mtu/mtu.go, you could also workaround the issue by specifying `mtu` in option through helm

[code]

the problem here is for some reason `mtuDetectIP` is the IP assigned to your loopback interface, thus `mtu` get `65526`.  this code path is when `if mtu == 0` which means cilium does not have mtu option configured by user, so if you configure cilium mtu option, it should workaround it.

[2022-07-21 15:32] vincentmli commented on #20603
I attempted to quick repro but no success

ip a s dev lo
[code]
 kubectl rollout restart ds/cilium -n kube-system

[code]

@CiraciNicolo  could you please share your cilium agent log like above when the issue happens?

[2022-07-21 17:05] JBOClara commented on #14287
With k8s v1.22.12 and cilium 1.12
[code]

[2022-07-21 18:28] alphabet5 opened #20626 "Upgrading from 1.11.6 -> 1.11.7 or 1.12.0 Fails"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

upgrading with helm from 1.11.6->1.11.7

[code]

upgrading from 1.11.6 -> 1.12.0

[code]

Flux config. Version was changed to 1.11.7 and 1.12.0 with the above resulting errors. I looked through the upgrade notes and didn't see any incompatibilities. Maybe I'm missing something though.

[code]

[2022-07-21 19:34] alphabet5 commented on #20626
Looks like the init container is still trying to run with `cgroup.autoMount.enabled=false` set.

[2022-07-22 01:12] #20555 closed

[2022-07-22 03:01] vincentmli commented on #20603
based on above code, could you run `ip route get 1.1.1.1` ? because another possibility is `mtu, err = autoDetect()` where `mtuDetectIP` is `nil` and `autoDetect()` get `mtu` based host default route to ip `1.1.1.1`

[2022-07-22 03:30] murphye opened #20631 "svc/hubble-ui is missing after running cilium hubble enable"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

I installed with `cilium install` running on k3d (with some hacks to get Cilium working on k3d). Then:

[code]

Now, when you try to access the ui...
[code]

Services available:
[code]

### Cilium Version

[code]

### Kernel Version

[code]

### Kubernetes Version

[code]

### Sysdump

_No resp

[2022-07-22 03:33] murphye commented on #20631
Looking at the logs above, when you run `cilium hubble enable` this `helm template --namespace kube-system cilium cilium/cilium` value is set:

[code]

[2022-07-22 03:34] murphye commented on #20631
Maybe this is not a bug, but rather a feature request to have a way to enable the Hubble UI via the command line?

[2022-07-22 03:37] vincentmli commented on #20603
continue to read the code and I strongly suspect `mtuDetectIP is nil`, probably your loopback interface is the interface has the default route to `1.1.1.1`

 code  path likely to prove that

[code]

[2022-07-22 03:39] murphye commented on #20631
Nevermind... found the answer... closing this issue.

[code]

[2022-07-22 03:39] #20631 closed

[2022-07-22 04:27] vincentmli commented on #20603
I attempted to add default route through loopback interface `lo` with IP assigned, still no success to repro

[2022-07-22 04:57] datsabk commented on #19057
FWIW, I tried to set this up and faced bunch of difficulties. List out the roadblocks here:
1. We need to manually enter details of every cluster we want to connect
2. The API Server CA needs to be manually entered without which the configuration wouldn't go through
3. The DNS records are not created by Helm - So we need an add-on like `external-dns` that can create records based on the provided a

[2022-07-22 06:53] gsalisbury opened #20632 "Helm chart validation fails"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

Helm chart fails linting.

### Cilium Version

1.12.0

### Kernel Version

NA

### Kubernetes Version

NA

### Sysdump

NA

### Relevant log output

[code]

### Anything else?

cilium/templates/validate.yaml:
--- snip ---
 37 {{/* validate hubble-ui specific config */}}
 38 {{- if and .Values.h

[2022-07-22 07:42] carjessu-zerohash commented on #20085
We are observing the same behaviour where pods are intermittently unable to connect any external network. This is  the case even while running in:
[code]

[2022-07-22 07:51] aspsk commented on #14287
No surprises. As was mentioned above, this test will fail until the following two features are not supported:

  * Allow HostPort on localhost
  * https://github.com/cilium/cilium/issues/9207

This is work in progress.

[2022-07-22 10:52] sayboras commented on #20632
👋

Thanks for reporting this issue, can you try with latest helm version ?

[2022-07-22 10:58] gsalisbury commented on #20632
Hi, apologies, the helm version was the problem as you suggested.

Thanks!

[2022-07-22 11:13] sayboras commented on #20632
I noticed that older helm versions (<3.6) might have such an issue. Hence, just want to confirm if the latest helm version can help here.

[2022-07-22 11:15] gsalisbury commented on #20632
Yes you're correct, our pipeline uses an older helm version, running with helm 3.9.1 however, `helm lint` completes successfully.

[2022-07-22 12:42] ghost opened #20634 "CFP: IngressController in tunnel: disabled mode"
## Cilium Feature Proposal

Thanks for taking time to make a feature request for Cilium! If you have usage questions, please try the [slack channel](http://slack.cilium.io/) and see the [FAQ](https://github.com/cilium/cilium/issues?utf8=%E2%9C%93&q=is:issue+label:kind/question+) first.

**Is your feature request related to a problem?**

I am trying to implement ingresscontroller to my existing cil

[2022-07-22 12:43] kks427 commented on #19279
do we have any update on this issue..!?

[2022-07-22 14:04] frezbo opened #20636 "Cilium 1.12.0 fails to install on clusters that blocks `SYS_MODULE`"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

On Kubernetes cluster where containerd is started with `SYS_MODULE` capability dropped, installing Cilium 1.12.0 fails in the `clean-cilium-state` initContainer since it explicitly requests `SYS_MODULE` capability. Modifying the helm chart to set `securityContext.privileged: true` fixes this is

[2022-07-22 17:33] hemslo commented on #20632
Multiline support in template is added in go 1.16, [doc](https://go.dev/doc/go1.16). Details in [this commit](https://github.com/golang/go/commit/9384d34c58099657bb1b133beaf3ff37ada9b017)

Helm updated to go 1.16 after [3.7.0](https://github.com/helm/helm/releases/tag/v3.7.0).

If we want to support older versions of helm, then we need to inline the section:
[code]

[2022-07-22 18:23] CiraciNicolo commented on #20603
Hello, sorry for the silence. We don't have 1.1.1.1 as default route for loopback, but the loopback iface has an assigned ip because we make use of a redundant VPN (2 servers are connected) and therefore we assign the "vip" to loopback interface. I'm also unable to repro right now, we are doing stuff with this k3s instances and I cannot break them right now 😁

Regarding the mtu parameter, I didn't

[2022-07-22 21:02] vincentmli commented on #20603
the cilium agent has an argument here  https://docs.cilium.io/en/stable/cmdref/cilium-agent
`--mtu int                                                 Overwrite auto-detected MTU of underlying network`
it seems not supported in helm install though

[2022-07-23 04:51] sayboras commented on #20626
seems related to the new initContainer apply-sysctl-overwrites, which requires cgroup.autoMount.enabled set as true.

https://github.com/cilium/cilium/pull/20072

[2022-07-23 19:23] anfernee opened #20641 "UT: make tests-priviledged"
## unit test failure

`make tests-priviledged` failed with the following error:

[code]

I believe it's related to this change https://github.com/cilium/cilium/commit/a428914c27d4e6c14964bfd76ea15bcc07b054b2 which assumes `cilium_net` exists.

[2022-07-24 13:59] lht commented on #14243
I've been looking at implement this.

@brb  could you suggest how to pass the direct routing device's ENI id to the operator? From my understanding, the direct routing device detection is done by the agent and the operator has no knowledge of how to map device name to ENI interface.

An alternative is letting the operator to disable the `SourceDestCheck` flag for all the attached ENIs. But as bein

[2022-07-25 03:31] yanhongchang opened #20644 "cilium agent initcontainers unexpected restart"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

In my k8s（1.20.8） environment， I found the cilium-agent's two init containers（k8s_clean-cilium-state，k8s_mount-cgroup） expected restart，and those pods running in this node will be Error，describe those error pods，will see some failed message such as “mysql or redis connection timeout”。
by the wa

[2022-07-25 05:47] eminaktas commented on #20055
@sayboras Have you had a chance to review the new changes in the PR?

[2022-07-25 08:33] bmcustodio commented on #19890
This has been extensively documented in https://docs.cilium.io/en/v1.11/gettingstarted/taints/#taint-effects, in particular

[2022-07-25 08:33] #19890 closed

[2022-07-25 09:34] therapy-lf opened #20646 "CFP: IngressController configurable cloud provider related LoadBalancer"
## Cilium Feature Proposal

**Is your feature request related to a problem?**

Cilium adds ingress service without any option to pass additional annotations to it. These annotations are used for various cloud and other controllers. For instance, configuring AWS LoadBalancer or cert-manager:

[code]

Also, there's no way to re-use the same cloud LoadBalancer for multiple ingress services. It'd be g

[2022-07-25 11:31] wenhuwang commented on #20604
you are right, the API spec for FQDN Egress policies code comments really wrong.
`*google.com` will not match `www.google.com` or `blog.google.com`.

[2022-07-25 11:32] wenhuwang commented on #20604
assign @wenhuwang

[2022-07-25 14:04] CiraciNicolo commented on #20603
Awesome! Now we are able to bind on lo for MGMT stuff! I think we can close this issues since the problem is very specific to our infrastructure.

[2022-07-25 14:42] #20603 closed

[2022-07-25 17:08] joaoubaldo opened #20650 "Partial traffic drop when CNP allows it"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

Hubble is showing frequent dropped egress traffic for requests that are allowed with a CNP `toFQDNs` rule. I expected all traffic matching the CNP rule to be allowed at all times.

For example, running `hubble observe` for around 30 seconds, filtering TCP SYN only and a single traffic direction

[2022-07-25 18:09] floriandorau commented on #20459
@christarazi  Did you have time to have a look a the sysdump? For me it's hard to understand what to look for.

[2022-07-25 19:12] j-land commented on #18084
I don't at the moment :(

[2022-07-25 20:24] joestringer opened #20651 "CI: control-plane/services/nodeport/v1.22: fatal error: concurrent map writes"
In a PR that only made changes to the CNI plugin, I observed this on Travis:

https://app.travis-ci.com/github/cilium/cilium/jobs/577440300#L994

[code]

(More stack traces are available on the build link, I trimmed it as GitHub was complaining about the issue text being too long).

[2022-07-26 03:52] abasitt opened #20652 "CFP: Cilium Cli/Node agent BGP verification support"
Cilium BGP control plane have no client side verification in place. Currently the verification can only be done from the TOR side. This is important for few reasons e.g.

- Configuring a wrong peer IP address, the TOR will not show anything and user will have hard time to figure out what went wrong. One simple command on the cli to show status of BGP can really help.
- Client and TOR doesn't agree

[2022-07-26 04:12] wenhuwang commented on #20604
assign @wenhuwang

[2022-07-26 04:49] abasitt opened #20653 "CFP: Cilium BGP control Plane support inter nodes BGP"
## Cilium Feature Proposal

The current implementation of BGP control plane only support peering with external TOR. We want to have BGP feature that can do peering between cilium nodes, without any dependencies on the TOR.
Currently the inter-node traffic is routed using overlays e.g. vxlan which adds additional overhead. In some-cases vxlan may have limited support e.g. as of today Cilium doesn't

[2022-07-26 05:11] odidev commented on #19713
Is there any update on the above issue?

[2022-07-26 07:28] eminaktas commented on #19993
We are seeing this issue in our environment as well. Any idea what is causing this and is there a way to debug this error?

[code]

[code]

[2022-07-26 08:40] sayboras opened #20655 "CFP: Add support for k8s Gateway API"
## Cilium Feature Proposal

This issue is to discuss and track for [k8s API Gateway][1] work mentioned in [roadmap][2]. Kindly note that the actual work or implementation might vary based on the discussion and requirements mentioned in this GitHub issue.

### Pre-tasks v1.13.0-rc1

While it's not strictly required, it's best to complete all follow-up items in https://github.com/cilium/cilium/issue

[2022-07-26 08:48] brb commented on #19713
Noup, I haven't hit it / haven't looked closer into it.

[2022-07-26 08:49] brb commented on #19993
@eminaktas Can you post a sysdump for the node which has hit the sync errors?

[2022-07-26 09:58] brb commented on #14118
We could support ICMP Echo to LoadBalancer VIP. This could be used by user health checks, i.e. whether a LoadBalancer service has been plumbed yet.

[2022-07-26 09:59] eminaktas commented on #19993
I added the sysdump for the node here -> [cilium-sysdump-20220726-120708.zip](https://github.com/cilium/cilium/files/9188342/cilium-sysdump-20220726-120708.zip)

I have just upgraded the image version to 1.12.0, I didn't see the error message. However, the 1.11.7 version has the same error message.

[2022-07-26 10:09] brb commented on #14243
We are trying to get rid of the "direct routing device" notion - https://github.com/cilium/cilium/issues/17441.

[2022-07-26 12:10] brb commented on #14118
Yeah, makes sense, since the LB VIP will be eventually available to the watcher, and thus the interested parties.

[2022-07-26 12:17] #20595 closed

[2022-07-26 12:20] gandro commented on #19438
@Charlottell Thanks for the report. Given that it affected kubeapi server nodes in your report as well, I believe this has been fixed with https://github.com/cilium/cilium/pull/20210 in the latest v1.11.7 release. Closing, please let me know if you feel otherwise.

[2022-07-26 12:20] #19438 closed

[2022-07-26 12:21] aanm commented on #20636
Hello @frezbo,

thank you for opening the GH issue. Unfortunately, the `SYS_MODULE` is indeed required to install some iptables rules which affects Cilium operations so we can't make it optional.

[2022-07-26 12:25] gandro commented on #20651
cc @joamaki

[2022-07-26 12:51] frezbo commented on #20636
Isn't that the case only when the `iptables` module is not loaded? From my testing it was not using that capability when ran as privileged pod and when the containerd was started with the `SYS_MODULE` capability dropped.

[2022-07-26 12:53] frezbo commented on #20636
Probably that was confusing, in the test scenario, the `iptables` modules was already loaded, so cilium had no need to load it

[2022-07-26 13:09] travisghansen commented on #14118
IMO icmp should be dropped until the service spec supports defining icmp and it’s been explicitly set/enabled on the service.

[2022-07-26 13:55] #20626 closed

[2022-07-26 19:42] akhilles commented on #18987
Maybe consider using [`ClusterCIDRConfig`](https://github.com/kubernetes/enhancements/tree/master/keps/sig-network/2593-multiple-cluster-cidrs#new-resource) objects instead? The KEP was approved and there's a PR to merge the APIs: https://github.com/kubernetes/kubernetes/pull/111123.

[2022-07-26 22:58] JBOClara commented on #18644
Is there any activity on this issue ?

`cilium connectivity test` fail with node-local-dns and cilium v1.12 - k8s 1.22.11 - kops 1.24.0 + LRP

I'm using kops clusterSpec to set up nodelocaldns
https://github.com/kubernetes/kops/blob/v1.24.0/upup/models/cloudup/resources/addons/nodelocaldns.addons.k8s.io/k8s-1.12.yaml.template#L154-L157

Do we have to enable `spec.kubeDNS.nodeLocalDNS.forwardToKube

[2022-07-27 00:11] chrism417 opened #20666 "cilium-operator crashes due to eni-tags upgrading from 1.23.2 to 1.24.3"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

using kOps to upgrade from 1.23.2 to 1.24.3 we're seeing the following error in the cilium-operator causing kOps to stop the upgrade:

`level=info msg="Started gops server" address="127.0.0.1:9891" subsys=cilium-operator
level=fatal msg="unable to parse eni-tags: 'Environment=Staging,JiraProjec

[2022-07-27 08:49] phin1x opened #20667 "no outgoing traffic after the Cilium agent has been stopped"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

We are in the process of migrating our cni to cilium. When cilium is running, everything works as expected. But when the Cilium agent is stopped (e.g. when the agent is restarted), all outgoing packets are discarded somewhere. When I try to run curl, I get a connection timeout error. Kubelet ha

[2022-07-27 11:31] sayboras commented on #20632
Considering that the latest helm version (e.g. 3.9.2) is compiled with go 1.17.x, and go 1.16 is EOL now, I don't think it's worth spending time to support older helm version such as 3.6.x (compiled with go 1.15.x).

[2022-07-27 11:31] #20632 closed

[2022-07-27 13:55] #20547 closed

[2022-07-27 14:35] aditighag commented on #18644
Does the connectivity test consistently fail? We've had flakes with the dns test in our CI.

[2022-07-27 14:35] aanm commented on #20636
@frezbo you are right, it might have been an oversight from our side. Consider submitting a PR removing it from everything. If the CI doesn't complain I don't see why we can't merge it. Thank you

[2022-07-27 15:09] sayboras commented on #20547
Thanks.

While the issue is closed, do you think any docs improvement required  ?

https://docs.cilium.io/en/latest/gettingstarted/clustermesh/clustermesh/#cluster-addressing-requirements

[2022-07-27 15:15] aanm commented on #20636
@frezbo I've brought this up in this week's developer meeting. It looks that `SYS_MODULE` is indeed used when iptables is executed which can load some modules automatically.

[2022-07-27 15:26] frezbo commented on #20636
It probably explains why it worked in Talos when ran with privileged mode even though `SYS_MODULE` was already dropped (there are no user loadable modules and all modules are already built in to kernel). I'm not sure what would be the right approach here. I can do a PR that by default still allows `SYS_MODULE` and have an option to optionally disable them.

[2022-07-27 15:31] JBOClara commented on #18644
Yes, they fail consistently.

[2022-07-27 15:59] jaredledvina opened #20672 "Cilium Agent 1.10.13 fails to run w/ ipv6.disable=1 kernel parameter"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

After upgrading from 1.10.12 to 1.10.13, our cilium-agent processes now fail with a `FATAL` log due to `ip6table` usage. My understanding is that this is because we have configured the kernel parameter `ipv6.disable=1`.

Prior to 1.10.13, these were just error's that were ignored, I highlighted

[2022-07-27 16:02] tklauser commented on #20666
Thanks for the report @chrism417! It looks like this was introduced by #19955. I'll send a fix.

[2022-07-27 19:37] timbuchwaldt commented on #19931
From what it looks like we saw this on one of our clusters, too. Same behaviour - STS was rolled, suddenly a new pod has a mismatching IP in the CEP object.
Possibly interesting: We set `terminationGracePeriodSeconds: 0` in this specifc case - this could mean the pod is already starting again when Cilium gets the info the old one is being terminated.

[2022-07-27 19:39] vincentmli commented on #20667
it appears you have lot of feature turned on like `loadBalancer:`, and `l7Proxy:`, i am not saying these features would cause problem, but from trouble shooting  perspective, I would suggest to have a minimum features enabled and try to reproduce the issue, so the trouble shooting is more targeted, just a suggestion.

[2022-07-27 20:23] aditighag commented on #18644
@JBOClara You don't need the hard-coded `169.254` address in node-local-dns.yaml if you are deploying with LRP. I would suggest following these exact instructions - https://docs.cilium.io/en/latest/gettingstarted/local-redirect-policy/#node-local-dns-cache.

I didn't follow - did you follow the LRP guide, and run into errors? What are the errors?

[2022-07-27 20:38] JBOClara commented on #18644
Yes, I tested both. There is error with https://docs.cilium.io/en/latest/gettingstarted/local-redirect-policy/#node-local-dns-cache too.

It seems related to the bug about 169.254.20.10 labeled as world as described here https://github.com/cilium/cilium/issues/20055

[2022-07-27 20:48] aditighag commented on #18644
For LRP deployment, you need to add `k8s-app: node-local-dns` to the connectivity test policy endpoint selector label.

[2022-07-28 06:50] lengrongfu opened #20676 "unable to set memory resource limits"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

level=info msg="clang (10.0.0) and kernel (5.18.14) versions: OK!" subsys=linux-datapath
level=info msg="linking environment: OK!" subsys=linux-datapath
level=info msg="Detected mounted BPF filesystem at /sys/fs/bpf" subsys=bpf
level=info msg="Mounted cgroupv2 filesystem at /run/cilium/cgroupv2

[2022-07-28 07:29] phin1x commented on #20667
i've testet many feature combinations (from basic to more advanced) but the problem kept occurring. Some features like l7Proxy are enabled by default.

[2022-07-28 08:25] olga-mir opened #20677 "Cilium on EKS with Bottlerocket and AWS VPC CNI chaning mode does not work without setting hostLegacyRouting to true"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

Following these instructions as is, including creating EKS cluster with `eksctl`, but not including SG for pods: https://docs.cilium.io/en/v1.12/gettingstarted/cni-chaining-aws-cni/#chaining-aws-cni the resulting EKS cluster is functional and connectivity tests pass. However if I create the clu

[2022-07-28 08:27] wu0407 opened #20678 "ENI: new node not does not immediately trigger the creation of Eni"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

1. New node add to cluster, it not immediately trigger the creation of Eni.  Until resync period is triggered, eni be created in new node. so agent in waiting eni create max duration is 1min.
2. It happend in aws and alibabacloud and azure.
3. it also find log in issue https://github.com/cilium

[2022-07-28 08:58] delfws opened #20679 "Unable to contact k8s api-server and Unable to initialize Kubernetes subsystem"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

## Follow the operation
[Kubernetes Without kube-proxy](https://docs.cilium.io/en/stable/gettingstarted/kubeproxy-free/)

### install step
~ # kubeadm init ... --skip-phases=addon/kube-proxy
~ # helm install cilium cilium/cilium --version 1.12.0 \
--namespace kube-system \
--set kubeProxyReplac

[2022-07-28 09:29] jibi commented on #20672
Reproduced on 1.10.13:

[code]

[2022-07-28 11:32] iFrozenPhoenix commented on #19515
@aanm any plans on supporting this?

[2022-07-28 11:42] sayboras commented on #20676
can you try to add CAP_SYS_RESOURCE in securityContext.extraCapabilities list ?

[2022-07-28 12:09] fazizsoltani opened #20684 "cilium installation failed on specefic EKS instance type"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

I got these error messages on the cilium pod when the EKS instance type is m6i.2xlarge
my cilium version is 1.9.18 based on documentation.
[code]

### Cilium Version

1.9.18

### Kernel Version

Linux ip-172-30-21-228.ec2.internal 5.4.196-108.356.amzn2.x86_64 #1 SMP Thu May 26 12:49:47 UTC 2022

[2022-07-28 12:14] jibi commented on #19515
Hey @iFrozenPhoenix :wave:
I don't think there's any plan for now to support this as the required changes would quite involved and we haven't received any PR from the community

[2022-07-28 12:18] chrism417 commented on #20666
Thanks @tklauser for getting this done so fast

[2022-07-28 12:46] gandro commented on #20684
As the error message indicates, are there any errors or warnings in the operator logs?

My guess is that m6i.2xlarge is too new to be understood by Cilium 1.9 (which is EOL). You can work around that issue by manually providing the instance limit metadata for `m6i.2xlarge` via the `aws-instance-limit-mapping` configmap value, see the following comment for an example:

https://github.com/cilium/cil

[2022-07-28 13:44] ti-mo commented on #920
Closing this in favor of milestone https://github.com/cilium/cilium/milestone/38.

[2022-07-28 13:44] #920 closed

[2022-07-28 14:06] #20666 closed

[2022-07-28 14:15] ti-mo opened #20691 "Always migrate tail call maps"
Context: https://github.com/cilium/cilium/pull/20425#issuecomment-1198135951

During ELF loading, the loader can encounter a tail call map with a different maxentries compared to the already-pinned tail call map for the endpoint, which leads it to recreate the map with the new size. Currently, when the agent starts up (or when a contributor changes some BPF .c during development and triggers an en

[2022-07-28 14:20] ti-mo opened #20692 "init.sh: migrate alignchecker to use BTF instead of DWARF"
With `cilium/ebpf`'s btf/ package now being public, there is no longer a reason to compile datapath ELFs with DWARF data and parsing it in userspace. We're compiling ELFs with `-g` since a few releases, so BTF presence can be assumed.

Additionally, we don't really need to build a separate alignchecker BPF ELF. Perform align checking on the actual datapath ELFs and remove `bpf_alignchecker.c`. Thi

[2022-07-28 14:31] arukiidou commented on #17745
I had to compile the latest WSL kernel (5.10.102.1), from ubuntu22.04 builder.

## Build-instructions(Official)

I had installed packages according to build-instructions.
https://github.com/microsoft/WSL2-Linux-Kernel#build-instructions

But, it is missing some packages.
[code]

## Build-instructions(After all)

We can compile the package by installing it
[code]

## Sample: `.gitlab-ci.yml`

[code

[2022-07-28 14:51] ti-mo opened #20694 "Probe `NTF_EXT_LEARNED` and `NTF_EXT_MANAGED` flags using netlink"

[2022-07-28 15:22] ti-mo opened #20698 "Deprecate ProbeManager in favor of `cilium/ebpf/features/`"
The goal is to avoid shelling out to external tools as much as possible. This makes everything accounted for in pprof, allows us to leverage Go tooling as much as possible, gives more accurate error feedback, avoids passing passing data back and forth over stdio, and obviates the need to parse (rather significant) `bpftool -j` output in this case.

The first iteration is https://github.com/cilium/

[2022-07-28 15:30] ti-mo opened #20699 "init.sh: move tunnel device setup to Go package"
This is a standalone part, so lift it out of init.sh, rewrite in Go and execute it early in agent startup.

Need input from the team at large to know where this code can land. Might need creation of a new package, or could be added to a related, existing one.

This touches netlink, so in-depth test coverage might need to wait until we have some better netns sandboxing infra in place.

[2022-07-28 16:01] brb commented on #20692
Maybe `help-wanted` and `good-first-issue`?

[2022-07-28 16:54] vincentmli commented on #20667
maybe list detail reproduction steps with minimum features would help, what environment is this cluster in, public cloud?

[2022-07-28 16:57] rgo3 opened #20701 "Probes: replace bpftool kconfig probes with a pure Go API"
Currently the ProbeManager has a function that uses `bpftool`'s output to verify certain kconfig settings.

In order to deprecate ProbeManager (#20062) and not having to shell out to `bpftool` we should investigate if we need to add an API to the `probes` pkg that parses the kconfig and checks for needed values in pure Go or if we can get away with other already existing probes (ideas mentioned in

[2022-07-29 03:38] olga-mir commented on #20677
with AWS EKS support engineer help we narrowed this down to be 1.12.0 cilium issue on bottlerocket. The same setup on BR EKS cluster works with 1.11.7 version, however it works by falling back to legacy routing. To sum up:

1.12.0 on AL2 - works. Cilium sets HostRouting mode to Legacy
1.12.0 on BR - does not work. Cilium sets HostRouting mode to BPF
1.11.7 on BR - works. Cilium sets HostRouting mo

[2022-07-29 04:22] wu0407 opened #20704 "eni: need redesign eni metric, many wrong and ambiguities metrics"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

Many wrong metrics that has no label value or metrics name is ambiguities in eni metrics.
such as:
1.  Failed to release ip that call `IncAllocationAttempt` in `handleIPRelease`. `IncAllocationAttempt` is mean "Number of interfaces allocated", it not represent an error in releasing IP. https://

[2022-07-29 07:22] romanspb80 opened #20705 "CI: 'sudo make -C test/ test ' doen't work"
Hello

I try to run end-to-end tests.
But they fails:

[code]

[2022-07-29 07:35] brb commented on #18318
No longer relevant due to #20618.

[2022-07-29 07:37] brb commented on #20677
cc @borkmann

[2022-07-29 07:44] brb commented on #14957
Closing in favor of https://github.com/cilium/cilium/issues/20606.

[2022-07-29 07:44] #14957 closed

[2022-07-29 09:08] phin1x commented on #20667
The cluster is  a on-prem vanilla kubernetes. we are using sles15 sp4 and opensuse 15.4 as host os.

Reproduction would be:
- Deploy a on-prem kubernetes cluster (for example with kubeadm)
- Deploy cilium with the values above
- Stop cilium agent on one node (kubectl delete pod cilium-agent-<id>)

[2022-07-29 11:17] brb opened #20707 "CI: Create control plane tests for IPsec"
To have a better coverage of the IPSec integration, we could implement privileged control plane tests in a similar manner as we have done for testing the neighbor entries management - https://github.com/cilium/cilium/blob/v1.12.0/pkg/datapath/linux/node_linux_test.go#L1067.

The test would start multiple node manager instances running in different network namespaces which would configure IPSec amo

[2022-07-29 12:58] #20672 closed

[2022-07-29 13:03] #19586 closed

[2022-07-29 13:17] xmulligan opened #20712 "CFP: Software Bill of Materials (SBOM)"
## Cilium Feature Proposal

**Is your feature request related to a problem?**

No

**Describe the feature you'd like**

With each release of Cilium, it would be great to have a software bill of materials.

[2022-07-29 13:17] jibi commented on #20672
Hey @jaredledvina :wave: the fix has been merged in master, once backported it should land in the next 1.10 release

[2022-07-29 13:36] #20431 closed

[2022-07-29 13:42] #17880 closed

[2022-07-29 13:52] vosdev opened #20713 "BGP: Announcing IPv6 causes 100% cpu on cilium-agent/containerd and cilium completely hangs."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

A bug happened!

[code]

When I stick solely to IPv4, the addresses are announced just fine via BGP and accepted by my router.

When I add IPv6 address space to the BGP address pool, reload cilium and wait for an ipv6 address to be handed out to a service, cilium-agent/containerd immediately ju

[2022-07-29 13:54] wu0407 commented on #20644
You has any docker clean image or container?
https://github.com/istio/istio/issues/19717

[2022-07-29 14:31] jaredledvina commented on #20672
Sounds great, thanks @jibi !

[2022-07-29 14:34] vincentmli commented on #20667
I have on-prem kubernetes setup by kubeadm, could not reproduce the issue, what is the vanilla image tag look like? I recall it is `cilium: ci` or something like that, can you share the full image link to save me from finding it ? also any chance to share the sysdump or cilium agent log while cilium agent restart?

[2022-07-29 14:40] ldelossa commented on #20713
Hello @vosdev

Currently, we do not plan on supporting IPv6 with out MetalLB feature set.

Instead we have migrated toward the new "BGP Control Plane" feature set which properly supports IPv6. See: https://docs.cilium.io/en/v1.12/gettingstarted/bgp-control-plane/#cilium-bgp-control-plane

The issue you see here is because the MetalLB fork we use does not support IPv6 and we do not plan on patching

[2022-07-29 14:42] vosdev commented on #20713
Sweet, I'll immediately start with a rewrite of my configuration!

[2022-07-29 14:50] ldelossa commented on #20713
@vosdev please be aware, the ability to announce LoadBalancer IPs via BGP has not been ported over to the BGP Control Plane feature set yet.

[2022-07-29 14:59] l1b0k opened #20714 "Cilium failed to delete iptables"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

cilium failed to delete iptables rules, and due to resent change #19693 cause cilium agent failed to start.

[code]

Cilium container is using ubuntu:20.04 with iptables v1.8.4 (nf_tables) , is the root cause.

### Cilium Version

v1.12.0

### Kernel Version

NA

### Kubernetes Version

NA

###

[2022-07-29 15:06] aanm commented on #20714
@l1b0k can you try out with https://github.com/cilium/cilium/pull/20680 to see if the problem still persists? Thank you

[2022-07-29 15:09] vosdev commented on #20713
And handing out External IPs will stay a MetalLB feature or will this also move to the control plane?

So this part of the MetalLB config:
[code]

[2022-07-29 15:44] l1b0k commented on #20714
That won't help, Reproduct follow with iptable at 1.8.4
[code]

[2022-07-29 16:55] ldelossa commented on #20713
This will be ported over to the "BGP Control Plane" feature set as well.
The goal is to replace most MetalLB functionality.

[2022-07-29 17:02] jasonaliyetti opened #20718 "NetworkPolicy broken when using AWS ENI routing"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

Basic Kubernetes Network Policy breaks.

### Cilium Version

1.11.6

### Kernel Version

5.10.126-117.518.amzn2.x86_64

### Kubernetes Version

1.21

### Sysdump

Unable to provide at this time

### Relevant log output

[code]

### Anything else?

Cilium is deployed on an EKS cluster using AWS

[2022-07-29 17:45] fazizsoltani opened #20720 "Install cilium with vpc cni failed"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

I installed cilium with vpc cni, after I run the Cilium connectivity test command I got multiple errors in tests. How could I troubleshoot what my problem is? thanks

[code]

### Cilium Version

1.12.0

### Kernel Version

Linux ip-172-30-21-228.ec2.internal 5.4.196-108.356.amzn2.x86_64 https:/

[2022-07-29 17:45] fazizsoltani commented on #20684
Thank you. It works

[2022-07-29 17:46] #20684 closed

[2022-07-29 18:54] gaffneyd4 commented on #13138
Can the task `Strategy for draining old backends` be marked as complete by [this PR](https://github.com/cilium/cilium/pull/17716)?

If so to clarify, does this mean that for those using `bpf-lb-algorithm: maglev`, these issues ([10217](https://github.com/cilium/cilium/issues/10217)), ([14844](https://github.com/cilium/cilium/issues/14844)) are solved as of v1.11?

[2022-07-29 18:57] jasonaliyetti commented on #20718
So, we think this may be due to our not setting ipv4-native-routing-cidr explicitly.  We run with primary and secondary subnets (for node and pod ips respectively) and maybe Cilium is getting confused when trying to set this up?  When we explicitly set this the issue seems to resolve.

This is called out in the Google Cloud section of the routing docs but not in the ENI section.

[2022-07-29 19:30] aanm commented on #19588
Fixed by https://github.com/cilium/cilium/pull/19862

[2022-07-29 19:30] #19588 closed

[2022-07-29 19:31] aanm commented on #20525
@zuzzas if port ranges would be supported, would that be considered a good alternative?

[2022-07-29 19:32] aanm commented on #20498
Closing this issue since https://github.com/cilium/cilium/pull/20072 was merged and is available on all Cilium versions

[2022-07-29 19:32] #20498 closed

[2022-07-29 19:33] aanm commented on #20069
@Jiang1155 feel free to give it a go. I'll assign the issue to you. Thank you! cc @joestringer

[2022-07-29 19:39] #17734 closed

[2022-07-29 19:39] #17691 closed

[2022-07-29 19:39] zuzzas commented on #20525
Yeah, most certainly.

[2022-07-29 19:40] #17280 closed

[2022-07-29 19:41] #17278 closed

[2022-07-29 19:42] aanm commented on #17194
@LuckySB were you able to figure out what the issue was? Thank you

[2022-07-29 19:42] #17172 closed

[2022-07-29 19:45] aanm commented on #16552
Solution has been provided [here](https://github.com/cilium/cilium/issues/16552#issuecomment-998037683) closing the GH issue. Feel free to open a new GitHub issue if you are still facing issues. Thank you

[2022-07-29 19:45] #16552 closed

[2022-07-29 19:53] #12072 closed

[2022-07-29 19:54] aanm commented on #11430
@ulfox @mnaser @uhthomas I'm going to close this GH issue. Feel free to open a new GH issue with a sysdump in case you see it again. Thank you!

[2022-07-29 19:55] #11305 closed

[2022-07-29 19:58] #10655 closed

[2022-07-29 20:00] #10799 closed

[2022-07-29 20:03] aanm commented on #20125
This is fixed since Cilium >= 1.9.18, >= 1.10.13 and >= 1.11.7, feel free to open a new GitHub issue if you are still facing issues after upgrading. Thank you!

[2022-07-29 20:03] #20125 closed

[2022-07-29 20:08] aanm commented on #20437
@lizonglin313 @wubo0067 @dbrownecu this seems to be a similar issue as https://github.com/cilium/cilium/issues/20125, please check if this was fixed with Cilium >= 1.9.18, >= 1.10.13 and >= 1.11.7. Thank you!

[2022-07-29 20:09] aanm commented on #20529
@nwxleo can you also check the output of `ip route show`? Thank you

[2022-07-29 20:11] aanm commented on #19282
If you @Dentrax or @developer-guy wants to try it out just give it a go.

[2022-07-29 20:15] aanm commented on #19279
@kks427 there was an issue with the garbage collection of identities. Please upgrade to the last Cilium version and that should be resolved. Thank you!

[2022-07-29 20:16] aanm commented on #19630
Closing as we are moving away from MetalLB

[2022-07-29 20:20] christarazi commented on #16740
@sciolgono It should be possible to resolve `'*.*.svc.cluster.local'` domains already. Please let us know if you are having issues. Closing for now.

[2022-07-29 20:20] #16740 closed

[2022-07-29 20:20] #20604 closed

[2022-07-29 20:27] aanm commented on #20679
@delfws the IP address and port for the kube-apiserver should be the real IP address, not `10.96.0.1:443`

[2022-07-29 20:32] aanm commented on #20704
@wu0407 Could you submit a PR with some fixes? Thank you!

[2022-07-29 20:35] frezbo commented on #20636
I believe it works since all the modules are already loaded (the kernel is compiled with all modules in-tree and not as a module)

[2022-07-29 20:35] aanm commented on #20678
@wu0407 Could you submit a PR with some fixes? Thank you!

[2022-07-29 20:36] aanm commented on #20644
@yanhongchang that's the expected behavior as the init containers exited with the error code zero.

[2022-07-29 20:43] kks427 commented on #19279
Is this fix available in 1.11.7 or 1.12.0..!! Thanks..

[2022-07-29 20:44] aanm commented on #20459
@floriandorau check if the files `cilium-identity.md` on each cilium agents have all the identities synchronized.

[2022-07-29 20:46] aanm commented on #20525
@zuzzas port range are being introduced [here](https://github.com/cilium/cilium/pull/20633) feel free to test it out and leave early feedback if you would like.

[2022-07-29 20:46] aanm commented on #19279
both versions have the fix.

[2022-07-29 20:47] aanm commented on #20636
@frezbo ofc in that case that makes more sense then. Could you submit a PR and describe all of this information in the commit message? Thank you!

[2022-07-29 20:59] joestringer commented on #18118
This happened to me again on a fresh kind cluster, running `make kind` + `make kind-image` + setting the image to a dev image based on the latest code.

[2022-07-29 22:19] joestringer commented on #20650
Hi @joaoubaldo , I've been looking into a similar issue in PR #20721 . Do you have a reliable reproduction environment for this? Is there any chance you could try out development images from the PR to see if it improves the situation?

[2022-07-30 01:06] wu0407 commented on #20678
/Assignees @wu0407

[2022-07-30 06:15] jianan-pony commented on #19033
check

[2022-07-30 06:16] lordofire commented on #19033
check

[2022-07-30 06:44] jamallorock commented on #20550
Hi @christarazi . It's any news about this topic?

[2022-07-30 09:22] delfws commented on #20679
Sorry, I think I know the reason. This should not be a problem with cilium, it should be a configuration problem

[2022-07-30 09:22] #20679 closed

[2022-07-30 20:04] bennycooly commented on #17738
Having the same issue here. Kube apiserver becomes unreachable after setting `bpf-lb-sock-hostns-only=true`. If the option is left disabled, then Istio mTLS doesn't work.

[2022-07-30 21:53] yuriy-yarosh commented on #20655
This would be really great for CD canary deployments via [flagger](https://docs.flagger.app/tutorials/gatewayapi-progressive-delivery).

[2022-07-31 08:37] uablrek commented on #20297
No. I have no unusual routes or iptables rules. And IPv6 works, which should be taken into account.

[2022-07-31 11:19] yanhongchang commented on #20644
@wu0407 Thanks a  lot！I have not clean image or containers , but maybe the kubelet or docker will clean those resource，I will try to reproduce this problem by this way，thank you for your guidance～

[2022-07-31 11:27] yanhongchang commented on #20644
@aanm Thanks for you attention！I found the start-up time of init containers and cilium-agent is inconsistent，and on normal nodes, the start-up of init containers and cilium agent is consistent, So I infer that this init containers was started again。this is unexpected behavior.

[2022-07-31 16:21] maintainer-s-little-helper[bot] opened #20723 "CI: K8sUpdates Tests upgrade and downgrade from a Cilium stable image to master"
### Test Name
[code]

### Failure Output
[code]

### Stacktrace
<details><summary>Click to show.</summary>

[code]
</details>

### Standard Output
<details><summary>Click to show.</summary>

[code]
</details>

### Standard Error
<details><summary>Click to show.</summary>

[code]
</details>

ZIP Links:
<details><summary>Click to show.</summary>

 https://jenkins.cilium.io/job/Cilium-PR-K8s-1.23-ker

[2022-07-31 16:22] joestringer commented on #20723
This appears to be a testsuite issue where Cilium is removed from the cluster before removing the pods, so then when kubelet attempts to delete the pods there is no CNI available to handle the delete request, leading to timeouts and the pods being stuck in Terminating state.

[2022-07-31 16:28] joestringer opened #20724 "CI: K8sVerifier Runs the kernel verifier against Cilium's BPF datapath: libbpf: Error in bpf_object__probe_loading():Operation not permitted(1)"
### Test Name

[code]

### Failure Output

[code]

### Stack Trace

[code]

### Standard Output

[code]

### Standard Error

[code]

### Resources

- Jenkins URL: https://jenkins.cilium.io/job/Cilium-PR-K8s-1.16-kernel-4.9/2223/testReport/junit/Suite-k8s-1/16/K8sVerifier_Runs_the_kernel_verifier_against_Cilium_s_BPF_datapath/
- ZIP file(s): N/A

### Anything else?

_No response_

[2022-07-31 16:31] joestringer opened #20725 "CI: K8sServicesTest Checks N/S loadbalancing Tests with XDP, direct routing, SNAT and Random: no program bpf_xdp_entry found in eBPF ELF"
### Test Name

[code]

### Failure Output

[code]

### Stack Trace

[code]

### Standard Output

[code]

### Standard Error

[code]

### Resources

- Jenkins URL: https://jenkins.cilium.io/job/Cilium-PR-K8s-1.24-kernel-net-next/394/testReport/junit/Suite-k8s-1/24/K8sServicesTest_Checks_N_S_loadbalancing_Tests_with_XDP__direct_routing__SNAT_and_Random/
- ZIP file(s):
[4f129568_K8sServicesTest_Check

[2022-07-31 16:34] nikhiljha commented on #19894
I run v6 primary, v4 secondary dual stack with kubeproxy-free cilium in production. Here's a minimal version of our kubeadm config that seems to work...

[code]

and then here's a minimal version of our Helm chart values that seems to work...

[code]

[2022-07-31 16:38] nikhiljha commented on #19894
Although just as a word of unsolicited advice: don't do this yet. I have patched versions of pretty much every component of my cluster to get other things to work (I'll upstream them eventually!). Even after you get CoreDNS to work it will still be pain 😭

[2022-07-31 19:52] jasonaliyetti commented on #20718
When we set the ipv4-native-routing-cidr to the secondary subnet cidr (the one used for pod ips) then things work as expected.  We noted that in our encrypted cluster it gets automatically set to the primary subnet (i.e. the one used for the node ip).  Which is the desired configuration here?  We are a bit confused as to what we should be setting.

[2022-08-01 07:13] LuckySB commented on #17194
no.
I thought the cilium authors should fix this bug.

[2022-08-01 08:34] delfws opened #20726 "kernel (5.18.14) versions: OK! but error="BPF NodePort services needs kernel 4.17.0 or newer." subsys=daemon"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

My kernel version is 5.18.14, but he said my kernel version is not new enough

[code]

### Cilium Version

1.12.0

### Kernel Version

Linux k8s-master 5.18.14-1.el7.elrepo.x86_64 #1 SMP PREEMPT_DYNAMIC Fri Jul 22 12:52:41 EDT 2022 x86_64 x86_64 x86_64 GNU/Linux

### Kubernetes Version

Client

[2022-08-01 09:43] sayboras commented on #20427
:wave: sorry for late reply.

Adding annotation seems to be a reasonable choice to me. PR is welcome, and feel free to reach out if you need any help to get started.

[2022-08-01 10:00] joamaki commented on #20651
Well oops, looks like it was rather silly to make the assumption that the NodeHandler callbacks are only called sequentially. It seems we have the NodeAdd and NodeUpdate being called concurrently. I'll slap a mutex into to the fake node handler.

[2022-08-01 10:11] sayboras commented on #20634
:wave: sorry for late reply.

DSR will not work with the current implementation as the redirect from LB Nodeport is to Envoy listener port. Then, envoy will handle the requests and responses based on its configuration accordingly.

You can give it a try with loadbalancer.mode=hybrid as workround.

[2022-08-01 11:10] Born2Bake commented on #20634
[code]
Nope, still getting 503 reset even with
[code]

[2022-08-01 12:55] shadowspore opened #20729 "clustermesh: traffic continues to be routed to unresponsive cluster"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

Two clusters in mesh created by ```kind``` tool ([repo](https://github.com/go-faster/cilium-mesh-testing)). Cilium clustermesh connectivity tests was passed.
Both clusters have http echo server deployments, exposed using kubernetes service with ```io.cilium/global-service: "true"``` annotation.

[2022-08-01 14:33] joestringer commented on #20725
This should be fixed by #20728.

[2022-08-01 15:17] jaredledvina opened #20732 "UDP port in-use detection inaccurate"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

Randomly, we see an cilium-agent (primarily 1.10 but, I've found 1.8 agents as well hitting this) get stuck in CrashLoopBackoff logging:
[code]

From my investigation, I can see that on this host we have another process currently sending traces to the datadog-agent:
[code]

In my [review of the

[2022-08-01 15:17] joestringer commented on #20726
Thanks for the report @delfws . The following check appears to be failing on this kernel:

https://github.com/cilium/cilium/blob/master/daemon/cmd/kube_proxy_replacement.go#L224-L225

I wonder if either `bpftool feature probe` is not working correctly to detect this feature support on this kernel? Could you try to gather the output from this command on the host and post it? (Also post exactly how

[2022-08-01 16:05] michi-covalent commented on #19772
synced up with @ungureanuvladvictor offline, `--hubble-export-file-path` should work for his use case. let's close this issue for now, we can re-open it if `--hubble-export-file-path` doesn't work ✅

[2022-08-01 16:05] #19772 closed

[2022-08-01 16:16] joestringer commented on #20732
Thanks for the report! For (1) I'm not sure there's not much we can do there. I believe that Cilium just attempts to listen on the same port, and if it's used, the kernel will respond with the address being in use. However, I agree that the suggestion (2) seems like a reasonable way to back-off / resolve this conflict.

[2022-08-01 16:26] joestringer commented on #20705
Hi @romanspb80 , the main issue appears to be this:

[code]

However, I don't see any such `ginkgo.timeout` configuration in the tree. Is it possible you have an environment variable or something that defines this flag?

[2022-08-01 16:32] #20651 closed

[2022-08-01 16:36] joestringer commented on #20691
The high-level goal of the migration step is to prepare a brand new set of maps, progs, etc. in preparation for a successful atomic transition to the new datapath, then attempt the transition, then if the transition fails roll back. Ideally even if the new version is broken there is no impact to the datapath. If I follow your proposal correctly, you're suggesting that we just _always_ follow that

[2022-08-01 17:01] nikhiljha commented on #20427
I can make a PR, but how do we want this to be designed? I think we want arbitrary overrides for the EnvoyConfig from the Ingress, so something like `io.cilium.envoy_config/path.to.config.opt.to.override=value` is my initial thought but that doesn't seem clean.

[2022-08-01 17:18] r3pek opened #20733 "Can't get the Internal-Node IPv4 (CiliumInternalIP) to get out of the 10.0.0.0/8 subnet"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

I'm trying to install cilium on a host that his on a 10.1.0.0/24 and a 10.0.0.0/24 subnet. When using `cilium install` to bootstrap it I always lose connectivity because it creates rules to the 10.0.0.0 subnet on an IP that it creates locally (CiliumInternalIP).

I've read https://docs.cilium.i

[2022-08-01 18:09] #20725 closed

[2022-08-01 18:13] #20055 closed

[2022-08-01 18:28] jaredledvina commented on #20732
@joestringer - Yeah no problem. I only noticed this since the agent's were in CrashLoopBackoff throwing those `fatal` error's forever until I manually intervened. If other folks hit this, I'm just going to use `--tofqdns-proxy-port` to force it to use a non-ephemeral, unused port in our infra.

[2022-08-01 19:04] pchaigno commented on #20724
Isn't this a duplicate of https://github.com/cilium/cilium/issues/20288?

[2022-08-01 19:30] christarazi commented on #18118
Fix: https://github.com/cilium/cilium/pull/20734

[2022-08-01 19:50] travnewmatic commented on #17349
my `kustomization.yaml` for my whole stupid cluster looks approximately like this:

[code]

i'm very open to suggestions!

my considerations for this approach are:
- i dont want to change how i'm managing argocd in my cluster. living on the 'bleeding' edge, perpetually applying `https://raw.githubusercontent.com/argoproj/argo-cd/master/manifests/install.yaml` has worked reasonably well for me.  th

[2022-08-01 20:07] joestringer commented on #20724
Yes thanks! Closing duplicate.

[2022-08-01 20:07] #20724 closed

[2022-08-01 20:49] elessyl opened #20735 "cilium-agent crashes with 'protocol not supported'"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

Trying to add a new ARM64 (Raspberry Pi 4B) node to an existing cluster.
I was expecting the cilium POD will start normally, however it was in CrashLoopBackOff status.
It looks like there is a 'protocol not supported' error raised.

### Cilium Version

cilium-cli: 0.12.0 compiled with go1.18.4

[2022-08-01 21:08] andy-v-h commented on #20735
Are you installing with helm?

[2022-08-01 21:09] andy-v-h commented on #20370
I did not need it on x86-64 ubuntu 22.04

[2022-08-01 21:31] elessyl commented on #20735
I think my problem might be RTFM.
Kernel modules were missing, which are in a different package on Ubuntu (kernel-modules-extra): xfrm_user/xfrm_interface

I might still have other issues with datapath-loader but I will rebuild the node from scratch first.

[2022-08-01 21:31] #20735 closed

[2022-08-01 21:51] r3pek commented on #20733
Ok, found the problem. Those 2 settings (`clusterPoolIPv4PodCIDRList` and `clusterPoolIPv6PodCIDRList`) depend on the `ipv4.enabled` and `ipv6.enabled` settings. After I force-set them to true, all work as expected.

Now, this behaviour doesn't really "feels" normal. I'll leave this open until someone checks out if the behaviour should be changed or not.

[2022-08-01 22:21] christarazi commented on #20459
@floriandorau Was the identity that was lost related to a statefulset pod? I wonder if you are hitting the bug that https://github.com/cilium/cilium/pull/19936 fixes. That PR is included in v1.11.7, and this bug report is for v1.11.6.

[2022-08-01 22:22] christarazi commented on #20459
Likely the Operator logs would show if it erroneously GC'd the identity in question. Unfortunately the sysdump doesn't contain the Operator logs.

[2022-08-02 01:30] christarazi commented on #20243
From looking at the sysdump, `172.28.116.118` seems to be an IP that's given to your pod experiencing the issue and it is also an IP associated with the `ip-172-28-99-131.eu-central-1.compute.internal`.

[code]

So it seems to be there's some leftover IP state in your K8s Nodes. This is causing Cilium to race when associating the IP with a particular identity: either the pod identity or the remote

[2022-08-02 01:30] christarazi commented on #20243
@andrejvanderzee

[2022-08-02 03:38] delfws commented on #20726
I ran this command, and then I checked the system requirements of cilium, and found that I forgot to modify the basic requirements configuration.

[code]

[2022-08-02 03:38] #20726 closed

[2022-08-02 07:29] Dutchy- commented on #20243
@christarazi I am of colleague of @andrejvanderzee and I hope I can clarify this.

We do not configure these cidrs explicitly, we use cilium in the ENI configuration as such (from our helm values):

[code]

I think this matches the getting started documentation from https://docs.cilium.io/en/v1.9/gettingstarted/aws-eni/
Does this clarify things enough or do you need more?

[2022-08-02 07:45] olga-mir commented on #20720
I am facing the same issue with exactly the same tests failing on a test cluster (EKS with AWS VPC CNI), and here is what I found. This test works if executed manually by kubectl exec into the same pod and running curl as in the test output.

`cilium-cli` runs this test `WithPolicy`: https://github.com/cilium/cilium-cli/blob/6b5553ee03dae1f27707d454cd5d58b1b35af7a0/connectivity/suite.go#L194  I've

[2022-08-02 08:31] brb commented on #13138
cc @aditighag

[2022-08-02 08:35] brb commented on #20723
Weird, I thought that this should have fixed this - https://github.com/cilium/cilium/pull/19666.

[2022-08-02 08:38] ti-mo opened #20737 "Rewrite cilium-probe-kernel-hz (kernel jiffies calculation) in Go"
This is currently done in `cilium-probe-kernel-hz.c` but needs separate compilation during build, and a shellout from Go code to retrieve the result at runtime.

Port this code to package `datapath/linux/probes`.

Already have most of this code ready, but seeing strange behaviour under VirtualBox.

[2022-08-02 08:46] ti-mo commented on #20701
Before we start hacking on this, we need to do some discovery around which kconfig values are actually relied upon, and whether or not this is necessary to begin with.

2 things for context:
- New libbpf has `extern kconfig`, which we're adding preliminary support for in `cilium/ebpf`: https://github.com/cilium/ebpf/issues/698. This is for accessing kconfig values from BPF C, but the libbpf implem

[2022-08-02 08:56] pchaigno opened #20738 "Missing verifier logs in Cilium logs"
The new loader doesn't give us very useful logs when hitting a verifier error:
[code]
Likely caused by https://github.com/cilium/cilium/pull/19159.

[2022-08-02 09:01] ti-mo opened #20739 "init.sh: move socket-lb creation to Go package"
This is a standalone feature that can be moved out of init.sh.

We could potentially create a datapath subpackage for this functionality so it can have a standalone test suite.

@brb Do you have any input on how to design/structure this?

[2022-08-02 09:09] ti-mo opened #20740 "init.sh: move ip-in-ip device creation to separate Go package"
This could land in a new host(lb)-related package. This needs to integrate with the socket-lb (host-lb): https://github.com/cilium/cilium/issues/20739.

[2022-08-02 09:23] ti-mo opened #20743 "Probes: generate BPF probe macros from Go"
This issue is for providing the equivalent of `bpftool feature probe macro` from Go, using existing `cilium/ebpf` feature probes and/or some additional ones we need for the agent.

Edit: One idea is to cut directly to the values our C BPF code depends on.

Instead of:
[code]

We would execute the prog/helper check in Go code and emit `#define HAVE_DIRECT_ACCESS_TO_MAP_VALUES 1` if the helper is av

[2022-08-02 09:25] ti-mo commented on #20698
Sorry, duplicate of https://github.com/cilium/cilium/issues/20062.

[2022-08-02 09:25] #20698 closed

[2022-08-02 10:08] aanm commented on #20644
@yanhongchang could you check for the kubelet logs to see if there is any relevant information that describes when an initContainer took so much time?

[2022-08-02 10:19] aanm commented on #20733
@r3pek can you clarify a little bit? The `ipv4.enabled` should be `true` by default so the `clusterPoolIPv4PodCIDRList` would have worked as expected. Wasn't that the case?

[2022-08-02 10:29] r3pek commented on #20733
@aanm nop. final command that worked was `cilium install --helm-values cilium-install.yaml`

with this `cilium-install.yaml`:
[code]

And I got the idea from here: https://github.com/cilium/cilium/blob/master/install/kubernetes/cilium/templates/cilium-configmap.yaml#L772

The exact same .yaml file without thhe ipv{4,6}.enabled lines, wouldn't pick up the CIDRs.

[2022-08-02 13:19] aanm commented on #20733
@r3pek I can't reproduce your issue:

`cilium install --helm-values cilium-install.yaml` with this `cilium-install.yaml` (noticed that `ipv4.enabled` is not specified):
[code]

[code]

[2022-08-02 13:21] aanm commented on #20733
I did notice that `cilium install --config bpf.masquerade=true,ipam.mode=cluster-pool,ipam.operator.clusterPoolIPv4PodCIDRList="10.244.0.0/16",ipam.operator.clusterPoolIPv6PodCIDRList="fd00:1::/56",ipam.operator.clusterPoolIPv4MaskSize=24,ipam.operator.clusterPoolIPv6MaskSize=112 --helm-set k8sServiceHost=10.1.0.4,k8sServicePort=6443,kubeProxyReplacement=strict` does not work as you meant. The `--

[2022-08-02 14:32] r3pek commented on #20733
Yeah.... meanwhile I understood that and placed everything on the --helm-set parameter.

can't really explain why it didn't work before. (and i since then managed to bring cilium up) I just "banged" my head on this for a day trying to bring up the cluster network without disrupting the host network routing :wink:

Out of curiosity (since I really didn't check the ConfigMap), I suppose your cilium_

[2022-08-02 14:59] joaoubaldo commented on #20650
@joestringer I was able to replicate this in a testing environment by:
- setting `tofqdns-endpoint-max-ip-per-hostname` to a very low value (eg. 2)
- create a `client` CNP with an egress `toFQDNs` rule
- launch a `client` pod running `while true; do curl -I -m1 https://sqs.eu-west-1.amazonaws.com`

I am now testing your PR.

[2022-08-02 16:01] aanm commented on #20733
@r3pek yes
[code]

[2022-08-02 16:03] r3pek commented on #20733
weird then. can't really understand what went wrong then. Feel free to close if nothing else pops your mind.

[2022-08-02 16:58] anthonyhaussman opened #20751 "Services unavailable, Cilium `v1.11.7` status return unreachable control-plane"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

Hi, :wave:

We have upgraded recently Cilium from `v1.10.11` on Kubernetes `v1.23.8` to Cilium `v1.11.7` with Kubernetes `v1.24.3`.
Since we have encountered several problems to reach our internal services or via ingress resources.
They become unavailable and not possible to reach them via an I

[2022-08-02 20:25] #20733 closed

[2022-08-02 20:27] aanm commented on #19571
@christarazi @MikeLing can we close this issue or are still usages of `fmt.Sprintf` to be fixed?

[2022-08-02 20:34] christarazi commented on #19571
@aanm This command output is giving me relevant files to investigate:

[code]

[2022-08-02 21:16] christarazi commented on #20243
@Dutchy- Ah you're right, my base premise was off about node IPs and pod IPs.

Back to the actual issue, it seems to me that some extra IPs in the K8s Node are colliding with the pod IP. Cilium is going to have a hard time knowing if that is an IP for a pod or for a node, which impacts the identity that IP is associated with in the ipcache. This is the exact issue you are seeing. Which brings us t

[2022-08-02 22:05] christarazi commented on #20243
This issue seems very relevant: https://github.com/kubernetes/kubernetes/issues/61921

Did you modify anything related to the EKS startup script which configures kubelet at all?

[2022-08-02 22:28] chancez commented on #20243
@Dutchy- Are you using the standard EKS AMIs? Have you overridden the kubelet's or configuration in anyways? I want to know if the `--node-ip` kubelet flag is being set. You may be hitting https://github.com/kubernetes/kubernetes/issues/61921 as @christarazi mentioned.

If your using the standard EKS image, then the `--node-ip` flag should be set (https://github.com/awslabs/amazon-eks-ami/blob/mas

[2022-08-02 23:42] YutaroHayakawa commented on #20653
FYI, if all nodes share a single L2 network, then you can use `auto-direct-node-routes` option to achieve the same thing.

[2022-08-03 02:07] #19421 closed

[2022-08-03 03:58] luanphantiki commented on #20265
I see when a pod is annotated with `io.cilium.proxy-visibility:`, it's routed to envoy (the same mechanism when we have the l7 policy applied on this pod). I have faced with the same issue too, then I realized that the issue caused by connection timed out from envoy to the upstream pod.

Let's see my debug log

[code]
But unfortunately there is no reason why connection timeout:
[code]
I have also

[2022-08-03 04:34] MikeLing commented on #19571
Will follow up this issue and start to solve the reset of `fmt` issue

[2022-08-03 05:09] abasitt commented on #20653
@YutaroHayakawa thank you for sharing this.

[2022-08-03 07:26] Skarlso opened #20756 "Unable to initialize IPv6 allocator New CIDR set failed; the node CIDR size is too big"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

I'm trying to set up an ipv6 cluster. I have these two settings:

[code]

This is the CIDR I've got from AWS. I don't know what to do any further since there is zero documentation on cilium on how to properly set up an ipv6 network topology.

### Cilium Version

1.9

### Kernel Version

linux

[2022-08-03 07:38] Skarlso commented on #20756
I've set the CIDR to `2a05:d014:852:f02::/112`. That worked. :D But it's still strange and would love if there was proper documentation describing how to set up Cilium with IPv6. :/

[2022-08-03 08:23] aanm commented on #20756
Hi @Skarlso, did you check https://docs.cilium.io/en/v1.12/gettingstarted/ipam-cluster-pool/#enable-cluster-pool-ipam-mode?

[2022-08-03 08:25] Skarlso commented on #20756
I... did. That has nothing ipv6 specific in it. :) Neither does it talk about maximum CIDR size limits. :)

[2022-08-03 08:34] gandro commented on #20756
The source of the message comes for here:

https://github.com/kubernetes/kubernetes/blob/ea0764452222146c47ec826977f49d7001b0ea8c/pkg/controller/nodeipam/ipam/cidrset/cidr_set.go#L71-L74

https://github.com/kubernetes/kubernetes/blob/ea0764452222146c47ec826977f49d7001b0ea8c/pkg/controller/nodeipam/ipam/cidrset/cidr_set.go#L56-L61

We're using a fork of that code ( https://pkg.go.dev/github.com/cil

[2022-08-03 08:37] Dutchy- commented on #20243
I believe you guys are on to something. We use a custom worker and we run kubectl with `--node-ip=$AFTERBURN_AWS_IPV4_LOCAL` but if I look at `ps aux | grep kubelet` I see that this variable is not getting replaced at all.

`ps aux` output:
[code]

I will get this fixed and report back.

[2022-08-03 12:32] maintainer-s-little-helper[bot] opened #20763 "CI: K8sVerifier Runs the kernel verifier against Cilium's BPF datapath"
### Test Name
[code]

### Failure Output
[code]

### Stacktrace
<details><summary>Click to show.</summary>

[code]
</details>

### Standard Output
<details><summary>Click to show.</summary>

[code]
</details>

### Standard Error
<details><summary>Click to show.</summary>

[code]
</details>

ZIP Links:
<details><summary>Click to show.</summary>

 https://jenkins.cilium.io/job/Cilium-PR-K8s-1.23-ker

[2022-08-03 15:27] aditighag commented on #17754
@judexzhu We've shipped some fixes in recent releases. Could you try with the latest version, and report back if the issue still persists? Thanks!

[2022-08-03 16:09] judexzhu commented on #17754
@aditighag I follow the https://docs.cilium.io/en/v1.11/gettingstarted/local-redirect-policy/#local-redirect-policy
and found no error now.
Close the issue. Thank you for help.

[2022-08-03 16:09] #17754 closed

[2022-08-03 16:16] aditighag commented on #17754
Thanks for the follow-up!

[2022-08-03 16:38] joaoubaldo commented on #20650
@joestringer The issue still exists after trying an image built from [this](https://github.com/cilium/cilium/pull/20721) PR.
Uploaded sysdump [here](https://drive.google.com/file/d/16Rd8jfjQCR3_PaOMcrkNfkBBiM9JiaPB/view?usp=sharing).

[2022-08-03 17:11] mcwiet commented on #20720
+1, seeing these same failures with v1.12 with AWS VPC CNI v1.11.2-eksbuild.1

[2022-08-03 18:43] joestringer commented on #12277
Broadly I think that (1) is the right direction to move towards to solve this issue. #19765 will start to put infrastructure in place that will help with associating CIDR labels with the node IPs. This infra will be useful to implement a solution to this issue, but it doesn't aim to solve this problem right now.

[2022-08-03 21:41] joestringer commented on #20650
@joaoubaldo hmm, for what it's worth I do see stuff like this in the logs:

[code]

The `Timeout waiting for response to ...` is an indication that the upstream DNS server did not respond to the DNS request within 10s. Without a stable upstream DNS server, I can see how the curl requests could end up timing out. Maybe you could annotate the curl command a bit more with details about the connection

[2022-08-03 21:42] joestringer commented on #20650
There's also some errors in the metrics that may be identifying some sort of issue, but it would require further digging to draw conclusions:

[code]

[2022-08-03 23:16] joaoubaldo commented on #20650
@joestringer The `Evicting expired DNS cache entries...` log is quite frequent after I lowered `tofqdns-endpoint-max-ip-per-hostname` to `2` in order to try to replicate the traffic drop issue in a testing cluster.

It is worth mentioning that the original issue is seen in another cluster with no occurrence of the log `Timeout waiting for response to forwarded proxied DNS lookup`, however the DNS

[2022-08-04 06:53] Dutchy- commented on #20243
The preliminary results are very good, no more unexpected dropped traffic.

@christarazi @chancez I would like to thank you for your time. Unless you still want to do something with this (put in a warning if that's even possible) I think we can consider this issue done :)

[2022-08-04 07:52] lostz commented on #20646
I also need it.

[2022-08-04 14:47] sayboras commented on #20427
As per envoy [doc](https://www.envoyproxy.io/docs/envoy/latest/api-v3/extensions/filters/network/http_connection_manager/v3/http_connection_manager.proto#envoy-v3-api-field-extensions-filters-network-http-connection-manager-v3-httpconnectionmanager-upgradeconfig-upgrade-type), there is no much we can configure with upgrade_configs (complex struct such as filter should not be configured here). Henc

[2022-08-04 15:51] vincentmli commented on #20692
Hi @ti-mo  I could help here but I also need guidance since I am new to cilium/ebpf, btf, and this whole alignment check thing :). I see this is part of deprecate init.sh, so I looked at `bpf/init.sh`

[code]
is this llc `-mattr=dwarfris` that you talk about to deprecate?
in addition, are `pkg/alignchecker`,  `pkg/datapath/alignchecker`, and `pkg/monitor/alignchecker` you talk about to remove? I c

[2022-08-04 19:01] christarazi opened #20787 "Better handle when K8s Nodes have more than one IP address per address type in their status field"
https://github.com/kubernetes/kubernetes/issues/61921 indicates that K8s assumes that a Node has one IP per type, as seen in https://github.com/kubernetes/kubernetes/blob/8f3b2813dcd6e3f2c9b260bedaeddbdd0ea5c0cc/staging/src/k8s.io/cloud-provider/controllers/node/node_controller.go#L711 and https://github.com/kubernetes/kubernetes/blob/master/pkg/util/node/node.go#L81.

There are two approaches:

1

[2022-08-04 19:02] christarazi commented on #20243
Great, kudos to @chancez.

It might be a good idea to consider how to improve Cilium here, so I filed https://github.com/cilium/cilium/issues/20787. Thanks!

[2022-08-04 19:02] #20243 closed

[2022-08-04 19:37] aditighag commented on #15195
We'll be keeping a mapping of pod metadata to its cgroup-id for socket-lb. So we can identify kiam pods, and inform the datapath about their cgroup-ids so that the datapath skips service translation only for these pods. We can get rid of the socket lookup based loopback fix we currently have in place, and address this limitation.

[2022-08-04 20:17] vincentmli commented on #20692
I did the removal part in my draft PR https://github.com/cilium/cilium/pull/20788, not sure how to add `cilium/ebpf` `btf` part for alignment, is it done automatically already when loader use `cilium/ebpf` to extract BTF info from BPF object ?

[2022-08-04 21:42] r3pek opened #20789 "Can't keep original IP when crossing hosts on a cluster"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

Running a 2-worker-node k8s cluster, if a pod is running on host B, but I access it via host A, the accessing IP that is presented on the service is the cilium_host interface ip from host A.
Am I missing some configuration that allows the IP to be known?

### Cilium Version

v1.12.0

### Kernel

[2022-08-04 21:52] #19877 closed

[2022-08-04 22:18] mateuszlitwin opened #20790 "Updating labels of many pods is causing large spikes in LIST /ciliumendpoints"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

Updating labels of many pods is causing large spike in traffic generated by `LIST /ciliumendpoints` responses.

I was able to partially decrease the traffic by filtering out labels as described in https://docs.cilium.io/en/v1.9/operations/scalability/identity-relevant-labels/.

However there is

[2022-08-04 23:20] maxpain opened #20791 "No incoming pod traffic metrics when bpf masquerade is enabled"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

When `bpf.masquerade` is enabled there are no metrics for NAT traffic incoming to pod

<img width="1669" alt="image" src="https://user-images.githubusercontent.com/5875582/182970999-7cb9a159-f1eb-427c-adce-8ee03fb784b5.png">

(on the screenshot I disabled `bpf.masquerade` and after this receive

[2022-08-05 01:42] vincentmli commented on #20789
are you using any kind of cilium layer 7 policy? you could turn on cilium datapath debug
[code]

then `kubectl exec -it cilium-agent-pod-on-host-A -n kube-system -- cilium monitor -vv > /tmp/debug.log`

[2022-08-05 04:25] ArthurChiao opened #20792 "CFP: allow to enable/disable in cluster service translation for Pod's egress traffic destined to LoadBalancer VIPs"
# Cilium Feature Proposal

## Background

When creating a LoadBalancer Service in Kuberntes, the latter will automatically create a corresponding NodePort Service and a  ClusterIP Service for it, which results in three (actually four) Services in Cilium which shares the same group of backends, an example as below:

[code]

## Problem faced

In the above output,

1. The LoadBalancer VIP `10.6.12.11

[2022-08-05 05:12] matchyc commented on #20787
Could you highlight the related code in cilium?

[2022-08-05 06:52] maintainer-s-little-helper[bot] opened #20793 "CI: K8sPolicyTest Clusterwide policies Test clusterwide connectivity with policies"
### Test Name
[code]

### Failure Output
[code]

### Stacktrace
<details><summary>Click to show.</summary>

[code]
</details>

### Standard Output
<details><summary>Click to show.</summary>

[code]
</details>

### Standard Error
<details><summary>Click to show.</summary>

[code]
</details>

ZIP Links:
<details><summary>Click to show.</summary>

 https://jenkins.cilium.io/job/Cilium-PR-K8s-1.16-ker

[2022-08-05 07:39] ReillyBrogan commented on #19282
I've been trying to wrap my head around cosign's Fulcio CA model, but it seems like a lot of additional complexity (I see a few notes in places that some parts aren't completely production ready too). I think the more traditional method of having an admin generate a public/private key and then using that as a Github secret during the release pipeline. The public key can be posted in documentation

[2022-08-05 07:55] #20080 closed

[2022-08-05 11:42] r3pek commented on #20789
No policy (l7 or otherwise) applied to the cluster.

Log attached, but some insights:
- source ip I tested was 178.166.49.12
- pod is running on host B (10.1.0.6)
- host A IP is 10.1.0.

[cilium-debug.log](https://github.com/cilium/cilium/files/9268215/cilium-debug.log)
5

[2022-08-05 12:43] jccepeda opened #20796 "Cilium Health Endpoint does not properly use IPv6 for HTTPProbe"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

We are using Cilium on a cluster with IPv6 only (and without kube-proxy among other things).

Upgraded cilium from `1.11.1` to `1.11.7` (before `1.12.0`). However, after upgrade, cilium health endpoint is unable to retrieve `httpProbe` IPv6, with the following event message:

[code]

No problem

[2022-08-05 12:52] carloscastrojumo opened #20797 "Traffic dropped for identity not found"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

[](url)When doing `cilium monitor --related-to 429 -t policy-verdict` to monitor a certain endpoint, I see some requests being denied

[code]

But then when I try to verify what identity is `6552143` with `cilium identity get 6552143` I got

`Error: Cannot get identity for given ID 6552143: [GE

[2022-08-05 12:55] xmulligan commented on #19116
https://github.com/cilium/cilium/pull/20776

[2022-08-05 13:40] dryuri92 opened #20798 "Problem in unit test PidfileTestSuite.TestKillPidfilePermissionDenied"
While manually running unit test by go test ./... got a fail for only one test case:
Target OS: Linux 4.18.0-372.9.1.el8.x86_64 x86_64
Log of fail test case:

[code]
The rest of tests finished successfully.

[2022-08-05 14:45] qmonnet commented on #20288
Still investigating, still uncertain what's going on.

The `bpf()` syscall is here (we don't get `-ENOSYS`, and the related sysctl knob are present - and I can't imagine CONFIG_BPF_SYSCALL being missing on a random basis).

The `sysctl` knobs are as follows (not that it brings much info):

[code]

Then, there are not so many places where we're susceptible to get a `-EPERM` from the system call.

-

[2022-08-05 15:08] #20375 closed

[2022-08-05 15:54] vincentmli commented on #20789
I am trying to understand your problem description, from the debug log below, it looks to me

src  178.166.49.12:56342 -> dst  10.1.0.5:443 -> dst 10.244.32.224:443.

client: 178.166.49.12
node A: 10.1.0.5
pod IP: 10.244.32.244 on node B 10.1.0.6

is  10.1.0.5:443 node port service that has endpoint  10.244.32.224:443 ?

are you saying client  IP 178.166.49.12 is translated to cilium_host interfac

[2022-08-05 16:04] r3pek commented on #20789
src 178.166.49.12 -> dst (net) 116.202.xxx.xxx -> (gets NAT translated to 10.1.0.5) -> LB service 10.96.94.129 -> pod 10.244.32.224

This is the full path.

when hitting that IP, the one that gets translated to 10.1.0.5, i only see the 10.244.28.242 IP (cilium_hohst interface on host A), not the original one (178.166.49.12)
when hitting the public IP for host B, that gets translated to 10.1.0.6, t

[2022-08-05 16:15] vincentmli commented on #20692
just trying to  understand what you mean :)

 I kind of understand to replace DWARF with BTF, it seems to me to replace `getDWARFFromELF(f)` and `getStructInfosFromDWARF(d, toCheck)` in `CheckStructAlignments()` in `pkg/alignchecker/alignchecker.go `

if `bpf_alignchecker.c` is to be removed, which datapath ELF object file should alignchecker check? there will be no one single datapath ELF object

[2022-08-05 16:33] vincentmli commented on #20789
ok, but I don't understand how -> 10.1.0.5:443 would be directed to LB service 10.96.94.129, the -> 10.1.0.5:443 is the first entry point that the packet enter into the cluster and 10.1.0.5 is node ip, I guess you have some kind configuration to redirect node:port to LB service?

it sounds like when the endpoint pod is not local pod but on remote node, and cilium needs to redirect the traffic to r

[2022-08-05 16:38] r3pek commented on #20789
well, the traffic needs to get to the host right? It get's NAT translated from the public IP to the private one. Then the LB service that actually opened the port (443) on the host picks up the packet and forwards it to the pod.

I don't know if this is by design or not. If it's by design, fine. If it's not, it might be a problem on my end or an actual bug somewhere :zipper_mouth_face:. Just asked

[2022-08-05 17:12] vincentmli commented on #20789
from the debug log, there is no trace of 10.96.94.129:443, only trace of 10.1.0.5:443, so I am wondering how LB service  10.96.94.129:443 would handle the request.

you could verify cilium behavior by setting up node port service or cluster service where cilium is required to redirect the request to remote node pod and you should see what cilium normal behavior is vs your particular setup

[2022-08-05 21:31] joestringer commented on #13663
Yes, that is the case. `nodeEncryption` could perhaps be better phrased as `hostNetworkEncryption`. It is only determining the encryption for traffic in the host network namespace for a node (eg hostNetwork pods or applications running directly on the node). For pod->pod encryption, that is governed by the `encryption=true` flag so I would expect that if you enable that flag, all pod->pod traffic

[2022-08-05 21:40] joestringer commented on #20751
Hi, to clarify.. when you delete the old node from the kvstore, is the problem that the same old node shows up in the kvstore again after a day? Or are you continually rotating nodes, so after a day there is another different stale node that shows up in the kvstore?

[2022-08-05 22:10] tommyp1ckles commented on #15883
@jrfastab Is this still relevant? I'm looking for some easy issues to get started learning about datapath.

[2022-08-05 22:37] skant7 commented on #19282
Hi ,
Came here from the CNCF mentorship repo, I'm interested in working on this.
Any pointers on where to start to get familiar with the project scope ?

[2022-08-06 10:06] basit9958 commented on #20511
/assign

[2022-08-06 14:49] yimikao commented on #20712
Hi @xmulligan. I got to know about this project through the LFX Mentorship programme and I found it interesting. I would love to work on this issue. Could you provide some guidance prior to submitting my application.

[2022-08-06 21:15] maxpain commented on #19630
Will Cilium support L2/ARP mode for LoadBalancer services?

[2022-08-06 23:57] michi-covalent opened #20810 "metrics: reduce cardinality of cilium_k8s_client_api_latency_time_seconds_bucket metric"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

`cilium_k8s_client_api_latency_time_seconds_bucket` metric includes `path` as a label. some paths contain unbounded values like node names or pod names, resulting in a very high number of series relative to other cilium metrics. some examples of paths with unbounded values:
[code]

### Cilium V

[2022-08-07 00:09] michi-covalent commented on #20810
... and let me piggyback just one more thing, `scope` label also contains some unbounded values. some examples:

[code]

[2022-08-07 01:37] vincentmli commented on #20692
it appears bpf_alignchecker.o is missing quite a few STRUCTs like `lb4_key` for example from bpftool btf dump,  simply replace DWARF with BTF would miss quite a few struct alignment check

[code]

[2022-08-07 03:07] James-Dao commented on #19362
This issue also happen with cilium 1.12.

[2022-08-07 03:24] James-Dao commented on #19362
After following https://docs.cilium.io/en/v1.12/gettingstarted/servicemesh/envoy-traffic-management/ steps,   access the cluster ip on host .  If the selected backend is running the remote node ,i will response success, if the backend is running on the local node ,the envoy can not proxy the  request.

curl -v <cluster ip of echo-service-1>:8080/foo

curl -v 10.96.131.12:8080
* About to connect()

[2022-08-07 08:10] NikhilSharmaWe commented on #20732
@joestringer So, we need to implement the approach provided in the 2nd point in the suggestions about `instead of retrying again for that specific one, increment it randomly to get lucky on another port or maybe set it to 0 and let the OS do it for us.`. Could you please provide some code pointers about where the changes are needed to be done.

[2022-08-07 09:42] NikhilSharmaWe commented on #20787
/assign

[2022-08-07 10:11] NikhilSharmaWe commented on #20787
/assign

[2022-08-07 11:16] lut777 opened #20812 "Cilium chaining mode failed in Github CI"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

A bug happened!

I'm trying the Cilium chaining mode with a CNI called Kube-OVN according to doc: https://docs.cilium.io/en/stable/gettingstarted/cni-chaining-generic-veth/
I think I have successfully implemented this collaboration in my VMs.
My configurations could be found in the job ```ciliu

[2022-08-07 12:23] phin1x commented on #20667
i'm currently on vaccation, i will add more information about one week.

[2022-08-07 15:57] anthonyhaussman commented on #20751
Hi @joestringer, After we delete it from the kvstore it does not reappear. Nodes rotating by themselves most of them are Amazon spot workers.

After some further investigation trying to push our debug with networking dig (tcpdump, hubble monitor, etc), we have deactivated the WireGuard encryption.
After deactivating it, everything worked perfectly.

So we are afraid it's the WireGuard implementati

[2022-08-08 00:20] sayboras commented on #20798
seems like you are running the test with elevated permission (e.g. root), hence no permission denied error happens.

[2022-08-08 00:53] olga-mir commented on #20720
it seems L7 policy is a known limitation when running in chaining mode according to [official docs](https://docs.cilium.io/en/v1.12/gettingstarted/cni-chaining-aws-cni/):

I haven't tried this myself, but I saw this in cilium-cli tests, maybe it also works on production cilium-cli version: https://github.com/cilium/cilium-cli/blob/a0faf2510f6bf57d234993b97f3535bf606f4b42/.github/in-cluster-test-sc

[2022-08-08 05:01] wu0407 opened #20815 "eni: nodeManager not sync all node on operator starting"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

1. The operator `nodeManager.nodes` not containt all CiliumNode  on starting run `nodeManager.Resync()`.
2. Because  `nodeManager.Resync()` and `nodeManager.Create() or nodeManager.Update()` are asynchronous
3. It cause  IP shortage problem for part of nodes was not solved immediately and metri

[2022-08-08 07:26] devopstales commented on #20646
+1

[2022-08-08 07:31] sayboras commented on #20646
Sorry for late reply, this seems reasonable to me, one simple approach to to propagate the (all or filtered) annotations from Ingress objects to (at least) Service child resource.

PR is very much welcome, feel free to let us know if you are keen to work on this. Also, please don't hesitate to reach out in #development Cilium slack channel.

[2022-08-08 08:06] m-yosefpor commented on #17026
If we want to run VMs in k8s, solutions such as kubevirt are also working with CNI for networking. So this feature will help having VMs with static IPs for kubevirt.

[2022-08-08 08:21] m-yosefpor commented on #17026
This way only the ingress traffic will have the clusterIP, but egress traffic does not have that IP. Also some processes are working with interface IP set on interfaces (such as database clustering for advertised IP), so for such static usecases, being able to assign a specific IP to pods are useful.

I'm not sure how is this possible to be implemented. I will take a look at Calico's implementatio

[2022-08-08 08:37] xmulligan commented on #20712
Hi @yimikao thanks for reaching out. This issue will be worked on during the program by the accepted mentee. The application will open on August 25th. Please submit then https://lfx.linuxfoundation.org/tools/mentorship/

[2022-08-08 08:37] lut777 commented on #20812
Well it seems like that in kernel 5.15, this bug would always shows up.
In my ubuntu 2004, kernel 5.4, the system works well.

[2022-08-08 08:48] xmulligan commented on #19282
Hi @skant7 thanks for your interest. The application will open on August 25th. Please submit then https://lfx.linuxfoundation.org/tools/mentorship/. In the meantime, please feel free to check out the good first issues https://github.com/cilium/cilium/issues?q=is%3Aopen+is%3Aissue+label%3Agood-first-issue

[2022-08-08 09:23] brb commented on #20692
@vincentmli Not sure how did you compile the bpf_alignchecker.o, but I find it:
[code]

[2022-08-08 11:11] Akshit42-hue commented on #20732
Hey @jaredledvina, Can I work on this issue

[2022-08-08 11:12] qmonnet commented on #20288
I've been playing with the following program:

<details><summary>C code</summary>

[code]
</details>

The kernel code for map creation in 4.9 is the following.

<details><summary>kernel/bpf/syscall.c in 4.9: map_create</summary>

[code]
</details>

I checked that I could reach `find_and_alloc_map()` in the kernel. The `-EPERM` is returned after that, either from `bpf_map_new_fd()` (but I could not

[2022-08-08 11:17] Akshit42-hue commented on #20530
Hey @sayboras, Can I work on it

[2022-08-08 11:23] gandro commented on #20720
In the latest Cilium CLI (v0.12.1), we now auto-detect features like L7 proxy and don't run tests that depend on it.

[2022-08-08 11:32] sayboras commented on #20530
sure, I just assigned this issue to you, please feel free to reach out to #development slack channel if you need any help or have any question.

[2022-08-08 11:33] sayboras commented on #20530
oh sorry, actually, this might be already fixed after 1.12 release.

https://docs.cilium.io/en/stable/helm-reference/

[2022-08-08 11:34] #20530 closed

[2022-08-08 11:57] sayboras commented on #20511
@basit9958 Assigned issue to you, feel free to reach out in #development Cilium slack channel.

[2022-08-08 12:37] jaredledvina commented on #20732
Sure, I'm not working on a fix for this issue at this time.

[2022-08-08 12:52] travisghansen commented on #19304
Not stale.

[2022-08-08 14:03] vincentmli commented on #20692
@brb do you have all off them declared in bpf_alignchecker.c? there is difference I noticed, `make -C bpf` and check `bpf/bpf_alignchecker.o`, it has `lb4_key`, but still some of them are missing. when actually deploy cilium agent in k8s node, the run time `/var/run/cilium/state/bpf_alignchecker.o` which is actually checked by pkg/alignchecker is missing `lb4_key` and other structs, I added log in

[2022-08-08 14:34] brb commented on #20797
@carloscastrojumo Thanks for the issue. Could you run `cilium bpf ipcache get 10.210.120.103` from cilium-agent's pod which is running on the node which runs the `10.210.107.97` pod?

[2022-08-08 14:55] intel-dlanders commented on #20530
Doesn't look fixed to me.:
1. ipv4NativeRoutingCIDR is now totally missing from stable. Was the option removed?
2. v1.11 still shows ipv4NativeRoutingCIDR crammed into the explanation of 'monitor'.

[2022-08-08 15:18] vincentmli commented on #20692
I double checked bpf/bpf_alignchecker.o compiled by `make -C bpf`, it indeed include all the structs. but at run time checking `/var/run/cilium/state/bpf_alignchecker.o` which I assume is compiled by `bpf_compile` from `bpf/init.sh`, it is missing quite a lot of struct from bpftool btf dump, I have not figured out the difference between `make -C bpf` where clang and llc flag is defined in `bpf/Mak

[2022-08-08 15:22] vincentmli commented on #20692
and the question is if I remove `bpf_compile bpf_alignchecker.c bpf_alignchecker.o obj ""` from `bpf/init.sh`, how do I make sure the run time `/var/run/cilium/state/bpf_alignchecker.o` is compiled similar to `make -C bpf`?

[2022-08-08 15:44] vincentmli commented on #20692
well, speak too early about `make -C bpf` having all structs, after I did `make clean -C bpf`; `make -C bpf`; ` bpftool btf dump file bpf/bpf_alignchecker.o | grep 'STRUCT'  | grep -v 'anon'`; structs are still missing `bpf/bpf_alignchecker.o`

[code]

[2022-08-08 16:31] brb commented on #20692
Which clang version?

[2022-08-08 16:33] vincentmli commented on #20692
[root@centos-dev cilium]# clang -v
clang version 15.0.0 (https://github.com/llvm/llvm-project.git e91a73de24d60954700d7ac0293c050ab2cbe90b)
Target: x86_64-unknown-linux-gnu
Thread model: posix
InstalledDir: /usr/local/bin
Found candidate GCC installation: /usr/lib/gcc/x86_64-redhat-linux/8
Selected GCC installation: /usr/lib/gcc/x86_64-redhat-linux/8
Candidate multilib: .;@m64
Candidate multilib:

[2022-08-08 16:37] vincentmli commented on #20692
a side note, I found that `pahole -JV <object>` could convert dwarf to btf as workaround

[2022-08-08 17:12] michi-covalent commented on #20810
had an offline chat with @aanm, it looks like a regression in v1.12. in v1.11 and v1.10 path label shows up like this:

[code]

[2022-08-08 22:19] yonghong-song commented on #20692
@vincentmli It is still not clear to me which struct definition in BTF is missing. It would be great to know.

Note that BTF generated by the llvm compiler with `-target bpf` may contain less types than `pahole -JV <object>` types. The reason is `-target bpf` only generates BTF with global variables, functions definitions and CO-RE related types, some types *inside* the program will not be generat

[2022-08-09 00:08] vincentmli commented on #20692
thanks for the clarification, to my knowledge, I could not tell the difference between missing structs and non-missing structs :)

these are the missing structs for example, I did not list all the missing structs

[code]

all declared structs in bpf/bpf_alignchecker.c

 grep 'DECLARE(struct' bpf/bpf_alignchecker.c  | awk '{print $2;}' | sort
[code]

 bpftool btf dump file bpf/bpf_alignchecker.o |

[2022-08-09 00:39] joestringer commented on #7655
This is pretty good at this point, we can close the item. If we find there is a limitation in future we can always reopen or create an new, more targeted, issue.

[2022-08-09 00:39] #7655 closed

[2022-08-09 02:52] nwxleo commented on #20529
This issue has been resolved due to incompatibility of kernel versions.The old version is 4.20.0-042000-generic, the problem is solved after upgrading to 5.4.0-122-generic

[2022-08-09 02:52] #20529 closed

[2022-08-09 03:42] MikeLing commented on #14489
I found we already called `/bin/sh` in node init daemonset in https://github.com/cilium/cilium/blob/master/install/kubernetes/cilium/templates/cilium-nodeinit/daemonset.yaml#L57. Does this issue still available ?

[2022-08-09 08:03] brb commented on #20692
@vincentmli With LLM 14.0.6:

[code]

[2022-08-09 08:13] brb commented on #20692
@vincentmli Based on the following, you might need to change `DECLARE` so that it defines e.g., global vars.

[2022-08-09 08:13] carloscastrojumo commented on #20797
Hi @brb

This cluster does not exists anymore, but here from another cluster that I was able to replicate the issue.

[code]

[code]

By running `cilium bpf ipcache get 10.210.98.180` from cilium-agent's pod which is running on the node which runs `10.210.112.76` pod

[code]
[code]

Cilium Sysdump from this new cluster
[cilium-sysdump-20220809-091256.zip](https://github.com/cilium/cilium/files/928

[2022-08-09 08:22] brb commented on #20797
@carloscastrojumo Are both `10.210.112.76` and `10.210.98.180` in the same network?

[2022-08-09 08:57] carloscastrojumo commented on #20797
Yes, same cluster.  In fact, same node. `10.210.98.180` is a pod running with host port.

[2022-08-09 10:15] Huweicai opened #20836 "Can not use BGP to announce LoadBalancer IP and Pod CIDR simultaneously."
### Is there an existing issue for this?

- [x] I have searched the existing issues

### What happened?

I want to use BGP to announce my Pod CIDR and LoadBalancer IP, so I've set these two options in config-map `cilium-config` to true
[code]
And my bgp-config looks like below:
[code]

I found that PodCIDR announcement works well first, but after I created a LoadBalancer the PodCIDR announcement s

[2022-08-09 11:12] l1b0k commented on #20714
I found another iptables problem break cilium .

here is the error log

[code]

i beleve it related to modprobe load , cause lecacy rule be created,
https://github.com/cilium/cilium/blob/master/pkg/datapath/iptables/iptables.go#L278-L291

reproduce code below

[code]

[2022-08-09 11:39] #20810 closed

[2022-08-09 11:50] qmonnet commented on #20288
More considerations:

- First visible in the CI on 15th June this year.

- 99.9% sure it comes from `bpf_map_charge_memlock()` in the case above. I could not trace that particular function (inlined), but I checked that I can go through `find_and_alloc_map()`, and with perf/kretprobes that I never reach `bpf_map_new_fd()`.

- Does it come from a change
    - In the kernel? Unlikely, [we've been usi

[2022-08-09 11:51] NikhilSharmaWe commented on #20646
@sayboras I would like to work on this. Actually, I am new to the code base, so could you please share an idea or some code pointers for adding this feature.

[2022-08-09 12:46] MikeLing commented on #19571
@christarazi Does this draft PR make sense to you? I skip the benchmark part since it's in `main.go`. But the code places I changed may be called multiple times and may effect the performance with `fmt.Sprintf`.

[2022-08-09 13:46] ldelossa commented on #20836
@dylandreimerink this was the issue that you patched recently, correct?

[2022-08-09 14:26] michi-covalent commented on #20810
could we backport this to v1.12? 🤔

[2022-08-09 15:14] pchaigno commented on #20288
I thought we did change bpftool not long before Jibi's report?

[2022-08-09 15:23] vincentmli commented on #20692
@brb @yonghong-song sorry my C skill is rough and I tried to move all the `DECLARE` statement out of `main()`, think that might make all these structs global variable, but I got macro expand error, also tried to change `DECLARE` macro, still got syntax error due to my rough C skills, could you show an example of making the struct as global variable in bpf/bpf_alignchecker.c or example of changing

[2022-08-09 15:45] vincentmli commented on #20692
for example, here is the probably the dumbest change I could think of  and I suspect it seriously flawed :-), comment out the `DECLARE` macro, define a global variable for each struct, sort of work.

[code]

[2022-08-09 16:54] qmonnet commented on #20288
My bad, the bpftool image was updated on June 15th, but is not involved in the failing test anyway.

[2022-08-09 16:57] qmonnet commented on #20288
So I've got a minimal-ish reproducer (tried to shrink it further but didn't manage).

When the VM boots, everything works fine. Once the test-verifier pod is up, I can trigger the permanent `EPERM` with:

[code]

All section load correctly, but after `to-host` (specifically) is loaded, all other prog loads and map creations return `EPERM`, from the memlock accounting it seems.

Now the object we l

[2022-08-09 18:28] vincentmli commented on #20692
another observation, I noticed for specific feature related structs for example `struct egress_gw_policy_key` and `struct egress_gw_policy_entry` that are missing from BTF, add `#define ENABLE_EGRESS_GATEWAY` in `bpf/bpf_alignchecker.c` would resolve the missing BTF struct issue, seems like a simple workaround, but still for these common structs like `struct ipv4_ct_tuple` that are not specific to

[2022-08-09 18:49] vincentmli commented on #20692
it seems to me cilium is required to do alignment check for cilium maps with key or value struct.

[code]
but I noticed the go struct `ctmap.CtKey4{}` does not have tag

[code]
the structs members without tag will be bypassed for alignment check

[code]
so it means cilium is not doing alignment check for `struct ipv4_ct_tuple`,  is this bug or done on purpose? also the new SRV6 feature related go

[2022-08-09 20:36] lrouquette commented on #20714
I have the same issue on `1.11.7` (upgrading from `1.10.8`):
[code]

(Upgrading from `1.10.8` to `1.11.6` works fine)

[2022-08-09 21:12] lucasoarruda commented on #20133
which one? i'm having the same issue

[2022-08-09 22:42] aditighag commented on #20164
Hi @weikinhuang I deployed your test client pod that you are having issues with, and this time I was able to reproduce the issue you reported. It looks like you are hitting this issue - https://github.com/cilium/cilium/issues/15195.
I confirmed this with perf (snippet below) and debug logs in our datapath that performs socket translation -

 `dig 4156817 [004] 630239.029469: probe:sk_lookup: (ffff

[2022-08-10 00:25] christarazi commented on #19571
Thanks for your contributions. For that one, that code is not necessarily in the hot path. That code is likely only ever called once, so performance improvements there don't really have much benefit.

[2022-08-10 02:26] yonghong-song commented on #20692
I don't have a good solution for the mismatch between dwarf->btf and llvm btf types. You could have one global definition like
[code]

But this is just a workaround. Since these types are not used in bpf program. Not sure why cilium needs them. Probably there is a reason for this.

[2022-08-10 02:47] abebars commented on #20026
@joestringer I think we are ok since the last upgrade and we didn’t notice the issue but we also disabled the ip release to avoid the problem in it’s entirety. I will close it for now and reopen or create a new issue if notice the issue again. thanks for the help.

[2022-08-10 02:47] #20026 closed

[2022-08-10 03:05] vincentmli commented on #20692
@yonghong-song I like your workaround, the bpf_aligncheck.o is solely used by cilium to check struct alignment between C struct and Go struct when cilium agent start up, it is not used in cilium datapath.

I guess @ti-mo idea is to get rid of bpf_alignchecker.o completely and let cilium alignment checker to check the actual datapath object files (bpf_lxc.o, bpf_host.o, bpf_sock.o...) at start up,

[2022-08-10 08:18] sayboras commented on #20646
Basically, CIlium Ingress Controller will create below child resources for each Ingress object:

- LB service
- Kubernetes Endpoint
- CiliumEnvoyConfig

This issue is mainly about propagating required annotations from Ingress to LB service. This [docs](https://kubernetes.io/docs/concepts/services-networking/service/#load-balancer-class) can give you some idea of which annotations are used, from th

[2022-08-10 08:30] dylandreimerink commented on #20836
This issue has been fixed in #20413. But the fix has not yet been backported to v1.11.x, giving this more priority. So you will have to wait for the next patch release of v1.11 or upgrade to v1.12 which already includes the fix.

[2022-08-10 09:43] aanm commented on #20790
@mateuszlitwin Thanks for the GH issue, can you give us an example for the filter that you are using to filter the labels and an example of labels that you are using to put in the pods? Thank you.

[2022-08-10 09:44] aanm commented on #20792
@brb PTAL

[2022-08-10 10:16] borkmann commented on #20288
Back in the days, there was a kernel bug in rlimit/mlock accounting leading to an underflow with subsequent rejection similar to above:

https://git.kernel.org/pub/scm/linux/kernel/git/torvalds/linux.git/commit/?id=003461559ef7a9bd0239bae35a22ad8924d6e9ad

Any idea if our 4.9 is affected?

[2022-08-10 10:24] 3u13r commented on #20705
Since I had the same issue: My pre-existing ginkgo version was v2, but the test are currently written in v1. You can check this via `ginkgo version`.  After downgrading there should be no issues.
[code]

[2022-08-10 10:27] aanm commented on #20796
@jccepeda Thanks for the bug report, the PR #20849 should fix your issue. This change was only introduced in v1.11.7 can you try out with v1.11.6 to see if you are also hitting this? Thank you

[2022-08-10 10:41] aanm commented on #20067
Maybe it's something that we should document as a limitation of `k8sService`

[2022-08-10 10:47] #16349 closed

[2022-08-10 10:48] Huweicai commented on #20836
Thank you, I've cherrypicked it to our branch and compile , it works well now.

[2022-08-10 10:57] brb commented on #20792
@ArthurChiao Thanks for the CFP. I think you can achieve this today with https://kubernetes.io/docs/reference/labels-annotations-taints/#servicekubernetesioservice-proxy-name and Cilium's flag `--k8s-service-proxy-name`. By setting different values, Cilium would hand off service provisioning (and thus, handling) to some other entity, e.g. to the external LB in your case.

[2022-08-10 11:05] jccepeda commented on #20796
@aanm Thanks for the answer! There was no issue with v1.11.6, only starting from v1.11.7 and v1.12.0.

[2022-08-10 11:13] aanm opened #20850 "Automate release Cilium release process"
Right now the release process is done by manually following, depending on the type of release, one of these issues templates https://github.com/cilium/release/tree/master/.github/ISSUE_TEMPLATE

It would be great if we could decrease those checklist items by improving it with automation.

[2022-08-10 12:05] aanm commented on #20712
This will help to generate the SBOM for Golang: https://pkg.go.dev/debug/buildinfo

[2022-08-10 14:45] dirien opened #20858 "Cilium fails to start with "RTNETLINK answers: Operation not supported""
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

Architecture: x86_64

I installed cilium via helm chart into our k3s cluster.

helm values:

[code]

Unfortunatly cilium want start and fail with following logs:

[code]

### Cilium Version

1.12.0

### Kernel Version

5.15.0-1013-kvm #16-Ubuntu SMP Fri Jul 1 21:19:48 UTC 2022

### Kubernetes V

[2022-08-10 14:45] #18118 closed

[2022-08-10 14:46] #20427 closed

[2022-08-10 14:46] aanm commented on #20858
@dirien can you provide a sysdump? Thank you

[2022-08-10 14:50] julianwiedmann commented on #20858
Ubuntu, and -EOPNOTSUPP when trying to add the vxlan interface ... so most likely missing the `vxlan.ko` module, see if you have the `linux-modules-extra-...` package installed.

[2022-08-10 14:56] borkmann commented on #20858
@dirien do you have the kernel config for the jammy cloud image?

[2022-08-10 14:58] dirien commented on #20858
@borkmann, I will recreate the VM to find the informations.

[2022-08-10 15:02] borkmann commented on #20858
First glance looks like sch_clsact module is missing from Ubuntu config.

[2022-08-10 15:27] dirien commented on #20858
kernel config

[code]

[2022-08-10 15:34] dirien commented on #20858
@julianwiedmann

[code]

[2022-08-10 16:06] qmonnet commented on #20288
The change of state (`-EPERM`) occurs when we remove all the maps as well as the cilium-probe interface (and with it the attached programs) used for testing (this is why the manual steps above were not enough - I needed the cleaning steps too).

At this point we are suspected a kernel bug, maybe some underflow on the counter for the memlock rlimit which would end up in comparing the current value

[2022-08-10 16:09] dirien commented on #20858
@aanm Here the sysdump for the 1.12 install of cilium

[cilium-1-12-sysdump-20220810-154734.zip](https://github.com/cilium/cilium/files/9302010/cilium-1-12-sysdump-20220810-154734.zip)

[2022-08-10 17:30] dirien commented on #20858
Hi @aanm, just tested the 1.11.7 with a fresh install. Same issue!

[2022-08-10 18:01] NikhilSharmaWe commented on #20450
@pchaigno I would like to work on this new flag for removing object files from the `sysdump` by default.
Actually, I am new to the code base
so, could you please provide some idea or code pointers for adding this feature.

[2022-08-10 21:43] vincentmli commented on #20858
@dirien  I don't see  `CONFIG_NET_CLS_ACT=y`, probably missing kernel config ? here is kernel requirements

https://docs.cilium.io/en/stable/operations/system_requirements/

[code]

[2022-08-10 21:45] vincentmli commented on #20858
@dirien  I don't see  `CONFIG_NET_CLS_ACT=y`, probably missing kernel config ? here is kernel requirements

https://docs.cilium.io/en/stable/operations/system_requirements/

[code]

[2022-08-10 23:17] #20796 closed

[2022-08-11 04:07] ArthurChiao commented on #20792
Thanks, @brb @aanm, just learned something new :)

After reading through the doc you provided (and also the source code), I think it could solve our problem with the following work if I understand it correctly:

1. Annotate **all existing k8s Services except LoadBlancer type ones** with `service.kubernetes.io/service-proxy-name: "cilium"` (we do not have the `service.kubernetes.io/service-proxy-na

[2022-08-11 04:59] brb commented on #20792
It's a faithful implementation of what kube-proxy does + custom optimizations which are enabled via flags.

[2022-08-11 05:35] ArthurChiao commented on #20792
Thanks!

[2022-08-11 05:35] #20792 closed

[2022-08-11 05:43] NikhilSharmaWe commented on #20732
@joestringer Could you please take a look at this [comment](https://github.com/cilium/cilium/issues/20732#issuecomment-1207354665).

[2022-08-11 06:20] NikhilSharmaWe commented on #19594
@julianwiedmann I would like to work on making CIDRs & IPs consistent. Do we need to have
(CiliumNode) spec.ipam.podCIDRs == (Node) spec.podCIDRs ?

Could you please provide some idea or code pointers for making this change.

[2022-08-11 07:46] jinsiangpony commented on #7853
Got same problem here.

[2022-08-11 08:46] tklauser opened #20866 "[v1.10] CI: K8sCLI CLI Identity CLI testing Test cilium bpf metrics list"
### Test Name

[code]

### Failure Output

[code]

### Stack Trace

[code]

### Standard Output

[code]

### Standard Error

[code]

### Resources

- Jenkins URL: https://jenkins.cilium.io/job/Cilium-PR-K8s-GKE/9023/
- ZIP file(s): [d2c63500_K8sCLI_CLI_Identity_CLI_testing_Test_cilium_bpf_metrics_list.zip](https://github.com/cilium/cilium/files/9307353/d2c63500_K8sCLI_CLI_Identity_CLI_testing_Test

[2022-08-11 08:54] lut777 commented on #20812
1:  I tied it on ubuntu, but I'm not pretty sure which ubuntu distribution is based on 5.10.  I think I can give it a try.

2: You mean the CNI is just cilium? I think it should work well...After all e2e is essential. I can give it a try too.

[2022-08-11 10:00] joamaki commented on #16975
I think I'm hitting this issue in my PR (https://github.com/cilium/cilium-cli/pull/1015) adding cilium-health check to the connectivity test. "cilium-health status --probe" reports OK for local health endpoint, but fails to connect to remote endpoint:
[code]

[2022-08-11 10:31] qmonnet commented on #20288
Quick note while looking at reproducing with a custom kernel: It's not necessary to deploy everything with ginkgo or to install K8s/Cilium, I could quickly reproduce using the base image for the CI (cloning the VM that Virtualbox uses as the base for the ginkgo VM), and with only these few steps:

[code]

Reboot to have `bpf()` work again.

I'll try updating and rebuilding the kernel in that box.

[2022-08-11 10:34] NikhilSharmaWe commented on #20815
@wu0407 I would like to work on updating the `NewManager.nodes` inside the function `NewNodeManager`.
For that do we need to execute [Update](https://github.com/cilium/cilium/blob/master/pkg/ipam/node_manager.go#L258) function inside the [NewNodeManager](https://github.com/cilium/cilium/blob/960afc5c4bb830aa835e39f56f1100426400be38/pkg/ipam/node_manager.go#L150-L164) function.

Please inform if th

[2022-08-11 10:37] floriandorau commented on #20459
Sorry for my late response, I was off for a couple of days.

I checked the logs with an up-to-date sysdump and now the error seems to be disappeared. Not sure what has changed in the meantime. 🤔  When I run  `kubectl get ciliumidentities.cilium.io` the missing identity is listed now.

[2022-08-11 10:55] borkmann commented on #20858
Agree, could you open an issue at Canonical that this is missing in their jammy cloud image?

[2022-08-11 11:07] carnerito commented on #8820
@flavono123 Did you manage to solve this? I'm experiencing same issue with kubeadm v1.24.3 and cilium v1.12...

[2022-08-11 13:35] weikinhuang commented on #20164
Seems you are correct @aditighag, other pods are able to reach the node-local-dns pods, my grafana dashboards confirms that. It seems that only pods that are also running coredns as a sidecar is affected.

Details about kernel version is in the issue details.

[2022-08-11 13:55] dirien commented on #20858
Many thanks @borkmann and @vincentmli for your feedback!

I switched my image from the jammy minimal to "normal" image and now it works as all kernel modules are available!

[2022-08-11 14:34] aditighag commented on #20164
Thanks for following up. We are going to spend cycles on addressing https://github.com/cilium/cilium/issues/15195 in v1.13.
Is there anything you would like to discuss regarding your environment? Or should we close this issue as a duplicate?

[2022-08-11 14:45] weikinhuang commented on #20164
You can close this as a duplicate and I'll disable the LRP for node-local-dns until 1.13. Glad that the repo case was useful to you. Thanks!

[2022-08-11 14:45] #20164 closed

[2022-08-11 15:36] wu0407 commented on #20815
yes, i will do inside the function NewNodeManager, but not use cache. But list all node may impact apiserver in the large cluster.
so i will use the page request to list all nodes.

[2022-08-11 17:52] joestringer commented on #20434
@tommyp1ckles @aditighag what's the latest on this issue? I see both `need-more-info` and `needs/triage`, but it doesn't make sense to have both labels. What's the next step?

I've removed the `release-blocker/1.12` label because I see no progress in the last 27 days. If the issue is not being prioritized, it doesn't make sense to block releases on it.

[2022-08-11 17:53] joestringer commented on #18873
@brb apparently this has been marked as a release-blocker since March, but we clearly have not blocked any releases or prioritized this issue since then so I've removed the release-blocker label. What's the next step here, is this still a concern?

[2022-08-11 18:37] dryuri92 commented on #20798
Thank you! The problem was solved!

[2022-08-11 18:37] #20798 closed

[2022-08-11 18:46] aanm commented on #18873
We haven't seen in a while so I think we can close this.

[2022-08-11 18:46] #18873 closed

[2022-08-12 01:50] qmonnet commented on #20288
Got it!!

This is an underflow on the rlimit counter indeed. Adding `printk()`s to the kernel, I can observe four program loads charged for 6 pages, but then uncharged for 7. After uncharging those, the rlimit counter (`user->locked_vm`) is at `18446744073709551612` instead of `0`.

Looking at the kernel code, `prog->pages` (the value changing from 6 to 7) can indeed be modified if the BPF program

[2022-08-12 02:54] michi-covalent commented on #20714
steps to repro using kind from @mauilion:
[code]

[2022-08-12 02:56] qmonnet commented on #20288
I checked that [the backport](https://github.com/qmonnet/linux/commit/7e0a1c71ee8fb2468be81c031ae9849716f1cdee) fixes the issue successfully. I can [submit this to `stable`](https://docs.kernel.org/process/stable-kernel-rules.html#option-3) tomorrow.

[2022-08-12 08:13] ArthurChiao opened #20878 "Several sysctl parameters are hardcoded by Cilium bandwidth manager but are too small"
# The problem

When bandwidth manager is enabled, several sysctl parameters of the node will be set by Cilium on agent start:

https://github.com/cilium/cilium/blob/v1.12/pkg/bandwidth/bandwidth.go#L114

[code]

The problem is that these parameters may be too small, such as, the node has a `netdev_max_backlog=8000` previously, but when
bw manager is enabled, it's forced to 1000.

# Questions

1. A

[2022-08-12 08:15] brb commented on #18873
No concerns. As @aanm stated we haven't seen it in awhile.

[2022-08-12 08:40] shlande commented on #20130
I also encountered this problem. But after reinstalling Cilium and Hubble using helm only, Hubble seems to work again. I'm guessing it is my mix using cilium-cli and helm broke Hubble. https://github.com/cilium/hubble/issues/599#issuecomment-889693646

Here is the command I used to install Cilium using cilium-cli (which caused the problem)
[code]

using helm (works)
[code]

[cilium.yaml.zip](https

[2022-08-12 08:48] SimpCosm opened #20879 "Cilium assigns additional IP to cilium_host upon restart for IPAMCRD mode"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

Hi，I came across the same problem as #16672 and #16307 with cilium version v1.10.4

In my case, IPAM is crd mode. upon Cilium restart, it was very likely that cilium_host was assigned an additional IP.

For example, pod cidr 10.24.0.0/26 is allocated for one node, and originally `cilium_host` i

[2022-08-12 08:55] jibi commented on #20714
Confirmed that upgrading iptables to 1.8.7:
[code]

Fixed the issue:
[code]

So we'll try to build a new runtime image with that iptables version

[2022-08-12 09:08] jibi commented on #20714
Current hypothesis:
* previously it was not failing, as it was using the legacy backend
* 1.8.4 doesn't do proper translation for the NOTRACK target, thus the failure

From the iptables 1.8.5 changelog:
[code]

[2022-08-12 09:18] SimpCosm commented on #20879
sysdump info is here
[cilium-sysdump-20220812-171433.zip](https://github.com/cilium/cilium/files/9315191/cilium-sysdump-20220812-171433.zip)

[2022-08-12 09:28] qmonnet commented on #20288
[Backport submitted to the stable branch for 4.9](https://lore.kernel.org/stable/20220812092211.14446-1-quentin@isovalent.com/t/#u).

[2022-08-12 09:40] jibi commented on #20714
Given that https://github.com/cilium/cilium/pull/20123 was backported also to 1.10.13, this issue affects also 1.10.7 -> 1.10.13

[2022-08-12 10:25] pchaigno commented on #19314
Given the use of `--driver=none` and the above error message, this error is likely due to missing kernel support on the host. It's hard to confirm given the sysdump doesn't have bugtool reports. Kernel requirements are documented at https://docs.cilium.io/en/stable/operations/system_requirements/#linux-kernel.

[2022-08-12 14:52] jibi opened #20884 "Upgrade Iptables shipped in Cilium runtime image to >= 1.8.5"
Currently we are shipping Cilium with Iptables `1.8.4`, which doesn't fully support the iptables-legacy - nft translation of `NOTRACK` rules (it only allows to add rules for that target, but doesn't work with the deletion of such rules).

While a workaround is in place (we can ignore those rules when cleaning up any old Cilium ruleset as eventually the agent will delete the whole `OLD_` chain), th

[2022-08-12 15:26] joestringer commented on #20884
I we should aim to bump the base image to 22.04 during the v1.13 release cycle.

[2022-08-12 16:01] vincentmli commented on #20858
good question, I checked the attached sysdump cilium agent log, did not spot error log related to system config check, let me try to reproduce :)

[code]

[2022-08-12 16:19] joestringer commented on #20732
I would start by grepping the codebase for `dns` or `socket`. Most of the code in Cilium lives under `pkg/`. From there you should be able to locate the code that is responsible for opening the DNS proxy ports. Note that there may be two sets of sockets - one to receive the DNS queries from the pods, and another one to send DNS queries to the upstream server. It sounds like this issue is about the

[2022-08-12 16:40] vincentmli commented on #20858
in my test, cilium does log the kernel config missing
[code]
wonder why it is warning message though, why not fatal error since it is critical error, I also noticed  if I deploy image built from master branch instead of cilium v1.12.0, the warning log is slightly different

[code]

[2022-08-12 16:45] joestringer opened #20887 "CI: v1.12: ConformanceAKS: fails to clean up cilium"
## CI failure

https://github.com/cilium/cilium/runs/7784448363?check_suite_focus=true

[code]

[2022-08-12 17:19] vincentmli commented on #20858
I think I can reproduce the issue by hacking cilium agent kernel config probe code to always return false so cilium agent think the system is missing kernel config file from both `/boot/config-xxxx` and `/proc/config.gz`

[code]
so there is no error about system config check, but later errored due to missing required kernel config option

[code]

then I made  code change below in addition to above

[2022-08-12 18:19] NikhilSharmaWe commented on #20732
@joestringer Do we need to increment the `pp.proxyPort` in every iteration of this for loop? For preventing to retry again and again on the same proxy port.
https://github.com/cilium/cilium/blob/v1.10/pkg/proxy/proxy.go#L464

[2022-08-12 18:42] tamilmani1989 opened #20888 "[sig-network] Networking should check kube-proxy urls test failing with KPR strict mode"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

Creating this issue to find out if this testcase is expected fail with KPR strict mode or something wrong with my environment. Enabled kubeProxyReplacementHealthzBindAddr: 0.0.0.0:10256.

**Error:**

<failure message="Aug 12 09:44:22.844: Timed out in 30s: failed executing cmd curl -o /dev/null

[2022-08-12 18:56] #20714 closed

[2022-08-12 19:28] joestringer commented on #20732
Hmm. Well, it will presumably depend on whether the user specified a proxy port via the configuration options or not. If the user configured a specific port, then they probably did that deliberately and it would be weird for this loop to choose a random other port. However, if the user did not specify a port then this seems reasonable.

[2022-08-12 20:34] NikhilSharmaWe commented on #20732
@joestringer Is this change reasonable? I only increment pp.proxyPort only when we retry and `option.Config.ToFQDNsProxyPort == 0`
https://github.com/NikhilSharmaWe/cilium/commit/b8583c9603ed3edf61bdfaa93535fcab685bcca0

[2022-08-12 21:56] liuyuan10 opened #20894 ""Failed to install iptables rules" causes anetd crashes"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

Sometimes, we notice anetd crashes on RHEL/centos nodes due to error:

[code]

Clearly the stderr output (# Warning: iptables-legacy tables present, use iptables-legacy to see them) of iptables mixed into stdout causes the failure.

The issue has been around a while but become noticeable after

[2022-08-12 21:58] liuyuan10 commented on #20894
this is the log file
[cilium.log](https://github.com/cilium/cilium/files/9330049/cilium.log)

[2022-08-12 21:58] aanm commented on #20894
Can you check if https://github.com/cilium/cilium/pull/20885 fixes this? Thank you

[2022-08-12 22:18] liuyuan10 commented on #20894
it's unrelated. I don't have any `-j NOTRACK` on my node. Also if that's the case, it will crash everytime. If you parse my error message carefully, you will see the printed command is:

[code]

The stderr cuts into the stdout and breaks the command

[2022-08-13 02:14] #19470 closed

[2022-08-13 02:14] #18804 closed

[2022-08-13 02:14] #18775 closed

[2022-08-13 02:14] #18749 closed

[2022-08-13 02:14] #18746 closed

[2022-08-13 02:14] #18705 closed

[2022-08-13 02:14] #18334 closed

[2022-08-13 02:14] #18149 closed

[2022-08-13 02:14] #16299 closed

[2022-08-13 02:14] #16208 closed

[2022-08-13 02:14] #16206 closed

[2022-08-13 02:14] #15949 closed

[2022-08-13 05:43] zhanghe9702 commented on #20193
hi, @sayboras , could you sharing your slides or documentions about this ? thanks very much!

[2022-08-13 14:07] jlandowner commented on #19698
I really need the feature `Allow sharing of External Load Balancer for multiple Ingresses` to reduce the cost of cloud provider's external load balancers created by each single Ingress.
Can I have the current status or progress?

[2022-08-13 18:04] NikhilSharmaWe commented on #19492
@aanm
Does Cilium CLI support CNI chaining now?
If yes, then only we can work on adding the  Cilium CLI install for aws conformance tests, right?

Reference: this [comment](https://github.com/cilium/cilium/pull/18898#discussion_r856177692)

[2022-08-14 02:15] #19455 closed

[2022-08-14 02:16] vincentmli commented on #20170
no  stale

[2022-08-14 02:17] vincentmli commented on #20169
not stale

[2022-08-14 04:39] aditighag commented on #20169
I've pinned the issue so that it's not marked as stale. :)

[2022-08-14 08:57] demimraz opened #20899 "Cluster mesh: Cilium agent not detecting nodes deleted from the meshed cluster"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

I have two K8s clusters C1&C2 with Cilium cluster-mesh enabled.
When I delete one node from C2, Cilium agent in C2 detects node has been deleted by using command 'cilium status' or 'cilium node list' to confirm. But Cilium agent in C1 does not detect this and shows unreachable node which in fac

[2022-08-14 21:01] qmonnet commented on #20288
Greg took the patch, it's currently [in the queue for 4.9](https://git.kernel.org/pub/scm/linux/kernel/git/stable/stable-queue.git/tree/queue-4.9/bpf-fix-overflow-in-prog-accounting.patch?id=e808357549149bee8666f986da7bd9f8bce14eb2).

[2022-08-15 02:15] #19696 closed

[2022-08-15 02:15] #19405 closed

[2022-08-15 02:15] #19291 closed

[2022-08-15 03:25] samip5 commented on #20735
How does one get the required modules on arm64 (Raspberry Pi running Ubuntu 22.04)?
I'm using Helm and that error should say which protocol it's talking about.

[code]

[2022-08-15 03:45] samip5 opened #20901 "k3s with Ubuntu 22.04 failes to load needed kernel modules"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

1. Installed Cilium via Helm.
2. Disabled k3s's kube-proxy.
3. Faced an issue with loading the cilium pods on arm64 nodes.

I had expected it to start working fine without issue, but after searching issues and FAQ I couldn't find info as to what modules I need.

### Cilium Version

cilium-cli:

[2022-08-15 05:56] samip5 commented on #20901
I would like to point out that even defaults do not work with k3s and Ubuntu Server 22.04.

[2022-08-15 06:36] elessyl commented on #20735
Please make sure you have `linux-modules-extra-raspi`  package installed. After you installed it, I recommend to reboot your node and it should come up normally.

[2022-08-15 08:39] z32109571 commented on #8820
@daviddyball Did you manage to solve this? I'm experiencing same issue with kubeadm v1.23.6 and cilium v1.12...

[2022-08-15 08:51] carnerito commented on #8820
@z32109571 I had same issue using kubeadm install. This solution worked for me - https://medium.com/@charled.breteche/kind-cluster-with-cilium-and-no-kube-proxy-c6f4d84b5a9d

[2022-08-15 09:45] monalisha31 commented on #19282
Hi, I would like apply for this project under the LFX mentorship program. This project seems interesting. Looking forward to contributing to it.

[2022-08-15 09:48] xmulligan commented on #19282
@monalisha31 thanks for your interest! You can find the application here https://mentorship.lfx.linuxfoundation.org/project/680e32e5-d056-46fa-a94d-4af453d4e81d

[2022-08-15 09:49] xmulligan commented on #20712
You can find the application here https://mentorship.lfx.linuxfoundation.org/project/680e32e5-d056-46fa-a94d-4af453d4e81d

[2022-08-15 09:49] xmulligan commented on #20850
This will be part of the LFX mentorship. You can find the application here https://mentorship.lfx.linuxfoundation.org/project/680e32e5-d056-46fa-a94d-4af453d4e81d

[2022-08-15 10:15] brb commented on #18705
@dylandreimerink @ldelossa is it still relevant?

[2022-08-15 10:28] aanm commented on #19282
GitHub blogpost with some information about cosign using GH actions https://github.blog/2021-12-06-safeguard-container-signing-capability-actions

[2022-08-15 11:42] brb commented on #20888
You set the port to 10256, but used 10249 with curl. Please see https://docs.cilium.io/en/v1.12/gettingstarted/kubeproxy-free/#kube-proxy-replacement-health-check-server regarding your question.

[2022-08-15 12:58] aanm commented on #19492
@NikhilSharmaWe no, it still doesn't support it.

[2022-08-15 13:25] sayboras commented on #20899
:wave:

Can you try with 1.11.5 and check if the issue is still happening ? Recently, we have added cilium node garbage collector, but it's only available in 1.11.5+.

https://github.com/cilium/cilium/pull/19576

[2022-08-15 13:51] ldelossa commented on #18705
Unless the community contributes this feature, we are focusing on the `BGP Control Plane` feature set introduced in v1.11.
This feature set already supports dynamic configuration updates via Kubernetes CRDs.

[2022-08-15 13:58] sayboras opened #20902 "docs: Add documentation for supported Ingress annotations"
Current Ingress implementation supports a couple of annotations as per [this](https://github.com/cilium/cilium/blob/master/operator/pkg/ingress/annotations/annotations.go#L15-L19). More and more annotations are contributed by community for different use cases.

It's better to have a page to document all available options for reference. We can start with manual update, and investigate on how to aut

[2022-08-15 14:11] sayboras opened #20903 "Agent crash due to panic"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

Cilium agent crashed with the below stacktrace after configured below network policy with named port.

Restoration was done by recreate the same network policy, this could be a race condition somewhere.

[code]

### Cilium Version

1.12.0

### Kernel Version

$ uname -a
Linux fedora 5.18.16-200

[2022-08-15 14:20] sayboras commented on #19698
I don't think anyone is actively working on this item now. Hopefully, I will have some cycles to work on this soon.

[2022-08-15 15:10] borkmann commented on #20858
@dirien Thanks! I think given it's an OS issue not providing the needed modules, we can close this one here. Could you open a ticket at Canonical so they get this fixed?

[2022-08-15 15:10] #20858 closed

[2022-08-15 16:17] tamilmani1989 commented on #20888
@brb I didn't use 10249 port. I ran k8s upstream sig-network tests with kubetest2 and "should check kube-proxy urls" testcase connecting to port 10249 inaddition to healthz port (10256).  I looked at kube-proxy reference doc [link](https://kubernetes.io/docs/reference/command-line-tools-reference/kube-proxy/) and port 10249 is defined as: `--metrics-bind-address ipport     Default: 127.0.0.1:10249

[2022-08-15 16:25] joestringer opened #20904 "CI: ConformanceGKE: echo-ingress/pod-to-pod/curl-1: Timeout waiting for flow listener to become ready"
Hit on v1.10 branch: https://github.com/cilium/cilium/runs/7812872702?check_suite_focus=true

Notably Hubble has trouble connecting to dump the flows, but no other errors from the Hubble portion:
[code]

Test output:
[code]
[cilium-sysdump-out.zip (19).zip](https://github.com/cilium/cilium/files/9338489/cilium-sysdump-out.zip.19.zip)

[2022-08-15 16:32] joestringer opened #20905 "CI: v1.10: GKE: Pods are not ready in time: timed out waiting for pods with filter to be ready: 4m0s timeout expired: 0/2 nodes are available: 2 node(s) didn't match Pod's node affinity/selector"
### Test Name

[code]

### Failure Output

[code]

### Stack Trace

[code]

### Standard Output

[code]

### Standard Error

[code]

### Resources

- Jenkins URL: https://jenkins.cilium.io/job/Cilium-PR-K8s-GKE/9030/testReport/junit/Suite-k8s-1/22/K8sDatapathConfig_DirectRouting_Check_connectivity_with_direct_routing/
- ZIP file(s): N/A

### Anything else?

The pod that fails to deploy reports the

[2022-08-15 16:42] joestringer opened #20906 "CI: GKE: K8sDatapathConfig MonitorAggregation Checks that monitor aggregation flags send notifications: Cilium cannot be installed"
### Test Name

[code]

### Failure Output

[code]

### Stack Trace

[code]

### Standard Output

[code]

### Standard Error

[code]

### Resources

- Jenkins URL: https://jenkins.cilium.io/job/Cilium-PR-K8s-GKE/9029/
- ZIP file(s):
[e9bd6441_K8sDatapathConfig_MonitorAggregation_Checks_that_monitor_aggregation_flags_send_notifications (1).zip](https://github.com/cilium/cilium/files/9338554/e9bd6441

[2022-08-15 16:50] joestringer opened #20907 "CI: v1.11: K8sLRPTests Checks local redirect policy LRP connectivity: cilium pre-flight checks failed"
### Test Name

[code]

### Failure Output

[code]

### Stack Trace

[code]

### Standard Output

[code]

### Standard Error

[code]

### Resources

- Jenkins URL: https://jenkins.cilium.io/job/Cilium-PR-K8s-1.22-kernel-4.19/1475/testReport/junit/Suite-k8s-1/22/K8sLRPTests_Checks_local_redirect_policy_LRP_connectivity/
- ZIP file(s):
[843a301c_K8sLRPTests_Checks_local_redirect_policy_LRP_connectivi

[2022-08-15 16:55] joestringer opened #20908 "CI: ConformanceAKS: dns-only: unable to get policy revisions for Cilium pods: Timeout occurred"
## CI failure

https://github.com/cilium/cilium/runs/7812856704?check_suite_focus=true
[cilium-sysdump-out.zip (20).zip](https://github.com/cilium/cilium/files/9338645/cilium-sysdump-out.zip.20.zip)

Failure:
[code]

Full test output:
[code]

[2022-08-15 18:28] vincentmli commented on #20901
maybe this? but I don't see where it get called, by any chance, do you have ipv6 enabled in kernel?

[code]

[2022-08-15 18:44] #20235 closed

[2022-08-15 19:29] samip5 commented on #20901
Yes, I do have IPv6 enabled in kernel.

[2022-08-15 19:31] samip5 commented on #20901
Could I please have full list of all the required kernel modules that need to exist for proper Cilium support on Pi's?
I tried to find it on the website without any luck and it's related to this issue.

[2022-08-15 19:43] vincentmli commented on #20901
here is system requirements, it has listed required kernel configs, and feature related kernel configs. https://docs.cilium.io/en/stable/operations/system_requirements/, are you using ipsec?

[2022-08-15 19:47] samip5 commented on #20901
I'm not using ipsec, but that error should imo say what it's having issues with, not just protocol not supported as that's very vague.

[2022-08-15 19:53] vincentmli commented on #20901
I agree, the agent will hide some kernel config probing logs when `/proc/config.gz` is not available, do you have `/proc/config.gz` in rasberry pi?

[2022-08-15 20:14] dctrwatson opened #20909 "ClusterMesh: GC'd Identity triggering warnings in all agents"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

1. Identity is created
2. ~60s later, endpoint using identity is removed
3. ~30s later, operator marks identity for later deletion
4. ~35m later, operator GC's identity and all agents log `UpdateIdentities: Skipping Delete of a non-existing identity`

### Cilium Version

[code]

### Kernel Vers

[2022-08-15 20:20] vincentmli commented on #20901
from https://github.com/raspberrypi/linux/issues/5127#issuecomment-1215731301, may you need to `sudo modprobe configs` to enable `/proc/config.gz`, that would give you helpful kernel config logs

[2022-08-15 21:27] jlandowner commented on #19698
@sayboras
Thank you for replying. Can I have chance to contribute or help something?

[2022-08-15 21:35] aanm commented on #20909
@dctrwatson are the warnings form the agents form that cluster or from a different cluster?

[2022-08-15 21:39] mateuszlitwin commented on #20790
I am excluding custom labels used in my org using pattern like this:

[code]

This is enough to prevent cilium from creating of new security identities when `.*myorg.com` labels change. However there is still substantial amount of traffic generated because these labels are still synchronized with CiliumEndpoint labels (see https://github.com/cilium/cilium/pull/12406).

[2022-08-15 21:40] aanm commented on #17277
I'll close the GH issue at the lack of activity. Feel free to re-open a new GH issue if you still face the issue again. Thank you

[2022-08-15 21:40] #17277 closed

[2022-08-15 21:41] aanm commented on #17841
Closing, we haven't seen this for a long while.

[2022-08-15 21:41] #17841 closed

[2022-08-15 21:41] mateuszlitwin commented on #20790
Are there any benefits from mirroring pod labels that are not identity-relevant labels?

[2022-08-15 21:41] dctrwatson commented on #20909
No warnings from agents in the local cluster

[2022-08-15 22:57] aanm commented on #20790
@mateuszlitwin that's a good point! No, if they are ignored they should be not be mirrored into the CiliumEndpoint. Would you like to submit a PR with the fix? Thanks

[2022-08-16 03:26] sayboras opened #20914 "policy: Deny CIDR policy with except IP"
IIUC, the below network policy should:

- allow access to 1.1.1.1, but
- drop package to other IPs in 1.0.0.1/8 CIDR.

However, what I observed is that the traffic to 1.1.1.1 is also block.

[code]

<details>
<summary>Without network policy</summary>

[code]

</details>

<details>
<summary>With network policy</summary>

[code]

</details>

[2022-08-16 09:25] sayboras commented on #20909
:wave:

I managed to simulate the issue locally. Just want to check if the warning logs are emitting continuous for you, or they just stopped after a few warning (e.g. number of replicas/endpoints - 1).

In my local clusters, my global service is having two endpoints, hence two events were fired:
- the first event was handled successfully with `UpdateIdentities: Deleting identity`
- the second eve

[2022-08-16 09:27] mhulscher opened #20915 "Scale-down event of EKS kube-apiserver causes network outage"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

AWS EKS scales its kube-apiserver(s) out and in. I notice that whenever a kube-apiserver is removed, the cilium-agent and -operator continue to make API requests to this now decommissioned kube-apiserver. What's annoying is that this kube-apiserver does not seem to close existing connections. I

[2022-08-16 09:45] mhulscher commented on #20915
I want to add that I did not experience the same issue while we were still on 1.11.

[2022-08-16 09:53] brb commented on #20888
This is used for Prometheus metrics. Please set `kubeProxyReplacementHealthzBindAddr` to `0.0.0.0:10249` or change the port in the test suite.

It is part of cilium-agent. But some external LBs require the KP healthz endpoint.

[2022-08-16 09:53] aanm commented on #20790
Yes that should do it, the only change would be to assign `idtyLabels.K8sStringMap()` to a new variable and use that variable in the places where `idtyLabels.K8sStringMap()` is being executed. I don't know what `K8sStringMap()` does but it's not worth it running it twice.

[2022-08-16 10:32] qascade commented on #19282
I know I should not post this here and will delete later but I have a problem with my lfx application. The application for this issue was registered twice (showing the prerequisite tasks twice) in my case. So, I thought to withdraw and apply again but  I am not able to apply. The email said to contact program supervisor but I don't know how and who to get in touch with.

[2022-08-16 11:16] xmulligan commented on #19282
@qascade for issues with the LFX platform, please reach out to the LFX support directly - [support.linuxfoundation.org](http://support.linuxfoundation.org/)

[2022-08-16 11:27] sayboras commented on #20530
If the option is commented in values.yaml, I don't think we document it due to the logic of [helm-docs](https://github.com/norwoodj/helm-docs)

The related changes were not back-ported to v1.11 branch, it's hard to back-port all fixes to older branch except application bug fix or security fix.

[2022-08-16 11:40] ensonic commented on #13239
@joestringer running a pub-sub system in cluster (e.g. FastDDS) would benefit from this. Most such system provide an additional discovery service to work around it (but this can easily become a single point of failure).

[2022-08-16 12:20] michalschott commented on #20074
I think the problem is that cilium is trying to allocate 1 more IP address than it should be able to on `t3.medium`.

[2022-08-16 13:31] squeed commented on #17251
Taking a look at this; first we can get CHECK plumbed up, then add more things to, well, check.

[2022-08-16 14:07] timbuchwaldt commented on #19931
We had this happen yet again. We have switched the 0s terminationGracePeriod to 1s, hoping this resolves the issue, but ultimately we would need to have a working 0s variant. @aanm can I assist you with any more info?

[2022-08-16 14:30] Shocktrooper commented on #19314
Going to go out on a limb then and say that windows is unsupported for now.  I don't see any mention of that on the requirements page explicitly but after the above comment it makes sense.  We should probably update the docs to mention that windows cannot be used

[2022-08-16 15:49] #20384 closed

[2022-08-16 15:49] #20704 closed

[2022-08-16 16:12] pchaigno commented on #19314
Cilium doesn't support Windows today. I don't think the initial report was for Windows though as the Cilium logs detected a Linux kernel 4.14.105.

[2022-08-16 16:22] maximumG opened #20925 "Wireguard connectivity issue between pods on different nodes"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

We rollout our kubernetes cluster CNI from cilium version 1.10.11 to version 1.11.7 and started to encounter some network connectivity issue between pods running on different nodes.

Cilium is configured with wireguard enabled. We are using node auto-scaling as well, so nodes might join/disappe

[2022-08-16 18:22] yimikao commented on #19282
Hi @xmulligan after applying to a project of choice and uploading resume. Is there going to be another task for applicants to complete before mentees are selected? I don't really know how it works and the LFX page isn't really clear on that.

[2022-08-16 19:12] dctrwatson commented on #20909
:wave:

:relieved:

Yup, it's just ~once per replica per endpoint.

[2022-08-16 19:20] Shocktrooper commented on #19314
Considering that Envoy actually works on Windows now and with the release of Cilium Service mesh that supports Envoy do you potentially see this working with windows?

[2022-08-16 19:43] qascade commented on #19282
@yimikao check `my tasks` tab on your mentorships page. Also check your spam folder. My initial mails from lfx were going to spam.

[2022-08-16 19:43] qascade commented on #19282
Thanks for your advice. The issue was resolved.

[2022-08-16 20:45] yimikao commented on #19282
@qascade so new tasks will be added over there as a the next qualification step, right?

[2022-08-16 21:07] qascade commented on #19282
On succesful application, you have to upload a cover letter and resume under `my tasks`. Anyways you should get a mail regarding prerequisite tasks from lfx itself.

[2022-08-16 22:36] joestringer commented on #20914
Heheh, interesting case. In general when you apply a deny policy, that policy will not allow anything. In fact, by itself it will put the endpoint into default deny, then also explicitly deny some things. Creating an `except:` block for a deny does not create an allow, it just excludes that block from the "deny".

Put another way, the above translates into:
1. Deny everything under 1.0.0.0/8 excep

[2022-08-16 23:00] aanm commented on #20914
@sayboras I've discussed this a little bit with Joe. Could we have some documentation stating this example in the Deny Policies? It's an interesting detail that is not perhaps obvious for users but it is not a bug.

[2022-08-17 02:16] #20065 closed

[2022-08-17 02:16] #19975 closed

[2022-08-17 02:16] #19965 closed

[2022-08-17 05:34] Duanzhiwei commented on #18914
I would like a guide to deploying cilium bgp mode on bare metal, but I don't know if it works and where I can get.

[2022-08-17 07:59] sayboras commented on #20914
Is (2) also default behavior for other rules (e.g. toEndpoints, toRequires, toEntities, toServices)? :thinking:

[2022-08-17 09:26] sayboras commented on #20909
Having warning logs is not ideal, but it's just limited to couple of them, I don't think we need to fix and change anything here.

There could be some improvements that we can make to avoid publishing n-1 times for the same event, and it could be long-term performance improvement.

I am closing this ticket soon, feel free to let us know if you have other concerns. Thanks.

[2022-08-17 09:38] demimraz commented on #20899
Hi @sayboras,
Thanks for your input.
I upgraded C1&C2 to cilium version 1.11.6, but it looks like the issue still exists.

[2022-08-17 10:02] erictarrence opened #20938 "Service mesh envoy-metrics ports 9964 of cilium 1.12.0 is not up"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

Port 9964 of cilium-agent envoy-metrics is not started, only ports 9962 and 9965 are started

cilium's service mesh is installed according to this document

https://docs.cilium.io/en/stable/gettingstarted/servicemesh/l7-traffic-management/

[code]

cilium install command:

[code]

### Cilium Ve

[2022-08-17 10:16] rolinh commented on #20938
Thanks for the report @Ericra95. Could you please open one issue per question? The first one relates to Hubble UI and the second one to service mesh and it looks like they are unrelated.

[2022-08-17 10:17] aanm commented on #20938
@Ericra95 let's keep this one open and use the https://github.com/cilium/hubble-ui for the hubble-related one

[2022-08-17 10:19] sayboras commented on #20938
:wave:

for the second question, please confirm if you have created either Ingress resource, or cilium L7 network policy created. By default, we don't start envoy proxy if not required, hence envoy metric port will not be available upon cilium installation.

[2022-08-17 11:22] karelvanhecke opened #20942 "Ingress Controller: upstream connect error or disconnect/reset before headers. reset reason: connection failure"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

When using the built-in ingress controller, the following issue occurs for a portion of requests to the ingress:
`upstream connect error or disconnect/reset before headers. reset reason: connection failure`

Cilium helm values:
[code]

Ingress configuration:
[code]

Nginx service:
[code]

Http

[2022-08-17 11:26] squeed commented on #17251
Will have a first attempt at this shortly.

One open question: should we validate the route table (against the CNI Result) as well? My instinct is no.

[2022-08-17 11:28] sayboras commented on #20942
:wave:

Can you help to share spec for nginx service, or how to install it as well ?

[2022-08-17 11:38] karelvanhecke commented on #20942
@sayboras Added the spec for the sample nginx service that's used as a backend.
I also included the helm values used during the Cilium installation.

[2022-08-17 11:53] sayboras commented on #20942
thanks, let me test it out and get back to you soon.

[2022-08-17 12:36] borkmann commented on #20756
[...]

Just ran into the same, @gandro any idea if there's a k8s upstream issue about it?

[2022-08-17 12:39] Skarlso commented on #20756
Actually, I did some digging into this. And there are SEVERAL ( :D ) issues regarding what sizes kubeadm and kubelet can accept.

Basically, the general consensus right now is that service CIDRs will only accept anything below 112. But pod CIDRs work fine.

I think the entry point to this particular rabbit hole was this PR: https://github.com/kubernetes/kubernetes/pull/91875

[2022-08-17 13:41] sayboras commented on #18391
This is fixed as part of https://github.com/cilium/cilium-cli/pull/970

[2022-08-17 13:41] #18391 closed

[2022-08-17 14:01] maximumG commented on #20925
I dig a bit further in the issue and here are my preliminary conclusion. In our current testing setup, when a node terminates, it is automatically replaced by a new one thanks to node auto-scaling.

Here is what is currently happening when a new node (A) comes up.

1. The node A is registered as `Ready` in the kubernetes cluster
2. A new cilium pod A' is created on node A and start its registratio

[2022-08-17 14:08] karelvanhecke commented on #20942
I've narrowed it down a bit: connections to the internal ClusterIP of the Cilium ingress service don't seem to have the problem.

internal client pod -> Cilium ingress ClusterIP: No issues
external client -> Cilium ingress nodeport: issue occurs for +-50% of requests
external client -> Cilium ingress loadbalancer IP: issue occurs for +-50% of requests

The issue never occurs when reproducing the s

[2022-08-17 15:00] NikhilSharmaWe commented on #20902
@sayboras I would like to work on this.

[2022-08-17 15:10] alex-berger commented on #19931
We have observed this bug several times now (last time today), and it is really annoying that we cannot reproduce it. However, it's always happening with *Pod*s created for *StatefulSet*s. We observed that the following fields of the affected *CiliumEndpoint* contained wrong IPv4 addresses:
- `status.networking.addressing.ipv4`
- `status.networking.node`

Manually updating those two fields with th

[2022-08-17 15:41] NikhilSharmaWe commented on #20902
Is this location makes sense: https://github.com/NikhilSharmaWe/cilium/blob/docIngressAnnotations/Documentation/annotations/ingress_annotations.md

[2022-08-17 16:49] Kikiodazie commented on #2242
Hey @aanm,

Just checking on all the old issues that can be closed.

Seeing you said "Done", can this be closed?

I hope this meets you well. Cheers

[2022-08-17 16:56] aanm commented on #2242
oh yeah this should have been closed. Thanks for checking!

[2022-08-17 16:56] #2242 closed

[2022-08-17 17:35] Kikiodazie commented on #11081
Hey @pchaigno,

Quick question about this, does `cilium uninstall` cleanly uninstall cilium?

I used it earlier on a cluster and it looks like it did but just want to be sure and maybe find a way to add it to the documentation.

<img width="484" alt="Screenshot 2022-08-17 at 18 30 30" src="https://user-images.githubusercontent.com/42554056/185204417-9628561f-447b-461d-a86f-ba219566a5a9.png">

[2022-08-17 17:47] chancez commented on #11672
I just hit this too when enabling L7 policy visibility for Loki. Also now that newer hubble-ui is looking at using web sockets, it's probably affected as well.

[2022-08-17 17:51] aditighag opened #20955 "CFP: Augment NAT and CT events with aggregated connection tuple information"
## Cilium Feature Proposal

**Is your feature request related to a problem?**
Yes, cilium datapath triggers `ct_fill_up` and `nat_fill_up` events to the agent when it's not able to keep up with the traffic load. These signals trigger garbage collection for conntrack and nat maps, respectively. As the name suggests, these are only signals, but they lack information about connection tuple informatio

[2022-08-17 18:14] chancez commented on #11672
So a related issue is https://github.com/cilium/cilium/pull/20814

I think that the implementation there is nearly what is needed, but could be better. Ideally it automatically configures the upgrade header based on the incoming upgrade header, so that for ingress: users don't have to explicitly enable web sockets support, and for L7 visibility, it "just works", without breaking anything.

[2022-08-17 18:27] NikhilSharmaWe commented on #19203
@aanm this is the condition in which the endpoint regeneration is canceled. https://github.com/cilium/cilium/blob/master/pkg/endpoint/policy.go#L612

And do we need to use that condition inside the functions like  [handlerInterrupt](https://github.com/cilium/cilium/blob/master/api/v1/health/server/server.go#L504) for changing the behavior of the logs.

Could you please inform whether this is reaso

[2022-08-17 18:29] dctrwatson commented on #20909
It's not the logs I'm worried about (they can easily be filterd), it's the noise in `cilium_errors_warnings_total`

![Screenshot_2022-08-17_11 28 28](https://user-images.githubusercontent.com/395054/185215549-7a070aee-b9f3-47ca-b051-791db2284959.png)

[2022-08-17 18:54] joestringer commented on #20914
Yes, creating any policy that selects a pod and has an "ingress" section with rules inside will put the pod into default deny on ingress. Same with any policy that selects a pod and has an "egress" section with rules for traffic egressing the pod.

[2022-08-17 20:16] squeed commented on #17251
OK, PR filed. Not too bad :-)

[2022-08-17 20:23] aanm commented on #19203
@NikhilSharmaWe this might have been fixed already but if it is not then that would be a good proposal.

[2022-08-17 20:23] #20903 closed

[2022-08-17 20:41] maintainer-s-little-helper[bot] opened #20957 "CI: K8sDatapathConfig Iptables Skip conntrack for pod traffic"
### Test Name
[code]

### Failure Output
[code]

### Stacktrace
<details><summary>Click to show.</summary>

[code]
</details>

### Standard Output
<details><summary>Click to show.</summary>

[code]
</details>

### Standard Error
<details><summary>Click to show.</summary>

[code]
</details>

ZIP Links:
<details><summary>Click to show.</summary>

 https://jenkins.cilium.io/job/Cilium-PR-K8s-1.22-ker

[2022-08-17 20:56] pchaigno commented on #19314
Oh, WSL should work, so it may require some changes to the config. See https://github.com/cilium/cilium/issues/17745#issuecomment-1004299480 and the following comment. If that doesn't work, I'd suggest to ask on Slack.

[2022-08-17 21:12] Shocktrooper commented on #19314
Interesting bit of work needed to get that working in WSL I'll say. As for native windows support what about that as some other products are trying to bridge that gap while Cilium is Linux only for now.

[2022-08-17 21:49] ravilr commented on #20677
Also noted that there was a rename of host routing helm option in v1.12: https://github.com/cilium/cilium/pull/19064, which seems to have flipped the default from `true`(before v1.12, use legacy host routing, by default) to `false` . Is that change related to this issue ?

[2022-08-17 23:02] aanm opened #20958 "Cilium Operator leases have a default TTL of 60 seconds"
Contrary to the cilium-agent, the cilium-operator does not have a kvstore TTL flag. We should add one because right now it is using the default value of etcd's library which is 60 seconds.

[2022-08-18 01:54] Ericra95 commented on #20938
Thank you for the reminder, a new issue has been opened at the link
https://github.com/cilium/hubble-ui/issues/278

[2022-08-18 02:23] wenqiang0527 opened #20959 "bgp-control-plane failed to retrieve labels for Node"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

level=error msg="Encountered error during reconciliation" component=Controller.Run error="failed to retrieve labels for Node: failed to get node test20220809111450a0a8.master.node.com: node \"test20220809111450a0a8.master.node.com\" not found" subsys=bgp-control-plane

### Cilium Version

v1.12

[2022-08-18 03:48] Ericra95 commented on #20938
[code]

This document mentions that installing cilium without installing ingress requires setting the --set-string extraConfig.enable-envoy-config=true parameter

At the same time, do you have to set cilium L7 network policy, will envoy-metrics ports 9964 be activated? I have some doubts about this
1. The test/production system does not have to set the cilium L7 network policy
2. The envoy of isti

[2022-08-18 04:17] AmanSarraf commented on #19687
/assign

[2022-08-18 05:00] eyanulis opened #20960 "CFP: Support TLS (HTTPS) backends and TLS passthrough on Cilium Ingress"
## Cilium Feature Proposal

**Is your feature request related to a problem?**

Follow-up from Slack thread found [here](https://cilium.slack.com/archives/C53TG4J4R/p1660718164559439). In short, while Cilium's `Ingress` controller has full support for TLS _frontends_, it does not currently appear to have support for TLS _backends_.

There exist some Kubernetes services that will serve HTTPS connect

[2022-08-18 05:36] anthonyhaussman commented on #20751
I'm closing this issue as my problem is the same as https://github.com/cilium/cilium/issues/20925.
I'm following this issue to resolve my problem.

[2022-08-18 05:36] #20751 closed

[2022-08-18 08:34] #19864 closed

[2022-08-18 09:00] rustrial commented on #19931
@aanm Obviously, this must be kind of a race condition or logic error in the endpoint manager. Is there any chance to raise the priority of this bug, such that it gets hunted down and fixed soonish?

Also any pointer to the relevant code is welcome and I will try to review it myself, though I doubt that I will understand it :-).

[2022-08-18 09:04] clcc2019 opened #20963 "cilium cli install error about iptables"
### Is there an existing issue for this?

- [ ] I have searched the existing issues

### What happened?
[code]
### Cilium Version

latest

### Kernel Version

5.11

### Kubernetes Version

1.22

### Sysdump

_No response_

### Relevant log output

_No response_

### Anything else?

_No response_

### Code of Conduct

- [ ] I agree to follow this project's Code of Conduct

[2022-08-18 09:16] fazizsoltani commented on #18179
Same here. In EKS we have 3 interfaces. Pods on eth2 and eth3 masqueraded with eth0 IP address instead of relative interface IP addresses.

[2022-08-18 10:42] aanm opened #20967 "High label cardinality in `cilium_event_ts` metric"
<img width="1835" alt="Screen Shot 2022-08-17 at 8 54 16 PM" src="https://user-images.githubusercontent.com/5714066/185375291-e14fb806-1823-41f4-bdba-7e392b708f11.png">

The problem is in this code since we are using `req.URL.Path` to be defined as the "scope".
https://github.com/cilium/cilium/blob/e4d68f84a7c957bc9c6b6fea3bfda3151f830629/pkg/metrics/middleware.go#L56-L58

The "scope" should be an

[2022-08-18 11:10] mhulscher commented on #20915
While trying to reproduce this on 1.11.8 I found that cilium also received 401 Unauthorized from removed kube-apiservers. However, it doesn't result in cilium removing identities/endpoints/etc and thus doesn't cause a network outage.

For now we are going to rollback to 1.11.8. I will try and prepare a sysdump of 1.12 while the issue presents itself.

[2022-08-18 11:46] aanm commented on #19931
@rustrial sorry, without a reproducible it is difficult to find what is the bug. I tried to reproduce the bug but I couldn't. The source code referent to this functionality is [here](https://github.com/cilium/cilium/blob/96c75e41311daef08eaf38ce599794caaa327740/pkg/k8s/watchers/endpointsynchronizer.go#L79-L296)

[2022-08-18 12:31] sayboras commented on #20938
Provisioning CEC resource will also start envoy proxy, and in turn expose metric listener accordingly. I have missed this scenario in my previous reply, the gist is still staying the same _envoy is started if required_.

[2022-08-18 12:36] sayboras commented on #20899
Seems like there is another fix coming soon here as well.

Appreciate if you can help to test it out, kindly note that the fix is currently on top of master branch (e.g. v1.12, but not v1.11), you can also wait for it to land in 1.11 branch later.

https://github.com/cilium/cilium/pull/20968

[2022-08-18 13:08] sayboras commented on #19687
thanks for your interest, I am assigning issue to you. Feel free to reach out in #development Cilium OSS channel.

[2022-08-18 13:16] sayboras commented on #20902
I think it's making more sense to have annotations in the below page (or its child).

https://docs.cilium.io/en/latest/installation/servicemesh/ingress/

Yes, it will be ideal to have auto-generation target to avoid the drift. However, it's not straightforward like cmdref as the annotations are embedded inside go file(s). I think manual update will be a good first step.

[2022-08-18 14:41] aanm commented on #20963
@clcc2019 which cilium version are you using?

[2022-08-18 14:58] Ericra95 commented on #20938
https://isovalent.com/blog/post/cilium-release-112/ This documentation mentions Envoy CRD – CiliumEnvoyConfig (CEC)

But after reading the following two links, I did not see the methods and parameters of CiliumEnvoyConfig (CEC) configuration

https://docs.cilium.io/en/stable/gettingstarted/
https://github.com/cilium/cilium/tree/v1.12.0/install/kubernetes/cilium

Do you have the setup documentation

[2022-08-18 15:31] ldelossa commented on #20959
Hello @wenqiang0527 can you provide me a sysdump of your cluster. You can do this with the following instructions: https://docs.cilium.io/en/v1.12/operations/troubleshooting/#automatic-log-state-collection

[2022-08-18 21:01] #20899 closed

[2022-08-18 23:09] sayboras commented on #20909
actually, the above metric is already having the level label, so to avoid some noise, you can filter based on level (e.g. level=error).

[2022-08-18 23:11] dctrwatson commented on #20909
oh? did not see that before. Thank you!

[2022-08-18 23:16] agrevtcev opened #20981 "enable-bpf-clock-probe functionality is broken, "Cannot probe CONFIG_HZ", 1.12.0, 1.12.1"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

It seems enable-bpf-clock-probe functionality is broken. On cilium-agent startup i see the error stating "Cannot probe CONFIG_HZ".
I logged-in into container, and tried to run
[code]
Then i added CAP_SYS_NICE to relevant DaemonSet, and tried again
[code]
Then i checked contents of /proc/timer_l

[2022-08-19 00:55] clcc2019 commented on #20963
[code]

[2022-08-19 02:19] #20000 closed

[2022-08-19 02:31] lzj47010 opened #20982 "Cilium NAT issue some entries will not be deleted and new entries will not be added"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

cilium bpf nat list |wc -l
![image](https://user-images.githubusercontent.com/50096566/185528654-6b93cb56-1b5d-4867-a4b6-089f21c643f8.png)

The number of nat entries remains unchanged!

Cluster Node cannot access pod service !
Endpoint

# kubectl get ep -n kube-system -owide|grep gate
gateway

[2022-08-19 02:41] lzj47010 commented on #20982
The problematic entries are all RevNAT!=0.
# cilium bpf nat list |grep -v "RevNAT=0"|wc -l
Unable to open /sys/fs/bpf/tc/globals/cilium_snat_v6_external: Unable to get object /sys/fs/bpf/tc/globals/cilium_snat_v6_external: no such file or directory. Skipping.
2140

[2022-08-19 03:04] wenqiang0527 commented on #20959
bgp-control-plane  will announce  podCIDR ?

CiliumBGPPeeringPolicy:
spec:
  nodeSelector:
    matchLabels:
      bgp-policy: a
  virtualRouters:
  - exportPodCIDR: true
    localASN: 64512
    neighbors:
    - peerASN: 65199
      peerAddress: 10.125.1.8/32

cilium install  --config=k8s-api-server=https://10.182.5.40:6443,kube-proxy-replacement=strict,tunnel=disabled,cluster-pool-ipv4-cidr=10.142

[2022-08-19 03:57] Ericra95 commented on #20938
Testing according to the CEC installation documentation will not start port 9964, only port 9090.

https://docs.cilium.io/en/stable/gettingstarted/servicemesh/envoy-custom-listener/

[code]

Then I changed 9090 to 9964

[code]

Because my server only supports the ipv4 protocol, there are some ipv6 errors in ds/cilium
[code]

Then there are some suggestions
1. Increase the ipv6_compat parameter to

[2022-08-19 05:29] sayboras commented on #20909
there were a couple of improvements recently on multiple fronts

Seems like the original concern you have is good now, I am closing the ticket.

[2022-08-19 05:29] #20909 closed

[2022-08-19 09:27] sayboras commented on #20884
after https://github.com/cilium/cilium/pull/20943 is merged, the default iptables version is iptables v1.8.7 (nf_tables).

So I think we can close this issue.

[2022-08-19 09:36] jansmets commented on #18706
I'm having the same problem - ubuntu 22.04.1 LTS - it took me a very long time to figure this one out!

[2022-08-19 10:18] timbuchwaldt commented on #19931
I have been working on making a proof of concept to reproduce this: https://github.com/timbuchwaldt/cilium-19931-poc

I have seen it to generate unstable differences where CEPs and Pods went out of sync and at least two where they became stable and stayed like this.

You have to apply the `sts.yaml` to create a 2-pod statefulset running nginx, alter the `scheduler.sh` to select only scheduleable n

[2022-08-19 11:03] carlosjgp commented on #19256
You don't need `node-init` (mount bpf FS) when using BottleRocket just disable it

[code]

[2022-08-19 11:33] timbuchwaldt commented on #19931
And another one, now even with timestamps:

[code]

Let me know if you need more details. Generally about the cluster: It's made up of 128 Thread workers that run a very mixed workload, from quickly spawning CI jobs to hundreds of tiny apps and long running big applications, there is a constant load on it -> It's conceivable Cilium sees many events/s happening.

[2022-08-19 11:46] mitchese commented on #19931
Running @timbuchwaldt script on my small test cluster, it almost immediately gets into an inconsistent state where the CEP is missing entirely.

[code]
Here are the logs from cilium running on k8s-ceph-v1 which appear to first create the endpoint then erroneously delete it
[code]
This is with k8s v1.23.1 and cilium 1.11.0 27e0848

[2022-08-19 16:55] maintainer-s-little-helper[bot] opened #20998 "CI: K8sFQDNTest Restart Cilium validate that FQDN is still working"
### Test Name
[code]

### Failure Output
[code]

### Stacktrace
<details><summary>Click to show.</summary>

[code]
</details>

### Standard Output
<details><summary>Click to show.</summary>

[code]
</details>

### Standard Error
<details><summary>Click to show.</summary>

[code]
</details>

ZIP Links:
<details><summary>Click to show.</summary>

 https://jenkins.cilium.io/job/Cilium-PR-K8s-1.19-ker

[2022-08-19 16:55] maintainer-s-little-helper[bot] opened #20999 "CI: K8sFQDNTest Validate that multiple specs are working correctly"
### Test Name
[code]

### Failure Output
[code]

### Stacktrace
<details><summary>Click to show.</summary>

[code]
</details>

### Standard Output
<details><summary>Click to show.</summary>

[code]
</details>

### Standard Error
<details><summary>Click to show.</summary>

[code]
</details>

ZIP Links:
<details><summary>Click to show.</summary>

 https://jenkins.cilium.io/job/Cilium-PR-K8s-1.19-ker

[2022-08-19 16:55] maintainer-s-little-helper[bot] opened #21000 "CI: K8sFQDNTest Validate that FQDN policy continues to work after being updated"
### Test Name
[code]

### Failure Output
[code]

### Stacktrace
<details><summary>Click to show.</summary>

[code]
</details>

### Standard Output
<details><summary>Click to show.</summary>

[code]
</details>

### Standard Error
<details><summary>Click to show.</summary>

[code]
</details>

ZIP Links:
<details><summary>Click to show.</summary>

 https://jenkins.cilium.io/job/Cilium-PR-K8s-1.19-ker

[2022-08-19 16:55] joestringer commented on #20999
Caused by https://github.com/cilium/cilium/issues/20998.

[2022-08-19 16:55] #20999 closed

[2022-08-19 16:55] joestringer commented on #21000
Caused by https://github.com/cilium/cilium/issues/20998.

[2022-08-19 16:55] #21000 closed

[2022-08-19 17:03] aanm commented on #20963
@clcc2019 That has been fixed by https://github.com/cilium/cilium/pull/20885 which is available in v1.12.1 and will be available in cilium-cli v0.12.2.