[2021-05-13 01:35] aanm commented on #16121
Still, the panic should be fixed as the code clearly has a bug:
[code]

[2021-05-13 01:53] h2cw2l commented on #16117
@gandro @pchaigno

Thanks.

[2021-05-13 01:53] #16117 closed

[2021-05-13 01:58] aanm commented on #16106
@ppancake accordingly the [Bandwidth Manager (beta)](https://docs.cilium.io/en/v1.9/gettingstarted/bandwidth-manager/#bandwidth-manager-beta) documentation it's clear that ingress is not supported: _The kubernetes.io/ingress-bandwidth annotation is not supported and also not recommended to use._

Can you clarfiy this question better? Bandwidth Manager does support egress limit.

[2021-05-13 03:04] ppancake commented on #16106
Sorry, my question may not clear.

@aanm. Yes, cilium dose not support ingress currently.  But now I need  this functionality , the documentation mentions the ifb method. So I test the  IFB device method, and Add the IFB redirect manually.
However, the result show that it not work, pod's egress is limited :`tx = 97.61 kB/s`.  So i'm confused.

I found that ifb netdevice didn't work, so I test dire

[2021-05-13 03:09] ppancake commented on #16106
Sorry, it is not cilium's issue. But I only want to discuss how to implement bandwidth ingress function.

[2021-05-13 03:11] eyanulis commented on #16042
Not a bug. See discussion in #16044.

[2021-05-13 03:11] #16042 closed

[2021-05-13 04:00] aanm commented on #16106
maybe @borkmann can give you some pointers on how to implement this

[2021-05-13 08:10] pchaigno commented on #16128
Yep, probably due to the use of checkout v1: https://github.com/cilium/cilium/blob/b553845559a55dd0f56ca1174181c1209d28c918/.github/workflows/docs.yaml#L14-L16.

[2021-05-13 09:01] mvisonneau commented on #16124
absolutely, my bad :facepalm: it is also likely that I have performed my manual tests from master which already included the fix.. closing this! many thanks :bow:

[2021-05-13 09:01] #16124 closed

[2021-05-13 12:28] #16128 closed

[2021-05-13 12:53] Maddy007-maha commented on #13834
@pchaigno

As am looking into this issue for some time.
Can you assign this to me?

-Thanks

[2021-05-13 14:11] oneiro-naut commented on #15936
Can this issue be assigned to me?

[2021-05-13 18:37] christarazi commented on #16120
Adding need-more-info as a sysdump is required to debug further. We know that EKS works, so there must be something specific with this environment that's causing issues.

[2021-05-14 00:09] christarazi commented on #16079
Good find @joshmue. Feel free to take this issue up and assign yourself if you're interested. Reach out to us if you require assistance either here or preferably on the #development channel.

[2021-05-14 01:23] Weil0ng commented on #16121
Discussed with @aanm offline, using this [patch](https://gist.github.com/Weil0ng/398f7067a2c2886d580fcf66e84dd069), along with setting `bpf-lb-max-size` to >64k, it seems like the panic is gone, but in the pod deletion phase, agent is full of the following error:
[code]

Checking in the node, it seems like `cilium_lb4_backends` is somehow empty, see [screenshot](https://files.slack.com/files-pri/T

[2021-05-14 06:44] SimpCosm opened #16144 "Complexity Issue with cilium v1.9.5 when `enable-endpoint-routes=true`"
## Bug report

**General Information**

- Cilium version (run `cilium version`)
[code]
- Kernel version (run `uname -a`): 5.4.87
- Orchestration system version in use (e.g. `kubectl version`, ...): v1.18.4
- Link to relevant artifacts (policies, deployments scripts, ...)
- Generate and upload a system zip:
[code]

**How to reproduce the issue**

I came across the complexity issue with cilium 1.9.5

[2021-05-14 06:48] SimpCosm commented on #16144
With `enable-endpoint-routes=true`,  we can reproduce the problem for cilium v1.9.5, here is my cilium configuration in detail

[code]

[2021-05-14 06:49] SimpCosm commented on #10517
@pchaigno hi paul, I have open a new issue here #16144

[2021-05-14 06:54] SimpCosm commented on #16144
As I dive into the cilium code, `tc filter replace dev lxcefc1adc1539b ingress prio 1 handle 1 bpf da obj 2729_next/bpf_lxc.o sec from-container` failed

[2021-05-14 07:03] ungureanuvladvictor commented on #16079
@joshmue -- as @AnishShah mentioned you can create a custom RBAC role for example `cilium-operator` with the the following content (the current scope is at the subscription but you can also just create this role at the resource group level):
[code]

Once you have the role you can go to the individual resource groups and do a role assignment of the `cilium-operator` role on the RG resource. In my c

[2021-05-14 07:05] SimpCosm commented on #16144
As I dive into the cilium code, I found some clue for the problem:
1. `tc filter replace dev lxcefc1adc1539b ingress prio 1 handle 1 bpf da obj bpf_lxc_BAD_CASE.o sec from-container` failed because complexity issue
2. when `enable-endpoint-routes=false`,  command `tc filter replace dev lxcefc1adc1539b ingress prio 1 handle 1 bpf da obj bpf_lxc_GOOD_CASE.o sec from-container` succeed
3. differences

[2021-05-14 07:08] SimpCosm commented on #16144
@pchaigno any idea for this issue?

[2021-05-14 09:15] oneiro-naut commented on #15936
Would I need an older kernel image to test my change?

[2021-05-14 09:24] christian-2 opened #16146 "Cilium documentation: separator between namespace/name in endpoint identifiers of type pod-name"
## Bug report

**General Information**

- Cilium version 1.9 (documentation)

**How to reproduce the issue**

`cilium endpoint get` allows endpoint ids with prefix `pod-name:`. An example in the [documentation](https://docs.cilium.io/en/v1.9/api/) (`https://docs.cilium.io/en/v1.9/api/`) separates a pod's namespace and name with a colon: `pod-name:default:foobar`. Apparently a slash is required ins

[2021-05-14 09:43] UbiquitousBear opened #16147 "Egress for destination CIDR 0.0.0.0/0 blocks all network connections"
## Bug report

**General Information**

- Cilium version (run `cilium version`)
- Kernel version (run `uname -a`)
- Orchestration system version in use (e.g. `kubectl version`, ...)
- Link to relevant artifacts (policies, deployments scripts, ...)
- Generate and upload a system zip:
[code]

**How to reproduce the issue**

1. Use the following egress rule
[code]
2. curl http://checkip.amazonaws.com

[2021-05-14 09:51] christian-2 opened #16148 "Cilium documentation: scrape interval for Hubble metrics for Cilium v1.9 Hubble Metrics dashboard"
## Bug report

**General Information**

- Cilium version 1.9 (documentation)

**How to reproduce the issue**

I have installed a job into Prometheus in order to pick up Hubble metrics by following an example from the [documentation](https://docs.cilium.io/en/v1.9/operations/metrics/) (`https://docs.cilium.io/en/v1.9/operations/metrics/`). The example (`scrape_config` for `job_name: 'kubernetes-end

[2021-05-14 10:09] pchaigno commented on #16147
@UbiquitousBear Could you share a sysdump? Also, what's the value of `enable-endpoint-routes` in your cluster?

@anfernee Did you come across this while testing? It looks like such a CIDR will also affect intra-cluster connections when endpoint routes are disabled.

[2021-05-14 10:10] pchaigno commented on #15936
Yes, you can use the development VM as per the contributing documentation.

Yes.

[2021-05-14 10:33] UbiquitousBear commented on #16147
@pchaigno

`cilium config view | grep enable-endpoint-routes` yields no results... I assume it's disabled?

Sysdump: http://transfer.sh/33tFU/cilium-sysdump-20210514-112945.zip

[2021-05-14 10:50] pchaigno commented on #16147
Attaching the sysdump to the issue so we don't lose it:
[cilium-sysdump-20210514-112945.7z.zip](https://github.com/cilium/cilium/files/6478287/cilium-sysdump-20210514-112945.7z.zip)

Yes, endpoint routes are disabled. From the Cilium agent logs:
[code]

[2021-05-14 11:48] oneiro-naut commented on #15936
I do not get the error message on the development VM cilium/ubuntu-dev.

[2021-05-14 12:21] pchaigno commented on #15936
How did you start it?

[2021-05-14 13:13] oneiro-naut commented on #15936
I started it with `K8S=1 NWORKER=1 ./contrib/vagrant/start.sh k8s1`.

[2021-05-14 14:15] pchaigno opened #16151 "Direct mapping between `CT_XXX` and `METRIC_XXX` constants to reduce complexity"
In the datapath, we have two sets of constants to indicate direction: CT_XXX and METRIC_XXX. As the names indicate, the former are used for conntrack, while the latter are used for metric collection. They are defined as:
[code]

Since the values don't match, when we need to convert from one set to the other, a couple branches (or switch cases) are needed: https://github.com/cilium/cilium/blob/0551

[2021-05-14 14:33] pchaigno commented on #15936
I'm also unable to reproduce with a 4.9.258 kernel. @aanm Do you remember with which kernel and Cilium version you had that error message? I also tried v1.8.0 and v1.9.0 (which ship with different bpftool versions) without luck.

[2021-05-14 14:34] joshmue commented on #16079
Thank you all for your feedback so far!

@ungureanuvladvictor Indeed, this seems to work, thanks!

I was not aware of the behaviour of Azure that doing a "list all" with...
- a principal having no permissions in a subscription results in a 403
- a principal having some permissions on resources within the subscription results in a 200 with partial/incomplete results
- a principal having full access

[2021-05-14 14:35] pchaigno commented on #16144
@SimpCosm Did you check if v1.10-rc1 has the same issue? A sysdump would also be useful to get the full datapath config.

[2021-05-14 14:42] ungureanuvladvictor commented on #16079
@joshmue -- re: Azure behavior I could not find that documented anywhere but surprised me as well when I started working with Azure Cloud and my findings are in line with what you described here as well.

The syncing of vnets + subnets you are right that it slurps up everything it can but I think the detail is a bit hidden in the behavior of the code: we sync those so we have that information avai

[2021-05-14 15:03] pchaigno opened #16154 "CI: K8sServicesTest Checks local redirect policy LRP restores service when removed"
https://jenkins.cilium.io/job/Cilium-PR-K8s-1.20-kernel-4.19/407/testReport/junit/Suite-k8s-1/20/K8sServicesTest_Checks_local_redirect_policy_LRP_restores_service_when_removed/
[27d7cbf5_K8sServicesTest_Checks_local_redirect_policy_LRP_restores_service_when_removed.zip](https://github.com/cilium/cilium/files/6479597/27d7cbf5_K8sServicesTest_Checks_local_redirect_policy_LRP_restores_service_when_re

[2021-05-14 15:04] pchaigno commented on #16154
The PR where this test failed includes https://github.com/cilium/cilium/pull/16064 which parallelized the LRP test cases. Maybe that PR broke something. @aditighag Could you review it just in case I missed something?

[2021-05-14 15:28] pchaigno commented on #16088
Also happens in v1.10: https://jenkins.cilium.io/job/Cilium-PR-K8s-1.19-kernel-5.4/94/testReport/junit/Suite-k8s-1/19/K8sDatapathConfig_AutoDirectNodeRoutes_Check_connectivity_with_sockops_and_direct_routing/.
[c969a003_K8sDatapathConfig_AutoDirectNodeRoutes_Check_connectivity_with_sockops_and_direct_routing.zip](https://github.com/cilium/cilium/files/6479714/c969a003_K8sDatapathConfig_AutoDirectN

[2021-05-14 16:08] aanm commented on #15936
@pchaigno any kernel between 4.11 and 4.15

[2021-05-14 16:12] pchaigno commented on #15936
@aanm Ah, I see. Doesn't this code fix the present issue then? https://github.com/cilium/cilium/blob/a9374b5db0223752364829f9c0b827f413d2903b/cilium/cmd/bpf_ipcache_list.go#L59-L60

[2021-05-14 16:31] christarazi commented on #16079
Hmm, maybe it makes sense to file an issue with this, if this issue isn't already the best place. I think this is good feedback and we should definitely do it.

[2021-05-14 16:33] anfernee commented on #16147
cc @MasterZ40

It looks like the kube-dns traffic is affected. To @pchaigno we haven't came across this setting. Let's try to reproduce and get back to you.

[2021-05-14 16:35] aanm commented on #15936
no because it fails on line 47: https://github.com/cilium/cilium/blob/a9374b5db0223752364829f9c0b827f413d2903b/cilium/cmd/bpf_ipcache_list.go#L47

[2021-05-14 16:35] christarazi commented on #15177
@splushii Thanks for the detailed write-up. Would you mind opening a PR with that patch? We can figure out a solution to resolve the infinite loop problem during the review process.

[2021-05-14 16:41] christarazi commented on #13071
@pchaigno Yes it appears so. I can take this up and use an even-numbered port.

[2021-05-14 17:31] oneiro-naut commented on #15936
I thought of adding a check for error code to filter error 524(operation not permitted) here:
https://github.com/cilium/cilium/blob/a9374b5db0223752364829f9c0b827f413d2903b/pkg/bpf/bpf_linux.go#L243

[2021-05-14 18:11] christarazi opened #16159 "CI: K8sDatapathConfig Host firewall: Managed to reach"
## CI failure

[code]

https://jenkins.cilium.io/job/Cilium-PR-K8s-1.20-kernel-4.19/419/testReport/junit/Suite-k8s-1/20/K8sDatapathConfig_Host_firewall_With_VXLAN/

[00898f73_K8sDatapathConfig_Host_firewall_With_VXLAN.zip](https://github.com/cilium/cilium/files/6480510/00898f73_K8sDatapathConfig_Host_firewall_With_VXLAN.zip)

Seems to be the sibling of https://github.com/cilium/cilium/issues/15575

[2021-05-14 19:15] JESWINKNINAN commented on #13701
Getting the same error in newer version as well(1.9.6)

`level=info msg="Connected to EC2 service API" subsys=ipam-allocator-aws
level=warning msg="Unable to synchronize EC2 interface list" error="UnauthorizedOperation: You are not authorized to perform this operation.\n\tstatus code: 403, request id: xxxxx" subsys=eni`

Have verified Imdsv2 and Imdsv1 is working fine in my worker nodes.(Given thi

[2021-05-14 22:34] aanm opened #16163 "CI: session affinity failing with `kube-proxy-replacement=disabled`"
Kubernetes conformance tests (`test/kubernetes-test.sh` + `jenkinsfiles/kubernetes-upstream.Jenkinsfile`) are currently failing when being run with `kube-proxy-replacement=disabled`:
[code]

Tested with v1.10 branch and v1.9.1 and v1.9.6 tags in 5.12 kernel. Our CI is running k8s e2e tests in 4.19 kernel.

Marking as high priority since we switched our default to `kube-proxy-replacement=disabled`

[2021-05-15 06:53] ungureanuvladvictor opened #16164 "Improve documentation of Azure IPAM auth requirements"
In the recent weeks users asked in various places about more custom ways of deploying the Azure IPAM.

The stories I encountered are:
- user not having access to operate at a Azure subscription layer and got misdirected by our documentation (given we say that the operator needs to be able to describe all vnets)
- user having VMs or VMSS in another resource group than the operator but we do not cal

[2021-05-15 06:55] ungureanuvladvictor commented on #16079
@christarazi / @joshmue I collected my thoughts into https://github.com/cilium/cilium/issues/16164. I'm inclined to close this and we should move the conv there given it has more details, wdyt?

[2021-05-16 04:24] anfernee commented on #16147
I tried to run `egress-gateway` with `--enable-endpoint-routes='false'` and didn't see any issues.

@UbiquitousBear One thing I've noticed in the sysdump is that you are running `kube-proxy` together with cilium's `kube-proxy-replacement: strict` mode. That might cause problems. You should be able to remove `kube-proxy` because cilium is going to do the service resolution for you.

[2021-05-16 07:50] brb commented on #16163
@aanm Could you rerun the test with `--enable-session-affinity=true`? https://github.com/cilium/cilium/pull/13480 intended to make it enabled by default.

[2021-05-16 09:17] brb opened #16166 "Datapath interoperability with netfilter"
In the datapath code we heavily rely on the `bpf_redirect*()` helpers which redirect a packet to another net device bypassing the kernel networking stack (incl. netfilter). This gives us not only performance benefits, but also allows us to simplify the datapath.

Unfortunately, the helpers usage is not always consistent. I.e. in some cases, a request is redirected, while a reply traverses the stac

[2021-05-16 09:53] brb commented on #16121
@Weil0ng Thanks for the issue. Are you going to work on the fix pointed by @aanm ?

[2021-05-16 10:02] UbiquitousBear commented on #16147
@anfernee would it work if cilium was set to probe rather than strict?

[2021-05-16 15:09] brb commented on #15769
More digging. After changing the Docker cgroup driver to `cgroupfs` (what we have on vagrant dev VMs), it still works. Example of cilium-agent cgroups:
[code]

[2021-05-17 03:44] SimpCosm commented on #16144
I have check with the version v1.10.0-rc1, it doesn't have the same issue.

[2021-05-17 04:46] anfernee commented on #16147
From the sysdump, the `KubeProxyReplacement` mode is `strict`, and it should be fine.

Can you check 2 things in your cluster?
- Does `dig kubernetes.default.svc.cluster.local` work? If it works but `dig checkip.amazonaws.com` doesn't work. It might mean the upstream dns server doesn't work.
- Does the dns resolution work without the egress nat policy rule?

[2021-05-17 07:09] borkmann commented on #16106
Dup of https://github.com/cilium/cilium/issues/15636. Some pointers can be found [here](https://linuxplumbersconf.org/event/7/contributions/677/attachments/570/1006/LPC_2020__Fair-share_Rate_Limiting_in_BPF.pdf).

[2021-05-17 08:58] joshmue commented on #16079
Fine by me! Also I'll edit this issue's title, as it is actually not really accurate right now.

[2021-05-17 09:21] pchaigno commented on #16106
Closing in favor of https://github.com/cilium/cilium/issues/15636.

[2021-05-17 09:21] #16106 closed

[2021-05-17 10:27] #15132 closed

[2021-05-17 10:28] #16046 closed

[2021-05-17 10:38] #15520 closed

[2021-05-17 11:22] tklauser opened #16170 "CI: potential deadlock in `pkg/alibabacloud/eni`"
Travis CI race pipelines currently fail on `master`:

https://travis-ci.com/github/cilium/cilium/jobs/505412429

[code]

Can be reproduced locally with `go test -race -tags lockdebug -test.v ./pkg/alibabacloud/eni`

/cc @l1b0k

[2021-05-17 12:49] #14179 closed

[2021-05-17 13:44] pchaigno commented on #16159
This is all a bit strange...

The Hubble capture shows policy verdicts for that connections:
[code]

<details><summary>Click to show more verbose JSON output.</summary>

[code]
</details>

Two things are weird here:
1. The source identity should be transmitted via the tunnel metadata so I would expect it to be the pod's identity. Maybe the pod didn't receive it's identity yet but in that case I wo

[2021-05-17 14:04] aanm commented on #16163
@brb with `      --debug --pprof --enable-hubble --hubble-listen-address :4244 --enable-k8s-event-handover       --k8s-require-ipv4-pod-cidr --enable-bandwidth-manager --kube-proxy-replacement disabled --enable-remote-node-identity --enable-ipv6-ndp --ipv6-mcast-device enp0s8 -t vxlan --k8s-kubeconfig-path /var/lib/cilium/cilium.kubeconfig --identity-allocation-mode=crd --enable-k8s-event-handover

[2021-05-17 14:10] brb commented on #16163
No, see the PR linked above.

[2021-05-17 14:23] #16100 closed

[2021-05-17 15:00] borkmann commented on #16163
You would have to default to `partial` with `enable-session-affinity` instead. Then it will work.

[2021-05-17 15:42] pchaigno commented on #16159
Taking another sysdump gets us a bit further:
https://jenkins.cilium.io/job/Cilium-PR-K8s-1.19-kernel-5.4/103/testReport/junit/Suite-k8s-1/19/K8sDatapathConfig_Host_firewall_With_VXLAN/ with sysdump
[fb9445d1_K8sDatapathConfig_Host_firewall_With_VXLAN.7z.zip](https://github.com/cilium/cilium/files/6494928/fb9445d1_K8sDatapathConfig_Host_firewall_With_VXLAN.7z.zip).

On the destination node:
[code]

[2021-05-17 15:42] tklauser opened #16180 "[Race Detector] Race between `pkg/nodediscovery.(*NodeDiscovery).StartDiscovery` and `pkg/node.SetLabels()`"
Observed https://jenkins.cilium.io/view/Race%20Detection/job/Ginkgo-CI-Tests-4.19-Pipeline-Race-Detection/136/

[code]

Commit 81f0626a9ec9eca7cf4baa741a7257a8b693bde0 is the likely culprit

/cc @pchaigno

[2021-05-17 16:14] tklauser opened #16181 "[Race Detector] Race between `go.universe.tf/metallb/pkg/controller.(*Controller).MarkSynced()` and `go.universe.tf/metallb/pkg/controller.(*Controller).convergeBalancer()`"
[code]

Hit in https://jenkins.cilium.io/job/Cilium-PR-K8s-1.16-net-next-Race-Detection/4/

Observed by @nbusseneau in https://github.com/cilium/cilium/pull/16056#issuecomment-834909274

Looks like an issue in MetalLB itself, which was vendored in by dede69f2b7f4a5bb2d7a02b4037569478ec559f5 /cc @christarazi

[2021-05-17 16:30] tklauser commented on #16181
Another occurrence: https://jenkins.cilium.io/view/Race%20Detection/job/Ginkgo-CI-Tests-k8s1.16-Pipeline-Race-Detection/126/

[2021-05-17 16:51] christarazi commented on #16079
Sounds good, thanks for collecting it into one issue.

Superseded by https://github.com/cilium/cilium/issues/16164

[2021-05-17 16:51] #16079 closed

[2021-05-17 17:00] #16098 closed

[2021-05-17 17:00] #16093 closed

[2021-05-17 17:05] christian-2 commented on #16148
I've by now located the documentation in the Git repo and could submit a PR, if that's welcome.

[2021-05-17 17:15] Weil0ng commented on #16121
The patch that I shared (adopted from your PR, changes the data type from u16 to u32) doesn't really solve the issue (see my previous comment), I am looking at reproduce the above "Failed to remove backend" issue with a smaller setup to debug it, but have no success now, might need some help on this...If you have an idea why that might happen, I'm all ears :)

[2021-05-17 20:46] christian-2 opened #16188 "byte counts per flow"
## Proposal / RFE

This proposal is in relation to new use case and its initial discussion with `@rolinh` on Slack. It is about determining whether the desired solution is feasible and a possible implementation.

**Is your feature request related to a problem?**

Use case:

**Describe the solution you'd like**

Flows as reported e.g. by Hubble Relay in its Observer API currently identify who is ta

[2021-05-17 21:19] pchaigno commented on #16144
Ok. Then it might be worth checking with the just-released 1.9.7 as we had a couple changes impacting complexity since 1.9.5.

[2021-05-17 21:26] aanm commented on #16148
@christian-2 please do

[2021-05-17 21:28] aanm commented on #16146
We should instead add a field which contains the pod's namespace.

[2021-05-17 22:16] aanm opened #16191 "HostPort doesn't work for initContainers"
Trough code auditing it's obvious that we don't handle initContainer hostports:

https://github.com/cilium/cilium/blob/465cac1b740bdd370326607cdcedef1059df9e12/pkg/k8s/watchers/pod.go#L473-L475

cc @borkmann

[2021-05-17 22:36] #13872 closed

[2021-05-17 22:40] aditighag commented on #16154
I analyzed the logs in both the failed test case dump and the one from #16064 that was successful. In both the cases, I see lot of duplicate `curl` commands were run. Based on my initial reading of the code, the current usage of `Eventually` and the [test logic](https://github.com/cilium/cilium/blob/master/test/k8sT/Services.go#L830,L834) is leading to lot of duplication in the test execution. I w

[2021-05-17 23:45] aanm opened #16192 "hubble-relay not tested against PR's code"
The output from Cilium CLI clearly shows the commit SHA is not being used to test the PRs but instead a stable version is used.
[code]

[2021-05-17 23:54] aanm commented on #15366
@kovalyukm that's correct. If you enable it, it will fix your issue.

It does it here https://github.com/cilium/cilium/blob/71b4fb5616248ebdac58a9856b5cab381b15e517/pkg/k8s/node.go#L218-L251

[2021-05-18 04:13] michi-covalent opened #16195 "http proxy: don't include request headers in response log record"
right now `LogRecordHTTP` contains both request and response headers in the `Headers` field for HTTP responses. this can get confusing because you get duplicate headers like multiple `Content-Length` headers. Hubble uses `X-Request-Id` headers to correlate requests and response so we need that information in HTTP responses, but all the other request headers can be removed. so i'm thinking somethin

[2021-05-18 08:55] brb opened #16197 "Disable bpf_lxc loadbalancing when KPR=disabled"
Currently, when `--kube-proxy-replacement=disabled`, we don't completely disable Cilium's LB. We keep the bpf_lxc LB in place which is responsible for the Pod2ClusterIP loadbalancing. This is because otherwise a connection via ClusterIP when both a client pod and a service endpoint runs on the same node is broken due to the skb redirect which makes a reply to bypass the netfilter hooks. This preve

[2021-05-18 11:30] designanderror opened #16202 "Node didn't match pod anti-affinity rules."
## Bug report

**General Information**

- Cilium version : ```cilium-cli: v0.6.0-dev compiled with go1.16.3 on linux/amd64```
- Kernel version: ``` Linux kali 5.9.0-kali1-amd64 #1 SMP Debian 5.9.1-1kali2 (2020-10-29) x86_64 GNU/Linux ```
- Orchestration system version in use :
``` Client Version: version.Info{Major:"1", Minor:"20", GitVersion:"v1.20.2", GitCommit:"faecb196815e248d3ecfb03c680a45072

[2021-05-18 11:32] aanm commented on #16202
Hello, that's expected as it's likely that you have a single node running? connectivity check pods for multi-node requires a cluster with more than one node.

[2021-05-18 11:43] designanderror commented on #16202
@aanm Yes, I have installed it in Minikube.

[2021-05-18 11:47] kovalyukm commented on #15366
`cilium-agent-daemonset` pod on a node depends on `cilium-nodeinit-daemonset` pod, I mean [`wait-for-node-init`initContainer](https://github.com/cilium/cilium/blob/master/install/kubernetes/cilium/templates/cilium-agent-daemonset.yaml#L372-L375) and AFAIU cilium-agent will not start assign identities till node-init pod started. So, how "cilium-nodeinit-daemonset STARTUP_SCRIPT section with {{- if

[2021-05-18 13:13] aanm commented on #16202
ok, that's expected.

[2021-05-18 14:37] nbusseneau opened #16203 "CI: K8sDatapathConfig Encapsulation Check vxlan connectivity with per-endpoint routes"
Flake.

# Stacktrace example

[code]

# Jobs & attachments
https://jenkins.cilium.io/job/Cilium-PR-K8s-1.16-net-next/525/
~~https://jenkins.cilium.io/job/Cilium-PR-K8s-1.16-net-next/525/testReport/junit/Suite-k8s-1/16/K8sDatapathConfig_Encapsulation_Check_vxlan_connectivity_with_per_endpoint_routes/attachments/ff087ad5_K8sDatapathConfig_Encapsulation_Check_vxlan_connectivity_with_per-endpoint_rout

[2021-05-18 15:41] mvisonneau opened #16204 "localRedirectPolicy: pointing to a non-existent service crashes the agent"
## Bug report

When attempting to configure a `CiliumLocalRedirectPolicy`, if the **spec.redirectFrontend.serviceMatcher** does not resolve to a service, it seems to cause the cilium agents to crash:

[code]

[code]

[code]

Creating the service solved the issue right away in my case.

**General Information**

- Cilium version, I tested **v1.9.4** & **v1.10.0-rc2**
- Kernel version: **5.4**
- Orch

[2021-05-18 15:44] aditighag commented on #16204
@mvisonneau Thanks for reporting the issue. Just to confirm, if you correct the policy config, things work as expected?

[2021-05-18 15:49] mvisonneau commented on #16204
yes absolutely, getting the service configured correctly sorts the issue out right away  :+1:

[2021-05-18 16:17] rewiko commented on #16007
Same issue on our side.

[2021-05-18 17:55] thejosephstevens opened #16206 "Reduce Cilium-Operator QPS by default in Azure IPAM Mode"
## Proposal / RFE

**Is your feature request related to a problem?**

In Azure there are very low rate limits at the Subscription level for accessing the VMSS API (described [here](https://docs.microsoft.com/en-us/azure/aks/troubleshooting#im-receiving-429---too-many-requests-errors)). When I followed the [AKS quickstart](https://docs.cilium.io/en/v1.9/gettingstarted/k8s-install-aks/) in Azure IPA

[2021-05-18 19:07] tklauser commented on #14959
Just dumping my analysis so far:

Some recent failures:

* https://jenkins.cilium.io/job/cilium-master-k8s-1.21-kernel-4.9/287/testReport/junit/Suite-k8s-1/21/K8sDatapathConfig_Transparent_encryption_DirectRouting_Check_connectivity_with_transparent_encryption_and_direct_routing/
* https://jenkins.cilium.io/job/cilium-master-k8s-1.21-kernel-4.9/284/testReport/junit/Suite-k8s-1/21/K8sDatapathConfig

[2021-05-18 19:40] thejosephstevens commented on #16206
Adding some more details here, with this current config I am still seeing some throttling, but massively less than I saw with the default config
![image](https://user-images.githubusercontent.com/5632093/118712197-58c2a380-b7d5-11eb-82a0-c5d10e7fffb2.png)

I'm not sure if there's another way to view this graph, but you can get it by starting the AKS support ticket flow
![image](https://user-images

[2021-05-18 19:51] jayunit100 opened #16208 "Support building from a macOS host"
This might be a n00b bug but...  `make` fails on some Golang dependencies/packages.

Can we make the `make` target compile the golang artifacts OOTB, or  Do we *need* vagrant to build cillium from source ? https://docs.cilium.io/en/stable/contributing/development/dev_setup/#requirements ...

... for me OOTB, make fails, but i figured the go parts would probably work locally...

[code]

Wahts the p

[2021-05-18 20:37] aanm commented on #16208
Hey @jayunit100 which OS is it?

[2021-05-18 20:59] jrajahalme commented on #16195
@michi-covalent Should the `x-request-id` still be present also in the `headers` of the request access log, or do we only include it in the new request id field?

[2021-05-18 21:14] UbiquitousBear commented on #16147
@anfernee

Without egress policy rule:

[code]

With egress policy rules:

[code]

pinging dns svc and external IP:

[code]

[2021-05-18 21:21] michi-covalent commented on #16195
hmm ok after sleeping on this, i see 2 options here:

a. remove `x-request-id` from the request `headers` field and include it in the new request id field.
b. include `x-request-id` header in both request and response access log, removing all the other request headers from response access log.

i'm leaning slightly towards the option b. this way hubble will continue to work without any modificatio

[2021-05-18 21:21] pchaigno opened #16209 ".github: Scheduled job to cleanup leftover clusters"
When GitHub jobs are cancelled, we have only 5 minutes to run cleanup steps, including deleting clusters for end-to-end tests. After those 5 minutes, the job is forcefully stopped and we may end up with leftover clusters.

A solution to this issue would be to have a schedule workflow to regularly check for leftover clusters and delete them. It could for instance delete all clusters older than the

[2021-05-18 21:23] jrajahalme commented on #16195
OK, will implement option b.

[2021-05-18 22:02] jrajahalme commented on #16195
`cilium/proxy` PR up: https://github.com/cilium/proxy/pull/48

[2021-05-18 22:34] UbiquitousBear commented on #16147
Edit, after installing 1.10.0-rc2 this feature works as expected.

[2021-05-19 00:15] jrajahalme commented on #16195
PR up: https://github.com/cilium/cilium/pull/16211

@michi-covalent How far back we need to backport this? So far I only marked 1.10.

[2021-05-19 00:17] michi-covalent commented on #16195
@jrajahalme let's just do 1.10 👍

[2021-05-19 06:23] brb commented on #14746
This has been fixed in 1.{8,9,10}. Closing the issue.

[2021-05-19 06:23] #14746 closed

[2021-05-19 07:09] aditighag commented on #16078
I did some more debugging. I was successfully able to create a `kind` cluster with socket load-balancing after applying a couple of fixes. Will discuss with the team in the next sig-datapath meeting.

[code]

[2021-05-19 11:42] tklauser commented on #16075
Seen again on #16175 (https://jenkins.cilium.io/job/Cilium-PR-Runtime-4.9/4742/) with ~latest master (#16072 seems to be included)

cc @brb

[2021-05-19 11:44] #16148 closed

[2021-05-19 11:46] tklauser commented on #14959
Seen again on #16175 https://jenkins.cilium.io/job/Cilium-PR-K8s-1.19-kernel-5.4/136/

[2021-05-19 11:57] tklauser opened #16221 "CI: RuntimePrivilegedUnitTests TestArpPingHandling failed, timeout reached while waiting for condition"
[code]
This failed on #16210 (a 1.10 backport PR) and it looks like #16072 was in place.

https://jenkins.cilium.io/job/Cilium-PR-Runtime-4.9/4731/

[test_results_Cilium-PR-Runtime-4.9_4731_BDD-Test-PR.zip](https://github.com/cilium/cilium/files/6508628/test_results_Cilium-PR-Runtime-4.9_4731_BDD-Test-PR.zip)

Previously: #16075 (looks like this one appeared again in another PR), #16040, #14640, #

[2021-05-19 12:53] Antiarchitect commented on #15476
I have another fresh sysdump BTW.

[2021-05-19 13:06] #16170 closed

[2021-05-19 14:40] code-merc opened #16223 "Multinode network issues on minikube using --cni=cilium flag"
## Bug report

**General Information**

- Minikube 1.20
- Cilium version (run `cilium version`)
[code]
- Kernel version (run `uname -a`)
[code]
- Orchestration system version in use (e.g. `kubectl version`, ...)
[code]
- Generate and upload a system zip:
[cilium-sysdump-20210519-103345.zip](https://github.com/cilium/cilium/files/6509575/cilium-sysdump-20210519-103345.zip)

**How to reproduce the i

[2021-05-19 15:09] #16019 closed

[2021-05-19 15:29] aanm opened #16225 "v1.10.0 release"
## Pre-release

- [x] Check that there are no [release blockers] for the targeted release version
- [x] Ensure that outstanding [backport PRs] are merged
- [x] Consider building new [cilium-runtime images] and bumping the base image
      versions on this branch:
  - Cilium v1.10 or later:
     Modify the `FORCE_BUILD` environment value in the `images/runtime/Dockerfile` to force a rebuild.
     [

[2021-05-19 17:57] aditighag commented on #16154
I have a plausible explanation for why the test failures became prominent after #16054 was merged.

By parallelizing the test cases, the unreliable way of checking if traffic redirection happens to a particular backend became more exposed, and finally resulted in failures when all the stars failed to align!

[2021-05-19 22:30] thejosephstevens opened #16232 "Unable to connect to ftp server from EKS"
## Bug report

**General Information**

- Cilium version: found with both 1.9.7 and 1.9.5
- Kernel version: Linux my-shell 5.4.110-54.189.amzn2.x86_64 #1 SMP Mon Apr 26 21:25:38 UTC 2021 x86_64 GNU/Linux
- Orchestration system version in use: v1.19.6-eks-49a6c0
- Link to relevant artifacts: We only have one active networkpolicy selecting the pod where these tests were run, and it is described belo

[2021-05-19 23:12] thejosephstevens commented on #16232
Just confirmed that the same error (connection hang) occurs when using native routing from:
helm install cilium cilium/cilium --version 1.9.7 \
  --namespace kube-system \
  --set eni=true \
  --set ipam.mode=eni \
  --set egressMasqueradeInterfaces=eth0 \
  --set nodeinit.enabled=true

[2021-05-20 05:59] anfernee commented on #16147
Glad it works for you @UbiquitousBear.

However, I do have an interesting unexpected observation. I found that when you specify `0.0.0.0/0` as `destinationCIDR` which of course includes `PodCIDR` in it. It will also hijack all the pod to pod traffic to the gateway node. For example, lets's say you have 3 nodes N1, N2, N3. If you configure the egress nat policy to route 0.0.0.0/0 to N2. When pod P1

[2021-05-20 07:15] LeoQuote opened #16235 "Cannot reach external endpoint with service ip when the external endpoint is one of k8s node"
## Bug report

**General Information**

- Cilium version  `1.9.3 ae8661f14 2021-01-22T18:34:11+01:00 go version go1.15.6 linux/amd64`
- Kernel version `Linux borin3 5.4.66-gentoo #3 SMP Fri Oct 9 14:07:20 CST 2020 x86_64 AMD EPYC 7K62 48-Core Processor AuthenticAMD GNU/Linux`
- Orchestration system version in use `Server Version: version.Info{Major:"1", Minor:"19", GitVersion:"v1.19.4", GitCommit:

[2021-05-20 07:43] SimpCosm commented on #16144
@pchaigno version 1.9.7 does not work, it has the same version with version 1.9.5

[2021-05-20 08:14] twpayne commented on #15890
@borkmann Any thoughts on this?

[2021-05-20 08:31] pchaigno commented on #16232
helm install cilium cilium/cilium --version 1.9.7
--namespace kube-system
--set ipam.mode=eni
--set egressMasqueradeInterfaces=eth0
--set nodeinit.enabled=true
which results in this error:

Could you link to where you find those instructions in the docs? I can't seem to find the same.

[2021-05-20 08:41] jayunit100 commented on #16208
OS X ? But didn't see any OS errors it seemed

[2021-05-20 08:45] cocatrice opened #16236 "Unable to update ipcache map entry on pod add causing DNS resolving failure in the pods."
## Bug report

**General Information**

- Cilium version: 1.10.0.rc1
- Kernel version: `Linux ip-172-18-46-124 5.4.0-1045-aws #47-Ubuntu SMP Tue Apr 13 07:02:25 UTC 2021 x86_64 x86_64 x86_64 GNU/Linux`
- Orchestration system version in use: Using EKS, with `Server Version: version.Info{Major:"1", Minor:"18+", GitVersion:"v1.18.9-eks-d1db3c", GitCommit:"d1db3c46e55f95d6a7d3e5578689371318f95ff9", Gi

[2021-05-20 08:53] tklauser opened #16237 "CI: K8sServicesTest Checks service across nodes Checks ClusterIP Connectivity: exit status 42"
<details><summary>Stacktrace:</summary>

[code]
</details>

https://jenkins.cilium.io/job/Cilium-PR-K8s-1.21-kernel-4.9/501
[ec0e028f_K8sServicesTest_Checks_service_across_nodes_Checks_ClusterIP_Connectivity.zip](https://github.com/cilium/cilium/files/6514315/ec0e028f_K8sServicesTest_Checks_service_across_nodes_Checks_ClusterIP_Connectivity.zip)

Possibly related to: #15103, #13839, #13011, #12690

[2021-05-20 08:54] tklauser commented on #16237
Another occurence: https://jenkins.cilium.io/job/Cilium-PR-K8s-1.21-kernel-4.9/485 (with PR #16175)

[2021-05-20 09:01] qmonnet commented on #15476
Sorry, can you pass it over by Slack maybe? (qmo). Or email at [first name] @isovalent.com, but I suspect it might be a bit large for that.

[2021-05-20 09:03] pchaigno commented on #16144
Could you share a sysdump (or at least a bugtool) for one of the failing nodes? There are definitely complexity issues affecting Linux 5.4 on Cilium v1.9, but I'm unable to reproduce the endpoint-route aspect so far :-(

[2021-05-20 09:49] #15387 closed

[2021-05-20 09:52] aanm opened #16239 "CI: TestPeerManager panic: close of closed channel"
[code]

/cc @rolinh

[2021-05-20 11:36] rolinh commented on #16239
This is a duplicate of #15442, closing.

[2021-05-20 11:36] #16239 closed

[2021-05-20 13:49] gandro commented on #16237
I'm starting to look into this as part of my CI force duty. Since this issue here nicely links to all possibly related ones (thanks Tobias!), I'm assigning this one to me.

[2021-05-20 16:11] msheldyakov opened #16247 "Localredirectpolicies (lrp) on OKD breaks openshift-dns dns-node-resolver. Cilum 1.9.5"
## Bug report
On http://okd.io/ cilium with Local redirect policies for dns service breaks resolving in openshift-dns/dns container dns-node-resolver.
Confirmed in 4 clusters.

[code]
**General Information**

- Cilium version:  Client: 1.9.5 079bdaf 2021-03-10T13:12:19-08:00 go version go1.15.8 linux/amd64
- Kernel version: 5.10.19-200.fc33.x86_64
- Orchestration system version in use: 4.7.0-0.okd

[2021-05-20 16:13] msheldyakov commented on #16247
cilium sysdump https://drive.google.com/file/d/1Oy2e_VDy5aYas3C726HMDz61RgfLMKVh/view?usp=sharing

[2021-05-20 16:25] aditighag commented on #16247
Thanks for reporting the issue. I'm not sure if OKD is a tested environment, but we can try to see what's different.

Could you elaborate this statement? Per the official [documentation](https://kubernetes.io/docs/tasks/administer-cluster/nodelocaldns/),  node-local dns cache pods connect to the kube-dns upstream pods. How is OKD different?

[2021-05-20 16:59] msheldyakov commented on #16247
Thanks for fast response!

OKD is practically openshift, which you provide operator for. It differs basically in OS("fcos" Fedora CoreOS instead of rhcos).

I mean, openshift-dns/dns-default-XXXX pod consists of a few containers.
It's coredns container, and container that fills /etc/hosts. The last one just resolves single service name, and puts it into hosts file.
So with LRP policy that helper c

[2021-05-20 18:51] cryptk opened #16253 "Allow simultaneous use of multiple IPAM modes"
## Proposal / RFE

**Is your feature request related to a problem?**

When using the Overlay network on EKS (possibly other managed kubernetes services) webhook services do not work and give an error of "Address is not allowed".  this is because the IP addresses that the pods are assigned are not within the VPC CIDR range (which is expected) and the K8S Control Plane does not allow the Cilium Daem

[2021-05-20 22:41] thejosephstevens commented on #16232
Let me double check that, not sure if I copied it wrong or tested wrong, but going from here
https://docs.cilium.io/en/v1.9/gettingstarted/k8s-install-eks/#deploy-cilium

[2021-05-20 22:58] Antiarchitect opened #16255 "Upgrade to Cilium 1.10.0 breaks external dns resolution"
Just upgraded from 1.9.7 to 1.10.0. Everything works normally internally, but our GitLab runners log now  full of:
[code]
Not all of the runners are failing (about 80% are failing) and I don't see any pattern in this
I know I should provide more info on this but rolled back to 1.9.7 ASAP

[2021-05-20 23:50] thejosephstevens commented on #16232
So, I'm about to try upgrading to 1.10 to see if that addresses the issue, but I am seeing this failure from the test suite. Everything else succeeds

------------------------

🔌 [pod-to-world-toFQDNs] Testing cilium-test/client2-657df6649d-zrtb2 -> google.com:80...
---------------------------------------------------------------------------------------------------------------------
❌ curl command

[2021-05-21 00:01] thejosephstevens commented on #16232
Just confirmed the same behavior is present with Cilium 1.10

[2021-05-21 00:34] aanm commented on #16223
what are the logs of the containers restarting?

[2021-05-21 00:34] aanm commented on #16255
We would need some better reproducible steps in order to debug the issue.

[2021-05-21 00:36] aanm commented on #16235
can you provide `cilium monitor` output as well as `tcpdump` output when you are testing with that traffic? thank you

[2021-05-21 00:41] aanm commented on #16236
Can you try with `1.10.0` and have a sysdump when the issue is occurring? Thank you

[2021-05-21 01:34] cocatrice commented on #16236
Yup, I have just upgraded my cluster to 1.10.0 and will update the thread when the issue happens again.

[2021-05-21 05:37] thejosephstevens commented on #16232
All right, so I learned two more things today:
First, I can see the same failure behavior while exec'd into the cilium-agent (wanted to get onto a pod with host networking).
Second, and unfortunately more relevant, I just reproduced this on a cluster with the exact same config before installing cilium (with just AWS CNI running), so I'm going to close this as not a Cilium bug and hold my breath as

[2021-05-21 05:37] #16232 closed

[2021-05-21 06:27] Antiarchitect commented on #16255
I know, for now just write this to catch people with similar issue. I will provide more info when able to experiment.

[2021-05-21 06:56] cocatrice commented on #16236
This just happened again for one of my application pod when I am running 1.10.0

The log in `cilium-agent` for that node

[code]

And all the dns resolution is failing `172.18.42.135` which is my application pod.

Here is a full system dump

https://drive.google.com/file/d/1e7ZjYYbKzdf_cKlLJjbAus7w4ONzyfgL/view?usp=sharing

Hope this helps and can find the root cause of the bug.

[2021-05-21 07:04] pchaigno commented on #16232
Note if you want to install Cilium in chaining mode with AWS CNI, the guide to follow is https://docs.cilium.io/en/stable/gettingstarted/cni-chaining-aws-cni/ and the Helm command is fairly different. Otherwise, you should remove the `aws-node` daemonset as per the ENI guide: https://docs.cilium.io/en/stable/gettingstarted/k8s-install-helm/
[code]

Also, in AWS-CNI chaining mode, version 1.7.9 of

[2021-05-21 08:58] brb opened #16260 "datapath: Support devices for bpf_host which ifindex > max(u16)"
Currently, we disallow devices which ifindex cannot fit in u16. This is because we store ifindex in the CT entry struct which only had the u16 spare field left (https://github.com/cilium/cilium/pull/11267/commits/7282119184a4221c2a61f5b93d6889e8558705be#diff-78122dbc1bf6a53a08f02c035e071f869eaa123b52822d789b79c04ff1cbdf69R550).

To overcome the limitation, we can introduce an intermediate mapping

[2021-05-21 09:27] oblazek opened #16261 "datapath: support IPv6 NDP for enable-endpoint-routes"
Currently IPv6 works only when traffic is routed to/by `cilium_host` interface (`enable-endpoint-routes=false`). There are cases when this is not enough.

When `enable-endpoint-routes` is enabled traffic should be routed to each corresponding interface including NeighborSolicitation messages etc which currently does not work (see below).

Iface of the target pod (view from worker node):
[code]

wh

[2021-05-21 09:59] tklauser commented on #13508
`TestStressRateLimiter` still seems to fail consistently (e.g. on latest `master`: https://travis-ci.com/github/cilium/cilium/jobs/506728789) when run with the race detector, potentially hiding other races in unit tests. I've sent  #16262 disabling said test when run under the race detector until we figured out what is causing the issue.

[2021-05-21 13:28] code-merc commented on #16223
Neither container outputs any logs as far as I can tell, the liveliness probe fails with
[code]

So I'm assuming that's why it's being restarted

[2021-05-21 15:02] #16181 closed

[2021-05-21 15:21] tux21b opened #16266 "Running Tailscale in a Cilium cluster"
This was initially a question on the Slack channel. @brb was very kind and helped me to solve the issue quickly and @pchaigno asked me to documented the issue here.

# Scenario

I run a small bare-metal k8s cluster on Hetzner, mostly for being able to quickly host / deploy smaller projects. I really like the convenience of cert-manager (Let's Encrypt client) and Contour (ingress controller). I als

[2021-05-21 15:59] pchaigno commented on #16266
Thanks for documenting this! I've updated the title to clarify this is fixed and will now close.

[2021-05-21 15:59] #16266 closed

[2021-05-21 16:09] seanmwinn opened #16267 "NodeInit: Implement as an init container to the cilium agent"
## Proposal / RFE
Presently the NodeInit daemonset is installed in addition to the Cilium agent and remains scheduled on nodes throughout the lifecycle of Cilium.

By making use of an init container, node init processes can be moved to a container that will run on the node before the cilium agent starts up, but will not remain scheduled on the nodes throughout the lifecycle of Cilium. This has the

[2021-05-21 16:36] aanm commented on #16267
@seanmwinn currently, the NodeInit DaemonSet requires `hostPID` set, which Cilium DaemonSet does not. Also NodeInit runs in hostNetwork so it does not consume an additional IP address in the node, but I understand that it does count as 1 more pod running in the node.

[2021-05-21 20:10] rkage opened #16272 "Helm template rendering error when specifying both bgp.enabled and operator.resources"
## Bug report
**General Information**

- Cilium version: 1.10.0
- Kernel version: 5.11.0-1008-raspi
- Orchestration system version in use: kubectl/1.21.1, helm/3.5.4

**How to reproduce the issue**

1. Create a `values.yaml` file with the following contents:
[code]

2. `helm install cilium cilium/cilium -f values.yaml`

Error reported by helm:
`YAML parse error on cilium/templates/cilium-operator-

[2021-05-21 20:24] thejosephstevens commented on #16232
Sorry, to clarify, I'm not interested in running in chaining mode with the aws cni (vxlan tunneling has worked great for us, we run too many pods per node to give an IP per pod). The test that I ran last night showed that the failing behavior occurs before the normal bootstrap steps that I run to set up Cilium (removing aws cni, installing cilium, and rolling nodes), which shows that this bugged b

[2021-05-21 20:29] pchaigno commented on #16272
I see you already have a commit ready to fix this so I've assigned you. Please tell me if I'm assuming incorrectly.

[2021-05-21 20:30] StevenACoffman commented on #16266
So cool! Thanks for posting this! Hey, have you by any chance upgraded to the 1.10 cillium? I wondered if using wireguard for encrypting traffic between pods, and tailscale for external access would work out?

[2021-05-21 20:38] pchaigno commented on #16147
@anfernee I'm guessing that only happens when endpoint routes are enabled?

If endpoint routes are enabled, `ENABLE_ROUTING` is undefined, so we never go through: https://github.com/cilium/cilium/blob/d3b54929c51235850a1132efa558c0554f961886/bpf/bpf_lxc.c#L775-L776
Therefore, pod-to-pod traffic goes through https://github.com/cilium/cilium/blob/d3b54929c51235850a1132efa558c0554f961886/bpf/bpf_lxc.

[2021-05-21 20:42] pchaigno commented on #16223
Did you check if another process is listening on that TCP port on the host?

[2021-05-21 21:13] pchaigno commented on #16223
This bug is likely happening because you are running Cilium v1.8.0 but deploying connectivity checks for v1.7.0. Please try with https://raw.githubusercontent.com/cilium/cilium/v1.8.0/examples/kubernetes/connectivity-check/connectivity-check.yaml.

I would also strongly recommend to update the Cilium version.

[2021-05-21 21:24] vifino opened #16275 "No HTTP Agent connectivity in Loopback-routed L3 network"
## Bug report

**General Information**
Hey.
I'm trying to use `cilium 1.9.6` in a fully routed network with loopback routing and can't get it to work.

- Cilium version `1.9.6 38dd27a`
- Kernel version `5.10.36-0-lts #1-Alpine`
- Orchestration system version in use `k8s v1.21.1, kubeadm v1.21.0, helm v3.4`
- Link to relevant artifacts (policies, deployments scripts, ...)
- Generate and upload a sy

[2021-05-21 21:34] pchaigno commented on #16275
@brb Do we support `lo` for BPF NodePort now?

[2021-05-21 21:37] pchaigno commented on #16007
@bmcustodio Could you try the fix at https://github.com/cilium/cilium/pull/16227? :pray:

[2021-05-21 22:21] pchaigno opened #16277 "Skipping symbol substitution cilium_egress_v4"
Reported by mikek on Slack:
[code]
We need to add `cilium_egress_v4` to `ignoredELFPrefixes`.

[2021-05-21 22:58] mikeinton opened #16278 "Egress IP NAT Gateway - bpf egress list no entries found"
## Bug report

Hi, we are attempting to test the newly released Egress IP NAT Gateway feature in 1.10 using this guide - https://docs.cilium.io/en/latest/gettingstarted/egress-gateway/.

After multiple attempts to schedule client pods on the same node as the gateway and also on a non gateway node, we are never able to actually get it to egress out of our configured `egressSourceIP`.

`cilium bpf e

[2021-05-22 02:46] jrajahalme commented on #14959
Happened again in #16271
No tunneling, so also ingress policy enforcement depends on ipcache propagation:
[code]

Policy is installed at 00:33:25:
[code]
policy map update in the destination Cilium agent happens at 00:33:27:
[code]
Test command starts to run for UP TO 5 seconds at 00:33:30:
[code]
ipcache update in the destination node having the ingress policy happens at 00:33:36:
[code]
The test

[2021-05-22 08:35] martin31821 opened #16279 "Connectivity issues with IPsec after node reboot"
## Bug report

We run flatcar-linux in our production clusters and since we updated to cilium 1.9 pods don't get connectivity after node reboots.
To fix it, we need to manually delete the cilium-agent pod on the corresponding node.
`cilium-health status` reports host connectivity to other nodes, but both ICMP to stack and HTTP to stack report timeouts.

Reproducible on both cilium 1.9.6 and 1.9.7,

[2021-05-22 09:08] pchaigno commented on #16278
Thanks for the report! You told me on Slack you enabled the egress gateway via the Cilium ConfigMap. Was that before or after loading the egress NAT policy?

[2021-05-22 12:46] martin31821 commented on #16279
Just got it reproduced in a test environment, I'll be preparing that into a repo and link it here.
After deploying the connectivity test and rebooting one node, I see the following:

`cilium-health status` (on the master node, not rebooted)
[code]

On the worker node (after reboot):
[code]

Connectivity test was deployed before the worker node was rebooted and afterwards I get this result:
![Scree

[2021-05-22 14:43] mikeinton commented on #16278
Thanks @pchaigno.  These were added to the configmap before we started applying our egress NAT policies which we've also deleted/removed multiple times during tests.

[code]

[2021-05-22 17:03] pchaigno commented on #16278
Did you restart the Cilium pods after adding those to the ConfigMap?

[2021-05-22 18:38] martin31821 commented on #16279
I think I've got a pretty good view of what is actually going on here. As far as I can tell it's OS-independent, but affects all users with IPSec enabled, possibly more.

What happens when I reboot a node, cilium_host gets a new IP address assigned which the cilium operator writes into the kubernetes `corev1.Node` (Annotation) as well as the `CiliumNode`
What now happens is that the agent only add

[2021-05-23 15:09] mikeinton commented on #16278
Yes, we also checked the cilium agent pod logs to confirm that those configs were set.

[code]

[2021-05-24 01:59] vincentmli opened #16280 "eBPF-based host-routing and tunnel mode"
while reading https://cilium.io/blog/2021/05/11/cni-benchmark and https://docs.cilium.io/en/latest/operations/performance/tuning/#ebpf-host-routing

my understanding is that host routing also support tunnel mode and packet egress from container, and encapsulated overlay packet   should skip the netfilter/iptables processing, but I still see the overlay packet to destination VXLAN port 8472 seems s

[2021-05-24 07:50] Divya063 commented on #16277
I would like to work on this issue.

[2021-05-24 11:49] FirmlyReality opened #16281 "Unable to restore endpoint when cilium running on generic-veth cni-chaining mode"
## Bug report

**General Information**

- Cilium version (run `cilium version`)
-
Client: 1.9.7 f993696 2021-05-12T18:21:30-07:00 go version go1.15.12 linux/amd64
Daemon: 1.9.7 f993696 2021-05-12T18:21:30-07:00 go version go1.15.12 linux/amd64

- Kernel version (run `uname -a`): Linux VM-1-162-ubuntu 4.15.0-142-generic #146-Ubuntu SMP Tue Apr 13 01:11:19 UTC 2021 x86_64 x86_64 x86_64 GNU/Linux
- O

[2021-05-24 17:16] code-merc commented on #16223
Ok that appears to have fixed the tests, thanks. Still having issues with the registry plugin but cluster networking seems to be mostly fine.

So the issue with the registry looks like it's only happening on the worker node. When pods are scheduled on the main `minikube` node they can pull images just fine from the in cluster registry, but when the pod is schedules on the `minikube-m02` I get

[co

[2021-05-24 18:21] jamesongithub opened #16284 "Failed to set sysctl needed by BPF bandwidth manager"
## Bug report

**General Information**

- Cilium version (run `cilium version`)
`1.9`

- Kernel version (run `uname -a`)
`Linux unknown000c29c41271 5.3.18-24.34-default #1 SMP Thu Oct 29 22:18:30 UTC 2020 (89a1d25) x86_64 x86_64 x86_64 GNU/Linux`

- Orchestration system version in use (e.g. `kubectl version`, ...)

[code]

- Link to relevant artifacts (policies, deployments scripts, ...)
https://r

[2021-05-24 18:28] christarazi commented on #16284
How did you install Cilium?

[2021-05-24 18:31] jamesongithub commented on #16284
I mounted bpf
`none on /sys/fs/bpf type bpf (rw,relatime)`

then just installed with kubectl on a single node k3s cluster

`kubectl create -f https://raw.githubusercontent.com/cilium/cilium/v1.9/install/kubernetes/quick-install.yaml`

[2021-05-24 19:31] Jasper-Ben commented on #15568
Hi @pchaigno, what's the status on this issue? Has the ipsec regression been fixed yet? Thanks!

[2021-05-24 19:34] dbaumgarten commented on #15568
Yes, v1.9.6 is working fine 👍

[2021-05-24 19:34] #15568 closed

[2021-05-24 19:35] thejosephstevens commented on #16232
Just to close the loop here, apparently there are long-standing issues with connecting to FTP servers from clients in AWS (such as [this](https://stackoverflow.com/questions/27160810/ftp-access-from-aws-vpc-private-subnet-behind-a-nat-instance)). If anyone else does run into this, we were able to get around the problem by using SFTP instead of FTP or FTPS. It appears likely that in order to get FT

[2021-05-24 19:38] Jasper-Ben commented on #15568
hm okay. we have a similar issue and I thought this might be the same issue: https://github.com/cilium/cilium/issues/16279#issuecomment-846447635
So IPsec works for you without any issue, even after node reboot?

[2021-05-24 19:55] christarazi commented on #16284
Could you try uninstalling the `quick-install.yaml` and using the Cilium CLI?

[2021-05-24 20:01] dbaumgarten commented on #15568
I don't think I have tried to reboot a node.
Will test this tomorrow

[2021-05-24 20:02] Jasper-Ben commented on #15568
Thanks!

[2021-05-24 20:35] sdmodi opened #16285 "IPv6 Neighbor solicitation packets dropped when network policy is enabled"
I am running a dual stack cluster with the following network policy:
[code]
I have a client pod 'client-allow-64c5464587-kszrk' which should be allowed to talk to the nginx service and corresponding backend pods. When I don't apply the networkpolicy everything works. When I do apply the network policy, the IPv6 traffic breaks. Using IPv4 continues to work. When I look at the cilium monitor related

[2021-05-24 20:36] sdmodi commented on #16285
Here is the system dump
[cilium-sysdump-20210524-132109.zip](https://github.com/cilium/cilium/files/6534849/cilium-sysdump-20210524-132109.zip)

[2021-05-24 20:56] dghubble commented on #14287
I tested with Cilium v1.10.0 on Kubernetes v1.21.1 and this was the one conformance failure.

[2021-05-24 23:15] jamesongithub commented on #16284
ok tried it and now receiving this: `msg="Failed to set sysctl needed by BPF bandwidth manager." error="could** not write to the systctl file /proc/sys/net/core/default_qdisc: write /proc/sys/net/core/default_qdisc: no such file or directory`

seems to be on the host
[code]

[code]

[2021-05-25 01:08] thejosephstevens opened #16287 "Blocked kube-dns udp traffic in Cilium 1.10.0"
## Bug report

**General Information**

- Cilium version (run `cilium version`)
    /¯¯\
 /¯¯\__/¯¯\    Cilium:         OK
 \__/¯¯\__/    Operator:       OK
 /¯¯\__/¯¯\    Hubble:         OK
 \__/¯¯\__/    ClusterMesh:    disabled
    \__/

DaemonSet         cilium             Desired: 2, Ready: 2/2, Available: 2/2
Deployment        cilium-operator    Desired: 2, Ready: 2/2, Available: 2/2
Deploym

[2021-05-25 04:19] LeoQuote commented on #16235
hi, I used the `cilium monitor` and then `curl -v https://10.102.61.101:10259` on one of k8s node, I checked the log and found nothing related to the port , nor the svc ip and external endpoint ip (10.1.20.43 in this case.)

I tried `tcpdump` and found only one event relating to this request.

[code]

Thanks for your reply and help!

[2021-05-25 05:04] thejosephstevens commented on #16287
Turns out this was an issue of not adding the compatibility flag for 1.9. When I added that and reapplied the configs everything worked fine.

[2021-05-25 05:11] aditighag commented on #16247
@msheldyakov From what you described, you might be hitting this case - https://docs.cilium.io/en/v1.10/gettingstarted/local-redirect-policy/#miscellaneous. We purposely disallow loops (i.e. when LRP backends connect to the VIP, and the service translation selects the same backend).

[2021-05-25 05:15] anfernee commented on #16147
I have a different theory, which I am not sure if it's correct though.

Here when we found the remote endpoint, and save it in `tunnel_endpoint`.

https://github.com/cilium/cilium/blob/d3b54929c51235850a1132efa558c0554f961886/bpf/bpf_lxc.c#L616-L619

which should be honored here

https://github.com/cilium/cilium/blob/d3b54929c51235850a1132efa558c0554f961886/bpf/bpf_lxc.c#L828

However, when egress

[2021-05-25 05:47] vsxen commented on #11039
[code]
ubuntu 20.04 can work with --sockops-enable.

but also need istio use sockops instead of iptables,

[2021-05-25 08:33] pchaigno opened #16291 "CI: Multicluster: pod-to-service: Flow validation failed"
Happened in a PR changing only the way flags are validated, where Jenkins tests are passing (give or take a few flakes): https://github.com/cilium/cilium/runs/2655001058.
[logs_103649.zip](https://github.com/cilium/cilium/files/6537731/logs_103649.zip)
[cilium-sysdump-out.zip.zip](https://github.com/cilium/cilium/files/6537733/cilium-sysdump-out.zip.zip)

[code]

[2021-05-25 08:39] pchaigno opened #16292 "CI: ConformanceAKS: Flow validation failed"
Happened in a PR that changed the way flags are validated, where Jenkins tests were fine: https://github.com/cilium/cilium/pull/16014
[logs_103651.zip](https://github.com/cilium/cilium/files/6537787/logs_103651.zip)
[cilium-sysdump-out.zip.zip](https://github.com/cilium/cilium/files/6537788/cilium-sysdump-out.zip.zip)

[code]

[2021-05-25 08:41] LeoQuote commented on #16235
Hi, I went through more details and found that there is an existing endpoint for kube-scheduler so when I `creating` the svc and endpoint, the svc and endpoint were not actually created properly, I deleted the endpoint but it keeps showing .

It is wierd but I'm sure it's not related to cilium , closing this issue.

[2021-05-25 08:41] #16235 closed

[2021-05-25 08:48] #13508 closed

[2021-05-25 09:03] pchaigno commented on #16284
curl -sLO https://git.io/cilium-sysdump-latest.zip && python cilium-sysdump-latest.zip
Where to upload this?

You can attach it here, to any of your GitHub comments.

[2021-05-25 10:05] dbaumgarten commented on #15568
@Jasper-Ben You were right! Rebooting a node breaks cilium on that node (until the pod on that node is restarted).
I rarely reboot nodes, so I didn't notice that, but it's good to know there is an issue. Thanks.

[2021-05-25 10:32] johannwagner commented on #15568
We also created an issue for this problem:

https://github.com/cilium/cilium/issues/16279

[2021-05-25 10:35] Jasper-Ben commented on #16279
Thanks to comment https://github.com/cilium/cilium/issues/15568#issuecomment-847735854 we can now confirm, that this is indeed an OS-independent bug and should affect anyone using IPsec. @martin31821: could you change the issue title to reflect the issue and impact more precisely? Thanks!

[2021-05-25 10:42] gandro opened #16296 "[Race Detector] Race in proxylib between `(*AccessLogServer).Close()` and `test.StartAccessLogServer`"
Found in Travis CI: https://travis-ci.com/github/cilium/cilium/builds/226793613

[code]

[log.txt](https://github.com/cilium/cilium/files/6538582/log.txt)

[2021-05-25 10:45] tklauser opened #16297 "[Race Detector] Data Race in proxylib `TestMemcache`"
[code]

See https://travis-ci.com/github/cilium/cilium/jobs/507674458

Can be reproduced locally using `go test -race -check.f TestMemcache` in the `proxylib/` directory.

/cc @jrajahalme

[2021-05-25 10:54] tklauser commented on #16297
Duplicate of #16296

[2021-05-25 10:54] #16297 closed

[2021-05-25 11:37] sstoner opened #16299 "ClusterMesh: no use etcd"
## Proposal / RFE

## Summary

we should permit `--kvstore` to be empty when using ClusterMesh in multiple clusters and Cilium-CLI should not create etcd cluster again.

## Motivation

It may be easier for users to generate kubeConfig than to provide a suite of ETCD certificates and maintain an extra ETCD cluster.

### Goals

- kvstore-free on clusterMesh

### NonGoals

- improve performance of Ku

[2021-05-25 12:03] gandro commented on #16237
In both sysdumps, the curl command fails because it receives an `RST`. The RST might is likely triggered by a combination of port-reuse and a stale IPCache (both of which are spurious)

Hubble query for the two backend IPs on k8s1:
[code]

Last two packets as observed on `k8s2`
[code]

Cilium logs for the source IP (`fd02::1d3`, i.e. `default/testds-6fklp`)
[code]

In both sysdumps the `RST` packe

[2021-05-25 12:08] yuriydzobak opened #16300 "Memory leak with FQDN policies"
## Bug report

**General Information**

- Cilium version (run `cilium version`)
[code]
- Kernel version (run `uname -a`)
[code]
- Orchestration system version in use (e.g. `kubectl version`, ...)
[code]

- Generate and upload a system zip:
[cilium-sysdump-20210525-150354.zip](https://github.com/cilium/cilium/files/6539133/cilium-sysdump-20210525-150354.zip)

**Description**

One pod has memory lea

[2021-05-25 12:12] borkmann commented on #16280
Not quite, before the support Pod-to-Pod packets had to go twice through the stack: 1) UDP stack for overlay for the outer one, 2) upper host for netfilter/routing for the inner one. With BPF host routing, the 2nd part is removed as well as the case when you access Pods from the outside not going through the tunnel (e.g. NodePort svc - also here it went to upper stack before the change, and now it

[2021-05-25 12:15] gandro commented on #16237
Looking at the test code, I think it's pretty clear that the RST is caused by the first curl timing out due to the IPCache propagation delay. The first curl is reporting exit code 28, which is `OPERATION_TIMEOUTED` (note the 28 in `19679/1=28`)

A simple fix would be to increase the timeout, but it looks like this is not the only CI test suffering from IPCache propagation delays.

[2021-05-25 12:32] yuriydzobak commented on #16300
[heap_profile639032979.zip](https://github.com/cilium/cilium/files/6539248/heap_profile639032979.zip)

[2021-05-25 12:32] yuriydzobak commented on #16300
[cilium-pprof.tar.zip](https://github.com/cilium/cilium/files/6539253/cilium-pprof.tar.zip)

[2021-05-25 12:36] yuriydzobak commented on #16300
[fqdn-cache-list.txt](https://github.com/cilium/cilium/files/6539275/fqdn-cache-list.txt)

[2021-05-25 12:46] yuriydzobak commented on #16300
[code]

[2021-05-25 13:14] gandro opened #16302 "IPCache propagation takes too long"
In our CI, we are seeing long delays (~8 seconds in #16237 and #14959) between an endpoint being created and the corresponding IPCache update on the remote node. A potential cause for the increased delay might be due to the changes in #15230.

As a quick workaround, we are increasing the connect timeout in CI (#16301), but we need to discuss if we deem such long propagation delays acceptable and w

[2021-05-25 14:19] brb commented on #16275
We should in v1.10 (requires the L2-less dev patch which was merged in v1.10). @vifino Try with Cilium v1.10.

[2021-05-25 14:26] oblazek commented on #16261
Attaching some more info for future discussion (will update this with as much info as possible before next week SIG-datapath meeting so that we could bring this up).
[code]
Afaik the identity=1 is inherited from packet marks (in `inherit_identity_from_host()`), but replaced in `tail_ipv6_to_endpoint()` https://github.com/cilium/cilium/blob/master/bpf/bpf_lxc.c#L1224-L1246 because the link-local ad

[2021-05-25 15:48] vincentmli commented on #16280
@borkmann

Thank you very much for your clarification!  just curious, does it make sense to skip netfilter for outer one too or not worth the effort and not much gain there

[2021-05-25 15:57] petreski opened #16303 "Disconnect between what Cilium and K8S see for an IP of a Pod"
## Bug report

**General Information**

- Cilium version (run `cilium version`): 1.10
- Kernel version (run `uname -a`): Linux minikube 4.19.182 #1 SMP
- Orchestration system version in use (e.g. `kubectl version`, ...) 1.19.7
- Link to relevant artifacts (policies, deployments scripts, ...): https://github.com/petreski/cilium-examples
- Generate and upload a system zip:
[code]
https://github.com/

[2021-05-25 16:03] pchaigno commented on #16303
This came up in the context of the egress IP gateway, but doesn't seem related. There's clearly something broken:
[code]

[2021-05-25 17:09] jrajahalme commented on #16299
@sstoner New guides in Cilium 1.10 already set up ClusterMesh without kvstore via the new cilium-cli tool, please have a look: https://docs.cilium.io/en/v1.10/gettingstarted/clustermesh/clustermesh/

[2021-05-25 17:10] aanm opened #16305 "Replace "FQDN garbage collector work deleted N name entries" with a prometheus metric"

[2021-05-25 17:23] christarazi opened #16306 "Investigate AKS transient failures resolving service names via DNS with IPsec"
## Bug report

**General Information**

- Cilium v1.9.6, v1.10.0, master

**How to reproduce the issue**

1. Follow the guide to install Cilium on AKS: https://docs.cilium.io/en/latest/gettingstarted/k8s-install-default/#create-the-cluster
2. Install Cilium via CLI, make sure to pass `--encryption ipsec`
3. Run `cilium connectivity test` multiple times and observe that it mostly fails, and occasio

[2021-05-25 17:28] mikeinton commented on #16278
Updating here that when restarting the cilium agent pods, we do see this logged.  UID also matches to what we see when we describe the policy.

[code]

Yet `cilium bpf egress list` remains empty.

[2021-05-25 18:16] sstoner commented on #16299
clustermesh-apiserver depends on etcd cluster so that cilium started with kvstore=“” is meaningless. And this proposal wants to remove etcd from cilium and clustermesh-apiserver in a true sense.

[2021-05-25 19:51] olemarkus opened #16308 "Cilium non-deterministically classifies CIDR policy matches for range with node IPs"
## Bug report

**General Information**

- Cilium version: cilium 1.9.4
- Kernel version: Linux ip-10-29-109-25 5.4.0-1045-aws #47-Ubuntu SMP Tue Apr 13 07:02:25 UTC 2021 x86_64 x86_64 x86_64 GNU/Linux
- Orchestration system version in use: kubernetes v1.20.6

**How to reproduce the issue**

Run `node-local-dns --setupiptables=false` and `kubelet --cluster-dns=169.254.20.10`

Add a CNP that looks l

[2021-05-25 19:55] christarazi commented on #16279
@Jasper-Ben @martin31821 I've created https://github.com/cilium/cilium/pull/16307 to fix this. Could you try it out and confirm that it resolves your reboot issue?

[2021-05-25 21:20] Jasper-Ben commented on #16279
Unfortunately, a quick test did not seem to work. Could be a case of PEBCAK though :smile:. I'll take a closer look tomorrow.

[2021-05-25 23:49] cocatrice commented on #15428
I am experiencing the same issue in 1.10.0

- Cilium version: 1.10.0.rc1
- Kernel version: `Linux ip-172-18-46-124 5.4.0-1045-aws #47-Ubuntu SMP Tue Apr 13 07:02:25 UTC 2021 x86_64 x86_64 x86_64 GNU/Linux`
- Orchestration system version in use: Using EKS, with `Server Version: version.Info{Major:"1", Minor:"18+", GitVersion:"v1.18.9-eks-d1db3c", GitCommit:"d1db3c46e55f95d6a7d3e5578689371318f95ff9"

[2021-05-26 00:49] cocatrice commented on #16236
Interestingly I have found when ever there is an issue with the cilium agent like above, it seems to come with a memory leak in the cilium agent itself.

Similar to the symptom describes in https://github.com/cilium/cilium/issues/16300

![image](https://user-images.githubusercontent.com/13718036/119586420-01918400-be10-11eb-9f6c-12e5d3b93971.png)

[2021-05-26 02:49] aanm commented on #16278
@mikeinton do you have any endpoint in `cilium endpoint list` that has the label `io.cilium.k8s.namespace.labels.ns=egress-a-public`?

[2021-05-26 03:04] aanm commented on #16299
@sstoner can you present this proposal in the weekly development meeting? It will happen in exactly 12 hours from now. Feel free to ask how to access the meeting in the #development channel in Cilium slack.

[2021-05-26 03:20] aanm commented on #16302
@gandro let's discuss it in the weekly meeting or in a thread in #development. Please ping @Weil0ng in that thread / meeting.

[2021-05-26 03:20] aanm commented on #16303
As requested in slack, please check if the issue still persists *without* following the guide to setup bridged network interface

[2021-05-26 03:39] aanm commented on #16236
@cocatrice do you have a sysdump when the issue is happening? In the last sysdump, non of the cilium-agents were using a high amount of memory.

[2021-05-26 03:58] jrajahalme commented on #16299
As @joestringer [answered your question in the linked issue](https://github.com/cilium/cilium/issues/15774#issuecomment-837061657), there are architectural reasons for separating the control planes of different clusters from each other, one of which is k8s apiserver scalability, which can't be ignored. Other consideration is the fact that we already have most of the needed control-plane interfaces

[2021-05-26 04:41] mikeinton commented on #16278
Hi @aanm, no this is the closest result.

[code]

Do I need to change my policy to use a `podSelector` instead of `namespaceSelector`?  This is what I followed to setup the original CiliumEgressNATPolicy - https://docs.cilium.io/en/latest/gettingstarted/egress-gateway/#create-egress-nat-policy.

[2021-05-26 05:00] answer1991 commented on #16299
Yes.

In the design philosophy of Kubernetes, there is only one apiserver that is kube-apiserver in the "world" of Kubernetes. That's why all components connect to kube-apiserver to get the data which generated from aggr-apiserver, but not connect to aggr-apiserver directly. "Only one apiserver" keeps Kubernetes architecture simple and reliable, and ensure the data that component get is consistenc

[2021-05-26 05:35] mikeinton commented on #16278
I switched our policy to `podSelector` and not `cilium bpf egress list` works.

Updated Policy
[code]

[code]

Is this output correct?  None of my 3 source pods in that namespace can connect to the `DST CIDR` specified in this policy after it has been applied.  It seems like something still isn't right, is the output of `EGRESS INFO` valid?

In my initial post, I did note that the IP has been adde

[2021-05-26 05:49] alam0rt opened #16313 "Packet loss in EKS 1.19 / AWS CNI chaining mode `kube-proxy-replacement=probe`"
## Bug report

**General Information**

- Cilium version (run `cilium version`)
[code]
- Kernel version (run `uname -a`)
[code]
- Orchestration system version in use (e.g. `kubectl version`, ...)
[code]

- Generate and upload a system zip:
[code]
Provided via slack

**How to reproduce the issue**

1. Create EKS cluster with same version
2. Install Cilium 1.9.5
[code]
3. Install Istio 1.8.2 & use i

[2021-05-26 06:15] alam0rt commented on #16313
An exciting development!

after setting `kube-proxy-replacement=disabled`  and restarting cilium daemonset
[code]

after setting it back to  `kube-proxy-replacement=probe`  and restarting again

√ ~/projects/vegeta clusteradmin@alpha-apse2-v1/default
 % cat hubble-au | vegeta attack -duration=5s | tee results.bin | vegeta report; vegeta report -type=json results.bin > metrics.json

[2021-05-26 06:28] alam0rt commented on #16313
Adding onto this, the Helm chart `cilium` version `1.9.5`  defaults to `probe`

[code]

Whereas the cilium-agent binary from the docs defaults to `partial`

[code]

Perhaps they should be the same?

[2021-05-26 07:16] sstoner commented on #16299
we can treat APIServer as a `SharedStore` and maybe just need to add an adapter to `ClusterMesh`.

I have updated the diagram and the design details description. Please take a look.

[as this comment said ](https://github.com/cilium/cilium/issues/16299#issuecomment-848454100), it is the aggregationApiserver we want to propose.

[2021-05-26 07:43] sstoner commented on #16299
Ok, I have added the topic to meeting docs

[2021-05-26 08:11] pchaigno commented on #16278
We're making progress :slightly_smiling_face: The output of `cilium bpf egress list` now looks okay.

Could you try to trace one of the failing connections on the source node (with `cilium monitor` or with Hubble)?

[2021-05-26 09:41] pchaigno commented on #9589
Our Egress IP Gateway feature introduced in v1.10 should cover this. See [the release blog post](https://cilium.io/blog/2021/05/20/cilium-110#egressgateway) for a description and pointers. I'm going to close this issue, but don't hesitate to ping me if there's something more to it than what the egress IP gateway covers.

[2021-05-26 09:41] #9589 closed

[2021-05-26 09:42] #6116 closed

[2021-05-26 09:50] #13083 closed

[2021-05-26 09:51] #16195 closed

[2021-05-26 09:59] #15910 closed

[2021-05-26 10:25] jibi opened #16315 "[Race Detector] Race in proxylib between `(*ClientSuite).TestRequestAllResources()` and `(*ClientSuite).UpsertNetworkPolicy`"
Found in Travis CI:
* https://travis-ci.com/github/cilium/cilium/jobs/508002930
* https://travis-ci.com/github/cilium/cilium/jobs/507726146

[code]

Might be related to https://github.com/cilium/cilium/issues/16296

/cc @jrajahalme

[2021-05-26 11:39] splushii opened #16316 "Upgrading to `1.10.0` fails when Hubble cert gen job is enabled"
## Bug report

Upgrading from `1.9.7` -> `1.10.0` with Hubble cert generation job enabled fails with an immutability error:
[code]

Deleting the job prior to upgrade solves the problem (`kubectl -n cilium delete job hubble-generate-certs`).

**General Information**

- Cilium version: `1.9.7`
- Kubernetes version: `v1.18.17-gke.700`

**How to reproduce the issue**

1. Install Cilium `1.9.7` with He

[2021-05-26 11:57] pchaigno opened #16317 "v1.9: CI: K8sServicesTest Checks service across nodes Tests NodePort (kube-proxy) with IPSec and externalTrafficPolicy=Local"
This test is **consistently failing** on v1.9: https://jenkins.cilium.io/view/Cilium-v1.9/job/cilium-v1.9-k8s-gke/618/testReport/Suite-k8s-1/18/K8sServicesTest_Checks_service_across_nodes_Tests_NodePort__kube_proxy__with_IPSec_and_externalTrafficPolicy_Local/

### Stacktrace
[code]
### Standard Output
[code]
### Standard Error
<details><summary>Click to show.</summary>

[code]
</details>

[2021-05-26 11:59] pchaigno opened #16318 "v1.9: CI: K8sPolicyTest Multi-node policy test validates fromEntities policies Validates fromEntities all policy"
This test is **consistently failing** on v1.9: https://jenkins.cilium.io/view/Cilium-v1.9/job/cilium-v1.9-k8s-1.12-kernel-net-next/617/testReport/Suite-k8s-1/12/K8sPolicyTest_Multi_node_policy_test_validates_fromEntities_policies_Validates_fromEntities_all_policy/.

### Stacktrace
[code]
### Standard Output
[code]
### Standard Error
<details><summary>Click to show.</summary>

[code]
</details>

[2021-05-26 12:11] aanm commented on #16278
The issue might be the namespace `egress-a-public` does not have the label `ns=egress-a-public` set.

[2021-05-26 12:26] pchaigno commented on #16285
(FYI, we're tracking adding support for explicit ICMP policy rules at https://github.com/cilium/cilium/issues/14609.)

[2021-05-26 12:29] aanm commented on #16316
@splushii which command did you use to upgrade to Cilium 1.10.0?

[2021-05-26 12:31] aanm commented on #16285
I was looking for that GH issue but I couldn't find it. Thanks!

[2021-05-26 12:55] pchaigno commented on #16284
The sysdump appears to be missing a bugtool for the node. Do you know why? Did you get any errors when collecting the sysdump?

[2021-05-26 13:37] jibi commented on #15097
Reproduced locally with:

[code]

the interesting thing is that after some time the failure resolves by itself:
[code]

(wait a few minutes)

[code]

[2021-05-26 15:08] vincentmli commented on #16280
Just add more lab observation, I downgraded my kernel to 5.8 which does not support eBPF host routing, so cilium fall back to legacy host routing

<pre>
kubectl  exec -it $CA2 -n kube-system -- cilium status
KVStore:                Ok   Disabled
Kubernetes:             Ok   1.20 (v1.20.7) [linux/amd64]
Kubernetes APIs:        ["cilium/v2::CiliumClusterwideNetworkPolicy", "cilium/v2::CiliumEndpoint

[2021-05-26 15:17] Weil0ng commented on #16285
curious, why ipv4 works in this case?

[2021-05-26 15:20] pchaigno commented on #16285
Because IPv4 doesn't rely on ICMP for neighbor discovery? We let ARP packets go through.

[2021-05-26 15:29] Weil0ng commented on #16285
then we should probably explicitly allow NDP to go through (even not all ICMP) since it is the counterpart ip ipv6?

[2021-05-26 16:19] vifino commented on #16275
Hey @brb,

I tried with v1.10, took the new `values.yaml` and changed the same values (apart from the runtime stuff, I properly marked the `/sys/fs/bpf` mount as shared, option `shared` in fstab didn't do the trick).

Shortly after the containers are up, I get the health check to succeed, but after a few seconds it goes back to the HTTP check not succeeding.
Just like before, routes are announced

[2021-05-26 16:21] jibi commented on #16302
Just a heads up: since I'm looking into https://github.com/cilium/cilium/issues/15097 (which I think might be related) I'm trying to bisect and find what introduced the regression (not sure if this will be successful as it takes a quite a few runs for the test to fail/not sure if there's a specific commit responsible for that)

[2021-05-26 16:49] code-merc commented on #16223
Actually it looks like this is an issue with the minikube registry after further investigation, so I'll close this. Thanks for the help!

[2021-05-26 16:49] #16223 closed

[2021-05-26 18:02] christarazi commented on #16279
@Jasper-Ben Were you able to confirm or did it not solve your issue? If not, could you provide the cilium-agent logs?

[2021-05-26 18:48] mikeinton commented on #16278
@pchaigno

We never get a corresponding ACK.
[code]

I need to figure out why we can't reach our destination when sourcing from our designated `egressSourceIP` but it works when sourcing from the node's primary IP.
[code]

Will keep troubleshooting our instances/security groups and post back with results.

@aanm - Thanks, I thought it would key off the namespace with out us having to label it but

[2021-05-26 18:52] martin31821 commented on #16279
Hi @christarazi,
After testing it I can confirm the PR indeed solves our issue.
The cilium_host device gets the same IP assigned as before the reboot.

[2021-05-26 19:18] pchaigno commented on #16278
Are you trying to redirect packets through a specific cluster node or do you just want them to leave the original source node with the `egressSourceIP`? The egress IP gateway allows both.

Is 96.102.39.58 assigned to an interface of the source pod's node? Is 96.102.39.104 an IP inside or outside the cluster?

[2021-05-26 19:44] mikeinton commented on #16278
@pchaigno - Both actually, the guide has the test client mediabot pod assigned to the same node that runs the `"egress-ip-assign"` deployment.  I have a mediabot pod scheduled on that node as well as another one that isn't the intended gateway node.

Yes, 96.102.39.58 is assigned to the same interface as our designated gateway node here which has the primary IP of 96.102.39.42.  96.102.39.104 is c

[2021-05-26 20:06] smnmtzgr opened #16321 "cilium-node-init fails for AKS-nodes"
## Bug report

On AKS (tested with k8s 1.19.9 and k8s 1.20.5) the nodeinit container doesnt restarted unmanaged (kubenet managed) pods. It gives the following output:
[code]

**General Information**

- Cilium version (run `cilium version`): 1.10.0
- OS: Ubuntu 18.04.05 with containerd
- Orchestration system version in use (e.g. `kubectl version`, ...):
Client Version: version.Info{Major:"1", Minor

[2021-05-26 20:31] jamesongithub commented on #16284
yeah so the sysdump tool attempts to run this:

`kubectl exec -n kube-system cilium-mh9kn -c cilium-agent cilium-bugtool`
kubectl exec [POD] [COMMAND] is DEPRECATED and will be removed in a future version. Use kubectl exec [POD] -- [COMMAND] instead.
error: unable to upgrade connection: container not found ("cilium-agent")

but the cilium-agent is in crashloopbackup so it's gone when sysdump runs.

[2021-05-26 21:02] pchaigno commented on #16284
Could you share your kernel config.? It might be in `/boot/config-$(uname -r)`. I think the Cilium agent is failing to change this sysctl value because some config. is missing from your kernel.

[2021-05-26 21:40] pchaigno commented on #16277
@Divya063 Chris assigned you. Don't hesitate to reach out on Slack (#development or #sig-datapath) if you have questions.

[2021-05-26 21:41] pchaigno commented on #16285
Yes, that would make sense to me.

[2021-05-26 22:13] pchaigno commented on #16306
What tests are failing? All of them?

Probably worth checking if any statistics in `/proc/net/xfrm_stat` are increasing as the failures happen.

[2021-05-26 22:21] jamesongithub commented on #16284
sure, attached.

[config-5.3.18-24.46-default.txt](https://github.com/cilium/cilium/files/6549909/config-5.3.18-24.46-default.txt)

[2021-05-26 22:22] pchaigno commented on #16281
https://github.com/cilium/cilium/pull/16227 should fix this issue. You can test it with:
- On master: `docker.io/pchaigno/cilium-dev:fix-aws-cni-v2@sha256:261bff038ee476b505a4123d2f7ab932bb6a1a6dc0712a7ac3df5cbeaf8a0693`.
- On v1.9: `docker.io/pchaigno/cilium-dev:v1.9-fix-aws-cni-v2@sha256:5849d9361c6023bd185ff9fdb07f7071808131c1c1b7304c7e29fd25b708e4a6`.

[2021-05-26 22:26] pchaigno commented on #16284
Weird, the right configs seem to be here. @borkmann Do you know what else could be causing this?
[code]
<br>

@jamesongithub If you try to set the sysctl `net.core.default_qdisc` to `fq` manually, does it work?

[2021-05-26 23:33] cocatrice commented on #16236
Will get a sysdump next time this happens. The screen shot above is also using a significant amount of memory but I think there is a slow memory leak going on there it hasn't got crazy high as the pod only runs couple of hours. The rest of the cilium agent which doesn't have the issue memory usage is almost flat.

![image](https://user-images.githubusercontent.com/13718036/119744067-8cd14f00-bece-

[2021-05-27 02:07] gpl commented on #8613
Hello,

We're able to consistently see this message pop up on our Kubernetes cluster, running v1.19 and Cilium 1.9.7 on a host reboot.

I can PM the sysdump on request, thank you!

[2021-05-27 02:33] aanm commented on #8613
cc @brb

[2021-05-27 03:48] jamesongithub commented on #16284
actually i can't even set it. it seems to be the same error from the cilium installation

`sysctl -w net.core.default_qdisc=fq`
sysctl: setting key "net.core.default_qdisc": No such file or directory

is this a missing module? Not familiar with this parameter.

[2021-05-27 08:16] pchaigno commented on #16284
You need `modprobe sch_fq`.

What OS are you using? Where is the kernel from? Is it the default kernel from the OS?

[2021-05-27 09:00] splushii commented on #16316
The error message above is actually from the Flux GitOps Toolkit helm-controller, but it can also be reproduced using `helm` directly:
[code]

[2021-05-27 09:11] #16007 closed

[2021-05-27 09:12] #13070 closed

[2021-05-27 10:12] twpayne commented on #13493
Possibly observed in https://jenkins.cilium.io/job/Cilium-PR-K8s-1.21-kernel-4.9/538/testReport/junit/Suite-k8s-1/21/K8sServicesTest_Checks_service_across_nodes_Checks_ClusterIP_Connectivity/. Health socket is not available after two minutes.

[test_results_Cilium-PR-K8s-1.21-kernel-4.9_538_BDD-Test-PR.zip](https://github.com/cilium/cilium/files/6553102/test_results_Cilium-PR-K8s-1.21-kernel-4.9_5

[2021-05-27 10:48] pchaigno commented on #16221
Hit on a v1.9 backport PR: https://jenkins.cilium.io/job/Cilium-PR-Runtime-4.9/4801/testReport/junit/(root)/Suite-runtime/RuntimePrivilegedUnitTests_Run_Tests/.
[31c1bee4_RuntimePrivilegedUnitTests_Run_Tests.zip](https://github.com/cilium/cilium/files/6553359/31c1bee4_RuntimePrivilegedUnitTests_Run_Tests.zip)

[2021-05-27 10:55] pchaigno commented on #16203
Happened also in a v1.9 backport PR: https://jenkins.cilium.io/job/Cilium-PR-K8s-1.12-net-next/1724/testReport/Suite-k8s-1/12/K8sDatapathConfig_Encapsulation_Check_vxlan_connectivity_with_per_endpoint_routes/.
[2fe727a6_K8sDatapathConfig_Encapsulation_Check_vxlan_connectivity_with_per-endpoint_routes.zip](https://github.com/cilium/cilium/files/6553409/2fe727a6_K8sDatapathConfig_Encapsulation_Check

[2021-05-27 11:12] Jasper-Ben commented on #16279
thanks @martin31821! I didn't get around to test it again yesterday

[2021-05-27 11:46] gandro commented on #16302
Okay, I think the problem is that the `sync-to-k8s-ciliumendpoint` controller is not triggered once we resolve the identity. Relevant cilium-agent from from the sysdump in #16237:

The initial update at 07:16:24 is skipped due to the identity not being known. Only 6 milliseconds later, the identity is resolved, but the controller has a RunInterval of 10 seconds, so the identity is not announced fo

[2021-05-27 12:37] msheldyakov commented on #16247
From my understanding, "skip" here means that the traffic will be processed as without a policy, and the other backend will simply respond to request. In my case, turning off the LRP repairs the service. Am i wrong?

[2021-05-27 13:20] aanm opened #16335 "Dead links in documentation for tests"
Some of the jenkins.cilium.io in the documentation are currently 404

Direct link: https://github.com/cilium/cilium/blob/4d52791d27de836d2fb1190230769e32ad813c25/Documentation/contributing/testing/ci.rst#L210-L229

same for https://github.com/cilium/cilium/blob/4d52791d27de836d2fb1190230769e32ad813c25/Documentation/contributing/testing/ci.rst#L421-L438

[2021-05-27 14:05] nbusseneau commented on #16203
Sorry, that's right...

[2021-05-27 14:42] borkmann commented on #16284
Does it work if you set `sysctl -w net.core.default_qdisc=fq_codel` and how about `sysctl -w net.core.default_qdisc=pfifo_fast` ?

It's strange that your kernel build includes fq scheduler but you cannot select it.

[2021-05-27 14:49] twpayne opened #16337 "CI: K8sKafkaPolicyTest Unable to restart unmanaged pods"
## CI failure

I think this is a new flake.

[code]

<details>
<summary>Detailed logs</summary>

[code]
</details>

https://jenkins.cilium.io/job/Cilium-PR-K8s-GKE/5553/

[test_results_Cilium-PR-K8s-GKE_5553_BDD-Test-PR.zip](https://github.com/cilium/cilium/files/6554868/test_results_Cilium-PR-K8s-GKE_5553_BDD-Test-PR.zip)

[7c5dff33_K8sKafkaPolicyTest_Kafka_Policy_Tests_KafkaPolicies.zip](https:/

[2021-05-27 14:56] #16280 closed

[2021-05-27 16:21] Divya063 commented on #16277
Sure @pchaigno

[2021-05-27 16:58] sdmodi commented on #16285
What is the workaround to this problem? Is it to explicitly allow ICMP traffic? In other words, what should customers do to get IPv6 policies to work despite having NDP packets flowing around?

[2021-05-27 17:07] aanm commented on #16317
fixed by https://github.com/cilium/cilium/pull/16333

[2021-05-27 17:07] #16317 closed

[2021-05-27 17:07] aanm commented on #16318
fixed by https://github.com/cilium/cilium/pull/16333

[2021-05-27 17:07] #16318 closed

[2021-05-27 17:08] pchaigno commented on #16285
Did you try allowing connections from the link-local address via `fromCIDRs`?

[2021-05-27 17:34] sdmodi commented on #16285
No. But this is so difficult from a customer point of view. Will it work, if I allow all fe80 traffic? I am trying this out on GKE, but I am curious to know how users of IPv6 network policy typically do this. Is the expectation that every time you enable network policy with cilium that you have to explicitly allow link local addresses? Or is it that when people use cilium, usually there isn't any

[2021-05-27 18:37] Weil0ng commented on #16302
@gandro I think that's a very good observation :) IIUC the ipcache propagation delay is  sorta composed of two legs:
- Announce CEP with identity to apiserver
- All agents get CEP via watch

I think invoking the synchronizer sooner as you suggested would mitigate delay in the first leg and would most likely solve the CI failure, but the second one is kinda fundamental and depends on a lot of thing

[2021-05-27 18:41] Weil0ng commented on #16285
IIUC, we need to fix this by allowing ICMP traffic by default, I don't think there's network policy that controls ICMP traffic anyways?

What @pchaigno suggested (explicitly allowing link-local addresses) can be an immediate workaround for this b4 the fix is in?

[2021-05-27 20:08] borkmann commented on #16280
That observation is correct. For Pod-Pod over tunnel in legacy mode only the outer one goes through the host stack. And the BPF prog from cilium_vxlan/geneve will redirect at tc layer to the Pod. From the Pod in bpf_lxc, it will redirect back to the tunnel dev. The one difference here for Pod-Pod case is that due to the use of redirect_peer() it will decrease the latency slightly due to not having

[2021-05-27 21:34] romanspb80 commented on #15491
Hi Paul!
As I understood the task it is necessary to check the relevance of the policy:

`apiVersion: "cilium.io/v2"
kind: CiliumNetworkPolicy
metadata:
  name: "from-entities-world"
spec:
  endpointSelector:
    matchLabels:
      {}
  ingress:
  - fromEntities:
    - world`

But I didn't find info regarding deprecated entity "world" in [Release notes](https://github.com/cilium/cilium/releases)
C

[2021-05-27 21:53] pchaigno commented on #16154
Also affects v1.9: https://jenkins.cilium.io/job/Cilium-PR-K8s-1.18-kernel-4.19/166/testReport/junit/Suite-k8s-1/18/K8sServicesTest_Checks_local_redirect_policy_LRP_restores_service_when_removed/
[0e703bc1_K8sServicesTest_Checks_local_redirect_policy_LRP_restores_service_when_removed.zip](https://github.com/cilium/cilium/files/6557010/0e703bc1_K8sServicesTest_Checks_local_redirect_policy_LRP_resto

[2021-05-27 22:20] christarazi opened #16340 "BGP integration doesn't work when `node-selectors` are used in the BGP configmap"
## Bug report

**General Information**

- v1.10.0, master

**How to reproduce the issue**

1. Deploy with BGP enabled and configure BGP with node selectors. For example:
[code]

The expected behavior is that Cilium will peer with the nodes with the above hostnames.

[2021-05-27 23:32] aanm opened #16343 "v1.9.8 release"
## Pre-release

- [x] Check that there are no [release blockers] for the targeted release version
- [x] Ensure that outstanding [backport PRs] are merged
- [x] Consider building new [cilium-runtime images] and bumping the base image
      versions on this branch:
  - Cilium v1.10 or later:
     Modify the `FORCE_BUILD` environment value in the `images/runtime/Dockerfile` to force a rebuild.
     [

[2021-05-27 23:53] mikeinton commented on #16278
It turns out that in addition to running the `ip address add` egress-ip-assign deployment to set our secondary IP's on our gateway node, if you're running on EC2 you also need to add those IP's to the instance itself.

We were able to test this directly by sourcing various secondary IP's directly from our gateway node to the standalone instance running nginx.

[code]

The secondary IP never worked

[2021-05-27 23:55] aditighag commented on #16247
@msheldyakov No, what the document note implies is that traffic is forwarded to the service VIP since it's not translated. I have created a PR to clarify this in the guide.

Coming back to the issue, how does node-local dns work on OKD without LRP?

[2021-05-28 00:57] jamesongithub commented on #16284
This is on SUSE LInux Enterprise 15 SP2 Jeos (Just Enough OS) so would expect less packages and modules I guess. I think the kernel is the same as standard SUSE LInux Enterprise 15 SP2 though.

[2021-05-28 00:57] #16003 closed

[2021-05-28 00:58] #16154 closed

[2021-05-28 00:58] jamesongithub commented on #16284
`fq_codel` does not work either. `pfifo_fast` works and I think that's what it was set to by default.

[2021-05-28 01:05] jamesongithub commented on #16284
What's the recommendation here? Obtain this module somehow? Is the fq scheduler the only schedule that can be used?

Any other modules required by cilium?

[2021-05-28 01:20] cocatrice commented on #16236
This just happened again, below is some information and sysdump.

The particular pod is having the DNS resolving issue

[code]

The cilium agent on this node

[code]

Interestingly this is timing out

[code]

Memory on this particular cilium agent (last 12 hours) is slowly increasing / leaking

![image](https://user-images.githubusercontent.com/13718036/119915618-3cc5bb80-bfa6-11eb-9d47-f0ce37f9e1

[2021-05-28 03:32] #16225 closed

[2021-05-28 04:34] aditighag opened #16348 "CI: Make LRP connectivity test case reliable"
This issue tracks the changes required to fix the LRP connectivity test case. Details from #16194 -

Looking at the LRP test case where we check if traffic only goes to the local backend, it doesn't seem reliable since it's possible that the curl request that the test made wasn't redirected to the remote backend by chance. I think the reliable way to validate the correctness is to check for a Loca

[2021-05-28 05:20] jrajahalme opened #16349 "Visibility redirections disappear on Cilium restart ("Unable to enqueue endpoint policy visibility event")"
## Bug report

Cilium logs "Unable to enqueue endpoint policy visibility event" messages on restart if a pod had visibility annotations before restart. Visibility redirections do not work after restart

**General Information**

- Cilium versions affected: 1.8.10, 1.9.7., 1.10.0, works on 1.7.16
- Kernel version: 5.10.25-linuxkit
- Orchestration system version in use: 1.19.1 (via Kind)

[cilium-age

[2021-05-28 08:01] pchaigno commented on #16284
You can avoid this by disabling the bandwidth manager (`enable-bandwidth-manager: false`).

We'll need to document the `CONFIG_NET_SCH_FQ` requirement in https://docs.cilium.io/en/v1.9/operations/system_requirements/#linux-kernel.

[2021-05-28 08:07] borkmann commented on #16284
cc/ping @mrostecki : What's the rationale of having `pfifo_fast` but not `fq` and `fq_codel` in SUSE LInux Enterprise? All three are relevant and really should be built there as default.

[2021-05-28 10:20] mrostecki commented on #16284
Hi @jamesongithub

The **JeOS** kernel is indeed mising `fq` and `fq_codel` modules. We didn't notice that, because both openSUSE Kubic, and SUSE CaaSP are using the default kernel flavors, not the *minimal* one which comes with JeOS.

I will try to get those modules also in JeOS flavor, but it might take time.

For now, as a workaround, I would suggest installing the default kernel with:

[code]

[2021-05-28 12:47] pchaigno commented on #16007
The fix for this regression was released in v1.9.7 and will also be part of the upcoming v1.10.1 release.

[2021-05-28 12:53] h3llix commented on #16305
I would like to work on this . Can you assign this to me ?

[2021-05-28 14:18] #16343 closed

[2021-05-28 17:09] alex1989hu opened #16361 "hubble-relay: failed to create gRPC client"
## Bug report

After upgrading from Cilium `v1.9.7` to Cilium `v1.10.0` hubble-relay stopped working: it can not connect to `node:4244`.

I did not change anything in Helm Chart values.yaml file, except Chart version replace.

I thought issue caused :
- by `CiliumNetworkPolicy` -> removed -> nothing changed.
- relay tls server is needed, so enabled option `hubble.relay.tls.server.enabled`: true >

[2021-05-28 17:21] pchaigno opened #16362 "GitHub workflow to test AWS-CNI chaining mode"
We should add a GitHub workflow, similar to [our existing EKS workflow](https://github.com/cilium/cilium/blob/master/.github/workflows/conformance-eks.yaml), to test Cilium running in chaining mode on top of AWS-CNI.

[2021-05-28 17:26] geyslan commented on #13366
It should use the `--report error` flag

[code]

Otherwise we would have kind of false positives
[code]
This is the cause of the INFO/1 warning
[code]

[2021-05-28 18:08] rolinh commented on #16361
I am unable to reproduce. Could you please share your Helm install options (at least the Hubble section) as well as the upgrade command?

[2021-05-28 18:16] alex1989hu commented on #16361
Sure, @rolinh

Cilium installation and upgrading is managed by [ArgoCD](https://argo-cd.readthedocs.io/en/stable/).

Chart.yaml

[code]
values.yaml

[code]

[2021-05-28 18:18] alex1989hu commented on #16361
[hubble-relay-557d7cb747-tm9br-hubble-relay-20210528-185956.log](https://github.com/cilium/cilium/files/6562704/hubble-relay-557d7cb747-tm9br-hubble-relay-20210528-185956.log)

[2021-05-28 19:27] jrajahalme opened #16364 "iptables TPROXY rules are removed during agent restart"
Cilium datapath bopotstrap process removes old TPROXY iptables rules causing an DNS proxy outage of about 25-30 seconds. Relevant excerpt from [the full debug logs](https://github.com/cilium/cilium/files/6562951/cilium-6.log):

[code]
- Cilium version: All

[2021-05-28 19:52] petreski commented on #16303
Cannot reproduce on a new cluster created using kubeadm.

[2021-05-28 19:52] #16303 closed

[2021-05-28 20:05] cyrilcros opened #16366 "Ethernet adapter gets reset and node becomes unreachable"
## Bug report

**General Information**

- Cilium version (run `cilium version`): 1.10.0
- Kernel version (run `uname -a`): Linux dolores 5.8.0-26-generic #27-Ubuntu SMP Wed Oct 21 22:29:16 UTC 2020 x86_64 x86_64 x86_64 GNU/Linux
- Orchestration system version in use (e.g. `kubectl version`, ...): v1.21.0"
- Link to relevant artifacts (policies, deployments scripts, ...)
- Generate and upload a sys

[2021-05-28 21:40] cyrilcros commented on #16366
Closing, I am not sure what is going on...

[2021-05-28 21:40] #16366 closed

[2021-05-28 22:15] #12561 closed

[2021-05-28 22:16] pchaigno commented on #15491
The `world` entity isn't deprecated. The goal of this issue is to check if the special case I linked to is still needed. That is, is the IP of cilium_host now used for traffic from the host in native routing mode. It should be a simple matter of removing the special case and running the test to check.

[2021-05-28 22:24] pchaigno commented on #13366
@geyslan Done. Don't hesitate to reach out on Slack (e.g., in #development) if you have any question.

[2021-05-28 22:42] navarrothiago commented on #7522
Please, could you assign this issue to me?

[2021-05-28 23:25] #16296 closed

[2021-05-28 23:40] cyrilcros commented on #16366
https://github.com/cilium/cilium/issues/10645 is my final guess as the root cause

[2021-05-29 00:10] jamesongithub commented on #16284
Thanks @mrostecki. It install successfully with the `kernel-default` package. Part of the idea of JeOS is to keep the distro minimal, will this contribute to bloat? Or is it insignificant.

[2021-05-29 00:16] jamesongithub commented on #16284
`cilium install --config enable-bandwidth-manager=false`

So it seems like it doesn't attempt to setup the bandwidth manager now. But is it still trying to set the scheduler?

`level=warning msg="Error: Specified qdisc not found." subsys=datapath-loader`

[cilium-sysdump-20210528-171239.zip](https://github.com/cilium/cilium/files/6563772/cilium-sysdump-20210528-171239.zip)

[code]

[2021-05-29 02:40] aanm commented on #16236
Thank you for the useful sysdump. The cause of it is because of a deadlock which prevents the GC from happening and the memory will increase.

Source code cilium v1.10.0.
SelectorCache -> `0xc000a58cc0` is being held by:

[code]
Go routine is holding the mutex `0xc0024e033c` is the following:
[code]

[2021-05-29 13:55] #16120 closed

[2021-05-29 15:11] aanm commented on #16300
@yuriydzobak can you provide the output of `gops stack 1` for the cilium container with the highest memory?

[2021-05-29 19:33] daemon1024 commented on #16146
Hi, could I have this issue assigned to me?

[2021-05-30 06:15] christian-2 commented on #16146
In terms of the more narrow issue (documentation says `pod-name:default:foobar` instead of `pod-name:default/foobar`) IINM the relevant code is [here](https://github.com/cilium/cilium/blob/master/pkg/endpoint/identifiers.go#L64-L66): `return e.K8sNamespace + "/" + e.K8sPodName`.

Re adding a field which contains the pod’s namespace, wouldn’t this break the apparent idea behind [endpoint ID prefixe

[2021-05-31 06:40] borkmann commented on #16284
No, the error is independent of bandwidth-manager. In order to install BPF programs into the datapath at the tc ingress/egress layer, the kernel needs sch_clsact and cls_bpf. Looks like both are missing on your kernel.

@mrostecki looks like sch_clsact qdisc kernel support is missing (presumably cls_bpf as well), which is needed to install BPF programs. Any chance they could be included as modules

[2021-05-31 07:19] rolinh commented on #16361
Ah, I see that you're using the cronjob method for cert generation, I'll try to reproduce again.
Did you encounter any issue with Helm during the upgrade? Asking because issue #16316 might be related.

[2021-05-31 08:25] gandro commented on #16316
Related issue in Helm: https://github.com/helm/helm/issues/7725

Unfortunately, this is a rather fundamental limitation of Helm. The core problem here is, that the `hubble-generate-charts` job cannot be patched. The good thing is that `hubble-generate-certs` is safe to re-run, so deleting the old Job before the upgrade is the proper thing to resolve this.

We need find a way to instruct Helm to de

[2021-05-31 08:31] brb commented on #16366
@cyrilcros What is your systemd version?

[2021-05-31 08:44] alex1989hu commented on #16361
ArgoCD did not report any issue during Cilium upgrade.

Here is the current manifest of cronjob method for cert generation:

[code]

I can even start it manually:

[code]

[2021-05-31 08:56] jibi opened #16370 "[Race Detector] Race in kvstore between `(*EtcdSuite).TestETCDVersionCheck()` and `(*etcdClient).checkMinVersion()`"
detected in travis: https://travis-ci.com/github/cilium/cilium/jobs/509173348
[code]

[2021-05-31 09:03] brb commented on #16275
@vifino I would suggest to check with `tcpdump` and `cilium monitor` what happens to the failing requests.

[2021-05-31 09:06] jibi opened #16371 "[Race Detector] Race in proxylib package between `(*AccessLogServer).Close()` and `StartAccessLogServer.func1()`"
Found in Travis:  https://travis-ci.com/github/cilium/cilium/jobs/509157458
[code]

[2021-05-31 09:35] jibi commented on #15097
Lowering the `RunInterval` for the `sync-to-k8s-ciliumendpoint` controller:
[code]

makes the flake disappear (rerun the test for 20 times or so). This suggests again that the flake may be related to https://github.com/cilium/cilium/issues/16302

[2021-05-31 09:54] yuriydzobak commented on #16300
[stack.txt](https://github.com/cilium/cilium/files/6569446/stack.txt)

[2021-05-31 12:13] rolinh commented on #16361
Interestingly, I fail to reproduce even when using the `values.yaml` file that you provided. If you `kubectl delete` the cronjob, does it fix the issue?

[2021-05-31 12:37] rolinh commented on #16361
@alex1989hu Could you please also provide a sysdump of the system, maybe host it elsewhere if it's too large for github?

[2021-05-31 13:52] knfoo opened #16375 "Misbehaving L7Proxy makes Cilium API Unable to create new endpoint"
## Bug report

**General Information**

- Cilium version:
Client: 1.10.0 952d9d3 2021-05-19T18:42:32+02:00 go version go1.16.4 linux/amd64
Daemon: 1.10.0 952d9d3 2021-05-19T18:42:32+02:00 go version go1.16.4 linux/amd64

- Kernel version (run `uname -a`)
Linux itsedcll-bb4070 5.10.0-1026-oem #27-Ubuntu SMP Thu May 6 07:19:13 UTC 2021 x86_64 x86_64 x86_64 GNU/Linux
- Orchestration system version in

[2021-05-31 13:53] ti-mo opened #16376 "[IPSec + Kind] Egress HTTP policy breaking inter-node connectivity"
## Bug report

This is currently blocking the merge of https://github.com/cilium/cilium-cli/pull/251. Failed run: https://github.com/cilium/cilium-cli/pull/251/checks?check_run_id=2694142251.

With IPSec enabled and an egress HTTP policy in place, making an HTTP request from a client pod to a service running on another node fails. Envoy returns a 503:
[code]

The Envoy debug log generates chunks o

[2021-05-31 14:22] knfoo commented on #16375
Seems as the upload limit was reached.
[cilium-sysdump-20210531-161541.zip](https://github.com/cilium/cilium/files/6570825/cilium-sysdump-20210531-161541.zip)

[2021-05-31 14:56] daemon1024 commented on #10457
Hi, I would like to work on this. Can I have this assigned to me?

[2021-05-31 15:19] pchaigno commented on #10457
@daemon1024 I assigned you. Don't hesitate to reach out on Slack (e.g., #development) if you have any question.

[2021-05-31 15:56] alex1989hu commented on #16361
@rolinh: I can not attach here.

I have just uploaded (temporary) it here https://drive.google.com/file/d/1rN4Qc8Yi2BaT3ooBqqwMh_XFOGCWmOaO/view?usp=sharing

[2021-05-31 16:16] twpayne opened #16377 "CI: Suite-runtime.RuntimePrivilegedUnitTests Run Tests TestArpPingHandling"
## CI failure

This failure is in the same test suite as #16221, #16075, and #16040, but the actual failure is different.

[code]

Original failure: https://jenkins.cilium.io/job/Cilium-PR-Runtime-4.9/4829/

[19dfe81b_RuntimePrivilegedUnitTests_Run_Tests.zip](https://github.com/cilium/cilium/files/6571370/19dfe81b_RuntimePrivilegedUnitTests_Run_Tests.zip)
[test_results_Cilium-PR-Runtime-4.9_4829_B

[2021-06-01 07:53] jaffcheng opened #16378 "Use cluster-name in KVStore endpoints key prefix"
IIUC, it seems today cilium-agent is still using the fixed value `default` as `<cluster>` in KVStore endpoints key prefix `cilium/state/ip/v1/<cluster>/<ip>`, which IMO should be the `cluster-name` if it is configured.
https://docs.cilium.io/en/stable/kvstore/#endpoints

https://github.com/cilium/cilium/blob/c042c05f8bf0e74b9777496fcd410719dfa94b2e/pkg/ipcache/kvstore.go#L40-L53

If we are plannin

[2021-06-01 08:15] rolinh commented on #16361
@alex1989hu I realized that we do not include the Hubble Relay configmap in the sysdump. Could you please provide it as well?

[2021-06-01 08:17] alex1989hu commented on #16361
@rolinh sure

[code]

[2021-06-01 08:21] pchaigno commented on #12955
@allanyung Are you still able to reproduce with v1.9.7 or v1.10.0? We have fixed a lot of IPsec issues when running EKS in the recent versions.

[2021-06-01 08:35] pchaigno commented on #16261
This is essentially the same issue as https://github.com/cilium/cilium/issues/16285, no?

[2021-06-01 08:40] oneiro-naut commented on #15491
Hi, could this issue be assigned to me.

[2021-06-01 08:42] rewiko commented on #15878
It seems it has been fixed between 1.9.5 and 1.9.6.

[2021-06-01 08:48] rolinh commented on #16361
This is really curious as I'm unable to upgrade from v1.9 to v1.10 when `hubble.tls.auto.method=cronJob` due to #16316, no matter if I use `helm upgrade` or `helm template + kubectl apply`.

To be clear, Relay TLS server is not needed unless you want to enable mTLS for Relay itself. I see that in your cronjob spec, it is set to generate certs for Relay server (this is not required but it shouldn't

[2021-06-01 09:29] oblazek commented on #16261
oh yes, that is correct!

[2021-06-01 09:40] knfoo commented on #16375
@pchaigno let me know if you need more information or if you need access to the cluster we can setup a remote session

[2021-06-01 10:48] acholt commented on #16287
Thanks @thejosephstevens I had the exact same issue. @pchaigno the was nothing specific in the documentation for 1.9 upgrades, well at least this is not the way I read it. Should the documentation not be updated?

- https://docs.cilium.io/en/v1.10/operations/upgrade/#version-specific-notes

[2021-06-01 10:51] pchaigno commented on #16287
@acholt It's mentioned in https://docs.cilium.io/en/v1.10/operations/upgrade/#step-2-use-helm-to-upgrade-your-cilium-deployment. Where you expecting something different?

[2021-06-01 11:06] acholt commented on #16287
@pchaigno - Yes, I expect 1.9 to be in the valid options, I wasn't sure so I checked the version-specific notes I linked earlier so didn't see anything for 1.9 specifically so assumed it wasn't required.

It reads as users of version 1.8 and older use this flag.

[2021-06-01 11:21] oblazek commented on #16261
closing this since there is a solution in #16285

[2021-06-01 11:21] #16261 closed

[2021-06-01 11:23] pchaigno commented on #16287
Ok. Then we should edit https://docs.cilium.io/en/v1.10/operations/upgrade/#step-2-use-helm-to-upgrade-your-cilium-deployment to make it clear that all versions starting with 1.7 are valid options.

[2021-06-01 11:38] oblazek commented on #16285
I have just tried the workaround on our setup (baremetal setup on-prem) and it partially worked for me.
What I am seeing is another problem (but it is the last one) -- https://github.com/cilium/cilium/blob/master/bpf/lib/icmp6.h#L397

[code]
If I let this be forwarded into a container all works #L397 -> `return 0;`

Interested to see what results @sdmodi gets...?

[2021-06-01 11:41] acholt commented on #16287
I was looking to editing it but see @aanm has already added 1.9 it just hasn't been published yet.  #https://github.com/cilium/cilium/commit/076f475863d6627ac2163554e69038333f30118c

[2021-06-01 13:22] mrostecki commented on #16284
@jamesongithub

Personally I think it's insignificant, but let's see what other people who actually maintain kernel packages think about that. ;)

I think that adding those modules should be fine. If not - we need to make it clear that JeOS is **not** suitable for Kubernetes deployments and suggest either default SLES or MicroOS.

To be clear - does your last error occur **after** switching to `ke

[2021-06-01 13:28] alex1989hu commented on #16361
Yes, see the last code snippet:
https://github.com/cilium/cilium/issues/16361#issuecomment-851326945

[2021-06-01 13:32] Subreptivus commented on #14660
Looks like unrelated or partially related to Cilium. Sometimes it isn't working even without Cilium at all. Sometimes it's working fine on one Cilium version, but failing on another.
Can't confirm, or reliably reproduce, hence closing.

[2021-06-01 13:32] #14660 closed

[2021-06-01 13:48] rolinh commented on #16361
I missed this somehow :facepalm:

So the job run looks OK to me. I also see that the cilium agent seem to pick the update:
[code]

I'd expect to see a similar message in the Hubble Relay logs but I don't. I guess, based on the logs timestamp, that you the Relay instance was re-created after the certs generation so it should have picked the new certificates as well.

Could you please run `hubble st

[2021-06-01 15:15] jrfastab commented on #14941
Completed.

commit 58f7f700a37023f79886bd6ce4b543fd7e08bff6
Author: John Fastabend <john.fastabend@gmail.com>
Date:   Mon Mar 15 23:09:26 2021 -0700

    cilium: auto-detect network interfaces for IPAMENI case

    [ upstream commit 2c878a512de941d3557965cdba0f02d84528bc90 ]

[2021-06-01 15:15] #14941 closed

[2021-06-01 15:18] jrfastab commented on #15434
Resolved by #15357.

[2021-06-01 15:18] #15434 closed

[2021-06-01 15:29] pchaigno commented on #16287
Ah, nice find! It will appear in the 1.10 version of the docs once backported to the v1.10 branch.

[2021-06-01 15:29] #16287 closed

[2021-06-01 15:46] vincentmli opened #16385 "make dev-docker-image not giving error with bad cilium_dbg input"
## Bug report
while using cilium_dbg with unintentional bad input  to trace datapath, make dev-docker-image seems to be able to build  cilium docker image fine, but after deploying the new custom cilium image, cilium agent logs something like "failing to load compiled BPF...etc", open this report and hope make dev-docker-image can complains BPF build error with bad code input in cilium_dbg

for ex

[2021-06-01 15:58] aanm commented on #16300
@yuriydzobak and a heap profile of that same cilium container?

[2021-06-01 16:04] alex1989hu commented on #16361
I can execute commands in `cilium-agent` container, `hubble-relay` container does not have shell:

![image](https://user-images.githubusercontent.com/10764100/120355555-ad047200-c303-11eb-95c4-cc528c7ca523.png)

[2021-06-01 16:33] gandro commented on #16302
@Weil0ng Well summarized! PR #16381 addresses the the first leg, which I agree will probably mitigate most of our CI issue and make discovery a bit quicker in most cases.

When it comes to K8s apiserver lag etc, I agree that most factors are likely out our control. Let's see what numbers we observe once the above fix is merged. If long delays continue to persist, we will have to investigate what e

[2021-06-01 16:34] rolinh commented on #16361
@alex1989hu I meant to target the Hubble Relay service using the CLI. This does not require exec'ing into a pod. Please, refer to [the documentation](https://docs.cilium.io/en/v1.10/operations/troubleshooting/#observing-flows-with-hubble-relay) for how to do this.

[2021-06-01 16:46] alex1989hu commented on #16361
@rolinh sorry. Based on the documentation I downloaded `hubble` CLI and set up a port-forward. No luck.

Actually, this is `v1.10`:

![image](https://user-images.githubusercontent.com/10764100/120361012-a8db5300-c309-11eb-8dd7-42f227a4e8e1.png)

[code]

[2021-06-01 18:34] rolinh commented on #16361
@alex1989hu This fail because you enabled TLS for the Hubble Relay service itself (which is why it needs to be accessed on port 443 and not 80 as the default). You would need to setup your CLI with appropriate certs and CA to connect to Relay. However, to troubleshoot this issue it would be easier if this is disabled, i.e. `hubble.relay.tls.server.enabled=false`.

[2021-06-01 19:22] cyrilcros commented on #16366
That was systemd 245. I am not sure what happened, I ended up switching my nodes from DHCP to static IPs. Things were fine after this.

[2021-06-01 19:38] pchaigno commented on #15491
@oneiro-naut - @romanspb80 is already working on it. I've assigned them to clarify that.

[2021-06-01 20:09] joestringer commented on #16364
Nice find! Would be neat if we could develop a test that runs across restart/upgrade to observe this from a packet level.

[2021-06-01 20:42] jrajahalme opened #16386 "iptables commands take long time during Cilium restart"
Individual `iptables` commands can take upto 5 seconds during Cilium restart, making the agent be unresponsive to Cilium API longer. Below are logs from an instrumented Cilium restart:

[code]
Above there is about 4.2 seconds taken by a single `iptables --version` command (`getVersion`), and another 1.2 seconds taken by `iptables -L` command (`GetProxyPort`).

[2021-06-01 20:44] pchaigno commented on #16385
This is what `make -C bpf build_all` is for. It should complain with a compilation error if the code is incorrect.

[2021-06-01 21:00] vincentmli commented on #16385
@pchaigno thanks, that is what I am looking for then

[2021-06-01 21:00] #16385 closed

[2021-06-02 03:18] jrajahalme commented on #16364
I have a test I developed in Cilium-CLI while solving this. Needs fine tuning still, as DNS access before regeneration is finished relies on restored DNS rules on prior seen IP addresses of DNS servers (as security identities are not yet useful either). This has the caveat that if not all DNS service backends are actually used during the previous run, then those previously unused servers are not a

[2021-06-02 04:28] jrajahalme commented on #16364
Testing #16391 with a new cilium-cli test, before:
[code]
After:
[code]
So the second burst of drops some time after the restart is gone. `ping-0` is the first ping right after restart, it still always drops.

This with Cilium DaemonSet with `terminationGracePeriodSeconds: 0`

[2021-06-02 07:12] yuriydzobak commented on #16300
[heap_profile.zip](https://github.com/cilium/cilium/files/6582679/heap_profile.zip)

[2021-06-02 08:11] oneiro-naut commented on #11162
Hi, I tried to reproduce the issue on the cilium/ubuntu-dev VM. The kernel by default loads the IPv6 related modules so I tried blacklisting the modules to get similar error. I added this line `install ip6table_filter /bin/true` to my `/etc/modprobe.d/blacklist.conf`. I got the following output after building and installing cilium.
[code]
Can I be assigned to this issue?

[2021-06-02 08:13] brb commented on #11162
Sure. Thanks for helping.

[2021-06-02 08:22] pchaigno opened #16392 "CI: ConformanceKind1.19: pod-to-service: Flow validation failed"
On a PR that changed only the CodeQL workflow: https://github.com/cilium/cilium/pull/16389/checks?check_run_id=2722869496.
[logs_107916.zip](https://github.com/cilium/cilium/files/6583131/logs_107916.zip)
[cilium-sysdump-out.zip.zip](https://github.com/cilium/cilium/files/6583133/cilium-sysdump-out.zip.zip)

[code]

[2021-06-02 10:35] alex1989hu commented on #16361
Gotcha, I put `tls-allow-insecure: true` into `$HOME/.config/hubble/config.yaml` solves the issue, thus I do not have to disable TLS for the Hubble Relay service.

It does not look good.

[code]

[2021-06-02 11:37] gandro opened #16393 "Add additional health metrics to the Prometheus exporter"
## Proposal / RFE

The [form3tech-oss/extra-cilium-metrics](https://github.com/form3tech-oss/extra-cilium-metrics) project collects a few additional useful and Cilium metrics around node connectivity and cluster mesh and seem quite useful to Cilium cluster operators.

The metrics are built on top of the Cilium API (`/healthz` and `cilium-health` specifically) and do not contain any workload specif

[2021-06-02 12:39] yuriydzobak commented on #16300
@aanm As you told me provide stack and heap at the same time range
[Archive.zip](https://github.com/cilium/cilium/files/6584555/Archive.zip)

[2021-06-02 13:07] pchaigno commented on #15455
I checked [recent failures](https://datastudio.google.com/s/hFRzuSWaN4g) and this flake seems to have disappeared since we merged https://github.com/cilium/cilium/pull/16064 (which parallelized the hostfw tests and made them a lot faster) on May 11th. The list of PRs above linked to this issue also seems to attest that. I'll keep open for a short while longer and we'll close if it's confirmed.

[2021-06-02 13:51] aanm commented on #16300
@yuriydzobak please upgrade to at least 1.9.7 (or 1.9.8) and see if the issue persists. This will help to rule out any ARP-related bugs fixed in these newer versions. Otherwise we will need to wait until https://github.com/cilium/cilium/issues/16236 is fixed.

[2021-06-02 13:53] yuriydzobak commented on #16300
ok, thank you
I'll provide you feedback when i'll do it

[2021-06-02 15:10] aanm opened #16399 "CI: Checks service across nodes Tests NodePort BPF Tests with direct routing Tests LoadBalancer Connectivity to endpoint via LB"
[code]

[2021-06-02 15:12] #13136 closed

[2021-06-02 15:25] pchaigno opened #16400 "Error should be info: `local-redirect service exists for frontend, skip update for svc lrp-demo-service`"
@aditighag confirmed that the following error message should be info level:
[code]

[2021-06-02 15:28] nbusseneau opened #16401 "CI: connection errors/timeouts in upstream race detection pipelines"
https://jenkins.cilium.io/job/Cilium-PR-K8s-Upstream-Race-Detection/22/ failed with a strange unexpected error:

[code]

Looking over [past failures on the automated testing pipeline](https://jenkins.cilium.io/view/Race%20Detection/job/cilium-master-k8s-upstream-race-detection/) in more details, it looks like something similar has been happening on all jobs since build 83. What's strange is the `U

[2021-06-02 15:31] pchaigno opened #16402 "Failed to update lock: Operation cannot be fulfilled on leases.coordination.k8s.io"
Found in CI, in cilium-operator logs:
[code]

From:
https://jenkins.cilium.io/job/Cilium-PR-K8s-GKE/5586/testReport/junit/Suite-k8s-1/18/K8sCLI_CLI_Identity_CLI_testing_Test_labelsSHA256/
[K8sCLI_CLI_Identity_CLI_testing_Test_labelsSHA256.zip](https://github.com/cilium/cilium/files/6585725/K8sCLI_CLI_Identity_CLI_testing_Test_labelsSHA256.zip)

[2021-06-02 15:37] geyslan commented on #16400
Something like this? If yes, please assign this to me.

[code]

[2021-06-02 16:53] pchaigno opened #16406 "Incorrect error for host endpoint: `removing identity not added to the identity manager`"
The error looks wrong and could be related to the weird identity update we do for the host endpoint.
[code]

From:
https://jenkins.cilium.io/job/Cilium-PR-K8s-1.20-kernel-4.19/554/testReport/junit/Suite-k8s-1/20/K8sDatapathConfig_Iptables_Skip_conntrack_for_pod_traffic/
[K8sDatapathConfig_Iptables_Skip_conntrack_for_pod_traffic.zip](https://github.com/cilium/cilium/files/6586269/K8sDatapathConfig_

[2021-06-02 18:46] #15097 closed

[2021-06-02 18:58] #16316 closed

[2021-06-02 19:13] #16272 closed

[2021-06-02 19:17] jrajahalme opened #16409 "CI: K8sFQDNTest Validate that multiple specs are working correctly"
## CI failure

DNS requests are failing due to coredns not responding:
[code]
CoreDNS logs do not reveal anything:
[code]
The failing request is for a nonexistent cluster service (`vagrant-cache.ci.cilium.io.default.svc.cluster.local`) that coredns should be able to respond to, not sure it the log indicates anything about coredns knowing the current cluster config or not.

Might be worthwhile to a

[2021-06-03 01:02] christarazi commented on #16399
Looking into the sysdump, I see that we have an explicit drop for the traffic from hubble:

[code]

One potential cause for this is that the service endpoint (backends) pods have not been inserted into the BPF maps. We at least know from userspace that we attempted to insert them into the map as we have the following log msgs in the relevant cilium-agent:

[code]

Cross-referencing that to the `ci

[2021-06-03 04:46] aditighag commented on #16400
It's not as simple as converting the log level to info/debug. The same code path (`UpsertService`) is called during CLI invocation.

[2021-06-03 05:00] h3llix commented on #16305
I have been trying to look over this issue . But Can I ask for some code reference to existing prometheus metrices which might be relevant to this issue ?

[2021-06-03 06:58] shenshouer commented on #7853
I met the same issue on Centos7 5.12.8.

[code]

[2021-06-03 07:13] kkourt opened #16414 "Unified and improved datapath configuration"
Currently, datapath configuration happens in two ways. Using `datapath/{config,linux/config}*` for runtime, and the `bpf/Makefile` for development. Unified the two would make development easier. For example, the cilium agent can dump a serialization of the configuration that can be used at development or debugging. We can use the go-based configuration to have better exploration of the configurati

[2021-06-03 07:14] yuriydzobak commented on #16300
I updated сшдшгь to version 1.9.8 on two clusters, I think we need to wait a couple of days

[2021-06-03 08:37] gandro commented on #16237
I assume this is should be fixed by #16381 now.

[2021-06-03 08:37] #16237 closed

[2021-06-03 09:19] pchaigno opened #16418 "Sockops loading error due to global data on 4.19"
Found in CI:
[code]

This is due to the global data sections in the object file. In K8sVerifier, we have a hack to remove those sections before loading: https://github.com/cilium/cilium/blob/a33b70366e0583cf939b4bb466f5cff3536895e0/test/k8sT/Verifier.go#L114-L123

I'm however unsure how to fix it in the agent. Maybe we should just avoid compiling in those sections?

[2021-06-03 09:26] nbusseneau commented on #16180
Also observed in https://jenkins.cilium.io/view/Race%20Detection/job/cilium-master-k8s-1.21-kernel-4.9-race-detection/110/
Artifacts: [test_results_Ginkgo-CI-Tests-k8s1.21-Pipeline-Race-Detection_110_BDD-Test-PR.zip](https://github.com/cilium/cilium/files/6590509/test_results_Ginkgo-CI-Tests-k8s1.21-Pipeline-Race-Detection_110_BDD-Test-PR.zip)

[code]

[2021-06-03 12:25] geyslan commented on #16400
@aditighag I see.

You mean there should be different log levels based on code path? CLI invocation, core invocation...

Could you please elaborate? Thanks.

[2021-06-03 12:29] knfoo commented on #15949
I am really interested in this feature as well.

[2021-06-03 14:28] pchaigno opened #16419 "Error `removing identity not added to the identity manager!` on agent init"
When restoring endpoints on startup there's can be a race between two threads to update the identity. The first thread sets the identity for restored endpoints, while the second recomputes the identity if the pod (or node in case of the host endpoint) labels changed. If the second thread register an identity in the identity manager before the first, it results in the error `removing identity not a

[2021-06-03 14:36] errordeveloper commented on #15432
You only need etcd if you cluster above 1k nodes, is that the case?

[2021-06-03 14:41] errordeveloper commented on #15626
@brb I wonder if BPF masquerade can be disable for some pods e.g. via a pod annotation?

[2021-06-03 14:44] errordeveloper commented on #15701
@brb sounds like we maybe able to close this one? @oblazek would you mind testing either 1.10.0 or 1.9.7?

[2021-06-03 14:46] #16076 closed

[2021-06-03 14:50] errordeveloper commented on #15810
Have you tried re-creating all of the nodes in your cluster? It's highly recommend to install Cilium before any nodes are added, or otherwise just re-provision all of the nodes.

[2021-06-03 14:50] pchaigno commented on #16419
I also think the error should probably be a warning. It's not something that breaks Cilium, but more something we should pay attention to as it can be a sign of a deeper issue.

[2021-06-03 14:55] brb commented on #13529
The PR has been reverted, so we can close it. There is https://github.com/cilium/cilium/issues/16166 to track the main issue.

[2021-06-03 14:55] #13529 closed

[2021-06-03 16:21] aanm commented on #16305
@h3llix something like this?
https://github.com/cilium/cilium/blob/6231257f7fac37c8b3b599508ba234025be3c0f6/pkg/metrics/metrics.go#L1095-L1103

[2021-06-03 16:53] pchaigno opened #16422 "Error `lock failed: endpoint is in the process of being removed` should be debug"
This error message should actually be debug or info in case of `endpoint is in the process of being removed`:
[code]

[2021-06-03 19:43] #15789 closed

[2021-06-03 19:48] cyrilcros opened #16424 "Make autoDirectNodeRoutes take into account all possible routes for native routing"
## Proposal / RFE

**Is your feature request related to a problem?**

I have some nodes with multiple network interfaces, with higher bandwidths on a subset of them for running ceph. They are all connected on a L2 subnet "A" that kubernetes uses,  and the storage nodes that will run ceph are as well on a subnet "B" with faster network interfaces.
I can add a route to those nodes that will be like

[2021-06-03 21:02] pchaigno opened #16425 "Error `failed to list *v2.CiliumNetworkPolicy: the server could not find the requested resource`"
Found this error in CI, in the agent logs:
[code]
It's unclear what is happening or if there's something actionable for users.

[K8sCLI_CLI_Identity_CLI_testing_Test_labelsSHA256.zip](https://github.com/cilium/cilium/files/6594352/K8sCLI_CLI_Identity_CLI_testing_Test_labelsSHA256.zip)

[2021-06-03 21:04] pchaigno commented on #15315
Closing in favor of https://github.com/aws/containers-roadmap/issues/1027.

[2021-06-03 21:04] #15315 closed

[2021-06-03 21:17] pchaigno commented on #15330
If the issue is happening after Cilium is deleted, what makes you think Cilium is responsible. Isn't some other CNI responsible for networking?

[2021-06-03 22:06] oblazek commented on #15701
Will do! thanks

[2021-06-04 00:59] aanm commented on #15394
The documentation is currently not well written for users as it contains too many definition regarding API. This can be improved with real-world examples and give a high level overview of what is expected when certain parameters are changed,

[2021-06-04 02:50] aanm commented on #16402
It took me 1 hour debugging this issue until I realized that this is open because of a PR still marked as draft https://github.com/cilium/cilium/pull/16395.

This is not an issue as it is part of the k8s library and the process is handled automatically by the library which Cilium can't control.

[2021-06-04 03:01] aanm commented on #16401
@nbusseneau is there a sysdump for this failure?

[2021-06-04 03:17] aanm commented on #16425
Needs more info such as kube-apiserver logs.

[2021-06-04 03:24] aanm commented on #16378
It would likely break the API for clusters that have a name different than `cluster-name` for example.

[2021-06-04 05:10] humancalico commented on #16422
Hey, can I have this issue assigned to me?

[2021-06-04 05:47] christarazi commented on #16375
@knfoo The sysdump doesn't seem to contain any logs. All the Cilium pod logs have nothing in them. Could you try to reproduce once more and recapture a sysdump?

[2021-06-04 05:55] christarazi commented on #16308
We determined on Slack that the proper policy would be to use `toEntities: [host]`, as `toCIDRs` aren't supported for host IPs. Would the appropriate action here be that we clarify this in the documentation?

/cc @pchaigno

[2021-06-04 07:00] olemarkus commented on #16308
Unfortunately, that isn't enough. As sometimes the traffic will match the host entity, sometimes it matches the CIDR. So to make this work you actually need to have a policy that allows for both of those.

This really feels like a largish gap in the flows that Cilium policies can match.

There is a similar issue with pod -> host networking (e.g if you have kube API servers on host network, which i

[2021-06-04 07:41] yuriydzobak commented on #16300
@aanm
seems, but exsits in 1.9.8
<img width="1486" alt="image" src="https://user-images.githubusercontent.com/70581130/120764849-43fa4580-c521-11eb-81cc-69f091cc34a1.png">

[2021-06-04 07:59] pchaigno commented on #16402
Are you saying the error is expected? Should it then be at least diminished to a warning?

[2021-06-04 08:48] kovalyukm commented on #15330
Coz Cilium make changes on K8s worker nodes and is used as network policy engine along with AWS CNI. Apparently Cilium does not clenup after deletion, isn't it?

[2021-06-04 09:39] knfoo commented on #16375
@christarazi  I can do that - How is the logs collected ?
If it is via the Cilium API then that is why it is there is no logs as the API is non responding.

[2021-06-04 10:54] knfoo commented on #16375
During the test runs to provoke the error. I noticed these problem.
[code]

The ip's 10.62.60.44 and 10.62.60.56 is not IP's on the client0 interface but on our point to point links on eno6 and eno7
![image](https://user-images.githubusercontent.com/39614090/120790410-38177f00-c533-11eb-849c-371665000f69.png)

[2021-06-04 11:55] jibi commented on #16221
I can reproduce this on a 4.9 dev VM:
[code]

@brb do you have any pointers/context from previous investigations about this flake?

[2021-06-04 12:04] oblazek commented on #15701
Both v1.9.7 and v1.10.0 seems to work great. Closing :)

[2021-06-04 12:04] #15701 closed

[2021-06-04 12:13] knfoo commented on #16375
[cilium-sysdump-20210604-132435.zip](https://github.com/cilium/cilium/files/6598305/cilium-sysdump-20210604-132435.zip)
[cilium-sysdump-20210604-132759.zip](https://github.com/cilium/cilium/files/6598316/cilium-sysdump-20210604-132759.zip)

I have run the sysdump command on a working node as well - but even I specify the `--size-limit` the file is to large to upload to GH it is 36.3Mb

[2021-06-04 12:16] #16279 closed

[2021-06-04 12:25] pchaigno commented on #15330
Did you try on the latest 1.9.X or 1.10.0?

[2021-06-04 12:33] pchaigno commented on #13071
Hit again in https://jenkins.cilium.io/job/Cilium-PR-K8s-1.21-kernel-4.9/616/testReport/junit/Suite-k8s-1/21/K8sPolicyTest_Multi_node_policy_test_with_L7_policy_using_connectivity_check_to_check_datapath/, this time with the new even-numbered port:
[code]

The sysdump doesn't reveal any process holding that port :thinking: Could be that the process released the port between the test failure and th

[2021-06-04 13:50] kovalyukm commented on #15330
No. Were there related fixes?

[2021-06-04 13:50] errordeveloper commented on #15701
Glad to hear that, thanks you for reporting and checking.

[2021-06-04 13:57] pchaigno commented on #15330
Yes, specifically with AWS-CNI in v1.9.8.

[2021-06-04 14:08] tklauser commented on #16221
@aditighag I assume this was closed by mistake? Or is this fixed already?

[2021-06-04 14:09] aditighag commented on #16221
I'm not sure how that happened. Sorry! 😕

[2021-06-04 14:42] brb commented on #16221
@jibi I think I know what's happening. We don't wait for goroutines (started at https://github.com/cilium/cilium/blob/v1.10.0/pkg/datapath/linux/node_linux_test.go#L1161-L1174) to finish. So they can keep updating the ARP entries making the wait to time out.

Could you try the following patch?
[code]

[2021-06-04 14:52] nbusseneau commented on #16401
Huh. I actually think the upstream jobs might not be set up for retrieving test results:
https://github.com/cilium/cilium/blob/beb8bdea384fdc4ccb10769142c8981bb10334d5/jenkinsfiles/kubernetes-upstream.Jenkinsfile#L84-L116

/cc @nebril

[2021-06-04 15:11] jibi commented on #16221
That seems to work :boom: the entry from `linuxNodeHandler.neighLastPingByNextHop` is now properly removed each time and the `wait` function does not timeout anymore. I'll fill a PR

[2021-06-04 15:13] brb commented on #16221
Cool, thanks!

[2021-06-04 15:27] pchaigno opened #16433 "CI: RuntimeFQDNPolicies Enforces ToFQDNs policy: Docker containers mistmach with Cilium Endpoints"
It looks very similar to https://github.com/cilium/cilium/issues/14463, which I was pretty sure I'd fixed. So I was curious... ends up being a different root cause. I'll send a PR soon.

https://jenkins.cilium.io/job/Cilium-PR-Runtime-4.9/4883/testReport/junit/(root)/Suite-runtime/RuntimeFQDNPolicies_Enforces_ToFQDNs_policy/
[RuntimeFQDNPolicies_Enforces_ToFQDNs_policy.zip](https://github.com/cili

[2021-06-04 15:51] aanm commented on #16300
Let's wait until #16236 is also fixed then

[2021-06-04 15:55] aanm commented on #16402
Unfortunately we don't control the level of klog logs so we can't set it as warning.

[2021-06-04 15:57] cyrilcros commented on #16424
I just wanted to add that currently I just manually add routes (clusterIP to nodeIP for native routing) and things have been working fine.

Current install comand:

    helm upgrade cilium cilium/cilium --version 1.10.0 --namespace kube-system --set autoDirectNodeRoutes=true --set hostServices.enabled=true --set bgp.enabled=true
    --set bgp.announce.loadbalancerIP=true --set endpointRoutes.enabl

[2021-06-04 16:07] uykusuz commented on #14658
This issue still persists. And it's likely to cause trouble as soon as debian bullseye goes stable. Could we please keep it open?

[2021-06-04 17:01] christarazi commented on #16399
I attempted to reproduce this following the [instructions to create a dedicated instance](https://github.com/cilium/cilium/tree/master/test/packet). I was not able to reproduce the issue, which ran for 16h 30m and 196 attempts.

[2021-06-04 17:46] joestringer commented on #15149
@ti-mo sorry, I missed this somehow.

The background to `cilium-map-migrate` can be found in PR https://github.com/cilium/cilium/pull/3267 .

[2021-06-04 19:00] #14971 closed

[2021-06-04 19:01] pchaigno commented on #14958
I don't remember seeing this again, and nobody linked to this issue since it was created. Closing.

[2021-06-04 19:01] #14958 closed

[2021-06-04 19:02] pchaigno commented on #15128
Still happening and annoying at times.

[2021-06-04 19:24] joestringer opened #16439 "Ensure that the default minikube IP range configuration works for multi-node clusters"
In the eCHO livestream with Duffie today, we deployed multiple nodes in a minikube setup and this caused both the underlying VirtualBox network to allocate 10.0.x.y networks as well as having the Kubernetes IPAM use the same IP ranges.

I'm not sure if we should improve this in the docs side (https://docs.cilium.io/en/latest/gettingstarted/k8s-install-default/) or directly in the CLI by somehow de

[2021-06-04 19:36] joestringer commented on #16308
Interesting report. When Cilium detects that the IP address is associated with the host, for example assigned to a local interface, then it is expected to map that IP address to the "host" identity and avoid matching via IPs. Usually this would exclude the IP from the CIDR portion of the policy engine. The background to this is that label-based and entity-based policies are semantically richer way

[2021-06-04 19:39] pchaigno opened #16441 "CI: Nil pointer dereference in RestartUnmanagedPodsInNamespace"
From https://jenkins.cilium.io/job/Cilium-PR-K8s-1.21-kernel-4.9/624/consoleFull.
[9c0f16c0_K8sHubbleTest_Hubble_Observe_Test_L3-L4_Flow.zip](https://github.com/cilium/cilium/files/6600893/9c0f16c0_K8sHubbleTest_Hubble_Observe_Test_L3-L4_Flow.zip)

[code]

[2021-06-04 19:41] mauilion commented on #16439
The problem I ran into specifically was that I had created a three node minikube cluster.

Minikube with virtualbox  uses 10.0.2.0/24 for the nat network cidr. In virtualbox each node will have a default route for 10.0.2/24 to dev eth0 so that connectivity to the outside world will be natted.  Virtualbox also configured dns leveraging 10.0.2.3 as the dns resolver ip address.

When I create 3 nodes

[2021-06-04 21:21] #16370 closed

[2021-06-04 21:28] pchaigno commented on #15791
Happened again at https://jenkins.cilium.io/job/Cilium-PR-K8s-1.18-kernel-4.9/1656/testReport/junit/Suite-k8s-1/18/K8sConformance_Portmap_Chaining_Check_connectivity_check_compliance_with_portmap_chaining/.
[f40aa47f_K8sConformance_Portmap_Chaining_Check_connectivity-check_compliance_with_portmap_chaining.zip](https://github.com/cilium/cilium/files/6601312/f40aa47f_K8sConformance_Portmap_Chaining_

[2021-06-04 22:32] #16221 closed

[2021-06-04 22:34] cmluciano opened #16446 "enable-endpoint-routes + VXLAN tunnel prevents traffic to service when netpol is applied"
## Bug report

**General Information**

- Cilium version (run `cilium version`)
  -  1.10 installed with helm3
- Kernel version (run `uname -a`)
  -  Amazon Linux 2   5.4.117-58.216.amzn2.x86_64
- Orchestration system version in use (e.g. `kubectl version`, ...)
  - k8s EKS: 1.19.6-eks-49a6c0
  - container-runtime = docker://19.3.13
- Link to relevant artifacts (policies, deployments scripts, ...)

[2021-06-04 22:35] pchaigno commented on #5058
I agree with the general outlined proposed, except maybe for that one :point_up: The goal of such tests is to give us reassurances that we don't have complexity regressions. If our test only checks a randomly-generated option combination (or even a set of randomly-generated option combinations), it won't give us the reassurance we need to merge PRs and make releases.

I think it's possible to gene

[2021-06-04 22:38] pchaigno commented on #16147
https://github.com/cilium/cilium/pull/16328 initially meant to fix this, but the fix has been moved to a separate PR.

[2021-06-05 08:54] pchaigno commented on #16446
Took a look at the sysdump and it's probably a variation of https://github.com/cilium/cilium/issues/12205. Devices are set because the bandwidth manager is enabled. https://github.com/cilium/cilium/pull/16380 (v1.10.1) will fix that by disabling the bandwidth manager by default.

Contrary to this known bug, here tunneling is enabled. So looks like in tunneling mode it only happens if endpoint rout

[2021-06-05 10:20] h3llix commented on #16305
@aanm I have created a draft pr . Can you review it ? Sorry took me a while to figure out as I recently started learning about prometheus.

[2021-06-05 15:34] till commented on #13072
@joestringer Link is dead? Did this change?

[2021-06-05 20:59] juliuss86 opened #16449 "Cilium"
## Bug report

**General Information**

- Cilium version (run `cilium version`)
- Kernel version (run `uname -a`)
- Orchestration system version in use (e.g. `kubectl version`, ...)
- Link to relevant artifacts (policies, deployments scripts, ...)
- Generate and upload a system zip:
[code]

**How to reproduce the issue**

1. instruction 1
2. instruction 2

[2021-06-05 22:06] #16449 closed

[2021-06-05 22:19] juliuss86 commented on #16449
Exit

[2021-06-07 07:14] pchaigno commented on #15455
Happened again at https://jenkins.cilium.io/job/Cilium-PR-K8s-1.21-kernel-4.9/646/testReport/junit/Suite-k8s-1/21/K8sDatapathConfig_Host_firewall_With_VXLAN_and_endpoint_routes/. :cry:

[2021-06-07 10:29] tklauser commented on #16122
Hit a failure in the same test on #16429 but with exit code 28 (operation timeout) rather than 7 (failed to connect to host) like in this issue, see https://jenkins.cilium.io/job/Cilium-PR-K8s-1.19-kernel-5.4/286/

[2021-06-07 12:23] #16433 closed

[2021-06-07 12:23] #15262 closed

[2021-06-07 13:55] pchaigno commented on #13974
The latest v1.9 release includes a lot of fixes for IPsec in ENI mode. @voron Are you still able to reproduce this issue?

[2021-06-07 14:19] brb commented on #15128
Does this happen always? Is there any special non-generic step in the CI for collecting artifacts?

[2021-06-07 14:20] brb commented on #15137
@Managarmrr this will be resolved by https://github.com/cilium/cilium/pull/16259.

[2021-06-07 15:43] jibi commented on #9207
Quick recap of where we are at the moment:

I started with master, creating a service listening on the same TCP and UDP port:

[code]

Cilium will show it as a single service:

[code]

While k8s will distinguish TCP and UDP:
[code]

If we connect to both listeners, we'll end up with 4 different CT entries, for both TCP and UDP, with the same revnat ID (`6`):
[code]

It's important to note that in

[2021-06-07 16:47] christian-2 commented on #16188
I’ve done some coding experiments to see where the extraction and accumulation of byte counts could occur in terms of BPF attachment points. So I have noticed that `struct ct_entry` (as defined in `bpf/lib/common.h` and stored e.g. in `CT_MAP_TCP4`) already has fields `rx_bytes`, `tx_bytes`. What is their exact semantics in relation to this use case and could it perhaps suffice to accumulate those

[2021-06-07 16:56] nbusseneau commented on #13072
@till The documentation entry regarding installing Cilium manually via Docker + Consul was removed during 1.10 development cycle as it was considered obsolete: https://github.com/cilium/cilium/pull/15370

You can still find the documentation available in the v1.9 documentation: https://docs.cilium.io/en/v1.9/gettingstarted/docker/

[2021-06-07 17:08] nathanjsweet opened #16461 "helm: Values files have bad punctuation"
As reported in [this PR](https://github.com/cilium/cilium/pull/16238#discussion_r644212820) helm values description comments are often missing correct punctuation. This wouldn't necessarily be a problem, except it is inconsistent. Some phrases have punctuation and some don't. Garners Modern English Usage recommends that phrases in bullet points or lists have punctuation<sup>1</sup>.

<sup>1</sup>G

[2021-06-07 18:32] till commented on #13072
@nbusseneau Thank you!

[2021-06-07 18:47] vincentmli opened #16462 "Integrate BIGIP with Cilium's overlay network"
## Proposal

I am looking for integrating BIGIP vxlan overlay network with cilium, it appears cilium automatically populate each cilium node with cilium_tunnel_map, if I add a fake k8s BIGIP node, something like below

<pre>
apiVersion: v1
kind: Node
metadata:
  name: bigip
  annotations:
          io.cilium.network.ipv4-cilium-host: "10.0.3.34"
          io.cilium.network.ipv4-pod-cidr: "10.0.3.0

[2021-06-07 19:08] rolinh commented on #16188
Cilium's datapath is aware of each packet size but a Hubble flow does not translate to a network packet one to one because of monitor aggregation. Accumulating individual packet sizes into a flow is actually the difficult part. Changes in @nathanjsweet 's PR #16309 would be sufficient to compute bandwidth if monitor aggregation is set to none. However, for performance reasons, this is not recommen

[2021-06-07 19:18] errordeveloper commented on #11111
@CH-anhngo could you test this either with 1.9 or 1.10 please?

[2021-06-07 19:20] errordeveloper commented on #9482
@kkourt are you still planning to work on this?

[2021-06-07 19:21] errordeveloper commented on #9287
@youssefazrak did you get a chance to investigate how this can be fixed?

[2021-06-07 19:24] errordeveloper commented on #12503
@bmcustodio would you be interested to revisit this and find out if it's still applies to 1.10?

[2021-06-07 19:25] errordeveloper commented on #12679
@brb can we close this as duplicate of #12544?

[2021-06-07 19:30] errordeveloper commented on #14411
@zhujik support for multiple VPC CIDRs was added recently (https://github.com/cilium/cilium/pull/15453), could you please try testing 1.10?

[2021-06-07 19:32] errordeveloper commented on #14403
@kovalyukm would you mind trying either 1.9.8 or 1.10.0 and see if this issue persists?

[2021-06-07 19:34] errordeveloper commented on #13455
@pchaigno I can see you added some tests, but this isn't fixed yet, correct?

[2021-06-07 19:43] jhead-slg commented on #9482
I'll comment that this can also be seen on Equinix Metal c3.small.x86 machines that are based on the Supermicro X11SCM-F. It is **NOT** present on the c3.small.x86 machines based on ASRockRack E3C246D4I-NL.

Supermicro:
[code]

ASRockRack:
[code]

[2021-06-07 20:16] kkourt commented on #9482
@errordeveloper it's on my list, but I have not managed to reproduce it yet.

[2021-06-07 20:37] pchaigno commented on #13455
We fixed one bug with node labels, but I'm unsure this one is fixed. There might be a kvstore angle here.
@CallMeFoxie Could you check if this issue still happens with latest v1.9 or v1.10?

[2021-06-07 20:40] pchaigno commented on #16188
I think this is possible since v1.10 with [custom calls](https://github.com/cilium/cilium/blob/master/bpf/custom/README.rst). There's probably not even a lot of changes needed in the example program to achieve this.

[2021-06-07 21:47] vincentmli commented on #16462
@pchaigno

Thanks Paul for correcting the issue subject title :), I did further debugging and I can confirm the reply packet is directed to stack because no tunnel endpoint found for the reply packet destination ip

<pre>
diff --git a/bpf/bpf_lxc.c b/bpf/bpf_lxc.c
index 87b065400..b8775b436 100644
--- a/bpf/bpf_lxc.c
+++ b/bpf/bpf_lxc.c
@@ -827,8 +827,10 @@ skip_egress_gateway:

                re

[2021-06-07 22:10] #16340 closed

[2021-06-07 22:15] ch-dimitri commented on #11111
I'll see if we can run a test with 1.10 sometime in the next month or so.

[2021-06-07 22:34] vincentmli commented on #16462
just for the record, I tried to use bpftool to manually update the cilium_tunnel_map, it looks bpftool worked, but the new added record does not exist from cilium map get cilium_tunnel_map output:

bpftool dump:

<pre>
[root@cilium-dev home]# kubectl exec -it $CA2 -n kube-system -- bpftool map dump id 439
Defaulted container "cilium-agent" out of: cilium-agent, clean-cilium-state (init)
key:
0a 00

[2021-06-07 22:38] #15170 closed

[2021-06-07 22:43] Weil0ng opened #16463 "Remove local redirect policy entry and potentially restore original clusterIP service entry sooner upon last local backend delete"
## Proposal / RFE

**Is your feature request related to a problem?**
Currently, nodelocaldns deployment with Cilium utilizes LRP to redirect DNS traffic to the local `dns-cache` pods. When the local `dns-cache` pods are down (e.g., due to rolling upgrade), there might be a disruption in DNS queries because `cilium-agent` would only restore the original DNS service upon the local pod's delete event

[2021-06-07 22:44] Weil0ng commented on #16463
Had discussion with @aditighag @aanm offline over slack, creating an issue to track the discussion more formally here.

[2021-06-07 22:45] Weil0ng commented on #16463
re @aanm , we would still treat the controlplan's svc info as the ground truth and always restore to that, so even if the original clusterIP is invalid (and some new clusterIP is allocated), we should be able to pick up that too? I'm a bit confused why is that an issue?

[2021-06-07 23:03] vincentmli commented on #16462
since bpftool map update worked, I went ahead to do a ping test again, it looks the icmp echo reply packet was sent out on the wire fine, my tcpdump on BIGIP received the packet

echo request (note the  **instance 666** in the VXLAN header, that is the VNI value)
<pre>
[root@bigip-k8s:Active:Standalone] config # ping  -c 1 10.0.1.97
PING 10.0.1.97 (10.0.1.97) 56(84) bytes of data.
15:52:35.359956

[2021-06-07 23:04] christian-2 commented on #16188
Can custom programs call Cilium functions such as  `ipv4_extract_tuple()` and `get_ct_map4()`? If so, a conceivable custom program could obtain a key and map with those and then extract `rx_bytes`, `tx_bytes` (if those are indeed proper starting points for accumulation/aggregation). Or must these programs be simple in the sense that they cannot have dependencies on Cilium’s full code generation en

[2021-06-08 01:53] hongfeioo commented on #15015
For self-built data centers, it is very useful for each node to declare its own CIDR, because NODE can establish EBGP neighbors with TOR at any time. Currently, when NODE is initialized, it can be declared CIDR by manually modifying the bird configuration. Hopefully in the future cilium can automatically complete this action in conjunction with bird

[2021-06-08 02:30] vincentmli commented on #16462
I did a dirty hack to hard code the VNI in __encap_with_nodeid()

<pre>
diff --git a/bpf/lib/encap.h b/bpf/lib/encap.h
index dfd87bd82..2cd9ad6bd 100644
--- a/bpf/lib/encap.h
+++ b/bpf/lib/encap.h
@@ -119,6 +119,7 @@ __encap_with_nodeid(struct __ctx_buff *ctx, __u32 tunnel_endpoint,
        struct bpf_tunnel_key key = {};
        __u32 node_id;
        int ret;
+#define VNI 666

        /* When en

[2021-06-08 03:43] vincentmli commented on #16462
I found this
<pre>
commit 431999c9c826cf1168d41ac230ad8c36bf9a24b9
Author: Daniel Borkmann <daniel@iogearbox.net>
Date:   Sat Jul 27 01:42:54 2019 +0200

    bpf: fix nodeport over tunnel when vxlan/geneve have lco

    vxlan and geneve by default have LCO enabled which breaks connectivity
    due to invalid checksums on NAT mapping collisions when we do SNAT on
    the phys device. We can just di

[2021-06-08 07:04] pchaigno commented on #16188
Probably not `get_ct_map4`, but you might be able to call `ipv4_extract_tuple()` by including `conntrack.h`.

[2021-06-08 07:20] youssefazrak commented on #9287
@errordeveloper Basically my initial investigation is to do it as the ExceptCIDRs implementation. I still haven't moved to the implementation phase yet.

[2021-06-08 07:26] brb commented on #12679
@errordeveloper Yep. Closing in favor of #12544.

[2021-06-08 07:26] #12679 closed

[2021-06-08 08:47] errordeveloper commented on #15445
@aditighag as you showed some interest, I've assigned this to you :)

[2021-06-08 09:07] knfoo commented on #16375
Do you still need more information ?
I could I try do deploy cilium in a different way to help narrow down the problem if that helps.

[2021-06-08 09:46] errordeveloper commented on #16144
@SimpCosm do you think you can get a sysdump and share it with us please? If there are any concerns, you can share privately on Slack.

[2021-06-08 10:12] jochenseeber commented on #14579
I would really like to see this fixed, as this prevents us from using Cilium

[2021-06-08 12:14] KlavsKlavsen commented on #12737
https://github.com/helm/helm/issues/5871 was unfortunately abandoned - so Helm is not going to manage CRDs appearently, apart from initial install.. no upgrade handling or anytning :(

[2021-06-08 12:29] #16441 closed

[2021-06-08 13:07] pchaigno commented on #16375
I see a lot of:
[code]
What's the pod churn on those nodes?

[2021-06-08 13:12] rolinh commented on #16361
Troubleshooting why Hubble Relay fails to connect to peers is hard because of a limitation of the gRPC version that ships with Cilium. Would you mind trying out to deploy a Hubble CLI instance using the file in PR #16459? Then, run this command and paste the error you obtain:
[code]

[2021-06-08 14:37] knfoo commented on #16375
The cluster and nodes are idle. I have only run `cilium connectivity test`
The other deployments are static no restarts, scaling etc.

[2021-06-08 16:05] christian-2 commented on #16188
I have tried this, but including `bpf/lib/conntrack.h` introduces e.g. a further dependency on `ENDPOINTS_MAP_SIZE`. The only place where I can find its definition (outside tests) is `bpf/node_config.h` and there it says: "This is just a dummy header with dummy values to allow for test compilation without the full code generation engine backend." IIUC the "real" header file is generated by Cilium

[2021-06-08 17:31] christarazi commented on #12737
@KlavsKlavsen Thanks for the update, good to know.

[2021-06-08 18:36] pchaigno opened #16478 "CI: K8sUpdates Tests upgrade and downgrade from a Cilium stable image to master: Cilium was not able to be deployed"
Happened in an unrelated PR:
https://jenkins.cilium.io/job/Cilium-PR-K8s-1.16-net-next/724/testReport/junit/Suite-k8s-1/16/K8sUpdates_Tests_upgrade_and_downgrade_from_a_Cilium_stable_image_to_master/
[42aa9cd3_K8sUpdates_Tests_upgrade_and_downgrade_from_a_Cilium_stable_image_to_master.zip](https://github.com/cilium/cilium/files/6618857/42aa9cd3_K8sUpdates_Tests_upgrade_and_downgrade_from_a_Cilium_

[2021-06-08 18:36] pchaigno opened #16479 "CI: K8sDatapathConfig Transparent encryption DirectRouting Check connectivity with transparent encryption and direct routing: Unable to determine private iface"
Hit in an unrelated pull request:
https://jenkins.cilium.io/job/Cilium-PR-K8s-1.19-kernel-5.4/299/testReport/junit/Suite-k8s-1/19/K8sDatapathConfig_Transparent_encryption_DirectRouting_Check_connectivity_with_transparent_encryption_and_direct_routing/
[40d7286d_K8sDatapathConfig_Transparent_encryption_DirectRouting_Check_connectivity_with_transparent_encryption_and_direct_routing.zip](https://gith

[2021-06-08 18:53] pchaigno commented on #16479
It looks like the Cilium endpoint for k8s1 was unhealthy and got deleted while taking the sysdump, so we don't have a bugtool to check why the command failed. It's unclear if it's related with the command failing.
[code]

In case it matters latter: the previous test to run was `K8sDatapathConfig AutoDirectNodeRoutes Check connectivity with sockops and direct routing`.

[2021-06-08 19:18] jrajahalme opened #16480 "CI: K8sHubbleTest Hubble Observe Test L3/L4 Flow"
[code]

[code]
[c78d043e_K8sHubbleTest_Hubble_Observe_Test_L3-L4_Flow.zip](https://github.com/cilium/cilium/files/6619039/c78d043e_K8sHubbleTest_Hubble_Observe_Test_L3-L4_Flow.zip)

From test-output.log:
[code]

[2021-06-08 19:23] pchaigno commented on #16480
@jrajahalme Same root cause as https://github.com/cilium/cilium/issues/16441 (see PR at https://github.com/cilium/cilium/pull/16443) maybe?

[2021-06-08 21:46] joestringer commented on #16461
Do you know of any tools that could lint this? If we don't have automated tooling that tells you how things must be formatted, then we will always reintroduce punctuation that doesn't follow this style.

[2021-06-08 22:08] jrajahalme commented on #16376
Source host sends SYNs from the proxy (in the middle):

[code]
But destination host does not receive any of them:
[code]
The failing curl command shows the IP addresses (as the connection to the egress proxy works):
[code]

[2021-06-09 00:52] jrajahalme commented on #16376
Same error happens with Cilium install `--kube-proxy-replacement=disabled`

[2021-06-09 00:54] dctrwatson commented on #13412
Have been having issues with this in 1.9.5 and 1.9.6 so far

[2021-06-09 00:59] jrajahalme commented on #16376
Curl from Cilium agent pod works (no host policy applied):
[code]

From client2 (with egress http policy applied) it fails:
[code]

[2021-06-09 01:23] christarazi commented on #13412
@dctrwatson Do you have reproduction steps and a sysdump?

[2021-06-09 01:31] dctrwatson commented on #13412
repro is to restart 1000+ pods at the same time (the higher concurrency, the higher the likelihood)

At least a few hundred pods will get an IP that has been released by the operator.

Deleting the bad pods so they are rescheduled, fixes them. Well, as long as too many aren't deleted at the same time.

No sysdump, just that in the last batch of broken pods, I was able to determine they all had IPs

[2021-06-09 07:55] brb commented on #9207
@jibi Thanks for the detailed description.

This happens because of https://github.com/cilium/cilium/blob/master/bpf/lib/lb.h#L1414. The above comment in the link explains why we added it (TL;DR without the `rev_nat_id` update it was possible for the datapath to route requests to a unrelated service endpoint).

That's good!

BTW, did you add the flag as suggested per https://github.com/cilium/cili

[2021-06-09 08:17] jibi commented on #9207
Yep, I have an initial version for that (looking into sorting all the details now)

[2021-06-09 08:32] rpthms opened #16485 "Can't use systemd's eBPF features after installing Cilium"
## Bug report

After installing cilium using the cilium-cli, I start seeing a bunch of log messages in the systemd journal like the following:

[code]

Every systemd unit that uses utilizes systemd's eBPF features (DeviceAllow, DevicePolicy, IPAccounting, IPAddressDeny, IPAddressAllow etc.) gets the "Operation not permitted" error.
These messages only start showing up once the cilium pod gets star

[2021-06-09 09:37] brb commented on #9207
One more thing - don't slip on https://github.com/cilium/cilium/issues/13529#issue-720006513 while running the upgrade tests in the CI. We should extend them to cover the migration.

[2021-06-09 11:10] jibi commented on #9207
Yes, that's what I'm focusing at the moment :+1:  that test requires a bit of tweaking to take into account different versions of Cilium and the new output format of the `cilium service list `command (e.g. `10.104.50.133:80` vs `10.104.50.133:80/TCP`)

[2021-06-09 11:39] rolinh commented on #16188
I think that the custom calls approach proposed by @pchaigno would not be easy to integrate with the Hubble parts.

[2021-06-09 13:20] #16277 closed

[2021-06-09 13:53] #15951 closed

[2021-06-09 14:13] pchaigno commented on #16292
Can also happen for pod-to-pod: https://github.com/cilium/cilium/runs/2784199689?check_suite_focus=true.

[2021-06-09 15:04] jrajahalme commented on #16376
Had to check, works without encryption.

[2021-06-09 16:01] jrajahalme commented on #16376
This works with Cilium v1.10.0, which has this change: https://github.com/cilium/cilium/pull/14594

[2021-06-09 17:21] gauravpatel2016 opened #16488 "cilium-health test fails. bpf-map-sync-cilium_tunnel_map map sync errors"
## Bug report

**General Information**

- Cilium version  - 1.10
- Kernel version - Linux ip-10-108-51-55.us-west-2.compute.internal 5.4.95-42.163.amzn2.x86_64 #1 SMP Thu Feb 4 12:50:05 UTC 2021 x86_64 x86_64 x86_64 GNU/Linux
- Kubernetes 1.19

**How to reproduce the issue**

1. Installed cilium 1.10 (latest version) to eks
2. ran ./k8s-cilium-exec.sh cilium status
3. Error
[code]

See controller

[2021-06-09 17:43] vincentmli commented on #16462
I setup a centos 8 with mainline git kernel (so I could trace the packet, can't do that on BIG-IP since I am not BIG-IP dev guy), and I created a vxlan on the centos 8 like below:

note MAC **_06:db:45:46:08:6d_** is the MAC address of  cilium_vxlan on cilium node 10.3.72.238

<pre>
#!/bin/bash

ip link add vxlan666 type vxlan id 666 dstport 8472 local 10.169.72.236 dev ens192 nolearning l2miss l3

[2021-06-09 19:06] aditighag commented on #16463
Thanks for filing the issue.
Title is confusing. LRP is a control-plane abstraction for users to configure node-local redirection. The LRP manager behind the scenes monitors relevant services/pods to set up the networking/datapath. Also, I'm looking for more details in the proposal to understand whether it's feasible or not. :)

[2021-06-09 19:16] aditighag commented on #16463
I'm also wondering if you have any data around latency incurred in different LRP orchestration stages? It'll be good to attribute delays to watcher related events vs local-redirect service removal and original service restore window, etc.

[2021-06-09 19:53] Weil0ng commented on #16463
good point, I'll do some profiling and post back here.

Also changed the title to be a bit more precise.

My thought is that we don't change how LRP manager currently handles restoration, but we try to invoke the restoration earlier upon last local backend delete, then when agent gets the event from control plane, it'll try to restore it again and fail (but it's okay since it is already restored).

[2021-06-09 21:07] pchaigno commented on #16488
How did you install Cilium exactly?

Could you share the sysdump?

[2021-06-09 21:24] pchaigno commented on #16480
Likely the same issue as https://github.com/cilium/cilium/issues/16441, which was recently fixed in https://github.com/cilium/cilium/pull/16443. I'm closing but please reopen or ping here if you hit this again.

[2021-06-09 21:24] #16480 closed

[2021-06-09 21:32] ldelossa commented on #16485
@rpthms

It appears in K8s v1.21 the new systemd cgroups driver is being used by default. See here:
https://kubernetes.io/docs/tasks/administer-cluster/kubeadm/configure-cgroup-driver/ (feature note blurb)

I'm not 100% sure this is your issue, but is it possible to test with either a v1.20 cluster or choosing the cgroupfs cgroup driver instead of systemd? This will be a good indicator if this new

[2021-06-10 04:31] rpthms commented on #16485
Oh, I forgot to mention, but I was indeed explicitly using cgroups v2 by adding `systemd.unified_cgroup_hierarchy=1` to my kernel cmdline. I'll try changing that and report my observations.

[2021-06-10 05:18] rpthms commented on #16485
Hmm, I tried to configure crio to use cgroupfs by setting the cgroupDriver to 'cgroupfs' in the KubeletConfiguration and  adding the following to `/etc/crio/crio.conf.d/02-cgroup.conf` as described here: https://kubernetes.io/docs/setup/production-environment/container-runtimes/#cgroup-driver

[code]

but I can't seem to get any pods to start. I keep getting the following error:

[code]

Looking a

[2021-06-10 05:39] rpthms commented on #16485
I tried to remove `systemd.unified_cgroup_hierarchy=1` from my kernel cmdline and revert to systemd's hybrid cgroup mode (which is the default in Ubuntu 20.04) and still got the "Operation not permitted" BPF errors.

But interestingly, when I forced systemd to use cgroups v1 completely by setting `systemd.legacy_systemd_cgroup_controller=1`, I didn't see the BPF errors! So, this could be a cgroups

[2021-06-10 07:13] rpthms commented on #16485
Oh, it looks like systemd's BPF features only work when cgroups v2 is active (either in hybrid mode or unified mode). That's probably why I don't see any errors in the legacy mode:

For eg:- in the legacy mode, IPAddressDeny= doesn't work
[code]

[2021-06-10 09:33] brb commented on #16377
It seems that this sleep is not enough https://github.com/cilium/cilium/blob/29bf12098329789804711c906010d4455700ea5a/pkg/datapath/linux/node_linux_test.go#L1192. Probably we should replace it by the `wait()` invocation.

[2021-06-10 09:37] brb commented on #15626
I'd like to get to the root cause of this issue first.

[2021-06-10 09:42] brb commented on #16377
^^ is the same cause as for #16075. Closing in favor of the former.

[2021-06-10 09:42] #16377 closed

[2021-06-10 12:31] Purushotham233 opened #16492 "Cilium agent not starting with ipam: crd in v1.10.0"
## Bug report

**General Information**

- Cilium version : `1.10.0`
- Kernel version: `Linux node-name 5.10.0-1-amd64 #1 SMP Debian 5.10.5-1 (2021-01-09) x86_64 GNU/Linux`
- Orchestration system version in use: `v1.19.8`

**How to reproduce the issue**

1. Use crd mode for ipam.

Logs of the agents while starting:
[code]

It seems to be regression of this [change](https://github.com/cilium/cilium/

[2021-06-10 13:25] gandro opened #16494 "Cilium agent can crash during startup if ENI is not attached yet"
In ENI IPAM mode, there is a race that can happen where the operator to attaches the ENI to the instance and updates the CiliumNode CRD, but when the agent tries to find the ENI to allocate the router IP, the Linux network interface has not been attached yet. This causes Cilium agent to fail with the following error message:

[code]

Cilium will recover after a few attempts (usually, it doesn't ta

[2021-06-10 14:07] ldelossa commented on #16485
@rpthms Does cilium work correctly when you disabled cgroups v2 and crio-o is using cgroupfs driver?

Its not immediately clear to me why you'd like to use systemd's eBPF features in tandem with Cilium. Cilium should be applying the the network policy rules in this case.

[2021-06-10 14:21] rpthms commented on #16485
To be clear, there's nothing wrong with Cilium itself. I can still use it normally. It's just systemd that gets borked once the Cilium agent starts.

 I couldn't get cri-o to run using cgroupfs. Kept getting an error like this:

[code]

I'm not really using systemd's eBPF errors. It's just that there's a few services that came pre-installed on my Ubuntu VM that are using those features. I just saw

[2021-06-10 14:31] joamaki opened #16496 "CRD IPAM mode not tested in CI"
While looking into #16492 we noticed that we're lacking integration tests for the CRD IPAM mode.

This gap in test coverage should be closed.

[2021-06-10 16:20] vincentmli commented on #16462
I think this is most likely related to ICMP echo reply destination MAC **_be:4d:05:48:0b:74_** not match the original ICMP echo request  source MAC **_1a:f9:e3:b0:6c:cf_**,  I did similar test between two Centos 8 Linux with same bash script to setup vxlan devices, I observed similar issue when the ICMP echo reply destination MAC does not match the original ICMP echo request source MAC,  if the MA

[2021-06-10 16:27] pchaigno commented on #16375
Any recurring errors/warnings in dmesg?

It might also be worth trying with `bandwidthManager=false` as it can created some issues (though looks different). We're going to disable it by default in v1.10.1.

Does this issue also happens if you disable `kubeProxyReplacement` (in addition to the bandwidth manager)?

[2021-06-10 17:16] alex1989hu commented on #16361
I have just deployed `hubble-cli` from the referenced PR.

`hubble-server-ca` expired, see later.

[code]

Executed the command:

[code]

Its weird, it looks like the certificate file differs what node on the given port serves:

[code]

Let's see the certificate one by one.

**Expired** CA certificate is: `/var/lib/hubble-relay/tls/hubble-server-ca.crt`

[code]

Probably it causes the issue. I don

[2021-06-10 18:20] rpthms commented on #16485
Wow, looks like you're getting closer to the truth. After a reboot, the value of `kernel.unprivileged_bpf_disabled` is 0 before I start the kubelet, and changes to 1 after all the pods show up.

[code]

I rebooted again to check if setting `kernel.unprivileged_bpf_disabled` to 1 without starting the kubelet would show up any eBPF errors in the journal, but everything just worked and I didn't see a

[2021-06-10 18:34] ntx-ben opened #16498 "Cilium v1.10.0: kubernetes "quick-install.yml" file removed/missing"
I've been using the `quick-install.yaml` as a foundation for my work's `kustomize` custom manifests. Now I see that for version `v1.10.0`, this file is now missing or has been removed completely (previously located in `install/kubernetes`)?

I have severe convulsions when using Helm. Please bring back the very simple `quick-install.yaml` file? Or even better, provide a `kustomize` base file?

Much

[2021-06-10 18:39] vincentmli commented on #16462
Here is simple diagram I have in my mind for this proposal
[Cilium-LB-Node.pdf](https://github.com/cilium/cilium/files/6633680/Cilium-LB-Node.pdf)

[2021-06-10 18:41] knfoo commented on #16375
From dmesg this is what I have that is recurring
[code]

[2021-06-10 18:42] pchaigno commented on #16375
Those should be fine AFAIK.

[2021-06-10 18:44] knfoo commented on #16375
How about this ? that seems strange to me that the point-to-point ip's as accessed

[2021-06-10 19:33] #16492 closed

[2021-06-10 19:35] #16362 closed

[2021-06-10 22:23] romanspb80 commented on #16349
Can I kindly ask to assign this issue to me?

[2021-06-10 23:19] vincentmli opened #16503 "Error regenerating endpoint: Could not locate previously compiled BPF template"
## Bug report

I have modified bpf code as below and attempt to hard code destination MAC address in tunnel mode to validate my observation in https://github.com/cilium/cilium/issues/16462#issuecomment-858762264

<pre>
diff --git a/bpf/bpf_lxc.c b/bpf/bpf_lxc.c
index 930a565ac..3ffd0fbb7 100644
--- a/bpf/bpf_lxc.c
+++ b/bpf/bpf_lxc.c
@@ -511,6 +511,10 @@ static __always_inline int handle_ipv4_from

[2021-06-11 00:04] vincentmli commented on #16503
so just in case I had wrong VTEP_MAC definition, I used NODE_MAC as below:

<pre>
+
+#ifdef TUNNEL_MODE
+       union macaddr vtep_mac = NODE_MAC;
+#endif
</pre>

and as expected **_make -C bpf build_all_** build fine, created docker hub image **_vli39/cilium:nodemac_**, and attached complete cilium agent log here
[cilium.log](https://github.com/cilium/cilium/files/6634945/cilium.log)

There are q

[2021-06-11 00:33] jony-one opened #16505 "i want to debug ,but is fail"
Please answer the following before submitting your issue:

Note: Please include any substantial examples (debug session output,
stacktraces, etc) as linked gists.

What version of Delve are you using (dlv version)?
Delve Debugger
Version: 1.4.1
Build: $Id: bda606147ff48b58bde39e20b9e11378eaa4db46 $

What version of Go are you using? (go version)?
go version go1.14.3 linux/amd64

What operating sys

[2021-06-11 02:40] #16505 closed

[2021-06-11 05:23] jrajahalme commented on #12503
@errordeveloper Still seeing this, e.g., https://jenkins.cilium.io/job/Cilium-PR-K8s-1.21-kernel-4.9/698/testReport/junit/Suite-k8s-1/21/K8sConformance_Portmap_Chaining_Check_connectivity_check_compliance_with_portmap_chaining/

[2021-06-11 05:29] jrajahalme commented on #12503
No monitor output, but 100's of these in Cilium logs:
[code]

[2021-06-11 08:55] rolinh commented on #16361
@alex1989hu I think I know what's going on. Could you try editing the `hubble-generate-certs` cronjob to remove the following line from `Args`?
[code]
 Then trigger the job again and see if it fixes the issue (I think it should generate new CA certs).

[2021-06-11 09:21] knfoo commented on #16375
disabling the bandwidth manager did not change the problem.
[test-2.md](https://github.com/cilium/cilium/files/6637260/test-2.md)
[cilium-sysdump-20210611-111109.zip](https://github.com/cilium/cilium/files/6637262/cilium-sysdump-20210611-111109.zip)
[cilium-sysdump-20210611-111359.zip](https://github.com/cilium/cilium/files/6637274/cilium-sysdump-20210611-111359.zip)

[2021-06-11 09:24] errordeveloper commented on #12503
@jrajahalme so you are saying we are actually able to reproduce this in CI?

[2021-06-11 12:54] pchaigno commented on #15128
I think this is happening because of the parenthesis in the test's name. I just need to find Jenkins logs to fix it---they have all been recycled.

If anyone hits this, please share the link to the Jenkins logs before it expires :pray:

[2021-06-11 13:21] pchaigno commented on #16349
@romanspb80 Did you figure out where the issue is? (Note AFAIK it's not marked as `good-first-issue` because the root cause wasn't found yet.)

[2021-06-11 13:25] alex1989hu commented on #16361
@rolinh, I copied the original `CronJob`, removed that arg. Unfortunately, there is permission issue:

Meaning that the Helm chart has a defect:

https://github.com/cilium/cilium/blob/952d9d33740fc77e1a94d5a52b38d2a313e5c570/install/kubernetes/cilium/templates/hubble-generate-certs-clusterrole.yaml#L32-L39

Here is the Pod log:

[code]

[2021-06-11 13:44] alex1989hu opened #16508 "helm: missing update verb in hubble-generate-certs to update hubble-ca-secret"
## Bug report

I found that `update` verb shall be part of the **hubble-generate-certs** `ClusterRole` due to the fact that `quay.io/cilium/certgen:v0.1.4` is capable to figure out that the secret exists and tries to update it - with no luck.

How I found it? See https://github.com/cilium/cilium/issues/16361#issuecomment-859401800

[code]

https://github.com/cilium/cilium/blob/952d9d33740fc77e1a94

[2021-06-11 14:10] romanspb80 commented on #16349
I reproduced the problem on the version 1.10.0. I think I'd be interested in investigation it.

[2021-06-11 14:23] oneiro-naut commented on #13867
Hi, I would like to work on this issue. Can this be assigned to me?

[2021-06-11 14:30] pchaigno commented on #13867
@oneiro-naut I assigned you. Don't hesitate to reach out on Slack (e.g., #development or #testing) if you have any question.

[2021-06-11 14:31] alex1989hu opened #16510 "helm: hubble-ui shall conditionally set FLOWS_API_ADDR hubble-relay svc port"
## Bug report

If you set `hubble.relay.tls.server.enabled`, then `hubble-relay-service` changes port to `443` from `80` but `hubble-ui` does not follow this change.

https://github.com/cilium/cilium/blob/952d9d33740fc77e1a94d5a52b38d2a313e5c570/install/kubernetes/cilium/templates/hubble-relay-service.yaml#L15-L20

https://github.com/cilium/cilium/blob/952d9d33740fc77e1a94d5a52b38d2a313e5c570/inst

[2021-06-11 15:45] pchaigno commented on #13359
https://github.com/cilium/cilium/pull/16395 addresses the first point.

[2021-06-11 15:59] vincentmli commented on #16462
just to confirm my theory and I come up with trick with following bash script:

when setup the vxlan666 device, set the vxlan666 MAC address to the Cilium POD veth MAC in host namespace, for example **_3e:0c:c2:4f:c4:de_**

<pre>
#!/bin/bash

ip link add vxlan666 type vxlan id 666 dstport 8472 local 10.169.72.236 dev ens192 nolearning l2miss l3miss proxy
ip link set dev vxlan666 address 3e:0c:c2:4

[2021-06-11 16:06] pchaigno opened #16512 "Getting started guides in v1.10 CLI-based docs install v1.9"
The getting started guides for the default (CLI-based) installation in the v1.10 documentation recommend to run:
[code]
That command will install v1.9.x, not v1.10.

Instead, we should pass a version explicitly:
[code]

[2021-06-11 20:32] joestringer commented on #16485
@rpthms and just to double check with the latter approach, are you able to then create pods and so on and there's definitely still no such error messages? Basically I want to confirm that systemd is in fact attempting to load BPF programs after you set `unprivileged_bpf_disabled=1`, since I believe it's program load time when the error messages would otherwise show up.

[2021-06-11 20:39] vincentmli commented on #16462
Here is the summary what needs to be done to achieve tunnel network connectivity to external VNI key based VXLAN device, I will use  BIG-IP VNI key based VXLAN device as example here:

1. The VNI ID  in Cilium Tunnel is using POD identity ID for egress packet, The VNI ID needs to be changed to match external BIG-IP VXLAN device VNI ID for egress packet.
2. The POD exgress packet needs to use exter

[2021-06-11 23:23] aanm commented on #16498
Hi, the `quick-install.yaml` can be generated by `helm template cilium cilium --namespace=kube-system`.

Not currently but PRs are welcome.

[2021-06-11 23:27] aanm commented on #16463
Removing LRP out of the picture, isn't this a problem that could happen with any application backend that is behind a service?

[2021-06-12 16:16] vincentmli opened #16517 "cilium_tunnel_map extension to integrate BIG-IP with Cilium Tunnel"
## Proposal / RFE

As suggested from  Joe Stringer https://github.com/cilium/cilium/issues/16462#issuecomment-859899574.

open this issue to track the code implementation detail

**Is your feature request related to a problem?**
https://github.com/cilium/cilium/issues/16462

**Describe the solution you'd like**

1. use vxlan-device-mac as destination MAC in inner packet
2. encap the packet with vn

[2021-06-12 17:30] vincentmli commented on #16517
Here is my attempt to implement 1)use vxlan-device-mac as destination MAC in inner packet, I must be doing something wrong and it fails to pass the verifier at bpf load time

<pre>
diff --git a/bpf/lib/common.h b/bpf/lib/common.h
index 3e1b11a5f..5a990d611 100644
--- a/bpf/lib/common.h
+++ b/bpf/lib/common.h
@@ -221,9 +221,9 @@ struct endpoint_key {
        union {
                struct {

[2021-06-12 18:17] vincentmli commented on #16517
here is the most interesting part, it says **_"R6 invalid mem access 'inv'"_**

level=warning msg="Prog section '2/7' rejected: Permission denied (13)!" subsys=datapath-loader
level=warning msg=" - Type:         3" subsys=datapath-loader
level=warning msg=" - Attach Type:  0" subsys=datapath-loader
level=warning msg=" - Instructions: 2367 (0 over limit)" subsys=datapath-loader
level=warning msg="

[2021-06-13 04:15] vincentmli commented on #16517
this is another patch I attempted, I got same **_"R6 invalid mem access 'inv'"_**  error, I am really puzzled
<pre>
diff --git a/bpf/lib/common.h b/bpf/lib/common.h
index 3e1b11a5f..11a34d91b 100644
--- a/bpf/lib/common.h
+++ b/bpf/lib/common.h
@@ -221,9 +221,8 @@ struct endpoint_key {
        union {
                struct {
                        __u32           ip4;
-                       __u

[2021-06-13 04:33] vincentmli commented on #16517
I wonder if it is the endpoint_key in pkg/bpf/endpoint.go also needs to be modified ?
<pre>
// EndpointKey represents the key value of the endpoints BPF map
//
// Must be in sync with struct endpoint_key in  bpf/lib/common.h
// +k8s:deepcopy-gen=true
type EndpointKey struct {
        // represents both IPv6 and IPv4 (in the lowest four bytes)
        IP     types.IPv6 `align:"$union0"`
        Fam

[2021-06-13 04:34] ajitre opened #16518 "k8s deployment restart causes brief outage with cilium and kubeProxy disabled"
## Bug report

**General Information**

- Cilium version : 1.9.8
- Kernel version : 5.8.0-1035-aws #37~20.04.1-Ubuntu
- Orchestration system version in use: k8s v1.20.7 (running on AWS setup with kops 1.20.1)

**How to reproduce the issue**

1. Install k8s 1.20.7 with kops (1.20.1) on AWS
2. Disable kubeProxy and enable Cilium nodeport : kops cluster spec:
[code]

2. Create a deployment with spec:

[2021-06-13 09:35] ybialik commented on #14922
Hey, when this happens, pods are remaining in "containerCreating", is there a way to pass that?

[2021-06-13 23:04] anfernee opened #16520 "Cilium assigns additional IP to `cilium_host` upon restart"
## Bug report

**General Information**

- Cilium version (run `cilium version`): Head of master
- Kernel version (run `uname -a`): Current test image: (Linux k8s1 5.12.0-rc4+ #1 SMP Wed Apr 21 11:28:44 UTC 2021 x86_64 x86_64 x86_64 GNU/Linux)
- Orchestration system version in use (e.g. `kubectl version`, ...): 1.21.1

**How to reproduce the issue**
I don't know how exactly to reproduce the issue.

[2021-06-14 07:25] rpthms commented on #16485
After running `sysctl kernel.unprivileged_bpf_disabled=1` but before starting the kubelet, I can use systemd's eBPF features without any errors. But after starting the kubelet (and therefore the Cilium pod), the eBPF errors start popping up again and I'm not able to use the systemd eBPF features. Creating new pods also end up showing those systemd errors, since I believe crio uses systemd's eBPF f

[2021-06-14 08:52] brb commented on #16518
It looks like that service endpoint deletion events are lagging behind. Was your system under a load? Is it reproducible?

[2021-06-14 12:53] knfoo commented on #16375
@pchaigno
I tried disabling the kubeproxyreplacement.

Now it seems that cilium is not functioning as expected.
I cannot complete a `connectivity test`

[code]
After this the test just stalls.

[cilium-sysdump-20210614-144830.zip](https://github.com/cilium/cilium/files/6648391/cilium-sysdump-20210614-144830.zip)

[2021-06-14 13:54] vifino commented on #16275
Sorry for the late response.
I've tried to capture what exactly went wrong, but best I could tell was cilium containers requests being NATed to the host's IP, which is set as the `src` attribute of the corrosponding route. Sorry.

The IP range is definitly in the "don't NAT" range (`nativeRoutingCIDR`), but it seems to do it anyway. Probably something to do with the `src` attribute and handling th

[2021-06-14 14:14] vincentmli commented on #16517
this is my third attempt with hard coded MAC, failed with same **_"R6 invalid mem access 'inv'"_**, I might be missing something basic here :)

<pre>
diff --git a/bpf/lib/common.h b/bpf/lib/common.h
index 3e1b11a5f..a693f95b6 100644
--- a/bpf/lib/common.h
+++ b/bpf/lib/common.h
@@ -23,6 +23,7 @@
  * #endif
  */
 #define NEEDS_TIMEOUT 1
+#define VTEP_MAC  { .addr = { 0xce, 0x72, 0xa7, 0x03, 0x88, 0

[2021-06-14 15:19] ajitre commented on #16518
Yes it is reproducible. And no; system was not under load. It is an empty new cluster.

[2021-06-14 15:52] gandro commented on #11560
Hit again in #16472

https://travis-ci.com/github/cilium/cilium/jobs/513573358
[log.txt](https://github.com/cilium/cilium/files/6649637/log.txt)

[2021-06-14 17:41] cmluciano commented on #16446
I tried to disable the bandwidthManager with helm using
[code]
And then I rolled the cilium pods
`kubectl rollout restart -n kube-system daemonset/cilium`

[2021-06-14 17:45] cmluciano commented on #16446
I tried to disable the bandwidthManager with helm using
[code]
And then I rolled the cilium pods
`kubectl rollout restart -n kube-system daemonset/cilium`

i'm still hitting the policy dropped. I tried to delete the policy and connect and confirmed that the connect works without the policy, but still does not work when the policy is reapplied.

[cilium-sysdump-20210614-134451.zip](https://github.c

[2021-06-14 19:04] joestringer commented on #16517
I think the next steps would be to take a look at the generated BPF object file and correlate the instructions `2131 to 2135` from prog section `2/7` with the C code, and try to understand the role of R6 in that code and why the verifier would have tracked its contents as `invalid`.

Part of the problem here may be that since you're extending `struct endpoint_key`, the existing usage of `endpoint_

[2021-06-14 19:32] uykusuz commented on #14658
Good news, we can perhaps close this issue. We did more tests. On our current setup we have both containerd and docker installed. We don't tell the kubelet which to use, so (acc. to the docs), it's using docker.

When we install containerd only, and not docker, the issue is gone. So it's either related to docker or there's some other strange relationship between docker and containerd, when both ar

[2021-06-14 20:06] vincentmli commented on #16517
Thanks @joestringer , that is what I had thought about, but I got the same error even with hard coded MAC without touching endpoint_key like diff below:

<pre>
diff --git a/bpf/lib/common.h b/bpf/lib/common.h
index 3e1b11a5f..c6e980776 100644
--- a/bpf/lib/common.h
+++ b/bpf/lib/common.h
@@ -23,6 +23,7 @@
  * #endif
  */
 #define NEEDS_TIMEOUT 1
+#define VTEP_MAC  { .addr = { 0xce, 0x72, 0xa7, 0x0

[2021-06-14 20:15] joestringer commented on #16485
Sorry, I meant to ask about running kubelet without Cilium. I know that Cilium sets `kernel.unprivileged_bpf_disabled=1`, which prevents unprivileged BPF for security reasons. What I don't know yet is whether this flag specifically causes the problem or whether it's irrelevant and there's something else which Cilium does that triggers the issue. Do you think you'd be able to isolate whether `kerne

[2021-06-14 20:29] joestringer commented on #14922
@ybialik it depends. The underlying cause for timeouts while provisioning new pods can come from a variety of places. This is not an exhaustive list, but I could imagine that it comes up if the IPAM plugin cannot allocate an IP for the new pod (eg because of ENI instance limits), or it could come up because too many pods are being provisioned at once on a node with low resources (eg if Cilium has

[2021-06-14 22:34] pchaigno commented on #16446
### Full, debug packet path on the source node
[code]

### Analysis

The SYN is DNATed in `bpf_lxc`. Egress policy enforcement is applied on the DNATed packet `src=10.0.1.121:45052 dst=10.0.0.36:80`. The packet is then sent to the tunnel. The SYN+ACK answer gets back from the tunnel. Ingress policy enforcement and reverse DNAT are executed from `cilium_vxlan` via a tail call. The conntrack lookup

[2021-06-14 22:48] aanm opened #16526 "v1.10.1 release"
## Pre-release

- [x] Check that there are no [release blockers] for the targeted release version
- [x] Ensure that outstanding [backport PRs] are merged
- [x] Consider building new [cilium-runtime images] and bumping the base image
      versions on this branch:
  - Cilium v1.10 or later:
     Modify the `FORCE_BUILD` environment value in the `images/runtime/Dockerfile` to force a rebuild.
     [

[2021-06-15 00:00] aditighag opened #16528 "Vagrant/CI: Support cgroup v2 and systemd cgroup driver in dev VM and CI test"
Currently, the dev VM comes up with Docker as the default container runtime, and cgroupfs as the cgroup driver for kubelet. The default cgroup driver for Docker is `systemd` on v2 and `cgroupfs` on v1.  Additionally, Kubernetes has updated the default cgroup driver for kubelet to be `systemd` [1].

[1] https://kubernetes.io/docs/tasks/administer-cluster/kubeadm/configure-cgroup-driver/#configuring

[2021-06-15 00:24] vincentmli commented on #16517
Sorry for the extra notes here,  just make it easier for me to track  notes and thoughts here in one place :)

again this is the patch I generated the byte code for
<pre>
diff --git a/bpf/lib/encap.h b/bpf/lib/encap.h
index dfd87bd82..5bd05d17a 100644
--- a/bpf/lib/encap.h
+++ b/bpf/lib/encap.h
@@ -187,6 +187,9 @@ encap_and_redirect_lxc(struct __ctx_buff *ctx, __u32 tunnel_endpoint,

[2021-06-15 00:57] vincentmli commented on #16517
if I comment out **_ipv4_l3()_** which calls **_ipv4_dec_ttl_** which has C code **___u8 new_ttl, ttl = ip4->ttl;_** to trigger   **_"R1 invalid mem access 'inv'"_**  , I got it working, since the ipv4_l3() is gated by **_ifdef ENABLE_ROUTING_**, I wonder maybe I should also have **_ifdef_** for the destination MAC rewrite.

<pre>
diff --git a/bpf/bpf_lxc.c b/bpf/bpf_lxc.c
index 930a565ac..aef9ed7

[2021-06-15 04:25] vincentmli opened #16531 "make dev-docker-image fail when build machine behind proxy"
## Bug report
When dev machine is behind proxy, build cilium docker image will fail when running images/cilium/download-hubble.sh which calls curl, and seems running in container, I had to add proxy in images/cilium/download-hubble.sh like below:

<pre>
diff --git a/images/cilium/download-hubble.sh b/images/cilium/download-hubble.sh
index 56786d25b..9cf34aa28 100755
--- a/images/cilium/download-hu

[2021-06-15 06:23] rpthms commented on #16485
I set up a new Kubernetes cluster with "kubeadm init" without installing Cilium. I then rebooted the VM and tried setting `kernel.unprivileged_bpf_disabled=1` before starting the kubelet. I saw no errors in the logs and systemd's IPAddressDeny directive worked as expected.

[code]

[2021-06-15 06:32] jrajahalme commented on #12503
Maybe not reproduce at will, but this happens. If we want to pay more attention to this in the CI we could make this one of the errors/warnings that fail the tests even if the test would otherwise succeed.

[2021-06-15 07:43] knfoo commented on #16375
Seems that I had added`--set installNoConntrackIptablesRules=true` during my testing - removing that again fixed the above stale test.

But getting the test running relieved that I run into the same problem.
Now however the envoy proxy is not exposed on port 9095 as above but I get nothing back.

[code]
Should look like this:
[code]
After 4 cycles of `cilium connectivity test` && `kubectl delete n

[2021-06-15 07:55] brb commented on #14658
@uykusuz Thanks for the update! Just before we close, could you check whether you are still running the same systemd version as you reported before?

[2021-06-15 08:03] brb commented on #16275
Mind elaborating which exactly request it was (who is a sender and who is a receiver)?

[2021-06-15 08:20] knfoo commented on #16375
@pchaigno the 2 missing nodes is the nodes that is hosting the cilium test pods

[2021-06-15 08:22] brb commented on #16528
In addition, could we completely disable cgroup v1 if a VM runs k8s >= 1.20?

[2021-06-15 08:31] brb commented on #16518
Could you provide a sysdump? Also, how long is the outage? Do you send requests from outside the cluster? TCP or UDP?

[2021-06-15 09:05] uykusuz commented on #14658
@brb No, a more recent one. I retested this issue always by bootstrapping a new node, updating everything to latest (debian bullseye) and install k8s + cilium in it.

[2021-06-15 09:11] brb commented on #14658
I'm wondering whether the systemd update actually resolved it. Could you test it with Docker + containerd after updating everything?

[2021-06-15 09:22] uykusuz commented on #14658
I see, no it didn't. I create a node, update everything, install k8s with docker and containerd installed (but w/o telling kubeadm/kubelet about it, so kubeadm/kubelet should just take docker), install cilium, coredns won't come up.

Now in the above scenario only installing containerd and not docker, everything works. Also tested it with Ubuntu (we thought it's perhaps a compile time flag in debi

[2021-06-15 09:25] brb commented on #14658
Do you mean that it doesn't work on Ubuntu too? If yes, which Ubuntu vsn?

[2021-06-15 09:48] gandro commented on #15442
Hit again in https://github.com/cilium/cilium/pull/16521

[code]

[2021-06-15 09:56] brb opened #16536 "Complexity issue when enabling SessionAffinity on "Transparent encryption DirectRouting Check connectivity with transparent encryption and direct routing""
I've tried to enable SessionAffinity on >= 4.19 kernels regardless whether we run with KPR or not in https://github.com/cilium/cilium/pull/16179. Unfortunately, the `K8sDatapathConfig Transparent encryption DirectRouting Check connectivity with transparent encryption and direct routing` test case has failed due to a potential complexity issue when loading bpf_lxc:

For now I have disabled the SA f

[2021-06-15 11:07] uykusuz commented on #14658
I'm sorry, no, I meant it also works on Ubuntu with only containerd, but also systemd 247.

[2021-06-15 11:39] brb commented on #14658
One more clarification needed. With Docker + containerd on Ubuntu with systemd 247 doesn't work, right?

[2021-06-15 11:59] uykusuz commented on #14658
I don't know, didn't test it.

[2021-06-15 12:36] pchaigno commented on #16375
Are you still hitting the original issue with the kube-proxy replacement disabled?

[2021-06-15 12:50] knfoo commented on #16375
@pchaigno yes it is the same I am not able to deploy pods on the nodes the cilium API times out

[2021-06-15 12:51] gandro commented on #16075
Also seeing this on v1.8 backports which also has #16072 applied

[2021-06-15 13:08] knfoo commented on #16375
I installed cilium with this command.
[code]

[2021-06-15 13:13] pchaigno commented on #16375
--set k8sServicePort=6443  \

Could you also remove those since you're now using kube-proxy?

[2021-06-15 13:37] pchaigno opened #16538 "Collect `/proc/net/xfrm_stat` twice in bugtool"
The `/proc/net/xfrm_stat` file is useful for IPsec incidents to understand if errors are happening in the node. The absolute values don't tell us much however and we often need to ask users for a second bugtool report, to know if the counters are increasing.

Instead, we should probably collect this file twice, with a short interval in between the two collections.

[2021-06-15 13:43] vifino commented on #16275
The request was from node02 to the cilium pod on node01, source natted to node02's IP address.

[2021-06-15 13:45] knfoo commented on #16375
It seems to be the same problem.
During the 3rd `cilium connectivity test` the pods failed to get to a ready state:

`  Warning  Unhealthy         73s (x49 over 2m49s)  kubelet            Readiness probe failed: Get "http://10.62.129.125:8080/": context deadline exceeded (Client.Timeout exceeded while awaiting headers)
`
Canceled the test and deleted the namespace.
then we are back to:
`  Warning

[2021-06-15 13:49] knfoo commented on #16375
Again the missing node in this curl list is the one that is misbehaving.

[2021-06-15 13:51] knfoo commented on #16375
Ups did not entend to close it

[2021-06-15 14:25] pchaigno commented on #16402
Another variation seems to be:
[code]

I understand we can't change these messages or their level, but do we know why they happen?

[2021-06-15 15:49] vincentmli commented on #16517
Here is a rough patch with tunnel map touched to make it work, note I have to specifically comment out **_ipv4_l3()_** for **_ifdef ENABLE_ROUTING_**

<pre>
diff --git a/bpf/bpf_lxc.c b/bpf/bpf_lxc.c
index 930a565ac..aef9ed759 100644
--- a/bpf/bpf_lxc.c
+++ b/bpf/bpf_lxc.c
@@ -509,7 +509,7 @@ static __always_inline int handle_ipv4_from_lxc(struct __ctx_buff *ctx,
 {
        struct ipv4_ct_tuple tu

[2021-06-15 16:32] ajitre commented on #16518
The service is a LoadBalancer (AWS Classic ELB). The HTTP requests are coming from outside the cluster.

The sysdump is very large and has a lot of information from the cluster. Is there something specific in there that I can easily sanitize and upload? Thanks

[2021-06-15 16:41] Frankkkkk opened #16539 "datapath: change metric of route to cilium_host to be < 256"
## Proposal / RFE

Our use-case of cilium is very simple: each node announces some ranges:

- POD range
- service range
- externalIP range

This is done using the FRR router. Ranges are propagated following a simple route map:
[code]
In this case, every IP (or range, if the IP is /110 instead of /128 for example) in the `lo` interface is announced.

However, by adding an IP to an interface, the ke

[2021-06-15 17:24] bmcustodio commented on #12503
@errordeveloper sorry I still couldn't get to this, but I will try to do it soon-ish.

[2021-06-15 17:54] cyrilcros commented on #16424
I am closing this, at least for rook/ceph it can be overriden: https://github.com/rook/rook/blob/master/Documentation/ceph-advanced-configuration.md#use-hostnetwork-in-the-rook-ceph-cluster-configuration

Technically, the issue remains and checking `routes[0]` only isn't optimal.

[2021-06-15 17:54] #16424 closed

[2021-06-15 18:13] briantopping opened #16541 "Upgrade 1.9.4->1.9.8 unstable on kernel 5.10.4"
## Bug report

**General Information**

- Cilium version: 1.9.8
- Kernel version 5.10.4
- Orchestration system version in use: Kube v1.19.8
- Generate and upload a system zip: [here](https://drive.google.com/file/d/1zFJLDxyMfvygOB0xYTy-UcXNnnCF_2Xz/view?usp=sharing)

**How to reproduce the issue**

Did a `helm upgrade` of Cilium, accidentally to v1.10 to start with. Saw problems, finally uninstall

[2021-06-15 18:20] pchaigno commented on #16541
You were hitting https://github.com/cilium/cilium/issues/14726 on v1.9.8. We haven't backported the fix for that issue to v1.9 yet.

[2021-06-15 18:25] briantopping commented on #16541
Got it, thank you. I believe I am running in this configuration due to #14563.

[2021-06-15 21:25] #15491 closed

[2021-06-15 22:38] jrajahalme opened #16542 "ipcache says a pod has identity 1 (GKE, native routing)"
Following came up in cilium-cli testing:
[code]
See how client2 IP address is 10.12.0.1?
bpf endpoint list tells it is a “localhost”:
[code]
ipcache says the same:
[code]
CEP tells a different story:
[code]

The ipcache of the other Cilium node (not the one hosting the pod) has the correct entry in its ipcache:
[code]
Cilium agent logs for the IP address and the endpoint:
[code]

**General Informa